[2016-10-03 20:48] BlackstoneEngineering commented on #2894
@samchuarm @screamerbg @sg-
Blocker for mbed-enabled approval for the NQ620 platform.

[2016-10-04 08:30] 0xc0170 opened #2902 "default_lib and ARMCC microlib - consistency"
### Description
- Type: Enhancement
- Reference: https://github.com/ARMmbed/mbed-os/pull/2210 (partially for the very old code-base, describes the problem).
- Priority: Major

---
## Bug

**Expected behavior**

As GCC_ARM is one toolchain and provides 2 default_libs to be selected, ARMCC does not. You either have to select uARM or ARM. We might want to consider to unify this and have ARM only, and

[2016-10-04 09:23] wvdvegt opened #2903 "Error when compiling mbed lib for LPC1768"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Bug
## \- Priority: Blocker
## Bug

Get the following error after upgrading the mbed lib from build 26 to 127 yesterday.

Any suggestions? Error: "mbed::Stream::Stream(const mbed::Stream &)" (declared at extras/mbed_25aea2a3f4e3/Stream.h', '66'); return false;">/extras/mbed_25aea2a3f4e3/Stream.

[2016-10-04 09:27] wvdvegt opened #2904 "DSR no longer set after startup"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Bug / Question ?
## \- Priority: Minor
## Bug

Just updated one of my LPC1768 mbed to the latest flash (141212) and noticed that my pc program no longer detects the mBed.

My PC application raises DTR on the serial port and expects the mBed to raise DSR in return (but that does not happen after

[2016-10-04 09:32] LMESTM commented on #2638
@andreaslarssonublox  I hope you'll agree that this is better late than never ?  ;-)
Anyway I pushed a branch concerning this issue and non regression tests are ongoing locally
If you have any feedback please let me know

[2016-10-04 10:56] wvdvegt commented on #2903
Some more info (tried to compile with LPCXExpresso and got more errors

\Interpreter_copy\mbed/Stream.h: In copy constructor 'mbed::Serial::Serial(const mbed::Serial&)':
\Interpreter_copy\mbed/Stream.h:66:5: error: 'mbed::Stream::Stream(const mbed::Stream&)' is private
     Stream(const Stream&);

I'm trying to pass a Serial to my Cmdb command interpreter. It seems like the following constructor l

[2016-10-04 12:19] mazimkhan opened #2907 "make.py failing for option '-o'"
uVisor debug builds are failing with following error (http://e108747.cambridge.arm.com:8080/job/mbed-os/job/mbed-os-pr-uvisor-test-pipeline/326/execution/node/60/log/):
[code]

Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug

**Tar

[2016-10-04 14:08] theotherjimmy commented on #2907
The `-o` options were replaced with `--profile`. In particular, `-o debug-info` became `--profile tools/profiles/debug.json`

[2016-10-04 14:22] janjongboom opened #2908 "STM32L053R8 export to Emblocks fails linking"
From: https://developer.mbed.org/questions/75168/Emblocks-export-doesnt-link/

[2016-10-04 14:31] mazimkhan commented on #2907
@theotherjimmy will above option work with an ```mbed.json``` file in the app directory.

[2016-10-04 14:51] janjongboom opened #2909 "Cannot run anything on STM32L011: 'no space on device'"
Running 'Nucleo_blink_led' program (shows up when you create a new program for the L011). Compile it against any mbed library version (tried the last seven), compiles and links fine, but when flashing it fails.

[2016-10-04 14:51] janjongboom commented on #2909
@screamerbg Can you ping ST?

[2016-10-04 15:21] bridadan commented on #2907
@mazimkhan As far as I know having that file in the app directory shouldn't cause any issues. The build profile system is separate from the config system, it won't automatically detect json files and use them. You have to use the `--profile` flag (though it does use `tools/profiles/default.json` if no `--profile` is specified).

[2016-10-04 15:26] mazimkhan commented on #2907
@bridadan I meant will it still take config from the existing ```mbed_app.json``` file as that is required. If not how do we have both custom app config and debug flags?

[2016-10-04 15:27] bridadan commented on #2907
@mazimkhan The systems are unrelated, so it should work just fine.

[2016-10-04 15:40] mazimkhan commented on #2907
Ok. Thanks good then it will not require a big change to adapt. In future though we would like use just one way of supplying config. May abandon ```mbed_app.json``` and just use a profile json.

[2016-10-04 15:41] Testato opened #2910 "Wait() issue"
if you try to use the wait() function on the classic mbed-dev (NOT mbed-os)
and you use a 100ms of delay
You will found a bug in the wait function. the timing made many errors, the Led jump blinking
I tested it on an F103 board

[code]

[2016-10-04 15:46] bridadan commented on #2907
@mazimkhan Again, config and build profiles are totally separate things.

**Build profiles** are used to customize the compiler flags and optimizations (Note: **not macros**, which is what config does). This was always handled in the python scripts for the toolchains, @theotherjimmy's PR simply moves that config into modular files that you can edit and customize if you so desire. But for the most

[2016-10-04 15:49] Testato opened #2912 "EmBlock export problem"
The official EmBlock exporter do not work,
also on the emblock forum is there many post that point to it.
The author correctly tell that the rpoblem is on Mbed side
All the Mbed project exported to EmBlock, mbed-dev and mbed-os also, do not work when imported to EmBlock

This is one of the examples,
http://www.emblocks.com/forum/viewtopic.php?f=29&t=779

[2016-10-04 15:49] janjongboom opened #2913 "ST F746NG HAL is missing SAI enum after rev 121"
From https://developer.mbed.org/questions/74476/BSP-library-for-F746NG-not-working-with-/

The enum in mbed-dev\targets\cmsis\TARGET_STM\TARGET_STM32F7\stm32f7xx_hal_sai.h is missing a number of values since rev 121... The old listing is linked as an answer in the question.

[2016-10-04 15:51] mazimkhan commented on #2907
Alright, got it now. Perhaps then **profiles** can have well known names that can be mentioned in the **Config** file just to keep build commands neat.

[2016-10-04 15:52] theotherjimmy commented on #2912
So, what's the issue exactly? this looks exactly like the template.

[2016-10-04 16:07] mazimkhan commented on #2907
Closing as it was just a change in command.

[2016-10-04 16:07] #2907 closed

[2016-10-04 16:49] c1728p9 opened #2914 "Cannot customize TLS configuration when MBEDTLS_ENTROPY_HARDWARE_ALT not defined"
#2843 prevents customization of TLS from a file when MBEDTLS_ENTROPY_HARDWARE_ALT  is undefined since `#include MBEDTLS_USER_CONFIG_FILE` is in the else:

https://github.com/ARMmbed/mbed-os/pull/2843/files#diff-89ba9a5d810662c2b06d0293d7eddcbfR36

Likely related to the following issues:
https://github.com/ARMmbed/mbed-os-example-client/issues/83
https://github.com/ARMmbed/mbed-os-example-client/is

[2016-10-04 20:39] JojoS62 commented on #2883
I'm stepping into the exporters code. The previous problem was because I used the old repo which was not synced completely, so forget this.
The new fork works and have found already a reason for the double definition of the defines: there are two collections of flags, common_flags and c_flags/cpp_flags. The c/cpp_flags contain also the new defines in preprocesser (cpp) and symbols (c). I have remo

[2016-10-04 20:44] theotherjimmy commented on #2883
Could you point me at the branch?

[2016-10-04 20:46] JojoS62 commented on #2883
https://github.com/JojoS62/mbed-os/blob/master/tools/export/codered_cproject_common.tmpl

[2016-10-04 20:51] theotherjimmy commented on #2883
So, what you can do there is similar to what the IAR and uVision exporters do: You can check for the flag's presence and set a flag that is passed to the jinja template. If you do that, you should also remove the flag from the list of flags, again only when it's present.

This boils down to something like
[code]
then later
[code]
or similar.

[2016-10-04 20:54] JojoS62 commented on #2883
ok, I will check this tomprrow. Is the jinja or progen used for lpcxpresso?

[2016-10-04 20:54] theotherjimmy commented on #2883
Jinja

[2016-10-04 20:55] theotherjimmy commented on #2883
Thanks for looking into this @JojoS62!

[2016-10-04 21:14] JojoS62 commented on #2883
you're welcome, I like the mbed and it should be more popular!
I have fixed now the inital problems, removed the mbed lib entry and added the include path to the c-compiler release build.

[2016-10-05 02:58] meta-johnny opened #2919 "The global c++ class variable do not call constructor"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Question
- Priority: Blocker | Major | Minor
---------------------------------------------------------------
## Question

I have a situation that declared a global c++ class which consist a constructor to initialize the variables inside the class.

But the code failed when I tried to access th

[2016-10-05 04:44] TaniaMirzin commented on #2847
Thanks for your answer.But i tried not to use printf and it is still not working.

[2016-10-05 06:54] TaniaMirzin commented on #2847
I tried it again and it is ok.Thanks.

[2016-10-05 06:54] #2847 closed

[2016-10-05 07:28] Testato commented on #2912
Here some problematic Mbed export tests:
http://www.emblocks.com/forum/viewtopic.php?f=29&t=774

[2016-10-05 07:37] peeyushpashine opened #2922 "Latest mbed version 127 removed macros like DEVICE_SPI from source files"
What is the reason behind removing macros like DEVICE_SPI from source files? How can I know which macros will be defined for target in the makefile. Do I have a way to know target based macros apart from looking into the makefile? This is breaking peripheral support at my end.

[2016-10-05 08:18] RobMeades commented on #2890
I'll take that as a "no" then :-).

[2016-10-05 09:51] janjongboom opened #2925 "No export options for nRF52-DK yet"
Are we adding export options for nRF52 any time soon?

[2016-10-05 09:58] fjvva commented on #2448
In order to allow code to compile, a quick fix is ->Project->Properties->Settings->Tool Settings->MCU C++ linker->Managed Linker Script
And then just check the box "Manage Linker Script"

This worked for me

[2016-10-05 11:26] kuggenhoffen opened #2927 "Macros from mbed_app.json are not exported to IDE project"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**mbed-cli version:**
0.9.7

**meed-os sha:**
2564a833c0200ca6aad5ca28b132cc8a80ce661d

**Expected behavior**
Macros defined in mbed_app.json are expected to get exported to IDE project files so that they are defined in build.

**Actual behavior**
Macros defined in mbed_app.json a

[2016-10-05 13:31] jenia81 commented on #2262
@sg- was there some decision about this issue?
Last mail I saw about it was Doron's mail that says it should be discussed in wider forum

[2016-10-05 13:49] EduardPon opened #2931 "SocketAddress.cpp ipv6_from_address does not clear byte who have been moved. FIX included"
In the function ipv6_from_address(), address values of IPv6 address after a :: is found are moved to the end of the short[] array. But the source memory of the moved part should also be cleared with zeros before the address values in front of the :: are copied. In the current implementation this may lead to an invalid address conversion.

[code]

[2016-10-05 13:49] sg- commented on #2262
Best to export to make file using ``` make_arm, make_gcc_arm or make_iar``` and locally modify

[2016-10-05 17:55] BlackstoneEngineering opened #2933 "K64F PinName for D8 is incorrect for REVD hardware"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug
Pin D8 is incorrectly defined for REVD of K64F Hardware.

**Target**
K64F

**meed-os sha:**
(`git log -n1 --oneline`)
24e1218

**Expected behavior**
According to the pinmap on
![alt tag](https://developer.mbed.org/media/uploads/GregC/xfrdm-k64f_header-pinout_reve3.png.pagespeed.ic.

[2016-10-05 17:55] BlackstoneEngineering commented on #2933
@maclobdell @toyowata @sg-

[2016-10-05 17:56] BlackstoneEngineering commented on #2933
Another win for the CI Test Shield!

[2016-10-05 21:07] BlackstoneEngineering opened #2936 "K64F PwmOut - incorrect timing"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Bug
- Priority: Major

---
## Bug

**Target**
K64F

**meed-os sha:**
(`git log -n1 --oneline`)
release 5.1.4
## Problem

The PwmOut's on K64F are not behaving correctly. I used the following code

[code]

which you would expect to create a pwm wave with a period of 0.5s with a duty cycle of 50%

[2016-10-05 21:07] BlackstoneEngineering commented on #2936
@maclobdell

[2016-10-05 21:08] BlackstoneEngineering commented on #2936
+1 for the CI Test Shield for finding this!

[2016-10-05 22:20] sarahmarshy commented on #2925
#2708 should solve that by grabbing info from the CMSIS pack.

[2016-10-05 22:21] sarahmarshy commented on #2925
(At least for Uvision)

[2016-10-06 02:03] Sim-jaeil opened #2937 "CPU Stop issue"
## Bug

[code]

I am currently using the device Nucleo_F401RE.
But even the same symptoms MBED 2.0, the CPU will stop the moment it takes an interrupt is received.
The compiler is okay to stop using the Microlib the Keil compiler is online and, Keil. It seems there is a problem with the MBED.

Until now Export by an external compiler, but resolved using Microlib The MicroLib there are additional l

[2016-10-06 05:23] jenia81 commented on #2262
@sg- As I've wrote in "Dependencies on mbedOS" thread, the maintenance of such makefile seems to be not scalable. I believe that the format of your makefile can change from version to version, so how can we maintain such file? It means that every mbed-os version we need to manually patch the makefile
Unless I'm missing something.

[2016-10-06 06:22] BlackstoneEngineering opened #2939 "NUCLEO_F411RE - problems with InterruptIn object"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority:  Minor

---
## Bug

**Target**
NUCLEO_F411RE, maybe more Nucleo boards?

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3 20141119

**mbed-cli version:**
(`mbed --version`)
0.9.5

**meed-os sha:**
(`git log -n1 --oneline`)
24e1218

**Expected behavior**
CI Test Shield InterruptIn tests should pass.

**Actual behavior**
InterruptIN

[2016-10-06 06:22] BlackstoneEngineering commented on #2939
@screamerbg

[2016-10-06 07:07] infinnovation commented on #2936
IIRC the K64F's FTM uses a 16-bit counter with a 1MHz clock, so it doesn't handle a period longer than ~ 65ms.  Ideally the mbed code should do a range check and error out.  If you really need something that slow you could achieve it by other means.

[2016-10-06 07:15] BlackstoneEngineering commented on #2936
Huh, thats weird.

I can confirm this, I have tests running at 10ms and 30ms periods and they're passing, but the tests at 100ms are not.

[code]

[2016-10-06 07:16] BlackstoneEngineering commented on #2936
@sg- @0xc0170 Any thoughts about adding an upper and lower limit to the PWM API per board?

[2016-10-06 07:24] janjongboom opened #2940 "Online compiler: Should have 'An empty mbed OS 5 program' as option for new program for all targets"
Many people end up with an mbed 2 project because they pick whatever is in the list of new programs for their target. We should add an empty mbed OS 5 program for all targets which includes `mbed-os` library, `mbed_app.json` file, maybe a README and a `main.cpp` with just a `int main()` function.

@screamerbg @sg-  thoughts?

[2016-10-06 09:15] 0xc0170 commented on #2910
cc @bcostm @adustm  @jeromecoutant @LMESTM

[2016-10-06 09:16] 0xc0170 commented on #2939
cc @bcostm @adustm  @jeromecoutant @LMESTM

[2016-10-06 09:16] 0xc0170 commented on #2937
cc @bcostm @adustm  @jeromecoutant @LMESTM

[2016-10-06 09:20] 0xc0170 commented on #2913
cc @bcostm @adustm @jeromecoutant @LMESTM

[2016-10-06 09:25] 0xc0170 commented on #2912
I don't fully yet understand the points made in the forum discussions. We can discuss the problems here as they claim it's mbed related and it should be fixed within this repository. @Testato Can you summarize it here please?

cc @theotherjimmy @sarahmarshy

[2016-10-06 09:27] 0xc0170 commented on #2909
cc @bcostm @adustm @jeromecoutant @LMESTM

[2016-10-06 09:29] 0xc0170 commented on #2931
cc @geky @kjbracey-arm

[2016-10-06 09:32] kjbracey-arm commented on #2931
@mikaleppanen

[2016-10-06 09:44] jeromecoutant commented on #2909
Hi
As replied in https://developer.mbed.org/questions/75150/Impossible-to-download-mbed-bin-file-in-

I have tried Nucleo_blink_led with a NUCLEO_L011K4 with the inline compiler.
I didn't have any issue: compilation, flash, and blinking LED are OK

Note that only micro ARM is supported for this very small target.
.

[2016-10-06 10:35] simonqhughes opened #2941 "CFSTORE: cfstore_fsm_log_on_entry:Error: FlashJournal_commit() failed (ret=-1), possible cfstore_realloc_ex() error"
Marcus Chang reports CFSTORE flush indications are not always being received. He supplied the 2 trace logs attached for investigation

[2016-10-06 10:48] simonqhughes commented on #2941
These are the log files submitted.

[20161006_issue_2941_log.txt](https://github.com/ARMmbed/mbed-os/files/513499/20161006_issue_2941_log.txt)
[20161005_issue_2941_log.txt](https://github.com/ARMmbed/mbed-os/files/513500/20161005_issue_2941_log.txt)

[2016-10-06 10:52] simonqhughes opened #2942 "CFSTORE: flush and create tests fail when -DMBED_HEAP_STATS_ENABLED=1 compile option set"
The following logs show this problem connected to the following PR:

https://github.com/ARMmbed/mbed-os/pull/2798

The problem is shown here:

http://10.118.12.43:8081/job/test_matrix/578/target=K64F,toolchain=ARM/

[2016-10-06 11:34] jupe commented on #2737
seems that PR is merged and there is get mac function available:
https://github.com/ARMmbed/mbed-os/pull/2664/files#diff-23aab6a3d3cb526bb09cb1e55eb0525dR21

[2016-10-06 11:35] jupe commented on #2737
perhaps this is fixed @teetak01 ?

[2016-10-06 11:40] 0xc0170 opened #2944 "cmsis update to >v4.20"
### Description
- Type:  Question
- Priority: Major (might be considered a blocker for some future targets?)
## Question

 I quote here @akselsm from cmsis-core:

cc @sg- @stevew817

[2016-10-06 11:54] akselsm commented on #2944
CMSIS has been updated to version 4.00 at some point since the original ticket on the cmsis-core repo from December 2015, but that is still a too old version to have the _IOM macros, which were introduced in CMSIS 4.20. See e.g. https://github.com/ARMmbed/mbed-os/blob/master/targets/cmsis/core_cm4.h#L244 vs https://github.com/SiliconLabs/Gecko_SDK/blob/master/cmsis/Include/core_cm4.h#L274.

Our pl

[2016-10-06 11:56] simonqhughes opened #2945 "CFSTORE: unexpected ARM_CFSTORE_DRIVER_ERROR_KEY_UNREADABLE error when finding KV"
Brendan submitted the following log showing a find() returning ARM_CFSTORE_DRIVER_ERROR_KEY_UNREADABLE unexpectectly.

[2016-10-06 12:00] simonqhughes commented on #2945
The log is attached here:

[20161006_issue_1012.txt](https://github.com/ARMmbed/mbed-os/files/513640/20161006_issue_1012.txt)

@bremoran please could you:
- provide a commit sha of the version of mbedos used for configstore
- provide a few lines of (pseudo-)code that I can turn into a test case to reproduce the problem (with the latest version of cfstore)

[2016-10-06 12:25] mikaleppanen commented on #2931
yes, there is a bug in that functionality

[2016-10-06 12:34] bremoran commented on #2945
@simonqhughes I'm afraid that the test case that produces this error is quite involved. A few lines will not be possible without significant work.

For the moment, I will have to disable the test-case that is producing the error. I will work on a simplified test case when time permits.

mbed OS SHA1: dda7f7d77abd4330b05e686ce3bbe58230eb7876

[2016-10-06 14:48] LiyouZhou opened #2950 "Bug in K64F Linker script: __StackTop is set to invalid address"
in file `MK64FN1M0xxx12.ld`:

[code]

This sets __StackTop to an invalid address. Because __StackTop is ignored in mbed-os, the bug does not show up normally.

But if there is a bootloader, bootloader sets `SCB->VTOR` to the value of stack top before jumping to application. An invalid address would cause a Hardfault immediately before jumping.

[2016-10-06 15:02] 0xc0170 commented on #2950
cc @mmahadevan108

[2016-10-06 15:04] LiyouZhou commented on #2950
Actually I think because the bootloader calls `__set_MSP` with an invalid address

[2016-10-06 15:24] bridadan commented on #2940
Maybe the `mbed new` command could just clone the latest mbed-os blinky?

[2016-10-06 15:27] bridadan commented on #2939
@adbridge Could interrupts be messing with utest at all?

[2016-10-06 15:27] mmahadevan108 commented on #2950
__StackTop is set to the top of RAM (0x20030000 in case of K64F). This is as expected, I don't see the issue.

[2016-10-06 15:35] adbridge commented on #2939
Utest uses the us_ticker to schedule it's handlers (including test cases) once the next handler to run is identified it is passed to the main thread for execution. If there are strange things going on in the test cases themselves then all bets are off...

[2016-10-06 15:41] BlackstoneEngineering commented on #2939
it works just find on K64F

[2016-10-06 15:47] adbridge commented on #2939
mm Sounds more target related then...

[2016-10-06 15:59] geky commented on #2931
Thanks for reporting this! Must have been a pain to debug.

pr up with fix: #2953

I will add a set of unit tests for the address parsing functions.

[2016-10-06 16:10] LiyouZhou commented on #2950
@mmahadevan108 0x20030000 is not a valid memory address. The last valid memory address is 0x2002ffff.

[2016-10-06 16:13] simonqhughes commented on #2941
There are 2 minor errors here:
- in the case where FlashJournal_commit() fails, the code path for the error handling doesnt generate the CFSTORE_OPCODE_FLUSH notification to the client.
- in the case where the cfstore is already initialized and initialize() is called again, the CFSTORE_OPCODE_INITIALIZE is not sent to the client.

[2016-10-06 16:18] LMESTM commented on #2939
@jamike - I think he found out a new / recent issue with GCC init phases that may cause tickers to stop working - this might be related

[2016-10-06 16:26] mmahadevan108 commented on #2950
Across all mbed you will see the INITIAL_SP macro set to a similar value (0x20030000 in case of K64F). Martin, can you please clarify how this address is treated during stack operations?

[2016-10-06 16:37] pan- commented on #2919
@meta-johnny I've tested your example on the `NRF51_DK` with the following compilers: `ARMCC`, `GCC` and `IAR`.

What is your target ? Is it reproducible with your example or your issue is shown in a bigger application ?

[2016-10-06 17:14] c1728p9 commented on #2950
The stack pointer needs to be 8 bytes aligned, so setting it to 0x2002ffff will cause problems. Even though the address 0x20030000 is outside of ram the first push start below this address.

With a stack pointer of 0x20030000 a push operation will do this:
[code]
What kind of bootloader do you have? If the MSP isn't set to 0x20030000 by the bootloader this would cause problems for the application.

[2016-10-06 17:33] BlackstoneEngineering commented on #2939
Ran it with GCC too, failed as well

[code]

[2016-10-06 17:41] bridadan commented on #2939
@BlackstoneEngineering That log says it was using the `ARM` compiler

[2016-10-06 17:47] BlackstoneEngineering commented on #2939
correct, armcc, they said it was just a gcc issue, so I tried it with armcc, both exhibit the behavior. Hence why I think its a platform issue.

[2016-10-06 20:12] sg- commented on #2262
That would be the suggestion - to export each time a custom build is needed and apply local changes to the makefile

[2016-10-06 21:17] screamerbg opened #2955 "UBLOX_EVK_ODIN_W2 Issues"
### Description
- Type: Bug
- Priority: Major

---
## Cannot set A0, A3 high (via DigitalOut)

Attach an LED and try it yourself
## Digital loop tests failures (DigitalIn + DigitalOut)

Digital I/O loop on D2 -> D3
Digital I/O loop on D3 -> D2
## Analog In failures (AnalogIn)

Analog Input on A1
Analog Input on A2
Analog Input on A3
Analog Input on A4 (suspecting that the app crashed)

~~## I2C fa

[2016-10-06 21:56] Testato commented on #2912
Here i created two simply blink example, one for mbed-dev and one for mbed-os
If you try to export and import it on EmBitz (ex EmBlock) it is not possible compile it.
https://developer.mbed.org/users/testato/

[2016-10-06 21:57] screamerbg opened #2956 "NUCLEO_F429ZI Issues"
### Description
- Type: Bug
- Priority: Major

---
## Interrupt failures (InterruptIn)

InterruptIn on D2 actually works
InterruptIn on D3 throws greentea error, I suspect that the test crashes
InterruptIn on D4-9 are skipped due to the error with InterruptIn on D3
## Analog In failures (AnalogIn)

Analog Input on A0 (fails with GCC, but works with ARMCC)

~~## I2C failures with EEPROM (I2C)~~
~~I

[2016-10-06 22:38] c1728p9 commented on #2864
This is the same as #2914 and is fixed by #2952

[2016-10-06 22:43] screamerbg opened #2957 "NUCLEO_L476RG Issues"
### Description
- Type: Bug
- Priority: Major

---
## Interrupt failures (InterruptIn) - GCC and ARMCC

InterruptIn on D2 actually works
InterruptIn on D3 throws greentea error, I suspect that the test crashes
InterruptIn on D4-9 are skipped due to the error with InterruptIn on D3
## Analog In failures (AnalogIn) - GCC and ARMCC

Analog Input on A0
Analog Input on A1
Analog Input on A2
Analog Inpu

[2016-10-06 22:47] c1728p9 commented on #2903
It looks like your code is calling the copy constructor for the Serial class. This was made private a while back.

[2016-10-06 23:03] screamerbg opened #2959 "NUCLEO_F446RE Issues"
### Description
- Type: Bug
- Priority: Major

---
## Pinout issue

There is a strange issue with the pins on this board.
It's better explained as comparison between F446 and L476, e.g.

ST Nucleo L476 (correct sequence)
https://www.youtube.com/watch?v=RhlTQsdUkR8

ST Nucleo F446 (incorrect sequence)
https://www.youtube.com/watch?v=aWWTfSxIlDE

It seems that LEDs on D1, D2, D4, D5, D7, D8 cannot b

[2016-10-06 23:37] screamerbg opened #2960 "NUCLEO_F746ZG Issues"
### Description
- Type: Bug
- Priority: Major

---
## Interrupt failures (InterruptIn)

InterruptIn on D2 actually works
InterruptIn on D3 throws greentea error, I suspect that the test crashes
InterruptIn on D4-9 are skipped due to the error with InterruptIn on D3
## Analog In failures (AnalogIn)

Analog Input on A0 (fails with ARMCC, works with GCC)
Analog Input on A5 (fails with GCC, works with

[2016-10-07 03:10] BlackstoneEngineering commented on #2960
#ci-test-shieldfor the win!

[2016-10-07 03:11] BlackstoneEngineering commented on #2959
#ci-test-shield for the win!

[2016-10-07 03:11] BlackstoneEngineering commented on #2957
#ci-test-shield for the win!

[2016-10-07 06:54] wvdvegt commented on #2903
I do not get a warning on the serial copy constructor but an underlying class only (stream).

If you make one private should the serial one not be private too? The online compiler output was not to helpful (off-line compiling made it more clear.

[2016-10-07 07:08] LMESTM commented on #2939
Ok thanks - so this is not related to GCC only !
Just to be clear, if we don't have the CI shield, running the test requires to connect
D2 to D3,
D4 to D5,
D6 to D7
D8 to D9
is it ?

[2016-10-07 07:11] BlackstoneEngineering commented on #2939
For the interruptin tests yes, they are simple loopbacks.

[2016-10-07 08:55] Sim-jaeil commented on #2937
DISCO_F469NI board is also the same result.

[2016-10-07 09:16] infinnovation opened #2961 "Version of mbed-os in online IDE is wrong"
### Description
- Type: Bug
- Priority: Major?

---------------------------------------------------------------
## Bug

**meed-os sha:**
670b098 Merge pull request #2917 from c1728p9/fix_InitTCs

**Expected behavior**
Program imported from online IDE gets same version of mbed-os

**Actual behavior**
Imported version is 670b098; online is some older version

**Steps to reproduce**
Create program on

[2016-10-07 09:32] janjongboom commented on #2940
@bridadan I mean in the online compiler. In the new project dropdown.

[2016-10-07 09:35] screamerbg commented on #2961
Note that the mbed Online IDE supports only the official (tagged) releases of mbed OS. If non-tagged revision is used then the mbed Online IDE uses the latest mbed OS release (which might be different to master).

[2016-10-07 09:53] infinnovation commented on #2961
OK, easier example:

New program -> Template: mbed OS Blinky LED HelloWorld
In Program Workspace, right-click on mbed-os -> Update...
The Library Details pane now shows Revision 2540:670b098

This is surely wrong, as 670b098 is mbed-os-5.2.0-rc1 which I'm assuming shouldn't be visible in the IDE.  And, as in my original report, it hasn't really updated to that version when you compile, but does us

[2016-10-07 10:48] pan- opened #2962 "[MAKE EXPORTER] - Signal that srec_cat has to be present if used."
### Description

Indicate to the user which have exported its project with a makefile exporter that he needs to install [srec_cat](http://srecord.sourceforge.net/) to build its project if their is hex files to merge in it.
- Type: Enhancement
## Enhancement

On some targets like the `NRF5` family an hex file is merged with the binary as a post build process. While the user doesn't have to install

[2016-10-07 10:51] 0xc0170 commented on #2962
cc @theotherjimmy @sarahmarshy

[2016-10-07 13:05] bcostm commented on #2910
Thanks for reporting this issue. I reproduced it on the Nucleo_F103RB.

I fixed the problem by adding these lines in the timer_irq_handler function in hal_tick.c file:
[code]

But I don't know why because channels 3 and 4 are not used... I continue my investigations. But in the mean time you can try it.

[2016-10-07 15:20] c1728p9 commented on #2950
@LiyouZhou can this issue be closed, or do you still have concerns?

[2016-10-07 15:35] bridadan commented on #2940
Oh yeah, that too :)

[2016-10-07 15:37] 0xc0170 opened #2965 "Exporters - fetching packs from keil.com generates lot of errors"
### Description
- Type: Question
- Priority:  Minor

---------------------------------------------------------------
## Bug

**Actual behavior**

Latest master (as of now) generates this:

[code]

Is this expected?

**Steps to reproduce**

I just run ``mbed export -i iar -m nrf51_dk`` and shown above output.

cc @sarahmarshy @theotherjimmy

[2016-10-07 15:41] bridadan commented on #2962
Don't the exporters place the following file in the directory? https://github.com/ARMmbed/mbed-os/blob/5310c2e2cdfdbee49efa93ef51be5964c58a4549/tools/export/GettingStarted.html

It contains a link to here: https://developer.mbed.org/handbook/Getting-Started-mbed-Exporters

That page states the following:

## GCC
Makefiles are created and to build you will need make installed and part of your path.

[2016-10-07 15:51] 0xc0170 commented on #2962
Yes, it should be.

However, we don't check even if compilers exist, so a question becomes, would we do it for this issue, or is it even possible to have it multiplatform? However, as @pan- stated above, makefile could print always a message that ``srecord`` is running and its required to be installed (then it fails and a person can see what's failing) ? It's quite hidden (look at the issue report

[2016-10-07 15:56] bridadan commented on #2965
When I did this on my machine I also saw these errors. I think the good news is it shouldn't affect exporting. Maybe we could suppress the errors unless the `-v` flag is provided. Does that sound like a good option @0xc0170 ?

[2016-10-07 15:58] bridadan commented on #2962
Pretty sure we do this as of https://github.com/ARMmbed/mbed-os/pull/2418.

Makes sense to me!

[2016-10-07 16:04] 0xc0170 commented on #2962
I was talking about exported project (makefile in this case). That one does not check, it failed today for mee because my IAR was different than generated by default :-)

[2016-10-07 16:10] 0xc0170 commented on #2965
Yes, I forgot to state, exporting works, just that there's lot of errors that I believe could be fixed or suppressed (I don't know how important are those and why they are displayed).

[2016-10-07 16:18] bridadan commented on #2962
Ah thanks, yeah sorry misunderstood :)

[2016-10-07 21:07] screamerbg commented on #2961
@infinnovation Thanks for reporting this. There was a problem on the backend versions of mbed-os. Can you confirm that you're able to compile with the latest release?

Regarding the release candidate - yes, it's supposed to be visible.

[2016-10-08 01:18] jaustin commented on #2742
We do actually have some places where an example is imported to the IDE with a platform hinted:
the "Example programs" sidebar on the platform pages - for example:
https://developer.mbed.org/teams/BBC/code/microbit_blinky/?platform=Microbit

I spent a while trying to include the `platform` parameter in a <<program >> segment, but couldn't see a way to do so. I think it'd be useful in the same situ

[2016-10-08 15:28] Testato commented on #2776
yes, but if i use the mbed (compiled version) instead on mbed-dev, the online build work.
So is it normal ? the mbed-dev should not compile all the code that the mbed-compiled build ?

[2016-10-10 10:52] nuket commented on #2927
The macros defined in `mbed_app.json` do show up in `mbed_config.h` though, so as long as that file is included in the correct order the project will build.

Otherwise, I did have to add macros by hand to `C_FLAGS` and `CXX_FLAGS` in the `Makefile`.

[2016-10-10 10:56] nuket opened #2968 "User defines in Makefile"
### Description
- Type: Enhancement
- Related issue: `#2927`
- Priority: Minor

---
## Enhancement

Might be useful if there were C_FLAGS_EXTRA, CXX_FLAGS_EXTRA and ASM_FLAGS_EXTRA parameters that could be tacked on to the end of the various *_FLAGS in the generated Makefile, so that one could then run `make C_FLAGS_EXTRA=...` etc. to pass along some parameters.

i.e. `C_FLAGS += $(C_FLAGS_EXTRA)`

[2016-10-10 12:13] 0xc0170 commented on #2927
@kuggenhoffen Can you confirm ?

[2016-10-10 12:31] 0xc0170 commented on #2968
cc @theotherjimmy

[2016-10-10 12:35] 0xc0170 commented on #2933
Resolved on master

[2016-10-10 12:35] #2933 closed

[2016-10-10 14:33] toyowata opened #2971 "[Nucleo L073RZ] Flash load region size is not correct"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

The problem reported at the Questions in developer site:
https://developer.mbed.org/forum/bugs-suggestions/topic/26719/

**Target**
NUCLEO-L073RZ

**Toolchain:**
ARM

**Toolchain version:**
Online compiler (armcc 5.06)

**meed-os sha:**
mbed library v127

**Expected behavior**
No

[2016-10-10 14:49] jeromecoutant commented on #2971
Hi
This is already corrected in https://github.com/ARMmbed/mbed-os/pull/2967
Thx

[2016-10-10 15:46] TeroJaasko commented on #2600
I opened a pull request which implements the size optimization on ARMCC and IAR on a new profile (size.json). There is also size optimizations for debug target (debug-size.json) in same PR.
https://github.com/ARMmbed/mbed-os/pull/2973

[2016-10-10 19:09] sg- commented on #2742
IIRC, there is an API for importing to the IDE with the platform specified. Would need to get the details from @screamerbg

I don't recall specifically where we used it but I remember exploiting something like this a while ago

[2016-10-10 19:59] JojoS62 commented on #2882
I'm still struggeling with the exporters.
python project.py -m LPC824 -i lpcxpresso -n MBED_BLINKY
does not work in the current master branch. It creates a project but the TOOLCHAIN dir is still missing. Also the mbed sources should be created in a 'mbed' folder which does not exist.
Trying other toolchains I get the following error:
[code]

[2016-10-10 21:04] c1728p9 commented on #2631
Hi @neilt6, I created #2976 to address these problems. These changes will make their way into the next rtos release. Please give it a try and let me know if it fixes this issue.

[2016-10-11 02:50] toyowata commented on #2971
Closed by merging #2967

[2016-10-11 02:50] #2971 closed

[2016-10-11 02:50] ccli8 opened #2978 "[NUC472] tests-mbedtls-selftest fails with uARM"
### Description
- Type: Bug
- Priority: Minor

---
## Bug

**Target**
NUMAKER_PFM_NUC472

**Toolchain:**
uARM

**Toolchain version:**
MDK-ARM 5.17

**mbed-cli version:**
0.9.5

**meed-os sha:**
f5fb485

The sample `tests-mbedtls-selftest` fails with uARM toolchain. It is passed with ARM, GCC_ARM, and IAR toolchains. If I enlarge stack size from 128 to 256 (`mbed-os/nu-porting/mbed/rtos/rtx/TARGET_

[2016-10-11 09:26] iotvietmember opened #2980 "Nordic nRF51822 + GNU ARM Embedded Error"
![error](https://cloud.githubusercontent.com/assets/15735613/19265315/e89c3b62-8fce-11e6-9975-368561b608a9.PNG)

Hello. I am using Nordic nRF51822 board and I created a simple project (mbed_blinky). Atfer that, I exported it to GCC (ARM Embedded).
I created a project on Eclipse (with GNU ARM Eclipse plugin).
I build project by make and I met an error: " make VERBOSE=1 all
c:/program files (x86)/gn

[2016-10-11 09:44] 0xc0170 commented on #2980
cc @pan- @sarahmarshy @theotherjimmy

[2016-10-11 09:45] 0xc0170 commented on #2978
cc @andresag01 @yanesca

[2016-10-11 10:22] andresag01 commented on #2978
@sbutcher-arm

[2016-10-11 11:25] stevew817 commented on #2449
At least for NanoStack though, the ping functionality mentioned here is hardcoded in the stack and not exposed upwards. cc @SeppoTakalo

[2016-10-11 14:48] bcostm commented on #2937
For now I just confirm the issue on Nucleo_F401RE using your code above (BTW it was needed to rename the Callback function, otherwise the compilation failed).

[2016-10-11 14:49] adustm opened #2983 "mbedtls self test not calling mbedtls_sha1_self_test ?"
### Description
- Type: Question

Hello, Is there any particular reason that the TESTS/mbedtls/selftest/main.cpp is not calling the SHA 1 self test ?
Cheers
Armelle

[2016-10-11 14:52] neilt6 commented on #2631
@c1728p9 Thanks! I'll let you know if I encounter any problems once the changes sync back to the online compiler.

[2016-10-11 15:01] neilt6 commented on #1861
Is it possible to get a sync on [USBDevice](https://developer.mbed.org/users/mbed_official/code/USBDevice/) and [USBHost](https://developer.mbed.org/users/mbed_official/code/USBHost/)? They've been updated here recently for better compatibility with the new mbed classic libraries.

[2016-10-11 15:28] 0xc0170 commented on #2983
cc @andresag01 @sbutcher-arm

[2016-10-11 15:34] andresag01 commented on #2983
@adustm: We have only added a very small subset of tests to the self test. Our main motivation was to add entropy. At some point, it would be ideal to add more tests. However, I would still like to point out that even if the code for SHA1 is added, the test will be excluded because in [feature/mbedtls MBEDTLS_SHA1_C is disabled by default](https://github.com/ARMmbed/mbed-os/blob/master/features/mb

[2016-10-11 18:55] martinjaeger opened #2987 "CAN filter API not correctly implemented for STM32F0 (and possibly other STM32)"
### Description
- Type: Bug
- Priority: Minor

**Target**
STM32F0 and possibly other STM32 family MCUs

The function `int can_filter(can_t *obj, uint32_t id, uint32_t mask, CANFormat format, int32_t handle)`  in `can_api.c` is not correctly implemented for STM32F0.

Current implementation:

[code]

does not set the filter according to actual register layout described in [Reference Manual RM0091](h

[2016-10-11 19:22] DrSchottky opened #2989 "spi_format() bug on KL43Z/KL27Z"
### Description
- Type: Bug
- Priority:  Major

---
## Bug

`void spi_format(spi_t *obj, int bits, int mode, int slave)` in spi_api.c always fails due to an incorrect check on `bits` arg.

`if ((bits != 8) || (bits != 16))
{
    error("Only 8bits and 16bits SPI supported");
    return;
}`

evaluates to true whatever the value of `bits` is.

**Target**
 KL43Z KL27Z

[2016-10-11 19:32] infinnovation commented on #2961
mbed-os-blinky-example fails to compile against 2540:670b098

mbed-os-blinky-example after Update - apparently to 2541:a551faa - compiles successfully.

_However_, if you add the line
[code]
to main.cpp, it still compiles successfully.  This demonstrates that it is still (or again) using a version from the 5.1 series, since the path network-socket/TCPSocket.h does not exist in the 5.2 tree.

Worki

[2016-10-11 20:34] screamerbg commented on #2961
This was caused by the very latest 5.2 not being correctly deployed online. When the Online IDE (and build system) cannot find correctly deployed release/revision, they default to "latest" which in this case is mbed OS 5.1. In the future we should make sure this is more explicit/visible in the IDE.

Thanks for reporting this. The Online IDE was over-filtering non-tagged commits. This is now fixed

[2016-10-12 05:59] Sim-jaeil commented on #2937
Thank you for answer.

mbed IDE and the mbed-dev rev148: Do you use 21d94c4 was okay.
However, this behavior should not be using the latest version of mbed-os. It has not been updated yet?

In previous versions, replacing the callback function name to something does not work. Is there a way to solve something in a previous version?
Will you need to update your library?
gcc iar keil compilers inclu

[2016-10-12 07:46] infinnovation commented on #2961
It's not that big a deal really.  It's just that I'd expect a simple "Update" to get the latest full release, and if I wanted to to try something nearer the bleeding edge such as a release candidate for the next version then I'd have to choose that explicitly.

I do appreciate the openness of the process, the frequency of releases, the amount of code needed to make it all hang together, and how ha

[2016-10-12 07:47] bcostm commented on #2937
What I see GitHub release page:
mbed lib v127 = mbed-os-5.1.5 = [https://github.com/ARMmbed/mbed-os/commit/a6f3fd1a60d5df59246d7caf3f108c4d34e1808e]

and on the mbed IDE/revision page:
mbed-dev v148 = mbed lib v127 (written in the version comment, but I don't see explicitely the commit number corresponding to the v127...)

Will you need to update your library?

I don't really understand what you m

[2016-10-12 08:08] Sim-jaeil commented on #2937
thank you. The lack of English language skills, meaning does not go smoothly.
Using a Google Translator, I'm not sure this sentence is incorrect. ㅠㅜ

Below is a video of the test on the 5.1 version of mbed-os.
http://alconeng.synology.me:5000/fbsharing/CH3GcYY1
In previous versions, if a function name as myCallback this phenomenon.

[2016-10-12 08:12] bcostm commented on #2910
No, it is not related to CC3/CC4 interrupts.

It is related to the read of the timer master counter. I am going to send a fix soon.

[2016-10-12 08:50] peeyushpashine commented on #2922
@bcostm Would you be able to clarify this?

[2016-10-12 09:42] pan- commented on #2980
@iotvietmember Did you try to run make on the command line ?
Gnu ARM eclipse comes with its own version of `sh` (a busybox one), this might be the cause of your troubles.

[2016-10-12 10:02] pan- opened #2993 "[LWIP] - Wrong header inclusion"
### Description
- Type: Bug |

The file [`emav_lwip.c`](https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/emac_lwip.c) include the header `platform.h` which includes `C++` standard headers. Therefore, the compilation fail on GCC because standard C++ headers are not accessible from C files.

This bug can be hidden by the duplicate `platform.h` in the code base, dep

[2016-10-12 10:03] pan- commented on #2993
@0xc0170 What could we do about this ? This might cause compilation errors for every projects using lwip.

[2016-10-12 10:07] iotvietmember commented on #2980
Yes. I tried to run make on the command line but it is same error

![capture](https://cloud.githubusercontent.com/assets/15735613/19306091/3d2911b2-909e-11e6-9fea-a21ef943f95c.PNG)

[2016-10-12 10:11] iotvietmember commented on #2980
![capture](https://cloud.githubusercontent.com/assets/15735613/19306232/e4a5c78c-909e-11e6-8e42-d880ccb68ca4.PNG)

[2016-10-12 10:18] Sim-jaeil commented on #2937
Found out the cause of the phenomenon.
When including the RTOS library this will happen.
Please confirm.
MBED-Dev does not appear when only.

[2016-10-12 10:40] pan- commented on #2980
@iotvietmember Your make still invoke sh from gnu arm tools (`/bin/sh`). It would have been nice to try without it (just move it temporarily somewhere else).
Another thing, could you print the content of `OBJDIR` ?

[2016-10-12 10:56] iotvietmember commented on #2980
@pan-
Yes. You are right.
The problem is at "sh.exe ".
Everything is ok.
Thank you very much!

[2016-10-12 10:56] #2980 closed

[2016-10-12 10:58] pan- commented on #2980
@iotvietmember Well, the issue is still there. GNU ARM eclipse is not supported oob by mbed but you can open a ticket requesting this enhancement.

[2016-10-12 11:03] iotvietmember commented on #2980
@pan-  Thanks. Can I send a request to GNU ARM Eclipse team?

[2016-10-12 11:05] sarahmarshy commented on #2980
It's not? You should be able to export to eclipse_armc5. Then, you,can import your project directory as an existing project in eclipse.

[2016-10-12 11:09] pan- commented on #2980
@iotvietmember I think the request should be there if you want to make one.

@sarahmarshy GNU ARM eclipse != DS5. But to be honest I didn't try the exporter.

[2016-10-12 11:27] theotherjimmy commented on #2980
@pan- eclipse_armc5 != DS-5. You only need eclipse and armc5, not all of DS-5

[2016-10-12 11:32] iotvietmember commented on #2980
Yes. My error is sh.exe of GNU Arm eclipse Build Tools.
Thank you very much

[2016-10-12 13:12] 0xc0170 commented on #2993
The emac file referenced above should use config file to get device macros (used to be ``device.h``).

I'll have a look and send a propose a fix.

[2016-10-12 13:27] pan- commented on #2993
what about the duplication of `platform.h` ?
Should I open an issue for this and if so, is it and mbed tls issue ?

[2016-10-12 13:32] 0xc0170 commented on #2993
Yes, lets create a separate issue. Is not already in the issue tracker - having duplicated header files in the code base ?

[2016-10-12 13:35] bcostm opened #2995 "Exporter Project.py error: No module named xdg.BaseDirectory"
### Description
Type: Bug
Related issue: none
Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F103RB

**Toolchain:**
ARM uVision5

**mbed version:**
0.9.1

**mbed sha:**
(`git log -n1 --oneline`)
f5fb485 Merge pull request #2967 from viquiram/master

**Expected behavior**
zip file containing uVision 5 project

**Actual behavior**
[code]

[2016-10-12 13:42] 0xc0170 commented on #2995
cc @theotherjimmy @sarahmarshy

[2016-10-12 13:48] theotherjimmy commented on #2995
`pip install -Ur requirements.txt`

[2016-10-12 13:48] bcostm commented on #2922
I was not aware of such change. Can you give me more details where this macro has been removed ? I still see it in all spi_api.c files. In the targets.json file there is "SPI" written in the "device_has" field. I think this is converted in "DEVICE_SPI".

[2016-10-12 13:48] 0xc0170 opened #2997 "Docs: Building is outdated (requires update to new structure + compilers, etc)"
### Description
- Type: Bug
- Priority:  Minor
## Bug

Docs https://github.com/ARMmbed/mbed-os/blob/master/docs/BUILDING.md is outdated. It contains information about mbed-sdk.

I would propose to rename it to ``BUILDING_MBED2.md` and update it to the new tree structure + compilers and other relevant information that has changed. Any other ideas?

@sg- @bridadan @c1728p9

Thanks @pan- for pinpoint

[2016-10-12 13:57] pan- opened #2998 "[mbed tls|platform] Duplicate header: platform.h"
### Description
- Type: Bug

The header `platform.h` is available twice in the code base: [here](https://github.com/ARMmbed/mbed-os/blob/master/platform/platform.h) and [there](https://github.com/ARMmbed/mbed-os/blob/master/features/mbedtls/inc/mbedtls/platform.h).

This might lead to an incorrect header inclusion and compilation errors.

[2016-10-12 14:01] pan- commented on #2998
@0xc0170 @sg- What can we do about this ?
I've notice this from the OOB testing, in one project, `platform.h` from `platform` is picked up and this lead to an error in the LWIP module (reported [here](https://github.com/ARMmbed/mbed-os/issues/2993#issuecomment-253214214)).
For other projects or for mbed-os tests, it is the header from mbed-tls which is used for compiling `emac_lwip.c`.
This might

[2016-10-12 14:10] sg- commented on #2998
What do the api and design guidelines say?

[2016-10-12 14:11] sg- commented on #2997
Should be completely re-written using mbed-cli as the interface. Need to align this with the update of mbed 2 test and mbed 5 unification.

[2016-10-12 14:22] pan- commented on #2998
@sg- ooops forgot about this one.
I can do the list of files which don't follow that rule with `platform.h`.
Should I open an issue for each module ?

[2016-10-12 14:32] sg- commented on #2998
that works!

[2016-10-12 15:31] bcostm commented on #2995
OK thanks, no more error now. I just have this warning:
[code]

I tried to install the python-Levenshtein module but it failed...

Anyway, the generated zip file is not correct. A lot of source files and folders are missing in it.

[2016-10-12 17:14] bulislaw opened #3000 "[MTS_MDOT_F405RG] Blinky does not compile: USBTX/USBRX not defined"
### Description
- Type: Bug
- Priority: Minor

**Target**
MTS_MDOT_F405RG

**Toolchain:**
GCC_ARM

**meed-os sha:**
master (f5fb485dcd4e6ed8d913d61da453ae04b804ec11)

'''
$  mbed compile -t GCC_ARM -m MTS_MDOT_F405RG
Building project mbed-os-example-blinky (MTS_MDOT_F405RG, GCC_ARM)
Scan: ..
Scan: FEATURE_BLE
Scan: FEATURE_COMMON_PAL
Scan: FEATURE_LWIP
Scan: FEATURE_UVISOR
Scan: FEATURE_LOWPAN_BOR

[2016-10-12 17:16] bridadan commented on #3000
@bulislaw That target isn't an mbed OS 5 target. But it should still have those two pins defined, even for mbed 2!

[2016-10-12 17:26] bulislaw commented on #3000
Ah right the other Mdot is: MTS_MDOT_F411RE my bad. @bridadan feel free to close this issue.

[2016-10-12 17:36] #3000 closed

[2016-10-12 17:39] BlackstoneEngineering opened #3001 "mbed export --supported doesnt work"
## Problem

When running `mbed export --supported` I get the following

[code]

Running Windows 7

Funny enough it works in my cygwin environment in the exact same project, so I think it may be related to windows cmd line.

[2016-10-12 18:24] bridadan opened #3002 "[IAR IDE] Debugger setting incorrect for IAR targets"
### Description
- Type: Bug/Enhancement
- Priority: Minor

---------------------------------------------------------------
## Bug/Enhancement

**Target**
Tested with K64F, NRF51_DK, and NUCLEO_F411RE

**Toolchain:**
IAR

**Toolchain version:**
IAR IDE version 7.40

**mbed-cli version:**
0.9.7

**meed-os sha:**
Tested with oob blinky example hash 7ec525eb49cfdf9942eb5b5caaec2306d216d17c, which uses

[2016-10-12 21:22] JojoS62 commented on #2995
I got also an error, the log said that a VC90 compiler is required for compilation some c sources (on windows).

The same that I reported also already:  #2882
It looks like the the tools/project.py does not work without CLI anymore, is this true and intended? In older mbed_os versions the export structure was the same as in the lib-source. I've tried to add the sources as before but the files will

[2016-10-12 22:08] bridadan commented on #3000
Also super important: This was the 3000th PR/Issue!

[2016-10-12 23:04] sarahmarshy commented on #3002
Can you verify this is a problem with 7.5? I was not able to replicate this on 7.5. Given that I developed debugging files for 7.5, this is likely the issue.

[2016-10-13 03:16] bridadan commented on #3002
After switching to 7.70, I was able to get the K64F flashing once I change the debugger from `Simulator` to `CMSIS-DAP` and the protocol from `JTAG` to `SWD`. But I still wan't able to flash the NRF51_DK.

And I don't have a download link for 7.50 (the oldest version on the IAR website is 7.60) so I can't test that unfortunately.

[2016-10-13 03:26] sg- opened #3006 "TARGET_NUMAKER_PFM_NUC472 dependency on mbed TLS"
### Description
- Type: Bug
- Priority: Major

---
## Bug

**Target**
TARGET_NUMAKER_PFM_NUC472

**Toolchain:**
GCC_ARM, ARM, IAR

[code]

mbed OS 2 doesn't have a release of mbed TLS supported or delivered. TARGET_NUMAKER_PFM_NUC472 HAL dependency on it for hw acceleration. It seems this target should only support a mbed 5 release

@ccli8

[2016-10-13 06:12] ccli8 commented on #3006
@sg- We want also to be compatible with mbed OS 2. Is there an approach, e.g. conditional compile, to exclude these codes for mbed OS 2?

[2016-10-13 08:30] infinnovation commented on #2961
Sorry to harp on about it, but there's another aspect not yet mentioned.  If you import mbed-os-example-blinky with the option "Update this program and libraries to latest revision" ticked, the mbed-os you get is 2246:a6f3fd1.  Which is what I'd personally expect - the latest full release i.e. 5.1.5.  However, the green curly arrow appears, indicating that a further update is available, which gets

[2016-10-13 08:45] infinnovation opened #3007 "Blinky online compilation fails for K64F with 5.2.0-rc2"
### Description
- Type: Bug
- Related issue: #2961
- Priority: Minor

---
## Bug

**Target**
K64F

**Toolchain:**
Whatever the online IDE uses

**meed-os sha:**
a551faa

**Expected behavior**
Compilation would succeed after updating mbed-os to latest revision.
Fault would have been detected & fixed after rc1.

**Actual behavior**
Two errors:

[code]

**Steps to reproduce**
New program -> Template:

[2016-10-13 09:11] meta-johnny commented on #2919
@pan- From my example, I expected the print result is test->data = 100, but I got test->data =0.
It seem like the global class "A test" do not call the constructor to initialize the _data to 1000.

I just wonder when is the global class call the constructor?
because it seem like it is not working in my project.

[2016-10-13 10:13] 0xc0170 commented on #3002
This should be set in the template, thus still something wrong.

@sarahmarshy Not certain, but I havent spotted any version numbers for our exporters (mainly templates, what versions are supported). It might be somewhere that I missed it?

I am using IAR 7.70 and uvision 5.17, as those versions have been used for releases for last couple of months.

[2016-10-13 10:17] 0xc0170 commented on #3007
cc @screamerbg and @adbridge , you both have noticed the same correct.

We could not reproduce this offline, as ``mbedtls_hardware_poll`` should not be required (mbedtls was updated to use TRNG HAL). Some misconfiguration

[2016-10-13 10:22] adbridge commented on #3007
I compiled offline for the following combinations with no issues:
1) mbed-os-example-blinky, updated with tag mbed-os-5.2.0-rc2, compiled with GCC_ARM for K64F
2) oob-mbed-os-example-blinky, updated with tag mbed-os-5.2.0-rc2, compiled with GCC_ARM for K64F

Only thing I noticed was this warning:
Object file test_env.o is not unique! It could be made from: c:\users\annbri01\work\mbed-os-example-bl

[2016-10-13 10:55] sarahmarshy commented on #3002
Interesting. I was able to step through blinky on a k64f last night, so IAR version difference seems to be the culprit. I used 7.5. For uvision, I used 5.21a.

Should we come to a consensus about a version and move forward? The logical choice seems like the latest releases of each, as we cant maintain support for all versions. I'm not really free to look into this until Monday, but if we agree to

[2016-10-13 11:00] bcostm commented on #2956
I'll take a look.

[2016-10-13 11:01] sarahmarshy commented on #3002
The best approach is to generate the project files, open them, and save the project (IAR does some xml rearranging on a save), then move them to a backup location. Then, you can do the same, but change the debugging settings and save. After that, you can diff the respective ewp and ewd files. Keep note of the xml tags, and find them in the .ewd and .ewp templates in the IAR folder of export.

[2016-10-13 11:13] bcostm commented on #2937
I just checked again with mbed lib v127 and everything is ok now to me... Can you please recheck also ?

[2016-10-13 11:33] pan- commented on #2919
@meta-johnny I will repeat myself but on what target and with which compiler this code fail ?
I'm asking because I want to reproduce it. I'm not able to reproduce it on a target like the `NRF51_DK`.
It would also help if you can provide details about the mbed-os version (the git sha) that you use.

It is initialized before the main and it is compiler specific.

[2016-10-13 11:34] infinnovation commented on #3007
It works for me too offline with GCC_ARM - that's not the problem.  Does it work with "-t ARM"?  Is it something to do with the online IDE environment?

[2016-10-13 12:02] bogdanm commented on #3002
@0xc0170 @sarahmarshy: if I understood correctly, the version should be 7.70. I tried to reproduce this issue locally with both 7.10 and 7.70, and it's reproducible with both versions. Debugging works, but I have to set `CMSIS DAP` in `Debugger/Simulator` and `SWD` in `Debugger/CMSIS DAP`. Those should be the defaults.

[2016-10-13 12:22] theotherjimmy commented on #2995
@JojoS62 @bcostm could you provide singer concrete examples of the behavior you expect vs the behavior you see?

[2016-10-13 12:22] bogdanm commented on #3002
@0xc0170: please confirm the IAR versions that we need to support, so we can move forward with this.

[2016-10-13 12:28] sarahmarshy commented on #3002
They are the defaults. I was definitely able to debug with 7.5 last night. Very frustrating that the templates are that different. I'm throwing in my vote for 7.7.

[2016-10-13 12:29] bogdanm commented on #3002
Sorry, I meant "the default for the IAR version that we decide to support with this release".

[2016-10-13 12:40] Sim-jaeil commented on #2937
![image](https://cloud.githubusercontent.com/assets/3378203/19349324/6ae2b672-918d-11e6-8e43-c702c1cd68b1.png)

I tried the check again.
But the result is the same. When you receive a letter from the serial port, CPU stops.
Can you check like this table?

Thank you

[2016-10-13 13:00] RidaJichi commented on #2713
Necessary changes done in my fork:
mbed-os: https://github.com/RidaJichi/mbed-os/commits/master (commits dated Oct 5, 2016)
mbed-classic: https://github.com/RidaJichi/mbed-classic/commits/master (commits dated Oct 5, 2016)
and are ready for merge (soon)

[2016-10-13 13:09] cyliangtw opened #3012 "Export keil project failed in OS 5.2"
Export keil project failed in OS 5.2, even I update project-generator as (0.9.10) & project-generator-definitions as (0.2.33).
It seems the Keil environment MDK 5.17 can't provide existing arm-pack-manager data path.

[code]

[2016-10-13 14:47] 0xc0170 commented on #3002
@sg- confirmation for v7.70 to be supported for IAR and uvision to be v5.21?

[2016-10-13 14:58] 0xc0170 commented on #3012
cc @theotherjimmy @sarahmarshy

Exporters do not depend on project_generator anymore, mbed tools contain now starting with 5.2 own exporters. Reasons you can find in the pull request that pulled in those changes.

The traceback here that a device is not in cmsis_pack, however I haven't seen any issue for k64f. We will look into it.

Probably we should state somewhere the state of exporters (what t

[2016-10-13 15:03] sg- commented on #3006
Not at the moment. Are these drivers specifically for hardware acceleration covering parts of mbed TLS?

[2016-10-13 15:04] bcostm commented on #2937
ok I used mbed library and not mbed-os library this is why.

Now I checked Nucleo_F401RE + mbed online ide + mbed-os (version 2541:a551faa = mbed-os-5.2.0-rc2) and program stopped when I receive a char on the serial port.

I don't know what happens when RTOS library is added...

I tried with mbed-os-5.1.5 and it is the same. I will check other older versions to see when the problem occured...

[2016-10-13 15:14] sg- commented on #3002
Always the latest version 👍 for exporters

[2016-10-13 15:18] bridadan commented on #3012
@theotherjimmy Looks like the arm_pack_manager tool failed to download the cmsis pack?

@cyliangtw I believe the first time you run the exporters in 5.2, you need an internet connection so the mbed tools can download the necessary info. Did you have a network connection at the time?

[2016-10-13 15:20] theotherjimmy commented on #3012
@bridadan yes that's what or looks like.

[2016-10-13 15:30] bridadan commented on #3002
I'm fine with 7.70 moving forward, I'm in the process of upgrading the CI machines to use that at the moment.

[2016-10-13 19:12] JojoS62 commented on #2995
[MBED_BLINKY_uvision_LPC1768.zip](https://github.com/ARMmbed/mbed-os/files/527921/MBED_BLINKY_uvision_LPC1768.zip)
[MBED_BLINKY_lpcxpresso_LPC1768.zip](https://github.com/ARMmbed/mbed-os/files/527922/MBED_BLINKY_lpcxpresso_LPC1768.zip)
Ok, hope the upload works.
I have attached two projects generated with the older mbed-master version of 2015/12. One is for uVision, one for lpcxpresso.
Both work a

[2016-10-13 19:15] c1728p9 opened #3018 "NUCLEO_F401RE I2C broken"
### Description
- Type: Bug
- Priority: Major

## I2C failures with EEPROM (I2C)
I2C -  EEProm Read (fails with ARMCC, GCC)
I2C -  TMP102 Temperature Read (fails with GCC, works with ARMCC)

**Target**
NUCLEO_F401RE

**Toolchain:**
GCC_ARM

**meed-os sha:**
22ec73b Merge pull request #2948 from jamike/Fixed_iarm_debug_built_failed

**Steps to reproduce**
Tests available here https://github.com/arm

[2016-10-13 19:49] c1728p9 commented on #3018
The commit 8982ff197126caae361c00fbbbd10e833690169d (#2622) appears to have introduced this problem. At the end of a read a nack is no longer sent which causes the IIC device to keep holding SDA low.

Logic capture on 22ec73bc3ab77dbc9e8f361addfb9abca2c430f8 when running test:
![bad](https://cloud.githubusercontent.com/assets/2916772/19364448/e64095a8-9153-11e6-9c74-e183068fbb38.png)

Logic captur

[2016-10-13 19:51] c1728p9 commented on #3018
This is likely the cause of the I@C failures in #2956 and #2959.

[2016-10-14 01:07] ccli8 commented on #3006
@sg- Yes. These drivers (aes_alt.c, des_alt.c, sha_alt.c) are hardware acceleration for mbed TLS's crypto modules.

[2016-10-14 01:39] cyliangtw commented on #3012
As usual, I only enable HTTPS connection proxy for pip install & git operation in my environment.
Thanks, it could work after I also enable HTTP connection proxy.

[2016-10-14 01:39] #3012 closed

[2016-10-14 01:56] cyliangtw commented on #3006
@sg- After review all global macros of mbed OS 5.x and mbed OS 2.0, we can't find the macro to specify which one is OS 5.x . Maybe, to create target folder in //features/mbedtls and restructure crypto-hal into it.

[2016-10-14 06:24] betzw commented on #3018
Should already be fixed by PR https://github.com/ARMmbed/mbed-os/pull/2972

[2016-10-14 06:43] peeyushpashine commented on #2922
I am sorry if I was not clear. from the device.h in board folders for the version 6c34061e7c34, DEVICE_SPI has value 1, but this statement is not present in the latest version device.h files for Nucleo. I see now in the makefile DEVICE_SPI macros are coming up. Is there a way for me to find out target board specific these macros the same way you are generating? If you are taking advantage of autom

[2016-10-14 07:27] nightseas opened #3020 "How to port mbed-os for F411CE"
### Description
- Type: Question
- Target: STM32F411CE

---------------------------------------------------------------
## Question

I'm trying to port mbed-os and classic mbed lib to STM32F411CE.
The problem is the startup assembly file. Even if I replaced the file with the one my cube-mx project for 411CE, it still couldn't run to main().

Any suggestion?

BTW: The HAL lib for STM32 in mbed is r

[2016-10-14 10:08] #3020 closed

[2016-10-14 10:09] nightseas commented on #3020
It works now. Guess it's configuration and GCC compatible issue.

[2016-10-14 11:22] pan- commented on #2962
@bridadan Any update on this issue ?

[2016-10-14 12:05] meta-johnny commented on #2919
@pan- Thanks for your reply. I created my own target project based on mbed-5.1 and the compiler is armcc.

Here is my compiler option:
arm-none-eabi-gcc.exe -mcpu=cortex-m4 -mthumb -Wextra -Wall -fdata-sections -ffunction-sections -fomit-frame-pointer -Os -g -funsigned-char -fno-exceptions -std=gnu99
-Wno-unused-parameter -Wno-missing-field-initializers -fmessage-length=0 -fno-builtin -fno-delete-

[2016-10-14 12:20] pan- commented on #2919
@meta-johnny I think there is few confusions here, you use GCC not the arm compiler. The compiler is not the target. The target is the board you compile for. Which board do you use ?

And BTW, do you use mbed-cli to compile your project or another method ?

[2016-10-14 13:15] screamerbg commented on #3018
As @betzw pointed, no longer an issue after PR #2972  @c1728p9

[2016-10-14 13:22] screamerbg commented on #2956
I2C no longer an issue thanks to PR #2972

[2016-10-14 13:30] screamerbg commented on #2955
I2C no longer an issue thanks to PR #2972. cc @adustm @bcostm @betzw @andreaslarssonublox

[2016-10-14 14:27] maclobdell opened #3025 "export NCS36510 to IAR fails"
### Description
- Type: Bug
- Related issue: n/a
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
NCS36510

**Toolchain:**
IAR IDE

**Toolchain version:**
N/A
**mbed-cli version:**
tested 0.9.7 & 0.9.9

**mbed-os sha:**
a42457d Merge pull request #3015 from andresag01/update_mbedtls_rc

**DAPLink version:**
n/a

**Expected behavior**
successful

[2016-10-14 14:58] c1728p9 commented on #3018
Tested #2972 and it passes the I2C tests. Logic capture also looks correct.

[2016-10-14 14:58] #3018 closed

[2016-10-14 15:29] maclobdell commented on #3025
I see that the exporter is not using progen and the support for NCS36510 did not make it into the new exporter infrastructure.  I will make a pull request asap.

[2016-10-14 15:45] bridadan commented on #2962
@pan- I looked at the makefile template briefly but couldn't immediately pick out where to output this text, especially conditionally for each target. This may be a job for @theotherjimmy when he gets back.

[2016-10-14 15:59] maclobdell opened #3026 "exported IAR projects for all targets include K64F macros"
### Description
- Type: Bug
- Related issue: n/a
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
any supported by iar exporter

**Toolchain:**
IAR

**Toolchain version:**
n/a

**mbed-cli version:**
n/a

**mbed-os sha:**
5.2 RC2

**DAPLink version:**
n/a

**Expected behavior**
Exported project contains only pre-processor definitions that it need

[2016-10-14 16:10] screamerbg opened #3027 "Nordic nRF52 DK Issues"
### Description
- Type: Bug
- Priority: Major

---
## Bus failures (BusInOut)

BusInOut doesn't work correctly in the following scenario:
- Digital loops D2-D3, D4-D5, D6-D7, D8-D9
- BusInOut-1 initialized for D2, D4, D6, D8
- BusInOut-2 initialized for D3, D5, D7, D9

Writing to BusInOut-1 do not produce same read values BusInOut-2 although pins are looped.
Example test program here: https://gith

[2016-10-14 16:11] bridadan commented on #2922
The `DEVICE_*` macros specifically are generated from the target description here: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L548

You can see the key `device_has` is an array of capabilities of the device. Any entry in that array will be translated to a compile-time macro with the name `DEVICE_<ENTRY>` where `<ENTRY>` is the value in the array.

[2016-10-14 16:42] bridadan commented on #3026
cc @theotherjimmy and @sarahmarshy

[2016-10-14 17:14] screamerbg commented on #2959
I2C no longer an issue thanks to PR #2972. cc @adustm @bcostm @betzw

[2016-10-14 17:21] screamerbg commented on #2960
Added I2C issues @bcostm @adustm

[2016-10-14 17:27] screamerbg commented on #2960
Note that ST Discovery F746NG based on the same silicon has issues with AnalogIn A0 only, not A5. A clue that this might be peripheral configuration issue

[2016-10-14 17:58] screamerbg opened #3029 "Nuvoton NUMAKER_PFM_NUC472"
### Description
- Type: Bug
- Priority: Major

---
## Pwm failures (PwmOut) - ARMCC

Error while trying to initialize PwmOut on D3, D5, D6, D9 (as per Arduino header standard)

Tests available here https://github.com/ARMmbed/ci-test-shield/blob/master/TESTS/API/Pwm/Pwm.cpp
See below for schematics.
## I2C failures with EEPROM (I2C) - ARMCC

I2C -  EEProm Write - 2bytes (but 1 byte words)
I2C -  EE

[2016-10-14 18:43] MarceloSalazar commented on #2993
Fixed in https://github.com/ARMmbed/mbed-os/pull/2994

[2016-10-14 18:43] #2993 closed

[2016-10-14 19:09] j3270 opened #3031 "-D options for TARGET_XXX and TOOLCHAIN_XXX not passed to .s files"
### -D options for TARGET_XXX and TOOLCHAIN_XXX not passed to .s files
- Type: Bug

---
## Bug

**Target**
MAX32600MBED

**Toolchain:**
ARM

**Toolchain version:**
MDK-ARM Plus 5.21a

**mbed-cli version:**
0.9.5

**Expected behavior**
build of single .s file written with support for all 3 toolchains through preprocessor statements

**Actual behavior**
.s file fails to build due to lack of TARGET_

[2016-10-14 19:33] screamerbg commented on #3031
@j3270 This is the intended behavior. There are many macros that are generated by the target, libraries or the top application. Not all of these macros are compatible with all toolchains and some of them have limitations, e.g. length of asm parameters or macro type (for example IAR does not accept float and string macros to iarasm). For compatibility reasons only the macros defined by the target a

[2016-10-14 19:36] j3270 commented on #3031
Thanks for your response,

I am not sure I understand.  If this is the intended operation, why was the library working up until a few weeks ago.

Did this intended operation just recently become the intended operation?

Thanks,

[2016-10-14 19:37] j3270 commented on #3031
@screamerbg please see above

[2016-10-14 19:38] cyliangtw commented on #3029
In PFM_NUC472, D9 can't be regarded as Pwm pin, the right pin should be one of D2 ~ D7, the pin diagram of PFM_NUC472 is at: (https://www.mbed.com/en/platform/hardware/boards/nuvoton-technology/nuvoton_nuc472/ )
Could we assign in PinNames.h file or override in mbed_app.json for MBED_CONF_APP_PWM_x ?

[2016-10-14 19:38] screamerbg commented on #3031
@j3270 then it might be unrelated issue as the limitation to macros was applied during the mbed OS 5.1 release in August.

Perhaps @0xc0170 @geky @theotherjimmy could provide more light on this.

[2016-10-14 19:40] j3270 commented on #3031
Thanks,

I think I understand your solution.  The macros could be added in targets.json by the vendor, correct?

[2016-10-14 20:15] j3270 commented on #3031
@screamerbg

I tried adding the macros to the name"macros" under the target object "MAX32600MBED" in targets.json and in latest_targets.json under the .tools folder.  No luck, any suggestions?

Thanks,

[2016-10-14 20:22] j3270 commented on #3031
@screamerbg

One note, these macros were listed in the build output on the line [DEBUG] Macros: at the beginning of the build before any changes were made, they just are not passed to the preprocessor when preprocessing the .s file.  Apparently that is the new intended operation with mbed-os 5.1 that was released in August, which matches the time frame that I started having trouble with the builds

[2016-10-15 10:55] RobMeades opened #3034 "Bug?: mbed export -S "not enough space" error"
Running `mbed export -S` on the current `mbed-os` version (#7bcc63b), on Windows 7, Python 2.7.11, `mbed-cli` version 0.9.9, gives me a "not enough space" error:

[code]

Any idea what's causing this?

[2016-10-17 09:21] EduardPon opened #3036 "Subscribe on Ethernet link down/up events"
Our top level application requires to be signaled when the Ethernet link status has been changed (up/down).

So it would be great if we could subscribe on link up and down events.

Is this supported? How can we achieve this running the MeshWired IPv6 / 6LoWPAN (Thread mode) sw stack on a Freescal K64F board.

Thanks in advance.

[2016-10-17 09:56] SeppoTakalo opened #3037 "`mbed update`does not update libraries if branch is checked out."
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**mbed-cli version:** 0.9.7
**meed-os sha:** a551faa

**Expected behavior**

Command `mbed update` should update my `mbed-os` repository to point to the git hash from `mbed-os.lib`

**Actual behavior**
[code]

**Steps to reproduce**

1. Git Clone `oob-mbed-os-example-mesh-minimal`

[2016-10-17 10:01] 0xc0170 commented on #3037
@SeppoTakalo Is this mbed-cli issue?

@theotherjimmy  @screamerbg - please have a look

[2016-10-17 10:02] 0xc0170 commented on #3036
cc @geky @kjbracey-arm @bulislaw

[2016-10-17 10:02] 0xc0170 commented on #3034
@theotherjimmy @screamerbg

[2016-10-17 10:11] SeppoTakalo commented on #3037
How do I know?
Is is a problem on where the cloning and updating functionality is.

[2016-10-17 10:15] bogdanm commented on #3034
See also https://github.com/ARMmbed/oob-mbed-os-example-blinky/issues/26

[2016-10-17 10:23] 0xc0170 opened #3038 "NCS36510 - lp timeout failure"
### Description
- Type: Bug
- Priority: Major

---
## Bug

**Target**
NCS36510

**Toolchain:**
GCC_ARM, ARM, IAR

**mbed-os sha:**
mbed-os RC3

**Actual behavior**

ncs36510 - tests-mbed_drivers-lp_timeout fails :

[code]

@pradeep-gr - please have a look at this failure

[2016-10-17 10:26] MarceloSalazar commented on #3037
I've followed these steps and work ok to me:

1. `mbed import oob-mbed-os-example-mesh-minimal`
2. `cd oob-mbed-os-example-mesh-minimal`
3. `mbed update mbed-os-5.2.0-rc3`
4. `mbed ls -a`

[code]

maybe mbed CLI does not like messing around with git ?

[2016-10-17 12:24] bcostm commented on #2956
Some news:

*InterruptIn failures*
- Confirmed on D3 with ARM and GCC_ARM toolchains.
- Debug on-going. I need to create first a uVision project because project.py does not work anymore...

*AnalogIn failures*
- Confirmed on A0 with GCC_ARM.
- OK with ARM.
- Issue solved by increasing the ADC sampling time to 28 cycles (instead of 15). A pull Request will be done.

[2016-10-17 12:29] 0xc0170 commented on #2956
@bcostm Thanks for looking at these issues

[2016-10-17 12:30] adustm opened #3039 "mbed export and project.py sw4stm32 don't work"
### Description
- Type: Bug
- Priority: Major
---------------------------------------------------------------
## Bug
**Refering to**
https://developer.mbed.org/questions/74000/For-information-about-exporting-to-SW4ST/
**Target**
NUCLEO_F410RE | DISCO_F746 | NUCLEO_F746ZG...
**Toolchain:**
sw4stm32

**Toolchain version:**

**mbed-cli version:** 0.8.2

**meed-os sha:**a42457d

**Expected behavior**

[2016-10-17 12:33] 0xc0170 commented on #3039
cc @theotherjimmy @sarahmarshy

[2016-10-17 13:03] meta-johnny commented on #2919
Sorry for my mistake.The compiler that I used is GCC.
I tried my sample code on K64F board and it worked. Now I still clarify the root cause.
I do not used mbed-cli to compile my project but used EmBitz 0.42 instead.
I have modified the compiler settings for my project development which based on mbed-OS 5.1.0-rc5.
But I compare the settings with K64F it seem like the settings are almost the same.

[2016-10-17 13:11] bcostm commented on #2956
For the AnalogIn, the error comes from the test itself. The previous_value is initialized to 0 and sometimes the first convertion is also equal to 0... And the test is fail due to the assert who is checking that the current_value > previous_value...

I kept the initial 15 sampling time, and after correcting the test:
[code]

[2016-10-17 13:18] screamerbg commented on #2961
@infinnovation to avoid confusion we've removed the rc releases from the online IDE. Also clicking the Update button gives the latest mbed OS releases. Hope this addresses the consistency concerns you had.

[2016-10-17 13:33] screamerbg commented on #2956
@blackstoneengineering

[2016-10-17 13:44] SeppoTakalo commented on #3037
I already know that the workflow you proposed works.
Point is that in cases, where you have manually updated your `mbed-os` to release branch, the `mbed update` command does not work anymore, even that it claims to.

[2016-10-17 13:45] pan- commented on #3027
@screamerbg Did you ground the `DETECT` pin before running the tests ?

The NRF52_DK use an [I/O expander](http://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.nrf52%2Fdita%2Fnrf52%2Fdevelopment%2Fdev_kit_v1.1.0%2Fhw_io_ext_btns_leds.html&anchor=concept_vfn_r2p_sq) to avoid conflicts between an Arduino shield and the NRF52_DK buttons and LEDs.

To detect that an Arduino shield

[2016-10-17 13:52] hasnainvirk opened #3043 "mbed-os cache not working properly"
### Description
- Type: Bug

[code]

mbed-cache messes up the tree.

---
## Bug

**Target**
K64F|??

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**meed-os sha:**
(`git log -n1 --oneline`)

**DAPLink version:**

**Expected behavior**

**Actual behavior**

**Steps to reproduce**

---
## Enhancement

**Reason to enhance or problem with existing so

[2016-10-17 14:00] pan- commented on #2919
@meta-johnny Thanks for the clarification, that explains some things :).
With GCC, the initialization of global variables is made by calling the function `__libc_init_array` before the main. This is handled by the `C` runtime provided with your compiler or, if you compile with the RTOS, the override of the `pre_main` function ([here](https://github.com/ARMmbed/mbed-os/blob/5310c2e2cdfdbee49efa93ef

[2016-10-17 14:02] markus-becker-tridonic-com opened #3044 "Other Timer for RTOS Ticker"
### Description
- Type: Question
## \- Priority: Major
## Question
- Currently for the target STM32F091 timer TIM2 is used by the RTOS ticker functionality. Would it be possible to use other timers for that purpose?
- If this is the case, what timers could be used, i.e. which requirements need to be met by the timer (e.g. 32-bit / 16-bit timer)?
- Which parts of mbed-os would need to be adapted fo

[2016-10-17 14:08] nuket opened #3045 "Random Number Generator support"
### Description
- Type: Enhancement
- Priority: Major

**Target**
Nordic nRF5x and any other chip with hardware RNG support

---
## Enhancement

Are there any plans to design / implement an mbed OS API to access the Random Number Generator (RNG) available on Nordic and other chips? I'm trying to seed the mbed TLS CTR-DRBG implementation, but have no access to a good source of entropy. I've tried a

[2016-10-17 14:31] bridadan commented on #3034
I did a little research and it looks like we may be hitting the maximum string that can be printed at once by Windows in a command prompt? So we may need to break up the string a bit before printing it, or examine how we can reduce the amount of data that's printed.

[2016-10-17 14:51] screamerbg commented on #3037
@SeppoTakalo Can you please run `mbed update -v` and also `mbed update -vv` and attach the 2 logs?

[2016-10-17 15:09] screamerbg commented on #3037
Actually nevermind. I'm able to reproduce it

[2016-10-17 15:48] pan- commented on #3045
Yes!

- Which NRF_RNG cause the hardfault ?
- Is the softdevice already enabled at this stage ?
- Did you try to use the functions exposed by the softdevice ?
  * `sd_rand_application_pool_capacity_get`
  * `sd_rand_application_bytes_available_get`
  * `sd_rand_application_vector_get`

[2016-10-17 16:04] BlackstoneEngineering commented on #2956
@bcostm how did you correct the test? Mind providing code or submitting a PR against the CI Test shield?

I assume you just initialized `outputs` to 1?

[2016-10-17 16:16] kgills commented on #3031
We can work around the Target definitions by adding them to targets.json, but there are still some syntax differences between the different assemblers. We're still not going to get the TOOLCHAIN_ macros.

[2016-10-17 17:13] ohagendorf opened #3049 "[Exporters] Uvision5 project configuration missing Program Algorithm List"
### Description
- Type: Bug
- Related issue: PR #2708
- Priority: Blocker

When exporting a project, e.g. with

[code]

and opening it in uVision5 the project can be compiled and flashed without problems. Nevertheless the project configuration is incomplete, as described under **Steps to reproduce**.

But when you want to change a debuger option, e.g switching on Reset and Run, the project can't b

[2016-10-17 17:14] ohagendorf commented on #3049
@sarahmarshy, please have a look at the above problem description.

[2016-10-17 18:10] ohagendorf opened #3051 "[Exporters] Download of CMSIS packs"
### Description
- Type: Bug
- Related issue: PR #2708
- Priority: Major

The succesfull download seems to depend on the PyCurl version. The behaviour differs at two different PCs and with different PyCurl versions:

PC1 and current PyCurl version 7.43.0: a complete failure, no downloads possible - no way to get the packs
PC1 and older PyCurl version 7.19.5.3: download was possible

PC2 and current

[2016-10-17 18:10] ohagendorf commented on #3051
@sarahmarshy, please have a look at the above problem description.

[2016-10-17 18:23] bridadan commented on #3051
@theotherjimmy Would it be possible to remove the dependency on pyCurl altogether? This creates a dependency on libcurl in Linux that you have to install manually (messed up CI for a bit before manually added the package on all machines). Is there an all Python solution we could use instead?

[2016-10-17 21:26] infinnovation commented on #2961
@screamerbg Thanks, it seems a lot more sensible now.

[2016-10-17 21:26] #2961 closed

[2016-10-18 02:13] meta-johnny commented on #2919
@pan Thanks for you help.
This is the version information of my compiler:
Using built-in specs.
COLLECT_GCC=arm-none-eabi-gcc
COLLECT_LTO_WRAPPER=c:/program\ files\ (x86)/gnu\ tools\ arm\ embedded/4.9\ 2015
q3/bin/../lib/gcc/arm-none-eabi/4.9.3/lto-wrapper.exe
Target: arm-none-eabi
Configured with: /home/build/work/GCC-4-9-build/src/gcc/configure --build=i686-l
inux-gnu --host=i686-w64-mingw32 --t

[2016-10-18 06:38] pradeep-gr commented on #3038
This test case is passing with PR https://github.com/ARMmbed/mbed-os/pull/2866

[2016-10-18 07:36] ohagendorf commented on #3051
Just a question, maybe a solution.

The reason to use the offline tools is to work offline. Currently, the first time I use mbed export (and maybe more) a huge amount of files are downloaded to collect the necessary infos to create the project files.

Is it really necessary to do that in every offline tool installation?

The result of the download are some json files, as far as I found. So maybe t

[2016-10-18 07:37] infinnovation commented on #3007
The problem may be as much with switching between versions as with the particular version of mbed-os.  Two procedures to demonstrate the problem follow.  Firstly new-old-new:

Import mbed-os-example-blinky (we now get mbed-os 2246:a6f3fd1)
Compile - OK
Switch mbed-os to 2243:d220204
Compile - Errors
[code]
Update mbed-os (back to 2264:a6f3fd1)
Compile - Errors
[code]

By contrast, if the first com

[2016-10-18 08:51] hasnainvirk opened #3057 "Exporting to uvision fails for nucleo F401RE"
Setup:

[code]

mbed export -m NUCLEO_F401RE -i uvision

Error message :

Traceback (most recent call last):
File "/home/hasnain/mbed-os/oob-mbed-os-example-client/mbed-os/tools/project.py", line 234, in
main()
File "/home/hasnain/mbed-os/oob-mbed-os-example-client/mbed-os/tools/project.py", line 230, in main
zip_proj=zip_proj, build_profile=profile)
File "/home/hasnain/mbed-os/oob-mbed-os-example

[2016-10-18 09:04] ohagendorf commented on #3057
Please check C:\Users\YOURUSERNAME\\.local\share\arm-pack-manager if there is an empty index.json.

When yes, it seems to be the problem I described in #3049

Maybe you can find a first solution in my description (using an older version of pycurl)

[2016-10-18 09:23] 0xc0170 commented on #3049
Thank you very much for the detailed description, I have noticed some of the problem with flash algo. We will have a look at this to resolve.

[2016-10-18 09:29] nvlsianpu commented on #3027
@screamerbg Regards PWM failures - on NRF52 target up to 3 PWM instances simultaneously are supported. So test didn't fit target constraints.

[2016-10-18 09:31] nvlsianpu commented on #3027
cc @anangl

[2016-10-18 09:36] ohagendorf commented on #3057
@hasnainvirk , sorry it is #3051

[2016-10-18 09:38] bcostm commented on #2956
Concerning the InterruptIn, I understood the problem but it is not solved. It is because the same interrupt vector is used for GPIO pins Px_5 to Px_9 and another one for pins Px_10 to Px_15.
I have tested each pin individually and they are all ok.
If you test for example D6 (pin Px_9) and any other pin (Px_10 to Px_15) it is ok. But as soon as two pins are tested which are on the same IT vector th

[2016-10-18 09:44] nuket commented on #3045
Awesome.
- I've been using the NRF52_DK for most of my prototyping work. The NRF51_DK RNG seemed to work, but had other problems (too little memory to run everything + crypto from mbed TLS).
- The SoftDevice probably is not started at this point, as the code calling into the RNG is getting called from the constructor of one of my classes, which is defined at the head of my main source file. I may

[2016-10-18 09:45] #3026 closed

[2016-10-18 09:47] EduardPon opened #3058 "Race condition in UDP sendto or recvfrom?"
If UDP is blocking mode (_timeout > 0), we presume there is a race condition in the functions UDPSocket::sendto and UDPSocket::recvfrom when a multiple number threads share the socket.

When a thread enters for instance the sendto function, the mutex _lock.lock() is set. If a second thread  calls the sendto also, it will be blocked in the _lock.lock() call. Next the first caller will execute:

[co

[2016-10-18 09:48] pan- commented on #2919
@meta-johnny From what I see, the only difference is that `-lstdc++` is not included. Could you place a breakpoint at the entry of the function `__libc_init_array` ? It is the function which is supposed to call the constructors before the main. If this function is not available then, it has been removed from your executable.

Please, also try to call it at the entry of the main and report if the d

[2016-10-18 09:52] pan- commented on #3045
@nuket If you download nordic SDK V11, you will see a module handling the RNG. If the softdevice is present (which is always the case for now in mbed-OS), then the module relies on the softdevice primitives otherwise it use the registers available. That might give you *inspiration* if you look at this module until we add the support in mbed-os.

[2016-10-18 10:15] nuket commented on #3045
Ahh yes, I was looking at the `nrf_drv_rng.c` file from SDK 12 yesterday. I'll take a closer look at the `sd_rand_*` functions.

[2016-10-18 10:15] MaggieMei opened #3059 "Nuvoton NUMAKER_PFM_PFM_M453"
### Description
- Type: Bug
- Priority:  Major

---
## Bug

**Target**
NUMAKER_PFM_M453

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)
0.9.9

**meed-os sha:**
(`git log -n1 --oneline`)
b4f3841 Merge pull request #2861 from OpenNuvoton/nuvoton

**DAPLink version:**

**Expected behavior**
Expected tests to pass

**Actual behavior**
tests failed. I2C, Analog

[2016-10-18 10:22] MaggieMei commented on #3059
@Eric-Yang-China @screamerbg

[2016-10-18 11:48] hasnainvirk commented on #3057
@ohagendorf I am using Linux. I don't think Windows 10 solution applies to me.

[2016-10-18 11:52] ohagendorf commented on #3057
But you can check if the CMSIS packs are available. Unfortunatly I can't say where the files are stored under Linux.
As @bridadan wrote, you have to install libcurl manually under Linux.

[2016-10-18 14:05] pradeep-gr commented on #3038
![lp_ticker_test_result](https://cloud.githubusercontent.com/assets/9861403/19480935/e9c6b33c-9569-11e6-9976-d6c57855d145.JPG)

[2016-10-18 14:06] pradeep-gr commented on #3038
Attached snap shot to make sure that we are talking about same test.

[2016-10-18 14:26] theotherjimmy commented on #2995
What you have noticed is that tests do not have the same structure as a normal project. This is intended behavior.

That's actually an issue.

This issue is getting far from it's original topic name. Could we change it, or open another issue?

[2016-10-18 14:30] nuket commented on #3045
Awesome, the `sd_rand_*` functions work fine.

The Nordic SoftDevice RNG returns 32 bytes at a time. Unsure whether bias correction is enabled. In order to get more than 32 bytes of random data for the CTR-DRBG in SHA-512 mode, when `MBEDTLS_CTR_DRBG_ENTROPY_LEN == 48`, the entropy-gathering user callback needs to pool bytes, by calling `sd_rand_application_vector_get()` multiple times, while wait

[2016-10-18 14:34] theotherjimmy commented on #2962
@0xc0170 @bridadan

That's not really supported directly by make, so we would have to worry about the different commands that are needed to find things within the path on the different operating systems, and worry about what they return, and worry about what they will do if you provide an absolute path... I really don't think this is a good idea.

[2016-10-18 14:57] bridadan commented on #3058
Any ideas @geky ?

[2016-10-18 15:22] bridadan commented on #3038
@pradeep-gr When we build and execute tests in CI, we also turn on heap and stack metrics. Perhaps this is affecting something else and causing the issue? Can run the following commands from the latest master and post the log?

[code]

@c1728p9 Do you think that the heap and stack statistics could be affecting this test?

[2016-10-18 15:25] bridadan commented on #2962
@theotherjimmy I think we actually just want to go with the really dumb solution here: Always print the notice about srec :smile: So just a call to `echo`. If we keep it short and sweet, shouldn't be an issue.

[2016-10-18 15:31] c1728p9 commented on #3038
I doubt they would have an effect on the LP ticker

[2016-10-18 15:37] theotherjimmy commented on #3039
@0xc0170 See the linked PR.

[2016-10-18 15:49] geky commented on #3058
I believe those assertions were initially put in place specifically to prevent the use of `recv` from multiple threads.

However, looking into this more, I'm not entirely sure why those assertions are necessary. From the [commit](https://github.com/ARMmbed/mbed-os/commit/04e4d9f450dfcc2b87280c7bb1436177056c6a93) it looks like the goal is to avoid interleaved data from a recv call. However this wou

[2016-10-18 15:50] theotherjimmy commented on #2962
Actually, you want it to print before compiling right? then it would be a call to `$(info ...)`.

[2016-10-18 15:51] theotherjimmy commented on #2962
@pan- @bridadan See the linked PR.

[2016-10-18 16:02] adustm commented on #3039
Sorry I did not find it myself. Thanks !
I have checked that your modification unblocks the script, but I don't see the generated project yet.
I'll have to check that later.
@bcostm

[2016-10-18 16:06] theotherjimmy commented on #3039
If you did an mbed export then it's in the root

[2016-10-18 16:14] c1728p9 commented on #3058
The assertions were added when the mutexes protecting multiple reads or multiple writes at the same time were removed. For UDP, send guarantees that either the whole packet is sent or nothing is sent, so the assert there should be removed here. The same argument could be made for UDP receive. For TCP send an receive calls should never be made at the same time since the data can interleave. Using T

[2016-10-18 17:13] geky commented on #3044
It looks like rtx provides a set of weak functions that can be overloaded to control the RTOS ticker:
http://www.keil.com/pack/doc/CMSIS/RTX/html/group___r_t_x___global___functions.html#ga145e7eafdd042bb522020cbb3b469d9c

To overload the RTOS ticker you need to
 1.  Define `OS_SYSTICK` as 0 ([example](https://github.com/ARMmbed/mbed-os/blob/f59b5f8b75223937137240da0fbc3556de318ec3/targets/TARGET_N

[2016-10-18 17:22] geky commented on #3058
If the user can garuntee that their payload is less than the MTU accross the entire connection, interleaving can be avoided for TCP. A good example would be an application that sends small 4-byte updates from multiple threads, but uses TCP to handle packet-loss and keep-alive.

[2016-10-18 19:19] bcostm commented on #2995
You're right. I have renamed it for clarity.

[2016-10-18 19:22] pan- commented on #2962
Thanks for the PR. That should be enough for the end user and portable across all the OS we support.

[2016-10-18 20:34] pan- commented on #1842
@0xc0170 Any update on this ?
It is an API defect affecting all targets and every release of mbed-os.
What should be done ?

[2016-10-18 21:12] c1728p9 opened #3071 "TLS link time errors when no entropy source"
Prior to PR #2843 security features were turned on even when null entropy was not. This allowed example programs with a link time dependency on TLS but did not actually use TLS to compile and work. One example of this is https://github.com/ARMmbed/mbed-os-example-mesh-minimal.

After PR #2843 examples like this started having linker issues on IAR and ARM since these compilers are less permissive a

[2016-10-18 22:16] c1728p9 commented on #3038
Hi @pradeep-gr, the screenshot you have is for the lp ticker test which is working correctly. The failure occurs on the lp timeout test. You should be able to recreate the problem using this command ```mbed test -t GCC_ARM -m NCS36510 -n tests-mbed_drivers-lp_timeout```

[2016-10-19 10:14] MarceloSalazar commented on #2290
This document should clarify the questions:
https://github.com/ARMmbed/Handbook/blob/5.2/docs/advanced/MINAR_migration.md

If something is not clear / missing, please raise an issue on the doc's repo.

[2016-10-19 10:14] #2290 closed

[2016-10-19 11:25] sg- commented on #3006
@ccli8 thanks for the feedback. I'll have a chat with the mbed TLS maintainers and see how they suggest we handle this.

[2016-10-19 11:44] nvlsianpu opened #3073 "[nRF5] SERIAL_FC functionality is available for all nRF5 targets"
## Enhancement

SERIAL_FC functionality is available for all nRF5 targets
Is already introduced in NRF51_DK and NRF52_DK.
https://github.com/ARMmbed/mbed-os/pull/3041

Could be enable as well in:
TARGET_NRF51_DONGLE
TARGET_TY51822R3
TARGET_DELTA_DFBM_NQ620

For the dongle I will do it by my self.

[2016-10-19 11:48] marcuschangarm commented on #1842
As a user, I would expect that:
- reading a timer would return an unsigned value.
- I could register a callback function to receive overflow callbacks.
- a function called read_ms would have increased range as opposed to read_us, i.e., read_us should overflow 1000 times before read_ms would.

[2016-10-19 11:49] nvlsianpu commented on #3073
cc @pan-, @BlackstoneEngineering, @ytsuboi

[2016-10-19 13:03] andresag01 commented on #3071
I raised an issue in mbedTLS to address this problem https://github.com/ARMmbed/mbedtls/issues/660.

[2016-10-19 13:28] pan- commented on #1842
What is the purpose ? If an overflow occur, the user won't see it until its overflow callback is called. During this time, the timer can be read and the overflow won't be handled.

Checking overflow before (or after) the timer read induce the same kind of issue. Again, there is a small window of time between the timer read operation and the overflow check which can cause an improper handling of an

[2016-10-19 13:34] nuket commented on #3045
Spoke a little too soon.

The SoftDevice RNG seems to work fine, but attempting to seed the CTR-DRBG leads to a Hard Fault (blinkenlights!), which prints this on the console just before dying:

Which seems to indicate [a stack overflow](http://www.keil.com/support/man/docs/rlarm/rlarm_ar_cfgerrfunc.htm)?

[code]

Based on comments in #2635, the default RTX stack size looks like it's [200 bytes](ht

[2016-10-19 13:39] marcuschangarm commented on #1842
@pan- the purpose would be to track overflows and extend the current timer to higher precision. E.g. I could increment an overflow counter in the callback and extend the timer beyond what is currently supported.

[2016-10-19 13:48] nuket commented on #3045
Hmm. Well, that didn't work. Setting `OS_IDLESTKSIZE=2000`, `OS_STKSIZE=2000`, `OS_MAINSTKSIZE=2000` in `mbed_app.json` still sees the above program jumping to a HardFault pretty much right after `main() starting.` is printed.

[2016-10-19 20:25] douardda opened #3077 "Inconsistent handling of the CFSTORE_CONFIG_BACKEND_FLASH_ENABLED in cfstore_svm.cpp"
The code in features/storage/FEATURE_STORAGE/cfstore/source/cfstore_svm.cpp looks incorrect to me (and does not compile for my nucleo targets):

ARM_Driver_Storage_MTD_K64F and cfstore_svm_storage_drv are declared in a #ifdef CFSTORE_CONFIG_BACKEND_FLASH_ENABLED block but cfstore_svm_storage_drv is used (in cfstore_svm_init) unconditionally. So if this flag is unset, the compilation fails.

Compil

[2016-10-19 21:50] #3034 closed

[2016-10-20 06:23] EduardPon opened #3081 "How to track down task ID's of RX errors?"
Is there a way to log the ID's and reference where this is done of task creation (threads/timers)?

Currently it is hard to track down which task ID runs into a RTX error.

[2016-10-20 09:36] EduardPon opened #3082 "Queue overflow by system tick event"
The sysTimerTick tries to put an event into kernel timer queue (isrMessagePut function   cortex M  rt_CMSIS.c), but overflows by performing the following sequence on our K64F boards:
- Perform IP UDP communication (TX CoAP messages addressed local host and multi cast).
- Unplug the Ethernet cable and wait at least 5 seconds. UDP communication is in the meanwhile not stopped.
- Plug in the Ethernet

[2016-10-20 12:17] 0xc0170 commented on #3002
Should be resolved by https://github.com/ARMmbed/mbed-os/pull/3070

[2016-10-20 12:17] #3002 closed

[2016-10-20 16:44] infinnovation opened #3091 "How to check version of mbed-os at compile time?"
### Description
- Type: Question
## Question

Is there a way to check which version of mbed-os is present e.g. 5.1 versus 5.2?  It would be nice if there were some macro such as MBED_VERSION to check against, but I don't see one.

I was trying to get some code to compile cleanly against both 5.1 and (release candidate) 5.2.  In 5.2, some methods are deprecated, resulting in warnings, but the alter

[2016-10-20 17:49] 0xc0170 commented on #3091
We provide mbed library macro for mbed 2. I think it would be nice to have a version in the code (x.y.z)

cc @sg-

[2016-10-20 17:49] 0xc0170 commented on #3081
cc @c1728p9 @geky

[2016-10-20 18:51] theotherjimmy commented on #3043
@screamerbg ?

@hasnainvirk I think that this is an mbed-cli issue.

[2016-10-20 18:53] theotherjimmy commented on #3037
@screamerbg  is this resolved in mbed-cli v 0.9.10?

[2016-10-20 18:55] theotherjimmy commented on #3051
@ohagendorf Now that #3067 is merged, is all of this resolved?

[2016-10-20 18:57] theotherjimmy commented on #3057
@hasnainvirk they were stored in $HOME/.local/share/arm-pack-manager.

OTOH, #3067 was merged, so this should no longer be an issue.

[2016-10-20 18:58] theotherjimmy commented on #3039
@0xc0170 @adustm This should be resolved as #3060 has been merged.

[2016-10-20 18:59] theotherjimmy commented on #3025
Looks like were good!

[2016-10-20 18:59] #3025 closed

[2016-10-20 19:01] theotherjimmy commented on #3039
please re-open if this problem persists

[2016-10-20 19:01] #3039 closed

[2016-10-20 19:03] theotherjimmy commented on #3051
--update-packs is available to force a re-download of the packs if you need to test the bleeding edge. Otherwise, we don't download and use the checked-in version of the index and aliases files.

Ergo:
 * No errors on export
 * Offline tools don't touch the internet.

[2016-10-20 19:03] #3051 closed

[2016-10-20 19:03] geky commented on #3036
Unfortunately this is not supported yet, and there is no link information available from the network interfaces. However we are looking into introducing this form of events.

[2016-10-20 19:25] theotherjimmy commented on #2965
Fetching is no longer done. Closing.

[2016-10-20 19:25] #2965 closed

[2016-10-20 19:35] theotherjimmy commented on #2892
We got this resolved.

[2016-10-20 19:35] #2892 closed

[2016-10-20 19:37] theotherjimmy commented on #2862
@Patater We now have Make_xxxx and eclipse_xxxx exporters. We're getting there ;)

[2016-10-20 19:39] theotherjimmy commented on #2927
@kuggenhoffen Hi Jaakko! Can we close this one? The macros should be there.

[2016-10-20 19:41] theotherjimmy commented on #2683
I think this is resolved now.

[2016-10-20 19:41] #2683 closed

[2016-10-20 19:42] theotherjimmy commented on #2600
now that we have the PR, can we close this issue?

[2016-10-20 19:47] theotherjimmy commented on #2448
@JojoS62 It's been a few weeks! If you could get back to me on this:

Then I can get on making the LPCXpresso exporter more robust.

[2016-10-20 19:51] theotherjimmy commented on #2320
Unfortunately this is still a thing.

[2016-10-20 19:54] theotherjimmy commented on #1692
Progen is no longer used.

[2016-10-20 19:56] kuggenhoffen commented on #2927
Hi all, seems to be working now as expected atleast for uvision5. I'll close this

[2016-10-20 19:56] #2927 closed

[2016-10-20 19:56] theotherjimmy commented on #1683
I'm pretty sure this is resolved. It has been a while though.

[2016-10-20 19:56] #1683 closed

[2016-10-20 20:57] ohagendorf commented on #3051
@theotherjimmy, I think the changes will improve the behaviour incredible.

I checked --update-packs at the system, that didn't download at all the packs with the current pycurl version. It is still not possible. The old pycurl version runs through. So maybe changing to another download library should be a future task.

[2016-10-20 21:02] theotherjimmy commented on #3051
Yup. I'm going to open another issue for the change from pycurl to something better.

[2016-10-20 21:07] theotherjimmy opened #3095 "Arm-Pack-Manager - Download packs with something other than pycURL"
### Description
- Type: Enhancement
- Priority: ~~Minor~~ Major
## Enhancement

Currently, pycURL is a problematic dependency. It's problematic in that it can be a pain to install on linux, and newer versions do not always work. Further, libcurl did not follow redirects leading to incorrect behavior on some pdsc files.

We should switch to another url-downloading thingey like [urllib2](https://doc

[2016-10-20 21:08] theotherjimmy commented on #3095
@ohagendorf let's continue this discussion here

[2016-10-20 21:27] ohagendorf commented on #3049
@theotherjimmy, it is not only a problem of Nucleo boards but also of Discovery boards. Maybe more, I tested exporting and opening in uVision with some other tagrgets, I've never seen an entry in the Programming Algorithm list.

[2016-10-20 21:29] theotherjimmy commented on #3049
I don't think we populate it.

[2016-10-20 21:30] theotherjimmy commented on #3049
So I updated the title to better match the problem.

[2016-10-20 21:51] infinnovation opened #3098 "Compiling for 5.2 warns about non unique test_env.o"
### Description
- Type: Bug
- Priority: Minor

---
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**mbed-cli version:**
0.9.10

**mbed-os sha:**
1d87508

**Expected behavior**
Clean compilation

**Actual behavior**
Compilation succeeds, but a warning message is issued:

[code]

**Steps to reproduce**

[code]

[2016-10-20 23:29] bulislaw opened #3100 "[UBLOX_EVK_ODIN_W2] wifi example export to make_iar fails to compile - 5.2-rc4"
### Description
- Type: Bug
- Priority:  Major

---
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
IAR

**meed-os sha:**
1d87508

*\* App **
https://github.com/ARMmbed/oob-mbed-os-example-wifi @ 5.2-rc4

It works with `mbed compile -t iar` but fails with export to make_iar:

[code]

The .a file exists but the actual name is ublox-odin-w2-driver.a

[2016-10-20 23:58] bridadan opened #3101 "[Exporters] K64F Default Debug profile set to JTAG"
### Description
- Type: Bug
- Priority: Major

---
## Bug

**Target**
K64F

**IDE:**
IAR

**Toolchain version:**
IAR 7.70

**mbed-cli version:**
0.9.10

**meed-os sha:**
1d875083b701a5e530f97ba615e2c0d2060d09e5

**Expected behavior**
Debug works without having to modify any settings

**Actual behavior**
Must set the CMSIS-DAP Debugger to use `SWD` instead of `JTAG`

**Steps to reproduce**
`mbed ex

[2016-10-21 00:02] bulislaw opened #3102 "[K64F] wifi example export to make_arm fails to compile - 5.2-rc4"
### Description
- Type: Bug
- Priority:  Major

---
## Bug

**Target**
K64F

**Toolchain:**
ARM

**meed-os sha:**
1d87508

*\* App **
https://github.com/ARMmbed/oob-mbed-os-example-wifi @ 5.2-rc4

It works with `mbed compile -t arm` but fails with export to make_arm:

[code]

[2016-10-21 02:23] bridadan opened #3103 "Makefiles should assume your compiler is in your path"
### Description
- Type: Enhancement
- Priority: Minor

---
## Enhancement

**Reason to enhance or problem with existing solution**
Currently Makefiles hard code the paths to the compilers based on the paths set by `mbed_settings.py` and `settings.py`. This is not always the correct path, especially if you have the compiler in your path already.

**Suggested enhancement**
Since `make` is already re

[2016-10-21 06:53] Sim-jaeil commented on #2937
Do not have a solution yet?
[Serial] function -> [RawSerial] function ----- OK
Is two functions, what else?

[2016-10-21 07:25] JojoS62 commented on #2448
thanks for asking. I'm still struggling with the exporters in general. I use the mbed-os master branch and I execute the following:
[code]
That gives me an output in mbed-os\export where still a lot is missing and the dir structure is messed up, even a mbed.h. I have attached the complete folder 'MBED_BLINKY_lpcxpresso_LPC1768 '
[MBED_BLINKY_lpcxpresso_LPC1768.zip](https://github.com/ARMmbed/mbed-

[2016-10-21 07:34] 0xc0170 commented on #3049
@theotherjimmy @sarahmarshy How to get those flash algos in the debugger settings?

[2016-10-21 07:45] JojoS62 commented on #2883
re-opened because this problem still exists.
I was able to fix the exporter and the modified codered_cproject_common.tmpl ist in my master branch of the forked project. My problem is now only how to use the exporter in general as mentioned in #2448 or #2995

[2016-10-21 07:49] ciarmcom commented on #3101
ARM Internal Ref: IOTMORF-565

[2016-10-21 09:11] #2195 closed

[2016-10-21 09:51] Patater commented on #2862
@theotherjimmy Thanks for the update. Keep it up!

[2016-10-21 10:13] 0xc0170 opened #3105 "Makefile for nrf5x - combined requirement not documented"
### Description
- Type: Enhancement
- Priority: Major
## Enhancement

**Reason to enhance or problem with existing solution**

The mbed-cli produces hex file that contains softdevice, thus a user can copy this binary output and it works. However, makefile produces also -combined.hex that is most likely not documented. We should be consistent

**Suggested enhancement**

Either use suffix combined f

[2016-10-21 10:28] ashok-rao commented on #2962
Referring to comments under https://github.com/ARMmbed/oob-mbed-os-example-ble/issues/19 , can we have a confirmation message after the end of srec execution to confirm to the user that the hex file is ready for flashing to target - maybe output the path to the file? the NOTE is a bit mis-leading at the moment.

[2016-10-21 10:39] pan- commented on #2962
@theotherjimmy

[2016-10-21 10:56] nvlsianpu opened #3106 "Empty destructors code of HW drivers"
### Description of defect

Most of driver has empty destructor code. The consequence is that there is no possible to de-initialize corresponding hardware in uC. It might caused malfunction when uC common hw part (e.g. GPIO) were used for few  peripherial or so. It also might cause incresed power consumption because there is no entry to disable Hardware.

For example on nRF5 target we can use a pin

[2016-10-21 11:43] tommikas opened #3107 "Misleading readme for mbed-mesh-api"
### Description
- Type: Bug
- Priority: Minor

---
## Bug

Channel range is misleading. At least channels beyond 26 don't seem to work.

| 6lowpan-nd-channel        | number [0-**27**] | RF channel to use when `channel_mask` is not defined |

**Expected behavior**

Using values in the range given in the [readme](https://github.com/ARMmbed/mbed-os/blob/master/features/nanostack/FEATURE_NANOSTACK/mb

[2016-10-21 15:51] screamerbg commented on #3037
Yes, now fixed.

[2016-10-21 15:51] #3037 closed

[2016-10-21 16:20] theotherjimmy commented on #2962
Yep! re-opening to keep this tracked.

[2016-10-21 17:04] theotherjimmy commented on #2883
I'll take a look real quick.

[2016-10-21 17:06] theotherjimmy commented on #2883
The changes look good.

[2016-10-21 17:06] geky commented on #3081
You can use [`Thread::gettid`](https://github.com/ARMmbed/mbed-os/blob/master/rtos/Thread.h#L315-L318) function to access the thread's id when you spawn a thread. I believe this is the same id printed during errors.

I do know that the thread id is just a casted pointer to rtx's TCB structure ([here](https://github.com/ARMmbed/mbed-os/blob/3a16ca9855528fdb801b11f275ffdca7b5ed9f26/rtos/rtx/TARGET_C

[2016-10-22 07:15] Testato commented on #2631
Mbed have two "product"
mbed-dev
mbed-os

mbed-dev is the classic mbed, whitout Rtos, and this will always supported and mantained.
mbed-os is the rtos mbed, not the new mbed. mbed-os is not a new mbed version, it is a new product

So the platformio project, imho, should have this two mbed library on a two different framework.

[2016-10-22 07:29] Testato commented on #2631
For bluepill will be:
[code]

[2016-10-22 08:57] JojoS62 commented on #2882
@theotherjimmy
I think I've got it now. The outdated docs/building.md is misleading. As far as I understand now the mbed-os/tools are now not intended for stand-alone usage. Instead the command should be invoked via mbed (mbed-cli install necessary). That is different from the older mbed-master behaviour.
If this is right, I suggest to throw an error if the tools are not inoked via mbed to avoid t

[2016-10-22 08:57] #2882 closed

[2016-10-22 09:23] JojoS62 commented on #2995
The export handling is now different than with mbed-master: the mbed-cli project contains everything for all targets and features. Project files for IDE's are generated in the root of the project and the IDE should use now mbed-cli directory structure. Am I right?
For some IDE's its working already, but with the given .project for LPCXpresso the IDE scans all directories and tries to compile every

[2016-10-22 14:47] sarahmarshy commented on #3103
Yes, getting rid of these lines https://github.com/ARMmbed/mbed-os/blob/master/tools/settings.py#L40 would be great. We already assume things about where users are putting their installations, and I think it would be better to assume they are in the path rather than these arbitrary locations. The con can be mitigated because setup already requires an additional step of editing mbed_settings.py.

[2016-10-24 02:23] d-kato opened #3115 "Issue of when using "mbed.lib" and "mbed-rtos.lib" at the same time."
### Description
- Type: Bug
- Related issue: https://developer.mbed.org/questions/74081/Unable-to-use-TCP-along-with-ADC/
- Priority: Major
---
## Bug

**Target**
GR-PEACH, NUCLEO-F429ZI

**Toolchain:**
ARM (Online compiler)

**Expected behavior**
LED blink.

**Actual behavior**
The program to crash with the following debug message:
_mbed assertation failed: interrupts_disabled, file: C:\Jenkins\w

[2016-10-24 02:54] toyowata commented on #3115
I just quick tested it and I also reproduced this runtime assertion failed by following platforms:

* LPC1768
* FRDM-K64F
* nRF52-DK
* LPC4088-QSB

I guess all mbed2 + mbed-rtos lib combinations have same issue.

cc @sg- @0xc0170

[2016-10-24 07:33] bulislaw commented on #3103
Yes please, that would be great!

[2016-10-24 12:21] pradeep-gr commented on #3038
Issue resolved with commit 60e9e9e91da600372ce94d256c33240688882488

[2016-10-24 12:28] 0xc0170 commented on #3115
cc @c1728p9

[2016-10-24 12:29] 0xc0170 commented on #3107
@tommikas Can you send a fix please for this readme?

[2016-10-24 12:30] 0xc0170 commented on #3107
cc @SeppoTakalo

[2016-10-24 12:55] markus-becker-tridonic-com commented on #2500
The workaround sort of works, but still it would be better to have this solved in mbed test properly. The workaround requires adding #ifdef's in every source file.

[2016-10-24 12:58] bcostm commented on #2937
No solution found.
I tried what you wrote with RawSerial and I confirm also that it works with this class.
But I have now a uVision project running and I can debug the program. For now what I see is a hard fault when a character is received. Don't know why yet. I continue my investigation...

[2016-10-24 13:07] tommikas commented on #3107
Unfortunately I don't really know enough about this to know what it should be, or whether there are other inaccuracies. Just happened to run into this particular problem.

[2016-10-24 13:17] SeppoTakalo commented on #3107
If using channel page 0:
For 2.4 Ghz I believe channel numbers go from 11 to 26.
For 868 Mhz channel 1 is only allowed.
For 915 Mhz channels 2 to 10 are valid.

So maybe we need to remove the `[0..27]` instruction because it all depends on your frequency.

[2016-10-24 13:26] javier-moreno-tridonic-com commented on #2605
Since this functionality was merged already (see https://github.com/ARMmbed/mbed-os/pull/2845) this can be closed

[2016-10-24 13:26] #2605 closed

[2016-10-24 13:36] bcostm commented on #2937
The program crashs in function` _mutex_acquire` in file RTX_CM_lib.h. Looking in the assembly file, there is an hard fault when the assembly instruction `SVC `is executed.

Note that this function is called several times without any problem before a character is received.

Anybody has an idea ?

[2016-10-24 13:57] kgoveas opened #3117 "Exporting using project.py in the offline version is not working"
### Description
- Type: Bug
- Related issue: `unknown`
- Priority: Major

---
## Bug

**Target**
LPC1768 - All Supported MCUs

**Toolchain:**
GCC_ARM

**Toolchain version:**
eclipse_gcc_arm, make_gcc_arm, gcc_arm

**mbed-os branch**
(`https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.2`)

**DAPLink version:**

**Expected behavior**
Expected to provide the source library which can be compiled using

[2016-10-24 14:14] infinnovation opened #3118 "K64F: Memory leak in network driver"
### Description
- Type: Bug
- Related issue: #2553
- Priority: ?

---
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**mbed-os sha:**
de41409

**Expected behaviour**
The ability to continue send large (1400-byte) UDP packets

**Actual behaviour**
After sending two bursts of packets, I am unable to send any more

**Steps to reproduce**
See [demonstration program](https://developer.mbed.org/users/

[2016-10-24 14:23] 0xc0170 commented on #3117
I can reproduce this locally, from master.

cc @theotherjimmy @sarahmarshy

[2016-10-24 14:24] 0xc0170 commented on #3100
cc @theotherjimmy @sarahmarshy

[2016-10-24 14:26] kgoveas commented on #3117
Hi @0xc0170,

Is there a current plan to support the offline toolchain?

Also some documentation regarding offline exporting would be helpful around build.py, and project.py.

Thank you.

[2016-10-24 14:32] 0xc0170 commented on #3117
Please request the docs in the new issue, for visibility.

If you are asking about this issue, will be fixed

[2016-10-24 14:34] kgoveas commented on #3117
Ok. Thank you.

[2016-10-24 14:35] 0xc0170 commented on #3118
cc @geky @kjbracey-arm @mmahadevan108 @bogdanm

[2016-10-24 14:42] Timmmm opened #3119 "nRF51822 flash overflow not detected"
I'm using mbed-os 5 with the nRF51-DK target. This makes it use `mbed-os\hal\targets\cmsis\TARGET_NORDIC\TARGET_NRF5\TARGET_MCU_NRF51822_UNIFIED\TOOLCHAIN_GCC_ARM\TARGET_MCU_NORDIC_32K\NRF51822.ld` as the linker script.

I'm very close to the flash size limit, but before I actually reach the `region`FLASH' overflowed by 4704 bytes` error there comes a point where it still compiles, yet the hex fil

[2016-10-24 15:49] ciarmcom commented on #3115
ARM Internal Ref: IOTMORF-567

[2016-10-24 16:09] c1728p9 commented on #3115
Hi @d-kato thanks for the example program. It made this problem easy to reproduce. I can confirm that this is a problem due to the memory size of PlatformMutex changing depending on if MBED_CONF_RTOS_PRESENT is defined. Since the mbed library is built with MBED_CONF_RTOS_PRESENT undefined, this value should also be undefined when building a user application.

The fix I propose is to delete mbed-rt

[2016-10-25 01:16] toyowata commented on #3115
Hi @c1728p9 thank you very much for your quick investigation.

I couldn't see assertions on multiple target boards by removing mbed_.lib.json in mbed-rtos library.

[2016-10-25 02:35] d-kato commented on #3115
Hi @c1728p9. Does exclusive access control of multiple tasks work by this change?

[2016-10-25 02:38] c1728p9 commented on #3115
Mutexes work as expected, but PlatformMutex provides no protection. Everything needs to be protected by the application with a Mutex.

[2016-10-25 02:54] d-kato commented on #3115
I understand. Thank you.

[2016-10-25 07:00] 0xc0170 commented on #3119
cc @pan-

[2016-10-25 07:01] 0xc0170 commented on #3119
cc @pan- @nvlsianpu @anangl

[2016-10-25 07:06] betzw opened #3123 ""target_overrides" unhandy for "macros" with values"
### Description
- Type: Enhancement
- Priority: Minor

---
## Enhancement

**Reason to enhance or problem with existing solution**
When trying to override the value of a macro defined in `targets.json` for an application in file `mbed_app.json` I didn't find a better way then first removing the first macro **including** its value and then add the macro with its new value (all my other trials eithe

[2016-10-25 07:36] bogdanm commented on #3118
@infinnovation, can you please check if #3124 fixes this issue?

[2016-10-25 07:43] 0xc0170 commented on #3123
@bogdanm @theotherjimmy

[2016-10-25 08:14] 0xc0170 commented on #3115
@c1728p9 Let us know once the rtos is fixed as proposed above, and we shall close this issue as resolved

[2016-10-25 08:25] bogdanm commented on #3123
The purpose of `macros_add` was to allow for **cumulative** values: you *add* this macro to the list of macros you inherit from your base target(s) (same goes for `remove`). When you use `target.macro_values`, is that still cumulative, or does it just set the macro values (without inheriting the other macros from the base target(s))? It feels a bit strange. We could introduce `macros_replace` to c

[2016-10-25 09:01] betzw commented on #3123
The operation would not be cumulative but is intended to **replace** the value assigned to an inherited macro by another value without having to specify the original value of the inherited macro.

[2016-10-25 09:14] betzw opened #3125 "No email notifications"
### Description
- Type: Question
- Priority: Minor
---
## Question

I have noticed in the last weeks that it seems as if I do not get email notifications for the issues and pull requests authored by myself even if my settings should specify this.
Any idea?

cc @ARMmbed

[2016-10-25 09:45] teetak01 commented on #2737
Nice, missed this update. Its working now. Thanks @geky @jupe

[2016-10-25 09:45] #2737 closed

[2016-10-25 09:46] infinnovation commented on #3118
No, it doesn't fix the issue.  The change may be part of a solution, but my no means all of it.

One of the problems is that the test in the "while" loop doesn't work - I haven't investigated why.  If it did work, it would just loop obtaining all 8 semaphore tokens and then block forever.

I can think of two possible ways to implement the buffering mechanism.

The first uses the semaphore tokens a

[2016-10-25 09:47] EduardPon opened #3126 "Flash driver K64F (non flex memory) does not properly collaborate mbed5 OS."
We would like to have a non volatile memory to store configuration data that must survive a reset/power cycle. So the using the HAL driver flash functions would be the way to go. But unfortunately these functions seem to block the OS too long, causing some issues in the OS. For example the erase function, it won't work without disabling the interrupts.
[code]

Also programming the flash can only b

[2016-10-25 09:50] Sim-jaeil commented on #2937
Does this problem occur for any other CPU not only for STM?

[2016-10-25 09:53] bogdanm commented on #3123
I believe `macros_replace` is a better name,, and we can certainly implement that.

[2016-10-25 09:53] 0xc0170 commented on #3125
Seems to be working fine for me. You shall review your settings for This organization/repository or contact github.

[2016-10-25 10:01] 0xc0170 commented on #3126
@rgrover

[2016-10-25 10:21] rgrover commented on #3126
Would using the FAT filesystem work for you? It is an existing, mature solution as long as your application can work against an SDCard back-end for the filesystem.
Writing against an SDCard filesystem would not require blocking the OS for periods of time. The filesystem will also internally align arbitrary writes to the underlying SDCard block-size.
Could this work for you?

[2016-10-25 10:22] bogdanm commented on #3118
Interesting. All I did with this change was mirror the corresponding code from the LPC1768 driver (on which the K64F one is based). It seems that the issue is more than just a missing semaphore release though.
The test in the `while` loop should work at least to some extent, that much we know, because that `while` loop was problematic for a different reason in the past and we've fixed it.  I'll ke

[2016-10-25 10:28] kjbracey-arm commented on #3118
The Nanostack version of the driver got tightened up a lot and stress tested by @hasnainvirk. I do recall the LWIP one(s) that it was originally derived from being a bit of a mess.

He mainly used lots of flood pinging from other devices using large and fragmented datagrams.

You may want to see how that version ended up:

https://github.com/ARMmbed/sal-nanostack-driver-k64f-eth

[2016-10-25 10:30] betzw commented on #3123
Actually, I do not care about the name.

[2016-10-25 10:48] EduardPon commented on #3126
It is not intended to use a SDCard.
For the product we have in mind, we have to use the free part of the internal flash memory of the K64F.

[2016-10-25 11:00] rgrover commented on #3126
If your application code can fit within the first 512K of internal flash, then the second 512K bank is free for storing data. In this case you can enjoy the impunity to use the second bank without blocking interrupts across FLASH erase/program operations. Interrupts need to blocked only if there is a possibility of ISRs running out of the same flash bank as data operations. Can you separate code a

[2016-10-25 11:04] EduardPon commented on #3126
Yes must be feasible.
So only accessing the second bank is sufficient, no flash configuration changes are required?
Thanks.

[2016-10-25 11:06] rgrover commented on #3126
if code and data are on distinct flash banks, then the default operation of flash is safe. No config changes are necessary. I believe the default K64F flash driver encourages and supports this separation. You should be fine just driving flash to write your data into bank-1 (leaving bank-0 for code).

[2016-10-25 11:08] EduardPon commented on #3126
But if we run out and have to use also the second bank, what would than be a solution? Interrupt disabling would be the only option?

[2016-10-25 11:09] infinnovation commented on #3118
I guess there are two potential pitfalls: (1) re-using a slot which hasn't been sent yet; (2) re-using a slot which has been sent (ready bit cleared) but whose buffer has not been reclaimed.  Maybe I've only fallen into pit (2) due to tight timing.  If I had time I'd be tempted to dig out that 10Mbps hub from my box of not-quite-WEEE-yet...

[2016-10-25 11:11] rgrover commented on #3126
yes, the moment code crosses over into the second/'data' flash bank, you'll need to ensure that either:

* code for the flash driver is executing out of RAM or is located on bank-0 AND
* interrupts (in general) are blocked across flash operations or all potentially active ISRs execute code located on bank-0.

executing flash driver out of SRAM and disabling interrupts in general are the easiest wa

[2016-10-25 11:12] EduardPon commented on #3126
Clear, many thanks.

[2016-10-25 11:12] #3126 closed

[2016-10-25 11:47] 0xc0170 opened #3129 "Inheritance - name of the inheritated target is not in the lables"
### Description
- Type:  Question
- Priority: Minor

---
## Question

This code snippet illustrate the problem:

[code]

To make K22F work, I would need to add to extra labels `MCU_K22F512` to the target `MCU_K22F512`. It's not defined by default. But for a regular target like K22F it is, as I recall. I could not find any relevant info in the docs.

cc @bogdanm @theotherjimmy @MarceloSalazar

[2016-10-25 11:50] daniel-cesarini-tridonic-com opened #3130 "Ignoring the return value of _lock.lock() in *Socket*"
### Description

The return value of _lock.lock() in _Socket_ is ignored, leading to wrong software behavior.
- Type: Bug
- Priority: Critical

---
## Bug

**Target**
All

**mbed-os sha:**
ba99a1f31d341f696764525abc05abccccb5e61a

**Expected behavior**
The return value of  `_lock.lock();` should be considered in all places of the Socket and UDPSocket and TCPSocket (e.g., constructor, destructor, s

[2016-10-25 12:26] 0xc0170 commented on #3130
cc @geky @c1728p9

[2016-10-25 12:37] #2931 closed

[2016-10-25 13:54] javier-moreno-tridonic-com opened #3131 "Runtime dynamic memory tracing always returns malloc and free as callers"
### Description
- Type: Bug
- Related PR: https://github.com/ARMmbed/mbed-os/pull/2487/commits/8b908abcc521c72b8ce3cfbd467ee40a950a28a4 @bogdanm
- Priority: Major

---
## Bug

**Target**
NucleoF091

**Toolchain:**
GCC_ARM arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release)

**Actual behaviour**
All the calls made to **MBED_CALLER_ADDR()** inside __wrap__malloc_r and

[2016-10-25 14:14] meta-johnny commented on #2919
I checked my linker command, it is included -lstdc++.
I tried to call __libc_init_array before main but Hardfault  error happened.
The libc.a we used is arm-none-eabi\lib\armv7e-m\libstdc++_nano.a.

Do you have any idea of what might cause this Hardfault issue happened?

[2016-10-25 14:21] c1728p9 commented on #3130
Hi @daniel-cesarini-tridonic-com, this behavior is found in several other places in the codebase and is not specific to sockets. The currently planned solution is to treat mutex acquisitions in a critical section or interrupt to be a fatal error and trap on it. That way no error needs to be propagated in the return value. The change might be made slowly though to give time for code with this probl

[2016-10-25 14:45] bogdanm commented on #3131
I'm unable to reproduce this issue with this modified blinky code:

[code]

and `MBED_MEM_TRACING_ENABLED` defined, on a very recent SHA1 of mbed-os. I'm getting the proper addresses in the tracer's output. Note, however, that `MBED_OS_CALLER_ADDR()` is not necessarily reliable. @c1728p9 made a suggestion to improve this situation a bit, I'll try to do that.

About the other part (the stack trace)

[2016-10-25 14:47] adbridge commented on #2835
@larsgk Hi Lars, I will take a look and see if I can reproduce the same issue locally.

[2016-10-25 14:50] jeremybrodt opened #3132 "Legacy serial port tests call delete and new"
### Description
- Type: Bug
- Priority: Minor

---
## Bug

**Target**
MAX326xx

**Toolchain:**
All

The legacy serial port tests (MBED_37, MBED_38, MBED_A9) delete and instantiate a new serial object to change modes or serial parameters. The Maxim Integrated UART has a hardware FIFO. Putchar will return as soon as the character is in the FIFO. It may not have been transmitted on the wire, yet. The

[2016-10-25 16:38] adbridge commented on #2835
@larsgk
Hi Lars , USBSerial is not supported in mbed-os-5 and by default I suspect this is what you are picking up. It is  supported in mbed-os-2 which you can easily try in the online IDE.
https://developer.mbed.org/handbook/USBSerial

Alternatively if you want to still use mbed-cli then the following steps should get you where you want.
(Assuming your test program would be test_usbserial)
[code]

[2016-10-25 16:59] bridadan commented on #1572
No longer an issue, closing.

[2016-10-25 16:59] #1572 closed

[2016-10-25 17:00] bridadan commented on #2104
Fixed by #2244

[2016-10-25 17:00] #2104 closed

[2016-10-25 17:05] bridadan commented on #1849
@LMESTM The concern for being able to check if the serial hardware has finished sending all data has been raised again in #3132 and #2966.

This was the initial issue that brought it up, however there is quite a bit of discussion in here that is slightly unrelated.

The solution we proposed is to add a C HAL function that allows you to check if the UART hardware is finished sending all data (aka c

[2016-10-25 18:40] geky commented on #3118
Wow! Thanks for putting in the work to track this down! Sorry I couldn't get to it earlier, but the effort put in here led straight to a small hive of bugs.

I've put up a pr that hopefully squashes all of them, let me know if there are any issues:
https://github.com/ARMmbed/mbed-os/pull/3135

[2016-10-26 04:53] betzw commented on #3125
I have done both, but couldn't yet resolve the problem ...

[2016-10-26 07:51] meta-johnny commented on #2919
Sorry. It is working now.
I called the __libc_init_array successfully by refer to K64F.
Thanks a lot.

[2016-10-26 08:11] tommikas opened #3137 "Re-connecting to mesh network after calling `disconnect()` fails."
### Description
- Type: Bug
- Priority: Minor

---
## Bug

`connect()` can only be called once on a mesh interface, even after calling `disconnect()`.

The problem seems to be due to https://github.com/ARMmbed/mbed-os/blob/master/features/nanostack/FEATURE_NANOSTACK/nanostack-interface/NanostackInterface.cpp#L596 trying to initialize things every time `connect()` is called, even if it was already

[2016-10-26 08:28] pan- commented on #2919
@meta-johnny Well, normally you don't have to call this function directly; the c runtime should do automatically it for you. There is still a pending issues in your setup. The best you can do is to use the tools supported by mbed, otherwise it will be impossible to support furthermore your case.

PS: Please close this issue if you feel like it is resolved.

[2016-10-26 09:00] TaniaMirzin commented on #2806
The problem is still existing in 5.2 and with updated mbed cli.
Can you check it please

[2016-10-26 09:02] ramtin-r commented on #2955
1. Only A1 and A2 can be as digital pins.

2. D2 is used for UART and can not be used for testing digital loop case.

3. A4 is disabled and can not be used at all.

4. SPI Failures -> Not clear what the problem is

cc @adustm @bcostm @betzw @andreaslarssonublox @screamerbg

[2016-10-26 10:54] adbridge commented on #2829
@bcostm @adustm Can you comment why DISCO_F407VG has no "releases" field in targets.json. Not being tagged as supported for mbed-2 is causing it to be omitted from the mbed compiled library. Thanks.

[2016-10-26 11:10] bremoran opened #3138 "k64f_emac.c calls malloc from within IRQ context"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Bug
- Priority: Minor
- Related issue: #3118

---
## Bug

**Target**
K64F

**Toolchain:**
All

**Toolchain version:**
All
**mbed-cli version:**
All

**meed-os sha:**
e435a07d9252f133ea3d9f6c95dfb176f32ab9b6

**DAPLink version:**
N/A

**Expected behavior**
Memory allocation in IRQ context should

[2016-10-26 11:13] 0xc0170 commented on #3138
cc @geky @bogdanm

[2016-10-26 12:34] adbridge commented on #2820
@bridadan Do you know anything about this?

[2016-10-26 12:39] 0xc0170 commented on #2806
@TaniaMirzin We will have a look. One more thing to clarify , this step : `` 3.Compile mbed-os as a library.`` what commands should we run?

I havent got any problem with armcc and mbed cli

[2016-10-26 12:56] adbridge commented on #2806
@TaniaMirzin I just did the following:
[code]
That compiled fine for me?

[2016-10-26 13:26] adbridge commented on #2803
@sakag1975 mbedmicro referred to the old mbed-sdk (mbed-os 2), with the update to mbed-os 5 the github repo is now (as you have seen) https://github.com/ARMmbed/mbed-os . It looks like the documentation just needs an update, please feel free to submit a PR.
Please note that if you actually want to source mbed 2 then you can get it from mbed.org -
https://developer.mbed.org/users/mbed_official/code

[2016-10-26 13:38] adbridge commented on #2758
@aracosta1 It looks like your issue should be fixed with the latest release of mbed-os (5.2.0). Could you please verify and close this issue if so ? Thanks.

[2016-10-26 13:42] adbridge commented on #2740
@screamerbg

[2016-10-26 14:56] infinnovation commented on #3138
These are not in IRQ context - they are in separate threads.  The threads are scheduled from IRQ handlers via semaphores.

[2016-10-26 15:10] LiyouZhou commented on #1994
@sg- @screamerbg @theotherjimmy I am encountering this again. Could I please get some help on this issue?

[2016-10-26 15:39] bremoran commented on #3138
Based on the LwIP implementation guidelines, data should be queued in the IRQ handler, then processed in thread context.

[2016-10-26 15:51] bridadan commented on #2820
As far as I know this issue should be resolved. @jeromecoutant If you can verify this, could you please close the issue?

[2016-10-26 15:51] bremoran commented on #3138
For example, here is the sample driver that LwIP provides. Note that it allocates from `PBUF_POOL` rather than `PBUF_RAM`

https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip/src/netif/lwip_ethernetif.c#L200

[2016-10-26 16:01] bridadan commented on #1994
@LiyouZhou This was an issue in that release of mbed OS. However this should be resolved in any recent version of mbed OS. You'll also want to update your mbed CLI installation to the latest. This is the command you'll want to use:

[code]

NOTE: If K64F_SECURE is a custom target, I believe this support was removed a while ago? Honestly not sure about it since I was never all that involved with it

[2016-10-27 01:52] #2919 closed

[2016-10-27 09:39] 0xc0170 commented on #3006
There was this same question asked already this week few times, time to progress this.
How to distinguish mbed 2 vs mbed 5. There's an open pull request to add MBED_VERSION macro (major/minor/patch). This however is proposed just for mbed 5. We could do this for mbed 2. Reference: https://github.com/ARMmbed/mbed-os/pull/3096

Lets take some code from  there and illustrate how it can be done:

[cod

[2016-10-27 10:18] #2820 closed

[2016-10-27 10:55] geky commented on #3006
Another option to consider, what if we provided `MBED_CONF_MBEDTLS_PRESENT`? This would highlight the specific dependency of the driver and has worked surprisingly well for the rtos.

[2016-10-27 11:07] pan- commented on #3006
@geky Indeed, it would also work for application using mbed SDK and importing mbed TLS.
I wonder why this alternative implementation of aes lives in the drivers; I'm not sure that the code pointed out should live in the OS, it is not a driver, it is an implementation for an *external* library.

[2016-10-27 11:38] daniel-cesarini-tridonic-com commented on #3130
Hi @c1728p, you say that "The currently planned solution is to treat mutex acquisitions in a critical section or interrupt to be a fatal error and trap on it.". Could you please elaborate on this?

In our case we had an Socket, containing the Mutex object, that was deleted during the error handling on the Network send function. Although that Socket had been deleted, a tasklet, scheduled with Nanos

[2016-10-27 11:50] kjbracey-arm opened #3145 "Base DNS code defaults to type A queries on IPv6 interfaces"
- Type: Bug
- Priority: Major

If the base DNS code is in use, eg for Nanostack rather than lwIP, no attempt is made to perform the correct type of address query by default. SocketAddress(iface, "ntp.pool.org"), as seen in the CLI test app, will perform an IPv4 A type lookup when using Nanostack and iface is IPv6 only.

At some point in the lwIP IPv6 development we had the top level gethostbyname(

[2016-10-27 11:51] kjbracey-arm commented on #3145
@SeppoTakalo, @mikaleppanen, @c1728p9, @geky

[2016-10-27 11:54] kjbracey-arm opened #3146 "NanostackInterface does not fault IPv4 addresses"
- Type: Bug
- Priority: Minor

NanostackInterface's implementation of the various network calls does not fault IPv4 addresses - it just assumes all addresses given to it are IPv6.

This can cause traffic to nonsense destinations, eg if passed one of the built-in IPv4 DNS server addresses from the base DNS code.

[2016-10-27 11:55] kjbracey-arm commented on #3146
@SeppoTakalo, @mikaleppanen, @c1728p9, @geky

[2016-10-27 12:00] bogdanm commented on #2738
@yankee14, I read your description of the problem on stackoverflow.com, but I still don't understand why Eclipes behaves like that. The way I see it, DigitalIn/DigitalOut should have exactly the same "visibility" as far as Eclipse is concerned. `device.h` is now obsolete in mbed, we replaced it with data read from `targets.json`. We could generate a file with a different name (but similar content

[2016-10-27 12:03] bogdanm commented on #2738
This is a duplicate of #2718. let's continue the discussion there.

[2016-10-27 12:03] #2738 closed

[2016-10-27 12:06] bogdanm commented on #2718
I don't know how code completion in Eclipse works, so would it help if we generated a header file called `device_config.h` with all the required `#define DEVICE_something` in it? This file shouldn't be included by any ohter file in the project (since all the required `DEVICE_something` defines are already specified on the compiler's command line and including a file that defines them again might t

[2016-10-27 12:12] bogdanm commented on #2635
5.2 was released. @mfiore02, can you please check if this issue still exists with 5.2? For reference, the release note for 5.2 is [here](https://docs.mbed.com/docs/mbed-os-release-notes/en/latest/5_2/release_note/)

[2016-10-27 13:04] bcostm commented on #2829
This platform SDK has not been done by ST but by the community. But if all mbed 2 tests are OK, I don't see any problem to add this releases field in the targets.json file.

[2016-10-27 13:35] adbridge opened #3148 "KL25Z test regression - signals messaging for mbed-os 2"
### Description

signals messaging test for the mbed-os-2 test suite failed.
- Type: Bug
- Priority: Major
## Bug

**Target**
KL25Z
**Toolchain:**
GCC_ARM

**Toolchain version:**
Latest
**mbed-cli version:**
Latest
**meed-os sha:**
mbed-os-5.2.1 candidate

**Expected behavior**

MBED: Instrumentation: "COM55" and disk: "N:"
HOST: Copy image onto target...
        1 file(s) copied.
Looking for KL25

[2016-10-27 13:40] adbridge opened #3149 "KL25Z test regression - basic thread for mbed-os 2"
### Description

basic thread test from mbed-os-2 test suite is failing.
- Type: Bug
- Priority: Major

---
## Bug

**Target**
KL25Z

**Toolchain:**
GCC_ARM

**Toolchain version:**
latest
**mbed-cli version:**
latest
**meed-os sha:**
mbed-os-5.2.1 release candidate

**Expected behavior**

MBED: Instrumentation: "COM55" and disk: "N:"
HOST: Copy image onto target...
        1 file(s) copied.
Lookin

[2016-10-27 15:53] sg- commented on #3006
mbed TLS is integrated in mbed OS and this is a device implementation which should live with the device. We're missing a mbed C HAL for this.

[2016-10-27 16:33] bulislaw opened #3152 "Odin WiFi broken by DNS API change"
This change `1f4eb0aaa1499f8de88d10c5987af60c2395c9da` by @geky broke compatibility of prebuilt WiFi library for Odin board.

[code]

@andreaslarssonublox could you rebase and rebuild the libraries please.

[2016-10-27 19:49] ciarmcom commented on #3106
ARM Internal Ref: IOTMORF-571

[2016-10-27 20:02] geky commented on #2437
Just a quick update. I do see the error with a physical IP address, tracing packets shows that the >1472 byte packet never makes it down to the link layer, indicating the issue lies somewhere in lwip.

Comparing the successful/unsuccessful cases I was able to narrow down the specific change in behaviour to the following condition in the `etharp` part of lwip:
https://github.com/ARMmbed/mbed-os/blo

[2016-10-27 20:05] jupe commented on #2004
Any news about this @sg- ?

[2016-10-27 20:14] geky commented on #3145
Interesting, my mistake on missing the ':' heuristic entirely.

The current design does allow IPv6 network interfaces to default to AAAA queries if the interface overloads the `gethostbyname` function (which can just call `nsapi_dns_query`).

But I your ':' heuristic makes a lot of sense and should be easy to adopt.

[2016-10-27 20:20] geky commented on #3138
If I understand correctly, this boils down to a tradeoff between interrupt latency and potentially increased packet loss if lwip can't get to the buffered packets in time. From a pragmatic standpoint, I'm not sure changing the existing driver is worth potential gains in this tradeoff. Do you have an example where the current strategy might break down?

Although, I don't think we'd be opposed to me

[2016-10-27 21:02] sg- opened #3153 "FRDM-KL43Z Test Failures"
[code]

Serial NC test fails with ARM, GCC_ARM and IAR

[KL43Z_ARM_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557026/KL43Z_ARM_singletest.txt)
[KL43Z_GCC_ARM_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557028/KL43Z_GCC_ARM_singletest.txt)
[KL43Z_IAR_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557027/KL43Z_IAR_singletest.txt)

[2016-10-27 21:04] sg- opened #3154 "FRDM-KL46Z test failures"
[code]

Fails with ARM, GCC_ARM and IAR

[KL46Z_ARM_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557039/KL46Z_ARM_singletest.txt)
[KL46Z_GCC_ARM_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557038/KL46Z_GCC_ARM_singletest.txt)
[KL46Z_IAR_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557040/KL46Z_IAR_singletest.txt)

[2016-10-27 21:09] sg- opened #3155 "FRDM-KL05 test failures"
[code]

Fails with IAR, ARM and GCC_ARM

[KL05Z_ARM_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557050/KL05Z_ARM_singletest.txt)
[KL05Z_GCC_ARM_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557048/KL05Z_GCC_ARM_singletest.txt)
[KL05Z_IAR_singletest.txt](https://github.com/ARMmbed/mbed-os/files/557049/KL05Z_IAR_singletest.txt)

[2016-10-27 22:09] Testato opened #3156 "Mbed double framework"
https://community.platformio.org/t/mbed-double-framework/962

[2016-10-28 06:31] kjbracey-arm commented on #3138
Our approach for Nanostack drivers in mbed OS 5 has been to do minimal work from interrupts - just signal, basically, and do everything in a real-time priority thread. Even the tightest interrupt timing requirements we have work fine like that. Keeps things generally simpler and more flexible - we're assuming an RTOS, so we may as well get some use out of it.

For an Ethernet driver with DMA like

[2016-10-28 06:36] kjbracey-arm commented on #3145
It is a slightly sneaky heuristic, but it takes advantage of the fact we have this "get_ip_address" API that reports a single address. It also handles any preference in a dual-stack type scenario - if an interface does have both IPv4 and IPv6, it will presumably be reporting its preferred one via that call.

Hadn't occurred to me to do the custom overload redirecting to nsapi_dns_query.

[2016-10-28 07:37] bremoran commented on #3138
To further what @kjbracey-arm has said, allocating out of heap on receive is dangerous. On busy networks, it could easily lead to memory fragmentation, failed memory allocations, etc. This effectively opens a window to denial of service attacks against the MCU. Networks are lossy. It's part of network programming. Dropping a packet because the receive queue is full is much safer than allocating a

[2016-10-28 08:21] pan- commented on #3006
That makes sense now.
What will be the pattern ? An abstraction in the HAL which will be implemented by the targets and an alternative AES implementation based on this abstraction ?

[2016-10-28 08:28] 0xc0170 commented on #3152
Thanks @bulislaw for reporting this. Why the CI did not report this, did we miss something?

We need to be careful with this type of changes. Note taken.

[2016-10-28 08:38] bulislaw commented on #3152
Yes :) We're missing WiFi tests and the EMAC is disabled by default. https://github.com/ARMmbed/mbed-os/pull/3147

[2016-10-28 08:46] 0xc0170 commented on #3156
@Testato Can you describe briefly what's the issue for this repo?

[2016-10-28 09:18] 0xc0170 commented on #2004
``MBED_OS_VERSION`` - there's PR for this, #3096, can review it there.

The rest would be nice to have, +1 from me for having these.

@theotherjimmy @bridadan

[2016-10-28 11:10] tommikas commented on #2437
Alrighty then, that all makes sense. Thanks for digging into it :)

Closing the issue since it's working as intended.

[2016-10-28 11:10] #2437 closed

[2016-10-28 12:04] bremoran commented on #3138
Thinking about it further, by generating the right network traffic, it is possible to deliberately fragment a device's heap. Replacing malloc on receive with pool allocate on receive is not adequate on its own. If a remote device can influence the size of data transmitted by the MCU, then it's possible to cause memory fragmentation on send as well. Sufficiently fragmented memory has the potential

[2016-10-28 12:16] #3156 closed

[2016-10-28 12:17] Testato commented on #3156
Sorry it's an error

[2016-10-28 13:55] 0xc0170 commented on #3155
@mmahadevan108

[2016-10-28 13:55] 0xc0170 commented on #3154
@mmahadevan108

[2016-10-28 13:55] 0xc0170 commented on #3153
@mmahadevan108

[2016-10-28 13:56] 0xc0170 commented on #3149
cc @mmahadevan108

[2016-10-28 13:56] 0xc0170 commented on #3148
@mmahadevan108

[2016-10-28 13:57] 0xc0170 commented on #3137
@SeppoTakalo @kjbracey-arm

[2016-10-28 13:59] 0xc0170 commented on #3129
bump

[2016-10-28 14:04] 0xc0170 commented on #3125
I am not familiar with any other settings for the organization. I don't think anyone can help you here besides github support.

[2016-10-28 14:05] 0xc0170 commented on #664
This should be resolved. The default profile for GCC specifices ``-O`` as ``-Os``, reference : https://github.com/ARMmbed/mbed-os/blob/master/tools/profiles/default.json#L8

[2016-10-28 14:05] #664 closed

[2016-10-28 15:15] 0xc0170 commented on #651
@rei-vilo I believe this can be closed now. There's a release made every 2 weeks - patch releases and then minor release every quarter. The tags are here on github, so you can download the release as zip, or it's always pushed to develop page.

I'll close this issue, if it should stay open, please update it and reopen.

[2016-10-28 15:15] #651 closed

[2016-10-28 15:25] 0xc0170 commented on #3117
bump @theotherjimmy

[2016-10-28 15:34] 0xc0170 commented on #590
Is this issue still valid? There's has been fixed merged and referenced. Please close if it's the case.

[2016-10-28 15:35] bridadan commented on #2004
Wouldn't this cause everything to be rebuilt every time due to the `#define MBED_BUILD_TIME`? Is this an option that would be off by default?

[2016-10-28 15:36] 0xc0170 commented on #506
2 years later, @Sissors what's the status of this issue?

[2016-10-28 15:44] 0xc0170 commented on #901
I am closing this, as we don't use ``CppUTest `` anymore, there are some legacy tests that use it, but since we have ``utest`` and ``greentea_client``, this issue is not relevant anymore.

[2016-10-28 15:44] #901 closed

[2016-10-28 15:45] Sissors commented on #506
Well after waiting 2 years this is in most the defacto standard. I know quite some imports failed if you used the 'update to latest' checkbox, but dunno if that still happens.

[2016-10-28 15:45] 0xc0170 commented on #867
This was fixed once KSDK2 was added to the codebase

[2016-10-28 15:45] #867 closed

[2016-10-28 15:49] 0xc0170 commented on #859
@c1728p9 Sounds reasonable to update the stack pointer argument?

[2016-10-28 16:58] geky commented on #3152
Changes like those are always a minefield, sorry for the trouble.

[2016-10-28 18:00] mmahadevan108 commented on #3153
I had reported this issue sometime ago when submitting the pull request for KL43Z support and had submitted the below PR as fix: https://github.com/ARMmbed/mbed-os/pull/2243

Since the free function is not invoked the UART driver's deinit function is not called. Adding this change to SerialBase.* files will fix this issue.

[2016-10-28 18:44] c1728p9 commented on #859
This might be a breaking API change, since you get a compiler error if the type is wrong. What about modifying the alignment inside the thread class rather than making a user do it? RTX already does this to some extent to force 8 byte alignment.

[2016-10-28 19:35] geky commented on #2968
Does `make CFLAGS+=...` work?

[2016-10-28 21:39] geky commented on #3138
This has been a very interesting discussion, and highlights several concerns with the existing driver (drivers?). I'll look into see how we can improve the threading impact and avoid heap fragmentation.

@bremoran, do you think you could put together what network traffic would cause this sort of fragmentation? This sort of attack would be a great thing to add to tests to catch this in other driver

[2016-10-29 00:36] Neuromancer2701 opened #3163 "Adding setstackopt, etc to the Networking library"
### Description
- Type: Enhancement
- Related issue: `#broadcast`
- Priority: Blocker
## Enhancement

**Reason to enhance or problem with existing solution**
I need broadcast, multicast and maybe unicast options.

**Suggested enhancement**
I can't find any documentation on how this stack is implemented.
Where do I start to implement  the function below?
int NetworkStack::setstackopt(int level, int

[2016-10-30 17:24] sergiuszm opened #3164 "UART Serial printf not working while compiled via GCC_ARM. NUCLEO_F767ZI"
### Description
- Type: Bug
- Priority: Blocker

I am unable to print to serial output using UART.

I have used examples from [mbed/SerialPC](https://developer.mbed.org/handbook/SerialPC).

To confirm that I didn't make a mistake while using SerialPC examples I have compiled the same code via GCC_ARM and via mbed online compiler (it uses ARM Compiler if I am right). The code compiled via GCC_AMR d

[2016-10-31 07:14] EduardPon commented on #3126
Hello,
I still have a question. I'm using currently to disable the interrupts the call __disable_irq().
Presumably this is not safe and I have to use something like core_util_critical_section_enter()?
Thanks in advance.

[2016-10-31 08:23] rgrover commented on #3126
@0xc0170 perhaps you can answer this

[2016-10-31 09:17] 0xc0170 commented on #3164
@bcostm @adustm @LMESTM

[2016-10-31 09:18] 0xc0170 commented on #3163
@geky

[2016-10-31 09:30] bulislaw commented on #3152
Yeah, especially with a binaries in the sources, that's why I want to have tests for Odin. #3147

[2016-10-31 09:37] simonqhughes opened #3167 "CFSTORE fails to return error code when write operations fail ("exhausted flash")"
From: Jenia Kogan
Sent: Friday, October 28, 2016 12:35 PM
To: Rohit Grover
Cc: Nimrod Zimerman; Simon Hughes; Milosch Meriac
Subject: Cfstore

Hi Rohit,

We have some issue with cfstore.
We are using mbed-os 5.2 version and we have board with exhausted flash. Write operations to flash are failed on this board.
What is weird that we don't receive any indication about this failure from the cfstore d

[2016-10-31 09:37] simonqhughes commented on #3167
From: Jenia Kogan
Sent: 28 October 2016 10:35
To: Rohit Grover
Cc: Nimrod Zimerman; Simon Hughes; Milosch Meriac
Subject: RE: Cfstore

Forgot to mention that we are using synchronous mode

[2016-10-31 09:38] simonqhughes commented on #3167
From: Rohit Grover
Sent: 28 October 2016 11:19
To: Jenia Kogan
Cc: Nimrod Zimerman; Simon Hughes; Milosch Meriac
Subject: RE: Cfstore

Jenia,

The K64F storage driver returns a special error code to indicate integrity failures. Refer to this (for the async. operation mode of the driver) or this (for sync. operation). The flash-journal, which is the current backend of the config-store, then transla

[2016-10-31 09:42] simonqhughes commented on #3167
Hi

Thanks for reporting the problem. Please can you help with the following questions?

What do you mean by "exhausted flash"? Do you mean that you're trying to store more data than memory? or than is available on the flash (512kB?)?

If there was no error indication, how do you determine there to be an error? What operations are failing?

Please can you collect some debug logs in the same way as

[2016-10-31 14:54] 0xc0170 commented on #859
Sounds reasonable. @neilt6 What do you think?

[2016-10-31 14:59] neilt6 commented on #859
Sounds good to me.

[2016-10-31 15:01] EduardPon opened #3168 "Socket closed but not freed in NanostackInterface.cpp?"
In the \mbed-os\features\net\FEATURE_IPV6\nanostack-interface, in the source file NanostackInterface.cpp. It looks like NanostackSocket::close(), closes the socket but does not free it. Every reopen (NanostackSocket::open) by calling temp_socket = socket_open(proto, 0, socket_callback), the returned socket ID (temp_socket) is incremented. So after a number of open close cycles, the returned socket

[2016-10-31 15:33] bridadan commented on #3164
@sergiuszm If you haven't already done so, it'd be worth upgrading the version of ST-Link on the board: http://www.st.com/content/st_com/en/products/embedded-software/development-tool-software/stsw-link007.html

[2016-10-31 15:44] sergiuszm commented on #3164
@bridadan Thanks, I have upgraded my firmware from V2J27M15 to V2J28M16. Unfortunately, it didn't fix a problem.

`Building project basic (NUCLEO_F767ZI, GCC_ARM)
Scan: basic
Scan: mbed
Scan: env
Elf2Bin: basic
+-------------+-------+-------+------+
| Module      | .text | .data | .bss |
+-------------+-------+-------+------+
| .build/mbed |  8461 |     8 | 1440 |
| .build/test |   599 |    16 |

[2016-10-31 15:46] 0xc0170 commented on #3126
That's correct, please use it.

[2016-10-31 16:16] bridadan commented on #3164
@sergiuszm Thanks for trying that! At this point I'll hand it off to ST :smile:

[2016-10-31 17:01] 0xc0170 commented on #3168
cc @SeppoTakalo @kjbracey-arm

[2016-10-31 17:05] daniel-cesarini-tridonic-com commented on #3130
Hi @c1728p, you say that "The currently planned solution is to treat mutex acquisitions in a critical section or interrupt to be a fatal error and trap on it.". Could you please elaborate on this?

In our case we had an Socket, containing the Mutex object, that was deleted during the error handling on the Network send function. Although that Socket had been deleted, a tasklet, scheduled with Nanos

[2016-10-31 23:30] sarahmarshy opened #3174 "Confusing "Target not supported" errors from absent device_name field in targets.json"
Since #3173 is the first time it has come up since #2708, but is likely to cause confustion again:

It's obvious that this type of solution needs to be clearer when a user gets a "Target not supported" error. "Target not supported" is potentially ambiguous, as it might mean that the target simply doesn't have a device name, but is described by some CMSIS pack. Though, it could be true that the dev

[2016-11-01 08:32] EduardPon commented on #3168
**Some more details:**

An instantiated socket is freed in destructor.
Opening a new socket returns an incremented ID, even when it was previously freed.
The issue we have is the internal administration of object pointers stored in socket_tbl[socket_id]. It is not cleared in the destructor and hereby causes the issue in the open function:
[code]
A possible fix of the constructor:
[code]

[2016-11-01 08:36] kjbracey-arm commented on #3168
I've seen a similar report before - and don't believe I got an answer to this question.

Do you have a build of Nanostack where SOCKETS_MAX has been increased? The adaptation layer is vulnerable to that being increased - it has its own local assumption that it is 16. You should make a corresponding change to NS_INTERFACE_SOCKETS_MAX there.

Nanostack does cycle through its socket IDs generally - s

[2016-11-01 08:38] EduardPon commented on #3168
Hello Kevin, see my latest findings. I seems we both were adding comment at the same time.

[2016-11-01 08:43] kjbracey-arm commented on #3168
Yes, that seems clear enough. The ID cycling has helpfully concealed that little bug.

However it appears someone has already caught it on master - the fix has been applied in commit 51fd80b.

[2016-11-01 08:47] EduardPon commented on #3168
Ok, thanks.

[2016-11-01 08:47] #3168 closed

[2016-11-01 11:27] 0xc0170 commented on #3174
First of all, is this documented? How to make new target supported ? cmsis packs - what role do they play here, where are IAR definitions (why not cmsis pack are used) , etc ? I could not locate any readme in export folder neither in the docs.

Where is device name coming from? where to find cmsis-packs? These might be essential information for contributors.

[2016-11-01 13:55] sarahmarshy commented on #3174
It's in the docs for targets.json, but perhaps it should be relocated.

[2016-11-01 15:35] bcostm commented on #2987
This issue is fixed now and can be closed.

[2016-11-01 15:40] bcostm commented on #3164
If I understand well you have an issue with MacOS but it is ok with Linux, correct ?
If yes, can you please change the title of this issue and add "with MacOS" ?

[2016-11-01 15:42] sarahmarshy commented on #3174
https://github.com/ARMmbed/mbed-os/blob/master/docs/mbed_targets.md#device_name

[2016-11-01 16:41] sergiuszm commented on #3164
@bcostm Unfortunately, not. I have a problem with both platforms. I can't get a serial output - used test case was just an example of such situation.

This is another code that can be used to test the issue.
[code]

I should get a `Hello World!` on the serial output but I don't get anything.

The same code works perfectly on Nucleo L476RG or works if was compiled with ARM Compiler 5 instead of GNU

[2016-11-01 18:01] #2987 closed

[2016-11-01 19:17] #3145 closed

[2016-11-02 09:21] jeromecoutant commented on #2820
Hi
It is at least OK with mbed-os-5.2.1
Thx

[2016-11-02 09:28] jankii01 opened #3183 "Compiler warning in trng_api.c with K64F"
### Description
- Type: Bug
- Compiler warning - unused variable "ret"
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
N/A

**mbed-cli version:**
0.9.10

**meed-os sha:**
7829b2f9bf23067f3365aff65647b41c3cdfe37c

official release 5.2.0, 5.2.1

**DAPLink version:**

**Expected behavior**

**Ac

[2016-11-02 11:28] 0xc0170 commented on #3174
@sarahmarshy Any proposals for this issue? I checked the referenced PR, and it contains just TargetNotSupportedException that says "not in cmsis-packs". What I see there, if IAR fails it could be because cmsis pack does not support it or IAR definition is missing  or IAR not supported toolchain, but can't locate the report message (to be clear what has not been found). Is this issue about it, how

[2016-11-02 14:43] sarahmarshy commented on #3174
If a target doesn't have a device_name in targets.json, it is non-deterministic whether that device is supported by a CMSIS pack. That is the case we saw with the microbit. #3182 might describe that a little better than the documentation above.

I guess a warning about a missing device_name should be given, and maybe a link to the documentation somewhere?

[2016-11-02 15:04] bridadan commented on #3174
I'd suggest the following in terms of errors that we give:

1. From the discussion, it sounds like we are requiring that targets have CMSIS Pack to be supported by the mbed exporters, correct? If that's the case, upon exporting I would expect the tools to check if there is an entry for `device_name` in `targets.json`. If it's missing, print an error saying that the `device_name` field must contain

[2016-11-02 15:20] geky commented on #2420
Does https://github.com/ARMmbed/mbed-os/pull/3078 resolve this?

[2016-11-02 20:28] theotherjimmy commented on #2968
Nope.

[2016-11-02 20:29] theotherjimmy commented on #2968
HAHA! I got it: `C_FLAGS=<whatever> make`

[2016-11-02 20:56] theotherjimmy commented on #3117
You don't have a linker script. I should make that error a bit more reasonable.

[2016-11-02 21:10] theotherjimmy commented on #3117
More digging reveals something interesting: The restructure PR split the hal into the targets directory and the hal directory. Tests still assume that they only need the hal directory when they need both. This manifests itself when the exporter does not find a liker script, at they are contained within the targets directory.

[2016-11-02 21:19] theotherjimmy commented on #3117
PR up!

[2016-11-02 21:24] theotherjimmy commented on #3129
Should we add non-public targets too? In this example, it would add `"Target"` to the list of labels.

[2016-11-02 21:40] bridadan commented on #3129
Ah yes, the ever useful `TARGET_TARGET` :stuck_out_tongue_winking_eye: (in this particular case I don't think this would be too harmful, it could easily be ignored).

One advantage of having non-public targets be added to the list of labels would be for targets like the Nordic boards. For example: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L1344

It would remove the need t

[2016-11-02 22:00] theotherjimmy commented on #3129
#2488 has some prior discussion of this.

[2016-11-02 22:31] theotherjimmy commented on #2995
Yes

Thanks for doing some of the research @JojoS62 ! This will really help get the lpcxpresso exporter working quicker.

I'm curious about another thing withe regard to the filtered resources section: what do those arguments mean.

Further, I would like to know if we can just specify all of the source to include up front.

[2016-11-02 22:36] sarahmarshy commented on #3174
I have made a commit here: https://github.com/sarahmarshy/mbed/commit/c64e4604248b43d0e601c057e2678b9c128fc692

This should make errors a lot more verbose. I am waiting for some other PRs to be merged before I make a new one, as I made this changes on top of #3172.

[2016-11-02 23:20] geky commented on #3163
First thing, broadcast isn't a configuration of the socket. You should be able to send a packet to a broadcast address without any changes to the network interface if your router supports it:
https://en.wikipedia.org/wiki/Broadcast_address

Second thing, unicast just describes the default behaviour of IP addresses. That is, a mapping of a single address to a single machine (more or less):
https://

[2016-11-02 23:22] bridadan commented on #1994
@LiyouZhou Are you still seeing this?

[2016-11-03 07:16] #3146 closed

[2016-11-03 07:54] tommikas commented on #2420
Mostly this was just about these restrictions being documented somewhere, so yes, this helps. It's still not very visible, but at least it's something.

[2016-11-03 07:54] #2420 closed

[2016-11-03 08:36] #3183 closed

[2016-11-03 09:13] TeroJaasko opened #3190 ""mbed export -m K64F -i eclipse_gcc_arm" fails on mbed-os 5.2"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
0.9.10

**meed-os sha:**
e2617cc (HEAD, tag: mbed_lib_rev128, tag: mbed-os-5.2.1, tag: latest,

[2016-11-03 10:43] EduardPon opened #3192 "Include path issue? Local configuration problem after mbed5.1 to 5.2"
After migrating from 5.1 to 5.2.1, I have some compiling issues with include paths. For example the following compiler error is reported:
`.\features\TARGET_WIRED_IPV6\sal-nanostack-driver-k64f-eth\source\k64f_eth_nanostack_port.c:22:25: fatal error: arm_hal_phy.h: No such file or directory #include "arm_hal_phy.h"`

The arm_hal_phy.h file is present and located in \yy-mbed5\mbed-os\features\nanos

[2016-11-03 11:08] 0xc0170 commented on #3190
Thanks for reporting, I could reproduce the problem

cc @theotherjimmy

[2016-11-03 11:26] 0xc0170 commented on #3190
This lines are to blame https://github.com/ARMmbed/mbed-os/blame/master/tools/export/makefile/__init__.py (for loop and else):

[code]

No template found , thus if goes to else.

[2016-11-03 11:31] 0xc0170 commented on #3192
cc @SeppoTakalo

[2016-11-03 11:56] jankii01 commented on #3190
Wonder how difficult it would be to have a CI check for something like this?-)

[2016-11-03 12:10] SeppoTakalo commented on #3192
The include file `arm_hal_phy.h` is under `FEATURE_NANOSTACK` have you defined that?

Within mbed OS 5.1 and 5.2 the `FEATURE_IPV6` was renamed to `FEATURE_NANOSTACK`

But if you need wired IPv6 you are suppose to use LwIP.
That linked in driver only works with Nanostack and only in border router. It does not provide API for Socket layers.

[2016-11-03 12:59] LiyouZhou commented on #1994
@bridadan I am using --app-config mbed_app.json now, it work. Thanks.

[2016-11-03 13:37] sarahmarshy commented on #3190
@theotherjimmy has an open PR for this. On mobile or I'd find it.

[2016-11-03 13:39] 0xc0170 commented on #3190
@sarahmarshy I am going through the PR just now, thanks for the pointer - https://github.com/ARMmbed/mbed-os/pull/3187

[2016-11-03 13:41] 0xc0170 commented on #3190
This will be fixed for 5.2.2

[2016-11-03 13:55] EduardPon commented on #3192
Hello,
Ok, I have renamed the IPV6 to NANOSTACK in the target.json file and fixed the include issue:
`        "features": ["NANOSTACK"],`

Yes, we need also the wired and IPv6 support. In the future we want to support both, wired and wireless.  So LwIP is the alternative?

[2016-11-03 13:59] bcostm commented on #3164
Can you try to add a while(1) loop after the line pc.printf ?

[2016-11-03 14:51] larsgk commented on #2835
thanks! - I'll try today :) - when will it land in mbed-os-5?

(also - I reported a series of USB bugs/enhancements ... can I ping someone to triage (or at least comment?) :)

[2016-11-03 15:00] SeppoTakalo commented on #3192
LwIP supports both IPv4 and IPv6.
Currently only through Ethernet (also some Wifi devices emulate Ethernet).

Nanostack is used when 6LoWPAN is required over IEEE 802.15.4 radio. 6LoWPAN is compressed IPv6, also used in Thread.

On border routers, 6LoWPAN is translated to IPv6 and router to Ethernet. This is the only device type that we support when running IPv6 over Ethernet with Nanostack.

So i

[2016-11-03 15:00] #3192 closed

[2016-11-03 15:14] adbridge commented on #2835
@sg- Sam can you comment on when/if USB Serial will be supported in mbed-os 5 ?

@larsgk We're actively going through the issues on mbed-os currently so you should see some progress. Are there any particular issues which are blocking you ?

[2016-11-03 15:33] larsgk commented on #2835
If i get usb working with your suggestion, i will try to do a crude WebUSB
implementation e.g.  inside usbcdc or usbdevice and do a PR or just attach
to the bug (would like to bring a working demo to chromedev next week).

One that is really annoying is the #2838 (block/halt everything when trying
to write and nothing connected...). In general: soft connect/disconnect and
notifications could be ni

[2016-11-03 16:19] 0xc0170 commented on #3129
As I understand, by default a target is set to private (public: false). Thus in my code snippet above MCU_K22F is private and its label is not polluted. Is that correct?

This taken from 2488 referenced above:

I assumed the same. When creating MCU family port, you want to have that label available but target should be private (not able to use it with scripts as it can't be built for various reaso

[2016-11-03 16:29] 0xc0170 commented on #2968
@theotherjimmy What do you propose? To use this without code changes or do code changes?

[2016-11-03 16:43] bridadan commented on #1994
Good to hear! Closing this.

[2016-11-03 16:43] #1994 closed

[2016-11-03 16:44] bridadan commented on #3190
CI checks are in the works, keep an eye out :smile:

[2016-11-03 17:02] bridadan commented on #3129
@0xc0170 A target is by default set to public (public: true) https://github.com/ARMmbed/mbed-os/blob/master/docs/mbed_targets.md#public

[2016-11-03 17:07] sg- commented on #2835
USB updates for mbed OS 5 are planned but not scheduled yet.

[2016-11-03 17:31] adbridge commented on #3125
@betzw
On the notifications page of the settings can you confirm you have all the following ticked:
Participating:
email and web

Watching:
email and web

Choose which email updates you receive on conversations you're participating in or watching:

Comments on Issues and Pull Requests
Pull Request reviews
Pull Request pushes
Include your own updates

and also check that you are actually watching t

[2016-11-03 17:47] adbridge commented on #3082
cc @geky @c1728p9

[2016-11-03 19:40] theotherjimmy commented on #2968
I propose that we use the this code as is.

[2016-11-03 21:06] JojoS62 commented on #2995
I would like to know if we can just specify all of the source to include up front.

I thing the filtered resources are the key to what you want. This means I can select 'include everything in this path' or 'include only this'. Don't know if is really handy, but I understand you want a same solution for all exporters. I'm busy in some projects, hope I find some time this weekend to get this working

[2016-11-03 21:15] theotherjimmy commented on #2995
Yes, in a Resources object that is the resources member of the Exporter class. Here are some code snippets that you might find useful:

 * The attributes of the Resources object: https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/__init__.py#L47-L77
 * which files go where: https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/__init__.py#L606-L658
 * an example of using the

[2016-11-04 05:34] sandeepach opened #3196 "Add Support for STM DISCOVERY 769NI in mbed Compiler"
### Description
- Type: Bug
- Related issue: `#2182`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
DIS_769I

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.2
**mbed-cli version:**
129

**meed-os sha:**
(`git log -n1 --oneline`)

**DAPLink version:**

**Expected behavior**
mbed Online compiler should have supported DIS_769 board from ST

*

[2016-11-04 09:15] andcor02 opened #3197 "Compiling for mbed-dev broken"
There seems to be an issue here when compiling for mbed-dev in the online-IDE for specific platforms.

E.g. FRDM-K64F will not compile and Nucleo F401RE (Not tested much more).

LPC1768 seems to work

What is the issue here, its irrespective what is included in the main program.

Regards,

Andrea

[2016-11-04 10:25] adbridge commented on #3197
@andcor02
The latest release of mbed-dev included a restructuring of the folders containing targets, cmsis, platform and hal. In the release notes it should state this and that consequently some paths to include files may have changed. Any applications you thus have that include full, explicit paths may need to be looked at.
I compiled blinky on numerous platforms including K64F with the latest mb

[2016-11-04 13:47] EduardPon opened #3199 "mbed5.1->5.2 missing entropy_hardware_poll.c ?"
Got triggered by a linker error about the fact an entropy function could not be linked.

For K64F specific, in the path `mbed-os\targets\TARGET_Freescale\TARGET_KSDK2_MCUS\TARGET_MCU_K64F`
the file entropy_hardware_poll.c seems not to be present anymore. Thanks in advance.

[2016-11-04 14:08] bcostm commented on #3196
This board is planned to be added in January 2017 the latest.

[2016-11-04 14:26] adbridge commented on #3199
@EduardPon I will investigate

[2016-11-04 14:51] adbridge commented on #3199
@EduardPon It looks like this PR
https://github.com/ARMmbed/mbed-os/commit/132a5bbff3edabca7371d41f7676149a60186a5d
explains what happened .

[2016-11-04 15:44] EduardPon commented on #3199
I have added the [RNG] feature but still the same issue.
The macro DEVICE_TRNG is still not defined to compile the trng_api code.

See our target definition copy below:

"K64F": {
  "supported_form_factors": ["ARDUINO"],
  "core": "Cortex-M4F",
  "supported_toolchains": ["ARM", "GCC_ARM", "IAR"],
  "extra_labels": ["Freescale", "KSDK2_MCUS", "FRDM", "KPSDK_MCUS", "KPSDK_CODE", "MCU_K64F"],
  "is_d

[2016-11-04 15:49] adbridge commented on #3199
@0xc0170

[2016-11-04 16:07] EduardPon commented on #3199
I see "RNG" must be changed to "TRNG"? With this change, it builds. But I get quite some warnings:

[Warning] platform_mbed.h@21,1: "MBEDTLS_ENTROPY_HARDWARE_ALT" redefined
Compile [ 35.2%]: utest_types.cpp
Compile [ 35.5%]: aesni.c
[Warning] platform_mbed.h@21,1: "MBEDTLS_ENTROPY_HARDWARE_ALT" redefined
Compile [ 35.8%]: arc4.c
[Warning] platform_mbed.h@21,1: "MBEDTLS_ENTROPY_HARDWARE_ALT" redefi

[2016-11-04 16:21] infinnovation opened #3201 "wait_us() does not delay long enough"
### Description
- Type: Bug
- Priority: ?

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**meed-os sha:**
e2617cc (mbed-os-5.2.1)

**Expected behavior**
wait_us(n) waits for at least n microseconds

**Actual behavior**
wait_us(2950) waits for as little as 1375 microseconds in tests, maybe less

**Steps to reproduce**

Essentially t

[2016-11-04 16:47] geky commented on #3201
Correct me if I'm wrong, but it actually looks like this line is at fault:
https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_wait_api_rtos.cpp#L40

The value of `start` is taken from before that wait call, so the value of `us` shouldn't be changed. Put up a quick patch: https://github.com/ARMmbed/mbed-os/pull/3202

[2016-11-04 17:22] larsgk commented on #2835
@sg-  ok - I hope I can hack a WebUSB solution with mbed (2 or 5) for some demos at chromedev over the weekend tho. Will try to get the mbed-os-2 working with my stuff & do some header fiddling over the weekend.  If I manage to get it in time, I'll put the changes in a PR or gist

[2016-11-04 18:41] Roietronics opened #3203 "Bug Thread.Start(object, Method) broken in mbed-os 5.1 & mbed-os 5,2"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: mbed-os Thread class
- Priority: Blocker
---------------------------------------------------------------
## Bug
Thread.Start(object, Method) broken in mbed-os 5.1  & mbed-os 5,2
**Target**
??

**Toolchain:*
online

**Toolchain version:**

**mbed-cli version:**
(`mbed -- 5.

[2016-11-04 22:45] sarahmarshy commented on #3203
I was able to use a similar function call to Thread::start (with 'this') as the object, and I was able to compile successfully. I did, however, see the generated warning. Wrapping the arguments in callback() solved the warning and compiled successfully.

Can you please paste all of the code where you are seeing this issue? I am having a difficult time reproducing your use case.

[2016-11-05 07:26] Roietronics commented on #3203
The code is posted on the mbed  bug forum https://developer.mbed.org/forum/bugs-suggestions/topic/27062/).
The initial posting had been mangled by the forum's editor; however I have not successfully managed to make the code be un-mangled in the post please see the post

[2016-11-05 11:49] #3125 closed

[2016-11-05 20:00] Neuromancer2701 commented on #3163
Thanks for the details.  I will test out the broadcast and look into the multicast implementation.

[2016-11-05 21:01] geky commented on #3163
Let us know if you run into any issues, it would be very interesting to see multicast support in a network interface.

[2016-11-05 23:08] tibmanus commented on #2718
Yes, that would serve its purpose perfectly.

[2016-11-06 09:13] mottigondabi opened #3209 "mbed_lib.json conflicts when compiling for a binary application"
### Description
- Type: Bug
- Priority: Major

mbed CLI tool copies ***.json**, ***.a** files and potentially some other stuff that is given in `--source <path>`

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM|ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
0.9.5

**meed-os sha:**
56f60a0

**Steps to reproduce**
1. Compile m

[2016-11-06 10:55] JojoS62 opened #3210 "[mbed-os rtos]: set_stack_heap() calculates wrong heap size when heap size is low"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
all

**Toolchain:**
all

**meed-os sha:**
actual master

In set_stack_heap(void) the mbed_heap start/size is calculated:

[code]

so when the HEAP_SIZE is low (due to many static vars in .bss) and less than mbed_stack_isr_size, the free_size becomes negative and the uint overflows. That

[2016-11-07 00:57] Neuromancer2701 commented on #3163
So I was able to do some testing today with my nucleo_f767zi.  I attempted to send and receive data from both broadcast addresses(192.168.1.255 and 255.255.255.255)

I just block indefinitely when trying to received data.
Sending data I get a NSAPI_ERROR_PARAMETER error(ERR_VAL)

If I change the address to the unicast the exact same code works just fine.
I am sending and receiving data from the py

[2016-11-07 05:41] betzw commented on #3125
Seems as if the problem has been resolved by GitHub support.
Thanks anyhow @adbridge for your questions.

[2016-11-07 06:43] EduardPon commented on #2635
Hello,

mbed5.2.1 uses even more RAM in comparison with the 5.1. I have to reduce the heap size to get in the static part.

See below build output:
[code]
[code]

[2016-11-07 08:15] EduardPon opened #3212 "Cannot debug anymore in mbed 5.2."
I cannot debug anymore after switching to mbed 5.2.1.
The option -o debug-info seems not to be supported anymore.
How can I enable it again? Thanks.

`mbed-cli compile -j0 -t GCC_ARM -m OUR_TARGET_K64F_IPV6 -o debug-info`

[code]
Show help shows still the -o.

[code]

[2016-11-07 09:19] bulislaw commented on #3212
We renamed this option to `--profile PROFILE     Build profile to use. Can be either path to jsonfile
                        or one of the default one (debug, default, small)` unfortunately there's a bug in mbed-cli (https://github.com/ARMmbed/mbed-cli/issues/370) displaying out of date help text which makes things harder to see.
So right now you need to use `--profile debug`

[2016-11-07 09:23] EduardPon commented on #3212
How should we use this? Like this it does not work:

`mbed-cli compile -j0 -t GCC_ARM -m OUR_TARGET_K64F_IPV6 -o debug-info --profile PROFILE`

[2016-11-07 09:28] bulislaw commented on #3212
Try `mbed-cli compile -j0 -t GCC_ARM -m OUR_TARGET_K64F_IPV6 --profile debug` or just `mbed compile ...`

[2016-11-07 09:32] bulislaw commented on #3212
If you're not using recent version of mbed-os, you'll need to put whole path to the profile file eg `--profile mbed-os/tools/profiles/debug.json`

[2016-11-07 09:50] janjongboom commented on #2635
@pan- @sg- ^

[2016-11-07 09:53] RobsydRosca commented on #2237
**Hardware Used:**
Nucleo L476RG

**Description of the Issue:**
I got the same issue, reported by gabrielrivas, importing the project Lorawan PingPong in Eclipse AC6 environment.
![screenshot from 2016-11-07 10-42-48](https://cloud.githubusercontent.com/assets/15351501/20053050/1222db04-a4d7-11e6-96e4-731e525f45f6.png)
Here the problem seems to be the incorrect expansion of the CAN macro.
Any help

[2016-11-07 10:10] EduardPon commented on #3212
I'm using the recent mbed-os, but the --profile debug returns the [ERROR] [Errno 13] Permission denied: 'debug'.

Adding in debug.json seems also not to work, see 2nd row:
[code]

This is what the debugger start reports in the console window:
[code]

[2016-11-07 10:15] stevew817 opened #3215 "lp_ticker test is not compatible with unified sleep implementation"
The lp_ticker test in TESTS/mbed-hal is fundamentally incompatible with the unified sleep API in use by Silicon Labs targets.

At https://github.com/ARMmbed/mbed-os/blob/3a16ca9855528fdb801b11f275ffdca7b5ed9f26/TESTS/mbed_hal/lp_ticker/main.cpp#L97 there is a call to sleep(), which will turn off us_ticker on Silicon Labs platforms, since there is no object initialized that is using the high-power,

[2016-11-07 10:16] bulislaw commented on #3212
The `--profile` option requires a parameter either a profile name (one of debug, default, small) or a path to .json profile file. Adding `--profile` to debug.json file doesn't make any sense, as it's not a compiler/linker switch, it merely includes this json file with compiler options.
Did you try specifying the full path to the debug.json file in your mbed compile line? eg.--profile mbed-os/tools

[2016-11-07 10:23] andcor02 commented on #3197
Hi :),

Followed your advice seems to working great now

Thanks

[2016-11-07 10:23] #3197 closed

[2016-11-07 10:30] andcor02 opened #3216 "Cannot Export with latest mbed-dev"
Currently I cannot export programs with the latest version of mbed-dev library,
although older versions (with the older library structure) seem to work.

1. This is irrespective of platform.
2. Or toolchain.

The export error is: 'An error occurred during export. Please contact
support.'

Regards,

Andrea

[2016-11-07 10:37] EduardPon commented on #3212
Ok, I totally forgot to use the full path. The symbol table is now generated and break points are operational again.

Thanks for help and quick response...

[2016-11-07 10:37] #3212 closed

[2016-11-07 10:43] pan- commented on #2635
@EduardPon

Could you list the mbed modules used by your application and your configuration file ?

[2016-11-07 11:36] EduardPon commented on #2635
I assume the feature in the target.json file:
[code]

[2016-11-07 12:11] 0xc0170 commented on #3199
@EduardPon
I would like to get some more details for this. The release notes should contain the information needed for the update from 5.1 to 5.2. If they fail, we need to make certain the next one release won't.

Where was ``MBEDTLS_ENTROPY_HARDWARE_ALT`` ? I recall in targets previously, it was cleaned-up.

[2016-11-07 12:36] EduardPon commented on #3199
It was in previously in:
`mbed-os\hal\targets\hal\TARGET_Freescale\TARGET_KSDK2_MCUS\TARGET_K64
`
Please look also in my other issues. There are some that have useful info for the migration note.

[2016-11-07 12:50] 0xc0170 commented on #3199
mbed-os\hal\targets\hal\TARGET_Freescale\TARGET_KSDK2_MCUS\TARGET_K64

Have you managed to remove those redefinition warnings?

[2016-11-07 12:51] 0xc0170 commented on #3216
cc @screamerbg

[2016-11-07 14:43] 0xc0170 commented on #2237
That macro seems to be just info, the error is somewhere else?

cc @theotherjimmy @sarahmarshy

[2016-11-07 14:57] JojoS62 commented on #2635
the tools/memap.py with option -d gives a good readable output where you can see which module consume how much memory. See also [https://github.com/ARMmbed/mbed-os/blob/master/docs/memap.md](url)
I've also trouble with memory space, the DEFAULT_STACK_SIZE is an is causing a problem for me, resulting in allocating a 4 kB block for the thread_stack_main. But I will open a new issue for this.

[2016-11-07 15:16] JojoS62 opened #3218 "[rtos] thread_stack_main with DEFAULT_STACK_SIZE is too large for some targets"
### Description
- Type: Enhancement
- Priority: Major

## Enhancement

**Reason to enhance or problem with existing solution**
The setting of thread_stack_main in RTX_CM_lib.h is very confusing. It is depending on another literaly WORDS_STACK_SIZE, defined in cmsis_os.h. It gets several times multiplied and divided, depending on toolchain and with many exceptions for different targets.

**Suggeste

[2016-11-07 15:48] bridadan commented on #3215
cc @bulislaw

[2016-11-07 17:30] bridadan commented on #3209
@mottigondabi So to be clear, this is what your project looks like from a shared parent directory:

[code]

Then you do the following steps:
1. `cd mbed-os`
2. `mbed compile --library --build .libmbed-os ...`
3. `cd ../mbed-client`
4. `mbed compile --library --build .libmbed-client ...`
5. `cd ../foo`
6. `mbed compile --source ../mbed-os/.libmbed-os --source ../mbed-client/.libmbed-client --source

[2016-11-07 17:43] theotherjimmy commented on #3209
I take issue with the expected bevhavior: you are including the source of mbed and it's compiled form, so you should get an error like that.

[2016-11-08 03:54] Roietronics commented on #3203
Code is now viewable on mbed bug forum
https://developer.mbed.org/forum/bugs-suggestions/topic/27062/

[2016-11-08 04:03] COMOkr opened #3223 "STM32L053-DISCO can't use putc,printf in Keil, EWARM"
[code]

On web compiler, It worked normaly
but in exported projects, didn't work

in "a.printf("c");" , program was stopped
can i have solution?

Platform is STM32L053-DISCO

[2016-11-08 09:14] andcor02 opened #3224 "Error while trying to commit/publish online IDE"
Hi,

So this seems to be a reoccurring issue in that some programs/libraies for some users seem not to able to commit/publish changes. I have had this happen to myself, only on a certain number of programs, they still cannot be committed. "There has been a problem while committing your project".

In short the error:

- Cannot commit certain programs/libraries (This is permanent)
- Not sure if this

[2016-11-08 09:17] andcor02 opened #3225 "Support for Delta DFCM-NNN40"
Hi All,

Just a quick query, is there mbed OS 5 support for the [Delta DFCM-NNN40 (https://developer.mbed.org/platforms/Delta-DFCM-NNN40/)? Or is there a plan to have this support?

Regards,

Andrea, mbed

[2016-11-08 09:29] infinnovation opened #3226 ""mbed compile" fails with "list index out of range""
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
4_9-2015q3

**mbed-cli version:**
0.9.10

**meed-os sha:**
e2617cc

**Expected behavior**
Failed compilation should not propagate to next compilation attempt

**Actual behavior**
In some circum

[2016-11-08 10:18] EduardPon commented on #3199
Yes,

Adding #ifndef:

plaform_mbed.h
[code]

[2016-11-08 10:31] bcostm commented on #2913
I don't know if the TIMEOUT and ERROR enums have been removed on purpose in the stm32f7xx_hal_sai.h but instead I have updated the BSP_DISCO_F746ZG library. The compilation on the mbed IDE is ok now.

We are going to update the CubeF7 HAL driver with a more recent version. We'll investigate this point with the SAI enums. If it was a mistake, I'll put back these enums in the BSP library.

Thanks fo

[2016-11-08 11:02] 0xc0170 commented on #3218
Thanks for tracking this. It was already pointed out partially in https://github.com/ARMmbed/mbed-os/pull/2984.

cc @c1728p9 @bulislaw

[2016-11-08 11:03] 0xc0170 commented on #3226
cc @theotherjimmy

[2016-11-08 11:04] 0xc0170 commented on #3225
cc @sg- @screamerbg

[2016-11-08 11:04] 0xc0170 commented on #3224
cc @theotherjimmy @screamerbg

[2016-11-08 11:15] 0xc0170 commented on #3223
cc @bcostm @adustm @LMESTM @dbestm

[2016-11-08 11:16] 0xc0170 commented on #3223
@COMOkr It might help to provide the version numbers (what version of mbed-os you use), plus what expoters - is it uvision or makefile arm gcc , or any other.  As much details as you can provide

[2016-11-08 11:26] 0xc0170 commented on #3199
@andresag01 Can you have a look ? Is it anything missing or should be documented, or all is correct and this can be closed?

[2016-11-08 13:11] EduardPon opened #3228 "NanoInterface.cpp asserts when no LWM2M server can be found."
In case no LWM2M can be found, after some time (>5 minutes), the function NanostackSocket::data_available triggers an assert because the variable mode==SOCKET_MODE_OPENED. At this point rxBufChain != NULL.

[code]

[code]

[2016-11-08 13:41] 0xc0170 commented on #3228
cc @SeppoTakalo @kjbracey-arm

[2016-11-08 14:02] kjbracey-arm commented on #3228
So it's complaining because you're calling recvfrom on a socket which apparently hasn't had anything else done to it?

It wants it to be bound or something? Looks like it thinks that maybe the state should be "DATAGRAM"?

Which it should have set if anyone had ever called bind or sendto?

So it seems like a vaguely plausible sort of application sanity check on the face of it. As it's a bit weird t

[2016-11-08 15:34] bridadan commented on #3225
@andcor02 At the moment it only supports mbed 2 according the target description file: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L1586

@samchuarm do you know if mbed OS 5 support is coming?

[2016-11-08 15:49] bridadan commented on #3223
If you change `a.printf("c");` to `a.printf("c\n");`, does it work? Its possible that the buffers just didn't flush

[2016-11-08 16:31] aracosta1 commented on #2758
I'm doing some basic test and it seem to work correctly.
I had one warning during a compilation obout sleep.o not unique but now I cannot reproduce te issue anymore.
I will try to do some test also on OS version 2

[2016-11-08 16:45] theotherjimmy commented on #3226
So your steps to reproduce would be to take a clean repo and create an empty `.d` file.

[2016-11-08 16:58] theotherjimmy commented on #3226
Reproduced artificially by:
[code]

[2016-11-08 17:17] sarahmarshy commented on #3203
@Roietronics, I have updated the post with another code sample. The callback class is not thoroughly documented yet, so the confusion is understandable. Hopefully the new examples unblocks you.

[2016-11-09 00:58] COMOkr commented on #3223
this solution was't working..

I always update library before making projects
I don't know this version

exporter - uvision 5 , IAR SYSTEMS

[2016-11-09 05:22] YixiaoLi opened #3234 "mbed_lwip_bringup() with static IP"
I tried to initialize an EthernetInterface with static IP but it didn't work.
[code]
After doing some research, I did find a workaround by modifying `mbed_lwip_bringup()`.
Inside `mbed_lwip_bringup()`, `lwip_connected ` will only be set when no IP address is specified.
I modified the code as follows and now it works.
[code]
I wonder if it is a bug or something, and what is the correct approach to

[2016-11-09 06:37] jupe commented on #3234
Looks that you are trying to use same interface and gateway addresses. Probably that wouldn't work anyway.

[2016-11-09 07:46] hakanernam commented on #3234
I have the same issue with the same kind of workaround. Problem is not the particular addresses used. Somewhere in the same file:

[code]

if static IP is used, lwip_connected is not set to true, therefore you get NSAPI_ERROR_NO_CONNECTION trying to open a socket connection.  I think lwip_connected in the case of static IP should be set based on the result of `EthernetInterface::set_network` call

[2016-11-09 09:48] EduardPon commented on #3228
So the LWM2M client want to send a registration message to aabb::30. But aabb::30 is not on the network present. All initiated receives data fail (NSAPI_ERROR_WOULD_BLOCK   = -3001). Comment of enumeration:  /*!< no data is not available but call is non-blocking */

So who initiated this ESocketReadytoRead event, see call stack:
[code]
Some logging:
[code]

[2016-11-09 10:03] EduardPon commented on #3082
Seems not to occur anymore after transition to mbed5.2.1.
I will do some more testing the next coming weeks before I close this issue.

[2016-11-09 10:35] pan- opened #3235 "[Platform] limited type deduction of callback generator"
### Description
- Type: Enhancement

----------------------------------------------------------------
## Enhancement

The `callback` function and all its overloads is a generator of `Callback` objects. Its main purpose is to avoid typing of the type of the `Callback` the user wants and avoid too many callbacks objects on the stack:

[code]

To generate the proper `Callback` type, the `callback` fu

[2016-11-09 10:42] pan- commented on #3235
@SeppoTakalo

This is the issue you reported yesterday, please leave any needed comments.

@geky @0xc0170

The size of the callback related facilities is another concern. The flat organization was supposed to makes it easier to understand but when you got a three thousands line long errors due to the overloads explosions, it is really not a pleasant experience as a user.
Any plan to refine the cal

[2016-11-09 12:05] lauri-piikivi opened #3236 "wifiInterface.h callback? and error in method documentation for scan"
- Type: Bug
- Priority: ?

---------------------------------------------------------------
## Bug 1

The API has the include callback.h, but is it used ?

## Bug 2

the documentation for scan method seems incomplete and from old version, timeout is not a parameter and ap is not parameter name.
    /** Scan for available networks
     *
     *  The scan will
     *  If the network interface is set

[2016-11-09 13:06] kjbracey-arm commented on #3228
You said rxBufChain != NULL - it actually is NULL?

My general feeling here is that the assert should just be removed. Don't see what purpose it's serving.

If we wanted any state enforcement checks, they should be actual error returns in recvfrom and recv.

Presumably though send_data() near the end of the trace didn't actually send any data? socket_sendto would have changed the state to DATAGRAM

[2016-11-09 13:49] 0xc0170 commented on #3091
Fixed via https://github.com/ARMmbed/mbed-os/pull/3207

[2016-11-09 13:49] #3091 closed

[2016-11-09 14:19] 0xc0170 commented on #3210
@JojoS62 Thanks for reporting. Can you please send a patch for this bug?

The freesize variable should not wrap around.

cc @c1728p9

[2016-11-09 14:20] 0xc0170 commented on #3236
Thanks for reporting, we will fix it

cc @bulislaw

[2016-11-09 16:12] 0xc0170 commented on #3152
Fixed via #3221

[2016-11-09 16:12] #3152 closed

[2016-11-09 18:28] c1728p9 commented on #3115
The RTOS has been updated so this issue should now be fixed.

[2016-11-09 19:56] theotherjimmy commented on #3226
@infinnovation could you review #3229 ?

[2016-11-09 20:25] geky commented on #3235
Thanks for looking into this! Your solution looks like the best solution, so I went ahead and put together a pr to bring it in: https://github.com/ARMmbed/mbed-os/pull/3244

It does sounds like the callback class needs some form of documentation page.

Any plan to refine the callback facilities ?

I agree, it's not the best experience. Any suggestions for refining the class? How could we improve t

[2016-11-09 21:19] JojoS62 commented on #3210
Solution sound easy, the check is simple, free_size must be larger than isr_stack_size. But what should be done when this test fails?

How about this:
[code]

I don't know what is the best error handling at this stage.

It should be a compile time check, but a simple
[code]
does not compile, the preprocessor can not evaluate this expression.

[2016-11-09 22:00] geky commented on #3210
Does `MBED_STATIC_ASSERT` from mbed_assert.h work?
[code]

[2016-11-09 22:02] geky commented on #3201
I believe this issue has been resolved by #3202. Feel free to reopen if I'm wrong.

[2016-11-09 22:02] #3201 closed

[2016-11-09 22:02] infinnovation opened #3246 "[lwip] Zero or wrong error returned from failed TCPSocket.connect()"
### Description
- Type: Bug
- Priority: ?

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**mbed-os sha:**
a1c0840

**Expected behavior**
1) TCPSocket.connect() returns error if connection is refused
2) TCPSocker.connect() returns appropriate error code for e.g. unreachable host

**Actual behaviour**
1) TCPSocket.connect() returns 0

[2016-11-09 23:42] JojoS62 commented on #3210
that gives the following error:
./mbed-os/rtos/rtx/TARGET_CORTEX_M/RTX_CM_lib.h:484:24: error: expression in static assertion is not constant

But the MBED_ASSERT compiles without errors:
[code]

[2016-11-09 23:44] geky commented on #3163
Testing myself with a k64f, I can confirm that there is an issue on the device side. The broadcast packet appears to be getting through the ethernet driver on the device, but it seems to be being discarded by lwip. This will require more looking into.

@kjbracey-arm, any immediate thoughts? Should lwip be able to handle broadcast packets as is?

[2016-11-10 01:33] d-kato commented on #3115
I confirmed that it has been fixed.

[2016-11-10 02:07] #3115 closed

[2016-11-10 08:45] kjbracey-arm commented on #3163
Probably need to enable the SO_BROADCAST socket option. lwIP won't let a socket send broadcasts unless that's set, which is standard behavioud. (If that socket option is built in, via IP_SOF_BROADCAST being in the config, which it is).

Looking at it lwIP's SO_BROADCAST also restricts reception of broadcasts, which is non-standard. (if IP_SOF_BROADCAST_RECV is enabled).

Given that non-standard re

[2016-11-10 09:15] bulislaw commented on #3236
As for one, it's not right now we sort of developed async version calls, but then removed it for further discussion, we can remove it for now.

And for two that looks like merging issue.

Will fix them today.

[2016-11-10 13:14] pan- commented on #3235
Yes, maybe we can open another issue listing what's missing in Callback documentation.

I think the following items can be improved:
* most of the internal details can be factored out in private/detail implementation files (and base class too!), it can also reduce the template bloat.
* A function like attach makes less sense today because the class implement correct copy assignment. Basically `f.a

[2016-11-10 14:14] EduardPon commented on #3228
That's correct.

Could it be that the **event generate** in the Socket::close() at Socket.cpp @ line 66 is little bit strange? Primary this results in a M2MConnectionHandlerPimpl::send_receive_event().

[2016-11-10 14:24] kjbracey-arm commented on #3228
The callback to users is deliberately vague - it just indicates "something" has happened. So as such we shouldn't be terribly surprised if people respond to it by attempting a read. An assert is unreasonable.

Tthe event() appears to be desirable to signal the "wake from blocking" semaphore - less certain about whether it should be generating a callback. Seems semi-reasonable, I guess. The socket

[2016-11-10 14:25] kjbracey-arm commented on #3228
Still not quite clear why you have pending data in rxBufChain in this case, but it's probably not relevant.