[2019-03-05 10:18] NirSonnenschein commented on #9934
assigned to @jeromecoutant  at @ARMmbed/mbed-os-storage 's request

[2019-03-05 10:42] LMESTM commented on #9447
@TacoGrandeTX @0xc0170  I think I addressed the comments. @jorisa hasn't answered back since my answer more than 1 month ago. Could you close it ?
ST_TO_BE_CLOSED

[2019-03-05 10:44] pan- commented on #9364
@Vanireddy6 Just looked at the file attached:

[code]

Your main is not correct, the line `eventQueue.dispatch_forever();` dispatch events from the event queue; forever. It means that the program never read the input to get commands from user. Please use UARTSerial in non blocking mode: you can use [sigio](https://github.com/ARMmbed/mbed-os/blob/355f09bbac5a2459e62477fae15d71a005cdc278/drivers/UAR

[2019-03-05 11:24] pan- commented on #9674
Our internal test suite use Icetea to test BLE.

Looking at your main file, I can tell that you need to rework your test architecture as BLE requires processing of its event. You need to provide a scheduler bound to the event queue used to process BLE  to `Harness`.

[2019-03-05 11:30] marcuschangarm commented on #9304
I'm closing this ticket as I've not been able to reproduce it lately.

[2019-03-05 11:30] #9304 closed

[2019-03-05 11:56] 0xc0170 opened #9938 "make armc6: error 8 for assembly file"
### Description

Creating tracking issue for this as it seems no rootcase found so far.

Recent nightly and some PRs failed exporters job  (since yesterday as soon as make armc6 got actived in the exporters).

The failure indicates a problem with `mbed_config.h` file include in the assembly files. This is the log from CI:

[code]

Interesting part, I was able to reproduce the same failure but only

[2019-03-05 12:04] 0xc0170 commented on #9938
One of the jobs affected: https://github.com/ARMmbed/mbed-os/pull/9738#issuecomment-469467096

ARMC6 landed without exporters test for armc6 make:  https://github.com/ARMmbed/mbed-os/pull/9888#issuecomment-468877250

[2019-03-05 12:07] 0xc0170 commented on #9938
#include "./mbed_config.h"

@ARMmbed/mbed-os-tools This might indicate a bug in our code, however `mbed_config.h` has been working with make or others. Please review, this is blocking yours 2 PRs for 5.12rc1 (besides others)

[2019-03-05 12:27] alekla01 commented on #9938
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/__init__.py#L853
**failure:**
``
self.config_file = join(self.build_dir, self.MBED_CONFIG_FILE_NAME) // './mbed_config.h'
``
**success:**
``
import os
self.config_file = os.path.abspath(join(self.build_dir, self.MBED_CONFIG_FILE_NAME)) // '/builds/ws/mbed-os-ci_exporter-make_armc6_3/examples/mbed-os-example-mesh-minimal/mbed_config.h'

[2019-03-05 12:32] alekla01 commented on #9938
or join(os.path.abspath(self.build_dir), self.MBED_CONFIG_FILE_NAME)

[2019-03-05 13:13] maxgerhardt commented on #9803
Also somehow the framecounters are destroyed so they always send `fCnt = 0` which destroys the purpose of frame counter validation.

[2019-03-05 13:24] #9447 closed

[2019-03-05 14:57] theotherjimmy commented on #9938
@alekla01 Using an abspath will kill all exports from the online compiler.

[2019-03-05 15:06] theotherjimmy commented on #9375
Yeah, use the code from https://github.com/ARMmbed/mbed-os/pull/8757 The arm_pack_manager code is pretty unmaintained and deprecated.

[2019-03-05 15:11] theotherjimmy commented on #9938
I have root-caused the issue here: Adding the include paths to the assembler command line is the problem. Specifically, the Makefile we export is a little sophisticated, and runs the compiler from within the build directory. The assembly preprocessing does not take this into account, and creates include paths that won't exist in the build directory.

[2019-03-05 15:30] alekla01 commented on #9938
-> '..' instead of abspath, ok

[2019-03-05 16:12] loverdeg-ep commented on #9880
@RonEld @dlfryar We've been targeting specific releases assuming it would be best to start our efforts on a non-moving target.

Should we start working a little closer to master?

[2019-03-05 16:34] 0xc0170 commented on #9938
How to fix this? 5.12 rc1 is blocked on this issue.

[2019-03-05 17:11] bridadan commented on #9375
I ran the code @theotherjimmy mentioned, it seemed to help it complete. I think there's still a few changes coming in for #8757, but once its merged I think this issue will be resolved.

[2019-03-05 17:17] bridadan commented on #9938
I'm taking a look at this now.

[2019-03-05 17:24] BrianBlumARM commented on #9827
@yogeshk19 I am the Product Manager for Mbed BLE and Cordio and would love to chat more about your use case / requirements.  If you are open to discussing please email me at cordio-mbed@arm.com.

Thanks,
Brian

[2019-03-05 17:30] ithinuel opened #9942 "[netsocket][tests] missing documentation about tls testing."
### Description

The Readme in `mbed-os/TESTS/netsocket` only presents the inetd's configuration for non-secured socket tests.
Would it be possible to add details on key and certificate creation and secured socket server (stunnel ?) setup ?

**EDIT:**
It might also be interesting to ease the update of the root certificate via a configurable header rather than editing the test's `main.cpp` living d

[2019-03-05 18:17] WillyKaze commented on #9747
Thank you to all of you,

I managed to get this one fixed by freeing up some memory.
Thank you @kjbracey-arm for your advice, I will keep that in mind the next time I encounter this sort of thing.

[2019-03-05 18:17] #9747 closed

[2019-03-05 20:41] Zborex opened #9945 "STM32F746 Discovery Can Bus Problem"
### Description
Hello,
I have a problem on Disco F746 with startup while Can bus is active.
I get error Code on stlink terminal:
can ESR  0x0100.0010 + timeout status 0

Device freezes and is inoperable. Only way to start the device is to power it up and then turn on the CanBUS. I am checking this with Kvaser software, but in real environment the freeze occurs aswell, more rarely. If I choose can

[2019-03-06 02:45] desmond-blue commented on #9771
Thanks @pan- , so we could use this PR #9948 for this issue now, and we may need to raise other tasks for GattServer API refreshing?

[2019-03-06 03:26] desmond-blue commented on #9773
Since the feature of setting Tx Power (scanning or advertising) is not defined in standard HCI of BLE spec, so it's not exposed to application level for users currently. We now are aware of this requirement and will schedule a task for analyzing this feature, it's not a standard feature so it must be done carefully.

Thanks for the comments.

[2019-03-06 04:19] Sim-jaeil opened #9949 "Bootloader Merging Regions Error"
### Description
Hi. I am using the MBED boot loader function. The first attached picture below is MBED-OS-5.11.0, and it works without error. The second attached picture is a picture of MBED-OS-5.11.1 version, and all subsequent versions will behave similarly. The problem is that the "Space used after regions merged" subaddress is different from the APP start address you set. Why is that? What cha

[2019-03-06 04:45] #9938 closed

[2019-03-06 06:13] akkishore1 commented on #9869
Hi,
I have looked at the fix. Returning error is fine but this will not solve the actual error we are facing. In Homekit ADK there are more than 20 writable characteristics. So we will not be able to add those characteristics with this fix. As a work around I have increased MAX_CHARACTERISTIC_AUTHORIZATION_CNT to 25 from 20.

Also looking at the code I think there is one more bug in the code which

[2019-03-06 09:25] UrmilaKL opened #9950 "BLE App is getting crashed after flash it using greentea"
Board: DISCO_L475VG_IOT01A
mbedls: 1.7.3
mbed os: 5.11.5
mbed cli: 1.8.3

BLE App is getting crashed after flash it using greentea
Hard fault error observed soon after flashing it on to DISCO board,
I have merged both heartrate and thermometer example into one example app and trying to flash it

Please find the attached main.cpp

Thanks
Urmila Bhat

[2019-03-06 09:28] UrmilaKL commented on #9950
#include <events/mbed_events.h>
#include <mbed.h>
#include "ble/BLE.h"
#include "ble/Gap.h"
#include "ble/services/HeartRateService.h"
#include "ble/services/HealthThermometerService.h"

#define USE_BOARD_TEMP_SENSOR

#ifdef USE_BOARD_TEMP_SENSOR
#include "stm32l475e_iot01_tsensor.h"
#endif

DigitalOut led1(LED1, 1);

const static char     DEVICE_NAME[] = "MyExampleApp";
static const uint16_t uuid

[2019-03-06 10:00] janjongboom opened #9951 "LoRaWAN stack halts when encountering 'RX1 Demodulation ongoing, skip RX2 window opening'"
### Description

Not sure if this is a valid issue as it only shows up when setting `max-sys-rx-error`, but when the LoRaWAN stack encounters:

[code]

Everything halts. I'd expect some error to go back to the application, but now the state machine doesn't continue at all. It also doesn't continue demodulating the RX1 message.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] B

[2019-03-06 13:19] mburumaxwell commented on #9704
This is also happening to Quectel BG96 when `+CGADDR: 1,"100.114.84.1"` is recevied. Is there any known remedy?

[2019-03-06 13:21] NeilMacMullen commented on #9704
@mburumaxwell You can make a local patch to change BUFF_SIZE in AtHandler.h to 32 or a larger value.

[2019-03-06 14:36] VVESTM commented on #9934
Is it possible to have more details about this IOTSTOR-793 ticket ? the link is not accessible... Is it a regression ?

Then, do you have a main.c that can be used to reproduce this issue ?

[2019-03-06 14:59] marcemmers opened #9958 "nRF52 VDD measurement"
### Description

I am currently developing on a custom nRF52 target and I need to measure the VDD for some analog calculations. The nRF52 targets at least have an option for internal measurement of the VDD and VDDH but no option in mbed to select that channel.

Currently the 8 possible AnalogIn channels are mapped to the 8 channels of the SAADC but only one channel is activated at a time. A possib

[2019-03-06 16:09] DBS06 opened #9961 "nRF52840 - InterruptIn"
### Description
According to "nRF52840 Product Specification v1.0" 8 InterruptIn's are available,  I tried to use 7 InterruptIn's but if I try to initialize more than 4 mbed quits with the following error:

The asseration at `nrf_drv_gpiote.c:612` does the following:
`ASSERT(pin_in_use_by_gpiote(pin));`

Why does this happen and how can I avoid it?

KR

### Issue request type

    [ ] Question

[2019-03-06 16:26] marcuschangarm opened #9962 "lp timeout test fails on NUCLEO_L073RZ"
### Description

Tested on two different boards.

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-06 16:42] jeromecoutant commented on #9848
Bump

Thx

[2019-03-06 16:43] jeromecoutant commented on #9460
Bump

Thx

[2019-03-06 16:48] jeromecoutant commented on #9228
@ARMmbed/mbed-os-maintainers  could you close it ?
Thx

[2019-03-06 19:23] #9228 closed

[2019-03-06 21:07] #8447 closed

[2019-03-06 21:13] ciarmcom commented on #9962
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-948*

[2019-03-06 21:13] ciarmcom commented on #9961
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-949*

[2019-03-06 21:13] ciarmcom commented on #9958
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-950*

[2019-03-06 21:14] ciarmcom commented on #9951
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-951*

[2019-03-06 21:14] ciarmcom commented on #9950
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-952*

[2019-03-06 21:14] ciarmcom commented on #9949
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-953*

[2019-03-06 21:14] ciarmcom commented on #9945
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-954*

[2019-03-06 21:14] ciarmcom commented on #9942
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-955*

[2019-03-06 21:14] ciarmcom commented on #9934
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-956*

[2019-03-06 21:14] ciarmcom commented on #9933
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-957*

[2019-03-06 21:14] ciarmcom commented on #7800
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-958*

[2019-03-06 23:40] linlingao opened #9968 "Unable to debug/run CY8CKIT_062_WIFI_BT using Eclipse"
### Description

Steps to reproduce:
(1) mbed import mbed-os-example-wifi
(2) cd mbed-os-example-wifi
(3) Create mbed_app.json if it's not at the root directory. Then add your SSID and password.
(4) mbed compile -m CY8CKIT_062_WIFI_BT -t gcc_arm --profile debug
(5) Copy generated mbed-os-example-wifi.hex to the enumerated DAPLINK drive
(6) Press RST button after the image has been copied over
(7)

[2019-03-07 03:32] maclobdell commented on #9968
cc @ARMmbed/team-cypress

[2019-03-07 03:47] maclobdell opened #9969 "Network test fails on CY8CKIT_062_WIFI_BT and CY8CPROTO_062_4343W"
### Description

I'm running mbed os network tests on CY8CKIT_062_WIFI_BT and CY8CPROTO_062_4343W.

Version: Mbed OS 5.15.5

Toolchains: ARM and GCC_ARM

Test commands used:

mbed test -t GCC_ARM -m CY8CPROTO_062_4343W -n tests-network-*
mbed test -t GCC_ARM -m CY8CKIT_062_WIFI_BT -n tests-network-*

Test Setup:
I have a WiFi access point in the close vicinity with the following credentials.   It

[2019-03-07 03:48] maclobdell commented on #9969
cc @SeppoTakalo - any suggestions?

[2019-03-07 04:20] UrmilaKL commented on #9674
Could you please provide us any small testcase for BLE using greentea/icetea ?
So that I can take that example and explore more on it

[2019-03-07 05:06] jackyhuang85 opened #9970 ""latest" tag is still on 5.11.4 commit"
### Description

* Target: Any
* toolchain: GCC_ARM
* tools: mbed-cli v1.9.1

#### Reproduce
1. `mbed new <project name>`
2. It appears `[mbed] Adding library "mbed-os" from "https://github.com/ARMmbed/mbed-os" at branch/tag "latest"`
3. `mbed compile -t GCC_ARM -m K66F` -> 5.11.4 py3 bug happened

1. `mbed import <example-blinky>`
2. `[mbed] Adding library "mbed-os" from "https://github.com/ARMmb

[2019-03-07 06:28] ciarmcom commented on #9970
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-960*

[2019-03-07 06:28] ciarmcom commented on #9969
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-961*

[2019-03-07 06:28] ciarmcom commented on #9968
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-962*

[2019-03-07 07:18] UrmilaKL commented on #9950
Any Update?

[2019-03-07 07:19] theamirocohen commented on #9934
Hi, it's not regression, the board was added into MbedOS CI nightly tests and failed the current test.
IOTSTOR-793 has no information about the issue, just the task of examining the device's fails.
A main.c can be found [here](https://github.com/ARMmbed/mbed-os/blob/master/features/storage/TESTS/blockdevice/general_block_device/main.cpp), the function that fails is test_erase_functionality, at the

[2019-03-07 07:49] desmond-blue commented on #9869
@pan- Would you help on this, why does [UPDATE_PROPERTIES be checked](https://github.com/ARMmbed/mbed-os/blob/f8d254fc4c4a9b41351499861770c58bc00b86d0/features/FEATURE_BLE/targets/TARGET_CORDIO/source/CordioGattServer.cpp#L388) for registering authorisation list?

[2019-03-07 07:59] VeijoPesonen commented on #8609
@lamandoBySJ I make an assumption that you're speaking about passive scan mode and you're asking for adjustable scan time for each channel. Please correct me if I'm wrong.

[2019-03-07 08:20] bqam-ublox commented on #9704
The local patch to change BUFF_SIZE can be used as a workaround.
As far as I understand @cmonr , ARM shall provide a way to override a MACRO (linked from the json file similar to what is done in for example: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json)

[2019-03-07 08:58] pan- commented on #9869
@paul-szczepanek-arm Could you introduce a new configuration parameter for `MAX_CHARACTERISTIC_AUTHORIZATION_CNT` ?

[2019-03-07 09:27] paul-szczepanek-arm commented on #9869
Sure. IOTPAN-405

[2019-03-07 09:29] DBS06 commented on #9961
I think I found the solution.
In `"mbed-os\targets\TARGET_NORDIC\TARGET_NRF5x\TARGET_NRF52\TARGET_MCU_NRF52840\config\sdk_config.h"   ` the define `GPIOTE_CONFIG_NUM_OF_LOW_POWER_EVENTS 4` should be changed.

This can be done inside the custom targets with
`"macros_add": ["GPIOTE_CONFIG_NUM_OF_LOW_POWER_EVENTS=8"]`

Hopefully this helps

[2019-03-07 10:05] 0xc0170 commented on #9970
Hi,

thanks for the report, we will check. From the view on Github, looks like https://github.com/ARMmbed/mbed-os/releases/tag/latest is still pointing to the older one.

cc @ARMmbed/mbed-os-maintainers

[2019-03-07 10:26] 0xc0170 commented on #9611
We do also make gcc arm, also failing, latest nightly on 5.12 branch can be viewed here http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci/mbed-os-5.12/artifacts/mbed-os-5.12/2/exporter/FAIL/

[2019-03-07 10:47] donatieng commented on #9460
+1 on using the flags option - @bridadan would be keen to hear the rationale

[2019-03-07 10:56] 0xc0170 commented on #9970
Fixed https://github.com/ARMmbed/mbed-os/releases/tag/latest

Closing as resolved

[2019-03-07 10:56] #9970 closed

[2019-03-07 11:19] 0xc0170 commented on #9611
@alekla01 @timurh01 Please help us why is srec_cat failing in the CI.

This looks like specific to FUTURE_SEQUANA boards as other targets that use srec_cat are working.

[2019-03-07 11:23] 0xc0170 opened #9974 "LPC54114: iar exporter fails with fpu keyerror"
### Description

Target LPC54114 fails for IAR exporter

[code]

Log can be found here http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/144/exporter/FAIL/iar/LPC54114/

Found on 5.12.0-rc1 nightly as well as on master

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

@ARMmbed/team-nxp @ARMmbed/mbed-

[2019-03-07 11:36] 0xc0170 opened #9975 "ublox: UBLOX_EVK_ODIN_W2 hard faults for wifi test (armc6)"
### Description

Logs can  be found Test logs: http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci/mbed-os-5.12/artifacts/mbed-os-5.12/2/greentea-test/1406/ERROR/UBLOX_EVK_ODIN_W2/ARMC6/

This is in nightly. Wifi seems to be hard faulting for ARMC6.

5.12.0-rc1 nightly fails with this error.

### Issue request type

    [ ] Question
    [ ] Enhancemen

[2019-03-07 11:48] lrusinowicz commented on #9611
@0xc0170
I see two, separate issues in the build logs:
_**1. gcc/FUTURE_SEQUANA_PSA**_
srec_cat fails, because re-generated PSA M0 images contain special addresses starting with 0x9******, conflicting with the same addresses generated for M4 image. These can be just manually cut-out from M0 hex files, but I will submit a change, that should stop generation of these addresses in the first place.
_*

[2019-03-07 12:16] AndriiLishchynskyi commented on #9968
Hi @linlingao,

I assume you didn't take into account that CY8CKIT_062_WIFI_BT is dual-core device and created launch configuration is intended to debug CM0+ core. Make sure to specify second core to debug:
![debug_config](https://user-images.githubusercontent.com/48319111/53955896-db725300-40e2-11e9-8d6e-ded0c18e7478.jpg)

Also you may get valid launch configurations by running:
mbed export -i ec

[2019-03-07 12:25] 0xc0170 commented on #9611
Thanks for the update and looking at these logs. The fixes should target 5.12rc2 (reference this issue there so we are aware of the proper release target).

[2019-03-07 12:28] michalpasztamobica commented on #9975
Thanks, Martin. Yes, we've also noticed and we are already working on it in ONME-4220.

[2019-03-07 12:29] 0xc0170 commented on #9975
Great! Once this is cloned to our jira, please link these 2 issues and fix should close this one.

[2019-03-07 12:35] UrmilaKL commented on #9674
Or could you please provide me one single BLE testcase where i can run it through greentea

[2019-03-07 12:37] michalpasztamobica commented on #9975
My findings are that [this commit](https://github.com/ARMmbed/mbed-os/commit/30f18b67e551f7cae83c843cddefdd2735e6273b) introduced the issue (switching to ARMC6) and that the hard fault takes place when [this line](https://github.com/ARMmbed/mbed-os/blob/aedc1e10ead5593086850524ced46ce60541e33b/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_MODULE_UBLOX_ODIN_W2/sdk/ublox-odin-w2-driver

[2019-03-07 12:52] ciarmcom commented on #9975
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-964*

[2019-03-07 12:52] ciarmcom commented on #9974
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-965*

[2019-03-07 13:13] 0xc0170 commented on #9912
It's not just adding one macro. The MCU family does not have CAN implementation

cc @ARMmbed/team-nxp

[2019-03-07 15:34] janjongboom opened #9983 "lfs_emubd.c can be leaking resources"
### Description

In a number of functions in [lfs_emubd.c](https://github.com/ARMmbed/mbed-os/blob/master/features/storage/filesystem/littlefs/littlefs/emubd/lfs_emubd.c) the functions are returning when f.e. `fread` fails. But this is not closing the file, thus leaking the resource.

Here are all of them (from cppcheck):

[code]

@geky

### Issue request type

    [ ] Question
    [ ] Enhancement

[2019-03-07 15:53] janjongboom opened #9987 "TARGET_TMPM46B/i2c_api.c does not check result of realloc"
### Description

In the TMPM46B target `gI2C_LTxData` is reallocated [here](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_TOSHIBA/TARGET_TMPM46B/i2c_api.c#L260) but the return value is not checked. If this fails it could lead to writing in uninitialized memory.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-07 16:03] linlingao commented on #9968
@AndriiLishchynskyi Thank you so much! After changing the debug configuration, I'm able to debug.
It would be very helpful if these steps are documented on the board page on os.mbed.com.

[2019-03-07 16:03] #9968 closed

[2019-03-07 16:25] ciarmcom commented on #9987
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-966*

[2019-03-07 16:25] ciarmcom commented on #9983
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-967*

[2019-03-07 16:42] theotherjimmy commented on #9974
Good catch; good report. I'll look at it shortly

[2019-03-07 17:35] bridadan commented on #9460
Hey everyone, I've been looking at this in my own time, so the idea is still in the early stages. Pretty much the idea is to separate the core names and the core extensions. We currently have a list of strings covering the core name and extension combinations: https://github.com/ARMmbed/mbed-os/blob/master/tools/targets/__init__.py#L39-L56

This is troublesome for many reasons:

- When we're gener

[2019-03-07 19:45] theotherjimmy commented on #9974
I cannot reproduce this.

[2019-03-08 08:27] SeppoTakalo commented on #9969
@maclobdell First, correct the WiFi SSID configurations

[code]
Those values are not matching what you said your test network is.

Also, please note that for WiFi tests, you need two SSIDs. One for secure, and one for unsecure.
See: https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md#wi-fi-test-environment

[2019-03-08 08:29] SeppoTakalo commented on #9922
Thanks for the report,
I'll assign this to be fixed within my team.

[2019-03-08 08:46] harc-cypress opened #10006 "CordioBLE stack : Sending Vendor specific command and receiving VSC complete event"
### Description
Hi,
    In Cordio-stack i can see **HciVendorSpecificCmd** API  (in hci_api.h file).
    Application can use this API directly? or Is there any other way to send Vendor Specific command?
    Other thing is, in dmDevHciHandler function, **HCI_VENDOR_SPEC_CMD_CMPL_CBACK_EVT** event is not handle. So if app sends any vendor specific command, How app will get the status callback of sen

[2019-03-08 09:23] LMESTM commented on #9674
cc @avilei

[2019-03-08 10:21] stevew817 commented on #8857
From the ARMmbed/team-silabs perspective I support the proposal from @donatieng

[2019-03-08 10:22] 0xc0170 opened #10007 "CY8CKIT_062_WIFI_BT: IAR timeout for components-target_psa-tests-compliance_crypto-test"
### Description

[code]

More info filled by psa team. (to be added)

@ARMmbed/team-cypress @ARMmbed/mbed-os-psa

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-08 10:42] ccli8 commented on #9375
The issue is also related to my network environment. After clarifying it and changing mbed-os to **120e43ed14 Merge pull request #9928 from kfnta/secure_release**, I can generate `index.json` now.

[2019-03-08 10:42] #9375 closed

[2019-03-08 11:08] janjongboom opened #10009 "Override mbed flash behavior for Greentea"
### Description

Quite a lot of the Mbed OS tools require a way to flash new binaries on boards, but they all rely on using mass-storage device mode. This is fine for development boards, but when you move away from them (towards a real product) you often don't have this. E.g. many of the cheap JLINK adapters don't support MSD, or maybe you're using Atmel EDBG. Is there any way to override the flas

[2019-03-08 11:20] maclobdell commented on #9969
thanks.  I thought everything necessary was correct in the targets override section.  I also thought that the insecure access point was optional.  My apologies.  I'll correct the test setup.

[2019-03-08 11:48] pan- commented on #10006
@harc-cypress Ideally that should be handled at the vendor driver level.

We need to improve the driver interface so vendors can send and handle vendor specific commands. We also need to expose the vendor driver to end user so vendor specific capabilities can be use by applications.

[2019-03-08 12:01] harc-cypress commented on #10006
@pan- Thanks for the quick response.
Do you already have any internal ticket for this improvement?
How much approx time will it take to add this feature in cordio stack/driver?

[2019-03-08 12:11] 0xc0170 commented on #9975
Is that correct the commit above is causing this hard fault? Any update?

cc @screamerbg

[2019-03-08 12:17] 0xc0170 commented on #9987
cc @ARMmbed/team-toshiba

[2019-03-08 12:19] 0xc0170 commented on #9933
cc @ARMmbed/team-silabs

[2019-03-08 12:42] lrusinowicz commented on #9611
@0xc0170
Strange build failure in armc5 builds was caused by specific behaviour of ARM fromelf utility and the option used in exported makefile `--i32`. With this option, when sparse sections are present in binary, the tool generates multiple hex files within the directory named according to the output option, hence srec_cat was complaining that it was given directory instead of a file name.
Pytho

[2019-03-08 12:43] 0xc0170 commented on #9611
Thanks for fixing this

[2019-03-08 12:44] stevew817 commented on #9933
We didn't submit any patches to EFM32 lately, so I'm taking a guess this is related to #9571.

I can't see the test job results for #9571. If I had to guess, these didn't run against EFM32 and therefore caused failure down the line when EFM32GG11_STK3701 is now being tested as part of pelion_enablement.

@0xc0170 Can you check whether #9571 was run against EFM32 boards before being merged in, befo

[2019-03-08 12:46] 0xc0170 commented on #9933
Reviewed. It did not run for the PR.

[2019-03-08 12:49] stevew817 commented on #9933
@deepikabhavnani I guess it's back to you then, since you're the author of that PR.

[2019-03-08 12:49] ciarmcom commented on #10009
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-970*

[2019-03-08 12:49] ciarmcom commented on #10007
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-971*

[2019-03-08 12:49] ciarmcom commented on #10006
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-972*

[2019-03-08 12:50] stevew817 commented on #9933
On a broader note, @0xc0170 do you have any idea *why* it wasn't run?

[2019-03-08 12:52] stevew817 commented on #9933
@mprse Can you take a look at this, since the apparently offending PR is yours?

[2019-03-08 12:54] 0xc0170 commented on #9933
We have nightly running - has wider coverage. The latests runs do not contain emf32. I'll talk to the test team

cc @ARMmbed/mbed-os-test

[2019-03-08 12:59] deepikabhavnani commented on #9933
@stevew817 - issue was identified and fix was going as part of other PR, this was to record that we get the fix in 5.12.
#9910 has added fix for this. https://github.com/ARMmbed/mbed-os/pull/9910/commits/8b25887021c58261204935083ab477b467e08c3d
Sorry for trouble. Will close this once PR is merged

[2019-03-08 13:01] deepikabhavnani commented on #9933
Also though device was not part of CI test were executed locally to verify linker script updates

[2019-03-08 13:03] pan- commented on #10006
@harc-cypress Not yet, I will open an internal ticket today. Let's see where this goes with stakeholders. The HCI driver requires several improvements from an engineering perspective and we receive feature requests that we need to analyze.

[2019-03-08 13:17] desowin commented on #10009
There is related issue in mbed-cli https://github.com/ARMmbed/mbed-cli/issues/475

[2019-03-08 14:04] 0xc0170 commented on #9983
cc @ARMmbed/mbed-os-storage

[2019-03-08 14:05] 0xc0170 commented on #9962
cc @ARMmbed/team-st-mcd

[2019-03-08 14:06] 0xc0170 commented on #9961
Can this be closed ?

[2019-03-08 14:11] janjongboom opened #10013 "F446RE never goes into deep sleep"
### Description

I have a NUCLEO-F446RE development board, running with TICKLESS enabled, running basic blinky. This board never goes into deep sleep because `MBED_CONF_TARGET_TICKLESS_FROM_US_TICKER` is declared. What is this setting and why does it block deep sleep? I thought all STM32's now support tickless mode and should go to deep sleep automatically?

### Issue request type

    [X] Questio

[2019-03-08 14:16] 0xc0170 commented on #9854
@c1728p9 Wasn't this intention?

[2019-03-08 14:24] alekla01 opened #10015 "TARGET_EFM32/emlib/inc/em_gpio.h -Wtautological-constant-out-of-range-compare"
### Description

[code]

12168 times ``-Wtautological-constant-out-of-range-compare`` warning when building mbed-os.
 -> up to at 60x longer build time with verbose compared to without verbose.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-08 14:25] 0xc0170 commented on #10013
@ARMmbed/team-st-mcd

[2019-03-08 14:25] 0xc0170 commented on #10015
cc @ARMmbed/team-silabs

[2019-03-08 14:32] jeromecoutant commented on #10013
@c1728p9

[2019-03-08 14:46] janjongboom opened #10016 "K64F never goes below 100uA sleep current"
### Description

I'm running blinky (tickless mode on) with 2s. interval on a K64F, but when I measure power consumption of the MCU (without LED) it never drops below ~100 uA. That strikes me as high. According to the sleep stats the CPU spends almost all its time in deep sleep and with memory retention the K64F should be able to drop to 5 uA.  Also I see a spike every second, which I'm not sure w

[2019-03-08 15:51] naveenkaje commented on #8977
Fix merged.

[2019-03-08 15:51] #8977 closed

[2019-03-08 16:01] maclobdell commented on #9969
why do the tests not use the nsapi.default values?

            "nsapi.default-wifi-ssid": "\"mbedEnabled\"",
            "nsapi.default-wifi-password": "\"validation\"",
            "nsapi.default-wifi-security": "WPA_WPA2"

[2019-03-08 16:12] j3hill commented on #7800
@pmancele It's been a few months since we've seen any activity on this issue, and it appears that it has been resolved.  Please confirm, if possible.

[2019-03-08 16:22] c1728p9 commented on #10013
Hi @janjongboom on devices which require the low power ticker wrapper, interrupt latency when running tickless off of the low power ticker is bad enough to drop bytes when running serial at a baud of 115200. I profiled the low power ticker and low power ticker wrapper code to try and correct the high interrupt latency, but I couldn't find any further optimizations to correct this.

To workaround t

[2019-03-08 16:38] c1728p9 commented on #9854
Hi @jeromecoutant this error is intentional for two reason.
1. Porters adding new targets need to be aware that there is a common MPU API driver. Enabling this by default based on `__MPU_PRESENT` may lead to problems on targets which use the MPU for other purposes. Porter must make a decision to either support the MPU API by adding `MPU` to `device has`, or to not support the MPU API by defining `

[2019-03-08 16:38] j3hill commented on #9961
Yes. We can close this.

[2019-03-08 16:50] janjongboom commented on #10013
@c1728p9 Interesting. I was actually running at baud rate 9,600 so no issues for me. I'll try the workaround. Additionally, @ARMmbed/mbed-docs can we make sure this is documented somewhere? Right now it is not.

[2019-03-08 17:18] maclobdell commented on #9969
I just retested with the suggestions.  Everything passes.  The issue is resolved.  My mistake.  Thanks!

[2019-03-08 17:18] #9969 closed

[2019-03-08 18:52] DBS06 commented on #9961
Btw the "Interrupt's" are actually "Events" so it is possible to get more than 8.

[2019-03-08 18:52] #9961 closed

[2019-03-08 20:00] TacoGrandeTX commented on #9632
Closing... feel free to re-open if you still have a problem.

[2019-03-08 20:44] maclobdell commented on #9897
@Team-Cypress - any ETA on this? it would be much appreciated

[2019-03-08 21:14] ciarmcom commented on #10016
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-973*

[2019-03-08 21:14] ciarmcom commented on #10015
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-974*

[2019-03-08 21:14] ciarmcom commented on #10013
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-975*

[2019-03-08 22:12] johndebudge commented on #9897
@maclobdell we do not have an exact ETA at this time but it is on our backlog of work to do.

[2019-03-09 21:22] niranjanfall2017 commented on #9912
Hi,
    The MCU family has CAN pins available. They do not have trans-receiver component needed to complete the operation. I was able to use and implement it in **MCUxpresso** by adding suitable trans-receive. I wanted to give it a try in mbed platform because the code is easily understandable.

[2019-03-10 13:23] adamelhakham opened #10022 "pal_crypto.h file name conflict with Pelion client"
### Description
There is a new file in the BLE stack called pal_crypto.h:
https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_BLE/targets/TARGET_CORDIO/stack/platform/include/pal_crypto.h

* The problem is that the Pelion client has a porting layer called PAL and one of the files is called pal_Crypto.h. This causes build failures when building on a Windows machine (file system not case

[2019-03-10 15:28] NeilMacMullen opened #10024 "Workaround for Ublox G450 firmware issue"
### Description
When using a TCP socket, the Ublox G450 appears to suffer from a firmware bug where, if more bytes are requested with USORD than are available in the internal modem buffer, and then more data is received over the air, an unsolicited response can be generated.  Eg.

The Ublox AT command manual says

and the stack has been written with this assumption but the following code appears t

[2019-03-10 16:18] ciarmcom commented on #10024
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-976*

[2019-03-10 16:18] ciarmcom commented on #10022
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-977*

[2019-03-10 23:01] yogeshk19 commented on #9093
@TacoGrandeTX Do we still need to add the changes below in the mbed_app.json to reduce the current draw if we are not planning to use Cryptocell310?

[code]
Also is it good enough to just add the macro below to remove CryptoCell310 or do we need to add the other macros listed above? The reason I ask is that when I just add the macro below, my code doesn't compile.

"target.features_remove": ["CRYP

[2019-03-11 02:15] soramame21 commented on #9987
to @ganesh-ramachandran Could you check this issue please?

[2019-03-11 02:21] soramame21 commented on #7570
@studavekar Could you close this issue please?

[2019-03-11 07:24] samchuarm commented on #9396
Hi @SeppoTakalo , can you please help check if this is still an issue or it can be closed? Thanks.

[2019-03-11 07:44] samchuarm commented on #8081
Adam, thanks for your effort fixing the issue.

Hi @SeppoTakalo , since the PR# #9923 has been approved, can this issue be closed now? Thanks.

[2019-03-11 08:29] 0xc0170 commented on #10022
@ARMmbed/mbed-os-pan Can you please review

[2019-03-11 08:55] 0xc0170 commented on #10024
cc @ARMmbed/mbed-os-wan @ARMmbed/team-ublox

[2019-03-11 09:03] paul-szczepanek-arm commented on #10022
The file belongs to an external lib - cordio bluetooth stack, I think the real solution is to fix the build system to require full include paths for includes that are not part of the feature being compiled.

[2019-03-11 09:18] pan- commented on #10022
To build on @paul-szczepanek-arm answers, the build system is the real offender here, we can add all the workaround in the world, this type of issue will continue to happen whenever a third party library is imported. As long as the build system continue to consider every header to be public there will be collision in common use cases (@geky @ARMmbed/mbed-os-tools ).

Current solution within the os

[2019-03-11 09:28] AriParkkila commented on #9848
@jeromecoutant Can you refer to an Mbed target that does not support `DEVICE_SERIAL` so I could try with that?

It seems to me that Mbed OS actually requires `DEVICE_SERIAL`, for example Greentea:
[code]

[2019-03-11 09:47] desmond-blue opened #10028 "BLE:Cordio: Incorrect permission check for characteristic in authorization list"
### Description

This is in [CordioGattServer.cpp.](https://github.com/ARMmbed/mbed-os/blob/f8d254fc4c4a9b41351499861770c58bc00b86d0/features/FEATURE_BLE/targets/TARGET_CORDIO/source/CordioGattServer.cpp#L388)

I think there is overlap between bitfields of `UPDATE_PROPERTIES` which is `BLE_GATT_CHAR_PROPERTIES_NOTIFY | BLE_GATT_CHAR_PROPERTIES_INDICATE` which is 0x30 and `ATTS_PERMIT_WRITE` which

[2019-03-11 10:10] jeromecoutant commented on #9848
Hi

This question is related to TFM integration.
Idea is to create a new secure target which doesn't need SERIAL API.

Yes, I raised #9850 :-)

[2019-03-11 10:18] kjbracey-arm commented on #9850
Somewhat related: #6674

[2019-03-11 10:48] AriParkkila commented on #9848
@jeromecoutant #10029 fixes cellular dependencies to `DEVICE_SERIAL`.

Could you create an issue for `UARTSerial.h / DEVICE_INTERRUPTIN` to be fixed separately.

[2019-03-11 10:57] kjbracey-arm commented on #9848
I believe Jerome's point in the comment above was that your compile condition needs to match `UARTSerial`'s availability condition - ie it has to be `DEVICE_SERIAL && DEVICE_INTERRUPTIN`.

Although that condition is itself rather strange - it's only the DCD line that it needs `InterruptIn` in for, so maybe it would be better if `UARTSerial` only made that DCD functionality conditional.

[2019-03-11 11:47] AriParkkila commented on #9848
`DEVICE_INTERRUPTIN` might be needed in any case? For example K64F target has compile errors without `DEVICE_INTERRUPTIN`:
[code]

[2019-03-11 12:17] kimlep01 opened #10032 "Greentea tests fail with MTS_MDOT_F411RE (sync failure)"
### Description

Our Greentea based Lorawan tests started to fail last week 7th of March with target: MTS_MDOT_F411RE. Reason is sync failure after flashing. After some debugging I noticed that none of the mbed-os Greentea tests work anymore with the same target. I ran git bisect with mbed-os and got the following commit:

aeeb43fb3c0f7f955a2856c7ef2c58f37bbbd2dd` is the first bad commit
commit ae

[2019-03-11 12:51] ciarmcom commented on #10032
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-978*

[2019-03-11 12:51] ciarmcom commented on #10028
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-979*

[2019-03-11 13:48] TaniaMirzin opened #10035 "mbed-os/features/frameworks/TARGET_PSA/ compiled with error"
### https://github.com/ARMmbed/mbed-os/#525d46378e8ebe5a9f71e79ced203adb1f162a65
 compiles TARGET_PSA framework and causes compilation errors

Steps to reproduce
1. Git clone https://github.com/ARMmbed/mbed-client-testapp
2. Switch to branch 5.12.0-RC1
3. Update mbed-os.lib to https://github.com/ARMmbed/mbed-os/#525d46378e8ebe5a9f71e79ced203adb1f162a65
4. Copy attached  mbed_app.json []
[mbed_app.

[2019-03-11 13:57] theotherjimmy commented on #10022
That would break _so many_ current projects, it's sort of funny to think about the developer backlash.

[2019-03-11 14:00] jenia81 commented on #10035
@0xc0170 Pelion Client isn't compiled with Mbed OS master. This is blocker for us

[2019-03-11 14:01] donatieng commented on #10022
@theotherjimmy Yes - but the longer we wait, the bigger the backlash will be when we can't afford not to do it anymore. And nothing would prevent you to leave that "feature" enabled in user code by default, while start doing things properly within the OS codebase.

[2019-03-11 14:03] theotherjimmy commented on #10022
@donatieng

Sounds like it needs to be configurable per-library, or something along those lines.

[2019-03-11 14:20] kimlep01 commented on #10032
Update from our CI: MTB_MTS_DRAGONFLY has the same exact issue.

[2019-03-11 14:28] bridadan commented on #10022
I was going to create an issue for this to brainstorm some ideas about this. Seems like we need _some_ kind of plan going forward. Having (almost) every directory being included as an include path already creates other problems with command line length.

[2019-03-11 14:54] #9116 closed

[2019-03-11 14:57] 0xc0170 commented on #10032
@ARMmbed/team-multitech Please review

[2019-03-11 15:05] pan- commented on #10022
@theotherjimmy Yes; I think some work can be done with the _conditional build system_ . If  library writers can define which path is visible to library consumer then the build system can make sure that headers internal to the library are not exposed to unrelated modules and public headers are not exposed to library that do not consume then.

[2019-03-11 15:07] TacoGrandeTX commented on #9383
@wlamprecht - did https://github.com/ARMmbed/mbed-os/pull/9537 help with this?

[2019-03-11 15:10] klaas019 commented on #10032
Reviewing...
In my review I want to understand how the commit that broke it was merged. Aren't the Greentea tests run on every pr?

[2019-03-11 15:14] studavekar commented on #7570
closing it.

[2019-03-11 15:14] #7570 closed

[2019-03-11 15:30] theotherjimmy commented on #10022
@geky FYI

@pan- Great idea! I was thinking the same thing myself.

[2019-03-11 15:33] 0xc0170 commented on #10035
@ARMmbed/mbed-os-psa please review

[2019-03-11 15:38] 0xc0170 commented on #10022
Besides good discussion around how to fix this properly, how to address this for 5.12.0-rc2/3 ?

@adamelhakham we haven't yet received how this conflicting header file is included.

cc @jenia81

[2019-03-11 15:48] alzix commented on #10035
Seems like crypto misconfiguration.
@Patater , please advise.

[2019-03-11 15:52] bridadan opened #10039 "Tools check for Arm Compiler 5 in PATH when compiling with Arm Compiler 6"
### Description

@SenRamakri

I'm using commit 83d70199d1d0c4774327110f524e2386dad730b2 of master at the moment:

[code]

As you can see, Arm Compiler 6 is in my path but Arm Compiler 5 is not. I believe the tools are still checking Arm Compiler 5 still.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-11 15:59] adamelhakham commented on #10022
@0xc0170 @pan- not sure what you mean by include path, I use mbed-cli which includes all the features included in the jsons and basically pretty much everything except for tests.
In our case, since targets.json adds the BLE feature for the UBLOX_EVK_ODIN_W2 target, this new `pal_crypto.h` is included by some source file in the BLE stack. However since we there is also our (Pelion Client) file call

[2019-03-11 16:05] 0xc0170 commented on #10022
@adamelhakham where is this file included? Want to check the sources. our initial assumption is there will be "#include "pal_crypto.h". If you can share the repository (best would be the files directly including it in Pelion code base).

[2019-03-11 16:14] adamelhakham commented on #10022
* we include `pal_Crypto.h` here:
https://github.com/ARMmbed/mbed-cloud-client-sources-internal/blob/master/mbed-client-pal/Source/PAL-Impl/Services-API/pal.h
* BLE stack includes `pal_crypto.h` the file here:
https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_BLE/targets/TARGET_CORDIO/stack/ble-host/sources/sec/common/sec_main.h

[2019-03-11 16:19] 0xc0170 commented on #10022
As the first one is our file, I would suggest to update the line 39 to `#include Services-API/pal_Crypto.h". This would be workaround - will enable you to continue now and us to work towards the better fix

[2019-03-11 16:19] donatieng commented on #10022
@0xc0170 in the short term our team can issue a workaround (by amending this line: https://github.com/ARMmbed/mbed-os/blob/83d70199d1d0c4774327110f524e2386dad730b2/features/FEATURE_BLE/targets/TARGET_CORDIO/stack/ble-host/sources/sec/common/sec_main.h#L26) and we'll need the Client team to do the same. Once that's in I suggest reducing the priority of the issue, but leaving it open to track the un

[2019-03-11 16:20] 0xc0170 commented on #10022
@donatieng +1, the same answer at almost the same time :)

[2019-03-11 16:21] psionprime opened #10040 "Had a compiler (online) fault with uint32_t invalid pointer type nvic_setvector...looking around net seems this was changed a year or so ago but the onine compiler doesnt have the cast ...?"
Had acompiler (online) fault with uint32_t invalid pointer type nvic_setvector...looking around net seems this was changed a year or so ago but the onine compiler doesnt have the cast ...?

_Originally posted by @psionprime in https://github.com/ARMmbed/mbed-os/pull/4308#issuecomment-471609558_

Target Max32630Fthr

[2019-03-11 16:25] adbridge commented on #10022
@donatieng Will you be landing a PR asap ?

[2019-03-11 16:25] adbridge commented on #10022
@JanneKiiskila @TeemuKultala Who needs to do this on the client side ?

[2019-03-11 16:26] paul-szczepanek-arm commented on #10022
I can do cordio

[2019-03-11 16:31] Patater commented on #10035
The issue appears to be arising from `pal_crypto_config_check.h`, but that's not an Mbed Crypto nor Mbed TLS file. For example, it's complaining about `ARCH_TEST_HMAC` missing dependencies, but `ARCH_TEST_HMAC` is not present in Mbed Crypto nor Mbed TLS.

Is anyone from the PAL/Client team available to advise? I'm happy to help if I can be of any assistance.

[2019-03-11 16:34] adbridge commented on #10035
@JanneKiiskila @jenia81 Looks like PAL/client issue from Jaeden's comment above ?

[2019-03-11 16:35] orenc17 commented on #10035
a fix is on the way from @netanelgonen

[2019-03-11 16:43] netanelgonen commented on #10035
@TaniaMirzin can you please a look?

[2019-03-11 17:02] paul-szczepanek-arm commented on #10022
https://github.com/ARMmbed/mbed-os/pull/10042

[2019-03-11 17:05] TacoGrandeTX commented on #9495
@ARMmbed/team-st-mcd Could you please review the commit https://github.com/Flowm/mbed-os/commit/c8a37fff1fcb58a0007c257653bde6e96f98f4c6?

[2019-03-11 17:16] yogpan01 commented on #10022
@adamelhakham Can you do the proposed fix on mbed-client-pal and check if that resolves the issue?

[2019-03-11 18:28] Flowm commented on #9495
Unfortunately this commit is just a workaround, not a proper fix.

It simply disables the mutex in `CAN::read()` instead of fixing the underlying issue which was properly described by https://github.com/ARMmbed/mbed-os/issues/9495#issue-402858593.

Afterwards CAN communication works properly with `can.attach(callback(), IrqType::RxIrq);` and `can.read()` in the callback.

[2019-03-11 18:56] klaas019 commented on #10032
The commit broke running blinky on the mDot.

[2019-03-11 19:44] klaas019 commented on #10032
The bootloader for the mDot is no longer being attached post build. @0xc0170

[2019-03-11 20:15] hasnainvirk commented on #9803
@maxgerhardt It's an interesting but odd case. Ofcourse the radio driver was not designed to cope with  external power cuts like you mentioned.
The lowest power state for SX1276 is sleep (there is no shutdown/powerdown state). When the radio is in sleep state PLL, radio circuitry, amp and other chain components are off. Datasheet says it should consume about 0.1 to 1 uA.
Now you are physically tur

[2019-03-11 21:16] ciarmcom commented on #10040
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-983*

[2019-03-11 21:16] ciarmcom commented on #10039
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-984*

[2019-03-11 21:16] ciarmcom commented on #10035
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-985*

[2019-03-11 21:53] TacoGrandeTX commented on #9093
@yogeshk19 You still need to use the ```target.macros_remove``` and ```target.macros_add``` lines.

[2019-03-11 21:54] linlingao commented on #10040
@psionprime How did you come to the conclusion the online compiler doesn't have the cast?
Can you post the actual build failure you're seeing? Did you try to import a program or you're building your own code?

[2019-03-12 07:23] TaniaMirzin commented on #10035
@netanelgonen It's ok now. Thanks

[2019-03-12 07:23] #10035 closed

[2019-03-12 07:26] 0xc0170 commented on #10022
Any update? Cordio fix is now going in.

[2019-03-12 07:27] 0xc0170 commented on #10022
#10042 merged. We are waiting for PAL fix (reopening this issue until fixed)

[2019-03-12 07:30] adamelhakham commented on #10022
Yes I am checking, will keep you posted

[2019-03-12 08:27] desmond-blue commented on #9950
Hi @UrmilaKL,

After looking you main.cpp, it's not a greentea architecture, what test you would like to do with green tea?

However it seems like a good BLE application, how about using -f to flash the firmware like below and see if the crash still happens.
`mbed compile -t [Your compiler] -m DISCO_L475VG_IOT01A -f`

Could you provide the crash log?

[2019-03-12 09:18] ConradBraam commented on #9674
I'm just observing this thread here @UrmilaKL , my function is maintaining test cases for this area. However unable to help much because the full test application is non-trivial, so not suitable for learning the frameworks, because it assumes you are very familiar with icetea already. What cases or scenarios specifically are you wanting to validate (test)?

[2019-03-12 09:31] adamelhakham commented on #10022
@yogpan01 @0xc0170  OK this indeed fixes the issue, I am preparing the relevant PRs for the client

[2019-03-12 09:49] ganesh-ramachandran commented on #9987
Hi @0xc0170, @soramame21,

We have fixed above issue if reallocation fails (PR #10048).

However, we are rewriting the I2C HAL driver code to support I2C slave and I2C asynchronous, in which we will remove the dynamic memory allocation mechanism.

[2019-03-12 09:54] offirko opened #10049 "DISCO_F746NG QSPI WriteEnable might Fail on IAR8"
### Description
Following https://jira.arm.com/browse/IOTSTOR-798 tickect

When running storage tests on DISCO_F746NG with IAR8 it fails on test:
**features-storage-tests-kvstore-static_tests**

Same board and test pass ok on IAR7 , as well as on GCC_ARM and ARM.

The test fails in this line :
https://github.com/ARMmbed/mbed-os/blob/master/features/storage/TESTS/kvstore/static_tests/main.cpp#L296

[2019-03-12 09:56] offirko commented on #10049
@jeromecoutant , @adustm : I'd appreciate your inputs
Thanks.

[2019-03-12 10:10] mikisch81 commented on #9857
@ARMmbed/mbed-os-ipcore can you address this issue?

 @ARMmbed/mbed-os-maintainers

[2019-03-12 10:10] soramame21 commented on #9987
:+1:

[2019-03-12 10:15] UrmilaKL commented on #9674
@ConradBraam,
I require any kind of BLE test case which should be able to communicate with any BLE API for any app is fine(EX: Heartrate, thermometer etc)

[2019-03-12 10:17] janjongboom commented on #10013
@c1728p9 @jeromecoutant With this macro enabled the application immediately hard faults on my F446RE. No output on serial, and I don't have a debugger to check what's going on...

[2019-03-12 10:18] UrmilaKL commented on #9950
Hi @Desmond,

Any kind of testcase using greentea/icetea which should be able to communicate with BLE API
is fine for me
I will take up the example to explore more for my project
Thanks in advance
Urmila Bhat

[2019-03-12 10:22] JanneKiiskila opened #10050 "mbed-os-example-blinky not compiling against Mbed OS master/5.12"
### Description

mbed-os-example-blinky (current master, 921e7a35bc42edde1121c2d36e22b1ea78a0ec46)
mbed toolchain version 1.9.1.
mbed OS master 5fcc9617deb7d1bbb58dc91746d5f3021c8d1223
gcc arm compiler used

mbed compile -m K64F -t GCC_ARM fails to compile.

[code]

Have we made backwards incompatible changes to the platform stats?

[code]

### Issue request type

    [ ] Question
    [ ] Enhancem

[2019-03-12 10:23] JanneKiiskila commented on #10050
@ARMmbed/mbed-os-maintainers

[2019-03-12 10:24] janjongboom opened #10051 "NUCLEO-F446RE hard faults when having sleep tracing enabled"
### Description

Verified on Mbed OS 5.11.5. On the NUCLEO-F446RE the board hard faults almost immediately when enabling sleep tracing:

[code]

My application:

[code]

My mbed_app.json:

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-12 10:34] JanneKiiskila opened #10052 "mbed-os-example-blinky not compiling against mbed-os-5.12"
### Description

mbed-os-5.12 branch at commit 7dd791e2f992d872b2dab4a7f061d05f7283090a fails to compile.

mbed version 1.9.1
pip 19.0.3
gcc arm GCC_ARM_PATH=/home/jankii01/gcc-arm-none-eabi-6-2017-q2-update/bin

[code]

fails to compile.

[code]

### Issue request type
-->
    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-12 10:35] JanneKiiskila commented on #10052
Full pip list.

[code]

[2019-03-12 10:39] teetak01 commented on #10052
@JanneKiiskila I think you need to run:
[code]
There is some new mandatory pip-components introduced in 5.12. The auto-install probably fails because you might have globally installed pip which would require sudo-access.

[2019-03-12 10:42] iriark01 commented on #10013
@AnotherButler please can you see about adding this to the 5.13 plan?

[2019-03-12 10:48] akkishore1 opened #10054 "Homekit ADK accessory with iPhone 8 and iPhone X with 5.12.0 mbed"
Hi,
HomeKit ADK disconnects immediately when we try with iPhone8 or iPhone X with iOS version 12.1.4 (16D57) when using 5.12.0 of mbed
However Homekit ADK works fine with same iPhone8 and iPhoneX with iOS version 12.1.4 (16D57) with mbedOS version 5.11.4.

There seems to be lot of changes in the Cordio stack between 5.11.4  and 5.12.0. Is there any additional API needs to be taken care in latest C

[2019-03-12 11:09] JanneKiiskila commented on #10052
That indeed does resolve the issue. This is likely a documentation task then.

[2019-03-12 11:12] JanneKiiskila commented on #10050
Seems master was way outdated there.

[2019-03-12 11:12] #10050 closed

[2019-03-12 11:33] 0xc0170 commented on #10052
cc @ARMmbed/mbed-os-tools

[2019-03-12 11:35] UrmilaKL commented on #9950
Hi @Desmond,

It would be better if you can provide some BLE test cases to set the ADV API parameters

Thanks

[2019-03-12 11:46] psionprime commented on #10040
Target MAX32630FTHR
https://os.mbed.com/platforms/MAX32630FTHR/

Import example program:
https://os.mbed.com/compiler/#import:/users/switches/code/FTHR_OLED/
(https://os.mbed.com/users/switches/code/FTHR_OLED/)
Check "update all libraries to latest version".

Click compile.

(line 144) NVIC_SetVector(USB_IRQn, (uint32_t)&_usbisr);

I just bought this so I don't have a history of knowledge to draw

[2019-03-12 12:29] embeddedteam103 opened #10057 "STM32 DMA support"
### Description

Hello,
Is there any plan to support DMA in STM32 devices?

We are planning to implement a fork of mbed with some DMA support for our internal usage, and would like to know what we'll have to do for a PR that will be accepted.

We are considering the following types of changes:
1. [breaking change] Extending the mbed HAL API.
2. [breaking change] Adding a new mapping in the `Periph

[2019-03-12 12:51] ciarmcom commented on #10057
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-986*

[2019-03-12 12:51] ciarmcom commented on #10054
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-987*

[2019-03-12 12:51] ciarmcom commented on #10052
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-988*

[2019-03-12 12:51] janjongboom opened #10058 "Need a way to enable sleep tracing, but without printing stats every time"
### Description

I really want sleep tracing on as it tells me which locks are active / non-active. However, this also prints the active sleep locks every time the device goes into sleep, which clutters my serial output significantly and I suspect the crash in https://github.com/ARMmbed/mbed-os/issues/10051 is also because of this. Can we add an extra setting that does log sleep locks that are act

[2019-03-12 12:51] ciarmcom commented on #10051
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-989*

[2019-03-12 12:51] ciarmcom commented on #10049
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-990*

[2019-03-12 12:56] janjongboom opened #10059 "UART attach blocks deep sleep, no way to override"
### Description

I'm not sure if this is a feature, a bug, or something that should be in the documentation...

When attaching an interrupt to UART (through `attach`) this will always lock deep sleep. According to @0xc0170 this is because:

However, we don't make this distinction in code. Regardless of the baud rate or the board features we always lock deep sleep. Could we get:

1. An overview of

[2019-03-12 13:01] #9854 closed

[2019-03-12 13:03] cy-vaira opened #10060 "kv_config.cpp file uses macros for QSPI pins without MBED_CONF prefix"
### Description

The macros used for the QSPI pins are QSPI_FLASH1_IO0, QSPI_FLASH1_IO1, QSPI_FLASH1_IO2, and QSPI_FLASH1_IO3. These should be instead MBED_CONF_QSPIF_QSPI_IO0, MBED_CONF_QSPIF_QSPI_IO1, MBED_CONF_QSPIF_QSPI_IO2, and MBED_CONF_QSPIF_QSPI_IO3 so that someone can override the pin setting in mbed_app.json without having to modify the header file under the target folder.

### Issue req

[2019-03-12 13:45] janjongboom commented on #10059
https://github.com/ARMmbed/mbed-os-5-docs/pull/992/files#diff-1ca88a5032642c0ab9b513a77db74c67R120 would allow this to work again but would require work in network drivers.

[2019-03-12 14:03] jeromecoutant opened #10061 "esp8266-driver can't compile is DEVICE_INTERRUPTIN is not enabled"
### Description

Issue is following #9857

If you remove INTERRUPTIN from DEVICE_HAS json configuration,
mbed-os compilation is failing:

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-12 14:20] klaas019 commented on #10032
Line 405 in mbed-os/tools/targets/__init__.py is causing the issue.
`toolchain_labels = set(c.__name__ for c in getmro(toolchain.__class__))
`
toolchain_labels is empty now after removing hooks.py

[2019-03-12 14:35] janjongboom opened #10062 "K64F Ethernet cannot connect in tickless mode"
### Description

Mbed OS 5.11.4 (ecb3c8c837162c73537bd0f3592c6e2a42994045), K64F, develop profile, GCC ARM 6. Running Pelion Device Management Client.

When enabling tickless mode on K64F it can no longer connect to Ethernet.

[code]

Throws 'Unable to connect to network (-3015).'

If you wrap the call to connect with `sleep_manager_lock_deep_sleep();` and the corresponding unlock call connection

[2019-03-12 14:46] 0xc0170 commented on #10062
cc @ARMmbed/team-nxp

[2019-03-12 14:47] klaas019 commented on #10032
Possible fix that works for the mDot  `toolchain_labels = {toolchain}`
I have not tested this fix for other boards, configurations. @maclobdell

[2019-03-12 15:07] 0xc0170 commented on #10032
Which commit? I dont see any reference

[2019-03-12 15:24] reissjason commented on #10032
The first commit [https://github.com/ARMmbed/mbed-os/commit/aeeb43fb3c0f7f955a2856c7ef2c58f37bbbd2dd](aeeb43f) broke.
The toolchain variable is now a string instead of a class. i.e. "GCC_ARM"
The set created by `toolchain_labels = set(c.__name__ for c in getmro(toolchain.__class__))` ended up being `{"basicstring", "object", "str"}`.

[2019-03-12 15:42] bridadan commented on #4301
Spoke with @MarceloSalazar offline, he has not tried this lately with the latest ST-Link.

Has anyone else been experiencing this? If not I will probably end up closing this.

[2019-03-12 15:45] 0xc0170 commented on #10032
@theotherjimmy Can you please review ^^ ?

[2019-03-12 15:48] TaniaMirzin opened #10063 "cypress non-psa regresion"
Steps to reproduce:
1. Clone https://github.com/ARMmbed/factory-configurator-client-example-internal,  revision #aa29773c060ce9d3a12c4c1fd7ed5ae5e12b76fc
2. mbed deploy
3.  mbed compile --app-config mbed_app_psa.json -m CY8CKIT_062_WIFI_BT -t GCC_ARM -DFCE_SERIAL_INTERFACE
4. Run the hex image on CYPRESS board.

Expected : the application passes all initialization and prints "Factory flow begins".

[2019-03-12 15:59] theotherjimmy commented on #10032
guys I don't think that commit stands alone. It was part of a PR which may have been a red-green refactor cycle.

[2019-03-12 15:59] theotherjimmy commented on #10032
Also, github is doing weird redirects on some of the links.

[2019-03-12 16:00] theotherjimmy commented on #10032
@reissjason Which `toolchain` are you referring to? That variable name is in basically every file.

[2019-03-12 16:01] 0xc0170 commented on #10059
@kjbracey-arm your latest fix for enable_input/disable should help addressing this. Is this intended to be added to esp8266 or other network drivers?

[2019-03-12 16:04] klaas019 commented on #10032
@theotherjimmy Line 405 in `mbed-os/tools/targets/__init__.py` is
`toolchain_labels = set(c.__name__ for c in getmro(toolchain.__class__))`

[2019-03-12 16:06] theotherjimmy commented on #10032
[code]

Does this fix it?

[2019-03-12 16:08] theotherjimmy commented on #10032
... github is not happy today.

[2019-03-12 16:09] theotherjimmy commented on #10032
[code]

[2019-03-12 16:13] theotherjimmy commented on #10032
I'm pretty sure that's the solution. PR inbound.

[2019-03-12 16:29] ciarmcom commented on #10063
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-991*

[2019-03-12 16:29] ciarmcom commented on #10062
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-992*

[2019-03-12 16:29] ciarmcom commented on #10061
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-993*

[2019-03-12 16:29] ciarmcom commented on #10060
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-994*

[2019-03-12 16:29] ciarmcom commented on #10059
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-995*

[2019-03-12 16:29] ciarmcom commented on #10058
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-996*

[2019-03-12 16:56] linlingao commented on #10040
@psionprime There's a known issue on the online compiler. The "update all libraries to latest version" and "Update all" do not always work. We're seeing it on Mbed 2. This issue has been reported to the our web team.
There's an easy workaround. If you right click on mbed-os, then click "update", your mbed-os will be updated to the latest version. Your project will build, I've verified it.
Please l

[2019-03-12 17:01] 0xc0170 commented on #10063
cc @ARMmbed/mbed-os-psa

[2019-03-12 17:18] psionprime commented on #10040
Built with only warnings. Thanks !

[2019-03-12 17:18] #10040 closed

[2019-03-12 17:52] orenc17 commented on #10063
the vanilla flavor of CY8CKIT_062_WIFI_BT is without PSA.
it is not reasonable that you would be stuck in `psa_hrng.c` as you do not have PSA.

investigate 1 minute more and i find you add PSA to the target
https://github.com/ARMmbed/factory-configurator-client-example-internal/blob/aa29773c060ce9d3a12c4c1fd7ed5ae5e12b76fc/mbed_app_psa.json#L41

[2019-03-12 18:41] c1728p9 opened #10069 "ARM toolchain uses wrong armasm"
### Description

I have both ARMC5 and ARMC6 installed. When I try to compile with the latest master for ARM (which now defaults to ARMC6) I get a build error when running `armasm`. For example running `mbed compile -t ARM -m K64F -f -v` gives me:
[code]

Running the `where` command shows that armasm for ARMC5 is found first.
[code]

CC @theotherjimmy

### Issue request type

    [ ] Question

[2019-03-12 19:35] cmonr commented on #9933
Closing, since PR is merged.

[2019-03-12 19:35] #9933 closed

[2019-03-12 21:12] loverdeg-ep opened #10071 "EventQueue & Baremetal Profile"
### Description

Related: #9800

Can the event queue be used without RTX; essentially as  [Minar](https://github.com/ARMmbed/minar) would have been used?
Would doing so still be considered baremetal enough for the baremetal profile?

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2019-03-12 21:17] ciarmcom commented on #10069
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-997*

[2019-03-12 21:23] loverdeg-ep commented on #10057
https://github.com/ARMmbed/mbed-os/blob/master/docs/design-documents/README.md

^ The above link would be the process to follow if they don't currently have plans.

[2019-03-12 21:51] linlingao commented on #10052
I see warnings printed:
[mbed] WARNING: Missing Python modules were not auto-installed.
       The Mbed OS tools in this program require the following Python modules: pycryptodome, cmsis_pack_manager
       You can install all missing modules by running "pip install -r requirements.txt" in "/home/jankii01/mbed/mbed-os-example-blinky/mbed-os"
       On Posix systems (Linux, etc) you might have to s

[2019-03-13 05:38] ZaneV opened #10075 "Compile error, failing in LoRaPHY.cpp [Error] LoRaPHY.cpp@426,79: 'floor' was not declared in this scope"
### Description

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

While trying to compile my mbed application using the Mbed CLI or MBED Studio on Windows 10 I am getting the following error on the compiler:

[code]
I removed the mbed-os library that is loaded inside the application directory, reloaded (using version 5.11.5) and tried again with the same error code. The co

[2019-03-13 06:29] ciarmcom commented on #10075
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-998*

[2019-03-13 06:29] ciarmcom commented on #10071
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-999*

[2019-03-13 07:33] javier-moreno-tridonic-com commented on #8501
Finally changes were done in our atmel-rf-driver fork as the suggested location in the constructor would affect other of our targets. I guess that a call at the beginning of main would also work so I don't see a reason anymore to propose a modification via PR anymore

[2019-03-13 07:33] #8501 closed

[2019-03-13 07:48] ChangwuShan opened #10076 "Compile failed when running Greentea test with ARM_MPS2_M0"
### Description

When I trying to run greentea test with the target ARM_MPS2_M0 and ARMCC 6.11 toolchain, it failed in the compile stage.

Steps to reproduce:

1. Clone Mbed-os code (5.12 master branch)
2. https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L5096 Change this line to
"release_versions": ["2", "5"]
3. Run:  mbed test -m ARM_MPS2_M0 -t ARMC6 -n tests-mbedmicro-mbed-di

[2019-03-13 07:57] desmond-blue commented on #10054
Would it be okay to share the sniffer trace of disconnecting scenario? Thanks.

[2019-03-13 07:59] 0xc0170 commented on #10063
If that is the case, PSA should be removed from the configuration.

[2019-03-13 08:27] AriParkkila commented on #9735
@NeilMacMullen the lock/unlock bug fix is now merged. PR to make timeouts configurable is pending for approval/merge.

By default `CellularContext::connect` retries to connect for ten times, that is far over ten minutes, before giving up and that might be too long in your case... Do you think retry count should be configurable too (via `CellularDevice API`)?

[2019-03-13 08:38] akhilcypress commented on #10054
[sniffer.zip](https://github.com/ARMmbed/mbed-os/files/2960463/sniffer.zip)
failure case sniffer log

[2019-03-13 08:43] LMESTM commented on #10057
@embeddedteam103
Speaking for @ARMmbed/team-st-mcd team: we would definitely appreciate and would accept PRs that add extra features to ST targets as long as this fits into mbed-os architecture drivers and doesn't break existing features.  We're even encourage community contributions to TARGET_STM folder.

One of the key point here is to let application select whether they want to use DMA or not,

[2019-03-13 08:43] kjbracey-arm commented on #10059
The UART API extension in 5.12 addresses it from another direction, without any HAL respecification. Just call `UARTSerial::enable_input(false)`, and deep sleep will be permitted, at the cost of input being disabled (it disconnects its RX handler).

But it will be up to modem/wifi/whatever drivers to do that when appropriate. They may themselves need a separate wake mechanism, like an `InterruptIn

[2019-03-13 08:50] 0xc0170 commented on #10076
I am talking to @ChangwuShan . I believe there's wrong configuration in device_has. I've checked MCU header file for ARM_MPS2_M0  and it does not have MPU present, thus MPU should not be in device_has neither and no build errors regarding MPU.

[2019-03-13 09:09] ChangwuShan commented on #10076
Thanks @0xc0170 , It fixed after I delete "MPU" in device_has.

[2019-03-13 09:10] #10076 closed

[2019-03-13 09:25] teetak01 commented on #10022
This ticket can be closed. Any client side changes will not impact OS releasing at this point, because all those changes will be in internal repositories at this point.

[2019-03-13 09:36] JanneKiiskila commented on #10052
We should note in the release notes, that with Mbed OS 5.12 release the requirements for Python modules have changed, please do this and that. (And we should really advice people how to use `virtualenv` to get rid of the module dependency issues9:

[2019-03-13 09:44] akhilcypress commented on #10054
We are also facing similar issue with GattServer example app,
Logs from GattServer with iphone X + iOS-12.1.4

Starting GattServer
Ble process started.
Ble instance initialized
Advertising started.
Adding demo service
clock service registered
service handle: 11
        hour characteristic value handle 13
        minute characteristic value handle 16
        second characteristic value handle 19
Co

[2019-03-13 10:06] desmond-blue commented on #10054
From the trace, the communication is gone after phy_update_ind, so I think all examples have the same issue, and that’s why iPhone 7 doesn’t has the issue because it’s bt4.2.

[2019-03-13 10:43] NeilMacMullen commented on #9735
@AriParkkila   Thanks! I worked around the timeout issue by adding a 'backdoor' to AT_CellularContext...
There's probably a better way to do it (and I'm aware the modification as it stands is misleading as it overrides _all_ state timeouts).

Retry count probably should be configurable but I don't think it's the best way to solve the particular problem here.  The use-case can best be summarised as

[2019-03-13 12:46] janjongboom opened #10079 "Hard fault when printing sleep info on NUCLEO-F446RE"
### Description

My board immediately hard faults after starting up when printing sleep info. Running in tickless mode, with sleep stats enabled on Mbed OS 5.11.5 (51d55508e8400b60af467005646c4e2164738d48).

Application:

[code]

mbed_app:

[code]

Error message:

[code]

Which means:

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-13 12:52] janjongboom commented on #10071
I haven't worked on bare metal mode, but Mbed OS 5.11 without RTOS runs EventQueue fine, so I wouldn't know why not.

[2019-03-13 12:54] janjongboom commented on #10079
Setting `MBED_CONF_APP_IDLE_THREAD_STACK_SIZE=2048` solves this issue. So similar to https://github.com/ARMmbed/mbed-os/issues/7235. Can we add some tests around idle thread sizes when logging is enabled? This has broken before in the 5.9 release.

[2019-03-13 12:59] jeromecoutant commented on #10079
Fix as #8551 ?
@c1728p9 @LMESTM

[2019-03-13 13:02] AriParkkila commented on #9735
@NeilMacMullen you probably could connect asynchronously by setting `NetworkInterface::set_blocking(false);` and then wait for connection timeout in the application?

[2019-03-13 13:06] janjongboom commented on #10079
@jeromecoutant That was released in 5.10.4, this current issue is verified against 5.11.5.

[2019-03-13 13:08] mirelachirica commented on #8829
Thank you for the snippet! It was very usefull to be able to reproduce the issue.

Info responses with empty prefix should not be a match. There was a bug for info_resp scope that would match even empty prefix, due to checking on NULL pointer while _info_resp_prefix is defined as char array so never NULL.

I'm proposing following:
https://github.com/mirelachirica/mbed-os/commit/e83a744e8fa0e76c9a7

[2019-03-13 13:10] NeilMacMullen commented on #9735
@AriParkkila  - yes I did try that but couldn't get it to work for reasons that I now can't recall - something to do with not being able to correctly monitor the interim state to find out when the connection had completed.   Possibly due to my misunderstanding of how it was intended to work rather than a fault in the stack.  If you can post a few lines showing the canonical sequence of API calls f

[2019-03-13 13:16] ghseb commented on #8829
Yes that could help. Additionally it might be required to add the length-check on the following lines too:
https://github.com/mirelachirica/mbed-os/commit/e83a744e8fa0e76c9a78be63eeb4a8f73e23f210#diff-bda508ccd4b3e3e5909446a4f3f88716R856
https://github.com/mirelachirica/mbed-os/commit/e83a744e8fa0e76c9a78be63eeb4a8f73e23f210#diff-bda508ccd4b3e3e5909446a4f3f88716L863

Something like this:
[code]

[2019-03-13 13:18] jeromecoutant commented on #10079
Yes, patch was something like:

#if MBED_TICKLESS
#define EXTRA_IDLE_STACK xxx

New patch would be

#if STATS
#define EXTRA_IDLE_STACK xxx

[2019-03-13 13:20] mirelachirica commented on #8829
Yes, of course those checks are needed everywhere prefix is checked for NULL.

[2019-03-13 13:35] janjongboom opened #10080 "Bare metal mode never sleeps"
### Description

Looking at the power profile of NUCLEO-F446RE running Mbed OS 5.12 (7dd791e2f992d872b2dab4a7f061d05f7283090a) it never enters any sleep state. There are no sleep locks active, and I'm using a low power ticker for blinky. The sleep stats also indicate that we never go to sleep:

[code]

Power consumption hovers around 44 mA. Why don't we sleep in bare metal mode?

(I have `MBED_CON

[2019-03-13 13:56] AriParkkila commented on #9735
@NeilMacMullen I guess it should work if you wait `while (iface->get_connection_status() != NSAPI_STATUS_GLOBAL_UP)`.

However, network callback would be the best way to save power. Pseudo-code would be something like below.
[code]

[2019-03-13 14:24] loverdeg-ep commented on #10071
The following answers my questions I believe.
https://github.com/ARMmbed/mbed-os-5-docs/pull/1004#issuecomment-472219145

Close this if no further discussion.

[2019-03-13 14:42] janjongboom opened #10083 "ESP8266 firmware too old, but I follow the exact instructions"
### Description

Using ESP8266 driver on NUCLEO-F446RE hooked up to UART 6 in Mbed OS 5.11 (c966348d3f9ca80843be7cdc9b748f06ea73ced0) I get the message:

ERROR: Firmware v-1 incompatible with this driver.Update at least to v2 - https://developer.mbed.org/teams/ESP8266/wiki/Firmware-Update

However, I have followed the instructions in that page and it updates the firmware to v1.7. So which firmware

[2019-03-13 14:49] janjongboom commented on #10059
@kjbracey-arm OK, I'll go spend some time on this tomorrow for the esp8266.

[2019-03-13 14:50] VVESTM commented on #9934
Hi, I can reproduce this test with STM32 Cube HAL.
There is also an other ticket related to this issue : https://github.com/ARMmbed/mbed-os/issues/6380

The issue is probably due to a cache issue. Analyse on going.
Waiting for confirmation, you can call SCB_InvalidateDCache() just after the erase.

[2019-03-13 15:01] janjongboom commented on #10083
Could it be that NUCLEO-F446RE is dropping bytes on 115,200 baud rate? I think I heard something earlier about that.

[2019-03-13 15:03] janjongboom commented on #10083
Updated to Mbed OS 5.12 this problem seems to go away. Did we fix anything in flow control handling between 5.11 and 5.12?

[2019-03-13 15:06] janjongboom opened #10085 "F446RE hard faults when enabling MBED_CONF_TARGET_TICKLESS_FROM_US_TICKER"
### Description

I'm running [http-example](https://os.mbed.com/teams/sandbox/code/http-example/) on NUCLEO-F446RE with ESP8266 hooked up. Running Mbed OS 5.12 (c0939781ea1fa50657e055867193b62b1c9a6035). When setting both tickless and `MBED_CONF_TARGET_TICKLESS_FROM_US_TICKER=0` the board immediately hard faults with:

[code]

[code]

I have made the idle thread stack size bigger already, this is

[2019-03-13 16:10] AGlass0fMilk commented on #7674
I have been collecting statistical data on what tests are failing on the current USB Phy implementation and it seems (based on bus complexity/latency) that only the `ep_halt_test` is still failing. I spoke too soon in my previous comment.

The results from ~280 `USB basic` test runs with various bus configurations are shown in the ASCII histograms below:

### Iterative Testing - First Run
#### Con

[2019-03-13 16:32] ciarmcom commented on #10085
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1000*

[2019-03-13 16:32] ciarmcom commented on #10083
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1001*

[2019-03-13 16:33] ciarmcom commented on #10080
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1002*

[2019-03-13 16:33] ciarmcom commented on #10079
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1003*

[2019-03-13 16:44] SenRamakri commented on #9563
Closing this ticket as we received the required changes to support ARMC6 for Renesas targets.
Thanks to @ARMmbed/team-renesas and @d-kato for promptly providing the updates which enabled ARMC6 migration.

[2019-03-13 16:44] #9563 closed

[2019-03-13 17:33] cmonr commented on #10009
CC @ARMmbed/mbed-os-tools

[2019-03-13 18:35] TacoGrandeTX commented on #9017
@1155105943 Is this still causing you problems?  If so - can you check that the make utility is in your path?  If it is in the path, then you might be hitting an issue with the line length being too long as discussed here:  https://github.com/ARMmbed/mbed-os/issues/6335.

As for the debugging issue, do you see any output from the "Debug Console" tab?

[2019-03-13 19:22] theotherjimmy commented on #10009
@janjongboom My first impression is that you would have to break `mbed test` into`mbed test --compile` followed by `mbed test --run` and specify the flashing method to `mbed test --run`, which should be able to take greentea arguments directly.

[2019-03-13 19:33] cmonr commented on #10083
@ARMmbed/mbed-os-ipcore @kjbracey-arm

I recall seeing a bunch of fixes come in for the ESP32 recently.

[2019-03-13 19:44] #10071 closed

[2019-03-13 19:56] #10022 closed

[2019-03-13 20:02] loverdeg-ep commented on #10009
@janjongboom Add @loverdeg-ep, @trowbridgec, @farrenv, from Embedded Planet to your list.

We've been dealing with this for months.
Please see https://github.com/ARMmbed/DAPLink/issues/577#issuecomment-460822443

[2019-03-13 21:15] ZaneV commented on #10075
Okay so this is an error based on math.h functions. I had a look at the loRaPHY.cpp and obviously it has `#include "math.h"` so this says to me it is a linker error?

[2019-03-13 21:27] TacoGrandeTX commented on #7674
@AGlass0fMilk Understood.  Do you think the updates from SDK v15.3 made any difference?  I'm going to have to defer to @c1728p9 as he has review authority in this area.

[2019-03-13 21:42] AGlass0fMilk commented on #7674
Well, I think what is actually happening in this failure scenario _is_ a corner case.

The ability to stall/halt an endpoint (what this test is evaluating) is not what fails. What fails is the first endpoint loopback transfer of _the next_ halt test iteration with the same endpoint since there’s old data loaded in there.

I’m trying to find a way to suppress the first loopback transfer failure in

[2019-03-13 22:58] bridadan opened #10090 "Error is too verbose when a compiler executable is not found"
### Description

If you do not have a compiler executable's path correctly configured, the current error is quite verbose:

[code]

It's hard to find the actual problem in all the output. It's also misleading since the fault isn't with the arguments supplied, but rather with your environment. A more appropriate error would be similar to this:

[code]

This error is generated by a call to the `args

[2019-03-13 23:03] theotherjimmy commented on #10090
I'm pretty sure that almost every args related error is similarly too verbose. See what happens with `mbed compile -t FOOBAR -m K64F` or similar. I think we should reserve the usage information for when a user specifies an argument that we don't accept. so `mbed compile --foo` should print usage, but missing compilers and incorrect toolchain arguments should not.

[2019-03-14 03:45] desmond-blue commented on #10054
Hi @akhilcypress I just raise a PR #10092 for this, could you check if this solve your issue? Thanks.

[2019-03-14 04:32] akkishore1 commented on #9732
Issue is resolved in 5.12.0

[2019-03-14 04:32] #9732 closed

[2019-03-14 04:33] akkishore1 commented on #9733
MTU configuration support addes to JSON file

[2019-03-14 04:33] #9733 closed

[2019-03-14 06:31] ciarmcom commented on #10090
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1004*

[2019-03-14 06:37] akkishore1 commented on #10054
With this fix the issue is solved

[2019-03-14 08:09] #10039 closed

[2019-03-14 08:10] #9974 closed

[2019-03-14 08:44] #9853 closed

[2019-03-14 09:36] maxgerhardt commented on #9803
@hasnainvirk The more important part to me is the 'safety' aspect, 'lowpower' is second here. The tricky problem is that if a momentary (partial) power-loss occurs, the driver will happilly send out messages after that, but in my tests these messages (up & downlink) barely get through; so the connection is somehow crippled, but undetectably so (if e.g. the application is only supposed to send upli

[2019-03-14 10:48] screamerbg commented on #10051
@linlingao There are several topics related to TICKLESS and sleep issues, some of which are related to Mbed OS - https://github.com/ARMmbed/mbed-os/issues/10085, https://github.com/ARMmbed/mbed-os/issues/10079, https://github.com/ARMmbed/mbed-os/issues/10080. Could we remove the "devices: st" label until there is clarity about the issues inside Mbed OS with tickless and sleep, as this may end up b

[2019-03-14 10:54] SeppoTakalo commented on #10083
@cmonr Arm is not providing ESP32 driver, this is ESP8266 related.

The correct firmware for ESP8266 should be v1.7.

@janjongboom if the driver fails to parse the AT firmware version, it might be that it gets corrupted data from serial port.

We don't have that particular board here, so I cannot directly verify.
Anyway, this bug should be assigned to IP Core team for fixing.

Jan, can you try ena

[2019-03-14 11:06] avolinski opened #10095 "Incorrect behavior working with Crypto HW accelerator on STM32F439xI chipset"
### Description
Incorrect behavior working with Crypto HW accelerator on STM32F439xI chipset.
initially detected on UBLOX_EVK_ODIN_W2 board.
Running compliance test suite fails in test037 using PSA_ALG_CBC_PKCS7 algorithm
Attestation test also fails when SHA in HW is enabled.

Toolchains: GCC ARM, IAR8
Target platform: UBLOX_EVK_ODIN_W2

Steps to reproduce:

- git clone git@github.com:ARMmbed/mbed

[2019-03-14 11:09] 0xc0170 commented on #9621
I assume this issue is still valid for 5.12rc1/2

[2019-03-14 11:13] 0xc0170 commented on #9726
@lrusinowicz have you been able to reproduce this?

[2019-03-14 11:24] ashok-rao commented on #9621
Yes. Still valid.

[2019-03-14 11:41] orenc17 commented on #9726
@lrusinowicz please see the latest changes in CY8CKIT_062_WIFI_BT target maybe they can solve the issue on your board as well

[2019-03-14 12:53] ciarmcom commented on #10095
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1005*

[2019-03-14 12:54] 0xc0170 commented on #10095
cc @ARMmbed/team-st-mcd @ARMmbed/team-ublox

[2019-03-14 13:08] NeilMacMullen commented on #9735
Thanks @AriParkkila  - will give this a try in the next week or so and let you know of any problems.

[2019-03-14 13:23] lrusinowicz commented on #9726
@orenc17 do you have any particular changes in mind? Do this tests work on CY8CKIT_062_WIFI_BT? Since when?
Unfortunately, I don't have this kit to verify.

[2019-03-14 14:44] MarceloSalazar commented on #9726
@orenc17 please can you point us to the code you're referring to?

[2019-03-14 14:46] MarceloSalazar commented on #9095
@orenc17 can you confirm whether this issue is considered resolved?

[2019-03-14 15:08] TacoGrandeTX commented on #9275
@embeddedteam103 We are closing this is a non-issue as explained by @kjbracey-arm

[2019-03-14 15:08] #9275 closed

[2019-03-14 15:19] offirko commented on #9934
@VVESTM - could this issue be related to: https://github.com/ARMmbed/mbed-os/issues/10049 ?

[2019-03-14 15:19] mmahadevan108 opened #10103 "uvision project generated does not have correct memory information"
### Description
The uvision project generated by the mbed exporter does not have the memory information provided inside index.json

### Issue request type
    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-14 15:32] AGlass0fMilk commented on #7674
I may have found a somewhat hacky workaround for fixing the halt issue.

I tried disabling and then re-enabling the given endpoint during a call to `USBPhyHw::endpoint_unstall` and it seems to have remedied the intermittent halt failure. It does not affect the other tests.

I'm doing a bit more iterative testing and will report back with results. Maybe we'll see a pull request today :raised_hands:

[2019-03-14 15:38] janjongboom commented on #10009
@theotherjimmy Or let me specify a flash python script in the custom_targets.json or something. That would help.

[2019-03-14 15:54] jeromecoutant opened #10107 "OS2 ARM build is no more possible"
### Description

I couldn't compile targets with ARM.

Ex:
python ./tools/build.py -m NUCLEO_L476RG -t ARM
The target NUCLEO_L476RG does not support the toolchain ARMC6
NUCLEO_L476RG supports ARM, uARM, IAR, GCC_ARM toolchains

python ./tools/build.py -m NUCLEO_L476RG -t uARM
The target NUCLEO_L476RG does not support the toolchain ARMC6
NUCLEO_L476RG supports ARM, uARM, IAR, GCC_ARM toolchains

##

[2019-03-14 16:06] orenc17 commented on #9095
it isnt

[2019-03-14 16:06] jeromecoutant opened #10109 "map file extraction is failing with GCC and M33"
### Description

I am compiling M33 targets in GCC.

Binary is OK, but
map file analysing is failing, it gives RAM and FLASH size to 0:

Total Static RAM memory (data + bss): 0(+0) bytes
Total Flash memory (text + data): 0(+0) bytes

map.html file is also empty

Note also that long name makes also some warnings:

[code]

[code]

@theotherjimmy

### Issue request type

    [ ] Question
    [ ] Enha

[2019-03-14 16:11] jeromecoutant commented on #10109
@ARMmbed/mbed-os-psa

[2019-03-14 16:22] orenc17 commented on #9726
@lrusinowicz @MarceloSalazar
cypress added support for PSoC6 wifi and ble kits in PR #9908
they also implemented a PSA target for the wifi-kit that does not have this issue

i dont know the exact way that they have done that, but its there and it works

[2019-03-14 16:51] MarceloSalazar commented on #9095
@lrusinowicz can you please have a look and re-test?

[2019-03-14 17:18] UrmilaKL opened #10111 "[mbed os]: Greentea BLE testcase is failing with "timeout" error"
mbed- cli version: 1.8.3
mbed os : 5.11.4

Description: [mbed os]: Greentea test case is failing with "timeout" error

Steps: 1. Fetch latest repo from the git server
2. Create folder structure as below under TESTS folder
TESTS/Group1/TestCase1/main.cpp

Find the below main.cpp attached, Also I have attached the logs with -vv option

Note: I added the 'printf' statement in each of the function whe

[2019-03-14 17:19] UrmilaKL commented on #10111
Please find the test case here,
/* mbed Microcontroller Library
 * Copyright (c) 2006-2015 ARM Limited
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing

[2019-03-14 17:22] AGlass0fMilk commented on #7674
[code]
:grin:

I am going to clean up the code a bit and submit a pull request later. Hopefully it will pass automated testing on Mbed's side.

[2019-03-14 18:57] TacoGrandeTX commented on #7674
@AGlass0fMilk Very good! Are you still using your ```nrf52840-usb-hal``` branch?  I'm not seeing the Nordic SDK 15 files there although your last commit was about 2 weeks ago.  Mbed OS v5.12 is bringing USB support into master (if you weren't aware).  I have rebased the ```feature-nrf52-sdk15``` branch in preparation for v5.12 and that is on my denmark branch: https://github.com/TacoGrandeTX/mbed-

[2019-03-14 19:09] AGlass0fMilk commented on #7674
@tacograndetx

I didn’t use the SDK 15 files for this build. I can rebase with your Mbed 15.2 update and make sure it works.

I just did a diff on the sdk14.2 usbd driver and added in relevant changes from the 15.3 driver.

[2019-03-14 19:10] ShuopengDeng opened #10112 "Timeout when running IceTea test on CY8CKIT_062_WIFI_BT"
### Description

The following command result in a timeout error.
mbed test -m CY8CPROTO_062_4343W -t GCC_ARM --icetea -n test_cmdline -v -DICETEA_EXAMPLE_ENABLED

It is a timing issue during startup.
There are 2 ways to run icetea.

The first way is through mbed by calling mbed test -m CY8CPROTO_062_4343W -t GCC_ARM --icetea -n test_cmdline -DICETEA_EXAMPLE_ENABLED
This way compiles, flashs the a

[2019-03-14 19:11] ShuopengDeng commented on #10112
The auto formatter somehow deleted my description.

It is a timing issue during startup.
There are 2 ways to run icetea.

The first way is through mbed by calling mbed test -m CY8CPROTO_062_4343W -t GCC_ARM --icetea -n test_cmdline -DICETEA_EXAMPLE_ENABLED

This way compiles, flashs the application, and drives the icetea test. The fails because the test start driving the icetea test before the dev

[2019-03-14 19:28] TacoGrandeTX commented on #7674
@AGlass0fMilk Understood.  We are still on SDK 15.0.  In the 15.0 release Nordic packaged the drivers differently and USB fell under ```\nRF5_SDK_15.0.0_a53641a\components\drivers_nrf\usbd```.  This wasn't carried forward in Mbed since it wasn't supported.  The USB drivers appear to be "old-style" format so I think the most suitable location for them is ```\targets\TARGET_NORDIC\TARGET_NRF5x\TARGE

[2019-03-14 19:44] AGlass0fMilk commented on #7674
@TacoGrandeTX So you're suggesting I take the modified driver code and associated headers and just put them in the SDK15 update in an appropriate location?

If we eventually switch to the separate "nrfx" driver library the porting process won't be too bad in this case.

[2019-03-14 20:59] TacoGrandeTX commented on #7674
Yes - I'm suggesting the best place for the new nrf_drv_ files (usbd.c, usbd.h and usbd_errata.h) is
```\TARGET_NORDIC\TARGET_NRF5x\TARGET_SDK_15_0\integration\nrfx\legacy```.

We do have the HAL header (nrf_usbd.h) at
```TARGET_NORDIC\TARGET_NRF5x\TARGET_SDK_15_0\modules\nrfx\hal``` so you will need to manually merge your changes into this file.

The TARGET_SDK_14_2 tree is removed from denmark s

[2019-03-14 21:07] AGlass0fMilk commented on #7674
@TacoGrandeTX Yes I can submit a PR to denmark. I'm trying to get my driver to pass the `usb serial` tests now but it's having a problem with the "RX multiple bytes" tests. My guess is that the Nordic driver doesn't like it when you queue writes in the same interrupt context that processed the "TX done" event.

I'll make sure to just add it in to the SDK15 tree and find equivalents for some of the

[2019-03-14 21:18] ciarmcom commented on #10112
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1007*

[2019-03-14 21:18] ciarmcom commented on #10111
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1008*

[2019-03-14 21:18] ciarmcom commented on #10109
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1009*

[2019-03-14 21:18] ciarmcom commented on #10107
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1010*

[2019-03-14 21:18] ciarmcom commented on #10103
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1011*

[2019-03-14 22:09] AGlass0fMilk commented on #7674
Actually I didn't read the README in the usb serial test directory. I added the udev rule it mentioned and now it's passing all tests for that as well!

I am working on merging in my USBPhy implementation to your denmark branch @TacoGrandeTX.

I will have to rewrite some parts to use the nrfx power driver. Maybe down the line I can also rewrite the driver to use the nrfx usbd driver when that is m

[2019-03-14 22:47] TacoGrandeTX commented on #7674
@AGlass0fMilk That's excellent.  I just made a final commit (https://github.com/TacoGrandeTX/mbed-os/commit/833ed6392892b924ec9d3d6b8f7aae0a43746b56) to remove the last unneeded legacy files that @paul-szczepanek-arm noticed.

[2019-03-15 02:13] cmonr commented on #10112
@ShuopengDeng The original comment was made within a comment block. Fixed it for you.

[2019-03-15 02:16] cmonr commented on #10083
Whoops, my mistake.

[2019-03-15 02:18] cmonr commented on #10107
@ARMmbed/mbed-os-tools @SenRamakri

[2019-03-15 02:37] AGlass0fMilk commented on #7674
I reworked the code a bit and ported the `nrf_drv_usbd.*` files over to nrfx for common functions. It's working and building with the SDK15 update.

I have put in a pull request to your fork: TacoGrandeTx/mbed-os#10

Let me know on that PR what needs to change or if I didn't set up the PR correctly...

[2019-03-15 07:34] offirko commented on #10049
@TuomoHautamaki - my analysis currently is that after several successful program commands to QSPI flash, a new program command fails on Write Enable. All further program/read/erase commands fail on HAL_BUSY. We need ST and HAL support on this case

[2019-03-15 08:44] lrusinowicz commented on #9726
@orenc17
Unfortunately, this doesn't move me forward. Cypress is using different PDL version and they have decided to restructure HAL layer significantly, so comparison is difficult. And I cannot verify how their stuff is working (e,g. under debugger) because I don't have the hardware.

[2019-03-15 08:53] UrmilaKL commented on #10111
Is there any method so that we can pass time in dispatch_forever() function?
like below
dispatch(100);

[2019-03-15 09:03] orenc17 commented on #9726
So I think the solution should be removing mbed_tickless and marking the sleep tests as known issue on future_sequana_psa

@0xc0170 is this an acceptable solution?

[2019-03-15 09:30] 0xc0170 commented on #10111
cc @ARMmbed/mbed-os-pan

[2019-03-15 09:49] arskanov opened #10117 "Writing to exported config file only matches blocks of text"
### Description

Hi,
I've been using the 'export' function of mbed-cli a lot. Exports to gnuarmeclipse often seem to result in the .mbedignore being appended to with the two or three build folders used by gnuarmeclipse. It happens when the generated order of the build folders changes. I'm not sure why the order of the generated .mbedignore paths changes so often-

My environment is Linux, latest m

[2019-03-15 10:36] VeijoPesonen opened #10119 "GR_LYCHEE: greentea ticker test case failures"
### Description
Greentea test case failures with GR-LYCHEE

[code]

#### Target:
GR-LYCHEE

#### Toolchain:
arm-none-eabi-gcc (GNU Tools for Arm Embedded Processors 7-2017-q4-major) 7.2.1 20170904 (release) [ARM/embedded-7-branch revision 255204]

#### Tools:
mbed-cli

#### Mbed OS:
6906f39bf5

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

@ARMmbed/team-renesas , @ARMmb

[2019-03-15 11:12] 0xc0170 commented on #10119
only GCC , other toolchains not affected?

[2019-03-15 12:00] janjongboom commented on #10083
@SeppoTakalo Yeah, I have. I think there's some flow control fixes in master perhaps? Because I don't see this issue on 5.12.

[2019-03-15 12:11] 0xc0170 opened #10123 "python requirements: licenses should be documented"
### Description

@fkjagodzinski made a good point about the python module licenses.

We have requirements.txt: https://github.com/ARMmbed/mbed-os/blob/master/requirements.txt . No documentation for licenses of these modules. Our tools depend on these, should be part of the license file.

hidapi module for instance can be used under one of 3 licenses, we should  choose one and document it.

https:/

[2019-03-15 12:14] 0xc0170 commented on #10123
cc @ARMmbed/mbed-os-tools

[2019-03-15 12:17] cmonr commented on #9726
CC @adbridge @ChiefBureaucraticOfficer

[2019-03-15 12:23] 0xc0170 commented on #9726
tickless: I could not find a reference to this statement (first comment states removing tickless support does not help), - how is tickless related to this issue?

sleep tests: this issue for psa tests?

Please clarify.

[2019-03-15 12:49] lrusinowicz commented on #9726
I could not reproduce the situation stated in the first comment. For me PSA tests only fail when tickless mode is enabled. Tickless was enabled for FUTURE_SEQUANA_M0_PSA in #9678 to fix issue #9094 - sleep tests failing.

[2019-03-15 12:52] ciarmcom commented on #10123
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1012*

[2019-03-15 12:52] ciarmcom commented on #10119
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1013*

[2019-03-15 12:52] ciarmcom commented on #10117
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1014*

[2019-03-15 13:44] VeijoPesonen commented on #10119
@0xc0170 I haven't tried with other toolchains.

[2019-03-15 14:06] 0xc0170 commented on #10107
I could reproduce this error as well on master today.

@theotherjimmy will mbed 2 builds be broken in the online compiler?

[2019-03-15 14:39] theotherjimmy commented on #10123
Yep. Sure.

[2019-03-15 14:44] bridadan commented on #10103
Thanks for raising the issue @mmahadevan108, I believe I have part of the fix in this PR: https://github.com/ARMmbed/mbed-os/pull/10045. This fixes the issue of the RAM start and size being incorrect.

@theotherjimmy is also working on a fix in cmsis-pack-manager: https://github.com/ARMmbed/cmsis-pack-manager/pull/79. That should fix the problem of no flashing algorithm being set.

[2019-03-15 14:47] theotherjimmy commented on #10107
@0xc0170 No

[2019-03-15 14:54] theotherjimmy commented on #10103
@bridadan Doing a release. I'm hoping I don't run into any python3 incompatibilities this time.

[2019-03-15 15:20] #10083 closed

[2019-03-15 15:21] #8656 closed

[2019-03-15 16:12] VVESTM commented on #9934
@offirko, I can reproduce #10049 even when calling SCB_InvalidateDCache() at end of erase.
So must be an other issue...

[2019-03-15 17:11] lrusinowicz opened #10125 "Platform mocking not working for tests"
### Description

I'm trying to run FUTURE_SEQUANA_PSA GT tests on master 2fad154.
For running this on FUTURE_SEQUANA platform I have added ```{"daplink": {"6000": "FUTURE_SEQUANA_PSA"}}``` in the .mbedls-mock file, have compiled the tests for FUTURE_SEQUANA_PSA target and have run the following command
[code]
This used to work, but now I receive the following error:
[code]
I've noticed, that the b

[2019-03-15 18:51] yogeshk19 opened #10126 "NRF52840 returning completely different 16 bit ADC values for the same voltage."
Description
- Target : NRF52840
- Toolchain : GCC_ARM
- mbed-cli
- Mbed OS 5.11.5
We currently have a custom board that houses a NRF52840 BLE module.

1) One application we wrote just to test reading the voltage at pin P0_28, by configuring the pin as Analog input and we are reading using the Analog Input API and we are reading 16 bit value.  The application just reads these voltage every 1 minute

[2019-03-15 21:16] ciarmcom commented on #10126
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1015*

[2019-03-15 21:16] ciarmcom commented on #10125
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1016*

[2019-03-15 21:34] TacoGrandeTX commented on #7674
@AGlass0fMilk Thank you for the PR!  I have had a quick look and the location of files looks fine.  We had a CI failure on the PR to update feature-nrf52-sdk15 (https://github.com/ARMmbed/mbed-os/pull/9999), but a correction was made and that has been kicked off again.  As I mentioned I will be out next week, but @c1728p9 may have time to review it next week.  He agrees that the correct approach i

[2019-03-16 03:15] potidannon opened #10127 "PWMOut operator=() has non const parameter"
### Description
Proper "=" overload shall have a const rhs parameter, since it shall never change during copy. some libraries like std::vector requires this formatting.

Current example case is an LPC1768, where I would like to utilize  std::vector push_back call. In order to make it work I need an T operator=(const& T) implementation for my class. Within the implementation PWMOut is copied.

PWMO

[2019-03-16 06:30] ciarmcom commented on #10127
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1017*

[2019-03-16 16:50] NiranjanRavi1993 commented on #9912
hi @ARMmbed/team-nxp
        It would be great if someone could help me with this. Thanks

[2019-03-17 01:44] ZaneV commented on #10075
This issue can be closed. Its a simple mistake but I will share it so perhaps someone else can learn. We had a file in our project call math.h which slipped under the radar... So when mbed-os was compiling it was linking to our math.h which doesn't have any of the standard functions. Renaming our file fixed the issue.

[2019-03-17 03:58] #10032 closed

[2019-03-17 04:00] #10054 closed

[2019-03-17 06:33] jupe commented on #10112
Another, perhaps easier way is to use `--sync_start` -option when starting icetea. [Here](https://github.com/ARMmbed/icetea/blob/master/doc/Icetea.md#command-line-parameters) is more details about this option.

Seems that this same issue is quite common problem so maybe `--sync_start` could be activated by default at `mbed-cli`. I think it should not cause any side effects in these tests unless so

[2019-03-17 13:31] ccu1tn opened #10132 "[mbed] ERROR: "/usr/bin/python" returned error"
Dear everyone.
I install tools and compiler the ARM program by this command "mbed compile". It runs 100% but has some errors.
![5](https://user-images.githubusercontent.com/43333942/54491734-b01a1000-48fb-11e9-9682-9c93936b91d7.PNG)

I don't know how to fix it? who can anyone share for me so way to fix it?
Thank you so much.

[2019-03-17 16:20] ciarmcom commented on #10132
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1018*

[2019-03-18 05:01] desmond-blue commented on #10111
You can pass in the timeout for dispatch events, please check the [documentation](https://os.mbed.com/docs/mbed-os/v5.11/mbed-os-api-doxy/classevents_1_1_event_queue.html#a397fcb417425ebaa28c20b9e90ef3ed5).

Take your code for example, `dispatch(100)` means "Executes events until 100 milliseconds have passed".

[2019-03-18 05:38] ccu1tn commented on #10132
Dear @ciarmcom
This link is dead. I can't access it.

[2019-03-18 06:24] soramame21 opened #10134 "[OOB 5.12.0-rc2 CoreOS]Blinky got failed compiling with ARM toolchain"
### Description
Blinky got failed compiling with ARM toolchain.
GCC_ARM and IAR can build the example without error.
### Example to build
https://os.mbed.com/teams/ST/code/Nucleo_blink_led/
### Steps
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-18 07:28] arskanov commented on #10117
Closing as fixed by #10118

[2019-03-18 07:28] #10117 closed

[2019-03-18 07:35] soramame21 opened #10135 "[OOB 5.12.0-rc2 CoreOS]Blinky with bare metal failed compiling at online-IDE"
### Description
Blinky with bare metal failed compiling at online-IDE.
Blinky without bare metal (=remove following mbed_app.json) can be compiled without error.
### Enabling bare metal
mbed_app.json
[code]
### Steps
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-18 07:45] 0xc0170 commented on #10132
@ccu1tn It's internal jira reference created by our bot.

what do you compile? The linker error - can't find main - missing `main()` function

[2019-03-18 08:00] ccu1tn commented on #10132
Hi @0xc0170 ;
Thank for your help. It is miss correct. This is my file I need to compile with mbed.
![1](https://user-images.githubusercontent.com/43333942/54514799-0cca0900-4996-11e9-989a-9f0c3ccc46ad.PNG)
when I compile by the command "mbed compile" . It has errors " [Fatal Error] main.cpp@15,46: arm_math.h: No such file or directory". it means not find arm_math.h in the folder.
Now, I want to c

[2019-03-18 08:58] kubaraczkowski opened #10136 "Standard way of keeping a (custom) log"
### Description

Hi,
Is there (a plan for) a 'standard' way of creating, keeping, retrieving a custom log in the mbed-os ?
I do quite like the approach already implemented in mbed_error.h, which implements a fixed-length message log, different hooks and methods of raising and retrieving errors and warnings.

However, to add custom warnings you need to edit the mbed_error.h file itself to add MBED_

[2019-03-18 09:31] 0xc0170 commented on #10132
Where is `arm_math.h` located? It's nor part of Mbed OS. Without much details about your environment, we can only guess.

Based on your main above, arm_math is not needed, to test blinky.

[2019-03-18 10:39] #10075 closed

[2019-03-18 11:40] mikisch81 commented on #9853
I still get errors building a secure target without USTICKER, now `Timer.cpp` is failing):
[code]

[2019-03-18 11:46] mikisch81 opened #10139 "USTICKER still can not be removed from compilation"
### Description

This is a follow-up issue for #9853 which was opened due to [9221 (comment)](https://github.com/ARMmbed/mbed-os/pull/9221#discussion_r258532501).

After rebasing #9221 I get the following compilation error after moving `us_ticker_api.c` to the non-secure target and putting an `#if DEVICE_USTICKER` in `mbed_us_ticker_api.c`:
[code]

@ARMmbed/mbed-os-psa @kjbracey-arm @jeromecoutant

[2019-03-18 11:48] kjbracey-arm commented on #9853
I suggest you make the definition of `Timer::Timer()` conditional on `DEVICE_USTICKER`.

The ARM linker forces programs to obey the C++ "One Definition Rule", so that default constructor referring to `get_us_ticker_data` forces it to have one definition, even if the default constructor is never called. If the definition doesn't exist, it's not a legal C++ program:

An alternative workaround would

[2019-03-18 11:49] kjbracey-arm commented on #10139
I suggest you make the definition of `Timer::Timer()` conditional on `DEVICE_USTICKER`.

The ARM linker forces programs to obey the C++ "One Definition Rule", so that default constructor referring to `get_us_ticker_data` forces it to have one definition, even if the default constructor is never called. If the definition doesn't exist, it's not a legal C++ program:

An alternative workaround would

[2019-03-18 11:58] mikisch81 commented on #10139
Do you mean that in `Timer.cpp` do this:
[code]

and in `TimerEvent.cpp`:
[code]

[2019-03-18 12:42] kjbracey-arm commented on #10139
Nearly - it's the default constructors `Timer::Timer()` and `TimerEvent::TimerEvent()` that need the conditionals - they refer to `get_us_ticker_data` in their initialiser list.

[2019-03-18 12:55] ciarmcom commented on #10139
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1020*

[2019-03-18 12:55] ciarmcom commented on #10136
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1021*

[2019-03-18 12:55] ciarmcom commented on #10135
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1022*

[2019-03-18 12:55] ciarmcom commented on #10134
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1023*

[2019-03-18 12:55] mikisch81 commented on #10139
Yeah, I meant the default constructors

[2019-03-18 13:22] screamerbg commented on #9519
@0xc0170 What's the outcome of this? I haven't seen any output. Shall I reopen this ticket for us to track it?

[2019-03-18 13:40] 0xc0170 commented on #9519
@dannybenor Please provide an update for closur on Github when closing an issue in Jira.

The reason for providing this in the patch is in the referenced pull request.  The process update was done and can be found: https://os.mbed.com/docs/mbed-os/latest/contributing/workflow.html - Functional or Breaking changes require "Release notes" section with details about why are we doing it and how to mig

[2019-03-18 14:17] ashok-rao commented on #10134
@screamerbg ..FYI.

[2019-03-18 14:26] ccu1tn commented on #10132
Dear @0xc0170 ;

I know this program don't need that library. but I have a program need that library,
Can you tutorial me config mbed compie ? Maybe I configured mbed compile wrong.

[2019-03-18 15:33] 0xc0170 commented on #10132
Understood. My point was, without having more details, we can't help you much. Where is `arm_mat.h` located? Can you share the tree? Can you share the console output using verbose? I would like to see your include paths (if  arm_math.h location is included or not).

[2019-03-18 15:36] screamerbg commented on #9519
@0xc0170 Thanks for the explanation. Unfortunately I don't think that this was handled in a way the process indicates.

Namely PR https://github.com/ARMmbed/mbed-os/pull/9135 is marked as "Functionality change" and according to the workflow:

**Functionality change**
*A functionality change can be any change in the functionality, including adding a new feature, a new method or a function. Software

[2019-03-18 15:46] bridadan commented on #10112
@jupe I didn't see any details about `--sync_start` in the document you linked. But if you'd like change the arguments icetea is invoked with from Mbed CLI, they can be added here: https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L2876-L2879

[2019-03-18 15:57] ccu1tn commented on #10132
The arm_math.h inside here
![5](https://user-images.githubusercontent.com/43333942/54543884-6c95d380-49d9-11e9-974b-000d0ea4e858.PNG)

[2019-03-18 16:16] 0xc0170 commented on #9519
PR type was set incorrectly. It shall be edited to have "Breaking change" - I've fixed it now. As this was for 5.11, the release notes section is not present.

Who introduces changes like this must think about impact, test and write release notes with as much details as they can. Providing the release notes with good level of details should minimize the errors. This should help also reviews/users

[2019-03-18 16:21] dannybenor commented on #9519
What is the required fix for this "bug"?

[2019-03-18 19:25] linlingao commented on #10134
@soramame21 The default ARM compiler has switched to AC6. The compiler used is armclang instead of armcc. Please verify you have AC6 installed and armclang is in your PATH.

[2019-03-18 21:07] maciejbocianski commented on #9578
@0xc0170 @lrusinowicz any progress with this ?
I'm getting the same error

[code]

I'm using setup for 5.12 OoB testing
- mbed version: tag mbed-os-5.12.0-rc2
- tools version
$ pip list |grep mbed
mbed-cli           1.9.2
mbed-cloud-sdk     2.0.6
mbed-flasher       0.10.1
mbed-greentea      1.6.3
mbed-host-tests    1.5.3
mbed-ls            1.7.0
mbed-os-tools      0.0.4

- mbed config
[mbed] Globa

[2019-03-18 22:19] studavekar commented on #10134
Hi,

as @linlingao suggested we need to install AC6, below are the steps

1. AC6.11 can be downloaded from https://developer.arm.com/products/software-development-tools/compilers/arm-compiler/downloads/version-6
2. Install AC6, by default installation location C:/Program Files/ARMCompiler6.11/bin
3. configure the path AC6 path `mbed config MBED_ARMC6 "C:/Program Files/ARMCompiler6.11/bin"`  please

[2019-03-18 22:32] studavekar commented on #10135
Hi @soramame21,
https://os.mbed.com/teams/ST/code/Nucleo_blink_led/  is a mbed2 project please use mbed5 project.

Link for migration from mbed2 to mbed5 project https://os.mbed.com/docs/mbed-os/v5.11/tutorials/migrating-to-mbed-os-5.html

[2019-03-18 23:03] cmonr commented on #10134
@studavekar @AnotherButler There are OOB docs that instruct how to do this, correct?

Sounds like this would be a good way to test them out.

[2019-03-18 23:19] cmonr commented on #9578
@bridadan @maciejbocianski I'm wondering if https://github.com/ARMmbed/mbed-os/pull/10114 would happen to fix this issue.

[2019-03-19 01:04] soramame21 commented on #10135
@studavekar, it's exactly what I'm testing, migration to mbed os 5 from online IDE following the web doc.
Could you verify what I'm wrong?

[2019-03-19 01:07] cmonr commented on #10135
@soramame21 If you weren't able to select the revision, the what did you use when you attempted to compile?

[2019-03-19 01:15] soramame21 commented on #10135
@ciarmcom thanks for such quick reply. Here is the revision list after adding mbed library.
![revision_list](https://user-images.githubusercontent.com/17120422/54573513-f2446e00-4a2f-11e9-8f08-a1b3db76f887.png)

[2019-03-19 01:36] cmonr commented on #10135
🤣 I promise I'm not one of the bots.

So that list would indicate that 5.11.5 is being used instead of 5.12.

There should be instructions on how to use the internal version of the online compiler, correct @ashok-rao ?

[2019-03-19 02:02] soramame21 commented on #10134
Where can I set a license for AC6? or should I ask a separate license for it?

[2019-03-19 02:10] cmonr commented on #10134
@soramame21 I've emailed you instructions on OoB testing, since the link is private and am not sure you got them.

[2019-03-19 02:32] soramame21 commented on #10134
@cmonr Thank you for the email. the floating license is working now. but I got a new error and cannot find  5.12.0-rc3, it seems not be published yet.

[code]

[2019-03-19 03:26] cmonr commented on #10134
Correct, RC3 is not available yet.

[2019-03-19 03:31] soramame21 commented on #10134
@ciarmcom Is it planned to fix above "Unrecognized option" at RC3? should I file another issue for it?

[2019-03-19 03:34] cmonr commented on #10134
Sorry about that. Feel free to make another issue, but I think this might have something to do with the paths you have set (ARM vs ARMC6)

[2019-03-19 03:40] soramame21 commented on #10134
@cmonr I found following issue for the same error. please close this one. thanks.
https://github.com/ARMmbed/mbed-os/issues/10069

[2019-03-19 04:33] #10134 closed

[2019-03-19 06:21] mikisch81 opened #10153 "LPC55S69 IAR build has conflicting RAM/ROM defines"
### Description

Commit cde7d0be589875fcecfc1886aa19979e8974721c added an entry for *LPC55S69JBD100* in `tools/arm_pack_manager/index.json`.

Now when building with the IAR toolchain, for example `mbed test -t IAR -m LPC55S69_NS -n mbed-os-tests-psa-spm_smoke --compile`, `MBED_ROM_START`/`MBED_RAM_START` and `MBED_ROM_SIZE`/`MBED_RAM_SIZE` are defined twice with conflicting values.

Content of `./

[2019-03-19 08:36] lrusinowicz commented on #9578
@maciejbocianski @cmonr @0xc0170
I reviewed the changes in #10114 and I think they should fix the issue I'm having with compiler/assembler.

[2019-03-19 08:43] AriParkkila commented on #9848
@jeromecoutant can we close this issue? PR #10029 was merged.

[2019-03-19 08:55] #9848 closed

[2019-03-19 09:35] mikisch81 commented on #10139
@kjbracey-arm Timer default constructor is being called in the code, for example in [mbed_poll.cpp](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_poll.cpp#L52), should we explicitely change all usages to the normal constructor?

[2019-03-19 09:44] 0xc0170 commented on #10153
This PR added the files #10068. It's marked as 5.12rc3. This is a regression in rc3 candidate.

[2019-03-19 09:50] kjbracey-arm commented on #10139
Well, you'd then be passing `get_us_ticker_api` to the normal constructor. Doesn't get you anywhere.

This seems like it's starting to unravel.  Code like that would work fine without a timer, if the parameter passed in was 0 or -1, but it would need special casing to let that still work. I'm starting to look at that incidentally in #10104 - trying to make reduce/eliminate timer pull in for the ba

[2019-03-19 09:54] 0xc0170 commented on #10153
@mikisch81 Looking at the index.json changes, cant figure out where these double values come from. We might need help from above referenced people.

PR 10068 was included to rc3 candidate.  Would it be reasonable to postpone this PR to rc4 ? how urgent was to have exporters support for this LPC target ?
How can we fix it now?

[2019-03-19 09:59] mikisch81 commented on #10153
@0xc0170 of course we need help from @ARMmbed/mbed-os-tools, I already sent an e-mail regarding this issue yesterday.

Regarding postponing this PR tp rc4, I think bootloader for LPC uses the index.json as well, @davidsaada can elaborate on this.

The main problem is that we do not have the CI for this target ready yet and this target is in master for quite some time.

[2019-03-19 10:00] 0xc0170 commented on #10153
Correct, bootloader also affected. I'll try to look at index.json values and see if I can find out where double values come from.

[2019-03-19 10:12] davidsaada commented on #10153
@mikisch81 I've just issued your build command on the latest mbed-os master without any issues. Are you up to date?
In addition, values in index.json file aren't used any more for building bootloader, this was introduce by  @ARMmbed/mbed-os-tools in #10113 (which was merged in).

[2019-03-19 10:21] maciejbocianski commented on #9578
I checked #10114 and it didn't help in my case

[2019-03-19 10:24] mikisch81 commented on #10153
@davidsaada you were able to run the tests? Can you share the non-secure map file?

[2019-03-19 10:41] mikisch81 commented on #10139
OK, Adding an `#else` in `mbed_us_ticker_api.c` for the `#if DEVICE_USTICKER` which has an implementation of `get_us_ticker_data()` which returns NULL compiles OK, I will issue a PR for that.

[2019-03-19 10:46] 0xc0170 commented on #10153
I was able to reproduce this, on latest master (sha 54602f55ba).

[code]

[2019-03-19 10:53] mikisch81 commented on #10153
@0xc0170 of course, it was never a build issue, but run-time, a secure-fault is triggered.

[2019-03-19 10:55] davidsaada commented on #10153
@mikisch81 Sorry - right now can't run anything on my board (even other tests).
Was going to post map file till I saw your comment about this not being a build issue but a runtime issue.

[2019-03-19 10:56] 0xc0170 commented on #10153
I know where these come from but dont know which values are valid.

Target overrides in target.json file

[code]

And in index.json:
[code]

This two conflicts. SRAM is set to start at 536870912 in index.json file but in "non-secure-ram-start": "0x20022000" (different values).

[2019-03-19 11:05] mikisch81 commented on #10139
Opened #10155 to fix this issue

[2019-03-19 11:07] mikisch81 commented on #10153
Again this happens **ONLY** in IAR toolchain, ARM and GCC_ARM work fine.

[2019-03-19 11:49] davidsaada commented on #10153
@yossi2le

[2019-03-19 12:44] yossi2le commented on #10153
Sorry, but I have nothing to contribute here.
I get the same numbers as @0xc0170  got.
I think this may be a tool issue.

[2019-03-19 12:55] ciarmcom commented on #10153
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1026*

[2019-03-19 13:45] 0xc0170 commented on #10132
We are closing this, please continue in the mbed-cli repo, this is duplicate

Note, please add there details about your structure. Also use -v to get include paths and verify all is getting included. Would also help to print the tree structure in your blinky.

[2019-03-19 13:45] #10132 closed

[2019-03-19 13:47] theotherjimmy commented on #9578
I would not expect #10114 to resolve this issue.

-----------------

Notes: `C:\Users\macboc01.d` is not the file that the assembler should be looking for. Instead it should be `BUILD\NUCLEO_F070RB\ARM\mbed-os\cmsis\TARGET_CORTEX_M\TOOLCHAIN_ARM\except.d`. This might imply that the command line to the assembler is too long and being truncated incorrectly by windows.

[2019-03-19 13:51] theotherjimmy commented on #10153
@mikisch81 @yossi2le Talk about `index.json` being correct or not is a red herring. It's about how it's used.

[2019-03-19 13:55] theotherjimmy commented on #10153
The fact that it only happens on IAR is very strange...

[2019-03-19 14:01] davidsaada commented on #10153
Maybe totally off topic, but @offirko has been working on a very strange bug seen on TDBStore with SPIF on the DISCO_F746NG board, also seen on IAR8 only (not even with IAR7).

[2019-03-19 14:11] theotherjimmy commented on #10153
@davidsaada That sounds like it's not something tools related (as it would probably be present on both IAR7 and IAR8 if it were)

[2019-03-19 14:13] theotherjimmy commented on #10153
@mikisch81 I can only reproduce the duplication of `MBED_ROM_{START|SIZE}` I cannot reproduce the different values.

[2019-03-19 14:22] theotherjimmy commented on #10153
@mikisch81 I have just worked on the command line invocation for this issue, as that's what it describes.

[2019-03-19 14:23] theotherjimmy commented on #10153
That being said, I think you should give my PR a shot, as it might fix the issue.

[2019-03-19 14:24] VVESTM commented on #5467
Hi,
For information, the problem is still present. I try to work on Disco F746 and I am not able to flash the SW with Keil. (The proposed workaround is working fine).
By the way, I have also problems to export to IAR... Do you have any tests on export feature ?
Regards.

[2019-03-19 14:26] theotherjimmy commented on #5467
@VVESTM How did you test it? The online exporters have not been updated yet. We test IAR _building_.

[2019-03-19 14:29] VVESTM commented on #5467
@theotherjimmy , I clone mbed-os on my laptop, then, I use this command :
    mbed export --ide uvision6 --target DISCO_F746NG
or --ide IAR

[2019-03-19 14:32] theotherjimmy commented on #5467
@VVESTM The exporters don't support exporting just Mbed OS. Be sure to include a project with a main.cpp or main.c as well.

[2019-03-19 14:36] VVESTM commented on #5467
@theotherjimmy, forgot to mention this, sorry. I also added a main.cpp in mbed-os root directory. (only an hello world...)

[2019-03-19 14:50] theotherjimmy commented on #5467
Thanks for clarifying. Are you using master branch?

[2019-03-19 15:03] linlingao commented on #10111
@UrmilaKL I believe @desmond-blue has answered your question. Please close this issue if you have no further questions.

[2019-03-19 15:25] jupe commented on #10112
oh, true. Its [not yet](https://github.com/ARMmbed/icetea/pull/85) released.

[2019-03-19 16:08] linlingao commented on #10135
@cmonr The revision history only shows official releases. When the version used matches one of the official releases, the text becomes bold. In this case, the mbed-os version used in the program does not match any of the official releases. It would have been clearer if Ren clicked anywhere below the top line when he captured the screenshot. (I know, can this be any more confusing!)

[2019-03-19 16:09] VVESTM commented on #5467
yes, I am on master branch. We can continue by private mail if needed in order not to pollute this thread.

[2019-03-19 16:09] adbridge commented on #10135
@soramame21 Are you using the correct, ie oob version of the online compiler, rather than the production release ?

[2019-03-19 16:16] theotherjimmy commented on #10135
@soramame21 Your screenshot shows the public online compiler. OOB uses the internal testing server use that please.

[2019-03-19 16:19] theotherjimmy commented on #5467
@VVESTM This is about as on topic as it gets. Let's keep this discussion public. What's the error message that you're seeing?

[2019-03-19 16:36] VairaRamasamy opened #10163 "QSPIFBlockDevice: SFDP bus mode parser uses wrong mask values"
### Description

_sfdp_detect_best_bus_read_mode() parses the basic param table to find out the bus mode. It uses wrong mask values while parsing DWORD-1, byte-2.

e.g. Bit-7 of byte-2 is 'unused'. But mask value 0x80 is used to find out if 1-1-4 is supported or not.
[code]

Bus mode | Mask used | Correct Mask
-------------|-------------|-------------
1-4-4 | 0x40 | 0x20
1-1-4 | 0x80 | 0x40
1-2-2

[2019-03-19 16:40] VVESTM commented on #5467
OK, so, I am on master branch and I added a main.cpp file. I have also mbed_setting.py to have toolchain paths.
I export the project to Keil with this command :
    mbed export --ide uvision6 --target DISCO_F746NG
Then, I open the .uvprojx project with Keil. Compilation is OK.
When trying to debug the source code, I have a popup with this message :
     Error: Flash Download failed - "Cortex-M7"

[2019-03-19 17:51] VairaRamasamy opened #10165 "QSPIFBlockDevice: status register write size cannot have a fixed value"
### Description

In _sfdp_set_quad_enabled(), sr_write_size is fixed to QSPI_MAX_STATUS_REGISTER_SIZE (0x03). I found this causing issue while porting QSPI for CY8CPROTO_062_4343W to work with the NOR flash S25FL512S. For this flash chip, the write size for the status register must be 2. Otherwise, enabling quad mode fails.

Reference: [S25FL512S datasheet](https://www.cypress.com/file/177971/down

[2019-03-19 18:23] theotherjimmy commented on #5467
Do you get the error message in step 4?

[2019-03-19 21:19] ciarmcom commented on #10165
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1028*

[2019-03-19 21:19] ciarmcom commented on #10163
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1029*

[2019-03-20 02:57] soramame21 commented on #10135
@theotherjimmy @adbridge @linlingao Thanks for your comments. I could not login the oob online compiler. I reset the password but no email is received although a message shown below.
`
An email has been sent to your registered email address
`

[2019-03-20 07:24] mikisch81 commented on #10153
I verified that it does 😄

[2019-03-20 08:07] VVESTM commented on #5467
No, I can open the project file and compile it without error. Problem occurs when I want to start the debugger (or flash the board)

[2019-03-20 08:38] juhoeskeli opened #10167 "UBLOX_N2XX driver missing provide-default"
### Description

The UBLOX_N2XX driver is missing provide-default / get_default_instance() mechanism.

Fix example:
In UBLOX_N2XX.cpp:
[code]

FYI:
@mudassar-ublox

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-20 08:50] offirko commented on #10163
@VairaRamasamy - my apologies. I'll fix

[2019-03-20 08:59] offirko commented on #10165
sr_write_size does **not** have a fixed size. It is initialized to QSPI_MAX_STATUS_REGISTER_SIZE but can change according to QER bit.

Actually, QSPI_MAX_STATUS_REGISTER_SIZE  was 2 and I changed it to 3 in the commit below..because turning fast_mode on other boards required writing status_reg+config_reg together (3 bytes total).

https://github.com/ARMmbed/mbed-os/commit/9b3bca89fd8295147155db035

[2019-03-20 09:03] lrusinowicz commented on #9578
I'm sorry, I've mentally convoluted two different issues. Yes, #10114 will not resolve this.
@theotherjimmy @maciejbocianski
On the other hand, I've been able to get compilation/assembly working on Win7 by modifying toolchain ARMC6 class `assemble` method to work like for generic class - preprocess .S first and then call assembler on a temporary file (instead of using `--cpreproc` option). So now

[2019-03-20 09:19] maciejbocianski commented on #9578
@lrusinowicz can you share this fix please

[2019-03-20 10:30] janjongboom opened #10168 "Bin file over 2GB size if specifying QSPI region"
### Description

Some STM32 boards can program both the internal flash and on-board QSPI from a single binary. You do this by specifying a new linker region at address `0x90000000` and placing parts of the code in here. However, when building this binary with Mbed OS you'll end up with a 2GB image. Can we somehow avoid this? Maybe by using .hex format? If so, how could I specify this?

This is on

[2019-03-20 10:45] lrusinowicz commented on #9578
@maciejbocianski
Here https://github.com/lrusinowicz/mbed-os/commit/fa10eb89f1b943f0fef07889856c4f6a9722e592 is a temporary version of my fix. Definitely requires cleaning up, but I don't have time at this very moment.

[2019-03-20 10:58] janjongboom opened #10169 "Mainline Mbed HTTP"
### Description

Mbed OS is an operating system for IoT devices, and a lot of IoT devices connect to the internet through HTTP / HTTPS. But Mbed OS does not contain an HTTP implementation, whilst there is a CoAP one (and soon an MQTT one I believe). About a year and half ago I wrote [mbed-http](https://os.mbed.com/teams/sandbox/code/mbed-http/) which is now widely used, including in partner projec

[2019-03-20 11:28] SeppoTakalo commented on #8306
Any progress on this?

IAR is now updated to 8.32, does it improve the situation at all?

[2019-03-20 12:11] mikisch81 commented on #10139
@kjbracey-arm When building PR #10155, I encounter link failures in target ARCH_PRO which doesn't define USTICKER and gets undefined symbols for us_ticker_irq_handler:
[code]

[2019-03-20 12:18] mikisch81 commented on #10139
Why does this target builds `usticker_api.c` but doesn't define `DEVICE_USTICKER`?

[2019-03-20 12:25] #10153 closed

[2019-03-20 12:38] offirko commented on #10165
Handled by: https://github.com/ARMmbed/mbed-os/pull/10171

[2019-03-20 12:39] offirko commented on #10165
handled by https://github.com/ARMmbed/mbed-os/pull/10171

[2019-03-20 12:39] offirko commented on #10163
Handled by #10171

[2019-03-20 12:40] kjbracey-arm commented on #10139
Seems like a possible error to me. Seems likely that target should have `USTICKER` on.  Previously there were no conditionals on `DEVICE_USTICKER`, it was assumed, so things like `Ticker` would always have worked anyway.

[2019-03-20 12:55] ciarmcom commented on #10169
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1030*

[2019-03-20 12:55] ciarmcom commented on #10168
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1031*

[2019-03-20 12:55] ciarmcom commented on #10167
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1032*

[2019-03-20 13:01] mikisch81 commented on #10139
@ARMmbed/team-nxp Is it possible that target `ARCH_PRO` needs to add `"device_has_add": ["USTICKER"]`?

[2019-03-20 13:09] janjongboom commented on #4643
FYI https://github.com/ARMmbed/mbed-os/pull/7965

[2019-03-20 13:20] maclobdell commented on #10139
Arch Pro is a Seeed Studio platform, not managed by NXP.

[2019-03-20 13:20] mmahadevan108 commented on #10139
@ARMmbed/team-seeed . Can you help take a look at this question related to the ARCH_PRO

[2019-03-20 13:39] 0xc0170 commented on #10079
Does it fix it?

[2019-03-20 14:13] theotherjimmy commented on #9578
@Idanshenhav Yes please. Let's have that PR!

[2019-03-20 14:46] mprse commented on #9716
I think the tools team should review this.

[2019-03-20 14:54] wlamprecht commented on #9632
Hi @TacoGrandeTX,
No, I have no additional changes in the file sdk_config.h. I'm using Mbed-OS 5.11.5

I adapted sdk_config.h according to your suggestions

Downloaded the folder fprintf from device SDK 14_2 and copied to path targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_SDK_14_2/libraries

I get following linker error:

tools.utils.ToolException: b"(...)/mbed-os/targets/TARGET_NORDIC/TARGET_NRF5x/TA

[2019-03-20 14:58] 0xc0170 commented on #9716
@ARMmbed/mbed-os-tools

[2019-03-20 15:11] theotherjimmy commented on #9716
I think #10113 and #10157 should have taken care of some of this.

[2019-03-20 15:34] LiyouZhou opened #10174 "`mbed test` command does not return error code when parsing configuration fails"
### Description

when compiling test using the mbed test --compile command and specify a config file using --app-config option, if there is an error with the config file, mbed test prints an error but returns with return code 0. One would expect the command line return with non-zero return code.

Steps to reproduced:
1. `mbed new myprog && cd myprog`
1. `echo "hellow world" >> mbed_app.json`
1. `m

[2019-03-20 15:48] #9890 closed

[2019-03-20 15:48] mrcoulter45 commented on #9890
PR for fix has been merged into master.

[2019-03-20 16:04] martinichka opened #10175 "Server socket support on BG96 (cellular)"
### Description
Question: is there any development on the bind/listen functions of the BG96? `QUECTEL_BG96_CellularStack::socket_bind` and `QUECTEL_BG96_CellularStack::socket_listen`

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2019-03-20 16:05] martinichka commented on #10175
@janjongboom ?

[2019-03-20 16:20] LMESTM commented on #9890
thanks for this @mrcoulter45

[2019-03-20 16:25] mrcoulter45 commented on #9890
Absolutely

[2019-03-20 16:30] maciejbocianski commented on #9578
In my case running terminal as admin 'solved'  the problem

[2019-03-20 17:52] cmonr commented on #10169
@SenRamakri

[2019-03-20 17:52] cmonr commented on #10169
@ARMmbed/mbed-os-ipcore @ARMmbed/mbed-os-core

[2019-03-20 19:36] bmcdonnell-ionx opened #10176 "waffle closing"
### Description

README.md contains info from and links to [Waffle, which is shutting down on May 16, 2019](https://waffle.io/closing-its-doors). I suppose you'll want to remove those links/info by that time, and potentially migrate whatever info/services it's providing for you elsewhere.

Do you have a plan in place?

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2019-03-20 20:29] cmonr commented on #10176
Ah, you have a good point.

I don't think we have a good way to generate an SVG live, so I'm thinking it would be simplest to remove the two lines.

@ARMmbed/mbed-os-maintainers Thoughts?

[2019-03-20 21:21] ciarmcom commented on #10176
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1033*

[2019-03-20 21:22] ciarmcom commented on #10175
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1034*

[2019-03-20 21:22] ciarmcom commented on #10174
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1035*

[2019-03-21 04:55] UrmilaKL commented on #10111
HI @Desmond-blue,
If I add dispatch(100) to my code instead of dispatch_forever() test case is passing,
But
Like above if I try to add one more class with one more display1 test case, My test case is failing with "TIMEOUT" error, First test case will pass but second one will fail
What may be the reason?
Thanks
Urmila Bhat

[2019-03-21 07:06] mudassar-ublox commented on #10167
Pull request is created.
https://github.com/ARMmbed/mbed-os/pull/10179

[2019-03-21 07:57] lauri-piikivi commented on #9731
Hi,
is there a feature that is affected by this bug/feature?

It is a bit awkward, but there have been modems that only supported IPv4, and in those cases the driver was inherited and stack type overridden. It was not really meant for application API to explicitly set IP version used. Is there a need for such a method?

[2019-03-21 09:31] artokin commented on #9857
Fixed in PR https://github.com/ARMmbed/mbed-os/pull/10142.

[2019-03-21 09:38] 0xc0170 commented on #9716
@ccli8 Please can you retest?

[2019-03-21 09:59] jeromecoutant commented on #9857
@artokin
This is not fully fixed. I added a comment in #10142

[2019-03-21 10:14] offirko commented on #10049
@ARMmbed/mbed-os-maintainers  - Please assign this issue to STM people

[2019-03-21 10:16] ccli8 commented on #9716
They don't fix the issue. Actually, #10008 is raised to fix the issue.

[2019-03-21 10:23] offirko commented on #10049
@VVESTM , @jeremybrodt , @adustm  : hal qspi get stuck at certain stage of the test at:

https://github.com/ARMmbed/mbed-os/blob/db8a018fece6f57fbddddf0039b93e43557ecaf1/targets/TARGET_STM/TARGET_STM32F7/device/stm32f7xx_hal_qspi.c#L696

Eventually the 5[sec] timeout expires and error state is set:

https://github.com/ARMmbed/mbed-os/blob/db8a018fece6f57fbddddf0039b93e43557ecaf1/targets/TARGET_STM

[2019-03-21 10:25] 0xc0170 commented on #10049
cc @ARMmbed/team-st-mcd

[2019-03-21 11:31] orenc17 opened #10183 "mbed_ram_start/size is not sent to CY8CKIT_062_WIFI_BT_PSA"
### Description

when compiling anything for CY8CKIT_062_WIFI_BT_PSA the MBED_RAM_START/SIZE is missing from both CC and LD.

this issue causes the board to fail directly on boot
@theotherjimmy

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-21 12:12] 0xc0170 commented on #10183
Fix needed in 5.12rc4?

[2019-03-21 12:27] orenc17 commented on #10183
yes the board does not boot

[2019-03-21 12:37] VVESTM commented on #10049
There is also something related to the toolchain. Does someone knowing IAR can see what can be the issue ?
Can it be a memory corruption ? For information, the problem always occurs at the same place. If we rename variable or change name_a to name_A, the problem moves or "disappear"... Same if we remove optimizations in compiler options.

[2019-03-21 12:39] #9857 closed

[2019-03-21 12:41] jeromecoutant commented on #9857
@ciarmcom please re-open this issue as it is not fixed
Thx

[2019-03-21 12:42] jeromecoutant commented on #9857
[code]

[2019-03-21 12:51] artokin commented on #9857
Thanks @jeromecoutant , I think I compiled all drivers without DEVICE_INTERRUPTIN but apparently something was not right in my environment.

[2019-03-21 12:54] ciarmcom commented on #10183
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1038*

[2019-03-21 12:59] orenc17 commented on #10183
investigated a bit,
the issue is that CY8CKIT_062_WIFI_BT does not specify RAM regions in cmsis-pack-manager
resulting in get_all_active_memories() returning an empty dict

@theotherjimmy i think PSA ram & rom regions should be handled prior to _get_primary_memory_override()

plus we will need to find a solution for platforms that are not in cmsis-pack-manager

[2019-03-21 13:12] artokin commented on #9857
A fix PR is available in https://github.com/ARMmbed/mbed-os/pull/10185

[2019-03-21 13:45] theotherjimmy commented on #10183
@orenc17 `_get_primary_memory_override()` handles "PSA" ram and rom, and regular ram and rom. We should call it earlier maybe.

[2019-03-21 13:51] pawelm87 commented on #9949
I have this same problem. After compilate bootloader I got two files bin:

- mbed-os-example-bootloader.bin - 121 KB
- mbed-os-example-bootloader_application.bin - 121 KB

Two file have this same size and (binary) looks that same.
When I used "mbed-os-example-bootloader_application.bin" to build application it doesn't work. Bootloader load app from SD, flashed memory, print message "Starting appli

[2019-03-21 13:52] theotherjimmy commented on #10183
@orenc17 Have you tried a target without a CMSIS Pack? I'm pretty sure that if it has any of the other start/sizes defined it'll work.

[2019-03-21 13:53] SeppoTakalo commented on #10169
Can this be created as a PREQ for Mbed OS project?

[2019-03-21 14:02] theotherjimmy commented on #10183
@orenc17 This is not so simple: IROM1 is all of:
* readable
* writable
* executable

Making it match both the filter for ROM and RAM. This does some weird things with the logic in `get_all_active_memories`

[2019-03-21 14:47] theotherjimmy commented on #9716
Still a problem on the latest master.

[2019-03-21 14:52] 0xc0170 commented on #10176
Hi, I've got an email in the last days about it. We will remove it.

[2019-03-21 16:35] jeromecoutant commented on #10061
Hi
Any updates ?

[2019-03-21 17:45] dudmuck opened #10191 "EFM32 support NC pin"
### Description

allow EFM32 platforms to permit NC pin.  Other platforms ignore pins defined as NC.  EFM32 gpio_irq_preinit() has MBED_ASSERT(pin != NC), causing lockup on NC pin.  Also in gpio_init() in gpio_api.c for EFM32  has the same assert.
Other platforms (such as STM32) return out and do nothing for NC pin.  Pins are sometimes defined as NC in mbed-app.json for pins not used.

### Issue r

[2019-03-21 20:39] #10183 closed

[2019-03-21 21:20] ciarmcom commented on #10191
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1040*

[2019-03-21 23:10] hierophect opened #10192 "Full sleep() documentation?"
### Description
Where is the sleep() function fully documented? The power management section of the API only mentions it in passing, instead focusing on how to disable it/re-enable it, and how it is called when all threads are idle. I find that calling the sleep() function has no effect whatsoever on my ST boards (F103, F411, F401), though in most mbed classic examples it is referenced as though i

[2019-03-22 06:33] ciarmcom commented on #10192
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1042*

[2019-03-22 07:02] 0xc0170 commented on #10192
Can you share some references - is it doxygen docs, our docs. Looking at the API level, sleep and power mng headers have docs, would like to know which ones there lack details.

What do you want to enable or disable it?

This should be captured in the documentation:

mbed classic - explicit call to sleep
Mbed OS - idle loop invokes sleep

https://github.com/ARMmbed/mbed-os-5-docs/blob/e0703742672f

[2019-03-22 09:21] desmond-blue opened #10195 "BLE: SM can't get control block in onConnectionComplete event"
### Description

When BLE connection complete, `_eventHandler->onConnectionComplete` gets called before `processConnectionEvent`, thus `acquire_control_block` gets called before `get_control_block`, that makes `_ble.securityManager().setLinkSecurity()` failed.

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-22 09:59] 0xc0170 commented on #10168
Use `"OUTPUT_EXT": "hex",` in targets.json file.

How would the linker sectors look like? Assuming there's that big gap between internal address space and QSPI, it's being filled in the binary so hex should help in that case  - have you tested it?

[2019-03-22 10:02] 0xc0170 commented on #10167
Integrated, closing

[2019-03-22 10:02] #10167 closed

[2019-03-22 10:49] VVESTM commented on #10049
Regarding optimizations, I made a test in develop.json file. We do not see the problem if we remove optimizations on C++ parts :  (-On option instead of -Oh)
    "IAR": {
        "common": [
            "--no_wrap_diagnostics", "-e",
            "--diag_suppress=Pa050,Pa084,Pa093,Pa082", "--enable_restrict",
             "-DMBED_TRAP_ERRORS_ENABLED=1"],
        "asm": [],
        "c": ["--vla", "-

[2019-03-22 11:04] 0xc0170 commented on #10061
It was looked at but not fixed so far (I reviewed internal jira reference).

[2019-03-22 11:05] kjbracey-arm commented on #10192
I agree there's something documentation issue here. But `sleep()` has been pushed down because it shouldn't be called by applications - it's something the RTOS idle does for you once all the threads are sleeping. (And calling it isn't totally trivial, to be race-free).

Also note that calling `sleep()` on its own only sleeps until the next interrupt. That could be a tiny fraction of a second. It's

[2019-03-22 11:21] kjbracey-arm commented on #10192
Looking at the docs, I guess what's missing is the concrete description of what `sleep()` is.

My quick summary:

* `sleep()` calls either `hal_sleep()` or `hal_deepsleep()` depending on whether deep sleep is locked/permitted.
* Those HAL functions differ on required wake up sources and latency. This is documented in `sleep_api.h`
* Both sleep functions are expected to work as ARM `WFI` - they are

[2019-03-22 12:00] jeromecoutant commented on #10049
@kjbracey-arm @pan- Could you have a look on questions we have around C++ and IAR ?
Thx

[2019-03-22 12:08] jeromecoutant commented on #10109
@theotherjimmy this script is very useful for new development with M33.
Thx

[2019-03-22 12:54] ciarmcom commented on #10195
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1043*

[2019-03-22 14:02] theotherjimmy commented on #9717
@teetak01 You proposed thing, placing the header _offset_ at the `MBED_ROM_START` _address_ will not do what you think it will. You want `0` instead.

Further, as C macros may be Turing complete (surprisingly) resolving the bootloader mode is as undecidable as the halting problem.

I don't have a problem with allowing a small amount of arithmetic to these defines, but allowing the use of C macros

[2019-03-22 14:02] #9717 closed

[2019-03-22 15:02] linlingao opened #10197 "Slow context switch after releasing a semaphore"
### Description
Cypress reports:
Basically after releasing a semaphore, the scheduler seems to just wait for something between 6-12ms before doing anything. This is completely crippling for WIFI throughput.
Here are the details on the semaphore/Scheduler issue with MbedOS.

1. WDD thread takes a semaphore and blocks. The semaphore wait has a 4ms timeout. This thread is running at the highest threa

[2019-03-22 15:40] hierophect commented on #10192
I should note that I have been running into this issue in attempting to migrate a number of power-sensitive applications from mbed 2 to mbed 5, since 2 is effectively no longer supported, and thus I'm hoping to find documentation that eases that process. I understand that sleep() is not really supposed to be called in the context of an RTOS operation; I believe could achieve the same task with an

[2019-03-22 15:40] VVESTM commented on #10049
One more point. On @lmestm side, the test is passed. The difference is the IAR version :
Test passed : IAR ELF Linker V8.32.2.178/W32 for ARM (EWARM-CD-8322-19423.exe)
Test failing : IAR ELF Linker V8.32.3.193/W32 for ARM (EWARM-CD-8323-20228.exe)

[2019-03-22 16:26] ciarmcom commented on #10197
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1046*

[2019-03-22 16:50] hierophect commented on #10192
also, @kjbracey-arm, is the `bare-metal` parameter documented anywhere?

[2019-03-22 17:10] offirko commented on #10049
I've noticed there's a known issue for this device in IAR:
EWARM-5402, EW26024] Missing FIFO definition for register SPI1->CR2 in the SVD file for ST STM32F746

http://supp.iar.com/FilesPublic/UPDINFO/013240/arm/doc/infocenter/ewarm.ENU.html

[2019-03-22 17:16] kjbracey-arm commented on #10192
That code is assuming that there's only 1 interrupt in the entire system, and it's your button. And it's also assuming `sleep()` never spuriously wakes or is turned into a no-op by a debugger being attached.

On the one hand, yes, we obviously don't want there to be lots of other wake-up sources in the system stopping you getting to sleep, but your application needs to be tolerant in case that hap

[2019-03-22 17:35] edablan opened #10198 "FATFileSystem::stat() function broken with IAR"
FATFileSystem::stat() function has the following #ifdef that only looks for ```TOOLCHAIN_GCC``` not ``` __IAR_SYSTEMS_ICC__``` :

https://github.com/ARMmbed/mbed-os/blob/f76436c9557ba71bb782908ce0796c6c3bbf5b95/features/storage/filesystem/fat/FATFileSystem.cpp#L513-L530

I understand from the comment that ARMCC doesn't support stat, but IAR is not ARMCC and I have verified going through the call c

[2019-03-22 17:56] loverdeg-ep commented on #9479
@hasnainvirk Any chance of working this in along with the https://github.com/ARMmbed/mbed-semtech-lora-rf-drivers/pull/36

[2019-03-22 18:38] hierophect commented on #10192
Thank you for the detailed reply, lots of good information. Brute force suspend would be very useful for simple applications and I hope it makes it in.

I slipped up with my issue with wait() - the issue was actually `MBED_TICKLESS`, which I must have been messing with at the same time as Thread::wait() and gotten it confused. I should note that the mbed online compiler DOES NOT include `MBED_TICK

[2019-03-22 18:48] hierophect commented on #10192
Also, I only found the Doxygen pages by literally stumbling on it in Google, might be nice to add a link there in the readme.

[2019-03-22 21:19] ciarmcom commented on #10198
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1048*

[2019-03-23 17:30] ecoromka opened #10203 "TEMPSENSOR_CAL1_TEMP constant wrong value in stm32f3xx_ll_adc.h"
### Description

It seems to be a a bug in defenition of TEMPSENSOR_CAL1_TEMP constant. https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.11.5/targets/TARGET_STM/TARGET_STM32F3/device/stm32f3xx_ll_adc.h#L389
Datasheet says it is 30 while in file above it's 25. It leads to an error in internal temperature readings, using provided macro.
Datasheet, page 150/173, Table 90: https://www.st.com/resource

[2019-03-23 19:19] orenc17 commented on #10125
There is no need for mocking PSA targets anymore, at least for tests

[2019-03-23 21:17] ciarmcom commented on #10203
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1050*

[2019-03-24 04:58] 0xc0170 commented on #10197
cc @JonatanAntoni

[2019-03-24 10:55] masoudr opened #10205 "Set safe reboot on exceptions"
### Description

Hi,
I was wondering if there is some function or configuration to set a safe reboot for a system exception like `hard fault`, `stack overflow` or `out of memory`. I found [this example](https://github.com/ARMmbed/mbed-os-example-crash-reporting/blob/master/main.cpp) but I'm not sure how to just implement the desired functionality.

### Issue request type

    [x] Question
    [ ]

[2019-03-24 12:52] ciarmcom commented on #10205
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1051*

[2019-03-24 13:14] offirko commented on #10049
@VVESTM - please note the problem is reproduced on my env using:  IAR ELF Linker V8.32.1.169/W32 for ARM .
Also, I've used "none optimization" cxx setup:
"cxx": ["--guard_calls", "--no_static_destruction", "-On"],

And with a bit of variation reproduced the problem, this time when trying to set "name_b"

[2019-03-24 16:20] JohnK1987 opened #10207 "The can.write called from Ticker or EventQueue cause a crash"
### Description
Hi,
I found an issue when I try to use this code on my ST board with latest MbedOS 5
https://os.mbed.com/teams/mbed_example/code/CAN_ex_1/file/d6cbcdb04ada/main.cpp/
This code crash with this error
/////////////////////////////////////////////////////////////////////////////////////////////////
++ MbedOS Error Info ++
Error Status: 0x80020115 Code: 277 Module: 2
Error Message: Mute

[2019-03-24 21:17] ciarmcom commented on #10207
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1052*

[2019-03-24 23:06] JohnK1987 opened #10208 "CMSIS(DSP) PID implemented in Mbed is not comlete?"
### Description
Hi, I tried to use PID control from CMSIS implemented in Mbed-OS but compiler can not found functions like
- arm_pid_reset_f32 (arm_pid_instance_f32 *S)
- arm_pid_init_f32 (arm_pid_instance_f32 *S)

The old Mbed-DPS lib has same functions like [here](http://www.keil.com/pack/doc/CMSIS/DSP/html/group__PID.html) and it works

The Mbed-os has same description in the PID's doxygen docu

[2019-03-25 06:33] ciarmcom commented on #10208
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1053*

[2019-03-25 07:39] kjbracey-arm commented on #10192
On `MBED_TICKLESS`, for command-line builds that is currently set in `targets.json` for targets it's known to work on.

I see the 103RB lacks `LPTICKER` according to targets.json, and that omission would formerly have blocked `MBED_TICKLESS`, which is probably why it's not defined. But at the minute, STM boards have `tickless-from-us-ticker` true, which means it would now work, and in future `TICK

[2019-03-25 07:46] kjbracey-arm commented on #10197
Whatever the issue is here, it's not generally happening, as I know we have drivers such as the Atmel RF233 which are routinely managing to do `InterruptIn` -> `EventFlag` -> High priority thread -> SPI transaction within a 192us hard realtime limit to receive a radio ACK.

So I'd like more info about the timing. Are you sure the 6-12ms is measured from the ISR actually releasing the semaphore? Or

[2019-03-25 07:52] kjbracey-arm commented on #10080
I'm working on it in this PR: https://github.com/ARMmbed/mbed-os/pull/10104

Because non-RTOS `wait` is literally a wait. It's spinning looking at the timer. You need a sleep call, rather than a wait call. #10104 gives you `ThisThread::sleep_for` for bare metal, and deprecates `wait` - you shouldn't be "waiting" for long periods, you should be sleeping. (And having `wait` actually sleep for RTOS w

[2019-03-25 08:23] kjbracey-arm commented on #10207
This is a generic rule for the C++ driver classes - they enforce ordered use of the HAL with a mutex, and because of that mutex, they can't normally be used from interrupt context. You should normally make the interrupt attachment defer work to a thread. That's generally a good idea, as it should help interrupt latency - if the operation you're doing is slow, you might end up losing serial data by

[2019-03-25 09:13] kjbracey-arm commented on #10127
In this case, the `operator=` is not doing what you presumably need, which is to make a clone reference to the same pin.

Most of the C++ driver classes are deliberately non-copyable, as you should not be attempting to access the same HAL object through two different objects - it would sidestep the mutex locking, and potentially open them up to thread-safety problems. And we don't know that it's l

[2019-03-25 09:17] d-kato commented on #10119
@VeijoPesonen, It was not possible to build with https://github.com/ARMmbed/mbed-os/commit/6906f39bf586aaafac1d0a23eadb604c0905c476.
[code]
So I tried with the latest revision https://github.com/ARMmbed/mbed-os/commit/b29b55ab5a9ec364d83f3d3ac175c8ac160ae2e2 on the master.

The result was successful except for the newly added ``mbed-os-tests-mbed_platform-wait_ns``.
[code]
We need to fix ``mbed-os

[2019-03-25 09:42] jeromecoutant commented on #9460
@bridadan is your working branch ready to be tested ?

[2019-03-25 09:49] VeijoPesonen commented on #10119
[code]
That should solve the issue you're having

[2019-03-25 10:21] jeromecoutant commented on #10203
Hi @ecoromka
I confirm the issue.
If you push a pull request , I will approve it.
Thx for report

[2019-03-25 10:25] jupe commented on #10052
same happens for me but `pip install -r mbed-os/requirements.txt`. After upgrading mbed-cli building started to work.

[2019-03-25 10:35] jeromecoutant commented on #10203
@0xc0170 you can set device ST label

ST_INTERNAL_REF 63882

[2019-03-25 10:51] janjongboom opened #10211 "DISCO-L475VG-IOT01A wakes up every second"
### Description

This is a power profile of 10 second blinky on DISCO-L475VG-IOT01A. Every second the MCU wakes up. What's going on here?

![image](https://user-images.githubusercontent.com/816856/54914429-3a163a00-4ef5-11e9-908d-428991a13dd8.png)

**main.cpp**

[code]

**mbed_app.json**

[code]

Mbed OS 5.12 (pre-release) rev. 7dd791e2f992d872b2dab4a7f061d05f7283090a compiled with GCC ARM 6.

###

[2019-03-25 10:57] hasnainvirk commented on #9479
@AnttiKauppila What is your take on taking the radio drivers as components under the OS tree ?

[2019-03-25 11:15] janjongboom commented on #10079
Well upping idle thread stack size should help indeed, but given that we run into the same issue again we should be more careful about sizes of these stacks when enabling traces, and we should also have tests around this.

[2019-03-25 11:30] jeromecoutant commented on #10211
Hi @janjongboom

Could you try adding
"target.lpticker_lptim_clock": 4
in your mbed_app.json file ?

[2019-03-25 11:30] jeromecoutant commented on #10211
@LMESTM

[2019-03-25 11:32] VeijoPesonen commented on #10119
@d-kato thanks, once you create the PR I'll give it a try.

[2019-03-25 12:00] d-kato commented on #10119
@VeijoPesonen, I created the PR. Please confirm.

[2019-03-25 12:48] LMESTM commented on #10211
This can be related to the maximum timeout period that can be programmed in HW,
Probably the HW Low Power timer cannot sleep for more than about 1sec. So mbed-os scheduler will program it for 1 sec, wake-up, check for anything to be done, then sleep again.

[2019-03-25 12:53] offirko commented on #10049
CC: @screamerbg

[2019-03-25 13:41] loverdeg-ep commented on #9479
Quoting my message above, our context is the following:

[2019-03-25 14:04] desowin opened #10216 "Support osWaitForever in Mail::alloc() and Mail::calloc()"
### Description

The Mail class provides two functions to allocate message buffer: `alloc()` and `calloc()`. Both of these functions take optional `millisec` parameters which defaults to 0. The API itself seems OK, expect for the fact that millisec parameter is not used at all (which is documented).

In other RTOSes, it is possible to block when putting data to statically allocated mailbox. For ex

[2019-03-25 14:14] janjongboom commented on #10211
@LMESTM @jeromecoutant Yeah that works, but power consumption in deep sleep is now 60 uA so about 10x what it was previously.

[2019-03-25 14:46] melvyniandrag commented on #7852
Error still present on ubuntu 18.04. Installed gcc with 'apt-get install gcc-arm-none-eabi'. Worked on ubuntu 16 a few days ago. Both standard installs, no modifications of apt sources.

[2019-03-25 15:05] linlingao commented on #10197
@satya1957 Can you answer questions from @kjbracey-arm ?

[2019-03-25 15:06] linlingao commented on #10197
CC @ARMmbed/team-cypress

[2019-03-25 15:22] TacoGrandeTX commented on #9632
@wlamprecht Can you provide an example of the logging calls that you are using?

[2019-03-25 15:46] elm3 commented on #9712
@ARMmbed/team-ublox , have you seen this?

[2019-03-25 16:14] elm3 commented on #9711
@ARMmbed/team-ublox

[2019-03-25 16:22] wlamprecht commented on #9632
@TacoGrandeTX
My goal is to get the output from NRF_LOG_DEBUG, NRF_LOG_WARNING and NRF_LOG_ERROR
e.g. in file :
mbed-os/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_SDK_14_2/TARGET_SOFTDEVICE_COMMON/softdevice/common/nrf_sdh_ble.c

NRF_LOG_WARNING("RAM starts at 0x%x, can be adjusted to 0x%x.",app_ram_start_link, *p_app_ram_start);
or
NRF_LOG_DEBUG("RAM starts at 0x%x", app_ram_start_link);

[2019-03-25 16:45] desowin commented on #10216
Apparently, the `osSemaphoreNew()` supports 32-bit unsigned maximum count. So it would be possible to use this API directly in the `Mail` without changing the `queue_sz` type.

[2019-03-25 17:32] wmcelderry opened #10220 "MPU preventing EEPROM access on STM32L151/MTB_RAK811"
### Description
STM32L151/RAK811 MPU update conflict with internal EEPROM.

Detection:
When working with the RAK811 (STM32L151CB), using an EEPROM library works prior to 5.11.0

Error symptom is a HardFault dump, which seems to be a Data access violation (from my reading of the Cortex-M3 TRM (page 8-32):

[code]

I created an absolutely minimal test from the STM32L151xx Reference manual (RM0038) t

[2019-03-25 18:26] wmcelderry commented on #10220
I've just discovered the MPU API and used the ScopedRomWriteLock ( https://os.mbed.com/docs/mbed-os/v5.11/apis/scopedromwritelock.html ) to work around the problem and can confirm that 5.11.4 will work with that approach.

Not sure if unlocking the whole of the ROM is ideal for writing to EEPROM, so I'll leave this open for someone more knowledgeable about the implications for the whole system to

[2019-03-25 19:36] balajicyp commented on #10197
Hi Kevin,

My Answers are inline..

So I'd like more info about the timing. Are you sure the 6-12ms is measured from the ISR actually releasing the semaphore? Or is it measured from the interrupt input?

The Cypress hal_sleep function appears to be a black box. Are you sure it's waking immediately, and that the 6ms-12ms isn't a wake delay from that sleep? Could you try replacing hal_sleep with an

[2019-03-25 20:10] bridadan commented on #9460
Hi @jeromecoutant, no it is not a complete solution yet. I posted it here to get general thoughts and opinions on the direction.

[2019-03-25 20:10] cmonr commented on #10049
@ARMmbed/mbed-os-test @ARMmbed/mbed-os-core @ARMmbed/mbed-os-maintainers

Fyi: https://github.com/ARMmbed/mbed-os/issues/10049#issuecomment-475669701

[2019-03-25 20:12] cmonr commented on #10079
@SenRamakri ^^^

[2019-03-25 20:16] cmonr commented on #10198
@ARMmbed/mbed-os-storage

[2019-03-25 20:23] cmonr commented on #10216
@ARMmbed/mbed-os-core

[2019-03-25 20:23] cmonr commented on #10220
@ARMmbed/team-st-mcd

[2019-03-25 20:31] cmonr commented on #7852
@melvyniandrag This sounds like a problem with either the `gcc-arm-none-eabi` package, or Ubuntu 18.04. We don't manage either package.

You can try what @BenjaminPMLovegood did (https://github.com/ARMmbed/mbed-os/issues/7852#issuecomment-415263190) or contact the maintainers for either the package or Ubuntu in their forums.

[2019-03-25 20:51] bridadan commented on #5467
I believe this comes from an issue in the current device index. The current device index does not mark any flash algorithm as "default", so no flash algorithm is set in the exported projects.

I believe the following changes would need to happen to fix this:

- Need to update Mbed OS to use version 0.2.4 of CPM: https://github.com/ARMmbed/cmsis-pack-manager/releases/tag/v0.2.4
- Need to regenerate

[2019-03-25 21:20] ciarmcom commented on #10220
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1055*

[2019-03-25 21:20] ciarmcom commented on #10216
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1056*

[2019-03-25 21:20] ciarmcom commented on #10211
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1057*

[2019-03-25 21:54] bridadan commented on #10090
This was fixed in #10193 .

[2019-03-25 21:54] #10090 closed

[2019-03-26 00:07] potidannon commented on #10127
Thank you for the heads up. What you suggested below was my workaround, so I am just going to keep that. Since, it looks like it is intentionally implemented like that, I will close this issue.

[2019-03-26 00:07] #10127 closed

[2019-03-26 00:16] cmonr commented on #9731
@ARMmbed/mbed-os-ipcore

[2019-03-26 01:51] desmond-blue commented on #10111
@UrmilaKL You could try destructing the BLE and HeardRate objects, after the test case 1 finished.

And please post this kind of questions on our [Question](https://os.mbed.com/questions/) or [Forum](https://os.mbed.com/forum/) because the two places are best fitted for discussing the application. We really appreciate that.

[2019-03-26 05:37] fahim-ublox commented on #9712
Internal Jira ticket : PGM_NO_MBD-216

[2019-03-26 05:54] VairaRamasamy commented on #10165
@offirko is there a plan to support 4-bytes addressing anytime soon?

[2019-03-26 07:04] jupe opened #10223 "unexpected serial port behaviour"
### Description

`printf()` behaviours unexpectedly for this board. Seems that it depends on line feed does it write data to serial port or not.

- What target does this relate to?
TARGET_DISCO_L475VG_IOT01A, K64F, ..?

- What toolchain (name + version) are you using?
arm-none-eabi-gcc (GNU Tools for Arm Embedded Processors 7-2018-q2-update) 7.3.1 20180622 (release) [ARM/embedded-7-branch revision

[2019-03-26 07:07] tommikas commented on #10223
Happens also with ARM Compiler 5.06 update 6.

[2019-03-26 07:12] jupe commented on #10223
looks like printf/serial works as a line buffered even it should be character buffered. But even I switch explicitly `platform.stdio-buffered-serial` to `false` it does not write anything. I also expected that if `platform.stdio-flush-at-exit` are true above application would flush data to serial port regardless buffered mode, but that does not happen. Guessing that there might be two different bu

[2019-03-26 08:02] offirko commented on #10165
@VairaRamasamy : we have considered adding support for 4-bytes addressing once we see demand for SPI Flash devices with larger capacity.
Do you require 4-bytes addressing for flash larger than 16MB?

[2019-03-26 08:07] kjbracey-arm commented on #10216
It seems `Semaphore`  wants to be extended to permit 32-bit maximum counts. I'll make a patch for that.

But for `Mail`, I don't see why isn't it just passing the timeout to `MemoryPool` - the underlying `osMemoryPoolAlloc` it uses takes a timeout.

I've never used any of `Mail`, `MemoryPool` or `Queue`, so I don't know what the historical reason for ignoring the timeout was.

I'll make a patch to

[2019-03-26 08:15] VairaRamasamy commented on #10165
Yes. We need it. Cypress' flash chips used on PSoC 6 kits support up to 64 MB.

[2019-03-26 08:38] masoudr commented on #10205
According to [this](https://os.mbed.com/docs/mbed-os/development/apis/error-handling.html), it seems that should only set some configs to enable auto reboot on fault exceptions. Here is `mbed_app.json`:
[code]
I also have some compile problem with mbed-os `5.11.5` but I'm closing this issue.

[2019-03-26 08:38] #10205 closed

[2019-03-26 08:46] LMESTM commented on #10223
@jupe I don't think this specifically relates to DISCO_L475VG_IOT01A - I guess this is rather mbed-os generic.  If you confirm, would you update the title to be more generic ?

@0xc0170  any comment ?

[2019-03-26 08:59] jeromecoutant commented on #10220
@c1728p9 as MPU API developer :-)

[2019-03-26 09:09] masoudr opened #10226 "Compile error with enabling crash report"
### Description

Hi,
I'm trying to set auto reboot for fault errors with help of [this](https://os.mbed.com/docs/mbed-os/v5.11/apis/error-handling.html) document. When I try to compile my code, I get the following compile error which seems to generate when enabling `crash-capture-enabled` in configuration.
I tested with mbed-os `5.11.5` and `5.12.0`. My target platform is an `STM32F407VG`.
`mbed_a

[2019-03-26 09:15] offirko commented on #10165
@VairaRamasamy - thanks for the information. We can try to make into 5.13
I've added in CC the relevant people for planning.

CC: @dannybenor , @ARMmbed/mbed-os-maintainers

[2019-03-26 09:20] kjbracey-arm commented on #10223
The buffering you're seeing is inside the C library. stdout is allowed to be either line-buffered or non-buffered by default, if going to the console:

I don't know what each of our C libraries choose for line-buffering versus no buffering.

If you need to ensure there's no buffering for your app, then `setbuf(stdout, NULL)` or `setvbuf(stdout, NULL, _IONBF, 0)` will do it.

[2019-03-26 10:04] artokin opened #10227 "Build failure in exported mbed-os-example-mesh-minimal in KEIL uvision5"
### Description

Exported example application https://github.com/ARMmbed/mbed-os-example-mesh-minimal fails to build using Keil uvision5.

Steps to reproduce:

1. Install Keil uvision5 that supports ARMC6 compiler >= 6.11
1.  Clone https://github.com/ARMmbed/mbed-os-example-mesh-minimal
1. Run `mbed deploy`
1. Change mbed-os revision to `master` or `mbed-os-5.12.0-rc4`
1. Export project ` mbed exp

[2019-03-26 10:09] SeppoTakalo commented on #9922
Fixed in https://github.com/ARMmbed/mbed-os/pull/10190

[2019-03-26 11:06] TeroJaasko opened #10228 "MBED_BUILD_TIMESTAMP is not documented"
### Description

https://github.com/ARMmbed/mbed-os/pull/8359 added support for a environment variable called MBED_BUILD_TIMESTAMP. This new tunable should be documented too, as by default the ccache does not work anymore.

Without ccache, the mbed-os-example-blinky re-build takes 2m 41s on my machine, with functional ccache it is done in 40s. Tested with Mbed OS 5.11.5.

### Issue request type

[2019-03-26 11:10] korjaa commented on #10228
Setting MBED_BUILD_TIMESTAMP to a constant speeds up my builds also 3-4x.

[2019-03-26 11:47] paspik commented on #9731
What would be the use case for setting IP version used? I would like to understand the need for such a feature.

[2019-03-26 11:54] kjbracey-arm commented on #10197
Which target is this, precisely? Is `MBED_TICKLESS` on?  If `MBED_TICKLESS` is on, then deep sleep could be being entered, and maybe that is the problem, if you're not holding a deep sleep lock.

And you're instrumenting this how - wiggling a `DigitalOut` in the ISR handler or something?

I would recommend doing this:

    // ISR handler
    // DigitalOut isr_pin(D5);
    isr_pin = 1;
    semaphor

[2019-03-26 12:22] kjbracey-arm commented on #9731
The issue is more generic than cellular - `NetworkInterface` doesn't expose an IPv4/IPv6 choice itself, which would be why `CellularContext`'s ability to specify isn't used. Same applies for various underlying other APIs which have the setting, like `OnboardNetworkStack`.

If we wanted to expose this, I think it should logically be via `NetworkInterface`.

[2019-03-26 12:48] offirko commented on #10049
@VVESTM - Disabling Data Cache with a call to: SCB_DisableDCache() at begining of the test case resolves the problem.
(rest of the setup is default)

(could it after all be related to: https://github.com/ARMmbed/mbed-os/issues/9934#issuecomment-472454548 ?)

[2019-03-26 13:46] kjbracey-arm commented on #10049
Although the STM32F7 is vulnerable to cache issues that other boards don't see, I don't believe there's any direct reason for this interface to be vulnerable. It's not being used as a bus-mastering interface like Ethernet, it just has a FIFO you access as programmed memory/mapped I/O, right? Should be no more problematic than the UART.  (On the other hand #9934 is quite likely a cache issue).

So

[2019-03-26 13:47] bqam commented on #9712
@NeilMacMullen thanks for the input. I have checked with SARA-G450 FW:09.02,A02.01 and I dont see any problem if I dont wait for the +UUPSDA URC. Infact, this URC is present for U201 as well and is received as soon as the UPSDA command is sent (for both modules). I checked with m-center (AT terminal) and I also used UPING command immediately after the context activation, able to see ping responses

[2019-03-26 13:49] bqam-ublox commented on #10024
@NeilMacMullen thanks for the input. I have checked with SARA-G450 FW:09.02,A02.01 and I dont see any problem if I dont wait for the +UUPSDA URC. Infact, this URC is present for U201 as well and is received as soon as the UPSDA command is sent (for both modules). I checked with m-center (AT terminal) and I also used UPING command immediately after the context activation, able to see ping responses

[2019-03-26 13:51] bqam-ublox commented on #9712
@NeilMacMullen thanks for the input. I have checked with SARA-G450 FW:09.02,A02.01 and I dont see any problem if I dont wait for the +UUPSDA URC. Infact, this URC is present for U201 as well and is received as soon as the UPSDA command is sent (for both modules). I checked with m-center (AT terminal) and I also used UPING command immediately after the context activation, able to see ping responses

[2019-03-26 14:03] kjbracey-arm commented on #9934
Global `SCB_InvalidateDCache` is not something you want to do - you don't want to forget any data in the cache that's waiting to be written back to RAM.

But looking at flash_api.c, I guess you do want a ranged `SCB_InvalidateDCache` covering the area you just erased or programmed (both cases), and a (global) `SCB_InvalidateICache`.

(You only really need to invalidate after erasing if you're goin

[2019-03-26 14:05] NeilMacMullen commented on #9712
@bqam-ublox  Thanks for looking at this.  IIRC, the error that occurs is that if you try to set up a socket without waiting for the UUPDSA URC, you get a CME ERROR (can't remember which one - probably invalid operation).   Since the logical flow is context-

[2019-03-26 14:28] theotherjimmy commented on #10168
This is not an issue with master, or any release of mbed-os, as you're using your own linker script. @0xc0170's advice may also apply to the `target_overrides` section of your `mbed_app.json`. This should allow you to work around this in your project @janjongboom.

[2019-03-26 15:00] kjbracey-arm commented on #9112
Afraid I've had other stuff on my plate.  #10104 in particular, and this ties in with it. `ConditionVariableCS`'s non-RTOS implementation will want to use the work from that.

I'll raise this up in 5.13 planning - this issue is another facet of power saving, but I think very few people are using these blocking APIs in such a way that they notice the issue, so it's not really got any attention. The

[2019-03-26 16:07] #10174 closed

[2019-03-26 16:10] #9922 closed

[2019-03-26 16:19] cmonr commented on #10226
@SenRamakri

[2019-03-26 16:21] cmonr commented on #10227
@artokin Should the above quoted line have been 'uvision5' instead?

[2019-03-26 16:22] cmonr commented on #10228
@ARMmbed/mbed-os-test-team

[2019-03-26 16:24] cmonr commented on #9949
@ARMmbed/mbed-os-tools

[2019-03-26 20:13] SenRamakri commented on #7889
This is already addressed in mbed-os master, and the documentation will be available as part of 5.12 release. For preview of the upcoming documentation please see "Enabling Mbed OS bare metal" section in - https://os.mbed.com/docs/mbed-os/development/tutorials/migrating-to-mbed-os-5.html

[2019-03-26 20:13] #7889 closed

[2019-03-27 05:21] #9716 closed

[2019-03-27 05:22] #10139 closed

[2019-03-27 05:24] #10176 closed

[2019-03-27 05:25] heejungPark opened #10236 "About setting to interval of BLE beacon"
### Description

Hi,

I have been testing BLE beacon and having a issue.
To change the advertising interval, I called the function named setAdvertisingInterval().
The definition of this function is the belows,
![image](https://user-images.githubusercontent.com/40823519/55052258-9f0b9480-509b-11e9-8aa1-7edcf2e50970.png)
But when I set a parameter of this function under 100(for example 99), it doesn

[2019-03-27 05:34] ccli8 opened #10237 "Compile secure code for PSA test"
### Description

Based on #9221, I am adding PSA support to Nuvoton's target **NUMAKER_PFM_M2351** which is Coretex-M23 based. To verify my porting, I try to run PSA tests and get PSA test result below. For failed items like `mbed-os-tests-psa-crypto_access_control`, I find my secure code misses necessary PSA test partition and secure-side code in **mbed-os/TESTS/psa/crypto_access_control**. Then

[2019-03-27 05:53] mikisch81 commented on #10237
All the failed tests have dedicated secure binaries which are different from the default binary by that they have more partitions which handle the test logic.

Is this PSA work going to be in a PR so we can see the entire picture?

[2019-03-27 05:54] ithinuel opened #10238 "TMPM46B does not support `DigitalOut(NC)` instantiation."
### Description

The AdBun-M46B (TMPM46B) target does not support instantiation of `DigitalOut` ios when the corresponding pin is `NC` (typically an unused SPI CS or Reset pin in a driver).

This is triggered by the MBED_ASSERT from `gpio_set` called [gpio_api.c#L40](https://github.com/ARMmbed/mbed-os/blob/7e7f4f561bcdf84e50c947ebd2d5a14437f36f1c/targets/TARGET_TOSHIBA/TARGET_TMPM46B/gpio_api.c#L4

[2019-03-27 06:06] cmonr commented on #10237
@orenc17, though I think I know the answer (but it's a bit late here)

[2019-03-27 06:24] #8928 closed

[2019-03-27 06:25] #8609 closed

[2019-03-27 06:26] ccli8 commented on #10237
This PSA work will run after #9221 and will become a PR finally. Would you tell me how to compile secure code to run PSA test?

[2019-03-27 06:34] ciarmcom commented on #10238
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1060*

[2019-03-27 06:34] ciarmcom commented on #10237
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1061*

[2019-03-27 06:34] ciarmcom commented on #10236
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1062*

[2019-03-27 06:34] ciarmcom commented on #10228
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1063*

[2019-03-27 06:34] ciarmcom commented on #10227
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1064*

[2019-03-27 06:34] ciarmcom commented on #10226
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1065*

[2019-03-27 06:34] ciarmcom commented on #10223
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1066*

[2019-03-27 06:45] jupe commented on #10223
I can confirm that same behaviour happens with K64F for example. Also tried `setbuf` which seems to work as expected. See example:
[code]

This also seems to flush data to serial port as expected when `platform.stdio-flush-at-exit` is true:
[code]
`payload` is not printed when `platform.stdio-flush-at-exit` is `false` . This seems to be correct behaviour.
Question: should stdout flush happen even

[2019-03-27 07:07] mikisch81 commented on #10237
It would be more helpful if we move the discussion to some kind of a private fork of your work, maybe with an internal PR there which will show the changes relative to master.
You are actually adding a new target to Mbed-OS (m2351 PSA target) so I think the "Issues" section here is not the best interface for it.
Another thing, there is already a v8m PSA target in Mbed-OS - [NXP LPC55S69](https://g

[2019-03-27 08:07] artokin commented on #10227
@cmonr , shouldn't we use `uvision6` to get application build with ARMC6? At least the application can be built OK when `cfstore/VERSION` is cleared.

If parameter `uvision5` is used then the project generation fails:

[code]

[2019-03-27 08:12] jeromecoutant commented on #10057
@TacoGrandeTX

I think setting devices ST is not fully correct.
As you can see in the description, point 1 is "Extending the mbed HAL API."

So this issue has to be first analysed mbed-os side.

Thx

@screamerbg

[2019-03-27 09:54] cyborg71 opened #10239 "Ethernet rx packet size issue on NXP i.MX RT1050"
### Description

We have an issue of receiving IP packets larger than 1490 bytes over Ethernet on the NXP i.MX RT1050 target. The packet size 1490 bytes includes Ethernet payload data excluding Ethernet frame header. After a few or occasionally dozens of sucessfully received IP packets with size above 1490 bytes we have seen that the IP layer stops receiving packets. When this issue occurs it is n

[2019-03-27 10:04] ccli8 commented on #10237
@mikisch81 Many thanks for your information on how to compile secure code for PSA test. Internal PR is a good suggestion for discussion. I will raise one when necessary.

[2019-03-27 10:04] #10237 closed

[2019-03-27 10:17] mikisch81 commented on #10237
@ccli8 please tag @ARMmbed/mbed-os-psa team in the upcoming PR

[2019-03-27 11:29] desowin opened #10241 "Dynamic memory allocation in mbed-os"
### Description

I have noticed that [mbed-os/components/storage/blockdevice/COMPONENT_QSPIF/QSPIFBlockDevice.cpp](https://github.com/ARMmbed/mbed-os/blob/899ea5991cfe23040bd7c766fde7fa667f4b8c41/components/storage/blockdevice/COMPONENT_QSPIF/QSPIFBlockDevice.cpp#L108) does dynamically allocate the QSPIFBlockDevice::_active_qspif_flash_csel_arr array. Would it be possible to allocate this array st

[2019-03-27 12:04] hasnainvirk commented on #9951
@janjongboom this can be closed I guess. The issue was related to MCU clock speed as we had discussed,

[2019-03-27 12:11] unsignedint commented on #10239
@mmahadevan108 it would be excellent if you could please take a look at this :)

[2019-03-27 12:38] #10063 closed

[2019-03-27 12:44] #9094 closed

[2019-03-27 12:55] ciarmcom commented on #10241
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1068*

[2019-03-27 12:55] ciarmcom commented on #10239
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1069*

[2019-03-27 13:17] janjongboom commented on #9951
@hasnainvirk I'm not sure if I agree that this can be closed. This is a race condition where the stack ends up in unrecoverable state. That should never be the case.

[2019-03-27 13:23] bqam-ublox commented on #9712
@NeilMacMullen I understand your point plus we need to be sure if the context is activated, will generate a pull request for review.

[2019-03-27 13:48] desowin opened #10242 "Mbed error info not printed with mbed-os-5.12.0"
### Description

Consider following dummy application:
[code]

As the application leaks memory, mbed error will eventually occur and on serial port there'll be information like (mbed-os-5.11.5):
[code]

However with mbed-os-5.12.0, no data is received on serial port.

I am observing the issue with 32F746GDISCOVERY board. The command I use to compile and run the application is `mbed compile --targe

[2019-03-27 13:57] hasnainvirk commented on #9951
@janjongboom I beg to differ. For example,
SF=12, BW = 125kHz, CR= 4/5, Payload size = 20 bytes, Preamble size to have a lock = 6 (+ 4.25 what chip adds) will give you TOA 1089.54 ms. That means it is guaranteed that  when there will be time to open RX2 window, you would still be demodulating RX1.
The problem you were seeing was reproducible and after the clock speed fix, it went away. However, th

[2019-03-27 14:16] dannybenor commented on #10049
@VVESTM We see that this issue is reproducible but also is fragile, meaning small changes to the test, like adding prints, or playing with the cache, will "fix" the problem. We need your help in the investigation of the root cause why the QSPI get stuck.

[2019-03-27 14:45] vincha04 commented on #10236
FYI: I believe the spec-defined minimum for BLE advertising is 20ms.

[2019-03-27 15:01] TacoGrandeTX commented on #10057
@jeromecoutant Yes - good point.  I've removed the label.  Thanks for pointing that out.

[2019-03-27 15:05] offirko opened #10245 "Reading SD Card returns wrong 0x00h data value - CY8CKIT_062_WIFI_BT"
### Description
Target: CY8CKIT_062_WIFI_BT

Reading SD Card will sometimes return 0x00h byte value instead of real value, while another thread runs in the background (the second thread has very low CPU usage).

Note that: SD Read brings CPU Usage to 100%

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-03-27 15:05] TacoGrandeTX commented on #10057
@ARMmbed/mbed-os-hal Could someone please review and comment ?

[2019-03-27 15:17] offirko commented on #10245
PSB attached log.
Test scenario:
1) Program 4MB of data to SD Card .
2) Program Done
3) Start CPU Measurement and working thread (~3% CPU)
4) Start Reading 4MB Data at 1KB chunks <== CPU rises to 100%
5) Several reads return byte value 0x00h instead of actual data
6) Read Done <== CPU drops back to 3%

[CY8CKIT_062_WIFI_BT_SD_Read_with_work_thread.txt](https://github.com/ARMmbed/mbed-os/files/3013

[2019-03-27 15:20] offirko commented on #10245
CC: @dannybenor , @maclobdell

[2019-03-27 15:28] alzix commented on #10245
@offirko, can you upload your test project to GitHub and share the link here?
It will help reproducing the issue.

[2019-03-27 15:31] janjongboom commented on #9951
@hasnainvirk OK I'll trust you on it!

[2019-03-27 15:31] #9951 closed

[2019-03-27 16:38] offirko commented on #10245
@alzix : sure thing..
test name: "features-storage-tests-blockdevice-general_block_device"
test suite:  "SD Testing prog read mult"

Repo:
******
https://github.com/offirko/mbed-os/tree/offir_CY8CKIT_062_WIFI_BT_sd_read

Build:
******
mbed test -v -t GCC_ARM -m CY8CKIT_062_WIFI_BT -n features-storage-tests-blockdevice-general_block_device --compile --app-config mbed_app.json -DMBED_CPU_STATS_ENABL

[2019-03-27 18:56] cmonr commented on #10241
@ARMmbed/mbed-os-storage

[2019-03-27 18:58] cmonr commented on #10242
...huh. That's an interesting test case.

CC @ARMmbed/mbed-os-core

[2019-03-27 21:19] ciarmcom commented on #10245
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1070*

[2019-03-27 21:19] ciarmcom commented on #10242
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1071*

[2019-03-27 22:02] kegilbert commented on #10242
Tested on a K64F with GCC_ARM on 5.11, 5.12, and master and was able to get
[code]

each time with the described code snippet. I'll try to track down a 32F746GDISCOVERY, might be something target specific.

[2019-03-27 22:38] TacoGrandeTX opened #10247 "Online Compiler - SoftDevice not being included in Nordic builds"
### Description

A customer noticed that a nRF52-DK project based on v5.10 is no longer including the SoftDevice after the v5.12 tools update to the Online Compiler.

I confirmed that and have a legacy v5.9.1 project that can be used for testing:
* https://os.mbed.com/users/RalphF/code/OS5_BLE_LED/

It's possible that we're just outputing the application hex file as opposed to the combined hex as

[2019-03-28 01:39] heejungPark commented on #10236
Hi @vincha04

I have seen that somewhere.
But my code is not working...
I'm sorry but could you please share a code that is working well when the interval is 20ms.

Thanks.

[2019-03-28 06:18] #10135 closed

[2019-03-28 06:34] ciarmcom commented on #10247
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1073*

[2019-03-28 07:51] offirko commented on #10241
@desowin - Thanks for your query.
Because this 40 bytes global array required initializing different than '0's it was allocated and initialized dynamically. Also, because it is a global variable, allocating and initializing will be done before 'main' . Still, the point you raise is valid and if critical I can move it to be statically allocated.

[2019-03-28 08:03] dannybenor commented on #10241
Always is better to allocate statically if possible

[2019-03-28 08:09] AnttiKauppila commented on #9479
We have been thinking about it, but it is not in our short term plans.

[2019-03-28 08:27] offirko commented on #10241
Internal bug created: https://jira.arm.com/browse/IOTSTOR-819

[2019-03-28 08:56] desmond-blue commented on #10236
Hi @heejungPark , the API `setAdvertisingInterval()` has [been deprecated](https://os.mbed.com/docs/mbed-os/v5.12/mbed-os-api-doxy/class_gap.html#aae6623b7ad7087f86113758e20068d9e), instead, you should config the interval with `ble::AdvertisingParamters`, please refer [here](https://os.mbed.com/docs/mbed-os/v5.12/mbed-os-api-doxy/classble_1_1_advertising_parameters.html).

And please notice that

[2019-03-28 09:34] kjbracey-arm commented on #10223
I think our documentation hasn't really considered the C library buffering, as it's not something we have much control over, as a system, and isn't Mbed OS specific. The application can control it via C library calls. I guess it should be noted somewhere.

The C library has buffers for streams, and it can be configured to call the OS (`FileHandle` object) for every character, every  line, or only

[2019-03-28 10:26] marcemmers commented on #9901
We are having similar problems where the Cordio layer is taking over some of our pins. By coincidence those pins are also leds on our custom board causing them to flicker. Probably some of the other pins are also causing problems.

Why is the cordio stack controlling pins in the first place? Is there a way to disable it in the cordio stack?

[2019-03-28 11:16] VeijoPesonen commented on #10119
#10213  look good to me.

[2019-03-28 11:16] #10119 closed

[2019-03-28 11:22] OPpuolitaival opened #10249 "Tools: Mbed OS scripts are not fully python 3 compatible"
### Description

Python 3 should be fully supported for a while already. Still there are a lot of python 3 incompatible code in mbed-os repository
[code]
Gives 127 files needing changes. All of those are not relevant but there are even incompatible prints.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-03-28 11:36] OPpuolitaival opened #10250 "Tools: Multiple exports are failing for blinky"
### Description

Multiple exports are failing for blinky example.

This is how to get known which tools are supported
```mbed export -S```

Used command example:
```mbed export -m KL26Z -i uvision6```

Source link in internal jenkins: https://mbed-os.mbedcloudtesting.com/job/exporter-all-python-nightly/

These are failing

| Target | exporter |
| ------------- | ------------- |
| SAMG55J19 | uvisi

[2019-03-28 12:25] teetak01 opened #10251 "[Warning] psa_client.h@25,0: "PSA_SUCCESS" redefined"
### Description

Mbed OS 5.12.0 produces a lot of compiler warnings from PSA_SUCCESS.

target: LPC55S69_NS
toolchain: GCC_ARM, probably all.

14:16:29 Compile [ 73.8%]: EthernetInterface.cpp
14:16:29 [Warning] psa_client.h@25,0: "PSA_SUCCESS" redefined
14:16:29 Compile [ 74.0%]: NetStackMemoryManager.cpp
14:16:29 [Warning] psa_client.h@25,0: "PSA_SUCCESS" redefined
14:16:29 Compile [ 74.1%]: DTLSS

[2019-03-28 12:42] DBS06 opened #10252 "Unittests Disable pthreads"
### Description

### Issue request type

Hi,

I want to compile my unittests without pthreads (gtest_disable_pthreads=ON), but I dont find the file where I need to add this flag and with the CLI its not possible to attach flags.
So my question is, how do I force unittests to build with the "gtest_disable_pthreads=ON" flag?

kR Philipp

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2019-03-28 12:57] ciarmcom commented on #10251
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1076*

[2019-03-28 12:58] ciarmcom commented on #10250
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1077*

[2019-03-28 12:58] ciarmcom commented on #10249
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1078*

[2019-03-28 14:04] mmahadevan108 commented on #10239
Can you send me the code for the test application running on MXRT when pinging.

[2019-03-28 14:25] TacoGrandeTX commented on #10247
We have received another report from the field that this also impacts nRF51 projects.

[2019-03-28 14:39] screamerbg opened #10253 "RZ_A1XX (RZ_A1H & GR_LYCHEE) incorrectly marked as ARM Compiler 6 only"
### Description
The following commit sets RZ_A1XX-based targets as ARM Compiler 6 only in mbed OS 5.12.0 - https://github.com/ARMmbed/mbed-os/commit/2b75dfda0f0c0055e9769e916638033b2fe0377a

I changed `mbed-os/targets/targets.json` target entry for `supported_toolchains` to "ARM" to enable ARM Compiler 5, and using GR_LYCHEE I've performed a successful end-to-end connect and firmware update testin

[2019-03-28 14:47] theotherjimmy commented on #10249
@OPpuolitaival `git status | wc -l` does not equal the files changed. `git status --porcelain | wc -l` does, and gives me 118 files changed. not quite as bad.

[2019-03-28 14:48] theotherjimmy commented on #10249
it also deletes:
[code]
which is needed for python 2 compatibility.

[2019-03-28 14:48] vidavidorra commented on #9865
Actually, you don't! That MCU has 128 kB of RAM and 64 kB of CCM, see the product page! Those are separate thinks. Maybe that explains your memory issues if you use more than that. Full disclaimer, I haven'r read your code so I don't know if you're already below that limit just thought to inform you on the usage.

See #8220 for using the CCM section.

Hope this helps

[2019-03-28 14:54] theotherjimmy commented on #10249
FYI, the `tools/compliance` and `tools/dev` directories are dead code to my knowledge. Confirmed with grep.

[2019-03-28 14:55] theotherjimmy commented on #10249
`build_release.py` needed 2to3.

[2019-03-28 14:55] dannybenor commented on #10060
@VairaRamasamy Can you please explain the use case where you want to change the pin settings for a certain board? I think certain board always use the same pins for QSPI. Are the pins configurable in the hardware?

[2019-03-28 15:02] theotherjimmy commented on #10249
@OPpuolitaival What I'm trying to get at is that your metric does not serve it's purpose: it does not gauge our python3 readyness.

[2019-03-28 15:05] loverdeg-ep commented on #9479
Thanks. As mentioned we  have what could be considered a permanent workaround. Want to make sure the topic is properly considered.

Final opinion I'd like to get before closure -> @janjongboom

[2019-03-28 15:11] cyborg71 commented on #10239
[main.zip](https://github.com/ARMmbed/mbed-os/files/3018651/main.zip)

[2019-03-28 15:15] mmahadevan108 commented on #10239
Thank you, did you accidentally close the issue?

[2019-03-28 15:17] VairaRamasamy commented on #10060
@dannybenor You're right that the pins are fixed for a certain board. But Cypress' PSoC 6 for example supports two sets of QSPI pins. We can choose either set by configuring it in the hardware registers. e.g. Value of 0 will choose P11_6, P11_5, P11_4, and P11_3 and value of 1 will choose P12_0, P12_1, P12_2, P12_3.

I can think of overriding the pin settings through mbed_app.json in the case wher

[2019-03-28 15:19] cmonr commented on #10249
Commenting here since this is public.

Taking a look at what `2to3` does, as has already been said by @theotherjimmy and @bridadan offline, the tool appears to be applying fixes to Python code that is not Py2 compatible.

That being said, looking at the files that were modified would be good to see, since that could point to either unmaintained tools, or legitimate issues.

On the topic of dead/un

[2019-03-28 15:20] cyborg71 commented on #10239
Sorry. My mistake. Reopened the issue again.

[2019-03-28 15:22] theotherjimmy commented on #10247
I think the NRF51 stuff is fixed by https://github.com/ARMmbed/mbed-os/pull/10065

[2019-03-28 15:23] theotherjimmy commented on #10249
@cmonr  see https://github.com/ARMmbed/mbed-os/pull/10254

[2019-03-28 15:30] studavekar opened #10255 "improve vscode export config setting"
### Description
When we export a project for vscode, `launch.json`  on windows gets populated  absolute path of tools

`"MIDebuggerPath": "C:\\Program Files (x86)\\GNU Tools ARM Embedded\\4.9 2015q3\\bin\\arm-none-eabi-gdb.exe",`

Default template point uses  absolute path  there as per the discussion on https://github.com/ARMmbed/mbed-os/pull/10200 can vscode template be improved ?

### Issue req

[2019-03-28 15:34] dannybenor commented on #10060
Can you have a look at https://github.com/ARMmbed/mbed-os/blob/master/features/storage/system_storage/SystemStorage.cpp#L111
You can put in your mbed_app.json
"qspif.QSPI_IO0": "P12_0"
under "target_overrides" for your target

[2019-03-28 16:13] bsturgess commented on #10247
Any further updates/fixes on this for NRF52832?    Starting to get desperate here!

[2019-03-28 16:19] janjongboom opened #10256 "Allow running mbed_highprio_event_queue() in main thread"
### Description

I can disable the normal event queue thread by setting `MBED_CONF_EVENTS_SHARED_DISPATCH_FROM_APPLICATION=1`, but the high prio queue is always running from a separate thread. But what if my application does not require this, or is very low on memory? I want to be able to disable it. I think a good way would be to introduce `MBED_CONF_EVENTS_ENABLE_HIGHPRIO_QUEUE` and if set to `0

[2019-03-28 16:31] ciarmcom commented on #10255
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1079*

[2019-03-28 16:31] ciarmcom commented on #10253
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1080*

[2019-03-28 16:31] ciarmcom commented on #10252
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1081*

[2019-03-28 16:32] kjbracey-arm commented on #10256
If it needs to be high priority, and you're using the normal event queue for things with standard timing characteristics, then combining them won't work. The high-priority user won't be getting the latency requirement they apparently need - they'll be stuck behind all the people taking tens of milliseconds per event.

If it does work, then it would seem that particular user doesn't need to be high

[2019-03-28 16:51] screamerbg opened #10259 "Cannot override "supported_toolchains" for ARM/ARMC5/ARMC6 in mbed_app.json"
### Description

In Mbed OS 5.12.0, target override in mbed_app.json for "supported_toolchains" doesn't work correctly for ARM/ARMC5/ARMC6.

For example `GR_LYCHEE` is marked as ARMC6 only target. Attempting to override this in `mbed_app.json` makes no difference and the build tools still report that ARMC6 is not found (in ARMC5 only environment).

As discussed with @bridadan

To reproduce:
1. `mb

[2019-03-28 16:52] cmonr commented on #10251
@ARMmbed/mbed-os-psa

[2019-03-28 16:52] cmonr commented on #10252
@ARMmbed/mbed-os-test-team ?

[2019-03-28 16:53] cmonr commented on #10253
@SenRamakri ?

[2019-03-28 17:06] cmonr commented on #10247
@bsturgess Would you mind elaborating on what specifically you're getting desperate about, or what "this" is in reference to?

[2019-03-28 17:10] masoudr commented on #9865
@vidavidorra Actually I solved the problem somehow but I was wondering why I get 128KB of memory instead of 192KB I tough that maybe `mbed-os` is occupying 64KB of memory, and of course, [this model](https://www.st.com/en/evaluation-tools/stm32f4discovery.html) has exact 192KB of SRAM.

[2019-03-28 17:14] #9865 closed

[2019-03-28 17:17] sg- commented on #10176
Looks like not everything was removed in https://github.com/ARMmbed/mbed-os/commit/88c33a09c0bc438c6bbf9e47766d007ee4309ed0

![image](https://user-images.githubusercontent.com/496002/55178443-629b6f80-5153-11e9-9b22-0c695fe3ae3a.png)

[2019-03-28 17:24] bsturgess commented on #10247
@cmonr not being able to build any projects, stopping all production here.

[2019-03-28 17:25] cmonr commented on #10176
@sg- Thanks for the find!

PR opened: https://github.com/ARMmbed/mbed-os/pull/10260

[2019-03-28 17:32] cmonr commented on #10247
@bsturgess Please open a new issue, since it sounds like this is an unrelated issue.

[2019-03-28 17:37] bsturgess commented on #10247
No this is the same issue, opened by Ralph, of whom I spoke with on email to make him aware last night.

Really not sure where the confusion is coming from? The online compiler was broken for NRF targets when the 'tools upgrade' for 5.12 was deployed yesterday morning, since then, anyone with NRF52 or 51 targets cannot run binaries due to missing softdevice.

Also, here are 3 related posts from pe

[2019-03-28 17:39] janjongboom commented on #9479
Given that we seem to shove everything into mbed-os these days I'd think that the Semtech radio drivers also belong in Mbed OS core. @bulislaw what do you think?

[2019-03-28 17:43] vidavidorra commented on #9865
No, that is what I tried to explain in the previous comment. From that 192 kB, you get 128 kB of actual RAM and the other 64 kB is CCM. Mbed OS, by default, is only able to use the 128 kB RAM 'normally'. See the link in my previous comment on how the CCM can be used. It can **not** be added as normal RAM.

<br>

In some way, note below how they specify this.

[2019-03-28 17:49] orenc17 commented on #10251
Please supply one of .d files so we could find the root cause of the issue

[2019-03-28 18:09] cmonr commented on #10247
@bsturgess Ah, I see.

The missing link was that neither you or @TacoGrandeTX mentioned that there had been some communication about this problem, outside of this issue. The context was missing from my end.

[2019-03-28 18:26] bsturgess commented on #10247
@cmonr No worries, can you confirm the issue is being investigated as a priority?

[2019-03-28 18:30] maclobdell opened #10261 "LPC55S69 RTC test fail with GCC compiler"
### Description

RTC test failure with GCC compiler.  It passes with ARMC6 compiler.

  the RTC Glitch test case is failing.

Board: LPCXpresso55S69

Mbed OS Version: 5.12.0

Compiler Version: GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release)

Test Command: mbed test -m LPC55S69_NS -t GCC_ARM

Test: tests-mbed_hal-rtc x
Result: FAIL

Platform: LPC55S69_NS - Toolchain