[2015-08-20 15:21] bridadan opened #1 "mbedtls-examples link in README"
https://github.com/ARMmbed/mbed-os/blame/master/README.md#L179

The README currently points to the [mbedtls-examples](https://github.com/ARMmbed/mbedtls-examples) repo, but that contains the following warning on all doc pages:

[code]

Should this link be redirected to the [mbedtls](https://github.com/ARMmbed/mbedtls) repo, or just completely removed?

[2015-09-17 10:30] rosterloh opened #4 "Missing repositories"
Do all the repositories listed in the readme exist? I was wanting to work on support for ble platforms and don't want to create new repositories if the exist but are just private.

[2015-09-17 12:58] hugovincent commented on #4
Hi @rosterloh -- there are some that we still have marked as "private" while waiting on some legal approvals from mbed Partners. I hope to get the code in question release in the next week. Sorry for this inconvenience.

[2015-09-17 13:00] rosterloh commented on #4
No problem. I'll just hold off then. Don't want to duplicate what has already been done.

[2015-09-17 13:00] #4 closed

[2015-09-23 14:21] hugovincent commented on #1
Can you confirm that this was fixed by e7102820134d925c31ec054c70ba6f05dc347097? Thanks

[2015-09-23 14:21] #1 closed

[2015-10-08 14:50] shawn42 commented on #4
@hugovincent are the private repos still coming? I would love to see them!

[2016-01-13 22:55] beriberikix opened #13 "Support cores other than cortex-m"
Does mbed-os support cores other than m? A7 is very popular and getting cheaper and cheaper. It would be great to use the same platform to build on these higher-power cores.

[2016-01-13 23:10] ciarmcom commented on #13
ARM Internal Ref: IOTSFW-1791

[2016-01-13 23:26] jrobeson commented on #13
this question is better suited to http://forums.mbed.com/

[2016-01-21 13:02] hugovincent commented on #13
Hi @beriberikix, currently we're focussed on Cortex-M (only). Are you interested in a particular Cortex-A7 part, or more just a general enquiry? Feel free to get in touch at firstname dot lastname @ arm.com.

[2016-01-21 17:03] beriberikix commented on #13
Hi Hugo! Yup, we have several projects that are exploring the [Allwinner A33](http://www.allwinnertech.com/plus/view.php?aid=407.) Also, I've recently come across the [GR-PEACH](https://developer.mbed.org/platforms/Renesas-GR-PEACH/,) which seems to be on the 2.0 platform (and an A9,) which led me to make a general inquiry.

[2016-10-31 11:15] hasnainvirk opened #20 "mbed-os-docs is outdated"
These docs should reflect mbed-OS 5. Currently it is pointing to legace yotta based mbed-OS 3.

[2018-05-04 18:27] AGlass0fMilk opened #6824 "nRF5x UART Hang"
### Description
Hi, I'm recently synced my fork of mbed-os and pulled in the updated nRF5x serial API changes. I also noticed the base class in target.json introduced the following concerning UART HWFC:

https://github.com/ARMmbed/mbed-os/blob/6361e92d62efcc113723d43277705dbdf4594716/targets/targets.json#L15-L19

I had to change my custom target to remove the hardware flow control override (I deal

[2018-05-04 18:57] marcuschangarm commented on #6824
Hey, can you post your custom_target.json, please?
And is this with a simple Hello World test with printf and nothing else?

[2018-05-04 19:34] AGlass0fMilk commented on #6824
The only relevant details from my custom target are:
`"inherits": ["NRF52_DK"],
	"macros_remove": ["BOARD_PCA10040"],
	"macros_add": ["ENABLE_SWO", "I2C_TIMEOUT_VALUE_US=1000", "BOARD_CUSTOM"],`

The other characteristics are for internal configuration.

The program I am running looks like this:

[code]

[2018-05-04 20:29] AGlass0fMilk commented on #6824
I'm testing the same code on a fresh mbed-os program for the actual NRF52_DK board and I'm getting similar results... no serial output.

[2018-05-04 20:39] AGlass0fMilk commented on #6824
Update: I added the following to my mbed_app.json and it fixed the hang:
`"target.uart_hwfc": 0`

mbed-cli was complaining before that I was trying to override a config parameter that didn't exist (since this was removed from the official mbed targets.json file) but it seems that the code still uses it somewhere? Instead of overriding it, I just added it to the configuration.

[2018-05-04 21:09] AGlass0fMilk commented on #6824
For some reason that doesn't work for my custom_target... the stdio_uart still has HWFC enabled... is there a way to disable hardware flow control???

[2018-05-04 21:11] marcuschangarm commented on #6824
Ah, I see. You probably want to inherit from `MCU_NRF52832` directly and not from `NRF52_DK`. Flow control is disabled by default but the `NRF52_DK` enables flow control for itself.

[2018-05-04 21:13] marcuschangarm commented on #6824
Depending on your chip revision you should add (some of) these macros as well:

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5x/mbed_lib.json#L87-L107

[2018-05-04 21:47] AGlass0fMilk commented on #6824
Thank you for the fix @marcuschangarm... I changed over to inheriting from MCU_NRF52832 and added the errata fix macros.

[2018-05-04 21:47] #6824 closed, assigned to nobody

[2018-05-06 08:53] YarivCol opened #6827 "I2C slave bug - strech functionality"
### Description
Type: Bug
- Related issue: `#abc`
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
stm32f4

**Toolchain:**
IAR

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**mbed-os sha:**
(`git log -n1 --oneline`)

I am using my stm32f4 microcontroller as an i2c slave for the first time.
At the begining, I used the example

[2018-05-07 07:58] 0xc0170 commented on #6827
@ARMmbed/team-st-mcd Please review
*[Mirrored to Jira]*

[2018-05-07 12:06] bcostm commented on #6827
What do you mean by "register" ? An API to access any MCU register ? or in your case an API to control the I2C stretch functionality ? If this is the last case, then there is no possibility in the mbed API to control it.

As there is no possibility in the mbed API to control it, we had to make a choice. But it is very simple to change it and disable the strech per default. But I don't know which i

[2018-05-08 09:39] imi415 opened #6835 "Compilation error on NRF51822"
### Description

* Version: Mbed OS 5.8.3(release)
* Target: NRF51_DK_(BOOT|OTA)(both tried)
* Toolchain: GCC_ARM, 7(2017-q4), ARM / GCC_ARM, 8, GNU(both have exactly same error output)
* Tool: mbed-cli
---
Steps to reproduce
[code]

Added a semicolon after that line did solved that issue, however it gave another error:
[code]
Added `-march=armv6s-m` to compiler options (by using custom `--profile

[2018-05-08 09:44] 0xc0170 commented on #6835
@marcuschangarm Please review

[2018-05-08 11:13] simonnilsson opened #6840 "STM32L0 EventQueue LPTIMER"
### Description

**Target**
Custom **stm32l071** target based on the existing stm32l072 target

**Tools**
Keil uVision

**Mbed OS Version**
ARMmbed/mbed-os@c8d72c5

I have a problem where the the EventQueue stops firing timed events after approximately 71 minutes.

I suspect this has something to do with a 32-bit integer somewhere used to store the microsecond time which would mean it would reach

[2018-05-08 16:27] nalmakhd opened #6843 "K64F Ethernet TCP through a sys_mutex_lock error"
### Description

- **Target**: K64F
- **Toolchain**: GCC (arm-none-eabi-gcc/g++)
- **Tools**: Using make.(Custom built make file for mbed-os)
- **mbed-os version**: mbed-os 5.6.5

When running TCP on **Ethernet**, **K64F** will through one of the following error after sending or receiving a large number of packets:
- sys_mutex_lock error
- sys_arch_protect error

I had this tested on a large appli

[2018-05-08 16:55] marcuschangarm commented on #6835
@scartmell-arm @bulislaw

Looks like something isn't right here: https://github.com/ARMmbed/mbed-os/blame/master/features/FEATURE_BLE/targets/TARGET_NORDIC/TARGET_MCU_NRF51822/hal_patch/critical_section_api.c#L75

[2018-05-09 08:59] bulislaw commented on #6835
@scartmell-arm please have a look at this

[2018-05-09 10:52] kivaisan opened #6850 "Assert traces are not shown when assert expression and/or filename is long"
### Description

**Target:** K64F (actually the used target does not matter)
**Toolchain:** GCC_ARM
**mbed-os version:** master (11901f115b0b81f875987cb9598dfbf0d57183c7)

If the expression and/or filename of MBED_ASSERT is too long, the assert trace print does not show up or it partially shown.

This is because the maximum length for print
 `mbed_error_printf("mbed assertation failed: %s, file: %

[2018-05-09 13:39] daniel-cesarini-tridonic-com opened #6853 "Nanostack: error handling for-ever loop?"
https://github.com/ARMmbed/mbed-os/blob/68ad00ffb83b001ec371818556f5751d0052b051/features/nanostack/mbed-mesh-api/source/mesh_system.c#L58

while (1); --> SERIOUSLY? Is this error handling?

@karsev

[2018-05-09 13:48] 0xc0170 commented on #6853
Note that we are currently working on defining error handling.

cc @SeppoTakalo please review

[2018-05-09 13:50] 0xc0170 commented on #6850
@kivaisan The error size is predefined and can't be changed? Would you propose to make it configurable? I assume the default value 128 is fine for most cases.

cc @SenRamakri
*[Mirrored to Jira]*

[2018-05-09 13:51] 0xc0170 commented on #6843
@kjbracey-arm @mikaleppanen Please review

[2018-05-09 13:54] 0xc0170 commented on #6840
@simonnilsson The issue is where? Is it hal implementation or generic layer (ticker) ? From lorawan reference, this was reproduced on the another hw, seems like ticker issue

@kivaisan Can you confirm that this also affects another platforms?

[2018-05-09 14:01] daid opened #6854 "Question: Why is the SysTick timer not used in STM32 support?"
### Description
Sorry to bother here. But I noticed that the STM32 support is using hardware timers for the main RTOS timer instead of the SysTick timer. This results in certain PWM pins not being available for use.
I was wondering if there is a specific reason for not using the SysTick timer?

(Our electronics designer wasn't aware of this restriction, and now I'm stuck with a board which has a r

[2018-05-09 14:15] 0xc0170 commented on #6854
hardware timer for RTOS instead of Systick? Can you provide file reference?

I am aware that nordic does, as it does not have systick. STM32 implementation does not implement os tick RTOS API thus should use the default one (systick)

[2018-05-09 14:17] daid commented on #6854
Maybe I mis-understand something, but this code is clearly using a hardware timer:

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/us_ticker_32b.c#L33
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F3/TARGET_STM32F303x8/device/hal_tick.h#L46

[2018-05-09 14:26] 0xc0170 commented on #6854
That is us ticker (high frequency ticker) for Timer/Ticker objects.  RTOS uses Systick. How are you getting the conflicts - what code are you using - what objects? Is it `wait()` or you using Timer/Ticker/etc ? They could cause a conflict but then it looks a limitation of the implementation?

Details about OS tick here https://www.keil.com/pack/doc/CMSIS/RTOS2/html/group__CMSIS__RTOS__TickAPI.html

[2018-05-09 14:39] daid commented on #6854
I'm trying to use a PWM Pin which is connected to TIM2 on the STM32F303, and we also have a few Ticker objects. So maybe it's not a conflict with the RTOS but with the Ticker/Timer implementation.

Guess that's why it's not using SysTick, to prevent a conflict with the RTOS?

[2018-05-09 14:54] 0xc0170 commented on #6854
correct

@ARMmbed/team-st-mcd Any recommendations how to use both (us ticker and pwmout) ?

[2018-05-09 15:08] LMESTM commented on #6854
@daid As there are usually several HW timers available this was a design choice made long ago to use 1 dedicated HW timer for handling the timeouts in the STM32 HAL SDK layer independantly from the mbed OS ticker.

Now fr your specific board, you may decide to use another HW timer than TIMER2 by modifying the lines.
[code]
Isn't that something that could solve your case ?

[2018-05-09 15:29] simonnilsson commented on #6840
@0xc0170 I'm not sure if the problem is in the target, generic layer or even me doing something wrong.

I believe @kivaisan was not able to reproduce it on the platform he tried it on. It would be nice to try it on another stm32 target to see if it's specific for stm32 but I don't have one at hand unfortunatly.

[2018-05-09 16:19] theotherjimmy commented on #6835
@bulislaw @scartmell-arm I ran into this, so I created the minimal PR that got it compiling again. https://github.com/ARMmbed/mbed-os/pull/6856

[2018-05-09 16:33] #6835 closed, assigned to theotherjimmy

[2018-05-09 16:47] theotherjimmy commented on #6835
ahahahah I'll close my PR

[2018-05-09 20:10] daid commented on #6854
I think it might, can this also work with a 16bit timer? TIMER2 seems to be the only 32bit timer on the STM32F303. There are enough free 16bit timers however, would there be a disadvantage of using a 16bit timer?

[2018-05-10 02:32] s4y opened #6858 "setPairingRequestAuthorisation() doesn't prevent pairing on nRF5x"
### Description

Target: MCU_NRF52832
Toolchain: mbed 5.8

I implemented a minimal `SecurityManager::EventHandler` that looks like this:

[code]

…and applied it like this:

[code]

…but all pairing requests are accepted. I poked at the code, and it looks like `GenericSecurityManager::on_pairing_request()` is only called on `TARGET_CORDIO`.

Does that sound correct? If so, it would be great if thi

[2018-05-10 08:30] andrewleech opened #6861 "mbed test failing to build for nrf51_dk since #6577"
### Description

In the last day or so `mbed test -m NRF51_DK -t GCC_ARM --verbose --clean ` has failed to build.
None of the actual C files can compile:
[code]
This is on a new, empty project with just mbed-os checked out.
I narrowed the problem down to 5038135c7d1302c2b62a8695c41de90a7e19617d (when #6577 was merged) .
`mbed compile ...` still works fine.
`mbed test -m lpc1768  -t GCC_ARM --verbo

[2018-05-10 16:29] MarceloSalazar opened #6868 "RTC tests should start from year 2000+"
### Description

While running RTC tests on a new platform that is coming, we realized that certain RTC tests are causing problems because are expecting the MCU to handle old years correctly, for example, 1970.

See:
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbed_hal/rtc_time_conv/main.cpp
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbed_hal/rtc_time/main.cpp#L58

These dates a

[2018-05-10 16:43] MarceloSalazar commented on #6868
Internal reference: IOTMORF-2349

[2018-05-11 00:41] andrewleech commented on #6861
Ok, on another test today, C files all compile just fine (arm-none-eabi-gcc), and the mbed os library c++ ones are fine (arm-none-eabi-g++),  it's only c++ files in the TEST directories that fail with the above error (mostly main.cpp's).

[2018-05-11 02:08] andrewleech commented on #6861
**The failures appear to be due to command path length.**

To break it down further I picked two of the compile command from the library and the test sections of the compilation process and re-ran them manually with --verbose
library:
[code]
test:
[code]

The outputs of these list the internal compiler command being used:
library:
[code]
**Command is 27367 characters long**

test:
[code]
**Command

[2018-05-11 05:25] daniel-cesarini-tridonic-com opened #6872 "Mutex lock has possibility to fail at runtime (returning status flag)"
### Description

SHA for mbed-os: 30e39eeb10b2e0961068748651f001fe008b374a (currently latest master)

The Mutex method lock has possibility to fail at runtime. This is not acceptable as it might lead to unpredictable behavior and inconsistent system status if the application layer is not taking care about handling Mutex.lock() return values.

Refers to code:
https://github.com/ARMmbed/mbed-os/blob

[2018-05-11 05:29] daniel-cesarini-tridonic-com commented on #6872
FYI: @andreas-myka-tridonic-com, @markus-becker-tridonic-com
*[Mirrored to Jira]*

[2018-05-11 05:36] daniel-cesarini-tridonic-com opened #6873 "What is the ```uint32_t _count;``` variable used for in Mutex Class?"
### Description

What is the ```uint32_t                  _count;``` variable used for?
https://github.com/ARMmbed/mbed-os/blob/30e39eeb10b2e0961068748651f001fe008b374a/rtos/Mutex.h#L156

It is being increased:
https://github.com/ARMmbed/mbed-os/blob/30e39eeb10b2e0961068748651f001fe008b374a/rtos/Mutex.cpp#L56
and decreased:
https://github.com/ARMmbed/mbed-os/blob/30e39eeb10b2e0961068748651f001fe00

[2018-05-11 05:36] daniel-cesarini-tridonic-com commented on #6873
FYI: @andreas-myka-tridonic-com, @markus-becker-tridonic-com

[2018-05-11 06:54] LMESTM commented on #6854
Should work fine as well - you'll have to also add
[code]
and also check
[code]
Please give it a try and let us know.
 If any issue please try to reproduce on a NUCLEO board and we would investigate.

[2018-05-11 06:57] kivaisan commented on #6840
Yes, I tried with K64F and it worked ok but I haven't tested with any STM32L0 device yet.

[2018-05-11 07:43] SeppoTakalo commented on #6861
This is similar to https://github.com/ARMmbed/mbed-os/issues/6335

Sadly, a problem we cannot fix. It is a Windows...

@0xc0170 @adbridge It is a time that we should start investigating workarounds for this.

[2018-05-11 07:47] andrewleech commented on #6861
There are a lot of absolute paths used, mostly all the include paths listed in the autogenerated include file (eg. `BUILD\tests\NRF51_DK\GCC_ARM.includes_4d581b320aa0fc19b2c1af7426f743ac.txt`)

The include paths here could all be made relative to the project dir instead which would solve the problem for most if not all projects currently... until a lot more include dirs are added.

[2018-05-11 07:52] kivaisan commented on #6850
@0xc0170 I don't think having such a predefined buffer size in this is case good idea because like mentioned, the problem with this one is `__FILE__` macro. For example in my greentea builds, the build system seems to put a full file path to it and we can't know in what kind of paths developers keep their work areas.

Here is an example test assert (I increased the buffer to 256 bytes in order to

[2018-05-11 08:04] kjbracey commented on #6873
It's for debugging purposes only. Was introduced in #3648.

Only "use" is this in CondtionVariable.cpp:

    MBED_ASSERT(_mutex._count == 1);

[2018-05-11 08:17] kjbracey commented on #6850
Normally prints shouldn't be that long, but asserts are an exception.

I think the easiest quick workaround is to modify the assert to not use a single mbed_error_vfprintf. There's no reason it can't use 4 successive ones.

Then it only fails with long filenames, and not as badly, because the trailing "line 46\n" will still come out.
*[Mirrored to Jira]*

[2018-05-11 08:17] kjbracey commented on #6850
Plus you can save 2 characters by not using the "word" `assertation`.
*[Mirrored to Jira]*

[2018-05-11 08:50] daniel-cesarini-tridonic-com commented on #6873
Should it then be "stripped" out in RELEASE build?

[2018-05-11 08:58] kjbracey commented on #6873
This was discussed in the review (with me on the "let's not have it there" side):

https://github.com/ARMmbed/mbed-os/pull/3648#discussion_r148197584

I did compensate for it going in by taking out another 16 bytes.

https://github.com/ARMmbed/mbed-os/pull/5428

There is a problem with adding/removing it for debug/release, and that's binary compatibility. The Mutex changes did cause issues with so

[2018-05-11 09:21] bulislaw commented on #6868
Which boards can't handle UNIX timestamps? I actually don't get how it works or doesn't work... if you write 0 they treat it as year 2000? That sounds like it can cause problems... I mean they should just increment whatever is in the register and it's up to the system to do the conversion.

[2018-05-11 09:27] SeppoTakalo commented on #6853
Yes, it should be `while(1);`

This is unrecoverable error and therefore the device should be stopped. Heap is corrupted if this call happens.
`MBED_ASSERT();` cannot be used here, because it is compiled out in release builds.

Until better options appear, this is the correct solution.

[2018-05-11 09:30] markus-becker-tridonic-com opened #6877 "Expose DMAUsage in I2C API"
DMAUsage is not accessible in the current I2C API.

https://github.com/ARMmbed/mbed-os/blob/30e39eeb10b2e0961068748651f001fe008b374a/drivers/I2C.h#L190
https://github.com/ARMmbed/mbed-os/blob/master/drivers/I2C.cpp#L31

Neither a constructor nor a modifying function is available. Should this be exposed or are API users required to derive from I2C class (e.g. a DMAI2C class)?

@daniel-cesarini-trid

[2018-05-11 10:00] kjbracey commented on #6853
There is `mbed_die()`, which we should probably use in the mbed OS port.

The `while (1)` came from a portable base implementation.

`mbed_die()` is much better cos it blinks the LED, meaning you retain the core blinky functionality despite losing the network stack.

[2018-05-11 10:20] daniel-cesarini-tridonic-com commented on #6853
FYI: @markus-becker-tridonic-com

[2018-05-11 10:48] kjbracey commented on #6853
Mind you, the "while (1)" only effectively kills Nanostack-related components, by jamming its event loop thread. It doesn't kill the entire system, which is effectively what was originally intended by the `while (1)` for bare-metal.

So one positive suggestion for improvement. Change the code to be

     nanostack_failure();

    NS_NORETURN MBED_WEAK void nanostack_failure()
    {
         mbed_d

[2018-05-11 11:47] daid commented on #6854
Will do. Got a bunch of Nucleos to test on in case of problems.

Would it be an idea to patch the STM32 targets to use a different timer with has no PWM conflict for the default supported mbed targets? For example, the F303 has a few timers (TIM6/TIM7) that are only useful as timer or to trigger the DAC (which isn't used in that way by the mbed API)

[2018-05-11 12:08] LMESTM commented on #6854
Sounds like a good idea. This could be added to the to-do list as an enhancement request.
cc @bcostm

[2018-05-11 12:21] MarceloSalazar commented on #6872
Internal reference: IOTMORF-2350
*[Mirrored to Jira]*

[2018-05-11 12:22] kivaisan commented on #6840
Just tested DISCO_L072CZ_LRWAN1 (STM32L072 mcu) and this problem seem to reproduce with that.

[2018-05-11 12:27] kjbracey commented on #6872
@SeppoTakalo
*[Mirrored to Jira]*

[2018-05-11 13:43] adbridge commented on #6861
@theotherjimmy Could we look at @andrewleech suggestions ?

[2018-05-11 16:58] theotherjimmy commented on #6861
@adbridge Yeah! Just a sec.

[2018-05-11 19:54] michaelVisimid opened #6888 "stm_spi_api.c gets stuck in infinite loop when hardware SS pin is used"
### Description

This is for all ST targets and tool chains. To reproduce initialize a SPI peripheral with a valid ssel pin then call the write function. The program will hang in an infinite loop in the write function call. For instance:

[code]

The issue is fixed by adding the following below stm_spi_api.c line 165
[code]
The hardware NSS line is meant more for a multi-master configuration than

[2018-05-11 20:05] simonnilsson commented on #6840
Okay so I also got my hand on a **DISCO_L072CZ_LRWAN1** now. Ran the same test using the latest mbed-os as of today (https://github.com/ARMmbed/mbed-os/commit/30e39eeb10b2e0961068748651f001fe008b374a). And I'm getting the same problem on this board so we must be doing something differently.

This is my `.mbedignore`:
[code]

And theese are the relevant entries in my `mbed_config.h`:
[code]

[2018-05-14 06:02] kivaisan commented on #6840
@simonnilsson I was able to reproduce the problem with DISCO board with non-rtos and lowpower timers enabled (sorry for confision with my original comment which I deleted as I noticed I first forgot to enable lowpower timers).

[2018-05-14 06:19] simonnilsson commented on #6840
@kivaisan Okay no problem, now I know it's not me doing something stupid at least.

[2018-05-14 08:13] 0xc0170 commented on #6840
@ARMmbed/team-st-mcd Is this known and already being reported?

[2018-05-14 08:52] MarceloSalazar commented on #6868
Details in internal ticket.

[2018-05-14 09:02] jeromecoutant commented on #6840
Hi
This has to be checked in the ticker branch

[2018-05-14 09:02] LMESTM commented on #6840
I had observed similar behavior and what I debugged at the time showed that there was some issue around managing the queue of Low power tickers. It looked to me that the Max time tickers and next programmed ticker where inverted in the list so that the max time tickers was programmed instead of the next one ...
What we did next was to test on  ARMmbed:feature-hal-spec-ticker  and this looked like

[2018-05-14 09:09] 0xc0170 commented on #6840
@simonnilsson Can you please test that feature branch mentioned (https://github.com/ARMmbed/mbed-os/tree/feature-hal-spec-ticker)  and let us know the results ?

[2018-05-14 09:22] bcostm commented on #6854
I am not in favor to change the timer because we will break compatibility with existing applications. For example some PWM signals may disappear on pins which have them today...

But we can do a kind of us_timer selection using json file as we did for the STDIO pins.

In the hal_tick.h we can have something like:

[code]

We will have also to change the `PinMap_PWM` array defined in PeripheralPins

[2018-05-14 09:37] 0xc0170 commented on #6888
@ARMmbed/team-st-mcd Please review

[2018-05-14 09:46] pan- opened #6891 "NRF52_DK Serial RX doesn't work"
### Description

The NRF52_DK serial is not capable of receiving bytes:

[code]

The trace `Hello world` is printed correctly but the device does not capture any byte send to it whether the serial is polled or operating under interrupts.

The same application worked prior to https://github.com/ARMmbed/mbed-os/pull/6547/commits/3663494bd9145042ada3162a20abc237fc764434 .

### Issue request type

[ ]

[2018-05-14 09:47] simonnilsson commented on #6840
@0xc0170 Will do.

[2018-05-14 10:45] mattbrown015 opened #6893 "Remove FEATURE_COMMON_PAL from LoRaWAN stack"
### Description
Remove use of FEATURE_COMMON_PAL from the LoRaWAN stack.

As I understand it, FEATURE_COMMON_PAL is unnecessary since [Get rid of FEATURE_COMMON_PAL and FEATURE_NANOSTACK #6577](https://github.com/ARMmbed/mbed-os/pull/6577).  But, I removed '"target.features_add": ["COMMON_PAL"]' from my mbed_app.json and all the LoRaWAN trace disappeared.

Just a tidy up really.

### Issue request

[2018-05-14 10:57] mattbrown015 opened #6894 "Tidy mbed_trace.h Dependency on ns_types.h"
### Description
`features/frameworks/mbed-trace/mbed-trace/mbed_trace.h` includes `features/frameworks/nanostack-libservice/mbed-client-libservice/ns_types.h` and it's not clear to me why 'mbed_trace' should be dependent on nanostack.

When I tried to exclude nanostack from my build the build failed because of this dependency.

I don't understand the significance of `YOTTA_CFG` in mbed_trace.h but

[2018-05-14 11:24] simonnilsson commented on #6840
Yes it seems to work fine on that branch. Are there any plans on merging this into master soon?

[2018-05-14 11:35] bcostm commented on #6888
I made a test with a NUCLEO_F303ZE board.

If I write `SPI spi(SPI_MOSI, SPI_MISO, SPI_SCK, SPI_CS);` there is a pinmap error at execution. Which is normal because SPI_CS is equal to PD_14 and there is no SPI1_SSEL function on this pin. Is it what you call "stuck" ?

If I write `SPI spi(SPI_MOSI, SPI_MISO, SPI_SCK, PA_4);` the code is working fine. Because the SPI_SSEL function is well available o

[2018-05-14 13:13] daid commented on #6854
@bcostm Actually, we can move around the timer in some chips without disabling any PWM. So it would give more PWMs, while keeping all the current ones, no compatibility loss. Like I said, Timer6 has no PWM outputs attached to it at all on the F303.
And I have a custom board with the F303VB, so for my custom board I can get this to work.

[2018-05-14 13:21] michaelVisimid commented on #6888
I concur. I am willing to, but it will be a while before I could get to doing the PR. I'm a bit swamped this week.

[2018-05-14 13:32] drahnr opened #6895 "greentea test_env defines NL and RCNL"
[ ] Question
[ ] Enhancement
[ X] Bug

[code]
This can cause issues, since `NL` and `RCNL` are not uncommonly already defined in many projects.

[2018-05-14 14:34] TeroJaasko commented on #6861
As a final resort, "-iprefix" and "-iwithprefix" options might also be used, eg.
```-iprefix ./BUILD/tests/NRF51_DK/GCC_ARM/mbed-os/ -iwithprefix TARGET_CORTEX/rtx5/RTX/Source/TOOLCHAIN_GCC/TARGET_M0/```

[2018-05-14 14:59] marcuschangarm commented on #6891
You are creating a new serial object so by default flow control is disabled. You'll have to enable it explicitly:

`serial.set_flow_control(SerialBase::RTSCTS, RTS_PIN, CTS_PIN);`

Alternatively, you should consider using the new file handles for reading and writing to STDIN/STDOUT.

*[Mirrored to Jira]*

[2018-05-14 15:38] pan- commented on #6891
I'm not sure to understand your answer, are you proposing a short term workaround or are you stating that backward compatibility has been broken and it will stays that way. Could you clarify this point ?
*[Mirrored to Jira]*

[2018-05-14 16:04] marcuschangarm commented on #6891
I'm saying a couple of things: 😄

1. The code above shouldn't have worked. The NRF52_DK DAPLINK requires flow control to be enabled.
1. The code above only worked because of a hack that has now been removed.
1. This, along with _a lot_ of breaking changes are scheduled for 5.9.
1. You should consider using the new file handlers instead of RawSerial.

*[Mirrored to Jira]*

[2018-05-14 16:16] donatieng commented on #6891
Thanks for the clarification @marcuschangarm.

However it does not seem to work with DAPLink 0246 + flow control enabled with RawSerial (on the NRF52840-PDK at least).

@c1728p9 @theotherjimmy do you guys know why flow control needs to be enabled on DAPLink for these targets? It's not the case on JLink for instance which detects whether flow control is in use by sampling the state of the RTS pin a

[2018-05-14 16:59] marcuschangarm commented on #6891
I've rerun the code below on both the NRF52_DK and NRF52840_DK with DAPLINK 246 on both and it works here.

[code]

I wonder if we are on different chip revisions? I have:

[code]

[code]

*[Mirrored to Jira]*

[2018-05-14 18:14] bmcdonnell-ionx opened #6897 "#defines for git info"
### Description
This feature was requested several years ago [on the Mbed forum](https://os.mbed.com/forum/bugs-suggestions/topic/3161/).

It would be useful to be able to access project Git hash / commit metadata from source code, probably as `#define`s, e.g. to output to console.

Example: https://stackoverflow.com/a/12368262

The primary thing to have is the commit hash. "Dirty" bool and tags w

[2018-05-14 23:56] ghost opened #6898 "mbed-os/TESTS/netsocket/socket_sigio issue"
### inconsistent test failure
Failures when testing with socket_sigio running GreenTea netsocket test suit are being observed.  I have performed some preliminary investigatation and the problem is that the test routine 'get_data' is being called more than once and called after the socket has been closed.  From what I can see, the routine should be called once.
There are several EventQueues perform

[2018-05-15 00:28] dlfryar-zz commented on #6898
cc: @bridadan @studavekar

[2018-05-15 06:31] bcostm commented on #6888
OK no problem. I will do it.

[2018-05-15 08:14] helmi-haddad opened #6900 "how i can add pins PC14,PC15 in mbed os lib for target DISCO-L072CZ-LRWAN1"

[2018-05-15 09:02] bulislaw commented on #6891
We'll be rewriting the UART HAL very soon, if you have any hints or requests for HAL spec drop me an email.
*[Mirrored to Jira]*

[2018-05-15 09:10] jeromecoutant commented on #6900
Hi

PC14 and PC15 are connected to OSC32_IN and OUT

Can you explained more what is your request ?

Thx

[2018-05-15 09:12] 0xc0170 commented on #6900
Can you please use description to add information (already requested above) and use headline to introduce the issue you are creating? Please edit the issue.

[2018-05-15 09:13] helmi-haddad commented on #6900
i have a specific hardware where i want to use the PC14 et PC15 ( I use that terget because i use the same STM32 chip ) / also , i can use the OSC_pins if i don't use the LSE .

[2018-05-15 09:16] jeromecoutant commented on #6900
Add in PinNames.h file:
    PC_14 = 0x2E,
    PC_15 = 0x2F,
?

[2018-05-15 09:30] helmi-haddad commented on #6900
how i can do it with mbed-os lib ?

[2018-05-15 10:05] JanneKiiskila opened #6902 "UBLOX_C030_U201 bootloader/mbed-os target size is too large"
### Description

Mbed OS target size with UBLOX_C030_U201 is much larger than with K64F.
It needs to be optimized for size.

[code]
By default it uses Mbed OS 5.7.x but if you modify the `.mbedignore` file to include also these rows:
[code]
you can then compile against Mbed OS 5.8.x and master.

Look at the output for the binary size, C030 is quite large compared for example to K64F.
The bootloade

[2018-05-15 10:06] JanneKiiskila commented on #6902
@andreaslarssonublox  - is this something your team could look into together with ST @adustm ?

[2018-05-15 10:08] JanneKiiskila commented on #6902
Internal issue; https://jira.arm.com/browse/IOTPART-5227 @MarceloSalazar  @screamerbg

[2018-05-15 10:24] 0xc0170 commented on #6902
@ARMmbed/team-ublox @ARMmbed/team-st-mcd

[2018-05-15 10:34] kivaisan commented on #6893
Thanks. We'll check this.
Internal issue: IOTCELL-994

[2018-05-15 10:50] RobMeades commented on #6902
Strange: this is a very standard STM32F4 target.  @JanneKiiskila: have you been able to build a boot loader with other STM32F4 targets (e.g. Odin W2), or does this just happen to be the first one?

[2018-05-15 12:32] juhaylinen opened #6909 "REALTEK_RTL8195AM IPv6 build fails"
### Description

Build fails if IPv6 support is enabled and target is REALTEK_RTL8195AM
[code]

Target: REALTEK_RTL8195AM
Toolchain: GCC_ARM
mbed-cli 1.5.0
Mbed OS 5.8 and master (sha 80e109370)

Steps to reproduce:
For example, import mbed-os-example-wifi
[code]

Enable IPv6
[code]
Build
`mbed compile -t GCC_ARM -m REALTEK_RTL8195AM`

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-05-15 13:08] 0xc0170 commented on #6909
@ARMmbed/team-realtek please review

[2018-05-15 13:10] 0xc0170 commented on #6909
Seems like the incorrect include or ? @juhaylinen Is this something we can easily fix?

[2018-05-15 13:29] JanneKiiskila commented on #6902
Well, Nucleo F429ZI and Nucleo F411RE at least are much smaller. Here's F411RE as an example.

[code]

[2018-05-15 13:36] JanneKiiskila commented on #6902
There is at least these files extra for UBLOX_C030_U201 (when looking at the `BUILD` -folder):

[code]

[2018-05-15 13:38] RobMeades commented on #6902
This will be because we need to set up a voltage threshold on a charging chip on the C030 board over I2C or the board will not work reliably under some circumstances.  I've a terrible sense of deja vu over this issue, though, searching the issues list for a previous mention...

[2018-05-15 13:40] RobMeades commented on #6902
See #6011.  It fitted then...?

[2018-05-15 13:58] JanneKiiskila commented on #6902
Updating the Mbed OS hash does help indeed. Using the internal development repo;

[code]
(Interestingly, as a side-note - `mbed-cli` fails to print out the proper list of modules/sizes with Mbed OS 5.7.6. It does it properly with Mbed OS 5.7.4 though).

However, if I add a few more lines to the `.mbedignore`   file

[code]

I further shaves off a few hundreds of bytes.

[code]

So, down from 31.6

[2018-05-15 14:35] 0xc0170 commented on #6902
Thanks @RobMeades for the reference. This issue shall be resolved

[2018-05-15 14:41] daid commented on #6854
Just tried with TIM6 and TIM7, didn't work, those timers lack some of the features used. TIM20 works, but is not available on all F303 chips. This is quite a puzzle, I start to see why TIM2 was used.

[2018-05-15 14:49] JanneKiiskila commented on #6902
Thanks @RobMeades  - can you still confirm it's OK to have the onboard_modem_api.c/h and min_battery_voltage.c/h -files in .mbedignore?

[2018-05-15 14:53] 0xc0170 commented on #6895
Did you face an error while implementing tests? I would not expect for these macros to be included to the application via regular include paths. How to reproduce this?

Note: please leave headings (description, issue type) in the issue template.

[2018-05-15 14:59] drahnr commented on #6895
No, a library actually implemented those. What I am asking for is either checking if they already exist and/or using namespaced constants instead.

[2018-05-15 15:05] 0xc0170 commented on #6895
This should be easily to fix. Can you send PR with a fix?

[2018-05-15 15:20] RobMeades commented on #6902
Unfortunately no: if you have those in .mbedignore then the board might not work on some USB interfaces as the voltages often droop below the default threshold in that I2C-based chip.  It may be unreliable; not a desirable property for boot code.

[2018-05-15 16:49] drahnr opened #6916 "NRF52: compiling master without SoftDevice"
[X] Question
[ ] Enhancement
[ ] Bug

Version: https://github.com/nello-io/mbed-os/#80e109370ddd3156126da447ca19852c53fcb90d

### Unclear how to disable

I followed

https://github.com/ARMmbed/mbed-os/pull/5997/commits/9b98351b7ddc7659dfcc09bd3b78705a0000568e

Which resulted in this custom target:

[code]

but it complains about a missing `device.h` from `platform.h`

According to this the adjustm

[2018-05-15 18:58] tkstreet opened #6920 "Cannot compile with O0 optimization [nRF52-DK] [GCC-ARM]"
### Description

Target
NRF52

Toolchain: GCC-ARM (7 2017-q4-major)
Mbed SHA: 2104d8ab5 (HEAD) Merge pull request #6711 from marcuschangarm/cleanup-nrf5x
Issue: Will not compile with -O0 optimization.

After exporting my project from the mbed online compiler and changing the debug flags from -Os to -Og, I cannot compile mbed-os to produce the proper debugging output/symbols to debug.  If I compile

[2018-05-15 19:30] bridadan commented on #6898
Thanks for filing the issue!

I took a look at this with @dlfryar and @geky and we drew a few conclusions:

1. We believe the problem is as described by @jflynn129. The test is using the EventQueue to move the sigio callback out of interrupt context, but sigio can be triggered for any reason at any time, so while the `get_data` callback is running, another callback is added to the queue. Therefore

[2018-05-16 03:47] ccli8 opened #6924 "MBED_HEAP_STATS_ENABLED causes memory corrupt with ARM/ARMC6 in RTOS-less code"
### Environment
**Target**
K64F

**mbed-os-example-blinky**
5.8.3

**mbed-os**
5.8.3

**ARM Toolchain**
5.24

**ARMC6 Toolchain**
6.10

### Steps to reproduce
1. Add `mbed_app.json` to enable MBED_HEAP_STATS_ENABLED
[code]
1. Add `.mbedignore` for RTOS-less build
[code]
1. Export to Keil project
1. Enter Keil project, compile it, and enter debug session
1. Before run, set breakpoint on the start o

[2018-05-16 05:38] bcostm commented on #6900
Just to understand your application, do you use the CMWX1ZZABZ-091 Murata module or the STM32L072CZ MCU ?

[2018-05-16 07:50] pan- commented on #6920
We do not support gcc 7 yet; could you try with GCC 6 ?

[2018-05-16 08:03] drahnr commented on #6916
[code]

[2018-05-16 08:48] JanneKiiskila commented on #6902
@RobMeades  - can we leave the modem API on the `.mbedignore` ?

In other words leave these in `.mbedignore`:
[code]

but not add these to `.mbedignore`.

[code]

Personally,  I am starting to lean towards an idea that we should have some sort of "BOOTLOADER" config for the boards and with that you should be able to make a minimal image for bootloader that does the absolute minimum required for fi

[2018-05-16 08:52] RobMeades commented on #6902
Yup, that's correct.  I think I tend to agree on the "BOOTLOADER" config: every board will be different and I no-one wants to lose flash space unnecessarily, so the opportunity (at least) to optimize makes sense, provided we aren't trying to achieve some nirvana where any application will work with any bootloader...?

[2018-05-16 08:55] RobMeades commented on #6902
Just to be clear, leaving the `onboard_modem_api` out only works if you aren't planning to use cellular from the bootloader, which I guess is true.

[2018-05-16 09:07] helmi-haddad commented on #6900
i use the STM32L072CZ MCU

[2018-05-16 09:29] bcostm commented on #6900
OK. So, what you can do is to send a PR and add all the pins (in the PinNames.h file) which are available in the STM32L072CZ but not available in the Murata module. I would suggest also to add a comment for example:

[code]

The syntax is:
first nibble: 0=PA, 1=PB, 2=PC, etc...
second nibble: pin number

Can you do this ?

[2018-05-16 09:30] helmi-haddad commented on #6900
no i can't because i dont know how , please can you do it ?

[2018-05-16 09:32] jeromecoutant commented on #6900
I will do it.

@bcostm It is part of my current work of PeriphPin alignment

[2018-05-16 09:36] helmi-haddad commented on #6900
@jeromecoutant and @bcostm thank you very much .

[2018-05-16 09:54] kjbracey commented on #6861
Compilers generally have an option for "get files (or options)" from a file. For gcc it's `@file`.  Any reason we can't use that?

[2018-05-16 09:55] daid commented on #6854
Closing this issue, I got my answer. I think I understand why TIM2 is used, it is done to prevent trying to puzzle for each different chip which is the best timer to use.

Certain targets can be improved on this area, but it is a puzzle per chip.

[2018-05-16 09:55] #6854 closed, assigned to nobody

[2018-05-16 10:05] andrewleech commented on #6861
As I mentioned earlier the @include.txt system is already in use, however the paths listed in the include file are all absolute paths.

The include list file is passed to g++ by mbed which then unpacks it internally to call cc1plus.exe where it passes the full command line which is where it fails.

[2018-05-16 11:01] 0xc0170 commented on #6861
Any progress for this one?

[2018-05-16 11:37] LMESTM commented on #6854
@daid - thanks for your time spent in understanding and testing - and thanks the good wrap-up !

[2018-05-16 13:24] mapellil opened #6930 "EventQueue restart"
### Could not restart EventQueue

Restarting of dispatcher after the EventQueue break_dispatch() has been called leads to  "Thread 00000000 error -4: Parameter error" and system hangs.
    Test app: https://os.mbed.com/users/mapellil/code/mbed-os-example-blinky/

    - target: Nucleo-F401RE
    - toolchain: CLI 1.3.0  GCC_ARM
    - Mbed OS 5.8 (git log -n1 --oneline)  ae6c7c6 Merge pull request #6

[2018-05-16 14:17] JanneKiiskila commented on #6902
Yep, there should not be any reason for bootloader to use cellular.

However, typically we should assume to have only ONE bootloader I believe (the official mbed-bootloader).

[2018-05-16 16:29] marcuschangarm commented on #6916
You need to define your own `PinNames.h` and `device.h` for your target. Like this: https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/TARGET_MCU_NRF52832/TARGET_NRF52_DK

It also looks like you are missing `"target.extra_labels_add": ["SOFTDEVICE_NONE"]` in your json file.

[2018-05-17 06:13] pauluap opened #6934 "EventQueue Debugging Guidance"
### Description

mbed-os 5.8
C++11

I'm running into a hard fault issue.  Producing a crash dump suggests that the exception occurs at this line - https://github.com/ARMmbed/mbed-os/blob/master/events/equeue/equeue.c#L264

I've stared at the code awhile and am still not quite sure what's going on.  This question is not a request to solve this particular problem, but rather a general question for d

[2018-05-17 07:16] jeromecoutant commented on #6840
@bulislaw

[2018-05-17 07:40] adustm commented on #6854
Hello,
You're absolutely right. The best wrap up is :

:-)

[2018-05-17 08:51] drahnr commented on #6916
@marcuschangarm thanks! I was not aware of that. Since when has this been the case? Does my previous `inherit: NRF52_DK` solve this issue because `device.h` and `PinNames.h` are defined already?

[2018-05-17 08:55] 0xc0170 commented on #6934
@geky @kjbracey-arm @SenRamakri Please review

[2018-05-17 08:56] 0xc0170 commented on #6930
cc @geky

[2018-05-17 08:58] 0xc0170 commented on #6924
@deepikabhavnani Can you please review?

[2018-05-17 09:13] mapellil commented on #6930
Yes, link is provided, tanks

From: Martin Kojtal [mailto:notifications@github.com]
Sent: 17 May, 2018 10:57 AM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Licio MAPELLI <licio.mapelli@st.com>; Mention <mention@noreply.github.com>
Subject: Re: [ARMmbed/mbed-os] EventQueue restart (#6930)

@mapellil<https://github.com/mapellil> Hi, can you provide code snippet to reproduce the issue ? I as

[2018-05-17 09:27] 0xc0170 commented on #6920
@tkstreet Can you test it with GCC 6 ?

I set -O0 for GCC, and built the latest master

[code]

cc @marcuschangarm

[2018-05-17 09:30] 0xc0170 commented on #6902
Are there any actions that need to be taken @JanneKiiskila @RobMeades ? Or the update helps here as mentioned in the latest comment above?

[2018-05-17 09:31] 0xc0170 commented on #6898
@kjbracey-arm @mikaleppanen Please review

[2018-05-17 09:32] 0xc0170 commented on #6897
Hi @bmcdonnell-ionx , I referenced this issue in the system stats API for consideration.
*[Mirrored to Jira]*

[2018-05-17 09:33] 0xc0170 commented on #6895
@OPpuolitaival Please review

[2018-05-17 09:34] 0xc0170 commented on #6894
@SeppoTakalo Please review

[2018-05-17 09:35] 0xc0170 commented on #6893
This should fix it #6905

[2018-05-17 09:37] mikaleppanen commented on #6898
Yes, there is an error as described above in the test case sigio handling.

[2018-05-17 09:39] 0xc0170 commented on #6877
Hi,

this should be cleaned up (there will be I2c updates @bulislaw can provide more updates).
*[Mirrored to Jira]*

[2018-05-17 09:41] 0xc0170 commented on #6868
@mprse Please review

[2018-05-17 09:42] 0xc0170 commented on #6858
@donatieng Please review

[2018-05-17 09:52] SeppoTakalo commented on #6894
I don't see the problem?
You should not be touching the mbed build system by excluding folders.

Other than that, mbed Trace includes that header just for common types. Most probably can be replaced with `#include <stdint.h>` but not worth the effort, as it does not affect the build result.

[2018-05-17 10:16] JanneKiiskila commented on #6902
This is OK to close (I will close). However, the bigger discussion of having a "BOOTLOADER" config for each board remains - I think we must do that and a product requirement [2777](https://jira.arm.com/browse/IOTPREQ-2777) has been filed.

@sg-

[2018-05-17 10:16] #6902 closed, assigned to nobody

[2018-05-17 10:44] bulislaw commented on #6877
We'll be cleaning up I2C HAL API in next release.
*[Mirrored to Jira]*

[2018-05-17 13:38] bmcdonnell-ionx commented on #6897
@0xc0170, thanks for the heads-up.

If I understand correctly, #6821 is wanting (among other things) to possibly capture the Mbed OS SHA in the program? To be clear, that differs from this feature request, where I'm primarily looking to capture the user's project's SHA in the program. So they'd probably use a similar technique, but they are different features.
*[Mirrored to Jira]*

[2018-05-17 15:20] AGlass0fMilk opened #6942 "NVSTORE - Initial configuration utility"
### Description

I am using the NVstore module to store parameters that should be available to the main application and the bootloader. One issue that comes up is the initial state of NVstore.

It would be useful to be able to statically initialize the NVstore with key/value pairs at compile time. This way, no additional steps are needed to deal with uninitialized NVstore values (no factory config

[2018-05-17 15:41] lyshar opened #6943 "K64F SPI Slave doesn't work"
### Description
Target: NXP Kinetis Freedom FRDM-K64F
Toolchain: GCC-ARM 7 2017-q4-major
Tool: PlatformIO IDE
Mbed OS Version: 5.8.2

The FRDM-K64F as an SPI Slave always receives 0xFF from the `read()` function (although `receive()` works as expected).

Steps to reproduce the problem:

Freedom FRDM-K64F as SPI Slave:
[code]
I used UBlox C027 (another board running mbed) as SPI Master

UBlox C027

[2018-05-17 15:52] bulislaw commented on #6840
Hopefully for 5.9 (that is it needs to land on master next week). Fingers crossed :)

[2018-05-17 17:02] marcuschangarm commented on #6916
Yes. I cleaned up `targets.json` and the inheritance in that file so that ideally people can inherit directly from MCU_NRF52832 or MCU_NRF52840 and not from the targets. That way, you can define only the pins that are available on your board that you care about.

Inheriting from MCU_NRF52x also means you are not forced into using these settings:
https://github.com/ARMmbed/mbed-os/blob/master/targe

[2018-05-17 20:08] geky commented on #6930
Thanks for raising and issue and the code snippet.

It looks like you are restarting the same Thread object multiple times:
[code]

@c1728p9, @bulislaw is this supported?

[2018-05-17 21:33] c1728p9 commented on #6930
Nope, calling start multiple times on a thread is not allowed:
https://github.com/ARMmbed/mbed-os/blob/77f5c4ac049047c779d75e890b5a15145b14a35d/rtos/Thread.h#L248-L255

[2018-05-18 00:19] nalmakhd commented on #6843
Any update on this issue ?

[2018-05-18 07:16] juhaylinen commented on #6909
Changed ETHARP_HWADDR_LEN to ETH_HWADDR_LEN and above issue seems fixed. But then build fails while compiling file mbed-os\targets\TARGET_Realtek\TARGET_AMEBA\sdk\common\network\dhcp\dhcps.c looks like IPv6 is not supported.

[code]

[2018-05-18 07:26] mapellil commented on #6930
Thread body does not contains the endless loop, so returning from the thread function should imply thread is not running anymore, so it should be possible to start it again. Despite the above considerations I’ve added th terminate and join, so I expect it should be possible to start the th again now. The system still hangs. https://os.mbed.com/users/mapellil/code/mbed-os-example-blinky/
The point

[2018-05-18 08:25] 0xc0170 commented on #6942
@davidsaada Please review
*[Mirrored to Jira]*

[2018-05-18 08:29] 0xc0170 commented on #6943
@ARMmbed/team-nxp Please review

[2018-05-18 08:34] davidsaada commented on #6942
I'm not sure I understand the use case of compile time initialization. Can you explain?
Otherwise, initializing NVStore at run time is fairly easy: Just call `reset` API to clear NVStore, then use `set` calls to fill it with any key/value pairs you need.
*[Mirrored to Jira]*

[2018-05-18 11:01] mattbrown015 commented on #6894
Agreed only a small point so closing.

I 'touch the build system' using `.mbedignore`. Which, obviously, is a thing supported by the CLI, not something I invented.

I use  `.mbedignore` to exclude the features I'm not using because it is just a bit tedious watching and waiting while files I know I'm not using are compiled. Of course this doesn't happen every time you compile but when fiddling with

[2018-05-18 11:01] #6894 closed, assigned to nobody

[2018-05-18 11:34] pan- commented on #6891
@bulislaw @0xc0170 Is it acceptable to break backward compatibility and create code incompatibilities between boards such as basic code as the one I exposed above won't work ? To me it seems to break the mbed promise that the platform abstract away board differences and the same code application code can be executed if the boards support the feature.

@marcuschangarm Would it be possible to disabl

[2018-05-18 13:05] 0xc0170 commented on #6891
Reviewing the thread, and this one:

I find the above code as valid and should work (nordic would enable flow control by default to have it working). Shouldn't this be the case?
*[Mirrored to Jira]*

[2018-05-18 13:26] andrew-mclachlan opened #6954 "EV_COG_AD4050LZ mbed projects fails to build with CrossCore Embedded Studio"
### Description

LD scripts for EV_COG_AD4050LZ (and 3029) require preprocessing but this does not work for all toolchains.

Steps to reproduce:
pip install mbed-cli
mbed import mbed-os-example-blinky
cd mbed-os-example-blinky
mbed export -i cces -m EV_COG_AD4050LZ
Open CCES, import mbed-os-example-blinky/cces project.
Build
First build error is because `softfp` is not found. Remove it from Librar

[2018-05-18 13:28] 0xc0170 commented on #6954
@ARMmbed/team-analogdevices Please review

[2018-05-18 15:11] marcuschangarm commented on #6891
You are creating a new serial object with a set of pins, presumably connected to a serial device. Why would flow control be enabled by default? What pins would be used for flow control? What other board magically enables flow control behind your back and sets it to two arbitrary pins?

We have paying customers utterly confused why flow control behaves inconsistently from the documentation.
*[Mirro

[2018-05-18 15:15] marcuschangarm commented on #6891
We are abstracting away differences. If you use the default stdout, either with printf or filehandle read/write it works out of the box across all platforms.

You are explicitly creating a new serial object from scratch. It would be an anti-pattern if flow control was enabled automatically on some boards and not others, and with arbitrary pins.
*[Mirrored to Jira]*

[2018-05-18 15:21] dhwalters423 opened #6955 "STM32F7 Flash Dual Bank support"
### Description

In order to support sensible SOTP and NV Store values, the STM32F7 platforms should have dual bank flash support.

At the moment this is not supported: https://github.com/ARMmbed/mbed-os/blob/79640c6a885d2006d3cedff3f666f8c253818c27/targets/TARGET_STM/TARGET_STM32F7/flash_api.c#L109

**Impact:**
In order to support drag and drop programming of devices with Mbed Cloud Client, we ne

[2018-05-18 17:16] AGlass0fMilk commented on #6942
For me, Nvstore is used to store installed app header information (like version numbers, digital signatures, etc) along with a public key for verification, among other information.

For the sake of _clean code_, I don't want to duplicate this information and compile it into my binary. Therefore the application is unable to install its own application header or the public key at runtime. An issue a

[2018-05-20 15:52] lyshar commented on #6943
Hey,
a bit of an update,
I tried using an Raspberry Pi Zero W as a SPI Master for the K64F as a SPI Slave,
The data received by the K64F was 0 (Unlike C027 as Master where the data that was received by the K64F was 255).
RPi Zero W as Master <-> C027 as Slave worked normally

[2018-05-21 10:10] M-ichae-l commented on #6909
@juhaylinen
The `dhcps.c` and `dhcps.h` should be deleted for MBED-OS.
After I have fixed the compilation errors, the wifi connect will fail due to the DHCP_FAILURE. Are you expected the wifi connection error with ipv6 enabled? Currently, the DHCP only supports ipv4.

[2018-05-21 13:05] juhaylinen commented on #6909
@M-ichae-l
I tested quickly the changes you suggested. After successful build, the device gets an IPv6 address from our AP and tries to connect www.arm.com. The connection fails to NSAPI_ERROR_DNS_FAILURE but I think that's not related to this issue. Maybe www.arm.com is not IPv6 ready.

[2018-05-21 15:04] ghost commented on #6954
Hi,

I have the same problem. Do you know how I can fix this, is it just replacing the makefile with the cces auto generated one?
Thanks,

[2018-05-21 15:31] theotherjimmy commented on #6861
Sorry, I was off last week. I'm picking up this investigation today.

[2018-05-21 16:07] pan- commented on #6891
Why would these pins be arbitrary ? I though they were the CTS and RTS pins connected to chip running the DAPLink firmware.

I think the issue lies here, we do not have access to an already built serial instance that handles stdin and stdout. Everything has to be built from scratch and I do agree that random flow control is confusing in that case however, the situation would be very different for

[2018-05-21 16:21] studavekar opened #6966 "ARM_CM3DS_MPS2+ reboot.txt doesn't reboot the device"
### Description
- Type: Bug
- Priority: Major

- also see : https://github.com/ARMmbed/mbed-os/issues/6460#issuecomment-389209451
---------------------------------------------------------------
## Bug
**Target**
ARM_CM3DS_MPS2

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-cli version:**
1.5.0

**mbed-os sha:**
ea13262 Merge pull request #6951 from bcostm/fix_spi_nss_config

**Expected behavior**
During

[2018-05-21 18:00] andrew-mclachlan commented on #6954
Hi @Roshandcuk

Sadly, the newly created CCES project ends up with an entry 'softfp' in `<option id="arm.linker.option.additionaloptions.348996874" name="Additional options for the linker:" superClass="arm.linker.option.additionaloptions" valueType="stringList">`. You can quickly edit the cces/.cproject file and remove that entry to keep you moving foward with the project.

[code]

However, even a

[2018-05-21 19:09] marcuschangarm commented on #6891
That's because from your point of view RawSerial means DAPLink connection. With the old implementation, RawSerial(wifi_tx, wifi_rx) would still enable flow control on daplink_cts and daplink_rts, which is really confusing as a user.

For reference, this is how it looks like in Greentea: https://github.com/ARMmbed/mbed-os/blob/master/features/frameworks/greentea-client/source/greentea_serial.cpp

W

[2018-05-22 03:55] M-ichae-l commented on #6909
@juhaylinen
Thank you. Please refer to the #6974 for the fix.

[2018-05-22 06:57] 0xc0170 commented on #6955
@ARMmbed/team-st-mcd Please review

[2018-05-22 06:57] 0xc0170 commented on #6966
cc @abhishek-pandit
*[Mirrored to Jira]*

[2018-05-22 07:06] toyowata opened #6975 "GR-PEACH/LYCHEE: mbed_blinky (Mbed 2) fails to compile"
## Bug

**Target**
GR-PEACH and GR-LYCHEE

**Toolchain:**
Online compiler

**Expected behavior**
mbed_blinky compiles successfully and .bin file downloads for GR-PEACH/LYCHEE target.

**Actual behavior**
I got following errors:
[code]

**Steps to reproduce**
* Import https://os.mbed.com/teams/mbed/code/mbed_blinky/
* Update mbed library to latest version
* Set target to Renesas GR-PEACH or GR-LYCH

[2018-05-22 07:15] bcostm commented on #6888
@michaelVisimid This issue is normally solved using PR 6951. Are you ok to close it ? Thanks

[2018-05-22 08:43] andrew-mclachlan opened #6977 "Exporter for CrossCore Embedded Studio is incorrectly handling the -mfloat-abi option"
### Description
Exporter for CrossCore Embedded Studio adds softfp option to additional options which causes a link failure.

Steps to reproduce:
pip install mbed-cli
mbed import mbed-os-example-blinky
cd mbed-os-example-blinky
mbed export -i cces -m EV_COG_AD4050LZ
Open CCES, import mbed-os-example-blinky/cces project.
Build
First build error is because `softfp` is not found.

The exporter is add

[2018-05-22 08:44] 0xc0170 commented on #6975
@ARMmbed/mbed-os-tools @ARMmbed/team-renesas
*[Mirrored to Jira]*

[2018-05-22 08:46] 0xc0170 commented on #6977
@ARMmbed/team-analogdevices Please review

[2018-05-22 09:56] everhardt opened #6979 "ppp_lwip_disconnect hangs on acquiring ppp_close_sem semaphore when cellular connection fails with NSAPI_ERROR_CONNECTION_LOST"
### Description
When using the OnboardCellularInterface to connect, it might be that the connection fails with reason NSAPI_ERROR_CONNECTION_LOST. If afterwards, disconnect() is called on the same interface, the thread will hang forever on https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/ppp_lwip.cpp#L302.

* Target: [custom target for STM32F205RG](https://github

[2018-05-22 11:02] 0xc0170 commented on #6979
@ARMmbed/mbed-os-wan Please review

[2018-05-22 14:04] michaelVisimid commented on #6888
Sounds good. Thank you for handling the PR.

[2018-05-22 14:04] #6888 closed, assigned to nobody

[2018-05-22 16:31] MarceloSalazar opened #6982 "Prioritize mbed_app.json instead of target_config.json when compiling tests"
### Description

Mbed OS contains a target_config.json file here:
https://github.com/ARMmbed/mbed-os/blob/master/tools/test_configs/target_configs.json

When compiling tests for any of the platforms listed in this file (UBLOX_EVK_ODIN_W2, K64, REALTEK_RTL8195AM, NUCLEO_F429ZI), the build system goes and reads the target_config.json and ignores the mbed_app.json in my project.

This is an annoying

[2018-05-22 17:44] 0xc0170 commented on #6982
@ARMmbed/mbed-os-tools Please review

[2018-05-22 22:49] theotherjimmy commented on #6982
@MarceloSalazar The target_config.json is an imporntant feature in our testing infrastructure. We will not remove it.

However, we can give priority to mbed_app.json in the root of your project.

[2018-05-23 06:35] MarceloSalazar commented on #6868
As per internal conversation with @bulislaw

The HW is handling years in BCD.

Our RTC spec is working in seconds from epoch and that's what they will get anyway. So in their implementation, they will need to handle the conversion from sec to their date in BCD, they can handle base manipulation internally. Very quick pseudocode with workaround.

[code]

@0xc0170 I'd suggest we set the appropriate

[2018-05-23 06:40] MarceloSalazar commented on #6982
@theotherjimmy I think your proposal to prioritize mbed_app.json from the local directory is simple and good enough. Thanks!

[2018-05-23 07:26] 0xc0170 commented on #6868
Thanks for the update. I'll close this ticket as resolved, given the snippet above should help to fix the problem.

[2018-05-23 09:26] AriParkkila commented on #6979
Yes, it looks like a good fix to me.

[2018-05-23 10:23] mattbrown015 commented on #6893
Closing as appears to be fixed.

I updated to https://github.com/ARMmbed/mbed-os/#3bcc076c0c08a4f411bfbeb9fcf173bb1343cd8c today, removed `"target.features_add": ["COMMON_PAL"]` from mbed_app.json and didn't notice any change in the LoRaWAN trace.

Thanks.

[2018-05-23 10:23] #6893 closed, assigned to nobody

[2018-05-23 10:28] kivaisan commented on #6893
Please note that I still have a PR pending for lorawan example application and I will merge it after mbed-os 5.8.5 is out.

[2018-05-23 10:39] mattbrown015 opened #6986 "LoRaWAN Stack Compiler Warnings in Release Build"
### Description
When building using the release profile the following warning appear several times:

    Compile [ 15.8%]: LoRaWANInterface.cpp
    [Warning] LoRaMac.h@450,32: unused variable 'status' [-Wunused-variable]
    [Warning] LoRaMac.h@451,34: unused variable 'status' [-Wunused-variable]

These only appear once:

    Compile [ 17.1%]: LoRaMac.cpp
    ...
    [Warning] LoRaMac.cpp@843,22:

[2018-05-23 10:45] 0xc0170 commented on #6986
@ARMmbed/mbed-os-wan Please review

[2018-05-23 13:27] jeromecoutant commented on #6955
Hi
For information, STM32F746ZG doesn't support dual bank.
Dual bank feature seems to be supported only for STMF76x MCU

[2018-05-23 14:15] ghost opened #6988 "time_t vs timeval operation."
### Description
using a K64F board with GCC compiler (gcc-arm-none-eabi-7-2017-q4-major) and wanting to get usec using gettimeofday() using the tv_usec member. Noticed it isn't working. I implemented a simple program:

[code]
and when it runs, it reports:

why is gettimeofday() not functioning as expected?

### Issue request type
[X ] Question
[ ] Enhancement
[ ] Bug

[2018-05-23 14:41] ghost commented on #6988
@janjongboom Jan, I saw you previously were mentioned on a time related question and was hoping you could answer this questions, hopefully it is something I am doing wrong...
*[Mirrored to Jira]*

[2018-05-23 15:05] mbedNoobNinja opened #6990 "Is mbed_config.h accessable through the online compiler?"
### Description
When compiling **mbed-os-example-blinky** with **online compiler** for **VK_RZ_A1H** target, an error arises:
`#5: cannot open source input file "mbed_config.h": no such file or directory`
The target relies on **mbed_config.h** in it's scater file. The strange thing is that with **mbed-cli** it finds it, but the online compiler can't do it. Why?

### Issue request type

[x] Questio

[2018-05-23 21:30] AGlass0fMilk opened #6998 "Changing SPI Clock Pin On-the-Fly"
### Description
Platform: Nordic nRF52832, custom board

To minimize external hardware I am trying to software mux a SPI driver to communicate with two chips. One has a slave select (flash) and one does not (display). Sending data to the flash may cause strange behavior to appear on the display. I am trying to change the SPI Clock pin used On-the-Fly so only one chip gets the clock at a time.

@ma

[2018-05-24 07:18] toyowata commented on #6975
Internal reference: IOTMORF-2375
*[Mirrored to Jira]*

[2018-05-24 08:29] dhwalters423 commented on #6955
Thanks for clarification @jeromecoutant
This is still important for those platforms with dual bank support- NUCLEO_F767ZI for example.

[2018-05-24 09:35] hasnainvirk commented on #6986
:) yeah, I have been building with debug or developer profile where MBED_ASSERT is available that's why warning was not shown. If you are running with a release profile you will get this warning. I will see to it right away. Thanks

[2018-05-24 13:19] pan- opened #7006 "NRF52 linker script is incomplete for ARMCC and IAR"
### Description

The latest softdevice and nordic SDK have introduced a new way of registering event handlers: Event handlers are not registered in RAM at runtime, they are registered in flash at compile time. Unfortunately this mechanism requires some help from the linker script to group events handlers in specific program sections. This is correctly done in GCC linker script (see [here](https://

[2018-05-24 13:19] pan- commented on #7006
@marcuschangarm Could you review this issue ?

[2018-05-24 15:35] 0xc0170 commented on #6998
@ARMmbed/mbed-os-core Please review

[2018-05-24 15:36] 0xc0170 commented on #6990
@ARMmbed/mbed-os-tools Please review

[2018-05-24 15:44] 0xc0170 commented on #6988
I do not recall is in retarget or anywhere else we have this implemented. Isn't this posix function only?

@ARMmbed/mbed-os-core Please review
*[Mirrored to Jira]*

[2018-05-24 15:58] theotherjimmy commented on #6990
@mbedNoobNinja This is not behavior that is defined anywhere. Configuration is accessible from C and C++.  In order for you to be able to include `mbed_config.h` we must move the scatter file into the build directory, and rewrite it's shebang to specify an include path to it's original directory (to not break regular includes). This feature was added to silently upgrade all shebangs when using Arm

[2018-05-24 16:06] marcuschangarm commented on #6998
I assume the SPI clock pin is connected differently on the two devices? If so, the ideal way is to instantiate a separate SPI object for each driver. Then the pin selection is automatically handled by the Mbed OS SPI driver.

On the NRF52, you can define your own pin map to ensure that both SPI objects gets assigned to the same hardware instance.

[2018-05-24 16:24] marcuschangarm commented on #7006
I didn't find the equivalent sections in the ARMCC and IAR linker script examples so I assumed they weren't necessary. What linker errors are you getting?

[2018-05-24 16:29] donatieng commented on #7006
Hi @marcuschangarm, it's a placement issue: the new Nordic SDK places event handlers in a specific linker section. As those sections are not present in the ARMCC and IAR linker scripts, these handlers end up in other sections and the SDK cannot see them (and they therefore never get called).

[2018-05-24 16:56] AGlass0fMilk commented on #6998
I thought that may be the case so I tried instantiating two SPI instances that only differed in the CLK pin (and one had a slave select as well). The SPI-driven display did not operate. When I commented out the 2nd SPI driver instantiation the SPI-driven display started working again.

How might one go about doing this?

[2018-05-24 17:54] marcuschangarm commented on #6998
Can you show us the before and after code please.

It is described in this section: https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_NORDIC/TARGET_NRF5x#mbed-hal-implementation-details

[2018-05-24 20:04] AGlass0fMilk commented on #6998
Here's a stripped-down version that reproduces the issue I'm seeing:

[code]
The test code above uses two counters, i and j. The counter for the display spi starts at 0 and increments every display SPI transfer. The counter for the flash spi starts at 10 and increments every flash SPI transfer. Since the display doesn't reply with any data, the MISO line for that SPI instance is NC.

**NOTE:** In

[2018-05-24 20:51] ghost commented on #6988
yes, https://www.unix.com/man-page/POSIX/3posix/gettimeofday/
to get around this, I did the following:
[code]
it isn't microseconds, but i couldn't find access to a microsecond counter (but I didn't try real hard either). I only needed millisecond resolution for my needs.  But I thought it would have been implemented in mbed.
*[Mirrored to Jira]*

[2018-05-24 21:00] geky opened #7010 "File system truncate API"
### Description

From @OscarGarciaF:

How can i truncate a file to a certain size with this library?

related https://github.com/ARMmbed/sd-driver/issues/99, [IOTSTOR-352](https://jira.arm.com/browse/IOTSTOR-352)
cc @dannybenor, @kjbracey-arm, @ARMmbed/mbed-os-storage fyi

### Issue request type

[x] Question
[ ] Enhancement
[ ] Bug

[2018-05-24 21:14] geky commented on #7010
As mentioned in https://github.com/ARMmbed/sd-driver/issues/99, we do have implementations of truncate in both the ChaN FAT filesystem and LittleFS, so it should just be an API addition here:
https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/FileSystem.h#L174-L184
*[Mirrored to Jira]*

[2018-05-24 22:08] OscarGarciaF commented on #7010
@geky could you please help me add the API? i have no idea how to define it
I have opened FileSystem.h, FatFileSystem.h and ff.h from ChaN
i added "virtual int file_truncate(fs_file_t file);" to the first two but it does not seem to work, and i have no idea how to use this function.
i checked the[ documentation](https://linux.die.net/man/2/ftruncate): and ftruncate seems to have two params while f

[2018-05-25 07:01] mickeyln opened #7013 "The web export to uVision5 build fail."
### Description

I export my program from web to uVision5. Target is NUCLEO-F446RE.
It always build fail and shows can not find configs/nanostack_full.cfg.
It can build after I copy the configs folder to mbed-os\features\nanostack\sal-stack-nanostack\source
mbed version 5.8.5
### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-05-25 08:27] andrew-mclachlan commented on #6954
This issue requires an update to CrossCore Embedded Studio to pre-process the LD script.

[2018-05-25 09:07] RobMeades opened #7017 "Cellular and 27.007 mux"
### Description
A roadmap question for the new cellular interface: is it planned to add 27.007 mux support and, if so, which Mbed release is that likely to arrive in?

### Issue request type
[X] Question
[ ] Enhancement
[ ] Bug

[2018-05-25 09:25] 0xc0170 commented on #7017
@ARMmbed/mbed-os-wan Please review

[2018-05-25 09:26] 0xc0170 commented on #7013
@mickeyln How to reproduce? Which example and you use Mbed OS 5.8.5?

[2018-05-25 09:37] mickeyln commented on #7013
Yes, I use Mbed OS 5.8.5.
Just import the example "mbed-os-example-blinky" to web compiler and export to uVision5 off-line compiler.

[2018-05-25 10:02] kjbracey commented on #7010
@geky I can look at doing `ftruncate` and `FileHandle::truncate` when I've got a moment. From some previous discussions, I was also fancying its opposite `posix_fallocate` and `FileHandle::allocate`.

If we do have that, does it make sense to have `FileSystem::truncate` also passed down to filesystem implementations, or could the be defined in terms of `FileHandle::truncate`?

*[Mirrored to Jira]*

[2018-05-25 14:22] dannybenor commented on #7010
I think we shouldn't add apis without design review
*[Mirrored to Jira]*

[2018-05-25 14:30] OscarGarciaF commented on #7010
Is there someway I could add it now?
I need it for my work

El vie., 25 de may. de 2018 9:22 AM, Daniel Benor <notifications@github.com>
escribió:

*[Mirrored to Jira]*

[2018-05-25 16:13] geky commented on #7010
Sorry I missed so many messages

@OscarGarciaF, the ChaN documentation may help:
http://elm-chan.org/fsw/ff/doc/truncate.html

It looks like truncate uses the current file position. So you will need to seek to where you want to truncate to first.

I haven't tested it, but adding this implementation to the FATFileSystem may work:
[code]

Unfortunately, there are several layers that the API needs to

[2018-05-25 17:25] OscarGarciaF commented on #7010
Thanks you so much @geky, you are a real life saver.
I will test it out today at work

El vie., 25 de may. de 2018 11:14 AM, Christopher Haster <
notifications@github.com> escribió:

*[Mirrored to Jira]*

[2018-05-25 18:40] marcuschangarm commented on #6998
It looks like a hardware limitation: two different SPI hardware instances can't use the same pins.

The first object is assigned to hardware instance 0. The second object is assigned to instance 1 because the pins are not identical after you added an alternate clock pin.

When I add a custom pin map file your example code works as expected:

map.c:
[code]

[2018-05-25 19:05] AGlass0fMilk commented on #6998
I'll try that out! Thanks for making the new driver system for the nRF5X so flexible. It really helps more advanced mbed developers fully utilize their platform 👍

[2018-05-25 21:35] OscarGarciaF commented on #7010
@geky im getting an error since im using FILE(aka __sFILE) instead of File
are these different classes?

*[Mirrored to Jira]*

[2018-05-25 22:40] SenRamakri opened #7025 "Filename capture doesn't work with MBED_ERROR macros"
When enabling MBED_CONF_ERROR_FILENAME_CAPTURE_ENABLED macro to enable filename capture with MBED_ERROR macros compilation fails.

### Issue request type
    [] Question
    [] Enhancement
    [X] Bug

[2018-05-25 23:12] geky commented on #7010
Ah yes, they are different things. Unfortunately, @kjbracey-arm correct me if I'm wrong, I don't think you can get the FileHandle from a FILE.

What you can do, is add the `ftruncate` function to [mbed_retarget.cpp](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_retarget.cpp), something like this should work:
[code]

Note this has to be in mbed_retarget.cpp, since get_fhc is internal

[2018-05-25 23:26] OscarGarciaF commented on #7010
thanks @geky
Out of desesperation i changed my entire code to use File instead of FILE and after a few tweaks it works!
I still have no idea what the difference is between the two, why i can't use all the "f functions" with File (ftell, fopen, etc) and why there are two very similar classes with two very similar set of functions and there does not seem to be clear documentation on the mbed pages.

[2018-05-26 19:13] mister-walter commented on #7013
I also have this issue when exporting for NUCLEO-F767ZI using the Make-GCC-ARM toolchain exporter.

[2018-05-26 21:30] cmonr opened #7026 "Migration of https://github.com/ARMmbed/mbed-cli/issues/677"
### Description

Migrating from https://github.com/ARMmbed/mbed-cli/issues/677

@amq is having issues using an mbed-os tool with Python 3.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-05-26 21:35] amq commented on #7026
I've used [5.8.3](https://github.com/ARMmbed/mbed-os/commit/c05d72c3c005fbb7e92c3994c32bda45218ae7fe), maybe mbed-cli >= 1.7.0 requires a newer version?
*[Mirrored to Jira]*

[2018-05-26 21:55] cmonr commented on #7026
@amq Ah, yes. Give that a try. The Python 3 changes are currently staged for 5.9-rc1.

You should be able to go into the mbed-os directory, and do a `git checkout master` to pull the changes.

Oddly enough, I think I did find an issue, but haven't been able to reproduce it since...
*[Mirrored to Jira]*

[2018-05-26 21:56] cmonr commented on #7026
Also, if you could provide steps using a project that's a bit more public (it mbed-os-example-blinky) it would help eliminate with further debugging.

Thanks!
*[Mirrored to Jira]*

[2018-05-28 07:00] kjbracey commented on #7010
@geky, no sorry, can't do `fileno` either - we don't have visibility of the internal of the `FILE` to translate `FILE` to anything. If you want to mix `FILE` and file descriptors or `FileHandles` you have to open the lower level yourself so you have the handle and create the `FILE` from it with `fdopen`. I'd love to fix this, but I don't have a better suggestion than "hacking" the FILE layout on a

[2018-05-28 14:14] omdathetkan opened #7037 "Configurable ethernet pinout"
### Description
I am using a custom board, roughly based on the NUCLEO_F767ZI. Most of the pinout is the same, but for example for RMII_MII_TXD1 I am using PG14 instead of PB13 since this made much more sense from a layout perspective.

I am currently working around this using:
[code]

Which I use to wrap the connect function:
[code]

This works for me but is not very clean, especially if the orig

[2018-05-28 14:36] jeromecoutant commented on #7037
Hi

You can check https://os.mbed.com/teams/ST/wiki/How-to-use-own-ETHERNET-PHY
and use USE_USER_DEFINED_HAL_ETH_MSPINIT macro

Regards,
Jerome

[2018-05-28 20:45] OscarGarciaF commented on #7010
@kjbracey-arm if they cannot be merged then why not eliminate one to have an unified API?
*[Mirrored to Jira]*

[2018-05-28 20:59] mattbrown015 opened #7038 "Mutex, Lock Guards and C++11 Question"
### Description

I was thinking about using `Mutex` to protect some global state and musing how best to use it.

I didn't see any obvious reference to lock guards in the `Mutex` documentation but I did find `TESTS\mbedmicro-rtos-mbed\threads\LockGuard.h`.

At the present my best plan is to do something for myself similar to `LockGuard.h`.

I was wondering if there was a reason why a lock guard has

[2018-05-29 07:16] ghost commented on #6979
ARM internal ref: IOTCELL-1028

[2018-05-29 07:26] ghost commented on #7017
This is planned to be included in Mbed OS 5.11

[2018-05-29 07:43] omdathetkan commented on #7037
Ah perfect! I will give this a try. Thanks.

[2018-05-29 08:09] 0xc0170 commented on #7038
@ARMmbed/mbed-os-core Please review

[2018-05-29 08:41] RobMeades commented on #7017
Perfect, thanks.

[2018-05-29 08:41] #7017 closed, assigned to nobody

[2018-05-29 10:14] RaEyE opened #7041 "NUCLEO_F746ZG(Tx) export to uVision5 defaults to STM32F746ZGYx"
### Description

When exporting a mbedOS based project to be used offline with uVision5 the default MCU used by
Keil uVision is not, as expected, the STM32F746ZGTx but the STM32F746ZGYx.

Therefore some Project-Settings might be off.
e.g. Insted of using the FloatingPoint Hardware provided by the STM32F746ZGTx MCUs the Code
Generation is set up to us Library Calls.

Another issue might be that a s

[2018-05-29 10:34] lrusinowicz opened #7043 "Cordio H4 transport driver issue."
### Description

While working on Mbed OS port to PSoC6 chip I was trying to use Cordio BLE stack with Cordio H4 UART transport (that Cypress libs also support) so I would have:

- Mbed OS and Cordio BLE running on M4 core (PSoC6 is is dual-core chip, with Cortex M0+ and M4F cores) connected to UART1

- Cypress BLE controller running on M0 core and connected to UART2

- both UARTs coss-connected o

[2018-05-29 11:11] MarceloSalazar commented on #7043
Internal reference: IOTPAN-59

[2018-05-29 12:18] 0xc0170 commented on #7043
@ARMmbed/mbed-os-pan Please review

[2018-05-29 12:22] 0xc0170 commented on #7041
@ARMmbed/team-st-mcd Please review
*[Mirrored to Jira]*

[2018-05-29 13:53] bcostm commented on #7041
Thanks to report this. I searched for "F746ZG" in all mbed-os files but I didn't find anything that could explain this for uVision exporter. I have no idea how the "Yx" device is selected ?
*[Mirrored to Jira]*

[2018-05-29 15:53] jeromecoutant commented on #7041
Hi

In the Keil pdsc file, it seems that there are 2 "variants" for device STM32F746ZG:

        <device Dname="STM32F746ZG">
          <variant Dvariant="STM32F746ZGYx"> <feature type="CSP" n="143"/> </variant>
          <variant Dvariant="STM32F746ZGTx"> <feature type="QFP" n="144"/> </variant>

Maybe this is the reason which explains that the first one is selected by default ?

Is there a way t

[2018-05-29 16:24] bmcdonnell-ionx opened #7045 "wait function overhead"
### Description
There is arguably significant overhead to the ["wait" functions](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_wait_api_rtos.cpp), e.g. `wait_us()`. With my 24 MHz underclocked LPC4088 micro, accessing the registers directly, I could read the ticker/counter about 2x per µs, but calling `ticker_read()` (which is called by `wait_us()`) took ~10-20 µs.

Is the Mbed OS t

[2018-05-29 16:26] studavekar opened #7046 "CMSIS-RTOS error: Stack overflow for test :features-nvstore-tests-nvstore-functionality on LPC546XX and LPC54114"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
LPC546XX and LPC54114

**Toolchain:**
GCC_ARM | ARM | IAR

**mbed-os sha:**
88d863a Merge pull request #6984 from stevew817/'efm32_irq_bugfix'

**Steps to reproduce**

Use command run :  mbed  test -m LPC54114  -t GCC_ARM -n features-nvstore-tests-nvstore-functionality

[2018-05-29 16:30] cmonr commented on #7045
@ARMmbed/mbed-os-core Could y'all take a look at this?
*[Mirrored to Jira]*

[2018-05-29 16:32] cmonr commented on #7046
@ARMmbed/mbed-os-storage Mind taking a quick look at this as well, since an NVStore example is involved?

[2018-05-29 16:36] seppestas opened #7047 "TARGET_NRF52: Serial.getc() stops working after async Serial.read()"
### Description of defect

After reading data from a serial object using the async `Serial.read()` function and handling the data in the callback, calling `Serial.getc()` on the same object causes it to block forever, even if data is received.

Note: I only tested this issue on the new TARGET_NRF5x/TARGET_NRF52 target of mbed-os master (fe4337793).

E.g:

[code]

Strangely calling `getc()` between

[2018-05-29 16:40] davidsaada commented on #7046
Will have a look at it tomorrow, but at first glance, this seems like a problem we saw when launching the NVStore tests. These tests (mainly the multi thread one, the one that fails here) were initially failing on resource allocation (stack or heap) when running on a few boards. Tests were significantly reduced until we managed to make them work on all boards, including ones with low memory. I gue

[2018-05-29 16:42] bmcdonnell-ionx commented on #7045
I just fixed the link to the wrong source code in the OP.
*[Mirrored to Jira]*

[2018-05-29 16:54] seppestas commented on #7047
Note: `Serial.getc()` hangs at `while (*head == *tail);`.
*[Mirrored to Jira]*

[2018-05-29 17:09] studavekar commented on #7046
@davidsaada from the platform page : https://os.mbed.com/platforms/LPCXpresso54114/  it has 256KB flash, 192KB SRAM

[2018-05-29 17:16] seppestas commented on #7047
Also, calling `Serial.getc()` before calling `Serial.read()` seems to cause `Serial.read()` to trigger the callback as soon as a character is received iof. when the buffer is full (or an error occurred).

It looks like combining sync and async serial is broken in both directions.
*[Mirrored to Jira]*

[2018-05-29 19:31] davidsaada commented on #7046
Thanks @studavekar. Should be quite sufficient then (comparing to other boards that have less RAM and work fine). I'll try looking into it tomorrow.

[2018-05-29 19:36] ghost opened #7048 "Reducing Feature set"
### Description
Is there some way to reduce the features in a particular instance of Mbed OS?  For example, I would like to build the OS without the following features:

-  cellular
-  FEATURE_LWIP
-  nanostack
-  storage
-  FEATURE_BLE
-  lorawan
-  TESTS
-  filesystem
-  mbedtls
-  nvstore

I was thinking there may  be a way to use the mbed_app.json file to disabled/remove some of these features

[2018-05-29 20:04] AGlass0fMilk commented on #6998
Seems to be working, thanks again @marcuschangarm

[2018-05-29 20:04] #6998 closed, assigned to nobody

[2018-05-29 21:11] SenRamakri commented on #7025
Fix in progress - https://github.com/ARMmbed/mbed-os/pull/7050

[2018-05-30 05:44] bcostm commented on #7041
Thanks for the info. Yes, it looks that the first line is selected. For SW4STM32 exporter we specify the full device in the `mbed-os\tools\export\sw4stm32\__init__.py` file. It would be better to write this device ID in the targets.json.
*[Mirrored to Jira]*

[2018-05-30 07:40] 0xc0170 commented on #7047
@ARMmbed/mbed-os-core Please review
*[Mirrored to Jira]*

[2018-05-30 07:46] 0xc0170 commented on #7048
The footprint should not be affected much - what you dont use should not be there. I would however understand if you want to reduce the build time.

We use .mbedignore for that purpose as you noticed, for instance here are some instructions how to reduce the footprint https://os.mbed.com/blog/entry/Reducing-memory-usage-by-tuning-RTOS-con/ (the mbedignore provides similar what you are after).

@AR

[2018-05-30 07:54] 0xc0170 commented on #6943
@LiorSharon Thanks, looks like K64F slave problem.

[2018-05-30 07:55] 0xc0170 commented on #6954
Does this resolves this issue? should this be noted in exporter documentation?

[2018-05-30 07:56] 0xc0170 commented on #6977
This should be fixed via 7011

[2018-05-30 07:56] #6977 closed, assigned to nobody

[2018-05-30 08:00] 0xc0170 commented on #6954
I read the long discussion in 6690 PR but do not see there the solution to this issue

[2018-05-30 08:02] 0xc0170 commented on #6955
@jeromecoutant  What would take to enable that ? Are there any limitations to be aware of , drawbacks or?

[2018-05-30 08:06] 0xc0170 commented on #6966
We created an internal ticket for this to track, so far no progress.
*[Mirrored to Jira]*

[2018-05-30 08:10] jeromecoutant commented on #7041
@theotherjimmy

Do you think this issue will be solved if we replace in targets.json file:
        "device_name": "STM32F746ZG",
by
        "device_name": "STM32F746ZGTx",
?

Thx
*[Mirrored to Jira]*

[2018-05-30 08:11] 0xc0170 commented on #6986
@hasnainvirk Has this been fixed ?

[2018-05-30 08:15] 0xc0170 commented on #6988
You need to implement it for your target. A good example is here https://github.com/ARMmbed/mbed-time (for older Mbed Os version).

For GCC ARM, this function needs to be implemented `int _gettimeofday_r(struct _reent* unused, struct timeval *tp, void *tzp)`.
*[Mirrored to Jira]*

[2018-05-30 08:16] 0xc0170 commented on #6990
Thanks @theotherjimmy !

@mbedNoobNinja Does this answer your question?

[2018-05-30 08:22] hasnainvirk commented on #6986
It should be in #6910

[2018-05-30 08:44] 0xc0170 commented on #7026
@amq Can you share how to reproduce this issue locally?
*[Mirrored to Jira]*

[2018-05-30 08:45] 0xc0170 commented on #7013
@ARMmbed/mbed-os-tools @ARMmbed/team-st-mcd  Please review

[2018-05-30 09:55] mbedNoobNinja commented on #6990
Yes completely, close the issue. Thank you !

[2018-05-30 10:18] #6990 closed, assigned to nobody

[2018-05-30 12:18] #6986 closed, assigned to nobody

[2018-05-30 13:53] andrew-mclachlan commented on #6954
Hi @0xc0170 -
It is my understanding that CrossCore Embedded Studio (CCES) needs to handle pre-processing of LD scripts in order to support an ARM mbed project. I see that the GNU ARM Eclipse plugins pre-process the LD script. Therefore an update is needed to CCES in order for the exported Analog Devices COG mbed project to build with CCES.

[2018-05-30 14:32] theotherjimmy commented on #7048
@jflynn129 You cad remove anything that's a feature (scan rule wise, starts with FEATURE) with the configuration paramater `target.features_remove`.

[2018-05-30 14:34] theotherjimmy commented on #7041
That would fail CI at present. I need to push that cmsis-pack-manager update through first to get variant parsing.
*[Mirrored to Jira]*

[2018-05-30 14:35] theotherjimmy commented on #7013
@0xc0170 Can we get the nanostack people on the line to explain to me why they need a `.cfg` file?

[2018-05-30 15:48] deepikabhavnani commented on #7045
@bmcdonnell-ionx Thanks for reporting the issue. ~~I see a division function which can be easily optimized and removed for us wait. Does below code change help in reducing overhead?~~

[code]

My bad, didn't see the query is for ticker_read() taking long.

*[Mirrored to Jira]*

[2018-05-30 17:19] geky commented on #7010
The internals of mbed-os are built on C++ classes, so at some layer (maybe internally) there will be a C++ api.

The POSIX layer is it's own feature that (in theory) lets you easily add libraries written for the desktop to your application. It's been around since mbed got off the ground and extends to other less obvious features, such as support for printf and time functions.

Maybe it would help

[2018-05-30 17:23] geky commented on #6988
@0xc0170, should we be implementing this in our retarget layer?
*[Mirrored to Jira]*

[2018-05-30 17:57] ghost commented on #6988
IMO (for what it is worth), not having this functionality is a big miss for the Mbed-OS.  At the very least, it should pop out an '#error' saying that it isn't currently implemented and providing some info on how a user would implement on their own.  Leaving it for a user like me to figure out on their own is not good.
*[Mirrored to Jira]*

[2018-05-30 18:32] ghost commented on #7048
Thank you for the reply/answer.

[2018-05-30 18:32] #7048 closed, assigned to nobody

[2018-05-31 00:29] OscarGarciaF opened #7064 "Multiple SPIs on the same channel"
[X] Question
[ ] Enhancement
[ ] Bug

I'm trying to implement a datalogger on a SD card (using the standard sd-driver library) while communicating over the internet with a ethernet shield. Both of these devices uses SPI, their libraries have their own SPI instance and they are both connected on the same channel.

I know the two CS pins play a role in this but i cannot get them to work together on

[2018-05-31 05:00] TomoYamanaka opened #7065 "Fail only ARMCC of Cortex-A on Mbed OS that incorporated RTX5.3"
### Description
When using the latest Mbed OS on GR-PEACH or GR-LYCHEE, I faced the following behavior.
This issue seems that it occurs on **Cortex-A** and toolchain is **ARMCC** only.

- `SYNC_FAILED` is shown by mbed test for ARMCC
  Although I run the mbed test command of below, SYNC_FAILED will be shown from the first test.
   `$ mbed test -t ARM -m RZ_A1H`
  Log is here:
[SYNC_FAILED_mbed_tes

[2018-05-31 06:43] AnttiKauppila commented on #7017
Hi Rob,
Our MUX will be based on 27.010 supporting basic option and convergence layer type 1.
Will this be sufficient for your use cases?
We are checking the possibility to push this into a feature branch so you can start evaluating it before 5.11. We try to make this happen in following weeks.

[2018-05-31 08:29] maiorfi opened #7068 "mbed-cli export (UVISION) fails with "global name 'izip' is not defined""
### Description
mbed export -i UVISION fails with "global name 'izip' is not defined"

*(uing latest mbed-cli with anaconda python 2.7.13 interpreter)*

### Issue request type

 [ ] Question
 [ ] Enhancement
 [X] Bug

[2018-05-31 08:43] toyowata commented on #7068
@maiorfi I faced same issue with latest mbed-cli (v1.7.1).  You can try to downgrade the mbed-cli as workaround.

[code]

[2018-05-31 08:44] toyowata commented on #7068
https://github.com/ARMmbed/mbed-cli/issues/684

[2018-05-31 10:51] kivaisan commented on #6850
Any plans for this?

This is really problematic with greentea (I again spend some time to investigate why my test stops but actually it was again a hidden assert).
*[Mirrored to Jira]*

[2018-05-31 10:57] #7068 closed, assigned to nobody

[2018-05-31 11:08] pan- opened #7069 "Cryptocell 310 doesn't work on NRF52840_DK"
### Description

When I do compile with GCC for the NRF52840, the function `trng_get_bytes` present in the crypto cell features never returns when it calls [`LLF_RND_GetTrngSource`](https://github.com/ARMmbed/mbed-os/blob/master/features/cryptocell/FEATURE_CRYPTOCELL310/trng.c#L68).

With the help of the debugger I'm able to see that the application is actually stuck in a loop in the function `LLF

[2018-05-31 11:56] pilotak opened #7071 "LWIP MQTT"
### Description
Hello i'm trying to connect with LWIP stack and its MQTT app (which look perfect as it uses callbacks) to server. The problem is that it doesn't compile because `"mbed-os\features\FEATURE_LWIP\lwip-interface\lwip\src\apps\mqtt\lwip_mqtt.c` doesn't get included.

[code]

here is the error
[code]

I have to say that there is a big lack of documentation regarding LWIP, I know that the

[2018-05-31 13:23] pan- commented on #7069
@RonEld

[2018-05-31 13:45] RonEld commented on #7069
@pan- thank you for pointing to the leftover. It's probably a bug in the rebasing I have done.

[2018-05-31 14:12] RonEld commented on #7069
@pan- could you mention how you reproduce this issue?
Have you called `mbedtls_platform_setup()` before the calls to Mbed TLS and `mbedtls_platform_teardown()` at the end?

[2018-05-31 15:13] donatieng commented on #7043
Thanks for identifying this @lrusinowicz - fix is on the way

[2018-05-31 15:31] donatieng commented on #7043
#7075 should fix it!

[2018-05-31 19:00] OscarGarciaF commented on #7064
For more info check the issue on the  sd-driver repo:  https://github.com/ARMmbed/sd-driver/issues/100#

[2018-05-31 20:31] bmcdonnell-ionx opened #7077 "make .mbedignore more like .gitignore"
### Description
Change suggestions to make `.mbedignore` more like `.gitignore`:
1. Make leading slash anchor to the pattern to the current directory. i.e. `/mydir/` matches `./mydir/`, but not `./other/mydir/`; `mydir/` matches either/both.
2. `!` prefix negates a pattern.

### Issue request type
[ ] Question
[X] Enhancement
[ ] Bug

[2018-05-31 21:16] deepikabhavnani commented on #7064
@ithinuel
Are you aware of any limitation/issues with SPI when shared by two instances with different CS?

[2018-05-31 22:20] ithinuel commented on #7064
What seems fine is to share a single SPI channel between threads as long as they only use the synchronous part of the API.
I am not familiar enough yet with mbed's API to tell whether the async API is thread safe or not.

[2018-05-31 22:43] OscarGarciaF commented on #7064
Insufficent stack size of the thread made it hang. I guess since one hanged it made the SD spi fail too.
I allocated more memory and it works now, thanks for the help

[2018-05-31 22:43] #7064 closed, assigned to nobody

[2018-06-01 08:07] janjongboom opened #7083 "NUCLEO F446RE triggers interrupt directly even without SysTick and IRQs disabled"
### Description

On Mbed OS 5.8.5.

I'm trying to wait for an interrupt from the RTC, but `__WFI` immediately returns, even with the SysTick disabled and calling `__disable_irq` right before. This is my code:

[code]

WFI immediately returns and the LED is turned off. I have no idea where this interrupt would come from. This blocks me from turning this board into sleep (because it waits for an int

[2018-06-01 08:33] LMESTM commented on #7083
@janjongboom - I guess you tried it first, but can you confirm that the same happen if you call sleep() ?
Also I'm wondering whether the mbed ticker wouldn't fire anyway ...  Tickless support is planned for 5.9 release.

[code]

[2018-06-01 08:53] pan- commented on #7069
@RonEld Thanks for pointing out the functions to use unfortunately the implementation will not scale well with libraries.

In my case, BLE, some crypto operations may be done by the controller attached to the board or by mbedtls so we can't ask users to perform blindly a tls platform setup and teardown as we don't want to pay for code that we don't use.

As a consequence the setup and teardown ope

[2018-06-01 11:50] ciarmcom commented on #7069
ARM Internal Ref: IOTSSL-2334

[2018-06-01 11:52] janjongboom commented on #7083
@LMESTM Yes, I found the issue because my device did not want to sleep, so I dissected what the sleep API was doing.

[2018-06-01 12:57] drahnr opened #7085 "custom_targets.json target_overwrites ignored"
### Description

GCC_ARM
mbed-cli 1.7.2
mbed-os 5.7.7 + patches for NVStore support

[code]

[code]

### Issue request type
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-01 14:12] bcostm commented on #6955
Can you please verify if this PR solves your issue ? and close it if ok. Thanks

[2018-06-01 15:06] cmonr commented on #7085
@drahnr What's the actual bug?

Also, what OS is this on?
*[Mirrored to Jira]*

[2018-06-01 15:50] ciarmcom commented on #7083
ARM Internal Ref: MBOTRIAGE-2

[2018-06-01 15:50] ciarmcom commented on #7071
ARM Internal Ref: MBOTRIAGE-4

[2018-06-01 15:50] ciarmcom commented on #7065
ARM Internal Ref: MBOTRIAGE-5

[2018-06-01 15:50] ciarmcom commented on #7046
ARM Internal Ref: MBOTRIAGE-7

[2018-06-01 15:50] ciarmcom commented on #7043
ARM Internal Ref: MBOTRIAGE-9

[2018-06-01 15:50] ciarmcom commented on #7038
ARM Internal Ref: MBOTRIAGE-11

[2018-06-01 15:50] ciarmcom commented on #7037
ARM Internal Ref: MBOTRIAGE-12

[2018-06-01 15:50] ciarmcom commented on #7025
ARM Internal Ref: MBOTRIAGE-14

[2018-06-01 15:51] ciarmcom commented on #7013
ARM Internal Ref: MBOTRIAGE-15

[2018-06-01 15:51] ciarmcom commented on #7006
ARM Internal Ref: MBOTRIAGE-17

[2018-06-01 15:51] ciarmcom commented on #6982
ARM Internal Ref: MBOTRIAGE-19

[2018-06-01 15:51] ciarmcom commented on #6955
ARM Internal Ref: MBOTRIAGE-23

[2018-06-01 15:51] ciarmcom commented on #6954
ARM Internal Ref: MBOTRIAGE-24

[2018-06-01 15:51] ciarmcom commented on #6943
ARM Internal Ref: MBOTRIAGE-25

[2018-06-01 15:51] ciarmcom commented on #6934
ARM Internal Ref: MBOTRIAGE-27

[2018-06-01 15:51] ciarmcom commented on #6930
ARM Internal Ref: MBOTRIAGE-28

[2018-06-01 15:51] ciarmcom commented on #6924
ARM Internal Ref: MBOTRIAGE-29

[2018-06-01 15:51] ciarmcom commented on #6920
ARM Internal Ref: MBOTRIAGE-30

[2018-06-01 15:51] ciarmcom commented on #6916
ARM Internal Ref: MBOTRIAGE-31

[2018-06-01 15:51] ciarmcom commented on #6909
ARM Internal Ref: MBOTRIAGE-32

[2018-06-01 15:51] ciarmcom commented on #6900
ARM Internal Ref: MBOTRIAGE-33

[2018-06-01 15:51] ciarmcom commented on #6898
ARM Internal Ref: MBOTRIAGE-35

[2018-06-01 15:52] ciarmcom commented on #6895
ARM Internal Ref: MBOTRIAGE-37

[2018-06-01 15:52] ciarmcom commented on #6873
ARM Internal Ref: MBOTRIAGE-40

[2018-06-01 15:52] ciarmcom commented on #6868
ARM Internal Ref: MBOTRIAGE-42

[2018-06-01 15:52] ciarmcom commented on #6861
ARM Internal Ref: MBOTRIAGE-43

[2018-06-01 15:52] ciarmcom commented on #6858
ARM Internal Ref: MBOTRIAGE-44

[2018-06-01 15:52] ciarmcom commented on #6853
ARM Internal Ref: MBOTRIAGE-45

[2018-06-01 15:52] ciarmcom commented on #6840
ARM Internal Ref: MBOTRIAGE-48

[2018-06-01 15:53] bmcdonnell-ionx commented on #7045
Correct.
*[Mirrored to Jira]*

[2018-06-01 21:48] donatieng commented on #6858
@s4y this should be fixed by f7f1272647ed5776eb77986bdad67b66e3d3f6e6.

[2018-06-01 22:54] OscarGarciaF opened #7091 "Truncate with littlefs"
How may i truncate with the littlefs?

I see that lfs.cpp has the method defined but LittleFileSystem.cpp does not have a file_truncate method
how may i accomplish this?

Also may i know what's the maximum size of a file in the littlefs?
@geky

[2018-06-02 06:25] janjongboom commented on #6988
@jflynn129 I completely agree. Anyway for a millisecond counter, use `rtos::Kernel::get_ms_count()`.
*[Mirrored to Jira]*

[2018-06-02 08:24] drahnr commented on #7085
None of the `target_overwrites` work, they are not evaluated as expected and the generated `mbed_config.h` contains default values i.e. for `nvstore.max_keys` and not the increased number as given in the custom target.
*[Mirrored to Jira]*

[2018-06-02 08:25] drahnr commented on #6916
Can I put the tree regarding `TARGET/NRF5/MY_TARGET/{device.h,PinNames.h}` anywhere or does it have to reside in the `mbed-os` folder?

[2018-06-02 09:32] janjongboom commented on #7083
So on Mbed OS master (rev 8c26e463ae9e160e89fec1bd95af8c8d92d9d8d1) the problem is still there. I have enabled tickless mode, and even call `OS_Tick_Disable();` before the `__WFI()` and the problem still persists.

[2018-06-02 17:43] RaEyE commented on #7077
I'd also would like to suggest to implemt the possibility to refer to subdirectories.
This would be convenient for projects not relying on the standard mbedOS projectstructure includeing the mbed-os folder directly as part of the project.

Currently we do use projects, used with Keil as offline toolchain, structured as followed:
[code]

Lets say the folder submodule contains files of the original

[2018-06-03 00:54] #7043 closed, assigned to nobody

[2018-06-03 07:33] vsupacha opened #7093 "LoRaWAN stack: get_channel_plan() work incorrectly"
### Description
LoRaWAN stack of mbed os 5.8.5 exported to Keil
DISCO_L072CZ_LRWAN1 board
AS923 frequency band
Connect to loriot.io server using the RisingHF gateway with packet forwarder V1 protocol

### Issue request type
Executing get_channel_plan() in CONNECTED and TX_DONE events return an incorrect list of channel parameters.
[code]
Expected result:
Number of channels: 8
frequency: 923.2MHz t

[2018-06-03 07:50] ciarmcom commented on #7093
ARM Internal Ref: MBOTRIAGE-400

[2018-06-03 12:28] pilotak commented on #7071
temporary fix is to include it as an absolute path
[code]

[2018-06-03 13:57] dannybenor commented on #6955
@dhwalters423 Can you please review?

[2018-06-03 16:04] vsupacha commented on #7093
Using Keil debugger, I found that the problem is from LoRaPHY::add_channel() method. Line 1344 calls memcpy() to transfer channel setting to internal array variables phy_params.channels.channel_list[]. This method is invoked during OTAA confirmation stage. Therefore, it may be the problem from the loriot.io server, but I can not access other network server to confirm now.
![clipboard01](https://us

[2018-06-03 16:17] vsupacha opened #7096 "Wrong processor when export DISCO_L072CZ_LRWAN1 program as Keil project"
### Description
mbed os 5.8.5
DISCO_L072CZ_LRWAN1

### Issue request type
Using DISCO_L072CZ_LRWAN1 as hardware, when an mbed program is exported as a Keil project. The hardware setting is STM32L072CZ which is not matched with the real MCU (STM32L072CZYx) of the DISCO_L072CZ_LRWAN1 board. So I have to re-select the processor in Pack Installer when the Keil project is opened for the first time.

[

[2018-06-03 19:50] ciarmcom commented on #7096
ARM Internal Ref: MBOTRIAGE-404

[2018-06-04 03:06] s4y commented on #6858
Thank you! In the mean time I started porting my (small) project to the Nordic SDK because I want to play with other features like OTA updates without thinking about whether mbed supports them. So, I’ll close this issue, but will let you know if I run into any fallout if I try mbed again!

[2018-06-04 03:06] #6858 closed, assigned to nobody

[2018-06-04 07:36] LMESTM commented on #7083
@janjongboom One more question : is this STM32 specific ?
I don't know how mbed scheduling work but from my experiments, this is the timer interrupt that wakes-up the MCU from WFI. I'm not clear why we can't prevent it with a call to __disable_irq

[2018-06-04 07:55] RonEld commented on #7069
@pan- I have added a reference counter for these functions, in #7099 that should now fit your needs.
Now BLE whould be ale to setup \ teardown the platform without interrupting application module.

Will this fit your needs?

[2018-06-04 08:17] drahnr commented on #6916
Also: The above also does not work for using it from within a `custom_targets.json` - see #7085

[2018-06-04 08:18] drahnr commented on #7085
I just checked out 5.9.rc1 and the issue is still there:

[code]
has to be placed in `mbed_app.json`  - `custom_targets.json` does NOT work.

X-Ref: https://github.com/ARMmbed/mbed-os/issues/6916
*[Mirrored to Jira]*

[2018-06-04 08:58] pan- commented on #7038
@mattbrown015 Have a look at [`ScopedLock`](https://github.com/ARMmbed/mbed-os/blob/master/platform/ScopedLock.h)

[2018-06-04 09:03] soleilplanet opened #7101 "mbed cli export error on Python3"
### Description
During MbedOS 5.9 OOB, when the default python is Python 3 (3.6.3) with mbed-cli 1.7.2, mbed cli will give a 'bad escape' error in the script file when performing 'mbed export'
Note that this is not seen with mbed-cli 1.7.1, but with 1.7.1, there is another issue of not recognizing izip, which is not seen in 1.7.2.
Also note that the 'izip not being recognized' problem is also seen

[2018-06-04 11:50] ciarmcom commented on #7101
ARM Internal Ref: MBOTRIAGE-409

[2018-06-04 12:18] ytsuboi opened #7104 "The accessibility on cellular feature."
### Description

Hi @jarvte
When I tried to add an new cellular target, I thought about to inherit and override some functions. But some member function such as set_context_to_be_activated() are private. Are there any reason to make this private?

[x] Question
[ ] Enhancement
[ ] Bug

[2018-06-04 12:34] 0xc0170 commented on #7104
cc @ARMmbed/mbed-os-wan Please review

[2018-06-04 13:38] bcostm commented on #7096
Same as Issue #7041

[2018-06-04 13:40] bcostm commented on #6955
@0xc0170 can you please add the `device: st` label ?

[2018-06-04 14:50] kjbracey commented on #7071
That lwIP applications folder is part of the main upstream lwIP codebase, so it appears here along with the rest of the lwip code, but is not intended to be built as part of mbed OS. That's why it's listed in an ".mbedignore" file.

mbed OS has an abstraction layer for its network stacks, and supports many devices that don't use lwIP, so anything lwIP-specific is kind of out of the domain of mbed

[2018-06-04 14:58] cmonr commented on #7101
@soleilplanet Thanks for the issue report.

The izip issue was an artifact of an incomplete string replace. Will look into this today.

[2018-06-04 15:17] cmonr commented on #7077
@theotherjimmy
*[Mirrored to Jira]*

[2018-06-04 15:41] theotherjimmy commented on #7077
@RaEyE Given that you have 2 mbed-os's in that project, could you clarify which one you would expect to be ignored?
*[Mirrored to Jira]*

[2018-06-04 15:43] theotherjimmy commented on #7077
@bmcdonnell-ionx We can extend the patterns to include negations, if you would find that useful. I'm not so sure about 1; that has the potential to break current projects.
*[Mirrored to Jira]*

[2018-06-04 15:50] ciarmcom commented on #7104
ARM Internal Ref: MBOTRIAGE-411

[2018-06-04 16:01] AnttiKauppila commented on #7104
Hi @ytsuboi This is an internal function and therefore private, you should override activate_context() instead (which is calling set_context_to_be_activated()).

[2018-06-04 16:32] #7104 closed, assigned to nobody

[2018-06-04 16:40] cmonr commented on #7096
Closing since this is a duplicate.

[2018-06-04 16:40] #7096 closed, assigned to nobody

[2018-06-04 16:46] geky commented on #7091
Hi @OscarGarciaF, you will need a `file_truncate` function that calls into littlefs like this:
[code]

Sorry about all the hoops you've been having to jump through, truncate was added very recently and you've probably noticed it's not integrated into Mbed OS yet.

Files in littlefs limited by a 32-bit file size. So ~4GB.

(related: https://github.com/ARMmbed/mbed-os/issues/7010)
*[Mirrored to Jira

[2018-06-04 16:50] AnttiKauppila commented on #7093
@kivaisan, @hasnainvirk Can you check and verify this behaviour?

[2018-06-04 17:24] mattbrown015 commented on #7038
Thanks, that's is what I was looking for.

It is sometimes difficult to see what's right in front of you!

I'm still wondering about C++11 (or even C++14) but that is probably a different question for a different place.

[2018-06-04 17:24] #7038 closed, assigned to nobody

[2018-06-04 18:12] AnttiKauppila commented on #7093
Hi @vsupacha The first 2 values are defaults but clearly the 3rd item looks wrong.
Do you have a logs for "freq":923.0(00000)? Just would like to get more information for this. This looks like an indexing error at first glance so more logs might open this up.

[2018-06-04 19:54] dhwalters423 commented on #6955
#7088 reviewed and tested, thank you @bcostm

[2018-06-04 19:54] #6955 closed, assigned to 0xc0170, dannybenor, davidsaada

[2018-06-04 20:02] pilotak commented on #7071
I thought that using `easy_cellular` (which is a new class) i'm incorporating LWIP stack and therefore it's good idea to use built in MQTT client. MQTT library from paho didn't work with easy_cellular as it got stuck somewhere in library and also it was blocking and non callback friendly.

[2018-06-04 21:23] janjongboom commented on #7083
@LMESTM Yes this is STM32 specific... As far as I know the timer interrupt needs to be set up by the HAL too (but I'm not a core OS engineer).

[2018-06-04 22:57] cmonr commented on #7101
@soleilplanet If you could test this PR to confirm things have been resolved, that would be great. I'm in the process of generating the final test result log.

https://github.com/ARMmbed/mbed-os/pull/7111

[2018-06-05 02:57] cmonr opened #7112 "GCC Windows export does not build as of #6577"
### Description

When attempting to build an exported GCC project, the Makefile generated is now so large that the link step fails to link all files because the command is too long to be run successfully (all files are linked in one command).

Mbed CLI and Pip are at their latest versions. Issue is independent of Python versions and the target specified.

### Steps to reproduce
[code]

### Files
A

[2018-06-05 03:20] vsupacha commented on #7093
By enabling trace, I can confirm that the channel index 2 does have the effect on the operation of LoRaWAN stack.
1. after the transmit is scheduled and next channel index is 2 (923.0MHz as configured in channel plan), the transmit will not get ACK and fallback to default channel (923.2MHz)
2. on the gateway side, no acknowledge is done.
I have marked the location of event as bold characters.

##

[2018-06-05 03:26] vsupacha commented on #7093
I have added get_channel_plan() code just after lorawan.connect() line. It is proved that the updating is done after OTAA join success. I am not sure if the problem may arise from the response from loriot.io server or the decoding of CF list in the stack. I will cross-post this issue to loriot side as well.

(10:24:05.641) <CR><ESC>[2K<ESC>[90m[DBG␣][LSTK]:␣Initializing␣MAC␣layer<ESC>[0m
(10:24:05

[2018-06-05 03:50] ciarmcom commented on #7112
ARM Internal Ref: MBOTRIAGE-415

[2018-06-05 04:24] flipflop22 opened #7114 "TCPsocket connect() error after close()."
### Description
I have been making a code with TCPsocket API. After I create a WIFI interface, socket.open() --> socket.connect() is working. But after I socket.close(), then I try to re-open socket.open(), then connect() always been error

### Issue Type

[x] Question
[ ] Enhancement
[ ] Bug

[2018-06-05 05:14] soramame21 opened #7115 "test: some cases are failing with GCC_ARM only over TMPM066 (M0)"
### Description

Following cases failed on TMPM066. those cases were not created on mbed-os-5.8.2 at all.
Those binaries built with ARM or IAR had passed with no error, but those binaries built with GCC_ARM got failed for memory allocation on each case.

- features-tests-filesystem-buffered_block_device
- features-tests-filesystem-heap_block_device
- features-tests-filesystem-mbr_block_device
- fe

[2018-06-05 07:42] hasnainvirk commented on #7093
@vsupacha There can be 5 channels configured in AS923 using a CFList. Two channels are default channels (always enabled.). So you have 7 channels to play with. Default channels always occur in the beginning of the channel list.

The channel 92300000 (ID=2) is received in the CFList, so most probably the bug lies with Loriot. I am unable to locate a discrepancy in our side. Please ping me if you fi

[2018-06-05 07:50] ciarmcom commented on #7114
ARM Internal Ref: MBOTRIAGE-418

[2018-06-05 09:14] vsupacha commented on #7093
@hasnainvirk I also think that it is the CF list problem from the Loriot server. So I sent the bug report to their server already.

At present, I would like to close this issue. BTW, the assertion of channel plan information would be good, because band and RX1 frequency information are absent as well.

[2018-06-05 09:14] #7093 closed, assigned to nobody

[2018-06-05 09:20] 0xc0170 commented on #7114
The issue report is missing some vital information: Mbed OS version, target, code snippet how to reproduce this issue locally.

[2018-06-05 09:40] #7006 closed, assigned to nobody

[2018-06-05 10:21] mirelachirica opened #7118 "ARMC6 - Out of heap memory"
### Description
Application, built with ARMC6 compiler for MTB_ADV_WISE_1570 target, runs into "SIGRTMEM: Out of heap memory". Same problem is not seen if application is built with GCC_ARM, IAR or ARM verison 5.

---------------------------------------------------------------
## Bug

**Target**
MTB_ADV_WISE_1570

**Toolchain:**
ARMC6

**Toolchain version:**

**mbed-cli version:**
1.6.0

**mbed-os

[2018-06-05 10:33] RobMeades commented on #7017
Hi Antti: I've asked the guy who asked me about this if he had resource to take a look at your earlier delivery but he said he hadn't.  Do let me know if you push something though and we'll see if we can find someone to have a poke at it.

[2018-06-05 11:47] RaEyE commented on #7077
@theotherjimmy Usually there aren't multiple mbed-os folders. If there are they usually are marked by a nameaddtion. e.g. `mbed-os_v157`.

The actual differentiation between mbed-os folder is done during the export for an offline-toolchain.
Give the folder-structure mentioned above, an export would be initiated by calling the mbed `project.py` script as follows:

`..\mbed-os\tools\project.py -m NU

[2018-06-05 11:49] LMESTM commented on #7083
@janjongboom  It's surprising because tickless has been tested fine during last workshop so I was expecting this is the cause.  I will need some time to instrument, test further and dig into that ... will keep you posted

[2018-06-05 11:50] ciarmcom commented on #7118
ARM Internal Ref: MBOTRIAGE-420

[2018-06-05 12:14] SeppoTakalo commented on #7112
Duplicate of:
* https://github.com/ARMmbed/mbed-os/issues/6335
* https://github.com/ARMmbed/mbed-os/issues/6861

[2018-06-05 12:35] 0xc0170 commented on #7114
Please reopen with an update

[2018-06-05 12:35] #7114 closed, assigned to nobody

[2018-06-05 12:55] SeppoTakalo commented on #7114
Also, sequence `open()` -> `close()` -> `open()` is already tested in https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/tcp/tcpsocket_open_close_repeat.cpp

[2018-06-05 12:57] SeppoTakalo commented on #7114
@flipflop22 You you can provide some example code, I'm happy to verify this.

Otherwise it sounds like a perfectly fine code that should work. However, there are external IP stacks, and drivers that still fail on some basic cases, so without knowing the platform and Mbed OS version, I cannot confirm this.

[2018-06-05 13:42] cmonr commented on #7112
Closing due to duplicate issue.

[2018-06-05 13:42] #7112 closed, assigned to nobody

[2018-06-05 14:32] AnttiKauppila commented on #7017
Hi Rob, Sure thing

[2018-06-05 14:36] drahnr opened #7125 "NRF52832 .noinit section is fixed size and only 0xDC of size"
### Description

* What target does this relate to? NRF52832
* What toolchain (name + version) are you using? GCC
* What tools (name + version - is it mbed-cli, online compiler or IDE) are you using? 1.7,2
* What is the SHA of Mbed OS (git log -n1 --oneline)? 5.9.1 rc1
6817dc43f9f5216cbe077059fc561fa89a766dc9

The NRF52 as of at least 5.9-rc1 has very small .noinit section defined.

This conflicts

[2018-06-05 14:43] theotherjimmy commented on #7077
@RaEyE So could you give an example of an `.mbedignore` usage that you expect to work in one way, from `.gitignore` experience, but works another way?
*[Mirrored to Jira]*

[2018-06-05 15:36] drahnr opened #7126 "How to use custom linker script with mbed-cli?"
### Description
mbed-os 5.9.1-rc1
mbed-cli 1.7.2

Trying to use a custom linker file always fails:
Just placing it under my custom target dir still yields the issue as described in https://github.com/ARMmbed/mbed-cli/issues/687 and https://github.com/ARMmbed/mbed-os/pull/6914

Also trying to explicitly set the linker file via the cmd line opt `-l` fails the same way:
[code]

The underlying questio

[2018-06-05 15:39] RaEyE commented on #7077
An example would be this. (Again under the assumption mentioned folderstructure is still in use).

A `.mbedignore` placed at `projects/project01/submodule/` containing the instruction to ignore all files containing `stm32xx_emac.c` or `stm32xx_emac.c` in their name/path.

Due to the `.mbedignore` system adding the actual subpath (e.g. `projects/project01/submodule/`) in front of the lines stored i

[2018-06-05 15:50] ciarmcom commented on #7126
ARM Internal Ref: MBOTRIAGE-422

[2018-06-05 15:50] ciarmcom commented on #7125
ARM Internal Ref: MBOTRIAGE-423

[2018-06-05 15:50] davidsaada commented on #7046
Created PRs [#7127](https://github.com/ARMmbed/mbed-os/pull/7127) and [#7128](https://github.com/ARMmbed/mbed-os/pull/7128) to fix this issue. First one is mandatory, second one is optional (but recommended).

[2018-06-05 15:56] theotherjimmy commented on #7077
This is true, so

Is not going to happen, without having a directory above the directory include an `.mbedignore` file.

Instead, you might be able to avoid duplicating mbed-os.
*[Mirrored to Jira]*

[2018-06-05 15:59] RaEyE commented on #7077
That's the point, I'm not.
The was, is, and will be only one mbed-os folder.
*[Mirrored to Jira]*

[2018-06-05 16:09] dlfryar-zz opened #7129 "mbed-cli build path exceeds Windows command line argument sting length"
### Description

Building mbed-cloud-client-example and possibly other projects that have lots of source files overruns the Windows command line argument sting length of 32k.  Targets like Nordic where the peripheral feature set is broken down to separate directories (e.g. mbed-os/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_SDK_14_2/drivers_nrf/*) exacerbate this problem and make it more noticeable

[2018-06-05 16:10] theotherjimmy commented on #7077
My mistake. I saw the `mbed-os.lib` and assumed you were using mbed-cli to get depnednecies. You could work around this with a symlink. Otherwise we don't know which source directory is the "project root" and what the path to the other dir should be named in the `.mbedignore` file.
*[Mirrored to Jira]*

[2018-06-05 16:11] dlfryar-zz commented on #7129
cc: @bridadan @theotherjimmy @surajdagar @bentcooke

[2018-06-05 16:17] RaEyE commented on #7077
Yeah I guess, that's the actual problem.
For now, if I wan't to exclude files directly from beeing imported right of mbed-os to the project, I remove them afterwards. Not ideal, I know, but for only a few files I at least works. (As long as I don't forget to do so :) ).
*[Mirrored to Jira]*

[2018-06-05 16:18] surajdagar commented on #7129
After adding below in .mbedignore It compiled but break the UART.

source/platform/linux/
source/platform/freertos/
_K64F_FreeRTOS_mbedtls/
mbed-os/features/lorawan/
mbed-os/features/nanostack/mbed-mesh-api/
mbed-os/features/nanostack/sal-stack-nanostack/source/
mbed-os/features/nanostack/sal-stack-nanostack/docs/
mbed-os/features/nanostack/sal-stack-nanostack/doxygen/
mbed-os/features/nanostack/t

[2018-06-05 16:23] theotherjimmy commented on #7077
It's hard to follow git's example on this one, as by definition git always has a "project root" and all paths make sense from that.
*[Mirrored to Jira]*

[2018-06-05 16:36] soleilplanet opened #7130 "online IDE fail to build BLE example during v5.9 OOB campaign"
### Description
During v5.9 OOB campaign, when trying to build mbed-os-example-ble/BLE_SM with online IDE on target nrf52_dk, it failed with error message:
"Error: Attempt to override undefined parameter 'platform.stdio-baud-rate' in 'application[*]'

### Issue request type
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-05 16:40] RaEyE commented on #7077
Following the usual way of exporting project for an offline toolchain by mbed-cli or exporting them from the online-compiler this makes sense, yes, perfectly fine.

But for an environment completely set up to be used with a offline toolchain from the beginning to the end and multiple projects, I find it unnecessary to keep a mbed-os in each project folder. Therefore the attempt to move mbed-os out

[2018-06-05 16:51] theotherjimmy commented on #7077
I had momentarily forgotten about the `.mbed` file. Good catch. I'm not sure about the proposed `.mbedignore` syntax, as the tools don't know that you're describing mbed-os in that `--source` parameter.
*[Mirrored to Jira]*

[2018-06-05 16:56] theotherjimmy commented on #7130
@soleilplanet The parameter in question: https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_lib.json#L19-L22

Should be available to override.

[2018-06-05 16:59] ashok-rao commented on #7130
@donatieng ..any thoughts on this?

[2018-06-05 17:00] donatieng commented on #7130
@soleilplanet @theotherjimmy Just tested here, works well - could you please retest @soleilplanet ?

[2018-06-05 17:00] donatieng commented on #7130
Are you on the beta website @soleilplanet ?

[2018-06-05 17:01] janjongboom commented on #7083
@LMESTM So I've been testing this on NUCLEO-F446RE and NUCLEO-F411RE on Mbed OS 5.9 in tickless and non-tickless mode... The F411RE actually works fine in tickless mode (not in non-tickless mode, which I think is a bug), but the F446RE jumps straight out of sleep in both modes. Here's my complete test program: https://github.com/janjongboom/stm32-sleep

Wondering what's different between these two

[2018-06-05 17:01] theotherjimmy commented on #7130
@soleilplanet I also cannot reproduce it on the beta website or on live os.mbed.com.

[2018-06-05 18:00] mmahadevan108 commented on #6943
I added the below 2 lines to the while loop and the data is received on the Slave side:
    while ( device.receive() )
    {
        retry = 1000;
        dataBlock.push_back( device.read() );
        **while ((device.receive() == 0) && retry) {
            retry--;
        }**
    }
Call to device.receive() is returning 0 as the SPI RX FIFO has not received data. This seems to be working as expec

[2018-06-05 19:09] bridadan commented on #7129
@marcuschangarm Flatenning parts of the nordic SDK port would help mediate this problem quite a bit. Specifically the `mbed-os/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_SDK_14_2/drivers_nrf/*` folders as mentioned by @dlfryar. What do you think?

[2018-06-05 19:50] ciarmcom commented on #7130
ARM Internal Ref: MBOTRIAGE-425

[2018-06-05 19:50] ciarmcom commented on #7129
ARM Internal Ref: MBOTRIAGE-426

[2018-06-06 02:59] flipflop22 opened #7134 "TCPsocket connect() error after close()."
### Description

I have been making a code with TCPsocket API. After I create a WIFI interface, socket.open() --> socket.connect() is working. But after I socket.close(), then I try to re-open socket.open(), then connect() always been error
  -target : UBLOX_EVK_ODIN_W2
  -toolchain: GCC ARM Embedded Toolchain
  -mbed-CLI
  -SHA : d18f86a

 Here is the main function()

	int count = 0;
    printf("

[2018-06-06 03:50] ciarmcom commented on #7134
ARM Internal Ref: MBOTRIAGE-429

[2018-06-06 08:50] JanneKiiskila opened #7137 "UBLOX_EVK_ODIN_W2 - IAR - hard faults with mbed-os-example-client & Mbed OS 5.9"
### Description

Code in: https://github.com/ARMmbed/mbed-os-example-client/tree/mbed-os-5.9.0-oob

[code]
Put in your WiFi SSID/password to `mbed_app.json`.
Replace `security.h` with the downloaded `security.h` from Mbed Connector.

[code]
Flash to device, start it.

- should run (GCC ARM, CC ARM versions do run & pass)
- IAR version crashes.

### Issue request type
    [] Question
    [ ] Enhanc

[2018-06-06 08:51] JanneKiiskila commented on #7137
@ARMmbed/team-ublox
@SeppoTakalo

[2018-06-06 09:07] drahnr opened #7138 "NRF52 without softdevice on 5.9-rc1 pin map issue"
### Description

  - What target does this relate to? NRF52_DK / NRF52832
  - What toolchain (name + version) are you using? GCC
  - What tools (name + version - is it mbed-cli, online compiler or IDE) are you using? mbed-cli 1.7.2 - mbed-os-5.9rc1
  - What is the SHA of Mbed OS (git log -n1 --oneline)? 6817dc43f
  - Steps to reproduce. (Did you publish code or a test case that exhibits the proble

[2018-06-06 09:16] 0xc0170 commented on #7129
There are at least 2 issues reported and currently opened. Thus this should be closed as duplicate and add the initial report to the opened one.

[2018-06-06 09:17] 0xc0170 commented on #7129
Duplicate of:

#6335
#6861

[2018-06-06 09:21] 0xc0170 commented on #7129
Flatenning just postpones the real issue. From experience, we get new features, targets hal folders - all these will extend the command length and will exceed the limit eventually.

[2018-06-06 09:24] 0xc0170 commented on #7126
This should be fixed soon (those misleading error msg). I tested building mbed 2 on 5.9 rc2 candidate.

https://github.com/ARMmbed/mbed-os/pull/7124 - this PR should fix it (one more commit to be added there).

[2018-06-06 09:30] drahnr commented on #7126
But this does not really fix the usecase of a custom linker file? Does it?

[2018-06-06 09:42] SeppoTakalo commented on #7137
CC: @KariHaapalehto please study.

[2018-06-06 10:18] 0xc0170 opened #7140 "Nucleo F0: rtc build failures"
### Description

To reproduce, use master as of today: ` 4fcaa56b7 - (HEAD -> master, upstream/master, origin/master, origin/HEAD) Merge pull request #6914 from 0xc0170/fix_build_notifier (18 hours ago) <Cruz Monrreal>`

`python tools\build.py -m NUCLEO_F031K6 -t GCC_ARM`

This results in

[code]

Even if I disable RTC for this nucleo target, I get more failures (seems like RTC STM32 implementatio

[2018-06-06 10:28] simonbutcher opened #7142 "DeviceKey made Mbed TLS Configuration changes that haven't been upstreamed"
### Description
PR  #6642 - "Device key implementation" made modifications to Mbed TLS configuration files (such as `features/mbedtls/inc/mbedtls/config.h`) but those modifications have not been upstreamed to the [Mbed TLS repository](https://github.com/ARMmbed/mbedtls), meaning when we import the next release of Mbed TLS, those changes will be lost.

This needs immediate correction to ensure the

[2018-06-06 10:39] pan- commented on #7125
Yes the `noinit` section only hold the [vector table](https://github.com/ARMmbed/mbed-os/blob/4fcaa56b773dd949516d82dc58f8e879fa3d4429/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/reloc_vector_table.c#L48-L56).

If you want to put vectors in another dedicated section with a different name; pull requests are welcome.

[2018-06-06 11:03] 0xc0170 commented on #7142
@yossi2le

[2018-06-06 11:18] asifrizwanubx commented on #7137
Tried to reproduce with the driver source code but didn't get the hard fault. We will look it soon.

[2018-06-06 11:32] SeppoTakalo commented on #7134
I cannot reproduce the problem described. See the log after found issues.

**Issues in the example:**
`while(0==sending(&wifi)){wait(0.5)};` is missing `;` after wait

`if(!serverAddr.set_ip_address("192.168.2.220"))printf("error setting address");` does not return, if there is error.

`if(0>socket.open(net)) printf("Error initialize port");` does not return in case of error.

**Log of running the

[2018-06-06 11:34] SeppoTakalo commented on #7134
Tested with Ublox EVK ODIN W2 and Mbed OS 5.8.6 using GCC

[2018-06-06 11:50] ciarmcom commented on #7142
ARM Internal Ref: IOTSSL-2345

[2018-06-06 11:50] ciarmcom commented on #7140
ARM Internal Ref: MBOTRIAGE-432

[2018-06-06 11:50] ciarmcom commented on #7137
ARM Internal Ref: MBOTRIAGE-434

[2018-06-06 12:09] flipflop22 commented on #7134
Hi Thanks for confirming.

Indeed, it looks like the server is problematic. It has been error after it try to accept incoming connection. The problem is with its socket abstraction layer (sal) stack.

Sorry for being out of topic. But does Arm Mbed still supports Mbed OS 3. The problem I have is that the in Mbed OS 5, ODIN-W2 does not have Access Point in C++. And if I am using Mbed OS 3, the sal

[2018-06-06 12:11] drahnr commented on #7125
Please see https://github.com/ARMmbed/mbed-os/pull/7145 I'd appreciate a review :)

[2018-06-06 12:13] drahnr commented on #7085
OS is Linux, Fedora 28 to be specific, using python 2.7.x
*[Mirrored to Jira]*

[2018-06-06 13:13] jeromecoutant commented on #7037
Hi

could we close the issue ?

 ST_TO_BE_CLOSED

Thx

[2018-06-06 13:45] yossi2le commented on #7142
@sbutcher-arm Hi,
I need just a short explanation of how to do it. What is the correct repository of the mbed-tls that i should fork from?

[2018-06-06 13:47] SeppoTakalo commented on #7134
What do you mean with Access Point?

Mbed OS have never supported access points, but we have C++ class named `WiFiAccessPoint` which is result of `WifiInterface::scan()` and holds information about found access points.

Mbed OS 3 is not anymore supported. All focus is now in Mbed OS 5.

When you refer to error, do you mean that the server is also Mbed OS application? Documentation has an example o

[2018-06-06 14:12] theotherjimmy commented on #7126
@drahnr it does fix the error, the custom linker scirpt thing is supposed to work, aside from that bug.

[2018-06-06 14:28] drahnr commented on #7126
@theotherjimmy thanks for clarifying, tracking that PR, thanks!

[2018-06-06 14:32] bridadan commented on #7129
Agreed that it postpones the problem, but seems like the real solution is to fundamentally change how our code is built, which will take some planning

[2018-06-06 15:01] theotherjimmy commented on #7126
@drahnr, @0xc0170 is mistaken, the PR he mentioned, #7124, has nothing to do with linker scripts. The PR that fixed it is #6914

[2018-06-06 15:29] jeromecoutant opened #7149 "FLASH test for small targets"
### Description

Let's take an example with NUCLEO_F410RB:
Flash organization is :
- 4 sectors of 16 Kbytes
- 1 sector of 64 Kbytes

flashiap test flash size is more than 48K
and this test is using the 2 last sectors (program across sectors test).

=> Test should can not be supported...

Is there a way to add a check, in the test, for the available flash size ?

### Issue request type

[ ] Questio

[2018-06-06 15:55] ciarmcom commented on #7149
ARM Internal Ref: MBOTRIAGE-507

[2018-06-06 17:32] flipflop22 commented on #7134
Ublox ODIN-W2 supports Access Point which is included in their stack in C.
There is an example using this in Mbed OS3, refer to:
https://github.com/u-blox/ublox-odin-w2-drivers-binary-mbed-3/tree/master/test/wifi-ap

So I create a TCPserver class replacing the UDPTimeClient in the example above using yotta module sockets (TCPstream and TCPlisten).  The Access Point is working, but there is problem

[2018-06-06 17:32] #7134 closed, assigned to nobody

[2018-06-06 21:59] janjongboom opened #7153 "All STM should have tickless mode enabled"
### Description

STM32 HAL should have low-power ticket enabled and have sleep enabled (it's the same file for all STM32 targets). Why is tickless mode not enabled by default for these devices?

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-06-06 22:01] janjongboom opened #7154 "wait locks deepsleep, Thread::wait does not"
### Description

In our docs (https://os.mbed.com/docs/v5.7/reference/sleep-manager.html) we state that when you call `wait` we automatically put the device in deep sleep. This is not true. For some reason `wait()` blocks deepsleep, but if you change it to `Thread::wait` it does not. Why?! This is super confusing. Why would there be two different behaviors when pausing a thread?

Then on non-RTOS

[2018-06-06 22:31] c1728p9 commented on #7154
There was a PR for this change but it was rejected since it breaks backwards compatibility:
https://github.com/ARMmbed/mbed-os/pull/6969
*[Mirrored to Jira]*

[2018-06-07 04:39] TomoYamanaka opened #7155 "Error occurs when building exported mbed-os programs on e2studio"
### Description

I faced the several build error when compiled the exported **mbed-os programs** on Renesas' IDE **e2studio**.
The build errors are a bit different by programs, but I frequently look messages such as "No such file or directory".

The procedure is as follows:
1. Export the program on Online Compiler
2. Build the exported program on e2studio

The error that is shown when building exp

[2018-06-07 07:23] 0xc0170 commented on #7126
Closing as resolved, please reopen if there is still a problem

[2018-06-07 07:23] #7126 closed, assigned to nobody

[2018-06-07 07:26] jeromecoutant commented on #7153
Hi

Maybe because ticker branch has been merged into master branch only 1 week ago...?

*[Mirrored to Jira]*

[2018-06-07 07:34] 0xc0170 commented on #7153
@janjongboom Have you checked latest master, or 5.9 release candidate (its on the 5.9 branch) ?
*[Mirrored to Jira]*

[2018-06-07 07:52] ciarmcom commented on #7155
ARM Internal Ref: MBOTRIAGE-568

[2018-06-07 09:02] asifrizwanubx commented on #7137
Internal u-blox ref: TE_OM2-197.

[2018-06-07 09:11] mattbrown015 opened #7156 "How to Achieve Long Periods of Deep Sleep on STM32"
### Description
I'm working on a battery a powered application and therefore power consumption is very important. Our board is based on a STM32L4.

I'm looking for a better description and/or an example of how to use Mbed OS with long periods of deep sleep because our application may may go hours or even days with nothing to do.

I've defined `MBED_TICKLESS` and I can see `deepsleep()` being calle

[2018-06-07 09:13] 0xc0170 commented on #7156
cc @ARMmbed/team-st-mcd

[2018-06-07 09:27] jeromecoutant commented on #7153
I have also understood from ARM that plan is to enable tickless automatically if sleep and lpticker is enabled ?
But maybe only for 5.10 ?

*[Mirrored to Jira]*

[2018-06-07 10:04] jarvte commented on #6979
@everhardt please test this fix: https://github.com/ARMmbed/mbed-os/pull/7160

[2018-06-07 10:58] kjbracey commented on #7154
I missed #6969 - I would have approved it with a mod to split long and short delay behaviour on the float version.

I don't think this long-running API glitch can be justified on backwards compatibility grounds - we do change bigger things in minor releases.

The most likely breakage would be people doing `wait_ms(1)` to get 1 milllisecond. If we change that to just ticks, they could get as little

[2018-06-07 11:01] kjbracey commented on #7154
No it can't, it spins and uses 100% CPU.

*[Mirrored to Jira]*

[2018-06-07 11:33] bcostm commented on #7156
Related issue #6081

[2018-06-07 11:52] ciarmcom commented on #7156
ARM Internal Ref: MBOTRIAGE-581

[2018-06-07 12:05] 0xc0170 commented on #7156
That is correct. For longer periods, we shall consider an enhancement to the current solution. What I did not understand was the difference between `MBED_CONF_TARGET_LOWPOWERTIMER_LPTIM` values, as asked above. 1 or 0.

The question is, how to achieve the longest sleep with the current solution we have, what are limitations for STM32L4 (or is this generic to any mbed target, no further limitation

[2018-06-07 14:07] mattbrown015 commented on #7156
I think that is the question I'm asking!

The related issue asks for a shutdown mode. I'm not bothered about selecting the shutdown low-power mode.  As I understand it, `hal_deepsleep()` is selecting stop 2 low-power mode for the STM32L4 and I think that will give us what we need; we just need to spend most of the time in stop 2.

[2018-06-07 14:12] drahnr opened #7165 "Cache is not invalidated for change in custom_targets.json"
### Description

- What target does this relate to? NRF52
- What toolchain (name + version) are you using? GCC
- What tools (name + version - is it mbed-cli, online compiler or IDE) are you using? mbed-cli --version 1.7.3
- What is the SHA of Mbed OS (git log -n1 --oneline)? 5.7.7 + NVStore

Changing  an attempted fix for an issue in mbed-cli, this commit

[code]

and then it got reverted.

[code]

[2018-06-07 15:09] #7101 closed, assigned to cmonr

[2018-06-07 16:50] NeilMacMullen opened #7168 "Serious regression on NRF52 idle power consumption"
The current 5.9RC( and head of master) show very poor power consumption when executing

  while (1) Thread::wait(5000);

The attached picture shows two traces on the same RF52 based hardware platform.  Idle power has increased from ~180uA to 6.4mA suggesting that the processor is not idling at all.

![image](https://user-images.githubusercontent.com/9131337/41114094-51e7e688-6a7b-11e8-8750-d4ab2d5

[2018-06-07 16:52] NeilMacMullen commented on #7168
Adding @MarceloSalazar and @marcuschangarm as interested parties.

[2018-06-07 19:52] ciarmcom commented on #7168
ARM Internal Ref: MBOTRIAGE-596

[2018-06-07 21:33] ghost commented on #7168
related? https://github.com/ARMmbed/mbed-os/issues/7154

[2018-06-08 04:36] soleilplanet commented on #7130
hi, I just deleted the project and re-do import again, this time it works.

[2018-06-08 07:52] 0xc0170 commented on #7130
Thanks for the update. Closing as resolved

[2018-06-08 07:52] #7130 closed, assigned to nobody

[2018-06-08 08:09] kjbracey commented on #7168
Don't think so. The lock discussed there has been present since 5.7.

Perhaps this is relevant: https://github.com/ARMmbed/mbed-os/pull/7073

[2018-06-08 08:43] 0xc0170 commented on #7168
👍  @maciejbocianski Can you confirm?

@NeilMacMullen Thanks for reporting

[2018-06-08 09:07] everhardt commented on #6979
@jarvte, thank you, that seems to work!

[2018-06-08 09:20] maciejbocianski commented on #7168
definitely, lack of #7073 cause this problem
`SLEEP` was disabled during HAL feature branches merging

[2018-06-08 12:18] 0xc0170 commented on #7168
@NeilMacMullen This should be fixed in 5.9.1 (3 patches are waiting for CI). You can cherry-pick 7073 (it has some dependencies on another 1-2 PR opened) to fix this and report back that is not causing any regression.

[2018-06-08 13:29] NeilMacMullen commented on #7168
I can confirm that https://github.com/ARMmbed/mbed-os/pull/7073/commits/f6d3058899636cfd22a8b6273f67e37fd55d24f9 does seem to fix the issue.

[2018-06-08 14:08] theotherjimmy commented on #7165
@drahnr Be aware that versions other than the most recent patch release cannot receive tools updates; I can't fix 5.7.x. Does this issue persist on master?
*[Mirrored to Jira]*

[2018-06-08 15:24] janjongboom commented on #7153
@0xc0170 I was using master.
*[Mirrored to Jira]*

[2018-06-08 22:20] Alex-EEE commented on #7156
I second needing an answer to this question.  We also want deep sleep for days at a time.

[2018-06-09 09:28] savent404 opened #7180 "Can we use GNU++11 as the GCC_ARM default standard"
### Description
- toolchain: ubuntu16.04 (arm-none-eabi-gcc 7.2.1 20170904 (release))

### Issue request type

[ ] Question
[ ] Enhancement
[ ] Bug

[2018-06-09 11:52] ciarmcom commented on #7180
ARM Internal Ref: MBOTRIAGE-625

[2018-06-10 07:42] dannybenor commented on #7149
@jeromecoutant I think there is no point allocating a sector for data in this limited board. I prefer that the test will fail to indicate that.

[2018-06-10 13:04] davidsaada commented on #7149
@jeromecoutant Not sure I understand the problem. The cross sector test doesn't allocate memory of sector sizes, but of program size (page size). Here the test allocates 2*page_size. Don't know how much it is in this board, but it should be much smaller than the sector size.
Is this a failing test, or is it based on reviewing the code?

[2018-06-11 08:58] jeromecoutant commented on #7149
Hi

Yes, tests-mbed_hal-flash is OK
But tests-mbed_drivers-flashiap is not :-(

        test case: 'FlashIAP - init' ................................................................. OK in 0.04 sec
        test case: 'FlashIAP - program' .............................................................. OK in 2.23 sec
        test case: 'FlashIAP - program across sectors' .............................

[2018-06-11 09:11] davidsaada commented on #7149
Very strange. If page_size is 1, then it means that the test allocates 2 bytes for program data (as you can see [here](https://github.com/davidsaada/mbed-os/blob/c8bd08f60e9d65bdec68dd3c5c45897f9ddb1c9b/TESTS/mbed_drivers/flashiap/main.cpp#L111) and then another 2 bytes for reading the flashed data. Can you paste the output telling why the test fails?

[2018-06-11 09:15] jeromecoutant commented on #7149
But programming is erasing all at line 102 ?

Test is failing with an hardfault:

[1528707204.19][CONN][RXD] ++ MbedOS Fault Handler ++
[1528707204.19][CONN][RXD]
[1528707204.20][CONN][RXD] FaultType: HardFault

[2018-06-11 09:27] davidsaada commented on #7149
Erasing doesn't allocate the full sector size - it just issues an erase command to the flash. Here (line 102), the test erases the two sectors under test. You can see that the error is a hard fault and not an allocation problem. I'll try to investigate this problem - maybe there's a problem in the address/size calculation.

[2018-06-11 09:27] RobMeades opened #7181 "Cellular API: purpose of get_max_packet_size()"
### Description

The new cellular API, in its `AT_CellularStack` class, includes the method [get_max_packet_size()](https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/AT/AT_CellularStack.h#L111).  What is the purpose of this method?  I ask because, in the u-blox modem implementation, the answer is different for UDP versus TCP:

1.  A UDP packet passed into the `sendto()` ca

[2018-06-11 11:26] 0xc0170 commented on #7180
Thanks for the request. There has been similar requests in the past. Here : https://github.com/ARMmbed/mbed-os/issues/5507

This is considered duplicate and will be closed, Please refer to the issue 5507.

To answer the question here, all toolchains should have this set equally. Thus IAR and ARMCC need to switch as well. More details are in the 5507 (what we need to do to make it happen).

[2018-06-11 11:26] #7180 closed, assigned to nobody

[2018-06-11 11:52] ciarmcom commented on #7181
ARM Internal Ref: MBOTRIAGE-650

[2018-06-11 14:00] davidsaada commented on #7149
Sorry for the misunderstanding. Programming doesn't erase all, but the last two sectors. Thought it was a heap problem. Yes, it is indeed a bug for small FLASH boards. Will fix.

[2018-06-11 16:55] bmcdonnell-ionx commented on #7077
@theotherjimmy,

I think so.

How so?
*[Mirrored to Jira]*

[2018-06-11 18:38] theotherjimmy commented on #7077
I think there may be `.mbedignore` files that currently exists that contain a leading `/` and don't expect them to be an anchor.
*[Mirrored to Jira]*

[2018-06-11 18:57] bmcdonnell-ionx commented on #7077
Where?

AFAICT, that makes the leading `/` effectively meaningless. Right?
*[Mirrored to Jira]*

[2018-06-11 19:31] yennster opened #7184 "Cannot export to Keil for LPCXpresso824-MAX"
### Description
Within the online compiler and the Mbed CLI, when trying to export an Mbed OS 2 project such as blinky, if the LPCXpresso824-MAX target is selected the user cannot export their project to Keil. However, according to the [board's page on os.mbed.com](https://os.mbed.com/platforms/LPCXpresso824-MAX/#exporter), this board _does_ support exporting to Keil.

### Issue request type
[ ] Q

[2018-06-11 19:52] ciarmcom commented on #7184
ARM Internal Ref: MBOTRIAGE-655

[2018-06-11 20:39] drahnr commented on #7165
@theotherjimmy since 5.7.7 and 5.9.x feature quite a few breaking changes in the buildsystem it is not exactly easy to jump back and forth with my project, so this will take some time.
*[Mirrored to Jira]*

[2018-06-11 22:19] theotherjimmy commented on #7165
@drahnr

I don't recall making changes that hinder migration from 5.7.x to 5.9.x and I don't recall breaking changes. 5.7.x builds correctly in the online compiler, which uses the 5.8.6 build system. I think that's evidence to the contrary. Could you elaborate on what's hindering your upgrade? or what we could do to workaround this problem?

*[Mirrored to Jira]*

[2018-06-12 00:21] matsujirushi opened #7186 "Two Make-GCC-ARM displayed in Export Toolchain"
### Description

I see two same names in Export Toolchain combo-box.  "Make-GCC-ARM"

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

![35102594_1669107643201155_2663742646874275840_n](https://user-images.githubusercontent.com/8079404/41263424-f21c075c-6e21-11e8-969c-3b1ca53bc59b.png)

[2018-06-12 03:36] mickeyln commented on #7013
It seems worked at mbed version 5.8.6

[2018-06-12 03:36] #7013 closed, assigned to nobody

[2018-06-12 06:03] jarvte commented on #6979
@everhardt fix is now in master. Will be in release 5.9.1.

[2018-06-12 06:12] drahnr commented on #7165
For the project I am working on is based on NRF52 w/o SD. There, everything is upside down, the old way of removing defines like `S132` yields errors on 5.9rc*, the new way does not work with 5.7.7 (which both makes sense, it's just a hassle to switch back and forth).  #6916 and #7138 are related to that.
Since 5.8.x dropped NRF52 w/o SD altogether, that is not a good comparison, see #6802 .
*[Mir

[2018-06-12 07:42] AriParkkila commented on #7181
`AT_CellularStack::get_max_packet_size()` is intended to return maximum length that can be written to modem, which would typically be RX buffer size on modem. It's not related to protocol MTU.

[2018-06-12 07:56] RobMeades commented on #7181
Understood, but let me put it another way: why would a user be interested in this and what would you expect them to do differently as a result of knowing it (for the UDP and TCP cases)?  What I would _like_ them to think is that, if they are using TCP, then it is irrelevant (i.e. they can put as much or as little data into one packet as they like, it is up to them) while, for UDP, any data packets

[2018-06-12 07:57] flipflop22 opened #7187 "SPI.write does nothing"
### Description

Here is my Setup:
-Ublox-odin-w2
-GCC ARM Embedded Toolhcain
-mbed OS 5
-SHA : d18f86a

Please see this code (attached). I just run a simple SPI.write continuously. I connect the SPI_MOSI pin to with oscilloscpe, and the rest open connection. Nothing is there. the SPI_SCK also always low.
[main.cpp.zip](https://github.com/ARMmbed/mbed-os/files/2093062/main.cpp.zip)

### Issue requ

[2018-06-12 08:05] #7187 closed, assigned to nobody

[2018-06-12 08:33] LMESTM commented on #7083
@janjongboom
Hi, I actually worked on DISCO_L475VG_IOT01A because I think (or thought before your last post) that there is not much board-related issue here.

I used variations of the code copied below to investigate. My key findings are:
* the wake-up reasons are always related to timers. Either timers in case of Sleep or Low Power Timers in case of deep sleep / tickless mode.
* mbed-os will alwa

[2018-06-12 08:56] 0xc0170 commented on #7083
@ARMmbed/mbed-os-core  Please review

[2018-06-12 09:00] bcostm opened #7188 "Fix HASH data aligment for STM32L4/F2/F7"
### Description

Need to fix also the data alignment in ST HAL function HASH_WriteData().

It has initially been done in PR #7176 for STM32F4 devices.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-12 09:00] flipflop22 opened #7189 "Thread with callback is not working"
### Description

my setup:
-UBLOX EVK ODIN W2
-GCC ARM Embedded Toolchain
-Mbed-CLI

I have this function

`void sendSPI(SPI spi)`

I want to send SPI data continously paralel with my functions. So I create a thread.

`Thread spi_thread;`

However, when I want to run the function using callback.....

`  spi_thread.start(callback(receiveSPI,&spi));`

it gives me this error:

`[Error] main.cpp@146,4

[2018-06-12 09:03] 0xc0170 commented on #7188
cc @KariHaapalehto

[2018-06-12 09:34] DBS06 opened #7190 "Application Header - mbed compile warning"
### Description
I added an application header to my mbed_app.json like described here [Adding an application header](https://os.mbed.com/docs/v5.8/tutorials/bootloader.html). So far so good, but when I do this I get from the command line with mbed compile the following error:
`[Warning] <command-line>@0,0: "HEADER_ADDR" redefined`

I found out that the warning is a result at calling the arm-none-e

[2018-06-12 11:31] AriParkkila commented on #7181
@kjbracey-arm could you comment on this issue:
1) Is it good that modem will split one `sendto()` message to multiple UDP packets?
2) It seems that `get_max_packet_size()` is not needed at all, and it should be removed?

[2018-06-12 11:52] ciarmcom commented on #7190
ARM Internal Ref: MBOTRIAGE-665

[2018-06-12 11:52] ciarmcom commented on #7189
ARM Internal Ref: MBOTRIAGE-666

[2018-06-12 11:52] ciarmcom commented on #7188
ARM Internal Ref: MBOTRIAGE-667

[2018-06-12 11:56] DBS06 commented on #7190
@ciarmcom what does

mean?

[2018-06-12 12:21] 0xc0170 commented on #7188
Will you address this issue @bcostm ?

[2018-06-12 12:30] pan- commented on #7189
The signature of sendSPI is not correct as it takes the spi argument by value; try a pointer instead:
`void sendSPI(SPI* spi)`.

[2018-06-12 12:36] bcostm commented on #7188
Yes

[2018-06-12 12:55] Tony-YI opened #7193 "STM32L031K6 requires comprehensive pin function definition"
### Description
Currently I am using the ***STML031K6 MCU*** on a customer PCB. In my previous program, I was using the mbed2 revision 158 and I could define a serial port on pins ***PA_9*** and ***PA_10***. After I updated my mbed library to revision 162 or later, I can no longer define serial port using ***PA_9*** and ***PA_10***. I looked into the source code and found out that ***PA_9*** in **

[2018-06-12 13:20] jeromecoutant commented on #7193
Hi

Yes, PeripheralPins.c file has been modified according to NUCLEO_L031K6 HW.
And PA_9 and 10 can't be used for UART as they use the same UART2 as default virtual COM.

Note that PinMap_UART_TX are defined as WEAK, so you can also only redefine it in your application.

[2018-06-12 13:37] bcostm commented on #7193
Or you can create a new target for your PCB and change the PeripheralPins.c

[2018-06-12 14:00] theotherjimmy commented on #7190
That our internal bug tracker has mirrored this issue.

[2018-06-12 14:06] theotherjimmy commented on #7190
@DBS06 Could you test #7196?

[2018-06-12 14:33] 0xc0170 commented on #7190
I'll send PR adding this detail to the workflow document in our documentation.

[2018-06-12 15:11] bcostm commented on #6827
After internal discussion, we think the best thing would be to have an API in mbed to change this stretch mode. For example in i2c_init or create a new method set_stretchmode ?
*[Mirrored to Jira]*

[2018-06-12 15:28] yogeshk19 opened #7198 "Missing feature in BLE API, Listening to Notifications to BLE Characteristic changes."
### Description
Although the BLE API provides a mechanism to listen to Characteristic Notifications, using the method below:
[code]
However this doesn't trigger notifications and requires quite a bit of additional code as mentioned in the BLE issue [#192](https://github.com/ARMmbed/ble/issues/191) . This feature needs to be provided out of box in the mbed BLE API. Also the latest version of mbed-o

[2018-06-12 15:33] theotherjimmy commented on #7165
@drahnr Several things to note:
* this behavior (what's invalidated on incremental compile) is technically in mbed-os.
* You should be able to upgrade to 5.9.x in a week or so.
* 5.9.x should support No SD.
*[Mirrored to Jira]*

[2018-06-12 15:53] ciarmcom commented on #7193
ARM Internal Ref: MBOTRIAGE-672

[2018-06-12 17:52] RobMeades opened #7200 "How do I remove the bootloader from my build?"
### Description
What is the proper way to remove the bootloader from a build?  I'm using `UBLOX_EVK_NINA_B1` (which is just `NRF_52832`) and have run out of flash so I need to remove the bootloader, which is taking up 143 kbytes of my 512 kbytes of flash (27%!).

I've tried adding `"target.bootloader_supported": false` to my `mbed_app.json` file but that causes compilation to stop with the error `

[2018-06-12 19:52] ciarmcom commented on #7200
ARM Internal Ref: MBOTRIAGE-676

[2018-06-12 21:13] RobMeades commented on #7200
Hmmm, I see that 140 kbytes is actually reserved for the Nordic SoftDevice, which I guess is what's giving me a BLE interface.  I guess there's no way of reducing that and still having BLE...?

[2018-06-13 03:54] Tony-YI commented on #7193
@jeromecoutant

Appreciate if you could let me know how to redefine the PinMap_UART_TX[] and PinMap_UART_TX[] in the application. I am using the online compiler and mbed2.

I have tried the following code and it did not work:

[code]

The compiler returns two warnings:
[code]

Thanks in advance.

[2018-06-13 05:07] brandond commented on #7156
Same here. Looking for extended deep sleep on STM32F1. Hoping to use LowPowerTicker on PlatformIO with mbed , which I understand is an additional complication.

[2018-06-13 06:10] DBS06 commented on #7190
@theotherjimmy nice done!

[2018-06-13 07:26] jeromecoutant commented on #7193
Mmm, to be honest I don't really use online compiler...
And I understood that online OS2 compiler doesn't compile target libraries, but are using compiled default lib.

My understanding is that online compiler is very useful for using board "out of the box".
If you are making your own PCB, you should use mbed cli, and update targets specific files.
Finally the best way to share your work and PCB w

[2018-06-13 08:02] mattbrown015 commented on #7156
As no one who really understands has taken the bait so I'll make a couple of comments and see if it leads anywhere.

My guess is there is some balancing of power vs accuracy.  If we want to sleep for longer the wake-up is likely to be less accurate.  Someone in the Med or ST teams has tried to a create a general solution that is a reasonable compromise.

`targets/TARGET_STM/lp_ticker.c` configures

[2018-06-13 08:20] yogpan01 opened #7203 "ST NUCLEO F411RE flashing doesn't work twice in a row on Linux"
### Description
 - Type: Bug
 - Priority: Critical

#### Info
On Linux environment (Using Ubuntu 16.04), when flashing binary twice on ST NUCLEO F411RE, it gives error "no space on disk" and only way to recover is unplug and plug USB cable again.
This prevents this board to be deployed in our Continuous Integration.
    - Target: ST NUCLEO F411RE
    - Toolchain; GCC_ARM , ARMCC
    - DAPLINK: ver

[2018-06-13 08:21] yogpan01 commented on #7203
@MarceloSalazar can you please take this one?

[2018-06-13 08:28] jeromecoutant commented on #7203
Hi

Did you check you have the latest FW : http://www.st.com/en/development-tools/stsw-link007.html

@schstm

[2018-06-13 08:35] 0xc0170 commented on #7200
Regarding the bootloader. The error is because there are regions defined in the config - so your target has no bootloader support (set to false) but application still defines some attributes for the bootloader. What application are you building ?

@ARMmbed/mbed-os-pan

[2018-06-13 08:41] 0xc0170 commented on #6861
@andrewleech Thank for descriptive bug report. This is duplicate for #6335. I'll close this one, please monitor 6335.

[2018-06-13 08:53] RobMeades commented on #7200
Yes, I've now found the `mbed_lib.json` down in the Nordic target directories, hadn't realised Nordic were using the bootloader mechanism to load the BLE protocol code.  Having read their documentation, it seems as though I'll just have to live with it.

I'm building my own application, which has grown quite large, I'll just have to accept with the fact that I can't do a debug build (a release bui

[2018-06-13 08:53] #7200 closed, assigned to nobody

[2018-06-13 08:54] 0xc0170 commented on #7193
The code snippet above should work?

@Tony-YI What's mbed 2 version that you use?

[2018-06-13 09:35] flipflop22 opened #7204 "TCPsocket and UDPsocket Speed"
### Description

My setup:
-EVK-ODIN-W2
-GCC ARM Embedded Toolchain
-MBED-CLI
I want to send a data with 20 bytes size with the speed of 1 MHz. I have always fails to achieve this speed with TCP or UDP. The fastest I can get is with UDP 1kHz (in average). Is there a way to optimize this speed???

here to reproduce:
I create a UDPsocket
`UDPSocket udpsocket`
the run a while loop to send
`do{
udpsoc

[2018-06-13 09:38] flipflop22 commented on #7189
Thanks, it works

[2018-06-13 09:38] #7189 closed, assigned to nobody

[2018-06-13 09:46] Tony-YI commented on #7193
@0xc0170

mbed2 Revision 166 (Release version 161).

The code above did not work. I suppose it is because I am using the online compiler.

[2018-06-13 10:08] 0xc0170 commented on #7193
That explains it.

@jeromecoutant This is a bug. To have this available in the mbed 2 , peripheral pins should be compiled as separate object files , see this taken from build_api:

[code]

[2018-06-13 11:29] LMESTM commented on #7083
@janjongboom

I still need to make more tests on F446RE to check what could be specific - no idea so far. Will look at that.

Concerning HAL_SuspendTick, it is a STM32 specific API that was removed recently if you rebase to the latest mbed-os master. this was not meant to disable the mbed-os ticker that it will not prevent it to wake-up the system.

With latest master, I have activated "MBED_TICKL

[2018-06-13 11:37] janjongboom commented on #7083
@LMESTM You need to use `Thread::wait` otherwise the device cannot go into deepsleep, see #7154 (I believe this behavior is very weird).

[2018-06-13 11:53] ciarmcom commented on #7203
ARM Internal Ref: MBOTRIAGE-687

[2018-06-13 12:02] yogpan01 commented on #7203
@VeliMattiLahtela can you try this firmware on NUCLEO F411RE board?

[2018-06-13 12:49] ohagendorf commented on #7204
When you calculate the transfered bits, you would see, that your transfer speed is physically not possible:
- user data 160 bits
- udp frame 64 bits
- ip frame min. 160 bits
- ethernet frame 336 bits (with inter frame gaps, ...)
->sum: 720 bits

With a 100Mbit ethernet you can transfer theoretically your data with 138kHz with a 100% ethernet utilisation. But these 100% are praktically not possible

[2018-06-13 13:27] LMESTM commented on #7083
@janjongboom  ok - so if most of it works fine now, why do you try to call sleep modes from the main thread instead of relying on mbed-os ?  I think his somehow makes things more complex to analyze. Should I rather understand that tickless doesn't work on F446RE ?

[2018-06-13 16:53] bmcdonnell-ionx commented on #6897
This wouldn't necessarily have to be implemented as `#define`s, but the point is to make the info accessible from source code, and to have it automatically update as necessary on each build.
*[Mirrored to Jira]*

[2018-06-13 16:59] #7190 closed, assigned to theotherjimmy

[2018-06-13 19:39] cedrickkukela-cd opened #7213 "PPPCellularInterface::connect calls nwk_registration with a hard coded value"
### Description

While attempting to bring on a new target enabled target mbed, I noticed that in PPPCellularInterface::connect the value passed to nwk_registration is hard coded. Since this value is used to switch between at+creg and at+cgreg, I effectively locks you into using at+cgreg for registration. This may not be a problem on cat 1 modems but on cat m modems such a Ublox r410, at+cgreg wil

[2018-06-14 01:56] adamgreen commented on #6934
@pauluap If you still need help, let me know and I can work with you to help debug your issue.

[2018-06-14 02:53] pauluap commented on #6934
Thanks.  I think that the underlying question is pretty broad, how to debug different threads running through the same code.  If there's any good existing guidance, I'd appreciate any links or pointers.

Specifically,  I found that the problem I had been experiencing seems to be a combination of the event queue not having enough memory and repetition of `call()` after queue exhaustion.

I solved m

[2018-06-14 03:11] adamgreen commented on #6934
I am not sure how to answer your broader question. However, if you start debugging a similar issue again in the future and want help on how to proceed on a particular debug session, feel free to ping me and I will do my best to point you in the right direction for that particular session.

[2018-06-14 03:12] #6934 closed, assigned to nobody

[2018-06-14 03:42] flipflop22 commented on #7204
I use WIFI interface.

The fact is I only receive in 1kHz. I try to decrease the buffer the speed is still the same.

[2018-06-14 04:21] flipflop22 commented on #7204
How about TCP?
What is the typical maximum speed and the (char) buffer size so that the TCP connection keeps remain (It wont disconnected)?

The data rate I need is 500 kHz with size of 160 bits, and it should be constant rate...

[2018-06-14 06:34] #7071 closed, assigned to nobody

[2018-06-14 09:02] ohagendorf commented on #7204
With the 60..70 kHz I mean the maximum on the physical side. Using low level programmig without any HAL, maybe you can come into this speed range. But not with the common high level programming.

TCP needs even more bits for its header. You can find die frame format discriptions e.g. in wikipedia.

When you use WIFI, I think you have a SPI connection to the WIFI module - the SPI speed may be the l

[2018-06-14 09:51] SeppoTakalo commented on #7204
@flipflop22
`socket.sendto("DNS address", port, data, size);` means one DNS query per packet send.

Try at least querying the address first and then use:
`socket.sendto(SocketAddress, data, size); `

And as @ohagendorf was already commenting: 1 Mhz packet rate is utopistic

[2018-06-14 10:05] NeilMacMullen opened #7219 "mbed cellular stack does not establish PPP session"
mbed 5.9 (tag mbed-os-5.9.0), and also present on master 799ba0801762d02d.

The mbed-os-example-cellular application connects to the network but fails to establish a PPP data channel.

The target modem is a UBLOX SARA U201 (3G) which successfully connects and transfers data using the old C027Interface code and on-modem stack.  Screenshot and attached log show some PPP activity but no connection.

[2018-06-14 10:05] NeilMacMullen commented on #7219
Adding @MarceloSalazar

[2018-06-14 10:28] kjbracey commented on #7204
Are we sure this is what is actually being asked for? Could @flipflop22 actually mean 1Mbit/s?

Anyway, on the other hand 1000 packets/s seems a bit too low. I'd be a bit nervous that something is inadvertently delaying or pacing by millisecond timer ticks. I'd like to see a number a bit closer to 10000 packets/s.

I suspect the overhead per packet is somewhat constant, and you would get much high

[2018-06-14 11:14] AriParkkila commented on #7213
Please use [new cellular](https://github.com/ARMmbed/mbed-os/tree/master/features/cellular) because PPPCellularInterface is to be deprecated.

You can then define modem to be GSM/LTE in `framework/targets` folder in `has_registration()` function as `return (reg_type == C_REG || reg_type == C_EREG);`

[2018-06-14 11:15] kjbracey commented on #7181
The modem must not split `sendto()` into multiple UDP packets. One send must correspond to exactly one receive at the other end, which is achieved by sending exactly one UDP datagram.   There may be IP fragmentation underneath, but that's transparent to the UDP datagram layer.

Scrubbed the next bit of this comment as confused myself and wasn't making sense. Will try again...

[2018-06-14 11:19] AriParkkila commented on #7219
This looks like a problem fixed in PR #6962. Can you cherry-pick that to see if it helps?

[2018-06-14 11:32] kjbracey commented on #7181
Not sure if you're giving any useful info to user with `get_max_packet_size`. It might be useful for apps to have some idea what they can send with UDP sendto, but the answer to that is a combination of link MTU, IP fragmentation ability and available buffer space.  A bit too complex to get a good answer in many cases, and on top of that you need to know what the receiver can handle.

Probably sim

[2018-06-14 11:40] AriParkkila commented on #7181
Thank you @kjbracey-arm @RobMeades

We will remove `get_max_packet_size()`.

[2018-06-14 11:52] ciarmcom commented on #7219
ARM Internal Ref: MBOTRIAGE-702

[2018-06-14 12:34] 0xc0170 commented on #7140
fixed via 7143

[2018-06-14 12:34] #7140 closed, assigned to nobody

[2018-06-14 12:38] bcostm commented on #7193
How can we achieve this ? Simply by adding `PeripheralPins.o ` in this list ?

[2018-06-14 12:56] ohagendorf commented on #7204
I looked into the documentation and the used board has a WIFI interface with a max data rate of 20Mbit/s.
That means theoretically 27kHz data rate only considering the physical point of view.

[2018-06-14 13:18] 0xc0170 commented on #7025
Resolved

[2018-06-14 13:18] #7025 closed, assigned to SenRamakri

[2018-06-14 13:21] lyshar commented on #6943
I get `0xFF` and not 0, though SPI.receive() works properly SPI.read() returns garbage values (Such as 0xFF)

[2018-06-14 13:34] NeilMacMullen commented on #7219
@AriParkkila   I've checked out #6962 but unfortunately I still see the same behaviour.  You probably spotted it in the log but one possible clue might be that on this SIM there are some unsolicited message-waiting indications (+UMWI) Could this be affecting the state machine?

[2018-06-14 14:06] AriParkkila commented on #7219
@NeilMacMullen that +UMWI should be handled gracefully with PR #6962. The problem is that after calling `connect()` the FileHandle has been given to the PPP driver, and no other must read it anymore due to that would confuse PPP link negotiation.

According to the log there are lots of debug prints after CONNECT. I wonder where those might be coming... Those do not look exactly like coming from `c

[2018-06-14 14:15] NeilMacMullen commented on #7219
@AriParkkila   I disabled the message waiting and that doesn't make a difference.  TRACE_LEVEL_DEBUG is already set in main using

were you expecting to see more debug?

Do you mean the 'line noise'?  If so this is raw output from UARTSerial read/write which is tracing I added to confirm that bytes are being sent/received between mcu and modem.

[2018-06-14 14:31] NeilMacMullen commented on #7219
Ah - I hadn't realised you need to compile in the debug traces..  Here's the relevant portion of trace around the PPP channel connection...

[2018-06-14 15:10] #7065 closed, assigned to nobody

[2018-06-14 22:29] #7184 closed, assigned to theotherjimmy

[2018-06-14 22:59] AGlass0fMilk opened #7222 "Idle Stack Overflow Issue"
### Description

Target: NRF52_DK
Toolchain: GCC ARM (arm-none-eabi-g++ (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437])
SHA of Mbed OS: 866850a Merge pull request #7171 from ARMmbed/release-candidate

I am having a strange issue while developing on the NRF52_DK platform. I am starting to play around with a graphics library,

[2018-06-14 23:52] ciarmcom commented on #7222
ARM Internal Ref: MBOTRIAGE-711

[2018-06-15 04:13] Pranav3234 opened #7223 "mbed Client example : Current time Timestamp issue"
### Description

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

**mbed-cli version:**
1.5.1

**Mbed OS:**
Latest master package

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

**Question:**
I want to add time resource which will display current time in [mbed connector](https://connector.mbed.com/).
Be

[2018-06-15 04:27] flipflop22 commented on #7204
@kjbracey-arm Considering SPI baud rate 10 Mbps. If I set it to be 16 bits, I can send total of 20 bytes within at least 20 microseconds which is (50 kHz). Ok now my expectation drop to 50 kHz. However right now it is only 1 kHz.

@ohagendorf To which docs you refer to? The 802.11ag speed is supposed to be 54Mbps.

@ohagendorf the WIFI header is 192 bits rite? CMIIW

NOTE: ANYWAY I think I find a

[2018-06-15 07:07] kjbracey commented on #7219
I'm assuming this is a PPP negotation failure - I tried dissecting your log, but the PPP data appears to be somewhat garbled - some sort of Latin-1->UTF-8 conversion I can't reverse, and some other loss.

It appeared to be the higher level giving up, not the PPP - "user interrupt" after a 30-second timeout. It's vaguely possible it was just being slow and extending the 30 second timeout would clea

[2018-06-15 07:51] NeilMacMullen commented on #7219
@kjbracey-arm   Thanks Kevin - that sounds plausible,  I'm busy this morning but can dump out the raw PPP bytes later today.  Yesterday I got as far as establishing that this is failing when lwip::bringup checks to see if iface_is_up (apologies if these aren't exact names - I'm away from the source)  , causing ppp_close to  be called with USERERR.  That  seems consistent with the idea that PPP neg

[2018-06-15 07:52] ciarmcom commented on #7223
ARM Internal Ref: MBOTRIAGE-716

[2018-06-15 08:18] kjbracey commented on #7204
Your packets have 20 byte UDP payload, 28 bytes of UDP/IP header, and 14 bytes of Ethernet header, assuming you're sending 802.3 frames to a MAC on the SPI. (That's not allowing for any command overhead to the device)

So 62 total bytes per packet = 496 bit, which if SPI is 10Mbit/s gives you theoretical limit of 20 kpackets/second.

With small transfers like that, you may not be invoking DMA for

[2018-06-15 08:41] mattbrown015 commented on #7156
This was effectively a cross-post of a https://os.mbed.com question, [deepsleep - LPTIM1 Vs RTC on STM32?](https://os.mbed.com/questions/81427/deepsleep-LPTIM1-Vs-RTC-on-STM32/), and I've just had an answer there.

In summary, because the LPTIM1 is only 16-bit on the STM32L4 it is necessary to use the RTC.

I haven't looked to see if other STM32 devices have a wider LPTIM1.

I'm going to post to [

[2018-06-15 08:50] kjbracey commented on #7204
Actually, it's worse than I thought - until fairly recently mbed didn't have a block-transfer API at all for SPI HAL, so regardless of what you do, you would be sending 1 word at a time over SPI. The STM boards were achieving something like 12 us per SPI transfer like that, looking at #4246. If in 16-bit SPI mode, as you suggested, that would limit you to 1.3 Mbit/s on the SPI bus, giving a theore

[2018-06-15 08:53] kjbracey commented on #7204
@ARMmbed/team-ublox  - want to comment on this?

[2018-06-15 09:45] RobMeades commented on #7181
Sounds good to me, one question to Kevin: if the user submits a buffer to the socket to be sent over UDP which cannot be encoded into a single UDP datagram, what is the correct action for the socket to take?  We chose to transmit anyway, segmenting, since that's what the network might, in any case, do, and our UDP packet size limitation is 1024 bytes, which is already bigger then anyone would expe

[2018-06-15 10:28] KariHaapalehto commented on #7137
Running out of memory. I did say from the heap traces that in this case heap allocation did fail.

[2018-06-15 11:14] mikaleppanen opened #7227 "STM Nucleo ethernet driver hardware checksum insertion corrupts fragmented UDP packets"
### Description

STM Nucleo Ethernet driver hardware checksum insertion corrupts fragmented UDP packets that are sent by the driver to ethernet.

This can be repeated by running greentea LWIP UDP echo test with Nucleo boards and by setting the MTU size smaller than tested UDP packet size, e.g. to 800 bytes, which causes LWIP to fragment packets.

https://github.com/ARMmbed/mbed-os/blob/master/feat

[2018-06-15 11:42] kjbracey commented on #7181
If you can transmit it as a single UDP datagram by fragmenting at the IP level, **not** the UDP level, then accepting any size is fine. Nanostack has a theoretical upper limit on UDP transmission of just under 64K - you'll be limited by memory, generally.

Whether the receiver can reassemble the IP packets and fit the resulting UDP datagram into its reception buffer is another question, but if the

[2018-06-15 11:44] kjbracey commented on #7181
An IPv4 network might fragment into multiple IPv4 packets, and the local IPv6 stack might fragment into multiple IPv6 packets, but they will all be reassembled at the receiver into a single UDP datagram, so come out as a single 1200-byte receive call.

[2018-06-15 12:15] 0xc0170 commented on #7227
@ARMmbed/team-st-mcd Please review
*[Mirrored to Jira]*

[2018-06-15 13:00] NeilMacMullen commented on #7219
I've attached a log of the raw uart trace (captured from uartserial write/read functions.

[rawuart.log](https://github.com/ARMmbed/mbed-os/files/2106102/rawuart.log)

[2018-06-15 13:26] RobMeades commented on #7181
That's clear, thanks. We will use `NSAPI_ERROR_PARAMETER` for this UDP case.

[2018-06-15 13:33] NeilMacMullen commented on #7219
@kjbracey-arm

Can you suggest sensible numbers for these?  The default appears to be 1600 (words? bytes?). I've tried a random selection of values between 2000 and 8192 but seem to be alternating between stack overflow and heap exhaustion :( (I'm on an RF52 so available ram is ~55K)  Here's what I currently have in my target_overrides section...

[2018-06-15 15:12] garycolecd opened #7230 "lorawan interface connect method should return LORAWAN_CONNECT_IN_PROCESS when connnecting"
### Description

 LoraWANInterface::connect returns LORAWAN_STATUS_OK when idle and entering connecting state.  An asynchronous event is sent when connection completes or fails.  If the stack is already connected the connect method also returns LORAWAN_STATUS_OK, but does not send an asynchronous event.  The application cannot distinguish the two use cases without timing out waiting for the event.

[2018-06-15 15:19] SenRamakri commented on #7222
@AGlass0fMilk - Is it possible for you to attach .map/.elf files for the build which is exhibiting this problem?

[2018-06-15 15:48] SenRamakri commented on #7222
@AGlass0fMilk - I tried to run your main.cpp on my NRF52_DK and Im unable to reproduce the problem. It runs just fine. And I have the same tool chain version as well(arm-none-eabi-g++.exe (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]).
So, having .elf/.map might help us debug the problem.

[2018-06-15 15:52] ciarmcom commented on #7230
ARM Internal Ref: MBOTRIAGE-724

[2018-06-15 17:19] omdathetkan commented on #7037
@jeromecoutant this solves the issue so this can be closed, but wouldn't a __WEAK definition of these functions be a cleaner implementation?

[2018-06-15 20:55] garycolecd opened #7232 "LoRaWAN LoRaMac::schedule_tx compares wrong length in call to validate_payload_length"
### Description
In LoRaWAN the method LoRaMac::schedule_tx passes the MAC Payload length to validate_payload_length, causing the LoRaInterface::send to return with LORAWAN_STATUS_LENGTH_ERROR.   It should pass in the length of the application payload.

Found in mbed-os-5.9.0

[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-18 06:31] janjongboom opened #7235 "DISCO-F413ZH - Idle thread stack overflow in debug build on Mbed OS 5.9"
### Description

Mbed OS 5.9.0 (rev 03196b244ee00fc748cd4dbfa83b26f3fc0f376b) on the DISCO-F413ZH, running blinky. I've defined `MBED_TICKLESS`, `MBED_CPU_STATS_ENABLED` and `MBED_HEAP_STATS_ENABLED`. Build this with debug profile and run. After ~10 seconds a stack overflow triggers on the idle thread:

[code]

(verified with nm that this is the idle thread)

### Issue request type

[ ] Question
[

[2018-06-18 06:33] bcostm opened #7236 "mbed-os documentation: expand all sections + download in pdf"
### Description

The mbed-os documentation here https://os.mbed.com/docs/latest/introduction/index.html is very nice but it is not easy to read or find information. It would be very useful to have these 2 features:

- be able to expand all the sections in order to see all titles at once
- be able to download the entire documentation in a pdf file

### Issue request type

[ ] Question
[X] Enhanceme

[2018-06-18 06:34] janjongboom commented on #7235
Disabled the stats, and it still overflows. But now a bit later (~15 seconds). Disabling tickless solves the issue.

[2018-06-18 07:47] jeromecoutant commented on #7037
Hi
These functions are already WEAK in ST Cube driver files ...
(targets/TARGET_STM/TARGET_STM32F7/device/stm32f7xx_hal_eth.c)

[2018-06-18 07:52] ciarmcom commented on #7236
ARM Internal Ref: MBOTRIAGE-759

[2018-06-18 07:52] ciarmcom commented on #7235
ARM Internal Ref: MBOTRIAGE-760

[2018-06-18 07:56] kjbracey commented on #7219
It may be that you just don't have enough RAM in the system to enable lwIP's PPP trace without messing with it - it uses quite a big line buffer on the stack. Maybe reduce buffer sizes in lwip_utils.c?

[2018-06-18 08:06] 0xc0170 commented on #7236
@AnotherButler Shall this be logged to https://github.com/ARMmbed/mbed-os-5-docs/issues ?

[2018-06-18 08:32] 0xc0170 commented on #7235
@ARMmbed/team-st-mcd Please review

[2018-06-18 09:23] LMESTM commented on #7235
@0xc0170 @janjongboom
reproduced as well on DISCO_L475VG_IOT01A.  With debug profile and cpu stats activated. On GCC and ARM toolchains. Problem disappears when moving to release profile.
Is this ST specific ?

[2018-06-18 09:40] omdathetkan commented on #7037
I see, makes sense.

[2018-06-18 10:19] #7037 closed, assigned to nobody

[2018-06-18 10:41] hasnainvirk commented on #7232
@garycolecd Can you please elaborate a little ? What data-rate you were using, what was the length of your packet ?

My wild guess is that this is not a bug. You are either trying to send more than the data-rate would allow or you are absolutely at the brink of being maxed out and there are some MAC commands pending.

Please bear in mind a few things:

- LoRaWAN packets are like datagrams (until n

[2018-06-18 12:51] cedrickkukela-cd commented on #7213
Thanks one final question. When i attempt to run the cell test, I receive the following error.

Build successes:
  * MTS_DRAGONFLY_L471QG::GCC_ARM::MBED-BUILD
mbedgt: greentea test automation tool ver. 1.2.5
mbedgt: test specification file 'C:\Users\Cedrick\cellTest\BUILD\tests\MTS_DRAGONFLY_L471QG\GCC_ARM\test_spec.json' (specified with --test-spec option)
mbedgt: using 'C:\Users\Cedrick\cellTest

[2018-06-18 13:25] MikeDK opened #7240 "EFM32PG12 AnalogOut driver not usable because of missing VDAC interface usage"
### Description

I recently observed that the EFM32PG12 target has no DEVICE_ANALOGOUT macro defined, so the AnalogOut driver class is not usable here.

The only EFM32 devices which have DEVICE_ANALOGOUT enabled are EFM32GG, EFM32LG and EFM32WG ...

When looking into the datasheets, I see that those have a "DAC", while the PG12 has a "VDAC".

In EMLIB there are two different interfaces for DAC and

[2018-06-18 13:38] garycolecd commented on #7232
I discovered the issue transmitting 11 bytes at DR0.  The method validate_payload_length reads from a region specific table (US915) that includes the application payload lengths, in which 11 is the limit (without MAC command data).  The method LoRaMac::schedule_tx passed in the MAC payload length of 24 bytes in the variable tx_buffer_len and the method validate_payload_length looked up the DR0 lim

[2018-06-18 13:55] 0xc0170 commented on #7240
@ARMmbed/team-silabs Please review
*[Mirrored to Jira]*

[2018-06-18 13:58] kjbracey commented on #7219
Well, that trace is showing some corruption - we've sent 3 LCP ConfReqs, but got back 2 LCP ConfAcks with most of the middle missing. Trace cut out just after sending the third.

And most of the data is the modem sending us LCP ConfReqs and us replying with LCP ConfAcks. Last incoming ConfReq was slightly corrupt, and presumably the modem isn't getting our ConfAcks intact.

Seems to be a general s

[2018-06-18 14:09] kjbracey commented on #7219
We are not locally testing the Sara U201 here - @ARMmbed/team-ublox, have you tested this driver with it?

[2018-06-18 14:14] RobMeades commented on #7219
We have used the new drivers and the cellular example build on the `UBLOX_C030_U201` but I will try again on #799ba08 specifically.  FYI, in the past I have found that switching on any logging in the LWIP stack tended to drop data so I don't do that anymore.  The _usual_ reason for not establishing a PPP connection is that the APN is wrong; if you leave it unspecified for the U201-flavour C030 boa

[2018-06-18 14:17] kjbracey commented on #7219
Yes, I was wondering if the trace could be breaking it further. If the APN is invalid, wouldn't that fail more decisively with an authentication failure rather than 30 second timeout though?

[2018-06-18 14:19] RobMeades commented on #7219
You usually get "connect" and then the connection drops ~10 seconds later.

[2018-06-18 14:25] kjbracey commented on #7219
Even the first trace we have here has some PPP dumping (raw) out the console. So it's possible that we're seeing a corruption effect due to tracing rather than the original problem.

That trace was saying "user interrupt" (ie due to high-level timeout), but maybe that's not the base issue.

@NeilMacMullen - can you redo logs without the PPP dumping present at all, so there's no console output duri

[2018-06-18 14:38] kjbracey commented on #7219
The fact that this is on nRF52 may be the determining issue here. What do we think about the current state of the cellular stack and `UARTSerial` versus its serial port? Is this the nRF52 DK? I believe there's been work on nRF52 serial recently, not sure about the issues or outcome.

[2018-06-18 14:38] NeilMacMullen commented on #7219
@kjbracey-arm   Thanks Kevin.  WRT to the uart tracing, I'm just dropping stuff into RAM then dumping it out after the ppp  channel fails so cpu overhead should be minimal.  It's possible some of the missing bytes might be just an artefact of the way I've reconstituted the data - I need to check that.   The physical uart has no flow-control and is running at 115200, connected via about 15mm of tra

[2018-06-18 14:40] NeilMacMullen commented on #7219
I've just seen your comments on RF52 uart..  Yes, there definitely have been some issues with RF52 serial - I'm not sure what the current state of play is there - @marcuschangarm may have a better idea.

[2018-06-18 14:42] LMESTM commented on #7235
@janjongboom
I've posted #7241 to hopefully solve the issue. This fixed it for DISCO_L475VG_IOT01A
Would you check with your F413 DISCO board as well ?

[2018-06-18 14:45] RobMeades commented on #7219
I've run `mbed-os-example-cellular` here on a `UBLOX_C030_U201` board with mbed-os #799ba08 and all default settings *aside* from setting the APN in `mbed_app.json` to 0 (otherwise it ends up as "internet", which is wrong).  This worked for me:

[code]

Note that you need to provide enough power to the C030 board for peak 2G/3G cellular transmit power, so either a solid 3 Amp USB power supply or a

[2018-06-18 15:19] LMESTM commented on #7083
I just tested on F446RE and cpu stats indicates that deep sleep works ok

[2018-06-18 16:03] SeppoTakalo opened #7246 "WiFiInterface::get_default_instance() always returns NULL"
### Description
In Mbed OS 5.9, targets are able to provide default network interface of each type.

Ublox Odin W2 however, does not provide `WiFiInterface *WiFiInterface::get_default_instance()` making it impossible to select default network interface to be a WiFi.

Same seems to be true for REALTEK_RTL8195AM.

To verify, create following `main.cpp`
[code]

And following `mbed_app.json`
[code]

#

[2018-06-18 16:51] marcuschangarm commented on #7047
The NRF52 hardware doesn't support synchronous UART so all the synchronous Mbed HAL calls are emulated in software. Whenever you call the asynchronous API you bypass the software emulation and get direct access to the hardware, which is why you can't mix the two modes.
*[Mirrored to Jira]*

[2018-06-18 18:11] devangel77b commented on #7026
I can reproduce this issue by cloning Blinky and compiling after installing mbed-cli 1.7.3 with Python 3.5.2
When I pip3 uninstall mbed-cli and revert to pip2 install mbed-cli it works fine.

The end of the Python dump gives this:
TypeError: the JSON object must be str, not 'bytes'
[mbed] ERROR: "/usr/bin/python3" returned error code 1.
[mbed] ERROR: Command "/usr/bin/python3 -u /home/evangeli/Des

[2018-06-18 18:27] AnotherButler commented on #7236
@0xc0170 Yes, it should. Should I create a new issue there?

[2018-06-18 18:56] marcuschangarm commented on #7219
There are some built-in buffers in the UART driver you can configure as well: https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_NORDIC/TARGET_NRF5x#serial

I would recommend increasing the buffers if you suspect UART corruption.

[2018-06-18 20:45] dlfryar-zz commented on #7129
@0xc0170 the other two linked are exporter and/or makefile type issues not core compilation using Windows command interpreter.

[2018-06-18 20:46] dlfryar-zz commented on #7129
cc: @bulislaw

[2018-06-18 21:00] kegilbert commented on #6988
@0xc0170, do you have any docs on GCC_ARM's implementation of `int _gettimeofday_r(struct _reent* unused, struct timeval *tp, void *tzp)` ? I wasn't able to find anything outside of the GNU standard and my toolchain was unable to find either that or the non-reentrant variation. Without the toolchain implementations of those functions, gettimeofday/settimeofday would likely just be wrappers for the

[2018-06-18 21:51] Alex-EEE opened #7248 ""using namespace" is inside of mbed.h"
### Description

mbed.h has "using namespace std" and "using namespace mbed" .  Just spent a bunch of time debugging something b/c I had no idea my namespace had gotten clobbered.  Putting using declarations in a header file is forbidden in almost every text written about C++ style:
https://stackoverflow.com/questions/5849457/using-namespace-in-c-headers

This is especially bad considering that yo

[2018-06-18 23:52] ciarmcom commented on #7248
ARM Internal Ref: MBOTRIAGE-774

[2018-06-19 02:26] flipflop22 commented on #7204
In u-blox's ODIN-W2 System Integration Manuals, SPI baud rate stated as 45Mbps (8-bit or 16-bit). That's why I bought this board, please your clarification @u-blox.

[2018-06-19 03:06] flipflop22 commented on #7204
Wew mine is 2 us per SPI transfer (16 bit, 20MHz clock)

[2018-06-19 03:33] leibin2014 opened #7250 "The implementation of __real__malloc_r"
### Description
Dear experts,
When I run the example project `Nucleo_rtos_basic` on stm32f103 I get an error. The function `thread.start(print_thread)` goes to call the function `malloc`, then `malloc` will call `malloc_wrapper()` because of linker flag `-Wl,--wrap,_malloc_r`. Finally `__real__malloc_r()` will be called. But there is no definition of `__real__malloc_r()` . So `malloc` will return

[2018-06-19 03:52] ciarmcom commented on #7250
ARM Internal Ref: MBOTRIAGE-777

[2018-06-19 03:56] janjongboom commented on #7083
@LMESTM I was calling the sleep functions manually because I couldn't get my device to go into sleep mode, and was trying to break down the issue. If you see proper sleep behavior on latest master then that's good enough for me. Thanks for looking into this.

[2018-06-19 03:56] #7083 closed, assigned to nobody

[2018-06-19 03:59] flipflop22 commented on #7204
I was wrong, the problem is on the transmitter that use MBED OS 5 UDPSocket Stack. Looks like the UDP HAL is only able to send in 1 kHz.... This is very slow

@SeppoTakalo this does not improve UDP speed

Here is my loop.
`do{`
`       send_response = udpsocket.sendto(remote_address, buffer, strlen(buffer));`
`	   spi.write(0xAAAA);`
`	   wait_us(10);`
`    } while (send_response >=0);`

Then I mo

[2018-06-19 06:32] teetak01 opened #7251 "MbedCRC.h: shift count is negative"
### Description
Mbed OS 5.9.1
IAR ANSI C/C++ Compiler V7.80.1.28/LNX for ARM

[code]
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-19 06:37] teetak01 opened #7252 "THREAD: compiler warnings"
### Description
Mbed OS 5.9.1
IAR ANSI C/C++ Compiler V7.80.1.28/LNX for ARM

[code]
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-19 06:38] teetak01 opened #7253 "IPV6 compiler warnings"
### Description
Mbed OS 5.9.1
IAR ANSI C/C++ Compiler V7.80.1.28/LNX for ARM

[code]
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-19 06:39] teetak01 opened #7254 "RPL control and pana client warnings"
### Description
Mbed OS 5.9.1
IAR ANSI C/C++ Compiler V7.80.1.28/LNX for ARM

[code]
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-19 06:43] teetak01 opened #7255 "fsl_dspi.h #66-D: enumeration value is out of "int" range"
### Description
Mbed OS 5.9.1
Component: ARM Compiler 5.06 update 3 (build 300)
[code]
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-19 06:50] teetak01 opened #7256 "ATParser.cpp: incompatible redefinition of macro MIN"
### Description
Mbed OS 5.9.1
Component: ARM Compiler 5.06 update 3 (build 300)

[code]
[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-19 07:09] LMESTM commented on #7083
@janjongboom Ok thanks for feedback. Indeed in mbed-os the system will regularly wake-up for tickers / timers management. Note that I asked for a RTC alarm service to be able to sleep for very long time without wake-up ..

[2018-06-19 07:52] ciarmcom commented on #7256
ARM Internal Ref: MBOTRIAGE-780

[2018-06-19 07:52] kjbracey commented on #7219
I would also expect the UARTSerial buffer size of 256 to be sufficient for negotiation. Maybe it is worth adjusting the NRF52's internal buffer setup as mentioned above.

I'm looking at the NRF52 serial implementation - it's more complex than most.

There's no transmit FIFO, and transmits will spend time busy-waiting, which will hurt performance. I think that's what's causing dropped input charact

[2018-06-19 07:52] ciarmcom commented on #7255
ARM Internal Ref: MBOTRIAGE-781

[2018-06-19 07:52] ciarmcom commented on #7254
ARM Internal Ref: MBOTRIAGE-782

[2018-06-19 07:52] ciarmcom commented on #7253
ARM Internal Ref: MBOTRIAGE-783

[2018-06-19 07:52] ciarmcom commented on #7252
ARM Internal Ref: MBOTRIAGE-784

[2018-06-19 07:52] ciarmcom commented on #7251
ARM Internal Ref: MBOTRIAGE-785

[2018-06-19 07:54] 0xc0170 commented on #6861
Reopening, similar to 6335 but this is building with `mbed compile` rather than using exporters.

[2018-06-19 07:55] 0xc0170 commented on #7129
#6861 - this is not exporter but build - all of them  however are about the same - if it is exporter or a build - it is related to the command line length - one fix should resolve all of them.

I reopened #6861 (this one is duplicate, same report) - to keep 2 issues - exporters and cli building problem

[2018-06-19 07:58] SeppoTakalo commented on #7253
This is from Nanostack, where following kind of syntax is common:
[code]

So code actually does not do anything wrong, but compilers tend to warn about skipping initializer. This time its the `*llao` variable.

This is for Mesh team to fix.

[2018-06-19 08:00] AriParkkila commented on #7219
Yes, it seems that UART drivers of NRF52840_DK are broken on the latest Mbed OS. I have NRF52840_DK evaluation board and it seems to lose RX characters in AT response to `AT+CGDCONT?`. That's the first command  coming from modem to Mbed OS. with over 20 incoming chars.

[2018-06-19 08:01] 0xc0170 commented on #7255
I believe this was reported earlier.

 https://github.com/ARMmbed/mbed-os/issues/4222 - this was earlier report. I'll close this as duplicate.

cc @ARMmbed/team-nxp

[2018-06-19 08:01] #7255 closed, assigned to nobody

[2018-06-19 08:21] 0xc0170 commented on #7250
There should be definition of the real malloc otherwise would not link. `__real__malloc_r` should be the "real" malloc that is defined in the library.

Look at `--wrap` option (__real_ symbol is the real name)

[2018-06-19 08:26] 0xc0170 commented on #7248
Hi @Alex-EEE , thanks for the report.

This is a duplicate https://github.com/ARMmbed/mbed-os/issues/5679 where you can find more information. Add your feedback there.

[2018-06-19 08:26] #7248 closed, assigned to nobody

[2018-06-19 08:28] 0xc0170 commented on #7246
Please review

@ARMmbed/team-ublox
@ARMmbed/team-realtek
*[Mirrored to Jira]*

[2018-06-19 08:36] RobMeades commented on #7219
Yes, C027, having been around since early Mbed 2.0 days, had its own buffered serial handling, [Pipe](https://os.mbed.com/teams/ublox/code/C027_Support/file/fd9fe498f142/Pipe.h/) and [SerialPipe](https://os.mbed.com/teams/ublox/code/C027_Support/file/fd9fe498f142/SerialPipe.h/).

[2018-06-19 08:56] kjbracey commented on #7219
Thanks, Rob. That has the same basic loop in its `SerialPipe::txCopy`. But I think interrupt latency due to TX spinning is a secondary issue - Ari is seeing loss without any TX ongoing at all.

The README for the nRF52 does state that you need to have the HAL FIFO big enough for the "biggest burst" incoming - ie IP packet-sized. Maybe this is a fundamental known platform issue. So, does it work wi

[2018-06-19 08:58] NeilMacMullen commented on #7219
I'm going to see if I can get some physical probes on tx/rx to see what is really happening on the bus.  From Kevin's description this should only be a problem where we have simultaneous bidirectional transfer.  It's worth nothing that with the old C027 implementation this never occurred in practice because we were either uploading data or downloading so uart traffic was always effectively unidire

[2018-06-19 09:56] leibin2014 commented on #7250
@0xc0170
I just rechecked that hread.start(print_thread) goes to call `operator new[]()` and then call the function `malloc()` in mbed_retarget.cpp line 1481. Finally `malloc()` returns NULL. The `malloc_wrapper()` is not called as I thought. So the problem is that why `malloc()` returns NULL? I tested this with the default VSCODE-GCC-ARM type project `Nucleo_rtos_basic` exported from the online c

[2018-06-19 10:12] kjbracey commented on #7219
That was my initial thought, but Ari's seen AT command loss without that (with 32-byte HAL FIFO).  I'll have a look at the RX path to try to see if the RxIrq is being generated promptly enough. Not immediately obvious.

But if it were the case, then yes, maybe it's not `SerialPipe` versus `UARTSerial` but the fact that PPP is full duplex. But there's not /that/ much traffic, and the two directions

[2018-06-19 10:39] SeppoTakalo opened #7257 "REALTEK_RTL8195AM defines DEVICE_EMAC flag for WiFi driver"
### Description

As explained in porting sections, device should provide `EMAC::get_default_instance()` only if it is pure Ethernet. Please see:
https://os.mbed.com/docs/v5.9/reference/ethernet-port.html

Also, device should enable `EMAC` flag in `targets.json` only if its pure Ethernet. Please see:
https://github.com/ARMmbed/mbed-os/tree/master/features/netsocket/emac-drivers#device_emac

REALTEK

[2018-06-19 10:58] ohagendorf commented on #7204
When you look into the documentation of your board, you would see that the wifi speed is limited to 20 Mbit/s nevertheless the speed of the specification of the wifi radio.
Now it depends on the wifi chip, which data has to be transfered. Maybe only the user data, that means just your 20 bytes per packet. Or maybe the complete raw frame which is much more.

[2018-06-19 11:09] AriParkkila commented on #7219
It seems that increasing DMA size fixes RX problem:

    "target_overrides": {
        "*": {
			"nordic.uart_dma_size": 32

With that there are no characters dismissed but it's still not working properly, because `nsapi_ppp_get_stack()` gets stuck in `LLF_RND_GetTrngSource`. I probably should define some random source somewhere?

[2018-06-19 11:23] DBS06 opened #7260 "mbed-dev update -> EFM32 - flash_api.c"
### Description
I am working on an application with Bootloader and the capability to do Firmware-Updates, and I found out that the implementation at target `TARGET_EFM32` for `flash_get_page_size()` between mbed-os and mbed-dev differs. I thought that they have the same base, but it does not seems so.

mbed-os implementation:
[code]

mbed-dev implementation:
[code]

For me the mbed-dev implementat

[2018-06-19 11:52] ciarmcom commented on #7260
ARM Internal Ref: MBOTRIAGE-788

[2018-06-19 11:52] ciarmcom commented on #7257
ARM Internal Ref: MBOTRIAGE-789

[2018-06-19 12:08] kjbracey commented on #7253
Or for the tools team to disable the pointless warning.

[2018-06-19 12:17] kjbracey commented on #7253
I guess it's `--diag_suppress=Pe546` applied to C. IAR has a bunch of other diagnostics already suppressed.

[2018-06-19 12:18] kjbracey commented on #7254
Like #7253, best fixed by suppressing in IAR config.

[2018-06-19 12:28] 0xc0170 commented on #7257
@ARMmbed/team-realtek Please review

[2018-06-19 12:38] 0xc0170 commented on #7236
Yes please do and close this one (or we do as soon as the new one is created)

[2018-06-19 12:54] SeppoTakalo commented on #7204
I would like to know what is the application where you expect 1 kHz send rate to be working?

It is true, that our embedded devices are not optimized for speed, but I still feel its unrealistic to even assume this is working through the Internet.

I don't think there exist any protocols that spam with this are without any rate limitting and acknowledgements from receiver end.

[2018-06-19 13:00] SeppoTakalo commented on #7253
If we suppress the warning, then we need to rely on proper tool to check that uninitialised variables are not referenced. For example Coverity.

[2018-06-19 13:01] SeppoTakalo commented on #7253
I'm fine to suppress this warning, as it matched what our other tools do.

[2018-06-19 13:03] kjbracey commented on #7253
We have to rely on that anyway - the warning only triggers for this:

       goto label;
       int foo = 2;
    label:

It doesn't trigger for

       int foo;
       goto label;
       foo = 2;
    label:

The warning only makes sense as a "not C++ compatible" warning. C++ enforces the rule to stop you side-stepping constructors.

[2018-06-19 13:23] bcostm commented on #7236
OK thanks, I will post in the correct place next time...

[2018-06-19 13:44] 0xc0170 commented on #7250
Does this help: https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/advanced/runtime_stats/#heap-stats ? What does it report?

[2018-06-19 14:22] kjbracey commented on #7204
Until recently, this was not remotely achievable because the SPI HAL was transferring 1 SPI word at a time (using `spi.write(int)`), and it took 10us for the STM HAL to set up for that 1 word. You can see oscilloscope traces showing this in https://github.com/ARMmbed/mbed-os/issues/4246 .

With current mbed OS 5, it will be managing proper burst speed, but you won't be getting that in mbed OS 3.

[2018-06-19 14:31] 0xc0170 commented on #6988
You can check sources for GCC ARM, there should be implementation (in the syscalls code file).

See for instance https://github.com/32bitmicro/newlib-nano-1.0/blob/master/newlib/libc/sys/arm/syscalls.c#L562
*[Mirrored to Jira]*

[2018-06-19 14:52] simonbutcher commented on #7142
This issue was resolved by PR #7144 'Add configuration options to enable CMAC in mbedtls by default' and PR #7135 'Update Mbed TLS to version 2.10.0'. I think it can now be closed.

@yossi2le - Changes to Mbed TLS should be upstreamed to [Mbed TLS](http://github.com/ARMmbed/mbedtls/). However, the DeviceKey change didn't need to do that, just change the import script, which is what #7144 does.

[2018-06-19 14:52] #7142 closed, assigned to nobody

[2018-06-19 15:05] theotherjimmy commented on #7129
I strongly disagree with this statement: exporters have there own limitations that I can't fix.

[2018-06-19 15:05] SenRamakri commented on #7222
@AGlass0fMilk - We haven't received any response in this issue. Please let us know if the issue is resolved otherwise.

[2018-06-19 15:08] LMESTM commented on #7235
Just noticed a similar issue reported on another target: #7222

[2018-06-19 15:10] yossi2le commented on #7142
@sbutcher-arm
Thanks for the info, everyday learning something new.