[2018-03-09 14:41] pauluap commented on #6262
allright, anything further I can/should do?  For myself or to help this land in a release.

[2018-03-09 14:43] kjbracey-arm commented on #6262
I'm going to need to ask around about the cache thing generally.

And I think ST should come up with a patch proposal here. Using a reserved area of SRAM2 seems simplest in the absence of any generic infrastructure, but I'm not sure how portable that is among the various STM devices.

[2018-03-09 14:46] pauluap commented on #6262
Makes sense.  This turned out to be more far-reaching than I expected.  Are the STM folks generally reachable and responsive?  I notice that there has been no comment from the st-mcd team.

[2018-03-09 14:48] amq commented on #6205
Removing that line and checks for `isRise` solves my problem.

[2018-03-09 14:54] pauluap commented on #6262
Ah, I think that I am seeing the effects of MPU - my throughput is now 2235 packets per second, up from the last record of 2000

[2018-03-09 14:55] stevew817 commented on #6205
Would you be willing to submit a PR?

[2018-03-09 14:58] kjbracey-arm commented on #6262
Sort of makes sense. With everything properly aligned, when the cached case worked and didn't explode, you'd be suffering from delays in the driver or chip seeing transitions in the OWN bit, slowing you down a bit.

[2018-03-09 15:22] amq commented on #6205
Done.

[2018-03-09 16:13] kimlep01 commented on #6181
All Greentea tests pass now with IAR, closing defect.

[2018-03-09 16:13] #6181 closed

[2018-03-09 16:16] theotherjimmy commented on #6312
@ccli8 There's nothing I can do about OOM. Sorry.

[2018-03-09 17:48] amq commented on #6244
Solved by changing the `while (true)` loop to `while (_run_event_thread)` and adding in constructor:

[code]

and in destructor:

[code]

[2018-03-09 17:48] #6244 closed

[2018-03-09 17:48] #5692 closed

[2018-03-09 18:59] theotherjimmy commented on #6306
@0xc0170 This is not related to online deployment. What gave you that impression?

[2018-03-09 19:05] grbd opened #6317 "Question over SIGTRAP Breakpoint at mbed-os\platform/mbed_semihost_api.h:50"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Question
- Priority: Minor

---------------------------------------------------------------
## Question

**Target**
LPC1768
**Toolchain:**
GCC_ARM
**Toolchain version:**
7 2017-q4-major
**mbed-cli version:**
1.4.0

## Question

Hi,
I've been experimenting debugging mbed code using Visual Studi

[2018-03-09 19:35] studavekar opened #6318 "test :features-nvstore-tests-nvstore-functionality is failing on EV_COG_AD3029LZ and EV_COG_AD4050LZ"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
EV_COG_AD3029LZ | EV_COG_AD4050LZ

**Toolchain:**
GCC_ARM | ARM | IAR

**mbed-os sha:**

fd54e5eeb8535fb41874a30c3cd9e068d344e602

**Steps to reproduce**

Use command run :  mbed  test -m EV_COG_AD3029LZ -t GCC_ARM -n features-nvstore-tests-nvstore-functionality -v

[co

[2018-03-09 19:40] studavekar opened #6319 "test :Test insert_absolute zero is failing on EV_COG_AD3029LZ and EV_COG_AD4050LZ"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
EV_COG_AD3029LZ | EV_COG_AD4050LZ

**Toolchain:**
GCC_ARM | IAR| ARM

**mbed-os sha:**

fd54e5eeb8535fb41874a30c3cd9e068d344e602

**Steps to reproduce**

Use command run :  mbed  test -m EV_COG_AD3029LZ -t GCC_ARM -n tests-mbed_drivers-timerevent -v

[code]

CC : @maclo

[2018-03-09 19:47] studavekar opened #6320 "test : tests-mbed_platform-critical_section is failing on EV_COG_AD3029LZ and EV_COG_AD4050LZ"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
EV_COG_AD3029LZ | EV_COG_AD4050LZ

**Toolchain:**
GCC_ARM

**mbed-os sha:**

fd54e5eeb8535fb41874a30c3cd9e068d344e602

**Steps to reproduce**

Use command run :  mbed  test -m EV_COG_AD3029LZ -t GCC_ARM -n tests-mbed_platform-critical_section -v

[code]

CC : @maclobdel

[2018-03-09 19:58] bentcooke commented on #6320
@ARMmbed/team-analogdevices

[2018-03-09 19:59] bentcooke commented on #6319
@ARMmbed/team-analogdevices

[2018-03-09 19:59] bentcooke commented on #6318
@ARMmbed/team-analogdevices

[2018-03-09 20:11] studavekar commented on #6319
@fkjagodzinski any idea here this tests seems to be failing for a couple of hardware

- EV_COG_AD3029LZ
- EV_COG_AD4050LZ
- MAX32630FTHR

[2018-03-09 22:41] jamesbeyond opened #6324 "REALTEK_RTL8195AM exporting is disabled on all the IDEs/Projects"
### Description
- Type:  Enhancement / Question
- Priority:  Minor

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
 `mbed export -S` shows REALTEK_RTL8195AM was disabled for all the type of export.

**Suggested enhancement**
The OOB is requiring those features.
Should those exporting features be supported?

[2018-03-10 09:55] #6206 closed

[2018-03-11 10:01] YarivCol opened #6325 "LittleFs poor performance"
Hello!

Ive started using LittleFs after reading about its powerloss resilient features.

However, ive encountered  realy poor performance compared to FAT.

The same transaction took the FAT fs 2 read cycles and 2 write cycles while with the LFS it took 254 read cycles and 45 write cycles.

Is that a standard behavior?

Im using an eeprom with ths size of 0X1FFFF bytes, and i formated the LFS with

[2018-03-11 13:14] JojoS62 commented on #6206
the pokitto project uses an very old mbed lib version 107, actual is 159...

I would start a new mbed-classic project and copy the pokitto files to the new mbed project:
[code]

[2018-03-12 01:19] ccli8 commented on #5853
Closed with https://github.com/ARMmbed/mbedtls/pull/1275 merged.

[2018-03-12 01:19] #5853 closed

[2018-03-12 03:30] scttnlsn commented on #5478
I've also tried running mBed on this board and I'm not sure why it doesn't work properly.

[code]

I flashed the above code with an ST-Link v2 but it did not work.  Haven't had a chance to debug it yet.

[2018-03-12 06:07] danielkucera commented on #5478
You should try target  BBC micro:bit. It worked for me.

[2018-03-12 09:56] pan- commented on #6196
@yogeshk19 That's definitely missing in the API and should be patch. At least as default parameter it would make sense to accept connection parameters requests from peripherals because peripheral usually now better which parameters it needs.

Before we got a fix in master and a new API in place, here's the patch you need to accept connection parameter update requests:

[code]

[2018-03-12 10:08] fkjagodzinski commented on #6319
Looks like the `us_ticker_fire_interrupt()` function needs an update for these targets. The test case that failed `'Test insert_absolute zero'` expects a ticker interrupt to fire instantly when an event with  us delay is attached.

https://github.com/ARMmbed/mbed-os/blob/f67fe4a7a31666469d5487bc81b2cfc2dec16edc/TESTS/mbed_drivers/timerevent/main.cpp#L154-L158

A couple of boards have already been

[2018-03-12 12:26] 0xc0170 commented on #6203
yes, at the beginning of the test, there's sync between host and a target, so a test wont start until the sync happens.

If a target does not support a feature for instance. The test shows an error unsupported and that leads to a test to be skipped

[2018-03-12 12:52] stevew817 opened #6331 "Power-saving behaviour of Nanostack"
### Description
- Type: Question

@SeppoTakalo

-----------------------------------------------------------------
## Question
I've been test-driving Nanostack on EFR32 for a bit now, and wanted to ask about its power-saving behaviour. When configured as a sleepy end-node, I can see it turns off the radio during the MAC downtime. So far, so good.
However, during the sleepy time, the processor is st

[2018-03-12 12:57] 0xc0170 commented on #6331
cc @kjbracey-arm

[2018-03-12 13:16] pauluap commented on #6262
Last Friday morning, before I went to bed, I started a test run of the stress test.  When I woke up, it was dead.  I wasn't too worried because at that point, the only change I had applied was the MPU and cache clean changes.  I added some other change (I don't remember what now) and it lasted longer, but ultimately failed after nine hours.  At that point, I figured I'd just start over, take what

[2018-03-12 13:17] kjbracey-arm commented on #6331
It's not an area of active work.

Nanostack's scheduler is designed to support sleep in a bare metal environment - see net_sleep.h and eventOS_scheduler_sleep(). I can't find the "reference implementation of idle" referred to there publicly. But the basic idea is for the platform's `eventOS_scheduler_idle` call to check from Nanostack and scheduler whether it can sleep and how long, and if it can,

[2018-03-12 13:24] stevew817 commented on #6331
Okay, thanks for the rapid reply. If I were to make such changes, would you guys be open to a PR?

[2018-03-12 14:07] kjbracey-arm commented on #6331
Do feel free to experiment.

I would just give one warning - it's been years since the Nanostack sleep functionality has been fully exercised - we support sleepy-mode devices in terms of network protocols and testing, as it's a core part of the stack functionality - but that testing (which is mostly performed in simulation) is limited to shutting down the radio.

We have no current real-world plat

[2018-03-12 14:13] kjbracey-arm commented on #6331
If it helps, here's the "reference" bare-metal version of idle, to show intended behaviour - this was included in previous standalone versions of documentation:

[code]
That then relies on two platform calls `eventOS_scheduler_wait` and `eventOS_scheduler_sleep`, as described in `eventOS_scheduler.h`.

[2018-03-12 14:25] kjbracey-arm commented on #6262
Hahahaha. Okay, the system boot code turns on the cache, but then the Ethernet code knows it would kill the Ethernet driver so shuts it off again. That does explain why it's working so well.

Will read the rest tomorrow when I have time.

[2018-03-12 14:43] scttnlsn commented on #5478
@danielkucera That worked for me as well.  Thanks!  Maybe it was just an issue w/ the board's configured clock speed?

[2018-03-12 14:50] adbridge commented on #6306
@theotherjimmy It doesn't look like a fix for this will make it into RC2 so we may need a known issue adding to the docs for this ?

[2018-03-12 14:52] danielkucera commented on #5478
@scttnlsn No problem, I spent hours on making it work so I'm glad it helped. I don't know where the problem is, you can compare configs for those targets to see.
Here's my comment on mbeds page btw: https://os.mbed.com/forum/platform-39-Nordic-nRF51822-community/topic/4982/?page=2#comment-55087

[2018-03-12 14:58] theotherjimmy commented on #6306
That's true. Known issue coming.

[2018-03-12 14:58] jeromecoutant opened #6334 "Pretty bars feature optimisation with dual RAM targets"
### Description
- Type: Bug
- Related issue: #5929
- Priority: Minor

## Bug

Pretty bars feature doesn't work perfectly with dual RAM targets.

I can see 2 sub cases:

- check #5171
IRAM1 and IRAM2 have been concatenated into "IRAM1"

- check #6172
the stack is now located in IRAM2

[2018-03-12 15:28] SeppoTakalo opened #6335 "Exporting to Makefile fails to build on Windows"
### Description
- Type: Bug
- Priority: Minor

## Bug

**Target**
Any

**Toolchain:**
Any Makefile based export.

**Expected behavior**
`mbed export -m <board> -i make_gcc_arm`
`make`

**Actual behavior**
Error code:
`make (e=87): The parameter is incorrect.`

This is produced because the final link command is 44,252 characters long.

Windows CreateProcess() only accepts command line maximum lengt

[2018-03-12 19:22] geky commented on #6334
Hi @jeromecoutant, thanks for opening an issue.

It should've been noted that pretty bars has since been removed:
https://github.com/ARMmbed/mbed-os/pull/6197

We may add it back at a later date, but it's been established that pretty bars won't replace the pretty table output. If we do add pretty bars back we'll make sure that dual RAM targets are properly supported this time around.

[2018-03-12 20:44] theotherjimmy commented on #6335
Yeah, there's not a whole lot I can do about that. Known issue?

[2018-03-12 20:57] janjongboom commented on #3623
Note that this is configurable in mbed_app.json now, see https://os.mbed.com/docs/v5.7/reference/configuration.html

Noting this down as this is the top result in Google.

[2018-03-12 22:27] 0x6d61726b opened #6339 "2 Questions about "targets.json""
## Question

- Is it intended that the `"Super_Target"` does not contain the definition `"public": false`?
- Are `"target_overrides"` expected to be present here (see "HI2110") instead within the corresponding library?

[2018-03-13 05:53] ccli8 opened #6342 "Fail to run Greentea test on inherited target"
### Description
- Type: Enhancement
- Priority: Major

-----------------------------------------------------------------
## Enhancement

**Target**
NUMAKER_PFM_NUC472

**Toolchain:**
ARM

**mbed-cli version:**
1.4.0

**python**
2.7.1

**mbed-os sha:**
f67fe4a Merge pull request #6257 from SenRamakri/sen_FaultHandlerFixes

-----------------------------------------------------------------

If I run

[2018-03-13 08:10] 0xc0170 commented on #6342
I can not reproduce. I added lines

[code]

after `NUMAKER_PFM_NUC472` and mbed test does compile for me. Even if I do only `mbed test -m NUMAKER_PFM_NUC472_NOXRAM -t GCC_ARM --list`, it prints available tests.

[2018-03-13 08:18] 0xc0170 commented on #6339
It inherits it so public is set  to false.

I believe that should be a regular config not target overrides. We should fix that

[2018-03-13 08:19] 0xc0170 commented on #6339
@RobMeades Can you please review the second question? `target_overrides` in the HI2110 target

[2018-03-13 09:49] samchuarm commented on #6306
@ARMmbed/team-realtek

[2018-03-13 10:03] kjbracey-arm commented on #6262
Well, if the caches are disabled by that DisableDCache call, and that makes sense, given how well the original version works, then it's not clear what your MPU changes are doing. You should check the cache state by printing the `SCB->CCR` register that SCB_DisableDCache is manipulating.

I guess it still does mean you're changing from "Normal uncached" memory to "Device" - the effective difference

[2018-03-13 10:08] yangkunming99 commented on #6306
Hi, this is because ARM compiler always create a temp folder with the same name as the output binary. from my observation, the only way is to os.path.exists() and remove() in arm.py:link(). @0xc0170 @samchuarm

[2018-03-13 10:19] tung7970 commented on #6306
I can think of two solutions:

1. like @yangkunming99 mentioned, a path removal call such as shutil.rmtree() before elf2bin
2. add --bincombined option to fromelf so it generates plain file instead of directory for multi-load regions

[2018-03-13 10:40] tung7970 commented on #6306
Is this ok ?

https://github.com/ARMmbed/mbed-os/pull/6344

[2018-03-13 11:02] 0xc0170 commented on #6252
@kivaisan Have you experienced any issues with flashing?

@mirelachirica I assume this target uses ST Link, thus the issue is debugger related.
What firmware are you using? This is vital to see if there is newer version or what version is having a problem. Have you tried to update to the latest firmware via st link firmware updater?

[2018-03-13 11:37] 0xc0170 commented on #6252
I missed the sentence that this is pointing to the https://github.com/ARMmbed/mbed-os/pull/6172.

The commit https://github.com/ARMmbed/mbed-os/commit/02b2b01a837d921d0fd2c0d14fc702d1fe3268e1 is one to blame.

@adustm Are you aware of this? How can the PR 6172 break the flashing? It touches RAM section only

[2018-03-13 11:56] 0xc0170 commented on #6252
Looking at the changes there. Two targets we have in the codebase are STM32L486xG but they do not define two RAM regions, why?  The PR specifies that L486 should define it but they don't.  Is that correct?

Still failing to see how the 02b2b01a837d921d0fd2c0d14fc702d1fe3268e1 breaks the flashing.

[2018-03-13 11:58] 0xc0170 commented on #6252
ARM/IAR should be functional, please use these two toolchains in the meantime while this gets resolved

[2018-03-13 12:37] 0xc0170 commented on #6252
I have `NUCLEO_L476RG` that is included in that change, tests working on master as of today. Isn't this related to the firmware? where is  the firmware coming from for `MTB_ADV_WISE_1570 ` ?

[2018-03-13 13:15] kimlep01 commented on #6252
Mirela and Kimmo V left to big picture but here is the contents from details.txt:
# DAPLink Firmware - see https://mbed.com/daplink
Unique ID: 0460000007b7dd7e00000000000000000000000097969902
HIC ID: 97969902
Auto Reset: 0
Automation allowed: 0
Overflow detection: 0
Daplink Mode: Interface
Interface Version: 0244
Git SHA: 5da52ab81752fad4122d7559bf7a01844d4a366e
Local Mods: 1
USB Interfaces: MSD,

[2018-03-13 13:23] 0xc0170 commented on #6252
I referenced my local fix, but can't test as I do not have this target. @kimlep01 can you or anyone else to test for me this commit https://github.com/0xc0170/mbed-os/commit/32348e072d08bd8a380cd86618cfcc45cd17abfc , if it fixes it?

@c1728p9 Can you review this issue (how daplink could have a problem with 2 RAM sections?)

[2018-03-13 13:35] RobMeades commented on #6339
That line was put in to reduce the image size, though I have a feeling it might not actually do what I intended.  Anyway, is the suggestion that, rather than:

[code]

...it should be:

`"core.stdio-flush-at-exit": false,`

[2018-03-13 13:43] c1728p9 commented on #6252
DAPLink uses the initial stack pointer in the vector table of .bin files to check if the target image is valid. For the binary file to be considered valid the initial stack pointer must reside within the primary ram region. In the case of the stm32l486jg on the MTB_ADV_WISE_1570 DAPLink is expecting this to reside in [the range 0x20000000 to 0x20018000](https://github.com/ARMmbed/DAPLink/blob/01bc

[2018-03-13 13:47] 0xc0170 commented on #6252
That would explain the failures

Will check and can propose a fix

[2018-03-13 13:57] kimlep01 commented on #6252
I tested the commit mentioned above but it didn't fix the issue. ARM compiler works but IAR doesn't. Looking at the original pull request that caused this issue the same changes have been added to IAR toolchain already.

[2018-03-13 14:17] LiyouZhou commented on #5778
Fantastic, I look forward to tring it out. Thank you for the fix.

[2018-03-13 14:27] bcostm opened #6347 "Pull Request type information"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**

With the new PR template, we need to mention (by checking a text box) if the PR is a fix or a Refactor etc... The problem is that displays a "todo list" of 5 actions which is not what we want to see... and u

[2018-03-13 14:45] 0xc0170 commented on #6347
Thanks @bcostm . I've just noticed this in one of the recent issues, will review and fix

[2018-03-13 17:51] 0x6d61726b commented on #6339
@0xc0170: I had the feeling that the "public" property is excluded from inheritance, because:

`LPC1768` (does not have a "public" property) but inherits `LPCTarget` (that sets `"public": false`) that inherits `Target` (that sets `"public": false`).

`NUCLEO_F429ZI` (does not have a "public" property) but inherits `FAMILY_STM32` (that sets `"public": false`) that intherits `Target` (that sets `"pu

[2018-03-13 18:00] RobMeades commented on #6339
I just dredge up the comment from Sam Grove when I originally put this value in, which was that it should actually be `platform.stdio-flush-at-exit`.  In a build for another randomly chosen platform, which doesn't fiddle with the value, this lands up as `true` in an `mbed_config.h`:

`#define MBED_CONF_PLATFORM_STDIO_FLUSH_AT_EXIT            1               // set by library:platform`

[2018-03-13 18:09] 0x6d61726b commented on #6339
@RobMeades: Thanks for the explanation. I was confused about the `core.`.

[2018-03-13 23:45] pauluap commented on #6262
So, here's what I did.

First, as to the cache question, I started off at the tip of my analysis branch and did the following trails.

1. As is (system init enables cache, emac_7xx_init disables cache, emac init enables MPU, does SCB), ran for 26+ hours, no issues
2. Remove emac_7xx_init cache disable.  Ran for 1+ hour, no issues
3. Remove MPU config, SCBs.  Ah, I see why you were confused.  This

[2018-03-14 03:54] sbrewer1 commented on #6319
I am a bit confused by this test.  Can you please clarify if this is a relative or absolute timestamp. i.e. when calling  us_ticker.c::us_ticker_set_interrupt(timestamp_t timestamp) is timestamp==0u, or timestamp==get_current_time()+0u?

[2018-03-14 09:18] fkjagodzinski commented on #6319
`us_ticker_set_interrupt()` is not called in this case, the `us_ticker_fire_interrupt()` is called instead: https://github.com/ARMmbed/mbed-os/blob/f67fe4a7a31666469d5487bc81b2cfc2dec16edc/hal/mbed_ticker_api.c#L230-L235

`TimerEvent::insert_absolute()` --> `ticker_insert_event_us()` --> `schedule_interrupt()` --> `us_ticker_fire_interrupt()`

[2018-03-14 09:43] pawel-biczysko-tridonic-com commented on #5310
This is the quick solution that I have been using. It removes check for 0 content type allowing to select "text/plain"

[code]

[2018-03-14 11:50] Meano opened #6355 "GR-Peach / GR-LYCHEE Thread & Ticker Can't run at the same time"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
RZ_A1H|GR_LYCHEE

**Toolchain:**
GCC_ARM

**Toolchain version:**
GCC ARM 6-2017-Q2

**mbed-cli version:**
1.4.0

**mbed-os sha:**
af46177a6 (mbed-os-5.4 had no problem)

*

[2018-03-14 13:18] jeromecoutant commented on #6272
Hi

About the duration of HAL_RTCEx_SetWakeUpTimer_IT, it's should not be possible to reduce.
Check Reference Manual of STM32 chip :

About the time spent in the while loop, I agree we need to optimize.

I tried to measure this time:
- with 1s delta value => 8s
- with 5s delta value => 14s
- with big delta value => 35s

I applied your proposal:
- with 1s delta value => 9s
- with 5s delta value =>

[2018-03-14 13:34] kjbracey-arm commented on #6262
The only reason you should need to disable it is if you have bus mastering devices that access RAM like Ethernet, and their drivers don't know how to do cache maintenance. Ethernet is one of the few bus masters - others on this chip are DMA, USB OTG, LCD controller and graphic accelerator. It's probably the only one you're using.

If necessary, with the cache on, you can mark RAM you're sharing wi

[2018-03-14 14:05] SeppoTakalo opened #6358 "UARTSerial output does not work with REALTEK_RTL8195AM"
### Description
- Type: Bug
- Target: REALTEK_RTL8195AM

Following example should work on all platforms, but crashes on REALTEK_RTL8195AM.

[code]

This, however works:
[code]

Problem seems to be in the TX interrupt of the serial port.
Following code is able to crash the device using RawSerial:
[code]

[2018-03-14 14:10] SeppoTakalo commented on #6358
Output in Realtek is always only 4 characters. Then it crashes.

[2018-03-14 14:12] jeromecoutant commented on #6184
Hi @jeremydufour
Maybe we can close this issue ?
Thx

[2018-03-14 14:41] 0xc0170 commented on #6358
@ARMmbed/team-realtek please review

[2018-03-14 14:43] marcemmers commented on #6272
I totally agree that it is not possible to reduce the time spent in the SetWakeUpTimer. My biggest issue there is the amount of times it is set per cycle which causes extra delay. This is operating system level and probably just a limit we have to live with for now.

I checked my code when testing last week and the compiler performed the loop unrolling. However, I do agree that your function is cl

[2018-03-14 18:13] donpowrie opened #6362 "Waking STM32L073 from sleep"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug | Enhancement | Question
- Related issue: `#abc`
- Priority: Blocker | Major | Minor

---------------------------------------------------------------
## Bug

**Target**
K64F|??

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**mbed-os sha:

[2018-03-14 20:46] geky commented on #4407
I believe this has been solved. Feel free to reopen if that's not the case

[2018-03-14 20:46] #4407 closed

[2018-03-15 03:59] maclobdell opened #6366 "I2C failure on FRDM-K82F"
### Description
- Type: bug
- Related issue: n/a
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
FRDM-K82F

**Toolchain:**
Tested GCC_ARM, but likely to impact others.

**mbed-os sha:**
5.7.6  (91e6db1ea251ffcc973001ed90477f42fdca5751)

**Expected behavior**
This should work.
[code]

**Actual behavior**
Instead it results in an assert message

[2018-03-15 04:14] maclobdell commented on #6366
This is fixed by https://github.com/ARMmbed/mbed-os/pull/6310/.  Just tested it and solves the problem.

[2018-03-15 04:23] pauluap commented on #6262
Allright.  If I understand things correctly, the Normal Non-cachable Sharable configuration that you wanted to see tested with the descriptors in SRAM2 can be achieved by leaving the 16k block configuration in https://github.com/pauluap/mbed-os/commit/77a120d257b3e8d4296b774b34c0ee15b0cef00b#diff-f70ce424a419205c3ab267622d0fd5bcR114 but removing the 256 byte block nested memory region.

I did that

[2018-03-15 04:36] li-ho commented on #6318
`page_size` of `flash_target_config_t` and `size` of `sector_info_t` in mbed-os\hal\TARGET_FLASH_CMSIS_ALGO\flash_data.h are misleading names.
In flash_data.h, `page_size` is meant to be flash's minimal programmable unit size.
In some documents, `page_size` is taken as sector size.
More texts for `flash_target_config_t` and `sector_info_t` would be appreciated

[2018-03-15 05:33] sbrewer1 commented on #6319
Ok thanks for the clarification.  The mystery is why the interrupt is not called quick enough to pass the test.  As far as I can see it should happen immediately.  Maybe IRQs are disabled?  Maybe 'largecnt' is non-zero?  We will need to investigate from our side.

[2018-03-15 08:24] jeremydufour commented on #6184
@jeromecoutant of course we can close it. I don't have issues on this library anymore.
Thank you for the support you gave me.

[2018-03-15 08:24] #6184 closed

[2018-03-15 08:43] kjbracey-arm commented on #6262
Yes, given the overlap, omitting the second region is equivalent to what I was thinking, which was flipping the second region to non-cacheable.

You should also try flipping to "non-shareable", as that is the default with MPU off, and might affect something. (I'm really wanting to pin this on a memory attribute, rather than some other factor.)

Another thing I'd like you to try in the MPU off fail

[2018-03-15 09:16] 0xc0170 commented on #6362
@donpowrie Can you please provide more information about the bug? The target , toolchain, code snippet to reproduce it, expected vs actual behavior ?

[2018-03-15 11:34] 0xc0170 commented on #6318
@li-ho thanks for the feedback, can you send a pull request adding more info that would clarify it?

Here would be my proposal:

[code]

[2018-03-15 12:11] 0xc0170 commented on #6318
@li-ho I referenced above the PR with docs fixes

[2018-03-15 12:19] donpowrie commented on #6362
Sorry, I'm not used to this system...

I have a STM32L073RZT6 running with no external crystals. I started the project with MBED and exported to Kyle uVision.  The project works great and now I need to be able to put it to sleep for 3 seconds, wake the L073 to power up an RF transceiver to check for incoming packets, and then go back to sleep. I cannot leave the transceiver in low-power RX mode an

[2018-03-15 12:25] amq opened #6374 "fopen() fails on PC-formatted FAT32 SD cards, even after formatting them in mbed-os"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
Tested on EFM32PG12

**Toolchain:**
GCC_ARM

**Toolchain version:**
6-2017-q2-update

**mbed-cli version:**
1.3.0

**mbed-os sha:**
caeaa49d68c67ee00275cece10cd88e0ed0f6ed3

**sd-driver version:**
[`f4ab55d`](https://github.com/ARMmbed/sd-driver/tree/f4ab55df7768cfcb049

[2018-03-15 13:01] donpowrie commented on #6362
I exported from MBED months ago.  How do I tell from within Keil uVision what the version is for the MBED?

[2018-03-15 13:04] 0xc0170 commented on #6362
You are working offline then. Look at `mbed.h` or check git sha (that can also help). What is important is to know if you use mbed 2 or mbed OS 5 (basically to answer rtos included or not).

[2018-03-15 13:06] donpowrie commented on #6362
/* mbed Microcontroller Library
 * Copyright (c) 2006-2013 ARM Limited
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0

I'm not intending to use an RTOS.

[2018-03-15 13:09] donpowrie commented on #6362
#ifndef MBED_H
#define MBED_H

#define MBED_LIBRARY_VERSION 153

#if MBED_CONF_RTOS_PRESENT
// RTOS present, this is valid only for mbed OS 5
#define MBED_MAJOR_VERSION 5
#define MBED_MINOR_VERSION 6
#define MBED_PATCH_VERSION 2

#else
// mbed 2
#define MBED_MAJOR_VERSION 2
#define MBED_MINOR_VERSION 0
#define MBED_PATCH_VERSION MBED_LIBRARY_VERSION
#endif

[2018-03-15 13:09] kjbracey-arm commented on #6262
This is all very educational. Finally pinned down what the main difference is between "Strongly Ordered" and "Device" memory - the ARMv8 docs with their "Early write acknowledgement" rephrasing helped clarify that for me. They seem like a great clarity improvement over ARMv7.

Writes to Device memory can be buffered outside the CPU such that a write is reported as "complete" before it reaches its

[2018-03-15 13:26] 0xc0170 commented on #6362
Using mbed 2, library version 153.

`Ticker ` is running on high speed freq clock, if you defined that object, it is enabled and running , thus going to sleep would be affected (the power consumption). If you do not high precision ticker, use low power ticker (in your example 3 seconds wake up), I would rather use Low power ticker in that case.

[2018-03-15 13:33] donpowrie commented on #6362
I tried that.  When I declare LowPowerTicker the current draw is even higher in sleep mode at 9-12mA.

LowPowerTicker MyTimer;
expired=0;
MyTimer.attach(&int_acq1, 6.0);
while(expired==0) sleep();

Am I using LowPowerTicker correctly?

[2018-03-15 13:58] 0xc0170 commented on #6362
Is that entire code snippet how to reproduce this draw on `STM32L073` ? Based on the description, you have own target based on STM32L073  MCU?

@ARMmbed/team-st-mcd Please review

[2018-03-15 14:02] jeromecoutant commented on #6362
Hi

Lots of work have been done since 5.6.2 version

Please rebase to the latest version

Thx

[2018-03-15 14:17] donpowrie commented on #6362
Yes, this is the entire code for sleep mode.  See my first post in this thread for the ISR.

Yes, my PCB is very small and coin cell powered.  It has the STM32, an SX1280 based RF transceiver and a temperature sensor that is powered by a port pin but is powered off.  The transceiver is also in sleep mode.  If I call sleep() by itself the current draw from the coin cell is 300uA.

Please advise how

[2018-03-15 14:19] donpowrie commented on #6362
The STM32 is under the RFS1280 module.
![2c](https://user-images.githubusercontent.com/8753010/37468858-feef1a72-2831-11e8-9d88-3143d382987c.jpg)

[2018-03-15 15:39] #6205 closed

[2018-03-15 15:41] cmonr commented on #6366
Closing as #6310 is now merged.

[2018-03-15 15:41] #6366 closed

[2018-03-15 15:59] #6204 closed

[2018-03-15 16:25] AGlass0fMilk commented on #6207
Resolved by #6296

[2018-03-15 16:25] #6207 closed

[2018-03-15 17:36] donpowrie commented on #6362
jeromecoutant:
Please advise how I go about rebasing to to the latest version of MBED. Is there a document I can read for the procedure?

[2018-03-15 18:02] pauluap commented on #6262
I want to confirm that I did manage to land DMARxDescTab at 0x200200fc and it did work.  I preserved everything, including Makefile manipulations at https://github.com/pauluap/mbed-os/tree/fc_offset, commit https://github.com/pauluap/mbed-os/commit/e40ec8680cb9d792df0d373faa262dcbf5e29ab7

                0x00000000200200fc                DMARxDscrTab
                0x000000002002017c

[2018-03-15 18:08] pauluap commented on #6262
I'll follow up on the stuff you commented on.  I want to ask a question however.  Previously, you spoke of kicking the hardware.  I'm not completely clear on that.  In the RX case, the only thing that I can see that is done after setting the OWN bit is the clearing of the segment count.  The "resume DMA reception" by setting DMARPDR only occurs in the event of an error with Rx Buffer Unavailable,

[2018-03-15 21:34] pauluap commented on #6262
Ok.  Setting the SRAM2 memory region to nonsharable didn't cause Rx buffer unavailable to assert.

However, I did notice that with the non-device setting (shared and non-shared), the ethernet seems to stutter at startup

![image](https://user-images.githubusercontent.com/573966/37490291-75d75f4e-2857-11e8-8fa5-08075fe8374a.png)

As compared to when configured for device access, the conversation st

[2018-03-16 00:43] li-ho commented on #6319
The following code will pass the test:
[code]

[2018-03-16 00:57] li-ho commented on #6318
`flash_start` is an address, not a size.

[2018-03-16 04:12] dave-wu commented on #6319
I thought the NVIC_SetPendingIRQ would trigger the interrupt and we are not supposed to call the irq handler directly here.

[2018-03-16 06:09] bcostm commented on #6362
I think you should redo this. Take care to use the latest mbed library before running the exporter command. It will be the easiest way.

Or you can use the offline "mbed export" command to generate the Keil project.

See the documentation:
https://os.mbed.com/docs/latest/tutorials/arm-mbed-os-quickstart.html
https://os.mbed.com/docs/latest/tutorials/quick-start-offline.html

[2018-03-16 10:45] normads opened #6380 "HAL Flash sector erase doesn't work consistently"
I'm emulating an EEPROM on STM32F746ZG (nucleo board) using sector 6 and 7 and HAL_FLASHEx_Erase(&pEraseInit, &SectorError) does not consistently erase the sector.
checking whether the sector is erased and erasing again in a loop usually works after 1 or 2 iterations and sometimes rarely takes upto 5 iterations.

GCC_ARM

[2018-03-16 12:00] donpowrie commented on #6362
bcostm-
Thank you for your reply.  I'll try this again.  Hopefully the sleep command will be working in the later version of MBED.

I would still like to know where I might find information on the two personalities of the sleep command.  See above for details.

[2018-03-16 16:38] JuricaResetar opened #6381 "mbed-cli gcc arm compile problem"
Hi,
I'm trying to use mbed-cli to work with mbed-os offline.

### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
NRF52_DK

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (15:4.9.3+svn231177-1) 4.9.3 20150529 (prerelease)
Copyright (C) 2014 Free Software Foundation, Inc.

**mbed-cli version:**
1.4.0.

**mbed-os sha:**
0b3

[2018-03-16 16:43] #6252 closed

[2018-03-16 16:45] #6265 closed

[2018-03-16 16:46] JuricaResetar commented on #6381
The issue is removed to ARMmbed/mbed-cli:
https://github.com/ARMmbed/mbed-cli/issues/645

[2018-03-16 17:01] theotherjimmy commented on #6381
This is the correct location for this issue.

[2018-03-16 17:02] theotherjimmy commented on #6381
See https://github.com/ARMmbed/mbed-os/issues/3725#issuecomment-357287766

[2018-03-16 17:03] theotherjimmy commented on #6381
Also, Please don't use `sudo` with `mbed compile`. Was that a workaround for something?

[2018-03-16 17:05] theotherjimmy commented on #6381
Note: That commit must be old, it's from November of 2013. You may benefit from an upgrade of Mbed OS.

[2018-03-16 17:06] theotherjimmy commented on #6381
@JuricaResetar take a look an #3725 for complete advice on resolving this issue.

[2018-03-16 20:09] donpowrie commented on #6362
I am now running the latest version of MBED (5.7.6 or 159 in mbed.h).

The sleep command has not changed in its ability to enter and exit sleep mode.  If Sleep follows a timer (Ticker or LowPowerTicker) command then the lowest current draw is about 6mA.  If called all by itself, sleep() successfully enters a low-power state with my system only draws 300-500uA.

When the ticker expires normal opera

[2018-03-16 20:35] janjongboom opened #6382 "LPCXpresso54114 has no PWMOUT - but it's on the hardware"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
LPCXpresso54114

**Toolchain:**
N/A

**mbed-os sha:**
Mbed OS 5.7.5

**Expected behavior**

In targets.json this board is marked as not having PWM: https://github.com/ARMmbed/mbed-os/blob/7c30faf69de11c84acc5853ed322e8b67a4ce33a/targets/targets.json#L736

But that's not correct, the boar

[2018-03-17 06:26] pauluap commented on #6262
Ah, a bit of a correction to the last conclusion I made.  I realized that it wasn't correct to make the entire 16k region at beginning of SRAM2 strongly ordered because that would enforce strongly ordered rules on the DMA buffers, and if I'm thinking about things correctly, the DMA machinery circumvents the access controls that strictly ordering imposes.

So I reverted to the 16k region being norm

[2018-03-17 07:44] savent404 opened #6383 "How can I get STM32's IRQ and re-write it"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Question

## Question

**I want to write a sdio driver for SDFileSystem, How can I get SDIO's IRQ handle in mbed?**
My way is transplant from STM32F411RE's SD BSP(using SDIO DMA mode with

I can write interrupt handle but this function is at 0x0800xxxx, and I found nvic vector is at 0x020000xx

[2018-03-17 07:56] savent404 opened #6384 "Is there any way I can use SDIO with filesystem?"
### Description
- Type: Question
- Priority: Major

## Question

**As title**

[2018-03-17 12:09] janjongboom opened #6385 "LoRaWAN HAL does not support sub-band selection in US915 channel plan"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
All

**Toolchain:**
N/A

**mbed-os sha:**
Mbed OS 5.8 RC

**Expected behavior**

US915 uses 64 channels, but most gateways only support 8. Thus the network uses a sub-band of US915 to operate the LoRa network on. We should be able to specify which sub-band to use in code. If you use OTAA

[2018-03-17 14:26] JuricaResetar commented on #6381
@theotherjimmy Thank you very much for your comment and replies.
I used sudo with mbed because otherwise mbed failed to install some required python modules.
The solution for my problem was to install arm-none-eabi-newlib package.
Thank you.

[2018-03-18 00:16] grbd opened #6386 "Update Docs for adding to target config values from mbed_app.json"
### Description
- Type: Enhancement

Hi,
I've recently been trying to get mbed to output a hex file instead of a bin
to make it easier to flash with jlink
(since jlink flash doesn't take elf files, and with bin files you have to specify an offset)
I know there's a value of OUTPUT_EXT you can set, but it's just a case of knowing how to set it.

tried this but no result
[code]

tried this but since

[2018-03-19 01:05] dmelo commented on #6122
Hi @andreaslarssonublox, does the fix works? If it does, is it possible for me get my hands on it? It would be really helpful.

[2018-03-19 08:43] toyowata commented on #5612
@theotherjimmy
The fix for online tools deployed and I confirmed the e2studio exporter works now.

However, I can not export particular program to e2studio.

[Step to reproduce]
* Open the export link below:
https://os.mbed.com/teams/Renesas/code/GR-PEACH_mbed-os-client-ZXingSample/export
* Set [Choose board] GR-PEACH
* Set [Choose toolchain] e2 stidio
* Press [Export] to continue

Then, I got Pag

[2018-03-19 13:49] 0xc0170 commented on #6384
@deepikabhavnani Please review

[2018-03-19 13:55] 0xc0170 commented on #6383
mbed uses dynamic vectors, thus using NVIC SetVector/GetVector API should work for you. Just need to know IRQn number and set your own handler plus set properly hw to trigger interrupts.

You can look some HAL implementation how it does handle interrupts (_init function mainly)

[2018-03-19 14:01] savent404 commented on #6383
That's good help, I just re-target NVIC handle in startup.s as usual.

[2018-03-19 14:09] theotherjimmy commented on #5612
@TomoYamanaka Have you checked that the project compiles and does not produce a config error?

[2018-03-19 14:56] janjongboom opened #6389 "LoRaWAN receive API should not require port"
### Description
- Type: Bug | Enhancement

## Enhancement

**Reason to enhance or problem with existing solution**

In the LoRaWAN API you are required to specify the `port` that you can want to 'receive' a message on. Receive between quotes because you're not receiving anything as the message is already received. There is a message or there isn't. Also in LoRaWAN you can **at most** get 1 message

[2018-03-19 15:31] deepikabhavnani commented on #6384
We have SDBlockDevice driver for SD cards which uses SPI interface, and SDIO support is not available yet. In case you are planning to implement SDIO driver, you can add it as BlockDevice. BlockDevice class provides the underlying API for representing block-based storage that you can use to back a file system. Mbed OS provides standard interfaces for the more common storage media, and you can exte

[2018-03-19 15:46] janjongboom opened #6390 "Need build profiles in Online Compiler"
### Description
- Type: Enhancement

## Enhancement

**Reason to enhance or problem with existing solution**

Build profiles are super useful, you can use them to enable c++11 or switch to newlib-nano. Also they are required for release builds. I want them in the online compiler too. E.g. DISCO-LRWAN1 target can basically only be built if you do some tricks like newlib-nano, which makes developing

[2018-03-19 16:11] maxgerhardt opened #6391 "LoRaMac.cpp resets antenna gain and max EIRP wrong"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

The LoRaMac.cpp resets the parameters `_params.sys_params.max_eirp` and `_params.sys_params.antenna_gain` in the wrong way. In one part it uses `phy_param.value` (`uint32_t` interpretation of the union) and in another place it uses the `phy_param.f_value` interpretation (`float` i

[2018-03-19 18:15] MarceloSalazar commented on #6335
FYI @adbridge

[2018-03-19 18:22] geky commented on #6390
cc @screamerbg, @theotherjimmy, not sure where this issue should be filed.

[2018-03-19 18:24] theotherjimmy commented on #6390
@thegecko I think this may be your department

[2018-03-19 19:06] theotherjimmy commented on #6335
@MarceloSalazar What do you want Anna to do about this? Is there something I can do?

[2018-03-19 19:30] MarceloSalazar commented on #6335
I've just wanted Anna to be aware of this, as may need to go to the known issue list.

[2018-03-19 19:33] theotherjimmy commented on #6335
I can add it. Would you like a known issue?

[2018-03-19 19:38] theotherjimmy commented on #6335
Known issue added.

[2018-03-20 01:53] savent404 commented on #6384
There is only one question: mbed-os not support a API for SDIO interface, and i only plain to use it in stm32. How can I implement SDIO driver or only implement SDFilesystem for STM32 SDIO driver?

[2018-03-20 01:54] li-ho commented on #6320
In line 48 of https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbed_platform/critical_section/main.cpp
The 'timeout_time_us' of 'timeout.attach_us(callback(tiemout_callback), timeout_time_us);' is 1.
The typical value of 'timeout_time_us' from other test cases ranges from 100 to 500000.
1 microsecond is too harsh for a 26 MHz MCU.

[2018-03-20 05:33] janjongboom opened #6395 "mbed-os-example-lorawan fails to export in online compiler (all make_* targets on F411RE)"
@theotherjimmy

### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
NUCLEO-F411RE, others not tested.

**Toolchain:**
Online Compiler

**mbed-os sha:**
Mbed OS 5.8 RC

**Expected behavior**

Exporting works.

**Actual behavior**

Exporting fails.

See https://github.com/ARMmbed/mbed-os-example-lorawan/issues/53, https://github.com/ARMmbed

[2018-03-20 06:18] ccli8 opened #6396 "Is malloc() thread-safe in ARMC6?"
### Description
- Type: Question
- Priority: Major

-----------------------------------------------------------------

## Question

**Target**
NUMAKER_PFM_NUC472

**Toolchain:**
ARM|ARMC6

**Toolchain version:**
ARM: 5.06
ARMC6: 6.9

**mbed-cli version:**
1.4.0

**mbed-os sha:**
f6bcbfe Merge pull request #6356 from hug-dev/asm-include-flags

**How to?**
According to **Arm C and C++ Libraries and

[2018-03-20 06:28] TomoYamanaka commented on #5612
In the below program, it seems that the above export error message occur on Online compiler yet. Other programs seem to have no problem regarding to export.
https://os.mbed.com/teams/Renesas/code/GR-PEACH_mbed-os-client-ZXingSample/

export error message:
[code]

<br>
And, although I checked whether the exported program(ex: mbed-os-example-blinky) compiles on e2studio, I faced many compile error.

[2018-03-20 07:05] kivaisan commented on #6389
I fully agree. Current API makes no sense. In order to minimize the API change, I'd prefer changing receive() method as:

    /** Receive a message from the Network Server.
     *
     * @param port              On return the application port number to which message
     *                          was received.
     *
     * @param data              A pointer to buffer where the received data will

[2018-03-20 07:17] teetak01 commented on #6003
@0xc0170 please open this ticket as it still impact current release versions.

[2018-03-20 07:18] M-ichae-l commented on #6358
Hi, @SeppoTakalo
I have used the latest Mbed-os to test with your first code example. There is no crashes on my side. Could you please double check and give more details on your first crash issue?

[2018-03-20 07:30] maskedw opened #6397 "NUCLEO_L476RG AnalogIn, want to measure internal temperature sensor."
### Description
- Type: Question
---------------------------------------------------------------

## Question
**Target**
NUCLEO_L476RG

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc 6.3.1

**mbed-cli version:**
1.2.2

**mbed-os sha:**
16bac10

-----------------------------------------------------------------

## Question

**How to?**

The temperature is measured with the code be

[2018-03-20 07:54] maskedw opened #6398 "NUCLEO_L476RG: Measuring ADC_TEMP after using ADC_VREF in AnalogIn results in abnormal results"
### Description
- Type: Bug
- Related issue: #1685, #4326, #6397

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc 6.3.1

**mbed-cli version:**
1.2.2

**mbed-os sha:**
16bac10

**Steps to reproduce**
(Room temperature 23 ℃)

[code]

This measured value is not as expected, but I have po

[2018-03-20 08:54] kjbracey-arm commented on #6262
The normal kick is the write to `DMATPDR` (transmit) or `DMARPDR` (receive) on "buffer unavailable" (`TBUS`/`RBUS`) status.

My reading of the manual is that as configured the `RBUS`->`DMARPDR` kick is not needed as the chip is configured to chuck the FIFO when that happens and check descriptors again on next packet reception. But if packets could be sitting in the FIFO, I guess that would be need

[2018-03-20 08:57] kjbracey-arm commented on #6262
Making the buffers strongly-ordered would significantly cripple the performance of the copies in and out, which would likely significantly change the timing so that the driver wasn't keeping up.

[2018-03-20 09:59] 0xc0170 commented on #6398
@ARMmbed/team-st-mcd Please review

[2018-03-20 10:15] 0xc0170 commented on #6397
@ARMmbed/team-st-mcd Please review

[2018-03-20 10:16] 0xc0170 commented on #6003
Can you provide an update what versions are impacted, how, etc? As my understanding, 5.8 does not have this issue anymore.

[2018-03-20 10:28] 0xc0170 commented on #6386
If this app vs target is not documented well, please send a pull request with this improvement.

I looked at Overriding target attributes section there, and it specifies target prefix for overriding target configuration. Here https://github.com/ARMmbed/Handbook/blob/new_engine/docs/tools/config_system.md#overriding-target-attributes

[2018-03-20 10:35] 0xc0170 commented on #6396
https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/mbed_boot.c#L442

They are present for ARMCC, can you verify they are compiled for ARMC6 that you are using?

In the user guide for ARMCC 6, it is still defined same API for thread safe allocators (section 1.6.8 Management of locks in multithreaded applications there).

[2018-03-20 11:12] 0xc0170 commented on #6320
The timeout_time_us of timeout.attach_us(callback(tiemout_callback), timeout_time_us); is set to 1.
The typical value of timeout_time_us from other test cases ranges from 100 to 500000.
1 microsecond is too harsh for a 26 MHz MCU.

@maciejbocianski

[2018-03-20 11:26] li-ho commented on #6320
The tested achievable values for EV_COG_ADxxxx boards are
`const us_timestamp_t timeout_time_us = 50;`
`const int wait_time_us = timeout_time_us * 1;`

[2018-03-20 11:39] 0xc0170 commented on #6391
@hasnainvirk @kivaisan Please review

[2018-03-20 11:56] teetak01 commented on #6003
5.7.5->5.7.7

[2018-03-20 12:05] 0xc0170 commented on #6319
That is correct, should not call the handler directly, dangerous to do.

@li-ho Why set pending IRQ is not effective? Is there driver API that would retrigger TMR2 IRQ handler?

[2018-03-20 12:18] kivaisan commented on #6391
@maxgerhardt Yes, looks like a clear bug. I'll prepare a fix for it.

[2018-03-20 12:30] netanelgonen opened #6400 "no wifi to wise 1530"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug

**Target**
Wise 1530.

in order to compile the wise 1530 need to use wise 1510 target (according to https://os.mbed.com/modules/advantech-wise-1530/) in wise 1510, there is no WiFi but LoRa. wise 15

[2018-03-20 12:31] netanelgonen commented on #6400
@SeppoTakalo  can you please help?

[2018-03-20 12:31] jeromecoutant commented on #6397
Hi

Please check #6399

Regards

[2018-03-20 13:29] janjongboom commented on #6389
@kivaisan Maybe change it to a structure, because I'd also like stuff like RSSI and SNR of the received packets. If not today, then at a later point.

[2018-03-20 13:31] li-ho commented on #6319
It's clear `NVIC_SetPendingIRQ(TMR2_EVT_IRQn);` does not work as we expected.
`GP2CallbackFunction` is the callback of TMR2 IRQ handler.

`adi_tmr_Enable(ADI_TMR_DEVICE_GP2, false);` disable timer.

`tmr2Config.nLoad        = cnt;`
`tmr2Config.nAsyncLoad   = cnt;`
`adi_tmr_ConfigTimer(ADI_TMR_DEVICE_GP2, tmr2Config);`
`adi_tmr_Enable(ADI_TMR_DEVICE_GP2, true);` restart the timer.

[2018-03-20 13:33] 0xc0170 commented on #6319
Does that fixes the issue? Can you send PR?

[2018-03-20 13:47] kivaisan commented on #6389
I would like to keep receive parameter list as short as possible. Would it be better to have a separate method to query signal quality?

[2018-03-20 14:19] maciejbocianski commented on #6320
I think it's the same problem as reported here #6319
frankly calling `timeout.attach_us(..., 0);` and `timeout.attach_us(..., 1);` is practically the same scenario

[2018-03-20 14:30] bcostm commented on #6383
Are you OK to close this issue or do you need more help ?

[2018-03-20 14:34] grbd commented on #6386
Okay since it's in the handbook I'll close this down

[2018-03-20 14:34] #6386 closed

[2018-03-20 14:34] davidsaada commented on #6165
@toyowata This is problematic. FlashIAP driver allows programming of data if it is aligned to the device page size, meaning that it allows programming of multiple page sizes. The only board that failed the shown test was the ARCH_PRO. Now, if I follow the logic implied by your answer, it means that FlashIAP should only write in flash page units. This is a change to the FlashIAP driver imposed by t

[2018-03-20 14:37] 0xc0170 commented on #6165
It should be possible to write more.

@toyowata Shouldn't we rewrite the driver? It currently writes 1024 as I read your code reference. If we do it in a loop, we should be able to write multiple pages, like other targets do?

[2018-03-20 14:46] toyowata commented on #6165
@davidsaada @0xc0170

I agreed with you both.  I think the original code was written for flash driver of the MDK-ARM and we simply re-used it.  We should fix the target code.

[2018-03-20 14:51] davidsaada opened #6405 "Add a blank value API to flash_api"
### Description
- Type: Enhancement
- Priority: Minor

**Reason to enhance or problem with existing solution**
We want to allow code to check whether a specific part of a sector is erased. NVStore code, for instance, does it in initialization. In the vast majority of flash components, the erase value is all ones. However, there are a few boards whose erase value is zero. The STM32L151CB is one of

[2018-03-20 14:52] kjbracey-arm commented on #6389
I wasn't totally sure about the request - it seemed to me like "there can be only 1 packet" was a current implementation restriction, not fundamental. Why couldn't the stack be buffering 1 or even multiple received packets for each of 2 ports?

There is already a race here - the RX_DONE callback is not synchronous, it's on an event queue. It's not necessarily true that the packet you got the RX_DO

[2018-03-20 15:40] deepikabhavnani commented on #6384
API's for SDIO interface will be same as API's for SPI interface. https://github.com/ARMmbed/sd-driver/blob/master/SDBlockDevice.h

[2018-03-20 15:46] theotherjimmy commented on #6306
@thegecko FYI, Realtek will likely download more than one file in the online compiler. I don't know if you were aware, or if you handle it.

[2018-03-20 15:49] theotherjimmy commented on #6395
Thanks for consolidating these problems @janjongboom I'll take a look today.

[2018-03-20 15:50] 0xc0170 commented on #6347
Should be fixed via https://github.com/ARMmbed/mbed-os/pull/6348

[2018-03-20 15:53] theotherjimmy commented on #6395
Hm. I cannot reproduce this offline.

[2018-03-20 15:54] thegecko commented on #6306
I'm not aware of a way to serve more than one binary, is this a new requirement?

[2018-03-20 15:55] theotherjimmy commented on #6306
@tung7970 I'm not able to answer @thegecko 's question. Could you?

[2018-03-20 16:21] tung7970 commented on #6306
@thegecko Still one download. Binary files are post-processed beforehand.

[2018-03-20 16:23] theotherjimmy commented on #6306
Thanks! @thegecko Sorry for the noise.

[2018-03-20 16:50] bmanga opened #6407 "wait function waits for wrong time on gcc"
### Description
- Type: Bug
- Priority: Major

Using the wait function on mbed-cli results in wrong timing on LPC1768 using arm-gcc, and it seems to wait ~10x the specified amount. The same code works fine via the online compiler.
The problem seems to be within the `__svcDelay` function.

---------------------------------------------------------------
## Bug

**Target**
LPC1768

**Toolchain:**
GCC

[2018-03-20 17:10] studavekar commented on #6320
@maciejbocianski thanks should be close this issue and track progress on #6319?

[2018-03-20 18:52] theotherjimmy commented on #6395
@janjongboom I think this may affect all targets too. It failed for K64F x make_gcc_arm for me

[2018-03-20 18:53] theotherjimmy commented on #6395
Oh, this might be a timeout :-1:

[2018-03-20 20:47] Spivoxity opened #6409 "NVIC_SetVector does nothing on NRF51822"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NRF51822

**Expected behavior**
NVIC_SetVector(cmsis_nvic.c) should dynamically change an interrupt vector, allowing a handler to be installed at run time.

**Actual behavior**
I haven't tried this, but the code to copy the vector table from flash to RAM (two versions o

[2018-03-20 22:30] donpowrie commented on #6362
I am now running the latest version of MBED (5.7.6 or 159 in mbed.h).

The sleep command has not changed in its ability to enter and exit sleep mode. If Sleep follows a timer (Ticker or LowPowerTicker) command then the lowest current draw is about 6mA. If called all by itself, sleep() successfully enters a low-power state with my system only draws 300-500uA.

When the ticker expires normal operati

[2018-03-20 22:44] studavekar opened #6410 "Zero delay (attach) test fails for REALTEK_RTL8195AM"
May be related to https://github.com/ARMmbed/mbed-os/pull/5106

### Description
- Type: Bug
- Priority:   Minor

---------------------------------------------------------------
## Bug

**Target**

REALTEk_RTL8195AM

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha:**
53cb6e0 Merge pull request #6279 from AnttiKauppila/master

**Steps**
mbed test -t GCC_ARM -m REALTEk_RTL8195AM --run -n tests-mbed_dri

[2018-03-21 01:41] li-ho commented on #6319
Within `us_ticker_fire_interrupt()`, TMR2 timer cannot be restarted after being disabled, and `NVIC_SetPendingIRQ(TMR2_EVT_IRQn)` is not effective either.
The workable solution so far is to disable TMR2 timer and then call `us_ticker_irq_handler();`

The proposed change to https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Analog_Devices/TARGET_ADUCM4X50/TARGET_ADUCM4050/api/us_ticker.c

[2018-03-21 01:47] ccli8 commented on #6396
@0xc0170 Yes. But per my compiling with ARMC6 (V6.9), I didn't find `_mutex_acquuire`/`_mutex_release` included in generated MAP file like ARMCC (V5.06). So I question thread-safety of `malloc` with ARMC6 in Mbed OS.

The test `mbed-os-tests-mbedmicro-rtos-mbed-malloc` is to test `malloc` in multiple threads. It is passed in **NUMAKER_PFM_NUC472** with both ARM/ARMC6. But I still want to clarify i

[2018-03-21 09:04] jeromecoutant commented on #6398
Hi
Issue is confirmed. ADC driver team is contacted.
Thx

[2018-03-21 09:05] jeromecoutant commented on #6398
ST_INTERNAL_REF 45122

[2018-03-21 09:08] kjbracey-arm commented on #6262
Feeling a bit sad here. The approach of marking descriptors and buffers as Normal and Shareable and using DSBs really should be the Correct(TM) thing to do architecturally and should work. The original failure should be largely down to the lack of Shareable attribute and DSBs (plus the other non-coherency "1 read per interrupt" type issues).

The Shareable attribute is a request to the hardware to

[2018-03-21 09:26] maciejbocianski commented on #6320
Yes, could be closed
@studavekar

[2018-03-21 10:09] toyowata commented on #6165
@davidsaada @0xc0170

I raised the PR here.  Please review.
https://github.com/ARMmbed/mbed-os/pull/6413

[2018-03-21 10:36] SeppoTakalo commented on #6400
WiFi support for WISE-1530 in still in feature branch and not yet published in the master.
https://github.com/ARMmbed/mbed-os/tree/feature-wiced

[2018-03-21 10:57] M-ichae-l commented on #6358
Hi,
I have uploaded a fix for LogUart Tx interrupt crach.
Please refer to #6415 .

[2018-03-21 11:29] TuomoHautamaki commented on #5645
Any estimate when the next release will happen?

[2018-03-21 11:29] TuomoHautamaki commented on #5582
Any estimate when this would be fixed?

[2018-03-21 11:55] SeppoTakalo commented on #6358
To replicate the issue:
[code]
Now create `main.cpp` based on the last example I posted earlier.
[code]

[2018-03-21 12:00] SeppoTakalo commented on #6358
I can confirm that the fix is working.

To verify, follow the previous post on how to create an example application, then:
[code]

And now the example code starts to work.

[2018-03-21 12:50] jeromecoutant commented on #6272
Hi

As #6370 is merges, do you agree to close this issue,
or something more is missing ?

Thx

[2018-03-21 14:12] loverdeg-ep opened #6417 "Remove References to Yotta, module.json, and other OS3 stuff"
### Description
- Type: Enhancement
- Related issue: [Handbook-#462](https://github.com/ARMmbed/Handbook/issues/462#issuecomment-374846529)
- Priority: Minor

## Enhancement

When perusing the mbed OS source files I often come across preprocessor references to yotta, which as far as I know, is no longer used in any capacity for mbed development. Though a minor distraction and usually found in FEAT

[2018-03-21 15:29] #6272 closed

[2018-03-21 15:37] #6320 closed

[2018-03-21 15:58] 0xc0170 commented on #6319
`largecnt  = 0` would mean you invoke handler directly? If yes, then this can lead to stack overflow (we already had issues like this that was one of the drive for having fire interrupt function).

[2018-03-21 16:15] 0xc0170 commented on #6362
If you use LowPowerTicker, can you look at what is blocking deepsleep ? or is it actually blocked - Does your platform support tickless ? I think that is blocking the deepsleep.

What I do not yet understand, calling sleep() vs going idle (that also invokes sleep).

[2018-03-21 17:10] pilotak opened #6420 "MbedCRC - crc8 maxim"
Hi,
I just discovered that CRC library is baked into OS, i run the example which was fine now a want to implement CRC8_MAXIM here is how i do it:
[code]
unfortunately it doesn't compile, is this class not meant to be used for other but listed/supported CRC?
[code]

### Description
- Type: Bug  | Question
- Priority:  Minor

**Target**
STM32F429

**Toolchain:**
GCC_ARM

[2018-03-21 21:06] donpowrie commented on #6362
Thank you for the reply.  Please see my questions inline:

If you use LowPowerTicker, can you look at what is blocking deepsleep ? or is it actually blocked?
-->How do I check what is blocking deepsleep?

Does your platform support tickless ? I think that is blocking the deepsleep.
-->How would I know?  I am now running the latest version of MBED (5.7.6 or 159 in mbed.h) and compiling with the Kei

[2018-03-21 22:05] AGlass0fMilk opened #6421 "SerialWireOutput class outside of mbed namespace"
https://github.com/ARMmbed/mbed-os/blob/58f57954caca95d30908a07c225d0fe227d95ae4/drivers/SerialWireOutput.h#L22

I'm trying to develop with the SerialWireOutput class to do some debug printing. It appears that this class isn't declared inside the mbed namespace, contrary to all(?) the other drivers.

I'm trying to eliminate use of just including "mbed.h" to limit code size. This driver is causing

[2018-03-21 22:13] theotherjimmy commented on #5612
@TomoYamanaka I think you'd be hard pressed to find a different online compiler error message. I'll have a look at that reproducing example tomorrow.

[2018-03-21 22:55] sbrewer1 commented on #6319
Unfortunately I think this points to another problem in the code.  `event_timer()` is called from `us_ticker_set_interrupt(timestamp_t timestamp)`.  It is possible that `us_ticker_irq_handler()` is called directly from `event_timer()` if `largecnt==0`.  Which would mean the irq handler could cause the stack overflow problem you mention.  This code should fix the problem (untested).

[code]

[2018-03-21 23:08] sbrewer1 commented on #6319
As Edmund correctly points out, the reason the test is failing is that when the timer is disabled via `adi_tmr_enable(xxxx, false)`, then interrupts are disabled for that timer.

Because of my previous comment and bugfix, we can use a variation of Edmund's solution.  The (untested) solution is to call event_timer() with a largecnt value, then initiate an interrupt manually after forcing largecnt b

[2018-03-22 00:12] sbrewer1 commented on #6319
Hmm, I spotted a bug with my above changes.  When calling us_ticker_set_interrupt(), if largecnt is zero, then my bugfix code doesn't initiate any interrupt.

[code]

[2018-03-22 04:16] pauluap commented on #6262
Every time I think I have some sort of understanding, it gets blown away.

I was preparing to test out your latest suggestions, created a new branch for my work, branching off a known failure spot.  Built the project and tested it.  It worked.  Surprised, I checked out the map.  DMARxDscrTab was at `0x2000484c`

After a bit of pondering, I realized that I was using the Makefile that had been modif

[2018-03-22 04:17] pauluap commented on #6262
Is there anybody who has access to a Discovery-F769NI board that could try to replicate?  Maybe my hardware is a special snowflake.

[2018-03-22 06:09] maskedw commented on #6397
Thank you. I confirmed that the AD value will be as expected.

[2018-03-22 06:09] #6397 closed

[2018-03-22 06:22] maskedw commented on #6398
With # 6412 change, we confirmed that both ADC_VREF and ADC_TEMP can be measured normally.

[2018-03-22 09:46] #6398 closed

[2018-03-22 13:50] pan- commented on #6396
@0xc0170 `_mutex_acquire`  is defined in [RTX](https://github.com/ARMmbed/mbed-os/blob/342e3caeb80b39c57060b9009a5339777c599af3/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_lib.c#L625) I'm not sure to understand why the function is defined as weak; it doesn't seems right.

[2018-03-22 13:54] theotherjimmy commented on #5612
Oh. That project is too big to export. The online compiler is timing out. I think. @immunda @thegecko Is there something I could do to improve the performance of export so that this does not happen?

[2018-03-22 14:22] 0xc0170 commented on #6396
I believe that is protected via macro that we define not to be enabled. Same is for some startup hooks that we redefine. I assume that is a reason why is not weakly defined.

cc @JonatanAntoni

[2018-03-22 14:39] marcemmers opened #6426 "STM32L0xx: (tickless using lp_ticker) Becomes unresponsive after indeterminate time"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32L072, possibly more

**mbed-os sha:**
5.7.7 16bac101a6b7b4724023dcf86ece1548e3a23cbf

**Issue**
We are experiencing some problems where the device becomes unresponsive after an indeterminate time. This can be anywhere between several minutes and a couple of hours.

[2018-03-22 15:47] thegecko commented on #5612
We could increase the timeout, but perhaps cutting down the export size would be a better way to go? E.g. removing targets and history?

[2018-03-22 15:49] marcemmers commented on #6426
A potential cause might be a ticker value that is smaller than the previous:
[code]

If ticker_time reads smaller than that what is stored in tick_last_read for whatever reason the result is a small negative number cast to a uint becoming a very large number which is then added to the present_time.

There is a piece of code in the rtc_api which could cause the time to be less than it was previousl

[2018-03-22 15:53] theotherjimmy commented on #5612
@thegecko We already don't include other targets or any history.

[2018-03-22 15:57] thegecko commented on #5612
@theotherjimmy  Please raise an IOTTOO ticket for us to investigate the timeout. A specific re-creatable use case would be really helpful.

[2018-03-22 16:00] theotherjimmy commented on #5612
Let me verify that this example does trigger the timeout. Then I'll raise an issue for it.

[2018-03-22 16:07] marcuschangarm commented on #6421
SerialWireOutput should probably be in the mbed namespace, but would that solve your problem? I would be surprised if it worked without including mbed.h!

What code size increase do you see when you include mbed.h? It really shouldn't affect code size and if it does we should fix it.

[2018-03-22 16:15] AGlass0fMilk commented on #6421
There's been discussion in several issues, notably #5679, about the issue of including "mbed.h". I've already seen conflicts from user namespace pollution. And for the sake of clarity and control I would rather just include the modules I need to use.

It becomes very easy to treat mbed as a black box when you just include mbed.h, and then you can run into problems that have no apparent cause.

[2018-03-22 16:22] marcuschangarm commented on #6421
Cool! Do you mind submitting that change in a PR please? Thanks!

[2018-03-22 16:29] theotherjimmy commented on #5612
It's not triggering a timeout. It's a config error that is a bug.

[2018-03-22 16:31] theotherjimmy commented on #5612
I resolved that bug on partnerbeta, but now the requests just die, with no exception or anything.

[2018-03-22 16:31] 0xc0170 commented on #6426
@c1728p9 Can you review please?

[2018-03-22 16:32] 0xc0170 commented on #6426
cc @ARMmbed/team-st-mcd

[2018-03-22 16:38] AGlass0fMilk commented on #6421
Sure thing, see PR #6427

[2018-03-22 17:03] theotherjimmy commented on #5612
see https://github.com/ARMmbed/mbed-os/pull/6428

[2018-03-22 19:38] theotherjimmy commented on #6395
upon further investigation this is https://github.com/ARMmbed/mbed-os/pull/6428

[2018-03-22 21:11] marcuschangarm commented on #5515
Second UART enabled: https://github.com/ARMmbed/mbed-os/pull/6435

[2018-03-22 22:16] yennster opened #6436 "GR-LYCHEE: mbed-os-example-blinky fails to compile"
## Bug

**Target**
GR-LYCHEE

**Toolchain:**
Online compiler

**Expected behavior**
mbed-os-example-blinky compiles successfully and .bin file downloads for GR-LYCHEE target.

**Actual behavior**
A lot of warnings and the following errors:
[code]

**Steps to reproduce**
Follow this link to import mbed-os-example-blinky into the online compiler for the GR-LYCHEE board: https://os.mbed.com/compiler/

[2018-03-22 22:31] kegilbert commented on #6436
Reproduced on my end as well through the online compiler with a fresh import of the blinky example.

However GCC_ARM and ARM (ARM Compiler 5.06 update 6 (build 750)) both compiled correctly through mbed-cli (mbed-os-5.7, 16bac101a6b7b4724023dcf86ece1548e3a23cbf).

I'd need the online compiler output files in that tmp directory to figure out what's trying to pull that file in.

[2018-03-22 22:45] yennster commented on #6436
When compiling with GCC_ARM thru Mbed CLI:

[code]

[2018-03-23 01:39] li-ho commented on #6319
@0xc0170 @sbrewer1 TMR2 is pre-scaled to tick at the frequency of 26MHz/256. Isn't 10 us too long to wait to fire the interrupt? Were you thinking to fire the the interrupt after one tick at the frequency of 26MHz (0.04 us)?

[2018-03-23 03:20] woodsking2 opened #6438 "Stream: add jlink rtt to log"
Type: Enhancement
Priority: Minor

Reason:
    Some chip(like nrf52832) has only one uart used for communication。

Suggested enhancement
    A rtt class from stream used for log

Pros:
    can log without uart

Cons:
     need a jlink

[2018-03-23 08:08] pauluap commented on #6384
I'm sorry I don't have a public repository to share, but I found it pretty straightforward to implement the BlockDevice API using ST's Cube BSP functions - `BSP_SD_xxx()` Depending on your STM device, you should be able to download the appropriate ST Cube package to get the BSP drivers to use.  If you're not using any of their evaluation boards, then you can use the BSP implementation as a startin

[2018-03-23 10:54] seppestas commented on #6438
IMO it makes more sense to develop this as a library instead of adding it to mbed-os.

[2018-03-23 11:49] 0xc0170 commented on #6438
@woodsking2 Have you had a look at `SerialWireOutput` class?

I recall there was a port for rtt before filehandle improvements landed. Then it was reworked and should be possible to find a reference in the PR, I might add it here once I find it.

[2018-03-23 12:50] marcemmers commented on #6426
I have now bypassed the shadow registers and followed the instructions in the datasheet (reading twice and verifying the data) and this seems to solve the issues I am having. I will let this run for the weekend to see if it is indeed a suitable solution.

[2018-03-23 13:56] 0xc0170 commented on #6319
SetPending will be replaced then with your fix (to set tick for 0.04) ?

It is too long, should be immediate. The event is in the past already in this case.

cc @fkjagodzinski @maciejbocianski

[2018-03-23 14:46] theotherjimmy commented on #6436
I already have a PR up to fix this. It's 8 days old at this point, and should be live in the next week or so.

[2018-03-23 14:46] theotherjimmy commented on #6436
It's the linker script.

[2018-03-23 14:46] theotherjimmy commented on #6436
No such person exists. I'm the person that maintains the online build tools.

[2018-03-23 14:47] theotherjimmy commented on #6436
It's actually the include in the linker file that's causing problems.

[2018-03-23 15:02] sbrewer1 commented on #6319
@li-ho

This code does not want the interrupt to run, it just enables the timer so the interrupt will occur.

[code]

This code enables forces the interrupt

```NVIC_SetPendingIRQ(TMR2_EVT_IRQn)```

[2018-03-24 00:00] bmcdonnell-ionx opened #6444 "crash_log_parser crashes"
I'm troubleshooting an intermittent "imprecise" HardFault. `crash_log_parser` crashed when trying to parse a crash log from firmware where I had disabled the write buffer use during default memory map access with the instruction `SCnSCB->ACTLR &= ~(SCnSCB_ACTLR_DISDEFWBUF_Msk);`.

References:
https://community.nxp.com/docs/DOC-103810
http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0

[2018-03-24 09:37] 0xc0170 commented on #6444
@SenRamakri Please review

cc @ARMmbed/team-nxp

[2018-03-24 09:37] 0xc0170 commented on #6438
cc @kjbracey-arm

[2018-03-24 09:39] 0xc0170 commented on #6420
@deepikabhavnani Please review

[2018-03-24 14:30] deepikabhavnani commented on #6420
https://github.com/ARMmbed/mbed-os/pull/6442 will fix the issue. Default constructor for template class was suppose to be in header file and not CPP file.

[2018-03-26 06:39] teetak01 opened #6449 "mbed deploy fails randomly with Mbed OS 5.8"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
All

**Toolchain:**
Any

**mbed-cli version:**
1.2.0

**mbed-os sha:**
5.8.0-RC2

**Expected behavior**
mbed deploy works always

**Actual behavior**
00:00:14.231 + mbed deploy --protocol ssh
00:01:00.404 error: Your local changes to the following files would be overw

[2018-03-26 06:47] mmahadevan108 commented on #6444
@bmcdonnell-ionx Thank you for finding this. Is this a fix to the DAPLink HICHAL driver?

Could you submit a patch.

[2018-03-26 07:15] 0xc0170 commented on #6449
Does this happen with earlier mbed OS versions?

@theotherjimmy @screamerbg

[2018-03-26 07:16] teetak01 commented on #6449
Nope, only with 5.8.0

[2018-03-26 07:16] marcemmers commented on #6426
After a weekend of running two devices: one is still running without problems, one is stuck in the same problem as we had before.

Most likely it can still happen that the read time is earlier than the stored previous time. Might be an implementation issue on my side. I will see if I can improve on that.

Otherwise it might be an idea to make the update_present_time function a bit more robust to p

[2018-03-26 07:49] 0xc0170 commented on #6449
It seems the file is one to blame, not certain why we havent seen this in our CI . @studavekar Please review

[code]

cc @geky @bulislaw

[2018-03-26 08:38] marcemmers opened #6451 "Add option to read out if serial transmission is done"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
When running in a low power setup we are experiencing issues with serial transmission. When we transmit one or multiple characters using for example puts of putc the transmission will loop until all character

[2018-03-26 09:10] 0xc0170 commented on #6449
Steps to reproduce locally with blinky

[code]

[2018-03-26 09:13] LMESTM commented on #6426
@marcemmers thanks for sharing your inputs and findings. One question : why are you changing the default STM32L072 configuration like this;
#define MBED_CONF_TARGET_LOWPOWERTIMER_LPTIM              0
Is there a specific reason for that ?

[2018-03-26 09:17] marcemmers commented on #6426
@LMESTM Yes there is, we are using the LPTIM as a PWM output for driving some leds during sleep. Hence we couldn't use it also as base clock for the OS.

[2018-03-26 09:29] LMESTM commented on #6426
@marcemmers that's interesting input - thanks. And what low power modes are you entering ? Would like to understand if you're using the LP TICKER as a very periodic wake-up source (which period ?) or more like an RTC alarm for waking-up after a rather long sleep period

[2018-03-26 09:47] marcemmers commented on #6426
@LMESTM We are entering stop mode via the mbed sleep api.

In the configuration we are using the operating system is using the wakeup event from the RTC to go into sleep until the next event needs to be activated. I am not actively controlling the RTC for this. The rtc date/time is used as the base time from which the us time is calculated.

I did not have to change anything except using the previ

[2018-03-26 12:26] gaborkertesz opened #6454 "Consecutive ticker callbacks result more timer interval interrupt requests than expected"
- Type: Bug
- Priority: Major

**Target**
ARM_CM3DS_MPS2

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha:**
458e726b1e2c32fb2ea6238771190d6fdd78e18d

**Expected behavior**
In the example two 1sec callbacks are requested and 120 interval timestamps in us_ticker_set_interrupt are collected. In best case only in every other second would be a new interval request, which means 120 samples would be colle

[2018-03-26 13:22] sg- commented on #6335
Is there a workaround for this based on how close to root you place the exported project or are all these paths relative to the extract point on disc and due to the amount of features and source code and path expansion in Mbed OS for a particular target?

[2018-03-26 13:33] bmcdonnell-ionx commented on #6444
I did have some crashes later which it could parse, so I'm not sure if you'll be able to reproduce this. Maybe you can give it a shot, and if not, then we wait and see.

(Sorry I can't share the files with you to troubleshoot. It's application firmware.)

@mmahadevan108

I would have if I knew how to fix the issue.

I don't know where the problem lies.

[2018-03-26 13:34] bmcdonnell-ionx commented on #6444
I'm using an Embedded Artists' [LPC4088 QuickStart Board](https://www.embeddedartists.com/products/boards/lpc4088_qsb.php).

[2018-03-26 13:58] theotherjimmy commented on #6335
@sg- I'd have to check, but I think you may be able to  work around this by extracting into an already short path. That being said, if the project exceeds the path limit without any prefixes, then there is no workaround (other than use another exporter, or use Linux)

[2018-03-26 14:07] SeppoTakalo commented on #6335
I cannot remember whether it used relative or absolute path names...
I would assume that relative, which would mean that no workarounds exists, other than using proper operating system.

[2018-03-26 14:19] sg- commented on #6335
🤣

[2018-03-26 14:19] theotherjimmy commented on #6335
XD "proper" operating system

[2018-03-26 16:15] 0xc0170 commented on #6454
@bulislaw @c1728p9 @maciejbocianski  Please review

[2018-03-26 16:20] SenRamakri commented on #6444
As far as I see this is an issue in the tool itself, nothing to do with DAPLink driver. I'll look into this.

[2018-03-26 16:21] SenRamakri commented on #6444
@bmcdonnell-ionx - Do you have the crash dump which caused the tool to fail?

[2018-03-26 16:42] bmcdonnell-ionx commented on #6444
@SenRamakri

I'm glad you asked...

On further inspection, I found that the crash dump file I was using used CR (`\r`) for linebreaks, whereas another that was fine used CRLF (`\r\n`). I'm not sure how that happened; maybe I captured one from a PuTTY terminal window, and the other from a log file, or something.

Can you make the parser more tolerant?

[crash-log-01--CR.txt](https://github.com/ARMm

[2018-03-26 16:43] studavekar opened #6460 "ARM_CM3DS_MPS2+ drive complains No space left on device"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
ARM_CM3DS_MPS2

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-cli version:**
1.5.0

**mbed-os sha:**
d97d55a Merge pull request #6450 from 0xc0170/fix_#6449

**Expected behavior**
During the execution of tests, the device storage should not be used up.

**Actual behavior**
we

[2018-03-26 17:11] 0xc0170 commented on #6449
I hope that this is now resolved, and further actions will be taken for file line endings

From our coding style guide: `Unix line endings are default option for files.`

@OPpuolitaival @SeppoTakalo @kjbracey-arm - Should we review .gitattributes for line endings for this repository? also astyle can handle the check.

[2018-03-26 17:15] 0xc0170 commented on #6262
@ARMmbed/team-st-mcd Can you please review?

[2018-03-26 17:24] ashok-rao commented on #6460
@tkaman / @hug-dev ..could you please take a look at this?

[2018-03-26 18:05] SenRamakri commented on #6444
@bmcdonnell-ionx - Thanks for sharing the info and feedback. I will look into making the tools more tolerant. Eventually, we may integrate this script/feature into other mbed debug tools.

[2018-03-26 18:55] bmcdonnell-ionx commented on #5725
#5571 has been merged into mbed-os-5.8, and I'm using this method now. Thanks!

[2018-03-26 19:32] pauluap commented on #6262
To aid in replication of the F769NI Ethernet issues on the Discovery board, I recommend starting from https://github.com/pauluap/mbed-os/tree/a2da8ab25823f0ec3d78d915b9da01c12c143280.
This branch provides several things to assist.

There are defines in `features/FEATURE_LWIP/lwip-interface/lwip-eth/arch/TARGET_STM/stm32xx_emac.c`
`F769_ETH_CONFIG_SRAM1_FAIL`, `F769_ETH_CONFIG_SRAM1_OK`, `F769_ETH_

[2018-03-27 01:43] savent404 commented on #6384
That is exactly what i'm doing!

[2018-03-27 08:12] maclobdell commented on #6180
My apologies, I just realized that I had not commented on this.  During testing, this platform was found to run out of memory with some Mbed OS 5 tests with GCC_ARM compiler.  It worked fine for IAR and Arm compilers, which are optimized more for small memory footprint.  The KL27Z passed tests with Mbed 2 configuration without RTOS, which uses less memory.  This is why the platform was marked as M

[2018-03-27 08:31] stevew817 opened #6470 "New ticker tests are not adapted to variable-width tickers."
### Description
- Type: Bug

@0xc0170 What we talked about earlier.
@LMESTM I guess you're having the same issues.

---------------------------------------------------------------
## Bug

**Target**
EFM32

**Toolchain:**
GCC_ARM

**mbed-os sha:**
458e726b1

**Expected behavior**
Unit tests work with all tickers corresponding to the new requirements (width between 16 bits and 32 bits, frequency bet

[2018-03-27 08:39] LMESTM commented on #6470
Indeed - same issues faced, now also with sleep tests, for instance here:
https://github.com/ARMmbed/mbed-os/blob/feature-hal-spec-sleep/TESTS/mbed_hal/sleep/main.cpp#L87

[2018-03-27 08:40] jeromecoutant commented on #6470
Agree also, seems that some tests need few update to ticker_info_t with frequency other than 1MHz and counter different than 32.

[2018-03-27 08:54] ManDeJan commented on #6180
Hi, thanks for the response. After editing targets.json and enabling Mbed OS 5 it worked fine for me with the gcc-arm compiler toolchain. Though I needed to turn on -Os optimizations. Building the following code for the KL25Z target gives a 45K binary. Building it for the KL27Z gives a 53K binary.

[code]
These are very similar chips and such a simple program as above shouldn't result in a binary

[2018-03-27 09:27] mprse commented on #6470
This tests assumes that each test case (if needed) is executed before overflow occurs. `overflow_protect()` function should protect against overflow.

I also had some issues with overflows and had to modify this first test version. Final test version is provided here PR https://github.com/ARMmbed/mbed-os/pull/5629 (https://github.com/ARMmbed/mbed-os/pull/5629/commits/80c55e47f85aaeb8137367dbd962cb

[2018-03-27 09:31] bulislaw commented on #6470
@mprse @jamesbeyond could you split the test fixes to separate PR please.

[2018-03-27 09:59] mprse commented on #6470
PR with test fixes only can be found here PR https://github.com/ARMmbed/mbed-os/pull/6472.

[2018-03-27 10:54] hug-dev commented on #6460
Hi @studavekar
I will look into this and try to see what we can do!

[2018-03-27 11:03] teetak01 commented on #6449
Thanks, issue has been fixed in #6450

[2018-03-27 11:03] #6449 closed

[2018-03-27 11:56] KariHaapalehto opened #6476 "mbed-os is not compiling if BLE and Cordio features are enabled"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
MTB_ADV_WISE_1530

**Toolchain:**
all toolchains GCC_ARM, ARM, IAR

**Expected behavior**
mbed-os should compile with BLE and Cordio features enabled

**Actual behavior**
11:34:46 Compile [  6.5%]: mbed_shared_queues.cpp
11:34:46 Compile [  6.6%]: CordioHCIDriver.cpp

[2018-03-27 12:07] 0xc0170 commented on #6476
@pan- @donatieng Please review

[2018-03-27 13:26] adbridge commented on #6306
fixed by #6344

[2018-03-27 13:26] #6306 closed

[2018-03-27 13:33] netanelgonen opened #6478 "mbed-os compile MODULE_UBLOX_ODIN_W2 as a target"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Blocker

while trying to compile MODULE_UBLOX_ODIN_W2 target the compiler does not found the PinNames.h file.

workaround:
cd targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_MODULE_UBLOX_ODIN_W2
cp ./TARGET_MTB_UBLOX_ODIN_W2/PinNames.h  ./

-

[2018-03-27 13:50] woodsking2 commented on #6438
accept it
https://github.com/ARMmbed/mbed-os/issues/6438#issuecomment-375622048
Let's make it be a library

[2018-03-27 13:50] #6438 closed

[2018-03-27 14:59] 0xc0170 commented on #6478
I believe `MODULE_UBLOX_ODIN_W2` is not valid target name. This "parent" is a module that is sharing some common properties. Please look at odin, mtb or connect odin targets - those are actually targets that inherit from module ublox odin

[2018-03-27 21:38] screamerbg opened #6489 "Broken Python 2.7.11 support in Mbed OS 5.8.1 for ARMCC"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F429ZI

**Toolchain:**
ARM

**Python version:**
[code]

**mbed-cli version:**
1.5.0

**mbed-os sha:**
addec7b Merge pull request #6461 from ARMmbed/release-candidate

**DAPLink version:**
STLink

**Expected behavior**
`mbed test ...` works

 **Actual behavior**

[2018-03-27 23:04] cmonr commented on #6489
@screamerbg Can you post your output for
[code]

What happens if you try the tests inside of a python virtual env?

Have you looked at running `pip install -r requirements.txt` yet?

[2018-03-27 23:19] cmonr commented on #6489
Also, maybe this was just me, but doing a `mbed update 5.8.0` (or 5.8.1) in that sequence of steps causes build failures, whereas if I were to only checkout mbed-os and run the same test command, evreything compiles fine.

[2018-03-27 23:36] screamerbg commented on #6489
[code]

[2018-03-27 23:39] screamerbg commented on #6489
@cmonr Did you try to reproduce it with ARMCC and mbed-os-5.8.1, e.g. `mbed test -t ARM -m K64F --app-config mbed_app.json -n "tests-api-spi*"`

[2018-03-28 03:24] cmonr commented on #6489
Interesting. I only tried GCC_ARM. I can give ARM a shot tomorrow.

I did try 5.8.1, which had the same results as 5.8.0.

[2018-03-28 08:01] 0xc0170 commented on #6489
I have installed locally `future` module that should resolve this. If I remove it, I can see the same error as reported here.

Once uninstalled, I run pip install -r mbed-os\requirements.txt (mbed-os is 5.8.1 tag `addec7ba1 - (HEAD, tag: mbed-os-5.8.1, upstream/mbed-os-5.8) Merge pull request #6461 from ARMmbed/release-candidate (16 hours ago)`).

[code]

SHA 14255ca113366bd19acfb8d87462b32e972514

[2018-03-28 08:02] donatieng commented on #6476
@KariHaapalehto @0xc0170 Thanks, fix on its way

[2018-03-28 08:06] netanelgonen commented on #6478
When trying to compile on the mbed-os#062164eaad9c36299a9b30eaac9077b8c02472a5 this is listed as one of the targets...
should it be removed? the error does not reproduce while using target name MTB_UBLOX_ODIN_W2

[2018-03-28 08:14] 0xc0170 commented on #6478
How is it reported? Can you share the exact steps to reproduce?
It should not be as it is not complete target

cc @theotherjimmy

[2018-03-28 08:46] netanelgonen commented on #6478
to reproduce:
1. clone mbed-os
2. checkout master & pull
3. mbed compile -t GCC_ARM -m AAA
getting an output message:
usage: make.py [-h] [-m MCU] [-t TOOLCHAIN] [--color] [--cflags CFLAGS]
               [--asmflags ASMFLAGS] [--ldflags LDFLAGS] [-c]
               [--profile PROFILE] [--app-config APP_CONFIG] [-p PROGRAM]
               [-n PROGRAM] [-j JOBS] [-v] [--silent] [-D MACROS]

[2018-03-28 08:46] netanelgonen commented on #6478
then compiling with the  MODULE_UBLOX_ODIN_W2 target

[2018-03-28 09:17] netanelgonen commented on #6478
change the name of the issue as the 1st issue not exists

[2018-03-28 10:28] prvthkr opened #6495 "Without TRNG and Ethernet : mbed-os-example-client using LPC1347"
### Description
- Type: Question
- Priority: Medium
---------------------------------------------------------------
## Question
**Target**
LPC1347

**Toolchain**
ARM

Requirement is to port [mbed-os-example-client](https://github.com/ARMmbed/mbed-os-example-client) on target LPC1347.
1. However, TRNG is not supported by this target.
    - is it possible to use [mbed-os-example-client](https://gith

[2018-03-28 10:40] 0xc0170 commented on #6495
@teetak01 Can you review?

[2018-03-28 13:56] 0xc0170 commented on #5626
Should be resolved via #6216

[2018-03-28 13:56] #5626 closed

[2018-03-28 16:38] theotherjimmy commented on #6478
@0xc0170 MODULE_... needs the key "pubilc" set to `false` in targets.json.

[2018-03-28 19:08] #4038 closed

[2018-03-28 19:09] #4096 closed

[2018-03-28 19:10] #4460 closed

[2018-03-28 19:12] #4584 closed

[2018-03-28 19:16] #4784 closed

[2018-03-28 19:18] #5276 closed

[2018-03-28 21:24] AGlass0fMilk opened #6499 "Yotta still in use? Best way to unit test?"
### Description
- Type: Question
---------------------

## Question
Is the yotta platform still in development/recommended for use?

I'm currently using mbed-cli and my project is fairly engrained in that build system. I'm trying to start implementing unit tests with the greentea framework and other utilities provided by mbed. The greentea documentation mentions that it uses yotta, but I remember

[2018-03-28 22:01] bmcdonnell-ionx opened #6504 "Planned PR for interrupt-based SPISlave"
### Description
- Type: Enhancement | Question
- Priority: Minor

The main reason I'm posting this as an issue instead of just submitting the pull request (PR) is because of the rumored "upcoming SPI spec", and the fact that I can't post the PR right away. Details below.

----------------------------------------------------------------
## Enhancement

I have (as-yet unpublished) changes to the `SP

[2018-03-29 04:05] prvthkr commented on #6495
@teetak01 I'm stuck on this issue so, would you like to help me resolve this issue.

[2018-03-29 05:19] netanelgonen commented on #6478
I have created this PR to solve this issue
https://github.com/ARMmbed/mbed-os/pull/6505

[2018-03-29 05:49] #6165 closed

[2018-03-29 06:04] prvthkr opened #6506 "Online compiler error while exporting to external IDE"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F|LPC1768

**Toolchain:**
GCC_ARM|ARM|IAR...Online Compiler

**Expected behavior**
Should be export.

**Actual behavior**
Giving error while exporting.

![untitled](https://user-images.githubusercontent.com/31398919/38072613-c58b1e16-3344-11e8-9750-7d948d51e95f.png

[2018-03-29 11:53] andreaslarssonublox commented on #6122
Hi, yes we have a fix that will be included in the next driver release.

[2018-03-30 02:36] AchmadFathoni commented on #3966
Is there any workaround to call i2c function periodically ticker like without ticker?

[2018-03-30 04:52] maskedw opened #6513 "NUCLEO_L476RG: Hang up after wakeup from deepsleep."
### Description
- Type: Bug
- Related issue: #5830

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc 6.3.1

**mbed-cli version:**
1.5.0

**mbed-os sha:**
addec7b

**Steps to reproduce**

The cycle to hang is irregular. It occurs approximately 1000 times or less repeatedly.
Is there a p

[2018-03-30 05:02] maskedw opened #6514 "The printf immediately after wakeup from deepsleep gets garbled."
### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc 6.3.1

**mbed-cli version:**
1.5.0

**mbed-os sha:**
addec7b

**Steps to reproduce**

[code]

**Outputs**
[code]

[2018-03-30 07:04] jeromecoutant commented on #6513
Hi

Yes, we have worked on this issue this week.
Tests are on going.

@LMESTM

[2018-03-30 07:21] LMESTM commented on #3966
I2C transfers can be quite slow and long, so better to do it from another context than interrupt context. A good way to do it is to call I2C transfers from threads, which will be triggered from the interrupt: good description can be found here; https://os.mbed.com/blog/entry/Simplify-your-code-with-mbed-events/

[2018-03-30 07:51] jeromecoutant commented on #6514
Looks same question as #6451

cc @bulislaw @c1728p9

[2018-03-30 08:41] marcemmers commented on #6514
@jeromecoutant It's not exactly the same as #6451 because the issue I am having is at the end of transmission before entering sleep. This seems to be a issue where the clocks are not yet initialized correctly.

[2018-03-30 08:43] maskedw commented on #6514
This problem is right after deepsleep, so I think it is a different problem from # 6451.

[2018-03-30 08:46] maskedw commented on #6513
Great. I will wait for this problem to be resolved and close the issue.

[2018-03-30 08:53] LMESTM commented on #6514
@maskedw we will test after we've fully validated sleep mode exit.

But your use case should work fine already ... maybe it musses a small modification.
Could you try out to move     core_util_critical_section_exit();  call from line 91 to last line of the function ?
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/sleep.c#L91

Note that in the future, hal_deepsleep() will be call

[2018-03-30 11:59] AchmadFathoni commented on #3966
My device STM32F446RE doesn't support RTOS and event library.

[2018-03-30 12:57] jeromecoutant commented on #6362
Hi

Maybe have a look on https://os.mbed.com/docs/v5.8/reference/power-management.html

You can see, for ex, that ticker is locking deep sleep, and that in most cases, you don't need to call sleep() directly, Mbed OS enters sleep mode automatically any time the system is idle.

[2018-03-30 14:26] jeromecoutant commented on #3966
Maybe you can explain why ?

Thx

[2018-03-30 15:19] LMESTM commented on #3966
I agree with Jérôme, STM32_F446RE supports RTOS.

If you really don't want to move to RTOS, you may consider using the simpler I2C API which should work from interrupt context

    /** Read a single byte from the I2C bus
     *
     *  @param ack indicates if the byte is to be acknowledged (1 = acknowledge)
     *
     *  @returns
     *    the byte read
     */
    int read(int ack);

    /** Wri

[2018-04-01 12:19] KingOfTheValley opened #6520 "Error when compiling, not enought memory?"
### Description
- Type: Error while compiling
- Related issue: Simulink/Matlab
- Priority: Blocker | Major | Minor

---------------------------------------------------------------
## Bug

**Toolchain:**
GCC_ARM

Hello, I am trying to "Download" simulink project to Lego Mindstorms NTX brick, it is using GCC_ARM. It is working normally, but when I put fuzzy block from Matlab fuzzy support package, t

[2018-04-01 18:55] pavels opened #6521 "mbed_error_vfprintf retargeting"
## Enhancement

We now have retargeting for stdout and stderr which is greate. We can use SWO for this stuff pretty easy and that is realy greate.

There is one thing left behind
`mbed_error_vfprintf` (in `/mbed-os/platform/mbed_board.c`)

This is used to print out debug messages when the firmware crashes. It would be nice if this thing can somehow use the retargeting system as well (so we can sen

[2018-04-02 00:28] maskedw commented on #6514
I made changes but it did not solve it.
[code]

[2018-04-02 07:55] ccli8 commented on #6396
@0xc0170 @pan- Any update?

[2018-04-03 00:11] AGlass0fMilk opened #6525 "I2C Asynch -> Schedule transfer in callback"
### Description
- Type: Question
---------------------------------------------------------------
## Question

I'm trying to write an asynchronous read function for a sensor (Silicon Labs Si7006). I found some slightly old example code that schedules another asynchronous I2C transfer during the first event's callback. This allows a single call to get the temperature and humidity readings from the d

[2018-04-03 07:27] kjbracey-arm commented on #6449
I think the .gitattributes in the repo is fine.

The problem is .gitattributes is only effective if obeyed by a Git client - so it works fine if committing using normal command-line git with default settings. But if people are doing anything else it can be bypassed - eg if someone uploads a file via the Github web UI, or overrides Git settings locally.

So would be a good idea to incorporate into

[2018-04-03 09:19] drahnr opened #6526 "failure to build with `target.stack_size`"
## Bug

**Target**
NRF52

**Toolchain:**
GCC_ARM

**mbed-cli version:**
1.5.0
1.3.0

**mbed-os sha:**
5.8.1

**Expected behavior**
compile like mbed os 5.7.1

**Actual behavior**

**Steps to reproduce**
run
[code]
with this config

[code]

[2018-04-03 09:40] 0xc0170 commented on #6526
@theotherjimmy Can you review please?

[2018-04-03 09:44] JonatanAntoni commented on #6396
Sorry, I don't understand your issue. The multi-thread library integration in RTX is defined weak to allow a redefinition if needed. In case of mbedOS I expect these function to be defined somewhere else to be compliant with your memory allocation style.

[2018-04-03 10:06] 0xc0170 commented on #6449
@OPpuolitaival Can you please look at this, can add this check to CI ?
We had really hard time because of such as "silly" file change. Worth adding as server-end check 👍

[2018-04-03 10:07] kjbracey-arm commented on #6449
@OPpuolitaival - See also my more detailed comments on testing on #6450.

[2018-04-03 12:17] 0xc0170 commented on #6521
Thanks for the feedback

@kjbracey-arm Please review

[2018-04-03 12:49] dmelo opened #6529 "How can I use WPS on ODIN-W2?"
### Description
- Type: Question
- Priority: Major

---------------------------------------------------------------
## Question

I'm struggling to find a way for users to configure WiFi network on ODIN-W2. ODIN-W2 does not support AP mode and I couldn't find much about WPS.

On [ODIN-W2 series Technologies Application Note](https://www.u-blox.com/sites/default/files/ODIN-W2-Technologies_Applicatio

[2018-04-03 12:53] kjbracey-arm commented on #6521
Hi, yes, we've discussed this - it's not quite that simple, alas. (Which is my excuse for not having done it).

`putc` calls into the C library, which in at least some cases has an internal mutex for each file handle, including stdout/stderr.

As such, you can't use those calls from the sort of tricky contexts this is issued from - critical section as you can see, and possibly in an interrupt or e

[2018-04-03 12:53] 0xc0170 commented on #6529
@ARMmbed/team-ublox Please review

[2018-04-03 13:24] LMESTM commented on #6514
@maskedw
I am working on somehow related issues and wanted to verify if this helps here.
I tested and I confirm that my fix seems to solve your issue. I pushed my patch here:
https://github.com/LMESTM/mbed/commit/bbc01b83dd33ea413ffd0c76473e8bf8702ebe65
Please confirm if ok for you.
Br
Laurent

[2018-04-03 13:25] LMESTM commented on #6426
@marcemmers
would you try out the commit here and let me know if this helps:
LMESTM/mbed@bbc01b8

[2018-04-03 13:27] LMESTM commented on #6513
@maskedw
would you please try out the commit here and let me know if this helps ?
LMESTM/mbed@bbc01b8

[2018-04-03 14:32] theotherjimmy commented on #6526
@drahnr Your configuration is incorrect. the "target_overrides" section must contain target names, and config must contain new configuration variables. I think what you want is this config file:
[code]
That being said, you'll find that overriding `target.stack_size` and `target.heap_size` have no affect.

[2018-04-03 15:48] c1728p9 commented on #6454
@gaborkertesz is this still a problem with the two timer implementation?

[2018-04-03 16:29] #4827 closed

[2018-04-03 20:46] yennster opened #6532 "RTL8195AM: compilation fails in online compiler"
## Bug

**Target**
RTL8195AM

**Toolchain:**
Online compiler

**Expected behavior**
Programs compile successfully in the online compiler and a .bin file downloads for RTL8195AM target.

**Actual behavior**
A lot of warnings and the following errors:
[code]

**Steps to reproduce**
Open the RTL8195AM board in the online compiler and try compiling blinky or the wifi example for it: https://os.mbed.co

[2018-04-04 04:28] maskedw commented on #6513
I ran about 1 hour. So far so good. I will continue to try it for a 2,3 days.

[2018-04-04 04:31] maskedw commented on #6514
I tried [LMESTM/mbed@bbc01b8. ](https://github.com/LMESTM/mbed/commit/bbc01b83dd33ea413ffd0c76473e8bf8702ebe65)
But, garbled characters were not improved.

[2018-04-04 04:52] maskedw commented on #6513
When repeating the loop, the cycle became obviously long.
1 to 2 seconds cycle?
It is assumed that PLL initialization fails and it is operating at 1 MHz set by ForceClockOutofDeepSleep().

**UART output after abnormality occurs**

[code]

[2018-04-04 06:57] LMESTM commented on #6514
@maskedw that's really strange because I actually tested this. I just tried it again on master. Without the patch, I can first reproduce the issue, then I cherry-pick the commit I pointed to and the problem is solved.  Every time I reset, the program restarts fine and displays i correctly ...
[code]

[2018-04-04 06:58] LMESTM commented on #6513
@maskedw Ok I will let it run and see if I reproduce.

[2018-04-04 07:36] maskedw commented on #6514
I tried it at some baud rates.

  | baud
-- | --
O | 9600
O | 19200
X | 38400
X | 57600
X | 115200

[2018-04-04 08:15] shirish47 commented on #1378
I am not sure but I have been facing a similar issue. I have a big project code so can't share it. The thing is every thing works perfectly for most of the time.
I am using mbed BLE with custom devices made based on redbear labs devices with same modules and programmed on arduino IDE. This works fine for short periods.

In normal case device sleeps for most of the time and a Ticker is used to main

[2018-04-04 08:40] drahnr commented on #6526
thanks for clarifying.

[2018-04-04 08:40] #6526 closed

[2018-04-04 09:11] pan- commented on #6476
@KariHaapalehto can we close this issue ?

[2018-04-04 11:03] gaborkertesz commented on #6454
Yes, I've just tested it with 2 timers and the issue is the same, since it's coming from the upper ticker layer, so independent of ticker HAL implementation. There is no critical issue caused by this unwanted behavior, since the system is still responsible, but overloaded with unnecessarry interval interrupts.

[2018-04-04 13:02] KariHaapalehto commented on #6476
Yes, issue can be closed

[2018-04-04 13:07] #6476 closed

[2018-04-04 13:50] maciejbocianski commented on #6454
@gaborkertesz How are you printing timestamp in `us_ticker_set_interrupt`, are you filtering it to be sure that collected sample is from your ticker? Or just print unconditionally?

[2018-04-04 13:58] gaborkertesz commented on #6454
I'm collecting the requested timerstamps in us_ticker_set_interrupt unconditionally. Is it expected to request interrupts by other source?

[2018-04-04 14:17] atoy40 opened #6539 "RAK811 target and battery measurment"
Hello,
the PA_2 pin is used as an ADC on the rak811 to get battery voltage (using a 5/3 voltage divisor)
So it's needed to define it in the adc pinmap for this target:
[code]

[2018-04-04 14:49] magnushanssonublox commented on #6529
WPS is not supported by ODIN-W2 series. The referenced document was not intended to be published and has been removed. Sorry for the inconvenience.

Regarding user configuration of WiFi you have to handle interaction with end user and provide means to input SSID and password.

[2018-04-04 15:28] tkaman commented on #6460
Hi @studavekar,
I could not reproduce the problem so far.
How often did you see this? Only once or many times?
What I experienced is that the D drive disconnected, and did not reconnected until I manually reseted the board. Did you experienced this issue, or just the no space left problem?

Which HT version are you using? I am using 1.3.1.
As I see you are using Linux. Did you try this with Window

[2018-04-04 16:06] LMESTM commented on #6514
I'm working with 115200 baudrate as well. I finally got it, but it happens much more rarely than yours.
Anyway I think it's related to MSI calibration, there are kind of hick-ups on MSI clock around 2ms after switch off.  When hick-ups happen when UART transfer is ongoing, it will corrupt the data. This seems to be due to the ongoing calibration of the MSI clock.

This can easily be worked-around

[2018-04-04 18:08] #6421 closed

[2018-04-04 20:42] #6420 closed

[2018-04-04 23:07] kegilbert opened #6542 "Subsequent TCPSocket connect call to invalid address succeeds"
Back to back connect calls on a TCPSocket to an invalid IP address/port first returns an expected failure (-3004 : NSAPI_ERROR_NO_CONNECTION). A second call to the same address though returns NSAPI_ERROR_OK (0).

Take the following code:

[code]

The output is:

[code]

The same happens when changing the second address to another invalid address.

I.E. try to connect to 10.0.0.0:80, fail. Connect

[2018-04-04 23:24] pauluap commented on #6262
So.  Update time again.  Thanks to kibitzers, a new DISCO-F769NI board was procured for me.  I ran it through my tests, and to my surprise, it did perfectly fine.  I then loaded the exact same binary to my previous board and it failed as I expected.

So it seems that I do have a special snowflake after all, so that's that for this issue.  A lot of good things did come out of it, I think.

Thanks,

[2018-04-04 23:24] #6262 closed

[2018-04-05 05:01] omarisai commented on #5010
I started to work on this, but I don't have to much time. Right now the rtos is working and also uart, when I have some time I will continue with I2C and SPI.

[2018-04-05 06:31] TomoYamanaka opened #6543 "Build error occurs at SysTimer file when defining LPTICKER on Cortex-A"
### Description
Currently, Renesas are implementing **Low Power Ticker** feature that was introduced at last week's workshop.
Our mbed board's H/W incorporates Cortex-A, however, we faced the below build error because it seem that `SysTimer.cpp` was based on only Cortex-M.
Refs are here:
[Ref 1](https://github.com/ARMmbed/mbed-os/blob/feature-hal-spec-ticker/rtos/TARGET_CORTEX/SysTimer.cpp#L27), [

[2018-04-05 06:36] 0xc0170 commented on #6543
@c1728p9 @bulislaw Please review

[2018-04-05 06:37] 0xc0170 commented on #6532
@theotherjimmy Who could help with this?

[2018-04-05 06:43] 0xc0170 commented on #6542
@kjbracey-arm can you please review?

[2018-04-05 06:51] 0xc0170 commented on #5010
It might help others if you share your branch (if there is anyone who is willing to help they can contribute via sending a pull request). Thanks for sharing the info!

[2018-04-05 07:04] kjbracey-arm commented on #6262
So the working board is working after all the fixes discussed? I assume at least some are still required. Or is it working with none of them?

[2018-04-05 07:06] LMESTM commented on #6262
@pauluap could you check if the boards / chipset revisions are the same ?

[2018-04-05 07:08] kjbracey-arm commented on #6542
Necessary information: which network device/stack?

Mind you, it's not generally portable to reuse a TCP socket for multiple connections, or attempts.

We're underspecified here, but we do generally try to be POSIX-ish, and from http://pubs.opengroup.org/onlinepubs/009695399/functions/connect.html

So I would say you should be doing a close/open pair first before retrying. Will be more likely to w

[2018-04-05 07:35] ithinuel commented on #6539
Hi, I confirm that PA0-2 are mapped to ADC_IN0-2 but nothing on RAK811's datasheet mention any battery voltage measurement.

[2018-04-05 07:46] pauluap commented on #6262
I tried the following commits at the following branches
fc_offset: https://github.com/pauluap/mbed-os/commit/a2da8ab25823f0ec3d78d915b9da01c12c143280
analysis: https://github.com/pauluap/mbed-os/commit/71e043de35b7e5b451047325a78b2bc41d966afe
mwe_base: https://github.com/pauluap/mbed-os/commit/88d98a11a84d4e681c575285202cd06391098865

For the fc_offset commit, I tested the three placement configs

[2018-04-05 07:53] pauluap commented on #6262
@LMESTM, the labeling on the failing board is:

Board label MB1225 B-02 2163401841.  Silk screen says Rev. B MB1225
CPU label STM32F769 NIH6U 7B229 VQ A PHL 7B 611

The labeling on the passing board is:
MB1225 B-01 217280171 STM32F769I-DSIC1 MB1225B Silk screen is Rev. B MB1225
CPU label is STM32F769 NIH6U 7BA2L VQ Z PHL 7B 647

Failing board photos
![fail_board](https://user-images.githubusercont

[2018-04-05 07:54] juhaylinen opened #6545 "Hardware acceleration is not functional"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-cli version:**
(`1.2.2`)

**mbed-os sha:**
ad284b280 (mbed-os-5.8.0)
or
addec7ba1 (mbed-os-5.8.1)

**Expected behavior**
DTLS handshake works and device connects to mbed cloud

**Actual behavior**
DTLS handshake

[2018-04-05 08:26] atoy40 commented on #6539
@ithinuel May be some confusion. I'm talking about the RAK811 TrackerBoard (https://fr.aliexpress.com/item/RAK811-LoRa-Conseil-Tracker-MAX-7Q-GPS-Module-et-MEMS-Capteur-sans-fil-Distance-Positionnement-Solution/32844470946.html?shortkey=Enme2qU3&addresstype=600) where battery is output is connected to PA_2
and the MTB_RAK811 target is may be only for the RAK811 "chip-only" ? May be we need to have

[2018-04-05 08:35] ithinuel commented on #6539
That would probably make sense indeed.
I don't know yet if we can "refine" a target even more :
- stm
  - stm32l1
      - stm32l151CUB6A
         - RAK811
           - MTB_RAK811
           - TrackerBoard

[2018-04-05 09:19] jeromecoutant commented on #6262
OK...

So passing chip is STM32F769NI revision Z, and failing chip is STM32F769NI revision A
You can check the errata sheet document : http://www.st.com/resource/en/errata_sheet/dm00257543.pdf

Note that I checked my own DISCO boards, and I have only rev A chip... :-(

[2018-04-05 09:34] LMESTM commented on #6513
I have traced down the timestamp that is programmed by LP Ticker driver to the hal API
void lp_ticker_set_interrupt(timestamp_t timestamp)

I'm tracing it in the printf instead of the incremented i variable.
[code]
Note that when booting the initial default timestamp is  ts = 0x70000000
so the issue happens when we've done a complete wrap-around.

But then we need to understand why this wraps-up t

[2018-04-05 12:29] teetak01 commented on #6495
@JanneKiiskila

[2018-04-05 12:42] 0xc0170 commented on #6504
@bulislaw Please review

[2018-04-05 12:54] prvthkr commented on #6495
Hi @teetak01 ,

Ok will check.

Can you confirm me if I'll use [TARGET_TMPM46B](https://os.mbed.com/platforms/TMPM46B/), then [mbed-os-example-client](https://github.com/ARMmbed/mbed-os-example-client) using external [Ethernet Shield](https://os.mbed.com/components/W5500-Ethernet-Kit-for-IoT/) is possible or not?

[2018-04-05 13:13] kegilbert commented on #6542
My bad, forgot to specify the stack. This was over ethernet on a K64F (LWIP). I'll try recreating the socket, thanks!

[2018-04-05 13:22] daniel-cesarini-tridonic-com opened #6546 "CRC Thread safety"
### Description
- Type: Enhancement | Question
- Priority: Major

## Enhancement/Question

**Reason to enhance or problem with existing solution**
In the current implementation of CRC in mbed-os thread safety is not guaranteed:
https://github.com/ARMmbed/mbed-os/pull/5911#issuecomment-363901405

**How to?**
How do you envision to solve the issue?

**Suggested enhancement**
We implemented some time

[2018-04-05 13:33] JanneKiiskila commented on #6495
I'm not aware of any trials we would have done with Ethernet shields, but you should try it out and if there is a working Mbed OS driver -> should work. But, we have not verified any of those ourselves.

You might want to give the networking a run for the money 1st with something like [mbed-stress-test](https://github.com/ARMmbed/mbed-stress-test) to see that it works reliably, but in general I wo

[2018-04-05 13:47] geky commented on #6542
Sorry @kegilbert, I have quite a bit of backlog so I probably can't look into this for a while. @kjbracey-arm is much more knowledgeable about the network stack these days, so I'll leave it up to the two of you to figure out.

[2018-04-05 14:17] JanneKiiskila commented on #6495
Hi,

the board TMPM46B seems to have plenty of RAM and flash (512 kB, 1 MB) - but it does not have TRNG. TRNG is a requirement for production level devices (for now), but we are working on a solution for [Mbed Cloud Client](https://github.com/ARMmbed/mbed-cloud-client-example).

[2018-04-05 14:29] theotherjimmy commented on #6506
@prvthkr You're going to have to give me some more details, like what your exporting and what your target IDE is, before I can progress this issue.

[2018-04-05 14:30] theotherjimmy commented on #5976
This is not fixed by #6216

[2018-04-05 14:31] theotherjimmy commented on #6532
Duplicate of https://github.com/ARMmbed/mbed-os/issues/5976

[2018-04-05 14:34] yennster commented on #6532
@theotherjimmy It also can't compile blinky

[2018-04-05 14:52] LMESTM commented on #6513
Going deeper in debug, here is what I observe.
Standard behavior of the system in this test is:
1) lp ticker driver read ticker timestamp
2) lp ticker driver sets now the 10ms timeout timestamp
3) enter deepsleep
4) exit deep sleep, calls null callback, set default wake-up in the future as no more ticker is programmed (current timestamp + 0X7000000)
5) printf
6) back to 1)

Here are the traces I'v

[2018-04-05 15:01] theotherjimmy commented on #6532
Yep. I'm aware. I tested my fixes for #5976 With blinky too.

[2018-04-05 15:28] pavels commented on #6521
Hi
@kjbracey-arm  i will try to do that - i have one question "in critical section" - that means checking if in critical section or in interrupt right? because this can be also called from interrupt context and should work

[2018-04-05 15:29] omarisai commented on #5010
this is the branch [mbed-os](https://github.com/omarisai/mbed-os)

[2018-04-05 15:45] teetak01 opened #6548 "ARMC6 fails to link on DISCO_L475VG_IOT01A_ISM43362 and NUCLEO_L476RG"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG | DISCO_L475VG_IOT01A_ISM43362

**Toolchain:**
ARMC6

**mbed-os sha:**
5.8.1

build mbed-os-example-client:

mbed compile -m NUCLEO_L476RG -t ARMC6

[code]

Originally detected here: https://github.com/ARMmbed/easy-connect/pull/88

[2018-04-05 15:48] hug-dev commented on #6460
I could not reproduce this issue as well (having executed around 15 tests).
The only thing I could see sometimes is that after copying the `reboot.txt` file and after the board reboots, it is not automounted by the OS anymore, I had to manually mount it or in the worst case reset the board manually (pushing the `RESET` button).

Configuration:
* Ubuntu 16.04.4 LTS
* `mbedgt` version `1.3.3`
* `mbe

[2018-04-05 15:52] 0xc0170 commented on #6548
@adustm Hi, this as I have reviewed the above issue is related to TWO RAM REGIONS added.
Note this is reported for ARMC6 that is currently not supported on master. Not sure if actually a build should fail differently than missing some symbols (is not caught anywhere).

@teetak01 Please confirm, removing the TWO RAM regions commit fixes the above issue

[2018-04-05 18:06] #6532 closed

[2018-04-05 18:10] #6542 closed

[2018-04-05 18:11] kegilbert commented on #6542
Closing the issue, closing out the socket before retrying worked.

[2018-04-05 19:02] pauluap opened #6549 "STM32 External Crystal configured for board that reports external clock support"
### Description
- Type:  Question

**Target**
DISCO_F769NI

**Toolchain:**
GCC_ARM

**Toolchain version:**
(GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

I'm looking at the clock configuration, and I'm trying to understand an apparent configuration mismatch with the physical board.

Looking at the DISCO-F769 schematics (on

[2018-04-05 19:21] theotherjimmy opened #6551 "VBLUNO51 variants fail have a configuration error in target definition"
### Description
- Type: Bug
- Priority: Major?

**Target**
vbluno51_legacy|vbluno51_boot|vbluno51_ota

**Toolchain:**
GCC_ARM|ARM|IAR| online compiler

**Toolchain version:**

**mbed-cli version:**
All

**mbed-os sha:**
5.8.0 (ad284b280) first bad release: 5.7.4. Added by: dba38b62509f2c0a5067f2d7bdca469d63f0fb3e

**Actual behavior**
[code]

[2018-04-05 21:00] Robinmarsx opened #6554 "Unable to send ”Hello world" from HC-06 Bluetooth with K64f mbed to Android phone terminal app"
![capture9898](https://user-images.githubusercontent.com/33624933/38391600-94c87746-391c-11e8-8d79-d0e8b2b66c3a.PNG)
As the picture shows, please help me out. Cannot send text from HC-06 with freescale K64F board to Android phone terminal App.

[2018-04-06 02:24] prvthkr commented on #6506
Hi @theotherjimmy , Any program I'm not able to export. Target IDE is uvision.

[2018-04-06 02:35] prvthkr commented on #6495
Hi @JanneKiiskila ,

Thanks for your information. I'll try.

No, I'm not porting whole board to Mbed OS. TMPM46B already present in [mbed-os-master](https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_TOSHIBA).

Yes, this board is not in the list but drivers are present in the [mbed-os-master](https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_TOSHIBA).

TRNG is present in the

[2018-04-06 02:51] tpet93 opened #6556 "LoRaPHY.cpp CFList decode error."
### Description
- Type: Bug
- Priority:  Major

---------------------------------------------------------------
## Bug
Regions with cflist_supported == true
send the channel frequency in groups of 3 bytes per channel.

In the function LoRaPHY::apply_cf_list
The byte position is incremented by "phy_params.default_channel_cnt" when it should be 3.

Current
[code]
Fixed
[code]

some regions send a CF

[2018-04-06 07:36] AnttiKauppila commented on #6385
ARM internal ref: IOTCELL-753

[2018-04-06 07:43] maciejbocianski commented on #6454
@gaborkertesz https://github.com/ARMmbed/mbed-os/pull/6515 should fix the problem with unnecessary calls of 'us_ticker_set_interrupt'

[2018-04-06 07:53] gaborkertesz commented on #6454
Great! That issue really looks the same.

[2018-04-06 08:04] 0xc0170 commented on #6556
@AnttiKauppila @kivaisan  Please review

[2018-04-06 08:46] daniel-cesarini-tridonic-com commented on #6546
The solution is actually not handling the mutual access, it is only providing a "multiplexed" access to the CRC lower level in case of usage of "CRC accumulation" functionality by storing the intermediate results in a local variable in order to free the resource of CRC lower level in the meanwhile.

[2018-04-06 09:39] AnttiKauppila commented on #6556
ARM internal ref: IOTCELL-754

[2018-04-06 10:02] AnttiKauppila commented on #6556
This is a real issue in our stack and it was well spotted.
We will check other regions (2 byte) if those need any modifications.
Fix done here as suggested by tpet93:
https://github.com/ARMmbed/mbed-os/pull/6557

[2018-04-06 10:37] LMESTM commented on #6514
@maskedw
until I get an more internal inputs about this issue, please consider adding a small delay after exiting sleep mode, like:
[code]
Note that restorging clocks and system state when exiting deepsleep takes already between 1 and 2ms.

[2018-04-06 11:40] maskedw commented on #6514
I got it. I will leave this issue open.

[2018-04-06 11:43] hasnainvirk commented on #6395
@janjongboom This should be fixed in https://github.com/ARMmbed/mbed-os/pull/6428/commits
Could you please test ?

[2018-04-06 14:02] bmcdonnell-ionx opened #6560 "HardFault on return from main() since mbed-os-5.8.0"
### Description
- Type: Bug
- Priority: Major | Minor

In previous versions through `mbed-os-5.7.7`, the OS would handle a return from `main()` gracefully. As of `mbed-os-5.8.0`, doing so produces a Hard Fault.

---------------------------------------------------------------
## Bug

**Target**
LPC4088

**Toolchain:**
GCC_ARM

**Toolchain version:**
Whatever comes with MCUXpresso IDE v10.1.1 [Build

[2018-04-06 14:11] bcostm commented on #6549
I agree with you that we should put USE_PLL_HSE_EXTC in the targets.json when the clock is coming from an external oscillator on pin OSCIN. It is a mistake in the targets.json. But I can't tell why it is working like it is today. Maybe the clock system in this MCU doesn't care ? I have re-checked both configs (XTAL and EXTC) and both are working fine. I will send a PR to correct the targets.json t

[2018-04-06 14:13] LMESTM commented on #6513
@maskedw
I pushed a delay after deepsleep for now in #6561 because it's better to let everyone benefit of this fix for now. I think the issue fo slow down after 1 hour is a separate issue as the one in the title (system hangs) - what would do you think about closing that one and opening a new one for the 1 hour issue ?

[2018-04-06 14:13] LMESTM commented on #6514
@maskedw
I pushed a delay after deepsleep for now in #6561 - this should fix the garbled character issue - let me know ...

[2018-04-06 14:20] DrakoshaNarkosha opened #6562 "Network interface functionality"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Enhancement | Question
- Priority: Major

**Target**
All

I want to check WiFi connection in STA mode on U-Blox ODIN-W2 modem. I found, that function
<code>
nsapi_connection_status_t NetworkInterface::get_connection_status() const
</code>
return UNSUPPORTED_FEATURE.
After that i tryed to use c

[2018-04-06 14:28] deepikabhavnani commented on #6546
Storing intermediate results in the class will be bit tricky for different devices, some of them maintain the states and store the intermediate values themselves and some do not support partial CRC. Our API's are designed to return the intermediate values, and the application/thread using it has to make sure it passes the correct intermediate value back for rest of the calculation.

Sorry I didn't

[2018-04-06 14:59] 0xc0170 commented on #6560
@bmcdonnell-ionx Are you able to reproduce with any other target?

@geky  (as filesystem is used in the example above) - are you able to reproduce this?

I can't think of what has changed between 5.7.7 and 5.8 that would cause this. I checked mbed boot, has not changed for 5.8. So this might be target specific?

[2018-04-06 15:16] 0xc0170 commented on #6554
@Robinmarsx Can you provide more information? The code snippet is fine, but rather than picture something that can be copy-paste ? What version of mbed OS are you using? HC06 - library? As much details as you can

Unable to send - does it fail (any IRQ handler) or just executes, nothing to be sent?

From the snippet, looks like you are using serial on those 2 pins, are they connected to a sensor o

[2018-04-06 15:17] bmcdonnell-ionx commented on #6560
@0xc0170 I don't have other targets.

@0xc0170, @geky This doesn't appear to have anything to do with the file system. (That was just the first example I came across that returns from `main()`.) I still get the HardFault with only the following in main.cpp.

[code]

[2018-04-06 15:44] #5908 closed

[2018-04-06 15:45] #5331 closed

[2018-04-06 16:54] bmcdonnell-ionx commented on #6560
I edited the OP to add my target board (Embedded Artists' [LPC4088 QuickStart Board](https://www.embeddedartists.com/products/boards/lpc4088_qsb.php)).

[2018-04-06 18:19] Testato opened #6563 "Export to EmBitz problem"
I tried to export from Online Compiler to EmBitz this project
https://os.mbed.com/users/testato/code/Testato-mbed-dev-Bluepill/

but i received this error
![capture](https://user-images.githubusercontent.com/6893841/38437268-35a8739a-39d7-11e8-9619-94cd19153f3d.JPG)

[2018-04-06 18:25] theotherjimmy commented on #6506
Thanks. That's a known bug in the online exporters that should be cleared up in the next week or so. related to #6428

[2018-04-07 04:03] prvthkr commented on #6506
Thank u

[2018-04-07 04:03] #6506 closed

[2018-04-09 00:10] maskedw commented on #6514
Thanks, issue has been fixed in #6561

  | baud
-- | --
GOOD | 9600
GOOD | 19200
GOOD | 38400
GOOD | 57600
GOOD | 115200
GOOD | 230400
GOOD | 460800
GOOD | 921600

[2018-04-09 00:10] #6514 closed

[2018-04-09 09:14] maskedw commented on #6513
Please try to operate at MSI 48 MHz. In this case, why does not the loop cycle become long?

[code]

[2018-04-09 09:25] kjbracey-arm commented on #6521
Yes, basically any non-normal-thread context. I think those cases enumerate to:

* in exception (eg data abort)
* in interrupt (including supervisor call)
* in thread context but with interrupts disabled (aka critical section)

Never been clear what the most bullet-proof portable (including ARM-A and ARM-M) mechanism to figure that out is in mbed OS 2/5. For M it's PRIMASK and interrupt priority;

[2018-04-09 10:06] janjongboom opened #6571 "Single thread mode"
### Description
- Type: Enhancement

## Enhancement

**Reason to enhance or problem with existing solution**

Mbed RTOS has a significant RAM overhead, even when non of the RTOS features are used. A K64F running mbed-os-example-blinky uses 6.3K more static RAM, even though it does not use any of the RTOS features. I suspect this memory goes into setting up all the RTOS contexts. What I'd like to s

[2018-04-09 10:53] atoy40 commented on #6362
@donpowrie @jeromecoutant sleep() calls explicitly allows you to go to deepsleep if nothing else locked it. But It's not the case for the (default) idle handler(for exemple if you use wait function) which lock deepsleep. I've test deepsleep with a L073RZ nucleo board and found about 70uA.

deep sleep lock code in idle handler :
https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/mbed

[2018-04-09 10:59] LMESTM commented on #6513
@maskedw I agree that there is still an issue, but the system does not hang anymore - so this is a different issue. I don't know the rootcause for the issue, but what I have obsserved is that the events in the LP ticker queue are inverted after some time. This might be related to a timing issue that doesn't happen when MSI is 48MHz. It might be because wake-up without PLL will be much faster, so t

[2018-04-09 11:07] pan- commented on #6571
It is already possible to disable the RTOS (see [rtos/mbed_lib.json](https://github.com/ARMmbed/mbed-os/blob/master/rtos/mbed_lib.json)) however it removes access to the threading primitives (mutex, semaphore, etc...). Fortunately the event-queue library can be used without RTOS: The system goes to sleep when there is no events to process and it is possible to post events from ISR to process them

[2018-04-09 11:24] LMESTM commented on #6362
TICKLESS support on STM32 targets is planned for next mbed release (mbedOS 5.9, in June timeframe). There are ongoing modifications, not only in STM targets but also in mbed core.   For example, but not limited,   #6474 #6561 #6558 #6534 #6536  will be needed.

[2018-04-09 11:25] woodsking2 opened #6574 "wait_us: why need lock deep sleep?"
## Question
I saw the wait_us() in mbed_wait_api_rtos.cpp

    const ticker_data_t *const ticker = get_us_ticker_data();
    uint32_t start = ticker_read(ticker);
    // Use the RTOS to wait for millisecond delays if possible
    int ms = us / 1000;
    if ((ms > 0) && core_util_are_interrupts_enabled()) {
        sleep_manager_lock_deep_sleep();
        Thread::wait((uint32_t)ms);
        sleep_m

[2018-04-09 13:14] #6556 closed

[2018-04-09 13:33] bmcdonnell-ionx commented on #6560
To be clear, I should probably say the Hard Fault occurs "*following* return from `main()`", not "*on* return from `main()`".

[2018-04-09 13:59] janjongboom opened #6578 "LPC1768, hard fault when calling fopen() after Ethernet connect"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
LPC1768

**Toolchain:**
ARM

**mbed-os sha:**
Mbed OS 5.4 - 5.8, Mbed OS 5.3 and Mbed 2 not affected.

**Expected behavior**

Calling `fopen()` after calling `connect` on the ethernet interface does not throw an error.

**Actual behavior**

It hard faults.

**Steps to reproduce**

Exampl

[2018-04-09 15:38] geky commented on #6571
Wouldn't a true single threaded mode drop RTX completely? That would result in the most code + RAM savings.

I think if anything this would actually encourage thread-safe drivers, since adding synchronization primitives (ie mutex) no longer binds your library to the rtos being present.

[2018-04-09 16:17] c1728p9 commented on #6574
Hi @woodsking2, the us ticker may be stopped when entering deep sleep. If this happens the sub-millisecond delay will be too long, leading to a delay up to twice as long as it should be.

[2018-04-09 17:08] ithinuel commented on #6571
Actually returning from interrupt always returns to thread you want as there's only one.

However to have a nice single thread environment, most API would have to be updated to provide non blocking calls to avoid stalling in the eventloop.
Maybe not with callbacks/interrupts but at least returning if result is ready or not.
And in such case

All driver with an "async" API should stay safe between

[2018-04-09 17:14] loverdeg-ep opened #6581 "custom_targets.json and modular target board support packages"
### Description
- Type: Question, possible enhancement
- Priority: Minor

---------------------------------------------------------------
@theotherjimmy @0xc0170

## Background

Assume I create a custom target and want to use that target in multiple applications.
The most elegant approach I can think of with my limited understanding of the config system, would be to create a git repository that co

[2018-04-10 00:08] maskedw commented on #6513
understood. It certainly should be discussed as another problem. Thank you very much.

[2018-04-10 01:22] JAICHANGPARK opened #6583 "K64F i2c Method Error"
### Description
- Type: Bug | Question

## Bug

**Target**
K64F|Hexiwear

-----------------------------------------------------------------

## Question

**Now I'm Using hexiwear in Mbed online compiler **
I'd like to disable I2C 2 Driver in MK64 MPU.

First, I import <fsl_i2c.h>
Then, I called <I2C_MasterDeinit(I2C2);>

[code]

 I also tried <I2C_Enable()> Method ( Same Error below)
How to fix th

[2018-04-10 03:31] woodsking2 commented on #6574
Hi @c1728p9
wait() and wait_ms() called wait_us()
so the code like

[code]
will never enter deep sleep.
I think it's not good. How about let the wait() wait_ms() wait_us() use the different code？at least, let the wait() to enter deep sleep.
Is it possible let the deep sleep lock at the target port file do? Some mcu dont't need lock deep sleep, some mcu need.

[2018-04-10 03:33] #6495 closed

[2018-04-10 07:06] samchuarm commented on #5976
@ARMmbed/team-realtek

[2018-04-10 07:07] samchuarm commented on #5976
hi @theotherjimmy it looks like we're still seeing compile fails with online IDE on RTL8195AM target. Anything do you think we need Realtek team to address? Thanks.

[2018-04-10 07:10] 0xc0170 commented on #6583
@ARMmbed/team-nxp Can you review?

[2018-04-10 07:26] 0xc0170 commented on #6574
An application can unlock it if it wants to. The current implementation makes locking/unlocking in the generic layer to cover most cases. As you pointed, some targets might not need to lock it. We are aware of this and will think of providing solution to the problem.

To get more info - what is your use case - a target - what ticker is available for us ticker that could wake up from deep sleep?

[2018-04-10 07:37] LMESTM commented on #6513
@maskedw
Thank you. Have you created anoter Issue to follow up on the "long loopcycle after 1 hour" ?
Note that I have used your MSI SetSysClk function and then added a 2ms at the end, and I can reproduce the same issue of "long loop cycle"

[2018-04-10 08:31] samchuarm commented on #5976
Btw, is it a new issue after merging #6216 ?

[2018-04-10 09:06] maciejbocianski commented on #6454
@gaborkertesz please verify your issue with this fix(#6515) and close it when #6515 merged

[2018-04-10 09:12] gaborkertesz commented on #6454
Okay, will do!

[2018-04-10 09:47] vidavidorra opened #6585 "CMake exported build fails with multiple --source arguments"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: #6143 and ARMmbed/mbed-cli#590
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
All targets (e.g. `TARGET_NUCLEO_F103RB`)

**Toolchain:**
GCC_ARM

**Toolchain version:**
7.2.1

**mbed-cli version:**
1.5.0

**mbed-os sh

[2018-04-10 11:28] woodsking2 commented on #6574
@0xc0170
ATSAM4L.
The power save mode are sleep0-3, wait, retention, backup.
Even though at backup mode, the 32k oscillators is still work.
Ast based on 32k oscillators, it can use ast as tick source and wake up cpu at any power save mode.

Application can't unlock the lock. It doesn't knwon who locked the deep sleep, some peripherals need to lock deep sleep.

[2018-04-10 12:07] bcostm opened #6589 "Add compiler in test result summary"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

At the end of the generated test report (mbed5 or mbed2) there is mention of the number of FAIL/OK/TIMEOUT/SKIPPED... like this:

`6 FAIL / 56 SKIPPED / 1450 OK / 3 ERROR` for mbed5
or
`Result: 3 OK / 2 FAIL` for mbed2

It would be interesting to detail this summa

[2018-04-10 12:51] 0xc0170 commented on #6529
@dmelo Does this answer your question?

[2018-04-10 14:56] amq commented on #6574
@woodsking2 have you considered using `Thread::wait()`?

[2018-04-10 15:39] theotherjimmy commented on #5976
I still need to figure out what's going wrong. It's the post-build script, but I don't know exactly what the problem is yet.

[2018-04-10 17:08] ashok-rao opened #6591 "lp_ticker and RTC tests failing for platforms based on STM32F412xx"
### Description
- Type: Bug | Question
- Related PR's: #6511 and #6423
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
MTB_USI_BN-BM-22 and MTB_ADV_WISE_1530

**Toolchain:**
ARM

**Expected behavior**
All greentea tests should pass for the targets.

**Actual behavior**
LP_Ticker, LP_timer and RTC tests are failing on ARMCC 5.06 update 3.

**Ste

[2018-04-10 18:59] c1728p9 commented on #6574
@0xc0170  the deep sleep lock is inside `wait_us()`, `wait_ms()` and `wait()` so it can't be unlocked by an application.

It is less than idea that the wait functions lock deep sleep. We should look into if this behavior can be improved. Some possible ideas below:
1. Encourage use of `Thead::wait()` for deep sleep and keep existing wait functions how they are
1. Update some existing functions such

[2018-04-10 20:26] loverdeg-ep opened #6593 "How does the build system work with regard to targets?"
### Description
- Type: Question
- Priority: Minor

## Question

I think I can boil this one down to:

How does the python based 'build' system under the tools directory work in regards to finding target specific sources, linker scripts, startup code etc?

## Notes
My question arises from having a customer who might want to provide their own linker file as an application level configuration for a

[2018-04-10 23:08] #6539 closed

[2018-04-11 01:43] tpet93 opened #6594 "LoRa Phy AU915 channel parameters not being used, causing Up-links at 500khz"
### Description
- Type: Bug
- Priority:  Major

---------------------------------------------------------------
## Bug

I was having issues with the min and max data rates for each channel for the AU915 Region.

In the function ```LoRaPHY::enabled_channel_count```,
The values returned by
```phy_params.channels.channel_list[i].dr_range.fields.max``` and ```phy_params.channels.channel_list[i].dr_ran

[2018-04-11 06:36] LMESTM commented on #6513
@maskedw and others that may be interested. There are ongoing changes for tickless support in mbed, in feature branches like https://github.com/ARMmbed/mbed-os/tree/feature-hal-spec-ticker, and other fixes on master. When taking those various updates, I've run the test for more than 12 hours and the "long loop cycle" issue was not reproduced. That means this will be fixed in mbed 5.9 - let me know

[2018-04-11 08:03] netanelgonen commented on #6478
as #6505 was merged I closing this issue

[2018-04-11 08:03] #6478 closed

[2018-04-11 08:32] MarceloSalazar opened #6597 "Reinforce usage of gcc v6 as gcc v5 doesn't work"
### Description
- Type: Bug & need enhancement
- Priority:  Major

---------------------------------------------------------------
## Bug

During training, we've found out that some developers had gcc v5 installed and were able to compile/link and program the target. However, the app doesn't work.

**Target**
K64F and others

**Toolchain:**
GCC_ARM

**Toolchain version:**

gcc v5 --> problem
gcc v

[2018-04-11 08:47] kjbracey-arm commented on #6574
One problem here is that (as I've discussed with others including @bulislaw in the past), `wait` and `wait_ms` call `wait_us` and are hence trying to be microsecond precise, which people generally don't want.

This just came up here, for example: https://github.com/ARMmbed/mbed-os/pull/6565

I've generally tried to avoid `wait_ms()`, due to the knowledge that it will spin for up to a millisecond -

[2018-04-11 08:48] kivaisan commented on #6594
@hasnainvirk, please check this.

[2018-04-11 09:36] woodsking2 commented on #6574
@amq `Thread::wait()` works. Thanks

[2018-04-11 09:55] 0xc0170 commented on #6597
This could be actually true for any compiler out there. As we progress, we update from time to time - thus tested only the current set of supported compilers. Would this make sense to extend to all and check the range if it's valid (assuming range is less strict as specific version, IAR 7.x for now should work for instance?)

Is this enhancement for this repo or mbed cli?

@theotherjimmy Suggestio

[2018-04-11 10:03] MarceloSalazar commented on #6597
This should be part and defined within Mbed OS -Mbed CLI can run with multiple versions of Mbed OS.

IMO this should be extended to all supported compilers as documentation states:
- ARM: v5 Update >=3 (v6 may work)
- GCC: v6.x (v7.x may work)
- IAR > 7.8 (v8.x may work)

[2018-04-11 10:18] hasnainvirk commented on #6594
It's legit. Will make an internal issue about it.

[2018-04-11 11:05] 0xc0170 commented on #6319
Resolved via 6490

[2018-04-11 11:05] #6319 closed

[2018-04-11 11:10] screamerbg commented on #6597
@0xc0170 This is enhancement for the Mbed OS build tools as with every Mbed OS release the toolchain/compiler version requirements will change.

[2018-04-11 11:30] jeromecoutant commented on #6591
Hi

I know that NUCLEO_F412ZG is failing tests-mbed_drivers-lp_timeout since 5.8.1
Other LP tests are OK.
No known issue with RTC tests.

Note that we will not investigate on LP failed tests before the ticker branch merge.

[2018-04-11 11:30] 0xc0170 commented on #6593
@theotherjimmy Please review

[2018-04-11 11:37] hasnainvirk commented on #6594
Issue being tracked here https://jira.arm.com/browse/IOTCELL-761

[2018-04-11 11:44] jeromecoutant commented on #6591
We can discuss in parallel about your clock configuration:

- USI WM-BN-BM-22: I can see from the targets json file that you have a LSE and no HSE.
This is OK, but could be a problem for tests part... as several tests check the accuracy of time with the us timer which is clocked in your case with HSI, the internal low cost clock.
As you have an external LSE clock, idea could be to make a calibrati

[2018-04-11 11:50] hasnainvirk commented on #6594
@tpet93 looking at the LoRaWAN Regional Parameters1.0.2Final_1944_1 document, our code looks correct. Please refer to the line number 779 to 782.

Can you please refer me to any standard document where it proposes a solution which corresponds to the solution you are proposing here ?

[2018-04-11 12:13] 0xc0170 commented on #6591
You are referring to the ticker hal specs feature branch? This then becomes known issue for 5.8.x - should these target have disabled low ticker as it is not fully functional?

[2018-04-11 12:35] hasnainvirk commented on #6594
@tpet93 https://github.com/ARMmbed/mbed-os/pull/6600 PR open for the bug fix. Thanks for spotting it.

[2018-04-11 13:40] 0xc0170 commented on #6591
Looking at 5.8.1 - https://github.com/ARMmbed/mbed-os/pull/6461 - tests were updated (timeout) - that would be the reason for the failures @fkjagodzinski Please confirm

[2018-04-11 13:51] 0xc0170 commented on #6470
Integrated, shall this issue be closed?

[2018-04-11 14:00] 0xc0170 commented on #6407
should be 6 but that I dont think would fix this issue

Can you test debug build with gcc , does it have same behavior? Is actually debuger attached?

[2018-04-11 15:51] cmonr commented on #6224
For reference, the specific failing test is in the progress of being disabled: https://github.com/ARMmbed/mbed-os/pull/6535

IOTMORF-2289 has also been created internally.

[2018-04-11 16:03] fkjagodzinski commented on #6591
That is correct, #5106 which contains an update for LowPowerTimeout  tests has been merged to 5.8.1.

[2018-04-11 16:08] loverdeg-ep commented on #6593
So the system enters that directory and recursively follows paths looking for sources, linker scripts, startup code, etc?

Is it looking at cmsis-packs for the mcu's at all?

[2018-04-11 16:27] theotherjimmy commented on #6593
Yes

Only if they have a `device_name` and then only for ram/rom sizes and locations.

[2018-04-12 01:23] CodySigvartson opened #6616 "Compilation error: mbed-os/rtos/target_cortex/rtx5/rtx/source/rtx_lib.h fatal error"
### Description
Hello, I am getting a compilation error with mbed-os using GCC_ARM toolchain. Any advice on how to overcome this would be greatly appreciated.
Below is the error:

Building project mbed-os-project (NUCLEO_L496ZG, GCC_ARM)
Scan: .
Scan: mbed
Scan: env
Compile [  0.3%]: main.cpp
[Fatal Error] rtx_lib.h@29,20: string.h: No such file or directory
[ERROR] In file included from ./mbed-os

[2018-04-12 01:59] TomoYamanaka commented on #6543
How is going ?

[2018-04-12 06:02] TomoYamanaka opened #6617 "Request to incorporate the revision of RTX5 for Cortex-A"
### Description
The problem that program abort occurs when run `Mbed Cloud Client` sample program on GR-PEACH / GR-LYCHEE.
As a result of our analysis, we faced unexpected behavior if interrupt is fired during `SVC` in RTX5.
There are three problem points in each `irq_ca.s` file, We already submitted the issue to Arm CMSIS_5 team and asked the revise to them.
For your information, it seems that th

[2018-04-12 06:53] 0xc0170 commented on #6617
Would this update resolve this https://github.com/ARMmbed/mbed-os/pull/6273 ?

cc @bulislaw

[2018-04-12 07:02] TomoYamanaka commented on #6617
I think that it will not be solved since the above commits is not listed in #6273.

[2018-04-12 09:02] kivaisan commented on #6395
@janjongboom Can we close this issue?

[2018-04-12 10:27] 0xc0170 commented on #6616
What does that mean? what is the version? Is it GNU Arm Embedded Toolchain?

Missing string.h - do you have C standard headers installed? Does <string> work?

[2018-04-12 10:51] #6395 closed

[2018-04-12 10:56] bulislaw commented on #6543
@TomoYamanaka can Renesas contribute changes to SysTimer to enable it on cortex a?

[2018-04-12 18:09] AGlass0fMilk opened #6623 "SPI Clock Not Initialized Properly"
### Description
- Type: Bug/Question
- Priority: Minor

Not completely sure if this is an issue, but it caused me some head scratching. It can be fixed by the application by initializing the pin as a DigitalOut and manually setting the clock pin to the idle state. But I think this should be taken care of by the driver.

See attached image

![spi_clk_issue_nordic](https://user-images.githubusercont

[2018-04-12 22:28] yennster opened #6624 "LocalFileSystem & wait() triggers MbedOS Fault Handler"
## Bug

**Target**
LPC1768

**Toolchain:**
GCC_ARM & Online Compiler

**Toolchain version:**
gcc-arm-none-eabi-7-2017-q4-major

**mbed-cli version:**
1.5.0

**mbed-os sha:**
0b37629 (HEAD -> master, origin/master, origin/HEAD) Merge pull request #114 from adbridge/master

**Steps to reproduce**
I wrote up a simple `LocalFileSystem` example for the Mbed Application board that writes 100 integer val

[2018-04-13 00:53] TomoYamanaka commented on #6543
@bulislaw
Unfortunately, I don't know how to change to `SysTimer` to enable on Cortex-A.

[2018-04-13 09:01] janjongboom opened #6631 "DISCO-L072CZ-LRWAN1 should be marked as tiny target"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os-example-lorawan/issues/58
- Priority: Major

## Bug

**Target**
DISCO-L072CZ-LRWAN1

**Toolchain:**
All toolchains, but on ARM the problem is less visible. On GCC ARM this target is not usable.

**Toolchain version:**
GCC ARM 6

**mbed-os sha:**
Mbed OS 5.8.2

**Expected behavior**

The [DISCO-L072CZ-LRWAN1](https://os

[2018-04-13 09:27] 0xc0170 commented on #6631
Based on the numbers, this target should be probably just for single threaded applications? (default lib: small?). I checked and it is not true at the moment.

@ARMmbed/team-st-mcd Please review

[2018-04-13 09:28] 0xc0170 commented on #6623
@marcuschangarm Please review

[2018-04-13 09:43] marcuschangarm commented on #6623
@AGlass0fMilk

* Is this with the new driver on the feature branch?
* What device (if any) are you testing against?

Thanks!

[2018-04-13 09:51] jeromecoutant commented on #6631
Yes, if you think that allowing only single thread application should be the default configuration, it is possible.

Setting small lib only affect GCC compilation, maybe it is better to add macro MBED_RTOS_SINGLE_THREAD ?

Setting small lib is also adding "--specs=nano.specs", this makes c_strings test failed.

[2018-04-13 10:29] kivaisan commented on #6389
@janjongboom PR got merged, so can we close this issue? We can check the need for RSSI and SNR later like you suggested above.

[2018-04-13 10:43] 0x6d61726b opened #6633 "Avoid truncating .isr_table from custom linker section on LPC176X"
### Description
- Type: Bug | Question
- Priority: Major

---------------------------------------------------------------
## Bug / Question

**Target**
LPC176X

**Toolchain:**
GCC_ARM (GNUARM)

**Expected behavior**
Custom ".isr" section shall be present in output .hex file

**Actual behavior**
Custom ".isr" section is missing in output .hex file

**Steps to reproduce**
0. Compile and link the pro

[2018-04-13 12:04] woodsking2 commented on #6574
So the question is clear.
Close it.

[2018-04-13 12:04] #6574 closed

[2018-04-13 12:32] 0xc0170 commented on #6591
so that update broke it. @fkjagodzinski Can you have look ? Is it a test or targets?

[2018-04-13 14:52] ashok-rao commented on #6460
@studavekar ..bump!

[2018-04-13 15:27] AGlass0fMilk commented on #6623
@marcuschangarm
- Yes, this is with the new driver on the feature branch. I just recently synced my development branch with the feature branch.

- I am testing on a custom device using an nRF52832

[2018-04-13 17:03] Gecko05 commented on #1378
@shirish47 I have't really dived into multiple tickers or timers within an mbed BLE application but I'm currently trying to debug an issue with a ticker running around 10ms to increment a counter while updating data through the UART Ble Service, the thing is that when I use the mentioned ticker, the BLE Advertising and Service would stop working after 2 minutes of so.

[2018-04-14 08:51] janjongboom commented on #6631
@jeromecoutant Wouldn't setting the target as tiny not also use uARM? So then only IAR is problematic.

[2018-04-14 11:20] GeorgeStephens opened #6639 "How to access MDIO on STM32F7xx"
### Description
- Type: Question

-----------------------------------------------------------------

## Question

**I want to be able to read (`HAL_ETH_ReadPHYRegister`) and write (`HAL_ETH_WritePHYRegister`) to PHY registers via MDIO from an application, but how to I get an instance of `ETH_HandleTypeDef`?**

The application I am writing requires changes to the configuration of the Ethernet PHY t

[2018-04-15 13:22] soramame21 opened #6640 "Question for implementation of nvstore.cpp"
### Description
- Type: Question
- Priority:  Minor

I have a question about following implementation at features\nvstore\source\nvstore.cpp.
I feel private data member "**size_t  _size**"  is set in following quite confused way.
I added printf before and after "**std::min()**" execution.

[code]
## Question

**What is the intention to set _size through std::min() ? why not set it directly?**
I te

[2018-04-15 15:52] soramame21 opened #6641 "Question about NVStore::set_max_keys(uint16_t num_keys)"
### Description
- Type:  Question
- Priority:  Major
I have question about **NVStore::set_max_keys()** under following condition over TMPM46B (Tohisba).

1. NVStore::set_max_keys is called
2. Then get_max_possible_keys() is called at line X ASSERT verification.
3. In get_max_possible_keys(), line Y, _size is sector size 32K, and _min_prog_size is page size 4K, so max_possible_keys = 7.
4. When ret

[2018-04-16 01:18] #6640 closed, assigned to nobody

[2018-04-16 02:55] Meano commented on #6617
I tried to replace these files. It resolved this issue #6355 .

[2018-04-16 03:12] soramame21 opened #6643 "features-nvstore-tests-nvstore-functionality failed when can not accept max_test_keys"
### Description
- Type: Enhancement
- Priority: Minor
TMPM46B failed features-nvstore-tests-nvstore-functionality. features\nvstore\TESTS\nvstore\functionality\main.cpp
Because the chip has fixed sector size 32K and page size 4K, therefore the maximum acceptable key number is 7, but our test case set the key number is 20.

## Question

**Q1: Why the test case set the key number 20? is it the minim

[2018-04-16 07:00] 0xc0170 commented on #6643
@davidsaada Please review

[2018-04-16 07:01] 0xc0170 commented on #6641
@davidsaada Please review

[2018-04-16 07:40] 0xc0170 commented on #6639
@ARMmbed/team-st-mcd Please review

[2018-04-16 07:45] 0xc0170 commented on #6631
To summarize:

- set `default_lib` to `small`
- default toolchain uARM

[2018-04-16 07:50] kivaisan commented on #6631
I don't think this is good for our LoRa tests. We need an additional thread in our LoRa greentea tests.

[2018-04-16 07:53] jeromecoutant commented on #6639
Hi
Did you check https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip-eth/arch/TARGET_STM/stm32xx_emac.c
?
Regards,

[2018-04-16 08:55] LMESTM commented on #6639
EthHandle is a global variable. You could define the handle as extern from your application.
extern ETH_HandleTypeDef EthHandle;
then use EthHandle when calling HAL_ETH_WritePHYRegister.

Now, a better code structure would require addition of an MBED API to propose the service that you need. Could you describe what actual dynamic configuration you're willing to do from application level ?

[2018-04-16 11:06] bulislaw commented on #6617
We'll need to cherry pick the commits on top of the update after #6273 I'll try to resurrect it and merge soon.

[2018-04-16 12:26] LMESTM commented on #6426
@marcemmers note that I've pushed a PR to master which includes similar fix as I pointer in previous comment. You'd rather rebase on master to get the latest fix. Anyway from your analysis, this looks like a different matter than the one I fixed

[2018-04-16 12:31] marcemmers commented on #6426
@LMESTM Yeah I figured. I will make a PR for the fix of the shadow registers, we can then discuss if the fix i have made is acceptable.

Should i make an other issue for the RTC overflow problem or should we continue here?
@0xc0170 ?

[2018-04-16 13:02] 0xc0170 commented on #6426
@0xc0170 ?

This issue is still present on https://github.com/ARMmbed/mbed-os/tree/feature-hal-spec-rtc ?

cc @c1728p9 you might be interested in the above report

[2018-04-16 13:15] davidsaada commented on #6641
Good questions, first off all.

Other than the data records, we also have a "master record" at address 0. This will hold one program unit, hence the `-1` at the end of the calculation.

You are right, a less-than-equal condition should be more suitable here.

I must add that the 4KB page size in this board (is this really the case?) is pretty nasty when it comes to NVStore. It makes the writes ver

[2018-04-16 13:26] davidsaada commented on #6643
Will try to answer both questions with one answer.
20 is not not the minimum number, but it's very close to the minimum.  Actually we aimed for NVStore to have 16 fixed keys and the rest to be dynamically allocated according to need (added a feature for it in 5.9). A configuration such as TMPM46B has only allows 7 keys (see [#6641](https://github.com/ARMmbed/mbed-os/issues/6641#issuecomment-381499

[2018-04-16 13:34] marcemmers commented on #6426
This is already based on the changes in commit 9fb865ae576f47aa924e445a800c1113f623a435 that is present in the feature branch.

There are no other changes to the rtc_read_us part so it seems the issue would still be present.

[2018-04-16 16:45] marcuschangarm commented on #6623
I see the problem. Let us get https://github.com/ARMmbed/mbed-os/pull/6547 merged and I'll put up a bug fix.

[2018-04-16 22:00] bmcdonnell-ionx commented on #4872
I found at least one reason to want to enable C++11 (or higher) not just in user projects, but also within Mbed OS itself: to replace [`mbed::Callback`](https://github.com/ARMmbed/mbed-os/blob/master/platform/Callback.h) with [`std::function`](http://en.cppreference.com/w/cpp/utility/functional/function). `mbed::Callback` is apparently a kludge to work-around the lack of `std::function`. IME, it i

[2018-04-16 22:34] theotherjimmy commented on #4872
@bmcdonnell-ionx We would need to upgrade to Arm Compiler 6 and IAR EWARM 8. It's not so easy though: IAR EWARM 8 does not support C++03. [This issue](https://github.com/ARMmbed/mbed-os/issues/5507) has more background on what an upgrade to C++11 would entail.

[2018-04-16 22:36] theotherjimmy commented on #4872
Actually, it looks like C++14 would be the standard when we upgrade.

[2018-04-17 01:56] soramame21 commented on #6641
@davidsaada thanks for explanation. the page size of TMPM64B is fixed 4K byte.
In case page size of target is big, should we allocate multiple sectors? or just return a error to tell the target is not suitable for nvstore feature?
Thanks confirmed to change check condition for Maximum key number in set_max_keys().

[2018-04-17 05:42] janjongboom commented on #6631
@kivaisan, but how would you run greentea in an extra thread on this target? It does not fit anyway.

[2018-04-17 05:43] #6389 closed

[2018-04-17 05:46] janjongboom opened #6649 "LoRaWAN should have API for SNR and RSSI"
### Description
- Type:  Enhancement
- Related issue: #6389
- Priority: Minor

## Enhancement

**Reason to enhance or problem with existing solution**

See also #6389. If you receive a message from the LoRaWAN stack it'd be useful to see RSSI and SNR (and probably some other stuff, f.e. was this a confirmed message?) of that packet for debugging purposes. Also I'd like some information on which se

[2018-04-17 05:52] kivaisan commented on #6631
@janjongboom ARM Compiler or IAR compiled image works.

[2018-04-17 06:35] toyowata commented on #5612
@theotherjimmy I still got timeout error for the particular project here:
 https://os.mbed.com/teams/Renesas/code/GR-PEACH_mbed-os-client-ZXingSample/export

Can you please check?

[2018-04-17 07:02] mikaleppanen opened #6650 "Greentea UDP/TCP packet pressure test cases are failing on platforms with large memory"
### Description
- Type: Bug
- Related issue: None
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F767ZI

**Toolchain:**
GCC_ARM

**Toolchain version:**
6-2017-q2

**Expected behavior**

Greentea UDP and TCP packet pressure tests should pass:

    mbed-os-tests-netsocket-tcp_packet_pressure
    mbed-os-tests-netsocket-tcp_packet_pressure

[2018-04-17 10:05] 0xc0170 commented on #6631
Test can still overwrite it I hope - same for an application.
 A question is if its by default should be set to just single thread.

[2018-04-17 10:55] kivaisan commented on #6631
Ok, if that's the case then we are ok.

Btw. This issue also valid for target MTB_MURATA_ABZ. It is the almost the same HW as DISCO-L072CZ-LRWAN1.

[2018-04-17 12:01] jeromecoutant commented on #6548
This could be closed thx to #6553 ?

[2018-04-17 12:36] #6548 closed

[2018-04-17 13:03] bmcdonnell-ionx commented on #4872
@theotherjimmy, I knew I had seen a more comprehensive issue than this one! Thanks for the link.

Should this issue be closed, as it is superseded by #5507?

[2018-04-17 13:34] fkjagodzinski commented on #6591
Yes, these tests are built only when `LOWPOWERTIMER` macro is defined, so you should either edit targets.json or use `-D` compile option.

[2018-04-17 13:37] ashok-rao commented on #6591
@fkjagodzinski But, we did not have LOWPOWERTIMER defined in targets.json for the commit 1df5c020b966ac464edde0748903b0693de3aa2f  too. How come it was being built then..!

[2018-04-17 14:28] fkjagodzinski commented on #6591
@ashok-rao No idea.. :confused: Morph build logs from https://github.com/ARMmbed/mbed-os/pull/6511#issuecomment-378182965, e.g. [[...]build_log_MTB_USI_WM_BN_BM_22_GCC_ARM.txt](http://mbed-os.s3-eu-west-1.amazonaws.com/builds/6511/PASS/MTB_USI_WM_BN_BM_22/GCC_ARM/62e5dccd0b28738ef4b2bbf0ecacdcac17284d4c_build_log_MTB_USI_WM_BN_BM_22_GCC_ARM.txt) list these tests as skipped.

[2018-04-17 19:51] yennster commented on #5612
The same error also still occurs with this Renesas project in the online compiler with the GR-PEACH target and e2 Studio IDE: https://os.mbed.com/teams/Renesas/code/GR-PEACH_WebCamera/

[2018-04-17 21:05] cmonr opened #6659 "Echo test in CI sporadically failing"
### Description
- Type: Bug
- Related issue: N/A
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
Multiple

**Toolchain:**
Multiple

**Expected behavior**
CI test should be stable and only fail for valid reasons.

**Actual behavior**
CI Tests builds have started randomly failing the mbed_drivers/echo test.

**Steps to reproduce**
TBD.

## Notes

[2018-04-17 21:05] cmonr commented on #6659
FYI: @studavekar @0xc0170

[2018-04-18 02:19] bmcdonnell-ionx opened #6661 "MCUXpresso exporter - bad assembler flags can cause HardFault on Thread exit"
### Description
- Type: Bug
- Priority: Minor | Major

(EDIT: Original title: "exiting thread after printf() causes HardFault".)

---------------------------------------------------------------
## Bug

**Target**
LPC4088 (EA QuickStart Board)

**Toolchain:**
GCC_ARM

**Toolchain version:**
MCUXpresso IDE v10.1.1 [Build 606] [2018-01-02]

**mbed-cli version:**
1.5.0

**mbed-os sha:**
`f9ee4e849 (ta

[2018-04-18 03:24] janjongboom commented on #6631
@0xc0170 In newlib-nano malloc is not thread safe I think, @sg- told me to not use RTOS whenever you use newlib-nano.

[2018-04-18 05:11] janjongboom opened #6662 "How to get RTC value in ms. precision?"
### Description
- Type:  Question

## Question

**How to?**

I need to know how long my application has been running. `gettimeofday()` is available but always returns `0` for `tv_sec` and `tv_usec`. `time(NULL)` just gives me second precision. Using a timer is not recommended because it overflows after 31 minutes... How can I get the RTC value with ms. precision?

For Mbed OS 3 there was [mbed-tim

[2018-04-18 07:38] kivaisan commented on #6649
Isn't adding members to such a "collector" structure in a public interface be a API break?
@AnttiKauppila what do you think?

[2018-04-18 07:42] hasnainvirk commented on #6649
In my humble opinion we shouldn't touch the receive APIs anymore. If metadata is needed, it should be retrieved by some out of band means. Let's not bloat out our APIs

[2018-04-18 09:10] 0xc0170 commented on #6662
@SenRamakri @bulislaw Please review

[2018-04-18 09:14] 0xc0170 commented on #6659
This type of test should be functional always if the rest is (host client communication is working). I do not recall any change to the test itself (its python counterpart). Where else it could be ?

[2018-04-18 09:31] bcostm opened #6664 "Wait function using us_ticker_read"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

It would be nice to have a "wait" function that uses us_ticker_read instead of using the wait_us function. In many situations the wait_us is not appropriated (deepsleep, I2C, ...)

Some work has already been started in PR #6069 and PR #6538 but it would be better

[2018-04-18 15:44] TeroJaasko opened #6670 "Macro definitions in mbed_app.json are not passed to IAR assembler"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
IAR

**Toolchain version:**
8.2

**mbed-cli version:**
1.5.0

**mbed-os sha:**
cba28cc (HEAD -> master, origin/master, origin/HEAD) Merge pull request #6221 from codeauroraforum/Add_RNG_LPC54XXX

**Expected behavior**
Code compiles, macros given in

[2018-04-19 03:03] TomoYamanaka commented on #6617
@bulislaw
Could you tell us the expected date of cherry pick two commits ?

[2018-04-19 06:38] kjbracey-arm commented on #6662
In the C library, I'd hope `clock()` works, but I'm not certain.

mbed OS 5.8 added `Kernel::get_ms_count()`, which gets the millisecond tick counter from the RTOS, expanding to 64 bits if necessary. That's what I'd recommend as the best general-purpose timebase, and a number of delaying RTOS calls now accept that 64-bit absolute time as an "until" value.

[2018-04-19 07:41] kjbracey-arm commented on #6662
This was pending work from the discussion on `Kernel::get_ms_count()` - what should the non-RTOS version be, and could it be interfaced into `clock()`?

Main issue with `clock()` is we should ideally be able to get control of `CLOCKS_PER_SEC` to make sure it's 1000 to reflect reality for RTOS and align non-RTOS - I'd guess each C library should have a mechanism for this, but we're currently conver

[2018-04-19 07:59] kjbracey-arm opened #6674 "Greentea client isn't outputting to the console"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Enhancement
- Related issue: #6660
- Priority: Minor

----------------------------------------------------------------
## Enhancement

Greentea client is unnecessarily tied to `RawSerial`, potentially limiting performance, and preventing its use over any other comms interface. It's also causin

[2018-04-19 10:52] martinnov71 commented on #5823
I saw there is branch of mbed-os called _feature-emac_. Is it possible that those changes could prevent getting into inconsistent state?

[2018-04-19 11:04] kjbracey-arm commented on #5823
Ah, we have been investigating various ST driver performance issues - see #6262. And one of the key fixes proposed there there has made it onto the feature-emac branch, which is scheduled for merge into 5.9.

https://github.com/ARMmbed/mbed-os/pull/6425

That's the change to make the STM driver not assume a single packet per interrupt, but process multiple. That driver flaw would be consistent wit

[2018-04-19 17:25] MarceloSalazar commented on #1831
@daniel-cesarini-tridonic-com FYI https://github.com/ARMmbed/mbed-os/pull/5419 is merged.
Could you please comment whether this issue is valid or can be closed?

[2018-04-19 17:31] MarceloSalazar commented on #5310
Verified with the latest cloud client (1.3.1) and content format text/plain is now part of the response.
https://github.com/ARMmbed/mbed-cloud-client/blob/1.3.1/mbed-client/mbed-client-c/source/sn_grs.c

Closing - please re-open if needed.

[2018-04-19 17:31] #5310 closed

[2018-04-19 17:35] MarceloSalazar commented on #5759
@daniel-cesarini-tridonic-com

Hope @SeppoTakalo 's response answers your question - let us know if you need more information.

[2018-04-19 17:35] #5759 closed

[2018-04-19 18:04] GeorgeStephens commented on #6639
Thank you,

A project I am working on contains a LAN9355 Ethernet switch that can be managed via MDIO. For now I'm looking to be access it to debug and test but down the line it will be used to access the EEPROM and change settings such as LED configurations, VLAN and other items users may wish to access.

[2018-04-19 19:04] AGlass0fMilk opened #6684 "BlockDevice classes should be moved to mbed namespace"
BlockDevice classes (and all mbed features) should be moved to the mbed namespace and should not #include "mbed.h"

https://github.com/ARMmbed/mbed-os/blob/42d77ecd134acae07d9e99f87b0606c454bea00e/features/filesystem/bd/BlockDevice.h#L43

[2018-04-19 19:12] markhermelinggt opened #6685 "Uninitialized variable in flashJournalStrategySequential_read_progress"
In flashJournalStrategySequential_read_progress in support_funcs.c

Line 349, if journal->read.amountLeftToRead is false, then the rest of that condition is not executed and hence storageBlock is not initialized when it is used in line 354.

Found during static analysis using CodeSonar, screenshot attached

<img width="890" alt="blinky" src="https://user-images.githubusercontent.com/26067922/39012

[2018-04-19 19:12] MarceloSalazar commented on #6543
Internal reference: IOTMORF-2317

[2018-04-19 19:16] MarceloSalazar commented on #6150
Closing as a fix is confirmed to be in place.

[2018-04-19 19:16] #6150 closed

[2018-04-19 19:33] MarceloSalazar commented on #4686
Internal reference: IOTMORF-2319

[2018-04-19 20:14] bmcdonnell-ionx commented on #6684
Related: #5679. 😃

[2018-04-19 20:18] AGlass0fMilk commented on #6684
Sorta related: #6421 and PR #6427 😃

[2018-04-19 21:02] pauluap commented on #5823
@martinnov71, I've isolated the fixes that kjbracey was talking about on the https://github.com/pauluap/mbed-os/tree/stm32xxx_emac_drain_all_the_drains branch.  You can try out the changes there.  If they work for you, then I can turn it into a PR.

Note, if you start exploring all the branches that I made on #6262, you may see that the version I provided has an windup issue because the ISR kicks

[2018-04-19 22:31] sg- opened #6689 "Mbed config for STDIO_UART_TX not consistently implemented across targets"
### Issue request type

- [ ] Question
- [ ] Enhancement
- [x] Bug

### Description
OCD kicked in and now that that #6687 and #6688 are opened, the real issue is that we seem to have wrapped `MBED_CONF_TARGET_STDIO_UART_RX` around `STDIO_UART_RX` (same for TX) in `PeripheralNames.h` and newer targets (or not all targets) were updated with this capability. This seems like a change that should have

[2018-04-20 07:41] 0xc0170 commented on #6224
No disabling, investigation is needed for this one, latest failure here http://mbed-ci-master-2.austin.arm.com:8081/job/test_matrix_raas/1614/

[2018-04-20 08:16] 0xc0170 commented on #6685
Thanks for the report. Can you send a pull request fixing it?

Just a note: flashjournal was deprecated since Mbed OS 5.5

[2018-04-20 08:56] daniel-cesarini-tridonic-com commented on #1831
@MarceloSalazar : I do not see connection between #5419 and this issue. In #5419 there is no mention on getTid, from what I see.

[2018-04-20 09:05] kjbracey-arm commented on #1831
The issue does remain - I have some draft work following up this issue - making the change I suggested above. Not reached PR stage yet though - got other stuff I'm supposed to be doing.

https://github.com/kjbracey-arm/mbed-os/commits/thisthread

[2018-04-20 10:28] davidsaada opened #6694 "How to generate a true random sequence"
### Description
- Type: Question
- Related issue: TRNG
- Priority: Major

## Question

**How to generate a true random sequence**
Would like to know the preferred way to generate a true random sequence.
StorageLite code needs to generate an 8 byte random nonce for each stored file. Now, assuming the device has a TRNG, we should use it for this purpose. Using HAL APIs from the feature code doesn't

[2018-04-20 10:44] 0xc0170 commented on #6694
@hanno-arm Please review

[2018-04-20 11:30] kjbracey-arm commented on #6662
For the high-res stuff, there is the misleadingly named `Timer::read_high_resolution_us()`. That returns the same thing as `Timer::read_us()`, but it's 64-bit, so shouldn't warp for some millenia.

Internal implementation of `Timer` is 64-bit - it appears `read_us` is 32-bit just for backwards compatibility.

[2018-04-20 12:49] 0xc0170 commented on #6684
👍

@geky can you please review

[2018-04-20 13:31] SeppoTakalo opened #6695 "NanostackRfPhyEfr32 driver does not build"
### Description
- Type: Bug

`NanostackRfPhyEfr32` references `RAIL_IEEE802154_Init()` function that is introduced in `targets/TARGET_Silicon_Labs/TARGET_SL_RAIL/efr32-rf-driver/rail/ieee802154/rail_ieee802154.h` header. However, no implementation of it exists in build tree.

This `SL_RAIL` label was enabled on following MCUs:
* EFR32MG1P132F256GM48
* EFR32MG1P233F256GM48
* EFR32MG12P332F1024GL125

[2018-04-20 13:32] SeppoTakalo commented on #6695
CC: @stevew817 @0xc0170

[2018-04-20 13:47] 0xc0170 commented on #6695
There's librail library in the tree, but the question is - what compiler was used to generate (from one earlier PR there was a mention gcc, also name indicates that)?

Our CI failed to link with ARMCC. Any binary lib should have all 3 compilers supported.

[2018-04-20 14:06] hanno-arm commented on #6694
Hi @davidsaada,

the preferred way to get entropy is through Mbed TLS' entropy module, which recognizes, queries and mixes the entropy sources available on your platform. In particular, if a platform-specific TRNG driver has been implemented, this is called from `mbedtls_hardware_poll`, which in turn is registered as one of the entropy sources used by the entropy module.

The example program [gen_

[2018-04-20 14:30] davidsaada commented on #6694
Thanks a lot. The example is very clear. Just one question: Can an application have more than one entropy context in parallel? Aim is to have such a context as a private class member, regardless of ones that may be used by the app.

[2018-04-20 14:42] hanno-arm commented on #6694
Hi @davidsaada,

If you enable `MBEDTLS_THREADING_C`, then according to the [documentation of `mbedtls_entropy_func`](https://github.com/ARMmbed/mbedtls/blob/development/include/mbedtls/entropy.h#L193) you are fine. If you cannot enable this option for some reason, you need to take care of the mutexing yourself.

Could you give more information on your intended simultaenous use across multiple app

[2018-04-20 14:51] davidsaada commented on #6694
@hanno-arm
I don't need simultanoeus access to entropy in my class. My class has a mutex that lets a single thread use the entropy module at a time (among the rest). Reason I asked was that I would like to allow the application to use entropy regardless of my class. I also don't need to generate a lot of random data - only 8 bytes at a time.

[2018-04-20 14:52] hanno-arm commented on #6694
Hi @davidsaada,

ok, let me know if you have further questions then!

Kind regards,
Hanno

[2018-04-20 14:54] davidsaada commented on #6694
No further questions. Thanks a lot for your help.

[2018-04-20 14:54] #6694 closed

[2018-04-20 16:12] geky commented on #6684
Yep! :+1:

[2018-04-20 16:15] geky commented on #6684
Do you think we could make a CI task for this? Check that any header file with camel case name does not have "include mbed.h" and has "namespace mbed"?

[2018-04-20 16:26] bmcdonnell-ionx commented on #6684
@geky, good idea...

Is that better discussed here, or on #5679?

More precisely, maybe something more like `^ *namespace mbed`.

And check that all header files (regardless of CamelCase) do not have "`using  *namespace`".

[2018-04-21 02:27] pingdan32 opened #6699 "Change "macros" in module.json?"
### Description
- Type: Question
-----------------------------------------------------------------

## Question
I'm sorry to post a question via `issue` because I can't find some content elsewhere.

How can I modify the value of macros defined in `module.json`? For example, the default value of `NRF_SDH_BLE_GATT_MAX_MTU_SIZE` (defined in `TARGET_NORDIC/TARGET_NRF5x/TARGET_SDK_14_2/TARGET_SOFTDEVIC

[2018-04-22 05:57] janjongboom commented on #6662
@kjbracey-arm Awesome, thanks.

[2018-04-22 05:57] #6662 closed

[2018-04-23 04:36] stevew817 commented on #6695
Should be fixed by PR #6701

[2018-04-23 07:33] jrobeson commented on #5491
Shouldn't this issue be closed and anything not covered by SDK 14 and the various mbed hal changes a be reopened as a new issue?

[2018-04-23 07:34] jrobeson commented on #5491
Of course the latest SDK is now 15, but at the time it wasn't.

[2018-04-23 07:37] #5491 closed

[2018-04-23 11:00] MarceloSalazar commented on #5671
Enhancement for nrf52 is available on master and should fix this: https://github.com/ARMmbed/mbed-os/pull/6547
Please re-open if the problem continues.

[2018-04-23 11:00] #5671 closed

[2018-04-23 12:30] romkuz01 opened #6706 "NVStore call crashes when compiled with ARMCC"
Use the following main.cpp to reproduce the crash:

[code]

Compile and run with:
`mbed compile -t ARM -m K64F --profile debug -f`

The failure was detected with ARMCC version:
`ARM Compiler 5.06 update 3 (build 300)`

Some observations:

- Crashes only with --profile set to "debug" or "release", doesn't crash with "develop"
- Passes when "const" removed from array definition
- Passes if array is

[2018-04-23 12:36] 0xc0170 commented on #6706
@davidsaada Please review

[2018-04-23 13:08] 0xc0170 commented on #6659
@kegilbert @cmonr this is still an issue that affects master.

From quick discussion with @studavekar this is generic failure, might be related to the load on the host. When I checked the history of the file there were 2 changes done long time ago. Few more boards recently failed this test - k82f, kw24d.

Do we need any delay after sending echo? Or using something else than `getc` (our tokenizer u

[2018-04-23 16:02] #6489 closed

[2018-04-23 16:14] bmcdonnell-ionx commented on #6560
@0xc0170, this issue does not occur when I use `mbed compile -t GCC_ARM`, nor if I just turn an LED on instead of doing `printf()`. I think the root cause here is the MCUXpresso exporter, likely the same as https://github.com/ARMmbed/mbed-os/issues/6661#issuecomment-383586747.

[2018-04-23 20:29] theotherjimmy commented on #5763
@aldrinleal We have been testing this particular export combination, and a recent run pased: http://mbed-os.s3-website-eu-west-1.amazonaws.com/?prefix=builds/exporter/6447/PASS/NRF52_DK/

[2018-04-23 20:29] #5763 closed

[2018-04-23 20:30] theotherjimmy commented on #5763
Full log here: http://mbed-os.s3-eu-west-1.amazonaws.com/builds/exporter/6447/PASS/NRF52_DK/gnuarmeclipse/f9ed86849fd49103c75982e3bc00834760b61666_exporter_build_log_NRF52_DK_gnuarmeclipse.txt

[2018-04-23 20:37] rutgervandenberg opened #6714 "ISR Queue overflow when signalling from CAN RX ISR"
### Description
- Type: Bug
- Related issue: ARM-software/CMSIS_5#283
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F767ZI

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-g++ (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]

**mbed-cli version:**
mbe

[2018-04-23 20:58] aldrinleal commented on #5763
Awesome! Thank you guys!

[2018-04-23 22:45] Alex-EEE opened #6716 "Wrong #define macro name in tls unit test"
### Description
- Type: Bug

In the unit test for mbedtls ( mbed-os\TESTS\mbedtls\selftest\main.cpp ), the test refers to the mbed tls config file by the wrong name.  It is currently coded as:
#if !defined(MBEDTLS_CONFIG_FILE)
#include "mbedtls/config.h"
#else
#include MBEDTLS_CONFIG_FILE
#endif

****** It should be MBEDTLS_USER_CONFIG_FILE  *************

Greentea currently fails like so:

* K64F

[2018-04-23 23:00] marcuschangarm commented on #6623
@AGlass0fMilk can you give this a spin and see if it solves your problem, please?

https://github.com/ARMmbed/mbed-os/pull/6717

All pins on my NRF52_DK board are low by default so I can't test it properly.

[2018-04-24 00:28] michaelVisimid opened #6722 "TARGET_STM/gpio_irq_api.c does not need to guess which port generated the interrupt"
### Description
- Type: Enhancement (bug if you are feeling contrarian)

- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
All STM devices

**Toolchain:**
GCC_ARM|ARM|IAR

----------------------------------------------------------------
## Enhancement

There seems to be some misconceptions about STM32 devices and more than one pin using the inter

[2018-04-24 11:18] kjbracey-arm commented on #6659
My supposition was that as you are using "raw" unbuffered serial, you are totally reliant on the device being ready and receiving - spinning in `serial_getc` whenever data comes in. This sort of reception is pretty dicey - normally you would need an interrupt handler for reliable reception (using `UARTSerial` eg by turning on `platform.stdio-buffered-serial` would do this).

In this case I'm guess

[2018-04-24 11:18] MarceloSalazar commented on #5612
Internal reference: IOTMORF-2325

[2018-04-24 14:17] 0xc0170 commented on #6714
@SenRamakri @bulislaw  Please review

[2018-04-24 14:47] #6381 closed

[2018-04-24 14:48] theotherjimmy commented on #6335
https://github.com/ARMmbed/mbed-os-example-bootloader/issues/58 is a duplicate.

[2018-04-24 14:51] #6593 closed

[2018-04-24 15:30] fkjagodzinski opened #6732 "NRF52_DK: Not all callbacks called when multiple Timeout objects scheduled one by one"
### Description
- Type: Bug
- Priority: Major

**Target**
NRF52_DK

**Toolchain:**
ARM, IAR

**Toolchain version:**
ARM `5.24 (Flex) ARM Compiler 5.06 update 5 (build 528)`,
IAR `ANSI C/C++ Compiler V7.80.4.12462/W32 for ARM`

**mbed-cli version:**
`1.5.0`

**mbed-os sha:**
42d77ecd1

**Code**
[code]

**Expected behavior**
When multiple `Timeout` objects are scheduled one by one, all callbacks are

[2018-04-24 16:40] rutgervandenberg commented on #6714
I did some more testing and it seems that the ISR is called at 5 us intervals and the handling process never becomes active.

![can_isr_timings](https://user-images.githubusercontent.com/5656556/39201258-bd306dd4-47ee-11e8-9b2b-fd7a805a1c31.png)

[code]

[2018-04-24 17:12] #5109 closed

[2018-04-24 18:08] cmonr commented on #6659
Closing since PR has been brought in.

[2018-04-24 18:34] marcuschangarm commented on #6732
@mprse @bulislaw

I would expect this PR https://github.com/ARMmbed/mbed-os/pull/5629 to fix it?

[2018-04-25 00:58] TomoYamanaka commented on #6617
Since I think that the above two commits will not be affected to #6273 , can I submit PR of cherry-pick to go ahead with the reflection to Mbed OS?
It seems like the multiple interrupts problem in RTX5 blocks GR-PEACH/GR-LYCHEE users' activity.
Thus, if you can accept my cherry-pick on this soon, it would be very helpful.

[2018-04-25 03:17] mails4nagaraju opened #6737 "how to fix timing issues in baud rate of uart in stm32f405"
Baud rate is working fine for 4800 and 9600 but not working for lower baud rate and higher baud rates..

  RCC_GetClocksFreq(&RCC_ClocksStatus);

  if ((USARTx == USART1) || (USARTx == USART6))
  {
    apbclock = RCC_ClocksStatus.PCLK2_Frequency;
  }
  else
  {
    apbclock = RCC_ClocksStatus.PCLK1_Frequency;
  }

  /* Determine the integer part */
  if ((USARTx->CR1 & USART_CR1_OVER8) != 0)
  {

[2018-04-25 06:29] bcostm commented on #6737
It looks like the above code is not part of this file [https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/serial_api.c] where all the Serial management is done for all STM32 devices. So, can you try to use instead the mbed API and in particular the Serial object ? Secondly, which board are you using ? The MTS_DOT_F405RG ?

[2018-04-25 06:47] MikeDK opened #6738 "EFM32: GPIO Irq not working as expected since mbed-os 5.8.1"
### Description
- Type: Bug
- Related issue: `#6205`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
observed on an EFM32PG12 (probably all EFM32)

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (15:5.4.1+svn241155-1) 5.4.1 20160919

**mbed-cli version:**
1.2.0

**mbed-os sha:**
b033a6e42

**Expected behavior**
I wrote a class

[2018-04-25 09:15] mprse commented on #6732
Mentioned PR is only for NRF51_DK board. I didn't have NRF52_DK while I was porting the ticker driver. I know that implementation should be mainly the same, only NRF52_DK offers 32-bit high speed counter which can be used for us ticker instead of 16-bit one.
I don't want to add anything to this PR since it hangs long enough - mainly waiting for the review. So I think we can try to enable NRF52_DK

[2018-04-25 09:55] kjbracey-arm commented on #4722
My understanding is that HAL API changes in the async area are planned, and I've been advised to hold off on any use of the existing API. I did have a prototype patch for async write that Rob tested, but not planning to move that through at the moment.

Also, my own investigations suggest any attempt to really use DMA for serial is very troublesome on most chips we support, which is presumably why

[2018-04-25 11:16] bulislaw commented on #6617
I'll cherry pick that on top of https://github.com/ARMmbed/mbed-os/pull/6273

[2018-04-25 13:25] jeromecoutant commented on #6426
Hi
Interested in the results with the latest implementation.
Thx

[2018-04-25 13:26] jeromecoutant commented on #6549
I think we can close this issue ?

[2018-04-25 13:28] jeromecoutant commented on #6631
Hi
What is your current opinion ?
Should we update the default DISCO L072 configuration ?

[2018-04-25 14:47] #6549 closed

[2018-04-25 15:36] #6659 closed

[2018-04-25 15:39] marcuschangarm commented on #6732
Sounds good! Let's get your PR in and I'll rebase mine around it and then we'll see if more work needs to be done.

[2018-04-26 05:26] mikeredbike commented on #470
I was having the USBMIDI hang problem on my STM32F767 board.  Running the debugger showed it was in USBDevice::connect waiting for the connect state.  Because I needed the TIM5 timer I had changed the hal_tick.h to use TIM7.  USBMIDI and RTOS work with hal_tick timer TIM4 or TIM5 but not with TIM3 or TIM7. The defualt TIM5 works fine.

[2018-04-26 13:52] fkjagodzinski commented on #6732
Update:
* the issue can be also reproduced on NRF52840_DK,
* unfortunately #6515 does not fix the issue (as I wrote in https://github.com/ARMmbed/mbed-os/pull/6534#issuecomment-382660644), just makes it less often,
* I suppose the problem lies in `common_rtc_set_interrupt()`, where the code is not protected in any way against changes of RTC `COUNTER` register value.

https://github.com/ARMmbed/mbe

[2018-04-26 14:08] bcostm commented on #5619
We checked the SW4STM32 exporter and it works fine using mbed CLI but there is still an issue when exporting from mbed online IDE. As we cannot do anything on the IDE, can someone in ARM have a look ? Thanks

[2018-04-26 14:25] 0xc0170 commented on #5619
@theotherjimmy Can you reproduce the above issue report in the online IDE?

[2018-04-26 14:28] 0xc0170 commented on #6732
@fkjagodzinski How shall this be fixed?

[2018-04-26 15:28] yennster opened #6753 "MAX32620FTHR not recognized in online compiler"
## Bug

**Target**
MAX32620FTHR

**Toolchain:**
Online Compiler

**mbed-os sha:**
Revision: 4127:f9ee4e8

**Expected behavior**
The online compiler recognizes the MAX32620FTHR target and compile's the program.

**Actual behavior**
Error: Target "MAX32620FTHR" is not recognized

**Steps to reproduce**
1. Add the board to your online compiler: https://os.mbed.com/platforms/MAX32620FTHR/
1. Import Bl

[2018-04-26 15:43] bulislaw opened #6754 "Tests failing on EFM32GG_STK3700"
### Description
- Type: Bug
- Priority:  Major
- Mbed OS: `675528b6c`

CC: @ARMmbed/team-silabs

---------------------------------------------------------------
## Bug

**Target**
EFM32GG_STK3700

**Toolchain:**
GCC_ARM

**Expected behavior**
All tests pass.

**Actual behavior**
Fails:
[code]

**Steps to reproduce**
`mbed test`

[2018-04-26 16:34] yennster opened #6755 "[exporter] cmake-gcc-arm doesn't include FEATURE_LWIP"
## Bug

**Target**
LPC1768

**Toolchain:**
Online Compiler, CMake-GCC-ARM

**mbed-os sha:**
Revision: 4127:f9ee4e8

**Expected behavior**
Exporting mbed-os-example-blinky with LPC1768 and CMake-GCC-ARM does not include references to the FEATURE_LWIP files in CMakeLists.txt under `ADD_EXECUTABLE(...` or grabs the FEATURE_LWIP folder in the mbed-os/features directory

**Actual behavior**
The exporte

[2018-04-26 17:27] AGlass0fMilk opened #6759 "EventQueue Background Example"
### Description
- Type: Question
------------------------------------
## Question

How does one effectively use the EventQueue.background method? What does the passed in update function have to handle and what is the significance of the int argument?

An official example of this functionality would be helpful!

[2018-04-26 20:36] bentcooke commented on #6753
This target was just released in v5.8.3.  The mbed os lib of blinky has not yet been updated to point to the latest lib.
Updating the mbed-os lib in the online project will fix it.

[2018-04-26 22:07] marcuschangarm opened #6760 "Missing type definition for public_key_t"
### Description

When compiling the Mbed Cloud client on a BLE target the GenericSecurityManager fails to compile due to missing type definition for `public_key_t`.

https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_BLE/ble/generic/GenericSecurityManager.h#L344-L362

- Type: Bug
- Priority: Major

[2018-04-27 06:01] ajaakko-arm commented on #5619
Just compared a project exported from the online compiler and a project exported from the command line.
Online compiler:
[code]
Command line:
[code]
Question is, why online compiler adds this temporary path to config header, and should we remove extra path in sw4stm32 exporter? Exporter itself has nothing to do with wrong path:
`
config_header = self.filter_dot(self.toolchain.get_config_header())

[2018-04-27 07:30] 0xc0170 commented on #6760
@donatieng Please review

[2018-04-27 07:36] SeppoTakalo opened #6763 "mbed-cli fails on pip > 9.0.3"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

If I create a new directory called `tmp` go into that directory and try to create new Mbed OS application, it fails:

[code]

OS: Mac OS X
Using virtualenv with pip version 10.0.0.

### Update

To fix: pip install -U pip==9.0.3

So problem appears when pip version is 10.0.0 or n

[2018-04-27 08:57] SeppoTakalo commented on #6763
To fix: `pip install -U pip==9.0.3`

[2018-04-27 09:01] 0xc0170 commented on #6763
I believe this is reported to mbed-cli and was fixed recently (pip breakage that happened recently). This one : https://github.com/ARMmbed/mbed-cli/pull/661

[2018-04-27 09:03] mattbrown015 opened #6764 "LoRaWAN LoRaMacCrypto.cpp Asserts Incorrect"
### Description
- Type: Bug
- Priority: Minor

'features\lorawan\lorastack\mac\LoRaMacCrypto.cpp' contains some asserts that should fire if mbedtls is incorrectly configured e.g.:

    MBED_ASSERT("[LoRaCrypto] Must enable AES, CMAC & CIPHER from mbedTLS");

I think these should actually be something like:

    MBED_ASSERT(0 && "[LoRaCrypto] Must enable AES, CMAC & CIPHER from mbedTLS");

I made a

[2018-04-27 09:13] 0xc0170 commented on #6764
@AnttiKauppila @hasnainvirk Please review

[2018-04-27 09:36] AnttiKauppila commented on #6764
Arm internal ref: IOTCELL-841

[2018-04-27 10:43] 0xc0170 commented on #6755
I tried locally offline latest master and also 5.8.3 tag checked out and cmake gcc arm, I can see lwip there in executables.

@theotherjimmy Please review

[2018-04-27 12:28] prvthkr opened #6766 "HardFault while connecting with ESP8266(mbed Client example)"
### Description
- Type: Question
- Priority: Major

---------------------------------------------------------------
## Question

**Target**
K64F |  Custom target

**Toolchain:**
GCC_ARM

**Toolchain version:**
6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

**mbed-cli version:**
1.5.1

**Expected behavior**
ESP8266 should be connect to network.

**Actual behavior**
HardFault is h

[2018-04-27 13:02] 0xc0170 commented on #6766
@prvthkr We are missing the Mbed OS version, also what application version are you using?

@JanneKiiskila Any suggestions?

[2018-04-27 13:32] maciejbocianski opened #6767 "missed out on "fire_interrupt""
Bug catched while #6515 testing on NUCLEO_F746ZG and ARM compiler on CI

The problem arises from different time base used in our hal and target implementation.
HAL ticker `hal/mbed_ticker_api.c` use `[us]` while target implementation `targets/TARGET_STM/lp_ticker.c` use `[ticks]` (on this target `1[tick] == 61[us]`)

Fails catched in #6515 is the case when we try to set interrupt with time `now +

[2018-04-27 13:37] JanneKiiskila commented on #6766
You can measure the memory consumption.
1) Static RAM you can see from the compiler output.

[code]
We know we're using 78 kilobytes then.

2) Dynamic RAM consumption on top of that.
- Example for that in: https://github.com/ARMmbed/mbed-os-example-tls/pull/146

However, 192 kilobytes should be enough for that. Now, w/o having a stack back trace and knowing what "custom target" means here, it's pr

[2018-04-27 14:08] 0xc0170 commented on #6767
@ARMmbed/team-st-mcd @c1728p9

I dont see in hte code snippet what was added (only that condition) ?

[2018-04-27 14:30] theotherjimmy commented on #5619
config_header = self.filter_dot(self.toolchain.get_config_header())

Actually, that will always generate the wrong path.

[2018-04-27 14:36] theotherjimmy commented on #5619
You need to do the "subtract basepath" thing on the config header:
[code]

This does nothing offline, and removes the tempdir crud online.

[2018-04-27 14:43] theotherjimmy commented on #6755
@yennster The expected behavior is that it contains references and code for LWIP.

[2018-04-27 15:09] maciejbocianski commented on #6767
@0xc0170
Yes only the condition.

Here is branch used for bug reproduction
https://github.com/maciejbocianski/mbed-os/tree/debugging_only_schedule_head_multiticker
Last commit contains fix specific for NUCLEO_F746ZG target

It will be hard to have generic fix for all targets (on master) since `lp_ticker_get_info` function is stubbed on master and return 1MHz frequency for most targets. It's crucia

[2018-04-27 15:16] maciejbocianski commented on #6767
@ARMmbed/team-st-mcd
this loop takes 3 tick (183us) for NUCLEO_F746ZG
it's OK ?
https://github.com/ARMmbed/mbed-os/blob/c8d72c524dd7ac1b537bd5fe230572cb703f0532/targets/TARGET_STM/lp_ticker.c#L252-L253

[2018-04-27 15:45] yennster commented on #6755
@theotherjimmy Yep, sorry. I worded that badly

[2018-04-27 17:57] yennster commented on #6753
@bentcooke Okay, I'll send a bug to the web team then

[2018-04-27 17:57] #6753 closed

[2018-04-27 18:01] yennster commented on #6755
@0xc0170 @theotherjimmy The issue is not that LWIP is included in executables in the CMakeLists.txt, but rather that the files are not showing up in mbed-os/features for LWIP

[2018-04-27 22:53] theotherjimmy commented on #6755
@yennster Yep. I'm testing a fix right now.

[2018-04-28 10:25] tesseract241 opened #6770 "Support the KW40Z by back porting the KW41Z?"
- Type: Enhancement | Question

The KW40Z is a fundamental part of the HEXIWEAR module, providing it with bluetooth functionality and touch buttons, its only physical input, but is only supported right now through a binary built in IAR Embedded Workbench for ARM that provides pre-determined functionalities.
The KW41Z is a (partly) supported component by mbed-os which shares many hardware features

[2018-04-28 10:40] prvthkr commented on #6766
Hello @JanneKiiskila ,

Total Static RAM memory (data + bss): 30408 bytes

If I'm adding aboce file it's giving these many errors
[code]

Yes, this is not a problem of mbed-os-example-client. Without this example I tried with only [easy_connect](https://github.com/ARMmbed/easy-connect) and the same thing is happing with this.

Yes, My serial driver is working fine. I have tested all the test case

[2018-04-28 14:58] markhermelinggt commented on #6685
Martin,

I am happy to send a fix and pull request, but unfortunately, I am not qualified to test it.

As this is deprecated, maybe the best would be to mark this as a wont fix?

Regards,
Mark

—
Mark Hermeling | GrammaTech | Senior Director Product Marketing
mobile +1 (607) 351-5719 | http://www.grammatech <http://www.grammatech/>.com/

New: Visit http://community.grammatech.com/ <http://communit

[2018-04-29 15:06] geky commented on #5653
Ok, I added a patch to https://github.com/ARMmbed/mbed-os/pull/6336 that should take care of this for FAT. LittleFS was updated in https://github.com/ARMmbed/mbed-os/pull/6179 to use ENOTEMPTY.

So this looks like it should be solved soon, let me know if you have any concerns.

[2018-04-30 05:59] mails4nagaraju commented on #6737
Thank you issue got Fixed its a hardware issue

[2018-04-30 05:59] #6737 closed

[2018-04-30 06:58] jeromecoutant commented on #6767
Hi

Did you check the issue in the ticker branch ?
So what do you expect from us ...?

[2018-04-30 09:49] kjbracey-arm commented on #5759
The memory needed to "work at all" is largely allocated up front and stays allocated. We did some work after fuzz testing to ensure that was the case - making sure the stack kept running in the event of heap full. Back in the day it might have failed to rescheduled a periodic timer, for example - a non-recoverable situation.

So the active heap contention is a mixture of various transient data lik

[2018-04-30 10:23] guest253456 opened #6775 "`void HAL_ETH_MspInit(ETH_HandleTypeDef* heth)` needs `__weak`"
### Description
- Type: Enhancement
- Priority: Major

Without weak if i need to use different pins than the one used in the nucleo board, i would need to modify the mbed init file (mbed-os/features/FEATURE_LWIP/lwip-interface/lwip-eth/arch/TARGET_STM/TARGET_STM32F4/TARGET_NUCLEO_F429ZI/stm32f4_eth_init.c)

**Target**
STM32F4

[2018-04-30 11:10] daniel-cesarini-tridonic-com commented on #5759
@kjbracey-arm thank you for the reply.
I have one question about it:

how to implement that?

Furthermore,

what do you mean by that?

[2018-04-30 11:14] kjbracey-arm commented on #5759
All allocations to the heap ultimately come in to `ns_dyn_mem_alloc` and `ns_dyn_mem_temporary_alloc`. Packet buffers use the latter. The split is primarily intended to avoid fragmentation - they allocate from opposite ends, meaning long-term heap blocks don't cause holes left due to allocating on top of a temporary buffers

You could add some logic to `ns_dyn_mem_temporary_alloc` to make sure it

[2018-04-30 14:04] RobMeades commented on #4722
I'm happy to close this and await developments as my immediate need for high data rates has gone away.  We will still need higher data rates of course, since modems do support much higher rates these days, but it can wait 3 to 6 months to allow the world to move on/catch-up.

[2018-04-30 14:04] #4722 closed

[2018-04-30 15:30] SenRamakri commented on #6766
Hi @prvthkr , Were you able to find exact point of crash from PC/LR values? I'm not seeing that in your above reply. Please see https://os.mbed.com/docs/v5.8/tutorials/analyzing-mbed-os-crash-dump.html for more info.

[2018-05-01 05:12] bcostm commented on #6737
Thanks for the feedback 👍

[2018-05-01 06:13] pauluap commented on #6775
That function *IS* defined as weak in the device implementation

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/device/stm32f4xx_hal_eth.c#L611

The `stm32f4_eth_init.c` is a target specific file (as can be seen from the path) - and if you have something with different pins, it is a different target, and thus needs a target-specific `HAL_ETH_MspInit`, and thus I t

[2018-05-01 11:42] vsupacha opened #6783 "LoRaWAN stack - get_channel_plan( ) not working"
I am working on the addition of LC3-LC8 of AS923 band. The stack only enables LC1 and LC2 which are mandatory.

## Bug
Call LoRaWANInterface.get_channel_plan( ) always return LORAWAN_STATUS_NOT_INITIALIZED even the node can connect and send to gateway.

**Target**
b-L072Z-LRWAN1

**Toolchain:**
mbed program exported to Keil UVision

**Toolchain version:**
MDK-ARM 5.24.1
mbed OS 5.8.3

**Expected b

[2018-05-01 15:42] vsupacha commented on #6783
Using debugger to investigate, I found the flow to return error code.
1. LoRaWANInterface::get_channel_plan( )
2. LoRaWANStack::get_enabled_channels( )
3. LoRaMac::get_channel_plan( )
4. LoRaMacChannelPlan::get_plan( )
   get_phy.attribute = PHY_CUSTOM_CHANNEL_PLAN_SUPPORT;
5. LoRaPHY::get_phy_params( )
   case PHY_CUSTOM_CHANNEL_PLAN_SUPPORT:
       phyParam.value = (uint32_t) phy_params.custom_c