[2018-06-19 15:30] AGlass0fMilk commented on #7222
Sorry for the delayed response, I haven't been working with this code for a few days.

The issue seemed to be caused by external hardware in some manner... I encounter this issue every now and then. Is there a way to increase the idle thread stack size using the mbed compile time configuration tools?

EDIT: There seems to be a thread for a similar issue on ST targets. I am a bit busy right now to

[2018-06-19 15:38] SenRamakri commented on #7222
@AGlass0fMilk - Yes you can either specify that in mbed_lib.json under rtos/ folder using idle-thread-stack-size or use -DMBED_CONF_APP_IDLE_THREAD_STACK_SIZE=<stack size> in your command line. And if this is confirmed to be something caused by external hw please close this issue.

[2018-06-19 15:38] LMESTM commented on #7222
@SenRamakri similar error has been reported in #7235. This happens if using non optimized profiles (debug / developer) and also needs activating TICKLESS and various STATS options as reported by @janjongboom
What I found so far is that the overflow seems to happen in default idle hook - not sure where, but it seems to be somewhere else than targets' hal_sleep or hal_deepsleep functions.
If stack s

[2018-06-19 15:40] AGlass0fMilk commented on #7222
Note: This issue was occurring with the debug build profile.

[2018-06-19 16:26] theotherjimmy commented on #6982
Implemented by #6805

[2018-06-19 16:26] #6982 closed, assigned to nobody

[2018-06-19 17:16] theotherjimmy commented on #7129
Repopening as this is not a duplicate. @0xc0170 Do not assume that `mbed test` == `mbed compile` #6861 is a bug where an absolute path is used.

[2018-06-19 17:23] theotherjimmy commented on #6861
@0xc0170 This is `mbed test`, which is not the same as `mbed compile`

[2018-06-19 17:25] theotherjimmy commented on #6861
https://github.com/ARMmbed/mbed-os/pull/6968 Should have fixed this bug.

[2018-06-19 17:45] kegilbert commented on #6988
@0xc0170 Would it not be easier to use mbed_rtc_time to work on all compiler chains? Or for targets that don't have a RTC Kernel::get_ms_count() as Jan mentioned would work for device uptime. Unfortunately there's no way to get Epoch time from either of those unless you have a network connection or manually set the current time.

Would gettimeofday not just be a wrapper for time(NULL) I suppose is

[2018-06-19 17:50] yogpan01 commented on #7223
Hi,
You need to pass this value through some M2MResource and read that value on the mbed connector.

Something like this would work
[code]

[2018-06-19 19:17] kegilbert opened #7265 "Add ability to deprecate config options"
### Description

There's currently no method to deprecate config options listed in each module's mbed_lib.json.

As an example of a use case, the definition for `default-serial-baud-rate` is in platform rather than drivers (stdio-baud-rate is `printf` specific and is fine in Platform but `default-serial-baud-rate` is for Serial object instances and should probably be back in drivers/mbed_lib.json)

[2018-06-19 22:34] marcuschangarm commented on #7219
@kjbracey-arm

I thought that was the expected behavior for `serial_putc`? The comment in `serial_api.h` says:

[code]

[2018-06-19 22:36] marcuschangarm commented on #7219
@AriParkkila

Isn't `LLF_RND_GetTrngSource` using the `trng_api.h` API or MbedTLS for random numbers? The NRF52 should support both.

[2018-06-20 02:46] #7253 closed, assigned to kjbracey

[2018-06-20 03:50] toyowata commented on #7155
@theotherjimmy

Probably, it is related this?
https://github.com/ARMmbed/mbed-os/issues/7129

[2018-06-20 05:27] kjbracey commented on #7219
Ah. It only means wait for the peripheral to be available to write _this_ character, if necessary. The expectation is that the byte could be going into a FIFO, and we block iff the FIFO is full on entry. The simplest platforms do

    void serial_putc(char c) {
        while (!serial_writable()) ;
        UART->TXFIFO = c;
    }

Interrupt-based transmitters (have to) assume that a pre-check for `

[2018-06-20 05:39] kjbracey commented on #7219
It actually is the TRNG API provider, using the CryptoCell-310. May be a separate issue - doesn't seem that the OP was getting stuck.

[2018-06-20 05:54] kjbracey commented on #7219
@marcuschangarm - any thoughts on whether we should expect to see data loss without a large buffer when using IRQ-based reception? The nRF docs do discuss buffer sizing, but I'm not sure whether a large HAL buffer is being discussed to overcome a nRF-specific performance limitation, or as a kind of alternative to a buffer above the HAL layer.

I can't see any obvious flaw in the RX path - if I und

[2018-06-20 06:09] leibin2014 commented on #7250
@0xc0170
The value of heap_stats is: current_size: 0, max_size: 0, total_size: 0, reserved_size:5696, alloc_cnt: 0, alloc_fail_cnt: 1.
The error happens when `malloc(3096)` is called. But no error happens when `malloc(2576)` is called. Looks like the max size can be allocated is some value between 2500 ~ 3000.
I also tried calling `malloc(2048)` twice,  the first calling can return a right pointer

[2018-06-20 06:38] MikeDK opened #7270 "Reason why C++98 is still used?"
### Description

I wonder why (as of now, the year 2018) the mbed-os compile profiles still set C++98 ?

In our project, we decided to go C++11 - changed the profiles, and it compiles and runs fine.

Although the change is easy to do for specific projects by just editing the profiles - why isn't the default setting updated?

For example, with C++11 there would be variadic templates, so the Callbac

[2018-06-20 06:49] flipflop22 commented on #7204
for power electronics control.

I use ODIN-W2. In MBED OS 3 for ODIN W2 I found it is 2us/16 bits data on Oscilloscope. Yet it is still not enough for my requirements.

[2018-06-20 07:44] kjbracey commented on #7219
Ah, I misread Ari's comment. Thought he'd increased the FIFO size, but it was the DMA buffer size.

That suggests there could be some interrupt latency problems. Is there a way SoftDevice could be impacting this? You've set UART priority to highest, which seems like it should punch through the TX spin, and that shouldn't be happening in Ari's case anyway.

[2018-06-20 07:52] ciarmcom commented on #7270
ARM Internal Ref: MBOTRIAGE-819

[2018-06-20 07:55] 0xc0170 commented on #7270
Hi @MikeDK , this is the tracking issue for this https://github.com/ARMmbed/mbed-os/issues/5507. The main reason is to support all compilers (more details in the issue).

I'll close this as duplicate.

[2018-06-20 07:55] #7270 closed, assigned to nobody

[2018-06-20 08:01] SeppoTakalo commented on #7204
When your applications sample rate is starting to be in the same range as audio signals, you should start studying how audio is send over internet.
https://en.wikipedia.org/wiki/Audio_over_IP

Audio codecs easily add delay of hundreds of milliseconds and buffering is always used.

Buffering, re-routing and variable delays are common in Internet. If constant bitrate, constant delay network is requi

[2018-06-20 08:07] SeppoTakalo commented on #7204
Also, easiest way to get buffering would be to use TCP stream.

Once you are connected, you can easily do
[code]
and leave the TCP/IP stack pack as much data into packets as it likes. This way you achieve best guaranteed performance. Sending faster would not help, if the receiver is not as fast. In TCP, the receiver is sending acknowledgements allowing stacks to find the optimal speed of the strea

[2018-06-20 08:56] flipflop22 commented on #7204
What is the recommended buffer size that I can send.
In UDP try to send data over 500 data buffer (char). However in the recv_from function I only get 270 data (The recv_from function return len of 270).
Can this size of buffer be set?

[2018-06-20 09:20] SeppoTakalo commented on #7204
In UDP, each sendto() call sends out one packet.
So your packet must fit into one UDP payload.
If its Ethernet, then 1500 is the MTU. IP header is 20 bytes, UDP header is 8 bytes. Then most probably 1472 bytes can go through.
But when you start to send out packets through internet, RFCs on IPv4 only guarantees that MTU 576 can be assumed to pass on all devices. Therefore safe payload sizes should

[2018-06-20 10:38] adbridge commented on #7254
@kjbracey-arm can this be closed now then ?

[2018-06-20 10:43] kjbracey commented on #6843
There's been a lot of work on Ethernet drivers, including the K64F, in mbed OS 5.9. Could you retest with 5.9.1?

[2018-06-20 10:45] kjbracey commented on #6843
What context are the `TCPSocket::recv` calls being made from - I see no backtrace there. Is this from `main()`?

[2018-06-20 10:51] teetak01 commented on #7254
Verified. Thanks @kjbracey-arm

[2018-06-20 10:51] #7254 closed, assigned to nobody

[2018-06-20 13:45] #7251 closed, assigned to nobody

[2018-06-20 14:03] #7188 closed, assigned to nobody

[2018-06-20 14:07] LMESTM commented on #7222
@0xc0170 I think this issue is reproduced on DISCO_F413ZH and is blocking @janjongboom

[2018-06-20 14:40] theotherjimmy commented on #7155
@toyowata That's a good guess, but I was under the impression that GNU MCU Eclipse could handle the extra long paths without issues.

[2018-06-20 14:41] theotherjimmy commented on #7155
Also, you'll notice that the error is different in this issue than in #7129

[2018-06-20 15:06] jeromecoutant commented on #7203
Hi

Any update ? Di you try V2J31M21 FW version ?

Thx

[2018-06-20 15:19] marcuschangarm commented on #7219
Oh, in that case these lines should be moved out of the way:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/serial_api.c#L1474-L1481

Unfortunately, the NRF52 hardware maps poorly to the Mbed HAL API. The UARTE requires buffers of at least 5 bytes and without double-buffering the DMA we lose data on switching.

I've been testing firmware downloads ov

[2018-06-20 17:07] AGlass0fMilk opened #7278 "nRF52832 SPI Driver Failure"
### Description

Toolchain: GCC ARM
Target: nRF52832 (custom board)

I recently synced my fork to mbed-os 5.9. I was previously at this commit hash:
16ece66f950facea0cc06047794afdd0eab39372

Now when I run the same code, I get the following error related to the nRF SPI driver:
[code]
Just to make sure it wasn't my code, I checked out my fork prior to the sync and recompiled everything. No issue. N

[2018-06-20 17:14] SenRamakri commented on #7278
@AGlass0fMilk - Are you running release build? If not you must have gotten more terminal output. If you are running release build, it may be useful to run in develop/debug profile to capture more info on this error.

[2018-06-20 17:17] AGlass0fMilk commented on #7278
@SenRamakri I am running with the debug profile. Are there any additional debug flag options I can enable?

[2018-06-20 17:22] SenRamakri commented on #7278
@AGlass0fMilk - Ok, Thanks for confirming. Is the statement "nrf failure at /home/gdbeckstein/HeadsUp/hud-devices/mbed-os/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET..." coming out in terminal or something you added to the description above? If that's part of terminal output its working as expected.

[2018-06-20 17:27] AGlass0fMilk commented on #7278
@SenRamakri The error message in the code block is verbatim from the debug UART terminal. What is working as expected? Error reporting?

[2018-06-20 17:37] SenRamakri commented on #7278
@AGlass0fMilk - Partly error reporting and to identify where the actual problem is. Looks like reporting is working as expected providing you enough info on the error scenario.

[2018-06-20 18:00] maclobdell commented on #7213
@cedrickkukela-cd  - can you confirm the test name you are trying to run?

There is a blog post about running network socket tests.  Be sure to pass in a test config file which specifies the interface you are using?  Does this help?  https://os.mbed.com/blog/entry/Verify-a-Network-Driver-Greentea/

For details, see Testing section of https://os.mbed.com/docs/v5.8/reference/contributing-connectivit

[2018-06-20 18:12] AGlass0fMilk opened #7279 "Allow compile time configuration of Nordic BLE parameters"
I recently encountered an issue where custom BLE services were failing to be added to my device. I stepped through and found that there is a preallocated table of a fixed size set by the macro `NRF_SDH_BLE_VS_UUID_COUNT` which is populated by the mbed_lib.json file depending on what soft device you use.

From my understanding of the mbed compile-time system, there is no way to override these curre

[2018-06-20 18:37] marcuschangarm commented on #7278
@AGlass0fMilk Did you mean 5.9 or 5.9.1? The commit you mentioned working is between the two releases.

[2018-06-20 19:11] AGlass0fMilk commented on #7278
I periodically pull to the most recent commit on master. I thought I was updating to 5.9 but maybe the blog post announcing 5.9 came a bit after when I synced with that commit. So I must've meant 5.9.1

[2018-06-20 19:52] ciarmcom commented on #7279
ARM Internal Ref: MBOTRIAGE-826

[2018-06-20 19:52] ciarmcom commented on #7278
ARM Internal Ref: MBOTRIAGE-827

[2018-06-20 22:15] marcuschangarm commented on #7278
@AGlass0fMilk

I think I found the problem. Can you give this a spin please? https://github.com/ARMmbed/mbed-os/pull/7280

[2018-06-20 22:31] marcuschangarm commented on #7138
Are you using the ADC in your test application?

It looks like you are requesting and ADC pin that is outside the map: https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/TARGET_MCU_NRF52832/PeripheralPins.c#L55-L65
*[Mirrored to Jira]*

[2018-06-20 23:31] Alex-EEE opened #7281 "Project file exported to IAR does not enable multi threaded c lib"
mbed os 5.8.6

When exporting to IAR, the project IS NOT configured to use the multithreaded C / C++ lib!!

Exporter should enable that option.

    [] Question
    [ ] Enhancement
    [ X ] Bug

[2018-06-20 23:52] ciarmcom commented on #7281
ARM Internal Ref: MBOTRIAGE-830

[2018-06-21 02:24] flipflop22 commented on #7204
That means 4.4 Mbps throughput considering UDP rate 1 kHz

The remote end MTU I set to be 500. However I still get 270 bytes at the receiver.

`udpsocket.sendto(remote_address, buffer, strlen(buffer))`

This give me return of 500.

Is 6LoWPAN performance better than WiFi for 20 bytes payload?

[2018-06-21 02:29] AGlass0fMilk opened #7282 "STM32L4+ Support Roadmap?"
### Description
I am looking at using the STM32L4+ series of chips and was going to buy the  NUCLEO-L4R5ZI development kit to get started. I noticed mbed does not yet support STM32L4+ chips. Is there any roadmap of when mbed will support these platforms? Or would it be simple to adapt from existing ports?

### Issue request type

[ X ] Question
[ ] Enhancement
[ ] Bug

[2018-06-21 03:44] leibin2014 commented on #7250
So where the max heap size is set? Should be some code similar as below in startup_stm32XB.S to set the heap size? But I can't find it in the startup file. Or there should be somewhere tell the libc about heap size. As expect it should be in the pre_main() function. But for GCC I can't find it in pre_main(). I'm using the GCC(GNU) toolchain.
[code]

[2018-06-21 03:52] ciarmcom commented on #7282
ARM Internal Ref: MBOTRIAGE-833

[2018-06-21 04:56] janjongboom commented on #7235
@cmonr This cannot be closed. The issue is still persistent with mbed-os-example-wifi, see the PR.

[2018-06-21 06:44] 0xc0170 commented on #7282
@ARMmbed/team-st-mcd Please review

[2018-06-21 06:51] 0xc0170 commented on #7281
Hi @Alex-EEE ,

`threaded_lib` is defined in the linker options (same effect as the IDE selection)

Taken from IAR release notes for 7.70

[code]

[2018-06-21 06:52] 0xc0170 commented on #7281
From the linker extra options:

[code]

I'll close this issue as resolved. I verified it locally and checked the flags.

[2018-06-21 06:53] #7281 closed, assigned to nobody

[2018-06-21 07:06] tpet93 opened #7285 "LoRaWAN "Tx Timeout" does not trigger Error Event"
### Steps to Replicate
Using the Lorawan Example Project.
https://github.com/ARMmbed/mbed-os-example-lorawan.

To Replicate: disable the SPI after a successful TX.

ie. GPIOA->MODER &= ~(0b11 <<(7*2)); //setting the MOSI pin (PA_7) to GPIO_MODE_ANALOG
During sleep between TX.

target used DISCO_L072CZ_LRWAN1
Class A
AU915

### Description

When the Stack attempts a second TX with an inoperable SPI

[2018-06-21 07:13] SeppoTakalo commented on #7204
I don't understand this. MTU is a option of the network interface. At least in Mbed OS, you cannot set that. It other operating systems you most probably can.

But if the UDP works, as it is supposed to, you get what you send. So how much data did you send with single `socket.sendto()` call? And was it Mbed OS 5 device that was sending?

No. 6LoWPAN works over IEEE 802.15.4 networks which are low

[2018-06-21 07:13] LMESTM commented on #7235
@cmonr @janjongboom @0xc0170 please feel free to re-open. But as far as I could debug, this is not anymore in ST driver, and this is also reproduced on other devices (#7222), so please consider assigning someone from mbed-os core to have a look

[2018-06-21 07:36] flipflop22 commented on #7204
Sorry I mean is the buffer to send and to receive

MBED OS 5 is the one to transmit, MBED OS 3 is the one to receive.

[2018-06-21 07:46] 0xc0170 commented on #7235
Github closed it automatically, reopening this

[2018-06-21 07:47] kjbracey commented on #7219
Yes, I can see you're working against the grain here :(  I'm convinced you need >1 DMA buffer to keep up, but not quite sure why you'd need a full-blown FIFO on top - particular one that is "burst-sized". 2 or 3 rotating DMA buffers of the order of 8-16 bytes should be fine.

It may be worth rechecking with the unwanted tx spin removed. The RxIrq handler may now have time to empty the FIFO promptl

[2018-06-21 07:52] ciarmcom commented on #7285
ARM Internal Ref: MBOTRIAGE-836

[2018-06-21 07:58] jarvte commented on #7256
There is no ATParser.cpp file anymore in mbed-os. Renaming of ATParser.cpp to ATCmdParser was done in May 2017. ATCmdParser in mbed-os 5.9.1 does not declare MIN.
Could you please clarify the issue?

[2018-06-21 08:02] teetak01 commented on #7256
It is possible one of the drivers inside easy-connect is still pulling in some old seperate implementation of ATParser.cpp

[2018-06-21 08:15] 0xc0170 commented on #7250
See https://os.mbed.com/docs/latest/reference/memory.html

Heap size is dynamic, limit is how much RAM is left (not yet true for IAR, as you are working with GCC - it is there).

You can also review `_sbrk` implementation we have in `mbed_retarget` file. It might answer the question about heap limit

[2018-06-21 08:20] bcostm commented on #7282
Hi,

These devices are not planned to be done by ST team for the moment.

If someone wants to do the porting, you can refer to this wiki page https://os.mbed.com/teams/ST/wiki/steps-to-create-a-new-STM32-platform

For the PeripheralPins.c file creation, you can use `mbed-os\tools\targets\STM32_gen_PeripheralPins.py` python tool (but you have to install ST CubeMx software first).

We'll review the

[2018-06-21 09:17] SeppoTakalo commented on #7204
I cannot guarantee whether there are bugs in Mbed OS 3 socket APIs, I can guarantee only Mbed OS 5, which I'm maintaining and testing.

sendto(500) should lead to recvfrom() returning packet sized 500 bytes. If something else, it is a bug.

[2018-06-21 09:19] 0xc0170 commented on #7256
Seems like this is not an issue for Mbed OS but rather a component?

[2018-06-21 09:45] jarvte commented on #7256
@0xc0170 I agree, nothing to fix in mbed-os

[2018-06-21 09:45] 0xc0170 commented on #7236
Moved to https://github.com/ARMmbed/mbed-os-5-docs/issues/604.

I'll close this one.

[2018-06-21 09:45] #7236 closed, assigned to nobody

[2018-06-21 10:10] leibin2014 commented on #7250
@0xc0170
According you suggestion, I did more debugging. I call `malloc(2048)` four times. But the first calling `malloc(2048)` will call __real__malloc_r() and then call _sbrk(2048) **twice**. This is why this calling consume almost the 5696 bytes of heap size. But other three callings of `malloc(2048)` just call _sbrk(2048) once. Is it reasonable that the first calling of malloc() call _sbrk() t

[2018-06-21 10:23] mikaleppanen commented on #7137
Made a pull request to increase the heap on IAR. https://github.com/ARMmbed/mbed-os/pull/7289

@asifrizwanubx We are seeing an increase on heap usage on Odin wlan driver during initialization from 5.8 to 5.9. Are e.g. the thread stack sizes allocated by driver optimized?

[2018-06-21 10:36] teetak01 commented on #7256
The file is actually inside wifi-ism43362, I will close this.

[2018-06-21 10:36] #7256 closed, assigned to nobody

[2018-06-21 10:57] #6861 closed, assigned to nobody

[2018-06-21 12:09] jeromecoutant opened #7292 "RFC_864_pattern is not correct with xinetd TCP server"
### Description

I set up a local TCP server in order to execute netsocket tests.

I am using xinetd, and configured services as recommened:

discard     stream  tcp6    nowait  root    internal
discard     dgram   udp6    wait    root    internal
echo        stream  tcp6    nowait  root    internal
echo        dgram   udp6    wait    root    internal
chargen     stream  tcp6    nowait  root    in

[2018-06-21 12:28] jeromecoutant opened #7293 "Call greentea_metrics_report even in case of TIMEOUT"
### Description

At the end of each greentea test, some information are sent to the console.
https://github.com/ARMmbed/mbed-os/blob/443e37b00c6882756bdeecfd41f45cdd2efaf872/features/frameworks/greentea-client/source/greentea_metrics.cpp#L61

This is good, but only available with OK or FAIL status, not with the TIMEOUT.

Do you think it is possible to get the same console information even after ti

[2018-06-21 14:48] marcuschangarm commented on #7219
That should work. I was pressed on time and and the atomic FIFO in the SDK made it easier than juggling a couple of DMA buffers.

I would be surprised. There isn't any Tx traffic once the download starts.

[2018-06-21 15:51] Alex-EEE commented on #7281
Awesome, thanks for the quick response!

[2018-06-21 15:55] marcuschangarm commented on #7219
@AriParkkila

In case you haven't seen it: https://github.com/ARMmbed/mbed-os/issues/7069

[2018-06-21 17:14] AGlass0fMilk commented on #7282
Thanks, @bcostm. That answers my question.

[2018-06-21 17:14] #7282 closed, assigned to nobody

[2018-06-21 17:21] AGlass0fMilk commented on #7279
Seems to have been taken care of by PR #6860 👍 💯
I was late to the party 🎉

[2018-06-21 17:21] #7279 closed, assigned to nobody

[2018-06-21 17:40] AGlass0fMilk commented on #7278
@marcuschangarm I just synced with master. The crash issue is gone.

[2018-06-21 17:54] AGlass0fMilk commented on #7278
Scratch the slowdown issue for now. This has been resolved by PR #7280.

Thanks @marcuschangarm !

[2018-06-21 17:54] #7278 closed, assigned to nobody

[2018-06-21 19:33] AGlass0fMilk opened #7297 "nRF52 BLE VS UUID Crash"
### Description
I recently synced my mbed-os fork and now I am experiencing a crash associated with BLE initialization.
My BLE profile requires me to exceed the default vendor-specific UUID limit of 4. Before I updated, this limit was set by a macro in the TARGET_NORDIC/TARGET_NRF5x/TARGET_SDK_14_2/TARGET_SOFTDEVICE_S132/mbed_lib.json file.

Now the system has been changed to be overwritable by a

[2018-06-22 00:52] andrewleech commented on #7297
So I presume you'll now be setting `nordic-ble.uuid_table_max_entries` in your `mbed_app.json`?

When you changed NRF_SDH_BLE_GATTS_ATTR_TAB_SIZE , did you do so via the `nordic-ble.gatt_attr_tab_size` setting? I would expect that to need increasing if you're using more UUID's, depending on how many services / characteristics you're using.
If you increase this though you will also likely need to i

[2018-06-22 01:12] AGlass0fMilk commented on #7297
Crashing was occuring when nordic-ble.uuid_table_max_entries was set to 8 and the NRF_SDH_BLE_GATTS_ATTR_TAB_SIZE was set to the default of 0x600. I then tried increasing the gatt attribute table size to 0x800. Then I started getting a fatal crash that seemed to be due to main stack corruption.

I figured this was due to the soft device using more RAM than previously so I adjusted the allocation i

[2018-06-22 01:32] andrewleech opened #7300 "NRF52 BLE persistent bonding"
### Description
I'm using NRF52 on recent master (currently from 94a06cef) with the new SecurityManager:
https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/reference/api/connectivity/bluetooth/SecurityManager.md

Thanks so much, it's fantastically easy to use the get secure le pairing working, far easier than trying to find (non-existent?) nordic docs/examples on how to achieve the sa

[2018-06-22 03:15] flipflop22 commented on #7204
I have been trying to use TCP. After it is connected, then it sends 550 bytes of data. However the second time it sends data there is always been error -3005.
what does this means NSAPI_ERROR_NO_SOCKET for TCPserver? Does this mean the remote socket is not available?

can I just reaccepting connection? (at the remote socket I reconnecting)

[2018-06-22 03:22] flipflop22 commented on #7204
Also, it can be a problem since my data package is only 20 Bytes. If it stacks the data as it likes, difficult to identify particular data. For example, I try to send a stream of 540 bytes (27 packages) . It will receive the first 500 then 36 then 4 bytes. I only send one stream. if I send multiple stream it will be difficult to identify as some packs of a stream stacked together with the next str

[2018-06-22 03:32] leibin2014 commented on #7250
@0xc0170
I have got more clear picture about this problem.

Firstly, the malloc() and _sbrk() are not one to one. For example, when we call malloc(2) firstly, then _sbrk(32) and _sbrk(2656) will be called. The next calling of malloc(xxx) depends on the size xxx wanted to allocate. If the size xxx is much less than 2656, then _sbrk() won't be called after the calling of malloc(xxx). If the size is

[2018-06-22 04:01] leibin2014 opened #7301 "Redefined macros"
### Description
Dear experts,
There are two header files mbed_rtx_conf.h and RTX_Config.h with a lot of duplicated defines such as `OS_STACK_SIZE`, `MBED_CONF_APP_THREAD_STACK_SIZE`. And different values defined for the same macro in different files. Even if there is some `#ifndef` checking before `#define`, we still can see a lot of compile warnings when we compile the code.

Further more, since

[2018-06-22 07:52] ciarmcom commented on #7301
ARM Internal Ref: MBOTRIAGE-856

[2018-06-22 08:24] pan- commented on #7300
Hi @andrewleech

Unfortunately writing in the flash while BLE is on was out of the scope for the release; it is a complex process as when the flash is written; it blocks the radio and can cause disconnections.

As a workaround maybe you could write your own block device that backup content to the flash whenever there is no connection left. In our tests we use a Heap block device of 4K with little-

[2018-06-22 09:02] 0xc0170 commented on #7301
No, because:

RTX_Config provides default values that are set inside RTX. In case a user do not set those, use default. This file is provided with RTX. Do not change this file!

mbed_rtx_conf.h - user settings - in this case it's Mbed OS configuration for RTX.

I would like to know what warnings are you getting? Can you paste them here, they should be fixed.

[2018-06-22 09:48] pingdan32 commented on #7300
Precisely, I am currently using BLE at the same time need to write some data to the flash, so that the device is used when restarting. After testing, it has been found that writing FLASH often fails when there is a BLE connection, or the data read when restarting is incorrect. What should I do to deal with this situation?
*[Mirrored to Jira]*

[2018-06-22 09:50] 0xc0170 commented on #7250
+1 for the analasis. What you are seeing is paging that sbrk does. See this issue https://github.com/ARMmbed/mbed-os/issues/5386. This was reported earlier, and so far no solution.

I would assume this is a duplicate, and we close it favor of 5386 where we link this report as well.

[2018-06-22 09:58] andrewleech commented on #7300
Another project at work got flash writing with ble active, on nrf52 with the previous nrf SDK in mbed. I know they had significant issues, including I think some bugs relating to interrupts. I'll chat to the guys involved with that on Monday for some pointers.
*[Mirrored to Jira]*

[2018-06-22 14:53] marcuschangarm commented on #7300
The FlashIAP implementation should be writing to the flash in collaboration with the SoftDevice and not cause disconnections.

However, the FlashIAP calls can return with a failure error code to indicate the SoftDevice is busy and that the user should retry the operation.

@pingdan32 Do you currently perform a retry when the write operations return a failure error code?

@pan- Have you noticed dis

[2018-06-22 15:20] pan- commented on #7300
@marcuschangarm This was out of scope for this release so it is uncharted territory for us.
*[Mirrored to Jira]*

[2018-06-22 16:17] marcuschangarm commented on #7300
@pan- Thank you for the clarification!
*[Mirrored to Jira]*

[2018-06-22 16:41] marcuschangarm commented on #7278
Awesome! Does that mean this issue is resolved as well? https://github.com/ARMmbed/mbed-os/issues/6623

[2018-06-22 18:52] #7168 closed, assigned to nobody

[2018-06-22 19:20] cmonr commented on #7125
Closing since the referenced PR is now merged :)

[2018-06-22 19:20] #7125 closed, assigned to nobody

[2018-06-22 21:41] drahnr commented on #7138
@marcuschangarm sorry for the long response time, you are correct, `p0` was attempted to be used as `AnalogIn` in this case. Is there a way the error message can be improved without too much overhead? If no, then feel free to close.
*[Mirrored to Jira]*

[2018-06-23 00:38] pingdan32 commented on #7300
@marcuschangarm Yes, I do retry it. However, sometimes there will be the following situations:
step 1,  Ensure that an BLE connection is established as Peripheral role. Connection Event Interval 15~30ms
step 2, Call `set` method and confirm that it has returned NVSTORE_SUCCESS;
step 3, Call `get` method. But it returns NVSTORE_DATA_CORRUPT.
*[Mirrored to Jira]*

[2018-06-23 02:01] pingdan32 commented on #7300
I'm using NVStore component.
*[Mirrored to Jira]*

[2018-06-23 20:40] cederom opened #7306 "Online Compiler and ARM GCC build inconsistency?"
Hello world :-)

I am a bit confused as I can see some inconsistency between Online Compiler and offline ARM GCC [armgcc] builds:
* nRF52 BLE UART examples does not build in Online Compiler and the suggestion is to use Offline Compiler [bleuart].
* Offline Compiler does not seem to be able to build even simplest example
* Below I attach example code with build output errors.

Any hints are welcome

[2018-06-23 20:51] cederom opened #7307 "5.9.1 + nRF52 + BLE does not build"
Hey there,

Is there a problem with nRF52 + BLE implementation in 5.9.1 or I have badly configured environment? It worked for previous releases..

[code]

This Battery Service seems to give build failure even just included and unused:

[code]

My environment:
[code]

[2018-06-23 23:52] ciarmcom commented on #7307
ARM Internal Ref: MBOTRIAGE-881

[2018-06-23 23:52] ciarmcom commented on #7306
ARM Internal Ref: MBOTRIAGE-882

[2018-06-24 09:41] cederom commented on #7306
Update: BLE + UART + nRF52 now builds in Online Compiler, I had to update all internal components/libraries by hand one by one..

Still I am experiencing offline build issues with Queue type and BatteryService..

[2018-06-24 12:24] cederom commented on #7306
Okay, the problem is with my local setup: mbed scans recursively for `*.cpp` files from the top level directory.. and it found some invalid code in `tmp` directory that I have created for garbage.. after removing all `tmp/` problem is gone.. sorry :-)

How can I make `mbed` only search for source files in a given specific directory?

I have this `module.json` top level:
[code]

and this `source.li

[2018-06-24 12:24] cederom commented on #7307
The problem was with my local setup, build also included non-project garbage source files.. sorry :-)

More details here: https://github.com/ARMmbed/mbed-os/issues/7306

[2018-06-24 12:24] #7307 closed, assigned to nobody

[2018-06-25 00:45] tpet93 opened #7308 "Deep_sleep_lock Ticker.h Issue"
### Description
In Ticker.h,  **Ticker::attach_us(Callback<void()> func, us_timestamp_t t)** is defined and not just declared.
This causes an issue with the line 119   **sleep_manager_lock_deep_sleep();**

The deep sleep manager tracks sleep locks using the file name.
the deep sleep lock is placed in "Ticker.h" and removed in "Ticker.cpp"
(line 30)
this causes the sleep manager lock counter to los

[2018-06-25 04:22] flipflop22 opened #7310 "Network Status API not working with WiFi Interface"
### Description

My setup:
-EVK-ODIN-W2
-GCC ARM Embedded Toolchain
-MBED-CLI

Refer to
https://os.mbed.com/docs/v5.9/reference/network-status.html

In the example it use Ethernet Interface. I try to use WiFi but I don't find it is working as it prints nothing.
I would like to know if it is indeed still not supported in WiFi interface.

Regards

### Issue request type

[X] Question
[ ] Enhancement

[2018-06-25 04:43] asifrizwanubx commented on #7204
I can't use MBED OS 5 because the ublox odin-w2 target's WiFi stacks doesn't support Access Point curently.

WiFi AP feature will be target in the next ODIN-W2 Mbed OS 5 releases.

[2018-06-25 06:14] leibin2014 commented on #7301
@0xc0170 The log includes warnings as below:

[code]

[2018-06-25 06:26] leibin2014 commented on #7250
@0xc0170 OK, let me close it. Thanks for all above support!

[2018-06-25 06:26] #7250 closed, assigned to nobody

[2018-06-25 06:59] Arjun765 opened #7312 "mbed should be compilable with "-Werror""
I would like to use "-Werror" for my own code but there are too many errors (34617 to be exact) inside mbed. I unfortunately haven't found a way to make GCC ignore errors from files in a given directory.

i would like to use the following flags in my code.

[code]

[2018-06-25 07:15] 0xc0170 commented on #7308
Thank you for reporting and also providing a solution, we will review soon
*[Mirrored to Jira]*

[2018-06-25 07:21] 0xc0170 commented on #7306
Use this https://docs.mbed.com/docs/mbedmicro-api/en/latest/ignoring_files_from_build/ to ignore folders/files

[2018-06-25 07:40] asifrizwanubx commented on #7137
@mikaleppanen there is no change/update in drivers related to thread stack sizes.

[2018-06-25 07:48] asifrizwanubx commented on #7137
But there are changes related to memory allocation, static memory allocation mostly changed in drivers. @mikaleppanen

[2018-06-25 07:52] ciarmcom commented on #7312
ARM Internal Ref: MBOTRIAGE-902

[2018-06-25 07:52] DBS06 opened #7314 "Fatal error with mbed-os 5.9.1"
### Description

toolchain: GNU Tools for ARM Embedded Processors 6-2017-q2-update
mbed-cli: version 1.7.3
mbed-os: 5.9.1

I want to update to mbed-os version 5.9.1 from 5.8.6 and I get this weird error when I build with `mbed compile`:
[code]

But `nvstore.h` and `nvstore.cpp` are existing. I don't have any clue why this fails, can anyone help?

### Issue request type
[ ] Question
[ ] Enhancement

[2018-06-25 08:11] Eman869 opened #7315 "Requires a method to configure LPUART clock source manually in STM32L4 family."
### Description
  Currently in STM32L4 family, LPUART clock source is determined by baud rate. If baud rate is equal or lower than 9600, clock source is set as LSE, otherwise it is PCLK. It would be more flexible that the clock source is selected by user manually.

### Issue request type
[ ] Question
[X] Enhancement
[ ] Bug

[2018-06-25 08:33] 0xc0170 commented on #7314
`Users\phst\Documents\_PROJECTS\C22477_EVVA_EMZY3_VM\_REPOS\ng-master-app` - one thing I would test - shorten paths. move the app closer to root, and retry

[2018-06-25 08:35] 0xc0170 commented on #7315
@ARMmbed/team-st-mcd Please review

[2018-06-25 09:13] bcostm commented on #7315
Hi

Thanks for the suggestion. I'll send a PR soon...

[2018-06-25 09:19] jeromecoutant opened #7316 "Issue with clock speed for STM32 16 bits targets"
### Description

Since #7106, some RTC tests are now FAILED with targets supporting only 16 bits systick timer.

tests-mbed_hal-rtc           | RTC - persist                                                   | 0      | 1      | FAIL    | 8.08

First analysis:
During test, the "wait(4)" is expiring after 8 seconds

Currently, we don't understand the impact of this #7106 ,
but maybe the wait functio

[2018-06-25 09:23] DBS06 commented on #7314
@0xc0170 Moved the app to `C:\`, but it does not change anything, still got the same error message  😟

[2018-06-25 09:23] 0xc0170 commented on #7312
There has been similar report that was closed due to inactivity : https://github.com/ARMmbed/mbed-os/issues/2639. And few other reports for more specific warnings.
Some were fixed already. The only way to ignore that I know of is to use pragma in the file that is causing the warning

Werror would be nice to achieve. There has been recently few warnings report that were addressed. Still long way to

[2018-06-25 09:27] 0xc0170 commented on #7314
OK paste the command you are invoking, we will try to reproduce locally. If you look at some PR that had CI run, haven't noticed there any error with nvstore  header file.

[2018-06-25 09:29] TomoYamanaka commented on #7155
@toyowata @theotherjimmy

I verified Export by following two patterns.
<br><br>
**By Online Compiler**
As shown the above, I faced the "No such file or directory" error when building the exported program.
Since the corresponding files(Following 5 passes) look like **unnecessary include**, I set them outside of build target on e2studio as a trial.
[code]
As the result of it, the following build err

[2018-06-25 09:31] 0xc0170 commented on #7306
And I assume the question above is answered and this issue can be closed , or?

[2018-06-25 09:32] Eman869 opened #7317 "Requires to configure system clock after back from stop mode manually in STM32L4 family"
### Description
Currently, MSI is the default system clock after system wake up from stop mode. To wake up system from peripherals like LPUART, I2C, and SWPMI, HSI should be selected. A method to configure HSI as system clock after system wake up from stop mode is required.

### Issue request type
[ ] Question
[X] Enhancement
[ ] Bug

[2018-06-25 09:39] 0xc0170 commented on #7317
@ARMmbed/team-st-mcd Please review
*[Mirrored to Jira]*

[2018-06-25 09:53] 0xc0170 commented on #7301
`mbed compile -m DISCO_L496AG -t GCC_ARM`

(you did not post the command to reproduce, I can see L4 STM32 device there so using it to reproduce - I noticed later nucleo target in the log :) ).

[code]

No warning from cmsis_os1.c as you can see.  I checked the includes, they look fine. Mbed OS config for RTX header file should get included inside the default values so no redefinition should be pre

[2018-06-25 10:37] DBS06 commented on #7314
@0xc0170 Ok found the problem after looking in the git log, someone wrote inside the `.mbedignore`:
[code]

So thank you anyway!

[2018-06-25 10:37] #7314 closed, assigned to nobody

[2018-06-25 10:43] SeppoTakalo commented on #7310
I can confirm that Ublox EVK ODIN W2 or Realtek RTL8195 does not produce link status callbacks when in WiFi.

Ublox produces link status callbacks when used with Ethernet.

[2018-06-25 11:52] ciarmcom commented on #7316
ARM Internal Ref: MBOTRIAGE-907

[2018-06-25 11:52] ciarmcom commented on #7315
ARM Internal Ref: MBOTRIAGE-908

[2018-06-25 12:10] cederom commented on #7306
Thank you @0xc0170, that does the job :-) I thought mbed will only build sources from the configuration locations list, but the logic is opposite here I need to specify which files not to build.. thank you! :-)

[2018-06-25 12:10] #7306 closed, assigned to nobody

[2018-06-25 12:21] bcostm commented on #7317
The comment in this file says:
[code]

Yes the MSI is configured first but then the HSI is reconfigured again. Why this current implementation is not correct in your case ?

*[Mirrored to Jira]*

[2018-06-25 15:27] marcuschangarm commented on #7300
I think the retry mechanism in NVStore and NRF52 FlashIAP are incompatible. If you have time, can you insert a debug statement here please? https://github.com/ARMmbed/mbed-os/blob/master/features/nvstore/source/nvstore.cpp#L191

I suspect FlashIAP encounters an error halfway through a write, then NVStore retries the same full write again, which corrupts the flash since you are not supposed to writ

[2018-06-25 15:33] marcuschangarm commented on #7138
I agree, the error message is misleading.

@bulislaw @0xc0170

I think the current error message should be changed to something like: "Provided pin %d not found in pinmap." and then there should be a separate check on whether the PinMap pointer is `NULL`.

https://github.com/ARMmbed/mbed-os/blob/master/hal/mbed_pinmap_common.c#L80-L89

*[Mirrored to Jira]*

[2018-06-25 16:07] theotherjimmy commented on #7155
@TomoYamanaka That's not an "unnecessary include path", that's the include paths from `mbed compile`.

the `--wrap` options are required to link. The problem is that `g++` is being called instead of the linker. That's very odd.

[2018-06-25 16:39] mtfurlan commented on #6920
I only see this on debug builds with  `7-2017-q4-major 7.2.1 20170904`, works fine with `6-2017-q2-update 6.3.1 20170620`

[2018-06-25 17:17] c1728p9 opened #7319 "I2C byte operations broken on the K64F"
### Description

When using byte I2C operations (`i2c_byte_read`, `i2c_byte_write`) on the K64F the device eventually locks up. Attached is an [example main file](https://github.com/ARMmbed/mbed-os/files/2134033/example.zip) which reproduces the problem by communicating wth the I2C accelerometer `MMA7660`. This failure was reproduced on the tip of master which was 8e170ccbd1e22e5545e960061b9dc3497

[2018-06-25 17:18] c1728p9 commented on #7319
CC @ansondtx20 @dreemkiller @mmahadevan108
*[Mirrored to Jira]*

[2018-06-25 22:50] RobMeades opened #7321 "Retaining a heap margin"
### Description

I have an application in which I would like to dynamically allocate memory while ensuring that there is some dynamic memory free for one critical operation.  To do this I have added heap stats to my build with `MBED_HEAP_STATS_ENABLED=1`, then I call `mbed_stats_heap_get()` and check that `reserved_size - current_size` is greater than my desired margin.

However, I find that `mall

[2018-06-25 23:52] ciarmcom commented on #7321
ARM Internal Ref: MBOTRIAGE-917

[2018-06-26 02:53] pingdan32 commented on #7300
I insert a debug statement as following:
[code]

and my code is as following ( Ensure that an BLE connection is established as Peripheral role):

[code]

but the log is as following:

[code]

*[Mirrored to Jira]*

[2018-06-26 03:31] leibin2014 commented on #7301
@0xc0170
My target is TARGET_NUCLEO_L486RG. And the warnings are reproduce when compile `**rtx_evr.c**` but not `cmsis_os1.c`. I can use below simple command to reproduce the warnings. I think you can also use it to reproduce(just change the g++ path and the mbed root path from `C:/Users/bin.lei/git/github/mesh-embedded-rtos/hal/mbed-hal` to your real path).

```C:/MeshEmbedded-0.0.9/tools/toolcha

[2018-06-26 03:40] leibin2014 commented on #7301
The full output log of above command:

[code]

[2018-06-26 03:56] leibin2014 commented on #7301
As we can see both `mbed_rtx_conf.h`(included in `rtx_evr.h`) and `RTX_Config.h(included in 'RTE_Components.h')` are include in rtx_evr.c. `OS_STACK_SIZE` is defined in both header files. `RTX_Config.h` is included before `mbed_rtx_conf.h`, and there is no `#ifndef OS_STACK_SIZE` checking in `mbed_rtx_conf.h`, then the redefined warning asserts. Maybe swapping the order of `#include "rtx_evr.h" `

[2018-06-26 06:29] simonnilsson commented on #6840
Found another problem in _equeue_sema_wait_ in **equeue_mbed.cpp** if RTOS not present the ms argument is passed as a signed integer and then multiplied by 1000. This causes an overflow in some cases!

Changing this:
[code]

to this

[code]
Solves the problem for me, but it is still handled as a integer outside this function so might be other issues with this.

[2018-06-26 07:11] flipflop22 commented on #7310
@SeppoTakalo Thanks for clarifying. In the meantime I will close this issue

Dear @asifrizwanubx, any comment? . Will it be supported as well in the next MBED OS release?

[2018-06-26 07:18] flipflop22 commented on #7204
in TCP the reliable payload is 536 bytes.
I implement with sigio and the speed is slow at around 200ms between successful sending or in otherwords the throughput around 21.4 Kbps.
@asifrizwanubx the datasheet of ublox  ODIN-W2 shows the WiFi throughput of 20 Mbps. Can you tell how to get this rate?

[2018-06-26 07:41] jeromecoutant commented on #6840
Hi @c1728p9 @bulislaw
Please, check comment from @simonnilsson

[2018-06-26 07:44] SeppoTakalo commented on #7310
Wait..
I did not say that this should be closed. This is a valid bug that needs fixing on all of the drivers.

Ethernet is working, so WiFi drivers should be made to work as well.

Status callbacks should be implemented on external WiFi drivers as we.. ESP was done here https://github.com/ARMmbed/esp8266-driver/pull/71

[2018-06-26 07:52] SeppoTakalo commented on #7204
In UDP the reliable payload is 536, unless Path MTU discovery is used, or Ethernet frame can be assumed all the way.

In TCP there is no such thing as the TCP stack is taking care of segmenting the transfer.

[2018-06-26 08:36] asifrizwanubx commented on #7310
@SeppoTakalo  are these bugs are same? #6562 and #7310. it seems me they are same. I want to clarify it before creating a internal reference.

[2018-06-26 09:02] bcostm commented on #7315
@Eman869 can you please check if this PR solves your issue ? Thanks.

[2018-06-26 09:03] mattbrown015 commented on #7312
After updating to 5.9.0 I noticed a few warnings appeared in my build using the _normal_ develop profile; I thought this was a bit poor.  I've got quite a lot of files listed in `.mbedignore` so there may well be more than a few warnings.

I was wondering whether to open an issue, open 3 issues or just do nothing.  Up until I saw this issue I was doing nothing and hoping someone else, i.e. the ori

[2018-06-26 09:19] jeromecoutant opened #7328 "lp_timeout test in TICKLESS mode"
### Description

Hi

In TICKLESS mode, I got 2 questions in TESTS/mbed_drivers/timeout/timeout_tests.h

- is direct call to sleep() function still allowed ?

- there are some wait_ms() call function to allow hardware serial buffers to completely flush.
But maybe these call should be protected by sleep_manager_lock_deep_sleep() ?

Thx

### Issue request type

[x] Question
[ ] Enhancement
[ ] Bug

[2018-06-26 09:20] flipflop22 commented on #7204
Rite. What I meant was the maximum size of one segment (for stable communication) I found to be 536 (WiFi Station: MBED OS 5, WiFi AP: MBED OS 3). So if I send more than 536 TCP stack it will segment the data.
setNagle = false

Can I do it with MBED API?

[2018-06-26 10:53] ManDeJan commented on #7312
With GCC you can use
[`#pragma GCC system_header`](https://gcc.gnu.org/onlinedocs/cpp/System-Headers.html)
to silence warnings in a header, you could write a header that wraps mbed.h like so:
[code]
I know this is not a solution for mbed, but at least you can use `-Werror` in your own code.
Hope this helps :)

[2018-06-26 11:42] SeppoTakalo commented on #7321
I have studied this a bit and I'm certain that malloc() stats do not report real values.

Basically the problem is that malloc() internally requires small structures on before, and after, the allocated block for house keeping. This extra is not counted in into those stats, because each compiler has separate malloc() implementation, so it is not portable.

Basically, to see the effect, you could mo

[2018-06-26 11:46] RobMeades commented on #7321
Ah, that makes sense.  I suppose that what I could do for my purposes is just try `malloc()`ating an array of the size that is my heap margin.  If it fails I know that I'm at the margin, if it succeeds I free it again.  This would definitely be portable, at least.

[2018-06-26 11:51] ciarmcom commented on #7328
ARM Internal Ref: MBOTRIAGE-924

[2018-06-26 12:43] drahnr opened #7334 "Runtime Mode change of PIN"
### Description
I have a set of pins which are re=used depending on the operation mode (SPI, I2C, GPIO IRQ, ADC, DigitalOut).

What is the desired way of doing this in mbed os?

If I utilize a PIN as `DigitalOut`, which de-allocates with a scope and afterwards allocate again with `DigitalIn`.
What is the state while it is not allocated? Is it going back to the default state (and where is that defi

[2018-06-26 13:17] SeppoTakalo commented on #7310
Yes.
These are duplicate.

This one is more clear, so if we need only one reference, keep this open.

[2018-06-26 13:27] bcostm commented on #7316
I made this trial:

I have replaced this:
[code]

with this:
[code]

And all RTC tests are PASS again on NUCLEO_F103RB (use a 16-bit timer).

Unfortunately we can't do this as the HAL_GetTick function is called in the ST HAL driver for calculating timeouts. The main thing is that I don't understand what happens in here ?...

[2018-06-26 13:42] dannybenor commented on #7091
Please do not merge
*[Mirrored to Jira]*

[2018-06-26 14:42] 0xc0170 opened #7337 "Travis: wget from sourceforge failing for AStyle"
### Description

Tracking issue for current Travis failures, all PR from today are affected. The sourceforge seems to be unstable today, returning errors like connection closed, ssl fails etc.

Should fix here #7327  (exploring how to address this one)

cc @ARMmbed/mbed-os-maintainers

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-06-26 14:56] jeromecoutant commented on #7328
Another question in sleep_lock driver test:
is it relevant to check this deepsleep lock status in TICKLESS mode as it seems that systimer is constantly called ?

[2018-06-26 15:19] marcuschangarm commented on #7300
Thank you for the trace! It rules out my initial suspicion.

And you can confirm it only happens when BLE is connected and never when it is not?
*[Mirrored to Jira]*

[2018-06-26 15:32] jeromecoutant commented on #7328
It seems that issues appear when LPTICKER_DELAY_TICKS is set...

@bulislaw @c1728p9

[2018-06-26 15:51] ciarmcom commented on #7337
ARM Internal Ref: MBOTRIAGE-927

[2018-06-26 15:51] ciarmcom commented on #7334
ARM Internal Ref: MBOTRIAGE-928

[2018-06-26 16:56] #7321 closed, assigned to nobody

[2018-06-26 18:32] rutgervandenberg opened #7339 "Using a breakpoint with multiple tickers causes ISR queue overflow"
### Description

My program has several threads that need to (aperiodically) consume information from other threads, and periodically perform some task.

In order to implement this these processes consume a Queue to which other threads can post relevant information. A Ticker periodically posts a message to the same Queue to indicate a periodic event.

This works well, except that when I have more

[2018-06-26 19:51] ciarmcom commented on #7339
ARM Internal Ref: MBOTRIAGE-931

[2018-06-26 23:54] kegilbert commented on #7118
Hi  @mirelachirica!

I'm trying to track down one of those boards so I can take a look myself. Thanks for the great issue write up, just had one question in the meantime to help get me started.

When you mentioned

does that mean you grabbed something like the blinky example and wiped out the main file to just be:
[code]

or you cleared out the `main()` function leaving the globally defined consta

[2018-06-27 00:54] pingdan32 commented on #7300
Yes, i sure.
[code]

The log is as following:
[code]
*[Mirrored to Jira]*

[2018-06-27 01:41] c1728p9 commented on #7316
Hi @bcostm I took a more detailed look into this and it appears to be caused by HAL_InitTick resetting the ticker interrupt enable register - specifically TIM4_DIER from 0x2 to 0x0 on the stm32f103. This disables the interrupt that `ticker_read_us` uses to handle overflows. Because of this, any overflows that would normally be counted towards elapsed time are dropped while sleeping. This problem l

[2018-06-27 03:32] flipflop22 commented on #7204
I see at the configuration there is this parameter
[code]

Is this the one to set the buffer size?

[2018-06-27 04:30] pauluap commented on #7339
That's because the timer doesn't halt on a breakpoint by default and keeps firing when you're sitting in a breakpoint.  You'll need to configure the underlying timer to halt when the system is waiting at a breakpoint.

In my STM32F469-DISCOVERY implementation, I use

`TIM_MST_DBGMCU_FREEZE` which expands to
`__HAL_DBGMCU_FREEZE_TIM2()` which expands to
`(DBGMCU->APB1FZ |= (DBGMCU_APB1_FZ_DBG_TIM2_

[2018-06-27 07:48] SeppoTakalo opened #7343 "Heap stats are not reporting true values"
### Description

Heap statistics returned by either [Memory tracing](https://os.mbed.com/docs/v5.9/tutorials/optimizing.html#runtime-memory-tracing) or [Memory statistics](https://os.mbed.com/docs/v5.9/tutorials/optimizing.html#runtime-memory-statistics) report only values reserved by application, without counting into account the overhead added by allocator itself.

This confuses application deve

[2018-06-27 07:49] SeppoTakalo commented on #7321
I reported this behaviour as a bug in https://github.com/ARMmbed/mbed-os/issues/7343

[2018-06-27 07:54] bcostm commented on #7339
If you define the `FREEZE_TIMER_ON_DEBUG` macro (in the mbed_app.json for example) the timer should stop  when a breakpoint is hit (see hal_tick_32b.c file, line 100)

[2018-06-27 07:56] 0xc0170 commented on #7337
Fixed via #7338

[2018-06-27 07:56] #7337 closed, assigned to nobody

[2018-06-27 07:58] 0xc0170 commented on #7334
This is not yet defined, but should be. This will be address by the specs update for all HAL (including those you are using). ctor initializes it for specific functionality, but not all drivers call free (so dtor is empty). Therefore the state is preserved. The answer would be, state changes only on initialization.

@ARMmbed/mbed-os-core Please review

[2018-06-27 08:24] bcostm commented on #7316
Thanks for your analysis and proposals. Unfortunately I have checked all of them but there are always one or more RTC tests which fail... It's maybe because I didn't write it correctly or there are other things.
@jeromecoutant can you please check also ?

[2018-06-27 08:38] stevew817 commented on #7260
@DBS06 It looks like mbed-dev got synced a couple of days ago, and the change made it over. From a developer's perspective, I can mention that we only issue updates against the mbed-os git repository. mbed-dev should be a codebase derived from the latest mbed-os release, but apparently things have been lagging a bit on that front lately.

Issue closed, I think?

[2018-06-27 08:45] stevew817 commented on #7240
No specific reason, other than it was probably an oversight during the porting work. I'll see what I can do to add this functionality.

They look very similar because VDAC is an improved version of DAC. It got renamed to VDAC (voltage-controlled output) since the introduction of the IDAC (current-controlled output) on some devices, to point out the different implementations.
*[Mirrored to Jira]*

[2018-06-27 08:45] 0xc0170 commented on #7260
Not yet, we would like to answer questions above. @adbridge

[2018-06-27 09:03] hasnainvirk commented on #7285
https://github.com/ARMmbed/mbed-os/pull/7344 A PR has been made fixing the issue.

[2018-06-27 10:07] adbridge commented on #7260
Hi @DBS06 to answer your questions:

1. When will mbed-dev be updated to have the same code basis as mbed-os?
2. Is there the intention that mbed-dev has the same code basis as mbed-os (I think but actually I don't know)?
3. How frequent will mbed-dev be updated (seems like ~every month)?

mbed2 releases, so this includes mbed and mbed-dev are derived from mbed-os minus the RTOS. We make mbed2 rel

[2018-06-27 10:41] screamerbg commented on #7137
@mikaleppanen @asifrizwanubx Is the https://github.com/ARMmbed/mbed-os/pull/7289 PR fixing this issue?

[2018-06-27 11:01] amitchone opened #7345 "Rev 4460:03196b2 build fails online"
### Description

mbed platform: MAX32620HSP

Release 4460:03196b2 is failing to build using the online IDE.

Cloning the [mbed-os-example-blinky](https://github.com/ARMmbed/mbed-os-example-blinky) repo and then immediately building now fails with compiler error [230](https://os.mbed.com/cookbook/Compiler-Error--230) when it used to build successfully.

According to this [issue](https://github.com/

[2018-06-27 11:19] mikaleppanen commented on #7137
Yes, tested mbed-os-example-client with the changes and error does now occur anymore.

[2018-06-27 11:22] asifrizwanubx commented on #7137
yes, I have verifed it.

[2018-06-27 11:51] hasnainvirk commented on #7285
@tpet93 There was no need to post process anything there. It was a mistake. However, the issue was a bit more grim than expected. Radio driver was trying to reset the chip which would result in a charade of misfired interrupts causing an ISR queue overflow. In addition to that the timout handling in the upper layers was directed only at MCPS type of data (normal messages) and not the MLME type. Wh

[2018-06-27 11:51] ciarmcom commented on #7345
ARM Internal Ref: MBOTRIAGE-944

[2018-06-27 12:06] drahnr commented on #7334
It would be greate if there would be a `convert_to<DigitalOut>(PinConvertible)` where all the Pin types derive from the `PinConvertiable` base, and depending ton the Pin this works or doesn't (runtime check) (just a quick idea though)

[2018-06-27 12:13] DBS06 opened #7346 "EFM32: Clock Source not changeable over mbed_app.json"
### Description
I tried to change to clock source for target EFM32PG12_STK3402 to internal clock source (HFRCO & LFRCO), but the settings will be ignored or does not change anything.

**mbed_app.json**:
[code]

I found out that in `./mbed-os\targets\TARGET_Silicon_Labs\TARGET_EFM32\common\mbed_overrides.c` `#include "clocking.h"` is missing. By adding the include the problem is resolved.

Could th

[2018-06-27 12:13] 0xc0170 commented on #7346
@ARMmbed/team-silabs Please review

[2018-06-27 12:14] DBS06 commented on #7260
@adbridge Thank you for your answers!

[2018-06-27 12:15] #7260 closed, assigned to nobody

[2018-06-27 12:17] TeroJaasko opened #7347 "Flash memory size reported by "mbed compile" does not take ARMCC's data compression into account."
### Description

Flash memory size reported by "mbed compile" does not take ARMCC's data compression into account.

For example compilation of mbed-os-example-blinky for K64F and ARMCC 5, the output is
[code]

map-file created by ARMCC tells that the flash size is 33116 bytes:
[code]

And actual generated binary is also 33116 bytes:
[code]

Difference is there mostly as the "RW Data" section is be

[2018-06-27 12:32] bcostm commented on #7316
Update: the proposal 3 is working fine (the RTC tests are PASS and the HAL_Delay is OK). So, I'll send a PR with this fix. Thanks again !

[2018-06-27 12:51] bcostm opened #7350 "Add NUCLEO_F103RB board in mbed-ci boards list"
### Description

Today all STM32 boards tested by mbed-ci are using a 32-bit timer (NUCLEO_F207ZG, NUCLEO_F401RE, NUCLEO_F429ZI, NUCLEO_F746ZG). It is necessary to increase the test coverage and to add at least one board using a 16-bit timer.

I propose to add the NUCLEO_F103RB in this list.

cc @jeromecoutant

### Issue request type

[ ] Question
[X] Enhancement
[ ] Bug

[2018-06-27 12:57] 0xc0170 commented on #7350
@ARMmbed/mbed-os-test @screamerbg
*[Mirrored to Jira]*

[2018-06-27 12:59] 0xc0170 commented on #7316
@bcostm @c1728p9  🍾 👍

[2018-06-27 13:56] theotherjimmy commented on #7345
@amitchone I don't know what release 4460:03196b2 means for mbed OS. If that were an Mbed 2 release, it would be many years in the future.

Certainly if the MAX32620HSP is not supported it should not try to compile. I think the error 230 may be unrelated though.

[2018-06-27 14:42] jeromecoutant commented on #7153
For information, tests are still on going.

Waiting for #7328

*[Mirrored to Jira]*

[2018-06-27 14:58] marcuschangarm commented on #7300
Interesting. I'll have to give it some thought.

Thank you for the help!
*[Mirrored to Jira]*

[2018-06-27 15:51] ciarmcom commented on #7346
ARM Internal Ref: MBOTRIAGE-949

[2018-06-27 15:56] studavekar commented on #7350
Internal tracker : IOTMORF-2399
*[Mirrored to Jira]*

[2018-06-27 17:27] yennster commented on #7345
@theotherjimmy The 4460:03196b2 number they are seeing is when you click on the mbed-os library within the online compiler. That number is the "revision number" as shown in the "Library Details" sidebar:

<img width="247" alt="screen shot 2018-06-27 at 12 25 57 pm" src="https://user-images.githubusercontent.com/6963725/41989551-4bf3929c-7a05-11e8-8f8f-8f03b49eb2ed.png">

Also, I talked with @bentc

[2018-06-27 20:03] rutgervandenberg commented on #7339
That seems to have fixed it. Thanks guys!

[2018-06-27 20:03] #7339 closed, assigned to nobody

[2018-06-28 03:30] flipflop22 commented on #7204
@SeppoTakalo If I increase the PBUF_SIZE_BUFSIZE of LwIP, do I have to increase the MEM_SIZE?
and does this impact TCP_MSS size? (since IP frame and Ethernet is fixed)

Note: I have tried increase PBUF_SIZE_BUFSIZE in MBED OS 3, it fails to compiled if BUFSIZE>972 bytes [Error out of memory]. I need to know maximum BUFSIZE for MBED OS 5

[2018-06-28 06:08] Arjun765 commented on #7312
This doesn't work for me. Getting new errors.

[2018-06-28 06:16] Arjun765 opened #7357 "Unable to override faulthandlers since 5.8.0"
[code]

Getting the following error when compiling this code

[code]

[2018-06-28 06:41] drahnr opened #7358 "Handling multiple SPI slaves idiomatically"
### Description
In a multi slave setting, it is not clear how the API is supposed to work, since only one SS line can be passed on at a time.
The only solution I see right now, is handling the slave selection process manually.

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-06-28 07:05] yogpan01 commented on #7223
Hi,
Hope this has resolved your issue, if not please create a new issue with steps. For now, we are closing this issue as resolved.

Regards,
Yogesh

[2018-06-28 07:45] TomoYamanaka commented on #7155
@theotherjimmy

I investigated several points.

**With respect to "No such file or directory" error :**
1. When building mbed-os program by Mbed LCI, this error is not shown.
[code]

2. Also when exporting mbed-os program by Mbed LCI, this error is not shown.
[code]

3. Only when exporting mbed-os program by Online Compiler, this error is shown.
[code]

It seems like there is something issue with

[2018-06-28 07:51] ciarmcom commented on #7358
ARM Internal Ref: MBOTRIAGE-958

[2018-06-28 07:51] ciarmcom commented on #7357
ARM Internal Ref: MBOTRIAGE-959

[2018-06-28 08:11] 0xc0170 commented on #7357
This is because the introduction of new crash dump https://os.mbed.com/docs/v5.8/tutorials/analyzing-mbed-os-crash-dump.html

You can disable this with `MBED_FAULT_HANDLER_DISABLED` (if you look at except file, it is protected with this macro).

cc @SenRamakri

[2018-06-28 08:33] #7357 closed, assigned to nobody

[2018-06-28 08:40] 0xc0170 commented on #7345
@amitchone I believe this question is answered by @yennster (thank you for the update).

cc @ARMmbed/team-maximintegrated

[2018-06-28 09:38] pilotak opened #7360 "Asynch serial: read"
### Description
Lets consider following code
[code]
with this code i don't get `SERIAL_EVENT_RX_COMPLETE` until i receive 8 bytes, but if only 7 bytes are sent (by mistake for example) can i get them with some kind of SERIAL EVENT? otherwise next 8 bytes sent will follow and obviosly i get `SERIAL_EVENT_RX_OVERFLOW` because there was 1 byte missing to complete and 7 left are overflow.

### Issue r

[2018-06-28 09:53] 0xc0170 commented on #7312
Thanks @mattbrown015 for the input. Feel free to contribute, fixing warnings sounds as a good first contributions.

@ARMmbed/mbed-os-test @geky @bulislaw  I am thinking something similar what we have for AStyle where we show how many files actually are not yet conforming to the our coding style (we are slowly fixing them). What if we do the same for warnings.  Any PR that increases number of warni

[2018-06-28 09:58] bulislaw commented on #7312
Shaming people that introduce extra warnings makes sense to me. As for fixing and enabling -Werror globally that may be more problematic as we have some partners code, IP stacks, etc in sources.

[2018-06-28 10:00] jeromecoutant commented on #7328
@ashok-rao @screamerbg

[2018-06-28 10:07] 0xc0170 commented on #7360
The driver waits for 8 characters. There's no serial event for this (I can't think of what type of event this would be? We do not have time bounded callback here - no timeout).

You can use your own timeout (use Timeout object or other similar functionality). if you haven't received 8 characters within defined time, abort (should flush rx fifo to discard characters that has been received) and rest

[2018-06-28 10:12] bulislaw commented on #7328
Hi Jerome! Sorry missed that the first time round. sleep calls are allowed, but hopefully most of the people won't need them.

But maybe these call should be protected by sleep_manager_lock_deep_sleep() ?

Serial is protected with deep sleep locks anyway, so as long as transfer is in progress that shouldn't be necessary: https://github.com/ARMmbed/mbed-os/blob/master/drivers/SerialBase.cpp

[2018-06-28 10:25] ashok-rao opened #7362 "NVStore tests are unstable with GCC."
### Description
When running only the "mbed-os-features-nvstore-tests-nvstore-functionality" test, it seems to pass but  when running ALL the compiled tests for a platform it fails. Using GCC.

Steps to reproduce:
mbed test --run -t GCC_ARM -m DISCO_L496AG -n  mbed-os-features-nvstore-tests-nvstore-functionality

Result:
[code]

### Issue request type
[ ] Question
[ ] Enhancement
[x] Bug

@dannybe

[2018-06-28 10:26] bulislaw commented on #7235
@SenRamakri @deepikabhavnani could you have a look at the impact of the newly introduced stats on the idle thread stack size please.

@c1728p9 what could cause tickless to inflate the stack that much?

[2018-06-28 10:30] pilotak commented on #7360
Ok thank you, maybe timeout could be an enhancement? or possibly fire event when read starts?

[2018-06-28 10:37] dannybenor commented on #7362
@davidsaada Can you look at this?

[2018-06-28 10:48] davidsaada commented on #7362
There's a good chance [PR #7127](https://github.com/ARMmbed/mbed-os/pull/7127) fixes this issue. I would test this myself, but couldn't find this board in any of our CI sites.

[2018-06-28 11:51] ciarmcom commented on #7362
ARM Internal Ref: MBOTRIAGE-962

[2018-06-28 11:51] ciarmcom commented on #7360
ARM Internal Ref: MBOTRIAGE-963

[2018-06-28 11:58] bulislaw commented on #7328
@c1728p9 could you have a look at:

is it relevant to check this deepsleep lock status in TICKLESS mode as it seems that systimer is constantly called ?

[2018-06-28 12:04] LMESTM commented on #7328
@bulislaw  I think that deep sleep protection applies only up to the serial putc to be empty, but I am not sure that it will check for **HW serial buffer** to be really complete.
See Initial concern raised 2 years back  #1849
Other issues where same issue was raised according to @bridadan : #3132 #2966
Request for enhancement  #4408  1 year old
Current workaround: #3017  => this adds a wait to let

[2018-06-28 12:26] Arjun765 opened #7363 "Do not assume serial can be used for printing in faulthandler"
### Description

`fault_print_init()` in `mbed-os/rtos/TARGET_CORTEX/TARGET_CORTEX_M/mbed_rtx_fault_handler.c` initializes serial and uses it for printing, it might be being used for something else.

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-06-28 12:51] 0xc0170 commented on #7137
Thanks for the verification !

[2018-06-28 12:52] 0xc0170 commented on #7137
Not yet merged, too fast closing :)

[2018-06-28 13:21] 0xc0170 commented on #7363
I edited the body (please do not remove description and issue request type) - the latter is vital what type of issue is it

[2018-06-28 13:47] theotherjimmy commented on #7347
Thanks for the steps to analyze this failure @TeroJaasko. I don't have time to get to this for this week. @cmonr I would appreciate it if you could pick this one up. If not, I'll find time next week or the week after that.
*[Mirrored to Jira]*

[2018-06-28 14:00] jeromecoutant commented on #6840
@simonnilsson

So all is in the master branch, could you close this issue ?

About the problem in equeue_sema_wait, I really think you should open a new issue for a clean analysis from ARM team

Thx

[2018-06-28 14:42] 0xc0170 commented on #6840
Please do @simonnilsson

I'll close this as resolved

[2018-06-28 14:42] #6840 closed, assigned to nobody

[2018-06-28 15:51] ciarmcom commented on #7363
ARM Internal Ref: MBOTRIAGE-971

[2018-06-28 20:20] theotherjimmy commented on #7085
@drahnr Each key in target_overrides is the name of a target, and the keys within that target are  in`<library>.<parameter>` format.

Further, a target cannot override a library's configuration.

So, it's working as designed. Maybe those should cause build failures.
*[Mirrored to Jira]*

[2018-06-28 20:23] theotherjimmy commented on #6916
@drahnr You may put it anywhere.

[2018-06-28 20:40] geky commented on #7312
I think this is a great idea :+1:

Eventually we want to have every permutation ran in mbed OS's CI no? At that point it'd easy to _find_ the warnings, though maybe intractable to fix. I think it's at leasts worth working towards.

[2018-06-28 20:43] drahnr commented on #7085
Yes, build failures with descriptive errors would be helpful.

This would imply that I can not overwrite config parameters defined in `mbed_lib.json` by overwrites from `custom_targets.json`, correct?
Despite having read the `advanced configuration` section for the third time, I am not 100% sure on what overrules what, especially with `custom_targets.json` .
*[Mirrored to Jira]*

[2018-06-28 20:44] drahnr commented on #6916
@theotherjimmy thanks for all the support, much appreciated!

[2018-06-28 20:44] #6916 closed, assigned to nobody

[2018-06-28 23:08] c1728p9 commented on #7328
Hi @LMESTM the issue of going to sleep while there is a byte in the HW serial buffer has not been fixed. I'll make sure this gets fixed as part of the HAL specification for uarts.

This is still relevant, but the test is broken at the moment, as LPTICKER_DELAY_TICKS makes use of the microsecond ticker which locks deep sleep at different points in time. @0xc0170 you added this test right? Do you ha

[2018-06-29 06:52] 0xc0170 commented on #7362
@ashok-rao Can you run the test with the fix?

[2018-06-29 09:04] 0xc0170 commented on #7301
I am fixing rtx_lib include - https://github.com/ARMmbed/mbed-os/pull/7364 . Once I finish that one (changes includes from RTX, might affect this one), I'll look at this one, should not be any warning there

[2018-06-29 09:33] ashok-rao commented on #7362
Can confirm that #7127 fixes the issue. Here are my logs:

Before:
[code]

After:
[code]
Thanks @davidsaada and @0xc0170

[2018-06-29 09:54] pan- opened #7372 "Wise1530 inflated binary size"
### Description

Introduction of #7284 has inflated binaries generated of the MTB_ADV_WISE_1530.

Before (latest):

[code]

After #7284 :

[code]

The code to get those results was compiled with GCC:

[code]

The cause seems to be a global Non POD object in the library added:

[code]

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-06-29 09:55] pan- commented on #7372
@KariHaapalehto Could you look after this issue ?

[2018-06-29 09:59] RobMeades opened #7373 "NULLs in SWO output"
### Description

With the introduction of #5571, it is now possible to redirect `stdio` to SWO really easily, which is very sweet indeed.  There is an issue, though, which is that one character of output is written as an ITM 32-bit word.  The two clients I have used (GDB and JLinkSWOViewer) interpret each byte of the 32-bit word as an individual character and so either emit three white-space chara

[2018-06-29 11:10] 0xc0170 commented on #7328
is it relevant to check this deepsleep lock status in TICKLESS mode as it seems that systimer is constantly called ?

@jeromecoutant Can you reference the file and lines for this.

[2018-06-29 11:51] ciarmcom commented on #7373
ARM Internal Ref: MBOTRIAGE-982

[2018-06-29 11:51] ciarmcom commented on #7372
ARM Internal Ref: MBOTRIAGE-983

[2018-06-29 11:56] jeromecoutant commented on #7328
https://github.com/ARMmbed/mbed-os/blob/58fa28b9b21cf0d361ee2e615d6d7fb850b0c205/TESTS/mbed_drivers/sleep_lock/main.cpp#L32

If a ticker is on going due to LPTICKER_DELAY_TICKS, tests starts in a wrong state

[2018-06-29 14:07] theotherjimmy commented on #7085
That's correct. @drahnr You will be better served by reading the up to date documentation. https://github.com/ARMmbed/mbed-os-5-docs/blob/new_engine/docs/reference/configuration/configuration.md
*[Mirrored to Jira]*

[2018-06-30 15:15] Brools opened #7379 "Heap issue on DISCO_L475VG_IOT01A with simple threading example"
### Description

Hardware: DISCO_L475VG_IOT01A
Compiler: GNU Tools ARM Embedded\6 2017-q2-update
mbed-cli: 1.5.0

I'm having issues with the first and very basic thread example in the mbed reference:
https://os.mbed.com/docs/v5.9/reference/thread.html

For some reason, it appears that the heap allocation for the thread (during thread.start) is failing and causes mbed OS error fault.
The serial out

[2018-06-30 15:51] ciarmcom commented on #7379
ARM Internal Ref: MBOTRIAGE-999

[2018-06-30 19:20] janfwesterkamp opened #7380 "set_time not working on LPC1768"
### Description
Using the time example from https://os.mbed.com/docs/latest/reference/time.html and updating mbed-os
to the newest version (03196b2) in the mbed online compiler returns the following in the terminal:

The expected result would have been:

Also not working is revision 866850a (5.9.0).
The last working revision with the expected result is 35fa909 (5.8)

### Issue request type

[ ] Qu

[2018-06-30 21:19] janfwesterkamp opened #7381 "wait taking 10x longer on LPC 1768"
### Description
The wait(), wait_ms(), wait_us(), and Thread::wait() functions take 10 times as long as they should on a LPC 1768 with the online compiler.
A wait_ms(100) should wait for 100 milliseconds but acutally takes 1 second.

Tested with values for 1 second and 1/10 second.

Tested revisions:
- 03196b2 (5.9.1)
- 35fa909 (5.8.6)
- c9e63f1 (5.5.1)

### Test program
I used the same program wi

[2018-06-30 23:51] ciarmcom commented on #7381
ARM Internal Ref: MBOTRIAGE-1005

[2018-07-01 09:21] amq opened #7382 "wait() hangs if a 5.9 app is started with a 5.8 bootloader"
Tested on 2 boards:
- A custom board with EFM32PG12: confirmed
- EFM32GG_STK3700: confirmed

With a minimal blinky example, the application starts, LED lights up and stays like this forever.

**App:**

[code]

**Bootloader:**
[code]

Here is a full minimal example: https://github.com/amq/bootloader-issue

**Toolchain:** 6-2017-q2-update

[ ] Question
[ ] Enhancement
[x] Bug

[2018-07-02 03:38] flipflop22 commented on #7204
I saw the TCP_MSS for Realtek and RZ_A1XX targets are 1460. Can I confirm that this is working?

[2018-07-02 06:52] 0xc0170 commented on #6988
Looks fine to me. @marcuschangarm Can you review above proposal?
*[Mirrored to Jira]*

[2018-07-02 07:13] 0xc0170 commented on #7382
@ARMmbed/team-silabs Please review
*[Mirrored to Jira]*

[2018-07-02 07:13] 0xc0170 commented on #7380
@ARMmbed/team-nxp Please review
*[Mirrored to Jira]*

[2018-07-02 08:30] adustm commented on #7379
Hello Arm team,
I 've notived the same kind of problem. DISCO_L475VG_IOT01A is crashing since release 5.9.0 (mbed-os-wifi example for instance, many basic mbed-os examples are also crashing)

release 5.8.6 works fine

Could you check the modifications on your side for the 5.9.0 ? (please take care about the splitted heap and stack memories (1 on SRAM1 and 1 on SRAM2) for this platform).
Kind regar

[2018-07-02 09:10] samchuarm commented on #7257
@M-ichae-l Hi Michael, please review and address this for RTL8195AM EMAC implementation. Thanks.

[2018-07-02 09:25] 0xc0170 commented on #7379
@adustm I am looking at changes, can you reference the SHA or PR that you suspect is causing this?

Update:
From the targets history (for L475) - I could not spot any changes that would affect this for 5.9 (comparing to 5.8).

[2018-07-02 09:41] NeilMacMullen opened #7387 "mbed_error should provide a way to avoid linking to vprintf"
Mbed 5.9.1

Even with NDEBUG defined, MBED_ERROR defines down to _mbed_error_ which calls _print_error_report_ which in turn uses the vprintf library.  This adds between 6 and 7K (under gcc) which is a significant overhead when trying to build a minimal application (e.g. bootloader).

[2018-07-02 09:41] NeilMacMullen commented on #7387
Adding @MarceloSalazar for tracking.

[2018-07-02 09:46] adustm commented on #7379
@0xc0170 I did not follow closely the modifications done on the 2 last releases. I have no idea where it comes from.
I've been able to see the results of release 5.9.0 : there are regressions for GCC_ARM toolchain only.

[2018-07-02 09:47] jeromecoutant opened #7388 "NVSTORE feature with targets with small numbers of pages"
### Description

Hi

With NVSTORE feature, reset is erasing 2 FLASH sectors.
As confirmed in #7149 for ex, some targets don't have 2 available sectors.

As a consequence, several tests are failed:
- features-device_key-tests-device_key-functionality
- features-nvstore-tests-nvstore-functionality

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-07-02 10:38] 0xc0170 commented on #7381
@ARMmbed/team-nxp Please review

@ARMmbed/mbed-os-hal Can you review, I see LPC1768 target defining us ticker - means it passing our tests.

@janfwesterkamp Thanks for reporting and extensive testing (running on multiple versions).

[2018-07-02 10:58] M-ichae-l commented on #7257
@samchuarm  OK. Thank you.

[2018-07-02 11:16] 0xc0170 commented on #7379
Thanks, we will review

[2018-07-02 11:41] jeromecoutant commented on #7379
Hi

TWO_RAM_REGIONS macro has disappeared since #7009 ...

[2018-07-02 11:47] 0xc0170 commented on #7379
@jeromecoutant Please send PR. I can confirm, comparing 5.8 to 5.9 - the macro is not present .
Assuming bad rebase in 7009

[2018-07-02 11:51] ciarmcom commented on #7388
ARM Internal Ref: MBOTRIAGE-1025

[2018-07-02 11:52] ciarmcom commented on #7387
ARM Internal Ref: MBOTRIAGE-1026

[2018-07-02 12:19] artokin opened #7391 "An attempt to use ThreadInterface::device_eui64_get before connect() causes hard fault"
### Description

An attempt to call `mesh.device_eui64_get(eui64);` before `mesh.connect()` call leads to hard fault described below:

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[code]

This error can be reproduced by using in https://github.com/ARMmbed/mbed-os-example-mesh-minimal (Mbed OS 5.9.2) by adding the `device_eui64_get()` call before `connect()` call.

EUI64 method is

[2018-07-02 12:50] omdathetkan opened #7392 "Bootloader header can result in misaligned vector table"
### Description
The lowest 6 bits of The Vector Table Offset Register are reserved:
http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0552a/Ciheijba.html

When building an application with a header that is smaller than 0x80 this will cause `NVIC_FLASH_VECTOR_ADDRESS` to have an offset that will be truncated assigning this to the VTOR register, causing the header itself to be copied in

[2018-07-02 12:59] LaurentLouf opened #7393 "Improve logic for RTOS wait_us in the sub-millisecond case"
### Description

Simple question that may lead to an enhancement. In RTOS mode, the `wait_us` function executes a division there https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_wait_api_rtos.cpp#L40 , executed in all cases, so even for sub-millisecond delays. This is only an integer division so it's not that bad, but considering the sub-millisecond case, wouldn't it preferable to avoi

[2018-07-02 13:35] omdathetkan opened #7394 "Build tools should generate an application+header binary"
### Description
When building a application+header to be used with a bootloader, the build script generates a binary file that combines all three images:

However when deploying an application to be used with the bootloader you typically want a binary file that contains the application with header, without the bootloader.

A workaround is mangling the files manually afterwards, but it would be nic

[2018-07-02 13:47] EmbedEngineer opened #7395 "Tests not possible with custom target"
### Description
I have stumbled over the follwoing problem:
When I declare a custom target in costum_targets.json the build process by using `mbed compile` works fine. But when I try to call `mbed test` the build fails due to the following error:
[code]

In my opinion this error occurs because in ` File ".\mbed-os\tools\config\__init__.py", line 468, in __init__ self.app_config_data.get("custom_ta

[2018-07-02 14:13] AGlass0fMilk commented on #7138
On a (somewhat) related note, how does mbed handle the NFC-protect pins (see UICR section of manual)?

I have had maddening issues when trying to use NFC pins as MISO inputs (it doesn't work by default 😅) and scratching my head for a few hours until I read through the manual in a bit more detail.

Internal NFC protection circuitry is enabled by default unless 0 is written to the NFCPINS register o

[2018-07-02 14:17] drahnr commented on #7138
@AGlass0fMilk complete unrelated :) hint: `CONFIG_NFCT_PINS_AS_GPIOS`
*[Mirrored to Jira]*

[2018-07-02 14:19] AGlass0fMilk commented on #7395
I believe the issue is that mbed-enabled dev boards are assigned unique ID numbers that make them automatically identifiable by the test system. Mbed-enabled boards also require a consistent way of resetting, flashing, and getting serial debug information out of the target. So it doesn't seem very possible to use the full native mbed test system at this time.

However, instead of using the full te

[2018-07-02 14:21] 0xc0170 commented on #7138
@donatieng Can you review this (the error is located in mbed_pinmap_common code file)
*[Mirrored to Jira]*

[2018-07-02 14:29] AGlass0fMilk commented on #7395
As an example, here's a unit test I wrote for a temperature/humidity sensor driver (Si7006). It shows a bunch of different test types (synchronous, asynchronous, tests with setups, tests with teardowns, etc).

The way I would run these tests is by flashing the target with this unit test app, then resetting it. By using a few command line flags with mbedhtrun you can run the unit tests without the

[2018-07-02 14:32] LaurentLouf opened #7397 "Timer.read_us takes 8.5µs, making wait_us unable to wait for less than that on Nucleo F103RB"
### Description

- Target : Nucleo F103RB
- Toolchain : GNU ARM Embedded Toolchain 7-2017q4-major Release
- Mbed-CLI 1.7.3 (mbed --version), mbed compile --profile release
- Mbed-OS : #5bf483ee1
- Code to reproduce issue

[code]
Which produces

And more graphically ![ee9464984aba2d169cc824ea930dd76c.png](https://tof.cx/images/2018/07/02/ee9464984aba2d169cc824ea930dd76c.png)
![9a4e4eaf0f4b1d23e2317

[2018-07-02 14:46] jeromecoutant commented on #7397
Hi

Yes, we got an issue since version 5.9.1

This is tracked by #7316

First patch is #7352, but every thing looks not solved.
Maybe you can try on your side ?

Thx

*[Mirrored to Jira]*

[2018-07-02 14:48] dreemkiller opened #7398 "UART not working on LPC54608"
### Description

The UART interface on the LPC54608 board does not **appear** to work.
I am attempting to use the WizNet WizFi310 shield (https://os.mbed.com/components/WizFi310-EVB/), and have successfully used it on a K64F.

My code is as follows:
[code]
MBED_CONF_APP_WIFI_TX is "D1"
MBED_CONF_APP_WIFI_RX is "D0"
MBED_CONF_APP_WIFI_* are set to the appropriate values for my network.

The call to

[2018-07-02 15:09] LaurentLouf commented on #7397
I applied the patch https://github.com/ARMmbed/mbed-os/pull/7352 , re-compiled using the same settings and the results are the same.
*[Mirrored to Jira]*

[2018-07-02 15:16] 0xc0170 commented on #7398
@ARMmbed/team-nxp Please review
*[Mirrored to Jira]*

[2018-07-02 16:30] LiyouZhou opened #7400 "What could cause timer thread stack overflow?"
[ ] Question

I am debugging  MSIS-RTOS error: Stack overflow (status: 0x1, task ID: 0x20005C04, task name: (null))
which comes from the osRtxTimerThread. What are the possible things that could have caused timer thread stack usage increase?
1. Too many threads?
2. Too many Timers?
3. Too many Tickers?

Any more suggestions on what I can look at?
@0xc0170 @bulislaw

[2018-07-02 18:51] mattbrown015 commented on #7395
I think we've been discussing this in [Fail to run Greentea test on inherited target #6342](https://github.com/ARMmbed/mbed-os/issues/6342).

[2018-07-02 19:21] SenRamakri commented on #7363
@guest253456 - We have removed fault print functions with this PR - https://github.com/ARMmbed/mbed-os/pull/7214. I think this is no longer a issue. Please let us know if you see other concerns.

[2018-07-02 19:36] mmahadevan108 commented on #7398
Can you try this fix.
[0001-LPC546XX-Fix-UART-MUX-setting.patch.txt](https://github.com/ARMmbed/mbed-os/files/2156565/0001-LPC546XX-Fix-UART-MUX-setting.patch.txt)

*[Mirrored to Jira]*

[2018-07-02 19:51] ciarmcom commented on #7400
ARM Internal Ref: MBOTRIAGE-1032

[2018-07-02 19:51] ciarmcom commented on #7395
ARM Internal Ref: MBOTRIAGE-1033

[2018-07-02 19:51] ciarmcom commented on #7394
ARM Internal Ref: MBOTRIAGE-1034

[2018-07-02 19:51] ciarmcom commented on #7393
ARM Internal Ref: MBOTRIAGE-1035

[2018-07-02 19:51] ciarmcom commented on #7391
ARM Internal Ref: MBOTRIAGE-1037

[2018-07-02 20:20] mmahadevan108 commented on #7398
Please refer to PR https://github.com/ARMmbed/mbed-os/pull/7403
*[Mirrored to Jira]*

[2018-07-02 21:28] SenRamakri commented on #7387
Fix created - https://github.com/ARMmbed/mbed-os/pull/7404
We don't need to print detailed error report in release builds also avoiding linkage to vprintfs.

[2018-07-03 01:35] Eman869 commented on #7315
@bcostm Yes, the LPUART clock is able to change manually in compile time.

[2018-07-03 06:16] EmbedEngineer commented on #7395
@AGlass0fMilk Thank you for your respsonse, but that is actually not what I was looking for. Mbed has the capability to mock targets. So if you use the standard onboard mbed enabled debugger with the appropriate mcu and use the mock ability from mbed ls combining the mbed dev board with your own custom target (which is infact nothing other than the mbed dev board with custom pin configuration) the

[2018-07-03 06:17] EmbedEngineer commented on #7395
@mattbrown015 thank you for linking this to the other issue

[2018-07-03 07:16] 0xc0170 commented on #7400
Timer thread size is configured via `MBED_CONF_APP_TIMER_THREAD_STACK_SIZE`. By default its 768. You can configure it in the application (what does increase to 1024 do?)

It could be many timers,  as its indicated by the handbook (see this doc that added info about the config https://github.com/ARMmbed/mbed-os-5-docs/pull/510)

[2018-07-03 07:18] 0xc0170 commented on #7315
@Eman869 This should be now resolved. I'll close it

[2018-07-03 07:18] #7315 closed, assigned to nobody

[2018-07-03 09:35] 0xc0170 commented on #7312
Some ideas that were shared here will be explored by our team (separate from this thread).

To answer initial request - we can't currently use `werror` for reasons shared above. We will minimize the warnings on the common codebase (few other tickets are opened related to them). I'll close this as answered.

@guest253456 feel free to send PR fixing warnings

[2018-07-03 09:35] #7312 closed, assigned to nobody

[2018-07-03 09:49] janfwesterkamp commented on #7381
When I saw #7397, I repeated the test and measured the time with an oscilloscope. Nothing has changed, wait_ms(100) takes exactly 1 second with OS 5 and 0.1 second with OS 2.

[2018-07-03 10:08] jeromecoutant opened #7407 "Are FILESYSTEM tests available with small targets ?"
### Description

Hi

I think some RAM size check should be included in features/tests/filesystem tests ?

Ex:
mbed test -t GCC_ARM -m NUCLEO_F070RB -v -n features-tests-filesystem-*

+-----------------------+---------------+----------------------------------------------------+---------+--------------------+-------------+
| target                | platform_name | test suite

[2018-07-03 10:12] OmerRosler opened #7408 "Separate CAN logical layer from the existance of CAN device"
We have a situation where we use a CAN MAC that sends CAN messages over SPI to the microcontroller.

We want to use the mbed CAN api (`CANMessage` is the main type) for this as we use it elsewhere in our codebase.
The problem is the logical layer of CAN is  protected by `#if defined(DEVICE_CAN)`

Would it be possible to separate this into a separate, unprotected header?

[2018-07-03 10:17] bulislaw commented on #7400
Hm I would be interesting to see how many timers would cause that, 1k of stack is a lot...

[2018-07-03 11:04] M-ichae-l commented on #7257
I have verified the #7259. I will PR (updating the rtl8195am lib and remove the DEVICE_EMAC) soon.

[2018-07-03 12:10] 0xc0170 commented on #7372
@mikaleppanen is looking at this issue

[2018-07-03 13:25] tanoc commented on #7300
I think the reason for thins kind of behaviour is the fact that, at least when using the softdevice, `nrf_fstorage_write` is actually asynchronous and return success notifying the correct insertion of the data in a queue to be written later, not the complete operation.

In this case, the read is probably happening before the data (nvstore header + data) is actually written to the flash.

Moreover

[2018-07-03 13:43] theotherjimmy commented on #7392
@jorisa The vector table is copied to RAM on boot of Mbed OS, and the VTOR is updated to point to that. This is not a problem.
*[Mirrored to Jira]*

[2018-07-03 13:44] theotherjimmy commented on #7394
@jorisa Why do you need this?

[2018-07-03 13:45] theotherjimmy commented on #7394
Could you be more concrete?

[2018-07-03 13:50] theotherjimmy commented on #7395
@EmbedEngineer I cannot reproduce this on master.

I added a `custom_targets.json` with:
[code]
and ran `mbed test --compile -t arm -m MY_TARGET` and it built tests.

[2018-07-03 14:33] 0xc0170 commented on #7317
@Eman869 we need some additional info for this issue
*[Mirrored to Jira]*

[2018-07-03 14:37] 0xc0170 commented on #6920
Thanks @mtfurlan for confirming. As this is not currently supported toolchain, I'll close this issue.

We will address this once we update.

[2018-07-03 14:37] #6920 closed, assigned to nobody

[2018-07-03 14:50] jeromecoutant commented on #7328
@c1728p9 any update about LPTICKER_DELAY_TICKS in TICKLESS mode ?

[2018-07-03 15:05] jeromecoutant commented on #7328
@bulislaw any update about wait protection for deepsleep ?

[2018-07-03 15:10] cmonr commented on #7085
Publiched documentation can also be found here: https://os.mbed.com/docs/v5.9/reference/configuration.html
*[Mirrored to Jira]*

[2018-07-03 15:33] bmcdonnell-ionx opened #7409 "cryptic compiler errors with GCC_ARM 6"
### Description

Cryptic GCC_ARM compiler errors (build failures) when defining a class member function called `putchar()`. (Unknown what other circumstances may produce the same error.) Demo project attached below.

Switching to the latest compiler version (GNU Arm Embedded Toolchain Version 7-2018-q2-update) resolves the issue for me. (That is, I installed it, updated `GCC_ARM_PATH` in `mbed_set

[2018-07-03 15:51] ciarmcom commented on #7409
ARM Internal Ref: MBOTRIAGE-1050

[2018-07-03 20:18] marcuschangarm commented on #7300
@tanoc Thank you for the explanation. I see now that the code is taking different paths if the SoftDevice is enabled.
*[Mirrored to Jira]*

[2018-07-03 22:29] marcuschangarm commented on #6988
It used to be that `time` would invoke `gettimeofday` so I think it is the other way around.

When I look at the old code you linked it goes: `time` calls `gettimeofday` calls `lp_ticker` through a custom function, `getTimeval`.

`getTimeval` would return the current uptime plus an offset, which could be adjusted using `settimeofday` so `time` would return a UNIX timestamp.
*[Mirrored to Jira]*

[2018-07-04 00:42] TomoYamanaka commented on #7155
@theotherjimmy
How is it going?

[2018-07-04 06:50] mikaleppanen commented on #7372
Fixed in: https://github.com/ARMmbed/mbed-os/pull/7413

[2018-07-04 07:32] EmbedEngineer commented on #7395
@theotherjimmy I tried to recreate it with your `custom_targets.json`: doing to following steps:

1. running `mbed import https://github.com/ARMmbed/mbed-os-example-blinky`
2. modifiying `mbed-os.lib`  to point at the master (https://github.com/ARMmbed/mbed-os/)
3. running `mbed deploy` to update the repository
4. creating the `costum_targets.json` with your target
5. running `mbed test --compile

[2018-07-04 07:40] 0xc0170 commented on #7409
What is shown with v7 ?

You should get all commands with verbose mode.

[2018-07-04 09:02] tanoc opened #7415 "NRF52 getting stuck using serial port"
### Description

After the merge of pull request #7323, trying to use the serial port before and after the BLE initialization causes the program to freeze.

The following code is working correctly in d3641fd, but hangs on the second `printf` (the one in `bleInitComplete`) in faa31de

[code]

It looks like it is getting stuck in this loop waiting for `tx_in_progress`:
https://github.com/ARMmbed/mbe

[2018-07-04 09:04] flipflop22 opened #7416 "HardFault when sending data using TCP socket in a Thread"
### Description

My setup:
-UBLOX_EVK_ODIN_W2
-GCC_ARM
-mbed cli (newest version)
-GNU ARM Eclipse
-Issue: networking in thread

So I try to create a thread.
`send_thread(osPriorityRealtime)`

I try start the thread.

I create a buffer with size of 5360
`			for(i=0;i<5360;i++){
				out_buffer[i]=0xAA;
			}`

when I try to send this buffer.
`size = client_sock.send(out_buffer,BUFFER_SIZE);`

Then,

[2018-07-04 10:14] donatieng commented on #7138
Thanks, will investigate
*[Mirrored to Jira]*

[2018-07-04 11:23] 0xc0170 commented on #7415
@marcuschangarm Please review

[2018-07-04 11:51] ciarmcom commented on #7416
ARM Internal Ref: MBOTRIAGE-1064

[2018-07-04 11:51] ciarmcom commented on #7415
ARM Internal Ref: MBOTRIAGE-1065

[2018-07-04 11:52] drahnr opened #7418 "Compiler cache ccache sccache"
### Description

How to integrate sccache with mbed os? Setting `GCC_ARM_PATH` does not suffice since I need an additional compiler profile then which is essentailly a hacked `GCC_ARM` to provider the additional pseudo option `arm-none-...gcc`

### Issue request type
[x] Question
[ ] Enhancement
[ ] Bug

[2018-07-04 12:10] kjbracey commented on #7416
Are you sure you've not just overrun the buffer when filling it? The system has tried to use 0xAAAAAAAA as an address. Is the buffer on the stack? It wouldn't fit.

[2018-07-04 12:28] jeromecoutant commented on #6840
Hi @simonnilsson
Don't forget to raise an issue for the equeue_sema_wait problem :-)

[2018-07-04 15:20] jeromecoutant commented on #7397
Hi @LaurentLouf
Could you try latest version of #7352 ?
Thx

*[Mirrored to Jira]*

[2018-07-04 15:51] ciarmcom commented on #7418
ARM Internal Ref: MBOTRIAGE-1068

[2018-07-04 16:33] omdathetkan commented on #7392
@theotherjimmy yes, but...
[code]

`mbed_cpy_nvic` ued the VTOR register as the source address of this copy operation, so the problem remains :)
*[Mirrored to Jira]*

[2018-07-04 16:36] omdathetkan commented on #7394
@theotherjimmy : When you have a product with a bootloader in the factory you flash it with an image that contains bootloader+(app+header), when you deploy a firmware update you need (app+header) since the header contains information about the image that is consumed by the bootloader.

[2018-07-05 01:00] toyowata opened #7422 "Link error: Symbol __user_perthread_libspace multiply defined"
### Description

I got link error below when I build mbed-os-example-blinky project for any target.
[code]

[Steps to reproduce]

* Import [mbed-os-example-blinky](https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky/) program
* Set target to Mbed OS 5 support platform (e.g. Renesas GR-LYCHEE, NXP K64F etc)
* Compile the program

[Other notes]

* This link error cannot be shown i

[2018-07-05 01:44] dreemkiller commented on #7398
Is there any reason this change would disable/affect DAPLink?  When I run with this patch, I can’t see anything on the console (that was working before). It’s hard to see the effect of the fix without it, since to my knowledge, PyOCD doesn’t work on this board for 5.8).

Thanks,
D

From: Mahesh Mahadevan <notifications@github.com>
Sent: July 2, 2018 3:20 PM
To: ARMmbed/mbed-os <mbed-os@noreply.git

[2018-07-05 02:02] dreemkiller commented on #7398
Also it appears to be affecting the LCD - nothing's showing on it when I use the the patch (and it does without the patch). The patch is the only difference between the two runs.
*[Mirrored to Jira]*

[2018-07-05 03:51] ciarmcom commented on #7422
ARM Internal Ref: MBOTRIAGE-1075

[2018-07-05 07:33] bxc237 commented on #7422
I got same issue for L476RG....
Error: Symbol __user_perthread_libspace multiply defined (by /build/mbed-os.lib/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_lib.NUCLEO_L476RG.o and /build/mbed-os.lib/rtos/TARGET_CORTEX/mbed_boot.NUCLEO_L476RG.o).

[2018-07-05 08:20] jeromecoutant commented on #7422
I confirmed the error with NUCLEO_F746ZG and only ARM toolchain with 5.9.2 label.

[DEBUG] Errors: Error: L6200E: Symbol __user_perthread_libspace multiply defined (by BUILD/tests/NUCLEO_F746ZG/ARM/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_lib.o and BUILD/tests/NUCLEO_F746ZG/ARM/rtos/TARGET_CORTEX/mbed_boot.o).

[2018-07-05 09:33] screamerbg commented on #7328
@bulislaw @c1728p9 Bump

[2018-07-05 10:52] artokin commented on #7252
PR https://github.com/ARMmbed/mbed-os/pull/7261 suppress warning "transfer of control bypasses initialization of:"

Warning "[Pe188]: enumerated type mixed with another type" is fixed in PR https://github.com/ARMmbed/sal-stack-nanostack-private/pull/1740 and it will be available in the Mbed OS 5.10.

[2018-07-05 12:03] kjbracey commented on #7393
There are a number of issues with `wait()` (eg https://github.com/ARMmbed/mbed-os/issues/7154 ), and I've been generally worried about how to improve that without backwards compatibility issues.

You're right, this could be trivially tightened up a little to speed up the sub-millisecond case without affecting behaviour:

    if ((us >= 1000) && core_util_are_interrupts_enabled()) {
        sleep_m

[2018-07-05 12:20] kjbracey commented on #7360
I would not recommend the asynchronous serial API as it stands, as it has the limitations you describe. It's ill-suited for general stream comms traffic.

And that API is a HAL API - revising it means revising every platform's HAL. I believe some serial HAL API work is planned, and this is a known issue which would be addressed, but for now I would suggest avoiding the asynchronous API.

Your best

[2018-07-05 12:24] jeromecoutant commented on #7193
Hi
Should we wait for the next OS2 release before closing this point ?

[2018-07-05 12:25] kjbracey commented on #7358
My understanding of the intent is that you use multiple `SPI` objects, one for each slave. Those would specify the same MOSI/MISO pins, but different SSEL pins.

If you look at SPI.cpp, you'll see that it tracks the previous `SPI` object that accessed the HAL, and does reconfiguration of bus frequency/format as required when you switch between objects. So each `SPI` object and hence slave can have

[2018-07-05 12:51] DBS06 opened #7424 "EFM32 PeripheralPins.c"
### Description
Target: EFM32PG12B500F1024GL125

I tried to use a different USARTn for SPI (in EFM32PG12_STK3402 USART2 is used) and looked inside the "EFM32PG12 Family Data Sheet - Chapter 6.4 Alternate Functionality Overview" and for USART3 the Profile No.1 should work for me.

Therefore I tried to create an SPIF object like this:
**PinNames.h:**
[code]

**usage**:
[code]

According to the datas

[2018-07-05 13:11] jeromecoutant commented on #7422
Hi again
I have compared my local profile with the one in tools/profiles,
and it seems that -D_RTE_ was missing.
I can't explain what it is, but it solves my compilation issue...

[2018-07-05 13:14] grathlinkbit opened #7425 "I2C driver not initialized when writing before reading"
### Description

**Target:** NRF52_DK
Firmware: 0246_sam3u2c_mkit_dk_dongle_nrf5x_0x5000.bin [link](https://armmbed.github.io/DAPLink)
**Toolchain:** GCC_ARM (newest version)
**Tools:** Mbed-cli, exported to Microsoft Visual Code for debugging
(command used: mbed export -i vscode_gcc_arm -m NRF52_DK)
[develpment-board ](https://os.mbed.com/platforms/Nordic-nRF52-DK/)
[I2C/TWI device](https://www.n

[2018-07-05 13:22] pilotak commented on #7360
Thank you. That explains, why there is no official documentation available. I will have a look on `UARTSerial`, the reason why i used asynch was because it doesn't block code until everything is sent. I send out 255 chars at 9600 which takes ages - i use Modbus protocol

[2018-07-05 13:22] #7360 closed, assigned to nobody

[2018-07-05 14:10] bcostm commented on #7397
I don't think this PR will change something because it modifies the HAL_GetTick() which is only used by HAL_Delay() and not wait_us().

I changed a little bit your example and I did this instead:

[code]

and the result is:
[code]

Below 100us delay, the wait_us() is not precise. I don't know what precision we can expect with such low delays ?

*[Mirrored to Jira]*

[2018-07-05 15:42] #7372 closed, assigned to nobody

[2018-07-05 15:49] #7373 closed, assigned to nobody

[2018-07-05 15:51] ciarmcom commented on #7424
ARM Internal Ref: MBOTRIAGE-1087

[2018-07-05 16:12] mattbrown015 opened #7428 "LoRaWAN Stack No Longer Builds with -DLORAWAN_COMPLIANCE_TEST"
### Description
I don't understand the purpose of `-DLORAWAN_COMPLIANCE_TEST` but believe I probably should given that I'm writing software for a LoRaWAN device!

In an attempt to gain some understanding I defined `LORAWAN_COMPLIANCE_TEST` but there were compile errors in LoRaWANStack.cpp.  I fixed the first couple but more appeared and hence I think someone knowledgeable needs to have a look. :-}

[2018-07-05 16:18] mattbrown015 commented on #7428
@hasnainvirk I'm guessing at least some of the problems relate to [LoRa: State machine work #6808](https://github.com/ARMmbed/mbed-os/pull/6808).

Any help greatly appreciated! :-)

[2018-07-05 16:35] cmonr commented on #7415
@tanoc Would you mind retesting with mbed-os checked out to master? I recall another PR coming in that fixed serial stability issues.

[2018-07-05 16:37] theotherjimmy commented on #7418
@drahnr You just described the only way I know how to do it. You're requesting first-class support for sccache then?

[2018-07-05 16:38] marcuschangarm commented on #7415
@tanoc

Can you provide us with a trace of the call stack at the point where it hangs, please? I've noticed that when some asserts are being triggered they get stuck on the line you quoted above.

[2018-07-05 16:38] theotherjimmy commented on #7422
Thanks @jeromecoutant I'll look into it.

[2018-07-05 16:40] marcuschangarm commented on #7415
Previous discussion for reference: https://github.com/ARMmbed/mbed-os/pull/7323#issuecomment-401337929

[2018-07-05 16:52] theotherjimmy commented on #7395
@EmbedEngineer You have to get the name correct

It's `custom_targets.json`

Assuming that's a typo, where did you put the `custom_targets.json`? It must be in the project root.

[2018-07-05 17:04] theotherjimmy commented on #7392
@jorisa Thanks.

Could you test this patch?
[code]
*[Mirrored to Jira]*

[2018-07-05 17:07] deepikabhavnani commented on #6924
@ccli8 - Do we have this issue with mbed-os 5.9 and higher versions?

[2018-07-05 17:16] marcuschangarm commented on #7425
Looks like the I2C equivalent of this bug: https://github.com/ARMmbed/mbed-os/pull/7280

*[Mirrored to Jira]*

[2018-07-05 19:51] ciarmcom commented on #7428
ARM Internal Ref: MBOTRIAGE-1090

[2018-07-05 20:09] deepikabhavnani commented on #7409
@bmcdonnell-ionx
Issue with Standard library functions (printf / scanf) was found with GNU ARM toolchain  6-2017-q2-update  and 7-2017-q4-major. Issue was root caused to use of C99 IO Formatting with newlib.

GNU Arm Embedded Toolchain Version 7-2018-q2-update release notes mention about the same
"Enabled C99 IO format specifier in newlib"

[2018-07-05 20:43] drahnr commented on #7418
Yes, because with multiple targets recompiling and testing becomes time consuming.

[2018-07-05 21:11] bmcdonnell-ionx commented on #7409
@deepikabhavnani,

How is that related to the issue I've shown here?

And what do you suggest for a corrective course of action?

[2018-07-05 21:16] bmcdonnell-ionx commented on #7409
@0xc0170,

[code]

[2018-07-05 21:20] bmcdonnell-ionx commented on #7409
@0xc0170,

[code]

[2018-07-05 21:34] deepikabhavnani commented on #7409
Can you try updating C++ flags to gnu++11 in https://github.com/ARMmbed/mbed-os/blob/master/tools/profiles/develop.json#L11 and see if it builds with 6-2017-q2-update

[2018-07-05 21:48] bmcdonnell-ionx commented on #7409
@deepikabhavnani,

Same result w/ gnu++11.

[code]

[2018-07-05 22:28] Alex-EEE commented on #7395
Also take a look at https://github.com/ARMmbed/greentea/issues/256, we're able to program using mbed test via J-Link, there are some instructions at the bottom of that issue that might help you @EmbedEngineer

[2018-07-05 23:20] #7346 closed, assigned to nobody

[2018-07-06 01:25] dreemkiller commented on #7398
I've created a bare-bones project at https://github.com/dreemkiller/lpc54608_test
When I use it without the patch, I get timeouts on all of the UART transactions, the network fails to connect, and net.get_ip_address() returns NULL.

When I use it with the patch, I get the following:
AT> AT
AT? [OK]%n

Then it appears to hang.

Remember that you will need to change the WiFi SSID and password in the

[2018-07-06 02:21] ccli8 commented on #6924
@deepikabhavnani I update mbed-os to 5.9.2 and can re-produce the issue.

[2018-07-06 07:20] tanoc commented on #7415
sure, here it is:

[code]

[2018-07-06 08:04] kjbracey commented on #7219
Two nRF52 serial HAL fixes that you should try:

https://github.com/ARMmbed/mbed-os/pull/7323 (5.9.2)
https://github.com/ARMmbed/mbed-os/pull/7369 (5.9.3)

[2018-07-06 08:07] NeilMacMullen commented on #7219
Thanks @kjbracey-arm  - I'll give these a try later today.

[2018-07-06 08:10] LaurentLouf commented on #7397
Investigating a little bit further, the problems seems to come from `ticker_read_us` .  I used this very simple sketch and watched on the scope the result. Without any modification, the burst's length is around 8µs. Commenting out the call to `slicetime()` in `Timer::read_high_resolution_us` makes the burst length shrink to a bit less than 2µs.
[code]

So it basically comes down to that
[code]
Sin

[2018-07-06 08:12] EmbedEngineer commented on #7395
@theotherjimmy Yeah this was just a typo in my post, i put the `custom_targets.json` in the root project folder so my test project dir tree looks like this:
![image](https://user-images.githubusercontent.com/32904386/42362871-89d17f4c-80f5-11e8-9b3d-2df902bbccf6.png)
My `custom_targets.json`:
[code]
`mbed compile -t GCC_ARM -m MY_TARGET` also works fine. What OS are you compiling on? I am using a

[2018-07-06 08:41] hasnainvirk commented on #7428
@mattbrown015 This is known. Compliance test code port was in for legacy compliance support. The code is still in as we have plans to setup our own testing framework.

[2018-07-06 08:42] drahnr commented on #7418
An idea would be to use an env var like `MBED_COMPILED_OBJECT_CACHE_BINARY` and then just prefix execution with that and make sure it is displayed that cached objects are used.

---

@theotherjimmy for clarification, if I went the hacky way, I would also have to start touching a lot of other places and I have the risk of diverging configurations which I want to avoid at all cost. One way would be

[2018-07-06 08:49] drahnr commented on #7358
It would be nice if this could be added to the documentation as an example and explicitly stating that this logic is already part of the `SPI` class rather than to expect people to dig through the SPI implementation details (if it already exists, I did not find it, so this might be a good point in making it more prominent).

[2018-07-06 08:59] kjbracey commented on #7415
Which compilation profile(s) are you seeing this on? Can you confirm that it's stuck in the mutex-checking loop because `tx_in_progress` is 1, not the "wait for STREX to work" loop inside `core_util_atomic_cas_u8`? (Check by setting a breakpoint in the outer loop, not single-stepping).

(I'm a little paranoid that the atomic functions are potentially unstable due to their use of LDREX/STREX in C c

[2018-07-06 08:59] EmbedEngineer commented on #7395
@theotherjimmy So i tried the following:
I modified the source code in `mbed-os\tools\config\__init__.py` int the function `def __init__(self, tgt, top_level_dirs=None, app_config=None):` on Line 460 onwards from:
[code]
to
[code]
So I just wanted to know if my costum target `MY_TARGET` is found in the TARGET_MAP which should be generated by the mbed tools.
And i got the following output:
[code]
S

[2018-07-06 09:20] mattbrown015 commented on #7428
@hasnainvirk Ah, OK.

So perhaps you can offer some advice and help me understand whether or not this functionality would be anything like what I need?

We've built a board and the hardware team want to test the antenna.  They asked me to make the board transmit _continuously_ using a fixed SF and power.  They said _continuously_ but I'm not sure they meant that literally, I think they just meant

[2018-07-06 09:24] tanoc commented on #7415
I'm using the debug profile (`mbed-os/tools/profiles/debug.json`), and yes, trying with a breakpoint in the outer loop (line 1501), is stuck in there with `tx_in_progress` set to 1.

I also checked with the 2 other profiles (develop and release), but the result is the same.

[2018-07-06 09:27] hasnainvirk commented on #7428
@mattbrown015 I think what you are looking for is a sort of ping-pong tester for LoRaRadio. You don't want to test the Mac. Compliance test is a prescribed way of testing the Mac. It doesn't test the radio directly. For 5.10 release, we will be bringing up a specific test for Radio only. It will come under a special testing framework with which you will be able to attach multiple devices, i.e., tw

[2018-07-06 09:29] kjbracey commented on #7415
Cool, atomic paranoia over for another day. And have you tried current master, which incorporates https://github.com/ARMmbed/mbed-os/pull/7369?

[2018-07-06 09:33] mattbrown015 commented on #7428
@hasnainvirk Thanks for the advice, I shall digest it and talk to the hardware team. :-)

[2018-07-06 09:33] #7428 closed, assigned to nobody

[2018-07-06 09:35] tanoc commented on #7415
I've tried it now with the current master 93233c4f5, but same result... just different line :) (`serial_api.c:1446`)

[2018-07-06 11:01] jeromecoutant commented on #7397
Hi @bulislaw @c1728p9
Can you check last comment ?
Thx
*[Mirrored to Jira]*

[2018-07-06 12:23] RobVlaar opened #7431 "stm32l4xx_hal_uart_ex.c 'hangs' in insane long timeout when constructing Serial"
### Description

 - type: bug

---
### Bug

**Target**
STM32L476

**Files**
stm32l4xx_hal_uart_ex.c
stm32l4xx_hal_uart.c

**mbed-os**
5.8.1

**Issue**
When we want to construct a serial object, it 'hangs' when it is waiting on `USART_ISR_REACK` to become high in `HAL_UARTEx_StopModeWakeUpSourceConfig`. In the timeout` UART_WaitOnFlagUntilTimeout` it is waiting for 0x1FFFFFFU ticks before leaving t

[2018-07-06 12:47] #7345 closed, assigned to nobody

[2018-07-06 13:10] EnsilicaEdd opened #7432 "LoRaWAN maximum payload length over-enforced at low data rates"
### Description
I've been doing some testing at low data rates with the LoRaWAN stack, and have been receiving failure code -1010 from LoRaWANInterface::send().

This is LORAWAN_STATUS_LENGTH_ERROR, and it seems that the stack thinks my message is too long.  However, it's 50 bytes, which should be fine, since the maximum payload length at low data rates (for EU868 at least) is 51 bytes.

It seems

[2018-07-06 13:59] theotherjimmy commented on #7418
Be aware that this is low on my list of things to do. I'll get around to it sometime, and the best way to have it faster is to submit a PR that implements it.

[2018-07-06 14:01] bcostm commented on #7431
Thanks for reporting this issue. It has been forwarded to ST Cube team.

I would also suggest to check in the STM32 forum:
https://community.st.com/community/stm32-community/stm32-forum/content

ST_INTERNAL_REF 50142

[2018-07-06 14:01] theotherjimmy commented on #7395
@EmbedEngineer why did you come to the conclusion that it only affects `GCC_ARM`? I don't follow.

[2018-07-06 14:05] theotherjimmy commented on #7395
Thanks for spending time to track down what's going wrong. Sorry this has been very difficult for me to reproduce.

[2018-07-06 15:18] drahnr opened #7433 "turning on optimization for mbed-os only"
### Description
So it turns out that the mbed-os optimization has significant overhead (GPIO, Timer) compared to bare metal such that our usecase is impossible to do when compiling with `-ggdb -O2`.

Is there a rather painfree way to compile mbed-os itself with a different set of compiler options than the rest of the project? After all we still need to debug our end of the stack.

### Issue reques

[2018-07-06 15:51] ciarmcom commented on #7432
ARM Internal Ref: MBOTRIAGE-1103

[2018-07-06 15:51] ciarmcom commented on #7431
ARM Internal Ref: MBOTRIAGE-1104

[2018-07-06 16:15] deepikabhavnani opened #7435 "Build Warnings - TCPServer.h"
### Description
Lots of warning from Mbed OS master branch with ARM compiler build.

[code]

### Issue request type
[ ] Question
[ ] Enhancement
[X] Bug

[2018-07-06 16:17] drahnr commented on #7418
Are you ok with the env var approach or should this be done differently? If not, I'd look into `mbed-cli` and how to get that into it.

[2018-07-06 17:22] omdathetkan commented on #7392
I think it needs to be: `start = ((start + (2**7 - 1)) // (2**7)) * (2**7)`
*[Mirrored to Jira]*

[2018-07-06 18:20] theotherjimmy commented on #7418
@drahnr, it should be configurable from both an env var and `mbed config <var>` (which uses env vars).

[2018-07-06 18:21] theotherjimmy commented on #7392
Ah, yes. My mistake.
*[Mirrored to Jira]*

[2018-07-06 19:51] ciarmcom commented on #7435
ARM Internal Ref: MBOTRIAGE-1107

[2018-07-06 20:16] Alex-EEE opened #7438 "Device-key failing unit test on K64 / IAR"
Numerous errors with device-key on mbed test, but for instance:

| K64F-IAR | K64F          | mbed-mbed-os-features-device_key-tests-device_key-functionality | TIMEOUT | 58.8

K64F-IAR | K64F          | mbed-mbed-os-features-device_key-tests-device_key-functionality | Device Key - long consistency test                                                     | 0      | 0      | ERROR   | 0.0

### Issue

[2018-07-06 22:00] aashishc1988 opened #7439 "Failing some filesystem tests for a specific tool-chain"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
KL25Z

**Toolchain:**
GCC_ARM
(6-2017-q2-update)

**mbed-os sha:**
13dcef63e31ce972dbca1f306175d92a2a62d5e2

Tests we are failing:
features-tests-filesystem-util_block_device
features-tests-filesystem-mbr_block_device
features-tests-filesystem-heap_block_device
features

[2018-07-06 22:07] AGlass0fMilk opened #7440 "nRF52 BLE Connection Timeout"
I recently synced my mbed-os fork with master (as of now) and I can no longer connect to my application using either nRF Connect (Desktop, with nRF51 dongle as the BLE interface), or the Punch Through Bluetooth app on my iPhone. The connection just times out and the device stops broadcasting until it is reset. There are no error messages or crashes (even BLE initialization returns no errors).

Ass

[2018-07-06 23:51] ciarmcom commented on #7440
ARM Internal Ref: MBOTRIAGE-1110

[2018-07-06 23:51] ciarmcom commented on #7439
ARM Internal Ref: MBOTRIAGE-1111

[2018-07-06 23:51] ciarmcom commented on #7438
ARM Internal Ref: MBOTRIAGE-1112

[2018-07-07 02:10] AGlass0fMilk commented on #7440
I have built the BLE_BatteryLevel demo by checking out the mbed-os.5.9.1 release and it worked as expected.

Something must have changed between 5.9.1 and 5.9.2 that is breaking connection establishment.

EDIT: Issue appears to lie somewhere in the targets/TARGET_NORDIC/TARGET_NRF5x directory. I checked out the mbed-os-5.9.1 release of this directory and the issue disappeared. There appear to have

[2018-07-07 03:09] AGlass0fMilk commented on #7440
I think I found the issue. Something in serial_api.c is causing the BLE stack to become unresponsive it seems.

I reverted serial_api.c to the mbed-os-5.9.1 release version and the example works as expected.

Any thoughts @marcuschangarm?

[2018-07-07 10:41] RobMeades opened #7441 "Running mbed test over SWD with SWO"
### Description

I will shortly have a target board which runs mbed-os but does not include a debug chip, just a raw SWD interface (with the optional SWO pin).  I have tested all of my code in advance on Mbed boards that _do_ have a debug chip but I would quite like to be able to run the tests on the actual target board also.  I have a hacky plan for doing this (see below), I was wondering if ther

[2018-07-07 11:51] ciarmcom commented on #7441
ARM Internal Ref: MBOTRIAGE-1119

[2018-07-07 18:35] AGlass0fMilk opened #7442 "Configuring main thread stack size"
### Description
The solution to this seems to change every major release. Is there a current way to configure the main thread stack size using the mbed configuration system?

It would make sense to have this since most examples using the event queue show "dispatch_forver" at the end. I have been experiencing main stack overflows when queuing events from other threads. I can only imagine this is du

[2018-07-07 19:06] AGlass0fMilk commented on #7442
MBED_CONF_APP_MAIN_STACK_SIZE in mbed_boot.c

[2018-07-07 19:06] #7442 closed, assigned to nobody

[2018-07-07 19:16] amq commented on #7441
Related: https://github.com/ARMmbed/mbed-cli/issues/475

[2018-07-07 20:07] marcuschangarm commented on #7440
I see the problem. We've been mislabeling the reserved SWI. It is not just SWI1 that's been reserved for the SoftDevice but SWI1, SWI2, SWI4, and SWI5.

[2018-07-07 20:10] marcuschangarm commented on #7415
There are some major issues with the current serial driver when used with BLE: https://github.com/ARMmbed/mbed-os/issues/7440#issuecomment-403239985

We'll have to make some redesigns to fix it.

[2018-07-07 20:27] RobMeades commented on #7441
Looks like exactly the same requirement.  I'll close this one and we can track it over there.

[2018-07-07 20:27] #7441 closed, assigned to nobody

[2018-07-08 12:53] OmerRosler opened #7444 "Bug in CANMessage constructor"
CANMessage constructor gets parameters to initialize the class members.
However the type of the parameters doesn't match the type of its members. For example the type of message ID is `unsigned int` however the constructor receives an `int` value. This causes implicit casting from `int` to `unsigned int` when the value is assigned to the member.

[2018-07-08 13:52] NeilMacMullen commented on #7219
These fixes definitely improve things.  I've checked out master at commit 69d8c0bac3de45.

In the example application they allow a connection to be made.  I've modified the example very slightly to dynamically construct and then delete the OnboardCellularInterface instance and can loop the connection test.

Unfortunately, there seems to be some interaction with the BLE code.  If the BLE system is

[2018-07-08 15:51] ciarmcom commented on #7444
ARM Internal Ref: MBOTRIAGE-1134

[2018-07-09 07:50] samchuarm commented on #7257
Thanks @M-ichae-l  Please ref the PR here once you submit it. Thx.

[2018-07-09 09:09] kjbracey commented on #7219
I suspect this is relevant: https://github.com/ARMmbed/mbed-os/issues/7415#issuecomment-403240146

[2018-07-09 09:14] NeilMacMullen commented on #7219
ah yes - that definitely looks like it could be the same issue!

[2018-07-09 09:41] 0xc0170 commented on #7424
@ARMmbed/team-silabs Please review

[2018-07-09 10:05] kivaisan commented on #7432
@EnsilicaEdd, thanks for the report. I just checked the spec and indeed the maximum length should be "The maximum application payload length in the absence of the optional FOpt control field". We'll check this.

[2018-07-09 10:09] hasnainvirk commented on #7230
@garycolecd Please check the remedy for the issue. Thank you for your collaboration.
https://github.com/ARMmbed/mbed-os/pull/7445. The change will take effect from Mbed OS 5.10 release. However, you can cherry-pick for your use whenever you wish.

[2018-07-09 11:39] 0xc0170 commented on #7444
Please leave the section about the issue type (it was removed from the issue template)

[2018-07-09 11:51] 0xc0170 commented on #7438
What is IAR version, Mbed OS version/commit sha ?

Command to reproduce the failures?

[2018-07-09 11:56] 0xc0170 commented on #7438
I reviewed some recent PR, did not spot any failure for these tests, target and toolchain.

[2018-07-09 12:21] EmbedEngineer commented on #7395
@theotherjimmy Well yeah no problem.
I tracked the problem a little bit deeper. It seems that the program looses its `TARGET_MAP `when the `build_test_worker(*args, **kwargs)` in `test_api.py` from `build_tests` `results.append(p.apply_async(build_test_worker, args, kwargs))` in the same file in Line 2277 is called. I noticed that after this call the `update_target_data()` function in `targets/__i

[2018-07-09 13:31] JanneKiiskila opened #7447 "Mbed OS 5.9.2 regression with ARM CC compilers (Empty Execution region description for region RW_IRAM1)"
### Description

Mbed Cloud Client example has stopped linking with Mbed OS 5.9.2, both with ARM CC v5.06 update 6 and ARM CC v6.10.

`mbed compile -m K64F -t ARM --profile=profiles/debug_size.json`

### Issue request type
[ ] Question
[ ] Enhancement
[x] Bug

You can verify this with publicy available [mbed-cloud-client-example](https://github.com/ARMmbed/mbed-cloud-client-example).

Any target w

[2018-07-09 14:07] teetak01 commented on #7447
Cloud Client example delivers its own profile-files for size-optimization and the 5.9.2 release broke the ARMCC/ARMC6 compilation with the debug_size profile. That is somewhat out-of-date and will be updated, although still curious that patch-release of Mbed OS caused this breakage.

The default Mbed OS debug profile will not work with all supported combinations, for. ex. 6LowPAN/Thread.

[2018-07-09 14:19] 0xc0170 commented on #7447
Based on the error, this is a duplicate of https://github.com/ARMmbed/mbed-os/issues/7422 ?

cc @theotherjimmy

[2018-07-09 14:23] JanneKiiskila commented on #7447
Hash 76d7bb0d on 5.9 branch still links.

[2018-07-09 14:29] 0xc0170 commented on #7422
@jeromecoutant RTE is defined for 5.9.2 . is that causing a problem?

cc @ARMmbed/mbed-os-core

[2018-07-09 14:29] JanneKiiskila commented on #7447
I believe hash 17203413dc6aaa4f7eec73abbc1a496967dbc718 is now the one breaking it.

[2018-07-09 14:30] theotherjimmy commented on #7395
@EmbedEngineer Wow! Thanks for digging in that far, it's really helpful. As a workaround, does `-j 1` solve the issue? (I'm skeptical that it would).

It's looking like we have to pass in the target as a target object instead.

[2018-07-09 14:33] 0xc0170 commented on #7422
I suspect this is the one that is causing a problem #6973. I'll check why rtx lib does not see the no multithreaded macro and why this was not seen in our CI previously

[2018-07-09 14:35] theotherjimmy commented on #7395
Further, this implies that the library build succeeds. Could you confirm that @EmbedEngineer?

[2018-07-09 14:37] EmbedEngineer commented on #7395
@theotherjimmy
To your first post: no unfortunatly I already tried the `-j 1` option and it doesn't change a thing.
Concerning your second post: yes the library seems to be built correctly.

[2018-07-09 14:39] theotherjimmy commented on #7395
That's a good start. ~It's very odd that `update_target_data` is called.~ OH! it's the next python process importing the same module (I'm on linux, so I don't actually see that bit). The weird bit is then that it's bothering to lookup the target in `TARGET_MAP` upon build. It should not be doing that.

[2018-07-09 14:41] theotherjimmy commented on #7395
This patch:
[code]
does not break it for me, and may fix it for you.

[2018-07-09 14:43] theotherjimmy commented on #7395
This should prevent the `TARGET_MAP` lookup inside each process.

[2018-07-09 14:46] theotherjimmy commented on #7395
I also put that patch up on a branch here: https://github.com/theotherjimmy/mbed/tree/fix-customtgt-tests

[2018-07-09 14:48] 0xc0170 commented on #7447
Thanks @JanneKiiskila . The macro somehow does not get into the rtx lib and the rtx armcc userspace for lib is still used. we will investigate

[2018-07-09 14:51] theotherjimmy commented on #7394
@jorisa Do you need the (app+header) exactly as it would be created in the "include everything" build?

[2018-07-09 15:11] 0xc0170 commented on #7447
I noticed the note above, requires own profile. That would explain the failures. RTE symbol is needed, it's part of the profiles. As the macro was placed correctly to the mbed config, RTE symbol is needed unfortunately since the move.

This is duplicate of the above issue however the cause is own profile used.

@ARMmbed/mbed-os-core @ARMmbed/mbed-os-tools  Please review this issue

[2018-07-09 15:13] theotherjimmy commented on #7447
@0xc0170 We should not have put this in the profiles. It makes more sense in the `rtos/mbed_lib.json`.

[2018-07-09 15:14] 0xc0170 commented on #7447
@theotherjimmy Can you fix it please? 5.9.3 would have it then fixed and backward compatible 💯

[2018-07-09 15:17] 0xc0170 commented on #7422
@theotherjimmy I referenced 7447 but that one is about own profile. This issue is in the online compiler. Can you check that profiles were updated there? RTE symbol defined? (until 5.9.3 contains proper fix for this)

[2018-07-09 15:32] yossi2le commented on #7438
@Alex-EEE
I am trying to reproduce the issue but in my case, it runs with no problems and there is no timeout error.
I am testing it with IAR compiler version V7.80.3.12102/W32. and mbed-os mbed-os-5.9.2.
Can you please elaborate with more details and reproducing flow.

[2018-07-09 15:51] ciarmcom commented on #7447
ARM Internal Ref: MBOTRIAGE-1148

[2018-07-09 16:17] theotherjimmy opened #7450 "Codeblocks disabled in online compiler"
### Description

The "codeblocks" exporter is disabled in the online compiler. This is because every single export with that exporter fails. The exporter tries to create a directory in the current working directory, which is not writable in the online compiler.

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-07-09 16:18] theotherjimmy commented on #7447
See https://github.com/ARMmbed/mbed-os/pull/7449

[2018-07-09 16:19] theotherjimmy commented on #7422
See https://github.com/ARMmbed/mbed-os/pull/7449

[2018-07-09 16:20] theotherjimmy commented on #7422
We need to backport that patch into 5.9.2 to fix the problem in the online compiler.

[2018-07-09 16:40] AGlass0fMilk opened #7451 "SecurityManager Persistent Bonding Example"
### Description
Hi,
I'm trying to get persistent bonding working on an nRF52832 using external flash on mbed-os-5.9.0.

I wrote the SPI flash driver to be compatible with mbed's BlockDevice API and LittleFS is able to properly mount a filesystem on it. I have given the SecurityManager.init call a filepath and based on my logic analyzer results it seems to be reading/writing to the external flash.

[2018-07-09 17:00] Alex-EEE commented on #7438
Ok, I'm on IAR 8.3, that might be the difference.  7.8 is well over a year old now, are there any plans to upgrade the supported version of IAR?

Thanks

[2018-07-09 19:51] ciarmcom commented on #7451
ARM Internal Ref: MBOTRIAGE-1152

[2018-07-09 20:34] marcuschangarm commented on #7440
@AGlass0fMilk

Can you give this PR a go and see if it solves the problem, please?

https://github.com/ARMmbed/mbed-os/pull/7453

[2018-07-09 20:35] marcuschangarm commented on #7415
@tanoc

Can you give this PR a go and see if it solves the problem, please?

https://github.com/ARMmbed/mbed-os/pull/7453

[2018-07-09 20:36] marcuschangarm commented on #7219
@NeilMacMullen

Can you give this PR a go and see if if solves your problem, please?

https://github.com/ARMmbed/mbed-os/pull/7453

[2018-07-09 20:43] tanoc commented on #7415
I'm out of the office this week. I can try it when I'll be back

[2018-07-09 21:45] AGlass0fMilk commented on #7440
I synced my fork (previously at 5.9.0) to master (5.9.2+) and applied this PR - so far it appears to be working as expected. BLE is able to connect/pair and the UART works as well 👍

[2018-07-09 22:01] marcuschangarm commented on #7440
Awesome! Thank you for trying it out!

[2018-07-09 22:19] edablan opened #7454 "UBLOX-NINA-B1 (nRF52832) softdevice not working with IAR as assumed"
I think this issue is related to what has been talked about here: [https://github.com/ARMmbed/mbed-os/issues/5167](url)

I have a UBLOX NINA-B1 (it uses the nRF52832 chipset). This micro is especially designed for people needing a supported BLE stack (nordic SDK). I have cloned the mbed-os-example-ble repo, and then chosen the BLE_HearRate. I clone the latest mbed-os (5.9.2) repo into this directo

[2018-07-09 23:51] ciarmcom commented on #7454
ARM Internal Ref: MBOTRIAGE-1156

[2018-07-10 01:48] ccli8 opened #7455 "init/deinit conflict among utility block devices on the same SD card"
### Description

Utility block devices (`ChainingBlockDevice`/`SlicingBlockDevice`/`MBRBlockDevice`) are constructed upon e.g. `SDBlockDevice`. If multiple utility block devices are constructed on the same underlying block device, there would be `init`/`deinit` conflict among them. Take `SlicingBlockDevice` as an example: its `init`/`deinit` would call `init`/`deinit` of the underlying block devic

[2018-07-10 03:50] Eman869 commented on #7317
@bcostm What needed is not to re-configure clock, but to set the default clock as HSI after exiting STOP mode. Register RCC_CGFR, bit15 is related. MSI is not able to set as clock source for LPUART, I2C, and SWPMI.
*[Mirrored to Jira]*

[2018-07-10 03:51] ciarmcom commented on #7455
ARM Internal Ref: MBOTRIAGE-1159

[2018-07-10 08:36] yossi2le commented on #7438
I have looked at the documentation for mbed os 5.9 and right now we are supporting IAR version 7.8. Can you please try to compile your code on this version and let us know if the problem is solved.
Unfortunately, I have no info regarding when the supported version will change.

[2018-07-10 08:38] 0xc0170 commented on #7438
We would like to update, there is no ETA. There is feature branch for IAR 8 update. We noticed some breaking changes there so be aware.

[2018-07-10 09:04] adustm opened #7456 "Compilation duration optimization required"
### Description
Dear mbed-os core team
Time goes by, the amount of features is magically increasing. All this is awesome, for sure.
But mbed-os takes me more than 10 minutes to compile completely.

Could you spend some time to cleanup the compilation duration ? Or give me advices to avoid full recompilation ?
Here are some ideas :
* Make sure I don't compile features that are not required for the

[2018-07-10 09:05] 0xc0170 commented on #7450
@ARMmbed/team-onsemi @tsailer Please review
*[Mirrored to Jira]*

[2018-07-10 09:11] adustm opened #7457 "Avoid compiling features/cellular files when not needed"
### Description
I compile mbed-os for DISCO_L475VG_IOT01A
I see undesired files, as this target is not concerned by cellular things
[code]
Could someone take the responsibility of checking completely the CELLULAR feature and add the correct `#ifdef `to avoid compiling those files when not needed ?

I think it could be
`#ifdef CELLULAR_DEVICE`
or
`#ifdef <TARGET_NAME>`

There are maybe other files

[2018-07-10 09:14] adustm opened #7458 "Avoid compiling features/lora files when not needed"
### Description
Hello,
It looks like LORA feature is not protected with #ifdef LORA_SOMETHING at all.

I am constantly compiling this feature, whatever platform I am using.
For instance DISCO_L475VG
[code]

Could someone make sure the correct #defines are set for this feature, please ?

Kind regards
Armelle

### Issue request type
[ ] Question
[ ] Enhancement
[X] Bug

[2018-07-10 09:16] adustm commented on #7379
Hello,
Problem fixed on my side, thanks @jeromecoutant
@Brools is it also ok for you ? Ok to close the issue ?
Kind regards

[2018-07-10 09:19] adustm commented on #7235
Hello,
Any news on this ?

[2018-07-10 09:22] bcostm commented on #7431
Hi, I'm waiting an answer from ST Cube team and I'll keep you updated. Any news from STM32 forum on your side ?

[2018-07-10 09:23] LMESTM commented on #7317
@Eman869 in case of stressful tests of very fast exit and entries into deep sleep we have found issues that lead to errors on the clock stabilization and could lead to erroneous communication on peripherals like LP_UART.  This was fixed in PR #6561 in order to fix #6513 and #6514 .
If you remove the stabilization time you may face those issues again.
*[Mirrored to Jira]*

[2018-07-10 09:52] NeilMacMullen commented on #7219
@marcuschangarm   Yes - this definitely helps - I can now successfully connect and send/receive data! Unfortunately  there seems to be something broken with SPI still but I think this issue can be closed.  I'll post more details wrt SPI on your PR

[2018-07-10 10:02] tsailer commented on #7450
AFAIK it only creates a 'bin' and 'obj' directory in the project top, and then puts an .mbedignore file into them.

I could skip creating those directories, as C::B creates them automatically if they don't exist. But the problem is then that after a C::B build, mbed builds don't work anymore because they try to link the C::B compiled objects in the obj and bin directories, thus linking stale objec

[2018-07-10 10:19] JanneKiiskila commented on #7137
When will this get merged? Known issue list with the Mbed OS boards is just getting longer and longer...

[2018-07-10 10:25] JanneKiiskila commented on #7438
Please note that it's a bit of a pain to find the older versions of IAR compilers on their website. People will be inclined to take the latest version, as that might be the only version they are able to find!

[2018-07-10 11:18] 0xc0170 opened #7460 "Raytac MDBT40 - files are missing - fails to build"
### Description

This target was added here https://github.com/ARMmbed/mbed-os/pull/6178. This does not build `python tools\build.py -m Raytac_MDBT40 -t ARM`:

[code]

Shouldn't this be part of your custom  target definition rather than in here? I would like to remove this target from targets.json file.

@andrewleech @pi-anl Please review.

### Issue request type

[ ] Question
[ ] Enhancement
[X]

[2018-07-10 11:24] mstfkaratas commented on #7456
Currently i am avoiding full recompilation with a custom .mbedignore file in top level directory which reduces compile duration.
Contents of .mbedignore:
[code]
*[Mirrored to Jira]*

[2018-07-10 11:31] adustm commented on #7456
Thanks for the advice @mstfkaratas
The problem with this .mbedignore is that not everyone has the exact knowledge of which feature he/she needs for any kind of application. At the end, if your application does not work, you will spend time in debug for something that is natively working.

I understand that it is very difficult for mbed-os team to know what to remove or not.

kind regards

*[Mirror

[2018-07-10 11:51] ciarmcom commented on #7460
ARM Internal Ref: MBOTRIAGE-1164

[2018-07-10 11:51] ciarmcom commented on #7458
ARM Internal Ref: MBOTRIAGE-1165

[2018-07-10 12:16] teetak01 opened #7462 "Compiling with MBED_FAULT_HANDLER_DISABLED with ARMCC will fail at linking"
### Description
For. ex. compiling MCCE (should be reproducable with any Mbed OS application):

https://github.com/armmbed/mbed-cloud-client-example

with Mbed OS 5.9.2 using ARMCC will compile fine as stand-alone.

But, if I add define MBED_FAULT_HANDLER_DISABLED as MACRO in mbed_app.json it will not link with ARMCC. GCC_ARM links fine with this macro also.

For. ex.

`mbed compile -t ARM -m K64F

[2018-07-10 12:40] marcuschangarm commented on #7219
@NeilMacMullen

Great! Thank you for testing!

[2018-07-10 12:49] 0xc0170 commented on #7454
Please be aware IAR 7.x is currently supported

@ARMmbed/team-ublox @pan- Can you help with IAR debugging ?

@edablan Note, don't please remove headings from the template (description, issue type). We have tools that automatically parse these fields

[2018-07-10 12:59] 0xc0170 commented on #7458
Similar to #7457

[2018-07-10 13:04] NeilMacMullen opened #7463 "SPI regression on nrf52"
*Note* - I've posted this 'incomplete' as a placeholder.  More details to follow as I isolate them but may take a few days.

Somewhere between commit 18634009c5f and the current head of master, a regression in SPI behaviour seems to have been introduced.

The symptoms appear to be that reading/writing is unreliable on a SPI bus using pins

[code]

Usually reading fails to return any bytes at all b

[2018-07-10 13:05] NeilMacMullen commented on #7463
cc'ing @marcuschangarm and @MarceloSalazar

[2018-07-10 13:21] NeilMacMullen opened #7464 "cellular stack example can't make socket connections on UBLOX R4 (CATM1) board"
Platform nrf52 using GCC and code from #7453.  Code is based on example cellular application

We're using a UBLOX SARA-R4 (CATM1) module.
In  order to establish a PPP session I've made the following changes
[code]
as described by this post...  https://forum.u-blox.com/index.php/19626/ppp-communication-link-with-sara-r410m-module-access-network

Although it appears a PPP session is established, it'

[2018-07-10 13:23] NeilMacMullen commented on #7464
copying @MarceloSalazar  @AriParkkila @kjbracey-arm

[2018-07-10 13:39] jeromecoutant commented on #7456
Build script is able to parse targets directory to compile only the correct target.
So it should be able to parse features directory depending on DEVICE_HAS macro ?
*[Mirrored to Jira]*

[2018-07-10 14:28] theotherjimmy commented on #7450
@tsailer Thanks for the quick response. You would need to take the `self.export_dir` into account when creating those directories, or we could enhance `self.gen_file` to call makedir as appropriate and you could drop the mkdir calls.
*[Mirrored to Jira]*

[2018-07-10 14:29] theotherjimmy commented on #7450
I'm a fan of the latter solution:
 * enhance `self.gen_file` to make directories when it needs to
 * drop the calls to `mkdir`.
*[Mirrored to Jira]*

[2018-07-10 14:44] #7379 closed, assigned to nobody

[2018-07-10 15:31] NeilMacMullen commented on #7463
More detail on this....

There appear to be two separate problems.  The first is that calling ClaimStdOut in this code causes spi reads to always return 0....

[code]
This occurs even though printf is never used.  It is _not_ a regression and does appear on older versions.  I'm really at a loss to see why this could affect SPI operations but it may be relevant that for the target we are using,  th

[2018-07-10 15:43] NeilMacMullen commented on #7463
Setting

in pinnames.h causes ClaimStdOut to hang.  That doesn't seem like desirable behaviour :(

[2018-07-10 15:43] #7316 closed, assigned to c1728p9

[2018-07-10 15:51] ciarmcom commented on #7463
ARM Internal Ref: MBOTRIAGE-1171

[2018-07-10 15:51] ciarmcom commented on #7462
ARM Internal Ref: MBOTRIAGE-1172

[2018-07-10 15:51] ciarmcom commented on #7235
ARM Internal Ref: MBOTRIAGE-1173

[2018-07-10 15:56] AGlass0fMilk commented on #7463
It is worth noting that an _implicit_ behavior of mbed is to lazily create a debug UART using those pins whenever a printf-type function is called. I'm not sure what configuration there is to prevent this (perhaps remove DEVICE_HAS_STDIO_MESSAGES?).

You can look in serial_api.c, you will see what I'm talking about by looking for `stdio_uart`.

If you're developing on a custom target I would creat

[2018-07-10 16:14] AGlass0fMilk commented on #7433
If you're using mbed-cli, you may be able to use the --library flag to break your compilation into steps (allowing you to select different build profiles for mbed-os and the rest of your code):

https://github.com/ARMmbed/mbed-cli#compiling-static-libraries

*[Mirrored to Jira]*

[2018-07-10 16:27] marcuschangarm commented on #7463
https://github.com/ARMmbed/mbed-os/commit/18634009c5f841a4df53c56ec053668c344ce24f is quite some time ago.

Can you help us narrow it down a bit please? These are the NRF52 commits since then: https://github.com/ARMmbed/mbed-os/commits/master/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52

[2018-07-10 16:29] NeilMacMullen commented on #7463
Yes, I'm on  custom target that was once based on the pin-out for the UBLOX NINA B1 - hence the rather historical use of that as a target.  You're correct that I should probably create a new target but I'd still be trying to set those pins to NC - we do not have a debug uart on this board and the last thing I want is bits of mbed deciding it should hook up pins to try to create one without being a

[2018-07-10 16:37] AGlass0fMilk commented on #7463
Another tip: If you're not using the SWO pin (p0.18) and want debug output you could redirect the default serial to that:
[code]

[2018-07-10 17:14] Alex-EEE commented on #7438
@0xc0170 can you elaborate some on the issues with compiling mbedOS with IAR 8?  I looked at the branch and mainly noticed PRs around tweaks to support specific targets.  Is there a known "big issue" that we might be stepping into?

[2018-07-10 18:43] theotherjimmy commented on #7395
@cmonr Since I suspect that this is a windows-only issue, I would appreciate it if you could reproduce it.

[2018-07-10 19:21] AGlass0fMilk opened #7467 "Testing Custom BlockDevices"
### Description
Hi,
I have written a custom BlockDevice-style driver for an external flash chip my device is using. It would be really nice for mbed to provide a suite of tests that can be easily configured to use a custom block device and ensure it is completely compatible with mbed's API _according to mbed's testing standards._

I would also like to be able to test my block device driver with li

[2018-07-11 07:27] drahnr commented on #7433
Not a perfect solution I guess but it can mitigate my issue for the time being. @AGlass0fMilk thanks for pointing that out!
*[Mirrored to Jira]*

[2018-07-11 07:57] EmbedEngineer commented on #7395
@theotherjimmy Thank you so much. It is now working fine for me.

[2018-07-11 08:09] Eman869 opened #7469 "Requires a configuration to enable HSI for STM32 family."
### Description
Requires a configuration so that user can enable HSI without USE_PLL_HSI. HSI can be the clock source of peripherals, without being the clock source of PLL.

### Issue request type
[ ] Question
[x ] Enhancement
[ ] Bug

[2018-07-11 08:16] jeromecoutant commented on #7469
Use case:
- Be able to use HSI for LPUART while PLL is configured with MSI
- Be able to use LSE for LPUART while RTC is not enabled

[2018-07-11 08:27] hasnainvirk commented on #7285
@tpet93 A fix has been merged to master. If you are satisfied, please close the issue.

[2018-07-11 08:30] #7285 closed, assigned to nobody

[2018-07-11 09:01] bcostm commented on #7469
I would change the title and put `STM32 `instead of STM32L4.

Suggestions:
- add for example ENABLE_HSI and ENABLE_LSE macros in json file
- configure them in system_clock.c file when the system clock is configured ? or only when needed for example in serial_baud function ?

[2018-07-11 09:02] NeilMacMullen commented on #7463
@AGlass0fMilk   - thanks, I'm using RTT but that's a really useful reference implementation!
@marcuschangarm - the problem is difficult to reproduce reliably so this could take some time but if I can narrow it down I will do.

[2018-07-11 09:09] dannybenor commented on #7467
Please use https://github.com/ARMmbed/mbed-os-example-blockdevice
For littlefs you can use https://github.com/ARMmbed/mbed-os-example-filesystem
*[Mirrored to Jira]*

[2018-07-11 09:09] dannybenor commented on #7467
Let me know if these helps
*[Mirrored to Jira]*

[2018-07-11 09:24] Eman869 commented on #7469
My original idea is to have the HSI, LSE clock enabled when they are needed by peripherals. Or is it too discrete to handle the clock setting?

[2018-07-11 09:44] wajahat-abbas opened #7470 "mbed Cellular APIs and 3GPP PSM"
### Description

There is a method `opt_power_save_mode` in `AT_CellularPower` class. It is responsible for controlling the 3GPP Power Saving Mode. I want to know how function call for this method is to be made? To my understanding, the AT_xxxxx classes are not exposed directly to user application and EasyConnect + ConnectionFSM are using methods from AT_xxxxxx classes but currently `AT_CellularPo

[2018-07-11 09:47] amq commented on #7382
Results of more testing:

| bootloader | application | result |
|------------|-------------|--------|
| 5.8.3      | 5.8.3       | OK     |
| 5.8.3      | 5.8.6       | OK     |
| 5.8.3      | 5.9.0-rc2   | BAD    |
| 5.8.3      | 5.9.0       | BAD    |
| 5.8.3      | 5.9.2       | BAD    |
| 5.8.6      | 5.8.6       | OK     |
| 5.8.6      | 5.9.2       | BAD    |
| 5.9.2      | 5.9.2       | OK

[2018-07-11 10:41] screamerbg commented on #7454
@marcuschangarm Do you know whether the Nordic nRF52-DK (based on nRF52832) has issues with IAR?

[2018-07-11 11:51] ciarmcom commented on #7469
ARM Internal Ref: MBOTRIAGE-1189

[2018-07-11 12:21] stevew817 commented on #7382
Is this a Silicon Labs specific issue, or a general mbed OS one? Do you have other mbed targets to test with, @amq?
*[Mirrored to Jira]*

[2018-07-11 12:31] shazman1 opened #7473 "Fail to compile mbed-OS Blinky"
Tried to compile the following using mbed online compiler 5.9:

[code]

but gave the following errors:
Error: "/tmp/XQ46Of", line 124 (column 3): Warning: L6312W: Empty Execution region description for region RW_IRAM1
Error: Symbol __user_perthread_libspace multiply defined (by /build/mbed-os.lib/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_lib.K64F.o and /build/mbed-os.lib/rtos/TARGET_CORTEX/mbed_boot.

[2018-07-11 12:42] 0xc0170 commented on #7473
Duplicate https://github.com/ARMmbed/mbed-os/issues/7422. I'll close this. We identified the bug and fix is already proposed.

Thanks for reporting

[2018-07-11 12:42] #7473 closed, assigned to nobody

[2018-07-11 13:08] davidsaada commented on #7362
[#7127](https://github.com/ARMmbed/mbed-os/pull/7127) merged now. Issue can be closed.

[2018-07-11 13:24] davidsaada commented on #7439
@aashishc1988 [#7465](https://github.com/ARMmbed/mbed-os/pull/7465) Should fix this problem. However, our CI doesn't have the KL25Z board, so I can't confirm it. Can you confirm this PR fixes the problem?
In addition, I suspect that tests-mbed_platform-error_handling may be failing as well (before the fix). Can you check it too?

[2018-07-11 13:31] davidsaada commented on #7455
This is indeed problematic. Had similar problems when using chained BDs or when BD was included as a member of a class.
Maybe we should have an init/deinit reference count. @geky What do you think?

[2018-07-11 13:55] garycolecd commented on #7230
Issue resolved with API changes, thanks.

[2018-07-11 13:55] #7230 closed, assigned to nobody

[2018-07-11 14:57] lexbailey opened #7476 "Why does the semihosting API have unused arguments in `semihost_read()` and `semihost_write()`?"
### Description
Why does the semihosting API have unused arguments in `semihost_read()` and `semihost_write()`?

In `platform/mbed_semihost_api.[ch]` are functions with these signatures:

```int semihost_read  (FILEHANDLE fh, unsigned char* buffer, unsigned int length, int mode);```
```int semihost_write (FILEHANDLE fh, const unsigned char* buffer, unsigned int length, int mode);```

As far as I c

[2018-07-11 15:18] aashishc1988 commented on #7439
@davidsaada , I checked the PR and we are now passing all those tests. :)
Also, the test tests-mbed_platform-error_handling was passing even before the fix, so I am not sure if that raises more concerns or not.

[2018-07-11 15:25] davidsaada commented on #7439
@aashishc1988 Thanks for confirming. As for the error handling test - it doesn't raise any concerns. It failed on another board, the same way the tests pointed out in this PR did. Just wanted to make sure this PR fixed the failure if it occurred on your board as well.

[2018-07-11 15:45] theotherjimmy commented on #7395
Thanks for testing that patch. I'll make the PR now.

[2018-07-11 15:51] ciarmcom commented on #7476
ARM Internal Ref: MBOTRIAGE-1192

[2018-07-11 16:34] drahnr opened #7478 "NRF52: debug serial/uart with only TX channel / single pin"
### Description
For debug purposes I'd like to have one PIN as TX which is otherwise being used differently.

The necessity arises due to pin number shortage on the NRF52 for out purposes.

Can I only use one TX PIN with stdio? Or do I have to declare the whole thing for use with mbed os?

So far I tried to use an overwrite for the TX PIN as suggested by https://developer-sjc-indigo-border.mbed.or

[2018-07-11 16:34] stevew817 commented on #7424
This has been a long-standing issue. In my eyes it is not a bug, but a shortcoming of how the mbed APIs map onto the Silicon Labs GPIO architecture.

I'd rather have seen mbed APIs take location numbers instead of pins, but it is what it is. As it stands, the HAL needs to figure out which peripheral a user wants to initialise based on the pins it is given. The time-space constraint tradeoff we mad

[2018-07-11 17:01] tsailer commented on #7450
@theotherjimmy this looks like a good solution to me too. Are you going to enhance self.gen_file? I can make use of this afterwards
*[Mirrored to Jira]*

[2018-07-11 17:11] mharmouche commented on #7422
I'm blocked since one week due to this error.
Any solution?

[2018-07-11 17:15] cmonr commented on #7422
@mharmouche The PR (https://github.com/ARMmbed/mbed-os/pull/7474) has just been merged and is now on master. Would you mind retesting?

[2018-07-11 17:16] cmonr commented on #7422
@toyowata Would you mind confirming that the issue has been fixed?

[2018-07-11 17:22] MarceloSalazar opened #7482 "Error when passing parameters to mbed test"
As developer, I want to use Mbed tools to let me compile and run tests out of the box.

This command lets me compile and run tests:
```mbed test -t <toolchain> -m <target>```

However, I can't specify extra options to do this compile and run tests automatically, for example, this generates an error:

[code]

The fix should be simple, just skip extra parameters when invoking `mbedgt`

[ ] Question

[2018-07-11 17:28] garycolecd opened #7483 "mbed deploy strictly checks rev for hexadecimal characters preventing branch names"
### Description
I am trying to create a .lib file to deploy that will clone a library and checkout a branch, similar to .gitmodule, but the mbed.py script tests the rev for hexadecimal characters and terminates on failure.  I commented out the test in mbed.py and verified that the script will clone and checkout a branch.

### Request
The script allows a commit hash such as url#commit
Allow branch

[2018-07-11 17:28] mharmouche commented on #7422
Issue not fixed!

[2018-07-11 17:28] mharmouche commented on #7422
![image](https://user-images.githubusercontent.com/12204287/42589236-a33c0f48-8540-11e8-89aa-e9f5dc1d74dd.png)

[2018-07-11 18:30] mecwerks commented on #7422
@cmonr I can confirm the newest commit works. Although I couldn't find a way to update the official library to the newest commit (would only let me select release tags). So I resorted to forking it, and pushing my own release tag to make sure it was using the newest. Compiled and ran for me.

[2018-07-11 19:29] amq commented on #7382
@stevew817 I don't have other boards nearby.

@c1728p9 could you help?
*[Mirrored to Jira]*

[2018-07-11 19:51] ciarmcom commented on #7483
ARM Internal Ref: MBOTRIAGE-1195

[2018-07-11 19:51] ciarmcom commented on #7482
ARM Internal Ref: MBOTRIAGE-1196

[2018-07-11 19:51] ciarmcom commented on #7478
ARM Internal Ref: MBOTRIAGE-1197

[2018-07-11 21:02] RobMeades opened #7484 "greentea client start without waiting for sync"
### Description

As mentioned in #7441, I need to be able to run my mbed tests without `stdin` (just `stdout` going via SWO as I have no spare serial port to dedicate to testing).

Aside from hacking the `greentea` client, is there a way to persuade `greentea` to begin running tests immediately, without waiting for the sync string (which I can't possibly send)?  I know that you can ask `mbed test`

[2018-07-11 22:30] cmonr commented on #7422
@mecwerks Correct. This is by design with mbed-cli.

Whenever I need to test changes that haven't hit a release, I go into the mbed-os directory and do a manual git checkout.

[2018-07-11 22:34] cmonr commented on #7422
@mharmouche This is the first time that I've read that you're having an issue. Did you open one elsewhere?
Cna you provide output of the mbed-os version that you're running?

[2018-07-11 23:33] marcuschangarm commented on #7454
@edablan

IAR should work with NRF52832 but from your description it sounds like the SoftDevice is missing. If you use the command line tool we'll merge the SoftDevice automatically but if you use the IDE you'll have to add the SoftDevice manually.

Regarding the comment in the linker script, I don't know what the original intention was with that piece of logic and since I'm not sure what it does

[2018-07-11 23:34] marcuschangarm commented on #7454
@theotherjimmy

Does `mbed_app_start` work when you use the exporter? If you export a project with a bootloader defined will the tools still setup the correct `mbed_app_start` address?

[2018-07-12 00:22] marcuschangarm commented on #7478
The STDIO pins are defined in PinNames.h for the NRF52 and not in targets.json.

You'll need this PR for it to work though: https://github.com/ARMmbed/mbed-os/pull/7487

[2018-07-12 00:24] marcuschangarm commented on #7463
Thank you! I'll keep an eye out for anything that might be related to what you are seeing.

[2018-07-12 05:20] teetak01 opened #7488 "NVSTORE_NUM_AREAS is not configurable parameter"
Currently NVSTORE_NUM_AREAS has been hardcoded to be two:

https://github.com/ARMmbed/mbed-os/blob/master/features/nvstore/source/nvstore.h#L68-L69

We would need this parameter to be configurable. It would make sense to allow both 1 and 2 as valid values. For some products like Mbed Cloud Client it makes sense to always have two sectors, but for some other products the second area is waste of fla

[2018-07-12 05:20] teetak01 commented on #7488
@yogpan01 @JanneKiiskila @davidsaada

[2018-07-12 06:16] davidsaada commented on #7488
@teetak01
Reducing the number of NVStore areas to one is not possible because of the following reason: The way NVStore works, when setting a new value for a key, it writes it on the next free space of the active area, overriding the older values previously written. When the area gets filled, a GC (garbage collection) process is invoked, which is the process of copying only the newer values to the

[2018-07-12 06:24] yogpan01 commented on #7488
@davidsaada we had the understanding that if we are using NVStore to store keys only once and perform only read operation afterwards we can get away with reserving 2 sectors for it. But is GC case also applicable for read-only operation scenario? NVStore can have default 2 regions reserved but this can be made configurable so that applications which have read-only use case can decide if 1 region i

[2018-07-12 06:25] teetak01 commented on #7488
With some boards we are talking about worst-case scenario of 128 kB flash used for the second region (Minimum 4kB-16kB). This can be significant difference for some usecases.

[2018-07-12 07:32] 0xc0170 commented on #7476
mode for read/write mode - I can't find a reference for it neither. I understand the mode argument in the open but not for read/write. We will check.

[2018-07-12 07:51] ciarmcom commented on #7488
ARM Internal Ref: MBOTRIAGE-1205

[2018-07-12 07:55] DBS06 commented on #7382
I am also using a bootloader in my application, but for the bootloader I am using mbed-Dev (former mbed-os 2) instead of mbed-os 5.x.x. It's working for me as expected.
Furthermore with mbed-dev and some minor compiler tricks, I was able to reduce the size of the bootloader from ~50KB+ to 17KB. But nevertheless I am a little bit concerned about this issue, because I am fearing this affects my appl

[2018-07-12 08:15] DBS06 commented on #7424
@stevew817 making the configuration tables weakly defined would help. I already changed it locally, I can do a PR, because I would prefer to have it in the mbed-OS master and not on my local master, because of maintenance reasons.
Nevertheless I detected another issue:
I "created" my own `PeripheralPins.c`, basically I copied the original `PeripheralPins.c` to my custom target folder (without weak

[2018-07-12 08:19] davidsaada commented on #7488
@yogpan01 In that case, what you are suggesting is that one NVStore area -> NVStore read only mode. Correct?

[2018-07-12 08:25] davidsaada commented on #7488
Right. This is a problem we were well aware of when we implemented NVStore. It's not only applicable in a two area scenario, but also if we have only one. This is relevant for boards having large last sectors (for instance there are some ST boards whose last sector is 256KB). I agree that two areas worsen this situation. The solution, as discussed with the the tools team, was to relocate the manag

[2018-07-12 08:25] davidsaada commented on #7488
@dannybenor

[2018-07-12 08:26] yogpan01 commented on #7488
There can be one-time write operation for that NVStore region and after that it will always be read-only. In that case, we may not require 2 regions for NVStore.

[2018-07-12 08:29] DBS06 opened #7490 "GCC_ARM compiler Flag "-D_RTE_""
### Description
Recently I found out that the GCC_ARM compiler Flag `"-D_RTE_"` was added since 5.9.0 in this commit 07aad3c862175f94dddaa6cb3cb803a6a713e7c5. I also found out, without this flag the debugger stops when entering a wait() (its running in an assertion).

So my questions are:
- What does this flag mean?
- What does this flag do?
- Why does it change the behavior of wait()?

Thank you!

[2018-07-12 08:42] bulislaw commented on #7488
@SenRamakri @theotherjimmy are you guys aware of this discussion?

[2018-07-12 08:44] teetak01 commented on #7488
Generally Cloud Client allocate the smallest sectors for NVSTORE/SOTP, but customers might want to use other regions also. For some boards the smallest available sector size is 16 kB.

https://github.com/ARMmbed/mbed-cloud-client-example/blob/master/mbed_lib.json#L75-L80

[2018-07-12 08:59] DBS06 commented on #7424
@stevew817 I made the PR #7491. I did it for all EFM32 targets, because I assume this issue is not only for the EFM32PG12. Please look over if I maybe forgot something.

[2018-07-12 09:05] david-reimondez-tridonic-com opened #7492 "Priority of mbed-os tick undefined"
### Description
If we look at the following function, in file: mbed-os/targets/TARGET_STM/hal_tick_32b.c

HAL_StatusTypeDef HAL_InitTick(uint32_t TickPriority)

It takes the priority as parameter but this parameter is never used. The interrupt is activated but no priority is set. Therefore the default priority is used, which is normally the highest one.

Is this behavior the expected one? With whi

[2018-07-12 09:07] MarceloSalazar commented on #7492
@bulislaw can you look into this asap please
*[Mirrored to Jira]*

[2018-07-12 09:12] bulislaw commented on #7492
@ARMmbed/team-st-mcd
*[Mirrored to Jira]*

[2018-07-12 09:23] jeromecoutant commented on #7156
Hi @mattbrown015 and all

I am going to try to answer few questions about LPTIM versus RTC...

- LPTICKER mbed feature can be mapped on RTC wake up timers for most of STM32 chips (all except F1 and F2 families)
- LPTICKER can be mapped on LPTIM timers for "only" L0, L4, F7 and few F4 STM32. For targets using this mode, RTC feature can be removed.

LPTICKER configuration:
- RTC mode: frequency is 8

[2018-07-12 09:24] jeromecoutant commented on #7156
About TICKLESS, goal is of course to enable it for all STM32 as soon it is possible.
But we still got some issues with that, please follow #7328

[2018-07-12 09:27] Eman869 commented on #7317
@LMESTM I had checked PR #6561 , I believe it is not the same thing. For STM32L4, MSI is the default system clock after stop mode/system reset. I am not going to remove the stabilization time, the delay must be kept if MSI was in PLL mode before entering stop mode. The issue #7317 is to have a configuration for users who would like to have HSI as the default system clock after stop mode, to make p

[2018-07-12 09:28] jeromecoutant commented on #7156
About long period of deep sleep, our advice would be to use the RTC alarm feature.
But unfortunately, MBED doesn't provide any API for that yet...

[2018-07-12 09:31] dannybenor commented on #7488
@teetak01 A read-only NVStore is a valid requirement. Please ask add it to the product requirements

[2018-07-12 11:06] mattbrown015 opened #7493 "STM32L4: Incorrect GPIO Interrupts When Using MBED_TICKLESS"
### Description
I believe I may have hit the same problem on STM32L4 as previously seen, and fixed, for EFM32.

See [InterruptIn not working with EFM32 and tickless #6205](https://github.com/ARMmbed/mbed-os/issues/6205) and [EFM32: make gpio interrupts faster by offloading expected pin state check to user #6315](https://github.com/ARMmbed/mbed-os/pull/6315).

I'm using a 500 us low going pulse to

[2018-07-12 11:06] mirelachirica commented on #7470
I suggest adding it in FSM.
Either:
`void CellularConnectionFSM::state_init()
{
   _power->opt_power_save_mode();
    nsapi_error_t err = _power->is_device_ready()`

or in init() after _power is available:

`nsapi_error_t CellularConnectionFSM::init()
{
    _power = _cellularDevice->open_power(_serial);
    if (!_power) {
        stop();
        return NSAPI_ERROR_NO_MEMORY;
    }
    _power->opt_

[2018-07-12 11:14] mattbrown015 commented on #7493
[All STM should have tickless mode enabled #7153](https://github.com/ARMmbed/mbed-os/issues/7153)

[2018-07-12 11:29] wajahat-abbas commented on #7470
Thanks for the answer but it is unclear to me as how this allows the user to control the power saving mode? Looks like it will always be enabled if i call the method from `CellularConnectionFSM::state_init()` or `CellularConnectionFSM::init()`

[2018-07-12 11:33] mirelachirica commented on #7470
I see. It would be needed to be used independently in the application at any time, right?

[2018-07-12 11:34] wajahat-abbas commented on #7470
I suppose so because not all user applications would want to enable the power saving mode.

[2018-07-12 11:36] bcostm commented on #7492
This is normal. This parameter is used in the default function definition for the Systick configuration. As this function is declared "weak" we cannot remove its prototype.

 I suppose yes as this interrupt is used for timeouts, schedule events etc... I will add also that there is no possibility to pass a priority parameter to the us_ticker_init function.

*[Mirrored to Jira]*

[2018-07-12 11:51] ciarmcom commented on #7493
ARM Internal Ref: MBOTRIAGE-1208

[2018-07-12 11:51] ciarmcom commented on #7490
ARM Internal Ref: MBOTRIAGE-1210

[2018-07-12 11:55] stevew817 commented on #7382
If I had to take an educated guess, I'd think it has something to do with the timebases...

mbed-OS 5.9 switched to running tickless on EFM32 targets in 5.8.2 (#6475), in addition to changing the implementation and default clock frequency of the low power tickers starting with 5.9.0 (#6471 changes the Silicon Labs HAL to be compatible with the mbed API changes).

It is possible that the mbed bootl

[2018-07-12 12:05] philwareublox commented on #7470
Some applications might want to change the power saving mode from time to time.

[2018-07-12 12:14] philwareublox opened #7496 "Add new function to read Active-Time and Periodic TAU"
There is a method `opt_power_save_mode` in `AT_CellularPower` class which allows the application to use the 3GPP "Power Save Mode" Feature. However, the values provided are only a request to the network. The network may not actually allow those values to be used.

The actual values which are provide back to the UE are contained in the CEREG response, when it's mode is '4' or '5'.
`+CEREG: <stat>[,

[2018-07-12 13:25] 0xc0170 opened #7497 "Nucleo F401: LSE rtc init failure"
### Description

Locally reproduced the error we are seeing in CI today:

[code]

Got F401RE, no changes to master (using `e1df16e84 - (HEAD -> master, upstream/master) Merge pull request #7365 from jeromecoutant/PR_RTC_SHADOW (10 hours ago)` - latest master

I tested also L476 nucleo board - all passing.  From the CI logs, nucleo F401 and F7 are affected. The RTC shadow PR however passed CI (#736

[2018-07-12 13:27] 0xc0170 commented on #7497
At the moment, latest test run that failures are here https://github.com/ARMmbed/mbed-os/pull/7481#issuecomment-404488013.

[2018-07-12 13:33] 0xc0170 commented on #7497
[code]

[2018-07-12 13:43] mirelachirica commented on #7470
EasyCellularConnection doesn't provide direct access to opt_power_save_mode(), at the moment. It needs to be enhanced to support this alone or support a mechanism to give direct access to power interface to the application. Would you need a proposal patch for the first solution?

[2018-07-12 14:05] bcostm commented on #7469
@Eman869 can you please check if the PR #7498 solves this issue ? Thanks.

[2018-07-12 14:18] 0xc0170 commented on #7497
https://github.com/ARMmbed/mbed-os/pull/7487#issuecomment-404512213 - latest test result that is green

[2018-07-12 14:36] naveenkaje opened #7499 "Regression seen in Blinky application on Target nRF52840_DK"
### Description
The blinky application did not work with nRF52840_DK with ARM compiler on master branch’s tip. See details of the commits and tools used below.

- Target: NRF62840_DK
- Tool chain: ARM Compiler 5.06
- Tools used: mbed cli, built with command "mbed compile -m NRF52840_DK -t ARM”
- SHA: f4382d95b886482a707cf1249a16fd6d260f16b6  (tip as of 7/11)
- Steps to reproduce: compile blinky us

[2018-07-12 14:37] naveenkaje commented on #7499
I forgot to mention that the application builds and works fine on GCC_ARM tool chain.

[2018-07-12 14:42] TacoGrandeTX commented on #7499
My nRF52840 programs are working okay on mbed-os-5.9.2  using ARM compiler 5.

[2018-07-12 15:08] MarceloSalazar commented on #7219
Confirmed to fixed - closing

[2018-07-12 15:08] #7219 closed, assigned to nobody

[2018-07-12 15:14] MarceloSalazar commented on #7387
Confirmed that changes do work now - closing

[2018-07-12 15:14] #7387 closed, assigned to nobody

[2018-07-12 15:22] theotherjimmy commented on #7450
@tsailer Yep. I'm doing it right now. I'll include the PR in this issue when it's up.
*[Mirrored to Jira]*

[2018-07-12 15:35] theotherjimmy commented on #7454
@marcuschangarm The tools should be including the linker defines, but they can't make the IDE do the merge process.

[2018-07-12 15:41] theotherjimmy commented on #7488
@davidsaada While we did discuss that as an option, I was not left with the impression that it was a requirement.

[2018-07-12 15:51] ciarmcom commented on #7497
ARM Internal Ref: MBOTRIAGE-1214

[2018-07-12 15:54] cmonr commented on #7493
@mattbrown015 Unsure about your comment, but are you saying that this is a duplicate of https://github.com/ARMmbed/mbed-os/issues/7153?

[2018-07-12 16:00] geky commented on #7455
Agreed. I've noticed this problem for the SlicingBlockDevice/MBRBlockDevice since they share a single resource, but is it an issue for the ChainingBlockDevice? I don't think we end up with multiple ChainingBlockDevice's using one resource.

Reference counting init/deinit would solve the problem, but unfortunately it would need to be in the block device drivers.

Note that a lot of the block device

[2018-07-12 16:01] marcuschangarm commented on #7499
This should fix it: https://github.com/marcuschangarm/mbed-os/commit/eecdcd9e880c465fccd6366cefa7a54884cb48c4

[2018-07-12 16:04] mattbrown015 commented on #7493
Sorry, no, I didn't mean that.

I just meant my problem is in some way related to making it possible to use `MBED_TICKLESS` on all STM32 targets and I had seen that being discussed somewhere.  In other words, you wouldn't want to add `MBED_TICKLESS` to all STM32 targets and stop everyone's interrupts from working.

Of course I might be wrong or it might only be a problem for some STM32 variants or

[2018-07-12 16:04] edablan commented on #7454
So I'm a little confused because the .icf by default puts the mbed_app_start at 0 (assumes no soft device) Though it seems the soft device would start at 0 if it were flashed. So wouldn't I end up writing over the soft device when it came time to flash (or debug) my application using the IDE? So is the work around for me to manually flash the soft device using nRFgo studio, then editing the .icf t

[2018-07-12 16:07] theotherjimmy commented on #7454
@edablan Your project settings should include a non-default value for mbed_app_start. If they don't then that's a bug.

[2018-07-12 16:11] edablan commented on #7454
@theotherjimmy

Yes the linker tab has this set to 0x23000. Though I just tried manually writing the soft device using nRFgo studio, and then flashing the u-blox in debug mode in IAR. Still getting hard faults. This is still from the exported mbed-os-example-ble. So I have not changed any code.

[2018-07-12 16:27] deepikabhavnani commented on #7455
Calling init multiple times should not have side effects for SD driver as well. `deinit` will definitely be problem https://github.com/ARMmbed/sd-driver/blob/master/SDBlockDevice.cpp#L403

Yes reference count along with existing init flag `_is_initialized` in SD driver can resolve this.

[2018-07-12 16:42] davidsaada commented on #7455
Having an `initialized` variable for the block devices should solve the multiple init problem. As for deinit - maybe we should not call it automatically from the calling block device.

[2018-07-12 16:51] theotherjimmy commented on #7454
@edablan You may want to verify that the IAR flasher settings don't erase the whole chip.

[2018-07-12 20:11] 0xc0170 commented on #7422
The master branch contains the fix. The next release 5.9.3 will include it.

Meanwhile, to fix this issue - all we need is to have `_RTE_` macro defined in the online compiler for 5.9.2 release. Please add mbed_lib.json file with the following (if you already have the config, just add macro):

[code]

Tested, works 👍

[2018-07-12 20:17] #7440 closed, assigned to nobody

[2018-07-12 20:23] AGlass0fMilk commented on #7467
I'll take a look. I was mostly looking to test using your actual unit tests rather than just run an example.

Any idea how to configure the unit tests here: https://github.com/ARMmbed/mbed-os/tree/master/features/filesystem/littlefs/TESTS

@geky?

*[Mirrored to Jira]*

[2018-07-12 21:28] edablan commented on #7454
As far as I can tell IAR is not erasing the whole chip when I flash to debug. I have checked this by flashing to debug, then using nRFgo studio to read back out the contents of where the soft device should be in flash and then comparing that to the s132 .bin file. It passes this verification check in nRFgo studio.

Right now I am using a UBLOX-NINA-B1 on a protoboard, but was able to talk to it us

[2018-07-12 21:48] geky commented on #7467
For block devices, right now we only have one test file, and it is currently copy-and-pasted into each driver with local modifications for the block device:
https://github.com/ARMmbed/spif-driver/blob/master/TESTS/block_device/spif/main.cpp#L34

For the filesystem tests, you can run the littlefs tests on a block device with two defines, MBED_TEST_BLOCKDEVICE and MBED_TEST_BLOCKDEVICE_DECL:
[code]

[2018-07-13 05:44] yogeshk19 opened #7506 "Using Nordic NRF52 Softdevice S132 v3.1.0 in mbed-os builds prior to mbed os 5.9."
### Issue request type
[ X] Question
[ ] Enhancement
[ ] Bug

### Description
    - NRF52_DK (Nordic NRF52832)
    - GCC ARM?
    - MBED-CLI ?
    - MBED-OS 5.5.4?

Building BLE applications for the Nordic NRF52 (NRF52832) platform in MBED OS 5, prior to MBED OS 5.9 was built against Softdevice SDK 11 and the Softdevice S132 v2.0.0. My question is how do we upgrade this to build against a later so

[2018-07-13 06:14] wajahat-abbas commented on #7470
What would be the difference between first and second solution as both will allow user application to control the PSM, is that correct?

[2018-07-13 07:02] mirelachirica commented on #7470
Yes, no difference from user's perspective.

[2018-07-13 07:51] ciarmcom commented on #7506
ARM Internal Ref: MBOTRIAGE-1225

[2018-07-13 08:42] 0xc0170 commented on #7493
@ARMmbed/team-st-mcd Please review

[2018-07-13 08:45] mattbrown015 commented on #7493
This change allowed my quick and simplistic test to work:

    diff --git a/targets/TARGET_STM/gpio_irq_api.c b/targets/TARGET_STM/gpio_irq_api.c
    index 522ee9403..0758a4d09 100644
    --- a/targets/TARGET_STM/gpio_irq_api.c
    +++ b/targets/TARGET_STM/gpio_irq_api.c
    @@ -94,12 +94,25 @@ static void handle_interrupt_in(uint32_t irq_index, uint32_t max_num_pin_line)

[2018-07-13 08:51] LMESTM commented on #7493
@mattbrown015 thanks a lot for your early investigations with TICKLESS and interrupts.
I think you proposal makes a lot of sense - would you mind creating a PR with your proposal ?
If you send the PR we will run a complete non-regression tests over STM32 targets to check this doesn't have side effects.
Thanks again !

[2018-07-13 08:55] DBS06 commented on #7382
I am able to reproduce the issue on an EFM32PG12_STK3402, bud sadly I wasn't able to test it on an STM-Nucleo, because the NUCLEO_F401RE Boards which I have, don't have bootloader support. 😞
*[Mirrored to Jira]*

[2018-07-13 08:59] toyowata commented on #7422
@0xc0170 Thank you very much for your testing.
I also confirmed that adding compiler macros fixes the problem.

* Add ```_RTE_``` macros from [Compile] - [Compile macros]
<img width="409" alt="pre-defined" src="https://user-images.githubusercontent.com/4926755/42682722-55b89d18-86c6-11e8-900f-b5aba65b53f3.png">

* Then, [Compile] - [Compile All]

[2018-07-13 09:12] 0xc0170 commented on #7490
Info about RTE components  - http://www.keil.com/pack/doc/CMSIS/Pack/html/pdsc_components_pg.html#RTE_Components_h

The macro is defined by cmsis packs - Runtime environment configuration. In our case, we have this defined with components header file - where we provide our configuration for cmsis/rtx.

That should answer what it means and it does. The change of behavior for wait - nordic for insta

[2018-07-13 09:36] DBS06 commented on #7490
Thx

[2018-07-13 09:36] #7490 closed, assigned to cmonr

[2018-07-13 10:23] teetak01 commented on #7252
Thanks for the fix.

[2018-07-13 10:23] #7252 closed, assigned to nobody

[2018-07-13 11:13] david-reimondez-tridonic-com commented on #7492
We have another interrupt which must be executed every 52us and the systick interrupt is causing a jitter.
Is it possible to decrease the priority of the the Systick interrupt?

*[Mirrored to Jira]*

[2018-07-13 12:04] bcostm commented on #7492
For the Systick interrupt, I found in https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/rtx5/Source/os_systick.c#L34 that the priority is set to the lowest value (255). But I am not sure, as the `SYSTICK_IRQ_PRIORITY` macro is maybe set somewhere else ?

For the us_timer interrupt we didn't have configured the priority (excepted for the STM32F0 here https://github.com/ARMmbed/mbed-

[2018-07-13 12:33] mattbrown015 commented on #7493
@LMESTM no I wouldn't mind but I haven't done a PR before so there might be quicker approaches! :-)

[2018-07-13 12:54] LMESTM commented on #7493
@0xc0170 I'm sure Martin can help you about raising your first PR :-)

@mattbrown015  Let me try to quickly summarize what needs to be done:
1) create a fork of mbed-os in your git repo (I see you already have done this)
2) locally clone this to your computer (git clone https://github.com/mattbrown015/mbed-os.git)
3) create a git branch (git checkout -b fix_stm32_gpio_irq_deepsleep)
4) Make the pr

[2018-07-13 12:55] LMESTM commented on #7493
The longer part is about reviewing and testing, not about the PR.
@jeromecoutant  will help for the testing part anyway

[2018-07-13 13:12] 0xc0170 commented on #7493
@mattbrown015 Let us know if you need any help. As you shared diff above, I assume you are familiar with git?

[2018-07-13 13:13] #7362 closed, assigned to nobody

[2018-07-13 13:24] 0xc0170 commented on #7438
What I recall

- C++14 only (not sure about the language extension if they are supported there as well)
- dynamic heap support also lead to some target linker script updates (see #4955, added new block names that are not backward compatible)
- binary incompatibility - updating binaries we have for some targets will need to be recompiled

[2018-07-13 13:32] 0xc0170 commented on #7193
@theotherjimmy  https://github.com/ARMmbed/mbed-os/pull/7353 - was this already propagated to the compiler ? If not, when it will be?

[2018-07-13 13:46] 0xc0170 commented on #7397
`Nucleo F103RB` - what is core clock for this target? How does this compare to F4 for instance?
What profile is being used for this measurements (how high are optimization on) ?

@LaurentLouf What are your  timing requirements ?
*[Mirrored to Jira]*

[2018-07-13 14:41] theotherjimmy commented on #7193
@0xc0170 The online compiled does not run that function.

[2018-07-13 14:46] idalurf opened #7509 "W7500P rtos-Thread no target defined"
I'm working on the WIZWiki-W7500P board with the online compiler or mbed OS
I have a very common problem of no target defined for the rtos library.
I tested the example there : https://os.mbed.com/handbook/RTOS and my LEDs are blinking corrrectly and there is no compilation problem.
However, when I import the library (right click on my program folder -> import library...), I got this error.
I'm al

[2018-07-13 15:27] jeromecoutant commented on #7497
Hi

I couldn't reproduce the issue...

rm -rf BUILD
git checkout origin/master
mbed test -m NUCLEO_F401RE -t ARM -n tests-mbed_hal-sleep -DMBED_MEM_TRACING_ENABLED=1 -DMBED_HEAP_STATS_ENABLED=1 --compile
mbedgt -n tests-mbed_hal-sleep -v -V

| target            | platform_name | test suite           | test case                                     | passed | failed | result | elapsed_time (sec) |
|

[2018-07-13 15:51] ciarmcom commented on #7509
ARM Internal Ref: MBOTRIAGE-1231

[2018-07-13 17:19] cmonr commented on #7422
Closing since issue appears resolved.

[2018-07-13 17:19] #7422 closed, assigned to nobody

[2018-07-13 21:09] aashishc1988 opened #7511 "Invalid characters after UART reinitialization"
**Target**:
NUCLEO_F103RB
**Toochain**:
Arm
**MbedOS**:
mbed-os-5.9.0-rc3
**Test case**:
mbedmicro-mbed\call_before_main

While running one of the mbed tests on the NUCLEO_F103RB, we noticed an issue where htrun complained about receiving a byte it cannot decode. The test ran fine on other targets. Narrowing it down further, it seemed like the problem is on the host target. Whenever we flush out t

[2018-07-13 21:54] marcuschangarm commented on #7069
Perhaps we should disable Cryptocell support on the NRF52840 until we have a more permanent solution? At the moment it will only lead to problems under certain circumstances.

[2018-07-13 22:18] edablan opened #7513 "UBLOX-NINA-B1 (nRF52832) Serial API putc not working"
### Description

    - MTB_UBLOX_NINA_B1 (nRF52832)
    - IAR (8.20.2) using Segger J-LINK debugger
    - mbed-cli version (1.3.0)
    - mbed-os 62f8b922b

Using the provided mbed Serial API example:

[code]

The getc() works fine and receives the sent character. However, putc() returns an -1 error when it tries to transmit. Replacing SERIAL API putc() and getc() with stdio.h putchar() and getchar

[2018-07-13 23:51] ciarmcom commented on #7513
ARM Internal Ref: MBOTRIAGE-1237

[2018-07-14 12:19] shrichippabalaji opened #7514 "Singletest automated testcase MBED_24 "Timeout Int us" is failing"
### Description
- Testcase should take 1sec to complete, but taking 1.23sec.
- Implemented Using 16bit timer with 3Mhz timer and 24Mhz clock with Cortex M0 Custom board.
- The similar code on other target (Cortex M4, clock 60Mhz) by same vendor and TRM works fine.
- Any inputs to debug will be helpful, which part of code of us_ticker should i look on.
- Except MBED_24 all other singletest and gree

[2018-07-14 15:51] ciarmcom commented on #7514
ARM Internal Ref: MBOTRIAGE-1247

[2018-07-14 17:15] #7395 closed, assigned to theotherjimmy

[2018-07-16 05:11] yogeshk19 commented on #7506
I was wondering anyone from the MBED BLE team had any thoughts on this, as we are completely blocked and our production release of our product is delayed because the Nordic based BLE module was upgraded to use S132 v3.1.0 of the softdevice and the mbed builds are using S132 v2.0.0 softdevice until mbed os 5.9 where the version of the softdevice being used jumped to S132 v5.0.0.

If there is a way

[2018-07-16 07:14] bcostm commented on #7511
I looked in our internal CI test history and didn't see any problem with this test from mbed-os-5.6.6 to mbed-os-5.9.1.

I tested the NUCLEO_F103RB on `master` and I confirm that the test fails now:

[code]

*[Mirrored to Jira]*

[2018-07-16 07:14] tanoc commented on #7415
I've tested it and it looks like everything is ok now

[2018-07-16 08:04] jeromecoutant commented on #7511
Hi

I also tried this test, and result is depending on greentea version...

The exception that @bcostm has, comes with greetea version 1.4.0

With greentea version 1.3.3 test is OK even with the issue during greentea synchro:

[1531725281.70][CONN][RXD] MBED: mbed_main() call before main(▒mbedmbedmbedmbedmbedmbedmbedmbed

With #7512 , test is OK with all greentea versions

*[Mirrored to Jira]*

[2018-07-16 08:05] jeromecoutant commented on #7511
@pan-
*[Mirrored to Jira]*

[2018-07-16 08:51] bcostm commented on #7511
Seems related to PR https://github.com/ARMmbed/greentea/pull/271

*[Mirrored to Jira]*

[2018-07-16 12:18] LaurentLouf commented on #7397
@0xc0170 the core clock for this target is 72MHz, compared to 84MHz for the F4. I use the standard release profile (`--profile release`). The timing requirements are those of the OneWire protocol, so typically for the DS18B20, I should be able to wait 15µs reliably (or else I'll only read 1s)
![screenshot from 2018-06-29 16-26-09](https://user-images.githubusercontent.com/4665195/42758009-47b9fb4c

[2018-07-16 13:41] drahnr commented on #7478
It seems that this was working in 5.7 already so I'll give it a shot.

[2018-07-16 13:41] #7478 closed, assigned to nobody

[2018-07-16 14:28] bcostm commented on #7469
ST_TO_BE_CLOSED

[2018-07-16 14:50] Brools commented on #7379
Tried the same example with updated master branch. Issue is no longer there - good job :)

[2018-07-16 15:08] cmonr commented on #7415
Closing since issue appears resolved.

[2018-07-16 15:08] #7415 closed, assigned to nobody

[2018-07-16 15:15] pilotak opened #7521 "STM32 RTC initialization failed"
### Description
When I run following code and disconnect power supply and put it back on after a second, most of the time i get an error, or the app doesn't start at all, nothing helps to recover but pressing reset button - disconnecting and connecting power supply again would not restart it, it remains in "freeze" mode.

[code]

Here is the code:
[code]

running latest OS: be215a310d51c694a992e91

[2018-07-16 15:51] ciarmcom commented on #7521
ARM Internal Ref: MBOTRIAGE-1274

[2018-07-16 15:59] theotherjimmy commented on #7450
@tsailer The first half of the implementation, enhance `self.gen_file`, is done. Feel free to start working on making use of it.
*[Mirrored to Jira]*

[2018-07-16 16:31] SenRamakri commented on #7462
Hi @teetak01 - This issue is fixed by https://github.com/ARMmbed/mbed-os/pull/7061. Its currently
under review.
If you need an immediate solution you have few other options:
 1. Include "MBED_FAULT_HANDLER_DISABLED" for "macros" in targets.json for the targets you are using.
 2. Include "-DMBED_FAULT_HANDLER_DISABLED" in command line when doing "mbed compile"
I think this no longer is a blocker as

[2018-07-16 16:31] #7462 closed, assigned to nobody

[2018-07-16 16:34] edablan commented on #7513
I also verified this bug using a EVK-NINA-B1, not just my prototype board

[2018-07-16 18:39] Alex-EEE opened #7522 "K64 mbed_hal-rtc_reset test timeout"
### Description

We run mbed test nightly against a K64 board and this test seems to timeout instead of passing about 70% of the time:  Do we need to increase a timeout or something?

018-07-16T14:09:21.7366534Z mbedgt: ['mbedhtrun', '-m', u'K64F', '-p', u'COM3:9600', '-f', u'"BUILD/tests/k64f/mbed/mbed-os/TESTS/mbed_hal/rtc_reset/rtc_reset.bin"', '-e', u'"mbed-os\\TESTS\\host_tests"', '-d', 'F:',

[2018-07-16 19:30] edablan commented on #7454
@theotherjimmy

So I verified the same behavior by exporting and testing on an EVK-NINA-B1 board. To debug I used the built in USB J-Link emulator that comes stock with the EVK-NINA-B1. I used a clean clone of the mbed-os-example-ble repo, and verified the softdevice was left in flash after entering debug mode. I used the description in the above comment to verify the softdevice was left intact af

[2018-07-16 19:51] ciarmcom commented on #7522
ARM Internal Ref: MBOTRIAGE-1277

[2018-07-16 20:30] edablan commented on #7454
Also, to test another angle I compiled using the med cli (mbed compile -t IAR -m UBLOX_EVK_NINA_B1), and then programming the final image using nRFgo studio. The device does not advertise the heart rate example (advertising name HRM). So it looks like the ble stack is not running.

[2018-07-16 20:54] dreemkiller commented on #7398
Is there any update on this? Do you guys need more information?
*[Mirrored to Jira]*

[2018-07-16 23:57] c1728p9 commented on #7328
@jeromecoutant I created a PR #7524 to fix some of the problems of LPTICKER_DELAY_TICKS and TICKLESS. It doesn't fix the dropped UART bytes from entering deep sleep though. That problem will need to be fixed by a serial HAL specification or maybe even a high-priority change directly to master.

[2018-07-17 06:31] Eman869 commented on #7469
Yes, I had tested PR #7498 and it  is OK to enable HSI and LSE for peripheral LPUART.

[2018-07-17 06:32] jeromecoutant commented on #7521
Hi

About the 2 reported issues:

1. "RTC initialization failed" : this is the same as #7497. I will try again to reproduce.

2. "rtc_synchronize error" : if you go back with old code, you need to unplug your board after downloading the bin.
This is because RTC init procedure has been changed in #7365.

[2018-07-17 08:17] bcostm commented on #7469
OK thanks for confirming. Can you please close the issue ?

[2018-07-17 08:20] 0xc0170 commented on #7511
@cmonr Please review
*[Mirrored to Jira]*

[2018-07-17 08:36] davidhuziji opened #7526 "Building failed on Arm CM3DS board"
Hi,

I'm trying to run [Blinky example](https://github.com/ARMmbed/mbed-os-example-blinky) on Arm CM3DS board.
After downloading the code, I input command `mbed compile -v -t ARM -m ARM_CM3DS_MPS2` to build the example as the README requires. But an errors occurred during building.

The error log shows as below:
[code]

The mbed OS version is 5.9.
[code]

I tried GCC ARM and ARM Compiler. But both

[2018-07-17 08:59] davidhuziji commented on #7526
mbed version: 1.7.5

[2018-07-17 09:10] 0xc0170 commented on #7526
`ERROR: "/usr/bin/python3" returned error.` from the error it seems this is python 3 error

What is the version of mbed-cli ? there was a recent bugfix that should resolve this.

[2018-07-17 09:11] 0xc0170 commented on #7522
@ARMmbed/team-nxp @mprse  Please review

[2018-07-17 09:22] davidhuziji commented on #7526
@0xc0170 , thanks a lot for the reply. Could you tell me how to get the mbed-cli version?

[2018-07-17 10:08] ghseb opened #7527 "Cellular: Cancel connect"
### Description

As far as i see `EasyCellularConnection::connect()` tries to connect to cellular networks for very long duration. After a certain amount of time an application might decide to stop trying to connect. What is the suggested way of stopping the cellular state machine independent of the current state?

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-07-17 10:09] 0xc0170 commented on #7526
`mbed --version`

I am currently on 1.7.3 , python2, no errors using latest master or latest 5.9.3 release

[2018-07-17 10:12] davidhuziji commented on #7526
Mine is 1.7.5

[2018-07-17 10:19] 0xc0170 commented on #7526
Thanks for the info. We already have this reported https://github.com/ARMmbed/mbed-os/issues/7026.

I'll close this as duplicate (already referenced the original issue).

Workaround - use python 2 as you have it installed. And we will look at this issue soon

[2018-07-17 10:19] #7526 closed, assigned to nobody

[2018-07-17 11:21] mprse commented on #7522
This is my output on `K64F/GCC_ARM`:
[code]
I tried to reproduce the problem by running the tests several times using each tool-chain without success. Can you provide more information:
- does issue exists on all tool-chains on your side?
- are you running the test on the newest `master`? (I tried on `mbed-os (be215a310d51)`)
- please provide full output with increased verbosity.

The following lin

[2018-07-17 11:28] jeromecoutant commented on #7521
Hi

I couldn't reproduce the "RTC initialization failed" error...

[2018-07-17 11:44] bcostm commented on #7521
@pilotak Just to confirm: are you using a NUCLEO_F412ZG or a custom board ?

[2018-07-17 11:51] ciarmcom commented on #7527
ARM Internal Ref: MBOTRIAGE-1287

[2018-07-17 12:20] pilotak commented on #7521
custom board with RTC crystal LFXTAL009678 and main ABM3B-8.000MHZ-10  `mbed_app.json`

[code]

[2018-07-17 12:23] 0xc0170 commented on #7522
No, we haven't .

[2018-07-17 12:53] 0xc0170 commented on #7514
Can you clarify:

- how do you run the test (is it using singletest.py)? The name MBED_24 indicates that
- steps to reproduce the failure locally

[2018-07-17 12:58] 0xc0170 commented on #7509
Can you share the steps how to reproduce this locally ?
what version of Mbed OS are you using? Because the link https://os.mbed.com/handbook/RTOS is for mbed 2.

[2018-07-17 13:38] 0xc0170 commented on #7397
@ARMmbed/mbed-os-hal  Can you review these requirements? I do not see documented what shall we expect from wait API, only resolution.

@LaurentLouf From the requirements your app has, I would use ticker API. In this case, us ticker should be used
*[Mirrored to Jira]*

[2018-07-17 13:46] 0xc0170 commented on #7506
@ARMmbed/mbed-os-pan

@marcuschangarm Can you review?

[2018-07-17 14:06] cmonr commented on #7026
@devangel77b @amq Could y'all post the outputs of the following commands?
[code]
*[Mirrored to Jira]*

[2018-07-17 14:10] cmonr commented on #7511
@aashishc1988 @jeromecoutant @bcostm Could y'all post the output of the following commands?
[code]

I think htrun recently underwent a release, so it's possible the versions that y'all have installed are out of date since the Py3 fixes are really recent.
*[Mirrored to Jira]*

[2018-07-17 14:11] amq commented on #7026
@cmonr
mbed-cli: 1.7.5
python: 3.5.3
mbed-os: 5.8.6

Full list of Debian Stretch packages:

[code]

[code]
*[Mirrored to Jira]*

[2018-07-17 14:22] jeromecoutant commented on #7511
I am still using python 2.7

mbed-cli                      1.7.5       c:\python27\lib\site-packages pip
mbed-greentea                 1.4.0       c:\python27\lib\site-packages
mbed-host-tests               1.4.0       c:\python27\lib\site-packages
mbed-ls                       1.4.6       c:\python27\lib\site-packages

*[Mirrored to Jira]*

[2018-07-17 14:37] aashishc1988 commented on #7511
Here is the output
Python: 2.7.11
mbed-cli          1.7.3
mbed-host-tests   1.3.1
mbed-greentea     1.4.0
mbed-ls           1.4.6

I have tried updating htrun to latest release but still saw the failures.
*[Mirrored to Jira]*

[2018-07-17 14:38] Alex-EEE commented on #7522
We're using a custom written plugin to flash with Seggar j-link instead of DAPLink.  We'll take a look at the reset code.  The problem is probably on our end if it's working for yall.  Thanks for the look!

[2018-07-17 14:38] #7522 closed, assigned to nobody

[2018-07-17 15:10] theotherjimmy commented on #7454
AH!

We support 7.80 on export and compile. This may be your problem.

[2018-07-17 15:27] bcostm commented on #7511
Python 2.7.13

$  pip list --verbose | grep mbed
mbed-cli         1.7.3       c:\python27\lib\site-packages
mbed-greentea    1.4.0       c:\python27\lib\site-packages
mbed-host-tests  1.3.1       c:\python27\lib\site-packages
mbed-ls          1.4.5       c:\python27\lib\site-packages

*[Mirrored to Jira]*

[2018-07-17 15:57] theotherjimmy commented on #7433
@drahnr You'll want to use --no-archive or similar option, as some weak symbols break on arm compiler.
*[Mirrored to Jira]*

[2018-07-17 16:02] drahnr commented on #7433
@AGlass0fMilk @theotherjimmy I am running in plenty of undefined symbols (even with `--no-archive --lib`) when trying to create a two stage build.
*[Mirrored to Jira]*

[2018-07-17 16:10] drahnr commented on #7433
mbed-os 5.7 for NRF52832 WITHOUT softdevice
[code]

`custom_targets.json` exceprt for our target
[code]

`mbed_app.json` excerpt

[code]

when using this from commandline:

[code]
I am not sure how else I would pass all of this infor to the stage one mbed-os build to the mbed-cli?
*[Mirrored to Jira]*

[2018-07-17 17:58] edablan commented on #7454
@theotherjimmy

I just exported using version 7.80.4, and still seeing the same behavior. Attempted using both built in J-LINK emulator, and using an external J-LINK debugger. I also compiled the BLE_HEARTRATE example using the mbed-cli and then programming the final .hex file with the soft device merged, and I cannot see it advertising.

[2018-07-17 18:13] TacoGrandeTX commented on #7506
Hi Yogesh,

You are correct - we support the Nordic SoftDevice v2.0.0 (from the Nordic 11.0 SDK) and we just added support for SoftDevice v5.0.0 from the Nordic 14.2 SDK.  We have no plans to provide support for the older 3.x or 4.x SoftDevices.  However we are interested in helping you if we can.  Please email us from your employer's email domain at support@mbed.org and we'll continue the dialogu

[2018-07-17 18:20] theotherjimmy commented on #7433
@drahnr You're missing the destination of `--build`, but assuming you have one, that command should work.

Other than that, I don't know what could be going wrong. You could look at the macros in `mbed_config.h` and on the command line to see if it's missing something important.
*[Mirrored to Jira]*

[2018-07-17 18:22] theotherjimmy commented on #7454
Thanks for giving it a go @edablan. Does the application get stuck somewhere? does @marcuschangarm have any ideas on how we could debug this?

[2018-07-17 18:36] edablan commented on #7513
Ok i built this using IAR 7.80.4 and the problem goes away. Since mbed is only offically supporting 7.8 I will go ahead and close this bug.

[2018-07-17 18:37] #7513 closed, assigned to nobody

[2018-07-17 19:06] SenRamakri commented on #7400
Hi @LiyouZhou, For each timer created using osTimerNew(or some wrapper over it), we can also add a callback function and this callback gets called in osRtxTimerThread. And if such callback functions are using too much of stack you may see the stack overflow on timer thread. In order to debug your issue further I would suggest you to put a breakpoint in https://github.com/ARMmbed/mbed-os/blob/maste

[2018-07-17 19:06] #7400 closed, assigned to nobody

[2018-07-17 19:50] marcuschangarm commented on #7454
I went back and took another look at the linker script and there is a bug in the memory allocation. Can you try this PR and see if it works please? https://github.com/ARMmbed/mbed-os/pull/7533

[2018-07-17 20:30] davidsaada commented on #7455
OK, will handle it.

[2018-07-17 21:14] edablan commented on #7454
@marcuschangarm

Yes the BLE_HeartRate example now runs and advertises. However, when it tries to connect from an iOS, Android, or Windows device it does not connect. I guess this is out of the scope from the original issue. Do you want me to close this issue since it fixes the hard fault issues occurring on the BLE stack, and create a new one under the mbed-os-example-ble repo?

[2018-07-18 03:29] TomoYamanaka commented on #7155
@theotherjimmy
I'd really appreciate it if you could give me any information.
Also would this issue update by https://github.com/ARMmbed/mbed-os/pull/7410 ?

[2018-07-18 06:13] davidhuziji commented on #7526
@0xc0170 Thanks. Maybe a irrelevant question. May I know how to force mbed to use Python 2 in Ubuntu which uses Python 3 by default? Using Python virtualenv or any other more easy way?

[2018-07-18 07:08] idalurf commented on #7509
Well you right, I found my mistake. The online compiler is automatically importing mbed os 2.0 and you can't access to mbed os 5 from there (they should really change this because it is confusing).
I am now using mbed os 5.0 + WIZnetInteface for mbed os 5.0 and it seems good.
Thank you for your reply !

[2018-07-18 07:08] #7509 closed, assigned to nobody

[2018-07-18 10:15] andrew-mclachlan commented on #6954
Confirming that this Issue has been fixed for CrossCore Embedded Studio (CCES) version 2.9.0.

[2018-07-18 10:39] ghost opened #7535 "test: some cases are failing with GCC_ARM for Toshiba's TMPM3H6"
### Description

**Target:**
Toshiba's TMPM3H6

**TMPM3H6 Memory:**
RAM - 16K and Flash - 128K

**ToolChain:**
GCC_ARM

**Issue:**
Following test cases failed on TMPM3H6 with GCC_ARM - failed for memory allocation on each case. ARM or IAR had passed with no error.
- features-tests-filesystem-buffered_block_device
- features-tests-filesystem-heap_block_device
- features-tests-filesystem-mbr_block_d

[2018-07-18 11:51] ciarmcom commented on #7535
ARM Internal Ref: MBOTRIAGE-1301

[2018-07-18 12:54] SierpG opened #7537 "Greentea key-value pairs are messed up by other threads."
### Description

I am writing tests for a mbed application using greentea. In my test suits it is necessary to have several threads. My problem is the following:

Thread 1 sends with greentea_send_kv a key-value pair and waits with greentea_parse_kv for the result of the host test.
At the same time thread 2 writes with debug() or utest_printf some information to the UART.
If this happens at the sa