[2017-10-18 14:31] FusedShadowX commented on #5333
Yes I have the ld flags. As @pan- said it must be PlatformIO's problem. I'll report it to them. Thanks everyone for your instant help.

[2017-10-18 16:03] chrissnow opened #5341 "FATFS: mkfs"
### Description
- Type: Bug
- Related issue:
- Priority: Blocker Minor

---------------------------------------------------------------
## Bug
If you have a device that has 4096 512/528b sectors and try to format without specifying the AU it fails.
https://github.com/ARMmbed/mbed-os/blob/20d93bf78d5172b6a0f1c1065058d641e4e0f2e1/features/filesystem/fat/ChaN/ff.cpp#L4172-L4174
Which results in FAT16

[2017-10-18 21:36] donpowrie opened #5343 "Cannot export MBED to uVision for ARM STMicro Nucleo"
Have been trying to export to Keil uVision from MBED for a while now and keep getting the same error:
"An error occurred during export.  Please contact support."

Tried exporting a simple blinking LED project to multiple Nucleo boards (L476, F072, etc).

Anyone know of a workaround?

Or how to contact support?

I was able to perform the export numerous times a few months back...

Thx.

[2017-10-18 22:22] DaVolfman commented on #3216
You may say that but I'm looking at this exact problem right now or something with identical symptoms.

[2017-10-18 23:03] theotherjimmy commented on #3216
@DaVolfman The uvision exporter does not work on the website right now. Could it just be affecting that? Are you sure it's all targets as well?

[2017-10-19 12:41] fkjagodzinski commented on #5150
#5347 resolves this issue for _**K64F**_ board.

---

However, for _**K64F**_ `LowPowerTimeout` behaviour is quite strange _immediately after board power up_, e.g. for `TEST_DELAY_US` set to `30000ULL`:
[code]

@bulislaw @0xc0170 I suppose this should be reported as another issue, right?
Regualr `Timeout` works as expected.

[2017-10-19 12:44] 0xc0170 commented on #5150
yes , different issue, separate issue needed for  this one.

[2017-10-19 14:04] fkjagodzinski commented on #5150
I checked **NUCLEO_F070RB** and **NUCLEO_L476RG** boards on current master e1090cafe and the behaviour described here does not show. e15ebd3c5 fixed this issue.

[2017-10-19 14:04] fkjagodzinski commented on #5150
To sum up, whenever #5347 gets merged upstream, issue can be closed.

[2017-10-19 14:36] fkjagodzinski commented on #5159
#5289 fixes this issue for all NUCLEO boards mentioned above.
@LMESTM Thank you and sorry for the delay!

[2017-10-19 14:36] #5159 closed

[2017-10-19 15:16] fkjagodzinski opened #5348 "K64F: LowPowerTimeout: Inaccurate delay after board power up"
### Description
- Type: Bug
- Related issue: #5150
- Priority: Minor

## Bug

**Target**
K64F

**Toolchain**
GCC_ARM, ARM, IAR

**Toolchain version**
GCC_ARM -- _6.3.1_,
ARM -- _5.24 (Flex) ARM Compiler 5.06 update 5 (build 528)_,
IAR -- _ANSI C/C++ Compiler V7.80.4.12462/W32 for ARM_

**mbed-cli version**
1.2.0

**mbed-os sha**
e1090cafe

**Code**
[code]

**Expected behavior**
When the board is p

[2017-10-19 15:19] 0xc0170 commented on #5308
@danclement Any update?

[2017-10-19 15:36] danclement commented on #5308
Sorry, no updates yet.  Resource and priority issues.  Same for the other issues.

We talked to @maclobdell about this and we discussed that we need some time to resolve, likely several weeks.

[2017-10-19 15:55] danclement opened #5349 "I2C driver port missing a command, can get stuck in loop forever"
### Description
From if section below there is no operator that increments the write variable causing the system to get stuck in while loop forever.

Reviewing the code it's apparent that a line of code was missed from the HAL port.

The fix is to add write++ at the end of the if section.  This needs to be implemented and checked in mbed but in our other SDK it exists and is tested so the risk is

[2017-10-19 20:52] DaVolfman commented on #3216
I was trying for sw4stm32 and that didn't work.  Also GCC-ARM (I probably
got the string wrong here) didn't work.  Everything I tried didn't work
with mbed-dev as my library.  I could get an export to complete with
straight mbed, but the project won't build because Eclipse keeps looking
for mbed_config.h in some random temp directory and not finding it.  I
would really like to get this to work in

[2017-10-19 21:22] theotherjimmy commented on #3216
@DaVolfman

Have you tried Mbed CLI? You can use Mbed CLI on Linux to build things. I do it all the time (it's basically the only way I build Mbed OS).

[2017-10-19 21:25] theotherjimmy commented on #3216
Dang. I'll make a note to try that one out in the future. It should probably work. That being said, mbed-dev is not the way I would go about doing development. I recommend using Mbed OS 5 (this repo). You will probably find that, with the exception of the RTOS, most of the code can be garbage collected out.

[2017-10-20 09:27] kjbracey-arm opened #5350 "K64F: SPI dummy data not working as intended"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F (and other Freescale?)

**mbed-os sha:**
6e0d01cd13

**Expected behavior**
When RX len > TX len in SPI block write,  the excess TX bytes should be the fill value.

**Actual behavior**
It actually reads off the end of the TX buffer and transmits those bytes.

The co

[2017-10-20 10:30] pilotak opened #5351 "STM32 CAN filter"
I would like to set up CAN filtering so that i receive only `ID=0xFF0080` and don't care about last byte (0x80) and bytes before so the mask i expect would be `MASK=0xFFFF00`, but when i run following code and start sending CAN messages I will receive all messages `0xFF00xx`, `0xFF01xx`, `0xFF05xx` etc. however messages below `0xFF00xx` are rejected so the filter partly works.

Also as well the `h

[2017-10-20 17:33] geky commented on #5341
Thanks for raising this!

internal prioritization [IOTMORF-1634](https://jira.arm.com/browse/IOTMORF-1634)

[2017-10-21 11:08] chrissnow opened #5357 "Uvision5: export from within a sub folder"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
Any
**Toolchain:**
ARM, possibly others

**Expected behavior**
Export's a valid project, or refuses to export.
**Actual behavior**
Export's a project but the paths are all wrong

**Steps to reproduce**
[code]
Works as expected and creates a project in the normal place.

[2017-10-22 10:13] #5333 closed

[2017-10-23 09:29] #5265 closed

[2017-10-23 10:15] ghseb opened #5361 "Add set_reboot_execute_callback method to M2MDevice"
### Description
- Type: Enhancement
- Priority: Minor

---------------------------------------------------------------
## Enhancement

**Expected behavior**
A Reset Execute Callback can be set for the Reboot resource of M2MDevice.

**Actual behavior**
It seems that it is currently not possible to set a callback which is called when execute is called on the Reboot resource of M2mDevice.

----------

[2017-10-23 13:15] TeroJaasko opened #5362 "mkdir() and stat() do not set errno on all error cases"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
1.2.0

**mbed-os sha:**
6e0d01c (HEAD, tag: mbed_lib_rev153, tag: mbed-os-5.6.2, origin/

[2017-10-23 13:22] maciejbocianski commented on #5309
ping

[2017-10-23 13:24] maciejbocianski commented on #5307
ping

[2017-10-23 13:26] maciejbocianski commented on #5185
fix moved to https://github.com/ARMmbed/mbed-os/pull/5347

[2017-10-23 15:16] jorisa opened #5364 "Reduce HAL code duplication"
With the crazy amount of targets that are now supported also comes a crazy amount of duplicated code. Now that the mbed build system is getting more and more sophisticated, would it be an idea to create a HAL for a specific peripheral, and than bind these to a specific target using the target json?

I'm not sure how well this would work out in practice as there might be variations between differen

[2017-10-23 16:30] maciejbocianski commented on #5185
fixed since release-version: 5.6.4

[2017-10-23 16:30] #5185 closed

[2017-10-23 20:42] theotherjimmy commented on #3216
@DaVolfman  Were you able to get something working? I'm taking a look into the exporter issue that you reported, and I would l like to get some more information so that I can reproduce the issue.
 * Was this export online? That is from the developer.mbed.org or os.mbed.com websites?
 * Is `mbed-dev` the only library that you are using?
 * What version of `mbed-dev` are you using?
 * What target ar

[2017-10-23 21:11] theotherjimmy commented on #3216
I just took a look about, and it looks like the Online IDE has a "GCC (Code Sourcery)" option, which does nothing, as it's not an exporter. Further, the SW4STM32 does not seem to care about it's [list of supported targets](https://github.com/ARMmbed/mbed-os/blob/master/tools/export/sw4stm32/__init__.py#L36-L257) and allowed me to try to export for LPC824 (which is not in that list). Maybe you ran

[2017-10-23 21:13] 0xc0170 commented on #5364
Usually this is true for MCU families (even acros some families within the same vendor). This use-case is covered in SDK that come from a vendor (very often). For instance mcuxpresso from NXP, emblib drivers for EFM32. We can look at Silicon labs efm32 HAL, STM32 HAL or NXP MCUXpresso HAL.

As those examples (many LPC targets that were ported some time ago), they are targets that are older and bac

[2017-10-23 22:34] DaVolfman commented on #3216
This export was online.  This is for an Embedded elective and the Mbed
webapp and Uvision 5 are the only tools I'll be getting any external
support on.  In this case mbed-dev was the only library in use in these
projects.  The version of mbed-dev (especially being online) is whatever is
the latest in the repositories.  I'm trying to export for an STM32F446RE
Nucleo board.  The reason mbed-dev was

[2017-10-23 23:23] theotherjimmy commented on #3216
Thanks for the detailed explanation! I'm going to look into these failing exports in the next few days. If I'm not mistaken:
 * GCC_ARM - Fails to export for a project using mbed-dev and NUCLEO_F401RE, NUCLEO_F446RE
 * EMbitz, same as GCC_ARM
 * SW4STM32, Garbage temp path for linker script.
 * uVision5, Works

For now, I think that uVision is a good option. I'll let you know when I track down tho

[2017-10-24 01:56] toyowata commented on #5266
@theotherjimmy
Now, I got error below:
[code]

[2017-10-24 06:54] andrewc-arm opened #5367 "[UBLOX_EVK_ODIN_W2] blinky abnormal"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.4.1

**mbed-cli version:**
(`mbed --version`)
1.2.0

**mbed-os sha:**
(`git log -n1 --oneline`)
Tried both mbed-os maste

[2017-10-24 10:38] maiorfi opened #5368 "NUCLEO_F103RB: Operator new[] out of memory on Thread::start"
### Description
- Type: Bug | Question
- Related issue: `#4570`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F103RB

**Toolchain:**
GCC_ARM

**Toolchain version:**
6 2017-q2-update

**mbed-cli version:**
1.2.2

**mbed-os sha:**
6e0d01cd1 (HEAD, tag: mbed_lib_rev153, tag: mbed-os-5.6.2, tag: latest) Merge pull request #5268 from ARMm

[2017-10-24 13:57] fkjagodzinski commented on #5150
#5347 merged upstream; The issue is fixed for all targets listed above.

[2017-10-24 13:57] #5150 closed

[2017-10-24 14:13] theotherjimmy commented on #5266
@toyowata Confirmed with `mbed_blinky` using the most recent version of `mbed` and an LPC824. I'll have a deeper look today.

[2017-10-24 14:17] theotherjimmy commented on #5266
Ah, it looks like there is no ARM build for these targets in 5.6.3's mbed 2 release. There will be one in 5.6.4, so we'll see that tomorrow.

[2017-10-24 16:54] moonchen commented on #3610
I'm thinking of writing a patch that fixes this by moving the size metadata into a separate structure, indexed by the address of the allocation.  This would prevent memory corruption that occurs due to un-wrapped functions.  Un-wrapped functions would still result in potentially incorrect stats.  This fix is not directly targeted at uVisor, but rather the problem of unwrapped functions in general.

[2017-10-24 16:59] geky commented on #5362
Easy fix, thanks for reporting: https://github.com/ARMmbed/mbed-os/pull/5373

[2017-10-24 20:45] klaas019 commented on #4576
Works as of mbed-os-5.5.7

[2017-10-24 20:47] klaas019 commented on #3835
Works as of mbed-os-5.5.7

[2017-10-24 20:51] chrissnow commented on #4576
Was it properly fixed or just the MTS workaround that was implemented?

[2017-10-24 20:58] klaas019 commented on #4576
It was properly fixed, not sure in what version though just as of 5.5.7.

[2017-10-24 21:09] chrissnow commented on #5367
Looking at the schematic the LED will be on with logic low which is default.
relates to #4035

[2017-10-24 21:28] 0xc0170 commented on #4576
It would be good if the patch referenced the issue, can you provide the number, we could close this as resolved.

[2017-10-24 21:29] 0xc0170 commented on #5367
cc @andreaslarssonublox @andreaspeterssonublox

[2017-10-24 21:33] klaas019 commented on #4576
I don't know what patch you're referring to. All I know is it didn't work in mbed-os-5.4.7, and now works in mbed-os-5.5.7 and praying to the mbed-os gods that it works in later versions as well.

[2017-10-24 21:45] 0xc0170 commented on #4576
I would like to locate a pull request that fixed this bug (it is not referenced, so possibly some L1 patch did fixed this) . @mfiore02 Can you confirm?

I am currently going through the git log for L1 targets, and can't find the commit that would be related and possibly fixed.

[2017-10-24 21:46] pavels opened #5374 "NUCLEO_F446RE: CAN RX interrupt ends up in infinite loop"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F446RE

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (Arch Repository) 7.1.0

**mbed-cli version:**
1.2.0

**mbed-os sha:**
cc7556a92 (HEAD, tag: mbed_lib_rev152, tag: mbed-os-5.6.1, tag: latest, origin/mbed-os-5.6)

---

Something is wrong wi

[2017-10-24 21:54] chrissnow commented on #4576
I also couldn't see anything that would have fixed it, MTS put a fix in their library so that on wake it hid the problem, There was a debug message each time it woke up to say so.

@0xc0170  I heard @mfiore02 is no longer at MTS so it might be worth tagging someone else too.

[2017-10-24 22:09] klaas019 commented on #4576
Yes @mfiore02 left MTS.

[2017-10-25 08:18] kjbracey-arm opened #5378 "EventQueue should use RTOS tick count"
Event queue porting layer is unnecessarily complicated for the RTOS environment - using Tickers and Timers to manage its time base. This in turn led to this patch to allow tuning of its timing: https://github.com/ARMmbed/mbed-os/pull/5328 - original discussion of this issue occurred there.

In the RTOS, the event queue only actually needs to be able to check current tick count to determine elapsed

[2017-10-25 12:34] teetak01 opened #5380 "Multiple Targets does not build with IAR8.2"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F429ZI,
B96B_F446VE,
DISCO_F413ZH,
DISCO_F429ZI,
DISCO_F469NI,
DISCO_F746NG,
DISCO_F769NI,
DISCO_L475VG_IOT01A,
DISCO_L476VG,
MTS_DRAGONFLY_F411RE,
MTS_MDOT_F411RE,
NUCLEO_F207ZG,
NUCLEO_F303RE,
NUCLEO_F303ZE,
NUCLEO_F401RE,
NUCLEO_F410RB,
NUCLEO_F411RE,
NUCLEO_F

[2017-10-25 13:32] andreaslarssonublox commented on #5367
Hi,
For the ODIN board we could probably add some default initialization of the LED pins somewhere in the initialization of the HAL. There is a function called HAL_MspInit that is used for this purpose I think. The problem is that it does not seem to be possible to override it((weak in stm32f4xx_hal.c)) because it's defined in this file:
mbed-os\targets\TARGET_STM\TARGET_STM32F4\device\stm32f4xx_h

[2017-10-25 13:55] jeremybrodt commented on #5309
@jessexm

[2017-10-25 15:17] bulislaw commented on #5368
Your board has 20K of ram, you have 3 threads 4K for stack each, plus another 2.5K for system threads that's almost 15k just for stack mem. I'm guessing you are just running out of memory. Try making the stacks smaller: https://github.com/ARMmbed/mbed-os/blob/b83b0b1678002682871fd47e6cfedde386f57591/rtos/Thread.h#L80 you can also overwrite the main thread's stack adding `MAIN_STACK_SIZE` in mbed_a

[2017-10-25 16:07] maiorfi commented on #5368
Using following mbed_app.json everything starts correctly:

[code]

Thanks.

[2017-10-25 16:07] #5368 closed

[2017-10-25 16:29] 0xc0170 commented on #5380
cc @deepikabhavnani This was reported in IAR8 PR I believe, the same report, but for ODIN device.

This looks like STM32F4 problem in the hal.

cc @ARMmbed/team-st

[2017-10-25 16:30] theotherjimmy opened #5382 "Tracking issue for IAR 8 library updates"
Each library in the following list must be re-compiled with IAR EWARM 8.20 to support the upcoming Mbed OS release 5.7.0 and onward. Please make pull requests containing the updated libraries to the branch `feature-iar8`.

These are the outstanding libraries:
 - [ ] targets/TARGET_ARM_SSG/TARGET_BEETLE/TOOLCHAIN_IAR/libcordio.0.0.2.a
 - [ ] targets/TARGET_ARM_SSG/TARGET_BEETLE/TOOLCHAIN_IAR/libcor

[2017-10-25 16:36] theotherjimmy opened #5383 "Tracking issue for Arm Compiler 6 library updates"
Each library in the following list must be recompiled with Arm Compiler 6 to support the upcoming Mbed OS release 5.7.0 and onward. Please make pull requests to the branch `feature-armc6` containing the updated libraries.

These are the outstanding libraries:
 - [ ] targets/TARGET_ARM_SSG/TARGET_BEETLE/TOOLCHAIN_ARM_STD/libcordio.0.0.2.ar
 - [ ] targets/TARGET_ARM_SSG/TARGET_BEETLE/TOOLCHAIN_ARM_S

[2017-10-25 16:40] 0xc0170 commented on #5367
I would use `mbed_sdk_init` but that is for F4 also predefined and invokes some other functions that are mostly related to clocks (SetSysClock, etc). It could provide hooks for F4 targets that might require a bit more setup (board specific).

[2017-10-25 16:47] theotherjimmy commented on #5382
@SeppoTakalo We would also like to see a new nanostack build for IAR 8.20 by 5.7.0.

[2017-10-25 16:48] deepikabhavnani commented on #5380
__LDREXW, __STREXW and many other defines are update in 8.2 version "arm/inc/c/cmsis_iar.h"

FYI, Pull request for IAR8 fixes should be against branch `feature-iar8`, CI testing for IAR8.2 will be enabled for only feature branch.

[2017-10-25 18:44] deepikabhavnani opened #5384 "CircularBuffer API - Error checking"
CirculerBuffer API has support to set the CounterType, but check is not performed to make sure BufferSize should not exceed CounterType.  https://github.com/ARMmbed/mbed-os/blob/master/platform/CircularBuffer.h#L29

template<uint32_t, (> size of char), char>buf;

[2017-10-26 09:20] reanovich commented on #3495
I got this problem too when I'm using EthernetInterface library with mbed v154 and mbed-rtos v125
To resolve this issued I have found 2 dumb solutions:
1. Delete those two lines at **k64f_emac.c** which contain **g_handle.rxBdDirty**
2. Use mbed v120 and mbed-rtos v114

the problem occur because there is no **rxBdDirty** in _enet_handle_t struct. You can find this struct initiation [here](https://

[2017-10-26 10:55] maciejbocianski opened #5386 "malloc unexpected behaviour on GCC_ARM compiler"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
all

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc version 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437] (GNU Tools for ARM Embedded Processors 6-2017-q2-update)

**mbed-cli version:**
1.2.0

**mbed-os sha:**
38ba693c5

**Expected behavior**
When

[2017-10-26 15:34] deepikabhavnani commented on #5380
Failing Targets: B96B_F446VE, DISCO_F413ZH, DISCO_F429ZI, DISCO_F469NI,  DISCO_F746NG, DISCO_F769NI, DISCO_L475VG_IOT01A, DISCO_L476VG

http://mbed-os.s3-website-eu-west-1.amazonaws.com/?prefix=builds/5329/FAIL/

[2017-10-26 15:47] deepikabhavnani opened #5387 "Mbed test linker Errors - IAR8"
Mbed test build fails on IAR8 feature branch with below error, refer PR #5329 for more information:
[code]
### Description
- Type: Bug
- Priority: Blocker

**Target**
KL25Z and KL46Z

**Toolchain:**
IAR8.2

[2017-10-26 19:57] 0xc0170 commented on #5387
Is this included also with dynamic heap support for IAR8 ? I assume not.

[2017-10-26 20:05] 0xc0170 commented on #5380
Can you include those definitions here for comparision (v7 vs v8) ? The latest cmsis5 versions have this cmsis_iar already included, see here https://github.com/ARM-software/CMSIS_5/blob/develop/CMSIS/Core/Include/cmsis_iccarm.h (does this headerfile match regarding this macros update) ? Not certain which one is valid for these targets (either intrisict from iar built in or implementation provided

[2017-10-26 21:13] deepikabhavnani commented on #5387
It is with dynamic heap support. Got the issue on dynamic heap PR

[2017-10-26 22:02] deepikabhavnani commented on #5380
Definition in IAR7.8
[code]
Replaced in IAR8.2 with builtin define
`#define __LDREXW  __iar_builtin_LDREX`

[2017-10-27 11:09] zhanghongyuanvg opened #5388 "Transplantation of mbed os"
Hi.
I want to transplant the mbed operating system to the nucleo_f072rb development board under Linux. What should I do?

[2017-10-27 12:38] adustm opened #5389 "NUCLEO_L476RG : LPUART1 cannot be used"
### Description
- Type: Bug
- Related issue: https://os.mbed.com/questions/79373/How-can-I-use-LPUART-on-NUCLEO_L476RG/
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

**Expected behavior**
being able to use : `Serial lpuart_port0(PC_1, PC_0);`
**Actual behavior**
using `Serial lpuart_port0(PC_1, PC_0); `
compiles, but at runti

[2017-10-27 12:49] adustm commented on #5389
The problem is that the LPUART baudrate can only be in the range of
[sys_clk / 4096 ... sys_clk / 3]
STM32L476RG is initialized at 80MHz, and the default baudrate is 9600.
It cannot work.
Lowering the system clock would restrain the clock for many IPs of the microcontroler. We are not in favour of this fix.

**Question for armteam** is it acceptable to initialise some instances of UART with a diff

[2017-10-27 12:50] R1oT01 commented on #5386
On custom Board with STM32F072VB - same toolchain but on Eclipse:
Is this relevant?

`max_mbed_heap_size: 0 <\r><\n>
mbed_heap_start: 20002680 <\r><\n>
mbed_heap_size: 5504 <\r><\n>
data: 0x0`

Best regards
Chris

[2017-10-27 15:22] 0xc0170 commented on #5389
Either that or init should not touch baudrate, and upper layer is expected to set format via another API (thus Serial is doing a seq init, format).

@bulislaw @c1728p9 note this

because the SerialBase function first calls serial_init (with default baud = 9600, which leads to mbed_error in our case), then calls serial_baud

OK, so 9600 cannot be set for some serial modules (in this case lpuart) ?

[2017-10-27 15:24] 0xc0170 commented on #5388
Can you please provide more details. What are you having problems with? Is it mbed-os development under linux?

Is there something missing in our documentation pages: https://docs.mbed.com ?

[2017-10-27 15:51] bulislaw commented on #5307
@danclement @jacobjohnson-ON @maclobdell @0xc0170 ping

[2017-10-27 16:46] 0xc0170 commented on #5307
I am looking at this, I noticed one issue with fire interrupt, I'll send a fix.

@maciejbocianski Can you retest with these changes

`fire_interrupt` should be
[code]

This might help, then we shall check as mentioned above, two isr routines.

[2017-10-27 16:52] 0xc0170 commented on #4576
resolved as confirmed above.

Thanks @klaas019

[2017-10-27 16:52] #4576 closed

[2017-10-27 17:50] 0xc0170 commented on #5357
cc @theotherjimmy

[2017-10-27 18:09] 0xc0170 commented on #5351
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-10-27 19:00] ChiefBureaucraticOfficer commented on #2315
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:00] #2315 closed

[2017-10-27 19:00] ChiefBureaucraticOfficer commented on #2296
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:00] #2296 closed

[2017-10-27 19:01] ChiefBureaucraticOfficer commented on #3138
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:01] #3138 closed

[2017-10-27 19:01] ChiefBureaucraticOfficer commented on #3153
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:01] #3153 closed

[2017-10-27 19:01] ChiefBureaucraticOfficer commented on #3154
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:01] #3154 closed

[2017-10-27 19:02] ChiefBureaucraticOfficer commented on #3155
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:02] #3155 closed

[2017-10-27 19:02] ChiefBureaucraticOfficer commented on #3263
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:02] #3263 closed

[2017-10-27 19:02] ChiefBureaucraticOfficer commented on #3027
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:02] #3027 closed

[2017-10-27 19:02] ChiefBureaucraticOfficer commented on #3440
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:02] #3440 closed

[2017-10-27 19:03] ChiefBureaucraticOfficer commented on #3507
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:03] #3507 closed

[2017-10-27 19:03] ChiefBureaucraticOfficer commented on #506
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:03] #506 closed

[2017-10-27 19:03] ChiefBureaucraticOfficer commented on #53
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:03] #53 closed

[2017-10-27 19:04] ChiefBureaucraticOfficer commented on #68
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:04] #68 closed

[2017-10-27 19:04] ChiefBureaucraticOfficer commented on #290
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:04] #290 closed

[2017-10-27 19:04] #518 closed, assigned to nobody

[2017-10-27 19:05] ChiefBureaucraticOfficer commented on #939
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:05] #939 closed

[2017-10-27 19:05] ChiefBureaucraticOfficer commented on #927
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:05] #927 closed

[2017-10-27 19:05] ChiefBureaucraticOfficer commented on #898
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:05] #898 closed

[2017-10-27 19:05] ChiefBureaucraticOfficer commented on #896
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:05] #896 closed

[2017-10-27 19:06] ChiefBureaucraticOfficer commented on #890
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:06] #890 closed

[2017-10-27 19:06] ChiefBureaucraticOfficer commented on #871
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:06] #871 closed

[2017-10-27 19:06] ChiefBureaucraticOfficer commented on #886
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:06] #886 closed

[2017-10-27 19:06] ChiefBureaucraticOfficer commented on #1098
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:06] #1098 closed

[2017-10-27 19:07] ChiefBureaucraticOfficer commented on #795
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:07] #795 closed

[2017-10-27 19:07] ChiefBureaucraticOfficer commented on #786
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:07] #786 closed

[2017-10-27 19:07] ChiefBureaucraticOfficer commented on #1153
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:07] #1153 closed

[2017-10-27 19:07] ChiefBureaucraticOfficer commented on #1069
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:07] #1069 closed

[2017-10-27 19:07] ChiefBureaucraticOfficer commented on #1068
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:07] #1068 closed

[2017-10-27 19:07] ChiefBureaucraticOfficer commented on #1064
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:07] #1064 closed

[2017-10-27 19:09] #1018 closed

[2017-10-27 19:09] #1036 closed

[2017-10-27 19:09] #1056 closed

[2017-10-27 19:09] #1063 closed

[2017-10-27 19:09] #1237 closed

[2017-10-27 19:09] #1244 closed

[2017-10-27 19:09] #1255 closed

[2017-10-27 19:09] #1258 closed

[2017-10-27 19:09] #1284 closed

[2017-10-27 19:09] #1307 closed

[2017-10-27 19:09] #1333 closed

[2017-10-27 19:09] #1334 closed

[2017-10-27 19:09] #1335 closed

[2017-10-27 19:09] #1336 closed

[2017-10-27 19:09] #1401 closed

[2017-10-27 19:09] #1409 closed

[2017-10-27 19:09] #1447 closed

[2017-10-27 19:09] #1454 closed

[2017-10-27 19:09] #1465 closed

[2017-10-27 19:10] #1382 closed

[2017-10-27 19:10] #1498 closed

[2017-10-27 19:10] #1518 closed

[2017-10-27 19:10] #1524 closed

[2017-10-27 19:10] #1536 closed

[2017-10-27 19:10] #1592 closed

[2017-10-27 19:10] #1703 closed

[2017-10-27 19:10] #1717 closed

[2017-10-27 19:10] #1727 closed

[2017-10-27 19:10] #1733 closed

[2017-10-27 19:10] #1841 closed

[2017-10-27 19:10] #1842 closed

[2017-10-27 19:10] #1866 closed

[2017-10-27 19:10] #1882 closed

[2017-10-27 19:10] #1939 closed

[2017-10-27 19:10] #1987 closed

[2017-10-27 19:10] #1991 closed

[2017-10-27 19:10] #2091 closed

[2017-10-27 19:10] #2111 closed

[2017-10-27 19:10] #2152 closed

[2017-10-27 19:10] #2181 closed

[2017-10-27 19:10] #2217 closed

[2017-10-27 19:10] #3148 closed

[2017-10-27 19:10] #3149 closed

[2017-10-27 19:10] #1989 closed

[2017-10-27 19:10] #2004 closed

[2017-10-27 19:10] #2007 closed

[2017-10-27 19:10] #2251 closed

[2017-10-27 19:10] #2294 closed

[2017-10-27 19:10] #2326 closed

[2017-10-27 19:10] #2350 closed

[2017-10-27 19:10] #2370 closed

[2017-10-27 19:10] #2383 closed

[2017-10-27 19:10] #2407 closed

[2017-10-27 19:10] #2449 closed

[2017-10-27 19:10] #2469 closed

[2017-10-27 19:10] #2470 closed

[2017-10-27 19:10] #2483 closed

[2017-10-27 19:10] #2500 closed

[2017-10-27 19:10] #2515 closed

[2017-10-27 19:10] #2525 closed

[2017-10-27 19:10] #2574 closed

[2017-10-27 19:10] #2637 closed

[2017-10-27 19:10] #2639 closed

[2017-10-27 19:10] #2641 closed

[2017-10-27 19:10] #2836 closed

[2017-10-27 19:10] #2837 closed

[2017-10-27 19:10] #2839 closed

[2017-10-27 19:10] #3582 closed

[2017-10-27 19:12] #1665 closed

[2017-10-27 19:12] #1692 closed

[2017-10-27 19:12] #2201 closed

[2017-10-27 19:12] #2553 closed

[2017-10-27 19:12] #2599 closed

[2017-10-27 19:12] #2717 closed

[2017-10-27 19:12] #2755 closed

[2017-10-27 19:12] #2766 closed

[2017-10-27 19:12] #2777 closed

[2017-10-27 19:12] #2803 closed

[2017-10-27 19:12] #2862 closed

[2017-10-27 19:12] #2903 closed

[2017-10-27 19:12] #2904 closed

[2017-10-27 19:12] #2936 closed

[2017-10-27 19:12] #2940 closed

[2017-10-27 19:12] #2941 closed

[2017-10-27 19:12] #2945 closed

[2017-10-27 19:12] #2998 closed

[2017-10-27 19:12] #3036 closed

[2017-10-27 19:12] #3049 closed

[2017-10-27 19:12] #3077 closed

[2017-10-27 19:12] #3105 closed

[2017-10-27 19:12] #3107 closed

[2017-10-27 19:12] #3167 closed

[2017-10-27 19:13] ChiefBureaucraticOfficer commented on #3132
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:13] #3132 closed

[2017-10-27 19:13] ChiefBureaucraticOfficer commented on #3334
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:13] #3334 closed

[2017-10-27 19:17] ChiefBureaucraticOfficer commented on #3326
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:17] #3326 closed

[2017-10-27 19:17] ChiefBureaucraticOfficer commented on #3315
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:17] #3315 closed

[2017-10-27 19:17] ChiefBureaucraticOfficer commented on #3275
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:17] #3275 closed

[2017-10-27 19:18] ChiefBureaucraticOfficer commented on #3269
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:18] #3269 closed

[2017-10-27 19:18] ChiefBureaucraticOfficer commented on #3261
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:18] #3261 closed

[2017-10-27 19:19] ChiefBureaucraticOfficer commented on #3215
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:19] #3215 closed

[2017-10-27 19:19] ChiefBureaucraticOfficer commented on #3448
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:19] #3448 closed

[2017-10-27 19:19] ChiefBureaucraticOfficer commented on #3395
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:19] #3395 closed

[2017-10-27 19:20] ChiefBureaucraticOfficer commented on #3371
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:20] #3371 closed

[2017-10-27 19:20] ChiefBureaucraticOfficer commented on #3466
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:20] #3466 closed

[2017-10-27 19:21] ChiefBureaucraticOfficer commented on #3396
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:21] #3396 closed

[2017-10-27 19:22] ChiefBureaucraticOfficer commented on #3353
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:22] #3353 closed

[2017-10-27 19:22] ChiefBureaucraticOfficer commented on #3228
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:22] #3228 closed

[2017-10-27 19:22] ChiefBureaucraticOfficer commented on #3137
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:22] #3137 closed

[2017-10-27 19:23] ChiefBureaucraticOfficer commented on #3505
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:23] #3505 closed

[2017-10-27 19:23] ChiefBureaucraticOfficer commented on #3634
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:23] #3634 closed

[2017-10-27 19:24] ChiefBureaucraticOfficer commented on #3589
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:24] #3589 closed

[2017-10-27 19:25] ChiefBureaucraticOfficer commented on #3545
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:25] #3545 closed

[2017-10-27 19:25] ChiefBureaucraticOfficer commented on #3533
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:25] #3533 closed

[2017-10-27 19:26] ChiefBureaucraticOfficer commented on #3713
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:26] #3713 closed

[2017-10-27 19:26] ChiefBureaucraticOfficer commented on #3707
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:26] #3707 closed

[2017-10-27 19:27] ChiefBureaucraticOfficer commented on #3643
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:27] #3643 closed

[2017-10-27 19:28] ChiefBureaucraticOfficer commented on #3697
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:28] #3697 closed

[2017-10-27 19:28] ChiefBureaucraticOfficer commented on #3681
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:28] #3681 closed

[2017-10-27 19:28] ChiefBureaucraticOfficer commented on #3680
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:28] #3680 closed

[2017-10-27 19:29] ChiefBureaucraticOfficer commented on #3647
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:29] #3647 closed

[2017-10-27 19:30] ChiefBureaucraticOfficer commented on #3572
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:30] #3572 closed

[2017-10-27 19:30] ChiefBureaucraticOfficer commented on #3511
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:30] #3511 closed

[2017-10-27 19:32] ChiefBureaucraticOfficer commented on #3710
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:32] #3710 closed

[2017-10-27 19:32] ChiefBureaucraticOfficer commented on #3725
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:33] ChiefBureaucraticOfficer commented on #3694
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:33] #3694 closed

[2017-10-27 19:33] ChiefBureaucraticOfficer commented on #3816
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:33] #3816 closed

[2017-10-27 19:33] ChiefBureaucraticOfficer commented on #3778
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:33] #3778 closed

[2017-10-27 19:34] ChiefBureaucraticOfficer commented on #3498
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:34] #3498 closed

[2017-10-27 19:34] ChiefBureaucraticOfficer commented on #3824
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:34] #3824 closed

[2017-10-27 19:35] ChiefBureaucraticOfficer commented on #3873
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:35] #3873 closed

[2017-10-27 19:35] ChiefBureaucraticOfficer commented on #3525
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:35] #3525 closed

[2017-10-27 19:36] ChiefBureaucraticOfficer commented on #3523
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:36] #3523 closed

[2017-10-27 19:36] ChiefBureaucraticOfficer commented on #1371
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:36] #1371 closed

[2017-10-27 19:37] ChiefBureaucraticOfficer commented on #3522
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:37] #3522 closed

[2017-10-27 19:37] ChiefBureaucraticOfficer commented on #2635
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:37] #2635 closed

[2017-10-27 19:37] ChiefBureaucraticOfficer commented on #3709
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:37] #3709 closed

[2017-10-27 19:38] ChiefBureaucraticOfficer commented on #3834
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:38] #3834 closed

[2017-10-27 19:39] ChiefBureaucraticOfficer commented on #3887
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:39] #3887 closed

[2017-10-27 19:39] ChiefBureaucraticOfficer commented on #2344
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:39] #2344 closed

[2017-10-27 19:40] ChiefBureaucraticOfficer commented on #3908
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:40] #3908 closed

[2017-10-27 19:40] ChiefBureaucraticOfficer commented on #3819
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:40] #3819 closed

[2017-10-27 19:40] ChiefBureaucraticOfficer commented on #3400
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:40] #3400 closed

[2017-10-27 19:41] ChiefBureaucraticOfficer commented on #3977
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:41] #3977 closed

[2017-10-27 19:41] ChiefBureaucraticOfficer commented on #3770
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:41] #3770 closed

[2017-10-27 19:41] ChiefBureaucraticOfficer commented on #3620
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:41] #3620 closed

[2017-10-27 19:42] ChiefBureaucraticOfficer commented on #3851
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:42] #3851 closed

[2017-10-27 19:42] ChiefBureaucraticOfficer commented on #3847
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:42] #3847 closed

[2017-10-27 19:43] ChiefBureaucraticOfficer commented on #2838
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:43] #2838 closed

[2017-10-27 19:44] ChiefBureaucraticOfficer commented on #3952
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:44] #3952 closed

[2017-10-27 19:45] ChiefBureaucraticOfficer commented on #1232
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:45] #1232 closed

[2017-10-27 19:45] ChiefBureaucraticOfficer commented on #3935
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:45] #3935 closed

[2017-10-27 19:45] ChiefBureaucraticOfficer commented on #3923
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:45] #3923 closed

[2017-10-27 19:46] ChiefBureaucraticOfficer commented on #3929
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:46] #3929 closed

[2017-10-27 19:46] ChiefBureaucraticOfficer commented on #3885
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:46] #3885 closed

[2017-10-27 19:47] ChiefBureaucraticOfficer commented on #3984
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:47] #3984 closed

[2017-10-27 19:47] ChiefBureaucraticOfficer commented on #4035
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:47] #4035 closed

[2017-10-27 19:48] ChiefBureaucraticOfficer commented on #4001
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:48] #4001 closed

[2017-10-27 19:54] ChiefBureaucraticOfficer commented on #3986
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:54] #3986 closed

[2017-10-27 19:55] ChiefBureaucraticOfficer commented on #4029
GitHib issue review: Closed due to inactivity.  Please re-file if critical issues found.

[2017-10-27 19:55] #4029 closed

[2017-10-27 21:44] theotherjimmy commented on #5357
Agreed. I'll try to reproduce this next week, and see what I can do about it.

[2017-10-27 21:53] danclement commented on #3511
I'm working on some I2C changes and I expect this will go away.  There were some bugs that have been found and corrected but testing is on going.  Any lingering issues will be found by CI testing.

[2017-10-27 22:00] danclement commented on #5007
There were several issues/bugs in the I2C driver.  I've been working on fixes and am now going through testing and will submit a pull request soon if all tests pass.

[2017-10-28 01:34] zhanghongyuanvg commented on #5388
Thanks for your reply.
Just like the mini2440 development board was transplanted linux operating system, I would like to cut mbed operating system to compile a mirror file, and then transplanted to the nucleo_f072rb development board to run it.

[2017-10-28 16:08] amq commented on #5388
@zhanghongyuanvg if I understand you correctly, you need NUCLEO_F072RB to be supported by mbed-os. If this is correct, then I have good news for you: it's already supported.

[2017-10-28 17:52] sg- commented on #2007
Did we fix this?

[2017-10-29 13:33] zhanghongyuanvg commented on #5388
@amq Thanks.I will try to do it.

[2017-10-29 16:10] jorisa commented on #5364
I just looked at the STM32, and I indeed see there is a lot more reuse as a result from inheritance. However the same issue remains, as I see the an functional identical CAN driver for each family (F0/F1/F2/...) all with some slight tweaks.

It looks like they are different versions of the SDK, did the different families get imported from different HAL versions? Regardless would it be an idea to c

[2017-10-29 17:10] 0xc0170 commented on #5364
That is a question for SDK driver owners/implementators. In this case, it is correct that each family has own set of device files (SDK drivers).
@jeromecoutant @LMESTM @adustm might help here

[2017-10-30 09:26] jeromecoutant commented on #5367
Hi

You are right, this is an issue on our side.
PR is coming soon

[2017-10-30 09:34] janjongboom commented on #4035
@ChiefBureaucraticOfficer I don't agree with closing this issue. It's still an issue.

[2017-10-30 09:36] janjongboom commented on #3680
@theotherjimmy Has this been resolved?

[2017-10-30 09:36] janjongboom commented on #3533
@ChiefBureaucraticOfficer This is still an issue.

[2017-10-30 09:47] SeppoTakalo commented on #5382
CC: @mikter @artokin

[2017-10-30 11:28] maciejbocianski commented on #5307
@0xc0170
I would very much like to do that, but dont have NCS36510 device,

[2017-10-30 15:10] deepikabhavnani commented on #5380
Added fix commit d6da5ca197909445285cf392ee6b4002aa1482aa in https://github.com/ARMmbed/mbed-os/pull/5329

[2017-10-30 16:51] sarahmarshy commented on #3533
@janjongboom, it looks like a fix was submitted- https://github.com/ARMmbed/mbed-os/commit/4b5535f9b6d44c7dcf4a63f24ef59a76b55aed25

[2017-10-30 16:51] theotherjimmy commented on #3533
@janjongboom  see here: https://github.com/ARMmbed/mbed-os/blob/master/tools/export/cdt/pyocd_settings.tmpl#L52 there is no `.exe` suffix.

[2017-10-30 16:57] bulislaw commented on #5388
Please reopen this issue if you require more assistance.

[2017-10-30 16:57] #5388 closed

[2017-10-30 18:29] alzix opened #5404 "uninitialized section is not supported by all the platforms"
I wish to place some variables in an uninitialized section in RAM.
For me it is only required for testing purpose.
By examining linker scripts for GCC_ARM, ARM & IAR for supported platforms, I see that the section is sometimes either missing or named differently

### Description
- Type: Enhancement
- Related issue: `N/A
- Priority:

---------------------------------------------------------------
#

[2017-10-30 19:01] bcostm commented on #5351
I am not a CAN expert but I tried to reproduce your example.

I have programmed a TX CAN device which sends continuous messages with ID equal from 0xFF0080 to 0xFF0280.

On the RX CAN device:

If I want to receive messages with ID starting with FF and ending with either 80 or 180 or 280, I programmed the ID to 0xFF0080 and the MASK to 0xFF00FF.

If I want only messages with ID starting with 0xFF a

[2017-10-30 19:17] janjongboom commented on #3533
OK, if this works then we should close it.

[2017-10-31 16:47] deepikabhavnani commented on #5387
Splited RAM section not compatible with dynamic HEAP. RAM define/section if splited, IAR expanding size considers just one section while heap creation which results in smaller chunk for heap.
Fixed in commit 8e571079e66f0f3ee385d936eda987dad709715b

[2017-10-31 16:49] deepikabhavnani commented on #5387
0xc0170 - Please add Freescale team for review

[2017-10-31 17:06] LMESTM commented on #5294
@berzin11295
would you be able to test workaround proposed in #5411 ?
I have tested it ok on my side. I will run more non reg testing locally.

[2017-11-01 13:48] artokin opened #5414 "UBLOX_EVK_ODIN_W2 linking error with IAR8.2"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
IAR

**Toolchain version:**
8.2

**mbed-cli version:**
(`1.1.1`)

**mbed-os sha:**
8e57107 (HEAD -> feature-iar8, origin/feature-iar8) Splited RAM section not compatible with dynamic HEAP.

**Actual behavior**
Application fails to link with IAR8.2.

[cod

[2017-11-01 14:54] theotherjimmy commented on #5357
Reproduced. I'll see what I can do about it now.

[2017-11-01 16:43] geky opened #5416 "mbed config does not warn on overriding non-existant setting"
Consider this mbed_lib.json

[code]

Currently this compiles perfectly fine, without any warnings.

The issue is that MBED_CONF_NAME_MAKE_THIS_WORK is set to false.

MBED_CONF_NAME_MAKE_THIS_WONK seems to not get defined, so I can't think of any concerns with backwards compatibility if we remove this "feature".

Also should we care about case sensitivity? The resulting defines are not case sensiti

[2017-11-01 16:49] theotherjimmy commented on #5416
Thanks for the detail! This is clearly a bug. It should throw an error _at least_. Maybe the config parameters should be case insensitive.

[2017-11-01 16:50] ciarmcom commented on #5416
ARM Internal Ref: IOTMORF-1667

[2017-11-02 10:04] 0xc0170 commented on #5241
This is resolved via a referenced PR above

[2017-11-02 10:04] #5241 closed

[2017-11-02 14:23] jeromecoutant commented on #5364
@bcostm

[2017-11-02 14:28] artokin commented on #5382
IAR8.2 compiled nanostack binaries available https://github.com/ARMmbed/mbed-os/pull/5402.

[2017-11-02 14:46] gerhardtgao opened #5421 "build fails for ARM toolchain"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Blocker

---------------------------------------------------------------
## Bug
"--cpu=Cortex-M" is not generated in .link_files.txt

**Target**
K64F|EFM32GG_STK3700| .......

**Toolchain:**
ARM

**Toolchain version:** ARM Compiler 5.06 update 5 (build 528)

**mbed-cli version:**
(`mbed --version`) 1.2.2

**Expected behavior**
build s

[2017-11-02 14:49] gerhardtgao commented on #5421
@jimmy

[2017-11-02 15:02] ashok-rao commented on #4057
@theotherjimmy .. I saw this today for SiLabs part. Initially, I got an error message (for something I was building with bootloader) that device_name is not present. I then added "device_name": ["EFR32MG12P332F1024GL125"] to targets.json. I got the device's name from KEIL's webpage: http://www.keil.com/dd2/siliconlaboratories/efr32mg12p332f1024gl125/  this is same device name that appears in CMSIS

[2017-11-02 15:04] theotherjimmy commented on #5421
Thanks for the bug report. The big question on my mind is: why is this not failing for everyone all of the time?

I have exactly the same version of armcc and I can build fat-fs just fine.
[code]

and

[code]

Maybe something is up with your environment?

[2017-11-02 15:20] gerhardtgao commented on #5421
hmmmm, then can you see “--cpu=Cortex-M3” in your BUILD\K64F\ARM\.link_files.txt file?

[2017-11-02 15:39] c1728p9 commented on #5389
Changing the default baud for one target may silently break some applications. If the hardware can't work at 9600 then an error/trap should occur so the user knows this uart can't be used at 9600.

[2017-11-02 15:54] theotherjimmy commented on #5421
Nope.

[2017-11-02 17:12] ashok-rao commented on #4057
Thanks @theotherjimmy , was able to get past without the [].

[2017-11-02 18:21] theotherjimmy commented on #4057
@ashok-rao Do you think the documentation should be improved to help users prevent this bug in the future?

[2017-11-02 18:46] ashok-rao commented on #4057
Would be nice to have them in the docs. I didn't find any docs _particularly on the keys_ we/every target uses in targets.json .. I also may not have looked in the right places though..!

[2017-11-02 18:56] theotherjimmy commented on #4057
That document is the ["Adding and Configuring Targets section](https://os.mbed.com/docs/v5.6/tools/adding-and-configuring-targets.html). It's somewhat hard to find. Where would you expect to find it?

[2017-11-02 19:26] DaVolfman commented on #3216
Some final details: the online exporter seems to be more or less completely
broken.  I get a uvision project that builds, it just has no access to the
pins anymore.  I've got mbed-cli up and running (your website changed and
broke the links to the page where the windows installer could be downloaded
by the way) on multiple systems.  Uvision5 exporting with mbed works
perfectly through mbed-cli.  S

[2017-11-02 19:58] theotherjimmy commented on #3216
Thanks for the bug report. I'll take a look at this in the next few days. What exactly do you mean by "no access to the pins"? Does the IDE's peripheral viewer fail? Are you unable to use pin definitions, such as `PC_7` in C/C++?

@AnotherButler Are you in control of these links? Do you know who is? If so, can we update them to point to the correct destination?

@DaVolfman That's great to hear! I'

[2017-11-02 20:06] AnotherButler commented on #3216
@DaVolfman Thank you for letting us know. When you came across the broken links, were you looking at our documentation for the [Mbed CLI for Windows installer](https://os.mbed.com/docs/v5.6/tools/setup.html#mbed-cli-for-windows-installer)? Or were you somewhere else?

[2017-11-02 22:18] DaVolfman commented on #3216
Honestly I haven't figured it out yet. I won't have time to nail down if
main is even running for a while since my own problems are solved.

On Nov 2, 2017 12:58 PM, "Jimmy Brisson" <notifications@github.com> wrote:

[2017-11-02 22:24] chrissnow opened #5423 "EFM32: EM1 blocking with wait"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
EFM32PG - probably all EFM32
I know we should use Thread::wait() where possible but wait is still required, especially for sub ms timing.

**Expected behavior**
wait should not lock EM1 forever, Prior to return it should clear the lock.
**Actual behavior**
 A call to wa

[2017-11-02 22:38] deepikabhavnani commented on #5414
Error is because of incompatible libraries. Related: https://github.com/ARMmbed/mbed-os/issues/5382

[2017-11-03 10:52] berzin11295 commented on #5294
Yes, it works! Thank you:)
(IAR 8.2, I've just changed file stm32xx_emac.c)

[2017-11-03 10:52] #5294 closed

[2017-11-03 10:58] LMESTM commented on #5294
Great ! Thanks for the feedback

[2017-11-03 11:37] pilotak commented on #5351
Here is what i have
[code]

I'm sending on TX side 0xFF0080, 0xFF0180, 0xFF0580
In theory as you saying i should be receiving only 0xFF0080 but i'm receiving all of above. Could you kindly provide me with your working code? BTW my board is NUCLEO_F412ZG

[2017-11-03 12:05] 0xc0170 commented on #5423
cc @stevew817 @akselsm

[2017-11-03 12:16] 0xc0170 commented on #5421
@gerhardtgao If you look at arm implementation https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L310

you can see that --cpu flag is set there. CAn you use verbose and print entire linker command (assuming based on the output above is a linker that is failing) ?
What about these flags, which one is getting set in your case?

What is your mbed-os version?

[2017-11-03 14:10] theotherjimmy commented on #5421
@0xc0170 That's for ARMC6. Please don't confuse the compiler versions.

[2017-11-03 15:04] 0xc0170 commented on #5421
Not intentionally ! :-) ` --cpu` is present for common flags in ARMC5. I updated my comment above.

[2017-11-03 15:06] theotherjimmy commented on #5421
@0xc0170 Common flags are not used by the linker, so your comment is still incorrect.

[2017-11-03 15:35] fkjagodzinski opened #5431 "NCS36510: Timeout: Inconsistent delay when using multilple timeout objects"
### Description
- Type: Bug
- Related issue: #5150, #5185
- Priority: Major

**Target**
NCS36510

**Toolchain:**
ARM, IAR, possibly GCC_ARM

**Expected behavior**
When multiple `Timeout` objects are scheduled all callbacks are called after a given delay.

**Actual behavior**
Not all callbacks are called; in fact only 2/16 and 3/16 as CI tests show. Unfortunately I'm unable to reproduce this locall

[2017-11-03 15:44] bulislaw commented on #5309
ping @ARMmbed/team-maximintegrated @jessexm

[2017-11-03 20:14] DaVolfman commented on #3216
The download link in particular.  I think I was trying to access it right
as it rolled over from 0.41 to 0.42 so the link to the installer went to a
page that didn't exist.

On Thu, Nov 2, 2017 at 1:06 PM, Amanda Butler <notifications@github.com>
wrote:

[2017-11-03 20:26] DaVolfman commented on #3216
Either it just got fixed or it's that I was using PWM on pin PB_10 and DAC
on port PA_4 and I forgot to move the wire when changing the method.
Either way export, with Mbed online, to Uvsion 5, with mbed library, is
working right now.  And I learned that PWM on PA_4 isn't a thing while I
was at it.

On Thu, Nov 2, 2017 at 12:58 PM, Jimmy Brisson <notifications@github.com>
wrote:

[2017-11-03 20:27] theotherjimmy commented on #3216
Thanks for the update. It's great to hear that uvision 5 is working for you.

[2017-11-06 02:47] gerhardtgao commented on #5421
In <ARM Compiler armlink User Guide>, it is said that, "armlink assumes --cpu=ARM7TDMI if you do not specify a --cpu option." So I don't know if --cpu should appear in armlinks parameter list.

[2017-11-06 08:05] JonatanAntoni commented on #5380
Hi all,

please note that there is a compiler specific version of cmsis_iar.h shipped with the IAR installation. I assume this one

[2017-11-06 13:04] adustm commented on #5364
Hello,
Let me answer for STM32 team.
The small differences are usually important to adapt to the differences between 2 hardwares.

You have to know that the code located in targets/TARGET_STM/TARGET_STM32XX/device are the official drivers from STM32Cube emmbedded software.
As STteam working on mbed, we make the match between mbed HAL and STM drivers, and make the effort of factoring code wherever

[2017-11-06 13:33] bcostm commented on #5351
On my side I tried on two NUCLEO_F446RE boards.

Here my test code:
[CAN.zip](https://github.com/ARMmbed/mbed-os/files/1446343/CAN.zip)

One difference I can see is that you use CANExtended when you set the CAN filter and  I use CANStandard. I don't know if this could have an impact ?

[2017-11-06 15:04] #4343 closed

[2017-11-06 15:42] theotherjimmy commented on #5421
Thanks for the tip @gerhardtgao Do you have a link?

[2017-11-06 16:04] gerhardtgao commented on #5421
http://infocenter.arm.com/help/topic/com.arm.doc.dui0377g/DUI0377G_mdk_armlink_user_guide.pdf

[2017-11-06 16:52] kylestein-arm opened #5439 "Flash programming (write) fails"
### Description
- Type: Bug
- Priority: Major

The write of a FOTA image to internal flash results in incorrect data being written to internal flash on Odin platforms.  This results in a failed hash compare using the application
https://github.com/ARMmbed/fota-demo/commit/aefc7b93fa904d98fd438873c7293b565e5c2eff

Some debug has been done on the issue (details below).
Down-revving the flash driver

[2017-11-06 16:54] theotherjimmy commented on #5421
Thanks section 9.26 is where the `--cpu` flag's default is defined.

[2017-11-06 20:21] gerhardtgao commented on #5421
but for k64， --cpu=cortex-m3 should appear in .link_files.txt, default vaule is not suitable.

[2017-11-06 20:34] theotherjimmy commented on #5421
That's true.

I think that the linker may not need it unless LTO is enabled, as it's directly tied to code generation. My understanding is that the missing `--cpu` argument does not harm non-LTO bulids.

You are correct in pointing out that it should be passed to the linker. It will be resolved when we switch to Arm Compiler 6, as the `--cpu` flag is passed by the Arm Compiler 6 implementation.

[2017-11-06 20:43] theotherjimmy commented on #5421
Also, for a K64F, `--cpu=cortex-m4` is the correct option.

[2017-11-06 21:27] deepikabhavnani opened #5440 "FAT Filesystem : dir_rewind / dir_seek not working"
Rewind and Seek functionality is not working as expected. I am using below code to verify the rewind functionality for FAT filesystem

https://gist.github.com/deepikabhavnani/d6ffc1d8078a01569bbb46c502616676

In https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/fat/FATFileSystem.cpp#L677
only the index is updated, instead it should update the structures as well with help of dir_sd

[2017-11-06 21:33] deepikabhavnani opened #5441 "Filesystem Class : Seek/Rewind"
dir_seek / dir_rewind functions at present do not return status. Mechanism should be provided to return error status.

ChanFS does not support directory seek/rewind functionality, and we cannot return -ENOSYS to indicate function not implemented.

Second best option is to assert in filesystem.

@geky @sg- Please suggest

[2017-11-06 23:17] sg- commented on #5441
why can't we return -ENOSYS ?

[2017-11-06 23:29] deepikabhavnani commented on #5441
API return type is void https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/FileSystem.h#L241

[2017-11-06 23:51] danclement commented on #5007
@maclobdell can you close this issue now that #5394 is merged?

[2017-11-07 07:20] MikeDK opened #5442 "PwmOut Destructor doesn't call pwmout_free()"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Expected behavior**
In PwmOut Constructor, pwmout_init() is called, so I guess there should be a call to pwmout_free() within the PwmOut Destructor.

**Actual behavior**
pwmout_free() is not called. So a pin stays initialized, when a PwmOut object is destroyed.
Depending on the

[2017-11-07 07:44] 0xc0170 commented on #5439
@andreaslarssonublox @andreaspeterssonublox Can you please review this issue?

Down-revving the flash driver per
ARMmbed/mbed-bootloader-internal#41
seems to eliminate the issue.

Please add code snippet here or more details for this one, private repository is not accessible for everyone and should not be referenced just via a link.

[2017-11-07 08:08] 0xc0170 commented on #5442
Please see https://github.com/ARMmbed/mbed-os/issues/3106 (capturing all drivers), this will be addressed.

I'll close this as duplicate.

[2017-11-07 08:08] #5442 closed

[2017-11-07 08:59] Ivan-Perez opened #5443 "Error when creating a second `AnalogIn` object"
### Description
- Type: Bug
- Related issue: error introduced in commit https://github.com/ARMmbed/mbed-os/commit/8540e8a1dd7945791e0ab59ddbb46601e8f16ebd
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32L0 (maybe other targets are affected too, I haven't checked it)

**Compiler**
 gcc-v5.4.1 20160919 (release) [ARM/embedded-5-branch revisi

[2017-11-07 08:59] VictorEnc opened #5444 "Bug library AnalogIn"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug

When initially creating an AnalogIn object the global variable adc_inited is equal to 0. and that causes the handle of analogin_t to initialize correctly. when destroying the previou

[2017-11-07 09:46] 0xc0170 commented on #5444
Please use gcc v6 as that one is supported version.

I had a quick look for L0 analog in implementation and looks like there is a bug. As object memebers are initialized but only the very first time, then another object would not get this initialization (this probably should be per ADC module, and kept somewhere in memory or initialized/deinitialized as per ADC module pins are init/free).

@bcostm

[2017-11-07 09:47] 0xc0170 commented on #5444
This looks like a duplicate of https://github.com/ARMmbed/mbed-os/issues/5444 ,please verify and we can close this and continue in the earlier issue.

[2017-11-07 09:48] 0xc0170 commented on #5443
There was a similar report, that was reported right after this one. Your assumptions look fine, I had a quick look at the analog in implementation for L0.

@bcostm @adustm @LMESTM @jeromecoutant please review

[2017-11-07 09:53] Ivan-Perez commented on #5443
Yeah, it was a teammate who realized about the same issue and posted it here too. I was a little faster than him :)

[2017-11-07 09:55] 0xc0170 commented on #5440
cc @geky

[2017-11-07 09:58] 0xc0170 commented on #5431
Would it be possible that fire_interrupt in this tests is executed (there's a fix for this target https://github.com/ARMmbed/mbed-os/pull/5390)?

cc @danclement @jacobjohnson-ON

[2017-11-07 10:11] #5007 closed

[2017-11-07 10:19] bcostm commented on #5443
I don't remember why we should init the ADC only once for L0, L1, L4, F0, F1 ? It is not done for F2, F4, F7.

[code]

I think we can remove these lines and the adc_inited variable.

[2017-11-07 11:02] #5444 closed

[2017-11-07 13:35] adustm opened #5448 "Add AnalogIn interrupt to save power"
### Description
- Type: Enhancement
- Related issue: https://os.mbed.com/questions/79353/How-to-use-the-analog-comparators-of-thi
- Priority: Major

## Enhancement

**Reason to enhance or problem with existing solution**
Mbed-os does not offer an interrupt for analogin objects. This is a problem for battery powered MCUs that could wake-up only when needed instead of pooling the ADC with a timer in

[2017-11-07 13:48] paviitan opened #5450 "NUCLEO_F429ZI: Flash memory bank 2 sector sizes incorrect"
### Description

NUCLEO_F429ZI Flash sector size is incorrect for Bank 2, Sectors 12-15. This causes problems when using FlashIAP to read/write on MCU Flash. See table 6 on page 77 [RM0090 PDF](http://www.st.com/content/ccc/resource/technical/document/reference_manual/3d/6d/5a/66/b4/99/40/d4/DM00031020.pdf/files/DM00031020.pdf/jcr:content/translations/en.DM00031020.pdf)

Bug exists in release 5.6.

[2017-11-07 14:11] screamerbg commented on #5297
Bump @0xc0170 @scartmell-arm
CC @MarceloSalazar @dlfryar @maclobdell

[2017-11-07 14:38] fkjagodzinski commented on #5431
This is a different case -- the `cnt_callback()` should be called in ISR by a direct call from `ticker_irq_handler()`.

[2017-11-07 14:39] LMESTM commented on #5450
@paviitan  thanks for reporting the issue.
There might indeed to be an error - not sure why this isn't seen with flash tests though.
By reading the code I would say that the fix could be as shared below, but I will need time in the coming days to verify and test. In case this is blocking for you, you may want to try;
$ git diff TARGET_STM32F4/flash_api.c
diff --git a/targets/TARGET_STM/TARGET_STM3

[2017-11-07 14:40] 0xc0170 commented on #5450
Is this bug related to this one https://github.com/ARMmbed/mbed-os/issues/5439 (same family, having problems  with flash algo, regarding the second bank as the report specifies) ?

[2017-11-07 15:06] adustm commented on #5389
Hello, @c1728p9

The error/trap is already present (maybe it could be more explicit).  The problem is that the user cannot program any other baudrate, because it first initializes the 9600 baud rate (ERRROR), then change the baud rate, instead of initializing a serial at a specific baud rate.

My suggestion would be to implement a serial_init(obj, pin_tx, pin_rx, baud) function that would avoid ha

[2017-11-07 15:12] scartmell-arm commented on #5297
I've tested this with 2 different NRF52 boards so far but I get the same TIMEOUT failure that's unrelated to this issue, both before and after the changeset that was mentioned.

[2017-11-07 15:31] 0xc0170 commented on #5297
I got finally the board few days ago, also having TIMEOUT for simple lp ticker test on the latest mbed-os. Using the firmware that is published on mbedos target page (219 version). Anything else missing?

[2017-11-07 15:40] nvlsianpu commented on #5297
Is it possible that you try to run the test form hand: you can use RelaTerm witch two subsequent string for start the on-board test: 1st:```mbedmbedmbedmbedmbedmbedmbedmbedmbedmbed```
2nd: ```{{__sync;1a2cdb58-88d8-4c5f-8db4-0d4609576611}}``` ?

this will help to check wheter timeout is caused by IF or mbed-os.

[2017-11-07 15:56] betzw opened #5451 "ATCmdParser::vrecv() won't work"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
all

**Toolchain:**
all

**Actual behavior**
Function `ATCmdParser::vrecv()` does not work with responses like e.g. `"OK%*[\r]"` as carriage returns (`CR` - aka. `'\r'`) when read from serial will be transformed into line feeds (`LF` - aka. `'\n'`, see [here](https://

[2017-11-07 16:00] sg- commented on #5441
Sounds like we know what to do then.

[2017-11-07 16:05] geky commented on #5441
Internally tracking [IOTMORF-1677](https://jira.arm.com/browse/IOTMORF-1677)

Original definitions were taken from posix: http://pubs.opengroup.org/onlinepubs/7908799/xsh/rewinddir.html

Since then we've learned that not having the ability to return an error was a mistake. Returning error codes on all functions greatly simplifies things.

Unfortunately changing it now will break inheritance compat

[2017-11-07 16:05] bcostm commented on #5443
Can you please check my branch and see if it solves your issue ?

[https://github.com/bcostm/mbed-os/tree/fix_adc_inited]()

If it is ok, I will do the same for all other STM32 series.

[2017-11-07 16:31] Ivan-Perez commented on #5443
We've tried it but it isn't working. The member `lock` (and possibly the other members in the `ADC_HandleTypeDef` struct) isn't initialized. The only one being initialized right now is `State`.

Moving the following piece of code out of the condition `if (adc_inited == 0)` seems to fix the issue for us.

[code]

Another possibility is to add `&obj->handle->Lock = HAL_UNLOCKED;` before `if (adc_ini

[2017-11-07 17:08] c1728p9 commented on #5389
Hi @adustm, that makes sense. I just misinterpreted your question. SerialBase sets the baudrate explicitly, so the default

Since `serial_init` provides no requirements on default baudrate, I think this is fair to be implementation defined. I thought you were proposing chaining a user facing API, which this doesn't.

[2017-11-07 17:10] c1728p9 commented on #5389
I closed this on accident so I re-opened it.

[2017-11-08 07:19] paviitan commented on #5450
@0xc0170 Hi,
I would say the issues are related to #5439

- Ublox Odin W2 seems to be using the same ST Firmware library

- STM32F439 has same 2Mbyte flash module

[2017-11-08 08:39] bcostm commented on #5443
The problem is that I cannot make my test program fail. In all cases the ADC instances are correctly initialized, I tried with the same GCC version as you use without success. Can you please share your test program ?

[2017-11-08 10:45] LMESTM commented on #5450
@paviitan  @0xc0170
PR #5455 available for early tests on your side.
Non-regression automated tests started meanwhile.

[2017-11-08 11:07] andreaslarssonublox commented on #5439
@0xc0170, I guess u-blox don't need to look into this since there is a fix in #5455?

[2017-11-08 11:35] 0xc0170 commented on #5451
@hasnainvirk Please review

[2017-11-08 16:15] daniel-cesarini-tridonic-com commented on #1831
@0xc0170 @sg- : I am also encountering same issue. Are there plans to change this in near future?
Actually it would be enough to have a method to return _tid variable value from the Thread class, or am I wrong?
Having the ```gettid()``` returning the *runningThreadId* and not the *threadOnWhichGettidIsCalled* is counter-intuitive.

[2017-11-08 20:37] pan- commented on #1831
In C++ 11, APIs applying to the current thread are grouped within the namespace `this_thread` to avoid confusion between static and member functions. Other functions such as yield or wait or delay_until might also benefits from such construct.

@sg would that be the right approach to tackle that issue on mbed os ?

[2017-11-08 20:50] ciarmcom commented on #1831
ARM Internal Ref: IOTMORF-1679

[2017-11-09 01:04] sus-e opened #5461 "linker script, stm32f412xx.icf, is wrong"
I think I found some minor problem on your IAR's linker file for stm32f412xG, github path is
mbed-os/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F412xG/device/TOOLCHAIN_IAR/stm32f412xx.icf

This chip has 256kbyte RAM and comment of linker file says so. But layout is for 128Kbyte RAM,
below is current definition
/* [RAM = 256kb = 0x40000] Vector table dynamic copy: 113 vectors = 452 bytes (0x1C4)

[2017-11-09 08:37] thinkberg opened #5462 "initial pin value not retained"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NRF52

**mbed-os sha:**
`e62a1b923 (HEAD -> mbed-os-5.6, tag: mbed_lib_rev154, tag: mbed-os-5.6.3)`

**Expected behavior**

`DigitalOut led(LED1, 1);` should have the pint be set to HIGH output.

**Actual behavior**

In the `gpio_mode()`, the pin is resetted (`gpiote_pi

[2017-11-09 08:53] jeromecoutant commented on #5461
Thx for the issue report

Please check #5463

[2017-11-09 10:22] hasnainvirk commented on #5451
There is some effort going on to fix issues in ATCmdParser. @kjbracey-arm,   Teemu Kultala and Teppo, are the guys responsible now. I can't find them on git. Will update them later

[2017-11-09 10:23] kjbracey-arm commented on #5451
Due to the conversion you should be using `\n` in the match string.

[2017-11-09 10:24] kjbracey-arm commented on #5451
https://stackoverflow.com/questions/21057780/why-scanf-skips-r-but-reads-n

[2017-11-09 11:32] 0xc0170 commented on #5462
@thinkberg Just to confirm, this looks like it is NRF5x target problem in the HAL rather than generic. From the look at the code, `gpiote_pin_uninit` is in the HAL.

@anangl @nvlsianpu

[2017-11-09 12:12] akrnvm opened #5465 "us_ticker single test failing in master branch"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Custom Board

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**
5.21
**mbed-cli version:**
1.2.2

**Expected behavior**
ticker attach and wait function should execute propperly

**Actual behavior**
ticker interrupt is getting corrupted by wait function

**Steps t

[2017-11-09 12:17] 0xc0170 commented on #5465
What is the target (is that HAL implementation is not in this codebase) ?

[2017-11-09 13:17] betzw commented on #5451
Well, `sscanf()` treats all (non-escaped) whitespace characters any amount of (any kind of) white space, including none ...
Anyway, your workaround proposal should work.

[2017-11-09 13:18] #5451 closed

[2017-11-09 13:29] akrnvm commented on #5465
I have using customised board of cortex-M4, all other timer related test cases and greentea test cases are passing.
Only one failure in Single test cases(MBED_11) without RTOS.
Same testcase is Passing  with RTOS.
Testcase is PASSING in mbed 5.6.3 with and without RTOS.
Is any changes in usticker  from mbed 5.6.3 release package to master branch

[2017-11-09 13:30] kjbracey-arm commented on #5451
I don't recall the full detail, but there was another change between `ATParser` and `ATCmdParser` - it now has two different modes of operation - matching prefix and matching whole line. The original only matched prefixes. I believe some of the funny `%*[` constructs in `ATParser` users were trying to get it to consume a line properly.

Now if you just pass a string containing a straight `\n`, it

[2017-11-09 13:40] rspelta opened #5467 "Export: uvision5 + STM32 does not flash"
### Description
- Type: Bug
- Targets "tested": NUCLEO_L476ZI, SILICA_SENSOR_NODE
- IDE used: uVision 5.24
- Project: mbed-os-example-blinky (lastest version)

Marcelo has asked to me to open this issue.
cc: @MarceloSalazar

**Issue:**
When I export the project [(mbed-os-example-blinky)](https://github.com/ARMmbed/mbed-os-example-blinky) for uVision5 and I try to debug it, I get this error:

![ima

[2017-11-09 13:44] 0xc0170 commented on #1831
Good point 👍  Link for the cpp thread reference: http://en.cppreference.com/w/cpp/thread (`this_thread`) namespace.

Introducing a new namespace would means that current method `gittid` would go into this new namespace, and `gittid` method (outside of this_thread) would return current running thread id.  Sounds fine to me (better than above proposal just a new getter for current thread id).

[2017-11-09 14:25] jeromecoutant opened #5468 "Issue with the expected tolerance in the Low Power Timer test"
While LPT implementation, I sometimes get some issue with the expected precision for Low Power Timer new test... (#5074)
I noticed that you created a DELTA to take in to account this extra time. It's good, but maybe still too precise...
It's OK will small duration, but becomes difficult with higher values

Example with a STM32 at 80MHz => DELTA=500
[1510235869.37][CONN][RXD] :332::FAIL: Expected 1

[2017-11-09 15:55] kylestein-arm commented on #5439
I have cherry-piked the changes from pull-request 5455 and verified that it fixes my issue.
Thanks,

[2017-11-09 15:55] #5439 closed

[2017-11-09 16:51] #5298 closed

[2017-11-10 00:30] toyowata commented on #5266
Fixed in mbed library v157.

[2017-11-10 00:30] #5266 closed

[2017-11-10 14:18] 0xc0170 commented on #5387
Is it functional ? I recall when we had one region (some time ago), allocation need to be aware about boundaries (no object should cross the boundary that is set to 0x2000 0000 as I recall. Limitation of their controller that does not support access independently to both RAM banks at the same time). I can not find the issue now for reference :/ That fix is the same for ARMCC and GCC, one RAM regio

[2017-11-10 14:37] #5450 closed

[2017-11-10 14:55] 0xc0170 commented on #3610
@moonchen a patch welcome !

[2017-11-10 16:17] deepikabhavnani commented on #5387
As per @c1728p9, crossing boundaries should not be an issue with M0 devices. I am not sure of any controller limitation, hence would be best to have review from Freescale.

Also we did the `morph test` on https://github.com/ARMmbed/mbed-os/pull/5329, after fix but we do not have any KL series device in CI testing

[2017-11-10 16:45] jessexm commented on #5309
Currently testing fix.

[2017-11-10 22:06] mmahadevan108 commented on #5387
Looks good to me.

[2017-11-10 22:42] studavekar opened #5477 "tests-mbedmicro-rtos-mbed-timer tests failing on REALTEK_RTL8195AM"
### Description
tests-mbedmicro-rtos-mbed-timer fails intermittently , This will gate us addition of REALTEK_RTL8195AM to CI

To reproduce run below command in  loop
[code]

- Type: Bug
- Priority:  Major
---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**mbed-cli version:**
12.0

**mbed-os sha:**
47bae16

**DAPLink version:**
0244
[code]

Logs

[2017-11-11 11:02] janjongboom commented on #5034
And today also learned that Zigbee library is broken due to this. Can we retract this patch, it's breaking libraries left and right and gives a bad view of our ecosystem.

[2017-11-11 22:05] jeanmatthieud opened #5478 "Add support for Waveshare BLE400"
### Description
- Type: Enhancement

## Enhancement
Is it possible to add support for [Waveshare BLE400](https://www.waveshare.com/wiki/BLE400) board ?
I tried to do it myself but without success.

The Pins should be edited in this way:
[code]

I'm not sure for RX, TX and CTS, RDS, but if the changes are made, I could test it and correct the files.

[2017-11-12 20:17] ashok-rao commented on #4057
@theotherjimmy .. I'd expect to find this somewhere in the porting guide (adding / configuring a new target) under adding a new MCU here: https://os.mbed.com/docs/v5.6/reference/contributing-target.html

[2017-11-13 06:28] TomoYamanaka opened #5479 "Build error occurs by using GR-PEACH board on Online Compiler"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
GR-PEACH

Currently, compiling any mbed samples that older than Mbed OS version 5.4.7 by using GR-PEACH board on Mbed Online compiler, the below build error occurs.
`The build system did not finish successfully.`

The situation of this issue is the below.
- If memory se

[2017-11-13 08:21] janjongboom opened #5480 "MAX32630 BLE - onDataSent callback not called"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
MAX32630FTHR

**Toolchain:**
Unknown

**mbed-os sha:**
It says 'latest mbed', but not sure which one they mean.

According to https://os.mbed.com/questions/79492/blegattServeronDataSentonDataSent-never-/ `onDataSent` callback is no longer invoked on this MAXIM target.

[2017-11-13 10:14] mprse commented on #5468
Fix has been provided in https://github.com/ARMmbed/mbed-os/pull/5403.

TOLERANCE_FACTOR has been increased (multiplied by 2)  for Timer and Low Power timer tests.
Please let me know if this solution is sufficient.

[2017-11-13 12:23] bcostm opened #5484 "STM32: Add support of CAN3"
### Description
- Type: Bug
- Related issue:
https://os.mbed.com/questions/79513/How-to-USE-CAN3-of-NUCLEO-F767ZI/
- Priority: Blocker

---------------------------------------------------------------
## Bug

Need to add support of CAN3. Today only CAN1 and CAN2 are supported.

**Target**
STM32F413xx
STM32F767xx

[2017-11-13 15:07] theotherjimmy commented on #4057
Thanks @ashok-rao. I'll add a "Bootloader" section there and make sure to add some explanatory text to the "Target Description" section pointing to the link I posted above.

[2017-11-13 15:49] nvlsianpu commented on #5462
@thinkberg https://github.com/ARMmbed/mbed-os/pull/5487

[2017-11-13 20:51] dlfryar opened #5491 "Update Nordic SDK for nrf52 series to latest version including softdevice"
### Description
- Type: Enhancement
- Priority: Major

---------------------------------------------------------------
**Target**
nrf52832 & nrf52840

----------------------------------------------------------------
## Enhancement

Latest softdevice and fixes with current release.

[2017-11-13 21:14] dlfryar opened #5492 "Nordic bootloader support needed"
### Description
- Type: Enhancement
- Priority: Major

---------------------------------------------------------------

**Target**
nrf52 series (nrf52832 and nrf52840)

**Toolchain:**
GCC_ARM, ARM, IAR
----------------------------------------------------------------
## Enhancement

Nordic bootloader support needed

bootloader_util_reset()

https://github.com/ARMmbed/mbed-os/blob/master/targets/TAR

[2017-11-13 23:12] dlfryar commented on #5492
cc: @screamerbg

[2017-11-13 23:15] dlfryar opened #5493 "Nordic STDIO_UART_*X moved from PeripheralNames to PinNames"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Enhancement

**Target**
nrf52 series

#define STDIO_UART_TX     TX_PIN_NUMBER
#define STDIO_UART_RX     RX_PIN_NUMBER

Should be moved in to target specific PinNames.h

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5/TARGET_MCU_NRF52840/PeripheralNames.

[2017-11-13 23:15] dlfryar commented on #5493
cc: @screamerbg

[2017-11-14 06:43] studavekar opened #5495 "tests-mbed_hal-flash tests fails on EFM32PG_STK3401"
### Description

Flash test fails for EFM32PG_STK3401 we would need this to be fixed for addition of device in CI.

- Type: Bug
- Priority: Major

[code]
---------------------------------------------------------------
## Bug

**Target**
EFM32PG_STK3401

**Toolchain:**

GCC_ARM

**mbed-os sha:**
master

**Steps to reproduce**

mbed test --run -m EFM32PG_STK3401 -t GCC_ARM -n tests-mbed_hal-flash -v

[2017-11-14 07:46] studavekar opened #5496 "rtos-mbed-timer and lp_ticker test faisl for TB_SENSE_12"
### Description
tests-mbed_drivers-lp_ticker and tests-mbedmicro-rtos-mbed-timer tests fails for TB_SENSE_12 we would need this to be fixed for addition of device in CI.

mbed test --run -m TB_SENSE_12 -t GCC_ARM -n tests-mbedmicro-rtos-mbed-timer -v -V
log snippet
[code]
mbed test --run -m TB_SENSE_12  -t GCC_ARM -n tests-mbed_drivers-lp_ticker -v -V

logs snippet
[code]
- Type: Bug
- Priority: M

[2017-11-14 09:43] 0xc0170 commented on #5495
cc @ARMmbed/team-silabs

[2017-11-14 09:44] 0xc0170 commented on #5496
cc @ARMmbed/team-silabs

[2017-11-14 09:48] 0xc0170 commented on #5493
There are 3 blocks like the above in the TARGET_NRF5 directory.  The proposal would be to eliminate this duplication, and move this to common file for any TARGET_NRF5 ? Please send a pull request with proposal

cc @ARMmbed/team-nordic

[2017-11-14 09:51] 0xc0170 commented on #5492
@ARMmbed/team-nordic please review this request

[2017-11-14 09:52] 0xc0170 commented on #5491
@dlfryar Are there any specific fixes/features you would like to use from the latest softdevice?

@ARMmbed/team-nordic

[2017-11-14 10:01] bcostm commented on #5461
This issue has been solved. Can you please close it now ? Thanks.
ST_TO_BE_CLOSED

[2017-11-14 10:12] nvlsianpu commented on #5492
We are aware of lacking the generic bootloader support for nRF5x. We are analysing what and how support this needs so I expect a plan soon.

[2017-11-14 11:25] pan- commented on #5493
@dlfryar Could you explain the motivation of this request and why it should be in PinName.h and not PeripheralName.h ? Historically ` STDIO_UART_*X` has been defined in PeripheralNames.h and it is still the case today: There is 121 PeripheralNames.h  files defining ` STDIO_UART_*X` and only 8 PinName.h files defining it.

More generally, the content that should be included and exposed by `objects.

[2017-11-14 11:55] danielklioc commented on #4068
@adustm did you find out what was the problem with UDP socket stopping working with high packet load ? I have similar problem with NucleoF746/767.

[2017-11-14 13:10] #5461 closed

[2017-11-14 13:27] joost-productize commented on #5491
SDK 14.1 + corresponding softdevice s132 5.0.x allows secure DFU with bonds.

[2017-11-14 13:36] kjbracey-arm commented on #5064
#3648 has now been merged, so `rtos::ConditionVariable` is present on master, and will be in mbed-os-5.7.

[2017-11-14 13:43] #5064 closed

[2017-11-14 13:44] 0xc0170 commented on #5421
@gerhardtgao We have not been able to reproduce this issue, is this still relevant? You are still having problems to build a project?

[2017-11-14 14:07] darbyShaw opened #5501 "Ambiguous _tx_callback and _rx_callback complaints in eclipse for SerialBase."
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F401RE

**Toolchain:**
GCC_ARM

**Toolchain version:**
6.3.1

**mbed-cli version:**
1.2.0

**mbed-os version:**
5.6.4

**Expected behavior**
No errors should be present in SerialBase.cpp, there should be no ambiguity.

**Actual behavior**
Errors:
'_rx_callback' is ambiguous '
'_tx

[2017-11-14 14:17] darbyShaw opened #5502 "Serial Communication problem in release profile build with Serial interface using aync_read."
### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F401RE

**Toolchain:**
GCC_ARM

**Toolchain version:**
6.3.1

**mbed-cli version:**
1.2.0

**mbed-os version:**
5.6.4

**Expected behavior**
The async_read provided by SerialBase.cpp for Serial interface should read data always even with release builds.

**Actual behavior**
The asy

[2017-11-14 14:26] 0xc0170 commented on #5502
@ARMmbed/team-st-mcd

[2017-11-14 14:31] 0xc0170 commented on #5501
What is your program, how to reproduce this? I do not remember seeing   this ambiguous error. I've just compiled blinky example for NUCLEO_F401RE , using GCC_ARM (latest master  b1e944f)

I assume your app is using Serial object or any other that inherits from SerialBase?

[2017-11-15 00:10] dlfryar commented on #5491
In 140, memory requirements reduced, MBR updates bug fixes, flash size increase, and being closer to a production version.

[2017-11-15 01:25] sus-e commented on #5461
thanks for fix it.

[2017-11-15 05:21] darbyShaw commented on #5501
Yes you just initialize the Serial object and open the SerialBase.cpp and eclipse just marks an error there.

[2017-11-15 08:03] kjbracey-arm commented on #1831
Agree that conceptually separating "thread" and "this thread" would make sense. Current naming derives from CMSIS-RTOS, where it's `osThreadGetId(void)` - but in C the lack of arguments makes its meaning more obvious than `Thread::gettid()` being quietly static.

Looking at the static `Thread` functions, they could be reassigned thus:
* `signal_clr`, `signal_wait`, `wait`, `yield`, `get_id` ->`Thi

[2017-11-15 09:34] gjones1 opened #5504 "C++11 format string being used causes warnings in IAR EWARM 7.80.4"
The following line us using %hh, this is a C++11 feature.  As I understand (reading the guidelines) the code should be GNU++98 (C++98 with extensions).  IAR7 is C++98 only and emits warnings.  Recommend changing or applying C++98 specific patch.

https://github.com/ARMmbed/mbed-os/blob/1394bf95f19fdb0cbf569359bbac0b02efec5d87/features/netsocket/SocketAddress.cpp#L70

[2017-11-15 11:16] JaniSuonpera opened #5506 "MBRBlockDevice::partition - type"
### Description
- Type: Question

## Question
I am looking documentation https://os.mbed.com/docs/v5.6/mbed-os-api-doxy/class_m_b_r_block_device.html#ace6dd73e8514a0a2afab8f8bc37bada8

I tried to find supported values/filesystems for type, which is "8-bit partition type to identitfy partition's contents". Would you clarity usage of parameter type with MBRBlockDevice::partition? What are supported

[2017-11-15 11:52] 0xc0170 commented on #5506
cc @geky @deepikabhavnani

[2017-11-15 11:54] 0xc0170 commented on #5504
cc @geky @kjbracey-arm

[2017-11-15 14:37] kjbracey-arm commented on #5504
This is a C99 feature, and we support C99 and are linking C99 and C++03 code into the same program, so this really has to work. There can't be two `scanf` definitions in the program - one for the C++03 and one for the C99. Any cases where C99 has an extension over C++03, we can assume it's present.

However I am aware that at least one of the libraries we use doesn't include C99 features in their

[2017-11-15 17:59] sarahmarshy commented on #5479
Looks like renesas has issued a warning - https://os.mbed.com/platforms/Renesas-GR-PEACH/#important-notice

[2017-11-15 18:52] pan- opened #5507 "Align C++ version with compiler supported."
### Description
- Type: Enhancement
- Related issue: #5329

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**

Mbed OS 5.7 will be a leap forward in compiler supports. ARM compiler v5.06 will be deprecated in favor of v6.7and IAR v7.8 will be deprecated in favor of IAR v8.2. For both of these compilers the major

[2017-11-15 19:52] #3835 closed

[2017-11-15 23:02] infinnovation commented on #4285
Note that exFAT is patented and its use [requires purchasing a licence from Microsoft](https://www.microsoft.com/en-us/legal/intellectualproperty/mtl/exfat-licensing.aspx)

[2017-11-16 01:01] TomoYamanaka commented on #5479
GR-PEACH is unsupported temporarily in Mbed OS 5.5 or later. For this reason, previously, GR-PEACH could be compiled using Mbed OS 5.4 both on Online and on Offline. However, currently, even if using Mbed OS 5.4, GR-PEACH can not be compiled on Online.

It seems that this problem blocks GR-PEACH users’ activity.
Thus, if you could update us on this soon, it would be very helpful.

[2017-11-16 09:39] 0xc0170 commented on #5297
2nd: {{__sync;1a2cdb58-88d8-4c5f-8db4-0d4609576611}} ?

I am having problem with the interface on my board. I flashed it few times just in case, 219 version downloaded from mbed target page. It reconnects often, looks like power problem.What other options I have to debug this problem? I've been using NRF51 DK without any problems. I am currently running jlink interface, disconnections seems to be

[2017-11-16 10:20] 0xc0170 commented on #5297
Updated the test code to read/write 10 characters.

[code]

Run multiple times, see the output below on my terminal:

[code]

Tested with GCC ARM and ARM.

[2017-11-16 11:31] 0xc0170 commented on #5309
@jessexm Let us know if any problem

[2017-11-16 12:32] nvlsianpu commented on #5297
I sorted out that DEVICE_SPI_ASYNCH is enabled on NRF52_DK - bat it shouldn be because of the same reason as was disabled for nRF52840_xxAA (https://github.com/ARMmbed/mbed-os/pull/4088).

[2017-11-16 12:35] 0xc0170 commented on #5297
I recall that hw bug. Does this fixes the failures are were experiencing ?

[2017-11-16 12:40] nvlsianpu commented on #5297
strange - now work even without this (on my desk).

[2017-11-16 13:33] nvlsianpu commented on #5297
I  updated my jlink IF to newest version form http://www.nordicsemi.com/eng/nordic/Products/nRF52-DK/nRF5x-OB-JLink-IF/52275 (so 170724 : COM port stability improvement). Now it works with hardware flow control well too.

I think all this issue was because of problems with our DAP\Jlink firmware - I think this issue can be closed as false-negative.

[2017-11-16 13:33] 0xc0170 commented on #5478
Have you asked Waveshare if they are considering this addition ?

You can always share your current work done (in case there is more work needed besides the pin names you shared above). Is there?

It seems there is Uart to usb converter on board, but not interface chip. No drag-n-drop programming?

[2017-11-16 13:45] nvlsianpu commented on #4826
@NeilMacMullen: Dose this issue is solved by nRFx: Use us ticker for I2C timeout #5187?
I will close this issue in the next week if I don't receive any negative response.

[2017-11-16 15:10] theotherjimmy commented on #5479
Hi @TomoYamanaka

I'm looking into this today. Thanks for your patience.

[2017-11-16 15:18] pan- commented on #5297
I reopen the issue; it is still visible on NRF52840_DK.

The issue is solved if the NRF52840 targets defines `MBED_TICKLESS`; it might be a good thing to add that. Otherwise I've observed the following behavior:

If the content of `default_idle_hook` is commented out, the test example works and if `default_idle_hook` is reduced to:

[code]

Then it doesn't as strange as it is.

@nvlsianpu Can you

[2017-11-16 16:12] 0xc0170 commented on #5484
Closed via 5486

[2017-11-16 16:12] #5484 closed

[2017-11-16 16:46] fbmrk opened #5514 "STM32F407VG: 'Cannot initialize RTC with LSE'"
### Description
- Type: Bug

**Target**
DISCO_F407VG

**Toolchain:**
GCC_ARM

----------------------------------------------------------------
Hi!
If I use `time` function in my program on STM32F407VG, i get this error: "Cannot initialize RTC with LSE". I added "RTC_LSI=1" macro to the "DISCO_F407VG" part of `mbed-os/targets/targets.json`. Now it works correctly. Is it a good solution for that pro

[2017-11-16 17:02] bentcooke opened #5515 "Second UART module (UART1) not supported by serial api for Nordic NRF52840"
### Description
- Type: Enhancement
- Priority: Major
---------------------------------------------------------------
**Target**
 NRF52840
---------------------------------------------------------------
The NRF52840 has two UART modules, but only one is implemented in the serial_api HAL.

[2017-11-16 17:05] jeromecoutant commented on #5514
Hi

Check
http://www.st.com/resource/en/user_manual/dm00039084.pdf

32kHz external clock is not provided by default

So your patch  seems correct

[2017-11-17 02:27] xiangzhai opened #5517 "lib_wlan_mbed_gcc.a is 5x bigger than lib_wlan_mbed_arm.ar"
Hi ARMmbed developers,

### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**Toolchain:**
GCC_ARM|ARM

**Toolchain version:**
gcc version 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437] (GNU Tools for ARM Embedded Processors 6-2017-q2-update)

ARM Compiler v6.9 based on LLVM 6

**mbed

[2017-11-17 07:16] nvlsianpu commented on #5297
@pan- I will check this in next week.

[2017-11-17 07:36] nvlsianpu commented on #4357
This is what I have on output form ci-test-shield test for concurrent I2C/SPI verification (see https://github.com/ARMmbed/ci-test-shield/blob/master/TESTS/concurrent/Comms/Comms.cpp):
Test was compiled against NRF52_DK@ARM_GCC

![image](https://user-images.githubusercontent.com/17042885/32935791-e899651a-cb71-11e7-9a70-c7391fb0baca.png)

I ran it by hand for mitigating any IF firmware problems we

[2017-11-17 07:41] nvlsianpu commented on #4026
@0xc0170  I was solved. Can you close this?

[2017-11-17 08:05] nvlsianpu commented on #5462
@thinkberg - Is fixed, can you close the issue.

[2017-11-17 08:10] #5462 closed

[2017-11-17 09:25] #4026 closed

[2017-11-17 09:26] 0xc0170 commented on #4357
Thanks @NeilMacMullen and @nvlsianpu for the updates

[2017-11-17 09:26] #4357 closed

[2017-11-17 09:39] 0xc0170 commented on #5517
@ARMmbed/team-realtek

[2017-11-17 10:35] rspelta opened #5519 "exporting problem with compiler online"
Hello, if I try to export a project, like mbed-os-example-blinky, there is this problem:

1. I select export, I export all files.
![1](https://user-images.githubusercontent.com/3882627/32942983-f11845a8-cb8a-11e7-99d5-04853987c41c.png)

2. waiting...
![2](https://user-images.githubusercontent.com/3882627/32943007-076d5f3c-cb8b-11e7-8e15-e00720730e24.png)

3. error
![3](https://user-images.githubus

[2017-11-17 10:43] 0xc0170 commented on #5515
@ARMmbed/team-nordic

[2017-11-17 10:47] pan- commented on #5517
@xiangzhai Not sure to understand what the problem is;  `.debug_str`, `.debug_abbrev`, `.debug_info`, `.debug_frame` and `.debug_line` sections may be in the elf but are not part of the binary flashed on boards.

Your also comparing apple and oranges: it is innane to compare `DISCO_L475VG_IOT01-wifi_http_server` with `mbed-os-example-wifi` on the REALTEK_RTL8195AM; those are different examples and

[2017-11-17 11:03] xiangzhai commented on #5517
@pan- The debug section not in ELF or BIN, and yes, DISCO_L475VG_IOT01 https://os.mbed.com/teams/ST/code/DISCO_L475VG_IOT01A_wifi/  is **10x** smaller than Realtek, it is able to extract the static library, then objdump to see. I am using patched LLVM Toolchain to build WiFi example http://www.leetcode.cn/2017/11/build-mbed-with-llvm-toolchain.html Workaround patch https://github.com/xiangzhai/ufi

[2017-11-17 11:12] xiangzhai commented on #5517
https://github.com/xiangzhai/ufiasco/commit/acd4e9c9f5f2fb71a24bd2d5892e8447b52827af

and

https://github.com/xiangzhai/ufiasco/commit/da062a1af034fa9711413a5038a87dc17b645e13

Based on ARM C MicroLib, but I am trying to use others https://keithp.com/blogs/embedded-arm-libc/

[2017-11-17 11:22] pan- commented on #5517
@xiangzhai We do have a branch for ARM compiler 6 support, at the current minute armlink rejects the precompiled library from realtek because it has been compiled for ARM compiler 5; I would be happy to compare GCC and ARM compiler numbers once the realtek library is available. I'm pretty sure difference between the two won't be in the 5X ballpark giben that GCC outperform ARM compiler 5.06 on thi

[2017-11-17 11:33] pan- commented on #5504
@kjbracey-arm newlib nano only supports conversion specifiers defined in the C89 standard ([1](https://github.com/32bitmicro/newlib-nano-1.0/blob/master/newlib/README.nano), [2](https://answers.launchpad.net/gcc-arm-embedded/+question/257014)).

Alignement between C and C++ compilers can be better if we compile C++ code in C++11 mode; the upcomming compiler changes may be the good oportunity to im

[2017-11-17 11:37] xiangzhai commented on #5517
@pan- salute for your hard work!

PS: it is glad to see more Realtek boards will support ARMmbed :)

[2017-11-17 13:09] karsev opened #5522 "thread max_stack() returns always aligned stacksize-4 in rtos5"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
ARM

**Toolchain version:**
5.06
**mbed-cli version:**
1.1.1

**mbed-os sha:**
78474a512

**Expected behavior**
Should return maximum stack memory usage to date

**Actual behavior**
Calling max_stack() returns: aligned stacksize-4
**Steps to reprodu

[2017-11-17 13:45] fkjagodzinski commented on #5284
The proposed fix provided in d006eaacbfafc29c6b14905ff8cc4afb266b5fe2 makes timerevent tests pass. Unfortunately a side effect is present -- a regression for **GCC_ARM** and **IAR** compilers on `tests-mbed_hal-sleep_manager_racecondition` and `tests-mbed_drivers-ticker` test cases. It's worth to point that everything is fine for **ARM** compiler though.

[2017-11-17 13:55] pan- commented on #5284
@nvlsianpu Can you look at that ? It may be related to things seen in #5297 .

[2017-11-17 14:08] NeilMacMullen commented on #4826
Yes- seems  to be working well for me.  Thanks for addressing this!

[2017-11-17 14:56] theotherjimmy commented on #5519
@rspelta Please do not check "Export All files" I will talk with the web team to remove it.

[2017-11-17 17:41] geky opened #5524 "tests: Unable to share code in tests"
I realize this issue probably already exists, but I can't seemt to find it.

Currently, we have no method for sharing code between related tests. Currently the options are:
1. Copy test code into every test directory
2. Include the code at the top level and compile always

Option 1 violates the principle of don't repeat yourself. Leads to a lot of code duplication that can fall out of sync as test

[2017-11-17 17:43] theotherjimmy commented on #5524
Definitely a problem. I don't presently have a design for a solution. I'm very open to suggestions here.

[2017-11-17 23:07] bridadan commented on #5524
Yep, this was a bit of an oversight when this was first implemented!

Seems ok, and should be pretty straight forward to accomplish. The edits would need to be made in `tools/test.py` and `tools/test_api.py`. I'd definitely make it a capital directory to fit in with our existing "All caps directories are special". Just needs to be documented in Mbed CLI's readme.

[2017-11-19 07:54] studavekar opened #5529 "tests-mbed_drivers-ticker tests are failing on KL46Z"
### Description

tests-mbed_drivers-ticker tests are failing for KL46Z on master

[code]

- Type: Bug

**Target**
KL46Z

**Toolchain:**
GCC_ARM|ARM|IAR

**Steps to reproduce**
mbed test -m KL46Z -t GCC_ARM-n tests-mbed_drivers-ticker -vv

[2017-11-20 07:40] peeyushpashine commented on #4586
@geky @bcostm Does ETHERNET via LWIP is fully supported on ST targets now like the other peripherals? how are netif APIs called using ethernet abstraction? I was trying to find the bind but could not find that [here](https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip-eth/arch/TARGET_STM/TARGET_STM32F7/TARGET_NUCLEO_F746ZG/stm32f7_eth_init.c):

[2017-11-20 09:19] LMESTM commented on #5502
@0xc0170  I don't think this is related to ST device.
@darbyShaw  the issue comes from your program. The compiler will optimize out some of the data_available usage if you're not telling the compiler that it can be changed from different contexts.
Please use volatile declaration:
[code]
thanks to close the issue

[2017-11-20 09:38] bcostm commented on #4586
Yes

[2017-11-20 14:31] 0xc0170 commented on #4586
@peeyushpashine Can this be closed?

[2017-11-20 14:32] #5502 closed

[2017-11-20 14:49] 0xc0170 commented on #5284
cc @ARMmbed/team-nordic Can you review these specific lines: https://github.com/ARMmbed/mbed-os/commit/d006eaacbfafc29c6b14905ff8cc4afb266b5fe2#diff-80a5f6c9883e4a449adb8fb70684d593R41

How should fire interrupt be implemented for nordic targets?

[2017-11-20 14:53] nvlsianpu commented on #5284
@0xc0170 I will review and comment in a few days - Unfortunately I have other important task at the moment.

[2017-11-20 15:02] 0xc0170 commented on #4885
Tracked here https://github.com/ARMmbed/mbed-os/issues/4877

Please reference the exact files and what changes should be done? The test contains a check that is not supported https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbedmicro-rtos-mbed/threads/main.cpp#L24

[2017-11-20 15:12] 0xc0170 commented on #5529
@maciejbocianski Can you please look at t his one. Is this related to https://github.com/ARMmbed/mbed-os/pull/5261 ?

cc @ARMmbed/team-nxp

[2017-11-20 15:24] jeromecoutant commented on #4885
Test writer is an expert, so the correct check exists :-)
But what about other applications ?
What will avoid any user to use thread and nanolib ?

[2017-11-20 15:35] 0xc0170 commented on #4885
I recall there was a settting previously for older RTX that would limit number of thread, I can not locate it anymore to be related to `MBED_RTOS_SINGLE_THREAD` macro.

cc @bulislaw

[2017-11-20 16:20] 0xc0170 opened #5537 "Tools: multiple region - tools error msg improvement"
### Description
- Type: Enhancement
- Related issue: #5021
- Priority:  Minor

Referenced PR above , there is this request:

The problem

Possibly enhancement

@theotherjimmy Please add more information if needed

cc @chrissnow

[2017-11-20 16:52] #5440 closed

[2017-11-20 16:53] #5514 closed

[2017-11-20 17:09] theotherjimmy commented on #5537
@0xc0170 That looks correct. I changed the related issue field so that it links correctly.

[2017-11-21 04:06] peeyushpashine commented on #4586
@0xc0170 Sure.

[2017-11-21 04:06] #4586 closed

[2017-11-21 06:09] maciejbocianski commented on #5529
@0xc0170  This issue was already reported see #KL46Z

[2017-11-21 06:11] maciejbocianski commented on #5307
@0xc0170 maybe we should clone this issue for KL46Z?

[2017-11-21 09:31] peeyushpashine opened #5542 "Ethernet driver in mbed/driver does not call ST specific HAL libs?"
### Description
- Type: Question

**Target**
TARGET_STM

Ethernet driver in mbed-os/driver does not call ST specific HAL libs while these HAL functions are implemented for other targets.

I see [here](https://github.com/ARMmbed/mbed-os/tree/c0fe3b510931e2e60fc40b6ccb52a39ba31c5e00/features/FEATURE_LWIP/lwip-interface) EthernetInterface.cpp implements target specific arch based LWIP interface for S

[2017-11-21 09:40] jeromecoutant opened #5543 "Test compilation issue for LWIP targets"
Hi

Tests from ci-test-shield can not be executed any more with mbed-os-5.6.5 for targets which are supporting LWIP.... :-(

ex:
mbed test -t GCC_ARM -m NUCLEO_F207ZG -n tests* --compile
[code]

It seems that guilty commit is 4a5ad4ee3ebb34b173bf8753f0670c03ecc0f835

Thx

[2017-11-21 10:24] 0xc0170 commented on #5524
A set of tests (test unit) might need a common folder, as shown above `TESTS/filesystem/UTIL`. How these test units can specify the common folder dependency? For filesystem it can be util, for spi drivers another one, tickers another one.

How can this be defined?  Set somehow in our tools as @bridadan proposed above? Who should define this dependency? A target defines it's own dependencies via la

[2017-11-21 10:36] MikeDK opened #5544 "Add HAL interface for retrieving Unique Serial Number of CPU"
### Description
- Type: Enhancement

## Enhancement

**Reason to enhance**
As far as I know there is no abstract layer to retrieve a CPU unique serial number which is implemented by nearly all manufacturers.
At the moment a developer has to write native board/cpu code for getting the unique serial number.

**Suggested enhancement**
Add new HAL interface for getting unique serial number, which shal

[2017-11-21 11:04] SeppoTakalo opened #5545 "Pin definition A3 missing on REALTEK_RTL8195"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195A

**Toolchain:**
GCC_ARM

**Expected behavior**
Arduino pin names should be defined.

**Actual behavior**
Pin A3 is missing from:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Realtek/TARGET_AMEBA/TARGET_RTL8195A/P

[2017-11-21 11:20] 0xc0170 commented on #5545
@ARMmbed/team-realtek

[2017-11-21 11:25] 0xc0170 commented on #5544
Can you reference the code ? Or paste here code snippet ?

cc @bulislaw @c1728p9 @scartmell-arm

[2017-11-21 11:30] TomoYamanaka commented on #5479
How is going? Any update?

GR-PEACH users are in trouble that can not compile on Online environment.
So I will appreciate if you solve this issue promptly.

[2017-11-21 11:31] 0xc0170 commented on #5543
@jeromecoutant I do not see the connection between i2c pins and the referenced PR that is changing some networking tests. Could you clarify how did you get to that guilty commit? It would be helpful

cc @yennster @sarahmarshy

[2017-11-21 11:32] 0xc0170 commented on #5542
@peeyushpashine mbed-os/driver, do you mean `Ethernet` class?

[2017-11-21 11:42] 0xc0170 commented on #5522
This is the code for max stack in Thread.cpp (https://github.com/ARMmbed/mbed-os/blob/master/rtos/Thread.cpp#L292).

I do not recall why are are not using by default the `osThreadGetStackSize` and `osThreadGetStackSpace`. I assume as we fill the stack with our own defined value (Thread::start method does it) therefore this is used instead. If these functions are used instead, does it return the ex

[2017-11-21 11:51] MikeDK commented on #5544
ok no problem, I can paste it...:

UniqueSerial.h
`#include <mbed.h>
#include <string>

class UniqueSerial
{
public:
    UniqueSerial();
    virtual ~UniqueSerial();

    operator std::string() { return uidString; }
    operator const char*() { return uidString.c_str(); }

private:
    std::string uidString;

};
`

UniqueSerial.cpp
`#include <cstdio>
#include "UniqueSerial.h"

#if defined(TARGET_E

[2017-11-21 11:53] MikeDK commented on #5544
ok the "insert code" button here doesn't work for me ;)

i'll attach the files instead...

[UniqueSerial.zip](https://github.com/ARMmbed/mbed-os/files/1491190/UniqueSerial.zip)

[2017-11-21 12:03] jeromecoutant commented on #5543
Before, compilation is OK. With the commit, it fails.... :-(
It looks like with the patch, mbed_app.json file from ci-test-shield is no more taken into account.
I could add some print in the py file to check...

[2017-11-21 12:17] VeijoPesonen opened #5546 "libublox-odin-w2-driver.a incompatible with current master"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

The binary interface has changed in a way that the binary driver is unusable. The change causing the issue was introduced in commit PR #5428 . The binary driver would need to be recompiled to support changes incorporated to the OS side. Probably requires recompilation of other bin

[2017-11-21 12:18] jeromecoutant commented on #5543
Issue looks to start in test.py just after this:

        # Assign config file. Precedence: test_config>app_config
        # TODO: merge configs if both given

Maybe it's time to implement the todo :-)
When there is no LWIP, config is None.
With LWIP target, config is EthernetInterface.json file.

[2017-11-21 12:31] mikaleppanen commented on #5546
@kjbracey-arm Could you describe how the interface from libraries (e.g. from ublox driver) to mbed OS should be made so that we do not run into these kind of problems with future changes.

[2017-11-21 12:40] 0xc0170 commented on #5546
https://github.com/ARMmbed/mbed-os/commit/130fffaf8 - This is the commit referenced above. This broke the binary compatibility with this driver (one change  - removing `_attr` private member) 😭 😦

@ARMmbed/team-ublox Can you please update the drivers for upcoming 5.7 (the feature freeze is soon, so should be updated).

[2017-11-21 12:44] kjbracey-arm commented on #5546
I'm not sure we have a general scheme here - I don't believe mbed OS has ever made any effort to preserve binary compatibility, only source compatibility.

If a binary blob is calling any mbed OS APIs, particularly C++ ones, then it's going to be vulnerable to changes.

What I would suggest is what we effectively did with Nanostack - the binary blob contains no C++ and makes no OS calls apart from

[2017-11-21 12:52] 0xc0170 commented on #5546
We shall look at it if binaries are part of our code base (not everything can be open sourced, however that would be good if that is the case).

This is what has been the case (having updates for minor releases).

[2017-11-21 13:06] 0xc0170 commented on #5546
To be certain, @ARMmbed/team-realtek - this should not affect your libraries, is that correct?

[2017-11-21 13:45] #5441 closed

[2017-11-21 13:52] #5134 closed

[2017-11-21 14:34] bulislaw commented on #5544
We have it in our plans, but not yet on the roadmap. If you need it anytime soon I would recommend to try to contribute this functionality to mbed so the whole community can benefit.

[2017-11-21 14:41] 0xc0170 commented on #5307
If there is any, yes please do

[2017-11-21 14:43] 0xc0170 commented on #5529
OK,I can see now, this was originally reported here https://github.com/ARMmbed/mbed-os/issues/5307.

@maciejbocianski if we can rework the original report to be clear it has KL46Z in there, this can be closed as duplicate.

[2017-11-21 15:07] #4826 closed

[2017-11-21 15:39] bridadan commented on #5524
Not to my knowledge, no. And there isn't really anything in the tools right now that would allow us to do that.

Same thing here, there isn't really a mechanism for this that I know of.

Since we already treat the folders `TESTS/host_tests` and `TESTS/<test group>host_tests` differently, would anyone be opposed to adding a similar folder? I'd propose `TESTS/common` and `TESTS/<test group>/common`.

[2017-11-21 15:58] tung7970 commented on #5546
@0xc0170 There are two libraries, peripheral and wlan. I believe the peripheral library is pure HAL code, and wlan one does not call mbed c++ APIs. @Archcady Please confirm.

[2017-11-21 16:01] theotherjimmy commented on #5479
Hi @TomoYamanaka,

I'm debugging the issue on partnerbeta right now. This has been very hard to track down.

[2017-11-21 17:35] th3james commented on #5479
@TomoYamanaka @theotherjimmy The fix is now live on os.mbed.com

[2017-11-21 17:37] theotherjimmy commented on #5479
Thanks @th3james! 🥇  that was quick!

[2017-11-21 20:02] c1728p9 commented on #5522
The guard word might be causing max_stack to be returning the wrong value.

@0xc0170 if osThreadGetStackSize and osThreadGetStackSpace are used it should fix the problem, as long as watermarking is always on. Here is the previous reason why this was left out:
https://github.com/ARMmbed/mbed-os/pull/4776#issuecomment-324052011

[2017-11-21 22:52] geky commented on #5543
It looks like the test config is completely overriding the mbed_app.json, @sarahmarshy, @studavekar, is this expected?

[2017-11-21 23:05] sarahmarshy commented on #5543
No. Definitely a bug. Will need to have some discussion with Shrikant about correct behavior for this.

[2017-11-22 01:33] geky opened #5551 "retarget: ftell seems to be calling file_seek instead of file_tell"
This is not incorrect behaviour, but is a hit to performance.

The seek function can be used to get the needed info for ftell, but a call to seek has a lot more implications since it may change the file position. Most notable caches may end up flushed to disk to prepare for the jump.

We have file_tell in the filesystem API, so ftell should be calling that instead. In theory, we just need to look

[2017-11-22 02:42] TomoYamanaka commented on #5479
@theotherjimmy @th3james

Thank you for your prompt reply.
I confirmed to compile the programs by using GR-PEACH board on Mbed Online compiler.
I close this.

[2017-11-22 02:42] #5479 closed

[2017-11-22 05:22] peeyushpashine commented on #5542
@0xc0170 Yes the Ethernet class.

[2017-11-22 05:47] xiangzhai commented on #4643
Hi @Archcady thanks for your kind response! [mbed-os-example-wifi](https://github.com/ARMmbed/mbed-os-example-wifi) for RTL8195A target is including Realtek SDK, [lib_wlan_mbed_gcc.a](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Realtek/TARGET_AMEBA/TARGET_RTL8195A/device/TOOLCHAIN_GCC_ARM/lib_wlan_mbed_gcc.a) the static library's size is weird... #5517, mbed CMSIS RTOS wrapper, H

[2017-11-22 09:07] 0xc0170 commented on #5542
I believe this is duplicate of https://github.com/ARMmbed/mbed-os/issues/4586 that you reported earlier. Similar question. The answer is that ethernet in device_has is deprecated, thus also this class. However we have this subject again, and I noticed Ethernet class is still present in the drivers without any indication of deprecation.

@kjbracey-arm @mikaleppanen  @geky If the above is correct, w

[2017-11-22 09:39] kjbracey-arm commented on #5542
This is correct - the class should be deprecated.

Work in progress is refining the EMAC APIs, so that `EthernetInterface` is generalised from "Ethernet using TARGET_XXX's native lwIP driver" into "Ethernet using any EMAC driver attached to any on-board IP stack". Last draft of that was at #5202, next one coming soon. Main difference since 5202 is that the EMAC API is C++-ified so that an EMAC dri

[2017-11-22 09:54] andreaslarssonublox commented on #5546
@0xc0170 We will generate a new ODIN binary in the next couple of days.

[2017-11-22 10:17] 0xc0170 commented on #5546
Thanks for the prompt updates 💯

[2017-11-22 11:09] LMESTM opened #5554 "STM32: SPI slave with NC MISO"
### Description
Following discussion here:
https://os.mbed.com/questions/79575/SPISlave-function-does-NOT-work-on-Nucle/
it seems that STM32 SPi slave is not configured correctly in case MISO line is NC.

[2017-11-22 13:32] danny4478 opened #5555 "core_util_atomic_incr_u8() implementation and __EXCLUSIVE_ACCESS"
This issue refers to mbed_critical.c file.

As far as we saw, there are two implementations for core_util_atomic_incr_u8() function:
1. For ARMv7 and newer, uses __LDREX() / __STREX()
2. For older architectures using critical section.

The implementation is selected according to __EXCLUSIVE_ACCESS define from core_cm.h.

We are building mbed_os for K64F which supports LDREX / STREX but the impleme

[2017-11-22 13:35] danny4478 opened #5556 "core_util_atomic_cas_u32() - retry on failure?"
This issue refers to core_util_atomic_cas_u32() in mbed_critical.c file.

According to the pseudo code code in header file this function should save new value in case comparison fails.
But: The implementation returns failure in case __STREXW fails.

As we see it:
We should add a do-while loop here as we did in core_util_atomic_incr_u8().
__STREXW can fail in case there was a context switch and the

[2017-11-22 14:52] MikeDK commented on #5544
Ok I implemented the functionality and also made the implementation for STM32, EFM32 and NRF5x targets.

Pull Request: #5557

Someone then has to urge all the other vendors to also implement this ;-)

[2017-11-22 16:16] #5304 closed

[2017-11-22 17:37] yennster commented on #5543
@jeromecoutant As a workaround, have you tried appending the location of your mbed_app.json file to your test command?
i.e. `mbed test -t GCC_ARM -m NUCLEO_F207ZG -n tests* --app-config mbed_app.json --compile`

I am looking into a fix for test.py so it will not always override the mbed_app.json file with the test config.

[2017-11-23 07:19] maciejbocianski opened #5564 "KL46Z: Inconsistent Ticker callback calls when scheduled many tickers at the same time"
When schedule many Tickers one after the other with the same time interval 100ms and then wait 105ms it's expected that after this time all Tickers will be fired once. But we get other results sometimes not all tickers are fired and sometimes some fire more then once

Problem noticed in https://github.com/ARMmbed/mbed-os/pull/5261 in the following test
[code]
Sample code for reproduction
[code]

#

[2017-11-23 07:23] maciejbocianski commented on #5307
issue was cloned for KL46Z see https://github.com/ARMmbed/mbed-os/issues/5564

[2017-11-23 07:25] #5307 closed

[2017-11-23 09:26] xiangzhai commented on #5517
ellcc Toolchain is awesome! http://ellcc.org/viewvc/svn/ellcc/trunk/libecc/patches/

[2017-11-23 09:26] #5517 closed

[2017-11-23 10:04] jeromecoutant commented on #5543
Hi
yes,
mbed test -t GCC_ARM -m NUCLEO_F207ZG -n tests* --app-config mbed_app.json --compile
is working!
Thx

Let's try now #5559

[2017-11-23 14:11] #5468 closed

[2017-11-23 17:29] amq commented on #4862
@theotherjimmy any update?

[2017-11-23 18:14] RobMeades opened #5573 "Windows USB resets board at 15 minute intervals!?"
I am developing an application on an Mbed board (C030) which happens to log diagnostics behaviour to file and send it off to a server when the board comes up after a reset. When I looked at my data this morning I found that the application had reset every 15 minutes, the STM32F4 MCU reporting that it was reset by an external pin.  More than that, it had reset at 00, 15, 30 and 45 minutes past the

[2017-11-24 09:57] 0xc0170 opened #5575 "travis: The job exceeded the maximum time limit for jobs"
I've have noticed few failures due to maximum time limit for jobs in travis. The second run is always green though, usually restarting a job makes it overcome this limit. The last build failure due to timeout was here: https://github.com/ARMmbed/mbed-os/pull/5273#issuecomment-346754532. The message in the log is:

What I found in the travis doc, this should help: https://docs.travis-ci.com/user/co

[2017-11-24 09:58] 0xc0170 commented on #5564
@ARMmbed/team-nxp please review

[2017-11-24 09:58] 0xc0170 commented on #5564
Is this similar to https://github.com/ARMmbed/mbed-os/issues/5529 ?

[2017-11-24 09:59] 0xc0170 commented on #5556
cc @pan- @scartmell-arm

[2017-11-24 10:43] adbridge commented on #5575
Looks like there are a few options there we can try!

[2017-11-24 10:51] pan- commented on #5556
@danny4478 Retry logic has to be offloaded to the caller, it works that way for C and C++ standard atomic for a good reaon: Often the caller needs to update the value it wants to set if the compare fail.

As an example consider the insertion of a new head pointer in an atomic linked list:

[code]

It wouldn't be possible to write such code if the retry logic was in `core_util_atomic_cas_ptr` and t

[2017-11-24 11:10] 0xc0170 commented on #5556
@danny4478 please read https://blogs.oracle.com/dave/atomic-fetch-and-add-vs-compare-and-swap

[2017-11-24 11:10] pan- commented on #5555
@danny4478 I suppose it is a bug, `__EXCLUSIVE_ACCESS` is defined in [rtx_core_cm.h](https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_core_cm.h#L44-L53) but doesn't propagate - for good reasons - to `mbed_critical.h`.

@c1728p9 Would it be possible to define `__EXCLUSIVE_ACCESS` at a more global scope ?

[2017-11-24 11:16] pan- commented on #5556
@danny4478 Looking at the atomic API, there is no function for atomica exchange; That might be the one you looking for:

[code]

[2017-11-24 11:25] kjbracey-arm commented on #5556
The CAS implementations do differ here - the LDREX/STREX one is weak, the enter/exit critical one is strong.

It would be perfectly possible to have a strong implementation that retries when the STREX fails. The C and C++ standard provides having both versions.

The documentation for the mbed one doesn't say whether it's strong or weak, but I would have assumed it to be strong.

As it stands the c

[2017-11-24 11:30] kjbracey-arm commented on #5556
Actually, there's a clear discrepancy. The pseudocode says it's strong:

      if *p != *old {
          *old = *p
          return false
      }
      *p = new
      return true

LDREX/STREX version behaviour is actually:

      if *p != *old {
          *old = *p
          return false
      }
      if we're lucky {
          *p = new
          return true
      } else {
          return false;

[2017-11-24 11:44] kjbracey-arm commented on #5556
@pan- Yes, many algorithms like your example that use CAS are looping anyway, so spurious failures don't hurt them, so they can happily use a weak function - their loop covers both multithreading issues and spurious failures.

But other algorithms may not need to loop - they want a strong CAS that always works if the value matches, and only returns false if another thread has messed with the data.

[2017-11-24 12:44] pan- commented on #5556
@kjbracey-arm Why not have both weak and strong CAS ? It would makes porting of code exploiting atomic operations easier.

[2017-11-24 12:52] kjbracey-arm commented on #5556
Indeed, under clear weak and strong names.

Still need to figure out what the intended behaviour of the current call is though - I guess it has to be strong, given that it's safer, matches what the documentation says, and the weak LDREX version isn't being invoked anyway, so everyone's currently getting strong behaviour.

[2017-11-24 13:12] stevew817 commented on #5423
This is a sticky one. Wait exercises the high-precision counter, and initializes it. At that point, the API's expectation is that the underlying timer keeps running to keep calls to read_time actually returning elapsed time.
Until we get reference counting on the ticker/timer usage, and explicitly turn it off when not in use, we can't just enable EM2 again, since that would stop the clock to the h

[2017-11-24 13:19] 0xc0170 commented on #5423
This branch should help - feature-hal-spec-sleep - defines that deepsleep turns off high speed clock.
All C++ time based objects have sleep manager in place, thus if not used , deepsleep should be allowed (in this case EM2 would be enabled or lower). Will that address this issue?

[2017-11-24 14:40] VeijoPesonen opened #5582 "UBLOX_EVK_ODIN_W2 does not pass Greentea testcase WIFI-CONNECT-PARAMS-CHANNEL and WIFI-CONNECT-PARAMS-CHANNEL-FAIL"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-g++.exe (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]
**mbed-cli version:**
`1.2.2`

**mbed-os sha:**
`4e222952d`

[2017-11-24 14:51] VeijoPesonen commented on #5582
@SeppoTakalo, for your information

[2017-11-24 15:32] 0xc0170 commented on #5582
@ARMmbed/team-ublox

[2017-11-25 05:50] thomasonw commented on #4090
Closing this due to lack of progress on resolution.  MBED is unable to support NMEA2000 deployments without using priority CAN drivers and/or custom patched libraries.

[2017-11-25 05:50] #4090 closed

[2017-11-25 12:04] stevew817 commented on #5496
@studavekar @0xc0170 This should be fixed by PR #5585

[2017-11-25 12:16] stevew817 commented on #5495
@studavekar I can't reproduce on mbed-os master...

[code]

[2017-11-26 08:14] danny4478 commented on #5555
Not sure what you mean...
We would like to use the atomic increment function and expected the __LDREX() / __STREX() to be used.
If __EXCLUSIVE_ACCESS is not propagated (what are the good reasons you have mentioned?) then I don't see how defining it in a more global scope can help here.

[2017-11-26 08:23] danny4478 commented on #5556
OK. It looks like I would have to use my own implementation if I want to use __LDREX() / __STREX() with a retry in a loop.
IMHO, the documentation needs to change anyway.

[2017-11-26 15:00] alzix commented on #5556
I see another problem here. `core_util_atomic_cas_u32` has two implementations (guarded by `#if __EXCLUSIVE_ACCESS` ) within the very same file but with a different behaviors.
I believe this is not only a pseudocode documentation issue, as it can potentially lead to portability issues.

[2017-11-26 22:42] jrobeson commented on #5002
@shayo: Can you still reproduce this in the latest 5.6?

[2017-11-26 23:03] jrobeson opened #5588 "Plans for SDK 12, 13, or 14 for nrf52832 devices?"
### Description
- Type: Question
- Related issue: `#4132`
## Bug

**Target**
Any based on nrf52832

-----------------------------------------------------------------

## Question
  Just wanting to what happened with the effort to use the SDK13  for both nrf52832 devices and nrf52840 and what the future is for SDK 14.

[2017-11-26 23:24] jrobeson commented on #5588
I didn't realize that SDK 14 had been out for awhile, so I'm updating the title and description.

[2017-11-26 23:42] shayo commented on #5002
I'm am out until next week. I will test this once I'm back.

[2017-11-27 06:52] JanneKiiskila commented on #5506
There really should be some kind of enum or similar to specify this parameter.

[2017-11-27 07:55] 0xc0170 commented on #5588
cc @ARMmbed/team-nordic

[2017-11-27 08:10] 0xc0170 commented on #5556
@alzix That is another issue with this: #5555 where we can resolve it

[2017-11-27 08:14] 0xc0170 commented on #5555
This was changed 3 months back to use the macro from RTX instead of our own ifdef. This is the last change https://github.com/ARMmbed/mbed-os/pull/4902

cc @deepikabhavnani

[2017-11-27 10:26] stevew817 commented on #5382
@theotherjimmy Please see #5579 and let me know whether this is appropriate, or whether there should be a separate PR to `feature-iar8`. I'd assume not, since you should be able to rebase on master when my PR gets in, right?

[2017-11-27 10:55] pan- commented on #5555
@danny4478 Mbed 2 compiles without RTOS support and the platform layer does not exploit explicitly RTOS promitives; those are some good reasons to not include an RTOS header into the platform module.

[2017-11-27 11:00] pan- commented on #5588
SDK15 and production version of the Softdevice for the NRF52840 will likely be released soon (NRF52840 production chips expected this quarter). I hope we will get both in a reasonable time frame. However I don't think updates for SDK12 or 13 will be released (maybe 14 if not skipped).

[2017-11-27 11:37] nvlsianpu commented on #4612
@xc0170,  @c1728p9  Is this issue is still valid?

[2017-11-27 11:50] bulislaw commented on #5284
ping

[2017-11-27 11:52] bulislaw commented on #5431
ping @danclement @jacobjohnson-ON

[2017-11-27 11:57] 0xc0170 commented on #4612
I believe this was resolved earlier with updating ticker tests at the host side plus above the stack overflow.

[2017-11-27 11:57] #4612 closed

[2017-11-27 12:17] alzix commented on #5556
#5555 deals with selecting the the implementation.
This issue deals with behavior differences between the two implementations.
IMHO this issue should be addressed by either proper documentation as suggested by @kjbracey-arm or by fixing the actual implementation

[2017-11-27 14:31] 0xc0170 commented on #5546
@andreaslarssonublox How is the update going?

[2017-11-27 14:52] yogeshk19 commented on #4893
@nvlsianpu - Based on the suggestions made by @pan- Vincent, we were able to get the desired power consumption level. At this point you can close this thread. However is there a build that is coming out which implements the changes for the sleep without us adding any custom code?

Thanks,
Yogesh

[2017-11-27 14:55] andreaslarssonublox commented on #5582
Hi, I have looked at the test cases and this is what I found:
1. The test cases do not seem to be complete, e.g. wifi_connect does not contain any disconnect. Therefore the next test case will most likely fail because we're already connected.
2. Old test cases used NSAPI_SECURITY_WPA_WPA2 security mode but current use NSAPI_SECURITY_WPA2 which is not supported by the ODIN driver right now.
3. The

[2017-11-27 15:32] 0xc0170 commented on #5556
Is this possible to fix by editing only documentation? @kjbracey-arm Can you send a fix to address this?

[2017-11-27 15:45] pan- commented on #5556
@0xc0170 Not sure how this can be fixed with the documentation; one implementation based on critical section is a strong CAS while the other that uses a monitor is a weak CAS.

[2017-11-27 15:58] 0xc0170 commented on #5555
I remember that we define some  core values in `__init__.py` file, that could contain this macro for architectures that support it ?

[2017-11-27 16:00] alzix commented on #5555
how about just adding the include to `rtx_core_cm.h` from mbed_critical.c? :)
who else would leverage from this define?

[2017-11-27 16:04] 0xc0170 commented on #5555
Can't do that, see the comment above.

[2017-11-27 16:35] deepikabhavnani commented on #5555
@0xc0170 - Do you mean adding macro to `CORE_LABELS` section (https://github.com/ARMmbed/mbed-os/blob/master/tools/targets/__init__.py#L35)

@theotherjimmy - Any thoughts on this?

[2017-11-27 16:38] 0xc0170 commented on #5555
Yes, that is correct, that is my proposal. It's architecture specific so could be placed there in targets (we got there other core definitions). It might be a good to name it differently not to cause clashes with rtx symbol. What others think?

[2017-11-27 16:44] deepikabhavnani commented on #5555
👍

[2017-11-27 16:49] theotherjimmy commented on #5382
@stevew817 Thanks for the update. Does that library work with both IAR v 7.8 and 8.2? if so, then we can rebase `feature-iar8` and check off all of the rail libraries.

[2017-11-27 17:03] theotherjimmy commented on #5555
@0xc0170 @deepikabhavnani I'd rather not see magic show up in `tools/targets/__init__.py`. Could this macro be added to a header file somewhere instead?

[2017-11-27 20:09] #4250 closed

[2017-11-27 22:22] theotherjimmy commented on #4862
@amq No, I have not had a chance to take a look at this yet. It looks like it might be related to `"target.features_add" : ["LWIP", "COMMON_PAL"]` in `mbed_app.json`. I'll see if I can reduce it to a minimal breaking example.

[2017-11-28 06:27] maciejbocianski commented on #5564
Yes it's the same problem

[2017-11-28 07:37] VeijoPesonen commented on #5582
@andreaslarssonublox , thanks for the information.

For me it looks like the test cases make an assumption that connect() will implicitly reset everything and then connection setup is started with a clean slate. It is debatable is this a right approach.

May I take it that NSAPI_SECURITY_WPA2 is to be supported in the (near) future?

[2017-11-28 07:54] jrobeson commented on #5588
@pan- : so to clarify. It's planned to bring SDK15 into mbed-os for usage with both nrf52832 and nrf52840 devices?

[2017-11-28 08:07] andreaslarssonublox commented on #5546
@0xc0170 we will create the PR today.

[2017-11-28 08:33] kjbracey-arm commented on #5556
You _could_ just document the existing call as weak. A weak CAS isn't _required_ to ever spuriously fail, so both implementations are valid weak ones.

Perfectly possible, but feels a bit like a trap, as users didn't actually look at a pair labelled "strong" and "weak" and mindfully choose the weak one.

I'll start with a minimal change that makes it strong in both cases. No-one ever /needs/ a wea

[2017-11-28 08:50] nvlsianpu commented on #5297
@pan- Regard mentioned default_idle_hook(void) problem, whats looks like critical section bug i provide a fix PR https://github.com/ARMmbed/mbed-os/pull/5595. This fixes the tests-api-spi.

Anyway MBED_TICKLESS is required for NRF52840 too as it behaves similar to NRF52832 (systick).

[2017-11-28 10:00] 0xc0170 commented on #5564
OK, closing this as duplicate. Please refer to 5529.

[2017-11-28 10:00] #5564 closed

[2017-11-28 10:15] pan- commented on #5297
Could you make a PR to enable `MBED_TICKLESS` if it is confirmed by Nordic that it is safe to use it on NRF52840 ?

[2017-11-28 10:40] 0xc0170 commented on #5555
I sent PR referenced above to finalize the fix, please review

[2017-11-28 10:58] pan- commented on #5588
Nothing is planned yet; I just have hopes.

[2017-11-28 11:48] MikeDK opened #5600 "No driver present which uses TRNG HAL"
### Description

- Type: Enhancement

## Enhancement

**Reason to enhance or problem with existing solution**
There is a well defined HAL API for using TRNG, but there exists no driver which uses it.
The only place where hal/trng_api.h is included is mbedtls.
But if someone only needs true random numbers, and no crypto stuff, the only way now is to use the HAL interface directly.

**Suggested enha

[2017-11-28 12:07] jrobeson opened #5603 "Example for SPI async API for mbed os 5?"
### Description
- Type: Question

## Question

Is there any more updated example for the SPI async API than https://github.com/ARMmbed/example-asynch-spi/? It's not for mbed-os 5 . I couldn't figure out where the `Buffer` came from in my mbed-os source tree, so perhaps it's related to that.

[2017-11-28 12:34] 0xc0170 commented on #5600
@hanno-arm @mazimkhan @sbutcher-arm Please review

[2017-11-28 12:51] nvlsianpu commented on #5297
https://github.com/ARMmbed/mbed-os/pull/5606

[2017-11-28 14:26] andreaslarssonublox commented on #5582
The ODIN driver will need to be disconnected before making a new connection so if this is a new requirement we need to make changes in the driver. I guess all NetworkInterfaces should behave the same so it should be the same for Cellular and Ethernet as well. Please indicate if this should be changed for the ODIN driver. I think the documentation needs to be updated as well in that case NetworkInt

[2017-11-28 14:36] kjbracey-arm commented on #5582
I personally would not be expecting a connect() to reset any existing connection. We might need it to be do nothing to fit in with some of the event stuff that's happening (returning either "OK" or more likely "already connected").

[2017-11-28 20:09] JanneKiiskila commented on #5545
This will be blocking the support for mbed-os-example-client and Cloud Client for Realtek board.

[2017-11-28 20:15] JanneKiiskila commented on #5545
https://github.com/ARMmbed/mbed-os/pull/5611 PR created to get rid of this problem (at least temporarily). Realtek should review and comment if the NC is a suitable solution for A3. At least it enables compilation again with ST-WIFI-X module included (see tip of master of `mbed-os-example-client`).

[2017-11-29 06:16] TomoYamanaka opened #5612 "Error occurs when export to e2studio by using GR-PEACH board on Online Compiler"
### Description
- Type: Question
- Priority: Major

---------------------------------------------------------------
## Question
When exporting the mbed program to Renesas' IDE **e2studio** by using GR-PEACH, the following error is shown on Online Compiler.

`An error occurred during export. Please contact support`

The situation of this issue is the below.
- If my memory serves correctly, there wa

[2017-11-29 06:49] andreaslarssonublox commented on #4913
@JaniSuonpera, have you had any time to test it?

[2017-11-29 08:36] jrobeson commented on #4758
This got merged, so this can be closed.

[2017-11-29 08:36] #4758 closed

[2017-11-29 08:43] jrobeson commented on #4621
This is probably fixed now isn't it? My device isn't the nrf52 dk , but is another nrf528832 device.

[2017-11-29 08:43] jrobeson commented on #4627
@shayo  Can you try again? this is probably fixed now.

[2017-11-29 08:49] jrobeson commented on #3509
does this cover the current tickless mode?

[2017-11-29 08:51] jrobeson commented on #1378
is this still valid for nordic devices?

[2017-11-29 09:54] Archcady commented on #5545
There is no A3~A5 pins in our Realtek AMEBA board and hence these pins are mapped to NC in mbed_app.json. This is a hardware limitation of our platform. I think this is the best solution from our side.

[2017-11-29 10:25] pan- commented on #4893
@yogeshk19 With mbed-os-5.6, the tickless mode is enabled by default on NRF52832 based targets; NRF52840 targets may be enabled for 5.7.

[2017-11-29 10:29] JanneKiiskila commented on #5545
The mbed_app.json doesn't help with the comilation issues, those needs the be in the pinnames.h.

[2017-11-29 10:52] daniel-cesarini-tridonic-com commented on #3130
@c1728p9 @sg- are there any news on these issues / topics?

[2017-11-29 13:29] netanelgonen opened #5615 "warnings inside mbed-os"
### Description
we are trying to compile with treat warning as errors and we are facing errors inside mbed-os
warnings inside the code example:

        [Error] nsdynmemLIB.c@240,25: comparison between signed and unsigned integer expressions [-Werror=sign-compare]
        [Error] nsdynmemLIB.c@382,31: comparison between signed and unsigned integer expressions [-Werror=sign-compare]

- Type: Bug

-

[2017-11-29 13:32] 0xc0170 commented on #5615
@JanneKiiskila please review

[2017-11-29 13:58] netanelgonen commented on #5615
found some more
        [Error] nsdynmemLIB.c@240,25: comparison between signed and unsigned integer expressions [-Werror=sign-compare]
        [Error] nsdynmemLIB.c@382,31: comparison between signed and unsigned integer expressions [-Werror=sign-compare]
        [Error] nsdynmemLIB.c@240,25: comparison between signed and unsigned integer expressions [-Werror=sign-compare]
        [Error] nsdynmem

[2017-11-29 14:00] netanelgonen commented on #5615
found some more warnings:
`[Warning] ppp_lwip.h@58,44: statement with no effect [-Wunused-value]
[Warning] ppp_lwip.h@58,44: statement with no effect [-Wunused-value]
[Warning] coap_security_handler.c@238,12: 'simple_cookie_check' defined but not used [-Wunused-function]
[Warning] coap_security_handler.c@212,12: 'simple_cookie_write' defined but not used [-Wunused-function]
`
@0xc0170 should i ope

[2017-11-29 15:05] 0xc0170 commented on #5615
@netanelgonen Every module should have probably own but if we many, you can post them here.

we would like to eliminate warnings, note, you might find warnings in targets code or elsewhere, some were reported earlier, please check also the issue tracker here. You can find for instance the above lwip warning which comes from the lwip codebase as I can see.

[2017-11-29 15:39] SeppoTakalo commented on #5545
Proper fix would be https://github.com/ARMmbed/mbed-os/pull/5611 because if the board claims to be `ARDUINO` form factor then all the Arduino pin names should be defined. Otherwise you would break build of some drivers relying on the names.

[2017-11-29 16:36] c1728p9 commented on #3130
Hi @daniel-cesarini-tridonic-com, trapping is enabled when you build as debug or set the macro MBED_TRAP_ERRORS_ENABLED=1. If you build in this configuration you'll be able to easily tell if anything is using a mutex from an interrupt handler.

[2017-11-29 17:32] #3999 closed

[2017-11-29 17:35] deepikabhavnani commented on #4917
@0xc0170 - I believe the question is answered (no plans at present), should we keep it open as enhancement in future, or close the question?

[2017-11-29 17:41] 0xc0170 commented on #4917
@ohagendorf Thanks for the article and the proposal. The article is good, definitely help few of us.

As above, we will consider this in the future, but currently not planned. Therefore as proposed by @deepikabhavnani we close this one for now.

[2017-11-29 17:41] #4917 closed

[2017-11-30 05:51] Archcady commented on #5545
I have approved the fix #5611. I think it can be merged now

[2017-11-30 07:34] JaniSuonpera commented on #4913
@andreaslarssonublox Sorry that I forgot this issue. I tested this and reconnecting to WIFI networks seems to be working now.

[2017-11-30 07:34] #4913 closed

[2017-11-30 07:55] 0xc0170 commented on #5034
Fixed via https://github.com/ARMmbed/mbed-os/pull/5485

[2017-11-30 07:56] 0xc0170 commented on #5034
One more item left, @janjongboom @pan- Please coordinate for the page in the docs and blog

[2017-11-30 08:07] hanmantg commented on #1994
@LiyouZhou I am encountering the same issue after Compilation .Can  you please help to sort this issue(im using Windows platform).
![mbed problem](https://user-images.githubusercontent.com/34122640/33420157-94429d6c-d5d3-11e7-9eed-1ee48b0e1c6c.png)

[2017-11-30 10:42] paviitan commented on #5218
@0xc0170 Is it ok to go around the sleep manager with `hal_sleep` and `hal_deepsleep` ?

@bcostm with 5.6.x I need to use `rtc_init();` at start of main block with my board if I start it "cold", after that the code seems to run as intended. Did you notice any similar issues?

[2017-11-30 10:47] jeromecoutant commented on #5218
Hi

About RTC issue, is it possible to check if #5459 is changing board behavior as expected by you ?

Thx

[2017-11-30 11:09] RobMeades commented on #5573
I'll take that as a "no" then :-).

[2017-11-30 11:25] paviitan commented on #5218
@jeromecoutant #5459 seems to resolve any remaining problems I had with this example. Thanks!

[2017-11-30 12:40] 0xc0170 commented on #5612
cc @theotherjimmy

[2017-11-30 12:44] daniel-cesarini-tridonic-com commented on #3130
@c1728p9 yes, we are using MBED_TRAP_ERRORS_ENABLED=1, and that might solve part of the issues, but another issue that we found is partially related to this one is described in a MR in the PAL: https://github.com/ARMmbed/pal/pull/66.

Furthermore analyzing the lock mechanism (in the mbedOS Mutex class), that finally is using the RTX https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX

[2017-11-30 13:59] Hoel opened #5619 "error: 4//tmp/tmpFumSHy/mbed_config.h: No such file or directory in import for SW4STM32"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
All STM32 tried (F103, L151, F303)

**Toolchain:**
GCC_ARM

**Toolchain version:**
lastest updates in online mbed IDE, latest updates in SW4STM32

**Expected behavior**
build without error

**Actual behavior**
error during build  related to mbe

[2017-11-30 14:25] netanelgonen commented on #5615
ok, so i will leave those warnings here...
those are all the warnings i have found, for now.
hopefully this will be enough

[2017-11-30 14:38] 0xc0170 commented on #5619
cc @ARMmbed/team-st-mcd

[2017-11-30 15:01] #3509 closed

[2017-11-30 15:18] theotherjimmy commented on #1994
@hanmantg Can you open a new issue? commenting on long closed issues is not likely to garner much attention.

[2017-11-30 15:27] jeromecoutant opened #5622 "gethostbyname test FAIL with NUCLEO_F746ZG and IAR"
### Description

 mbed test -m NUCLEO_F746ZG -t iar -vv -n tests-netsocket-gethostbyname

=> test is often FAIL
Target can't connect during DHCP procedure...

Test is OK with ARM and GCC

**Target**
NUCLEO_F746ZG

**Toolchain**
IAR

[2017-11-30 16:31] 0xc0170 commented on #5622
To be seen here https://github.com/ARMmbed/mbed-os/pull/5597 (the last 2 ci test run)

@kegilbert @studavekar I haven't seen it logged yet, was this known prior this report?

[2017-11-30 16:35] adustm commented on #5079
Hello @andresag01
I'm back on this topic eventually.
I've analysed your issue.
The problem is not the variety of contexts and the mix of them, the problem is only the 1st input that is empty and the test calls `mbedtls_[sha1/sha256/md5]_finish` without any call to `mbedtls_[sha1/sha256/md5]_update` ( the test goes from `start `to `finish `without `_update`).

The internal state machine of ST HAL c

[2017-11-30 16:41] kegilbert commented on #5622
@0xc0170 I had seen that error on the linked PR but thought it was due to the PR itself. I'll look into it on our end.

[2017-11-30 17:34] Hoel commented on #5619
after over 4 hours of fixes i got the project compiling fine with default GCC version, there are some serious issues with the export for SW4STM32 from online mbed IDE, i had to remove many linker flags and fix various thing in the code to get it working.

[2017-11-30 17:41] c1728p9 commented on #3130
Hi  @daniel-cesarini-tridonic-com I created #5624 as a potential fix for this issue.

[2017-11-30 18:04] #5556 closed

[2017-11-30 18:06] #5496 closed

[2017-11-30 21:40] mray19027 opened #5626 "Realtek-RTL8195AM compilation failure for mbed-os-example-blinky"
Type: Bug
Target: Realtek-RTL8195AM

When compiling on the online compiler, `mbed-os-example-blinky` does not compile with the Realtek-RTL8195AM target.

Error:
[code]

MbedOS version:
Head of 5.6 (Commit https://github.com/ARMmbed/mbed-os/commit/182bbd51bc8d1b6217477c2b5de3f1d0c5e6249f)

[2017-12-01 00:21] kegilbert commented on #5622
I'm able to reproduce this locally as well on IAR.

[2017-12-01 01:04] janjongboom commented on #4188
@sg- Why is this tagged with 'type: enhancement'? If a board crashes when attaching serial interrupt that's a bug, not an enhancement.

Also reported on Stack Overflow: https://stackoverflow.com/questions/47495759/stm32f410rb-nucleo-not-reading-from-serial-device

[2017-12-01 04:32] hanmantg commented on #1994
@theotherjimmy Yep! i think but all those are solved except last Two error yet not sorted

[2017-12-01 07:50] 0xc0170 commented on #5622
@kegilbert Thanks, I noticed that this is now real on master.

@SeppoTakalo @mikaleppanen Can you help with this one?

[2017-12-01 08:08] daniel-cesarini-tridonic-com commented on #3130
Hi @c1728p9 , I checked that, thanks.
Still work to be done, as it looks like.

[2017-12-01 08:16] 0xc0170 commented on #5575
The above littlefs resolved this, we should not see the timeouts anymore

Thanks @geky for the travis config improvements

[2017-12-01 08:16] #5575 closed

[2017-12-01 09:33] 0xc0170 commented on #5626
To be certain, this is only online environment related? Based on the above, seems like startup file missing in the workspace.

I tested same commit SHA locally, builds. Thus this is related to the online IDE. Please confirm

[2017-12-01 09:33] 0xc0170 commented on #5626
cc @theotherjimmy

[2017-12-01 09:55] bcostm commented on #5619
Thanks for the debug and information.

`there are some serious issues with the export for SW4STM32 from online mbed IDE`
ST team cannot change the online exporter. Note that the SW4STM32 exporter has been updated recently (PR #4779) and was working fine using mbed CLI.

[2017-12-01 10:08] Hoel commented on #5619
Hi, i can believe SW4STM32 exporter has been updated recently but there are still some issues with the generated project when it is imported in SW4STM32, last version, at least on OSX (i havent checked on Windows). Multiple project have been exported and for each of them some changes had to be made in the project properties to get it compiling. I will detail the steps required later today so that

[2017-12-01 12:52] gorazdko opened #5632 "lpc546xx: ISP able pins as gpio"
## Type: Question

## Abstract

I configured two pins as outputs - one of them supports ISP mode (P0_13):
[code]

![iocon](https://user-images.githubusercontent.com/25270775/33482911-85b54d4e-d69b-11e7-824b-ccb2ef572c63.PNG)

Running this code works fine. Both pins are toggling:
[code]

Though my debugger is not showing any toggling for P0_13, it cannot be manipulated over debugger nor read correc

[2017-12-01 12:54] gorazdko commented on #5632
@mmahadevan108 could you comment on this?

[2017-12-01 15:27] theotherjimmy commented on #1994
@hanmantg That's not the same issue. Please look at the lines above `[mbed] ERROR`, as those lines indicate that you encountered an error, not what the error was.

[2017-12-01 17:13] stevew817 commented on #5495
@studavekar Can you please verify your original findings and provide me with more details?

[2017-12-01 17:32] amq opened #5636 "Booting from SD possible?"
### Description
- Type: Question

---------------------------------------------------------------

## Question

Is it possible to start the application from a binary on an SD card? Naturally, I would have a bootloader in flash.

[2017-12-01 17:41] deepikabhavnani commented on #5636
In order to load application from SD Card, bootloader should have support to read data from SD card. If bootloader supports reads from SD card and load application in RAM then yes it should be feasible.

[2017-12-01 21:03] bmcdonnell-ionx opened #5638 "make _sbrk() weak (for malloc() from external memory)"
### Description
- Type: Bug | Enhancement
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
LPC40xx

**Toolchain:**
GCC_ARM

**mbed-os sha:**
(182bbd51b)

----------------------------------------------------------------
## Enhancement

**Suggested enhancement**

In the file `mbed-os/platform/mbed_retarget.cpp`, please add the attribute `MBED_WEAK

[2017-12-01 22:53] sarahmarshy opened #5639 "UART buffer size not accesible in constructor"
### Description
- Type: Enhancement

Inspired by - https://os.mbed.com/questions/75881/Asynchronous-serial-read-buffer-size/

The current case hides the buffer size from the user using the config system - https://github.com/ARMmbed/mbed-os/blob/master/drivers/UARTSerial.h#L32-L34. Users should be able to specify it in the constructor of the serial object. The default size should be 256. Like so:
[

[2017-12-02 09:19] JanneKiiskila opened #5640 "Realtek RTL8195AM - CMSIS-RTOS error: ISR Queue overflow (status: 0x2, task ID: 0x0, object ID: 0x30051484)"
### Description
- Type: Bug
- Priority: Blocker for releasing support for Mbed Cloud Client / mbed-os-example-client

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**Toolchain:**
GCC_ARM

**Toolchain version:**
mbed cli Windows installed toolchain 0.43
gcc_arm - same with Linux as well.

**mbed-cli version:**
(`mbed --version`)
1.2.2

**mbed-

[2017-12-03 10:54] jrobeson opened #5641 "Is there an FAQ or TL;DR for bridging various SDK functionalities to mbed OS?"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Question

## Question

I was trying to setup I2S on an NRF52 and mbed provides no nice driver wrapper for it. I was having all sorts of trouble with my application hanging. I was eventually able to figure out that the interrupt vector table was remapped and that all I needed was to grab the I2

[2017-12-03 16:28] JanneKiiskila opened #5642 "REALTEK_RTL8195AM - LEDs not mapped"
### Description
- Type: Bug
- Related Issue: `#abc`

---------------------------------------------------------------
## Bug

**Version information**
(`mbed ls`)

[code]

**Environment details**
Describe against which environment you are testing.
Compiler & other relevant tools - version information.

ARM_GCC coming with MBed CLI 0.43 version.

**Expected Behavior**

LED would blink.

**Actual Beha

[2017-12-03 16:36] JanneKiiskila commented on #4611
I think issue can be closed with, PR #4667 is merged.

[2017-12-03 16:37] JanneKiiskila commented on #5545
@SeppoTakalo  - I think the issue can be closed now?

[2017-12-03 16:41] JanneKiiskila opened #5643 "REALTEK_RTL8195AM - DAPLINK needs updating"
### Description
- Type: Enhancement
- Related issue: `#abc`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**DAPLink version:**

[code]

**Expected behavior**

We should use DAPLINK 244, at least.
DAPLINK's newer versions bring some important USB stability fixes that are very useful in CI / automated test environments.

**Ac

[2017-12-04 06:34] JanneKiiskila commented on #5642
Interestingly enough, if you add prints to mbed-os-example-blinky, the board will then blink. Seems the LED D5 is mapped somehow to serial?

[2017-12-04 06:50] VeijoPesonen commented on #5546
Tested Ok

[2017-12-04 06:50] #5546 closed

[2017-12-04 07:18] samchuarm commented on #5642
@ARMmbed/team-realtek

[2017-12-04 07:19] samchuarm commented on #5643
@ARMmbed/team-realtek

[2017-12-04 07:43] gerhardtgao commented on #5421
I forked the repo and did some modification in my repo.
in mbed-os\tools\toolchains\arm.py, at line 79, change
self.ld = [join(ARM_BIN, "armlink")] + self.flags['ld']
to
self.ld = [join(ARM_BIN, "armlink")] + self.flags['ld'] + ["--cpu=%s" % cpu]

[2017-12-04 08:10] v2422 commented on #5642
Hi @JanneKiiskila,

The LEDs on board are used by CMSIS-DAP as well as power indicator. There is no LED connected to RTL8195A chip.

[2017-12-04 08:11] stevew817 commented on #3903
@bulislaw is this still an issue?

[2017-12-04 08:30] samchuarm commented on #5642
[https://github.com/ARMmbed/mbed-os-example-blinky/issues/92](url)

[2017-12-04 08:31] jarlamsa opened #5645 "UBLOX_EVK_ODIN_W2 does not pass Greentea test-case WIFI_SET_CREDENTIAL"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-g++.exe (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]

**mbed-cli version:**
`1.2.2`

**mbed-os sha:**
`2e1c2a1cd`

[2017-12-04 08:31] samchuarm commented on #5642
#https://github.com/ARMmbed/mbed-os-example-blinky/issues/92

[2017-12-04 08:33] jarlamsa commented on #5645
@VeijoPesonen @SeppoTakalo @kjbracey-arm @KariHaapalehto @juhaylinen

[2017-12-04 08:34] samchuarm commented on #5642
#https://github.com/ARMmbed/mbed-os-example-blinky/issues/92

[2017-12-04 09:34] kjbracey-arm commented on #5622
Is this really specifically only the gethostbyname test failing? The failure appears to be an assert on return from the "connect" - getting a DHCP failure. So nothing to to with the gethostbyname bit.

What appears to be distinct about gethostbyname compared to other tests is that it does its connect in the test setup stage, rather than in a test case. That's presumably a clue. Not familiar enough

[2017-12-04 10:04] jrobeson opened #5647 "Proper value for SCB_ICSR_RESERVED_BITS_MASK"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug?
- Related issue: `#4927`

---------------------------------------------------------------
## Bug

**Target**
any Nordic NRF52 device? maybe NRF51?

**Toolchain:**
GCC_ARM

**mbed-os sha:**
(`git log -n1 --oneline`)

In #4927 it was mentioned by @pan- and @nvlsianpu that the value of `SCB_

[2017-12-04 10:47] 0xc0170 commented on #5645
cc @ARMmbed/team-ublox

[2017-12-04 10:52] 0xc0170 commented on #5643
@JanneKiiskila To be clear, this is for realtek to update their interface implementation to used later DAPlink version (at first I was not sure if this is for our CI to get an update).

[2017-12-04 10:54] 0xc0170 commented on #5642
Should this be documented - https://os.mbed.com/platforms/Realtek-RTL8195AM/ ? I assumed this was already captured as known-limitation of the board.

[2017-12-04 11:01] 0xc0170 commented on #5638
@c1728p9 @SenRamakri

[2017-12-04 11:38] Archcady commented on #5642
There are no LED's conncted to AMEBA , they are all used by the DAP only and are not user programmable. I shall update this on the platform page. Usually we test the arduino blinky example by connecting an external LED, the same can be updated for the mbed-os-blinky example. Any other suggestions here?

[2017-12-04 11:40] SeppoTakalo opened #5650 "UARTSerial build fails on K66F and REALTEK_RTL8195AM on IAR"
### Description
- Type: Bug
## Bug

**Target**
K66F|REALTEK_RTL8195AM

**Toolchain:**
IAR

**mbed-os sha:**
2e1c2a1cd

**Problem:**

[code]

[2017-12-04 11:40] SeppoTakalo commented on #5650
CC: @kjbracey-arm

[2017-12-04 11:40] Archcady commented on #5642
Updated platform page under the "warning section"

[2017-12-04 11:42] Archcady commented on #5640
looking into this issue, will update ASAP.

[2017-12-04 11:49] SeppoTakalo commented on #5650
Actually, this is a name collision on mbed-os-cliapp. Closing.

[2017-12-04 11:49] #5650 closed

[2017-12-04 11:57] JanneKiiskila commented on #5642
I think the mbed-os-example-blinky docs should be updated, too.
Need to tweak my mbed-os-example-client PR as well to highlight this.

[2017-12-04 12:04] Archcady commented on #5642
Is there any need for modifying pinnames.h?

[2017-12-04 12:13] andreaslarssonublox commented on #5645
This will be fixed in the next release of the driver.

[2017-12-04 12:19] JanneKiiskila commented on #5642
I don't think, we just need to now document how you have tested the blinky, i.e. to which pins do you connect the LED.

[2017-12-04 13:09] JanneKiiskila commented on #5643
Yes, Realtek should update the daplink (aka `firmware.bin`) they offer via the links in official mbed os board page (https://os.mbed.com/platforms/Realtek-RTL8195AM/).

[2017-12-04 13:54] SeppoTakalo commented on #5582
@andreaslarssonublox Is it not a valid case for client to require only WPA2 when connecting?

If the driver supports both WPA and WPA2, I don't see any reason why application is not allowed to force WPA2 when connecting.

What comes to disconnecting, that is a valid point.
In every testcase, the driver is constructed from the scratch. https://github.com/ARMmbed/mbed-os/blob/master/TESTS/network/wi

[2017-12-04 13:55] bcostm commented on #5554
ST_TO_BE_CLOSED

[2017-12-04 13:58] bcostm commented on #5443
Can you please close this issue as it has been solved. Thanks.

ST_TO_BE_CLOSED

[2017-12-04 14:00] bcostm commented on #5218
Are you happy to close this issue if solved now ? Thanks.

ST_TO_BE_CLOSED

[2017-12-04 14:02] #5554 closed

[2017-12-04 14:12] bcostm commented on #4144
ST_TO_BE_CLOSED

[2017-12-04 14:18] #4144 closed

[2017-12-04 14:23] mray19027 commented on #5626
@0xc0170 - Can confirm that is only on the online compiler

[2017-12-04 14:25] 0xc0170 commented on #5626
You can also test it locally to be certain. I did as I wrote above, fetched blinky, same sha for mbed-os and built it without errors.

[2017-12-04 14:26] #5443 closed

[2017-12-04 14:42] itayzafrir opened #5652 "LittleFS mkdir error code for existing directory returns LFS_ERR_INVAL"
### LittleFS mkdir error code for existing directory returns LFS_ERR_INVAL
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Expected behavior**
mkdir for an existing directory to return an error code which describes the error

**Actual behavior**
mkdir for an existing directory returns LFS_ERR_INVAL

*

[2017-12-04 15:20] #5545 closed

[2017-12-04 16:55] geky commented on #5652
Hi @itayzafrir, thanks for reporting this issue.

Do you have a code snippet that reproduces this problem? I'm having a hard time reproducing.

Currently mkdir on existing directory is tested on all three APIs ([here](https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/littlefs/littlefs/tests/test_dirs.sh#L59), [here](https://github.com/ARMmbed/mbed-os/blob/master/features/filesyste

[2017-12-05 01:17] TomoYamanaka commented on #5612
How is going? Any update?

It seems that this problem blocks GR-PEACH users' activity.
Thus, if you could update me on this soon, it would be very helpful.

[2017-12-05 07:36] itayzafrir commented on #5652
Sorry my bad, this is not an issue.

[2017-12-05 07:36] #5652 closed

[2017-12-05 09:12] itayzafrir opened #5653 "remove non empty directory returns inconsistent error codes between LittleFS & FatFS"
### Attempting to remove/delete a non-empty directory from the FS returns different error codes when using FatFS vs LittleFS

- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Expected behavior**
The same error code will be returned for both file systems

**Actual behavior**
When trying to remove a non-

[2017-12-05 11:22] bulislaw commented on #3903
The tests are passing on the master. Closing.

[2017-12-05 11:22] #3903 closed

[2017-12-05 11:53] #4737 closed

[2017-12-05 12:26] 0xc0170 commented on #5284
@nvlsianpu Any proposals  for this? I would like to understand better the failures if a next event is scheduled asap, fired instantly.

[2017-12-05 15:01] geky commented on #5653
Thanks for reporting this issue. According to [Open Group](http://pubs.opengroup.org/onlinepubs/009695399/functions/rmdir.html), this should be ENOTEMPTY.

[2017-12-05 15:05] theotherjimmy commented on #5612
@TomoYamanaka I just verified that the online compiler builds with versions of Mbed OS that support the GR Peach. I'll have to track down why the export is failing.

[2017-12-05 15:58] theotherjimmy commented on #5612
[this line](https://github.com/ARMmbed/mbed-os/blob/master/tools/export/e2studio/__init__.py#L31) is the problem. It's just an undefined variable.

[2017-12-05 16:00] theotherjimmy commented on #5612
2cbca704d8 Was an inconsistent update.

[2017-12-05 16:27] jeromecoutant opened #5658 "Is DEVICE_STDIO_MESSAGES well implemented ?"
Hi

I didn't find in handbook what the behavior should be for DEVICE_STDIO_MESSAGES.

Is it ?
- if DEVICE_STDIO_MESSAGES is defined, then use STDIO_UART_TX and STDIO_UART_RX for default printf
- else, printf becomes a NULL macro

So maybe some code is missing:

in https://github.com/ARMmbed/mbed-os/blob/2e1c2a1cdf168dd739e777165b21f6cd0509c188/platform/mbed_retarget.cpp#L120

I would expect:
#if D

[2017-12-05 17:04] BlackstoneEngineering opened #5659 "DISCO_L475VG_IOT01A exporters work offline but not in online compiler"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
DISCO_L475VG_IOT01A

**Toolchain:**
All

**mbed-cli version:**
1.2.2

**mbed-os sha:**
1394bf95f Merge pull request #5474 from sarahmarshy/sigio-test-fix

**Expected behavior**
Expecting online exporters to exist and work.

**Actual behavior**
There are no functional ex

[2017-12-06 01:37] shayo commented on #5002
Initial tests I ran today indicate this is likely to been solved.
I'm going to close this for now.

[2017-12-06 01:37] #5002 closed

[2017-12-06 05:45] TaniaMirzin opened #5664 "Mutex error in armcc debug serial application"
### Description
- Bug
- Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
ARM

**Toolchain version:**
ARMCompiler5.06u3

**mbed-os sha:**
https://github.com/ARMmbed/mbed-os/#182bbd51bc8d1b6217477c2b5de3f1d0c5e6249f

**Expected behavior**
Application reads all injected serial data

**Actual behavior**
error - Mutex 00000000 error -5: Syst

[2017-12-06 05:47] TaniaMirzin commented on #5664
@sg-
@bulislaw

[2017-12-06 05:55] v2422 commented on #5642
Please connect LED with GPIOB_4 (INT/PWM0) and GND. The pin can be found in the diagram of "RTL8195AM pinout (right)" in https://os.mbed.com/platforms/Realtek-RTL8195AM/

[2017-12-06 07:43] 0xc0170 commented on #5664
@TaniaMirzin This is related to this https://github.com/ARMmbed/mbed-os/issues/4688https://github.com/ARMmbed/mbed-os/issues/4688 that you are familiar with.

Have you done any investigation to this issue? What is the backtrace for this?

I would assume `osMutexNew` returns null inside and errors, not returning actually back to `_mutex_initialize`  ? Is that the case or I am not reading the code c

[2017-12-06 07:44] 0xc0170 commented on #5659
@theotherjimmy please review this issue

[2017-12-06 09:31] andreaslarssonublox commented on #5582
Usually the AP decides the security level but if the client has stricter requirements it might require only WPA2. However the driver itself only supports WPA_WPA2 mode on the client side therefore we have not added support for only WPA2. It might be possible to add WPA2 only mode in the driver but we have no plans right now to do it.

Maybe I have misunderstood the API but this is the way I interp

[2017-12-06 11:42] #5218 closed

[2017-12-06 14:07] shayo commented on #4627
Seems to be working now,

[2017-12-06 14:07] #4627 closed

[2017-12-06 16:16] bmcdonnell-ionx commented on #5638
#1819 was trying to do the same thing for a different platform, but it takes a different approach. I don't think it's the right approach here, because it's making mbed-os *always* use the external memory for dynamic memory for that platform, whereas I want to give the user the option to do so.

But I give details here for reference.

-----

Upon closing the issue, @ccli8 [said](https://github.com/

[2017-12-06 19:16] adamheinrich opened #5668 "STM32: mbed-cli with GCC_ARM does not include code for CAN_2 and CAN_3"
File [can_api.c](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/can_api.c) uses the following mechanism to include code for CAN2/CAN3:

[code]

This work perfectly for `CAN3_BASE` (which is a macro defined in the STM32 Cube HAL) but does not work with `CAN_3` (which member of an enum defined in target-specific `PeripheralNames.h`). This is probably because GCC doesn't consider e

[2017-12-06 20:50] ciarmcom commented on #5664
ARM Internal Ref: IOTMORF-1800

[2017-12-06 21:14] theotherjimmy commented on #5659
This is an IDE frontend issue. check https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky/export

[2017-12-06 22:24] cmonr commented on #5573
Hi @RobMeades,

Were you able to get to the bottom of the reset issue? Have you tried powering the board from Windows without the debugging interface in use?

[2017-12-06 22:39] cmonr commented on #5668
Hi @adamheinrich,

I take it your PR https://github.com/ARMmbed/mbed-os/pull/5486 is meant to fix this issue?

Also, would it be possible to retest with mbed-os-5.7.0 once it's released? It looks like a separate PR (https://github.com/ARMmbed/mbed-os/pull/5486) will already address the issue.

[2017-12-06 22:41] RobMeades commented on #5573
Not yet got to the bottom of it. I ended up attaching a USB sniffer to the interface and that clearly shows a USB reset control message being sent by the Win10 PC every 15 minutes. The board uses an ST debug chip and so I've sent the USB sniffer log to ST so that they can investigate what's going on.

[2017-12-06 22:49] cmonr commented on #5573
Sounds good. Since it sounds like the issue isn't related to mbed-os, I'm going to close the issue.

Feel free to create another issue if it turns out to not be the case.

[2017-12-06 22:49] #5573 closed

[2017-12-06 22:50] cmonr commented on #4301
@bridadan @LiyouZhou Is this still a issue?

[2017-12-07 03:34] shayo opened #5671 "I2C stops working after some time (/SPI collision?)"
- Type: Bug
- Priority:  Major
---------------------------------------------------------------
## Bug
I recently upgraded to version 5.6 and now I am experiencing some weird behavior.
The app runs fine, but after some (variable?) time, I2C stops working and all read operations time out (and it takes 10 seconds by default?)
I noticed this because suddenly the entire app became very slow. I then tra

[2017-12-07 06:20] TaniaMirzin commented on #5664
@0xc0170
Please check this https://github.com/ARMmbed/mbed-os/issues/5664 to reproduce the issue.

[2017-12-07 08:38] 0xc0170 commented on #5664
References this issue, should it be some other issue number?

[2017-12-07 08:45] 0xc0170 commented on #5664
To provide more details to my above answer, @TaniaMirzin please confirm

https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/mbed_boot.c#L458 - this line gets executed, and right after this https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_mutex.c#L113 that reports this error reported above? This is a debug message, an application continues , just

[2017-12-07 08:52] 0xc0170 commented on #5671
@shayo Hi, can you provide at least versions that were functional and the one that does not work? That we could use to compare ? You can check the diff between those, mainly regarding SPI and I2C, if there were any changes in HAL that could lead to this.

It would be helpful to get more details, at least to localize changes.

@ARMmbed/team-nordic were there changes that could lead to this behavior

[2017-12-07 08:58] SeppoTakalo commented on #5582
@andreaslarssonublox Thanks for the info.

I think your assumption about security levels are correct. I only thought that drivers supporting WPA2 would be able to select the WPA2-only mode. If this is not the case, as you told, I need to rewrite some testcases that I have defined. I think this is understandable limitation that we just need to accept. Drivers will always have limitations so returni

[2017-12-07 09:32] TaniaMirzin commented on #5664
@0xc0170 When I increase number of mutex from 8 to more, this message is not appears.
I think it enough for the confirmation?

[2017-12-07 09:58] 0xc0170 commented on #5659
@BlackstoneEngineering Can you report it to the IDE frontend team please?

[2017-12-07 10:06] adamheinrich commented on #5668
Hi @cmonr,
no, #5667 fixes data reception on CAN3. This bug is a separate issue which (probably) only occurs with a specific compiler because the particular construction in the code is not compiler-agnostic.

Yes, #5486 is related to the issue because it introduced `defined(CAN_2)` and `defined(CAN_3)`.

[2017-12-07 10:17] bulislaw commented on #5664
There was recent commit from @geky touching that, maybe something went wrong?

[2017-12-07 10:29] JanneKiiskila opened #5672 "REALTEK-RTL8195AM - BUTTON1/2 definition missing"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**Toolchain:**
N/A

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)
1.22

**mbed-os sha:**
(`git log -n1 --oneline`)

mbed os 5.7 RC1

**DAPLink version:**
N/A

**Expected behavior**

BUTTON1/BUTTON2 defines fo

[2017-12-07 10:43] 0xc0170 commented on #5622
Thanks Kevin. It's just that one test and only one toolchain, and seldomly appears in our test logs.

@jeromecoutant Can we look at this particular, if that would help?

[2017-12-07 10:45] 0xc0170 commented on #5672
@ARMmbed/team-realtek

[2017-12-07 10:48] 0xc0170 commented on #5664
Looks like that, the lines above I pointed are exact changes done in https://github.com/ARMmbed/mbed-os/pull/5526.
@geky Can you please review my analysis above

[2017-12-07 11:01] JanneKiiskila commented on #5672
I am starting to have a feeling these buttons are also connected to the DAPLINK host CPU, instead of the Realtek CPU. Might be they are not thus usable for apps, but I would like to get a confirmation. If that's the case - we should update the board page.

[2017-12-07 13:25] 0xc0170 commented on #5636
@amq Does this answer your question above?

[2017-12-07 13:26] 0xc0170 commented on #5495
@kegilbert

[2017-12-07 13:34] amq commented on #5636
@0xc0170 not really. I was looking for at least a short sketch of how loading the application should work, with the assumption that all requirements like SD and bootloader are met.

[2017-12-07 14:27] prashantrar commented on #5672
Hello @JanneKiiskila the buttons in the bottom are for DAP while the one on the side is for reset. The buttons arent user programmable.

[2017-12-07 14:46] shayo commented on #5671
I upgraded from version 123, so there were many changes to i2c.c
It seems to be localized to the i2c library. when I replaced the files of version 156 with the ones of 123 things seem to be working fine now.

[2017-12-07 15:17] BlackstoneEngineering commented on #5659
@0xc0170 who is the IDE Frontend team now? Web team or tools team?

[2017-12-07 15:41] jeromecoutant commented on #5622
Test seems OK in morph test results #5576
http://mbed-os-logs.s3-website-us-west-1.amazonaws.com/?prefix=logs/5576/473

[2017-12-07 16:00] deepikabhavnani commented on #5636
@amq - I don't think all requirements are met in current bootloader and mbed-os. We might think of that in future as enhancement.

[2017-12-07 17:24] kegilbert commented on #5622
The error seems to be fairly intermittent, I was unable to locally reproduce earlier this week but saw it crop up again in a CI run the next day. Trying to look more into it now.

[2017-12-07 18:15] geky commented on #5664
Your analysis sounds right, except #5526 changed this so it would switch to malloc allocations once the rtx heap is depleted _without_ calling osMutexNew first. To avoid the above error.

Oh! Could it be someone else is allocating mutexes from the rtx internal heap before the standard library gets a chance to grab them?

[2017-12-07 18:26] JanneKiiskila commented on #5672
It's a documentation issue then, raising IOTWEB ticket.

[2017-12-07 19:09] samchuarm commented on #5672
@Archcady please update RTL8195AM platform page for these buttons accordingly. Thanks.

[2017-12-07 20:34] cmonr commented on #5465
@akrnvm Could you retry the test on mbed-os-5.6.6 and confirm this is still an issue? Have there also been any developments on your end?

[2017-12-07 21:59] theotherjimmy commented on #5357
Sorry for the delay. I have not had time to look into why this is happening with greater detail.

[2017-12-07 22:00] thegecko commented on #5659
Found the issue (a case sensitivity mismatch). Will create a fix.

[2017-12-07 22:03] cmonr commented on #5343
@donpowrie Are you still having issues exporting? Is this with the online IDE or in an OS environment?

[2017-12-07 22:05] SenRamakri commented on #5664
@geky and I discussed about this. At present, we don't want to change the EvrRtxMutexError call made from osMutexNew call(in the case of failure to allocate memory for the Mutex object) to fix this. But we agree that we need some way of ensuring that ARMC libs get the mutexes required for its initialization/operation. We currently do this by defining OS_MUTEX_NUM to be 8 in mbed_rtx_config.h. We a

[2017-12-07 22:12] donpowrie commented on #5343
No, online MBED started working again a day or so after I reported the
problem.

Regards,
Don Powrie

On Thu, Dec 7, 2017 at 4:03 PM, Cruz Monrreal II <notifications@github.com>
wrote:

[2017-12-07 22:25] geky commented on #5664
What happens when you use a different toolchain? Other toolchains should error where the first internal-heap mutex is allocated, unlike ARMCC, where the error is pushed here.

[2017-12-07 23:10] thegecko commented on #5659
This issue duplicates https://github.com/ARMmbed/mbed-compiler/issues/23

[2017-12-07 23:10] #5659 closed

[2017-12-07 23:35] kegilbert commented on #5495
@0xc0170
Sorry for the late reply, the only board I was able to get my hands on is having some firmware/mounting issues. Will update when I get it working.

[2017-12-08 00:41] SenRamakri commented on #5664
Assigning this to myself until we find the right owner.

[2017-12-08 05:43] akrnvm commented on #5465
@cmonr  I have tested with mbed-os-5.6.6 and the test case is passing with Keil and gcc_arm.
Note:
Test case is failing in IAR.
Test case is failing in latest master branch with all toolchains (ARM,GCC,IAR)

[2017-12-08 10:19] jorisa opened #5676 "make.py generates duplicate file entries in link_files.txt"
### Description
- Type: Bug (Question?)
- Priority: Minor

## Bug

**Target**
NUCLEO_F767ZI (not relevant?)

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc-arm-none-eabi-6-2017-q2-update

**mbed-os sha:**
2e1c2a1

**Expected behavior**
`.link_files.txt` should never have duplicate file entries

**Actual behavior**
The following duplicated entries appeared in `.link_files.txt`
[code]

**Steps t

[2017-12-08 16:34] #5343 closed

[2017-12-08 20:47] #5155 closed

[2017-12-08 23:26] tejashah88 commented on #5659
@thegecko The issue that you're referring to leads to a 404 error for me.

[2017-12-08 23:40] bmcdonnell-ionx opened #5679 "header files should not have `using` statements (namespaces)"
### Description
- Type: Bug | Enhancement

Several mbed-os header files have `using` statements in them. Most notably in `mbed.h`:

[code]

---------------------------------------------------------------
**Reason to enhance or problem with existing solution**

There are [plenty](http://www.lonecpluspluscoder.com/2012/09/22/i-dont-want-to-see-another-using-namespace-xxx-in-a-header-file-ever-again/

[2017-12-09 10:48] thegecko commented on #5659
It's a private repository

[2017-12-10 09:22] kamenlitchev commented on #3216
Having same issue - RTOS example, trying export for VSCode or GCC (STM32F207)

[2017-12-10 12:55] NirSonnenschein opened #5680 "mbed os crash on connecting ethernet adapter connect K64"
### Description
- Type: Bug
- Priority: Major

we see an error when connecting the Ethernet adaptor adaptor on K64f running MbedOS compiled under ARMCC. This doesn't always happen, but occurs quite often.
 when it occurs we see the following print:
Thread 00000000 error -4: Parameter error

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
ARM

[2017-12-11 08:29] 0xc0170 commented on #5679
This has been discussed few times, you can find an answer here:

https://os.mbed.com/questions/5492/c-design-pattern-or-problem/

Only `mbed.h` should do. I did quick search, and can find few spots that we should look at, and possibly fix.

cc @sg-

[2017-12-11 09:24] kjbracey-arm commented on #5680
I assume this is a debug profile build? The message comes from `EvrRtxThreadError`, which is a hook to catch RTX errors.

If you could stick a breakpoint on that to get a stack backtrace, it would help - I can see about a dozen places that could possibly call it with (NULL, osErrorParameter), and it's not obvious what the culprit would be. Most of them are simply calling functions with a NULL thre

[2017-12-11 10:09] NirSonnenschein commented on #5680
Hi @0xc0170 and @kjbracey-arm,
just to clarify, the error almost definitely happens in the connect call. we have a print before and after the call (in cases of success or failure) and when this happens we don't see any of the prints after connect.

as a general background this happens occasionally on our nightly tests (e.g. nightly for two nights ago had it, but last night didn't). the particular

[2017-12-11 10:14] kjbracey-arm commented on #5680
It seems moderately likely it might be the consequence of connection failure - some sort of teardown when giving up not going cleanly. Maybe you could encourage it by persuading connect failure - yank the cable at the crucial moment...

[2017-12-11 10:16] NirSonnenschein commented on #5680
Hi @k-stachowiak ,
Thanks for the tip, I'll try this if I'm not able to locally reproduce the issue by normal means

[2017-12-11 11:05] jrobeson opened #5683 "Initialized PwmOut on NRF52 starts writing data immediately"
### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
RBLAB_BLENANO2

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc 6.3.1
**mbed-cli version:**
1.2.0

**mbed-os sha:**
182bbd51b

**DAPLink version:**

**Expected behavior**
I expect PWMOut not to write anything to the PWM pin when initialize
**Actual behavior**
It writes a lot that comes

[2017-12-11 14:15] NirSonnenschein commented on #5680
I've tried reproducing locally (including disconnecting the Ethernet wire during testing) and so far I have not been able to reproduce the issue. this seems to be more readily reproducible in the Jenkins test environment.
when disconnecting the cable during the connect step the tests halt for a while (presumably waiting for HDCP to complete) and then fail (no crash observed).

[2017-12-11 14:36] bmcdonnell-ionx commented on #5679
Do you mean that you agree with me that the `using` statements should be removed? I found them in several places (commit tag `mbed-os-5.6.6`):

[code]

It should probably also be added to the [contributor guidelines](https://os.mbed.com/docs/v5.6/reference/guidelines.html) not to put `using` statements in headers.

[2017-12-11 17:17] bmcdonnell-ionx opened #5686 "malloc() / dynamic memory corruption bug"
Am I doing something dumb here, or is this a real issue?

EDIT: Yes, I was doing something dumb. I did

`int *nums = (int*)malloc(NUM_INTS);`

when I should have done

`int *nums = (int*)malloc(NUM_INTS*sizeof(int));`.

Please ignore.

[2017-12-11 20:16] gte1 commented on #5686
It seems like you are allocating 100 bytes.
Change to:
int *nums = (int*)malloc(NUM_INTS*sizeof(int));

[2017-12-11 20:25] bmcdonnell-ionx commented on #5686
Thanks for that. Looks like it was my dumb mistake - verifying now...

[2017-12-11 20:54] bmcdonnell-ionx commented on #5686
Yup, my mistake.

Thanks for your help.

[2017-12-11 20:54] #5686 closed

[2017-12-11 23:01] cmonr commented on #5686
Hi @bmcdonnell-ionx,

I would suggest replacing `int *nums = (int*)malloc(NUM_INTS);` with `int *nums = (int*)malloc(NUM_INTS * sizeof(int));` and seeing if you still get issues.

[2017-12-12 12:15] jarlamsa commented on #5622
I was able to reproduce this locally, seems like test-case issue, I am preparing a fix for this.

[2017-12-12 14:03] kjbracey-arm commented on #5680
Any chance it's this bug? https://github.com/ARMmbed/mbed-os/pull/5587

Can't immediately see why we'd hit it, but it *is* the same error printout.

[2017-12-12 14:08] jarlamsa commented on #5622
Made a PR: #5689
I am not entirely sure why the preprocessor macro seems to cause this to happen

[2017-12-12 15:03] kjbracey-arm commented on #5622
Okay, seems we've got an environment where we can get 100% failure with the default `develop` build, but it passes with a `debug` build. That preprocessor macro change in #5689 must just be one example of a memory layout change that avoids the problem.

I guess the change in #5689 is that we are adding 1 pointer in RAM - the `const char *`, shifting everything by 4 bytes. (If it were `const char *

[2017-12-12 16:15] drahnr opened #5690 "NRF52 - SPI Speed Fixed to Maximum (8MHz)"
### Description
- Type: Bug
- Priority: Major

## Bug
The speed of SPI is fixed to 8MHz despite setting it to less:

[code]

**Target**
NRF52_DK

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (Fedora 7.1.0-5.fc27) 7.1.0

**mbed-cli version:**
(`mbed --version`)
1.2.2

**mbed-os sha:**
(`git log -n1 --oneline`)
6b093eb12 (HEAD -> mbed-os-5.6) Use C++0x
5f6572179 (tag: mbed-os-5.6

[2017-12-12 17:30] #5423 closed

[2017-12-12 17:40] mazimkhan commented on #5079
@adustm can you try un-commenting line https://github.com/ARMmbed/mbed-os/blob/master/features/mbedtls/inc/mbedtls/config.h#L2046
in file ```mbed-os/features/mbedtls/inc/mbedtls/config.h``` in your workspace.

[2017-12-12 21:03] bmcdonnell-ionx commented on #5679
@0xc0170, what is the meaning of the "type: question" label?

[2017-12-12 21:24] andresag01 commented on #5079
Hi @adustm, my apologies for the delay in my reply. I am not sure if putting the application inside the mbed-os directory works. My understanding is that this directory should only contain the library code and tests, but the stress test that I wrote is written as if it was a user application. To test this, I normally just replace the code in the main.cpp of one of the applications at [mbed-os-exam

[2017-12-12 21:57] bmcdonnell-ionx commented on #4856
This issue should be handled for the exporters, as well as the build tools.

e.g. Currently I'm using the Eclipse-based NXP MCUXpresso IDE. It exports with the soft ABI option. I can change it to hard in the project properties in MCUXpresso, but then I'd have to redo that tweak every time I export (i.e. every time I add or update a library with mbed-cli - such as updating the mbed-os library).

[2017-12-12 23:44] amq opened #5692 "How to debug with bootloader?"
## Question

I'm happily debugging with `gnuarmeclipse`.

However, after adding `"target.bootloader_img"` to `mbed_app.json` debugging stops working. Looks like that's because the binary is padded, which is the expected behavior for mbed-cli builds, but I'm not sure it makes sense for IDEs. Actually, it won't even let me to export without an existing bootloader binary.

Is there a way to ignore th

[2017-12-12 23:44] #5636 closed

[2017-12-13 05:04] Arjun765 opened #5694 "KL25Z: USB: USB MSD device freezes up when attempting to write data"
Reading works all the time but writing fails every now and then, it would freeze up and linux will try to reset it.

The example from [utasker](http://www.utasker.com/kinetis/FRDM-KL25Z.html) works well, so it does not seem to be a hardware issue.

[2017-12-13 07:30] stevew817 commented on #4007
@0xc0170 This should be resolved by tickless and the move to the mbed sleep manager.
@chrissnow Can you verify this is no longer an issue and close the ticket?

[2017-12-13 08:50] jeromecoutant commented on #5622
Now that #5576 is merged, maybe we can close this issue ?

@0xc0170 @kegilbert , maybe check next morph test results before closing ?

[2017-12-13 09:18] 0xc0170 commented on #5622
💯  Let us know if debugging this today leads to a fix

@jeromecoutant I would keep this open until @kjbracey-arm confirms

[2017-12-13 10:06] kjbracey-arm commented on #5622
#5689 won't have resolved the underlying problem here, at may just have hidden it again. This should stay open until we track down the real cause. Should probably close #5689 and we'll make a new PR when/if we find the real culprit.

[2017-12-13 10:21] 0xc0170 commented on #5679
I labelled it as question initially to answer why there is using statement in the main header file. Once you shared there are few more, this can be considered as a bug, and we will need to clean those.

[2017-12-13 15:07] 0xc0170 commented on #5690
@ARMmbed/team-nordic

[2017-12-13 15:29] amq opened #5699 "EthernetInterface fails to connect from other than default thread"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
UBLOX_C030_N211

**Toolchain:**
GCC_ARM

**Toolchain version:**
6-2017-q2-update

**mbed-cli version:**
1.2.2

**mbed-os sha:**
5f6572179d66ce4c09d6517b659ac51133cc980d

**Expected behavior**

Both examples should succeed to connect:

[code]

[code]

**Actual behavior**

[2017-12-13 15:42] bmcdonnell-ionx opened #5700 "Sync with CMSIS repo / allow use of CMSIS-DSP"
### Description
- Type: Enhancement
- Priority: Major | Minor (somewhere in this range)

---------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**

There is no straightforward or maintainable way to utilize the parts of CMSIS which are not already included by `mbed-os`, e.g. CMSIS-DSP.

This is due to the subset of files

[2017-12-13 15:50] kjbracey-arm commented on #5622
It appears it is a flaw in the STM32F Ethernet driver - I believe it's newly arising due to the Cortex-M7 STM chips.

The driver writes to the Ethernet DMA descriptor, then writes to the Ethernet peripheral telling it to go.

I assume the cache isn't active, but the store buffer is active. The write to the DMA descriptor hasn't cleared the store buffer by the time the Ethernet looks at it. So the

[2017-12-13 15:55] SeppoTakalo commented on #5622
@screamerbg Please forward this issue to ST.

[2017-12-13 16:01] thegecko commented on #5659
This is now deployed

[2017-12-13 17:01] MarceloSalazar commented on #3130
@c1728p9 given that https://github.com/ARMmbed/mbed-os/pull/5624 is closed, what do you propose?

[2017-12-13 17:11] c1728p9 commented on #3130
I think the tentative plan is to make mutex lock failures (other than timeout) fatal in debug and development builds for mbed-os 5.8. @sg- needs to confirm this though.

[2017-12-13 17:13] bmcdonnell-ionx commented on #5679
@0xc0170, should you update the label as such? (I don't think I have permission to do that.)

[2017-12-13 17:31] 0xc0170 commented on #5699
@ARMmbed/team-ublox please review

[2017-12-13 17:49] RobMeades commented on #5699
Confirmed that I can reproduce that here, will investigate...

[2017-12-13 18:14] RobMeades commented on #5699
The same thing happens on the generic ST NUCLEO_F429ZI target, so I think this is somewhere in the STM32F4 platform code.  Is this the correct team alias @ARMmbed/team-st-mcd for ST?

[2017-12-13 20:28] bmcdonnell-ionx opened #5702 "Expose filesystem stats"
Reference: [Docs / mbed OS API References / Storage APIs / File system](https://docs.mbed.com/docs/mbed-os-api-reference/en/latest/APIs/storage/filesystem/)

### Description
- Type: Enhancement
- Priority: Minor

---------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**

There is no way to retrieve file system statistics

[2017-12-13 21:01] cmonr commented on #4605
@c1728p9 Did anything else happen with this issue after https://github.com/ARMmbed/mbed-os/pull/4628 was closed?

[2017-12-13 21:14] cmonr commented on #4901
Closing since fix looks to be merged in and issue inactivity.

[2017-12-13 21:14] #4901 closed

[2017-12-13 22:12] c1728p9 commented on #4605
This should have been resolved with #4644 which added interrupt immediately functionality to the tickers. CC @0xc0170

[2017-12-14 01:46] #4360 closed

[2017-12-14 01:47] cmonr commented on #4587
Closing since NRF52_DK now supports all BLE examples. Feel free to open another issue comes up.

[2017-12-14 01:47] #4587 closed

[2017-12-14 01:49] cmonr commented on #4370
@bridadan Is this issue still relevant, since it's been inactive for over half a year?

[2017-12-14 01:53] cmonr commented on #4355
Closing since question appears to be resolved.

[2017-12-14 01:53] #4355 closed

[2017-12-14 02:05] cmonr commented on #4354
Closed since PR has long since been merged.

[2017-12-14 02:05] #4354 closed

[2017-12-14 05:10] geky commented on #4370
The solution here is to use echo servers for device testing. @SeppoTakalo already has plans to move the DTLS handshake test that way.

I think you can close this because it's being tracked elsewhere.

[2017-12-14 07:03] jarlamsa commented on #5622
If needed, I have a .bin and .elf for reproducing the issue.

[2017-12-14 07:21] daniel-cesarini-tridonic-com commented on #3130
@c1728p9 @sg- what does this mean?

Furthermore, in general, should mutex / other concurrency primitives have a return value at all?
And if yes, would that mean that *all* users of such primitives should handle the possible return values?

[2017-12-14 08:05] jorisa commented on #5699
Same here (NUCLEO-F767ZI):
https://os.mbed.com/forum/bugs-suggestions/topic/28418/

[2017-12-14 08:27] 0xc0170 commented on #5622
If you can attach it, please do here.

@ARMmbed/team-st-mcd

[2017-12-14 08:34] jarlamsa commented on #5622
Attached.
[gethostbyname.zip](https://github.com/ARMmbed/mbed-os/files/1558401/gethostbyname.zip)

[2017-12-14 08:58] ghseb opened #5705 "Question regarding priorities of System Timer Events and Send/Receive Events"
### Description
- Type: Possible Bug
- Priority: Major

---------------------------------------------------------------
## Bug

When a timer event is created via `eventOS_event_timer_request()` the priority `ARM_LIB_MED_PRIORITY_EVENT` is assigned in system_timer.c. Send/Receive Events get the priority `ARM_LIB_HIGH_PRIORITY_EVENT` in `send_receive_event()`.
When there is high load an a network co

[2017-12-14 09:57] TomoYamanaka commented on #5612
Could you please let me know when the above was merged into Online system?
I will check whether it is available to export to e2studio.

[2017-12-14 10:02] pan- commented on #5679
@bmcdonnell-ionx `using` declarations are *fine* in the following occurrences listed:

[code]

I believe `events/mbed_events.h` and `rtos/rtos.h` follows the same *pattern* exhibited in `mbed.h`. These header files are entry point that include all public definition of their modules and import them into the global namespace. That doesn't follows with C++ good practices but it may be easier for star

[2017-12-14 11:06] Archcady commented on #5672
Have updated platform page with this detail, also added a link to our official Realtek landing page that shows how to test button by connecting an external button

[2017-12-14 11:13] avolinski commented on #5680
small update, happens on gcc arm also (caught in debug):
new interface created
Thread 0x0 error -4: Parameter error

[2017-12-14 11:18] Archcady commented on #5642
I have updated the platform page with an Example on how to connect LED to the RTL8195AM

[2017-12-14 11:19] Archcady commented on #5477
Are these tests still failing with the latest version of MBED-OS

[2017-12-14 11:19] 0xc0170 commented on #5672
I can confirm the above, will close this issue as resolved

[2017-12-14 11:19] #5672 closed

[2017-12-14 11:22] 0xc0170 commented on #5642
This is now resolved

[2017-12-14 11:22] #5642 closed

[2017-12-14 12:20] nvlsianpu commented on #5690
Hi @drahnr, @0xc0170
SPI::frequency() API is expected to take frequency in [Hz] unit. In snniped of code you shown  i see nordic specific bit-field value SPI_FREQUENCY_FREQUENCY_M1 = 0x10000000UL, so much above 8 MHz (is saturated by nordic driver here: https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5/spi_api.c#L426).

[2017-12-14 12:24] Roger-Strassburg commented on #5705
A note on the scenario described here. While transferring a 400k-byte file from the server to the client, registration updates were being queued on the event queue, but were getting starved out by the receive events. This prevented registration updates from getting sent before timing out, which in turn invalidated the file transfer.

Changing the priority of timer events in system_timer.c to be th

[2017-12-14 13:26] mazimkhan opened #5706 "Mbed TLS example benchmark build fail for IAR + ODIN"
mbed-os-example-tls/benchmark fails to build for IAR + ODIN

### Description
- Type: Bug (build failure)
- Related issue: https://github.com/ARMmbed/mbed-os-example-tls/issues/133#issuecomment-351697974
- Priority: Blocker | Major | Minor

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
IAR

**Toolchain version:**
7.8

**Steps to

[2017-12-14 13:29] drahnr commented on #5690
You are right, I miscounted the 0s in that define.

[2017-12-14 13:32] RobMeades commented on #5699
Just to complete the picture, both methods _do_ work on a K64F board, so this isn't a generic Mbed issue it is an ST Mbed platform issue.  Adding some ST people in case the above team alias is not correct: @LMESTM, @jeromecoutant , @bcostm, @adustm.

[2017-12-14 13:41] adustm commented on #5079
Thanks @andresag01 . Moving `#if defined(MBEDTLS_MD5_C)` fixes my link problem. I push that in the PR