[2017-09-01 13:29] 0xc0170 commented on #4913
cc @yogpan01 @JanneKiiskila

[2017-09-01 13:45] LMESTM commented on #5004
@maciejbocianski  one more point : what is the version used - are you running from mbed/master ?

[2017-09-01 15:01] maciejbocianski commented on #5004
@LMESTM yes from master

[2017-09-01 19:56] maclobdell opened #5007 "Single byte write to I2C EEPROM failing on NCS36510"
### Description
- Type: Bug
- Related issue: n/a
- Priority: Major

---------------------------------------------------------------
## Bug
Fails [CI Test Sheild](https://github.com/ARMmbed/ci-test-shield) I2C test of Single Byte writes to EEPROM

NCS36510-GCC_ARM | NCS36510      | tests-api-i2c | I2C -  EEProm WR Single Byte       | 0      | 2      | FAIL   | 0.2                |

**Target**
NCS36

[2017-09-01 21:36] danclement commented on #5007
@maclobdell Thank you very much for the very detailed bug report.  We will look into it.

[2017-09-02 00:32] shayo opened #5009 "Question: turning off BLE ?"
Question: How can I turn off BLE completely after initialization?
I'm using a custom board running with NRF52832

I use the following to initialize the ble stack:
BLE& ble = BLE::Instance(BLE::DEFAULT_INSTANCE);
ble.init(bleInitComplete);

Simply stopping advertising doesn't work (i.e.,  if the central already knows the address, it can still connect).
How do I fully shutdown any transmission / dis

[2017-09-02 12:17] larsgk opened #5010 "Support for FRDM-KL28Z (?)"
### Description
- Type: Enhancement | Question
- Priority: Blocker

---------------------------------------------------------------
## Enhancement

Is there already support for FRDM-KL28Z or what is needed to add the target and what can be done to get it ASAP?

I bought a bunch of boards I would have liked to get running with software from https://github.com/empirikit/empirikit-controller before n

[2017-09-03 08:40] dannybenor commented on #4988
I am using GCC
All tests can be executed following the instructions in https://github.com/ARMmbed/mbed-client-esfs-example
The tests are in https://github.com/ARMmbed/mbed-client-esfs/tree/master/Test/Unitest
The test failing is writing 12*1024 bytes
After the fails the file system became corrupted.
I did not use FATFileSystem::format(&bd);, only Windows format

[2017-09-03 16:33] HITMAnsOFT opened #5011 "InterruptIn always pulled up on nRF52_DK when BLE is initialized"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
nRF52_DK (tested both on a custom board and on a Sparkfun nRF52832 breakout)

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc version 5.4.1 20160919 (15:5.4.1+svn241155-1)

**mbed-cli version:**
1.1.1

**mbed-os sha:**
98ba8acb8 Merge pull request #4974 from ARMmbed/

[2017-09-03 17:41] HITMAnsOFT commented on #5011
I've made the following workaround in targets/TARGET_NORDIC/TARGET_NRF5/gpio_api.c, in function gpio_apply_config:
[code]
This works for my application.
I have an external debounce circuit that has high impedance, so the internal pull-up was not allowing the pin to reach low level. In order for it to work, I need to disable all internal pull-ups.
For some reason, for all pins that are configured a

[2017-09-04 07:36] 0xc0170 commented on #5011
cc @pan- @nvlsianpu @anangl

[2017-09-04 07:39] 0xc0170 commented on #5010
KL27Z is supported (using MCUXpresso drivers). I would take that one as a template and port KL28Z.

cc @mmahadevan108

[2017-09-04 07:39] 0xc0170 commented on #5009
cc @pan-

[2017-09-04 09:06] LMESTM commented on #5004
@maciejbocianski @0xc0170  I reproduce the issue on master. But what I can see is that the issue happens whether greentea is used or not. I debugged and could not find out anything wrong in targets/TARGET_STM/us_ticker_16b.c so I ended up reverting #4644 and the test is OK. I think #4644 included some simplification of our code that should not have been done. I re-introduced the original implement

[2017-09-04 09:10] 0xc0170 commented on #4773
@avolinski Can you confirmed its fixed on master or update this issue?

[2017-09-04 09:16] teetak01 commented on #4773
This has been fixed in mbed OS 5.5.6

[2017-09-04 09:34] #4773 closed

[2017-09-04 09:46] RobMeades commented on #4928
@0xc0170 can you add a reference here to the fixing PR?

[2017-09-04 10:15] janjongboom commented on #4957
@0xc0170 I'd suggest adding a `free()` function to SPI object. Perhaps we'd mark it in the docs with an indication that you probably never want to call it.

[2017-09-04 10:39] bulislaw commented on #5005
@0xc0170 ping

[2017-09-04 10:47] 0xc0170 commented on #5005
cc @stevew817 @akselsm

[2017-09-04 10:59] bcostm commented on #899
@0xc0170 can you please close it ?

[2017-09-04 11:34] #899 closed

[2017-09-04 12:08] JanneKiiskila commented on #4928
I think this is the PR: https://github.com/ARMmbed/mbed-os/pull/4934

[2017-09-04 12:11] RobMeades commented on #4928
That's not the fix, though, that's a workaround.  I guess ST, maybe @adustm, is still fighting the problem?

[2017-09-04 12:56] janjongboom opened #5014 "Cannot compile for nRF51-DK anymore w/ GCC_ARM"
Take an application, f.e. https://developer.mbed.org/teams/mbed-os-examples/code/mbed-os-example-ble-HeartRate/ using mbed OS 5.5.5

Compile with GCC_ARM for nRF51-DK:

[code]

[2017-09-04 13:16] janjongboom opened #5015 "NRF51_DK_BOOT target is broken"
### Description of defect

I think NRF51_DK_BOOT has been broken since mbed OS 5, as even with mbed OS 5.2.3 it does not produce a working binary.

[code]

#### Target(s) affected by this defect ?

NRF51_DK_BOOT

#### Toolchain(s) (name and version) displaying this defect ?

n/a

#### What version of Mbed-os are you using (tag or sha) ?

mbed-os-5.5.5

#### What version(s) of tools are you using.

[2017-09-04 13:22] shayo commented on #5009
I ended up using ble.shutdown(), to clean up the stack.
I am not sure if the softdevice will turn off radio completely if there are no advertising/services declared. Can someone confirm?

[2017-09-04 13:59] 0xc0170 commented on #5014
What is the version for GCC ? I remember seeing this errors when using older GCC (in my case it was 4.x).

[2017-09-04 14:09] 0xc0170 opened #5017 "Callback: comparision fails"
### Description
- Type: Bug
- Priority: Major

How to reproduce:

[code]

I had similar code in one patch that started failing. I was looking for API in Callback that would check if Callback was assigned the same function (the default one), the only way there I found was to use comparision operators. Those  however fail, as shown above.

What I noticed that when those two objects are compared, `_o

[2017-09-04 14:44] janjongboom commented on #5014
@0xc0170 Good point. Works with GCC6.

[2017-09-04 14:44] #5014 closed

[2017-09-04 14:59] dannybenor commented on #4988
Some updates:
I took the last SD-Driver head (https://github.com/ARMmbed/sd-driver/commit/94392432be55e37ffaeb7a8671505470f1f24dee)
The new version cannot load the original sd card "Transcend 8G micro SDHC" where the bug was found.
Old versions can load the card.

The tests pass in a new SD card "Ultra microSDHC UHS-1 16G from SanDisk" with new version but also with the original version where the

[2017-09-04 15:33] stevew817 commented on #5005
@bulislaw I think this would be best solved by 'blocking' everything under EM1 out of the box when using RTOS. Else you will, indeed, switch off the clock to systick.

How far along are mbed OS' efforts on tickless?

[2017-09-04 15:48] #4930 closed

[2017-09-05 08:15] bulislaw commented on #5005
We are almost done, it solves the problem of sleeping during idle as we sets up a different wake up source https://github.com/ARMmbed/mbed-os/pull/4991 but we're not sure about enabling strategy yet.

[2017-09-05 08:32] adustm commented on #4928
Hello,
The fix is eventually here in PR #5018
(with explanations)
Kind regards
Armelle

[2017-09-05 11:30] 0xc0170 commented on #5017
Also operator== seems to be broken, Callback is non-POD and we use memcmp.

[2017-09-05 12:12] TomoYamanaka commented on #4806
@bulislaw @toyowata

**[ STATUS ]**
Current status is here.
- **ARMCC**
The build was successed, Blinky sample was worked.
However, we are facing the error at two test cases within the test used mbed CLI(mbed test ...).
[code]
- **GCC_ARM**
The build was successed, Blinky sample was worked.
However, we are facing the error at three test cases within the test used mbed CLI.
[code]

<br><br>

**[ RE

[2017-09-05 12:24] maciejbocianski opened #5020 "Ticker: program stuck when attaching callback with very small time < 25us"
Program stuck in function Ticker::attach_us when called with very small time < 25us

[code]

[code]

### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
tested on: K64F|NUCLEO_F070RB|NRF51_DK

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha:**
master

**Expected behavior**
callback is called
**Actual behavior**
program stu

[2017-09-05 12:28] maciejbocianski commented on #5020
@bulislaw @0xc0170

[2017-09-05 12:29] mohammad1603 commented on #4981
since the error is "DEVICE_ERROR" it will make it hard to us to understand if it is a hard or a soft error.
also since it is kind of a generic error will make it harder cause it can translate a real hard error that retrying will not help.
I totally agree that in soft error we can retry and in hard as you said, not worth to retry.
This is why I asked to translate this case to explicit soft error, t

[2017-09-05 12:30] mohammad1603 commented on #4981
accidentally closed .

[2017-09-05 12:34] LMESTM commented on #4583
#4668 has been merged - so should we close this issue ?

[2017-09-05 13:18] bulislaw commented on #5020
The callback time is very small and may be too small for clock resolution for given board, but it shouldn't get stuck and documentation should mention this case (and document what will actually happen). @maciejbocianski can you provide a resonable fix?

CC: @c1728p9 What do you think? And maybe it's something we should consider while working on new HAL for tickers?

[2017-09-05 13:24] bulislaw commented on #4806
That makes sense, I'll push this to the branch.

We disallow changing main stack size for targets for compatibility sake. What exactly is the problem you are facing?

[2017-09-05 13:33] LMESTM commented on #4966
@LiyouZhou #4980 has been merged and should solve this issue - please confirm and close or report otherwise

[2017-09-05 13:43] mmahadevan108 commented on #5010
@larsgk. We do not have plans to add mbed supporf for KL28Z till later this year.
As Martin recommended you could use the KL27Z port as reference and use the KL28Z SDK release available on https://mcuxpresso.nxp.com/en/welcome to add support.
I will be happy to work with you (answer questions, review etc.) on this. Thanks.

[2017-09-05 14:04] 0xc0170 commented on #4583
Please reopen with new findings if the issue persist

[2017-09-05 14:04] #4583 closed

[2017-09-05 14:23] c1728p9 commented on #5020
Maybe the interrupt is occurring faster than the mcu can handle and this is preventing threads from running. Do you see the same behavior if you repeatedly schedule a Timeout with the same delay from a thread?

[2017-09-05 14:43] Mathgoat opened #5023 "Cannot reconnect a LoWPANNDInterface"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F

**Hardware**
Firefly 6LoWPAN shield +K64F

**Toolchain:**
GCC_ARM

**mbed-cli version:**
1.1.1

**Expected behavior**
 As the EthernetInterface, the LoWPANNDInterface should be able to reconnect after a deconnection.

**Actual behavior**
The LoWPANNDInterface ca

[2017-09-05 14:52] 0xc0170 commented on #5023
cc @SeppoTakalo

[2017-09-05 15:08] sarahmarshy opened #5024 "Odin fails networking tests with heap and stack tracking"
### Description
- Type: Bug

I am using the mbed OS networking tests for Odin - (Added in #4795). Here are the commands run:
[code]

These commands pass when the heap and stack stats macros are not added. They fail when the macros are used, which is how the commands are run in CI.

---------------------------------------------------------------
## Bug

**Target**
Odin W2

**Toolchain:**
IAR

**Ste

[2017-09-05 15:57] maciejbocianski commented on #5020
will check it

[2017-09-05 16:10] geky commented on #5017
Thanks for adopting the workaround, here's a quick fix for the Callback class: https://github.com/ARMmbed/mbed-os/pull/5027

[2017-09-06 01:37] TomoYamanaka commented on #4806
@bulislaw

Thank you for your reply.

I appreciate you.

In the test used mbed CLI, we face the build error of referencing undefined macro(= `DEFAULT_STACK_SIZE`).
For example, the value of this macro was [2048](https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.4/rtos/rtx/TARGET_CORTEX_A/cmsis_os.h#L73) in case of Cortex-A in mbed-os 5.4.
Therefore, we would appreciate that you modify `DEFAULT_STA

[2017-09-06 07:23] TomoYamanaka commented on #4806
@bulislaw

Regarding `tests-mbed_drivers-timeout` of test case(toolcahin is GCC),
looking at the log(`mbed test ... -vv`), I understood it occurs timeout in the test.
The log is here : [GCC(ver6)_Test_NG_tests-mbed_drivers-timeout.txt](https://github.com/ARMmbed/mbed-os/files/1280108/GCC.ver6._Test_NG_tests-mbed_drivers-timeout.txt)

However, in case of GCC version 4.9.3, this test was successed.

[2017-09-06 07:37] mikaleppanen commented on #4981
Made pull request to change cause mapping: https://github.com/ARMmbed/mbed-os/pull/5033

[2017-09-06 07:57] jeromecoutant commented on #4823
As per ARM requirement, Stack Pointer test is used to detect the need to program and run the application coming with drag and drop feature in the virtual mass storage disk.

[2017-09-06 08:37] maciejbocianski commented on #5020
Below code generates same behaviour

[code]

[2017-09-06 09:32] janjongboom opened #5034 "Remove NonCopyable from SPI / I2C / etc."
### Description

- Type: Enhancement
- Related issue: #4594
- Priority: Major

Since mbed OS 5.5.2 we've marked SPI and I2C as NonCopyable. I understand the reasoning behind this, but it has broken many mbed libraries, which cannot be easily updated. This is user hostile and bad for the platform.

Some examples that are broken now and that I found with a quick Google search:

* HelloMQTT
* AT45 SP

[2017-09-06 09:51] 0xc0170 commented on #5034
cc @pan- @bulislaw

[2017-09-06 10:16] darbyShaw opened #5035 "Receiving poll events in the sigio callback for UartSerial"
Type: Question/ Suggested Enhancement
Hello all,
I use mbed OS 5 for nucleo-f401re.
I want to use UartSerial asynchronously using interrupts.
I see that UartSerial by default attaches to the rx_irq callback for RxIrq.
I attach my callback with the sigio function. My callback is called when wake is called from rx_irq. But since I have no way of knowing that whether my callback was called for a read

[2017-09-06 10:30] MarceloSalazar commented on #4976
That's weird, I'm not seeing the reported behavior. It takes me about 10 seconds to do an incremental rebuild of all mbed OS tests on my Macbook pro.

[2017-09-06 11:02] 0xc0170 commented on #5035
cc @hasnainvirk

[2017-09-06 11:46] helmut64 commented on #4823
OK than newer ST-Link firmware and changing it in mbed. 25% more memory is worth the work.

[2017-09-06 12:47] andresag01 opened #5036 "Add hardware acceleration stress tests"
### Description
- Type: Enhancement
- Related issue: https://github.com/ARMmbed/mbed-os/issues/4928
- Priority: Major

---------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
Platforms that support hardware acceleration can use mbed TLS as a front end to expose this functionality to applications in mbed OS. To do this,

[2017-09-06 13:41] betzw commented on #4343
Hi again @geky,
Right in this moment I am trying out PR #4580 which in the meantime has been merged and am learning that not even this one is resolving my issue :face_with_head_bandage:. This is again because the stack operations (e.g. `_stack->socket_connect()` or `_stack->socket_recv()`, ecc.) called therein might cause the `TCPSocket` callback `TCPSocket::event()` being called at least one if n

[2017-09-06 15:21] gardnmc opened #5039 "mbed OS5 SPISlave Query"
- Type:  General Question
- Related issue: mbed OS5 SPI Slave implementation
- Priority: Major

I'm communicating between 2 mbed devices using SPI in a master/slave relationship (Multitech XDot as Master and uBlox Nina B1 (NRF52832)  as Slave) and would like to implement an ISR/Callback driven receiver for the Slave.

The official SPISlave example works fine for receiving a single byte and reflect

[2017-09-06 15:42] geky commented on #5020
Hi @maciejbocianski. The Timeout/Ticker classes run their callbacks in interrupt context. That is, the code is executed at a highest priority than the rest of the system since the interrupt is triggered by hardware.

In this situation, the timeout is small enough that when the callback finishes executing, the timeout has already expired and been triggered again. Since the timeout is a hardware tim

[2017-09-06 16:24] scartmell-arm opened #5040 "Mbed TLS example hangs running on UBLOX_EVK_ODIN_W2 when built with ARM and IAR compilers"
## Description

When building the [mbed-os-example-tls/tls-client](https://github.com/ARMmbed/mbed-os-example-tls) example using the default profile the program hangs when attempting to create a connection.

This happens predominantly with the ARM compiler, and about 20% of the time with IAR compiler.

The problem doesn't occur when building using the debug profile.

**Target**
UBLOX_EVK_ODIN_W2

[2017-09-06 16:28] scartmell-arm commented on #5040
cc @andresag01

[2017-09-06 16:49] pan- commented on #5034
No this is undefined behavior hostile, if these library doesn't compile now then it means they were executing code with undefined behavior.

The important part to understand is that the code was **already** broken even if it wasn't visible, a change of compiler version, optimization or just subclassing and use of the SPI, I2C, ... classes might have been enough to exhibit the undefined behavior.

[2017-09-06 17:13] sg- commented on #5034
While a great addition, this never should have been part of a patch release. @pan- can you and @janjongboom work to get a blog created about this that goes out before Mbed OS 5.6? Let's also make sure a API page gets created in the references for the 5.6 release.

@0xc0170 @theotherjimmy

[2017-09-06 19:05] maclobdell opened #5041 "Error with SPI frequency set by KL25Z implementation"
### Description
- Type: Bug
- Related issue: n/a
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
KL25z

**Expected behavior**

spi_frequency() should set the SPI clock frequency to be very close to the desired frequency per the argument.

**Actual behavior**
If you pass 8MHz as your selected frequency, prescaler scales it down to 6 MHz. And if

[2017-09-06 23:34] geky commented on #4343
It should be fine for TCPSocket::event to get called extra times. We intentional support spurious events in the socket APIs.

[This condition](https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/TCPSocket.cpp#L167-L168) exits the function if socket_recv returned any code other than NSAPI_ERROR_WOULD_BLOCK. Following the [code path in socket_recv](https://github.com/ARMmbed/mbed-os/bl

[2017-09-07 03:40] TomoYamanaka commented on #4806
@bulislaw

Does it make sense? If you have any further unclear point on this, please let me know.

[2017-09-07 07:44] kjbracey-arm commented on #4343
There is an issue in that in the event of a spurious wakeup, timeout is not adjusted, so we restart the wait from the original timeout. Which means a block that should time out can go on longer than it's supposed to or forever.

Is that the problem you're seeing?

I believe the code is fine as long as timeout is 0 or infinite though.

[2017-09-07 07:55] maciejbocianski commented on #5020
The only solution I can propose is to fix documentation and add some runtime warning to prevent programmer from setting too small intervals

[code]

What do you think? @bulislaw @c1728p9 @0xc0170

[2017-09-07 08:50] bulislaw commented on #5020
CC: @pan-

I'm not sure about the warning. Maybe we can only document it in the function doxygen.

[2017-09-07 08:53] toyowata commented on #4806
@TomoYamanaka

Thank you very much for your update.  Can you share your code in your forked repository, so I can do quick test?
https://github.com/TomoYamanaka/mbed

[2017-09-07 09:01] betzw commented on #4343
Sorry for having said that a bit badly.
In my situation function `socket_recv()` always returns `NSAPI_ERROR_WOULD_BLOCK` and during its call the `_event_flag` will always be set .
Not sure what happens for immediate timeout, but most likely the wait will return with the information that the flag was set and therefore we will retry the execution of `socket_recv()` as it does for all other timeout

[2017-09-07 09:04] 0xc0170 commented on #5040
cc @andreaslarssonublox @andreaspeterssonublox

[2017-09-07 09:16] scartmell-arm commented on #5040
Changing the `-Ospace` flag to `-Otime` in release.json profile makes the example run fine _most_ of the time.

[2017-09-07 09:24] screamerbg commented on #4998
This is the command I use to build it successfully

[code]

[2017-09-07 09:30] kjbracey-arm commented on #4343
Ah, so the mere act of making a socket call to the driver always causes the driver to trigger another event.

Yes, I don't see how that's going to fly. Your driver is going to have to be more selective about how it triggers events.

Netsocket can't itself suppress an event coming during a socket call - it may be that it was a valid, and not-to-be-repeated wakeup.

Can you arrange some sort of supp

[2017-09-07 09:36] maciejbocianski commented on #5020
https://github.com/ARMmbed/mbed-os/pull/5045
@bulislaw

[2017-09-07 10:16] TomoYamanaka commented on #4806
@toyowata

Thank you for your comments. Your cooperation will be very helpful.
The code I updated is here.
https://github.com/TomoYamanaka/mbed/tree/Feature_CMSIS5_cortexA

[2017-09-07 10:49] bcostm commented on #4998
Thanks! It work for me too using this command.

[2017-09-07 10:49] #4998 closed

[2017-09-07 10:52] toyowata commented on #4806
@TomoYamanaka

Can you please sync latest commit from our https://github.com/ARMmbed/mbed-os repo and then apply your commit to the feature_cortex_a branch?

[2017-09-07 11:40] betzw commented on #4343
Exactly, as in the reference implementaion for `esp8266` the attached callback functions get simply forwarded to the `Serial` object, which calls the callback everytime the RX ISR exists (and there was data).

Well, this would make the driver dependent the RTOS being present (`MBED_CONF_RTOS_PRESENT`) something I would like to avoid.

[2017-09-07 12:03] kjbracey-arm commented on #4343
In which case, I would suggest you disable the interrupt by unattaching the callback from BufferedSerial before you start your parser operation, and reattach after you've finished.

Looking at the BufferedSerial implementation, I think you'd need to include a manual `if readable(), call my handler directly` afterwards, to avoid IRQs being lost between you giving up parsing and re-enabling the IRQs

[2017-09-07 12:15] betzw commented on #4343
Currently, I am doing something very similar.
I you are interested you can just take a look at the driver for the [X-NUCLEO-IDW01M1](https://github.com/ARMmbed/wifi-x-nucleo-idw01m1) expansion board.

[2017-09-07 12:27] kjbracey-arm commented on #4343
I see you sending extra commands to the modem to tell it to stop producing indication messages, but it's the generation of the receive interrupts while you send commands that's the problem.

[2017-09-07 12:37] betzw commented on #4343
If you dig a bit further you will also find methods `_block_event_callback()`, `_unblock_event_callback()`, and the like, which do the crucial things regarding this issue.

[2017-09-07 12:53] kjbracey-arm commented on #4343
Thanks, I see it now.  The intent seems to be that no events are signalled because you talk to the modem. And I see no obvious flaws.  But apparently it's failing, and you are generating events?

[2017-09-07 13:13] TomoYamanaka commented on #4806
@toyowata

I synced latest commit from https://github.com/ARMmbed/mbed-os, and
I commited my update to https://github.com/TomoYamanaka/mbed/tree/feature_cortex_a.

Does it make sense? If you have any mistake, please let me know.

[2017-09-07 13:38] NeilMacMullen commented on #4686
Well, the good news is that the behaviour now seems to be correct (just tested on  98ba8acb83cfc65f3).

The bad news is that trying to use an rx callback seems to crash the os..  Has the use of this API changed?

`#include "mbed.h"

class CallbackObject
{
	public: void OnRx()	{}
};

int main()
{
  Serial *pc = new Serial(USBTX, USBRX);
  pc->format(8, Serial::None, 1);
  pc->set_flow_control(Seria

[2017-09-07 13:45] hasnainvirk commented on #5035
@darbyShaw readable() and writeable() being ambiguous is correct. I will send a patch through.
However, you can make it work at the moment by following any of the method below:
Method 1:
[code]

Method 2:
[code]

Plus, you can't really use a Callback template to set a variable. While constructing a Callback object, you can set a constant but not a variable. So on your sigio(), you don't know wheth

[2017-09-07 13:58] theotherjimmy commented on #5040
@scartmell-arm I'm wary of anything that works _most_ of the time. That implies that it's really not working, but that something is masking the breakage. Further, I advocate against changing the profiles to "make code work" for the very same reason. If you application has very special needs, make your own profile.

[2017-09-07 14:02] scartmell-arm commented on #5040
I wasn't advocating it as a fix, just narrowing down what the cause might be.

[2017-09-07 14:06] theotherjimmy commented on #5040
Yeah, understood. I was just making sure that bystanders don't take it as a fix.

[2017-09-07 14:35] betzw commented on #4343
Two months ago when I was discussing this issue with @geky I still had the impression if this issue should and could be resolved at NETSOCKET level. So, in order to be able to proceed with the implementation of the driver for the [X-NUCLEO-IDW01M1](https://github.com/ARMmbed/wifi-x-nucleo-idw01m1) expansion board, I started to implemented what at the time I thought would be just a workaround until

[2017-09-07 15:21] MarceloSalazar commented on #4826
Bump @pan-

[2017-09-07 19:17] deepikabhavnani opened #5048 ""Malformed input " messages while compiling WiFi example"
Compiling Mbed-os WiFi example throws warnings as shown below, when compiled for "REALTEK_RTL8195AM".

Malformed input found when parsing ARMCC map: lib_wlan_mbed_arm.ar(rtk_wlan_if.o)
Malformed input found when parsing ARMCC map: lib_wlan_mbed_arm.ar(rtw_psk.o)
Malformed input found when parsing ARMCC map: lib_wlan_mbed_arm.ar(rtw_xmit.o)
Malformed input found when parsing ARMCC map: lib_wlan_mbe

[2017-09-07 22:19] MarceloSalazar commented on #4686
@0xc0170 @pan- are you aware of this crash problem in 5.5.6 (98ba8ac) ?

[2017-09-08 07:11] mbedNoobNinja commented on #3768
.... a any **Update**

so many releases have been produced so far and the projects still can not be exported for **VK_RZ_A1H** platform?
At least the **IAR** exporter should be working, because offline it works flawlessly. For **E2studio & DS5** I found the reason - forgotten edit of the **py** files `__init__.py`

[2017-09-08 09:00] fkjagodzinski opened #5051 "us_ticker_fire_interrupt: Event handler is never called"
### Description
- Type: Bug
- Priority: Major

## Bug

**Target**
NUCLEO_F070RB, EFM32GG_STK3700

**Toolchain**
GCC_ARM, ARM, IAR

**Toolchain version**
GCC_ARM _v6.3.1_,
ARM _uvision v5.24.2.0,_
IAR _IAR ANSI C/C++ Compiler V7.80.4.12462/W32 for ARM_

**mbed-cli version**
1.2.0

**mbed-os sha**
814eaa99f

**Code**
[code]

**Expected behavior**
The ticker event handler `foo()` is called immediatel

[2017-09-08 09:07] hasnainvirk commented on #5035
@darbyShaw One more thing came in to my mind, UARTSerial is essentially a serial with buffering you may have UARTSerial writable most of the time. Internally, UARTSerial will take data from buffers and write to the peripheral when peripheral is writable.

[2017-09-08 09:24] NeilMacMullen commented on #4686
I may have been too optimistic in thinking that the _original_ (no loopback) issue was resolved. Here are the results from testing on a stock NINA-B1 board using teraterm, no flow-control....

mbed compile
* No echo at all

mbed compile --profile debug
* Echoes characters correctly
* Crashes on receiving the first character after callback attached.  ('@' and '^') are seen indicating attach call is

[2017-09-08 10:27] bulislaw commented on #5051
So this change is incorrect? https://github.com/ARMmbed/mbed-os/pull/5019/files

If not all targets conform we shouldn't change documentation. We could add a check in the function to actually not insert the event if it was in the past. We can fix it when we will come to rewriting HAL spec for that.

[2017-09-08 10:46] fkjagodzinski commented on #5051
I'd say that #5019 is correct because an event _is inserted_ for every target I've tested.

This issue regards what happens just after the insertion. The event handler isn't called on NUCLEO_F070RB & EFM32GG_STK3700. Other boards like K64F, NUCLEO_L476RG and NUCLEO_F429ZI work as expected -- the handler is called immediately after insertion of the event.

[2017-09-08 11:01] bulislaw commented on #5051
But the original specification said it won't be called, so actually only these boards conform? Am I missing something?

[2017-09-08 11:10] 0xc0170 commented on #5051
`    ticker_insert_event_us(us_td, &e, 0, NULL);` would be better to get current and use current - some margin (`0` should work also though).

@fkjagodzinski Is this an issue with fire interrupt? I quickly checked EFM32, seems like we might have missed to set overflow counter to 0 if fire_interrupt is invoked.

@stevew817 @akselsm

@bcostm @adustm @LMESTM @jeromecoutant

[2017-09-08 11:15] 0xc0170 commented on #4686
@andreaslarssonublox @nvlsianpu @anangl Is this known issue for nrf52 targets?

[2017-09-08 12:05] JammuKekkonen opened #5054 "REALTEK_RTL8195AM: 'mbed compile' for cloud client example with ARM toolchain results to link errors"
**Target**
REALTEK_RTL8195AM

**Toolchain:**
ARM

**mbed-os sha:**
e12f116ec

**Expected behavior**
mbed compile command goes through and produces bin file

**Actual behavior**
mbed compile gets 33 errors during linking.

**Steps to reproduce**
- checkout branch 'REALTEK_RTL8195AM_support' from mbed-cloud-client-example-internal
- run 'mbed compile -m REALTEK_RTL8195AM -t ARM'

[2017-09-08 12:16] 0xc0170 commented on #5054
@Archcady

[2017-09-08 12:16] 0xc0170 commented on #5054
@JammuKekkonen what are the linker errors? Can you paste the output from the console please?

[2017-09-08 12:19] JammuKekkonen commented on #5054
Link: mbed-cloud-client-example-internal
Error: L6218E: Undefined symbol NS_CMSG_NXTHDR (referred from coap_connection_handler.o).
Error: L6218E: Undefined symbol ns_in6addr_any (referred from coap_connection_handler.o).
Error: L6218E: Undefined symbol socket_close (referred from coap_connection_handler.o).
Error: L6218E: Undefined symbol socket_open (referred from coap_connection_handler.o).
Erro

[2017-09-08 12:20] 0xc0170 commented on #5054
mbed-os-example-blinky builds for this target, with ARM toolchain.

This is related to nanostack, it seems. Something not correctly set?
@SeppoTakalo

[2017-09-08 12:29] JammuKekkonen opened #5056 "REALTEK_RTL8195AM: mbed-cloud-client-example-internal gcc_arm build unstable"
**Target**
REALTEK_RTL8195AM

**Toolchain:**
GCC_ARM

**mbed-os sha:**
e12f116

**Expected behavior**
mbed cloud client example is able to register to server and run

**Actual behavior**
running the application hangs some time after connecting to wifi access point. without traces the app does not get to registered state. with traces enabled (changing config override 'mbed-trace.enable' value to 1)

[2017-09-08 12:30] 0xc0170 commented on #5056
cc @Archcady @JanneKiiskila

[2017-09-08 14:50] fkjagodzinski commented on #5051
@bulislaw Please take a look at [`/TESTS/mbed_hal/ticker/main.cpp`](https://github.com/ARMmbed/mbed-os/blob/5bddd881e98101f5c491cccf3367894ecb4e89dd/TESTS/mbed_hal/ticker/main.cpp#L941).

[2017-09-08 15:11] pilotak opened #5059 "STM32 CAN bus"
I tried CAN bus sucessfully on LPC1768, now i moved to NUCLEO_F142ZG and NUCLEO_F103RB but i can't get it to work. Same code works on LPC but doesn't on STM32. Is CAN not supported on STM? I looked at transmit pin through scope and there is nothing = pin HIGH.

[code]

It prints 3x "sent" (but not visible on scope) and then error forever

### Description
- Type: Question
- Related issue: `#abc`
-

[2017-09-08 16:53] yogeshk19 commented on #4893
@pan- Vincent, we made some power consumption measurements with mbed OS 5.5.4.  Like I explained earlier in the thread the Application firmware just does two things.

1) Based on the EventQueue callback every function the BLE peripheral device transmits ever 30 seconds the sensor data, when connected to a central device. In our case we are testing with the IPhone LightBlue App just to speed up our

[2017-09-08 17:01] yogeshk19 commented on #4893
@pan- Vincent if you would like to use our test firmware file to confirm our current measurements, I can share that too.

Thanks,
Yogesj

[2017-09-08 20:07] c1728p9 commented on #5020
You should be able to set the time to Ticker and Timeout to as small as you want and the interrupt should still fire as expected. If the time is small enough then the interrupt will constantly be processed (leaving no time for threads), but should not cause a crash or lockup. As soon as the processing is stopped the thread should resume as normal.

Below is more what I had in mind for the Timeout

[2017-09-09 14:44] DuyTrandeLion opened #5064 "Condition variable"
## Question

I am working on mbed RTOS and I realized that there is no document about condition variable. Do you support or is there any document about how to implement condition variable in mbed os? I tried searching but there was almost no document about it.

Thank you very much.

[2017-09-10 21:25] SenRamakri commented on #4686
Hi NeilMacMullen,

I tried the above sample code on a NRF51_DK board and did not see any crash. By the way, what crash you are seeing? Can you post it here or provide more details?
Note that Callbacks are executed in ISR context and doing anything in the Callback which does things like acquiring a mutex ( directly or indirectly ) may cause an error.
One weird thing I'm noticing in my investigation

[2017-09-11 03:12] c1728p9 opened #5065 "NCS36510 hard fault when entering deep sleep"
In certain configurations the NCS36510 crashes with a hard fault when entering deep sleep mode with interrupts disabled. When single stepping through the same code with a debugger a crash does not occur. Additionally adding breakpoints after the WFI instruction makes the crash go away, but may not be a robust solution.

Example program which can reproduce the crash (needs to be build with IAR - `m

[2017-09-11 07:45] maciejbocianski commented on #5020
@c1728p9
You are right this code should work since we have finite number of interrupts to process.

I have tested your code on NRF51_DK/NUCLEO_F070RB/K64F/NUCLEO_F429ZI and works fine except NUCLEO_F070RB which requires at least 13us to pass this case.

But in case of Ticker if we set small enough timeout then only calback will be scheduled and we will not have chance to cancel it. The only way to

[2017-09-11 08:49] LMESTM commented on #5020
Test on NUCLEO_F070RB should work fine as well with fix from #5012 - this was just merged

[2017-09-11 08:50] ghseb commented on #4913
Adding `sn_nsdl_clear_coap_resending_queue(_nsdl_interface.get_nsdl_handle());` at two locations seems to keep mbed-client running. Mabe it would also be possible to put this reset directly into the state-transition methods of `STATE_IDLE`.

It seems that afterwards a new registration is required.

[code]
[code]

[2017-09-11 09:48] kjbracey-arm commented on #5035
I've created a PR which resolves the ambiguity. In the interim, the simplest workaround is to resolve the ambiguity by calling `serialPort.FileHandle::readable()` - basically a neater version of method 1 above.

The strange thing is, I recall this ambiguity popping up during development, and thought we had already put some explicit overrides in UARTSerial to avoid it.

[2017-09-11 09:58] kjbracey-arm commented on #5035
(This escaped our attention because our code working with UARTSerial doesn't directly use the UARTSerial type, but is all written using `FileHandle` pointers, making it generic - see https://github.com/ARMmbed/mbed-os/blob/master/platform/ATCmdParser.cpp and https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/ppp_lwip.cpp ).

[2017-09-11 10:01] maciejbocianski commented on #5020
@LMESTM
Tested with fix #5012 and it work fine for NUCLEO_F070RB with 1us timout

[2017-09-11 12:30] MarceloSalazar commented on #4976
Is this still a problem? I'm curious to understand what's causing the delay, and if it's case, see could be re-worked/optimized.

[2017-09-11 12:45] betzw opened #5067 "Deep sleep lock would overflow (> USHRT_MAX)"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**mbed-os sha:**
3f2e986 Merge pull request #5012 from LMESTM/issue5004_ticker_16b

**Actual behavior**
See [stack_tasks.txt](https://github.com/ARMmbed/mbed-os/files/1292547/stack_tasks.txt)

[2017-09-11 13:02] betzw commented on #5067
Maybe class `Timer` requires a destructor now?

[2017-09-11 14:00] theotherjimmy commented on #4976
@MarceloSalazar, Yes this is still a problem. It seems to strongly depend on your setup, and which python version you are using. I have done some tests, and it looks like there are just some inefficiencies in the parsing code that may depend on L1/L2 cache size or something. For example, I was able to get a 25% speedup by moving [this line](https://github.com/ARMmbed/mbed-os/blob/master/tools/mema

[2017-09-11 15:31] costanic opened #5068 "SDBlockDevice init failure on mbed-os-5.5"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F and UBLOX EVK-ODIN-W2

**Toolchain:**
GCC_ARM

**Toolchain version:**
$ arm-none-eabi-gcc --version
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]

**mbed-cli version:**

[2017-09-11 15:36] LMESTM commented on #5059
Hi @pilotak
You get an error after 3 messages being sent because there are 3 transmit mailboxes in STM32 F103RB and none of them is free. So it seems like the transmission is failing.  How have you connected the board to the CAN bus ? Do you have tranceivers in place like suggested here https://developer.mbed.org/handbook/CAN ?

[2017-09-11 16:57] MarceloSalazar opened #5070 "Blinky doesn't work when using develop/release profile with external power"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/issues/4686
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
[u-blox-EVK-NINA-B1](https://developer.mbed.org/platforms/u-blox-EVK-NINA-B1)

**Toolchain:**
GCC_ARM

**gcc 6.3.1**

**mbed-cli version:**
1.2.0

**mbed-os sha:**
mbed OS 5.5.6 (98ba8acb83cfc65f30a8a0771a2

[2017-09-11 18:36] geky commented on #5064
Good thing to notice

@c1728p9 put up a pr to add a ConditionalVariable class, though it ended up dropped: https://github.com/ARMmbed/mbed-os/pull/3648

For most cases, condition variables can be replaced with the EventFlags class ([here](https://github.com/ARMmbed/mbed-os/blob/master/rtos/EventFlags.h#L43)), although synchronization needs to be handled seperately. The documentation should be upda

[2017-09-11 20:37] pilotak commented on #5059
Hi @LMESTM ,
As i already explained , it works perfectly on LPC1768 so yes it tranceivers are working and they are connected as suggested. I also tried to swap RXD/TXD just in case but it's the same - no activity on those two pins, checked with scope.

F412ZG and F103RB there is no activity, even that program sends me `sent` (which should be confirmation that it arrived to the mailbox) there is no

[2017-09-11 22:53] sg- commented on #4686
First thing that looks wrong in the example is that Serial and RX interrupts are not reading data, therefore would endlessly be stuck in the RX IRQ. This is a problem given that Serial inherits from Stream and retargets to putc and getc which use a Mutex for protection and Mutex + IRQ context is not allowed. (The trap for this failure is not obvious)

Secondly there is a problem with nRF devices a

[2017-09-11 23:19] SenRamakri opened #5072 "Serial communication not working with Flowcontrol disabled on NRF51 devices."
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Major
---------------------------------------------------------------
## Serial communication not working with Flowcontrol disabled on NRF51 devices.

**Target**
NRF51_DK | Similar devices

**Toolchain:**
GCC_ARM|ARM|IAR

**Steps to reproduce**

Run the below application on a N

[2017-09-11 23:22] NeilMacMullen commented on #4686
Sam and Senthil.  Thanks for your input.. I spent some time with Vincent and Marcelo in Cambridge today,  FIndings were....
 1. As you noticed the callback is not actually reading the incoming bytes and clearing the rx interrupt  However attempting to call getc inside the callback results in an invalid operation since it's not longer possible to do this inside an IRQ!   I believe Vincent was going

[2017-09-12 03:03] DuyTrandeLion commented on #5064
Thank you very much for you reply, I guess EventFlags is good as a replacement for ConditionalVariable. Still hope that one day ConditionalVariable would be reopened

[2017-09-12 05:22] darbyShaw commented on #5035
Thank you so much for helping me out! I'll try using the FileHandle.

[2017-09-12 09:29] janjongboom opened #5075 "Example for BLE on ODIN-W2"
Could someone ping someone in u-blox, and see if they can publish a BLE example for the ODIN-W2? They ship a binary driver with the board, but no example code. I assume their own SDK examples for BLE work, so maybe publish an mbed program with those loaded.

Preferably they'd adopt to the mbed BLE API, but that's a longer shot.

[2017-09-12 09:55] ccli8 opened #5076 "Fail to enter hal_deepsleep when LowPowerTimer is used"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/pull/4912
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_NUC472
NUMAKER_PFM_M453
NUMAKER_PFM_M487

**Toolchain:**
GCC_ARM

**Toolchain version:**
GNU Tools for ARM Embedded Processors 5.4.1 20160919

**mbed-cli version:**
1.2.0

**mbed-os sha:**
4b98566

[2017-09-12 10:00] pan- commented on #4927
@jrobeson Can you try with the latest master (or at least include #4991 and #5063) ? I've read the thread again and realized you were using a red bear lab MCU.

Basically, the idle os hook is broken for all NRF52 targets on mbed OS 5.5.X. What this function tries to achieve is to go to sleep whenever then is no work left in the RTOS. It was expected that the MCU would wake up from either an extern

[2017-09-12 10:58] pan- commented on #4893
@yogeshk19 Hi Yogesh,

Thanks for providing such a detailed response that help a lot.

I think there is big misunderstanding of how BLE works. There is three parameters which define a connection:

* Connection Interval: it is the time interval between each connection event. If the master has no actual data to transmit it will transmit an empty PDU. That let the opportunity to the slave to transmit

[2017-09-12 12:31] andresag01 opened #5079 "MD5, SHA1 and SHA256 hardware acceleration not working for STM32F439xI"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/issues/4928
- Priority: Major

This problem seems to be closely related to https://github.com/ARMmbed/mbed-os/issues/4928, which is a failure in AES hardware acceleration for STM32F439xI family of targets only. The cause of the failures seems to be that the hardware acceleration code for these targets cannot correctly

[2017-09-12 12:33] andresag01 commented on #5079
@RonEld @adustm @yanesca @sbutcher-arm

[2017-09-12 12:43] pan- commented on #5009
If advertising are stopped a central shall not be able to connect to the device. There might be an issue with the function disabling advertising.

Can you post some sample code ?

[2017-09-12 12:44] andresag01 commented on #5079
I have created PR https://github.com/ARMmbed/mbed-os/pull/5080 that disables HW acceleration for the relevant primitives. This is only a workaround though.

[2017-09-12 12:53] andresag01 commented on #5079
@adustm: My understanding is that the following targets all share the same hardware acceleration code:
* TARGET_STM32F4/
* TARGET_STM32F7/
* TARGET_STM32L4/
Do you think they all have similar issues? Unfortunately I do not have the hardware to test them all and report my findings...

[2017-09-12 13:16] LMESTM commented on #5059
@pilotak
I think I could reproduce the issue.
There is a recent fix on can reset that has not been merged yet #4932
until this fix is merged, the reset is not well managed.
Can you try one of 2 possibilities:
- either cherry-pick fix from #4932
- or remove the call to can1.reset() from your example as this is not needed.
Let me know if any of the 2 above proposals work ok.
If this is ok, we just h

[2017-09-12 13:24] LMESTM commented on #5004
@0xc0170 @maciejbocianski  #5012 is the fix for the issue. and has been merged, so I propose to close this issue@0xc0170 @maciejbocianski  #5012 is the fix for the issue. and has been merged, so I propose to close this issue

[2017-09-12 14:05] shayo commented on #5009
I believe I did something like:

  BLE::Instance(BLE::DEFAULT_INSTANCE).gap().stopAdvertising();

[2017-09-12 14:10] SenRamakri opened #5082 "Fix warnings in K64F drivers"
### Description
- Type: Enhancement
- Priority: Minor

---------------------------------------------------------------
Currently we are seeing lot of build warnings from enumeration definitions in K64F drivers/headers.

**Target**
K64F|??

**Steps to reproduce**
Just do a clean build and you will see lot of warnings from fsl_xxxx.c/h files.

Since this is from K64F SDK, it would be better for NXP

[2017-09-12 14:16] deepikabhavnani commented on #5068
Initialization and some other issues with SD cards were resolved in https://github.com/ARMmbed/sd-driver/pull/61. Please try the SD-driver master (#1cb007fb3809a5e2d56d179e81332615c0a9b9fd)

[2017-09-12 14:23] deepikabhavnani commented on #4988
Closing as issue was resolved with https://github.com/ARMmbed/sd-driver/pull/61.
Feel free to open if issue still exists.

[2017-09-12 14:23] #4988 closed

[2017-09-12 14:26] pan- commented on #5072
@nvlsianpu Andrzej, could you have a look at this issue, I've observed the same on NRF52.

[2017-09-12 14:42] pilotak commented on #5059
@LMESTM
by removing reset()  it works. Thanks a lot

I guess we will have to wait until merge to properly work.

[2017-09-12 14:42] #5059 closed

[2017-09-12 14:59] SeppoTakalo commented on #5054
Error reported here does not make sense.
Yes, those mentioned symbols are all related to Nanostack. And that is the problem.

[The default](https://github.com/ARMmbed/mbed-cloud-client-example-internal/blob/REALTEK_RTL8195AM_support/mbed_app.json) `mbed_app.json` does not specify `FEATURE_NANOSTACK` and therefore this cannot happen in cleanly cloned environment.

This can only happen in you specif

[2017-09-12 15:20] LMESTM commented on #5059
Thanks for your quick feedback - glad it works.
When #4932 is merged, you can re-introduce the use of reset in your code (if/when reset is needed ... ;-) )

[2017-09-12 15:22] costanic commented on #5068
confirmed, init works with the following combination:

**mbed-os:**
commit 4c256f04596179699c4f14b6863b07cc024ca9be (HEAD, tag: mbed_lib_rev148, tag: mbed-os-5.5.4)
Merge: ed9d1da9d c511e96e0
Author: Jimmy Brisson <theotherjimmy@gmail.com>
Date:   Wed Aug 2 15:45:49 2017 -0500

    Merge pull request #4824 from ARMmbed/release-candidate

    Release candidate for mbed-os-5.5.4

**sd-driver:**
comm

[2017-09-12 15:22] #5068 closed

[2017-09-12 15:34] geky commented on #4899
Closing as we think https://github.com/ARMmbed/sd-driver/pull/55 resolved the issue. Feel free to reopen if we're wrong.

[2017-09-12 15:34] #4899 closed

[2017-09-12 16:34] adustm commented on #5079
Hello @andresag01
Thanks for reporting the issue, I'll have to understand the reason for these failure (especially the SHA256 that is not failing with TESTS/mbedtls/multi/main.cpp)

I filnalize the AES then I come back on this one.

I'll check at the same time the behavior of other families.

kind regards

[2017-09-12 16:34] #5004 closed

[2017-09-12 16:35] maciejbocianski commented on #5004
issue fixed in https://github.com/ARMmbed/mbed-os/pull/5012

[2017-09-12 17:20] adustm commented on #5079
By the way, Mihail has all the platforms you are missing :)

[2017-09-12 20:38] andresag01 commented on #5079
@adustm:

Many thanks for taking a look. Please let me know if there is anything else I can do to help.

Thats a very good point, I had not considered that... My guess is that the test I am currently using is slightly more stressful and uses at least double the amount of contexts. Also, there is a lot of interleaving. Of course, there is also a chance that I made a mistake in the test, but I haven

[2017-09-12 22:07] yogeshk19 commented on #4893
@pan- Hi Vincent,
Thanks a lot for taking the time to explain the BLE connection params and how best to use it.  You are right the default iOS device connection interval both min and max is set to 30 ms and slave latency is set to 0 and the supervision Connection timeout is set to 7.2 seconds. I have updated the BLE connection params based on what Apple formula mentioned on the link you gave and I

[2017-09-13 05:51] nvlsianpu commented on #5072
@pan- Yes, I will investigate this soon.

[2017-09-13 07:09] anttiylitokola commented on #4374
This fix is now part of mbed-os 5.5.6 release.

[2017-09-13 07:37] LMESTM commented on #4972
#4980 was merged - so this issue can be closed

[2017-09-13 07:37] #4972 closed

[2017-09-13 07:38] LMESTM commented on #4966
@LiyouZhou @0xc0170
#4980  has been merged and #4972 is now closed - I think this issue can be closed as well

[2017-09-13 08:29] darbyShaw commented on #5035
I guess I also want to be able to attach my IRQ handler for receive on UartSerial which is not possible. I am thinking of using the Serial interface since UartSerial doesn't really help for higher baud rates for packets(even of size 128). I keep missing some bytes or read some invalid data.
I will try out https://developer.mbed.org/cookbook/Serial-Interrupts

[2017-09-13 08:43] pan- commented on #4893
@yogeshk19 Hi Yogesh

Just a quick explanation about connection interval min and max. Those two parameters are used to initiate the connection. Basically it inform the Bluetooth stack or controller which will initiate the connection that the connection interval used shall be in a range [connection interval min : connection interval  max]. With that information, the stack or controller, choose the

[2017-09-13 09:18] JammuKekkonen commented on #5054
@SeppoTakalo that's right, the nanostack feature was added on the build. What confused me here was the fact that gcc_arm build compiled cleanly. It turns out that gcc_arm and arm target linkers work differently; gcc_arm will not fail on missing refs on stuff that gets optimized out anyways due to not being used.
Closing non-issue.

[2017-09-13 09:18] #5054 closed

[2017-09-13 09:19] kjbracey-arm commented on #5035
UARTSerial will call your sigio (from interrupt context) whenever data has become available. It will be draining data from the serial port under interrupt. There's no reason your interrupt handler would do a better job.

Your responsibility is to make sure your reading thread drains the buffers fast enough in response to that sigio. If you don't, then data would be lost. Depending on the behaviour

[2017-09-13 09:24] SeppoTakalo commented on #5054
Yes, true.
IAR and GCC are able to link files with unresolved dependencies, if those references are not used. Basically they link in a mode where they append only referenced symbols into the image and stop once all references are in.
ARM seems to work in reverse way where it resolves all dependencies before trying to link anything.

[2017-09-13 09:25] RobMeades commented on #5035
@kjbracey-arm: yes, happy with that HW flow control change, making a PR would be good.

[2017-09-13 10:28] darbyShaw commented on #5035
@kjbracey-arm
Okay my reading thread just calls read on the handle when I my callback is called i.e. I don't read it directly from there because of read using a lock and I can't use it from interrupt, I signal it to another part of my program that waits for this signal and call a read on it. How can I make this faster?

Another thing is I was trying to use just Serial class instead of UARTSerial a

[2017-09-13 10:47] kjbracey-arm commented on #5035
Waking a thread to do the read as soon as you get sigio should be plenty fast enough, at least at baud rates like 115,200. Are you making sure you read everything available every time you wake - read until you get `EGAIN`?

The lwip PPP implementation I linked to above manages fine sending and receiving 1500-byte IP packets via a 256-byte serial buffer at 115,200  baud - sigio calls `stream_cb` wh

[2017-09-13 12:42] nvlsianpu commented on #5072
@pan-, @SenRamakri: Checked - It is Nordic cmsis-dap IF issue. I tested this using external FTDI converter and with j-link IF firmware  as well - loopbacks works well.

Apparently nordic cmsis-dap IF (nRF5x-OB-mbed-IF version 0221, available at http://www.nordicsemi.com/eng/nordic/Products/nRF51-DK/nRF5x-OB-mbed-IF/38673)doesn't serve serial communication without hardware flow control.
I guess tha

[2017-09-13 13:32] darbyShaw commented on #5035
I do read everything, that I am sure. I will look into lwip implementation.
I can't use a blocking read since it really slows up things and even when I was doing it I was missing some bytes with overwrites I guess. Is there way to use our own buffers instead of the circular buffers used?
I tried using the read from SerialBase which is an async_read using interrupts. I receive the first 128 bytes b

[2017-09-13 13:45] kjbracey-arm commented on #5035
Blocking reads may not be appropriate for your application - it would mean a dedicated read thread that didn't have other stuff to do.  But a blocking UARTSerial::read would only block that thread - it will sleep properly and it won't slow down other threads.

That's unlike Serial, which is a totally non-buffered, spinning implementation - any read from Serial when the device isn't readable will k

[2017-09-13 13:48] kjbracey-arm commented on #5035
Do look at the lwip_ppp.c implementation - that's a more-than-textbook working example of non-blocking event-driven operation. From the other side, AtCmdParser shows it in blocking-with-timeout operation.

[2017-09-13 14:34] SenRamakri commented on #5072
Hello @nvlsianpu,
Thanks for looking into this, once we fix the DAP IF issue feel free to remove the workaround I'm pushing now. Or if its going to be done sooner we may not even have to get the workaround in.

[2017-09-13 19:55] jrobeson commented on #5070
@MarceloSalazar : can you try the current master branch of mbed-os?

[2017-09-13 20:01] theotherjimmy opened #5092 "Uvision, make_armc5, make_gcc_arm exporters python traceback on master"
# Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
# Bug

## Target
Affects all targets

## Toolchain
It looks like it affects uvision, and all make exporters.

## mbed-os sha
7B428916

## Expected behavior

Export succeeds

## Actual behavior
[code]

**Steps to reproduce**

[2017-09-13 20:37] bentcooke commented on #5092
The make_iar and iar exporters are working.  This only affects uvision, make_armc5 and make_gcc_arm.

[2017-09-13 22:40] theotherjimmy commented on #5092
Thanks for the verification Ben! I did not test make_iar.

[2017-09-13 23:50] ciarmcom commented on #5092
ARM Internal Ref: IOTMORF-1249

[2017-09-14 02:46] jrobeson commented on #4927
@pan- : so far so good!

[2017-09-14 08:40] MarceloSalazar commented on #5070
I've tried [Blinky](https://github.com/ARMmbed/mbed-os-example-blinky/tree/mbed-os-5.6-oob) with [mbed-os-5.6.0-rc1](https://github.com/ARMmbed/mbed-os/commit/a4056fb8bf3ee10b8e037d332f8fbd0c68169ef1) and can see this working on NINA when using release/develop profiles.

@NeilMacMullen could you give it a try on your custom platform and confirm?

[2017-09-14 09:15] RonEld commented on #5048
I reproduced this issue on a different board. It hapopens when building with a .ar file as input.
It's when parsing the map file in the [following](https://github.com/ARMmbed/mbed-os/blob/master/tools/memap.py#L272) script:
[code]
The script `memmap.py` searches for .o files and libraries in the form of .l files.
Since the input is .ar file, this message is printed. Note this is only on ARMCC ( I

[2017-09-14 12:38] darbyShaw commented on #5035
Okay. I am trying to use the FileHandle approach used in lwip_ppp.c I can now receive 128 bytes but after receiving them, I don't get the next 128. Basically I am trying to implement a simple YModem protocol with ACKs and stuff. When I did it with read_async, I ran into an Overrun error which I realised after I put a print with semihost in the UART_Error_Callback.
Is there a way to know about Over

[2017-09-14 12:45] kjbracey-arm commented on #5035
Error indications aren't in the base target serial HAL API, so aren't available in UARTSerial.

Why is the number 128 significant? Is it the buffer size? Or is it the amount you're reading?

Maybe you're reading 128 bytes, and waiting for the next sigio? But you never get another sigio because you didn't actually empty the buffers? sigio only happens when the FileHandle becomes readable. But that

[2017-09-14 13:24] darbyShaw commented on #5035
128+header+trailer(3+2) is the packet size for YModem protocol.
I already have a working app with the stm32_hal used raw with HAL_UART_Receive_IT. It works even with printfs to another serial and without retransmissions and no flow control. Anyway, I disabled prints and have only one print in the UART_Error_Callback. I tried with baud rates: 9600, 115200 and 921600.
My HSICalibration value is the

[2017-09-14 13:46] fkjagodzinski commented on #5051
The issue seems to be resolved for **NUCLEO_F070RB** board by #5012.

For the **EFM32GG_STK3700** however -- the bug is still present.

[2017-09-14 13:49] HITMAnsOFT opened #5101 "mbed-os GAP Central and GATT Client support"
### Description
- Type: Question
- Priority: Major
-----------------------------------------------------------------

## Question

Is there a BLE GAP Central and GATT Client support in mbed OS? If yes, is there an example? I need to make a pure central/client device using either nRF51_DK or nRF52_DK target, not interested in switching roles.

[2017-09-14 13:49] kjbracey-arm commented on #5035
* sigio() registers the handler, and only needs to be called once
* If a "packet" does arrive in multiple reads (very likely), you're not adding together the lengths or moving the data pointer for each bit
* If you see EAGAIN partway through a packet (because you're reading it faster than it's coming in), you won't pick up the rest later.
* Is that a 1 second sleep? So you maybe don't empty the bu

[2017-09-14 14:00] theotherjimmy commented on #5048
Thanks for the detailed explanation @RonEld. Do you have a recommendation for correcting this? could we just add `.ar` to the list of matched extensions?

[2017-09-14 14:01] Fran6Jack opened #5102 "I2C STM32 Open Drain Pullup Issue"
### Description
- Type: Bug
- Related issue: I2C 5V tolerant I/O could be damaged
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32 (Multitech mDot)

**Toolchain:**
mBed

**Expected behavior**
I2C bus are usually 5V tolerant on all STM32 processor.  If an external device on the I2C bus requires 5V operation, we usually acheive it by using 5

[2017-09-14 14:08] RonEld commented on #5048
Hi @theotherjimmy yes.
I did a quick and dirty fix:
[code]
But I believe we can have a better solution, with the regular expression seraching for ` r'(.+\.l)\((.+\.o)\)' ` or ` r'(.+\.ar)\((.+\.o)\)'` in a single line

[2017-09-14 14:13] LMESTM commented on #5102
@Fran6Jack thank you for reporting the issue and for detailed explanation. I will come back to you in very short term and correct code as needed.

[2017-09-14 14:14] andreaslarssonublox commented on #4247
Hi, I have tried to reproduce the issues and here are my findings.

I compiled the blinky example and tried to drag and drop it to the drive ~15 times. It worked all times. I'm using Windows 10.
Therefore it would be valuable to get some more info.

@LiyouZhou
1. Do you know how often this happens?
2. What OS are you using and what version of that OS?
3. What ST-Link version is used on the board?.

[2017-09-14 14:40] theotherjimmy commented on #5048
Yeah, I'll code that up. Just a sec

[2017-09-14 14:43] theotherjimmy commented on #5048
Does this patch work for you?
[code]

[2017-09-14 14:43] theotherjimmy commented on #5048
It works for me 😄

[2017-09-14 14:45] theotherjimmy commented on #5048
It also moves the library from `[misc]` to it's name!

[2017-09-14 14:47] RonEld commented on #5048
Yes, this patch works for me as well

[2017-09-14 14:47] theotherjimmy commented on #5048
Awesome. I'll make the PR momentarily.

[2017-09-14 15:22] LMESTM commented on #5102
@Fran6Jack I confirm that your analysis is right. I will change the default settings to no pull. Before delivering the Pull Request I will check the possible impacts on the existing test suite. When testing is complete, I will add the referent to the corresponding Pull Request here. Do you need a patch in the meantime ?

[2017-09-14 16:24] #5092 closed

[2017-09-14 18:32] MarceloSalazar commented on #4507
Verified it works with 5.6.0-rc1

[2017-09-14 18:32] #4507 closed

[2017-09-14 19:28] deepikabhavnani opened #5109 "Code builds for non-supported toolchains"
### Description
- Type: Bug
- Priority: Minor

**Expected behavior**
Device code should get compiled for only specify supported toolchains in target.json file.

**Actual behavior**
Device code compiles for all toolchains.

[2017-09-14 19:34] theotherjimmy commented on #5109
Thanks for the bug report!

For example (from targets.json):
[code]
You would expect that I would not be able to compile for this device with Arm Compiler 5. However, if you try:
[code]

Instead of being told that it's not supported, you are faced with a cryptic link error.

[2017-09-14 19:50] ciarmcom commented on #5109
ARM Internal Ref: IOTMORF-1251

[2017-09-14 20:09] HITMAnsOFT commented on #5101
This is the best example I found so far, but it seems to be for mbed 2: https://developer.mbed.org/users/kenjiArai/code/BLE_Uart_Client/ . I'm using it as a reference to implement my own code on mbed OS 5.5.6.

[2017-09-14 20:20] Fran6Jack commented on #5102
@LMESTM A patch would be nice.  I just don't know how do we manage the deployment of it. I'm a little bit newbie on mBed developper environment.  Right now, I'm sending a HAL pin_mode(I2C_SDA, OpenDrainNoPull); before each i2c.write transaction which is not really clean.

[2017-09-14 21:22] theotherjimmy opened #5110 "ARMC6 does not handle dependencies correctly"
# Steps to reproduce
From any program with a `main.cpp` do:
 1. `mbed compile -t armc6 -m k64f`
 2. `touch main.cpp`
 3. `mbed compile -t armc6 -m k64f`

Behavior of the last command is important. Examples will use the `fat-fs` example (`mbed-os-example-fat-fs`)

## Expected behavior
[code]

## Actual Behavior
[code]
Note that main.cpp is not compiled.

[2017-09-14 21:23] theotherjimmy commented on #5110
@c1728p9 Thanks for pointing this out.

[2017-09-14 23:50] ciarmcom commented on #5110
ARM Internal Ref: IOTMORF-1252

[2017-09-15 00:23] kegilbert commented on #5040
Poked around a bit, looks like it's hanging in [this function](https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip/src/api/lwip_tcpip.c#L329) after calling into netconn_apimsg from
[netconn_connect](https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip/src/api/lwip_api_lib.c#L294).

printf statements prior to that call cause t

[2017-09-15 05:46] toyowata opened #5112 "[OOB 5.6] ARMC6 build does not startup on NRF52_DK target"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

On NRF52_DK target, mbed-os-exampl-blinky does not work by ARMC6 toolchain build.

**Target**
NRF52_DK

**Toolchain:**
ARMC6

**Toolchain version:**
Product: MDK Professional 5.24
Component: ARM Compiler 6.7
Tool: armclang [5c9efc00]

**mbed-cli version:**
1.2.0

**mbed-os sha:**

[2017-09-15 07:19] nvlsianpu commented on #4826
@pan- Can you respond to my question (see above)?

[2017-09-15 07:25] LMESTM commented on #5102
@Fran6Jack  If you're not familiar with applying patches, it might be simpler to wait for the next official release. Your solution, even though not efficient, is fine for now I think.
In case you feel like trying out a change in mbed-os source  (mbed-dev library in online compiler), you can check the change I will propose here: https://github.com/LMESTM/mbed/commit/076b096efe3a7ef363719e1c1f1cdcd6

[2017-09-15 08:04] MarceloSalazar commented on #5112
cc @adbridge

[2017-09-15 08:37] LMESTM commented on #5102
@0xc0170   What do you think about below proposal ?

Could this be a change request to I2C driver ? That would allow test mode like master / slave tests between 2 boards without external pull-up resistors.

[2017-09-15 09:48] pan- commented on #4826
@nvlsianpu It is not desirable to use the C++ Timer API in the C HAL. The HAL should not depends on APIs exposed on higher level. However I believe it is OK to use the timer API from the hal.

[2017-09-15 10:24] adbridge commented on #5112
@pan- Please take ownership of this one

[2017-09-15 10:28] pan- commented on #4927
@jrobeson If the problem is solved you can close the issue now.

[2017-09-15 10:28] adbridge commented on #5112
Looks like this may be related https://github.com/ARMmbed/mbed-os/pull/5091

[2017-09-15 10:57] pan- commented on #5070
#5086 will also help new targets to avoid this issue in the future.

[2017-09-15 11:48] teetak01 commented on #4247
@andreaslarssonublox @bcostm have you tried flashing from Linux? For me, if I try to flash the same board (Any ST-board) twice, it will fail with out-of-disk-space error. This is completely broken in linux-environment. Windows is somewhat stable.

[2017-09-15 12:18] amq opened #5114 "How to split into library and application?"
## Question

**How to?**

I'd like to update the application code over OTA without having to transfer the complete binary with mbed-os, mbed-tls, mbed-client etc. Even a complex application has around 40 KB, while the whole package would be 300 KB. This is critical in environments like NB-IoT where the average monthly limit is expected to be 512 KB.

Related: dynamic linking

[2017-09-15 12:25] #4927 closed

[2017-09-15 12:27] pan- commented on #5101
@HITMAnsOFT You can use our LED example: [here](https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-ble-LED/)

[2017-09-15 13:14] HITMAnsOFT commented on #5101
@pan- I took a quick look and found only GAP peripheral / GATT server code. Did I miss something?

[2017-09-15 13:26] seppestas opened #5115 "EFM32: Scaling of analogin_read incorrect"
### Description
- Type: Bug
- Priority: Minor
---------------------------------------------------------------
## Bug

**Target**
EFM32

**Expected behavior**
`AnalogIn::read` should return a value from 0.0 to 1.0

**Actual behavior**
`AnalogIn::read` returns a value from 0.0 to `0xFFF0/0XFFFF` = 0,99977111467155.

**Cause**
[`analogin_read_u16` returns a value in the range `0x0000 - 0xFFF0` since

[2017-09-15 13:53] pan- commented on #5101
You are correct, I wanted to link the [LEDBlinker](https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-ble-LEDBlinker/) example.

[2017-09-15 14:49] hasnainvirk opened #5117 "Too many warnings while building for IAR 7.80 (Debug build)"
How to reproduce:

Target Platform: MTS_DRAGONFLY_F411RE
Compiler: IAR 7.80
Build type: Debug

There are hundreds of warnings being thrown because of level of optimisation used
for IAR debug build. For example:

 [ 70.9%]: rtx_semaphore.c
[Warning] rtx_semaphore.c@435,4: [Go005]: Cannot inline function "__svcSemaphoreNew" at this level of optimization

[2017-09-15 14:49] hasnainvirk commented on #5117
@MarceloSalazar Opened the ticket here

[2017-09-15 15:03] theotherjimmy commented on #5114
So, This is not generally possible. A problem that you will encounter is that as far as the linker is concerned, it may reorder any and all function locations **EVERY TIME YOU COMPILE**. This is not a problem for "regular" applications, but it effectively thwarts your efforts. What you are asking for is not actually to build mbed OS, mbed TLS and others as a library is not what you want. You want

[2017-09-15 15:25] j3270 opened #5118 "New mbed-os directory structure doesn't work with mbed-cli"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-cli/issues/545
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
ALL, most likely

**Toolchain:**
GCC_ARM|ARM|IAR
same

**Toolchain version:**

**mbed-cli version:**
mbed-cli version 1.2.0

[2017-09-15 15:27] theotherjimmy commented on #5118
Please see the discussion in ARMmbed/mbed-cli#545 for full details of this issue.

[2017-09-15 15:28] scartmell-arm opened #5119 "K64F - AnalogOut, PWM failures (CI test shield)"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
6

**mbed-cli version:**
1.2.0

**mbed-os sha:**
Current master `https://github.com/ARMmbed/mbed-os/#0906be6397c984026df180b07a3bbd965af52346
`

**Expected behavior**

All tests should pass.

**Actual behavior**
[code

[2017-09-15 15:43] HITMAnsOFT commented on #5101
Great, thanks!

[2017-09-15 15:43] #5101 closed

[2017-09-15 15:45] scartmell-arm opened #5120 "K22F - SPI, AnalogOut, I2C failures (CI test shield)"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K22F

**Toolchain:**
GCC_ARM

**Toolchain version:**
6

**mbed-cli version:**
1.2.0

**mbed-os sha:**
Current master `https://github.com/ARMmbed/mbed-os/#0906be6397c984026df180b07a3bbd965af52346
`

**Expected behavior**

All tests should pass.

**Actual behavior**
[code

[2017-09-15 15:51] SenRamakri commented on #5082
Add @maclobdell and @mmahadevan108

[2017-09-15 16:32] studavekar opened #5121 "features-feature_lwip-tests-mbedmicro-net-tcp_hello_world test is failing"
### Description

As the domain name is changed from developer.mbed.org to os.mbed.com causing network test to fail

[code]
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
ALL

**Toolchain:**
GCC_ARM|ARM|IAR

[2017-09-15 16:38] yennster commented on #5048
When compiling for Odin, I receive a huge list of errors all similar to the following output:

[code]

After running `mbed compile --clean -t ARM -m UBLOX_EVK_ODIN_W2 -f` for the `mbed-os-example-wifi` on the mbed-os-5.6-oob branch

[2017-09-15 16:38] geky commented on #5121
The domain was move with an HTTP redirect, here's the response with telnet:
[code]

Since the test isn't a test of http capability, there's no issues just moving over 👍

[2017-09-15 16:40] theotherjimmy commented on #5121
Sounds great! @geky Are you planning on making a PR to do that? Should we pick it up?

[2017-09-15 16:43] geky commented on #5121
@theotherjimmy, @studavekar was already doing it 😄

[2017-09-15 16:44] theotherjimmy commented on #5048
And does the aforementioned PR fix them for you?

[2017-09-15 16:44] theotherjimmy commented on #5121
So it seems!

[2017-09-15 17:01] yennster commented on #5048
@theotherjimmy yes it does!

[2017-09-15 19:27] theotherjimmy commented on #4976
It looks like it's scanning related, and that TESTS perform much worse because of this line section: https://github.com/ARMmbed/mbed-os/blob/master/tools/memap.py#L537-L554

[2017-09-15 20:44] theotherjimmy opened #5124 "Memap incorrectly detects tests, and misreports sizes"
# BUG
It looks like memap is picking up other build directories by miss-identifying the test's root directory

## Steps to reproduce

1) Build a test (`mbed test --compile -t arm -m nrf51_dk` in the following example)
2) Manually run memap for maximum reproduceability (invocation part of the logs below)

### Expected behavior
[code]

### Actual behavior
[code]

[2017-09-15 20:46] theotherjimmy commented on #5124
cc @MarceloSalazar

[2017-09-15 22:50] #5110 closed

[2017-09-16 09:10] neil-tan opened #5126 "[OOB 5.6] Blinky failed to build on REALTEK_RTL8195AM (ARMC5, GCC, IAR, online compiler)"
### Description
- Type: Bug
- Related issue: 4978
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**Toolchain:**
ARM
GCC_ARM
IAR
Online Compiler

**Toolchain version:**
ARM:  ARM Compiler 5.06 update 5 (build 528)
GCC:  (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release)
IAR: IAR ANSI C/C++ Comp

[2017-09-16 13:52] toyowata opened #5127 "test command scans and builds unnecessary components"
Moved from [here](https://github.com/ARMmbed/mbed-cli/issues/546).

### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug
Mbed CLI scans and builds unnecessary components which are located to one upper level of current directory.  This causes longer build time.

**Target**
All

**Toolchain:**
All

**mbed-cli version:**
1.2.0

**Expect

[2017-09-16 21:04] jrobeson commented on #3659
is this still valid anymore?

[2017-09-18 08:02] andrewc-arm opened #5128 "NUCLEO_L476RG led1.read() shows wrong value"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

**Toolchain:**
GCC_ARM

---------------------------------------------------------------

Hi,

NUCLEO_L476RG led1.read() shows wrong value.
This is the blinky code with logs.
[code]

This is the output.

[code]

The expected output is following.
[code]

I

[2017-09-18 09:29] andrewc-arm opened #5129 "UBLOX_EVK_ODIN_W2 failing to blink D2 and D8"
### Description
- Type: Bug
- Related issue: `#5128`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM
Please note that hackathon developers can only use GCC_ARM.

**Toolchain version:**
5.4.1 20160919

**mbed-cli version:**
(`mbed --version`)
1.2.0

**mbed-os sha:**
(`git log -n1 --oneline`)
mbed-os-5.

[2017-09-18 09:39] jeromecoutant commented on #5128
Hi
I am sorry, but I can't reproduce your issue...
Jerome

[2017-09-18 09:43] janjongboom commented on #5129
D2/D8 are used for UART1 (like many ST boards). Is this UART used?

Maybe shared with USBTX/USBRX or used for another peripheral?

[2017-09-18 12:21] SeppoTakalo opened #5131 "make_gcc_arm exporter broken"
### Description
- Type: Bug
- Priority: Blocker

When trying to export `mbed-os-example-mesh-minimal` the exporter fails

[code]

Exporting the blinky seems to work.

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**mbed-cli version:**
`1.1.1`

**mbed-os sha:**
5.6-rc1

[2017-09-18 13:04] JanneKiiskila commented on #4247
@0xc0170  - yes, this is an common STLINK Issue, perhaps the ST-label could be added. Please be aware of this case @adustm.

The Linux flashing support is very important to us due to CI machines mostly being Linux.

[2017-09-18 13:35] theotherjimmy commented on #5131
@SeppoTakalo I'm closing this as it's a duplicate of issue #5092, which was resolved by PR #5093 .

[2017-09-18 13:35] #5131 closed

[2017-09-18 13:35] theotherjimmy commented on #5131
This regression has already been fixed on master. Please update your copy of mbed-os.

[2017-09-18 13:47] theotherjimmy commented on #5124
Alright, this is actually what was causing #4976. Here's my theory:
 1) Memap attempted to find the mbed-os directory, and scan it's containing directory.
 2) Scanning the containing folder makes the performance depend on the size of all the directory entries in the folder containing mbed-os. This can be a huge performance regression for people who have many git repos in the same directory as mbed

[2017-09-18 13:53] theotherjimmy commented on #5124
I tested my theory with the following setup:
 1) `mkdir test && cd test`
 2) `git clone 'git@github.com:armmbed/mbed-os'`
 3) `cd mbed-os && mbed test --compile -m nrf51_dk -t gcc_arm`
 4) `time mbed test --compile -m nrf51_dk -t gcc_arm`

Then compared this with the time from my other copy of mbed-os that lives next to about 20 other git repos

Clean containing dir incremental time: 4.67s
Dirty (

[2017-09-18 13:54] theotherjimmy commented on #5124
#4976 is caused by this issue.

[2017-09-18 14:12] #5048 closed

[2017-09-18 15:01] ghost opened #5133 "NRF51_DK - AnalogIn, PWM, Concurrent GPIO failures (CI test shield)"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NRF51_DK

**Toolchain:**
GCC_ARM

**Toolchain version:**
6

**mbed-cli version:**
1.2.0

**mbed-os sha:**
Current master `https://github.com/ARMmbed/mbed-os/#0906be6397c984026df180b07a3bbd965af52346`

**Expected behavior**
All tests should pass.

**Actual behavior**
[co

[2017-09-18 15:34] sarahmarshy commented on #5129
[D2](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_UBLOX_EVK_ODIN_W2/PinNames.h#L138) and [D8](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_UBLOX_EVK_ODIN_W2/PinNames.h#L144) are used for USBTX/USBRX on this board, so they've already been initialized for that use.

[2017-09-18 16:44] adbridge commented on #5126
So for IAR I get -
[code]

[2017-09-18 16:53] NeilMacMullen commented on #4686
Thanks @sg- I've just created a variation of Serial that stubs out lock and unlock and this appears to work.. It's a little unclear what the mutex is meant to be protecting. I assume it's the low-level hardware access?  Looking at the RF52 serial_api, the  various access functions I care about (serial_readable/writeable/getc/putc) look like they should be interrupt-safe (the main concern I would h

[2017-09-18 16:54] adbridge commented on #5126
For the online IDE the actual error appears to be -
Error: "/extras/mbed-os.lib/targets/TARGET_Realtek/TARGET_AMEBA/TARGET_RTL8195A/device/TOOLCHAIN_ARM_STD/rtl8195a.sct", line 16 (column 22): Error: L6236E: No section matches selector - no section to be FIRST/LAST.
Plus a huge number of warnings!

[2017-09-18 16:55] adbridge commented on #5126
@Archcady Is https://github.com/ARMmbed/mbed-os/pull/5044 likely to fix any of the above or is this a different issue ?

[2017-09-18 19:47] deepikabhavnani opened #5134 "Binary built with export not working - Nordic nRF52-DK"
Mbed-os-example-ble-BatteryLevel application for the Nordic nRF52-DK board if built with the web based mbed toolchain, works properly when downloaded the resulting .hex file to the board (JLINK device), but fails when exported and built with EWARM. It appears that it gets linked to the wrong address and doesn't start.

- Type: Bug
- Priority: Major

## Bug

**Target**
Nordic nRF52-DK

**Toolchain:

[2017-09-18 19:50] deepikabhavnani commented on #5134
@TTornblom - I have added issue, export to IAR should work. Please add "mbed-os version" and "Steps to reproduce" detail.

[2017-09-18 23:15] MarceloSalazar commented on #5117
Thanks, could you please clarify how to reproduce this? (version of mbed OS and example app / test?)

[2017-09-18 23:40] studavekar commented on #5121
closing it as changes are merged.

[2017-09-18 23:40] #5121 closed

[2017-09-19 02:18] andrewc-arm commented on #5129
Hi,

Thanks for the feedback. I am a bit confused because I tried this code from K64F and got every GPIO working for D0 ~ D15.
[code]

So, I checked u-blox Mbed page and found following.
https://os.mbed.com/platforms/ublox-EVK-ODIN-W2/
[code]
However, I could not observe D2 or D8 mentioned in the page. Could you double check if it is (D2,D8) or (A1,A2) for USB serial?

Do you still think the devel

[2017-09-19 02:34] andrewc-arm commented on #5129
Hi,

Just one more question. I changed the J13 to connect 1-3 and 2-4 as shown in the schematic but I don't still enable DigitalOut of D2 and D8.
![image](https://user-images.githubusercontent.com/21053224/30573345-3e7b5730-9d2e-11e7-8d2d-06641639289d.png)

Maybe there is some hard coded UART1 (D2, D8) initialized from the driver?
Could you please dig into it and help the developers to utilize D2

[2017-09-19 02:50] Archcady commented on #5126
HI @adbridge , that's a different issue when compile with debug.json at mbed-os/tools/profiles

[2017-09-19 03:06] andrewc-arm opened #5135 "EVK-ODIN-W2: 'AnalogOut' does not name a type"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Question
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
EVK-ODIN-W2

**Toolchain:**
GCC_ARM

----------------------------------------------------------------

Hi, I used following code to compile K64F using AnalogOut.
[code]

Do you know

[2017-09-19 05:26] andrewc-arm commented on #5135
I see that the board does not support AnalogOut as @toyowata mentioned in a separate email.
[code]

[2017-09-19 05:26] #5135 closed

[2017-09-19 05:57] studavekar opened #5136 "LowPowerTimeout 500us test not within specification for NUCLEO_F746ZG"
### Description

LowPowerTimeout 500us test not within specification for NUCLEO_F746ZG

https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbed_drivers/lp_timeout/main.cpp

[code]
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbed_drivers/ticker/main.cpp
[code]
[LowPowerTimeout_NUCLEO_F746ZG.txt](https://github.com/ARMmbed/mbed-os/files/1313167/LowPowerTimeout_NUCLEO_F746ZG.txt)

- Type:

[2017-09-19 05:59] teetak01 commented on #4247
@andreaslarssonublox we are using this version: V2.J28.M18RC2

[2017-09-19 07:24] jeromecoutant commented on #5135
Hi

Just to comment Toyowata mail:

UBLOX_EVK_ODIN_W2 MCU is STM32F439ZI.
All STM32 doesn't support ANALOGOUT, that's why "FAMILY_STM32" doesn't include it.
STM32F439ZI is supporting AnalogOut, so it could be added in the "device_has_add" line from targets.json file. The only issue is the available pins in the board.

Jerome

[2017-09-19 07:46] TTornblom commented on #5134
mbed-os 5.5.7 RC

Steps to reproduce, using web based mbed:

1) Add Nordic nRF52-DK board to Registered Platforms

2) Create new program for that platform using "[mbed OS 5] BLE example for Battery Level Service"

3) Set windows environment variable MBED_IAR_PATH to point to EW 7.80 root (C:\Program Files (x86)\IAR Systems\Embedded Workbench 7.5). This example does not work with EW8 due to referen

[2017-09-19 07:50] jeromecoutant commented on #5129
Maybe check PeripheralNames.h TARGET_UBLOX_EVK_ODIN_W2 file:
#define STDIO_UART_TX  PA_9
#define STDIO_UART_RX  PA_10

and PinNames.h :
    D8      = PA_9,   // UART1-TX
    D2      = PA_10,  // UART1-RX

This serial init is done in platform/mbed_retarget.cpp :

#if DEVICE_SERIAL
    serial_init(&stdio_uart, STDIO_UART_TX, STDIO_UART_RX);

Regards,

[2017-09-19 08:06] 0xc0170 commented on #5134
cc @pan- @nvlsianpu @anangl

[2017-09-19 08:59] SeppoTakalo opened #5139 "OdinWiFiInterface crashes"
### Description
- Type: Bug
- Priority: Major
-----------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM

**mbed-cli version:**
1.2.0

**mbed-os sha:**

| tag/branch | works |
|--------|-------|
| mbed-os-5.6.0-rc1 | no |
| mbed-os-5.5.7 | no |
| mbed-os-5.5.1 | yes |
| mbed-os-5.5.0 | no |
| mbed-os-5.4.7 | yes |
| mbed-os-5.4.5 | yes |
| master(#

[2017-09-19 09:00] SeppoTakalo commented on #5139
| tag/branch | works |
|--------|-------|
| master | no |
| mbed-os-5.6.0-rc1 | no |
| mbed-os-5.5.7 | no |
| mbed-os-5.5.1 | yes |
| mbed-os-5.5.0 | no |
| mbed-os-5.4.7 | yes |
| mbed-os-5.4.5 | yes |

This seems to have been known problem in Mbed OS 5.5 release time, but never reported
in the known issues list. Fix seems to have been merged in 5.5.1, but re-appears later.

* https://github.com/

[2017-09-19 09:01] 0xc0170 commented on #5139
cc @andreaslarssonublox @andreaspeterssonublox

[2017-09-19 10:40] andreaslarssonublox commented on #4247
@bcostm that sounds good. Here's the main.cpp:
[main_cpp.zip](https://github.com/ARMmbed/mbed-os/files/1313910/main_cpp.zip)

[2017-09-19 11:46] 0xc0170 commented on #5136
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-09-19 11:49] 0xc0170 commented on #5129
Can you please, @andreaslarssonublox @andreaspeterssonublox ?

[2017-09-19 11:51] 0xc0170 commented on #5127
cc @theotherjimmy

[2017-09-19 11:52] 0xc0170 commented on #5126
@Archcady Are you able to reproduce this issue?

[2017-09-19 12:08] 0xc0170 commented on #5117
@hasnainvirk Can you paste here or attached the warnings.

The one you shared seems to be generic not target related, however I dont recall seeing one. How to reproduce?

[2017-09-19 12:12] hasnainvirk commented on #5117
@0xc0170 I don't think its target specific. Its just the level of optimization set for debug builds. All the warnings look like the one already in description. It was with mbed-os-5.6 OOB branch.

[2017-09-19 13:28] 0xc0170 commented on #5135
@andreaslarssonublox @andreaspeterssonublox Is that correct, no analog out for odin target?

[2017-09-19 13:34] 0xc0170 commented on #5102
cc @bulislaw @c1728p9

[2017-09-19 13:39] theotherjimmy commented on #5127
Resolved by #5125

[2017-09-19 13:57] bridadan commented on #3659
I just tried it with the latest master (003dd7c47f18628b10cddb3a81b572fa20a01032) and yup, same error:

[code]

[2017-09-19 22:28] andreaslarssonublox commented on #5135
@0xc0170  Yes, that's correct. The ODIN-W2 module does not have any of the analog out capable pins available from the STM32F439ZI.

[2017-09-20 01:24] toyowata commented on #5112
Fixed in mbed-os-5.6-oob2.

[2017-09-20 01:24] #5112 closed

[2017-09-20 01:36] toyowata opened #5142 "[OOB 5.6 r2] make_armc6 exporter does not support NRF52_DK and K64F"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NRF52_DK and K64F ~~(and others?)~~

**Toolchain:**
ARMC6

**Toolchain version:**
Product: MDK Professional 5.24
Component: ARM Compiler 6.7
Tool: armclang [5c9efc00]

**mbed-cli version:**
1.2.0

**mbed-os sha:**
mbed-os-example-blinky (4230f67abdcb)
`- mbed-os (6e0874

[2017-09-20 04:24] Archcady commented on #5126
Give me sometime to test, but please notice that no LED on board will pulsate since we define LED1 in pinnames.h to be PB_4/D8. The three leds on board are reserved for other usage.

[2017-09-20 07:26] 0xc0170 commented on #5142
cc @theotherjimmy

[2017-09-20 08:30] 0xc0170 commented on #5117
More information for this issue

https://github.com/ARMmbed/mbed-os/blob/master/tools/profiles/debug.json#L50 - this is the IAR profile, important bit there is `-On`

I assume this is causing problems : https://github.com/ARMmbed/mbed-os/blob/eefb84c0dbd2fe0565fe2dd7888d83775f00cc12/rtos/TARGET_CORTEX/rtx5/core_cm.h#L165 (always inlined attribute).

This is just a warning, but we get it for all SV

[2017-09-20 08:39] soramame21 opened #5145 "[OOB 5.6 r2] make_armc5 exporter does not support NUCLEO_F767ZI, NUCLEO_F401RE and DISCO_L476VG"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F767ZI, NUCLEO_F401RE and DISCO_L476VG|??

**Toolchain:**
ARMC5

**Toolchain version:**
MDK_ARM Professional Ver. : 5.22
C Compiler: v5.06 update 4(build 422)

**mbed-cli version:**
1.2.0

**mbed-os sha:**
mbed-os-example-fat-filesystem (08607866ff3f09b75e429ac04

[2017-09-20 08:59] 0xc0170 commented on #5076
@ccli8 Thanks for the report, we are looking at this

[2017-09-20 09:15] 0xc0170 commented on #5145
cc @theotherjimmy

[2017-09-20 09:21] soramame21 opened #5146 "[OOB 5.6 r2] make_gcc_arm exporter fails to build NUCLEO_F767ZI and others?"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F767ZI |??

**Toolchain:**
GCC

**PATH setting**
Path=;;;
C:\Program Files (x86)\GNU Tools ARM Embedded\6 2017-q2-update\bin;
;;;

**Toolchain version:**
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embe

[2017-09-20 09:29] 0xc0170 commented on #5146
cc @bcostm @LMESTM @adustm @jeromecoutant

@theotherjimmy

[2017-09-20 09:55] darbyShaw commented on #5035
Okay. Thank you for those pointers. Here's what I tried: I removed sigio() altogether. I removed sleeps and I used the poll system call to get each packet this way:
int lengthRead=0;
int pollAgain;
pollfh fhs;
fhs.fh = (FileHandle*)&serialPort;
while(lengthRead < PACKET_SIZE+PACKET_HEADER_SIZE+PACKET_TRAILER_SIZE)
				 {
					    pollAgain=0;
					    fhs.events = POLLIN;
					    count = poll(&fh

[2017-09-20 10:42] jrobeson commented on #4587
@seppestas : but some of us just want something that works now :).  Is the branch easy to rebase on top of the current master?

[2017-09-20 11:36] seppestas commented on #4587
Yup, it should be pretty easy if you are familiar with handling minor merge conflicts.

[2017-09-20 11:47] seppestas commented on #4587
Note that because the bootloader uses a different method for handling peer information than what is used by default in mbed-os, i.e the legacy device manager instead of the peer manager, the connection will drop and the bootloader will fall back to the old "increment mac address to trigger a characteristic discovery" method when starting the DFU. This means you have to connect to the "new" DFUTarg

[2017-09-20 13:51] kjbracey-arm commented on #5035
I wouldn't think you need to handle overruns or any other serial error specially - I would expect it to be sufficient to spot the CRC failure or 1-second timeout which arises from such a loss, and then send a NAK to cause a retransmit.

On the read, you should at least be setting the read length to (buffer size - lengthRead).

But for YMODEM you should be reading the amount indicated by the block

[2017-09-20 14:00] adbridge commented on #5142
@theotherjimmy I thought we'd fixed the armc6 exporters for rc2 ?

[2017-09-20 14:16] kjbracey-arm commented on #5035
That code as written seems like it can never terminate - you have an inner while loop you don't need, and if it ever sees a whole packet, it breaks out from the inner loop and sets the length count back to zero, leaving you to go around the outer loop again.

As you're no longer using sigio, you don't need to read until you get EAGAIN (which you were doing to make sure you'd fully processed the si

[2017-09-20 14:18] theotherjimmy commented on #5146
@soramame21 Please add `arm-none-eabi-gcc` and friends to your path.

[2017-09-20 14:28] fkjagodzinski opened #5150 "LowPowerTimeout: Inconsistent delay when using multilple timeout objects"
### Description
- Type: Bug
- Priority: Major

## Bug

**Target**
K64F, NUCLEO_F070RB, NUCLEO_L476RG

**Toolchain**
GCC_ARM, ARM, IAR

**Toolchain version**
GCC_ARM -- _6.3.1_,
ARM -- _5.24 (Flex) ARM Compiler 5.06 update 5 (build 528)_,
IAR -- _ANSI C/C++ Compiler V7.80.4.12462/W32 for ARM_

**mbed-cli version**
1.2.0

**mbed-os sha**
003dd7c47

**Code**
[code]

**Expected behavior**
All callback

[2017-09-20 14:32] soramame21 commented on #5146
@theotherjimmy what do you mean?

[2017-09-20 14:32] theotherjimmy commented on #5145
BTW, this becomes a problem, because the Arm assebler, `armasm`, only runs the C preprocessor on `.S` files, and not `.s` files. This strikes me as odd behavior, considering that it was originally developed for Windows, and windows does not distinguish....

[2017-09-20 14:35] theotherjimmy commented on #5146
You need to be able to run the executable `arm-none-eabi-gcc` and other executables named `arm-none-eabi-*` without specifying the full path to that executable. To do this add the location of these executables to your PATH environment variable.

[2017-09-20 14:37] darbyShaw commented on #5035
Ah yes. Actually I had written it without EAGAIN initially without nonblocking set to false. So I didnt have the inner while loop. I just added it to see if it worked with non blocking. I will check that. But with blocking and poll it just gave me an event for the first time after which revents never had POLLIN set and poll doesn't return > 0. I basically receive partial data. I will try out what

[2017-09-20 14:41] theotherjimmy commented on #5142
@adbridge That's a `not supported` result. I don't think that's really a failure.

[2017-09-20 14:42] theotherjimmy commented on #5142
I disagree with the analysis that this is a bug. If anything, it's an enhancement request.

[2017-09-20 14:50] soramame21 commented on #5146
@theotherjimmy yes, I added my PATH setting in the description.

[2017-09-20 14:52] theotherjimmy commented on #5146
Did you make sure to restart the terminal you were using after setting up your path?

[2017-09-20 14:53] theotherjimmy commented on #5146
Odd, If that works, then the makefile should work from the same terminal

[2017-09-20 14:54] adbridge commented on #5142
It was the 'other targets' bit that was more concerning.
@toyowata can you please clarify what 'other targets' you are inferring?

[2017-09-20 14:56] theotherjimmy commented on #5142
@adbridge There might be a bug making all armc6 make exports not supported. **THIS DOES NOT AFFECT ARMC5**

[2017-09-20 15:07] soramame21 commented on #5146
I didn't change PATH setting for gcc. because it works well so far. now I verified and found 2 versions of arm-none-eabi-gcc are installed. my environment variable are as following.

The 2nd version (6-2017-q2-update) is valid on command line.

[2017-09-20 15:09] theotherjimmy commented on #5146
@soramame21 I really don't know what's going wrong with your setup. I can't reproduce the issue on my machine. Though my machine does use Linux...

[2017-09-20 15:11] theotherjimmy commented on #5146
@soramame21 Maybe the space in front of the `;` in the path? On the other hand, If you can run the compiler from the command line, I don't know why make can't run the compiler.

[2017-09-20 15:20] adbridge commented on #5142
@theotherjimmy can we determine if that is actually the case and update this issue accordingly, it can then also be added to the known issues

[2017-09-20 15:21] soramame21 commented on #5146
@theotherjimmy the following path included in the generated Makefile is correct??
"../" must be removed.

[2017-09-20 15:25] theotherjimmy commented on #5146
Those paths are correct

`../` must **not** be removed.

The garbage looking stuff at the top of the makefile re-runs make in the build directory, required the `../` prefix on include paths.

[2017-09-20 15:26] theotherjimmy commented on #5146
This looks like you did one export after another without cleaning between. That is **not** supported, and you should make sure to clean up your directories after doing an export.

[2017-09-20 15:28] theotherjimmy commented on #5146
@soramame21 Further, those issues that you mention have nothing to do with the error you are seeing.
[code]
Is the error you get when you can't run the compiler. If it was complaining about not finding an include file, you would get a gcc-style error as well.

[2017-09-20 15:28] toyowata commented on #5142
@adbridge Sorry for the confusion.  I have tested with NRF52_DK and K64F only.

[2017-09-20 15:47] ashok-rao commented on #5145
@soramame21 .. can you check if https://github.com/ARMmbed/mbed-os/pull/5149 helps ? please confirm..thanks!
cc @MarceloSalazar

[2017-09-20 15:52] theotherjimmy commented on #5145
Hey @ashok-rao. Thanks for mentioning that issue. It **should** have worked, but something is going awry with @soramame21's setup here. We have discussed what that patch brings to the table already, and it did not seem to work.

[2017-09-20 16:10] soramame21 commented on #5146
I modified tools/export/GettingStarted.html following the pull reuqest below, but still get the same error.
https://github.com/ARMmbed/mbed-os/pull/5149/files

[2017-09-20 16:34] theotherjimmy commented on #5146
@soramame21 Yeah, that's just a documentation thing. It's not going to affect the Makefile at all.

[2017-09-20 16:37] soramame21 commented on #5146
@theotherjimmy I uploaded my generated Makefile, Could you verify it please?

[2017-09-20 16:40] theotherjimmy commented on #5146
@soramame21 I don't know what you want me to verify about it. It looks like an exported makefile, and nothing catches my eye as wrong.

[2017-09-20 17:38] soramame21 commented on #5146
@theotherjimmy I ran following command and got the same error.

[2017-09-20 17:44] soramame21 commented on #5146
once I removed ../main.cpp, then I got the expected error.

[2017-09-20 18:06] theotherjimmy commented on #5146
@soramame21 Thanks for the debug info. That's very strange.

[2017-09-20 18:12] theotherjimmy commented on #5146
Oh, That might be related to the fact that GCC will execute the preprocessor/assembler in a process...

You might want to check that the arm-none-eabi-* binutils are in your path.

I think that you need:
 - `arm-none-eabi-as` (asseblmer)
 - `arm-none-eabi-cpp` (preprocessor)
 - `arm-none-eabi-g++` (c++ compiler)
 - `arm-none-eabi-c++` (also the c++ compiler)
 - `arm-none-eabi-gcc` (the frontend to

[2017-09-20 18:17] theotherjimmy commented on #5146
Looking about the internet, I have seen reports that you may need to run `make` from within the appropriate Mingw or Cygwin environment if that's where you installed the arm-none-eabi-gcc toolchain.

[2017-09-20 18:23] theotherjimmy commented on #5146
Also according to various reports from all over the internet, a reboot may solve it.

[2017-09-20 19:11] theotherjimmy opened #5153 "Memap stats depth of 0 has unexpected behavior"
# Description
- Type: Bug and/or Enhancement  -- I'm honestly not sure
- Related issue: `#abc`
- Priority: Minor

I don't think that `mbed compile` or `mbed test` for the argument `--stats-depth 0` does what I expect. With `--stats-depth 2` you get the following output:
[code]
Disregarding the bugs mentioned in #5124 #5127 #4976, This output makes sense: it truncates the hierarchy from the file sy

[2017-09-20 21:24] #4396 closed

[2017-09-20 21:27] JojoS62 commented on #5146
it looks like a gcc installation problem, here are a lot of reports: https://stackoverflow.com/questions/3848357/createprocess-no-such-file-or-directory
Do you have some other MinGW or Cygwin stuff installed and in the environment? That may interfere.

[2017-09-20 21:36] #4928 closed

[2017-09-20 23:48] ryankurte opened #5155 "EFR32: Mutex error in nanostack with EFR32 Phy"
### Description

- Type: Bug & (Enhancement & Question)
- Priority: In the way of our using mbed-os

Calling the `mesh.connect()` method causes `Mutex 0x2000157c error -6: Not allowed in ISR context`.

I'm working on porting mbed-os and getting the network stack working on [EFR32FG](https://www.silabs.com/products/wireless/proprietary/efr32-flex-gecko-2-4-ghz-sub-ghz) devices, based on the existin

[2017-09-21 01:23] soramame21 commented on #5146
@theotherjimmy, @JojoS62 Thanks for your comments. I don't install MinGW or Crgwin on my environment so far. just working on windows command prompt.

[2017-09-21 01:49] andrewc-arm commented on #5129
Hello, u-blox team, @andreaslarssonublox and @andreaspeterssonublox

Is there any progress to this?

I did some research and it matched @jeromecoutant and other engineers' analysis.
I think there should be some configuration or simple definition to toggle (D2,D8) and (D0,D1). (If needed, we can do extra jumper setting.) So that the developers can have a bypass to use whichever pin they want to use

[2017-09-21 01:55] andrewc-arm commented on #5128
Interesting. There must be some difference between your setting and my setting, then. To double check, could you kindly post the actual image you tested? I will apply to my board and make sure it's setting issue.

[2017-09-21 02:20] soramame21 commented on #5145
@ashok-rao, @theotherjimmy, cc @MarceloSalazar Thanks for your comments. I had verified that the file is "irq_cm4f.S" although windows treats it as the same as "irq_cm4f.s".
I had applied [the PR #5149](https://github.com/ARMmbed/mbed-os/pull/5149), but doesn't help.
I don't install MinGW or Cygwin in my environment, just using windows command prompt.

I attached the file at here.
[irq_cm4f.zip](h

[2017-09-21 02:20] ryankurte commented on #5155
On further investigation it seems that the [NCS36510](https://github.com/ARMmbed/mbed-os/blob/94e1cbccfc8ec202c4e52f8fe1b5ea947963d988/features/nanostack/FEATURE_NANOSTACK/targets/TARGET_NCS36510/NanostackRfPhyNcs36510.cpp#L170) driver avoids this by running a thread to delegate calls to the underlying driver, which is a little more difficult but probably achievable. It might also be interesting t

[2017-09-21 03:33] deepikabhavnani commented on #3804
Resolved in PR #4965

[2017-09-21 03:40] deepikabhavnani commented on #935
Duplicate: https://github.com/ARMmbed/mbed-os/issues/4626
Resolved in : https://github.com/ARMmbed/mbed-os/pull/4635.

Reopen if not resolved

[2017-09-21 03:40] #935 closed

[2017-09-21 03:42] deepikabhavnani commented on #440
Closing this, please reopen if issue still exists with latest driver.

[2017-09-21 03:42] #440 closed

[2017-09-21 03:46] deepikabhavnani commented on #1761
@0xc0170 - RTX2 is in. This can be closed?

[2017-09-21 04:33] deepikabhavnani commented on #2806
Closing :-)

[2017-09-21 04:33] #2806 closed

[2017-09-21 04:37] deepikabhavnani commented on #4609
Closing as fix is merged in PR #4615.

[2017-09-21 04:37] #4609 closed

[2017-09-21 06:16] kjbracey-arm commented on #5035
If using poll, you shouldn't need non-blocking - if poll says it's readable, then that /should/ be a guarantee that the next read will not block. (Assuming a working FileHandle that doesn't magically become non-readable). EAGAIN should not be possible on the first read after poll indicates an event.

I'm still not clear what you mean by "receive partial data". What YMODEM block size are you using?

[2017-09-21 06:17] darbyShaw commented on #5035
I am not sure about this but I think I see an overrun before receiving the entire packet even at baud 9600. I see it in serial_api.c in serial_readable(serial_t *) which is called with SerialBase::readable().

[2017-09-21 06:49] kjbracey-arm commented on #5035
It could be your platform has some interrupt latency problem meaning serial port reception is never reliable. If a driver is disabling interrupts too long, the serial port is usually the first victim to suffer.

To get problems at 9600, it would have to be pretty bad though.

Do you have any other code or drivers active that could be interfering? If so, try deactivating it.

Previously you said yo

[2017-09-21 08:24] #1761 closed

[2017-09-21 08:31] andreaslarssonublox commented on #5129
Thanks for the explanation @jeromecoutant. We will fix the hardcoded pins in PeripheralNames.h so it uses USBTX and USBRX from pinnames.h defines instead.

However I'm not sure how to redefine the pinnames in mbed_app.json. Do you know @0xc0170 ?

[2017-09-21 08:44] 0xc0170 commented on #5129
Not sure what should be the outcome. Can you share the pseudo-code? I would assume that something like some ST targets have, that based on the target's configuration, they redefine some pins (target's configuration would set the default).

(pseudocode)`USBTX` would be set as `MBED_CONF_USBX`, and this could be overwritten by an app. Is this what you are looking for?

[2017-09-21 08:55] 0xc0170 commented on #5155
cc @SeppoTakalo @stevew817 @akselsm

[2017-09-21 08:56] 0xc0170 commented on #5153
cc @MarceloSalazar

[2017-09-21 08:57] amq opened #5156 "How to store the LWM2M security object from bootstrap in flash?"
## Question

**How to?**

1. Device connects to a bootstrap server without using authentication
2. Receives a security object
3. Saves it permanently
4. Subsequent connections to the LWM2M server are using authentication, even after a reboot

It can be done in a vendor-specific way (EEPROM / flash), but I'm looking for a universal solution, also regarding the memory mapping. I imagine [Flash IAP](

[2017-09-21 09:17] MarceloSalazar commented on #5153
Really good catch :)
The `--stats-depth` feature in memap wasn't introduced with the intention to have similarities with `du`, but I don't see a problem with moving towards this.

Question: how do you suggest we display a full report without using `0`?
IMO having a full report after each compile seems too much information for the user.

[2017-09-21 09:25] andreaslarssonublox commented on #5129
Thanks @0xc0170!
That is probably the best way to do it unless there is some more mbedish way of doing it.

Usage in mbed_app.json:
    "config": {
        "USBRX":"D0",
        "USBTX":"D1",

peripheralnames.h:

#ifdef MBED_CONF_APP_USBTX
#define STDIO_UART_TX  MBED_CONF_APP_USBTX
#else
#define STDIO_UART_TX  USBTX
#endif

#ifdef MBED_CONF_APP_USBRX
#define STDIO_UART_RX  MBED_CONF_APP_USBRX
#els

[2017-09-21 09:28] 0xc0170 commented on #5129
One note, there is target config and app config. I believe this is target related, thus would end up in target configuration, and can be changed in the app, by target overrides. Thus would be `MBED_CONF_TARGETxxxx`.

[2017-09-21 09:38] 0xc0170 commented on #5156
cc @JanneKiiskila @yogpan01 @geky

[2017-09-21 09:53] betzw commented on #5155
Seems as if in both this issue and in issue [#303](https://github.com/ARMmbed/mbed-os-example-client/issues/303) for mbed-os-example-client the problem is due to calling `platform_enter_critical()` in interrupt context.
Unfortunately, the two call stacks which lead to calling `platform_enter_critical()` in interrupt context are completely different (seems even that they have nothing in common unti

[2017-09-21 11:36] 0xc0170 commented on #5150
I assume this is related to lp ticker. If you run the same test on regular Timeout class, all is fine?

cc @mmahadevan108 @bcostm @adustm @LMESTM @jeromecoutant

[2017-09-21 12:00] shayo commented on #5009
Any update on this?
Can you please confirm that if BLE is not advertising, all radio components are off?

[2017-09-21 12:11] ryankurte commented on #5155
So as a follow up to that issue, have poorly [hacked](https://github.com/ryankurte/mbed-os/blob/882cd2ebc39b5e84badf2788b87f08b8ac81e35e/features/nanostack/FEATURE_NANOSTACK/targets/TARGET_SL_RAIL/NanostackRfPhyEfr32.cpp) the driver to pass signals back to a thread and juggled stack sizes and we're all working.

Needs to be polished / PR'd, but the solution is in sight. It would be super cool if n

[2017-09-21 12:19] 0xc0170 commented on #5115
cc @stevew817 @akselsm

[2017-09-21 12:27] fkjagodzinski opened #5159 "STM32: lp_ticker_fire_interrupt: Event handler not called instantly when scheduled with past timestamp"
### Description
- Type: Bug
- Related issue: #5051
- Priority: Major

## Bug

**Target**
NUCLEO_F070RB
NUCLEO_F429ZI
NUCLEO_L476RG

**Toolchain**
GCC_ARM, ARM, IAR

**Toolchain version**
GCC_ARM -- _6.3.1_,
ARM -- _5.24 (Flex) ARM Compiler 5.06 update 5 (build 528)_,
IAR -- _ANSI C/C++ Compiler V7.80.4.12462/W32 for ARM_

**mbed-cli version**
1.2.0

**mbed-os sha**
003dd7c47

**Code**
[code]
Sampl

[2017-09-21 12:29] 0xc0170 commented on #5159
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-09-21 12:39] fkjagodzinski commented on #5150
Yes, regular `Timeout` is fine, only `LowPowerTimeout` behaves that way.

[2017-09-21 12:39] 0xc0170 commented on #4826
Why 1000 was chosen? does it have any relation to the I2c timings ? As above, if slave is clock-stretching, this timeout is small. Would ticker in this case help? How long would we wait?

[2017-09-21 13:40] #4966 closed

[2017-09-21 14:09] geky commented on #5156
From the storage side, your may be able to use this guy to wrap FlashIAP objects in a block device. Then you can use it just like external storage: https://github.com/ARMmbed/flashiap-driver

However, the flashiap-driver is experimental right now. A big concern is that flashiap may freeze the processor for long periods of time as it writes to flash. I'm not off this will interfere with network con

[2017-09-21 14:17] SeppoTakalo commented on #5155
Nanostack cannot be OK when called from ISR context as it used mutexes for protection.
We don't have interrupt safe mutexes in Mbed OS.

Requirement for using the worker thread is documented in Nanostack's driver API https://docs.mbed.com/docs/arm-ipv66lowpan-stack/en/latest/driver_api/

[2017-09-21 14:20] stevew817 commented on #5155
A fix for this is in the works. I'll PR it when ready.

[2017-09-21 14:58] theotherjimmy commented on #5145
PR #5149 will not help with any code issues, as it is purely documentation. I'm not sure why you attached the file.

The problem is that make is treating the file as if it were named `irq_cm4f.s`. There may be a workaround. Have you tried removing your `mbed-os` directory and deploying again? Windows may be doing something odd when git tells it to rename from `irq_cm4f.s` to `irq_cm4f.S`, and that

[2017-09-21 15:04] soramame21 commented on #5145
@theotherjimmy I'll try to remove mbed-os and deploy it.

[2017-09-21 15:17] seppestas commented on #5115
Ow right, I was planning to send a PR for this... Totally forgot XD.

[2017-09-21 16:40] #4976 closed

[2017-09-21 16:40] #5124 closed

[2017-09-21 16:40] #5127 closed

[2017-09-21 17:38] amq commented on #5156
@geky, seems like it's private.

[2017-09-21 19:01] pilotak commented on #5059
just for reference, it has been merged

[2017-09-21 20:41] geky commented on #5156
Ah sorry about that, it should be public now.

Also as @marcuschangarm pointed out, you can end up wearing out your flash if you're not careful. The existing FAT filesystem in mbed OS is poorly suited for internal flash. There is https://github.com/armmbed/mbed-spiffs and https://github.com/armmbed/mbed-littlefs that are filesystems with wear-leveling, but I'm not sure how difficult it will be to

[2017-09-21 22:56] theotherjimmy commented on #5145
@soramame21 Turns out Arm Compiler 5's behavior on assembly files is platform dependent! See the `.S` section of [this page](https://developer.arm.com/products/software-development-tools/compilers/arm-compiler-5/docs/dui0472/k/getting-started-with-the-compiler/filename-suffixes-recognized-by-the-compiler)

[2017-09-21 22:57] theotherjimmy commented on #5145
That explains why I can't reproduce this, ever. I'm generally only using UNIX-like systems.

[2017-09-22 00:27] kegilbert commented on #5040
Reran this example on the same hardware for out of boxing, ARMc5 built with mbed-cli still fails in the same manner, however IAR functioned for me (built on the same machine as before when I reproduced it).

Using the mbed-os-5.6.0-rc2 branch for mbed-os and head of master for the tls-client example:
Commits 6e087488e10143222b3b08790eb45600c784a309 and 5432349374c171aaa79e79904aeb13a2624c4eeb resp

[2017-09-22 02:19] vergil-SI opened #5167 "mbed-os-blinky-example export to gnuarmeclipse does not program"
### Description
- Type: Bug/Question
- Related issue: #5134 ?

---------------------------------------------------------------
## Bug

**Target**
NRF52840-Preview-DK (NRF52840_DK)

**Toolchain:**
GCC_ARM

**Toolchain version:**
Have tested both:
gcc-arm-none-eabi-6-2017-q1-update
gcc-arm-none-eabi-6-2017-q2-update

**mbed-cli version:**
1.2.0

**DAPLink version:**
0243
**Expected behavior**
Board

[2017-09-22 04:42] studavekar opened #5168 "For target target=ARM_BEETLE_SOC and toolchain=IAR/console build time is high"
### Description

For target target=ARM_BEETLE_SOC and toolchain=IAR/console build time is high about 28 mins, This is causing a slow down in CI pipeline.

- Type: Bug
- Priority:  Major

**Target**
ARM_BEETLE_SOC

**Toolchain:**
IAR

**Reproduce**

Build using command :

mbed test --compile -m REALTEK_RTL8195AM -t IAR -DMBED_HEAP_STATS_ENABLED=1 -DMBED_STACK_STATS_ENABLED=1 -DMBED_TRAP_ERRORS_ENAB

[2017-09-22 06:03] teetak01 opened #5170 "Malformed input when parsing ARMCC map"
### Description
- Type: Bug
- priority: minor

**Target**
K64F + 6LOWPAN
UBLOX+WIFI

**Toolchain:**
ARMCC 5.06 (update 3)
**mbed-os**
5.5.7

[code]

Same for Ublox_EVK ARMCC

[code]

Looks ugly, but does not seem to affect code.

[2017-09-22 06:03] teetak01 commented on #5170
@SeppoTakalo @andreaslarssonublox

[2017-09-22 07:38] 0xc0170 commented on #5170
cc @theotherjimmy

[2017-09-22 07:40] 0xc0170 commented on #5170
This is duplicate, please retest and close or we reopen the old one I referenced above

[2017-09-22 08:35] 0xc0170 commented on #5167
cc @nvlsianpu @anangl @pan-

[2017-09-22 08:36] 0xc0170 commented on #5168
cc @abhishek-pandit @mmorenobarm

[2017-09-22 08:38] 0xc0170 commented on #5117
I'll report this to CMSIS, and propose a fix. IAR team responded that for now, pragma to  supress the warnings is the way to go.

[2017-09-22 08:52] danielklioc commented on #5155
Getting same error on NUCLEOF767ZI

[2017-09-22 09:04] stevew817 commented on #5155
@danielklioc Please open a new ticket for NUCLEO since this is a platform-specific issue. NUCLEOF767ZI doesn't contain a radio, so it is highly unlikely it is the same root cause.

[2017-09-22 09:12] TTornblom commented on #5134
I have now tested a few other examples for this board, BLE_Button and BLE_LED, for mbed OS 2, and they suffer the same issues: produces Motorola srec files, apparently linked to the wrong address, and doesn't work.

I assume they all suffer from the same export to IAR issues.

[2017-09-22 10:08] pan- commented on #5168
Is it related to flashing time ? IIRC it was taking a lot of time to flash this target.
@c1728p9 Is there any constraints on flashing throughput in the DAP link specification ?

[2017-09-22 10:13] pan- commented on #5167
@vergil-SI Could you indicate what is your operating system ?
Might be related to https://github.com/mbedmicro/DAPLink/issues/316 .

[2017-09-22 10:36] #4084 closed

[2017-09-22 10:36] #4091 closed

[2017-09-22 12:21] 0xc0170 commented on #4686
Why would you want them to be removed?

From the Serial documentation: ` * @note Synchronization level: Thread safe `. Yes, protecting also `serial_t` object and the other protected members.

[2017-09-22 12:30] 0xc0170 commented on #5067
This should be fixed by https://github.com/ARMmbed/mbed-os/pull/5063. The issue was actually with Callbacks operato== (also fixed now on master). I'll close this, reopen with new findings if any

Thank you for reporting

[2017-09-22 12:57] 0xc0170 commented on #5020
@maciejbocianski What is the status of this bug report?

[2017-09-22 13:16] 0xc0170 commented on #5051
bump @stevew817 @akselsm

[2017-09-22 13:22] betzw commented on #5067
Unfortunately #5063 does **not** fix this issue!
Whereas modifications like in this [diff](https://github.com/ARMmbed/mbed-os/files/1324633/diff.txt) seem to fix my issue (see also my [comment](https://github.com/ARMmbed/mbed-os/issues/5067#issuecomment-328522178)  above).

[2017-09-22 13:26] betzw commented on #5067
@0xc0170, could you pls. re-open this issue.

[2017-09-22 13:34] 0xc0170 commented on #5067
OK, going to check

[2017-09-22 13:37] vergil-SI commented on #5167
I'm almost positive I'm running Ubuntu 16.04.3 LTS. If the version is of high significance, I'd need to verify that in a few hours when I have access to the machine again just to be sure..

[2017-09-22 13:48] 0xc0170 commented on #5051
As suspected overflow counter and flag needed to be set. Fixed here: https://github.com/ARMmbed/mbed-os/pull/5176

[2017-09-22 13:54] 0xc0170 commented on #5067
`Timer` has a problem with destructor - it is never stoped:

[code]

Thus would be good to to define dtor with stoping the timer (unblock deepsleep if us ticker is involved).

SerialBase has an empty virtual dtor. It should not be empty in this case - assuming either attach or even async is invoked, then destroying the object does not clean its resources (no abort, or detach is involved).

We will

[2017-09-22 13:55] c1728p9 commented on #5168
@pan- nope, flashing is limited by the flash erase and write times of the device.

[2017-09-22 14:08] theotherjimmy commented on #5134
This step is probably what's causing the problems. Nordic devices use a soft device, and the soft device is assumed to be present on the device. A user of the IDE exporters must flash from the IDE, as the generated hex/bin/axf (just elf, incorrectly named) do not have this soft device and therefore will not work.

[2017-09-22 14:16] theotherjimmy commented on #5167
@vergil-SI Do not flash through copy to mass storage. Instead please use the PyOCD plugin.

Even if your DAPLink had not refused, you would not have a soft device on the board, and it would not boot.

[2017-09-22 14:36] teetak01 commented on #5170
Nice, seems to be fixed in Mbed OS 5.6-RC3.

[2017-09-22 14:36] #5170 closed

[2017-09-22 15:52] dhwalters423 commented on #5167
@vergil-SI As @pan- said I believe you may be experiencing the exact symptoms reported in mbedmicro/DAPLink#316. I can reproduce on my machine with the same set up that you have.

[2017-09-22 16:02] theotherjimmy opened #5181 "Toolchains treat bulid profile ld flags inconsistantly"
# Metadata
- Type: Bug
- Related issue: None
- Priority: Minor?

# Description

The `mbedToolchain` classes currently handle the ld flags from the build profile differently. `GCC_ARM` and `ARMC6` both append them to the linker command in the constructor, where as `ARM` and `IAR` append them to the linker command during the `link()` method call. As it may help the exporters, it's best to append the

[2017-09-23 15:32] MarceloSalazar commented on #5126
Confirmed fixed in 5.6 rc2.

[2017-09-23 15:32] #5126 closed

[2017-09-23 21:07] dhwalters423 commented on #5145
I am encountering this issue with a KW24D, see log attached
[make_armc5fail.txt](https://github.com/ARMmbed/mbed-os/files/1326859/make_armc5fail.txt)

*Host OS:* Windows 10
*Mbed version:* 5.6 OOB2
*Application:* Blinky
*Export Target:* ARMC5 Make

@theotherjimmy I can confirm the name of the file in my fs is irq_cm4f.S

[2017-09-23 21:37] theotherjimmy commented on #5145
@dhwalters423 yeah, I have a workaround in #5166

[2017-09-23 22:36] vergil-SI commented on #5167
Thanks for the PyOCD soft device advice. That actually probably explains a separate issue I had previously. Glad to know I'm not the only one with this issue.

[2017-09-25 05:46] #4288 closed

[2017-09-25 09:18] fkjagodzinski commented on #5051
#5176 fixes this issue for **EFM32GG_STK3700**.

[2017-09-25 09:43] maciejbocianski opened #5185 "LowPowerTicker: Inconsistent callback calls when using multiple ticker objects"
### Description
- Type: Bug
- Related issue: #5150
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**
GCC_ARM -- 6.3.1,
ARM -- 5.24 (Flex) ARM Compiler 5.06 update 5 (build 528),
IAR -- ANSI C/C++ Compiler V7.80.4.12462/W32 for ARM

**mbed-os sha:**
c6f655c02

**Expected behavior**
All c

[2017-09-25 12:01] darbyShaw commented on #5035
Thank you so much for your time and prompt replies. Mbed-os has got awesome response time for support.
I was able to complete my application with SerialPort Interface's async function
Serial serialPort(SERIAL_TX, SERIAL_RX, 500000);
serialPort.read(&receivedPacket[0], PACKET_SIZE+PACKET_HEADER_SIZE+PACKET_TRAILER_SIZE, rxCpltCallback);
I handled some occassional overruns with a Ymodem NAK to the t

[2017-09-25 12:02] mgiaco opened #5186 "Bug mbed gunarmeclipse exporter on Windows 7 64 Bit"
There is a bug in the gnu arm exported makefile.targets for windows some quotation marks are missing on all the toolchain path. If I add the marks everything works fine.

makefile.targets
[code]

[2017-09-25 12:44] TTornblom commented on #5134
So this device is included in the hex file produced by the mbed toolchain, but not when exporting the project?

Is this by design, or is it just an omission to export the required soft device to the IDE?

[2017-09-25 13:35] theotherjimmy commented on #5134
@TTornblom This is by design. We expect the exporter to write over only the application's location in flash.

That being said, I have no problem with changing that behavior, and you're the expert on this IDE.

[2017-09-25 13:47] theotherjimmy commented on #5186
Thanks @mgiaco. Would you like to make a PR to fix this issue?

[2017-09-25 14:42] Alonof opened #5190 "NUCLEO-F429ZI flash program bug"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO-F429ZI

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha:**
db4be9469 (HEAD, tag: mbed_lib_rev149, tag: mbed-os-5.5.5, tag: latest) Merge pull request #4889 from ARMmbed/release-candidate

**Expected behavior**
when trying to program to in intranel flash using the

[2017-09-25 15:12] #5145 closed

[2017-09-25 16:16] andreaslarssonublox commented on #5129
@0xc0170 I have created a PR #5192. Can you also check that this is the preferred way to do it?

[2017-09-25 18:41] ChiefBureaucraticOfficer commented on #3007
Unable to reproduce with mbed OS 5.5

[2017-09-25 21:06] maclobdell opened #5195 "[OOB 5.6 r3] LPC54114 fails to boot up with GCC compiler"
### Description
- Type: Bug
- Related issue: n/a
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
LPC54114

**Toolchain:**
GCC_ARM - Fails
ARM - Pass
IAR - Pass

**Toolchain version:**
GCC 6-2017-q1-update

**mbed-cli version:**
1.2.0

**mbed-os sha:**
mbed-os-5.6

**DAPLink version:**
n/a

**Expected behavior**
  mbed-os-example-blinky main.cp

[2017-09-25 23:58] c1728p9 commented on #5195
I created #5197 to fix this

[2017-09-26 07:34] soramame21 commented on #5146
@theotherjimmy, @JojoS62 I can build the example after reinstalling Gnu toolchain, and passed the test. thank you for your support, I close this issue.
cc @MarceloSalazar

[2017-09-26 07:34] #5146 closed

[2017-09-26 07:41] maciejbocianski commented on #5020
not a bug
comment updated in #5045

[2017-09-26 07:41] #5020 closed

[2017-09-26 07:43] fkjagodzinski commented on #5051
Reopening -- need to wait for #5176.

[2017-09-26 07:51] 0xc0170 commented on #5185
cc @mmahadevan108

[2017-09-26 08:20] mgiaco commented on #5186
Hm I am not sure but I will try later okay.

[2017-09-26 08:35] maciejbocianski opened #5198 "NRF51_DK: core_util_are_interrupts_enabled wrong behavior when inside critical section"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NRF51_DK

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha:**
c6f655c02

**Expected behavior**
`core_util_are_interrupts_enabled` return `false` when interupt disabled

**Actual behavior**
`core_util_are_interrupts_enabled` return `true` when interupt disabled

**Steps to

[2017-09-26 08:52] bcostm commented on #5190
Please use mbed-os latest version. The flash get size has been updated in PR #4980
Thanks

[2017-09-26 09:04] jeromecoutant commented on #3425
Hi
Back to this old issue.
It seems that resolution is now u64. Is that correct ?

[2017-09-26 10:08] larsgk commented on #5010
Hi @mmahadevan108 and @0xc0170 and thanks :)

I missed the KL28Z opportunity for the conference I wanted to demo at - but I am going to try to do some integration within a week or so.  Would questions be best sent here or somewhere else (e.g. in some slack channel)?

[2017-09-26 10:08] 0xc0170 commented on #5198
cc @nvlsianpu @anangl

[2017-09-26 10:11] pan- commented on #5198
On the NRF51, `core_util_critical_section_enter` doesn't disable interrupts instead it mask all interrupts  which are not reserved for BLE processing. `core_util_are_interrupts_enabled` look after PRIMASK to assess if the interrupts are enabled or not. In that case it will always return true.

[2017-09-26 10:12] 0xc0170 commented on #5190
@Alonof PLease test, and close if resolved

[2017-09-26 10:13] 0xc0170 commented on #3425
Yes, as Ticker uses `insert_absolute` that has `us_timestamp_t` as argument. cc @pan-

[2017-09-26 10:19] #4874 closed

[2017-09-26 10:35] pan- commented on #3425
Yes, resolution is `uint64_t` now.

[2017-09-26 10:38] SeppoTakalo commented on #4841
https://firefly-iot.com/product/l-tek-arduino-shield-900mhz/

[2017-09-26 12:09] jeromecoutant commented on #3425
Maybe we should update hal files updating timestamp_t to us_timestamp_t ?

[2017-09-26 12:12] 0xc0170 commented on #3425
Why would be the benefit? In most cases, the hw counter is 32bit wide

[2017-09-26 12:40] jeromecoutant commented on #3425
OK, I understand.
I can see attach_us is well using us_timestamp_t

I think you can close this issue ?

[2017-09-26 12:54] #3425 closed

[2017-09-26 14:24] theotherjimmy commented on #5186
Thanks for the PR!

[2017-09-26 14:58] jeromecoutant commented on #5136
ST_INTERNAL_REF 38311

[2017-09-26 15:22] jeromecoutant commented on #3426
ST_TO_BE_CLOSED

[2017-09-26 20:16] NeilMacMullen commented on #4686
@0xc0170 The reason to remove the locks is to avoid the issue that @sg- raises which is that calling getc in the attach'd rx callback results in an invalid operation.  Clearly it makes no sense to _selectively_ remove locks from the getc function (either the design is thread-safe or it's not)!

This doesn't really address my question. :) Yes, obviously the mutex is there to make it thread-safe.  T

[2017-09-27 06:44] JammuKekkonen commented on #4372
@JanneKiiskila @teetak01

[2017-09-27 06:51] teetak01 commented on #4372
@mikaleppanen is this still open? On what compilers would this work?

[2017-09-27 06:56] andrewc-arm commented on #5129
Thanks for enabling this, @andreaslarssonublox
Due to being busy, I was not able to test PR #5192. I will do so later.

[2017-09-27 07:00] mikaleppanen commented on #4372
It would work on any other combination than described above i.e. arm compiler -O3, -Otime. There has not been update to arm compiler 5 that would solve this. Most probably arm compiler 6 does not have this issue.

[2017-09-27 08:25] andresag01 opened #5206 "No way to efficiently wait for crypto accelerator operations in HAL"
### Description
- Type: Enhancement

----------------------------------------------------------------
## Enhancement
When looking at the code for crypto hardware acceleration, we noticed that there are many locations where a command is issued to the accelerator, then the thread must must wait for the operation to be completed. The mbed TLS API is mostly synchronous, so for lack of an alternative m

[2017-09-27 09:13] jeromecoutant commented on #5136
Hi
Please check #5208

[2017-09-27 09:22] 0xc0170 commented on #4505
@hasnainvirk Shall we document this, or has it been added somewhere ? I am not certain this is known-issue, just a feature that is not supported yet?

[2017-09-27 09:26] 0xc0170 commented on #5040
Bump, have you been able to reproduce  the issue?

[2017-09-27 09:32] janjongboom opened #5209 "LPC1768 mbed_interface_connected not functioning correct on Mbed OS 5"
### Description

- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
LPC1768

According to [this report](https://os.mbed.com/questions/79090/mbed_interface_reset-with-OS5-not-resett/) `mbed_interface_connected()` no longer reports the right value, so detecting if the interface is connected does not work...

[2017-09-27 09:36] 0xc0170 commented on #5082
@mmahadevan108 Can you share these with sdk team? To get some feedback and possibly fixed in the upcoming releases?

[2017-09-27 09:46] hasnainvirk commented on #4505
@0xc0170 Could you please assign this to someone in US ? Actually CDMA doesn't  exist in Europe. To answer your question, It has not been supported yet. Probably one way of doing this is to ask user to tell us if he has a CDMA modem with sim card baked in using json config. I am not sure if there would be a standard AT command to find out if the sim card is baked in or not. @TeemuKultala did you d

[2017-09-27 09:54] 0xc0170 commented on #5209
cc @c1728p9 @toyowata

[2017-09-27 10:15] andreaslarssonublox commented on #5040
@0xc0170 No, but we're preparing a new release of the driver and will look at it later this week.
It seems to use ethernet and thus not using the wi-fi driver. Do you know if this happens on the NUCLEO_F429ZI board as well @scartmell-arm?

[2017-09-27 10:22] andresag01 commented on #5040
@andreaslarssonublox: We have been testing the tls-client example on NUCLEO_F429ZI and we have not experienced this problem so far. However, the problem seems to be intermittent, so perhaps it is rare enough that it we just have not observed it yet.

[2017-09-27 11:55] #3426 closed

[2017-09-27 13:16] bulislaw commented on #5198
@maciejbocianski ping

[2017-09-27 13:56] kylestein-arm opened #5211 "OdinWiFiInterface constructor has side-effects"
### Description
The construction of an instance of OdinWiFiInterface manipulates the system event queue in such a way that previous configuration is lost.  In particular, when used with MbedCloudClient, the OdinWiFiInterface can cancel timers that were set up by the cloud client.

- Type: Bug
- Related issue: none known
- Priority: Major

-----------------------------------------------------------

[2017-09-27 13:56] maciejbocianski commented on #5198
So these three functions `core_util_are_interrupts_enabled` `core_util_critical_section_enter` `core_util_critical_section_exit` behaves in different way on NRG51 platform. It reimplements `core_util_critical_section_enter` `core_util_critical_section_exit` to

[2017-09-27 14:02] #3223 closed

[2017-09-27 14:05] 0xc0170 commented on #5211
cc @andreaslarssonublox @andreaspeterssonublox

[2017-09-27 14:23] sarahmarshy commented on #4505
The current drivers by multitech use an AT command to query the module name. The driver switches to CDMA/GSM logic based on the module name.

[2017-09-27 20:15] #5017 closed

[2017-09-28 01:55] andrewc-arm opened #5214 "[UBLOX_EVK_ODIN_W2] SPI failing"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.4.1 20160919

**mbed-cli version:**
1.2.0

**mbed-os sha:**
(`git log -n1 --oneline`)
mbed-os-5.6.0
5499db1 Merge pull

[2017-09-28 02:38] andrewc-arm commented on #5214
Hi,

I heard from others that SPI is bound to SD-card in the UBLOX_EVK_ODIN_W2 board. And it is affecting this result.
Do you know how I can bypass this physical bounding?

Thanks,

[2017-09-28 05:51] andrewc-arm opened #5215 "[UBLOX_EVK_ODIN_W2] PWM enabled only for LED2/3/D3/D5"
### Description
- Type: Question
- Priority: Minor

-----------------------------------------------------------------

Hi, I am testing UBLOX_EVK_ODIN_W2 due to Seoul IoT Hackathon planning (http://english.seoulhackathon.org/).
The engineers are questioning why PWM is enabled for LED2/LED3/D3/D5 only.
For other LED1 and other D* pins, PWM is not supported.

They can understand if only certain pins

[2017-09-28 06:38] andrewc-arm commented on #5214
Sorry. It must have been my setting issue. Please ignore my comment.

With this code it works.
[code]

[2017-09-28 06:38] #5214 closed

[2017-09-28 06:48] Alonof commented on #5190
Hi
Great work (and very fast) thanks
Alon

[2017-09-28 06:48] #5190 closed

[2017-09-28 07:26] 0xc0170 commented on #5215
cc @andreaslarssonublox @andreaspeterssonublox

[2017-09-28 09:25] hasnainvirk commented on #4505
@sarahmarshy ATI command can give you Identification of the modem but that is very vendor specific.
This cannot really be used in a generic driver in any scalable way.

[2017-09-28 09:51] andreaslarssonublox commented on #5215
Hi, thanks for the feedback! It's correct that there is limited PWM on the EVK pins. It should be possible to also use A1 when configured as Digital via J26 as well as D2 and D8 if the USB UART is not used or reconfigured to use D0/D1(#5192).

We will add some comments on the EVK page or the user's guide.

[2017-09-28 09:55] screamerbg commented on #5067
@0xc0170 @c1728p9 any idea about providing a fix for this? This is gating the WiFi driver @betzw is working on.

[2017-09-28 11:05] 0xc0170 commented on #5067
There's one improvement here https://github.com/ARMmbed/mbed-os/pull/5148 (not yet fixing it).  I'll create another PR to create Timer dtor as proposed above based on this improvement (will need it).

Regarding SerialBase - I'll talk to @c1728p9

[2017-09-28 12:12] 0xc0170 commented on #5168
bump

[2017-09-28 12:52] danielklioc commented on #4888
Is Nucleof767ZI working properly with UDP Static IP with mbed-os 5.5.6 & 5.5.7?
Is any documentation explaining how to use autoconfig(zeroconfig) ?

[2017-09-28 13:49] paviitan opened #5218 "NUCLEO_F429ZI fails to continue from deepsleep"
### Description

NUCLE0_F429ZI board does not wake up expectedly from deepsleep with user interrupt.

Latest working mbed-os release: 5.5.1.
Bug exists at least in mbed-os releases: 5.5.2 and 5.5.7.

Known workaround: Leave only USE_PLL_HSI as clock source selection in targets.json

- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F429ZI

**Too

[2017-09-28 13:59] 0xc0170 commented on #5218
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-09-28 15:21] MarceloSalazar commented on #5070
Confirmed it's solved.

[2017-09-28 15:21] #5070 closed

[2017-09-28 15:24] mikevolzer-ep opened #5219 "How do I get free_stack() of main thread?"
### Description
- Type: Question

---------------------------------------------------------------

## Question
How do I get the available stack of the main thread? I see there is a member function "free_stack", but I cannot find out how to get a reference to the main thread object

[2017-09-28 15:34] mmahadevan108 commented on #5010
Feel free to post questions to the below section:
https://os.mbed.com/teams/NXP/community/

[2017-09-28 16:19] abhishek-pandit commented on #5168
Adding @tkaman to the issue

[2017-09-28 16:22] abhishek-pandit commented on #5168
@studavekar @0xc0170

We will check it out.
Beetle code hasn't changed in a while and the platform is the same, so I am wondering what's changed recently that's caused this problem? Any idea?
Thanks

[2017-09-28 21:49] c1728p9 commented on #5067
Hi @betzw, it looks like one of the fixes in the diff you provided has already been made in #5095. I created #5220 which fixes the other problem shown in your diff (along with other potential problems).

@betzw can you try #5220 to confirm it fixes your problem?

[2017-09-29 02:44] toyowata commented on #5209
@janjongboom @c1728p9

I quick tested this with following test code.
[code]

And I run the test code on ```mbed-os-5.5.6``` and ```mbed-os-5.6.0``` release tag tree with ARM and GCC_ARM build.   I got following result for all combination above.

[code]

So, the ```mbed_interface_connected``` function itself works as expected.

[2017-09-29 06:29] andrewc-arm commented on #5215
Thanks for the feedback!

[2017-09-29 06:29] #5215 closed

[2017-09-29 08:38] bulislaw commented on #5219
Main thread is not a C++ object, maybe we should try to wrap it in some way. For now you'll need to use RTOS API directly http://arm-software.github.io/CMSIS_5/RTOS2/html/index.html
[code]
executed from the main thread. You'll need to add that to your build command `-DMBED_STACK_STATS_ENABLED`.

[2017-09-29 08:57] andreaslarssonublox commented on #5139
I tested this and I could reproduce the same way as above. However, when using the latest mbed-os master(bb61b42fba8a8b3083b5b714a12c11baae2041d3) it seems to work.

[2017-09-29 09:13] 0xc0170 commented on #5139
Can you test 5.6.0 ? 5.6.1 could also be tested from a 5.6 branch (will be published soon).

[2017-09-29 09:44] javier-moreno-tridonic-com opened #5221 "new and delete operators should be handled by the Runtime memory tracing"
### Description
- Type: Enhancement

**Reason to enhance or problem with existing solution**

Due to the malloc wrapping done by those operators here:
https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_retarget.cpp

Some important information is destroyed as the traced "caller" will be always **new**, **new[]**... etc., preventing the identification of the class/function who really trigg

[2017-09-29 09:47] gggekov opened #5222 "u-blox EVK-ODIN-W2 switch PullUp resistance example"
### Description
- Type: Enhancement
- Target: ublox EVK-ODIN-W2

The SW0/SW1 switches need to be configured as pull-ups in the software application. It can take quite a lot of time to figure this out.

## Enhancement

**Reason to enhance or problem with existing solution** Simplify the usage of user buttons on the ulbox EVK ODIN W2 board.

**Suggested enhancement** Add the following example on the

[2017-09-29 09:49] betzw commented on #5067
I will try asap, but most likely today I won't have the time ... :frowning_face:

[2017-09-29 09:51] janjongboom commented on #5209
Interesting. I've reported it back to the user.

[2017-09-29 09:51] #5209 closed

[2017-09-29 09:53] 0xc0170 commented on #5221
cc @c1728p9 @pan- @bulislaw

[2017-09-29 10:06] andreaslarssonublox commented on #5139
I tested this:
Branch mbed-os-5.6 (cc7556a92fb9320f4bebb190c6e1315af116c50c)
Works

Tag mbed-os-5.6.0-rc3 (5499db1e815b035c2039b6f1e7cbcbf1fd7e0f19)
Does not work

I will continue looking at why it fails.

[2017-09-29 11:19] pan- commented on #5221
That sounds like a reasonable approach to handle that issue.

[2017-09-29 11:24] 0xc0170 commented on #5222
cc @andreaslarssonublox @andreaspeterssonublox

[2017-09-29 11:30] tkaman commented on #5168
I will look into this and hope to have an update soon

[2017-09-29 11:43] TTornblom commented on #5134
We're a bit confused about this behavior.

Is there any advantage with the current functionality over having it behave the same as when building with the mbed toolchain?

Does it work the same for other vendors/boards?

Personally I find it would make sense if they worked the same for at least the following reasons:

1) Eliminate confusion
2) Avoid having to use external debug hardware, as long as

[2017-09-29 11:45] andreaslarssonublox commented on #5222
Thanks for the suggestion @gggekov We'll clarify it in the documentation.

[2017-09-29 12:10] gggekov commented on #5222
Thanks!

[2017-09-29 12:35] pan- commented on #5198
If on this platform `core_util_critical_section_enter` and `core_util_critical_section_exit` disable interrupts then BLE connection may drop unexpectedly and won't be reliable anymore. The main reason for this chip to exist being to execute BLE applications, it is critical that the OS doesn't interfere in BLE handling. Otherwise there is little point of running mbed OS on this chip and even less f

[2017-09-29 13:00] bulislaw commented on #5198
I think it makes sense, we can't remove core_util_are_interrupts_enabled, but we can add extra function. Bu i don't like idea of quick fixing it and relying on platform code to set some flags.
Maybe we could make it a non-mandatory HAL API? Something like:
[code]

@0xc0170 @pan- @c1728p9 what do you think?

[2017-09-29 13:14] 0xc0170 commented on #5198
@bulislaw What do you think of this proposition ?

wouldn't be better to have target specific implementation ? As I understand if softdevice is active, its own interrupt are enabled and do not interfere with an application, thus if an app asks if interrupts are disabled for this platform, what should be returned? app interrupts state? or include also softdevice interrupts state? I would say just a

[2017-09-29 13:14] pan- commented on #5198
I like the idea of  `hal_critical_section_enter` and `hal_critical_section_exit` overridden if required by the platform and called indirectly by `core_util_in_critical_section_enter` and `core_util_in_critical_section_exit`.

Thanks to the introduction of that level of indirection `core_util_in_critical_section` might be defined outside platform code and wouldn't need any action from partner.

`co

[2017-09-29 14:12] theotherjimmy commented on #5134
@TTornblom

The exporters are designed to mimic the behavior of `mbed compile` exactly, except where it would break the expectations of an user of the IDE that the exporter targets.
At this point this may be legacy behavior that we can change. More on that below.

I agree that would be nice, and a better design, if it's not breaking any expectations that a user of the IAR IDE would have. If there

[2017-09-29 15:14] #5051 closed

[2017-09-29 15:14] #5181 closed

[2017-09-29 15:52] #5219 closed

[2017-09-29 16:01] loverdeg-ep commented on #5219
@bulislaw is there an option to have an entry point before the scheduler starts?

[2017-09-29 16:05] bulislaw commented on #5219
Depending what you want to do, we have `mbed_sdk_init` but that's more for targets use, and then we have `mbed_main` that executes before `main`, but that's actually after the scheduler starts. Some more info https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/mbed_boot.c

[2017-09-29 16:41] loverdeg-ep opened #5225 "Make MBED_MEM_TRACING_ENABLED an application config option"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
Enhancement
- Related issue: [Handbook-#275](https://github.com/ARMmbed/Handbook/issues/275)
- Priority: Minor

---------------------------------------------------------------

## Enhancement

**Reason to enhance or problem with existing solution**
Confusion regarding the difference between an applica

[2017-09-29 16:45] loverdeg-ep commented on #5221
Running into this same problem.
Temporarily workaround was providing a custom callback for trace, setting breakpoints logically, and analyzing the call stack.

[2017-10-01 15:51] helmut64 commented on #4144
@bcostm I prepared the support for the NUCLEO_L433RC target according to the great instructions "steps to create a new STM32 platform", I will check in my NUCLEO_STM32L433_SUPPORT branch soon.

[2017-10-01 18:10] helmut64 commented on #4144
My new pull #5230 request will add support for the new NUCLEO_433RC board. Once it is accepted this case is obsolete and can be closed.

[2017-10-02 08:28] andreaslarssonublox commented on #5139
I have compiled a new driver based on mbed-os 5.5.6 and that seems to work fine for all versions above. We will most likely release it later this week.

[2017-10-02 10:35] avolinski commented on #4952
Hi,
We only test ODIN, NUCLEO_F429ZI and NXP K64F boards

[2017-10-02 11:34] thomasonw commented on #4090
Hello.  I was going to close this issue as unresolved, but before doing so wanted to check one more time.   @0xc0170  @theotherjimmy  you two seems to perhaps be the most authoritative:  Is there any intention for MBED to address the current CAN API deficiency preventing implementation of NMEA2000?  We would like to support  MBED, but need to proceed forward (And we do have alternatives, just not

[2017-10-02 11:36] 0xc0170 commented on #4090
cc @sg- @bulislaw

[2017-10-02 12:51] 0xc0170 commented on #5185
@mmahadevan108 are you able to reproduce this ?

[2017-10-02 14:14] 0xc0170 commented on #5222
Let us know once done, to close this issue

[2017-10-02 17:37] andresag01 commented on #5040
Update: It seems that this is no longer failing on our CI. However, please note that the CI only runs the test once, so it might be that the problem happens much less often. If would be good if someone can take a look at this...

[2017-10-02 19:00] mmahadevan108 commented on #5185
Not yet, I will take a look at this shortly.

[2017-10-02 19:40] studavekar opened #5239 "Example build fails with No such file or directory: 'mbed-os-example-xx-yyy'"
Failure snippet , the root cause is git clone failing.

[code]

Actually it fails to clone the repo  mbed-os-example-ble-Thermometer
[code]
### Description
- Type: Enhancement
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
ANY

**Toolchain:**
GCC_ARM|ARM|IAR

[2017-10-02 19:50] ciarmcom commented on #5186
ARM Internal Ref: IOTMORF-1408

[2017-10-02 20:13] studavekar opened #5241 "mbed-os test build for REALTEK_RTL8195AM,IAR takes ~35 min"
Command used to build
[code]

### Description
- Type: Bug
- Priority: Major
---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**Host**
Windows

**Toolchain:**
IAR

**mbed-cli version:**
(`mbed --version`)

**mbed-os sha:**
c60194f Merge pull request #5208 from jeromecoutant/PR_F7_RTC

**Expected behavior**
Build time should be 2-5 mins

**Actual

[2017-10-02 20:47] studavekar commented on #4120
@maclobdell @bentcooke this is blocking CI , we can't connect 2 maxim device on same machine.

This would mean we may have to stop support for maxim till this issue is fixed.

[2017-10-03 08:20] betzw commented on #5067
Yep, https://github.com/c1728p9/mbed-os/tree/sleep_lock_fixes seems to fix this issue.

[2017-10-03 08:20] #5067 closed

[2017-10-03 08:28] helmut64 commented on #4823
This enhancement is completed and tested, thanks.
I believe the board page should list the min. STLink version, otherwise this board will not work.
https://os.mbed.com/platforms/ST-Nucleo-L432KC/

[2017-10-03 08:44] jeromecoutant commented on #4823
Done, you can close the issue
Thx

[2017-10-03 09:45] #4823 closed

[2017-10-03 12:47] #4888 closed

[2017-10-03 12:47] danielklioc commented on #4888
Closed because issue is not clear and cannot be reproduced be others

[2017-10-03 13:12] JammuKekkonen opened #5244 "Compiling Odin Wifi driver fails with ARMC6 toolchain"
### Description
- Type: Bug

Compiling Odin Wifi driver fails with ARMC6 toolchain

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
ARMC6

**mbed-os sha:**
cc7556a92

**Expected behavior**
Odin wifi driver compiles

**Actual behavior**
Error: L6218E: Undefined symbol typeinfo for NetworkInterface (referred from OdinWiFiInterface.o).
Finished: 0 information, 1225 warning and 1 error messages.

**Steps

[2017-10-03 13:13] JammuKekkonen commented on #5244
@JanneKiiskila

[2017-10-03 14:23] bcostm commented on #5218
I reproduced the problem. First of all this example has to be changed because the deepsleep function is now deprecated. Secondly I don't understand why we don't exit from the sleep function.

@0xc0170 It looks to me that it is related to the introduction of the sleep_manager. Any clue ?

[2017-10-03 21:27] andreaslarssonublox commented on #5211
We have reproduced this and found the cause. The driver initializes the HAL ticks and configured the CPU clock but it has already been done by mbed OS/ST HAL. This will be fixed in the next release of the driver that most likely will be done this week.

[2017-10-04 05:59] teetak01 opened #5248 "Nucleo F429ZI LWIP6 cannot get IP (Mbed OS 5.6.1) (Connect fails)"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F429ZI + LWIP6

**Toolchain:**
GCC_ARM

**mbed-os version:**
5.6.0/5.6.1

**Expected behavior**
Device gets IP

**Actual behavior**
Device never gets IP

[EasyConnect] MAC address 00:80:e1:2c:00:28
[EasyConnect] Connection to Network Failed -3010!
MainThread: T

[2017-10-04 06:01] teetak01 commented on #5248
@adbridge  regression in Mbed OS 5.6.1

[2017-10-04 06:13] Timjun01 commented on #5248
Nucleo F429ZI cannot get ip address: all Syte test failing.

00:51:45 00:51:43.813 | D1 <-> MainThread: CMD ifconfig eth0 up, timeout=1507078353, time=1507078303
00:51:45 00:51:43.813 | D1 --> DutThread: ifconfig eth0 up
00:51:45 00:51:43.978 | D1 <-- DutThread: [EasyConnect] IPv4 mode
00:51:45 00:51:43.978 | D1 <-- DutThread: [EasyConnect] Using Ethernet
00:51:46 00:51:44.814 | D1     MainThread:

[2017-10-04 06:17] Timjun01 commented on #5248
Wifi IPv4 work

[2017-10-04 06:27] 0xc0170 commented on #5248
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-10-04 06:30] 0xc0170 commented on #5248
I am looking at changeset for 5.6.1 - https://github.com/ARMmbed/mbed-os/pull/5184 (I can not spot there changes to this target neither lwip). I suspect 5.6.0 also have this problem, then we need to bisect more files to actually get the change that caused this

@adustm Can you help?

[2017-10-04 06:31] 0xc0170 commented on #5244
cc @andreaslarssonublox @andreaspeterssonublox The driver will need an update most probably for this new toolchain

[2017-10-04 06:32] 0xc0170 commented on #5241
cc @tung7970 @Archcady

[2017-10-04 06:53] Archcady commented on #5241
IAR elf2bin tool ( aka. ielftool ) is always trying to do zero-padding to the holes of address, which take a long time. Right now we have to cut out useful pieces of binary code from original bin file in post-build process. @0xc0170, any idea to stop ielftool from padding?

[2017-10-04 07:43] tkaman commented on #5168
I cannot reproduce the issue on my machine, for me the given mbed test command with ARM_BEETLE_SOC and IAR goes through in about ~2 minutes (this is even a minute faster then with ARMCC).
On the other hand in the description the reproduce command does not contain ARM_BEETLE_SOC as target, a Realtek chip is the target there.
I tried this target and this is really slow, this takes about 45-50 minute

[2017-10-04 09:07] andreaslarssonublox commented on #5244
I tried to compile mbed-os(1.2.2) with ARMC6(6.5) with the sha version mentioned above and it failed to compile with the following reason:
        [DEBUG] Return: 8
        [DEBUG] Output: error: error opening 'C:\Users\ANDREA~1.d': permission denied
        [DEBUG] Output: 1 error generated.
        [DEBUG] Output: Fatal error: A1905U: Pre-processor step failed for 'C:\git\ARMmbed\mbed-os\rtos\TA

[2017-10-04 09:22] JanneKiiskila commented on #5244
I think we've used a Linux machine for the building. Error opening though would imply an access issue, any reason why the compilation process would not be able to access your `c:\users\andrea~1.d` folder/file?

[2017-10-04 09:29] andreaslarssonublox commented on #5244
I'm using windows 10. I can try it on a windows 7 machine as well. It works well with ARM 5.06u3 compiler though.

[2017-10-04 09:31] screamerbg commented on #4247
@JanneKiiskila have you tried updating to firmware V2.J29.M18?

[2017-10-04 09:41] andreaslarssonublox commented on #4247
I can confirm that it does not work to flash twice in linux. Do you have any updates @bcostm?

[2017-10-04 09:46] mikaleppanen commented on #5248
I cannot reproduce this with our ipv6 connection (4g router) and F429ZI. Both example client and client testapp works ok with ipv6 ethernet.

[2017-10-04 10:40] aritec opened #5251 "nRF51822 921600 baud bug"
On nRF51822 baud rate of 921600 b/s can't be set because of bug in serial_api.c:
for-loop needs to go up to 18
[code]

[2017-10-04 12:57] tung7970 commented on #5241
@Archcady  rom and image1 should be removed from ICF file for mbed. They are not actually referenced and causing huge zero-padding section.

[2017-10-04 14:03] 0xc0170 commented on #5241
@tung7970 Please send a fix

[2017-10-04 14:11] 0xc0170 commented on #5251
cc @nvlsianpu @anangl @pan-

[2017-10-04 16:16] jacobjohnson-ON commented on #5007
I ran some tests on this, and when outside of the test suite, the single byte write is working fine.  My measurements even suggest that it is working fine inside the test suite, but it isn't getting recorded properly.

I have attached a PDF with the results of testing the single byte write outside of the test suite.  I have also attached the captured data from a protocol analyzer which shows the c

[2017-10-04 20:54] loverdeg-ep opened #5254 "Wi-Fi WPA2-Enterprise support"
## Question

What is the current status of  WPA2-Enterprise support for WifiInterface and any existing WifiInterface implementations?

Planning?, progressing but private?, not on the roadmap? etc..

I'm seeing a couple projects in which stakeholders want to make WPA2-Enterprise a requirement.

[2017-10-04 21:24] c1728p9 opened #5256 "Host test timing_drift_auto can return passing result even if crash occurs"
The host test timing_drift_auto returns success based on the individual test cases run, but not on the test as a whole. Because of this, if a crash occurs during teardown after all tests have run and passed then the host test will return pass, even though a crash occurred.

An example of this can be seen on the [nightly results](http://mbedosci.cloudapp.net/results/nightly/1515/PASS/NRF51_DK/GCC_A

[2017-10-04 21:25] c1728p9 commented on #5256
cc @studavekar

[2017-10-05 05:11] chrylis commented on #4637
Thanks for explaining the problem clearly; I was able to manually edit my `.cproject` and get things working. Do you know when the CLI will have the fix applied?

[2017-10-05 05:18] janjongboom opened #5258 "Mbed OS 5.6: Error: Cannot open source input file "cmsis_os2.h""
3 reported errors [here](https://os.mbed.com/questions/79166/nRF52-cmsis_os2h/) on nRF52-DK, FRDM-K22F, NUCLEO-F401RE and NUCLEO-F429ZI.

Problem does not appear on Mbed OS 5.5.7.

[2017-10-05 05:40] 0xc0170 commented on #5258
I could reproduce the issue with blinky and k64f.

I recall there was an addition for CORTEX keyword, might be still missing deployment? @theotherjimmy

[2017-10-05 05:41] 0xc0170 commented on #5254
cc @SeppoTakalo @sg-

[2017-10-05 05:43] janjongboom opened #5259 "Override CLOCK_SOURCE via mbed_app.json ?"
### Description
- Question

## Question

As asked [here](https://os.mbed.com/questions/79176/NUCLEO-F302R8-with-HSI/). Is it possible to override CLOCK_SOURCE through mbed_app.json ?

[2017-10-05 06:08] JanneKiiskila commented on #5248
Indeed, @mikaleppanen  is right - turns out we had a really strange CI networking issue - some boards didn't get an IP-address anymore, while some boards in the same setup did. We've never seen this kind of failure before and as some other boards were getting both IPv4 and IPv6 address we never guessed to suspect a network issue. But, that was the root cause for this incident.

Apologies for the f

[2017-10-05 06:30] teetak01 commented on #5248
Yeah, turned out be a test-lab issue. Closing. Nucleo is working again for us.

[2017-10-05 06:30] #5248 closed

[2017-10-05 07:21] 0xc0170 commented on #5259
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-10-05 08:07] schstm commented on #4247
Hello,
I tried on my side with a Nucleo-F429 (firmware V2J28M18) to program by drag&drop an application (1.8 MB) several times both on Windows 10 and Ubuntu 14, and found no issue.
Note that one must wait some time at the end of the first programming, in order to have the mass storage interface refreshed (bin file 'disappeared', available size back to 2MB), before attempting a new programming. Oth

[2017-10-05 08:41] jeromecoutant commented on #5259
Hi
Yes, it is possible to override CLOCK_SOURCE.

Here is an example of mbed_app.json:

{
    "target_overrides": {
        "NUCLEO_F410RB": {
            "target.clock_source": "USE_PLL_HSI"
        }
    }
}

I agree this is not so easy to use and understand... Maybe ARM should update MBED page:
https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/advanced/config_system/

Have also a look on ST wi

[2017-10-05 08:53] jeromecoutant commented on #5136
Can we close this issue ?
Thx

[2017-10-05 08:54] #5136 closed

[2017-10-05 09:17] janjongboom commented on #5259
Thanks @jeromecoutant.

@iriark01 I see we don't have a section for target settings in https://os.mbed.com/docs/v5.6/reference/configuration-overview.html, would be good to add.

[2017-10-05 09:18] iriark01 commented on #5259
@AnotherButler

[2017-10-05 09:49] tung7970 commented on #5241
After further check, the zero-padding issue is due to multiple separated memory regions. The zero-padding is causing lengthy process time and huge binary size. We were able to solve binary size issue with our post processing script, but not the zero-padding behavior of ielftool.

The reason for having multiple memory regions is to have fine-grain control over object placement. But I think it is no

[2017-10-05 10:17] tung7970 commented on #5241
@Archcady  Please help check if I have broken anything.

[2017-10-05 10:38] Archcady commented on #5241
Thanks @tung7970 , It works.

[2017-10-05 11:08] 0xc0170 commented on #5211
Great, waiting for the patch!

[2017-10-05 11:39] JanneKiiskila commented on #4372
ARM CC v5.06 update 6 has this fix included to it, we recommend updating your compiler.

[2017-10-05 11:51] 0xc0170 commented on #4372
@mikaleppanen If you are happy with the proposal, please close the issue.

@JanneKiiskila we should make sure our CI have this installed?

[2017-10-05 12:04] JanneKiiskila commented on #4841
Would this also impact the SD-card if one had an SD-card in the SPI-bus?

[2017-10-05 12:08] JanneKiiskila commented on #4372
Our CI has been taken care of already by @miklis.

[2017-10-05 12:13] kjbracey-arm commented on #5079
In case it's useful, I've was seeing failures of DTLS/UDP handshakes against mbed Cloud server on the Ublox Odin W2. On 5.6.0, with the crypto acceleration enabled, it fails, but on 5.6.1 with it disabled it works.

But what's odd, and that I can't explain is that TLS/TCP handshakes did actually work on the same system in 5.6.0 with the hardware crypto enabled.

I can't see any difference in what

[2017-10-05 12:18] SeppoTakalo commented on #4841
It could. needs verification.

[2017-10-05 14:14] AnotherButler commented on #5259
@janjongboom You can find the section about adding and configuring targets here: https://os.mbed.com/docs/v5.6/tools/adding-and-configuring-targets.html

[2017-10-05 14:15] deepikabhavnani commented on #4841
Yes if read response is always 0xFF, than no device (including SD card) on SPI bus will work properly. If it is randomly 0xFF than we may see corruption not related to actual data on SD card, but because of SPI.
In this case of corruption data on SD card will be correct, and device may work again after reset.

I would like to know if this behavior is observed on all devices on SPI bus?

[2017-10-05 16:12] #5186 closed

[2017-10-05 22:39] studavekar commented on #5168
@tkaman you're right in above comment, i am closing this issue.

[2017-10-05 22:39] #5168 closed

[2017-10-05 22:41] studavekar commented on #5239
closing as fix is been merged.

[2017-10-05 22:41] #5239 closed

[2017-10-06 04:10] janjongboom commented on #5259
@AnotherButler Nothing there mentions the ability to override target properties through mbed_app.

[2017-10-06 06:26] lauri-piikivi commented on #5254
Enterprise WPA support is on our backlog, but has not gained enough demand to make it to the roadmap yet. It would be nice to understand better the your needs for this, which mode and in what schedule? If that can not be written here, please contact me via mail lauri dot piikivi at arm dot com

[2017-10-06 08:17] #4372 closed

[2017-10-06 08:29] peeyushpashine opened #5265 "what is importance of DEVICE_I2C_ASYNCH and strategy here?"
### Description
- Type: Question
- Related issue: DEVICE_I2C_ASYNCH
- Priority: Minor

---------------------------------------------------------------
## Question

What is the significance of DEVICE_I2C_ASYNCH flag for the targets? I see it was added for Nucleo F031K6 recently. @bcostm

[2017-10-06 08:42] 0xc0170 commented on #5265
It was added as an addition to regular i2c API that provides blocking API - async API (write/read with event callbacks).

[2017-10-06 08:52] janjongboom opened #5266 "Build errors in online compiler for lpc812, lpc1549, lpc824, ssci824"
Error: The build system did not finish successfully.
Info: Unable to download. Fix the reported errors...

This is happend if I use following target:
NXP LPC800-MAX (lpc812)
LPCXpresso1549 (lpc1549)
LPCXpresso824-MAX (lpc824)
Switch Science mbed LPC824 (ssci824)

Not depends on library version or web browser.  No additional message is shown by enabling the Verbose check-box (it does not seem to ki

[2017-10-06 09:40] lightway29 opened #5267 "CAN read doesn't work when the interrupt is attached."
### Description
- Type: Bug
- Priority: Major

This is a simple CAN read sample.Which is suppose to flip the led1 when a can message is received.The attached interrupt function is never called even though the messages received.

_Note - CAN messages are sent from another device with an interval of 1sec._

[code]
But this works without any issue
[code]

---------------------------------------------

[2017-10-06 11:19] 0xc0170 commented on #5159
bump, could you reproduce this behavior?

[2017-10-06 11:31] bcostm commented on #5218
I have replaced the mbed library by the mbed-os library in the example and the sleep/deepsleep works fine even if I still have the 'deprecated message' for the deepsleep function.

Is it normal that we can't use anymore sleep/deepsleep with mbed library ?

[2017-10-06 11:46] 0xc0170 commented on #5218
It should have the same behaviour in this case (mbed-os or mbed lib). Be aware, sleep manager got in 5.6 so this issue is not related (reported for 5.5.x).

All valid, since 5.6 however be aware that sleep is an entry function for sleep (that could be sleep or deepsleep, based on the sleep manager sleep counter state (deep sleep allowed od not). I'll have a closer look at the above example, and se

[2017-10-06 12:11] bcostm commented on #5265
With the asynchronous mode, you can send a transfer and do something else in the meantime (process more code or go to sleep). You will receive a notification via a callback when the transfer is finished.

[2017-10-06 13:17] 0xc0170 commented on #4120
bump

[2017-10-06 13:19] 0xc0170 commented on #5185
Any luck?

[2017-10-06 15:55] theotherjimmy commented on #5259
@janjongboom  see https://os.mbed.com/docs/v5.6/tools/the-configuration-system.html#overriding-target-attributes

[2017-10-06 16:32] andresag01 commented on #5079
@kjbracey-arm: Thanks for your input. Please note that I have created https://github.com/ARMmbed/mbed-os/issues/5036 to add more stress tests like the one you are suggesting.

[2017-10-09 02:05] maclobdell commented on #4120
@jessexm - can you help with this?

[2017-10-09 02:28] maclobdell commented on #5007
Thanks a lot Jake.  This is good news.  It is unusual that the problem is so repeatable with the ci-test-shield tests.  Looking at the protocol traffic during the failing test, I do see the error.  Could there be a board-to-board variation or maybe there is a system timing difference.

[2017-10-09 08:51] janjongboom commented on #5259
@theotherjimmy ok, cool.

[2017-10-09 08:51] #5259 closed

[2017-10-09 09:40] LMESTM opened #5276 "Export fails when passing `-c`"
As first reported here: https://github.com/ARMmbed/mbed-os-example-blinky/issues/86
I'm facing an issue that seems to be related to MBED OS tools as reported by @0xc0170

## Description

I imported this example in my environment
`mbed` import `mbed-os-example-blinky`

Compiled ok:
` mbed compile -t IAR -m NUCLEO_L476RG `

Trying export fails:
[code]

Windows OS, with MINGW64

[2017-10-09 09:48] SeppoTakalo commented on #5139
This seems to be fixed now in Mbed OS 5.6.2 and master branch.

Can somebody verify whether fix was applied or do I fail to reproduce the problem?

[2017-10-09 09:54] 0xc0170 commented on #5276
cc @theotherjimmy

[2017-10-09 10:02] mprse opened #5279 "Ticker interrupt executed periodically on K64F platform"
### Description
- Type: Bug
- Priority: Minor

While working with:
- PR https://github.com/ARMmbed/mbed-os/pull/5233
- PR https://github.com/ARMmbed/mbed-os/pull/5234
I noticed that ticker interrupt is handled in different way on K64F platform.
I have checked the following platforms: K64F, NUCLEO_F429ZI, NUCLEO_F070RB, NUCLEO_L476RG, NRF51_DK, ARCH_PRO.

-------------------------------------------

[2017-10-09 10:08] SeppoTakalo commented on #5139
I tried to bisect and looks like the behaviour changed in https://github.com/ARMmbed/mbed-os/pull/5080

Can this be the corrective action or is this just a side effect, (or me not bisecting correctly).

[2017-10-09 10:55] Alonof opened #5280 "FlashIAP Error Handling"
### Description
All FlashIAP APIs return "-1" as an error, there is no way of knowing what is the real error
- Type:  BUG
- Priority:  Blocker

## Bug

**Target**
all Boards

**Toolchain:**
GCC_ARM|

**Toolchain version:**

**mbed-cli version:**
1.2.0

**mbed-os sha:**
cc7556a92 (HEAD, tag: mbed_lib_rev152, tag: mbed-os-5.6.1, tag: latest) Merge pull request #5184 from
ARMmbed/release-candidate

*

[2017-10-09 11:02] Alonof opened #5281 "FlashIAP::program failed on ODIN board"
### Description
- Type: Bug
- Priority:  Major

## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**

**mbed-cli version:**
1.2.0

**Expected behavior**
FlashIAP:: program failed programming the internal flash on Odin Board.
Same code that runs on NUCLEO F429ZI ( the same CPU has ODIN) passes while in ODIN is failing

**Actual behavior**
calling FlashIAP:: p

[2017-10-09 11:04] 0xc0170 commented on #5281
cc @andreaslarssonublox @andreaspeterssonublox

[2017-10-09 11:19] 0xc0170 commented on #5279
cc @mmahadevan108

[2017-10-09 11:38] SeppoTakalo opened #5282 "Compiling for ARMC6 picks up TOOLCHAIN_ARM folders also"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Toolchain:**
ARMC6

**Expected behavior**
When compiling Mbed OS, it should pick up folder `TOOLCHAIN_X` only if the `X` matches the toolchain you are using.

**Actual behavior**
When compiling using `ARMC6` it picks up also `TOOLCHAIN_ARM` folders.

**Steps to reproduce**
[code

[2017-10-09 11:40] SeppoTakalo commented on #5244
Might be related: https://github.com/ARMmbed/mbed-os/issues/5282

[2017-10-09 11:53] teetak01 commented on #5139
It would seem that already Mbed OS 5.6.1 fixed this issue.

[2017-10-09 12:37] mmahadevan108 commented on #5185
I am able to reproduce the issue and will look at fix.

[2017-10-09 14:00] 0xc0170 opened #5284 "Fire interrupt function broken for nrf5x targets"
### Description
- Type: Bug
- Priority: Minor

## Bug

**Target**
Any nrf51 possibly

**Toolchain:**
Any

**Expected behavior**

Tickers (us or lp) should set pending bit and ticker irq handler should be instantly called.

**Actual behavior**

Test fails (no callback is called). If I replace fire_interrupt  with invoking directly isr ticker handler, then it works.

[code]

**Steps to reproduce**

[2017-10-09 15:33] theotherjimmy commented on #5276
@LMESTM @0xc0170 Yeah. I'll remove `-c`. It no longer makes sense.

[2017-10-09 16:17] screamerbg commented on #5284
cc @ARMmbed/team-nordic

[2017-10-10 04:45] jiandeng commented on #5284
The nrf5 targets implementation will trigger interrupt in around two ticks instead of triggering it instantly. Failing the ** insert_absolute zero ** case. If there is no way to actually trigger RTC.CC interrupt instantly, shall we consider trigger an SWI and call interrupt handler in the SWI?

[2017-10-10 07:57] 0xc0170 commented on #5284
That would be possibility, however this should be sufficient as it is. As pointed out above, the implementation does not look correct for nrf5x targets, I got it fixed at least seems to me should be functional but the test still fails (test is waiting on semaphore that is released in the handler). Please see the referenced PR above that is failing due to this bug

[2017-10-10 08:38] TTornblom commented on #5134
Obviously I had misunderstood how this board works. I didn't realize it has an on-board J-Link, which works great with IAR Embedded Workbench. The example I exported from mbed works great when run under C-SPY, and I see no real reason to change anything.

Sorry for the noise.

[2017-10-10 08:58] andreaslarssonublox commented on #4913
@JaniSuonpera  I have created a new binary that might solve this issue. I have not had time to verify it yet. Maybe you can try? See https://github.com/ARMmbed/mbed-os/pull/5287

[2017-10-10 08:58] pan- commented on #5284
Immediate scheduling of the IRQ would be better if a solution is found. Did you try to use `nrf_rtc_event_enable` ?

[2017-10-10 09:35] 0xc0170 commented on #5284
The code snippet is shared above, NRF51_DK tested with this for fire interrupt:

[code]

[2017-10-10 10:17] andreaslarssonublox commented on #5281
Hi @Alonof,
We have tested it for the latest driver release candidate here https://github.com/ARMmbed/mbed-os/pull/5287 and also for the previous https://github.com/ARMmbed/mbed-os/pull/4567 and the FlashIAP test cases passed.

Can you provide the following:
- test application
- mbed-os commit SHA
- toolchain versions

[2017-10-10 10:36] andreaslarssonublox commented on #5244
Ok, should we close this then since it should not be possible to compile it according to #5282?
We can open a new PR for the "permission denied" issue if it persists when we add support for the ARMC6 compiler.

[2017-10-10 13:19] 0xc0170 commented on #5284
after discussion with @pan- , we proposing a fix for this - using sw flag to indicate SW IRQ SET. Plus set pending IRQ. Thus in IRQ handler we check if SW IRQ was requested, and invoke ticker handler. The fix is now in the test PR referenced here.

Tested with nrf51_dk, test is now passing. It should be something simialar to what @jiandeng proposed above.

[2017-10-10 13:25] JanneKiiskila commented on #5244
Yep, we should file a compiler bug for the ARMC 6 issue.
Bigger question then is do you really to deliver binaries or could you deliver source code?
We'll have this same issue with every compiler change.

[2017-10-10 14:08] LMESTM commented on #5159
@0xc0170 - I'll have a quick look
but can't you reproduce the test with using the MBED APIs rather than direct calls to HAL layers -  which is not supposed to happen, right ?

[2017-10-10 14:40] fkjagodzinski commented on #5159
The code embedded above does not use upper layers to simplify the use case. Same behaviour occurs when `LowPowerTimeout::attach()` is called with 0.0 s delay. Please take a look [here](https://github.com/ARMmbed/mbed-os/pull/5106/files#diff-1d9800dc106857858ddb1e90395a3479R189).

[2017-10-10 15:10] bcostm opened #5290 "Cannot build NUCLEO_L011K4 with uARM anymore"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L011K4

**Toolchain:**
uARM

**mbed-cli version:**
1.1.1

**mbed-os sha:**
df88a9dcc

**Expected behavior**
Build OK

**Actual behavior**
[code]

**Steps to reproduce**
python ./tools/build.py -v -x -j 4 -m NUCLEO_L011K4 -t uARM

[2017-10-10 15:11] LMESTM commented on #5159
@fkjagodzinski OK thx
I pushed #5289 - could you confirm this is fine for you?
@jeromecoutant would you consider this patch as part of your ongoing tests ?

[2017-10-10 15:46] LMESTM commented on #4967
@LiyouZhou Your problem should have been solved with #5026 - if confirmed, can you please close this issue ?

[2017-10-10 16:06] Avnet-Silica commented on #1561
I understood all the discussion and prons and cons, but four more things:
- in your solution to check heap top, if you allocate something in the heap, and the stack will grow later to use memory values below the actual heap top, you will overwrite the data allocated in the heap, and you have no way to know this had happened except for random behavior of your device;
- having a known error ( heap m

[2017-10-10 17:09] bulislaw commented on #5198
@scartmell-arm will propose solution, based on comments here.

[2017-10-11 07:57] berzin11295 opened #5294 "EthernetInterface static IP socket connect error"
## Bug
Error -3004 is occured when I'm trying to establish socket connection. If I'm using dhcp, it works, but sometimes (randomly) it can't get ip address and returns -3009.

Board NUCLEO F767ZI
MBED-OS 5.6
[code]
Thank you for your attention!

[2017-10-11 09:50] pan- commented on #5009
Calling `Gap::stopAdvertising` should be sufficient to stop the advertising.

That's not how the connection process work in BLE. A peripheral listen for connection requests after any connectable advertisement, similarly a central send a connection request right after the reception of an advertising packet it want to connect to. A central does not send random connection requests.

It is important t

[2017-10-11 11:19] nvlsianpu opened #5297 "nRF52 SPI had been broken by `Add sleep manager API` PR"
PR: https://github.com/ARMmbed/mbed-os/pull/4912 introduced changes which somehow broke the SPI for NRF targets. Cl test sheilld test test-api-spi hangs on  the case 'SPI - SD card exists' (which is the first with real communication process).

I have tested that even in case I force device to not going to sleep  (I mocking hal sleep function by empty one) the test was still hanging. So looks like

[2017-10-11 11:57] #4018 closed

[2017-10-11 12:09] chrissnow opened #5298 "LPC1768: Ethernet"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
LPC1768

**Toolchain:**
ARM

**Expected behavior**
TCPSocket_Example should work

**Actual behavior**
[code]

**Steps to reproduce**
Build the TCPSocket_Example with 5.5.7 and it will be fine, any 5.6\master will fail to get an IP, using static IP will still fail to wor

[2017-10-11 12:15] 0xc0170 commented on #5298
cc @kjbracey-arm @SeppoTakalo

[2017-10-11 12:18] 0xc0170 commented on #5297
Pinpointed rev cb4e9b3, this does not work , any earlier commit works?

I'll try to reproduce this issue.

[2017-10-11 12:19] 0xc0170 commented on #5294
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-10-11 12:20] 0xc0170 commented on #5290
cc @theotherjimmy

[2017-10-11 12:23] 0xc0170 commented on #5290
I can confirm this, reproduced locally. Seems like ARM Micro object does not overwrite this exception (it only checks for ARM keyword, for uARM it should be uARM instead of ARM)

[2017-10-11 12:25] nvlsianpu commented on #5297
Yes, from this rev. including. Any earlier revision works well.

[2017-10-11 12:47] JaniSuonpera commented on #4913
@andreaslarssonublox I am quite busy during this week. Testing this goes next week. I can try when I have free slot.

[2017-10-11 13:40] 0xc0170 commented on #5297
Is this only for NRF52 DK? I can't reproduce on NRF51DK

Taken from https://github.com/ARMmbed/ci-test-shield/blob/master/TESTS/API/SPI/SPI.cpp

[code]

latest mbed-os master.  I do not see how this test can be affected by sleep manager addition (there is no sleep involved as you noted above,  it does not affect the code).

[2017-10-11 13:53] mjs-arm commented on #1561
Picking up on two of the (much) earlier comments:

*) Placing a 32 byte guard block below each stack (assuming mpu hw) is not sufficient it itself.

To prevent accidental collisions due to insufficient RAM leading to heap and stack collision the guard block needs to be large enough that a stack frame cannot straddle  the guard.

But from a security perspective (i.e. preventing a variety of attacks

[2017-10-11 13:59] nvlsianpu commented on #5297
Fortunately NRF51 works well. You need a nrf52 device.

[2017-10-11 14:34] 0xc0170 commented on #5297
These 2 devices do not share the common HAL port? https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_NORDIC/TARGET_NRF5  - there are only few differencies. I am failing to see how that commit referenced above can affect SD card test.

 I dont have nrf52 currently. @pan- could you help?

[2017-10-11 19:28] danclement opened #5301 "Project exporters and CMSIS Pack for NCS36510 target"
**Need advice for how best to implement a minimal viable CMSIS pack for target NCS36510, how to test it, and how to integrate the pack into mbed so the project exporter can support Keil (and GCC and IAR if they can use the CMSIS pack also).**

@theotherjimmy @maclobdell @jacobjohnson-ON

### Summary of question points

1. What is included in a minimal CMSIS device pack?
2. How do we test this CMSI

[2017-10-11 20:12] jrobeson commented on #4927
@pan-

I forgot i had made the change to   `SCB_ICSR_RESERVED_BITS_MASK`  also. This still needs to happen right?

[2017-10-11 20:14] 40Grit commented on #1561
Still can't understand why a core would ever be designed such that return addresses are pushed onto the same stack that data is pushed to.

Additional informational reference:
https://embeddedgurus.com/state-space/2014/02/are-we-shooting-ourselves-in-the-foot-with-stack-overflow/

[2017-10-11 20:51] pan- commented on #4927
@nvlsianpu What do you think ?

[2017-10-12 01:43] toyowata commented on #5266
Building with Mbed CLI for these targets should still work.

https://os.mbed.com/users/MACRUM/notebook/how-to-build-micro-library-target-by-mbed-cli
https://os.mbed.com/users/MACRUM/notebook/using-mbed-cli-with-LPC824/

[2017-10-12 03:52] janjongboom commented on #5266
cc @theotherjimmy @screamerbg @sg-

[2017-10-12 08:21] gorazdko opened #5304 "ADC on lpc546xx not working?"
### Description
- Type: Question

I am running an example with AnalogIn API to read external voltage (with P0_16 or any analog pin) on my custom lpc54606 board. The program hangs because `ADC_GetChannelConversionResult` is returning false.

mbed-os sha:
df88a9dcc2700535ca00bdf8dbeb86ab048c396f

## Question
Can anyone confirm the example is working on LPC54608?

[code]

@mmahadevan108

[2017-10-12 08:56] ccli8 commented on #5076
Fixed on mbed-os-5.6.2.

[2017-10-12 08:56] #5076 closed

[2017-10-12 09:37] seppestas commented on #4357
What's the status of the issue? We are also experiencing weird problems with I2C interface that might be explained by this issue (branch based on mbed-os 5.4.7).

It looks like this issue was fixed in PR #4634, but this issue is still open. Is there a reason for this?

[2017-10-12 09:58] 0xc0170 commented on #4967
Reopen if this is still valid

[2017-10-12 09:58] #4967 closed

[2017-10-12 10:04] 0xc0170 commented on #5297
cc @scartmell-arm - I recall the bug report related to this, Could you rerun the example above or the test, and find out the root cause?

[2017-10-12 11:03] 0xc0170 commented on #1035
I believe this is resolved, as now k64f pinout states PTC12, as it should

[2017-10-12 11:03] #1035 closed

[2017-10-12 11:56] 0xc0170 commented on #707
@neilt6 I believe this is not case anymore since the update, macros are similar but now used as bytes.  I reviewed RTX_Config.h and how those macros are used in the codebase.

I'll close this as resolved. If  this is not the case, as pointed above, we should report it directly to CMSIS5 repository

[2017-10-12 11:56] #707 closed

[2017-10-12 12:06] maciejbocianski opened #5307 "NCS36510: Inconsistent Ticker callback calls when scheduled many tickers at the same time"
When schedule many Tickers one after the other with the same time interval 100ms and then wait 105ms it's expected that after this time all Tickers will be fired once. But we get other results sometimes not all tickers are fired and sometimes some fire more then once

Problem noticed in https://github.com/ARMmbed/mbed-os/pull/5261 in the following test
[code]
Sample code for reproduction
[code]

#

[2017-10-12 12:07] 0xc0170 commented on #859
Is this still relevant @neilt6 . Thread implementation contains this line https://github.com/ARMmbed/mbed-os/blob/master/rtos/Thread.cpp#L47 , that is relevant for this issue.

[2017-10-12 12:08] 0xc0170 commented on #722
Resolved already via attaching a hook for idle loop

[2017-10-12 12:08] #722 closed

[2017-10-12 12:11] 0xc0170 commented on #5307
cc @danclement  @jacobjohnson-ON @maclobdell

[2017-10-12 12:35] bcostm commented on #5294
Just to inform others that I have tested the above code on the NUCLEO_F767ZI and I have reproduced the issue (error -3004).

I have also tested the same code on a NUCLEO_F746ZG and NUCLEO_F429ZI and no problem seen.

[2017-10-12 12:44] mprse opened #5308 "RTC set/get time issue on NCS36510"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NCS36510

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-cli version:**
1.2.0

**mbed-os sha:**
47c890da8

**Expected behavior**
When RTC time value is set and read in sequence, then set value should be returned by the read function.
After setting RTC time we should have about

[2017-10-12 13:17] 0xc0170 commented on #5307
Same behavior (same issue) is also for KL46Z cc @mmahadevan108

[2017-10-12 13:55] 0xc0170 commented on #5308
cc @danclement @jacobjohnson-ON @maclobdell

[2017-10-12 14:35] maciejbocianski opened #5309 "MAX32630 MAX32625: Program hangs when scheduled many tickers one after the other with the same time interval"
When schedule many Tickers one after the other with the same time interval 100ms and then wait 105ms it's expected that after this time all Tickers will be fired once. But we get other results. There is no action test hangs and timeout occurs

Problem noticed in https://github.com/ARMmbed/mbed-os/pull/5261 in the following test
[code]
Sample code for reproduction
[code]

### Description
- Type: Bu

[2017-10-12 14:56] pawel-biczysko-tridonic-com opened #5310 "Missing content-format for static resources"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STMF32F0

**Toolchain:**
All

**mbed-os sha:**
https://github.com/ARMmbed/mbed-os/commit/47c890da8370e5e926fcc4d350c4b1b78f4f09fb & https://github.com/ARMmbed/mbed-os/commit/8828635da469162cf2854b5287561c663fb96e72

**Expected behavior**
Content format "text/plain" shou

[2017-10-12 22:51] danclement commented on #5307
Our us ticker on NCS36510 is a software implementation that wraps two 16 bit counters and makes them look like one.  Inside this software wrapper are interrupts and ISRs.  I suspect that these nested interrupt handlers are causing priority issues in the overall system as the ticker and what is attached to it are basically an interrupt and ISR also.

Maybe our us ticker needs to disable other inter

[2017-10-12 23:05] danclement commented on #5308
FYI, there is no posted documentation that I could find that would make it clear the RTC is associated with this set_time and time functions...  Can you link me to something?

I have no idea why this wouldn't work.  We will have to look into it.

[2017-10-13 03:40] toyowata commented on #5298
@chrissnow

I didn't get any problem with mbed-os-example-sockets example.

[Result]
[code]

[Build steps]

[code]

mbed-os-example-sockets (b32ff45174cc)
`- mbed-os (6e0d01cd13e8)

[2017-10-13 06:09] mprse commented on #5308
@danclement
Hi, the source code of set_time() and time() functions indicates that time is based on RTC:
https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_rtc_time.h
https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_rtc_time.cpp

[2017-10-13 06:41] 0xc0170 commented on #5309
cc @kgills @jeremybrodt

[2017-10-13 07:03] malachib commented on #4549
I am very much interested in this also as per #3370

[2017-10-13 08:28] 0xc0170 commented on #5307
The ticker API supports 16 bit tickers (there are few more changes needed as I recall (related to the maximum delta that is predefined now?), @pan- can confirm).

[2017-10-13 10:45] chrissnow commented on #5298
@toyowata could you try with the ARM compiler?
Having just tested GCC_ARM myself it does seem to work.

[2017-10-13 11:11] 0xc0170 commented on #5258
This seems to be resolved, I've tested blinky again today, no issues

[2017-10-13 11:11] #5258 closed

[2017-10-13 11:13] 0xc0170 commented on #5281
@Alonof bump

[2017-10-13 11:15] chrissnow commented on #5298
I think the cause may be here
https://github.com/ARMmbed/mbed-os/blob/df88a9dcc2700535ca00bdf8dbeb86ab048c396f/features/FEATURE_LWIP/lwip-interface/lwip-eth/arch/TARGET_NXP/lpc17_emac.c#L149-L153
It looks like It's missing the ARM equivalent

Changing that to include ARM fixes it.

[2017-10-13 11:21] 0xc0170 commented on #5298
That line has been there for 2 years, interesting

[2017-10-13 11:22] chrissnow commented on #5298
It also explains why I have next to no RAM when using Ethernet...

[2017-10-13 11:27] chrissnow commented on #5298
I can sort out a PR if this is the true cause, It certainly fixes a number of issues for me.
Let me know what you think.

[2017-10-13 12:07] 0xc0170 commented on #5129
@andrewc-arm If you find any issues, please reopen. The fix was integrated

[2017-10-13 12:07] #5129 closed

[2017-10-13 12:07] 0xc0170 commented on #5139
@SeppoTakalo Can you confirm, that since 5.6.1 this is working?

[2017-10-13 12:13] 0xc0170 commented on #5195
@maclobdell The fix was integrated. Please reopen if the issue persist

[2017-10-13 12:13] #5195 closed

[2017-10-13 12:17] 0xc0170 commented on #5167
@vergil-SI I  believe this is related to DAPLink, the latest answer can be found - https://github.com/mbedmicro/DAPLink/issues/323, the target is not supported

cc @nvlsianpu @anangl

I would close this issue, and follow up in the 2 referenced issues here

[2017-10-13 12:25] 0xc0170 commented on #5134
Does this mean this issue can be closed as resolved?

[2017-10-13 12:28] 0xc0170 commented on #5118
@j3270 Is this still relevant? I can see the referenced issue reopened recently?

[2017-10-13 12:33] 0xc0170 commented on #5114
@amq Does the above answer your question?

[2017-10-13 12:37] 0xc0170 commented on #5128
If you can share what board you have (any revision)? More details so we can compare what differences are there.

[2017-10-13 12:41] 0xc0170 commented on #5150
bump

[2017-10-13 12:42] 0xc0170 commented on #5156
@amq Is this question still unanswered or resolved?

[2017-10-13 12:47] JojoS62 commented on #5167
There is also another problem with the nrf Targets and the exporters: the nrf targets need a precompiled runtime (closed source part) that is delivered as a .hex file and cannot be included in the link process. So the compiled project and the Nordix hexfile must be concatenated with a tool as postbuild step. A workaround is to flash the S130.hex manually before the project.hex, that worked for me.

[2017-10-13 12:48] 0xc0170 commented on #5056
@JanneKiiskila @JammuKekkonen Is this still true ? There have been some fixes for 5.6.

[2017-10-13 13:36] 0xc0170 commented on #5035
@darbyShaw Is this considered resolved?

[2017-10-13 14:22] #5115 closed

[2017-10-13 14:25] marcuschangarm commented on #5056
Yes, there are still some issues.

[2017-10-13 14:49] maclobdell commented on #5309
@ARMmbed/team-maximintegrated

[2017-10-13 15:36] #5156 closed

[2017-10-13 15:36] #5114 closed

[2017-10-13 15:39] amq commented on #5156
@0xc0170 answered, but looks like the solution is not fully there yet

[2017-10-13 15:44] amq commented on #5114
@0xc0170 answered (not possible), but I can imagine dynamic linking as a feature in the future. Alternative approach: [binary patching](https://os.mbed.com/blog/entry/towards-fota-lora-crypto-delta-updates/)

[2017-10-13 15:57] mmahadevan108 commented on #5185
PR https://github.com/ARMmbed/mbed-os/pull/5314 should fix this issue.

[2017-10-13 15:59] geky commented on #5298
This looks like the right fix, although I don't know what could have caused it to break in 5.6, @kjbracey-arm thoughts?

@chrissnow If you're interested in creating a pr that would be great

[2017-10-13 17:04] neilt6 commented on #5266
I'm experiencing this issue as well on both the pre-compiled mbed library, and mbed-dev.

[2017-10-13 17:10] neilt6 commented on #859
@0xc0170 I don't believe casting the stack pointer to a `uint32_t*` will correct the alignment, so the issue is still relevant.

[2017-10-13 17:45] vergil-SI commented on #5167
Good info, thanks. I'll close this and follow the referenced issues.

[2017-10-13 17:45] #5167 closed

[2017-10-13 19:13] mmahadevan108 commented on #5279
PR https://github.com/ARMmbed/mbed-os/pull/5316 should fix this issue.

[2017-10-13 19:27] j3270 commented on #5118
@0xc0170 Nope, theotherjimmy fixed it.

Thanks,

[2017-10-13 19:27] #5118 closed

[2017-10-13 20:03] kegilbert commented on #5082
A user made an issue recently about warnings in blinky builds for another device. Ran into this on the online compiler when building for K64F (253 warnings). Are there any updates on this?

@0xc0170
@mmahadevan108

[2017-10-13 21:03] malachib commented on #4549
@helmut64 similar boat here.  Arduino is great for what it is, but I am more confident in mbed for mission critical

[2017-10-13 21:43] sarahmarshy opened #5318 "LPC4088 Compilation Warnings"
Inspired by: https://os.mbed.com/forum/bugs-suggestions/topic/28059/

mbed-os-example-blinky compiles with 8 warnings for this target. Half of them from LWIP, half from NXP HAL.

@0xc0170, who's the right person from NXP to tag?

[2017-10-13 22:18] kegilbert commented on #5318
I can fix up the LWIP warnings.

[2017-10-13 22:27] kegilbert commented on #5318
@sarahmarshy PR is up for LWIP warning fixes.

[2017-10-14 19:14] JanneKiiskila commented on #5139
I don't think this is limited to WiFI only, I think it's also the ethernet stack. I.e. any networking you enable on the Odin will crash like this.

[2017-10-15 15:24] pan- commented on #859
Agreed, it has not been fix and a cast won't solve the issue. However we need the max alignment available on the target, `uint32_t` does not offer that guarantee.

[2017-10-15 16:20] chrissnow commented on #5298
PR #5322 has the fix.

[2017-10-16 07:03] maciejbocianski commented on #5185
Fixed works properly
[code]

[2017-10-16 07:04] kjbracey-arm commented on #5298
No particular knowledge of memory layout for this board - I think maybe @mikaleppanen may have looked at this while updating to lwIP 2.0

[2017-10-16 08:05] mikaleppanen commented on #5298
Maybe updated lwip stack uses a bit more memory. Haven't tested the lwip 2.0 with this board, but there is free memory in the AHBSRAM1, so the area can be located there. Change is ok for me.

[2017-10-16 08:07] darbyShaw commented on #5035
@0xc0170  Yes resolved using the Serial interface. Thank you.

[2017-10-16 10:17] Alonof commented on #5281
after running the tests today
there is no failure on the flash API

[2017-10-16 12:07] bcostm commented on #5128
Same for me. Your sample works perfectly on my board.

Here my bin file:
[blink_test.zip](https://github.com/ARMmbed/mbed-os/files/1387327/blink_test.zip)

[2017-10-16 12:12] bcostm commented on #5102
Can you please close this issue ? PR #5113 has been merged) ? Thanks.

ST_TO_BE_CLOSED

[2017-10-16 12:14] bcostm commented on #4653
Bump

[2017-10-16 12:17] bcostm commented on #4606
Can you please close this "issue" ? Thanks.

ST_TO_BE_CLOSED

[2017-10-16 12:20] bcostm commented on #4269
@bsrirao Can you please check again and close this issue if there is no more problem. Thanks.

ST_TO_BE_CLOSED

[2017-10-16 13:30] bcostm commented on #3501
bump

[2017-10-16 13:41] bcostm commented on #2293
I have checked in our test result database and both tests are PASS from mbed-os versions 5.5.1 to 5.5.6

[2017-10-16 14:01] #2293 closed

[2017-10-16 19:18] andreaslarssonublox commented on #4841
Hi,
I looked at the code in NanostackRfPhyAtmel:rf_if_reset_radio and the SLP_TR is set to 0 which is not done in the example above. If this is inserted in the example it seems to work. Can you verify it @SeppoTakalo?

[2017-10-17 01:41] andrewc-arm commented on #5128
Hi, I checked blink_test.zip works to my board. Then it must be some local setup issue. I will investigate later. Thanks!

[2017-10-17 01:41] #5128 closed

[2017-10-17 07:53] NeilMacMullen commented on #4357
@seppestas   Sorry not to reply earlier.  From my testing the issue appears to be resolved on 5.6.  Having said that, I am interested in the nature of the problems you are seeing.  We still see a high level of I2C failures and SPI lockups even with this fix.  I'm still trying to establish whether this is actually a hardware issue or further issues with software/digits.

[2017-10-17 09:32] TomoYamanaka commented on #4806
Related PR is https://github.com/ARMmbed/mbed-os/pull/5312.

[2017-10-17 09:41] mprse commented on #5279
Provided fix resolves this issue.

[2017-10-17 11:55] andreaslarssonublox commented on #5222
I have updated the board page now.

[2017-10-17 12:00] SeppoTakalo commented on #4841
@andreaslarssonublox
Good finding.
I applied the `SLP_TR` control to the example code and it seems to fix the situation.

Looking at datasheets of AT86RF212B and AT86RF233 the SLP_TR pin is used to control PLL_ON -> TX transitions but also SLEEP modes.
So apparently leaving it low runs the chip into sleep mode.

However, datasheet does not specify that tranceiver sleep mode also disables SPI bus.

[2017-10-17 12:00] #4841 closed

[2017-10-17 12:18] #5222 closed

[2017-10-17 12:39] screamerbg commented on #5297
Bump @scartmell-arm

[2017-10-17 12:42] SeppoTakalo commented on #5139
@0xc0170 I did already confirm earlier that 5.6.2 is working.
The root cause, as I bisected, was in HW crypto engine.

[2017-10-17 12:45] JanneKiiskila commented on #5139
For my case it turned out to be a flashing issue in the end. I just got the serial number and nothing else, but the example wasn't printing much.

[2017-10-17 16:47] andreaslarssonublox commented on #5040
I tested this for the SHA #2f2da779cbf61132dc7eeea32d455053177ff938 mentioned above and got the same faulty behavior. I also tested it for NUCLEO_F429ZI and it works.. One thing that differs is that in the mbed-os version above crypto HW acceleration is enabled for ODIN. It can't be enabled for NUCLEO_F429 since it has no crypto HW acceleration thus explaining why it works on NUCLEO but not ODIN.

[2017-10-17 17:00] theotherjimmy opened #5331 "Mbed build tools include files starting with`.`"
# Metadata
- Type: Bug
- Priority: Minor?

---------------------------------------------------------------
# Description

Use any version of the mbed tools and create a "hiden"  dot-file with a `.c`, `.cpp` or similar extension.  These files should not be included.

This would be a good first issue for someone looking to contribute to Mbed OS. I would look at [`__init__.py` scan resources method](

[2017-10-17 18:08] FusedShadowX opened #5333 "Undefined reference rtos::Thread::wait((unsigned long))"
### Description
- Type: Bug? | Question
- Priority: Blocker? | Major?

---------------------------------------------------------------
## Bug
This bug occurs on Platformio on the linking of firmware.elf. The error is thrown inside mbed_wait_api_rtos on declaration of void wait(it us). For some reason it cannot find the static declaration of Thread::wait although the framework has not been changed

[2017-10-17 20:54] pan- commented on #5333
Did you define the flag needed to include the this into your build ? See [here](http://docs.platformio.org/en/latest/frameworks/mbed.html#configuration)

[2017-10-17 21:18] FusedShadowX commented on #5333
Sorry I didn't mention it. Yes I have used both the flags for events and rtos. I also removed them, build the project successfully, clean it and re-enable the flags, but nothing changed.

[2017-10-17 22:14] c1728p9 opened #5336 "Incremental compile ignores device_has changes"
Build time dependencies don't pick up when a device_has value is added or removed. This problem can be reproduced by building, removing a device_has field from targets.json and rebuilding again. The incremental compile will not rebuild all the sources.

[2017-10-17 22:15] c1728p9 commented on #5336
@theotherjimmy

[2017-10-18 08:08] andreaslarssonublox commented on #4247
I tried it on Linux 16.04 with the 1.8M blinky and still have the same problem. Also when flashing with "cp" on the CLI. I waited ~10 sec after the blinky application started to blink but get the error message "No space left on device". It looks like the device is never refreshed automatically. However after trying to copy the second time and it fails, it usually refreshes after a couple of second

[2017-10-18 11:09] andreaslarssonublox commented on #4952
[main.zip](https://github.com/ARMmbed/mbed-os/files/1394344/main.zip)
Hi,
I have tested to connect/disconnect ethernet 100 times and it succeeded for all. Also tried to create/connect/close a TCP socket 100 times. It also worked so maybe I have misunderstood the use case. Can you send some example where we can see the problem?

I have attached a test example where I have tried to reproduce.

[2017-10-18 12:20] 0xc0170 commented on #5333
@FusedShadowX How to reproduce this issue? What version of mbed OS ?

based on the details you shared above, the issue might be somewhere else than in this codebase (mbed-os code).

[2017-10-18 12:23] #4606 closed

[2017-10-18 13:02] FusedShadowX commented on #5333
The reproduction of the problem is unknown. This issue was thrown on the build without a major change, I just added a header file with some functions and build it. Previously, everything was ok. The mbed version as described in the package.json of PlatformIO in the framework_mbed folder is 4.152.

I have my computer also, so i can give you the thrown error:

v4-sp/softfp/crt0.o: In function `_star

[2017-10-18 13:43] 0xc0170 commented on #5333
Isn't this an error :undefined reference to__wrap_main ?

Do you have `-Wl,--wrap,main` in the ld flags?

[2017-10-18 13:49] pan- commented on #5333
@FusedShadowX Mbed OS 4.152 does not exist. If before the PlatformIO update everything was OK, I suggest you report the issue to PlatformIO.