[2019-03-28 18:38] maclobdell opened #10262 "LPC55S69 KVSTORE test fails with GCC & IAR compilers"
### Description

Board: LPCXpresso55S69

Mbed OS Version: 5.12.0

Compiler Version: GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215

(Also fails with IAR 8.32)

Test Command: mbed test -m LPC55S69_NS -t GCC_ARM

Test: features-storage-tests-kvstore-static_tests x
Result: TIMEOUT

Platform: LPC55S69_NS - Toolchain: GCC_ARM
Elapsed Time: 3021.98 seconds
Build Path: BUILD/tests

[2019-03-28 18:42] loverdeg-ep opened #10263 "Add concept of priority to events and EventQueue"
### Description
Been rattling this one around for a while.

Some people tend toward async API's and programming.
Prioritized events would make that easier versus needing to use multiple event queues and extra logic.

Also it might result in reduced RAM/flash resource usage for those applications having no need for threading beyond the natural thread and interrupt contexts provided by the core?

Re

[2019-03-28 18:42] mmahadevan108 commented on #10262
Please try with the below GCC toolchain.

arm-none-eabi-gcc.exe (GNU Tools for Arm Embedded Processors 7-2018-q2-update) 7.3.1 20180622 (release)

[2019-03-28 18:43] cmonr commented on #10247
@bsturgess I can confirm that the issue is being actively looked into.

[2019-03-28 18:44] cmonr commented on #10247
Since this appears that it's already being looked into, I'm going to recluse myself from this particular issue.

[2019-03-28 18:56] cmonr commented on #10263
@geky ?

[2019-03-28 20:03] maclobdell opened #10264 "LPC55S69 Storage Test Failure with IAR 8.32"
### Description

Board: LPCXpresso55S69

Mbed OS Version: 5.12.0

Compiler: IAR 8.32

Test Command: mbed test -m LPC55S69_NS -t GCC_ARM

Test: features-storage-tests-filesystem-general_filesystem

Result: SYNC_FAILED
Platform: LPC55S69_NS - Toolchain: IAR Elapsed Time: 45.41 seconds Build Path: BUILD/tests/LPC55S69_NS/IAR Absolute Build Path: D:\mbed\mbed-os\BUILD\tests\LPC55S69_NS\IAR Copy Method

[2019-03-28 20:14] j3hill commented on #10227
@artokin If you installed the latest uVision "mdk527.exe", this actually installs the ARM 6.12 compiler, not the ARM 6.11 compiler (...you can see this if you go to the "Help" information in the uVision IDE). This issue also only occurs on Windows build systems because the "VERSION" file referenced above has the same name as another "version" file that is created and placed in that folder (...and

[2019-03-28 20:20] mmahadevan108 commented on #10239
@SeppoTakalo @kjbracey-arm . Preliminary debugging seems to indicate the crash is occurring in the LWIPMemoryManager. Can you help take a look at this on the RT1050.

[2019-03-28 20:22] sathysreenath opened #10266 "mbed_hal-sleep test fails when run with debug profile."
### Description
When compiled with debug profile (no optimization) mbed-os-tests-mbed_hal-sleep | deep-sleep - high-speed clocks are turned off, fails. We are using K64F board and IAR (8.30) toolchain .

We tried this on the latest master mbed-os and mbed-cli (1.10.0).

Here are the command lines we are using for the mbed compiler:
mbed test --source mbed-os --compile --clean  --target=K64F --prof

[2019-03-28 20:24] mmahadevan108 commented on #10239
Below is the PC reported by the mbed fault handler
++ MbedOS Fault Handler ++
FaultType: HardFault

PC   : 60004B28

I did a lookup of this address:
$ arm-none-eabi-readelf.exe -a BUILD/MIMXRT1050_EVK/GCC_ARM/mymbed.elf | grep 60004b
   317: 60004b0a     0 NOTYPE  LOCAL  DEFAULT    4 $t
   318: 60004b30     0 NOTYPE  LOCAL  DEFAULT    4 $t
   319: 60004b36     0 NOTYPE  LOCAL  DEFAULT    4 $t
   3

[2019-03-28 20:47] screamerbg commented on #9519
@0xc0170 Thanks for the comprehensive answer.

[2019-03-28 20:47] #9519 closed

[2019-03-28 20:48] screamerbg commented on #9189
Bump @theotherjimmy @cmonr

[2019-03-28 20:48] screamerbg commented on #9039
@fahim-ublox Any progress on this?

[2019-03-28 20:48] screamerbg commented on #9038
@aqib-ublox Any progress on this?

[2019-03-28 20:49] screamerbg commented on #8833
This is fixed in the recent version of Mbed OS.

[2019-03-28 20:49] #8833 closed

[2019-03-28 21:24] ciarmcom commented on #10266
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1085*

[2019-03-28 21:24] ciarmcom commented on #10264
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1086*

[2019-03-28 21:24] ciarmcom commented on #10263
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1087*

[2019-03-28 21:24] ciarmcom commented on #10262
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1088*

[2019-03-28 21:24] ciarmcom commented on #10261
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1089*

[2019-03-28 21:24] ciarmcom commented on #10259
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1090*

[2019-03-28 21:25] ciarmcom commented on #10256
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1091*

[2019-03-28 22:05] c1728p9 commented on #10220
Hi @wmcelderry I recommend using `ScopedRomWriteLock` as you have done. This is already done when reprogramming internal flash.

[2019-03-28 23:28] bridadan commented on #10247
We have a fix ready, just waiting on deployment.

[2019-03-29 04:38] aqib-ublox commented on #9038
@screamerbg not yet will target in next next or week following next

[2019-03-29 05:13] fahim-ublox commented on #9039
Pull request was merged, anything missed ?
[9166](https://github.com/ARMmbed/mbed-os/pull/9166/)

[2019-03-29 06:25] VairaRamasamy commented on #10060
This is not required to be fixed to work with a QSPI flash. I can instantiate QSPIFBlockDevice with the second set of pins instead of using the get_default_instance() if needed.

I got a compile error on kv_config.cpp when I was first working with QSPIFBlockDevice without defining the pins in PinNames.h file under TARGET folder. I only thought that it's right to use the macros with 'MBED_CONF' pre

[2019-03-29 07:34] kjbracey-arm commented on #10256
In your application where you're experimenting with this option - who's using the high-priority queue and who's using the normal one?

[2019-03-29 09:26] janjongboom commented on #10256
@kjbracey-arm I'm not sure. I'm using Pelion Client with Mbed OS 5.12 on DISCO-L475VG-IOT01A1 board and nothing seems to break when disabling highprio queue.

[2019-03-29 09:45] kjbracey-arm commented on #10256
Low memory client configurations are  @TeroJaasko's speciality. Maybe he has input.

The high priority queue is probably just being initialised for the Nanostack HAL's "platform timer". I guess if that timer is only being used to schedule "normal priority" work in this system, and it's not being used for any driver-type purposes, it can be shoved down to the normal queue.

I think our assumption w

[2019-03-29 10:01] janjongboom commented on #10256
@kjbracey-arm Yes, already doing that. An overview of changes I made is in: https://github.com/janjongboom/pelion-ready-plus-azure.

[2019-03-29 10:07] kjbracey-arm commented on #10256
Another line of attack here would be to improve `event-loop-use-mbed-events` to be more fully integrated, as it was for Mbed OS 3 with MINAR.

At the minute it's kind of a minimal integration because it doesn't let the Mbed OS event loop also take over scheduling - it's just done minimally in the "bare-metal-like" Nanostack porting layer, rather than having a complete higher-level reimplementation

[2019-03-29 11:01] 40Grit commented on #10263
@janjongboom

[2019-03-29 12:48] mmahadevan108 commented on #10262
I don't see the failure. Below is the test run results with IAR. With GCC, the toolchain should be updated.
mbedgt: test suite 'mbed-os-features-storage-tests-kvstore-static_tests' ............................. OK in 40.17 sec
        test case: 'get_buffer_null_size_not_zero' ................................................... OK in 0.06 sec
        test case: 'get_buffer_size_bigger_than_data_re

[2019-03-29 12:49] mmahadevan108 commented on #10262
The above was run on mbed-os master

[2019-03-29 13:08] mmahadevan108 commented on #10262
I tried with tag mbed-os-5.12.0 and the tests passed as well.

[2019-03-29 13:12] teetak01 commented on #10251
@orenc17 you can use the latest client release to verify this.

[2019-03-29 13:15] mmahadevan108 commented on #10262
@dannybenor . Please give it a try as well.

[2019-03-29 13:49] jeromecoutant opened #10273 "TFM: assemble.py is using hardcoded values"
### Description

Due to assemble script:
https://github.com/ARMmbed/mbed-os/blob/0f6a8357e73c645cfe40affa3a2145142f8f8ac4/tools/psa/tfm/bin_utils/assemble.py#L30

In flash_layout.h partition file,
SECURE and NON_SECURE IMAGE_OFFSET and IMAGE_MAX_SIZE vales
have to be hard coded value.
They can't be defined thanks to other system macro or with formulas.

### Issue request type

    [ ] Question

[2019-03-29 14:38] janjongboom commented on #10192
Note that we're reworking the sleep docs, and I've incorporated the info from this thread there. Should be up in the coming weeks.

[2019-03-29 15:02] TacoGrandeTX commented on #10247
Fix was deployed this morning UK time.

[2019-03-29 15:07] TacoGrandeTX commented on #9115
@fluidblue This is merged... so closing.  Please update the issue if you continue to have problems.

[2019-03-29 16:27] ciarmcom commented on #10273
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1094*

[2019-03-29 16:30] loverdeg-ep commented on #10263
@kjbracey-arm Trying to determine "philosophically" how this applies to cmsis-rtos, rtx, and mbed os rtos api's.

[2019-03-29 16:41] #10061 closed

[2019-03-29 16:45] maclobdell commented on #10262
Thanks a lot for confirming this is working on your side Mahesh.

Our documentation currently states that the supported GCC compiler is
GNU Arm Embedded version 6 (6-2017-q1-update).

https://os.mbed.com/docs/mbed-os/v5.12/tools/index.html

I'll check if this is correct, or needs to be reviewed/updated.

[2019-03-29 16:50] maclobdell commented on #10262
confirmed with our team that version 6 is still the officially supported version.

@mmahadevan108 - can you investigate further with gcc 6 and see if there is a possible workaround?

@dannybenor  - since this is kvstore related, can you confirm which compiler version you have been using, and if you have seen this issue?

[2019-03-29 17:24] loverdeg-ep commented on #10263
https://github.com/ARMmbed/mbed-os/issues/10256

[2019-03-29 17:33] screamerbg opened #10277 "Tools: Build Error "Couldn't execute program 'D:\.....\armclang.exe': The filename or extension is too long. (0xCE) / ARMC6 Mbed OS 5.12"
### Description

Platform: Windows
Toolchain: ARMC6

While trying to build tests with ARMC6, armclang reports:
[code]

Steps to reproduce:
1. `mbed import http://github.com/ARMmbed/pelion-enablement`
2. `cd pelion-enablement`
3. `mbed update mbed-os-5.12.0`
4. `mbed dm init....` your Pelion DM credentials - follow the instructions on the repo page.
5. Attempt to compile with ARMC6 by executing:
 *

[2019-03-29 17:45] studavekar commented on #9069
@ccli8  trying to reproduce the problem on `NUMAKER_PFM_M487`

### 1) I don't have any luck getting uart logs on both windows and linux.

nulink firmware : `NuLink1FW_v6786`
test code
[code]
I do see red and green led blinking, can you please help with setting to enable uart logs.

### 2) Exporting to IAR doesn't work for NUMAKER_PFM_M487
i tried to export to debug using IAR Embedded Workbench IDE

[2019-03-29 18:21] screamerbg opened #10278 "pal_types.h name conflict that breaks any Pelion DM Client with Mbed OS 5.12.0"
### Description

There is a new file in the BLE stack called pal_types.h: https://github.com/ARMmbed/mbed-os/blob/4043623805848f869f96de4526858030dec48439/features/FEATURE_BLE/targets/TARGET_CORDIO/stack/platform/include/pal_types.h

It's not hard for see how this doesn't work with Pelion DM Client - https://github.com/ARMmbed/mbed-cloud-client/search?q=pal_types.h&unscoped_q=pal_types.h

This bre

[2019-03-29 19:48] TacoGrandeTX commented on #9958
@marcemmers Sorry for the long delay in responding to this.  You are right - we are not allowing for VDD to be an option for sampling, so thanks for pointing out this deficiency.  Ultimately I think you are concerned about setting the input pin selection, ```CH[x].PSELP``` or ```CH[x].PSELN```, to VDD.

If so, I think there's a much simpler fix than what you are proposing.  All that we need to do

[2019-03-29 19:49] mmahadevan108 commented on #10262
@maclobdell Cortex-M33 is ARMv8M architecture which is supported by ARMC6 toolchain, GCC ARM version 7 (higher) and IAR 8.x.  Hence you would need to upgrade your GCC toolchain.

[2019-03-29 21:16] studavekar commented on #10266
@sathysreenath deep sleep is disabled in debug profile

https://github.com/ARMmbed/mbed-os/blob/2d9c4946ca3403bd064a91acbce730b66a62190a/platform/mbed_sleep_manager.c#L214-L224

[2019-03-29 21:20] ciarmcom commented on #10278
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1101*

[2019-03-29 21:20] ciarmcom commented on #10277
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1102*

[2019-03-29 22:16] TacoGrandeTX commented on #10126
@yogeshk19 Sorry for not replying sooner but I was out for a week and still getting caught up.  Future responses will likely be delayed.

We're not sure what you mean by "differently".  Can you explain the context?  There is a default configuration for the ADC and channel, but it might not fit your use case.  Are you using the default analog_init() or have you made modifications?

https://github.c

[2019-03-29 22:59] bsturgess commented on #10247
Thanks all, much appreciated. We are back in action

[2019-03-31 07:06] dannybenor commented on #10060
@VairaRamasamy The file kv_config.cpp do use the macros starting with MBED_CONF. All the parameters defined in emb_app.json will get into the compilation as a #define in the form MBED_CONF_XXXXXX_YYYYY where XXXXXX is the name of the section and YYYYY is the name of the parameter. Please have a look at https://os.mbed.com/docs/mbed-os/v5.12/reference/configuration.html

[2019-03-31 19:24] NiranjanRavi1993 commented on #9912
Hi,
   I am not sure whether this issue is under consideration if not i can close this issue.
Regards
Niranjan

[2019-04-01 08:16] kjbracey-arm commented on #10263
Possibly useful - Nanostack's event loop does have a priority scheme, as do many others. EventQueue seems to be in the minority here.

It doesn't remove the need for separate global and high-priority queues though - those two have incompatible notions of runtime and latency. People on the global queue routinely take 10s of milliseconds in one event, whereas people on the high priority queue are ex

[2019-04-01 08:51] #10123 closed

[2019-04-01 09:06] janjongboom commented on #10263
@kjbracey-arm @geky Wouldn't the next Mbed major release be a good moment to re-evaluate having two event queues in the same OS? Why can't we get rid of one? F.e. in Pelion Client we're using both (!) that's wasteful.

[2019-04-01 09:17] #10163 closed

[2019-04-01 09:17] #10165 closed

[2019-04-01 09:24] VairaRamasamy commented on #10060
@dannybenor
"The file kv_config.cpp do use the macros starting with MBED_CONF"

[2019-04-01 09:29] marcemmers commented on #9958
Setting PSELP to VDD is not really an issue. Adding VDD and VDDH to the nrf_saadc_channel_t enum is indeed part of the solution.

Why I think its more difficult than what you propose is that the SAADC only has 8 channel slots in the peripheral, at least in the nRF52840. The 8 analog inputs that are available now are mapped to those configuration slots so there is no room for the VDD and VDDH chann

[2019-04-01 09:31] kjbracey-arm commented on #10263
As per the discussion on #10256, they can be integrated via a JSON option so they're running on the same thread, which eliminates almost all the RAM overhead. What remains is the code overhead of multiple stacked-up abstraction layers, but the NanoStack abstraction layer is pretty thin - it's far from the biggest offender in the system. Main thing would be to make it not have its own timing queue.

[2019-04-01 09:50] 40Grit commented on #10263
Regarding the need for high/low latency queues.

My mind wandered to interruptable events but then the natural synchronization of data would be lost.

Though I suppose that would already be the case if high/low queue approach is used with 2 threads?

[2019-04-01 09:53] ccli8 commented on #9069
For UART log, I test on the environment, but it is OK:
- Win10 64-bit
- NuMaker-PFM-M487 Ver 3.0
- Nu-Link 6786
- mbed-os  594a1d180b4fdddd19359f2628e6f5b998bb5e16

Please check the following items:
1. Your NuMaker-PFM-M487 board is Ver3.0 (print on board top).
1. Serial port is successfully listed (e.g. `mbedls`)

For export IAR project, please apply PR #10282 and make [extra patch](https://githu

[2019-04-01 10:02] kjbracey-arm commented on #10263
If you want an event to be interrupted for higher-priority work, then you can do that with a higher-priority thread or an interrupt. The higher-priority thread can be running its own event queue. And that's the model for the pair of shared normal and high-priority event queues.  Having two queues of different priority is more useful than 1 queue with events of different priorities.

As soon as thi

[2019-04-01 10:14] 40Grit commented on #10263
And I assume even if all work we're broken down into the minimum required time base that there would be overhead in the constant switching of events?

[2019-04-01 10:36] kjbracey-arm commented on #10263
Yes. But it's something you can try to do.

Breaking up big things so they fit on the normal event queue is doable - for example breaking up a big multi-second crypto operation into 10s-of-millisecond chunks, and then queuing it as a series of low-priority events, rather than having a separate low-priority thread/queue.  Does involve a lot of context-save/restore work.

But breaking up normal-prio

[2019-04-01 10:56] 40Grit commented on #10263
So

* The event system provided by cmsis rtos V2 is not used by Mbed OS?

* Nanostack has its own event and queuing system which supports priority

* Pelion client uses nanostack's queing system

* PAL abstracts queing for Pelion client, or do bits of nanostack always get built into Pelion client?

* Providing loose coupling or API's to both Pelion client and nanostack might provide better develop

[2019-04-01 11:24] kjbracey-arm commented on #10263
The "message queue"? No. We do have a C++ `Queue` wrapper for it, at least. I'm not really familiar with the higher-level APIs of CMSIS-RTOS like that, so not sure how applicable they are.

Yes, and yes. They share the same bare-metal heritage, so were designed to share 1 event queue.

PAL covers a bunch of higher-level stuff like sockets and threads, but doesn't further abstract the event queue -

[2019-04-01 11:35] offirko commented on #10241
Fixed with: https://github.com/ARMmbed/mbed-os/pull/10283

[2019-04-01 11:37] marcin-ch opened #10284 "How to port running project from i.MXRT1050 to i.MXRT1060"
### Description
[code]
I have project up and running on i.MXRT1050-EVK.
How to update the project to have it working on i.MXRT1060-EVK?
Any guides, tutorials?

I do develop an application using MBED CLI and GCC toolchain.
@maclobdell

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2019-04-01 13:25] VVESTM commented on #10049
@dannybenor, I am working on this issue. I come back when I have news.

[2019-04-01 13:35] jeromecoutant commented on #10049
ST_INTERNAL_REF 64387

[2019-04-01 15:19] sathysreenath commented on #10266
Thanks for letting us know. We will disable this test during debug mode.

Sathy.

[2019-04-01 15:31] ciarmcom commented on #10284
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1104*

[2019-04-01 17:55] maclobdell commented on #10284
The 1060 is not officially supported, but I believe it is very possible use use the 1050 codebase on a 1060.

@mmahadevan108  for suggested steps.

[2019-04-01 20:02] #10247 closed

[2019-04-01 22:04] #6380 closed

[2019-04-01 22:04] #9934 closed

[2019-04-01 22:11] cmonr commented on #9912
@ARMmbed/team-nxp @maclobdell

[2019-04-01 22:37] cmonr commented on #10284
@ARMmbed/team-nxp

[2019-04-02 06:34] #10125 closed

[2019-04-02 07:55] artokin commented on #10227
@j3hill , I would like to get Mbed OS fixed :-)
No tricks should be needed for `uvision5` nor `uvision6`

[2019-04-02 09:07] 0xc0170 commented on #10227
Fixed via https://github.com/ARMmbed/mbed-os/pull/10280

[2019-04-02 09:07] #10227 closed

[2019-04-02 11:51] 0xc0170 commented on #10262
The compiler versions are correct however . ARMv8M is not supported in GCC ARM 6. @ARMmbed/mbed-os-psa is that correct?

[2019-04-02 12:01] orenc17 commented on #10262
@0xc0170 GCC_ARM 6 is the first version of GCC that supports V8m

[2019-04-02 12:29] 0xc0170 commented on #10262
@mmahadevan108 This is a valid bug in the currently supported GCC ARM version

[2019-04-02 14:32] mmahadevan108 commented on #10262
@orenc17 @dannybenor Please confirm if this is a valid issue, I am unable to reproduce.

[2019-04-02 14:41] 0xc0170 commented on #10250
Can you please review the above failures:

@ARMmbed/team-st-mcd
@ARMmbed/team-nxp
@ARMmbed/team-ublox

[2019-04-02 15:33] orenc17 commented on #10262
i've run the test on master with all 3 toolchains with release and debug profile
and they seem to pass

https://mbed-os.mbedcloudtesting.com/blue/organizations/jenkins/PSA-SPM-tests/detail/PSA-SPM-tests/40/pipeline/

[2019-04-02 15:37] mmahadevan108 commented on #10239
@maclobdell @kjbracey-arm @SeppoTakalo Do you have any suggestions?

[2019-04-02 16:25] kjbracey-arm commented on #10239
Presumably the failing function is `LWIPMemoryManager::set_total_len`, so I'm guessing that the `pbuf` has been corrupted, or the pointer to it.

But I can't see how that would occur. The descriptors, packet buffers, and the rx_buff array should all be miles away from each other, so any likely buffer overrun from hardware doesn't seem likely to cause a problem that easily.

I've stared at all the

[2019-04-02 16:27] mmahadevan108 commented on #10239
Thank you. I am unable to reproduce the failure on K66F which is similar to K64F.

[2019-04-02 16:42] kjbracey-arm commented on #10239
Ah, I guess the actual lwIP pbuf structure is in the heap adjacent to the actual data payload. If there was some sort of cache cleaning problem in the underlying driver, it might be destroying a pbuf header.

Looking at fsl_enet.c, I see some `DCACHE_InvalidateByRange` calls. That could be destroying data near the buffer, as it only has cache line (32-byte) granularity.

But then, are the ENET cal

[2019-04-02 16:44] kjbracey-arm commented on #10239
Or of course it doesn't need to be anything to do with the cache, it could be straight data overrun in the heap. Have you tried globally disabling the data cache?

[2019-04-02 17:02] nmathon opened #10297 "Since mbed-os 5.12 : Compilation error : Additional properties are not allowed ('requires' was unexpected)"
### Description

Since mbed-os 5.12, I'm not able to compile my project anymore. I have the following error :

Building project gsboard (DISCO_F746NG, ARMC6) Scan: gsboard [ERROR] in ./mbed-os/features/nanostack/sal-stack-nanostack-eventloop/mbed_lib.json element : Additional properties are not allowed ('requires' was unexpected)

Any idea ? Everything was ok before.

I am using MbedStudio with th

[2019-04-02 17:19] hesolium opened #10298 "Error in Timer/Timeout class(es)."
As in title. Times returned by Time method 'read_high_resolution_us' in subsequent calls are not monotonic. Sometimes returned value is SMALLER than value returned previously (time loops:)
Here is short test program that shows this behavior.
[main.cpp.txt](https://github.com/ARMmbed/mbed-os/files/3035131/main.cpp.txt)

Observed on NRF52_DK with/without RTOS and other (i.e network stack).
Its enoug

[2019-04-02 19:27] hierophect commented on #10192
@kjbracey-arm, does the potentially upcoming suspend() api include any support for shutting down peripherals like PWM, as referenced here?
https://github.com/ARMmbed/mbed-os/issues/3945
The prospect of constantly freeing and creating PWM objects to allow the processor to sleep is just asking for memory fragmentation, and I've needed to bitbang the operation of my piezo speakers just to avoid the P

[2019-04-02 19:51] studavekar commented on #9069
Yes

mbedls do show up the serial port

Exporter did work for me, as suggested in you're solution i am not able to find symbol `CRASH_DATA_RAM$$Base` and `CRASH_DATA_RAM$$Limit`

[2019-04-02 20:02] #10266 closed

[2019-04-02 20:22] ciarmcom commented on #10298
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1106*

[2019-04-02 20:22] ciarmcom commented on #10297
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1107*

[2019-04-02 21:02] hesolium commented on #10298
I have my first thoughts on this issue. Maybe this is related to the calibration of the clocks. Both systems (STM, NRF) have special clock calibration procedures. Maybe we should ask a hardware consultant.
If this behavior is related to calibration (not ordinary bug:), I see one solution. In the 'read_high_resolution_us' procedure, we must remember the last read value of the clock and compare it w

[2019-04-02 23:02] mmahadevan108 commented on #10239
Thank you @kjbracey-arm . I have made changes to the MXRT1050 ENET driver, PR is above.

@cyborg71 Can you give this a try. I did not see any issues when running the ping test.

[2019-04-03 03:19] ccli8 commented on #9069
For serial issue, please also check ISW1 (4-switch with TXD/RXD/VCOM/MSG) near USB socket on the board (reference [board page](https://os.mbed.com/platforms/NUMAKER-PFM-M487/)). Make sure all these TXD/RXD/VCOM switches adjust to outside. MSG switch is to control Mass mode (adjust to outside) or Debug mode. (adjust to inside) If still failed, would you double-check with another NuMaker-PFM-M487 bo

[2019-04-03 06:35] lrusinowicz commented on #10298
This is just a bug in your program.
I'm not sure what you are trying to achieve, but you are calling `readTimer()`, which operates on global, non-volatile variables both, from interrupt and non-interrupt context, without using any kind of interlocking. This is definitely unsafe and results exactly in the effect you are describing.
When the timer interrupt hits when you are in the middle of `readTi

[2019-04-03 06:45] kjbracey-arm commented on #10192
Current assumption is that suspend() will ignore the deep sleep lock - if you're explicitly asking for suspend you accept that peripherals will be suspended in general. So a `PWMOut` existing won't stop suspend using the deep sleep, where it would stop idle using deep sleep. (Because idle is supposed to be transparent).

[2019-04-03 08:05] orenc17 commented on #10251
@ARMmbed/mbed-os-maintainers please move the assignee to crypto team
they should use `psa/error.h` instead of redefining all the status codes

[2019-04-03 09:15] ccli8 opened #10300 "Support external storage type out of mbed-os tree in KVStore"
### Description

**mbed-os**
5.12.0

Checking KVStore released with Mbed OS 5.12, I find that for `storage_type` like `TDB_EXTERNAL`, `TDB_EXTERNAL_NO_RBP`, `FILESYSTEM`, and `FILESYSTEM_NO_RBP`, only mbed-os in-tree block devices are supported:

**mbed-os/features/storage/kvstore/conf/filesystem/mbed_lib.json**:
<pre>
{
    "name": "storage_filesystem",
    "config": {
        "rbp_internal_size"

[2019-04-03 09:19] hesolium commented on #10298
You're right, I'm sorry. When I remove function 'readTimer' from the program and call 'read_high_resolution_us' directly, everything is OK. This is typical 'race condition' (in my program:).

[2019-04-03 09:28] #10298 closed

[2019-04-03 09:42] 0xc0170 commented on #10238
cc @ARMmbed/team-toshiba

[2019-04-03 10:03] jeromecoutant commented on #9460
About

Domain is missing ?

[code]

Python build script could become:

[code]

[2019-04-03 10:26] 0xc0170 commented on #10300
cc @ARMmbed/mbed-os-storage

[2019-04-03 11:00] davidsaada commented on #10300
@ccli8 - we have no such plans. This would be quite hard to add mainly due to testing reasons. One would need to override the `kv_init_storage_config` function (it's a weak function) and basically mimic what it does with your own block device (code can be seen in [kv_config.cpp](https://github.com/ARMmbed/mbed-os/blob/master/features/storage/kvstore/conf/kv_config.cpp)).

[2019-04-03 11:59] ciarmcom commented on #10300
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1109*

[2019-04-03 12:06] cyborg71 commented on #10239
@mmahadevan108: Thanks! I have tried the fix from the above PR and it works to receive large packets. Tried both ping and UDP packets. Could not see any other issues in our system when doing some initial tests.

[2019-04-03 12:29] kamilmeric commented on #10135
Hello,

I am also using mbed studio. I get same error:

[ERROR] in .\mbed_app.json element : Additional properties are not allowed ('requires' was unexpected)

i updated my os5 lib to 5.12.0

What is the problem?

[2019-04-03 12:32] 0xc0170 commented on #10250
Still few more to fix!

[2019-04-03 12:57] kjbracey-arm commented on #10239
@cyborg71 Can you identify which part(s) of the change actually make the difference? I have a suspicion it's just the oversized buffer, rather than the cache thing.

Are you sure the data cache is actually enabled?

Actually, looking at mbed_overrides.c, it seems like the main memory region (80000000-81E00000) is marked shareable, which does deactivate any caching on the Cortex-M7.

So at the minu

[2019-04-03 12:58] mudassar-ublox commented on #10250
`UBLOX_C027`: Not getting export error for `mcuxpresso `on blinky example.

D:\Projects\NO_MBED\mbed-os-example-blinky>mbed export -m UBLOX_C027 -i mcuxpresso
[mbed] Working path "D:\Projects\NO_MBED\mbed-os-example-blinky" (program)
Scan: mbed-os-example-blinky
Done. Import the 'mbed-os-example-blinky' project in MCUXpresso.

[2019-04-03 13:01] mmahadevan108 commented on #10239
@cyborg71 @kjbracey-arm . The tests passed without the cache operations and just the ENET buffer size fix. I will update the PR for your testing.

[2019-04-03 13:04] kjbracey-arm commented on #10239
The thing is, it's not clear why the "buffer size fix" is a fix.  What's the actual problem here? The frame length limit is set to 1522, and both heap_alloc and the ENET_ALIGN macro should be independently rounding that up to 1524, so that we have 1524-byte buffers allocated, and are telling the fsl_enet.c that we have 1524 byte buffers.

Your addition ends up adding a bit more slack, because of t

[2019-04-03 13:09] mmahadevan108 commented on #10239
ENET_ALIGN is aligning to a 64-byte boundary.

[2019-04-03 13:16] mmahadevan108 commented on #10239
One observation, I see the below line adds the alignment provided to the size.
https://github.com/ARMmbed/mbed-os/blob/master/features/lwipstack/LWIPMemoryManager.cpp#L21
However the size is not aligned, with the change to pass aligned size, the resulting buffer allocated is also aligned.

[2019-04-03 13:19] kjbracey-arm commented on #10239
Good, I was just realising from the manual that it was supposed to be 64-byte. Looks like my IDE was finding the wrong definition of `ENET_BUFF_ALIGNMENT`.

And I've just realised I was misunderstanding `alloc_heap`. It only ensures alignment of the buffer, not the actual data block. You do indeed need to round up your size, as you do need a 1536-byte block that is 64-byte aligned. You're actually

[2019-04-03 13:22] mmahadevan108 commented on #10239
@cyborg71 . Could you kindly try the update PR

[2019-04-03 13:25] cyborg71 commented on #10239
@mmahadevan108 I will try the updated PR right now.

[2019-04-03 13:37] mfatiga commented on #9949
What is the status on this? This seems to be a big issue, not being able to build a bootloader at all. Is there any temporary fix that could be done until this is solved?

[2019-04-03 14:08] cyborg71 commented on #10239
@mmahadevan108 I have now tested the updated PR and it works to recieve large packets, both ping and UDP.

[2019-04-03 14:36] hierophect commented on #10192
How will that actually affect the peripherals in practice? PWMOut does not have an "off switch" so to speak other than just setting the pulsewidth to 0 - in Mbed 2, once you set the period, that's it, no more sleeping unless you free the instance since it'll constantly wake the processor. It isn't clear from the HAL or datasheet what happens when you just force suspend. Would we expect the PWM to

[2019-04-03 15:44] theotherjimmy commented on #9949
That's not what this issue is about. This issue is about missing padding after a bootloader is built. If you can't build the bootloader, please open a different issue.

[2019-04-03 15:55] kjbracey-arm commented on #10192
Suspend would be intended to be a system suspend, so the intent would be that you are basically off. The PWM output would be expected to stop.

Is this a software PWM in the system you're talking about? If it's software, then it would naturally stop. We'd have masked off whatever timer interrupt was timing it.  If it is hardware, it would probably stop because we'd stopped whichever clock. There m

[2019-04-03 15:57] mfatiga commented on #9949
@theotherjimmy yes, I perfectly understand what the issue is about. Bu the final bootloader image is not correct because it is missing the padding. Sorry if I expressed myself incorrectly. I have solved this in our environment in our build scripts by validating the bootloader image size with the restrict_size value in mbed_app.json and padding it if necessary. We have projects with integrated boot

[2019-04-03 19:24] Luka234 opened #10305 "LoRaWAN public/private network selection"
### Description

Public/private network is configured with 'public-network' parameter in mbed_lib.json of lorawan library. I don't see option to change network type with API. What is intended/recommended way of implementing nodes with run-time configurable network type?

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2019-04-03 19:56] reissjason opened #10306 "LoRaWAN: Uplink counter increments twice when Confirmed Downlink is received"
### LoRaWAN stack - Uplink counter increments twice when Confirmed Downlink is received

LoRaMac::post_process_mcps_req is fired multiple times incrementing the counter each time.
At the network server it looks as if a packet was missed.

In the following example FCNT 50 was never transmitted.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ x] Bug

[2019-04-03 20:00] reissjason opened #10307 "LoRaWAN: MAC responds to Confirmed Downlink with ACK in Confirmed Uplink"
### Description

When the end-device receives a Confirmed Downlink the MAC will send the ACK in a Confirmed Uplink which then causes a downlink from the network server to return an ACK.

There is no reason to request an ACK for an ACK.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ x] Bug

[2019-04-03 22:15] studavekar commented on #9069
After further debugging the root cause of problem is

 1) Out-of-Order placement of block.
 2) IAR optimization if block is not referenced in code.

### 1) Out-of-Order placement of block.
The placement of block might be Out-Of-Order and which would lead to wrong values of `__CRASH_DATA_RAM_START__` and `__CRASH_DATA_RAM_END__`

<img src="https://i.imgur.com/3e32aBu.jpg ">

**FIX** :

Define the b

[2019-04-04 01:24] andrewc-arm opened #10310 "Test issue"
### Description

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ ] Bug

[2019-04-04 01:26] #10310 closed

[2019-04-04 05:38] ciarmcom commented on #10307
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1110*

[2019-04-04 05:38] ciarmcom commented on #10306
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1111*

[2019-04-04 05:38] ciarmcom commented on #10305
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1112*

[2019-04-04 06:45] jarvte commented on #9737
This issue will be fixed in this pr: https://github.com/ARMmbed/mbed-os/pull/10053

[2019-04-04 06:59] michalpasztamobica opened #10312 "UBLOX_EVK_ODIN_W2 with IAR returns DEVICE_ERROR instead of AUTH_ERROR/NO_CONNECTION when wrong channel is set"
### Description

Target: UBLOX_EVK_ODIN_W2
Toolchain: IAR 8
Tools: mbed-cli
SHA: 2a694cf1d999a2f2f817994d2f2263b980900141
Steps to reproduce:
[code]
Expected result: All tests passing
Actual result:
[code]
Further details:
The issue is visible in [mbed-os nightly test runs](https://mbed-os.mbedcloudtesting.com/view/mbed-os-nightly/job/mbed-os-ci_greentea-test-IPCore-nightly/16/testReport/junit/UBL

[2019-04-04 07:54] AriParkkila commented on #9735
@NeilMacMullen can we close this issue?

There are now fixes:
- #9751 Cellular: Fix ATHandler set/restore_at_timeout with mutex lock
- #10053 Cellular: Make CellularStateMachine timeouts configurable
- See comment about how to cancel connect after some timeout

[2019-04-04 08:05] jeromecoutant opened #10313 "Build issue with STM32F746"
### Description

I am checking NUCLEO_F746ZG build, but I think issue is larger than this...

- question on MBED_BOOT_STACK_SIZE:

https://github.com/ARMmbed/mbed-os/blob/d1da622797773ecde10e96a65ef08f87ce6e8923/targets/TARGET_STM/TARGET_STM32F7/TARGET_STM32F746xG/device/TOOLCHAIN_ARM_STD/stm32f746xg.sct#L40

These lines ar not used at all, as MBED_BOOT_STACK_SIZE default value is set in the targe

[2019-04-04 08:30] #10253 closed

[2019-04-04 09:24] cy-kishore opened #10315 "Static ACL length initialization for MTU Size"
The Rx ACL length is hardcoded to 100, which is causing issue(always set to 96) when MTU exchange is happening with higher value than 100.

In CordioBLE.cpp  BLE::stack_setup()

HciSetMaxRxAclLen(100) is set.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ x] Bug

[2019-04-04 09:34] cy-kishore opened #10316 "Explicit CCC added descriptor does not send notification/indication to client"
When the CCC descriptor is added explicitly from application then the indication or notification packets are not sent out from server device.

We found this issue is in attsProcWrite () function in atts_write.c file.
We had to move out the cccCback from else if condition. Below is our changes for your reference.

--- a/features/FEATURE_BLE/targets/TARGET_CORDIO/stack/ble-host/sources/stack/att/att

[2019-04-04 09:52] ganesh-ramachandran commented on #10238
@ithinuel, created PR #10317 for this issue.

[2019-04-04 10:12] 0xc0170 commented on #10313
Looking at https://os.mbed.com/docs/mbed-os/latest/porting/porting-bootstrap.html, mbed boot stack size is defined by target (as in docs, by tools), the scatter file defines it only to check if it is defined as protection.

RAM start and size should be defined by tools.

@SenRamakri  Please review as well

[2019-04-04 11:59] loverdeg-ep commented on #10305
Have you come across any further documentation for how private networks work with the LoRa radios?

I'm not sure how the radio handles receiving frames once it detects a frame that doesn't match the network "code" it is set for.

[2019-04-04 12:00] ciarmcom commented on #10316
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1113*

[2019-04-04 12:00] ciarmcom commented on #10315
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1114*

[2019-04-04 12:00] ciarmcom commented on #10313
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1115*

[2019-04-04 12:00] ciarmcom commented on #10312
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1116*

[2019-04-04 13:02] 0xc0170 commented on #10251
Done

[2019-04-04 13:06] 0xc0170 commented on #10297
Is this IDE error ? What version are you using? How to reproduce the issue?

Could you try to reproduce with mbed-cli ?

[2019-04-04 13:17] 0xc0170 commented on #10278
cc @ARMmbed/mbed-os-pan

[2019-04-04 13:20] mprse commented on #10313
This is correct, but in case the stack size is defined here (in case of build with RTOS):
https://github.com/ARMmbed/mbed-os/blob/2aa559c7a1beace717cc1361eda3a0d89eaa210c/rtos/mbed_lib.json#L28-L30

[2019-04-04 13:24] jeromecoutant opened #10319 "Question on MBED_BOOT_STACK_SIZE"
### Description

Question started with https://github.com/ARMmbed/mbed-os/issues/10313#issuecomment-479837196

Seen in https://os.mbed.com/docs/mbed-os/latest/porting/porting-bootstrap.html

[code]

Even if RTOS is enabled, MBED_BOOT_STACK_SIZE will not be updated.
MBED_CONF_TARGET_BOOT_STACK_SIZE is created

See in mbed_config.h:
#define MBED_CONF_TARGET_BOOT_STACK_SIZE

[2019-04-04 13:24] jeromecoutant commented on #10319
@mprse

[2019-04-04 13:39] 0xc0170 commented on #9868
Based on my review in our internal ticket and PR - not yet

[2019-04-04 14:37] bulislaw commented on #9479
I want to get away from "shoving everything into mbed-os", there are tools to manage this kind of dependencies. I don't know enough about this particular case, @AnttiKauppila let's discuss it before bringing it in.

[2019-04-04 14:59] jeromecoutant commented on #10313
MBED_BOOT_STACK_SIZE is now followed by #10319

About MBED_RAM_START, should I suppose that tools/arm_pack_manager/index.json file
will not change about IRAM1/IRAM2 choice ?

Then I need to update the scatter files where MBED_RAM_START is not the correct value to choose MBED_RAM1_START value?

[2019-04-04 15:36] ciarmcom commented on #10319
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1117*

[2019-04-04 17:58] wmcelderry commented on #10220
Thanks for the feedback @c1728p9 & sorry for the delayed response.

I guess it may lead to a feature request down the line:  it would be nice to be able to dynamically change an address space block, e.g. to reclassify the MPU for the EEPROM memory space, or specify that in certain chips memory mapped devices should be read/write without fully disabling the MPU, but I guess it's a (potential) featu

[2019-04-04 18:47] theotherjimmy commented on #10313
@jeromecoutant That information came from ST's CMSIS Pack file. Unless ST has plans to change the hardware description (which I don't advise), please update the linker script. Further `tools/arm_pack_manager/index.json` does not choose. It's `tools/config/__init__.py` that's ordering the memory.

[2019-04-05 01:24] NiranjanRavi1993 commented on #9912
Hi @maclobdell
can you please have a look. It would be really helpful.
Thanks and Regards
Niranjan

[2019-04-05 04:48] akkishore1 commented on #9869
Fixed in Master branch of mbed. Verified the same

[2019-04-05 04:48] #9869 closed

[2019-04-05 04:49] akkishore1 commented on #9771
Fixed on master branch of mbed. Verified the same.

[2019-04-05 04:49] #9771 closed

[2019-04-05 05:19] Luka234 commented on #10305
As I understand, radio will be blind (preamble mismatch) for not selected
network.
I have trouble understanding intended use-case and API of lorawan library
(why that configuration and couple others can't be changed at runtime).

[2019-04-05 05:50] Luka234 commented on #10305
I should say radio sync-word mismatch

[2019-04-05 07:47] marcemmers opened #10321 "nRF52840 Cordio stack has some unwanted GPIO control"
### Description

We have created a custom board based on the nRF52840 and are using the Cordio BLE stack as the radio driver. It seems however that the Cordio stack is controlling some of the GPIO which is interfering with our application since we have all GPIO in use.
At least P0.13 and P0.15 are affected but we are experiencing other problems as well when we enable the stack.

Why is the radio d

[2019-04-05 09:03] kjbracey-arm commented on #10220
If a target turns on MBED_MPU_CUSTOM, then its is responsible for the MPU.

Either it leaves `DEVICE_MPU` off, which means it has total responsibility, and Mbed OS will not make any calls. The MPU will need to uninitialised or initialised in a "friendly" state (RAM executable, ROM writable).

Or, it can turn on `DEVICE_MPU`, which means it implements the HAL MPU API: `https://github.com/ARMmbed/mb

[2019-04-05 09:50] jeromecoutant commented on #10313
Hi

Could you review #10323 ?

Thx

[2019-04-05 09:53] ConradBraam commented on #9540
I need to specify 2 (differing) targets, and when I use manually I find I have to edit the parameters every time. Using the 1st value breaks the separation of configuration data from code, so that driving multiple scenarios like I have, hard. Can we talk about a solution that also makes multiple "different" targets easy at the same time?

[2019-04-05 10:05] jonikula commented on #9540
There might already be a way to do what you want to do, but it might not be readily apparent. Send me an email and we'll take a look.

[2019-04-05 10:53] AnjanDhumal opened #10325 "Heap issue in FileSystemStore"
### Description

What target does this relate to?
Nordic Nrf52840
    - What toolchain (name + version) are you using?
 GCC_ARM , gcc (GCC) 7.4.0
    - What tools (name + version - is it mbed-cli, online compiler or IDE) are you using?
 mbed cli, also using Visual code studio to debug

Issue is If i am storing a same key and value twice, it is allocating memory twice instead of using the same memo

[2019-04-05 11:59] ciarmcom commented on #10325
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1120*

[2019-04-05 12:00] ciarmcom commented on #10321
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1121*

[2019-04-05 12:03] AmmadRehmat commented on #5024
@screamerbg @0xc0170  is this issue still there? Can we close it if its not reproduceable anymore?

[2019-04-05 12:15] 0xc0170 commented on #5024
Too old to be still active, will need to be reopened via new ticket with latest test results. I'll close this one.

[2019-04-05 12:15] #5024 closed

[2019-04-05 12:15] 0xc0170 commented on #5024
Just in case, cc @SeppoTakalo

[2019-04-05 12:16] AmmadRehmat commented on #9071
@screamerbg @0xc0170 please close this if its not relevant anymore

[2019-04-05 12:18] 0xc0170 commented on #9071
cc @SeppoTakalo @tommikas

[2019-04-05 12:33] LMESTM opened #10327 "Can we disable STDIO printf but keep DEVICE_SERIAL"
### Description

In https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_retarget.cpp#L277, as soon as DEVICE_SERIAL is supported, an STDIO serial will be created for printf support.

Could there be an option for disabling STDIO console and select SINK one instead, without disabling DEVICE_SERIAL which may be needed by peripherals drivers.

Could be something like:
```#if (DEVICE_SERIAL &&

[2019-04-05 12:40] jeromecoutant commented on #10327
In #5658 old issue, I thought it was DEVICE_STDIO_MESSAGES goal.
But I didn't get any clear answer...

[2019-04-05 12:43] 0xc0170 commented on #10327
cc @kjbracey-arm

[2019-04-05 12:55] kjbracey-arm commented on #10327
I don't understand the intent of `DEVICE_STDIO_MESSAGES` either. Presumably it was supposed to be something like this, but I'd be inclined not to touch it, as I don't know who's using it.

If for power, as of 5.12, you can save power by suspending input, although that doesn't help your ROM space: #9797

I'd suggest a new option `platform.stdio-serial` which defaults to `true`, so it's `#if  MBED_C

[2019-04-05 13:04] LMESTM commented on #10327
What I'm actually looking for is stdio_uart to not be initialized at all.

So yes, that sounds good to me .

[2019-04-05 15:21] studavekar opened #10331 "update icf files for all targets with proper __CRASH_DATA_ symbols"
### Description

The fix which was introduced in https://github.com/ARMmbed/mbed-os/pull/10311 , need to be done across all targets supporting the crash report feature.

Note : Failure are not since for other platform however it would be worth to update icf files appropriately.

### Issue request type

    [ ] Question
    [x] Enhancement
    [ ] Bug

[2019-04-05 15:32] ciarmcom commented on #10327
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1122*

[2019-04-05 15:40] studavekar commented on #10331
Here is the list of devices

[code]

[2019-04-05 15:57] 0xc0170 commented on #10331
cc @SenRamakri

[2019-04-05 16:09] jeromecoutant commented on #10331
Hi

Ideal solution is to make all icf ready for crash feature...

User just has to enable "crash-capture-enabled" in their mbed_app.json,
and it works! (without updating its own icf)

[2019-04-05 16:15] bridadan commented on #9460
@jeromecoutant It's possible, I hadn't really gone into how applications would select non-secure vs secure domains for a build.

[2019-04-05 20:25] ciarmcom commented on #10331
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1123*

[2019-04-05 21:52] bridadan commented on #8204
I looked into this a bit. The main reason this fails is the "260 path length limit" in Windows. So between keeping the paths within Mbed OS shorter and keeping working directory close to the drive's root directory, there isn't really a solution for this problem that will work with arbitrary working paths.

That being said, I looked into what @0xc0170 [mentioned](https://github.com/ARMmbed/mbed-os/

[2019-04-06 16:44] offirko commented on #10325
Can you please share your code. It's important to understand what file system you're using and how you're defining it. For example, if you're creating LittleFS on a Heap BlockDevice, then your entire Filesystem is on heap, and each operation on a file will inflict in Filesystem overhead level on your heap consumption!
For example FS may create a new second data/metadata node just for updating file

[2019-04-07 16:49] Hoel opened #10336 "[Error] mbed_rtc_time.cpp@89,22: invalid use of incomplete type 'const struct timeval'"
### Description

When i create a new project from CLI

`mbed new new_project`

and try to compile

`mbed compile -m XDOT_L151CC -t GCC_ARM`

i got this error:

`Compile [ 81.7%]: mbed_rtc_time.cpp
[Error] mbed_rtc_time.cpp@89,22: invalid use of incomplete type 'const struct timeval'
[Error] mbed_rtc_time.h@111,25: forward declaration of 'const struct timeval'
[Error] mbed_rtc_time.cpp@110,7: inval

[2019-04-07 20:23] ciarmcom commented on #10336
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1125*

[2019-04-08 01:57] yogeshk19 commented on #10126
@TacoGrandeTX I have not made any changes to the analogin_api.c. We are currently using pin P0.28 as analogin input. When no firmware is loaded or rather the chip erased, the voltage measured at the pin is 0.435v, as per the multi-meter and that should be the right voltage we should be reading. However when we install the application firmware, the voltage at this pin measured by the multi-meter dr

[2019-04-08 03:19] masoudr opened #10337 "STM32 stuck in sleep"
### Description

Hi,
I'm trying to test the functionality of `sleep` function on my STM32F407 target with `mbed-os 5.12.0`. I want to force the device to go into deep sleep mode with a specific period of time.
I've also enabled `Tickless` in the `target.json` and removed `platform.stdio-buffered-serial` from device configuration as stated in the [docs](https://os.mbed.com/docs/mbed-os/v5.12/apis/p

[2019-04-08 05:23] ccli8 commented on #9069
@studavekar From test log in #10311, it seems that you have fixed serial port issue on NuMaker-PFM-M487 board. What's the cause?

[2019-04-08 05:32] studavekar commented on #9069
No didn't had luck with the boards used a different device :(

[2019-04-08 05:39] ciarmcom commented on #10337
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1126*

[2019-04-08 05:58] AnjanDhumal commented on #10325
//I am using LFS, and heap block device
init()
{
    int err;
    BlockDevice *bd = new HeapBlockDevice(64 * 512, 512);
    // Initialize the block device
    LittleFileSystem *fs = new LittleFileSystem("fs", bd);
    err = fs->mount(bd);

    if (err)
    {
        // Reformat if we can't mount the filesystem
        // this should only happen on the first boot
        fflush(stdout);
        err

[2019-04-08 06:40] AnjanDhumal commented on #10325
The  updation of metadata, having a copy is fine but for example if i update the value for 10 times it is an overhead of 5k and so on. Finally, i am out of memory, which is not ideal nor my intention.

[2019-04-08 06:40] offirko commented on #10325
@AnjanDhumal : as I wrote, you're mounting the entire FS on heap. So, in addition to the file data itself, file system management overhead is inflicting on heap usage.  I believe LFS is using double nodes backup logic for its files. I see that the first set added 1 Kbytes of heap and the second set added 512 bytes. Can you please try setting the same value a few more times to see if the heap usage

[2019-04-08 06:44] AnjanDhumal commented on #10325
It just continues to grow un-bounded finally results in using the whole allocated heap memory

[2019-04-08 06:54] offirko commented on #10325
@AnjanDhumal - thanks for the info.
@geky , @davidsaada : Can you please review this bug. FileSystemStore opens the file with O_TRUNC flag, which should truncate the file to 0, even if it exists.

https://github.com/ARMmbed/mbed-os/blob/71c84e851f771fbf7d6615e415547d4574009fb0/features/storage/kvstore/filesystemstore/FileSystemStore.cpp#L367

[2019-04-08 07:12] SeppoTakalo commented on #9071
Not relevant to us.
From the given log file, I can only see Client errors, and I know that it does not handle network state events, also the socket error is not shown, therefore impossible to tell if the device was working correctly or not.

[2019-04-08 07:16] LMESTM commented on #10337
@masoudr I don't know the wakeup library - you'd have to ask the author, I think it's @Sissors  ?
If you want to test sleep or deep sleep, I'd recommend to simply use
https://github.com/ARMmbed/mbed-os-example-blinky
This basic example will report the time spent in sleep mode. Can you try it out and see if the results match you needs ?
Note that mbed-os will wake-up regularly from sleep or deep-sl

[2019-04-08 07:47] Hoel commented on #10336
follow-up on the issue, the problem has been solved after i changed the toolchain, i installed mbed-cli-osx-installer from theotherjimmy  https://github.com/ARMmbed/mbed-cli-osx-installer/releases/tag/v0.0.10 and the error went away

[2019-04-08 07:47] #10336 closed

[2019-04-08 08:21] Hoel opened #10339 "MbedOS Error Status: 0x80FF013D Code: 317 Module: 255 with wait(), always occurs after programming or reset, never occurs after power cycle"
I encounter a fault exception / Mbed error caused by the wait() function, and for some reason this error only occurs when the project is compiled and run from SW4STM32, the same project compiled from CLI doesnt not show the error. Also it never occurs again after the target has been power cycled.

Here is the full error :

++ MbedOS Fault Handler ++

FaultType: HardFault

Context:
R0   : 00001000

[2019-04-08 08:24] 0xc0170 commented on #10339
How does the project settings compare (cli vs exporter) ? Are  they 100 % same?

cc @ARMmbed/team-st-mcd

[2019-04-08 08:26] Hoel commented on #10339
yes, they are exactly the same, the SW4STM32 project has been exported directly from the CLI project and no change have been made on SW4STM32 project settings.

[2019-04-08 08:27] Sissors commented on #10337
That is indeed my library. But it has been a long time ago I have looked into this, and I am not really working on it (or mbed in general) anymore. Especially with all the changes to sleep timers that have been done in mbed (-os) it is likely stuff has been broken*. In general it has been intended for 'plain' mbed and not mbed-os, since that one has as @LMESTM mentions a lot of stuff happening on

[2019-04-08 08:59] Hoel commented on #10339
side note, if i use :
wait_ms(3) => no fault
wait_ms(300) => fault
wait(0.03) => fault
wait(0.003) => fault

[2019-04-08 09:26] Hoel commented on #10339
OK, i found the problem, the issue was caused by the systick setup that was still in set_sysclock function taken from STM32CubeMx, it should have been removed, i overlooked that.

culprit :
  HAL_SYSTICK_Config(HAL_RCC_GetHCLKFreq()/1000);
  HAL_SYSTICK_CLKSourceConfig(SYSTICK_CLKSOURCE_HCLK);
  HAL_NVIC_SetPriority(SysTick_IRQn, 0, 0);

[2019-04-08 09:29] Hoel commented on #10339
Unfortunately, the issue is only partially solved : if i set wait(1.0) it works fine, but if i set wait(0.3) then the fault is back; so something else is wrong.

[2019-04-08 10:27] TeroJaasko commented on #10256
@kjbracey-arm I agree wholeheartedly. IMHO too it is the user of those queues which should decide if and how they can tolerate the latencies if there are no separate message queues.

The mbed_highprio_event_queue() call likely comes from arm_hal_timer.cpp, arm_hal_fhss_timer.cpp or on a Pelion application, the pal_plat_network.cpp. The last one is using the high priority queue by default just beca

[2019-04-08 11:09] Hoel commented on #10339
after hundreds of debug step, error seems to originate after OsMutexAcquire()
![image](https://user-images.githubusercontent.com/622955/55719825-779fba80-59ff-11e9-9a33-d08a56e8d809.png)

[2019-04-08 11:30] tomchisholm opened #10342 "USBMSD not recognised in MacOS"
### Description

branch: feature-hal-spec-usb-device
commit: f8864ae
Device: mbed LPC1768 development board + standalone LPC1768
Toochain: GCC_ARM, vsCode
OS: Mac OS 10.14, Windows 10

Implementation of the USBMSD class does not correctly appear in Mac OS as a mass storage device. The device shows up in the system information tree but not in disk utility. Blockdevice (tested with both HeapBlockDev

[2019-04-08 11:59] marcemmers opened #10344 "Printing fault information fails if console is not initialized"
### Description

I am experiencing some issues where fault information is not printed in certain cases. It doesn't matter if it is an assert or a hardfault that needs to be printed.

I am testing on an nRF52840 but as far as I can tell it is not target related.
Toolchain is IAR 8.30.1
Mbed version 5.11.5

The test code could be as simple as:
[code]

This issue is that the default console is a sing

[2019-04-08 12:00] 0xc0170 commented on #10344
cc @kjbracey-arm

[2019-04-08 12:01] ciarmcom commented on #10342
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1128*

[2019-04-08 12:01] ciarmcom commented on #10339
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1129*

[2019-04-08 12:02] marcemmers commented on #10344
The issue seems to be related to https://github.com/ARMmbed/mbed-os/issues/10242 in a way but the changes that seem to have created the issue were released in 5.11.0, see: https://github.com/ARMmbed/mbed-os/pull/8076

[2019-04-08 12:05] masoudr commented on #10337
@LMESTM @Sissors Thanks, but as I already said I want to force my device into deep sleep mode for power saving and then it should automatically wake up after timeout reached (not on interrupts or external signals). I only find the `Wakeup` library to do such a thing. If you know any other working way I would appreciate.
I think putting a simple `wait` function is not supposed to put the device in

[2019-04-08 12:09] kjbracey-arm commented on #10344
I think this may be IAR-only if IAR doesn't actually open stdin or stdout until first use. I've never been terribly clear on what the C libraries do, but I know some have reported power increase after first print, which would be consistent with that.

I guess we could ignore the mutex error if `error_in_progress` is set. Unsafe, but better than just crashing I guess. Where is the error, exactly? `

[2019-04-08 12:20] Hoel commented on #10339
for verification i tested with wait(0.3) on the CLI project, no error, so the problem definitely occurs only on SW4STM32 and only if the wait() value is under 1000ms.

[2019-04-08 12:45] janjongboom commented on #10256
@TeroJaasko @kjbracey-arm But right now I don't get this choice. The high prio queue is *always* started up. What if none of my libraries / drivers use the queue? The thread is still started and still steals a bunch of RAM.

[2019-04-08 12:46] kjbracey-arm commented on #10256
It's only started if it's used. It is being used by the Nanostack event loop, which is being used by Pelion Client.

[2019-04-08 12:50] marcemmers commented on #10344
It certainly does look like a C library issue. It is only when I print a newline to printf that it actually fixed the issue because default it only flushes to stdout on the newline.

The second call to mbed_error from EvrRtxMutexError does not try to print because there is an error in progress so it just halts the system.

Wouldn't it be a better solution to force the construction during startup b

[2019-04-08 13:01] LMESTM commented on #10337
@masoudr in mbed-os, it is the sleep managers that determines when system can go to deep sleep.
see https://www.youtube.com/watch?v=OFfOlBaegdg

I think that what you're looking for is an RTC alarm API, which doesn't really exist as such in mbed (@ARMmbed/mbed-os-core 1 more request for RTC alarm API).

But you can find an alarm example program here:
https://github.com/ARMmbed/mbed-os-example-alar

[2019-04-08 13:25] kjbracey-arm commented on #10344
From the point of view of "we need this to be on so we can print to it when we crash", yes, that would make sense. Also would improve reception behaviour.

But at the cost of power - any application not currently printing is currently saving power by the fact it isn't opened.

After #10328, I think you could make this change, but I'm a bit wary about impacting run-time behaviour for the crash case

[2019-04-08 13:42] loverdeg-ep commented on #9479
In this case, a radio driver of some sort is required for the LoRaWAN  MAC to work.

It is fine not to include in the OS... But the current setup expects the application developer to pull the radio drivers into their application project.

@bulislaw
For various reasons we would prefer these and other "external IC" drivers be managed as packaged dependencies within a board's support package.

Howeve

[2019-04-08 13:44] DBS06 commented on #10252
Any updates on this issue?

[2019-04-08 14:20] ventus2c opened #10345 "ST Nucleo F401RE Deep sleep"
### Description
Hello,
I’m using nucleo blink led example with mbed-os 5-12 to test this board consumption. I connected a multimeter across jumper IDD.
I’m using online compiler and I compiled using this macros:
DEVICE_SLEEP
MBED_TICKLESS
DEVICE_LPTICKER
MBED_SLEEP_TRACING_ENABLED

In mbed_app.json in device_override:
            "platform.stdio-buffered-serial":false

Here is the tracing result:

[2019-04-08 14:24] janjongboom commented on #10256
@kjbracey-arm Ah, ok. Thanks for specifying.

[2019-04-08 14:25] 0xc0170 commented on #10345
Hi, please fill in the details (description, Issue type), otherwise this will be closed

[2019-04-08 14:27] ventus2c commented on #10345
Hello,
I’m using nucleo blink led example with mbed-os 5-12 to test this board consumption. I connected a multimeter across jumper IDD.
I’m using online compiler and I compiled using this macros:
DEVICE_SLEEP
MBED_TICKLESS
DEVICE_LPTICKER
MBED_SLEEP_TRACING_ENABLED

In mbed_app.json in device_override:
            "platform.stdio-buffered-serial":false

Here is the tracing result:
*Sleep locks hel

[2019-04-08 15:25] jeromecoutant commented on #10051
It seems that this issue is not assigned to anybody yet ?

[2019-04-08 15:26] jeromecoutant commented on #10203
Hi
Please close this issue as #10212 is merged
Thx

[2019-04-08 15:33] marcemmers commented on #10344
I totally agree with this, I have been working with some applications requiring an absolute minimum consumption so this is an hot issue. On the other hand, if the other compilers open the stdout during init, would it change anything for those compilers? It seems to me it will only result in the same behaviour and would also include IAR this time.

In the end it doesn't matter to me which way too g

[2019-04-08 15:53] linlingao commented on #10051
@jeromecoutant The issue has been assigned to the HAL team.

[2019-04-08 16:10] nmathon commented on #10297
Using mbed-cli, it works. But I'm not sure to use the same toolchain. It's not really clear what's "bundled tools" means in MbedStudio.
Mbed Studio : 0.4.0
Mbed OS : 5.12.0

I just launched my product on Mbed Studio, if I'm on Mbed 0S 5.11.0, it will compile, if i'm updating Mbed OS to 5.12.0, I have the following error:

Using targets from ./mbed-os/targets/targets.json
Building project gsboard (

[2019-04-08 16:11] theotherjimmy commented on #10109
@jeromecoutant I just tried with the `LPC55S69_NS`, an M33 on master, and the map file was parsed correctly. Which target are you using?

[2019-04-08 16:14] theotherjimmy commented on #10109
Alternatively, you can post the map file, and I'll modify `memap` to parse that correctly.

[2019-04-08 16:21] ecoromka commented on #10203
Thanks for your help!

[2019-04-08 16:21] #10203 closed

[2019-04-08 16:24] theotherjimmy commented on #10107
@jeromecoutant This should be resolved. The new error message:
[code]

[2019-04-08 16:27] theotherjimmy commented on #10107
I spoke too soon, seems uARM is still buggy WRT toolchain detection logic.

[2019-04-08 16:42] theotherjimmy commented on #10109
Update: Jerome sent me a reproducing map file offline. Section parsing is not working correctly, and all sections are marked as `unknown` which is causing a table of `0`s

[2019-04-08 18:45] cmonr commented on #10135
@kamilmeric Please open a new issue with steps to reproduce.

While similar, this issue was specific to OOB testing.

[2019-04-08 18:52] cmonr commented on #10238
Closing since PR was merged. Feel free to reopen if the PR didn't solve this issue.

[2019-04-08 18:52] #10238 closed

[2019-04-08 18:54] cmonr commented on #10262
@maclobdell Is this still an issue? Multiple people cannot reproduce.

[2019-04-08 20:26] ciarmcom commented on #10345
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1130*

[2019-04-08 20:26] ciarmcom commented on #10344
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1131*

[2019-04-08 21:13] lrusinowicz commented on #10344
I remember seeing exactly same sequence under GCC (and FUTURE_SEQUANA) once. Unfortunately, I didn't have time to investigate and report an issue.

[2019-04-09 01:15] turmary opened #10351 "'mbed import' could not import from https://os.mbed.com"
### Description

Mbed CLI on Windows

version: https://github.com/ARMmbed/mbed-cli-windows-installer/releases/download/v0.4.10/Mbed_installer_v0.4.10.exe

tary@tary-think MINGW32 /f/home/tary/mbed
$ git clone https://os.mbed.com/users/hudakz/code/CAN_Hello
Cloning into 'CAN_Hello'...
fatal: unable to update url base from redirection:
  asked for: https://os.mbed.com/users/hudakz/code/CAN_Hello/inf

[2019-04-09 01:40] linlingao commented on #10337
Unchecked Bug. Appears to be a question.

[2019-04-09 05:41] ciarmcom commented on #10351
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1132*

[2019-04-09 06:19] wajahat-ublox opened #10352 "ATHandler.cpp malloc undefined"
### Description
I am getting build errors if cellular traces are enabled. The error points to [this ](https://github.com/ARMmbed/mbed-os/blob/aff381579034006ece5c7df37633f2bca95f162b/features/cellular/framework/AT/ATHandler.cpp#L1292)line. Wouldn't it be better to use new/delete instead of malloc free as we are in .cpp?
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] B

[2019-04-09 07:36] 0xc0170 commented on #10352
cc @ARMmbed/mbed-os-wan

[2019-04-09 07:47] OPpuolitaival commented on #8204
I think that original issue is fixed and we can close this

[2019-04-09 08:19] hasnainvirk commented on #10352
@wajahat-ublox Interesting. It shouldn't matter how you allocate memory. Malloc is just as fine as new although there morphology is different. Are you sure you are not running out of memory at the point you twiddle the traces on ? May I ask the name and specs of the board you are using ?

[2019-04-09 08:20] hasnainvirk commented on #10352
Please share your error log as well.

[2019-04-09 08:25] alekla01 commented on #10252
I have neither developed nor really used the Mbed OS unittests tools, but it seems python file modifications (such as https://github.com/ARMmbed/mbed-os/blob/master/UNITTESTS/unit_test/test.py#L83) may be required.

[2019-04-09 08:27] #10049 closed

[2019-04-09 08:48] lorjala commented on #10252
The CLI tool does not support this currently, but it is possible to run CMake manually with the pthread disable flag on. Follow the steps [here](https://github.com/ARMmbed/mbed-os/tree/master/UNITTESTS#build-tests-directly-with-cmake), but add an additional parameter _-Dgtest_disable_pthreads=ON_ to disable pthreads.

[2019-04-09 09:06] wajahat-ublox commented on #10352
@hasnainvirk
Yes technically both are same, in fact i think mbed calls malloc from new. However if i replace the malloc with new calls, then it builds fine.

I don't think i am running out of memory because i am talking about compilation error while building with traces enabled.

[code]

[2019-04-09 09:15] hasnainvirk commented on #10352
@wajahat-ublox Alright. Thanks, one way to fix it would be to add stdlib.h explicitly in ATHandler.cpp. But I like your approach. Let's use new instead.

[2019-04-09 10:23] 0xc0170 commented on #8204
@deepikabhavnani Can you confirm?

[2019-04-09 10:42] #10352 closed

[2019-04-09 12:23] juhaylinen opened #10356 "Renesas GR-PEACH (RZ_A1H) Greentea tests fail with ARMC6"
### Description

**Target**: RZ_A1H
**Mbed OS**: dc1198b5c8

Greentea tests fail to sync error when ARMC6 (ARM Compiler 6.12) is used.
No issue with ARMC5, GCC_ARM or IAR8.

Log:
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-04-09 12:45] ARM93 opened #10357 "mbedOs not compiled for NRF52840 with JerryScript"
###Description

I have tired to compile the mbed os 5 with jerryscript for NRF52840 target. i almost done the porting but faced issues in "tools/config/__init__.py" file "format_validation_error" function.

Lenovo-Z580:~/repel/mbed-js-repl-example$ gulp --target=NRF52840_DK
[17:56:39] Using gulpfile ~/repel/mbed-js-repl-example/Gulpfile.js
[17:56:39] Starting 'make-build-dir'...
[17:56:39] Finishe

[2019-04-09 14:15] yukiTakezawa opened #10359 "Serial4 and Serial3 of NUCLEO_F303RE are confused."
### Description
#### Environment
* Archlinux
* Eclipse (arm-none-eabi-gcc 8.3.0)  (I tried mbed-cli 1.8.3 and GCC_ARM too)
* NUCLEO F303RE
* Mbed OS5 (`master` dc1198b5c8) (I tried `mbed-os-5.12` 0063e5de32 and `latest` 6bf7fd3ecc too)

#### Issuse

I ran the following program.
[code]
When I connected  (PB_9, PB_11) to FTDI and used `screen` command, the output was
[code]
 And When I connected (PC

[2019-04-09 14:57] #10359 closed, assigned to nobody

[2019-04-09 15:10] #10239 closed

[2019-04-09 15:16] deepikabhavnani commented on #9106
@jeromecoutant - The fix was requested from ST team to reduce the stack usage for deep sleep, will like to know if any updates on that?

[2019-04-09 15:34] maxgerhardt opened #10360 "Inconsistent Licensing Information"
### Description

The LICENCE.md file of mbed-os states: https://github.com/ARMmbed/mbed-os/blob/master/LICENSE.md

However, looking at the actual source code files of `features/storage`, lots of them are also Apache 2.0 licensed.

https://github.com/ARMmbed/mbed-os/blob/dc1198b5c882410ea8a6b76c3b5a03dfe99eb958/features/storage/nvstore/source/nvstore.cpp#L1-L15

Can you look over the licenses that

[2019-04-09 15:39] maxgerhardt commented on #10360
Also I don't understand https://github.com/ARMmbed/mbed-os/blob/master/features/storage/blockdevice/ExhaustibleBlockDevice.h is MIT-licensed and its source code https://github.com/ARMmbed/mbed-os/blob/master/features/storage/blockdevice/ExhaustibleBlockDevice.cpp is Apache 2.0 licensed. Huh?

[2019-04-09 15:43] maxgerhardt commented on #10360
And the [LittleFS C++ class](https://github.com/ARMmbed/mbed-os/blob/master/features/storage/filesystem/littlefs/LittleFileSystem.h) is licensed Apache-2.0 whereas the [underlying C implementation](https://github.com/ARMmbed/mbed-os/blob/master/features/storage/filesystem/littlefs/littlefs/lfs.c) is in BSD-3-Clause.

[2019-04-09 15:57] bridadan commented on #8204
Like I mentioned above, at a certain point when building on Windows, we have to keep the paths reasonably small in the OS. There is a small optimization that I mentioned above that could mitigate this a bit, but its just another mitigation, not a solution. I'd recommend moving the project closer to the root of the file system.

@deepikabhavnani originally said the following above:

I think this ma

[2019-04-09 16:05] #8411 closed

[2019-04-09 16:06] #9578 closed

[2019-04-09 16:25] cmonr commented on #10360
@ARMmbed/mbed-os-storage @geky

[2019-04-09 16:59] cmonr commented on #10351
@turmary Could you run `git --version` on your system to verify that it's setup correctly?

[2019-04-09 19:03] #10327 closed

[2019-04-09 19:21] cmonr commented on #10242
I recall seeing another issue about serial port intiialization. I wonder if this is related.

[2019-04-09 19:30] cmonr commented on #10242
Possibly related: https://github.com/ARMmbed/mbed-os/issues/10344

[2019-04-09 20:16] ciarmcom commented on #10360
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1133*

[2019-04-09 20:16] ciarmcom commented on #10357
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1134*

[2019-04-09 20:16] ciarmcom commented on #10356
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1135*

[2019-04-10 02:44] #10109 closed

[2019-04-10 07:04] hasnainvirk commented on #10306
@reissjason Which branch are you testing with ? Master ?

[2019-04-10 07:54] tommikas commented on #9071
I carved out some time to quickly test this.

What seems to happen is that the device loses connection to the AP and isn't able to reconnect until it is reset. Tracing doesn't seem to affect it.

[2019-04-10 08:02] #10107 closed

[2019-04-10 10:20] lrusinowicz commented on #9726
It seems that the recent fixes (probably #10291 fixing LP_TICKER on M0) have resolved this issue.
I have run PSA tests using recent master (bb0baee38101738a647c18a7fe8f44a630ad11ab) and almost all tests are passing.
[tests_sequana_psa_gcc_20190410.log](https://github.com/ARMmbed/mbed-os/files/3063253/tests_sequana_psa_gcc_20190410.log)

@orenc17 could you check if you still see the issue?

[2019-04-10 10:41] orenc17 commented on #9726
in features\storage\kvstore\conf\global\mbed_lib.json add the following entry:
[code]

[2019-04-10 11:33] michalpasztamobica commented on #9621
We can see this happen a lot in the mbed-os greentea test suite:
[code]
Could the priority be raised on this issue somehow?
I double checked that the state which isn't handled is S_STA_CONNECTED, so it's the exact same problem.

[2019-04-10 11:42] reissjason commented on #10306
The project was built with mbed-os-5.11.5

https://github.com/MultiTechSystems/mbed-os-lorawan-tinyshell

[2019-04-10 11:47] jeromecoutant opened #10365 "Make CRASH feature available for all targets"
### Description

Hi

Discussion started in #10349 or #10331

Current CRASH feature is disabled for all targets:
https://github.com/ARMmbed/mbed-os/blob/ffe9ddfb2ded8e601a62d3fb1ad9adadd97f4bda/platform/mbed_lib.json#L117

and enabled for few targets in the same file.

For these targets, linker script for each tool chains have been updated to get a dedicated RAM for that CRASH DATA.

Idea is to all

[2019-04-10 12:13] juhaylinen commented on #10356
ARMC6 debug profile seem to work other profiles not. You can produce the issue also with https://github.com/ARMmbed/mbed-os-example-blinky

[2019-04-10 12:35] turmary commented on #10351
Hi cmonr,

tary@tary-think MINGW32 /f/home/tary/mbed
$ git clone https://os.mbed.com/users/hudakz/code/CAN_Hello
Cloning into 'CAN_Hello'...
fatal: unable to update url base from redirection:
  asked for: https://os.mbed.com/users/hudakz/code/CAN_Hello/info/refs?service=git-upload-pack
   redirect: https://os.mbed.com/users/hudakz/code/CAN_Hello/info/refs/?service=git-upload-pack

tary@tary-think

[2019-04-10 12:38] reissjason commented on #10307
Device was using Class C mode. Class A did not show this behavior.

[2019-04-10 12:46] reissjason commented on #10306
Device was using Class C mode. Class A did not show this behavior.
Tested with master with same results. Appears to happen only when received in Class C window.

[2019-04-10 12:54] reissjason commented on #10307
Tested on mbed-os-5.11.5 and master (ffe9ddfb2ded8e601a62d3fb1ad9adadd97f4bda)

[2019-04-10 13:39] 0xc0170 commented on #10356
cc @ARMmbed/team-renesas

[2019-04-10 13:56] 0xc0170 commented on #10360
It's stated in the license file as "Folders containing files under different permissive license than Apache 2.0 are listed below". By default, all files should be Apache 2.0.

To get detailed view, storage in this case should provide own license file with more detailed license information. This still needs to be done for many folders listed in the license file.

@yossi2le Please fix

C implementat

[2019-04-10 14:57] orenc17 commented on #9726
#10368  should fix that

[2019-04-10 15:06] deepikabhavnani commented on #9206
@ARMmbed/mbed-os-maintainers - I might have missed some updates (if any) in past few weeks, can we tag Maxim and Realtek partners or internal team to get some updates.

[2019-04-10 15:28] ciarmcom commented on #10365
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1136*

[2019-04-10 16:54] deepikabhavnani opened #10370 "Align linker files for all targets having multiple RAM banks"
### Description
Targets having multiple RAM banks were not utilizing both RAM memories for all three toolchains.
Reference PR is added for all tool chains to 2 targets, which should be extended to rest of the devices.

Reference :
ARM - https://github.com/ARMmbed/mbed-os/pull/10018
GCC - https://github.com/ARMmbed/mbed-os/pull/9944
IAR - https://github.com/ARMmbed/mbed-os/pull/10303

### Issue req

[2019-04-10 16:55] deepikabhavnani commented on #10370
CC @jeromecoutant

[2019-04-10 20:16] ciarmcom commented on #10370
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1137*

[2019-04-10 20:23] maclobdell opened #10371 "Exporter support for uVision5 broken"
### Description

Mbed OS version: 5.12.0

Boards that previously supported exporting to uVision5 in older versions of Mbed OS, now fail with the error message

[code]
When issuing the following command, I see that many devices now support uVision6 but no devices support uVision5.

[code]
The results are in this file:
[supported.txt](https://github.com/ARMmbed/mbed-os/files/3065680/supported.txt)

[2019-04-11 03:58] maclobdell opened #10372 "'mbed dm update device' command ignores profile"
### Description
I'm testing https://github.com/ARMmbed/mbed-cloud-client-example

To get optimal codesize I set the profile to “release”.

I used the command  ‘mbed compile --profile release’.  This generated the output in folder BUILD\LPC55S69_NS\ARMC6-RELEASE.

However, when issuing 'mbed dm update device -D <device ID>, it cannot locate the application output file.

I discovered that I could pa

[2019-04-11 05:30] ciarmcom commented on #10372
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1139*

[2019-04-11 05:30] ciarmcom commented on #10371
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1140*

[2019-04-11 08:38] 0xc0170 commented on #10371
cc @ARMmbed/mbed-os-tools

[2019-04-11 10:01] lritchie commented on #10297
Make sure you are using mbed-os tools from active program and not the bundled tools in Mbed Studio v0.4.

[2019-04-11 11:40] #9704 closed

[2019-04-11 11:40] #9703 closed

[2019-04-11 11:43] #9046 closed

[2019-04-11 11:44] #8829 closed

[2019-04-11 12:53] AmmadRehmat commented on #10312
Thanks for pointing out, we have fixed the issue and will be included in our next release.
https://jira.u-blox.net/browse/TE_OM2-278

[2019-04-11 13:15] 0xc0170 commented on #9704
https://github.com/ARMmbed/mbed-os/pull/10362 should fixed this

[2019-04-11 13:16] 0xc0170 commented on #9703
Fixed via ^^ PR

[2019-04-11 13:18] 0xc0170 commented on #9046
@AnttiKauppila Please provide reason for closing here

[2019-04-11 13:19] 0xc0170 commented on #8829
https://github.com/ARMmbed/mbed-os/pull/10084 should fix this

[2019-04-11 13:46] michalpasztamobica commented on #10356
GR-LYCHEE is affected the same way.

[2019-04-11 14:00] mirelachirica commented on #9704
What BUFF_SIZE should accomodate is just the URC's prefix length. Only the prefix needs to be checked for match. Rest of URC is read through AT read routines. In this case URC's prefix if "+UUPSDA:" so its length is 8 => 16 bytes is enough for this particular URC.

"AT overflow" is triggered when bytes from buffer are not read and fill_buffer is bringing in new data.

Root cause analysis for the "

[2019-04-11 14:25] jeromecoutant commented on #9106
Hi
Test done with mbed-os-example-blinky and GCC tool chain:
- NUCLEO_L152RE: idle stack size = 336
- NUCLEO_L152RE changing compilation option from Os to O0: idle stack size = 828
- NUCLEO_F091RC: idle stack size = 360
- NUCLEO_F091RC changing compilation option from Os to O0: idle stack size = 548

[2019-04-11 15:09] jeromecoutant commented on #9106
@geobruce - Please verify #10367

[2019-04-11 15:11] jeromecoutant commented on #10339
@Hoel - Please could you check if #10367 impacts your result?
Thx

[2019-04-11 15:11] jeromecoutant commented on #10339
@deepikabhavnani

[2019-04-11 15:29] Hoel commented on #10339
@jeromecoutant OK i check that

[2019-04-11 15:38] Hoel commented on #10339
@jeromecoutant  tickless is not enabled in my case, does it matter? i made further debug last days and i feel the problem is somehow related to stdio retarget and possibly delay(), i also noticed very weird behaviors, such as hard fault occuring when only adding a second delay() statement in the main loop (which only blink a LED) or stdio::printf mysteriously stop working (so no more output when h

[2019-04-11 15:49] jeromecoutant commented on #10339
no, #10367 increases idle thread size when there is no more compilation optimization option.

See https://github.com/ARMmbed/mbed-os/issues/9106#issuecomment-482136483

[2019-04-11 15:49] maclobdell commented on #9830
@SeppoTakalo - can you confirm that this issue is resolved for you now?

[2019-04-11 16:00] Hoel commented on #10339
ok, i tried it and it didnt worked, hardfault right after programming. BTW you can see how it didnt print the printf statement (HEL version), but printed correctly the mbed error which uses stdio too, that is very weird.

![image](https://user-images.githubusercontent.com/622955/55972238-6cf55780-5c83-11e9-8a12-60814a2071e8.png)
![image](https://user-images.githubusercontent.com/622955/55972266-78

[2019-04-11 16:05] Hoel commented on #10339
@jeromecoutant  Oh, i disabled all optimisations and it no more hardfault after programming nor after power cycle.  Binary size is considerably increased so its probably not a long term option, but at least for now it seem to work, i will try more tests to see if its consistent.

[2019-04-11 16:17] maxgerhardt opened #10379 "mbed-cli ignores profile"
I'm in the situation where I must use a custom `profiles/physec_build_profile.json` for my project due to adding a certain C++ language version and other compiler flags.

Compiling using

[code]

works fine. However, when exporting CMake files for later integration with CLion, `mbed-cli` does not respect the `--profile` option.

[code]

Will produce a `CMakeLists.txt` file which invokes `mbed-cli`

[2019-04-11 16:17] theotherjimmy commented on #10379
@maxgerhardt Done. We're in mbed-os now.

[2019-04-11 16:19] Hoel commented on #10339
@jeromecoutant
It is working consistently with various delay() / led blink tests (failed previously), i did not get any further hardfault after soft reset or power cycle. That said major problems still persist, the stdio retarget is not working consistently (doesnt work) and more important, the SX1280 radio (SPI) cannot initialize properly, while it works fine when the same project is compiled fro

[2019-04-11 16:21] vmedcy commented on #9830
@maclobdell: #10308 is not yet merged to master, rework by Cypress team is in progress.

[2019-04-11 17:06] Hoel commented on #10339
@jeromecoutant
here i reproduced the radio init which fails, first there is an mbed error on the last __disable_irq( ), i cannot immediately see a good reason for this.

![image](https://user-images.githubusercontent.com/622955/55975892-3b808a00-5c8b-11e9-853c-196799695bb3.png)
![image](https://user-images.githubusercontent.com/622955/55976000-784c8100-5c8b-11e9-91b8-7d11513b6118.png)

then if eve

[2019-04-11 18:57] bridadan commented on #10371
I don't think this use case made it into the changes that had the ARMC5 and ARMC6, but I agree this seems like this should work in the manner that you described.

[2019-04-11 21:03] bridadan commented on #10069
@c1728p9 is this still occurring? I've tried this recently with both ARMC6 and ARMC5 in my path and I don't believe I had any issues.

[2019-04-11 21:56] MarceloSalazar commented on #9611
@0xc0170 can we close this?

[2019-04-12 00:26] cmonr commented on #9206
@ARMmbed/team-renesas @ARMmbed/team-maximintegrated @bentcooke

[2019-04-12 00:27] #9611 closed

[2019-04-12 01:12] cydriftcloud commented on #9206
The latest WICED library update with IAR 8 support for Cypress targets has been merged in PR #10289

[2019-04-12 01:21] #10216 closed

[2019-04-12 01:46] cmonr commented on #9621
@SenRamakri @bulislaw ?

[2019-04-12 02:45] maclobdell commented on #10264
any update on this?  I tested Mbed OS v5.12.1 and get the same result.  It passes with ARMC6 and fails with IAR.  Other tests pass with IAR.

I have IAR compiler version:
IAR ANSI C/C++ Compiler V8.32.3.193/W32 for ARM

this is the latest version downloaded from IAR.

the tools documentation states that V8.32.1 is the supported version by Mbed OS.  could this issue be a result of using a slightly

[2019-04-12 02:56] cmonr commented on #10264
@ARMmbed/mbed-os-storage

@maclobdell Maybe it would help to post/attach the full failure log?

[2019-04-12 03:25] maclobdell commented on #10264
additional log attached.
[lpc55s69-storage-test-fail.txt](https://github.com/ARMmbed/mbed-os/files/3071407/lpc55s69-storage-test-fail.txt)

[2019-04-12 05:29] ciarmcom commented on #10379
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1141*

[2019-04-12 06:00] ARM93 commented on #10357
I have done the jerryscript porting for NRF52840 chipset by modified the PinNames.h manually (i have Only configured port 0 pins in PinNames.h file. if add the port 1 pins in PinNames.h file then faced some compile time issues. So i have skipped the port 1 pins configuration in PinNames.h file) and did some patch work in definitions.json file.

After long struggle then the hex/bin file generated &

[2019-04-12 06:28] AnttiKauppila commented on #9046
Fix has been merged already 12th of February: https://github.com/ARMmbed/mbed-os/pull/9570.
I closed the JIRA issue due to inactivity. This can be reopened if this issue is still valid.

[2019-04-12 07:38] jeromecoutant commented on #10207
@JohnK1987 - did it answer your issue ?
Thx

[2019-04-12 09:06] RobVlaar opened #10388 "BufferedBlockDevice doesn't program the whole buffer"
### Description

 - type: bug

---
### Bug

**Target**
nRF52840

**Files**
BufferedBlockDevice.c

**mbed-os**
5.12.0

**Issue**
BufferedBlockDevice doesn't program all of the buffer. Only the middle of the buffer is programmed, the beginning and end chunks aren't programmed because of the if statement on line 239. Removing the if statement forces to program 3 times instead of just once. When we wa

[2019-04-12 09:41] 0xc0170 opened #10389 "Travis: keyexpired , affecting PRs today"
### Description

Known issue for today , few PRs are red already because of this.

[code]

Need to wait for key updates from google 🙄  reported few times today , see https://askubuntu.com/questions/1133199/the-following-signatures-were-invalid-expkeysig-1397bc53640db551

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-04-12 11:11] masoudr commented on #10337
@LMESTM Thanks, I figured it out, as in the video stated, it seems that just terminating all threads and using sleep will do the job, I wrote a function like below, which seems put the device into sleep, but got 2 more questions:
1. Do I really need to enable `Tickless`?
2. It seems that putting the device into a deep sleep is handle by `mbed-os` itself so which params prevent device to get into d

[2019-04-12 11:45] Hoel commented on #10339
I made made a minimal code to reproduce the mutex error directly, it occurs in osMutexAcquire when the SPI is locked after __disable_irq().
By the way, the error is not displayed in console, i only have the LED error pattern and nothing is sent via UART but error should be sent since when I step debug i reach mbed_error_puts.

![image](https://user-images.githubusercontent.com/622955/56034754-8604

[2019-04-12 11:50] ciarmcom commented on #10389
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1142*

[2019-04-12 11:50] ciarmcom commented on #10388
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1143*

[2019-04-12 12:21] 0xc0170 commented on #9683
This still needs to done. Very few folders contain license information.

[2019-04-12 12:42] jeromecoutant commented on #10339
Hi
To be honest, text copy paste is better than picture...

[2019-04-12 12:55] Hoel commented on #10339
@jeromecoutant
Well , right, i will paste but then the formatting is messed

`int main(){

	uart3.printf("[MBED] init ok\r");
	printf("test");

	RadioSpi = new SPI( PA_7, PA_6, PA_5 );

	__disable_irq( );
	RadioSpi->lock();
	RadioSpi->unlock();
	__enable_irq( );

	uart3.printf("[MBED] test finished\r");

    while (true) {
        led1 = 0;
        wait(0.005);
        led1 = 1;
        wait(2);

[2019-04-12 13:00] culyun opened #10392 "race in svcRtxMutexAcquire"
### Description

Target = Cortex
Toolchain = N/A
Tools = N/A
SHA = 71b12f93874bb8e91fa8f963bdd456ebf85d4e62

There's a race in svcRtxMutexAcquire starting around line 194 that stems from failing to atomically acquire the underlying lock.  Detailed description in comments, since they support syntax highlighting.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ x] Bug

[2019-04-12 13:02] 0xc0170 commented on #10392
Please fill in description and Issue type. Otherwise the issue will be closed

[2019-04-12 13:13] #9069 closed

[2019-04-12 13:16] 0xc0170 commented on #9490
@ARMmbed/team-st-mcd

@ARMmbed/team-ublox

[2019-04-12 13:23] jeromecoutant commented on #9490
Hi
@svastm is no more part of ST :-(
but as file is UBLOX one, I let @ARMmbed/team-ublox provide both patches in the same PR
Regards,

[2019-04-12 13:25] culyun commented on #10392
Ok it's late a night, but I'm seeing a bug amongst the electronic sheep..  I genuinely hope I'm wrong.

Have a look at the following starting around line 194 in mbed-os/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_mutex.c

[code]
Unless I'm mistaken there are half a dozen lines of code between checking mutex->lock and assigning mutex->lock.  If the scheduler preempts the thread trying to lock the mutex

[2019-04-12 13:56] 0xc0170 commented on #8917
@kyliuxing Is this still correct or can be closed?

[2019-04-12 13:57] 0xc0170 commented on #4222
It's been a year, @mmahadevan108 a chance for fixing these warnings ?

[2019-04-12 14:52] kjbracey-arm commented on #10392
RTX issues belong over in https://github.com/ARM-software/CMSIS_5/issues, but I'll have a look at this.

Okay, I think you need to do a bit of background reading on the [theory of operation](https://www.keil.com/pack/doc/CMSIS/RTOS2/html/theory_of_operation.html).

Basically, task switches cannot happen inside the OS itself. All those svc routines are run in SVCall exception context, and as we're

[2019-04-12 15:02] bridadan commented on #9683
@0xc0170 the @ARMmbed/mbed-os-tools team has removed the `tools/data/rpc` folder. Could you add some checkboxes to the issue to indicate the progress being made/what there is left to do?

[2019-04-12 15:07] kjbracey-arm commented on #10392
And to clarify how task switching works - osMutexAcquire calls svcRtxMutexAcquire by using a SVC instruction, which makes us take the SVCall exception.

That runs svcRtxMutexAcquire, and that can decide to switch task if this thread has to wait - osRtxThreadWaitEnter calls osRtxThreadSwitch, which modifies `osRtxInfo.thread.run.next`

Then svcRtxMutexAcquire returns, and heads back into the assemb

[2019-04-12 15:13] kjbracey-arm opened #10396 "PSA code generating many ARMC6 warnings"
### Description

PSA code is generating a lot of ARMC6 warnings. I believe these were all coming from LPC55S69_S.

This is the basic set, but some were repeated a lot of times:

[Warning] tfm_psa_api_client.c@52,27: initializing 'struct tfm_sfn_req_s *' with an expression of type 'volatile struct tfm_sfn_req_s *' discards qualifiers [-Wincompatible-pointer-types-discards-qualifiers]
[Warning] atte

[2019-04-12 20:16] ciarmcom commented on #10396
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1144*

[2019-04-12 20:16] ciarmcom commented on #10392
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1145*

[2019-04-12 20:27] linlingao commented on #10389
Seems fixed now. Google says "All system operational". @0xc0170 I assume you'll close it soon?

[2019-04-12 21:00] linlingao commented on #10392
@culyun I'm closing this since Kevin has already explained. Please reopen if you still think there is a bug.

[2019-04-12 21:00] #10392 closed

[2019-04-12 21:54] maclobdell commented on #10262
I just tested Mbed OS 5.12.1 with GCC compiler 7.3.1

running features-storage-tests-kvstore-static_tests results in the below results.

could the hardware I'm testing have a problem?  Or maybe some expected configuration of the chip is not right?  Or maybe DAPLink version has a problem?

Can someone help diagnose the test results?

[code]

cc @ARMmbed/mbed-os-storage

[2019-04-12 22:38] mmahadevan108 commented on #10262
Can you try a different board. Also I am using the DAPLink binaries from the below link:
https://os.mbed.com/teams/NXP/wiki/Updating-LPCXpresso-firmware

[2019-04-13 03:33] kyliuxing commented on #8917
@c0170 It seems to be corrected by commit a814078f0ce58ee0ab6e, I will check it .

[2019-04-14 22:18] rutgervandenberg opened #10399 "SPI 16 bit blockwrite pads 0s"
### Description

I'm attempting to use 16bit SPI frames. When I use the single frame write method (`virtual int write(int value);`), everything works as expected. But when I attempt to use the multi-frame read-write method (`virtual int write(const char *tx_buffer, int tx_length, char *rx_buffer, int rx_length);`) each byte in the buffer I pass is sent as a 16bit SPI frame.
As an example in the im

[2019-04-14 23:36] yogeshk19 commented on #9827
I am in the process of creating a custom OTA/UART bootloader for a BLE application for NRF52840 BLE module and I was wondering what should I be setting for target.restrict_size, as the bootloader [sample](https://github.com/ARMmbed/mbed-os-example-bootloader) that are available to seems to set this at 0x40000 and was wondering if this value would work? Also there was an issue #9949 called out rega

[2019-04-14 23:51] loverdeg-ep commented on #9827
@maclobdell

[2019-04-15 05:30] ciarmcom commented on #10399
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1146*

[2019-04-15 05:30] teetak01 opened #10400 "No flow-control on TARGET_LPC55S69"
### Description

It would seem that either the board does not support flow-control, or Mbed OS is not enabling it.

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NXP/TARGET_MCUXpresso_MCUS/TARGET_LPC55S69/TARGET_LPCXpresso/PeripheralPins.c#L65-L85

This would be required to enable stable network connectivity with AT-based ESP8266 Wi-Fi.

Related with internal ticket: https://jira.a

[2019-04-15 05:31] teetak01 commented on #10400
cc: @ARMmbed/team-nxp @maclobdell

[2019-04-15 07:10] 0xc0170 commented on #10389
Restarting few jobs now, will close if fixed.

Thanks @linlingao

[2019-04-15 07:10] 0xc0170 commented on #10396
@ARMmbed/mbed-os-psa Please review

[2019-04-15 07:17] 0xc0170 commented on #10389
fixed 💯

[2019-04-15 07:17] #10389 closed

[2019-04-15 08:23] 0xc0170 commented on #10399
cc @ARMmbed/mbed-os-hal

[2019-04-15 08:57] andrewc-arm opened #10403 "Watchdog example and test code"
### Description

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

Hi,

My customer is looking for Mbed-OS reference example code and test for Watchdog timer.
I searched the master tip of mbed-os but could not find any relevant API.
It seems it was introduced in 5.9 like this [document](https://os.mbed.com/docs/mbed-os/v5.9/reference/watchdog-port.html).
But I cannot find i

[2019-04-15 08:58] 0xc0170 commented on #10403
Watchdog is still on the feature branch : https://github.com/ARMmbed/mbed-os/tree/feature-watchdog

cc @donatieng

[2019-04-15 09:15] nmathon commented on #10297
OK thanks, but that doesn't work either because Mbed Studio is bundled with python2.7.
So I will have this kind of errors instead:
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 15737: ordinal not in range(128)

[2019-04-15 09:25] 0xc0170 commented on #10297
cc @arekzaluski

[2019-04-15 09:26] davidsaada commented on #10388
The whole idea of the buffered block device is to only program to the underlying block device when the end of the program unit is reached. For instance, if you have a programming unit of 8, then programming 5 bytes at the beginning of the programming unit won't perform the actual programming, but only the programming of the additional 3 bytes after that. This is the purpose of the statement at lin

[2019-04-15 09:37] nmathon commented on #10297
OK, I was able to fix that by adding the following lines in the make.py script
[code]

So It works with the embedded python 2.7 now and with the mbed-os tools from active program activated

[2019-04-15 09:37] #10297 closed

[2019-04-15 10:24] 0xc0170 commented on #9683
Updated, checkboxes created

[2019-04-15 11:45] amq commented on #7382
Just tried `bootloader 5.8.6` with `application 5.12.1`, and the problem persists.

Note that the application does not crash or lock up completely, just the clocks seem to be off. With 5.12.1 what I'm seeing is that `Thread::wait(1000)` takes about 7s in reality on EFM32GG_STK3700.

[2019-04-15 11:52] ciarmcom commented on #10403
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1147*

[2019-04-15 11:52] ciarmcom commented on #10400
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1148*

[2019-04-15 13:01] 0xc0170 commented on #10297
Current workaround for this issue (I can see you fixed the above in the tools directly) is to select in dropdown menu to use local version of tools.
This will be fixed in the next version.

[2019-04-15 15:56] orenc17 commented on #10396
Fixed most of the warnings
warnings related to PSA_SUCCESS redefinition should be fixed when #10251 would be addressed by the crypto team

[2019-04-15 16:07] cmonr commented on #10388
@ARMmbed/mbed-os-storage

[2019-04-15 19:03] JohnK1987 commented on #10207
Hi, thx for your responce and sorry for delay.

I tried the UnlockedCAN how kjbracey-arm wrote
[code]
That was working until new version(5.12) of MbedOS5 came. So the easier way for me is use old version(5.9) where was implemented how kjbracey-arm wrote than again and again try to solve new changes.

I reworked original example:
[CAN-BUS loop back with Ticker flag](https://os.mbed.com/users/Johnny

[2019-04-16 04:29] ARM93 commented on #10357
I resolved this issue myself. Thanks for your support.

[2019-04-16 04:29] #10357 closed

[2019-04-16 07:51] 0xc0170 commented on #10251
@ARMmbed/mbed-os-crypto Please fix

[2019-04-16 08:04] AriParkkila commented on #9379
@oscarh can we close this issue? The latest Mbed OS master with PR #10402 now passes `mbed test -n tests-network-interface --app-config=tools/test_configs/CellularInterface.json` in both PPP and AT mode.

[2019-04-16 08:06] AriParkkila commented on #10175
@martinichka can you tell in which kind of case you would use server sockets on a cellular network?

[2019-04-16 08:29] 0xc0170 commented on #9379
Closing as fixed

[2019-04-16 08:29] #9379 closed

[2019-04-16 09:00] martinichka commented on #10175
@AriParkkila the goal is to retrofitting an old product. The client had a large install base rolled out with 2G modems. The idea is make a transparent solution using new technology. These devices are in a private APN and the central control 'calls' in on every device if needed.

In fact we already implemented QUECTEL_BG96_CellularStack::socket_bind and QUECTEL_BG96_CellularStack::socket_listen our

[2019-04-16 09:03] aqib-ublox commented on #9621
@michalpasztamobica which test are u using please mention I have just used https://github.com/ARMmbed/mbed-cloud-client-example and followed instruciton as given in https://www.pelion.com/docs/device-management/current/connecting/mbed-os.html and successfully registered, connect board with pelion and update firmware as well. please see logs
[CONNECT-UPDATE-LOGS.txt](https://github.com/ARMmbed/mbed

[2019-04-16 09:13] michalpasztamobica commented on #9621
@aqib-ublox , above I quoted logs from [NETWORKINTERFACE_STATUS_NONBLOCK test](https://github.com/ARMmbed/mbed-os/blob/0b7d9af4dd104e57907f526ff963aa09e7018ffa/TESTS/network/interface/networkinterface_status.cpp#L104), but it doesn't matter much - across our CI I can see this assert occur in any netsocket-* and network-*.

Anyway - the issue has been quite well defined already. The `handle_wlan_st

[2019-04-16 09:30] gilles-peskine-arm commented on #10251
I'm taking a look. `psa/crypto_values.h` contains some definitions that are duplicated from `psa/error.h` because PSA crypto also exists as a standalone library on non-PSA platforms. Is the problem actually the duplicated definition between `psa/error.h` and `psa/crypto_values.h`? In the build log I see references to `psa_client.h`. `psa_client.h` in 5.12.0 is aligned with an older beta version of

[2019-04-16 09:34] 0xc0170 commented on #10360
@maxgerhardt If you got further questions, let us know.

I'll close this as resolved. Blockdevice file fix is here #10414

[2019-04-16 09:34] #10360 closed

[2019-04-16 10:00] fluidblue commented on #9115
@TacoGrandeTX
@naveenkaje
Unfortunately, the error persists.

I tried again using mbed-cli v1.10.0 (on macOS):

    $ mbed import https://mbed.org/teams/mbed/code/mbed_blinky/

    [mbed] Working path "/Users/user/Desktop/test" (directory)
    [mbed] Importing program "mbed_blinky" from "https://mbed.org/teams/mbed/code/mbed_blinky" at latest revision in the current branch
    [mbed] Adding librar

[2019-04-16 10:04] fluidblue commented on #9115
@TacoGrandeTX
I cannot reopen this issue, can you do this?

[2019-04-16 10:24] orenc17 commented on #10251
CC @athoelke

[2019-04-16 10:30] alzix commented on #10251
I think the request is to deduplicate the definitions in order to solve compilation warnings.

One possible almost immediate solution, but suboptimal from my perspective, is to remove the duplicates (sed/patch) during importer script phase.

As for long term solution Mbed Crypto error codes should be reviewed and perhaps aligned with `psa/error.h`

[2019-04-16 10:44] AriParkkila commented on #9412
@vidavidorra can we close this? The implementation of `CellularContext` in the latest Mbed OS with PR #10402 seems to be compatible with [NetworkInterface](https://os.mbed.com/docs/mbed-os/v5.12/apis/network-interfaces.html) passing  `mbed test -n tests-network-interface --app-config=tools/test_configs/CellularInterface.json`.

[2019-04-16 10:47] gilles-peskine-arm commented on #10251
Crypto has already aligned the error codes with `psa/error.h` (spec discussion (internal link): https://github.com/ARMmbed/PSA-IPC-doc/issues/133 ; implemented in crypto in https://github.com/ARMmbed/mbed-crypto/pull/55 which is present in Mbed OS since 5.12.0). TFM's error codes are the ones that are not up to date with `psa/error.h`. So my question stands: does crypto need to provide a patch to

[2019-04-16 11:21] kjbracey-arm commented on #10251
Duplicate defines are permitted in C, as long as they're identical.

A quick GCC test confirms it doesn't warn if they are identical. So you have a mismatch somewhere.

Ah, I think maybe Gilles is a little ahead of me.

[2019-04-16 12:35] gilles-peskine-arm commented on #10251
@kjbracey-arm There are 5 files in Mbed OS 5.12.0 that define `PSA_SUCCESS`. [`TARGET_PSA` via `psa/error.h`](https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.12.0/components/TARGET_PSA/inc/psa/error.h) and [`mbed-crypto` via `psa/crypto.h`](https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.12.0/features/mbedtls/mbed-crypto/inc/psa/crypto_values.h) contain the new definition.
[TFM via `psa_client

[2019-04-16 12:44] michalpasztamobica commented on #9621
I double checked the results in CI and I can see the issue last occurred in the run from 13th April and did not occur any more afterwards.
I checked there were no UBLOX-related updates recently, so I think it's just that CI runs tens of tests daily and can trigger the erroneous situation more likely.

[2019-04-16 13:57] 0xc0170 commented on #4301
@MarceloSalazar shall this be closed or?

[2019-04-16 15:08] cmonr commented on #10262
@ARMmbed/mbed-os-storage

[2019-04-16 15:17] 0xc0170 commented on #10357
How was this resolved @ARM93 ? Just if someone has the same issue in future, can read this and fix.

[2019-04-16 16:02] alzix commented on #10262
@cmonr, it is not reproduced on our side

[2019-04-16 16:42] linlingao commented on #10399
@ARMmbed/team-st-mcd

[2019-04-16 17:34] trowbridgec commented on #9827
We were able to get the mbed bootloader to work on the nRF52840 with firmware updates via Pelion with a couple of tweaks. Note, we used an external NOR flash for firmware update storage.

One tip is that you need to have certain settings match between the bootloader app and the main app.

Here's an excerpt from our bootloader `mbed_app.json` file:
[code]

Here's an example from our main applicatio

[2019-04-16 17:39] cmonr commented on #9140
Closing since clarification PR has long since been merged.

[2019-04-16 17:39] #9140 closed

[2019-04-16 18:47] tushartp opened #10422 "STM32F7 HAL_cryp API compatibility break with cube 1.15 onwards"
### Description

### Issue request type

    [ ] Question
    [x] Enhancement
    [] Bug

API compatibility broken with new STM32Cube_FW_F7_V1.15.0 in the mbed-os/features/mbedtls/targets/TARGET_STM/aes_alt.c file
can we add this issue as I cannot use the latest cube software.
Below is the description from cube release notes

Rework of HAL CRYP driver (compatibility break)
- HAL CRYP driver has be

[2019-04-16 19:54] rutgervandenberg commented on #10399
Just to be clear - this is not an ST only issue. I happened to test it on one, but all targets I looked at (NXP LPC4088, NRF51822) during a quick review exhibit the same behavior.

[2019-04-16 20:18] ciarmcom commented on #10422
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1150*

[2019-04-16 20:28] linlingao commented on #10399
@rutgervandenberg Thanks for the clarification. You're welcome to do a PR.

[2019-04-16 21:21] studavekar opened #10423 "Keil uVision + armc6 build fails for device with nofpu"
### Description
Keil uVision   +  armc6 build failure for devices with no fpu

**Setup:**

Keil uVision: v5.27.0.0
Device: KW24D

Export command : `mbed export -i uvision6 -m KW24D -v`

**Logs :**

[code]

Even after applying patch  https://github.com/ARMmbed/mbed-os/pull/10390/files.
### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-04-17 01:25] Hoel opened #10425 "Stream obj failure on two STM32L4 custom targets"
### Description
I added three custom targets, one STM32L1 : STM32L151CCU6 and two STM32L4 : STM32L451CEU6 and STM32L462CEU6, the required HAL files
![image](https://user-images.githubusercontent.com/622955/56253542-1b066480-60bd-11e9-8625-2f64eecda6a3.png)
![image](https://user-images.githubusercontent.com/622955/56253549-235e9f80-60bd-11e9-9dd7-399f1ab12fa4.png)
have been grabbed from STM32CubeMX

[2019-04-17 05:29] ciarmcom commented on #10425
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1151*

[2019-04-17 05:29] ciarmcom commented on #10423
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1152*

[2019-04-17 06:52] vidavidorra commented on #9412
@AriParkkila Yeah, sorry. This can be closed now.

[2019-04-17 06:52] #9412 closed

[2019-04-17 07:04] #10242 closed

[2019-04-17 07:04] #10344 closed

[2019-04-17 08:38] 0xc0170 commented on #9106
Any update?

[2019-04-17 10:42] ganesh-ramachandran opened #10428 "Minimum memory requirement of mbed os for new target"
### Description

_**Target:**_
New Target

_**Target Memory:**_
RAM - 10K and Flash - 128K

**Issue:**
In testing of the mbed os (greentea testing), we found that many test case requirement of memory is not fulfilled by the new controller because of less RAM.
Is this expected with this RAM size ? Also, please suggest the minimum RAM and Flash requirement for mbed?

### Issue request type
    [X] Q

[2019-04-17 11:00] kjbracey-arm commented on #10425
Assuming UART3 is not the console, then it sounds like the HAL is messing up the console serial port when UART3 is initialised.

This is either a bug in the HAL, or a pin mapping limitation.

The application only gets to specify pins, not UART instances. The UART instance is deduced from the pins. If on this chip your "UART3_RX" and "UART3_TX" pins are actually usable by UART1 as well, then maybe

[2019-04-17 11:03] kjbracey-arm commented on #10399
I believe the feature-hal-spec-spi branch is currently reworking this - @mprse

[2019-04-17 11:14] aqib-ublox commented on #9621
@michalpasztamobica my point is scenario is we have station connected to AP and still we got handle_wlan_status_connected() again in our scenario it's not sound good to me untill we have channel switching at AP side.
Can u breif some other use-case ? or even in your test why this scenario is coming to picture?

[2019-04-17 11:16] Hoel commented on #10425
@kjbracey-arm

UART3 is the console, i defined it in PeripheralNames.h
[code]

[code]

I also tried to use UART1 and UART2 as console default and still have the same error, so its not related to which UART is used for console. Also as told, the exact same project unchanged works perfectly fine on the STM32L151 target.

Which pin is used by which UART is defined in PeripheralPins.c and it looks fin

[2019-04-17 11:37] 0xc0170 opened #10430 "K66F - blockdevice sd test failure"
### Description

Latest test results show this failure often:

[code]

One of the latest run can be viewed here: http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci/PR-10410/artifacts/10410/2/greentea-test/1804/FAIL/K66F/IAR/ . Also if you review greentea test results in the last 10 runs, few of these can be found here. For instance another run: http:

[2019-04-17 11:38] Hoel commented on #10425
@kjbracey-arm

MBED throws the stream error when UART3 is initialized, which ultimately prevent any further print to STDIO since MBED is stuck in a loop after the error occurs. i dont know if the stream error originates from HAL or MBED itself, it occurs as the result of FOPEN is null (presumably).

![image](https://user-images.githubusercontent.com/622955/56284868-18842900-6116-11e9-86b1-4d573e98

[2019-04-17 11:51] ciarmcom commented on #10428
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1153*

[2019-04-17 12:07] kjbracey-arm commented on #10425
You may be getting away with it, but it causes quite a few issues internally. Quite a lot of juggling in the HAL and C retargetting is needed to stop the console+application use conflict causing problems, but not all targets support that juggling.

It's definitely not supported if using buffered serial.

Still, I would expect this STM platform to work as well as any other STM platform.

When openi

[2019-04-17 12:09] 0xc0170 commented on #10425
cc @ARMmbed/team-st-mcd

[2019-04-17 12:22] Hoel commented on #10425
@kjbracey-arm

OK, i dont use buffered serial anyway, and ultimately i only need the Serial UART, STDIO is used only for finding the issue when it doesnt work as here.

as told, console is UART3. <i tried to set console to UART2 and UART1, and open Serial to UART3, it doesnt change anything, error still thrown.

Well, i really doubt it, the target has 128K RAM, and my main is below, as you can see

[2019-04-17 12:33] kjbracey-arm commented on #10425
If you just step through the fdopen at source level, that should reveal something. The call chain should be `mbed::fdopen(FileHandle *)` -> `::fdopen(int)` -> `::fopen()` (in C library) -> `_open()` (back in mbed_retarget.cpp, line 471).

I don't see anything particularly target-specific here, oddly. `Serial` doesn't check for any errors coming back from the HAL - the object should construct and o

[2019-04-17 12:42] Hoel commented on #10425
ok i will do that and let you know.

Yes, i never came across this issue in the past. I can't affirm it is target specific but fact is the same project works perfectly with the STM32L1 target and fail with STM32L4 targets.

[2019-04-17 12:57] 0xc0170 commented on #10428
Mbed Enablement contains size requirements. They depend on the level, basic has different one than pelion ready. Reference https://www.mbed.com/en/about-mbed/mbed-enabled/requirements/

Baseline class should be fine for the above target (RAM - 10K and Flash - 128K). What tests do fail ?

cc @MarceloSalazar

[2019-04-17 13:09] masoudr opened #10432 "Device put into sleep mode automatically after enabling Tickless"
### Description

Hi,
I'm using an STM32F407 device with `mbed-os v5.12.1` . I've enabled the `MBED_TICKLESS` in the device configuration file (`"macros_add": ["USB_STM_HAL", "MBED_TICKLESS"]`). I have some threads in my code, which works fine, but after a while (about 10 to 12 hours) all my threads except LowPowerTicker seems paused and the device gets into sleep mode automatically and it never wa

[2019-04-17 13:22] aqib-ublox commented on #9621
I just have generated a scenario
1. I have connected station to AP so this make _state_sta = S_STA_CONNECTED
2. Down AP and immediately activated it again

   I saw that ODIN_W2 got handle_wlan_status_connected() while  _state_sta = S_STA_CONNECTED ok would add handling and generate PR but it's a very aggressive scenario because if AP is not up immediately we would get

which avoid generation of a

[2019-04-17 13:44] michalpasztamobica commented on #9621
@aqib-ublox , I am glad you managed to get a reproducible scenario.
I think this resembles a situation where a network is on the edge of connectivity and the board sometimes, for a short period, looses the connection and then recovers a moment after.
I think this situation might be quite common in the reality of crowded test racks polluted with a lot of Wi-Fi networks, which is probably why our CI

[2019-04-17 14:27] kjbracey-arm commented on #10432
I can't really follow what the flags will end up doing - they're not synchronising the serial port. You need a mutex to protect that.

No-one ever signals `device_event` to start with in that snippet, so it can't quite be right.

[2019-04-17 14:33] donatieng commented on #10321
Hi @marcemmers and thanks for raising the issue - we'll make sure this is addressed in the upcoming PR

[2019-04-17 14:43] pmancele opened #10433 "[BLE][CORDIO] Cordio stack behavior is broken on BlueNRG ST module"
### Description

Hello,
I'm working on Bluetooth for month with Mbed OS, and i am used to the old API.
Now i'm trying to update my applications with new BLE 5 stack of Mbed OS (CORDIO).

There is a lots of bugs when using **CORDIO BLE stack + BlueNRG BLE module** that does not exists on targets with integrated BLE capabilities (NRF52840 at least). With old BLE API (Mbed OS 5.10) and the old BlueNR

[2019-04-17 14:51] JanneKiiskila commented on #9621
Which could also happen if you have a Wi-Fi access point in a place - say with pillars/columns and you have a moving device - it would/could periodically lose the signal and something like this could happen in real life, too.  I hope we get a fix for this.

[2019-04-17 14:52] #9106 closed

[2019-04-17 15:11] bulislaw commented on #9621
@MarceloSalazar fyi

[2019-04-17 15:16] paul-szczepanek-arm commented on #10321
this is fixed in the 19.2 cordio LL, PR pending preceding PR

[2019-04-17 15:18] paul-szczepanek-arm commented on #9901
this is fixed in the 19.2 cordio LL, PR pending preceding PR

[2019-04-17 15:32] masoudr commented on #10432
@kjbracey-arm Both threads have access to the external device UART, so I used `device_event` to control access to it, on each run one of them would take control it until the end and this goes forever. Do you mean crashing threads (or maybe sleeping) is the cause of using EventFlag in them?

[2019-04-17 15:37] kjbracey-arm commented on #10432
I find it hard to reason about the code - it's rather unconventional. I think it's probably safe, as long as exactly 1 person signals the flag to start with. No-one currently signals it at all, so that isn't your code.

The example is clearly totally synthetic, as you're arranging for two threads which only run 1 at a time, so the threads are pointless.  On the assumption you were doing real work,

[2019-04-17 15:53] masoudr commented on #10432
@kjbracey-arm I'm not doing anything parallel. My device is a GSM modem and I'm using `ATCmdParser` to communicate with it. For example, `thr1` read and write some files into the modem, but `thr2` send an HTTP request with it. These two functions are totally independent and that is why I put them in separate threads. I used [this](https://os.mbed.com/blog/entry/Tracking-memory-usage-with-Mbed-OS/)

[2019-04-17 16:05] mmahadevan108 commented on #10284
1050 & 1060 are similar. You should be able to reuse most of 1050 support with changes to the linker files. Please download the SDK for 1060 from
https://mcuxpresso.nxp.com/en/select

[2019-04-17 16:07] maclobdell commented on #9897
@johndebudge - any update on this?  will the integration point be qspifblockdevice or is your team planning a new smif blockdevice class?

[2019-04-17 16:12] linlingao commented on #10422
@Patater Can you comment on this? Which team should I assign this to, your team or ST?

[2019-04-17 16:58] Patater commented on #10422
@linlingao Was Mbed OS updated to use "F7 ST CUBE V1.15.0" yet? I only see "F7 ST CUBE V1.10.0" in commit 58c4a5f83ee3 on `master`. When updating to "F7 ST CUBE V1.15.0" in Mbed OS, it looks like `mbed-os/features/mbedtls/targets/TARGET_STM/aes_alt.c` also needs to be updated. Updating the F7 ST CUBE version is generally done by ST.

[2019-04-17 17:25] Hoel commented on #10425
alright, so i stepped debugged in fdopen, landed in mabed_retarget, no error occur here, the returned object fh_i value is 0x03:

![image](https://user-images.githubusercontent.com/622955/56307402-0d94bd00-6145-11e9-90fb-88dff4878989.png)

later in bind_to_fd :

![image](https://user-images.githubusercontent.com/622955/56307565-6401fb80-6145-11e9-941d-7f2810cda27f.png)

later in STD::fdopen:

![im

[2019-04-17 18:59] linlingao commented on #10422
@Patater Thanks for the comment. I'll send this to ST to assess updating F7 ST CUBE first.

[2019-04-17 19:00] linlingao commented on #10422
CC @ARMmbed/team-st-mcd

[2019-04-17 20:13] Hoel commented on #10425
the problem seems to occur here, mbed_retarget.cpp, in std::*fdopen, the stream returned after std::fopen has a null pointer:

![image](https://user-images.githubusercontent.com/622955/56317680-9f102900-615d-11e9-8d1a-cc5dcec0dc55.png)

![image](https://user-images.githubusercontent.com/622955/56317806-f44c3a80-615d-11e9-9455-799a4675b41d.png)

[2019-04-17 20:18] ciarmcom commented on #10433
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1154*

[2019-04-17 20:18] ciarmcom commented on #10432
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1155*

[2019-04-17 20:40] Hoel commented on #10425
I just ran this test on our old project folder, mbed-os version : major 5, minor 10, patch 2 and everything works fine here, no stream error or anything. To go ahead i copied the whole target folder from this project to the new project (mbed-os version : major 5, minor 12, patch 0) and the stream error occurs immediately. So something changed between these two version which cause the stream error

[2019-04-18 05:17] #10428 closed

[2019-04-18 05:17] #10403 closed

[2019-04-18 05:17] #10345 closed

[2019-04-18 05:17] #10337 closed

[2019-04-18 05:18] #10305 closed

[2019-04-18 05:18] #10300 closed

[2019-04-18 05:18] #10284 closed

[2019-04-18 05:18] #10256 closed

[2019-04-18 05:18] #10252 closed

[2019-04-18 05:19] #10236 closed

[2019-04-18 05:19] #10192 closed

[2019-04-18 05:21] #9770 closed

[2019-04-18 05:21] #9734 closed

[2019-04-18 05:21] #9729 closed

[2019-04-18 05:21] #9672 closed

[2019-04-18 05:21] #9671 closed

[2019-04-18 05:22] #9665 closed

[2019-04-18 05:22] #9623 closed

[2019-04-18 05:22] #9597 closed

[2019-04-18 05:23] #9314 closed

[2019-04-18 05:23] #9141 closed

[2019-04-18 05:24] #8942 closed

[2019-04-18 05:24] #8941 closed

[2019-04-18 05:25] #8741 closed

[2019-04-18 05:25] #8678 closed

[2019-04-18 05:25] #8376 closed

[2019-04-18 05:25] #8289 closed

[2019-04-18 05:30] michalpasztamobica commented on #8306
I don't quite understand why this issue is closed.
Looking at [an icf script for a random architecture](https://github.com/ARMmbed/mbed-os/blob/5fb5e9808ccc8162ff8d16cfb24d793feea29f7a/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/device/TOOLCHAIN_IAR/stm32f439xx_flash.icf#L24), I can see that heap is still fixed-size.

[2019-04-18 05:31] ciarmcom commented on #10430
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1156*

[2019-04-18 06:49] desowin commented on #10241
Could the reason for closing this be public? The QSPIFBlockDevice.cpp was not modified to address this issue.

[2019-04-18 06:50] desowin commented on #9809
Would it be possible to know the reason why this was closed?

[2019-04-18 07:20] offirko commented on #10241
In the long term QSPIFBlockDevice should support several instances on the same csel, so the "_active_qspif_flash_csel_arr array" would no longer be required then. Current impact on dynamic heap allocation is minimal (only 40 bytes).

@cmonr  - please advise regarding change priority and owner

[2019-04-18 07:29] 0xc0170 commented on #10433
cc @ARMmbed/mbed-os-pan

[2019-04-18 07:50] 0xc0170 commented on #9809
The issue should always have a reason for closure, sorry about that.

@linlingao Please provide it

[2019-04-18 08:00] 0xc0170 commented on #8306
I've noticed few issues closed yesterday without reason, will be fixed.

cc @linlingao ^^

[2019-04-18 08:24] kjbracey-arm commented on #10425
From `fopen`, does it call `_open` in mbed_retarget.cpp? Or does it not get that far?

Are we sure it's not an allocation failure? Can you breakpoint malloc? (May be tricky without the source).

You say "This target has 128K of RAM". Fine, but does Mbed OS know that? Is the linker map set up correctly? Check how much you can actually allocate.

[2019-04-18 08:33] kjbracey-arm commented on #10425
Ah, that seems to be it. Your heap has no space allocated:

    .heap (COPY):
    {
        __end__ = .;
        end = __end__;
        *(.heap*)
        __HeapLimit = .;
    } > SRAM1
    PROVIDE(__heap_size = SIZEOF(.heap));

All the other STM targets have the line

            . = ORIGIN(RAM) + LENGTH(RAM) - STACK_SIZE;

before `__HeapLimit` to mark all remaining space as heap.

Apparently STM

[2019-04-18 08:36] kjbracey-arm commented on #10432
Multiple threads have a significant RAM cost - the cost of having two stacks to let the multiple things interleave.

For your use case it sounds like using an `EventQueue` on a single thread and scheduling two tasks with `call_every` would be what you want.

Still, that's a design issue, and not necessarily whatever your problem is. I'd want to see the thread state according to GDB+PyOCD after it'

[2019-04-18 08:39] Hoel commented on #10425
@kjbracey-arm
Yes it can reach _open in mbed_retarget, in fact it pass everything without error and goes back to Stream::stream.

I will once i have a moment, the failure is likely here

Yes, the linker file reflect that, by the way i told wrongly 128K,t it is actually 160K

/```
* Linker script to configure memory regions. */
MEMORY
{
  FLASH (rx) : ORIGIN = 0x08000000, LENGTH = 512K
  SRAM1 (rwx

[2019-04-18 08:40] Hoel commented on #10425
Oh right, i see now, i will make these changes and see

[2019-04-18 08:43] 40Grit commented on #9479
@ciarmcom not a fan of your recent auto closures

[2019-04-18 08:44] 0xc0170 commented on #9897
https://github.com/ARMmbed/mbed-os/pull/10435

[2019-04-18 08:46] 0xc0170 commented on #9479
@40Grit  I've noticed dozen of issues closed without a reason as result of closing in our internal tracker.

All will be addressed soon.

[2019-04-18 08:47] 40Grit commented on #10263
@cmonr please re-open

Still awaiting @geky's input

[2019-04-18 08:53] #10425 closed

[2019-04-18 08:56] 40Grit commented on #9479
@0xc0170 I've noticed in the past that

"Closed in jira doesn't always mean closed in GitHub."

Internal to ARM what does an issue closing in Jira signify?

[2019-04-18 09:13] 0xc0170 commented on #9479
I'll talk to the team. They will get back to all recent closed issues.

[2019-04-18 09:14] 0xc0170 commented on #10425
@kjbracey-arm 💯

[2019-04-18 09:39] 0xc0170 opened #10440 "TARGET_CORDIO_LL: 2 files incorrect license"
### Description

features/FEATURE_BLE/targets/TARGET_CORDIO_LL/stack/controller/sources/ble/init/init_ctr.c and one more file in the init folder do not contain proper license (the rest of files in ble are released under apache 2.0). This should be fixed.

cc @ARMmbed/mbed-os-pan

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-04-18 09:46] #5467 closed

[2019-04-18 10:47] MarceloSalazar commented on #4301
I've had a chance to try this again on my Mac El Capitan.

First, upgraded my NUCLEO_L476RG and DISCO_L476VG to STLink 2.33.25 (latest from ST website).

Then I've run echo tests with GCC (6.3.1), using Mbed OS 5.12.1
[code]

Unfortunately, this still fails for both platforms - see log [stlink-test-180419.txt](https://github.com/ARMmbed/mbed-os/files/3094006/stlink-test-180419.txt)

Note, after re

[2019-04-18 11:26] RobVlaar commented on #10388
@davidsaada thanks for the explanation, i misused the bufferedBlockDevice for my purpose.

[2019-04-18 11:26] #10388 closed

[2019-04-18 11:49] ciarmcom commented on #10440
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1157*

[2019-04-18 12:21] 0xc0170 commented on #10262
@maclobdell closing or talk to @alzix

[2019-04-18 14:37] linlingao commented on #9809
This was accidentally closed by a script.

[2019-04-18 14:41] maxgerhardt commented on #10379
Any updates on this? Maybe it wasn't noticed because the issue was moved?

[2019-04-18 14:51] linlingao commented on #8306
Accidentally closed by script. Reopen.

[2019-04-18 15:04] linlingao commented on #8376
I've done some investigation on the reported interference of TICKLESS/deepsleep on trace, below is my findings:

I used the sleep test in HAL for my investigation. I do get error if I add printf immediately after sleep() when using release profile (deep sleep is disabled if using debug profile). The error is:

[1551733610.35][CONN][WRN] UnicodeDecodeError encountered!

This indicates UART clock is

[2019-04-18 16:16] paul-szczepanek-arm commented on #10440
fixed in 19.2, pending feature branch for nrf sdk 15

[2019-04-18 16:28] paul-szczepanek-arm commented on #10433
I don't think cordio is responsible for the behaviour of the controller on your shield. The host cannot guarantee advertising periodicity. Connections drop for many reasons and without more information from you I can't really help much sorry. I tested with nucleo and the 05A1 BLE shield and it works fine.

[2019-04-18 16:51] maclobdell commented on #10400
@mmahadevan108  - this one is urgent for our device management team.  it will enable reliable communication to a uart-based external module.

It looks like the **serial_set_flow_control function** is not implemented for this target.

The definition is here
https://github.com/ARMmbed/mbed-os/blob/master/hal/serial_api.h

Also PeripheralPins.c doesn't have pins for flow control.

[code]

Based on th

[2019-04-18 17:06] masoudr commented on #10432
I tried to create a simple `EventQueue` but whenever I use `call_every` method I get fault exception in `thr1`.
I'm not sure how much stack size should I set for EventQueue, but I know how much stack size the function (`th1_func`) and (`th2_func`) needs.

[code]

[2019-04-18 18:03] bridadan commented on #8204
I've given some details in this issue about why we can't really "fix" this. It's a limitation on Windows. If there is any more discussion we should have we can always reopen this.

[2019-04-18 18:03] #8204 closed

[2019-04-18 18:15] deepikabhavnani commented on #8204
I created the issue, but can't reopen it :-(
Anyways, yes agree we have limitation from windows side and hence cannot be fixed by tools but shouldn't  we be solving the issue by refactoring folder names and path?

[2019-04-18 18:27] bridadan commented on #8204
Well dang, that seems silly. Shall I reopen it then?

That's fine with me! This issue would need to be assigned to each team's tests though. Perhaps a new issue with each of the paths that need to be refactored would be more helpful?

[2019-04-18 20:22] vmedcy commented on #9830
This is fixed in the latest master, all PSoC 6 targets updated to ARMC6.

[2019-04-19 01:17] yogeshk19 commented on #10321
@donatieng , @paul-szczepanek-arm  is this slated to be fixed in the 5.12.2 release?

[2019-04-19 01:24] yogeshk19 commented on #9827
@trowbridgec  Thanks so much for putting down the configuration you have used. We are a bit side tracked we are dealing with some other issues on our custom board. But as soon as I get a chance to play around with a custom bootloader, I will update this issue with my findings.

Thanks,
Yogesh

[2019-04-19 02:31] yogeshk19 commented on #9826
It was the external crystal that needed to be updated on the custom board. We are able to operate at higher baud rates now. I am closing this as resolved. Thanks for all your inputs.

[2019-04-19 02:31] #9826 closed

[2019-04-19 07:26] shane-taurean commented on #10321
I'm trying the mbed-os-example-ble-LED and mbed-os-example-ble-BatteryLevel cordio example codes on the nRF52_DK (nRF52832). I get unwanted pulses on the analog pins, around 3 pulses repeated every second during advertising and 1 pulse every 45 ms after connecting via nRFConnect.

I tried mbed-os releases 5.11.5, 5.12.1 and also the master branch.

Is this related to the same issue and any resolut

[2019-04-19 07:47] ccchang12 opened #10444 "ATHandler AT debug traces cannot enable in mbed-os 5.12.1"
### Description

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

For mbed-os-example-cellular example, if set the "cellular.debug-at" to true in JSON file, the building will encounter below error.

Compile [  6.3%]: AT_ControlPlane_netif.cpp
Compile [  6.4%]: AT_CellularStack.cpp
Compile [  6.5%]: equeue_mbed.cpp
Compile [  6.6%]: ATHandler.cpp
[Error] ATHandler.cpp@1292,

[2019-04-19 08:01] pmancele commented on #10433
@paul-szczepanek-arm I also tried with a NUCLEO (and a K64F) + 05A1 shield and it is not working for me (It was with Mbed OS 5.10 and the old driver of the 05A1 shield).

Do you have an idea of a test that I could run to identify the issue or to provide you more debug informations ?

[2019-04-19 09:24] cyliangtw opened #10445 "Sync USB device support for existing silicon targets"
### Description
For usb device support, there are 2 folders with the same functions, one is `/mbed-os/usb/device/`, the other is` /mbed-os/features/unsupported/USBDevice/`.
Moreover , the new folder `/mbed-os/usb/device/` only pick 4 silicon targets from `/unsupported/USBDevice/`, is there any plan to proceed the remained 3 silicon targets ?

7 silicon targets at:
[unsupported folder](https://gith

[2019-04-19 11:47] ciarmcom commented on #10445
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1159*

[2019-04-19 11:47] ciarmcom commented on #10444
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1160*

[2019-04-19 11:48] wajahat-ublox commented on #10444
This was fixed in [this](https://github.com/ARMmbed/mbed-os/pull/10354) PR.

[2019-04-20 15:36] bentcooke commented on #10191
@ARMmbed/team-silabs

[2019-04-21 07:41] offirko commented on #10325
@geky - I think this line will always allocate __prog_size_ buffer, 512bytes per current issue HeapBlockDevice. (unless static lfs->cfg->file_buffer is configured, which I think is not in this case)

https://github.com/ARMmbed/mbed-os/blob/71c84e851f771fbf7d6615e415547d4574009fb0/features/storage/filesystem/littlefs/littlefs/lfs.c#L1369

[2019-04-21 12:45] alzix opened #10446 "mbed compile --library ignores custom --app-config"
### Description
Building a library with a custom app-config fails.

I do not see any references to custom app-config in `tools/build.py`

custom app-config is required for ARMv8-M + TF-M targets

To reproduce - execute the following command on mbed-os 5.12.1:
`$ mbed compile -m LPC55S69_S -t ARM --app-config mbed-os/tools/psa/tfm/mbed_app.json --library`

### Issue request type

    [ ] Question

[2019-04-21 13:22] offirko commented on #10325
@geky - pls ignore the previous remark.
upon further analysis, the extra 512bytes are added by calling _lfs_file_sync_() at _lfs_file_close_().
Just before closing the file, _lfs_file_sync_() is writing 512bytes to the BlockDevice which is on Heap, enlarging it by 512bytes each time.

https://github.com/ARMmbed/mbed-os/blob/71c84e851f771fbf7d6615e415547d4574009fb0/features/storage/filesystem/littl

[2019-04-21 15:18] ciarmcom commented on #10446
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1161*

[2019-04-22 02:35] #10444 closed

[2019-04-22 09:13] offirko commented on #10325
@AnjanDhumal - Please note that final analysis shows this is **not a real issue**.
HeapBlockDevice in your case is constructed of 64 "sectors", each sized 512 bytes.
The overall heap memory this BD will consume is 32Kbyte.
HeapBlockDevice is designed so that each "sector" is **allocated** only at the **first** time it is being programmed.
Because LittleFS efficient ware-leveling logic will make us

[2019-04-22 09:20] offirko commented on #10325
Log snippets:
1) For HeapBlockDevice 64*512bytes:
[1555922930.47][CONN][RXD] OFR_DBG Heap 0 : Current heap usage: 5376
[1555922930.47][CONN][RXD] OFR_DBG Heap 1 : Current heap usage: 6400
[1555922930.57][CONN][RXD] OFR_DBG Heap 2 : Current heap usage: 6912
[1555922930.57][CONN][RXD] OFR_DBG Heap 3 : Current heap usage: 7424
.
.
[1555922933.18][CONN][RXD] OFR_DBG Heap 56 : Current heap usage: 34560

[2019-04-22 09:22] offirko commented on #10325
@AnjanDhumal - please let me know if the issue can be marked resolved.
Thanks

[2019-04-22 13:28] nbmaiti opened #10450 "Resolve Dn return only one ip"
### Description
Folllwed
https://os.mbed.com/docs/mbed-os/v5.9/reference/dns-resolver.html
after resolve dn call , I used gethostbyname to get the ip. But it returns only 1 ip , where the domain have multiple ip.
Is it possible to get all ips or only one one is possible.
   -  What target does this relate to?  NUCLEO_F429ZI ,
    - What toolchain (name + version) are you using? ARM-GCC 7.2
    - W

[2019-04-22 18:56] pstolarz opened #10452 "[UBLOX_C027] Model powering flag"
### Description
File: `targets/TARGET_NXP/TARGET_LPC176X/TARGET_UBLOX_C027/ublox_low_level_api.c`
Looks like `modemOn` is not set `true` in `ublox_mdm_powerOn` after powering the modem on:
[code]

### Issue request type
    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-04-22 20:54] mmahadevan108 commented on #10400
P1_26 and P1_27 are not connected to the Arduino headers

[2019-04-23 06:45] aqib-ublox commented on #9621
https://github.com/ARMmbed/mbed-os/pull/10454 created

[2019-04-23 07:19] jeromecoutant commented on #10057
Hi
No explanation before closing the issue.....?
:-(

[2019-04-23 07:19] jeromecoutant commented on #10273
Please reopen this question.... :-(

[2019-04-23 07:20] jeromecoutant commented on #10319
Please reopen this issue :-(

[2019-04-23 07:21] jeromecoutant commented on #10331
Please reopen this issue!

[2019-04-23 07:21] jeromecoutant commented on #10365
Please reopen this issue

[2019-04-23 07:22] jeromecoutant commented on #10370
please reopen this issue!

[2019-04-23 07:27] cyliangtw commented on #9460
@bridadan
Regard "core_tz" default value as true by macros_add "core_tz=true" in target.json .
For non-Trustzone application, developer could set macros_add "core_tz=false" in mbe_app.json .
Is there any misunderstanding your scenario ?
Is there any plan or schedule to publish non-TrustZone support ?

[2019-04-23 07:33] multiplemonomials opened #10455 "LPC1768 SPI Async support"
### Description

Is there a reason the LPC1768 doesn't support asynchronous SPI transfers?  According to the datasheet it appears to have the capability in hardware for it, but in `targets.json` it doesn't have the SPI_ASYNC feature.  This feature would be extremely useful for a project I'm working on, and I'm thinking about trying to add support.

### Issue request type

    [X] Question
    [ ]

[2019-04-23 08:16] jeromecoutant commented on #4301
@schstm Do we have some test results with STLink v2.33.25 and MacOs ?

[2019-04-23 09:30] jeromecoutant commented on #10345
@ventus2c do you want to reopen this issue ?

[2019-04-23 09:32] jeromecoutant commented on #10337
@masoudr  do you want to reopen this issue ?

[2019-04-23 10:10] LMESTM commented on #10337
Without tickless, there will be TICKs every 1 ms. So you would not have much time to sleep between each tick

As long as there is some activity (UART, High resolution timers, active threads, etc ... ) there will not be any deep sleep. There is also an API (lock_deep_sleep / unlock_deep_sleep) that allows you to prevent deep sleep entry when you don't want it.

[2019-04-23 11:03] ganesh-ramachandran commented on #10428
@0xc0170, below linker error is issued during green tea tests compilation:
`cannot move location counter backwards (from 20002b70 to 20002400)`

[2019-04-23 11:25] masoudr commented on #10337
@jeromecoutant No doesn't need to, I somehow put the device into sleep mode.
@LMESTM I just terminated all threads (except the LowPowerTicker), turned off UART devices and used the above function, thus I saw that the device become in a low power mode but I'm not sure if it is in sleep or deep sleep.
Now I'm trying to use `unlock_deep_sleep` to somehow save more energy by putting the device into de

[2019-04-23 11:42] LMESTM commented on #10337
@masoudr You don't need to call unlock_deep_sleep unless you have called lock_deep_sleep in a first place... mbed-os offers statistics if the time spent in sleep and deep sleep. you can look for documentation of mbed_stats_cpu_get(&cpu_stats); API.

[2019-04-23 11:45] offirko commented on #10325
@0xc0170 - can you please close this as "not a bug" - thanks.

[2019-04-23 11:47] AnjanDhumal commented on #10325
Agree, it can be marked resolved and closed. thank you.

[2019-04-23 13:18] loverdeg-ep commented on #10319
@0xc0170

[2019-04-23 13:32] ventus2c commented on #10345
I used MBED_CONF_TARGET_TICKLESS_FROM_US_TICKER=0 in MACROS section of online compiler, didn't work.
I tryed in mbed_app.json macros "MBED_CONF_TARGET_TICKLESS_FROM_US_TICKER=0", WORKED.
Consider it closed.

[2019-04-23 14:06] jeromecoutant commented on #10370
IAR update reference PR is no more #10003 but #10303

[2019-04-23 14:28] linlingao commented on #10228
Reopen issue as this is a feature request.

[2019-04-23 15:03] deepikabhavnani commented on #10370
@ARMmbed/mbed-os-maintainers - Can we change the settings to allow the issue owner to open/close the issue?

@linlingao - Please re-open this one

[2019-04-23 15:06] linlingao commented on #10370
@deepikabhavnani Can you confirm this applies to not just ST but also other targets?

[2019-04-23 15:17] deepikabhavnani commented on #10370
Applies to all targets having multiple RAM banks

[2019-04-23 15:24] mmahadevan108 commented on #10400
I can provide an implementation using Flexcomm 0 (UART0) that uses the below
TX  = P1_6
RX  = P1_5
RTS = P1_7
CTS = P1_8

[2019-04-23 15:37] maxgerhardt opened #10458 "mbed-os Emulation"
### Description

I'd like to ask whether an simulator/emulator is available for mbed-os. This is with regards to firmware testing. I'm currently researching the possibilities of taking our firmware (built for a STM32L476RG & mbed-os 5.12) and executing it inside an emulator or simulator, in which e.g.  extended tests such as memory corruption tests (think: valgrind), can be executed, which would o

[2019-04-23 16:05] linlingao commented on #10370
@deepikabhavnani Do you have a list of targets with multiple RAM banks? We should label them.

[2019-04-23 16:12] deepikabhavnani commented on #10370
I don't have the list, will have to scan all linker files / targets. Best will be to label all the partners.

[2019-04-23 16:12] linlingao commented on #10057
@jeromecoutant Sorry, the issue was closed by our bot instructed by me by mistake. I'm reopening it.

[2019-04-23 17:17] schstm commented on #4301
@jeromecoutant  the v2.33.25 was tested on MacOS Yosemite (v10.10) but not in the context of this mbed test; it's difficult to figure out where the problem comes from without a detailed knowledge of what the test is doing ? Perhaps understanding from where comes the mbedmbedmbed... string can give a first clue. Is it an echo of something coming from the host or what may trigger the target for send

[2019-04-23 17:27] loverdeg-ep commented on #8666
@maclobdell @ARMmbed/mbes-os-wan

We have a working-ish implementation for ME910 but are struggling at each step.

Currently having trouble with maintaining connection to Pelion using PSM mode.
My thinking is that UDP would be the preferable transport in this scenario?
LWM2M Registration lifetime, psm, and coap settings I would assume are pretty important to get right.

@trowbridgec can provide mo

[2019-04-23 19:18] linlingao commented on #10445
@c1728p9 Russ, can you comment?

[2019-04-24 02:41] maclobdell commented on #10400
I have a patch from Mahesh that I'm testing.  Will share results soon.

[2019-04-24 06:14] janjongboom commented on #9285
@cmonr @bulislaw Why is this closed?

[2019-04-24 06:14] janjongboom commented on #9789
@cmonr @bulislaw Why is this closed?

[2019-04-24 06:14] janjongboom commented on #10058
@cmonr @bulislaw Why is this closed?

[2019-04-24 06:15] janjongboom commented on #10059
@cmonr @bulislaw Why is this closed?

[2019-04-24 06:15] janjongboom commented on #10169
@cmonr @bulislaw Why is this closed?

[2019-04-24 06:15] janjongboom commented on #10175
@cmonr @bulislaw Why is this closed?

[2019-04-24 06:57] hasnainvirk commented on #8666
The current layout of the cellular support suggests that at the time of construction of the driver for the modem, a construct of certain properties is built and fed to the  AT_CellularBase object. Please check the code out here https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/targets/TELIT/HE910/TELIT_HE910.cpp#L24
This tells the controller layer what the modem is capable

[2019-04-24 07:13] hasnainvirk commented on #8666
TCP is certainly going to be problematic with PSM theoretically.   The sleep time is characterized by the difference of two network or device initiated timers 'T3324 Active Timer' and 'T3412 Extended periodic TAU (tracking area update) Timer'.  I am not sure  what would be the value of this diff in your case and if it would have any impact on your setup. But theoretically, its quite possible if th

[2019-04-24 07:42] 40Grit commented on #8666
@Hasnainvirk thanks!

Any insight regarding PPP versus AT mode and PSM?

[2019-04-24 07:49] 40Grit commented on #10169
@0xc0170 Still a lot of issues closed that should be open. Including the ones I mentioned last week.

@linlingao

[2019-04-24 07:53] 40Grit commented on #10263
@0xc0170 @linlingao

[2019-04-24 07:54] 40Grit commented on #9479
@linlingao

[2019-04-24 09:36] jeromecoutant commented on #10273
@linlingao

[2019-04-24 09:50] hasnainvirk commented on #8666
@40Grit For PSM, it shouldn't matter what mode you pick given that you don't turn-off modem, i.e., the modem goes into a deeper sleep level (lowest possible power state but not shutdown state). Some data sheets suggest that while into low power mode, modems can still respond to AT commands. So I would argue that the PPP connection between modem and LWIP should retain its state even in low power mo

[2019-04-24 09:58] jeromecoutant commented on #10370
Hi

about labels:
- please remove the "devices: st"
- check jira status

Thx

[2019-04-24 10:05] 40Grit commented on #8666
@hasnainvirk Any way to use PPP mode and still send AT commands without losing connection?

Probably varies per module but in this case we see the ME910 losing connection when switching between the two.

[2019-04-24 10:30] hasnainvirk commented on #8666
@40Grit It's not possible to send AT commands when you are in PPP mode. Many modems will chuck your connection to the ground if you try to send any AT command. Some may just send a BUSY signal. You can check that if  the modem shuts down your PPP connection by monitoring the DCD pin if available. When the modem hangs up on you, DCD pin will be wriggle (high or low depending upon the modem).

[2019-04-24 10:38] hasnainvirk commented on #8666
@40Grit I assume you want to switch between the modes to retrieve SMS, is that so ?

[2019-04-24 10:44] ganesh-ramachandran opened #10464 "Linker error issued during green tea tests compilation"
_Originally posted by @0xc0170 in https://github.com/ARMmbed/mbed-os/issues/10428#issuecomment-484072792_

Hi, Below linker error is issued during green tea tests compilation:

**- ARM:**
- No space in execution regions with .ANY selector matching
Error: L6407E: Sections of aggregate size 0x30 bytes could not fit into .ANY selector(s).

**- IAR:**
- Unable to allocate space for sections/blocks wit

[2019-04-24 11:09] loverdeg-ep commented on #8666
@hasnainvirk  yes that is one of the use cases. We were also thinking it would be useful to check on certain parameters settings of the ME910 module form time to time.

I suppose it isn't a huge deal to close connection to Pelion and then just re-register after getting what is needed.

Our thinking was that any TCP socket would most certainly be lost, but maybe there would be a way to still mainta

[2019-04-24 11:15] hasnainvirk commented on #8666
@40Grit If you add RI pin to your driver construction, you may be able to add a URC to handle SMS. Then RI can tell  you when to switch to command mode and handle your SMS. I hope there are options while setting up URC to block the calls and allow only SMSs. Yeah in case of UDP it should be alright. Please note that you may get a different IP address. That means renegotiation with Pelion. Again, @

[2019-04-24 15:29] Terstegge opened #10470 "Tools: lint.py shows errors for all existing targets"
When using tools/targets/lint.py, I get error messages for every existing target:

[code]
Since there is only little documentation about adding a new target to targets.json, it is important to have a tool that reports errors reliably, especially when s.o. wants to add a new hierarchy for MCU families.

I am using python 2.7 on Linux Mint.
SHA of mbed-os: 46603f8

### Issue request type

    [ ] Qu

[2019-04-24 16:43] bridadan commented on #9460
Hi @cyliangtw I don't quite understand your question. However in my branch I am not using macros to modify the use of TrustZone, but configuration values.

There are currently no plans or schedule to publish non-TrustZone support that I am aware of.

[2019-04-24 17:11] SenRamakri commented on #10226
@masoudr - Have you made corresponding changes to your linker scripts according to section "Adding the Crash-data-RAM region for crash reporting" in https://os.mbed.com/docs/mbed-os/v5.11/apis/error-handling.html?

[2019-04-24 17:15] linlingao commented on #10370
@jeromecoutant Not sure why you requested removal of devices:st? You don't think further work is needed from your side?

[2019-04-24 17:22] linlingao commented on #9479
@40Grit  Has this question not been answered? Or has this turned into a future request?

[2019-04-24 17:26] linlingao commented on #10263
@geky Can you comment so that we can determine what action we should take next on this request?

[2019-04-24 17:37] trowbridgec commented on #8666
This tells the controller layer what the modem is capable of. I assume LE910 and ME910 differ in specs from HE910 a bit (haven't read the data sheet though) . If that's the case, LE910 and ME910 could potentially come as separate targets in the tree. Please note that the HE910 may work if you just happen to use a subset of those properties which happen to be present on LE910 or ME910.

@hasnainvir

[2019-04-24 19:53] maclobdell commented on #10262
I've tried multiple boards.  I've tried updating the Daplink to the latest.  I get consistent failures.  Even if I go back to ARM compiler 6, the tests eventually time out.  There must be some misunderstood dependency.  The tests are not stable.  Can I get some guidance and help here?

[2019-04-24 20:00] masoudr commented on #10226
@SenRamakri Thanks, I didn't know that. I read the docs but I couldn't realize how to apply it, I'm using GCC ARM Compiler. I found the linker file corresponding to my device: `...\targets\TARGET_STM\TARGET_STM32F4\TARGET_STM32F407xG\device\TOOLCHAIN_GCC_ARM\STM32F407XG.ld` but where should I put `__CRASH_DATA_RAM_START__ ` and `__CRASH_DATA_RAM_END__ `?

[2019-04-24 20:49] masoudr commented on #10226
I compiled this sample code successfully but the device gets freezes and isn't rebooted. I also don't see any information about the exception:
[code]

[2019-04-25 08:11] hasnainvirk commented on #8666
@trowbridgec If your modem supports software MUX, it may be possible to multiplex two separate contexts (say one in command mode and another in data mode). Other case of having multiple UARTs is already looked upon by you. @AriParkkila can assist you more with AT MUX. I haven't played around much with the new code base. I had been involved with this project in ancient times. :) I will try to study

[2019-04-25 08:45] hasnainvirk commented on #8666
@trowbridgec By the way, do you have a link for your fork where you are working ? Are you going to contribute or is your work in stealth mode ?

[2019-04-25 10:12] jeromecoutant commented on #10370
See Deepika comment: "Applies to all targets having multiple RAM banks"
Work is ARM side.

[2019-04-25 10:45] cyliangtw commented on #9460
@bridadan ,  if configuration value matter with python build tool not easy to support non-TrustZone, macro is the alternative choice to pass through to relative c/c++/h files.
Anyway, it depends on your opinion.
More, we really have v8M without TrustZone chips and eager to see Mbed support.

[2019-04-25 12:27] jeromecoutant commented on #10365
@linlingao

[2019-04-25 12:28] jeromecoutant commented on #10331
@linlingao

[2019-04-25 12:29] jeromecoutant commented on #10319
@linlingao

[2019-04-25 12:59] jeromecoutant commented on #10425
Hi @Hoel
Could you propose a PR for the needed patch ?

[2019-04-25 13:03] trowbridgec commented on #8666
@hasnainvirk The software MUX idea sounds great! @AriParkkila if you have any insight into that, we'd be very interested in something like that.

As far as our ME910 driver implementation, it's currently in house, but I can do some cleaning up and create a PR with it. We'd love to get your feedback on what we have so far.

[2019-04-25 14:28] maxgerhardt opened #10481 "Sleep tracing causes ISR queue overflow"
### Description

* target: `NUCLEO_L476RG` (STM32L476RG)
* toolchain: GCC
* mbed-os version: 5.12
* special configuration: `"target.tickless-from-us-ticker": false` to use LPTIM for the tickless RTOS in order to do deepsleep

I'm currently trying to trace the deep sleep usage (or rather, why it's not being used) in a big firmware. To search for the culprit, I've defined the macro `MBED_SLEEP_TRACI

[2019-04-25 14:41] linlingao commented on #10319
Isn't this a bug?

[2019-04-25 15:05] donatieng commented on #10321
@shane-taurean that looks like the same issue

Work is being done here to resolve it: https://github.com/ARMmbed/mbed-os/pull/10272

[2019-04-25 15:05] stevew817 commented on #10191
Fix is in #10482

[2019-04-25 15:07] stevew817 commented on #7862
Fix is in #10482
Sorry for the delay, I wanted the mbed maintainers to weigh in here but breakage of SPI on the latest release forced this through.

[2019-04-25 15:08] #10325 closed

[2019-04-25 15:09] stevew817 commented on #8857
@c1728p9 @donatieng Was this issue followed up on? Can we drive towards closure?

[2019-04-25 15:10] donatieng commented on #10433
Hi @pmancele, could you confirm that you've applied the hardware modification (at least for K64F) listed here: https://github.com/ARMmbed/cordio-ble-x-nucleo-idb0xa1#arduino-connector-compatibility-warning ?

[2019-04-25 15:32] bridadan commented on #9460
Thanks for the feedback @cyliangtw. I'm not aware of the priority of this particular feature but we will take note of your interest! FYI @bulislaw

[2019-04-25 15:34] pmancele commented on #10433
@donatieng Yes I have, as it is not working at all without this modification.

As explained, the program is starting and my boards are advertising.
But the behavior is strange, wrong advertising period and I can't connect on those board (more precisely it seems to connect and then i'm disconnected right after)

This was not the case with previous BLE API and ST driver.

But, as it is working prope

[2019-04-25 15:51] donatieng commented on #8857
Apologies for the late reply, I'm following up with @rajkan01 to make sure this is reflected within #10066

[2019-04-25 16:40] rajkan01 commented on #8857
Needs to specify watchdog timeout value in targets.json file based on target on the new implementation
"hw-watchdog_timeout": {
                "help": "Define the timeout in ms value LowPowerTicker to do HW kick",
                "value": "800",
                "macro_name": "HW_WATCHDOG_TIMEOUT"
            }
Here value 800/2 configured as hardware watchdog timeout,i will update watchdog.md file

[2019-04-25 17:32] maxgerhardt commented on #10379
@cmonr can you @ the correct team responsible for this? This is a 14 days old issue now.

[2019-04-25 18:54] trowbridgec commented on #8666
@hasnainvirk @AriParkkila @maclobdell @ARMmbed/team-embeddedplanet

I created PR #10484 for bringing our ME910 driver implementation.

[2019-04-25 20:11] #7809 closed

[2019-04-25 20:17] ciarmcom commented on #10470
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1163*

[2019-04-25 20:17] ciarmcom commented on #10464
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1164*

[2019-04-25 20:17] ciarmcom commented on #10452
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1165*

[2019-04-25 20:17] ciarmcom commented on #10450
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1166*

[2019-04-25 20:39] JanneKiiskila opened #10486 "ST Nucleo F303RE - missing FLASHIAP"
### Description

Pelion Device Management Client fails to compile against Nucleo F303RE. The board itself is very similar to Nucleo F411RE, so essentially the same configuration could be copied to be the Nucleo F303RE config and one should be able to compile it.

It seems the `target.json` file has a small, but significant component missing.

[code]

This raises the following problem, however then

[2019-04-25 20:43] JanneKiiskila commented on #10486
If one adds it there, at least the target compiles.

[2019-04-26 07:26] varb-cy opened #10487 "mbed-os 5.12 compilation error with IAR toolchain"
### Description

While taking the latest mbed-os 5.12 source from master branch and compiling with IAR toolchain, I am getting compilation errors in the following file:

\mbed-os\features\FEATURE_BLE\targets\TARGET_CORDIO\stack\ble-host\sources\hci\dual_chip\hci_cmd_cte.c

![mbed-os-5 12_iar_compilation_err](https://user-images.githubusercontent.com/47243178/56790050-13636000-6821-11e9-99a4-2423ee

[2019-04-26 07:36] LMESTM commented on #10486
@JanneKiiskila you could start from F4 flash_api.c and flash_data.h files, than what is needed is to verify from reference manual the platform specific information (page size, number of pages, size of each page, etc.) - then run the flash related test cases ... we don't have it in our plans yet. Please let us know or contact @MarceloSalazar if this is of importance.

[2019-04-26 07:58] JanneKiiskila commented on #10486
I will contact @MarceloSalazar for the case.

[2019-04-26 09:27] kjbracey-arm commented on #10487
Mbed OS 5.12 requires IAR 8 - see https://os.mbed.com/docs/mbed-os/v5.12/tools/index.html

[2019-04-26 09:34] #10487 closed

[2019-04-26 11:16] boracelebi opened #10491 "F303RE Support"
### Description

### Issue request type

    [x ] Question
    [ ] Enhancement
    [ ] Bug

Nucleo F303RE can it be supported by this library? I need to write a program that takes sound from pc and send it to DAC from board using I2S. How can i do that ?

[2019-04-26 11:21] JanneKiiskila commented on #10486
The [`flash_data.h`](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F411xE/device/flash_data.h) does not contain too much information. However, the problem is more in the specification of the F303RE - I can't spot that information too easily from the spec I found (unless I'm in the wrong spec).

Train of link hunting:
- Nucleo F303RE https://os.mbed.co

[2019-04-26 11:24] pmancele commented on #10425
@Hoel I have the same issue on STM32L4 using the USBSerial class (that heritates from Stream)

Can you provide the modification you applied to the linker script ?

Thanks !

[2019-04-26 11:26] Hoel commented on #10425
Hello, alright, i will provide you my linker script later today

[2019-04-26 11:28] Hoel commented on #10425
@jeromecoutant
alright, i will propose a PR for this issue in a short while

[2019-04-26 11:49] ciarmcom commented on #10491
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1168*

[2019-04-26 11:58] boracelebi commented on #10491
Cant open the link?

[2019-04-26 12:28] pmancele commented on #10425
Ok i can confirm that the issue is resolved by adding the following line to the linker script :

`    . = ORIGIN(RAM) + LENGTH(RAM) - STACK_SIZE;
`
It was not present on my linker script cause I am also working on a custom board based on STM32L4A6RG

[2019-04-26 12:51] LMESTM commented on #10486
@JanneKiiskila
Datasheet gives an overview, but the information you need is actually in the reference manual (from the product page go to resources and look for reference manual. You should end up here: https://www.st.com/content/ccc/resource/technical/document/reference_manual/4a/19/6e/18/9d/92/43/32/DM00043574.pdf/files/DM00043574.pdf/jcr:content/translations/en.DM00043574.pdf

Then the info we

[2019-04-26 12:59] LMESTM commented on #10425
Actually I just ran the test and this is working ok.
I don't see any blocker - let's activate this feature.

[code]

[2019-04-26 13:10] LMESTM commented on #10486
Actually I just ran the test and this is working ok.
I don't see any blocker - let's activate this feature.

[code]

[2019-04-26 13:14] JanneKiiskila commented on #10486
Excellent news, I can do a PR on that. Next question would be - is it now for this board, or all of the F3 family boards this support is actually valid?

[2019-04-26 13:18] LMESTM commented on #10486
Let's do it for this board for now - I opened a PR as I had the change locally as well.
We may want to avoid activation of all features on targets that have to small flash sizes, also better to test the changes before activating the feature. If you need it for another target from F3 family, let me know and I will test.

[2019-04-26 13:24] JanneKiiskila commented on #10486
@LMESTM  - good, thank you for excellent support!
Closing the case.

[2019-04-26 13:24] #10486 closed

[2019-04-26 13:33] LMESTM commented on #10486
welcome !

[2019-04-26 14:42] fkjagodzinski commented on #8857
@rajkan01 Yes, the `HW_WATCHDOG_TIMEOUT` parameter is used in tests that come with the new implementation of the driver/platform layer.

https://github.com/ARMmbed/mbed-os/blob/fdc1be578f0c2e77b485282dc30cfe4bc8181243/TESTS/mbed_platform/watchdog_mgr_reset/main.cpp#L90

[2019-04-26 14:49] fkjagodzinski commented on #8857
When I'm back in the office, I'll update all affected tests (watchdog & reset_reason) to match new timing requirements.

[2019-04-26 15:23] pilotak opened #10495 "i2cee-driver not part of components/storage"
### Description

Why `i2cee-driver` is not part of `components/storage/blockdevice` when this type is [supported](https://github.com/ARMmbed/i2cee-driver)? i have even submitted the PR for up to date functionality but nobody responded since then.

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2019-04-26 20:06] #10069 closed

[2019-04-26 20:09] c1728p9 commented on #10445
Hi @cyliangtw it is up to the silicon partners to port to this new API. You would need to check with them to find their plans.

[2019-04-26 20:28] katekuehl opened #10497 "Error: Use of undeclared identifier 'MBED_LIBRARY_VERSION' in "main.cpp", Line: 81, Col: 48"
### Description

### Issue request type
While using the Mbed IDE, the following error is reported: "Error: Use of undeclared identifier 'MBED_LIBRARY_VERSION' in "main.cpp", Line: 81, Col: 48"

    [ ] Question
    [ ] Enhancement
    [X ] Bug

[2019-04-26 20:35] #10497 closed

[2019-04-26 23:53] bridadan commented on #9816
This should be fixed after Mbed OS 5.12.2 goes out.

[2019-04-27 11:19] DOQnR commented on #8068
You should terminate between CANH and CANL with 120 ohm. I think MBED's CAN class requires the closed CAN network when it initiates.

[2019-04-27 11:55] JarekParal opened #10498 "FRDM-K66F Missing ADC pins mapping"
Description
In the `PeripheralNames.h` and `PeripheralPins.c` missing configuration for ADC pins (PTB4, PTB5) declared in the [NXP Header Pinout](https://os.mbed.com/media/uploads/wsr06596/frdm-k66f_arduino-header-pinout.jpg).

Issue request type
[ ] Question
[ ] Enhancement
[x] Bug

https://github.com/ARMmbed/mbed-os/blob/f28b82b8313038ae16e5db7ac0dc5f8d3ecbb5f0/targets/TARGET_Freescale/TARGET_MC

[2019-04-27 12:06] fjvva commented on #8068
If you read my original message, the problem is not that the CAN message is not transmitted (which it is not), but that Mbed OS crashes while creating the CAN object. The termination resistor is used on the physical layer, and should only be placed in the termination of a bus (the end of the CAN wires). I have CAN working on LPC1768 with and without termination resistors, but the STM does not even

[2019-04-27 12:09] JarekParal opened #10499 "FRDM-K66F Wrong pinname in NXP Header Pinout picture"
### Description
The [picture with NXP Header Pinout](https://os.mbed.com/media/uploads/wsr06596/frdm-k66f_arduino-header-pinout.jpg) for  [FRDM-K66F](https://os.mbed.com/platforms/FRDM-K66F/) has wrong name of pin D9. The pin D9 has in the picture value `PTA19`, but the real value is `PTB19`.
It is possible to check this in the [schema](https://www.nxp.com/files-static/soft_dev_tools/hardware_tool

[2019-04-27 12:10] fjvva commented on #8068
The issue happens on a custom board that uses the ST part number STM32F072CBT6 part number, which is a QFN48 instead of a QFN64 package, though its the same product as the nucleo board i mention in the original post.

[2019-04-27 13:24] DOQnR commented on #8068
I had the same problem. When I open between CANH and CANL MBED OS crashes while creating CAN object. But when I put 120 ohm resistor termination my custom board works. Although you have different problem, I recommend you to check your hardware.

[2019-04-27 15:19] ciarmcom commented on #10499
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1172*

[2019-04-27 15:19] ciarmcom commented on #10498
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1173*

[2019-04-28 08:34] yossi2le commented on #10262
Hi @maclobdell, can you please provide your KVStore configuration under features/storage/kvstore/conf?

[2019-04-28 14:36] cederom opened #10504 "Mercurial / GIT / Python3"
Hello world, I have just cloned my project to a new macOS 10.14.4 machine, I am using MacPorts for Open-Source, and Python 3.7 VirtualEnv. Trying to work with mbedOS 5.12.2:
* `mbed deploy` seems to depend on `hg` command.
* `hg` command seems to be `Mercurial` binary.
* `Mercurial` does not seem to work with `Python 3` yet.
* I cannot perform `mbed deploy`.

The question is why do I need Mercuria

[2019-04-28 15:19] ciarmcom commented on #10504
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1174*

[2019-04-29 05:02] 0xc0170 commented on #10499
cc @ARMmbed/team-nxp

[2019-04-29 05:05] 0xc0170 commented on #10499
The picture will be fixed, the value should be as in the https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Freescale/TARGET_MCUXpresso_MCUS/TARGET_K66F/TARGET_FRDM/PinNames.h#L225

[2019-04-29 05:07] 0xc0170 commented on #10498
cc @ARMmbed/team-nxp Please review

[2019-04-29 05:08] 0xc0170 commented on #10498
Please create a pull request, fixing these lines, will be reviewed.

[2019-04-29 05:11] 0xc0170 commented on #10495
cc @ARMmbed/mbed-os-storage  @geky

[2019-04-29 05:15] 0xc0170 commented on #10491
@boracelebi The link is our internal issue tracker.

https://os.mbed.com/platforms/ST-Nucleo-F303K8/ - is supported

Is the question about https://os.mbed.com/teams/ST/code/ST_I2S driver ?

cc @ARMmbed/team-st-mcd

[2019-04-29 05:18] 0xc0170 commented on #10464
How can we reproduce this error? I assume creating a baseline MCU target with the minimal size requirements referenced above?

[2019-04-29 05:21] 0xc0170 commented on #10470
@ARMmbed/mbed-os-tools the lint file might need an update, is that correct ? I've checked the history and the errors above - there were updates to add bootloader/components but not reflected in the lint file itself.

[2019-04-29 08:22] embeddedteam103 commented on #9137
Explanation for closing?

[2019-04-29 08:22] embeddedteam103 commented on #9118
Explanation for closing?

[2019-04-29 09:19] Hoel commented on #10425
Hello,
Sorry i had no change to follow-up on the issue adn i dont have the time right now to make a PR becasue we have another issue with LPTimer now, howver here are the mandatory changes in the startup file:
[code]

and in the linker file:
on top:
[code]

line 137
[code]

[2019-04-29 10:19] 40Grit commented on #9479
It sounds like it is undecided as to whether the drivers "should" be brought in.

@Bullislaw what were your thoughts regarding dependency management tools? See @loverdeg-ep's comment above.

[2019-04-29 10:20] 40Grit commented on #9137
linlingao

[2019-04-29 11:50] ganesh-ramachandran commented on #10464
Hi @0xc0170,

Yes. We have created one. Below is the steps to reproduce:

1. Download master from https://github.com/ganesh-ramachandran/mbed-os (Added Toshiba TMPM381, since it is not supported by mbed os)
2. Build the below command
[code]

[2019-04-29 12:29] linlingao commented on #9137
Changed to Enhancement.

[2019-04-29 14:39] maxgerhardt opened #10508 "Thread-aware debugging?"
### Description

How can we debug mbed-os applications with `openocd` + `arm-none-eabi-gdb` in a thread-aware matter? As far as I know, mbed-os builds open Keil's RTX RTOS. For other RTOSes, e.g. FreeRTOS, thread-aware debugging [is possible](https://mcuoneclipse.com/2017/07/27/troubleshooting-tips-for-freertos-thread-aware-debugging-in-eclipse/). Also, VisualGDB can do [RTX-thread-aware debugging

[2019-04-29 15:06] maclobdell commented on #10262
I'm testing LPC55S69 with Mbed OS 5.12.1 with no changes in features/storage/kvstore/conf

[2019-04-29 15:07] 0xc0170 commented on #10508
pyOCD should work (it was added the last year). I do not have experience with OpenOCD but someone else might add theirs.

This should work , have you tried?

[2019-04-29 15:09] #10052 closed

[2019-04-29 15:12] maxgerhardt commented on #10508
I've also seen https://github.com/mbedmicro/pyOCD/pull/392/files but haven't tested it. I'll have a look at both; until then I thought it would be nice to ask other people about their experiences.

[2019-04-29 15:30] maxgerhardt commented on #10508
pyOCD works like a charm. When `arm-none-eabi-gdb` connects to its gdbserver, it gets all the needed infos.

[code]
Missing thread names are due to me not naming them.

[2019-04-29 15:30] #10508 closed

[2019-04-29 15:49] bridadan commented on #10470
Thanks for reporting the issue @Terstegge. Like @0xc0170 mentioned this script probably needs an update (and once its happy, get it running in Travis most likely).

I'd like to hear from @theotherjimmy what state he thinks this linter is in. It's possible this was never passing for some of these targets (and hence why it wasn't added in CI). He's not available for the next week or so, so it may ta

[2019-04-29 18:32] maclobdell commented on #10400
Hi Mahesh, I tested your patch.  It works.  Please make a PR!

[2019-04-29 22:30] Hoel opened #10510 "Multiple error thrown with https://os.mbed.com/teams/Semtech/code/SX1276Lib/ and last MBED release"
### Description

We just added the last release of Semtech SX1276 library (https://os.mbed.com/teams/Semtech/code/SX1276Lib/) to the last release of MBED (from a week ago, 5.12.0) and multiples issues are encoutered with the ping pong example, since Semtech doesnt provide any mean to report issues i open the ticket here, please let me know if there is a better way to report to Semtech directly.

W

[2019-04-30 05:29] ciarmcom commented on #10510
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1176*

[2019-04-30 08:33] orenc17 commented on #10262
I've run the `mbed-os-features-storage-tests-kvstore-static_tests` test on all 3 toolchains using both debug and release profiles and they all PASS

https://mbed-os.mbedcloudtesting.com/view/PSA/job/PSA-SPM-tests/54/ - 5.12.1 GCC & IAR
https://mbed-os.mbedcloudtesting.com/view/PSA/job/PSA-SPM-tests/56/ - 5.12.1 ARMC6
https://mbed-os.mbedcloudtesting.com/view/PSA/job/PSA-SPM-tests/57/ - 5.12.2 ARMC

[2019-04-30 11:34] 0xc0170 commented on #10510
Looking at the logs in the repositories,  ping pong demo is few years old. The library was updated the last year, but references mbed library in the commits.

Have you tested it with Mbed 2 ? Based on the commit history, looks like they were tested using mbed 2.

[2019-04-30 11:50] 0xc0170 commented on #10504
This is rather a question to mbed-cli repo, but we can keep it here to have an answer.

Not all stuff is git based - repositories on our portal are mercurial based. When you used deploy - what repositories did it fetch ?

[2019-04-30 12:02] 0xc0170 commented on #10273
@ARMmbed/mbed-os-psa Please review

[2019-04-30 12:36] orenc17 commented on #10273
This tool was provided by TF-M, and was imported as is
we do not have plans to tweak it

[2019-04-30 12:37] jeromecoutant commented on #9460
Please check #10514
Thx

[2019-04-30 12:40] 0xc0170 commented on #10396
@orenc17 IS this ready for closing or any remaining warnings ?

[2019-04-30 12:49] Hoel commented on #10510
@0xc0170
I didnt test with Mbed 2 but i agree, most likely this library was made for Mbed 2 without locking nor RTOS.
Yesterday i tried to disable the RTOS in mbed_config and unexpectingly i had exactly the same errors, so how come the locking mecanisms are still in place when we disable RTOS support in Mbed 5?
Is it possible that Semtech team revise the library so that it works on current Mbed 5?

[2019-04-30 12:58] alzix commented on #10273
please consider contributing a patch to https://git.trustedfirmware.org/trusted-firmware-m.git/ and we will import it from there

[2019-04-30 13:04] Dhairya23 opened #10515 "ARM Compiler 5 crash when running mbed tls on Cypress Platform (CY8CPROTO_062_4343W)"
I am running mbed tls code in mbed-os on Cypress platform CY8CPROTO_062_4343W. Mbed-CLI is used here. I am running it on ARM Compiler version 5. I have run it on other compilers such as GCC_ARM and IAR. It works fine on these. For ARM Compiler I am getting stack overflow error on wait() call which is done after the operation is completed.  I am getting following log

main: Hello World
main_unittes

[2019-04-30 13:07] Dhairya23 commented on #10515
I have been talking to mbed support team via e-mail. This is the link to their internal jira.
https://jira.arm.com/browse/MBOTRIAGE-2139

[2019-04-30 14:28] cederom commented on #10504
Hello @0xc0170 here is the output:
[code]
Just a bit confused why use `hg` to fetch `git`? Maybe that `hg` could be added into Python VirtualEnv..?

[2019-04-30 16:31] linlingao commented on #9665
@WillyKaze This has become stale. Please reopen it if you still have questions.

[2019-04-30 16:34] linlingao commented on #9314
I think the question has been answered. Please reopen if you're not satisfied with the answer.

[2019-04-30 16:43] linlingao commented on #10192
Per Jan's comment, doc will be updated. Please reopen if you still have issues.

[2019-04-30 16:49] linlingao commented on #9672
@cmonr It sounds like both @bridadan and @0xc0170 prefer separate file. I'll keep this closed unless you still feel strongly about your proposal, in which case, feel free to reopen it.

[2019-04-30 16:52] linlingao commented on #9132
Reopen the issue to address Windows behavior.

[2019-04-30 16:55] linlingao commented on #8678
@amq This is an old question. Are you still waiting on an answer?

[2019-04-30 16:57] linlingao commented on #9141
@loverdeg-ep It appears your question has been answered. Please let us know if you have further questions.

[2019-04-30 17:01] linlingao commented on #9729
@teetak01 Please reopen if you still feel strongly about your proposal.

[2019-04-30 17:15] bmcdonnell-ionx commented on #9314
Am I inferring the answers correctly?

- What's required is mainly described in the OP and @0xc0170's comment on #9139.
- Per @0xc0170's comment there, you're interested in getting to using vanilla CMSIS as the interface that Mbed uses to interact w/ the RTOS, but there is no publicly-shared timetable. (Is this on your task list or backlog?)
- No plans yet to implement Mbed on other RTOSes. (Shoul

[2019-04-30 17:17] linlingao commented on #8306
@andresag01 Please have a look at this implementation:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L475xG/device/TOOLCHAIN_IAR/stm32l475xx.icf

This should answer your question. Please reopen if you have further questions.

[2019-04-30 17:17] #8306 closed

[2019-04-30 17:57] linlingao commented on #10403
@andrewc-arm I believe your question been answered. Please reopen if you still have questions.

[2019-04-30 18:02] linlingao commented on #10284
@marcin-ch It appears your question has been answered. Please reopen if you still have questions.

[2019-04-30 18:06] linlingao commented on #10252
Please reopen this if the workaround suggested doesn't work.

[2019-04-30 18:12] linlingao commented on #9597
Please reopen if you have further questions.

[2019-04-30 18:24] mmahadevan108 commented on #10499
Thanks, picture has been updated

[2019-04-30 18:27] linlingao commented on #10300
@ccli8 Please reopen if you have further questions.

[2019-04-30 18:29] linlingao commented on #9118
Sorry, the issue was closed by mistake.

[2019-04-30 18:32] linlingao commented on #8741
@daniel-cesarini-tridonic-com Please reopen this issue if you have further questions.

[2019-04-30 18:36] linlingao commented on #8289
@RobMeades Please reopen this issue if you still have questions.

[2019-04-30 18:39] linlingao commented on #9734
@nuertey You'll observe LED blinking if test fails. Please reopen this issue if you have further questions.

[2019-04-30 18:41] linlingao commented on #10236
@heejungPark It appears Desmond has answered your question. Please let us know if you have further questions.

[2019-04-30 18:47] linlingao commented on #10428
I'd like to keep this issue closed since the linker error is tracked in 10464.

[2019-04-30 19:02] linlingao commented on #8942
Please reopen if you have further questions.

[2019-04-30 19:03] linlingao commented on #8941
@tsuresh20 Please reopen if you have further questions.

[2019-04-30 19:30] linlingao commented on #9770
@sivasanath Please reopen if you have further questions.

[2019-04-30 19:35] linlingao commented on #10256
@janjongboom I'm not clear if further enhancement is till needed. Please reopen if so.

[2019-04-30 19:38] linlingao commented on #10337
@masoudr Please reopen should you have further questions.

[2019-04-30 19:42] linlingao commented on #9623
@Alex-EEE Please reopen if you have further questions.

[2019-04-30 19:45] linlingao commented on #8470
Reopen and change it to enhancement.

[2019-04-30 19:53] linlingao commented on #10305
Please reopen if you're expecting more response on this issue.

[2019-04-30 20:00] linlingao commented on #10452
@ARMmbed/team-ublox

[2019-04-30 20:03] Alex-EEE commented on #9623
Geky's answer was sufficient, thanks!

[2019-04-30 20:05] linlingao commented on #10445
@cyliangtw Let us know if you have further questions.

[2019-04-30 20:05] #10445 closed

[2019-04-30 20:09] maclobdell commented on #10261
I tested with GCC compiler version 7.3.1 and it works.

The guidance I have received is that Arm v8m targets require GCC 7.

Closing this ticket.

[2019-04-30 20:16] ciarmcom commented on #10515
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1177*

[2019-04-30 20:16] linlingao commented on #10498
Looks like the fix is merged. Closing.

[2019-04-30 20:16] #10498 closed

[2019-04-30 20:30] linlingao commented on #10499
@JarekParal Please reopen if you have further questions.

[2019-04-30 20:30] #10499 closed

[2019-04-30 21:04] andresag01 commented on #8306
@linlingao: Could you please explain how the file you linked for the STM device (that we do not even use in our examples) addresses the problem raised in this ticket?

Please note that I am not an expert on how the dynamic memory handling is set up in Mbed OS, but as far as I can see the heap size is still hard-coded [here](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_S

[2019-04-30 21:08] Alex-EEE commented on #9819
Thanks for reopening @linlingao , I think there are a lot of use cases for this functionality.

[2019-04-30 21:48] linlingao commented on #8306
Prior to IAR8, the HEAP block is fixed in size. We've released IAR8 support. One of the nice features in IAR8 is this dynamic heap configuration. The 0x10000 is the minimum size. You can change it to any value you see fit. The HEAP can be expanded to what's left in RAM, just like how ARM compiler and GCC_ARM place the HEAP block.

[2019-04-30 22:05] andresag01 commented on #8306
Thanks for the explanation. When you say:

Does that mean that it "**can**" and we are CURRENTLY taking advantage of this without any changes to the linker scripts or existing applications? Does that apply to any IAR target? Are we no longer supporting any IAR versions prior to IAR8?

[2019-04-30 22:13] linlingao commented on #8306
I see some targets are taking advantage of this feature, some targets are not. Our silicon partners need to make the changes in linker scripts to take advantage of this feature.
We officially no longer support IAR7. IAR7 may still build on some targets, but we no longer maintain it.

[2019-05-01 02:46] maclobdell commented on #10007
@mikisch81 @orenc17 @avolinski  - do you have any more information or update on this issue?

[2019-05-01 05:01] janjongboom commented on #10458
Mbed OS supports [fast models](https://os.mbed.com/docs/mbed-os/v5.12/tools/fast-models.html) to run the firmware in an emulated fashion, which would do what you're looking for.

[2019-05-01 13:33] orenc17 commented on #10007
running fine in 5.12.2 all toolchains

[2019-05-01 19:53] maclobdell commented on #10262
Based on suggestion from Mahesh at NXP, I set jumper J10, erased the flash using Keil uVision, removed J10, then used a freshly installed Mbed OS 5.12.2, I ran the tests with GCC 7.3.1 and the tests all passed.

[2019-05-01 19:54] maclobdell commented on #10262
so there is definitely a dependency on the initial state of flash.

[2019-05-01 20:53] maclobdell commented on #10264
This is still an issue.  @ARMmbed/mbed-os-storage  or @mmahadevan108 any advice?

I re-ran the test with a fresh mbed os version and verbose output.

I can see UnicodeDecodeError and bad characters coming through.  I have no idea why this test would behave this way, but others do not.  Also the failures only occur with IAR.

[code]

[2019-05-01 21:01] maclobdell commented on #10262
also, I noticed that if I switch from GCC_ARM to IAR, I have to erase the flash in-between, otherwise it will fail with IAR.

[2019-05-02 01:15] ccli8 commented on #10300
#10355 is raised to support this feature. So #10300 here can be closed.

[2019-05-02 05:22] fahim-ublox commented on #10452
Internal JIRA ticket : PGM_NO_MBD-227

[2019-05-02 06:58] heejungPark commented on #10236
@desmond-blue and @linlingao
Thanks for your answer.
I don't have further question yet.

Thanks.

[2019-05-02 08:24] 0xc0170 commented on #10515
cc @ARMmbed/team-cypress

[2019-05-02 08:48] vervaekejonathan opened #10518 "mbed 5.6 python error"
I'm trying to build an application that uses mbed-os 5.6 on ubuntu 19.04 and mbed-cli 1.10.0

When compiling I get the following error:

[code]

The warning states that I should not use python3 and I notice it is used:

I have python 2 and 3 installed, but the default python command leads to python 2:

How can I avoid using python3 in the buildscript?

[2019-05-02 09:07] 0xc0170 commented on #10518
This is a question for mbed-cli.  From the sources, https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L63 - this should pick up your python. In your case, this is picking up python 3, can you verify?

cc @ARMmbed/mbed-os-tools

[2019-05-02 09:11] star297 opened #10519 "MAX32625 PeripheralPins.c missing SPI defines"
### Description

 Missing GPIO pin defines for MAX32625(PICO ) Target.

https://os.mbed.com/platforms/MAX32625PICO/

SPIS pins 4_4 to 4_7 not defined as shown on platforms page.
They are available, see page 25

https://datasheets.maximintegrated.com/en/ds/MAX32625-MAX32626.pdf

Can these be added to os5 and os2

### Issue request type

    [ ] Bug

[2019-05-02 09:14] 0xc0170 commented on #10519
cc @ARMmbed/team-maximintegrated @bentcooke

[2019-05-02 11:52] ciarmcom commented on #10519
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1179*

[2019-05-02 11:52] ciarmcom commented on #10518
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1180*

[2019-05-02 12:50] yossi2le commented on #10264
@maclobdell, actually the general_filesystem tests are not supported for FLASHIAP. If you look at the code you will see that all tests are skipped. The problem is that the initialization is static and therefore fails under IAR. I have fixed it and instead of using skipped it will now report as not supported.
Thanks for bringing this to our attention.
The fix can be found at PR #10523

[2019-05-02 15:05] bridadan commented on #10518
@vervaekejonathan If you installed Mbed CLI with the pip installation associated with Python 3, then it will run with Python 3. I believe most linux distributions let you pick the Python 2 version of pip with the command `pip2` or `python2 -m pip`.

You could try uninstalling your copy of Mbed CLI with the following commands:

[code]

Not sure how that will work on your system, but it may be a goo

[2019-05-03 02:55] maclobdell opened #10528 "LPC55S69 fails analogIn tests"
### Description

board: LPCXpresso55S69

Mbed OS 5.12.2

CI Test Shield

Test: tests-api-analogin

Results:
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-03 02:58] maclobdell commented on #10528
cc @mmahadevan108

[2019-05-03 05:29] ciarmcom commented on #10528
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1181*

[2019-05-03 07:23] vervaekejonathan commented on #10518
This totally makes sense once you explain this..
Perfect, all good now, thanks!

[2019-05-03 07:23] #10518 closed

[2019-05-03 09:03] kjbracey-arm commented on #10510
Mbed OS has got stricter about catching and diagnosing attempts to misuse mutexes and similar primitives from ISR. That has never been legal, but you tended to get away with it - up until the point you crashed due to a race condition.

Nothing fundamental has changed in the OS though - if the code did work on prior Mbed OS, it would probably still work on Mbed OS 5 if you deactivated those checks

[2019-05-03 09:46] #10432 closed

[2019-05-03 11:01] 0xc0170 commented on #10458
@maxgerhardt Does this answer your question?

[2019-05-03 11:52] CodingGhost opened #10531 "Serial interrupts not wo"
### Description
I posted the crashing code here: https://os.mbed.com/forum/bugs-suggestions/topic/35736/
somehow I cannot get github to format it correctly.

will crash on any serial data sent and gives "Mutex lock failed" error.

target:NRF52840
using PlatformIO
latest release

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ x] Bug

[2019-05-03 11:57] 0xc0170 commented on #10531
You are using `Serial` object in interrupt, it won't work. There are couple of issues related to this here.

Please read this https://github.com/ARMmbed/mbed-os/issues/8518#issuecomment-442358692

[2019-05-03 12:00] CodingGhost commented on #10531
Whow, lightning fast Response :D
I figured, i could use rawserial, but please update your examples, because there are official mbed examples written in that way..

[2019-05-03 12:04] 0xc0170 commented on #10531
If you can share them, we will review. They should be fixed.

[2019-05-03 12:06] CodingGhost commented on #10531
https://os.mbed.com/handbook/Serial

the last example "Attach to RX Interrupt"

[2019-05-03 12:10] 0xc0170 commented on #10531
There's note on the page: `This is the handbook for Mbed OS 2`.

You are using now Mbed OS  5 to my understanding. Thus it fails.

[2019-05-03 12:13] CodingGhost commented on #10531
Dangit.
Sorry for wasting your time!
But just to be sure, I can just replace Serial with Rawserial and everything should be ok?

[2019-05-03 12:35] 0xc0170 commented on #10531
Yes, or rather `UARTSerial`

[2019-05-03 12:39] kjbracey-arm commented on #10531
If wanting to process directly from interrupt, like that example, you would need to use `RawSerial` - it's the drop-in replacement.

`UARTSerial` removes the need to have your own interrupt handler - it does the interrupt handling and buffering for you, but the code would look different.

Examples here: https://os.mbed.com/docs/mbed-os/v5.12/apis/filehandle.html

[2019-05-03 12:50] kjbracey-arm commented on #10432
I missed your previous update - have you got it working now?

The code above looks right, apart from the `wait()` calls in the functions - they should be returning immediately to let any other events run.

[2019-05-03 13:17] 0xc0170 commented on #9314
Backlog currently.

Not at the moment.

[2019-05-03 13:17] 0xc0170 commented on #9314
Lets continue looking at #9139

[2019-05-03 14:05] LDong-Arm commented on #9962
This issue is seen with **RTC**when compiled with ARM_GCC. The device time reported by board is _less_ than the actual time, showing that it probably ticks too slowly:
Host: ~11.2 s
Target (LPTIM): ~11.2 s
Target (RTC): ~**10.8 s**
Transport delay: ~0.07 s (consistent and negligible)

The follow commit changed the wakeup timer from LPTIM to RTC:

commit 4bead9220d26207b2aba83ac36676cfbac8c981a
Aut

[2019-05-03 14:06] CodingGhost commented on #10531
so, maybe I still found a bug, maybe Im just very confused...
I have been struggeling to get rawSerial to work properly for the last 2 hours.
It works, if I dont send many characters in one burst, but If transmitting above about 60 chars in one burst at 57600 baud, It will just receive garbage. And my program is still the same super simple echo example.

[2019-05-03 16:34] masoudr commented on #10432
@kjbracey-arm Yes, I somehow fixed it by replacing with shared EventQueue (`mbed_event_queue()`). But the drawback was it cost me the same as using two threads.  I increased the `shared-memory-stacksize` to a higher value and also it forced me to increase its thread (`thr1`) to a higher value (Why?) so here are the stack results:
Without EventQueue:
`thr1: 3072, thr2: 3072`
With EventQueue:
`Event

[2019-05-04 05:30] ciarmcom commented on #10531
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1183*

[2019-05-06 09:01] kjbracey-arm commented on #10531
If you're trying to application code to read and write like that, `RawSerial` will not work. `RawSerial` is only really suitable for reception from interrupt - you need to have an interrupt handler to get data out of the serial port fast enough, or else ensuring you devote 100% of CPU time to waiting for reception - not stopping to write to a different serial port.

Your example program should use

[2019-05-06 09:04] CodingGhost commented on #10531
Ok, thanks I will try that. But why is it like this in the official example then?

[2019-05-06 09:04] pmancele commented on #10433
@donatieng @pan- Can you confirm that Mbed BLE example behaves correctly on your side using a Mbed enabled board and the ST BlueNRG BLE module ?

If it is I will try to investigate more on our side but as explained I tried the Cordio example on both custom and official Mbed board and I have the same issue on both.

[2019-05-06 10:04] kjbracey-arm commented on #10531
Good question. I think the problem is that some examples of too simplistic "how to use this class", that don't actually use them in the way they're intended/suitable for.

The class-focused nature of the documentation also doesn't help - they end up documenting `Serial` with examples of using it to access the console, when you should be more generically accessing the console with normal C `stdin`/

[2019-05-06 10:05] CodingGhost commented on #10531
well... Im starting to think that something else isnt right at all.. now I am using uartSerial and I still have exactly the same problem. also, the "garbage" that I get is the same everytime.. its "USBS" plus some unknown characters. I really dont know whats going on.
`#include "mbed.h"
#include "PinNames.h"
#include "nrf_soc.h"
#include <string>
#include "mbed_events.h"
#include "RTT/SEGGER_RTT.h

[2019-05-06 10:25] kjbracey-arm commented on #10531
If P0_6 and P0_8 are your main console pins, `UARTSerial` may not play well with being double initialised - make sure you haven't turned on `platform.stdio-buffered-serial` if you're going to use `UARTSerial` explicitly in your app - that would mean two `UARTSerial` drivers attempting to access one serial port.

In Mbed OS 5.12, you can get hold of the console's existing handle for sigio/set_block

[2019-05-06 10:33] 0xc0170 commented on #10197
Very good point. @balajicyp Do you have a small example to reproduce that would indicate rtos issue or is this application specific?

[2019-05-06 10:47] kjbracey-arm commented on #10432
So it didn't work with a single queue, and you gave up and had two queues? In that case, you will need a mutex to synchronise the two threads. (And the event queues may not then be achieving anything either...)

[2019-05-06 10:59] CodingGhost commented on #10531
DAMN! I got it sorted.
your last tip "conflict with segger trace" gave me the idea to try it with an external ftdi chip instead of the segger for serial. And BOOM all problems gone.
I hate that Segger chip now.
sorry for all the wasted time and thanks a lot.

[2019-05-06 12:31] Dhairya23 commented on #10515
Reduced the affected code to just one function and one file attached below. Also I see different error in different mbed os versions. The error I see is

Mbed os 5.12 version
++ MbedOS Error Info ++
Error Status: 0x80010133 Code: 307 Module: 1
Error Message: Mutex: 0x8003520, Parameter error
Location: 0x10009423
Error Value: 0x8003520
Current Thread: main  Id: 0x80027D4 Entry: 0x10009801 StackSize

[2019-05-06 15:28] linlingao commented on #10531
@CodingGhost Close since the requester has solved it.

[2019-05-06 15:28] #10531 closed

[2019-05-06 15:42] 0xc0170 commented on #10515
Have you examined stack usage for threads (the one that failed) ? Enabling by `MBED_CONF_PLATFORM_ERROR_ALL_THREADS_INFO` ?

[2019-05-06 16:01] Terryvanderjagt opened #10535 "Add Count function to Queue"
### Description
Mbed version 5.12

The Queue class (https://os.mbed.com/docs/mbed-os/v5.12/apis/queue.html) has an empty() and full() function already. I would like to be able to request the amount of items in the queue. In the implementation of empty() (https://os.mbed.com/docs/mbed-os/v5.12/mbed-os-api-doxy/_queue_8h_source.html) I see that it makes use of the osMessageQueueGetCount() function,

[2019-05-06 20:18] ciarmcom commented on #10535
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1184*

[2019-05-07 02:52] masoudr commented on #10432
No, I'm saying that I needed to create a new thread with a single queue, the sum of the stack size need for both is equal to using two separate threads. But It seems that is a better approach because I can add more threads in the feature. I also used the Mutex for accessing a shared variable between two threads.

[2019-05-07 12:11] bulislaw commented on #9788
@kapi90 is that fixed now?

[2019-05-07 12:15] bulislaw commented on #10207
@JohnK1987 I'll close the issue for now, please reopen it if you have further questions.

[2019-05-07 12:15] #10207 closed

[2019-05-07 12:19] bulislaw commented on #10226
@masoudr did you manage to fix that issue? I'm afraid we won't be able to investigate it anytime soon. If you have time and it's an important issue for you please consider contributing a fix.

[2019-05-07 12:24] bulislaw commented on #9877
At this stage we are not considering using submodules, there are ongoing discussion about how to include external dependencies though. We won't be able to address it anytime soon, therefore closing the issue.

[2019-05-07 12:24] #9877 closed

[2019-05-07 12:29] loverdeg-ep commented on #9877
Final note on this. The latest version of [Buckaroo](https://buckaroo.pm/) looks promising.

[2019-05-07 13:35] maclobdell commented on #10400
The PR is merged now.  Closing.

[2019-05-07 13:35] #10400 closed

[2019-05-07 13:36] maclobdell commented on #10264
@yossi2le - thanks very much!

[2019-05-07 14:31] masoudr commented on #10226
@bulislaw Yes, I get it working by increasing the `rtos.main-thread-stack-size`. I will make a PR for it.

[2019-05-07 14:31] #10226 closed

[2019-05-07 15:13] maxgerhardt commented on #10458
@0xc0170 Yes thanks.

[2019-05-07 15:13] #10458 closed

[2019-05-07 15:38] maxgerhardt commented on #10379
@0xc0170 Any chance to get the right team tagged in here?

[2019-05-07 15:40] cmonr commented on #10379
@ARMmbed/mbed-os-tools

[2019-05-07 18:59] maclobdell commented on #10261
re-opening, because we need better root cause of why it is failing with GCC 6.  Mbed OS is not planning to update to GCC 7 in 5.13, so we need to see if GCC 6 can work for the next several months.

[2019-05-07 20:06] #9830 closed

[2019-05-07 20:35] mmahadevan108 commented on #10261
I am unable to reproduce the failure with GCC 6.

[2019-05-08 07:26] ganesh-ramachandran commented on #10464
Hi @0xc0170, Please suggest if there is any possible way with which we can fix this issue.

[2019-05-08 11:55] guialonsoalb opened #10545 "Boards with STM32L476 and STM32L475 fails nvstore-functionality test quite often"
### Description
A number of "mbed-os-features-storage-nvstore-tests-nvstore-functionality" tests were run over several ST and rhomb.io boards based on STM32L476 and STM32L475 finding that said test failed very often.

#### Related targets:
- DISCO_L475VG_IOT01A
- NUCLEO_L476RG
- DISCO_L476VG
- RHOMBIO_L476DMW1K

#### Toolchains:
- GCC_ARM v6.3.1 20170620
- ARMC5 v5.06 update 6
- ARMC6 v6.11
- IAR

[2019-05-08 15:26] #4614 closed

[2019-05-08 15:28] ciarmcom commented on #10545
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1186*

[2019-05-08 16:14] maclobdell commented on #10007
@0xc0170  - has this issue been resolved?  Can it be closed?

[2019-05-08 17:19] maclobdell commented on #9897
fix merged.  closing

[2019-05-08 17:19] #9897 closed

[2019-05-08 20:41] maclobdell commented on #10261
I just retested with GCC 6 and it passed.

[2019-05-08 23:28] nmooman opened #10547 "[Error] mbed_rtc_time.cpp@89,22: invalid use of incomplete type 'const struct timeval'"
Compile: /usr/local/bin/arm-none-eabi-g++ -std=c++11 -fno-rtti -Wvla -c -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -fmessage-length=0 -fno-exceptions -fno-builtin -ffunction-sections -fdata-sections -funsigned-char -MMD -fno-delete-null-pointer-checks -fomit-frame-pointer -Os -DNDEBUG -mcpu=cortex-m4 -mthumb -mfpu=fpv4-sp-d16 -mfloat-abi=softfp -DMBED_ROM_START=0x8000000 -

[2019-05-08 23:48] mbartling opened #10548 "ERROR mbed_rtc_time timeval has incomplete type when compiling with C++11"
### Description

- Target K64F K66F
- Toolchain GCC_ARM arm-none-eabi-gcc (GNU Tools for Arm Embedded Processors 7-2018-q2-update) 7.3.1 20180622 (release) [ARM/embedded-7-branch revision 261907]
- mbed-cli version 1.10.0
- mbed-os-5.12.3

ERROR:
[code]

Steps to reproduce
[code]

debug.json
[code]

`mbed compile -m k64f -t gcc_arm --profile=debug.json`

### Issue request type

    [ ] Question

[2019-05-09 05:18] #10261 closed

[2019-05-09 05:30] ciarmcom commented on #10548
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1187*

[2019-05-09 05:30] ciarmcom commented on #10547
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1188*