[2018-11-29 19:04] maciejbocianski opened #8909 "Ice Tea - excessive memory utilization for commands buffers"
### Description

Ice Tea utilizes 2k buffers for command processing (see links below)
This raises problem that Ice tea tests cannot be run on devices with small RAM (like NUCLEO_F070RB 16kB RAM)
https://github.com/ARMmbed/mbed-os/blob/d45917e4cdd01cf15941293d658a5edfeebe7348/features/frameworks/mbed-client-cli/source/ns_cmdline.c#L121
Do we really need 2k buffers ?
With that config even exampleapp

[2018-11-29 21:09] ciarmcom commented on #8909
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-208*

[2018-11-29 21:09] ciarmcom commented on #8858
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-209*

[2018-11-29 21:09] ciarmcom commented on #8857
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-210*

[2018-11-29 21:09] ciarmcom commented on #8783
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-211*

[2018-11-29 21:09] ciarmcom commented on #8741
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-212*

[2018-11-29 21:09] ciarmcom commented on #8721
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-213*

[2018-11-29 21:09] ciarmcom commented on #8678
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-214*

[2018-11-29 21:09] ciarmcom commented on #8656
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-215*

[2018-11-29 21:09] ciarmcom commented on #8610
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-216*

[2018-11-29 21:09] ciarmcom commented on #8575
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-217*

[2018-11-29 21:09] ciarmcom commented on #8470
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-218*

[2018-11-29 21:09] ciarmcom commented on #8468
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-219*

[2018-11-29 21:09] ciarmcom commented on #8438
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-220*

[2018-11-29 21:09] ciarmcom commented on #8426
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-221*

[2018-11-29 21:09] ciarmcom commented on #8353
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-222*

[2018-11-29 21:09] ciarmcom commented on #8314
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-223*

[2018-11-29 21:09] ciarmcom commented on #8306
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-224*

[2018-11-29 21:09] ciarmcom commented on #8289
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-225*

[2018-11-29 22:11] TacoGrandeTX commented on #8783
@jeromecoutant Additional testing has shown that increasing LPTICKER_DELAY_TICKS to 4 prevents the hang.

[2018-11-30 04:21] deece opened #8912 "Linux build of NUCLEO_F030R8 fails: TypeError: unhashable type: 'dict'"
### Description

When attempting to build on Linux, I get the following failure (I have no private settings):
[code]

This fails on master (5047ea4f423a57e22312b81203f7eb47146fbdf4) but works on mbed-os-5.9.7

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-11-30 04:30] deece opened #8913 "Build of NUCLEO_F030R8 fails when DEVICE_SERIAL=0"
### Description
I am trying to build a cutdown mbed to use as part of a bootloader. In order to make the final binary as small as possible, I have historically passed: -D DEVICE_SERIAL=0 -D DEVICE_STDIO_MESSAGES=0 to the build script.

When passing these defines to tag`mbed-os-5.9.7` (I can't build master due to #8912), I get the following failure:

[code]

### Issue request type

    [ ] Question

[2018-11-30 04:32] deece commented on #8913
`mbed-os-5.4.7` builds, but `mbed-os-5.5.0` fails for related (but different) reasons

[2018-11-30 05:27] fahimalavi commented on #8438
If OS_THREAD_OBJ_MEM  is defined and not equal to 0 then OS_THREAD_LIBSPACE_NUM       will depend upon OS_THREAD_NUM. So we also have to define OS_THREAD_NUM
`#if (OS_THREAD_OBJ_MEM == 0)
#define OS_THREAD_LIBSPACE_NUM      4
#else
#define OS_THREAD_LIBSPACE_NUM      OS_THREAD_NUM
#endif`

[2018-11-30 05:29] AGlass0fMilk commented on #7674
After some closer reading, it seems the main issue is the hardware must be notified when a status Stage is allowed during a control transfer. So it should be possible to let the Nordic driver know when all the control transfer IN data has been sent. I don’t think it will be a problem for other endpoints 🤞

[2018-11-30 06:23] ciarmcom commented on #8913
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-226*

[2018-11-30 06:23] ciarmcom commented on #8912
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-227*

[2018-11-30 06:34] KariHaapalehto commented on #8903
[realtek.log](https://github.com/ARMmbed/mbed-os/files/2632308/realtek.log)

Log file from start-up with realtek using mbed-os-example-wifi

[2018-11-30 07:27] vidavidorra commented on #8610
@SeppoTakalo Thanks for the information, and apologies for the late reply. Will test those when I'm on 5.11 as I saw that that's where its released in.

I'll close this now as my question has been answered.

[2018-11-30 07:27] #8610 closed, assigned to nobody

[2018-11-30 07:53] kjbracey commented on #8906
If the failure is that clear-cut, then I suggest you go ahead and use `git bisect` to isolate the breaking commit. Probably the fastest way to isolate it.

[2018-11-30 09:03] 0xc0170 opened #8917 "UNO_91H: arm lib heap/stack undefined for ARMCC"
### Description

The issue was found in exporters run for 2 different pull request in the last 2 days.

This is the log

[code]

This target passed previously  exporters, the very first run (how this target got to master) is here http://mbed-os.s3-eu-west-1.amazonaws.com/builds/exporter/8753/PASS/UNO_91H/uvision5/a2bced7db55d60cea6ac7db33b8975acd63725a2_exporter_build_log_UNO_91H_uvision5.txt

bli

[2018-11-30 09:10] 0xc0170 commented on #8917
@timurh01 @alekla01 Can you review ? 8915 is the one failing, and check the integration PR that passed

From the logs, this one I do not understand (the job number 826 in uvision5 exporters)

[code]

Abort exception first, and then it runs the script and starts compiling?

[2018-11-30 09:38] 0xc0170 commented on #8917
My test

blinky example, using Mbed OS SHA: `5047ea4f42 - (HEAD -> master, upstream/master) Merge pull request #8889 from kfnta/psa_travis_check` (latest master as of now).

` mbed export -m UNO_91H -i uvision5` - using uvision 5.26 (same update as we use in CI, I updated recently when we updated uvision version in CI)

[code]

Also some exporters run within the last 2 weeks and this failure can b

[2018-11-30 09:53] alekla01 commented on #8917
[code]
"Abort exception first, and then it runs the script and starts compiling?" No
When compilation fails, print the last 100 lines of log (tail -n 100 examples/exporter_build_log_UNO_91H_uvision5.log)

[2018-11-30 10:07] AriParkkila commented on #8774
@mfatiga this is now fixed in Mbed OS master and it's integrated in the release 5.11. Can we close this issue?

[2018-11-30 10:13] #8774 closed, assigned to nobody

[2018-11-30 10:29] mfatiga commented on #8774
Hi! Can anyone point me to the related PR or code where this is implemented?

[2018-11-30 10:46] AriParkkila commented on #8666
@Alex-EEE assuming that you are using PPP mode (that's Mbed OS internal LWIP stack), you can use e.g. TELIT_HE910 driver.

I tested with LE910-EUG and at least GSM network connection was fine, here is my setup:

- Connect K64F to LE910
-  `mbed compile -m K64F -DCELLULAR_DEVICE=TELIT_HE910 -DMDMRXD=D0 -DMDMTXD=D1 -DMDMRTS=NC -DMDMCTS=NC`
- Copy binary to K64F

If you want to enable 4G/Cat-M1, chan

[2018-11-30 10:48] AriParkkila commented on #8774
@mfatiga please see `CellularDevice::get_default_instance()` in https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/device/CellularDevice.cpp

[2018-11-30 10:51] 0xc0170 commented on #8913
The problem here is that `DEVICE_` macro must be undefined, not just set to 0. If you look at how serial HAL or SerialBase is protected: `#if defined(DEVICE_SERIAL)`

This should fix the build problem

[2018-11-30 11:03] mfatiga commented on #8774
@AriParkkila This is not what I meant by this issue. This is only enabling flow control on the microcontroller UART, not on the modem device itself. For example, for the QUECTEL BG96 it would be something like this, implemented in the `init_module` function:
[code]

Also, setting the baud rate on the target device is also not implemented. For the QUECTEL BG96 device, this would be done by using `A

[2018-11-30 11:11] AdamZhang0124 commented on #8124
Hi @samchuarm , so far I have fixed the **WIFI-SCAN** test case failure. This failure is due to the wrong expression of the 'wifi-secure-protocol' value in mbed_app.json file.
As in '[mbed-os/TESTS/netsocket/README.md](https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md)', the 'wifi-secure-protocol' valid values are suggested to be 'WEP, WPA, WPA2, WPA_WPA2'.
![image](https://

[2018-11-30 11:27] mattbrown015 opened #8921 "LoRaWAN: Retransmissions back-off Applied to First Transmission"
### Description

I think everyone is familiar with section "7 Retransmissions back-off", it gets discussed a great deal.

My issue is very subtle but important nonetheless!

Let's imagine that a class A device starts up, joins and successfully sends data messages.  It happily sends these data messages for hours or even days.

Then for some reason, possibly a link check failure, it decides that the

[2018-11-30 11:31] #8720 closed, assigned to nobody

[2018-11-30 11:33] #8150 closed, assigned to nobody

[2018-11-30 11:34] #7496 closed, assigned to nobody

[2018-11-30 11:39] AriParkkila commented on #8774
@mfatiga unfortunately that's not supported. You need to setup it in production or in your application (e.g. via cellular AT handler coming in #8749).

[2018-11-30 11:39] ciarmcom commented on #8921
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-229*

[2018-11-30 11:39] ciarmcom commented on #8917
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-230*

[2018-11-30 11:59] mfatiga commented on #8774
@AriParkkila Yes, that would be good enough for configuring the baud rate, but then the UART instance should also be accessible externally.
As for the flow control, I think that automatically enabling flow control on the actual modem device when you have defined MDMCTS and MDMRTS would be much better.

[2018-11-30 13:00] 0xc0170 commented on #8903
@KariHaapalehto Why was this closed?

[2018-11-30 13:01] 0xc0170 commented on #8912
@ARMmbed/mbed-os-psa Can you review (is_PSA_secure_target fails)

[2018-11-30 13:04] AriParkkila commented on #8774
@mfatiga `ATHandler::get_file_handle` is actually UART so you could use that (in the near future) to `UARTSerial::set_flow_control`.

[2018-11-30 13:18] KariHaapalehto commented on #8903
This was accidently closed while adding log file. Reopening

[2018-11-30 13:31] #8714 closed, assigned to nobody

[2018-11-30 14:07] 0xc0170 commented on #8893
@gilles-peskine-arm When can this be propagated to Mbed OS ? I can see it is still not in TLS repository

[2018-11-30 14:15] gilles-peskine-arm commented on #8893
@0xc0170 It's waiting on https://github.com/ARMmbed/mbedtls/pull/2241 to be merged and then Mbed TLS needs to make a new release. @Patater and @sbutcher-arm are on the job.

[2018-11-30 15:07] mattbrown015 commented on #8921
While waiting to see if anyone agrees with my analysis I thought I'd see if I could change the behaviour easily.

As a consequence of this investigation I believe `last_tx_was_join_req` in `LoRaPHY::calculate_backoff` isn't doing 'what it says on the tin' or what is required.  But it is all very confusing!

AFAICT, `last_tx_was_join_req == true` when the next transmission, i.e. the one we're calcu

[2018-11-30 15:52] Alex-EEE commented on #8666
Fantastic, thanks for the look and code tweaks!

[2018-11-30 15:55] klaas019 commented on #8906
This commit is causing the issue : a9552232e44774bf59a07db8b45f51852a07ff8c

I have only tested with XDOT_L151CC and MTS_MDOT_F411RE, I assume this would affect other STM32 devices.

[2018-11-30 16:00] mattbrown015 commented on #8921
I've had a go at making `is_last_tx_join_request` do what I'm suggesting it is supposed to!

[code]

[2018-11-30 16:02] jeromecoutant commented on #8906
I don't think we can revert this patch, as it is a real coding issue...

It means that this coding issue was hiding your issue...

[2018-11-30 16:04] fkjagodzinski commented on #8906
I can confirm this is also true for `NUCLEO_F401RE`.

[2018-11-30 16:30] fkjagodzinski commented on #8906
`NUCLEO_F401RE` fails `5 s delay accuracy (attach)` test case from `tests-mbed_drivers-lp_timeout` for both master and a116d59da1c0f1393d7cfdc6d0a20710f918da64.

[code]

[2018-11-30 16:31] mattbrown015 commented on #8921
Obviously no one has agreed that anything I'm saying makes any sense but if anyone does, making the _first_ join request transmission use the _normal_ back-off becomes easy with the `is_last_tx_join_request` _fix_ from above.

[code]

[2018-11-30 17:25] klaas019 commented on #8906
I think the problem is this line in targets/TARGET_STM/rtc_api.c

328: uint32_t RTC_time_tick = (timeinfo.tm_sec + timeinfo.tm_min * 60 + timeinfo.tm_hour * 60 * 60) * PREDIV_S_VALUE + PREDIV_S_VALUE - Read_SubSeconds; // Max 0x0001-517F * 8191 + 8191 = 0x2A2E-AE80

The fix changes the order of operations:

uint32_t temp = (timeinfo.tm_sec + timeinfo.tm_min * 60 + timeinfo.tm_hour * 60 * 60);

 RT

[2018-11-30 18:07] klaas019 commented on #8906
Also in the same file these lines:

243: LPTICKER_RTC_time = (timeStruct.Seconds + timeStruct.Minutes * 60 + timeStruct.Hours * 60 * 60) * PREDIV_S_VALUE;

334: LPTICKER_counter += (RTC_time_tick + 24 * 60 * 60 * PREDIV_S_VALUE - LPTICKER_RTC_time);

Have similar issues now as well.

[2018-11-30 18:45] ashok-rao opened #8927 "5.11.0 - RC1 breaks PDMC on some Nuvoton targets."
### Description

The following targets are affected by this issue:
1. NUMAKER_PFM_M487
2. NUMAKER_IOT_M487

For NUMAKER_PFM_M487: The following tests are passing.
[NUMAKER_PFM_M487_ARM_output.txt](https://github.com/ARMmbed/mbed-os/files/2634944/NUMAKER_PFM_M487_ARM_output.txt)

For NUMAKER_IOT_M487: The following tests are passing.
[NUMAKER_IOT_M487_ARM_output.txt](https://github.com/ARMmbed/mbed

[2018-11-30 18:59] maclobdell opened #8928 "Dragonfly Nano Cellular Interface fails"
### Description
Dragonfly Nano (MTS_DRAGONFLY_L471QG) is a new target as of 5.10.2  We have discovered a problem with the cellular interface implementation, which has been submitted in PR https://github.com/ARMmbed/mbed-os/pull/8924.

However, after applying that patch, there are still some failures.

Issue 1 - failing tests with Mbed OS master branch (stuff coming for 5.11.0)

tested with command

[2018-11-30 20:16] ashok-rao opened #8929 "5.11.0 - RC1 breaks PDMC on some ublox targets."
### Description

The following targets are affected by this issue:
1. UBLOX_EVK_ODIN_W2
2. UBLOX_C030_U201

For UBLOX_EVK_ODIN_W2: The following tests are passing:
[UBLOX_EVK_ODIN_W2_ARM_output.txt](https://github.com/ARMmbed/mbed-os/files/2634999/UBLOX_EVK_ODIN_W2_ARM_output.txt)

For the UBLOX_C030_U201: The following tests are passing:
[UBLOX_C030_U201_ARM_output.txt](https://github.com/ARMmbed

[2018-11-30 20:40] maclobdell commented on #8928
Update to Test Issue #3 -

using the attached test-config file, I can get the netsocket tests to run.
[dragonfly_nano_mbed_app2.txt](https://github.com/ARMmbed/mbed-os/files/2634913/dragonfly_nano_mbed_app2.txt)

However, there are a few failures.
[dragonfly_nano_patch_netsocket_test_results_master.txt](https://github.com/ARMmbed/mbed-os/files/2634916/dragonfly_nano_patch_netsocket_test_results_ma

[2018-11-30 20:59] j3hill commented on #8858
In order to use `readable`, your serial port should be associated with a stream. This can be done in the constructor for the Serial class. For example:
`Serial pc(PA_9, PA_10, <name of stream>, <OPTIONAL baudrate>); `
Here is more information: https://os.mbed.com/docs/v5.10/mbed-os-api-doxy/classmbed_1_1_serial.html

[2018-11-30 21:09] ciarmcom commented on #8929
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-231*

[2018-11-30 21:09] ciarmcom commented on #8928
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-232*

[2018-11-30 21:09] ciarmcom commented on #8927
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-233*

[2018-11-30 22:49] SenRamakri commented on #8471
Hi @LaurentLouf , Thanks for your suggestion. I have analyzed your request and I think, as print_error_report() report is specifically written for Mbed-OS error handling+error coding, exposing it outside will open up opportunities to bypass the overall error handing APIs provided by Mbed-OS which is not expected. What I suggest is if you want to capture specific error scenarios, define custom erro

[2018-11-30 22:49] #8471 closed, assigned to nobody

[2018-11-30 23:20] c1728p9 opened #8930 "Null pointer dereferenced in libublox-odin-w2-driver.a"
### Description

When using WiFi on the UBLOX_EVK_ODIN_W2 with the MPU enabled the device crashes because an invalid pointer is used. This occurs in the function ```cbLPO_startLpoEmulation``` which is located in  ```libublox-odin-w2-driver.a```. Without the MPU enabled writes to a null pointer are ignored on the UBLOX_EVK_ODIN_W2, which is why this has not caused problems in the past.

This failur

[2018-11-30 23:24] cmonr commented on #8929
@ashok-rao Are there additional instructions on what the AP credentials should be setup to so that tests can be run?

Got to the point where I can run the tests, but the device cannot connect to a network. This is testing with an Odin W2 board.

[2018-11-30 23:24] c1728p9 commented on #8930
@ARMmbed/team-ublox can you take a look at this?

[2018-11-30 23:40] deece commented on #8913
Most instances of DEVICE_SERIAL are a plain `#if DEVICE_SERIAL`, so it must be defined. I think the correct fix would be to remove the `defined()` wrappers from the checks in RawSerial.h, Serial.h & SerialBase.h, which was erroneously introduced in commit 26b9a1f6a3

[code]

[2018-12-01 00:48] screamerbg commented on #8930
@c1728p9 It's great that we're adding MPU support, but we haven't communicated to any Mbed Partner that MPU support in drivers (especially binary) is now a requirement. Could we take active steps and ensure that this doesn't happen in the future please?

[2018-12-01 02:23] ciarmcom commented on #8930
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-236*

[2018-12-01 04:12] masoudr commented on #8858
@j3hill Thanks, but I thought that I can override this in the `mbed_app.json` file. Anyway, I'm closing this issue as already answered.

[2018-12-01 04:12] #8858 closed, assigned to nobody

[2018-12-01 13:21] orenc17 commented on #8912
#8932 will fix that

[2018-12-02 10:22] yossi2le commented on #8792
Hi @yplam
Thanks for your enhancement suggestion. we actually prefer to keep working with mbed_trace and not adding a separate mechanism for trace per component. however, we do believe that mbed_trace should have an option to be controlled not only buy message level but also by component id. I have asked around and found out that this is already underworking and will be introduced in the future. s

[2018-12-02 14:39] orenc17 opened #8937 "FUTURE_SEQUANA target fails on MPU init"
### Description
FUTURE_SEQUANA board crashes during mpu_init()

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

@alzix

[2018-12-02 15:31] alzix commented on #8937
Please provide your initial research findings about memory regions

[2018-12-02 16:13] ciarmcom commented on #8937
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-237*

[2018-12-02 19:22] ashok-rao commented on #8929
@cmonr : https://github.com/ARMmbed/pelion-enablement/blob/master/mbed_app.json#L21 .. you can put in your AP's credentials here ..

[2018-12-03 05:19] cmonr commented on #8929
Ah, my mistake. Was following the instructions verbatum since it was late in the day. Will try it out early tomorrow.

[2018-12-03 06:42] AmmadRehmatCUS opened #8938 "UnicodeDecodeError while synching in greentea test"
### Description
While running greentea tests I get following error:
[code]

Synch always fails with above error.

Target: UBLOX_EVK_ODIN_W2
ToolChain : GCC_ARM
python version : `2.7.14`

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2018-12-03 07:12] samchuarm commented on #8124
Hi @SeppoTakalo , can you please review Adam's comments? Is this something needs a PR to address? Thanks.

Hi @AdamZhang0124 , what about other WiFi test failures? Are you able to address them now? Thanks.

[2018-12-03 07:14] samchuarm commented on #8081
Hi @M-ichae-l , has there been any progress on this issue? Thanks.

[2018-12-03 07:23] tsuresh20 opened #8939 "callback registered is not called for socket events"
### Description

1. I am using the example given in the documentation for "Nonblocking operation" section in the following page
https://os.mbed.com/docs/latest/apis/network-socket.html
2. mbed-od version is 5.10 and device is "DISCO_L475VG_IOT01A" using GCC_ARM
3. There is no changes in mbed-os code

Issues observed:
1. The example in above link is crashing when calling socket->connect API, furthe

[2018-12-03 07:25] tsuresh20 opened #8940 "socket bind is blocking"
### Description
1. mbed-od version is 5.10 and device is "DISCO_L475VG_IOT01A" using GCC_ARM
2. There is no changes in mbed-os code

Issues observed:
1. Socket bind API is blocking

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2018-12-03 07:27] tsuresh20 opened #8941 "Loopback socket functionality missing?"
### Description
1. is loopback sockets supported in mbed-os? if not, how to simulate this functionality?
2. mbed-od version is 5.10 and device is "DISCO_L475VG_IOT01A"
3. There is no changes in mbed-os code

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2018-12-03 07:29] tsuresh20 opened #8942 "missing select and fd_set API support"
### Description
1. is select and fd_set API supported in mbed-os?if not, how to simulate this functionality?
2. mbed-os version is 5.10 and device is "DISCO_L475VG_IOT01A"
3. There is no changes in mbed-os code

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2018-12-03 07:42] kjbracey commented on #8942
Mbed OS provides `poll`, which is a newer version of `select`. However, support is currently limited to `FileHandle`-based devices such as `UARTSerial`, and does not extend to sockets, which are not unified with the filehandle system.

Not supporting it for sockets is partly because for many network devices implementing `select` or `poll` is inefficient or even impossible - you can't check if data

[2018-12-03 09:07] hasnainvirk commented on #8921
@mattbrown015 Honestly speaking, I did not understand the issue here. Please give us some time to look into it in details and come back to you with an answer.

[2018-12-03 09:49] KariHaapalehto opened #8943 "NXP LPC1768 is padding ethernet frames incorrectly"
### Description
Frame lenght should be 64 bytes, including headers and checksum bytes.
LPC176X driver is padding ethet frames to 64 bytes before checksum bytes. So adding checksum bytes  will increased total size to 68.

This error has been tested with UBLOX_C027 using Wireshark to capture log.
Attached WireShark log from greentea network emac tests shows that first 3 packets are length of 100 byt

[2018-12-03 09:51] KariHaapalehto commented on #8943
[ublox_c027.zip](https://github.com/ARMmbed/mbed-os/files/2638940/ublox_c027.zip)
WireShark log file attached

[2018-12-03 09:54] samchuarm commented on #8927
@ARMmbed/team-nuvoton

[2018-12-03 10:14] 0xc0170 opened #8945 "Travis: rabbitmq signature failure"
### Description

Experiencing failures since the last weekend.

`The command "W: Failed to fetch https://packagecloud.io/rabbitmq/rabbitmq-server/ubuntu/dists/trusty/InRelease The following signatures couldn't be verified because the public key is not available: NO_PUBKEY F6609E60XXXXXXX" failed. Retrying, 2 of 3.`

key was changed in the msg above `F6609E60XXXXXXX` (the original one can be found

[2018-12-03 10:15] kjbracey commented on #8943
@mikaleppanen - how's your memory? Didn't we have some case where excess padding was unavoidable? I seem to recall a test being relaxed rather than fixing it.

[2018-12-03 10:15] 0xc0170 commented on #8945
cc @ARMmbed/mbed-os-test @ARMmbed/mbed-os-maintainers

[2018-12-03 10:16] 0xc0170 commented on #8945
From the rabitmq website, they updated their keys 2 days ago.  This should explain the failures

Quote from their webpage (http://www.rabbitmq.com/news.html):

[2018-12-03 10:47] hasnainvirk opened #8948 "psa_security.c breaks LoRaWAN builds"
### Description

Bugs and un-flagged code in psa_crypto.c breaks all the builds for LoRaWAN.
The problem is that the LoRaWAN builds remove MBEDTLS_GCM_C by undefining it in its Mbedtls configuration file. psa_crypto.c seems to use MBEDTLS_CCM_C or MBEDTLS_GCM_C and at some places it is correctly flagged. However, there are many places where it is not properly flagged, e.g.,
https://github.com/ARMm

[2018-12-03 10:51] 0xc0170 commented on #8938
I've noticed this error as well in one of CI logs.

Job mbed-os-ci_greentea-test/459

[code]

@ARMmbed/mbed-os-test @ARMmbed/mbed-os-tools

[2018-12-03 10:53] hasnainvirk commented on #8948
It seems there are plenty of issues related to this issue and there is a fix PR open https://github.com/ARMmbed/mbedtls/pull/2241/commits/7d6f48a058b0c93e95383fa5d9a0b8da62b617b6 @0xc0170 What is the status on this PR ? Our builds are blocked because of this.

[2018-12-03 11:19] 0xc0170 commented on #8948
I believe this should fix it https://github.com/ARMmbed/mbed-os/pull/8926 (can you test?)

The fix will be in 5.11rc2

[2018-12-03 11:21] 0xc0170 commented on #8948
@hasnainvirk How come this was not caught earlier (PR test or nightly) ?

cc @OPpuolitaival

[2018-12-03 11:29] hasnainvirk commented on #8948
@0xc0170 I am not sure why we didn't see it before. Let me try with the PR you mentioned.

[2018-12-03 11:31] SeppoTakalo commented on #8124
@AdamZhang0124

I don't see the problem.
What `mbed_app.json` file are you referring to?

The `WPA_WPA2` is the correct form, as indicated in `valid values are ...` description.
This is used in NetworkInterfaceDefaults.cpp with C preprocessor to append `NSAPI_SECURITY_` prefix into the string. So the final string would be `NSAPI_SECURITY_WPA_WPA2` which is the enum on the line you have highlighted

[2018-12-03 11:36] hasnainvirk commented on #8948
@0xc0170 I can confirm that the #8926 fixes the issue.

[2018-12-03 11:40] adbridge commented on #8948
Looks like a duplicate of #8893

[2018-12-03 11:41] ciarmcom commented on #8948
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-238*

[2018-12-03 11:41] ciarmcom commented on #8945
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-239*

[2018-12-03 11:41] ciarmcom commented on #8942
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-241*

[2018-12-03 11:41] ciarmcom commented on #8941
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-242*

[2018-12-03 11:41] ciarmcom commented on #8940
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-243*

[2018-12-03 11:41] ciarmcom commented on #8939
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-244*

[2018-12-03 11:41] ciarmcom commented on #8938
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-245*

[2018-12-03 12:40] #8880 closed, assigned to pan-

[2018-12-03 13:04] 0xc0170 commented on #8927
I am reviewing the changes between the versions. First thing t hat came to my mind: MPU enablement.

@ashok-rao Can you quickly test one of the failing tests with 5.11rc1, remove `MPU` from `device_has` from `MCU_M480` target  and add `MBED_MPU_CUSTOM` to macros. If not mpu related, we shall investigate further what has changed between the two versions

[2018-12-03 13:40] 0xc0170 commented on #8913
There's some inconsistencies here, we will fix it (patch welcome !).

[2018-12-03 14:04] 0xc0170 commented on #8945
Restarting all referenced PR here, should be green and can be closed 🙏

[2018-12-03 14:22] adbridge commented on #8937
@c1728p9  please take a look. I suspect MPU needs to be disabled on this device in the short term and another issue raised if we find the root cause...

[2018-12-03 14:26] SeppoTakalo commented on #8886
I propose the title change from `Mbed OS crashes on basic HTTP requests` to `My application crashes while doing simultaneous HTTP requests`

Also, I would prefer some kind of crash log. It's a time consuming and usually not so productive to read through other peoples test code.

[2018-12-03 14:50] SeppoTakalo commented on #8886
## Findings

### Probably too many open sockets

[code]

This starts 4 threads, which each create TCP socket, end each probably tries to do DNS query.
For some stacks, the limit of open sockets is set to 4, so either this fails, or work only by luck because first thread have just started DNS query before last one starts.

For LwIP the default limit is 4 as seen here: https://os.mbed.com/docs/v5.10

[2018-12-03 14:56] SeppoTakalo commented on #8886
Fixed the application by modifying the proposed part to:
[code]

And now it does not seem to crash anymore.
[code]

Thank you for the interesting test application.

[2018-12-03 14:56] hasnainvirk commented on #8881
@paula75 Setting the 'max-sys-error' to 100 ms hides the crystal issue in effect and a value this large doesn't make much sense in practise. I would recommend that you should pick up an oscilloscope and measure your clock drift and change the value of RCC_HSICALIBRATION_DEFAULT at mbed-os/targets/TARGET_STM/TARGET_STM32L0/device/stm32l0xx_hal_rcc.h just as mentioned in the link [2] you  provided.

[2018-12-03 15:22] cmonr commented on #8945
Build are once again functional.

[2018-12-03 15:22] #8945 closed, assigned to nobody

[2018-12-03 15:35] cmonr opened #8950 "Properly fix Travis CI Rabbit MQ issue"
### Description

Due to a recent Rabbit MQ migration, Travis CI was failing to run `apt-get update` successfully. A fix has been placed in master, but involves the use of `curl ... | bash` which is _never_ a good idea.

While in this case, it shouldn't matter because the script is contained within Travis CI, it still irks me having this pattern associated with the repo _at all_.

'Fix' to unblock

[2018-12-03 15:37] cmonr commented on #8950
@ARMmbed/mbed-os-maintainers @ARMmbed/mbed-os-test-team

[2018-12-03 16:06] cmonr commented on #8950
Travis support emailed.

[2018-12-03 16:06] #8886 closed, assigned to nobody

[2018-12-03 16:07] bridadan commented on #8938
@0xc0170 That error can happen, it indicates that there were non-unicode bytes read from the serial port. I would expect this would typically come from a device sending corrupted data (or extra garbage bytes in a buffer?).

[2018-12-03 16:15] ciarmcom commented on #8950
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-248*

[2018-12-03 16:15] studavekar commented on #8807
Mbed os hardware tests are passing in CI closing this issue.

[2018-12-03 16:15] #8807 closed, assigned to nobody

[2018-12-03 16:16] studavekar commented on #8808
Mbed os hardware tests are passing in CI closing this issue.

[2018-12-03 16:16] #8808 closed, assigned to nobody

[2018-12-03 16:16] studavekar commented on #8752
Mbed os hardware tests are passing in CI closing this issue.

[2018-12-03 16:16] #8752 closed, assigned to OPpuolitaival, studavekar

[2018-12-03 16:16] studavekar commented on #8806
Mbed os hardware tests are passing in CI closing this issue.

[2018-12-03 16:16] #8806 closed, assigned to nobody

[2018-12-03 16:20] studavekar commented on #8805
Mbed os hardware tests are passing in CI closing this issue.

[2018-12-03 16:20] #8805 closed, assigned to nobody

[2018-12-03 18:08] aashishc1988 commented on #8938
@AmmadRehmat Do you mind sharing the test script that is causing this issue? It would be interesting to see what is going on that is causing the sync itself to fail.

[2018-12-03 21:35] drahnr opened #8954 "nRF52832 power consumption during sleep"
### Description

- What target does this relate to? NRF52DK
- What toolchain (name + version) are you using? gcc 7.x
- What tools (name + version - is it mbed-cli, online compiler or IDE) are you using? mbed-cli 1.7.5
- What is the SHA of Mbed OS (git log -n1 --oneline)? 5.10 c53d51fe9220
- Steps to reproduce. (Did you publish code or a test case that exhibits the problem?) Not yet.

### Issue req

[2018-12-03 22:02] dreemkiller commented on #7398
I believe that I've found the problem.
In the serial_api.c file, when:
[code]
[code]
If the hardware receives a short UART message, the Rx FIFO will never be full, and the interrupt with fire but never be serviced.
Changing the code to as follows solves my problems (it may not be a complete solution, I leave it to the hardware experts to judge):
[code]
[code]
I will be submitting a PR with these c

[2018-12-03 22:08] pan- commented on #8954
Hi @drahnr,

Could you post a sample code that reproduces the issue and indicate the profile used ?

Side note: GCC7.x is **not** supported.

[2018-12-03 22:10] c1728p9 commented on #8930
Hi @screamerbg, don't worry, MPU support in drivers isn't a requirement for partners. The MPU changes were done by the mbed-os HAL team and the mbed-os HAL team is also responsible for fixing any problems caused by this change. In this case the Odin hardfault will be corrected by turning off the MPU. Ublox can then investigate the cause of the null pointer write without being rushed. Regardless, I

[2018-12-03 22:12] c1728p9 commented on #8929
Hi @ashok-rao, @cmonr the error logs attached for the `UBLOX_EVK_ODIN_W2-ARM` and `UBLOX_C030_U201` indicate that a null pointer write was caught by the MPU.

Bit 1 - DACCVIOL - Indicates that there was a data access violation
Bit 7 - MMARVALID - Indicates that MMFAR has valid contents
[code]

The address of the memory location that caused an MPU fault:
[code]

@ashok-rao could you attach the logs

[2018-12-03 22:12] MarceloSalazar commented on #8937
FYI @lrusinowicz

[2018-12-03 22:23] dreemkiller commented on #7398
PR is up at #8955

[2018-12-03 23:21] c1728p9 commented on #8929
The Odin problems are likely caused by the MPU being enabled. If this is the case then #8920 will fix this.

[2018-12-04 02:24] ciarmcom commented on #8954
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-249*

[2018-12-04 03:10] #8555 closed, assigned to nobody

[2018-12-04 03:19] cmonr commented on #8929
@ashok-rao Please re-test with master, since #8920 has been merged.

Allergies ended up finally hitting me, and I wasn't able to progress on this today. If this is still an issue tomorrow, I can take another look.

[2018-12-04 03:29] AdamZhang0124 commented on #8124
Hi @SeppoTakalo,

In **mbed_app.json**, the _"wifi-secure-protocol"_ refers to _MBED_CONF_APP_WIFI_SECURE_PROTOCOL_.

![image](https://user-images.githubusercontent.com/41885176/49416859-69723100-f7b6-11e8-9f59-a11b8ae4ec10.png)

In **Wifi_scan.cpp**, the program checks the value of _get_security()_.

![image](https://user-images.githubusercontent.com/41885176/49416149-fcf63280-f7b3-11e8-9487-1e65

[2018-12-04 06:13] AmmadRehmatCUS commented on #8938
@aashishc1988 I am getting this error for every test scrip that i used with mbed test not some particular script.

@bridadan  Please refer to my reply to ashish and look into it if possible. I have mentioned my python version and I am using windows 10.

[2018-12-04 08:32] #8893 closed, assigned to Patater

[2018-12-04 08:36] kjbracey commented on #8913
That's not necessarily so. An undefined macro is substituted with `0` by the preprocessor in a `#if` expression. I'm not actually sure whether those are explicitly defined as '0'.

They probably are, because I've seen enough people adding unnecessary `#if defined` tests in conjunction with `#if` to make me think that at least one compiler issues a warning for undefined macros in `#if` constructs,

[2018-12-04 09:17] janjongboom commented on #8954
@marcuschangarm Have you seen this?

[2018-12-04 10:10] SeppoTakalo commented on #8124
Ah.. true.. you are correct.
Seems that our documentation and example configuration file are out of sync.

The `WPA/WPA2` form is used in the [get_security()](https://github.com/ARMmbed/mbed-os/blob/master/TESTS/network/wifi/get_security.cpp], as you shown, and also in the [template_mbed_app.json](https://github.com/ARMmbed/mbed-os/blob/master/TESTS/network/wifi/template_mbed_app.txt)

The `WPA_WP

[2018-12-04 10:17] TuomoHautamaki commented on #8943
@ARMmbed/team-nxp please have a look

[2018-12-04 11:38] hjpark-sdt opened #8962 "[NRF51832, NRF52832, SDT51822B, SDT52832B] PWM issues"
### Description
Compiler : GCC_ARM
OS : latest mbed-os

We are testing to control PWM on SDT51822B or SDT52832B.
It is same with NRF51822, NRF52832 each other.
But it is not working when we added this main.cpp on latest mbed-os.
It make sure two NRF board is not working too.
Please check main.cpp and serial messages as below.

[code]

Serial message of SDT51822B:
[code]

Serial message of SDT52832

[2018-12-04 11:45] #8937 closed, assigned to c1728p9

[2018-12-04 11:47] MarceloSalazar commented on #8710
@lrusinowicz can you plese look into this?

[2018-12-04 12:00] adbridge commented on #8948
@hasnainvirk Could you please check if the TLS update #8926 fixes this ?

[2018-12-04 12:22] 0xc0170 commented on #8927
@c1728p9 Do you have a device to test this ? @ashok-rao is away for most of this week.

[2018-12-04 12:56] maxgerhardt opened #8963 "Enable split heap in SRAM1 and SRAM2 on Nucleo L476RG"
### Description

* target: Nucleo L476RG
* toolchain: `arm-none-eabi-gcc` 7.2.1
* PlatformIO
* mbed-os 5.10
* reproduction steps see below

The Nucleo L476RG (STM32L476RG) has two SRAM banks (see [datasheet](https://www.st.com/resource/en/datasheet/stm32l476rg.pdf) chapter 3.5):
* SRAM 1, 96 kB at 0x20000000
* SRAM 2, 32 kB at 0x10000000

Using the mbed-os's heap statistics (`MBED_HEAP_STATS_ENABL

[2018-12-04 13:08] jeromecoutant commented on #8906
@klaas019 could you check with #8777 + #8956 ?

[2018-12-04 15:41] klaas019 commented on #8906
#8777 + #8956 appears to have fixed the problem. Could you verify by running the lowpower mbed tests on other st boards?

[2018-12-04 15:44] bridadan commented on #8938
@AmmadRehmat can you tell us which version of Mbed OS you're using? If you're working off the master branch, which commit hash are you working from? Thanks.

[2018-12-04 16:03] jeromecoutant commented on #8783
Thx @TacoGrandeTX for this report

Maybe I should set this 4 tick value for all targets.
Will start tests in TICKLESS

@c1728p9 @LMESTM

[2018-12-04 16:05] jeromecoutant commented on #7407
Hi
Any update ?
Thx

[2018-12-04 16:11] #7091 closed, assigned to geky

[2018-12-04 16:11] #7010 closed, assigned to kjbracey

[2018-12-04 16:16] ciarmcom commented on #8963
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-250*

[2018-12-04 16:16] ciarmcom commented on #8962
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-251*

[2018-12-04 17:41] aashishc1988 commented on #8938
@AmmadRehmat I tried running tests on the same platform with the exact version of tools you provided and I couldnt reproduce it. As @bridadan said, can you tell the version of MbedOs you're using, and if possible, also tell me the name of the specific test you are running which has this problem. I know you said every test script has the problem, so unless you have ran all of them, that info can be

[2018-12-04 19:33] alzix opened #8967 "TEST_IGNORE() macro is not handled properly"
### Description
In some cases we need to ignore/skip current test as we the preconditions are not meet for testing the feature.

There is a dedicated macros in `unity.h` for that special purpose:
- `TEST_IGNORE_MESSAGE(message)`
- `TEST_IGNORE()`
When this macro is called current test execution aborted and we skip to a next test.

Summary tables printed by `mbedgt` does not expose information abou

[2018-12-04 20:14] cmonr commented on #8912
Feel free to retest. #8932 has been merged.

[2018-12-04 20:16] cmonr commented on #8967
Thanks for the investigation @alzix!

@davidsaada @ARMmbed/mbed-os-test-team @ARMmbed/mbed-os-maintainers Fyi.

[2018-12-04 20:23] cmonr commented on #8544
@GarySwansonARM @kaidokert Is this sitll an issue?

I recall seeing PR activity around the build_api.py file recently.

[2018-12-04 20:39] deece commented on #8913
Wow, I was not expecting that, but it is confirmed in the C 99 standard (http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1256.pdf), section 6.10.1:
"After all  replacements  due  to  macro  expansion  and  the defined unary operator   have   been   performed,   all   remaining   identifiers   (including   those   lexically identical  to  keywords)  are  replaced  with  the  pp-number 0, and  then

[2018-12-04 20:49] SenRamakri commented on #7408
Hello @OmerRosler - We looked into this requirement and do think its a great idea. But unfortunately we don't have any immediate plans to separate CAN logical layer. But feel free to provide an implementation for logical layer separation and we would be happy to review and integrate. At present we are closing this issue.

[2018-12-04 20:49] #7408 closed, assigned to nobody

[2018-12-04 20:58] SenRamakri commented on #7573
Hello @jeckypei - Thanks for the suggestion. Unfortunately we don't have any immediate plans to add mbed-cli as build-in feature by default. If you need such functionality please use mbed-client-cli and feel free to expand that by creating PRs to https://github.com/ARMmbed/mbed-client-cli repo.

[2018-12-04 20:58] #7573 closed, assigned to nobody

[2018-12-04 21:00] SenRamakri commented on #8240
Hello @maskedw, We think the above response from @deepikabhavnani answered your question. We are closing this issue for now, feel free to re-open if you have further queries on this.

[2018-12-04 21:00] #8240 closed, assigned to nobody

[2018-12-04 21:05] #6877 closed, assigned to nobody

[2018-12-04 21:09] ciarmcom commented on #8967
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-254*

[2018-12-04 22:14] davidsaada commented on #8967
@alzix Thanks for reporting this issue. This was the original intention, but it was a bit too complicated with the current way utest was implemented. But I agree this is the desired way.

[2018-12-04 22:26] SenRamakri commented on #7572
Hi @jeckypei - Thanks for your report, it appears the suggestion from @kjbracey-arm addresses your problem. At this point, we are not investigating more into this so closing this issue for now. Please feel free to re-open the issue if you have more questions on this.

[2018-12-04 22:26] #7572 closed, assigned to aashishc1988

[2018-12-04 22:43] SenRamakri commented on #7077
@bmcdonnell-ionx - Thanks for your suggestion, unfortunately we are also looking into other methods to accomplish code-selection for individual projects. So, we are not looking into enhancing .mbedignore behavior for now as it also conflicts with some other tools improvements being planned. So I'm closing issue we cannot address this for now.

[2018-12-04 22:43] #7077 closed, assigned to nobody

[2018-12-05 00:12] c1728p9 commented on #8927
Hi @0xc0170 I don't have either of the Nuvoton boards to test with.

[2018-12-05 00:25] edablan opened #8969 "UBLOX-NINA-B112 with BLE not working with IAR or Keil"
### Description
-TARGET: MTB_UBLOX_NINA_B1
- TOOLCHAIN: IAR 7.80.4 and Keil uVision 5.26.2.0
- SOFTDEVICE: 5.0.0
- TOOLS: mbed cli 1.7.2
- DEBUGGER: SEGGER J-LINK
- Mbed OS: 5.10.4 (6edc81dda)

I had a working version of a BLE custom profile using mbed-os-5.9.7 (949cb49ab). I recently cloned the latest version of mbed-os and re exported my project with IAR. Now the project won't connect over BLE d

[2018-12-05 00:57] edablan commented on #8969
Erroneously got a hold of what is not the latest version of the mbed-os. The hash was for a different check in. Just tested it with the correct mbed-os-5.10.4 (2fd0c5cfb ) and it advertises

[2018-12-05 00:57] #8969 closed, assigned to nobody

[2018-12-05 02:24] hjpark-sdt commented on #8962
I cannot open this URL....

[2018-12-05 04:29] deece commented on #8913
from @kjbracey-arm (putting this here in case someone else finds this):
"I would have thought the "approved" way to do what you're attempting these days would be to make a custom target derived from your base target, and put a device_has_remove in its JSON. (And I'm guessing that would undefine the macro?) Can you try that?"

[2018-12-05 04:57] andrewc-arm commented on #8962
Hi, HeeJung

It's just for our Arm internal ticketing purpose. We will update you when there is a progress about it.

Thanks,

[2018-12-05 04:58] deece commented on #8913
@kjbracey-arm Is there a way I can notify the build system of an external fragment to targets.json, or do I need to patch it?
[later] This looks relevant: https://os.mbed.com/docs/v5.8/reference/configuration.html

[2018-12-05 07:58] samchuarm commented on #8124
Hi @SeppoTakalo , thanks for the review. Then I guess WIFI-SCAN test failures are not Realtek platform specific.

Hi @AdamZhang0124 , What are the remaining WiFi failures you're still working on? Any progress?
I'd suggest you to start submitting PRs to check in the fixes for the dns/tcp/udp test failures since PR review/CI/approval takes some time. Thanks.

[2018-12-05 08:54] kjbracey commented on #8913
I've never tried it myself, but I've read those docs and seen "The Mbed OS tools now look for custom targets in a file named custom_targets.json in the root of an application and treat custom targets the same as Mbed targets."

So I believe you can put an entry in there that `"inherits"` a target in targets.json and removes the devices.

Possibly, yes.

[2018-12-05 09:26] 0xc0170 commented on #8963
This might be general problem. We will review

@ARMmbed/team-st-mcd Can you review ?

[2018-12-05 10:07] mattbrown015 commented on #8921
Hi @hasnainvirk I wondered if a picture would help explain my main query.  Unfortunately I don't know how to draw picture in a comment so I'm trying with a list:

* Device resets
* Device sends join request
   - Device receives join accept and joins
* Device decides to send data message
   - `calculate_backoff` calculates back-off required after join message using 1% DC
* Device decides to send an

[2018-12-05 10:22] AmmadRehmatCUS commented on #8938
@aashishc1988  Reinstalling python solved the issue, for reference I was running mbed-os-tests-mbedmicro-rtos-mbed-basic , on mbed-os-5.9

[2018-12-05 11:21] 0xc0170 commented on #8927
@ashok-rao @ARMmbed/team-nuvoton If anyone can help us narrow down the problem would be great

[2018-12-05 11:26] OPpuolitaival commented on #8353
That is the idea but it is waiting some another tasks which are needed to make that in good way

[2018-12-05 12:48] 0xc0170 commented on #8912
Reopen with an update if the issue is not yet resolved, we will close this now as resolved

[2018-12-05 12:48] #8912 closed, assigned to nobody

[2018-12-05 12:55] fluidblue opened #8977 "Exporting to MCUXpresso IDE results in an error"
### Description

When exporting a project to MCUXpresso IDE using mbed-cli, e.g. with

    mbed export -i mcuxpresso -m LPC11U68

the command results in an error.
The error states that LPC11U68 is not supported by mcuxpresso, however `mbed export --supported` shows that this microcontroller is supported on mcuxpresso.

Some details: mbed-cli v1.8.3 was used on the project mbed-os-example-blinky.

[2018-12-05 13:03] cyliangtw commented on #8927
@0xc0170 , I can't find any 5.11.x tag in mbed-os master branch, so just pull the last mbed-os. M487-iot log file shows network connect successfully but failed in "`Initialize Simple PDMC`", the root cause seems TLS init HW ECC twice and we are in modifying HW ECC init implementation to fulfill this use case.

[m487-iot-ouput.txt](https://github.com/ARMmbed/mbed-os/files/2648872/m487-iot-ouput.txt

[2018-12-05 13:11] 0xc0170 commented on #8927
Use https://github.com/ARMmbed/mbed-os/releases/tag/tools-release-5.11.0-rc1 tag, or can just fetch master as it should be also there (hasn't been yet addressed).

[2018-12-05 13:42] adbridge commented on #8929
@ashok-rao @MarceloSalazar Can someone from PE please retest this to see if #8920 has fixed this ?

[2018-12-05 13:45] adbridge commented on #8948
@hasnainvirk @AnttiKauppila  any update ?

[2018-12-05 13:59] AnttiKauppila commented on #8948
@adbridge All our Lora CI jobs are passing so this seems to have fixed the issue.
@hasnainvirk is on a sick leave so can you close this issue Anna?

[2018-12-05 14:06] 0xc0170 commented on #8948
I'll close this as resolved

[2018-12-05 14:06] #8948 closed, assigned to nobody

[2018-12-05 14:48] j3hill commented on #8447
This issue is being addressed in this pull request: https://github.com/ARMmbed/mbed-os/pull/8832 . The Nordic nRF52 target "qspi_api.c" is being updated to check for WORD (4 byte alignment) on QSPI reads and writes. Please note that BufferingBlockDevice can also be used on top of the Mbed OS QSPIFBlockDevice to support the Macronix MX25R6435F flash part within the nRF52840 DK development board.

[2018-12-05 14:53] 0xc0170 commented on #8447
Thanks @AGlass0fMilk for the detailed report with proposed solution

[2018-12-05 15:12] cmonr commented on #8927
@cyliangtw Since we're in the middle of a feature release, the tag won't be added until the release is published.

For now, you can use either the `mbed-os-5.11` branch, or master. Once https://github.com/ARMmbed/mbed-os/pull/8974 comes in, you should only use `mbed-os-5.11` for testing.

[2018-12-05 15:31] bridadan commented on #8938
Interesting, @AmmadRehmat did you keep the same version of Python? 2.7.14?

[2018-12-05 16:14] ciarmcom commented on #8977
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-260*

[2018-12-05 17:00] naveenkaje commented on #8977
Hi @fluidblue
Thanks for reporting this issue. We will look at this issue and get back to you on this thread.

[2018-12-05 21:14] naveenkaje commented on #8938
closing as @AmmadRehmat reported that reinstalling python solved the issue.

[2018-12-05 21:14] #8938 closed, assigned to nobody

[2018-12-05 23:25] deece opened #8983 "master branch fails to build for NUCLEO_F030R8"
### Description

Attempting to build commit 1c201b4628e346c62e1fbfa7cbcf6aa4e164f0c5 (current master branch) fails due to a missing device.h.

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-12-05 23:36] deece commented on #8983
Hmm, is tools/build.py supported any more, or should we only build via mbed-cli now?

[2018-12-05 23:47] andresag01 opened #8984 "Failed to build UBLOX_EVK_ODIN_W2 using IAR 8.2"
### Description

(This issue mirrors [this](https://github.com/ARMmbed/mbed-os-example-tls/issues/137) issue in mbed-os-example-tls)

The application [mbed-os-example-tls/authcrypt](https://github.com/ARMmbed/mbed-os-example-tls/tree/master/authcrypt) fails to build when using IAR 8.2. The command used to build the software is:
[code]

The error returned is:

[code]
Interestingly, when I try to ge

[2018-12-05 23:52] deece commented on #8983
First commit that breaks it is c29fe896a1b5157fa33aa0c777ba92767f6a61f3

[2018-12-06 02:14] AGlass0fMilk commented on #7674
The Nordic hardware needs more synchronization to the control transfer stages than I first thought. So my PhyHw implementation had to keep track of control transfer sizes and trigger the appropriate synchronization events in the hardware (telling the HW when control transfer Data OUT stages were allowed, when the status stage was allowed, etc).

After using my nifty Beagle 12 USB analyzer, I worke

[2018-12-06 02:18] cmonr commented on #8984
@andresag01 Thank you for the incredibly detailed log.

Mbed OS is currently not compatible with IAR 8.*:
- https://os.mbed.com/docs/v5.10/tools/configuring-mbed-cli.html
- https://os.mbed.com/docs/v5.10/tools/exporting.html

[2018-12-06 02:20] cmonr commented on #8983
Interesting.

Is there a reason why mbed-cli isn't being used to invoke build.py?

[2018-12-06 02:23] ciarmcom commented on #8984
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-266*

[2018-12-06 02:23] ciarmcom commented on #8983
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-267*

[2018-12-06 02:42] AGlass0fMilk commented on #7674
@TacoGrandeTX should I submit a pull request to the feature branch at this time?

[2018-12-06 02:46] deece commented on #8983
@cmonr Not really, just that is how I used to build it, and I'm dusting off old projects.

Building this way is still documented here: https://os.mbed.com/teams/SDK-Development/wiki/Mbed-SDK-build-script-introduction

It also works(ish) for mbed-os-5.9.7, until it falls over in drivers/UARTSerial.cpp with ```
[Error] UARTSerial.h@69,23: no members matching 'mbed::FileHandle::readable' in 'class mb

[2018-12-06 02:49] cmonr commented on #8983
Interesting.

Woah, ok. I was not aware that this still existed.  (Fyi @ARMmbed/mbed-docs )

For reference, our up-to-date documentation is located here: https://os.mbed.com/docs/v5.10/
Also, all of our tests use mbed-cli as a frontend, so I would suggest giving that a try.

[2018-12-06 02:50] cmonr commented on #7674
Impressive. @c1728p9, how does this analysis compare with the changes/updates/fixes you made recently?

[2018-12-06 03:22] TomoYamanaka commented on #7155
@theotherjimmy

I checked whether this issue could be solved by exporting `mbed-os-example-blinky(Mbed OS 5.10.4)` on Mbed Online Compiler, unfortunately the problem seems to occur yet. (the exported program by CLI was no problem.)
The build error on e2studio is here.
[code]

Also,  in the .cproject file exported from Online Compiler, I found that a part of excluding path is still mapped online pa

[2018-12-06 09:53] davidsaada commented on #7407
@jeromecoutant I'm on it now. Didn't have too much time to handle this for 5.11, due to more prioritized issues.

[2018-12-06 10:09] andresag01 commented on #8984
@cmonr Thanks for the clarification! I should have looked at the documentation more carefully. However, I still have a couple of questions:
* If we already know that Mbed OS is not compatible with certain versions of compilers, why doesnt the tool give a warning message when I try to build with an unsupported toolchain? For example, if I try running mbed-cli with Python3 it gives a clear message s

[2018-12-06 10:24] davidsaada commented on #8513
@jeromecoutant Working on it now. Seems like `deinit` is not the problem, but will need to make sure.

[2018-12-06 11:09] AdamZhang0124 commented on #8124
Hi @samchuarm ,
I have solved the remaining test case failures. But for 'WIFI-CONNECT-DISCONNECT-REPEAT', the test result is sometimes failed. So I need more time to verify the problem and make it stable. Thanks.
![image](https://user-images.githubusercontent.com/41885176/49580598-44ceb280-f98a-11e8-8768-85ee9524c5ef.png)

[2018-12-06 11:24] deece commented on #8983
It seems my target is not supported in mbed-os 5.X, so I'll need to stick with a self-built library (rather than the binary that mbed-cli seems to provide (I need to build a very cut-down library as this is part of a bootloader - https://github.com/InfernoEmbedded/onewire-softdevice).

Trying to build mbed_lib_rev164 results in the same problem (device.h missing for Nucleo F030R8).

[code]

[2018-12-06 11:36] 0xc0170 commented on #8792
@jupe Please review

[2018-12-06 11:40] 0xc0170 commented on #8983
@ARMmbed/mbed-os-tools Can you review this use case? Shall this work or not?

[2018-12-06 14:09] ashok-rao commented on #8929
RC2 seems to have fixed this on u-blox (with MPU changes).

[2018-12-06 15:19] bridadan commented on #8983
From @deece's command it looks like you're trying to build from the `tools` directory. If you `cd` up one directory (you should see `mbed-os` as subdirectory) and modify your command to:

[code]

It should work fine after that (I tried it locally to make sure).

[2018-12-06 15:32] theotherjimmy commented on #7155
@TomoYamanaka #8303 is not in the online compiler.

[2018-12-06 15:50] ConradBraam opened #8991 "Netsocket tests suite faults target DISCO_L475VG_IOT01A"
### Description

    Running network netsocket test suite crashes the L475 Discovery target (wifi).
toolchain GCC_ARM and mbed cli project
/master
network_test ( revision in the current branch)
`- mbed-os (#830132548196)

1. Follow steps in https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md
2. Do not fully set up a wifi router yet.
3. compile and run only the wifi set:
mbed t

[2018-12-06 16:02] ConradBraam commented on #8991
It looks pretty much like a default-stack /config issue on the surface not being handled well in the tests perhaps.

[2018-12-06 16:09] cmonr commented on #8984
Interesting. We should be checking the version: https://github.com/ARMmbed/mbed-os/pull/7247/files
It's possible that the IAR check may need to be updated, since the version string in IAR 8.* is slightly different.

That will require a bit more investigation. We try to squash unicode errors wherever we find them, but this one looks new. I can see if I can reproduce it with a different compiler, bu

[2018-12-06 16:13] mmahadevan108 opened #8992 "Support for Cortex-M33FD"
### Description
Cortex-M33F-NS is not implemented correctly in the mbed-os tools folder for the gcc and arm toolchains. The overall implementation assumes Cortex-M33, Cortex-M33-NS and needs to be updated for Cortex-M33F, Cortex-M33F-NS

### Issue request type
    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-12-06 16:17] ciarmcom commented on #8991
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-269*

[2018-12-06 16:18] deepikabhavnani commented on #8992
@mmahadevan108  - Please provide more detail of what seems incorrect
Cortex-M33 / Cortex-M33-NS - maps to cortex-M33 core without any optional features. https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L399

In case core selected is Cortex-M33F-NS - floating point is enabled.
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L420

[2018-12-06 16:19] ConradBraam commented on #8991
See also : https://github.com/ARMmbed/mbed-os/issues/8055 for more clues.

[2018-12-06 16:23] mmahadevan108 commented on #8992
1. In the loop from 391-406
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L391

It is looking for 'f' at the end however, cortex-m33f-ns does not have it at the end.

2. The below does not seem to be considering Cortex-M33F
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L423

There are other instances in the gcc file.

[2018-12-06 16:29] deepikabhavnani commented on #8992
Ends with ('fd') is one case - We do not set any values in that loop for cortex-M33. Please see the elseif with starts with `Cortex-M33` . We set the core here, with nodsp and no floating point.

And when we over-write floating point option here: https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L419

[2018-12-06 16:31] mmahadevan108 commented on #8992
Core value is set below:
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L399

[2018-12-06 16:32] deepikabhavnani commented on #8992
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L423

Agree to this secure side build is not considering the floating point, but for this we will need input from PSA / TF-M team. @dreemkiller - Should we have floating point enabled on secure side?

[2018-12-06 16:34] deepikabhavnani commented on #8992
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L399

yes.. And do you see anything incorrect with that?

[2018-12-06 16:39] aashishc1988 commented on #8938
@AmmadRehmat It would be useful to know what version of python you installed that solved this issue. May be there is something that we are missing or have not understood on that front.

[2018-12-06 16:41] mmahadevan108 commented on #8992
I am seeing the below build failures when core is set to cortex-m33+nodsp, works when core is set to cortex-m33.
___________________________
Error: L6366E: BUILD/LPC55S69/ARMC6/mbed-os/targets/TARGET_NXP/TARGET_MCUXpresso_MCUS/TARGET_LPC/us_ticker.o attributes
are not compatible with the provided attributes .
Object BUILD/LPC55S69/ARMC6/mbed-os/targets/TARGET_NXP/TARGET_MCUXpresso_MCUS/TARGET_LPC/

[2018-12-06 17:01] deepikabhavnani commented on #8992
I have few questions.
1. Error is during secure build / non-secure build
2. What is the core set for secure and non-secure builds

[2018-12-06 17:02] mmahadevan108 commented on #8992
"LPC55S69": {
        "supported_form_factors": ["ARDUINO"],
        "core": "Cortex-M33F-NS",
        "default_toolchain": "ARMC6",
        "supported_toolchains": ["ARMC6", "GCC_ARM"],
        "extra_labels": [
            "NXP",
            "MCUXpresso_MCUS",
            "LPCXpresso",
            "LPC"
        ],
        "is_disk_virtual": true,
        "macros": [
            "CPU_LPC55S69JBD1

[2018-12-06 17:02] mmahadevan108 commented on #8992
Error was seen during non-secure build

[2018-12-06 17:03] deepikabhavnani commented on #8992
Also do you have optional DSP is enabled in your target?

[2018-12-06 17:07] mmahadevan108 commented on #8992
Yes, I believe the below lines should do it.
#if ((__FPU_PRESENT == 1) && (__FPU_USED == 1))
  SCB->CPACR |= ((3UL << 10*2) | (3UL << 11*2));    /* set CP10, CP11 Full Access */
#endif /* ((__FPU_PRESENT == 1) && (__FPU_USED == 1)) */

  SCB->CPACR |= ((3UL << 0*2) | (3UL << 1*2));    /* set CP0, CP1 Full Access (enable PowerQuad) */

  SCB->NSACR |= ((3UL << 0) | (3UL << 10));   /* enable CP0, CP

[2018-12-06 17:35] deepikabhavnani commented on #8992
Please see if https://github.com/deepikabhavnani/mbed-os/commit/ebe5e5fb8fab638da8bf509b1b73349e05a5672c commit works for you, select core as `Cortex-M33FD-NS`

[2018-12-06 17:49] mmahadevan108 commented on #8992
My guess is the DSP is being used by the power library.

[2018-12-06 20:27] c1728p9 commented on #8929
@ashok-rao the MPU was only disabled for the UBLOX_EVK_ODIN_W2 Ublox board. The MPU is still enabled for the UBLOX_C030_U201 on RC2, so any problems caused by it are still present. I created #8994 to turn off the MPU for the UBLOX_C030 family of devices. The root cause of this problem still needs to be determined.

[2018-12-06 20:27] c1728p9 commented on #8927
I created #8994 to turn off the MPU for the MCU_M480 family of devices. The root cause of this problem still needs to be determined.

[2018-12-06 20:49] c1728p9 commented on #7674
Hi @AGlass0fMilk awesome work so far! I would definitely recommend submitting a PR. The implementation will need to pass the mbed-os USB tests before it can be accepted though. You can run the tests locally with the command:
 ```mbed test -t GCC_ARM -m NRF52840_DK -n mbed-os-tests-usb_device-*```

[2018-12-06 21:08] ciarmcom commented on #8992
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-271*

[2018-12-06 22:49] deece commented on #8983
@bridadan That was it, thanks.

I wonder if build.py should be patched to chdir() appropriately, or otherwise warn if it's started where it doesn't expect to be? (it used to the case that it was documented to be run from the tools dir)

[2018-12-06 23:07] bridadan commented on #8983
Mbed CLI does the `chdir()` for you (which is the supported interface). However, Mbed CLI checks to see if the compile target is supported by Mbed OS 5 and this target isn't, so that's why I didn't mention it 😄

[2018-12-06 23:09] deece commented on #8983
Thanks, I'll close this as user error then

[2018-12-06 23:09] #8983 closed, assigned to nobody

[2018-12-06 23:45] AnotherButler commented on #8983
Thanks for the tag, @cmonr We have a task to clean up some of the outdated teams content. I'll make sure this one goes on the list.

[2018-12-06 23:47] bmcdonnell-ionx opened #8997 "update FatFs"
### Description

The latest [FatFs](http://elm-chan.org/fsw/ff/00index_e.html) (R0.13c, October 14, 2018) [includes bugfixes](http://elm-chan.org/fsw/ff/updates.txt). Please merge into Mbed OS.

### Issue request type

    [ ] Question
    [X] Enhancement
    [ ] Bug

[2018-12-07 01:35] TomoYamanaka commented on #7155
@theotherjimmy

I'm in trouble with export from online so I'll be very grateful if you could help me.

My understanding is that PR #8303 solves to generate unusable project file from online compiler, and this solution should be applied to online environment not only mbed-os/tools. Also I know there is time rag regarding merge into online exporter. Are those correct?

[2018-12-07 02:24] ciarmcom commented on #8997
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-274*

[2018-12-07 02:42] pauluap opened #8999 "NVStore storage area reservation"
### Description

I am evaluating the NVStore feature on mbed-os 5.8.3.  I'm trying to figure out how the flash area is reserved.  I do see the configuration options for `NVSTORE_AREA_1_ADDRESS` and friends, but I don't see anything related to compile-time placement or any configuration to the linker scripts.  Do the current examples implicitly rely on code not being present in the specified locati

[2018-12-07 02:46] cmonr commented on #8999
@ARMmbed/mbed-os-storage

[2018-12-07 03:07] cmonr commented on #7155
I'm actually confused as well. @theotherjimmy This is at least in 5.10.3, correct? I'm missing the disconnect as well.

[2018-12-07 03:17] cmonr commented on #8997
@ARMmbed/mbed-os-storage FYI

[2018-12-07 03:27] #8864 closed, assigned to nobody

[2018-12-07 05:04] AmmadRehmatCUS commented on #8938
@aashishc1988 Its the same version of python previously installed 2.7.14

[2018-12-07 06:23] ciarmcom commented on #8999
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-275*

[2018-12-07 07:10] samchuarm commented on #8124
Hi @AdamZhang0124 , this looks a lot better now. Thank you.
While you're still working on the test case of 'WIFI-CONNECT-DISCONNECT-REPEAT', can you start submitting PR to check in fixes for the failures you've addressed?

[2018-12-07 07:13] samchuarm commented on #8081
Hi @M-ichae-l , any update on this?

[2018-12-07 07:14] desmond-blue opened #9000 "[OoB_5.11.0-RC2]: Debugging with exporting vscode_gcc_arm failed"
### Description

Steps to reproduce:
1. mbed export -i vscode_gcc_arm -m K64F --profile debug
2. On Debug tab, click Play icon.
3. An error message occurred

[code]
Environment:
Windows 10
VSCode 1.29.1

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-12-07 07:24] davidsaada commented on #8999
@pauluap NVStore is indeed unaware of the code location, relying on the fact that the application would make sure it doesn't overlap with the NVStore location. If you want to optimize your flash consumption by code and NVStore combined, you will indeed need to mess around with linker script placements, which is quite a delicate job. I'm not very familiar with it, but saw some examples for it in so

[2018-12-07 07:33] M-ichae-l commented on #8081
@samchuarm  it is still under processing.

[2018-12-07 07:57] yplam commented on #8792
Hi @yossi2le
Thanks for your reply. Good to see the upcoming feature.

[2018-12-07 07:57] #8792 closed, assigned to nobody

[2018-12-07 08:58] kallaspriit opened #9002 "LPC17XX USBSerial hangs on receive"
### Description

USBSerial on LPC1768 hangs when receiving first message.

- Sometimes works after resetting the board. Once it works it keeps working for next restarts until the board is power-cycled.
- Does not work when using PlatformIO with VSCode on Windows 10 with the latest dependencies.
- Works properly when using online mbed compiler (but this uses older version of USBSerial).
- *Also wor

[2018-12-07 10:47] erwango opened #9004 "Please update mbed webpage for nucleo_f413zh"
### Description

https://os.mbed.com/platforms/ST-Nucleo-F413ZH/ is empty

### Issue request type

    [ ] Question
    [X] Enhancement
    [ ] Bug

[2018-12-07 11:32] kjbracey commented on #8941
This is network stack specific. All the mbed OS socket code is basically a veneer onto an underlying network stack, and whether they support loopback IP is up to them.

* lwIP appears to be configured by default to not support loopback, but it seems you could enable it by defining `LWIP_NETIF_LOOPBACK` as `1`. You shouldn't need to enable `LWIP_HAVE_LOOPIF` to make a dedicated loopback interface,

[2018-12-07 11:36] tz-arm opened #9006 "Network Socket Test Fail: TCPSOCKET_THREAD_PER_SOCKET_SAFETY FAIL"
### Description
- Type: Bug
- Related issue: none
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F + Quectel BC28 Arduino Shield

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

**mbed-cli version:*

[2018-12-07 11:38] ciarmcom commented on #9004
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-277*

[2018-12-07 11:38] ciarmcom commented on #9002
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-278*

[2018-12-07 11:38] ciarmcom commented on #9000
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-279*

[2018-12-07 11:40] mattbrown015 opened #9007 "MPU API Increases Code Size and Cannot be Completely Removed"
### Description

Memory protection is enabled by default by [MPU API #8335](https://github.com/ARMmbed/mbed-os/pull/8335).

This change increased my code size by 824 bytes.  The target is an STM32L442 and this is using the develop profile.

I tried to disable the MPU API but found it still added 406 bytes.

Here's a bit more detail...

    | Module                                                 |

[2018-12-07 11:49] tz-arm commented on #9006
The Quectel BC28 module only support 7 sockets, but the default max socket number in NSAPI is 10:
[code]
Intend to define it in mbed_app.json and try again.

[2018-12-07 12:31] screamerbg commented on #8929
@c1728p9 Will provide you with test results during the next few hours for these 2 boards.

[2018-12-07 14:00] Patater commented on #8927
We can probably turn the MPU back on on this target, if the ECC issue is the only issue.

We have root caused the ECC issue and have a fix available at https://github.com/ARMmbed/mbed-os/pull/9005

[2018-12-07 14:40] einglis opened #9011 "LoRaWAN: _can_cancel_tx not reset"
### Description
I'll confess, I don't have a thorough explanation of how I arrived at my discovery, suffice to say the result is pretty clear cut.

In general terms, I'm testing what happens when I fail to get message confirmations, cancel messages while they are still retrying, and occasionally disconnecting and reconnecting.

What I was observing is that after a rejoin, I was unable to cancel me

[2018-12-07 14:44] AGlass0fMilk commented on #7674
@c1728p9 What kind of setup is required to run the USB device tests on Ubuntu? Are there any drivers needed? None of the basic USB device tests passed.

[2018-12-07 14:55] mattbrown015 opened #9012 "Build No Longer Fails if 'target.restrict_size' Exceeded"
### Description

It appears [Add support for nrf52_dk bootloader #8097](https://github.com/ARMmbed/mbed-os/pull/8097) has broken things for us! :-(

We have `"target.restrict_size": "0x35800"` set in our mbed_app.json and previously our build would fail if we exceeded the size.  For example:

    Using ROM regions application, post_application in this build.
      Region application: size 0x35800,

[2018-12-07 15:01] adbridge commented on #8927
@c1728p9 See Jaeden's comment

[2018-12-07 15:11] kjbracey commented on #9007
It would seem reasonable to give mbed_mpu_mgmt.h dummy empty macros if `DEVICE_MPU` is off.

As to whether we want to be encouraging that sort of thing, I don't know...

I personally would be inclined to turn those `MBED_ERROR`s into `MBED_ASSERT`s so you can at least get those checks out of a release build, even with MPU on. Seems like the sort of thing that's only going to arise from a coding er

[2018-12-07 15:37] c1728p9 commented on #7674
Hi @AGlass0fMilk if you are getting a permission error you may need to add the account running the test to the `plugdev` and `dialout` groups, or alternatively run the command with `sudo`. Aside from that there shouldn't be any special setup required on Ubuntu. Just connect both USB ports and run the mbed test. As a stable reference you could try running the tests on any of the other supported tar

[2018-12-07 15:43] einglis commented on #9011
Update:
My current working hypothesis is that after one or more failed joins (then a successful join) messages cannot be cancelled until at least one has _completed_ (ie succeed or exhausted retries).
Which is still pretty woolly, so I'll continue...

[2018-12-07 15:52] bridadan commented on #8938
Ok, if it reappears do let us know! Thanks!

[2018-12-07 16:06] TacoGrandeTX opened #9014 "ATHandler.cpp - Bad logical comparison"
### Description

On a recent build off master I noticed this warning:

[code]
It sure looks like we intended this instead:

[code]

Not familiar with cellular, so will let someone else PR this if required.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2018-12-07 16:14] ciarmcom commented on #9012
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-280*

[2018-12-07 16:14] ciarmcom commented on #9011
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-281*

[2018-12-07 16:14] ciarmcom commented on #9007
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-282*

[2018-12-07 16:14] ciarmcom commented on #9006
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-283*

[2018-12-07 17:14] theotherjimmy commented on #7155
I don't see what's so confusing. This is in 5.10.3. This is not in the online compiler.

[2018-12-07 17:18] adbridge commented on #9000
@desmond-blue Thanks for the issue, for future reference please do not remove the Descriptions and Issue request type headers from the template and also please put a x in the correct issue type. I have corrected this for you on this occasion.

[2018-12-07 17:28] 1155105943 opened #9015 "[OoB_5.11.0-RC2]: Debugging with exporting eclipse_gcc_arm failed"
### Description
Steps to reproduce:
1. mbed export -i eclipse_gcc_arm -m K64F --profile debug
2. Import project from eclipse
3. Build the project
4. Error messages occurred
[code]

Environment:
Windows 10
Eclipse IDE

### Pull request type
[code]

[2018-12-07 17:56] 0Grit opened #9016 "SAMD21J18A Target Support"
### Description
I have a product running bare metal on SAMD21J18A.
Software maintenance is a nightmare and costing customer money.

I would like to propose to my customer that we port their application over to MbedOS.

I may or may not port the target to Mbed OS myself, but wanted to start by at least posting an issue.

### Issue request type

    [ ] Question
    [x ] Enhancement
    [ ] Bug

[2018-12-07 18:03] 1155105943 opened #9017 "[OoB_5.11.0-RC2]: Debugging with exporting vscode_gcc_arm failed"
### Description
Steps to reproduce:
1. mbed export -i vscode_gcc_arm -m K64F --profile debug
2. Open folder from Visual Studio Code
3. Debug -> Start debugging
4. Error message occurred
[code]

5. If I modify the  "preLaunchTask": "make.exe" as  "preLaunchTask": "" , the following error message will occur
[code]

6. If I first compile the project by CLI and change the path of mbed-os-example-blink

[2018-12-07 18:31] pauluap commented on #8999
Thank you for the confirmation.

[2018-12-07 18:31] #8999 closed, assigned to nobody

[2018-12-07 19:04] cmonr commented on #8927
@adbridge @Patater It'll probably remain off for the rest of OOB since that can be brought in during a patch release.

@c1728p9 to confirm.

[2018-12-07 19:33] TomoYamanaka commented on #7155
@theotherjimmy

Could you tell me why this is not in the online compiler?
I think this should also be in online compiler because it affects project files generated from online.

[2018-12-07 19:53] cmonr commented on #9012
@JammuKekkonen @naveenkaje What was the reason that the check was removed?
I didn't find anything in the PR's comments.

[2018-12-07 20:40] cmonr commented on #9017
@janjongboom

[2018-12-07 20:41] cmonr commented on #9016
@janjongboom Fyi.

@loverdeg-ep I'm not sure I follow. Is this a request for ARM to port the SAMD21 MCU to Mbed OS?

[2018-12-07 20:45] cmonr commented on #9014
Nice catch! I've created a quick PR for the fix. This _definitely_ feels wrong, so let's see what the wan team has to say.

[2018-12-07 21:08] ciarmcom commented on #9017
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-284*

[2018-12-07 21:08] ciarmcom commented on #9016
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-285*

[2018-12-07 21:08] ciarmcom commented on #9015
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-286*

[2018-12-07 21:08] ciarmcom commented on #9014
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-287*

[2018-12-07 22:24] naveenkaje commented on #9012
I suspect that got removed because we refactored how the padding is done now where we iterate through the segments and pad the gaps. I sumbitted https://github.com/ARMmbed/mbed-os/pull/9021 to address the issue that @mattbrown015 is seeing.

[2018-12-07 23:27] edablan opened #9022 "UARTSerial CircularBuffer size function"
### Description
Needing to know if a certain number of bytes have been received before I read from the CircularBuffer (_rxbuf) inside UARTSerial class. CircularBuffer is protected and there are no helper functions to read number of elements. FileHandle class size function which is inherited in UARTSerial, according to the documentation and current code implementation, does not support seek (wisely

[2018-12-08 02:24] c1728p9 commented on #8929
I was finally able to identify the cause of the `UBLOX_C030_U201` MPU fault and it is the same issue that has been identified and fixed in #8946. This fix went into RC2 so this bug only effects RC1. Enabling the MPU is what caused this to manifest in RC1 though so with either #8946 or #8994 there is no MPU fault.

Since the root cause has been fixed I updated #9020 to enable the MPU on the `UBLOX_

[2018-12-08 02:24] ciarmcom commented on #9022
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-288*

[2018-12-08 03:49] maclobdell commented on #8928
I have tested with Mbed OS 5.11-RC2  (without the patch from PR 8924, which turns out is not necessary).  I get the same results.  The following tests fail.

@juhoeskeli  @AriParkkila Can you help?

[code]
[code]

[2018-12-08 08:04] screamerbg commented on #8929
@c1728p9 this is great! Thanks for your and @juhoeskeli's work on this. Do we have a test case / test to validate this across other partner implementations? It seems that the behaviour wasn't documented or at least wasn't tested against.

[2018-12-08 13:38] janjongboom commented on #9016
@loverdeg-ep I'm working on the SAML21J18B target (https://github.com/ARMmbed/mbed-os/pull/8658), I assume it'd be relatively similar to getting the SAMD21 working. But no plans on my side to also include the SAMD21.

[2018-12-09 04:29] AGlass0fMilk commented on #7674
My user is in both `dialout` and `plugdev` groups. No permissions issues I can see.

Unfortunately the STM32-based target I have on hand right now is the DISCO-F407VG, which I flashed with JLINK software (converts STLINK to JLINK, super great). It isn't an "officially" supported mbed board either, but the target is there. This means it does not have a target id on-board and mbedls doesn't find it.

[2018-12-09 04:53] AGlass0fMilk commented on #7674
I tried the nRF52840 tests again with the `-vv` flag. It appears the host test is running but it fails to find the device by serial number. See output in this gist:

https://gist.github.com/AGlass0fMilk/c382d00ba81f3a539ec41683d6bfb7a2

[2018-12-09 08:49] orenc17 commented on #8710
I'm sorry but #9009 does not really fixes the issue as now lines 103 & 105 define the same constant with different values

[Warning] psoc6_utils.c@105,0: "DEFAULT_DIVIDER8_RES" redefined

[2018-12-09 09:28] ghost commented on #7674
adding a board to mbed-ls isn't that hard. Initially, I just edited my local copy of `platform_database.py`.  `mbed-ls` will show the detected id, even if it won't use it properly for the `mbed` command.

[2018-12-09 23:06] unsignedint opened #9024 "Broken i.MX RT1050-EVK target on 5.11 after MPU API merge?"
### Description

The RT1050 EVK target seems to be no longer working on the 5.11 branch. At this point, I don't really know if its _everything_ or just specific features, but for sure a blinking LED and USB serial output doesn't work.. I'm guessing the application doesn't start up properly?

On master the last point it seems to work is `e62abd8a`. That would imply it is PR #8871 (MPU API) that has

[2018-12-10 02:24] ciarmcom commented on #9024
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-289*

[2018-12-10 04:03] AdamZhang0124 commented on #8124
Hi @samchuarm , I have fixed all the test case failures and start final checking the codes before submitting PR.
Btw, I have seen the new test case extension #9001 , should I test them also before I submit a PR?
Thanks.
[10122018FullRun.txt](https://github.com/ARMmbed/mbed-os/files/2661496/10122018FullRun.txt)

[2018-12-10 06:36] toyowata opened #9026 "[Wio 3G] PB_7 (RXD) cannot be used for Serial"
### Description

The code blow crashed at runtime on Seeed Wio 3G target.

[code]

The crash log:
[code]

The TXD and RXD are defined here:
https://github.com/ARMmbed/mbed-os/blob/d9625811c9193ac3ab36a969bab93e28dac03776/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_WIO_3G/PinNames.h#L177-L178

And there is a PB_6 in PinMap_UART_TX structure, but a PB_7 in PinMap_UART_RX is commented

[2018-12-10 07:27] tz-arm commented on #9006
Added "nsapi.socket-stats-max-count": 7 in mbed_app.json, this test case passed.
Propose to add protection code to avoid the mismatch between net socket and stack.

[2018-12-10 07:43] offirko commented on #8870
@screamerbg - I've received the DISCO_F769NI you sent. After making a small update to target hal and QSPIF BD fix the device works well. I'm not sure whether I can use this PR to deliver the changes.. or should I open a new PR?

[2018-12-10 07:49] screamerbg commented on #8870
@offirko Thanks for your work to enable this board. I think that it would be great if its part of this PR if @jeromecoutant doesn't object.

[2018-12-10 07:53] offirko commented on #8870
Note that after my changes QSPIFBlockDevice tests pass successfully, but 'tests-mbed_hal-qspi' still Fail.
This is something that I can not fix - I think it will require @jeromecoutant or @maciejbocianski to add specific setup for this board to the test.

[2018-12-10 07:59] tz-arm opened #9027 "Network Socket Test Fail: TCPSOCKET_THREAD_PER_SOCKET_SAFETY Fail"
### Description
- Type: Bug
- Related issue: none
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F + Quectel BC28 Arduino Shield

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

**mbed-cli version:*

[2018-12-10 08:01] tz-arm commented on #9027
@mhiljane, could you help to share if Quectel BC95 in cellular stack are thread safe? thanks!

[2018-12-10 08:10] mhiljane commented on #9027
Terence, please consult Ari Parkkila and Mirela Chirica. Did the cellular example pass but now one of the socket test are failing?

[2018-12-10 08:29] tz-arm commented on #9006
sorry to confuse, I meant the error reported can pass with the change:
[code]

[2018-12-10 09:01] ArjanSmit commented on #8664
Any news on the status of this issue?

[2018-12-10 09:24] jeromecoutant commented on #8870
There is no PR yet...
You can share a commit with your change, and I will open a PR
Thx @offirko

[2018-12-10 10:40] kjbracey commented on #9022
If you can possibly avoid extending the API, it helps your code remain generic.

In general file handles may not support any notification system to tell you when the data crosses whatever threshold you have, and it may not be possible for them to buffer enough to hold all that data simultaneously.

This feels a bit like "I'm going to extend the API of this particular driver because it's easier tha

[2018-12-10 11:07] einglis commented on #9011
A new week and a fresh pair of eyes...

I've done a more thorough, side-by-side comparison of my test cases, and I think I'm just a victim of timing.    A join failure shifts the duty-cycle hold-offs just long enough to break my next send attempt, and it's nothing to do with the stack, per-se.

I'll leave the bug open for now in case anyone thinks the `_can_cancel_tx` should be reset _anyway_, but

[2018-12-10 11:41] ciarmcom commented on #9027
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-290*

[2018-12-10 11:41] ciarmcom commented on #9026
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-291*

[2018-12-10 12:07] 0xc0170 commented on #9024
@c1728p9 please review

cc @ARMmbed/team-nxp

[2018-12-10 12:58] Ritesh236 opened #9031 "ARM Cortex-M4 (Nuvoton NUC472) not booting with External RAM on EBI Interface"
ARM Cortex-M4 (Nuvoton NUC472) not booting with External RAM on EBI Interface

Hi,

We are working on ARM Cortex-M4 (Nuvoton NUC472) based SoC as per our requirement.We are facing one critical issue like board is not booting when we enabled and used extrenal RAM on EBI.

We have ported following BSP package with below toolchain for NUC472.

    BSP version : 3.03.000 (Downloaded from https://githu

[2018-12-10 13:00] Ritesh236 opened #9032 "ARM Toolchain/Linker support for External RAM on EBI Interface"
Hi,

We are working on ARM Cortex-M4 (Nuvoton NUC472) based SoC as per our requirement and we need support to set specific object (.o) or specific
library file (.a) into specific section into External RAM on EBI Interface.

So, Would you please provide example with linker script to do it with External RAM?

Let me know if you need any information or details regarding query.

[2018-12-10 13:21] AGlass0fMilk commented on #7674
I have an STM32F401 Nucleo board that is supported by mbed, I don't have it on hand at the moment though. I'll hopefully be able to test with that later.

I think I sorted out the permissions issues by adding a udev rule (in `/etc/udev/rules.d/99-mbed-test-usb.rule`) as below:
`SUBSYSTEM=="usb", GROUP="dialout", MODE="0660"`
It could be more specific but this worked for me, please note that it aff

[2018-12-10 14:12] MarceloSalazar commented on #8741
@markus-becker-tridonic-com can you review and comment on the status of this ticket?

[2018-12-10 14:28] 0xc0170 commented on #9031
Hi, your two issues were also reported to https://github.com/OpenNuvoton/NUC472_442BSP. I believe they are not related to Mbed OS, these shall be closed here as duplicated.

[2018-12-10 15:32] theotherjimmy commented on #7155
Because that requires a tools-release that has not been made. I'll be making a tools release for 5.11.0, and updating the online compiler to use that in the future.

[2018-12-10 15:35] theotherjimmy commented on #9012
@cmonr It got removed because that's no longer how we size regions. We size regions based only on the segments within the intelhex file that are port of ROM.

[2018-12-10 15:36] theotherjimmy commented on #9012
@mattbrown015 It sounds like you're using a target that incorrectly reports that it supports bootloader mode. Check that your linker script takes the defines `MBED_APP_START` and `MBED_APP_SIZE` into account.

[2018-12-10 16:16] ciarmcom commented on #9032
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-294*

[2018-12-10 16:16] ciarmcom commented on #9031
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-295*

[2018-12-10 16:41] cmonr commented on #9014
Closed #9018, since this was apparently intended.

Another way of fixing this behavior would be this comment: https://github.com/ARMmbed/mbed-os/pull/8350#discussion_r231109684

@ARMmbed/mbed-os-wan I have to ask. Why is an assignment _inside_ of the conditional statement needed? This feels very wrong from a code quality standpoint.

[2018-12-10 17:19] edablan commented on #9022
@kjbracey-arm
Yes I understand the reasoning. I guess I just figured the UARTSerial class was more of a "BufferedSerial." It's not reading from a stream, but from a CircularBuffer. I guess I can just create my own class and inherit from UARTSerial to do this.

[2018-12-10 20:20] mattbrown015 commented on #9012
Hi @theotherjimmy,

Our target is a STM32L4.  We've created a custom target based on `NUCLEO_L432KC` which supports a bootloader.  We're not using a bootloader and haven't changed much in our target.

I can see the standard STM32 provided linker script references `MBED_APP_START` and `MBED_APP_SIZE`.

Are you saying that I should be defining `MBED_APP_SIZE` in `mbed_app.json`?

I'm off work for a

[2018-12-10 22:00] 0Grit commented on #9016
@cmonr Sorry, my shorthand made that confusing.

I meant I would like to propose to the customer that I port their application from baremetal to Mbed OS.

Mbed OS support for SAMD21J18A would need to happen for me to make this proposal.

Request is not for anybody in particular to do so. Though I was hoping @janjongboom might already have plans for it.

I might do it myself if I can find the oppor

[2018-12-10 22:10] screamerbg opened #9038 "Feature: ADC_TEMP & ADC_VREF definitions for U-blox ODIN W2"
### Description

It would be great if ADC_TEMP and ADC_VREF can be defined for U-blox ODIN W2, similar to other ST based targets - https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_NUCLEO_F439ZI/PinNames.h#L216

I'd like to use this as part of my device health IoT project.

CC @ARMmbed/team-ublox @andreaslarssonublox

### Issue request type

[2018-12-10 22:12] screamerbg opened #9039 "Feature: ADC_TEMP and ADC_VREF for U-blox C030 U201 and other C030 based boards"
### Description

It would be great if ADC_TEMP and ADC_VREF can be defined for U-blox C030 U201 (and all other C030 boards), similar to other ST based targets - https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_NUCLEO_F439ZI/PinNames.h#L216

I'd like to use this as part of my device health IoT project.

CC @ARMmbed/team-ublox @RobMeades

###

[2018-12-11 00:33] screamerbg opened #9041 "U-Blox C030 targets are missing BUTTON1"
### Description

According to the board page (https://os.mbed.com/platforms/ublox-C030-U201/), there is user button available on the C030 U201 (and other variants), but the pin is not defined as "BUTTON1", "SW1" and "USER_BUTTON". Here's an example how it's defined for ODIN W2 - https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_MODULE_UBLOX_

[2018-12-11 00:36] screamerbg commented on #9041
Also, it might be good to define LED color aliases given that there is color LED onboard. Example: https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_MODULE_UBLOX_ODIN_W2/TARGET_MTB_UBLOX_ODIN_W2/PinNames.h#L151

[2018-12-11 01:09] #9007 closed, assigned to nobody

[2018-12-11 01:58] tz-arm commented on #9027
@mhiljane sorry that I did not have chance to run network socket greetea test before.
@AriParkkila @mirelachirica, could you share if any comments about if thread safe in cellular stack, maybe particular for BC95? thanks!

[2018-12-11 02:05] TomoYamanaka commented on #7155
@theotherjimmy

Thank you for your reply.

I understood that PR #8303 will be incorporated into next tools-release (the timing is in synchronization with mbed os 5.11.0).
I will confirm this issue again after next tools-release was published.

May I ask you something? Is the next tools-release that you mentioned different from [tools-release-5.11.0-rc1](https://github.com/ARMmbed/mbed-os/releases/

[2018-12-11 02:14] c1728p9 commented on #8927
Sounds good to me.

[2018-12-11 02:24] ciarmcom commented on #9041
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-296*

[2018-12-11 02:24] ciarmcom commented on #9039
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-297*

[2018-12-11 02:24] ciarmcom commented on #9038
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-298*

[2018-12-11 02:33] cmonr commented on #9031
Closing as this repository is for the Mbed OS project, but it's obvious that Mbed OS is not being used. Either contact OpenNuvoton or the Nuvoton support team.

[2018-12-11 02:33] #9031 closed, assigned to nobody

[2018-12-11 02:45] AGlass0fMilk commented on #7674
So the device is failing to reconfigure. I have narrowed it down to a call into the Nordic driver that returns `NRF_ERROR_BUSY`. You can see the device reports the failed setting of the configuration in the screenshot below:
![screenshot from 2018-12-10 21-19-59](https://user-images.githubusercontent.com/350500/49774057-782e7b80-fcc1-11e8-8214-a31e8c28a3c7.png)

It seems to caused by [`USBTester::

[2018-12-11 03:23] cmonr commented on #8664
Sorry, no progress yet. The issue is still needing to be triaged.

[2018-12-11 03:51] cmonr commented on #8950
Opened https://github.com/ARMmbed/mbed-os/pull/9043 since according to Travis CI support, the issue should be resolved.

[2018-12-11 04:54] janjongboom commented on #9016
@loverdeg-ep, great! I've already added some patches to add EDBG to mbed-ls so greentea tests can run, happy to share other porting details with you.

[2018-12-11 05:45] deece commented on #8913
I've created a couple of custom platforms for myself. Since I also need custom linker scripts to deal with the bootloader, I patched targets.json in-tree & will maintain my own patches. I'll close this for now, and any further discussion can occur on the PR.

[2018-12-11 05:45] #8913 closed, assigned to nobody

[2018-12-11 07:44] marcemmers commented on #9014
I am not from mbed-os-wan so i can't say exactly but is suppose it was just the simplest way to not have the same code twice. However, rewriting the function seems to be a bit easier to read to me. Also moved the strlen() to the beginning so it only has to be calculated once. This is not tested but should have the same functionality.

[code]

[2018-12-11 07:52] samchuarm commented on #8124
Hi @AdamZhang0124 , that's great to know. Thanks for the work. Please submit PR to check in the fixes that you have now as soon as you could. Please associate the PR with this ticket.
In case of failing the newly added tests, you can address it in a separate PR.

[2018-12-11 08:25] tz-arm opened #9046 "Network Socket Test Fail: UDPSOCKET_ECHOTEST_NONBLOCK FAIL"
### Description

- Type: Bug
- Related issue: none
- Priority: Major
---------------------------------------------------------------
## Bug

**Reproduce Target**
K64F + Quectel BC28 Arduino Shield

**Impact Target**
Might impact Quectel BC95/95G/28 Modules

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (

[2018-12-11 08:42] #8865 closed, assigned to davidsaada

[2018-12-11 08:48] mirelachirica commented on #9014
Indeed, reason was what @marcemmers has supposed, to not duplicate the code needed in both matching cases `c == tag[match_pos]` and` c == tag[0]`.
Above proposal looks good and can be taken in use if
`else if (c == tag[match_pos] || c == tag[match_pos = 0])` is not acceptable.

[2018-12-11 08:53] 0xc0170 commented on #9031
This was already opened on OpenNuvoton repositories, should be redirected there

[2018-12-11 08:54] 0xc0170 commented on #9032
Same as your previous issue, this was already opened in OpenNuvoton repository, and considered being duplicate and not related to Mbed OS.

We will close this.

[2018-12-11 08:54] #9032 closed, assigned to nobody

[2018-12-11 09:13] 0xc0170 commented on #9014
@TacoGrandeTX Thanks for spotting this !

@mirelachirica please send a fix

[2018-12-11 09:16] maxgerhardt commented on #8963
@0xc0170 sure you linked the right team? It gives a 404 for me and there hasn't been a review for a week..

[2018-12-11 09:24] 0xc0170 commented on #8963
Yes, not certain why it gives 404 but it is (checked just now).

[2018-12-11 10:11] adustm commented on #8963
Hi,
No 404 on my side neither, thanks for the reminder.

As you've seen SRAM1 and SRAM2 are not contiguous on this particular device
Mbed code was created for contiguous heap and stack sections.
ST team has modified it so that is can support noncontiguous heap and stack sections and free space for the heap memory on SRAM1.

We’ve never thought about splitting heap over several noncontiguous memory

[2018-12-11 10:15] toyowata opened #9048 "Seeed Arch MAX flash size is incorrectly defined"
### Description

The Arch MAX platform uses F407VG MCU as [base](https://github.com/ARMmbed/mbed-os/blob/c1806765dd84391c3900b2544bdcd42a019dcabb/targets/targets.json#L3268) setting, but has a F407VE as in the board [documents](https://os.mbed.com/platforms/Seeed-Arch-Max/#features). The difference is the flash size, program size >512MB will not run but create no linker error.

There should be `TA

[2018-12-11 11:30] #8950 closed, assigned to cmonr

[2018-12-11 11:41] ciarmcom commented on #9048
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-299*

[2018-12-11 11:41] ciarmcom commented on #9046
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-300*

[2018-12-11 12:37] maxgerhardt commented on #8963
OK, thanks for the answer. If I have free time I might invest some time in implementing this for mbed-os. I mean, FreeRTOS has had split heap support with `heap5.c` for [4 years already](https://github.com/jameswalmsley/FreeRTOS/blob/master/FreeRTOS/Source/portable/MemMang/heap_5.c), so it should be possible.

BTW regarding the 404. You won't get a 404 since you are part of this team. Every outsid

[2018-12-11 13:08] 0xc0170 commented on #8963
Yes, the team members are not visible publicly.

Regarding referenced heap5, it's own allocator , isn't it? We use the default that toolchain provide. We will need to check how this can be handled (span heap over non adjecent memory regions) for various toolchains.

cc @ARMmbed/mbed-os-core

[2018-12-11 14:13] 0xc0170 commented on #8927
@ashok-rao What is remaining here (for this issue to be closed) ?

[2018-12-11 14:33] maciejbocianski commented on #8870
This target is not supported in mbed_hal-qspi test yet, I will add next week at the latest

[2018-12-11 14:37] offirko commented on #8870
Added PR #9057 which enables QSPIFBlockDevice to work properly with this board (once hal qspi test are supported)
https://github.com/ARMmbed/mbed-os/pull/9057

[2018-12-11 14:49] 0Grit commented on #9016
If I start this effort I will obviously need to run tests locally to start.
In order to get the board into automated testing on your end, will the [SAM D21 Xplained Pro](https://www.microchip.com/Developmenttools/ProductDetails/ATSAMD21-XPRO#additional-summary) board (ATSAMD21-XPRO) be a sufficient board target?

[2018-12-11 15:33] theotherjimmy commented on #7155
Yes. tools-release-5.11.0-rc1 is based on mbed-os-5.11.0-rc1, and the next tools release will be based on mbed-os-5.11.0.

[2018-12-11 15:36] theotherjimmy commented on #9012
No. You are using "managed bootloader mode" so you will already see `MBED_APP_SIZE` passed to your linker script. You should use them in your linker script to restrict the size of your application so that you get a linker failure when your bootloader does not fit.

[2018-12-11 16:26] ashok-rao commented on #8927
@0xc0170 .. This -> https://github.com/ARMmbed/mbed-os/pull/9020

[2018-12-11 16:33] deepikabhavnani commented on #8963
Yes heap5 is FreeRTOS own allocator, and it gives mechanism to select different types of allocators.
Currently we do not support external allocators, and heap span over adjacent memory regions is not supported either.

Moving objects to other RAM partitions is the right approach. ISR Stack size in Mbed OS 5 is  1K and is at the end. In case of GCC_ARM heap memory should be 4K aligned, hence you wi

[2018-12-11 17:02] #8963 closed, assigned to nobody

[2018-12-11 18:03] LaurentLouf opened #9062 "LittleFS poor write performance"
### Description

- Target : STM32F103RCT6
- Toolchain : GNU ARM 7-2017-q4-major
- Tools : mbed-cli 1.7.3
- Mbed OS : e1bea44212 (HEAD -> mbed-os-5.10, tag: mbed-os-5.10.2, tag: latest)

I encounter a problem, which I think is mostly a configuration problem with LittleFS. In my application, I store some small files on a NOR Flash and I realized today that those write are quite slow. It's two files,

[2018-12-11 18:18] c1728p9 commented on #8929
Hi @screamerbg, I did a bit of digging to figure out why this wasn't caught in CI. There are two problems lettings this get past CI:
1. The target `UBLOX_C030_U201` is not tested as part of mbed-os CI
2. The mbedtls tests that would have run if part of CI, `tests-mbedtls-multi` and `tests-mbedtls-selftest` do not catch this problem.

This target specific code is not part of the mbed-os HAL or cove

[2018-12-11 19:08] cmonr commented on #8927
Closing since #9020 is now merged.

[2018-12-11 21:10] ciarmcom commented on #9062
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-301*

[2018-12-11 22:28] martinjaeger opened #9065 "time(NULL) very inaccurate with LSI on STM32L0"
### Description

In my application (custom board with STM32L073) I need a clock to calculate energy consumption with an error of less than 1%. No real RTC is needed, so I did not add the LSE crystal.

I realized that in that configuration, the standard `time(NULL)` call is very inaccurate, whereas the time based on the us_ticker is much better.

- Target: STM32L0 (probably valid also for other STM

[2018-12-12 02:24] ciarmcom commented on #9065
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-302*

[2018-12-12 05:05] fahimalavi commented on #9041
U-BLOX Internal ticket reference : PGM_NO_MBD-167

[2018-12-12 05:07] fahimalavi commented on #9039
U-BLOX Internal ticket ID : PGM_NO_MBD-166

[2018-12-12 06:11] ccli8 opened #9069 "M487: Crash report test failed in IAR"
### Description

**Target**:
NUMAKER_PFM_M487

**Toolchain**:
IAR

**mbed-os**:
0a832dd6e0 (HEAD -> master, origin/master, origin/HEAD) Merge pull request #9051 from michalpasztamobica/esp8266_busy_signal

The test item `mbed-os-tests-mbed_platform-crash_reporting` / `mbed-os-tests-mbed_platform-crash_reporting` is passed in **ARM**/**ARMC6**/**GCC_ARM**, but failed in **IAR**. Per my checking, th

[2018-12-12 06:25] ciarmcom commented on #9069
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-303*

[2018-12-12 06:49] AdamZhang0124 commented on #8124
Hi @samchuarm and @SeppoTakalo ,

I have included the newly added test cases and the test is able to pass.

Also, I have submitted the pull request #9084  , please help review.

Btw, in the tcp test case under 'mbed-os\TESTS\netsocket\tcp', there is a missing comma in line 166 in main.cpp file which causes compile error.

[TestResult_NetSocket_ARM.txt](https://github.com/ARMmbed/mbed-os/files/2670

[2018-12-12 08:04] kjbracey commented on #9065
`ticker_read_us` will give you a 64-bit number to avoid wrap. It's preferable to use the C++ wrapper `Timer`, and that gives you the 64-bit form as `Timer::read_high_resolution_us`.

`time` can be redirected to any source of your choice by the application using `attach_rtc` from mbed_rtc_time.h

Also, if you were to disable `DEVICE_RTC` by removing it from the target, that would make the RTC code

[2018-12-12 08:05] kjbracey commented on #9065
So cross check results using lp_ticker (or `LowPowerTimer`). That will be running from LSI, but should be correctly calibrated for 37kHz.

[2018-12-12 08:08] jeromecoutant commented on #9065
Yes, confirmed by the Data Sheet: https://www.st.com/resource/en/datasheet/stm32l073rz.pdf

Symbol Parameter Min Typ Max Unit
fLSI LSI frequency 26 38 56 kHz ==> frequency is between 26 and 56 kHz

Solution could be to calibrate this LSI during boot or production?
See Ref Manual: https://www.st.com/resource/en/reference_manual/dm00095744.pdf
7.2.15 Internal/external clock measurement using TIM21

[2018-12-12 08:08] kjbracey commented on #9065
@ARMmbed/team-st-mcd  By inspection and above report, I think the STM HAL doesn't adjust the RTC's prescalers if using LSI instead of LSE.   Although that error (32.768/37 = 0.89) would be bigger than reported above.

[2018-12-12 08:10] kjbracey commented on #9065
Woah, that's very approximate. Seems like that should be a runtime configurable value with a JSON default. Currently `lp_ticker` uses `LSI_VALUE` which is defined as `37000` - presumably could be overridden with `-D`. But the RTC appears to not take any different action for LSE and LSI, leaving the /32768 default, I think.

[2018-12-12 08:14] jeromecoutant commented on #9065
No we couldn't use some json or -D option, as each chip is different.
I see 2 solutions:
- use a external clock (LSE)
- calibrate LSI during boot

[2018-12-12 08:19] samchuarm commented on #8124
Hi @AdamZhang0124 , thanks for the new test results update and PR.

Hi @SeppoTakalo , please help review the test results and PR changes. Thanks.

[2018-12-12 08:22] kjbracey commented on #9065
I was suggesting you do need runtime stuff as well as a configurable default, but maybe the configurable default is a bit pointless, for anything other than dev use.

As you can auto-calibrate against the HSI,you really should do that. The lpticker is the basis for the entire RTOS if MBED_TICKLESS is on, and if boards are being out by 10% in practice and 100% in theory due to LSI, that's not reall

[2018-12-12 08:49] #8520 closed, assigned to nobody

[2018-12-12 08:58] martinjaeger commented on #9065
If the LSI is calibrated only once during startup, do you expect another drift over a longer period of time or with temperature? Or is it just not easy to produce the internal RC circuit with tight tolerances, but once you calibrated it you are fine?

If we expect another drift, we would probably need to re-calibrate it every now and then. Our devices should ideally run several years without any r

[2018-12-12 09:04] kjbracey commented on #9065
All crystals drift somewhat with temperature and time - that's a universal problem that needs to be addressed via NTP or other time services.

So I'd refine that question to - is the temperature/time drift comparable to normal crystals (and the others on this board like HSI) after per-device calibration, ie in the few hundred ppm range?

[2018-12-12 09:05] martinjaeger commented on #9065
Just checked the datasheet. It states -10% to 4% drift over a temperature range of 0 to 85°C, which is quite a lot compared to any crystal, I would say.

[2018-12-12 09:07] kjbracey commented on #9065
Eep.

On a general note - if you're trying to be cheap on the devices, then can you strive to push the timing checks to the server end? If the server can see that the device's reporting period is 5% lower than nominal, then it could compensate accordingly, without the device taking action?

[2018-12-12 09:10] kjbracey commented on #9065
My general feeling reading all this is that the STM "use LSI instead of LSE for timers" option is a big scary thing that probably shouldn't have been offered. Just tempting people into a world of software pain...

We use crystals for a reason.

It's certainly theoretically viable, but the software support for dealing with such sloppy clocks just isn't in place at present.

[2018-12-12 09:12] jeromecoutant commented on #8870
Hi
Status of
https://github.com/jeromecoutant/mbed/commits/DEV_QSPI_TEST
+ #9057:

| target           | platform_name | test suite                                                              | result | elapsed_time (sec) | copy_method |
|------------------|---------------|-------------------------------------------------------------------------|--------|--------------------|-------------|
| DISCO

[2018-12-12 09:19] martinjaeger commented on #9065
I agree. The LSI seems to be more or less useless.

Compensation on the server end is quite tricky because of two reasons:
- Messages might reach the server with a delay because they are queued in a hub which pushes to the server once it gets internet connection.
- Energy calculation has to be done on the device, doing continuous integration of measured power values. We can't transmit the whole ti

[2018-12-12 09:27] #8927 closed, assigned to nobody

[2018-12-12 09:29] kjbracey commented on #9065
I would like to hope that there isn't massive clock variability during a reporting period, so just scaling the final answer by the time between reports should get you a roughly correct answer. And over the long term, any early/late errors due to queuing would cancel out...

[2018-12-12 10:13] 0xc0170 commented on #8544
As the fix was reverted (breakage caused), not sure if this was addressed by any other. @GarySwansonARM Please can you retest

[2018-12-12 10:18] SeppoTakalo commented on #9006
`nsapi.socket-stats-max-count` is only value that defines how many sockets the statistics API keeps in memory.

It is not a limit of how many simultaneous sockets the device supports.

LwIP by default supports 4, but can be configured to larger amount.
ESP8266 supports only 4.

This testcase requires only 2.

[2018-12-12 11:58] mattbrown015 commented on #9012
I've had a look at this now and got a better handle on the Mbed OS build system.  I can see you running the preprocessor to generate `.link_script.ld`.

I think probably I'm abusing the bootloader configuration slightly.  We're not using a bootloader and _managed_ or _unmanaged_ bootloader mode is irrelevant to me.  All I wanted to do was restricted the amount of flash allocated to .text/.data/.bs

[2018-12-12 12:15] tommikas opened #9071 "UBLOX_EVK_ODIN_W2 wifi connection breaks after a few minutes"
### Description

I modified mbed-cloud-client-example (2.1.0) to send notifications every second and then built the application for UBLOX_EVK_ODIN_W2. I used the onboard wifi to connect to a hotspot right next to the device.  Client connects fine and keeps sending notifications for some minutes, but typically before 10 minutes client loses connection and thereafter DNS resolution consistently fail

[2018-12-12 12:55] 0xc0170 commented on #9071
cc @ARMmbed/team-ublox

[2018-12-12 13:17] 0xc0170 commented on #8991
cc @ARMmbed/team-st-mcd Please review

[2018-12-12 13:25] jeromecoutant commented on #8991
Hi

Your test is crashing at test case 2 'WIFI-CONNECT-NOCREDENTIALS', but it is already failed at step 1 'WIFI-CONSTRUCTOR' ...

Could you precise your mbed_app json file ?

[2018-12-12 13:25] GarySwansonARM commented on #8544
I just tried this with a fresh install of mbed cli 1.8.3 and it is still not fixed.

[2018-12-12 13:46] deepikabhavnani commented on #8992
PR #8995 resolves this

[2018-12-12 13:46] #8992 closed, assigned to nobody

[2018-12-12 14:59] ConradBraam commented on #8991
Hmmm, looks like user error, my JSON file was like so:

[code]
That does not parse like you might expect it to, because the * gets to overwrite the discovery and sets the setting to default ETHERNET. I should have copy-pasted the JSON instead of writing from memory and trying to add multiple targets.
When I moved the "*" wildcard up above the target, and then re-checked yesterday afternoon, and ve

[2018-12-12 15:33] theotherjimmy commented on #9012
Good question; I don't know. I expect the link to fail with that linker script.

If you provide me with a bit more specifics on the target (like which linker script in mbed-os is used) I might be able to help more.

Stuff that's not directly related to your question below the line.

---------------------

Nope. You're using the "I'm building a bootloader" use case of managed bootloader mode. The o

[2018-12-12 15:47] mattbrown015 commented on #9012
Our custom target inherits from `NUCLEO_L432KC` so the mbed-os linker script is `STM32L432XX.ld`:

    mbed-os/targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L432xC/device/TOOLCHAIN_GCC_ARM/STM32L432XX.ld

[2018-12-12 16:18] ciarmcom commented on #9071
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-306*

[2018-12-12 17:07] theotherjimmy commented on #9012
My intuition is that the `AT` here: https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L432xC/device/TOOLCHAIN_GCC_ARM/STM32L432XX.ld#L88 may be working against us here and placing the contents of `.data` sections that overflow the end of your application's region. You should be able to check this by running `arm-none-eabi-nm BUILD/<your-target>/GCC_ARM/<y

[2018-12-12 20:29] #8991 closed, assigned to nobody

[2018-12-12 21:04] cmonr opened #9075 "K82F QSPI test fails intermittently"
### Description

Observed over the past couple of days, weeks, we've noticed that every once in a while, a greentea-test will fail, with the only failure being `K82F iar_arm / K82F-IAR.tests-mbed_hal-qspi.qspi frequency setting test`.

Below is the shortlog of the error:
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2018-12-12 21:04] cmonr commented on #9075
FYI @ARMmbed/mbed-os-storage @ARMmbed/mbed-os-hal @ARMmbed/mbed-os-test-team

[2018-12-12 21:23] deepikabhavnani opened #9076 "Component_SD tests fail on master branch"
### Description

Tests under component_sd are failing build when compiled with below error:

`mbed test --compile -m K64F -t GCC_ARM -n mbed-os-components-storage-blockdevice-component_sd-test*`

Failure log
Build failures:
  * K64F::GCC_ARM::MBED-OS-COMPONENTS-STORAGE-BLOCKDEVICE-COMPONENT_SD-TESTS-FILESYSTEM-FOPEN
        [Warning] @,: Compiler version mismatch: Have 7.3.1; expected version >= 6

[2018-12-12 21:52] 0Grit opened #9077 "event queue timing resolution"
### Description

Any particular reason [equeue_mbed.cpp](https://github.com/ARMmbed/mbed-os/blob/master/events/equeue/equeue_mbed.cpp)'s timing is implemented only to a resolution of milliseconds?

Parts like RT1050 can be clocked upto 600Mhz.
Accuracy of time to actually executing the event at such resolution would obviously depend on where things are executing from (Flash/RAM/qspi/cache) and oth

[2018-12-12 21:56] deepikabhavnani opened #9078 "SD driver - Read Only"
### Description

SD-driver when used in boot loader does not need `write` and `erase` functionality. This can save some ROM memory (code space). See https://github.com/ARMmbed/mbed-os/pull/9074 for more details

### Issue request type
    [ ] Question
    [X] Enhancement
    [ ] Bug

CC @ARMmbed/mbed-os-storage

[2018-12-12 22:10] cmonr commented on #9077
Probably legacy reasons. Don't think we were use to using devices that could clock that high 😄

@geky Thoughts?

[2018-12-12 22:16] cmonr commented on #9076
Looks like they're being excluded on purpose in the CI: https://github.com/ARMmbed/mbed-os-ci/blob/master/mbed-os-jenkins/mbed-os-ci-greentea-test/Jenkinsfile.groovy#L58 (Private repo link)

Makes me wonder which came first, the broken tests, or the CI disablement.

In any case @ARMmbed/mbed-os-test-team, once these tests are fixed in `master`, is there anything else needed to enable them in CI?

[2018-12-12 22:55] #9024 closed, assigned to nobody

[2018-12-13 02:24] ciarmcom commented on #9078
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-307*

[2018-12-13 02:24] ciarmcom commented on #9077
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-308*

[2018-12-13 02:24] ciarmcom commented on #9076
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-309*

[2018-12-13 02:24] ciarmcom commented on #9075
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-310*

[2018-12-13 04:45] deece opened #9082 "Build fails CI on master (missing symbol 'main')"
### Description

Testing against master commit 1c201b4628e346c62e1fbfa7cbcf6aa4e164f0c5

The following commands which are used as part of CI fail to build (missing symbol 'main'):
[code]

and

[code]

and

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-12-13 04:53] deepikabhavnani opened #9083 "FDS module in Nordic devices"
### Description

https://github.com/ARMmbed/mbed-os/blob/f3424da060734fa9e27bf6a798747fb48ad63938/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/TARGET_MCU_NRF52832/config/sdk_config.h#L3414

Flash data storage module of Nordic devices is enabled by default and adds to the code size of ~2K.
Mbed OS has its own filesystem / block device support, which does not use this interface.
Functions in `TAR

[2018-12-13 05:05] deepikabhavnani commented on #9082
Error indicates `main` is missing.  I believe command used here was 'mbed compile -m target_name -t toolchain`

main.cpp with main() function is needed for all the applications. See `https://github.com/ARMmbed/mbed-os-example-blinky` example (and https://os.mbed.com/teams/mbed-os-examples/code/) for reference.

Also in order to compile tests provided in mbed-os repo (each tests is treated as stand

[2018-12-13 05:10] deepikabhavnani commented on #9082
Ohh I missed, you are using CI python scripts to build. `tools/make.py` is internal script not intended for user. If you want to use that follow the other tedious steps in CI as well, where main.cpp is generated from some Readme or code snippet at some place.

But those tools are not for users. `mbed compile` and `mbed test` commands should be used instead

[2018-12-13 05:14] deece commented on #9082
Ok, builds fine once there is a main.cpp, thanks.

[2018-12-13 05:14] #9082 closed, assigned to nobody

[2018-12-13 05:24] deepikabhavnani commented on #9083
Along with FDS, will like to know the dependencies of below modules.

https://github.com/ARMmbed/mbed-os/blob/f3424da060734fa9e27bf6a798747fb48ad63938/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/TARGET_MCU_NRF52832/config/sdk_config.h#L3763

https://github.com/ARMmbed/mbed-os/blob/f3424da060734fa9e27bf6a798747fb48ad63938/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/TARGET_MCU_NRF52832/confi

[2018-12-13 06:24] ciarmcom commented on #9083
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-312*

[2018-12-13 08:11] kjbracey commented on #9077
Power, portability, practical need.

High resolution clocks take more power - to achieve high precision we'd have to keep them running, and make sure the CPU was only lightly asleep to wake promptly.

The event queue primary API is designed around "typical" needs, and uses the standard RTOS timing API that in principle permits deep sleep states, that potentially take 10ms to wake - wake latency ad

[2018-12-13 09:23] yossi2le commented on #9076
This is strange. I cloned the master on my machine and run your compilation command. It compiles without any error. the only difference is that I cant run it with -n mbed-os-components-storage-blockdevice-component_sd-test* and I had to remove the mbed-os from the beginning: -n components-storage-blockdevice-component_sd-test*
Are you compiling the mbed-os as part of an application?

Build success

[2018-12-13 09:32] offirko commented on #9075
I wasn't aware that K82F was added with qspi_api.c hal.
Regardless of this issue, now that QSPI hal is supported, it is possible to turn K82F default BD to QSPIF.
After rethinking we will keep K82F default as SPIF

[2018-12-13 10:17] ccli8 opened #9088 "PDMC test failed with ESP8266"
### Description

**mbed-os**
27e1bc30d Merge pull request #9073 from vervaekejonathan/master

**simple-mbed-cloud-client**
0a3221a (HEAD -> master, origin/master, origin/HEAD) Merge pull request #60 from ARMmbed/override-callbacks

**mbed-cloud-client**
62de4b8 (HEAD, tag: 2.0.1.1, origin/master, origin/HEAD) Merge pull request #20 from ARMmbed/release-2.0.1.1

**NuMaker-mbed-SD-driver**
9557d57 (

[2018-12-13 11:26] maciejbocianski commented on #9075
It passed hal_qspi_test here #8485
I will look into it next week

[2018-12-13 11:40] ciarmcom commented on #9088
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-313*

[2018-12-13 11:45] 0xc0170 commented on #9083
@ARMmbed/mbed-os-pan Please review

[2018-12-13 12:23] 0xc0170 commented on #9069
Just  to confirm, this is the issue specific to M487 only ?

[2018-12-13 13:35] jeromecoutant commented on #8088
Hi

I fully agree with this issue description "Test was skipped but summary said PASS"
I understand that this issue is closed in the icetea context.

Do I need to open a new issue for Greentea ?

[2018-12-13 14:37] 0Grit commented on #9077
@kjbracey-arm  thanks for the insight

What is your take if I'm taking the 'Minar' approach? I believe I would prefer to run RTOS-less for any fully asynchronous scenarios anyway.
Though I suppose that route would require event priority be implemented or alternatively prioritized queues through threading. Sleep lock/tuning might then be adjusted depending on if a high priority event has been queue

[2018-12-13 15:05] kjbracey commented on #9077
Currently optimal sleeping behaviour can only be achieved via the RTOS, as the logic is embedded in its idle handler. But the logic could be extracted and used otherwise.

We are also looking at a non-RTOS build profile, and that will likely restructure to pull that out and improve non-RTOS builds.

The 5 tick round robin is just RTX default - and Mbed OS specifies ticks as milliseconds. See RTX d

[2018-12-13 15:36] #9022 closed, assigned to nobody

[2018-12-13 15:56] adbridge commented on #8929
@ashok-rao Can this one be closed ? We have #8930 for the underlying issue ?

[2018-12-13 15:58] mattbrown015 commented on #9012
I think it is something to do with the initialisation values for the .data section.  `_sidata` is the start address of the initialisation values.

Currently the app is linking because I found some savings.  To make it nearly overflow again I added a massive 'const char[]' which gets located in the middle of `FLASH` and pushes everything else up.  I've got it so adding 1 more char to the string mak

[2018-12-13 15:59] bearsh opened #9093 "nrf52: Periodic wakeups every 3ms"
### Description

While using the ble heartrate example I looked at the current consumption and it really look like tickless mode isn't active. The cpu seems to wake up every 3ms which results in a quite high current consumption.

![image](https://user-images.githubusercontent.com/1089356/49950103-71894980-fef7-11e8-918c-c9c2ab0e7c9c.png)

![image](https://user-images.githubusercontent.com/1089356/

[2018-12-13 16:04] theotherjimmy commented on #9012
Thanks so much @mattbrown015 That really helps with my understanding of the linker scripts!

[2018-12-13 16:05] theotherjimmy commented on #9012
@maclobdell Could you inform STM of this?

[2018-12-13 16:06] MarceloSalazar opened #9094 "Future Sequana PSA target doesn't pass HAL SPM test"
### Description
Future Sequana PSA target doesn't pass HAL SPM test for Mbed OS 5.11-RC3

Instructions: https://os.mbed.com/docs/development/porting/spm-port.html

### Issue request type
    [ ] Question
    [ ] Enhancement
    [X] Bug

CC @alzix
CC @adbridge to add to known issue list for 5.11

[2018-12-13 16:07] theotherjimmy commented on #9012
@mattbrown015 For the time being, you can put the mbed-os linker script location into a `.mbedignore` file and add the modified linker script into your project. That should get things working, while watching for the official solution in this issue.

[2018-12-13 16:07] #8785 closed, assigned to nobody

[2018-12-13 16:08] adbridge commented on #9006
@SeppoTakalo Could you please confirm whether this is a real issue or not and if it needs to go into known issues ?

[2018-12-13 16:09] MarceloSalazar opened #9095 "Mbed HAL Sleep tests failing on FUTURE_SEQUANA_PSA"
### Description

Mbed HAL Sleep tests failing on FUTURE_SEQUANA_PSA

Using Mbed OS 5.11-RC3

Test case: mbed-os-tests-mbed_hal-sleep

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

cc @lrusinowicz @alzix @orenc17
cc @adbridge to add to known issue list for 5.11

[2018-12-13 16:10] mattbrown015 commented on #9012
@theotherjimmy, yes now we know what's going on I'm happy and we can work with what we've got! :-)

Shall we wait for STM to have a look before I close this issue?

[2018-12-13 16:12] theotherjimmy commented on #9012
Yes, let's wait for a PR to fix this. This issue now has a workaround, but is not resolved.

[2018-12-13 16:17] ciarmcom commented on #9093
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-314*

[2018-12-13 16:19] jeromecoutant commented on #7457
Please re-open again this one...

Issue is still present:

[code]

[2018-12-13 16:19] theotherjimmy commented on #9000
@desmond-blue This is a known issue, I think. You're going to have the same problem with the `make` exporters.

[2018-12-13 16:26] samchuarm commented on #8903
@ARMmbed/team-realtek

[2018-12-13 16:51] ashok-rao commented on #8929
Sure. Thanks @adbridge .

[2018-12-13 16:51] #8929 closed, assigned to cmonr

[2018-12-13 16:52] cmonr commented on #8088
@jeromecoutant I think so. From what I gather, two more issues should be opened, one in Mbed OS, and another in Greentea, requesting the feature.

At least, that's what I gather from @OPpuolitaival comment:

[2018-12-13 16:54] aashishc1988 commented on #8088
I think this is where we are tracking this
MBEDOSTEST-200

[2018-12-13 16:57] jeromecoutant commented on #8088
Add a +1 in your internal ticket for me! :-)

[2018-12-13 21:10] ciarmcom commented on #9095
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-315*

[2018-12-13 21:10] ciarmcom commented on #9094
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-316*

[2018-12-13 21:55] #9076 closed, assigned to nobody

[2018-12-13 22:11] screamerbg commented on #9088
FYI @samchuarm

[2018-12-13 23:02] maclobdell opened #9098 "Cellular tests depend on config file defines in a template that may be unnecessary"
### Description

This relates to the cellular tests in Mbed OS 5.11.

When running the features-cellular-tests*, it is required to pass in a test config json file.  Several of the  test cases require to have a macros defined for the SIM Pin, etc.

For example:
#ifndef MBED_CONF_APP_CELLULAR_SIM_PIN
#error [NOT_SUPPORTED] SIM pin code is needed. Skipping this build.
#endif

A template json file is

[2018-12-14 01:32] ccli8 commented on #9069
@0xc0170 The issue happens on M487 and possibly on other Nuvoton targets if crash report support is added as M487. This is because the common code `__CRASH_DATA_RAM_START__`/`__CRASH_DATA_RAM_END__` cannot be simply calculated out in M487 IAR .icf file. For other non-Nuvoton targets, I cannot confirm because IAR linker may or may not arrange memory as `__CRASH_DATA_RAM_START__`/`__CRASH_DATA_RAM_E

[2018-12-14 01:36] cmonr commented on #9069
@SenRamakri Fyi ^^^

[2018-12-14 02:24] ciarmcom commented on #9098
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-317*

[2018-12-14 02:29] deece opened #9099 "Identically names structs in different files"
### Description

When experimenting with LTO, the compiler has flagged a number of situations where the same struct occurs in multiple files, with different definitions.

The naming of these structs should be scoped to avoid collisions.

This may also have undesirable effects in builds where both definitions of the conflicting types are used.

See: https://travis-ci.org/ARMmbed/mbed-os/jobs/467813

[2018-12-14 03:20] deece commented on #8695
Partially fixed by 7e7af773ea286618bdce0d55f109508f3e065493, fixed harder by #9100

[2018-12-14 06:24] ciarmcom commented on #9099
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-318*

[2018-12-14 10:39] masoudr opened #9103 "Runtime error with large arrays"
### Description
I'm using `NanoPB` in my project. It defines some large arrays (about 1024 bytes) in the code. When I increase the string sizes or define `char` arrays with a size of 1024 or larger, the code stuck on runtime or throw [this exception](https://armmbed.github.io/mbedos-error/?error=0x80FF013D). On the other hand, the compiler output log shows only about 10% usage of data and ram.
I w

[2018-12-14 10:47] kjbracey commented on #9103
The array is presumably being placed onto the stack of whichever thread the routine is running on. You will need to increase the stack size for thread(s) using that code, or consider changing the code to make the array static.

If this is just a general workspace buffer you've placed in `main`, so its lifetime is the whole program anyway, then making it static has no real drawback and will make it

[2018-12-14 10:49] kjbracey commented on #9103
The config option `rtos.main-thread-stack-size` controls the stack size for the thread that runs `main()`. It appears to be set to 1K by default for most platforms.

[2018-12-14 11:28] masoudr commented on #9103
@kjbracey-arm Thanks, I changed the main stack size and it solved the problem.
[code]

[2018-12-14 11:28] #9103 closed, assigned to nobody

[2018-12-14 12:29] geobruce opened #9106 "Wait() function causes system to hang on STM32F0(91RC)"
### Description
The “simple mbed blinky program” does not work on the NUCLEO-F091RC when using latest mbed-os-5.10.4 .
The problem occurs when using the wait function. The program compiles but when flashed the delay is not working and halts the microcontroller. This problem occurs with all possible mbed wait functions.
The problem seems similar to an earlier “bug” https://github.com/ARMmbed/mbed-o

[2018-12-14 12:43] jeromecoutant commented on #9106
Hi

quick question:

Does it mean it was working with 5.10.3 ?

[2018-12-14 12:48] geobruce commented on #9106
I don't know about that, but I know the online compiler behaves differently because it seems to use mbed2.
I noticed:
In the online compiler: the wait function works, but printf does not.
In the offline compiler mbed-cli+visual studio code: the wait function does not work, but the printf works.

[2018-12-14 12:56] screamerbg commented on #7756
@cmonr @jeromecoutant @bridadan Any update on this?

[2018-12-14 15:20] deepikabhavnani commented on #9076
Forgot to leave a note, I was in bootloader project when I saw the error and failed to realize that `rtos` was in ignore list and hence the failure.

[2018-12-14 15:38] geobruce commented on #9106
~~I tested it in platformio they use version 5.10.1 and there it still works.~~

[2018-12-14 16:02] bridadan commented on #7756
Fix up: https://github.com/ARMmbed/mbed-os/pull/9107

[2018-12-14 16:08] deepikabhavnani commented on #9099
CC @ARMmbed/mbed-os-storage

[2018-12-14 16:11] kjbracey commented on #9099
<strike>This immediately smells like false positive to me. Why is the thing complaining about these in particular? They are already file-scoped - any sort of LTO should understand that, and be able to deal with it, surely?

Does it just complain about every same-named type in different C files?

Is the fix not just to disable the warning, if it copes correctly?</strike>

[2018-12-14 16:14] #8870 closed, assigned to nobody

[2018-12-14 16:18] ciarmcom commented on #9106
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-321*

[2018-12-14 16:23] kjbracey commented on #9099
Ah, okay, this is a C++ wrinkle that had escaped me: unlike C, top-level types aren't totally hidden within a translation unit - you can't use the same name for two different types in two different translation units.

Simplest fix here seems to be to just stick an anonymous namespace `namespace { }` around the type definitions.

Does the LTO cope if without complaint if you have matching structure

[2018-12-14 16:42] deepikabhavnani commented on #9099
~~Since these structures are common for all the modules, shouldn't they be part of common header file instead of duplicating in CPP/C files.  https://github.com/ARMmbed/mbed-os/blob/0283bb84e469c75ebf8ded601312332ac099c633/docs/design-documents/features/storage/TDBStore/TDBStore_design.md#important-data-structures~~

Structures are different

[2018-12-14 16:47] kjbracey commented on #9099
Similar structures doing similar jobs - hence the same names. But they're not actually the same definitions - hence the warnings.

[2018-12-14 16:47] deepikabhavnani commented on #9099
Yes noted that now

[2018-12-14 17:06] #9077 closed, assigned to nobody

[2018-12-14 22:41] deepikabhavnani commented on #8664
[code]
Next pointer of all the siblings does not point to same entry. That looks incorrect, seems next pointer of all siblings should be updated not just the latest one

[2018-12-15 11:18] screamerbg commented on #9088
@VeijoPesonen

[2018-12-15 12:45] atoy40 commented on #7153
@jeromecoutant any news about this one ? all issues you've mentionned are now closed or merged. IS TICKLESS ready to use with STM board ?
Thanks.

[2018-12-15 13:08] daid commented on #8664
That might fix this exact case, but it will still break other cases when canceling events which are siblings. The cancel function simple doesn't have enough knowledge to properly maintain the data structure.

Another example, if we are the last sibling, and we get canceled, we end up here:
https://github.com/ARMmbed/mbed-os/blob/master/events/equeue/equeue.c#L301
[code]
This then will update the r

[2018-12-15 14:06] diegomhamilton commented on #7422
I'm getting this error now and adding the _RTE_ macro didn't solve it.

[2018-12-16 09:16] davidsaada commented on #9099
Will rename the structures to fix this.

[2018-12-16 14:56] embeddedteam103 commented on #7444
The `data` and `length` fields (as well as the docs) should also be unsigned as was hinted in the original bug report. This needs to be reopened :)
I will send a PR to fix this soon.

[2018-12-16 15:48] embeddedteam103 opened #9112 "poll is not blocking in presence of rtos"
### Description

`mbed_poll` does not do proper blocking in the presence of rtos.
It is a form of busy waiting that prevents the microcontroller sleeping.

Note: this issue is in a TODO comment in the file, but quick search in this github does not result in any issue matching it.

### Issue request type

    [ ] Question
    [x] Enhancement
    [ ] Bug

[2018-12-16 16:14] ciarmcom commented on #9112
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-323*

[2018-12-16 20:37] cmonr commented on #7422
@diegomhamilton Please open a new issue referencing this issue. We prefer to see new issues come in instead of reviving old ones.

[2018-12-17 07:16] VeijoPesonen commented on #9088
@ccli8 my recommendation would be that you should update ESP8266's firmware to version 1.7.0. With that firmware the driver doesn't allocate memory for TCP packets but uses application provided buffers directly instead. That would be the solution in case of TCP. For further details please read [ARMmbed/mbed-os/master/components/wifi/esp8266-driver/README.md](https://github.com/ARMmbed/mbed-os/blob

[2018-12-17 07:47] kjbracey commented on #9099
Just renaming is possibly not the best fix - the types are still public and could collide in future. If you really mean them to be local to that C++ file they should be wrapped in an anonymous namespace - the C++ equivalent of top-level `static`, except it works for both types and objects.

I can feel this is something I'm going to be nitting about in review from now on - I always tended to point

[2018-12-17 09:09] fluidblue commented on #8977
I did some debugging:

	Traceback (most recent call last):
	  File "/Users/user/Downloads/ARM-mbed/mbed-cli/mbed-os-example-blinky/mbed-os/tools/project.py", line 374, in main
	    ignore=options.ignore
	  File "/Users/user/Downloads/ARM-mbed/mbed-cli/mbed-os-example-blinky/mbed-os/tools/project.py", line 155, in export
	    ignore=ignore
	  File "/Users/user/Downloads/ARM-mbed/mbed-cli/mbed-os-ex

[2018-12-17 09:37] fluidblue opened #9115 "Exporting blinky example results in error"
### Description

When trying to export the blinky example the following error occurs:

	Traceback (most recent call last):
	  File "/Users/user/Downloads/ARM-mbed/mbed-cli_test2/mbed_blinky/.temp/tools/project.py", line 423, in <module>
	    main()
	  File "/Users/user/Downloads/ARM-mbed/mbed-cli_test2/mbed_blinky/.temp/tools/project.py", line 415, in main
	    ignore=options.ignore
	  File "/User

[2018-12-17 09:45] kjbracey commented on #9112
(Comment moved from #9113)

Thanks for looking at this (and noticing it, and caring).

This is a sore point in the design, and if it was as simple as #9113, it would have been done some time ago.

`poll` is a particular case, and the less common one - we have the same issue in ordinary blocking reads and writes. Writes in particular are the most likely to cause problems, as people do tend to do wr

[2018-12-17 09:47] mertkapar opened #9116 "Mbed Online IDE can not update mbed-os 2 library to latest version."
### Description
Mbed Online IDE can not update mbed-os 2 library to latest version.
This problem is not valid for mbed-os 5.x

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2018-12-17 09:49] geobruce commented on #9106
I located the error to be in the debug profile. When I build the project with the develop profile it is working. But not when flashing with the debug profile.

[2018-12-17 09:50] fluidblue commented on #9115
After fixing with the proposed solution, another error occurs when running `mbed export -i mcuxpresso -m LPC11U68`:

    Traceback (most recent call last):
      File "/Users/user/Downloads/ARM-mbed/mbed-cli_test2/mbed_blinky/.temp/tools/project.py", line 427, in <module>
        main()
      File "/Users/user/Downloads/ARM-mbed/mbed-cli_test2/mbed_blinky/.temp/tools/project.py", line 419, in main

[2018-12-17 09:54] kjbracey commented on #9106
The thing that immediately sprints to mind is that deep sleep is disabled by the `debug`, profile, because `mbed_sleep_manager.c` responds to `MBED_DEBUG`. Can you try just manually editing the condition here: https://github.com/ARMmbed/mbed-os/blob/b9927e5f2759d3ef4dfde870226f35365f0d327c/hal/mbed_sleep_manager.c#L211  for both develop and debug builds (so try stopping develop deep sleeping, and

[2018-12-17 09:56] embeddedteam103 commented on #9112
@kjbracey-arm The non busy waiting is important for us as we want to sleep a lot to save power. So we rolled this as our own ad-hoc solution. Lack of interest is definetly not the case if this was the reason for your delay :)
Skimming through your branch with the common logic (and looking at `UARTSerial` as a usage example) it seems your solutions is to wrap the sigio of driver like file handles w

[2018-12-17 09:56] jeromecoutant commented on #9106
But I don't think deep sleep is used as TICKLESS has not been enabled.

[2018-12-17 10:06] embeddedteam103 opened #9117 "Official support for `STM32F417` targets"
### Description

Are there any plans for official support for `F417` targets? The differences from `F407` are minimal at best. It seems the only change in mbed (other then mapping these targets) would be updating the exporter mapping of device names.
We are willing to contribute the mapping of an evaluation board we use internally (I need to find it's name first :) - it is almost identical to the

[2018-12-17 10:17] embeddedteam103 opened #9118 "Support for targets with small internal flash"
### Description

We are using `mbed` on a target with very small internal flash. So small, we couldn't fit the `mbed` codebase with our (tiny) code of our own.
To resolve this we used a very ad-hoc approach: we changed the configuration of our IAR compiler - from using the full standard library to only partial.
This caused us to miss certain functionality of `mbed` - namely everything related to `

[2018-12-17 10:17] jeromecoutant commented on #9117
Hi

From ST point of view, there is no plan to add the support of STM32F417 in MBED.

But as you said, support of this chip should not be so difficult.
We tried to describe how to proceed in this wiki page:
https://os.mbed.com/teams/ST/wiki/steps-to-create-a-new-STM32-platform

And specially with the python script tools\targets\STM32_gen_PeripheralPins.py
which will make for you the correct  Perip

[2018-12-17 10:31] 0xc0170 opened #9119 "MemoryPool: using hard defined mem pool size"
### Description

MemoryPool object contains this currently: `char _pool_mem[((sizeof(T) + 3) & ~3) * pool_sz];`

As we recently found out (reported by @embeddedteam103, see https://github.com/ARM-software/CMSIS_5/pull/479) this calculation is not portable.

`rtx_os.h` defines `osRtxMemoryPoolMemSize` that we can use instead. Add the calculation to our `mbed_os_storage_rtos` header file.

cc @kjbra

[2018-12-17 11:02] deece commented on #9099
I believe so, as long as they are static.

[2018-12-17 11:24] kjbracey commented on #9112
Right, you're probably more familiar than that than I am - I had totally forgotten about `FileHandleDeviceWakeHelper` until I went to find the link for `cv_cs`, and I haven't had my coffee yet.

Let me try to get this clear in my own head too.

The FileHandle abstract API already provides:
* sigio callback
* read and write calls - nonblocking and blocking
* non-blocking poll() status read - (used

[2018-12-17 11:42] ciarmcom commented on #9119
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-324*

[2018-12-17 11:42] ciarmcom commented on #9118
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-325*

[2018-12-17 11:42] ciarmcom commented on #9117
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-326*

[2018-12-17 11:42] ciarmcom commented on #9116
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-327*

[2018-12-17 11:42] ciarmcom commented on #9115
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-328*

[2018-12-17 11:48] 0xc0170 commented on #9099
cc @ARMmbed/mbed-os-maintainers

[2018-12-17 11:49] 0xc0170 commented on #9115
cc @ARMmbed/team-nxp

[2018-12-17 11:54] embeddedteam103 commented on #9119
The commit introducing this calculation says the size must be a multiple of 4 bytes.
Question: Is this part of the public API of cmsis-os, or implementation specific to RTX?

[2018-12-17 12:00] 0xc0170 commented on #9119
@mprse Can you review?

@embeddedteam103 What about the proposal above? Will it address the issue you have?

[2018-12-17 12:15] embeddedteam103 commented on #9112
Okay. So it seems I understand the design. What I still don't quite get is how the global `poll` function can be implemented without busy waiting?
The `sigio` of `FileHandleDeviceWakeHelper` should notify it somehow and therefore the global `poll` impl it needs to wait for this event (via `ConditionVar` or `EventFlag` or whatever). Therefore the `poll` impl should dispatch on whether the file hand

[2018-12-17 12:17] embeddedteam103 commented on #9119
Not exactly, as this is part of the `RTX` api and not `cmsis`.
What I proposed in ARM-software/CMSIS_5#479 is wrap this `RTX` macro in a macro in a public API of `cmsis` and use it in mbed.

[2018-12-17 12:30] kjbracey commented on #9112
The work on that branch is not supposed to change anything about the application-facing API of `FileHandle`, or `poll`. It extends the driver API between `FileHandle` and `poll` to allow `poll` to block properly.

The non-wakeable filehandles are, in my version, not publically distinguished at all to users. The same API works either way, it's just an efficiency issue. Ultimately the "non-wake" cas

[2018-12-17 12:30] lrusinowicz commented on #8710
@orenc17
Yes, I have missed this warning, nevertheless SRM is working for me now. I'm not seeing any undefined references, so it seems like something specific to your project. Could you point me to your code?

[2018-12-17 12:43] fluidblue opened #9123 "Compiling: multiple definitions of '__aeabi_atexit'"
### Description

What target does this relate to?
LPC11U68

What toolchain (name + version) are you using?
GCC_ARM in mbed-cli v1.8.3

What tools (name + version - is it mbed-cli, online compiler or IDE) are you using?
mbed-cli v1.8.3

What is the SHA of Mbed OS (git log -n1 --oneline)?
From commandline output:

    [mbed] Adding library "mbed" from "https://mbed.org/users/mbed_official/code/mbed/

[2018-12-17 12:57] 0xc0170 commented on #9123
This looks like a startup issue and should be fixed. Please send PR removing the atexit from startup file (Mbed OS retarget file provides exit handlers)

[2018-12-17 13:13] 0xc0170 opened #9124 "Travis: pyOCD fetches intervaltree latest version that breaks the build"
### Description

Tracking it also here for better visibilty, any new Travis build is expected to fail due to dependency breakage in our python modules (gets in via mbed host test module).

See https://github.com/mbedmicro/pyOCD/pull/476 for more info

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-12-17 13:39] embeddedteam103 commented on #9112
If you think the poll-wake mechansim should not be reflected in application API then I agree,  but I raised it as a design question that should be answered (as it can offer an adavantage).
If the goal is to ultimately deprecate and remove non-wakeble file handles, then I 100% agree with you on all points.

Maybe add to `FileHandle` a virtual member function `is_wakeble()` which defaults to false (

[2018-12-17 13:51] orenc17 commented on #8710
@lrusinowicz
The problem now is redefinition.
Try running  `mbed compile -m FUTURE_SEQUANA_M0_PSA`

[2018-12-17 13:56] embeddedteam103 opened #9125 "Use of RTX layer in `mbed_error`"
### Description

As I mentioned in https://github.com/ARM-software/CMSIS_5/issues/479 we work with `mbed-os` with a different implementation of the `cmsis-os` abstraction layer based on the closed source `threadx` rtos.
There are cases where internal details of `rtx` are used in mbed.

One of the newer ones is with the introduction of `mbed_error` in one of the recent releases.
It uses information

[2018-12-17 13:57] kjbracey commented on #9112
So that would then be a precheck on every file descriptor in the poll array, and if every one is wakeable, call the wakeable version else the non-wakeable version. And that will always pull in both versions of poll because of that runtime test.

Don't see how that's really any better than doing the test inside the first poll loop. I guess it leaves the door open to the optimised wakeable-only form

[2018-12-17 14:01] geobruce commented on #9106
I'm not totally sure what you would like me to try. But I changed
`#ifdef MBED_DEBUG
    hal_sleep();
#else
    if (sleep_manager_can_deep_sleep()) {
        deep = true;
        hal_deepsleep();
    } else {
        hal_sleep();
    }
#endif`
to
`#ifdef MBED_DEBUG
    //hal_sleep();
    if (sleep_manager_can_deep_sleep()) {
        deep = true;
        hal_deepsleep();
    } else {
        hal_sl

[2018-12-17 14:03] 0xc0170 commented on #9125
@SenRamakri please review. Was this usage reported back to CMSIS_5 as a issue/pull request for adding this functionality ?

I do not see this functionality covered in cmsis rtos v2.

[2018-12-17 14:14] fluidblue commented on #9123
@0xc0170 I created a pull request.
Is fixing this issue in the mbed-os repo also affecting the .o files that are downloaded for mbed OS 2 projects by mbed-cli?

[2018-12-17 14:14] kjbracey commented on #9125
As of a very recent patch release of CMSIS-RTOS 2 / RTX, osThreadGetId is now documented callable from interrupt.

I know this, because it came up in https://github.com/ARMmbed/mbed-os/pull/8961

Documentation doesn't specify what it does from exception, but it seems that RTX's implementation does return the OS's current thread, even when called from exception context. (At some point I thought it

[2018-12-17 14:19] 0xc0170 commented on #9125
@JonatanAntoni please review

[2018-12-17 14:20] kjbracey commented on #9106
Ah, as Jerome said, if `MBED_TICKLESS` isn't on, then that code isn't invoked anyway, and we're always shallow sleeping.

If the error is solid, and you have an version that it worked on, maybe go back to git bisect to find the mbed OS commit that broke it?

[2018-12-17 14:20] embeddedteam103 commented on #9125
The idle thread is actually something we haven't implemented in our `cmsis` wrapper at all (due to differing functionality of `suspend`/`resume` in `threadx`) and we simply rolled our own `thread_idle` implementation.

We are actually planning to move to the standard one in some point.
I will look at this issue to see how it would work in `threadx` when we finally decide to prioritze this.

[2018-12-17 14:22] 0xc0170 commented on #9119
True. I see this as 2 step.
- First, we fix the hardcoded value here, as you need to redefine storage types anyway, so keep the C++ rtos objects not using RTX details.  (this should be quick to fix and easy to replace later by CMSIS definition). Our rtos storage header file contains anyway RTX definitions.
- Second step, to discuss in CMSIS repo how CMSIS can provide abstraction for memory pool si

[2018-12-17 14:26] 0xc0170 commented on #9119
Looking at the issue we had with storage types,

https://github.com/ARM-software/CMSIS_5/blob/401391fc370397eb7eef4cd9d8f49e0f1d80e8b3/CMSIS/RTOS2/RTX/Include/rtx_os.h#L356

This was added to RTX  but not yet to CMSIS. See https://github.com/ARM-software/CMSIS_5/issues/167

[2018-12-17 14:41] 0xc0170 commented on #9119
@embeddedteam103 The issue 167 still needs to be addressed.  Can you add your comments there as you use different implementation. This will revive the discussion, We can come up with a solution, and close 167.

[2018-12-17 15:02] geobruce commented on #9106
At the moment I build using the develop profile, that way I can't debug, but the mbed functions do work.

[2018-12-17 16:58] JonatanAntoni commented on #9125
Hi @kjbracey-arm,

The current documentation of `osThreadGetId()` states

So, yes, for RTX it simply returns `osRtxInfo.thread.run.curr`, which is the currently scheduled thread.

And yes, it can be called from ISR context since a while (or with interrupts disabled/masked).
Please be aware of possible "race conditions" when relying on this information from ISR context.

Low-power (or tickless) ope

[2018-12-17 17:05] orenc17 commented on #9095
the following test are failing:
tests-mbed-crypto-sanity - HF
tests-mbed_drivers-flashiap - HF
tests-mbed_drivers-rtc - HF
tests-mbed_hal-flash - HF
tests-mbed_hal-rtc - HF
tests-mbed_hal-rtc_reset - HF
tests-mbed_hal-rtc_time - HF
tests-mbed_hal-sleep - FAIL
tests-mbed_hal-sleep_manager - FAIL
tests-mbed_hal-trng - HF
tests-mbedtls-selftest - HF

* HF - Test crashes on HardFault
* FAIL - Test fai

[2018-12-17 17:23] lrusinowicz commented on #8710
@orenc17
I've just found the redefinition is just a merge issue introduced when my change was merged into the master where your change was already applied to this file. So actually it's different issue, but I will submit a patch, likely tomorrow.
Have you tried removing the first definition already?  Where is the main() for FUTURE_SEQUANA_M0_PSA?

[2018-12-17 20:43] #7756 closed, assigned to bridadan

[2018-12-17 20:44] #7407 closed, assigned to davidsaada

[2018-12-18 00:39] edablan opened #9132 "MTB_UBLOX_NINA_B1 (nRF52) BLE reconnecting to iOS on power cycle"
### Description
I have setup a custom BLE profile with 3 services. I can successfully connect and pair with the device, as well as bond. However the device does not have any external NVM memory to store the LTK during bonding. I am trying to avoid having to manually "forget the device" in iOS BLE settings to force pairing and bonding again after the first time, or continually have iOS ask the user

[2018-12-18 07:37] samchuarm commented on #8081
Hi @M-ichae-l , is there any way we can get this issue progressed? Thanks.

[2018-12-18 07:40] kjbracey commented on #9125
To me that is not 100% concrete - if called from exception context, arguably that thread isn't currently "running" - it's been preempted by the exception - so I can imagine another CMSIS-RTOS implementer doing something different. Another possible definition would be to return NULL if not called from thread context, and that would make more sense if, say, using it to implement `std::this_thread::g

[2018-12-18 08:40] 0xc0170 commented on #9124
Fixed in pyOCD, also here and as well the package that broke 2.7 python support

[2018-12-18 08:40] #9124 closed, assigned to nobody

[2018-12-18 09:17] orenc17 commented on #8710
@lrusinowicz
1. when a redefinition occurs the last definition is being used, so your definition works
2. the main function is in https://github.com/ARMmbed/mbed-os/blob/master/components/TARGET_PSA/spm/COMPONENT_SPE/spm_main.c

[2018-12-18 09:28] embeddedteam103 commented on #9112
You are right here.
From my POV there is only the C++ version, so I didn't even think about the POSIX form.

If the design goal is no user intervention whatsoever then I agree, but you did not state it in the design goals you mentioned :)

You have convinced me fully of your approach now :)

If the way to go forward is deprecation of non-wakeble file handles with plans to remove them in the future

[2018-12-18 09:41] 0xc0170 commented on #9075
cc @ARMmbed/team-nxp

[2018-12-18 09:46] embeddedteam103 opened #9133 "Handling no RTOS is done wrong"
### Description

This is a very annoying little bug:
In certain in mbed there is conditioning on whether rtos is present or not (or any other module). The problem is that in many place the conditional to check for it is wrong (which causes a compile time error).
The check should be
[code]

But in many places it is defined as `#ifdef` or `#if defined()` which give the wrong result.

The way to remo

[2018-12-18 09:47] kjbracey commented on #9112
Good question. Best mechanism we've come up with so far is "MBED_ERROR in debug builds". Issue came up in adjustments to `::wait_ms()` - trying to get people to not call it in non-thread context.

Okay, I'll recheck at least the base cv_cs version and make a PR for it this week.

I'm not sure if I also want to incorporate the `FileHandleDeviceWakeHelper` into that review in its entirety now - but

[2018-12-18 09:52] kjbracey commented on #9133
I think you can override with `present: null` - I think a `null` will override a non-null fine, and JSON `null` leads to the value not being defined.

But in general you're right, tests on `MBED_CONF` should normally be `#if` on the assumption that they will be either `true` or `false` . (`null` would lead to not defined which `#if` treats as `0`)

(JSON `true` and `false` are also now permitted r

[2018-12-18 09:54] 0xc0170 commented on #9133
👍

@ARMmbed/mbed-os-tools Please review . As mentioned, this touches as well 8957. This ifdef vs if confuses people. I can't spot this documented in https://os.mbed.com/docs/latest/reference/configuration.html, or is it documented elsewhere?

[2018-12-18 10:06] kjbracey commented on #9133
That isn't actually the direction it was intended to work, I believe - it was really a detection mechanism for the case where someone had removed the directory. It was for code that needs to work on both Mbed OS 2 and Mbed OS 5, rather than an Mbed OS 5 config mechanism.

But I guess it can work in the way you describe - if you undefine the value, no-one will call it, so the linker will end up exc

[2018-12-18 10:38] 0xc0170 commented on #9075
This again failed here https://github.com/ARMmbed/mbed-os/pull/9126#issuecomment-448170819

[2018-12-18 11:13] jeromecoutant commented on #7153
Hi
I pushed PR #9134 to enable TICKLESS mainly for L0/L4/F7

[2018-12-18 11:14] jeromecoutant commented on #8783
New LPTICKER_DELAY_TICKS value is part of #9134

[2018-12-18 11:54] kjbracey commented on #7492
I don't think there are any outstanding questions. Okay to close?

[2018-12-18 13:44] embeddedteam103 opened #9137 "How to build `mbed` lib only without the project root"
### Description

I'm not sure if it's a bug, enhancement, question or all of the above :)
We are using `mbed` as one library of many that our main library depends on.
This means that the `mbed-os` directory is not sitting in our project root.

We want to use a different build system to manage our build (as we do not use the entire SDK functionality).

We have the following application structure:

[2018-12-18 14:17] jeromecoutant opened #9138 "Can't execute OS2 tests in ARM if default_toolchain is uARM"
### Description

mbed version: master (#8305 included) + #9107

We can't execute OS2 tests in ARM if default_toolchain is uARM

ex:
$ python ./tools/build.py -m NUCLEO_F042K6 -t ARM
Build successes:
  * ARM::NUCLEO_F042K6

$ python ./tools/make.py -m NUCLEO_F042K6 -t ARM -n MBED_2
Building project stdio (NUCLEO_F042K6, ARM)
Could not compile for NUCLEO_F042K6: No Linker Script found

If I removed

[2018-12-18 15:11] bridadan commented on #9133
@kjbracey-arm is correct, setting the `MBED_CONF_RTOS_PRESENT` macro (or the equivalent configuration option) is not the intended way of removing the RTOS. It is possible to build Mbed OS without the RTOS by adding the `rtos` directory to your `.mbedignore` file, as was previously stated.

@0xc0170 I'll review on #8957.

[2018-12-18 15:20] embeddedteam103 commented on #9133
Just a comment: I think the reason this was left undetected/unchanged was the fact that adding `rtos` to `.mbedignore` is the semi-official way to disable RTOS (which avoids the problem).

[2018-12-18 16:01] bridadan commented on #9138
Hi @jeromecoutant,

I just checked the commands you posted above, doesn't look like `make.py -n <test name>` works for any target, not just targets with `uARM` set as the `default_toolchain`. `singletest.py` continues to build them fine. Can you use that script for now?

[2018-12-18 16:04] embeddedteam103 opened #9139 "Replace cmsis implementation"
### Description

As I mentioned in previous threads, we have rolled our own implementation of `cmsis-os` by wrapping the closed source `threadx` rtos (and we use more then the public API of `threadx` then this can't be open source).

We do this by removing the `rtos` directory (using `.mbedignore`) and replacing a bunch of files instead.
We want to do this in an official way - have configuration f

[2018-12-18 16:09] jeromecoutant commented on #9138
$ python ./tools/build.py -m NUCLEO_F030R8 -t ARM
$ python ./tools/make.py -m NUCLEO_F030R8 -t ARM -n MBED_2

This is working

[2018-12-18 16:14] bridadan commented on #9138
Ah oops, thanks. Been a while since I've used these scripts. I was able to reproduce the issue.

[2018-12-18 17:26] bridadan commented on #9138
Ok the problem seems to be that the build artifacts from the call to `build.py` are placed at the following path: `BUILD\mbed\TARGET_NUCLEO_F042K6\TOOLCHAIN_ARM_STD`. Since its placed in `TOOLCHAIN_ARM_STD`, its not picked up by the subsequent call to `make.py`, which is only looking for `TOOLCHAIN_ARM` and `TOOLCHAIN_ARM_MICRO`.

I'm not 100% sure the best approach here. Seems like `build.py` sho

[2018-12-18 18:39] srberard opened #9140 "Exporting to Makefile fails to build on Windows due to command line limit being exceeded"
### Description

Target
Any

Toolchain:
Any Makefile based export.

Expected behavior
[code]
Actual behavior
[code]
Per #6335, the issue is that the command line for the linking step exceeds the 32K limit on Windows.  The proposed solution was to use a response file in place of passed everything on the command line.  An example was presented [here](https://github.com/ARMmbed/mbed-os/issues/6335#is

[2018-12-18 19:03] 0Grit opened #9141 "Async spif block device?"
### Description

Looking to understand feasibility regarding implementation of a spif block device that would use async spi writes.

Any thoughts?

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2018-12-18 20:12] cmonr commented on #9141
@ARMmbed/mbed-os-storage Thoughts on the block device part?
@ARMmbed/mbed-os-hal Thoughts on the async-spi part?

[2018-12-18 21:37] mmahadevan108 opened #9142 "softfp does not work for Cortex-M33"
### Description
Cortex-M33 is using softfp floating point implementation
https://github.com/ARMmbed/mbed-os/blob/master/tools/toolchains/arm.py#L426

However the __FPU_USED flag is not set thereby the FPU is not enabled and crashes when executing floating point instructions.

### Issue request type
    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-12-18 23:30] deepikabhavnani commented on #8664
@daid - I have added the PR to address first issue, your sample to reproduce the issue was helpful.
Other cases of siblings will be addressed as well, it would be great if you can share the example to reproduce.

[2018-12-19 00:16] c1728p9 commented on #7674
Hi @AGlass0fMilk some devices nak out packets until a read is started on the endpoint. On these devices `read_start` must be called to start receiving data.  Often an interface is ready to receive data as soon as its endpoints are added so you'll often see a `read_start` after adding an out endpoint. For example the serial port USB class, USBCDC, does that [here](https://github.com/ARMmbed/mbed-os

[2018-12-19 05:11] janjongboom commented on #9016
@loverdeg-ep I think so. I'm using SAML Xplained Pro, and that can run tests fine.

[2018-12-19 06:48] jarvte commented on #9014
This is now fixed and in master, can be closed.

[2018-12-19 08:57] geoffrey-vl opened #9145 "dataflash + FAT fatal runtime error 0x80FF0100"
### Description

During testing with mbed-os-example-filesystem I found DataFlash + FAT not to be working in our custom target (STM32F429ZI MCU). We have a AT45 with 64Mbit storage, but also a SDCard slot.
However following configurations are working:
SDCard + FAT
SDCard + littleFS
AT45 + littleFS

Using mbed-os 5.10 (610e35ddc6d59f153173c1e7b2748cf96d6c9bcd) and mbed-os-example-filesystem (4cf621

[2018-12-19 09:04] SeppoTakalo opened #9147 "DISCO_L475VG_IOT01A does not pass Mbed OS networking tests"
### Description

**DISCO_L475VG_IOT01A** board is not able to pass all Mbed OS networking tests as according to [Network Socket test plan](https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md)

**Results**

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-12-19 09:08] SeppoTakalo commented on #9147
CC: @screamerbg

[2018-12-19 09:16] 0xc0170 commented on #9147
cc @ARMmbed/team-st-mcd

[2018-12-19 09:40] ccli8 commented on #9088
@VeijoPesonen Thanks for your information.
1.7.0 AT requires 16Mb or above flash, but M487 IoT on-board ESP8266 module just has 8Mb flash. Currently, we cannot upgrade the on-board ESP8266 module to 1.7.0 AT. Besides, we fly-wire another 32Mb ESP8266 module which upgrades to 1.7.0 AT for PDMC tests. It is passed. Currently, we are struggling for the upgrade...
@samchuarm

[2018-12-19 09:53] 0xc0170 commented on #9142
@ARMmbed/mbed-os-tools Please review

[2018-12-19 09:58] 0xc0170 commented on #9088
cc @SeppoTakalo

[2018-12-19 10:11] kjbracey commented on #9142
Is this a CMSIS bug?

For ARMC6, core_cm33.h is checking `__ARM_PCS_VFP`, but that's a Procedure Calling Standard check. It's false because softfp is selected.

I believe it should be checking `__ARM_FP` ("hardware floating-point is available"), which is the equivalent of the `__TARGET_FPU_VFP` it uses for ARMC5.

I would expect the same failure to be seen on Cortex-M7F devices with ARMC6, which a

[2018-12-19 10:20] jarlamsa opened #9149 "SPI working unpredictably when 2 different SPI devices on 2 different SPI buses are heavily used simultaneously."
### Description

SPI working unpredictably when 2 different SPI devices on 2 different SPI buses are heavily used simultaneously.

Current SPI implementation has a global mutex and a global owner pointer which are preventing using  different SPI buses and peripherals simultaneously. The RF drivers under mbed-os are omitting the use of the global mutex on the SPI-class because they are very high pr

[2018-12-19 10:23] JonatanAntoni commented on #9142
This has been fixed in https://github.com/ARM-software/CMSIS_5/commit/969822ae162539d50617d1e5a3634ee2fd3b60f6

[2018-12-19 10:26] kjbracey commented on #9142
I'll raise a CMSIS update PR. Just a cherry-pick for now, so we can send this to 5.11.1, but should look at a full update during 5.12 timeframe.

[2018-12-19 10:30] kjbracey commented on #9142
And I think we've got a real issue with FP ABI inconsistency on ARMC5, ARMC6 and IAR. GCC is the only one always setting softfp.

I guess the issue doesn't show up because we don't ever pass FP values in and out of precompiled binary libraries. I wonder whether we should resolve on consistent use of softfp, or let it vary based on hardware, and just say no FP passing to binary libraries.

I assume

[2018-12-19 10:48] #9041 closed, assigned to nobody

[2018-12-19 10:49] #9014 closed, assigned to mirelachirica

[2018-12-19 11:02] SeppoTakalo commented on #8940
What exactly do you mean?

`Socket::bind()` will return in after getting the response from the driver. So it does not block.

As a concept, blocking means that you will wait for something to happen, and it will block forever if that event does not happen. For example `Socket::read()` will block forever, if there is no data arriving. In that sense, `Socket::bind()` is not blocking.

`Socket::bind()

[2018-12-19 11:04] donatieng commented on #8333
Is this still an issue?

[2018-12-19 11:06] #8124 closed, assigned to nobody

[2018-12-19 11:12] ciarmcom commented on #9149
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-330*

[2018-12-19 11:12] ciarmcom commented on #9147
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-331*

[2018-12-19 11:12] ciarmcom commented on #9145
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-332*

[2018-12-19 11:12] ciarmcom commented on #9142
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-333*

[2018-12-19 11:12] ciarmcom commented on #9141
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-334*

[2018-12-19 11:12] ciarmcom commented on #9140
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-335*

[2018-12-19 11:12] ciarmcom commented on #9139
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-336*

[2018-12-19 11:12] ciarmcom commented on #9138
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-337*

[2018-12-19 11:12] ciarmcom commented on #9137
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-338*

[2018-12-19 11:12] ciarmcom commented on #9132
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-340*

[2018-12-19 11:12] ciarmcom commented on #9125
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-341*

[2018-12-19 11:12] ciarmcom commented on #9123
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-342*

[2018-12-19 11:17] daid commented on #8664
My feeling says the patch misses a case, but I cannot find a case where it goes wrong. So my feeling could be wrong here.

The other corruption we are seeing might be related to doing a cancel on an event from the callback of that event. (In our case, a timeout being fired cancelled itself) Which also gives the indication that there is a race condition between executing and cancelling events. But

[2018-12-19 11:24] dhwalters423 commented on #9145
@geky Could you please take a look?

[2018-12-19 11:27] donatieng commented on #8635
Hi @yogeshk19,

The Cordio Link Layer is now available for NRF52 devices (
https://github.com/ARMmbed/mbed-os/pull/8876).
Using the new BLE 5 APIs you should be able to use `setPhy()` method on NRF52xx.

I'm closing this for now, feel free to re-open.

[2018-12-19 11:27] #8635 closed, assigned to nobody

[2018-12-19 11:28] OPpuolitaival commented on #8333
We have not seen this in new CI setup. This can be closed from my point of view. We can create new issue if still exists

[2018-12-19 11:39] SeppoTakalo commented on #9088
Please run full set on Mbed OS socket tests for this platform as instructed in [Network Socket test plan](https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md).

If it passes the Mbed OS tests, then you should continue testing with Client.

[2018-12-19 11:50] kjbracey opened #9153 "Floating point ABI selection inconsistent"
### Description of defect

Floating point ABI selection (hardfp/softfp) appears to be inconsistent between chips and toolchains. Some sort of alignment correction is required, but it's not clear in which direction.

Current state is, I think (can someone crosscheck?):
* IAR setup does not specify ABI, so hardfp is used if the selected CPU has FP.
* GCC setup specifies softfp always for all CPUs.
*

[2018-12-19 11:53] kjbracey commented on #9142
Raised #9153 about the FP ABI issue - I don't think we should ever be selecting `softfp` for ARMC6.

[2018-12-19 11:59] davidsaada commented on #9141
This should require a different block device base class comparing to `BlockDevice` whose APIs are blocking. We will need to implement a new "AsyncBlockDevice" base class with asynchronous flavored APIs, such as Read/Write/Erase start and either poll on actions or some sort of end action registration. It's feasible, but not with current base class.

[2018-12-19 12:24] LMESTM commented on #9147
@SeppoTakalo thank you for the report.
What version of the wifi driver have you been using ?
Does it include the latest commits that have been pushed 2 days ago ?
cc @jeromecoutant

[2018-12-19 12:29] embeddedteam103 commented on #9139
I want to understand if such a path forward is in line with you.
Because if you don't want to allow an official replacement of `RTX` as part of the toolchain, then we won't develop a general-purpose tool - The point of doing that is to be part of the mbed toolchain (otherwise we can use our own internal python hacks).
So I want to understand the following first - Will you be interested in such a t

[2018-12-19 13:05] tsuresh20 commented on #8940
Hi,

                Sorry, the bind API either for UDP or TCP socket it is returning NSAPI_ERROR_UNSUPPORTED error value.

Regards,
Suresh T.

From: Seppo Takalo <notifications@github.com>
Sent: Wednesday, December 19, 2018 4:32 PM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Suresh Tummala <Suresh.Tummala@meeamitech.com>; Author <author@noreply.github.com>
Subject: Re: [ARMmbed/mbed-os]

[2018-12-19 13:22] kjbracey commented on #8940
I assume you're using the ISM43362 Wi-Fi? Then the issue should be raised in its repository: https://github.com/ARMmbed/wifi-ism43362

I can see that the driver does not support `bind`, or `listen`: https://github.com/ARMmbed/wifi-ism43362/blob/7103699af51892d2b62d411aaafe522a895b0248/ISM43362Interface.cpp#L328

It may be the case that the device itself cannot fully support `bind` - many such modu

[2018-12-19 13:24] kjbracey commented on #8940
This seems relevant:

    | DISCO_L475VG_IOT01A-GCC_ARM | DISCO_L475VG_IOT01A | mbed-os-tests-netsocket-udp     | UDPSOCKET_BIND_ADDRESS                | 0      | 1      | FAIL    | 0.12               |

[2018-12-19 14:15] tsuresh20 commented on #8940
Thankyou.

From: Kevin Bracey <notifications@github.com>
Sent: Wednesday, December 19, 2018 6:55 PM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Suresh Tummala <Suresh.Tummala@meeamitech.com>; Author <author@noreply.github.com>
Subject: Re: [ARMmbed/mbed-os] socket bind is blocking (#8940)

This seems relevant:

#9147<https://github.com/ARMmbed/mbed-os/issues/9147>

| DISCO_L475VG_IOT01A-G

[2018-12-19 14:36] bearsh opened #9160 "GattServer::onUpdatesEnabled: why is this not implemented as callchain?"
### Description

``GattServer::onDataRead()`` and others add every registered callback to a callchain, ``GattServer::onUpdatesEnabled`` on the other hand only allows one callback to be registered. this make it cumbersome to register a handler in each service if one has multiple services.

why not change it to a callchain?

### Issue request type

- [x] Question
- [x] Enhancement
- [ ] Bug

[2018-12-19 14:52] 0xc0170 commented on #9133
@embeddedteam103 Is there anything left here for building without RTOS? We will look at how to improve it and make it official way.

[2018-12-19 14:54] SeppoTakalo commented on #8940
`NSAPI_ERROR_UNSUPPORTED` is the correct behaviour when device does not support `Socket::bind()` calls.

Most of the AT-command driven modules do not have equivalent of bind. They seem to have some sort of separation between server sockets, and client sockets.

We are going to change the testcases also reflect that, so that if device does not support bind, the testcase will be ignored in the run t

[2018-12-19 15:17] SeppoTakalo commented on #9088
From: https://www.espressif.com/en/products/hardware/esp8266ex/resources

[code]

We have test cases that proof the 1.6.2 and older to be not working properly, and therefore we cannot support those.
For any commercial platform, the minimum requirement would be that lates ESP AT firmware is installed and CTS, RTS and Reset for the ESP8266 as well.

And as we cannot support this, we need to close th

[2018-12-19 16:05] ispkorte commented on #7852
i have same problem on MINT 19; wich of GCC-ARM Version can use ?

[2018-12-19 16:07] #9088 closed, assigned to nobody

[2018-12-19 16:08] #8940 closed, assigned to nobody

[2018-12-19 16:16] ciarmcom commented on #9160
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-346*

[2018-12-19 16:34] studavekar commented on #8333
@donatieng @OPpuolitaival issue is not since because this is not running in ci? Reference https://github.com/ARMmbed/mbed-os-ci/blob/master/mbed-os-jenkins/mbed-os-ci-greentea-test/Jenkinsfile.groovy#L68

[code]

[2018-12-19 17:11] cmonr commented on #8333
Second @studavekar's comments. This hasn't been an issue because the test isn't enabled in CI.

Would prefer to see the instances of `// TODO: Add jira issue` in the `mbed-os-ci` repo that disable tests to each have Jira issues before closing any in Mbed OS.

[2018-12-19 17:26] edablan commented on #9132
So a bit of my confusion seems to be related to OS dependencies. For example the Battery example from mbed does not load with windows 10 pro insiders edition (Build 18290), because the security manager is never initialized in this example. After I added initialization of the security manager inside the bleInitComplete() function as follows:
[code]
The battery level example now connects in windows

[2018-12-19 19:18] cmonr commented on #9132
@ARMmbed/mbed-os-pan Could y'all take a look at this?

[2018-12-19 19:33] cmonr commented on #7492
@ARMmbed/team-tridonic @ARMmbed/team-st-mcd  ?

[2018-12-19 20:12] cmonr commented on #9153
@ARMmbed/mbed-os-core

[2018-12-19 20:25] deepikabhavnani commented on #9153
CC @theotherjimmy

[2018-12-19 21:54] edablan commented on #9132
Alright seems I have been able to get iOS to stop asking me if I want to pair with a device every time or even on the first connect. The issue stems with having leftover setSecurityRequirements() for the characteristics created inside the DeviceInformationService constructor with parameters set to
[code]
I had these setup for BLE HID testing a long time ago, since that has specific security requir

[2018-12-19 22:00] TacoGrandeTX commented on #8962
@heejungPark You appear to be observing issue https://github.com/ARMmbed/mbed-os/issues/7743.  It has been fixed in Mbed OS v5.9.7 and newly released v5.11 (see  https://github.com/ARMmbed/mbed-os/pull/7779/commits/e1d50193b04c5f5856fe1c607b822dbd89a1461f).  It's not clear why this didn't make it into v5.10.4, but I tested this on a nRF52_DK (using LED1 as there is no PWM0) for v5.11 and no run-ti

[2018-12-20 04:04] deepikabhavnani commented on #9133
Partially because of .mbedignore and partially because few components and features do not have RTOS dependency handled fully.

[2018-12-20 09:10] jeromecoutant commented on #7852
Hi

GCC download link is available https://os.mbed.com/docs/v5.11/tools/index.html

[2018-12-20 09:16] salil0907 opened #9169 "Test requiring application binary not build"
Test requiring application binary not build

-->

### Description
[code]
-->
    [ ] Question
    [ ] Enhancement
    [ ] Bug

[2018-12-20 09:28] embeddedteam103 commented on #9133
Actually we want much more :)
I want to be able to replace (or remove) the cmsis implementation layer using the `mbed-cli` or some similar tool, just like we can replace targets using the `custom_targets.json` mechanism.
See #9139 for the details.
We are willing to help here.

[2018-12-20 10:00] dhwalters423 commented on #9145
@geoffrey-vl can you please edit the title to say dataflash + fat?

[2018-12-20 10:47] #9142 closed, assigned to nobody

[2018-12-20 11:11] ciarmcom commented on #9169
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-350*

[2018-12-20 11:11] pan- opened #9170 "BLE: Improve security manager initialisation"
### Description

Primitives such as characteristics security requirements requires the Bluetooth security manager to be properly initialised or the application will silently fail whenever it requires to elevates security of the link.

To improve user experience and avoid painful debugging sessions we can:
* Print warnings whenever a characteristic with security requirements that cannot be fulfille

[2018-12-20 11:18] pan- commented on #9170
@donatieng @paul-szczepanek-arm

[2018-12-20 11:22] pan- commented on #9132
@edablan Thanks for the detailed report I opened an issue to improve the user experience regards to the security manager, its initialisation and security requirements of a characteristic.

About the Windows behaviour, it would require some investigation to understand what triggers the pairing. The docs doesn't said much either ([1](https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/pair-

[2018-12-20 12:16] kjbracey opened #9172 "EventQueue should permit static allocation"
### Description

`EventQueue` and `Event` always require an allocation to perform a `call` or `call_in`, meaning it can fail.

This is potentially fatal for state machines - there is no plan B if the queue fails.

There should be an alternative form that allows the storage for the `struct equeue_event` to be static, so the `call` cannot fail.

An analogous mechanism is provided in Nanostack's `eve

[2018-12-20 12:30] kjbracey commented on #9172
Staring a bit harder, I see that `Event` is intended to function as a shared pointer onto the `equeue_event`, but that functionality is quite separate.

Seems like it could be split so that effectively `Event` is a `SharedPtr<EventObject>` with the necessary `operator()`/`post`/`call`.

[2018-12-20 15:28] mattbrown015 opened #9176 "STM32: RTC No Longer Enabled by Reading the Time"
### Description

I think this #8777 causes a problem! :-(

@jeromecoutant tried to sneak in a cheeky optimisation that, AFAICT, isn't important for the PR i.e. [STM32 RTC : skip rtc_write if possible](https://github.com/ARMmbed/mbed-os/pull/8777/commits/9da5e489418aba9d99c666edd9c55aad1d2ac2bc).

This change means the RTC doesn't get enabled when previously it did.

`time` in `mbed_rtc_time.cpp` d

[2018-12-20 15:34] jeromecoutant commented on #9176
OK
You propose to revert https://github.com/ARMmbed/mbed-os/pull/8777/commits/9da5e489418aba9d99c666edd9c55aad1d2ac2bc ?

[2018-12-20 15:47] mattbrown015 commented on #9176
I'm not sure, initially I just wanted to see if others agree it is a problem.

I quite like the optimisation and was wondering if `time` could do `set_time(1)` instead.  But that's not STM code and therefore is probably much harder to change.

How about something like:

    ....
    if (t == rtc_read() && rtc_enabled()) {
        return;
    }
    ...

But now it's not so simple. :-(

[2018-12-20 16:12] #6891 closed, assigned to marcuschangarm

[2018-12-20 16:15] ciarmcom commented on #9176
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-351*

[2018-12-20 16:15] ciarmcom commented on #9172
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-352*

[2018-12-20 16:15] ciarmcom commented on #9170
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-353*

[2018-12-20 16:30] #9099 closed, assigned to nobody

[2018-12-20 17:27] NeilMacMullen opened #9177 "AT_CellularNetwork::read_reg_params does not correctly read cell_id"
### Description
mbed commit:  a8abeccdacb01

For a returned CREG URC such as
+CREG 5,"1234","29AD590"

the cell_id is not correctly read. This is because the LAC_LENGTH is defined as 5 and the enclosing quotes on the LAC mean that the read_string call to read the LAC terminates after consuming   "1234.  Ie the final quote and comma are ignored. Then, when read_string is called to read the cell_id,

[2018-12-20 17:32] NeilMacMullen commented on #9177
Copying @AriParkkila  as the last person who seems to have touched read_reg_params.

[2018-12-20 20:02] cmonr commented on #9145
@ARMmbed/mbed-os-storage

[2018-12-20 21:09] ciarmcom commented on #9177
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-356*

[2018-12-21 03:57] unsignedint opened #9178 "Challenges with overriding linker scripts"
### Description

I am working on the NXP i.MX RT1050 EVK board which is set up for running code from hyper flash etc. We want to create a custom target that uses QSPI flash and a custom linker script, and goal is to make no changes to the mbed-os repository.

My feeling is that the best way to approach this is with a custom target that inherits from the `MIMXRT1050_EVK` target but replaces the lin

[2018-12-21 06:24] ciarmcom commented on #9178
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-357*

[2018-12-21 07:50] AriParkkila commented on #9177
@mirelachirica please check

[2018-12-21 08:51] kjbracey commented on #9176
I don't particularly like the "optimisation" - it's costing code space, and runtime for the sensible case.

If any application thinks they might be making a "null adjustment", and want to avoid doing it in case it disrupts the tick phase, they should be doing their own check, as this behaviour isn't specified by the HAL API or `set_time` itself, so is not portable. And for that you might even want

[2018-12-21 09:14] mattbrown015 commented on #9176
I think I've started leaning towards just reverting.

`rtc_write` is a pretty heavyweight function and it seems a waste if it isn't really changing the time but, on the other hand, no one expects dealing with time to be lightweight!

In our app we would only set the time in response to a command from an operator and handling these commands is not part of main control flow (if you see what I mean).

[2018-12-21 09:30] OPpuolitaival commented on #8333
@studavekar @cmonr we run nightly tests without ignore. Seems to be passing there. @alekla01 check the longer history

[2018-12-21 10:00] kjbracey commented on #9176
But presumably someone must set the time at some time, so the `rtc_write` is always going to be in the build, if it's ever adjustable. Unless the setup is factory-only or in a bootloader?

And once it is set and running, that `time()` call won't actually call it, because `rtc_isenabled()` should be saying true.

[2018-12-21 10:20] mattbrown015 commented on #9176
We get the time using `time` in the main control flow.  As we know the first call to `time` after a cold boot will call `set_time` and enable the RTC.

With no further intervention the device will just run and all the reported times will be circa 1970.

If the operator wants to send a command to make the time more reasonable they can.

The RTC remains enabled during a warm boot so in our case the

[2018-12-21 12:17] donatieng opened #9181 "NRF52 Softdevices write to WO addresses, clashing with MPU support - MPU support disabled for now for NRF52x devices"
### Description

The Nordic Softdevices for NRF52 try to write to WO addresses - this means that they won't operate correctly with MPU support enabled.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-12-21 12:25] kjbracey commented on #9181
We should have tracking issues for "platform X has MPU disabled and is waiting for a proper HAL MPU driver" - at the minute we seem to be just disabling and forgetting.

[2018-12-21 12:26] kjbracey commented on #9181
(Each of these bug fixes just creates a new less severe bug).

[2018-12-21 12:37] bearsh commented on #9093
ok maybe this is related to the softdevice, I checked a example from the nordic sdk (v15), there we have a similar picture but waking up **only every 8.5ms**
![image](https://user-images.githubusercontent.com/1089356/50342964-8718f780-0525-11e9-921c-b50075cb1842.png)

[2018-12-21 13:50] donatieng commented on #9181
Agreed, that's why I opened this issue for tracking

[2018-12-21 14:01] geobruce commented on #9106
I tested version 5.11.0 but no succes yet.

[2018-12-21 15:38] 0xc0170 commented on #9178
There's similar issue already reported:  https://github.com/ARMmbed/mbed-os/issues/7126, will this help?

[2018-12-21 16:17] studavekar commented on #8333
Unfortunately, above is not true test report says it still fails https://mbed-os.mbedcloudtesting.com/job/mbed-os-ci_greentea-test-nightly/78/testReport/junit/EV_COG_AD4050LZ-GCC_ARM/tests-mbed_hal-flash/EV_COG_AD4050LZ_arm_none_eabi_gcc___Flash___clock_and_cache_test/

[2018-12-21 17:12] geky commented on #8664
Hi @daid, thanks for creating this issue.

I'm thinking @deepikabhavnani's fix is correct. We don't have enough information to know if an event is a sibling, but we do have enough information to know if the next pointer is valid (if it's NULL or not).

![image](https://user-images.githubusercontent.com/1075160/50353504-16b2ac00-050e-11e9-9503-cb144ffe3ea6.png)

(The red arrow is the bug)

The reas

[2018-12-21 21:50] TacoGrandeTX commented on #8314
@RobMeades - Did installing the vector handler as suggested by @marcuschangarm fix the problem?  If so, can we close this question?

[2018-12-21 22:49] #8664 closed, assigned to nobody

[2018-12-23 01:04] AGlass0fMilk commented on #7674
Slowly working through test failures when I get the time... the USB test suite seems pretty thorough!

Currently passing the first two tests. Working on getting it to pass the third test (usb control sizes test).

[2018-12-23 09:01] davidsaada commented on #9145
First of all, I think that FAT file system is out of its natural neighborhood in this configuration. FAT FS is tailored to work with disks/SDs and not with NOR flash components. Dataflash components, which may produce some awkward erase sizes, may worsen the situation. That said, run time errors, like the one you see, are of course not acceptable.
I've tried reproducing the problem on my board (K6

[2018-12-23 09:09] davidsaada commented on #9145
FYI @dannybenor

[2018-12-23 10:57] screamerbg opened #9189 "Incorrect handling of build system components"
### Description

The build system incorrectly handles a use case where `"component_add": ["SD"]` is "emitted" from a library, e.g. `FEATURE_BOOTLOADER/mbed_lib.json`. The build system will correctly add `-DCOMPONENT_SD=1` macro, but it will not add relevant component folders to the include paths, thus fails to compile the codebase.

To reproduce:
1. `mbed import http://github.com/screamerbg/pelion

[2018-12-23 19:36] screamerbg opened #9190 "PR #9081 breaks Nuvoton M480 based targets for non-RTOS/baremetal mode"
### Description

PR #9081 breaks Nuvoton M480 based targets for when compiling for Mbed OS 2 library and also for baremetal (non-RTOS) profile. This is especially problematic as the http://github.com/ARMmbed/mbed-bootloader/ (and also http://github.com/ARMmbed/mbed-bootloader-extended/) make use of non-RTOS compilation mode.

Here's the compile error I'm getting:
[code]

CC @ccli8 @samchuarm

###

[2018-12-23 21:10] ciarmcom commented on #9190
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-362*

[2018-12-24 12:54] #9176 closed, assigned to kjbracey

[2018-12-24 13:55] bulislaw commented on #9153
Do we know what are the size implication of using softfp vs hardfp? I agree with Kevin's suggestion to use hardfp whenever possible.

[2018-12-24 14:32] RonEld opened #9193 "Mbed TLS version 2.16.0 breaks greantea tests build"
### Description

Import Mbed TLS version 2.16.0 to the repository ( this version does not have the psa-crypto features), and build the greentea tests, with `MBEDTLS_CHECK_PARAM` defined in the configuration, on a target, such as NRF52840_DK ( a target that doesn't support psa-crypto):
[code]
The build will fail with the following messages(for all tests::
[code]
The root cause is that the `MBEDTLS_

[2018-12-24 16:15] ciarmcom commented on #9193
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-363*

[2018-12-25 05:17] toyowata opened #9194 "[Seeed Wio 3G] cellular function is not working on the Mbed OS 5.11"
### Description

The Wio 3G has the Quectel UG96 module on the board and cellular function was working up to the Mbed OS 5.10.4, but it does not seem to work on the Mbed OS 5.11.

#### Result of mbed-os-example-cellular

[Mbed OS 5.10.x]
Version
[code]

Test result
[code]
[Mbed OS 5.11.0]
Version
[code]

Test result
[code]

More detail logs with trace
[code]

#### Result of automated tests for cel

[2018-12-25 06:02] cmonr commented on #9194
@ARMmbed/mbed-os-wan

[2018-12-25 06:25] ciarmcom commented on #9194
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-364*

[2018-12-26 02:39] ccli8 opened #9196 "ESP8266 CTS/RTS fails in stop_uart_hw_flow_ctrl()"
### Description

I am evaluating ESP8266 CTS/RST on Nuvoton target, for example on NUMAKER_PFM_M487. For this test, I have UART CTS/RTS/RST connected besides UART Rx/Tx, For enabling CTS/RTS and reset functions, I pass these pins to ESP8266 driver as below:

[code]

Without any change to ESP8266 driver, I am very easy to meet `_esp.stop_uart_hw_flow_ctrl()` failure:

**mbed-os/components/wifi\esp8

[2018-12-26 06:26] ciarmcom commented on #9196
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-365*

[2018-12-27 02:05] AGlass0fMilk commented on #7674
@c1728p9 I'm hitting an assert in the nordic driver during the `endpoint test data correctness`. See below assert in nordic driver (line 1921)

https://github.com/AGlass0fMilk/mbed-os/blob/ceb2bc064ee74e1345fc090b426293705419f423/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_SDK_14_2/drivers_nrf/usbd/nrf_drv_usbd.c#L1918-L1921

After some debugging, it seems the endpoint tester class is set up to crea

[2018-12-27 02:57] desmond-blue opened #9201 "BLE adding multiple services data to advertising packet"
### Description

For building BLE advertising packet, the API AdvertisingDataBuilder::addData() would be used to add AD elements. This API only allows each AD type being added once, however there are requirements for adding each AD type more than once, like multiple services data.

Currently we can use [this API](https://github.com/ARMmbed/mbed-os/blob/995725b50a7538e3f0b331823c0bd40a5691d9a5/feat

[2018-12-27 06:11] AdamZhang0124 commented on #8903
Hi @KariHaapalehto,
The problem that you spotted has been solved with the pull request #9202.
The test result is attached for your information.
Thanks!
[test_log.txt](https://github.com/ARMmbed/mbed-os/files/2711601/test_log.txt)

[2018-12-27 06:26] ciarmcom commented on #9201
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-367*

[2018-12-27 17:09] cmonr commented on #9093
@bearsh It would be interesting if you could look into measurements with this PR https://github.com/ARMmbed/mbed-os/pull/9019

@ARMmbed/mbed-os-pan Please take a look.

[2018-12-27 17:45] cmonr commented on #7674
@c1728p9 @fkjagodzinski Would y'all happen to know an answer to the above question?

[2018-12-27 20:07] bearsh commented on #9093
@cmonr will do so once I'm back at work... don't expect any results before 7th of January.

[2018-12-27 20:14] cmonr commented on #9153
@bulislaw I'd expect that code and ram sizes decrease since we're replacing software routines for hardware-accelerated opcodes.

[2018-12-27 20:22] cmonr commented on #9196
@ccli8 Updated your comment to ~~ass~~ _add_ color highlighting to c blocks. Makes it a bit easier to read. (Not sure where the <b></b> references came from in the edit tho...)

Also, would you be willing to try out v1.7.0 of the ESP FW and see if the issue still persists?

@ARMmbed/mbed-os-connectivity Fyi.

[2018-12-27 20:25] deepikabhavnani opened #9206 "Tracking issue for IAR 8 library updates"
### Description
Each library in the following list must be re-compiled with IAR EWARM 8.32 to support the upcoming Mbed OS release 5.12.0 and onward.
Please make pull requests containing the updated libraries to the branch `feature-iar8`.

Below is the list of libraries for various targets in Mbed OS, and failures noticed:

**### Green Tea build fails:**

- [x] UBLOX_EVK_ODIN_W2 - Build fails
- [x

[2018-12-27 20:26] cmonr commented on #9189
@screamerbg I take it the above instructions should be used with a particular sha for the `pelion-integration` repo? Also, is this for the ARMmbed repo, or your fork?

[2018-12-27 20:31] cmonr commented on #9193
@sbutcher-arm Fyi.

[2018-12-27 20:40] cmonr commented on #9206
@ARMmbed/team-ublox @ARMmbed/team-maximintegrated @ARMmbed/mbed-os-pan @ARMmbed/team-realtek  @kyliuxing @ARMmbed/team-silabs @ARMmbed/team-nxp

Fyi.

@screamerbg @MarceloSalazar @ashok-rao Fyi as well. Feel free to add/tag anyone else that's misssing.

[2018-12-27 20:52] deepikabhavnani opened #9207 "MCU_LPC546XX - breaks on master"
### Description

[code]

[2018-12-27 21:12] ciarmcom commented on #9207
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-369*

[2018-12-27 21:12] ciarmcom commented on #9206
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-370*

[2018-12-28 05:52] ccli8 commented on #9196
@cmonr I try 1.7.0 AT+CTS/RTS and the issue disappears. So upgrade to v1.7.0 AT is must?

**AT log of 1.7.0 AT**:

<pre>

Start WiFi test
Start Connection ...

Using WiFi

Connecting to WiFi..
AT> AT
AT? OK
%n
AT<
AT= OK

AT> AT+UART_CUR=115200,8,1,0,0
AT? OK
%n
AT= OK

AT> AT+RST
AT? OK
%n
AT= OK

</pre>

[2018-12-28 11:13] bulislaw commented on #9153
Yeah, i'm just curious to see what the difference is (not enough to try it though :D ). It would be also interesting to see how often people use FP (i'm guessing mostly to get measurements from sensors, that require divisions or PIDs).

[2018-12-28 13:18] AGlass0fMilk commented on #7674
A few questions:

### **1.)** Is there a place where general Mbed USB stack development conversation should go? Like a forum post for feature development or something?

### **2.)** Immediate Read During Configuration

@c1728p9 concerning the immediate read a few comments ago: I was looking into how to solve this compatibility issue, thinking I may be able to use the `configure` method of `USBPhyHw

[2018-12-28 14:25] fkjagodzinski commented on #7674
Hi @AGlass0fMilk, this is not a mistake. In fact, the USB spec prohibits non-zero `wMaxPacketSize` values for iso endpoints in the default interface altsetting. Regarding all other altsettings, `0` is  a placeholder value until the tests are updated.

A quote from USB 2.0 spec, paragraph 5.6.3:

[2018-12-28 16:30] AGlass0fMilk commented on #7674
My mistake, I'll have to read through the USB spec a bit more thoroughly.

[2018-12-28 16:48] deepikabhavnani commented on #9149
@jarlamsa - Feel free to add the PR of proposed solution. jarlamsa@3c23a74

[2018-12-28 17:04] cmonr commented on #9196
The connectivity team would be better able to answer, but we noticed a bunch of flow control issues dueing the 5.11.0 release that were vastly improved by updating the ESP32s to their latest firmware.

[2018-12-28 17:24] cmonr commented on #8322
Long term fix: https://github.com/ARMmbed/mbed-os/pull/9209

[2018-12-29 18:20] masoudr opened #9213 "STM32F4 Serial Fail"
### Description
I'm using DISCO F4 board (STM32f407VG) and a Quectel GSM modem to create a two-way serial communication to send AT commands from PC to vice-versa. I'm using default mbed Serial API but I only get 2 or 3 chars of any answer from the modem. I tried some buffered libraries like `MODSERIAL` and they worked fine.
Here is an example:
[code]
I get something like this in console output:

#

[2018-12-29 21:13] ciarmcom commented on #9213
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-371*

[2018-12-31 09:54] SeppoTakalo commented on #9196
@VeijoPesonen  @michalpasztamobica  Is this the same issue we were seeing with client pause-resume functionality?

[2018-12-31 10:01] SeppoTakalo commented on #9196
Probably fixed in https://github.com/ARMmbed/mbed-os/pull/9173

[2018-12-31 11:43] hasnainvirk commented on #9011
@einglis I agree with you. I am confident that resetting the _can_cancel_tx flag is not an issue as if there is a scheduled transmission in the pipe,  the stack will not let you cancel the transmission. And once it is done with transmission, it will flip the flag itself. So there is no need to reset it in the reset_mac_params() API.
I believe you can close the issue.

[2018-12-31 15:41] syhoangmai opened #9216 "Defining MBED_SLEEP_TRACING_ENABLED caused error"
### Description

I am optimizing power consumption for my device and following this api reference https://os.mbed.com/docs/v5.11/apis/power-management.html. I define the macro MBED_SLEEP_TRACING_ENABLED to get tracing info about locks preventing sleep mode, however doing so will broke the program entirely.

On NUCLEO-F767ZI and  DISCO-F746NG, both stuck at Ethernet initialization. mbed-os is at re

[2018-12-31 16:08] #9011 closed, assigned to nobody

[2018-12-31 16:18] ciarmcom commented on #9216
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-372*

[2018-12-31 16:41] hasnainvirk commented on #8921
@mattbrown015 Please note my apologies for late reply, didn't have any bandwidth earlier.
Thank you so much for the detailed list and we have investigated the issue. You are quite right about the core issue but not about what was causing it. Here is the PR with a fix https://github.com/ARMmbed/mbed-os/pull/9217
Please let me know if you have any feedback/suggestion.