[2019-01-02 01:11] ccli8 commented on #9196
@SeppoTakalo Yes. This issue is also what #9173 is addressing.

[2019-01-02 06:10] AmmadRehmatCUS commented on #9071
Does this scenario appears when the mbed traces are disabled?

[2019-01-02 08:15] michalpasztamobica commented on #9196
Surely, #9173 will fix this, as it completely removes the stop of hw uart flow control.
The symptoms are also same (commands timing out when we try to reconnect).
The question is: should we remove the stopping or should we call it twice in case it fails? I would go for removing, as it seems generally harmless (as discussed in #9173) and simplifies the code.

Perhaps some future version of AT firmw

[2019-01-02 09:05] jarlamsa commented on #9149
@deepikabhavnani, unfortunately that is not a proposed solution, it is just a temporary workaround. @kjbracey-arm, do you have some proposition for the fix before the #8445 is merged?

[2019-01-02 09:23] kjbracey commented on #9149
My current suggestion is to effectively cherry-pick some of #8445 and polish it off. I can spend some time doing that. My thing is a bit better than a "work-around", but I'd really rather not add the new API it requires to enable it.

[2019-01-02 09:57] kjbracey commented on #9153
Most people instinctively avoid FP, but some parts of the code base have quite a bit (eg LoRAWAN's timing code). And as long as they're avoiding `double` (not in HW normally) and sticking to `float` that's fine.

Size difference is negligible afaict - can be either slightly plus or minus depending on app.

This is only about the calling convention between functions - we're already using hardware f

[2019-01-02 11:39] geoffrey-vl commented on #9145
[code]

I'm a bit worried though about that BD erase size, shouldn't it be 512?

[2019-01-02 11:58] 0xc0170 commented on #9216
The error means "Operation Prohibited in ISR context" . Can you find the code that is triggering this?

cc @ARMmbed/mbed-os-ipcore

[2019-01-02 12:06] davidsaada commented on #9145
Thanks @geoffrey-vl. Will try to reproduce your problem now.
As for the erase size - it's probably OK. Dataflash components have awkward erase sizes.

[2019-01-02 12:19] 0xc0170 commented on #9213
cc @ARMmbed/team-st-mcd

[2019-01-02 12:50] kjbracey commented on #9213
An instantaneous `readable()` check is never going to be useable as a "should I finish reading" test. You'll need to have a proper framing mechanism, or if you don't have that, something with a finite timeout. You need to be waiting at least long enough for the next character to arrive.

`Serial` doesn't really handle input well, due to lack of buffering - use `UARTSerial` which buffers, or if act

[2019-01-02 13:29] maciejbocianski commented on #9075
fix is on the way

[2019-01-02 13:49] 0xc0170 commented on #9123
PR merged, this can be closed

[2019-01-02 13:49] #9123 closed, assigned to nobody

[2019-01-02 14:10] kjbracey commented on #9213
Alternatively, if you just want a "raw data pump" between two serial ports, rather than something specifically line-based, there is an example application in https://github.com/ARMmbed/mbed-os-5-docs/pull/745/files ("Poll example: Transfer bidirectional data between two ports, acting as a virtual link.")

[2019-01-02 14:25] kjbracey commented on #9216
Seems like `sleep_manager_sleep_auto` (called with ISR disabled) is calling `debug`, which calls `vfprintf` (claims a mutex).

It seems it should instead use `mbed_error_printf` to get interrupt-safe printing.

[2019-01-02 14:30] 0xc0170 commented on #9216
Will move this ticket to the core team.

[2019-01-02 16:35] theotherjimmy commented on #9138
@bridadan None. That sounds correct.

[2019-01-02 16:38] theotherjimmy commented on #9140
@srberard This will have to come with a documentation update that include a link for windows users to download make >= 4.

[2019-01-02 17:24] c1728p9 commented on #7674
Thanks for the work on the NRF52 USB stack @AGlass0fMilk. As for your questions:

Github is probably the best place for this. Mention me with @c1728p9 to ensure I see the messages.

Does the NRF52 require an explicit call to enter the configured state before reads and writes are allowed? If so, one possible solution is to save off the arguments and set a read pending flag if `read_start` is called

[2019-01-03 00:33] cmonr commented on #9201
@ARMmbed/mbed-os-pan

[2019-01-03 00:54] cmonr commented on #9196
@ccli8 Hope the above answers your question. If no update is provided, will consider this resolved once https://github.com/ARMmbed/mbed-os/pull/9215#discussion_r244758256 is merged.

[2019-01-03 01:14] ccli8 commented on #9196
@cmonr @michalpasztamobica Removing `stop_uart_hw_flow_ctrl()` in `_init()` or calling it twice are both OK per my test on 1.6.2 AT firmware.

[2019-01-03 02:22] AGlass0fMilk commented on #7674
@c1728p9
1.) All right, GitHub it is.

2.)
 Thanks for the idea, I'll look into that. The main problem is that, yes, the Nordic driver is returning `NRF_ERROR_BUSY` during `read_start`.

In the current hardware implementation, the USBD peripheral is normally in the disabled state until `connect` is called. Even then, the USBD peripheral won't be enabled until `NRF_DRV_POWER_USB_EVT_DETECTED` occur

[2019-01-03 02:30] AGlass0fMilk commented on #7674
Oops, accidentally submitted that last comment too early and closed the issue... I blame arcane GitHub keyboard shortcuts...

[2019-01-03 02:40] cmonr commented on #7674
@AGlass0fMilk Been there, but with a PR instead...

[2019-01-03 03:00] cmonr commented on #9071
@tommikas ^^^

[2019-01-03 03:56] cmonr commented on #8656
@ARMmbed/mbed-os-core @ARMmbed/mbed-os-hal Thoughts?

[2019-01-03 07:31] kjbracey commented on #9153
@theotherjimmy - Thanks for approving #9154. I understand that we prefer "hardfp ABI if using FP", but GCC remains using softfp just for backwards compatibility at this point. Is that right?

State after #9154:

*   IAR setup does not specify ABI, so hardfp is used if the selected CPU has FPU.
*   ARMC5 setup does not specify ABI, so hardfp is used if the selected CPU has FPU.
*   ARMC6 setup spec

[2019-01-03 08:22] jussisip opened #9228 "STM32 st-link reflash does not work in Mac OS X"
### Description

Any Mbedos Greentea test fails after reflashing the board. Flashing and single test will run successfully only once after power on / off for the board. Repeating the same test case run without power on / off is not possible.

Issue prevents to run Greentea tests in a row for Mbed OS locally with Mac OS X. Power cycling on / off is required between test cases in order to run them s

[2019-01-03 08:32] desmond-blue commented on #8000
This is related to #8548

[2019-01-03 09:13] paul-szczepanek-arm commented on #9201
addData is supported by:
    AdvertisingDataBuilder::replaceData
    AdvertisingDataBuilder::appendData
    AdvertisingDataBuilder::removeData
    AdvertisingDataBuilder::addOrReplaceData
    AdvertisingDataBuilder::addOrAppendData

[2019-01-03 09:26] 0xc0170 commented on #9228
cc @ARMmbed/team-st-mcd

[2019-01-03 09:29] mikisch81 opened #9230 "CMSIS importer has merge conflicts"
### Description

When running the CMSIS [importer](https://github.com/ARMmbed/mbed-os/blob/master/tools/importer/importer.py) on mbed-OS master branch there are merge conflicts when cherry-picking the [commit-SHA list](https://github.com/ARMmbed/mbed-os/blob/master/tools/importer/cmsis_importer.json#L146)

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-03 09:29] mikisch81 commented on #9230
cc @deepikabhavnani

[2019-01-03 09:30] maciejbocianski commented on #9075
It was easy to reproduce this fail, running test 20 times in loop
With the fix #9229 test passes (tested running 50 times in loop)

[2019-01-03 09:32] jeromecoutant commented on #9228
Hi

We are currently working on some ST Link FW issues.
We expect some patches soon.

@schstm

[2019-01-03 11:17] ciarmcom commented on #9230
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-375*

[2019-01-03 11:17] ciarmcom commented on #9228
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-376*

[2019-01-03 11:48] mprse commented on #8656
Hi @janjongboom! I checked the PR and I think that you need to adapt us ticker driver to the new standards first. The requirements can be found here:
https://github.com/ARMmbed/mbed-os/blob/51b8d6e59d17748ca477505e77a44a848ceef4c4/hal/us_ticker_api.h#L30-L104

You can run the following tests to check the us ticker driver:
- `tests-mbed_hal-common_tickers`
- `tests-mbed_hal-common_tickers_freq`
- `

[2019-01-03 13:02] mprse opened #9235 "K64F, K82F: failing storage tests when SD component is not available"
### Description

Issue found on master:
51b8d6e59d (HEAD -> master, upstream/master) Merge pull request #9187 from deepikabhavnani/iar8_build_failures

If the `SD` component is removed from components list of `K64F` and `K82F` targets in `targets.json` configuration file, then the following tests fail:

Test | Board | Compiler | Result
-- | -- | -- | --
features-storage-tests-blockdevice-general_b

[2019-01-03 13:30] 0xc0170 commented on #9235
cc @ARMmbed/team-nxp

[2019-01-03 14:55] michalpasztamobica opened #9240 "UBLOX_EVK_ODIN_W2 fails to initialize RTC in TLSSocket example"
### Description

Target: UBLOX_EVK_ODIN_W2
Toolchain: GCC_ARM, ARM, IAR
Tools: Just mbed-cli and this example: https://github.com/ARMmbed/mbed-os-example-tls-socket/
SHA of mbed-os: [51b8d6e](https://github.com/ARMmbed/mbed-os/commit/51b8d6e59d17748ca477505e77a44a848ceef4c4)

Steps to reproduce:
1) mbed import https://github.com/ARMmbed/mbed-os-example-tls-socket.git
2) Add "target.network-default

[2019-01-03 15:05] deepikabhavnani commented on #9230
@mikisch81 - Merge conflicts will be there since patches were applied on older version of CMSIS. As part of pulling in CMSIS code, we resolve the conflicts and update the last SHA's for reference.

Scripts helps in pulling the changes from CMSIS and to keep track of any needed changes over CMSIS code for Mbed OS. If we use the vanilla version of CMSIS it can be fully automated, but for now user ha

[2019-01-03 15:05] #9230 closed, assigned to nobody

[2019-01-03 15:19] michalpasztamobica commented on #9240
In case it helps, here is a backtrace of how the code gets from TLSSocket through mbedtls down to the RTC initialization:
[code]

[2019-01-03 15:22] melvinvdb opened #9242 "NRF52 BLE idle current consumption higher than expected"
### Description

Target: NRF52
Toolchain: GCC_ARM
Tools: Mbed OS 5.11 mbed-cli 1.8.3
mbed-os-example-ble: BLE_Beacon

#### Issue:
When using BLE, the current consumption is not as low as expected (14uA instead of ~3uA). The current is higher than the Nordic SDK example.

#### Steps to reproduce:
Used a SparkFun nRF52832 Breakout so only a NRF52832 is connected (this is also happening on my custom

[2019-01-03 15:26] SeppoTakalo commented on #9240
@ARMmbed/team-ublox Please review.

[2019-01-03 15:27] 0xc0170 commented on #9242
cc @ARMmbed/mbed-os-pan

[2019-01-03 16:32] janjongboom commented on #8656
@mprse, Thanks! Will take a look. Hope this will get me a bit further, although there seems to be an underlying issue with the IRQ firing on the Atmel.

[2019-01-03 16:35] klaas019 commented on #8906
Closing this issue, fixed with 5.11.1.

[2019-01-03 16:35] #8906 closed, assigned to nobody

[2019-01-03 17:18] davidsaada commented on #9145
@geoffrey-vl OK, managed to reproduce the problem (simulating your Dataflash component).
Problem is indeed related to the Dataflash sector size - FAT FS won't accept any sector size that's not a power of 2. See the code [here](https://github.com/ARMmbed/mbed-os/blob/f9e840efbd2d8526fe2bb388bf02bc04ca268d48/features/storage/filesystem/fat/ChaN/ff.cpp#L5576). As such, it practically won't support Da

[2019-01-03 17:31] geoffrey-vl commented on #9145
Hmmm, though I remember it was working in the past using mbed-os 5.7

[2019-01-03 17:38] davidsaada commented on #9145
Very easy to check (just by changing the hash in mbed-os.lib and running `mbed deploy`). Would surprise me though if it works - Don't think this code has ever changed (we just moved it to a new directory).

[2019-01-03 20:24] TacoGrandeTX commented on #8321
@Arjun765 Are there any outstanding issues with this - or can it be closed?

[2019-01-03 21:05] #8567 closed, assigned to nobody

[2019-01-03 21:14] cmonr commented on #8567
Fix was brought in: https://github.com/ARMmbed/mbed-os/pull/9066

[2019-01-03 21:15] TacoGrandeTX commented on #9116
@mertkapar We do see a problem with the "Update All" feature at the project level and will get this investigated.  If you do an "Update" with the Mbed library selected in the workspace, that operation does work so there is still a means to get the library updated.  Hopefully you've discovered this by now.

Thank you for reporting this.

[2019-01-03 21:16] ciarmcom commented on #9242
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-378*

[2019-01-03 21:16] ciarmcom commented on #9240
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-379*

[2019-01-03 21:16] ciarmcom commented on #9235
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-380*

[2019-01-03 21:34] cmonr commented on #9116
@adbridge When/what was the last Mbed 2 release?

[2019-01-03 22:39] deepikabhavnani commented on #9207
CC @ARMmbed/team-nxp

[2019-01-03 22:45] deepikabhavnani commented on #9206
`Target_WICED` was last updated by @ARMmbed/mbed-os-ipcore (https://github.com/ARMmbed/mbed-os/pull/8949).
Please have a look at IAR 8.x requirement and binary updates needed to support the same.

[2019-01-04 02:29] desmond-blue commented on #9201
Thank you Paul, your are right, these functions should be enough for this purpose, I didn't notice that.

[2019-01-04 02:29] #9201 closed, assigned to nobody

[2019-01-04 02:42] AdamZhang0124 commented on #8903
Hi @KariHaapalehto ,
The solution #9202 has been merged.
Please help to check if the solution is also working from your side, then this issue can be closed.
Thanks!

[2019-01-04 05:09] #8321 closed, assigned to nobody

[2019-01-04 09:00] samchuarm commented on #8903
Hi @KariHaapalehto , can you please review it and close the ticket if the reported issue is resolved? Thanks.

[2019-01-04 09:02] samchuarm commented on #8081
Hi @M-ichae-l , any update on this?

[2019-01-04 09:14] masoudr commented on #9213
@kjbracey-arm Thanks the first option worked for me.

[2019-01-04 09:14] #9213 closed, assigned to nobody

[2019-01-04 09:33] M-ichae-l commented on #8081
Hi, @samchuarm
I am not working on this issue right now. I will continue working on this issue when I have done others.

[2019-01-04 09:54] #8903 closed, assigned to nobody

[2019-01-04 09:55] KariHaapalehto commented on #8903
Ticket has been resolved

[2019-01-04 10:31] 0xc0170 opened #9254 "MCU_LPC546XX: libpower lib needs readme and license"
### Description

Tracking issue for missing readme and license file for libpower.a files for MCU_LPC546XX target. Already discussed in pull request that brought this, creating this so we do not forget to add these files

@ARMmbed/team-nxp

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-04 10:41] adbridge commented on #9116
v164 8 weeks ago, we are due a new release shortly. This looks like either a tools or references issue.
@theotherjimmy @th3james

[2019-01-04 10:42] jeromecoutant commented on #8967
Hi
What is the status of this issue ?
It is really not easy to read test reports with only OK status,
and then we need to check manually if each test is really OK or only SKIPPED...
Thx

[2019-01-04 11:17] ciarmcom commented on #9254
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-383*

[2019-01-04 13:03] jeromecoutant opened #9255 "FLASHIAP component tests failed"
### Description

With #8667 FLASHIAP component has been added for DISCO_L475VG_IOT01A and DISCO_L476VG

Tests are FAIL with 5.11.0

| target                      | platform_name       | test suite                                                                   | test case                                                                                         | passed | failed | result  | elapsed

[2019-01-04 13:12] 0xc0170 commented on #9255
cc @ARMmbed/mbed-os-storage

[2019-01-04 14:51] 0xc0170 commented on #9169
`[Error] cmd_ifconfig.cpp@27,2: #error [NOT_SUPPORTED] No network configuration found for this target.`

Missing target config for the test. You did not select which tests so all were built.

[2019-01-04 15:10] 0xc0170 commented on #9190
Above PR should address this, can be closed

[2019-01-04 15:10] #9190 closed, assigned to nobody

[2019-01-04 16:21] ciarmcom commented on #9255
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-384*

[2019-01-04 18:54] cwq9999 opened #9259 "Can no longer flash new code after Error Message: Mutex lock failed"
### Description

I received the error below on my device that used the STML476 MCU. The device uses an LPC11U35 for drag and drop flash programing. The drag and drop update no longer works since this error is occurring. Is there a way to reset/clear this error to allow reprograming?

++ MbedOS Error Info ++
Error Status: 0x80020115 Code: 277 Module: 2
Error Message: Mutex lock failed
Location: 0x8

[2019-01-04 19:43] cmonr commented on #9259
@cwq9999 Since this is a flashing issue, I think the proper repo is https://github.com/ARMmbed/DAPLink instead of Mbed OS.

[2019-01-04 21:15] ciarmcom commented on #9259
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-386*

[2019-01-04 22:50] deepikabhavnani commented on #9216
Yes all the `debug` calls in sleep manager for sleep tracing should be changed to `mbed_error_printf` since most sleep API's and calls are interrupt and thread safe.

Issue was seen only with `debug` profile and was not captured in `develop` profile because `MBED_TRAP_ERRORS_ENABLED` flag was not set in `develop` profile.

Fix in https://github.com/ARMmbed/mbed-os/pull/9260

[2019-01-06 02:27] dorduran commented on #8277
The same issue is exist for "Eclipse-GCC-ARM" exports (even with "mbed-os-example-blinky"). The build ends up with "mbed_config.h: No such file or directory".

Expected that all the export variants are being tested for error free builds automatically by Continuous Integration framework prior to any release.

[2019-01-06 08:52] kaiser-ren opened #9263 "BLE: Need API to get Data Length Extension status if it's Bluetooth 4.2 or above."
### Description
Data Length Extension (DLE) was introduced in Bluetooth v4.2, but this feature is optional which means that some kits are 4.2, but they don't have DLE feature.
So developer need API to get DLE status, when has DLE status, it's possible to estimate the top-proof of the connection throughput.

### Issue request type

    [ ] Question
    [x ] Enhancement
    [ ] Bug

[2019-01-06 10:17] kaiser-ren opened #9265 "mbed-os-example-ble-BatteryLevel, can be compiled on DISCO-L475VG-IOT01A, failed on NRF52_DK"
### Description

I use *mbed-cli* to compile **mbed-os-example-ble-BatteryLevel ** sample code, mbed-os is **v5.10.4**, compiler is **GCC_ARM**
I can compile the sample code when board is **DISCO-L475VG-IOT01A**.
But failed when target is **NRF52_DK**, the error is:

Elf2Bin: mbed-os-example-ble-BatteryLevel_application
b'C:\\Program Files (x86)\\GNU Tools ARM Embedded\\8 2018-q4-major\\bin\\arm-n

[2019-01-06 11:17] ciarmcom commented on #9265
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-387*

[2019-01-06 11:17] ciarmcom commented on #9263
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-388*

[2019-01-06 11:53] orenc17 opened #9266 "Astyle in travis doesn't use .astyleignore"
### Description

Changes made to `.travis.yml` causing astyle to run on files that are in `.astyleignore`
the commit af4af430a2a65e298df0ffc59227eb38a4725bb4 is causing this breakage

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug
@cmonr

[2019-01-06 11:55] davidsaada commented on #8967
Don't think it's currently assigned to anyone. Believe it should fall under @ARMmbed/mbed-os-test-team's responsibility.

[2019-01-06 16:21] ciarmcom commented on #9266
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-389*

[2019-01-07 07:59] vidavidorra opened #9270 "Cellular usage (and information) on mbed-os 5.11.x"
### Description

In mbed-os v5.11.0 the `EasyCellularConnection` class has disappeared without direct mention of that in the release logs, other than major cellular refactoring, so I'm guessing it was part of that. Anyhow, I'm now using the `CellularBase` instead, but tried `CellularContext` too, which somehow takes a lot longer to create a cellular connection. I'm using it with the mbed-os PPP an

[2019-01-07 08:31] 0xc0170 commented on #9270
Is this refactoring well explained in the git history? What did help you to refactor your code? I am interested in docs improvements.

cc @ARMmbed/mbed-os-wan

[2019-01-07 08:44] vidavidorra commented on #9270
@0xc0170 Well, I just looked at the source code in `features/cellular/framework/API`. That's what kind of helped me, later I saw something about the cellular example in one of the Git tickets so took a look at that and saw it uses `CellularBase`. I haven't looked at the git history too much, more at the release notes, but that doesn't directly mention anything about the `EasyCellularConnection`. E

[2019-01-07 09:03] syhoangmai commented on #8678
Hi, I am also having the same question as I am needing to use PSK mode, but for DTLS instead of TLS.

[2019-01-07 09:26] 0xc0170 commented on #9270
mbed-os-wan team will review this issue

[2019-01-07 09:54] geoffrey-vl commented on #8415
I must confirm that setting up a project for compiling and debugging on vscode (windows) can be quite a daunting task since multiple problems have to avoided:
* make doesn't work by default on win10 due to file path restrictions combined with any mbed applications that are complexer than blinky
* custom targets can't be flashed using -f option since they can't be auto detected
* finding the correc

[2019-01-07 10:06] AnttiKauppila commented on #9270
@AriParkkila Can you handle this?

[2019-01-07 10:13] jeromecoutant opened #9272 "Block device test : skip multi thread part in case of small RAM"
### Description

Target: NUCLEO_L073RZ (small RAM) + cishield

features-storage-tests-blockdevice-general_block_device is OK, except for multi thread, as RAM is not sufficient.

| target            | platform_name | test suite                                              | test case                                | passed | failed | result | elapsed_time (sec) |
|-------------------|--------------

[2019-01-07 10:15] davidsaada commented on #9272
Will try to find time for it.

[2019-01-07 10:22] mattbrown015 commented on #8921
Hi @hasnainvirk, obviously we've had a good discussion in #9217 but I had another thought on the way into work...

What about my assertion above that `is_last_tx_join_request` isn't doing what its name implies?

Even with what is a relatively long variable name it is still difficult to be certain what the original programmer intended.

[2019-01-07 10:48] 0xc0170 commented on #8967
This was assigned internally to test team.

[2019-01-07 10:49] 0xc0170 commented on #9263
cc @ARMmbed/mbed-os-pan

[2019-01-07 10:49] 0xc0170 commented on #9265
cc @ARMmbed/mbed-os-pan

[2019-01-07 10:51] geoffrey-vl commented on #9145
I can confirm it was working in the past.
mbed-os 5.7.5: 569159b784f70feaa32ce226aaca896fb83452f7
sd-driver: f4ab55df7768cfcb049b522bebd30218ee729c81
dataflash-driver: efcb8a1a5c11225028b175b64af4149532e3ef97

[code]

[2019-01-07 10:53] 0xc0170 commented on #8277
http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/artifacts/9252/1/exporter/PASS/gnuarmeclipse/ - one of the latest tests for exporters. It passed.
How to reproduce `"Eclipse-GCC-ARM" exports` - can you share steps to locally reproduce this failure?

[2019-01-07 10:57] hasnainvirk commented on #8921
@mattbrown015  The name is misleading. Will get to it ASAP. It should be `is_tx_join_request`. There is at least one place where it is set uselessly. The idea is that we always enable backoff for Join Requests even when the DC is disabled (e.g., for test or certification purposes, although you can even turn that off by explicitly saying it via a compile time switch).

[2019-01-07 11:06] #8881 closed, assigned to nobody

[2019-01-07 11:19] ciarmcom commented on #9272
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-392*

[2019-01-07 11:19] ciarmcom commented on #9270
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-393*

[2019-01-07 11:45] 0xc0170 commented on #9259
Moved to https://github.com/ARMmbed/DAPLink/issues/563

[2019-01-07 11:45] #9259 closed, assigned to nobody

[2019-01-07 12:00] davidsaada commented on #9145
Thanks @geoffrey-vl. It appears from your prints that the culprit is the dataflash driver, reporting two different erase sizes on the same component. Will investigate.

[2019-01-07 12:09] embeddedteam103 commented on #9112
Is there a TODO list for the PR? We want to help.

[2019-01-07 12:34] geoffrey-vl commented on #9145
But they're 2 different block-devices so that's OK? Erase size remains the same per block-device when switching mbed-os versions

[2019-01-07 12:40] bearsh commented on #9093
ok, I've done the measurements and it seems to be worse than before, no it wakes up **every 1.53ms**.

I wondering how the wakeup in the softdevice can be adjusted...

[2019-01-07 12:41] davidsaada commented on #9145
Sorry I overlooked that in your prints - thought the first erase size belonged to dataflash. Will look at the changes in the FAT FS code then.

[2019-01-07 12:46] embeddedteam103 opened #9275 "TCPSocket sigio callback does not specify the event type (LWIP stack)"
### Description

I'm trying to detect when a socket closes using the `sigio` callback, but unfortunately the `LWIP` event
type is straight up ignored by mbed.
As there's no `poll` for sockets i basically have no way to know whether the connection is active (except for trying to send data which is not ideal).
Is it on purpose? if it is then what is motive?

Thanks in advance.

### Issue request typ

[2019-01-07 13:09] AriParkkila commented on #9270
@vidavidorra I guess you could use CellularContext::get_default_instance() and CellularDevice::get_default_instance() like you already found out.

It should make no difference if you connect using `CellularBase` or `CellularContext`. The reason could be that some cellular configuration somehow changes, see defines in _mbed_config.h_ at the BUILD folder.

Can you get debug traces when you query SIM

[2019-01-07 13:10] kjbracey commented on #9275
This is on purpose - many stacks don't give any useful information. And it's consistent with normal Unix/POSIX behaviour. Plus it means that socket events don't have to be queued - they contain no information, so they are squishable "flags" (per-socket).

You are expected to find out that a socket has been closed by the return value from a `send` or `recv` - the read or write call will indicate vi

[2019-01-07 13:18] kjbracey commented on #9275
It's also consistent with the POSIX socket API being "blocking/non-blocking" rather than "synchronous/asynchronous". You can entirely drive the system using blocking calls, and looking at their return value. You don't need to have an event handler to pick up any information - it's all in the return values.

[2019-01-07 13:32] bearsh opened #9276 "nrf52: after disconnect, device doesn't go into sleep again"
### Description

BLE_HeartRate example, release profile, advertising interval changed to 250ms: during advertising, the current consumption is about 76uA. Once connected the controller keeps alive (I don't know if that's normal) and draws a little more then 3.3mA. But once disconnected, it still draws 3.3mA. Furthermore the spike while sending the advertisement packet is much higher (around 9mA co

[2019-01-07 13:36] pan- commented on #9263
@kaiser-ren We plan to introduce something a bit different: right after connection we want to initiate an MTU negotiation between the ends of the connection. The GATT client (I'm not so sure for server) APIs already take advantage of the MTU size negotiated so there is nothing else to worry about from a developer perspective.

@paul-szczepanek-arm Would it be possible to expose a public API to get

[2019-01-07 16:07] #9196 closed, assigned to nobody

[2019-01-07 16:25] ciarmcom commented on #9276
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-394*

[2019-01-07 16:25] ciarmcom commented on #9275
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-395*

[2019-01-07 16:45] elm3 commented on #8523
is the ST team (@ARMmbed/team-st-mcd) reviewing or aware?

[2019-01-07 16:50] elm3 commented on #8399
@ARMmbed/team-st-mcd

[2019-01-07 16:58] elm3 commented on #8558
@ARMmbed/team-maximintegrated

[2019-01-07 17:00] LMESTM commented on #8399
@Arjun765
By calling  HAL_RTC_SetAlarm_IT you're bypassing mbed Time layer so this is not recommended to do so. You should rather use mbed APIs.

mbed is designed so that you can program any timer and mbed-os is in charge of programing RTC or low power tickers to wake-up the system when needed, you don't have to program an RTC alarm explicitly.

There have been many similar discussions for instanc

[2019-01-07 17:01] davidsaada commented on #8513
@jeromecoutant Is this reproduced?

[2019-01-07 17:12] elm3 commented on #8320
All the PR's have been merged...do we think this is fixed?

[2019-01-07 17:29] davidsaada commented on #9145
OK, found the reason: [This commit](https://github.com/ARMmbed/mbed-os/commit/a2a7c28191b78878336b9fe6d4436c99d1adf2b4#diff-52b327bd0fd82d955f58c633e7614fb0), upgrading ChaNFs to release R0.13a (from Nov 10, 2017), added the verification that sector sizes should be aligned to powers of 2. [This line](https://github.com/ARMmbed/mbed-os/commit/a2a7c28191b78878336b9fe6d4436c99d1adf2b4#diff-52b327bd0f

[2019-01-07 19:07] geoffrey-vl commented on #9145
Thanks. Either that, or make sure it properly documented. For us it is not a requirement to work just something handy to include in testing and comparing storage options.

[2019-01-07 19:28] theotherjimmy commented on #8277
@0xc0170 That's not `eclipse_gcc_arm` that's `gnuarmeclipse`, further this is an online-compiler-only problem.

[2019-01-07 20:18] dorduran commented on #8277
To generate,

Use the program "mbed-os-example-blinky" in the online compiler.
Target platform is "NUCLEO-F429ZI"

Export the program;
"Export Target:" "NUCLEO-F429ZI"
"Export Toolchain:"  "Eclipse-GCC-ARM"

The export process generates;
"mbed-os-example-blinky_eclipse_gcc_arm_nucleo_f429zi.zip" package

Build the unzipped source tree and build in Eclipse.

The issue is in the "makefile" of the pa

[2019-01-07 20:27] theotherjimmy commented on #8277
Thanks @dorduran. I need to build an offline test case that has the same property as your online steps so that we fix this and it stays fixed.

[2019-01-07 23:51] Alex-EEE opened #9281 "lfs_emubd.c needs to be ignored?"
### Description

mbed compile tries to build "lfs_emubd.c," which I think should only apply to PC unit tests?  Should this be added to a .mbedignore file?  From my log:

Compile [ 81.9%]: lfs_emubd.c
[Fatal Error] lfs_emubd.c@14,0: [Pe1696]: cannot open source file "dirent.h"

This might slip through building with ARM, but I don't think IAR has this h file.

### Issue request type

    [ ] Questio

[2019-01-08 02:33] ciarmcom commented on #9281
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-397*

[2019-01-08 05:45] kaiser-ren commented on #9263
@pan- Thanks for the update. It would be awesome to have APIs to get negotiated ATT_MTU size, but it's not enough for developers to calculated throughput. For example when ATT_MTU is 185 bytes:
* if each ATT packet length is 27 bytes, for 185 bytes MTU, it needs **7** packets;
* if each ATT packet length is 247 bytes (like I mentioned before, DLE is enabled), for 185 bytes MTU, it just needs **one

[2019-01-08 05:49] kaiser-ren commented on #9263
And I just did a test between Nordic nRF52840 and iPhone8:
*connection interval is 50ms
*ATT_MTU is 185 byte
The difference of DLE-enable and DLE-disable:
* when I set packet length is 27 bytes (DLE diable), the throughput is about 48.27 kbps;
* when I set packet length is 247 bytes (DLE enable), the throughput is about 135 kbps;

So, API about data packet length is important.

[2019-01-08 06:12] kaiser-ren commented on #9265
Just verified, I used incorrect compiler, the target GCC should be v6 q2 2017.

[2019-01-08 06:12] #9265 closed, assigned to nobody

[2019-01-08 06:30] vidavidorra commented on #9270
@AriParkkila Thanks for the information. I'll try and check the difference between `CellularBase` and `CellularContext`. Which one of those do you suggest using, regarding future development, will both stay in the codebase for a while?

I'll verify this today and post back the results. As for the file handle argument to `CellularDevice::open_information()`, is that optional in this case, so should

[2019-01-08 07:07] Vanireddy6 opened #9282 "Getting "COM14 CMD timeout: ifup" when trying to run netsocket tests on DISCO_L475VG_IOT01A board through icetea"
**Description:**

- Type: Bug
- Priority: Major

**TEST CASES FAILED**:

1. SOCKET_BIND_PORT
2.TCPSERVER_ACCEPT
3.TCPSOCKET_ACCEPT
4.TCPSOCKET_ECHOTEST_BURST_SHORT

**STEPS TO REPRODUCE**:

1. Imported "mbed-os-example-sockets" example and downloaded "wifi-ism43362" drivers using "mbed add" comand.
2.Added WiFi credentials (SSID & PASSWORD) in "ISM43362Interface.JSON" and "HeapBlockDeviceAndWifiIn

[2019-01-08 07:19] AriParkkila commented on #9270
@vidavidorra `CellularContext` has some extended functionality (e.g. non-IP), but if don't need those you can use `CellularBase`. `CellularBase` is renamed (deprecated) in Mbed OS 5.12 in favor for `CellularInterface`. The both are maintained for now, but `CellularBase` being much simpler is likely also more stable.
You need to give filehandle when calling `CellularDevice::open_information(filehan

[2019-01-08 09:03] janjongboom opened #9285 "Why is SDBlockDeviceDriver in a component"
### Description

As far as I can see the SDBlockDeviceDriver does not have any overhead when not used. Why is this in a component then? This makes discoverability much harder, as even I need to look up the components_add syntax. See also the comments in https://os.mbed.com/questions/82718/SDBlockDevice-does-not-work-with-mbed-51/?c=31992.

I think this was not the case for Mbed OS 5.10.

### Issue

[2019-01-08 09:38] vidavidorra commented on #9270
@AriParkkila There is no function available in `CellularBase` and `CellularContext` as far as I know to get the file handle so I had to add the snippet below to `CellularBase` to get the file handle. Is that how it's suppose to go. Could you please advice on how I should get the file handle to pass to `CellularDevice::open_information()`? I forgot to mention that in OP.

[code]

[2019-01-08 10:20] AriParkkila commented on #9270
@vidavidorra it seems that Mbed OS 5.11 already has filehandle parameter optional. When calling `open_information` with NULL it uses the device's default filehandle.

[2019-01-08 11:20] ciarmcom commented on #9285
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-399*

[2019-01-08 11:20] ciarmcom commented on #9282
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-400*

[2019-01-08 12:05] srberard commented on #9140
@theotherjimmy  Thanks for the update.

I'm not sure I understand your comment.  Why is this a documentation update vs. a fix to the makefile or export process?

[2019-01-08 12:50] bearsh commented on #9276
The same also happens if I set a advertising timeout. Once the timeout is reached, advertising stop but current consumption increases dramatically.

[2019-01-08 14:56] markus-becker-tridonic-com commented on #8741
our testing with coapthon is on-going.

[2019-01-08 14:58] 0xc0170 commented on #8320
I believe we can close, and if it comes back reopen but shall not!

[2019-01-08 14:58] #8320 closed, assigned to nobody

[2019-01-08 15:10] 0xc0170 commented on #9153
I would give it a shot . We can check how many libs are there for M4F/M7F  - I can think of at least Odin that we could test?

[2019-01-08 15:48] 0Grit commented on #9285
I still wonder what the component concept is implying.

optional software component?
driver for external IC component?

[2019-01-08 16:09] jeromecoutant commented on #9147
Need https://github.com/ARMmbed/wifi-ism43362/issues/31

[2019-01-08 16:30] theotherjimmy commented on #9140
@srberard It's both. We should document a location for obtaining a compatible implementation of make in addition to taking the PR that updates the make exporter.

[2019-01-08 17:01] pan- commented on #9263
@kaiser-ren We intend to provide both information: packet size and ATT_MTU size in the form of events as the value is negotiated by both ends. DLE negotiation is enabled by default on ports using the cordio stack; it should be enabled for builds using the Cordio link layer on Nordic targets. For softdevice build I don't think it is enabled yet.

[2019-01-08 17:07] srberard commented on #9140
Awesome.  Thanks for the clarification.

[2019-01-08 17:39] cmonr commented on #9266
Ah! Missed that. Good catch.

Closing since fix has been merged.

[2019-01-08 17:39] #9266 closed, assigned to nobody

[2019-01-08 20:40] klaas019 opened #9294 "EventQueue is Blocking"
### Description

As far as I understand the Event Queue was designed to defer ISR code to a different context.  This allowed less code to be in ISR. The code in the ISR needs to finish as fast as possible, to allow other interrupts to be handled.

I am having some issues related to interrupts firing and the event queue not working as expected. The problem is in mbed-os/events/equeue/equeue_mbed.cp

[2019-01-08 21:20] ciarmcom commented on #9294
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-401*

[2019-01-09 01:23] kaiser-ren commented on #9263
@pan- I'm so glad to hear it: providing both information.
Just for your reference, I think s140 softdevice uses below function for DLE.
`

uint32_t sd_ble_gap_data_length_update | ( | uint16_t | conn_handle,
-- | -- | -- | --
  |   | ble_gap_data_length_params_t const * | p_dl_params,
  |   | ble_gap_data_length_limitation_t * | p_dl_limitation
  | )

`
Detail please refer to Nordic document cente

[2019-01-09 02:19] prowan opened #9298 "Why there are two different AT command components ?"
### Description
Since both of them are dealing with AT commands, why ATHandler and ATCmdParser these two different components are set up ? What is the difference between them? Can they replace each other?

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2019-01-09 04:34] Vanireddy6 opened #9299 "How to write and execute testcases for ble apps through icetea in mbed?"
I have started  testing Mbed BLE applications like Ble_Heartrate,Battery service...
I have to write testcases for BLE API's and test through ICETEA, but i am not finding any example to refer.
Could you please let me know , how to write testcases and run icetea on that?

[2019-01-09 06:00] AdamZhang0124 commented on #7246
Hi, since this issue is related to our target, I would like to ask if this issue can be closed. We are trying to minimize the open issues that related to our target.
Thanks.

[2019-01-09 06:23] #8962 closed, assigned to nobody

[2019-01-09 06:34] ciarmcom commented on #9299
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-405*

[2019-01-09 06:34] ciarmcom commented on #9298
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-406*

[2019-01-09 08:10] kjbracey commented on #9294
The critical section is what makes the event queue routines safe to call from interrupts.   It locks out interrupts from running during that period.

A mutex cannot be used to protect against interrupts - unlike a thread, an interrupt (on the same CPU) can't block and wait for someone else to release the mutex. Because IRQs can't block, the only thing you can do is mask them out to stop them being

[2019-01-09 08:39] prowan commented on #9298
I am trying to pen this link https://jira.arm.com/browse/MBOCUSTRIA-406
but I got
![image](https://user-images.githubusercontent.com/21994103/50886932-c358bd00-142c-11e9-8c84-2f080d498b08.png)

Is there any other style to open the link ? Thanks a lot !

[2019-01-09 09:37] SeppoTakalo commented on #7246
This has already been fixed in Mbed OS 5.9.2.

Can be closed.

[2019-01-09 09:37] #7246 closed, assigned to nobody

[2019-01-09 09:50] AdamZhang0124 commented on #7246
Noted with thanks.

[2019-01-09 10:12] hasnainvirk opened #9303 "rtos: ThisThread::flag_wait_all() doesn't work with multiple flags"
### Description

ThisThread::flag_wait_all() should work with any number of flags specified.
However, if you are looking for multiple flags, it doesn't work. Here is the example code

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X ] Bug

[2019-01-09 10:12] hasnainvirk commented on #9303
@kjbracey-arm Please have a look.

[2019-01-09 10:13] kjbracey commented on #9303
Don't you want `wait_any`? `wait_all` will wait for both flags to be set.

[2019-01-09 10:16] hasnainvirk commented on #9303
Ah, alright, I read the document in wrong way. I thought, wait_all means wait for one of the given signals. Closing this.

[2019-01-09 10:16] #9303 closed, assigned to nobody

[2019-01-09 10:17] kjbracey commented on #9303
BTW, if you're in a "use `ThisThread`" sort of mood, then `wait_ms` should be `ThisThread::sleep_for(1000)`.

[2019-01-09 10:29] marcuschangarm opened #9304 "Exception handling enabled by default"
### Description

Did C++ exception handling get enabled by accident?

[code]

Mbed OS sha: c27dabe7652069cd4660dc72ab9fb557c8a463f4
Build profile: default

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-01-09 10:32] kjbracey commented on #9304
I would like to think we noticed that large a library growth. Are you perhaps linking with a binary library that was compiled with exceptions enabled?

Which target, and are you seeing this with an example app? GCC version?

[2019-01-09 10:35] marcuschangarm commented on #9304
Target: K64F
GCC: arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

I'm building the internal PDM client example.

[2019-01-09 10:49] kjbracey commented on #9304
It's possible that someone in the client app or middleware is calling a C++ library function that does throw exceptions.

Perhaps they're using `std::vector` or something? In Mbed OS we don't use any of the STL container bits.

I know libstdc++ has a `__cpp_exceptions` flag that can tell it to [avoid exceptions](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_exceptions.html) and do `abort`

[2019-01-09 10:52] kjbracey commented on #9304
[This discussion](https://answers.launchpad.net/gcc-arm-embedded/+question/423447) suggests normal library has exception support on and the nano library has it off. We only use the nano library if "MBED_RTOS_SINGLE_THREAD" is defined.

[2019-01-09 11:21] ciarmcom commented on #9304
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-408*

[2019-01-09 12:10] kivaisan commented on #6850
Since assert now uses generic mbedos error info and expression info is shown correctly, I close this issue as fixed.

[2019-01-09 12:10] #6850 closed, assigned to kjbracey

[2019-01-09 12:31] jeromecoutant commented on #9255
Fixed by #9268

[2019-01-09 12:31] #9255 closed, assigned to nobody

[2019-01-09 15:55] 0xc0170 commented on #9298
It's internal ticket reference.

cc @ARMmbed/mbed-os-wan

[2019-01-09 16:23] jamesbeyond commented on #9240
This is a know issue for Ulbox. basically the RTC require a second oscillator which is not connected by default. You need short the Jumper21 on Odin board to get it connected, that will get ride of the crash.
for more info, you can check ticket IOTPART-6580 on Jira for more info. @michalpasztamobica

[2019-01-09 18:18] bmcdonnell-ionx opened #9314 "Mbed OS on FreeRTOS?"
### Description

What would be involved in enabling Mbed OS to run on FreeRTOS (in place of RTX5)? Are there any plans to facilitate or support this?

I see that [RTX5 implements](http://www2.keil.com/mdk5/cmsis/rtx) the [CMSIS-RTOS v2 API](http://arm-software.github.io/CMSIS_5/RTOS2/html/index.html). [CMSIS-FreeRTOS](https://github.com/ARM-software/CMSIS-FreeRTOS) also exists as another [implemen

[2019-01-09 23:49] TacoGrandeTX commented on #9093
@bearsh We've brought up a nRF52840_DK system using the Nordic Power Profiler Kit and have made some measurements using the Heart Rate Monitor Example (on v5.10.4 with the v14.2 SDK).  We aren't seeing the same periodic pattern as you are when the processor is idle.

To get the best baseline numbers possible, we've removed the printf() and LED toggling and attached are waveforms when advertising.

[2019-01-10 06:15] #9216 closed, assigned to deepikabhavnani

[2019-01-10 07:17] vidavidorra commented on #9270
@AriParkkila Apologies for the late reply. I've had problems with my build. Normally I'd build using the release profile, but now needed to build using the debug profile to get those AT debug messages. That  turned out to give a hardfault for some rtx mutex error, but didn't have the time to look into that much further.
Now I've ended up building the release profile but with some debug manually en

[2019-01-10 07:37] michalpasztamobica commented on #9240
I confirm - when I inserted the jumper the error is gone. Thank you, @jamesbeyond !

Out of curiosity... my UBLOX_EVK_ODIN_W2 board has an STM32F103CBT6 microcontroller. According to the [datasheet](https://www.st.com/resource/en/datasheet/cd00161566.pdf) it has a "32 kHz oscillator for RTC". In the RTC chapter 2.3.14 of this document I also read that both an internal or external oscillator can be

[2019-01-10 07:53] jarvte commented on #9270
After data mode is entered it's not possible to send at commands.
AT+CGDATA="PPP",1 enters the data state. You should get model before that.
In the beginning of the log model is shown fine.

[2019-01-10 08:35] bearsh commented on #9093
thanks @TacoGrandeTX for looking into this.

I've redone the measurements but getting the same results. My board is the ublox NINA-B3 Evk, the current is measured with a Agilent 34410A. I will also redo the measurements with our prototype board (once ready) with a NINA-B3 module.

Looking at your screenshots, the consumption still seems to high compared to what Nordic estimates in their [Online Po

[2019-01-10 09:15] 0xc0170 opened #9322 "Doxygen CI check should report warnings, not only errors"
### Description

See this job: https://travis-ci.org/ARMmbed/mbed-os/jobs/477345635 . There are lot of warnings that should not be there!

I would propose the way we did astyle, do it in few steps:

1. warning number in the pull request reported (would be now around 160)
2. clean-up to get to 0, document that doxygen should not generate any warning
3.  warning -> error

cc @melwee01 @AnotherButler

[2019-01-10 09:16] 0xc0170 commented on #9322
@ARMmbed/mbed-os-test Can you help enabling this?

[2019-01-10 09:16] blind-owl commented on #9298
This issue is managed here:
https://os.mbed.com/questions/84014/How-to-choose-between-ATHandler-and-ATCm/

[2019-01-10 10:36] jamesbeyond commented on #9240
It is a Low Power Oscillator. it was designed to be used when wifi chip go into lowpower mode. based on on the [UserGuide](https://www.u-blox.com/sites/default/files/EVK-ODIN-W2_UserGuide_%28UBX-16007132%29.pdf). but they also mentioned if the LPO is not connected, it will try to use the MCU internal one. So It seems Ublox design changed STM MCU RTC behaviour. As for the reason, I am not very clea

[2019-01-10 10:54] samchuarm commented on #9069
Hi @ccli8 , is this still an issue? What's pending? Thanks.

[2019-01-10 12:17] 0xc0170 commented on #9314
This is related and taking it more generally: https://github.com/ARMmbed/mbed-os/issues/9139 where we can continue to keep track (there are few issues related to this still opened in this repo and also in CMSIS_5).

[2019-01-10 13:34] OPpuolitaival commented on #9322
doxygen doxyfile_options 2>&1 | wc -l
257

@0xc0170 what we should do?

[2019-01-10 13:35] vidavidorra commented on #9270
@jarvte Thanks for your reply. That makes a whole lot of sense!

How am I supposed to power on the module myself then? What I'm doing at the moment is calling `CellularBase::connect()` to make the connection and the snippet from my previous comment after that. To my knowledge, the `connect` call takes care of powering on the modem, so before calling that, the modem is actually powered off. While i

[2019-01-10 13:43] 0xc0170 commented on #9322
Increased that much or my initial number from Seppo was not correct? anyway, no more new warnings
I would propose to report the number in PR (similar to what we had in astyle)

Start tracking warning number , no more new doxy warnings, so if we can get the number in each PR (+/-) plus also total (until we get to 0).

`travis-ci/docs Passed, 257 total warnings, +/- 0 warnings in this PR`  ?

[2019-01-10 14:48] seppestas opened #9338 "Stream::write and Stream::read are not public"
### Description

Mbed features the `Stream` class. This class provides "streaming" functionality to `FileLike` drivers like e.g the Serial driver, allowing them to use things like `printf` and `scanf`.

Using the `Stream` class in device drivers for e.g a UART device offers a lot of flexibility vs using the overloading class like the `Serial` class since it allows to use the same driver for multip

[2019-01-10 14:48] pan- commented on #9093
@bearsh Measurement from @TacoGrandeTX look better than the one I estimated in the online profiler:

![screenshot 2019-01-10 at 14 38 32](https://user-images.githubusercontent.com/409941/50975550-cfed1c00-14e5-11e9-90f9-db099d2d83b8.png)

DC/DC is not enabled by default as depending on the actual hardware it may or may not be available. It help for the power consumption; you can try it by calling

[2019-01-10 15:04] screamerbg commented on #8783
@TacoGrandeTX Does this answer your question? Mbed OS 5.11.1 contains patch to address this.

[2019-01-10 15:10] bmcdonnell-ionx commented on #9133
Maybe relevant:
https://github.com/janjongboom/mbed-os-example-blinky-no-rtos

[2019-01-10 15:10] bearsh commented on #9093
@pan-, I've never worked with the hw power profiler (not the online version) but for me it seems the average current of about 18uA in TacoGrandeTX's screenshot is referenced only to the highlighter area and not to the whole x axis. But I glad to be proven wrong...

I know about the DC/DC converter and this seems to work just fine.

[2019-01-10 15:38] bmcdonnell-ionx commented on #8997
Check for [patches](http://elm-chan.org/fsw/ff/patches.html), too.

[2019-01-10 16:07] fluidblue commented on #9123
@0xc0170 I still can't get it to compile.

Currently, library build "e95d10626187" (2018-09-06) is used.
When issuing `mbed update`, it states this is the latest version.
When using `mbed update --latest-deps`, it updates to "3a7713b1edbc" (2018-11-08).
However this is still not an up-to-date version.

How can I obtain the latest revision that includes the fix in this issue?

[2019-01-10 16:25] TacoGrandeTX commented on #8783
@screamerbg Yes - will close.  Thanks for the followup.

[2019-01-10 16:25] #8783 closed, assigned to nobody

[2019-01-10 16:27] ciarmcom commented on #9338
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-409*

[2019-01-10 16:28] ciarmcom commented on #9322
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-410*

[2019-01-10 16:28] ciarmcom commented on #9314
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-411*

[2019-01-10 17:31] pfalcon opened #9343 "Typos/thinkos in smsc9220_eth_drv.h"
### Description

I'm working on MPS2 board Ethernet driver for Zephyr RTOS. We started with mbedOS driver as a starting point, which as far as I can tell, by now is "old" driver, we used files:

* targets/TARGET_ARM_SSG/TARGET_CM3DS_MPS2/device/drivers/smsc9220_eth.h
* targets/TARGET_ARM_SSG/TARGET_CM3DS_MPS2/device/drivers/smsc9220_eth.c

As far as I can tell, those are by now replaced by other (

[2019-01-10 18:25] TacoGrandeTX commented on #9093
@bearsh I'm not familiar with the Ublox NINA EVK family but just got my hands on a NINA-B1 and should have some data tomorrow.

Yes - in my testing I noticed that the current remains high after disconnecting.  I need to collect more data before commenting.

[2019-01-10 18:57] pfalcon commented on #9343
For reference, Zephyr driver PR is at https://github.com/zephyrproject-rtos/zephyr/pull/11680

[2019-01-10 21:20] ciarmcom commented on #9343
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-415*

[2019-01-10 23:05] bmcdonnell-ionx commented on #9139
Potentially relevant:
https://github.com/ARMmbed/mbed-os/issues/5700

[2019-01-11 01:09] prowan commented on #9298
Thanks !

[2019-01-11 01:19] prowan commented on #9298
Your reply gave me the confidence to continue studying and researching mbed, thank you for your guidance.

[2019-01-11 03:23] ccchang12 opened #9345 "Cellular: BG96 AT command socket read returns wrong data"
### Description

In BG96 AT driver, the socket read always returns whole received data, and the will cause an issue like below. The TLS layer asks only 5 bytes, but the driver returns whole 1500 bytes back.

Mbed supports several CAT-M1/NB1 targets now, only BG96 has such issue, other targets like BC95, UBLOX and CINTERION are OK. The BG96 AT command supports partial read feature, so it should be

[2019-01-11 03:48] AGlass0fMilk commented on #7674
I have started to meticulously go through the USB stack execution flow. I think there are some corner cases or race conditions causing my implementation to fail some of the test cases in the `usb basic` test.

I will keep an updated table of tests that are passing/failing in the original issue description as I continue development. As of right now (1/10/2019) the testing status of my implementatio

[2019-01-11 05:19] ccli8 commented on #9069
@samchuarm This issue happens on M487 and might also happen on other targets. Expect mbed team could come out with a general solution.

[2019-01-11 06:34] ciarmcom commented on #9345
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-416*

[2019-01-11 07:36] kjbracey commented on #9338
I really do not recommend using `Stream`, and you've listed many of the reasons. If implementing a device, it's usually better to implement `FileHandle` directly.

`FileHandle` is the abstraction point, and `Stream` is just a "helper" to make a `FileHandle` from a simple character device, but it is very limited, and in some ways just broken (eg its `read` method). There is no code taking `Stream`

[2019-01-11 07:57] AriParkkila commented on #9270
@vidavidorra you could call e.g. `CellularContext::set_sim_ready()` first, then query device and SIM information, and finally call `CellularContext::connect()`.

You could try to disable automatic APN lookup, that might improve connecting to a network:
[code]

[2019-01-11 10:03] vidavidorra commented on #9270
Okay, finally got it working. Thanks for your support guys @AriParkkila @jarvte !

IMHO it would be very useful for other if the following two point are added to the docs.
1. Once a cellular modem goes to the data state (`AT+CGDATA="PPP",1`) it is not possible to send AT commands to the modem.
2. Example/information on how to get cellular information.

## Code
In this code I've used the following

[2019-01-11 10:03] vidavidorra commented on #9270
I'll close this now as my issue has been resolved :)

[2019-01-11 10:03] #9270 closed, assigned to nobody

[2019-01-11 10:51] rezaei99m commented on #6975
I face something similar. When I want to build "mbes-os-example-blinky" after exporting from mbed-online-compiler on Keil uvision5, I face this error :
`.\BUILD\mbed-os-example-blinky.axf:error: L6031U: Could not open scatter description file /filer/web_data/repo_dicts/github.com/armmbed/mbed-os/c966348d3f9ca80843be7cdc9b748f06ea73ced0/targets/TARGET_NXP/TARGET_LPC176X/device/TOOLCHAIN_ARM_STD/LPC

[2019-01-11 10:55] AnotherButler commented on #9322
@0xc0170 What type of help would you like?

[2019-01-11 11:04] 0xc0170 commented on #9322
To clean up all warnings for Mbed OS master. Not certain how big effort is it , might be easier to approach this via components (ipcore, wan, core and similar).

[2019-01-11 11:50] omdathetkan opened #9353 "Documentation: Incorrect label on Nucleo-144 graphical pinout"
### Description

PC_11 on CN11 should have been CN1 Nucleo-144 platform (for example [ST-Nucleo-F767ZI](https://os.mbed.com/platforms/ST-Nucleo-F767ZI/)) from looking at the mb1137 Altium project.

### Issue request type
    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-11 13:24] 0xc0170 commented on #9353
cc @ARMmbed/team-st-mcd

[2019-01-11 13:26] jeromecoutant commented on #9353
Hi

I'm sorry, I don't understand the question...

[2019-01-11 14:00] mmahadevan108 commented on #7811
@maclobdell SPI support is now available on LPC546XX

[2019-01-11 16:11] mmahadevan108 commented on #9235
While investigating I came across a potential issue with the test. The below line is trying to program without doing an erase. This could potentially fail on flash locations that are not in the erase state.
https://github.com/ARMmbed/mbed-os/blob/master/features/storage/TESTS/blockdevice/general_block_device/main.cpp#L366

Kindly review the other test failures to see if this could be the cause for

[2019-01-11 16:26] ciarmcom commented on #9353
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-417*

[2019-01-11 23:30] TacoGrandeTX commented on #9093
I've run the HRM example on the EVK-NINA-B1 (modified for current measurement), but I only have a low-cost (and low sampling) DMM so there isn't much to learn by analyzing it.  When advertising the DMM steadies at 20 uA.  When connected it bounces around too much get a valid reading.  Note that this board is based on the nRF52832 so this isn't a good comparison to start with.  I don't think we can

[2019-01-11 23:38] TacoGrandeTX commented on #9276
@bearsh Thanks for pointing this out and we noticed it ourselves while investigating https://github.com/ARMmbed/mbed-os/issues/9093.  We have shown that this is related to the CryptoCell 310 (CC310), and @pan-  has an idea to resolve it.  The higher current floor we observe related to using the CC310 (mentioned in https://github.com/ARMmbed/mbed-os/issues/9093) needs to be re-evaluated.

[2019-01-12 10:02] bearsh commented on #9093
Thanks @TacoGrandeTX for looking into this.
I'm gonna test the 'crypto workaround' on Monday.

Regarding the spikes, the only modifications I've made was board related and I tried different advertising intervals.
In the meantime I also did some measurements on a PCA10040 which I saw laying around in the office. There I also saw spikes but with lower peaks.
By now I also have a prototype board for

[2019-01-12 22:10] omdathetkan commented on #9353
![image](https://user-images.githubusercontent.com/5098411/51078979-42652400-16bf-11e9-8af3-646dcf79b4a6.png)

[2019-01-13 13:41] mmahadevan108 commented on #9206
Build and test works with IAR 8.30 on LPCXpresso54114 and LPC54628 boards

[2019-01-14 05:08] Vanireddy6 opened #9364 "Test case failed with "CMD timeout: set --retcode true" , while creating object instance and running icetea on Mbed-BLE-examples"
**BOARD USED**: DISCO_L475VG_IOT01A
**Steps to Reproduce**:
1.Import "mbed-os-example-ble-Thermometer" example.
2.Goto the path "mbed-os/TEST-APPS/device/main.cpp" and open main.cpp file
3.Add "#include ble/BLE.h" and create instance for BLE(BLE &ble = BLE::Instance();), please refer the attached main.cpp file for referrence.
4.Run the command "mbed test -m DISCO_L475VG_IOT01A -t GCC_ARM --icetea

[2019-01-14 06:35] ciarmcom commented on #9364
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-419*

[2019-01-14 06:45] AGlass0fMilk commented on #8674
I would also be interested in this. If I get my hands on a nRF9160-DK maybe I can work on porting it sometime 😃

[2019-01-14 07:02] AGlass0fMilk commented on #8289
The master boot record and the soft device assume control of a chunk of memory at the beginning of the RAM address space. Check out the soft device [specification](url
https://www.nordicsemi.com/-/media/DocLib/Other/SoftDevice_Spec/S132SDSv62pdf.pdf?la=en#page67) for more info on resource requirements if you haven’t already.

You could add an uninitialized RAM region where the application RAM curr

[2019-01-14 08:13] bearsh commented on #9276
thanks, applying the workaround from https://github.com/ARMmbed/mbed-os/issues/9093#issuecomment-453690139 reduces the current consumption to the desired value.

[2019-01-14 08:35] #9272 closed, assigned to davidsaada

[2019-01-14 09:00] seppestas commented on #9338
The reason I used `Stream` is mainly convenience. Especially for "Ascii character" devices like modems having `printf` functionality is great. I guess a good way of handeling this would be to create a stream from a `FileHandle`? Apart from that, Stream just sounds like a more logical device for me than `FileHandle`, especially when dealing with things like UART and SPI.

I see that the `read` and

[2019-01-14 09:16] jeromecoutant commented on #9353
Thx!

Same issue found for NUCLEO_F429ZI, NUCLEO_F746ZG, NUCLEO_F767ZI, and NUCLEO_H743ZI !

[2019-01-14 10:08] 0xc0170 commented on #9364
@ARMmbed/mbed-os-test Can your review the steps above? Is this supported ?

[2019-01-14 10:21] pan- commented on #9364
The Disco board requires [extra config](https://github.com/ARMmbed/mbed-os-example-ble/blob/8e791bfcb3f2098a911f80e554e90a26d220cb47/BLE_GattClient/mbed_app.json#L11-L14) and an [external driver](https://github.com/ARMmbed/cordio-ble-x-nucleo-idb0xa1) to support BLE.

[2019-01-14 10:31] jeromecoutant commented on #9353
@jorisa PC1 label should be now corrected.

[2019-01-14 10:56] tymoteuszblochmobica opened #9367 "ut master"
### Description

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ ] Bug

[2019-01-14 10:57] #9367 closed, assigned to nobody

[2019-01-14 11:02] #9298 closed, assigned to nobody

[2019-01-14 11:35] tymoteuszblochmobica commented on #9367
Created  by mistake, to be deleted

[2019-01-14 13:40] 0xc0170 commented on #9235
@ARMmbed/mbed-os-storage Please review

[2019-01-14 15:44] #9294 closed, assigned to nobody

[2019-01-14 16:14] maclobdell commented on #7398
the PR is merged.  Can this issue be closed?

[2019-01-14 16:21] c1728p9 commented on #7674
After the setup packet has been received the device should be NAKing, giving the software as much time as it needs to respond with either an ACK or a STALL. One way you can make this error more reproducible is to intentionally introduce a delay before sending the stall. USB hardware should be able to handle a +10ms delay between receiving a setup packet and responding with a stall. If with this de

[2019-01-14 16:35] dreemkiller commented on #7398
I opened it, and I'm satisfied. I can't speak for others, though.

[2019-01-14 16:38] offirko commented on #9235
As @mmahadevan108 analyzed, the "general_block_device" test is failing due to test bug of programing prior to erasing.  It will be fixed - Thanks !

The rest of the tests are no longer failing on updated master. They failed because the storage type did not match the selected component (FlashIAP). A recent change in mbed-os made the storage type selected **according to the component defined in targ

[2019-01-14 16:42] AGlass0fMilk commented on #7674
@c1728p9 Thanks for the tips, I'll look into that soon.

I shared the raw draw.io diagram but I guess it makes it a really tiny picture if you share it as read only.

[Here's a read/write link](https://drive.google.com/file/d/1MUVlNCkD-gm08xFkWmP5YhTIHQuVvt7z/view?usp=sharing). Hopefully that makes it more legible.

You should be able to click "open in draw.io". If not, you should be able to save

[2019-01-14 16:46] maclobdell commented on #7319
@c1728p9 - do you have hardware that you can demonstrate this issue on?  Can we try to close out this issue by sharing the exact hardware and software that can highlight the problem.  I would be happy to collect the hardware and get it to NXP.

[2019-01-14 17:25] omdathetkan commented on #9353
Thank you! The "pins connected to other peripherals" (darkblue) is new I assume? That's a helpful addition.

[2019-01-14 21:31] maclobdell commented on #7811
@mmahadevan108 - Just to confirm, the LPCXpresso546XX now has support for QSPI.  Thanks a lot for that!  The next step is to test it with the QSPIF block device driver.  You have done that, right?  The next step after that is to add QSPIF storage as the default storage for this platform.  In targets.json for the "LPC546XX" target, you can add this:

[code]

Then this can return a pointer to the bl

[2019-01-14 22:06] maclobdell commented on #7811
I went ahead and tested it and made a pull request!
https://github.com/ARMmbed/mbed-os/pull/9374

Thanks!
I'm closing this issue.  It is resolved.

[2019-01-14 22:06] #7811 closed, assigned to nobody

[2019-01-14 23:22] AnotherButler commented on #9322
By clean up, do you mean clarify the language?

[2019-01-15 01:26] desmond-blue commented on #8000
@wlamprecht I believe this issue is also able to be closed as well? Thanks.

[2019-01-15 02:09] TomoYamanaka commented on #7155
@theotherjimmy

Although [tools-release-5.11.0](https://github.com/ARMmbed/mbed-os/releases/tag/tools-release-5.11.0) was already released, when I build [mbed-os-example-blinky](https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky/) after exporting from Mbed Online Compiler to e2studio, I faced this issue yet.

Could you check to whether this tools-release took into Online Expote

[2019-01-15 04:38] AGlass0fMilk commented on #7674
@c1728p9 The reason I included critical sections in my USB implementation in the first place is because I started with the USBPhy_Template implementation. During the example `_usb_isr` and `process` implementations there are calls to disabled/enable USB interrupts in the NVIC:

https://github.com/ARMmbed/mbed-os/blob/8b6fffb8a869c5451adfe24a168386a3b9426806/usb/device/targets/TARGET_Template/USBPh

[2019-01-15 06:08] ccli8 opened #9375 "Fail to update cmsis pack index.json"
### Description

**OS**:
Windows 10/64-bit

**mbed-os**:
41ecde9c30 Merge pull request #9371 from 0xc0170/test_travis_master

**python**
3.7.2

**mbed-cli**
1.8.3

Following the [doc](https://os.mbed.com/docs/mbed-os/v5.6/reference/porting-a-new-target-for-exporters.html), I run the below command under mbed-os directory to update cmsis pack `index.json`:
[code]

It fails with:

[code]

### Issue r

[2019-01-15 06:22] AGlass0fMilk commented on #7674
Made some changes and I think I've fixed the premature status ACK bug that was causing the `usb control stall test` to intermittently fail.

I moved the status stage triggering from the setup packet handler to ep0_write, where I check if the control transfer size is 0 (meaning no data stage, so go straight to status stage).

Check out the commit here:

https://github.com/AGlass0fMilk/mbed-os/commi

[2019-01-15 06:48] aqib-ublox commented on #9240
@jamesadevine thanks for you concern but let me brief you little bit. Actually RTC should use internal oscillator if external not available but for that we have to program RTC hardware configuration register to use clk source from LSI rather than LSE.

In mbed-os we are configuring RTC to use LSE by default please see target.json "lse_available": 1 by default

        "inherits": ["Target"],

[2019-01-15 07:50] omdathetkan commented on #9353
Reopened the issue, the right side image (CN12) should also be updated. The updated image shows "pins connected to other peripherals", while the "old" one does not. this gives the false impression that non of these pins are in use.

[2019-01-15 08:33] jeromecoutant commented on #9353
I uploaded all the updated images!
Thx

[2019-01-15 08:58] 0xc0170 commented on #9322
This to report 0 - no warnings from doxygen run

[2019-01-15 09:12] wlamprecht commented on #8000
Yes

[2019-01-15 09:12] #8000 closed, assigned to nobody

[2019-01-15 09:18] oscarh opened #9379 "Sockets on AT modems are created when app calls sendto/recvfrom"
### Description

An UDP socket is first created on the AT modem when calling sendto/receivefrom. This seems to be on purpose as I can find the flollowing comment on line 138 in `features/cellular/framework/AT/AT_CellularStack.cpp`:

I find this problematic, since it's harder to tell what went wrong. In my application, I can "successfully" create a socket. When I call sendto, it actuallly first tri

[2019-01-15 09:25] offirko commented on #9235
Fix will be delivered within PR #9377

[2019-01-15 09:33] #7398 closed, assigned to nobody

[2019-01-15 09:46] 0xc0170 opened #9381 "Travis: install packages with more narrow versions"
### Description

We had an issue yesterday as one package was updated to new minor version and broke our tools tests. This is the current line in travis config file: `pip install pytest pylint hypothesis==3.88.3 mock coverage coveralls` for the job tools-pytest

We should be more strict with versions (like hypothesis, that one could be updated to use any <4.0 for instance) to avoid breakages like

[2019-01-15 10:34] MarceloSalazar commented on #7492
Ticket considered solved. Reopen if required.

[2019-01-15 10:34] #7492 closed, assigned to nobody

[2019-01-15 10:38] TuomoHautamaki commented on #8300
Fixed in #9307

[2019-01-15 10:49] oscarh opened #9382 "Network status callbacks and the NetworkInterface state machine for AT Cellular modems"
### Description

The network connectivity states described  [here](https://os.mbed.com/docs/mbed-os/v5.11/apis/network-interfaces.html) claims that the only way to transition from `Global route found` to `Disconnected` is by calling `NetworkInterface::disconnect()`. However, when we receive status from the modem that we're disconnected, we are sent the status `NSAPI_STATUS_DISCONNECTED`. The conne

[2019-01-15 12:35] #8300 closed, assigned to nobody

[2019-01-15 12:48] ciarmcom commented on #9382
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-452*

[2019-01-15 12:48] ciarmcom commented on #9381
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-453*

[2019-01-15 12:48] ciarmcom commented on #9379
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-454*

[2019-01-15 12:48] ciarmcom commented on #9375
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-455*

[2019-01-15 13:01] 0xc0170 commented on #9139
To provide at least some answers but not definite ones

We would like to use CMSIS API only without any custom edits - enables us to use vanilla CMSIS.

Ideally we would not need anything custom.

As soon as we use vanilla CMSIS, then this configuration comes to the table - how to enable different cmsis rtos implementation ? To be defined - this might be a good candidate for mbed-cli tool.

[2019-01-15 13:09] 0xc0170 commented on #9343
@kapi90 Can you review?

[2019-01-15 13:14] SeppoTakalo commented on #8939
This board has WiFi module which driver is provided in https://github.com/ARMmbed/wifi-ism43362
The issue should be reported there.

[2019-01-15 13:37] 0xc0170 commented on #8997
Thanks @bmcdonnell-ionx , we will review the latest updates

[2019-01-15 13:49] 0xc0170 commented on #8939
cc @ARMmbed/team-st-mcd (might close this one and redirect to wifi ism driver?)

[2019-01-15 14:01] wlamprecht opened #9383 "NRF52840 BLE 5 MTU Size cant be bigger than 251"
### Description

Hi
I am trying to send packets(500 byte) from the NRFConnect Android app to the NRF52840 module.

Changes till now:

- Change RAM size
- Change NRF_SDH_BLE_GATT_MAX_MTU_SIZE to 513 (517 - L2CAP header size)
- Change NRF_SDH_BLE_GAP_EVENT_LENGTH to 5
- Fix some data type bugs: uint8_t is not enough for MTU size 517

Changes in branch bug/MtuSize in repo evva-sfw
https://github.com/

[2019-01-15 14:02] 0xc0170 commented on #9123
the next mbed 2 release should include it (you can just fork and apply the patch for now).

This is currently the latest release. We will release a new update with the next patch release

[2019-01-15 14:05] 0xc0170 commented on #9282
Similar to another issue related also to ISM43362, This might be better place in ISM43362 driver repository.

@ARMmbed/team-st-mcd Please review (and we can move this one to the drivers repository)

[2019-01-15 14:11] jeromecoutant commented on #9282
Hi
Your log begins with:

[ERROR] Attempt to override undefined parameter 'ism43362.provide-default' in 'application[*]'
cleaning up Icetea log directory.

Can you check this first ?

[2019-01-15 14:42] kapi90 commented on #9343
Good catch @pfalcon! I have created a Pull Request with the fix.

[2019-01-15 14:43] kapi90 commented on #9343
Thanks for letting me know @0xc0170

[2019-01-15 14:43] pfalcon commented on #9343
Glad this report was useful!

[2019-01-15 14:59] theotherjimmy commented on #7155
@TomoYamanaka The tools release for 5.11 is not yet in the online compiler.

[2019-01-15 15:09] 0xc0170 commented on #9069
@ARMmbed/mbed-os-core Can you review this issue please?

[2019-01-15 15:11] SeppoTakalo commented on #9322
Oh.. hold, my 160 is AFTER the 2 day write-a-thon event. On a branch where we fixed most of Cellular and Socket problems. Some LoRa as well.

So both numbers might be correct, it just depends in which branch.

And our fixes are not yet merged in https://github.com/ARMmbed/mbed-os/pull/9328

[2019-01-15 15:15] SeppoTakalo commented on #9322
Also, documentation team is a wrong entity to clean up engineering problems.

Somebody should go on and look at the warnings reported, then assign somebody from each team to fix all warnings regarding their area.

[code]

[2019-01-15 15:17] SeppoTakalo commented on #9322
Easy to spot teams from there.

[2019-01-15 16:12] #8939 closed, assigned to nobody

[2019-01-15 16:31] ciarmcom commented on #9383
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-487*

[2019-01-15 16:33] jeromecoutant commented on #7695
Hi

Did you see that, since 5.11.1, L4 targets are now TICKLESS by default using LPTIM ?
Maybe we can make an update for this issue, or open a new one ?

Thx

[2019-01-15 17:19] pan- commented on #9383
@wlamprecht We are working on that issue in [this pr](https://github.com/paul-szczepanek-arm/mbed-os/pull/60/) (it is in a fork). Any feedback is welcome.

[2019-01-15 17:51] mattbrown015 commented on #7695
Hi @jeromecoutant ,

I'm still using the RTC because I believe it allows longer periods of deepsleep, especially since #8777.

Do you think I should reconsider using the LPTIM?

As things stand, I'm using tickless in RTC mode and adjusting the RTC is still a problem for me.

[2019-01-15 18:30] zepperik commented on #8277
I ran across this same problem when exporting for Qt Creator.  Mine said "ASM_FLAGS += /filer/workspace_data/exports/8/85efb301d9f8fb7d8946bc28825cb708/rtos_semaphore/mbed_config.h".  I changed it to just mbed_config.h.

[2019-01-15 21:07] cmonr commented on #9381
Fixing with https://github.com/ARMmbed/mbed-os/pull/9389

[2019-01-15 21:53] AGlass0fMilk commented on #7674
@fkjagodzinski concerning the ISO endpoint 0 size issue you pointed out, I have posted a parallel ticket on Nordic's Devzone website: https://devzone.nordicsemi.com/f/nordic-q-a/42572/usb-iso-endpoint-max-packet-size-of-0

[2019-01-16 05:13] cmonr opened #9390 "Update icetea tests to include stderr output of failed command"
### Description

When icetea fails pytest testing, it's error message is not useful.
An example: https://travis-ci.org/ARMmbed/mbed-os/jobs/480215039

Having debugged this for most of the day, it was found that the `icetea` command that was generating JSON to feed into the test was failing due to dependency resolution caused by a recent pyOCD release (0.15).

### Issue request type

    [ ] Questi

[2019-01-16 05:23] cmonr commented on #9390
@ARMmbed/mbed-os-test-team FYI

Can provide more details if requested since resolution of the outstanding issue (pyOCD dependency) is still in progress: https://github.com/ARMmbed/mbed-os/pull/9389

[2019-01-16 05:37] ciarmcom commented on #9390
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-550*

[2019-01-16 07:45] jeromecoutant commented on #7695
OK

And what about closing this issue?
Do you have a "simple" application we can use for debug ?

[2019-01-16 09:22] mattbrown015 commented on #7695
Unfortunately I don't have a simple example to hand and, while this is a problem for us, I think we can work around it and I have bigger issues to deal with at the moment.

If I did have time to create a simple app I would create a RTC tickless app that could handle a button (or digital input) event.  When the button was pressed I'd _nudge_ the RTC and see what happens.

Our real app gets commands

[2019-01-16 10:05] 0xc0170 commented on #9364
@Vanireddy6 is your issue resolved ?

[2019-01-16 11:28] veenaumachagi commented on #9364
Tried with extra config and an external driver to support BLE changes with mbed-os-example-ble-Thermometer app , but still observing COM215 CMD timeout: set --retcode true issue

[2019-01-16 12:29] CodingGhost opened #9395 "UARTService no error return"
### Description
in the UARTService.h file, the write() and writeString() functions return the number of bytes written. however, that is useless as there are other ways to get this information. a way more useful return would be an error code, as its quite common for this operation to throw errors, and with the current implementation its impossible to get the error information.

suggested quick chan

[2019-01-16 12:58] SeppoTakalo opened #9396 "Realtek RTL8195AM prints out extra messages on serial port"
### Description

When running Mbed OS network tests+socket test RTL8195AM sometimes prints out extra messages into the serial port which may break the test result parsing.

For example, following message occasionally appear
[code]

Also, following message appears on every boot:

[code]

These extra messages have possibility to break Mbed OS testing that depends on correct serial port output.

###

[2019-01-16 13:00] SeppoTakalo commented on #9396
CC: @ARMmbed/team-realtek please review.

[2019-01-16 13:34] wlamprecht commented on #9383
@pan- I think it is a different problem:
mbed-os/features/FEATURE_BLE/targets/TARGET_NORDIC/TARGET_NRF52/source/btle/btle.cpp

[code]
First issue: The variables data_length_peer, max_data_length and data_length are uint8_t therefore a MTU size bigger than 255 is not possible.
Seccond issue: p_gap_evt->params.data_length_update_request.peer_params.max_tx_octets always returns 251 and the function M

[2019-01-16 13:42] pan- commented on #9383
@wlamprecht Your issue will impact the implementation of the feature; I think these are related.
@paul-szczepanek-arm Could you have a look ?

[2019-01-16 13:59] paul-szczepanek-arm commented on #9383
Data length is the PDU size (packet size) and cannot be larger than 251 bytes (you're thinking of ATT_MTU, look for `onAttMtuChange` which is set based on a uin16_t value).

That code should still be fixed to avoid truncation if MTU is larger than 251, thanks.

[2019-01-16 14:56] 0xc0170 commented on #9396
This does not fix it: https://github.com/ARMmbed/mbed-os/pull/9202 ?

Looking at the report and the PR, it only addressed Wifi interface , the above seems to be also in other parts.

[2019-01-16 16:24] jeromecoutant opened #9400 "tests-mbedmicro-rtos-mbed-systimer to tune ?"
### Description

Hi

Since 5.11.1, STM32L0, STM32L4 and STM32F7 are TICKLESS.

Then tests-mbedmicro-rtos-mbed-systimer is now executed.

Test is OK for most of targets, except few one that are failing at test case 6:

[code]

https://github.com/ARMmbed/mbed-os/blob/0b9587fe268b9414174a5b3752b209c54ebe590e/TESTS/mbedmicro-rtos-mbed/systimer/main.cpp#L252

I have the feeling that delay values should

[2019-01-16 16:32] ciarmcom commented on #9396
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-612*

[2019-01-16 16:32] ciarmcom commented on #9395
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-613*

[2019-01-16 16:45] j3hill commented on #8447
@AGlass0fMilk This issue has been address in Mbed-OS pull request (PR) #9291 (https://github.com/ARMmbed/mbed-os/pull/9291). The QSPIFBlockDevice returns the nRF52840 4-byte read/prog requirement to the LittleFS file system. LittleFS then manages the flash storage reads/writes to accommodate this QSPI hardware requirement. Please note that this PR also adds support for QSPI SFDP reads with the nRF

[2019-01-16 16:54] SeppoTakalo commented on #9396
Hmm..

It might have hidden all, but not boot messages.

Also the first example probably comes from RTX debug functions.

[2019-01-16 19:37] c1728p9 commented on #7674
The NVIC calls in `_usb_isr` and `process` are disable further USB interrupts while processing the current one. This is still good to have so I wouldn't recommend removing it.

When I say that USBDevice serializes all access to the USBPhy I mean that all calls it makes are protected by a lock. For example, [this call to phy->process()](https://github.com/ARMmbed/mbed-os/blob/8b6fffb8a869c5451adfe2

[2019-01-16 19:58] c1728p9 commented on #7674
The open in draw.io link didn't work for me, but I was able to save it and import it manually. I can see everything in detail now.

Looking up close at this diagram I see several different interrupts can occur such as `USBPWR
Detected` and `USBPWRRDY Event`. This may explain why removing the NVIC calls in `_usb_isr` and `process` breaks the code. Are you calling into USBPhyEvents directly from the

[2019-01-16 21:22] ciarmcom commented on #9400
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-643*

[2019-01-16 22:44] SenRamakri opened #9402 "Mbed-OS build fails for LPC546XX and FF_LPC546XX targets with ARM Compiler 6.11"
### Description
Mbed OS will be upgrading to ARMc6 Toolchain with upcoming releases(Currently we are using ARM Compiler 5). We are in the process of ensuring that all currently supported targets successfully compiles/passes tests with ARMC6 toolchain but we do have some targets currently failing the build with ARMc6 toolchain. The failures are in source code under targets folder and thus needs to

[2019-01-16 22:45] SenRamakri commented on #9402
Tagging @ARMmbed/team-nxp

[2019-01-16 22:46] SenRamakri commented on #9402
Adding - @OPpuolitaival @deepikabhavnani @kjbracey-arm

[2019-01-16 23:56] cmonr commented on #9400
@ARMmbed/mbed-os-hal Fyi

[2019-01-17 00:06] cmonr commented on #9379
@ARMmbed/mbed-os-wan Please review.

[2019-01-17 00:25] cmonr commented on #9382
@ARMmbed/mbed-os-connectivity Thoughts?

[2019-01-17 00:51] #9353 closed, assigned to nobody

[2019-01-17 00:55] toyowata commented on #9194
The cause of this problem is HW issue (CTS/RTS connection is wrongly swapped between MCU and UG96 module).  Temporary workaround is to disable flow control in the `mbed_app.json`.

[code]

[2019-01-17 00:55] #9194 closed, assigned to nobody

[2019-01-17 01:47] TomoYamanaka commented on #7155
@theotherjimmy

When will it be ready? We will be grateful if you could let me know the scheduled date that is incorporated to Online Compiler.

[2019-01-17 04:16] Vanireddy6 commented on #9282
Hi
Could you please let me know how do check that?

[2019-01-17 05:28] Vanireddy6 commented on #9364
The Disco board requires extra config and an external driver to support BLE.
@Vanireddy6 is your issue resolved ?

--->**No...Still seeing the same issue "CMD timeout: set --retcode true"**.

[2019-01-17 05:29] Vanireddy6 commented on #9299
Is there any update on this?

[2019-01-17 05:37] ciarmcom commented on #9402
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-673*

[2019-01-17 05:38] cmonr commented on #9299
@ARMmbed/mbed-os-test-team or @ARMmbed/mbed-os-pan Thoughts?

[2019-01-17 07:59] AriParkkila commented on #9379
@oscarh thanks for your question(s).

1. You probably should try to resolve IP address first, and then use that IP address with `sendto`, e.g.:
[code]
2. `AT_CellularStack` API need to support many cellular modems, and unfortunately IP stack implementations are very much modem specific. It's quite common that when we create sockets (via AT commands) we must give also remote IP address, and that is

[2019-01-17 08:24] AriParkkila commented on #9382
@SeppoTakalo could you clarify the `Network States` picture.

I guess that you refer by `connection re-established` just to network registration, meaning the modem registers to the network but without activating data context..? If that is the case, you need to 1) close all sockets, then 2) call `NetworkInterface::connect()` and 3) after connected re-create sockets.

[2019-01-17 08:46] vidavidorra commented on #8428
Any update on this? @theotherjimmy perhaps?

This is still not working in 5.11.1. `artifact_name` in `mbed_app.json` doesn't seem to change anything in the output name and the `--artifact-name` argument doesn't seem to be supported in `mbed-export`

[2019-01-17 08:47] mirelachirica commented on #9177
As noticed this is fixed by the change in read_string to consume chars to the delimiter. There is unit test for this case, commit: https://github.com/ARMmbed/mbed-os/commit/723e913bccdc579b471903aee8f2e43cfc9f52ab

[2019-01-17 10:00] oscarh commented on #9379
Hi @AriParkkila,

Thanks for the answers.

Regarding 2:
At least I undestand WHY we're creating the socket that late now. It had been great if the comment documented the why, not the fact (which can be found in the source code).

Regarding 3:
I'm still a bit confused that the code returns `NSAPI_STATUS_GLOBAL_UP` when the modem really isn't connected/attached. Should `NSAPI_STATUS_GLOBAL_UP` alway

[2019-01-17 10:05] oscarh commented on #9382
Hi @AriParkkila,

My experience from my modem (u-blox SARA u201), is that when I make sure I have bad reception the modem sends `+CREG: 2` (not registered, but the MT is currently searching a new operator to register to). When this happens, I get a callback with status `NSAPI_STATUS_DISCONNECTED`. However, the modem automatically re-attaches (when reception is better), and I can create sockets aga

[2019-01-17 11:31] AriParkkila commented on #9379
@oscarh thanks, good points.

2) We need to update `AT_CellularStack` doxygen with some rationale.

3) When network connection is lost (e.g. `CREG: 2`) cellular sends `NSAPI_STATUS_DISCONNECTED` to indicate that network is not available and also to give a hint that sockets should be reinitialized. You are right that in most cases context is readily active after re-registering to the network. Howev

[2019-01-17 11:40] #9138 closed, assigned to bridadan

[2019-01-17 12:00] AriParkkila commented on #9382
@oscarh that's a good point for optimisation. `+CGEV` is subscribed to indicate that PDP context was really lost, but it seems that is not very well supported at the moment so we report disconnected also when registration is lost, e.g. `+CREG`. In the (near) future `CGEV` might be good to use..?

[2019-01-17 12:19] SeppoTakalo commented on #9382
If the modem drops from the network, it should send status `NSAPI_STATUS_CONNECTING` and internally initiate reconnection logic.

NSAPI_STATUS_DISCONNECTED can only be produced as a result of `NetworkInterface::disconnect()` call.

If  there is difference, then the driver should be fixed.

[2019-01-17 13:17] vidavidorra opened #9412 "Cellular interface behaviour timeout change"
### Description

Did something in the behaviour of the cellular interface timeouts change between the `OnboardCellularInterface` on Mbed OS 5.9.6 and `CellularBase` or `CellularContext` on Mbed OS 5.11.1?
I'm currently using the `CellularBase` as interface because that is supposed to be the most stable interface for cellular (see comments on #9270). When it gets a successful connection on the firs

[2019-01-17 13:20] OPpuolitaival commented on #9299
@Vanireddy6 documentation for icetea can be found https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/tools/testing/icetea.md

[2019-01-17 13:23] OPpuolitaival commented on #9299
You might be interested also an example how to write test where two mbed devices are connecting to each other during the test: https://github.com/ARMmbed/mbed-os/blob/master/TEST_APPS/testcases/nanostack_mac_tester/send_data.py

[2019-01-17 13:33] vidavidorra commented on #9412
To add: I didn't see any significant changes in the `mbed_config.h` regarding to AT timeout and cellular configuration.

[2019-01-17 13:49] RobMeades opened #9413 "on-line IDE unable to load pull request"
### Description

Today we have been trying to import a Pull Request into the on-line IDE for review but, despite trying this from two different originating repos and into two different user accounts, we always get an error of the following form:

![picturemessage_0tk5n0zn hew](https://user-images.githubusercontent.com/6726745/51322844-7beeb400-1a5e-11e9-8f73-2cdb5c0c0855.png)

Note the "IDE" strin

[2019-01-17 13:51] RobMeades commented on #9413
@fahim-ublox , @wajahat-ublox.

[2019-01-17 14:03] 0xc0170 commented on #9413
I'll share this with the web team

[2019-01-17 14:38] theotherjimmy commented on #8428
Hi @vidavidorra,

I have not worked on this. I take it that you use the cmake exporter pretty frequently. @kegilbert could you look into this for me? I think the steps to reproduce are pretty solid, and you could look in the cmake exporter for how the `TARGET` is populated and see if `config.name` would work instead.

[2019-01-17 14:51] #8710 closed, assigned to nobody

[2019-01-17 15:00] wlamprecht commented on #9383
I fixed the mentioned bug on the fork https://github.com/evva-sfw/mbed-os/tree/bug/MtuSize
But the MTU can still not be changed to 517.
I tried many different MTU sizes, but the BLE service does not work for MTU sizes bigger than 424.
I tested everything with the NRF52840 chip, S140 soft device. As app I used the Nordic UartService, adapted to mbed needs: https://os.mbed.com/teams/Bluetooth-Low-En

[2019-01-17 15:09] cmonr commented on #9413
I don't think this is a supported feature of the online compiler.

[2019-01-17 15:14] RobMeades commented on #9413
It's what happens when you press the "Review" button on a Pull Request in the mbed dev team repos.

![review_button](https://user-images.githubusercontent.com/6726745/51328094-87e07300-1a6a-11e9-9848-ba450020a94d.png)

[2019-01-17 15:44] cmonr commented on #9413
...huh. Good to know.

[2019-01-17 15:53] MarceloSalazar commented on #8710
Fixed here: https://github.com/ARMmbed/mbed-os/pull/9155

[2019-01-17 16:32] fkjagodzinski commented on #9400
@jeromecoutant thanks for a detailed descripion. :+1: Could you run the updated code from #9416 on your targets, please? I could only test the `NUCLEO_L476RG` from the targets listed above; works OK now.

[2019-01-17 17:03] theotherjimmy commented on #8431
@JammuKekkonen I fixed this a while back. Let me find the PR.

[2019-01-17 17:03] fluidblue commented on #9123
@0xc0170 ok, thanks!

For others: Using [mbed-dev](https://os.mbed.com/users/mbed_official/code/mbed-dev/) (mbed os 2 sources) and applying the patch manually works.

[2019-01-17 17:05] theotherjimmy commented on #8431
https://github.com/ARMmbed/mbed-os/pull/8779 should have fixed this. @JammuKekkonen @vidavidorra Does this behavior change in 5.11.1?

[2019-01-17 17:12] 0xc0170 commented on #9343
#9385 is landing soon, we can close this. Thanks!

[2019-01-17 18:06] vidavidorra commented on #8431
Yes, the file now stays in the file system, so would indeed fix this ticket.

@theotherjimmy As for the PR you referenced, I read through it and you note that the migration is now moved to the toolchain. I'm using the exporter and have added a custom command in my CMake project file to run the memap after a build, since it is not ran automatically for CMake export at least. With moved to the toolc

[2019-01-17 20:18] theotherjimmy commented on #8431
Yes.

Yes, it does explain it.

[2019-01-17 20:57] Alex-EEE opened #9419 "mbed test doesn't honor .mbedignore files not under TESTS folder"
### Description

We keep just one .mbedignore file in the root mbed directory, where we skip some tests that aren't passing on our system.  We just upgraded from mbed 9 to mbed 11, and now mbed cli only skips tests if the .mbedignore file is under a TESTS directory.  Our structure looks like this:
[code]
And our calls to mbed cli like so:
[code]
I filed this under mbed-os-tools initially, and @bri

[2019-01-17 21:24] ciarmcom commented on #9413
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-735*

[2019-01-17 21:24] ciarmcom commented on #9412
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-736*

[2019-01-17 23:25] #8314 closed, assigned to nobody

[2019-01-18 02:58] unsignedint opened #9420 "Ethernet rx network issues on i.MX RT1050"
### Description

Tested with 5.11.0-rc4 and 5.11.1.

We have found that there is some issues with Ethernet networking on the NXP i.MX RT1050 target. It feels like incoming packets are not always processed as they come in, and then sit around until _another_ packet is received which then results in both packets being processed.

Perhaps it is best to show with an example using ping. Here I am using

[2019-01-18 03:12] AdamZhang0124 commented on #9396
Hi @SeppoTakalo ,
Thank you for helping us discover this bug, I am debugging it now.

[2019-01-18 05:38] ciarmcom commented on #9420
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-767*

[2019-01-18 08:20] AriParkkila commented on #9412
@vidavidorra cellular 5.11 uses `CellularStateMachine` to connect. You can make its behavior similar to `PPPCellularInterface::connect` by setting connect retry count to 1. Because `set_retry_timeout_array()` is not exposed yet in 5.11, you need to call that directly from `CellularDevice` or modify `CellularStateMachine::_retry_timeout_array`.

[2019-01-18 08:45] mirelachirica commented on #9345
Indeed BG96 cellular driver misses to provide the required size to AT+QIRD command, in TCP case. We will fix it. Thanks for bringing this up!

[2019-01-18 08:57] ccchang12 commented on #9345
Except to provide the required size to AT+QIRD command, please also add the size limitation of AT+QISEND and AT+QIRD command. In AT + QISEND, the maximum data length is 1460 bytes. And in AT + QIRD, the maximum data length is 1500 bytes.

[2019-01-18 09:02] mirelachirica commented on #9345
Will check them all.

[2019-01-18 09:05] mirelachirica commented on #9345
You can also issue a pull request with your findings if you wish.

[2019-01-18 09:08] vidavidorra commented on #9412
@AriParkkila Thanks for your reply, will try that and post back.

In the last section of the failing connection on first try, see below, the section below is logged in about 20 seconds, but then hangs there for about a minute before retrying and succeeding in making the connection. Also see the log from successful connection on first try for comparison. Can you explain why it just seems to hang th

[2019-01-18 10:33] vidavidorra commented on #9412
@AriParkkila I tried this by modifying `CellularStateMachine::_retry_timeout_array` and set it to 1. See #diff. Doing that doesn't connect to the network at all. See the log below.
I'm currently trying the same with 2, which seems to be the lowest value for me when the connection is still being made.

[code]

### Diff
[code]

[2019-01-18 10:48] #9235 closed, assigned to nobody

[2019-01-18 10:54] SeppoTakalo opened #9423 "Callback object comparison not working"
### Description

*Example code:*
[code]

I would expect callbacks to return true for the comparison operation as those are exacly copies of the same object.

Directly copying the callbacks leads the comparison to return true, but passing it as a parameter to functions seems to lead it to return false.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-18 10:54] SeppoTakalo commented on #9423
@geky Please review

FYI: @kjbracey-arm

[2019-01-18 10:57] paul-szczepanek-arm commented on #9383
What do you mean by "doesn't work"? Negotiates an ATT_MTU size smaller than you expect or negotiates the right size but then errors in some way? Crashes?

ATT_MTU size is agreed on by both devices - are both set to the value you need?

The changes you have made are only relevant to over the air packet size. The BLE_GAP_EVT_DATA_LENGTH_UPDATE_REQUEST is used to neogtiate packet sizes with the peer.

[2019-01-18 11:08] AriParkkila commented on #9412
@vidavidorra SIM probably needs more time to wake-up with `#define TIMEOUT_SIM_PIN (10*1000)` or you could loop connect repeatedly... `PPPCellularInterface::connect` is quite different from `CellularStateMachine` so you might want to copy connect logic from https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/cellular/generic_modem_driver/PPPCellularInterface.cpp

The log does not sho

[2019-01-18 11:12] VeijoPesonen opened #9425 "ESP8266: call MBED_ERROR if watchdog is triggered on modem"
### Description
Driver should call MBED_ERROR instead of trying to recover from watchdog reset. This would make certain that modem issues wouldn't get hidden.

### Issue request type

    [ ] Question
    [X] Enhancement
    [ ] Bug

[2019-01-18 11:15] vidavidorra commented on #9412
@AriParkkila I've manually enabled the AT commands by enabling `ATHandler::debug_print` and `debug` in `mbed_debug.h`. I'll have a look at how to enable the commands, in addition to the responses. Unless you have some pointers to where I can enable those.
Hopefully the AT commands will give more insight in what is going on and why the interface seem to halt.

[2019-01-18 11:55] jonaslindahl commented on #9420
I see this as well and have some further information:
Running ping with preload (-l) to send 8 packets without waiting for reply yields the following result:

PING 10.10.101.3 (10.10.101.3) 56(84) bytes of data.
64 bytes from 10.10.101.3: icmp_seq=1 ttl=255 time=0.267 ms
64 bytes from 10.10.101.3: icmp_seq=2 ttl=255 time=0.483 ms
64 bytes from 10.10.101.3: icmp_seq=3 ttl=255 time=0.228 ms
64 bytes

[2019-01-18 12:02] 0xc0170 opened #9426 "NUCLEO_H743ZI: iar export failing"
### Description

Target not supported in v7.x, should be removed.

I'll send PR shortly

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-18 12:16] AriParkkila commented on #9412
@vidavidorra to enable logs, define in `mbed_app.json`:
[code]

[2019-01-18 12:27] vidavidorra commented on #9412
@AriParkkila I now also have the log for AT commands that are being sent enabled. See logs below. I still have the edit for 2 retry array and have increased the SIM timeout `#define TIMEOUT_SIM_PIN (5*1000)`

In that Log it looks like two commands are being sent in this example at the same time which causes a `+CME ERROR: 100`.

[code]

On the fail on first try log it looks like it hangs after the

[2019-01-18 12:49] ciarmcom commented on #9426
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-768*

[2019-01-18 12:50] ciarmcom commented on #9425
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-769*

[2019-01-18 12:50] ciarmcom commented on #9423
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-770*

[2019-01-18 12:56] vidavidorra commented on #9412
I'm trying the same setup now but with both APN lookups disabled. See if that makes any difference.

[2019-01-18 13:26] jeromecoutant commented on #8513
Hi

Found some new information:

In my mbed_app.json, got:
    "macros": ["MBED_ALL_STATS_ENABLED" ],
Result is:

[code]

I changed to
    "macros": [],
Result is:

[code]

[2019-01-18 13:33] AriParkkila commented on #9412
@vidavidorra I don't see how `AT+CGDCONT=1,"IP","withthegrid.com"` can take over 60 seconds..? You could try to increase timeout `#define TIMEOUT_CONNECT (120*1000)` at `CellularStateMachine.cpp` to see if that makes any difference, and check if modem is responsive to AT commands during `AT+CGDCONT`.

[2019-01-18 13:41] vidavidorra commented on #9412
@AriParkkila How would I check this? I'm calling `_interface->connect();` where `_interface` is of type `CellularContext`. That call is blocking on my thread where I've created the interface, so I wouldn't be able to sent AT commands in the meantime. That is until `_interface->connect();` has returned, which it doesn't for at least 60 sec.
How do you propose I check modem responsiveness? Can I cha

[2019-01-18 13:52] wlamprecht commented on #9383
It has a strange behaviour, if I set BLE_GATT_MTU_SIZE_DEFAULT > 427.

Scenario 1:
Set BLE_GATT_MTU_SIZE_DEFAULT to 427 or lower.
Everything works as expected

Scenario 2:
Set BLE_GATT_MTU_SIZE_DEFAULT to 428 or bigger.
In file mbed-os/features/FEATURE_BLE/ble/services/UARTService.h then the BLE_UART_SERVICE_MAX_DATA_LEN gets set to (BLE_GATT_MTU_SIZE_DEFAULT - 3).
If (BLE_GATT_MTU_SIZE_DEFAULT -

[2019-01-18 13:52] vidavidorra commented on #9412
@AriParkkila On this log, which is with APN lookup disabled, and the rest of the settings the same as the previous log. This log seems to hang at a different point and for less time (30 sec).
Second fail message about a minute later without seeing any AT traffic. And below there a log that got connection after another retry with an error in-between and another `AT+CGDCONT?` in-between the next ret

[2019-01-18 14:04] AriParkkila commented on #9412
@vidavidorra that 30 seconds sounds like PPP connect failure at `AT_CellularContext::open_data_channel`. The reason could be `AT+CGDCONT?` command seen after `CONNECT` in your log.

That 60 second timeout is probably at `AT_CellularContext::set_new_context()`, where AT responsiveness could be checked:
[code]

[2019-01-18 15:43] #8721 closed, assigned to nobody

[2019-01-18 15:46] #8575 closed, assigned to nobody

[2019-01-18 15:51] #8353 closed, assigned to nobody

[2019-01-18 16:02] #8438 closed, assigned to nobody

[2019-01-18 18:30] kseverinkangas-zg commented on #9425
Instead I would call MBED_ASSERT, because the wifi module can be recovered by using hard reset.

[2019-01-18 18:36] unsignedint commented on #9420
@mmahadevan108 ping.. any ideas?

[2019-01-18 21:16] Crzyrndm opened #9435 "rtos::MemoryPool doesn't handle non-trivial (i.e. non-"C compatible") types"
### Description
Background - I'm writing a desktop / portable implementation of the mbed rtos and utilities to enable more testing of low level infrastructure code (without the limitations imposed by working directly on the hardware). Due to this I've been digging quite deeply into some of the rtos constructs

Problem - rtos::MemoryPool is a simple wrapper over rtx_MemoryPool. This in itself is no

[2019-01-18 23:25] yogeshk19 opened #9436 "Adding BLE samples that work with MBED OS >= 5.11 and showcasing Cordio/BLE 5.0 features."
###Description

1. Since the release of MBED OS 5.11 and the upgrades made to MBED OS to support BLE 5.0 features, one of things I have noticed a quite a number of warnings when porting our existing code base to MBED OS 5.11 which uses the BLE API,  as a lot of the original API set have been deprecated, especially the way you advertise and how to determine the connection status and I am guessing t

[2019-01-19 00:46] AGlass0fMilk commented on #7674
@c1728p9 All interrupts, whether from the USBD or POWER peripheral, are handled in `USBPhyHw::process`

That being said, there are some member variable buffers that get modified during those interrupts to pass the type of interrupt on. So maybe that is causing the crash when I remove the NVIC calls.

I could implement a queue or something that serializes events but it seems to be working fine when

[2019-01-19 03:34] kaiser-ren commented on #9263
Hello @pan- ,
As for this issue, any update on it? I'd like to check with you that when it could be on the schedule.
Thanks.

[2019-01-19 05:36] ciarmcom commented on #9436
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-772*

[2019-01-19 05:36] ciarmcom commented on #9435
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-773*

[2019-01-19 05:59] AGlass0fMilk commented on #7674
I removed the `size == 0` assert and now I'm hitting a different error in the Nordic stack. I don't think SDK14.2 supported the ISO endpoints very well. :man_shrugging:

The culprit appears to occur in the setup process for the `USBEndpointTester` used for all the `endpoint test ...` test cases. At some point, the host requests the device to setup a new interface. During removal of the old endpoin

[2019-01-19 18:26] AGlass0fMilk commented on #7674
So I've temporarily patched the ISO endpoint issues by removing the 0-size assert and making sure not to call `usbd_ep_abort` on ISO endpoints (normally called as part of `nrf_drv_usbd_ep_disable` but certainly causes an ASSERT if used w/ an ISO endpoint).

Now I'm experiencing an assert in the Mbed stack during the `endpoint test data correctness`. During transfers, usually OUT transfers right af

[2019-01-19 19:29] AGlass0fMilk commented on #7674
Really confused as to how this is happening... the nRF52840 hardware is triggering a call to `nrf_usbd_epoutiso_dma_handler` indicating that a DMA transfer was completed for the `ISOOUT` endpoint. When I check the `SIZE.ISOOUT` register (0x400274C0), the `ZERO` bit (bit 16) is set, indicating `Zero-length data received, ignore value in SIZE`.

![screenshot from 2019-01-19 14-12-39](https://user-im

[2019-01-21 06:17] Vanireddy6 commented on #9299
Hi OPpuolitaival,
Thanks for  providing that link.
Actually i want to write a testcase to call the BLE API's....Is there any example present for that?
Please let me know if it is..

[2019-01-21 08:10] kjbracey commented on #9423
Basic cause is that the `copy` helper for a "function" callback only copies the function pointer, not the "object" pointer, leaving it uninitialised, so the `memcmp` sees a difference in that second word of the callback.

I can't really follow the code though - I don't really understand why the complexity of the `copy` helper, compared to the assumption that `memcmp` is adequate for an equality te

[2019-01-21 08:24] kjbracey commented on #9423
Still, that's only going to increase code size further. Can we drop the `copy` helper, and just `memcpy` the thing instead? It seems that we're making so many assumptions about layout, that we effectively only work on raw pointers that would be memcpyable. What's the use case for the `copy` and `dtor`?

[2019-01-21 09:00] AriParkkila commented on #9098
@maclobdell that cellular socket is to be removed, as soon as cellular modem drivers are passing Mbed OS netsocket tests.

[2019-01-21 10:20] AdamZhang0124 commented on #9396
Hi @SeppoTakalo，

The ```[_rtx2_create_task] [rtw_little_wifi_mcu_thread]priority is higher than osPriorityRealtime``` warning message has been concealed.

However, as the following messages are burned in the ROM, they cannot be concealed.
[code]

Other than these, have you noticed any other redundant messages so far, so that I can solve them together with one commit?

Many thanks.

[2019-01-21 10:40] SeppoTakalo commented on #9396
This is the only one that I can find anymore (other that those already mentioned)
[code]

Also this, but actually not related to this, because it seems to be Daplink failure:
[code]

So if you can still check the `timer_wrapper` then I think this can be closed once you submit fixes.

[2019-01-21 10:48] 0xc0170 commented on #9436
cc @ARMmbed/mbed-os-pan

[2019-01-21 12:08] 0xc0170 commented on #9435
I am eager to hear more about this one, will you be able to share more?

@ARMmbed/mbed-os-core Please review.

[2019-01-21 12:15] #9426 closed, assigned to 0xc0170

[2019-01-21 12:39] davidsaada commented on #8513
Thanks @jeromecoutant managed to reproduce it (by simulating a memory restricted board). Trying to find the root cause now.

[2019-01-21 12:44] #9400 closed, assigned to fkjagodzinski

[2019-01-21 13:51] vidavidorra commented on #9412
@AriParkkila It looks like the timeout you've noted makes a lot of difference. Previously I had about 20 % of the time where it wouldn't connect at all. I'm now running with Mbed trace propperly enabled and the changes from the attached patch (at timeout and at sync), and still have the other changes to decrease the retry array and increased `TIMEOUT_SIM_PIN`.
[cellular_context.patch.zip](https://

[2019-01-21 15:20] 0xc0170 commented on #9343
Fixed on master

[2019-01-21 15:20] #9343 closed, assigned to nobody

[2019-01-21 15:39] #9381 closed, assigned to cmonr

[2019-01-21 16:03] davidsaada commented on #8513
@jeromecoutant Please check whether #9445 resolves this issue.

[2019-01-21 19:24] Crzyrndm commented on #9435
Will definitely be considered once I've solved some of the less trivial issues. MemoryPool is not exactly complicated, while a portable emulation of Thread (priority, stack usage, etc.) will be "interesting" to say the least (probably not worth the trouble for my application).
The initial push for this was an rtos::Mail replacement that only exposes push/pop (at the cost of a slightly higher naive

[2019-01-21 21:40] omdathetkan opened #9447 "Target: STM i2c_byte_write returns value not consistent with documentation"
### Description

[code]

[code]

Then in i2c_byte_write it always returns 1;

ACK should be checked and the result should be returned

### Issue request type
    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-01-21 23:30] hierophect commented on #7010
I'm sorry to ask this here but would anyone know how to implement geky's workaround for MBED 2? It seems like much the same deal, adding the virtual functions to the SDFileSystem's FATFileHandle, and then MBED's FileHandle and LocalFileSystem. However, adding the function screws with every library that uses the Stream class, which inherits FileHandle. Anybody know how to make it not make all my st

[2019-01-22 04:21] AGlass0fMilk commented on #7674
Just merged in recent updates to the official feature branch.

The first test (control_basic_test) is now failing again. It looks like an issue I had previously so I have an idea of how to solve it. The good news is that now `usb soft reconnection test` has started passing. @fkjagodzinski was anything changed in the test code related to that?

[2019-01-22 05:33] AGlass0fMilk commented on #7674
It looks like what's happening is during interface reconfiguration, in the function call `USBEndpointTester::_setup_non_zero_endpoints`, a call is made to `read_start` on the ISO endpoint. When `_phy->endpoint_read` is called, the Nordic driver returns that it was busy and the read start failed. This prevents the `info->pending` counter from being incremented, but does not cause a direct test fail

[2019-01-22 05:39] ciarmcom commented on #9447
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-775*

[2019-01-22 06:45] vidavidorra commented on #9412
I've run the code with all the other changes resolved and only the timeout before `_at.cmd_start("AT+CGDCONT=");` and the AT sync after that. Unfortunately still running into the same issue. 137/187 connection made over roughly 15 hours.

I'll run some devices with different parts of the changes I made to get a more specific idea of what is required to get the same 100% score as I noted in my prev

[2019-01-22 07:02] toyowata opened #9450 "Wio 3G (UG96) always failed to run at the 2nd connection"
### Description

2nd time cellular connection of the Wio 3G (UG96) always failed (TIMEOUT) for cellular and Pelion-ready example code.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

## Step to reproduce
[code]
* Set correct APN/User/Password information in the `mbed_app.json` and add following config as an workaround of the issue #9194.
[code]
* Build the example
[code]

[2019-01-22 07:19] AriParkkila commented on #9450
@toyowata can you check that `NetworkInterface::disconnect()` is called before exiting the testcase.

[2019-01-22 07:34] toyowata commented on #9450
@AriParkkila

I actually did it and not working.

I am discussing this issue with @ARMmbed/team-seeed and following is possible fix (force power off the modem in startup).

* Implement `onboard_modem_power_down()` function for UG96
[code]
* Force power off the modem module at startup
[code]

[2019-01-22 08:00] VeijoPesonen commented on #9425
Problem with MBED_ASSERT is that it's only effective with debug and development builds. I would saying failing as fast as possible is the best option here because we don't know the reason behind a watchdog reset and how often it might be occurring. If the device can't connect to a network it is better to see from the logs what is causing it in as early stage as possible.

[2019-01-22 08:33] #9281 closed, assigned to davidsaada

[2019-01-22 09:51] maskedw opened #9451 "USBSerial baud rate setting does not work"
### Description
+ Target: NUCLEO_L476RG
+ Toolchain: ARM-GCC 6.3.1
+ Mbed: mbed-os-5.10.4

I am developing applications using USBSerial.

`mbed-os/features/unsupported/USBDevice/USBSerial`

NUCLEO_L476RG was not supported by the standard, but it was able to operate USB with a little fix.

`mbed-os/features/unsupported/USBDevice/targets/TARGET_STM`

Data send / receive is working normally.But the t

[2019-01-22 10:31] kjbracey commented on #9435
Makes sense that `MemoryPool` should be able to do this, but changing `alloc` and `free` would not be a backwards-compatible change - anyone already using it with C++ may well be doing their own placement new in the pointer returned, and that requirement is documented.

You would have to make it new methods, rather than changing `alloc` and `free`.

Feels like it's a teeny bit backward though - wh

[2019-01-22 10:53] SeppoTakalo commented on #9425
MBED_ERROR causes device to reboot, and is therefore the correct action to get device back into known state.

[2019-01-22 10:59] 0xc0170 commented on #9447
@ARMmbed/team-st-mcd Please review

[2019-01-22 11:11] vidavidorra commented on #9412
@AriParkkila I've been running a couple of test for the past hours.

1. Just debugging enabled.
    This has been running okay, over 90% of the connections made.
2. Debugging enabled and timeout before AT command.
    This has been running perfectly. 100% of the connections made within reasonable time.

My conclusion so far is that the fix for this is
1. Timeout before AT command
2. Debugging enab

[2019-01-22 12:09] JammuKekkonen commented on #8431
This issue is fixed.

[2019-01-22 12:09] #8431 closed, assigned to nobody

[2019-01-22 12:10] JammuKekkonen commented on #8650
Fixed in 5.11.1

[2019-01-22 12:10] #8650 closed, assigned to nobody

[2019-01-22 12:15] LMESTM commented on #9447
@jorisa
You're mentioning the function
[code]
but you're pointing documentation of:
[code]
the actual documentation of int write(int data) is:
[code]
And I think that STM implementation complies with this defintiion.
The i2c_byte_write will not always return 1, please have a look here:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/i2c_api.c#L682
https://github.com/ARMmbed/mbed-

[2019-01-22 12:18] AriParkkila commented on #9412
@vidavidorra have you tried to add some delay between commands, e.g. `AT_CellularDevice::get_send_delay() {return 100;}`? Note that function may be overridden in your modem driver.

[2019-01-22 12:32] veenaumachagi opened #9454 "Test case failed with "CMD timeout: set --retcode true" or "The system has been rebooted due to a fatal error" , when a function is called using a instance , while runnning ice-tea on mbed examples"
BOARD USED: DISCO_L475VG_IOT01A
Steps to Reproduce:
1.Import "mbed-os-example-ble-Beacon" example.
2.Goto the path "mbed-os/TEST-APPS/device/examples/main.cpp" and open main.cpp file
3.Add "#include ble/BLE.h" and create instance for BLE(BLE &ble = BLE::Instance() and call ble.hasInitialized
4.Run the command "mbed test -m DISCO_L475VG_IOT01A -t GCC_ARM --icetea -n test_cmdline -DICETEA_EXAMPLE_EN

[2019-01-22 12:39] #9254 closed, assigned to nobody

[2019-01-22 12:39] 0xc0170 commented on #9254
Fixed via #9360

[2019-01-22 12:44] kjbracey commented on #9451
The host can request a serial speed by sending "SET_LINE_CODING".

But this is a virtual serial link - the emulation does not extend to emulation of slow serial speeds. The speed will be as fast as is possible via USB.

The line config setting would be used if the device was a USB->serial converter, or a modem, to configure the speed of the physical serial port. It appears that the data there is j

[2019-01-22 12:58] ciarmcom commented on #9451
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-776*

[2019-01-22 12:58] ciarmcom commented on #9450
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-777*

[2019-01-22 13:02] AriParkkila commented on #9379
@oscarh can we close this issue, and resolve network connectivity issues in #9382 ?

[2019-01-22 13:04] vidavidorra commented on #9412
@AriParkkila No, I haven't tried that yet. It doesn't seem to be overridden in my case (u-blox PPP), so I've edited that function to return 200 for now and have disabled the traces to verify whether that works. I've also increased the `DEFAULT_AT_TIMEOUT` that is specified in `features/cellular/framework/AT/AT_CellularDevice.cpp`, to see whether that makes any difference. I'll test both combinatio

[2019-01-22 16:00] jeromecoutant opened #9458 "MBED_DEBUG not set for ARMC6 ?"
### Description

Hi

https://github.com/ARMmbed/mbed-os/blob/16e544d9b4d8790c5a9ce3f7bc7480634539c8ac/tools/profiles/debug.json#L19

Should we add "-DMBED_DEBUG" and "-DMBED_TRAP_ERRORS_ENABLED=1"
in the debug profile of ARMC6 ?

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2019-01-22 16:02] kjbracey commented on #9458
Similarly, release is missing NDEBUG.

[2019-01-22 16:29] jeromecoutant commented on #9458
Seems #9277 is correcting this ?

[2019-01-22 16:37] pmancele opened #9459 "BLE::Gap::startScan() timeout is never triggered"
### Description
Hello,
I'm working on the new Mbed BLE API, using cordio and the [ST bluenrg cordio driver](https://github.com/ARMmbed/cordio-ble-x-nucleo-idb0xa1.git).
I tried on `mbed-os-5.11` and also on `master`

So far its working but I can't realize a scan for a specific duration. Once the ble stack initialized I want to use the following function of Mbed BLE API(as it is done in the Mbed OS

[2019-01-22 17:43] kjbracey opened #9460 "Creating a non-TrustZone ARMv8 image"
### Description

This is prompted by https://github.com/ARMmbed/mbed-os/pull/9446

There seems to be no way to create a simple non-TrustZone ARMv8 image - the tooling is assuming a binary choice between

* Cortex-M23: make a secure TrustZone library
* Cortex-M23-NS: make a non-secure TrustZone image (which must link in a secure library, maybe generated by the above)

There needs to be a third choi

[2019-01-22 17:48] ciarmcom commented on #9459
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-779*

[2019-01-22 17:48] ciarmcom commented on #9458
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-780*

[2019-01-22 17:48] ciarmcom commented on #9454
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-781*

[2019-01-22 17:48] deepikabhavnani commented on #9460
In tools we did not have mechanism to build secure + non-secure binaries with single command or same  core. Ideally it should be core selection - build SPE TF-M and NSPE mbed-os and merge binaries along with post build / pre-build operations.

S/NS variants were provided as a way to build secure / non-secure binaries separately with the help of .mbedignore

[2019-01-22 17:58] kjbracey commented on #9460
We don't need to build everything with a single command - I didn't think the SPE/NSPE does either. But it would be cute.

Having the secure+nonsecure halves remain built as separate targets that select different options seems fine to me - it just would be nice to make the option they specify separate from the core name, reducing the multiplications in the core-related stuff.

Using an extra label

[2019-01-22 18:02] deepikabhavnani commented on #9460
I am confused here for TARGET_TFM. Also we have COMPONENT_SPE / COMPONENT_NSPE coming in.
Should it be:

Non-secure: TARGET_NSPE, DOMAIN_NS=1, TARGET_TFM=0
Secure: TARGET_SPE, DOMAIN_NS=0, TARGET_TFM=1
Non-TrustZone: DOMAIN_NS=0, TARGET_TFM=0

[2019-01-22 18:04] deepikabhavnani commented on #9460
I am yet to understand this https://github.com/ARMmbed/mbed-os/pull/9221, but I am not sure of COMPONENT_SPE / NSPE / PSA - and TFM as target... Should all that be Target as well (my brain says), but need to understand the reason to have them as component + target combination.
This will also play the role here, as we have more flags and combination

[2019-01-22 18:09] kjbracey commented on #9460
I just corrected (hopefully) what I put for TARGET_TFM, possibly while you were writing that.

Most code (drivers, OS) shouldn't care about the distinction, and DOMAIN_NS will be sufficient. But some code might need to tell the difference between "I'm the complete image" and "I'm the security library for the main image", so DOMAIN_NS isn't enough for them. Presumably the "TFM" flag covers that, bu

[2019-01-22 18:36] GregorioMarquez opened #9461 "time(NULL) returns max value of unsigned int"
### Description

I imported the RTC Time example into MBED IDE and after compiling it works, however, if I update Mbed-os to the latest revision, time(NULL) returns the value " 4294967295", which is the maximum value of an unsigned integer.

Target: WIZwiki-W7500P.
tools: MBED online IDE
Mbed-os example revision: c9e63f1

Steps to reproduce:
1 - Import https://os.mbed.com/teams/mbed_example/code/t

[2019-01-22 19:34] SenRamakri commented on #9069
@ccli8 - I'm trying to investigate this. Unfortunately I don't have M487 board and so cant really try. DO you know if this is reproducible in any other Nuvoton boards?

Btw, I tried to compile for M487 and I do see the below symbols defined in Map file and they are 0x100 apart. So, I'm thinking symbols are exported as required and of course, they are defined as the compilation succeeds. Its possib

[2019-01-22 19:46] janjongboom opened #9464 "Huge increase (5K flash, 700B static RAM) between 5.10 and 5.11"
### Description

In my minimal (no RTOS) blinky I see a huge increase in flash & memory usage between 5.10 (2fd0c5cfbd83fce62da6308f9d64c0ab64e1f0d6) and 5.11 (a8f0c33eaa2c52babff9655417c36f4b5edd54d7) on K64F with GCC ARM. It seems that UART and printf drivers are always loaded.

GCC version:

[code]

[code]

This is the `.mbedignore` file for both releases:

[code]

### Issue request type

    [

[2019-01-22 19:52] janjongboom commented on #9464
Bisecting found:

[e4525fbea131356e8308bc5490aba3c99d85a8e1] Mbed Fault Handler was originally placed under rtos folder because of its dependency on some of the RTX data structures for capturing the thread info. But with the new error handling in place thread info collection on hardfaults has been moved to Mbed_error handler. There is no point for fault handler implementation to exist under rtos a

[2019-01-22 21:26] ciarmcom commented on #9464
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-782*

[2019-01-22 21:27] ciarmcom commented on #9460
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-784*

[2019-01-22 22:28] stevew817 opened #9465 "SDBlockDevice does not implement erase command"
### Description
Following up on https://github.com/ARMmbed/simple-mbed-cloud-client/pull/67, it seems that SDBlockDevice does not implement the erase function. Why is that? According to the SD command specifications, SD cards are more than capable of doing block erases when asked to (CMD32, CMD33, CMD38 with the appropriate delays). It's even in the header: https://github.com/ARMmbed/mbed-os/blob/

[2019-01-22 22:30] Crzyrndm commented on #9435
My wrapper is required only b/c MemoryPool doesn't itself provide methods that safetly construct/destruct non-trivial objects. I wrote it as a drop in replacement for my projects (hence still "alloc/free") and shared it as an example of how this functionality can be added (for those who are unfamiliar with manual init/deinit). As a library modification I would suggest something like "borrow/return

[2019-01-22 22:49] screamerbg commented on #9465
Thanks for raising this @stevew817.

Agreed with @stevew817's observation above that sdblockdevice behaves differently compared to other blockdevices. For example, if I need to wipe the contents of a sector regardless of the underlying blockdevice type, do I need to call program() or erase()?

[2019-01-23 02:08] yogeshk19 opened #9467 "Unable to update the Serial Baud rate in application and always defaults to baud of 9600 on NRF52840_DK."
Description

- Target : NRF52840_DK
- Toolchain: GCC
- Tools: mbed-cli
- mbed-os: 5.10.4

Attempting to change the Baud Rate to 115200 doesn't take effect as shown in the code below on NRF52840_DK. I have also attached the bin file built using the online compiler. This has always worked prior to mbed os 5.9 and doesn't seem to work past that version of mbed os. The code below was built against mbe

[2019-01-23 03:06] maskedw commented on #9451
USBDevice (Mbed) performs speed adjustment according to the baud rate setting.
Does USBHost (PC) do speed adjustment?

[2019-01-23 04:50] cmonr commented on #9465
@ARMmbed/mbed-os-storage Fyi

[2019-01-23 04:51] cmonr commented on #9379
@AriParkkila If PR https://github.com/ARMmbed/mbed-os/issues/9382 will resolve this issue, then current convention is to keep the issue open until the PR is merged and confirmed to fix the issue.

Or am I missing something?

[2019-01-23 04:52] cmonr commented on #9379
Yes, yes I am. That's not a PR, it's an issue...
Carry on.

[2019-01-23 05:34] cmonr commented on #9464
@SenRamakri Fyi

[2019-01-23 05:43] ciarmcom commented on #9467
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-785*

[2019-01-23 05:43] ciarmcom commented on #9465
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-786*

[2019-01-23 05:47] cmonr commented on #9459
@ARMmbed/mbed-os-pan

[2019-01-23 06:34] ccli8 commented on #9069
@SenRamakri Following M487, I privately add crash report support to **NUMAKER_PFM_NUC472** and can reproduce the same issue and its fix. I think all Nuvoton targets would suffer the same issue. In my opinion, like my fix above, all targets supporting crash report shall define the `CRASH_DATA_RAM` block. `__CRASH_DATA_RAM_START__`/`__CRASH_DATA_RAM_END__` can then be derived from the block rather t

[2019-01-23 08:05] kjbracey commented on #9435
I guess my point is that in C++ code should not usually be explicitly calling "alloc" or "free" functions to allocate or delete objects, just as they shouldn't be calling `::malloc` or `::free`. They should really be using `new` and `delete`, or an Allocator.

If working that way, the implementation of the custom new/delete operators, or the Allocator, will be using the plain alloc/free from Memor

[2019-01-23 08:22] kjbracey commented on #9451
I don't quite understand the question. The USB CDC link provides two ways for speed to be indicated:

* The Host can issue SET_LINE_CODING to request a connection speed change from the Device
* The Device can report CONNECTION_SPEED_CHANGE to indicate a speed change on its connection

The first is definitely intended for UART compatibility, the second is more for Ethernet or similar

But the USB C

[2019-01-23 08:27] kjbracey commented on #9467
This sort of code is not recommended, despite occurring in lots of old examples - there are two users of the port fighting each other - you've made a `Serial` object initialising the pins, but `stdin` and `stdout` are already using it.  You tend to get away with it on a lot of platforms, because they have special code to try to detect that conflict, but I guess that's not working here for some rea

[2019-01-23 09:49] 0xc0170 commented on #9464
First, this one should address this : https://github.com/ARMmbed/mbed-os/pull/9296

Can you test this PR? Will it help?

You can also disable default fault handles by `MBED_FAULT_HANDLER_DISABLED` in the application if not desired (I can see a reference to the example above)

[2019-01-23 10:03] jussisip commented on #9228
@jeromecoutant Do you any updates available yet for this issue?

[2019-01-23 11:28] tommikas opened #9468 "FlashIAPBlockDevice init failing if using default constructor"
### Description

Target: At least NRF52_DK
Toolchain: GCC_ARM
Build tools: mbed-cli
Mbed OS revision: 5.10.2 and newer

At least on NRF52_DK the default base address ([defined here](https://github.com/ARMmbed/mbed-os/blob/master/components/storage/blockdevice/COMPONENT_FLASHIAP/mbed_lib.json#L6)) causes init to fail.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-01-23 11:39] 0xc0170 commented on #9468
cc @ARMmbed/mbed-os-storage

[2019-01-23 12:22] dannybenor commented on #9468
@tommikas I do not see any component defined in targets.json. Are you adding FlashIAP in your mbed_app.json?

[2019-01-23 12:25] davidsaada commented on #9468
@tommikas FlashIAP block device is a special case where no default constructor can work for all boards. Reason is that flash addresses are different, block device can overrun the code and/or internal storage, and all in all much care should be taken when initializing this block device. Thus calling the default constructor without considering all the implications can be destructive - one can erase

[2019-01-23 12:28] michalpasztamobica commented on #9240
@aqib-ublox , thanks for your response.
I see there are two ways out of the problem: one is to short J21 to make use of the external oscillator, the other is to configure the `lse_available` macro to 0. We have already fixed the issue following @jamesbeyond 's advice, but we will keep the other solution in mind for the future.
Thank you for help, I can now close the issue.

[2019-01-23 12:28] #9240 closed, assigned to nobody

[2019-01-23 12:35] dannybenor commented on #9468
@tommikas why not using the KVStore static API that will provide an automatic address?

[2019-01-23 12:39] OPpuolitaival commented on #9390
@cmonr it is a bit complex way how icetea is used but the message is there:

E           Exception: Error with python /home/travis/build/ARMmbed/mbed-os/tools/run_icetea.py --compile-list --mcu K64F --toolchain GCC_ARM --tcdir /home/travis/build/ARMmbed/mbed-os/tools/test/run_icetea/TEST_DIR_HW,
E           return code: 1,
E           error message: ,
E           output:Traceback (most recent call

[2019-01-23 12:50] tommikas commented on #9468
Yep.

I'm fine with all that, as long as it is indeed documented clearly and the failure is explicit. Fixing it now that I know what the problem is is trivial, but figuring out what exactly was wrong took too much work.

As a user I'd prefer it breaking at compile time rather than run time. I understand not wanting to break the API, but that doesn't help much if the functionality breaks.

Defining

[2019-01-23 12:55] ciarmcom commented on #9468
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-787*

[2019-01-23 13:12] dannybenor commented on #9468
@tommikas thanks for pointing this. We will fix it by removing the default values from the json file. This will cause compilation error if you do not provide addresses  to the constructor or add them to the json file

[2019-01-23 13:18] mmahadevan108 commented on #9420
I will take a look at let you know.

[2019-01-23 13:20] michalpasztamobica opened #9470 "NUCLEO_F429ZI occassionally fails to set up ethernet"
### Description

Target: NUCLEO_F429ZI
Toolchain: any
Tools:
mbed-cli 1.8.3
mbed-os @ af52c30234d61ff136a98728e7119d277b421b32 -< this is today's latest, but I also tried with release 5.11.1, 5.10.3 and 5.9.4

Steps to reproduce:

The issue is rather hard to reproduce - which is probably why it went unnoticed for so long.

Basically, any repeated loop of:
1) setting the ethernet up on NUCLEO_F429Z

[2019-01-23 13:30] 0xc0170 commented on #9470
@ARMmbed/team-st-mcd Please review

[2019-01-23 15:22] c1728p9 commented on #7674
Thanks for the updates @AGlass0fMilk!

[2019-01-23 15:28] davidsaada commented on #9468
PR created to resolve this issue. Note that it can't be resolved in compilation time, as the compiler can't tell whether the default constructor is used or not. Added a run time assertion that points out the error - better than before, where it just didn't work.

[2019-01-23 16:40] ciarmcom commented on #9470
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-791*

[2019-01-23 17:01] AGlass0fMilk commented on #7674
Yeah, I'm kinda just using this issue thread to jot down my ideas/thoughts during debugging. So some stuff may not be fully thought through.

I'm going to see why the Nordic driver returns that it is busy. My first idea for how to mitigate this is to just always keep _all_ endpoints enabled and mask interrupts that the upper layers of the stack haven't enabled. This way there should be no delay in

[2019-01-23 17:08] 0Grit commented on #7674
@AGlass0fMilk Please let know if there is any individual efforts within this that you could use assistance on.
We have a resource here who will need this working at some point, and they may have time to spare.

[2019-01-23 17:11] SenRamakri commented on #9069
@ccli8 - I see your point although we are not seeing this with other targets. I think for some reason the alignment we are using for different blocks in M487.icf is messing up with placement of crash_data block. I'm looking more into this now.

[2019-01-23 18:52] 0Grit opened #9479 "lora-rf-drivers as components"
### Description

@hasnainvirk
 Any particular reason that the lora radio drivers for sx1276 and sx1272 haven't been brought in as mbed-os/components yet?

https://github.com/ARMmbed/mbed-semtech-lora-rf-drivers

Licensing issue?

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2019-01-23 19:39] AGlass0fMilk commented on #7674
@loverdeg-ep Any help would be great! I'm doing this as a side project and I don't get as much time to work on it as I'd like.

For reference, I am using a [Rigado BMD340 development kit ](https://www.digikey.com/product-detail/en/rigado-inc/BMD-340-EVAL/1604-1027-ND/8676236 )as a target and a [TotalPhase Beagle USB12](https://www.totalphase.com/products/beagle-usb12/) protocol analyzer to trace i

[2019-01-23 20:43] jupe commented on #9454
@jonikula this does not look correctly. Aborted test should be visible in summary table and final verdict something else than PASS. This looks another bug in icetea side.

[2019-01-23 21:15] Crzyrndm commented on #9435
Fair call on not using *alloc in a C++ program without some care (and I like the idea of the new overload for the pool, hadn't thought of that). Many of the firmware devs I know are more C-based though so it doesn't have quite the same red flags for everyone (have had reactions that would result in errors ranging from assuming the ctor was run, to mixing C style memset init with a C++ class).

RE:

[2019-01-23 21:27] ciarmcom commented on #9479
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-792*

[2019-01-24 03:04] yogeshk19 commented on #9467
Thanks @kjbracey-arm for taking the time to respond and for your feedback, I will implement your suggestion.  However I have a question is the UART turned on by default since stdin and stdout are using those pins? I am wondering if in a production scenario if this needs to be turned off, where we don't want to draw any additional power especially on a NRF52840 module or conditionally turn it in ON

[2019-01-24 06:05] jonikula commented on #9454
Could be, will need to check.

[2019-01-24 06:27] jonikula commented on #9454
What I can immediately see from the log is that the device never even tries to respond to the first cli initialization command, it just keeps pushing out some error message.

[2019-01-24 07:29] mprse commented on #7308
I'm looking on this one.

[2019-01-24 07:47] kjbracey commented on #9435
My suggestion above isn't as elegant as I hoped - I forgot you can't just do `delete (pool) object`. The syntax isn't symmetrical.

Simplest thing I would have thought for users is to add `operator new` to whichever class you want. That's the best fit for a memory pool usually, isn't it? Any dynamic allocation of an object should come from its corresponding pool automatically for anyone using plai

[2019-01-24 08:57] vidavidorra commented on #9412
@AriParkkila I did my tests and it turns out that for my application there are two things that need to be fixed.

1. There needs to be a timeout before sending `AT+CGDCONT=`. I've only tested this with a value of `1000` (ms) so I'm not sure what kind of timeout we're looking at here.

[code]

2. The timeout between commands need to be increased/present, this is the value that `AT_CellularDevice::g

[2019-01-24 09:07] vidavidorra commented on #9412
@AriParkkila How can I set the `get_send_delay` from my application? Currently I've just edited the `AT_CellularDevice.cpp` source file in my Mbed OS fork but I'd prefer just configuring this from my application. The function is virtual, but is in my situation inherited by the `UBLOX_PPP` class. But that is directly used as far as I know, so it'd be hard for my application to inherit that and crea

[2019-01-24 09:55] mprse commented on #7308
Analysis and patch can be found here: PR https://github.com/ARMmbed/mbed-os/pull/9483.

Fixed as suggested by @tpet93 .

Thanks @tpet93 !

[2019-01-24 11:12] devHAA commented on #8523
@ciarmcom @adbridge @0xc0170  any updates with this issue?

I'm stuck with mbed2 because I can't use mbed-os without the DFU mode working.

Please, can anyone from the ARMmbed team tell us if this is being investigated?

Thank you.

[2019-01-24 11:27] kjbracey commented on #9467
I'm not 100% on the answer to this. I believe the "STDIO_MESSAGES" entry in "device_has" in the JSON is supposed to enable/disable stdio functionality, but not sure that it actually works.

If it doesn't, then there's a newer mechanism to redirect stdio to any device - `mbed_override_console`. You could redirect it to a dummy device - you could redirect to a dummy.

Now mbed_retarget.cpp's default

[2019-01-24 11:36] kjbracey commented on #9467
Oh, and I believe some of the C libraries may not actually properly open stdin or stdout until the first time you make a read or write call, which may stop `default_console()` being called, and hence the UART being initialised.  So you might be okay, depending on toolchain.

[2019-01-24 11:45] SeppoTakalo commented on #9423
@geky We are still waiting for your input.

Is this going to be fixed, or should I use function pointers instead of Callback objects?

[2019-01-24 12:26] #9425 closed, assigned to nobody

[2019-01-24 13:33] VeijoPesonen commented on #9425
PR #9456 implementing the change approved.

[2019-01-24 14:44] 0xc0170 opened #9489 "Makefile: no license header in some cases"
### Description

features/mbedtls/importer/Makefile contains license header file, but other Makefiles in the tree - cellular/nanostack/coap/trace and similar modules do not contain any license header file

SPDX identifier would be sufficient

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-24 14:59] 0xc0170 opened #9490 "emac: files do not contain license description"
### Description

Files in features/netsocket/emac-drivers/, for instance features/netsocket/emac-drivers/TARGET_NXP_EMAC/TARGET_IMX/imx_emac.h do not contain SPDX identifier neither license description

@ARMmbed/mbed-os-ipcore Please review

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-24 15:01] 0xc0170 commented on #9490
Also features/netsocket/emac-drivers/TARGET_NXP_EMAC/TARGET_LPCTarget/lpc17_emac.cpp - does not contain any license information

[2019-01-24 15:37] davidsaada commented on #9281
@Alex-EEE Can you reopen this issue? @geky has drawn my attention to the fact that these files are already under .medignore in an upper folder. This means that the problem shouldn't exist even before my fix (and that I should revert it as it's redundant). Do you have the full LittleFS directory tree with .mbedignore under littlefs folder?

[2019-01-24 15:52] Alex-EEE commented on #9281
This is probably related to https://github.com/ARMmbed/mbed-os/issues/9419 then.  .mbedignore files are not really working properly in mbed 11.  @bridadan confirmed this bug.

[2019-01-24 15:54] Alex-EEE commented on #9281
I don't think I can re open this since @0xc0170 closed it.

[2019-01-24 15:55] deepikabhavnani commented on #9465
SD cards do not need explicit erase before program like raw NAND/NOR flash memories

In case of flash device, explicit erase is needed before program. But in case of SD erase is not needed (internal flash translation layer manages that). If we add erase implementation writes will be slow for unnecessary erase. FAT explicitly erases block before program.

Alternatively,  SD has trim functionality w

[2019-01-24 15:59] bridadan commented on #9281
@Alex-EEE

Just to be clear, .mbedignores _not under a TESTS directory_ that have an entry for a test case wil not actually ignore the test. The .mbedignore file needs to be inside the TESTS directory in order for it to work.

[2019-01-24 16:01] stevew817 commented on #9465
I get that there are certain optimisations that SD is providing and you want to make use of. But that's not the point of this ticket.

The point is that all of the storage volumes implementing the BlockDevice interface should behave similarly, regardless of whether that's the most optimal way to go about something for that specific device or not. Otherwise you can't very well call it an interface.

[2019-01-24 16:02] deepikabhavnani commented on #9465
Storage independent code can be written now as well (example is FAT / LittleFs). Please explain what use case is failing here? it seems block device is used independent of filesystem and some issues are faced.
See if https://github.com/ARMmbed/mbed-os/blob/master/components/storage/blockdevice/COMPONENT_SD/SDBlockDevice.h#L114 serves the purpose

[2019-01-24 16:08] deepikabhavnani commented on #9465
@stevew817 - We need some way to have performance plus functionality, all block devices are not same and do not behave similarly.

Erase + Trim functionality is provided in block device layer https://github.com/ARMmbed/mbed-os/blob/master/features/storage/blockdevice/BlockDevice.h#L136

If application is writing storage-independent code on Mbed OS with block device directly, every erase call will

[2019-01-24 16:08] Alex-EEE commented on #9281
Right.  This wasn't the behavior in mbed 9.  .mbedignore files could be anywhere.  We leverage this capability...we think it's better practice to just have one mbedignore file in root, that way you can easily see in one place all the TESTS being skipped.  Also, we swap the file based on whether we're doing a quick or long CI test.

[2019-01-24 16:09] davidsaada commented on #9281
@bridadan  Thanks for the clarification. Will revert #9440 then.

[2019-01-24 16:11] #8513 closed, assigned to davidsaada

[2019-01-24 16:18] deepikabhavnani commented on #9465
Another option is to perform `write` with zeros to do erase from the application
https://github.com/ARMmbed/mbed-os/blob/993c897b55b27e90035bef784d39fb68d9adec64/features/storage/filesystem/fat/ChaN/ff.cpp#L1644
https://github.com/ARMmbed/mbed-os/blob/993c897b55b27e90035bef784d39fb68d9adec64/features/storage/filesystem/fat/ChaN/ff.cpp#L1664
Please note every `disk_write` operation is erase and pro

[2019-01-24 16:19] ciarmcom commented on #9490
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-794*

[2019-01-24 16:34] davidsaada commented on #9465
Agree with @deepikabhavnani. Would just like to elaborate: SD driver indeed doesn't implement erase, and so are other block devices (such as `HeapBlockDevice`). We have added the `get_erase_value` API to all block devices, which either returns the read value after erase or -1 if the device doesn't support erase (like SD).
Now, we have also added `FlashSimBlockDevice` - this is a virtual block devi

[2019-01-24 17:16] #9207 closed, assigned to nobody

[2019-01-24 17:25] 0xc0170 opened #9494 "nanostack unittests: do not contain license headers"
### Description

Files like https://github.com/ARMmbed/mbed-os/blob/master/features/nanostack/nanostack-hal-mbed-cmsis-rtos/cs_nvm/test/test_cs_nvm_unit/unittest do not contain any license identifier - please add SPDX identifier

cc @ARMmbed/mbed-os-ipcore

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-01-24 19:22] TobinHall opened #9495 "STM32 CAN attach RxIrq unusable."
### Description of defect

In the CAN implementation for STM32 microcontrollers the CAN::read() function is responsible for clearing the flag that generates the Rx interrupt. This is because the flag is reset by a register that also controls the FIFO buffer. If the data is not pulled from the buffer before the flag is reset then the data will not be available.

The issue is that CAN::read() has us

[2019-01-24 19:24] TobinHall commented on #9495
#5267 is likely a related issue.

[2019-01-24 19:48] janjongboom commented on #9464
@0xc0170 Does not help for me. On revision 1b1c1085289e178a88fd56e616d079e1215fd9f3

[code]

Disabling fault handler does help:

[code]

[2019-01-24 19:48] SenRamakri commented on #6975
@toyowata - I tried compiling blinky(with online compiler) with version 5.11.1 and compiled successfully. Is this issue still valid?
@rezaei99 - Your issue may be could be different as you are also exporting.

[2019-01-24 20:30] jupe commented on #9454
Yep, thats original issue in device side I guess.

[2019-01-24 21:11] ciarmcom commented on #9494
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-797*

[2019-01-24 22:27] SenRamakri commented on #9464
@janjongboom - I see the problem, as we moved fault handler from RTOS to CMSIS, disabling RTOS no longer disables fault handler. And the fault handler does depend on mbed_error_printfs. So, I guess if you don't want fault handlers to be pulled in, please add MBED_FAULT_HANDLER_DISABLED. Thanks @0xc0170 for pointing that out. Do you need more help with this issue? And thus, the issue fixed by #9296

[2019-01-24 22:44] janjongboom commented on #9464
@SenRamakri OK, thanks for the explanation.

[2019-01-25 02:27] toyowata commented on #6975
@SenRamakri

This is a build issue with Mbed 2 (classic) library, not Mbed OS 5.x.
Please see reproduce procedure [here](https://github.com/ARMmbed/mbed-os/issues/6975#issue-325165467).

I tested today and got error below:

[code]

[2019-01-25 05:28] Crzyrndm commented on #9435
Tthat was my final position as well, the lack of a allocator delete ends up quite ugly (does give you full ctor access without variadics though) so I'm sticking with the function pair (settled on take/release for now, but I think you'd need something better for a PR. I have the option of just removing alloc/free from the API so I don't need great names 👍).

Adding a new operator to the specific ty

[2019-01-25 05:28] #9435 closed, assigned to nobody

[2019-01-25 07:25] AriParkkila commented on #9412
@vidavidorra thanks.

1. `get_at_delay` is a timeout to wait for an AT response (not the same as `Thread::wait(1)`), and setting that might fix the problem due to it fails on the first call and then retry after a second succeeds..?

2. Can you find any requirement like "send delay needed between AT commands" for your modem to define that in `UBLOX_PPP::get_send_delay()`? Do you think `CellularDevi

[2019-01-25 07:48] desmond-blue commented on #9242
It's related to #9093.

[2019-01-25 08:24] LMESTM commented on #9447
@0xc0170 @jorisa
Please let me know if my explanation makes sense.
If no feedback or further explanation, I'd propose to close

[2019-01-25 09:00] SakethKulapaka commented on #6975
I just got my hands on the GR-PEACH full board yesterday.
@toyowata been getting the same error on the online compiler.

[2019-01-25 09:07] SakethKulapaka commented on #6975
I created a new program and chose the Blinky LED Hello World template. Except for a warning, it runs perfectly.

[2019-01-25 09:54] vidavidorra commented on #9412
@AriParkkila

I don't know the exact internals, from what you've told me ([this comment](https://github.com/ARMmbed/mbed-os/issues/9412#issuecomment-456379631)) I thought that the `get_at_delay` is some timeout between commands and the `#define DEFAULT_AT_TIMEOUT 1000` (in `AT_CellularDevice.cpp`) is the response timeout. Which one is it?
<br>

Yes! I'll happily make a PR for this.

What do you th

[2019-01-25 10:24] jeromecoutant commented on #9460
+1 for Kevin's proposition:
- Cortex-M33: make a non-TrustZone image
- Cortex-M33-S: make a secure TrustZone library
- Cortex-M33-NS: make a non-secure TrustZone image

[2019-01-25 10:34] AriParkkila commented on #9412
@vidavidorra you are right. `_at.set_at_timeout(1000);` changes `DEFAULT_AT_TIMEOUT ` and `get_at_delay` is timeout between commands (or more precisely time from the previous response to the next command)... I guess `set_send_delay` API could be useful in general.

How _set_at_timeout before the AT+CGDCONT=?_ could fix the problem... Could it be that 1) Mbed sends `AT+CGDCONT=1,"IP","withthegrid.c

[2019-01-25 12:31] vidavidorra commented on #9412
@AriParkkila

Based on  that I'd expect that timeout before `AT+CGDCONT=?` shouldn't make any difference since the default timeout is 1000 ms, which is the same as what I've set it to, just before the command. I think I'll try to add a serial log just before the `AT+CGDCONT=?` is sent and print the `_at_timeout` at that moment. If it is already 1000, then adding the line before that wouldn't make

[2019-01-25 13:04] RobVlaar opened #9504 "analogin_device.c doesn't clear internal buffer for Vref"
### Description

 - type: bug

---
### Bug

**Target**
STM32L072CZ

**Files**
analogin_device.c
stm32l0xx_hal_adc.c

**mbed-os**
5.10.0

**Issue**
We use the smt32l072cz for a couple of applications and it uses about 3µA. With a new application we want to use the internal Vref. The usage of it is verry simple but the issue is, it doesn't automaticly turns off its internal buffer when the analog in

[2019-01-25 13:34] jeromecoutant commented on #9504
Hi
Please, submit a PR, we will review it.
Regards,

[2019-01-25 15:58] deepikabhavnani commented on #9460
This will impact all Armv8M targets in development or in Mbed OS. We need broad audience here to confirm. More information https://github.com/ARMmbed/mbed-os/pull/9446#issuecomment-457104220
@alzix @mikisch81 @jeromecoutant @cyliangtw @mmahadevan108

[2019-01-25 16:17] ciarmcom commented on #9504
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-800*

[2019-01-25 16:47] screamerbg commented on #9106
@jeromecoutant This is one of the Mbed Enabled boards? Could you please look at the issue?

[2019-01-25 23:14] deepikabhavnani opened #9511 "Disabling crash-capture feature still allocated memory in RAM"
### Description

Crash capture feature can be disabled with config option `"platform.crash-capture-enabled" : 0`, but that does not impact the linker scripts. Memory in RAM is still allocated and all regions are added.

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Freescale/TARGET_MCUXpresso_MCUS/TARGET_MCU_K64F/device/TOOLCHAIN_ARM_STD/MK64FN1M0xxx12.sct#L84

### Issue request ty

[2019-01-27 00:43] #9465 closed, assigned to nobody

[2019-01-27 07:51] maskedw commented on #9451
I realized that both the USB Host and the USBSerial class of mbed do not consider the baud rate setting.

[2019-01-27 07:51] #9451 closed, assigned to nobody

[2019-01-27 12:09] toyowata commented on #6975
@SakethKulapaka
I still got an error below:

![blinky1](https://user-images.githubusercontent.com/4926755/51800762-b3880800-2277-11e9-809d-30709a0f7ee7.jpg)
![error](https://user-images.githubusercontent.com/4926755/51800768-c4d11480-2277-11e9-949e-3b21e22d3f8f.jpg)

[2019-01-28 00:43] yogeshk19 commented on #9467
@kjbracey-arm
I am not sure what I am doing wrong, however updating the platform.stdio-baud-rate to the desired baud rate, in mbed_app.json, doesn't seem to have any effect. Btw I am compiling the project from the online compiler just so you know.

Also earlier I used to create a Serial object, because not only was I writing out thru' the serial port using say printf statements, however I used to

[2019-01-28 00:58] yogeshk19 opened #9512 "Cordio BLE: ConnectionCompleteEvent seems to be missing one of the Connection Interval properties in the class implementation?"
Description

Target : NRF52840_DK
Toolchain: GCC
Tools: mbed-cli
mbed-os: 5.11.2

I am using the BLE Cordio API and my custom application I have written is a BLE Peripheral. I subscribe to the onConnectionComplete as shown below as example.  The input parameter is an object of type ConnectionCompleteEvent. Some of the properties in this object I am looking for is the  MinConnectionInterval and Max

[2019-01-28 05:24] ciarmcom commented on #9512
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-802*

[2019-01-28 07:01] jonaslindahl commented on #9420
@mmahadevan108 ping.. Did you manage to reproduce the error?

[2019-01-28 07:15] adamelhakham opened #9513 "Occasional hard falt when using the mbedtls entropy fucntion in parrallel threads (K64F)"
### Description
I am part of the group that develops the Pelion Device Management Client. We use mbed-os with KVSTORE and in our testing we do a lot of seeding of a DRBG, which calls the mbedtls `mbedtls_entropy_func` function, which calls the `mbedtls_hardware_poll` function to generate random entropy from the K64F hardware.
In addition, the Pelion device management client runs a thread that ever

[2019-01-28 08:42] jenia81 commented on #9513
@avolinski @sbutcher-arm @Patater
The above issue that @adamelhakham raised is blocking Pelion Client entropy injection feature.
Can someone from Device team can look on this?

[2019-01-28 09:37] jeromecoutant commented on #9228
Hi all

The new ST Link FW is available this morning!

https://www.st.com/en/development-tools/stsw-link007.html

Please check it

Regards

[2019-01-28 11:09] LMESTM commented on #9106
The mbed-os error explicitly reports a "Stack overflow" and the stack size seems to be 0x200 (while main default stack size is often 0x4000). Has the default stack size been strongly reduced / optimized in recent releases ?  Or the interrupt stack size ?
Maybe the changes in timer drivers to support tickless and other advanced operation require a slight increase of the stack size ...

[2019-01-28 11:33] mirelachirica commented on #9345
PR: https://github.com/ARMmbed/mbed-os/pull/9514

[2019-01-28 11:43] jeromecoutant commented on #9106
#8956 was not part of 5.11.0
Could you also check latest release ?
Thx

[2019-01-28 11:57] fkjagodzinski commented on #7674
Hi @AGlass0fMilk, the test case you mentioned hasn't been updated recently.

[2019-01-28 12:36] ciarmcom commented on #9513
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-803*

[2019-01-28 12:38] jarlamsa opened #9516 "mbed OS tools: Path for bootloader image is searched from config directory, not from project root"
### Description
The path for bootloader image is searched from config directory, not from project root.
This causes an issue when program has multiple configuration files in a different folder than the project root, and the config file is issued in compilation with an --app-config flag.

It is happening here:
https://github.com/ARMmbed/mbed-os/blob/master/tools/config/__init__.py#L787

The right p

[2019-01-28 12:40] jarlamsa commented on #9516
@theotherjimmy could you please check?

[2019-01-28 14:20] marcuschangarm opened #9518 "Provide multiple RAM region support for the heap when using GCC"
### Description

Some MCUs, like the STM32L475, have multiple discrete RAM regions. Accessing memory across these boundaries will cause a hard fault. The current `sbrk` implementation for GCC only allocates heap from one of these regions, leaving unused memory in other regions unavailable.

With a custom `sbrk` implementation it is possible to allocate heap from multiple regions (see https://githu

[2019-01-28 14:21] screamerbg commented on #9464
@SenRamakri #9296 doesn't fix the issue.

I just tried to compile the pelion-enablement repository with Mbed OS 5.11.2 for NUCLEO_F207ZG and ARM Compiler 5, and I get the following errors:

[code]

With Mbed OS 5.10.4, I'm able to successfully run all tests with this board.

To reproduce:
[code]

[2019-01-28 14:42] screamerbg opened #9519 "Prematurely introduced feature in PATCH release of Mbed OS (5.11.2)"
### Description
In Mbed OS 5.11.2 (PATCH release), a feature was introduced to blockdevice, which breaks blockdevice drivers that do not live inside Mbed OS - https://github.com/ARMmbed/mbed-os/pull/9135

This is diverging from the Mbed OS features release policy and also from principles of how code is rolled out in Mbed OS so far (Mbed OS 5.0 and onwards). CC @sg- @SenRamakri @mskedia

Additional

[2019-01-28 15:13] maclobdell commented on #8468
@ARMmbed/team-nxp  can confirm.  But to my knowledge, there are no plans for this one.

[2019-01-28 15:19] mmahadevan108 commented on #8468
No mbed support planned for LPC51U68. There is an SDK available for this SoC:
https://mcuxpresso.nxp.com/en/select

The LPC54114 mbed port could be used as a reference along with the SDK for this SoC.

[2019-01-28 15:43] theotherjimmy commented on #9516
@jarlamsa This is the designed behavior.

I disagree, as this makes the paths in the config files confusing. Change your connfig files.

[2019-01-28 16:04] 0xc0170 commented on #8468
@JojoS62 Does that answer your question? Please close if yes

[2019-01-28 16:52] 0xc0170 commented on #9513
Any review? Should `mbedtls_hardware_poll` be protected in the application? or is this K64F issue?

[2019-01-28 17:52] JojoS62 commented on #8468
ok, Thanks for the answers.

[2019-01-28 17:52] #8468 closed, assigned to nobody

[2019-01-28 17:55] samchuarm commented on #9519
@ARMmbed/team-nuvoton

[2019-01-28 20:51] deepikabhavnani opened #9523 "Non Rtos build fails for ARM compiler"
### Description

Mbed OS example when built without rtos, fails in init for ARM compiler.
++ MbedOS Error Info ++
Error Status: 0x80FF013D Code: 317 Module: 255
Error Message: Fault exception
Location: 0x51DB
Error Value: 0x12E6
For more info, visit: https://armmbed.github.io/mbedos-error/?error=0x80FF013D
-- MbedOS Error Info -
++ MbedOS Fault Handler ++

FaultType: HardFault

Context:
R0   : 000

[2019-01-28 20:53] deepikabhavnani commented on #9523
CC @c1728p9 @geky  @SenRamakri @LiyouZhou @sg-

[2019-01-28 21:12] ciarmcom commented on #9523
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-805*

[2019-01-28 21:12] ciarmcom commented on #9519
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-806*

[2019-01-28 21:12] ciarmcom commented on #9518
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-807*

[2019-01-28 21:20] deepikabhavnani commented on #9206
https://github.com/ARMmbed/mbed-os/pull/9524 - IAR is removed from `supported_toolchain` config option for targets failing green tea test to verify all IAR8.x specific changes.

[2019-01-28 22:14] cwq9999 opened #9525 "Flow control fails on STM32L476"
### Description

Flow control fails when the following commands are called in mbed-os 5.11.2 (a8f0c33e).

_serial(tx, rx, ESP32_DEFAULT_BAUD_RATE)
_serial.set_flow_control(SerialBase::Disabled);
 _serial.set_flow_control(SerialBase::RTSCTS, _rts, _cts); //  where tx = PB_10, rx = PB_11, rts = PB_14, cts = PB_13

The error that is given is shown below:

++ MbedOS Error Info ++
Error Status: 0x80FF0

[2019-01-28 22:27] TacoGrandeTX commented on #8626
@AGlassOfMilk - We are performing a review of all open/stale issues.  We know you are focused on adding nRF52840 USB driver support so would you like us to close this issue?  We can always re-open it if you want to pursue it later.

[2019-01-29 05:25] ciarmcom commented on #9525
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-809*

[2019-01-29 06:26] toyowata commented on #8282
Confirmed no issue found with mbed library 164 and online IDE 1.10.25.0.

[2019-01-29 06:26] #8282 closed, assigned to nobody

[2019-01-29 07:45] jarlamsa commented on #9516
How so, shouldn't the app-config config file be always referring to the app?
So the paths in it should be referring to the root of the application, not root of the config file.

Since config files can recide in another directory than the root of the application, can you somehow refer to the root of the application in the path defined in the config file?

[2019-01-29 07:55] JanneKiiskila commented on #9523
@adbridge  we need this to next patch release, please.

[2019-01-29 08:27] 0xc0170 commented on #7308
@tpet93 👍  for the bug report with suggestions how to fix.

[2019-01-29 09:24] 0xc0170 commented on #9523
@mprse Can you please review?

[2019-01-29 09:35] 0xc0170 commented on #9525
cc @ARMmbed/team-st-mcd Please review

[2019-01-29 09:54] mprse commented on #9523
I'll try to investigate this one and provide the fix.

[2019-01-29 10:12] Patater commented on #9513
Mbed OS HAL is not reentrant, IIRC. This means there is no expectation that `trng_get_bytes()` would be safe from multiple threads.

[The Mbed TLS library provides `MBEDTLS_THREADING_C`](https://tls.mbed.org/kb/development/thread-safety-and-multi-threading), which can do some automatic synchronization, but it's limited. In general, performing more than one operation at a time on a single Mbed TLS

[2019-01-29 10:27] kjbracey commented on #9513
`mbedtls_hardware_poll` is not an API that mbed TLS provides, but a system/porting API that it uses.

As such a couple of components have "piggybacked" onto this, by reasoning that "if this API is being provided by the system for mbed TLS, then we can use it too".

There's no realistic way we can ask applications to serialize access to Mbed TLS overall - there are too many independent pieces of co

[2019-01-29 10:27] 0xc0170 commented on #9519
We will review the messaging for this change (release notes, commit messages - they should have answered questions asked) and do retrospective. I'll create a ticket for us (=maintainers).

[2019-01-29 10:35] adamelhakham commented on #9513
I agree. the `mbedtls_hardware_poll` API can be used both by mbedtls (which is used by mbed-os features such as kvstore) but can also be called directly by the application, if it needs access to the TRNG. This means that there is no way for the application to serialize application invocations of `mbedtls_hardware_poll` with OS invocations of mbedtls which invoke that same function. Unless maybe if

[2019-01-29 10:37] kjbracey commented on #9513
I'll prepare a PR with this proposal.

[2019-01-29 10:42] kjbracey commented on #9513
One significant user of `mbedtls_hardware_poll` occurs in the Nanostack-derived middleware - randLIB.h is a high-quality pseudo-RNG for general non-crypto use, and it can accept randomisation being pushed in from various sources (eg radio noise, or MAC address).

And by default it will use `mbedtls_hardware_poll` at startup to get going. (This use predates the TRNG HAL - but we knew that if a syst

[2019-01-29 10:59] 0xc0170 commented on #9513
@adamelhakham Can you test PR 9532 ? it should fix this issue

[2019-01-29 11:00] pan- commented on #9512
Hi @yogeshk19 ,

That is not a bug nor a defect in the new API; the connection event doesn't contain a [min, max] interval in the Bluetooth specification so it doesn't contain one in our API.
Interval is useful when the application request connection establishment or parameter update. It allows the Bluetooth Stack/Controller to select the appropriate value from the range proposed by the applicatio

[2019-01-29 11:22] mprse commented on #9523
I was able to reproduce the failure and tried to adapt heap parameters to be consistent with rtos builds:

https://github.com/ARMmbed/mbed-os/blob/d1b367fbaba295a401729e1a2cbecf48fd3358a2/rtos/TARGET_CORTEX/TOOLCHAIN_ARM_STD/mbed_boot_arm_std.c#L30-L42

Current version:

[code]

It looks like heap parameters should be valid, but I'm still getting hard fault:
[code]

@deepikabhavnani  Do you maybe

[2019-01-29 11:26] screamerbg commented on #9189
@cmonr Correct, although you can reproduce it with any code where `target.components_add` is "emitted" from a library (mbed_lib.json), but the application config (mbed_app.json) doesn't declare it, resulting the behavior explained above.

I've discussed this with @theotherjimmy in person about couple of weeks ago.

[2019-01-29 11:48] pan- commented on #9459
@paul-szczepanek-arm Could you have a look ?

[2019-01-29 11:58] pan- commented on #9423
IIRC the equality operator using memcmp was here for _compatibility reasons_ as it was present in the Function class of mbed OS 3 and one wanted to preserve that behaviour when Callback was written.

More generally, it is [not possible](https://www.boost.org/doc/libs/1_69_0/doc/html/function/faq.html) to implement a correct `==` operator if there is no equality operator defined for the underlying

[2019-01-29 12:15] paul-szczepanek-arm commented on #9459
Sure. Which board are you using so I can repro this?

[2019-01-29 12:19] kjbracey commented on #9513
One extra point on this - I note that the "entropy context" in Mbed TLS is not itself a shared resource, so each `TLSSocketWrapper` or other TLS session has its own entropy context.

That in turn means that `MBEDTLS_THREADING_C` would actually provide no protection here - each entropy context is independently calling `mbedtls_hardware_poll` with no overall system-level lock, just a per-context mut

[2019-01-29 12:43] SeppoTakalo commented on #9423
Then, regarding the https://github.com/ARMmbed/mbed-os/pull/9424 should I continue to use the function pointer as comparing pointers have known result.

Otherwise we cannot remove particular listeners.

[2019-01-29 12:58] kjbracey commented on #9423
Well, we can stick with the `memcmp`, but make sure that `function_move` does a `memset` to zero before its `new`, like its `generate` does. I think that will cover it.

[2019-01-29 13:02] kjbracey commented on #9423
Actually, I think the copy constructor should have the `memset`. That also covers copy construction from unattached `Callback`s, which seem to have the same issue.

[2019-01-29 13:13] pmancele commented on #9459
We are using a custom board, based on the STM32L496RG + the ST BlueNRG module. We already used Bluetooth successfully on our board a few month ago with older API.

I'm now trying to use the last BLE examples with CORDIO and `mbed-os-5.11`

I also tried the `BLE_GAP` example which alternate scanning and advertising perdiod, and we can also see the problem. Here is the output of `BLE_GAP` example:

[2019-01-29 13:20] jeromecoutant commented on #9525
Hi

I can reproduce the issue .

Thx for the report

[2019-01-29 13:35] simonbutcher commented on #9513
I feel like I'm coming late to this, but as touched on above, whilst Mbed TLS supports multiple threads in its standalone form through `MBEDTLS_THREADING_C`, that is currently not supported in Mbed OS.

That's correct, and it's really part of the porting layer. As such its on its own and has to provide its own resource management. Defining `MBEDTLS_THREADING_C` won't help anyone.

I think that's t

[2019-01-29 13:37] SeppoTakalo commented on #9423
Kevin's suggestion works, so this is now fixed in https://github.com/ARMmbed/mbed-os/pull/9424

To be more precise: https://github.com/ARMmbed/mbed-os/pull/9424/commits/95f311c6ecc2f93d86066a1987e14a2b1e828997

[2019-01-29 13:53] paul-szczepanek-arm commented on #9459
We had a chat and Vincent pointed out that the new API call only works for BLE 5 chips and needs added backward compatibility due to lack of an event generated by the controller. Thank you for finding this issue, will be fixed in next patch and I'll post the branch here for you if you want to grab the fix early.

[2019-01-29 14:13] jeromecoutant commented on #9525
Hi
Please check #9534

[2019-01-29 14:22] mmahadevan108 commented on #9420
@unsignedint I am unable to replicate the issue. I ran a K66F and MXRT1050 at the same time and do not see any packets dropped when running the ping test.

I was running from the mbed-os master branch @commit 1a8844e8ed9e6766bfa57c67d8147f9dfeb19135

[2019-01-29 14:23] jonaslindahl commented on #9420
Could you provide exact details of what you were running. Release version, target, HW?

[2019-01-29 14:24] jonaslindahl commented on #9420
GCC build?

[2019-01-29 14:25] mmahadevan108 commented on #9420
ARM build, I can try GCC-ARM build and let you know.

[2019-01-29 14:25] jonaslindahl commented on #9420
Thanx, that's what we are using...

We are using the following compiler:

arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]
Copyright (C) 2016 Free Software Foundation, Inc.

[2019-01-29 14:31] adamelhakham commented on #9513
@0xc0170 @kjbracey-arm
I tested it and our CI passes. Thanks!

[2019-01-29 14:52] mmahadevan108 commented on #9420
Below is what I am using
arm-none-eabi-gcc.exe (GNU Tools for Arm Embedded Processors 7-2018-q2-update) 7.3.1 20180622 (release)
[ARM/embedded-7-branch revision 261907]
Copyright (C) 2017 Free Software Foundation, Inc.

I am not able to reproduce the ping failure that @unsignedint mentioned using GCC_ARM. I am running the app on the K66 and MXRT1050

[2019-01-29 14:53] mmahadevan108 commented on #9420
On K66F:
64 bytes from 10.81.16.55: icmp_seq=314 ttl=255 time=0.195 ms
64 bytes from 10.81.16.55: icmp_seq=315 ttl=255 time=0.198 ms
64 bytes from 10.81.16.55: icmp_seq=316 ttl=255 time=0.207 ms
64 bytes from 10.81.16.55: icmp_seq=317 ttl=255 time=0.187 ms
64 bytes from 10.81.16.55: icmp_seq=318 ttl=255 time=0.180 ms

--- 10.81.16.55 ping statistics ---
318 packets transmitted, 318 received, 0% pa

[2019-01-29 14:54] jonaslindahl commented on #9420
Ok, could we get access to your exact app and then we can find out what is the difference?

[2019-01-29 14:55] jeromecoutant commented on #9147
Could you check the new status ?

Thx

[2019-01-29 14:56] jonaslindahl commented on #9420
For the record: Me and @unsignedint are on opposite side of the globe, but we work together

[2019-01-29 14:56] ghost commented on #7866
I do still get it. I fixed it, but now get e=87 despite adding ``LOCAL_SHORT_COMMANDS := true`` to ``Makefile`` .

[2019-01-29 14:58] jonaslindahl commented on #9420
For now the only difference I see is that we may have different setup/app or compiler so I would like to rule out as many differences as possible and see if I can solve this...

[2019-01-29 14:58] mmahadevan108 commented on #9420
This zip file has binaries for MXRT1050 & K66F
[Issue9420.zip](https://github.com/ARMmbed/mbed-os/files/2808228/Issue9420.zip)

[2019-01-29 14:59] mmahadevan108 commented on #9420
Source for this build is below
[main_cpp.txt](https://github.com/ARMmbed/mbed-os/files/2808241/main_cpp.txt)

[2019-01-29 15:01] pmancele commented on #9459
Ok thank you for the investigation

[2019-01-29 15:02] mmahadevan108 commented on #9420
For MXRT1050, I have an EVKB board.

[2019-01-29 15:04] jonaslindahl commented on #9420
Ok, so I will do mbed new, add you app and change to your commit above in mbed-os.lib.
If I still see the error I guess I will build with your compiler on Windows... :)
Thanks for trying, me or @unsignedint will come back with our results..

[2019-01-29 15:06] mmahadevan108 commented on #9420
Can you try the binary I sent as well. Thank you.

[2019-01-29 15:06] jonaslindahl commented on #9420
I will try right away to rule out any HW issues...

[2019-01-29 15:08] jeromecoutant commented on #9525
@0xc0170
Could set "devices: st" label ?

[2019-01-29 15:09] jonaslindahl commented on #9420
Is the binary for HyperFlash?
We run QSPI NOR so I will have to do some soldering to try if it is HyperFlash...

[2019-01-29 15:14] jeromecoutant commented on #9117
@0xc0170
Could set "devices: st" label
and close ? :-)

[2019-01-29 15:14] mmahadevan108 commented on #9420
Yes, this is for HyperFlash

[2019-01-29 15:16] #9117 closed, assigned to nobody

[2019-01-29 15:16] jeromecoutant commented on #9065
@0xc0170
Could set "devices: st" label ?

@martinjaeger
Should we close this issue ?

[2019-01-29 15:23] jeromecoutant commented on #8290
Should we close this issue ?
Thx

[2019-01-29 15:30] 0xc0170 commented on #8290
Closing due inactivity

[2019-01-29 15:30] #8290 closed, assigned to nobody

[2019-01-29 15:43] jeromecoutant commented on #7227
Please close this issue
Thx

[2019-01-29 15:45] jonaslindahl commented on #9420
I can confirm that your binary for MXRT1050 works. I will start from source now and test all known differences until I find the problem and report back here.

[2019-01-29 16:46] adamelhakham commented on #9513
@0xc0170 @kjbracey-arm
Will the fix be added to release 5.11.3?

[2019-01-29 17:27] martinjaeger commented on #9065
I found a way to circumvent the issue for my specific application by using a different (more accurate) normal timer to implement a clock separate from time(NULL). But tat's not the ideal solution, of course.

In general I think the issue is not solved. Should we try to implement one of your above solutions (@jeromecoutant)?

[2019-01-29 18:07] cmonr commented on #7026
@thi10 If this is still a problem, please open a new issue, since your problem is not directly related to the original issue.

[2019-01-29 18:21] SenRamakri commented on #7347
@TeroJaasko  - Is this still an issue which needs to be addressed or is it being addressed as part of RTX .bss changes as mentioned in #7244.

[2019-01-29 18:30] GregorioMarquez opened #9538 "mbed-os storag does not contain FlashIAPBlockDevice"
### Description

Target: NUCLEO-F207ZG.
Tool: Online Compiler
Mbed OS: 5.11, latest release: a8f0c33

I am trying to run theFlashIAPBlockDevicesBlockDevice example from https://os.mbed.com/docs/mbed-os/v5.11/apis/flashiapblockdevice.html. After including "mbed.h" and "FlashIAPBlockDevice.h", the Online Compiler throws error:

Error: Cannot open source input file "FlashIAPBlockDevice.h": No such fi

[2019-01-29 18:33] SenRamakri commented on #8105
@ashok-rao - Is this still an issue? If not can you please close this.

[2019-01-29 18:39] ashok-rao commented on #8105
Not relevant anymore. Closing.

[2019-01-29 18:39] #8105 closed, assigned to nobody

[2019-01-29 18:45] #9538 closed, assigned to nobody

[2019-01-29 18:45] GregorioMarquez commented on #9538
Sorry, I was missing the set up of the Block-Device in mbed_app.json using target_overrides.

[2019-01-29 18:51] jonaslindahl commented on #9420
I found part of the problem: When we found this issue we switched from our HW to the EVK, but failed to remove one thing we had changed. In our product we don't have the SDRAM so we have changed the memory configuration.

That said, I still don't get it to work without SDRAM, maybe you know what the problem is?
My understanding is that the Ethernet descriptors (rx/tx_desc_start_addr) need to go in

[2019-01-29 18:57] SenRamakri commented on #9464
@janjongboom - I believe the issue mentioned in this issue has been addressed/answered and so closing this issue. Please let us know if you are seeing other issues in this regards, Thanks for reporting this.

[2019-01-29 18:57] #9464 closed, assigned to nobody

[2019-01-29 19:48] yogeshk19 commented on #9512
Hi @pan- ,

Thanks for your response and I was wondering is this new in BLE 5 spec? Prior to the mbed os 5.9 or may be even later the connection event returned these two parameters. This was one of the ways I used to confirm if the update in connection parameter request succeeded or not? In the new API structure since 5.11, is there a way to verify if the updated connection parameters request succ

[2019-01-29 20:28] SenRamakri commented on #9402
@mmahadevan108 - Thanks for your quick response on this. I'll go ahead close this now.

[2019-01-29 20:28] #9402 closed, assigned to nobody

[2019-01-29 21:10] mmahadevan108 commented on #9420
Have you added an entry to make OCRAM uncached inside BOARD_ConfigMPU() i.e for Region 6 change the IsCacheable bit to 1

[2019-01-29 21:13] jonaslindahl commented on #9420
Yes, but please tell me if I did it right. It is all in the patch in the previous message. It is very short

[2019-01-29 21:19] jonaslindahl commented on #9420
Hmm, I'm not sure I understand you... Should I set the Is Cacheable to 1? That means enable cache right?

[2019-01-29 21:21] mmahadevan108 commented on #9420
The below line places the buffer descriptors in a a non-cacheable section that is defined in the linker script.
https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/emac-drivers/TARGET_NXP_EMAC/TARGET_IMX/imx_emac.cpp#L187

You may have to update this for your scenario.

[2019-01-29 21:27] jonaslindahl commented on #9420
That's what I have done. In our code I have all our data except those two in DTC_RAM with cache and those two in OCRAM without cache...

In order not to complicate for you I tried to create another scenario with the patch above which puts all data including the two descriptor buffers into OCRAM without cache.

However I can see now that I failed to do it correctly, but it happened to give the same

[2019-01-29 22:20] cmonr commented on #9513
@adamelhakham 5.11.3 is about to be released. https://github.com/ARMmbed/mbed-os/pull/9532 will come in during 5.11.4

[2019-01-29 22:29] jonaslindahl commented on #9420
I have cleaned up my error. Now all data is in OCRAM and it is uncached, but it does not work.
I have copied the settings which was used for the ncache area of the SDRAM to region 6 and then changed the linker file to put all data in that region. See attached patch...

[0001-All-data-in-OCRAM.patch.txt](https://github.com/ARMmbed/mbed-os/files/2809996/0001-All-data-in-OCRAM.patch.txt)

[2019-01-29 22:53] #9513 closed, assigned to kjbracey

[2019-01-30 02:34] AGlass0fMilk commented on #8626
Yeah, I don't primarily work on ST targets so I probably won't get around to this in the near future... It _should_ be documented somewhere so no one else wastes hours of time debugging issues.

I guess anyone using targets that aren't "officially" Mbed-enabled should beware.

[2019-01-30 05:43] deepikabhavnani commented on #9106
@geobruce - ~~Debug profile has `MBED_TRAP_ERRORS_ENABLED` flag enabled, can you disable that and see if `wait` works in debug profile?~~
https://github.com/ARMmbed/mbed-os/blob/master/tools/profiles/debug.json#L33

Other error reported is stack overflow, and stack size is 0x200 which is for Idle thread.
In case of wait() call, if no other thread is ready, idle thread will be executed which is the

[2019-01-30 06:27] deepikabhavnani commented on #9106
Is this related to https://github.com/ARMmbed/mbed-os/issues/7235 ? Fix to this was added https://github.com/ARMmbed/mbed-os/pull/7241 in 5.9.2 release.

[2019-01-30 08:16] maciejbocianski opened #9540 "Ice Tea - configuration of allowed_platforms doesn't work as expected"
### Description
Icetea should allow to run the test with any of target listed on `allowed_platforms` config, but only first target on the list is recognized. (to run the test with specified target it have to be put on first place)
https://github.com/ARMmbed/mbed-os/blob/9030e5c6efbd9fe40baf3420394fc01eae8496b6/TEST_APPS/testcases/spi_com/test_spi_com.py#L68

@ARMmbed/mbed-os-test-team

### Issue r

[2019-01-30 08:22] geobruce commented on #9106
With "-DMBED_TRAP_ERRORS_ENABLED=1"], set to "-DMBED_TRAP_ERRORS_ENABLED=0"], no success, It doesn’t work still same serial output “test0” and nothing more.

When I change the stack size from 512 of the idle thread to 1024 it does work and I’m able to execute the code step by step.

Van: Deepika Bhavnani <notifications@github.com>
Verzonden: woensdag 30 januari 2019 6:44
Aan: ARMmbed/mbed-os <mbed

[2019-01-30 08:23] pan- commented on #9512
No, this isn't something new to the Bluetooth 5 spec; the mbed API was misleading. If connection were operating with interval for Tx and Rx as large as the one specified in connection interval; batteries would be depleted in minutes. That is why the connection interval is always a fixed value.

You can override the [handler](https://github.com/ARMmbed/mbed-os/blob/ad04edf9c1834e4313e1db73b39bc6768

[2019-01-30 08:43] pan- commented on #9263
@kaiser-ren Please have a look at #9537 .

[2019-01-30 09:31] alzix opened #9542 "_sbrk heap & stack collision check is risky"
### Description

Reopening old discussion #1561 as the SW and HW has changed since last revisited.

Stack and Heap collision checked in [_sbrk](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_retarget.cpp#L1231) implementation  by comparing to `get_MSP()` is risky.

[code]

In current mbed-os implementation MSP is used mainly for during initialization sequence and by interrupt handler

[2019-01-30 10:19] SeppoTakalo commented on #9147
![image](https://user-images.githubusercontent.com/3104794/51974644-113f6e80-2489-11e9-922e-ed8c583128da.png)
![image](https://user-images.githubusercontent.com/3104794/51974707-3b912c00-2489-11e9-9c1b-edb286a7ad81.png)

Now looking good!
Thank you for fixing these.

[2019-01-30 10:19] #9147 closed, assigned to nobody

[2019-01-30 10:21] kjbracey commented on #9542
On this particular point - there's no atomicity issue here. MSP is totally atomic from the point of view of anyone calling malloc/_sbrk. And actually it's totally constant if in an RTOS environment - the main stack is always empty when queried by a thread (apart from the boot callstack leading up to `osKernelStart`).

Yes, interrupt handlers will change MSP while they're running, but that will be

[2019-01-30 10:32] 0xc0170 commented on #9464
There's the report from @screamerbg above 2 days ago, this might be a new issue, @SenRamakri can you review?

[2019-01-30 11:49] paul-szczepanek-arm commented on #9459
Thank you for the great bug report, this is the fix if you're in a rush but I'd suggest waiting until we test and merge: https://github.com/ARMmbed/mbed-os/pull/9549

[2019-01-30 11:55] pan- commented on #9542
@kjbracey-arm Thanks, that was my point.

I had a quick look at #9092 and it seems like we can use [mbed_stack_isr_start](https://github.com/ARMmbed/mbed-os/blob/aff2bee8a457b93c1e0e79e7150fe75575b1d2f2/rtos/TARGET_CORTEX/TOOLCHAIN_GCC_ARM/mbed_boot_gcc_arm.c#L65) as it is defined globally:

` if (new_heap >= (unsigned char *)__get_MSP())` can be transformed into `if (new_heap >= mbed_stack_isr_st

[2019-01-30 12:37] ciarmcom commented on #9542
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-813*

[2019-01-30 12:37] ciarmcom commented on #9540
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-814*

[2019-01-30 12:47] kjbracey commented on #9542
I don't think we necessarily to rule out dynamic behaviour in ARMv8 either - MSPLIM could be dynamically set to current sbrk position, rather than mbed_stack_isr_start, so it can use any memory not used by the heap.

Now, that's not very useful in the RTOS setup, where the main stack is just for interrupts, but conceivably it remains useful in non-RTOS builds where the so-called "isr" stack is act

[2019-01-30 13:17] jeromecoutant commented on #8626
Please check #9553
Thx

[2019-01-30 13:49] juhhov opened #9558 "DISCO_L072CZ_LRWAN1 loses TX bytes"
### Description

 - What target does this relate to?
DISCO_L072CZ_LRWAN1
 - What toolchain (name + version) are you using?
ARM_GCC 6.3.1
  - What tools (name + version - is it mbed-cli, online compiler or IDE) are you using?
mbed-cli 1.7.3
  - What is the SHA of Mbed OS (git log -n1 --oneline)?
a8f0c33eaa2c52babff9655417c36f4b5edd54d7
  - Steps to reproduce. (Did you publish code or a test case th

[2019-01-30 14:02] 0xc0170 commented on #9558
cc @ARMmbed/team-st-mcd @ARMmbed/mbed-os-wan

[2019-01-30 14:05] jeromecoutant commented on #9558
Hi

Do you know if it was it OK with previous version ?

Thx

[2019-01-30 14:45] pan- commented on #9542
Agreed that MSPLIM can be dynamically adjust but we may miss cases where the ISR stack goes beyond its limit. Therefore an application may appear to work when memory pressure is low and crashes when the memory pressure is high. Wouldn't it be better to have it crashing all the time ?

From what I read we don't. It should be at least equal to the main thread stack size and at most it should be equa

[2019-01-30 14:54] cmonr commented on #9558
@juhhov Would you mind providing the exact output? Are they always the same missing characters?

[2019-01-30 15:11] deepikabhavnani commented on #9106
@geobruce - Please verify if https://github.com/ARMmbed/mbed-os/pull/9559 fixes the issue, else we can increase the stack size to 1024.

[2019-01-30 16:42] juhhov commented on #9558
@jeromecoutant I don't know. If you provide other version worth testing I can do it.

@cmonr They are not. Here is some rounds:
[code]

[2019-01-30 19:24] deepikabhavnani commented on #9542
Thanks @alzix for raising this issue, I will like to add few things here:

The default model for GCC_ARM is one region ram model, which uses this implementation of _sbrk(). Its mainly for non-RTOS version. Most partners have added their own version  wrap_sbrk() and _sbrk() to have 2-region ram model because of few issues listed below.

This is good time to rethink on single RAM region model (stack

[2019-01-30 19:29] deepikabhavnani commented on #9542
ISR stack size for non-RTOS builds is 4K and 1K for RTOS build.
Default stack size is in targets.json for RTOS less build https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L30

Overwritten in RTOS lib.json for RTOS build https://github.com/ARMmbed/mbed-os/blob/master/rtos/mbed_lib.json#L29

[2019-01-30 19:53] deepikabhavnani commented on #9523
@mprse - Implementation of __rt_lib_init might be needed as well. https://github.com/ARMmbed/mbed-os/blob/d2e9136ddb54fbc42a80bd8efaffdb859d0b8cc7/targets/TARGET_RENESAS/TARGET_RZ_A1XX/TARGET_RZ_A1H/device/TOOLCHAIN_ARM_STD/sys.cpp#L84

More Info:
http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dai0179b/CHDEGGBA.html

With addition of ARM_LIB_STACK in linker file we are changing the me

[2019-01-30 20:12] cmonr commented on #9540
@ARMmbed/mbed-os-test-team

[2019-01-30 20:14] cmonr commented on #9518
@ARMmbed/mbed-os-core

[2019-01-30 20:18] cmonr commented on #9495
@ARMmbed/mbed-os-hal @ARMmbed/team-st-mcd

[2019-01-30 20:24] #7227 closed, assigned to nobody

[2019-01-30 20:25] cmonr commented on #7227
@jeromecoutant Did #7229 fix the issue?

[2019-01-30 20:25] cmonr commented on #7308
Closing since issue appears to be resolved. Please reopen if this is not the case.

[2019-01-30 20:25] #7308 closed, assigned to nobody

[2019-01-30 20:40] cmonr commented on #8523
@devHAA Right now, it seems like this is waiting on @ARMmbed/team-st-mcd to take a look.

[2019-01-30 20:47] jupe commented on #9540
it is already possible to select one platform from allowed list using argument `--platform_name`. See documentation here:
https://github.com/ARMmbed/icetea/blob/master/doc/Icetea.md

without explicit platform_name selection icetea will pick first from allowed list.
@jonikula, wasn’t it like that? Maybe icetea should pick any of that list which match to attached board in case that there is just onl

[2019-01-30 20:56] cmonr commented on #9390
@OPpuolitaival Hmm, I guess so.

I suppose I was expecting stderr/stdout to also be printed, instead of needing to manually run the subcommand to find the root cause of the problem. Closing since I don't feel strongly about a change being needed.

[2019-01-30 20:56] #9390 closed, assigned to nobody

[2019-01-30 21:06] cmonr commented on #9420
@jonaslindahl Do you think you could open a PR for the patch?

[2019-01-30 21:08] cmonr commented on #9460
@deepikabhavnani Should @SenRamakri reach out to others?

[2019-01-30 21:11] ciarmcom commented on #9558
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-816*

[2019-01-30 21:13] studavekar commented on #9228
@jeromecoutant is there a release doc providing details of features added/ bug fixed? ~~was not able to find one.~~ https://www.st.com/content/ccc/resource/technical/document/release_note/98/de/c7/1b/08/82/44/38/DM00107009.pdf/files/DM00107009.pdf/jcr:content/translations/en.DM00107009.pdf

[2019-01-30 21:14] unsignedint commented on #9420
@cmonr the patch file is a minimal set of changes to the linker and Mbed initialisation for the RT1050 target with SDRAM disabled. This reproduces the Ethernet error discussed in this issue. Hoping to get some feedback from @mmahadevan108 ...

I'm not sure a PR is appropriate (until we have some solution and then we can possibly have some #ifdef for using SDRAM or not?). Cheers.

[2019-01-30 21:35] deepikabhavnani commented on #9460
@cmonr - Internal discussions on this are in progress

[2019-01-30 21:45] deepikabhavnani commented on #9523
@ARMmbed/mbed-os-maintainers - Please note the versions when adding the fix. Currently it will fail for all targets on master, since 8039 and 9092 are merged on master.

#8039 affects K64F and was part of  5.11 release, so local fix for K64F can be part of next patch release.
#9092 affects rest of the targets and is for 5.12, so fix for this should be part of 5.12 and not patch release.

[2019-01-30 23:13] cmonr commented on #9523
@bulislaw ^^^

[2019-01-30 23:53] SenRamakri opened #9563 "Mbed-OS build fails for GR_LYCHEE, RZ_A1H and VK_RZ_A1H targets with ARM Compiler 6.11"
### Description

Mbed OS will be upgrading to ARMc6 Toolchain with upcoming releases. We are in the process of ensuring that all currently supported targets successfully compiles/passes tests with ARMC6 toolchain but we do have some targets currently failing the build with ARMc6 toolchain. The failures are in source code under targets folder and thus needs to be updated.

The error details are as

[2019-01-30 23:54] SenRamakri commented on #9563
Tagging @ARMmbed/team-renesas @kjbracey-arm @deepikabhavnani

[2019-01-31 04:08] ConductedForce commented on #8277
Just did a fresh export for a new project on the online compiler. Eclipse_GCC_ARM this time, fixed by deleting until just `mbed_config.h` .

[2019-01-31 05:25] ciarmcom commented on #9563
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-817*

[2019-01-31 06:04] jonikula commented on #9540
Yes, that is exactly how it works currently. There's some issues that need to be thought about if we want to change that logic related to selecting which platform we use.

[2019-01-31 06:06] jonaslindahl commented on #9420
Hi @cmonr, @unsignedint is exactly right the patch is not supposed to be a PR, only a way for me to show how to trigger the error (bug?)

@mmahadevan108 Yesterday I tried another method where I left all regular data in SDRAM and only moved the descriptors (ncache section) to OCRAM instead of SDRAM. Doing so I used the exact same setup for the MMU for the OCRAM as was used for the ncache area of th

[2019-01-31 06:37] jonikula commented on #9540
Also, if this is run through mbed test, the cli integration should handle setting the correct platforms in the correct way, so there should be no need to use the platform_name arg.

[2019-01-31 07:04] maciejbocianski commented on #9540
Agree, the mbed cli should map `-m K64F` to `--platform_name` and pass it to icetea stuff

[2019-01-31 07:07] jonikula commented on #9540
mbed cli already generates the suite it runs with Icetea in a manner where it should set the allowed_platforms to match the platform you are running with. If that does not happen then there's some issue there as well.

[2019-01-31 09:53] RaEyE opened #9565 "QSPIBlockDevice support for STM32F746ZG"
### Description

I noticed that QSPI and QSPIBlockDevice support has been added to MbedOS.
Therefore I wanted to try it out myself with an STM32F746ZG Nuleo board. The board supports, but is not listed within the QSPI mbed_lib.json files, altough there are STM32F4 and STM32F7 controllers present.

Is there a specific reason why there is no official support from mbed for STM32F746ZG controllers reg

[2019-01-31 10:07] jeromecoutant commented on #8523
- v5.9.6: OK
- v5.10.2: FAILED

Maybe you can check intermediate version ?

[2019-01-31 10:12] WillyKaze opened #9567 "nanostack is missing its configuration and throw an error"
### Description

* Target: **LPC1768**
* Toolchain: **GCC_ARM** v6.3.1
* Using **mbed-cli** v1.8.3
* mbed-os version: tag **v5.11.2**

While compiling mbed-os, compilation fails with:
[code]

Note: Code was compiling fine using mbed-os **v5.8.1**.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-01-31 11:13] jeromecoutant commented on #9565
Hi

Yes, QSPI is supported by STM32F746ZG.

You can then find the pins definition:
https://github.com/ARMmbed/mbed-os/blob/a12ab30f9802bd346aeb57c3b9b0ed676c587620/targets/TARGET_STM/TARGET_STM32F7/TARGET_STM32F746xG/TARGET_NUCLEO_F746ZG/PeripheralPins.c#L384

But there is no embedded QSPI in the NUCLEO board, that's why it is not in the QSPI default file.

[2019-01-31 11:44] jonaslindahl commented on #9420
I have managed to get it to work in OCRAM, but I'm not sure it should be like this. Maybe you can enlighten me @mmahadevan108

To get it to work I had to do the following:
1) Set the area used for all data (except Ethernet descriptors) to shareable (This was the case with the SDRAM setup and I missed it. I guess it is needed since the data buffers are in this section)
2) Set the area used for Ethe

[2019-01-31 12:07] RaEyE commented on #9565
Thank you very much, that explains it.
Then I will have to include / implement it myself since I want to integrate a Macronix MX25R QSPI Flash.

Now I at least know this implemention won't collide with a already existing one ;)

[2019-01-31 12:36] ciarmcom commented on #9567
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-818*

[2019-01-31 12:36] ciarmcom commented on #9565
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-819*

[2019-01-31 12:54] mprse commented on #9523
@deepikabhavnani Thanks for link and experimentation of the problem.

Fix can be found here: https://github.com/ARMmbed/mbed-os/pull/9571

I checked that blinky example(rtos-less build) works with this patch. I also removed redundant files for targets which have already used 2-region memory model (as it is now common). The only difference is that these targets defines also ARM_LIB_HEAP region. I a

[2019-01-31 13:39] paul-szczepanek-arm commented on #9459
fix merged into master

[2019-01-31 13:59] kjbracey commented on #9558
Which CLI test application are you using, exactly? I know some have been upgraded to use buffered `UARTSerial`, but I can see some using `RawSerial` just from a thread, which is going to be flakey.

How fast is the CPU running on this device? (You can print `SystemCoreClock`).

[2019-01-31 14:02] kjbracey commented on #9558
mbed-os-cliapp uses just `stdin` and `stdout`, and that should be fine, but `platform.stdio-buffered-serial` must remain on in its JSON configuration. Turning that off would break input.

[2019-01-31 14:35] 0xc0170 commented on #9565
Can this be closed as answered?

[2019-01-31 14:59] arjunak234 opened #9574 "NUCLEO_F767ZI: Ethernet TcpSocket::send is very slow"
### Description of defect

With the following code, i barely get 1KiBps. But if add a `wait_ms(1)` after the send, speed increases to 1MiBps+

[code]

#### Target(s) affected by this defect ?

NUCLEO_F767ZI

#### Toolchain(s) (name and version) displaying this defect ?

GCC 7.1.0

#### What version of Mbed-os are you using (tag or sha) ?

mbed-os-5.11.2

#### What version(s) of tools are you using

[2019-01-31 16:04] cmonr commented on #8152
@drahnr The message was meant to make it clear what we explicitly support and test against.

A bit after we added the check, we downgraded the message from an error to a warning: https://github.com/ARMmbed/mbed-os/pull/7876

Since I think that answers your question, I'll be closing this. If it doesn't, feel free to reopen.

[2019-01-31 16:04] #8152 closed, assigned to nobody

[2019-01-31 16:05] SenRamakri commented on #9464
@0xc0170 - That's a different issue as I understand, I think that is more of failures to allocate memory at runtime.

[2019-01-31 16:21] #9468 closed, assigned to davidsaada

[2019-01-31 17:27] cmonr commented on #9574
@ARMmbed/mbed-os-ipcore

[2019-01-31 17:46] TacoGrandeTX commented on #9116
@mertkapar Are you able to use the work around we describe above?  If so, we would like to close this as it will become redundant with forthcoming changes to the UI.

[2019-01-31 19:18] offroadbis opened #9577 "Nucleo F411RE and F401RE dropping characters in serial communications when tickless is enabled."
### Description

Characters are being dropped from serial communications at 115200 baud when tickless is enabled.  If I lower the baud rate to 57600 it seems to work.  If I remove the `"target.macros_add": ["MBED_TICKLESS","DEVICE_LPTICKER"],` line it works.

This seems similar to the closed issue #8714

Target Nucleo F411RE or Nucleo F401RE
Toolchain GCC_ARM
mbed-cli
Mbed OS 5.11.2 a8f0c33eaa2c52

[2019-01-31 19:42] offroadbis commented on #9577
The Modem set flow control lines in the code sample above should be commented out.  No characters are dropped with flow control CTS and RTS enabled.  `Modem.set_flow_control(Serial::RTSCTS,PA_12,PA_11);`

[2019-01-31 21:07] cmonr commented on #9577
@ARMmbed/team-st-mcd

[2019-01-31 21:10] ciarmcom commented on #9577
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-824*

[2019-01-31 21:41] #9459 closed, assigned to nobody

[2019-01-31 22:02] cmonr commented on #9567
@ARMmbed/mbed-os-ipcore

[2019-01-31 22:02] cmonr commented on #9540
Hmm. Should this issue be moved into github.com/ARMmbed/mbed-os-tools?

[2019-01-31 22:12] kegilbert commented on #8428
Sure thing, sorry for missing this earlier!

[2019-01-31 22:39] AGlass0fMilk commented on #7674
After wrestling with strange issues that are hard to debug, I'm starting to think the Nordic driver is not directly compatible with the Mbed USB HAL specification. The Nordic driver operates on entire transfer objects and expects to get the entire payload all at once. As a result, Nordic paces itself on the DMA events (which is nice for speed considerations).

Mbed handles breaking up the packets