[2016-06-22 17:10] BlackstoneEngineering opened #1989 "build_release.py --toolchain needs help text"
## Problem

I want to use a toolchain, how do I know what the magic word is for the toolchain of my choice? How do I know what toolchains are supported?

Running build_release.py --help nets the following

[code]

I have no clue what the options for `-t` are
## Solution

Either add tab completion for sub options, or add the currently supported toolchains to the help menu. In fact all of these comm

[2016-06-22 17:18] BlackstoneEngineering commented on #1989
Will probably be resolved by https://github.com/mbedmicro/mbed/pull/1976

[2016-06-22 17:25] theotherjimmy commented on #1989
Nah, the PR that builds on #1976 will do it.

[2016-06-22 17:34] BlackstoneEngineering commented on #1989
Would still love tab completion and additons to the help menu's in the future tho!

[2016-06-22 23:06] geky opened #1990 "[build.py] debug-info prevents compilation for GCC_ARM"
Ran the following:
[code]
Works just fine.

But oh no! Someone (not me I assure you) put a bug in my program. Time to debug.

Ran the following to add debug info:
[code]

Here's some random info:
 - git log -n1 --oneline: f864b84 Merge pull request #1983 from mbedmicro/fix_config_tests
 - python --version: Python 2.7.11+
 - cat /proc/version: Ubuntu 5.3.1-14ubuntu2.1

[2016-06-23 06:08] sg- commented on #1978
This should be managed by a database API where this information is stored, not the target description.

[2016-06-23 06:08] #1978 closed

[2016-06-23 06:13] sg- commented on #1969
The default baudrate by historic precedent is defined by the platform being mbed OS. An application could override this but all targets should use the default same baudrate. Last thing we want is different targets with different baudrates. How would you ever know what to set the terminal at?

This should be fixed to use a common configuration value for the platform https://github.com/mbedmicro/mbe

[2016-06-23 06:25] sg- commented on #1947
@SeppoTakalo

[2016-06-23 08:33] infinnovation opened #1991 "gpio_irq_init does not allow different IRQ handlers"
The implementation of gpio_irq_init stores the handler function in a single global variable.  Thus it is impossible for different parts of an application (e.g. libraries which have no knowledge of each other) to register different handlers, even for different ports, since the last call to gpio_irq_init "wins".

This violates expectations since the restriction appears not to be documented.

Clearly

[2016-06-23 08:45] eren23 opened #1992 "mdot connect issue"
Hello folks i tried to connect my mdot online with the example in following link:
"https://thethingsnetwork.org/labs/story/getting-started-with-the-multitech-mdot/step/arm-mbed#step-anchor"

 but the problem is something going wrong when i try to do this example and nothing appears in serial monitoring scene.

"Warning: Incompatible redefinition of macro "__MBED_CMSIS_RTOS_CM" in "mbed-rtos/rtx/TA

[2016-06-23 09:48] mlnx opened #1993 "[Documentation] memap: differences between Fill & Misc"
### Description
- Type: Enhancement
- Priority: Minor

The doc should be available here (TBD): https://github.com/mbedmicro/mbed/blob/master/docs/memap.md

[2016-06-23 14:40] LiyouZhou opened #1994 "config file does not work when compiling tests"
cli version 0.7.13
mbed sha https://github.com/ARMmbed/mbed-os/#15b80ad7e9d069ba92cdeb0493015404bcd9ba31

To reproduce:

[code]

[2016-06-23 17:49] theotherjimmy commented on #1990
That cat /proc/version is just the gcc version. it should look something like this:
[code]

[2016-06-23 20:52] theotherjimmy opened #1996 "Unused arguments in detect_targets.py"
In particular, detect_targets.py accepts the following arguments that are not needed:
- `-m/--mcu`
- `-t/--tool`
- `-c/--clean`
- `-o/--options`
- `-f/--filter` we should probably make this one work instead of removing it.

These options print in the help. We should remove these options from the argument parser in detect_targets.py

[2016-06-23 21:01] theotherjimmy opened #1997 "Option --source for get_config.py should be mandatory"
It errors out if you do not supply `--source`.
For example:

[code]

should the `--source` argument be required, or should it default to "."?

[2016-06-23 22:04] bridadan commented on #1996
Should be a quick fix: https://github.com/mbedmicro/mbed/blob/master/tools/detect_targets.py#L43

Just need to replace that line with a fresh instance of argparse.

[2016-06-23 22:04] bridadan commented on #1997
cc @bogdanm

[2016-06-24 01:23] screamerbg commented on #1990
LGTM

[2016-06-24 03:34] #1990 closed

[2016-06-24 09:29] MarceloSalazar opened #2001 "Need to be able to use multiple compiler flags"
Duplicate of https://github.com/ARMmbed/mbed-os/issues/389
### Description
- Type: Enhancement
- Priority:  Major
## Enhancement

**Reason to enhance/problem with existing solution**
Need to have compiler flags e.g., optimisation level, flag warnings as errors etc as configurable parameters.

**Suggested enhancement**
The configuration may happen in a json file or on the command line along with mb

[2016-06-24 13:21] bogdanm commented on #1969
I couldn't agree more, but what happens if for whatever reason the target is not able to provide the expected baud rate? Ultimately, the baud rate **is** hardware-dependent. So what about this:

- we start with defining the default baud rate in the platform configuration.
- if at some point we find some target(s) that are unable to sustain that baud rate, we move the configuration to the target sy

[2016-06-24 14:25] jupe opened #2004 "build information as compile time defines"
Yotta had this feature and was useful for test applications we have: https://github.com/ARMmbed/yotta/issues/403

Propose is to collect build/module information like:

[code]

this was originally created to armmbed/mbed-cli: https://github.com/ARMmbed/mbed-cli/issues/182

[2016-06-24 15:00] geky commented on #1969
Are there any targets that are unable to support 9600?? It appears that 9600 is a requirement for serial support, and a reasonable one. I'm agreeing with sg- here, 9600 serves as a good baseline for both the targets and mbed (not to mention it's already the default for host PCs).

The issue I've observed is that users are finding 9600 an insufficient default for stdio for applications. As noted by

[2016-06-24 21:26] BlackstoneEngineering opened #2007 "DigitalIn .is_connected() not working correctly"
## Problem

The DigitalIn .is_connected() function serves to check if the pin has been connected, that is if the pin has been initialized with a pin value or is a no connection NC value. Currently the implementation is broken and is not populating correctly. It has something to do with how objects are getting passed around, I believe it is because the actual GPIO object is being initialized in the

[2016-06-24 21:26] BlackstoneEngineering commented on #2007
@sg- over here

[2016-06-24 21:31] BlackstoneEngineering commented on #2007
This also effects DigitalOut and DigitalInOut

[2016-06-26 05:31] jenia81 opened #2011 "List of source files as option to compilation"
Currently, mbed-cli compile command requires list of folders with source files.
It would be a benefit to have an option that enables to compile source files from a list.

In our provisioning tree(that we currently compile with mbed-cli) we have folders that contains both library sources and tests/application sources.
For library compilation, we use --source option + .mbedignore for ignoring all te

[2016-06-26 05:32] jenia81 commented on #2011
@trianglee
@mottigondabi

[2016-06-27 06:52] kjbracey-arm commented on #1969
I would be quite happy for stdio terminal to have a different default to the serial object itself. That seems perfectly natural - you are specifically configuring the console - "console=ttyS0,115200" in Linux-speak, not a generic serial port.

Raw serial port devices having default rate 9600 is conventional for backwards compatibility. Consoles less so.

But if the console does not have a fast/sen

[2016-06-27 07:34] 0xc0170 opened #2012 "gcc - newlib - floating numbers printf/scanf (configure for targets, cleanup required)"
There's the if condition for some tagets on the line https://github.com/mbedmicro/mbed/blob/master/tools/toolchains/gcc.py#L287 .

Here's the code snippet:

[code]

We should investigate why there's `-u_printf_float` vs `-u _printf_float` (different GCC ARM versions?), plus looks at this if/else - either provide a configuration option, or follow the other toolchains. IAR and ARMCC full stdlib prov

[2016-06-27 08:05] ohagendorf commented on #2012
For me only the variant without space works. With a space the option seems to be ignored.
The original config was with a space.

[2016-06-27 11:29] LMESTM opened #2017 "No pwmout desctructor"
In hal/hal/pwmout_api.h there is the definition pwmout_free for targets to implement.
  void pwmout_free(pwmout_t *obj);
Many targets actually do have an implementation of this function, but this is never call from PwmOut class as there is no ~PwmOut.
Note: This is also valid for other objects, but I trying to test this one.

[2016-06-27 11:36] LMESTM commented on #2017
I have a proposal in a branch that I tested ok on STM32
https://github.com/LMESTM/mbed/commit/7a64b231054b027420b5ca9dfa7934635d82685b
but I amnot sure it's the proper implementation - so feedback would be welcome before  a possible PR is sent.  If not the proper way, I'd prefer mbed staff to address the issue.

[2016-06-27 13:27] pan- opened #2024 "No recovery mechanism from Thread instantiation faillure"
Instantiating an object of type [`Thread`](https://github.com/mbedmicro/mbed/blob/master/rtos/rtos/Thread.h) will start the thread immediately.

If the thread can't be started then the system will enter in [`error` state](https://github.com/mbedmicro/mbed/blob/master/rtos/rtos/Thread.cpp#L52-L59).

It should be possible to use the c++ `Thread` wrapper and recover from errors if the thread can't be

[2016-06-27 15:01] adustm opened #2027 "MBED_16 is not working on STM32F4 with IAR toolchain"
Hello,
We noticed that the MBED_16 is failing with IAR toolchain at least for STM32F4 and STM32L4 families
it gives the following result:
[code]
[code]

Adding the following line in rtc_read function of hal/targets/hal/TARGET_STM/TARGET_STMF4/rtc_api.c fixes the issue:
`timeinfo.tm_isdst = -1;`

Basically I would say that I am happy with this bug fix. But why is the issue toolchain dependent ?
I r

[2016-06-27 17:03] theotherjimmy commented on #1997
or even dirname(dirname(__file__)).

[2016-06-27 22:38] xsxlaughterx opened #2035 "HAL_CM3/4.c and SVC_Table.S throwing bad instruction exceptions [Kinetis Design Studio]"
Hello @screamerbg, this could be a huge misunderstanding on my part, but I seem to have imported the Cortex-M0 and M0+ versions of these assembler files without a hitch so I wanted to bring this to your attention.

When I try to build my KDS project pretty much every single line of these files is called for carrying a "bad instruction". I've scrolled through and compared the different versions (M0

[2016-06-27 23:42] #2035 closed

[2016-06-28 07:52] pan- commented on #1561
@sg- @mjs-arm The [Memory model handbook](https://developer.mbed.org/handbook/Memory-Model) is confusing to me.

[code]

I wonder how malloc and friends can prevent any collision right now.

Since `malloc` is called in thread mode and the main stack is only used by interrupts (thanks to the RTOS) then it is likely that the main stack is empty and MSP very close to the top of the RAM when `_sbrk()`

[2016-06-28 08:40] 0xc0170 commented on #1982
I tested it on the latest master (mbed and project generator).

command:
[code]

uvision misc options:
[code]

When I build without -b, there's an error about missing LAST/FIRST, I'll investigate.

This issue is for online IDE, thus when reported, should be tested compared to the latest mbed lib release and master (=to find out if we haven't yet fixed it).

[2016-06-28 08:51] 0xc0170 commented on #1982
There's another issue that needs fixing, but not connected to microlib. I'll close this one, as it is resolved within this repository.

[2016-06-28 08:51] #1982 closed

[2016-06-28 08:55] 0xc0170 commented on #2024
Thread object defines a method:

[code]

If an error occurs during ctor, I would expect to get a state, and check for ``Inactive`` - not created or terminated?

[2016-06-28 08:59] 0xc0170 opened #2040 "Exporter - project.py contains sources + mbed lib object files (even when requested -b)"
To reproduce:

[code]

The project does not build as there are duplicated symbols

[2016-06-28 11:48] #1993 closed

[2016-06-28 12:26] pan- commented on #2024
@0xc0170 Thanks Martin, in that case then the instantiation should not enter the error state in case of error but instead set a state: https://github.com/mbedmicro/mbed/blob/master/rtos/rtos/Thread.cpp#L51-L61 .

[2016-06-28 13:37] 0xc0170 commented on #2040
the mbed folder (mbed lib built) and hal are present in the project file,they are even copied. So far I checked few places in the project/exporter.py scripts, not found yet the cause. I suspected  it would be either toolchain scan and copy or in the project, removal of mbed lib ``if not options.build``.

cc @bridadan @screamerbg @theotherjimmy Any help appreciated to fix this regression

[2016-06-28 14:01] bridadan commented on #2040
@0xc0170 I'm on this hash 986ed4f22ced11f5197fe2326af0f00e701896bc. I just tried this with the following commands:

[code]

And that actually worked fine.

When I exported without the `-b`, that failed with the following error when trying to compile:
[code]

Is this the behavior you mean?

[2016-06-28 15:43] 0xc0170 commented on #2024
cc @geky What do you think about this proposal, to remove "fatal" error() and let user to handle some use cases

[2016-06-28 15:53] 0xc0170 commented on #2040
You don't have mbed/ folders and hal/ . with ``-b`` , there sshould be only mbed folders, no hal

Yes, exact error I was seeing

[2016-06-28 15:56] 0xc0170 opened #2048 "Features - gcc arm to fail to export"
traceback with the command I used to get this failure:

[code]

Using project.py is fine, no features probably present, thus it does not fail.

cc @screamerbg @bogdanm @theotherjimmy

[2016-06-28 16:02] theotherjimmy commented on #2048
Thanks for reporting! I'll look into it for you.

[2016-06-28 16:12] theotherjimmy commented on #2048
That should do it.

[2016-06-28 17:03] geky commented on #2024
There was a lengthy discussion about this over here (unfortunately private): https://github.com/ARMmbed/mbed-os/pull/79

I agree implicitly starting the thread in the contructor is a relatively terrible idea due to the lack of error reporting (but hindsight is 20x20). Providing the error state is a good workaround, but auto-starting in the constructor has other downsides such as encouraging pre-ma

[2016-06-28 18:00] theotherjimmy commented on #2040
I'm not seeing extra sources.
log:
[code]

[2016-06-28 20:28] theotherjimmy commented on #1671
#1911 is merged so this is done then? @0xc0170

[2016-06-28 21:35] gdhamp opened #2059 "main thread task_id is 1 when mbed is configured with #define OS_TIMERS 0"
When mbed is built with #define OS_TIMERS 0, svcThreadCreate() fails (correctly) for the creation of the timer thread. This causes the main thread to have task_id 1. There are a couple of places where the task_id for the main thread is assumed to be 0x02. In particular, rt_stk_check fails since it is trying to ignore the MAGIC_WORD check on the main thread but the task_id check fails since the mai

[2016-06-28 22:58] MarceloSalazar opened #2061 "mbedgt dependency not installed"
Bug on installing dependencies. It affects the user experience at installing mbed tools.

Just tried the mbed tools on a new environment and the cmd tools were not able to find `mbedgt`
Also tried: ```sudo pip install -r requirements.txt``` but the problem persists.

Environment:
Linux Ubuntu 14.04.01
mbed-cli version 0.7.17
mbed #ec1ec7c3e2f383b7d795856756abf6b934f37fd

Workaround:
sudo pip insta

[2016-06-28 23:45] bridadan commented on #2061
@mlnx Do you have the output from the initial `sudo pip install -r requirements.txt` command? I can confirm that `mbed-greentea` is listed in `requirements.txt` at the hash you listed: https://github.com/mbedmicro/mbed/blob/ec1ec7c3e2f383b7d795856756abf6b934f37fdf/requirements.txt

So it should have been installed. Unless you had a very old installation of mbed-greentea that didn't have the `mbedg

[2016-06-28 23:56] bridadan commented on #2061
The requirements should probably be similar to what you proposed here: https://github.com/ARMmbed/mbed-os/pull/386

[2016-06-29 01:49] #2048 closed

[2016-06-29 05:25] 0xc0170 commented on #1919
I Am closing this, as it was resolved. the issue I reported here , I created a separate ticket for it to track it.

[2016-06-29 05:25] #1919 closed

[2016-06-29 06:33] mlnx commented on #2061
There was no output. Indeed `mbed-greentea` was listed as requirement (without version info)

It's possible I had an old version. And I think quite a few people may hit this case.

Interestingly, I manually updated my local `requirements.txt` with the suggested versions and then ran `pip install -r requirements.txt` but it didn't fix the issue.  This one did: `sudo pip install mbed-greentea --upgr

[2016-06-29 07:14] pan- commented on #2024
Explicit deprecation of those constructors is a really good thing.

Only one way to start a thread is another good thing.

I think I can close this now.

[2016-06-29 07:14] #2024 closed

[2016-06-29 10:28] 0xc0170 opened #2068 "Deprecate attribute - documentation"
@pan- asked a good question - the deprecate attribute documentation

This should be stated in the documentation, what's the intention with `MBED_DEPRECATED`.

Shall we state a lifetime of deprecated attribute ? The idea there would be to keep the track of them, automated removal for the releases, and provide time estimation for users to update their programs, or stay within their current used rele

[2016-06-29 14:12] bridadan commented on #2061
Was it the `sudo` or the `--upgrade` that made it go through? I could see that the `sudo` on the Linux machine may be required. Maybe we need to update the instructions to reflect this?

[2016-06-29 14:26] 0xc0170 commented on #2059
Thanks for the reporting, I'll send a patch to fix this

[2016-06-29 16:05] geky commented on #2068
+1 I have no strong feelings. We should retain the general purpose `MBED_DEPRECATED` attribute for user libraries to repurpose, but it is easy to add a `MBED_DEPRECATED_UNTIL(221, "message")`.

@BlackstoneEngineering has previously noted that in order to keep an impression of stability, we should have a hard minimum of 6 months between marking as deprecated and removing, which should be appropriat

[2016-06-29 16:34] BlackstoneEngineering commented on #2068
Yeah, 2 quarters is usually a good amount of time, during which we upgrade the warning progressively so it goes from working to emitting a warning to emitting an error. This is how @rgrover did it in the BLE API libs and it worked pretty damn well to get people to move where we wanted them to.

[2016-06-29 22:08] #2011 closed

[2016-06-30 08:17] 0xc0170 opened #2069 "Export - gcc arm makefile broken for windows"
Latest master as of today, having problems with creating dirs:

To reproduce:
[code]
Run make in the exported project:
[code]

cc @theotherjimmy

[2016-06-30 09:19] 0xc0170 commented on #2059
I can't reproduce the locally this issue (using small build for gcc arm), please provide more details.

I'll try to manually disable timers and run gdb. I'll report back

[2016-06-30 10:01] janjongboom opened #2072 "Should be able to define target_overrides in libraries"
I have a library that depends on mbed Client. In the past I'd just reference mbed Client as a dependency and be done with it. Now I need to declare the CLIENT feature in mbed_app.json. I added an mbed_app.json file to my library but it's not being picked up by mbed-cli.

That's highly annoying because now I need to tell the user to not only reference my app but also add stuff to this config file,

[2016-06-30 10:11] janjongboom opened #2073 "mbed_app.json update does not mark build as dirty"
1. Build a project.
2. Now change something in `mbed_app.json`

Expected: project gets rebuild

Actual: project does not rebuild. Need manually clean for changes to be picked up.

[2016-06-30 12:13] LMESTM opened #2074 "Issue with LPUART baudrate on NUCLEO-STM32L053R8"
As reported here :
https://developer.mbed.org/questions/69345/How-should-I-use-the-NUCLEO-STM32L053R8s/
there is an issue with lpuart (serial3) baudrate

[2016-06-30 12:19] 0xc0170 commented on #2073
cc @bogdanm

[2016-06-30 12:32] bogdanm commented on #2073
Interesting, thank you. Currently, `mbed_config.h` is an implicit dependency for **every** source file that we compile (since the compiler includes it automatically using `--preinclude`), so if the configuration changes, the whole project needs to be rebuilt (which doesn't happen currently because we don't check at all if `mbed_config.h` changes). The only alternative to always rebuilding all the

[2016-06-30 12:44] 0xc0170 commented on #2073
I was thinking about 2nd previously as --preinclude is convenient, but we found few shortcomings (iar asm preinclude as an example). The biggest disadvantage of the 2nd option is that we would need to add ìnclusion of ``mbed_config.h`` almost everywhere (I disregard including it in ``mbed.h``, as that is for the application, but we need it within mbed SDK or other modules, in C or possibly asm). I

[2016-06-30 13:01] 0xc0170 commented on #2059
I was able to reproduce it, at least to check thread id that it's 0x01 for the main thread. The patch is proposed here :https://github.com/mbedmicro/mbed/pull/2075.
Please review

[2016-06-30 13:41] bogdanm commented on #1969
We need to progress this. At this point, I don't have a strong feeling anymore about the location of this setting (core vs target), I just want to move it forward. So, if you want to have it in the core, that's fine with me.

[2016-06-30 15:17] theotherjimmy commented on #2069
I'll get a VM up and test.

[2016-06-30 16:39] bridadan commented on #2072
I think you need to use `mbed_lib.json` instead?

It looks like the config system docs are still in a PR: https://github.com/mbedmicro/mbed/pull/1984/files

[2016-06-30 19:29] #2059 closed

[2016-06-30 21:11] theotherjimmy opened #2081 "Build tools may remove entire mbed repo"
I know this is not a normal invocation. I found this when fuzzing the command line arguments for one of my PR's:
[code]
No more mbed repo.
We might want to add a check that prevents this.

[2016-06-30 21:19] 0xc0170 commented on #2081
A note for this type of bug: The tools should have tests, something to consider.

We should fix this asap

[2016-06-30 22:47] bridadan commented on #2081
They absolutely should!

+1

[2016-07-01 00:22] mlnx commented on #2061
Looking again into the history of commands, I confirm I was using `sudo`, so that's not the problem.

Let's keep this ticket open. I'm not the only one that reported a weird behaviour at installing greentea.

[2016-07-01 08:47] svastm commented on #1953
The RTOS tests are now marked as `NOT_SUPPORTED`.

[2016-07-01 08:47] #1953 closed

[2016-07-01 10:52] janjongboom opened #2083 "mbed_lib.json without name field fails with cryptic error"
Add an mbed_lib.json file to a library but don't put in a name field. Building fails with:

[code]

That's very cryptic.

[2016-07-01 12:08] janjongboom commented on #2072
Yep, that worked. Thanks.

[2016-07-01 12:08] #2072 closed

[2016-07-01 12:46] 0xc0170 opened #2085 "readme - setup instruction should be multiplatform"
There was PR updating it #1900, but not multiplatform, just changing it to another platform. Therefore we should either state that those instructions are for windows/unix only or provide for all.

Reference: https://github.com/mbedmicro/mbed#setup

[2016-07-01 14:45] BlackstoneEngineering commented on #2061
Ubuntu 14.4 LTS has a super old version of pip, this is a known issue with packages like setuptools not installing correctly unless you upgrade pip. Please run `pip --version` to see what version you have, should be on at least v8.x.x

[2016-07-01 15:02] mlnx commented on #2061
That's true, my pip was quite old (v6.1) and I've updated it.
I've added a note into the ERP notes.

[2016-07-01 15:08] adustm commented on #2027
Hello all,
I submitted a pull request #2029
but it does not solve every targets. This means that the question :

is still opened.
@0xc0170 @screamerbg  do you have any idea about this topic ?

Kind regards
Armelle

[2016-07-01 16:13] BlackstoneEngineering commented on #2061
This is an implicit of the requirement to have python 2.7.11+, this implicitly includes a new version of pip as well in the windows installer, should probably be made explicit that you need a newish version of both python 2.7 and pip for stuff to work. This is true for most all of our tools.

PS: Ubuntu 14.4 LTS has a bunch of known issues, mostly relating to the Ubuntu packages being seriously ou

[2016-07-03 21:44] jamike opened #2089 "set_main_stack incorrect for IAR"
For IAR heap is defined  .icf file, a dedicated HEAP block is defined
IAR libc relies on this HEAP block.
GCC_ARM , ARM or uARM is not applicable.
In example , the test RTOS_4 fails on NUCLEO_F303K8 with IAR :
rt_stk_check detects that main_stack Magic is corrupted,
and  os_error (OS_ERR_STK_OVF) is called

[2016-07-04 06:45] mottigondabi opened #2091 "TCP socket does not read beyond MSS (Max Segment Size) window."
### Description
- Type: Bug
- Priority: Major
## Bug

TCP socket does not read beyond MSS (Max Segment Size) window.
Sending a big chunk of data e.g. 3KB from a remote host to the target mBED device that exceeds MSS results only in 1460 bytes read which is probably MSS (Max Segment Size).

Happens over TCP, blocking mode with no timeout set.

**mbed-os sha**
(`b4bb088876cb`)

**mbed-cli version**

[2016-07-04 09:40] #1979 closed

[2016-07-04 12:29] 0xc0170 commented on #2089
Thanks for the reporting. We know that limitation of IAR, we should look at this different behavior and either provide IAR implementation to conform what the rest of toolchains provide  or change it for all toolchains.

[2016-07-05 15:47] bridadan opened #2104 "Target-specific test gets compiled for incorrect targets"
A target-specific test was added recently: https://github.com/mbedmicro/mbed/blob/da2a4ccbaeb8218f8f5e97e26b4ebd916be46ccd/hal/targets/hal/TARGET_Silicon_Labs/TARGET_EFM32/TESTS/spi/basic-spi/main.cpp. This came as a part of https://github.com/mbedmicro/mbed/commit/da2a4ccbaeb8218f8f5e97e26b4ebd916be46ccd.

The test discovery logic does not currently take into account `TARGET_`, `TOOLCHAIN_`, nor

[2016-07-06 08:06] 0xc0170 commented on #2091
cc @geky @bogdanm

[2016-07-06 08:08] 0xc0170 opened #2108 "LPC2368 - ARM failure - critical.c not compatible with ARM7 core"
The mbed lib build output:

[code]

cc @c1728p9 @adbridge

[2016-07-06 08:39] 0xc0170 commented on #2108
I am looking at this further to fix this. LPC2xxx family (I found at least 2) have VIC peripheral: here's some description of those registers.

What is important for us, it's in the cm7 header file for LPC2368:
[code]

It's obvious that ``tmp_IntEnable`` is defined for disable_irq(), therefore ``__enable_irq`` needs t o be in the same scope,  this is not valid for our critical enter/exit.  The mac

[2016-07-06 09:11] hasnainvirk opened #2110 "Hardware flow control support for Serial API"
### Description
- Priority: Blocker

SLIP driver uses hardware flow control. mbed OS 3 HAL had hooks for that in the Target HAL for FRDM-K64F. For example:

https://github.com/ARMmbed/mbed-hal-ksdk-mcu/commit/9bfcfd0572d1835a889779515a3b612262785a46

https://github.com/ARMmbed/mbed-hal-frdm-k64f/commit/77042cc9453c91957b04e9bd200a2dd928723e5a

For morpheous integration, such changes in HAL are nee

[2016-07-06 09:25] bremoran opened #2111 "build.py and test.py report results in all-caps"
`build.py` and `test.py` report build successes in all caps, with non-standard prefixes. For example:

[code]

This is problematic for two reasons:
1. These all-caps results do not match the on-disk names of the build targets, which complicates CI.
2. Other tools, such as `mbedgt` expect case sensitive naming on case-sensitive filesystems

[2016-07-06 09:41] 0xc0170 commented on #2110
It shall be compatible (the mbed HAL API its the same for this feature). The mbed 3 version uses KSDK1.0, and we have here 2.0 version, that API for UART might have changed.

@hasnainvirk Can you backport it here?

[2016-07-06 09:48] 0xc0170 commented on #2111
cc @bridadan

[2016-07-06 12:08] screamerbg commented on #2111
As described here https://github.com/ARMmbed/mbed-cli/issues/261

[2016-07-06 12:26] mlnx commented on #2061
I'm closing this ticket for now, as I considered it solved. May re-open in the future if I continue to see problems.

[2016-07-06 13:20] seajayshore commented on #1533
Bump!

Any updates on this? It seems I am having the exact same issues described.

Code using multiple tickers is stalling after several minutes (exact timeout varies each time) and, usually, leaving the soft-device alive and "connected". I think it also manages to "come alive" again after stalling, but this seems very rare & I can't reproduce it effectively.

Unlike cresprum here I'm using the ti

[2016-07-06 13:24] seajayshore commented on #1378
Bumping this issue too. I seem to be seeing the same issue with multiple tickers stopping firing after a random duration ~3-7 mins when softDevice is running.

Any progress that people on this issue know of?

Also cross-posted [here]: (https://github.com/mbedmicro/mbed/issues/1533)

[2016-07-06 15:02] pan- commented on #1533
I can reproduce it, my guess is that it is related to the way the different counter in `us_ticker` are wrapped, unwrapped.

Testing a fix now.

[2016-07-06 15:11] crespum commented on #1533
We were struggling with this issue for a while but we are pretty confident the problem has nothing to do with mbed but with the Android app. We developed our own app and never found issues with the tickers anymore.

I was not in charge of the app, but what I understood from the developers is that the reference app uses polling to read the values from the virtual UART. Using interrupts instead seem

[2016-07-06 15:19] seajayshore commented on #1533
@crespum Huh, interesting...

We are experiencing the same issue with both 3rd party BLE apps (for iOS) and our own custom app for iOS/Android.

I've also (last hour) managed to make the normally rock-solid BLE HeartRate example do the same thing by adding 10 tickers with different timings.
It takes a fair bit longer to stall but has done so twice now with the BLE remaining connected under the app

[2016-07-06 19:01] Sissors opened #2115 "STM32 (At least F401) breaks if Tickers are activated in a global object"
See: https://developer.mbed.org/questions/69383/How-can-I-make-mRotaryEncoder-work-on-Nu/ and the answer.

Summarized, if you make a Ticker object in a global object which also activates the Ticker (in this case the RotaryEncoder, which uses the PinDetect library), then after the global objects are initialized it stops functioning, and no future Tickers function. I assume the reason is the mbed ov

[2016-07-06 20:59] 0xc0170 commented on #2115
cc @bcostm @adustm @LMESTM

[2016-07-06 21:45] #1583 closed

[2016-07-07 00:04] seajayshore commented on #1533
Having re-written my code to use one "master" ticker and using simple timers for all sensor polling/scheduling there is now a world of difference in stability!

95% of code is the same, at-least all the heavy-lifting stuff is identical. Only difference is as I said, Timers not Tickers.

Connected for 15mins+ no drop out. More encouragingly (and concerning for Ticker-nRF51822 compatibility) is this

[2016-07-07 10:01] 0xc0170 opened #2118 "RTOS - Cortex M4 without FPU - fails to compile for ARM"
It was fixed for GCC_ARM but we overlooked there is still problem with ARM, originally reported here: https://github.com/mbedmicro/mbed/issues/612

Error msg:

[code]

Fix:

[code]

[2016-07-07 10:20] hesolium opened #2119 "Interrupts on UART2 (Serial console) on Nucleo-F401"
I have old program running on Nucleo-F401 and Nucleo-L152. All communication with the computer is performed through the serial (UART2) using interrupts. For transmit I use simple ISR:

[code]
I have a problem with the latest (MBED-DEV) library on Nucleo-F401 (on L152 is OK).
After execution command: **console.attach(this, &Console::writeService, Serial::TxIrq);**
the application runs very slowly (

[2016-07-07 10:23] 0xc0170 commented on #2119
cc @bcostm @adustm @LMESTM

[2016-07-07 12:28] hesolium commented on #2119
I found differences between old and new library.
Old library uses:   __HAL_UART_ENABLE_IT(handle, UART_IT_TC);
new one uses:  __HAL_UART_ENABLE_IT(handle, UART_IT_TXE);

I read docs and think that should be UART_IT_TC.
UART_IT_TC flag signals **end of transmission** (and buffer is empty of course:)
UART_IT_TXE flags signals **transmition buffer is empty**

If there no data to transmit then buffer

[2016-07-07 14:01] LMESTM commented on #2119
Hi hesolium - thanks for highlighting this issue!

Actually both interrupts make sense and I think that we could end up with both being enabled.

It's good to know when there is room in the buffer to send next byte without waiting further (speed up transmission). But it also makes sense to know when the transmission is complete (I've been discussing that point here: https://github.com/mbedmicro/mb

[2016-07-07 15:18] LMESTM commented on #2119
Hi again -
I was a bit quick - the proposed fix in previous comment won't work - so no need to try it out.
I'll need more time for a proper handling of both interrupts, in the meanwhile using _TC interrupt instead will work ok.

[2016-07-07 16:32] hesolium commented on #2119
@LMSTM:"It's good to know when there is room in the buffer to send next byte without waiting further (speed up transmission). "

You are right, but on the other hand, there is a large overhead on the CPU, because after the transmission of each character, UART fire interrupt that must be serviced. If only EOT (and empty buffer) is signaled then we can service interrupt only once per buffer length b

[2016-07-07 16:32] hesolium commented on #2119
@LMSTM:"It's good to know when there is room in the buffer to send next byte without waiting further (speed up transmission). "

You are right, but on the other hand, there is a large overhead on the CPU, because after the transmission of each character, UART fire interrupt that must be serviced. If only EOT (and empty buffer) is signaled then we can service interrupt only once per buffer length b

[2016-07-07 16:48] hesolium commented on #2119
@LMSTM:"All in all, as you can read in previous link, the trend in MBED is so far to rather try to send data as fast as possible"

Maybe API should be extended. I see (in the source code of serial_api.c) that using DMA for transmit/receive is possible. I think it will be better direction to develop Serial class for speed-up transfers.

[2016-07-08 07:07] 0xc0170 commented on #2119
Serial API provides 2 methods - one character (``attach()``) and multiple characters (``transfer()``).

Be more specific?

[2016-07-08 07:14] LMESTM commented on #2119
@hesolium  fully agree with you.
I will send a PR to fix the wrong IT enabling.
In case of async API you will gain in performances - note that the async implementation takes benefit of the TXE and manages the enabling / disabling of the interrupt.

[2016-07-08 09:29] LMESTM commented on #2115
@Sissors  in my to-do list
do you know if this happens on any toolchains or a specific one ?

[2016-07-08 09:33] hesolium commented on #2119
@0xc0170, @LMESTM :"Be more specific?"

You (and LMESTM) write about the performance of async API.
If someone uses this API (and interrupt) for data transfer, this means that speed (and performance) is not the most important factor. Much better results can be obtained using DMA (transfer method). The primary reason for using async API with interrupts is simplicity and portability. Large parts of m

[2016-07-08 10:01] jamike opened #2124 "mbed_sdk_init called twice on IAR without RTOS."
1-mbed_sdk_init is called after __iar_data_init3 (zero initilaized and sdata recopy from flash)
2 mbed_sdk_init is called in __iar_argc_argv : this call can be removed

[2016-07-08 10:07] mazimkhan opened #2125 "mbed-cli does respect --test-spec"
micrombed/mbed part of https://github.com/ARMmbed/mbed-cli/issues/252

[2016-07-08 10:15] 0xc0170 opened #2126 "Critical - core_util_atomic_decr/incr are undefined"
Undefined functions `core_util_atomic_decr/incr`. There's no function with a declaration to match: `core_util_atomic_decr((uintptr_t)valuePtr, (uintptr_t)delta)` . I would assume that missing functions should be implemented, and can't be on top of current functions because they return a value, and these functions return void pointer. The API documentation should state that (be more specific), not

[2016-07-08 10:25] 0xc0170 commented on #2124
It's first called in the cmain.S file: https://github.com/mbedmicro/mbed/blob/03d8ea8e96051c0fa2d0a081f9f84b9c86d9ffb2/hal/targets/cmsis/TOOLCHAIN_IAR/cmain.S#L53

Second time: https://github.com/mbedmicro/mbed/blob/8e8f389d3a10724626ce0eec4c14c9ff6cde79e0/hal/common/retarget.cpp#L548

I would remove it from cmain.S, as in retarget most of toolchains have it there (mbed sdk init call), not to brin

[2016-07-08 10:35] 0xc0170 commented on #2125
cc @bridadan

[2016-07-08 11:34] LMESTM commented on #2119
@hesolium - thanks for describing your usage of the firmware.
I posted a PR #2128 - this actually fixes the reported issue for F4 but also solves inconsistency for other families.

[2016-07-08 11:37] jamike commented on #2124
__iar_dynamic_initialization  (  initialize C++ global object) is just called after this 1st call to mbed_sdk_init..
if we remove this 1st call to mbed_sdk_init, and the initiliazed C++ needs access to hardware IP which  relies on SysCoreClock value for a correct hardware init, it will not work. that's why I propose to remove the call from  ___iar_argc_argv.
On the other if we look at the other to

[2016-07-08 12:31] Sissors commented on #2115
Assuming my guess of the root cause (that function in mbed_override), it should depend on when it is called. I haven't tested it on anything besides the online one (which is essentially the Keil compiler, not sure if you have set ARM or uARM as default for the F401). I suppose it is somewhere in one of compiler specific startup files defined, but to answer your question: No I am not aware if this

[2016-07-08 12:45] LMESTM commented on #2126
I'm facing this issue as well on top of today's mbed/master ...  it seems to happen "only" on cortex-M0/M0+ targets.
Has this pass through CI compilation ?

[2016-07-08 15:36] LMESTM commented on #2115
I have the issue reproduced on several toolchains - so I will have a look next week, starting with Sissors' hints

[2016-07-08 15:50] sg- commented on #2125
@screamerbg

[2016-07-08 15:52] sg- commented on #2110
@bogdanm

[2016-07-08 15:53] geky commented on #2126
Pr up: #2131. It was a last minute change and went unnoticed since GCC only emits a warning.

That is my bad, I was missing the warning emitted for differing return values. I'll fix this in a separate pr once #2131 is merged.

[2016-07-08 15:53] sg- commented on #2108
I think we should deprecate support for ARM7 and focus only on Cortex

[2016-07-08 16:02] #2069 closed

[2016-07-08 16:02] sg- commented on #2012
@ohagendorf What version of gcc are you using?

[2016-07-08 17:02] theotherjimmy commented on #2073
What @0xc0170 Outlines sounds good to me. I'm going to start on the implementation of it. @bogdanm @0xc0170 , any thoughts before I do?

[2016-07-08 17:08] geky commented on #2126
Due to IAR errors I went ahead and fixed the casting issue @0xc0170 noticed on #2131. Let me know if there's still an issue.

[2016-07-08 17:08] theotherjimmy commented on #2081
The rule we have to enforce is this: the build directory may not be a parent of the PWD or the mbed repo.

[2016-07-08 19:07] c1728p9 opened #2132 "NRF51 boards without 32K crystal fails to boot"
On the nrf51 the function ``os_tick_init`` in ``us_ticker.c`` initializes the low frequency clock to use a 32 KHz crystal and waits for it to stabilize.  If this crystal is not present the the device will hang forever waiting for stabilization.  One board which exhibits this problem is the ``micro:bit``.

To support all boards there needs to be some mechanism to select the internal RC oscillator i

[2016-07-08 19:33] c1728p9 commented on #2132
CC: @0xc0170, @pan-

[2016-07-09 16:02] 0xc0170 commented on #2132
Good catch ! Should nrf51 targets define if there's external RC or not? I'll talk to @pan

[2016-07-09 17:17] arjunak234 opened #2134 "RTOS does not work on STM32L476RG"
Blinky stops working if i link with RTOS.

[2016-07-09 17:18] 0xc0170 commented on #2134
what git sha are you using ? latest master? toolchain?

[2016-07-09 17:19] arjunak234 commented on #2134
Im using the online compiler.

[2016-07-09 17:19] 0xc0170 commented on #2134
Share with us the lib versions (mbed + rtos)

[2016-07-09 17:19] 0xc0170 commented on #2134
cc @adustm @LMESTM @bcostm

[2016-07-09 17:23] arjunak234 commented on #2134
rtos: 117
mbed: 121

[2016-07-09 17:23] arjunak234 commented on #2134
Yes.

[2016-07-09 19:14] ohagendorf opened #2135 "project.py - changed (unlogical?) behaviour"
Some commits before it was possible to call:
[code]
to get the supported matrix of MCUs and IDEs.
Now I get:
[code]
and have to call e.g.
[code]
to get this tables.
The same error is generated with :
[code]

build.py and make.py with option -S are working as before.

[2016-07-11 03:51] ccli8 commented on #1819
@niklas-arm In original workspace_tools/targets.py, I can wrap `_sbrk` (`-Wl,--wrap,_sbrk`) by `hook.hook_cmdline_linker`. But after target definition is moved from workspace_tools/targets.py to hal/targets.json, I find no way to adding such hook. Do you have a plan to support such hook function?
[code]

[2016-07-11 09:05] niklas-arm commented on #1819
cc @0xc0170 @bogdanm @sg- for workspace tools

[2016-07-11 09:14] LMESTM commented on #2115
Hi,

As said I have reproduced the problem on all toolchains - with a simple test based on pindetect usage.

The issue is indeed related to the call to HAL_Init from mbed_sdk_init in mbed_overrides.c file. The initialization steps vary from one toolchain to another : system init, ram init, call to mbed_sdk_init and C++ object init are not ordered in the same way from one toolchain to another.

In

[2016-07-11 09:48] svastm commented on #2134
The RTOS on STM32L4 was failing on all toolchains. Some fixes have been added #1889 #1846.

[2016-07-11 10:07] #2027 closed

[2016-07-11 10:54] ohagendorf commented on #2135
I think it was introduced in PR #2010
Maybe @theotherjimmy can help.

[2016-07-11 11:42] bogdanm commented on #2110
Looking at https://github.com/mbedmicro/mbed/blob/master/hal/targets/hal/TARGET_Freescale/TARGET_KSDK2_MCUS/TARGET_K64F/drivers/fsl_uart.h, I can't see any functions related to the flow control settings. @0xc0170, do you know anything about this?

[2016-07-11 11:46] bogdanm commented on #2091
In Linux at least, it's perfectly normal for send()/recv() to transfer a number of bytes which is lower than the number of bytes requested by the caller. The caller must check the return value of send()/recv() and keep on going until the whole buffer is sent or received. This is a common "gotcha" of network apps: assuming that send() or recv() will always transfer the requested number of bytes.

[2016-07-11 11:56] bogdanm commented on #2073
@theotherjimmy: that sounds just about right to me. To recap:

1. `mbed_config.h` is going to be automatically included by `mbed.h`
1. if HAL or other sources that don't include `mbed.h` need to access the configuration data, they'll need to include `mbed_config.h` manually.
1. if `mbed_config.h` doesn't exist for whatever reason, it'll be automatically created by the build system (as an empty fil

[2016-07-11 12:03] bogdanm commented on #2110
https://community.nxp.com/thread/352310 :disappointed:

[2016-07-11 13:44] bogdanm commented on #2110
@hasnainvirk, can you check if https://github.com/mbedmicro/mbed/pull/2140 fixes your problems?

[2016-07-11 15:31] geky commented on #2126
Now that #2131 is merged, is this still an issue?

[2016-07-11 15:40] theotherjimmy commented on #2135
Yep. On it.

[2016-07-11 17:15] hasnainvirk commented on #2110
@bogdanm I get this kind of errors:
sl0(): transmit queue 0 timed out
sl0: transmit timed out, bad line quality ?

This is the trace on raspberry pi side. I have checked and verified the pin mapping. That is correct. I am using baudrate 921600

[2016-07-11 18:40] hasnainvirk commented on #2110
@bogdanm I have a fix for your 'fix'. But I can't make push to k64f_flow_control branch as I don't have permissions.

[2016-07-11 18:50] hxingithub opened #2143 "MultiTech Dragonfly: Export project to IAR, the binary file cannot run on it"
Hi, there,

I am trying some example programs on the MultiTech Dragonfly. When I use the online compiler, and get the binary files to download them into the board by USD Disk mode, they work well. but I exported these projects to my IAR V7.4 compiler, and built these projects to binary files, downloaded them into the board as the same way, there were nothing displaying on the serial terminal. Howe

[2016-07-12 09:04] eren23 opened #2147 "Multitech Mdot NodeRed HTTP Rquest Error"
[code]

My error is:
"ENNETUNREACH"
This appears under the httprequest node.

[code]

Thanks in Advice.

[2016-07-12 09:07] 0xc0170 commented on #2147
cc @geky @c1728p9

[2016-07-12 09:09] 0xc0170 commented on #2143
This might be specific to mbed online IDE, not for this repository. Please try tools/project.py if you can export to IAR simple blinky "MBED_10" program.

To build use ``tools/build.py`` script, to export use ``tools/project.py``.

[2016-07-12 11:10] eren23 commented on #2147
here is the error

http://prntscr.com/brwgof

[2016-07-12 11:54] bogdanm commented on #2110
Closing this, since it was fixed by #2140 according to @hasnainvirk.

[2016-07-12 11:54] #2110 closed

[2016-07-12 12:01] bogdanm commented on #2091
@mottigondabi, does this make sense to you?

[2016-07-12 14:57] bogdanm commented on #2073
@theotherjimmy: let me know if you're already working on this; if not, I'll implement it.

[2016-07-12 15:27] theotherjimmy commented on #2073
@bogdanm I have not started yet, I got sidetracked.

[2016-07-12 15:28] bogdanm commented on #2073
OK, thank you. I'll work on this then.

[2016-07-12 15:50] geky opened #2152 "C99/C++03 standard compliance"
Currently, there are no barriers in place for using compiler extensions. This makes it difficult to know when code is inherently unportable. Allowing compiler extensions hurts reproducibility across toolchains.

From previous discussions these appear to be our target standards:
- C99
- C++03 (C++11 is unsupported in IAR)

Here is a quick checklist of what is needed to bring mbed up to compliance:

[2016-07-12 15:53] geky opened #2153 "C99/C++98 standard compliance"
Currently, there are no barriers in place for using compiler extensions. This makes it difficult to know when code is inherently unportable. Allowing compiler extensions hurts reproducibility across toolchains.

From previous discussions these appear to be our target standards:
- C99
- C++98 (C++11 is unsupported in IAR)

Here is a quick checklist of what is needed to bring mbed up to compliance:

[2016-07-12 15:55] geky opened #2154 "C99/C++98 standard compliance"
Currently, there are no barriers in place for using compiler extensions. This makes it difficult to know when code is inherently unportable. Allowing compiler extensions hurts reproducibility across toolchains.

From previous discussions these appear to be our target standards:
- C99
- C++98 (C++11 is unsupported in IAR)

Here is a quick checklist of what is needed to bring mbed up to compliance:

[2016-07-12 16:17] geky commented on #2153
Sorry for the redundant issues, I got confused by github site issues.

https://github.com/mbedmicro/mbed/issues/2152

[2016-07-12 16:17] #2153 closed

[2016-07-12 16:18] geky commented on #2154
Sorry for the redundant issues, I got confused by github site problems.

https://github.com/mbedmicro/mbed/issues/2152

[2016-07-12 16:18] #2154 closed

[2016-07-12 16:23] LiyouZhou opened #2155 "support.py error on inherited targets with on "core" field"
According to https://github.com/mbedmicro/mbed/blob/master/docs/mbed_targets.md the "core" field can be inherited from the parent target.

But if we do that: the tools fail here https://github.com/mbedmicro/mbed/blob/master/tools/data/support.py#L25

[code]

[2016-07-12 16:25] bogdanm commented on #2155
Fail how exactly? This behaviour isn't new, `core` was inherited previously (in the Python version of `targets.py`).

[2016-07-12 16:42] #2155 closed, assigned to nobody

[2016-07-12 17:24] geky commented on #2152
According to the iar language standard page ([here](https://www.iar.com/iar-embedded-workbench/language-standards/)), iar fully supports c++03.

It's an incredibly unnoticable update to the language ([wiki](https://en.wikipedia.org/wiki/C%2B%2B03)) and I see no reason to not adopt it. So baring any complaints I'm going to go ahead and bump the c++ standard to c++03.

[2016-07-12 17:39] seajayshore commented on #1533
So this Ticker bug is still around in my code... It's a lot rarer now I've replaced multiple tickers with one "master" ticker and multiple timers.

Seems to be a present in all apps that use tickers and Softdevices... (For reference my app is also using InterruptIn, SPI & I2C uses).

I understand the Ticker uses the RTC1 hardware of the nRF51822. Anyone more familiar with the code know if this is

[2016-07-12 17:44] seajayshore commented on #1533
For what it's worth, I noticed today that when the fail/crash occurs the signal on my I2C device (an ADC) goes from this:
![image1](https://cloud.githubusercontent.com/assets/20320545/16777146/5b8b8d8c-4860-11e6-8e7c-3869bdacbe84.jpeg)

To this:
![image2](https://cloud.githubusercontent.com/assets/20320545/16777155/5f4c217a-4860-11e6-9a62-1db37233feb1.jpeg)

I think this is another symptom (not a

[2016-07-12 18:07] seajayshore commented on #1533
I2C clearly get's ruined by this fault:
![img_2757](https://cloud.githubusercontent.com/assets/20320545/16777985/d0d2bf90-4863-11e6-8a7c-02b0bf7a6a47.JPG)

[2016-07-12 18:15] mfiore02 commented on #2147
@eren23 you should open a support ticket with MultiTech. I don't think you'll get much support for a Node RED issue here.

http://support.multitech.com/

[2016-07-12 18:20] mfiore02 commented on #2143
@hxingithub the Dragonfly has a bootloader that gets automagically combined with the application when using the mbed workspace tools build tools (online compiler and offline). When you export to uvision or iar, however, this isn't the case. If you check out the linker files for the different toolchains, you'll see that the application is being built to run from a 64kB offset in flash instead of fr

[2016-07-12 18:24] mfiore02 commented on #1992
@eren23 please open a support ticket at http://support.multitech.com

[2016-07-12 19:06] seajayshore commented on #1046
This looks the same issue as https://github.com/mbedmicro/mbed/issues/1533

Any progress ever made on solving this?

[2016-07-13 06:52] eren23 commented on #2147
@mfiore02 mate i did it already but they are kind a slow so decided to try my chance in here xd.

[2016-07-13 13:42] 0xc0170 opened #2163 "Export test - multiple failures"
[code]

This error is shown for some targets, for uvision:
[code]

cc @theotherjimmy @sarahmarshy

[2016-07-13 14:44] hxingithub commented on #2143
@0xc0170 @mfiore02

Thanks for reply.
But I checked the link file for the IAR, it has reserved the 64KB offset for the flash:
/* [ROM = 512kb = 0x80000] */
define symbol __intvec_start__     = 0x08010000;    /* 0x10000 is 64kB offset */
define symbol __region_ROM_start__ = 0x08010000;
define symbol __region_ROM_end__   = 0x0807FFFF;

That is confused.

[2016-07-13 15:31] mfiore02 commented on #2143
@hxingithub that's what I was trying to explain. If you're building an app in IAR and not using the bootloader, you'll need to change the linker script to point to the start of flash instead of a 64kB offset since nothing will be occupying that space. Or you need to add the bootloader to your app before flashing the Dragonfly.

[2016-07-13 15:37] hxingithub commented on #2143
@mfiore02 Hi Mike,

Thanks. I modified the start address and it works well.

Regards,
Henry

[2016-07-13 15:39] hxingithub commented on #2143
Change linker file to:
define symbol intvec_start = 0x08000000;
define symbol region_ROM_start = 0x08000000;
define symbol region_ROM_end = 0x0807FFFF;

[2016-07-13 15:39] #2143 closed

[2016-07-13 19:56] bridadan commented on #2125
@mazimkhan This should be fixed as of https://github.com/ARMmbed/mbed-cli/pull/269. Are you seeing different behavior?

[2016-07-13 23:54] c1728p9 commented on #2012
Talking with @theotherjimmy and @geky, this could be made portable by breaking the '-u' and
'_printf_float' into seperate args.  That probably doesn't matter anymore though since this command is no longer sent on the command line and is instead written to a response file (.link_files.txt).

I pushed up a PR to remove floating point formatting support all together in #2168.  Keeping floating point

[2016-07-14 01:40] geky commented on #2012
@ohagendorf: Thanks for finding the introduction of the issue.

The issue boils down to the fact that gcc correctly expects spaces to be parsed out its argument list. Since we are passing this array directly to popen with shell=False, it is up to us to remove spaces or expect undefined behaviour. Windows doesn't provide a mechanism for python's popen, so the list is just passed into CreateProcess

[2016-07-14 07:05] jenia81 commented on #2091
@bogdanm you right about Linux behavior.
I suggest maybe to add documentation about this in your APIs

[2016-07-14 08:42] kjbracey-arm commented on #664
-Os certainly produces slower code than -O2. That's the trade-off.

(As to Adam's specific example - the optimisations being turned off by -Os are "high level" early ones that have a tendency to lead to ultimately bigger code. In some specific cases the optimisation may not have actually led to bigger final code but there's no multiple pass system to go back and try again if you find it wasn't a s

[2016-07-14 10:14] LiyouZhou opened #2169 "Export NDEBUG symbol for debug builds"
It is a useful convention to have for writing code that does not get built during a release build.

[2016-07-14 12:25] dinau opened #2170 "[GCC] Multiple optimization issue."
I tried to generate Makefile project with mbed-lib ver.122
as follows:

[code]

In the Makefile generated, multiple optimization options by default,
"-O2" and "-Os" are both activated during compilation.

"-O2" option should be removed.

dinau

[2016-07-14 12:29] 0xc0170 commented on #2170
using release branch?

cc @theotherjimmy

[2016-07-14 13:41] dinau commented on #2170
@0xc0170 ,

I just noticed that there are two commit messages about "mbed lib revision - 122" in git repository.
I will check "release branch".

[2016-07-14 13:42] 0xc0170 opened #2171 "Exporter - TARGET[] list - is supported call for uvision/iar"
There might be a slowdown due to TARGETS in the tools. It used to be a list in the python file, but now using progen, to keep it backward compatible, there was an addition to ask progen if a target is supported.

We should have a look how much time it takes and if we can improve by catching targets either on progen side or here in this codebase. This definitely takes some time as we got a lot of t

[2016-07-14 13:45] 0xc0170 commented on #2170
What I meant, on the master there's https://github.com/mbedmicro/mbed/blob/master/hal/api/mbed.h#L19 , v121, where did you get 122 ? :)

[2016-07-14 14:15] dinau commented on #2170
I confirmed that above issue is existing using release branch.

dinau

[2016-07-14 14:23] 0xc0170 commented on #2170
Can you please reference the file?

[2016-07-14 14:41] dinau commented on #2170
Now my local repository is broken by accident.  :-(
I'll be back later.

[2016-07-14 19:46] ohagendorf commented on #2012
I'm using exported projects.

I'm not sure, I had this space/no space problem a long time ago, maybe 1 or 2 years. So it's hard to say which versions I used. I'm sure it was Win8.1 but no idea which gcc version.

But I checked it now (Win10 and arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.3.1 20160307 (release) [ARM/embedded-5-branch revision 234589]) and the problem disappeard. Wit

[2016-07-14 23:00] #2135 closed

[2016-07-15 09:05] LMESTM commented on #2115
I v'e posted PR #2160
from my tests results so far, together with #2129, it solves the issue on all TCs

[2016-07-15 09:31] zgoda commented on #2170
On master for -t BLUEPILL_F103C8 and -i GCC_ARM I get only -O2 in CC_FLAGS:

[code]

Then there is a DEBUG flag check:

[code]

Complete command line:

[code]

[2016-07-15 10:36] 0xc0170 commented on #2169
+1 from me for this to have it

cc @screamerbg @sg- @pan-

[2016-07-15 12:30] dinau commented on #2170
Thank you @zgoda,
I executed command line you showed and then executed Makefile generated.
Below is part of command line "make" output includes both "-O2" and "-Os" .
[code]
@0xc0170
I used "master branch",
https://github.com/mbedmicro/mbed/tree/3d20b10b4d77d7820458d371dbed7641acccc671

@0xc0170
By the way,
"mbed lib revision - 122" is here.
https://github.com/mbedmicro/mbed/commits/24916505e10b69

[2016-07-15 14:29] zgoda commented on #2170
But in fact this is not a problem with GCC because as stated in man:

So effectively we get -Os because this is the last option added.

[2016-07-15 14:39] dinau commented on #2170
Yes I know that behavior,
but many user will have confusion if two options exist.

[2016-07-15 22:55] #2171 closed

[2016-07-16 12:29] hesolium opened #2181 "How to extend basic functionality of the MBED API?"
I need to generate a signal (PWM) with high frequency. The minimum (standard) period for PWM is 1 uS. How to modify the API to obtain a shorter period?
My board (Nucleo-F401/84 MHz) has the ability to generate a PWM with shorter periods.
Of course, I do not want to program the device (STM32 TIMx)) from the beginning.
I think a better solution would be a slight modification behaviour of the existin

[2016-07-17 01:00] dinau commented on #2181
Just for reference , Erik Olieman's FastPWM.
https://developer.mbed.org/users/Sissors/code/FastPWM/

dinau

[2016-07-17 17:45] hesolium commented on #2181
@dinau:"FastPWM"

Oh, no. Build new class (e.g BetterAnalogIn, BetterPwmOut, ...) for every basic MBED class it is horrible solution. I know much better. For example we can add to every basic class new method:
'**void *getHardwareDevice()**'. This method should return pointer to C structure mapping device control registers (or NULL for standard, empty implementation). Having access to control regi

[2016-07-18 09:04] sandeepach opened #2182 "Add Support For Discovery F769I"
Add mbed Support For Discovery F769I board. I want to try the quad microphones on this device along with Double precision FP.

[2016-07-18 09:08] #2119 closed

[2016-07-18 09:31] hesolium commented on #2181
I checked several design patterns, and I think that I found the right solution. I think the best is 'Extension Objects Pattern' (http://st.inf.tu-dresden.de/Lehre/WS06-07/dpf/gamma96.pdf). With this pattern, with each object (eg PwmOut) we can statically (or dynamically) tie additional object which provides fields / methods that modify the behavior of the basic object methods. This solution does n

[2016-07-18 09:54] svastm opened #2183 "project.py fail"
After #2176,  i'm not able to use `project.py`.

I have the following error:
[code]

if `TARGETS` is not anymore a class attribute, the `Exporter` variable should refer to an instance and not a class.

[2016-07-18 10:11] ohagendorf opened #2184 "project.py fail II"
with PR #2179 the result of
[code]
is a folder .temp not a zip as before.

[2016-07-18 10:51] 0xc0170 commented on #2183
Thanks for reporting, I'll have a look shortly

[2016-07-18 10:51] 0xc0170 commented on #2184
cc @sarahmarshy

[2016-07-18 12:40] 0xc0170 commented on #2183
Working on the fix, I was able to reproduce it

[2016-07-18 14:20] 0xc0170 commented on #2182
cc @bcostm @LMESTM @adustm

[2016-07-18 14:57] sarahmarshy commented on #2184
Ah, sorry, pushed that before I saw  your fix. Equally good.

[2016-07-18 15:43] adustm commented on #2182
Hello,
@ohagendorf  ? Do you still plan to add this board ?
Kind regards

[2016-07-18 21:54] neilt6 commented on #1699
I just tried implementing µs_ticker using the Multi-Rate Timer (MRT) instead of the Repetitive Interrupt Timer (RIT), but the IRQ has to fire every 233ms for housekeeping since the MRT is only 24-bit and runs at 72MHz. This is generally bad for performance, and is going to blow up as soon as something disables interrupts for a critical section. So it looks like we're going to have to use an SCTime

[2016-07-19 06:43] #2184 closed

[2016-07-19 06:59] nvlsianpu commented on #2132
I will resolve this by adding clock configuration using mbed configuration system (mbed_app.json...).

[2016-07-19 08:31] #2183 closed

[2016-07-19 09:49] nvlsianpu commented on #2132
https://github.com/ARMmbed/mbed-nordic/pull/24

[2016-07-19 09:55] ohagendorf commented on #2182
I'm working on it.
And hope to finish it before my holiday.

[2016-07-19 14:25] #1965 closed

[2016-07-19 14:25] 0xc0170 commented on #1965
Resolved via #2178

[2016-07-19 15:58] neilt6 commented on #1699
Here is my proposed replacement µs_ticker implementation using SCT3:

[code]
Slightly annoying to have to use a critical section in `us_ticker_set_interrupt()`, but at least it works. I'm stress testing it right now.

[2016-07-20 00:01] lgodziejewski commented on #2115
I can confirm this on F411

[2016-07-20 06:31] nvlsianpu opened #2195 "Misleding documentation of the macros exporting from mbed configuration system to c/c++ code"
It is told that macro are exported in command line.
https://github.com/mbedmicro/mbed/blob/master/docs/config_system.md#using-configuration-data-in-the-code

Instead of exporting such macros directly in command line, they are exported to the mbed_config.h file, with is included in command line. -D.... syntax is very suggestive as well.

[2016-07-20 06:32] 0xc0170 commented on #2195
Thanks for reporting @nvlsianpu , this should be updated

[2016-07-20 06:32] 0xc0170 commented on #2195
cc @bogdanm @theotherjimmy

[2016-07-20 16:45] jenia81 opened #2198 "Externalization of compilation flags"
Currently, compilation flags can't be configured from mbed-cli.
We want to use compilation flags like:
-Werror, -Wextra,
-Wpointer-arith, -Wcast-align, -Wwrite-strings, -Wswitch-default, -Winit-self, -Wfatal-errors, -Wunreachable-code, -Wlogical-op, -Wmissing-field-initializers, -Wundef, -Wno-unknown-pragmas

[2016-07-21 08:01] pan- opened #2201 "Inconsistent way to set RTOS single threaded mode"
If the target parameter `default_build` is set to `small` then when GCC is used the result will be a single threaded application.
If the same program is compiled with the `ARM` toolchain then single thread mode will not be activated.
Instead the user have to use `uARM`.

This is inconsistent, either we should have a uGCC target or the ARM toolchain enable single thread mode when `default_build` is

[2016-07-21 08:08] 0xc0170 commented on #2201
We should deprecate uARM, start using ``default_build``, to be consistent with other toolchains (gcc arm in this case)

[2016-07-21 09:33] #1682 closed

[2016-07-21 10:43] 0xc0170 commented on #2124
this shall be another issue, where we can continue with how to unify startup.

This was resolved via https://github.com/mbedmicro/mbed/pull/2129

[2016-07-21 10:43] #2124 closed

[2016-07-21 12:35] simonqhughes opened #2206 "mbed test --run fails for all tests"
##### Summary

The following command appears not to work in mbedmicro/mbed

[code]

##### Details

In order to setup the development environment I did the following:

- Setup new virtualenv, installed mbed-cli v0.8.7
- Cloned mbedmicro/mbed.
- Pip install the mbedmicro/mbed requirements.txt
- Pip install pyelftools
- Mbed test –compile in mbedmiro/mbed. The tests built fine.
- Mbed test –run on my

[2016-07-21 13:13] AlessandroA opened #2209 "target_overrides only allows to add extra features, not labels/macros/device_has"
The `target_overrides` config option only allows to add/remove custom features (`FEATURE_*`). Other symbols can only be overridden (the symbol needs to be there in the first place).

This means that it is not possible for `target_overrides` to add/remove a new label (`TARGET_*`), a new custom macro or a new `DEVICE_HAS_*` macro.

**How to reproduce**

If in an application you override the K64F tar

[2016-07-21 13:25] bridadan commented on #2206
Hi @simonqhughes, could you run `mbed test` with `v` added? The RTOS tests were working last time I tried it, I'm wondering if there's an issue with the connection to our board

[2016-07-21 14:31] bridadan commented on #2206
I followed your instructions and the tests you mentioned as timing out are working fine for me. Here's more info about my environment:

git commit: db60d6a7f72613a53df4a19b3d73849819013680
OS: Windows 7

[code]

And the log from my run:

[code]

[2016-07-21 15:25] sg- commented on #2209
@geky please review

[2016-07-21 16:22] AlessandroA opened #2212 "The config system should support configuration "profiles""
The configuration system should provide a way to have configuration *profiles*.

@screamerbg @sg- @meriac @mjs-arm

===

A profile is just like any configuration file (JSON), but can co-exist with other configuration files in the same app, library, target or test – without being picked up by default.

If the user does not specify a profile, then no profile is used.

The build system would provide

[2016-07-21 20:41] geky commented on #2212
Is new vocabulary necessary? Correct me if I'm wrong, but it sounds like this requirement would be satisfied by just adding a switch to choose the config file:

[code]

@theotherjimmy thoughts?

[2016-07-21 20:51] theotherjimmy commented on #2212
This sounds more general, and would not be difficult to implement without changing the tools API's.

[2016-07-21 20:54] geky commented on #2209
I have a branch that should properly handle cumulative overrides now:
https://github.com/mbedmicro/mbed/compare/master...geky:tools-cumulative-overrides

@screamerbg, @theotherjimmy, does this seem reasonable?

I don't know if it is correctly handling the uVisor supported label though, there are several special cases in the build tools ([example](https://github.com/mbedmicro/mbed/blob/51540d08d57e

[2016-07-21 20:59] geky commented on #2209
Moved to pr: https://github.com/mbedmicro/mbed/pull/2215

[2016-07-21 21:05] AlessandroA commented on #2212
@geky  I was thinking about a new name because currently a config file is exclusive and is always applied to the build.

Instead, a profile would need to be explicitly selected by the user. This also allows you to have multiple JSON files in the same folder, each one defining a new profile.

You can also implement this in the JSON file instead of in the command line tool. Something like `"config":

[2016-07-22 03:08] #2132 closed

[2016-07-22 03:11] #2081 closed

[2016-07-22 04:32] pan- opened #2217 "Bug in wait_api: us_ticker might not be initialized"
As stated in the documentation of [wait_api.h](https://github.com/mbedmicro/mbed/blob/master/hal/api/wait_api.h).
The API can be use like this:

[code]

In the implementation, us_ticker_read is used to wait but might not be initialized: https://github.com/mbedmicro/mbed/blob/master/hal/common/wait_api.c#L29

On implementation where `us_ticker_init` does actually initialize something needed by `us_

[2016-07-22 07:13] 0xc0170 commented on #2217
My 5 cents, us_ticker_read() is public function and can be used anywhere (the only function to provide  time), therefore many (probably all targets) initialize ticker in the read() as well.

[code]

Having said  that, wait_api should initialze ticker or us_ticker_read() should document the intentional behavior that many of us assume and same for wait_api().

[2016-07-22 07:30] pan- commented on #2217
That's what I though but it was not clear.
This means that as long as any wait API has been called the microsecond ticker will run and therefore consume power, I think the documentation should be vocal about this.

[2016-07-22 13:36] c1728p9 commented on #2217
@pan- you might be able to get around this issue by turning on the timer at the start of the wait and turning it off at the end (or keep a usage count in the case of multiple threads).

[2016-07-22 13:44] 0xc0170 commented on #2217
that would be ideal (turn it on when it's needed). However, us_ticker is considered on mbed to provide 32bit timestamp, thus always running.

[2016-07-22 13:51] 0xc0170 opened #2223 "project.py --help - typerror type argument unexpected"
``python tools\project.py --help``

[code]

cc @theotherjimmy @sarahmarshy

[2016-07-22 14:02] c1728p9 commented on #2217
Maybe the first call to us_ticker for an absolute timestamp could keep it on. Longer term it might be good to deprecate the API because of the negative implications and force users to create a Timer object explicitly. @pan-, @0xc0170 what are your thoughts?

[2016-07-22 14:47] #1699 closed

[2016-07-22 23:03] #2223 closed

[2016-07-23 16:11] arjunak234 commented on #2134
Works on master(a4fb64978938)

[2016-07-23 16:11] #2134 closed

[2016-07-24 03:45] bridadan opened #2236 "Path to BLE files for target NRF51822 is too long"
When building for any NRF51822 based target on Windows, you run into the Windows path limit of 260 characters very quickly. This causes the compile step to fail during copying.

@pan- Could the necessary files be flattened somewhat? I have to build in a directory that's fairly close to the disk root to avoid this problem currently (can be problematic in CI).

[2016-07-24 18:40] bridadan commented on #2236
Also FYI @sg-

[2016-07-25 02:56] gabrielrivas opened #2237 "Problem exporting project to offline GCC Arm for Nucleo boards"
**Hardware Used:**
Nucleo F303K8, Nucleo F446RE

**Description of the Issue**:
Today I started having problems when tried to build an exported project to the GCC Arm Embedded tool.

After tried to build the project I got these errors:
.././mbed/TARGET_NUCLEO_F303K8/stm32f303x8.h:761:29: error: expected identifier before '(' token

define CAN ((CAN_TypeDef *) CAN_BASE) ^ .././mbed/CAN.h:67:7: note:

[2016-07-25 10:43] 0xc0170 commented on #2237
cc @bcostm @adustm @theotherjimmy @sarahmarshy

[2016-07-25 10:57] SeppoTakalo opened #2240 "Multiple Socket.h files in the build tree."
There is two different Socket.h headers in the build directory:
[code]

LwIP `Socket.h` need to be renamed, just to be safe. `Socket.h` should always point to mbed OS header.

This will break https://github.com/mbedmicro/mbed/pull/2205

[2016-07-25 14:59] porkybrain opened #2242 "pending ISR may execute after disabling interrupt"
If I am interpreting [this](http://infocenter.arm.com/help/topic/com.arm.doc.dai0321a/BIHHFHJD.html) correctly code resulting in the following (psydo) assembler would allow the load to happen before the pending ISR and thus causing many bugs in mbed.

[code]

[this](https://github.com/mbedmicro/mbed/blob/a3a4c78ea01194fa26c603c8f3788c47a168b4fc/hal/targets/hal/TARGET_Silicon_Labs/TARGET_EFM32/gpio

[2016-07-25 17:36] neilt6 commented on #1861
Just noticed that the [mbed](https://developer.mbed.org/users/mbed_official/code/mbed/) and [mbed-rtos](https://developer.mbed.org/users/mbed_official/code/mbed-rtos/) libraries were updated this morning. That's awesome! Is the [mbed-dev](https://developer.mbed.org/users/mbed_official/code/mbed-dev/) library going to be updated too? Thanks guys!

[2016-07-25 18:00] 0xc0170 commented on #1861
mbed lib rev 122 was published along  with the rtos update.  Please see the tag what commit they refer to.

[2016-07-25 18:12] geky commented on #2198
I believe this is a duplicate of https://github.com/mbedmicro/mbed/issues/2001

cc @theotherjimmy, @screamerbg

[2016-07-25 19:08] geky commented on #1939
Hi everyone, this discussion has settled a bit, so I'd like to get a set of naming guidelines in place to give this issue resolution. I'm going to toss out a proposal based on what exists in the current codebase, feel free to criticize and discuss.

---

### Modules ###

First thing to note, even as one codebase, mbed is composed of a set of modules (hal, rtos, nsapi, lwip, nanostack, uvisor...).

[2016-07-25 19:13] geky commented on #2240
I believe this is a duplicate of https://github.com/mbedmicro/mbed/issues/1939.

In an effort to move forward on a solution I put together a proposal in the discussion https://github.com/mbedmicro/mbed/issues/1939#issuecomment-235052835.

In this case, the proper way to include Socket.h without conflicts would be:
- `#include "network-socket/Socket.h"` for the nsapi socket
- `#include "lwip/Socket

[2016-07-26 04:31] sg- commented on #2240
please also include in (not nsapi.h but headers directly) mbed.h also needs to be guarded by a release type

[2016-07-26 10:12] kiransajeev85 opened #2251 "CAN - LPC176x message is only 8bit"
In https://github.com/mbedmicro/mbed/tree/master/hal/targets/hal/TARGET_NXP/TARGET_LPC176X/can_api.c

CANMsg assumes data length as 8 bytes.
There could be CAN response messages which exceed 8 byte data. This needs support.

// Type definition to hold a CAN message
struct CANMsg {
    **unsigned char data[8];        // CAN Message Data Bytes 0-7**
};

[2016-07-26 10:52] 0xc0170 commented on #2236
what toolchain ? didn't we fix that using intermediate files? Or is this for linking phase? please specify the command to reproduce.

[2016-07-26 12:09] #2061 closed

[2016-07-26 13:09] AlessandroA commented on #2212
@theotherjimmy @sg- @geky Bump

If the general concept of "profile" is not worth implementing now, a way of specifying a config file from the command line would be enough to satisfy the requirement for uVisor testing (basically what @geky proposed [above](https://github.com/mbedmicro/mbed/issues/2212#issuecomment-234377471)).

IIUC a config file is not picked up automatically if it's not in the sa

[2016-07-26 13:19] bogdanm commented on #2212
I believe you are right, although I'd make that more general: add more than one config option.

[code]

The `--config` arguments would be processed in the order they appear in the command line, such as that `--config` argument `n` would be able to override `--config` arguments `1, 2, ..., n-1`. We actually had people asking for this feature at some point in the past.

[2016-07-26 13:54] MarceloSalazar opened #2252 "ARM_BEETLE_SOC target does not support IAR"
Support for IAR toolchain is not available in RC#1
https://github.com/mbedmicro/mbed/tree/mbed-os-5.1.0-rc1

@fvincenzo @screamerbg

[2016-07-26 14:51] neilt6 commented on #1861
@0xc0170 - To clarify, the [pre-built mbed library](https://developer.mbed.org/users/mbed_official/code/mbed/) was updated yesterday, but the [mbed source library](https://developer.mbed.org/users/mbed_official/code/mbed-dev/) hasn't been updated yet. I use the source library in my projects so that I can tweak things and disable some of the debugging code by defining `NDEBUG`.

[2016-07-26 16:27] sg- commented on #1861
Hi @neilt6 working to update that and improve the experiences. Hang in there should have something for you soon!

[2016-07-26 16:28] neilt6 commented on #1861
Thanks @sg- !

[2016-07-26 16:41] MarceloSalazar opened #2254 "[exporter] Keil/MDK project does not have correct flash algorithm for NUCLEO_F411RE"
Tested blinky and used mbed CLI to generate a Keil project.
Attempted to download code to NUCLEO_F411RE target and found out doesn't work because it uses a 256K flash algorithm instead of the 512K.

@0xc0170

[2016-07-26 16:58] screamerbg opened #2255 "[Exporters] GCC_ARM export is broken"
[code]

cc @0xc0170

[2016-07-26 17:17] #2255 closed

[2016-07-26 17:23] 0xc0170 commented on #2254
@MarceloSalazar version of progendef ?

``progendef --version``

This is the latest definition for that mcu: https://github.com/project-generator/project_generator_definitions/blob/master/project_generator_definitions/mcu/st/stm32f411re.yaml

cc @bcostm @adustm @ohagendorf

[2016-07-26 17:58] MarceloSalazar commented on #2254
[code]
It would be great if we could have this fixed soon (before we start OOB for RC#2)

[2016-07-26 18:19] bridadan commented on #2236
@0xc0170 This is for any toolchain, and this occurred during the copy file step. This was the exact command that was ran in CI at the working directory `C:/Jenkins/workspace/build_matrix_wrapper/node_name=build_node_2/135`:

[code]

And here's the full error:
[code]

[2016-07-26 19:16] ohagendorf commented on #2254
I can have a look at it not before the next weekend, I'm very sorry.
I'm currently only reading here.

[2016-07-26 19:39] geky commented on #2240
@sg- is right, in the long run mbed.h will grant access to the user-facing api of the nsapi, alleviating this problem.

[2016-07-27 04:13] jenia81 opened #2262 "Compiled library includes symbols of mbed-os"
This issue is copy of https://github.com/ARMmbed/mbed-os/issues/361 issue

When compiling library using:
"mbed compile --library",
in order to add mbed os header files to the include path, "--source" switch is used with the directories of mbed-os.
Those directories contains source files and header files.
The result is that the compiled library include symbols of mbed-os.
What we want, upon library

[2016-07-27 06:06] toyowata opened #2263 "[exporter] Keil/MDK project compile error for nR51F-DK"
Tested blinky and used mbed CLI to generate a Keil project using ```mbed export -i uvision5 -m NRF51_DK```.

I installed following packs:
[code]

And then, I got following compile errors for build the project:

[code]

[2016-07-27 07:10] markus-becker-tridonic-com opened #2264 "PIN reassignment for atmel-rf-driver without yotta"
Re-created from https://github.com/ARMmbed/mbed-os/issues/444:

Description

Type: Question
Priority: Major
Question

How to reassign the SPI pins for the Atmel radio?
When using the Atmel radio on a custom target, we would like to reassign the SPI pins.

Should this be done with an own entry in target.json or with a modified mbed_app.json?

If target.json, how am I supposed to set this? Using mac

[2016-07-27 07:16] markus-becker-tridonic-com commented on #2264
So I tried
[code]
in my mbed_app.json. This results in:
[code]

With
[code]
the result is
[code]

[2016-07-27 07:19] 0xc0170 commented on #2264
cc @kjbracey-arm @SeppoTakalo

[2016-07-27 07:26] markus-becker-tridonic-com commented on #2264
Only changing it in mbed_lib.json of atmel-rf-driver works ATM.

[2016-07-27 07:37] toyowata commented on #2236
@bridadan Just FYI, I used ```subst``` command to workaround this issue during OOB test.

[code]

[2016-07-27 08:24] toyowata commented on #2263
This is related to https://github.com/mbedmicro/mbed/issues/2236 and worked around by
https://github.com/mbedmicro/mbed/issues/2236#issuecomment-235509645

[2016-07-27 08:41] SeppoTakalo opened #2265 "Cannot enable feature COMMON_PAL"
I cannot enable the feature **COMMON_PAL** required by Client or IPv6.

In my `mbed_app.json` I have:
[code]

Result is:

[code]

Example application tried was: https://github.com/ARMmbed/mbed-os-example-mesh-minimal
with mbed-os replaced with `mbedmicro/mbed`

[2016-07-27 08:42] SeppoTakalo commented on #2265
CC: @sg- @screamerbg @MarceloSalazar @0xc0170

[2016-07-27 08:49] sg- commented on #2265
Puzzled. This should be possible https://github.com/mbedmicro/mbed/blob/1e069aa00963a158341ea0554499d65275e73ec9/tools/config.py#L189

[2016-07-27 08:56] MarceloSalazar opened #2267 "Build does not respect dependency when triggered from different directory level"
### Description
- Type: Bug
- Priority:  Major

Issue reported during SiP workshop.

Need to check the actual behaviour and fix potential issues

ARM Internal Ref: IOTSFW-2732

Originally raised here: https://github.com/ARMmbed/mbed-os/issues/390

[2016-07-27 09:02] SeppoTakalo commented on #2265
Found a probable cause:
[code]

After running a mbed deploy, it download some other toolset than what is in `mbed/tools`
[code]

[code]

The one in `mbed/tools/config.py` allows `COMMON_PAL` but the one in .temp does not.

[2016-07-27 09:03] SeppoTakalo commented on #2265
Maybe the problem is that why it does not find those build tools.

[2016-07-27 09:03] bulislaw opened #2268 "mbed-os-example-uvisor GCC_ARM export doesn't work on both Linux and Mac for mbed-os-5.1.0-rc1"
# List of steps
1) mbed import mbed-os-exampkle-uvisor
2) mbed update mbed-os-5.1.0-rc1
3) mbed export -i GCC_ARM -m K64F
4) cd projectfiles/gcc_arm_K64F/
5) cp .build/Unnamed_Project.bin /Volumes/MBED/

# Results
LED stays off. It works fine for "mbed compile -m K64F -t GCC_ARM"

# Symbol differences
## mbed compile
[code]

## make
[code]

# Compilation status
I'm getting warning from the make:
[

[2016-07-27 09:08] SeppoTakalo commented on #2265
After renaming `mbed` to `mbed-os` the problem disappears, so I'm assuming **mbed-cli** assumes to find mbed-os from that path, and not from `mbed`

This should probably be documented. Just `mbed add https://github.com/mbedmicro/mbed` is not enough.

[2016-07-27 09:11] sg- commented on #2265
Good catch! @screamerbg

[2016-07-27 09:12] 0xc0170 commented on #2265
Reference: https://github.com/ARMmbed/mbed-cli/blob/485cbc6da77b7dbe68a5bf9aa105a407d40da7ea/mbed/mbed.py#L1155

This shall be reported to mbed-cli, and fixed there.

[2016-07-27 09:13] sg- commented on #2265
Well the repo will be named mbed-os. Once tag for rc2 is there core.lib should be updated and mbed-os can be used

[2016-07-27 09:16] 0xc0170 commented on #2265
Yes, that's correct, I was referring to this:

That if it's not, and should be, it should be tracked in mbed-cli, not here.

@SeppoTakalo happy to close this, and request a doc update on mbed-cli?

[2016-07-27 09:20] 0xc0170 commented on #2268
I am not certain if this is not supposed to go to uvisor example.

cc @AlessandroA

[2016-07-27 09:23] bulislaw commented on #2268
Moved to https://github.com/ARMmbed/mbed-os-example-uvisor/issues/8

[2016-07-27 09:23] #2268 closed

[2016-07-27 09:23] SeppoTakalo commented on #2265
Opened under mbed-cli as a documentation request: https://github.com/ARMmbed/mbed-cli/issues/296

[2016-07-27 09:23] #2265 closed

[2016-07-27 10:19] 0xc0170 commented on #2263
@toyowata I can't reproduce

[code]

Using latest master here:

[code]

your command :
[code]

[2016-07-27 10:30] toyowata commented on #2263
@0xc0170 This is a problem related to Windows path limitation.  When I used Windows subst command and substitute a folder to drive name, I could not see this problem.  You will see this error if your working directory is in deep level (i.e. long path name).

[2016-07-27 10:49] 0xc0170 commented on #2263
OK I could reproduce these errors:

[code]

 This is however related to uvision rather than exporters. One thing is paths are long, but a tool (=uvision) should be able to handle that or at least to issue a warning, but not a compilation error.

@jkrech - any details for this error?

[2016-07-27 11:00] 0xc0170 commented on #2267
39 does not look like the right reference to this issue?

How to reproduce? What's the expected behavior? Can you add more details

[2016-07-27 11:15] MarceloSalazar commented on #2267
sorry, I missed a '0'
https://github.com/ARMmbed/mbed-os/issues/390

[2016-07-27 11:25] bulislaw opened #2270 "[exporter] mbed-os-5.1.0-rc1: export to GCC_ARM broken for nRF51_dk"
Binaries generated after export to GCC_ARM by Makefile don't work for multiple demos.

# OS
MacOS (10.11.6)
Ubuntu 14.04

# Tag
mbed-os-5.1.0-rc1

# Log
## Makefile:
[code]
[code]

## mbed

[code]
[code]

Especially the .hex file is 413K vs 119K

[2016-07-27 12:46] bogdanm commented on #2264
Try this in your `mbed_app.json`:

[code]

[2016-07-27 13:24] 0xc0170 commented on #2270
cc @pan-

[2016-07-27 13:33] pan- commented on #2270
Looks like the softdevice is not merged in the final binary.

[2016-07-27 13:34] MarceloSalazar opened #2271 "[exporter] Keil/MDK project does not have correct flash algorithm for NUCLEO_F429ZI"
Tested blinky and used mbed CLI to generate a Keil project.
Attempted to download code to NUCLEO_F429ZI target and found out doesn't work OOB.
I needed to remove the flash algorithm and install it again.

@bcostm @adustm @ohagendorf @0xc0170

[2016-07-27 13:54] 0xc0170 commented on #2254
I can confirm the device flash algo is 256K. however, the target seems to have proper definition. I believe this is connected to uvopt file.

This was fixed in progen v0.9.8 thanks to @ohagendorf. The corrections were done however only for uvision5, therefore ``mbed export -i uvision5 -m NUCLEO_F411RE`` should work.

I'll try to fix this for uvision as well

[2016-07-27 14:04] jkrech commented on #2263
Could you also provide me the buildlog and the commandline options from the C/C++ tab as well as a via files for that project. The commandline options and the source file are usually handed over to the compiler via a file, hence the 260 characters limit should not apply here. If you check to create a batch file you will see the via files in the output folder the extension is <module>.__i

[2016-07-27 14:07] 0xc0170 commented on #2271
I believe this is connected to 2254. Will be fixed via a fix to progen. I'll reference it here once done

[2016-07-27 14:15] AlessandroA opened #2272 "[exporter] [GCC_ARM] The build command for ASM files does not include custom defines"
If you generate an IDE project file for `GCC_ARM` (a `Makefile`), the build command for assembly files does not include macro definitions:

With `mbed compile`:

[code]

With `mbed export` followed by `make`:

[code]

(verified with the uVisor example; see [this issue](https://github.com/ARMmbed/mbed-os-example-uvisor/issues/8) to reproduce it).

@geky @sg- @bogdanm @theotherjimmy @0xc0170

[2016-07-27 14:27] 0xc0170 commented on #2271
This one adds uvopt for uvision4: https://github.com/project-generator/project_generator/pull/426

the another issue might be wrong definitons for this target. Please set the correct flash algo, use
[code]

that produces a yaml file, please compare that one to the https://github.com/project-generator/project_generator_definitions/blob/master/project_generator_definitions/mcu/st/stm32f429zi.yaml#L2

[2016-07-27 14:36] 0xc0170 commented on #2254
I got it working for f411.

@MarceloSalazar can you test these 2 PR (both of them to be applied):
https://github.com/project-generator/project_generator_definitions/pull/98
https://github.com/project-generator/project_generator/pull/426

[2016-07-27 14:50] 0xc0170 commented on #2270
@pan- is looking at it (somehow I could not assign this to him, we shall add him to the team !)

[2016-07-27 14:51] 0xc0170 commented on #2271
This should follow f411 fix, once that one gets fixed, this shall be retested.

[2016-07-27 15:19] bridadan commented on #2236
@TomoYamanaka I never knew about that command, good to know! Thanks a lot :)

[2016-07-27 15:46] maclobdell opened #2275 "invalid warning message about project-generator-definitions not installed"
I get a warning when importing the examples that project-generator-definitions is missing.   However, I had it installed (it was a local version of project-generator-definitions installed in developer mode).  I also tried installing all the requirements per the instructions, but I get the same warning message that it is not installed.

[code]

[2016-07-27 15:54] neilt6 opened #2276 "Inconsistent thread safety implementation"
Most of the new thread safe classes are using a single static mutex for all instances. This guarantees thread safety across multiple objects, but prevents multiple independent peripherals from being used simultaneously. Kind of inconvenient, but developers can override the virtual `lock()` and `unlock()` methods to disable the mutex so not a big deal.

However, `AnalogOut`, `CAN`, `SPI`, and `Seri

[2016-07-27 19:31] 0xc0170 commented on #2276
cc @c1728p9

[2016-07-27 19:43] c1728p9 commented on #2276
Hi @neilt6, this behavior was intentional for AnalogOut, CAN, and Serial since the typical use case it to only have one instance of these objects per hardware resource. SPI, similar to IIC, can have multiple instances bound to the same hardware, so this should be using a shared mutex.

[2016-07-27 20:50] neilt6 commented on #2276
@c1728p9 - Thanks for the clarification. My main concern was `SPI`, I'm less familiar with the others. Would you like me to submit a pull-request modifying `SPI` to use a `SingletonPtr`?

[2016-07-27 21:19] c1728p9 commented on #2276
@neilt6, yeah a PR would be great! Thanks

[2016-07-27 21:54] sg- commented on #2275
@0xc0170

[2016-07-28 00:21] toyowata opened #2283 "[NRF51_DK] us_ticker.c doesn't support IAR build (rc1 oob)"
The RTC1_IRQHandler in us_ticker.c is implemented by inline assembler and there is no IAR toolchain support.  Detected by RC1 OOB test.

[code]

https://github.com/mbedmicro/mbed/blob/master/hal/targets/hal/TARGET_NORDIC/TARGET_MCU_NRF51822/us_ticker.c#L382

[2016-07-28 01:33] TomoYamanaka commented on #2236
@bridadan

This is a message to Watarai-san, isn't it ? :)

[2016-07-28 07:27] 0xc0170 commented on #2283
cc @pan-

[2016-07-28 07:45] 0xc0170 commented on #2275
I'll have a look. This might be a bug in the requirements or how mbed-cli checks those.

[code]

It should update to at least to v0.2.26.  The current version in pypi is 0.2.27 (https://pypi.python.org/pypi/project_generator_definitions)

cc @screamerbg

[2016-07-28 08:15] 0xc0170 commented on #2275
I'll send a fix, this is a problem of pip and python module naming (dashes vs underscores). The req file in mbed uses ``_`` for definitions, and that causes a problem for mbed-cli ``get_requirements`` function

[2016-07-28 09:34] MarceloSalazar opened #2286 "NUCLEO_F429ZI tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: NUCLEO_F429ZI
Host OS: Linux Ubuntu 14.04

[code]

[2016-07-28 09:44] MarceloSalazar opened #2287 "NUCLEO_F401RE tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: NUCLEO_F401RE
Host OS: Windows 7

[code]

[2016-07-28 10:29] MarceloSalazar opened #2288 "DISCO_F429ZI tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: DISCO_F429ZI
Host OS: Linux Ubuntu 14.04

[code]

[2016-07-28 10:31] pan- commented on #2283
@toyowata This is expected for the RC1 because IAR support was not enabled.
It will be for RC2.

[2016-07-28 10:38] toyowata commented on #2283
@pan- Thanks. I will close this issue, once I confirm the fix in RC2.

[2016-07-28 10:45] MarceloSalazar opened #2289 "ARM_BEETLE_SOC tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: ARM_BEETLE_SOC
Host OS: Windows 7

[code]

[2016-07-28 11:14] markus-becker-tridonic-com opened #2290 "Migration documentation minar -> threads"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type:  Question
- Priority:  Minor

## Question

Where do I find the documentation on how to move from minar events to RTOS threads?

Re-opened from https://github.com/ARMmbed/mbed-os/issues/445#issuecomment-235424621.

@MarceloSalazar

[2016-07-28 11:46] 0xc0170 commented on #2289
cc @fvincenzo

[2016-07-28 12:04] MarceloSalazar opened #2291 "NUCLEO_L476RG tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: NUCLEO_L476RG
Host OS: Linux

[code]

[2016-07-28 12:34] MarceloSalazar opened #2292 "NUCLEO_F411RE tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: NUCLEO_F411RE
Host OS: Windows 7

[code]

[2016-07-28 12:52] MarceloSalazar opened #2293 "NUCLEO_F746ZG tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: NUCLEO_F746ZG
Host OS: Windows 7

[code]

[2016-07-28 12:57] 0xc0170 commented on #2263
@jkrech:

here are options from C/C++ tab:

Defines:
[code]

Misc:
[code]

The build log:
[code]

[2016-07-28 13:05] 0xc0170 commented on #2275
I sent a fix, waiting for ppl to review, referenced above

[2016-07-28 13:14] bogdanm commented on #2236
@bridadan: did `subst` actually help? That doesn't make sense. The `copy files` step doesn't have anything do to with the command line, since it calls `copyfile` in the `shutil` Python module, and `copyfile` shouldn't suffer from this limitation. Are you sure this isn't different problem?

[2016-07-28 13:30] 0xc0170 opened #2294 "nrf51 - document the legacy mcu support vs the new one?"
There are currently two nrf5x HAL, and it's not documented anywhere. For users to use or bugfix, we should provide a documentation reference to explain.

I assume the old one is "legacy" and might be removed once all the rest is ported to the new one.

Folder reference: https://github.com/mbedmicro/mbed/tree/master/hal/targets/cmsis/TARGET_NORDIC/

cc @pan-

[2016-07-28 13:31] fvincenzo commented on #2289
@MarceloSalazar @abhishek-pandit

To me looks like that the board in your case was not recognized properly.

My configuration:
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: ARM_BEETLE_SOC
Host OS: Windows 7

[code]

[2016-07-28 13:33] fvincenzo commented on #2289
@0xc0170

I noticed that with the latest rc I have two errors:
- ticker
- timeout

They were working before the latest changes in mbed-os. What did it change?

[2016-07-28 13:33] screamerbg commented on #2293
cc @adustm

[2016-07-28 13:35] 0xc0170 commented on #2272
@bogdanm @theotherjimmy Can you have a look?

My quick guess would be that -D for make might be a problematic for windows, but there should be --preinclude. I could not spot it in the pasted cmd above.

[2016-07-28 13:35] screamerbg commented on #2292
CC @adustm

[2016-07-28 13:35] jkrech commented on #2263
I have been trying to reproduce a scenario where the paths exceed the 260 character limit.
It is my understanding that the uvproj file has been generated somehow, because if I try to add a file to a project in uVision using the browse dialog the windows system will provide a compacted short path/filename.

If you take a look at your path above in the windows file explorer I am sure you are getting

[2016-07-28 13:36] screamerbg commented on #2286
CC @adustm

[2016-07-28 13:36] screamerbg commented on #2287
CC @adustm

[2016-07-28 13:36] screamerbg commented on #2288
CC @adustm

[2016-07-28 13:36] screamerbg commented on #2291
CC @adustm

[2016-07-28 13:38] PrzemekWirkus commented on #2289
@fvincenzo Vincenzo, can you try runnig just these two tests?
[code]
Maybe there is something with the serial, test tools.

[2016-07-28 13:40] fvincenzo commented on #2289
@PrzemekWirkus

I obtain this:

[code]

[2016-07-28 13:52] PrzemekWirkus commented on #2289
@fvincenzo Maybe you need a newer Greentea, something like v1.0.2 onwards.

This is what I did on mbedmicro:
[code]
[code]
[code]

[2016-07-28 13:53] PrzemekWirkus commented on #2289
Oh, I think the test names changed...

[2016-07-28 13:59] fvincenzo commented on #2289
This is what I see (it works now :) ):
[code]

[2016-07-28 14:03] PrzemekWirkus commented on #2289
@fvincenzo I think someone refactored timer test to contain few timer/ticker tests. You fail on second one (Timers: 2x tickers).

[2016-07-28 14:18] markus-becker-tridonic-com commented on #2264
[code]

This works. Thanks.

[2016-07-28 14:18] #2264 closed

[2016-07-28 14:19] fvincenzo commented on #2289
@PrzemekWirkus I will re-test when the test strategy on timers will be reported to the old one. Thanks for you help :+1:

[2016-07-28 14:45] bridadan commented on #2289
@fvincenzo Thanks for reporting this. Like @PrzemekWirkus said, someone (me actually!) consolidated some the ticker tests to speed up testing a bit and to reduce the amount of duplicated code between the tests. This is the consolidated test case now: https://github.com/mbedmicro/mbed/blob/master/TESTS/mbed_drivers/ticker/main.cpp

The interesting thing from your test output is that the second test

[2016-07-28 14:50] fvincenzo commented on #2289
@bridadan it is ok for me, we can look at it if you think that it is a legitimate issue.

[2016-07-28 14:56] bulislaw opened #2296 "EFM32PG_STK3401 tests fail - GCC OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
GCC toolchain
Target: EFM32PG_STK3401 (Pearl Gecko)
Host OS: Linux

[code]

[2016-07-28 15:06] bridadan commented on #2286
There is an issue with ST-Link on Linux where the disk drive appears to "fill up" after multiple binaries have been flashed to the board. This causes flashing to fail with the testing tools and requires the board to be manually unplugged then plugged back into the machine. @adustm we have raised this issue before, have you heard anything about this issue recently?

[2016-07-28 15:06] bulislaw opened #2298 "mbed detect doesn't work on Mac OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
Target: K64F/Giant Gecko/Pearl Gecko/NUCLEO_L476RG/nRF51_DK
Host OS: Mac

mbed can't detect connected boards making `mbed test` fail
[code]

[2016-07-28 15:07] bridadan commented on #2288
I mentioned this in #2286, but I'll go ahead and copy it below:

[2016-07-28 15:07] bridadan commented on #2291
I mentioned this in #2286, but I'll go ahead and copy it below:

[2016-07-28 16:15] bulislaw opened #2299 "EFM32PG_STK3401 tests fail - ARM OoB RC#1"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc1
ARM toolchain
Target: EFM32PG_STK3401 (Pearl Gecko)
Host OS: Linux

[code]

[2016-07-28 21:34] theotherjimmy commented on #2272
@0xc0170 you are exactly correct. #2303 should fix it.

[2016-07-29 03:55] toyowata opened #2306 "K22F tests fail - ARM OoB RC#3"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc3
ARM toolchain
Target: K22F
Host OS: Windows 7

[code]

[2016-07-29 04:33] toyowata opened #2307 "K22F tests fail - GCC OoB RC#3"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc3
GCC toolchain
Target: K22F
Host OS: Windows 7

[code]

[2016-07-29 04:40] toyowata opened #2308 "K22F tests fail - IAR OoB RC#3"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc3
IAR toolchain
Target: K22F
Host OS: Windows 7

[code]

[2016-07-29 05:51] 0xc0170 commented on #2254
progenef v0.2.28 and progen v0.9.9 should fix this issue, please test

[2016-07-29 05:52] 0xc0170 commented on #2254
@bcostm @adustm We should review flash algo settings for the nucleo devices, some are not correct for uvision4 projects.

[2016-07-29 05:59] toyowata commented on #2283
@pan- Confirmed the fix.  Closed ticket.

[2016-07-29 05:59] #2283 closed

[2016-07-29 06:52] #2275 closed

[2016-07-29 06:53] 0xc0170 commented on #2275
Should be fixed on master now, please test

[2016-07-29 07:27] 0xc0170 opened #2309 "Project.py - does not accept -b ?"
Looks like a regression.  It used to be allowed to use ``-b`` :

Currently:
[code]

@screamerbg @theotherjimmy @sarahmarshy

[2016-07-29 08:33] bulislaw commented on #2296
For Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc3
[code]

[2016-07-29 08:39] anpilog opened #2310 "Better RTOS integration for mbed-drivers"
Hi,

As @0xc0170 suggested I created this issue as place to discuss RTOS integration to drivers (SPI, I2C, etc).

lock()/unlock() methods should address common user needs in better way.

As one of the option it could be:
[code]

IMHO those lock/unlock wrappers around mutex should be used only by user.
Current approach when each driver method user lock()/unlock() covers only integrity of register a

[2016-07-29 08:43] 0xc0170 commented on #2310
cc @c1728p9 @geky

[2016-07-29 08:48] 0xc0170 commented on #2263
@jkrech Thank you for help! That would explain it.

yes, we use full paths at the moment. I created an issue for progen: https://github.com/project-generator/project_generator/issues/427

[2016-07-29 09:06] bulislaw commented on #2298
Know issue: https://github.com/ARMmbed/mbed-ls/issues/38

[2016-07-29 09:06] #2298 closed

[2016-07-29 09:17] MarceloSalazar opened #2311 "libstdc++ locale-inst.o"
Note: ticket originally raised here: https://github.com/ARMmbed/mbed-os/issues/484

### Description
- Type: Question
- Priority: Blocker

## Question

**What pulls in locale-inst.o and wlocale-inst.o?**

When investigating, why mbedOS is so big ROM-wise; i modified memap.py to show deeper into the directory structure which components are big. This led to the following output:

[code]

What is pull

[2016-07-29 09:36] kiransajeev85 commented on #2251
Any updates on when this issue will be handled ?

[2016-07-29 09:52] yogpan01 commented on #2311
The usage of stringstream in example application was pulling lot of extra code, the application is since then modified to remove the usage of stringstream. Latest updated application should be smaller in code size.
@MarceloSalazar

[2016-07-29 10:01] 0xc0170 commented on #2311
That's a good question. Can you please verify another apps that locales are not pulled in by default by mbed. I dont recall they are. Therefore this would help to pinpoint which module requires locales.

I had a quick look at sources, no ``locale`` include, but ctype yes, here : https://github.com/mbedmicro/mbed/blob/5d7317626c1ad0d1ea37af7c77e7b541fc00f54d/features/FEATURE_CLIENT/mbed-client/sour

[2016-07-29 10:04] bulislaw commented on #2299
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc3
[code]

[2016-07-29 10:04] AlessandroA opened #2312 "[tools] Never-ending config_and_overrides scan"
Commit f3c0ea3664fea45233413ebabe29575b778f55aa introduced a regression in the build tools so that an app specifying `target_overrides` causes a never-ending scan of configs and overrides.

[code]

To reproduce:

[code]

You can look at the `mbed_app.json` file to see what was defined there:

[code]

If you checkout the previous commit the problem does not show up:

[code]

@geky @0xc0170

[2016-07-29 10:24] 0xc0170 commented on #2263
@jkrech I added a file to a project, and it prints this warning:

![warning_uvision](https://cloud.githubusercontent.com/assets/2963726/17245323/4689623c-5586-11e6-9cd4-f8d79a10a1d3.JPG)

The absolute path is <200 characters in this case. What's the meaning of the warning?

Seems to me this is not a path limit we are hitting as files are not that deep. shouldn't uvision handle this, or as you said

[2016-07-29 10:44] sunsmilearm opened #2313 "export mbed-blinky to uvision4 and open it in uvison5, got compile error"
I used the command "mbed export -i uvision -m NRF51_DK"

Error message is:

linking...
.\.build\uvision4\Unnamed_Project.axf: error: L6002U: Could not open file .\.build\uvision4\softdevice_handler_appsh.o: No such file or directory

[2016-07-29 10:49] 0xc0170 commented on #2313
please provide full cmd, to reproduce. I'll try to do it locally

cc @pan-

[2016-07-29 11:32] 0xc0170 commented on #2242
the above link is broken?

cc @c1728p9 @bogdanm @geky

[2016-07-29 13:14] infinnovation commented on #1991
Similarly serial_irq_handler

[2016-07-29 13:38] jkrech commented on #2263
The warning is a defect in uVision that will be fixed in the next release 5.21. The limit in fact is 260 characters (MAX_PATH). Sorry about that. The good thing is that despite the warning the file should have been added.

If you edit uvproj files, you are on your own, sorry.
This is an integrated development environment with a proprietary project format.

[2016-07-29 13:49] bulislaw opened #2315 "EFM32PG_STK3401 tests fail - GCC OoB RC#3 OSX"
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc3
GCC toolchain
Target: EFM32PG_STK3401 (Pearl Gecko)
Host OS: OSX (10.11.6)

[code]

[2016-07-29 14:06] 0xc0170 commented on #2313
i can't reproduce this. using the same command (I got currently latest mbed master for testing), and exported project builds without errors.

Please provide additional details for us to investigate. Path to a project? How long is it?

[2016-07-29 14:14] geky commented on #2310
This makes sense to me for bus-based transactions. The most appropriate locking would be over specific peripherals but from what I understand that information isn't exposed yet?

Also just exposing lock/unlock methods is a good idea to hide mutex details.

[2016-07-29 14:29] 0xc0170 commented on #2263
I understand about the path limit. But I still think this is a problem somewhere else, as the longest path I could find is around 200 characters for this project. We use lot of include paths and defines, and files, let me illustrate by pasting here a control string.

here's the control string for c/c++:

[code]

it's almost 15k characters. Why does it fail if paths are <200 characters (the longest

[2016-07-29 14:39] neilt6 commented on #2310
@anpilog - The underlying mutex implementation in RTX supports nesting, so if the user explicitly calls `lock()`, the driver will remain locked across all method calls until the user explicitly calls `unlock()`. If the driver methods didn't call `lock()`/`unlock()`, legacy code that didn't explicitly lock the driver would still be able to wreak havoc.

[2016-07-29 14:58] geky commented on #2310
@neilt6, that's a good point. Though could that problem be avoided by locking the underlying bus before entering the old driver?

[2016-07-29 15:10] bridadan commented on #2306
@toyowata Thanks for reporting this. I have a CI run of these tests from PR #2305 where all the tests are passing. Without seeing the verbose test results it's hard to say what the failures were. It also looks like there's a mismatch between the top report's `TIMEOUT`s and the bottom reports `ERROR`s. Do you have the full log of this by any chance?

Also, do you know what version of DAPLink you're

[2016-07-29 15:27] neilt6 commented on #2310
@geky - Only if the user had another driver instance that they could `lock()`/`unlock()` the bus from before using the legacy code. Barring that, all legacy code that uses internal driver instances would have to be re-written to prevent rampant concurrency issues. In my opinion, this only works if locking a driver truly locks it for all users, and that is more or less the way it works right now.

[2016-07-29 15:31] #2276 closed

[2016-07-29 15:45] pan- commented on #2294
@0xc0170 You are correct, there should be a document explaining how to transition from the old HAL to the new one.

I don't expect users to be impacted by those changes (maybe I miss cases but please enlighten me), I also see bugfixes coming to both HAL but for porters this is a critical document to provide.

CC @nvlsianpu @anangl

[2016-07-29 16:00] bridadan commented on #2263
@0xc0170 The ble files definitely have long paths of 200 characters or more. And if you're in a sub directory, chances are you're eating up the other 60 characters there. We still have this issue in our tools as well.

We could fix this by using Unicode paths in Windows, though this will take a substantial amount of work in the tools. I think the pay off would be worth it though!

[2016-07-29 16:04] pan- commented on #2236
@bridadan I would like to avoid modifications in Nordic SDK layout, not because it is difficult or I'm lazy but for maintenance purposes.

This is one of this case when we ask to *fix* the code instead of fixing the tools.

Our *build system* is too limited to deal correctly with third parties library.

At the moment if you want to do the perfect import of a third party library in mbed_os, you sho

[2016-07-29 16:06] adustm commented on #2286
Hello, have you tried to update the stlink FW with the last version ? If the issue remains, do not hesitate to contact myst.com forums

[2016-07-29 16:26] bridadan commented on #2206
I'm going to close this for now since I can't reproduce this. @simonqhughes if you still have trouble setting up a testing environment please reopen this so we can troubleshoot.

[2016-07-29 16:27] #2206 closed

[2016-07-29 16:27] geky commented on #2310
Ah I see. Well as you point out the recursive nature of the mutex will let us block on legacy transactions.

An aside, I agree with @anpilog that we should add the millisecond argument to match the Mutex api.

[2016-07-29 16:29] bridadan commented on #2236
Ah @TomoYamanaka sorry about that! There are too many people that show up when I type `@to` and I didn't have enough coffee that morning :) That was indeed for Watarai-san!

@bogdanm I haven't actually tried the `subst` command yet, but I agree with @pan- that it isn't a valid solution. I was also surprised that this cropped up during the "copy files" step because its all done within Python, not t

[2016-07-29 16:59] theotherjimmy commented on #2309
It looks like it will accept -b, but expects an argument.

[2016-07-29 17:00] theotherjimmy commented on #2309
https://github.com/mbedmicro/mbed/pull/2225 was probably supposed to delete the type line, not the action='store_true' line.

[2016-07-29 17:39] geky commented on #2312
Thanks for narrowing this down! Let me know if https://github.com/mbedmicro/mbed/pull/2317 works for you.

[2016-07-29 21:22] geky opened #2320 "[tools] Exporting mbed-os-example-uvisor fails to run"
Original issue https://github.com/ARMmbed/mbed-os-example-uvisor/issues/8:

It looks like the culprit is this line, which specifically removes trailing `F`s from targets if uvisor is enabled:
https://github.com/mbedmicro/mbed/commit/c2e3001739cd91e79c3d3874678a8714b0c075d1#diff-486f048c4c5775670840b518bf8b0ad5R243

This is not playing nicely with the exporters, and may not play nicely with other c

[2016-07-29 21:59] sg- commented on #2308
What version of interface firmware do you have? https://github.com/mbedmicro/DAPLink/releases/tag/v0241

[2016-07-29 22:05] sg- commented on #2307
What version of interface firmware do you have? https://github.com/mbedmicro/DAPLink/releases/tag/v0241

Also there may be older requirements that need an update??
[code]

[2016-07-29 22:05] sg- commented on #2306
What version of interface firmware do you have? https://github.com/mbedmicro/DAPLink/releases/tag/v0241

Also there may be older requirements that need an update??
[code]

[2016-07-30 10:42] MarceloSalazar commented on #2254
I confirm this works OOB! Awesome work @0xc0170 !

[2016-07-30 10:42] #2254 closed

[2016-07-30 12:05] MarceloSalazar commented on #2293
RC#4

[code]

[2016-07-30 12:07] MarceloSalazar commented on #2287
RC#4

[code]

[2016-07-30 12:28] MarceloSalazar commented on #2292
Tested RC4
All tests pass

[code]

[2016-07-30 12:28] #2292 closed

[2016-07-31 08:22] zgoda opened #2323 "[tools] build_everything.py should fail immediately for unsupported target"
For not mbed-os capable platforms  build process should not be attempted. Now it fails in the middle trying to compile RTOS support:

[code]

Found when testing PR #2285

[2016-07-31 09:07] anpilog commented on #2310
@neilt6 I don't understand how your point related to this question.
Could you give an code example?

[2016-07-31 13:35] pan- commented on #2236
From my point of view, the main issue lie in the fact that the build system tries to build everything in an executable and skip the library build step.

A library is  composed of sources files and header files (I don't include resources files in the discussion) and **dependencies**.
During the build of the library, random path should not be included in the inclusion path otherwise you can get unex

[2016-07-31 19:14] porkybrain commented on #2242
thanks martin, link should work now.

[2016-08-01 01:42] #2306 closed

[2016-08-01 01:42] toyowata commented on #2306
@bridadan @sg- I have updated the DAPLink firmware and then I could not get any TIMEOUT error at all.  Thank you very much.  Closed this ticket.

[2016-08-01 01:43] toyowata commented on #2307
Same as https://github.com/ARMmbed/mbed-os/issues/2306

[2016-08-01 01:43] #2307 closed

[2016-08-01 01:43] toyowata commented on #2308
Same as https://github.com/ARMmbed/mbed-os/issues/2306

[2016-08-01 01:43] #2308 closed

[2016-08-01 03:11] ccli8 opened #2324 "localtime() broken with GCC ARM toolchain"
***mbed-os sha***
4b506280eb4d34b3ed0e5aa82600d478e8f4ea1c
***mbed-cli version***
0.8.8
***GCC ARM version***
4.9.3
***Target board***
K64F
***Steps to Reproduce***
Program gets broken in localtime(). Without __disable_irq(), it is fine.
[code]

[2016-08-01 03:13] maclobdell opened #2325 "[exporter] FPU option not set in exported IAR project files for several platforms"
This is a duplicate of an issue filed in project generator definitions.
https://github.com/project-generator/project_generator_definitions/issues/100

I'm using:
IAR EWARM 7.40.7
mbed-os-5.1.0-rc4
project-generator (0.9.8)
project-generator-definitions (0.2.27)

Exporting to the following targets and trying to build in IAR IDE results in an error that the device doesn't have VFP registers. The pro

[2016-08-01 06:08] jkrech commented on #2263
@0xc0170 If you are interested in understanding the way windows short path format works and when it kicks in, I am not the right one to explain that to you in all detail, however what becomes obvious when you play around with it, is the fact that it does not only start kicking in when the MAX_PATH limit is reached (you can use e.g. dir /x to show the corresponding short file name).
This dates back

[2016-08-01 12:07] ciarmcom commented on #2325
ARM Internal Ref: IOTMORF-90

[2016-08-01 12:07] ciarmcom commented on #2324
ARM Internal Ref: IOTMORF-91

[2016-08-01 12:07] ciarmcom commented on #2323
ARM Internal Ref: IOTMORF-92

[2016-08-01 12:07] ciarmcom commented on #2320
ARM Internal Ref: IOTMORF-93

[2016-08-01 12:07] ciarmcom commented on #2315
ARM Internal Ref: IOTMORF-94

[2016-08-01 12:07] ciarmcom commented on #2313
ARM Internal Ref: IOTMORF-95

[2016-08-01 12:07] ciarmcom commented on #2312
ARM Internal Ref: IOTMORF-96

[2016-08-01 12:07] ciarmcom commented on #2311
ARM Internal Ref: IOTMORF-97

[2016-08-01 12:08] ciarmcom commented on #2309
ARM Internal Ref: IOTMORF-99

[2016-08-01 12:08] ciarmcom commented on #2299
ARM Internal Ref: IOTMORF-100

[2016-08-01 12:08] ciarmcom commented on #2296
ARM Internal Ref: IOTMORF-101

[2016-08-01 12:08] ciarmcom commented on #2294
ARM Internal Ref: IOTMORF-102

[2016-08-01 12:08] ciarmcom commented on #2293
ARM Internal Ref: IOTMORF-103

[2016-08-01 12:08] ciarmcom commented on #2291
ARM Internal Ref: IOTMORF-104

[2016-08-01 12:08] ciarmcom commented on #2290
ARM Internal Ref: IOTMORF-105

[2016-08-01 12:08] ciarmcom commented on #2289
ARM Internal Ref: IOTMORF-106

[2016-08-01 12:08] ciarmcom commented on #2288
ARM Internal Ref: IOTMORF-107

[2016-08-01 12:08] ciarmcom commented on #2287
ARM Internal Ref: IOTMORF-108

[2016-08-01 12:08] ciarmcom commented on #2286
ARM Internal Ref: IOTMORF-109

[2016-08-01 12:09] ciarmcom commented on #2272
ARM Internal Ref: IOTMORF-110

[2016-08-01 12:09] ciarmcom commented on #2271
ARM Internal Ref: IOTMORF-111

[2016-08-01 12:09] ciarmcom commented on #2270
ARM Internal Ref: IOTMORF-112

[2016-08-01 12:09] ciarmcom commented on #2267
ARM Internal Ref: IOTMORF-113

[2016-08-01 12:09] ciarmcom commented on #2263
ARM Internal Ref: IOTMORF-114

[2016-08-01 12:09] ciarmcom commented on #2262
ARM Internal Ref: IOTMORF-115

[2016-08-01 12:09] ciarmcom commented on #2252
ARM Internal Ref: IOTMORF-116

[2016-08-01 12:09] ciarmcom commented on #2251
ARM Internal Ref: IOTMORF-117

[2016-08-01 12:09] ciarmcom commented on #2242
ARM Internal Ref: IOTMORF-118

[2016-08-01 12:09] ciarmcom commented on #2240
ARM Internal Ref: IOTMORF-119

[2016-08-01 12:09] ciarmcom commented on #2237
ARM Internal Ref: IOTMORF-120

[2016-08-01 12:10] ciarmcom commented on #2236
ARM Internal Ref: IOTMORF-121

[2016-08-01 12:10] ciarmcom commented on #2217
ARM Internal Ref: IOTMORF-122

[2016-08-01 12:10] ciarmcom commented on #2212
ARM Internal Ref: IOTMORF-123

[2016-08-01 12:10] ciarmcom commented on #2209
ARM Internal Ref: IOTMORF-124

[2016-08-01 12:10] ciarmcom commented on #2201
ARM Internal Ref: IOTMORF-125

[2016-08-01 12:10] ciarmcom commented on #2198
ARM Internal Ref: IOTMORF-126

[2016-08-01 12:10] ciarmcom commented on #2195
ARM Internal Ref: IOTMORF-127

[2016-08-01 12:11] ciarmcom commented on #2182
ARM Internal Ref: IOTMORF-128

[2016-08-01 12:11] ciarmcom commented on #2181
ARM Internal Ref: IOTMORF-129

[2016-08-01 12:11] ciarmcom commented on #2170
ARM Internal Ref: IOTMORF-130

[2016-08-01 12:11] ciarmcom commented on #2169
ARM Internal Ref: IOTMORF-131

[2016-08-01 12:11] ciarmcom commented on #2163
ARM Internal Ref: IOTMORF-132

[2016-08-01 12:11] ciarmcom commented on #2152
ARM Internal Ref: IOTMORF-133

[2016-08-01 12:11] ciarmcom commented on #2147
ARM Internal Ref: IOTMORF-134

[2016-08-01 12:12] ciarmcom commented on #2126
ARM Internal Ref: IOTMORF-135

[2016-08-01 12:12] ciarmcom commented on #2125
ARM Internal Ref: IOTMORF-136

[2016-08-01 12:12] ciarmcom commented on #2118
ARM Internal Ref: IOTMORF-137

[2016-08-01 12:12] ciarmcom commented on #2115
ARM Internal Ref: IOTMORF-138

[2016-08-01 12:12] ciarmcom commented on #2111
ARM Internal Ref: IOTMORF-139

[2016-08-01 12:12] ciarmcom commented on #2108
ARM Internal Ref: IOTMORF-140

[2016-08-01 12:12] ciarmcom commented on #2104
ARM Internal Ref: IOTMORF-141

[2016-08-01 12:12] ciarmcom commented on #2091
ARM Internal Ref: IOTMORF-142

[2016-08-01 12:12] ciarmcom commented on #2089
ARM Internal Ref: IOTMORF-143

[2016-08-01 12:12] ciarmcom commented on #2085
ARM Internal Ref: IOTMORF-144

[2016-08-01 12:12] ciarmcom commented on #2083
ARM Internal Ref: IOTMORF-145

[2016-08-01 12:13] ciarmcom commented on #2074
ARM Internal Ref: IOTMORF-146

[2016-08-01 12:13] ciarmcom commented on #2073
ARM Internal Ref: IOTMORF-147

[2016-08-01 12:13] ciarmcom commented on #2068
ARM Internal Ref: IOTMORF-148

[2016-08-01 12:13] ciarmcom commented on #2040
ARM Internal Ref: IOTMORF-149

[2016-08-01 12:13] ciarmcom commented on #2017
ARM Internal Ref: IOTMORF-150

[2016-08-01 12:13] ciarmcom commented on #2012
ARM Internal Ref: IOTMORF-151

[2016-08-01 12:13] ciarmcom commented on #2007
ARM Internal Ref: IOTMORF-152

[2016-08-01 12:14] ciarmcom commented on #2004
ARM Internal Ref: IOTMORF-153

[2016-08-01 12:14] ciarmcom commented on #2001
ARM Internal Ref: IOTMORF-154

[2016-08-01 12:14] ciarmcom commented on #1997
ARM Internal Ref: IOTMORF-155

[2016-08-01 12:14] ciarmcom commented on #1996
ARM Internal Ref: IOTMORF-156

[2016-08-01 12:14] ciarmcom commented on #1994
ARM Internal Ref: IOTMORF-157

[2016-08-01 12:14] ciarmcom commented on #1992
ARM Internal Ref: IOTMORF-158

[2016-08-01 12:14] ciarmcom commented on #1991
ARM Internal Ref: IOTMORF-159

[2016-08-01 12:14] ciarmcom commented on #1989
ARM Internal Ref: IOTMORF-160

[2016-08-01 12:14] ciarmcom commented on #1987
ARM Internal Ref: IOTMORF-161

[2016-08-01 12:15] ciarmcom commented on #1969
ARM Internal Ref: IOTMORF-162

[2016-08-01 12:15] ciarmcom commented on #1947
ARM Internal Ref: IOTMORF-163

[2016-08-01 12:15] ciarmcom commented on #1939
ARM Internal Ref: IOTMORF-164

[2016-08-01 12:15] ciarmcom commented on #1882
ARM Internal Ref: IOTMORF-165

[2016-08-01 12:16] ciarmcom commented on #1870
ARM Internal Ref: IOTMORF-166

[2016-08-01 12:16] ciarmcom commented on #1866
ARM Internal Ref: IOTMORF-167

[2016-08-01 12:16] ciarmcom commented on #1864
ARM Internal Ref: IOTMORF-168

[2016-08-01 12:16] ciarmcom commented on #1861
ARM Internal Ref: IOTMORF-169

[2016-08-01 12:16] ciarmcom commented on #1849
ARM Internal Ref: IOTMORF-170

[2016-08-01 12:16] ciarmcom commented on #1845
ARM Internal Ref: IOTMORF-171

[2016-08-01 12:16] ciarmcom commented on #1842
ARM Internal Ref: IOTMORF-172

[2016-08-01 12:16] ciarmcom commented on #1841
ARM Internal Ref: IOTMORF-173

[2016-08-01 12:17] ciarmcom commented on #1834
ARM Internal Ref: IOTMORF-174

[2016-08-01 12:17] ciarmcom commented on #1831
ARM Internal Ref: IOTMORF-175

[2016-08-01 12:17] ciarmcom commented on #1823
ARM Internal Ref: IOTMORF-176

[2016-08-01 12:17] ciarmcom commented on #1820
ARM Internal Ref: IOTMORF-177

[2016-08-01 12:17] ciarmcom commented on #1819
ARM Internal Ref: IOTMORF-178

[2016-08-01 12:17] ciarmcom commented on #1814
ARM Internal Ref: IOTMORF-179

[2016-08-01 12:17] ciarmcom commented on #1798
ARM Internal Ref: IOTMORF-180

[2016-08-01 12:17] ciarmcom commented on #1794
ARM Internal Ref: IOTMORF-181

[2016-08-01 12:17] ciarmcom commented on #1777
ARM Internal Ref: IOTMORF-182

[2016-08-01 12:18] ciarmcom commented on #1761
ARM Internal Ref: IOTMORF-183

[2016-08-01 12:18] ciarmcom commented on #1756
ARM Internal Ref: IOTMORF-184

[2016-08-01 12:18] ciarmcom commented on #1746
ARM Internal Ref: IOTMORF-185

[2016-08-01 12:18] ciarmcom commented on #1737
ARM Internal Ref: IOTMORF-187

[2016-08-01 12:18] ciarmcom commented on #1736
ARM Internal Ref: IOTMORF-188

[2016-08-01 12:18] ciarmcom commented on #1733
ARM Internal Ref: IOTMORF-189

[2016-08-01 12:18] ciarmcom commented on #1727
ARM Internal Ref: IOTMORF-190

[2016-08-01 12:18] ciarmcom commented on #1726
ARM Internal Ref: IOTMORF-191

[2016-08-01 12:19] ciarmcom commented on #1723
ARM Internal Ref: IOTMORF-192

[2016-08-01 12:19] ciarmcom commented on #1721
ARM Internal Ref: IOTMORF-193

[2016-08-01 12:19] ciarmcom commented on #1717
ARM Internal Ref: IOTMORF-194

[2016-08-01 12:19] ciarmcom commented on #1703
ARM Internal Ref: IOTMORF-195

[2016-08-01 12:19] ciarmcom commented on #1701
ARM Internal Ref: IOTMORF-196

[2016-08-01 12:19] ciarmcom commented on #1695
ARM Internal Ref: IOTMORF-197

[2016-08-01 12:19] ciarmcom commented on #1692
ARM Internal Ref: IOTMORF-198

[2016-08-01 12:19] ciarmcom commented on #1685
ARM Internal Ref: IOTMORF-199

[2016-08-01 12:19] ciarmcom commented on #1683
ARM Internal Ref: IOTMORF-200

[2016-08-01 12:19] ciarmcom commented on #1677
ARM Internal Ref: IOTMORF-201

[2016-08-01 12:20] ciarmcom commented on #1672
ARM Internal Ref: IOTMORF-202

[2016-08-01 12:20] ciarmcom commented on #1671
ARM Internal Ref: IOTMORF-203

[2016-08-01 12:20] ciarmcom commented on #1666
ARM Internal Ref: IOTMORF-204

[2016-08-01 12:20] ciarmcom commented on #1665
ARM Internal Ref: IOTMORF-205

[2016-08-01 12:20] ciarmcom commented on #1663
ARM Internal Ref: IOTMORF-206

[2016-08-01 12:20] ciarmcom commented on #1657
ARM Internal Ref: IOTMORF-207

[2016-08-01 12:20] ciarmcom commented on #1655
ARM Internal Ref: IOTMORF-208

[2016-08-01 12:20] ciarmcom commented on #1651
ARM Internal Ref: IOTMORF-209

[2016-08-01 12:20] ciarmcom commented on #1632
ARM Internal Ref: IOTMORF-210

[2016-08-01 12:21] ciarmcom commented on #1619
ARM Internal Ref: IOTMORF-211

[2016-08-01 12:21] ciarmcom commented on #1614
ARM Internal Ref: IOTMORF-212

[2016-08-01 12:21] ciarmcom commented on #1592
ARM Internal Ref: IOTMORF-214

[2016-08-01 12:21] ciarmcom commented on #1572
ARM Internal Ref: IOTMORF-215

[2016-08-01 12:22] ciarmcom commented on #1561
ARM Internal Ref: IOTMORF-216

[2016-08-01 12:22] ciarmcom commented on #1549
ARM Internal Ref: IOTMORF-217

[2016-08-01 12:22] ciarmcom commented on #1536
ARM Internal Ref: IOTMORF-218

[2016-08-01 12:22] ciarmcom commented on #1533
ARM Internal Ref: IOTMORF-219

[2016-08-01 12:22] ciarmcom commented on #1524
ARM Internal Ref: IOTMORF-220

[2016-08-01 12:22] ciarmcom commented on #1518
ARM Internal Ref: IOTMORF-221

[2016-08-01 12:22] ciarmcom commented on #1514
ARM Internal Ref: IOTMORF-222

[2016-08-01 12:22] ciarmcom commented on #1509
ARM Internal Ref: IOTMORF-223

[2016-08-01 12:22] ciarmcom commented on #1498
ARM Internal Ref: IOTMORF-224

[2016-08-01 12:23] ciarmcom commented on #1478
ARM Internal Ref: IOTMORF-225

[2016-08-01 12:23] ciarmcom commented on #1466
ARM Internal Ref: IOTMORF-226

[2016-08-01 12:23] ciarmcom commented on #1465
ARM Internal Ref: IOTMORF-227

[2016-08-01 12:23] ciarmcom commented on #1454
ARM Internal Ref: IOTMORF-228

[2016-08-01 12:23] ciarmcom commented on #1447
ARM Internal Ref: IOTMORF-229

[2016-08-01 12:24] ciarmcom commented on #1409
ARM Internal Ref: IOTMORF-230

[2016-08-01 12:24] ciarmcom commented on #1408
ARM Internal Ref: IOTMORF-231

[2016-08-01 12:24] ciarmcom commented on #1401
ARM Internal Ref: IOTMORF-232

[2016-08-01 12:24] ciarmcom commented on #1382
ARM Internal Ref: IOTMORF-233

[2016-08-01 12:24] ciarmcom commented on #1378
ARM Internal Ref: IOTMORF-234

[2016-08-01 12:24] ciarmcom commented on #1371
ARM Internal Ref: IOTMORF-235

[2016-08-01 12:25] ciarmcom commented on #1336
ARM Internal Ref: IOTMORF-236

[2016-08-01 12:25] ciarmcom commented on #1335
ARM Internal Ref: IOTMORF-237

[2016-08-01 12:25] ciarmcom commented on #1334
ARM Internal Ref: IOTMORF-238

[2016-08-01 12:25] ciarmcom commented on #1333
ARM Internal Ref: IOTMORF-239

[2016-08-01 12:25] ciarmcom commented on #1328
ARM Internal Ref: IOTMORF-240

[2016-08-01 12:25] ciarmcom commented on #1307
ARM Internal Ref: IOTMORF-241

[2016-08-01 12:26] ciarmcom commented on #1295
ARM Internal Ref: IOTMORF-242

[2016-08-01 12:26] ciarmcom commented on #1284
ARM Internal Ref: IOTMORF-243

[2016-08-01 12:26] ciarmcom commented on #1275
ARM Internal Ref: IOTMORF-244

[2016-08-01 12:26] ciarmcom commented on #1258
ARM Internal Ref: IOTMORF-245

[2016-08-01 12:26] ciarmcom commented on #1255
ARM Internal Ref: IOTMORF-246

[2016-08-01 12:26] ciarmcom commented on #1246
ARM Internal Ref: IOTMORF-247

[2016-08-01 12:26] ciarmcom commented on #1244
ARM Internal Ref: IOTMORF-248

[2016-08-01 12:26] ciarmcom commented on #1242
ARM Internal Ref: IOTMORF-249

[2016-08-01 12:27] ciarmcom commented on #1237
ARM Internal Ref: IOTMORF-250

[2016-08-01 12:27] ciarmcom commented on #1232
ARM Internal Ref: IOTMORF-251

[2016-08-01 12:27] ciarmcom commented on #1231
ARM Internal Ref: IOTMORF-252

[2016-08-01 12:27] ciarmcom commented on #1217
ARM Internal Ref: IOTMORF-253

[2016-08-01 12:27] ciarmcom commented on #1215
ARM Internal Ref: IOTMORF-254

[2016-08-01 12:27] ciarmcom commented on #1208
ARM Internal Ref: IOTMORF-255

[2016-08-01 12:27] ciarmcom commented on #1190
ARM Internal Ref: IOTMORF-256

[2016-08-01 12:28] ciarmcom commented on #1177
ARM Internal Ref: IOTMORF-257

[2016-08-01 12:28] ciarmcom commented on #1153
ARM Internal Ref: IOTMORF-258

[2016-08-01 12:28] ciarmcom commented on #1152
ARM Internal Ref: IOTMORF-259

[2016-08-01 12:28] ciarmcom commented on #1136
ARM Internal Ref: IOTMORF-260

[2016-08-01 12:28] ciarmcom commented on #1123
ARM Internal Ref: IOTMORF-261

[2016-08-01 12:29] ciarmcom commented on #1109
ARM Internal Ref: IOTMORF-262

[2016-08-01 12:29] ciarmcom commented on #1104
ARM Internal Ref: IOTMORF-263

[2016-08-01 12:29] ciarmcom commented on #1098
ARM Internal Ref: IOTMORF-264

[2016-08-01 12:29] ciarmcom commented on #1096
ARM Internal Ref: IOTMORF-265

[2016-08-01 12:29] ciarmcom commented on #1083
ARM Internal Ref: IOTMORF-266

[2016-08-01 12:29] ciarmcom commented on #1077
ARM Internal Ref: IOTMORF-267

[2016-08-01 12:29] ciarmcom commented on #1071
ARM Internal Ref: IOTMORF-268

[2016-08-01 12:29] ciarmcom commented on #1069
ARM Internal Ref: IOTMORF-269

[2016-08-01 12:29] ciarmcom commented on #1068
ARM Internal Ref: IOTMORF-270

[2016-08-01 12:29] ciarmcom commented on #1064
ARM Internal Ref: IOTMORF-271

[2016-08-01 12:30] ciarmcom commented on #1063
ARM Internal Ref: IOTMORF-272

[2016-08-01 12:30] ciarmcom commented on #1056
ARM Internal Ref: IOTMORF-273

[2016-08-01 12:30] ciarmcom commented on #1046
ARM Internal Ref: IOTMORF-274

[2016-08-01 12:30] ciarmcom commented on #1045
ARM Internal Ref: IOTMORF-275

[2016-08-01 12:30] ciarmcom commented on #1036
ARM Internal Ref: IOTMORF-276

[2016-08-01 12:30] ciarmcom commented on #1035
ARM Internal Ref: IOTMORF-277

[2016-08-01 12:30] ciarmcom commented on #1029
ARM Internal Ref: IOTMORF-278

[2016-08-01 12:30] ciarmcom commented on #1018
ARM Internal Ref: IOTMORF-279

[2016-08-01 12:31] ciarmcom commented on #1013
ARM Internal Ref: IOTMORF-280

[2016-08-01 12:31] ciarmcom commented on #1007
ARM Internal Ref: IOTMORF-281

[2016-08-01 12:31] ciarmcom commented on #970
ARM Internal Ref: IOTMORF-282

[2016-08-01 12:31] ciarmcom commented on #955
ARM Internal Ref: IOTMORF-283

[2016-08-01 12:31] ciarmcom commented on #939
ARM Internal Ref: IOTMORF-284

[2016-08-01 12:32] ciarmcom commented on #935
ARM Internal Ref: IOTMORF-285

[2016-08-01 12:32] ciarmcom commented on #927
ARM Internal Ref: IOTMORF-286

[2016-08-01 12:32] ciarmcom commented on #920
ARM Internal Ref: IOTMORF-287

[2016-08-01 12:32] ciarmcom commented on #911
ARM Internal Ref: IOTMORF-288

[2016-08-01 12:32] ciarmcom commented on #901
ARM Internal Ref: IOTMORF-289

[2016-08-01 12:32] ciarmcom commented on #899
ARM Internal Ref: IOTMORF-290

[2016-08-01 12:32] ciarmcom commented on #898
ARM Internal Ref: IOTMORF-291

[2016-08-01 12:32] ciarmcom commented on #896
ARM Internal Ref: IOTMORF-292

[2016-08-01 12:32] ciarmcom commented on #890
ARM Internal Ref: IOTMORF-293

[2016-08-01 12:33] ciarmcom commented on #888
ARM Internal Ref: IOTMORF-294

[2016-08-01 12:33] ciarmcom commented on #886
ARM Internal Ref: IOTMORF-295

[2016-08-01 12:33] ciarmcom commented on #871
ARM Internal Ref: IOTMORF-296

[2016-08-01 12:33] ciarmcom commented on #867
ARM Internal Ref: IOTMORF-297

[2016-08-01 12:33] ciarmcom commented on #859
ARM Internal Ref: IOTMORF-298

[2016-08-01 12:33] ciarmcom commented on #843
ARM Internal Ref: IOTMORF-299

[2016-08-01 12:33] ciarmcom commented on #840
ARM Internal Ref: IOTMORF-300

[2016-08-01 12:34] ciarmcom commented on #816
ARM Internal Ref: IOTMORF-301

[2016-08-01 12:34] ciarmcom commented on #807
ARM Internal Ref: IOTMORF-302

[2016-08-01 12:34] ciarmcom commented on #795
ARM Internal Ref: IOTMORF-303

[2016-08-01 12:34] ciarmcom commented on #786
ARM Internal Ref: IOTMORF-304

[2016-08-01 12:35] ciarmcom commented on #722
ARM Internal Ref: IOTMORF-305

[2016-08-01 12:35] ciarmcom commented on #707
ARM Internal Ref: IOTMORF-306

[2016-08-01 12:35] ciarmcom commented on #698
ARM Internal Ref: IOTMORF-307

[2016-08-01 12:35] ciarmcom commented on #687
ARM Internal Ref: IOTMORF-309

[2016-08-01 12:35] ciarmcom commented on #675
ARM Internal Ref: IOTMORF-310

[2016-08-01 12:35] ciarmcom commented on #666
ARM Internal Ref: IOTMORF-311

[2016-08-01 12:35] ciarmcom commented on #664
ARM Internal Ref: IOTMORF-312

[2016-08-01 12:36] ciarmcom commented on #653
ARM Internal Ref: IOTMORF-313

[2016-08-01 12:36] ciarmcom commented on #651
ARM Internal Ref: IOTMORF-314

[2016-08-01 12:36] ciarmcom commented on #599
ARM Internal Ref: IOTMORF-315

[2016-08-01 12:36] ciarmcom commented on #590
ARM Internal Ref: IOTMORF-316

[2016-08-01 12:37] ciarmcom commented on #572
ARM Internal Ref: IOTMORF-317

[2016-08-01 12:37] ciarmcom commented on #518
ARM Internal Ref: IOTMORF-318

[2016-08-01 12:37] ciarmcom commented on #506
ARM Internal Ref: IOTMORF-319

[2016-08-01 12:38] ciarmcom commented on #470
ARM Internal Ref: IOTMORF-320

[2016-08-01 12:38] ciarmcom commented on #462
ARM Internal Ref: IOTMORF-321

[2016-08-01 12:38] ciarmcom commented on #440
ARM Internal Ref: IOTMORF-322

[2016-08-01 12:38] ciarmcom commented on #438
ARM Internal Ref: IOTMORF-323

[2016-08-01 12:39] ciarmcom commented on #389
ARM Internal Ref: IOTMORF-324

[2016-08-01 12:40] ciarmcom commented on #290
ARM Internal Ref: IOTMORF-325

[2016-08-01 12:40] ciarmcom commented on #276
ARM Internal Ref: IOTMORF-326

[2016-08-01 12:40] ciarmcom commented on #243
ARM Internal Ref: IOTMORF-327

[2016-08-01 12:41] ciarmcom commented on #143
ARM Internal Ref: IOTMORF-328

[2016-08-01 12:42] ciarmcom commented on #100
ARM Internal Ref: IOTMORF-329

[2016-08-01 12:42] ciarmcom commented on #68
ARM Internal Ref: IOTMORF-330

[2016-08-01 12:43] ciarmcom commented on #53
ARM Internal Ref: IOTMORF-331

[2016-08-01 12:46] stevew817 commented on #1231
This was fixed a year ago, please close.

[2016-08-01 12:53] kiransajeev85 commented on #2251
Could you explain meaning of internal reference. Are we not able to track it here?

[2016-08-01 13:02] spsancti commented on #1018
Cool, but what to do with this ref? How may I connect it in code?

[2016-08-01 13:18] mottigondabi opened #2326 "Addition include paths (to make.py)"
The ability to define a specific file for the `mbed compile --source <path-to-file>/<file-name>.c` exist _but_ apparently there is no way to define a specific headers only folder (*.h) that will suppress *.c or *.cpp files assuming we would like to avoid using `.mbedignore` for this matter.

i.e.: `mbed compile --source main.cpp --source_incs some_path_to_folder/inner_folder`

The `--source_incs`

[2016-08-01 13:24] giulianodianda opened #2327 "NUCLEO_F303RE (maybe others) SRAM wrong size in keil startup_*****.s"
Hi,
I often run out of memory when mallocating stuff, all the times i fixed the correct SRAM size (btw online compiler doesn't allow to edit the .s, needs to delete and import a fixed one), maybe it's time to open an issue:

https://github.com/ARMmbed/mbed-os/blob/master/hal/targets/cmsis/TARGET_STM/TARGET_STM32F3/TARGET_NUCLEO_F303RE/TOOLCHAIN_ARM_MICRO/startup_stm32f303xe.S#L54

https://github.c

[2016-08-01 14:27] apullin commented on #1069
I believe this is fixed in a newer version or a wrapper library somewhere. A colleague used the "RPCInterface" library with success much more recently, as seen here:
https://github.com/biomimetics/mbed_zumy/tree/master/RPCInterface

Still, cleanup of historical artifacts of RPC (documentation, libraries in mbed IDE, namespaces, code org, etc) should be done if mbed/ARM is committing to this as a s

[2016-08-01 16:06] ciarmcom commented on #2327
ARM Internal Ref: IOTMORF-346

[2016-08-01 16:06] ciarmcom commented on #2326
ARM Internal Ref: IOTMORF-347

[2016-08-01 16:54] geky commented on #1663
Hi @Dieter-Graef, if I'm reading the cmsis docs ([here](https://www.keil.com/pack/doc/cmsis/RTOS/html/group___c_m_s_i_s___r_t_o_s___message.html#ga6c6892b8f2296cca6becd57ca2d7e1ae)) correctly, osOK is the status code for when no message is available and the timeout is zero.

Looking at the lwip documentation ([here](https://github.com/ARMmbed/mbed-os/blob/master/features/net/FEATURE_IPV4/lwip-inte

[2016-08-01 18:00] helmut64 commented on #1746
I fixed it and tested it. See #2328

[2016-08-02 08:18] TaniaMirzin opened #2334 "Unable to work with reconnected Ethernet interface"
@jenia81
@bogdanm
In our tests we unable to work properly using reconnected Ethernet interface :
EthernetInterface ifaceHandler;
ifaceHandler.connect();
ifaceHandler.disconnect();

if I will call
ifaceHandler.connect();
again it will not work properly, even if I set to zero ifaceHandler.

[2016-08-02 08:28] bogdanm commented on #2334
@geky

[2016-08-02 08:45] javier-moreno-tridonic-com opened #2335 "Intended project structure"
Hi there,

We are doing our first attempt to port our current software to mbed5. The way we understood it, the new configuration would allow us to configure a new target per final product that could inherit from the platform target.

The initial idea was to translate all our old private yotta modules with different functionalities into "FEATURE_" folders. This way we could select the appropriate f

[2016-08-02 08:56] javier-moreno-tridonic-com commented on #2335
Also could be interesting that features define macros (e.g. #define MBED_FEATURE_IPV4) this way we could differentiate with #ifdef directives when necessary.

[2016-08-02 09:38] bulislaw opened #2336 "RZ_A1H binaries generated on Linux and OSX don't work mbed-os-5.1.0-rc4"
Board: RZ_A1H
Version: mbed-os-5.1.0-rc4
OS: Linux/OSX
Toolchain: GCC and ARM

I've tried multiple examples, they compile just fine, but when I flash them, the board doesn't do anything. It seem that they are actually flashed (LED is blinking), then the board reboots, but it doesn't seem to be doing anything (depending on example e.g. no serial output or user led blinking), but the power LED is on

[2016-08-02 10:48] bulislaw commented on #2293
OS: OSX
Toolchain: GCC
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc4
[code]

[2016-08-02 12:03] ciarmcom commented on #2336
ARM Internal Ref: IOTMORF-358

[2016-08-02 12:03] ciarmcom commented on #2335
ARM Internal Ref: IOTMORF-359

[2016-08-02 12:03] ciarmcom commented on #2334
ARM Internal Ref: IOTMORF-360

[2016-08-02 12:22] bogdanm commented on #2270
@pan-: any update on this?

[2016-08-02 12:34] AlessandroA commented on #2320
I agree that playing with the core name in the build system is not the right way to do it.

In uVisor we disable native FPU instructions because they change the exception behavior in a way which we do not support yet.

It would be useful to have a build option or configuration override to switch between "with" and "without native FPU instructions" (`soft` vs `softfp`/`hardfp` in GCC).

The build s

[2016-08-02 13:49] bogdanm commented on #2313
Same here: I can't reproduce with uVision 5.20 (using mbed-os RC4). @sunsmilearm, please provide more reproducibility instructions.

[2016-08-02 15:02] neilt6 commented on #2310
@anpilog - You suggested that `lock()`/`unlock()` should only be used by the user, since using them on a per-method level only protects register accesses and not the entire transaction. This is not the case, since the underlying mutex implementation supports nesting (i.e. it counts how many times it's been locked).

### Example
[code]

[2016-08-02 15:30] c1728p9 commented on #2286
I can confirm that this runs on windows.

[2016-08-02 15:32] c1728p9 commented on #2286
[test_f429_68d48ea5412be1f94a1e67afb7d008d80048abc7.txt](https://github.com/ARMmbed/mbed-os/files/397383/test_f429_68d48ea5412be1f94a1e67afb7d008d80048abc7.txt)

Windows test results attached

[2016-08-02 15:33] ohagendorf commented on #2313
I've already had very strange behaviour, exporting something to uvision4 and using the project in uvision5. I think, the conversion procedure in uvision5 when opening old project files has some problems. But the uvision5 exporter is ready to use. So there is no reason to use uvision4 exported projects in uvision5.

[2016-08-02 15:44] bridadan commented on #2336
@bulislaw If you take the binary that you compiled on Linux/OSX and flash them on a Windows machine, does that work correctly? It's possible that there was an issue during the flashing process even though things appeared to work correctly.

[2016-08-02 15:58] bulislaw commented on #2336
@bridadan I don't have windows so hard to try that. But when I take the binary from (https://developer.mbed.org/platforms/VK-RZA1H/) and flash it from Mac/Linux it works fine.

[2016-08-02 16:16] bridadan commented on #2336
Ah I see. It is possible that the size of the binary is causing issues when flashing. I've seen this before on Mac at least with older firmwares. That's why I was curious to see if the built binary you have works when flashed on Windows for that platform. If the `VK-RZ/A1H` is like the `RZ_A1H`, then it uses CMSIS-DAP and not DAPLink. CMSIS-DAP was most tested on Windows, so its possible this is t

[2016-08-02 16:20] bulislaw commented on #2336
I'm quite sure it's the same, I have both designation printed on the board.

[2016-08-02 16:28] bridadan commented on #2336
Oh sorry, I think what I said previously was confusing. I'm sure you have the right board! I'm just wondering what version of interface firmware the board uses. I know the `RZ_A1H` (GR-PEACH) platform uses CMSIS-DAP, which is a fairly old release of the firmware that can have issues on Linux and Mac. I don't know if the `VK-RZ/A1H` board you have uses a similar version of the firmware, but if it d

[2016-08-02 17:57] #2272 closed

[2016-08-02 18:36] geky commented on #2334
Hi @TaniaMirzin, thanks for reporting this. https://github.com/ARMmbed/mbed-os/pull/2343 should fix this, let me know there is still a problem.

[2016-08-02 20:02] sarahmarshy opened #2344 "[Exporters] Duplicate file names in IAR"
This is the exact error when building in IAR after calling the mbed export command for K64F:

[code]

[2016-08-02 20:31] bridadan commented on #2296
@bulislaw I unfortunately don't have one of these targets to test with. Is there any chance you have the verbose output log of this? It can be ran with `mbed test -v`.

[2016-08-02 21:01] sarahmarshy commented on #2344
Would it be possible to add the macros to mbed_config.h? It is already preincluded.

[2016-08-02 22:04] #2334 closed

[2016-08-02 22:05] #2312 closed

[2016-08-03 01:50] #2236 closed

[2016-08-03 04:18] #2270 closed

[2016-08-03 04:28] sg- opened #2350 "target.public needs rename"
This is quite a bit misleading. We should rename this to something more intuitive.

"public" is a bit misleading here. Seems it should be something like "inheritable", "protected", etc.. I'm sure there are OO descriptions that better describe what and how its used.

https://github.com/ARMmbed/mbed-os/pull/2314

[2016-08-03 05:12] toyowata commented on #2336
```VK-RZ/A1H``` has same chip as ```RZ_A1H```, but different memory configuration.  The binary for the ```VK-RZ/A1H``` should not work on the ```RZ_A1H``` (GR-PEACH).

[2016-08-03 07:37] anpilog commented on #2310
Had to go down to rt_Mutex.c to get it.
Looks good to me!

[2016-08-03 07:59] #2310 closed

[2016-08-03 08:36] bulislaw commented on #2296
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc5
[code]

[2016-08-03 08:36] bulislaw commented on #2296
@bridadan sure will do that later.

[2016-08-03 10:13] bulislaw commented on #2336
Ok, my bad. It seems that my board has both `VK-RZ/A1H` and `RZ_A1H` markings on it, but it only works with the former one as @toyowata mentioned. Closing.

[2016-08-03 10:13] #2336 closed

[2016-08-03 11:13] J-Dunn opened #2353 "All links in MBED hand book are now broken by renaming git hub project."
https://developer.mbed.org/handbook/mbed-SDK-porting

eg.
https://github.com/mbedmicro/mbed/blob/master/libraries/mbed/hal/gpio_api.h

[2016-08-03 11:35] svastm commented on #2327
Hello,
Thanks for reporting this issue and the fix. I will check the other targets and open a new issue if I find something.

[2016-08-03 13:57] porkybrain commented on #2242
I wonder what `ARM Internal Ref: IOTMORF-118` means, if you guys are serious about removing race conditions I would be glad to offer some pointers, I have stopped reporting most of them because no one seemed to be interested up 'till now. The USB stack for example is full of them, many which actually occur in typical user code on a regular basis.

[2016-08-03 14:34] bulislaw commented on #2299
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc5
[code]

[2016-08-03 16:28] bulislaw commented on #2288
Version: https://github.com/mbedmicro/mbed/releases/tag/mbed-os-5.1.0-rc5
[code]

[2016-08-03 19:02] bridadan commented on #2286
Thanks @c1728p9, I'm fine with closing this issue then since this seems to be an issue between the interface firmware and the OS.

[2016-08-03 20:35] sarahmarshy opened #2360 "[IAR Compile] IAR path not found, unreadable error"
When compiling the [border router](https://github.com/ARMmbed/k64f-border-router) example with IAR:

[code]
It isn't using my  corrrect IAR path (my fault for not setting it in mbed_settings). I just think there should be a better error than this

[2016-08-04 00:18] #2286 closed

[2016-08-04 00:31] sg- commented on #2325
@0xc0170 @bogdanm I thought 7.4 was suppose to work with our existing template?

[2016-08-04 07:30] bogdanm commented on #2325
That was my understanding too, yes ...

[2016-08-04 07:51] adamelhakham opened #2369 "DNS failure when trying to get ip of local host"
When running the following code:

	EthernetInterface ifaceHandler;
	char address[] = "prov-dev.kfn.arm.com";//" this is a local host, running in ARM network with IP 10.45.51.47"
	uint16_t port = 5683;
	SocketAddress *addr;
	const char *ipGet;

	ifaceHandler.connect();

	addr = new SocketAddress(&ifaceHandler, address, port);

	ipGet = addr->get_ip_address();

	printf("ip is: %s\n", ipGet);

the me

[2016-08-04 10:08] BlackstoneEngineering opened #2370 "exporter listing improvements"
## Problem

It is very hard to figure out what exporters are supported by a single board in the mbed-cli toolset.
#### Use case

I have a board plugged in, example code imported, and I want to export to a IDE to debug. I know the export command exists, but how do I know what exporters I can use? Currently I have to type `mbed export -i UVISION4 --supported` to get a list of all boards that uvision

[2016-08-04 10:25] mottigondabi opened #2371 "using --source for header files"
Compiling a library by using a full path-to-file for each c / cpp / h result in a "some-header-file.h: No such file or directory" error although some-header-file.h exists in the --source list.

(copied from https://github.com/ARMmbed/mbed-cli/issues/313)

i.e.:
mbed compile --library --artifact-name oma -t GCC_ARM -m K64F -DTARGET_LIKE_FRDM_K64F_GCC -o debug-info -DDEBUG -DSA_PV_LOG_LEVEL=SA_PV_LO

[2016-08-04 13:51] ConorPKeegan opened #2374 "Issue when using compile after building from IAR Workbench"
When trying to compile an example using `mbed compile -m NUCLEO_F746ZG -t ARM`, errors occur due to the files in the `projectfiles/iar_NUCLEO_F746ZG` also being linked. This causes the compilation to fail.

Copy of ARMmbed/mbed-cli#317

# To reproduce error
* Have the project exported to IAR using `mbed export -m NUCLEO_F746ZG -i IAR`
* Build the project inside of IAR Workbench
* Try to compile th

[2016-08-04 14:53] bridadan commented on #2369
cc @sarahmarshy @geky

[2016-08-04 15:32] geky commented on #2369
Hi @adamelhakham, thanks for reporting this. This would be caused by not using DNS servers supplied by DHCP acknowledgement. This required a bit of tweaking internal to the network-socket API. I should be able to have a fix up soon.

[2016-08-04 15:33] geky commented on #2370
cc @theotherjimmy who I believe has looked into this before

[2016-08-04 15:43] theotherjimmy commented on #2370
That's completely reasonable

There is also an implicit toolchain and possibly an implicit IDE. This makes it ambiguous which one should implicitly be picked up.

Yup, also completely possible

Good luck.

[2016-08-04 15:44] theotherjimmy commented on #2370
We could also extend some of the error messages to tell the user to run `mbed export -m <foo> --supported` or `mbed export -i <bar> --supported` when we run into an unsupported target, ide combination.

[2016-08-04 15:50] theotherjimmy commented on #2370
Both mbed-cli and the mbed tools need to be messed with to make this happen. https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L2126 needs to take the `-m` and the `-i` into account, and https://github.com/ARMmbed/mbed-os/blob/master/tools/project.py#L103 also needs to take the `-m` and the `-i` into account.

[2016-08-04 17:23] sg- commented on #2327
Thanks for the note about online IDE - this will be fixed 👍

[2016-08-05 03:51] sg- commented on #2344
Can you create a template project for a simple blinky (an example from IAR) and lets try to see if any path is preserved and if so how much.

So create
start.asm
start.c
start.cpp

see if this builds. If so start extending paths until it doesn't. Once we better understand the behavior we can have a chat with IAR

[2016-08-05 15:42] sarahmarshy commented on #2344
These 3 files in the same directory do not build.

Using only two files of the same name for mobility:

Moving one of the files to an entirely separate drive does not build.

[2016-08-07 14:38] jacobrosenthal opened #2383 "All ble targets _BOOT and _OTA fail on greentea"
[code]

[2016-08-07 15:00] jacobrosenthal commented on #2383
Seems like maybe those arent supposed to be directly usable targets? Can I just add them as a second inherited target to the main target then? Then would one create a new target inheriting both without editing targets.json?

I had them offered up on the command line as seemingly valid options by:
[code]

[2016-08-07 18:34] duff2013 commented on #2118
I forked a copy [here](https://github.com/duff2013/mbed-os) and made the fix referenced in this issue and was able to compile and upload the blinky example for the Teensy 3.2. It seems to work as expected, i even added second Thread to the blinky example and it worked too.

[2016-08-08 07:38] 0xc0170 commented on #2374
I assume projectfiles folder is not excluded by exporters. We shall have a look and fix this, might be valid for all tools

[2016-08-08 08:55] janjongboom opened #2385 "mbed-os-example-uvisor produces broken .bin file against 5.1, but not 5.0-rc5"
From https://forums.mbed.com/t/mbed-os-example-uvisor-problem-with-mbed-os-5-1-0/1758

I'm on an OS X box, and cannot build a working mbed-os-example-uvisor if I use the latest mbed os which is currently 5.1.0. I'm using a FRDM-K64F board.

This results is a broken .bin which won't run:

mbed import https://github.com/ARMmbed/mbed-os-example-uvisor
cd mbed-os-example-uvisor
mbed compile -m K64F -t

[2016-08-08 08:59] janjongboom commented on #1478
Think this can be closed as #1679 was merged...

[2016-08-08 09:29] 0xc0170 commented on #2325
It shall, I tested K22F 10 days ago and FPU was properly set. I'll continue investigating , I believe @sarahmarshy already looked at it, as she mentioned it in the other issue, I was not aware this is still an issue.

[2016-08-08 09:51] 0xc0170 commented on #2325
I got 7.40.2 and its working for K22 and NUCLEO_F411RE. I am testing it with project.py for MBED_10. hard to believe that between 7.40.2 and 7.40.7 there was a change for FPU.

[2016-08-08 10:58] 0xc0170 commented on #2360
Please set properly the name of the issue.

+1

If we can check if paths are correctly set - check if a compiler returns something valid for instance for armcc it is a product version with some other information.

[2016-08-08 11:02] 0xc0170 commented on #2325
I installed 7.40.7 and as stated in another issue about FPU, seems like even lower version (7.40.7) contains a breaking change for FPU. When a target uses FPU2 (new FPU settings). From the release notes, it seems that from version 7.40.2 up it's FPU2 (cortex m7 FPU double precision addition). I don't understand their versioning to include this type of update within a patch version.

I think it's t

[2016-08-08 11:11] 0xc0170 commented on #2385
cc @AlessandroA @meriac

[2016-08-08 12:30] AlessandroA commented on #2385
Commit 88564a9ac37d4e65ce13b01eda7cdf7270a33129 seems to be introducing the regression (found with `git bisect`).

If you run `mbed compile -m K64F -t GCC_ARM -vv` and check the output for the startup ASM file:

[code]

it looks like the command line does not define explicitly `FETURE_UVISOR` and `TARGET_UVISOR_SUPPORTED`. These 2 symbols should be triggered by the config file `mbed_app.json`.

If

[2016-08-08 12:42] pan- commented on #2383
NRF51 targets with only 16K of RAM are not supported on mbed OS 5 but still are on mbed OS 2.
Greentea is a a feature of mbed OS 5 not 2.

Nevertheless, it is strange to say the less that you have an error  in this area.
After a quick look in `hal/targets.json`, it appears that the device target capabilities are correctly defined for the `SEEED_TINY_BLE` [target](https://github.com/ARMmbed/mbed-os

[2016-08-08 15:05] LiyouZhou opened #2388 "Compile error on latest mbed-os with FEATURE_CLIENT enabled"
Steps to reproduce:

[code]
Error
[code]

mbed-os version: `https://github.com/ARMmbed/mbed-os/#0712b8adf6bbc7eb796d5dac26f95d79d40745ef`
mbed-cli version: 0.9.1

[2016-08-08 16:00] sg- commented on #2385
@janjongboom @AlessandroA for now adding ```FEATURE_UVISOR``` and ```TARGET_UVISOR_SUPPORTED``` in a macros_add you should be able to continue. We need to update docs and better define what emits a -D and what is used for directory scanning in the build system. These 2 should not be treated the same as they currently are.

[2016-08-08 16:11] bridadan commented on #2360
The funny thing is we actually do check to see if the path exists for the environment variables (ex `MBED_IAR_PATH`), just not for `mbed_settings.py`: https://github.com/ARMmbed/mbed-os/blob/master/tools/settings.py#L80

Seems like this wouldn't be that too hard of a change!

[2016-08-08 16:24] jenia81 opened #2389 "Failure sending data over UDP blocking socket"
The following scenario fails:
1. Create UDP blocking socket
2. Set timeout to the socket
3. Try to receive message on UDP socket. If no message was sent, **recvfrom()** will fail with NSAPI_ERROR_WOULD_BLOCK error.
4. Try to send message on UDP socket. The **sendto()** will fail with NSAPI_ERROR_PARAMETER error.

Attached is sample app that recreates this problem (rename it to .cpp)
[udp_socket_ex

[2016-08-08 16:24] jenia81 commented on #2389
@trianglee
@sg-

[2016-08-08 16:25] bridadan commented on #2383
@jacobrosenthal Thanks for reporting this!

@pan- I noticed this as well, I'm guessing this just got removed at some point. Sounds like it'd be a simple fix!

[2016-08-08 17:51] thelme opened #2390 "Add Support For Discovery F411 with the STM32F411VET6"
Could you add mbed Support For Discovery F411 board ?

[2016-08-08 18:23] sg- commented on #2389
@geky

[2016-08-08 19:05] geky commented on #2389
Hi Jenia, thanks for reporting this issue.

The NSAPI_ERROR_PARAMETER is actually the expected behavior. The recvfrom function modifies the SocketAddress in place, if a recvfrom call fails the SocketAddress is set to null (represented as “0.0.0.0”). The following sendto call fails with NSAPI_ERROR_PARAMETER because the address “0.0.0.0” is an invalid IP address.

The address argument to the recvfr

[2016-08-08 22:12] hasnainvirk commented on #2389
@jenia81 I think I have found the culprit here. There is nothing wrong with APIs. I itested with the code provided by you with a simple python UDP server running on my home machine. The only issue I found was that the ARM machine (office laptop) firewall was blocking my traffic. So I ran the UDP server on my personal machine and made sure that the socket was opened.

I would also suggest you to us

[2016-08-09 08:13] tommikas commented on #2091
In this case though, while recv() doesn't transfer more than 1460 bytes, send() happily sends more than that. This small inconsistency makes it that little bit more confusing.

Second that. The behaviour itself is fine, as long as it's clearly documented.

(For example the [mbed OS 2.0 socket API defined both send/recv and sendall/recvall](https://developer.mbed.org/users/mbed_official/code/Socket

[2016-08-09 08:13] jenia81 commented on #2389
@geky
Using NULL parameter in recvfrom() function indeed solved the problem.
By the way, the same code worked with previous mbed-os I worked with (with socketAddress parameter).
I have another question though, I want to check that the received packet was sent from the address that I expect (the one that I send data to).
Is there any API you expose that can tell me from which IP the received packed

[2016-08-09 08:21] bogdanm commented on #2091
I don't think they're supposed to be able to send or receive the exact same number of bytes in a single call. The only thing that doeesn't change is: call send/recv with the size of your buffer, verify the return value, keep on sending/receiving your buffer until you're done.

[2016-08-09 08:30] geky commented on #2389
Glad it worked for you.

Unfortunately, in previous versions of mbed-os the state of the address after a failed recvfrom was undefined. Most network interfaces didn’t bother to modify the address until an actual packet had arrived, so the code would usually work. Imagine what would happen if I sent a random packet to the port you happened to be listening on, the original address would be lost. The

[2016-08-09 08:33] hasnainvirk commented on #2389
@jenia81 Yup I understood that. That's why if you notice, I changed the pattern of calls in your code and mentioned it in the comment that this is an example of showing you that it works.

[2016-08-09 08:34] hasnainvirk commented on #2389
@jenia81 Can you please close this issue then if you are happy with the discussion ?

[2016-08-09 08:35] markus-becker-tridonic-com opened #2396 "Please update mbed-os to have stdio baud rate configurable"
Moved from https://github.com/ARMmbed/mbed-os-example-blinky/issues/23

[2016-08-09 08:37] markus-becker-tridonic-com commented on #2396
Small a example as requested:

main.cpp:
[code]

mbed_app.json
[code]

[2016-08-09 08:38] markus-becker-tridonic-com commented on #2396
Results in:

BAD:
* Without output.baudrate(115200)
* With config core stdio-baud-rate 115200
* Terminal configured for 9600
output.printf()<\n>
printf<\n>
<\r><27>[2K<27>[90m[DBG ][stdio]: tr_debug<\n>
<27>[0m<\n>
output.printf()2<\n>
printf2<\n>
--> Should be terminal configured for 115200.

GOOD:
* With output.baudrate(115200)
* With config core stdio-baud-rate 115200
* Terminal configured for

[2016-08-09 08:40] markus-becker-tridonic-com commented on #2396
Additionally when debugging mbed-mesh-api you get mixed 9600 and 115200 output.

[2016-08-09 08:59] 0xc0170 commented on #2390
cc @bcostm @adustm @LMESTM

[2016-08-09 09:00] 0xc0170 commented on #2388
cc @yogpan01

[2016-08-09 09:28] LiyouZhou commented on #2388
It seems I need to add "FEATURE_COMMON_PAL" in the target features list. `Scan: FEATURE_COMMON_PAL` was printed but it did not actually get scanned.

[2016-08-09 10:28] AlessandroA opened #2397 "[tools] Compiling tests produces an empty config for the test sources"
If you have the following setup:

[code]

and try to compile the tests with:

[code]

The file `~/some_folder/TESTS/test_group/test_case/main.cpp` will see an empty config (empty `mbed_config.h` file), despite `mbed_app.json` being there.

**Proposed solution**

I think the issue is in `tools/toolchains/__init__.py`. When multiple sources of config data are possible, and all of them are empty/non-

[2016-08-09 10:42] AlessandroA commented on #2397
Also, if I fix this locally, I notice the top-level config (`mbed_app.json`) is not included in the compilation of the test case. Probably a new issue to file? @sg-

[2016-08-09 11:36] tommikas commented on #2091
Sure, like I said the behaviour itself is fine, it's just the documentation that could do with some fine-tuning. Otherwise both me and @jenia81 (and others later if not yet) wouldn't have ended up wondering about the same thing.

(By the way, the documentation for both calls is so similar that the description of recv states that "recv blocks until data is _sent_". A copy-paste error perhaps?)

[2016-08-09 12:18] tommikas opened #2399 "How to retrieve the remote host's IP for a TCP connection on the server side?"
I.e. after using a TCPServer instance to accept a new TCP connection, how can I retrieve the IP of the remote host? Looking at Socket, TCPServer and TCPSocket classes there doesn't seem to be an obvious mechanism for it.

[2016-08-09 12:33] markus-becker-tridonic-com commented on #2335
@marcelosalazar

[2016-08-09 12:33] markus-becker-tridonic-com commented on #2396
@marcelosalazar

[2016-08-09 13:32] jenia81 commented on #2389
@geky I've added the code you suggested and it works now.
Closing the issue.
Thanks!

[2016-08-09 13:32] #2389 closed

[2016-08-09 14:02] MarceloSalazar commented on #2335
@bogdanm could you please have a look to this?

[2016-08-09 14:11] 0xc0170 commented on #2399
cc @geky

[2016-08-09 14:13] 0xc0170 commented on #2311
Any update to this issue?

[2016-08-09 14:17] 0xc0170 commented on #2313
@sunsmilearm Without further information how to reproduce, we will close this issue.

[2016-08-09 14:25] 0xc0170 commented on #2320
+1

We had ``fpu`` as part of the target configuration, that could be ``none``, ``single`` or ``double``. but was reverted as someone objected it was too big change for something that could be solved via target suffixes. Does ``soft/fp or hardfp`` make more sense? I dont recall those options are available for tools like uvision and IAR (most of them provide either enabled or disabled, because of c

[2016-08-09 14:55] bridadan commented on #2397
@AlessandroA That's an interesting point about the top-level config not being included in the test case compilation. I would actually *expect* this to be the case, as the application shouldn't really affect the compilation of the test cases (and in fact we still don't really have a good way of allowing applications and tests to live side-by-side). Can I ask what is your use case?

[2016-08-09 15:07] 0xc0170 commented on #2353
Thanks for reporting, I'll fix that quickly now

[2016-08-09 15:23] 0xc0170 commented on #2344
As I experienced some tools flatten the build directory, they create object files based on the filename, therefore two or more files with the same filename result in the error. I experienced this with coide and IAR. IAR does not take paths to the equation at all.

[2016-08-09 15:23] 0xc0170 commented on #2353
I updated links in https://developer.mbed.org/handbook/mbed-SDK-porting plus some other details like target.json file

[2016-08-09 15:23] 0xc0170 commented on #2353
I'll close this issue, please reopen or comment if there's still any broken link there

[2016-08-09 15:23] #2353 closed

[2016-08-09 15:25] yogpan01 commented on #2311
This issue should be now fixed, example client was using stringstream for some string operations, which was pulling in the std::locale, that has been removed and hence you should not see the locale being part of the ROM code size anymore.
Can you please confirm and close this issue ?

[2016-08-09 15:26] 0xc0170 commented on #2350
@bogdanm Proposals? ``private`` ?

[2016-08-09 15:27] 0xc0170 commented on #2311
@MarceloSalazar @markus-becker-tridonic-com please verify

[2016-08-09 15:32] 0xc0170 commented on #2323
@zgoda What are you proposing, that a script should fail ,not even trying to compile sources? The build system does not have currently a clue if rtos is supported for a platform or not, that one is in the rtos sources encoded (will be moved to configuration system most probably, the we can check if its supported or not).

cc @bridadan @theotherjimmy

[2016-08-09 15:35] 0xc0170 commented on #2326
I would propose ``--includes`` , as we got ``--sources``, and includes could be either a path or a file.

[2016-08-09 15:38] 0xc0170 commented on #2324
Does that mean that you workaround the issue by using ``__disable_irq`` ? I would recommend using ``core_util_critical_section_enter/exit``. Apart from it, what does it mean broken?

I would like to know what we should reproduce . The output without disabled irq and with disabled irq.  any other toolchain is ok , only gcc arm ?

[2016-08-09 15:53] bogdanm commented on #2326
I'm not sure why we aren't considering a `--source` directory to also be an include directory. This would be consistent with the way our scanner works.

[2016-08-09 15:57] bogdanm commented on #2350
I'd vote for `internal`.

[2016-08-09 15:59] bridadan commented on #2326
It sounds like the feature request here is to be able to include a folder but only allow certain types of files to be included? Maybe instead of creating a `--include`, we could just add globing support to `--source`? So something like `--source=myproj/source/*.h` ?

[2016-08-09 16:02] theotherjimmy commented on #2326
@bogdanm We are. This is a feature request to have a `--source` like argument that only searches for includes.

[2016-08-09 16:03] bridadan commented on #2326
@mottigondabi Is there a reason the source is organized in this way? It seems like a very unusual use case. It seems like the quickest way forward would be to just move the `.h` files into a separate folder and include that.

[2016-08-09 16:06] 0xc0170 commented on #2350
+1, Let's do it.

[2016-08-09 16:11] bogdanm commented on #2326
Sorry, I've apparently mistaken this with another issue.

[2016-08-09 16:16] geky commented on #2399
This is a good question, and by good question, I mean this is a **good** question.

Most uses of the TCP server generally don't care where the incoming connection is from, so no one must have ran into this requirement yet. Thanks for raising the issue, as this functionality should be available.

Fortunately, this will be an easy API change to make, through overloading the TCPServer accept method:

[2016-08-09 18:39] bridadan commented on #2323
@zgoda Thanks for bringing up this issue.

I should give a little background on this script and how it relates to the other build scripts in the tools.

Before this script, there was `build_release.py`. This was (and is) used to create binary releases for developer.mbed.org. It just compiles the HAL (no RTOS) for a list of targets and toolchains and packages it up into a library. When we first sta

[2016-08-09 20:11] sarahmarshy opened #2403 ". ."

[2016-08-09 20:11] #2403 closed

[2016-08-09 20:12] theotherjimmy commented on #2403
...

[2016-08-09 20:20] bogdanm commented on #2403
.. -. - . .-. . ... - .. -. --.

[2016-08-09 20:29] sarahmarshy commented on #2403
PROTIP: ```cd ..```  creates a new issue titled '..'

[2016-08-09 20:30] sarahmarshy commented on #2403
Github is cruel...

[2016-08-09 20:32] c1728p9 commented on #2403
-... --- --. -.. .- -. -- / -.. --- / -.-- --- ..- / .-. . .- .-.. .-.. -.-- / -.- -. --- .-- / -- --- .-. ... . / -.-. --- -.. . / --- .-. / -.. .. -.. / -.-- --- ..- / .--- ..- ... - / ..- ... . / .- / - .-. .- -. ... .-.. .- - --- .-.

[2016-08-09 20:33] bridadan commented on #2403
Can you attach the verbose log for this? I'm having trouble reproducing locally...

[2016-08-09 20:35] sarahmarshy commented on #2403
@bridadan I ran this sequence of commands on ubuntu 16.04:
[code]

[2016-08-09 20:36] bridadan commented on #2403
Ok, going to try that now. Will report back with what I find.

[2016-08-09 20:36] geky commented on #2403
Ah, there's your issue

There has been a recent patch to the bash builtins, you will need to add --no-preserve-root like so:
[code]

[2016-08-09 22:21] sarahmarshy commented on #2325
@0xc0170 I have version 7.40.3, and I was able to replicate this issue. I will see if the new FPU settings are backwards compatible.

[2016-08-10 01:32] ccli8 commented on #2324
@0xc0170 With gcc arm toolchain, you can reproduce the issue by just running the code snippet. Program will trap in ``localtime`` with ``__disable_irq`` in front. With arm toolchain instead, it is OK.
[code]
Substituting ``core_util_critical_section_enter`` for ``__disable_irq`` doesn't help because ``core_util_critical_section_enter`` calls ``__disable_irq`` and program traps as above. The preced

[2016-08-10 04:12] mbains opened #2406 ""no target defined" error when building NUCLEO_F042K6 with GCC_ARM"
Unable to build basic blinky for NUCLEO_F042K6 with offline mbed-cli (v0.9.1)

Steps to reproduce:
1. `mbed import mbed-os-example-blinky`
2. `cd mbed-os-example-blink`
3. `mbed compile -t GCC_ARM -m NUCLEO_F042K6  -v`

[code]

**I'm using gcc version 5.2.1 20151202 and mbed-cli 0.9.1 installed with pip**

[2016-08-10 07:09] tommikas commented on #2399
Cool :) That looks fine.

[2016-08-10 07:11] 0xc0170 commented on #2406
Target ``NUCLEO_F042K6`` is not supported by rtos.

cc @bcostm @adustm @LMESTM

[2016-08-10 07:25] 0xc0170 commented on #2325
IAR is not backward compatible, that's not their intention. The new project does not open in the older versions, only forward compatible. That's my experience. Thus FPU2 (new FPU settings) won't open in the older versions (error shown about a project created by a newer version of IAR, something like that). Many projects when they release their code, they ship with updated projects for newer tools

[2016-08-10 07:47] MarceloSalazar opened #2407 "[Feature request] uninit function in HAL to disable a peripheral"
_Feature request_

Use case:

As developer, I want to develop low-power applications that make the best usage of the battery in the system.
In many situations, it's common to leave an MCU in sleep/low-power state for long periods of time.
For example, if an ADC is used while the MCU is turned on, the developer has to make sure the ADC is turned off before the device goes to sleep.

At the moment,

[2016-08-10 08:45] kudangun opened #2408 "TCPServer.bind fails sometimes"
I create a TCPServer and TCPSocket.
call server.open(), server.bind(port), server.listen(1) and server.accept().
Everything works OK. When i detect that the remote host closed its socket, i close() and delete my socket and then close() and delete the server. Then I start over - creating server and socket, open,bind etc.
Sometimes, after a few such iterations, server.bind(port) fails with status -3

[2016-08-10 09:37] infinnovation commented on #2399
I've just come across the same issue while trying to migrate applications from mbed classic (using the separate EthernetInterface library) to mbed os 5.

Adding support would also surely require a change to the underlying nsapi layer (and therefore the several stack implementations), since the socket_accept method does not pass any address information.

[2016-08-10 10:01] 0xc0170 commented on #2408
cc @geky

[2016-08-10 11:23] javier-moreno-tridonic-com opened #2411 "OS can break the compilation"
Trying to resolve this [issue](https://github.com/ARMmbed/mbed-os-example-client/issues/37) and thanks to @hasnainvirk we saw that when compiling some examples, the #include directives resolution has different behaviours in linux and windows. This is mainly caused by names that will be considered as different by linux and not by windows.

For instance the file thread.h that is part of the **sal-st

[2016-08-10 12:08] LiyouZhou opened #2412 "does not recompile when command line changed."
I added `-o debug-info` to `mbed compile` It did not recompile things.

[2016-08-10 12:16] AlessandroA commented on #2397
@bridadan Yes it's true, a top-level `mbed_app.json` should not be seen automatically by test cases as that might be an app-specific config file.

My use case is one where I have the following layout:

[code]

I currently run `mbed test` in the `uvisor-tests` folder above. This in turn builds the `mbed-os` and `common-utilities` libraries, and then builds the `test_case`, linking those libraries i

[2016-08-10 12:37] MarceloSalazar commented on #2411
@screamerbg @sg- can you look into this please?

[2016-08-10 14:20] AlessandroA commented on #2320
I think that single vs. double FPU is orthogonal to this. The switch I'm proposing allows to choose between "hardware FPU instructions" and "software-emulated FPU instructions". All toolchains should support this out of the box.

Just for reference: Both `softfp` vs `hardfp` imply the use of hardware FPU instructions. The only difference is in the resulting ABI conventions:

If this additional cho

[2016-08-10 14:23] bogdanm commented on #2320
While that's true, we need to take into consideration the implications that such a change would have on our binary releases (SDK, nanostack...). It's not impossible to do, but it might be a bit more difficult than it appears to be.

[2016-08-10 15:03] bridadan commented on #2397
@AlessandroA Is this configuration only valid when common-utilities is present? In that case, could you use and `mbed_lib.json` instead inside of that directory? [Here's the docs page](https://github.com/ARMmbed/mbed-os/blob/master/docs/config_system.md#configuration-data-in-libraries).

Or is that too limited? If so, could you detail what config options need to be set in your use case that can't

[2016-08-10 15:43] mbains commented on #2406
@0xc0170 Thanks. I should have read the release notes :-)
Any unofficial estimate of when it might get put in?

[2016-08-10 16:13] AlessandroA commented on #2320
Yes definitely, but that makes the point even more important. If a binary lib has been compiled with `softfp`, then it uses the hw FPU instructions but relies on a soft-FPU ABI, which would make the calls to that lib unpredictably buggy in case the rest of the app is compiled with `hardfp`. Are we currently making sure that these modules are built in a consistent way?

[2016-08-10 16:24] AlessandroA commented on #2397
@bridadan Yes `common-utilities` will always be there. What troubled me is that I need to duplicate the `mbed_*.json` config files (same content, which is more or less [this one](https://github.com/AlessandroA/mbed-os-example-uvisor/blob/6ee451bffd2b61d6bdc871e23b65cf6f1a434957/mbed_app.json)).

Since a test case is just a glorified application (it generates a binary), I thought there was a way to

[2016-08-10 17:17] bridadan commented on #2397
@AlessandroA thanks for clarifying! In the case you described, it sounds like placing that config in an `mbed_lib.json` in `common-utilities` should satisfy your needs. That should be applied to every test binary. Or am I missing something here?

[2016-08-11 06:45] ccli8 commented on #2324
The issue was launched to address test failure of test code `mbed-os/TESTS/mbed_drivers/rtc` (mbed OS 5.0.1) in my NUMAKER_PFM_NUC472 porting on GCC_ARM toolchain. Now on mbed OS 5.1, the test is passed due to `set_time` `(mbed/hal/common/mbed_critical.c)` implemented in mutex rather than `core_util_critical_section_enter/exit(__disable/enable_irq)`.

Program still traps in `localtime` with gcc to

[2016-08-11 06:45] #2324 closed

[2016-08-11 08:25] AlessandroA commented on #2397
@bridadan It doesn't work because I'm using `target_overrides`, which is only allowed at the app level.

But even if I only define `macros` in `common-utilities/mbed_lib.json`, the file is not `-include`d in the test case sources. I think this is a bug. The issue I reported originally here is a first step to unveil it.

So to sum up:

* The current code has what I believe it's a bug: It generates

[2016-08-11 09:44] tommikas opened #2420 "Maximum number of open sockets"
It seems that currently the maximum total number of simultaneously available sockets is 4, in any combination of TCPServer, TCPSocket and UDPSocket instances. UDPSocket is further limited to a maximum of 2 (4 UDP sockets total, but one seems to be reserved for DNS and one for DHCP, leaving 2 for the application).

Are these limits documented anywhere? Are they configurable?

[2016-08-11 09:59] tommikas opened #2421 "Socket::open() behaviour with no network connectivity"
Calling Socket::open() before EthernetInterface::connect() results in `sys_arch_protect error`.
As a NetworkInterface instance is required by sockets ([as documented](https://docs.mbed.com/docs/mbed-os-api-reference/en/5.1/APIs/communication/network_sockets/#the-networkinterface-classes)), I wouldn't necessarily expect it to work (although possibly not with that specific error).

But, as long as E

[2016-08-11 10:45] mottigondabi commented on #2371
duplication of #2326

[2016-08-11 10:45] #2371 closed

[2016-08-11 12:59] tommikas opened #2424 "Rebinding TCPServer socket more than once results in an infinite loop"
1. create and open a TCPServer socket
2. bind the socket to port X
3. bind the same socket again to port Y
4. bind any TCPServer type socket to port Z

Step 4 always results in an infinite loop in [lwip_tcp.c : lines 425-426](https://github.com/ARMmbed/mbed-os/blob/master/features/net/FEATURE_IPV4/lwip-interface/lwip/core/lwip_tcp.c#L425).

[2016-08-11 12:59] janjongboom opened #2425 "mbed boards do not mount properly anymore in latest Win10 update..."
https://developer.mbed.org/questions/73408/Nucleo-F446RE-Showing-up-as-empty-disk-d/

[2016-08-11 13:48] tommikas opened #2426 "Clearing pending events on Socket instances"
In blocking mode, for example:

1. create, open and bind a UDP socket
2. attach the socket to a callback function
3. receiving a UDP packet on the listening port triggers the callback
4. call recvfrom to retrieve the data
5. an event seems to be pending, which blocks any subsequently received UDP packets from triggering the callback

In step 4, it seems that the `_pending` flag [is cleared](https:

[2016-08-11 16:21] theotherjimmy commented on #2320
At least for GCC, the linker will simply refuse to link if the ABIs are different.

[2016-08-11 16:45] bridadan commented on #2397
@AlessandroA The [doc I posted](https://github.com/ARMmbed/mbed-os/blob/master/docs/config_system.md#configuration-data-in-libraries) suggests that `target_overrides` is supported in `mbed_lib.json`, are you finding this to not be the case?

It's possible that the way we are building tests is causing the build system to not pickup the config.

@bogdanm we currently build the entire code base (excl

[2016-08-11 20:43] infinnovation commented on #2420
I think this is the relevant definition in features/net/FEATURE_IPV4/lwip-interface/lwip/include/lwip/opt.h

[code]

[2016-08-11 21:02] theotherjimmy commented on #2083
Reproduced by removing the name field from mbed-os and re-compiling. Working on a better error message.

[2016-08-11 21:46] sarahmarshy commented on #2374
I was not able to recreate this issue. However, you should be able to place a ```.mbedignore``` file with the contents ```*``` in the directory you wish to be excluded from compilation.

@0xc0170  Do you think we should by default put ```.mbedignore``` in the export directory?

[2016-08-12 03:48] 0xc0170 commented on #2426
cc @geky

[2016-08-12 03:49] 0xc0170 commented on #2425
this issue belongs to cmsis-dap or DAPLink repository

cc @c1728p9 @sg-

[2016-08-12 03:49] 0xc0170 commented on #2424
cc @geky

[2016-08-12 03:49] 0xc0170 commented on #2421
cc @geky

[2016-08-12 03:49] 0xc0170 commented on #2420
cc @geky

[2016-08-12 03:50] 0xc0170 commented on #2412
cc @theotherjimmy @screamerbg @bridadan

[2016-08-12 06:38] #2309 closed

[2016-08-12 11:04] tommikas opened #2435 "Socket::set_timeout doesn't work properly for the server side TCPClient instance"
1. create, open, bind and set to listen a new TCPServer instance
2. accept a new connection on a new TCPSocket instance
3. set the TCPSocket to non-blocking mode
4. call TCPSocket::recv

TCPSocket::recv blocks indefinitely if no data is pending or received.

[2016-08-12 12:50] tommikas opened #2437 "UDPSocket::sendto with more than 1472 bytes of data sometimes fails"
With two K64F devices using ethernet:
1. reboot device and connect to network
2. open a new UDPSocket
3. call sendto with 1473 bytes or more data
4. sendto appears to work correctly but nothing is received at the other end

Only the very first sendto fails, and only if sending more than 1472 bytes. In every other case it seems to work fine. Also, if at some point between steps 1 and 3 a TCP connec

[2016-08-12 13:42] tommikas opened #2438 "Socket:: bind() behaviour is inconsistent"
1. A UDPSocket type socket can bind to the same port repeatedly.
2. Two UDPSocket type sockets cannot bind to the same port at the same time.

3. A TCPServer type socket cannot bind to the same port repeatedly.
4. Two TCPServer type sockets cannot bind to the same port at the same time.

5. A TCPServer type socket and a UDPSocket type socket can bind to the same port at the same time. After that e

[2016-08-12 13:59] bridadan commented on #2412
I'm pretty sure even for systems like `make` you need to run a "clean" build when switching between debug and release builds. The only way to know if you'd need to do a clean build is store what the previous `-o` arguments were and clean if they are different. Do we really want to do that?

[2016-08-12 14:06] sg- commented on #2425
ST-LInk is not the same as DAPLink - This needs to be reported to ST

[2016-08-12 14:06] #2425 closed

[2016-08-12 14:06] LiyouZhou commented on #2412
It is not a bug but a feature. `make` is pretty bare bone, we should aim to provide at least some features that make doesn't. It's not difficult to store a hash of the command line. This is similar to detecting if the source file have changed, or if the config file have changed. I argue the user could expect the tool to do the right thing and it would be nice if the tool actually did. I agree it m

[2016-08-12 14:26] bridadan commented on #2412
@LiyouZhou Thanks clarifying, you're right it would be awesome if the tools took care of this.

@0xc0170 any chance we can update the label?

[2016-08-12 14:54] geky commented on #2420
Looking at the referenced issue, you can only make 4 sequentially? That sounds like a memory-leak that should be looked into, or is it in a different issue?

@infinnovation is right, the `MEMP_NUM_NETCONN` can be overridden for additional sockets (at a memory cost). However, _reserving_ a socket for DNS/DHCP sounds wrong, that may be a loss from the above memory-leak.

[2016-08-12 15:00] geky commented on #2437
What is the return value from the sendto call? Is the UDP packet being truncated?

[2016-08-12 15:25] LiyouZhou opened #2439 "calling eth.connect() on the Ethernet interface causes an NSAPI_ERROR_DHCP_FAILURE to be returned"
mbed-os 5.1.0

Expected behaviour `return success if already connected`

[2016-08-12 17:00] fvincenzo commented on #2252
IAR support has been added on Beetle platform PR https://github.com/ARMmbed/mbed-os/pull/2427
[code]
I think this issue can be closed.

[2016-08-12 17:04] fvincenzo commented on #2289
@MarceloSalazar @bridadan @screamerbg I verified the tests with the latest mbed-os master code changes (PR: https://github.com/ARMmbed/mbed-os/pull/2402) and everything works correctly. I think this ticket can be closed:
[code]

[2016-08-12 17:08] geky commented on #2439
Thanks for reporting this issue.

@sg-, @c1728p9, what do you think, should calling connect on an interface multiple times be defined? Alternatively it could be modified to return NSAPI_ERROR_PARAMETER to make it clear the problem is with how the function is called.

[2016-08-12 17:35] geky commented on #2421
Thanks for reporting this. You are right, this error should be reported more consistently (perhaps with `NSAPI_ERROR_PARAMETER`). Opening sockets on a disconnect interface should fail as well.

[2016-08-12 18:14] MarceloSalazar commented on #2289
tested master (https://github.com/ARMmbed/mbed-os/#685096eb11af42db747273415aa1d5e2ad94f2ab) and tests pass when building with gcc.
closing

[2016-08-12 18:14] #2289 closed

[2016-08-12 20:12] infinnovation commented on #2438
This is expected behaviour.  TCP port numbers and UDP port numbers are in different number-spaces; they are different protocols.

[2016-08-12 20:40] geky commented on #2438
This sounds expected, otherwise one socket would get packets intended for the other. This could corrupt transactions from an application that assumes it owns the data stream.

This is expected as described by @infinnovation.

I'm currently looking into this, I suspect lwip has a sort of `REUSEADDR` setting it is enforcing for the same reasons as preventing two sockets to bind to the same port. How

[2016-08-12 22:12] sg- commented on #2439
@geky how would you propose someone determine if connected to a network (not to the internet)? There doesn't seem to be much precedent here.

[2016-08-12 22:36] geky commented on #2439
Currently a user can check the return value of connect to know if a connection was succesful. A user can also check `get_ip_address` to tell if DHCP succeeded, but this will only work until we have static IP addresses.

If we want to store the state of the network connectivity, we could add an `is_connected` function. I believe the idea came up during prototyping the network-socket API, although I

[2016-08-12 23:15] sg- commented on #2411
Thanks for the note. Need to update the includes client and rf driver use. Will resolve this @geky

[2016-08-12 23:19] sg- commented on #2439
I thought about that but what would ```is_connected check```? Totally opposed to state variables for many reasons but in this case given that if the network rejected or kicked your node off it would return a false state.

[2016-08-13 00:10] geky commented on #2408
Hi @kudangun, thanks for reporting this issue.

Network sockets have a mechanism to prevent new server instances from accidentally accepting sockets to old server instances. Think of if you start one program after another, the new program could accidentally get the old programs connections and corrupt the new program if the program wasn't written well.

This mechanism is time based, so if enough t

[2016-08-13 00:13] geky commented on #2438
Looking into it more, this is a part of a similar mechanism that prevents sockets from binding to the same port as a part of protecting a user from himself. The fact that UDP bind succeeded is curious, but I suspect just an idiosyncrasy of lwip's implementation.

Once #2440 is merged, you can use NSAPI_REUSEADDR to allow socket servers to reuse the same address without waiting.

[2016-08-13 00:18] geky commented on #2439
Same. I'm worried it may give the user a false sense of expectations since most ports probably can't detect if the network disconnects. I checked and lwip doesn't seem to have a system for reporting this sort of state.

At the same time, if multiple user's code is calling `connect`, who decides what the correct configuration is? The `connect` call with no arguments wouldn't work for wifi interface

[2016-08-13 15:47] sg- commented on #2439
Agree - @LiyouZhou can you share how or what you'd expect the network to be checking for an existing or established connection?

[2016-08-13 16:57] jupe commented on #2388
yes `FEATURE_COMMON_PAL` feature is needed because mbed-trace and mbed-client-c etc is moved behind it.

[2016-08-14 10:22] zgoda commented on #2323
I don't feel in a position to suggest anything related to mbed os 5 yet, i'm completely new here. It just feels strange to have a tool that fails in the middle of process even if the outcome is known upfront. Shouldn't it fail immediately indicating the operation is not supported for given operands? I think so.

[2016-08-15 07:13] tommikas commented on #2420
I don't think it's a memory leak, since I can free instances and recreate them in any order as many times as I wish. I.e. it's not a limitation on how many I can make, only on how many can exist simultaneously.

Alright. This might be worth documenting somewhere. It takes quite a bit of digging to find as it is.

To be precise, during EthernetInterface::connect() [udp_new()](https://github.com/ARM

[2016-08-15 07:37] tommikas commented on #2437
The return value is the value of the `size` parameter it was called with, i.e. it appears to have successfully transmitted all of the given data.
Any subsequent sendto with up to 3000 bytes of data (at least; haven't tried more) is received with no issue.

[2016-08-15 07:55] tommikas commented on #2438
Ah of course. That's no problem then. Thanks.

Fair enough.

Cool. I wondered if this might be connected to #2408, but seemed different enough to create its own issue.

[2016-08-15 08:02] tommikas commented on #2421
Sounds good to me.

[2016-08-15 08:21] janjongboom opened #2444 "Some boards have inverted built-in LED state, this should be solved by HAL"
Every example that we write that targets multiple microcontrollers needs to deal with the fact that the wiring of built-in LEDs differs between micros. Sometimes you need to turn the GPIO port off to turn the LED on, other times you need to turn the port on. This makes writing portable code a pain in the ass, as every first instruction needs to be: 'check how the built-in LEDs are wired, and then

[2016-08-15 08:48] tommikas opened #2445 "EthernetInterface::disconnect() without a preceding connect() causes a hardfault"
Should this perhaps fail a little more gracefully?

[2016-08-15 09:58] gaucho1978 opened #2446 "nRF51822+S130+HRSensor= disconnection"
I'm using nRF51822 (RedBear Nano board) with MBED library that uses S130 Nordik library.

There is an implementation that let's me use mbed library over arduino:

I use the nRF51822  simoultaeously as master role (in order to connect a HR sensor, a Polar H7 HRS) and as peripherial role (to let tablets to connect to my custom device).

This is what I do:

1) I perform a BT scan and I start a Connec

[2016-08-15 10:11] kudangun commented on #2408
Hi @geky
In this scenario, the remote host closes the socket and I respond by closing my socket. There are no old connections. I don't see why I shouldn't be able to create a new socket server and bind it to the same port. this is not address reuse

[2016-08-15 11:51] toyowata opened #2448 "[exporter] LPCXpresso exporter broken"
Exported project for LPCXpresso broken from mbed library Rev.122 and onward.
## Step to reproduce:
1. Create blinky project for LPC1768 (or other LPC) target
2. Set mbed library Rev. 122 or 123
3. Export to LPCXpresso
4. Open the project by LPCXpresso IDE (I used LPCXpresso v8.1.4)
5. Build the project file

[code]

When I use Rev. 121 mbed library, it worked fine (I could build a project by LPCXp

[2016-08-15 12:35] tommikas opened #2449 "icmp/raw socket support"
The network-socket API doesn't seem to support either at the moment.
Would it be possible to add it, so for example ping could be implemented on top of the network-socket API?

[2016-08-15 14:15] #2083 closed

[2016-08-15 15:00] jacobrosenthal opened #2452 "Custom targets are broken"
Trying to use custom targets as documented says target is not a supported mcu.
[code]

Theres an existing PR at https://github.com/ARMmbed/mbed-os/pull/2196

[2016-08-15 15:26] 0xc0170 commented on #2448
Can you test the latest master here with ``project.py`` to find out if its a problem of scripts here in this code base or in the online IDE?

[2016-08-15 15:26] 0xc0170 commented on #2449
cc @geky

[2016-08-15 15:27] 0xc0170 commented on #2446
cc @pan-

[2016-08-15 16:24] sarahmarshy commented on #2374
@ConorPKeegan can you verify if this fixes your issue and close this?

[2016-08-15 16:47] LiyouZhou opened #2454 "Statically initialised RawSerial objects in greentea and utest causes Rxirq handler to be lost"
https://github.com/ARMmbed/mbed-os/blob/48c1d2eb7a8df369de682e8ac1a9a0a03c7dde9b/features/frameworks/utest/source/utest_serial.cpp#L21
https://github.com/ARMmbed/mbed-os/blob/48c1d2eb7a8df369de682e8ac1a9a0a03c7dde9b/features/frameworks/greentea-client/source/test_env.cpp#L64

These initialisation compete with user define serial objects. Whichever is initialised last get associated with the hardwar

[2016-08-15 16:50] LiyouZhou commented on #2454
A good solution for serial would be defining serial configuration at compile time, and at run time, everybody just call `get_serial_object` to access the singleton serial object.

[2016-08-15 16:52] bridadan commented on #2454
@LiyouZhou I have a PR for this in the works, thanks for bringing this up. I'm going to be using the [SingletonPtr](https://github.com/ARMmbed/mbed-os/blob/master/hal/api/SingletonPtr.h) class to only configure this RawSerial object at runtime if its used. It will also share the same RawSerial object betwen greentea and utest.

[2016-08-15 21:09] bridadan commented on #2323
I think you're right @zgoda, the main issue right now is these scripts don't make it clear what part of the code they are building, so it is not sure if the platform is "supported" or "unsupported". We need to rethink how these scripts fit into the workflow so it is clear what platforms are supported in which configuration.

[2016-08-15 21:20] geky commented on #2449
We accept patches ; )

This would be a good feature to have, but at the moment we are focusing on cementing the current network-socket API with minimal modifications.

[2016-08-16 05:36] sandeepach commented on #1823
Any chance of this happening anytime soon.

[2016-08-16 07:28] MarceloSalazar opened #2459 "Cannot enable Debug on generated Makefile"
Tools version:
mbed CLI = 0.9.1
project_generator = 0.9.9

I expect to be able to enable DEBUG on the generated Makefile by defining `DEBUG = 1` before this `ifeq`:

[code]

However, debug symbols are not enabled because:
1. There is no option to add `-DDEBUG -O0` to `CPPC_FLAGS` in the `ifeq` statement (e.g. `main.cpp`)
2. `CC_FLAGS` and `CPPC_FLAGS` are already defined earlier with `-Os` option:

[2016-08-16 08:12] ohagendorf commented on #1823
It is almost ready to submitt. I'll do it during the next days.

[2016-08-16 08:43] MarceloSalazar commented on #2335
@sg- @screamerbg could you please comment on this question?

[2016-08-16 08:45] 0xc0170 commented on #2454
This is a step forward (PR referenced right above) but does not solve completely the issue we have (there's a pull request unifying baud rate for stdio, that might help). We had this problem in mbed 3 (https://github.com/ARMmbed/mbed-drivers/pull/145). To summarize, there are differences between toolchains when they initalize stdio, plus allowing to do Serial pc(tx,rx) is bad at a first place. Con

[2016-08-16 10:34] 0xc0170 opened #2460 "Makefile - lpc1768 does not build"
``python tools\project.py -m LPC1768 -i gcc_arm -n MBED_10 -b``

Error output:
[code]

Looks like the paths are wrong (VPATH is set to ..) and -I paths are referencing not valid paths.

cc @sarahmarshy @theotherjimmy

[2016-08-16 15:35] nuket opened #2467 "Linker on Nordic nRF51822 `cannot move location counter backwards`."
I'm trying to build a simple project but `ld` keeps complaining, when tried with both gcc 4.9 and gcc 5.4:

gcc 4.9 says:

All of the code compiles fine, it's only the link step that is erroring out. Is it possible that I'm out of memory?

The mbed-os version number, using the mbed CLI:

[code]

I tested the mbed OS Blinky example, and it builds fine.

[2016-08-16 16:16] bogdanm commented on #2397
I believe so, yes. The config system needs to have access to the various `mbed_lib.json` files that are found during the resource scanning process in order to be able to generate `mbed_config.h`. If none of the source directories have any `mbed_lib.json` files, no config will be generated. There are a few ways to handle this:

1. build from source
2. propagate configuration data to the binary buil

[2016-08-16 16:47] bridadan commented on #2467
I'm pretty sure when I've seen this error it's because I was out of memory.

@pan- Do you think that's the case?

[2016-08-16 18:10] sarahmarshy commented on #2460
I wasn't able to replicate this issue.

[2016-08-16 18:10] theotherjimmy commented on #2460
I was not able to reproduce this issue.

[2016-08-16 18:11] theotherjimmy commented on #2459
From the previous discussion:

[2016-08-16 18:17] aamcampbell opened #2469 "Standard library/filesystem functions with NULL arguments"
Several standard library functions and POSIX directory functions cause hard faults when given NULL arguments.

I know it's a bad idea to ever allow a NULL argument to be passed to these functions, but it seems to me it should fail gracefully instead of causing a hard fault.

The following calls result in a hard fault:

freopen("path/to/file", "mode", NULL)
fread(NULL, nsize, nitems, pFile)
fwrite(

[2016-08-16 18:36] aamcampbell opened #2470 "freopen with NULL filepath fails"
According to the C standard for freopen() (as stated in POSIX),

"If filename is a null pointer, the freopen() function shall attempt to change the mode of the stream to that specified by mode, as if the name of the file currently associated with the stream had been used."
(http://pubs.opengroup.org/onlinepubs/009695399/functions/freopen.html)

However, when I call freopen(NULL, "mode", pFile) in

[2016-08-17 09:08] nuket commented on #2467
Looks like this could be the case, but if those values returned by the linker are correct, I'm not looking forward to optimizing down 2k worth of code. Things are pretty tight on the chip already and I'm not even close to done with my firmware.

Also asked this question at the Nordic support forum, and they referred to another link with a similar conclusion.

* https://devzone.nordicsemi.com/quest

[2016-08-17 09:33] ytsuboi opened #2474 "[TARGET_NRF5] serial_api.c doesn't seem to support a platform which CTS pin are not used"
# Problem

The TY51822R3 platform use nRF51822 (Rev.3) device and CTS/RTS signals are not connected to the mbed interface chip on this platform.
When printf() function is called by mbed program, the program hangs most of time.

# Thoughts

I am investing this problem now.  But the code in TARGET_NRF5/erial_api.c assumes flow control by CTS/RTS.  It should take care about non flow control platform

[2016-08-17 09:45] 0xc0170 commented on #2460
False alarm, my paths were corrupted thus arm-none-eabi-gcc was not found  - I found once I was trying to use gcc in the command line (in the above was g++). Can we add a check if gcc/g++ is in present and fail prematurely in the Makefile?

[2016-08-17 09:47] 0xc0170 commented on #2470
Can you specify the toolchain + target you use?

[2016-08-17 09:51] javier-moreno-tridonic-com opened #2475 "Mbed5 memory profiling"
Note: This is just a template, so feel free to use/remove the unnecessary things

## Description

Type: Question
Priority: Minor
Question
---
On mbed 3 the "ualloc" yotta module was used for *malloc* and *free* implementation. This allowed us to enable and customise an UART trace, allowing us to study the dynamic memory performance our code and look for optimisations. E.g.

[code]

So far I could

[2016-08-17 09:53] MarceloSalazar commented on #2475
This is related to the conversation happening on this PR: https://github.com/ARMmbed/mbed-os/pull/2442

[2016-08-17 10:04] nuket commented on #2467
Ok, I figured out where a ton of test code from a library was being pulled in by the `mbed compile` command. Added an `.mbedignore` to that folder and the problem went away.

Ticket can be closed.

[2016-08-17 10:12] pan- commented on #2467
@nuket @bridadan Yes, there is not enough RAM for the application.

The inclusion of the OS add a non negligible overhead.
RAM optimization is a trending topic for mbed OS right now and several patches will help.

You can apply workarounds now:

* disable utest overhead: If you don't use utest and/or unity in your application you can disable them totally, this will FLASH and RAM in your applicatio

[2016-08-17 10:19] nuket commented on #2467
Thanks for the suggestions, I'll try them out incrementally!