[2019-12-30 09:54] jporter4 commented on #12077
@AriParkkila Could you clarify what you're asking me to do ?  Check something in the AT manual ?  in the driver code ?  in my device logs ?  Thanks.

[2019-12-30 10:06] AriParkkila commented on #12077
@jporter4 The current implementation seems to be up to the EMS31 AT command manual v4.9.5, but there might be a more recent version? As a workaround you might try to change [this line to true](https://github.com/ARMmbed/mbed-os/blob/5f495db06bd6c6e0ac0adf001be57f1d724f9aa1/features/cellular/framework/targets/GEMALTO/CINTERION/GEMALTO_CINTERION_CellularStack.cpp#L437).

[2019-12-30 10:11] jporter4 commented on #12077
@AriParkkila  My AT manual is EMS31-US_ATC_V5.1.2.0a.  I got it from Gemalto support earlier this year.

[2019-12-30 10:14] AriParkkila commented on #12077
@jporter4 Can you check if it still requires that _If the currently read datagram is smaller than the number of bytes requested by the host the <remainUdpPacketLength>
parameter is omitted._

[2019-12-30 10:18] jporter4 commented on #12077
@AriParkkila Yes, that quote appears in section 9.8 "AT^SISR Internet Service Read Data"

[2019-12-30 10:24] AriParkkila commented on #12077
@jporter4 Thanks, I think this should be fixed in EMS31. Can you try if the [workaround](https://github.com/ARMmbed/mbed-os/issues/12077#issuecomment-569632829) works.

[2019-12-30 10:39] jporter4 commented on #12077
So you want me to change line 437 of the Gemalto driver from
 "if (len >= (nsapi_size_or_error_t)size) {" to
 "if (true) {"

I'll try it and report back.

[2019-12-30 13:03] #12087 closed

[2019-12-30 13:04] ciarmcom commented on #12174
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2488*

[2019-12-30 16:34] timovanasten commented on #10548
For me, it was caused by a conflict when exposing the POSIX functions. It was fixed by changing `include <time.h>` to `include <sys/time.h>` in the `mbed_rtc_time.h` file.

[2019-12-31 01:05] jporter4 commented on #12077
@AriParkkila
I changed the line (it was actually line 434 in version 5.15.0, not line 437) to "if (true) {",
rebuilt with trace enabled and downloaded to my target and ran it.
It never even got to that code.
It still fails earlier for using connection id 0, which is legal for the ELS61 but illegal for the EMS31, as I reported in issue #11760.  That issue has been closed, and I'm not sure why, as i

[2019-12-31 01:33] jporter4 commented on #12077
@AriParkkila
I jammed "connection_profile_id" to 1 to get past the previous error, rebuilt etc.  Now it times out reading the DNS response.  Here's my trace:

[DBG ][CELL]: Cinterion open 1 (err 0)
[DBG ][CELL]: AT OoB readable 1, len 3
[INFO][CELL]: AT RX (10): ^SIS: 1,5<cr><ln>
[DBG ][CELL]: AT OoB done
[INFO][CELL]: AT TX (34): AT^SISW=1,32,0,"10.105.16.254:53"<cr>
[INFO][CELL]: AT RX (17): <cr

[2019-12-31 06:47] AriParkkila commented on #12077
@jporter4 Unfortunately, I don't have EMS31 here so I need to rely just on its AT specification. The `_cid` problem is fixed in #12131 (your workaround seems fine). AT timeout seems like it has dismissed characters due to tracing (could try without tracing enabled).

[2019-12-31 07:52] michalpasztamobica commented on #10815
Hi @hamza-ubx . Thanks a lot for your efforts so far and the helpful PR, which improved the situation.
@kimlep01 was however still able to spot the assertions (although less often) and I was just checking your suggestion about the LWIP's failure.

I added some more logging, modified the `wifi-connect-disconnect-repeat` test as Kimmo suggested (2000 loops) and used the unreliable non-RF-BOX RAAS en

[2019-12-31 12:49] michalpasztamobica commented on #11982
Hi @zhiyong80 , I wonder - when you disable the blacklisting in your router, are you still able to reproduce the issue?
Can you also try the same router with a device that has more memory, like K64F+ESP8266? 32kB of RAM that NUCLEO_F091RC has is not a lot...

[2019-12-31 15:30] zhiyong80 commented on #11982
@michalpasztamobica I tried STM32F401RE which has 64KB ram, and got the same results, also with mbed-os-5.14.2 and 5.15. The only notable difference with the newer version of mbed-os(5.15?) is, the app will try 3 different DNS servers before giving up. So I don't think this is a ram related problem.

More likely, this might be something related to ESP8266 itself. I dug up [some discussion](https:/

[2019-12-31 16:57] jporter4 commented on #12077
@AriParkkila I didn't think that you could have since there doesn't seem to be any Arduino shield available with an EMS31.  The nearest thing I could find is the Cinterion Connect which has an ELS61.
Anyway, I turned off AT tracing and rebuilt etc.  It still times out on the DNS response:

[INFO][DNS ]: Host www.google.com
[INFO][CELL]: Socket 1 open
[INFO][DNS ]: Query server 10.105.16.254
[DBG ]

[2019-12-31 19:41] jporter4 commented on #12077
@AriParkkila I tried one other thing to provide more info.  I reverted to the original 5.15.0 version of the file, but with "connection_profile_id" jammed to 1 to get past the AT error code 50; i.e. I backed out your "if (true)" change from the previous build.  I've attached the trace, which shows that the driver read the entire 104 byte packet which includes the modem framing ("^SISR: 1,62,0," et

[2020-01-01 00:51] zhiyong80 commented on #11982
Just tested the same wifi hotspot with [Sparkfun ESP8266 Thing Dev](https://www.sparkfun.com/products/13231), HTTP GET to http://httpbin.org/status/418 worked just fine. So the problem is either in the wifi module (esp-wroom-02 + 1.70 at firmware) or ESP8266 driver on mbed side.

How can i further debug or test?

[2020-01-01 09:36] hamza-ubx commented on #10815
Hi @michalpasztamobica

Thank you for the detailed analysis. We are continuing the investigation at our end and will share any information that we discover.

[2020-01-01 10:08] Reda-RM commented on #7394
@theotherjimmy  What was the purpose of removing the header again from the *_update binary at commit #545553b6 ??
How to generate a binary which includes the header to send to the device while doing FOTA?

[2020-01-02 08:01] michalpasztamobica commented on #11982
@AnttiKauppila , @VeijoPesonen , @SeppoTakalo , have you had a chance to try ESP8266's built-in DNS mechanism (AT+CIPDOMAIN)? Would you recommend that we try to use it instead of mbed's `nsapi_dns`? It could be made optional, dsiabled by default and only enable in mbed_app.json.
I don't see any better way to address this issue.

[2020-01-02 08:51] SeppoTakalo commented on #11982
I don't think we have tried that.
But the linked forum post is about DNS issues when using ESP's own DNS resolver, so it makes me wonder whether it helps at all in this case.

If the device does not receive anything from the given DNS server, then I don't know how switching a resolver would make this issue disappear.  Maybe the WiFi router, in this case, does not route the DNS queries back to ESP.

[2020-01-02 09:06] michalpasztamobica commented on #11982
@SeppoTakalo , further down in the forum thread the ESP team claims to have fixed the issue in their AT command set ("long time ago" they said in March 2018).
 Also - according to @zhiyong80 , the SparkFun device is using the built-in DNS resolver, so I think switching to it could fix the issue.

At the end of his previous post @zhiyong80 explained that he accidentally introduced the crash/memory

[2020-01-02 09:11] jeromecoutant commented on #11798
We got now 4 referenced issues waiting for this one...

@ARMmbed/mbed-os-tools please have a look

@MarceloSalazar
@bulislaw

[2020-01-02 10:11] #12171 closed

[2020-01-02 10:13] 0xc0170 commented on #12172
cc @ARMmbed/team-st-mcd

[2020-01-02 11:24] timovanasten commented on #11883
Also having issues with greentea on macOS Catalina 10.15 with the NUCLEO-F767ZI. Seems that the first test after plugging in the device will work, but any test after that will fail due to SYNC_FAILED.

[2020-01-02 12:17] jeromecoutant commented on #12172
Hi

@mprse @kjbracey-arm

I think issue came with static pinmap feature.
Before that pinmap_pinout was called for each uart pin, which is OK when pin is "NC".
Now serial init calls pin_function which goes to assert when pin is "NC".

[2020-01-02 13:01] 0xc0170 commented on #11883
Not certain if this is in greentea or firmware. If you create a full bug report, ST team can have a look.

[2020-01-02 13:13] bulislaw commented on #11798
@jeromecoutant it was escalated to a blocker internally, @ARMmbed/mbed-os-tools should look at it asap.

[2020-01-02 13:52] mattbrown015 commented on #7695
Hi @OneTwoSteph ,

Thanks for your comment, you're right of course, there's a misplaced ! in our code.   Way back in August Jerome posted `while (LL_RTC_IsActiveFlag_SHP(rtc)) {}`, i.e. no !, and I clearly didn't read it well enough.

I've taken the ! out now but unfortunately it doesn't solve my problem, I still get stuck somewhere in the RTOS scheduler.  I'm not worrying about it though because

[2020-01-02 16:02] zhiyong80 commented on #11982
@michalpasztamobica any instruction on how to tap communication between esp8266 and mbed? My plan is solder the RX line of USB-UART chip to TX line of ESP8266 and see what is actually received or not by mbed after sending AT+CIPDOMAIN.

[2020-01-02 19:20] michalpasztamobica commented on #11982
Your suggestion is one way to go, but I suggest setting up Wireshark and connecting to the same network that ESP8266 is using. [Here](https://wiki.wireshark.org/CaptureSetup/WLAN) you can read about the basics. I think it would be good to sniff UDP on port 53 (typically used for DNS communication). If only ESP, the router and your host machine are on the network I don't expect much difficulty figu

[2020-01-02 21:10] theotherjimmy commented on #7394
@Reda-RM I recommend a few things:
 * Take a look at the PR that introduced those changes.
 * Open a fresh issue, as others will likely see it.

Further, note that I'm no longer working on Mbed OS, and can't really provide help for these issues mostly because I don't remember the context around this decision.

[2020-01-02 22:45] nat45928 opened #12184 "LWIP::socket_close() can attempt to free a null pbuf structure"
### Description of defect

When closing a TCP socket with LwIP debugging enabled I can see a debug statement `pbuf_free(p == NULL) was called.` It appears change 3b178a08efcfb62a8b53c8aa6781e8ab7def6963 modified a statement from `netbuf_delete()` to `pbuf_free()`. The `netbuf_delete()` function includes a null check which is not included in `pbuf_free()`.

#### Target(s) affected by this defect ?

[2020-01-03 00:54] zhiyong80 commented on #11982
@michalpasztamobica Unfortunately I don't have much control of the wifi hotspot, I have password and can access it, but not much beyond. Spent a good part of today trying to figure out how to capture packets on windows with no luck so far. None of the laptops and USB wifi adapters I have supports monitor mode.

On a side note, I was able to confirm that AT+CIPDOMAIN does work on this router. I con

[2020-01-03 06:22] ciarmcom commented on #12184
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2490*

[2020-01-03 06:31] michalpasztamobica commented on #11982
@zhiyong80 , I doubt that we have a direct line to Espressif, but I'll forward the question to @AnttiKauppila , perhaps he knows more...

It seems like switching to built-in DNS handling improved your situation and is a valid option to resolve this task? I'll try to add it to mbed's driver and come back to you with a PR to try out.

[2020-01-03 09:41] zhiyong80 commented on #11982
@michalpasztamobica Yes switching to built-in DNS command can improve my situation with that particular wifi router. I tried to implement gethostbyname() in ESP8266Interface but that task seems beyond me due to layers of abstraction.

My teammate came up with a bandage by tweaking dns_lookup() in ESP8266 driver:
[code]
The following is code that works on Sparkfun ESP8266 Thing, included in case it

[2020-01-03 09:50] AriParkkila commented on #12077
@jporter4 The first response AT timeout is probably from [read_bytes](https://github.com/ARMmbed/mbed-os/blob/de798c4f379adbcf282199ba06553c0fa644cc8b/features/cellular/framework/targets/GEMALTO/CINTERION/GEMALTO_CINTERION_CellularStack.cpp#L483) expecting to get more bytes than readable.

The second response `^SISR: 1,62,0,"10.105.16.254:53"` still has that `remainUdpPacketLength` (it should be d

[2020-01-03 11:44] 0xc0170 commented on #12184
@kjbracey-arm Please review

[2020-01-03 11:51] 0xc0170 commented on #12062
It was internally triaged. The cause is not yet found but confirmed (there were other similar reports).

[2020-01-03 11:52] 0xc0170 commented on #12174
Hi, there were similar reports. mbed 2 library fails to being fetched from the portal.

I'll close this as duplicate (#12062) and linked this there as well to have this report. This is not related to just eclipse, but fetching the library.

[2020-01-03 11:52] #12174 closed

[2020-01-03 11:53] 0xc0170 commented on #12062
Similar report to get mbed 2 lib here #12174.

[2020-01-03 12:29] mprse commented on #12172
Looking into this.

[2020-01-03 13:16] mprse commented on #12172
The patch can be found here: PR https://github.com/ARMmbed/mbed-os/pull/12186.

[2020-01-03 13:38] jporter4 commented on #12077
@AriParkkila Regarding your statement "you need to modify the driver ..." - are you planning on fixing the driver for EMS31, are you expecting that I will ?  Do you work for Mbed ?  Or are you and end user ?  I want to make sure I understand the game plan here.  Thanks

[2020-01-03 15:32] 0xc0170 commented on #11799
I'll close this as resolved. Please reopen with an update

[2020-01-03 15:32] #11799 closed

[2020-01-03 15:33] 0xc0170 commented on #11451
It was integrated. @maclobdell Is this issue still relevant?

[2020-01-05 07:50] Reda-RM commented on #7394
Thanks for your reply :)

[2020-01-05 07:59] Reda-RM opened #12190 "Bootloader: Is there a way to include the image header in the generated *_update.bin?"
### Description of defect

While updating the firmware over the air, we need to send the image header + the image itself. The build artifacts include *_update.bin which should be used to be sent to the device over the air. However this binary includes only the image without a header. Is there a clean way to include the image header in this binary? Currently I am editing ./tools/regions.by as follo

[2020-01-05 10:22] sr425 opened #12191 "BLE connectivity issues with iPhone 11"
### Description of defect

Using the mbed BLE_LED sample on a Nordic NRF52_DK a iPhone 11 Pro (and other iOS devices like the current generation iPad) one gets an immediate timeout after connecting to the device. The nRF Connect app reports an "unexpected timeout".
This behaviour seems to be independent of the iOS version, since an older iPad Pro with the same iOS version (13.3) works fine.
Unfort

[2020-01-05 13:03] ciarmcom commented on #12191
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2491*

[2020-01-05 13:03] ciarmcom commented on #12190
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2492*

[2020-01-06 12:17] madchutney commented on #12137
Hi @korjaa, thank you for raising this issue. We shall add it to our known issues list, but unfortunately we are unable to fix it as the requirements are defined in a released version of Mbed OS for which there are no plans to patch.

However, please try creating a new Python environment and installing the following packages before invoking `pip install -r requirements.txt`.

[code]

Please let me

[2020-01-06 12:56] #12137 closed

[2020-01-06 12:57] LMESTM commented on #12116
Some further investigations are showing that the line below (/ 1000) is a big part of the problem.
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/hal_tick_overrides.c#L61

It takes more than 300µs to be executed with microlib and is called several times ... this has a high impact on the system

[2020-01-06 13:20] LMESTM commented on #12116
@evedon @kjbracey-arm @MarceloSalazar this seems to be rather a limitation of the microlib which introduce a relatively huge overhead vs. the other toolchains. At first glance, there seem to be quite many occurences of / 1000 (or / 100 or /10) usage in mbed-os.

So my current conclusion is that this is a limitation (bug?) of microlib, not a bug of device:st ...

Any feedbacks / comments are welcom

[2020-01-06 13:33] marisabele commented on #12066
This issue was specific to one hardware board. (Maybe ESD damage or something else)

[2020-01-06 13:33] #12066 closed

[2020-01-06 13:37] evedon commented on #12116
I would agree that this seems like a limitation of microlib.

For the resolution of the original issue, I suggest that we increase DEEP_SLEEP_DELAY_DELTA_US for microlib.

[2020-01-06 16:25] trowbridgec commented on #12191
@AGlass0fMilk

[2020-01-06 20:06] dustin-crossman commented on #11909
Seems like this might have fallen off the radar with the holidays and everything. Has anyone taken a look at this?

[2020-01-06 20:59] AGlass0fMilk commented on #12191
@sr425 Can you post any debug uart output you see from the Mbed device while trying to connect?

If you have the ability to also do BLE traces on the iPhone (probably requires iOS developer license) that would also be helpful.

[2020-01-06 21:42] sr425 commented on #12191
@AGlass0fMilk Currently I am trying to get the wanted data, but having some issues with UART output. Is there anything special regarding the NRF52DK to get the output?
Regarding the iPhone traces, I have some syslog with BLE profile, what files from this log is interesting in particular and how to open it?

[2020-01-06 21:49] AGlass0fMilk commented on #12191
You may need to enable hardware flow control on your serial port to get the debug UART to show up.

I'm not familiar with iPhone debug logs so I can't tell you what would be of interest. Mainly anything that shows how the Mbed BLE device was behaving as seen by the iPhone BLE stack -- that would be useful to better understand where the issue is.

[2020-01-06 23:19] star297 opened #12192 "ESP8266 SNTP function"
### Description of defect

SNTP function missing

#### Target(s) affected by this defect ?
All
#### Toolchain(s) (name and version) displaying this defect ?
Any
#### What version of Mbed-os are you using (tag or sha) ?
On-line + Studio

Can someone drop in the ESP8266 built-in SNTP function code?
I wouldn't win an award for the best code, but I've been using the code similar to below for some time

[2020-01-07 06:25] ciarmcom commented on #12192
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2493*

[2020-01-07 07:03] AriParkkila commented on #12077
@jporter4 The EMS31 specification seems to differ here from modem functionality. Which one we should follow here? Probably the specification as the firmware update later might fix the modem to comply with the specification. Do you know if the manufacturer has provided some update or errata on the EMS31 AT specification regarding the `remainUdpPacketLength` parameter? Mbed OS is open source and con

[2020-01-07 07:07] korjaa commented on #12137
Hi @madchutney, using the workaround solves the issue for me.

[code]

[2020-01-07 07:36] AnttiKauppila commented on #12102
It seems that CellularContext uses the default context ID (=-1) and therefore you will get that error.
CellularStack sets the _cid in do_connect() phase, which is overridden by UBlox driver.
I think this is the culprit: (Lines 55&56) https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/targets/UBLOX/AT/UBLOX_AT_CellularContext.cpp#L55
In 41XM family drivers the _cid is handle

[2020-01-07 07:50] LMESTM commented on #12116
@evedon

could you re-assign to the proper team for further analysis and feedback ?

I 'm not in favor of such workaround. HAL_GetTick() function which include "/ 1000" operation is widely used in the ST drviers layers so that the target performance will be highly impacted and degraded by this limitation. Knowing this, I'm not in favor of deploying microlib support, otherwise we will most probably

[2020-01-07 08:50] kjbracey-arm commented on #12116
M3 or M4 devices wouldn't need to use the library to do `/ 1000` - the compiler should use a `UMULL` instruction to do a multiplication-by-reciprocal (something like `* ((2**32) / 1000)` then `>> 32`). Same applies for any 32-bit division by constant. (I know ARM and GNU compilers do this, and I'd hope IAR does too).

So this particular problem is only going to hit devices like M0,M0+ and M23.

IM

[2020-01-07 09:00] kjbracey-arm commented on #12184
I agree, it can do this on `socket_close. Looks fine in the other part of the change in `socket_recv`. I'll make a patch.

[2020-01-07 09:39] michalpasztamobica commented on #11982
Ad 1) (closing when opening)
@zhiyong80 , I see your point, but I can't agree with the solution. You are right that we may fail to close the connection with a `close()` call, because the device is busy. But this was also the case before our current changes to `send()`. I think this exactly why [this check was added](https://github.com/ARMmbed/mbed-os/blob/244422d470bbd0444eceacaae5b0d4d924e97449/c

[2020-01-07 09:49] fahim-ublox commented on #12102
Looks like after mbed-os 5.15 release, string-based API usage within mbed-os started to remove(i.e. get_ip_address). Are you getting this problem recently ?

While PGM_NO_MBD-319 Internal ticket created to fix the issue.

[2020-01-07 09:55] LMESTM commented on #12116
300µs is not the absolute measurement, it is the overhead when moving to microlib.

On NUCLEO_L476RG, including GPIO toggling for instrumentation, I am observing 3µs max (and down to 200ns) for the / 1000 operation ...  and I confirm that there is no visible overhead when moving to microlib.

[2020-01-07 10:17] 0xc0170 commented on #12116
@LMESTM As it is, your suggestion is the target NUCLEO_L073RZ is not be suitable for supporting small default lib ?

[2020-01-07 10:28] micque01 commented on #12062
Hi @kpyush, the Mbed web team have fixed the issue, could you please try the https://developer.mbed.org/users/mbed_official/code/mbed/archive/0f02307a0877.zip link again?

[2020-01-07 10:41] kjbracey-arm commented on #12116
If the performance characteristics are as described, I'd be somewhat wary of enabling it at all on anything M0-like, unless we can redirect division to a faster implementation. We do perform divisions in middleware code in interrupt handlers - it's not just the STM HAL.

I'm going to check what microlib is doing - we might want to forcibly intercept its division and redirect to a "standard" divisi

[2020-01-07 10:52] LMESTM commented on #12116
Agree.

Sounds like the best way forward.

[2020-01-07 12:29] evedon commented on #11570
Baremetal support was added to greentea in 5.15 so the original issue can be closed.

To run greentea tests in baremetal mode, the command to use is:
[code]

[2020-01-07 12:29] #11570 closed

[2020-01-07 13:17] kjbracey-arm commented on #12116
Actually, it seems like the standard M0 division is likely a fair bit slower than the 130 cycles I said above - that number would have been for the traditional ARM, which can munch 1 bit in 3 cycles, giving you a base worst case of 96 cycles, plus extra start-up+loop overhead

    RSBS    ip, a1, a2, LSR #2
    SUBCS   a2, a2, a1, LSL #2
    ADC     a3, a3, a3

The poor M0+ has to take 4-6 cycles

[2020-01-07 13:31] kjbracey-arm commented on #12116
Looking at what I'm getting from microlib (ARM Compiler 6.13), its division doesn't seem that bad. It is just a long division loop, possibly written in C rather than assembler, with no unrolling. 12-16 cycles per bit.

My calculations say it should come out at 400-520 cycles per division, depending on value. There's no specific short-circuit - it always loops 32 times.

So that should still be onl

[2020-01-07 14:56] #12184 closed

[2020-01-07 15:01] LMESTM commented on #12116
The device is 32MHz but runs at lower speed (~2MHz or so) during deep sleep exit. This is indeed probably why this takes so long.

At full speed I'm seeing it rather takes around 13µs - good to get back to theory sometimes :-)  !

[2020-01-07 15:19] kjbracey-arm commented on #12116
Aha. Okay, doing the division while at slow speed makes sense. So microlib's division is 2-and-a-bit times slower, and it matters because you're running 16 times slower at that instant, and the division(s) dominate.

Okay, given that info, I now think:

* microlib's division is slow, but not slow enough to be necessarily problematic for IRQs at "normal" CPU speed (16MHz+).
* General performance wi

[2020-01-07 16:19] LMESTM commented on #12116
Actually here are my measurements. Same division by 1000 line running at same speed is measured using GPIOs (so w/ GPIO handling overhead):
- during deep sleep exit (~2MHz tbc), takes 346µs with µARM vs. 46µs with ARM
- at full speed (32MHz), takes 13µs with µARM vs. 2µs with ARM

Yes, but clock trees can be MCU specific and also depend on boards (whether there is a XTAL or not, etc ..). Doing per

[2020-01-07 17:03] LMESTM commented on #12116
I've pushed #12202 for increasing the clock speed out of deep sleep - that will be helpful for any toolchain, thanks for this @kjbracey-arm  :-)

[2020-01-07 20:22] rvolosatovs opened #12203 "Device crashes when retransmitting PingSlotChannelAns in class B"
### Description of defect

After switching to class B and receiving `PingSlotChannelReq` the device crashes with an error and blue light starts blinking on the device.
Network Server treats the device as 1.0.3.
Seems that after `PingSlotChannelReq` is received and a retransmission is generated this happens.

[code]

#### Target(s) affected by this defect ?
FF1705

#### Toolchain(s) (name and versi

[2020-01-07 21:09] ciarmcom commented on #12203
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2494*

[2020-01-08 06:13] soleilplanet opened #12205 "PinMap error on STM32F429xI (inc. Nucleo F429ZI) in Mbed-OS 5.15.0"
### Description of defect
Our customer is using STM32F429AIH6 in production device, and recently they tried to upgrade to Mbed-OS 5.15.0 and found that there are pin map errors on some of the pins they are using.
For example, they are using PG_7 to reset the NB-IoT modem (this pin is defined in NUCLEO_F429ZI), and they are seeing assertion error in pin_function:
      \mbed-os\targets\TARGET_STM\p

[2020-01-08 06:13] soleilplanet commented on #12205
@MarceloSalazar

[2020-01-08 06:25] ciarmcom commented on #12205
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2495*

[2020-01-08 07:56] mikaleppanen commented on #11951
Cannot repeat the problem here locally, but I detected that some of the PPP debug traces were enabled also without debug flags. This resulted that PPP used more stack than needed.
Corrected that on:

https://github.com/ARMmbed/mbed-os/pull/12195

@felipeLeast Could you check whether the stack overflow happens anymore with the above modification.

[2020-01-08 08:10] kjbracey-arm commented on #12116
Ah, right. My "two-and-a-bit" was comparing the worst-case for each, because I was thinking of interrupt latency. The standard routine is actually a lot faster in its best case (when the divide result is small - you basically pay per bit of the answer).

It may well be worthwhile doing that for the speed-criticial bits here. (Historically the ARM compiler+library used to have a dedicated shift-bas

[2020-01-08 08:38] jeromecoutant commented on #12205
Hi
You could maybe try #12186
Regards

[2020-01-08 10:30] VeliMattiLahtela opened #12212 "NUMAKER_M252KG blinky builds fail"
### Description of defect

NUMAKER_M252KG builds have started to fail in blinky build.

#### Target(s) affected by this defect ?
NUMAKER_M252KG

#### Toolchain(s) (name and version) displaying this defect ?
ARMC6, GCC, IAR

#### What version of Mbed-os are you using (tag or sha) ?

6b89d16dd3
mbed-os-99.99.99

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)

#### H

[2020-01-08 10:35] 0xc0170 commented on #12212
I believe this is an offender #12176

cc @ARMmbed/team-nuvoton

[2020-01-08 11:00] #12054 closed

[2020-01-08 12:34] cyliangtw commented on #12212
The root cause is #12176 not sense M252KG merged into mainstream in the duration of developing stage. Now, to fix it in PR #12217, the usbd implementation will be only included as while DEVICE_USBDEVICE is enabled.

[2020-01-08 12:47] LMESTM commented on #12116
Turns out that the div1000 does not seem to improve performances.

Board | Toolchain | Division type | Operation   time (incl. IOs toggling) | Frequency   during wake-up
-- | -- | -- | -- | --
L476RG | uARM | Native ( / ) | 440ns | 48MHz
L476RG | uARM | Div1000 | 480ns | 48MHz
L476RG | ARMC6 | Native ( / ) | 440ns | 48MHz
L476RG | ARMC6 | Div1000 | 480ns | 48MHz
L073RZ | uARM | Native ( / ) | 86µs

[2020-01-08 13:08] ciarmcom commented on #12212
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2496*

[2020-01-08 14:43] JanneKiiskila opened #12219 "tools/target/target_test.py does not handle missing sector keyword correctly"
### Description of defect

The target testing tool does not correctly recognize the lack of "sector" -keyword in the index.json -file. This is a problem, as the tests will fail with an error, which does not tell you WHERE the actual issue itself is.

It should be fixed to the Python script, so that the target name gets printed out correctly in the assert (probably one more asset needs to be added?

[2020-01-08 14:43] JanneKiiskila commented on #12219
@0xc0170 @adbridge

[2020-01-08 14:52] 0xc0170 commented on #12190
cc @ARMmbed/mbed-os-tools

[2020-01-08 14:54] 0xc0170 commented on #12192
cc @ARMmbed/mbed-os-ipcore

[2020-01-08 14:54] 0xc0170 commented on #12191
cc @ARMmbed/mbed-os-pan

[2020-01-08 14:57] 0xc0170 commented on #12172
Fixed via 12186

[2020-01-08 14:57] #12172 closed

[2020-01-08 14:57] kjbracey-arm commented on #12116
Thanks a lot for numbers! Really useful.

Yeah, we can carry on microlib stuff on a new ticket. That 64x64->64 multiply is a real disaster, even slower than the division. It's actually even worse for the M3 - the microlib code is 6 times bigger and 50 times slower than the standard library.

But fortunately the compiler seems to inline rather than call the library for M3.

[2020-01-08 14:58] 0xc0170 commented on #12159
👍  hopefully this one will be closed soon

[2020-01-08 14:59] 0xc0170 commented on #12130
cc @ARMmbed/mbed-os-pan

[2020-01-08 15:00] 0xc0170 commented on #12130
@thendrickson Can you send a pull request with a fix?

cc @desmond-blue

[2020-01-08 15:44] loverdeg-ep commented on #12130
@ARMmbed/team-embeddedplanet

[2020-01-08 15:46] loverdeg-ep commented on #12130
This could potentially be causing a lot of frustration for people trying to reduce power consumption for these parts...

[2020-01-08 15:50] loverdeg-ep commented on #11799
@millerc-ep

[2020-01-08 15:54] LMESTM opened #12221 "Division operation much slower with microlib than other libs on cortex-M0"
### Description of defect

Following investigations in #12116 , it turns out that division with microlib seems much slower than ARM lib (and possibly also other libs) on cores like cortex-M0.

Few measurement on a "divided by 1000" operation were measured and are reported here for background information:

Board | Toolchain | Division | Operation time (incl. IOs toggling) | Frequency during wake-up

[2020-01-08 15:54] LMESTM commented on #12116
Ok I submitted a new Issue.
This one can be closed when #12202 will be merged

[2020-01-08 16:00] 0xc0170 commented on #12212
PR merged, this is now fixed

[2020-01-08 16:00] #12212 closed

[2020-01-08 16:22] ciarmcom commented on #12221
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2497*

[2020-01-08 16:22] ciarmcom commented on #12219
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2498*

[2020-01-09 06:54] zhiyong80 opened #12222 "Socket timeout is not honored by Ethernet/WiFi/ESP8266Interface when connected to router with no uplink"
### Description of defect

When the uplink of a WiFi router is unplugged, WiFi/ESP8266Interface will stuck in any network requests such as NTP or HTTP GET, and then reset if watchdog is enabled. Set wifi interface as non-blocking doesn't solve the problem.

#### Target(s) affected by this defect ?
NUCLEO_F401RE + ESP-WROOM WiFi module.
I only tested such setup but would not be surprised if other t

[2020-01-09 09:49] #12116 closed

[2020-01-09 09:52] 0xc0170 commented on #12221
What would be suggestion here? From the link in the #12116, this is known issue with microlib.

It might be worth reaching out internal team who is in charge for microlib ?

[2020-01-09 11:03] kjbracey-arm commented on #12221
For division, microlib is doing what's being advertised, which is being smaller and slower. And I'm inclined to think the trade-off is okay. It's 40 bytes instead of 340 bytes. 8 times slower (in this case), 8 times smaller. 8 times slower isn't enough to be *that* much of a problem, except when running at like 4MHz.

I'm more concerned about the 64-bit multiply (which the `div1000` was using ther

[2020-01-09 11:18] JanneKiiskila commented on #12049
@mmahadevan108  - any takes on this?

[2020-01-09 11:43] #12102 closed

[2020-01-09 13:08] ciarmcom commented on #12222
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2499*

[2020-01-09 14:48] mmahadevan108 commented on #12049
My preference would be to leave this unchanged as EVKB board is the default EVK.

Changing name here would also require changing the mbedls database,

[2020-01-09 16:02] vvzvlad opened #12229 "NRF52811 support"
I have a developed device with NRF52811 that I would like to run under mbed OS. As far as I can see, there is no support for 52811 in mbed now.
What do I have to do to get it to appear? What prevents it from appearing?
I plan to use only 802.15.4 radio without BLE AoA, AoD and LR.

The zephyr project has support for this processor (https://docs.zephyrproject.org/latest/boards/arm/nrf52811_pca10056

[2020-01-09 16:07] loverdeg-ep commented on #12229
Nordic Semi for whatever reason doesn't support Mbed anymore.

The only reason NRF52840 and others still seem to have support is because ARM, Embedded Planet, and other partners/community members have done Nordic's responsibility for them.

Support for the NRF52811 should be straightforward but I'm not sure how well it will be maintained once implemented.

[2020-01-09 16:23] ciarmcom commented on #12229
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2500*

[2020-01-09 16:52] JojoS62 commented on #10717
This issue has been fixed for ARMC6 by using  "-Wno-deprecated-register". The counterpart for gcc is
  "-Wno-register".
Or will this be changed in STM HAL?
CMSIS has also been updated to not use the 'register' storage class in to 5.6, Mbed is still using CMSIS 5.3.

[2020-01-09 16:58] loverdeg-ep commented on #12229
Also this is a question better left for forums.mbed.com based on the new community policies.

[2020-01-09 17:13] JojoS62 opened #12232 "gcc: 'register' storage class specifier is deprecated and incompatible with C++17"
### Description of defect

#### Toolchain(s) (name and version) displaying this defect ?

gcc is complaining about using the register storage class as it is deprecated with c++11.
This issue has been reported for ARMC6 and been fixed there by suppressing the warning in
#10717
The same fix can be applied to the settings for gcc by using '-Wno-register', then it will compile also with -gnu++2a witho

[2020-01-09 17:19] loverdeg-ep commented on #12232
@kjbracey-arm

[2020-01-09 21:10] ciarmcom commented on #12232
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2501*

[2020-01-09 21:58] AGlass0fMilk commented on #12159
So I realized I mentioned `TWIM` in the original post but the I2C API implementation actually uses the TWI peripheral. However, it's still the same issue there.

When enabled, the Nordic drivers attempt to acquire the resources (memory map/interrupt vector slot) that are shared with other peripherals (eg: TWI0 and SPI0) using the PRS system. If the resources are available, the PRS system will inst

[2020-01-09 23:19] zhiyong80 commented on #12222
To clarify, the problem only happens when router doesn't have uplink when WiFi/ESP8266/Ethernet is powered up. If uplink is unplugged after module/board powers up, some error like -3009 or -3016 will be thrown, but no crash.

Also this happens to Ethernet interface as well, title was updated to reflect this.

[2020-01-10 01:29] zhiyong80 commented on #12222
Thanks to my teammate EA, the problems is narrowed down to DNS timeout and retry. The default settings of 10 seconds wait time and 3 total attempts uses up 30 seconds of watchdog timer. Once the default value is overridden to something like 5, 0, 1, the problem disappears.
In mbed_config.h:
[code]

[2020-01-10 01:29] #12222 closed

[2020-01-10 02:22] zhiyong80 commented on #11982
The AT command works but I still get -3009 error code.
[code]

[2020-01-10 07:36] kjbracey-arm commented on #12232
Feel free to contribute a patch doing this - I'd have no objection.

Although we should be cleaning up the codebase. It's deprecated in C++14 and not actually in C++17 at all, so GCC would just be supporting it as an extension in that mode.

[2020-01-10 08:01] jeromecoutant commented on #12232
Hi

I agree I am very late to align ST FW driver in mbed with ST cube delivery
https://github.com/STMicroelectronics/STM32CubeF4

Work is on going.

[2020-01-10 08:31] 0xc0170 commented on #12232
@JojoS62 Can you specify which files are generating this ? To know who can help fixing it in case there are 3rd party drivers involved (as @jeromecoutant mentioned ST cube).

[2020-01-10 08:32] kjbracey-arm commented on #12232
It will actually be almost exclusively 3rd party HAL code.

[2020-01-10 08:36] JojoS62 commented on #12232
yes, turning off the warning is just curing the symptoms, not really fixing the original problem.
in more recent CMSIS than in Mbed, this is fixed also in 2018 already:
https://github.com/ARM-software/CMSIS_5/issues/345
https://github.com/ARM-software/CMSIS_5/commit/f46ec37262bc4fd82b6c91d24198cc3b4a499fe3

I was told the deprication for 'register' was announced in 2009 already and is effective wi

[2020-01-10 08:40] 0xc0170 commented on #12232
@JojoS62 We updated files in 2019 (the references are from 2018). I believe this should be fixed in CMSIS files in our code base.

[2020-01-10 08:40] kjbracey-arm commented on #12232
You're right - I thought it was deprecated in C++14, but it was deprecated in C++11. It's removed in C++17, but it doesn't stop the compilers still accepting it - they're just required to start complaining because it's not valid C++.

[2020-01-10 08:41] JojoS62 commented on #12232
f.e. https://github.com/STMicroelectronics/STM32CubeF4/blob/b5abca20c9676b04f8d2885a668a9b653ee65705/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_adc.h#L1828
just a quick check, its still in the source in the link from Jerome.

[2020-01-10 08:43] JojoS62 commented on #12232
yes, but very haevy... And I think the compiler warning should remain, it makes sense to show that some part of the code is depracted.

[2020-01-10 08:45] kjbracey-arm commented on #12232
Problem is that if it's like ARMC6 it won't just warn once, or once per file, it will be 100s of times in a header file included by every C file...

Just to clarify, it gnu++17 normally accepts it with a warning, but `-Wno-register` disables the warning, right?

[2020-01-10 08:49] JojoS62 commented on #12232
yes, thats correct. And that is how it was fixed for ARMC6, only the compile switch has different name. For ARMC6, it has been turned off already: "-Wno-deprecated-register" is in the profiles.

[2020-01-10 08:56] JojoS62 commented on #12232
There are thousands of warnings because 'register' is used in many headerfiles.

I'm currently compiling, it looks like affected headers are _ll_rtc.h, _ll_tim.h and _ll_adc.h.

[2020-01-10 09:00] kjbracey-arm commented on #12232
Because ARMC6 produces the warning for C++14 mode, so it needs the warning suppressed in the C++14 profile.

If you're making your own custom C++17 profile for GCC then you can obviously add the warning suppression in the same custom profile. But if you want to submit a patch to put it in the base profile, that's fine. I guess it makes it easier to switch to C++17 mode (possibly through a menu in

[2020-01-10 09:07] JojoS62 commented on #12232
yes, I can prepare the PR. But again, this is curing the symptoms. The ideal solution would be a clean HAL code. Removing the 'register' directives from the code makes no change in the compilation as the compilers ignore this for many years already.

[2020-01-10 09:47] jamesbeyond commented on #11909
Hi @dustin-crossman , sorry for the delay, we'll try your fix, see if it fixed the watchdog issue

[2020-01-10 10:35] mprse commented on #12205
It looks strange since GPIO HAL functions do not use pin-maps and generally GPIO HAL API is not affected by the static pin-map extension. The problem as @jeromecoutant pointed might be in the case of peripherals that allow when some pins are `NC`. This is because of  `pin_function()` which is now used during initialization instead `pinmap_pinout()` and does not allow `NC`.

I tried to reproduce th

[2020-01-10 10:43] #12049 closed

[2020-01-10 10:48] evedon commented on #12116
Thank you @LMESTM for fixing this issue.

[2020-01-10 10:50] 0xc0170 commented on #12229
Correct. I'll close this , please move this to the forum. Thanks!

[2020-01-10 10:50] #12229 closed

[2020-01-10 11:05] SeppoTakalo commented on #11876
This is a non-standard and unsupported configuration, but you might be able to try.
In realidy, I don't think `FlashIAP` prevents multiple instances of it. So in theory, you could instantiate another `FlashIAPBlockDevice` on your application. Just make sure that your addresses do no overlap.

As long as application does not cause two `FlashIAP` instances to write, it might work.

[2020-01-10 11:09] SeppoTakalo commented on #11451
This board is not anymore in Mbed OS, so the ticket should be closed.

[2020-01-10 11:15] vmedcy commented on #11451
@SeppoTakalo: can you clarify your last comment? CY8CKIT_062_WIFI_BT is well supported: https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_Cypress/TARGET_PSOC6/TARGET_CY8CKIT_062_WIFI_BT
https://os.mbed.com/platforms/CY8CKIT-062-WiFi-BT/

[2020-01-10 11:50] hamza-ubx commented on #10815
Hi @michalpasztamobica

So we have investigated the issue in more detail. For the first part where you mentioned that may be translation from driver to Mbed's error code is not correct. When driver returns one of the following, only then it is translated to `NSAPI_ERROR_AUTH_FAILURE`:

- `cbWLAN_STATUS_DISCONNECTED_AUTH_FAILURE`
- `cbWLAN_STATUS_DISCONNECTED_ASSOC_FAILURE`
- `cbWLAN_STATUS_DISCONN

[2020-01-10 11:50] rvolosatovs commented on #12203
Closed by https://github.com/ARMmbed/mbed-os/pull/12204

[2020-01-10 11:50] #12203 closed

[2020-01-10 13:01] #12062 closed

[2020-01-10 13:06] #12149 closed

[2020-01-10 13:19] JojoS62 commented on #12232
sure, this is possible. But the deprecated code is not a problem with Mbed, is there a chance that the HAL gets updated? Can I make a PR in the HAL repo?

[2020-01-10 14:07] mprse commented on #12205
Fix for `serial_free()` can be found here: PR https://github.com/ARMmbed/mbed-os/pull/12237.

[2020-01-10 14:16] 0xc0170 commented on #12232
@JojoS62 Yes you can make PR updating HAL.

I would like to triage this issue but as it is too generic, I am not certain where it belongs and who should fix it (teams). We should split this one to modules. We can help but first should find offenders there. Besides ST driver, is there any other?

[2020-01-10 14:33] 0xc0170 commented on #11798
Any update with this one?

[2020-01-10 14:33] 0xc0170 commented on #12149
I believe this was fixed via #12162

[2020-01-10 14:48] MarceloSalazar commented on #12096
@ARMmbed/team-st-mcd can you please have a look and comment?

[2020-01-10 15:19] LMESTM commented on #12096
My 2 cents: on our platforms with lp_ticker support , we need to a deep sleep lock very regularly at low level:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/lp_ticker.c#L325

You'll need some very short period of inactivity (~100µs) before the lock is released.
Not sure if this is the lock you're seeing though ... you may want to check the "sleep_manager_locked" variable at th

[2020-01-10 15:37] evedon commented on #10223
It does not appear that there is a Mbed OS issue so I am closing this ticket.
This is more of a useful discussion on the C library buffering.

[2020-01-10 15:37] #10223 closed

[2020-01-10 15:53] jeromecoutant commented on #12149
I don't think this issue can be closed.
A patch in targets.json file adding:
     "device_name": "STM32WB55RGVx"
is missing

[2020-01-10 17:24] michalpasztamobica commented on #10815
Hi @hamza-ubx . Not sure I got it right, but indeed, sounds like only `cbWLAN_STATUS_DISCONNECTED_AUTH_FAILURE` should be translated to `NSAPI_ERROR_AUTH_FAILURE` [in here](https://github.com/ARMmbed/mbed-os/blob/dc6320239b3b28370f83f0446a65c6a5766c45e4/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F439xI/TARGET_MODULE_UBLOX_ODIN_W2/sdk/ublox-odin-w2-drivers/OdinWiFiInterface.cpp#L1409).

What abo

[2020-01-12 14:36] sr425 commented on #12191
@AGlass0fMilk Could you give me some hints on how to do that, since I still have issues getting the UART output?

[2020-01-12 20:15] kleunen commented on #10669
@pentabarf  You are right

It actually says in the documentation:
https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_BLE/targets/TARGET_NORDIC/TARGET_NORDIC_CORDIO/TARGET_NRF5x/README.md

Resources used:
HF clock is enabled

That is just complete BS, this really removes LE from BLE.

[2020-01-13 06:15] soleilplanet commented on #12205
@mprse the issue was observe on customer application with customer's own implementation of cellular driver, so let me communicate with them to see if they can share that. They basically extended our cellular stack and add the GPIO control when calling cellular device reset.
I've shared the two PRs to the customer; I'll keep this updated when they have the result.
Thanks for helping!

[2020-01-13 07:32] hamza-ubx commented on #10815
I guess we can correct the error translation after we come up with appropriate meaning for each error code and find relevant `NSAPI_ERROR_X`

For `cbWLAN_STATUS_DISCONNECTED_MIC_FAILURE`, I think MIC stands for Message Integrity Check. So that is something that we can not categorize in `NSAPI_ERROR_AUTH_FAILURE` or `NSAPI_ERROR_CONNECTION_TIMEOUT`, in my opinion. What do you think the correct `NSA

[2020-01-13 07:57] michalpasztamobica commented on #10815
Hi @hamza-ubx .
I fully agree with these:
`cbWLAN_STATUS_DISCONNECTED_ASSOC_FAILURE` -> `NSAPI_ERROR_TIMEOUT`
`cbWLAN_STATUS_DISCONNECTED_AUTH_FAILURE` -> `NSAPI_ERROR_AUTH_FAILURE`

Regarding `cbWLAN_STATUS_DISCONNECTED_MIC_FAILURE` (Message Integrity Check). Normally if the code doesn't fit anything known, we would translate it to `NSAPI_ERROR_DEVICE_ERROR` and just leave it to the application t

[2020-01-13 09:29] hamza-ubx commented on #10815
Great! We will look forward to hear from Kevin and then make the corrections to the translation as discussed.

About the `cbWLAN_STATUS_DISCONNECTED_NO_BSSID_FOUND`, I think user will see it as misleading if it is translated to `NSAPI_ERROR_NO_SSID` because it kind of depicts that SSID wasn't found in scan. Right now it is mapped to `NSAPI_ERROR_NO_CONNECTION`, which in my opinion is more appropri

[2020-01-13 10:10] SeppoTakalo commented on #11451
Oh.. It looks like the tittle was using incorrect name. I tried looking for `CY8CKIT-062-WIFI-BT`instead of `CY8CKIT_062_WIFI_BT`

[2020-01-13 10:45] jeromecoutant commented on #12149
@felipeLeast
Do you think you could provide the fix ?
Thx

[2020-01-13 11:35] jamesbeyond commented on #11451
Sorry for the late reply, but the integration tests are running just fine with `K64F` and `NUCLEO_F429ZI` target

[2020-01-13 19:55] AGlass0fMilk commented on #12191
@sr425 What terminal program are you using?

[2020-01-13 20:14] sr425 commented on #12191
Bash on Ubuntu and ZSH on MacOS

[2020-01-13 20:57] AGlass0fMilk commented on #12191
I mean for viewing the debug UART output. I am most familiar with minicom.

[2020-01-13 21:01] sr425 commented on #12191
Ah okay, I can also try to use minicom if this makes helping easier.

[2020-01-13 21:05] tdjastrzebski opened #12244 "Make header files compliable by themselves"
I suspect that the order in which header files are forcefully included during build matters. Otherwise ccsw_crys_rsa_shared_types.h would not compile since it uses uint32_t type without including <sdtint.h>.
If this is the case, I suggest following headers [best practices](https://www.acodersjourney.com/top-10-c-header-file-mistakes-and-how-to-fix-them/) - MISTAKE # 4: Not making the header file c

[2020-01-13 21:06] JanneKiiskila commented on #12149
PR done; https://github.com/ARMmbed/mbed-os/pull/12245

[2020-01-13 21:14] surajdagar opened #12246 "extern Queue doesn't work"
I have a thread running into the gps.cpp file and i want to share some data to main() thread that is running into the main.CPP() using the queue.

I have this declaration in gps.cpp
MemoryPool<message_t, 16> mpool;
Queue<message_t, 16> queue;
message_t *message = mpool.alloc();
queue.put(message);

Now i have to call gueue.get() API and mpool.free() in the main.cpp this doesn't work. I tried to do

[2020-01-13 21:36] belkirdi commented on #3358
I have a same issue and I can reproduce based on this code all the time :

#include "EthernetInterface.h"
#include "mbed.h"
#include "rtos.h"
#include "Websocket.h"

#define SLEEP_TIME 500 // (msec)

EthernetInterface eth;
Serial pc(USBTX, USBRX); // tx, rx
bool isEthernetEnabled = false;
bool isEthernetConnecting = false;
bool isWebsocketConnected = false;
const char *ip;

DigitalOut led1(LED1);

[2020-01-13 22:01] JanneKiiskila opened #12247 "DISCO_L475VG - Socket Address based get_address() not working"
Please see - https://github.com/ARMmbed/mbed-os-example-pelion/pull/89

Disco board does not pass CI verification:
[code]

https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/nsapi_types.h#L40

Bug in the network driver? IP Address resolving must be a supported feature.

### Description of defect

Following code snippet failing with DISCO_L475VG.
String based `get_ip_address()` works

[2020-01-13 22:27] AGlass0fMilk commented on #12191
On Ubuntu:
1. Run `ls /dev/tty*` to list tty devices connected to your computer
2. Plug in Mbed board (nRF52DK in this case)
3. Run `ls /dev/tty*` again, note the additional device (probably something like `/dev/ttyACM0`). This will be the serial port you want to access to get debug/printf output from the Mbed board
4. Install minicom: `sudo apt-get install minicom`
5. Start minicom with settings

[2020-01-14 06:52] pawelm87 commented on #11864
@LMESTM  I made a few test and it's work, I must manually added OTA_TAG. I must testing more and if I will have some problem I will reopen.
I am currently closing the post

Thanks for help.

[2020-01-14 06:53] #11864 closed

[2020-01-14 07:38] michalpasztamobica commented on #12247
Please try updating the version of `wifi-ism43362` driver [in here](https://github.com/ARMmbed/wifi-ism43362/commit/1978369b2310ea3955715b67869b717fd224a74c). Socket-based API was added to the driver on 26 Nov with [this commit](https://github.com/ARMmbed/wifi-ism43362/commit/534e644e976a6ce27b6e6aa602451fde31791cf2).

[2020-01-14 08:06] JanneKiiskila commented on #12247
Excellent, thank you @michalpasztamobica !

[2020-01-14 09:01] 0xc0170 commented on #12244
👍  Thanks for the report, we will check (as this is 3rd party driver, I'll mention the team below to help).

cc @ARMmbed/team-cypress Please review

[2020-01-14 09:06] 0xc0170 commented on #12246
Please forward this to forum.mbed.com. This is issue tracker (this is not valid bug report following the proposed template).

I'll close this, thanks for understanding.

[2020-01-14 09:06] #12246 closed

[2020-01-14 09:32] pilotak opened #12250 "Is mbedOS 6 going to support LittleFS2?"
### Description of defect
Since OS 5 has LittleFS v1, is OS 6 going to support LittleFS2 by default? as a major release it could it's a good opportunity - LFS2 has been rewritten and has relatively continuous buf fixes. I know there is a [repo](https://github.com/ARMmbed/mbed-littlefs) trying to bring those changes in but is not up to date and unfortunately since OS5.15 has a new CRC engine, it’s

[2020-01-14 10:51] tdjastrzebski opened #12252 "Cryptocell: Orphaned header objects_cryptocell.h"
`objects_cryptocell.h` header in `mbed-os\features\cryptocell\FEATURE_CRYPTOCELL310` is not included anywhere, does not lay in `includes` folder but definitely is needed by `trng.c`.
This may indicate code issue unless some special build rules shall be applied.

[2020-01-14 10:56] fkjagodzinski commented on #11909
@dustin-crossman, thanks for the patch and a detailed explanation. :+1: I consider this approach to be correct since we do not have the new serial API yet.

[2020-01-14 12:06] mikter commented on #11951
Closed as issue is resolved

[2020-01-14 12:06] #11951 closed

[2020-01-14 12:10] JanneKiiskila commented on #12247
One issue resolved, but seems the Wi-Fi driver itself has some connectivity issues. I'm failing to get it to work with my phone for example (Nokia 8.1 with Qualcomm chipset - has worked flawlessly with other Wi-Fi options with Mbed OS so far).

[code]

With a bigger Wi-Fi router we get this;

[code]

So, it will actually authenticate in (why not on the 1st time already), but DNS resolving fails an

[2020-01-14 12:14] michalpasztamobica commented on #12247
@JanneKiiskila , could it be too many wifi networks and range + old firmware as reported in https://github.com/ARMmbed/wifi-ism43362/issues/68 (originally reported in https://github.com/ARMmbed/mbed-os-example-wifi/issues/177 and most information is here)?

[2020-01-14 13:32] JanneKiiskila commented on #12247
Sounds like I need to update the Wi-Fii module firmware then.

[2020-01-14 13:36] michalpasztamobica commented on #12247
Maybe @JuhPuur can help with this? Or maybe there is already an updated board available for you?
Also - if you just want to run once to see proper results, you could try @korjaa 's solution with wrapping your board with this foil (mentioned at the end of mbed-os-example-wifi issue) to limit the scan results.

[2020-01-14 14:03] 0xc0170 commented on #12252
cc @ARMmbed/mbed-os-crypto Please review

[2020-01-14 14:06] 0xc0170 commented on #12250
Sorry for the delay in the forums, it's better place for this there as it is not actual bug report.

I will mention the team who could answer it and help.
cc @ARMmbed/mbed-os-storage

However, as this is not technical bug (feature request), forum is proper place, will get an answer there. I'll close this.

This is the PR: https://github.com/ARMmbed/mbed-littlefs/pull/14 ?  There is no mention of t

[2020-01-14 14:06] #12250 closed

[2020-01-14 14:10] 0xc0170 commented on #12250
cc @NadyaARM

[2020-01-14 14:48] korjaa commented on #12247
The board I gave to Janne should have the latest WiFi firmware. But of course the first rule of debugging is to not believe anything the previous person says.

[2020-01-14 14:49] JanneKiiskila commented on #12247
Any easy way to check it?

[2020-01-14 14:51] korjaa commented on #12247
It does print some version info if you enable AT debugs. But how were those enabled again I don't remember out of my head.

[2020-01-14 14:51] michalpasztamobica commented on #12247
Yes, try flashing the binary attached to https://jira.arm.com/browse/ISGTESTINF-4357 (or just enable the ism43362 logs in your binary). The initial printout from the driver is something like:
[code]
version `3523` is old, version `3525` is new.

[2020-01-14 14:51] korjaa commented on #12247
Could it be cool if all this version checking happened automatically in the driver :P

[2020-01-14 14:54] michalpasztamobica commented on #12247
To enable the ism4336 logs, the mbed_app.json should be something like this:
[code]
and don't forget to add `-v` to `mbed run`/`mbedgt` otherwise you don't get the printouts.

[2020-01-14 15:25] JanneKiiskila commented on #12247
Seems it gets printed out by default with mbed-os-example-pelion,
[code]

gets printed out, so it is the newest. Just out of curiosity I used the Wi-Fi scanner and checked how many Wi-Fi access points we have here and well... Let's just say it's probably 10x more than I anticipated.

[2020-01-14 15:31] michalpasztamobica commented on #12247
To exclude the environment's influence - could you try to flash your binary to raas? mervi has a few DISCOs with `RF-BOX` tag. They are living in a Wi-Fi paradise, with just those networks available that we use for tests (make sure you adjust credentials).
The nightly runs don't indicate any issues in network tests with this platform.

[2020-01-14 16:22] ciarmcom commented on #12252
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2505*

[2020-01-14 16:22] ciarmcom commented on #12247
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2506*

[2020-01-14 16:22] ciarmcom commented on #12244
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2507*

[2020-01-14 18:20] dustin-crossman commented on #11909
Great news! Thanks!

[2020-01-14 20:45] JanneKiiskila commented on #12247
Trials continue at home, where there is a LOT less Wi-Fi activity. However, situation does not get better towards the phone - it simply does not even find that as in the scan.

[code]
So, no luck there. There is **some real issue here** (using the master of [mbed-os-example-wifi](https://github.com/ARMmbed/mbed-os-example-wifi) here to rule out any client SW dependency).

When I then use the cable

[2020-01-14 21:05] JanneKiiskila commented on #12247
With mbed-os-example-wifi - if I add the address resolving for www.arm.com, it works.
However, with the mbed-cloud-client-example, it will just fail.

[code]

Based on the logs, it will get 109 bytes of data from 8.8.8.8 (which I think is Google's DNS service), so I think it should have received the address? So, something funny is now happening here.

[2020-01-15 06:55] michalpasztamobica commented on #12247
@JanneKiiskila, to make sure I understand right, there are now two failure modes right now:
1) DISCO_L475VG_IOT01A with the ISM43362 wifi chip fails to connect to an AP set on your smartphone (other platforms connect just fine).
1) mbed-cloud-client-example fails to resolve DNS address even after connecting to a working router?

@LMESTM , @jeromecoutant would you please take a look at this issue?

[2020-01-15 09:43] JanneKiiskila commented on #12247
Well, turns out the phone AP thing is now regression in the phone side, even u-Blox ODIN can't connect to it anymore. Seems one of the recent updates to the phone have broken it.

[2020-01-15 09:58] michalpasztamobica commented on #12247
So sounds like issue (1) - not being able to connect to phone's AP - is not relevant any more, but issue (2) - DNS resolution failure - is still there? And just for DISCO_L475VG_IOT01A?

[2020-01-15 10:51] JanneKiiskila commented on #12247
Issue 2) is also only now an issue with mbed-cloud-client-example. The mbed-os-example-pelion does seem to work now (at least in a good enough Wi-Fi coverage). It didn't pass in the office environment, but I managed to get it connected at home.

[2020-01-15 11:57] #11544 closed

[2020-01-15 11:58] #12159 closed

[2020-01-15 12:00] #11982 closed

[2020-01-15 17:25] ifyall commented on #11792
@dustin-crossman confirmed in a post on #12139 that the PR will allow us to address this issue. A future PR from Cypress will be necessary to fully close the issue. We (Cypress) will create that PR once #12139 is committed to master.

Thanks,

Ian

[2020-01-15 20:31] JanneKiiskila commented on #12247
The DNS issue also happens with u-blox, so it now seems it's more of an issue (memory?) when using the slightly more complicated mbed-cloud-client-example vs. mbed-os-example-pelion. So, closing this issue out and investigations continue internally.

[2020-01-15 20:31] #12247 closed

[2020-01-16 01:09] yogeshk19 commented on #10669
@40Grit, @pan-  I was wondering based on @pentabarf  and @kleunen  comments, is there any progress on helping improve the power consumption? Currently our application we have built which advertises 90% of the time and 10% time stays connected, the avg. power consumption is 200 uA when advertising and 300 uA when connected using the Cordio API. When using the softdevice the power draw is around 20

[2020-01-16 08:49] #11909 closed

[2020-01-16 09:04] 0xc0170 commented on #10669
Thanks @yogeshk19 for the feedback. I'll share this with relevant people.

[2020-01-16 09:34] 40Grit commented on #10669
@yogeshk19 Contact Packetcraft.
I recently talked with them about the Mbed Cordio stack integration at AIoT but forgot to mention this issue. I think they could be helpful too.

info@packercraft.com
https://www.packetcraft.com/

[2020-01-16 09:37] 40Grit commented on #10669
@AGlass0fMilk I know the magic stick has a monstrous battery but if you get a moment maybe take a look further into this?

[2020-01-16 10:41] JanneKiiskila opened #12268 "Compiler warning SerialBase.h (-Wreorder)"
### Description of defect

[code]

#### Target(s) affected by this defect ?

All

#### Toolchain(s) (name and version) displaying this defect ?

GCC ARM

#### What version of Mbed-os are you using (tag or sha) ?

mbed-os-6.0-alpha1 (but essentially almost all of them, older ones)...

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)

Irrelevant.

#### How is this def

[2020-01-16 13:03] ciarmcom commented on #12268
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2508*

[2020-01-16 13:24] 0xc0170 commented on #12268
cc @ARMmbed/mbed-os-core

[2020-01-16 13:58] evedon commented on #12268
@mprse This warning has been introduced with the latest change on static pin-map. Please look into it when you get a chance.

[2020-01-16 14:44] #11792 closed

[2020-01-16 15:33] mprse commented on #12268
Will check this tommorow.

[2020-01-16 20:56] AGlass0fMilk commented on #10669
@yogeshk19 Have you verified the connection and advertising parameters are the same in both applications? How are you measuring this current draw? The power profiler kit from Nordic would be ideal in this case because it can show the large spikes in current during transmission and also the low quiescent current draw.

I'll hopefully be able to look into this when I'm working more with BLE in the n

[2020-01-17 13:13] michalpasztamobica commented on #11994
Hi @jeromecoutant , thanks for pointing this out.
It seems that this behavior was intentionally introduced in https://github.com/ARMmbed/mbed-os/pull/9057, by @offirko . You were one of the approving reviewers of that PR. Has something changed since that time (over a year) and do you think it now makes sense to support the 4-4-4 version or do you still want the 1-4-4 version to be favoured?

[2020-01-17 13:22] jeromecoutant commented on #11994
OK...

@kyle-cypress

[2020-01-17 13:57] brocaar opened #12276 "[feature-lorawan-1-1] lorawan example fails (mbedtls_cipher_setup fails with MBEDTLS_ERR_CIPHER_ALLOC_FAILED))"
### Description of defect

I'm trying to test the LoRaWAN 1.1 feature branch. While the code compiles fine, the LoRaWAN example code (https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-lorawan/) prints `Connection error, code = -1014`. I have traced this back to:

https://github.com/ARMmbed/mbed-os/blob/feature-lorawan-1-1/features/lorawan/lorastack/mac/LoRaMacCrypto.cpp#L280

Which r

[2020-01-17 14:23] MrkCDGHub opened #12277 "Can create, but not use, established PPP session on SARA-R410M-02B modem"
I am able to establish a PPP connection with the Sara-R4 modem, but attempts to
create and use a TCP socket connection, supplying an actual IP address to an echo test server always fail with -3004.
Attempting to use a hostname and DNS also fails, although I was successful once or twice by supplying a hostname
but could never reproduce it.

I am able to successfully Connect and transmit to test Ser

[2020-01-17 16:08] AlefeFelipe opened #12279 "SPIFBlockDevice spi concurrency issue"
### Description of defect
SPIFBlockDevice loses blockcount when another thread that use spi causes a interruption. This cause an error on the mbed-os and the program crash

#### Target(s) affected by this defect ?
Tested in the NUCLEO_WB55RG

#### Toolchain(s) (name and version) displaying this defect ?
Tested in GCC_ARM, version 6.3.1

#### What version of Mbed-os are you using (tag or sha) ?
Tes

[2020-01-17 16:22] ciarmcom commented on #12279
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2509*

[2020-01-17 16:22] ciarmcom commented on #12277
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2510*

[2020-01-17 16:22] ciarmcom commented on #12276
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2511*

[2020-01-18 00:51] yogeshk19 commented on #10669
@AGlass0fMilk  Yes the device primarily connects to an IPhone or Android phone and we use the appropriate connection parameters. We didn't use the Nordic power profiler kit, we used other means to determine the average power draw.  I have to say however the initial power draw was way higher with Cordio, but with the latest MBED OS and other software and hardware improvements on our side has reduce

[2020-01-18 01:46] 40Grit commented on #10669
We have struggled with NRF and deep sleep as well even without BLE being used.

Since the Port of the nrf sdk is only maintained by ARM, partners and community, there are some bugs we are all still working out. As we use different peripherals and power schemes they pop up.

If not entering deep sleep then a peripheral driver is probably setting the sleep lock.

we've found some little things like

[2020-01-20 09:58] jeromecoutant commented on #11798
@bulislaw

Any update?

[2020-01-20 10:01] JanneKiiskila commented on #11798
Seems to me that most of CMSIS-pack files do not even have the required information to populate it necessarily (at least if the sector info should be the flash erase sector size information).

[2020-01-20 10:04] bulislaw commented on #11798
@ARMmbed/mbed-os-tools any updates on this?

[2020-01-20 10:10] mprse commented on #12268
The fix can be found here: PR https://github.com/ARMmbed/mbed-os/pull/12282.

[2020-01-20 11:58] #8081 closed

[2020-01-21 02:34] nat45928 opened #12284 "Python requirements fail to install on Ubuntu 18.04 LTS"
### Description of defect
Python requirements are failing to install during `mbed deploy` on Ubuntu 18.04 with. Running pip standalone (to see output) results in:

[code]

Digging into the failing package revealed this issue:

https://github.com/theskumar/python-dotenv/issues/227

#### Target(s) affected by this defect ?

All

#### Toolchain(s) (name and version) displaying this defect ?

GCC_ARM

[2020-01-21 03:23] toyowata opened #12285 "HardFault when call thread_sleep_for function with 0 in bare-metal profile"
### Description of defect

I got HardFault crash when parameter of the `thread_sleep_for` set 0 in bare-metal profile.

#### Target(s) affected by this defect ?

FRDM-K64F (possibly any)

#### Toolchain(s) (name and version) displaying this defect ?

GCC_ARM 9-2019-q4-major
ARMC6 v6.11

#### What version of Mbed-os are you using (tag or sha) ?

[code]

#### What version(s) of tools are you using.

[2020-01-21 06:25] ciarmcom commented on #12285
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2512*

[2020-01-21 06:25] ciarmcom commented on #12284
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2513*

[2020-01-21 09:40] michalpasztamobica commented on #11371
@aqib-ublox ,
I got information that upgrading to GCC-9 resolved this issue (thanks for the hint, @maciejbocianski and @fkjagodzinski ).
Could you try it out and let us know if this solved your issue?

[2020-01-21 11:30] cederom opened #12289 "ARM MBED + Qt (GUI for embedded systems)."
This one is about GUI for embedded systems. Just watching the "Get Started with Qt for MCUs 1.0". There is NXP iMX RT1050EVK and STM32F769i mentioned along with Segger J-Link and J-Link OpenSDA Firmware. I was wondering if this is anyhow interesting for ARM MBED OS and DAPLink projects?

Here is a full presentation: https://www.youtube.com/watch?v=fpKO1Z_88pM

Just a hint.. not even a feature requ

[2020-01-21 12:02] teetak01 opened #12290 "crash_log_parser.py does not work with python3"
### Description of defect

[code]

#### Target(s) affected by this defect ?

#### Toolchain(s) (name and version) displaying this defect ?

#### What version of Mbed-os are you using (tag or sha) ?

Mbed OS 5.15.0

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)

Python 3.6.8

Works with Python2.

#### How is this defect reproduced ?

[2020-01-21 13:07] jeromecoutant commented on #12205
Hi @soleilplanet
Any good news ?

[2020-01-21 13:21] jeromecoutant commented on #11955
Should we close this one ?
Thx

[2020-01-21 13:31] LMESTM commented on #12096
@star297 could you find out the root cause of what driver is locking deep sleep ?

If not yet, you should look into this table here:
https://github.com/ARMmbed/mbed-os/blob/master/platform/source/mbed_power_mgmt.c#L100

Please debug your app and look at this table at the time you try to enter sleep() and see what driver is locking it ...

[2020-01-21 13:38] jeromecoutant commented on #11600
Hi
It should be corrected in
https://github.com/STMicroelectronics/STM32CubeH7

[2020-01-21 13:56] jeromecoutant commented on #12104
As #12113 is merged, we close close this one
Thx

[2020-01-21 13:58] jeromecoutant commented on #11416
Hi
Any update?
Regards,

[2020-01-21 14:49] teetak01 opened #12294 "Nucleo F429ZI hardfaults with debug profile, possible due flash cache corruption"
### Description of defect

Priority: Blocker

Compiling device management client example for Nucleo F429ZI with debug profile and GCC_ARM compiler will reliably result in crash.

[code]

Two workarounds allow the target to bootup correctly:

Disabling sleep in hal_code:

[code]

or changing the flash cache at application start in beginning of main.
[code]
or
[code]

#### Target(s) affected by this

[2020-01-21 15:11] teetak01 commented on #12290
@madchutney

[2020-01-21 15:11] kjbracey-arm commented on #12294
I've been working with Teemu - I think we need @ARMmbed/team-st-mcd input.

Symptoms are consistent with the flash cache being corrupted during sleep. When it occurs and doesn't occur isn't clear, but we're currently thinking certain alignments are probably a factor.

In at 2 failing cases we've certainly failed with `PC = 0x......80` and `0x......E0`, so the code looks like

    xxxxxx7A   BL

[2020-01-21 16:26] jeromecoutant commented on #11406
Please review #12295

[2020-01-21 16:53] teetak01 commented on #12294
@kjbracey-arm So it seems playing around with the FLASH->ACR values help to workaround the issue. Also alternatively adding enough NOP() before the __WFI() seems to help also, so this can be alignment issue as you suggested.

Crashing:  80568ea:       bf30            wfi      (default application)
Working:  8056902:       bf30            wfi      (disabling flash cache)
Working:  8056902:       bf

[2020-01-21 17:39] maclobdell opened #12298 "Cypress PSoC 62 boards missing support for managed bootloader"
### Description of defect

When building applications that require managed bootloader (aka. mbed-bootloader) support such as https://github.com/ARMmbed/mbed-os-example-pelion, the application needs to build correctly, without error.

However, as of Mbed OS 5.15.0, there seems to be a new build check that is causing an error.

`Configuration error: Bootloader not supported on this target. RAM start

[2020-01-21 21:11] ciarmcom commented on #12298
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2514*

[2020-01-21 21:11] ciarmcom commented on #12294
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2515*

[2020-01-21 21:11] ciarmcom commented on #12290
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2516*

[2020-01-21 21:12] ciarmcom commented on #12289
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2517*

[2020-01-21 22:10] kyle-cypress commented on #11994
I don't have a strong opinion on whether QPI is enabled (compatibility with some controller hardware aside, #9057 makes a reasonable case that there is questionable benefit).

However, the way the change was implemented does make it appear that the current behavior is the result of a typo rather than intentional.

Should the entire block of code related to QSPIF_BASIC_PARAM_TABLE_QPI_READ_SUPPORT_

[2020-01-22 05:46] michalpasztamobica commented on #11994
Hi @kyle-cypress , how about we move the 1-4-4 option "up" in front of the 4-4-4. It has a break clause, so if it is found it will be used. Then we can move the unwanted 4-4-4 "down", but still let it be used in case other options were not found.

The question I find hard to answer is - where exactly should the 4-4-4 option land: right after 1-4-4? at the very bottom, right before the 1-1-1? Somew

[2020-01-22 06:47] peterkwek commented on #4227
I had also the problem for the LPC54114 device, that I need multiple baudrates like 19200, 115200, 230400 and 460800, not sure if my solution works also on other devices.

A couple of these can be used, all together is hard to use with the fractional rate generator.
So I looked which other CLK sources can be used for using directly by the flexcom interface.
For example the fixed FRO_12, also for t

[2020-01-22 07:25] kjbracey-arm commented on #12294
Do you have evidence of that? Can you make it work at the `ea` alignment with a different ACR value? Those results just show it always working at 00 or 02.

And it seems the address of the BL may not be relevant, only the WFI?

[2020-01-22 12:58] loverdeg-ep commented on #12289
@cederom New community guidelines request that hints, feature requests, questions, be made in the forums.

That being said yeah it's interesting. Check out what @AGlass0fMilk  has been doing with littlevgl and Mbed too.

[2020-01-22 13:18] felipeLeast opened #12301 "Wi-SUN Mbed EAP-TLS not running"
### Description of defect
Wi-SUN Network won't pass Mbed EAP TLS on custom board. I've already tried the same configuration using a dev kit from STM32WB + S2LP and it works, when I tried on my custom board I didn't get an error but during the authentication the program seams to stop working right before EAP-TLS.

#### Target(s) affected by this defect ?
Custom board with STM32WB55RG just like NUCL

[2020-01-22 16:18] pentabarf commented on #10669
In the meantime... is there a simple way to switch back to softdevice? just changing the flags in mbed_lib.json doesn't seem to do the trick.
Is the ble codebase still supporting softdevice?

[2020-01-22 18:06] kleunen commented on #10669
I failed to do so, i had to go a couple of version back to get a working softdevice BLE again.

[2020-01-22 18:27] star297 commented on #12096
After a lot of digging around I found I could put:

in my mbed_app.json file that pointed to an 'un-stopped' Timer right in the middle of my Serial ring buffer function.
This information is in OS docs but not clear as how to implement it and tbh I wrongly assumed baremetal would exclude this locking process.

Stopping that Timer and calling attach(NULL) for the Serial allows the sleep() function t

[2020-01-22 18:27] #12096 closed

[2020-01-22 18:33] star297 commented on #12192
Closing issue as fixed on #12300

[2020-01-22 18:33] #12192 closed

[2020-01-22 20:28] michalpasztamobica commented on #12192
@star297 , let's see if it passes code review and gets merged ;-)

[2020-01-22 21:12] ciarmcom commented on #12301
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2518*

[2020-01-22 22:09] kyle-cypress commented on #11994
My vote would be for either after the 1-4-4 or the 1-1-4. Operating on the premise that the QPI setup overhead may or may not be higher than overhead of sending the address in single mode (hence ambivalence about whether it comes before or after 1-1-4), but QPI will probably be faster than dropping to dual or single mode for data transfer.

[2020-01-22 23:05] AGlass0fMilk commented on #12289
See https://github.com/AGlass0fMilk/mbed-lvgl

Qt sounds pretty heavy (and expensive if for commercial purposes). LVGL is an open-source embedded UI project.

[2020-01-23 07:34] kjbracey-arm commented on #12096
This really has nothing to do with RTOS vs bare metal.

The sleep locking is because the generic HAL specification says that the us_ticker (which backs `Timer`) and the serial_api do not function in deep sleep.

Therefore when you request `sleep()` it chooses shallow sleep to keep your active timer and serial operational.

RTOS idle absolutely must obey that lock to avoid serial loss in normal ope

[2020-01-23 07:41] kjbracey-arm commented on #12096
And I guess then given that application behaviour, where you know `sleep` will always be called with no high-power devices active, you could reduce the "lock count" to a develop/debug function only. Simply assert that the lock count is 0 in `sleep` before entering `hal_deepsleep`, and in release builds, eliminate the counter.

Ah, except that wouldn't work for the "internal" shallow sleeps we use

[2020-01-23 07:49] kjbracey-arm commented on #12096
Further note - as of current Mbed OS master (not sure if it made 5.15) you can do `enable_input(false)` and/or `enable_output(false)` on a `Serial` to suspend it. They temporarily unhooks any TX/RX interrupt handler and if you do both, the HAL is told to power down the serial hardware, which may save more power than just detaching the interrupt.

[2020-01-23 09:23] star297 commented on #12096
Thanks Kevin, makes a lot more sense now, my concern is when Mbed OS absorbs Mbed Classic (v2) at some point. This extra processing is too much for the sub 64k flash MCU's so I've been looking at what can be stripped out to make them usable.

[2020-01-23 09:42] MarceloSalazar commented on #12294
@ARMmbed/team-st-mcd can you please review and comment on this issue asap?
Have you seen this in other cases or know where the problem might be coming from?

The current workaround is to disable sleep as commented by @teetak01 .

[2020-01-23 11:50] #11406 closed

[2020-01-23 19:06] ifyall commented on #10922
FYI that this defect also causes the map.html file in the BUILD directory to report smaller sizes than expected, so it shows up in multiple places.

[2020-01-24 10:18] Zeratuls opened #12309 "STM32L4R5ZI Tickless/Power Management doesn´t work"
### Description of defect
STM32L4R5ZI Tickless does not work properly. Using the debug profile the code works correctly but without going to sleep what is normal. In the case of develop and release profiles when we use ThisThread :: sleep_for (...) or EventFlags the device never wakes up.

#### Target(s) affected by this defect ?
NUCLEO -L4R5ZI

#### Toolchain(s) (name and version) displaying this

[2020-01-24 10:24] LMESTM commented on #12309
@Zeratuls just wondering whether this could be related to CPU stats. Could you try and remove the stats usage (and corresponding STAT configuration) and let us know if the same happens ?

[2020-01-24 10:35] LMESTM commented on #12309
@jeromecoutant
Also would you try removing Serial pc(USBTX, USBRX,115200);
and simply call to printf(); ?
That would be at 9600 bauds by default. Or you may increase the baudrate with mbed_app.json
the objective is to see if the Serial instance is not causing troubles ...

[2020-01-24 10:51] Zeratuls commented on #12309
@LMESTM I have removed the configuration for the STATs in mbed_app.json and I have used the Serial by default (9600 baud). Code:
[code]
The result is the same, it never wakes up.

[2020-01-24 13:06] ciarmcom commented on #12309
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2519*

[2020-01-24 16:23] daniel-starke opened #12311 "Potential Buffer Overrun in CANMessage Constructor"
### Description of defect

The CANMessage constructor takes data and length in two variants. Both variants limit the length to 8 byte when setting the internal length member but fail to use that instead of the unlimited input parameter _len when performing the memcpy() from the passed data pointer. This leads into a potential buffer overrun if an invalid data length is passed to the constructor. I

[2020-01-24 21:10] ciarmcom commented on #12311
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2521*

[2020-01-27 10:01] mprse opened #12313 "ThisThread::sleep_for() issue in bare mode"
#### Description of defect

This issue is a result of investigation failing `tests-mbed_drivers-lp_ticker` and `tests-mbed_hal-rtc` tests in bare metal mode.

Please check the following code which shows the problem:

[code]

Timing tests fail because `OsTimer` (which uses `lp-ticker`) has not been started together with `lp-ticker` in bare metal mode. In the above example every call `ThisThread::sl

[2020-01-27 12:17] AriParkkila opened #12314 "Cellular: UBLOX_N2XX includes mbed.h"
### Description of defect

`UBLOX_N2XX` cellular driver includes [mbed.h](https://github.com/ARMmbed/mbed-os/blob/f469f710bca16abd1c538e48a3bee9db0a8e47e8/features/cellular/framework/targets/UBLOX/N2XX/UBLOX_N2XX.h#L30) that should be avoided, because it creates unnecessary dependencies.

#### Target(s) affected by this defect ?

#### Toolchain(s) (name and version) displaying this defect ?

####

[2020-01-27 12:17] AriParkkila commented on #12314
@ARMmbed/team-ublox

[2020-01-27 13:04] ciarmcom commented on #12314
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2522*

[2020-01-27 13:04] ciarmcom commented on #12313
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2523*

[2020-01-27 15:43] jamesbeyond commented on #12313
Hi @mprse, thanks for the very detailed explanation and investigation, this is really helpful.
Regarding to solution1, is this changes able to be made just for there 2 tests? or you mean `Start the OsTimer at startup` for all bare-metal mode?

[2020-01-27 18:12] mprse commented on #12313
@jamesbeyond The issue is related to bare metal profile. The tests only show the problem. So the first solution is to start OsTimer at startup for entire bare metal mode.

[2020-01-27 20:29] geky commented on #11704
Hi, sorry, had to be away from GitHub for a bit.

I did look into a short term fix (sorry for not updating earlier), but it wasn't going to be as straightforward as it first appears. We could have changed the assert to return LFS_ERR_CORRUPT, but littlefs tries to recover from LFS_ERR_CORRUPT errors in the block device, which would just lead to more corruption of the filesystem tree. We could have

[2020-01-27 21:20] jobshen commented on #11704
@geky thanks for the update.

[2020-01-28 11:30] jamesbeyond commented on #12313
ping @evedon, this is the investigation results for the Baremetal failed test on K64F

[2020-01-28 12:31] Zeratuls commented on #12309
@LMESTM Indeed, it seems that the Serial is responsible. This way it works:
[code]
But with printf it doesn't work. What solution do you propose?

Thanks

[2020-01-28 12:34] LMESTM commented on #12309
@Zeratuls thanks for the update - this is a good hint. This will require further debugging  to understand what happens ... we're trying to have someone in the team have a look at it.

[2020-01-28 12:53] felipeLeast commented on #12301
Found the solution closing issue

[2020-01-28 12:53] #12301 closed

[2020-01-28 12:54] felipeLeast commented on #12279
I've had the same problem, this solved the problem for me!

[2020-01-28 16:59] evedon commented on #12313
I don't think it is unreasonnable to start the OsTimer at startup in bare metal mode. The comment here https://github.com/ARMmbed/mbed-os/blob/master/platform/source/mbed_os_timer.cpp/#L28-LL33 suggests that a system global SysTimer is available for timed sleeps or absolute system timing. I'd rather that the system behaviour in RTOS or non-RTOS mode is similar.

@kjbracey-arm What are your thought

[2020-01-29 07:32] kjbracey-arm commented on #12313
Part of the point of bare metal is to not pay for stuff you're not using.

Starting the timer implicitly before main means (a) pulling in timer code into every image, and (b) paying the power cost for that.

(And in some cases a bare metal build may not be allowed to use the timer - eg secure-side images)

So not actually starting the system timer until it's referenced was a deliberate design choi

[2020-01-29 08:01] kjbracey-arm commented on #12313
I'm actually in progress of C++ chrono-ising this code, and actually, that chrono conversion _almost_ revealed the issue, but I hadn't quite grasped it.

Chrono `time_point` type checking would normally spot the incompatible absolute times. And it did! It effectively noted that the `set_wake_time` function was relying on `SysTimer::time_point` and `TickerClock::time_point` being the same. Chrono c

[2020-01-29 09:46] mprse commented on #12313
I assumed that in the case of RTOS `OsTimer` is started at system startup and it is initializing the HAL ticker, so anyway os tick 0 and ticker 0 ms are consistent.

[2020-01-29 10:12] variablo87 opened #12325 "Cellular Context semaphore release twotimes"
### Description of defect

If the I use `AT_CellularContext::connect()` with `_is_blocking=true` and the State Machine return (to cellular_callback) with a Error after all retrys (final_try), the `_semaphore` is released twotimes.

[code]
At the second Connect after two releases, the function `AT_CellularContext::check_operation` will not wait for the State Machine!!!!

After this i get no correct

[2020-01-29 10:51] kjbracey-arm commented on #12313
I don't think it's specified anywhere that the HAL timers necessarily start at zero. (Am I wrong?)

Plus there's nothing fundamentally stopping the bootloader or some other thing getting them going a few milliseconds before the RTOS init happens.

[2020-01-29 11:16] mprse commented on #12313
You are right. There is no requirement which specifies that ticker starts counting from 0. Only that it continues counting from 0 after rollover:
https://github.com/ARMmbed/mbed-os/blob/f469f710bca16abd1c538e48a3bee9db0a8e47e8/hal/us_ticker_api.h#L83

[2020-01-29 12:59] kjbracey-arm commented on #12313
So, for my chrono version, the fix seems to be to store the starting time as an extra member

    const highres_time_point _epoch;

Then the `set_wake_time` needs to do

    highres_time_point wake_time = _epoch + at.time_since_epoch();

And that now compiles, with the high-res and `SysTimer` clocks decoupled, so that should mean it's correct (right?) :)

I'll make a patch for the current version

[2020-01-29 13:04] ciarmcom commented on #12325
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2524*

[2020-01-29 14:32] eriknayan opened #12328 "PAL Init failed - Mbed Bootloader WB55RG"
### Description of defect
Target can't initialize PAL during bootloader execution.

#### Target(s) affected by this defect ?
STM32WB55RG

#### Toolchain(s) (name and version) displaying this defect ?
GCC_ARM: gcc-arm-none-eabi-9-2019-q4-major

#### What version of Mbed-os are you using (tag or sha) ?
Mbed 5.15

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)
mbed-c

[2020-01-29 15:55] jeromecoutant commented on #12294
Maybe issue could be raised in https://github.com/STMicroelectronics/STM32CubeF4

[2020-01-29 16:02] #12328 closed

[2020-01-30 08:21] #11994 closed

[2020-01-30 13:02] jeromecoutant commented on #10211
Maybe, you should then remove the "device st" label,
and assign the issue to core team ?
Thx

[2020-01-30 15:14] jeromecoutant opened #12337 "BG96 cellular modem doesn't support IPV4V6 ?"
### Description of defect

From
https://github.com/ARMmbed/mbed-os/blob/44add981ff32f72eee6e99cc3b48d32011d06fec/features/cellular/framework/AT/AT_CellularDevice.h#L57
Setting PROPERTY_IPV4V6_PDP_TYPE means modem support IPV4 and IPV6 simultaneously

Ex with BG96:
https://github.com/ARMmbed/mbed-os/blob/44add981ff32f72eee6e99cc3b48d32011d06fec/features/cellular/framework/targets/QUECTEL/BG96/QUECT

[2020-01-30 16:20] ciarmcom commented on #12337
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2525*

[2020-01-30 18:19] felipeLeast opened #12343 "STM32WB55xG Flash data size configuration"
### Description of defect
I was trying to enable KV Store to the 8 last sectors of my flash, and kept giving me the error of invalid flash alignment, despite the fact that my flash has sectors of 4096 bytes and I was using a multiple of that.

After some investigation I found the problem, the file flash_data.h define my flash size to 768Kbytes, but the STM32WB55 have a flash size of 1Mbyte. I don'

[2020-01-30 19:06] se7ensong commented on #12294
I come across this thread when I facing a similar issue. I am using Mbed OS 5.15.0 with IAR EWB 8.42.1. It doesn't always crash, but when it does, it cannot be recovered easily. Previously, I just erase the whole flash. Now, @teetak01 's method works great for me.

A typical error message is:
01-29 13:26:14 UART-RX      DEBUG    logStr=FaultType: HardFault
01-29 13:26:14 UART-RX      DEBUG    logS

[2020-01-30 21:08] ciarmcom commented on #12343
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2526*

[2020-01-30 22:49] yogeshk19 commented on #9773
@0xc0170, @pan-  Is there any progress on this bug? Is there a way to set tx power, when using the LEGACY_ADVERTISING_HANDLE? Plus I am not sure how the current API advertising_power_t which is an int8_t and allows values from -127 to 126. how does this map to the dbm values of nordic which has a maximum of 8 dbm for the NRF52840 BLE module. Also if you don't set the txPower, what does it default

[2020-01-30 23:58] cblack-f3 commented on #9773
I am trying to figure this out too, it seems a bit complicated.  Since this is now part of ble::AdvertisingParameters, does that mean the power setting only applies to advertising?  What about TX power levels during connections?

[2020-01-31 08:23] jeromecoutant commented on #12343
Hi

FLASH is shared for the M4 core (mbed application) and the M0 core (BLE FW).

Limit is not very well documented in ST documents...

I found this:
https://github.com/STMicroelectronics/STM32CubeWB/blob/master/Projects/STM32WB_Copro_Wireless_Binaries/Release_Notes.html

=> stm32wb5x_BLE_Stack_fw.bin (M0 FW binary file) has been flashed at @ 0x080CB000

@LMESTM

[2020-01-31 08:29] LMESTM commented on #12343
I confirm: everything above  @ 0x080CB000 is reserved to the cortex-M0 BLE FW usage and cannot be used by application.

[2020-01-31 09:01] ladislas opened #12346 "Unit Tests - Test #53: platform-ATCmdParser - .test_ATCmdParser_recv failing"
### Description of defect

Test 53 failing on macOS Catalina with a fresh clone of master.

[code]

I've narrowed it down to this line:

[code]

#### Target(s) affected by this defect ?

unit tests

#### Toolchain(s) (name and version) displaying this defect ?

[code]

#### What version of Mbed-os are you using (tag or sha) ?

latest master

#### What version(s) of tools are you using. List all th

[2020-01-31 10:03] star297 opened #12347 "LPC1768 ThisThread::sleep_for() timing issue"
### Description of defect

LPC1768 ThisThread::sleep_for() timing is incorrect.
For instance ThisThread::sleep_for(500) results in sleep time of 5 seconds instead of 500ms.
wait_us() function works correctly.

#### Target(s) affected by this defect ?
LPC1768

#### Toolchain(s) (name and version) displaying this defect ?

Mbed online revision 7208

#### What version of Mbed-os are you using (tag or

[2020-01-31 12:10] leszek-grzegorek opened #12348 "K64F flash bank swapping reboots the board unexpectedly"
### Description of defect
The flash swap handling functionality included in K64F flash driver (fsl_flash.c) sometimes cause the sudden board reboot. The reproducibility is about 20%.
The issue seems to be timing related - when FLASH_Swap() function goes through swap machine states, the reboot takes place in Ready state on call to FLASH_SwapControl() to set next Update state (the call right after s

[2020-01-31 13:01] #12313 closed

[2020-01-31 13:04] ciarmcom commented on #12348
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2527*

[2020-01-31 13:04] ciarmcom commented on #12347
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2528*

[2020-01-31 13:04] ciarmcom commented on #12346
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2529*

[2020-01-31 14:22] maciejbocianski commented on #12346
@jamesbeyond

[2020-01-31 14:45] amitchone opened #12351 "Question: How to reinitialise UART for mbed_debug?"
### Description of defect
Hi there,

I am using the `debug()` function to print a bunch of info/error messages when using the debug build profile. Under specific circumstances I instantiate a `UARTSerial` object in the follow way, where the TX/RX pins are the same as used for the `mbed_debug` UART:

    UARTSerial *_serial;
    _serial = new UARTSerial(TX, RX, BAUD);

My question is a simple one.

[2020-01-31 15:44] amitchone commented on #12351
Or, is there an object I can use instead of the `UARTSerial` object that I create? I'm using it with the `ATCmdParser`.

[2020-01-31 16:20] ciarmcom commented on #12351
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2530*

[2020-02-03 01:06] lauleehong opened #12352 "Greentea SYNC_FAIL using PDMC 2.2.1 Bootloader"
### Description of defect
Having a project with PDMC 2.2.1 bootloader defined in mbed_app.json would cause greentea to fail with SYNC_FAIL issue. My workaround to get greentea working was to remove the bootloader definition in mbed_app.json.

Tagging @soleilplanet

[code]

#### Target(s) affected by this defect ?
Tested on NUCLEO_F767ZI

#### Toolchain(s) (name and version) displaying this defect

[2020-02-03 06:23] ciarmcom commented on #12352
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2531*

[2020-02-03 06:36] soleilplanet commented on #12352
@MarceloSalazar  @chris-styles would you please help? Thanks!

[2020-02-04 03:07] AGlass0fMilk commented on #12351
Hi @amitchone, you may want to check out `mbed_override_console` and `mbed_file_handle` here:

https://github.com/ARMmbed/mbed-os/blob/586341541c9fc1dc05dca154858570e2e0107c97/platform/mbed_retarget.h#L115-L181

It looks like `mbed_debug` uses `printf` to print information out through `stdout`. Using the above functions you can access/retarget the serial instance used for `stdout`.

Let me know if

[2020-02-04 08:40] MarceloSalazar commented on #12352
@lauleehong can you please test on Windows and share the logs?
We'd like to understand whether this is related to https://github.com/ARMmbed/mbed-os/issues/4301

[2020-02-04 09:23] 0xc0170 commented on #12351
Thanks @AGlass0fMilk  for the help.

I'll close this as this is a question (use forum please).

[2020-02-04 09:23] #12351 closed

[2020-02-04 09:35] lauleehong commented on #12352
The above greentea test was ran on Ubuntu 18.04 LTS

[2020-02-04 10:33] amitchone commented on #12351
Thanks @AGlass0fMilk, `mbed_file_handle` was exactly what I was looking for.

[2020-02-04 10:34] 0xc0170 commented on #12311
@daniel-starke Thanks for the report. Can you please send a pull request fixing this issue?

[2020-02-04 10:34] 0xc0170 commented on #12298
cc @ARMmbed/team-cypress Please review

[2020-02-04 10:53] 0xc0170 opened #12360 "PR #12225 broke ARMCC for LPC1768 - heap symbol not defined"
### Description of defect

This PR most probably broke the LPC1768 build: https://github.com/ARMmbed/mbed-os/pull/12225/files#diff-69c41b8becb0d25b48320173a11f0b82R113 (from PR #12225)

It changes the mbed sdk boot code file. This is the error:

[code]
The tests failed also in the PR (CI failed to report red, it passed but if you check artifacts, the error is there).

@ARMmbed/mbed-os-core Please

[2020-02-04 11:00] 0xc0170 commented on #12360
ARCH PRO as well. Based on the same MCU.

There are more errors in the build however not related to the PR itself, I'll create new issues for these.  But please verify that only ARMCC and only LPC176x based were affected.

[2020-02-04 11:30] 0xc0170 opened #12361 "OKDO odin driver - ARM in nightly error hciCmdAlloc not defined"
### Description of defect

There are failures in nightly for OKDO_ODIN_W2 target. It affects only ARM driver (the binary in the tree). This is the error:

[code]

The latest nightly can be found here :http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/458/build-ARM/FAIL/OKDO_ODIN_W2/

The latest update for the target was 2 mo

[2020-02-04 13:05] ciarmcom commented on #12361
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2532*

[2020-02-04 13:05] ciarmcom commented on #12360
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2533*

[2020-02-04 14:16] jeromecoutant commented on #12343
@felipeLeast
Is information OK for you ?

[2020-02-04 18:36] MarceloSalazar commented on #12361
I'm able to reproduce this issue on the OKDO_ODIN_W2 - it happens with Mbed OS master (0b7c78be8a2e663a8d5ffb1843637af23476c116), not 5.15.0.
There must be something that landed recently and has caused this build problem, but I can't say what (yet).

However, the UBLOX_EVK_ODIN_W2 (own & maintained by Ublox) compiles just fine. Both are inherited from MODULE_UBLOX_ODIN_W2.

Is there a way to track

[2020-02-05 07:56] zhiyong80 opened #12367 "EthernetInterface on Arch_max board doesn't update connection status"
### Description of defect
EthernetInterface is supposed to mange and report connection status automatically, this seems to be the case on K64F board but not on ARCH_MAX board. When ethernet cable is unplugged after EthernetInterface initialization, calling get_connection_status() still returns NSAPI_STATUS_GLOBAL_UPNSAPI_STATUS_GLOBAL_UP/1.

When an Ethernet cable is unplugged, EthernetInterface i

[2020-02-05 08:01] kjbracey-arm commented on #12279
Duplicate of https://github.com/ARMmbed/mbed-os/issues/11732

[2020-02-05 10:06] MarceloSalazar commented on #12221
Note we're waiting from Arm to comment and confirm how to proceed.

[2020-02-05 10:40] 0xc0170 commented on #12361
Thanks for checking, I realized this might be reviewed by different team . What is the team on github to be mentioned here?

I can see this has already a fix 👍

[2020-02-05 10:43] MarceloSalazar commented on #12361
I'm working on this.
Note this platform support comes from an MTB reference design.
We should be enabling build checks on PRs to avoid this kind of issues happening again. Can you help with this?

[2020-02-05 11:07] 0xc0170 commented on #12361
@ARMmbed/mbed-os-test Can you please review this issue? We had recently an issue with CI failure propagation so there could be a breakage hidden like this one.

[2020-02-05 11:26] #12360 closed

[2020-02-05 13:04] ciarmcom commented on #12367
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2534*

[2020-02-05 13:38] amq opened #12371 "EFM32: pinmap test fails"
### Description of defect

`tests-mbed_hal-pinmap` always fails on EFM32. The LED shows the mbed crash pattern after I run it. Other tests apart of https://github.com/ARMmbed/mbed-os/issues/12373 are fine.

It errors out at `gpio_pinmap` with:
[code]

If I comment out `gpio_pinmap`, then the test fails at `gpio_irq_pinmap`, also with a crash.

Related to https://github.com/ARMmbed/mbed-os/pull/944

[2020-02-05 16:20] ciarmcom commented on #12371
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2535*

[2020-02-05 16:56] amq opened #12373 "EFM32: sleep manager test fails"
### Description of defect

`tests-mbed_hal-sleep_manager` _almost_ always fails on EFM32. Other tests apart of https://github.com/ARMmbed/mbed-os/issues/12371 are fine.

It errors out at the `sleep_auto` case with:
[code]

If I comment-out the `sleep_auto` case, then the suite succeeds.

Related to https://github.com/ARMmbed/mbed-os/pull/7582

#### Target(s) affected by this defect ?

Verified on

[2020-02-05 17:19] amq opened #12374 "EFM32: RTC test fails"
### Description of defect

`tests-mbed_hal-rtc` always fails on _some_ EFM32 targets. Other tests apart of https://github.com/ARMmbed/mbed-os/issues/12371 and https://github.com/ARMmbed/mbed-os/issues/12373 are fine.

It errors out at the `RTC - sleep` case with:
[code]

If I comment-out `RTC - sleep`, the next failing case is `RTC - range`:

[code]

Related to https://github.com/ARMmbed/mbed-os/c

[2020-02-05 20:21] gitgonewithwind opened #12375 "how to autostart a script on board pico-imx7-technexion"
Hi I built mbed-os image with optee_os  on boad pico-imx7-technexion
there is no /etc/init.d folder, no rc.local, no /etc/rc5.d ... these  kind of folders.

How can I autostart a script?

I add my script in /etc/profile, after reboot, not running! I only can ssh to login to trigger it running.

any help?

[2020-02-05 20:34] kyle-cypress commented on #12298
If I understand the discussion in #10892 correctly, the missing values in question are mbed_rom_start and mbed_rom_size. @maclobdell , can you please confirm?
If so, these values were removed in bf00ebe4090144ee2f34ba2067f65fcb6317b5f9 by @hennadiykytsun . Hennadiy, can you please comment on what you think the right thing is to do here?

[2020-02-05 20:47] mmahadevan108 opened #12376 "Issue running blinky applcation on RT1050"
### Description of defect
The [blinky application](https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky//file/d323dd088ba2/main.cpp/)  on line 21 puts the platform to sleep in a while loop.

On RT1050 this will trigger a deep sleep. This causes failures with drag-n-drop operations as DAPLink uses soft-reset to halt the target and is unable to halt the target.

#### Target(s) affe

[2020-02-05 20:47] mmahadevan108 commented on #12376
cc @maclobdell

[2020-02-05 21:08] ciarmcom commented on #12376
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2536*

[2020-02-05 21:08] ciarmcom commented on #12375
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2537*

[2020-02-05 21:09] ciarmcom commented on #12374
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2538*

[2020-02-05 21:09] ciarmcom commented on #12373
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2539*

[2020-02-06 01:35] felipeLeast commented on #12343
@jeromecoutant I understood why would have it, but the mbed-os does use the ble stack from ST or just ignores it and implements the ble Cordio on top of it?

@LMESTM About being reserved to cortex-M0, by changing that variable I was able to use that space for KVStore. I couldn't create a big program yet that would use all that flash space, but for KVStore it wasn't a problem at least on my test.

[2020-02-06 04:59] eg-astrouka commented on #12367
Generated by CubeMX code gives correct link status for the same board:
[code]
Running mbed code gives PHY_BSR register value always = 0xFFFF

[2020-02-06 08:14] LMESTM commented on #12343
Ok that might depend on the option bytes and level of security that has been applied to the target.  So if this is not secured and you don't stat BLE, yes theoretically, you could use the whole flash. But what's the point of buying a BLE enabled target, with BLE subs-system, and not use it ? Better move to STM32L4 family ...

 Our recommendation is really to consider that this part of flash is res

[2020-02-06 10:22] hennadiykytsun commented on #12298
Previously it was the issue with the additional area allocation for the CM0+ image in the CM4 image, even if CM0+ component not selected.
We have fixed this issue in the linker scripts.
So, if someone going to customize ROM/RAM/APP size from the targets.json- he is responsible to customize the all following macros:
MBED_APP_START
MBED_APP_SIZE
MBED_ROM_START
MBED_ROM_SIZE
MBED_RAM_START
MBED_RAM_S

[2020-02-06 10:45] 0xc0170 commented on #12373
cc @ARMmbed/team-silabs @fkjagodzinski

[2020-02-06 10:46] 0xc0170 commented on #12376
@mmahadevan108 what deep sleep state is it entering? Is there any more "shallow" deep sleep that would not break daplink functionality?

[2020-02-06 10:47] amq commented on #12371
The solution is to change
[code]
to
[code]
in `PinNames.h`. I'll create a PR shortly.

[2020-02-06 10:49] 0xc0170 commented on #12375
This is not proper bug report neither related to this repository based on the information. If it is related to Mbed OS , please use forum.mbed.com for questions.

Please follow the issue template and fill in details needed for us to be able to help if you found a bug.

I'll close this non-issue.

[2020-02-06 10:49] #12375 closed

[2020-02-06 10:49] 0xc0170 commented on #12361
Fixed via #12370

[2020-02-06 10:49] #12361 closed

[2020-02-06 10:51] 0xc0170 commented on #12268
Fixed via #12282

[2020-02-06 10:51] #12268 closed

[2020-02-06 12:26] jeromecoutant commented on #12337
@AriParkkila

[2020-02-06 13:13] 0xc0170 commented on #12367
cc @toyowata @ARMmbed/mbed-os-ipcore

[2020-02-06 13:20] 0xc0170 commented on #12374
cc @ARMmbed/team-silabs

[2020-02-06 13:21] jeromecoutant opened #12381 "CELLULAR: IP connection context not cleared after issue"
### Description of defect

I think delete_current_context is never called in:

https://github.com/ARMmbed/mbed-os/blob/44add981ff32f72eee6e99cc3b48d32011d06fec/features/cellular/framework/AT/AT_CellularContext.cpp#L586-L587

as when err becomes not equal to NSAPI_ERROR_OK, find_and_activate_context function is returned before:

https://github.com/ARMmbed/mbed-os/blob/44add981ff32f72eee6e99cc3b48d3

[2020-02-06 13:33] felipeLeast commented on #12343
@LMESTM Yes I can see your point, my doubt was regarding the cordio and the STM ble. Because, in the past I was using the NRF52, and they have the softdevice as well, but on mbed they don't use that and use only the cordio api. I thought it might be the same here. Then for that reason I might be able to use the BLE flash section.

[2020-02-06 13:50] mmahadevan108 commented on #12376
DAPLink is using soft-reset to HALT the target, hard-reset to HALT the target does not work on MXRT1050.
I am already using one of the shallower deep sleep modes to meet mbed-os latency requirements.

[2020-02-06 14:03] LMESTM commented on #12343
@felipeLeast
Ok I get your point as well now.
- in mbed STM32WB relies on Cordio stack and API (above HCI) and not the STM32WPAN middleware from the ST standard CubeFW solution.
- but the BLE controller firmware running on cortex-M0 is by default the same as in cubeFW solution and it is always required. In mbed the controller will run only the below-HCI part. In cubeFW it can run also up to GATT /

[2020-02-06 14:27] 0xc0170 commented on #12285
cc @ARMmbed/mbed-os-core

[2020-02-06 14:29] 0xc0170 commented on #12276
cc @ARMmbed/mbed-os-wan

[2020-02-06 14:30] 0xc0170 commented on #12232
@JojoS62 Lets simplify this issue. It won't move anywhere with the current scope

Besides ST driver, if there are any other, please create separate issues. I'll close this one.

[2020-02-06 14:30] #12232 closed

[2020-02-06 14:31] 0xc0170 commented on #12277
cc @ARMmbed/mbed-os-wan @ARMmbed/team-ublox

[2020-02-06 14:32] 0xc0170 commented on #12277
@MrkCDGHub Can you leave the issue template, is there for a reason (we can use the data from sections, etc). Thanks

[2020-02-06 14:34] 0xc0170 commented on #12371
Thanks @amq !

[2020-02-06 14:50] AnttiKauppila commented on #12277
@ARMmbed/team-ublox Could you check this?

[2020-02-06 14:59] felipeLeast commented on #12343
Gotta it! Thank you!

[2020-02-06 15:01] MrkCDGHub commented on #12277
I have an update:
The reason I was unable to establish a connection was apparently because IPv6 is not routable through lwip, so it must be set to IPv4.
I made the following modifications to my mbed_app.json file:
            "lwip.ipv4-enabled": true,
            "ppp.ipv4-enabled": true,
            "lwip.ipv6-enabled": false,
            "ppp.ipv6-enabled": false,

and now I am able to reliably

[2020-02-06 15:29] zhiyong80 commented on #12367
Can anyone try it on NUCLEO_F429ZI or other STM32F4 based boards? Arch_max reuses a lot of code that was designed for another ethernet phy(lan8472) on DP83848. There might be some subtle differences. For one, MDIO on DP83848 actually requires a pullup resistor to work but once that resistor is installed, Arch_max based boards will stop working.

[2020-02-06 15:53] 0xc0170 commented on #12346
Only on MacOS ? we haven't seen this failures, have we? cc @ARMmbed/mbed-os-wan

[2020-02-06 15:56] maciejbocianski commented on #12346
@jamesbeyond ping

[2020-02-06 16:03] 0xc0170 commented on #12279
If that is the case, please @AlefeFelipe update #11732. I'll close this

[2020-02-06 16:03] #12279 closed

[2020-02-06 16:05] 0xc0170 commented on #12337
cc @ARMmbed/mbed-os-wan

[2020-02-06 16:15] 0xc0170 commented on #12284
Thanks @nat45928 for the report. The referenced issue was closed, can you confirm this is fixed now?

[2020-02-06 16:16] 0xc0170 commented on #12290
cc @ARMmbed/mbed-os-core you could help? It's been added by core team a while back

[2020-02-06 16:17] ciarmcom commented on #12276
This issue is on our backlog, but given our current priorities we can make no
commitment to address this in the near term.

As an open source project, we welcome fixes to Mbed OS, so we have opened this
issue up for community contribution.

If this is an issue you think you could address yourselves, then we'd welcome the
contribution. Please see our guidelines here -
https://os.mbed.com/docs/mbed-

[2020-02-06 16:19] 0xc0170 commented on #12289
👍  Let's close this and move to forum.mbed.com

Thanks for sharing!

[2020-02-06 16:19] #12289 closed

[2020-02-06 16:20] ciarmcom commented on #12381
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2540*

[2020-02-06 16:27] 0xc0170 commented on #12325
cc @ARMmbed/mbed-os-wan

[2020-02-06 16:29] AnttiKauppila commented on #12337
Newer FW version of BG96 (BG96 Revision: BG96MAR02A07M1G) has the support for it

[2020-02-06 16:29] #12337 closed

[2020-02-06 16:30] 0xc0170 commented on #12348
This is 3rd party driver related (flash in this case) ? You might get quicker response on NXP forums (as it does not relate to Mbed OS. Although I can see flash_init call there).

cc @ARMmbed/team-nxp

[2020-02-06 16:35] jeromecoutant commented on #12337
This is not a question of BG96 support or not.
Question is:
- in 1 file, you can explicitly specify PROPERTY_IPV4V6_STACK to 0 meaning that you don't support both IPV4 or V6 as explained
- in other file, PROPERTY_IPV4V6_STACK is set to 1...

[2020-02-06 17:33] maclobdell commented on #12348
I don't think the Kinetis flash swap feature has been tested when running Mbed OS, but NXP forums might be able to help.
By the way, a long time ago when I was at Freescale, I wrote an application note about this feature.
http://cache.freescale.com/files/microcontrollers/doc/app_note/AN4533.pdf

[2020-02-06 18:20] jamesbeyond commented on #12346
Yep, I can reproduce this issue. the test got a segmentation fault error on Mac, but works fine with ubuntu. I'll try to figure out the root cause of this

[2020-02-06 20:11] maclobdell commented on #12191
@AGlass0fMilk - any updates on this from your side?

[2020-02-07 06:33] fahim-ublox commented on #12277
Internal reference PGM_NO_MBD-322: Customer unable to escape from PPP data mode back to command mode. We will update you shortly

[2020-02-07 07:07] soleilplanet commented on #11954
Hi @jeromecoutant
Sorry for the late update. I just applied all defaults from L486RG and it is still the same (stack overflow).
I've tried PDMC and the blinky example and both are the same.

[2020-02-07 07:17] soleilplanet commented on #11955
I'm ok with the baud/format reset in uart input enable as a solution since anyway we need to do it every time the device goes into deep sleep and then wake up. @kjbracey-arm should we close this one?
Thanks!

[2020-02-07 12:05] 0xc0170 commented on #12347
cc @ARMmbed/team-nxp @toyowata

[2020-02-07 13:40] leszek-grzegorek commented on #12348
@0xc0170 : yes, in fact the flash swap functionality is provided with flash driver only and it is Freescale copyrighted.
@maclobdell : I was afraid that this part have not been tested in Mbed OS, because this issue would have been noticed earlier. The document you linked I have read before I realized that swap functionality is available in driver. BTW, I noticed is that FLASH_Swap() driver functio

[2020-02-07 13:45] mmahadevan108 commented on #12348
The only thing I could suggest is to try updating the SDK flash driver in mbed-os for K64F to the latest available at mcuxpresso.nxp.com

[2020-02-07 14:32] jamesbeyond opened #12390 "ATHandlers Unittest generate a segfault on Mac OS and Windows"
### Description of defect
While testing on Unittest framework, on Mac OS and Windows, on an issue been noticed:
After https://github.com/ARMmbed/mbed-os/pull/12305 merged
Unittest throw segfault on `TstATHandler.test_ATHandler_read_bytes`
@kivaisan

The Segfault only happen on Mac OS and Windows, Ubuntu seems fine, that's why it didn't catch by CI. Maybe we need to run our CI unittest on Windows p

[2020-02-07 14:49] jamesbeyond commented on #12346
however, this just happened as well: https://github.com/ARMmbed/mbed-os/issues/12390

[2020-02-07 16:19] ciarmcom commented on #12390
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2541*

[2020-02-08 00:50] toyowata commented on #12347
@star297 Thanks you for your report.

I've quickly tested with your test case and got result below:

[code]

Both `ThisThread::sleep_for` and `wait_us` functions work as expected.

I thought the LPC1768 interface firmware had an issue about semihosting interface.  Can you check your firmware of the LPC1768?

https://os.mbed.com/platforms/mbed-LPC1768/#firmware

[2020-02-08 01:16] zhiyong80 commented on #12367
@toyowata Thanks for testing on F429ZI. Mine won't come in until Monday.

From what I can see, arch_max uses the same EMAC driver as other STM32F4. That driver was designed for a different ethernet phy.

Is there anyway to patch up the possible difference between DP83848 and LAN8472?

[2020-02-08 08:56] star297 commented on #12347
You are correct, it was the interface firmware.
I would not have thought to look there.
I'll close this issue.

[2020-02-08 08:56] #12347 closed

[2020-02-10 03:22] zhiyong80 commented on #12367
@eg-astrouka found the problem is
line 46 in /features/netsocket/emac-drivers/TARGET_STM/stm32xx_emac.cpp
[code]
Pin PHYAD0 of LAN8742 on F429ZI board is pulled down therefore uses 0x00 as phy address. Pin PHYAD0 of DP83848 is internalled pulled up and let float on Arch_max board, therefore uses 0x01 as phy address.

Once line 46 changed to the following:
[code]
The test code running on arch_max c

[2020-02-10 07:56] leszek-grzegorek commented on #12348
@mmahadevan108 : Ok, I will give it a try. Thank you.

[2020-02-10 09:36] jeromecoutant commented on #12343
Hi
Maybe we can close this point ?
Note I add some comments from this issue in the readme file in #12384

[2020-02-10 10:29] kivaisan commented on #12390
@jamesbeyond Fix is now merged. Please verify.

[2020-02-10 13:18] #12285 closed

[2020-02-10 23:35] jamesbeyond commented on #12390
the issue has been fixed

[2020-02-10 23:35] #12390 closed

[2020-02-10 23:36] jamesbeyond commented on #12346
The issue has been fixed

[2020-02-10 23:36] #12346 closed

[2020-02-11 07:39] FilipeChagasDev commented on #3020
Do you have this port? Could you share the target code?

[2020-02-11 09:31] pilotak commented on #12250
I have managed the bring v2.1.4 to up to date OS, fixed most of the test with travis, please could you have a look at it? https://github.com/ARMmbed/mbed-littlefs/pull/14

This is a great opportunity to bring LittleFS v2 to OS6

@NadyaARM @0xc0170

[2020-02-11 09:46] 0xc0170 commented on #12250
@pilotak Thanks for sharing the effort !

cc @ARMmbed/mbed-os-storage

[2020-02-11 10:02] 0xc0170 commented on #12381
The fix was merged, closing this issue.

[2020-02-11 10:02] #12381 closed

[2020-02-11 10:37] LMESTM commented on #12309
@Zeratuls sorry for the delay ...

Not much progress here, neverthless let me share one observation. The board doesn't crash, it seems that there is "only" an issue with Serial configuration after deep sleep. The below code demonstrates it because the prints don't work after deep sleep, but the LED blinking continues ...

[code]

[2020-02-11 11:24] choeecs27 commented on #8277
For my case, I replaced with the following and it would continue the build (but eventually failed for something else)
ASM_FLAGS += ../mbed_config.h

[2020-02-11 11:46] 0xc0170 commented on #12284
Closed as resolved

[2020-02-11 11:46] #12284 closed

[2020-02-11 15:45] CodingGhost commented on #11251
@0xc0170 any ETA on when this will get Implemented? our Product really needs OTA, and we are stuck on MBED pre cordio until it is possible, I think there are many others that have the same problem.

[2020-02-11 16:21] LMESTM commented on #12309
@Zeratuls
Update: proposed fix delivered in #12409
For sake of clarity in the future or for other users, could you update your Issue title with something like "STM32L4R5ZI printf doesn't work with Tickless/PowerManagement"

[2020-02-11 21:02] loverdeg-ep commented on #12352
@trowbridgec

[2020-02-12 08:14] matsujirushi opened #12412 "nsapi_ppp_connect failed on EC21"
### Description of defect

When [this sample code](https://github.com/ARMmbed/mbed-os-example-cellular) is run on the EC21 module, the following error occurs.

`nsapi_ppp_connect failed`

An error occurs the first time, but the second time automatically retried succeeds.
[log.txt](https://github.com/ARMmbed/mbed-os/files/4190593/log.txt)

#### Target(s) affected by this defect ?

QUECTEL/EC2X ([he

[2020-02-12 09:48] 0xc0170 commented on #12412
cc @ARMmbed/mbed-os-wan

[2020-02-12 09:53] 0xc0170 opened #12413 "Nightly: baremetal example does not compile for LPC176x"
### Description of defect

There was PR 27 merged, here is it : https://github.com/ARMmbed/mbed-os-example-blinky-baremetal/pull/27. It was integrated yesterday. Nightly from the last night contains failures related to this changes.

[code]

The latest nightly: http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/464/

I can se

[2020-02-12 10:12] 0xc0170 opened #12414 "Nightly: K66F and NUCLEO_F429ZI fail to build some examples"
### Description of defect

The logs show failures for K66F and NUCLEO_F429ZI in the latest nightly, see http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/464/build-IAR/FAIL/

However, I can't find any code change in the examples within the last day, neither in Mbed OS that could affect these. Previous nightly does not contai

[2020-02-12 10:17] 0xc0170 commented on #12414
K66F , IAR (only IAR fails):

[code]

[code]

Same failures for NUCLEO_F429ZI. These are the failures there. Config failing but if we haven't changed the config in the examples, was this changed in the CI?

[2020-02-12 10:18] 0xc0170 commented on #12414
cc @mbed-os-wan - just in case if they know what could have changed yesterday

[2020-02-12 10:22] 0xc0170 commented on #12414
This is not just nightly, affects now CI PRs as well, see https://github.com/ARMmbed/mbed-os/pull/11942

[2020-02-12 10:29] 0xc0170 commented on #12414
Note to all of you, we won't run any CI until this is fixed as build fails

[2020-02-12 10:59] timovanasten opened #12416 "EMACInterface::connect() always succeeds with an incorrect PHY address"
### Description of defect

We use a custom board based on the NUCLEOF767ZI, but we've used another PHY transceiver than the one on the NUCLEO for the Ethernet connectivity. We had to change the PHY address for this but noticed that `EMACInterface::connect()` always returns 0 (i.e. success) when using an incorrect PHY address.  I think the desired response should be an error in this case. We suspec

[2020-02-12 11:25] mikaleppanen commented on #12412
@matsujirushi could you enable the PPP traces on /mbed-os/features/netsocket/ppp/mbed_lib.json and take a log file:

        "debug": {
            "help": "Enable debug traces for PPP",
            "value": false,                                                              <---------- change to true
            "macro_name": "PPP_DEBUG"
        },
        "enable-trace": {
            "help": "E

[2020-02-12 11:30] evedon commented on #12413
Indeed. Small C library is only supported in a few targets at the moment https://github.com/ARMmbed/mbed-os/blob/master/TESTS/configs/baremetal.json/#L41-L58
 "mbed_app.json` can be modified similarly as above until the feature is supported on all targets.

[2020-02-12 11:53] michalpasztamobica commented on #12414
I tried to build this locally with:
[code]
But every time the compilation succeeded. I tried example@5.15 and example@master each time with mbed-os at latest master.
CI must be doing something differently.

[2020-02-12 12:35] 0xc0170 commented on #12416
cc @ARMmbed/mbed-os-ipcore

[2020-02-12 13:03] michalpasztamobica commented on #12416
Hi @timovanasten .
Please check https://github.com/ARMmbed/mbed-os/pull/12405. Seems like we may need to add another "target_override" for NUCLEOF767ZI?

[2020-02-12 13:04] ciarmcom commented on #12416
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2542*

[2020-02-12 13:04] ciarmcom commented on #12414
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2543*

[2020-02-12 13:04] ciarmcom commented on #12413
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2544*

[2020-02-12 13:04] ciarmcom commented on #12412
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2545*

[2020-02-12 13:13] timovanasten commented on #12416
@michalpasztamobica That would definitely be a nice option to have. Right now we need to dig into the drivers ourselves which seems a bit hacky. It doesn't solve the issue about the return value of the connect() function not representing the actual situation if it is wrongly configured though.

[2020-02-12 13:17] michalpasztamobica commented on #12416
You're right. But to check the return values of ST driver functions, we may need to ask someone from ST. @LMESTM , can you give us a hand with this? @0xc0170 , I can see `team-st-mcd` tag, but I am not sure what MCD stands for, so I don't dare to use it, so that I don't bother some innocent people...

[2020-02-12 13:23] michalpasztamobica commented on #12414
I can reproduce the other CI failure:
[code]
Could this influence subsequent builds in any way?

[2020-02-12 13:42] 0xc0170 commented on #12414
@michalpasztamobica baremetal failures are being tracked here #12413 . They should not affect but can't rule that one out.

[2020-02-12 13:43] 0xc0170 commented on #12413
@evedon Can you send PR fixing it ?

[2020-02-12 13:46] jeromecoutant commented on #12416
Hi
I also think #12405 is solving this issue ?
You then just need to add in your mbed_app json file something like
    "stm32-emac.eth-phyaddr": 1

[2020-02-12 13:49] 0xc0170 commented on #12413
K66F supports it ? @michalpasztamobica was not able to build it, see https://github.com/ARMmbed/mbed-os/issues/12414#issuecomment-585202621

[2020-02-12 13:50] jeromecoutant commented on #12416
@michalpasztamobica
Yes you can use @ARMmbed/team-st-mcd alias :-)
MCD is the ST entity in charge of STM32 support

[2020-02-12 14:04] evedon commented on #12413
There is no support for small C library with IAR.

[2020-02-12 14:15] michalpasztamobica commented on #12416
@jeromecoutant , I think @timovanasten still has a point, that in case of invalid PHY_ADDR the value returned from `HAL_ETH_ReadPHYRegister` should be some error code, rather than `b'111111`...
The function returns `HAL_StatusTypeDef`, perhaps it would be good to detect the issue and return `HAL_ERROR    = 0x01U`?

[2020-02-12 14:24] 0xc0170 commented on #12413
True, so baremetal example should not be built with IAR then, this should be fixed in Mbed OS. I'll send PR shortly

[2020-02-12 14:31] 0xc0170 commented on #12413
fix #12418

[2020-02-12 15:03] mark-edgeworth commented on #12290
I've put up a fix for this under https://github.com/ARMmbed/mbed-os/pull/12419

[2020-02-12 15:09] 0xc0170 commented on #12414
Most likely fix for #12413 will also resolve this. I'll close this one once confirmed.

[2020-02-12 16:12] #12414 closed

[2020-02-12 16:12] 0xc0170 commented on #12413
Fixed via https://github.com/ARMmbed/mbed-os-example-blinky-baremetal/pull/28

[2020-02-12 16:12] #12413 closed

[2020-02-12 17:18] jeromecoutant commented on #12416
Something like this ?
https://github.com/jeromecoutant/mbed/commit/f6059c17473e37f76ae2893f450fbc43899113c0

[2020-02-12 17:46] timovanasten commented on #12416
@jeromecoutant Just quickly checked out your commit, but it seems like the connect() method still returns 0 while using the wrong PHY address

[2020-02-12 17:57] timovanasten commented on #12416
Just checked that `HAL_ETH_ReadPHYRegister` returns `HAL_OK` with a wrong PHY address

[2020-02-12 21:11] thendrickson commented on #10862
Any update on this issue? I'm seeing this same thing in 5.15.1

[2020-02-13 00:35] matsujirushi commented on #12412
@mikaleppanen I got logs and attached.
[log-good.txt](https://github.com/ARMmbed/mbed-os/files/4195925/log-good.txt)
[log-bad.txt](https://github.com/ARMmbed/mbed-os/files/4195927/log-bad.txt)

[2020-02-13 01:51] matsujirushi opened #12423 "Cellular/AT: Get the real-time clock of the MT"
It's feature request.

I need time synchronization.
There is a method of synchronizing with the ntp server, but packet charges will be incurred.
Could you add a function to get the MT time with AT+CCLK?

[2020-02-13 06:23] ciarmcom commented on #12423
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2546*

[2020-02-13 09:45] #12309 closed

[2020-02-13 09:47] #12290 closed

[2020-02-13 11:10] Zeratuls commented on #12309
@LMESTM
Thanks for the fix!!!

[2020-02-13 13:09] 0xc0170 commented on #12423
@matsujirushi Please redirect feature requests to https://forum.mbed.com/ .

I'll close this one.

[2020-02-13 13:09] #12423 closed

[2020-02-13 16:26] jeromecoutant commented on #12416
@timovanasten
Could you try https://github.com/jeromecoutant/mbed/commit/8abf2a76332966727e69281ab922384d5ffd02fe ?
Thx

[2020-02-13 21:12] sr425 commented on #12191
We invested quite some time, but could not find anything relevant in the (very long) iOS trace and also nothing relevant was shown on the serial output.

[2020-02-14 02:00] desmond-blue commented on #12191
@sr425 Still no OTA trace can be shared?

[2020-02-14 06:35] AriParkkila commented on #12412
@matsujirushi It looks like modem is still looking for APN in failure cases. Can you set `"trace-level": "TRACE_LEVEL_DEBUG"` to see why it's goes to "Attaching network" state even though there is still "RSSI unknown". You could also clear excessive context (`AT+CGDCONT=CID`), especially the context with ID 2 as it seems to be active (+CGACT: 2,1) before the modem is attached to the network.

[2020-02-14 08:21] #11428 closed

[2020-02-14 10:16] maciejbocianski opened #12434 "nightly: CY8CPROTO_062_4343W target failed at sleep/deep sleep test"
### Description of defect

Sleep test are failing on CY8CPROTO_062_4343W.
It looks that it fail to enter deep sleep due to uart.
I thought it was already fixed by introducing uart flush wait time ?
https://github.com/ARMmbed/mbed-os/blob/bac5ffec85857a02133efefa110bf9e355b2a30a/TESTS/mbed_hal/sleep/sleep_test_utils.h#L32-L45

@dustin-crossman
Does the issue described here (https://github.com/ARMmb

[2020-02-14 10:26] 0xc0170 commented on #12434
cc @ARMmbed/team-cypress

[2020-02-14 11:36] mudassar-ublox commented on #12277
I have checked with [mbed-os-example-cellular](https://github.com/ARMmbed/mbed-os-example-cellular) and its working fine and we can exit from data mode and able to send commands. After successfull communicaion modem return code `NO CARRIER` after that modem starts reponding `AT `commands, logs are attached.

Additionally I saw same issue when using manual AT commands that modem doesn't exit data m

[2020-02-14 11:39] froeba opened #12435 "Drivers: Mbed application shield fails in Mbed OS 5.15.0 - LCD Screen SPI interface"
### Description of defect

Using the sample code for the C12832 LCD screen on an Mbed Application Shield:
* https://os.mbed.com/components/mbed-application-shield/
* https://os.mbed.com/users/sarahmarshy/code/app-shield-LCD/

This causes an error at runtime as one of the pins is set to NC

[code]

This appears to be due to the SPI in C12832 being declared with `miso == NC` which was acceptable in

[2020-02-14 13:03] ciarmcom commented on #12435
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2547*

[2020-02-14 13:03] ciarmcom commented on #12434
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2548*

[2020-02-14 13:21] MrkCDGHub commented on #12277
When you indicate "we can exit from data mode and able to send commands", I assume that you mean you have completed the data transfer and closed the PPP connection. You were not able to exit Data mode with the PPP connection still in place via some method other than ~+++ or +++ and send AT commands. Is that accurate?

[2020-02-14 18:01] dustin-crossman commented on #12434
Increasing the sleep time fixed an issue where some tests were failing when Greentea was run with a 9600 baudrate. See the issue here: https://github.com/ARMmbed/mbed-os/issues/11909
The sleep failures are similarly caused by the UART preventing the board from entering sleep but it is a separate and distinct issue not resolved by increasing the wait time.
In the meantime we are evaluating a fix fo

[2020-02-14 19:44] dustin-crossman opened #12439 "FlashIAP::init - Possible memory leak/OOM error"
### Description of defect
If a targets flash_init() returns an errror, FlashIAP::init() will catch this and set its own return code properly, however, it does not return early. As a result it will call get_page_size() and then use new to allocate a page.
This can lead to two problems:
1. If new allocates successfully a memory leak may occur because the user will not expect (and should not be expec

[2020-02-14 21:08] ciarmcom commented on #12439
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2549*

[2020-02-16 05:28] nightseas commented on #3020
Try official mbed-os 5.9 or later version. Export the code for NUCLEO_F411RE to uVision5 by mbed-cli and change target device to F411CE.
It should work.

[2020-02-16 16:44] timovanasten commented on #12416
I should be able to to that on Monday. I'll let you know.

[2020-02-17 06:54] matsujirushi commented on #12412
@AriParkkila attached.
[debug.txt](https://github.com/ARMmbed/mbed-os/files/4212198/debug.txt)

[2020-02-17 08:00] jeromecoutant commented on #12435
Hi

C12832 is using _spi(mosi,NC,sck)

Issue came with static pinmap feature.

@mprse

[2020-02-17 08:41] ccli8 opened #12448 "SPI: API interface with bits per SPI frame"
### Description of defect

`SPI` class supports 4-16 bits per SPI frame according to `SPI::format(...)`.

[code]

This `SPI::write(int value)` can support arbitrary bits per SPI frame with data type `int`.

[code]

But this `SPI::write(const char *tx_buffer, ...)` can just support <=8 bits per SPI frame due to data type `char`. Why not design it to support arbitrary bits per SPI frame like above?

[2020-02-17 09:09] AriParkkila commented on #12412
@matsujirushi Thanks for the debug logs. The modem reports PDP contexts incorrectly, and CellularStateMachine finds an active context as `+CGACT: 2,1` (in the log "[00013806ms][DBG ][CELL]: Found active context"). You need to clear extra contexts at least the context with ID 2 (see above). It may also help if you set `"cellular.clear-on-connect": true` in the mbed_app.json as that should clear ext

[2020-02-17 09:41] timovanasten commented on #12416
@jeromecoutant With wrong PHY address, I get:
[code]
Where the last two lines are printed by my software, and the last line repeats.

With correct PHY address, I get
[code]

[2020-02-17 10:05] 0xc0170 commented on #12448
This `write` method operates on 8bit buffers but uses internally `write` functionality that should follow what `format` method set. This is not clear from the docs, what should happen in this case. We should review and clarify. This is a good candidate for `feature-hal-spec-spi` we already have. have you looked at it if it fixes this problem?

cc @ARMmbed/mbed-os-hal

[2020-02-17 10:14] 0xc0170 commented on #12439
Thanks for the report, could you propose a fix?

If we fail in init, we should not allocate anything and return an error. It would fix 1. and also 2. (we don't have there yet defined behavior but should be call deinit only on initialized flash otherwise undefined behavior - something similar to what serial already has defined: `Calling any function other than ::serial_init on am uninitialized or f

[2020-02-17 10:17] 0xc0170 commented on #12435
I looked at this briefly with @bertfroeba . It looks like static pinmap feature made some changes that affect this. It is in the generic implementation for spi.

@mprse would you be able to look at this?

cc @ARMmbed/mbed-os-hal

[2020-02-17 10:24] AriParkkila commented on #12325
@variablo87 Thanks for reporting this. Your fix looks good to me. Can you make a pull request?

[2020-02-17 10:39] mprse commented on #12448
In the new HAL API on the feature branch, `spi_transfer` uses `void*` type to specify the rx/tx buffer and follows the configured format:

https://github.com/ARMmbed/mbed-os/blob/f88b7cb07835da480ba96bf4bc10a7bd6d0b7718/hal/spi_api.h#L233-L242

More details about new SPI HAL API can be found here:
https://github.com/ARMmbed/mbed-os/blob/feature-hal-spec-spi/docs/design-documents/hal/0000-spi-overh

[2020-02-17 13:07] ciarmcom commented on #12448
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2550*

[2020-02-17 13:09] jeromecoutant commented on #12416
So:
- in default mode, implementation is as expected: no connection with wrong PHY address, and working connection with correct PHY address
- in debug mode, implementation is OK with correct PHY address, but crashes with wrong PHY address

[2020-02-17 13:20] jeromecoutant commented on #12416
@timovanasten
Did you optimize stack size in your application ?
(maybe some sizes need to be increased when debug is on?)

[2020-02-17 13:26] mprse commented on #12435
Yes, I'm looking into this right now.

[2020-02-17 14:41] avinabmalla opened #12452 "u-blox ODIN-W2 error on cbMAIN_startOS"
### Description of defect
I am trying to use Bluetooth SPP using the C API.
Calling cbMAIN_startOS after cbMAIN_initBt throws the following error in the error handler, and restarts the device.

Error Code: -1
File: cb_uart.c
Line: 2150

I also tried calling cbMAIN_initBt without cbMAIN_startOS . The callback in cbMAIN_initBt is never called.

I have also tried setting BLE_STACK_UBX in the targets.

[2020-02-17 14:58] timovanasten commented on #12416
@jeromecoutant That's correct. It seems to work fine when I disable debug mode. I didn't do anything with stack size optimization yet. Anything you would like me to try?

[2020-02-17 15:06] timovanasten commented on #12416
@jeromecoutant Not really. With mbed trace enabled on debug level, the application crashes on a correct PHY address. When I then disable the debug statements of mbed trace, the application connects as expected.

With an incorrect PHY, the application doesn't connect with -3004 (as expected I would say). That was with mbed trace on debug and I expect the same behaviour when disabling debug, althoug

[2020-02-17 16:19] ciarmcom commented on #12452
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2551*

[2020-02-18 00:38] matsujirushi commented on #12412
@AriParkkila Thanks for your advice!
It' fine after to set `"cellular.clear-on-connect": true` .
[fine.txt](https://github.com/ARMmbed/mbed-os/files/4216818/fine.txt)

[2020-02-18 00:38] #12412 closed

[2020-02-18 07:31] 0xc0170 opened #12455 "nightly/PRs: IAR build errors with an internal error"
### Description of defect

This currently affects PRs and it is also in the latest nightly (was not in the day before). Something has changed in CI or example?

This is the example failing `mbed-os-example-socket-stats` - cc @ARMmbed/mbed-os-core

[code]

As nightly and also PRs (one is using master and one release branch), this does not indicate it is in the example itself but rather a change in

[2020-02-18 08:20] ccli8 commented on #12448
https://github.com/ARMmbed/mbed-os/blob/feature-hal-spec-spi/docs/design-documents/hal/0000-spi-overhaul.md#the-new-api

Yes. The new SPI HAL API can address my issue. But as mentioned above @mprse, it will not be merged soon. It is overhaul. Actually, I create the ticket to address `SPI::write(const char *tx_buffer, ...)` because I want to optimize `spi_master_block_write(...)` and substitute it

[2020-02-18 08:21] 0xc0170 commented on #12455
I am able to reproduce it on example master

[code]

If I revert the last commit: https://github.com/ARMmbed/mbed-os-example-socket-stats/commit/22cdd957a8326a5e7de064a861602f323a068a68 , it builds

@evedon Something triggers IAR internal fault in the latest commit there.

[2020-02-18 08:28] 0xc0170 commented on #12455
I found the offending line:

`mbed_stats_socket_t stats[MBED_CONF_NSAPI_SOCKET_STATS_MAX_COUNT] = {0};` If I remove `{0}`, no internal fault.

cc @kjbracey-arm

[2020-02-18 08:33] mprse commented on #12435
@jeromecoutant @0xc0170

While working on the fix for this issue I noticed some inconsistency I need consultation.
As mentioned on this issue:

https://github.com/ARMmbed/mbed-os/blob/c12b433026beae5b3b769c27941bc6d7fe5d4b27/drivers/SPI.h#L109

In our driver's layer, we assume that we can specify `MISO` or `MOSI` as `NC` if we want to use only one data line (only send data to the slave device or o

[2020-02-18 08:38] 0xc0170 commented on #12455
Found a fix, not ideal but will do the same functionality just avoiding the IAR error

[2020-02-18 08:41] 0xc0170 commented on #12455
https://github.com/ARMmbed/mbed-os-example-socket-stats/pull/47 should fix it for now

[2020-02-18 08:57] kjbracey-arm commented on #12455
I think the revised code is better - it's a big enough object to be worth not putting on the stack.

[2020-02-18 09:14] LMESTM commented on #12435
@mprse

The SPI_DIRECTION_2LINES is indeed an ST implementation choice for a specific sensor that works only in 3-wire mode. that means that MOSI line will be used to send and to receive data. The MISO line is declared as NC and is indeed Not Connected (and not used).

The comment in SPI.h just states that if NC the line is not used, it doesn't say that you will only write or only read, so I 'm no

[2020-02-18 09:21] mprse commented on #12435
@LMESTM Thanks for the response. I will leave 3-wire mode available, create a patch and ask for a review.

[2020-02-18 09:23] #12455 closed

[2020-02-18 10:00] jeromecoutant commented on #11610
Hi

For STM32G4, I can share the results of "automatic" script results in
https://github.com/jeromecoutant/mbed/tree/DEV_STM32G4

This branch can't compile, but I think it is a good starting point.

Regards,
Jerome

[2020-02-18 10:42] 0xc0170 commented on #12455
I also reported this to IAR via website support.

[2020-02-18 10:48] martinjaeger commented on #11610
Hi Jerome, thanks a lot for your effort.

I decided to migrate my firmware to Zephyr RTOS. But I'm sure the STM32G4 support will be helpful for others as well.

[2020-02-18 11:49] amq commented on #12374
Findings so far:
- if `RTC - sleep` is moved to the end of the suite, then the `RTC - range` case succeeds
- if there is `wait_ms(1)` right after `rtc_write()` in `RTC - sleep`, then this case succeeds
- if there is `wait_ms(1)` right after `rtc_write()` in `RTC - range`, then this case succeeds without moving `RTC - sleep`

[2020-02-18 13:29] artokin opened #12459 "STM32 EMAC driver may return wrong frame length under heavy load"
### Description of defect
STM32 EMAC driver may return wrong frame length under heavy load

#### Target(s) affected by this defect ?
Detected only in DISCO_F769N

#### Toolchain(s) (name and version) displaying this defect ?
GCC_ARM

#### What version of Mbed-os are you using (tag or sha) ?
mbed-os-5.15.0

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)

#### How i

[2020-02-18 14:29] mprse commented on #12435
Fix can be found here: PR https://github.com/ARMmbed/mbed-os/pull/12460.

[2020-02-18 14:32] jeromecoutant commented on #12416
This StackSize is configured here:
https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/emac-drivers/TARGET_STM/TARGET_STM32F7/stm32xx_emac_config.h

Maybe you could increase the value and see ?

[2020-02-18 16:18] #10351 closed

[2020-02-18 16:20] ciarmcom commented on #12459
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2552*

[2020-02-18 16:41] pilotak opened #12461 "Cellular: UBLOX socket write data error"
### Description of defect

When trying to write to a TCP socket, AT command will trigger binary syntax mode meaning it sends socker_id + number of bytes and than `<CR>` which is fine.
But then the lib should wait until character `@` is received. And this is where the problem is - current implementation doesn't wait and sends it straight after AT command resulting in `-3012` error because library i

[2020-02-18 16:57] jeromecoutant commented on #12416
You can also use latest branch: https://github.com/jeromecoutant/mbed/tree/PR_ETHERNET

[2020-02-18 19:17] mbos-stress commented on #12461
There is an architectural bug in the Mbed AT driver where it assumes that all responses from the modem will be terminated with an end-of-line character like '\n'. This assumption is false for the Ublox AT interface, meaning the Mbed AT framework will need a small but fundamental change to properly support Ublox modems. I don't know how such a disastrous bug got past any kind of QA testing. I've ne

[2020-02-18 21:09] ciarmcom commented on #12461
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2553*

[2020-02-19 07:16] 0xc0170 commented on #12461
cc @ARMmbed/team-ublox @ARMmbed/cellular-team Please review

[2020-02-19 07:17] 0xc0170 commented on #12459
cc @ARMmbed/team-st-mcd

[2020-02-19 07:18] 0xc0170 commented on #12452
cc @ARMmbed/team-ublox

[2020-02-19 07:31] aqib-ublox commented on #12452
@avinabmalla we dont support ubx stack, only cordio stack is supported

[2020-02-19 07:50] jeromecoutant commented on #12459
ST_INTERNAL_REF 81312

[2020-02-19 08:52] heejungPark opened #12465 "[PSOC6] AnalogIn test for checking reference voltage"
### Description of defect
We got a abnormal return value from read() or read_u16() in AnalogIn class.
I knew default reference voltage of this target is 3.3V, but it may be not true.
For example, when A0 pin is 0.58V, read() function outputs 0.242.
It means that reference voltage is about 2.4V....
Please confirm this issue and inform me.

#### Target(s) affected by this defect ?
CY8CKIT_062_WIFI_B

[2020-02-19 09:06] kleunen commented on #10669
I switched back to mbed os version 5.11.5, it has the nordic softdevice. The power consumption for this version is still ok. It is rather annoying, because sometimes the mbed version gets updated to the latest version somehow, resulting in much higher power consumption.

[2020-02-19 09:21] amq commented on #12374
Seems like a context switch is needed.

Also just noticed: https://github.com/ARMmbed/mbed-os/issues/8906, could be related, see also the two fixing PRs.

[2020-02-19 09:52] jeromecoutant commented on #11929
Hi
I think #12464 should correct issue ?
Regards

[2020-02-19 09:57] jeromecoutant commented on #9470
Hi all
Do you think it's possible to check #12464 and #12457 ?
Thx

[2020-02-19 10:10] MarceloSalazar commented on #12221
Note this affects all Cortex-M0/M0+.
@kjbracey-arm can you please review?

[2020-02-19 10:54] 0xc0170 commented on #11416
I don't see this failure in nightly anymore. @jamesbeyond can this be closed?

[2020-02-19 10:56] 0xc0170 commented on #11371
@aqib-ublox Can you update this issue? Is it still relevant or shall we close?

[2020-02-19 11:29] bsturgess commented on #10669
Totally agree, 5.11 is the only version of mbed that can be used if you
want any sensible power consumption.

Very frustrating

On Wed, 19 Feb 2020, 09:06 Wouter van Kleunen, <notifications@github.com>
wrote:

[2020-02-19 11:40] jamesbeyond commented on #11416
belive fixed. closing

[2020-02-19 11:40] #11416 closed

[2020-02-19 12:03] aqib-ublox commented on #11371
@0xc0170 Its working for us network test is building fine after GCC toolchain update.
@michalpasztamobica thanks

[2020-02-19 13:05] ciarmcom commented on #12465
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2554*

[2020-02-19 13:29] hiflord opened #12469 "+QMTOPEN: 0,-1"
I am trying to send data to aws. When I send via uart AT+QMTOPEN=0,"a2u7s0al75g2nd-ats.iot.us-east-2.amazonaws.com",8883 the BG96 returns . What did I wrong ?
here is log
[log.txt](https://github.com/ARMmbed/mbed-os/files/4225299/log.txt)
help please!

[2020-02-19 14:30] #12311 closed

[2020-02-19 15:18] 0xc0170 commented on #12469
Hi,

please use forum.mbed.com to ask questions. Also it might be good to provide more information what target, codebase, sha references/versions, toolchain, code snippets.

We will close this one as not valid bug.

[2020-02-19 15:18] #12469 closed

[2020-02-20 07:30] 0xc0170 commented on #12465
cc @ARMmbed/team-cypress

[2020-02-20 08:06] matsujirushi opened #12474 "Cellular: Stack overflow occurs on EC21"
### Description of defect

Sometimes stackoverflow occurs.

[code]

[good.txt](https://github.com/ARMmbed/mbed-os/files/4229502/good.txt)

[fail.txt](https://github.com/ARMmbed/mbed-os/files/4229503/fail.txt)

**Code snippet:**
[code]

#### Target(s) affected by this defect ?

QUECTEL/EC2X ([here](https://github.com/ARMmbed/mbed-os/tree/master/features/cellular/framework/targets/QUECTEL/EC2X))

##

[2020-02-20 08:38] timovanasten commented on #12416
@jeromecoutant I've used your latest branch and increased the stack size to 1024. It seems to work as expected now!

**With correct PHY address**
[code]

**With incorrect PHY address**
[code]

[2020-02-20 09:14] jeromecoutant commented on #11954
Maybe you could share a git branch with your changes?

[2020-02-20 09:31] jeromecoutant commented on #10827
Hi
Is there any pending action on that issue?
Or should we close it ?
Thx

[2020-02-20 10:07] #12104 closed

[2020-02-20 10:08] #11955 closed

[2020-02-20 10:10] 0xc0170 commented on #10339
We will close this issue, as there has not been any update for more than a half year. You can reopen with an update if this issue still needs fixing.

[2020-02-20 10:10] #10339 closed

[2020-02-20 13:04] ciarmcom commented on #12474
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2555*

[2020-02-20 14:04] jeromecoutant commented on #12416
Which profile do you use for compilation?
- default one: develop
- debug
?

[2020-02-20 14:41] AGlass0fMilk commented on #11610
@jeromecoutant
I took your branch and have basic support for the NUCLEO_G747RE target (gpio and system initialization, enough to compile blinky while ignoring a lot of features that require UART).

You can see my branch here: https://github.com/AGlass0fMilk/mbed-os/tree/add-nucleo-g474re

I am hoping we can collaborate a bit to add the rest of the features since you are obviously more familiar wit

[2020-02-20 15:01] jeromecoutant commented on #11610
@AGlass0fMilk
Please push a pull request for official review with all interested people.
No problem to enable feature 1 by 1, as long as you check tests results.

[2020-02-20 15:45] timovanasten commented on #12416
@jeromecoutant debug in this case

[2020-02-20 16:46] paul-szczepanek-arm commented on #9773
the spec only allows for control over advertising, anything else is vendor specific

[2020-02-20 17:02] jeromecoutant commented on #12416
OK!
So issue seems to occur with GCC + debug mode
(no issue with ARMC6 and debug...)

let's merge #12464, then I will add some workaround for that !

Thx

[2020-02-20 17:12] kyle-cypress commented on #12465
The PSoC 6 ADC is currently configured to use the internal bandgap (1.2V) as its reference, which gives it a range of 0 - 2.4 V. To better align with the expectations of the mbed HAL, we intend to update this in a future release to use VDDA as the reference instead.

[2020-02-20 18:42] yogeshk19 commented on #9773
@paul-szczepanek-arm I don't know why it would be under advertising? Most of the time the BLE devices in the field where sensors communicate with a say a central gateway would be in connected state than advertising state, when configured correctly by the configuration parameters in connected state, you get the lowest power draw on modules like NRF52840. Cordio Platform although has made programmin

[2020-02-20 19:17] AGlass0fMilk commented on #11610
See #12482

[2020-02-20 22:57] dustin-crossman commented on #12439
I can get a PR in for a fix. Probably won't be until next week though.

[2020-02-21 06:29] soleilplanet commented on #11954
@jeromecoutant https://github.com/soleilplanet/mbed-cloud-client-example/tree/ADV_WISE_1570

[2020-02-21 08:41] paul-szczepanek-arm commented on #9773
That's just how BLE spec is written.

You can do most things without a connection, maybe you can consider periodic advertising? The only time you need a connection is if both sides need to send data, otherwise being not connected will save more power. Establishing connections is fast.

[2020-02-21 08:45] 0xc0170 commented on #9773
@paul-szczepanek-arm shall we close this issue as resolved?

[2020-02-21 09:15] paul-szczepanek-arm commented on #9773
The original question was answered. Anything else please open a new issue and we'll try to answer. The values for the power settings are dbm
[code]

[2020-02-21 09:51] #9773 closed

[2020-02-21 12:51] MrkCDGHub commented on #12277
Any progress/update on this issue (unable to escape PPP data mode)?

[2020-02-21 13:02] kivaisan opened #12486 "Build failure if PPP and mbed trace or L3IPInterface is enabled"
### Description of defect

Build will fail if mbed traces and PPP, or L3IPInterface is enabled due to missing intergration to https://github.com/ARMmbed/mbed-os/pull/11942

Cellular trace needs to be fixed to use SocketAddress:
https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/AT/AT_CellularContext.cpp#L988

L3IPInterface: This method needs to be changed to use new SocketA

[2020-02-21 13:21] mudassar-ublox commented on #12461
Need to read `@ ` and had to wait for `50ms` before sending data. Will add fix in `ublox `libraries and generate PR.

[2020-02-21 13:25] geoffrey-vl commented on #11781
Does this impact all mbed-os versions <mbed-os 5.14.1?

[2020-02-21 13:49] 0xc0170 commented on #11781
The fix went to 5.14.2 so anything before (<5.14.2) could be. @geoffrey-vl Are you having the same issue with older versions?

[2020-02-21 13:52] amq commented on #12374
@stevew817 could you have a look?

[2020-02-21 14:37] geoffrey-vl commented on #11781
Well I'm not sure yet, we've seen a `is_valid_read(addr, size)` error in one of our production devices this week. We're running mbed-os 5.9.2. The SlicingBlockDevice doesn't yet override `is_valid_erase()` in this os version.
We have following implementation for slicingblock device:

[code]

What's is the effect of the bug described above? In our case we're editing a file, but at one point FAT tri

[2020-02-21 16:20] ciarmcom commented on #12486
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2556*

[2020-02-21 23:28] dustin-crossman commented on #12434
After investigating this I've found a couple different causes for the sleep test failures. The specific case that is failing is the deepsleep_lpticker_test():

1. Our low-level (psoc6pdl) UART driver prevents the system from entering deep sleep if there is any data in the UART RX or TX FIFOs (initially we assumed this was the hardware itself preventing deep sleep but that does not appear so). Duri

[2020-02-22 22:14] idea--list opened #12493 "ThisThread::sleep_for() behaves differently since mbed os V 5.15.0"
### Description of defect
The MAX32630FTHR board has an on-board RTC hardware. I change the register of this RTC in a way that it will tick only once per second (instead of 4096/second). This way the RTC will overflow only after 130+ years of usage.

Until mbed os 5.14.2 `ThisThread::sleep_for(1000);` results the code to wait 1 second just as expected.
However in mbed os 5.15.0 or 5.15.1 `ThisThre

[2020-02-23 00:29] idea--list commented on #12493
The impact of this bug is really HUGE:
For example even the SDBlockDevice API malfunctions: if i reduce the frequency of the onboard RTC, the init() method of the SDBlockDevice API will not return anything before it comes to a timeout and the API will return error.

Not to mention any 3rd party code that do anything based on elapsed time.

[2020-02-23 06:21] ciarmcom commented on #12493
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2557*

[2020-02-23 22:51] Waleed-Elmughrabi opened #12494 "STM32 Low power modes"
How to achieve low power modes

#### Target(s) affected by this defect ?
Nucleo-L496ZG-P

#### Toolchain(s) (name and version) displaying this defect ?

#### What version of Mbed-os are you using (tag or sha) ?

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)
mbed-cli
online IDE

#### How is this defect reproduced ?

[2020-02-24 06:23] ciarmcom commented on #12494
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2558*

[2020-02-24 07:05] heejungPark commented on #12465
Okay, thanks for your reply.

[2020-02-24 07:05] #12465 closed

[2020-02-24 07:48] 0xc0170 commented on #12494
Hi @Waleed-Elmughrabi , please use forum.mbed.com. This is issue tracker for technical issues. Thanks for understanding.

I'll close this question.

[2020-02-24 07:48] #12494 closed

[2020-02-24 07:54] mimok commented on #7588
Hi Jerome,

Do you plan to merge your on-going work on STM USB drivers in the Mbed official repo?

I'm developing a Murata Type ABZ based board which is using USB port as main communication interface. The lack of USB support in mbed is a real pain. Until now, I'm using UART as a workaround which is not the intended use case.

[2020-02-24 07:55] 0xc0170 commented on #12493
Firstly, there are couple of things that could have changed. As I read your reply referenced above (https://github.com/ARMmbed/mbed-os/pull/11463#issuecomment-590019432), this is a target issue. Good find!
There was a fix that introduced issue to the target (not affecting other targets or generic layer in this case). I'll talk to the team to review this: @mbed-os-core @gpsimenos

As this issue, if

[2020-02-24 09:14] 0xc0170 commented on #12474
@matsujirushi What is the app setup - stack sizes per Thread, how many  threads, etc? What is the size of the stack for a thread that errors? Is the size sufficient for its needs?

Have you tried to enable stats (see https://os.mbed.com/blog/entry/Tracking-memory-usage-with-Mbed-OS/) to track the usage of memory?

[2020-02-24 09:20] 0xc0170 commented on #12452
I close this as not supported (not technical issue here).

[2020-02-24 09:20] #12452 closed

[2020-02-24 09:25] 0xc0170 commented on #12367
Closing as the fix 12405 was merged

[2020-02-24 09:25] #12367 closed

[2020-02-24 09:28] 0xc0170 commented on #12348
I'll close this issue as not related to Mbed OS Flash functionality. Still the issue can be updated.
@leszek-grzegorek You can update this issue once you retest the latest driver. It could be helpful for someone.

[2020-02-24 09:28] #12348 closed

[2020-02-24 09:44] 0xc0170 commented on #12219
I'll close this as fixed via #12226

[2020-02-24 09:44] #12219 closed

[2020-02-24 09:48] stevew817 commented on #12374
I'll see whether I can find something in the implementation that would correlate with your findings. Stay tuned.

[2020-02-24 09:52] stevew817 commented on #12371
Was the mentioned PR ever created? :)

[2020-02-24 09:52] 0xc0170 commented on #12205
If this is still valid, it would be good to have a code snippet for us to reproduce. Just take the pin and call stack and make a small example to reproduce the issue.

there were couple of fixes that might have already fixed this one (as mentioned earlier here).

[2020-02-24 09:54] 0xc0170 commented on #12294
@jeromecoutant Was this created there? Just checking if this can be fixed in near future.

[2020-02-24 09:57] 0xc0170 commented on #12371
I don't think I've seen one.

[2020-02-24 10:39] JanneKiiskila opened #12497 "Ublox odin - Wi-Fi interface fails endurance testing/jams"
### Description of defect

Try running mbed-os-example-pelion with UBLOX_EVK_ODIN_W2 target, leave it running for a longer time. Once tick count on /3200/0/5501 reaches around 1900-2200 - the connection will fail and all DNS queries against that interface will fail. Seems the Wi-Fi stack gets somehow stuck and it never recovers.

With K66F/Ethernet - you can plug out the whole cable for a long tim

[2020-02-24 10:39] JanneKiiskila commented on #12497
Attn:  @ARMmbed/team-ublox  @MarceloSalazar

[2020-02-24 10:45] 0xc0170 commented on #12294
@se7ensong Thanks for the report, would you be able to share how to reproduce the issue? Do you have a code snippet that would allow us to reproduce locally ?

[2020-02-24 10:49] JanneKiiskila commented on #12497
Log example below;

[code]

I.e. the notification sending fails - client tries to reconnect, but it just does not help and connection never recovers.

[2020-02-24 10:57] JanneKiiskila commented on #12497
Same story with mbed-cloud-client-example, log from that, too.

[code]

Counter is at that same 283, so that seems like too much of a co-incidence?

[2020-02-24 10:59] se7ensong commented on #12294
@0xc0170 , I will try to get a minimal example for you as I cannot use the exact code I am currently working on. FYI, I am running this on ODIN-EVK-UBLOX-W2 and will try 5.15.0 instead of 5.15.1.

[2020-02-24 11:22] mudassar-ublox commented on #12277
First check your escape character with `ATS2?` then check escape prompt delay with `ATS12?` command. See the description of S12 command in [at command manual](https://www.u-blox.com/en/docs/UBX-17003787). It states that you need to send escape character with in time period define with `ATS12` command.

It will work like, wait 1 second (`escape prompt delay`) before sending '+' (`escape character`)

[2020-02-24 11:58] #12371 closed

[2020-02-24 12:50] AnttiKauppila commented on #12474
What is the target board and how much it has memory?

[2020-02-24 13:12] 0xc0170 commented on #12298
@maclobdell Please review. Is this issue still valid?

[2020-02-24 13:14] mudassar-ublox commented on #12461
PR generated #12499.

[2020-02-24 13:21] 0xc0170 commented on #12434
@dustin-crossman Nice findings! Will wait for the fixes

[2020-02-24 13:22] ciarmcom commented on #12497
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2559*

[2020-02-24 13:42] 0xc0170 commented on #12190
It used to be there but can't find a reason why it was removed.

I tracked this to https://github.com/ARMmbed/mbed-os/pull/7714/commits/a7ddea78d71dd12630698ae4a302f2da291d2180. But I can't find a reason in the PR itself neither in the commit - why is this being removed (useful to provide a reason to a commit itself but we fail sometimes to do so 😞 ).

cc @ARMmbed/mbed-os-core

@teetak01 If you ha

[2020-02-24 13:48] 0xc0170 commented on #12127
Fix was merged, I'll close this.

[2020-02-24 13:48] #12127 closed

[2020-02-24 13:48] 0xc0170 commented on #12115
@ARMmbed/mbed-os-pan Please review

[2020-02-24 13:54] 0xc0170 commented on #12105
Any help from community is welcome

The question was answered as feature update needed. As this is not technical issue but rather feature request, any further requests, please use forum.mbed.com.

I'll close this.

[2020-02-24 13:54] #12105 closed

[2020-02-24 14:03] 0xc0170 commented on #12072
@melvinvdb Any new findings? Or you stayed with align4?

[2020-02-24 14:19] 0xc0170 commented on #11863
@ARMmbed/mbed-os-test Please review

[2020-02-24 14:19] 0xc0170 commented on #11876
@amq I believe this was answered above, I will close this.

[2020-02-24 14:19] #11876 closed

[2020-02-24 14:21] 0xc0170 commented on #11912
@maciejbocianski Was there any update

[2020-02-24 14:24] teetak01 commented on #12190
This is how Pelion update is using the images. Is this related to managed vs. unmanaged bootloader mode?

[2020-02-24 14:25] 0xc0170 commented on #12042
Please review

[2020-02-24 14:26] 0xc0170 commented on #12076
@jporter4 Have you been able to resolve this one as there has not been any update?

[2020-02-24 14:30] 0xc0170 commented on #11845
Fixed via #12304

[2020-02-24 14:30] #11845 closed

[2020-02-24 14:33] 0xc0170 commented on #11809
@ARMmbed/mbed-os-pan Please review

[2020-02-24 14:47] maciejbocianski commented on #11863
I think it was already fixed
See:
https://github.com/ARMmbed/mbed-os/pull/12287
https://github.com/ARMmbed/mbed-os/pull/12254

[2020-02-24 16:13] JojoS62 opened #12503 "LwIP bind() does not promote error to caller"
### Description of defect
I'm trying to use async NetworkInterface features, there I ran into a problem when after an interface disconnect/connect a tcp server is not working. A part of the problem is that bind() does not report an error, it is not passed to the caller:
https://github.com/ARMmbed/mbed-os/blob/bb48fa46cdaa583eeef24d128013aab39a564c81/features/lwipstack/lwip/src/api/lwip_api_lib.c#L

[2020-02-24 16:51] stevew817 commented on #12374
wait_us maps to a busy-wait instead of a thread sleep, so that would explain why there could be a difference between the two.
Also seeing that rtc_write as part of the RTCC implementation is writing to the RTCC directly and to lptick_offset, which could potentially cause an attached lp_ticker event to fire too early or too late. I think the solution may be to add another tracking variable to keep

[2020-02-24 21:08] ciarmcom commented on #12503
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2560*

[2020-02-25 00:29] matsujirushi commented on #12474
@0xc0170
I will try to enable stats. Wait a minute.

@AnttiKauppila
I use STM32F405RG. Flash 1Mbytes, SRAM 192Kbytes.

[2020-02-25 02:17] MrkCDGHub commented on #12277
I've verified my S2 and S12 setttings, both at the default of '+' and 50 (20ms). With a scope I've verified the intercharacter delay of my +++ sequence, it's consistent and I've tried various delays from 5 to 20 ms. Never exits Data mode. Same with dropping DTR.

[2020-02-25 02:55] ccli8 opened #12504 "GCC: Callee-saved registers corrupted in TZ non-secure entry function"
# Description of defect

According to [5.4.2 of ARM v8-M Security Extensions: Requirements on Development Tools](https://developer.arm.com/docs/ecm0359818/11), on return from an non-secure entry function, callee-saved registers as mandated by AAPCS should be restored, but they are incorrectly cleared in GCC-compiled code.

#### Target(s) affected by this defect ?

NU_PFM_M2351_* and possibly other

[2020-02-25 05:31] mudassar-ublox commented on #12277
If S12 value is 50 then according to manual its 1 sec.

[2020-02-25 06:17] #12077 closed

[2020-02-25 06:21] ciarmcom commented on #12504
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2561*

[2020-02-25 06:53] AnttiKauppila commented on #12474
@matsujirushi That should be plenty.
It seems that your ppp thread's stack memory is too small
You should overwrite ppp.thread-stacksize (default: 816) to bigger in your mbed_app.json
@mikaleppanen Has something changed in netsocket/PPP? It seems that default stack size for PPP might not be enough currently?

[2020-02-25 08:31] melvinvdb commented on #12072
I just stayed with align(4).
Seems to me that not many people use a NRF chip with MBed OS otherwise this would have been found earlier. Unfortunately I have to many problems with using MBed OS with the NRF52 so I'm thinking of moving away...

[2020-02-25 08:59] mprse commented on #11863
I think we can close this one.

[2020-02-25 09:26] MarceloSalazar commented on #12504
Note: related to https://jira.arm.com/browse/GNUTOOLS-9066

[2020-02-25 09:39] SeppoTakalo commented on #12190
Appending the header must have been removed, because Pelion does not use it, and they require separate manifest file.
The header is then generated by the update client, once the image is downloaded to the device.
Bootloader then verifies this header to check whether the image is correct.

But, please note that if your linker file and `mbed_app.json` are correctly set, you will get four images. For

[2020-02-25 10:26] 0xc0170 commented on #12504
Thanks for the reference. @ccli8 We will keep you updated (the reference is an internal ticket).

[2020-02-25 12:55] stevew817 commented on #12373
@amq this test seems to be failing due to test methodology in combination with the hardware in use. us_ticker on Silicon Labs targets exposes a 16-bit timer, running at a frequency that gives at least microsecond resolution (>1MHz).
I've tested this specifically on GG11 STK, where the core frequency is 50MHz, and the timer backing the us_ticker is running at 3.125 MHz. This is information reported

[2020-02-25 13:46] fkjagodzinski commented on #12373
cc @mprse

[2020-02-25 15:51] idea--list commented on #12493
@0xc0170

I reported #11081 back in July. It took really long time to investigate what all you have changed in the USBDEVICE as of V5.10, mainly because you changed a bunch of things in each and every release without any documentation. On top of all that you also changed the location of the files without changing any code in the last round with USBDEVICE. I wrote a summary about my findings to Max

[2020-02-26 04:41] matsujirushi commented on #12474
@0xc0170 I got stats and find code.
[teraterm.log](https://github.com/ARMmbed/mbed-os/files/4253428/teraterm.log)

[code]

[2020-02-26 04:42] matsujirushi commented on #12474
I will try to test when increase stack size.

[2020-02-26 09:10] mprse commented on #12373
I'll check this today.

[2020-02-26 11:32] yagmurgok commented on #12493
idea--list Hi,
We are currently working on USB stack issue. Mbed usb API has changed and need to port every board with USB to ew USB API. We are targerting ti finizalize within 2 weeks. For the BLE part we are converting from our BLE stack to ARM Cordio stack. it will take like 6 weeks to finalize

[2020-02-26 12:06] 0xc0170 commented on #12294
@ARMmbed/team-st-mcd has there been any update? Was this shared with the Cube4 team ?

[2020-02-26 12:16] SeppoTakalo commented on #5280
This is a proposal for Mbed OS HAL API.
I think we should not do it as it pushed an error handling that should be done in the driver, up to the application.
If the underlying flash driver needs retrying, it should be done in the driver level, not in the application.
So I close the ticket, as the `-1` is enough for now, and we should instead fix the failing drivers, instead of pushing the retry log

[2020-02-26 12:16] #5280 closed

[2020-02-26 12:42] 0xc0170 commented on #12190
Thanks @SeppoTakalo . @Reda-RM Does that answer your question?

[2020-02-26 12:55] mprse commented on #12373
The fix can be found here PR https://github.com/ARMmbed/mbed-os/pull/12519. Please review.

@stevew817 Just a small clarification for your analysis.

Actually the test handles wraparound on the us ticker:

https://github.com/ARMmbed/mbed-os/blob/5969fdf8efa380ba994cb68756a865e3a31226b8/TESTS/mbed_hal/sleep_manager/main.cpp#L199

The problem is that while handling wraparound we have mixed types of

[2020-02-26 13:35] twtg-coen commented on #10558
Any update on this?

[2020-02-26 14:30] idea--list commented on #12493
Hi yagmurgo,
Thanks for the update, i will stay tuned.

[2020-02-27 07:21] #12374 closed

[2020-02-27 08:54] stevew817 commented on #12373
@0xc0170 this issue can be closed since #12519 was merged.

[2020-02-27 09:43] 0xc0170 opened #12523 "nightly: FUTURE_SEQUANA does not build - reset reason error"
### Description of defect

Error:

[code]

I believe this is the offending PR https://github.com/ARMmbed/mbed-os/pull/12440.

cc @ARMmbed/team-cypress @maclobdell Please review

#### Target(s) affected by this defect ?

FUTURE_SEQUANA + M0 as well

#### Toolchain(s) (name and version) displaying this defect ?

All

#### What version of Mbed-os are you using (tag or sha) ?

mbed-os-99.99.99

#### W

[2020-02-27 13:03] ciarmcom commented on #12523
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2562*

[2020-02-27 14:20] #12461 closed

[2020-02-27 16:07] #12373 closed

[2020-02-27 16:29] CodingGhost commented on #10669
any progress here?
Is systemOFF mode affected by this issue?
I just ported our Software to cordio and I am seeing 37uA in systemOFF mode, it was at about 0.8 before.
can cordio be the cause of this?

[2020-02-27 16:42] AGlass0fMilk commented on #10669
I would check the peripherals that are still active in system off (RTC possibly) and see if they’re still enabled. Also check RAM retention settings. Lastly, make sure there weren’t any changes in how your GPIO are set during system off.

It’s possible Cordio could be changing one of these settings whereas the softdevice didn’t.

[2020-02-27 18:13] dustin-crossman commented on #12523
Woops! Fixed up here: https://github.com/ARMmbed/mbed-os/pull/12530

[2020-02-28 01:16] idea--list opened #12532 "Unexpected results with I2C API on MAX32630FTHR"
### Description of defect
Found a useful I2C scanner for Arduino [here](https://playground.arduino.cc/Main/I2cScanner/).
As i could not find similar one for mBed, i tried to code it myself.
During the implementation i faced 2 different possible bugs.

bug 1: if i try to scan the ports lower than address = 10, then the scan result is all the way corrupt, however if i start at address = 10 the scan

[2020-02-28 06:22] ciarmcom commented on #12532
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2563*

[2020-02-28 08:13] JanneKiiskila commented on #12376
@mmahadevan108 @ARMmbed/team-nxp  - should we then disable sleep on this target completely? Would something like: https://github.com/JanneKiiskila/mbed-os/commit/029f701f937f26d865d5fce7c9f2ff6d4c38b5c5 do the trick?

**Stability beats performance any day**. If sleep is not stable, we should not enable it.

[2020-02-28 08:43] 0xc0170 commented on #12532
Looking at docs first - https://os.mbed.com/docs/mbed-os/v5.15/apis/i2c.html . `write` method provides the transaction - including start/stop - there's argument for repeated. In that case, it would not send the stop but repeated start and the last one should stop the transaction.

Another use case, would be using byte write `int I2C::write(int data)` - this one does not send start, stop - you shou

[2020-02-28 11:11] leszek-grzegorek commented on #12348
Just to update the status : with flash driver from MCUXpresso SDK v.2.7.0 (FRDM-K64F) ported to mbed 5.15.0-rc3, the issue still exists.

[2020-02-28 13:07] mmahadevan108 commented on #12376
I would request for a wait before the example enters the infinite loop. This would give an opportunity after reset to halt the target and program a new binary.

[2020-02-28 15:54] idea--list commented on #12532
@0xc0170 Thanks for clarifying!

So if i understand it right
- if i use bytewise method int write (int data), then i would need to call .start() and .stop() before and after moving all the data.
- if i use the int write (int address, const char *data, int length, bool repeated=false) then it will know how many bytes i want to move and will handle .start() and .stop() automatically

If i would be a

[2020-02-28 16:12] #12523 closed

[2020-02-28 19:21] ifyall opened #12535 "6.0 Alpha 2, New Error Message for CY Targets: Bootloader not supported on this target."
### Description of defect
In mbed-os-6.0.0-alpha-2 there are two new errors for Cypress targets that are seen when querying the compilation config, compiling or exporting. These two messages are output:

Configuration error: Bootloader not supported on this target. ROM start not found in targets.json.
Configuration error: Bootloader not supported on this target. RAM start not found in targets.json

[2020-02-28 21:08] ciarmcom commented on #12535
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2564*

[2020-02-29 13:35] JojoS62 opened #12538 "targets.json: default_lib is no longer supported, but is still used"
### Description of defect

A 'mbed compile -m LPC824 -t GCC_ARM' complains about
[code]

#### Target(s) affected by this defect ?
The setting 'default_lib' is used 37 times in the actual targets.json

#### Toolchain(s) (name and version) displaying this defect ?

GCC_ARM, gcc 9.2

#### What version of Mbed-os are you using (tag or sha) ?

mbed-os-5.15 sha 06b22d91e3

#### What version(s) of tools

[2020-02-29 13:53] JojoS62 opened #12539 "Using the profile extension lto produces many 'Unknown object name found in GCC map file' messages"
### Description of defect

compiling with the new option '--profile mbed-os/tools/profiles/extensions/lto.json' produces a lot of messages like:
[code]
This is caused by the memap.py tool that analyses the mapfile.
The lto option generates intermediate files that are stored in a temporary directory, under windows by default in the 'c:\user\xx\AppData\Local\Temp' dir.  The memap tool is parsing the

[2020-02-29 14:37] JojoS62 opened #12541 "memap tool: displayed text+data sizes differ from real size"
### Description of defect

By checking the memap tool for https://github.com/ARMmbed/mbed-os/issues/12539
I found that the printed text and data sizes differ from the real sizes

#### Target(s) affected by this defect ?
all? Tested on BLUEPILL_F103C8 output, the difference appears for debug and release build:

[code]

[code]

#### Toolchain(s) (name and version) displaying this defect ?
gcc 9.2.1

[2020-02-29 15:05] JojoS62 opened #12542 "compile profile extensions lto and minimal-printf do not work together"
### Description of defect

Compiling a blinky with 'printf("hello world\n") and using both, lto and minimal-printf extensions, produces a linker error:

[code]

This missing symbol error happens with bare-metal and also with rtos build.

#### Target(s) affected by this defect ?
all? tested on BLUEPILL_F103C8, NUCLEO_F103RB, STM32F407 (custom target)

#### Toolchain(s) (name and version) displaying

[2020-02-29 15:33] idea--list commented on #12542
@JojoS62
I know it will not fix your recent findings, but consider reverting back to V5.14.2 if you can. I mean it seems in V5.15.0 something has been changed in the core that introduces some unexpected ""fun"" of different kinds in different targets.

[2020-02-29 15:37] JojoS62 commented on #12542
thanks, but the lto and printf-minimal extensions are very interesting new features. Specially for tiny targets. That is really great, I can use mbed5 now even with a LPC824, instead of using mbed2.
This missing linker symbol is not a big issue, I will look also for a solution.

[2020-02-29 16:18] ciarmcom commented on #12542
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2565*

[2020-02-29 16:18] ciarmcom commented on #12541
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2566*

[2020-02-29 16:18] ciarmcom commented on #12539
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2567*

[2020-02-29 16:19] ciarmcom commented on #12538
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2568*

[2020-02-29 16:34] JojoS62 commented on #12542
the problem maybe related to this:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=88643

I found also a similiar workaround for other wrappers here:
https://github.com/ARMmbed/mbed-os/blob/06b22d91e3fed9e7d98e8975cfcb54e679218be5/platform/source/mbed_alloc_wrappers.cpp#L351-L358

[2020-03-02 09:32] VeijoPesonen commented on #11722
@miteshdedhia7 would you please split the bugs as their own issues. The first bug is fixed by the PR #12270

[2020-03-02 09:49] 0xc0170 commented on #12542
@JojoS62 Can you create a pull request with this "workaround" to start discussion about this?

[2020-03-02 10:18] JojoS62 commented on #12542
this workaround was for another function, but I think the same problem. I could not fix minimal_printf and lto with a workaround yet, but I still can try it.
I have also tried to run this on Linux (WSL with Ubuntu 18.04), but there happened another problem that maybe related to python3 and its another issue.

[2020-03-02 10:38] 0xc0170 commented on #12190
I'll close this as resolved

[2020-03-02 10:38] #12190 closed

[2020-03-02 10:54] #11295 closed

[2020-03-02 11:04] 0xc0170 commented on #12539
cc @fkjagodzinski

[2020-03-02 11:06] 0xc0170 commented on #12535
Is that a regression (alpha1 was OK) ?  @ARMmbed/team-cypress Can anyone review and fix?

[2020-03-02 11:07] 0xc0170 commented on #12532
Yes, that is how I understand it as well.

Thanks for the feedback, I'll share it with the team

[2020-03-02 11:08] 0xc0170 commented on #12532
@idea--list don't need to be that specific, just areas you think we can improve (in this case this is targeting drivers doxygen doc, but if there are other areas like our docs portal or other, let us know).

[2020-03-02 11:34] pilotak opened #12544 "Ublox: Setting up APN problem"
### Description of defect

When connecting to the internet with SARA-G350, setting up APN for first time it takes a lot of time - actually never finish due to a timeout, but when the sequence is sent again after timeout it runs fine. (it looks like mdm is not responding to this command).

I tried to delay this command by adding `rtos::ThisThread::sleep_for(10000);` before https://github.com/ARMmbe

[2020-03-02 11:54] 0xc0170 commented on #12544
cc @ARMmbed/team-ublox

[2020-03-02 12:27] star297 opened #12546 "ESP8266 network connection stat's not working since string based API's depreciated"
### Description of defect

This code is working correctly using ETHERNET interface however using ESP8266 the IP and Gateway are correct but Netmask is the same value as Gateway.
Was working (and still is) before string theory API's depreciated.
'get_mac_address' doesn't give a warning is that not sting based?

    SocketAddress net_addr;
    net->get_ip_address(&net_addr);
    printf("IP address:

[2020-03-02 12:29] 0xc0170 commented on #12546
cc @ARMmbed/mbed-os-ipcore @michalpasztamobica

[2020-03-02 12:35] CodingGhost commented on #10669
I tried to disable everything I know
`    NRF_RTC0->TASKS_STOP = 1;
    NRF_RTC1->TASKS_STOP = 1;
    NRF_CRYPTOCELL->ENABLE = 0;
    NRF_RADIO->TASKS_STOP = 1; //!< Peripheral power control.
    NRF_RADIO->POWER = 0; //!< Peripheral power control.
    NRF_UART0->ENABLE = 0; //!< Peripheral power control.
    NRF_SPI0->ENABLE = 0; //!< Peripheral power control.
    NRF_SPIS1->ENABLE = 0; //!< Peri

[2020-03-02 13:02] ciarmcom commented on #12546
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2569*

[2020-03-02 13:02] ciarmcom commented on #12544
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2570*

[2020-03-02 13:06] SeppoTakalo commented on #12532
I cannot verify the behaviour, and the code looks incorrect.

Try with this:
[code]

For K64F + some shield with I2C devices, shows same number of devices on every loop.
As you can see, you don't need any dummy bytes, or extra writes. I2C behaves the way that after `START` condition the slave returns with `ACK` if there is match in the address, therefore you can immediately do `STOP` condition.

F

[2020-03-02 15:09] CodingGhost commented on #10669
so, after some testing, I could reduce the problem to following lines:

`    BLE &ble = BLE::Instance(BLE::DEFAULT_INSTANCE);

    volatile ble_error_t initerr = ble.init(bleInitComplete);
    thread_sleep_for(2000);
    ble.shutdown();

    NRF_POWER->SYSTEMOFF = 1;`

What can I do about this now?
what peripheral could still be active and drawing about 20uA?

Also, ofcourse systemON current is wa

[2020-03-02 15:32] JanneKiiskila commented on #12376
Hi @mmahadevan108 ,

Unfortunately that is not a good solution for the Resource as a Service (RaaS) system. We have have a number jobs that run on shared HWs.

1. They allocate the device.
1. They flash it
1. Run the test job (which ever it may be) and then
1. Release the device until a next job is needed.

If it's a PR job - the time for the next job can be several hours. No "magic fixed waits" w

[2020-03-02 15:51] pentabarf commented on #10669
@CodingGhost
I think you need to ENABLE RTC for Low Power Mode.

Also try to activate DC-DC when assembled:
`NRF_POWER->DCDCEN = 0x00000001;`

And Disable NFC functionallity:
`NRF_UICR->NFCPINS = 0x00000000;`

And disable UART in your mbed_app.json in `"target_overrides":{"*":{"target.console-uart": false}}`

I don't know if it is still necessary but add this to "target.macros_add":
[code]

Then t

[2020-03-02 16:25] CodingGhost commented on #10669
@pentabarf
You are the man!
I am at 0.8uA of current again.
I tried to uncomment the section again, and my current went up to 3mA?!
Can I safely comment this section, for what is it good?
and is this a bug?

thanks a lot!

[2020-03-02 16:52] 0xc0170 commented on #10669
@pentabarf  💯 thanks for sharing this!

[2020-03-02 17:13] mmahadevan108 commented on #12376
The addition of the delay I am referring to is only related to this blinky application and not the mbed-os test applications.

The latest DAPLink firmware should fix the test instabilities seen.

[2020-03-02 17:14] mmahadevan108 commented on #12376
[k20dx_mimxrt1050_evk_hyper_if_crc_legacy_0x8000.zip](https://github.com/ARMmbed/mbed-os/files/4276800/k20dx_mimxrt1050_evk_hyper_if_crc_legacy_0x8000.zip)

Latest DAPLink

[2020-03-02 17:23] ifyall commented on #12535
@0xc0170, this is a regression from alpha1. Using the same commands on the same targets does not show this message.

We will do some investigation to determine how this was introduced.

Ian

[2020-03-02 20:09] ifyall commented on #12535
@0xc0170, I have narrowed down the change that caused this, which is https://github.com/ARMmbed/mbed-os/commit/d7e0012bc79d1e94f9e10be5367de2341d25900e. Prior to that commit, the messages were effectively "hidden". It looks like they no longer are hidden and are now standard for all targets, even those without bootloader support.

Thanks,

Ian

[2020-03-02 23:41] star297 opened #12552 "ESP8266 set_network static function not working."
### Description of defect

Can't set static parameters on the ESP8266, works for ETHERNET but not WIFI.
Not sure whether the Mbed driver ever has worked tbh.
Connects with no errors, but has default IP.

    #define IP         "192.168.1.180"
    #define GATEWAY    "192.168.1.1"
    #define NETMASK    "255.255.255.0"

    NetworkInterface* net = NetworkInterface::get_default_instance();

    net->

[2020-03-03 00:16] idea--list commented on #12532
@SeppoTakalo
Thanks for the effort and advice! Tried your code but interestingly on the MAX32630FTHR the code behaves quite different from how you described it on the K64F. Am really confused why this might happen.

On the I2C1 port i only have a GPS module attached at the address 0x10, on I2C2 the board has an on-board PMIC at 0x28 and an accelerometer at 0x68. My original code finds them.
Your c

[2020-03-03 00:30] idea--list commented on #12532
@0xc0170
Let me propose to change the current "I2C hello, world" example of the I2C API found [here](https://os.mbed.com/docs/mbed-os/v5.15/apis/i2c.html) to something similar to @SeppoTakalo's code as that is more explanatory as the current example. While one also would not need the exact same temperature sensor. However first we should be sure that the proposed new example code behaves the same

[2020-03-03 02:09] yogeshk19 commented on #10669
@CodingGhost you have listed out quite a number of different things you tried out to lower the current draw. My question is which change seemed to help the most to drop the current draw. Was it just commenting out the code that @pentabarf  suggested? Also is the average current draw significantly lowered when advertising and connected with the changes you have tried out so far?

@pentabarf, @0xc01

[2020-03-03 03:46] cyliangtw opened #12555 "USB Host Feature after OS 5.15.0"
### Description of defect

In versions of Mbed OS 5.15.0, mbed could support both of USB-host & USB-device features by  `//mbed-os/features/unsupported/`.
In current master branch of Mbed OS, removed `//mbed-os/features/unsupported/` and just keep USB-device only in `//mbed-os/drivers/source/usb` .
Why not support USB-host anymore ?

For LTE/NB-IoT module usb interface, USBHost3GModule or USBHostS

[2020-03-03 05:11] idea--list commented on #12555
@cyliangtw
My understanding is that USBDEVICE has been long an EXPERIMENTAL feature of mbed-os core. Until mbed-os V5.10 it was not OFFICIALLY part of the library, though it was available for use.
Then as with V5.10 the mbed team has refactored the USBDEVICE implementation but with breaking changes. This is why the USB functionality got broken for almost all the boards, however since that time it

[2020-03-03 05:53] cyliangtw commented on #12555
@idea--list
Thanks of your comment, I realized Mbed usb feature history and current Mbed usb-device is well.
My inquiry is for some **usb-host feature** framework or implementation, then I could follow, just like as //mbed-os/features/unsupported/USBHost.

[2020-03-03 06:20] ricky-3i opened #12556 "Can't install 'cmsis_pack_manager'"
### Description of defect
When trying to generate firmware CA keys and certificates by executing `mbed dm init <params>`, encountered warning about some missing Python modules (namely idna, cmsis_pack_manager, psutil). Then tried installing the missing modules, but encountered error while installing cmsis_pack_manager. [err_msg.txt](https://github.com/ARMmbed/mbed-os/files/4279557/err_msg.txt)

Al

[2020-03-03 06:23] ciarmcom commented on #12555
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2571*

[2020-03-03 06:23] ciarmcom commented on #12552
*Internal Jira reference: https://jira.arm.com/browse/MBOTRIAGE-2572*

[2020-03-03 06:44] soleilplanet commented on #12556
@ricky-3i since you are using Linux in your product and just need the DM features from the tools, I would assume upgrading mbed-os and tools wouldn't be an issue for you, would you please try if mbed-os-5.15.2 and mbed-cli 1.10.2 and see if it works better? Thanks!

@madchutney would you please help? Thanks!

[2020-03-03 07:12] ricky-3i commented on #12556
Hi, just updated mbed-cli to 1.10.2. retrying to install cmsis_pack_manager still result in same error. Can you please provide guide (links?) on upgrading the mbed-os? Thank you!

[2020-03-03 08:35] SeppoTakalo commented on #12532
`I2C::write(byte)` is not really undocumented, but the documentation assumes that you have knowledge of how I2C behaves. Basically there is no address line, and therefore the first byte written to the bus, after a START condition, is an address.

![i2c message](https://cdn.sparkfun.com/assets/6/4/7/1/e/51ae0000ce395f645d000000.png)

`I2C::write(address, data, length)` just does internally all STAR

[2020-03-03 08:59] JojoS62 commented on #12542
The example compiles with lto and minimal_printf when I add the -u option in the linker options:`
lto.json:
[code]
But the code size is the same as with lto profile only, the wrapping seems not work in this case.
Still testing.

[2020-03-03 09:24] desmond-blue commented on #12191
@sr425 As you are using `mbed-os-5.13.1`, the default BLE Stack is Nordic SoftDevice, could you confirm is that you are using? Or you've already configured it to using Cordio?

[2020-03-03 11:05] madchutney commented on #12556
The reason the `cmsis-pack-manager` fails to install is probably because the PyPI package does not include a binary suitable for a Raspberry Pi (which appears to be the development platform being used). Can you please retry on a main line Linux distribution such as Ubuntu?

This issue has a similar error to the issue https://github.com/ARMmbed/mbed-cli/issues/949 which occurs on all platforms due

[2020-03-03 11:42] idea--list commented on #12532
@SeppoTakalo
Thanks again! I already tried your latest suggestion as it really simplifies my original code. On the MAX32630FTHR it results in:

- Finding 5 devices in the 1st cycle and 0 devices in any further cycles on the I2C1 port which has 2 devices attached.
- If i also modify the for condition to `for (uint8_t addr = 10; addr < 127; ++addr) {` then suddenly the logic changes and it finds 2 d

[2020-03-03 13:03] ciarmcom commented on #12556
@ricky-3i thank you for raising this issue.Please take a look at the following comments:

Have you correctly specified which version of Mbed OS you are using (tag or sha)? We cannot automatically identify a release based on what you have provided.
How can we reproduce your issue?

NOTE: If there are fields which are not applicable then please just add 'n/a' or 'None'.This indicates to us that at l

[2020-03-03 13:10] jeromecoutant opened #12561 "mbed-trace enable makes thread overflow in GCC"
### Description of defect

Discussion started in #12416

Tests done on top of #12464 with NUCLEO_F767ZI and tests-netsocket-tcp

Goal is to check the maximum thread size of stm32_emac_thread:

  | ARM | GCC
-- | -- | --
develop profile | 216 | 232
develop profile + mbed-trace | 368 | 856
debug profile | 248 | 232
debug profile + mbed-trace | 368 | 840

How can we explain so much difference in GCC

[2020-03-03 13:21] jeromecoutant commented on #12416
Hi

Wrong assumption...
Issue seems not linked to debug mode, but only with GCC and mbed trace feature.

See #12561

[2020-03-03 13:32] pentabarf commented on #10669
@yogeshk19 no the function `static void idle_hook(void)` replaces the default idle function of mbed and as the names of the called functions say (`sleep_manager_lock_deep_sleep()` and `sleep_manager_unlock_deep_sleep()` encapsulate the `sleep()` function), deep sleep gets prevented.
I guess this is for a stable work of BLE because wakeup from deep sleep needs some time but i have no problems with

[2020-03-03 15:25] jeromecoutant commented on #12294
Hi

I am sorry but I couldn't reproduce the crash...

[console.log](https://github.com/ARMmbed/mbed-os/files/4282047/console.log)

[2020-03-03 15:30] artokin opened #12563 "MIMXRT1050_EVK compiler error with nanostack-border-router"
### Description of defect

Compiler error when trying to build nanostack-border-router application using target MIMXRT1050_EVK:

[code]

#### Target(s) affected by this defect ?
MIMXRT1050_EVK

#### Toolchain(s) (name and version) displaying this defect ?
GCC_ARM, ARMC6

#### What version of Mbed-os are you using (tag or sha) ?
mbed-os-5.15.0, master (#6e6603f97d84e8ef9460c73fb3bc8d5de0cd70f7)

##

[2020-03-03 16:04] #12416 closed

[2020-03-03 16:18] ciarmcom commented on #12563
@artokin thank you for raising this issue.Please take a look at the following comments:

Have you correctly specified which version of Mbed OS you are using (tag or sha)? We cannot automatically identify a release based on what you have provided.
It would help if you could also specify the versions of any tools you are using?

NOTE: If there are fields which are not applicable then please just add

[2020-03-03 18:35] jamesbeyond opened #12564 "CY8CPROTO_062_4343W failed on kvstore Greentea tests"
### Description of defect

In our testing CI, we can see `CY8CPROTO_062_4343W` target is failing on kvstore Greentea tests:
`features-storage-tests-kvstore-general_tests_phase_1` and `features-storage-tests-kvstore-general_tests_phase_2`

The tests start failing between around 27Feb
@ARMmbed/team-cypress do you have any idea about this

#### Target(s) affected by this defect ?
 CY8CPROTO_062_4343W

[2020-03-03 18:46] kyle-cypress opened #12565 "KVStore greentea tests broken on some Cypress targets after #12385"
### Description of defect
Several storage tests fail on some Cypress targets with latest master. This appears to have been caused by #12385 (the same tests pass with a8fe8310b94a814aeca32c31d700fbab9b6cb6f3)

The failing tests are:
- features-storage-tests-kvstore-general_tests_phase_1
- features-storage-tests-kvstore-general_tests_phase_2

Targets tested and failing:
- CY8CPROTO_062_4343W
- CY8CK

[2020-03-03 19:21] kyle-cypress commented on #12564
I just filed #12565 for the same issue. The failures are caused by #12385 (thanks @VeijoPesonen for bisecting to narrow it down). I don't know why yet.

[2020-03-03 22:36] jamesbeyond commented on #12564
Cool, I close this one as duplication

[2020-03-03 22:36] #12564 closed

[2020-03-03 22:39] jamesbeyond commented on #12565
Hi @tymoteuszblochmobica,
Any ideas about this issue? this seems linked with https://github.com/ARMmbed/mbed-os/pull/12385

[2020-03-03 23:00] jamesbeyond commented on #12294
Hi @jeromecoutant,
Thanks for helping the investigation, we are currently looking at this internally. here are our findings so far:
- We can reproduce a crashing consistently.
- The crash is using debug profile images. and crashing immediately at booting up stage.
- Reset button not able to recover the target, has to use a full power cycle to recover
- This crashing seems related to pyocd, and how

[2020-03-04 04:39] ricky-3i commented on #12556
@madchutney Yes currently using Raspberry Pi 3 (Raspbian 10), so should I still use the Pi but using Ubuntu (Any specific version, is Ubuntu MATE okay?) or should I use another Ubuntu from another PC?

[2020-03-04 07:52] #12486 closed

[2020-03-04 08:02] artokin opened #12566 "HardFault in stm32_emac_thread when traces are enabled"
### Description of defect

HardFault detected in nanostack-border-router using DISCO_F769NI with traces enabled:

[code]

#### Target(s) affected by this defect ?
DISCO_F769NI

#### Toolchain(s) (name and version) displaying this defect ?

#### What version of Mbed-os are you using (tag or sha) ?
master

#### What version(s) of tools are you using. List all that apply (E.g. mbed-cli)

#### How is

[2020-03-04 08:02] Reda-RM commented on #12190
@SeppoTakalo  in my case, hello.bin contains the bootloader as well (bootloader + header + image). So I can not generate an image which contains only the (the header + image) to use in firmware update. what do you think ?

[2020-03-04 08:06] 0xc0170 commented on #12566
This is the cause most probably: https://github.com/ARMmbed/mbed-os/commit/b3583f04cfb63cb87f302fafbda79ff391b0a2e5

cc @ARMmbed/team-st-mcd Please review - it would be good to have this fixed today (fix or revert) to get nightly green again

[2020-03-04 08:07] 0xc0170 commented on #12566
cc @jeromecoutant

[2020-03-04 08:10] jeromecoutant commented on #12566
Yes, I agree.
I know this issue and opened an issue: #12561
A workaround is ready in my dev environment, I can push it.

[2020-03-04 08:11] 0xc0170 commented on #12565
@kyle-cypress Thanks for the report. I can confirm this is now also in nightly

@ARMmbed/mbed-os-storage

[2020-03-04 08:15] 0xc0170 commented on #12566
@jeromecoutant Let's fix master asap as it's blocking other teams (testing fails with latest master). We can just disable completely the tracing in the emac file until its fixed. I'll wait for the fix to review

[2020-03-04 08:54] chopbo commented on #12294
Hi,
I don't have too many details to disclose, but we are experiencing a very similar issue on our STML4 target. A few observations:

- We have seen various behavior when waking from sleep depending on optimization. It seems to work with -O2, but with -Os it just fails to wake from sleep after being programmed with openocd. With -lto it crashes trying to wake from sleep.
- With -Os a power cycle w

[2020-03-04 09:08] madchutney commented on #12556
Hi @ricky-3i, my apologies I should have been clearer. I'm afraid that this package is specified as `manylinux1` which only includes support for `x86_64` and `i686` and will therefore not work on a Raspberry Pi. You'll need to use a PC with either a `x86_64` and `i686` architecture and standard linux distribution as your host development platform to use these tools.

[2020-03-04 11:45] freddan80 opened #12568 "Missing definition of __SXTB16_RORn in cmsis_gcc.h"
### Description of defect

In the latest cmsis repo, there's a definition of __SXTB16_RORn in cmsis_gcc.h. It is missing in:

https://github.com/ARMmbed/mbed-os/blob/master/cmsis/TARGET_CORTEX_M/cmsis_gcc.h

since it old. Latest CMSIS cmsis_gcc.h:

https://github.com/ARM-software/CMSIS_5/blob/develop/CMSIS/Core/Include/cmsis_gcc.h

Do you mind updating that file/folder?

#### Target(s) affected by

[2020-03-04 13:03] ciarmcom commented on #12568
@freddan80 thank you for raising this issue.Please take a look at the following comments:

What target(s) are you using?
What toolchain(s) are you using?
Have you correctly specified which version of Mbed OS you are using (tag or sha)? We cannot automatically identify a release based on what you have provided.
It would help if you could also specify the versions of any tools you are using?
How can

[2020-03-04 13:03] ciarmcom commented on #12566
@artokin thank you for raising this issue.Please take a look at the following comments:

What toolchain(s) are you using?
Have you correctly specified which version of Mbed OS you are using (tag or sha)? We cannot automatically identify a release based on what you have provided.
It would help if you could also specify the versions of any tools you are using?

NOTE: If there are fields which are no

[2020-03-04 13:59] freddan80 commented on #12568
All targets with DSP extensions
GCC
mbed-cli 1.10.0

Instructions on how to reproduce can be found:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/kernels/cmsis-nn

[2020-03-04 14:16] SeppoTakalo commented on #12190
How about:
[code]

or any other way to append those together...
Header have always space of 1 kB allocated.

[2020-03-04 14:48] Reda-RM commented on #12190
Yeah if we are going to make it manual then this way will work. I was asking if it can be done automatically in build process.
Thanks @SeppoTakalo