[2015-11-02 08:27] 0xc0170 commented on #1096
@bcostm @dbestm @adustm Please look at the report above from Erik

[2015-11-02 10:42] dbestm commented on #1096
We think to put 200ms for all products.
OK for you?

[2015-11-02 10:49] Sissors commented on #1096
I think for startup that is fine.

However while it wouldn't be trivial, I think you would still need to reconsider how it behaves after waking from deepsleep. With twice 200ms timeout (once for external oscillator, once for crystal), it takes another 400ms after the wake event happened, before it will be processed (unless all processing happens in the interrupt loop).

[2015-11-02 14:58] dbestm commented on #1096
By default there is no timeout (the external oscillator is check first).
For people who are developing their own code by using sleep mode, it will be easy to modify the clock define to avoid this.

[2015-11-02 15:41] Sissors commented on #1096
In that case my board must have an issue, since it takes 10 seconds to startup.

[2015-11-02 16:23] dbestm commented on #1096
By default SB16 and SB50 (back of the board, where it's written "MCO") should be fit.
Maybe you have a wrong version of the board where it is not done.

[2015-11-02 18:10] star297 commented on #1096
SB16 and SB50 are closed if MCO output of ST-LINK MCU is used as input clock.
If X3 (8MHz crystal) is fitted (with associated loading capacitors) SB16 and SB50 must be o/c.

I can only comment from my prototyping point of view. What is needed Ideally is a similar set up to the L476, manual clock set up. However if possible a 'default' set up for auto detect should be added. That way the user can c

[2015-11-02 18:31] giulianodianda commented on #1096
I can't recall exactly, but i remember some of the reasons why i choosed to not use MCO from STlink:
1- to have more GPIO
2- to be able to use external VCC without having the stlink to pulse the led, which alters ADC reads

[2015-11-02 18:44] Willem23 commented on #1096
I think the default auto-setup should be maintained for the average user.
An option to overrule the auto setting is fine, but it should still work with the compiled lib and not force you to use the mbed-src.
It is unfortunate that the first generation of nucleos did not have the MCO bridges installed by default (not sure about the current boards). I have installed the SB16/SB50 bridges on all my b

[2015-11-02 19:59] shaneleonard opened #1405 "UARTs 4 and 5 on STM32 NUCLEOL152RE do not work"
The following code, when run on the STM32 NUCLEO152RE, hangs indefinitely without outputting anything over the serial. This is the case for both UART 4 and UART 5. However, UARTs 1, 2, and 3 all work as expected.

    #include "mbed.h"

    Serial uart4( PC_10, PC_11 );
    // Serial uart5( PC_12, PD_2  );

    int main() {
       uart4.baud(9600);
       // uart5.baud(9600);

       while(1) {

[2015-11-02 20:08] shaneleonard commented on #1405
The issue occurs in <code>libraries/mbed/targets/cmsis/TARGET_STM/TARGET_STM32L1/serial_api.c</code>. There is a typing error on several lines, where <code>#if defined(USART4_BASE)</code> is used instead of <code>#if defined(UART4_BASE)</code> (and similarly for UART 5). <code>UART4_BASE</code> and <code>UART5_BASE</code> are defined in <code>libraries/mbed/targets/cmsis/TARGET_STM/TARGET_STM32L1/

[2015-11-02 21:45] shaneleonard commented on #1405
Not sure if I should leave this issue open until the pull request is accepted, so I'm actually going to open this back up until the fix is integrated into master.

[2015-11-02 22:31] manitou48 commented on #1383
Yep, fixes my problem on F446RE.  thanks

[2015-11-02 22:37] star297 commented on #1096
Having the default auto set up using the MCO STLink MCU 8 MHz clock source is fine if you are only going to use the development board on Mbed official libs and clearly should be employed here.
I think you will still have the timeout issue,  haven't tried, I always use external crystals.
IRC set up is as much use as a chocolate fireguard for anything but the most basic applications.
Many users will

[2015-11-03 07:39] 0xc0170 commented on #1096
@Willem23 Please create an issue for this

[2015-11-03 19:21] Willem23 opened #1408 "SystemCoreClock and USB clock settings dependency (STM32 series)"
In case you want to use the USB device (or host) features the core clockspeed has to have certain values otherwise you can not get the correct USB clock of 48 MHz. On the F103 for example you can run at 72 MHz core speed with 8MHz external clocks (PLL: 8x9 = 72, USB: 72/1.5=48), but you can only get a maximum of 48 MHz core speed using the 8 MHz HSI (PLL: (8/2)x12 = 48, USB: 48/1=48).
It would be

[2015-11-03 19:27] Willem23 commented on #1096
@0xc0170 commented 12 hours ago
@Willem23 Please create an issue for this
Done, see #1408

[2015-11-04 10:56] andrewjfox opened #1409 "deleting PwmOut object crashes application"
Hi, I originally posted this on mbed forum, but have also posted here.

I'm using the nRF51822-DK platform, and wanted to delete, or shutdown, PwmOut objects during sleep, as they use a bit of background power.

The app kept crashing so I've created a simple app to test, and it crashes after 2 cycles

[code]

LED flashes twice then program goes nuts, all LEDs blink randomly.
I'm assuming this obje

[2015-11-07 23:00] star297 opened #1413 "DISCO-L476VG Pinmap error: wrong port number"
InterruptIn up(JOYSTICK_UP);

Creates this error. Also screws up interrupt and Ticker functions. Other button inputs work fine.
Had a quick look, but couldn't see anything in the pin defines.

[2015-11-09 03:46] jrobeson commented on #1378
ping mbed maintainers?

[2015-11-09 05:21] andrewjfox commented on #1378
created issue #1409 to cover PwmOut problem but haven't had any feedback as yet. Don't even know if anyone has looked at it.

[2015-11-09 07:31] leibin2014 commented on #1409
How about call pwmout_free() in the desctructor?
The implement of pwmout_free() should be changed. I implemented the pwmout_free() as below:
void pwmout_free(pwmout_t* obj) {
   MBED_ASSERT(obj->pwm != (PWMName)NC);
    pwmout_write(obj, 0);
    PWM_taken[obj->pwm] = 0;
    timer_free();
    ppi_free(obj->pwm);
    gpiote_free(obj->pin,obj->pwm);
}

[2015-11-09 07:34] 0xc0170 commented on #1409
@andrewjfox
have you checked what is generated for implicitly-generated destructor, why is it crashing?

There's pwmout_free function in the hal, which could be invoked as @leibin2014 pointed out, plus implementation of that function checked. There are platforms which have it empty for instance

[2015-11-09 07:40] 0xc0170 commented on #1378
@andrewjfox There are some replies for pwmout dtor ;) Regarding this timer problem, can you create simple test-code snippet which we could run locally to reproduce ticker issue (or the snippet in your fist code is the simplest we can get?) ?

[2015-11-09 09:04] jrobeson commented on #1378
I've been riding the coattails of this issue due to having similar problems using the RemoteIR library with a BLE Nano (16K ram) and the NRF51 DK.    Any of you folks ever used that one on any NRF51822 hardware?

[2015-11-09 23:23] andrewjfox commented on #1409
I don't know why it's crashing, but given how simple the test is I suspect deleting the object is not freeing resources.

In the standard mbed library there is no destructor for PwmOut, however there is a pwmout_free function in the NRF51 target source. I've tried implementing a destructor for PwmOut and calling pwmout_free.
[code]
this stops the program crashing, but doesn't actually stop the Pwm

[2015-11-09 23:54] andrewjfox commented on #1378
I don't see the problem when the code is really simple and softdevice is not loaded. Any suggestions as to how to create simple test code that also simulates the same load on the cpu would be greatly appreciated.

[2015-11-10 03:16] anpilog commented on #1409
@andrewjfox: @leibin2014 gave you the solution to your problem.
We had same issue several months ago and resolved it in the way described few posts above.
[code]
Regards.

[2015-11-10 03:58] andrewjfox commented on #1409
Thanks all.

The suggestion above appears to only stop PWM if all PWMs are freed, is this correct? Is it possible to stop a single PWM object? I've only started using the nRF51 and mbed so apologies if haven't understood how the low level works.

Does anyone know if this will be updated in official library release?

[2015-11-10 11:12] leibin2014 commented on #1409
@andrewjfox: All PWMs share the same timer. So the timer should be stopped after all PWMs are freed. Otherwise will effect the other PWMs which don't want to stop.

[2015-11-10 12:20] 0xc0170 commented on #1409
@leibin2014 Will you send PR with this patch , you shared above?

[2015-11-10 23:50] andrewjfox commented on #1409
Thanks to all for your help.

[2015-11-11 06:04] leibin2014 commented on #1409
@0xc0170 I have created the PR here:
https://github.com/mbedmicro/mbed/pull/1416

[2015-11-11 08:16] 0xc0170 opened #1418 "Travis build - update to the latest devices"
I sent PR a hour ago to add some newer targets. There might be still missing some targets, therefore I am tagging here people who added targets to check and if any missing, please send PR adding/fixing your targets.

Please check https://github.com/mbedmicro/mbed/blob/master/workspace_tools/build_travis.py, that it contains your target (for travis, needs to support GCC ARM, so there are still targ

[2015-11-11 13:29] 0xc0170 commented on #1413
cc @bcostm

[2015-11-11 23:49] galenseitz opened #1419 "default serial baud rate is incorrect on Nucleo-F070RB platform"
The default baud rate for Serial is documented as being 9600, but when the Nucleo_printf example is built for the Nucleo-F070RB platform using mbed revision 109, the actual baud rate is 57600.  It appears that this was broken by commit d571b16e907bd404dc5bbba7ae18ad79d5899b75.  Reviewing the commit, I suspect that this problem exists for all STMF0 platforms.  More debugging details can be found he

[2015-11-12 07:16] 0xc0170 commented on #1419
@adustm

[2015-11-12 10:39] akhilpanayamparambil commented on #1418
@0xc0170 All Atmel targets are added in your PR. Thanks.

[2015-11-12 15:54] adustm commented on #1419
Hi,
I have made the following trials without being able to reproduce your issue:
With online compiler, using the last official version of mbed library (version 109) and NUCLEO-F070RB platform : the printf works fine and I was also able to change the baudrate.
With github test environment, using the up-to-date mbedmicro:master code: I was able to compile with gcc-arm and use the printf.
The receive

[2015-11-12 18:39] galenseitz commented on #1419
I have confirmed that SB16 and SB50 are bridged with a 0 ohm resistor.  My board is marked MB1136 C-03.

I reran the Nucleo_printf example and I am still seeing the problem.  Using the online compiler, I imported Nucleo_printf, selecting "Update all libraries to latest revision".  I then built and downloaded the example to my board.  I observed a baud rate of 57600, both on an oscilloscope(at SB13

[2015-11-13 08:16] dbestm commented on #1403
OK I take this in charge for all STM32 series.

[2015-11-13 09:35] dbestm commented on #1403
We think it's better to use the flag INITS instead. To check if the RTC was initialized.
Is it fine for you?

[2015-11-13 09:52] star297 commented on #1403
Which ever you think will the best option, using RTC->ISR is mentioned in the manual as a way to check the state of the RTC, has been working as I mentioned above.

[2015-11-13 13:53] adustm commented on #1419
Hi,
Issue eventually reproduced.
If you use printf("Hello World !\n"); it has a correct baudrate, and if you use a global variable Serial pc(SERIAL_TX, SERIAL_RX); and pc.printf("Hello World !\n"); it has the wrong baudrate.
I am working on the bug fix.
Cheers

[2015-11-14 21:50] justbuchanan opened #1426 "Add option to build.py for building rpc library"
The python build script has options for building usb, rtos, etc, but I don't see an option for rpc.  I'd be glad to submit a PR to add this if you'd like.

[2015-11-17 12:30] adustm commented on #1419
Hello @galenseitz,
I just submitted a pull request for this issue.
Cheers

[2015-11-18 09:31] rgkandur opened #1435 "Support for STM32F7-Disco with GNU tools for ARM Embeeded processors"
In the current release of mbed sdk, the mbed library is only available to use with Keil compiler for STM32F7-Disco board and no corresponding library available to use with GNU ARM tools.  When can I expect to have mbed library available with GNU ARM tools.  Please consider this request at highest priority.  Also I would like to have the library built with 'hard' floating point instead of 'softfp'.

[2015-11-18 11:37] ohagendorf commented on #1435
Please see PR #1436

The library was already available for gcc_arm. Only one entry in target.py was missing. The PR doesn't change the fpu config.

[2015-11-18 11:41] ohagendorf opened #1437 "[DISCO_F746NG] RTOS"
in tests.py the DICO_F746NG is configured for the RTOS_x tests
the RTOS config options in the RTX library are missing

[2015-11-19 03:06] andrewjfox commented on #1409
@leibin2014, #1416, I've implemented the changes as described and run some tests. I can't tell if the resource is being freed, but the power consumption is not dropping. I run the following sample code and instead of going to sleep, the loop keeps repeating. The Pwm timer must still be calling an interrupt that drops it out of sleep. If I remove the PwmOut object the code works as expected, going

[2015-11-19 06:05] rgkandur commented on #1435
Thanks for the quick reply.  May I know, when can I expect mbed library for STM32F7-Disco compatible to GNU ARM tools available in mbed sdk. I would expect the STM32F7-Disco mbed library to be built with hard fpu instead of softfp.

[2015-11-19 15:31] betzw opened #1440 "Pls. align InterruptIn"
Could you pls. align the implementation of `InterruptIn` to how it is done in mbedOS now?!?

[2015-11-19 15:52] 0xc0170 commented on #1440
I'll look at it if it's here, I recall call() method in function pointer does the check if it's not null, thus won't fail.

[2015-11-19 15:52] 0xc0170 commented on #1440
Please provide more descriptive information - file reference, code snippet, etc

[2015-11-20 06:17] betzw commented on #1440
The fix was [this](https://github.com/0xc0170/mbed-drivers/commit/2c0fe0426c9c037c120b17dc206738fadfbf76bc).
The story can be found [here](https://github.com/ARMmbed/mbed-drivers/pull/120).

[2015-11-20 08:41] #1426 closed

[2015-11-20 09:03] ohagendorf commented on #1435
The PR is accepted. This issue could be closed.

[2015-11-20 09:15] #1435 closed

[2015-11-23 22:12] neilt6 opened #1447 "LPC11U35 Compiler/linker issue"
Some of my previously working LPC11U35 programs are hard faulting before they even get to `main()`, even known-good versions with older libraries. In an isolated test, I was able to produce an even weirder problem in which the presence of a destructor in a class breaks USBDevice, while removing it "fixes" it. I think this may be a compiler/linker issue, and that it may affect other targets as well

[2015-11-25 13:33] betzw commented on #1440
Pls. note that PR https://github.com/mbedmicro/mbed/pull/1443 does not fix completely the issue, as the checks before calling eventually a null pointer, see:
https://github.com/ARMmbed/mbed-drivers/blob/master/source/InterruptIn.cpp#L66
and
https://github.com/ARMmbed/mbed-drivers/blob/master/source/InterruptIn.cpp#L71
are missing!

[2015-11-25 17:44] odinthenerd opened #1454 "MKL25Z USB0->ISTAT bits cleared inadvertantly"
in [this file](https://github.com/mbedmicro/mbed/blob/master/libraries/USBDevice/USBDevice/USBHAL_KL25Z.cpp#L486) some of the USB0->ISTAT bits are being cleared by using:

USB0->ISTAT |= USB_ISTAT_STALL_MASK

or similar.
Since these bits are 'set to clear' the code is functionally identical to clearing alls set bits or

USB0->ISTAT = 0xFF

resulting in an ISTAT register with all the bits cleared.

[2015-11-25 21:54] neilt6 commented on #1447
Additional experiments have shown that the LPC11U68 and LPC1549 are also affected by this issue.

[2015-11-26 01:35] adamgreen commented on #1447
I take it from your forum post that this is just happening with the online compiler?  If I take your **weird bug** sample and build it for my LPC11U24 board, it should reproduce the hard fault?

[2015-11-26 02:00] adamgreen commented on #1447
**Note:**  I built your LPC11U35_WeirdBug sample for the LPC11U24 with the online compiler and it didn't fault.  When I break in with GDB, it is always just running through the main loop.

[2015-11-26 02:39] sg- commented on #1447
I built online for the lpc1768 and was not able to reproduce either. Will keep trying different boards. I did notice that with both the connect false and the constructor false the hid device did enumerate which I found odd.

[2015-11-26 02:58] neilt6 commented on #1447
The example I posted doesn't hard fault, but USBDevice will break when the `DummyClass`'s destructor is present. Windows will report the USB device has "malfunctioned", but the loop will still run IIRC. Removing the destructor, or overriding `__aeabi_atexit()` fixes the problem. Compiling it offline using uVision 4 works too.

[2015-11-26 03:05] neilt6 commented on #1447
It's behaving like a memory corruption issue, different programs are being affected in different ways. While playing around with library versions in one of my projects, I was able to get a binary that didn't hard fault, but USBDevice wouldn't enumerate. Now that same combination is hard faulting...

[2015-11-26 03:06] adamgreen commented on #1447
I see.  Too hard for me to debug without symbols then.  I will bow out and let you and Sam take care of it.

[2015-11-26 03:09] neilt6 commented on #1447
I think it might be a heap-related issue with the ARM micro toolchain, since overriding `__aeabi_atexit()` fixes it. http://www.keil.com/forum/21859/using-destructor-without-heap-results-in-stop-on-bkpt/

[2015-11-26 09:10] adustm commented on #1405
Hello @shaneleonard,
I've seen your issue and I agree with the fix you've implemented.
Do you confirm that the issue does not exist any more ?
Cheers

[2015-11-26 10:02] sandeepach opened #1455 "MBED Version 110 Does not have the GCC Toolchain changes submitted by ohagendorf as per PR1438"
MBED Version 110 Does not have the GCC Toolchain changes submitted by ohagendorf as per PR1438.
Please merge it to the release. I understand from Martin Kojtal's reply on MBED group that build_release.py needs to be modified for this.

[2015-11-26 10:04] sandeepach commented on #1455
This is for STM32F746 Discovery board.

[2015-11-26 10:06] 0xc0170 commented on #1455
cc @bcostm

[2015-11-26 13:09] #1393 closed

[2015-11-26 13:19] #1440 closed

[2015-11-26 13:35] ohagendorf commented on #1455
Hello @sandeepach

I just checked the current master version and everything looks fine for me. My changes are included.

Could you please explain, what exactly is your problem.

Olaf

[2015-11-26 13:38] 0xc0170 commented on #1455
@ohagendorf gcc support is not part of the release as it's not defined here : https://github.com/mbedmicro/mbed/blob/master/workspace_tools/build_release.py#L89

[2015-11-26 14:46] sandeepach commented on #1455
Hello Olaf
I think Martin is right, my problem is https://developer.mbed.org/users/mbed_official/code/mbed/ latest version(110) does not have the object files built with GCC for STM32F746 Discovery.
This was my original problem which was said fixed as per PR1438.
Sandeep.

[2015-11-26 16:16] neilt6 commented on #1447
I just tested the LPC1768, and can confirm that it is NOT affected by this issue.

[2015-11-26 16:59] ohagendorf commented on #1455
Hello @sandeepach

please see PR #1456.

Regards
Olaf

[2015-11-26 19:00] shaneleonard commented on #1405
Yes, the issue is fixed. Sorry, I must have forgotten to close this ticket.

[2015-11-26 19:00] #1405 closed

[2015-11-26 20:48] neilt6 commented on #1447
Here's something interesting, [startup_LPC11xx.S](https://github.com/mbedmicro/mbed/blob/9b7d23d47153c298a6d24de9a415202705889d11/libraries/mbed/targets/cmsis/TARGET_NXP/TARGET_LPC11UXX/TOOLCHAIN_ARM_MICRO/TARGET_LPC11U35_401/startup_LPC11xx.S) doesn't appear to be defining `__heap_base` and `__heap_limit` properly. The assumption seems to be that `__user_setup_stackheap()` in [sys.cpp](https://gi

[2015-11-27 09:48] #1455 closed

[2015-12-01 16:51] kylemanna commented on #1328
I'm curious as to whether or not the CMSIS-RTOS API will be implemented for mbedOS.

[2015-12-02 16:46] 0xc0170 opened #1464 "Exporters - use progen to generate projects"
We currently use custom jinja2 templates and own python scripts (Exporters and it's children) to generate projects files.

I would like us to switch to progen to do the heavy work, simplify adding new tools. I am currently finalizing v0.8 (https://github.com/project-generator/project_generator/tree/dev_v0.8), which could be the one to enable all this development. As this version provides improveme

[2015-12-02 17:14] gbeardall opened #1465 "LPC1768 Repeated Timer::read_ms() discontinuity in returned value"
If **Timer::read_ms()** is called repeatedly then at apprx (2^32)/2000 milli-secs (about 36 mins) the timer value jumps to (2^32)*1999/2000 and then continues from there, and wraps as normal. Each time it reaches the 1st value above, the jump occurs. Additionally, **read_us()** doesn’t seem to suffer from the same problem.

[code]

[2015-12-03 15:06] 0xc0170 commented on #1437
they were just added, but we still have to add M7 files (reuse M4 as that one seems to be a case)

[2015-12-03 15:07] #1419 closed

[2015-12-03 15:07] #1418 closed

[2015-12-03 22:50] ohagendorf commented on #1437
It seems that M7 files are not necessary. I just checked a Keil M7 RTX example project. It uses the M4 library.

[2015-12-04 19:42] star297 opened #1466 "Nucleo L152RE not waking from Deep Sleep"
L152RE will wake from Sleep but not Deep Sleep I'm sure this was working a few months ago the last time I tried.

[2015-12-04 21:03] star297 commented on #1096
Guys, could we move this on to finalise.
Can I make a suggestion here, the L476 I believe does have a favourable approach.

https://developer.mbed.org/users/mbed_official/code/mbed-src/file/a11c0372f0ba/targets/cmsis/TARGET_STM/TARGET_STM32L4/TARGET_NUCLEO_L476RG/system_stm32l4xx.c

If you look at the code starting at line 134, this gives a good solution, it makes it simple for the user to select

[2015-12-05 09:47] #1437 closed

[2015-12-07 08:03] adamgreen commented on #1465
This seems like this behavior is to be expected.  This is caused by the `/ 1000` [here](https://github.com/mbedmicro/mbed/blob/master/libraries/mbed/common/Timer.cpp#L51).  The 1000 in the divisor accounts for part of the 2000 roll-over factor that you are seeing.  The other part is due to the 1 bit lost by using signed division instead of unsigned.

If you want your timer value to roll-over witho

[2015-12-07 08:39] 0xc0170 commented on #1465
:tired_face:

We should definitely add a comment to API

[2015-12-08 11:23] 0xc0170 commented on #1096
cc @dbestm @bcostm

[2015-12-08 11:27] 0xc0170 commented on #1466
cc @bcostm @dbestm

[2015-12-08 12:00] gbeardall commented on #1465
Ok, my misconception from the documentation was that read_ms() was a synthesised full 32 bit milli-sec counter. It might be worth documenting that as well as the weird wrap problem.

[2015-12-11 20:01] jamofer commented on #666
The suggested solution given in the link works perfect for my project, I recommend it.

[2015-12-12 00:17] 0xc0170 commented on #1464
There's an update, progen generator got v0.8 update, definitions were also released, thus those branches are not needed anymore for those 2 modules.

The devel is https://github.com/0xc0170/mbed/tree/dev_progen, run setup.py there to install progen v0.8 (new dependency).
I added a lot of targets to progen defintions, many of those are only defined for IAR, I'll work on uvision, and then will share

[2015-12-13 21:31] 0xc0170 commented on #666
@jamofer can you send a pull request with a fix?

[2015-12-14 07:48] sandeepach opened #1475 "STM32F7 HardFP Support"
I think STM32F746 Discovery board supports HARD FP.
However the mbed library uses only softfp.
I think to best use the capabilities of the board, HardFP should be supported.

[2015-12-14 08:01] 0xc0170 commented on #1475
This is related #1467.  The target is currently defined as M7 without fpu ;)

[2015-12-21 05:21] rgkandur opened #1478 "Support for microbit and microbit b processors with GNU tools for ARM Embeeded processors"
Hi,

In the current release of mbed, there is no support for microbit and microbit b processors for GNU tools for ARM Embedded processors.  Can it be possible to support both microbit processors with GNU tools for ARM Embedded processors at the earliest.

Regards,
Raghavendra

[2015-12-21 22:10] DerbselliconLabs commented on #1409
@andrewjfox i just tried your test code with an additional call to sleep():  the current drops to 5uA.

#include "mbed.h"

DigitalOut test(LED1);

int main() {

    PwmOut *ptr;

    while(1) {

        ptr = new PwmOut(LED2);
        for(int i=0; i<5; i++) {
            test = 0;
            ptr->write(0);
            wait(1);
            test = 1;
            ptr->write(1);
            wait(1);

[2015-12-21 22:11] zskdan commented on #1409
@andrewjfox i just tried your test code with an additional call to sleep(): the current drops to 5uA.

#include "mbed.h"

DigitalOut test(LED1);

int main() {

PwmOut *ptr;

while(1) {

    ptr = new PwmOut(LED2);
    for(int i=0; i<5; i++) {
        test = 0;
        ptr->write(0);
        wait(1);
        test = 1;
        ptr->write(1);
        wait(1);
    }
    delete ptr;

    sleep();
    s

[2015-12-22 21:52] mfiore02 opened #1480 "STM32F4 RTC broken after soft reset - mbed lib rev 111"
[This commit](https://github.com/mbedmicro/mbed/commit/feac60b519675a78423bb7ac1f71f790cc5f5e4a) added a check of the RTC_ISR_INITS flag in the RTC_ISR register in rtc_init(). This change has broken some RTC functionality for at least the STM32F411 processor.

The following code demonstrates the issue. The RTC is set and read properly when the device is cold booted, but a constant value, 946684800

[2015-12-23 16:05] mfiore02 commented on #1480
I added some code to print the RTC registers before and after the set_time call.

[code]

The results are below. The file "rtc_good.txt" is the results from a cold boot. The file "rtc_bad.txt" is from the soft reset after the boot.

[rtc_bad.txt](https://github.com/mbedmicro/mbed/files/70978/rtc_bad.txt)
[rtc_good.txt](https://github.com/mbedmicro/mbed/files/70979/rtc_good.txt)

I should also note

[2015-12-23 16:27] 0xc0170 commented on #1480
cc @dbestm @bcostm

Lets fix this for the next release.

From that commit referenced above, this line breaks it ``` if ((RTC->ISR & RTC_ISR_INITS) ==  RTC_ISR_INITS) return; ```

[2015-12-23 16:33] 0xc0170 commented on #1478
Hello,

seems like it was not defined as gcc arm support target. It could be as other nrf51 based targets support gcc arm.

[2015-12-24 05:56] rgkandur commented on #1478
may i know when this support could be added?

[2015-12-24 09:23] jrobeson commented on #1371
I have one of these, but I wonder if it's worth adding to mbed at this point. I'm already developing with yotta now.

[2015-12-29 17:46] mfiore02 commented on #1480
If the intended behavior could be preserved, that would be valuable. It is useful to be able to keep the RTC running across soft resets or sleep modes and still use the mbed rtc api.

[2015-12-31 02:34] sg- opened #1486 "Exporting to Atmel Studio"
[code]
Using AS7 and the update wizard there is a problem with the generated projects if you click the 'migrate to current infrastructure' box. It adds an additional Device Startup folder causing duplicate symbols during linking

Appears to works OK with this box unchecked.

[2016-01-07 15:27] dinau opened #1494 "Simple program of NUCLEO_F030R8 dose not work."
Latest code of github version for Nucleo-F030R8  is probably broken.
Target compiler is armcc.
Below code dose not work.
[code]
The code released as rev.111  is ok.

dinau

[2016-01-07 15:31] 0xc0170 commented on #1494
Does not work means? Can you specify more details, what does it print, the led interval is not correct, print does not work, the systemcoreclock is wrong, or?

[2016-01-07 15:46] dinau commented on #1494
Hello,
(1)  LED dose not blink once. (state off)
(2) Nothing is printed.
 I can't  even do  "printf debug" ,therefore I don't konw any more details at this moment.

dinau

[2016-01-07 15:56] 0xc0170 commented on #1494
Is this the one causing this : https://github.com/mbedmicro/mbed/pull/1432 ? Can you try to revert that patch to see if it works? In the HAL , the only PR within the time frame was from you.

[2016-01-07 16:13] dinau commented on #1494
I've reverted code below (before merge #1432).
"LPC4337 stdio fixes for lpcxpresso board"
( GIT SHA : 7899cff5f676742c244cca2908aea850227f6b53)

Everything is ok.

dinau.

[2016-01-07 16:41] dinau commented on #1494
I think the cause is probably #1432.

dinau

[2016-01-08 09:57] adustm commented on #1494
Hello,
I'll have a look

[2016-01-08 16:56] adustm commented on #1494
Hello,
I fixed the issue #1494 in PR #1496.
The SYSCFG is not clocked, so the code : SYSCFG->CFGR1 |= SYSCFG_CFGR1_MEM_MODE was not applied.
In F030RC the function NVIC_SetVector is called twice in the HAL_InitTick function.
    NVIC_SetVector(TIM_MST_UP_IRQ, (uint32_t)timer_update_irq_handler);
    NVIC_EnableIRQ(TIM_MST_UP_IRQ);
    NVIC_SetVector(TIM_MST_OC_IRQ, (uint32_t)timer_oc_irq_handler);

[2016-01-09 03:54] dinau commented on #1494
Hello,
I've confirmed that the simple program I showed above works well with
#1494.

Thank you.

dinau

[2016-01-11 07:40] sandeepach commented on #1475
Any updates on this?
I got the MBED Library version to work when the rest of the C source code is also compiled without FPU.
However, this is working sub-optimally. Any plans to merge this PR? I see it is idle for too long.

[2016-01-11 08:57] 0xc0170 commented on #1475
I am looking at it, got some problems when testing, therefore need more time. I'll update it today with the progress

[2016-01-11 09:32] #1494 closed

[2016-01-11 16:30] c1728p9 opened #1498 "Allow buffer for RawSerial printf to be explicitly specified"
The buffer used for printf in RawSerial is either dynamically
allocated or used on the stack depending on the string size.
The buffer size should be user supplied instead.

[2016-01-12 09:31] #1480 closed

[2016-01-13 15:42] melomaa commented on #1348
Is there still some problem with the STM32L4 memory configuration?
I have a NUCLEO-L476RG board and I made some tests with it.
* Using the online compiler I build the blinky example, but no blinking on the board.
* I cloned the mbed-src and build it for my board, then build the blinky example, but no blinking.
* I modified the linker script so that the heap and stack are placed on SRAM1 and rebuil

[2016-01-13 15:49] mlnx commented on #1348
@0xc0170  could you please have a look into this?

[2016-01-13 19:12] 0xc0170 commented on #1348
@melomaa Using the latest master? This issue was for uvision , which was supposed to be fixed. We shall have a look at GCC ARM linker script file. can you point out what exactly you have changed?

cc @bcostm @adustm

[2016-01-13 22:38] JojoS62 commented on #816
I see the same problem. The 65 ms burst looks like a 16 bit overflow: it is something like 65535 microseconds. Then after this burst, the new timestanps are calculated. As they are in the past, the INT is called immediately. This results in calls with high frequency until the missing calls are worked up and the normal cycle is running. Until the next overflow.

[2016-01-14 08:03] 0xc0170 commented on #816
@bcostm What's the status?

[2016-01-14 09:13] bcostm commented on #816
Same as in June 2015. No solution found on this problem.

[2016-01-14 10:53] JojoS62 commented on #816
I think leibin2014 found already the reason. The problem is that a 32 bit counter is needed and the implementation to extend the 16 bit counter is wrong. The 16 bit overflow is not handled correctly, it does not increment the high word of the counter. My suggestion:
[code]

[2016-01-14 11:41] bcostm commented on #816
ok thanks. I have Keil and IAR. I will check this.

[2016-01-14 11:42] JojoS62 commented on #816
I'm trying also with gcc-arm. And I see already that us_ticker_set_interrupt() needs to be modifyed also.

[2016-01-14 13:25] JojoS62 commented on #816
sorry, that is too complicated for me at the moment. There is also a dependency on hal_tick.c, function timer_irq_handler(). This tries to handle time spans >65536 µs.

[2016-01-14 14:38] helmut64 commented on #1348
I have not worked on this for some time. I verifyed today via the online compiler using the STM32L3 Nucleo board which works ok, the STM32L Discovery still crashes before main. My comment above from "Oct 4, 2015" is still valid. My testing belongs to the mbed online compiler.

My plan was to debug it using the uvision IDE or gcc/gdb, which I have no done so far. For the gcc/gdb I am still looking

[2016-01-15 07:38] melomaa commented on #1348
@0xc0170
I was using the release 111.

In the linker script file the memories are defined
SRAM2 (rwx)  : ORIGIN = 0x10000188, LENGTH = 32k - 0x188
SRAM1 (rwx)  : ORIGIN = 0x20000000, LENGTH = 96k

I changed for heap and stack sections:
\-    } > SRAM2
\+    } > SRAM1

and then the stack top definition
\-    __StackTop = ORIGIN(SRAM2) + LENGTH(SRAM2);
\+    __StackTop = ORIGIN(SRAM1) + LENGTH(SRAM1

[2016-01-15 08:04] helmut64 commented on #1348
@melomaa,

Below is a little test I wrote to verify the memory locations. Please note that when I call the MaxMemoryBlockAvailable (enable it first) the system hangs at the end of the memory, however it should give a NULL return which works fine on the STM32L1. Second we should get almost 128 kb 32+96 (minus stack) which is not the case. Third starting with the 32kb SRAM 2 and keeping the stack on

[2016-01-15 18:38] star297 commented on #1348
To start with the online compiler needs adjusting, build details report 32K RAM max (unless this has been corrected since I last updated/checked), these targets have 128K, I would start there first and get this corrected. The .sct files are the same for both targets, can't see why there is a problem between them, perhaps check the backend set up on the Mbed compiler.

TBH I have been using both bo

[2016-01-17 20:39] helmut64 commented on #1348
@star297, I have multiple STM32L4 Disco and Nucleo boards, non of them are briked, I can load the original factory sample app using the STLink-utility. The original initial version had a wrong stack location which I fixed a few month ago. We can probably go back to the origianl config an swap the SRAM1 and SRAM2 which means the 96k are first.

[2016-01-17 23:20] star297 commented on #1348
Yes, working Helmut. I only use Mbed online with the Nucleo board to develop my code then use the Segger Flasher to program my prototype board. I have only used 16K of RAM so far so maybe not hit the Stack/Heap issue. But I do use deepsleep extensively so will need this part retained in this mode.

I have clock set up for 80MHz, found that Erik's timer WakeUp library would not work with the 48MHz

[2016-01-18 08:42] helmut64 commented on #1348
@star297, thanks for your explanation, nice work your project, something similar is also my target. At present I work with the Nucleo and Disco boards, I started using the L1, now L4, next is a own PCB.

Regarding the max memory info, here may be the source of the problem. I organized the SCT that the 32k comes first, the stack is on top of the 32k and the 96k comes second. My idea was that we can

[2016-01-20 19:33] star297 opened #1509 "STM32L4 InterruptIn has stopped working in Mbed-dev rev:58 Mbed rev: 112"
The title says it all.
The example:
https://developer.mbed.org/teams/ST/code/Nucleo_read_button_interrupt/?platform=ST-Nucleo-L476RG
no longer works, program freezes when button is pressed.
Noticed this on Mbed-dev rev:58 Mbed rev: 112, but may have broke before in previous revisions.

Currently working with Mbed-dev rev: 33

[2016-01-20 19:37] star297 commented on #1466
Has this been fixed yet?

[2016-01-20 20:00] neilt6 opened #1510 "PwmOut broken on LPC11U68, LPC1549, possibly others"
PwmOut is currently broken on the LPC11U68, LPC1549, and possibly other LPC targets using SCTs for PWM output. The period and pulsewidth are both off by 1, and the input clock is being scaled to 1MHz making high frequency output impossible. I'm currently investigating fixes for these issues.

[2016-01-20 21:38] neilt6 commented on #1510
Mystery 1 solved: the match reload registers are -1 encoded. Therefore, the correct MATCHREL0 value for a 4μs period is 3, not 4. However, this means that a 0μs pulse width isn't possible, since 0 = 1μs. I'm currently investigating a workaround.

[2016-01-20 22:03] mfiore02 opened #1511 "coupling between RTOS and STM32F4 stop mode"
I have been testing stop mode on the STM32F4 processors for an application. I've noticed a couple issues:

1) When using the online compiler, I need to include the mbed-rtos library in my project in order for the device to ever wake up from stop mode. If I remove the rtos library from my project and rebuild, my device never wakes up. The application is using mbed library revision 112 and mbed-rtos

[2016-01-21 07:51] 0xc0170 commented on #1510
Thanks for looking at this, please reference this issue in the PR with a fix

[2016-01-21 07:52] 0xc0170 commented on #1511
cc @bcostm @adustm

[2016-01-21 11:43] 0xc0170 commented on #1466
I don't recall this has been fixed yet.

[2016-01-21 11:45] 0xc0170 commented on #1475
We merged the fpu changes, please test and report if any problems.

[2016-01-21 11:45] #1475 closed

[2016-01-21 15:46] 0xc0170 commented on #1329
@dinau Is this fixed?

[2016-01-21 15:51] 0xc0170 commented on #1328
Hello,

sorry for getting back with "small delay".

In https://github.com/mbedmicro or https://github.com/ARMmbed repositories?

As you could have noticed, most of the new development is happening for mbed OS.

Something you should ask on the mbed.com forum.

[2016-01-21 16:33] bcostm commented on #1466
I don't know. Need to recheck with latest mbed library and advise what should be done.

[2016-01-21 16:37] bcostm commented on #1511
1) It has never be the case. Need to recheck with latest mbed library and advise what should be done.
2) We (as ST) cannot do anything on the mbed IDE

[2016-01-21 16:42] neilt6 commented on #1510
I've submit my pull request for review. The off-by-one errors have been fixed, and the counter clock now runs at the system clock speed, which is consistent with other platforms like the LPC11U24. In addition, the counter now halts when the pulse-width is 0μs in order to produce true 0% duty cycle output.

[2016-01-21 18:17] mfiore02 commented on #1511
I tested the first case (online compiler) again using the latest revision of the mbed-dev library (rev 53) instead of the precompiled mbed library. The results were the same.

I will test with an older version of the mbed library as well.

@bcostm, I understand that you can't modify the mbed IDE, but my understanding is that it is using the mbed sdk with the ARM/Keil toolchain under the hood. @0xc

[2016-01-21 21:51] mfiore02 commented on #1511
I also tested the first case with revs 110 and 104 of the mbed library. The results were the same, so it seems that this behavior has been around for quite a while.

[2016-01-22 08:20] 0xc0170 commented on #1511
Yes, to get the same use ARMCC (v5.06 recommended). Usually when you can't reproduce locally, use ARM or uARM (default toolchain for target), no debug-info (let the optimization be the same). You should get the same result Use project.py to export a project to get better understanding whats going on.

[2016-01-23 19:33] star297 commented on #1509
Not so sure it is to do with revisions.
Something I found, if I simply add AnalogIn aIn(PA_1);
It runs correctly.
Why we need to set an AnalogIn pin?
How does this affect the InertupIn function?

[2016-01-24 00:00] star297 commented on #1466
Further checks, I found it did wake up using HSI.
Using external clock, it is set to start on EXTC first then XTAL.
My board, as many will be, does not have the MCO link soldered as default.

The fix is to transpose the EXTC and XTAL order starting at line 455 in the system_stm32l1xx.c file as below:

void SetSysClock(void)
{
  /* 1- Try to start with HSE and external xtal */
#if USE_PLL_HSE_XTAL

[2016-01-24 20:22] sg- opened #1514 "Proposal to remove target support for GCC_CS and GCC_CR"
I would like to submit a PR with some house cleaning. From what I've seen most current releases of Eclipse based IDEs are using GCC_ARM. Is anyone specifically using GCC_CS or GCC_CR and a current mbed lib release? If not I'd like to propose that we depreciate support for these as of Q1 2016. All releases for GCC would then consolidate on the GCC_ARM builds.

https://developer.mbed.org/questions/6

[2016-01-24 22:19] adamgreen commented on #1514
:+1:

[2016-01-25 08:50] 0xc0170 commented on #1514
Thanks for sharing this before it gets removed. I'll keep an eye on this thread plus the one on mbed.

What we could do for the next release, for exporters, if anyone exports for GCC_CR/CS, we would add a warning or file that its being deprecated and removed in the next xxx revision.

[2016-01-25 08:57] 0xc0170 commented on #1514
What about lpcxpresso? We got exporters, does it support gcc arm?

[2016-01-25 08:59] 0xc0170 commented on #1509
cc @bcostm @adustm

[2016-01-25 15:53] toyowata commented on #1514
I believe the LPCXpresso exporter uses GCC_CR (GCC codered) target.

[2016-01-25 16:51] sg- commented on #1514
Is this for redlib or newlib? From the release notes of v7 "Support for ARM’s newlib-nano C library, which can significantly reduce code size, especially for C++ applications" so wondering if the exporters configured for v6 and not v7?

[2016-01-25 21:23] star297 commented on #1509
I have noticed that the L476 does not require the LowPowerConfiguration code to achieve low power in deepsleep, where similar code is needed for the L152. It appears the GPIO's initialise in the low power mode. Perhaps the problem is with the GPIO's latching the IRQ's and these need to be configured in the same way as the L152 on start up, then applying LowPowerConfiguration code to set the unused

[2016-01-26 02:40] toyowata commented on #1514
By default, the GCC_CR exporter support Newlib, not Newlib-Nano.
Developer can enable Newlib-Nano library in LPCXpresso IDE by following information:
https://www.lpcware.com/content/faq/lpcxpresso/newlib-nano-support

Therefore, existing GCC_CR exporter support all version of LPCXpresso IDE (v6, v7 and v8) and can be switched to use Newlib-Nano library if developer want to.

[2016-01-26 14:56] toyowata commented on #1514
Removing to the GCC_CR means LPCXpresso exporter will no longer support, right?

[2016-01-26 14:58] sg- commented on #1514
No - It means that only v7 and v8 would be supported and use newlib-nano or the stdlib shipped with arms gcc release

[2016-01-26 15:05] toyowata commented on #1514
In my understanding, LPCXpresso exporter (codered.py) uses GCC_CR build target.  How are we going to support LPCXpresso exporter without GCC_CR target then?
https://github.com/mbedmicro/mbed/blob/master/workspace_tools/export/codered.py

[2016-01-26 16:12] sg- commented on #1514
right so that would be updated to use GCC_ARM

[2016-01-26 19:45] mfiore02 commented on #1511
This could be a showstopping issue for some of our customers (if they don't want to use RTOS).

Has anybody at ARM or STM  been able to reproduce this issue? Is anyone looking into it?

@sg- any thoughts?

[2016-01-26 21:47] 0xc0170 commented on #1511
I'll have a look tomorrow, the code snippet is using specific ST HAL. Did you explore what is going on, why RTOS changes it, does it wake up with a proper intervals? Does not systick interfere?

[2016-01-26 22:10] adamgreen commented on #1511
My suspicion would be that the RTOS sets up the SysTick timer interrupt and that is what actually wakes up the code when the RTOS is linked in.

To someone who knows STM parts better:
* Would the SysTick interrupt as configured by RTX be able to wakeup the device from a stop?
* Is @mfiore02 setting up the RTC as a wakeup source correctly?

[2016-01-27 08:51] alteredworlds commented on #1371
Can anyone recommend a combination of library versions to get an offline build for mbed-classic working for the BLE Nano v1.5? I've been using embedXcode+ for Arduino (for a different board), but can't get a build working for mbed-classic. Out of interest I tried yotta/Docker (although sounds like this is not recommended for any potential production version for *many* months?) & also couldn't get

[2016-01-27 09:31] jrobeson commented on #1371
I have blenano 1.5 working with yotta and mbed-os, but it should probably work for  mbed classic too.  However I'm using my own custom target and hal until the ARM folks publish theirs. It also requires one to edit https://github.com/ARMmbed/mbed-hal-nrf51822-mcu/ since the allowed targets are whitelisted there.

[2016-01-27 09:31] jrobeson commented on #1371
NOTE: I haven't published my targets, because @AlessandroA said they will be publishing official ones soon.

[2016-01-27 09:40] alteredworlds commented on #1371
OK, thanks for the info!

Arduino 1.6.7 now seems to be working well for me (with board selection ‘BLE Nano(V1.5 32KB)’), after flashing the latest RedBear mk20 firmware from https://github.com/RedBearLab/nRF51822-Arduino <https://github.com/RedBearLab/nRF51822-Arduino>

(I had previously applied the firmware as documented at: https://developer.mbed.org/platforms/RedBearLab-BLE-Nano/ <https://deve

[2016-01-27 14:12] bcostm commented on #1509
I've just checked the Nucleo_sleep example on mbed IDE with mbed v112 and mbed-dev v53 and I confirm that the pressed function is nvever entered when the user_button is pressed.

I've exported this example on uVision using mbed-dev and it is OK with sleep and deepsleep.
I've also checked using ARM_MICRO and ARM_STD lib and -O0 and -O3 options. In all cases it's OK.

So, it seems there is something

[2016-01-27 15:00] mfiore02 commented on #1511
I am setting up the RTC wakeup source as specified by the STM32F411 reference guide.

My understanding is that systick fires every 1ms, so it seems pretty clear that systick is not waking up the device. If I configure the RTC wakeup for 30 seconds, my device sleeps for 30 seconds and then wakes up (when RTOS is in the project). If I configure RTC wakeup for 2 minutes, my device sleeps for 2 minute

[2016-01-27 15:20] bcostm commented on #1466
Just checked the Nucleo sleep example on Nucleo_L152RE. The example is OK with mbed v112 and mbed-dev v53.

Concerning the change in the clock configuration, this has to be aligned with the default h/w clock configuration (i.e. MCO connected or not with SB16/SB50 solder bridges) on the board.
Following the last Nucleo board schematic, all the nucleo boards (excepted the L476RG) are clocked by defa

[2016-01-27 15:53] bcostm commented on #1511
Unfortunately we don't have a basic example using deepsleep (stop mode) and wakeup by RTC.

But I took this nice example https://developer.mbed.org/users/Sissors/code/WakeUp/ from @Sissors and I confirm that it works fine on the Nucleo_F401RE and F411RE. I used the online IDE with mbed v112.

There is no need to add the RTOS in the code.

[2016-01-27 16:09] maclobdell commented on #1511
this thread might be of interest:
https://developer.mbed.org/questions/2201/mbed-sleep-problem-with-RTOS/

at first look, without digging into it, this might be that you are putting the device into a state that it isn't able to be woken up from the wakeup source you have intended, and including the rtos library will configure the systick to fire an interrupt every 1ms which might be waking up the

[2016-01-27 17:02] mfiore02 commented on #1511
@bcostm thanks for the feedback - I'm taking a look at the library @Sissors wrote now - good to have another datapoint

@maclobdell I'm fairly certain it's not systick as the device doesn't wake up 1ms after it goes to sleep - it sleeps for the configured amount of time

I'm going to spend some time diffing my code and @Sissors code to see what I might be doing wrong

[2016-01-27 20:03] Sissors commented on #1511
While it does not really explain why your code works with RTOS, just to make sure: If you are using a normal NUCLEO board, are you power cycling your MCU using for example the supply current measurement jumper? Core M4s cannot wake from deepsleep when they are being debugged, and those interface ICs like to put them in debug on startup (i know for sure the nxp and freescale ones do, not 100% sure

[2016-01-27 23:59] star297 commented on #1509
This example shows the problem:
https://developer.mbed.org/teams/ST/code/Nucleo_read_button_interrupt/?platform=ST-Nucleo-L476RG

I tried using uVision and was not working.
However if you change the pin define order to this:

DigitalOut myled(LED1);
InterruptIn mybutton(USER_BUTTON);

then it does work on Mbed and uVision (without defining the AnalogIn pin).

However before we go any further the M

[2016-01-28 13:59] dinau commented on #1329
Hi 0xc0170,
I've checked a simple LED blinky and printf() code using latest SDK srcs.
It's ok, works well.

dinau

[2016-01-28 15:20] 0xc0170 opened #1518 "Doxygen docs - async API should state it requires device support"
Reported here: https://developer.mbed.org/questions/63861/I2CTransfer-Function/?c=21233

We should improve the docs, users should be aware that async methods are not by default available , as for instance other methods (in this case could be sync methods).

[2016-01-28 18:07] 0xc0170 commented on #1514
I am fine with this proposal. We could carry out this task in the February, send a removal pull request, test it in the online IDE if exporters are functional for lpcxpresso.

[2016-01-28 18:11] 0xc0170 commented on #1486
@kpurusho Please have a look

[2016-01-28 18:16] #1329 closed

[2016-01-29 14:02] toyowata commented on #1514
+1

[2016-02-02 04:06] kpurusho commented on #1486
For projects which contains self contained CMSIS and startup related file (which is the case for mbed exported projects), it is required to un-check 'migrate to current infrastructure' box.

[2016-02-02 13:47] 0xc0170 commented on #1486
This might be described in the GettingStarted.htm ? It translates into ``` <meta http-equiv="refresh" content="0; url=http://mbed.org/handbook/Getting-Started-mbed-Exporters#atmelstudio"/>```

[2016-02-02 13:58] adustm commented on #1403
Hello @star297 ,
Is it ok for you now ? Could we close this issue  ?
Cheers

[2016-02-02 16:06] star297 commented on #1403
@adustm
@0xc0170

No I'm afraid you can't.
I have loaded Mbed_dev rev: 58, it is not correct and will not work.

This part has to be changed/ included:

int rtc_isenabled(void)
{
    if ((RTC->ISR & RTC_ISR_INITS) ==  RTC_ISR_INITS){
        return 1;
    } else {
        return 0;
    }
}

All the "rtc_inited" code needs to be removed, it's no longer required and has no use here.

I have this imp

[2016-02-02 16:06] #1403 closed

[2016-02-02 17:11] 0xc0170 commented on #1403
@star297 please do, at least one, so we can test it

[2016-02-03 16:19] lcafaro commented on #1413
Confirmed on DISCO-L476VG.

Seems like a bad definition of JOYSTICK_UP in PinNames.h?

[2016-02-03 16:41] lcafaro opened #1524 "WIZwiki-W7500 timing issues"
Hello!

I'm having issues performing correct timing for 1-Wire operations (such as reading a DS18B20 temperature sensor) on WIZwiki-W7500 platform. Other bitbanged protocols like the one in use for DHT11/22 sensors also seem to fail.

Take this code as example, since it explicits microseconds time delays: https://developer.mbed.org/forum/mbed/topic/101/?page=1#comment-829

On STM32 NUCLEO-F446RE a

[2016-02-03 17:55] aamcampbell opened #1525 "Set -funsigned-char flag when exporting to GCC"
Here's a minor feature request for exporting to GCC and GCC-based environments (such as KDS and Atmel Studio): add the compiler flag`-funsigned-char` in exported projects by default.
)
The mbed handbook lists the `char` type as being unsigned ([here](https://developer.mbed.org/handbook/C-Data-Types)), but the C standard does not specify, and in GCC `char`s are signed by default (see http://stackov

[2016-02-04 16:29] bcostm commented on #1413
I've just rechecked the board schematic and the pins definitions are OK. There is something else that causes this problem.
I have also rechecked the DISCO_L476VG_Leds_Buttons example and I confirm also the problem when the Up pin is configured. Without it it is OK.
I will analyse this deeper.

[2016-02-05 21:12] Sissors commented on #1518
If only there was a way to see which devices support which functions and integrate that on the website ;).

[2016-02-08 17:14] crespum commented on #832
I am working on a project with 5 Tickers and 2 of them are not working properly. The frequencies of those Tickers are 100 and 50 Hz. IWhen I disable them, the rest of the tickers work without any apparent problem, but if they are enabled (and the Bluetooth connection active), all of them stop after some seconds/minutes.

Is this issue really solved?

[2016-02-08 21:58] star297 commented on #1348
Helmut, could you run your tests again, the Flash/RAM size settings are now correctly set up on Mbed.

[2016-02-08 22:16] jrobeson commented on #832
might wanna subscribe to this issue instead: https://github.com/mbedmicro/mbed/issues/1378 and look at the linked issues also.

[2016-02-09 08:38] crespum commented on #1378
Has anyone had this problem again? I'm having problems with the tickers very similar to those described here an in #832 ([see my comment there](https://github.com/mbedmicro/mbed/issues/832#issuecomment-181480606)).

[2016-02-09 12:33] crespum commented on #1279
I've already obtained a response for the absence of the pin 31 in #1476. I suggest to create a new issue regarding just to the system off mode which has not been clarified.

[2016-02-09 12:33] #1279 closed

[2016-02-09 12:53] helmut64 commented on #1348
Dear Paul,

the Flash/RAM sizes look correct in mbed, however there are two remaining problems:
b) Nucleo L4: allocating more than the available memory freezes instead of returning NULL
#include <new>
char *p = new (std::nothrow) char[96*1024];
I use the same check on the L1 and it works great.

a) Discovery L4: crashes before main. (same as before).

Regards Helmut

[2016-02-10 05:21] mbrudevoldlpd commented on #1511
One issue I note is that you haven't fully initialized "RTC_HandleTypeDef RtcHandle;".  The call into HAL_RTCEx_SetWakeUpTimer_IT needs more than just Instance set.  It needs Lock set to HAL_UNLOCKED.  It may be that you're getting lucky when the RTOS is added and not lucky when it's not.  You can check the return value of HAL_RTCEx_SetWakeUpTimer_IT to make sure it reports success.

[2016-02-10 15:22] crespum opened #1533 "Multiple tickers stop working"
I'm experiencing problems with multiple tickers in the nRF51822, actually it's something similar to what   is described in #832.

I have reproduced the error with a mod of the [Nordic UART example](https://developer.mbed.org/teams/Bluetooth-Low-Energy/wiki/UART-access-over-BLE). I've added to the sample code three tickers:
1. Each 20 ms to increase a counter
2. Each 10 ms to increase another count

[2016-02-11 05:48] sg- commented on #1525
:+1:

[2016-02-11 05:50] sg- commented on #1514
https://github.com/mbedmicro/mbed/pull/1535

Will do much more testing before making the CodeRed/LPCXpresso change to document any deprecation if any exists.

[2016-02-11 06:04] sg- opened #1536 "uARM and ARM proposed changes"
https://developer.mbed.org/forum/mbed/topic/25940/

The next proposal I'd like to make is that there become a clear distinction about which targets use uARM and which use ARM (microlib versus standard library). **My suggestion is that any MCU with 64k or less flash use uARM (microlib) and any MCU with more than 64k use ARM (standard library)**. Feedback??

http://www.keil.com/support/man/docs/arml

[2016-02-11 06:55] 0xc0170 commented on #1536
Sounds good to me.

Adding more ppl, cc @Sissors @bcostm @screamerbg @bridadan

[2016-02-11 07:04] 0xc0170 commented on #1525
@aamcampbell Please send PR to workspace_tools/toolchain scripts, with a fix

[2016-02-11 07:08] 0xc0170 commented on #1533
cc @rgrover @pan-

[2016-02-11 09:48] adamgreen commented on #1525
Pros: Makes GCC builds the same as the online compiler.
Cons: Promotes writing code which isn't really portable.  The correct solution would be for the developer to be explicit with signed/unsigned designation for their char variables (most easily by using the stdint.h types).

[2016-02-11 10:07] 0xc0170 commented on #1525
Adam, it was stated that mbed library or anything else, hosted on mbed.org and used in the online compiler , have the assumption that char is unsigned. Therefore users wrote the libraries with this assumption, which of course means it's not portable !

I am in favor of consistency, and we should state this in the document (where the info is that char is unsigned in the online compiler).

[2016-02-11 12:03] adamgreen commented on #1525
Go for it.  I just tested with GCC-ARM toolchain and it appears to be unsigned there by default too.

[2016-02-11 12:06] sandeepach opened #1538 "Update Code for STM32F7 from STM32F7Cube"
Hello,
Is there a plan to update the code for STM32F7 from the latest version of STM32F7Cube v1.3.0.
I see a lot of changes between the mbed-src/mbed-dev and the stm32cube v1.3.0.
Regards
Sandeep

[2016-02-11 12:17] 0xc0170 commented on #1525
@aamcampbell I would like to know more details where did you have this problem. The one you referenced is for gcc but not specifying the platform.. GCC ARM for instance as Adam pointed out above defaults char to be unsigned. Aren't Atmel and KSD using GCC ARM?

If you can share an example which I can export and get those warnings, would be helpful.

[2016-02-11 12:18] 0xc0170 commented on #1538
@bcostm @adustm

[2016-02-11 15:28] bridadan commented on #1536
That makes sense to me as well. How has this worked in the past? Was it up to the platform vendor?

[2016-02-11 15:30] 0xc0170 commented on #1536
Yes, I would say there was some confusion for default_toolchain option.

[2016-02-11 17:53] aamcampbell commented on #1525
@0xc0170 Sure. Neil Thiessen's SDFileSystem is the project where I ran into this problem, exported to Kinetis Design Studio, running on a FRDM-K64F. KDS does use arm-none-eabi-gcc, but clearly defaults to signed chars. (See also: https://community.freescale.com/thread/335786)

Steps to reproduce:
- Import this project: https://developer.mbed.org/users/neilt6/code/SDFileSystem_HelloWorld/
- Change

[2016-02-11 17:58] aamcampbell commented on #1525
Also, I'm not quite comfortable submitting a pull request because I'm not familiar with the export scripts and I have no way of testing them. I assume I would add "-funsigned-char" to `common_flags`, but I wouldn't be completely sure.

[2016-02-11 18:31] star297 commented on #1536
There are several considerations when using micolib and may not suit all applications.
I understand that OS will have an impact on code size, but that would depend on which targets will be affected.
Could I suggest a drop down selectable option on the Mbed WEB IDE perhaps next to the 'compile' button.
Most of the 'small' Flash devices do have both TOOLCHAIN_ARM_STD and TOOLCHAIN_ARM_MICRO already

[2016-02-11 18:44] sg- commented on #1536
@star297 Thanks for the feedback!

This is the problem. You can hardly do anything meaningful using `TOOLCHAIN_ARM_STD` with a device of less than 64k Flash and 8k RAM.
What I'm trying to do is minimize the amount of releases that get made and tested with little or no practical use.

Is there a case you know of where using the `TOOLCHAIN_ARM_STD` **instead of** `TOOLCHAIN_ARM_MICRO` for a device w

[2016-02-11 20:18] Sissors commented on #1536
What are the actual advantages of ARM compared to uARM? I know some functions aren't implemented in uARM, but the number is fairly limitted I think? (At least the functions you would realistically care about).

Quick check with online compiler (LPC1768 vs LPC11u24 vs LPC812) gives for blinky + a printf 17kB flash, 10kB flash and 4.7kB flash. (The 812 seems to be an outlier, any idea why it is so m

[2016-02-11 21:34] star297 commented on #1536
The Keil compiler developers would be able to answer this to a better depth.
Maybe draw on their knowledge and experiences just to be sure.
Not just about output size, is it something to do with speed and stability?
But I can't say I have experienced or even noticed any detrimental effect on the targets I have used that implements Microlib.
I would side with you on simplicity that works and easier

[2016-02-15 08:47] bcostm opened #1546 "Change STM32L4 LSI default value to 32kHz instead of 40kHz"
To be corrected in rtc_api.c file line 88.

[2016-02-15 17:09] valeros opened #1549 "[Export] Missing flags for Seeeduino Arch Pro in Emblocks project."
Hello!
We have a small problem in platformio/platformio#508.
Looks like linker flags `-u _printf_float` and `-u _scanf_float` are missing in exported project for Emblocks, so `printf` doesn't work correctly with float values. Is this a bug?
Thanks!

[2016-02-15 18:07] 0xc0170 commented on #1549
This seems like a problem in the toolchain file, where for gcc: https://github.com/mbedmicro/mbed/blob/20948ad920372de6b5ff5bf2d4f2237f3730b470/workspace_tools/toolchains/gcc.py#L192 . The list seems to be not consistent, we shall have a look

cc @sg-  @EmBlocks

[2016-02-15 20:55] VladimirAkopyan commented on #1524
I have this problem too, OneWire protocol is unusable

[2016-02-15 22:48] star297 commented on #1509
cc @bcostm @adustm

Guys, could you take a good look at the interrupt functionality as soon as possible please.
The Mbed Flash/RAM settings are now correct.
It appears there are other problems emerging, MBED-RTOS is also not running.
It is not revision dependant, not been working properly from the outset.
Setting multiple interrupts causes all sorts of lockup and weird code jumping problems.
In so

[2016-02-16 07:07] lcafaro commented on #1524
Glad to know it's not just my problem. cc @hjjeon0608 ?

[2016-02-16 07:50] hjjeon0608 commented on #1524
Add the below code into top of main, and test one more plz.
I think also because of clock speed.
*(volatile uint32_t *)(0x41001014) = 0x0060100; //clock setting 48MH
wait_ms(100);

[2016-02-16 20:22] sg- commented on #1486
https://developer.mbed.org/handbook/Getting-Started-mbed-Exporters#atmelstudio

Good idea. Next time I use atmel studio I'll capture a screen shot unless someone has one and wants to email me or upload and share the URL.

[2016-02-16 20:22] #1486 closed

[2016-02-17 17:08] bcostm commented on #1509
Problem confirmed with Nucleo_read_button_interrupt example + mbed v114 or mbed-dev v65 + mbedIDE + NUCLEO_L476 board. But same example works on the DISCO_L476 board.

I made a diff of DISCO and NUCLEO cmsis folders and there is a difference in the stm32l476xx.icf files. SRAM1/SRAM2 regions are reverted. It could be due to this but it needs to be verified.

I'll do it tomorrow.

[2016-02-17 19:06] Willem23 commented on #1524
Adding the above code to main will change the SystemCoreClock to the desired value. Note however that any objects that depend on this clock and that were declared as global before main() will now have incorrect timing settings. You need for example to explicitly call serial.baud(9600) to get the correct baudrate again, same for I2C, SPI bitrates etc. This wont be necessary when the systemclock is

[2016-02-17 19:18] adamgreen commented on #1509
If you can attach GDB to the board when the online built code is failing, you should still be able to grab some information about the state of the device during the failure.  You just won't have symbols so it will make things a bit harder.

If you do happen to do this and it breaks in successfully, you can grab a snapshot of the system and post a link to it for me to look at.  These GDB commands w

[2016-02-18 00:10] hjjeon0608 commented on #1524
Serial clock is always hold, so you don't care of serial baud rate. I2C is used by GPIO, so I2C bit rates is dependent on operation clock not I2C setting clock.

[2016-02-18 00:20] hjjeon0608 commented on #1524
And I will change global clock as maximum clock ASAP.

[2016-02-18 10:18] lcafaro commented on #1524
Hello,
I've run this simple code and I've taken a few more measurements:
[code]

At 20 MHz `SystemCoreClock` a `wait_us(5)` is actually 20uS:
![screenshot from 2016-02-18 11 10 11](https://cloud.githubusercontent.com/assets/13108002/13140068/334c3a94-d630-11e5-9e17-6338e6d87765.png)

At 48 MHz `SystemCoreClock` a `wait_us(5)` is 10uS:
![screenshot from 2016-02-18 11 11 59](https://cloud.githubuser

[2016-02-18 14:02] bcostm commented on #1509
We've discovered that NVIC_RAM_VECTOR_ADDRESS is set to 0x20000000 instead of 0x10000000 in the msis_nvic.c file.
I checked the 0x10000000 value in the mbed IDE with mbed-dev and the Nucleo_read_button_interrupt example works with InterruptIn placed before or after DigitalOut. Can you please try also ? If ok for you too I will send a pull request.

[2016-02-18 21:42] star297 commented on #1509
Spot on, that has fixed the interrupt problem.
Tried it with multiple interrupts triggering Tickers, works stable as expected.
Also checked using HSE @ 80MHz.
With the RTC now working, the L476 is pretty much sorted :+1:

[2016-02-18 21:47] star297 commented on #1348
Helmut, we now have a fix for the interrupt problem.
Transpired that the NVIC_RAM_VECTOR_ADDRESS is set to 0x20000000 instead of 0x10000000 in the cmsis_nvic.c file.
Setting this correctly now gives reliable interrupt function.
This may well have an effect with the issue you found here.
Could you make the NVIC change and retry?
Regards Paul

[2016-02-18 21:56] star297 commented on #1413
See #1509.
Setting the NVIC_RAM_VECTOR_ADDRESS to 0x10000000 instead of 0x20000000 in the cmsis_nvic.c file has fixed this problem.

[2016-02-18 21:56] #1413 closed

[2016-02-19 08:09] helmut64 commented on #1348
@paul, at 0x20000000 starts the regular RAM, this is certainly a problem. I updated the stm32l476xx.sct which has the vectors at RW_IRAM1 (0x10000000) and missed the cmsis_nvic.c file. I don't have a local compiler, at present I use only the mbed.org one.

I don't have a local ARM compiler, however I can do the changes on git-hub.
Have you done a local compilation of mbed (which compiler/debugger?

[2016-02-19 09:01] bcostm commented on #1509
ok cool :smiley: thanks for verifying it.
I will send a PR asap.

[2016-02-19 09:26] bcostm commented on #1348
We have also changed the startup file for ARMCC and I can pass helmut's stack/heap example. I mean a NULL pointer is returned now without crash. I need to continue testing it but it looks ok... If you want I can send this startup file for you to test it also. Tell me.

[2016-02-19 09:39] helmut64 commented on #1348
@bcostm, at present I don't own an ARM local compiler, I have used mbed only. My µVision has a 32kb limit which is good for debugging my code, but it cannot handle the entire mbed size.

[2016-02-19 10:02] bcostm commented on #1348
No problem helmut. I have tested your stack/heap example with an update of the ARM_MICRO startup file on Nucleo and Disco L4 boards with uVision. And everything looks ok. For ARM_STD the example works without changing the startup file. The new startup file is here if someone want to test it also before I send a PR:

[startup_stm32l476xx_ARM_MICRO_new.zip](https://github.com/mbedmicro/mbed/files/13

[2016-02-19 14:04] VladimirAkopyan commented on #1524
Thanks for runnign tests lcafaro, I don't have a logic analyser, so all I can tell is that it doesn't work, but I don;t have any way of knowing why.

[2016-02-21 16:39] helmut64 commented on #1348
@bcostm, I have a question for your change. You specified the heap size of "0x8000 ; 32KB", however there are 98 vectors = 392 bytes (0x188) the the beginning of the RW_IRAM1.

My original idea was that the vectors and stack in the in 32kb segment, that the heap also starts in the 32kb segment and continues in the 96k segment once the 32k are filled up. The benefit would be that the 32k supports t

[2016-02-21 18:26] bcostm commented on #1348
Your idea is great but I don't know how to do it...
@betzw do you know if this is possible ?

[2016-02-22 01:03] hjjeon0608 commented on #1524
I had tested.
First, I explain about wait function.
[code]
and us_ticker_read() is
[code]
TIMER_1-> TCR is timer register.

And I made and tested absolute delay about function.
Below function is equal(more fast) to the wait_us() function.
[code]
And I use value of us as 0. So the while is performed 1 time.
main code is
[code]
The result is 4.45us
![2016-02-22 09 42 09](https://cloud.githubusercont

[2016-02-22 02:16] lcafaro commented on #1524
@hjjeon0608 thanks for clarifying that.

In fact, I've done some more testing and I've found out that as you say the main issue is not the timer itself, but the GPIO toggling time, and the change in direction register.

1-Wire data is written by "tri-stating" the output so that the external resistor can pull up the line and make a logic high state, like this:
[code]

What's really slow is the re-d

[2016-02-22 05:02] hjjeon0608 commented on #1524
`pin.output()` and `pin.input()` call the function of `gpio_dir()`. So both function is equal.
[code]
[code]
And `DigitalOut` is
[code]
And `gpio_init_out();` is
[code]
So
[code]
it should be faster than
[code]

[2016-02-22 05:56] hjjeon0608 commented on #1524
If you want to up the speed, use W7500 driver not mbed library.
`#include "W7500x_gpio.h"`
To set output :
`void GPIO_OutEnSet(GPIO_TypeDef* GPIOx, uint16_t GPIO_Pin)`
To set input :
`void GPIO_OutEnClr(GPIO_TypeDef* GPIOx, uint16_t GPIO_Pin)`

Example
GPIO_OutEnSet(PAD_PA, GPIO_Pin_4);
GPIO_OutEnClr(PAD_PC, GPIO_Pin_12);
PAD group is A,B,C and D. But at mbed, D is not used.
Pin number is 0 ~ 15.

[2016-02-22 06:28] betzw commented on #1348
I do not think that it is possible to specify that the heap is build up of more **non**-consecutive memory regions. As far as I know the uClib of the ARM toolset supports only two variables to specify the heap: ```__heap_base``` & ```__heap_limit```. This seems not enough to me to describe the actual situation on STM32L4.

[2016-02-22 08:51] helmut64 commented on #1348
@betzw, Hallo Wolfgang, I cannot imagine that there are not multiple regions where heap memory is located. There are many cases where an MCU has built-in memory and add-on memory which is all mapped into the main memory area at different locations.

Independent of this I believe a working solution for the STM32L4 series has priority because we never had a reliable working mbed version for the L4 s

[2016-02-22 09:50] betzw commented on #1348
Regarding multiple regions we need to ask ARM.
Regarding a reliable L4 mbed version, Bruno's PRs should get us closer to this objective.

[2016-02-22 19:36] VladimirAkopyan commented on #1524
And how fast is that?

[2016-02-22 23:17] hjjeon0608 commented on #1524
I don't check exact time but gpio_dir() function is
[code]
And pin_function() is
[code]
So I guess just one register access time is faster. Maybe the time is a little fast.

[2016-02-23 07:13] betzw opened #1561 "[TOOLCHAIN_GCC_ARM] Using __get_MSP() in _sbrk()"
@0xc0170 @bcostm

Yesterday I was giving a closer look to file `libraries/mbed/common/retarget.cpp` and especiallaly to the lines from line [474](https://github.com/mbedmicro/mbed/blob/master/libraries/mbed/common/retarget.cpp#L474) to line [492](https://github.com/mbedmicro/mbed/blob/master/libraries/mbed/common/retarget.cpp#L492) where function `__sbrk()` gets defined for `TOOLCHAIN_GCC_ARM`, wh

[2016-02-23 07:27] bcostm commented on #1561
Thanks for this analysis. I don't know why today we can't use the __HeapLimit as done on the Cortex_A? I am not an expert of this. Maybe ARM can help ? If a fix is found for one or two platforms, for example the F401 and L476, we can help afterwards to deploy this change to all other ST platforms.

[2016-02-23 07:49] 0xc0170 commented on #1561
cc @adamgreen

[2016-02-23 08:29] adamgreen commented on #1561
The current version is probably done for maximum flexibility since it doesn't require the user to figure out beforehand how much memory they want to dedicate to the stack and heap. The obvious cost of this flexibility is that the stack can grow downward and collide with the heap and it requires the heap and stack grow towards each other in the same area of memory.

Having a HeapLimit forces the us

[2016-02-23 08:45] betzw commented on #1561
Well, the HeapLimit would also lower the probability that the heap gets corrupted by the stack as its growth will be limited. Maybe not by chance in mbedOS the memory layout has been changed to have the stack being the very first region (assuming that the vector tables will also be moved further up in future)!?!

[2016-02-23 08:59] adamgreen commented on #1561
Yes, if the HeapLimit is quite small but if you make that the default then people will start complaining about their programs now having allocation failures when currently they don't.  I don't like setting HeapLimits because I don't know what they should be.  Each project will have a different split between stack and heap usage.

I do agree that allowing some flexibility in placing the heap in a d

[2016-02-23 09:16] betzw commented on #1561
No doubt about that limiting the size of the heap might create problems for some applications, as for other applications the current approach might not work out at all (e.g. when allocating a lot of memory initially, which then gets partially freed, before entering computations which use recursive functions) ...
Not sure, if there is a "right" solution for mbed-classic. I believe it is a trade-off

[2016-02-23 09:53] adamgreen commented on #1561
If you set HeapLimit too low, the user will get alloc failures when there is still memory available.  If you set it too high then they are in the same situation as today where a recursive function could collide with the heap.  The correct value depends on how much stack the developer needs.

Putting a defined stack at the bottom of valid RAM is one way to catch such stack overflows.  Another is to

[2016-02-23 10:41] betzw commented on #1561
Btw, as far as I know the online compiler uses limits at least with respect to the heap.
@0xc0170 might confirm.

[2016-02-23 18:20] adamgreen commented on #1561
At least for the LPC1768 target that doesn't appear to be the case:
https://github.com/mbedmicro/mbed/blob/master/libraries/mbed/targets/cmsis/TARGET_NXP/TARGET_LPC176X/TOOLCHAIN_ARM_STD/sys.cpp
https://github.com/mbedmicro/mbed/blob/master/libraries/mbed/targets/cmsis/TARGET_NXP/TARGET_LPC176X/TOOLCHAIN_ARM_MICRO/sys.cpp

[2016-02-24 01:01] justbuchanan opened #1562 "fopen(filepath, "rb") doesn't seem to work"
Whenever I try to open a file in binary mode, `fopen()` returns `nullptr`, but `errno` is set to `0`.  I have verified that the file I'm opening exists and it opens just fine in text mode when I pass `"r"` instead of `"rb"`.

[2016-02-24 07:31] betzw commented on #1561
Well, as far as I know at least in TOOLCHAIN_ARM_MICRO ```__user_setup_stackheap``` gets never called and therefore is removed from the binary by the linker.
Anyway, I have the impression that there is no real **general** guideline regarding the memory layout in mbed-classic. Pls. correct me if I am wrong!

[2016-02-24 14:45] sg- commented on #1561
The right solution for the mbed SDK has been letting the stack and heap collide. https://developer.mbed.org/handbook/Memory-Model

[2016-02-24 14:56] 0xc0170 commented on #1561
:+1:

[2016-02-24 15:07] betzw commented on #1561
@siorpaes

[2016-02-25 07:26] betzw commented on #1561
So my question now becomes: considering that the future of mbed should be mbed-os, is it really worthwhile to align all mbed-classic platforms a/o tool-sets which do currently not implement this memory model to become compliant with it?

[2016-02-25 08:48] adustm commented on #1538
Hello,
We will update Cube F7 within 1 month.
Cheers

[2016-02-25 17:46] adamgreen commented on #1562
Don't use the 'b' (binary) option with mbed.  Some of the mbed supported Standard C Libraries just strip it off and others pass it down to lower level file system drivers which then fail on it.  I have never seen any evidence that a mbed supported C Library will actually treat 'text' files any different than 'binary' ones just like most Posix systems.

[2016-02-26 16:16] sg- commented on #1561
Yes - All mbed Classic platforms should implement this memory model. https://developer.mbed.org/handbook/Memory-Model We need to create a test for this. Anyone interested??

[2016-02-26 18:36] JojoS62 commented on #1561
Could you please add in the documentation that the RAM section must have space for the copy of the interrupt vector table?

[2016-02-27 16:32] justbuchanan commented on #1562
Ok, makes sense.  I'll just stick with "r" for the mode.  Thanks!

[2016-02-27 16:32] #1562 closed

[2016-02-27 21:13] adamgreen commented on #1562
@justbuchanan Which toolchain and FileSystem did you hit this with?  I have seen it before with GCC/newlib and LocalFileSystem.  Is that what you were attempting to use as well?

[2016-02-28 16:44] bridadan opened #1572 "IAR compiles NRF51822 tests, but tests do not run"
IAR support was removed in PR #1569, however IAR does seem to have support for NRF51822 based targets. If possible, IAR support should be added back to all of these targets.

[2016-02-28 16:46] 0xc0170 commented on #1561
@JojoS62 Please some details, where should it be added? The picture there in the link @sg- referenced above?

[2016-02-28 16:47] 0xc0170 commented on #1561
@sg- Can you create an issue with some info about the tests, someone (even me) can find time to implement them

[2016-02-28 22:53] sg- commented on #1561
@JojoS62 great recommendation. I'll update the ascii art and handbook page text about this.

[2016-02-28 23:11] JojoS62 commented on #1561
Thanks for regarding this.
Of course it's only an issue when you use mbed in an offline toolchain with generated standard linker scripts, but then it's hard to find the reason why interrupts don't work.
Thanks to Erik Olieman, he explained me this.

[2016-02-29 06:04] betzw commented on #1561
@sg- can you pls. provide me with a reference implementation of this memory model for TOOLCHAIN_ARM_MICRO.

[2016-02-29 09:10] adustm opened #1574 "IAR error in command line not reported while compiling"
Hello,
The following command line is creating an error
build.py -v -x -c -t IAR -m DISCO_F746NG,NUCLEO_F746ZG -j 4

``[DEBUG]` Command: iasmarm --cpu Cortex-M7F -DTARGET_STM32F746NG -DTARGET_STM32F746 -DARM_MATH_CM7 -DTARGET_CORTEX_M -D__CORTEX_M7 -D__FPU_PRESENT=1 -DTARGET_DISCO_F746NG -DTARGET_RTOS_M4_M7 -DMBED_BUILD_TIMESTAMP=1456501269.49 -DTARGET_STM -DTARGET_M7 -DTARGET_STM32F7 -DTOOLCHAIN_I

[2016-02-29 09:17] 0xc0170 commented on #1574
cc @bridadan

[2016-02-29 17:17] bridadan commented on #1574
@adustm thanks for finding this issue! Just to be clear, you added IAR to the supported toolchains of both the DISCO_F746NG and the NUCLEO_F746ZG before running build.py, correct? I ran from the latest master and I received a "toolchain not supported" message by both of those targets.

I went ahead and added those toolchains to the targets.py and I was able to replicate you issue. The error isn't

[2016-03-02 10:36] PrzemekWirkus opened #1583 "Summary table should be exportable to text file"
Currently we can export reports to HTML and JUnit using ```--report-XXX``` switch.
We should be also able to export to pure text file like this:
[code]

[2016-03-02 11:51] 0xc0170 commented on #1583
+1. I would like to encourage sharing test results for pull requests, this would be nice to just paste the text from txt file.

[2016-03-02 13:16] bcostm commented on #1583
I have requested this change in order to put more easily the test results in pull requests comments.
The idea is to save the output which is today displayed in the DOS window inside a text file. This way it will be easier to retrieve these information and copy/paste them in pull requests for example. Because sometimes I close by inadvertance the DOS windows and the text result is lost.

[2016-03-02 17:03] bridadan commented on #1583
This should be quite doable. A while ago I refactored the test reporting a bit. It's still not perfect, but it should be easier to add these new reporters.

The key bits are here: https://github.com/mbedmicro/mbed/blob/master/workspace_tools/test_exporters.py

You need to add a `ResultExporterType` at the top of the script. You can see how to implement a new exporter by looking at the `JUNIT` (not

[2016-03-02 18:23] justbuchanan commented on #1562
@adamgreen, yeah this was with GCC and LocalFileSystem on an MBED LPC1768.

[2016-03-02 18:39] adamgreen commented on #1562
Thanks for the info.  I think I have a fix that will stop that from happening.  I am planning to do some file system related PRs over the next couple of weeks.  I will add this to my list.

[2016-03-03 06:12] 0xc0170 commented on #1583
I think it's up to us Brian :-)

[2016-03-03 10:21] adustm commented on #1574
Yes correct. @0xc0170 has removed IAR for those boards as there was an error.

[2016-03-03 12:58] arnaudrichard opened #1586 "Review interrupt in STM32F4 i2c_api"
About: targets/hal/TARGET_STM/TARGET_STM32F4/i2c_api.c

In function serial_irq_set(), the tx interrupt enabled and disabled are not the same:

line 764: HAL_UART_ENABLE_IT(handle, UART_IT_TC);

mismatch with

line 768: HAL_UART_DISABLE_IT(handle, UART_IT_TXE);

My guess is that the same interrupt should be used for enable and disable cases.

Now when trying to understand which one is good, the con

[2016-03-03 16:53] 0xc0170 commented on #1586
Isn't this for serial_api ?

@bcostm @adustm

[2016-03-03 17:23] bridadan commented on #1574
@adustm Ok, thanks for clarifying.

@0xc0170 It seems to me like IAR should be printing this on stderr instead of stdout. But seeing how we can't make that change ourselves, should we add support for printing stdout? Maybe if the verbose flag is set?

[2016-03-03 17:27] bridadan commented on #1583
Most likely, just thought I'd leave that info up there in case anyone got motivated and wanted to take a crack at it :)

[2016-03-04 10:36] bcostm commented on #1586
Yes it is for serial.
Anyway, did you see a problem with the actual code ? What is the behavior you're observing ?

[2016-03-04 10:59] arnaudrichard commented on #1586
Yes it is serial_api.c sorry for wrong path.

When building code on top of that using interrupts, the interrupt handler is sometimes interrupted during its execution which was not expected and thus broke everything.
More specifically, when using Sam Grove's  BufferedSerial
[https://developer.mbed.org/users/sam_grove/code/BufferedSerial/](url)

The function void BufferedSerial::txIrq(void) is inter

[2016-03-04 13:32] bcostm commented on #1586
Ok thanks. We'll look at it but if you have already tried to change the UART FLAGs and if it works don't hesitate to send a pull request.

[2016-03-04 14:08] arnaudrichard commented on #1586
Yes I did fix our issue by selecting arbitrarily UART_IT_TC for both enabling and disabling.
However, I didn't modified serial_clear() because I don't have an overall vision of the file.

Could you please explain what you mean by sending a pull request?
You may contact me directly with ST mail.

[2016-03-04 14:27] 0xc0170 commented on #1586
Clone this repository (fork suggested), and edit the files, commit + push, and send the pull request here. Or you can share diff here, and @bcostm can quickly test + do it

[2016-03-04 15:52] helmut64 commented on #1348
@bcostm, @betzw, I tested today the L4 Disco and Nucleo boards, they booth work with the sample applications, etc. Regarding the memory test I get 96kb as expected, however the MaxMemoryBlockAvailable() hangs when it tries to allocate 97kb. On the L1 Nucleo board it return null as expected when it runs out of memory.

I expect to get soon a Keil uVision license which allows me to debug this.

The

[2016-03-04 15:52] #1348 closed

[2016-03-06 13:43] VladimirAkopyan commented on #1524
So, has anybody tested if directly editing the register is an improvement?
@hjjeon0608 , aren't interested to find out where it's getting delayed for unusually long amount of time?

[2016-03-07 07:09] betzw commented on #1348
@helmut64 which toolchain did you use?

[2016-03-07 08:02] helmut64 commented on #1348
@betzw, I used the mbed.org online compiler.

[2016-03-07 15:24] larsgk opened #1592 "WebUSB support"
It could be a nice extension to the USB libs if we could have WebUSB support for direct communication with hosted web apps (in chrome dev for now).

arduino code: https://github.com/webusb/arduino/blob/gh-pages/library/WebUSB/WebUSB.cpp

WebUSB: https://wicg.github.io/webusb/

[2016-03-08 14:09] bcostm commented on #1348
Hi @helmut64, I think it is normal that the MaxMemoryBlockAvailable() function still hangs with the mbed IDE. It's because the PR #1554 is not yet merged.

[2016-03-08 14:17] helmut64 commented on #1348
@betzw Hi Wolfgang, I just know that using the STM32L1 Nucleo board this was working as expected on the L4 board it hangs. In my app I check regularly the available memory via such a loop report how much memory is available and to detect low memory situations.

PS: I purchased an ARM Keil MDK µVision compiler today, which means I can do true debugging without any code limits.

[2016-03-08 14:35] betzw commented on #1348
Ciao @helmut64, you might want to take a close look at issue #1561 and the discussion which is or rather has been ongoing there above all regarding to what people in ARM tell about the mbed-classic memory model, as this might mean for you that the way you try to get hold of the currently available amount of heap memory might make crash your application ...

[2016-03-08 18:13] neilt6 opened #1599 "Online compiler error after c6d2c81"
The [mbed-dev library](https://developer.mbed.org/users/mbed_official/code/mbed-dev/) is failing to compile using the [Online Compiler](https://developer.mbed.org/compiler/) following commit c6d2c81:

`Error: Identifier "O_BINARY" is undefined in "mbed-dev/common/retarget.cpp", Line: 125, Col: 22`

[2016-03-08 21:04] 0xc0170 commented on #1599
@neilt6 Thanks for reporting, will have a look at this

cc @adamgreen

[2016-03-08 21:43] adamgreen commented on #1599
@neilt6 Thanks for catching my oops.  I will submit fix soon.

[2016-03-08 22:47] 0xc0170 commented on #1599
@neilt6 Please retest, and close if resolved

[2016-03-08 22:48] 0xc0170 commented on #1599
Thanks @adamgreen for the instant fix

[2016-03-08 22:53] neilt6 commented on #1599
Confirmed, [mbed-dev](https://developer.mbed.org/users/mbed_official/code/mbed-dev/) compiles and runs fine now. Thanks @adamgreen!

[2016-03-08 22:53] #1599 closed

[2016-03-09 21:35] adamgreen opened #1601 "fflush() support"
A few weeks ago I was reviewing PR #1458 from @neilt6 and it got me curious as to what was actually up with fflush(). I have looked at it a bit over the last few days and now have some thoughts that I figured might be worthy sharing here to potentially start a conversation and maybe even come up with a solution. Forcing aggressive syncing on within the FATFileSystem as is currently done is probabl

[2016-03-10 03:59] sg- commented on #1601
Let's further investigate fileno()

[2016-03-10 14:17] arnaudrichard commented on #1586
I did a pull request "Fix IRQ enabled in serial_irq_set() #1603"
It's my first pull request; hopefully I did it right...

[2016-03-10 16:49] mfiore02 opened #1605 "STM32F4 appears to lock up due to unhandled serial overrun condition"
I had an application that occasionally appeared to lock up when was receiving data on a uart. The uart had a RX interrupt handler attached so the receive interrupt was enabled.

I was able to reproduce the issue while running the application with a debugger attached and found that the device was executing the serial interrupt handler in a tight loop. Reading the uart registers revealed that the OR

[2016-03-10 17:01] 0xc0170 commented on #1605
cc @bcostm @adustm

[2016-03-11 15:47] bcostm commented on #1605
Hi, thanks for the fix. Can you send a PR for it ?

[2016-03-11 16:32] mfiore02 commented on #1605
Absolutely. If everybody is happy with that as the fix, I'll try to make a PR today.

[2016-03-12 00:20] adamgreen commented on #1601
I do think that fflush() as it is currently implemented is correct. It should really just be expected to flush the FILE* stream buffers to the underlying file system layer. That is really all the Standard C Library indicates that it should do.

The Posix sync() API is what you would use to dump the underlying buffer cache to physical media. So what should really be added to the mbed sdk is a **syn

[2016-03-14 13:50] bcostm opened #1610 "Check of supported peripheral/function in main.cpp test files are misplaced"
In all the test files (for example in mbed/libraries/tests/mbed/rtc/main.cpp),
 where the peripheral/function is checked, the check of the peripheral/function must be placed after the includes:

Today it is:
[code]

While it must be:
[code]

[2016-03-14 14:18] 0xc0170 commented on #1610
cc @bridadan

[2016-03-14 15:30] bridadan commented on #1610
Oops, dumb mistake. Sorry everyone! PR submitted: #1613

[2016-03-14 15:53] #1610 closed

[2016-03-14 15:55] mfiore02 opened #1614 "while(1); loops in system startup and configuration code for most platforms"
I have spent weeks debugging an issue in a complicated application and finally discovered the problem was a while(1); loop in SetSysClock() a system configuration function. This was extremely frustrating to discover.

In my case, when my device came out of a low power mode running on the HSI clock, I called SetSysClock() to switch back to the HSE clock. For reasons I don't yet know, this function

[2016-03-14 16:02] #1605 closed

[2016-03-14 16:08] 0xc0170 commented on #1614
A lot of them are in teh core cmsis header files, SystemReset() which is fine.

We got two for LPC15xx and LPC11xx, then the rest is in the ST system files, which look like this:

[code]

Those ``  [TODO] `` could be using runtime error() function?

cc @bcostm @adustm @sg-

[2016-03-14 18:54] bridadan commented on #1601
While I admit I'm not that familiar with our FileSystem code base, I would say having a `sync()` call would be extremely useful for things like Serial. Right now when you change the baud on a serial instance, there are times when it the baud will change even if its in the middle of flushing out the FIFO (which had a different baud rate at the time). It would be very useful to be able `fflush()` be

[2016-03-17 23:07] 0xc0170 opened #1617 "Exported project - should contain readme with some useful information"
To be able to reproduce the issue locally, we should provide more information about the tools which are used for exporting.

For instance, if progen is active for an exporter, I would like to see the progen version, so if the build fails and in the online IDE it does not, report it here with the specific progen version.

We could fetch that version, write a test for this failure, fix it and deploy

[2016-03-17 23:07] 0xc0170 commented on #1617
@sg- @bridadan

[2016-03-17 23:11] sg- commented on #1617
:+1:

[2016-03-18 03:27] loopsva opened #1618 "Cannot set the RTC on the NUCLEO-F746ZG"
I can properly set the RTC on the DISCO-F746NG, but not on the NUCLEO-F746ZG

...kevin

[2016-03-18 03:29] loopsva opened #1619 "mbed v116 breaks F746Nx serial RX interrupts"
Hello,

When migrating the mbed library from v115 to v116, USB serial RX interrupts stopped working (kind of).
1. Receiving single characters is ok, the RX serial interrupt works fine.
2. When receiving character bursts, the issue appears. Example is a PC's UP arrow. It sends a 3 character sequence of:

(ESC) [ A

When the UP arrow burst occurs, the CPU freezes. All other RTOS tasks also freeze.

[2016-03-18 08:26] 0xc0170 commented on #1619
@bcostm @adustm

[2016-03-18 08:27] 0xc0170 commented on #1618
@bcostm @adustm

[2016-03-18 08:55] bridadan commented on #1617
Makes sense to me!

[2016-03-18 09:20] betzw commented on #1561
@sg- here might be a better place for the discussions you have kicked-off in #1554 and #1536
also because I am still waiting for some answers (see above) ...

[2016-03-18 14:15] bcostm commented on #1614
I agree that it would be better to notify the user with a LED blink when we enter in a while(1) loop.

But for this specific case mentioned above, if we enter here that means that there is NO clock running on the device. So nothing can be do, no code can be executed and I'm afraid the runtime error() will not run. But we can change the [TODO] comment to explain that there is nothing to do here.

[2016-03-18 14:18] bcostm commented on #1619
The official mbed USB library is not supported on the F7 platforms... Which USB library are you using ?

[2016-03-18 14:38] bcostm commented on #1618
I checked the Nucleo_display_time example on both DISCO_F746 and NUCLEO_F746 and it works. I used mbed lib **v116**. Which code do you use ? Can you share it ?

[2016-03-18 18:56] loopsva commented on #1619
Sorry,I didn't mean the official USB library.  I meant the CMSIS-DAP USB interface to the local CPU.  I believe that is USART3 for the F746.
More info:
Baud rate is 230400.  I do have overhead in processing each character inside the ISR, including checking for special chars (CR, LF, BS, etc.), adding char to line buffer, echoing char out the UART TX.  Maybe this is causing a RX overrun (no FIFO?),

[2016-03-18 18:58] loopsva commented on #1618
I cannot share this code publicly.  I will try the Nucleo_display_time example and will get back to you on Tuesday. 
Thanks,...kevin

    On Friday, March 18, 2016 7:39 AM, bcostm <notifications@github.com> wrote:

 I checked the Nucleo_display_time example on both DISCO_F746 and NUCLEO_F746 and it works. I used mbed lib v116. Which code do you use ? Can you share it ?—
You are receiving this beca

[2016-03-22 22:34] loopsva commented on #1618
My issue had to do with the mktime structure.  I was not subtracting 1900 from the year, creating a -1 return value for total seconds.  Sorry for the false alarm.

[2016-03-22 22:34] #1618 closed

[2016-03-22 22:46] loopsva commented on #1619
More testing,
I have determined that it is not a baudrate-receive overflow problem.  I slowed the UART to 9600 and the issue is still there.  What I did find is that an interaction between receiving the character burst (ESC) [ A, and echoing the characters back out of the console.  When sending out the echo character, I also send out a couple escape sequences with it (basically making the echoed o

[2016-03-23 07:08] 0xc0170 commented on #1618
@loopsva For the future, please add code snippet  to reproduce the problem.

[2016-03-23 07:12] 0xc0170 commented on #1619
@loopsva Can you create a short code snippet to reproduce this problem locally, that would help. One more thing to look at, make a diff of changes between v115 and v116 in the F7 HAL.

[2016-03-25 21:14] ducky64 opened #1631 "Serial broken with Nucleo F303K8 on GCC-ARM"
Deploying code exported to GCC-ARM from the mbed online compiler using Serial causes the microcontroller to freeze and end up in `WWDG_IRQHandler()`.

If compiled against the mbed library (at tag mbed_lib_rev116) from scratch (as opposed to the pre-compiled .a supplied from the online compiler export), stepping through has it failing in
`_file = std::fopen(buf, "w+");` (mbed/common/Stream.cpp:24)

[2016-03-26 04:47] sandeepach opened #1632 "Support EthernetInterface for STM32F746"
Support EthernetInterface for STM32F746G. I get too many compile errors and resolving them is not easy.

[2016-03-26 06:19] 0xc0170 commented on #1632
Is this a feature request? You can share your branch, might help someone to start.

cc @bcostm @adustm

[2016-03-26 06:22] 0xc0170 commented on #1631
@ducky64 I recommend using v4.x for now, however as noted in the link referenced it still valid for gcc v4.x.

cc @bcostm @adustm

[2016-03-26 06:24] #1586 closed

[2016-03-26 06:25] 0xc0170 commented on #1574
Yes, even for IAR to get stdout for the error. We can reach out to IAR why stdout is used.

[2016-03-26 07:38] ducky64 commented on #1631
I attempted to do some debugging (with GCC 5.2, but hopefully results are still applicable), and found:
- std::fopen fails because malloc fails
- malloc fails because the static heap pointer (in mbed/common/retarget.cpp: _sbrk) is past the stack (well, actually past the range of valid SRAM addresses)
- This is also the case with the initial invocation of _sbrk, but presumably whatever called it ha

[2016-03-26 12:09] campag opened #1634 "STM32 RTC backup registers get reset when setting the clock"
I started to use the RTC backup registers on Nucleo F401 with the HAL library, but notice that if I set the time with mbed, my data is also erased - mbed's set_time() in rtc_time.c calls rtc_init() before rtc_write().

However STM32F4's (& I suppose others) rtc_init() in rtc_api.c erases the backup registers. If I comment out
[code]
then my backup register data is untouched.

Is there a reason tho

[2016-03-26 13:12] 0xc0170 commented on #1634
cc @bcostm @adustm

[2016-03-26 13:17] 0xc0170 commented on #1631
Thanks for the write-up ! We will have a look at the fix

[2016-03-28 04:08] sandeepach commented on #1632
Hello Martin
I dont have a working branch yet. The EthernetInterface standard library from mbed official does not support STM32F7 yet. Hard to get the Ethernet communication working with a mbed only setup.

[2016-03-29 08:55] adustm commented on #1631
Hello, @ducky64 is right. The define in cmsis_nvic.h is not correct
#define NVIC_NUM_VECTORS      101
should be 98 (checked in datasheet and reference manual for the STM32F303K8)
As it is not aligned with the size defined in linker scripts, it leads to memory overwrite.
Thanks for the investigation. I'll fix this.

[2016-03-29 08:59] 0xc0170 commented on #1631
@adustm look at the referenced pull request  (2 comments above) with the fix

[2016-03-31 12:06] bcostm commented on #1634
We made some trials and these 2 lines are only needed when the LSI is used. For the LSE, they can be removed. What we are going to do is to move these 2 lines in the LSI section only.

[2016-03-31 18:57] campag commented on #1634
Thanks for looking at this. Current Nucleo production seems to be fitted with LSE, so the fix is fine there.

I guess it won't be of use to those with older models & LSI though, and somewhat ironically those are the ones who will be setting the clock most often.

For those wanting to play with the backup registers under mbed, I put code on my notebook: [https://developer.mbed.org/users/gregeric/no

[2016-04-01 13:31] janjongboom opened #1644 "nRF51-DK export to uVision is broken"
Exporting simple program (like UriBeacon) to uVision does not create a buildable uvproj file (I have uVision 4, but I don't think that matters...), gives a few hundred errors.

[2016-04-01 13:43] 0xc0170 commented on #1644
Can you test simple demo exported form this repository? Seems like my uvision does not want to fetch new devices at the moment :(

[code]

What type of errors are you seeing? Is it missing includes or some settings are wrong?

[2016-04-01 14:13] sg- commented on #1644
Also make sure the program in your workspace is updated to the latest versions of the mbed library.

[2016-04-04 12:32] janjongboom commented on #1644
This program (https://developer.mbed.org/users/janjongboom/code/BLE_URIBeacon2/), all up to date dependencies, exported to uVision.

Here's an excerpt of the build log:

[code]

[2016-04-05 08:59] #1617 closed

[2016-04-05 09:48] janjongboom commented on #1644
For K64F it worked. Let me try nrf51.

[2016-04-05 09:53] janjongboom opened #1651 "Add support for uVision 5"
It's no longer possible to open old uVision 4 projects in uVision 5 (see f.e. https://devzone.nordicsemi.com/question/31201/nrf51822-error-in-keil-device-not-found/), this now means that we're no longer compatible with latest uVision stable. We should fix that.

[2016-04-05 09:53] janjongboom commented on #1644
nrf51 without BLE lib works as well.

[2016-04-05 10:02] 0xc0170 commented on #1651
It is. There's legacy pack, but not valid for nrf51. You need to copy manually those files from nordic SDK (or they add those automatically, I recall I had to do it manually) to get device support in uvision5.

Progen supports uvision5, even new uvision5 device packs for targets. There should be a migration path for this. We could add uvision5 support. People could use uvision4 or uvision5 (5 woul

[2016-04-05 10:04] janjongboom commented on #1651
So opening a FRDM-K64F export to uVision 4 in uVision 5 ends with uVision crashing. (uVision IDE has stopped working, bla bla bla)...

[2016-04-05 10:11] 0xc0170 commented on #1651
That never happened to me, it should not crash I assume.. I am using by default uvision5. Current version 5.17.0.0.

I'll do a cleanup for the template project (I noticed there are some leftovers left), I added already exporter yaml file to get info about exporters, should be on master. Please try to generate blinky example for k64f, it should contain yaml file with more information about exporter

[2016-04-05 10:31] 0xc0170 commented on #1644
If you open the .uvproj file in your editor , the one which fail, can you see there:

[code]

This is a leftover I have to clean. If the project contains those 2 lines, it is generated by progen. Otherwise it is the old exporter.

[2016-04-06 02:41] toyowata commented on #1651
@janjongboom @0xc0170

You can also contact to Keil support team about IDE crash issue which is possibly a bug in the uvision.

I had an IDE crash case with latest version of uvision 5 IDE which worked fine with previous update version.  That was a clearly a bug in the IDE and Keil support team quickly sent me a fixed version for it.

[2016-04-06 09:58] janjongboom opened #1655 "Problems with LPCXpresso export"
https://developer.mbed.org/questions/68593/Offline-toolchains-CodeRed-versus-LPCXpr/

[2016-04-06 22:13] BlackstoneEngineering commented on #1651
This gets at a bigger issue, namely switching the exporters on mbed.org to use progen. Also, just FYI the nordic boards have a long history of being problem children with Keil.

[2016-04-06 23:04] 0xc0170 commented on #1651
More details? What issue is there that is bigger than this reported issue? uvision exporter which was not here was not uvision5 at all (there were some devices using uvision4 with uvision5 device packs). And progen is not yet enabled in the online IDE for uvision4 :wink:

btw, sarah is gone, she has not replied to any of the issues related to her changes for some time.

[2016-04-06 23:06] BlackstoneEngineering commented on #1651
The issue isn't adding support for uvision v5 to the existing system, the issue is switching to progen, which will bring this implicitly.

@0xc0170 , I am aware, but she will be back this summer.

[2016-04-07 08:52] janjongboom commented on #1644
Another issue reported on the forum: https://developer.mbed.org/questions/68316/mbed-project-on-Keil-uVision5-has-compil/

[2016-04-07 09:02] janjongboom commented on #1651
@toyowata Thanks. I opened an issue with Keil.

[2016-04-07 11:15] janjongboom commented on #1651
FRDM-K64F issue has been resolved with latest patch from uVision.

[2016-04-07 11:21] 0xc0170 commented on #1651
Patch? U received something or just updated uvision? What was the cause?

We should either create a new feature request for uvision5 here in mbed, or rename this one. To get nrf51 for uvision5, we need to add uvision5 exporter to mbed exporters first.

[2016-04-07 11:43] janjongboom commented on #1651
It was fixed in 5.18a, I was on 5.18.

[2016-04-11 10:01] #1464 closed

[2016-04-11 10:02] 0xc0170 commented on #1464
Progen was enabled for IAR, and uvision. this can be closed

[2016-04-11 10:03] 0xc0170 commented on #1574
This was fixed via https://github.com/mbedmicro/mbed/pull/1604

[2016-04-11 10:03] #1574 closed

[2016-04-11 10:24] toyowata commented on #1510
@neilt6

SCT based PwmOut issue was fixed for both LPC824 and LPC812 as well.  I believe we fixed all existing SCT based HAL implementation and this issue can closed.

[2016-04-11 12:22] 0xc0170 commented on #1644
@janjongboom There are 2 PR to BLE repositories (nordic-sdk and ble-nrf51822), which fixes this. The problem is not in the exporters, but in the files. There's a conflict of headers (ble.h), which was reported earlier. This causes the build system within uVision (and other IDE) to fail.

The fixes should be merged soon, and integrated. Btw, we will update to the latest exporters (progen update as

[2016-04-11 15:58] neilt6 commented on #1510
Thanks @toyowata

[2016-04-11 15:58] #1510 closed

[2016-04-11 21:14] pythontech opened #1657 "FRDM-K64F: incorrect entry in PinMap_UART_RX"
The code has PTC6 as an option for UART_0 RX, but it should be PTD6.  This can be verified from section 10.3.1 "K64 Signal Multiplexing and Pin Assignments" in the [K64 Sub-Family Reference Manual](http://cache.nxp.com/files/microcontrollers/doc/ref_manual/K64P144M120SF5RM.pdf)

[code]

[2016-04-12 08:52] pan- commented on #1644
I guess it ~~is fixed~~ works now.
The issue lies in our build system which include every folder in a project.
The entry point of ble library is `ble/BLE.h` and one file in the nordic sdk is named `ble.h`.
If every folder is included that means that the `ble` folder is included as well  and `BLE.h` and `ble.h` will collide on case insensitive file systems.

As a **workaround**, `ble.h` in nordic S

[2016-04-12 10:10] 0xc0170 commented on #1644
I can confirm works for me ! Thanks @pan-

[2016-04-12 10:10] #1644 closed

[2016-04-12 13:17] 0xc0170 commented on #1657
Thanks for reporting. Please send a pull request with this change. I checked, PTC6 does not have UART mux option available, PTD6 does.

[2016-04-12 15:24] adustm commented on #1538
Hello,
PR #1588 has updated the FW Cube F7.
Could you close this issue, please ?
Kind regards
adu

[2016-04-12 15:36] adustm commented on #1631
Hello,
This issue has been fixed in PR #1633. Could you close it, please ?
Cheers
Adu

[2016-04-12 15:43] #1538 closed

[2016-04-13 09:07] Dieter-Graef opened #1663 "Error in lwip sys_arch.c"
Issue: sys_arch.c error

There is an error in the message fetching procedures that prevents STM devices from working.The current version does not cover the osOK event status. A corrected version for sys_arch_mbox_fetch is this:

[code]

I dont have a URL to testcase program since the STM32F746 Discovery EMAC driver requires also changes in the linkerscript (only have gcc) to make use of SRAM2 ("Th

[2016-04-13 10:16] janjongboom opened #1664 "Gray border around <img/>'s in Safari"
All `<img>` tags in Safari have a little gray border around them...

<img width="174" alt="screen shot 2016-04-13 at 11 15 30" src="https://cloud.githubusercontent.com/assets/816856/14490150/11096d6c-0169-11e6-9d64-316abd606059.png">

There's some info in [this SO question](http://stackoverflow.com/questions/4743127/chrome-safari-display-border-around-image), but I think the quickest way would be

[2016-04-13 10:18] janjongboom commented on #1664
Or add this to img CSS:

[code]

[2016-04-13 12:09] samuelezanin opened #1665 "Error compiling USBHost"
Hi, I'm trying to use USBHost and USBHostMSD to write file to an usb disk. When I import this library to my project and compile i get this error:

Error: Return type is not identical to nor covariant with return type "std::uint64_t" of overridden virtual function "FATFileSystem::disk_sectors" in "USBHost/USBHostMSD/USBHostMSD.h", Line: 65, Col: 23

Same issure if I import the demo program USBHostM

[2016-04-13 16:34] 0xc0170 commented on #1664
@stephenpaulger Where do we have a tracker for website? I believe it's on mbed.org in the forum, section bugs & suggestions, correct?

[2016-04-13 16:40] 0xc0170 commented on #1663
Hi, your code snippet adds lot of debug info, it's hard to see what you have added. Can you highlight what you added?

[2016-04-13 16:41] 0xc0170 commented on #1663
@geky @bogdanm

[2016-04-13 16:45] 0xc0170 commented on #1655
I am not much familiar with lpcxpresso project. We should have a quick look why it fails to compile. @janjongboom want to help with this one?

[2016-04-13 16:47] 0xc0170 commented on #1634
@campag is this resolved, or still relevant?

[2016-04-13 16:48] 0xc0170 commented on #1572
Any update on this issue?

[2016-04-13 16:49] 0xc0170 commented on #1511
@mfiore02 Any update for this issue?

[2016-04-13 16:54] mfiore02 commented on #1511
I've switched to using the WakeUp library and, after resolving an issue not related to sleeping, everything is working reliably.

Closing the case.

[2016-04-13 16:54] #1511 closed

[2016-04-13 17:25] campag commented on #1634
Resolved thanks. Will close but one quick question - where should I report small issue with the STM HAL library (re ADC from temp & Vbat). Doesn't seem appropriate here?

[2016-04-13 17:58] pi19404 opened #1666 "MBED hangs during bootloader program jump while using rtos"
Hi

i am using MBED to implement a bootloader based application on NUCLEO_091RC board and STM32F030CC controller also.

The application works correctly when i do not use RTOS in my main application.
When i include RTOS in my application,after program jump the kernel hangs

If i do not perform any program jumps then RTOS works well in the bootloader application also

using GDB i found that program

[2016-04-13 18:37] 0xc0170 commented on #1666
kernelStart is invoked prior main, thus I don't fully understand the flow of your program.

Can you share the callstack? what does it mean program jump? Which line in your code gist?

[2016-04-13 19:07] Dieter-Graef commented on #1663
just this :
    if (event.status == osOK)
    {
    *msg = (void*)event.def.message_id;
    return ERR_OK;
    }

[2016-04-13 21:01] JojoS62 commented on #1655
I've tried also to export a LPC1768 project to LPCXpresso and it works fine. The code in the issue from R. Plant shows a linker error with undefined 'fprintf'. I find this only in older mbed versions in api/error.h, so I guess that the project just needs a mbed lib update. Or the project uses an (obsolete?) define for DEVICE_STDIO_MESSAGES.
old error.h:
`#if DEVICE_STDIO_MESSAGES
    #include <std

[2016-04-14 02:59] pi19404 commented on #1666
The application i was writing is a bootloader program where in program at
0x08000000 contains a bootloader which either upgrades the main application program at address 0x0800C800 or jump to that location to start executing the main application

The  application address APPLICATION_ADDRESS is configured in my actual application as 0x0800c800.When i do not use RTOS calls in my application,The progr

[2016-04-14 07:40] 0xc0170 commented on #1655
@JojoS62 Thanks  for sharing. I'll ask for the mbed lib version

[2016-04-14 08:54] janjongboom opened #1667 "Users report export to ZIP not working anymore since beginning of the week"
https://developer.mbed.org/forum/bugs-suggestions/topic/26128/

[2016-04-14 08:57] janjongboom commented on #1667
Verified on nrf51-DK and K64F, both don't download the ZIP...

[2016-04-14 09:02] 0xc0170 commented on #1667
not working for me neither, please test exporting to zip within this repository.

[2016-04-14 20:23] kgills opened #1670 "I2C byte write return value"
The return value for the i2c_byte_write in i2c_api.h does not match the documentation for the write function in I2C.h.

[2016-04-14 20:37] 0xc0170 commented on #1670
Can you please be more specific, I'll have a look

[2016-04-14 20:42] kgills commented on #1670
/** Write single byte out on the I2C bus
     *
     *  @param data data to write out on bus
     *
     *  @returns
     *    '1' if an ACK was received,
     *    '0' otherwise
     */
    int write(int data);

/** Write one byte.
 *  @param obj The i2c object
 *  @param data Byte to be written
 *  @return 1 if NAK was received, 0 if ACK was received, 2 for timeout.
 */
int  i2c_byte_write(i2c_t

[2016-04-15 08:16] #1634 closed

[2016-04-15 09:19] 0xc0170 opened #1671 "Exporters and toolchains - flags to be shared"
Toolchain scripts have defined flags internal in the methods (mostly __init__). Therefore exporters ducplicate some but not all.

As an example for uvision (ARM) the flash size reported in the online IDE  for BLE Thermometer (mkit target) is around 28k flash, exported to uvision - 48k flash.

For ARM class, in the ``__init__``:
[code]

In the uvision template, --restrict --multibyte_chars -Otime -

[2016-04-15 09:24] peeyushpashine opened #1672 "Nucleo F103RB ADC behaves different from other Nucleo boards using MBED lib"
In case of Nucleo F103RB why the first time ADC timeouts as image below and return zero, while 2nd time onwards it catches the EOC flag. Does external trigger for ADC takes time to raise TIM1_CC1 in order to set the EOC and complete the ADC conversion? What is the reason behind this behavior which does not occur with other Nucleo boards?

![f103rb timeout firsttime](https://cloud.githubusercontent

[2016-04-15 09:38] 0xc0170 commented on #1672
cc @bcostm @adustm

[2016-04-16 14:23] pythontech commented on #1657
PR submitted: #1675

[2016-04-18 08:33] janjongboom commented on #1667
A fix will be released today.

[2016-04-18 08:33] #1667 closed

[2016-04-18 08:35] 0xc0170 commented on #1667
Fixed via #1674

[2016-04-20 04:29] BlackstoneEngineering opened #1677 "FRDM K64F cannot do UDP Multicast with current driver"
The K64F cannot do UDP multicast with its current LWIP driver. See issue and solution here : https://developer.mbed.org/forum/bugs-suggestions/topic/5434/?page=1#comment-40242

[2016-04-20 06:56] peeyushpashine commented on #1672
I am sorry but this issue is blocking for me. I am shipping Simulink blocks for ST Nucleo hardware based on MBED libs. Can anyone give me a reason behind the different behavior mentioned in the issue?

[2016-04-20 09:55] bcostm commented on #1546
Can you please close it ? Thanks.

[2016-04-20 09:57] #1546 closed

[2016-04-20 12:16] bcostm commented on #1672
Hi,
The code you are mentionning in the ST HAL driver. We know that the F1 HAL driver version is not the latest version in mbed. We plan to update it in a couple of weeks. But this doesn't mean that this behaviour will be changed. What you can do in the mean time, if possible for you, is to download and use the latest HAL driver in your mbed fork. Or did you look into ST forum www.st.com/e2e ?

[2016-04-21 12:22] janjongboom commented on #1478
#1679

[2016-04-21 12:25] peeyushpashine commented on #1672
Yes I looked into  www.st.com/e2e but did not find any threads on this and was not answered for my post yet. Is there a reason behind the different behavior for ST HAL driver for Nucleo F103rb board? Why does it uses external trigger rather than software trigger as the other hardware boards.

[2016-04-21 19:34] MaryJane136 commented on #1237
I would like to know - gracefully - when it will be realized? Thank you.

[2016-04-21 19:52] kgills commented on #1670
Any update on this?

[2016-04-22 06:21] stephenpaulger commented on #1664
That looks like an issue for @screamerbg to look at as it's in the IDE.

[2016-04-22 06:21] #1664 closed

[2016-04-22 09:04] LMESTM opened #1682 "Limited PWM period range"
As first reported here under 'PwmOut generate wrong signal'
http://forums.mbed.com/t/pwmout-generate-wrong-signal/1418
it turns out that the PWM period is up to now limited to ~65ms for STM32 F3 family pwm control

[2016-04-22 11:37] janjongboom opened #1683 "FRDM-K64F export to GCC doesn't work"
Just says 'Downloading...' but never actually downloads anything.

[2016-04-22 11:50] LMESTM commented on #1682
Fix ongoing (under test)
Note: I tried to put myslef as the assignee but it seems I don't have rights to do so ...

[2016-04-22 12:19] janjongboom commented on #1664
Tracked it down to uBlock. So if anyone else runs into this: disable uBlock :-)

It thinks /system/images/blank.gif?v=1234 is an ad, which is the blank image we're using as placeholders.

[2016-04-22 12:30] mlnx commented on #1683
@screamerbg

[2016-04-22 13:29] bcostm commented on #1634
For the support of ADC internal channels (Vbat, Vref, Temp) you can enter an issue. We have started to doing it on mbedOS. It could be easily ported to mbedClassic.

[2016-04-23 12:00] campag opened #1685 "STM32 HAL issue - reading internal temp after VBAT measurement."
@bcostm
Measuring VBAT sets the ADC_CCR_VBATE bit in ADC->CCR, and there doesn't appear to be a way with the HAL to clear it.

If it isn't cleared, VBAT remains connected to the ADC channel in preference to temperature, so VBAT readings are returned in place of temperature. See the note at the bottom of page 226 of the reference manual RM0368,  DM00096844.pdf

I resorted to poking the register dir

[2016-04-25 05:40] toyowata opened #1686 "Keil uvision exporter fails (uARM build target)"
The uvison exporter now fails for most of uARM toolchain platforms which worked find a month ago (or two weeks ago?).

* LPC1768 - OK (ARM)

* LPC11U24 - Link error (uvision target settingis microlib, but scatter file is non-microlib)
[code]
* KL25Z - OK (ARM)

* LPC812-MAX - Link error (no mbed.ar and other .o files)
[code]

* Seeed Arch - Link error (uvision target setting is microlib, but scatt

[2016-04-25 05:46] toyowata commented on #1686
How to reproduce:
* Create a blinky program
* Set uARM target (such as LPC1114FN28)
* Export to uvision (Keil uVision4)

[2016-04-25 06:03] bcostm commented on #1685
Hi, thanks for pointing that out. We'll have a deeper look when we'll add the ADC internal channels measurement in mbed Classic. FYI we have started doing this in mbed OS on another device (F0, but not public for the moment). I'll check if there is the same problem.

[2016-04-25 06:08] 0xc0170 commented on #1686
Thanks for reporting. I'll fix it within 2 days, seems like ulib template is at fault 

[2016-04-26 00:03] manitou48 opened #1689 "bug in analogout_write_u16() for Arch MAX"
This is the same problem I reported in issue #1383 now i'm seeing it on Arch MAX.  Documentation says dac.write_u16() value is 16 bits (and so it is on LPC1768, K64F, nucleo_F446RE), but its only 12 bits on Arch MAX.

[2016-04-26 02:15] #1686 closed

[2016-04-26 08:49] campag commented on #1685
Hi. I have seen such ADC-internal extensions to mbed(os?) for the F4 over at https://github.com/ARMmbed which might benefit from clearing that bit too.

[2016-04-26 15:56] BlackstoneEngineering opened #1692 "progen template for nrf51 targets"
## Problem:

New Progen export system is not fully functional for nrf51 targets. Currently when exported (Ex Keil) the hex being built contains just the program for the user code. Previously the generated hex would contain both the nordic soft device and the user space code. See [here](https://github.com/mbedmicro/mbed/blob/604e163cc1c875f263744b0db63f1d1593cfd323/workspace_tools/export/uvision4_a

[2016-04-26 18:13] 0xc0170 commented on #1689
Does not Arch max use the same HAL as F446RE? It's STM32F4 chip.

cc @xiongyihui

[2016-04-26 18:24] kgills commented on #1670
Please say something. I think it's pretty obvious that there's something wrong here.

[2016-04-26 20:00] manitou48 commented on #1689
On Tue, Apr 26, 2016 at 11:13:46AM -0700, Martin Kojtal wrote:

I would think so.  And I looked at the core code and didn't really
see a problem.  I re-ran my tests on LPC, K64F, and F446RE, and they all
are using 16-bit.  i'll re-run on Arch MAX.  (I can't see that it should
matter, but i'm using Arch MAX to generate .bin for STM32F4-DISCOVERY
board.)

[2016-04-26 20:22] manitou48 commented on #1689
Well, I have copies of the output from yesterday, but today I cannot reproduce the problem.  DAC is writing in 16-bit mode as it should.     Whatever.  should close and ignore.

[2016-04-26 20:22] #1689 closed

[2016-04-26 22:18] 0xc0170 commented on #1670
The problem comes:

[code]

Looking at HAL implementations, the documentation for the i2c_byte_write is wrong and should be fixed. The documentation to HAL was added later, so many implementation should follow what write() method defines. There are some implementations (KL25Z) which has it reversed, we should fix it. Thanks for reporting.

[2016-04-27 19:16] 0xc0170 commented on #1670
Here's summary from our targets implementations:

Silabs - ack = 1
Freescale - ack = 0
Atmel  - ack = 0
STM - can't guess from the code, seems like timeout is 0 (might mean its nak), ack = 1 ?
NXP - ack = 1

I got a fix for the documentation, and we might need to fix all those targets.

[2016-04-28 15:18] Samuel3d opened #1695 "Ticker stops unexpectedly"
The Ticker class is bugged for NUCLEO-F030R8 and NUCLEO-L053R8 as for some frequency high enough the Ticker stops unexpectedly. I.e for a 0.0001s period, the ticker stops after about 390ms.

The code used is:

[code]

[2016-04-28 19:14] 0xc0170 commented on #1695
cc @bcostm @adustm

[2016-04-29 00:06] #1670 closed

[2016-04-29 20:55] neilt6 opened #1699 "[LPC1549] Tickers stop working after 32-bit rollover"
Just noticed that Tickers quit firing on the LPC1549 at the 1:11:34 mark (when the 32-bit space overflows). Here's a code snippet to start the underlying μs timer at a high value and make testing easier:

[code]

## Update
This has just become a show-stopping bug on one of my projects, and needs to be fixed ASAP. I've investigated this issue, and it's stemming from the fact that the µs_ticker impl

[2016-05-02 09:26] joost-g opened #1701 "Instable ticker on stm32f0308-DISCO"
Hi,

I ran into an issue using mbed's ticker on the stm32f0308-DISCO platform.
As can be seen from the scope images, the ticker callback is not called for a period, after which it is called multiple times. Issue occurs approximately twice every second.

Minimal working example to reproduce:

[code]

Normal/expected behavior
![tek0002](https://cloud.githubusercontent.com/assets/19146172/14951165/45

[2016-05-02 14:18] 0xc0170 commented on #1701
@bcostm @adustm

[2016-05-02 16:30] JojoS62 commented on #1701
This problem looks like the same issue on the STM32F103 : https://github.com/mbedmicro/mbed/issues/816
The code is the same for the F1 and the problem is the extension of the 16 bit counter/timer, it is not working as intended. Maybe a better solution is to concat two 16 bit timers, the ST timers have this option but I haven't tried it yet.

[2016-05-02 18:27] bcostm commented on #1701
Same issue as #816 on the 16-bit timer. The problem is understood and is under validation.

[2016-05-02 18:35] bcostm commented on #1682
@0xc0170 I remember it was possible in the past to assign someone to an issue. Is it possible enable it again ?

[2016-05-02 18:51] 0xc0170 commented on #1682
We will need to create teams to be able to assign ppl outside of the mbed team. You can create a new issue for this, to be able to track the progress

[2016-05-03 04:36] bcostm opened #1703 "Create teams to better track Issues"
The idea is to create different teams, per vendor for example (team_ST, team_NXP, etc...). When a new Issue is recorded, the ARM team will assign it to the corresponding vendor team.
But the best would be that some peoples in each vendor team have the rights to assign other peoples in their team. I don't know if it is possible ?

It would be also interesting that the vendor teams have also the rig

[2016-05-03 15:58] adustm opened #1705 "MBED_37 is failing with STM32F1 and STM32F4"
The automatic test serial_auto_nc_rx (MBED_37) is failing for STM32 F1 and STM32F4 families (at least)
[code]

[2016-05-04 08:51] svastm opened #1708 "Can't anymore test ARM and uARM toolchain"
After the merge #1691 it's not anymore possible to use the command singletest.py with both uARM and ARM toolchain. The ARM part fail build when uARM is also used. If ARM is used alone, no problem.

The problem come from `arm.py`. The ARM_STD and ARM_MICRO class share a reference `self.flags` to `DEFAULT_FLAGS` and when ARM_MICRO object is created, it add, amongst others, `--library_type=microlib`

[2016-05-04 10:03] bridadan commented on #1708
Hi @svastm, I'm having trouble reproducing your issue on the K64F. Are you using the latest master? If so and you're still seeing the same issue, could please post the following info?

1. The platform you're testing
2. The commands you're using
3. The errors you're seeing
4. The version of armcc you're using

[2016-05-04 11:42] svastm commented on #1708
I have the issue with, at least, NUCLEO_L031K6. and the updated master (HEAD: `9cef243de23875778f461bbe9a8c1bc47e65212b`) when I use the following command:
[code]

with armcc version 5.6.0.13.

During an ARM_STD compilation, I have the following line where the options `--library_type=microlib` and `-D__MICROLIB` should not be present.

[code]
Then the link fail :
[code]

[2016-05-04 14:54] 0xc0170 commented on #1708
@svastm Thanks for reporting, I'll have a look at those microlib flags

[2016-05-04 17:07] 0xc0170 commented on #1708
Should be fixed. I was able to run uARM test, and also both ARM and uARM. Please verify, and reopen with more info if this problem persists.

Thanks for the description with the solution for this bug, appreciated :+1:

[2016-05-04 17:07] #1708 closed

[2016-05-05 21:47] 0xc0170 opened #1717 "RTOS API - remove #ifdef various cortex implementations"
We should unify (=remove) macros from the c++ API we provide. For instance, taken from Thread.cpp file:

[code]

`__MBED_CMSIS_RTOS_CA9` might be possible to do what we did for `__MBED_CMSIS_RTOS_CM`, and consider ARM7 implementation, which is out of date at the moment.

[2016-05-05 22:41] 0xc0170 commented on #1683
I think there should be issue tracker for the web tools. I assumed always it's under bug & suggestions on the developer.mbed.org.. This should not be a tracker for them

[2016-05-05 23:32] adamgreen commented on #1683
By the way, I hit something similar last night.  It said downloading for a minute or so and then erred out with a message about how it couldn't do the export for my selected target. I started doing something else and then it completed in the background and I had the .zip that I wanted.

[2016-05-06 09:31] Dieter-Graef commented on #1701
I had a same issue on the STM32F746 Discovery board. The reason was that the ticker requires a free running counter to work. Therefor the autoupdate feature  at reaching zero needs to be switched off. I added therefor the following line in the function HAL_InitTick:
    TimMasterHandle.Instance = TIM_MST;
    TimMasterHandle.Init.Period = 0xFFFFFFFF;

    // TIMxCLK = PCLKx when the APB prescaler

[2016-05-06 13:58] chrissnow opened #1719 "Exporters - uvision - LPC11U35_401"
it seems that various targets can no longer be exported such as
LPC11U35_401::uvision
yet
LPC11U35_501::uvision
works fine
as far as i can tell this should be a supported combination, it certainly worked a few months ago.

`python project.py -m LPC11U35_401 -i uvision -p 0
Failed exports:
  * LPC11U35_401::uvision
Sorry, the target LPC11U35_401 is not currently supported on the uvision toolchain.

[2016-05-06 14:43] sg- commented on #1683
@adamgreen Was this using the mbed library in source or binary??

[2016-05-06 14:54] adamgreen commented on #1683
@sg- It should have been binary. I had just used the "Create new program..." dialog and selected the default frdm_gpio template. I immediately tried to export it to GCC_ARM right after the new project was created (I wanted to look at the Makefile) and hit that issue.

I was able to do the exact same steps today with no issues.

[2016-05-06 15:47] 0xc0170 commented on #1719
Thanks for reporting, I'll have a look soon

[2016-05-06 21:37] 0xc0170 commented on #1719
@chrissnow https://github.com/project-generator/project_generator_definitions/pull/74

Please fetch the latest progendef module (v0.2.16), 401 should be now working for you.

[2016-05-06 21:37] #1719 closed

[2016-05-07 14:12] star297 opened #1721 "STM-L476 inceased sleep power problem"
@bcostm
Since one the recent updates for the L476 target, the deepsleep current has gone way off spec.
We now have around 115uA instead of 5 - 6uA.
After digging around, the problem occurred in revision 103 with the RTC changes.
Revision 102 is working.
If its a compromise of having RTC running on LSI then ditch that and keep the low power, far more important.

See PR #1832

[2016-05-09 09:34] chrissnow commented on #1719
Thanks, working perfectly now.

[2016-05-09 10:39] chrissnow opened #1723 "Exporters - uvision - LPC11U68"
The definition is incorrect, it looks like a copy of another 11u device

the correct info wold be
[code]

[2016-05-09 15:58] 0xc0170 commented on #1723
@chrissnow Please report this to https://github.com/project-generator/project_generator_definitions/ . The module (you probably have it installed along with progen) contains a parser for project files. You should be able to get the proper yaml file, and add it to teh current one , send a patch.

[2016-05-09 15:59] 0xc0170 commented on #1723
https://github.com/project-generator/project_generator_definitions/blob/master/project_generator_definitions/mcu/nxp/lpc11u68.yaml , this is the file correct? Does it return an error when opening a project or what is the failure? I could compare the old templates, if they were not parsed correctly or they were wrong.

[2016-05-09 16:24] chrissnow commented on #1723
Hi,

That's the correct file though the contents are all wrong, it looks like it was copied from the LPC11U14/201 rather than the 11u68

I will look into fixing it and send it over.

[2016-05-09 16:30] chrissnow commented on #1723
this should have the correct info in for reference.
[uvproj.txt](https://github.com/mbedmicro/mbed/files/255416/uvproj.txt)

[2016-05-09 16:32] 0xc0170 commented on #1723
@chrissnow  Please send a patch. run ``progendef create`` (use help to get arguments)

[2016-05-10 10:06] bcostm commented on #1000
To be closed

[2016-05-10 10:10] bcostm commented on #955
To be closed

[2016-05-10 10:12] bcostm commented on #882
To be closed

[2016-05-10 10:12] bcostm commented on #1025
To be closed

[2016-05-10 10:14] bcostm commented on #667
To be closed

[2016-05-10 10:15] bcostm commented on #636
To be closed

[2016-05-10 10:19] bcostm commented on #536
To be close

[2016-05-10 10:22] bcostm commented on #503
To be closed

[2016-05-10 10:30] bcostm commented on #1631
To be closed

[2016-05-10 12:21] bcostm commented on #1695
I am actually trying to reproduce it.

[2016-05-10 14:40] dinau commented on #955
Is this issue resolved ?

dinau

[2016-05-10 15:35] 0xc0170 commented on #1000
@bcostm Thanks for reviewing opened issues ! It would be helpful to find a commit or PR which fixes it. It provides a reference point.

[2016-05-10 15:35] #1000 closed

[2016-05-10 15:35] #882 closed

[2016-05-10 15:36] #1025 closed

[2016-05-10 15:36] #667 closed

[2016-05-10 15:37] #636 closed

[2016-05-10 15:37] #503 closed

[2016-05-10 15:37] #536 closed

[2016-05-10 15:38] #1631 closed

[2016-05-10 15:50] 0xc0170 commented on #955
@bcostm I closed few issues I considered are fixed, please can you review and provide references to the commits which should have fixed them.

[2016-05-10 17:27] 0xc0170 opened #1726 "RZ_1AH - IAR does not build"
The error indicates a problem with cmsis - ``__disable_irq`` is used in the serial_api.c which is not compatible with IAR - there was added __disable_irq_iar().  It should probably not have iar prefix? Plus the cache functions are neither implemented for IAR.

@TomoYamanaka

[2016-05-10 18:08] FixedFilip commented on #886
Hi everyone!

I've got a new RedBear BLE Nano and I'm trying to get the current temperature with a TMP007 as well but using the code above (with I2C i2c(P0_10, P0_8); // SDA, SCL instead of I2C i2c(P0_29, P0_28);) I get as response 0x00 instead of 0x0078.
BLE's P0_10 is connected to TMP's SDA with 10k pullup and P0_8 to SCL with 10k pullup, too.

Does anybody know how to fix it or can anybody tell

[2016-05-11 05:33] TomoYamanaka commented on #1726
We have confirmed the phenomenon, and analyzed the cause.
In the following revision, we found that the phenomenon is different.
&nbsp; &nbsp;mbed Lib revision.119 : Build NG
&nbsp; &nbsp;mbed Lib revision.118 : Build OK
&nbsp; &nbsp;mbed-dev revision.125 : Build OK

When you update to mbed Lib revision.119, it seems that the code for IAR has gone missing.

We have already corresponed the export fu

[2016-05-11 08:35] bcostm commented on #1672
Hi,
Can you try this in the analogin_api.c file ?
Replace:
    AdcHandle.Init.ExternalTrigConv      = ADC_EXTERNALTRIGCONV_T1_CC1;
By:
    AdcHandle.Init.ExternalTrigConv      = ADC_SOFTWARE_START;

[2016-05-11 12:56] Samuel3d opened #1727 "PwmOut class API has not enough time resolution"
For some application, like stepper motor control with microstepping, the time resolution needed to generate correct sinusoïdal waveforms with a PWM is well below 1 microsecond as the duty cycle can be very small (<1%) and frequency high (in the range of 100000kHz).

So with the current PwmOut API, microstepping with MBED API is not offering good performance.

There is a need for additional methods

[2016-05-12 01:19] sfs325 opened #1733 "mbed-rpc library LPC11U68 support"
Can you add support for this device in the library?

Thank you

[2016-05-12 08:32] toyowata commented on #1733
The LPC11U68 is already supported platform.
https://developer.mbed.org/platforms/LPCXpresso11U68/

[2016-05-12 13:23] adustm commented on #1538
Hi 0xc0170, is it possible to close this one ?
Cheers
Armelle

[2016-05-12 14:09] adustm opened #1736 "STM32F7 : rtos tests don't build with IAR"
Build fail with IAR toolchain for rtos tests

[report__2016-05-11_14.45.44.48__NUCLEO-F746ZG__rtos__ALL.html.zip](https://github.com/mbedmicro/mbed/files/261476/report__2016-05-11_14.45.44.48__NUCLEO-F746ZG__rtos__ALL.html.zip)

[2016-05-12 15:02] Pidjey commented on #1733
Sorry, my fault, I thought this was the RPC library github. I was try to compile the RPC library (https://developer.mbed.org/cookbook/RPC-Interface-Library) for LPC11U68 giving me errors in the parse_pins.cpp file of the library. And reading that file, my platform is not added.

Thank you.

[2016-05-12 15:04] jeromecoutant opened #1737 "RTOS and InterruptIn example doesn't work anymore"
Example:
https://developer.mbed.org/teams/ST/code/Nucleo_rtos/

I am testing with Nucleo-F411RE.

Test with inline librairies:
- mbed v105 : OK
- mbed v106 and after: FAILED

Test with uVision:
- ARM_MICRO compilation : Test is FAILED
- ARM_STD compilation : Test is OK

Analysis:
A InterruptIn variable is set as global.
With micro lib, during init, constructor InterruptIn is called, interruption c

[2016-05-12 15:20] adustm commented on #1737
Hello,
Isn't it related to [https://github.com/mbedmicro/mbed/pull/1432](url) and [https://github.com/mbedmicro/mbed/pull/1624](url) ?
Still the issue that global variables are cleared between systemInit and the start of the main...

cc @dinau @bcostm
cheers
Armelle

[2016-05-12 16:40] adustm commented on #1736
HAL_CM4.S cannot compile :

[code]

The VFPv5_sp option is missing for assembly code
[code]

iar.py needs to be modified to add this option. I tried
[code]
but it does not work. Any other suggestion ?

[2016-05-12 16:52] 0xc0170 commented on #1736
Thanks for reporting, I'll look into this week. There was not much update in those files, so worth comparing to the older version.

[2016-05-13 07:12] adustm commented on #1736
I think it is the first time that we compile rtos for cortex M7.
I had already made a modification in the past [https://github.com/mbedmicro/mbed/pull/1604](url) to allow compiling mbed for STM32F7 with IAR toolchain.
It seems that this previous modification was not strong enough for rtos library.

[2016-05-13 08:51] adustm commented on #1736
here is the build command that fails with the attached iar.py file (rename it to .py)
`python ..\mbed\workspace_tools\build.py --rtos -v -x -c -t IAR -m NUCLEO_F746ZG -j 4`

It reports :
[code]

[iar.py.txt](https://github.com/mbedmicro/mbed/files/262840/iar.py.txt)

[2016-05-13 09:18] adustm commented on #1736
I found the issue in iar.py:
[code]
I'll push the pull request.
Cheers
Armelle

[2016-05-13 14:50] #1705 closed

[2016-05-13 21:42] infinnovation opened #1740 "Revision 120 breaks PwmOut on FRDM-K64F"
(Copied as requested from https://developer.mbed.org/users/mbed_official/code/mbed/issues/36 )

With revision 120 of mbed, PwmOut on a FRDM-K64F appears to be broken i.e no output is seen.

A demonstration program is at https://developer.mbed.org/users/infinnovation/code/pwm_regression/

On FRDM-K64F, connect LED+330R between PTD0 (J2.6) and GND (J2.3)

With revision 119 of mbed, LED is lit as exp

[2016-05-13 21:47] 0xc0170 commented on #1740
cc @mmahadevan108

[2016-05-14 04:44] dinau commented on #1737
Hi @jeromecoutant.
 I can't read above example by access denied.
 Would you please copy and paste the example code this thread ?

dinau

[2016-05-15 08:41] helmut64 opened #1741 "mbed #120 online compiler shows wrong RAM utilization for STM32L4 boards"
For an Hello World project, build 119 shows 32k size which is fine because the default stack size on SRAM2 is 32k. For build 120 it shows 96k size which is wrong for an empty project,  it should show about 32k. The online compiler UI program size info panel shows wrong RAM size data.

I tested the available heap memory (mbed 120) and I can allocate the available 96k before memory allocation fails.

[2016-05-16 07:11] jeromecoutant commented on #1737
Hi

Here is the example code:

[code]

[2016-05-16 18:40] helmut64 opened #1746 "STM32L4 Discovery missing PeripheralPins definitions."
@bcostm
I figured out that serval PINs are missing the in the TARGET_DISCO_L476VG target. My plan was to use SPI2 pins on PD_4, PD_3, PD_1, PE_0, PE_1 which are connected to the onboard LSM303C accelerometer. These pins are not specified in the TARGET_DISCO_L476VG /PeripheralPins.c file and therefore not available using the mbed API's.

Somebody who understands the STM L4 mappings needs to work on

[2016-05-16 20:28] mmahadevan108 commented on #1740
Thanks, I will take a look and update.

[2016-05-17 05:00] peeyushpashine commented on #1672
Thanks for the update. That is what I have done for the hack as of now. Do you have any plans to update this?

[2016-05-17 09:56] toyowata commented on #1726
@TomoYamanaka

[code]
The #1626 seems to be a cause of error for IAR tool.

https://github.com/mbedmicro/mbed/commit/418fd7ec94c89e9eb5da5db829296d59fa25179d#diff-2467556b51fd19c28f6bb9c264dddd68R529

It should have ```#if defined ( __ICCARM__ )``` definition as well.
Can you create new PR to fix this?

[2016-05-17 10:55] TomoYamanaka commented on #1726
@toyowata

Sorry.
There was an error in the comment.
In mbed-dev revision.125, IAR did not build.
As you pointed out, there was an error in Serial_api.c (Line 527).
I'll create new PR to fix this.

However, the following behavior occurs.
&nbsp; &nbsp; mbed Lib revision.119 : Build NG
&nbsp; &nbsp; mbed Lib revision.118 : Build OK
When you update to mbed Lib revision.119, it seems that the code for

[2016-05-17 11:00] 0xc0170 commented on #1726
core_caFunc.c files, etc.

RZ_A1H IAR had to be disabled as it did not build, we should fix it for the upcoming release.

[2016-05-17 12:06] bcostm commented on #1746
Hi,
We took the decision to write in the PeripheralPins.c file only the pins which are accessibled on a connector (Arduino, Morpho, other...). On the Disco-L476VG board, the pins you mention are not available on the 2 connectors, this is why they are not present.

If you need to drive the LSM303C you can use this example:
[https://developer.mbed.org/teams/ST/code/DISCO_L476VG_Compass/?platform=ST-

[2016-05-17 12:13] bcostm commented on #1672
Hi,
I can't tell you when we'll update it. But everybody is encouraged to participate in the SDK development,  not only ST :smiley:
If you have already done it and tested it OK, you can send a Pull Request. It will be merged quicky I think.

[2016-05-17 13:37] helmut64 commented on #1746
OK, I understand. I am writing an LSM303AGR driver using the mbed API because my final hardware will use this MEMS, for prototyping I swapped out the LSM303C with the LSM303AGR on the L4 Disco board and was hoping to use the mbed SPI API for device access. We prefer to use the "mbed" API instad of the HAL API because it is better documented and we have the flexibility to use all mbed compatible MC

[2016-05-17 13:48] ohagendorf commented on #1746
Alternate function (AF) 5 is correct. You can find the information in table 16 in L476 datasheet.

[2016-05-18 07:30] helmut64 commented on #1746
I was hoping to patch the pin lookup, however it seems that the $Sub$$ does not work with the mbed online compiler. Any other ideas to be able to continue with the online mbed compiler?

Thanks.

#include "pinmap.h"
extern "C" uint32_t $Sub$$pinmap_find_peripheral(PinName pin, const PinMap* map);
extern "C" uint32_t $Super$$pinmap_find_peripheral(PinName pin, const PinMap* map);

const PinMap PinM

[2016-05-18 23:43] AnimismRhyme opened #1754 "SPI does not work in revision 120 of mbed."
With revision 120 of mbed, SPI does not work correctly with  FRDM-K64F.

The first byte write worked successfully with correct return(read) value, but following write causes the program hang.

Same project worked fine with previous revision(s) and FRDM-KL25Z.

Tested with following programs.

https://developer.mbed.org/users/Rhyme/code/oscilloscope/

https://developer.mbed.org/users/Rhyme/code/tes

[2016-05-19 10:56] bcostm commented on #1746
Just a question: Why you don't send a Pull Request to add these pins in the PeripheralPins.c ? You will have it on mbed IDE on the next mbed release. It's ok with me.

[2016-05-19 12:52] helmut64 commented on #1746
I am working on it. First time today, I got the mbed source compiled on my local Windows client, and finally I can debug it using uVision. This makes pull requests much easier because I can test my changes upfront. The pull request will follow.

[2016-05-19 13:04] infinnovation commented on #1740
So, I added some code to examine the FTM registers and found several differences:

FTM3_       |    v119 |     v120 | Comments
----------- | ------- | -------- | --------------
SC          |      8e |       8e |
CNT         |    2958 |      2e2 |
MOD         |    493d |     493d |
C0SC        |      a8 |       a0 | ELSnB:ELSnA=0 => revert pin to GPIO etc.
C0V         |    15f8 |     15f8 |
C1SC

[2016-05-19 13:07] mmahadevan108 commented on #1740
At patch with updated FTM, TPM drivers have been submitted to ARM.

[2016-05-19 13:10] infinnovation commented on #1740
OK, thanks.

[2016-05-19 13:59] phyokyaw opened #1756 "Exporter for e2 studio"
We contributed e2 studio toolchain exporter in #1659, it's merged many thanks for that.

Not sure this is the right place to raise an issue.

the exporter is working file, just wondering if it is possible to update the exporter drop download list with

1. e2 studio icon (attached)
2. Change name from E2studio to e2studio

Many thanks.

Phyo

![e2_32x32](https://cloud.githubusercontent.com/assets/6

[2016-05-19 20:28] aamcampbell commented on #1754
+1. Ran into this using Neil Thiessen's SDFileSystem.

[2016-05-19 21:23] aamcampbell commented on #1754
FYI, the program hangs in DSPI_MasterWriteDataBlocking(), which is a KSDK 2.0 function (http://kex.nxp.com/apidoc/2.0/group__dspi.html#ga70a0f7d7fe2fbce7993bbcc8c427b2b0). The thing that seems odd to me is that KSDK 2.0 hasn't been released for the K64F, only for the KS22 processor line. I also notice that the file mbed/libraries/mbed/targets/hal/TARGET_Freescale/TARGET_KSDK2_MCUS/TARGET_K64F/spi_

[2016-05-19 22:02] loopsva commented on #1754
I have run into other K64F issues with mbed v120. Reference:

https://developer.mbed.org/questions/69021/Questions-about-initialization-failures-/#answer10292?compage=1#c22680

1. Neil Thiessen's SDFileSystem now freezes when doing a disk mount. I am using the SD Flash on the K64F.  Sounds like a related SPI issue.
2. I2C should be seeing  0x3A (the internal FXOS8700CQ) and one external device @ 0

[2016-05-20 01:19] AnimismRhyme commented on #1754
Although there are only a few "pre-built" sdks listed,
we can build/download SDK for K64 from kex.nxp.com.

I have just built one for myself, and I'm going to check
if the api_spi.c is identical in K22F sdk and K64F sdk.

moto

[2016-05-20 02:09] toyowata opened #1757 "[LPC812] Conflict set/clear event for PwmOut"
### Problem
When PwmOut::write() is called with 0 and 0.5 parameter by toggling, output signal level wrongly tied to high level often by write(0).
Original report is [here](https://developer.mbed.org/users/nameless129/code/PwmOut_LPC812/).

### Test code
[code]

### Signal snapshoot
![Image of PwmOut](https://developer.mbed.org/media/uploads/MACRUM/pwmout.png)

This is due to the conflict of set/c

[2016-05-20 04:42] toyowata commented on #1757
I also confirmed that other SCT enabled MCUs (LPC1549, LPC11U68 and PLC824) do not have this problem.

[2016-05-23 09:53] 0xc0170 opened #1761 "RTOS api - osThreadGetState removal"
osThreadGetState() should be removed as it's our own extension, identical almost to Cortex-A and Cortex-M. This is valid for RTX v4.7x. The new RTX will contain this function, as I have noticed in the cmsis_5 repository.

More information: https://github.com/mbedmicro/mbed/pull/1731

[2016-05-23 09:54] 0xc0170 commented on #1761
cc @neilt6 @TomoYamanaka

[2016-05-23 15:13] #1757 closed

[2016-05-24 11:10] aizvorski opened #1767 "STM32 AnalogIn data conversion bug"
This code appears to be used in the `analogin_read_u16()` functions in all TARGET_STM32:

[code]

 It is supposed to convert (right-aligned) 12bit to (left-aligned) 16bit.  Starting from 0x0123 it produces 0x1231.  This seems like a bug, the correct value should be 0x1230.

(Regardless of what the correct value is though, it should probably not _duplicate_ one of the original half-bytes.)

[2016-05-24 13:46] 0xc0170 commented on #1767
cc @bcostm @adustm

[2016-05-24 15:43] bcostm commented on #1767
We checked the linearity recently and this formula works as expected. What other formula do you suggest ?

[2016-05-24 16:42] kgoveas opened #1770 "Bug in I2C implementation in the SAMG55J18"
Hi @Parthasarathy,

I discovered an implementation bug in the i2c_api.c. The address in line 270 and line 358 should not be modified as it ends up corrupting the address.
Current code
`packet.chip=(address>>1) & 0x7F;`
Expected code
`packet.chip=address;`

[2016-05-24 21:04] aizvorski commented on #1767
@bcostm Okay, I understand the purpose of the formula now.  I thought you'd just change the alignment, but you're also expanding the range 0 .. 0xFFF to 0 .. 0xFFFF.  It's a pretty good approximation for that, it will be accurate to +/-1 of the correct expansion.

Exploring a little bit:
[code]

produces output like this:
[code]

The plot of the difference between approximate and exact value looks

[2016-05-24 23:24] #1767 closed

[2016-05-25 08:13] 0xc0170 opened #1777 "Nordic - softdevice hex files are missing"
[code]

I could not locate those files in this codebase (current master as it is).

cc @screamerbg

[2016-05-25 09:01] 0xc0170 commented on #1777
I added those files back, on the release branch. It will be merged to master after the mbed lib release . Reference: https://github.com/mbedmicro/mbed/commit/f7b629664d9755efce01254aceeb47220b1c5876

[2016-05-25 13:07] Bitbored opened #1779 "Exporting the mbed SDK causes the HTTP request to hang"
When trying to [export the mbed SDK](https://developer.mbed.org/users/mbed_official/code/mbed/export) the request hangs and eventually returns a 504 gateway error, never sending the expected zip file. This has also been reported on the [issue tracker of the mbed website as issue 35](https://developer.mbed.org/users/mbed_official/code/mbed/issues/35), but no response was ever given.

I mostly teste

[2016-05-25 13:15] 0xc0170 commented on #1779
That issue tracker should be disabled, or just redirected here. Anyway, this relates to website. There's https://developer.mbed.org/forum/bugs-suggestions/.

I closed the issue under mbed lib you referenced above.

cc @screamerbg @stephenpaulger Could you please help out?

[2016-05-25 13:23] Bitbored commented on #1779
There seems to be a [report on this issue on the forum as well](https://developer.mbed.org/forum/bugs-suggestions/topic/26128/). There might be more, but I have not found out how to search on that forum yet...

According to @sg- this [should have been fixed about a moth ago](https://developer.mbed.org/questions/68709/Export-to-ZIP-not-working/), but it is still very much broken.

[2016-05-26 05:59] TomoYamanaka opened #1786 "Along with the version up of "lwip-eth" library, WebCamera program can not be compiled."
Hi,

Along with the version up of "lwip-eth" library, WebCamera program can not be compiled.
&nbsp; &nbsp; https://developer.mbed.org/teams/Renesas/code/GR-PEACH_WebCamera/

The compile error is that there is no file "lwipopts_conf.h".
WebCamera program uses the "EthernetInterface" library. At "lwipopts.h" in "lwip" library called from "EthernetInterface" library, "lwipopts_conf.h" file are includ

[2016-05-26 07:04] 0xc0170 commented on #1786
cc @screamerbg

[2016-05-26 07:17] 0xc0170 commented on #1786
The pull request did not touch the lwip files, therefore I suspect the sync script is one to blame, we will investigate

[2016-05-26 07:28] 0xc0170 commented on #1786
I spot at least one error in the sync script, I'll send PR to fix it: https://github.com/mbedmicro/mbed/commit/9db0f2e6e09a1dbe1328b445233f595b9928e7ed#diff-cc93abe087d6d55305ba6709ea7b5043L59

[2016-05-26 07:46] #1786 closed

[2016-05-26 07:48] 0xc0170 commented on #1786
This was automatically fixed via gitbhub. The sync script was fixed, the library should be sync and the files should be back.

[2016-05-26 08:43] 0xc0170 commented on #1786
Fixed - https://developer.mbed.org/users/mbed_official/code/lwip-eth/rev/9de8bd8ca1c8 ! Please report back if not

[2016-05-26 09:05] Parthasarathy commented on #1770
Hi @kgoveas

Please refere the following link https://developer.mbed.org/handbook/I2C
The Note says "The mbed API uses 8 bit addresses, so make sure to take that 7 bit address and left shift it by 1 before passing it"

The code handles the use case converts the address back to 7 bit address.

Thanks,
Partha

[2016-05-26 11:51] TomoYamanaka commented on #1786
Thank you for fix.
WebCamera program could be compiled.

Regards,
Yamanaka

[2016-05-26 16:38] JojoS62 commented on #816
how was this fix tested? A simple ticker test is still not working:
`#include <mbed.h>

Ticker flipper;
DigitalOut led1(PC_13);
DigitalOut led2(PB_12);

void flip() {
    led2 = !led2;
}

int main()
{
    led2 = 1;
    flipper.attach_us(&flip, 200); // the address of the function to be attached (flip) and the interval (x microseconds)

    // spin in a main loop. flipper will interrupt it to call

[2016-05-26 17:46] loopsva commented on #1754
Is there any update on the K64F issues?

[2016-05-26 22:05] AngusP opened #1794 "Very little cross-platform documentation"
All of the included documentation and the vast majority of online documentation focuses entirely on Windows use - for example, I'm pretty lost as to what, exactly, I as a Linux user need to put in `private_settings.py` to get the SDK functioning, with the [GCC ARM embedded](https://launchpad.net/gcc-arm-embedded) toolchain. I'd also assume that there are developers that would appreciate documentat

[2016-05-26 22:46] theotherjimmy commented on #1794
TL;DR: Nothing! (I don't even have that file) You simply need to use the `GCC_ARM` target (`-t` option) when building after installing the tool-chain as described in the link you provided.

More details than are needed: The settings file (`workspace_tools/settings.py`) creates a few reasonable default settings and then tries to import the settings from a private settings file (it assumes that the

[2016-05-27 07:14] kgoveas commented on #1770
@Parthasarathy ,

Thank you for info.

Kind Regards,
Kevin

[2016-05-27 07:14] #1770 closed

[2016-05-27 11:51] AngusP commented on #1794
Having had more of a fiddle, after pulling and installing [gcc-arm-embedded](https://launchpad.net/gcc-arm-embedded) you do need to fiddle with the settings files. So far the following has worked (given I'm on fedora 22, but this should work for the debian derivatives too)

This is mostly because installing the entire GCC ARM toolchain system-wide has a bunch of distro-specific caveats, so the dow

[2016-05-27 11:59] 0xc0170 commented on #1794
@AngusP Send a patch for https://github.com/mbedmicro/mbed/blob/master/docs/BUILDING.md#configure-workspace-tools-to-work-with-your-compilers, if you consider there are some pieces missing.

ARM_PATH is for ARMCC, not gcc arm as stated in the doc above

[2016-05-27 14:48] LMESTM opened #1798 "In few cases STM32 UART tx might not complete"
In rare racing cases, the uart transmission may not complete.
Such case are for instance direct reconfiguraiton of UART after printf, or immediate deepsleep entry after printf.  There is a fix ongoing, together with a proposed new test case to avoid later regression.

[2016-05-30 02:39] AnimismRhyme commented on #1754
I tried find for both SDK_2.0_FRDM-K22F and SDK_2.0_FRDM-K64F and there was no spi_api.c.
So I can not judge if the difference/similarity of spi_api.c for these platforms was the cause of the problem.
For my side, I just down-graded the mbed lib to 119 for FRDM-K22F and have managed to survive so far. ;-)

[2016-05-30 03:56] cyliangtw opened #1809 "Internal fault: [0xc43ed8:5050106] in osMailGet"
To build RTX lib and ethernet lib by
  `python ./workspace_tools/build.py -m LPC1768 -t ARM -r -e `
Then, suffered the internal fault.
Log show as:
[code]

[2016-05-30 12:41] 0xc0170 commented on #1809
@cyliangtw Please report the version of ARMCC you are using please. I recall some internal fault previously, which was fixed. We should check the git log to see if this is still the case.

[2016-05-30 12:47] 0xc0170 commented on #1754
cc @mmahadevan108 Please have a look

The layout is not the best as the moment. Some files might be the same. In this case K22 and K64F might have same spi peripheral, but KL27Z does not, and all of these are under ksdk. It might be better to have the implementation based on the peripherals. In this case, it's dspi vs spi. Thus dspi driver would be used by nxp chips which contain dspi peripheral.

[2016-05-30 13:00] cyliangtw commented on #1809
Hi Martin,
ARMCC version: MDK-ARM V5.14.0.0 .

[2016-05-30 14:07] tofmassilia opened #1814 "Wrong memory mapping through scatter file for STM32F073"
LR_IROM1 size is set to 0x10000 instead of 0x30000 through TOOLCHAIN_ARM_MICRO & TOOLCHAIN_ARM_STD.

[2016-05-30 23:36] AnimismRhyme commented on #1754
As I wrote, the first byte write and read works fine, therefore it might have been difficult to capture the problem unless you ran multiple transactions test. Meantime, since the first byte write/read worked, it took us rather long time to figure out the cause of hang was SPI, instead of our application code.

[2016-05-31 03:06] cyliangtw commented on #1809
Hi Martin,
If I rollback ARMCC version as MDK-ARM V4.74, I could build RTOS & ethernet lib successfully.

[2016-05-31 05:11] embeddedartists commented on #1809
I had the same problem (was using MDK-ARM 5.14.0.0) and read somewhere that it was solved in version 5.18.0.0. I have upgraded to the latest version (5.20.0.0) and no longer see the problem.

[2016-05-31 05:59] ccli8 opened #1819 "Overwrite _sbrk() to support external SRAM"
Hi,
I am porting mbed classic to Nuvoton's Nu-mbed-NUC472 board. There is external SRAM on this board. To locate heap on the external SRAM, I need to overwrite _sbrk(). But I meet 'multiply defined' error on GCC_ARM target. The _sbrk() implementation in retarget.cpp cannot meet my requirement (heap and stack are not contiguous in my case). Could _sbrk() in retarget.cpp declare to be weak to overwr

[2016-05-31 05:59] toyowata commented on #1809
This is probably a compiler bug which is fixed in ARM Compiler 5.06.  The defect number was SDCOMP-25465.

http://infocenter.arm.com/help/topic/com.arm.doc.arn0005v/index.html#history

So, you will not see this internal fault if you use MDK-ARM v5.17 or later.

|MDK-ARM|ARM compiler|
|:-----------|------------:|:------------:|
|v5.14|v5.05 update 1|
|v5.15|v5.05 update 2|
|v5.16|v5.05 update 2|
|v

[2016-05-31 06:57] toyowata opened #1820 "GR-PEACH does not implement SystemCoreClock"
GR-PEACH (RZ_A1H target) does not implement `SystemCoreClock` variable which defined as CMSIS spec here: https://www.keil.com/pack/doc/CMSIS/Core/html/group__system__init__gr.html

If a program uses the SystemCoreClock variable, it obviously generate link error.

[2016-05-31 07:05] 0xc0170 commented on #1820
cc @TomoYamanaka

[2016-05-31 09:12] cyliangtw commented on #1809
Got it & thanks.

[2016-05-31 09:12] #1809 closed

[2016-05-31 09:49] sandeepach opened #1823 "Support STM32F769I Discovery for mbed"
Support STM32F769I Discovery for mbed. This board support double precision floating point which i want to use with mbed.

[2016-05-31 13:26] 0xc0170 commented on #1754
This PR should fix it - #1817

[2016-05-31 15:12] bcostm commented on #1767
No problem. Thanks for sharing your analysis. Yes I think the actual formula is good enough in term of precision vs code size.

[2016-06-01 07:53] AnimismRhyme commented on #1754
I have just tested my test_spi program on FRDM-K64F with mbed lib 121.
And alas, it did not work.
With same setup, if I down-grade the lib to 119, it starts working again.
So I'm afraid that currently mbed lib 120 and mbed lib 121 are NG (for FRDM-K64F spi).

[2016-06-01 07:56] 0xc0170 commented on #1754
Yes, you can use mbed-dev and update SPI based on the fix I referenced above. The fix will be part of the next mbed release.

[2016-06-01 10:06] marcuschangarm opened #1831 "Thread::gettid() does not return the ID of the object it is invoked on"
[code]

`id1` should be the id of the new thread, t1. Instead `id1 == id2`.

[2016-06-01 13:28] 0xc0170 commented on #1823
@sandeepach What about DISCO_F746NG ?

cc @bcostm @adustm

[2016-06-01 13:31] 0xc0170 commented on #1819
cc @niklas-arm

[2016-06-01 13:33] 0xc0170 commented on #1814
cc @bcostm @adustm

[2016-06-01 13:34] 0xc0170 commented on #1794
Is there anything else we can do to resolve this issue?

[2016-06-01 13:38] 0xc0170 commented on #1779
I can confirm, I am getting for zip 504 gateway error. However this is not website tracker. I notified the web team, and for the future, please report it here https://developer.mbed.org/forum/bugs-suggestions/

[2016-06-01 13:38] #1779 closed

[2016-06-01 13:41] Bitbored commented on #1779
It has been reported here, even though IMO the description is not that clear: https://developer.mbed.org/forum/bugs-suggestions/topic/26128/

[2016-06-01 13:53] ohagendorf commented on #1823
FPU of DISCO_F746 is single precision
FPU of DISCO_F769 is double precision

[2016-06-01 15:00] niklas-arm commented on #1819
Short of modifying the code to attribute that function to be `weak`, you may be able to wrap this function using the GNU linker by `-Wl,--wrap,_sbrk`.

Please note, that `dlmalloc` assumes a linear heap address space, meaning with `_sbrk` you can only have _one_ heap section and it must be in continous memory.
On Cortex-A this isn't an issue, because the MMU maps non-continous memory (ie. pages) t

[2016-06-01 15:06] niklas-arm commented on #1819
For clarity:

for heap usage. Of course, it's still usable for stack and static data and whatever else you need.

[2016-06-02 01:39] AnimismRhyme opened #1834 "mbed lib 121 AnalogIn returning int16_t instead of uint16_t"
This morning I was preparing some sample project for FRDM-K22F
which utilizes AnalogIn and PwmOut.

As I have already annoyed with the SPI problem in mbed lib 120
I was not surprised when I saw the values from AnalogIn was screwed.

It seems that the read_us16() actually returning signed 16bit value.
and read() goes with it, and resulting very interesting values.

So I just re-winded the mbed lib

[2016-06-02 03:51] ccli8 commented on #1819
@niklas-arm In my scenario, there is just one bank of external SRAM in the Nu-mubed-NUC472 board. I can relocate the whole heap to the external SRAM now per your suggestion. Thanks for your information.

[2016-06-02 08:02] 0xc0170 commented on #1834
Looking at the sources, the analogin_read_u16 for KSDK2 MCU returns the result from this function ``uint32_t ADC16_GetChannelConversionValue(ADC_Type *base, uint32_t channelGroup)``.

Referenced line: https://github.com/mbedmicro/mbed/blob/master/hal/targets/hal/TARGET_Freescale/TARGET_KSDK2_MCUS/api/analogin_api.c#L78

[2016-06-02 08:39] 0xc0170 commented on #1834
cc @mmahadevan108

[2016-06-02 10:19] 0xc0170 commented on #1831
The problem here is we can't overload gettid. We migth need to introduce a new method.

We could have ``gittid()`` actually return the instance's thread id, and ``getCurrentThreadId`` to do what ``gettid`` does now, but that would be breaking change. Let's just introduce getter method for threadid member

[2016-06-02 10:26] marcuschangarm opened #1837 "mbed #974ecf7 mutex not working (tested on K64F)"
I'm using a mutex to protect access to a variable in a different thread. In the example below ```id``` should only be readable after it has been assigned a thread id, however, on a K64F the printf outputs 0 instead of the actual ID.

[code]

The equivalent using semaphores does produce the correct result:

[code]

[2016-06-02 10:42] #1837 closed

[2016-06-02 10:58] AnimismRhyme commented on #1834
In 35.3.4 ADC Rata Result Register (ADCx_Rn) of K64P144M120SF5RM,
the lower 16bit of R register holds either signed or unsigned 16bit value,
along with all 0 in the upper 16bit.

So there can be plenty of chance that the 16bit was signed,
but reading your analogin_api.c at least the resolution was assigned as
    adc16_config.resolution = kADC16_ResolutionSE16Bit;
so I hope that the result 16bit s

[2016-06-02 14:19] 0xc0170 opened #1841 "critical section - rtos problematic"
Our current implementation of critical section uses `__disable_irq`, which looks fine for bare-metal.

The problem becomes when rtos is included. To illustrate:

[code]

This fails for ARMCC as stdlib requires locking which is part of RTX (mutex for stdlib mutex_require/release calls). Therefore printf tries to acquire lock, but because interrupts are disabled (let's assume cortex-m0, leave BASEPR

[2016-06-02 14:28] marcuschangarm opened #1842 "Timer jumps after 35 minutes on K64F"
When running the following program on a K64F, the timer value jumps drastically after 35 minutes.

[code]

Output after 35 minutes:

[code]

[2016-06-02 15:52] adustm commented on #1823
Hello, no target date for this platform at the moment.
Cheers

[2016-06-02 16:13] jamike opened #1845 "NUCLEO_L476RG, DISCO_L476VG RTOS test failed on ARM and GCC ARM"
In release mbed_lib_rev121, RTOS test are failing.
This regression begins after commit ab3c1e3a1643cf9c8696ff52b3eeb85b78afaef5
 "RTX: Support stacks larger than 64k"
The RTOS init cannot reach main function.

The INITAL_SP used for computing RTOS Main stack is defined at  0x20018000UL (rtos/TARGET_CORTEX_M/RTX_CM_lib.h)
while initial sp is defined in .ld file at 0x10008000 .
=> initial sp from .l

[2016-06-02 20:23] 0xc0170 commented on #1842
I would like to test this on earlier revision (mbed lib <120) when we used KSDK 1.0

cc @mmahadevan108

[2016-06-03 06:17] sandeepach commented on #1823
As a part of ohagendorf's changes for support Nucleo F767, isnt it easy from there to support Disco 769?
I think even Disco 769 is based on Cube 1.4.0.
I will be mainly interested in utilizing the 4 MEMS Microphones there on that board.

[2016-06-03 06:33] ohagendorf commented on #1823
I can add that target, no problem.

[2016-06-03 08:11] AnimismRhyme commented on #1834
I modified my program to display the ADC0 Result Register directly, too.
And the value of read_u16() and the register value were same.
So somehow, the ADC module is setup for signed 16bit instead of
unsigned 16bit somehow/somewhere.

0.000000 0x0000 : 0x00000000
0.998672 0xFFA9 : 0x00000000
0.998703 0xFFA9 : 0x0000FFA9
0.029465 0x0788 : 0x0000FFA9
0.063310 0x1032 : 0x00000788
0.087938 0x1681 : 0x0

[2016-06-03 08:35] AnimismRhyme commented on #1834
I ran additional test to check the value of ADC0_SC1 and ADC0_CFG1
ADC0_SC1 = 0x0000_0028
ADC0_CFG1 = 0x0000_006C
This means that ADC was configured as
ADC0_SC1[DIFF] = 1
 Differential conversions and input channels are selected
ADC0_SC1[ADCH] = 01000
 When DIFF=0, AD8 is selected; When DIFF=1 it is reserved
ADC0_CFG1[MODE] = 11
 When DIFF=0: it is single-ended 16-bit conversion
 When DIFF=1: it i

[2016-06-03 08:48] AnimismRhyme commented on #1834
Well, I was wrong...
In my first part of the program I assigned 0x0000_0008 to ADC0_SC1 and immediate print out was displaying the right value. But next write shows the value was changed to 0x0000_0088 and
after read_u16() it was changed to 0x0000_0028 and it stays as 0x0000_0028 rest of my program.
I wonder why but some other part of the program is modifying the ADC register...

[2016-06-03 10:06] LMESTM opened #1849 "There is no tests to verify that UART TX is complete"
Doing some basic tests like (Corrected after comment from Martin):

Serial *pc = new Serial(USBTX, USBRX);
pc->printf("blabla");
deepsleep();
OR
  pc.printf("blabla");
  delete pc;

it looks like several targets may not send the complete serial Tx before entering sleep mode.
Proposal is to add a test that verifies this is done well.

[2016-06-03 10:07] TomoYamanaka commented on #1820
Hi

We implemented "SystemCoreClock" variable which defined as CMSIS spec.
PR is here: https://github.com/mbedmicro/mbed/pull/1848

[2016-06-03 12:18] TomoYamanaka opened #1851 "In the case of Cortex-A, compile error occurs in critical.c"
Hi.

In the following mbed SDK
&nbsp;&nbsp;https://github.com/mbedmicro/mbed

You implemented critical.c. In this file, "__get_PRIMASK()" is referenced.
However, "__get_PRIMASK()" is a function that is supported only on Cortex-M.
"__get_PRIMASK()" is not supported in Cortex-A.
Therefore, the compile error occurs in Cortex-A.

Reference: https://github.com/mbedmicro/mbed/pull/1804, and more...

Reg

[2016-06-03 13:04] 0xc0170 commented on #1851
Yes, that needs to be fixed

[2016-06-03 13:04] 0xc0170 commented on #1851
cc @c1728p9

[2016-06-03 13:04] 0xc0170 commented on #1849
How would you verify that? Shouldn't an application do flushing prior going to sleep?

[2016-06-03 13:13] LMESTM commented on #1849
As I read serial_api.h it says it's a blocking call, which means to me it's a synchronous API vs. the Async API that is being currently added.

So when serial_putc returns I expect this means transfer is complete. Any serial HW IP should let you know when the transmission is complete.

This avoids unpredictable behaviors and allows developers to get rid of here and there flush calls and/or wait()

[2016-06-03 13:27] 0xc0170 commented on #1849
Your example uses ``printf``, without a newline. This is not connected to a serial API we provide. It's connected to the stdlib. stdout is buffered, therefore you need to flush ot, or use a newline (I dont think it's guaranteed there anyway - implementation defined).

You can disable buffering (``setbuf(stdout, NULL);``), or flush the buffer (``fflush(stdout);``)

[2016-06-03 13:44] LMESTM commented on #1849
Sorry - if you look at the example code in the commit,
I am actually using the Serial (and Stream.h) API, not the one from the stdlib:

The issue description / test case should rather be:

Serial *pc = new Serial(USBTX, USBRX);
pc->printf("blabla\r\n");  // with or withou new line
deepsleep();
OR
pc->printf("blabla");
delete pc;

[2016-06-03 14:01] bcostm commented on #1814
I suppose you mean NUCLEO_L073RZ ?

[2016-06-03 14:09] 0xc0170 commented on #1849
Yes, sorry, Serial anyway uses stream which implements it as:

[code]

which is the same as I described. I assume you would propose after vfprintf do fflush()   or another synch mechanism?

[2016-06-03 14:39] LMESTM commented on #1849
There may be several ways to solve the issue - the point is that the test does not pass if we're not changing anything now and I think that the test is valid and worth being added .

Now from implementation point of view:
- on STM32 I prefer to ensure that the transmission is complete when returning from serial_putc as the HW offers this information (and HAL reference implementation also checks th

[2016-06-03 19:39] mmahadevan108 commented on #1834
Can you please send your test program for me to replicate the issue and test any fix.

[2016-06-04 01:26] AnimismRhyme commented on #1834
/* current test program of mine */
#include "mbed.h"

AnalogIn a0(PTB0) ;
PwmOut led(PTD5) ;

uint32_t *adc_result = (uint32_t*)0x4003B010 ; /* ADC0_RA */
uint32_t *adc_screg = (uint32_t*)0x4003B000 ; /* ADC0_SC1 */
uint32_t *adc_config = (uint32_t*)0x4003B008 ; /* ADC0_CFG1 */
int main()
{
    float fvalue ;
    uint16_t uvalue ;
    uint32_t result_reg1 ;
    uint32_t result_reg2 ;
    *adc_scre

[2016-06-04 01:26] AnimismRhyme commented on #1834
lib 121 test result
adc_screg = 0x00000008
0.998672 0xFFA8 : 0x0088 0x006C
0.998688 0xFFA8 : 0x0028 0x006C
0.022995 0x05E4 : 0x0028 0x006C
0.033249 0x088C : 0x0028 0x006C
0.056977 0x0E94 : 0x0028 0x006C
0.074449 0x1310 : 0x0028 0x006C
0.111177 0x1C7F : 0x0028 0x006C
0.153689 0x2757 : 0x0028 0x006C
0.181613 0x2E80 : 0x0028 0x006C
0.218204 0x37E8 : 0x0028 0x006C
0.290028 0x4953 : 0x0028 0x006C
0.443

[2016-06-04 01:26] AnimismRhyme commented on #1834
lib 119 test result
adc_screg = 0x00000008
0.000000 0x0000 : 0x0088 0x006C
0.000122 0x0009 : 0x0008 0x006C
0.032883 0x0862 : 0x0008 0x006C
0.051698 0x0D38 : 0x0008 0x006C
0.070008 0x11E9 : 0x0008 0x006C
0.127214 0x2092 : 0x0008 0x006C
0.208225 0x3544 : 0x0008 0x006C
0.326177 0x5378 : 0x0008 0x006C
0.388205 0x635C : 0x0008 0x006C
0.483146 0x7B9F : 0x0008 0x006C
0.658488 0xA888 : 0x0008 0x006C
0.769

[2016-06-04 07:40] Sissors commented on #1849
Changing overall putc to be completely blocking until done will seriously slow down some targets though.

[2016-06-04 20:57] LMESTM commented on #1849
This thread is just an issue, possible fixes is another matter ...
IMHO about performances so far: default baudrate is 9600 😕 and using byte per byte api is not meant for performance but for reliability and portability. Higher performance shall come with Dma based async api and/or moving to 115200kbps or higher ....  in any case I only propose to update stm targets (no visible slowness so far) ...

[2016-06-04 22:47] adamgreen commented on #1849
If the user is logging data which is small enough to fit in a FIFO and the FIFO would drain before the next chunk is logged then it is better to utilize the FIFO to minimize the impact of this logging on the rest of the code which is doing the actual work.

[2016-06-05 07:36] Sissors commented on #1849
In general since UART is an asynchronous protocol with independent reading and writing, the current putc command is even at its maximum speed just as fast as any DMA based solution.

Personally I see more in a function like serial.idle() next to readable/writable, or maybe a txDone interrupt.

[2016-06-06 07:11] LMESTM commented on #1849
All, thank you for your feedback. in order to converge towards a common conclusion, I'd like to separate the discussion into 2 separate threads.
1) this current thread we're discussing in is about  adding a new "serial complete" test as proposed https://github.com/LMESTM/mbed/commit/7de8c210d44adc52d5b926605b3f9126a68c7100
So question in this thread is : do we think such  a test should PASS and is

[2016-06-06 12:10] #1851 closed

[2016-06-06 14:39] bogdanm opened #1857 "Issues after device.h -> targets.json conversion"
There are still some `device.h` files with actual data left in the tree, see for example https://github.com/mbedmicro/mbed/blob/master/hal/targets/hal/TARGET_NORDIC/TARGET_MCU_NRF51822/TARGET_NRF51822_MKIT/device.h. These should have gone away.
Cc @theotherjimmy

[2016-06-06 14:51] theotherjimmy commented on #1857
you're right. these should have gone away. I missed the warning:
[WARNING] device NRF51822_MKIT did not have an associated entry in targets.json

[2016-06-06 14:56] 0xc0170 commented on #1857
Please @theotherjimmy send a fix or let us know otherwise

[2016-06-06 14:58] theotherjimmy commented on #1857
Working on it. will link this issue with the pr when I get that up.

[2016-06-06 15:07] theotherjimmy commented on #1857
so, the reason for the warning is that there is no entry with the string "NRF51822_MKIT" as part of the name or the extra labels of any entry within target.json. should I instead be matching on the MCU_NRF51822 instead?

[2016-06-06 15:21] theotherjimmy commented on #1857
https://github.com/mbedmicro/mbed/pull/1859

[2016-06-06 16:40] theotherjimmy commented on #1857
@bogdanm  the PR was merged. is this all cleaned up now?

[2016-06-06 19:35] neilt6 opened #1861 "GitHub doesn't appear to be syncing to developer.mbed.org"
@0xc0170 Changes to the GitHub codebase don't appear to syncing to the libraries on https://developer.mbed.org/ as of a few weeks ago when everything was reorganized.

[2016-06-06 20:30] hesolium opened #1862 "Building mbed library for Nucleo_L152RE"
I have a problem with the offline creation 'mbed' library for board Nucleo_L152RE.
Compilings runs correctly (no errors or warnings). Library (libmbed.a) is created but the file 'devices.h' in folder '/.build/mbed/TARGET_NUCLEO_L152RE/TARGET_STM/TARGET_STM32L1/TARGET_NUCLEO_L152RE' is basically empty. There are not #defines (eg. DEVICE_SERIAL, ...). An attempt to compile an application fails with

[2016-06-06 20:47] 0xc0170 commented on #1861
Synch was disabled right before that reorganization, we need to synch a releases not directly commits, and libraries should be in synch with the rest of the code  (tools, hal, cmsis).

Thanks for reporting, lets keep this open until resolved with a proper solution.

[2016-06-06 20:48] 0xc0170 commented on #1862
cc @theotherjimmy

[2016-06-06 20:52] theotherjimmy commented on #1862
I can't reproduce the error. running``` python workspace_tools/build.py -m NUCLEO_L152RE -t GCC_ARM -o "debug-info" ``` works.

[2016-06-06 20:53] theotherjimmy commented on #1862
right. you want to make sure that your build system heeds the features array in hal/target.json. what build system are you using/ what command do you run to build an example application?

[2016-06-06 21:11] theotherjimmy commented on #1862
super detailed discussion:
You are correct in identifying the problem: The macro DEVICE_SERIAL is not defined, leading this line https://github.com/mbedmicro/mbed/blob/master/hal/api/Serial.h#L21 to turn off the serial object. The reason that  https://github.com/mbedmicro/mbed/blob/master/hal/targets/hal/TARGET_STM/TARGET_STM32L1/TARGET_NUCLEO_L152RE/device.h is empty is that we have moved to a sy

[2016-06-06 21:27] hesolium commented on #1862
@theotherjimmy: "what build system are you using/ what command do you run to build an example application?"

I'm working under Ubuntu 14.04 LTS 64-bit (developing an application using Netbeans/Makefile). But it has nothing to do with error. With the previous revision (eg. 114) of mbed library everything worked properly. If the file 'device.h' is empty (no suitable #defines), then substantial part

[2016-06-06 21:37] hesolium commented on #1862
@hesolium:"Where is currently defined SERIAL_DEVICE variable?"

Mistake! Should be DEVICE_SERIAL. In file 'Serial.h' compilation depends on this variable.

[2016-06-06 21:38] theotherjimmy commented on #1862
Just non-feature DEVICE_ defines. The current master looks correct to me.

When did you last export your project?

Well, that should be generated by the export.
For example, I generated a new makefile with the command ``` python workspace_tools/project.py -m NUCLEO_L152RE -i gcc_arm -p 0``` and the resulting makefile contains the [extra long] line
[code]
That is where the DEVICE_SERIAL is defined.

[2016-06-06 21:56] hesolium commented on #1862
@theotherjimmy: "Well, that should be generated by the export."

Thank you for your help. I do not use the remote compiler. My application is too big and work with the remote compiler is too slow and cumbersome. But you are right. Exported application (and 'device.h') is OK because makefile define all this variables. I have to modify my makefile.

[2016-06-06 22:07] theotherjimmy commented on #1862
Sorry to hear that. You can generate a new makefile with the tools in the workspace_tools directory for guidance on what needs to be modified. It should just be appending the ```-DDEVICE_<feature>=1" lines to CC_SYMBOLS.

[2016-06-07 06:22] 0xc0170 commented on #1862
@hasselmm Please look at https://github.com/mbedmicro/mbed/pull/1830,  and update your build system. Or as @theotherjimmy mentioned above.

I'll close this issue as it should be resolved, if not, please reopen

[2016-06-07 06:22] #1862 closed

[2016-06-07 08:17] adustm opened #1864 "project.py returns a WindowsError instead of showing that the library is not found"
I launched the following command without building rtos and ethernet libraries prior to it:
`python ..\mbed\workspace_tools\project.py -c -m NUCLEO_F746ZG -p 96 -i uvision5`

This is failing with the following errors
[code]

Martin asked me to create the issue, mentioning that I should not get a Windows Error but the script should return an error.
Kind regards

[2016-06-07 09:03] 0xc0170 opened #1866 "SystemCoreClockUpdate - wrong implementation"
As mentioned in the pull request https://github.com/mbedmicro/mbed/pull/1848, some targets do not conform SystemCoreClockUpdate (). they just return the predefined value.

The api docs say:

[code]

We should review all the implementation, create a list of targets that need an update.

[2016-06-07 11:10] 0xc0170 commented on #1864
cc @bridadan

[2016-06-07 11:11] 0xc0170 commented on #1861
cc @sg-

[2016-06-07 15:06] bridadan commented on #1864
Addressed in #1868

[2016-06-07 15:17] mmahadevan108 commented on #1834
It looks like the DIFF bit is getting incorrectly set. I will make a change to explicitly set this option to false in the config parameters. That should fix this issue. Thanks.

[2016-06-07 15:28] bridadan opened #1870 "Exporter should error when libraries built with the correct toolchain are not available"
To reproduce:

[code]

You will see that there is no built RTOS library included, just header files. If I repeat with the following:

[code]

The built RTOS library is included along with the header files.

In the first case, I would expect this to error with something along the lines of:

[code]

OR it should just build it for you :)

cc @0xc0170

[2016-06-07 15:59] adustm commented on #1864
Thanks @briadan

[2016-06-07 16:57] mmahadevan108 commented on #1842
Hi Martin, Does this exist on the earlier version as well?

[2016-06-07 17:12] 0xc0170 commented on #1842
@marcuschangarm What version of mbed are u running? SHA? Can u test the older version with KSDK?

[2016-06-07 18:26] theotherjimmy commented on #1671
I'll be using properties instead of getters, but the idea is the same. http://stackoverflow.com/questions/6618002/python-property-versus-getters-and-setters

[2016-06-08 08:23] marcuschangarm commented on #1842
I'm on #974ecf731c8a5de78acc9e40573f2a7c7641c2cd.

What version do you want me to test?

[2016-06-08 10:38] 0xc0170 commented on #1842
@marcuschangarm https://github.com/mbedmicro/mbed/commit/868ca35dfb02565beafef75f12e5f0f1740e860c (use mbed lib 119) please and let us know

[2016-06-08 12:26] marcuschangarm commented on #1842
Same result on mbed 119 and mbed-rtos 108:

[code]

[2016-06-08 15:57] c1728p9 opened #1882 "No support for reent structures in GCC"
GCC reent structures are not swapped out on task switches as they should be.  This needs  to be fixed.  Useful link below:
https://developer.mbed.org/users/AdamGreen/notebook/newlib-nano/

[2016-06-08 22:14] infinnovation commented on #1740
I can confirm that this issue is fixed in revision 121.

[2016-06-08 22:14] #1740 closed

[2016-06-09 16:08] theotherjimmy commented on #1857
@bogdanm @0xc0170 PING! Is this resolved?

[2016-06-09 16:11] 0xc0170 commented on #1857
It should be

[2016-06-09 16:11] #1857 closed

[2016-06-10 21:12] riktw commented on #816
The fix from BartSX worked for me. My current us_ticker.c and hal_tick.c for STM32F103RB are:
http://pastebin.com/xurcXy2w

http://pastebin.com/nAF9qJYM

[2016-06-13 08:54] phyokyaw commented on #1756
Any update on this please.

[2016-06-13 08:57] 0xc0170 commented on #1756
cc @screamerbg

[2016-06-13 15:09] #1525 closed

[2016-06-13 19:32] ohagendorf opened #1919 "[project.py] is broken"
After PR #1893 project.py does not work any longer.
The generated zip files are nearly empty or an exception is generated. In the following some examples:

Exporting to gcc:
[code]

Exporting to coide
[code]
Exporting to uvision/uvision5:
- no exception but
- generated zip file nearly empty (sizes before PR 1335kB after PR 5kB for NUCLEO_F401RE)

cc @screamerbg @theotherjimmy @sg- @0xc0170

[2016-06-13 19:43] ohagendorf commented on #1919
with a manual created '.temp' dir the execption disappears but that works just once because it is deleted after exporting

and the generated gcc_arm/coide zip project files are nearly empty like the uvision/uvision5 files

I'm using Windows 10, maybe under linux it is working ...

[2016-06-13 20:53] 0xc0170 commented on #1919
I just merged #1912 , that should solve it . Please rerun , and let us know. I tested gcc arm and uvision.

[2016-06-13 20:59] 0xc0170 commented on #1919
@ohagendorf coide exports, but seems like c99 is not enabled there (I tested with kl25z as I built the lib earlier). Can you please provide details if you find anything?

[2016-06-13 21:30] 0xc0170 commented on #1919
I am seeing weird errors from various IDE, for instance LPC1768 for uvision with full sources, it does not compile. It complains about ``i2c_start`` not defined, that seems correct as it's defined as ``inline i2c_start()`` in the C code file. according to c99, it should be private to that compilation unit. But I have not seen this error, neither others I am seeing now. All this is for uvision, I'l

[2016-06-14 10:19] Patater commented on #1841
Additionally, the assertions inside `core_util_criticial_section_enter` and `core_util_critical_section_exit` fail when the RTOS is running in `#define OS_RUNPRIV 0` mode, because from unprivileged mode, writes to `PRIMASK` are ignored and reads from `PRIMASK` are always zero (on Cortex-M3-like systems).

When these assertions fail, we observe infinite recursion, as `mbed_assert_internal` also cal

[2016-06-14 10:26] 0xc0170 commented on #1841
@Patater Any suggestions to fix that recursion, plus assertions with RTOS in unprivileged mode?

[2016-06-14 10:43] ohagendorf commented on #1919
Additional to missing ```i2c_start``` and ```i2c_stop``` I've got several other Undefined symbols.
With several
[code]
in ```hal_tick.c```, ```system_stm32f7xxx.c``` and ```mbed_overrides.c``` around the function declarations of ```HAL_IncTick```, ```us_ticker_irq_handler```, ```HAL_Init``` the first problem was solved.
The ```i2c_start``` and ```i2c_stop``` problem could only be solved be removin

[2016-06-14 10:46] 0xc0170 commented on #1919
@ohagendorf Does that look like c files are compiled with c++ compiler? To me that would be the only explanation to some errors I am seeing, but could not spot the change causing this in the code base.

[2016-06-14 10:52] ohagendorf commented on #1919
No, in the project file they are all FileType 1, same as the other .c files. Filetype 8 is used by .cpp files. So that could not be the reason.

[2016-06-14 11:15] 0xc0170 commented on #1919
I probably spot the issue , there's ``--cpp`` flag for cxx flags, which is fine for cxx ,but in the exported project is set for c/c++ and that's the problem. In the docs on keil site ``This option is implicitly selected for files having a suffix of .cpp, .cxx, .c++, .cc, or .CC.`` means we don't need this option anyway. Once you remove it , lot of errors are gone for me with various projects. I'll

[2016-06-14 12:56] ohagendorf commented on #1919
Thanks for the fast solution.

[2016-06-14 13:42] 0xc0170 commented on #1919
It's still broken, at least if I generate a project with full sources there're duplicated symbols (.o files and also sources, thus like system , startup or others are duplicated). We have to investigate

cc @screamerbg

[2016-06-14 14:23] ohagendorf commented on #1919
I don't have problems with something like this:

```project.py -m NUCLEO_F767ZI -i uvision5 -p 28```
or
```project.py -m NUCLEO_F767ZI -i gcc_arm -p 28```

as I had before.

[2016-06-14 16:41] LiyouZhou opened #1939 "Incorrect inclusion due to header file name clash"
`./mbed-os/core/hal/api/critical.h` clash with an header file in an external module `https://github.com/ARMmbed/atomic-queue/blob/master/source/critical.h`.

`./mbed-os/core/hal/common/Ticker.cpp` includes the wrong file without warning. Fail to find symbols.

This is a common scenario and there should be a strategy in place in mbed tools to avoid these situation from happening.

[2016-06-14 17:32] 0xc0170 commented on #1939
yes, we could rename it, prefix ``core_util`` as API is, to overcome this. As it's already used by some software, we could do a warning in the current ``critical.h`` for some period of time to enable users to start using a new one. However , this is just one file, we got more in the code base and renaming does not look as a backward compatible solution :sob:
One would be to use absolute paths that

[2016-06-15 08:59] LiyouZhou commented on #1939
I think to solve the problem once and for all. Compile mbed-os into a library, expose only the API headers to outside mbed-os. Properly namespace the API headers, for C as well as CPP.

[2016-06-15 09:42] LiyouZhou opened #1947 ".mbedignore does not recognise some paths correctly"
`./mbed-os/` is not recognised, you have to use `mbed-os/`
`*/TESTS/*` does not filter `./TESTS/*` you have to use `TESTS/*`

[2016-06-15 11:12] bremoran commented on #1939
To solve this problem, the files in each directory need to be compiled separately, so that local includes always take precedence.

Include order must also be different for each directory. For example, suppose I have four 3rd party libraries: a, b, c, d. `a` depends on `b::foo`, and `c` depends on `d::foo`. If the include order is wrong, then there will be more faults like this.

[2016-06-15 11:23] marcuschangarm commented on #1939
@screamerbg @mjs-arm @sg-

[2016-06-15 11:45] 0xc0170 commented on #1939
How to enforce this in the IDEs? They provide options to change project settings for a virtual folder or a file. that would mean that each directory or a separate module would need to be in its own virtual folder with own settings. I know that IAR and uvision support overriding settings per file/virtual folder, not sure about the rest of IDEs.

[2016-06-15 11:49] bremoran commented on #1939
When each module is built separately, this is the responsibility of the module developer to ensure the correct include order. When all modules are built together, it is the responsibility of the build tool to answer this question.

[2016-06-15 11:55] LiyouZhou commented on #1939
When you try to support multiple build systems, you cannot expect all of the features of the build systems to match up perfectly. This is not the reason for keep mbed minimal. Just because uvision ignores this problem, does not mean that we should. If mbed offers more features than uvision, how is this a problem?

[2016-06-15 12:06] jaustin commented on #1939
@LiyouZhou I don't think it's as simple as that - we want mbed to be as useful to as many people as possible - there's a balance between features and availability of tools - lots of developers like using uvision and if they can't use mbed with it, they might not use mbed at all. I think we need to keep 'core' behaviour working in our main export IDEs and there can be some features/niceities/extra

[2016-06-15 12:31] mjs-arm commented on #1939
Header files need to be name spaced to avoid collision, build tools won;t save you.  There are are two approaches to name spacing:

1) #include "foo/bar.h"
2) #include "foo_bar.h"

We are already, so far as I can see, already heading down route 1)

[2016-06-15 12:31] bogdanm commented on #1939
+1.

[2016-06-15 12:34] mjs-arm commented on #1939
The other issue here to keep in mind is that (I suspect) Liyou and Brendan may be seeing this problem while building software that actually needs to be widely portable to many platforms (i.e. update client).

Build tool centric work arounds for name space collision won;t help from a portability perspective. Portable code needs to make sensible decisions about namespace pollution.

[2016-06-15 12:35] bremoran commented on #1939
@mjs-arm
I don't see how this can save you from incorrect include order in 3rd party modules. This was a failure caused in a **local** include.

Supposed I have:

module_a/foo.h
module_a/foo.c:
[code]
module_b/foo.h
module_b/foo.c:
[code]

The build tools **must not break this**

[2016-06-15 12:39] mjs-arm commented on #1939
Third party software integrated into the tree is not exempt from managing their name space pollution.

[2016-06-15 12:43] bremoran commented on #1939
Third parties are only subject to this requirement if they explicitly support mbed OS. This will be limiting for our users when they want to incorporate third-party software.

[2016-06-15 12:59] mjs-arm commented on #1939
@bremoran this issue is not unique to mbed-os.  Managing name space is a problem that everyone writing code with the objective of portability needs to face up to. Code that is developed that does not manage  its namespace effectively is inherently not portable.  The two options  I listed above are not mbed-os centric solutions, they are off the shelf standard practice and have been since the dawn

[2016-06-15 13:18] bremoran commented on #1939
Writing portable C:
1) Externally facing APIs and files should be namespaced.
2) Internal APIs not marked static should be namespaced if static linking is expected

Include files that are only for local use should not be exposed to the include search path. This also is standard practice since the dawn of C (I won't claim time on this one). For example, see the omnipresent `config.h`.

[2016-06-15 17:11] svastm opened #1953 "uARM fail with compiled rtos lib"
The RTOS tests are failing on at least the NUCLEO_L476RG (uARM only).
[code]
I have launched some tests before the changes in the compilation flags and they were ok.

I tried to export a test to uvision and I had the same error with the compiled version of the rtos lib (such as rtos.ar and rtx.ar). But if i use the .c files and I compile the rtos lib inside the uvision project, the example works w

[2016-06-15 20:17] theotherjimmy commented on #1947
The reason for this is that the current path is prepended to the pattern making your pattern ```some/path/here/*/TESTS/*``` which would not match ```some/path/here/TESTS/```.
Code reference https://github.com/mbedmicro/mbed/blob/master/tools/toolchains/__init__.py#L433

[2016-06-15 20:25] theotherjimmy commented on #1870
The example ```python workspace_tools/build.py -m K64F -t GCC_ARM --rtos``` works as intended, building the RTOS and RTX for me. Is this still an issue?

[2016-06-15 21:29] 0xc0170 commented on #1953
Can you share the commands please , and SHA of before the changes to test it locally please?

[2016-06-16 08:09] svastm commented on #1953
The changes are in PR #1907 (`3db2c030d24782f8cab70ebf077a7b58d5f00973`) in the `arm.py` file.
All the targets are defined in *single thread mode* for the uARM toolchain.

[2016-06-16 08:16] 0xc0170 commented on #1953
Thanks that explains it. uLib for ARMCC is not thread safe, therefore that change. The tests should take into account this.

cc @c1728p9

[2016-06-16 10:13] LiyouZhou commented on #1947
Great, now that @theotherjimmy have isolated the problem, it should be quick to fix.

[2016-06-16 13:02] svastm commented on #1842
It's an integer overflow error. `2 146 615` ms mean `2 146 615 000` us which is just a little bit under the max integer (32bit) value. We could had one of this behavior to handle this type of overflow:
- reset the timer
- return an overflow error code

If you need a clock you can use the rtc (if your device has one).

[2016-06-16 14:39] marcuschangarm commented on #1842
@svastm thank you for the explanation.

I'm a bit surprised the Timer API uses signed values for measuring time.

In this particular case I would have expected the timer to reset on an overflow.

[2016-06-16 17:20] 0xc0170 commented on #1754
We shall close it, if you think it's still present on the master, please reopen

[2016-06-16 17:20] #1754 closed

[2016-06-16 21:33] supamas opened #1965 "RTOS compile warnings"
This is my first issue submitted on github.  Sorry, I'm still learning.

I added mbed-rtos library to my already existing project.  Trying to compile without any call to the library produces these errors:

`Warning: Incompatible redefinition of macro "__MBED_CMSIS_RTOS_CM" in "mbed-rtos/rtx/TARGET_CORTEX_M/cmsis_os.h", Line: 60, Col: 10
Warning: Incompatible redefinition of macro "__CMSIS_RTOS" in

[2016-06-16 22:32] bridadan commented on #1965
Hi @supamas, thanks for reporting the issue! I've pasted your report down below in a more readable format. (By the way, I usually refer to the following guide when I check my formatting, hope it helps you out too! https://guides.github.com/features/mastering-markdown)

[code]

[2016-06-17 08:00] kjbracey-arm opened #1969 "Configure stdio baud rate"
Magic is built in to initialise and bind stdio to a target-specified serial port. This is lovely.

But people still write code like this:

[code]

They start with the Serial object because they need to set the baud rate. If they did use stdio, best they could do would be this slightly iffy mixed version:

[code]

(assuming https://github.com/mbedmicro/mbed/pull/1876 is merged). They can't drop the

[2016-06-17 08:47] bogdanm commented on #1969
Agreed with this, with one exception: I believe that the default value for the baud rate should be defined by the **target**, not by a library. The main reason for this is that I've worked with a few MCU boards that had hardware limitations regarding the maximum serial baud rate (either because of the MCU itself or because of the clock source), which makes this a hardware-specific attribute. So it

[2016-06-17 09:05] SeppoTakalo commented on #1969
I agree with bogdanm. Default baudrate should be set by the target board/MCU.
Application may be allowed to change that, but it should not be required to specify that.

[2016-06-17 09:38] kjbracey-arm commented on #1969
Yes, makes sense for default to be target-specified.

But would that then be an "all-serial-port" default? So if opened with Serial? Or specifically the default for a serial port if used for stdio? I think it should be the latter.

Really, the current state is that the system default is 9600 for all serial ports on all boards. And because we don't like that default, all(?) applications override te

[2016-06-20 13:40] jamike commented on #1953
The RTOS are also failing with  GCC_ARM ,
- as in file targets.json , ST config is set to "default_build": "small", the tools/toolchains/gcc.py is configured with  :
self.cc += ["-DMBED_RTOS_SINGLE_THREAD"]
self.cppc += ["-DMBED_RTOS_SINGLE_THREAD"]

[2016-06-21 15:00] mlnx opened #1978 "Targets should have a field to indicate stable version of daplink"
Targets should have a field to indicate stable version of daplink, for example ```daplink_version``` available here:
https://github.com/mbedmicro/mbed/blob/master/hal/targets.json

This would help mbedls tools to display a warning and ask the user to update the firmware (see request here https://github.com/ARMmbed/greentea/issues/148)

[2016-06-21 19:17] infinnovation opened #1979 "K64F serial_format with ParityEven causes assertion error"
ParityEven is not handled and results in an assertion error.  One-line fix in attached patch.
[k64f-even-parity.patch.txt](https://github.com/mbedmicro/mbed/files/326414/k64f-even-parity.patch.txt)

[2016-06-21 19:33] mfiore02 commented on #1466
@star297 what are your wake method(s)? We recently encountered a similar issue on the Nucleo L152 board. When we configured the device for RTC Alarm wakeup and GPIO wakeup using the wake pin connected to the user button, the device wouldn't wake up from sleep because the biasing on the user button was backwards - pull up with press connecting to ground instead of pull down with press connecting to

[2016-06-21 20:19] neilt6 commented on #1965
The `Incompatible redefinition of macro` warnings were fixed a few weeks ago, just waiting for the updates to make their way back to the mbed site. The `Intrinsic is deprecated` warnings have been around for a while, and can be safely ignored. They need to be suppressed, but I have no idea when that is going to happen.

[2016-06-21 20:23] neilt6 commented on #1861
@0xc0170 Any update on when sync will be re-enabled? I'm interested in using the new `Callback` API that was added to the RTOS library.

[2016-06-22 01:20] toyowata opened #1982 "Exporters - uvision4 failed to build Nucleo F411RE project"
Reported from a developer:

---
I have tried to build exported rtos uVision4 project from mbed classic using Template:

    New program -> NUCLEO-F411RE platform ->  Nucleo_rtos_basic template

Building the project on the uVision had been failed with three errors:

I found that this is because the options of the project don't have the 'Use MicroLIB' option. Please refer to attached image.

![img-1

[2016-06-22 05:41] 0xc0170 commented on #1982
Thanks for reporting. There is option ``--microlib`` that should do the trick. I'll have a look at this

[2016-06-22 08:34] infinnovation commented on #1979
You might also want to add
[code]
unless support for e.g. 7bits+parity is forthcoming.

[2016-06-22 10:19] infinnovation opened #1987 "K64F serial_readable gives misleading result after overrun error"
Using e.g. UART2 which has no FIFO, an overrun can cause the following unwelcome behaviour:

[code]

When serial_readable detects an overrun error, it calls UART_ClearStatusFlags; this reads S1 and D, which as well as clearing the overrun flag also clears the RDRF flag.  serial_getc now loops calling serial_readable which now returns false.