[2016-08-17 10:26] pan- commented on #2467
@nuket These optimizations will be gradually included in mbed-os, I think the situation will be better in few weeks.

[2016-08-17 10:55] LiyouZhou commented on #2439
This is what I care about. It would be nice if I didn't have to depend on the user and only connect the network when it is strictly necessary. There is also a documentation overhead where I have to remind users to connect the network before spinning up the library. There is also overhead on the user to figure out which web interface is used in the library and the correct API to call to spin it up.

[2016-08-17 11:09] nvlsianpu opened #2477 "Need for support of the pre_link_hook for nordic memory provisionig feature"
I want to introduce customization of scatter files which bases on the mbed configuration system. In order to do so I need to call additional script which will be executed before linking phase.

[2016-08-17 12:02] ytsuboi commented on #2474
It hangs at https://github.com/ARMmbed/mbed-os/blob/master/hal/targets/hal/TARGET_NORDIC/TARGET_NRF5/serial_api.c#L290

[2016-08-17 12:21] sg- commented on #2335
Features are not intended to be used by anything outside the mbed OS tree.

[2016-08-17 12:32] javier-moreno-tridonic-com commented on #2335
So is there a different way include different code modules based on the target? If not, is there anyone planned?

Is something that we would need and IMHO other people might find quite useful.

[2016-08-17 12:40] 0xc0170 commented on #1831
cc @LiyouZhou

[2016-08-17 12:46] sg- commented on #2335
For now: Including code based on target has been done by scanning for extra_labels (TARGET_xxx). If a target emits labels, you can name folders to conditional include based on which is selected. Beware: as SDKs change or target code gets refactored these ```labels``` have also changed breaking people who rely on this. This doesn't happen often, I can site one or three occurrences over the last 3 y

[2016-08-17 14:04] ytsuboi commented on #2474
Patched. Now, printf() works fine on TY51822r3. Still need to test on nRF51-DK.
https://github.com/ytsuboi/mbed-os/commit/992abd7410248194e9e61def1947e12ce5541b83

Can I make a pull request after testing with nRF51-DK? @anangl @0xc0170

[2016-08-17 14:14] ytsuboi commented on #2474
Oops, I will change a macro to switch.

[2016-08-17 14:52] bridadan commented on #2467
@pan- You're right, we're on it :)

[2016-08-17 15:32] 0xc0170 opened #2480 "SingletonPtr - name not accurate, thread-safety and initialization/destruction"
1. The name is not accurate
The classes name ``SingletonPtr`` is confusing. This is not a singleton. We can create multiple instances of the same class. Therefore similar pattern in another code base is called ``LazyInstance`` for example.

2. Thread safety
This is not thread-safe, is it?:
[code]

3. Initialization of T type
It's not clear what SingletonPtr guarantees regarding initialization of a

[2016-08-17 16:18] aamcampbell commented on #2470
Sorry, I meant to include that in my original report:
yotta (mbed OS 3) with arm GCC on the FRDM-K64F.

[2016-08-17 16:52] geky commented on #2480
+1 for `LazyInstance`

The initializer should probably be updated to:
[code]

As for destructors, can they not already call the destructor manually?
[code]

I vote for not allowing reconstructing after destructing, since I believe that requires locking over all class member functions for thread safety.

[2016-08-17 20:10] sg- commented on #100
@geky Is this resolved with the updated DNS query?

[2016-08-17 20:16] geky commented on #100
Yes, though given the date, I'm assuming this issue was raised about the old EthernetInterface?

[2016-08-17 20:18] #143 closed

[2016-08-17 20:20] sg- commented on #243
Will soon look closer at USB libraries

[2016-08-17 20:20] #243 closed

[2016-08-17 20:22] sg- commented on #276
Cleaning stale issues, If this is still a problem please re-create the issues with a reproducible example attached. Thanks!

[2016-08-17 20:22] #276 closed

[2016-08-17 20:28] sg- commented on #389
Cleaning stale issues, If this is still a problem please re-create the issues with a reproducible example attached. Thanks!

[2016-08-17 20:28] #389 closed

[2016-08-17 20:30] sg- commented on #438
The github organization redirection associated wrong issues and pull-requests in the process. If this is still a problem please re-create the issues with a reproducible example attached or open a pull request with the proposed fix. Thanks!

[2016-08-17 20:30] #438 closed

[2016-08-17 20:34] sg- commented on #462
Should be resolved https://github.com/ARMmbed/mbed-os/pull/1205

[2016-08-17 20:34] #462 closed

[2016-08-17 21:11] sg- commented on #100
Updated with new EthernetInterface.

[2016-08-17 21:11] #100 closed

[2016-08-18 03:21] ytsuboi commented on #2474
PR made. https://github.com/ARMmbed/mbed-os/pull/2482

[2016-08-18 05:55] markus-becker-tridonic-com opened #2483 "CFStore: SRAM limitation"
According to the document https://github.com/ARMmbed/mbed-os/blob/1e069aa00963a158341ea0554499d65275e73ec9/features/storage/FEATURE_STORAGE/cfstore/doc/design/configuration_store_app_note_0001.md, chapter `### SRAM Footprint, the current CFSTORE implementation` has the limitation that the maximum size of data stored in flash is limited by the maximum amount of SRAM that can be used to store the ke

[2016-08-18 08:00] zgoda opened #2484 "mbed-os support for BLUEPILL_F103C8"
I'd like to have full support for this board in mbed-os (it is already supported by mbed-lib) but I don't know if it's possible at all. I recall mbed-os v3 required more flash than this MCU offers (64k) but can't find hw requirements specified for mbed-os v5.

So basically I am asking for porting guide we had for mbed-lib in Handbook and now is missing in docs for mbed-os.

[2016-08-18 08:05] infinnovation commented on #1683
This may or may not be related to an issue with export to GCC ARM Embedded which I have [just posted](https://developer.mbed.org/forum/bugs-suggestions/topic/26579/) on the Bugs & Suggestions forum (bearing in mind @0xc0170's comment above)

[2016-08-18 08:20] 0xc0170 commented on #1683
cc @screamerbg Please have a look at the link in the above comment

[2016-08-18 08:29] hasnainvirk opened #2485 "How to support multiple configurations of Nanostack in mbedOS ?"
Currently There are 3 binaries present in mbedOS. One for each compiler. And each binary have a generic
configuration, i.e., mbed-os.cfg (which includes everything, hence increased binary size)

However Nanostack can be configured with many different configurations which potentially decreases binary size for certain stripped down variations of binaries.

In mbed-OS3 CMakelist was used to pick cert

[2016-08-18 09:28] maansaari commented on #2485
@simonfordarm @sg-

[2016-08-18 12:38] tommikas opened #2486 "Build config system broken"
Jira defect: IOTSFW-2855

Seems that a [recent commit](https://github.com/ARMmbed/mbed-os/commit/869b5d7813909f9bcdcd8f3837284e4a0c2a7146) broke the build configuration system.

### Before the merge:

The macro section in the generated mbed_config.h:
[code]

The build result output:
[code]

### After the merge:

The macro section in the generated mbed_config.h:
[code]

Warnings generated for every

[2016-08-18 12:41] bogdanm commented on #2486
@theotherjimmy

[2016-08-18 13:37] jupe commented on #2486
so it related to this PR: https://github.com/ARMmbed/mbed-os/pull/2458

[2016-08-18 13:49] markus-becker-tridonic-com commented on #2452
@MarceloSalazar If this could get fixed, it would help us a lot.

[2016-08-18 13:49] markus-becker-tridonic-com commented on #2452
FYI @ivan-adzic-tridonic-com

[2016-08-18 13:52] MarceloSalazar commented on #2452
cc @bogdanm @0xc0170 @theotherjimmy

[2016-08-18 14:03] nuket commented on #2474
This hang is also biting me hard on the nRF51-DK.

[2016-08-18 14:31] markus-becker-tridonic-com opened #2488 "extra_labels_add broken"
Extra labels on an inheriting target via `extra_labels_add` remove the extra labels of the mother target.

This manifests then in device.h not being found during compilation.

@MarceloSalazar

[2016-08-18 14:31] c1728p9 commented on #2480
What @geky says sounds good. Renaming sounds good to me, and both ``_ptr = new (_data) T();`` and the extra ``if (NULL == _ptr) {`` inside the lock are needed.

[2016-08-18 14:41] nuket opened #2489 "mbed OS / Nordic nRF51-DK serial port functionality is inconsistent."
Trying to reconfigure the serial port in use by the Nordic nRF51-DK seems to be inconsistent:

If I use the [Blinky example](https://github.com/ARMmbed/mbed-os-example-blinky) as follows, it will not start to output data on pins p12 and p13 of my nRF51-DK board. On mbed Classic, this seemed to work fine, albeit the various issues with non-connected hardware flow control, which seem to be endemic t

[2016-08-18 14:43] markus-becker-tridonic-com commented on #2488
same for `macros_add`.

[2016-08-18 14:44] 0xc0170 commented on #2489
cc @pan-

[2016-08-18 14:45] 0xc0170 commented on #2488
cc @bogdanm

[2016-08-18 14:47] 0xc0170 commented on #2484
cc @sg- @iriark01

[2016-08-18 14:59] nuket commented on #2489
Also noticed: with the `anotherPort` codes in place, LED1 will not start blinking until I connect to the `/dev/ttyACM0` development serial port with CoolTerm. The whole system hangs until then.

And after I disconnect from the development serial port, the board will hang again.

[2016-08-18 15:08] bogdanm commented on #2488
Can you please add instructions to reproduce this?

[2016-08-18 15:14] markus-becker-tridonic-com commented on #2488
Adding e.g. to targets.json
[code]

does not seem to have the extra_labels from NUCLEO_F401RE, but only OUR_F4_TARGET.

For the macros we inherit further:
[code]
then MBED_CONF_TRIDONIC_LED_GREEN is gone.

[2016-08-18 15:40] markus-becker-tridonic-com commented on #2335
@javier-moreno-tridonic-com this works for us.

[2016-08-18 15:50] geky opened #2490 "Avoid combinatorial explosion in callback overloads"
From the discussion here: https://github.com/ARMmbed/mbed-os/pull/2395

The combination of cv-qualifiers with callback overloads results in a large number of overloads to match all possible types that could be passed to the Callback class.

This isn't a big problem for `void (*)(cv T *)` function types, but for `void (T::*)() cv` types, the method in which cv-qualifiers are associated prevents enc

[2016-08-18 15:54] markus-becker-tridonic-com opened #2491 "mbed-os Codestyle"
Is there a description or uncrustify config of the codestyle used for mbedOS?

@MarceloSalazar

[2016-08-18 16:12] theotherjimmy commented on #2486
I was able to reproduce this issue. I'm debugging it now.

[2016-08-18 16:22] theotherjimmy commented on #2486
I was able to fix the problem. PR coming.

[2016-08-18 16:27] theotherjimmy commented on #2486
I think there is another issue related to the printing of only the subtotals. I'll look into that too.

[2016-08-18 16:33] jupe commented on #2486
good found 👍

[2016-08-18 16:40] pythontech opened #2493 "TCPSocket send() in one thread blocked by recv() in another"
When one thread is blocked in a recv() call on a TCPSocket, a send() call to the same socket in another thread appears to block until the recv() succeeds.

I have created a [test program](https://developer.mbed.org/users/infinnovation/code/sendrecv/) which demonstrates this.  The synopsis is:

- Create a TCPServer instance and accept() a TCPSocket connection.
- Spawn a thread which loops doing a r

[2016-08-18 18:27] theotherjimmy commented on #2486
memap printing issue: https://github.com/ARMmbed/mbed-os/pull/2494

[2016-08-18 19:06] theotherjimmy commented on #2460
From a performance perspective, this is not going to make any difference. This is actually a bit difficult, as there is no cross platform which/where and the errors returned on multiple platforms are very different.

[2016-08-18 19:57] sarahmarshy commented on #2460
@0xc0170 we can do this within mbed:

https://github.com/ARMmbed/mbed-os/pull/2418

[2016-08-18 20:07] theotherjimmy commented on #2460
This is after an export, so that PR is irrelevant.

[2016-08-18 21:14] #2335 closed

[2016-08-18 21:39] #2460 closed

[2016-08-18 23:52] geky commented on #2426
Thanks for raising the issue, unfortunately socket operations are currently disallowed from the `Socket::attach` function. Much like the existing attach functions in the mbed hal, this attach function may be in an interrupt context. This prevents long-running functions (including the mutexes used to synchronize the socket interface).

I posted an in depth explanation of the issue and available wor

[2016-08-18 23:53] geky commented on #2493
Thanks for raising the issue, unfortunately I believe issue #2426 is unrelated

@c1728p9, is this expected?

[2016-08-18 23:58] geky commented on #2491
Hi @markus-becker-tridonic-com.

The style guide for C++/C code in mbed is documented here:
https://developer.mbed.org/teams/SDK-Development/wiki/mbed-sdk-coding-style

The style of the python tools follows PEP8 conventions:
https://www.python.org/dev/peps/pep-0008/

Unfortunately, the existing codebase is not completely consistent since multiple projects from different coding styles have been pul

[2016-08-19 00:59] ytsuboi commented on #2474
@nuket Could you provide the detail? How this issue biting you?

[2016-08-19 01:03] ytsuboi commented on #2474
https://github.com/ARMmbed/mbed-os/issues/2489

[2016-08-19 05:59] toyowata commented on #2448
@0xc0170

```tools\project.py -m LPC1768 -i lpcxpresso -p 0``` generates correct project file for the LPCXpresso IDE.  I got link errors, and fixed by other PR (see later - Other issues).

```tools\project.py -m LPC1768 -i lpcxpresso -p 0 -b``` it seems generate incorrect files in the project zip.  I got compile errors below:

[code]

It wrongly uses the TOOLCHAIN_ARM rather than TOOLCHAIN_GCC_CR

[2016-08-19 06:40] tommikas commented on #2426
I'm aware that the callback function may run in interrupt context and shouldn't do anything too heavy. In retrospect I could've made it clearer, but step 4 in my original comment happens from thread context, not directly from the callback.

Anyway, just to be clear, it is intended behaviour that the call has to be made twice to clear the pending event? (In non-blocking mode and from thread context

[2016-08-19 07:51] ConorPKeegan commented on #2374
@sarahmarshy that fixed the problem for me, thanks.

[2016-08-19 07:51] #2374 closed

[2016-08-19 07:54] 0xc0170 commented on #2374
@ConorPKeegan However, if you export a project, and the project files are included by default, is a bug that needs fixing. adding ``.mbedignore`` should be done by exporters by default then.  I haven't seen this bug yet with exporters

[2016-08-19 08:06] ConorPKeegan commented on #2374
@0xc0170 It is odd that this only happens to me, I have tried it on multiple examples with the same results.

[2016-08-19 09:29] MarceloSalazar commented on #2483
@simonqhughes please review this

[2016-08-19 09:47] pan- commented on #2480
@geky For the sake of symmetric API it would be better to have a function which call the destructor and reset the pointer. Otherwise, what happen if the `get` is called after the object has been destructed ? Undefined behavior is an option but we can do better.

Other points that worry me with the current implementation:

* How to construct objects with no default constructor ? There should be a w

[2016-08-19 09:59] MarceloSalazar commented on #2311
I understand this is fixed. Please reopen if it's not correct.

[2016-08-19 09:59] #2311 closed

[2016-08-19 10:06] iriark01 commented on #2484
The porting guide for mbed OS 5 is still in progress

[2016-08-19 10:45] #2486 closed

[2016-08-19 11:00] pan- commented on #2490
I think you solve this issue with #2496 by appliying point 3 to the `Callback` class and point 2 for consumer of `Callbacks`.

[2016-08-19 11:58] pan- commented on #2489
@anangl We need your help on this one.

[2016-08-19 13:59] markus-becker-tridonic-com opened #2500 "Allow for tests in application repositories"
In the [mbed-cli documentation](https://github.com/ARMmbed/mbed-cli#compiling-and-running-tests) it is written:

Would it be possible to resolve this limitation? This way we would not need to have a separate repository for tests with code that is duplicated in the actual implementation and in the tests. (Would rather not use .lib files to pull it in.

@MarceloSalazar @daniel-cesarini-tridonic-com

[2016-08-19 14:00] c1728p9 commented on #2493
Nope, you should be able to read and write at the same time.

[2016-08-19 14:02] markus-becker-tridonic-com commented on #2500
When compiling tests, the code in the main directory of the repository could be ignored, or?

[2016-08-19 14:09] 0xc0170 commented on #2500
cc @bridadan @mazimkhan

[2016-08-19 14:15] gaucho1978 commented on #2446
Can you guide me to check the variables responsible for the problem?

the routine that sends the notifications to the tablet is the updateCharacteristicValue that you can find in my code. that routine corresponds to the write() routine in https://github.com/ARMmbed/mbed-os/blob/db60d6a7f72613a53df4a19b3d73849819013680/features/FEATURE_BLE/targets/TARGET_NORDIC/TARGET_MCU_NRF51822/source/nRF5xGattS

[2016-08-19 14:40] pan- commented on #2446
In your code you don't use the connection handle to update the characteristic value, if you use the handle of the connection between the tablet and the NRF51822, this might help.

[code]

[2016-08-19 14:56] gaucho1978 commented on #2446
WOW. IT WORKS!

[2016-08-19 14:57] gaucho1978 commented on #2446
you saved my life. thank you very much! I love you.

[2016-08-19 14:57] #2446 closed

[2016-08-19 15:43] geky commented on #2426
Ah, I think I understand now.

This isn't disallowed behaviour, the attach function is defined to allow spurious callbacks to simplify network stack implementations:

That being said, thanks for pointing this out. We should probably move that flag so the event only triggers once for efficiency reasons.

[2016-08-19 16:36] geky commented on #2480
Would it be ok to reset the pointer without synchronizing against calls to the class? Otherwise the only options for synchronizing I can think of are locking over all calls to the class (__very__ deadlock prone) or some sort of buffered RCU lock (at minimum 2x memory consumption and complex).

+1 for const correctness. Unfortunately class ordering rules will prevent placement in rom while the init

[2016-08-19 16:48] sg- commented on #2485
I don't understand why the stack is compiled to pull in both. Surely there is an entry point into the stack for initializing 6LoWPAN that is different from initializing Thread?

[2016-08-19 17:16] MarceloSalazar commented on #2500
This is a valid use case and should be considered as enhancement in our tools.
@screamerbg @sg-

[2016-08-19 18:13] jupe commented on #2486
@tommikas could you verify that this really works in master now?

[2016-08-19 19:42] theotherjimmy commented on #2459
If you replace the block you mentioned above with:
[code]
and call make with `make DEBUG=1`
You should be able to debug both c and c++

[2016-08-19 19:59] ciarmcom commented on #2500
ARM Internal Ref: IOTMORF-363

[2016-08-19 21:26] c1728p9 commented on #2493
Thanks for the test program @pythontech, with it I was easily able to reproduce your problem and have a fix for it in #2502.

[2016-08-19 21:26] c1728p9 commented on #2493
@mbed-bot: TEST

HOST_OSES=ALL
BUILD_TOOLCHAINS=GCC_ARM
TARGETS=K64F,NRF51_DK,NRF51_MICROBIT,NUCLEO_F411RE

[2016-08-19 21:39] geky commented on #2493
Thanks for lopoking into this @c1728p9!

[2016-08-19 23:43] c1728p9 commented on #2480
I created #2503 which addresses issues 2 and 3 that @0xc0170 mentioned.

[2016-08-20 08:04] infinnovation commented on #2493
Many thanks for the fix.

(I inadvertently posted the issue from a different account, not that it matters)

[2016-08-20 19:53] hasnainvirk commented on #2485
@sg- Nanostack can be compiled with various configurations. The current available binary was compiled with configuration mbedos which contains all possible configurations (router, border router, host for both 6LoWPAN and Thread) so that the application can have freedom of choice.

[2016-08-20 22:06] ohagendorf commented on #2182
please see PR #2504

[2016-08-21 02:54] sg- commented on #2485
If these are compile time configurations it sounds like the stack doesn't lend itself well to being released in binary form. How many configurations are there and why compile time options not just dead code eliminated by the linker when not used?

[2016-08-22 02:58] RdaZhongyao opened #2505 "features/FEATURE_UVISOR/VERSION.txt need to be updated"
From the committing log, @AlessandroA has updated `features/FEATURE_UVISOR/` to "v0.20.0-alpha" at least, but the `features/FEATURE_UVISOR/VERSION.txt` is still "v0.9.22-alpha".

[2016-08-22 06:44] kjbracey-arm commented on #2485
We've been making some effort to push in that direction - we don't particularly want to have multiple configurations - but it's not that straightforward.

Partly because it's a network stack. A large amount of code and complexity in code is triggered by network activity. A lot of the "entry points" come from packet reception - there aren't that many code entry points by comparison. And if "feature

[2016-08-22 07:57] tommikas commented on #2426
It's a pretty minor thing though.

I was also thinking that arguably the application should be making the call until it returns NSAPI_ERROR_WOULD_BLOCK either way, in case multiple packets were received while the 'event pending" flag was up.
As it currently works sort of enforces that. Whether it should or not is a different matter...

[2016-08-22 08:13] 0xc0170 opened #2506 "Exporters - SWSTEM32 fpu problem"
Reported here : https://developer.mbed.org/questions/73309/mbed-os-basic-example-compile-error/#answer10867

Seems that fpu is not correctly set for exported project, a resolution provided by Graham Sayers.

@bcostm @adustm @LMESTM

[2016-08-22 08:20] bogdanm commented on #2485
That can be done with some effort, yes, even though it'd make the tree structure even more confusing than it already is. I'm a huge fan of **not** using the config system to select build components, but if the current TARGET_xxxx mechanism is not enough, I don't think there's a better way to do it, sadly.

[2016-08-22 08:40] kjbracey-arm commented on #2485
This approach is kind of specific to needing configuration from binary builds. It's the best approach I can think of in this system. Using "TARGET" would seem like abuse. Maybe it could be done as a FEATURE? FEATURE_NANOSTACK_XXX? Feels wrong though, as surely features should be additive, not a single choice. I guess if it's documented as "enable only one"?

We have to reduce configuration choice

[2016-08-22 09:33] andcor02 opened #2507 "Export to GCC @ Online Compiler"
Received a few flags from users that the exporting of programs from the web and online compiler are not possible when choosing to export to GCC(ARM Embedded). I have also replicated the problem.

In summary the issue seems to be:

- Cannot export to GCC using web or online compiler (All other IDEs operational)
- Seems to only effect mbed-os and its libraries (working with mbed 2.0)
- Irrespective

[2016-08-22 11:02] adbridge opened #2508 "Utest: Default copy constructor for "struct failure_t" doesn't work as expected"
### Description
- Type: Bug
- Priority: Major
In utest_types.h the struct failure_t has multiple overloaded constructors but no copy constructor. When variables of this type are being passed by value , one or more of the internal fields is getting an incorrect value. This points to an issue with the compiler default copy constructor introducing unexpected side effects. The fix for this issue someh

[2016-08-22 13:24] bogdanm opened #2511 "Unable to use "mbed test" with option "-n""
I'm trying to run this command on mbed-os 862db41be3159b31fea590c2a4e58acd1c675a9f:

[code]

The test compiles, but I get this error for running (observe the `mbedhtrun-script.py: error: no such option: -t` part):

[code]

OS: Windows 7

Python module versions (latest modules available in `pip` at the time of writing this):

mbed-cli (0.9.1)
mbed-greentea (1.2.0)
mbed-host-tests (1.1.0)
mbed-ls (1

[2016-08-22 13:24] bogdanm commented on #2511
@bridadan @mazimkhan

[2016-08-22 14:05] bogdanm commented on #2511
Very strangely, I got rid of this error by removing and reinstalling `mbed-host-tests` on my machine.

[2016-08-22 14:05] #2511 closed

[2016-08-22 15:14] maclobdell opened #2512 "[exporter] Export to KDS results in project file with no references to source"
Kinetis Design Studio v3.2
mbed-os-example-blinky at 'mbed-os-5.1.2' release tag.  No local changes.

C:\files\mbed-os-example-blinky> **mbed export -i KDS -m K64F**
Scan: lib
Scan: src
Scan: .
Scan: FEATURE_BLE
Scan: FEATURE_CLIENT
Scan: FEATURE_COMMON_PAL
Scan: FEATURE_UVISOR
Scan: FEATURE_IPV4
Scan: FEATURE_IPV6
Scan: FEATURE_STORAGE

Successful:
  * K64F::kds   .\projectfiles\kds_K64F\Unnamed_

[2016-08-22 16:02] struempelix commented on #2012
I'm using mbed-cli with imported mbed 2 projects, NRF51_DK target and the most recent GCC_ARM 5.3 compiler. Printf with float formatting is not working. I tried manually adding "-WL,-u,_printf_float" flag to gcc.py and alternatively adding the NRF51 target to the if statement mentioned in the issue above. But none of these changes made printf working with float support. Is there any hack availalbl

[2016-08-22 16:48] sg- commented on #2485
What are the build options suggested to be exposed? 6LoWPAN (non-routing) and Thread (routing)?

[2016-08-22 17:18] maansaari commented on #2485
If we think build options from our customer point of view at least followings are in frequent use:
6LoWPAN node (routing) +  Border Router
Thread router node + minimal node(no routing)+ Border Router

[2016-08-22 17:24] geky commented on #2435
Hi @tommikas, thanks for reporting this issue. It looks like this has been fixed by the unrelated pr from @c1728p9: https://github.com/ARMmbed/mbed-os/pull/2502

Let us know if the problem still persists : )

[2016-08-22 17:41] sg- commented on #2485
So that is 5 configurations (features) for 3 compilers so 15 binary releases??

[2016-08-22 17:53] jupe commented on #2485
there is a lot of more configuration available but those are probably most used configurations.. @maansaari: should there be also non routing 6lwp node as well?

[2016-08-22 19:49] infinnovation opened #2515 "Serial putc() in one thread blocked by getc() in another"
In an [example program](https://developer.mbed.org/users/infinnovation/code/putc_getc/), one thread sends output on the USB serial console, while another thread loops getting characters from the same Serial instance.  While the getc() is waiting for input, any output from the sender thread is blocked.

To my mind, this seems wrong: the send and receive halves of a serial link should be independent

[2016-08-23 03:59] ciarmcom commented on #2480
ARM Internal Ref: IOTMORF-419

[2016-08-23 04:48] sg- commented on #2515
getc() is blocking by default https://developer.mbed.org/forum/mbed/topic/170/
There is a readable() member and some good pointers in that forum post and other linked in it.

How do you suggest the stream implementation for this works?

[2016-08-23 07:20] kjbracey-arm commented on #2485
No, 1 binary release, containing 16 binaries, for mbed OS 3 (2 toolchains x 8 configs). It doesn't make sense to say "15 releases". We're just hitting one build button. And hence giving binary users access to 8 of the available configs they could get via the source release.

https://github.com/ARMmbed/sal-stack-nanostack/tree/master/source/TOOLCHAIN_YOTTA/armcc

* Generic
* 6LowPAN-ND border route

[2016-08-23 07:27] infinnovation commented on #2515
Thanks for the links.

You're right, I can use readable() (modulo #1987), for example:
[code]

Nevertheless, it seems odd that replacing `pc.printf(...)` with `printf(...)` changes behaviour, since the underlying output device is the same.

While it makes sense that one output method should lock out other output methods, and one input method should lock out other input methods, I don't see why inp

[2016-08-23 12:05] #2426 closed

[2016-08-23 12:08] #2438 closed

[2016-08-23 12:12] tommikas commented on #2449
http://jira.arm.com/browse/IOTSFW-2867

[2016-08-23 12:12] tommikas commented on #2445
http://jira.arm.com/browse/IOTSFW-2866

[2016-08-23 12:13] tommikas commented on #2437
http://jira.arm.com/browse/IOTSFW-2865

[2016-08-23 12:13] tommikas commented on #2435
http://jira.arm.com/browse/IOTSFW-2864

[2016-08-23 12:13] tommikas commented on #2424
http://jira.arm.com/browse/IOTSFW-2863

[2016-08-23 12:14] tommikas commented on #2421
http://jira.arm.com/browse/IOTSFW-2862

[2016-08-23 12:14] tommikas commented on #2420
http://jira.arm.com/browse/IOTSFW-2861

[2016-08-23 12:19] MarceloSalazar commented on #2488
@bogdanm are you able to reproduce?

[2016-08-23 12:23] #2491 closed

[2016-08-23 13:08] bulislaw opened #2519 "NUCLEO_F091RC: tests-mbed_hal-lp_ticker and tests-mbed_drivers-lp_timeout failing"
New test for HAL lp_ticker API and LowPowerTimeout are failing for NUCLEO_F091RC. The IRQ handler for RTC, which backs the implementation on this platform, never fires.

[code]

[code]

[2016-08-23 13:55] struempelix commented on #2012
I finally appended `["-Wl,-u,_printf_float"]` to the link method of class GCC and it is working as expected. Would be nice to have this on / off configurable as a command line parameter (I think there's an issue open on this already). Code size increase is huge -  27kB! The resulting hex is still smaller than the hex from the online IDE.

[2016-08-23 14:21] tommikas opened #2523 "TCPServer::accept() hardfaults if maximum number of sockets open"
1. Open 4 sockets, at least one of which is a TCPServer type socket
2. bind the server socket and set it to listen
3. call `accept()` on the TCPServer socket

[2016-08-23 14:41] jeromecoutant opened #2524 "Why GCC code has increased so much?"
Hi

As example, here is MBED_37 test compiled with GCC_ARM:

MBED release 122: Total Flash memory (text + data + misc): 21053 bytes
MBED release 124: Total Flash memory (text + data + misc): 66559 bytes

Needed flash size has increased by 3!
And this test is now failed for 64KB flash targets...

Regards

Jerome

[2016-08-23 14:50] nvlsianpu commented on #2489
Unfortunately NRF5x_DK targets have serial port configured to use flow control - think a good idea is to providing configuration over mbed config system for flow control.(as was mentioned in this conversation https://github.com/ARMmbed/mbed-os/pull/2482). I will try to resolve this issue.

[2016-08-23 15:01] bulislaw opened #2525 "ARM_BEETLE_SOC: lp_ticker implementation broken"
New tests are failing for Beetle board: tests-mbed_drivers-lp_timeout and tests-mbed_hal-lp_ticker. I spent quite a bit of time investigating this issue, but didn't get too far. pyOCD is unable to attach a breakpoint while debugging and printing info on serial introduces too much overhead for it to be reliable.
It seems that the board can handle 1 timeout very well (tested up to 30s), but when the

[2016-08-23 16:54] sg- commented on #2485
Can you help me better understand the need for all these configurations? If the aim is to decrease the binary size, what is the expected target size for each configuration. I get the feeling there will be lots of overlap where a handful of different configurations don't have a meaningful size difference warranting a configuration for release in binary form. TLDR: I think that list can be consolida

[2016-08-23 17:26] sg- commented on #2524
Which target in particular? I'm gonna guess it has to do with the change from using newlib-nano to  newlib for thread-safety.

[2016-08-23 17:27] sg- commented on #2523
Can you provide a code snippet? This will help increase the time it takes reproduce and fix.

[2016-08-23 17:38] sg- commented on #2507
Thanks for the report. Exporters are being refactored right now and we hope to have these issues corrected soon.

[2016-08-23 17:40] sg- commented on #2505
@AlessandroA can you comment here?

[2016-08-23 20:00] ciarmcom commented on #2512
ARM Internal Ref: IOTMORF-420

[2016-08-23 20:00] ciarmcom commented on #2508
ARM Internal Ref: IOTMORF-421

[2016-08-23 20:00] ciarmcom commented on #2507
ARM Internal Ref: IOTMORF-422

[2016-08-23 20:00] ciarmcom commented on #2493
ARM Internal Ref: IOTMORF-423

[2016-08-23 20:00] ciarmcom commented on #2490
ARM Internal Ref: IOTMORF-424

[2016-08-23 20:00] ciarmcom commented on #2488
ARM Internal Ref: IOTMORF-425

[2016-08-24 06:30] jeromecoutant commented on #2524
I think it is for all target.
Given value is for a STM32F0 target, but here is code size with K64F:
Total Flash memory (text + data + misc): 63434 bytes

[2016-08-24 08:19] hasnainvirk commented on #2485
@sg- I think you should review Kevin's previous comments. The basic point here is that "We need a mechanism to choose a particular configuration from our binaries". For refrence, please check the comments above or check how it was build in mbedOS-3. I think it would really help if you can setup a short skype call with Kevin and me.

[2016-08-24 08:27] kjbracey-arm commented on #2485
I'd just say that the final number of configurations is not going to be 1, even if we did consolidate. So we need the mechanism.

Looking at that list, Thread test harness seems to be redundant, and conceivably there's no huge difference between Thread router and border router. But all the other configs are pretty distinct, so I don't see it being less than 6.

The two different "end device" forms

[2016-08-24 09:00] tommikas commented on #2523
I would hope it'd have the opposite effect ;)

Anyway, I hacked mbed-os-example-blinky a bit: https://gist.github.com/tommikas/870cc1a7f50bbf0643d7bc47e6cf5392
(The same result could be achieved by the example in the issue that referenced this one.)

[2016-08-24 09:21] #2524 closed

[2016-08-24 09:24] AlessandroA opened #2533 "[tools] mbed new should fetch the latest stable release, by default"
At the moment if I run

[code]

the tool fetches the HEAD of ARMmbed/mbed-os master, which is prone to bugs and instabilities.

A sensible default would be to fetch the latest stable release/tag.

See for example: https://github.com/ARMmbed/uvisor/issues/312.

@sg- @0xc0170 @bogdanm

[2016-08-24 09:38] nuket commented on #2489
Yes, this would be a very good thing to make configurable.

It is, in my mind at least, a pretty insane thing to have an infinite while() loop in the HAL code halt my program because of debug statements, and the current behavior definitely does not follow the [path of least surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment).

[2016-08-24 09:40] nvlsianpu commented on #2489
https://github.com/ARMmbed/mbed-os/pull/2535

[2016-08-24 09:47] nuket commented on #2489
Thanks for working on this!

[2016-08-24 10:43] jupe commented on #2524
@jeromecoutant did you accidentally close this issue or what was the conclusion?

[2016-08-24 10:44] tommikas opened #2537 "FEATURE_BLE always gets linked in when compiling for NRF51_DK"
Using mbed-os-example-blinky as an example, compiling with `mbed compile -t GCC_ARM -m NRF51_DK -c`

[code]

Then add `mbed-os/features/FEATURE_BLE` into .mbedignore and compile again:

[code]

The application doesn't use any of the feature, but it's getting linked in anyway. Should this be happening?

[2016-08-24 10:52] tommikas commented on #2537
http://jira.arm.com/browse/IOTSFW-2870

[2016-08-24 13:21] jeromecoutant commented on #2524
Hi
This memory size diffference is due to the build option small or standard.

[2016-08-24 14:13] 0xc0170 commented on #2524
@jeromecoutant Please always provide a reason when closing an issue.

[2016-08-24 17:47] sg- commented on #2533
Can you file this against mbed CLI? We'll be using a floating tag named ```lastet``` which should be fetched in this case. Thanks for the poke.

[2016-08-24 19:09] AlessandroA commented on #2533
Closing in favor of https://github.com/ARMmbed/mbed-cli/issues/330

[2016-08-24 19:09] #2533 closed

[2016-08-24 20:00] ciarmcom commented on #2411
ARM Internal Ref: IOTMORF-426

[2016-08-24 23:59] ciarmcom commented on #2523
ARM Internal Ref: IOTMORF-427

[2016-08-25 07:41] 0xc0170 commented on #2537
cc @pan-

[2016-08-25 07:41] 0xc0170 commented on #2525
cc @fvincenzo

[2016-08-25 07:41] 0xc0170 commented on #2519
cc @bcostm @adustm @LMESTM

[2016-08-25 08:06] 0xc0170 commented on #1177
@mfiore02 Is this still relevant?

[2016-08-25 12:48] mfiore02 commented on #1177
@0xc0170 I will retest against the latest 5.x revision and get back to you.

[2016-08-25 14:27] #2505 closed

[2016-08-25 14:31] mfiore02 commented on #1177
@0xc0170 Export seemed OK. The build failed miserably, however.

mbed-os-5.1.0-164-gf3d652b

*** Using Compiler 'V5.05 update 2 (build 169)', folder: 'C:\Keil_v5\ARM\ARMCC\Bin'
Rebuild target 'Unnamed_Project'
compiling test_env.cpp...
../../mbed-os/rtos/rtos/Thread.h(61): error:  #1209: invalid argument to attribute "deprecated"
../../mbed-os/rtos/rtos/Thread.h(86): error:  #1209: invalid argumen

[2016-08-25 14:55] 0xc0170 commented on #1177
I suspect thats because of old armcc. The newer one  (not certain now the exact version) does compile ok

[2016-08-25 15:09] mfiore02 commented on #1177
Ok, I'll close the issue then.

[2016-08-25 15:09] #1177 closed

[2016-08-25 15:11] c1728p9 commented on #2480
Thanks for the ideas @pan-. My response to your questions is below. I also created #2546 to implement these.

Construction / Destruction - Ideally I would like SingletonPtr to behave the same as a global class, just one which is used lazily. This means initialized on first use and destroyed program exit but only if initialized. Since calling destructors on program exit is undefined behavior and mb

[2016-08-25 15:15] geky commented on #2523
Thanks for reporting this, that is an interesting corner case but should be easy to fail gracefully (returning `NSAPI_ERROR_NO_SOCKETS`)

[2016-08-25 15:55] AlessandroA commented on #2397
@bridadan Sorry I missed your questions.

I am seeing this (mbed-cli v0.9.1):

[code]

[2016-08-25 16:32] bridadan commented on #2480
@c1728p9 I will say if I had the option to return a reference, it would definitely help in some cases in refactoring `utest` to increase linker-code-removal-friendliness. I found this page describing lazily initialized singletons that can return a reference, not sure if it helps at all: http://www.devarticles.com/c/a/Cplusplus/C-plus-plus-In-Theory-The-Singleton-Pattern-Part-I/4/

[2016-08-25 16:37] bridadan commented on #2397
@AlessandroA ah dang. I found the line of code that's issuing this error: https://github.com/ARMmbed/mbed-os/blob/master/tools/config.py#L456

So it looks like we intentionally don't allow setting `extra_labels` in libraries. If you need to use this option then you may have to duplicate the app config :/

[2016-08-25 23:09] sg- commented on #2483
The high level design aims to chunk kv pairs where the required RAM << NV STORAGE. The current implementation does not meet the aspirations of the high level design.

I'd suggest this issue gets filed against https://github.com/ARMmbed/configuration-store/issues

[2016-08-25 23:12] sg- commented on #2475
#2442 has been merged. This can be enabled by using ```-D MBED_HEAP_STATS_ENABLED``` macro at compile time

[2016-08-25 23:17] sg- commented on #2474
Can you confirm is #2535 resolved this issue?

[2016-08-25 23:19] sg- commented on #2470
Can you provide a test case in the form of a program we can work against?

[2016-08-25 23:20] sg- commented on #2469
Can you provide a test case in the form of a program we can work against?

[2016-08-25 23:21] #2467 closed

[2016-08-25 23:22] sg- commented on #2459
@MarceloSalazar Any feedback about the requested ```-g``` addition?

[2016-08-25 23:36] sg- commented on #2424
Please file these issues with a test case or example program or code snippet to reproduce.

[2016-08-25 23:37] sg- commented on #2435
Please file these issues with a test case or example program or code snippet to reproduce.

Can you confirm if #2502 resolved this issue?

[2016-08-25 23:50] ciarmcom commented on #2484
ARM Internal Ref: IOTMORF-437

[2016-08-25 23:51] ciarmcom commented on #2454
ARM Internal Ref: IOTMORF-438

[2016-08-25 23:51] ciarmcom commented on #2448
ARM Internal Ref: IOTMORF-439

[2016-08-25 23:51] ciarmcom commented on #2445
ARM Internal Ref: IOTMORF-440

[2016-08-25 23:51] ciarmcom commented on #2437
ARM Internal Ref: IOTMORF-441

[2016-08-25 23:51] ciarmcom commented on #2435
ARM Internal Ref: IOTMORF-442

[2016-08-25 23:51] ciarmcom commented on #2424
ARM Internal Ref: IOTMORF-443

[2016-08-25 23:51] ciarmcom commented on #2421
ARM Internal Ref: IOTMORF-444

[2016-08-25 23:54] sg- commented on #2420
This needs to be defined as the minimum guaranteed number of sockets per interface and documented.

[2016-08-25 23:56] sg- commented on #2408
@kudangun does #2440 solve this? Please file these issues with a test case or example program or code snippet to reproduce.

[2016-08-25 23:59] sg- commented on #2399
@tommikas @infinnovation This should be resolved.

[2016-08-25 23:59] #2399 closed

[2016-08-26 00:00] sg- commented on #2396
Should be resolved.

[2016-08-26 00:00] #2396 closed

[2016-08-26 00:01] sg- commented on #2388
Please use ```"target.features_add": ["IPV6", "CLIENT", "IPV4", "COMMON_PAL"]```

[2016-08-26 00:01] #2388 closed

[2016-08-26 00:03] sg- commented on #2385
should be resolved with latest mbed-os-example-uvisor

[2016-08-26 00:03] #2385 closed

[2016-08-26 00:17] aamcampbell commented on #2469
Sure:

- Create a basic yotta mbed project for the FRDM-K64F (e.g. https://docs.mbed.com/docs/getting-started-mbed-os/en/latest/FirstProjectmbedOS/).
- Use this as your source file:

[code]

I wasn't able to make fread() hard fault without loading a filesystem, so I'll leave that for later.

The harder part, if you aren't familiar with it, is debugging the program. I used Kinetis Design Studio for

[2016-08-26 01:18] aamcampbell commented on #2470
Sure! Reliance Edge is the only filesystem that I know officially supports mbed OS 3, and it's proprietary; so I figured out how to do it with mbed 5 CLI instead. The issue appears there as well.

Here

- Install mbed CLI.
- Run these commands to download an SD card example program. (Update mbed to avoid #1754.)

[code]

- Open SDFileSystem_HelloWorld/main.cpp.
- Change lines 5-6 to the following:

[2016-08-26 01:55] geky commented on #2411
The client has had conflicting header files removed for a while, but it unfortunately took a while to move into mainstream mbed-os.

I'm unfamiliar with the rf driver and it my have been removed in a previous change. Do the includes still present issues?

[2016-08-26 03:50] ciarmcom commented on #2439
ARM Internal Ref: IOTMORF-445

[2016-08-26 03:51] ciarmcom commented on #2420
ARM Internal Ref: IOTMORF-446

[2016-08-26 03:51] ciarmcom commented on #2383
ARM Internal Ref: IOTMORF-447

[2016-08-26 03:51] ciarmcom commented on #2369
ARM Internal Ref: IOTMORF-448

[2016-08-26 03:51] ciarmcom commented on #2360
ARM Internal Ref: IOTMORF-449

[2016-08-26 05:13] javier-moreno-tridonic-com commented on #2475
Well my question/requests was more in the line of what is being disscussed in https://github.com/ARMmbed/mbed-os/pull/2487

In there a time frame for this PR?

[2016-08-26 06:28] javier-moreno-tridonic-com commented on #2411
I tried a fresh checkout of **mbed-os-example-client** and v5.0.5 of **sal-stack-nanostack-private**

Builds, but linking fails.

../.build/NUCLEO_F401RE/GCC_ARM/hal/common/retarget.o: In function `__wrap_main':
retarget.cpp:(.text.__wrap_main+0xe): undefined reference to `main'
collect2.exe: error: ld returned 1 exit status
[ERROR] ../.build/NUCLEO_F401RE/GCC_ARM/hal/common/retarget.o: In functio

[2016-08-26 06:40] hasnainvirk commented on #2411
@geky The issue is still valid. The problem does not arise if you are using Nanostack binaries with public release. However, if you are using sources file name conflict will arise in Windows OS. Because Windows is case insensitive. Javier explained it very well above.

[2016-08-26 10:08] tommikas commented on #2523
That sounds like a more reasonable way to handle it.

[2016-08-26 10:48] infinnovation opened #2553 "TCPSocket stream stops sending/receiving after a while"
A [test program](https://developer.mbed.org/users/infinnovation/code/socket-test/) implements a simple TCP echo server: after accepting a connection, it repeatedly reads a chunk of data then sends it back on the same socket.  For each chunk received or sent, it outputs a character to the serial console.  Additionally, a thread prints a message every second (so I can verify that the board is still

[2016-08-26 10:52] sg- commented on #2475
Any day now. @bogdanm is out for a few days but I think @0xc0170 will rebase and get this ready for merge.

[2016-08-26 10:52] #2475 closed

[2016-08-26 10:58] sg- commented on #2411
This shouldn't be the case. mbed.h (rtos.h included by mbed.h) is the entry point and should use path referenced includes. If this is not the case, please open an issue for that. Its not clear here what you're saying the problem is.

[2016-08-26 11:21] sg- commented on #2290
There will be docs and a path for this part of the mbed OS 5.2 release

[2016-08-26 11:36] infinnovation opened #2554 "TCPSocket connection close by remote end reported as device error"
Using a [test program](https://developer.mbed.org/users/infinnovation/code/socket-test/) (an echo server), I connect from a Linux PC and send a stream of data:
[code]
and then kill the nc process with a Ctrl-C

The board gets an error code -3011 NSAPI_ERROR_DEVICE_ERROR "failure interfacing with the network procesor" (sic).  This can come either from the recv() call or from the send() call - I gue

[2016-08-26 11:52] ciarmcom commented on #2290
ARM Internal Ref: IOTMORF-450

[2016-08-26 12:04] infinnovation commented on #2554
The underlying error in the lwip library is ERR_RST

[2016-08-26 13:13] hasnainvirk commented on #2411
@kjbracey-arm Can you please explain here what we saw while compiling with Nanostack sources ?
I tried to explain inthis comment https://github.com/ARMmbed/mbed-os/issues/2411#issuecomment-242642831 what I understood. If you have a better explanantion, please provide.

[2016-08-26 13:48] ytsuboi commented on #2474
PR made https://github.com/ARMmbed/mbed-os/pull/2555

[2016-08-26 14:55] MarceloSalazar commented on #2459
Sorry for late response.
I confirm the changes suggested by @theotherjimmy work and I'm able to debug the main (cpp) app.
It would be great if these could be added to the default generated Makefile.

[2016-08-26 14:57] sg- commented on #2454
Should be solved with #2455.

Multiple object and single hardware instance is by design. That can be separately tracked as an enhancement.

[2016-08-26 14:57] #2454 closed

[2016-08-26 15:04] geky commented on #2554
Thanks for reporting this, looks like it was just a short-sight in handing lwip's error codes:
https://github.com/ARMmbed/mbed-os/blob/master/features/net/FEATURE_IPV4/lwip-interface/lwip_stack.c#L213

[2016-08-26 15:06] geky commented on #2553
Thanks for reporting the issue and the good test case. This will need some looking into.

[2016-08-26 15:18] geky commented on #1275
I believe we can close this issue since the function has been refactored in the new network-socket API. Let us know if this is still a concern.

@sg-?

[2016-08-26 15:35] sg- commented on #2411
@javier-moreno-tridonic-com it sounds like the main function is missing. The original issue is confirmed to be resolved. If there is a different issue, please open it with steps to reproduce.

[2016-08-26 15:35] #2411 closed

[2016-08-26 15:37] geky commented on #2493
Now that https://github.com/ARMmbed/mbed-os/pull/2502 is merged, I believe this issue is fixed. Let us know if that's not the case.

[2016-08-26 16:26] #1275 closed

[2016-08-26 16:29] theotherjimmy commented on #2459
Awesome. That's a quick change. I'll get a PR in soon.

[2016-08-26 18:10] #2360 closed

[2016-08-26 19:22] c1728p9 commented on #2480
Is there any consensus on name? Should this be renamed to ``LazyInstance``? Sounds like @0xc0170 and @geky are for this. @sg-, @pan-  what are your thoughts. Let me know and I'll update it.

[2016-08-26 19:43] sg- commented on #2369
Should be fixed with #2497

[2016-08-26 19:43] #2369 closed

[2016-08-26 19:48] sherrellbc opened #2560 "LWIP disables MPU during initialization and breaks uVisor"
`MPU->CESR &= ~MPU_CESR_VLD_MASK;`

https://github.com/ARMmbed/mbed-os/blob/master/features/net/FEATURE_IPV4/lwip-interface/lwip-eth/arch/TARGET_Freescale/hardware_init_MK64F12.c#L41

The MPU appears to be a protected memory region that cannot be accessed by unprivileged code. Access to this region results in a halt with uVisor.

My original post was over at uVisor as I originally thought it was a

[2016-08-26 20:06] sg- commented on #2480
I didn't think SingletonPtr was that bad. Its returns a pointer to a singleton.

[2016-08-26 20:10] geky commented on #2421
This should be fixed on https://github.com/ARMmbed/mbed-os/pull/2561, let me know if there's stlil and issue

[2016-08-26 20:20] geky commented on #2480
Though not a pointer to a singleton of a class, and the class itself isn't really a pointer since it contains the object and should never be copied.

I like `LazyInstance`, it describes what the class does, which is to instantiate an object lazily.

[2016-08-26 20:25] geky commented on #2445
This should be taken care of in https://github.com/ARMmbed/mbed-os/pull/2561, let me know if it's still an issue.

[2016-08-26 20:33] geky commented on #2439
#2561 changes the behaviour to return `NSAPI_ERROR_PARAMETER` to indicate that connecting an already connected network interface is invalid.

Allowing the network to be reconnected multiple times is not a robust solution to the library writer's problem, since it doesn't consider other types of network interfaces, such as WiFi for cellular, where connecting for the user removes control of the inter

[2016-08-26 20:36] sg- commented on #2480
Should a singleton ever be copied?

The class overrides the dereference operator so semantically acts like pointer to an object?

I dont care that much, just pick something, document it and go with it. If there is precedent in other frameworks of the same language, follow suit.

[2016-08-26 22:03] #2493 closed

[2016-08-26 22:08] sg- commented on #2480
Ok - decision made. We have better things to do than rename things that arent that bad. I'll call bikeshed and close this out.

[2016-08-26 22:08] #2480 closed

[2016-08-27 09:18] Testato commented on #2484
+1

[2016-08-27 19:21] maclobdell opened #2565 "incompatible redefinition of macro "UNITY_INCLUDE_CONFIG_H""
from a fresh import of this example
release tag mbed-os-5.1.2

there are hundreds of warnings for:

This issue was found while testing ARMmbed/mbed-os-example-client
copy of: https://github.com/ARMmbed/mbed-os-example-client/issues/77

[Warning] mbed_config.h@29,0: #47-D: incompatible redefinition of macro "UNITY_INCLUDE_CONFIG_H" (declared at line 28)

in mbed_config.h, multiple defines are gener

[2016-08-29 08:29] SeppoTakalo commented on #1947
See: https://github.com/ARMmbed/mbed-os/blob/master/docs/ignoring_files_from_build.md#syntax Rule 2.

`.mbedignore` does not use globbing. Assumption here is not correct therefore the reported issue is not valid.
If we would like it to use globbing, it is a new feature request.

[2016-08-29 09:43] janjongboom opened #2567 "mbed TLS example does not run on K64F, RTX error code"
We have the following program http://developer.mbed.org/teams/mbed-os-examples/code/mbed-os-example-tls-tls-client/ that uses mbed TLS to connect to an HTTPS server.

On Twitter we received the [following message](https://twitter.com/_rac01/status/769582150115069952?cn=cmV0d2VldF9tZW50aW9uZWRfdXNlcg%3D%3D&refsrc=email) showing this error:

![image from twitters](https://pbs.twimg.com/media/Cq4ai1f

[2016-08-29 09:54] tommikas commented on #2565
I think this might be the same problem as in #2486, which was fixed in master in #2492 and #2494.

[2016-08-29 10:50] tommikas opened #2569 "FEATURE_CLIENT compilation fails"
[code]

Since https://github.com/ARMmbed/mbed-os/pull/2527 was merged in, because of https://github.com/ARMmbed/mbed-os/pull/2527/files#diff-d62a3ea84a2a42fc1bf16f8fa83b4725L30

[2016-08-29 11:22] yogpan01 commented on #2569
This is because of 2 merges which missed the include header file.
There needs new PR from mbed-client-classic to resolve this issue. I will create a new PR now to get this resolved.

[2016-08-29 13:42] c1728p9 commented on #2567
Hi @janjongboom ``RTX error code: 0x00000001, task ID: 0x2000F184`` indicates a stack overflow occurred. The assert indicates that something turned on interrupts while in a critical section. I'll try to reproduce this today if I get time.

[2016-08-29 14:31] theotherjimmy opened #2573 "Config system does not correctly handle empty mbed_*.json files"
An issue was raised on mbed-cli [here](https://github.com/ARMmbed/mbed-cli/issues/322)

[2016-08-29 14:41] theotherjimmy commented on #2573
Important info from that discussion:
[code]

[2016-08-29 14:52] Mohamedsaleh14 opened #2574 "Scope of HAL layer"
There's no document describes the scope of HAL layer, I need to find documentation where I can find the range of input parameters,  the expected behavior of the function, what's the Common layer expecting HAL layer to do exactly and it's scope of functionality?

In other word, I need HLD(High level design), mHLD (module high level design) mapped to SRS that describe the static and dynamic behavior

[2016-08-29 14:56] sherrellbc commented on #2574
This guide may help.

https://docs.mbed.com/docs/uvisor-and-uvisor-lib-documentation/en/latest/Porting/

[2016-08-29 15:03] Mohamedsaleh14 commented on #2574
Thank you sherrellbc ,, I am searching for complete design documentation, If you followed the implementation of HAL layer of many targets provided by mbed, you'll find major differences in implementation, which emphasize different behavior of mbed with different targets, And that's not what I expect. There should be software requirements I can use, to be able to design my application according to,

[2016-08-29 15:56] c1728p9 commented on #2567
I can reproduce this locally, and it is for sure a stack overflow. It also looks like the crtitical section counter is getting clobbered by this stack overflow, which occasionally leads to the failed assert you see. I opened an issue to track this.

[2016-08-29 16:02] sg- commented on #1947
Thanks @SeppoTakalo

[2016-08-29 16:02] #1947 closed

[2016-08-29 20:29] Testato commented on #2507
I confirm this issue
(Win10 - Nucleo F 103RB)

[2016-08-29 20:31] theotherjimmy commented on #2507
@Testato Thanks for reproducing the issue on your end. We're working on it!

[2016-08-29 21:56] geky commented on #2560
Thanks for reporting this issue. I went ahead and continued the discussion on https://github.com/ARMmbed/uvisor/issues/315 to keep the progress on the issue consolidated.

[2016-08-29 22:12] geky commented on #2408
Unfortunately, this is just how the BSD sockets operate, in order to avoid problems with delayed TCP packets that could corrupt unrelated connections.

In BSD socket terminology, you are reusing a socket address (ip address + port) that a previous server ran on in the lifetime of the system, even if the previous server had been shut down.

If you want to respond to multiple connections, you should

[2016-08-29 22:43] geky commented on #2523
#2579 should resolve this problem as suggested. Let us know if there is still an issue.

[2016-08-29 23:33] geky commented on #2424
Looking into this more, it appears lwip does not handling rebinding sockets.

In BSD sockets, bind is similarly not allowed more than once:
http://man7.org/linux/man-pages/man2/bind.2.html

Fortunately, the state of the socket can be determined from the netconn struct, so changing the behaviour to return `NSAPI_ERROR_PARAMETER` is preferential to a non-halt state.

[2016-08-29 23:58] geky commented on #2424
Added a check per the above behaviour here: https://github.com/ARMmbed/mbed-os/pull/2580

Let us know if there is still an issue.

[2016-08-30 07:04] toyowata opened #2581 "[GCC_CR] non-RTOS build code doesn't reach to the main() function"
An exported project to LPCXpresso IDE (GCC_CR build) doesn't reach to the main() function for baremetal (non-RTOS) build.
Automate test result of the LPC1768 is below:

[code]

This was because the software_init_hook() function was defined here with strong (non-weak) symbol by this change.

https://github.com/ARMmbed/mbed-os/commit/43e595aec3337587970f53c07f15bd906c13bfbe

Original code in the res

[2016-08-30 07:05] toyowata commented on #2448
I have created other ticket for automated test fail issue here : https://github.com/ARMmbed/mbed-os/issues/2581

[2016-08-30 07:10] tommikas commented on #2424
Yep, that sounds good. I'll try it out.

[2016-08-30 09:01] nuket commented on #2489
Confirmed https://github.com/ARMmbed/mbed-os/pull/2535 fixes this issue when hardware flow control overridden in `mbed_app.json`:

[code]

[2016-08-30 09:01] #2489 closed

[2016-08-30 11:01] tommikas commented on #2569
Fixed in #2570, so closing this.

[2016-08-30 11:01] #2569 closed

[2016-08-30 11:45] simonqhughes commented on #2483
Hi,

Yes, the
[code]
section is misleading and should be re-written, which I will do in due course. Please ignore the information in this section at this time.

Thanks
Simon

[2016-08-30 12:04] nvlsianpu commented on #2474
@ytsuboi Could you close this issue?

[2016-08-30 12:17] ytsuboi commented on #2474
Solved! @nvlsianpu

[2016-08-30 12:17] #2474 closed

[2016-08-30 12:50] daniel-cesarini-tridonic-com commented on #2483
Hi there,

Is there a plan to remove this limitation in future?
If yes, by when should this happen?

Thank you,
Daniel.

[2016-08-30 18:33] geky commented on #2437
I'm having a hard time reproducing this. The following code seems to work fine:
[code]

outputs:
[code]

Do you have an example where this fails? Could you try the above example on your network to see if the issue is might be a local one?

UDP is allowed to drop packets. Since it consistently works after the first failure, I'm wondering if your network may actually be behaving poorly.

[2016-08-31 03:39] aetheln commented on #1695
on some st platforms using 16-bit timer there is a check for the past event in function us_ticker_set_interrupt
[code]
when the condition happens, it will cause processing of the event immediately. In the Ticker class, the processor function will schedule the next event, the calling path may trigger a recursive call along the calling path of ticker_insert_event, us_ticker_set_interrupt, us_ticker_

[2016-08-31 06:57] tommikas commented on #2437
Have you tried this example with the actual IP?
Your example works as it is, but if I replace the URL with 195.34.89.241, it doesn't.

[2016-08-31 07:22] 0xc0170 commented on #1695
@aetheln Thanks for the reporting. The HAL should not call irq handler directly if delta <= 0. As you proposed to schedule in a near feature, or set a flag that would trigger the us ticker irq.

To the second, we shall have a look. Might be worth doing anyway.

@bcostm @adustm @LMESTM please could you have a look at this?

[2016-08-31 07:23] 0xc0170 commented on #1695
@aetheln It might e better to track this issue separately, the above issue might have been already solved

[2016-08-31 07:46] 0xc0170 commented on #2574
+1 for having HLD and LLD, they would be beneficial.

We would like to add tests for HAL, the LLD should come with it (might be earlier). We keep this updated with a progress

[2016-08-31 08:14] janjongboom opened #2591 "All exporters broken with mbed OS 5"
mbed OS 5, online IDE, K64F target:

- Export to Keil uVision 4 -> creates a build which does not include mbed-os repo
- Export to GCC code sourcery -> does not download anything
- Export to GCC ARM embedded -> does not download anything
- IAR systems -> creates a build without mbed-os repo
- KDS -> creates a build without mbed-os repo
- uVision 4 (why the f* do we have uVision 4 twice?!) -> creat

[2016-08-31 08:27] 0xc0170 commented on #2591
cc @screamerbg

Note: This issue tracker is not for the online IDE

[2016-08-31 08:35] 0xc0170 commented on #2591
@janjongboom if you test offline exporting, mbed-os-5.1.2 for instance, does that work? just to confirm it's online IDE issue (not tools that are part of this repository)

[2016-08-31 09:19] janjongboom commented on #2591
@0xc0170 No, same issues.

[2016-08-31 09:38] janjongboom commented on #2591
According to @screamerbg we have reworked exporters currently in beta. So hopefully this will be solved in a week or so :-)

[2016-08-31 11:33] mrudu172 opened #2592 "Problem in enabling uvisor - retarget.cpp doesn't compile"
Following the link provided on the ARMmbed website, I am trying to enable the uvisor - https://docs.mbed.com/docs/mbed-os-api-reference/en/5.1/APIs/security/uvisor/

The first step woks - the "blinky" app works fine. Second step, when trying to enable the uvisor, it is throwing a compile error for the function "retarget.cpp" stating "uvisor_lib_init() was not declared in this scope". This is being

[2016-08-31 14:00] #2508 closed

[2016-08-31 14:37] #2592 closed

[2016-08-31 17:16] neilt6 opened #2595 "Single-thread RTOS configuration should not be forced"
I'm trying to switch my projects to the updated [mbed classic](https://developer.mbed.org/users/mbed_official/code/mbed/) and [mbed-rtos](https://developer.mbed.org/users/mbed_official/code/mbed-rtos/) libraries, but it appears that everything using the ARM micro toolchain is being built in a single-thread configuration. Whose bright idea was this? Why would I bother to include the RTOS library if

[2016-09-01 05:02] aetheln opened #2598 "Multiple tickers stop working after several seconds in a high load"
Working on a STM32F030 system. The issue is:  start some tickers with short period ( a few milliseconds) do things like control LED arrays via SPI/I2C, read/write from serial etc. After a while, some, maybe all tickers just stop calling the handlers. Attach debugger to check the system, the system still working, no hard-fault things etc.
I checked the code and found that on some st platforms using

[2016-09-01 05:04] aetheln commented on #2598
as requested by @0xc0170, I open this new ticket to track this issue (originally as a comment to another issue)

[2016-09-01 05:40] 0xc0170 commented on #2598
cc @bcostm @adustm @LMESTM

[2016-09-01 08:00] LMESTM opened #2599 "Question about SPI ASYNCH transfer API (documentation need?)"
Hello

I've started to deliver STM32 support for SPI ASYNCH. While doing  this, I discussed with colleagues and this triggered a question on the trasnfer asynch API (documented here and header file) https://developer.mbed.org/users/mbed_official/code/mbed/docs/6c34061e7c34/group__AsynchSPI.html

The SPI transfer API is very similar to I2C one.
In I2C, even if this is not clearly documented (AFAIK)

[2016-09-01 08:51] TeroJaasko opened #2600 "Developer should have a way to select the ARMCC compiler optimization target"
The default ARMCC compiler optimization strategy (-Otime) is not suitable for everyone. Developers should have a easy way to select the desired optimization target and even level of optimization. This could be done eg. via "mbed compile -o opt_size" or similar switch. Preferably the optimization should be selectable per component, but even the global flag would help a lot.

Similar option could be

[2016-09-01 09:50] simonqhughes commented on #2483
Hi
Yes, the plan is to remove this limitation in the future. As to when, this will depend on priorities. The priority at present are:
- provide CFSTORE C++ interface and provide good integration with mbedOS.
- provide CFSTORE-uvisor integration to secure the stored data .

Best
Simon

[2016-09-01 10:32] tommikas commented on #2435
#2502 fixed this. Closing.

[2016-09-01 10:32] #2435 closed

[2016-09-01 10:46] kjbracey-arm commented on #2600
GCC has already been recently switched to -Os (space), so this setting is now inconsistent.

https://github.com/ARMmbed/mbed-os/pull/2185

I note also that IAR is set to "-Oh" (high, balanced) - it should presumably be "-Ohz" (high, favoring size).

[2016-09-01 10:47] sg- commented on #2600
This is a HUGE breaking change as it impacts the way inlining works in the optimizer. Modifying optimization build options for code size reduction is not a path we're currently considering.

Seems the largest size reduction is in TLS. Guessing performance would probably be a considerable hit due to reduction in inline optimization?!?

This type of change has previously broken user applications tha

[2016-09-01 11:02] kjbracey-arm commented on #2600
Well, yes, it could break stuff, but any such sensitive stuff is prone to being broken by all sorts of other things - turning on debug, changing toolchain, higher interrupt load. It's effectively unstable code. Objection wasn't raised on #2185.

I can see the counterargument that you may not want to always be going for "smallest possible on this compiler", but you'd rather aim for "best speed you

[2016-09-01 11:03] TeroJaasko commented on #2600
IMHO, if the code is so fragile it works only by certain optimization mode it or the compiler should be fixed. I am not suggesting one to change the default, just make it possible for developer to use option which suits their use case.
The performance of mbedtls might not be that bad, as it already has the assembler optimizations.

[2016-09-01 12:41] betzw opened #2602 "Branches: master vs. mbed-os-5.1"
Can someone pls. help me in understanding what contains this repo's `master` branch compared to branch `mbed-os-5.1`?

[2016-09-01 12:51] 0xc0170 commented on #2602
The branching model will be explained soon.

Briefly, mbed-os-5.1 is a release branch, master is a develop branch. Everything lands on master, release branch gets updated biweekly (new patch releases - 5.1.x).

[2016-09-01 13:14] betzw commented on #2602
Are you using cherry-picking to the `release` branch in order to do this?

[2016-09-01 17:26] sg- commented on #2600
Thanks for pointing this out. We should look at general common profiles that can be applied across these compilers.

Perfect, that is what the exporting system is for. Developers can modify makefile and project files in any way that suits their needs for the time being.

[2016-09-01 17:50] jupe commented on #2600
referring to https://github.com/ARMmbed/mbed-os/issues/2591, I assume that when we get exporting system back on track there is regression tests for all of them to keep them on track

[2016-09-02 06:16] javier-moreno-tridonic-com opened #2605 ""Verbose" mode for memap.py"
Note: This is just a template, so feel free to use/remove the unnecessary things

## Description

Type: Feature request
Priority: Minor
Feature Request
---

To analyse memory usage and identify possible optimisation points, I've been modifying memap.py in the following manner:

original code
---
[code]

My code
---
[code]

With this I get and output similar to this:

 Module

[2016-09-02 07:48] LMESTM commented on #2519
hello - I will give it a try
cc @jeromecoutant

[2016-09-02 08:24] ccli8 opened #2606 "Better handling for out of event pool"
I am testing the sample `mbed-os-example-client` with WiFi module `esp8266` on target board `NUMAKER_PFM_NUC472`.
**Target baord: NUMAKER_PFM_NUC472**
**mbed-os-example-client (SHA code: d22a0db8803811eec7817c770f52c3386e3cc7ab)**
**mbed-os (SHA code: 9111aa4c2dc74fd9bc29f6c37a26489c09cf8a68)**
**esp8266-driver (SHA code: 29d63ae2ee0a233e2fbd9577cdddc7661bb783d1)**

After fixing some target relate

[2016-09-02 08:40] LMESTM commented on #2519
@svastm

[2016-09-02 08:42] yogpan01 commented on #2606
Thanks for reporting. We are fixing this at the moment.

[2016-09-02 12:14] tommikas opened #2608 "'--build' option breaks memory table generation for at least ARM and IAR toolchains"
For example when compiling mbed-os-example-blinky

`mbed compile --build .build/K64F_ARM_BLINKY/ -t ARM -m K64F -j0 -c`

[code]

Without `--build` or with for example `mbed compile --build .build/K64F/ARM/BLINKY/ -t ARM -m K64F -j0 -c`:

[code]

So it seems that when the path doesn't start `.build/<target>/<toolchain>/`, it doesn't work properly.

mbed-cli: 0.9.1
mbed-os: 9111aa4c2dc74fd9bc29f6c37

[2016-09-02 14:40] jeromecoutant commented on #2519
Hi

Can you check that the binary file copy has been well performed just before?
Do you see in you logs something like:

	calling mbedhtrun: mbedhtrun -m xxxx
xxx
[COPY][ERR] [ret=1] Command: ['copy', xxx

Thx

[2016-09-02 15:42] MarceloSalazar commented on #2605
Hi Javier,

This feature looks very useful :)
A few suggestions:

- Add a verbose option to generate more information when invoking memap from the command line (by default should be disabled): https://github.com/ARMmbed/mbed-os/blob/5c82db820357508a27f7c6a18d90dc1d081851af/tools/memap.py#L597

- Display `Misc` to make the output more consistent with the default behavior:
 `libc.a(lib_a-__atexit.o)

[2016-09-05 06:04] javier-moreno-tridonic-com commented on #2605
Well I'd be happy to prepare it, just I would need some pointers for this:

- Should be this a memap only feature? I mean, should this feature be also accessible by using a "mbed compile" flag? If so, any flag name suggestion that can be shared across both scripts?

[2016-09-05 09:21] MarceloSalazar commented on #2605
I'd suggest this to be a memap only feature for now (e.g. invoke the tool using `python memap ...`).
This will let us prepare the interfaces and do further testing. We will consider calling it from the mbed compile script.

[2016-09-05 10:47] hasnainvirk opened #2618 "Stack and Heap memory Overlap with ARMCC on Nucleo-F401RE"
While debugging an issue https://github.com/ARMmbed/mbed-os-example-client/issues/37
it was noticed that the application went to a hard-fault with ARMCC on Nucleo F401RE when RAM was exhausted. However same behaviour would not cause a hard fault with GCC.

On further inspection of MAP files, it was noticed that:

* With ARMCC , the system was crashing because an overlap between Heap and Stack took

[2016-09-05 11:18] janjongboom opened #2621 "mbed 2.0 - nRF51-DK with latest BLE_API, nRF51822 and mbed does not compile"
Take any program. Update mbed, nRF51822 and BLE_API and compile.

![screen shot 2016-09-05 at 13 19 34](https://cloud.githubusercontent.com/assets/816856/18246339/4c9e9a18-736b-11e6-9954-8bb24468c3b0.png)

[2016-09-05 20:03] c1728p9 commented on #2618
Hi @hasnainvirk, were you building for ARM or uARM? Also, could you attach the map file?

Heap limits are set in the function set_stack_heap and are enforced for the IAR, ARM and GCC_ARM toolchains. The heap_and_stack test tests that malloc appropriately sets its limits by allocating until malloc returns NULL. I recommend running this test on the NUCLEO-F401RE to confirm this is the problem you ar

[2016-09-06 06:22] toyowata opened #2626 "[STM32F303K8] Serial output wrongly come out from different port"
### Problem:

By following test code, same output signal from the PB_3 port wrongly come out from the PA_2 port as well.

[code]

PB_3 : Serial 2 TX
PA_2 : Serial 2 TX, but not configured by this code

![](https://developer.mbed.org/media/uploads/potemkin/ximg_3482.jpg.pagespeed.ic.UiPTOC9hwH.jpg)
### Expectation:

There should be no output from the PA_2.
### Version:

The mbed library rev 123 (an

[2016-09-06 07:00] hasnainvirk commented on #2618
@c1728p9 Building for ARM and GCC_ARM. You can recreate this if you use mbed-os-example-client with LOWPAN_ND (mbed-os 5.1.0).  I was able to evade the issue if I reduce RAM consumption by telling mbedTLS to make ROM tables instead of RAM (8K saving) and then reducing the mbed-mesh-api heap allocation (nanostack heap) from 32.5 to 30K. I had also attched nanostack sources with the app as the partn

[2016-09-06 07:14] hasnainvirk commented on #2618
@c1728p9 @yogpan01 @SeppoTakalo @kjbracey-arm  I just tried with mbed-os -5.1.3. It seems that the hard fault issue because of RAM overflow is fixed in this patch release.

[2016-09-06 11:23] svastm commented on #2626
Hello,

I did not investigate the behaviour change between rev 122 and rev 123 but on this board, STDIO use the USART2 and PA_2 as TX pin. This pin is enabled by mbed to use `printf()`. Also, the 2 pins are connected to the same USART. That's why you see the same output on PA_2 and PB_3.

To correct this, you can disable the `stdio_uart` (if you don't need to use `printf()`)

[code]

Or you can us

[2016-09-06 11:53] thegecko opened #2628 "Please allow any fields in the mbed_app.json file"
The checks here https://github.com/ARMmbed/mbed-os/blob/master/tools/config.py#L381 enforce that only an `application` entry is allowed in the `mbed_app.json` file. Could this check be removed to allow any entries?

[2016-09-06 12:45] bogdanm commented on #2628
That check doesn't enforce only one `application` entry, but rather checks that only supported entries are present. The supported entries are listed in https://github.com/ARMmbed/mbed-os/blob/master/tools/config.py#L342. If you need other entries, we can modify that list. Allowing any entry doesn't feel like a good idea.

[2016-09-06 12:49] MarceloSalazar commented on #2483
Marcelo to discuss internall

[2016-09-06 13:58] c1728p9 commented on #2618
Heap limit checking and the test to verify it aren't in mbed-os 5.1.0. The first version of mbed-os to have this is 5.1.2. This was introduced in the PR #2402. @hasnainvirk can this issue be closed?

[2016-09-06 15:08] sg- commented on #2483
please open this on CFStore

[2016-09-06 15:51] #2595 closed

[2016-09-06 15:56] neilt6 opened #2631 "Breaking changes in mbed-rtos rev118+"
I take issue with some of the breaking changes that have been made in mbed-rtos rev118 and newer, and I'm sure I'm not the only one.

For starters, any targets using the ARM micro toolchain by default (AKA most of them) are now forced into a "single-thread" mode, in which you can't create any additional threads besides the main thread or even RtosTimers. What sense does that make? Why would anyone

[2016-09-06 17:59] mfiore02 opened #2635 "significantly higher memory consumption and binary size with mbed 5.1"
We are currently developing a platform using the STM32L151CC processor - 32kB of RAM and 256kB of flash. We added platform support to mbed 2.0 during the transition to 5.x and are now adding support to 5.x so we can make a pull request and have our platform enabled.

We've noticed significantly higher memory consumption in mbed 5.x vs mbed 2.0. This is a problem for us because our application (an

[2016-09-06 19:12] c1728p9 commented on #2631
Hi @neilt6, sorry for any problems this caused. I'll try to explain the reasoning behind some of these changes. Also, the main stack size is ``4096``, not 512B which should be enough for most applications. Are you running into stack overflows? A stack size of 4K should be enough for most applications unless large buffers are being declared on the stack. Responses to your points below:

 * Single t

[2016-09-06 20:15] neilt6 commented on #2631
Hi @c1728p9, thanks for the reply.

I understand the reasoning for single-thread mode when using _mbed-os_ (where the RTOS is always included), it just doesn't make sense for _mbed classic_ (where the RTOS is explicitly included). The lack of intrinsic thread safety on microlib is [well known](https://developer.mbed.org/handbook/CMSIS-RTOS#mutex), and myself and other developers have simply used a

[2016-09-06 21:26] neilt6 commented on #2631
@c1728p9, how about this:

### mbed-rtos/mbed_lib.json
[code]

...which can then be overridden by the developer using:

### ./mbed_app.json
[code]

[2016-09-06 21:26] neilt6 commented on #2631
@c1728p9, how about this:

### mbed-rtos/mbed_lib.json
[code]

...which can then be overridden by the developer using:

### ./mbed_app.json
[code]

[2016-09-06 21:34] neilt6 commented on #2631
@c1728p9, how about something like this:

### mbed-rtos/mbed_lib.json
[code]

...which can then be overridden by the developer using:

### ./mbed_app.json
[code]

[2016-09-06 23:24] sg- commented on #2631
Hi @neilt6 These are considered regressions for mbed 2 RTOS delivery and will be fixed to match the previous memory map and assumptions about stack locations and sizes. No need to make a PR for configurable stack sizes.

[2016-09-06 23:50] ciarmcom commented on #2631
ARM Internal Ref: IOTMORF-451

[2016-09-06 23:57] neilt6 commented on #2631
@sg- Thanks!

[2016-09-07 01:46] sg- commented on #2635
Some information about the different ROM sizes:
- NUCLEO-L152RE with mbed revision 121 mbed-rtos revision 117 used uARM as the default toolchain. Baseline
- NUCLEO-L152RE with mbed revision 125 mbed-rtos revision 121 uses ARM as the default toolchain. ~9k increase
- with mbed-os revision 2244 has some test harness code lingering that is getting linked in. This will be fixed. ~8k increase that will

[2016-09-07 01:59] zoujixing opened #2636 "TARGET_NRF5(NRF52_DK):Can't use A5(P0_31) as DigitalOut mode"
Chech this file : [https://github.com/ARMmbed/mbed-os/blob/master/hal/targets/hal/TARGET_NORDIC/TARGET_NRF5/gpio_api.c](url)

The definition "#define GPIO_PIN_COUNT 31"

In function "gpio_init(gpio_t *obj, PinName pin)"  will check the pin:
`MBED_ASSERT((uint32_t)pin < GPIO_PIN_COUNT);
  (void) nrf_drv_gpiote_init();
`

The pin A5 is P0_31(31), if I use A5 as DigitalOut mode, it will printf  "mbed

[2016-09-07 03:50] ciarmcom commented on #2635
ARM Internal Ref: IOTMORF-452

[2016-09-07 08:09] hasnainvirk commented on #2618
Yes, this can be closed. @c1728p9 However, I checked PR #2402.  We had seen the issue of two memory regions in K64F also. And a fix was made in mbed-OS3.
https://github.com/ARMmbed/target-kinetis-k64-gcc/commit/2fcaed53d694c3098c9d380586497d0f974fc8db

[2016-09-07 08:09] #2618 closed

[2016-09-07 10:28] simonqhughes opened #2637 "Multiple CRC Issues (multiple code copies, crc.h #define CRC16 means CRC32/CRC_CCITT functionality cannot be used, etc)"
There are multiple issues with the CRC code available in mbedos as described in the following:
#### Issue 1: Multiple copies of crc.[ch] present in the tree, in the wrong locations

The crc.h/c platform independent code appears in platform dependent target subdirs e.g.:

[code]

The issues are:
- The code should be located in a platform independent location e.g. hal/common.
- There should only be

[2016-09-07 11:41] andreaslarssonublox opened #2638 "InterruptIn rise/fall methods overwrite pullup/pulldown mode for STM32F4 targets"
The gpio_irq_set function calls pin_function with GPIO_NOPULL.

The code below was used to generate the issue on an STM32F429i-DISCO board using the DISCO_F429ZI target. If the mode method is called after rise/fall it works as expected.

`
# include <stdio.h>
# include <string.h>
# include "mbed.h"

InterruptIn button(PF_2);
DigitalOut led1(LED1);
DigitalOut led2(LED2);

void handleRise() {
    le

[2016-09-07 11:43] andreaslarssonublox commented on #2638
@bcostm @adustm

[2016-09-07 11:55] LMESTM commented on #2638
hi - I can have a look at it

[2016-09-07 13:00] bcostm commented on #2638
I think if we save the gpio mode inside the gpio_t structure and reuse it after in the gpio_irq_set function it should work...

[2016-09-07 13:38] simonqhughes opened #2639 "-Werror missing from default compiler options"
There are 213 warnings for GCC/ARM/IAR when performing a build which should not be present:

[code]

[warnings.txt](https://github.com/ARMmbed/mbed-os/files/459234/warnings.txt)
[consoleText.txt](https://github.com/ARMmbed/mbed-os/files/459235/consoleText.txt)

[2016-09-07 13:46] simonqhughes commented on #2639
@adbridge @mazimkhan

There are 61 warnings in the above trace including greentea_serial.h which can probably be fixed by inserting a newline:

[code]

Please could you fix?

[2016-09-07 14:20] nuket commented on #2605
This is great, I'm also looking for a way to have a deeper view into flash / stack / heap memory allocations.

[2016-09-07 15:52] LMESTM commented on #2638
unfortunately gpio_irq_set is using a gpio_irq_t object, not the gpio_t  one ... the common point being the assigned "pin"  ... I'll look into this further tomorrow

[2016-09-07 16:19] fvincenzo opened #2641 "cmsis_nvic changes required with respect to PR #2518"
Once the PR https://github.com/ARMmbed/mbed-os/pull/2518 it is accepted it requires a change in all the CM3 platforms.

Porting uvisor on Beetle required some adaptation of the CMSIS file for the Cortex M3 covered in the patch "Backport virtual NVIC mechanism from CMSIS 5 on CM3". This change impacts even the other platforms that implement cmsis_nvic.c/h.

Please refer to the patch https://github.

[2016-09-07 18:52] theotherjimmy commented on #2488
I did as you suggested, reproducing a problem (but not the one you were describing, I think). I was able to work around it by replacing the `"extra_labels_add": ["OUR_F4_TARGET"],` with `   "extra_labels_add": ["NUCLEO_F401RE"],`

[2016-09-07 19:02] theotherjimmy commented on #2488
I think what you are actually seeing is not that extra_labels_add is broken, but that the 'mother' target's label is not added to the labels of the child. This prevents mbed from compiling as some nesecary code is contained within a folder named TARGET_NUCLEO_F401RE, which will not be picked up by either of your new targets.

[2016-09-08 02:58] cyliangtw opened #2644 "DnsQuery not included DCHP's"
In mbed OS 3.0, lwip DHCP, `dhcp_handle_ack` could get DNS info from DHCP recv packet and keep it by` dns_setserver(...)`. Thus, it could get/resolve ip address by this DNS, even local lan environment.

In mbed OS 5.0 NSAPI's DnsQuery, there are 2 concerns: (1) DNS look-up table DNS_IPS not included DCHP's (2) Though there are 6 choices in DNS_IPS, if 1st one is failure, not try the remainders.

[

[2016-09-08 07:16] MarceloSalazar commented on #2488
@javier-moreno-tridonic-com @daniel-cesarini-tridonic-com would you be able to help here?

[2016-09-08 09:35] janjongboom commented on #2635
@mfiore02 There are three patches in the work which will bring memory consumption back to mbed 2.0-like levels (4.8K decrease in RAM for blinky), plus we're making the stack size configurable in #2646 so you can reclaim some memory there as well.

We'll be publishing a blog post with some background and hard numbers when merged, but I'll send you a draft.

[2016-09-08 10:08] cyliangtw commented on #2644
After sync with master branch 2016/09/07,  this issue could be fixed.

[2016-09-08 10:08] #2644 closed

[2016-09-08 11:09] svastm opened #2647 "GCC - hardfault in mktime with irq disabled"
I don't know if some other standard function are affected but it seems that every time we call `mktime()` in a critical section, with GCC only, an hardfault is fired. Both standard and nano libs seems to be affected. I tried with the NUCLEO_F303RE and NUCLEO_F429ZI and the mbed-cli to compile the tests.
[code]
with this main.cpp
[code]
and the output, same result on GCC v5.3 and v4.9.
[code]
An ot

[2016-09-08 11:54] LMESTM commented on #2599
@Sissors  hi - do you have a view or even final answer to the above questions ?

[2016-09-08 13:01] mfiore02 commented on #2635
@janjongboom that's great news! We've manually tweaked stack sizes for our platform for now, but it's good to know there's a global resolution coming!

[2016-09-08 13:15] Sissors commented on #2599
Are you sure you meant me? Because I have an opinion. I have an opinion about many things. But few people here really care about it :P.

I agree with your statement that there are very few SPI devices that actually really use full duplex. At the same time I feel that SPI is a full duplex protocol, and I wouldn't limit it to half duplex in the API. Also for example if you need to send 2 bytes to re

[2016-09-08 14:02] nuket commented on #2635
I've got similar out of memory issues using mbed 5.1 with an nRF51-DK (256KB flash / 32KB RAM).

Checking one app with a similar `malloc(64)` until it dies strategy, I get the following `mbed_stats_heap_t` output:

* Start: Heap stats - alloc_cnt: 6, alloc_fail_cnt: 0, current_size: 5284, max_size: 5284, total_size: 5284
* Stop: Heap stats - alloc_cnt: 26, alloc_fail_cnt: 0, current_size: 6564, ma

[2016-09-08 14:06] LMESTM commented on #2599
Yes I was right to ask for your opinion because now there is a discussion :-)   - and I feel like we're on the same line here. So that may pop up higher in the pile of issues ...
Now I still would be happy to get MBED staff' word on this topic

[2016-09-08 14:41] janjongboom opened #2649 "Cannot use static IP addresses with new EthernetInterface API"
There's no way to set a static IP address in EthernetInterface in mbed OS 5 anymore. When is that coming back?

[2016-09-08 14:50] janjongboom commented on #2635
@nuket Yeah, I've seen the same issues on the nRF51, but with these patches we managed to fit BLE + mbed TLS + RTOS + application into 32K again, similar profile as on mbed 2.

[2016-09-08 15:06] daniel-cesarini-tridonic-com commented on #2488
@theotherjimmy what is the intended behavior of the "inherits" keyword?
We were considering it as a statement of inheritance between subsequent target definitions, thus inheriting also the labels and pin definitions from "mother" targets.

[2016-09-08 23:45] #2490 closed

[2016-09-09 01:03] ytsuboi commented on #2591
How is reworking exporters going? This is huge problem. :-(

[2016-09-09 07:57] daniel-cesarini-tridonic-com commented on #2488
We are now using what you suggested: it is working by adding the "mother" target name as an ```"extra_label_add"```.

Yes, we were actually supposing that also the parent targets' name would appear within the labels of the sibling(s) ;-).
@theotherjimmy thank you for the help! :-)

[2016-09-09 08:09] tommikas opened #2653 "FEATURE_COMMON_PAL doesn't compile in master"
Since https://github.com/ARMmbed/mbed-os/pull/2496 was merged in, it looks like.

[code]

[2016-09-09 08:51] nuket commented on #2635
@janjongboom This sounds pretty excellent.

[2016-09-09 08:54] bcostm commented on #2406
Hi,
mbed RTOS is not compatible with this platform (code size is too big for this device).

[2016-09-09 09:05] bcostm commented on #2390
Hi,
This board is not planned to be supported on mbed for now. We'll put availability date directly on the board page:
https://developer.mbed.org/platforms/ST-Discovery-F411E/
Can you please close this issue ?

[2016-09-09 09:08] bcostm commented on #2327
This board has been fixed. Can you please close the issue ?

[2016-09-09 09:12] bcostm commented on #1814
Any news ? Please close it if solved.

[2016-09-09 09:22] bcostm commented on #1721
Can you please close this issue if the consumption problem is solved ?

In PR #1832

[2016-09-09 09:30] bcostm commented on #1672
Can you please close this issue if the problem is solved ?

[2016-09-09 09:33] bcostm commented on #1632
Ethernet on F7 devices has been done in PR #2473

Can you please close this issue ?

[2016-09-09 09:58] janjongboom opened #2655 "Export Classic project to Simplicity Studio: cannot find mbed_config.h"
When exporting to Simplicity Studio there is no mbed_config.h in the export (or it's not generated by the build tool, either way). Removing the `-include` flag from the build flags create a successful build. As far as I can see mbed_config is not used for any of the EFM32 boards, so perhaps we can just remove that flag from the exporter?

See also https://forums.mbed.com/t/mbed-online-compiler-exp

[2016-09-09 10:04] janjongboom commented on #2591
@ytsuboi Here's the PR: #2526.

[2016-09-09 10:05] janjongboom commented on #2591
@ytsuboi Here's the PR: #2245.

[2016-09-09 10:52] thelme commented on #2390
Ok, thanck you.

[2016-09-09 10:52] #2390 closed

[2016-09-09 14:13] bogdanm commented on #2655
In theory, `mbed_config.h` should be used for every board/target. Removing it is likely to lead to problems, and even worse, they might not be immediately obvious. The proper solution here is to fix the exporter.

[2016-09-09 14:32] bogdanm commented on #1632
@sandeepach: can you please check if the issue is fixed?

[2016-09-09 14:42] bogdanm commented on #2488
Can this be closed?

[2016-09-09 15:50] daniel-cesarini-tridonic-com commented on #2488
I think so, for now the inheritance is working for us.

[2016-09-09 15:53] theotherjimmy commented on #2488
@daniel-cesarini-tridonic-com  glad I could help.

[2016-09-09 16:35] #2488 closed

[2016-09-09 17:32] #2573 closed

[2016-09-09 17:33] theotherjimmy commented on #2512
If I recall correctly, this could be worked around by moving the project file to the root of the example. The exporters now do that by default. Could you try this again with master, @maclobdell?

[2016-09-09 17:37] theotherjimmy commented on #1671
This has been done a long time ago, lets get this closed out @sg-

[2016-09-09 17:41] theotherjimmy commented on #2507
After #2245 merged, we are working on updating the exporters on the website should be upgraded with the next release.

[2016-09-09 17:44] #1671 closed

[2016-09-09 17:57] geky commented on #2653
Hi @tommikas, unfortunately the callback name conflicts with the recently added `callback` function. This is an unfortunate side effect of the implicit mbed namespace expansion in the mbed.h header. If you remove the mbed.h header and include the needed files directly (for example "Timer.h" and "Timeout.h") the relevant classes (including the callback function) will be in the appropriate namespace

[2016-09-09 18:01] geky commented on #2649
There is a patch currently in the works ([branch](https://github.com/geky/mbed/tree/nsapi-static-config)), but we are taking care to introduce an implementation that will be forward compatible with the network-socket API to avoid code changes as much as possible.

Sorry for the inconvenience.

[2016-09-09 18:17] jupe commented on #2653
do we get fix for this? We doesn't want to create workarounds for this..

[2016-09-09 18:36] geky commented on #2653
The general expansion of the mbed namespace could be changed to a specific set of classes (aka all of the classes currently exposed), omitting the callback function. I can look into making a pr, although I don't know if it's too late to remove the callback function from the general namespace.

@pan-, @0xc0170, thoughts? Explicit using statements would give us better control of what is exposed.

It

[2016-09-09 19:40] bridadan commented on #2653
Potentially crazy idea, but what if we moved all of the important includes into a file called `mbed_includes.h` (or maybe `mbed_internal.h`), then just include this new file in `mbed.h` and add the different `using` keywords in `mbed.h`? That way we maintain compatibility with all the user programs out there (which do want the implicit `mbed` namespace) but then just use `mbed_includes.h` within t

[2016-09-09 19:57] sg- opened #2658 "[lp ticker] Board test failures"
Trying to get more boards in a CI system there are some test failures that need to first be resolved.
@ccli8

[code]

[2016-09-09 20:16] sg- commented on #2658
It also seems that all tests from master fail using -t arm

[2016-09-09 22:09] sg- commented on #2658
With #2589 applied
[code]

[2016-09-10 07:43] teetak01 commented on #2653
Please revert this PR. Mbed Client applications are broken now.

[2016-09-10 11:06] JojoS62 opened #2660 "[LPC1347] PWMout freq on 16 bit timers wrong"
### Description
- Type: Bug
- Priority: Major
## Bug

PWMout frequency is higher than set in pwm.period(). This happens on pwm pins with 16 bit counters CT16B0 / CT16B1, on CT32B0 it works as expected.

**Target**
LPC1347

**Toolchain:**
ARM, online compiler

mbed lib 64...125

**Expected behavior**
pwm.period(0.01) -> 10 ms

**Actual behavior**
pwm.period(0.01) -> 0.898 ms

**Steps to reproduce**

[2016-09-10 11:13] sg- commented on #2653
this is not a solution. We propose people use mbed.h as an entry point. Seems a better name would have been mbed_callback?

Reverting.

[2016-09-10 14:59] JojoS62 commented on #2660
The problem is:  clock of 72 MHz / 2^16 gives a max pwm period time of about 0.9 ms.
I've used the solution from LPC11XX that sets a prescaler, initial to 31 to get the default setting of 20 ms pwm period time working. For times >28 ms it is necessary to set a higher prescaler value.

[2016-09-10 17:33] geky commented on #2653
https://github.com/ARMmbed/mbed-os/pull/2661 provides a solution based on my previous proposal: (https://github.com/ARMmbed/mbed-os/issues/2653#issuecomment-246000839)

Moves `callback` to `mbed::callback` even if the mbed.h file is included. An alternative would be to rename `callback -> mbed_callback` but that would take a bit more time.

@bridadan, We'd really want to avoid this form of name po

[2016-09-10 18:23] sg- commented on #2653
Don't think this is an option, that ship has sailed as they say way long ago.

Forget that namespace exists and I think the answer will become more clear.

[2016-09-11 03:22] toyowata commented on #2581
#2582 merged

[2016-09-11 03:22] #2581 closed

[2016-09-12 01:19] geky commented on #2653
Fair enough

If I forgot the namespace exists, I would have suggested adding it ; )

[2016-09-12 01:19] geky commented on #2653
Alternative patch: https://github.com/ARMmbed/mbed-os/pull/2663

[2016-09-12 01:35] ccli8 commented on #2658
@sg NUMAKER_PFM_NUC472 has a bug in lp_ticker.c and cannot pass these newly added tests `tests-mbed_hal-lp_ticker` and `tests-mbed_drivers-lp_timeout.` For the issue, there will be PR later.
#2589 is to fix heap configuration error on armcc toolchain (`-t ARM`). This error will cause most tests on armcc toolchain to fail without fix. So it needs to be fixed immediately.

[2016-09-12 07:18] 0xc0170 commented on #2602
We do use ``patch`` commands, for instance ``format-patch`` and ``am`` to  do  this job.  We will describe this process in the branching document, plus the also the release process.

cc @sg-

[2016-09-12 07:21] 0xc0170 commented on #2660
cc @toyowata

[2016-09-12 07:22] 0xc0170 commented on #2655
cc @stevew817 @akselsm Please have a look

[2016-09-12 07:22] betzw commented on #2602
Are you kidding?

[2016-09-12 08:16] stevew817 commented on #2655
We're aware of this issue, and are trying to figure out the best way to fix it.

[2016-09-12 08:33] adustm commented on #1864
Hello, I confirm that PR#2166 has fixed the issue
[code]

I am closing the issue
Kind regards
Armelle

[2016-09-12 08:33] #1864 closed

[2016-09-12 08:42] adustm commented on #1736
Compilation error is fixed with current mbed-os database
`../../../Program\ Files\ \(x86\)/IAR\ Systems/Embedded\ Workbench\ 7.3/arm/bin/iasmarm.exe --cpu Cortex-M7 --fpu VFPv5_sp -DTARGET_STM32F746ZG -D__CORTEX_M7 -DTARGET_STM32F746 -DARM_MATH_CM7 -DTARGET_CORTEX_M -D__FPU_PRESENT=1 -DTARGET_LIKE_CORTEX_M7 -D__MBED__=1 -DTARGET_RTOS_M4_M7 -DTARGET_STM -DTARGET_M7 -DTARGET_STM32F7 -DTOOLCHAIN_IAR

[2016-09-12 08:42] #1736 closed

[2016-09-12 09:01] daniel-cesarini-tridonic-com opened #2667 "Clone repos from .lib files to specific directory"
### Description
- Type: Question
- Priority: Major

## Question
**How to instruct ```mbed deploy``` to download/clone repos specified in .lib files into a specific directory?**

[2016-09-12 09:06] mottigondabi opened #2668 "Binary size changes between two consecutive builds"
### Description
- Type: Bug
- Priority: Major

---
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3 20150529

**mbed-cli version:**
0.8.8

**mbed-os sha:**
d1f6cb4 Updating mbed-os to mbed-os-5.1.3

**Steps to reproduce**
Made the following:
1. cloned the blinky example - git@github.com:ARMmbed/mbed-os-example-blinky.git
2. build according to the given README instructi

[2016-09-12 09:24] daniel-cesarini-tridonic-com commented on #2667
@MarceloSalazar

[2016-09-12 09:55] 0xc0170 commented on #2599
This was highlighted previously,  we agreed that this could be done. We can still add a new transfer method with just one length argument, and deprecate the rx/tx lengths.

Any proposals for this. We discussed earlier to reuse default SPI write value or introduce a new transfer with just 2 arguments?

[code]

[2016-09-12 09:56] 0xc0170 commented on #2599
Besides adding new API or deprecating, how the docs can be improved @LMESTM  ? Please send a pull request or pinpoint here what's missing. Thanks

[2016-09-12 10:13] LMESTM commented on #2599
@0xc0170 : the doc here https://developer.mbed.org/users/mbed_official/code/mbed/docs/6c34061e7c34/group__AsynchSPI.html says :

This needs to be clarified to specify whether Rx and Tx will happen at the same time or if Rx happens first and then Tx will go on in a second step. Once decided, we can  conclude on how to actually send a PR for updating the description (and maybe APIs)

there is also a

[2016-09-12 10:17] LMESTM commented on #2599
@0xc0170 reading again your comment

does it mean that the answer to my question is :  SPI transfer API is meant for sending both Tx and Rx at the same time (full duplex) ?

[2016-09-12 10:57] pan- commented on #2653
@bridadan Users can already pick up the files they need. What are the benefits of including everything ?

@geky `mbed.h` pull every symbol from the `mbed` and `std` namespace into the global namespace there is no fix or workaround for that beside not using `mbed.h`.

[2016-09-12 11:23] janjongboom commented on #2649
@geky OK, great.

[2016-09-12 12:03] Sissors commented on #2599
One option I see would be just get the current one:
int transfer(const Type *tx_buffer, int tx_length, Type *rx_buffer, int rx_length, const event_callback_t& callback, int event = SPI_EVENT), and add the function:

int transfer(const Type tx_value, int tx_length, Type *rx_buffer, int rx_length, const event_callback_t& callback, int event = SPI_EVENT)

(and then the lengths merged also into one le

[2016-09-12 12:46] svastm commented on #2647
An update to add that the problem happen on mbed 5 and mbed 2 + RTOS but not on mbed 2. So the problem must come from the RTOS.

[2016-09-12 13:08] janjongboom opened #2670 "mbed 2.0 - NUCLEO-F303K8 & L432KC bug in Serial#attach function"
See https://developer.mbed.org/questions/74236/Possible-bug-in-Serial-attach-function-w/

Confirmed by others in the thread that this is a problem on a number of NUCLEO boards in rev. 125, but not in rev. 124.

[2016-09-12 13:59] javier-moreno-tridonic-com commented on #2667
Just to elaborate a little more, currently we need to use the atmel-rf-driver but just in some targets that include the atmel chip. We are including it using a .lib file. Since deploying puts all the libraries referenced by lib files into the root, the system tries to compile it anyway.

Since some of our targets do not use the FEATURE_IPV6 the compilation fails due to the nanostack not being pres

[2016-09-12 14:07] sg- commented on #2602
About what?

[2016-09-12 14:22] sg- commented on #2452
We're stepping back from custom targets at the moment. Will look at this again in the future.

[2016-09-12 14:22] #2452 closed

[2016-09-12 14:23] sg- commented on #2668
This could be the same as addressed in https://github.com/ARMmbed/mbed-os/pull/2604 and reported https://github.com/ARMmbed/mbed-cli/issues/323

[2016-09-12 15:10] sg- commented on #2667
@daniel-cesarini-tridonic-com I think this patch will solve your problem. https://github.com/ARMmbed/mbed-os/pull/2551 Would you pull it locally and have a try?

[2016-09-12 15:10] bridadan commented on #2653
@pan- The benefits is that's how mbed applications have worked in the past, so this wouldn't be a breaking change. But if user's needed to have more control over namespaces then they could always include the `mbed_internal.h` instead of `mbed.h`.

[2016-09-12 15:13] sg- commented on #2647
@c1728p9 I think we looked at this previously. Mind sharing what our thoughts were here?

[2016-09-12 15:21] sg- commented on #2641
We need to create a feature_ branch for updating cmsis core to version 5. Given this is due in September we should aim to release this in mbed OS 5.3

https://github.com/ARM-software/CMSIS_5#cmsis-version-5

[2016-09-12 15:27] sg- commented on #2637
Issue 1 - This should be common, good call
Issue 2 - The code needs to be updated to support all 3 modes at runtime
Issue 3 - I think will be fixed by Issue 2

It would be best to not introduce a public crc routine if possible rather use one of these once moved.

[2016-09-12 15:50] ciarmcom commented on #2668
ARM Internal Ref: IOTMORF-459

[2016-09-12 15:50] ciarmcom commented on #2653
ARM Internal Ref: IOTMORF-460

[2016-09-12 15:50] ciarmcom commented on #2647
ARM Internal Ref: IOTMORF-461

[2016-09-12 15:50] ciarmcom commented on #2637
ARM Internal Ref: IOTMORF-462

[2016-09-12 15:51] c1728p9 commented on #2647
Hi @svastm, a hardfault occurs because the gcc standard library (newlib) is internally using a mutex to protect global information. This causes a hardfault because a mutex is not allowed to be used inside a critical section. There should be no need for a critical section around mktime.

[2016-09-12 16:30] svastm commented on #2647
Hello,
I was investigating too and I reach the same conclusion. In the real application, I'm not responsible for enabling the critical section. Also i can't break a section just to use `mktime()`.

We could consider to check the PRIMASK before using mutex.

`TARGET_CORTEX_M/rt_CMSIS.c:1520`
[code]
I have no more error in `mktime` with this small fix.

[2016-09-12 17:00] c1728p9 commented on #2647
Hi @svastm, a changes similar to that is being discussed here:
https://github.com/ARMmbed/mbed-os/pull/2391

The problem with that is that it will mask errors. Since the mutex is never acquired, thread safety isn't provided. Even though the current thread will complete the call to mktime without being interrupted there could be another thread using the same global data that is not in a critical se

[2016-09-12 17:09] marcuschangarm opened #2673 "TCPSocket fails after receiving 140 KiB cumulative"
After downloading 140 KiB of data, TCP::recv returns -3011. All further calls to the same socket does nothing.

Test application: https://github.com/ARMmbed/test-mbed-tcpsocket

This issue might be related to https://github.com/ARMmbed/mbed-os/issues/2553

Tested on K64F and GCC_ARM.

[2016-09-12 20:52] maclobdell commented on #2512
This issue is fixed and can be closed.  However, there seems to be other problems building the code in KDS - another issue coming.

[2016-09-12 20:52] #2512 closed

[2016-09-13 02:08] sg- opened #2676 "mbed 2: Test MBED_A28"
### Description

mbed 2 test failure on MBED_A28

[code]

---

**Target**
NUCLEO_F334R8

**Toolchain:**
GCC_ARM, ARM, uARM, IAR

[2016-09-13 02:14] sg- opened #2677 "mbed 2: RTOS Enabled ST-Nucleo_L053R8"
### Description
- Type: Bug

Link errors when compiling RTOS tests for NUCLEO_L053R8 https://developer.mbed.org/platforms/ST-Nucleo-L053R8/#known-limitations But there is support in the codebase causing CI compile failures with ARM and IAR compiler for mbed 2 builds.

---
## Bug

**Target**
NUCLEO_L053R8

**Toolchain:**
ARM and IAR

[2016-09-13 03:44] sg- commented on #2673
@geky

[2016-09-13 03:45] sg- commented on #2621
@pan-

[2016-09-13 03:50] ciarmcom commented on #2621
ARM Internal Ref: IOTMORF-464

[2016-09-13 04:55] bridadan opened #2679 "Examples build test doesn't build examples that require feature `IPV6`"
### Description
- Type: Bug
- Priority: Minor

---
## Bug

**Target**
Those that support the `IPV6` feature

**meed-os sha:**
e9d0fbd178332a681d37568c4ae8d4737cb6419a

**Expected behavior**
Running [this script](https://github.com/ARMmbed/mbed-os/blob/master/tools/test/examples/examples.py) should build all examples in the expected configurations, including those that require the `IPV6` feature

*

[2016-09-13 06:00] daniel-cesarini-tridonic-com commented on #2667
@sg- thanks for the answer. I think that I did not elaborate well enough what we are looking for:
I am looking for a mechanism to have ```atmel-rf-driver.lib``` and other custom ```module_a.lib``` cloning the  repos to specific folders (e.g. to ./FEATURES/TARGET_MODULE_A ), such that they can be compiled or not depending on the targets.json configuration.

@javier-moreno-tridonic-com: I think we a

[2016-09-13 06:12] sg- commented on #2667
The only way to do this is to protect with a macro that evaluates to ```#if 0``` using macros add and remove. mbed deploy will always download all *.lib repos onto disc.

[2016-09-13 06:29] ivan-adzic-tridonic-com commented on #2667
@sg- We are fine with that, just wondering if it is possible to instruct somehow location where it will be downloaded, that it is not the root path always, like @daniel-cesarini-tridonic-com

[2016-09-13 06:32] sg- commented on #2667
Anywhere in the tree it finds the .lib file. Just move this where you want it.

[2016-09-13 07:14] jeromecoutant commented on #2677
Hi

in https://github.com/ARMmbed/mbed-os/pull/2648
I have removed rtos compilation from travis script

Regards,

[2016-09-13 07:18] jeromecoutant commented on #2676
With mbed_lib_rev125, MBED_A28 result is OK with GCC_ARM, ARM, uARM, IAR for NUCLEO_F334R8

[2016-09-13 07:18] sg- commented on #2677
Its more than travis, its also tests.py. If there are no tests I'd suggest RTOS is turned off for the target.

[2016-09-13 07:19] sg- commented on #2676
This test was against master

[2016-09-13 07:27] jeromecoutant commented on #2676
Yes, there was a error with last commit d0e2f1efa6de02e1d522a025995d16f7b1de9edd

a #elif has been deleted....

[2016-09-13 07:28] jeromecoutant commented on #2677
yes, merge https://github.com/ARMmbed/mbed-os/pull/2648 :-)

[2016-09-13 08:32] infinnovation commented on #2553
The stall may be triggered by other traffic on the network e.g. ARP requests.  That might explain the somewhat random nature of the problem.  Needs some more investigation with wireshark.

[2016-09-13 08:52] jeromecoutant commented on #2676
This should be corrected with https://github.com/ARMmbed/mbed-os/pull/2682
Thx @ohagendorf

[2016-09-13 08:53] 0xc0170 opened #2683 "Exporters - projectfiles removal and progendef name broken again?"
### Description
- Type: Question

Issues:

1. progendef name reverted

    This fix was reverted: https://github.com/theotherjimmy/mbed/commit/9b89fc3b90eaadee1081d6dc1ba1cf231a224d58 here https://github.com/theotherjimmy/mbed/commit/f4a686fbd914b1f589a071ea7a34faa395332735 .
    There's no explanation in the commit message. As I shared the link this is a caveat in pypi (references in the commit m

[2016-09-13 09:05] ivan-adzic-tridonic-com commented on #2667
Thank you for support! it works! :+1:

[2016-09-13 09:06] daniel-cesarini-tridonic-com commented on #2667
Thanks. :+1:

[2016-09-13 09:06] #2667 closed

[2016-09-13 11:37] SeppoTakalo commented on #2602
I think the question was about `format-patch` and `am` instead of `cherry-pick` and `merge`

Why would you do it manually if Git already gives you the tools to do it.
Also, why there is no merges happening from release branch back to master. How do we know that issues fixed in release branch are fixed in master?

Also, if master lags behind of release branch, what would be the baseline for testing

[2016-09-13 12:24] sarahmarshy commented on #2683
If a user wants to have multiple configurations, they can rename the file. We were accommodating a lot of logic just to maintain the relativity of paths in some cases, but not in others (zip exporting). This is more reliable and works across IDEs and make. For example, Eclipse project file in the root makes it possible to open the directory as a workspace. Varied configurations is mainly a feature

[2016-09-13 12:26] sarahmarshy commented on #2683
Garbage unknown to the user is par for the course with IDEs, and relocating it to another directory doesn't necessarily change that.

[2016-09-13 12:34] 0xc0170 commented on #2683
If it was one file, ok, but there are multiple files created, it pollutes user workspace.

Lot of SDK produce project files in separate directories for reasons above.

If it was in the different export specific folder, you can easily clean - remove the project files or specific project and regenerate. Do we have that functionality now? Or we need to use git clean?

Thanks for providing more inputs

[2016-09-13 12:39] 0xc0170 opened #2689 "NUCLEO_L053R8 and NUCLEO_F334R8 - build failures (mbed a28, rtos)"
### Description
- Type: Bug |
- Priority: Major

---
## Bug

**Target**
NUCLEO_L053R8, NUCLEO_F334R8

**Toolchain:**
depends on the test

*\* Tests **

NUCLEO_L053R8

[code]

NUCLEO_F334R8

[code]

@bcostm @adustm @LMESTM

[2016-09-13 12:51] 0xc0170 opened #2690 "Exporters - mbed export -c removes git repository"
### Description
- Type: Bug
- Priority: Blocker

---
## Bug

**Target**
Any

**Toolchain:**
Any

**Toolchain version:**

**mbed-cli version:**
0.9.1 (I tried 0.9.5,  the same result)

**meed-os sha:**
dd5649d92b2d292cd94e0a784cb0f2b65b3f2e84

**Steps to reproduce**

Export a simple project like blinky, or don't probably need to even export. Run `mbed export -c -i uvision` , and your .git folder di

[2016-09-13 12:58] ohagendorf commented on #2689
for the MBED_A28 failure please see PR #2682

[2016-09-13 12:59] jeromecoutant commented on #2689
See https://github.com/ARMmbed/mbed-os/pull/2682
and https://github.com/ARMmbed/mbed-os/pull/2648
Thx

[2016-09-13 13:08] 0xc0170 commented on #2689
Thank you guys for referencing , we will go through all those, and run tests

[2016-09-13 13:46] 0xc0170 commented on #2602
Please provide more details, comments like this do not serve any purpose.

Can you elaborate? We are automating this process now, won't be manual.

All lands on master, and cherry-picked to release. Therefore there won't be any merge other way around.

[2016-09-13 14:15] kjbracey-arm commented on #2653
To be C++ standard-ish, "#include <mbed>" might be logical, as .h standard library headers go into global namespace, and unsuffixed ones go into only std.

Alternatively, put the using directives into an #ifndef, so the user can do "#define MBED_NOT_GLOBAL_NAMESPACE"(?) or something at the top of a file.

[2016-09-13 14:51] theotherjimmy commented on #2690
Looking into it now. Thanks for the bug report @0xc0170 !

[2016-09-13 14:56] theotherjimmy commented on #2690
Reproduced. Kills everything, not just the git repo.

[2016-09-13 14:59] geky commented on #2653
Those are good ideas. Does any other library do this: `#include <mbed>`? I suspect that option would require additional work for exporters.

[2016-09-13 15:04] theotherjimmy commented on #2690
The problem is that we are cleaning in two places, one within `project.py` and the other within `project_api.py`. Given that the `export_path` may be the same as the project path, and that the `tools.paths.EXPORT_DIR` is never equal to the project path, we should probably be 'cleaning' the latter. Further, I'm not sure what a user would expect the clean flag to do.

[2016-09-13 15:12] theotherjimmy commented on #2683
We could have the clean flag do exactly that.

Thanks! I'm responding in that thread for the clean issue.

[2016-09-13 15:15] theotherjimmy commented on #2683
Sorry about that. It was certainly not intended (which is why the commit message does not reflect the change) and my have been a messed up git merge/rebase

[2016-09-13 15:17] LMESTM commented on #2599
Hi all

I know understand that yes the answer to my question is :
SPI transfer API is meant for sending both Tx and Rx at the same time (full duplex) ?

And I now understand that transfer API is meant to be used with;
Tx only with Tx size (and Rx null / rx size 0)
Rx only (and Tx null / Tx size 0)
Rx and Tx with same size
Rx and Tx with different doesn't seem to make much sense and makes things mu

[2016-09-13 15:24] theotherjimmy commented on #2690
I just tried switching out all of the cleaning for git clean -fe mbed-os, and I have to say it's pretty nice.

eg:
[code]

[2016-09-13 15:25] theotherjimmy commented on #2690
I'll put up a PR, and we can discuss alternate implementations there.

[2016-09-13 15:33] theotherjimmy commented on #2690
https://github.com/ARMmbed/mbed-os/pull/2692 PR up.

[2016-09-13 19:30] BlackstoneEngineering opened #2693 "AnalogOut not working on K64F"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM, ARMv5

**Toolchain version:**
ARM_Compiler_5.06u3
arm-none-eabi-gcc  4.9.3 20141119

**mbed-cli version:**
(`mbed --version`)
0.9.1

**meed-os sha:**
(`git lo

[2016-09-13 19:31] BlackstoneEngineering commented on #2693
@maclobdell here

[2016-09-14 06:31] tommikas commented on #2424
This has been fixed. Closing.

[2016-09-14 06:31] #2424 closed

[2016-09-14 06:31] tommikas commented on #2523
This has been fixed. Closing.

[2016-09-14 06:31] #2523 closed

[2016-09-14 07:10] 0xc0170 commented on #2693
cc @mmahadevan108

[2016-09-14 07:11] 0xc0170 commented on #2690
Thanks @theotherjimmy for looking, I'll have a look at that PR

[2016-09-14 07:12] 0xc0170 commented on #2683
Please send PR to revert that commit, thanks

[2016-09-14 08:05] 0xc0170 commented on #2599
+1, shall be separete issue

Please send a patch for the documentation of those functions.

[2016-09-14 13:58] theotherjimmy commented on #2690
I'm thinking that doing a clean before exporting will be an mbed-cli issue in the future. I might just re-open that PR with the first commit in the series.

[2016-09-14 13:59] theotherjimmy commented on #2683
Coming soon.

[2016-09-14 14:52] RobMeades opened #2706 "Does the .gitignore file for mbed-os really need to have lib in it?"
### Description
- Type: Question
- Priority: Minor

-----------------------------------------------------------------
## Question

The `.gitignore` file that arrives with mbed has `lib` in its list.  Our mbed platform has a set of files, in a tree that is provided to us, with a sub-directory named `lib` ('cos those files are considered part of a library).  So this is a real pain for us: git entire

[2016-09-14 15:33] bridadan commented on #2706
I would think it wouldn't be necessary, but I may be missing something here.

Any thoughts @screamerbg ?

[2016-09-14 17:11] screamerbg commented on #2706
Don't think that both lib and lib64 should be there.

[2016-09-14 17:14] bridadan commented on #2706
@RobMeades Would you mind submitting a PR with those changes? If someone else thinks this will cause issues they can bring it up there.

[2016-09-14 19:57] maclobdell opened #2711 "After exporting and compiling with IAR IDE, errors when trying to compile with 'mbed compile'"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Bug
- Related issue: N/A
- Priority: Minor

---
## Bug

**Target**
N/A

**Toolchain:**
IAR (possibly others also)

**Toolchain version:**
IAR 7.40

**mbed-cli version:**
0.8.9

**meed-os sha:**
7669d7f8f5669dc02a8b38747a8229b22c8b4ea0

**DAPLink version:**
N/A

**Expected behavior**
After expor

[2016-09-14 19:57] maclobdell commented on #2711
@theotherjimmy @screamerbg

[2016-09-15 09:38] bremoran opened #2713 "BBC micro:bit PinNames.h contains pin names that do not match the micro:bit pins"
### Description
- Type: Bug
- Priority: Minor
## Bug

**Target**
BBC micro:bit

**mbed-os sha:**
7669d7f8f5669dc02a8b38747a8229b22c8b4ea0

**Expected behavior**
Setting up a pin using the pin names documented in the [platform page](https://developer.mbed.org/platforms/Microbit/#pinout) should result in a correctly configured pin.

**Actual behavior**
Setting up a pin with the pin names documented

[2016-09-15 12:24] 0xc0170 commented on #2713
cc @pan- @jaustin

[2016-09-15 12:30] marcuschangarm commented on #2673
Tested on DISCO_F429ZI with the same result.

[2016-09-15 12:42] betzw commented on #2602
I am quite in line with @SeppoTakalo 's comments.
It's quite about using `format-patch` and `am` instead of other means in Git.
The only situation which I have seen where the use of email and  `am` made sense was in Linux when you - as non recognized member of the Linux kernel developer community - wanted to provide a patch to the kernel and start a RFC. This was an elegant way to avoid needing to

[2016-09-15 15:18] janjongboom opened #2717 "Problems with IAR 32K limit on commercial version of IAR Embedded Workbench"
According to [this issue](https://developer.mbed.org/questions/74423/IAR-modules-are-compiled-with-code-size-/#answer11076?compage=1#c24504) on developer.mbed.org we compile the mbed module using the free version of IAR, thus exposing the 32K limit for linking also to paid users of IAR Embedded Workbench...

[2016-09-15 16:28] andreaslarssonublox commented on #2638
@LMESTM, any updates on this?

[2016-09-15 16:37] theotherjimmy commented on #2591
Hey, so that PR is merged and the exporters are live on the website. The should even be backward compatible with old mbed revisions. The zip exporter may time out on you as it may have to create a 600 MB zip, which takes time.

[2016-09-15 16:52] janjongboom commented on #2591
@theotherjimmy Thanks. I'll put something on the blog tomorrow morning.

[2016-09-15 16:58] tibmanus opened #2718 "Header file for targets.json"
## Enhancement

**Reason to enhance or problem with existing solution**
I didn't find a header file generated from the targets.json as there is a similar one to mbed_config.json. This would do a great help for preprocessing functions in IDEs.

[2016-09-15 17:02] theotherjimmy commented on #2591
for good measure, you should test them before you announce them fixed.

[2016-09-15 18:12] mmahadevan108 commented on #2693
The below link is not working for me:
https://github.com/ARMmbed/ci-test-shield/blob/master/TESTS/API/AnalogOut/AnalogOut.cpp#L15

Can you please double check and resend.

[2016-09-15 18:58] BlackstoneEngineering commented on #2693
Right, thats cause that repo is not public yet.

Issue has been resolved, I misread the pinout diagram as AnalogOut being on A5, when in fact it is on the internal header next to A5. Fly wired in correct pin and it passes the tests.

This is where I do an epic face palm and appologize profusely.

Closing issue .

[2016-09-15 18:58] #2693 closed

[2016-09-15 19:01] mmahadevan108 commented on #2693
Glad to note it all worked out for you.

[2016-09-15 20:13] theotherjimmy commented on #2459
@MarceloSalazar, the new makefiles are a bit cleaner, and have debug-info enabled by default.

[2016-09-15 20:23] geky commented on #2673
Manually inspection reveals lwip is returning ERR_RST. This is actually related to https://github.com/ARMmbed/mbed-os/issues/2554.

However, even with that fix, the test program fails to fully download the file (terminates after ~140KiB of data). It looks like there is a timeout on the server side that the board is failing to meet. This script exhibits the same problem locally:
[code]

It looks li

[2016-09-16 05:01] ciarmcom commented on #2673
ARM Internal Ref: IOTMORF-471

[2016-09-16 08:07] 0xc0170 commented on #2718
Can you please elaborate? What would that header file contain?

[2016-09-16 08:08] 0xc0170 commented on #2717
Thanks @janjongboom for tracking this. I have just noticed @bridadan responded there, will wait for an answer.

[2016-09-16 08:10] 0xc0170 commented on #2690
@theotherjimmy What's the status ? I noticed that PR was closed.

[2016-09-16 08:12] tibmanus commented on #2718
I am especially interested in the device_has field in the json, as I see these are generated into defines during compilation.
Example: InterruptIn.h is guarded by an `#if DEVICE_INTERRUPTIN`, so Eclipse won't see it during preprocessing.

[2016-09-16 09:05] MarceloSalazar commented on #2459
Thanks, it looks good :)

[2016-09-16 10:01] tibmanus opened #2724 "How to use Socket attach()"
### Description
- Type: Enhancement | Question

---
## Question

In mbed OS 3 the network Socket API has a callback when a message is sent on the interface. In mbed  OS 5 there is an attach() that can

**How to use the attach()?** Since the callback can be called with no reason, it is useless without knowing what happened. In the nanostack socket_api.h there is a list of socket events (together wi

[2016-09-16 10:58] matthewelse opened #2725 "Inconsistent implementation of I2C::write"
### Description
- Type: Bug
- Related issues: #1670, #1694
- Priority: Minor

Currently, the I2C class is implemented such that I2C::write returns different values to indicate ACK in different overloads. This seems counter-intuitive and should probably be made consistent. In #1670, the documentation was corrected to reflect the documentation, however nothing was done about the implementation.

cc:

[2016-09-16 12:19] marcuschangarm commented on #2673
Hi @geky !

Thank you for the detailed investigation! I wasn't aware of the aggressive HTTP timeout.

The unresponsive calls I was seeing after an error was due to an improperly handled event after closing the socket!

[2016-09-16 12:19] #2673 closed

[2016-09-16 13:14] 0xc0170 commented on #2724
cc @geky

[2016-09-16 14:18] janjongboom opened #2730 "Online compiler ignores MACROS in mbed_app.json"
In [this project](https://github.com/roywant/EddystoneBeacon/blob/master/mbed_app.json) we set a macro to override TLS config file. This works fine on mbed CLI, but is not loaded in the online compiler...

@screamerbg

[2016-09-16 16:57] adbridge opened #2732 "Tools: synch.py needs changes for updating Mercurial source code repos"
### Description

When running synch.py to update source files in mbed2 Mercurial repos, there is a whole list of repos which are attempted to be updated:
"mbed-dev"
"mbed-rtos"
"mbed-dsp"
"mbed-rpc"
"lwip"
"lwip-sys"
"Socket"
"lwip-eth"
"EthernetInterface"
"USBDevice"
"USBHost"
"CellularModem"
"CellularUSBModem"
"UbloxUSBModem"
"UbloxModemHTTPClientTest"
"UbloxModemSMSTest"
"FATFileSystem"

We onl

[2016-09-16 18:08] sg- commented on #2485
[code]

[2016-09-16 18:08] #2485 closed

[2016-09-17 10:35] janjongboom commented on #2730
Has been resolved

[2016-09-17 10:35] #2730 closed

[2016-09-17 11:42] sandeepach commented on #1632
Hello
I have no way to check this directly.
Only the github is having the ethernet feature. Is there a mbed library i can download which has net/ipv4 feature.
Regards
Sandeep

[2016-09-18 06:24] #1672 closed

[2016-09-18 20:23] ivankravets opened #2736 "Project generator for Em::Blocks: Duplicated macros and zero optimization"
Hi,
1. There is a lot of duplicated macros in output `EIX` (DEVICE_SPI=1, etc...)
2. Project generator generates `-O0` by default. Is this a bug or feature? The simple project for NUCLEO_F030R8 with "mbed serial" in a few lines errors this message:

[code]

`Os` resolves it.

Thanks!

[2016-09-18 22:47] #2554 closed

[2016-09-19 07:05] 0xc0170 commented on #2736
Should not be ``-O0`` by default, however many of exporters do it from my experience. It should follow the flags that are set for the command line.

cc @EmBlocks - please have a look

[2016-09-19 08:29] teetak01 opened #2737 "NetworkInterface does not support get_mac_address()"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM|ARM|IAR

**meed-os sha:**
latest release/master

Currently I cannot call get_mac_address() with NetworkInterface class. This could be fixed by adding:

 virtual const char *get_mac_address() = 0;

to features/net/network-socket/NetworkInterf

[2016-09-19 09:19] yankee14 opened #2738 "Please consider generating header with device-specific configuration"
## Enhancement

**Reason to enhance or problem with existing solution**
I recently ran into an issue where my IDE would recognize certain common classes like DigitalOut or DigitalIn, but would not recognize device-specific classes such as PwmOut. See my [stackoverflow post](https://stackoverflow.com/questions/39553139/why-does-eclipses-indexer-recognize-some-classes-but-not-others) for more detail

[2016-09-19 09:57] andcor02 opened #2740 "Exporting to GCC and ZIP"
Hi,

There seems to be issues with exporting to GCC and ZIP using the Online IDE.

Simply flags up "Unable to export for this Target"

This happens both with mbed-os and mbed-classic libraries.

Regards,

Andrea, team mbed

[2016-09-19 10:32] andcor02 opened #2742 "Automatically switch targets"
### Automatic switch of target when importing new program
- Type: Enhancement
## \- Priority: Minor
## Enhancement

So currently, when a new user imports a program for specific platform the online IDE does not automatically switch to that target. While this may not be an issue to a lot of people if we think about the user case of the micro:bit i have had reports of people not understanding why the

[2016-09-19 13:52] tibmanus commented on #2738
Ref #2718

[2016-09-19 15:19] sg- commented on #2742
There is no relationship between a program and a target.

When importing a program it selects the last board you were using. It does maintain the last used for a program. @screamerbg

[2016-09-19 15:36] #2706 closed

[2016-09-19 15:40] sg- commented on #2668
@mottigondabi is this resoled?

[2016-09-19 15:41] sg- commented on #2655
@janjongboom is this resolved?

[2016-09-19 15:41] sg- commented on #2653
@tommikas is this resolved?

[2016-09-19 15:49] sg- commented on #2628
@thegecko any update on this?

[2016-09-19 15:51] sg- commented on #2608
@tommikas Is this resolved?

[2016-09-19 15:56] sg- commented on #2602
Only new targets and bug fixes are taken to the release branch. This is done by us as part of creating a release so the method shouldn't much matter.

[2016-09-19 15:56] #2602 closed

[2016-09-19 15:57] sg- commented on #2591
@janjongboom Can this be closed?

[2016-09-19 16:00] #2567 closed

[2016-09-19 16:01] sg- commented on #2560
This should be fixed with https://github.com/ARMmbed/mbed-os/pull/2733

[2016-09-19 16:03] sg- commented on #2553
@infinnovation any update?

[2016-09-19 16:05] sg- commented on #2507
@andcor02 Can this be closed?

[2016-09-19 16:06] sg- commented on #2506
@bcostm @adustm @LMESTM bump

[2016-09-19 16:11] sg- commented on #2500
Look for conversation about test injected macro and alternate main entry point

[2016-09-19 16:17] sg- commented on #2448
@toyowata Is this resolved with the latest exporter updates?

[2016-09-19 16:21] sg- commented on #2439
@LiyouZhou Is this resolved?

[2016-09-19 16:23] sg- commented on #2437
@geky bump

[2016-09-19 16:23] sg- commented on #2421
@tommikas Is this resolved?

[2016-09-19 16:26] sg- commented on #2408
@kudangun is this resolved?

[2016-09-19 16:27] sg- commented on #2397
@AlessandroA Is this resolved?

[2016-09-19 16:29] sg- commented on #2383
I think this needs target.json input validation to reject commands that are not valid.

[2016-09-19 16:29] LiyouZhou commented on #2439
From @geky 's previous comment, it looks like it is.

[2016-09-19 17:00] thegecko commented on #2628
I believe @jaustin provided a list of expected keys for this file.

[2016-09-19 17:48] theotherjimmy commented on #2655
But it is related to the PR that mentions this issue, that was merged 3 days ago.

[2016-09-19 18:00] theotherjimmy commented on #2736
The macro duplication can simply be removed. The exporters default to using the `-o debug-info` switches. This can be changed by adding a `-o` to the command line of the export command.

[2016-09-19 18:13] #2439 closed

[2016-09-19 18:17] sg- commented on #2628
Then I guess we're just waiting on a PR then.

[2016-09-19 18:25] andcor02 commented on #2507
sg- yes this can be closed

[2016-09-19 18:25] #2507 closed

[2016-09-19 18:34] theotherjimmy commented on #2711
@sg- agreed. It seems to be using a folder called `Debug` for it's object files, library files, and elf files. This is defined in the template here: https://github.com/ARMmbed/mbed-os/blob/master/tools/export/iar_template.ewp.tmpl#L18-#L29

[2016-09-19 18:52] theotherjimmy commented on #2742
Just a thought: we could include a .mbed for those examples and heed that. It would take some doing thought.

[2016-09-19 19:08] BlackstoneEngineering commented on #2742
I think this would cause more confusion than it would help. A corner case that can be solved via better documentation rather than a tools issue.

[2016-09-19 20:49] mmahadevan108 commented on #1834
Can we close this issue?

[2016-09-20 00:23] toyowata commented on #2448
@sg- Actually, it is getting worse.  I got an error dialog below when I exported to the LPCXpresso.

![lpcxpresso_export_error](https://cloud.githubusercontent.com/assets/4926755/18653227/75e8a6a8-7f13-11e6-8b2f-cb31ec4d5583.jpg)

### Step to reproduce

1. Create new blinky program for NXP LPC target such as LPC1768
2. Export the project to LPCXpresso

[2016-09-20 02:18] AnimismRhyme commented on #1834
Dear mmahadevan108-san,

I have just tested my program with mbed-lib v126
and it is working fine!
So I think that we can call this issue complete and
should be able to be closed.

Best Regards,
20-Sep-2016
Motoo Tanaka

[2016-09-20 02:18] #1834 closed

[2016-09-20 02:56] meriac commented on #2605
@nuket : I had good results parsing arm-non-eabi-nm output - feel free to have a look on an early prototype for [d3.js based linker visualization](https://github.com/ARMmbed/mbed-os-linker-report).

You can find the command line settings I chose [here](https://github.com/ARMmbed/mbed-os-linker-report/blob/master/elfsize.php#L20-L22). Please note that I had to enable debug information to get line n

[2016-09-20 05:01] ciarmcom commented on #2738
ARM Internal Ref: IOTMORF-474

[2016-09-20 05:01] ciarmcom commented on #2737
ARM Internal Ref: IOTMORF-475

[2016-09-20 05:01] ciarmcom commented on #2732
ARM Internal Ref: IOTMORF-476

[2016-09-20 05:01] ciarmcom commented on #2725
ARM Internal Ref: IOTMORF-477

[2016-09-20 05:01] ciarmcom commented on #2724
ARM Internal Ref: IOTMORF-478

[2016-09-20 05:01] ciarmcom commented on #2718
ARM Internal Ref: IOTMORF-479

[2016-09-20 05:01] ciarmcom commented on #2711
ARM Internal Ref: IOTMORF-480

[2016-09-20 05:02] ciarmcom commented on #2690
ARM Internal Ref: IOTMORF-481

[2016-09-20 05:02] ciarmcom commented on #2683
ARM Internal Ref: IOTMORF-482

[2016-09-20 05:02] ciarmcom commented on #2679
ARM Internal Ref: IOTMORF-483

[2016-09-20 05:02] ciarmcom commented on #2649
ARM Internal Ref: IOTMORF-484

[2016-09-20 05:02] ciarmcom commented on #2641
ARM Internal Ref: IOTMORF-485

[2016-09-20 05:02] ciarmcom commented on #2608
ARM Internal Ref: IOTMORF-486

[2016-09-20 05:03] ciarmcom commented on #2470
ARM Internal Ref: IOTMORF-487

[2016-09-20 05:04] ciarmcom commented on #2469
ARM Internal Ref: IOTMORF-488

[2016-09-20 05:04] ciarmcom commented on #2350
ARM Internal Ref: IOTMORF-489

[2016-09-20 06:09] tommikas commented on #2421
Yep. Just been waiting for the changes to land on master. Closing now.

[2016-09-20 06:09] #2421 closed

[2016-09-20 06:10] tommikas commented on #2445
Yep. Just been waiting for the changes to land on master. Closing now.

[2016-09-20 06:10] #2445 closed

[2016-09-20 06:15] tommikas commented on #2608
Yep, seems to work fine now. Closing.

[2016-09-20 06:15] #2608 closed

[2016-09-20 06:16] tommikas commented on #2653
Yes. Closing.

[2016-09-20 06:16] #2653 closed

[2016-09-20 06:42] Testato commented on #2736
Also on EmBitz forum we are talking about this:
http://www.emblocks.org/forum/viewtopic.php?f=29&t=774#p4310

[2016-09-20 07:06] nvlsianpu commented on #2477
Required are this three mentioned.

[2016-09-20 07:35] MarceloSalazar commented on #2459
Yes, I tested the master version and works ok. Closing.

[2016-09-20 07:35] #2459 closed

[2016-09-20 08:55] janjongboom commented on #2655
@theotherjimmy Ah, yeah, then probably.

[2016-09-20 09:52] ccli8 opened #2750 "Test items fail with K64F after update"
After update mbed-os to latest version (SHA code: eccecd3735d14230b2e3d1d57bc228992ec60c6b), many test items are failed on both K64F and NUMAKER-PFM_NUC472 boards.

## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
0.9.1

**meed-os sha:**
eccecd3 Merge pull request #2733 from meriac/master

[2016-09-20 10:07] MarceloSalazar commented on #2500
Could you please link to that conversation?

[2016-09-20 11:46] bridadan commented on #2750
@ccli8 Would you be able to provide more information on what tests are failing for K64F with GCC_ARM?

[2016-09-20 12:35] MarceloSalazar commented on #2483
Leaving this ticket open to keep track of the request, as cannot access to this ticket:
https://github.com/ARMmbed/configuration-store/issues/26

[2016-09-20 13:26] pan- commented on #2621
@janjongboom I've just updated all the mbed OS 2 examples and tested them on NRF51822, NRF51_DK, NRF52_DK, K64F and NUCLEO_F401RE and it looks just fine. Could you test it and if your satisfied tag this issue as resolved ?

[2016-09-20 14:20] theotherjimmy commented on #2350
Guys, We can't rename things willy-nilly like this. We have several places (more than just here) that consume the targets.json file and use it. In particular, the website and the mbed-sdk-tools both do this. If you want to make a change like this, please submit PRs too all three locations.

[2016-09-20 14:28] toyowata commented on #2660
I got the LPCXpresso1347 board and just started to see detail.  I hope same fix as the LPC11XX can be used.  I will investigate more.

[2016-09-20 14:31] infinnovation commented on #2553
Apologies for the somewhat vague hand-waving while trying to pin down a reproducible fault condition.
I haven't had an opportunity to progress this further due to other demands on my time.  Maybe in the next week or two...

[2016-09-20 14:56] theotherjimmy commented on #2448
reproduced. I have the error message at hand. Could you try exporting from the command line tools?

that is:
[code]
then import the project into lpcxpresso

This would help, as the error you are seeing is only related to how the online export system works. If that's the only issue, then exporting from the command line should work.

[2016-09-20 15:14] theotherjimmy commented on #2736
I read the forum link. I have another suggestion: Use the makefile exporter coupled with a simple project file that points to the Makefile.

[2016-09-20 16:16] nuket commented on #2635
@janjongboom Are the patches associated with this stable / getting closer to being merged?

[2016-09-20 16:40] janjongboom commented on #2635
ping @pan-

[2016-09-20 17:12] janjongboom commented on #2621
@pan- yeah, seems to work again. Thanks!

[2016-09-20 17:12] #2621 closed

[2016-09-20 18:00] janjongboom opened #2755 "Export of mbed-dev to CooCox IDE cannot compile, `-std=gnu++98` is not valid for C"
From a user:
1. Open mbed Blinky (mbed Classic).
2. Add `mbed-dev` to get the sources of mbed.
3. Export to CooCox IDE
4. Build from CooCox

I think something goes wrong in the exporter, should be targeting C++ not C...

@theotherjimmy

[2016-09-20 18:01] janjongboom commented on #2755
Hmm... let's first ask user if what he's doing actually makes sense...

[2016-09-20 18:26] JojoS62 commented on #2660
Great,

And thanks for your help.

I have attached the modified source, I don’t know if my pull request did work.

Another thing to note: there is a definition for CT32B1, but this is used for the internal mbed ticker and also for USB, so these PWM pins should not be used.

Then I use the LPC1347 with the LPCXpresso. I have created the startup code for this toolchain and modified the linker script

[2016-09-20 18:54] #2655 closed

[2016-09-20 19:13] janjongboom commented on #2755
Verified. Real issue.

[2016-09-20 19:19] pan- commented on #2635
I've made three different PR to solve some issues we currently have with the memory consumption: #2715 #2741 and #2745.
Hopefully they will be merged soon but it will not fix everything,

Here is some good practices to optimize the application for size:
* Avoid the standard IO subsystem (apply #2715, #2741 and compile with NDEBUG), it saves 2K of RAM and 14K of flash with ARMCC (online compiler).

[2016-09-20 21:10] sg- commented on #2500
Its on the developer site. Not having much luck with the search there right now

[2016-09-20 21:50] sg- commented on #2350
Just drop links to where the other changes need to also be made.

[2016-09-20 21:52] theotherjimmy commented on #2350
https://developer.mbed.org/users/mbed_official/code/mbed-sdk-tools/
https://github.com/ARMmbed/mbed-sdk-web

[2016-09-20 21:53] theotherjimmy commented on #2350
We're working on making these tools follow the mbed-os tools, but that's not done yet.

[2016-09-20 22:01] theotherjimmy commented on #2755
The coide project files are all target specific. To fix this issue, you would have to change every line like this one: https://github.com/ARMmbed/mbed-os/blob/master/tools/export/coide_lpc1768.coproj.tmpl#L9 to account for the difference between C and C++ files. I'm not entirely sure what the coide project file structure looks like, so I can't comment on if this is possible in that IDE. If only we

[2016-09-20 22:28] aracosta1 opened #2758 "Mbed 2 - Mbed OS 5 : Sleep incorrect for Nordic target"
### Description
- Type: Bug

---
## Bug

**Target**
TARGET_NORDIC
TARGET_MCU_NRF51822
TARGET_NRF5

The sleep() function don't take into account the use of the softdevice.
the correct implementation should be similar to the one used on [mbed OS 3:](https://github.com/ARMmbed/mbed-hal-nrf51822-mcu/blob/master/source/sleep.c#L26)

[2016-09-21 02:38] ccli8 commented on #2750
@bridadan Attach test report for your information
[code]

[2016-09-21 04:56] toyowata commented on #2448
@theotherjimmy

The mbed export command generates LPCXpresso project without error.  However, I got following error when I build the project by LPCXpresso IDE.

[code]

The project windows doesn't seem to have source code and libraries.

![lpcxpresso_project](https://cloud.githubusercontent.com/assets/4926755/18698189/0b6c18be-8003-11e6-8a06-1ea3624b2eb7.jpg)

[2016-09-21 09:12] sstaub opened #2766 "Ethernet Multicast Problems"
Target: LPC1768
mbed2: build 124
Priority: Blocker
Tools: PlatformIO

I need to receive two multicast streams from one port but different address (sACN E1.31)
The binding of the first socket (A) is ok, but the binding of the second socket (B) fails,
so I receive only the data from socket A.
Maybe the problem is that is not possible to bind two sockets on the same port?
I find no function for bindi

[2016-09-21 11:43] pan- commented on #2758
@nvlsianpu Could you look at this ?

[2016-09-21 12:15] betzw opened #2769 "Call __WFI() when going idle"
### Description
- Type: Enhancement
- Priority: Minor

---
## Enhancement

As long as there is no tickless mode, function `default_idle_hook()` should (at least) call `__WFI()` to reduce power consumption.

**Target**
all

**Toolchain:**
all

**mbed-cli version:**
all

**Expected behavior**
Reduced power consumption when idle.

**Actual behavior**
No reduction in power consumption when idle.

---

[2016-09-21 12:50] JojoS62 commented on #2448
I've tried also the mbed-cli with the blinky example. The export stops after scanning FEATURE_STORAGE and the exported project file is not generated.

[code]

I can compile the the project with GCC_ARM. With GCC_CR, the .bin is created also but there is an error when the size should be prompted:
`
Link: mbed-os-example-blinky
Elf2Bin: mbed-os-example-blinky
Unknown toolchain for memory statistics

[2016-09-21 13:39] nvlsianpu commented on #2758
Thanks for yours comment. I will take care of fix it.

[2016-09-21 14:17] JojoS62 commented on #2448
Update: I was looking for an archive file in .build, but a .project and .cproject for the eclipse ide is built in the root of my blinky-example project. These files look ok, but when I import from the root of my project, the import pulls in all the unwanted stuff like the complete mbed-os dir with all tools etc.
[Uploading mbed-os-example-blinky.zip…]()

[2016-09-21 16:48] theotherjimmy commented on #2448
@toyowata what version of mbed-os are you using?

@JojoS62 Comment 1: That error is likely related to memap.py, could you open a new issue for that link error so that we can track it separately?

@JojoS62 Comment 2: The .project and .cproject file in the root is expected; zip files are only created for mbed 2 tests. The source of mbed-os (*.c, *.cpp) should be pulled in to the project, but the too

[2016-09-21 18:44] geky commented on #2649
Related pr: https://github.com/ARMmbed/mbed-os/pull/2664/files

[2016-09-21 18:45] geky commented on #2737
The `get_mac_address` function has actually been moved as a part of https://github.com/ARMmbed/mbed-os/pull/2664, which is just awaiting review/merge.

[2016-09-22 06:39] Testato opened #2776 "mbed-dev online build fail"
last version of mbed-dev library cannot be build online.
I made an exame test, try to compile this:
https://developer.mbed.org/users/testato/code/Testato-mbed-dev-Bluepill/rev/db1bed031739

[2016-09-22 07:50] 0xc0170 opened #2777 "Tools - test --export support addition"
### Description
- Type: Enhancement
- Priority: Minor
## Enhancement

I already provided a PR but was outdated thus failing, for reference: https://github.com/ARMmbed/mbed-os/pull/2208. It would be nice to pick it up and add this enhancement, to be able to debug tests if needed.

[2016-09-22 15:04] bulislaw opened #2783 "NUCLEO_F091RC: Multiple test failures"
### Description
- Type: Bug
## Bug

**Target**
NUCLEO_F091RC

**Toolchain:**
GCC_ARM|ARM

**Toolchain version:**
GCC: 5.4.1 20160609 (release) [ARM/embedded-5-branch revision 237715]
ARM: ARMCompiler5.06u2
**mbed-cli version:**
0.9.1

**meed-os sha:**
5d1d8b4

Multiple failures in automated tests both for MBED2 and MBED5:

**MBED5: ARM_GCC**

[code]

**MBED5: ARM**

[code]

**MBED2: ARM_GCC**

[co

[2016-09-22 15:13] sg- commented on #2769
@betzw can you point at the particular change? bdab10d is quite large

[2016-09-22 15:19] sg- commented on #2766
@geky any thoughts on this?

[2016-09-22 15:22] sg- commented on #2776
Removing your library and the header / confSysClock() call the library build fine for many targets.

If you identify a particular problem please open a new issue

[2016-09-22 15:22] #2776 closed

[2016-09-22 15:26] sg- commented on #2755
coide templates needs a refactor. Will consider this an enhancement.

[2016-09-22 15:30] sg- commented on #2750
@ccli8 I dont see what change could have done that. Will have to look at closer. If you see something please let us know. @meriac @AlessandroA

[2016-09-22 15:32] sg- commented on #2740
@andcor02 is the 2-5 minute working or do you get an error message

[2016-09-22 15:33] sg- commented on #2323
@bridadan Is this able to be closed?

[2016-09-22 15:34] theotherjimmy commented on #2740
The IDE will time out after 1 minute, I think. You would need to export
with the website interface to avoid the timeouts

On Thu, Sep 22, 2016 at 10:32 AM, Sam Grove <notifications@github.com>
wrote:

--
================
Success and happiness cause you to regain willpower; what you need to heal
your mind from any damage sustained by working is not inactivity, but
reliably solvable problems which r

[2016-09-22 15:35] bridadan commented on #2750
@ccli8 Thanks for the summary, though it's still a bit tough to figure out the issue without the verbose log.

Could you rerun the tests (or just one of the failing tests) with the `-v` flag and post the log?

[2016-09-22 15:37] bridadan commented on #2323
@sg- I think it's probably safe to close this issue. I alluded to this above, but the `build_everything.py` script is pretty out of date and should honestly probably just be removed. If no one has any issue with this  I'll submit a PR for it

[2016-09-22 15:37] sg- commented on #2320
Will look at making target.core a parameter that can be set from the application. that should remove the magic stripping in the gcc.py file (or __init__ whichever) and allow the override to also be passed to exporters.

[2016-09-22 15:38] sg- commented on #2313
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:38] #2313 closed

[2016-09-22 15:40] sg- commented on #2271
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:40] #2271 closed

[2016-09-22 15:42] sg- commented on #2267
@screamerbg can you respond about this and if it will be fixed. I recall something about the CWD and ```../../../``` being appended to the .d files or something similar

[2016-09-22 15:43] sg- commented on #2263
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:43] #2263 closed

[2016-09-22 15:44] sg- commented on #2262
Wont fix. Please export and use a makefile.

[2016-09-22 15:44] #2262 closed

[2016-09-22 15:45] sg- commented on #2252
Fixed

[2016-09-22 15:45] #2252 closed

[2016-09-22 15:45] sg- commented on #2251
If you have a fix please send a patch.

[2016-09-22 15:49] sg- commented on #2242
@porkybrain Thanks

We'll start looking at these and if you want to help out, more than happy to collaborate!

[2016-09-22 15:49] ciarmcom commented on #2320
ARM Internal Ref: IOTMORF-510

[2016-09-22 15:49] ciarmcom commented on #2242
ARM Internal Ref: IOTMORF-511

[2016-09-22 15:50] #2240 closed

[2016-09-22 15:50] sg- commented on #2237
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:50] #2237 closed

[2016-09-22 15:52] sg- commented on #2217
[code]
should be moved into common code

[2016-09-22 15:53] sg- commented on #2212
@AlessandroA is this now implemented?

[2016-09-22 15:53] sg- commented on #2209
@AlessandroA is this resolved?

[2016-09-22 15:55] sg- commented on #572
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:55] #572 closed

[2016-09-22 15:55] sg- commented on #599
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:55] #599 closed

[2016-09-22 15:56] sg- commented on #675
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:56] #675 closed

[2016-09-22 15:56] sg- commented on #1071
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

Looking to remove code red support if anyone is interested in contributing that!

[2016-09-22 15:56] #1071 closed

[2016-09-22 15:58] sg- commented on #1208
Makefiles should export to reflect the mbed build system. This is an easy way and modify and extend to create such libs. Makefiles are able to be created for iar, arm and gcc

[2016-09-22 15:58] #1208 closed

[2016-09-22 15:58] sg- commented on #1242
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:58] #1242 closed

[2016-09-22 15:59] sg- commented on #1651
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 15:59] #1651 closed

[2016-09-22 16:00] sg- commented on #1723
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 16:00] #1723 closed

[2016-09-22 16:00] sg- commented on #1756
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 16:00] #1756 closed

[2016-09-22 16:00] sg- commented on #1870
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 16:00] #1870 closed

[2016-09-22 16:01] sg- commented on #2040
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 16:01] #2040 closed

[2016-09-22 16:01] sg- commented on #2163
Closing all older exporter related issues. Please reopen if still valid. https://developer.mbed.org/blog/entry/Fixed-exporters-in-the-mbed-Online-Compi/

[2016-09-22 16:01] #2163 closed

[2016-09-22 16:04] AlessandroA commented on #2212
@sg- Yes, this is now implemented by the `--app-config` option. Thanks!

[2016-09-22 16:04] #2212 closed

[2016-09-22 16:05] AlessandroA commented on #2209
@sg- Yes, it was fixed by the linked PR. Closing the issue.

[2016-09-22 16:05] #2209 closed

[2016-09-22 16:10] sg- commented on #2740
If that is the case, zip should be removed as an option from the IDE.

[2016-09-22 16:11] #2323 closed

[2016-09-22 16:19] SeppoTakalo opened #2784 "Build system does not allow nested features."
### Description
- Type: Bug
- Priority: Blocker.
  I cannot create Nanostack binary release because of this.

---
## Bug

**Expected behavior**
I should be able to create nested features like `FEATURE_NANOSTACK/FEATURE_LOWPAN_ROUTER`

**Actual behavior**
Build system is not picking up the second level of features.

**Steps to reproduce**
Create a  `FEATURE_X` directory under any known feature. X s

[2016-09-22 16:21] SeppoTakalo commented on #2784
CC: @0xc0170 @sg- @kjbracey-arm

[2016-09-22 16:21] SeppoTakalo commented on #2784
CC: @TuomoHautamaki

[2016-09-22 17:18] RobMeades opened #2786 "Question/bug: recent CMSIS RTOS initialisation/memory/behaviour change (possible issue with #2642)"
I'm in the process of integrating a new target into mbed-os.  A week ago, at #7669d7f, I had a working Pull Request that passed all the `htrun` tests ready to go.  Because of RTX file change collisions I've had to rebase to #c1c1492 and now CMSIS RTOS doesn't even get into `mbed_sdk_init()`: `rt_tsk_create()` returns 0.

Can anyone point me at any recent changes to do with memory configuration, in

[2016-09-22 18:58] theotherjimmy commented on #2784
Yes: This is simply that the Resources object has a Resources object for each feature and assumes that there will be no features nested within those feature objects. Fixing this would require that the build system traverse a DAG of resources objects to collect it's build files. @screamerbg

[2016-09-22 19:22] maclobdell commented on #2565
this is resolved

[2016-09-22 19:22] #2565 closed

[2016-09-22 20:52] ciarmcom commented on #2740
ARM Internal Ref: IOTMORF-512

[2016-09-22 20:52] ciarmcom commented on #2217
ARM Internal Ref: IOTMORF-513

[2016-09-22 20:52] ciarmcom commented on #1514
ARM Internal Ref: IOTMORF-514

[2016-09-22 21:11] maclobdell opened #2789 "post build scripts not exportable"
### Description
- Type: Enhancement
- Related issue: n/a
- Priority:  Major

## Enhancement

**Reason to enhance or problem with existing solution**

Targets such as NCS36510 require post-build scripts to perform target-specific actions such as calculate CRC, add firmware revision number, and place in a specific location in memory.  At this time, this is accomplished in mbed cli by kicking off a p

[2016-09-22 22:45] sg- commented on #2784
Can we just remove the top level ```FEATURE_NANOSTACK``` and rename to ```nanostack```?

[2016-09-23 00:08] toyowata commented on #1726
@0xc0170 I confirmed that exported IAR project for RZ/A1H works fine.  Ready for close this issue?

[2016-09-23 04:45] betzw commented on #2769
It is not related to any particular change since it seems as if this behavior exists since a long time.
Basically it is about commenting the call to sleep out in funcrion ` default_idle_hook()` (see [here](https://github.com/ARMmbed/mbed-os/blob/master/rtos/rtos/rtos_idle.c#L31)).

[2016-09-23 05:27] ccli8 commented on #2750
@bridadan I run the test `rtos-rtx-target_cortex_m-tests-memory-heap_and_stack` with the `-v` flag and get the following log. Besides, do you reproduce the issue with the same mbed OS SHA eccecd3735d14230b2e3d1d57bc228992ec60c6b on K64F. If your test is OK, I need to check more my environment.
[code]

[2016-09-23 05:36] kiransajeev85 commented on #2251
Hi sg,

We do not have a fix at the moment but we can take it up if no solution is available already. Automotive OBDII standard defines message fields having more than 8 bytes and no limit is imposed as such. For example Vehicle Identification Number field is 17 bytes.

Regards,
Kiran

[2016-09-23 06:51] #1726 closed

[2016-09-23 06:56] sebbad opened #2791 "Printf problem on silabs STKs with mbed 2"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
Silicon Labs STKs (tested on Happy Gecko)

**Toolchain:**
online IDE (mbed 2.0 library) imported from https://developer.mbed.org/users/mbed_official/code/mbed/

**Expected behavior**
Using printf should allow output on the Silicon Labs STKs via the debug output (virtual

[2016-09-23 07:17] SeppoTakalo commented on #2784
Removing the top level `FEATURE_NANOSTACK` works fine.

I'll continue with that and send PR soon.

[2016-09-23 07:24] 0xc0170 commented on #2791
cc @stevew817 @akselsm

[2016-09-23 07:27] 0xc0170 commented on #2789
I am curious how they ship the example projects for various IDE, what do they provide (what type of postbuild script do they add to the projects) ?

[2016-09-23 08:17] 0xc0170 commented on #2786
Looking at the history, https://github.com/ARMmbed/mbed-os/commits/master/rtos , there's stack check enabled, some targets fixes, Thread class clean up.

[2016-09-23 08:55] 0xc0170 commented on #2769
Tickless mode shall get into the code base this year, there were some problems as you might have noticed with tickers that needs fixing, it's parked on the feature branch at the moment.

Even if you add ``__WFI()`` how much would we save as systick is running?

[2016-09-23 09:02] RobMeades commented on #2786
Thanks Martin.  It's definitely one of those as, if I revert the changes in that directory, my target works again.  Digging...

[2016-09-23 09:09] betzw commented on #2769
No, I didn't notice the issues with tickers. But did I get it right that when calling `__WFI()` in some situations tickers might not behave correctly anymore? If yes, obviously you shouldn't call `__WFI()` for the moment, otherwise even if it will save less than in tickless mode, it will anyway improve power consumption.

[2016-09-23 10:51] RobMeades commented on #2786
It appears to be the [Add RTX API to report stack usage](https://github.com/ARMmbed/mbed-os/commit/c31929669265b51abd2d3a5102a161fdcf77108d) commit that's causing my problem.  Investigating...

[2016-09-23 13:18] jeromecoutant commented on #2783
Hi

I have checked on master branch with NUCLEO_F091RC,
All tests are now OK except:
- MBED OS2 MBED_37/MBED_38 are still FAIL
- MBED OS5 lp_timeout and lp_ticker tests, please wait for: https://github.com/ARMmbed/mbed-os/pull/2759

Regards,

[2016-09-23 13:39] bcostm commented on #2506
I have exported the Nucleo_RTOS_basic example on SW4STM32 toolchain using Nucleo_F446RE platform. I confirm the build error.

I have also change the FPU setting in my project to:
MCU Settings Flaoting point hardware: fpv4-sp-d16
Floating-point ABI: softfp
Instruction Set: Thumb II
As proposed Graham, and the build and execution are OK

Now, I looked in mbed-os/tools/export folder and there is only

[2016-09-23 13:50] RobMeades commented on #2786
If I include the `void *argv` parameter in the `OS_TCB` struct in `rt_TypeDef.h`, `rt_task_create()` fails (even if I comment out all uses of `argv`) , if I add it back in then `rt_task_create()` returns 1 and things work.  So something doesn't fit with these extra 4 bytes in the TCB.

[2016-09-23 14:07] toyowata commented on #2448
@theotherjimmy I used mbed-os-5.1.4 for [this](https://github.com/ARMmbed/mbed-os/issues/2448#issuecomment-248511559) test and rev.126 for [this](https://github.com/ARMmbed/mbed-os/issues/2448#issuecomment-248167360).

I also found some reports from community questions below:
https://developer.mbed.org/questions/74489/Exprt-error-LPCxpresso/
https://developer.mbed.org/questions/74741/Exporting-EA-

[2016-09-23 14:31] bcostm commented on #2506
I have already something working. I just need now to check all platforms and set the correct FPU option in the sw4stm32.py file. The PR will come soon...

[2016-09-23 15:00] bulislaw opened #2796 "NUCLEO_F334R8: Multiple test failures"
### Description
- Type: Bug
## Bug

**Target**
NUCLEO_F334R8
**Toolchain:**
GCC_ARM|ARM

**Toolchain version:**
GCC: 5.4.1 20160609 (release) [ARM/embedded-5-branch revision 237715]
ARM: ARMCompiler5.06u2
**mbed-cli version:**
0.9.1

**meed-os sha:**
c1c1492

Multiple failures in automated tests both for MBED2 and MBED5:
**MBED2 GCC**

[code]

**MBED2 ARM**

[code]

**MBED5 ARM**

[code]

**MBED5:

[2016-09-23 15:06] jeromecoutant commented on #2796
Hi
NUCLEO_F334R8 is not MBED OS5 compatible.
I am going to check MBED OS2 failed tests

[2016-09-23 15:09] bulislaw commented on #2796
Ah right it's listed as MBED 2 only. Thanks.

[2016-09-23 16:10] RobMeades commented on #2786
It looks as though there might be an issue with #2642 (at least, there is for me).  With the `void *argv` pointer added to the `OS_TCB` struct it is now 64 bytes in size.  In `RTX_CM_lib.h` I see  '#define OS_TCB_SIZE 60', which I'm guessing defines the size of this struct (why not use `sizeof()`?).  From the map file, with this pointer added, the struct is now 64 bytes big.  With the #define left

[2016-09-24 08:29] sakag1975 opened #2803 "The specified repository URL in BUILDING.md looks outdated."
### Description
- Type: Documentation
- Priority: Minor

---
## Documentation

**Background**
- I was trying to build mbed-os reading documents because I want to contribute to this project.

**Attempts**
- I read https://github.com/ARMmbed/mbed-os/blob/master/docs/BUILDING.md.
- https://github.com/mbedmicro/mbed.git is specified as mbed-os repository URL.
- https://github.com/ARMmbed/mbed-os/blame

[2016-09-24 17:19] RobMeades commented on #2786
I've proposed changing `OS_TCB_SIZE` to 64 in the above pull request.  If a different fix is required, please feel free to reject the pull request.

[2016-09-24 18:44] kubaraczkowski commented on #2713
Please note that this is really confusing, especially for new users of this platform.

MBED pinouts are very clear - for every target there is a clear image on the platform page that maps precisely to what is usable in the code.

Examples:
LPC1768:
- [platform page (with pin mapping image)](https://developer.mbed.org/platforms/mbed-LPC1768/)
- [PinNames.h](https://github.com/ARMmbed/mbed-os/blob/m

[2016-09-24 21:27] #2649 closed

[2016-09-25 04:31] TaniaMirzin opened #2806 "armcc compilation with mbed-os library"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Bug
- Related issue:
- Priority: Blocker

---
## Bug

**Target**
K64F

**Toolchain:**
ARM

Toolchain version: 5.06 update 3(ARMCompiler5.06u3)

**mbed-cli version:**
(`0.8.8`)

**meed-os sha:**
(`bdab10dc0f90`)

Expected successful linkage when application compiled with mbed-os library using AR

[2016-09-25 06:38] janjongboom opened #2807 "ZIP Export not working for F091RC"
From [StackOverflow](http://stackoverflow.com/questions/39680587/cant-export-program-from-online-mbed-compiler-ide):

@theotherjimmy

[2016-09-26 02:57] #2537 closed

[2016-09-26 06:45] yogpan01 commented on #2806
@TaniaMirzin @jenia81 You need an updated mbed-cli version, this one is quite old

[2016-09-26 08:05] toyowata commented on #2660
@JojoS62 Thanks.  I created a PR here: https://github.com/ARMmbed/mbed-os/issues/2810

[2016-09-26 08:22] kiransajeev85 commented on #2251
Following changes are identified

[code]

[2016-09-26 08:36] ccli8 commented on #2750
Failed test items are fixed after the python module **mbed-greentea** is upgraded from 1.1.1 to 1.2.1.

[2016-09-26 08:36] #2750 closed

[2016-09-26 09:16] 0xc0170 commented on #2786
Thanks for resolving this.

[2016-09-26 09:16] #2786 closed

[2016-09-26 10:04] jaustin commented on #2713
This is a bug and @kubaraczkowski's write up is good. We should certainly fix this ASAP.

Question: should we use lowercase 'p0, p1' etc (I'll update the image on mbed) to create greater distinction between P0_0?

J

[2016-09-26 10:56] kubaraczkowski commented on #2713
Perhaps line up with the micro:bit DAL people (my issue here: https://github.com/lancaster-university/microbit-dal/issues/213#issuecomment-249353182).
I'd think changing the diagram at this moment might be confusing even further since it has circled the whole of internet by now...
The names P0_0 are only visible in PinNames.h (which not many people will open if the names on the diagram work out of

[2016-09-26 11:51] sherrellbc commented on #2560
@sg-

Although https://github.com/ARMmbed/mbed-os/pull/2733 introduced support for LwIP using DMA, it alone was not a sufficient patch to allow LwIP to fully function. Take a look at [my original](https://github.com/ARMmbed/uvisor/issues/315) issue; there were some run-time problems with memory management of mutexes, or similar.

The actual fix came with https://github.com/ARMmbed/mbed-os/commit/2

[2016-09-26 11:52] #2560 closed

[2016-09-26 12:39] SeppoTakalo commented on #2784
CC: @sam-taylor-arm @sg- @rhenson @TuomoHautamaki @tommihei01

This should now be considered as a blocker bug for us.
We cannot do the binary release as we have planned to do it.

[code]

Build system needs to be fixed to handle features a same way as `TOOLCHAIN_*` and `TARGET_*` are handled. They allow nesting.

[2016-09-26 12:59] bremoran commented on #2713
I agree with @kubaraczkowski. The best thing to do is to add `P0..20` directly to `PinNames.h` Anyone following the pinout will never notice the difference. The danger, however, is subtle capitalization bugs. It would be better if it were possible to remove all the lower-case pin names from `PinNames.h` or `#undef` them at the end of the file.

In the blinky example, I think the best bet is to use

[2016-09-26 13:40] jaustin commented on #2713
@bremoran and @kubaraczkowski that sounds like an ideal solution. I think `#undef` might be confusing and would prefer `p0==P0` with P0_0 remaining, but not exposed by default in the examples, instead us9ing the ROW1, etc. @jamesadevine might have an opinion too, as he did the original file.

We'll document the P0_XX names elsewhere in micro:bit technical documentation so people can work out to us

[2016-09-26 14:24] svastm commented on #2647
After the merge of #2391, I am able to run the small test code on a DISCO_F469NI.

[2016-09-26 14:24] #2647 closed

[2016-09-26 17:39] bridadan commented on #2750
@ccli8 Thanks for reporting the fix!

[2016-09-26 19:45] jamesadevine commented on #2713
@jaustin when we worked on the platform definition, we knew that this would likely be a problem as the chip definitions are different from the exposed edge connector definitions.

 We also considered the implications of case: `p0` is not `P0` etc. and we determined that if we did not offer the alternative and provided clear documentation, that would be sufficient.

I think if this **were** a stand

[2016-09-26 22:50] jamesadevine commented on #2713
@bremoran @kubaraczkowski I wanted to clarify, I am not against the addition of new pins, I was really playing a weird devils advocate. As long it's the addition of new pins, and not modification of old pins, that should be totally cool. 👍

My concern is there are too many definitions: `p0`, `P0_0`, `P0`

Is there some optimisation that could be done here?

[2016-09-27 00:15] jaustin commented on #2713
What about just never defining the lowercase ones, as Brendan suggested above? I think that's a neat solution. Bonus points: throw a CPP warning explaining why p{0-20} aren't there only if they're used. As there are no references to the lowercase pin names in the diagrams, and naively using code from other platforms using those (ie lowercase) pin names won't work, I think this is reasonable.

[2016-09-27 06:23] TaniaMirzin commented on #2806
@yogpan01 @jenia81 I used the latest mbed cli version and the problem wasn't solved.

[2016-09-27 06:54] kubaraczkowski commented on #2713
I am 100% sure that I wouldn't like to hit the bug where p0 != P0. That would be almost impossible to find...

It sounds like the cleanest would be to kick out the lowercase names and introduce the upper-case ones.
As the examples are using P0_x notation it's not very likely that someone has used the lowercase notation (which is of course possible and the suggestion of raising a warning by @jausti

[2016-09-27 07:13] jeromecoutant opened #2820 "Memory map summary doesn't work any more"
Hi

All values are kept to 0

Ex:
Memory map breakdown for built projects (values in Bytes):
+----------------------------+---------------+-----------+------------+-------+------+-----------+-------------+
| name | target | toolchain | static_ram | stack | heap | total_ram | total_flash |
+----------------------------+---------------+-----------+------------+-------+------+-----------+------------

[2016-09-27 07:53] hotchpotch commented on #1371
hi.

My BLE Nano ano V1.5 worked on mbed OS5.

- https://gist.github.com/hotchpotch/fe1d96ebabe3a46a41d5b5e9412811bd (Changed 16K to 32K)

[2016-09-27 09:09] bremoran commented on #2713
I like the idea of removing p{0-30}. It would be just as easy to define P0_{0-30}. Currently, p{0-30} is directly mapped to P0_{0-30}.

[2016-09-27 09:39] jaustin commented on #2713
We all like the idea. So let's make that a decision and Rida will do the
changes.
* Remove p{0-30} definitions
* P0_XX will be the same as they already are
* P0 -> P20 will be defined as per the DAL's useful mappings:
https://github.com/lancaster-university/microbit-dal/blob/master/inc/drivers/MicroBitPin.h

* Document the difference between P0_XX and PXX on the platform page
clearly, and in Blink

[2016-09-27 09:46] bremoran commented on #2713
@jaustin Throwing an error on use of p{0-30} is easy. Define them to something wrong in PinNames.h.  E.g.

[code]

Any attempt to use `p0`, which is defined as an integer, will cause a type conversion error.

[2016-09-27 12:01] jaustin commented on #2713
Yea, but the error message from the compiler is so misleading. I wanted
something that would give you an #error rather than another obscure issue.
(especially as the online compiler gives you little links to wiki help for
errors, which will almost certainly mislead further)

J

On 27 September 2016 at 10:46, Brendan Moran <notifications@github.com>
wrote:

[2016-09-27 12:37] RobMeades opened #2823 ""default_lib": "small" no longer supported!?"
With the current version of mbed-cli, running `mbed compile -s` tells me that the target I am in the process of integrating into mbed cannot be supported officially because it is using nano.spec libraries.  When did using std libraries become a *requirement*!?  We have very little flash/RAM to play with (128 kbytes/20 kbytes) and we NEED nano.spec to make useful applications fit in it.  The differ

[2016-09-27 13:02] helmut64 opened #2825 "STM32L4 deepsleep has a 200ms wakeup delay"
The current implementation of the STM32L4 Nucleo-64 and discovery board has a problem that a wakeup from deepsleep() needs about 200ms.  It should take only a few micro seconds for the wakeup, the standard sleep() is works fine.

Here is simple test program which works on the Nucleo64-STM32L4, you can see that the LED has a significant delay after clicking on the bottom:
https://developer.mbed.org

[2016-09-27 15:01] sandeepach opened #2829 "Provide mbed library support for STM discovery 407 board"
### Description
- Type: Bug
## \- Priority: Major
## Bug

**Target**
TARGET_DISCO_F407VG

**Toolchain:**
GCC_ARM|ARM|IAR - All, mainly interested in GCC_ARM and ARM

**Expected behavior**
Version 126 of mbed library should have the library for Target 407. However i dont see it.
**Actual behavior**
Version 126 of mbed library should have the library for Target 407. However i dont see it.
Only mbed

[2016-09-27 15:32] ohagendorf commented on #2829
Why do you thing that is not available? What did you do exactly? Or where did you look for?

You can find ever thing under
[code]
and
[code]

I just tried a project export for the target and gcc_arm. It is possible to compile.

And the compatibility matrix (mbed export -S) looks OK.

[2016-09-27 15:53] sandeepach commented on #2829
Hello Olaf
Yeah in mbed source is present but not in mbed version 126.
@0xc170 - could you please help clarify why this is missing. Probably the targets.json

[2016-09-27 15:57] ohagendorf commented on #2829
I used the current master branch.
And with the current mbed-os-5.1 I've got the same result.

Please explain more in detail, what exactly is not working. And where.

[2016-09-27 16:07] sandeepach commented on #2829
Hello Olaf
Can you please check developer.mbed.org/code.
If you download the latest version of mbed library it doesn't have 407 discovery

[2016-09-27 16:10] sandeepach commented on #2829
https://developer.mbed.org/users/mbed_official/code/mbed/ that is the full link. It has no entry for 407 discovery

[2016-09-27 16:10] bridadan commented on #2823
@RobMeades I believe the motivation behind this change was that small libs are not necessarily thread safe (GCC's small lib for instance). To deal with this, when using a small library we configure mbed OS to be in single threaded mode by default. Since one of the main features of mbed OS 5 is multi-threading, it was decided to enforce multi-threading capability on the default configuration for al

[2016-09-27 16:20] ohagendorf commented on #2829
That seems to be something concerning the online ide.

The DISCO_F407 was never part of the online ide and I'm sure will never be. This board (and also the never version DISC1_F407) is not mbed compatible: the new version doesn't have a virtual com port, the old version doesn't even have the MSD programming functionality. STM provides a description to hack the board to have the vcom function but i

[2016-09-27 16:24] RobMeades commented on #2823
I'm pretty sure we do not have enough RAM on this particular platform to run any multithreading but I would be interested to hear if that is not the case.  My numbers for static RAM are (for blinky under GCC_ARM):

"default_lib": "small" 5868 bytes
"default_lib": "std" 8888 bytes

With a 3 kbyte stack (seems sufficient), we're well into our 20 kbytes allocation.

[2016-09-27 16:24] sandeepach commented on #2829
Not just online ide. Why is it not a part of mbed library official version. This is something I can't understand.

[2016-09-27 16:31] sandeepach commented on #2829
I am sure it is not concerning the online ide. I just need a gcc and arm version of the mbed library.

[2016-09-27 16:51] ohagendorf commented on #2829
Then you can clone or download from https://github.com/ARMmbed/mbed-os and use it offline. That's the way we are using it. E.g. you can export a DISCO_F407 project with:
[code]
and work with this. The result is copied to
[code]

[2016-09-27 18:14] geky opened #2831 "Build percentage inaccurate for partial builds"
Partial builds appear to count up to the percentage being rebuilt, not the full 100% you would expect:
[code]

Not a big priority, just a bit confusing.
cc @theotherjimmy

[2016-09-28 01:07] larsgk commented on #1592
Looking at the USBDevice code after some years, I see that not much has changed in general.  Maybe it would be a good idea - besides the WebUSB thing - to consider a few more improvements:

* Getting --usb to work with the mbed-cli build (not working for me atm - (using GCC_ARM/KL25Z), don't know if other setups work bettter)
* Allow setting PnP elements like manufacturer, serial, etc.
* Better su

[2016-09-28 01:17] larsgk opened #2835 "mbed-cli --usb not working"
### Description
- Type: Bug
- Priority: Major

---
## Bug

**Target**
KL25Z

**Toolchain:**
GCC_ARM

*_Toolchain version: arm-none-eabi-g++ (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release) [ARM/embedded-4_9-branch revision 227977] *_

**mbed-cli version: 0.9.5**
(`mbed --version`)

**Expected behavior**
compiling with usb support

**Actual behavior**

[code]

**Steps to reproduce**

[2016-09-28 01:32] larsgk opened #2836 "USBSerial better support for send/receive in bulk"
### Description
- Type: Enhancement
- Priority: Major (for us :))

---
## Enhancement

**Reason to enhance or problem with existing solution**
Currently (and for some years back it seems), the USBSerial implementation's public interface seems to be focusing on sending/receiving one character at a time - although the underlying USBCDC seems to have functionality for reading/writing in bulk (uint8_t

[2016-09-28 01:42] larsgk opened #2837 "USBDevice: Allow setting PnP elements"
### Description
- Type: Enhancement
- Priority: Minor

---
## Enhancement

**Reason to enhance or problem with existing solution**
Currently, it's possible to set the vendor id, product id and product release - but not anything else from the constructors in classes deriving from USBDevice.

**Suggested enhancement**
Make it easier to set e.g. manufacturer, serial, etc. that are currently hard code

[2016-09-28 01:50] larsgk opened #2838 "USBDevice: Trying to send when not connected halts/blocks"
### Description
- Type: Bug
- Priority: Major

---
## Bug

**Target**
KL25Z

**Toolchain:**
GCC_ARM

**Toolchain version:**
Toolchain version: arm-none-eabi-g++ (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release) [ARM/embedded-4_9-branch revision 227977]

**mbed-cli version:**
0.9.5

**Expected behavior**
Program not halting when trying to send data over USBSerial with the USB cable n

[2016-09-28 01:52] toyowata commented on #1820
#1848 had been merged.

[2016-09-28 01:52] #1820 closed

[2016-09-28 01:55] larsgk opened #2839 "USBDevice: Allow adding custom headers"
### Description
- Type: Enhancement
- Priority: Major/Minor

---
## Enhancement

**Reason to enhance or problem with existing solution**
Currently, the USB headers are hard coded in USBDevice and direct derivatives. Sometimes, it is needed to either tweak the existing headers, combine them or to add new (e.g. WebUSB).

**Suggested enhancement**
Create an API to allow for modifications to the USB h

[2016-09-28 01:57] larsgk commented on #2838
Related to #53

[2016-09-28 04:53] #2791 closed

[2016-09-28 07:14] karsev opened #2840 "thread-testapp NanostackInterface asserts when border router is shut-down"
### Description
- Type: Bug
- Priority: Blocker

A sleepy device is connected to the border router.
The border router is then shut-down. (The executed code is based on the thread-testapp and modified to use C++ interface of nanostack)

---
## Bug

**Target**
STM32F3

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**meed-os sha:**
(`git log -n1 --oneline`)

[2016-09-28 07:19] sima-gp commented on #2326
Hi all, hi @bridadan, hi @theotherjimmy ,

As a prove of concept, I want to build (using tools/build.py) a small application using code external to mbed. To be able to quickly build this application without copying source code, I would like to include header files using the GCC -I flag.

When diving into the mbed python code I noticed the following:
- tools/build_api.py: the build_library function

[2016-09-28 08:47] kjbracey-arm opened #2844 "How to enable mbed TLS hardware entropy?"
- Type: Bug / Question
- Priority: Major

**Target**
K64F, but a general issue

On master, mbed TLS HW entropy does not seem to be enabled any more for K64F. I can see something in a script that attempts to add an inclusion of platform_mbed.h to some config file to enable it based it on DEVICE_TRNG, but I don't see that in the default config.

Presumably it should be there?

Is the intent that all

[2016-09-28 08:47] kjbracey-arm commented on #2844
@0xc0170, @mikaleppanen

[2016-09-28 10:27] teetak01 commented on #2844
I can verify that this has been broken. mbed Client applications are all failing registration with current head of MBED-OS master.

Defining this in our custom mbedtls config brings the functionality back:

+#include "mbedtls/platform/inc/platform_mbed.h"

@yogpan01 @TeroJaasko @marhil01

[2016-09-28 10:28] teetak01 commented on #2844
This is BLOCKER. @0xc0170

[2016-09-28 11:02] TaniaMirzin opened #2846 "armcc default flags"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Enhancement
- Related issue: armcc toolchain flags
- Priority: Minor

---
## Bug

**Target**
K64F

**Toolchain:**
ARM

**Toolchain version:**
5.06 update 3(ARMCompiler5.06u3)
**mbed-cli version:**
0.9.5

**meed-os sha:**
 bdab10dc0f90

---
## Enhancement

Code size is not optimized enough when

[2016-09-28 11:12] TaniaMirzin commented on #2846
@jenia81

[2016-09-28 11:29] TaniaMirzin opened #2847 "Interrupt handling on armcc toolchain."
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: Interrupt handling on arm cc
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
ARM

**Toolchain version:**
5.06 update 3(ARMCompiler5.06u3
**mbed-cli version:**
(`mbed --version`)
0.9.5
**meed-os sha:

[2016-09-28 11:29] TaniaMirzin commented on #2847
@jenia81

[2016-09-28 11:39] kjbracey-arm commented on #2766
I don't believe lwIP supports this - this would be "SO_REUSEPORT", but it's not implemented.

Could you reconsider the protocol? Different streams are conventionally distinguished by different ports, not by destination/group address, so using different ports would be the more traditional behaviour.

Binding to a multicast address also isn't ideal, as it prevents you receiving unicast packets.

So,

[2016-09-28 12:13] nvlsianpu opened #2848 "How to properly add non initialized RAM section for ARM compiler?"
## Question

How to properly add non initialized RAM section for ARM compiler? I tried https://github.com/nvlsianpu/mbed/commit/173408cdffedb08b4a6862018b08e390ad9471a4 by creating additional section RW_IRAM0 but it was filled by 0xFFFFFF by a function sctterload_copy() which seams to be a ARM CC startup part.

[2016-09-28 12:13] nvlsianpu commented on #2848
@pan- ?

[2016-09-28 12:56] 0xc0170 commented on #2844
Sorry for inconvenience, this was left yesterday evening, and this PR sent this morning should resolve it, please can you test: https://github.com/ARMmbed/mbed-os/pull/2843 . CI finished, it should be good to merge.

cc @andresag01

[2016-09-28 13:53] 0xc0170 commented on #2844
The pull request referenced above was merged, this should be resolved now, please let us know if not

[2016-09-28 14:26] geky commented on #2766
Binding multiple sockets to a single port is a bit of unusual behaviour. Since it's not supported in lwip I believe it's safe to say it's outside of the scope of the network-socket API.

[2016-09-28 14:34] teetak01 commented on #2844
Thanks @0xc0170 , our tests are again Green vs. master. @kjbracey-arm can verify if their issue was also resolved.

[2016-09-28 15:13] sstaub commented on #2766
What to do? I'm not a professional, so I need practical examples for a solution, if it is possible. I can run a modified version on an Arduino with an Ethernetshield (with a Wiznet W5500 chip) without any problem?! Sorry I'm not a specialist for lwip and ethernet-socket, I do programming more as a hobby.
For your info, the sACN protocol is a standard in professional lighting industry (my main prof

[2016-09-28 15:59] geky commented on #2766
I'm unfamiliar with the sACN protocol, is it possible to use only one `UDPSocket` bound to the port?

Actually, looking at your example, it appears you are using the older socket API. Are you using mbed OS 5?

With the network-socket API in mbed OS 5, the UDPSocket has a `recvfrom` method that allows you to determine which address the inbound packet came from:
[code]

Would this work as an alterna

[2016-09-28 16:07] bridadan commented on #2847
@TaniaMirzin Generally you shouldn't be using `printf` in interrupt context, as mentioned in the docs here: https://docs.mbed.com/docs/mbed-os-api-reference/en/5.1/APIs/io/InterruptIn.

Can you blink an LED from interrupt?

[2016-09-28 16:08] bridadan commented on #2326
@sima-gp You bring up an interesting point. The most logical reason I can think of why an equivalent `-I` option isn't available from the `build.py` CLI is that it was never needed! `build.py` historically knew how to build all the libraries (aka, knew which directories to include/not include). It didn't rely on input from the command line, but rather data stored in the python tools (if you're cur

[2016-09-28 16:16] theotherjimmy commented on #2326
At the moment that works as follows:
 1. Ensure that the header files are all in a directory with no source files
 2. specify that directory as a parameter to a `--source` flag

There is not, unless you consider `tools/libraries.py` a 'configuration file'.

[2016-09-28 20:02] mfiore02 opened #2858 "aa663ea redefined OS_CLOCK for MTS_MDOT_F411RE platform"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
MTS_MDOT_F411RE

**Toolchain:**
GCC_ARM|ARM|IAR

**meed-os sha:**
b481da4 Merge pull request #2843 from andresag01/update_mbedtls

---------------------------------------------------------------
Before commit aa663ea42d299ca7f67725c0d15240b2ddb9fc42 OS_CLOCK was set t

[2016-09-28 20:33] sstaub commented on #2766
I have tried to use only one socket longer time ago, but it doesn't work. I have to bind a socket for each multicast ip.
Your example doesn't run on my system, i use v124

[2016-09-28 21:51] sg- commented on #2766
To use this example you need to use mbed-os 5.1.x to put this in your program, remove any networking, rtos and mbed library and import from url using https://github.com/armmbed/mbed-os

[2016-09-29 08:53] RobMeades commented on #2823
@bridadan In order to check whether mbed is at all viable for our platform with the flash sizes of std libs, I have tried `GCC_ARM` builds using K64F and our `M0` platform against latest mbed-os with `mbed-os-example-blinky` as a base and modified as follows:

1. unmodified ('Base'),
2. use a `printf()`,
3. use a `Serial` object and echo received characters with a `.readable()`/`.writeable()` `get

[2016-09-29 09:20] 0xc0170 commented on #2848
@AlessandroA You might know the answer?

[2016-09-29 09:49] AlessandroA commented on #2848
Could it be related to [this](http://www.keil.com/support/docs/3480.htm)?

[2016-09-29 10:17] kjbracey-arm commented on #2766
Looking more carefully at lwIP, I think it does actually support the type of bind you want - binding two sockets to 239.255.0.1:5568 and 239.255.0.2:5568 appears to be permitted, because the addresses differ.

So with mbed OS 5.1, you should be good to go.

[2016-09-29 10:18] andcor02 commented on #2740
So is this being removed? Obviously this should be fixed somehow as many users asking why ZIP is broken?

[2016-09-29 10:26] pan- commented on #2823
@RobMeades `newlib` is significantly larger than `newlib-nano` or `IAR` and `ARMCC` C library because it is a more general purpose C library.
Regarding to the numbers and the primitives used, most of the space occupy by your application will be taken by the C library.

There is few ways to reduce the size of a binary:
* If you're application doesn't needs multiple threads then you can safely use `

[2016-09-29 10:39] Patater opened #2862 "`mbed export` can't select the toolchain to generate a project for"
µVision supports projects using GCC or ARM. `mbed export` does not currently provide a way to generate a project that would use GCC (it is hard coded to generate a project that uses ARM).

To fix this issue, `mbed export` would be able to generate µVision 5 projects with the user's choice of GCC or ARM. Ideally, the existing `mbed compile -t` toolchain selecting option would be used consistently w

[2016-09-29 10:40] 0xc0170 commented on #2862
cc @theotherjimmy @sarahmarshy

[2016-09-29 10:51] nvlsianpu commented on #2848
No. The variable is size of 0xD8.

[2016-09-29 10:51] sstaub commented on #2766
Online Compiler with mbed-os
When I try to build code with ethernet functionality i get generally following errors:
![error_ethernetinterface](https://cloud.githubusercontent.com/assets/6450325/18951063/57e30fea-8643-11e6-9fa7-8f8d47246868.png)
So I can't test your examples. ???

[2016-09-29 10:54] RobMeades commented on #2823
That is **brilliant** advice @pan-, very much appreciated.  Leaving std libs in place, applying the flush tweak and using `RawSerial` instead of `Serial` brings my "sensible configuration" (`mbed-os-example-blinky` with a `printf()` and, now, a `RawSerial` object) down to:

My M0 platform:

[code]

K64F:

[code]

Absolutely spot-on.

Someone asked me yesterday how I was doing with mbed.  I said I

[2016-09-29 11:14] nvlsianpu commented on #2848
Besides - it seams it is only side effect in my targets. I discovered that in fact some variable from .bss are initialized badly - etc. os_initilized from rt_CMSIS.c was initialized to 0xff.

[2016-09-29 11:24] hasnainvirk opened #2864 "mbedtls breaks mesh thread for targets without Hardware Entropy Sources"
Note: This is just a template, so feel free to use/remove the unnecessary things
### Description
- Type: Bug
- Priority: Blocker

---
## Bug

**Target**
OnSemi NCS36510

**Toolchain:**
GCC_ARM|ARM|IAR

**Description**

Newly commited changes to config.h in mbedtls now check if the platform have hardware entropy sources or not. If not, it includes a predefined file mbedtls/config-no-entropy.h".
Mes

[2016-09-29 11:40] 0xc0170 commented on #2864
@hasnainvirk - just to confirm, using latest master?

cc @sbutcher-arm @andresag01

[2016-09-29 11:50] hasnainvirk commented on #2864
@0xc0170 Yes.

[2016-09-29 13:02] geky commented on #2766
Hi @sstaub. You will need to remove the EthernetInterface library since it is now included in mbed-os.

[2016-09-29 14:15] nvlsianpu commented on #2848
There is branch for fully reproduce my problem: https://github.com/nvlsianpu/mbed/tree/nrf5_noinit_bss_arm5_debug. In case an application is build ```mbed compile -m NRF52_DK -t ARM -o debug-info```
is visible that an app landed in hard fault - it is visible that app hadn't even get in application's main() and crash somewhere in kernel initialization.

[2016-09-29 14:18] theotherjimmy commented on #2862
@Patater Thanks for the feature request. We have been thinking about doing this for a bit. When you say µVision, do you mean 4 or 5?

PS. I like your Icon.

[2016-09-29 14:28] Patater commented on #2862
@theotherjimmy I'm using µVision 5, but if µVision 4 can also work with either GCC or ARM, that'd also be a nice IDE to implement this feature for.

P.S. Thanks.

[2016-09-29 14:30] sstaub commented on #2766
Thank you, the documentation of mbed-os is misleading.

[2016-09-29 15:21] #2823 closed

[2016-09-29 17:03] LiyouZhou opened #2867 "config.py didn't import sys yet uses it"
/work/mbed-bootloader/mbed-os/tools/config.py uses sys module but did not import.

[2016-09-29 17:25] theotherjimmy commented on #2867
Good point.

[2016-09-29 18:49] maclobdell commented on #2789
You make a good point.  MCU vendors should work with the IDE vendors to get support for post-build, flashing, etc.  We can't do it all.

[2016-09-29 18:51] #2789 closed

[2016-09-29 19:21] geky commented on #2766
Unfortunately I don't have an answer for you there, static IP support was temporarily removed as a part of an effort to refactor the EthernetInterface and add support for more devices.

However, we do have static IP support on the current development branch of mbed-os, and static IP support should be available in the next release for the online compiler.

[2016-09-29 19:28] sstaub commented on #2766
Thank you, i will wait for the next release and have then a look to the new network library.
The most thing I'm missing in the documentation are short and simple examples, the documentation for the classic mbed 2 was very good, hope the the docs for mbed-os5 will get the same quality.

[2016-09-29 22:56] geky commented on #2724
Hi @tibmanus, the initial implementation of the asynchronous API for sockets was designed to be easy to implement to streamline adding new devices.

The attach function can still be used asynchronously without knowing which exact event occured, by trying the required operation and checking for blocking-failures:
[code]

We are currently looking into reintroducing an async api similar to mbed OS 3,

[2016-09-30 20:01] #2858 closed

[2016-10-02 12:17] JojoS62 opened #2882 "LPC824: export to LPCXpresso does not include TOOLCHAIN files"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
LPC824, LPCXpresso824-MAX

**Toolchain:**
GCC_CR

**Toolchain version:**
Online Compiler Export

**meed-os sha:**
mbed lib 127

**Actual behavior**
- directory 'TOOLCHAIN_GCC_CR' is missing in exported archive

**Steps to reproduce**
create mbed_blinky for target LPCXpresso824-MAX, expor

[2016-10-02 12:55] JojoS62 commented on #2882
This issue applies only to the online compiler.
The exporter in mbed-os works:
python project.py -m LPC824 -i lpcxpresso -n MBED_BLINKY

Only the size of the compiled binary is too large and the nano libs must be used. Is there an option for this?

[2016-10-02 14:19] JojoS62 opened #2883 "LPC824: export to LPCXpresso, settings for release build gives compiler errors"
LPC824: export to LPCXpresso, settings for release build gives compiler errors
### Description
- Type: Bug
- Priority: Minor

---
## Bug

**Target**
LPC824, LPCXpresso824-MAX

**Toolchain:**
GCC_CR

**Toolchain version:**
LPCXpresse V8.2.0

**meed-os sha:**
729ef15

**Expected behavior**
**Actual behavior**
python project.py -m LPC824 -i lpcxpresso -n MBED_BLINKY
creates an archive that can be imp

[2016-10-02 15:06] JojoS62 opened #2884 "LPC824: export to LPCXpresso, target running with wrong clock speed"
LPC824: export to LPCXpresso, target running with wrong clock speed
### Description
- Type: Bug
## Bug

**Target**
LPC824, LPCXpresso824-MAX

**Toolchain:**
GCC_CR

**Toolchain version:**
LPCXpresso V8.2.0

**meed-os sha:**
729ef15 Merge pull request #2682 from ohagendorf/bugfix_can_loop_test

**Expected behavior**
System clock should be set to 30 MHz.

**Actual behavior**
System clock is 12 MHz.

[2016-10-03 10:28] TheTheAG opened #2885 "STM32L4: I2C driver not supporting custom CPU frequencies"
The I2C driver for STM32L4 seems not to support custom CPU frequencies. Method i2c_frequency in file hal/targets/hal/TARGET_STM/TARGET_STM32L4/i2c_api.c expects SystemCoreClock to be either 80 MHz or 48 MHz. If it's something else, the I2C SCL frequency won't be changed at all.

I originally run into this using an older version of the driver which assumes the I2C clock to be 32 MHz but won't refus

[2016-10-03 11:29] andcor02 opened #2886 "Publishing Programs: Server responded with a failure code 500 - Internal Server Error Click OK to retry."
**There seems to be an issue with Publishing programs from the online-IDE.**

Receive the following dialog:

Server responded with a failure code 500 - Internal Server Error
Click OK to retry.

**Programs trying to publish, without changes:**
mbed-os-example-client
and others in this list https://developer.mbed.org/teams/mbed-os-examples/

**Extra:**
Doesn't seem to effect committing.
Doesn't seem

[2016-10-03 11:50] 0xc0170 commented on #2885
cc @bcostm @adustm @LMESTM

[2016-10-03 11:53] LMESTM commented on #2885
hi @TheTheAG  - thanks for reporting this point.
I need to update I2C driver for supporting I2C ASYNCH feature, so I'll have a look at the frequency management at the same time

[2016-10-03 14:29] theotherjimmy commented on #2883
That's because the implementation of that particular section is incorrect. I'll solve the general problem, by allowing profiles for the exporters . This would allow you to pass `--profile mbed-os/tools/profiles/default.json --profile mbed-os/tools/profiles/nanolib.json` to the exporter.

[2016-10-03 14:39] theotherjimmy commented on #2883
Past me already did this.

[2016-10-03 14:45] mfiore02 commented on #2635
@pan- I see these fixes have been merged into master branch. Looks like we should expect to see them in mbed-os-5.2?

[2016-10-03 14:53] JojoS62 commented on #2883
That sounds great!

I’ve extended the exporters also for the LPC812 which is very similar to the LPC824.  Can I send you the necessary changes for this?

Thanks,

Johannes

Von: Jimmy Brisson [mailto:notifications@github.com]
Gesendet: Montag, 3. Oktober 2016 16:30
An: ARMmbed/mbed-os
Cc: JojoS62; Author
Betreff: Re: [ARMmbed/mbed-os] LPC824: export to LPCXpresso, settings for release build gives

[2016-10-03 14:54] theotherjimmy commented on #2883
Yes! Do you have them on a branch on a fork? If you do, I can easily include you in the history.

[2016-10-03 14:59] JojoS62 commented on #2883
Yes, but I have only a local repo. A pull request is denied, so I do have to create one in my account? I’m not very familiar with working with git.

Von: Jimmy Brisson [mailto:notifications@github.com]
Gesendet: Montag, 3. Oktober 2016 16:55
An: ARMmbed/mbed-os
Cc: JojoS62; Author
Betreff: Re: [ARMmbed/mbed-os] LPC824: export to LPCXpresso, settings for release build gives compiler errors (#2883)

[2016-10-03 15:03] theotherjimmy commented on #2883
Create a fork of this repo (there should be a button). Then add that fork as a remote to your local repo. Then push the branch to that remote.

[2016-10-03 15:36] RobMeades opened #2890 "Question: IAR with optimisation"
I have my new target working under GCC_ARM and have now added ARM and IAR toolchain support.  ARM works but I'm having trouble with IAR when optimisation is on.

The target runs fine with `-Ol`, the problem occurs when I move to `-Om`.  When I load code built with `-Om` the target is so broken that GDB can't even reset it (`WARNING: Failed to reset CPU. VECTRESET has confused core`).  The target o

[2016-10-03 15:53] sg- commented on #2635
estimated mid October.

[2016-10-03 16:25] JojoS62 commented on #2883
My copy was too old, there are a lot of changes now. I have cloned to a new repo and applied the changes. I can build the mbed lib for the LPC812 with GCC_CR, but I can’t export to lpcxpresso.

D:\Projects\Sn\LocalGit\mbed-os\tools>python project.py -m LPC824 -i lpcxpresso MBED_BLINKY

Traceback (most recent call last):

  File "project.py", line 13, in <module>

    from tools.paths import EXPORT

[2016-10-03 18:12] sarahmarshy opened #2892 "[Expoters] Export broken after reorganization"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**meed-os sha:**
765fbbb Merge pull request #2842 from svastm/sw4stm32_use_targets_json

**Actual behavior**
Import errors. Resolving those, name errors. Resolving that, linking errors at build time.
mbed export -m k64f -i gcc_arm
1.
[code]
Resolving (1) brings:
2.
[code]

Trying

[2016-10-03 18:23] 0xc0170 commented on #2892
The referenced sha did not break it but reorganization ? Because that SHA above is not related to the changed structure.

Can paste some error so others can reproduce and fix (or they might see different errors).

[2016-10-03 18:24] sarahmarshy commented on #2892
I am just posting the SHA of my local mbed-os. Not the SHA of the culprit. Sorry, was in the middle of pasting them. THere are above now.

[2016-10-03 18:38] Carl-M commented on #2448
I have this issue too, started new mbed project, choose blinky and export from online compiler. Import into lpcxpresso v8.2.2 [Build 650]  and get the same -t error.
If I switch to revision 121 and repeat it builds fine in LPCxpresso

[2016-10-03 18:44] geky commented on #2831
This is good with #2859 merged :+1:

[2016-10-03 18:44] #2831 closed

[2016-10-03 18:49] theotherjimmy commented on #2448
@Carl-M I'm sorry, but I don't know what you are talking about when you refer to the "-t error"

[2016-10-03 18:52] Carl-M commented on #2448
Sorry this is the error
`arm-none-eabi-c++ -nostdlib -L"\LPCXpresso_8.2.2_650\workspace\mbed_blinky" -L"\LPCXpresso_8.2.2_650\workspace\mbed_blinky\mbed" -L"\LPCXpresso_8.2.2_650\workspace\mbed_blinky\mbed\TARGET_LPC1768" -L"\LPCXpresso_8.2.2_650\workspace\mbed_blinky\mbed\TARGET_LPC1768\TARGET_NXP" -L"\LPCXpresso_8.2.2_650\workspace\mbed_blinky\mbed\TARGET_LPC1768\TARGET_NXP\TARGET_LPC176X" -L"\L

[2016-10-03 18:53] theotherjimmy commented on #2448
You don't have a linker script. It should be between the `"`s after the `-T`

[2016-10-03 18:54] theotherjimmy commented on #2448
What target did you try?

[2016-10-03 18:54] Carl-M commented on #2448
Mbed LPC1769

[2016-10-03 18:57] theotherjimmy commented on #2448
Do you mean 1768?

[2016-10-03 18:57] JojoS62 commented on #2448
The -t is a linker option that is wrong. I experienced also that options are defined double, once in project settings and also in additional misc settings.

[2016-10-03 19:04] theotherjimmy commented on #2448
@JojoS62 @Carl-M I appreciate you enthusiasm for this exporter.

 The exporter in question is called codered in the tools (file [here](https://github.com/ARMmbed/mbed-os/blob/master/tools/export/codered.py)) In the current master, once issue #2892 Is fixed, you may use the eclipse_gcc_arm or similar exporter to have an equivalent export. That is the way we have planned forward.

OTOH, if you would

[2016-10-03 19:22] JojoS62 commented on #2448
Thanks, eclipse exporter is what I appreciate also. Lpcxpresso uses the GCC toolchain, do no need for a different handling. I see only differences in the linker script that is generated by lpcxpresso. Using the gcc_arm scripts work, but switching to lpcxpresso managed scripts makes trouble.
I'm wiling to investigate this further, a compatible solution would be great.

[2016-10-03 20:07] theotherjimmy commented on #2448
Perfect! Is there any special handling that LPCXpresso needs? (Special flashing tools, Code analysis tools, etc?)

[2016-10-03 20:48] BlackstoneEngineering opened #2894 "Delta DFMB NQ620 - cannot digitalIO p31 (aka A5)"
### Description
- Type: Bug
- Priority: Blocker - Major

---
## Bug

**Target**
DELTA_DFBM_NQ620

**DAPLink version:**
latest

**Expected behavior**
Expected behavior is you can use pin 31 as digital output

**Actual behavior**
mbed assert is thrown at run time

**Steps to reproduce**
Try to do `DigitalOut dout(p31)` with Delta board selected as target. It'll throw error.

**Fix**
In https://githu