[2018-08-18 02:33] tracernz commented on #7766
@cmonr Same result building with Python 3.6.6. This is a Python 2 -> 3 issue, where bytes-like objects are not interchangeable with string-like objects anymore. With Python 3.5 it fails with #7026. Do you have a Python 3 build in CI?

Python 3.6.6:
[code]
*[Mirrored to Jira]*

[2018-08-18 12:58] NeilMacMullen commented on #7804
It seems I spoke too soon :(  Although I haven't managed to find a simple repro case, the esp8266-driver is now failing consistently (after RTC added to targets.json).  It looks like the Timer implementation is not returning sensible values for read_ms but I haven't yet been able to verify directly.
*[Mirrored to Jira]*

[2018-08-18 17:25] AGlass0fMilk commented on #7674
Any word @marcuschangarm? I've started to work a bit with SDK V15 and it seems easy to switch over, however it would be quite mundane...

I'd be willing to help :)
*[Mirrored to Jira]*

[2018-08-18 21:04] cmonr commented on #7766
Thanks for testing again. Not yet for Mbed OS, but it's being worked on.
*[Mirrored to Jira]*

[2018-08-18 21:08] cmonr commented on #7766
Also, a reminder that the supported GCC version for Mbed OS is GCC 6 (we're working on bumping versions as well).

https://os.mbed.com/docs/latest/tools/index.html
*[Mirrored to Jira]*

[2018-08-19 10:23] dannybenor commented on #7808
No document available. In general, NVStore will keep values unique per device, and no too much benefit to add values at compile time
*[Mirrored to Jira]*

[2018-08-19 12:17] drahnr commented on #7808
The benefit is to be able to do key rolling, but the firmware needs to be able to have an initial key.
*[Mirrored to Jira]*

[2018-08-19 12:23] dannybenor commented on #7808
In this case you will need to prepare an initialization file for each device
*[Mirrored to Jira]*

[2018-08-19 12:30] drahnr commented on #7808
I am aware of that, but I wanted to prevent the duplication of the key in flash, just to load it into the nvstore.
*[Mirrored to Jira]*

[2018-08-19 16:47] kevinong0108 opened #7827 "STM32L4 enter critical section for a long time"
### Description
set_time() will occur system enter critical section for a long time (around 1 second) when DEVICE_LPTICKER is enabled on STM32L476.

The following code is in rtc_api.c, there will spend time to wait in enter critical section.
Why need this part?
[code]
I am not sure how about other series.

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-08-19 19:51] ciarmcom commented on #7827
ARM Internal Ref: MBOTRIAGE-1532

[2018-08-20 07:05] flipflop22 commented on #7204
Is it ready to use?

[2018-08-20 07:48] AriParkkila commented on #7181
@RobMeades do you think this can be closed?

[2018-08-20 07:49] hasnainvirk commented on #7820
@maxgerhardt Interesting. For OTAA I would expect the Network Server to set the RX2 data rate in join accept message. At any time network server can choose to send a RxParamaSetupReq mac command to set desired data rate for receive windows including RX2. The thing is DR_0 is unfathomably long duration for transmission which is the default data rate for RX2 window. My wild hunch is that there is so

[2018-08-20 07:58] maxgerhardt commented on #7820
@hasnainvirk Good to know that I was right to open this issue. Note though, I am using ABP and not OTAA, so setting RX2 DR from the join accept message never happens. I would have to debug if TTN ever sends me a ` RXParamSetupReq`, but I definitely don't want to rely on the LNS to fix my downlink settings in a MAC command -- that's why I'd just force RX2 DR to one constant value, as it's required

[2018-08-20 08:34] RobMeades commented on #7181
Yes, looks good to me.

[2018-08-20 08:34] #7181 closed, assigned to nobody

[2018-08-20 09:58] juhaylinen opened #7829 "REALTEK_RTL8195AM IPv6 build fails"
### Description
Target: REALTEK_RTL8195AM
Toolchain: GCC_ARM
mbed-cli 1.5.0
Mbed OS versions 5.9.0 - 5.9.5 and master (sha f15dbf2c3)
Steps to reproduce:
For example, import mbed-os-example-wifi
[code]
Enable IPv6
[code]
Build
`mbed compile -t GCC_ARM -m REALTEK_RTL8195AM`

Fixed in this commit https://github.com/ARMmbed/mbed-os/pull/7056 but it seems to be missing from 5.9.0 - 5.9.5

This commit

[2018-08-20 11:03] NeilMacMullen commented on #7804
Further to the above comment..... The difference in behaviour actually occurs when there are two threads in the system, a producer 'A' and a consumer 'B' .

A is running a tight loop using wait_ms(1) to interject some idle time between checks of a peripheral.
B is busy-waiting in a while(1) loop (checking a status flag set by B.

In this scenario, when the RTC feature is added, thread A stalls on

[2018-08-20 11:24] mattbrown015 commented on #7820
Hi @hasnainvirk, this issue tweaked my interest although my situation is not exactly the same as @maxgerhardt's; I'm using OTAA.

Things like this worry me because I've got no way of testing the LoRaWAN stack.  Therefore, when my customer reports problems to me I'm going to struggle to find any answers.  I'd really like to know more about how to manipulate app servers, network servers and gateways

[2018-08-20 11:26] 0xc0170 commented on #7827
@ARMmbed/team-st-mcd Please review

[2018-08-20 11:37] 0xc0170 commented on #7765
Hi, this is duplicate of https://github.com/ARMmbed/mbed-os/issues/5603. I'll close this one.

@KG-91 Please follow 5603.

[2018-08-20 11:37] #7765 closed, assigned to nobody

[2018-08-20 11:38] 0xc0170 commented on #7764
@OmerRosler Does it answer your question?
*[Mirrored to Jira]*

[2018-08-20 11:51] ciarmcom commented on #7829
ARM Internal Ref: MBOTRIAGE-1534

[2018-08-20 12:08] hasnainvirk commented on #7820
@mattbrown015  For OTAA it would always work. Because JoinAccept message includes required DR information for RX2. But I would expect NS to promptly send RXParamSetupReq mac command in case of ABP to make sure that the device is using correct parameters required by that NS. I can understand why TTN chose DR3 as default RX2 data rate but I can't comment on why RXParamSetupReq mac command is not sen

[2018-08-20 12:42] junjun555 opened #7833 "Wrong baud rate on Nucleo STM32F303RE"
Target: Nucleo STM32F303RE
Build: MBED online compiler 1.10.14.0
SHA of Mbed OS: a7c7b63

I used the Serial class, but the baud rate setting is not reflected correctly.
In order to communicate at 9600 bps, 4800 bps must be specified in the constructor.

Example:

Not Work
Serial BT_serial (PA - 9, PA - 10, 9600);

Working
Serial BT_serial (PA - 9, PA - 10, 4800);

When operating correctly, I have

[2018-08-20 12:52] LMESTM commented on #7827
@kevinong0108 Thanks for the question.

This code is active is the below case
#if DEVICE_LPTICKER && !MBED_CONF_TARGET_LPTICKER_LPTIM
which applies to devices who want to use LPTICKER feature but do not have a LPTIM HW.

In this configuration, the RTC hardware will be used for 2 purposes: For the standard time & date management, but also the sub-second part is used as Low Power Ticker which will b

[2018-08-20 13:43] maxgerhardt opened #7835 "LoRa: Accept channel plan not containing default channels"
### Description
* board target: Nucleo L476RG + RFM95W radio
* GCC toolchain
* latest mbed-os commit

The APIs for setting and removing a channel plan from the `LoRaWANInterface` object reject removing the default channels.

I want to create a "measurement firmware" which tests out the LoRa network with various LoRa node settings. One important aspect of this test is that different nodes are confi

[2018-08-20 13:54] maxgerhardt commented on #7835
False alarm. Per LoRaWAN standard, a node must have these 3 channels activated.

[2018-08-20 13:54] #7835 closed, assigned to nobody

[2018-08-20 14:54] mattbrown015 commented on #7820
Hi @hasnainvirk,

I know that we are an "ARM Approved Design Centre" but I'm guessing that's different to being a "Mbed Partner".  The LoRaWAN device I'm working on is a little outside our normal business as a fabless silicon design house.

[2018-08-20 15:51] ciarmcom commented on #7833
ARM Internal Ref: MBOTRIAGE-1535

[2018-08-20 16:06] mattbrown015 commented on #7827
There's a discussion about the difference between using LPTIM and the RTC on the STM32L4 here, [How to Achieve Long Periods of Deep Sleep on STM32 #7156](https://github.com/ARMmbed/mbed-os/issues/7156).

In summary, on the STM32L4 the LPTIM is only 16-bits and therefore it will only achieve a deepsleep of a few seconds.  The RTC has to be used in order to achieve longer periods of deepsleep.

The

[2018-08-20 16:07] LMESTM commented on #7833
@JunJun1234 Thanks for reporting this.

Can you share your exact code, I don't think the below code would compile:

Serial BT_serial (PA - 9, PA - 10, 9600);

Is it

Serial BT_serial (PA _9, PA_10, 9600);

?

[2018-08-20 16:13] kevinong0108 commented on #7827
@LMESTM and @mattbrown015  Thanks for your reply, fully understand :)

[2018-08-20 17:52] TacoGrandeTX commented on #7804
@NeilMacMullen I'm testing a fix that is looking good.  The timer used to keep track of usec was not being reset on set_time():

[code]

 Will update again ASAP (hopefully with a pull request).
*[Mirrored to Jira]*

[2018-08-20 20:09] deepikabhavnani commented on #7800
Yes `.mbedignore` is the way to disable RTOS, as we do not scan features based on RTOS support.

[2018-08-20 23:16] TacoGrandeTX opened #7836 "nRF52 not updating time properly"
While testing a fix for https://github.com/ARMmbed/mbed-os/issues/7804, it was observed that after ~ 35 minutes the value returned by time(NULL) is the value last set via set_time().

There's also another report of RTC failing (target to be confirmed):  https://os.mbed.com/forum/bugs-suggestions/topic/32903/

Modified test code from  https://github.com/ARMmbed/mbed-os/issues/7804:

[code]

Program

[2018-08-20 23:28] TacoGrandeTX commented on #7836
We appear to be returning a bad value in Timer::read().  It seems like we are losing resolution in Timer::read_us() and this results in bad updates.  A negative time value was observed due to bit31 being set in read_high_resolution_us():

https://github.com/ARMmbed/mbed-os/blob/master/drivers/Timer.cpp#L75-#L96

Currently testing a fix where Timer::read_us() returns us_timestamp_t (a 64-bit type)

[2018-08-21 07:38] 0xc0170 commented on #7829
cc @ARMmbed/team-realtek

[2018-08-21 08:36] artokin opened #7838 "."
### Description

### Issue request type

[ ] Question
[ ] Enhancement
[ ] Bug

[2018-08-21 08:48] #7838 closed, assigned to nobody

[2018-08-21 10:21] Julien-Delsol opened #7841 "Trace Analyzer Tool Mbed-os"
### Description
target: STM32L496RG
toolchain: GCC_ARM
IDE : eclipse

How evaluate mbed-os firmware ?
Is there a solution with a RTOS trace analyzer tool compatible with mbed os ?

Thanks,

### Issue request type
[X] Question
[ ] Enhancement
[ ] Bug

[2018-08-21 10:46] dannybenor commented on #7438
@Alex-EEE can you close this issue? Will be solved when mbedos will move to IAR 8.3

[2018-08-21 12:24] dannybenor commented on #7488
@teetak01 Can you close this issue? Please feel free to create a preq for mbedos at https://jira.arm.com/projects/IOTPREQ/summary

[2018-08-21 12:27] teetak01 commented on #7488
cc: @JanneKiiskila we need to check if this needs IOTPREQ.

[2018-08-21 12:27] #7488 closed, assigned to nobody

[2018-08-21 12:38] KarolisMil opened #7842 "Context switch during driver access"
### Description
This is more of conceptual discussion topic.
Regarding current OS configuration, it is running with preemptive round robin scheduler.
There is a possibility, that context switch will happen when CPU is executing drivers' code, accessing registers etc., which may sometimes be time critical or cannot (must not) be delayed for undefined amount of time other context may take.
Mutexes s

[2018-08-21 14:31] #7732 closed, assigned to nobody

[2018-08-21 14:41] #7149 closed, assigned to nobody

[2018-08-21 14:42] #7759 closed, assigned to kivaisan

[2018-08-21 14:42] Alex-EEE commented on #7438
@dannybenor any ETA on that move?

[2018-08-21 14:42] #7438 closed, assigned to nobody

[2018-08-21 15:14] dannybenor commented on #7438
@Alex-EEE Currently don't have info

[2018-08-21 15:21] #7615 closed, assigned to artokin

[2018-08-21 16:09] davidsaada opened #7845 "CI may need to exclude low resource boards"
### Description
Upon the addition of new boards with low resources (mainly RAM, but also flash), few of our tests started failing on these boards. In order to prevent these CI failures, tests were modified to get skipped if these resources cannot be allocated. This solution is sub-optimal and adds overhead in our test code. We should think of a mechanism to distinguish such boards from the "normal

[2018-08-21 16:51] RobMeades opened #7847 "NRF52832 not going back to sleep completely after a wait_ms() call"
### Description
I have a board on which I am using an NRF52832 (inside a u-blox NINA-B1 module).  The board is for use in an energy harvesting application and hence low power consumption is absolutely critical.

The software behaviour is to run a timed `EventQueue` callback in which the main operations are performed.  I can normally achieve ~2 uA current consumption for the NRF52832 outside the `E

[2018-08-21 17:35] mmahadevan108 commented on #7319
I am unable to reproduce the lockup on the current master (commit b53a9ea4c02fd67cb0cc94d08361e8815585b7bf). Test prints X, Y, Z readings repeatedly on the serial terminal, I let it run for about 5 minutes.
*[Mirrored to Jira]*

[2018-08-21 17:35] pan- commented on #7847
Could you give us the traces obtained if `MBED_SLEEP_TRACING_ENABLED` is defined at compile time ?

The function `wait_ms` calls the function `wait_us` which uses the high resolution clock; that peripheral consumes a lot of power on NRF targets; a short workaround would be to use `Thread::wait`.

*[Mirrored to Jira]*

[2018-08-21 17:37] aashishc1988 commented on #7444
Indeed a bug. Filed the PR for it.

[2018-08-21 17:52] TacoGrandeTX commented on #7804
@NeilMacMullen - please see PR https://github.com/ARMmbed/mbed-os/pull/7849
*[Mirrored to Jira]*

[2018-08-21 20:15] andresag01 commented on #7665
Hi @coisme,

Thank you for reporting this issue. I will try to answer each of your questions as best I can.

The change was introduced to take advantage of the RTC present in the targets that have it. This is why MBEDTLS_HAVE_DATE_TIME is only defined when DEVICE_RTC is defined in the patch you linked.

This is correct. In fact, this was reported in the original PR (https://github.com/ARMmbed/mbed

[2018-08-21 21:20] #7626 closed, assigned to nobody

[2018-08-21 21:24] #7612 closed, assigned to nobody

[2018-08-21 21:31] TacoGrandeTX commented on #7763
@NeilMacMullen I think the "slippage" you are observing is addressed with this PR:  https://github.com/ARMmbed/mbed-os/pull/7850.

*[Mirrored to Jira]*

[2018-08-22 01:18] aarkegz opened #7852 "Conflicting CPU architectures when building with gcc for NUCLEO_F429ZI."
### Description
I used mbed-cli to download "mbed-os-example-blinky" and tried building it for target 'NUCLEO_F429ZI' with arm-none-eabi-gcc, but it failed when linking
[code]

toolchain : ARM_GCC(arm-none-eabi-gcc 6.3.1)
tools : mbed-cli 1.7.5 on Python 3.6.5
mbed : #f8b140f8d
os : ubuntu 18.04.1 LTS

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-08-22 01:19] junjun555 commented on #7833
Sorry. It is not bug.

It compiled with setting of STM32F302 board.
When I corrected it to STM32F303RE, it works correctly.

I am sorry.

[2018-08-22 03:51] ciarmcom commented on #7852
ARM Internal Ref: MBOTRIAGE-1543

[2018-08-22 03:56] #7665 closed, assigned to nobody

[2018-08-22 03:57] coisme commented on #7665
Thank you for clarification. I understand very well!

[2018-08-22 06:36] davidsaada commented on #7845
@dannybenor @OPpuolitaival @bulislaw
*[Mirrored to Jira]*

[2018-08-22 06:38] dannybenor commented on #7845
@neilwjackson
*[Mirrored to Jira]*

[2018-08-22 07:40] martinjaeger opened #7853 "Hook before SystemInit to jump to USB DFU bootloader (STM32)"
### Description
I want to use the built-in DFU bootloader of the STM32F072. It can be initialized using the BOOT0 pin or by software.

To start it via software, a magic code has to be written to a defined address and a reset is initiated. The presence of the magic code has to be checked before or at the beginning of SystemInit. If it is present, the device jumps to the bootloader instead of starti

[2018-08-22 07:54] martinjaeger commented on #7853
[This comment on stackoverflow](https://stackoverflow.com/questions/28288453/how-do-you-jump-to-the-bootloader-dfu-mode-in-software-on-the-stm32-f072/28288454) states that CubeMX HAL actually defines a weak function for this purpose:
[code]
But I can't find this definition in the mbed sources anywhere.
*[Mirrored to Jira]*

[2018-08-22 08:14] dannybenor commented on #7555
@bentcooke Can you close this issue?

[2018-08-22 08:24] 0xc0170 commented on #7853
Look at mbed boot code file (contains information there in comments). I cant locate the document that would describe it (cc @AnotherButler ).

Looking at your requirements: SystemInit is the first function to be run (invoked from startupfile, even before __main invoked, where other hooks are present later).

We provide bootloader, see https://os.mbed.com/docs/latest/tutorials/bootloader.html - isn

[2018-08-22 08:26] 0xc0170 commented on #7852
This looks like an environment bug. Is this related : https://bugs.launchpad.net/ubuntu/+source/gcc-arm-none-eabi/+bug/1767223 ?

[2018-08-22 08:36] 0xc0170 commented on #7841
Any specific requirements?

References that could help:

- https://os.mbed.com/docs/latest/tutorials/optimizing.html
- https://github.com/ARMmbed/mbed-os/issues/4917 (see there a blog post how to use RTX event recorder)

The second link might answer this question. It contains a link how to use EventRecorder (applies to uvision IDE, not eclipse)

[2018-08-22 09:09] Julien-Delsol commented on #7841
Not particulary, just to know the trace tools available for mbed-os.

Thanks for your response.

[2018-08-22 09:11] RobMeades commented on #7847
See below: basically I get the "Sleep locks held:" print line at power-on and then again around each `EventQueue` callback, and I get the lock count increment/decrement print as a result of the `wait_ms()` call.

I will try `Thread::wait`, though my current-measuring rig won't be available for me to confirm results until later today.  The problem with this solution is likely to be that I will end

[2018-08-22 09:46] martinjaeger commented on #7853
The referenced mbed bootloader is stored in the flash before the actual application code. So it reduces the amount of available flash memory.

Many STM32 MCUs have a built-in bootloader in system memory which does even work if the flash got corrupted. I would like to use that one instead.
*[Mirrored to Jira]*

[2018-08-22 11:38] mattbrown015 opened #7858 "Recent LP Ticker Changes Break Tickless"
### Description
I've just tried to update to today's master and it has broken my software. :-(

I'm building for STM32L4 and using tickless in RTC mode.

I suspect the problem is something to do with recent LP ticker changes.

My software runs, does its initialisation and then just appears to stop.  I think it is stuck in a ticker handler.

My current theory is the problem comes from the changes m

[2018-08-22 11:45] 0xc0170 commented on #7858
If you revert that commit or PR, works as expected?

👍
*[Mirrored to Jira]*

[2018-08-22 11:45] 0xc0170 commented on #7858
cc @c1728p9
*[Mirrored to Jira]*

[2018-08-22 12:02] mattbrown015 commented on #7858
I believe so but it is all a bit complicated and I went around a few circles.  I'm currently trying to retrace my steps methodically in order to be sure.
*[Mirrored to Jira]*

[2018-08-22 12:51] NeilMacMullen commented on #7763
Thanks ralph - looking at your PR I think that's entirely consistent with what I was seeing,   Unfortunately I will be on vacation for the next couple of weeks but we've managed to deploy with a combination of my LP_ticker changes above and adding the  RTC feature as you suggested which appear to work well in combination.  Really appreciate your help on this - I should be able to check out the "pr

[2018-08-22 12:52] NeilMacMullen commented on #7804
Thanks Ralph - does this mean the DEVICE_RTC change is now redundant?
*[Mirrored to Jira]*

[2018-08-22 13:00] paul-szczepanek-arm opened #7859 "PR submission form to include [ ] Test as an option"
### Description

Please add:
[ ] Test
as an option on the PR submission form or add instructions in the comment explaining which existing option should be chosen for PR with Tests only.

### Issue request type

[ ] Question
[X] Enhancement
[ ] Bug

[2018-08-22 13:01] paul-szczepanek-arm commented on #7859
@ARMmbed/mbed-os-maintainers I guess functionally this would be the same as refactor?
*[Mirrored to Jira]*

[2018-08-22 13:10] MateuszMaz commented on #7045
I just tested few other devices.
It seems like behaviour described here occurs for other targets too.

### wait_us - expected time vs measured

K64F | | NUCLEO_L476RG |  | NUCLEO_F070RB |  |
-- | -- | -- | -- | -- | --
expected [us] | measured [us] | expected [us] | measured [us] | expected [us] | measured [us]
1 | 6 | 1 | 6.2 | 1 | 12.5
2 | 6 | 10 | 14.75 | 10 | 18.5
6 | 8.6 | 50 | 53.5 | 50 | 60

[2018-08-22 13:16] bulislaw commented on #7845
Guys to accelerate that it would be better if you use our PREQ process. Create a PREQ and assign it to OP for review.
*[Mirrored to Jira]*

[2018-08-22 13:30] 0xc0170 commented on #7859
I was considering it as well. At the moment, updating/adding tests - it's fix most of the time (does not change functionality, no breaking change there), only when adding a new test then it is not that clear.

What others think?
*[Mirrored to Jira]*

[2018-08-22 13:32] samchuarm commented on #7829
Hi @prashantrar @M-ichae-l , can you please help address this build fail asap? Thanks

[2018-08-22 14:23] TacoGrandeTX commented on #7804
@NeilMacMullen - Yes it is redundant, sorry for not clarifying that.  This fixes the original problem with no DEVICE_RTC.  As you mentioned having other end-issues with DEVICE_RTC it would be good to test without it.
*[Mirrored to Jira]*

[2018-08-22 14:36] mattbrown015 commented on #7858
I _deployed_ `https://github.com/ARMmbed/mbed-os/#7c22dca302e76d9fa1cb41efff31925187a4b876`, [LoRaWAN: Restoring default RX2 data rate #7831](https://github.com/ARMmbed/mbed-os/pull/7831), and built and tested my software without any problems.

Then I _deployed_ `https://github.com/ARMmbed/mbed-os/#e02466a77a6a7db6e043b6b87cefe8aa6088f7ec`, [Fixes for tickless and LPTICKER_DELAY_TICKS #7524](https

[2018-08-22 14:53] c1728p9 commented on #7858
Hi @mattbrown015 can you provide steps or an example project I can use to reproduce this failure? Also what board variant of the `STM32L4` are you using?
*[Mirrored to Jira]*

[2018-08-22 15:08] cmonr commented on #7845
@c1728p9
*[Mirrored to Jira]*

[2018-08-22 15:51] mattbrown015 commented on #7858
Hi @c1728p9,

I think the most important nugget of info is that I'm using the RTC for my lp ticker i.e. `"target.lpticker_lptim": 0`.  Obviously this isn't the default and hence feels like a likely source of problems.

We've created a custom target which is inherited from `NUCLEO_L432KC`.  The MCU is actually a STM32L442KC but I'm pretty sure the precise MCU isn't important.

I don't have a cut do

[2018-08-22 16:10] ghost opened #7862 "EFM32 NC Pins not supported"
### Description
EFM32 targets do not allow gpio pins to be specified as NC. In the EFM implementation of gpio_api.c, `gpio_init` contains `MBED_ASSERT(pin != NC)`.

Other targets such as STM32 do the following
[code]
This behavior can cause problems when interfacing with drivers which have optional pins that may not be used. Is there a reason for difference in behavior?

[X] Question
[ ] Enhanceme

[2018-08-22 17:37] Alex-EEE opened #7863 "Intelisense in VS Code"
### Description

VS Code export is working great for me, thanks for that!  Has anyone been able to get full Intelisense working?  Mine keeps complaining about finding header files for the c runtime library.  @janjongboom I know you're a fan, any ideas?

### Issue request type

[x ] Question
[ ] Enhancement
[ ] Bug

[2018-08-22 18:56] yennster opened #7865 "[export][nanostack] Cannot successfully export projects, nanostack config folder does not exist"
### Description
When exporting a project from the online compiler, because the nanostack feature uses .cfg header files those files are not exported which causes compilation errors.

- Targets: all targets
- Tools: online compiler
- Mbed OS SHA: `f5fb3c191 (HEAD -> master, origin/master, origin/HEAD) Merge pull request #7739 from anttiylitokola/master`

Steps to reproduce:
1. Import mbed-os-exampl

[2018-08-22 18:57] yennster opened #7866 "[export][cmake-gcc-arm] Online compiler - mbed_config.h is added to ADD_EXECUTABLE incorrectly"
### Description
When exporting from the online compiler with `cmake-gcc-arm`, the mbed_config.h file generated within the online compiler is included in the `CMakeLists.txt` file with an incorrect directory under `ADD_EXECUTABLE(`

- Targets: all targets
- Tools: online compiler & `cmake-gcc-arm`
- Mbed OS SHA: `f5fb3c191 (HEAD -> master, origin/master, origin/HEAD) Merge pull request #7739 from a

[2018-08-22 18:58] aashishc1988 opened #7867 "Failing flashiap tests on DISCO_L475VG_IOT01A"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
DISCO_L475VG_IOT01A

**Toolchain:**
GCC_ARM

**Tests we are failing:**
tests-mbed_drivers-flashiap

**Steps to reproduce**

mbed  test -m DISCO_L475VG_IOT01A -t GCC_ARM -n tests-mbed_drivers-flashiap -DMBED_HEAP_STATS_ENABLED=1 -DMBED_STACK_STATS_ENABLED=1 -DMBED_TRAP_E

[2018-08-22 19:51] ciarmcom commented on #7867
ARM Internal Ref: MBOTRIAGE-1549

[2018-08-22 19:51] ciarmcom commented on #7865
ARM Internal Ref: MBOTRIAGE-1551

[2018-08-22 20:00] bentcooke commented on #7555
This is now fixed with #7746

[2018-08-22 20:00] #7555 closed, assigned to nobody

[2018-08-22 20:00] bentcooke commented on #7557
Fixed with #7534.

[2018-08-22 20:00] #7557 closed, assigned to nobody

[2018-08-23 02:37] aarkegz commented on #7852
Hi, @0xc0170
Yes it was a problem about gcc-arm-none-eabi on ubuntu 18.04.1.
I've installed another version of it manually and solved this problem.
Thanks for your advice.

[2018-08-23 03:34] M-ichae-l commented on #7829
@samchuarm
For the #7669, It brings back the "dhcps.h" and "dhcps.c".  Please ask the PR creator to remove the two files (remove empty folder also). RTL8195AM does not need the two files. Realtek team would like to review the related commit before it merged. Thank you!

[2018-08-23 07:30] ccli8 commented on #7801
@c1728p9 #7524 can fix the issue. I will keep going tickless support on Nuvoton targets based on this PR. Thanks.

[2018-08-23 07:30] #7801 closed, assigned to nobody

[2018-08-23 08:00] mattbrown015 commented on #7858
I didn't put STM32L4 in the title because I don't know that only STM32L4s are affected, but it is quite possibly a STM32L4 problem.  Hence I wonder if @jeromecoutant has any comment?

I notice that @jeromecoutant has made some RTC changes since adc64cc but I tried being right up to date and that doesn't work either.

I've got meetings this morning but my plan is to get my [NUCLEO-L433RC-P](https:/

[2018-08-23 08:22] 0xc0170 commented on #7858
cc @ARMmbed/team-st-mcd
*[Mirrored to Jira]*

[2018-08-23 08:33] 0xc0170 commented on #7862
cc @ARMmbed/team-silabs
*[Mirrored to Jira]*

[2018-08-23 08:37] 0xc0170 commented on #7865
This is duplicate of https://github.com/ARMmbed/mbed-os/issues/7615 . This should be fixed in the upcoming patch release

[2018-08-23 08:37] #7865 closed, assigned to nobody

[2018-08-23 08:40] 0xc0170 commented on #7867
cc @ARMmbed/team-st-mcd

[2018-08-23 11:31] #7852 closed, assigned to nobody

[2018-08-23 14:23] adustm commented on #7833
Hello @JunJun1234
Using the correct board setting is fixing your issue isn't it ?

Would you then agree to close this issue ?

Kind regards

[2018-08-23 14:36] #7833 closed, assigned to nobody

[2018-08-23 14:39] mattbrown015 commented on #7858
Oh, `LPTICKER_DELAY_TICKS`!

I added `"target.lpticker_delay_ticks": 0` to `mbed_app.json` and my software no longer hangs. :-)

Is this the correct thing to do?

There's plenty of discussion about `LPTICKER_DELAY_TICKS` in [Fixes for tickless and LPTICKER_DELAY_TICKS #7524](https://github.com/ARMmbed/mbed-os/pull/7524) but I'm afraid I don't completely understand.
*[Mirrored to Jira]*

[2018-08-23 14:47] 0xc0170 commented on #7858
@mattbrown015 What's your target ? What is the current value now?
*[Mirrored to Jira]*

[2018-08-23 15:06] adustm commented on #7867
Hello,
Could you precise your issue please ?
`mbed test -m DISCO_L475VG_IOT01A -t GCC_ARM -n tests-mbed_drivers-flashiap -v`
gives correct results
[code]

FYI my setup is the following
mbed-os  sha1 = `603c4f9`
GCC version is `6 2017-q2-update`
[code]

I have tried your command line
`mbed test -m DISCO_L475VG_IOT01A -t GCC_ARM -n tests-mbed_drivers-flashiap -DMBED_HEAP_STATS_ENABLED=1 -DMBED_STACK

[2018-08-23 15:08] #7535 closed, assigned to davidsaada

[2018-08-23 15:09] mattbrown015 commented on #7858
My target is a custom target inherited from `NUCLEO_L432KC`.

The default value of `LPTICKER_DELAY_TICKS` on the `NUCLEO_L432KC` is 3, in common with most of the other STM32 devices.

_But_, I am also changing `MBED_CONF_TARGET_LPTICKER_LPTIM` to 0; its default is 1.

So I think my question is...

What is the correct `LPTICKER_DELAY_TICKS` value when using the RTC as the lp ticker on STM32?
*[Mirr

[2018-08-23 15:34] aashishc1988 commented on #7867
@adustm That's correct. My findings were along the similar lines as to adding just the flag to collect all the stats (-DMBED_ALL_STATS_ENABLED) causes the issue. I am still investigating as to why that is. My understanding is that that flag collects all memory information and might be doing some allocation/deallocation and may be much more, so at this point I am not completely sure if this is an i

[2018-08-23 15:48] 0xc0170 commented on #7829
Thanks @M-ichae-l . I'll revert them soon

[2018-08-23 16:58] deepikabhavnani commented on #7235
Confirmed in other thread https://github.com/ARMmbed/mbed-os/issues/7222, issue does not exists

[2018-08-23 16:58] #7235 closed, assigned to nobody

[2018-08-23 19:01] aashishc1988 commented on #7867
The issue here is memory. When all the stats are enabled, we dont have enough memory on this part to run this test. It fails to allocate 512 bytes. When trying to run flashiap_timing_test, we have to allocate bunch of memory, so we can add a change that would skip that test if we cannot get enough memory for it, something along the lines of this PR: https://github.com/ARMmbed/mbed-os/pull/7696

Be

[2018-08-23 21:49] klaas019 commented on #7154
Could someone update this example https://os.mbed.com/docs/v5.6/reference/sleep-manager.html . It is broken.
*[Mirrored to Jira]*

[2018-08-24 04:13] cmonr commented on #7859
@paul-szczepanek-arm Something we want to avoid is adding too many checkboxes/options to the list, since we want to encourage users to only check one thing. I think this was the original reason why we left "Tests" off as its own thing.

It's more nuanced than that. Sometimes new tests are added, making them closer to features, whereas other times tests are being fixed because they're not operating

[2018-08-24 09:13] MateuszMaz commented on #7867
Tested few other devices with tests-mbed_drivers-flashiap and those flags here is output:

device | flash | ram | result
-- | -- | -- | --
stm32f429zi (nucleo) | 2048 KB | 256 +4 KB | ok
nucleo f070r0b | 128 KB | 16 KB | ok
nucleo -l476rg | 1 MB | 128 KB | error (timeout)
k64f | 1 MB | 256 KB | ok
DISCO-F769NI | 512 KB | 128 KB | ok
NRF52_DK (nrf52832) | 512 KB | 64 kB | ok

looks like only target

[2018-08-24 09:22] 0xc0170 commented on #7867
Nucleo F070 does not have an issue (much smaller target) but L476 does? Is there also playing role memory regions (1 vs 2 RAM regions or something else) ?

[2018-08-24 09:31] #7712 closed, assigned to davidsaada

[2018-08-24 09:46] adustm commented on #7867
Hi @MateuszMaz
Thanks for this test status.

Hi @0xc0170
This is the assumption I was having before reading this report also.
The test is using 76553 flash and 11844 ram, and the device has 1Mb flash + 128k ram. It is supposed to be able to use statistics
I am trying to print memory values with the following function, but it does not work
[code]
Let's keep searching

[2018-08-24 10:56] MateuszMaz commented on #7867
To be a little more precise  problem occurs for flag -DMBED_HEAP_STATS_ENABLED=1
(-DMBED_ALL_STATS_ENABLED=1 just sets  sys, stack,cpu,heap,thread stats enable)

[2018-08-24 13:19] AGlass0fMilk opened #7884 "nRF52840 - SPIM Instance 3 Unsupported"
### Description
I noticed the documentation here:
https://github.com/ARMmbed/mbed-os/blame/master/targets/TARGET_NORDIC/TARGET_NRF5x/README.md#L50-L64

States that both the nRF52832 and nRF52840 have 3 SPI instances. I recently started using the nRF52840 for a new project that requires more speed and memory - one of the other benefits being the SPI peripheral instance that supports up to 32Mbit/s.

[2018-08-24 13:23] AGlass0fMilk commented on #7743
What is the status of this? I have been unable to use PwmOut on nRF5X platforms up til now (causes a "fatal error" immediately). This is quite a severe issue.
*[Mirrored to Jira]*

[2018-08-24 13:54] fasthazard commented on #7381
Just posted a possible solution at #6407, related to older interface firmware revision, although I was only able to test with mbed-cli.

In that case, updating the [lpc1768 interface firmware](https://os.mbed.com/handbook/Firmware-LPC1768-LPC11U24) resolved the error in wait time without needing to reflash my code.

[2018-08-24 13:54] 0xc0170 commented on #7381
@janfwesterkamp Please test

[2018-08-24 13:56] 0xc0170 commented on #7743
@AGlass0fMilk Does https://github.com/ARMmbed/mbed-os/pull/7779 fixes the issues you are having?
*[Mirrored to Jira]*

[2018-08-24 14:23] MateuszMaz commented on #7743
#7779 is intended to fix it for nrf52832 and nrf52840
*[Mirrored to Jira]*

[2018-08-24 14:49] bmcdonnell-ionx opened #7885 "numerous compiler warnings"
### Description

There are a number of compiler warnings. Below is a sample excerpt of when I compiled for 2 targets, with an empty `main()`. Please fix these. I suggest you also then check the rest of the targets and fix any remaining.

Targets: Probably all
Toolchain: Tested only GCC_ARM
Mbed CLI
`f8b140f8d (HEAD, tag: mbed-os-5.9.5, tag: latest, origin/mbed-os-5.9) Merge pull request #7753 from

[2018-08-24 14:55] bmcdonnell-ionx opened #7886 "improve process to prevent warnings"
### Description

The number of compiler warnings has grown over time. Please consider implementing one or both of the following:

- Improve documentation to encourage contributors to check for and resolve any compiler warnings before merge.
- Add CI tests to enforce no compiler warnings allowed. (Preferred, I think.)

Related: #7885, #6305

### Issue request type

[ ] Question
[X] Enhancement
[ ]

[2018-08-24 15:05] ghost opened #7887 "Comments in mbed_app.json"
### Description

QUESTION: Is there a way to insert comments into an mbed_app.json file. I would basically like to
comment out some lines occasionally but haven't found a way to simply comment out a line, eg. start a line with # or ' or something and it is ignored.

### Issue request type

[X ] Question
[ ] Enhancement
[ ] Bug

[2018-08-24 15:51] ciarmcom commented on #7887
ARM Internal Ref: MBOTRIAGE-1554

[2018-08-24 17:36] mattbrown015 commented on #7886
Also related, [mbed should be compilable with "-Werror" #7312](https://github.com/ARMmbed/mbed-os/issues/7312)
*[Mirrored to Jira]*

[2018-08-24 20:25] ghost opened #7888 "Memory tracing suggestion"
### Description

I have been using the memory tracing features of mbed-os but found the current implementation a bit overwhelming in terms of the raw data produced.  I wanted to trace only certain portions of the code so I implemented a flag (mem_trace_enable) so that I could enable/disable tracing during execution.  It was implemented by modifing mbed_mem_tracing.cpp in the function calls, i.e.

[2018-08-24 20:51] deepikabhavnani commented on #7800
I believe this answers the question, hence closing. Feel free to reopen if required.

[2018-08-24 21:30] andrewleech opened #7889 "Cannot compile mbed with RTOS disabled"
### Description
I regularly need to run mbed without the rtos on smaller targets that do not have enough ram/flash to support the os.

Currently the only way I know of to do this is adding the rtos and events libraries to .mbedignore
[code]
During testing of PR #7794 I found that this longer works. It was not caused by that PR but something committed to master shortly beforehand.
It appears to be

[2018-08-24 21:31] kegilbert commented on #7888
Hi @jflynn129 ! Thanks for your enhancement request. Tracking every memory operation in the OS can lead to quite a bit of output, good point on having a better way of controlling what is profiled. I can look into adding a proper enable/disable logging function in the tracing class module.

In the meantime, you can also try setting the callback to void when you don't want output (take the following

[2018-08-24 21:34] kegilbert commented on #7889
Hi @andrewleech ! Some recent reshuffling may have moved some additional dependencies on the RTOS. Please see the following for the current "best" way to disable the RTOS (it does exactly what you're doing but disables all modules that use the RTOS to allow the build to compile. I haven't tracked down the exact changes but going off of the complete list it's a few items in the 'features' directory

[2018-08-24 21:37] andrewleech commented on #7889
Yes I guess that list of features is a bit more selected that disabling all of them eg.
https://github.com/ARMmbed/mbed-os/pull/7794#issuecomment-415466314

*[Mirrored to Jira]*

[2018-08-24 21:50] andrewleech commented on #7887
I too would love this change.
As much as it's non-standard json vs-code does this, allowing comments in json Configs and it's incredibly useful.

[2018-08-24 23:51] ciarmcom commented on #7888
ARM Internal Ref: MBOTRIAGE-1559

[2018-08-25 04:30] c1728p9 commented on #7858
Hi @mattbrown015 I think I was able to reproduce your issue on a `NUCLEO_L432KC`. By adding the macro `MBED_TICKLESS` and setting `lpticker_lptim` to 0 I was able to get the program below to lockup randomly. (Note - I built with the default profile and the ARM toolchain) Is this similar to the failure you were seeing?

To investigate this further I instrumented the ticker wrapper and looked at the

[2018-08-25 10:10] janfwesterkamp commented on #7381
Updating the firmware fixes the problem. Tested it with 3 different LPC1768, the online compiler and the latest revisions of OS 2 (169:a7c7b63) and OS 5 (0fdfcf735).

There should be firmware related documentation in the new OS 5 handbook.

[2018-08-25 10:10] #7381 closed, assigned to nobody

[2018-08-27 05:57] wajahat-abbas commented on #7470
Looks like it does solve the problem. Thank you

[2018-08-27 08:05] 0xc0170 commented on #7886
This should be covered by docs, we will review (cc @AnotherButler)

This is definitely needed. We already discussed this. The referenced PR above by @mattbrown015 . There is this comment: https://github.com/ARMmbed/mbed-os/issues/7312#issuecomment-400980507.   believe we should put something in place soon and keep it under control and fix one by one.

cc @OPpuolitaival
*[Mirrored to Jira]*

[2018-08-27 08:24] mprse commented on #7763
Sorry guys. I was out of office.

So in the previous version both us ticker and lp ticker were implemented based on RTC on NRF boards. This has been changed and now us ticker is based on 1 MHz counter. This is probably causing the extra power consumption when `wait_ms()` function is used. As @pan- said it will initialize high speed counter used for us ticker. To reduce the power consumption us tic

[2018-08-27 09:51] 0xc0170 commented on #7885
@ARMmbed/team-ublox @ARMmbed/mbed-os-wan Please address warnings in cellular/lorawan

@ARMmbed/mbed-os-core Please address warnings in the platform/drivers/rtos

[2018-08-27 12:41] 0xc0170 opened #7897 "Travis : astyle does not report increase or decrease in files"
### Description

It currently reports only total number of files that needs formatting. This was noticed recently, previosly was implemented as only +/- based on master number.

Here's the implementation: https://github.com/ARMmbed/mbed-os/blob/master/.travis.yml#L134

This is the showcase: https://travis-ci.org/ARMmbed/mbed-os/jobs/421046143

I'll send PR testing this to confirm

cc @geky

### Is

[2018-08-27 12:42] bmcdonnell-ionx commented on #7886
I don't quite understand https://github.com/ARMmbed/mbed-os/issues/7312#issuecomment-400980507. What is the part about +15 warnings?
*[Mirrored to Jira]*

[2018-08-27 12:55] 0xc0170 commented on #6975
@toyowata @ARMmbed/team-renesas Is this still an issue ? I am at the moment not able to load compiler, will test

Update

lib 162 - blinky still fails with the same msg as reported
*[Mirrored to Jira]*

[2018-08-27 13:20] 0xc0170 commented on #7886
My proposal is to start monitoring warnings (each PR would be checked  against master and get the total number of warnings in the PR and comparison against master - how many it adds/removes - so +/- count. I believe just the latter should be sufficient). An example `Total: 352 warnings (+10 warnings)` -any positive number in the compared count to master (like that +10) would turn PR red.
*[Mirrore

[2018-08-27 13:25] bmcdonnell-ionx commented on #7886
Sounds good to me.

The examples numbers you're using (352, +10, +15) suggested to me that you're not concerned with single warnings. I think you are, but to be clear: the goal should be `Total: 0 warnings (+0 warnings)`.
*[Mirrored to Jira]*

[2018-08-27 14:59] 0xc0170 commented on #7897
Looking at the log, this is there now

[code]
*[Mirrored to Jira]*

[2018-08-27 15:12] deepikabhavnani opened #7900 "'armv4t' warning when compiling with ARMC6"
### Description
I also see below warning in detail build dumps, not sure what is causing this.

[DEBUG] Errors: warning: 'armv4t' is unsupported in this version of the product

https://github.com/ARMmbed/mbed-os/pull/7792#issuecomment-415430907

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-08-27 15:17] 0xc0170 commented on #7897
PREV is being reported as 0, that is why it is failing to report properly.

[code]
*[Mirrored to Jira]*

[2018-08-27 16:14] deepikabhavnani commented on #7885
[code]

Above warning is from target specific code, and is present for all NXP devices. Parity is not set for `default` case.

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NXP/TARGET_LPC408X/TARGET_LPC4088/serial_api.c#L229

[2018-08-27 16:22] deepikabhavnani commented on #7885
[code]
Above warning is from CMSIS/RTX code after disabling, all timeout events https://github.com/ARMmbed/mbed-os/blob/2f8e6791838966b84d5bd0064a0e6da9c9e1a011/rtos/TARGET_CORTEX/mbed_rtx_conf.h#L180

CC @SenRamakri

[2018-08-27 16:24] AnotherButler commented on #7853
@0xc0170 Are you looking for this?
https://os.mbed.com/docs/v5.9/reference/runtime.html
*[Mirrored to Jira]*

[2018-08-27 18:05] kegilbert commented on #7885
I was looking over the osRtxthreadListRoot issue, looks like a problem with the `EvrRtx*` calls in the case structure here: https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_thread.c#L344-L369

The call defaults to a void macro in default conditions removing the call to `osRtxThreadListRoot`. Options are redefined MBED_USED in this scope:
[code]

or pull in the

[2018-08-27 21:36] deepikabhavnani commented on #7889
`/master/features/netsocket` - for sure needs rtos
*[Mirrored to Jira]*

[2018-08-28 03:08] TomoYamanaka commented on #6975
I checked this issue by using mbed lib 169, unfortunately the above failure still occurs.
The Online compiler's message is here.
[code]

I think that this is an unexpected behavior by Online Compiler.
@ARMmbed/mbed-os-tools could you confirm the above?
*[Mirrored to Jira]*

[2018-08-28 06:45] AriParkkila commented on #7682
@NeilMacMullen do you think we can close this issue. PR #7870 implements support for GPRS dial-up command and that's now merged.

[2018-08-28 07:24] AriParkkila commented on #7213
@cedrickkukela-cd do you think we can close this issue? The "use of atd vs at+cgdata in at_cellularnetwork" as you requested above is now supported with PR #7870.

[2018-08-28 07:45] AriParkkila commented on #7464
@NeilMacMullen can you reproduce this with cellular AT traces enabled `"cellular.debug-at": true` too?

[2018-08-28 08:07] adustm commented on #7867
Hello,

Those devices (STM32L476 / 475 / 486 ) have 2 non contigous SRAMs.
Heap is located in SRAM1 (from 0x20000000) and stack is located in SRAM2 ( from 0x10000000).
Could someone check if the heap statistic code supports this split ?

[Crash analysis document](https://os.mbed.com/docs/v5.9/tutorials/analyzing-mbed-os-crash-dump.html#analyzing-crash-dump) explains that

The provided dump
`00:39:

[2018-08-28 08:19] AriParkkila commented on #7680
@NeilMacMullen cellular uses Mbed OS SocketAddress as it is, so you need to use `gethostbyname` to convert name to address before calling socket_sendto, etc. If modem does not support DNS you can use `nsapi_dns.cpp`.

[2018-08-28 08:50] Jossie90 commented on #7380
I stumbled upon this issue when updating to the latest mbed release (5.9.4.). I think it is caused by this commit 6d90c2716d64343bb34376a4a9effacc7a7fca99, where the RTC is was disabled for this device. Adding "RTC" to targets.json solved it for me.

*[Mirrored to Jira]*

[2018-08-28 09:07] SeppoTakalo commented on #7680
Mbed OS already has internal DNS resolver that is independent of the Network stack.
https://os.mbed.com/docs/v5.9/reference/dns-resolver.html

If more optimal resolver is provided by the Module, it might override the `gethostbyname()` functions.

However, if the module, as in this case, is able to work with symbolic names instead of IP addresses, that causes API changes to the user level, which I'

[2018-08-28 10:03] ghost commented on #6877
Do you have a use case where you need to specify the `DMAUsage` parameter? The current plan would be to remove it altogether rather than expose it in the API.
*[Mirrored to Jira]*

[2018-08-28 10:11] #7391 closed, assigned to kjbracey

[2018-08-28 10:12] samchuarm commented on #7829
It seems this is fixed now?

[2018-08-28 10:18] TomoYamanaka commented on #7155
@0xc0170
Could you re-open this issue? It seem that I can't reopen.
There is still one problem that should be resolved.
`"No such file or directory" error (when exporting on Online Compiler)`

@theotherjimmy
Is there anything update about the investigation result that @phyokyaw  mentioned(https://github.com/ARMmbed/mbed-os/issues/7155#issuecomment-410286102)?

[2018-08-28 11:14] EduardShaid opened #7908 "linking the project **mbed-os** to Windows"
When will the error be corrected when linking the project **mbed-os** to Windows ?

[2018-08-28 11:50] 0xc0170 commented on #7908
Hi @EduardShaid ,

as a bug report, this is missing vital information that could help us reproduce the problem, fix it and answer your question. Please reopen with an update.

Based on the error shared, I would assume this is related to windows paths, already tracked in the issues, please find the original issue and comment there rather

[2018-08-28 11:50] #7908 closed, assigned to nobody

[2018-08-28 11:52] 0xc0170 commented on #7908
https://github.com/ARMmbed/mbed-os/issues/6335

[2018-08-28 12:37] 0xc0170 commented on #7380
RTC should be reenabled (but needs to make RTC testing green first)
*[Mirrored to Jira]*

[2018-08-28 12:37] #7829 closed, assigned to 0xc0170

[2018-08-28 17:28] aashishc1988 opened #7912 "Getting hardfault when running netsocket tests on nuc472"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_NUC472

**Toolchain:**
GCC_ARM

**Tests we are failing:**
tests-netsocket-dns

**Steps to reproduce**

mbed test -m NUMAKER_PFM_NUC472 -t GCC_ARM -n tests-netsocket-dns -DMBED_HEAP_STATS_ENABLED=1 -DMBED_STACK_STATS_ENABLED=1 -DMBED_TRAP_ERRORS_ENABLED=1 -DM

[2018-08-28 21:56] deepikabhavnani commented on #6930
Closing this as the use case cannot be covered. Cannot call start multiple times on thread for more info please see https://github.com/ARMmbed/mbed-os/pull/7905

[2018-08-28 21:56] #6930 closed, assigned to nobody

[2018-08-29 01:19] andrewc-arm commented on #7711
Hi, @aashishc1988
When WIZnet and I run the same command, I get this error. Do you know how we should solve this compile error?

Thanks,

[2018-08-29 08:29] 0xc0170 commented on #7912
@ARMmbed/team-nuvoton Please review

@absgomz66 ?
*[Mirrored to Jira]*

[2018-08-29 11:13] 0xc0170 commented on #7897
Fixes #7898 - reports it again
*[Mirrored to Jira]*

[2018-08-29 12:55] cyliangtw commented on #7912
I verified this DNS test on NUC472, it could work fine. please open the attached log file for details.

[code]
[nuc472_netsocket_dns_gcc.txt](https://github.com/ARMmbed/mbed-os/files/2332162/nuc472_netsocket_dns_gcc.txt)

*[Mirrored to Jira]*

[2018-08-29 15:05] ghost opened #7927 "mbed-os source file access in on-line compiler"
### Description

I am attempting to use the on-line compiler to compile a program that requires a modified config.h file within the mbed-os/features/mbedtls/inc/mbedtls folder.  When the program is imported into the on-line compiler, there appears to be no access to this area.  How do I access the mbed-os source files from within the on-line tool so I can make my required modifications?

If I am u

[2018-08-29 15:51] ciarmcom commented on #7927
ARM Internal Ref: MBOTRIAGE-1564

[2018-08-29 16:42] mstfkaratas commented on #7927
You can include your custom config file according to mbedtls config.h
https://github.com/ARMmbed/mbed-os/blob/7d871bfff5cc5fd7d068e6acdfbf8805d8d45076/features/mbedtls/inc/mbedtls/config.h#L2957-L2968

So you can use a config paramater in mbed_app.json like the one below to include your custom config header

[code]

[2018-08-29 17:18] bmcdonnell-ionx opened #7928 "USBDevice issues"
### Description

Regarding https://github.com/ARMmbed/mbed-os/pull/5874:

I don't understand some aspects of https://github.com/ARMmbed/mbed-os/pull/5874/commits/6decbedbb813b71ea098018c03d9f969a02b9217. These questions are still applicable to the latest/next Mbed OS release, 5.9.6 (0fdfcf735).

1. This commit makes several functions return `const` pointers (e.g. `USBDevice::deviceDesc()`), but th

[2018-08-29 20:56] bmcdonnell-ionx opened #7929 "NXP system file - incorrect USBClock; update?"
### Description

Target: NXP LPC4088
Mbed OS 5.9.5

`system_LPC407x_8x_177x_8x.c` [computes `USBClock`](https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.9.5/targets/TARGET_NXP/TARGET_LPC408X/device/system_LPC407x_8x_177x_8x.c#L434) incorrectly. Problems include but may not be limited to the following:

 - Per Table 21 in section 3.3.3.3 of [UM10562.pdf](https://www.nxp.com/docs/en/user-guide/UM10

[2018-08-29 21:55] bmcdonnell-ionx opened #7930 "USB tear-down functions for hotplugging"
### Description

Mbed OS 5.9.5
Target & toolchain agnostic / all

#### Background

[Rumor has it](https://forums.mbed.com/t/usbdevice-in-mbed-os-5/2179/5) that "USB mainline support is coming [to Mbed OS] soon." I don't know what changes are in the works, but here is an issue with the current `unsupported` implementation, which I hope you will address soon - maybe even before the supported release

[2018-08-29 21:56] bmcdonnell-ionx opened #7931 "USBMSD needs disk_deinitialize()"
### Description

Mbed OS 5.9.5
Target & toolchain agnostic / all

A common usage of `USBMSD` will probably involve [sharing a `BlockDevice` as USB Mass Storage Device](https://github.com/bmcdonnell-ionx/mbed-os-demo-usbmsd).

I think the [`USBMSD`](https://github.com/ARMmbed/mbed-os/tree/master/features/unsupported/USBDevice/USBMSD) class should have a `disk_deinitialize()` member function, like `

[2018-08-30 01:46] c1728p9 commented on #7928
Hi @bmcdonnell-ionx its good to see you interested in USB. Below are my answers to your questions.

1. Casting away const may not be the best practice, but in this case it is safe. The variable `transfer.ptr` is used for both sending data and receiving data over USB. Because it handles reading data it needs to be able to take a non-const buffer for HOST_TO_DEVICE transfers. In the case of descript

[2018-08-30 08:33] 0xc0170 commented on #7929
As you noted, comes from cmsis pack - device pack to be specific. If this is t he issue there and yet not addressed, should be reviewed by @ARMmbed/team-nxp
*[Mirrored to Jira]*

[2018-08-30 09:23] yossi2le commented on #7467
HI @AGlass0fMilk
Did @geky answer has been helpful?
if so can you please close the issue.
I can just let you know that for mbed-os 5.9 @geky answer is what we have. changes and enhancing of storage and its tests would be coming in the near future.
*[Mirrored to Jira]*

[2018-08-30 10:43] ghost commented on #7927
Thank you that was the info I needed.

[2018-08-30 10:43] #7927 closed, assigned to nobody

[2018-08-30 10:45] wlamprecht opened #7933 "Nordic nRF 52 MTU change fails for values from 50 to 517"
### Description

Hi,

I implemented the Nordic Uart Service and tried to set the max MTU size to a value bigger than 23.
If I set the max MTU size (NRF_SDH_BLE_GATT_MAX_MTU_SIZE in mbed_lib.json) to a value over 50, the BLE initalisation fails and the service is not discoverable by any other device.

Tagret: Nordic nRF52
Toolchain: mbed cli 1.7.5, arm-gcc

Uart Service used: mbed-os/features/FEATU

[2018-08-30 12:22] bcostm commented on #7827
Hi,
Can you please close this issue if all questions have been answered ? Thanks!

[2018-08-30 12:26] bcostm commented on #7647
Can you please close this issue if everything is ok now ? Thanks.

[2018-08-30 12:45] adustm commented on #7867
hello again,
I would like to share some findings. We don't understand the impact of our modifications on the behavior of the test. Maybe some of you will.

Crash log parser says:
[code]
This mean that the error occurs here in mbed_alloc_wrappers.cpp
[code]

We've been able to find 2 ways of fixing the problem (no explanation so far...)
1/ mbed_alloc_wrappers.cpp
[code]
=> test is ok
2/ l4_retarget

[2018-08-30 12:57] nikolak94 opened #7936 "New TCPSocket API always returns NULL from accept function"
Hi,

I am using new TCPSocket API that now has accept function (accept() has been moved to abstract socket class and implemented in TCPSocket).  There was an advice in new release to deprecate TCPServer in favor of just TCPSocket::accept(). But i think there is a problem with accept() function in TCPSocket.
Function always returns NULL pointer instead of created TCPSocket within the function.

TCP

[2018-08-30 13:13] mattbrown015 commented on #7647
I suppose my question was answered by the creation of the PR.  At the time of writing the PR hasn't merged but that's a different issue.  Hence closing.

[2018-08-30 13:13] #7647 closed, assigned to nobody

[2018-08-30 13:16] MateuszMaz commented on #7867
I found that this problem is not related neither to greentea nor FlashIAP, and thanks to @maciejbocianski  help I also know that it occurs only for GCC_ARM. It is indeed related to memory allocation.

Just make a simple program, and compile it with -DMBED_HEAP_STATS_ENABLED=1  -t GCC_ARM

[code]
this one will result in something similar:

Error Status: 0x80FF013D Code: 317 Module: 255
Error Messag

[2018-08-30 14:08] LMESTM commented on #7867
HI all
Can someone explain why alloc_info_t _NEEDS_ to be aligned to 8 ?

[code]

[2018-08-30 14:08] ghost commented on #7887
Its an ugly work around but the following will work...

In the mbed_app.json file, put  comments in a separate set of name/value pairs in the config section. I tried to add this to the macros section but it wouldn't work.  example:

"config": {
        "config Comments": "Add the to the macros section above to enable memory stats output",
        "heap_stats"           : "MBED_HEAP_STATS_ENABLED",

[2018-08-30 14:36] TacoGrandeTX commented on #7884
Thanks for pointing this out.   Looking at the v14.2 SDK more closely there appears to be no support for SPIM3 because early revisions of silicon had an errata and the peripheral didn't work:
[https://devzone.nordicsemi.com/f/nordic-q-a/28636/spi3-missing-in-sdk-v14-2-0-for-nrf52840
](url)

As long as you aren't impacted by the errata it should be safe to utilize it with your own driver.

*[Mirror

[2018-08-30 15:09] aashishc1988 commented on #7711
@andrewc-arm Try replacing
"mbed test" with
"mbed test --compile"

[2018-08-30 15:10] deepikabhavnani commented on #7912
@cyliangtw  Build command for failure is not the same as success.

Fails with:
`mbed test -m NUMAKER_PFM_NUC472 -t GCC_ARM -n tests-netsocket-dns -DMBED_HEAP_STATS_ENABLED=1 -DMBED_STACK_STATS_ENABLED=1 -DMBED_TRAP_ERRORS_ENABLED=1 -DMBED_ALL_STATS_ENABLED -v`

Success:
`mbed test -m NUMAKER_PFM_NUC472 -t GCC_ARM -n tests-netsocket-dns -v`
*[Mirrored to Jira]*

[2018-08-30 15:12] aashishc1988 commented on #7912
@cyliangtw As @deepikabhavnani indicated, the build command you used doesnt include stack/heap flags, which I am guessing end up using more memory to collect all the stats information.
*[Mirrored to Jira]*

[2018-08-30 16:27] c1728p9 commented on #7930
Hi @bmcdonnell-ionx you can get early access to the USB changes by checking out the mbed-os branch feature-hal-spec-usb-device. Feel free to try out that branch and provide feedback on it. All the classes there have the appropriate tear-down functions so they can be created and destroyed safely.
*[Mirrored to Jira]*

[2018-08-30 16:29] c1728p9 commented on #7931
The [updated USBMSD class](https://github.com/ARMmbed/mbed-os/blob/feature-hal-spec-usb-device/usb/device/USBMSD/USBMSD.cpp#L108) calls `deinit()` in its destructor. Is this sufficient for your use case?
*[Mirrored to Jira]*

[2018-08-30 16:36] c1728p9 commented on #7930
Also @bmcdonnell-ionx below are the preliminary docs. Any feedback you have on these would also be appreciated.

[Overview of USB classes](https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/reference/api/usb/usb_component.md)

[Technology page](https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/reference/technology/USB.md)

[USBAudio](https://github.com/ARMmbed/mbed-os-5-

[2018-08-30 17:00] bmcdonnell-ionx commented on #7930
@c1728p9, thanks for the info.

I'm not sure how much time I'll have to dig in, since my current usage of USB is kind of a one-off. However, to the extent that I can, what is the appropriate venue(s) for giving feedback?
*[Mirrored to Jira]*

[2018-08-30 17:16] bmcdonnell-ionx commented on #7931
`USBDevice::deinit()` is the mirror of `USBDevice::init()`, not `USBMSD::disk_initialize()`.

Shouldn't there be symmetry here, so that everything that gets powered up can be powered down?
*[Mirrored to Jira]*

[2018-08-30 19:51] ciarmcom commented on #7936
ARM Internal Ref: MBOTRIAGE-1570

[2018-08-30 20:51] deepikabhavnani commented on #7888
@jflynn129 - @kegilbert described the mechanism available to enable/disable memory tracing logs if it is good enough we can close the enhancement request.

[2018-08-30 22:15] deepikabhavnani commented on #7301
@leibin2014  - Can you confirm if you still get warnings on master branch?

[2018-08-31 00:17] andrewc-arm commented on #7711
Hi. @aashishc1988
I replaced it and got following failure.

Could you please make sure 'Steps to Reproduce' is working for you?

[2018-08-31 00:36] c1728p9 commented on #7343
Hi @SeppoTakalo when I was working on heap stats a while back I noticed that there is overhead as you mentioned. At the time I decided to report the logical value used by an application (not accounting for the allocation overhead). This was for a couple of reasons:

1. Depending on the allocator and settings the overhead may vary for the same application, but the logical value used won't change. U

[2018-08-31 02:17] cyliangtw commented on #7912
@deepikabhavnani  @aashishc1988  , I traced this memory alloc/free wrap issue long time ago in some sample without networking, it's only found in GCC. I ignored it and workaround by referred other platforms to adjust heap as 32 bytes alignment temporarily at that time. After several weeks, Bridadan also saw this symptom and issued [#3440](https://github.com/ARMmbed/mbed-os/issues/3440).  Identifie

[2018-08-31 09:08] ccli8 opened #7942 "M2351: Cannot partition flash/SRAM through mbed_app.json"
### Description

On NUMAKER_PFM_M2351, I can partition flash/SRAM through `mbed_app.json` before. For example, in the example below:
https://github.com/OpenNuvoton/NuMaker-mbed-TZ-secure-example
I can partition secure/non-secure flash to 64 KiB/448 KiB and SRAM to 8 KiB/88 KiB by modifying `target.mbed_rom_start`, but this override fails on `mbed-os-5.9.5`/`mbed-os-5.9.6`.

<pre>
"target_overrides

[2018-08-31 10:39] martinjaeger commented on #7853
I guess the mbed_main is also too late, as all clocks are already initialized. The jump to the bootloader should happen right after reset, i.e. at the beginning of SystemInit().
*[Mirrored to Jira]*

[2018-08-31 11:51] ciarmcom commented on #7942
ARM Internal Ref: MBOTRIAGE-1571

[2018-08-31 12:10] ghost commented on #7888
@deepikabhavnani I have a workable method to trace only the code I was interested in profiling. @kegilbert option is similar and works in a similar manner. I had submitted this as a suggestion only.  Adding kegilbert's description to the documentation or maybe a blog article may be helpful to the community.

[2018-08-31 12:10] #7888 closed, assigned to nobody

[2018-08-31 12:25] toyowata opened #7946 "Mbed OS 5.9.6 release version number has not been updated"
### Description

The ```MBED_PATCH_VERSION``` has not been changed to 6.
https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.9/platform/mbed_version.h#L46

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-08-31 13:11] 0xc0170 commented on #7946
Thanks for reporting, we are looking at this

[2018-08-31 13:12] EnsilicaEdd opened #7947 "Expose more LoRaWAN internal state"
### Description
My project has a requirement to display the current uplink and downlink counters, as well as the network and application session keys (ignoring for a moment whether or not this is a good idea).

The counters are tantalizingly close to the surface, as they're made available to `LoRaWANStack` by `LoRaMAC` as part of the rx and tx metadata, but just not copied into the user-facing ver

[2018-08-31 13:14] 0xc0170 commented on #7946
PR #7874 failed to update the block

cc @ARMmbed/mbed-os-maintainers

[2018-08-31 13:38] LMESTM commented on #7867
@bogdanm @c1728p9 @heky
I think that you 3 were at the origin of the code for handling memory tracing. We have an issue here and a question about why alloc_info_t must be aligned to 8 - could you maybe help out ?
thanks
Laurent

[2018-08-31 13:54] 0xc0170 commented on #7946
We added this to the known issues, please see https://github.com/ARMmbed/mbed-os/releases/tag/mbed-os-5.9.6

It can't be changed now as the release + tags were published. We will make sure this will be fixed in the upcoming releases (version block always updated, need to find a root cause that this was not updated by the release script).

Considering this as resolved.

[2018-08-31 14:30] toyowata commented on #7946
@0xc0170 Thank you very much for your quick response.

I agree with this.

[2018-08-31 14:44] c1728p9 commented on #7867
Hi @LMESTM this was done in an abundance of caution. The default implementation only returns 8 byte aligned data and some things, such as stacks require 8 byte aligned memory. To ensure there were no regressions the 8 byte alignment was kept.

[2018-08-31 14:47] c1728p9 commented on #7930
@bmcdonnell-ionx feel free to open issues in mbed-os like you have been for reporting USB feedback.
*[Mirrored to Jira]*

[2018-08-31 14:51] bmcdonnell-ionx commented on #7930
@c1728p9, if I and/or others were to open a few or several issues, isn't that kind of noisy? Since it's not released yet.

I've seen other instances where devs open a PR tagged `do not merge`, and get review/comments there. Do you think that might fit here, too?
*[Mirrored to Jira]*

[2018-08-31 14:53] #7946 closed, assigned to nobody

[2018-08-31 15:00] deepikabhavnani commented on #7888
👍 https://github.com/ARMmbed/mbed-os-5-docs/issues/697.

[2018-08-31 15:00] c1728p9 commented on #7930
@bmcdonnell-ionx for that you can either add `component: usb` or mention me and I'll add it.
*[Mirrored to Jira]*

[2018-08-31 15:41] LMESTM commented on #7867
Thanks for quick feedback @c1728p9.  In our particular case, removing the padding, therefore removing this extra caution step and keeping structure with 4 bytes only, somehow solves our issue ...
and I have no why  ... any idea ?  could it be that the pad in structure is sometimes optimized out as this is never used nor referenced ?

[2018-08-31 15:51] ciarmcom commented on #7947
ARM Internal Ref: MBOTRIAGE-1573

[2018-08-31 21:19] maclobdell opened #7949 "Can't compile in MCUXpresso IDE 10.2 (Make Error 126, Bad file number)"
### Description

After exporting an Mbed OS project to MCUXpresso IDE, I open it, click build, and consistently get Make Error 126.  See below.  This happens on different files in different projects.

I've tried opening MCUXpresso as an administrator.  Tried re-importing projects, moving their location up closer to C:/ , building from within the workspace or outside of it, etc.

IDE tested : MCUXp

[2018-08-31 21:19] maclobdell commented on #7949
cc @mmahadevan108
*[Mirrored to Jira]*

[2018-08-31 23:21] c1728p9 commented on #7867
It appears that this failures is caused by a mismatch between the allocation size newlib expects and the size actually allocated. Depending on the size of the first allocation (if it is a multiple of 32 bytes) then the alignment done in `__wrap__sbrk` won't match what newlib expected, which is likely the cause of the crash. The code which is potentially causing the mismatch can be found here:

htt

[2018-08-31 23:34] c1728p9 commented on #7867
I created #7950 to fix this. Please test and confirm it fixes the problem.

[2018-09-01 08:39] JojoS62 commented on #7949
it looks like mbed became too fat, too many source files for the command line.
Try to exclude all features from the build: right click on mbd-os/features, select 'Resource configurations / Exclude from build...' and select all.
A better solution will be to remove freatures by the mbed configuration option before exporting, but I have not tried this yet.
*[Mirrored to Jira]*

[2018-09-01 16:09] #7827 closed, assigned to nobody

[2018-09-02 12:31] JojoS62 opened #7954 "Exporter: using -z (zip) options fails"
### Description
there is a new (undocumented?) function for the exporters to create the export in a zipfile. Great!
but using this option throws an error with traceback:
[code]

This happens for all exporters and targets that I have tried (LPC1768, BLUEPILL_F103C8, make_gcc_arm, mcuxpresso, gnuarmeclipse).

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-02 13:05] JojoS62 commented on #7954
I have added a try/except to skip over the error and to print the ref that is causing the problem:

[code]

This workaround skips the errors and creates the zip files.

[code]

*[Mirrored to Jira]*

[2018-09-03 01:05] janjongboom opened #7956 "Netsocket API requires RTOS"
### Description

features/netsocket uses `Mutex` instead of `PlatformMutex` and thus cannot be used when RTOS is not loaded. In addition it uses `EventFlags` but that can be `ifdef`'ed out.

### Issue request type

[ ] Question
[X] Enhancement
[ ] Bug

[2018-09-03 03:29] andrewleech commented on #7942
I ran into the same issue on my nordic platform, it should be addressed in #7957

If this used to work on your platform you hopefully shouldn't need extra linker script updates, just the patch to the python config system file.

[2018-09-03 04:28] janjongboom commented on #7863
@Alex-EEE You have to include the header files from the GCC ARM Toolchain, plus only include the files for your target (the exporter does that) but it never worked 100% for me... @arekzaluski you've set this all up for Mbed Studio, how do you do it there?
*[Mirrored to Jira]*

[2018-09-03 05:40] ccli8 commented on #7942
@andrewleech Thanks for your information, but #7957 cannot fix my issue. Currently, I roll back to old version which supports flash/SRAM override.

[2018-09-03 05:42] andrewleech commented on #7942
Do you get an error on newer version, or does it just not change the ram setting?

What version are you using that does work?

[2018-09-03 05:48] ccli8 commented on #7942
@andrewleech I try on `mbed-os-5.9.6` with #7957 patch, but flash/SRAM start/size are not overridden through `mbed_app.json`. Now, I roll back to mbed-os 63f62165d89f5562c529cd3ecb94823ce1dc7f13.

[2018-09-03 06:55] 0xc0170 commented on #7942
@ccli8 What has changed in `mbed-os-5.9.5/mbed-os-5.9.6.` ? Can you "git blame" the commit that broke it?

[2018-09-03 07:15] SeppoTakalo opened #7961 "`mbed compile --stats-depth=X` is undocumented"
### Description

`mbed compile --stats-depth=X` is undocumented

[code]
### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-03 07:40] ccli8 commented on #7942
@0xc0170 @andrewleech Support for overriding flash/SRAM start/size is raised in #7133, which will be released in `5.10.0-rc1`, and so is not merged yet in `5.9.5`/`5.9.6`.

[2018-09-03 07:52] LMESTM commented on #7867
@c1728p9 based on recent observations, we were heading in a similar direction and planned to remove the alignment but we can not explain why the alignment was causing the failure. you suggestion is :

so ok we'll consider sbrk  needs to allocate exactly what is requested and no more.  Fine with me.

[2018-09-03 08:04] 0xc0170 commented on #7942
It provides a new functionality - this issue will be resolved via 5.10 release (tools update). It won't be part for 5.9.x. What is this issue about, am I missing something?

[2018-09-03 08:05] janjongboom opened #7963 "utf8 codec can't decode byte... when running Greentea"
### Description

I'm not sure if this is an issue with my target, or something else. But when running greentea I encounter the following:

[code]

Not sure if this is a specific test, specific target, or something else. This was when running against RTL8170AF target on GCC ARM 6 on MacOS.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-03 08:09] janjongboom commented on #7963
Quick fix (in `mbed_test_api.py`):

[code]

[2018-09-03 08:16] ccli8 commented on #7942
@0xc0170 I misunderstand with #7133 having merged, override function will be available in `5.9.5`/`5.9.6`. I would close the issue. Thanks for your support.

[2018-09-03 08:16] #7942 closed, assigned to nobody

[2018-09-03 08:53] david-reimondez-tridonic-com commented on #7492
Well, we would like to understand what is the correct priority and what are the side effects if we change it. What happens if we preempt this interrupt every 52 us with another interrupt which takes around 3 us? Is this fatal for the system?
In the current version we are using we do not have the file "us_ticker.c" instead we have "us_ticker_32b.c"
*[Mirrored to Jira]*

[2018-09-03 10:59] RonEld commented on #7069
The first part of this issue has been fixed and merged in #7099

The second part of this issue has been fixed and merged in #7074

I think we can close this issue

[2018-09-03 11:21] 0xc0170 commented on #7069
I'll close this, and should be removed from known issues for upcoming 5.10 (if its still there)

[2018-09-03 11:21] #7069 closed, assigned to nobody

[2018-09-03 11:40] kivaisan commented on #7947
@EnsilicaEdd We already have plan to implement session info which also includes keys.

[2018-09-03 11:51] ciarmcom commented on #7963
ARM Internal Ref: MBOTRIAGE-1580

[2018-09-03 12:13] TomoYamanaka commented on #7155
@theotherjimmy
How are you doing after that?
We will appreciate if you could inform us about the current status regarding the missing include paths.

[2018-09-03 12:29] EnsilicaEdd commented on #7947
Thanks, @kivaisan.  Do you have a timescale you could share?  I'd be happy to help if I can.

[2018-09-03 12:43] henningray opened #7972 "Can not connect to second EthernetInterface"
### Description

Hello, I'm trying to create two EthernetInterfaces (see code below). The first one works fine, I can connect, print IP, and then disconnect. But for the second one the program gets stuck in connect(). I'm using Mbed OS 5.9.0 with GCC_ARM toolchain.

    NetworkInterface *net =new EthernetInterface();
    net->connect();
    const char *ip = net->get_ip_address();
    printf("IP ad

[2018-09-03 13:42] bcostm commented on #7492
We have refactored the ticker files recently and the us_ticker_32.c/16.c files have been merged in the us_ticker.c file. This is why you can't see this file now.

*[Mirrored to Jira]*

[2018-09-03 14:00] teetak01 opened #7973 "Tools do not check for multiple definitions of add_feature"
### Description

Define

    "target_overrides": {
        "*": {
            "target.features_add": ["BOOTLOADER"],
            "target.features_add": ["STORAGE"]
}
}

The tools should either accept both definitions or fail immediately.

The first definition is silently ignored.

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-03 14:00] teetak01 commented on #7973
@theotherjimmy
*[Mirrored to Jira]*

[2018-09-03 14:54] 0xc0170 commented on #7973
cc @ARMmbed/mbed-os-tools
*[Mirrored to Jira]*

[2018-09-04 06:11] kivaisan commented on #7947
@EnsilicaEdd At the moment target is mbed-os 5.11.

[2018-09-04 10:01] paul-szczepanek-arm commented on #7859
Looks like a fair compromise to me. Is this moving forward then?
*[Mirrored to Jira]*

[2018-09-04 11:46] kjbracey commented on #7972
This a known (but undocumented?) limitation - the plumbing between lwIP and the rest of the core is not capable of hot-**un**plugging interfaces, and never has been as far as I know. Once you've created an EthernetInterface and used it, you can't delete it and recreate it.

It should be possible to create two actually different interfaces and initialise both, but for your example there, you'll hav

[2018-09-04 11:48] kjbracey commented on #7956
I was under the impression that the RTOS dependency was deeper than that, and hence didn't think Mutex versus PlatformMutex was an issue. Are you suggesting you can get some useful functionality with those changes made?

[2018-09-04 11:52] kjbracey commented on #7936
Hi, if you're trying to point out a code flaw by pasting in the code, I'm not seeing it.

Are you sure you're not just getting a connection error? Check the `error` output parameter.

[2018-09-04 12:22] henningray commented on #7972
Thanks for your reply! It does work when I remove these two lines but it's not an ideal solution. Can you explain why the same code works with an OnboardCellularInterface which is also using lwIP but not with the Ethernet? There should be some documentation about this somewhere.

[2018-09-04 12:39] kjbracey commented on #7972
Basically it works because OnboardCellularInterface (as PPP) is effectively a singleton, and has a somewhat fake delete. When you delete the OnboardCellularInterface, you're not actually freeing up the singleton static backing data or or deleting lwIP's PPP interface - the second OnboardCellularInterface manages to reconnect to the same single PPP interface.

EthernetInterface is not a singleton -

[2018-09-04 13:28] 0Grit commented on #7972
Can't speak for @henningray but my use case would be to free up RAM if the interface isn't needed.

For example:
* A board that has both ethernet and wi-fi interfaces
* An application running on the board uses ethernet xor wi-fi

I suppose the safer solution might be to select the network interface at startup or manage it with multiple applications, but it might be nice to switch them out at run-t

[2018-09-04 13:37] kjbracey commented on #7972
Yes, I've had occasional discussions about this sort of "modal switch", and it seems reasonable to support it in principle.

My general caveat is that dynamic allocation for fundamental functionality can be potentially problematic, in terms of ensuring the memory is available and avoiding heap fragmentation. If memory is limited enough that you /need/ to do the modal switch and can't afford to hav

[2018-09-04 13:52] maclobdell commented on #7949
@JojoS62 - thanks for the great tip.  unfortunately, excluding resources from within MCUXpresso doesn't seem to affect the build.  But if I delete some files manually, it is able to complete the build.  I'll investigate more.
*[Mirrored to Jira]*

[2018-09-04 14:23] jeromecoutant commented on #7457
Hi

From #7644 it seems that system is able to scan only available components ?
Why the same system couldn't be applied with features ?

[2018-09-04 14:24] jeromecoutant commented on #7457
@0xc0170 maybe we should remove the closed_in_jira label ?

[2018-09-04 14:28] JojoS62 commented on #7949
Excluding should work also, but you may have to delete the Debug/Release directories before building because the linker will still find the compiled objectfiles.
Another way is also useful for me:
- add the features that you want to remove to the .mbedignore file in the project root
- export with the -z option to get a zipped projectfile. This will contain only the required files.
Unfortunately, t

[2018-09-04 14:32] jeromecoutant commented on #7456
@theotherjimmy

Do you think this is feasible to detect only the change in the json files ?

Thx

*[Mirrored to Jira]*

[2018-09-04 14:44] 0xc0170 commented on #7457
Why the same system couldn't be applied with features ?

cc @ARMmbed/mbed-os-tools  Something to cover in the docs

[2018-09-04 14:54] maclobdell commented on #6943
@LiorSharon - apologies for such a long delay.  Did you ever get SPI slave working?  We could not reproduce the error you reported.  Please let us know if this issue is resolved.  Or is it still a problem that needs to be fixed?

[2018-09-04 15:09] RobMeades opened #7983 "set_time() bizarre behaviour on NRF52832 (AKA "am I going mad")"
### Description
`set_time()` should set the time in seconds since 1st January 1970.  However, it is behaving very strangely on `NRF52832` (`UBLOX_EVK_NINA_B1` platform, all default compilation switches): it seems to be adding an offset to the elapsed number of seconds since startup instead!  Am I going mad!?

Here is some simple/boring code:

[code]
...and here is the output:

[code]

- toolchain:

[2018-09-04 18:23] TacoGrandeTX commented on #7983
@RobMeades It appears that you might be hitting the issue addressed by this PR:  https://github.com/ARMmbed/mbed-os/pull/7849.  Could you please report back if that fixes the issue?

[2018-09-04 18:31] RobMeades commented on #7983
That looks plausible, I'll check it in the morning (UK time) and let you know.

[2018-09-04 19:29] marcemmers opened #7986 "ISR Queue overflow that could potentially be avoided"
### Description

I have been getting some mbed errors that report an ISR queue overflow.

After some digging i've found out that the source is an interrupt pin that is toggling a bit and is used to set a thread flag on both edges which calls `osRtxPostProcess` down the line. This causes the `os_isr_queue` to overflow so the error is valid.

I am aware of the fact that I should solve this in my app

[2018-09-04 19:50] cmonr commented on #7859
I'd be fine with seeing the change in a new PR. @adbridge @NirSonnenschein Thoughts?
*[Mirrored to Jira]*

[2018-09-04 19:51] ciarmcom commented on #7986
ARM Internal Ref: MBOTRIAGE-1584

[2018-09-04 20:22] maclobdell commented on #7954
what versions of mbed-os and mbed-cli are you working with?
*[Mirrored to Jira]*

[2018-09-04 20:58] JojoS62 commented on #7954
I‘m using the current master, the zip option is not very old.
My workaround code refers to the error position in the traceback:
mbed-os\tools\resources\__init__.py", line 258, in add_file_ref
*[Mirrored to Jira]*

[2018-09-05 04:20] janjongboom commented on #7956
@kjbracey-arm I see that some drivers use rtos features but for simple UART ones that's not required. E.g. esp8266. I have a modified version of netsocket API that uses PlatformMutex and ifdef's out the RtosEvents classes and that seems to work fine.

[2018-09-05 07:01] soramame21 commented on #7570
@0xc0170 @studavekar @maclobdell I had verified and uploaded the firmware on Jira. please verify.

*[Mirrored to Jira]*

[2018-09-05 08:28] nikolak94 commented on #7936
Hi Kevin,

I think that there is a problem with TCPSocket pointer in the above code.
TCPSocket *connection = NULL; is defined at the begining
Than:
if (0 == ret) {
        TCPSocket *connection = new TCPSocket();

is defined again, but at the end the NULL pointer from the begining is returned:
return connection;

I attached the code of a short example i made. I always get the following output, as

[2018-09-05 08:29] RobMeades commented on #7983
Good stuff: #7849 fixes the problem, the output from my test code is now:

[code]
I suggest you get that fix in ASAP as this is a somewhat fundamental thing to leave broken.

[2018-09-05 08:32] kjbracey commented on #7936
Ah, thank you - I see it now. @SeppoTakalo - inner-scope `connection` declaration shadowing the top-level one.

[2018-09-05 08:41] nikolak94 commented on #7936
Can u help me with a simple question concerned TCPSocket API. When i call accept or connect function, does my main thread gets blocked until connection is established or after sending SYNC request main thread goes on and the connection logic is done in some parallel thread? if there is a signal or something indicating that connection have been established, how can i catch it from main thread? its

[2018-09-05 08:51] kjbracey commented on #7936
It depends on whether the socket is marked blocking or non-blocking. By default sockets are blocking.

If blocking, connect will return when the connection completes or fails, and accept will return when someone connects to you.

If non-blocking you will get the "would block" or "in progress" error while the stack is waiting for something to happen.  Set up a callback with the "sigio" method, and

[2018-09-05 09:02] nikolak94 commented on #7936
Thank you very much Kevin, i am grateful for fast response.

[2018-09-05 09:07] kjbracey commented on #7936
No problem. This is a tricky area, but the trickiness around non-blocking APIs is not specific to Mbed OS - the socket API provided here is pretty conventional - Google "non-blocking socket connect" and you'll see discussions for other platforms and most of that is applicable. We have all the same core concepts, just some of the spelling is a little different.

[2018-09-05 09:19] nikolak94 commented on #7936
I tried to use TCPSocket API, set socket blocking to true and use connect() function, without getting into netconn api, and then  start another thread which is going to handle connecting. That new thread can block until connecting is finished, and than signal the main thread when connection is established? I do not have to do all the work without additional threads, would this then be the right wa

[2018-09-05 09:25] kjbracey commented on #7936
If you can afford the memory for another thread then that is a perfectly reasonable way of doing it, and ultimately simpler to code.

I know code has been using the same technique to wrap up the blocking DNS lookup API - spawn a thread to do the blocking lookup. (5.9 has added an asyncronous DNS API so no longer necessary).

We should either add a socket option to tell LWIP to "really do non-block

[2018-09-05 09:30] nikolak94 commented on #7936
Thank you for your help, that have been struggling me for days now.

[2018-09-05 09:36] henningray commented on #7972
Main reason indeed would be to free up RAM that another part of the program (not allowed simultaneously with the connection of course). I agree that static allocation would be safer. However, if the application handles the memory well (freeing all memory it uses) it should be possible to use the same RAM space right? Or would you still have issues with memory fragmentation?
For now however, I gues

[2018-09-05 09:53] kjbracey commented on #7972
If the application freed everything, fine, but if you're just using the general purpose heap, the typical problem is:

* Heap space 24K (say)
* Allocate 15K for device A (let's say it's a single contiguous buffer lump)
* Various parts of the system allocate various things, they're placed 15K into the heap
* Device A freed
* Device B needs 18K, but there's no contiguous 18K in the heap because of t

[2018-09-05 10:09] SeppoTakalo commented on #7936
Fix provided in #7992

[2018-09-05 10:24] mattbrown015 opened #7994 "LoRaWAN: Mbed TLS 2.13.0 Update Increases .text Size"
### Description
cc @hasnainvirk

I've just updated Mbed OS to latest master and noticed .text increased in size considerably.

It turned out to be because and I didn't understand `MBEDTLS_USER_CONFIG_FILE` and more Mbed TLS code was being included:

    | mbed-os\features\mbedtls\src\chacha20.o            |     924(+924) |    0(+0) |     0(+0) |
    | mbed-os\features\mbedtls\src\chachapoly.o

[2018-09-05 11:51] ciarmcom commented on #7994
ARM Internal Ref: MBOTRIAGE-1586

[2018-09-05 12:01] 0Grit commented on #7972
@kjbracey-arm

I think I've heard, what you are referring to, called something like "static scratch space"?
"static overlay" or something similar?

[2018-09-05 12:53] kjbracey commented on #7986
You have identified an issue I reported a while back, and you seem to have implemented one of the possibilities I suggested, but didn't actually try: https://github.com/ARM-software/CMSIS_5/issues/283

Fascinated to see that concept actually works - I wasn't sure if the "no duplicate" rule I hand-waved about would work in practice or there was some complication.

Your implementation could probably

[2018-09-05 13:10] kjbracey commented on #7972
I've sure someone has done something similar before.

Overlays were certainly more of a thing in the past - I remember very early ARM linkers that had an automatic code overlay mechanism. These constrained Mbed OS platforms could certainly benefit from some old-school concepts - things that have not been applicable to the desktop space for decades can be of interest again here. Explicit or toolcha

[2018-09-05 13:12] gigz09 opened #7997 "Wake-up/sleep doesn't properly executed starting on its 2nd entry"
### Description

I am currently working on an application that's going to be on-sleep whenever I want to and then wake-up on a specified period. On my test setup, I made an application that's going to toggle an LED after 5 seconds of sleep, at startup the pin goes high then goes low until the specified wake up period but starting on its 2nd loop the pin toggles on ~2.5mS while ST-Link is still con

[2018-09-05 13:20] JojoS62 commented on #7954
the zip function came with commit https://github.com/ARMmbed/mbed-os/commit/de913e1ea283adead7f2fed2b7271c9abe397d59#diff-2ea4345d85645e57788eb19b3ddb3051
It is tagged for the 5.10-rc1.
@theotherjimmy is it correct, should it work for next release 5.10?
*[Mirrored to Jira]*

[2018-09-05 13:56] bcostm commented on #7431
What source clock did you use for the USART at the time of calling HAL_UARTEx_StopModeWakeUpSourceConfig() function ? Can you please post your main file (at least the USART part) ?

[2018-09-05 14:32] wlamprecht opened #8000 "Nordic nRF52 BLE UARTService"
### Description

Hi,

I implemented the UART service as described in https://os.mbed.com/teams/Bluetooth-Low-Energy/wiki/UART-access-over-BLE. I can send data from the nrF Toolbox (Android) to the dev board and vice versa. But if I try to send more data than the max MTU size, the phone disconnects.  I sniffed the BLE traffic and everything seems ok>
![capture](https://user-images.githubusercontent

[2018-09-05 14:41] EnsilicaEdd commented on #7947
Thanks for the information.
I need this right now, so am going to go ahead and make my own local changes.

But on the off-chance I can save myself some work, does 'target 5.11' mean "it's on the list of things to look at after 5.10" or "we've already done the work, but it won't drop until 5.11" ?
If it's the latter, is there a patch you could share in advance?
Cheers.

[2018-09-05 14:49] MateuszMaz commented on #6943
I get similar results for K64F , K22F and NCS36510 when they are slaves. I also found that somehow when we set device to be slave it still uses MISO (Master Input Slave Output) as input, and MOSI (master output slave input) as output. So when I connected K64F (master) MOSI to K22F (slave) MISO (cross connection) then the results were good. Normally SPI doesn't works that way (or  if i am wrong the

[2018-09-05 14:58] cmonr commented on #7956
@janjongboom Gonna need some clarification on that description. Those sentences sound like statements, not questions or requests.

[2018-09-05 15:00] AnttiKauppila commented on #7947
It means it will be merged into mbed OS master branch when it is ready, but will be officially published in mbed OS 5.11 (around mid December).

[2018-09-05 15:06] EnsilicaEdd commented on #7947
Understood.  I'll close this then.
Thanks all.

[2018-09-05 15:06] #7947 closed, assigned to nobody

[2018-09-05 15:07] mmahadevan108 commented on #6943
Per K64F reference there are SOUT and SIN signals`that connected to the TX & RX FIFO's. These are connected to MOSI and MISO and do not change functionality based on Master or Slave mode. Hence the cross connection.

[2018-09-05 15:25] adbridge commented on #7859
Tests whether new or fixed can go into both patch and minor releases and thus I think having a 'Test changes' checkbox could work. However I am wondering if this will get confusing for people when we insist on a new test alongside new functionality....
*[Mirrored to Jira]*

[2018-09-05 15:53] 0xc0170 opened #8004 "ARMC6: legacy align error"
### Description

This PR removed legacy align : https://github.com/ARMmbed/mbed-os/pull/7792 . It produces warning. This removed warning but causing now failures to use scatter files we have in the code base as they rely on the alignment that is now legacy. This leads to linker errors (4 vs 8 byte alignment).  I could not find documentation why this alignment was deprecated but causing "breaking c

[2018-09-05 16:11] deepikabhavnani commented on #8004
As per the http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0803g/pge1362075504330.html, `--legacyalign, --no_legacyalign` are deprecated, hence were removed from mbed-os.

We have two options to resolve the issue:
1. Fix the sections in scatter file to fix the alignment issue
2. Enabling deprecated option --legacyalign

I would prefer option 1.
*[Mirrored to Jira]*

[2018-09-05 16:37] aashishc1988 commented on #7867
@c1728p9 I have verified that https://github.com/ARMmbed/mbed-os/pull/7950 fixes the problem.

[2018-09-05 16:44] Tony-YI opened #8007 "STM32L053C8 Reduced Flash Size on Win10"
### Description
Currently I am working on a custom board utilizing the STM32L053C8 and I am programming it using the ST-Link on a NUCLEO board.

I noticed that the flash size shown on Win10 is 56KB instead of 64KB. However, after I tried to format the disk (which can not be actually performed), the flash size displayed on Win10 became 64KB.

Although the displayed size becomes 64KB, I could not pr

[2018-09-05 17:26] mmahadevan108 commented on #7380
Below PR to reenable RTC on LPC1768
https://github.com/ARMmbed/mbed-os/pull/8009

*[Mirrored to Jira]*

[2018-09-05 17:33] kegilbert commented on #7380
If RTC is disabled it'll default to using a ticker which has a known issue and pending fix (haven't looked closely into this yet, just saw the issue and it sounds like it may be related):
https://github.com/ARMmbed/mbed-os/pull/7849
*[Mirrored to Jira]*

[2018-09-05 19:51] ciarmcom commented on #8007
ARM Internal Ref: MBOTRIAGE-1590

[2018-09-05 20:28] studavekar opened #8011 "mbed_drivers-crc tests fails on EFM32PG_STK3401"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
EFM32PG_STK3401

**Toolchain:**
GCC_ARM

**mbed-os sha:**

06106297a (HEAD -> master, origin/master, origin/HEAD) Merge pull request #6293 from Taiki-San/patch-

**Steps to reproduce**

Use command run :  mbed test -m EFM32PG_STK3401 -t GCC_ARM -n tests-mbed_drivers-crc

[2018-09-05 22:22] JanneKiiskila commented on #8004
PR to fix this - #8012 - get things working ASAP, then do fix 2 once you have a test that actually verifies the targets. The scatter file changes are sort of trivial, BUT - there are so many of them that it's not a quick and easy fix to get them all sorted out.

*[Mirrored to Jira]*

[2018-09-05 23:00] kegilbert commented on #7961
Looks like this might be a @theotherjimmy question.
*[Mirrored to Jira]*

[2018-09-05 23:51] ciarmcom commented on #8011
ARM Internal Ref: MBOTRIAGE-1592

[2018-09-06 01:03] janjongboom commented on #7956
@cmonr The request is to make netsocket not dependent on RTOS (at least UDPSocket and TCPSocket). I think it's pretty straightforward, just by swapping out `Mutex` for `PlatformMutex`. The only issue I see is around `EventFlags`. Not sure how they're used but if I comment them out everything still seems to work.

[2018-09-06 06:27] bcostm commented on #8007
Can you update to the latest STLink firmware and try again ?
https://os.mbed.com/teams/ST/wiki/Nucleo-Firmware

and also check on the STM32 forum:
https://community.st.com/s/topic/0TO0X000000BSqSWAW/stm32-mcus

[2018-09-06 07:08] MateuszMaz commented on #6943
@mmahadevan108 thanks for explaining that

[2018-09-06 07:25] MateuszMaz commented on #6943
Shouldn't be the diagram visible [over there](https://os.mbed.com/platforms/FRDM-K64F/) changed?

[2018-09-06 07:45] jeromecoutant commented on #8007
@schstm

[2018-09-06 08:23] schstm commented on #8007
The issue with disk size is fixed since ST-Link firmware version V2J28M18 (see also https://www.st.com/resource/en/release_note/dm00107009.pdf). The update suggested by bcostm should fix it.
Do not attempt to format the disk: there is no real file system behind, only a dedicated mechanism allowing to program binary files into the STM32 target flash.

[2018-09-06 08:31] Tony-YI commented on #8007
@bcostm

It work! Thank you all very much for the prompt reply.

[2018-09-06 08:31] #8007 closed, assigned to nobody

[2018-09-06 09:36] 0xc0170 commented on #8011
cc @ARMmbed/team-silabs

[2018-09-06 14:07] 0xc0170 commented on #7859
Bigger wins in this case (functionality change). From what I see recently as PR, and expect more - docs and tests.
*[Mirrored to Jira]*

[2018-09-06 14:43] cmonr commented on #7997
@gigz09 Could you clarify if this is with the ARM compiler or GCC ARM?
*[Mirrored to Jira]*

[2018-09-06 14:47] cmonr commented on #8004
Going to keep this open for now even though https://github.com/ARMmbed/mbed-os/pull/8012 has been merged.
If we want to remove the legacyalign flag, we should fix the files and figure out why the deperecated flag led to behavior changes.
*[Mirrored to Jira]*

[2018-09-06 14:55] jeromecoutant commented on #7858
Hi

I have checked Russ program:
- default configuration ==> OK
- add MBED_TICKLESS ==> OK
- set **lpticker_lptim** to 0 ==> crash
- set **lpticker_delay_ticks** to 0 ==> OK

Note that for other targets where **lpticker_lptim** is 0 by default,
I already set **lpticker_delay_ticks** to 0 for M4 targets.

It seems that LPTICKER_DELAY_TICKS is still not compatible with TICKLESS ?

*[Mirrored to Jira

[2018-09-06 14:56] jeromecoutant commented on #7328
Hi all

Check #7858, it seems that LPTICKER_DELAY_TICKS is still not fully compatible with TICKLESS ?

[2018-09-06 15:01] gigz09 commented on #7997
hi @cmonr, i believe its gcc arm https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads/6-2017-q2-update
*[Mirrored to Jira]*

[2018-09-06 15:02] jeromecoutant commented on #7997
Hi
I don't understand why you are re-coding LPTICKER feature ?

*[Mirrored to Jira]*

[2018-09-06 15:13] ghost commented on #7887
since I found a work-around, I'm closing this. if an alternative way to add comments is ever implemented, please let me know, thanks!

[2018-09-06 17:04] mattbrown015 opened #8021 "STM32: gpio_irq_disable Disables all InterruptIn Instances Sharing EXTI9_5 or EXTI15_10"
### Description
I've just discovered that using `InterruptIn`  on STM32 devices is more complicated than I thought.

Unfortunately our board has digital inputs on PA7 and PB5 and when I disable PA7 PB5 is also disabled.

It seems to me that `gpio_irq_disable` is too simplistic in the way it disables the IRQ without considering if it is being used by another input.

Unfortunately I can see that han

[2018-09-06 18:33] gigz09 commented on #7997
hi @jeromecoutant,

this was actually coded first at v5.8.3 in which i believe doesn't support the lpticker yet. I've tried using the 'lp_ticker_set_interrupt' on v5.9.5 also but it doesn't behave the way I wanted to, I am already puzzled on what's going on so I stick to the method which gave me so far an output.
*[Mirrored to Jira]*

[2018-09-06 20:22] stevew817 commented on #8011
This is a strange failure, since `tests-mbed_hal-crc` *does* pass. Not sure what would make this one fail if the other one passes?

[2018-09-06 21:18] stevew817 commented on #8011
Yikes, looks like the issue is on our end. I'll submit a PR asap.

[2018-09-07 02:40] janjongboom opened #8027 "Support SKT LoRaWAN variant"
### Description

I'm not sure if we should support it, but SKT in Korea uses a non-standard version of LoRaWAN. It first does a normal join, then exchanges `AppKeyAllocReq`, `AppKeyAllocAns`, `AppKeyReportReq` and `AppKeyReportAns` commands on port 223 and then re-joins. The Redwood RWC5020A can emulate these. Documentation (in Korean) is here:
https://www.sktiot.com/api/common/file/download?fileI

[2018-09-07 03:58] janjongboom commented on #8027
Here's a demo program which uses the SKT join procedure (verified on RWC5020A): https://github.com/janjongboom/mbed-os-example-lorawan-skt

Maybe just point people there instead of implementing it in Mbed OS.

[2018-09-07 05:24] toyowata opened #8028 "[OOB 5.10] IP connectivity test failed"
### Description

Mbed OS 5.10 OOB - IP connectivity test failed (Target: K64F, Host: Windows and Mac).

#### Expected result
All TEST_APPS should pass.
#### Actual result
```test_cmdline``` is skipped and ```TCPSERVER_ACCEPT``` was inconclusive.

#### Versions

[code]
python 2.7.15
mbed-cli 1.8.0
icetea 1.0.1

#### Test result

[code]

Complete log file :
[mbed-os-oob-icetea.txt](https://github.co

[2018-09-07 07:50] jeromecoutant commented on #7858
Hi
It seems that if I remove the printf, program is working perfectly even with LPTICKER_DELAY_TICKS
*[Mirrored to Jira]*

[2018-09-07 09:28] 0xc0170 commented on #8028
@ARMmbed/mbed-os-test

[2018-09-07 09:43] juhaylinen commented on #8028
TCPSERVER_ACCEPT test case requires 2 devices. https://github.com/ARMmbed/mbed-os/blob/master/TEST_APPS/testcases/netsocket/TCPSERVER_ACCEPT.py#L38

The test result is inconclusive if only one device is found.

[2018-09-07 09:47] 0xc0170 commented on #7997
Apart from the above issue, what is the issue with 5.9.5 ? what are desired behavior and actual one?
*[Mirrored to Jira]*

[2018-09-07 09:55] mattbrown015 commented on #8021
I've got a suggestion!

We can use the channel pin mask to check how many pins are currently being used to generate IRQs on this channel/vector.

Here's what I've just tried.  It solves my problem but I haven't tried enabling and disabling IRQs on all combinations of pins and vectors.

    diff --git a/targets/TARGET_STM/gpio_irq_api.c b/targets/TARGET_STM/gpio_irq_api.c
    index b3d1cd200..63ee2

[2018-09-07 10:09] LMESTM commented on #8021
@mattbrown015 thanks for sharing a patch !
Looks good at first glance. would you mind sending a PR and @jeromecoutant we can run non regression testing on the PR branch
*[Mirrored to Jira]*

[2018-09-07 10:17] gigz09 commented on #7997
hi @0xc0170,

Didn't experienced any other issue so far apart from what I have mentioned on this thread.

For now, I just want to make the sleep/wake-up work on the minimum of 100mS interval on a continuous loop. If 100mS is not achievable then anything near it would do.
*[Mirrored to Jira]*

[2018-09-07 10:27] simonbutcher commented on #7994
The Mbed TLS team has added a feature here, (Chacha-Poly1305), but with a feature comes a cost of some codesize.

Is the codesize a problem, and do you think the feature (or other features) should be off by default to compensate?

[2018-09-07 10:41] mattbrown015 commented on #7994
Hi @sbutcher-arm, members of the ARM and LoRaWAN teams might have better insight than me but code size is an important consideration for many of the targets used for LoRaWAN applications.  Having said that, I guess if it caused a problem for anyone they would work it out in the same way I did.

On the other hand, having new features disabled by default seems like a sensible approach and would have

[2018-09-07 11:07] 0xc0170 commented on #7994
cc @ARMmbed/mbed-os-wan

[2018-09-07 12:44] OPpuolitaival commented on #8028
@jonikula can you check this? I think that it could be nice to tell for example (1/2 suitable devices found) or some another way to make clear that need more devices

[2018-09-07 12:56] jonikula commented on #8028
That's something we could easily add to the logging and perhaps to the failure reason as well.

[2018-09-07 13:13] OPpuolitaival commented on #8028
@0xc0170 this is not a bug. Works as expected. I will create usability improvement ticket related to this.

[2018-09-07 14:27] LMESTM commented on #7997
@gigz09 @0xc0170  @jeromecoutant @c1728p9

The above example code calls for sleep() - which basically means WFI() only.  I _think_ that the target is not TICKLESS, so that means that the os ticker would immediately wake-up the target.  You may want to actually call deepsleep or consider the idea to move to a TICKLESS system which will cause the mbed-os background loop to call deepsleep for you.

N

[2018-09-07 15:39] jagomo opened #8038 "UpdSocket limitations"
### Description

## Context

**Target** NUCLEOF412ZG + Atmel AT86RF233
**Toolchain** GCC_ARM
**mbed-os SHA** 62f8b922b420626514fd4690107aff4188469833
**mbed-cli** 1.7.5

I'm trying to build an application where I need to broadcast to some wireless Thread nodes small pieces of data (<16bytes). I used as template the mbed-os-example-mesh-minimal.

To try if our requirements are met, I modified sligh

[2018-09-07 15:51] ciarmcom commented on #8038
ARM Internal Ref: MBOTRIAGE-1610

[2018-09-07 17:37] studavekar opened #8041 "lp_ticker -Test multi ticker is fails on NUMAKER_PFM_M2351"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_M2351

**Toolchain:**
ARMC6

**mbed-os sha:**

6827c370 (HEAD -> master, origin/master, origin/feature-hal-spec-spi, origin/HEAD) Merge pull request #7971 from JammuKekkonen/fix_softdevice_memory_reservation_for_nrf52dk

**Steps to reproduce**

Use command r

[2018-09-07 17:45] studavekar opened #8042 "mbed_drivers-lp_timeout test fails on NUMAKER_PFM_M2351"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_M2351

**Toolchain:**
ARMC6

**mbed-os sha:**

6827c370 (HEAD -> master, origin/master, origin/feature-hal-spec-spi, origin/HEAD) Merge pull request #7971 from JammuKekkonen/fix_softdevice_memory_reservation_for_nrf52dk

**Steps to reproduce**

Use command r

[2018-09-07 17:50] studavekar opened #8043 "mbed_hal-sleep test fails on NUMAKER_PFM_M2351"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_M2351

**Toolchain:**
ARMC6

**mbed-os sha:**

6827c370 (HEAD -> master, origin/master, origin/feature-hal-spec-spi, origin/HEAD) Merge pull request #7971 from JammuKekkonen/fix_softdevice_memory_reservation_for_nrf52dk

**Steps to reproduce**

Use command r

[2018-09-07 17:54] studavekar opened #8044 "mbed_hal-common_tickers test fails on NUMAKER_PFM_M2351"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_M2351

**Toolchain:**
ARMC6

**mbed-os sha:**

6827c370 (HEAD -> master, origin/master, origin/feature-hal-spec-spi, origin/HEAD) Merge pull request #7971 from JammuKekkonen/fix_softdevice_memory_reservation_for_nrf52dk

**Steps to reproduce**

Use command r

[2018-09-07 19:51] ciarmcom commented on #8044
ARM Internal Ref: MBOTRIAGE-1611

[2018-09-07 19:51] ciarmcom commented on #8042
ARM Internal Ref: MBOTRIAGE-1613

[2018-09-07 19:51] ciarmcom commented on #8041
ARM Internal Ref: MBOTRIAGE-1614

[2018-09-07 20:05] deepikabhavnani commented on #7912
@cyliangtw - As per the implementation of `__wrap__realloc_r` `__real__realloc_r` should never be called if `MBED_HEAP_STATS_ENABLED` is set.

`__wrap__realloc_r` does call free (https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_alloc_wrappers.cpp#L154) which will be diverted to `__wrap__free_r` and not `__real__free_r `. Is this your failing point?

Shouldn't heap be 32-byte aligned?
*

[2018-09-07 22:12] deepikabhavnani commented on #7912
@cyliangtw - I saw the issue while allocating memory for new thread https://github.com/ARMmbed/mbed-os/blob/63f62165d89f5562c529cd3ecb94823ce1dc7f13/features/netsocket/emac-drivers/TARGET_NUVOTON_EMAC/numaker_emac.cpp#L65

Call flow is -> malloc_wrapper -> _malloc_r -> free_wrapper (This memory might be allocated internally hence we do not have stats header for it in wrapper call).

I skipped the

[2018-09-08 17:34] gigz09 commented on #7997
hi @LMESTM,

I already did try calling 'hal_deepsleep' and calling stop mode through HAL but experienced the same.

I appreciate if someone could provide a working blinky on TICKLESS mode as guide.
*[Mirrored to Jira]*

[2018-09-09 08:45] Tony-YI opened #8045 "STM32L053C8 UART Error in Mbed2 Latter Than Rev159"
### Description

I am using a STM32L053C8 MCU and got some problems with it.

[code]

The code above works fine. However, after I un-commented the **Serial**, the LED **stop blinking**. As far as I know, **(PB_6, PB_7)** is the **UART1** serial port. I tried the **UART2** and **LPUART1** and both of them works fine. ~~It looks like I can not define any **UART1** port.~~ I have tried **(PA_9, PA_10

[2018-09-09 16:06] Tony-YI commented on #8045
After I un-commented the **Serial** line, I probed the **PB_4** pin (default LED1 on DISCO-L053C8 board) and its patterns matched the **mbed_die(void)** function in **platform/mbed_board.c**.

Referring to https://github.com/ARMmbed/mbed-os/issues/6019, I have added the following code into **main.cpp** and tried to redirect the stdio to UART2. I have probed the pin **PA_2** and it was outputting t

[2018-09-09 19:05] Tony-YI commented on #8045
After some digging, it looks like it is caused by the following code in **/targets/TARGET_STM/serial_api.c**:

[code]
I have double checked it on **mbed-dev** sources, and the above code was added since Release version 159, about 6 months ago.

So I need to redefine the **STDIO_UART_TX** and **STDIO_UART_RX**.
*[Mirrored to Jira]*

[2018-09-09 21:21] ashok-rao opened #8047 "[OoB_5.10]: Fast Models Windows error."
### Description

Trying to run fast models (FVP's) on Windows command line produces "unknown command" error. Steps to reproduce are below:
1. mbed import mbed-os-example-blinky
2. mbed update mbed-os-5.10.0-oob
3. mbed compile -t GCC_ARM -m FVP_MPS2_M3
4. FVP_MPS2_Cortex-M3 -a BUILD/FVP_MPS2_M3/GCC_ARM/mbed-os-example-blinky.elf

I have also checked that I have a valid license for DS-5 Ultimate ed

[2018-09-09 21:29] ashok-rao commented on #8047
Edit: Added the models path to the system ENV variables and everything works fine now. Closing issue as not relevant anymore!

[2018-09-09 21:29] #8047 closed, assigned to nobody

[2018-09-10 06:27] ccli8 commented on #8044
#8030 would fix the failure.

[2018-09-10 06:45] ccli8 commented on #8041
#8029 would fix the failure.

[2018-09-10 06:45] ccli8 commented on #8042
#8029 would fix the failure.

[2018-09-10 06:49] marcemmers commented on #7986
I had searched the repository for duplicate issues but could not find one easily. In hindsight there is another issue reported here which had kind of the same issue but was solved on the application side; #6714.

My solution was just a proof of concept and could indeed be optimized by a flag of some sort. Even if the search could be fast I think its best to always minimize the time needed in such

[2018-09-10 07:14] ccli8 commented on #8043
#8049 would fix the test failure.
*[Mirrored to Jira]*

[2018-09-10 07:33] JammuKekkonen opened #8051 "NRF52_DK build with bootloader doesn't run"
### Description

App built to be run with bootloader on NRF52_DK doesn't start.

mbed_app.json:
`"NRF52_DK": {
            "target.mbed_app_start"             : "0xB400",
            "target.extra_labels_remove"        : ["SOFTDEVICE_S132_FULL", "SOFTDEVICE_COMMON"],
            "target.extra_labels_add"           : ["SOFTDEVICE_NONE"]
        }
`

- with mbed-os version 5.9.0 and 5.9.6 app doesn'

[2018-09-10 07:34] JammuKekkonen commented on #8051
@JuhaYlipekkala @yogpan01

[2018-09-10 07:38] JanneKiiskila commented on #8051
@juhoeskeli  - time to look into this?

[2018-09-10 07:38] jeromecoutant commented on #8045
Hi

Wiki page: https://os.mbed.com/teams/ST/wiki/STDIO

Yes, in a mbed_app.json file like :

"target_overrides": {     
    "DISCO_L053C8": {
         "target.stdio_uart_tx": "PB_6",
         "target.stdio_uart_rx": "PB_7"
     } }

*[Mirrored to Jira]*

[2018-09-10 07:40] yogpan01 commented on #8051
@JammuKekkonen does it work with Mbed OS MASTER?

[2018-09-10 07:51] ciarmcom commented on #8051
ARM Internal Ref: MBOTRIAGE-1616

[2018-09-10 08:21] JammuKekkonen commented on #8051
Doesn't work with my current master, #b6f0ee2a7, but seems it was two weeks old so I'll try with the latest.

[2018-09-10 08:38] Tony-YI commented on #8045
Thanks @jeromecoutant , however, since I am using the online compiler, I suppose I do not have the mbed_app.json file.

I tired to switch to mbed-cli, however, I facing the same issue mentioned [here](https://github.com/ARMmbed/mbed-cli/issues/698).

Currently I would like to stick to the online compiler because its .bin file is smaller than that complied using GCC_ARM.

If there is no way to redi

[2018-09-10 08:49] jeromecoutant commented on #8045
See for ex https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-wifi/

You can add a mbed_app.json file with online compiler

*[Mirrored to Jira]*

[2018-09-10 09:13] MikeDK commented on #7240
Hi @stevew817 ... any update on this? ;)
*[Mirrored to Jira]*

[2018-09-10 09:20] JammuKekkonen commented on #8051
@yogpan01 Works with current master (#920db6345).
=> false alarm, closing

[2018-09-10 09:20] #8051 closed, assigned to nobody

[2018-09-10 09:56] cyliangtw commented on #7912
@deepikabhavnani  - This malloc is in cpp and should be called after c-runtime init, so it should be in wrapper call.
About the three instructions in if condition, it's really the key point. My suggestion is to check the signature in free_wrapper, if signature match,  `alloc_info = ((alloc_info_t *)ptr) - 1`, else   `alloc_info = ((alloc_info_t *)ptr)` .

*[Mirrored to Jira]*

[2018-09-10 10:00] screamerbg commented on #6900
Question considered resolved.

[2018-09-10 10:00] #6900 closed, assigned to nobody

[2018-09-10 10:00] Tony-YI commented on #8045
~~@jeromecoutant It works!!! Thanks a lot. You are really helpful!~~

@jeromecoutant After adding the **mbed_app.json** file as follows:
[code]
The macro **STD_UART_TX** and **STD_UART_RX** do change to **PB_6** and **PB_7**. When I executed the following code, the led is blinking with 1 second interval, which means the **STD_UART_TX** becomes **PB_6**. However, when I probed the **PA_9**, it is o

[2018-09-10 10:03] screamerbg commented on #6827
@bulislaw @donatieng @ithinuel See answer from @bcostm above. Also @0xc0170 - is this a bug or feature request?
*[Mirrored to Jira]*

[2018-09-10 10:04] screamerbg commented on #7679
@mudassar-ublox PR https://github.com/ARMmbed/mbed-os/pull/7619 was merged. What's the next step?
*[Mirrored to Jira]*

[2018-09-10 10:11] screamerbg commented on #7654
@jeromecoutant Agreed.

[2018-09-10 10:11] #7654 closed, assigned to nobody

[2018-09-10 10:16] screamerbg commented on #7607
@jeromecoutant Do you have an idea about the timeline for this?
*[Mirrored to Jira]*

[2018-09-10 10:24] screamerbg commented on #7492
@david-reimondez-tridonic-com Does this answer your question?
*[Mirrored to Jira]*

[2018-09-10 10:25] screamerbg commented on #7431
@RobVlaar Please see questions from @bcostm above.

[2018-09-10 10:27] screamerbg commented on #7382
@0xc0170 This looks like Mbed OS issue, not Silicon Labs one. Will remove the silicon-labs tag
*[Mirrored to Jira]*

[2018-09-10 10:58] MarceloSalazar opened #8055 "No network configuration for Network Socket test plan"
Issue type: Bug
SHA: master (920db63453b6aae7ccaa992fe7c9107f6664347f)

### Description
During 5.10 OOB, we're evaluating the Network Socket test plan document and steps to get started.
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md

I'm trying to compile tests for the K64F, following these steps:
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md#bu

[2018-09-10 11:00] screamerbg commented on #7317
@Eman869 @LMESTM Any follow up on this?
*[Mirrored to Jira]*

[2018-09-10 11:15] MarceloSalazar commented on #8028
@OPpuolitaival can you please add a link to the enhancement as result of this effort?

[2018-09-10 11:18] SeppoTakalo commented on #8055
Thank you for reporting this.

Apparently the test configuration is not working as I expected, or it has changed.
Do you know where the `mbed-os/tools/test-configs` would have been documented?

`mbed_app.json` apparently overrides that, but I cannot find any reference on how and when it happens.

[2018-09-10 11:25] SeppoTakalo commented on #8055
I reported a separate issue regarding the test configuration system https://github.com/ARMmbed/mbed-os/issues/8056

[2018-09-10 11:51] ciarmcom commented on #8055
ARM Internal Ref: MBOTRIAGE-1619

[2018-09-10 12:16] MarceloSalazar opened #8058 "Unittest setup instructions should be expanded to include different environments"
During 5.10 OOB, evaluated this doc.
https://github.com/ARMmbed/mbed-os/blob/master/UNITTESTS/README.md

Found there are missing/incomplete instructions to setup unittest environment.

- Windows
It should not be a strong requirement to use MinGW-W64 to run gcovr.
Many Windows users use this version of make (myself included).
http://gnuwin32.sourceforge.net/packages/make.htm
**EDIT**: we may need t

[2018-09-10 12:37] jagomo commented on #8038
I've just realized that on the mbed-os-example-mesh-minimal the socket is set to non-blocking. I guess that it relies on the fact that no one is physically able to press the button that triggers the broadcast fast enough. I guess then that therefore my test reach the breaking point of that concept.

So I guess we can focus more on the second question. Checking in more detail the socket documentati

[2018-09-10 13:01] jeromecoutant commented on #8045
Why do you want to re-configure PB_6 and PB_7.
Thanks to the mbed_app.json, you new serial console is already configured.

*[Mirrored to Jira]*

[2018-09-10 13:26] MarceloSalazar opened #8059 "Running unittests: ERROR: Please specify target"
Doing OOB 5.10 and evaluating unittest

Installed tools as per doc:
https://github.com/ARMmbed/mbed-os/blob/master/UNITTESTS/README.md

Cloned mbed-os (master)

`mbed test --unittests`

Error:

[code]

[2018-09-10 15:11] jeromecoutant commented on #7997
here is an example :

[code]

$ mbed compile -t GCC_ARM -m NUCLEO_F401RE -f --sterm -DMBED_ALL_STATS_ENABLED
...
MBED_TICKLESS is disabled
CPU 9 : up time  10026245 (sleep 98%, deepsleep  0%)
CPU 20 : up time  20079711 (sleep 98%, deepsleep  0%)
CPU 30 : up time  30134155 (sleep 98%, deepsleep  0%)
...
$ mbed compile -t GCC_ARM -m NUCLEO_F401RE -f --sterm -DMBED_ALL_STATS_ENABLED -DMBED_TICKLESS
.

[2018-09-10 15:12] SeppoTakalo commented on #8055
Submitted a fix in https://github.com/ARMmbed/mbed-os/pull/8060

[2018-09-10 15:51] ciarmcom commented on #8059
ARM Internal Ref: MBOTRIAGE-1620

[2018-09-10 15:51] ciarmcom commented on #8058
ARM Internal Ref: MBOTRIAGE-1621

[2018-09-10 16:46] deepikabhavnani commented on #6924
@ccli8 - Can you check if https://github.com/ARMmbed/mbed-os/pull/8062 will work for extra un-accounted free in ARM/ARMC6 as well for rtos-less code. `free` will be called by solution here should not corrupt the memory

[2018-09-10 17:00] MarceloSalazar opened #8064 "Error when running mbed test --compile/run list"
During OOB for 5.10 release, found issues while evaluating icetea:

Mbed CLI 1.8.0
Mbed OS (920db63453b6aae7ccaa992fe7c9107f6664347f)
Windows 10

[code]

[code]

The python traceback error should be caught appropriately with the corresponding message to the user

[2018-09-10 17:15] maclobdell commented on #7610
@mmahadevan108  I just tested Mbed OS 5.9.7 and got failures.

[2018-09-10 17:16] MarceloSalazar opened #8065 "Missing documentation on Icetea test cases"
While evaluating 5.10 in OOB, found not information about Icetea test cases here:

- Summary of tests cases here and links to other docs inside:
https://github.com/ARMmbed/mbed-os/tree/master/TEST_APPS/testcases
- Info about example?
https://github.com/ARMmbed/mbed-os/tree/master/TEST_APPS/testcases/example
- Info about netsocket?
https://github.com/ARMmbed/mbed-os/tree/master/TEST_APPS/testcases/

[2018-09-10 18:49] kegilbert commented on #8058
@MarceloSalazar There's a troubleshooting section at the bottom of the page, do you think adding a link to the that section in the setup guide would help (provided the troubleshooting page is updated?). Added a PR with that change and updating the windows version of GCC change:

https://github.com/ARMmbed/mbed-os/pull/8069

Still looking into the missing port of gcovr on Mac.

[2018-09-10 19:51] ciarmcom commented on #8065
ARM Internal Ref: MBOTRIAGE-1622

[2018-09-10 20:51] maclobdell commented on #7610
I fixed a connection problem on my CI Test Shield.  It is working now.  Closing this issue.  Thanks!

[2018-09-10 20:51] #7610 closed, assigned to nobody

[2018-09-10 21:47] fjvva opened #8068 "Cannot initialize CAN on STM32F072RB"
### Description

STM32F072RB Nucleo Board, using latest Mbed library.
To reproduce, past the following code in main.cpp, compile, and upload it. You will get an error output on USB Serial:

`#include "mbed.h"

//------------------------------------
// Hyperterminal configuration
// 9600 bauds, 8-bit data, no parity
//------------------------------------

Serial pc(SERIAL_TX, SERIAL_RX);
CAN canbus

[2018-09-11 03:45] atomichan opened #8070 "Mbed OS 5.10 OOB - IP connectivity test cases resulted as inconclusive"
### Description
Mbed OS 5.10 OOB - IP connectivity test resulted as inconclusive due to cmd timeout
(Target: UBLOX_EVK_ODIN_W2, Host: Mac).

### Expected result
All TEST_APPS should pass.

### Actual result
1 testcase skipped, 4 testcases inconclusive.
See below for more details.

### Versions
$ mbed ls
mbed-os (#3fb5781af180, tag: mbed-os-5.10.0-rc1)

python 2.7.15
mbed-cli 1.8.0
icetea 1.0.1

Te

[2018-09-11 04:38] SamiLappalainenArm opened #8071 "Tools: lint.py shows errors when executed without arguments"
### Description
below is out of latest (commit 920db63453b6aae7ccaa992fe7c9107f6664347f) lint.py execution without arguments

<clip>
$ tools/targets/lint.py
tools/targets/lint.py: line 7: A linting utility for targets.json

**This linting utility may be called as follows:
python <path-to>/lint.py targets TARGET [TARGET ...]**

all targets will be linted
: No such file or directory
tools/targets/li

[2018-09-11 06:56] lorjala commented on #8058
@MarceloSalazar

MinGW and Gcovr target different use cases. MinGW is a port of GCC compilers for Windows and Gcovr is used to generate code coverage reports.

Any port of GNU make and GCC compilers should work, but only MinGW-W64 is tested on Windows, because we cannot support all available tools and MinGW-W64 ships with both compilers and make.

What is your python and `pip --version`? We suppor

[2018-09-11 07:43] jeromecoutant commented on #8068
Hi @fjvva
I am sorry, but I couldn't reproduce your issue...
Jerome

*[Mirrored to Jira]*

[2018-09-11 08:04] mattbrown015 commented on #7994
Well, I raised awareness and started a bit of a discussion but think this specific issue has gone far enough now so I'll close it.

[2018-09-11 08:04] #7994 closed, assigned to nobody

[2018-09-11 08:13] ccli8 commented on #6924
@deepikabhavnani Checking ARM/ARMC6 for rtos-less code, #8062 can fix the memory corrupt issue. I have one recommendation: it would decrease probability of mis-judge if signature can be cleared in `free`.

[2018-09-11 08:20] hasnainvirk commented on #7994
@mattbrown015 Thank you for raising it up. I second your opinion, new features should come in disabled by default specially if they have RAM or ROM penalty kicking in with them.

[2018-09-11 08:29] jeromecoutant commented on #7407
@davidsaada
*[Mirrored to Jira]*

[2018-09-11 08:44] OPpuolitaival commented on #8064
Fix: https://github.com/ARMmbed/mbed-os/pull/8075
*[Mirrored to Jira]*

[2018-09-11 08:48] MarceloSalazar commented on #8058
@kegilbert thanks for the PR. The changes and link to the troubleshooting is good :)

@lorjala this statement that has been added is great: "MinGW-W64 is recommended, although any windows port of the above GCC versions should work"

You're right, my environment is not correct. I'll work on this - let's ignore this for now.

[2018-09-11 08:48] AnttiKauppila commented on #8027
At the moment this will not be supported. We are only focusing to standard implementation now.

[2018-09-11 09:01] davidsaada commented on #7407
@jeromecoutant This problem has been fixed in [#7465](https://github.com/ARMmbed/mbed-os/pull/7465).
As it has only been merged on August 1 (while this issue had been opened earlier), I suggest you retest it with master (or any release starting 5.9.5).
*[Mirrored to Jira]*

[2018-09-11 09:26] MarceloSalazar commented on #8064
@OPpuolitaival thanks for the PR

However, I still don't think it's enough. The dependencies should be checked first, and traceback error should be caught.
Maybe this is something that @theotherjimmy can help?
*[Mirrored to Jira]*

[2018-09-11 09:31] jeromecoutant commented on #7407
I am currently checking this result:

| target                  | platform_name       | test suite                                                 | result | elapsed_time (sec) | copy_method |
|-------------------------|---------------------|------------------------------------------------------------|--------|--------------------|-------------|
| DISCO_L072CZ_LRWAN1-IAR | DISCO_L072CZ_LRWAN1 | fe

[2018-09-11 09:33] davidsaada commented on #7407
Right. Indeed [#7465](https://github.com/ARMmbed/mbed-os/pull/7465) only dealt with BD tests, not with file system ones. Will need to open an additional PR for that.
*[Mirrored to Jira]*

[2018-09-11 09:49] #7388 closed, assigned to nobody

[2018-09-11 10:02] jeromecoutant opened #8077 "NVSTORE tests with small memory targets"
### Description

mbed test -t IAR -m DISCO_L072CZ_LRWAN1 -v -n *nvstore*
mbed test -t GCC_ARM -m DISCO_L072CZ_LRWAN1 -v -n *nvstore*
mbed test -t ARM -m NUCLEO_F072RB -v -n *nvstore*
...

[code]

Do you think it is possible to add some available RAM check and avoid the crash ?
Thread number is currently set to 4, maybe we could reduce it for small memory targets ?

@davidsaada

### Issue request t

[2018-09-11 10:04] davidsaada commented on #8077
That's actually handled in [#7746](https://github.com/ARMmbed/mbed-os/pull/7746). Ready, but not merged yet.
*[Mirrored to Jira]*

[2018-09-11 10:40] bogthe opened #8078 "Firmware Update: Update not applied"
### Description
Update campaign completes successfully but the new firmware image is not applied to the device:
- mbed-os: `mbed-os-5.10.0-rc1`;
- project: `https://os.mbed.com/users/MarceloSalazar/code/Pelion-ethernet-fw-update/`;
- target: `K64F`;
- toolchain: `GCC_ARM`;

Steps to reproduce:
- import project;
[code]

#### Mbed-cli output:
[code]

#### Device screen output:
[code]

**The new firm

[2018-09-11 10:44] ithinuel commented on #6827
The stretch mode is basically a flow control technique that is sensible to me to have enabled by default.
Introducing a way to disable such feature could be part of the work @scartmell-arm is doing on I²C hal API : #7834
*[Mirrored to Jira]*

[2018-09-11 10:49] MarceloSalazar commented on #8064
Manually upgraded `mbed-ls`
[code]

Problem continues

[code]

*[Mirrored to Jira]*

[2018-09-11 11:12] ashok-rao commented on #8059
@OPpuolitaival ..FYI..

[2018-09-11 11:20] ashok-rao commented on #8070
@SeppoTakalo .. can you please have a look? Thanks.

[2018-09-11 11:30] lorjala commented on #8059
@MarceloSalazar This is Mbed CLI specific issue, which should be fixed in 1.8.0. Is your mbed cli version 1.8.0?

[2018-09-11 11:39] dhearn commented on #7949
In the example by the original poster, the full path to every sub-directory in the source is being passed in multiple times into the command - I think when defining the INCLUDE paths:

`-I"C:/Users/maclob01/Documents/MCUXpressoIDE_10.2.1_795/workspace/mbed-os-example-blinky/." -I"C:/Users/maclob01/Documents/MCUXpressoIDE_10.2.1_795/workspace/mbed-os-example-blinky/mbed-os" -I"C:/Users/maclob01/Doc

[2018-09-11 11:54] SeppoTakalo commented on #8070
@jarlamsa @OPpuolitaival Please check

[2018-09-11 12:06] jarlamsa commented on #8070
Seems that sending first command over serial timeouts @jonikula have you seen that before?

[2018-09-11 12:07] marcemmers opened #8080 "Cellular/BC95: What is the best way to issue specific AT commands?"
### Description

We are working with a custom board with a Quectel BC68. The BC68 has the same commands as the BC95 which is supported. There are a couple of AT commands that are not supported by all module vendors but that I do need for this module, for example: AT+CCLK and AT+NCONFIG.

I am looking for the cleanest way to implement these AT commands.

It is no problem to implement them for the B

[2018-09-11 12:08] SeppoTakalo commented on #8070
Please check internal Jira: IOTSYSTOOL-675

[2018-09-11 12:34] SeppoTakalo opened #8081 "Buffered STDIN/STDOUT crashes on RTL8195AM and Ublox ODIN W2"
### Description

When sending bytes bidirectionally to Uart that handles STDIN/STDOUT the Realtek 8195 seems to crash.
This is basically same issue that was reported in https://github.com/ARMmbed/mbed-os/issues/6358 but requires faster speed than what humans can type.

**To reproduce:**

[code]
Then create `main.cpp` and `mbed_app.json` as follows:

**main.cpp**

[code]

**mbed_app.json**

[code]

[2018-09-11 12:42] JojoS62 commented on #7949
yes, the call to gcc produces a cmd length >36k characters in this example. There are about 240 (!) include path for every feature added.  There should be a confiuration system where I can select the wanted features. If every new feature is automatically added, then a project may fail in the future when the features increase. I cannot explicitly ignore unwanted features if I don't know how it will

[2018-09-11 13:05] bcostm commented on #8068
Hi,
Please precise:
    - What toolchain (name + version) are you using?
    - What tools (name + version - is it mbed-cli, online compiler or IDE) are you using?
    - What is the SHA of Mbed OS (git log -n1 --oneline)?

*[Mirrored to Jira]*

[2018-09-11 13:24] MarceloSalazar commented on #7492
It looks the main question has not been answered.

"What happens if we preempt this interrupt every 52 us with another interrupt which takes around 3 us? Is this fatal for the system?"

@bulislaw can you help to answer this from Mbed OS core point of view?

*[Mirrored to Jira]*

[2018-09-11 13:35] OPpuolitaival commented on #8059
https://github.com/ARMmbed/mbed-cli/commit/09462742d415fceaf62dd3631640d6558c72b193 fixed this one and now in master. Probably you are using a bit older version

[2018-09-11 13:48] dhearn commented on #7949
Now, having got past this earlier issue (Bad file number/error 126 on compiling), I'm also having a similar problem when linking, due to the 32k limit - the link command line is 32144 bytes long:

[code]

This one cannot be easily fixed by changing the overall folder path - as most of the repeated paths are mbed-os ones.
*[Mirrored to Jira]*

[2018-09-11 13:52] JojoS62 commented on #7949
for the linker, it should help to reduce the muber of features by exluding in the .mbedignore file (before exporting) or by exluding the source folders from build (right click on folder in project tree, source / exclude from build).
*[Mirrored to Jira]*

[2018-09-11 13:57] dhearn commented on #7949
I have already excluded as many features as possible from within mbed-os via the .mbedignore file before exporting.  The features which are left appear to be the minimum are required to use mbed-tls with Ethernet interface, i.e. if I remove any more, it fails to build via `mbed compile`.  I think I based my test code upon https://github.com/ARMmbed/mbed-os-example-tls.

I'm using mbed-os release 5

[2018-09-11 14:12] JuricaResetar opened #8084 "NRF52_DK sleep/deep sleep profiling does not work"
### Description
Hi =)

[X ] Bug
I'm trying to implement sleep/deep sleep profiling into my project on Nordic's NRF52_DK but with no success. I'm using official mbed-os version mbed-os-5.9.6 and mbed CLI with GCC_ARM compiler.
I've followed instructions from [mbed web](https://os.mbed.com/docs/v5.9/reference/power-management.html) and added MBED_SLEEP_TRACING_ENABLED macro into my mbed_app.json fil

[2018-09-11 14:19] jupe commented on #8070
Icetea has already option to wait shell before sending commands using `cli_ready_trigger` -option, see: https://github.com/ARMmbed/icetea/blob/d6c31645edceafd868e2680282a7cf4d9b01805e/examples/testcase_example_usage/sample_cli_init.py#L58 . Could it be used here? We are also bringing another approach to verify that device are ready for receiving commands, probably included in next minor release. I

[2018-09-11 15:24] cmonr commented on #7447
Is this still an issue? #7449 was superceded with #7474 which has since been merged.

[2018-09-11 15:26] theotherjimmy commented on #8064
@MarceloSalazar The requirements are checked before running any commands.
*[Mirrored to Jira]*

[2018-09-11 15:28] SeppoTakalo commented on #8059
Verified that this issue is not happening in mbed-cli 1.8.0

[2018-09-11 16:17] aashishc1988 opened #8087 "Mutex failure while running tcpserver_accept test"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
ARM

**Tests we are failing:**
TCPSERVER_ACCEPT  (Icetea)

**Steps to reproduce**

mbed test -m K64F -t ARM --icetea -n TCPSERVER_ACCEPT

**log snippet**
[code]
    [ ] Question
    [ ] Enhancement
    [X ] Bug

[2018-09-11 16:18] aashishc1988 commented on #8087
@ashok-rao

[2018-09-11 16:45] MarceloSalazar commented on #8059
You're absolutely right, my bad!

[2018-09-11 16:45] #8059 closed, assigned to nobody

[2018-09-11 17:11] ashok-rao commented on #8087
@OPpuolitaival ..can you please check this? Thanks.

[2018-09-11 17:11] aashishc1988 opened #8088 "Test was skipped but summary said PASS"
While running a test suite using icetea, the test was skipped because required binary was not built, but at the end, the summary stated the final verdict as PASS. Shouldn't it be INCONCLUSIVE or something else that indicates a test was skipped.

Log:

[code]

[x ] Question
[ ] Enhancement
[ ] Bug

[2018-09-11 17:12] aashishc1988 commented on #8088
@OPpuolitaival @ashok-rao

[2018-09-11 17:28] MarceloSalazar opened #8089 "Error at running unittest: ip4string.h: No such file"
### Description

I'm evaluating 5.10 during OOB and following instructions here
https://github.com/ARMmbed/mbed-os/blob/master/UNITTESTS/README.md

Mbed OS branch: mbed-os-5.10.0-rc1
Mbed CLI: 1.8.0
cmake version 3.12.2
gcc (GCC) 4.8.3
Windows 10

[code]
### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-11 17:44] birdhu01 commented on #8089
Evaluating OOB for unittests
Got the same error as marcelo.

mbed-cli --version
1.8.0
mbed --version
1.8.0
python --version
Python 3.6.4 && 2.7

Scanning dependencies of target gtest

[  1%] Building CXX object googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o

[  3%] Linking CXX static library libgtest.a

[  3%] Built target gtest

[  4%] Building CXX object CMakeFiles/fea

[2018-09-11 18:50] aashishc1988 commented on #7711
@andrewc-arm Sorry for late reply. Can you please post the complete log? I just tried

and it built fine for me.

[2018-09-11 19:46] aashishc1988 commented on #7963
Wasn't this addressed in https://github.com/ARMmbed/greentea/pull/278 ?

[2018-09-11 19:51] ciarmcom commented on #8089
ARM Internal Ref: MBOTRIAGE-1634

[2018-09-11 19:51] ciarmcom commented on #8087
ARM Internal Ref: MBOTRIAGE-1636

[2018-09-11 21:28] yennster opened #8091 "UNITTEST Error: ld: symbol(s) not found for architecture x86_64"
### Description

Environment: Mac OS 10.13.6
gcc version: 8.2.0
Mbed OS version: mbed-os-5.10.0-rc1
Mbed CLI version: 1.8.0
cmake version: 3.12.1

Following instructions from UNITTEST README: https://github.com/ARMmbed/mbed-os/blob/master/UNITTESTS/README.md#get-code-coverage

Running the following commands:
[code]
Or the mbed test command: `mbed test --unittests --coverage html`

Give the followi

[2018-09-11 21:49] deepikabhavnani commented on #7301
Closing this, feel free to reopen if issue still exists

[2018-09-11 21:49] #7301 closed, assigned to nobody

[2018-09-11 23:51] ciarmcom commented on #8091
ARM Internal Ref: MBOTRIAGE-1638

[2018-09-12 04:23] c1728p9 commented on #7858
Hi @jeromecoutant I looked into this again, and I suspect the reason the removing the printf or setting LPTICKER_DELAY_TICKS to 0 makes this go away is because its a race condition that is highly timing dependent. By modifying the code and varying the delay time I was able to get this to fail both with LPTICKER_DELAY_TICKS=0 and with LPTICKER_DELAY_TICKS=3 when lpticker_lptim is set to 0.

One thi

[2018-09-12 07:08] jeromecoutant commented on #8088
Hi
There is the same issue with greentea tests...
Macro TEST_SKIP_UNLESS_MESSAGE make the test "OK"

[2018-09-12 07:34] jonikula commented on #8088
There is no overall verdict for the run to indicate that all tests were skipped. If it's something that's wanted we can add one.

The overall run verdicts are FAIL, PASS and INCONCLUSIVE. It might be better to change this case to inconclusive instead of PASS though.

[2018-09-12 10:57] screamerbg commented on #7679
CC @asifrizwanubx @fahim-ublox
*[Mirrored to Jira]*

[2018-09-12 12:48] LMESTM commented on #7997
@gigz09  have you seen the proposed example from @jeromecoutant  ?
*[Mirrored to Jira]*

[2018-09-12 13:01] RobMeades commented on #7847
FYI, calling `Thread::wait()` as an alternative to `wait_ms()` does work but the more general issue is that there are places where a `Timer` is required and that does the same thing: once a `Timer` has been run the current consumption increases and never, ever, goes back down again.
*[Mirrored to Jira]*

[2018-09-12 13:18] juhaylinen commented on #8087
Fixed in https://github.com/ARMmbed/mbed-os/pull/8031

[2018-09-12 13:30] RobMeades commented on #7847
I've tried making a direct call to `us_ticker_free()` to tidy things up after a `Timer` has been deleted but then everything falls over in a heap the next time a `Timer` is instantiated.  What is the correct way to get my current consumption back down?  Any hack will do, just so's I get my current down.
*[Mirrored to Jira]*

[2018-09-12 13:46] RobMeades opened #8098 "Drivers don't tidy up HW afterwards"
### Description
I guess you're aware of this but several of the mbed drivers don't tidy up the HW when they have been deleted: `Serial()`, `I2C()` and `Timer()` (see #7847) are the examples I know of.   There are hints (e.g. in [serial_api.h](https://github.com/ARMmbed/mbed-os/blob/master/hal/serial_api.h#L121)) that this is intended but it is not implemented or, in the `I2C()` case, not even hint

[2018-09-12 14:26] zvikas opened #8101 "MBED-OS 5.10 OOB - export to make_armc5, error in linking phase"
I am using https://github.com/ARMmbed/mbed-os-example-filesystem example and testing export on Windows OS (windows cmdline).
My export command: mbed export -i make_armc5 -m K64F
The export finished and I use "make" command for building (with make clean and without) and got the following error in linking (compilation finished):

make (e=87): The parameter is incorrect.
C:/work/oob5.10/mbed-os-examp

[2018-09-12 14:37] bmcdonnell-ionx opened #8102 "Question: _t suffix"
### Description

I see that `_t` is used as a typename suffix in numerous places within Mbed OS. (Some from Mbed, some from upstream.)

For example, to find many of them,
`grep -R "_t[^A-z]" . --exclude-dir=.git | grep -v -e "int[816324]*_t" | grep \.h:`

POSIX [reserves the `_t` suffix](https://stackoverflow.com/a/231807) in names for their future use. (See also `2.2.2 The Name Space` in [General

[2018-09-12 14:55] zvikas commented on #8101
the same issue occurs when exporting to make_iar

[2018-09-12 15:03] zvikas commented on #8101
Tested on both 5.10 OOB rc1 and rc2 branch/tags
Searched the error and found that it maybe related to windows command line (long command not supported). This might be a known issue already.

[2018-09-12 15:22] jupe commented on #8088
I would propose that if only skipped results are reported final verdict would be then inconclusive. If there is also some non skip results then final verdict would be pass or fail - does this make sense ?

[2018-09-12 15:31] aashishc1988 commented on #8088
@jupe So if I am running 30+ tests, considering that "final verdict" is the only parameter that tells me if test suite ran fine or not, lets say 3-4 tests skipped, if I am automating the part of gathering the test result information, verdict of PASS in that case is quite misleading. In my opinion, if any test was skipped, there is a valid reason behind it, so either we should remove that test as a

[2018-09-12 15:33] jupe commented on #8070
I've played a bit with UBLOX_EVK_ODIN_W2 with mac and looks that I can get it stuck relative easily so that only way to recover board is re-plugging USB cable. Same thing does not seem to happen with windows neither linux. Simplest way to reproduce this is just running [`test_cmdline`](https://github.com/ARMmbed/mbed-os/blob/master/TEST_APPS/testcases/example/test_cmdline.py) -test in mac. Even `s

[2018-09-12 15:35] aashishc1988 commented on #8087
@juhaylinen I have verified that https://github.com/ARMmbed/mbed-os/pull/8031 fixes the issue and the test runs fine now. I will close the issue once the PR is merged.

[2018-09-12 15:51] ciarmcom commented on #8101
ARM Internal Ref: MBOTRIAGE-1641

[2018-09-12 15:51] jupe commented on #8088
I kind of agree with you. Like you say that if any test was skipped there is most probably good reason behind it. Currently `Icetea` have three ways to get skip test results:
* from test case meta-data which user has "hard-coded" to test
* from test suite
* if selected platform is not allowed for some particular test case (`allowed_platforms` -list in test meta-data)

In this case I think icetea i

[2018-09-12 15:51] ciarmcom commented on #8098
ARM Internal Ref: MBOTRIAGE-1642

[2018-09-12 16:24] MarceloSalazar commented on #8064
The requirements might be checked, but I still get traceback errors, which are not nice!

What is this Code 1 ?
[code]
Don't know how to proceed
*[Mirrored to Jira]*

[2018-09-12 16:27] ashok-rao opened #8105 "[OoB_5.10]: mbed dm init fails with invalid API key."
### Description

I have an Admin API key from the staging Cloud portal : OS2.

While OoB'ing mbed dm (RC2), I run the following command:
```mbed device-management init -d arm.com --model-name ashok --force -q -v```

But it fails with:
[code]

because: https://portal.mbedcloud.com is hardcoded somewhere. I & our customers who have on-prem deployments or a different URL to their device management se

[2018-09-12 17:03] TacoGrandeTX commented on #8084
This is not working for two reasons:

1.  As mentioned in the forum post you will need to have `DEVICE_STDIO_MESSAGES` defined as this enables the print messages that the tracer produces.
2. Even with `DEVICE_STDIO_MESSAGES` we noticed that the trace messages were stalled waiting on a mutex.  This is fixed by this PR which was just reviewed:  https://github.com/ARMmbed/mbed-os/pull/8048

Please br

[2018-09-12 19:04] OPpuolitaival commented on #8091
Fixed in: https://github.com/ARMmbed/mbed-os/pull/7988

[2018-09-12 19:04] OPpuolitaival commented on #8089
Fix: https://github.com/ARMmbed/mbed-os/pull/8086

[2018-09-12 19:17] yennster opened #8107 "UNITTEST Warnings: Windows path separators, variable 'tchain'"
### Description

Environment: Windows 10
gcc mingw version: 8.1.0
Mbed OS version: mbed-os-5.10.0-rc2
Mbed CLI version: 1.8.0

After running command: `mbed test --unittests --coverage html`

Warnings:
[code]

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-12 19:23] yennster commented on #8091
Closed, fixed by #7988

[2018-09-12 19:23] #8091 closed, assigned to nobody

[2018-09-12 19:23] yennster commented on #8107
The `local variable 'tchain'` error also occurs on Mac OS:

[code]

[2018-09-12 19:51] ciarmcom commented on #8107
ARM Internal Ref: MBOTRIAGE-1643

[2018-09-13 02:41] c1728p9 commented on #7858
Its not the 32KHz stopping which is the problem. I configured the STM32L432 to output the 32KHz clock on MCO, and I don't see it stop when this failure occurs. Something else must be the cause. For reference the code I used to output the 32KHz clock on D9 is:
[code]
*[Mirrored to Jira]*

[2018-09-13 05:05] jonikula commented on #8088
So, what I'm reading here is that the action point from Icetea-point of view should be to change reporting to inconclusive if all tests were skipped. Further discussion needs to happen if we want to consider other changes as well.

[2018-09-13 05:48] teetak01 commented on #8105
@ashok-rao fix already here https://github.com/ARMmbed/mbed-os/pull/8063

[2018-09-13 07:18] Eman869 opened #8110 "Possible error of LPUART RCC setting in serial_baud"
### Description

The RCC configuration looks wrong while setting serial_buad in STM devices LPUART.

In mbed-os/targets/TARGET_STM/serial_api.c
[code]
Am I right?

### Issue request type

[ ] Question
[ ] Enhancement
[x ] Bug

[2018-09-13 07:39] Eman869 opened #8111 "Cannot wake up STM32L476 by LPUART from sleep / deepsleep."
### Description

There are problems to wake up STM32L476 by LPUART. I made a small project and would like to wake up STM32L476 by LPUART RXNE interrupt. The STM32L476RG Nucleo board would connect to another board thru LPUART PC0/PC1. I expected to see system wake up after any word sent from the companion board. However, system does not wake up. I had noticed that the power consumption is not corre

[2018-09-13 07:51] ciarmcom commented on #8110
ARM Internal Ref: MBOTRIAGE-1646

[2018-09-13 07:58] RobVlaar commented on #7431
@bcostm @screamerbg  The issue is from 2 months ago and we have already changed to 5.9.3 and we haven't seen the problem ever since. The timer we changed back then is still 0x1FFFFFFU but it doesn't hang anymore. The project wich I was working on was local and I don't have it anymore, so i can't tell which clock i used. It could be that I used the wrong clock, or mbed has fixed the issue. My colle

[2018-09-13 08:16] bcostm commented on #7431
Thanks for the update. OK for me to close the issue. Please re-open it (or create a new one and refer to this one) in case the problem re-appears...

[2018-09-13 08:22] SeppoTakalo commented on #8065
That follows exactly how Greentea tests are laid out:
https://github.com/ARMmbed/mbed-os/tree/master/TESTS

There is no documentation supplied in the TESTS folder, other than my Socket test-plan.

[2018-09-13 09:41] #7431 closed, assigned to nobody

[2018-09-13 09:48] MarceloSalazar commented on #8065
This issue is considered resolved with https://github.com/ARMmbed/mbed-os/pull/8073

[2018-09-13 09:48] #8065 closed, assigned to nobody

[2018-09-13 09:50] screamerbg commented on #7328
@c1728p9 @bulislaw please see question above.

[2018-09-13 09:51] screamerbg commented on #7153
Bump @0xc0170
*[Mirrored to Jira]*

[2018-09-13 09:57] fahimalavi commented on #7679
Work has been started on Cellular APIs for Sara-R4, I will come back on it soon
*[Mirrored to Jira]*

[2018-09-13 10:00] arekzaluski commented on #7863
@janjongboom @Alex-EEE Indeed you need to manually include path to header files located in GCC ARM. We are working on a solution that will give path to all required folders that need to be included. I will open a PR in mbed-os tools as soon as we will have it ready.
*[Mirrored to Jira]*

[2018-09-13 10:46] AnttiKauppila commented on #7820
@hasnainvirk @mattbrown015 @maxgerhardt Is this issue resolved and validated?

[2018-09-13 10:49] MarceloSalazar opened #8113 "error: Microsoft Visual C++ 14.0 is required"
### Description
Evaluating 5.10 during OOB round 2.
Found error "Microsoft Visual C++ 14.0 is required" while trying to get started with Mbed OS.

Environment:
- Mbed CLI 1.8.0
- Python 3.7.0
- Windows 10

Installing Mbed OS in new PC and hitting errors:

[code]

Summary, I should not need to install 3rd party tools, such Microsoft Visual C++.

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-13 10:51] artokin opened #8115 "Hard fault with mesh applications when using MCR20A RF with IDE"
### Description

Hard fault detected when testing https://github.com/ARMmbed/mbed-os-example-mesh-minimal or https://github.com/ARMmbed/nanostack-border-router with mbed-os-5.10.0-rc2 branch and MCR20A RF.

Steps to reproduce with nanostack-border-router:
- checkout mbed-os-5.10.0-rc2 branch from the application
- Make `mbed deploy`
- Modify file `./configs/Thread_Atmel_RF.json` to use MCR20A RF
-

[2018-09-13 11:05] hasnainvirk commented on #7820
@AnttiKauppila Yeah it was resolved in #7831

[2018-09-13 11:13] #7820 closed, assigned to nobody

[2018-09-13 11:27] MarceloSalazar commented on #8113
Workaround: Install "Microsoft Visual C++ Build Tools"

- The link shown in the console (http://landinghub.visualstudio.com/visual-cpp-build-tools) doesn't work. Go to this page instead: https://visualstudio.microsoft.com/visual-cpp-build-tools/
- Install "Build Tools for Visual Studio 2017" as indicated.
- In Visual Studio installer, Workloads, select "Visual C++ build tools" (~3.6GB)
- Reboot

[2018-09-13 11:30] MarceloSalazar opened #8116 "Traceback error when using Icetea with Python 3"
### Description

Evaluating 5.10 during OOB round 2.
Found Traceback error

Environment:

- Mbed CLI 1.8.0
- Python 3.7.0
- Both: Windows 10 and OSX El Capitan

[code]

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-13 11:51] ciarmcom commented on #8116
ARM Internal Ref: MBOTRIAGE-1648

[2018-09-13 11:51] ciarmcom commented on #8113
ARM Internal Ref: MBOTRIAGE-1650

[2018-09-13 12:29] fkjagodzinski opened #8117 "STM: Incorrect us ticker timestamp after deep sleep"
### Description

After waking up from deep sleep mode the `ticker_read_us(us_ticker)` returns incorrect value. In fact that value is `2**32-1` or `2*33-1` bigger than expected.

#### Targets
`NUCLEO_F746ZG`,
`NUCLEO_L476RG`,
`NUCLEO_F401RE`,
`NUCLEO_F429ZI`,
`DISCO_L475VG_IOT01A`
#### Toolchains
`GCC_ARM`
I don't suspect this issue to be toolchain related. I'll update this list whenever I check ot

[2018-09-13 12:50] MarceloSalazar commented on #8064
https://github.com/ARMmbed/mbed-os/pull/8075 is NOT fixing the problem
*[Mirrored to Jira]*

[2018-09-13 13:13] MarceloSalazar commented on #8107
@OPpuolitaival please review

[2018-09-13 13:22] SeppoTakalo commented on #8081
Just verified that Ublox EVK ODIN W2 also crashes somehow if baud rate is set to 115200 and paste a bit longer text:
`0123456789A0123456789A0123456789A0123456789A0123456789A0123456789A0123456789A0123456789A0123456789A`

So for Ublox EVK ODIN W2 use following `mbed_app.json`
[code]

*[Mirrored to Jira]*

[2018-09-13 13:34] fjvva commented on #8068
I'm using the following:
-Mbed revision 169:a7c7l22 (Jun 2018)
-Mbed online compiler (web based)
-Code posted on first post

The MCU exact part number is STM32F072CBT6 in 48-pin package

*[Mirrored to Jira]*

[2018-09-13 14:21] SeppoTakalo commented on #8081
Verified that does not crash on K66F
*[Mirrored to Jira]*

[2018-09-13 14:33] fkjagodzinski commented on #8117
I might have found the cause of this issue. `update_present_time(us_ticker)` is called a few times while the `hal_deepsleep()` hasn't finished its execution yet. This can be seen on the screenshot below. I used GPIOs to track function calls (code: https://github.com/fkjagodzinski/mbed-os/commits/dbg-stm-us_ticker_after_deepsleep).
![screenshot](https://user-images.githubusercontent.com/26014847/45

[2018-09-13 14:39] theotherjimmy commented on #8113
@OPpuolitaival Looks like you have another native-install-using dep. I thought we got rid of pyshark.

[2018-09-13 14:49] SeppoTakalo opened #8120 "Icetea must be run from the mbed-os root"
### Description

Apparently this method of running tests does not work anymore
[code]

In order to run Icetea tests, it seems to require that you are inside of Mbed OS folder.

[code]

So it starts to run the testcases, but only if I start from mbed-os folder.

Is this documented behaviour?
@OPpuolitaival
Might be a root cause for #8064

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-13 14:50] theotherjimmy commented on #8101
@zvikas You got it: it's command line length related. There is no workaround at this time, and It's a documented issue.

[2018-09-13 14:55] OPpuolitaival commented on #8116
This is pure icetea issue. Please report in right place: https://github.com/ARMmbed/icetea
Seems easy to fix

[2018-09-13 15:05] OPpuolitaival commented on #8064
Here is two problems:
1. Wrong lib numbers which are fixed in https://github.com/ARMmbed/mbed-os/pull/8075
@theotherjimmy pip does not check sub-debendencies and therefore some library may need greater version of something than Mbed OS and only Mbed OS libs are checked

2. Root cause problem. The missing feature which is described better way in https://github.com/ARMmbed/mbed-os/issues/8120
*[Mirr

[2018-09-13 15:08] OPpuolitaival commented on #8120
@SeppoTakalo Do you know do we want to run icetea tests in subfolders? Is it good to make same solution than unittests that just quit with warning when running that in folder that does not contain TEST_APPS folder.
*[Mirrored to Jira]*

[2018-09-13 15:09] fkjagodzinski commented on #8117
The root cause of this issue is `HAL_GetTick()` calling `ticker_read_us(us_ticker)`.
https://github.com/ARMmbed/mbed-os/blob/d6ccf46bbc9869d3573dc20317556a66f8e2f124/targets/TARGET_STM/hal_tick_overrides.c#L45-L69

One of possible fixes would be to update the value of the `mbed_sdk_inited` flag in `hal_deepsleep()`, i.e.:
[code]
With this patch added, the output from `NUCLEO_F746ZG` is ok:
[code]

[2018-09-13 15:09] JojoS62 commented on #8101
@theotherjimmy haven't you tried to do a workaround with response files for the linker?
https://gcc.gnu.org/wiki/Response_Files
This problem affects also the IDE exports, but I'm afraid its more dificult to solve there because the makefile is generated by the IDE.

[2018-09-13 15:13] jeromecoutant commented on #8117
It is OK for me, thx @fkjagodzinski

Please, push the correction, I will check it with many STM32 targets.

[2018-09-13 15:51] ciarmcom commented on #8117
ARM Internal Ref: MBOTRIAGE-1652

[2018-09-13 15:59] OPpuolitaival commented on #8113
@theotherjimmy you are right. There is pyshark library in icetea dependencies which depends on trollius that need compiling. We need to make whole wireshark thing optional

[2018-09-13 16:00] OPpuolitaival commented on #8113
@jonikula can you make wireshark optional?

[2018-09-13 16:03] OPpuolitaival commented on #8120
Actually the question is that do we want this to be like unittest or greentea?

Unittest: print warning and quit if no test folder in the current directory
Greentea: Walk trough the folder structure and run all tests that it finds
*[Mirrored to Jira]*

[2018-09-13 16:06] deepikabhavnani commented on #8098
@RobMeades - Thanks for reporting the issue, mbed-os HAL team is aware of this, and working on this  with each HAL+driver API updates.
Since deletion/cleanup of HW needs to be implemented for each and every target it will be bit slow.

Related to https://github.com/ARMmbed/mbed-os/issues/3106.

[2018-09-13 16:08] deepikabhavnani commented on #8098
Closing this. Follow https://github.com/ARMmbed/mbed-os/issues/3106 for tracking.

[2018-09-13 16:08] #8098 closed, assigned to nobody

[2018-09-13 16:17] OPpuolitaival commented on #8088
This works as designed. This is very close to greentea behaviour. If we want want to change this, let's make a feature request and change greentea side too.

[2018-09-13 16:36] OPpuolitaival commented on #8107
@lorjala please check this

[2018-09-13 16:44] deepikabhavnani commented on #7613
@janjongboom - I do not see `LPC1768` as option in `target` . https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky

Not sure if it was removed or we have new error

[2018-09-13 16:50] OPpuolitaival commented on #8088
MBEDOSTEST-187

[2018-09-13 18:27] yennster opened #8124 "[greentea] RTL8195AM netsocket test failures"
### Description

Environment: Windows 10
Mbed CLI version: 1.8.0
Python version: 2.7.14
IAR version: 7.80.1.11864
ARMC5 version: 5060750
Mbed OS tag: mbed-os-5.10.0-rc2

Summary of netsocket test failures with ARMC5 and the RTL8195AM board:
[code]

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-13 19:37] bmcdonnell-ionx commented on #7928
@c1728p9, I had some time, so started looking at things a bit.

1. There is a deeper issue here, which is that all the interfaces in all the layers down to `usb/targets/TARGET_*/` are not const correct for sending data to the host. Is this going to be fixable on the Mbed side of things, or is there upstream code that must also be modified?

   If there's upstream code, I guess the compromise is to

[2018-09-13 19:54] c1728p9 commented on #7928
The should be fixable all the way down to the USBPhy layer by modifying the write functions to take const data rather than mutable data. Below the USBPhy is the vendor code that would be harder to fix. Casts could be used in the short term on the platforms that need it.
*[Mirrored to Jira]*

[2018-09-13 19:54] aashishc1988 opened #8126 "Getting hardfault when trying to run netsocket tests on wifi boards"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
DISCO_L475VG_IOT01A

**Toolchain:**
ARM

**Tests we are failing:**
TCPSERVER_ACCEPT  (Icetea)
TCPSOCKET_ECHOTEST_BURST_SHORT

**Steps to reproduce**

mbed test -m DISCO_L475VG_IOT01A -t ARM --icetea -n TCPSERVER_ACCEPT

**Modifications made to enable the test to build a

[2018-09-13 19:58] bmcdonnell-ionx commented on #7928
Is the vendor code all under `mbed-os/targets/`, or is there some under `mbed-os/usb/`, e.g. `mbed-os/usb/device/targets/`?
*[Mirrored to Jira]*

[2018-09-13 20:59] dreemkiller commented on #7398
ping
*[Mirrored to Jira]*

[2018-09-13 21:34] aashishc1988 commented on #8126
@SeppoTakalo @OPpuolitaival @jarlamsa

[2018-09-13 22:08] yennster commented on #8124
IAR failures:

[code]

[2018-09-13 23:51] ciarmcom commented on #8126
ARM Internal Ref: MBOTRIAGE-1655

[2018-09-14 02:30] c1728p9 commented on #7858
I think I found the source of this problem. The rtc implementation of the low power ticker on ST devices can drop match events if they are set at the right time. This causes the device to get stuck sleeping without a wakeup source. This is more pronounced when tickless is enabled because there is no systick interrupt to wake the system if it gets stuck. The setting LPTICKER_DELAY_TICKS make this e

[2018-09-14 04:15] atomichan commented on #8070
@jupe @SeppoTakalo Thank you for the comment.
I changed the environment to windows (on a vmware virtual machine) and retried the test.
It seems the result using GCC_ARM is the same as reported on issue #8028, which I think was a expected result.

[2018-09-14 05:16] jonikula commented on #8113
I guess we have to.

[2018-09-14 07:17] jeromecoutant commented on #8126
Hi
Just quick questions to start:
- did you well import https://github.com/ARMmbed/wifi-ism43362 ?
- In my own mbed_app.json file, I have also "nsapi.default-wifi-security": "WPA2",
- I don't know what is icetea, is it working without it ?

[2018-09-14 07:25] jarlamsa commented on #8126
Hi

Unfortunately currently the mbed_app.json cannot be used at the same time with test configurations, the wifi information should be placed in the test_config instead.

DISCO_L475VG_IOT01A is using the ISM43362 for the wifi.

You can find the specific config under the mbed-os, from tools/test_configs/ISM43362Interface.json
Add the wifi information there.
In the tools/test_configs/target_configs.

[2018-09-14 07:31] SeppoTakalo commented on #8120
Hmm...
Actually, I'm unsure now of which is the most used and documented way.

Our PR CI seems to run `mbed test` from mbed-os folder.
So if this is the way it should be ran, then it has to be properly documented.

*[Mirrored to Jira]*

[2018-09-14 07:34] SeppoTakalo commented on #8120
I can find both form from our documentation:
* `mbed test -t <toolchain> -m <target> -n "tests-mbed_hal-sleep*"`
* `mbed test -t <toolchain> -m <target> -n mbed-os-tests-mbed_hal*`

So apparently it is not unified.

In which case, I would perhaps launch a warning if TEST_APPS is not found.. that might be the cleanest solution.

*[Mirrored to Jira]*

[2018-09-14 07:48] OPpuolitaival commented on #8120
@SeppoTakalo I will implement warning. I think that we can change it later because change is not breaking anything
*[Mirrored to Jira]*

[2018-09-14 07:51] jonikula commented on #8113
I just pushed this PR. https://github.com/ARMmbed/icetea/pull/43

It very roughly pulls out the entire wireshark support. If some tests need that, then this will break them. If we want to support those tests, more time to rework the feature is needed.

[2018-09-14 08:06] mattbrown015 commented on #7858
Perhaps I'm getting ahead of the game, the PR isn't merged yet, but...

Does this mean the correct value for `LPTICKER_DELAY_TICKS` on STM32L4 is 3?

_And,_ when the PR is merged I should put my `LPTICKER_DELAY_TICKS` back to 3?
*[Mirrored to Jira]*

[2018-09-14 08:51] RobMeades commented on #8098
Understood, thanks.

[2018-09-14 08:58] SeppoTakalo commented on #8120
This issue will be fixed by https://github.com/ARMmbed/mbed-cli/pull/758
*[Mirrored to Jira]*

[2018-09-14 10:42] jupe commented on #8113
Here is bit better approach: https://github.com/ARMmbed/icetea/pull/44 (does not drop feature - just change optionally it).

[2018-09-14 11:01] jupe commented on #8113
There was actually bug in icetea that tries to install `pyshark-legacy`for python 3.x which are not even compatible - which causing this installation failure mentioned in description in first place.  `pyshark` -module instead are compatible with python 3.x and should not need any compilers. In case of python2.x `pyshark-legacy`  should contains all pre-compiled packages so it doesn't need compiler

[2018-09-14 11:03] pjsf1000 opened #8133 "EventScheduler consumes 2milliAmps on Nrf51"
### Description

With v.simple main function I have measure 2ma on a simple NRf dev board.
I am using the online compiler with MbedOS 5.9.7

[code]

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-09-14 11:06] pan- commented on #8133
@geky @maciejbocianski Any idea of what may be going on ?

We got 20uA power consumption with the following code:

[code]

[2018-09-14 11:26] jupe commented on #8113
@MarceloSalazar, could you verify that icetea#c16fec2c34f5362306fd4b3717a1a1c9306ccf44 does not require anymore visual-studio when installing ?

[2018-09-14 11:27] janjongboom opened #8135 "SAML21: HardFault on SysTick_Handler"
### Description

I'm trying to get RTOS working on the SAML21 target (see #7276) so we can run tests. However, the moment that I enable it it hard faults and I have no idea which direction to look:

[code]

Looking into the symbols the EntryFn is the `SysTick_Handler`. Any idea in which direction to look for?

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-09-14 12:10] janjongboom commented on #7613
@deepikabhavnani You need to click *Add to Online Compiler* on the LPC1768 platform page first. https://os.mbed.com/platforms/mbed-LPC1768/

[2018-09-14 12:33] fkjagodzinski commented on #8117
@jeromecoutant I created PR with a patch I proposed above.

[2018-09-14 13:27] Roger-Strassburg commented on #7679
I saw this problem on an earlier version of the R410M modem. What would happen is that on a binary read, if the modem saw a LF it would insert a CR in front of it. I worked around it at the time by ignoring CR if followed by a LF.

We're now using firmware version 05.05 on 02B. It was my understanding from ublox that this problem is fixed in this and/or an earlier version.
*[Mirrored to Jira]*

[2018-09-14 13:30] NeilMacMullen commented on #7679
@Roger-Strassburg  - do you know if the modem supports over-the-air upgrade?  Unfortunately we have a number of devices which have been build with the older firmware.
*[Mirrored to Jira]*

[2018-09-14 13:40] ashok-rao commented on #8124
@SeppoTakalo FYI..

[2018-09-14 13:54] adbridge commented on #8116
Needs an update to mbed-os for requirements.txt after icetea release

[2018-09-14 14:30] Roger-Strassburg commented on #7679
@NeilMacMullen
The release notes for FW version 05.02 / 02B has the following note:

Tools, updating of firmware:

In order to flash update the firmware, USB interface to modem and EasyFlash tool are required. Please contact u-blox support team. Note that the EasyFLash firmware upgrade takes approximately 4-5 minutes and should be completed without a power disruption, as a power loss during firmwa

[2018-09-14 14:42] deepikabhavnani commented on #7613
mbed_config.h is not missing for me in zip.
![image](https://user-images.githubusercontent.com/28542450/45557047-5af12a80-b802-11e8-9115-0d0978f9a5eb.png)

[2018-09-14 14:50] adustm opened #8139 "NUCLEO F410RB : missing IAR exporter in online compiler"
### Description
Issue reported by a customer of mine. There is no IAR exporter in the online compiler when the user selects NUCLEO_F410RB as a platform
IAR exporter is available for some other platforms

### Issue request type

[ ] Question
[x] Enhancement
[ ] Bug

[2018-09-14 14:51] NeilMacMullen commented on #7679
@Roger-Strassburg   Roger - thanks for this.  I believe our modules were made in 2018 so hopefully the FOTA route will be possible.
*[Mirrored to Jira]*

[2018-09-14 14:55] deepikabhavnani commented on #8126
@jarlamsa - Can we update the readme stating default configuration is NONE and mbed_app.json cannot be used at same time with test configurations..

[2018-09-14 15:30] Roger-Strassburg commented on #7679
@NeilMacMullen
My understanding is that FOTA is available at FW version 05.05 and beyond. 05.05 came out in late January, so I assume it would've been on modules built shortly after that. You can see the week it was built on the top edge of the module label in yy/ww format, e.g. 18/01 for the first week of 2018.

*[Mirrored to Jira]*

[2018-09-14 16:06] deepikabhavnani opened #8141 "Question: system_reset test delay and timeouts"
### Description
Will like to know about `DEFAULT_CYCLE_PERIOD` https://github.com/ARMmbed/mbed-os/blob/master/TESTS/host_tests/system_reset.py#L20.

All of the host devices are expected to reset in 1 sec?
In case of Musca "TFM + mbed_boot" takes 3 sec and this might be the case with other ARMv8 devices supporting TFM as well.

We have `forced_reset_timeout` in targets.json, which is used by tools-

[2018-09-14 16:07] deepikabhavnani commented on #8141
CC @ARMmbed/mbed-os-test @ARMmbed/mbed-os-hal
*[Mirrored to Jira]*

[2018-09-14 16:23] fkjagodzinski commented on #8141
@deepikabhavnani `DEFAULT_CYCLE_PERIOD` will be used only if given target does not define `"program_cycle_s"`. https://github.com/ARMmbed/mbed-os/blob/6addb89db1c06cf8825458226db6d852ad33ebdf/targets/targets.json#L1844
*[Mirrored to Jira]*

[2018-09-14 16:27] theotherjimmy commented on #8105
@ashok-rao It's not hard coded. Please use `mbed config -G CLOUD_HOST` to configure it.

[2018-09-14 16:35] cmonr commented on #8124
@yennster Would you mind reconfirming that this is still an issue today? The Austin site had some network issues for most of the day yesterday, which created false failures with the netsocket test in CI.

The issues seem to have resolved themselves, so I'm curious if this is still an issue as well.

[2018-09-14 16:43] deepikabhavnani commented on #8141
Thanks @fkjagodzinski  that will be useful.
Also, https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbed_platform/system_reset/main.cpp#L46 . Is this timeout "2" in addition to 'program_cycle_s / DEFAULT_CYCLE_PERIOD' or total test time.

Do we have documents describing `program_cycle_s` and `forced_reset_timeout`?
*[Mirrored to Jira]*

[2018-09-14 16:46] gaborkertesz commented on #8141
1. What is the definition of this attribute?
The forced_reset_timeout is already set to 4, which means 4secs is set for startup timeout. Setting the same parameter for a test looks redundant for me and this probably changes other behavior I don't need to change.

2. I've just tested and adding "program_cycle_s": 4 to target.json doesn't change the delay between the reset and sync commands, while c

[2018-09-14 16:49] #7936 closed, assigned to SeppoTakalo

[2018-09-14 17:15] c1728p9 commented on #7858
Hi @mattbrown015, when you are using the RTC implementation (lpticker_lptim = 0) I would recommend setting `LPTICKER_DELAY_TICKS` to 0 so this feature is disabled as it doesn't provide any benefits.

The goal of `LPTICKER_DELAY_TICKS` is to keep interrupt latency low by prevent blocking from back-to-back calls to `lp_ticker_set_interrupt`. The RTC implementation does not block from back-to-back ca

[2018-09-14 17:53] aashishc1988 commented on #8126
@jarlamsa I followed the instructions, that is,  added wifi information in ISM43362Interface.json, and in target_configs.json, I changed default configuration to ISM43362_WIFI, now i get the following error

[code]

Is there some other step that is missing?

[2018-09-14 19:44] bmcdonnell-ionx commented on #7707
[Mbed OS 5.9.7 release notes](https://os.mbed.com/blog/entry/mbed-os-597-released/) links to this issue as "fixed". Consider closing.

[2018-09-14 19:45] bmcdonnell-ionx commented on #7743
[Mbed OS 5.9.7 release notes](https://os.mbed.com/blog/entry/mbed-os-597-released/) links to this issue as "fixed". Consider closing.
*[Mirrored to Jira]*

[2018-09-15 06:01] andrewc-arm commented on #7711
Hi, @khj098765
@aashishc1988 confirmed the new command works for him. Could you please test if it works for you? Also, could you please make sure that your latest W7500 driver code in the latest mbed-os solves the problem?
Thanks,

[2018-09-16 14:50] Tony-YI commented on #8045
Dear @jeromecoutant, in my last comment, the line **Serial serial(PB_6, PB_7)** was commented. Then I probed the pin **PA_9** and **PB_6** respectively, and **PA_9** was outputting something instead of **PB_6** (mbed_app.json was added). This is contradictory to what we expect, i.e. **PB_6** should output something.

In fact, I have tried **(PA_14, PA_15)**,  **(PB_10, PB_11)** and **(PA_2, PA_3)*

[2018-09-16 20:10] nmaiti commented on #6942
Is there any progress on it? Is there any other option than NVS where we can write the data(multiple file data) during flash of firmware and modify during run time?  Using block device can we do that? We need to use the onboard flash and data writing in production environment.
*[Mirrored to Jira]*

[2018-09-17 06:25] MarceloSalazar commented on #8105
@theotherjimmy thanks for clarifying this. Can we have docs for this, please?
I don't think has been documented (at least I couldn't find it).
- https://github.com/ARMmbed/mbed-cli
- https://github.com/ARMmbed/mbed-os-5-docs/blob/development/docs/tools/offline/cli-device-management.md

[2018-09-17 06:35] jarlamsa commented on #8126
[code]
Seems like you don't have the ISM43362 driver, please add the driver to the mbed-os folder by running:
[code]

[2018-09-17 06:44] MarceloSalazar opened #8143 "mbed dm - SyntaxError as async keyword being"
### Description

Evaluating 5.10 (RC2) and the Pelion device management feature.
I'm seeing Python errors as the keyword 'async' is being used:

[code]

Environment OSX El Capital
Mbed CLI 1.8.1
Python 3.7

Environement
[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-17 07:00] maciejbocianski commented on #8133
@pan- I assume that 20uA is OK, and the question is about eventQueue utilization?

[2018-09-17 07:03] teetak01 commented on #8143
Its possible that this is fixed in SDK version 2.0.1

[2018-09-17 07:04] pjsf1000 commented on #8133
That’s correct. More concerned about event queue as the priority.

On Mon, 17 Sep 2018 at 08:01, Maciej Bociański <notifications@github.com>
wrote:

--
************************************************
Peter Ferguson
Cambridge

[2018-09-17 07:05] MarceloSalazar commented on #8143
@teetak01 you're correct.
We should update this line https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.10/requirements.txt#L19

[2018-09-17 07:21] MarceloSalazar opened #8144 "mbed dm - Exception: There was a problem loading the SDK configuration file."
### Description

Evaluating 5.10 (RC2) and the Pelion device management feature.

The `mbed dm` doesn't seem to recognize my MBED_CLOUD_SDK_CONFIG config.
This is my config:
[code]

Then I try to run `mbed dm` as follows:

[code]

Environment
- OSX El Capital
- Mbed CLI 1.8.1
- Python 3.7
- Mbed Cloud SDK 2.0.1

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-17 07:29] MarceloSalazar commented on #8144
Note, to use the `mbed dm` feature, the developer has to define the `CLOUD_SDK_API_KEY` mbed config, as already documented here:
https://github.com/ARMmbed/mbed-cli#project-setup

However, if for some reason someone forgets to do this, then gets a message saying that `MBED_CLOUD_SDK_CONFIG` is not defined, but this belongs to the Python Cloud SDK, not mbed config!

I think the appropriate enhancem

[2018-09-17 07:45] MarceloSalazar opened #8146 "Error at compile MCC app with K64F bootloader"
### Description

Evaluating 5.10 (RC2) and the Pelion device management feature with mbed-cloud-client-example-sources-internal app (sorry internal only).

I'm seeing an error at the last step of the compile process (merge with bootloader)

[code]

This makes me think there is a problem with the bootloader, the tools or the app.

[ ] Question
[ ] Enhancement
[X] Bug

EDIT: Environment
- OSX El Cap

[2018-09-17 07:51] ciarmcom commented on #8143
ARM Internal Ref: MBOTRIAGE-1663

[2018-09-17 07:59] teetak01 commented on #8146
I am unable to reproduce this. Might this be related to specific pip components versions or did you do any changes to mbed_app.json? I tested with python-sdk 2.0.0 and 2.0.1

[2018-09-17 08:33] LMESTM commented on #6827
@screamerbg
As recommended by @ithinuel  the stretch mode is indeed enabled by default on STM32 platforms s- to there is no bug in STM32.
As @YarivCol  needs to disable it (probably the master device in the use case does not support stretch mode), then the point needs to be addressed first @ MBED API level to provide the way to disable it.
Can you update the ticket labels accordingly (e.g; removin

[2018-09-17 09:33] MarceloSalazar commented on #8146
I can't reproduce on Win7 / Python2.7.
Maybe a problem with Python 3?

[2018-09-17 09:40] pan- commented on #8133
@maciejbocianski The event queue does nothing, the only executed code is `eventQueue.dispatch_forever();` and no events are injected into the event queue.

I think it may be related to a clock issue.

[2018-09-17 10:49] janjongboom commented on #7613
OK, then I assume it was fixed @theotherjimmy

[2018-09-17 10:54] AriParkkila opened #8150 "U-blox cellular PPP driver is missing APN authentication"
### Description

[U-blox cellular PPP driver](https://github.com/ARMmbed/mbed-os/tree/master/features/cellular/framework/targets/UBLOX/PPP) is missing implementation for PDP context authentication similar to AT+CGAUTH command in 3GPP TS 27.007.

### Issue request type
[ ] Question
[X] Enhancement
[ ] Bug

[2018-09-17 10:55] korjaa opened #8151 "Cannot find DataFlashBlockDevice tests in Mbed OS 5.10"
### Description
dataflash-driver seems to be moved inside Mbed OS in version 5.10 but I cannot find the tests anywhere for it.

Namely this file
https://github.com/ARMmbed/dataflash-driver/blob/master/TESTS/block_device/dataflash/main.cpp

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-17 10:55] bcostm commented on #6827
I would also either change the title or create a new one to specifically request an improvement in mbed API  to disable the stretch mode.
*[Mirrored to Jira]*

[2018-09-17 10:56] davidsaada commented on #8151
@yossi2le Please handle.

[2018-09-17 11:17] MarceloSalazar commented on #8113
@jupe confirmed c16fec2c34f5362306fd4b3717a1a1c9306ccf44 doesn't seem to require visual-studio when tested in a fresh Win10/Python 3.6 PC. Thanks!

[2018-09-17 11:23] MarceloSalazar commented on #8124
It looks something for @samchuarm to investigate and work with Realtek.

[2018-09-17 11:51] ciarmcom commented on #8151
ARM Internal Ref: MBOTRIAGE-1669

[2018-09-17 11:52] jeromecoutant commented on #7407
any update ?
*[Mirrored to Jira]*

[2018-09-17 11:57] ashok-rao commented on #8105
@theotherjimmy & @teetak01 : Unfortunately doesn't seem to fix .. here's logs:
[code]

And the error to this cmd: ``` mbed dm init -d "arm.com" --model-name "ashok" --force -q ```

[code]

[2018-09-17 12:00] davidsaada commented on #7407
Sorry for not updating. Went over the FAT tests, and they seem to be quite hard to modify for this purpose. The current FAT tests require quite block devices on the one hand, but the format process only allocates small chunks of the memory on demand (which is really very FAT specific). Now, if we try to allocate the full size of the Heap Block Device in advance (to see if we have enough memory), t

[2018-09-17 12:22] #7657 closed, assigned to nobody

[2018-09-17 12:42] drahnr opened #8152 "GCC 7.1.0 support - mbed-cli warning"
### Description
I am currently compiling mbed os with GCC 7.1.0 in CI and I get a warning regarding unsupported compilers.
Is thise warning due to a known issue or due to a lack of testing?

[X] Question
[ ] Enhancement
[ ] Bug

[2018-09-17 13:07] MarceloSalazar commented on #8146
I'm able to reproduce this on Windows 10 as well with Python 3.6.5

[2018-09-17 14:10] aashishc1988 commented on #8126
Thanks @jarlamsa . We should modify the documentation to include that, and also adding

[code]
in ISM43362Interface.json gives a build error that

[code]
so I had to get rid of that. Now I can get it to build and run, and it fails. Here is the log. May be I should close this issue and file a new one.

[code]

I will look into the test to see what that command does, it just seems may be it is not a

[2018-09-17 14:11] #8087 closed, assigned to nobody

[2018-09-17 14:19] RobMeades opened #8155 "NRF52832: time stops after 35 minutes (or am I going mad again?)"
### Description
On the `NRF52832` platform `time(NULL)` produces the correct answer for 35 minutes and, afterwards, returns zero or, if `set_time()` has been called, the time it was set to, forever and never moves again.  Here's a simple test program:

[code]

`mbed compile` it and run it on an `NRF52832` platform (I'm using a `UBLOX_EVK_NINA_B1` module) and you'll see that `time(NULL)` reports 0

[2018-09-17 14:37] 0xc0170 commented on #8152
The latter, lack of testing (not yet supported).

[2018-09-17 14:45] drahnr commented on #8152
What is required for verification of a new GCC compiler version?

[2018-09-17 14:47] 0xc0170 commented on #8155
@mprse @c1728p9 Can you review please?

[2018-09-17 15:39] cmonr commented on #8116
Fore reference: https://github.com/ARMmbed/mbed-os/pull/8140

Retesting needed once RC3 is generated.

[2018-09-17 15:45] cmonr commented on #8120
Fixed, but will need to be released in 1.8.2 of Mbed CLI, and retested.
*[Mirrored to Jira]*

[2018-09-17 15:51] ciarmcom commented on #8155
ARM Internal Ref: MBOTRIAGE-1671

[2018-09-17 16:50] #8113 closed, assigned to nobody

[2018-09-17 16:58] cmonr commented on #8064
Looks like #8075 is now merged.

This now depends on https://github.com/ARMmbed/mbed-os/issues/8120 and can then be closed.
*[Mirrored to Jira]*

[2018-09-17 17:09] mattbrown015 commented on #8152
Hi @drahnr, FYI, I had a discussion about this in the PR that added the warning, [Tools: Check compiler version #7247](https://github.com/ARMmbed/mbed-os/pull/7247).

I'm using ARM GCC V7 with a STM32L4 and haven't noticed any problems.  But, you mustn't take my word for it, YMMV, etc., etc.! :-)

[2018-09-17 21:34] sg- commented on #7457
Do we have docs written for components yet? The intention is for anything "not in the soc" to be a component which is selectable (add/remove) by the target, libraries or application.

There are gray areas as to what is in the soc and what is available to be wired to the soc and for those cases we should be refactoring from the target to a component for reuse where reasonable or possible.

A target

[2018-09-17 21:41] sg- opened #8158 "Not all components are conditionally compiled"
### Description
There are components that are not following the COMPONENT_ pattern to be conditionally compiled, added and removed.

Currently this is the case for:
- ```wifi/esp8266-driver```
- ```802.15.4_RF/<everything underneath it>```

This is correctly implemented for ```storage/blockdevice```

Also linking similar issues that relate to cellular drivers not in components but could make good

[2018-09-17 22:29] cmonr commented on #7457
@sg- The main documentation that I know of can be found here: https://github.com/ARMmbed/mbed-os-5-docs/pull/693/files

@AnotherButler could possibly provide something more relevant.

[2018-09-18 01:29] cmonr commented on #8143
Will be fixed with https://github.com/ARMmbed/mbed-os/pull/8160

[2018-09-18 01:47] gigz09 commented on #7997
hi @jeromecoutant and @LMESTM,

I tried this without the stats, the pin is toggling at two different faster rate (in milliseconds) even changing the the time to 5seconds, I'll capture a a snapshot when I got home. Any probability that my issue is on the config file?
*[Mirrored to Jira]*

[2018-09-18 02:24] cmonr commented on #7997
@ARMmbed/mbed-os-core ^^^
*[Mirrored to Jira]*

[2018-09-18 04:57] AriParkkila commented on #7457
@cmonr according to that document, for example `feature/cellular` folder should be compiled only when `"target.features": ["CELLULAR"]` is defined?

[2018-09-18 05:53] mprse commented on #8155
I'm looking into it.

[2018-09-18 06:06] jarlamsa commented on #8126
It means that it wasn't able to connect to the wifi network.
In this `"nsapi.default-wifi-security": "WIFI_SECURITY",` the `"WIFI_SECURITY"` should be replaced by the encryption protocol the access point is using, list of supported encryption protocols can be found from mbed-os/features/netsocket/nsapi_types.h, currently they include WEP, WPA, WPA2, WPA_WPA2, PAP and CHAP

Yes the documentation sh

[2018-09-18 07:25] samchuarm commented on #8124
Hi @ARMmbed/team-realtek @M-ichae-l , please help look into these GT netsocket test failures for RTL8195AM and address them as soon as you can. Thanks.

[2018-09-18 07:27] samchuarm commented on #8124
By the way, do we confirm the failures are not caused by the network issue happened in Austin site as @cmonr mentioned?

[2018-09-18 07:35] mprse commented on #8155
As far as I remember `MCU_NRF52832` has `RTC` feature disabled since it is not able to keep RTC counter alive when reset is performed. In such case `time()` function is based on `LowPowerTimer`.
It looks like the problem is with types returned by Timer member functions (they operate on signed integers). This limits time tracing to ~35 min. As you can see in manual:

In our case (no `RTC` support)

[2018-09-18 07:42] jeromecoutant commented on #7756
Note that OS2 tests was OK with last rev 163 lib as #7183 has not been included in 5.9 branch.
Next mbed_lib can't be released before solving this issue.

*[Mirrored to Jira]*

[2018-09-18 07:49] bcostm commented on #8111
There is no automatic tests in place to check this. So, there should be something missing somewhere that prevent this mode to work correctly. We'll have to work on this use case.

Maybe due to leakage in some GPIOs ? Check that all unused GPIOs and Debug IOs are configured in Analog Input. You can use ST HAL functions for this.

[2018-09-18 07:49] 0xc0170 commented on #7756
Thanks @jeromecoutant ,we will review this issue

@ARMmbed/mbed-os-tools
*[Mirrored to Jira]*

[2018-09-18 07:53] 0xc0170 commented on #8158
@ARMmbed/mbed-os-ipcore Please review

[2018-09-18 08:00] SeppoTakalo commented on #8158
What problem does the conditional compilation fix?

All drivers we submitted, are able to compile on all platforms. Conditional compilation just add one layer of complexity to user configuration.

[2018-09-18 08:12] SeppoTakalo commented on #8124
This is the result from our CI

[code]

[2018-09-18 08:22] mprse commented on #8155
Patch can be found here: PR https://github.com/ARMmbed/mbed-os/pull/8165.

[2018-09-18 08:24] RobMeades commented on #8155
Many thanks for the very swift investigation and fix, checking it myself now, will comment on the PR in ~35 minutes :-).

[2018-09-18 08:48] #7867 closed, assigned to nobody

[2018-09-18 09:00] RobMeades commented on #8155
Confirmed that #8165 fixes this, thanks guys!

[2018-09-18 09:00] #8155 closed, assigned to nobody

[2018-09-18 09:04] samchuarm commented on #8124
Thanks @SeppoTakalo . In that case, Hi @M-ichae-l , please help look into these failures. Thanks.

[2018-09-18 09:59] Eman869 commented on #8111
@bcostm I had compared with choosing LSE as LPUART clock source, with the same project, and the power consumption is 8uA. The difference of power consumption is quite huge when choosing different clock source of LPUART, even with the same GPIO mode and debug IO attached.

[2018-09-18 10:55] VeijoPesonen commented on #8124
PR ARMmbed/mbed-os#6292 is missing from new EMAC interface

[2018-09-18 11:39] drahnr commented on #8152
@mattbrown015 just making sure I am not running into issues that are known, just because my GCC is 7.x.y compared to 6.x.y

[2018-09-18 12:33] bcostm commented on #8139
I will add it and check other missing devices as well.
*[Mirrored to Jira]*

[2018-09-18 12:56] 0xc0170 commented on #8141
@ARMmbed/mbed-os-tools Please review
*[Mirrored to Jira]*

[2018-09-18 13:49] JanneKiiskila opened #8170 "Networking overrides - stop compiling if no pins defined"
### Description

As the network interfaces can be overridden and all boards do not have pins, there are not always any defaults - pins are directed to "NC". This means, that if you don't exactly know WHAT you must configure, you can easily build a config that (assuming from previous experience with `easy-connect` with working default pins) that is actually mapping TX/RX to "NC". This means you pro

[2018-09-18 13:50] JanneKiiskila commented on #8170
Attn: @SeppoTakalo  @kjbracey-arm
*[Mirrored to Jira]*

[2018-09-18 14:00] SeppoTakalo commented on #8170
Yes.
I agree, we should do it for drivers that expect pins to be defined.

*[Mirrored to Jira]*

[2018-09-18 14:08] kjbracey commented on #8170
Not sure what the exact failure mode currently is - in this particular case I would imagine the attempt to have "provide default" true and no pins should probably be a compilation failure, yes.

If provide default was false, I would expect the "NetworkInterface::get_default_instance" to just return NULL, which would be a clear enough "no network interface available".

Looking more closely - yes, t

[2018-09-18 14:14] kjbracey commented on #8170
Although on this specific case - the driver is supposed to default to `D0` and `D1`, if you're Arduino form-factor, so you shouldn't actually need to specify the pins in a lot of cases.
*[Mirrored to Jira]*

[2018-09-18 14:16] kjbracey commented on #8170
And a final note - literal use of `"NC"` in the JSON would be a headache, as we can't easily test for it at compile time, because it's an enum, not a define. I believe the driver is now set up so that none is represented as `null` in the JSON, which can be checked with an `#ifdef`
*[Mirrored to Jira]*

[2018-09-18 14:30] SeppoTakalo commented on #8170
Can you still test it like this?
[code]
*[Mirrored to Jira]*

[2018-09-18 14:49] maclobdell commented on #6943
I don't think this is an issue with the diagram, is it?  In the SPI protocol, MISO is is always master in slave out and MOSI is always master out slave in.
Perhaps a connecting the signals correctly was the resolution on this issue??
@LiorSharon - I know this issue is from long ago.  Hopefully it is resolved already.  I am going to mark this one as closed.  Please feel free to open it back up if i

[2018-09-18 14:49] #6943 closed, assigned to nobody

[2018-09-18 14:51] maclobdell commented on #7319
@c1728p9 - Is this still an issue?
*[Mirrored to Jira]*

[2018-09-18 14:58] kjbracey commented on #8170
Yes, but not sure that passes the "easily" test.
*[Mirrored to Jira]*

[2018-09-18 15:37] jeromecoutant commented on #7695
Any update ?
Thx

[2018-09-18 15:40] deepikabhavnani commented on #7334
This is duplicate of https://github.com/ARMmbed/mbed-os/issues/3106.

Since destructor code is empty, deallocation is not done.

[2018-09-18 15:40] #7334 closed, assigned to nobody

[2018-09-18 15:52] vijhar01 commented on #8146
I am able to reproduce this on Windows 10 with Python 3.6.3:

[code]

[2018-09-18 15:54] aashishc1988 commented on #8126
@jarlamsa Thank you for clarifying that. :) The original issue listed here does not exist anymore so I would close this one.

[2018-09-18 15:54] #8126 closed, assigned to nobody

[2018-09-18 16:06] mattbrown015 commented on #7695
Hi @jeromecoutant,

No, this is still an issue for me although I haven't looked at it since 9 Aug.  I did try everything you mentioned.

I was wondering if it has anything to do with [Add LPTICKER tests #8129](https://github.com/ARMmbed/mbed-os/pull/8129).

Sounds suspiciously like what is happening here.

[2018-09-18 16:14] deepikabhavnani commented on #7986
Duplicate of RTOS issue: https://github.com/ARM-software/CMSIS_5/issues/283

[2018-09-18 16:14] #7986 closed, assigned to nobody

[2018-09-18 16:43] cmonr commented on #7457
@AriParkkila That sounds correct.

[2018-09-18 16:54] cmonr commented on #8141
@deepikabhavnani We do not have documentation on this, unless @bulislaw made some seperate from his original PR: #6230.

@gaborkertesz On #3, the config value might be getting overridden by this block of code: https://github.com/ARMmbed/mbed-os/blob/master/tools/targets/__init__.py#L305
I would suggest trying values other than 4 or 2 (something larger, maybe 5?) and see if anything changes.
*[Mirr

[2018-09-18 17:58] deepikabhavnani commented on #8141
@AnotherButler @kegilbert  - It will be good to document parameters like `program_cycle_s` and `forced_reset_timeout`  which are added to aid testing but are part of targets.json
*[Mirrored to Jira]*

[2018-09-18 18:07] MarceloSalazar opened #8172 "Traceback error stderr.decode() when running Icetea with Python 3"
### Description

Evaluating Mbed OS 5.10 RC3 and seeing traceback error:

[code]

Environment OSX El Capitan
- Mbed CLI 1.8.1
- Python 3.7
- Icetea 1.0.2

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-18 18:31] edablan opened #8173 "NRF52832 (UBLOX NINA-B1) using BLE allowLegacyPairing not working as expected"
### Description

mbed 5.9.7 (949cb49ab)
UBLOX NINA-B1(NRF52832)
IAR 7.80.4
mbed-cli 1.7.2

I am setting up a BLE project and upon initialization of the securityManager later changing to use LegacyPairing.

[code]

I do not want to use LE secure connection pairing, though using my BLE v4.2 sniffer I can see that secure connection pairing is being responded by my device even after using the alllowLe

[2018-09-18 19:03] mmahadevan108 opened #8174 "Issue with ARM_MPU_RASR macro for MPU setup"
### Description
The current implementation of the ARM_MPU_RASR macro inside cmsis/TARGET_CORTEX_M/mpu_armv7.h does not use the SubRegionDisable, Size fields.

I reverted the ARM_MPU_RASR macro implementation to a previous commit
[code]

The above change fixed the issue I was running into.

### Issue request type
[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-19 00:03] khj098765 commented on #7711
Hi, @aashishc1988  @andrewc-arm
I have tried this test.
compile was possible but this test occured NOT_SUPPORTED error.
Is the test that W7500 should support?

mbed test --compile -m WIZWIKI_W7500 -t IAR -n tests-mbed_platform-stats_heap -DMBED_HEAP_STATS_ENABLED=1 -v
[heapcompilelog.txt](https://github.com/ARMmbed/mbed-os/files/2394901/heapcompilelog.txt)

mbed test -m WIZWIKI_W7500 -t IAR -n tes

[2018-09-19 04:09] jupe commented on #8172
looks that folder where `mbed test` is executed does not contain `TEST_APPS` -folder, right?
@OPpuolitaival does mbed-cli check if folder exists before spawning icetea?

[2018-09-19 04:19] cmonr commented on #8172
@jupe It should in a bit. Mbed CLI needs a 1.8.2 release, since that PR has since been merged into Mbed CLI.

[2018-09-19 04:36] jupe commented on #8172
true, check is implemented here:
https://github.com/ARMmbed/mbed-cli/pull/758. Is this something to do with python 3.7 🤔 Could you try to run icetea directly with same parameters to see if it works as standalone?

[2018-09-19 04:49] cmonr commented on #8172
Hmm, stderr.decode appears to be a Python 3 string issue. I can take a look at it, but it will have to wait until tomorrow, as I'm wrapping up other things tonight.

[2018-09-19 07:35] andrewleech commented on #7026
I've hit this same issue on debian stretch with python3 from the apt repos (python3_3.5.3-1_amd64.deb)
It also occurs in WSL with Python-3.5.2

It does not occur with the same project on Windows 10 (python 3.6.4 amd64 ).
*[Mirrored to Jira]*

[2018-09-19 07:37] 0xc0170 commented on #8174
Fix is referenced above, please review

[2018-09-19 08:04] gaborkertesz commented on #8141
@ciarmcom My main concern is still that obviously program_cycle_s has a quite different purpose than waiting for system reset.
The simplified issue that the reset test is waiting some time for resetting the system and it's NOT equal to forced_reset_timeout. This forced_reset_timeout is used for waiting the system booting up before running tests, but only for the first bootup. So even if we can wor

[2018-09-19 08:39] teetak01 opened #8178 "device-management init does not allow disabling certificate download"
### Description

mbed dm init etc... always downloads a certificate. There should be a way to disable this.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-19 09:13] 0xc0170 commented on #8178
@teetak01 Can you leave the template in  place (Description, Issue type)  - they are useful to have

[2018-09-19 10:15] #8117 closed, assigned to fkjagodzinski

[2018-09-19 10:23] ciarmcom commented on #8173
ARM Internal Ref: MBOTRIAGE-1677

[2018-09-19 10:23] ciarmcom commented on #8172
ARM Internal Ref: MBOTRIAGE-1678

[2018-09-19 10:45] SeppoTakalo commented on #8038
Hi @jagomo

The hard fault handler needs to be studied, are you able to attach a GDB or other debugger and provide a stack trace where the crash happened.

The test application itself is a bit unrealistic. You cannot expect that low power 802.15.4 network is able to send traffic in 5ms interval. Basically you are flooding the network, heap and event loop of the system.

Also, you mentioned that yo

[2018-09-19 10:51] SeppoTakalo commented on #7956
Mbed OS is RTOS.

We have no requirements to support non-RTOS in networking side.

Non RTOS builds are provided for legacy Mbed 2, but Socket API is not supported there.

[2018-09-19 11:13] janjongboom commented on #7956
@SeppoTakalo So why are we even using PlatformMutex then in various places? I think this is much too simplistically thought.

There is a real use case of using the non-RTOS Mbed OS, whether it's Mbed 2, a constrained target, or a simulated environment. Using the socket APIs is very useful there regardless, and patching the RTOS bits out is in my opinion doable, and thus we should allow that.

@bul

[2018-09-19 11:14] OPpuolitaival commented on #8172
@cmonr it is not actually decode problem.. error just coming from line where the exception is formatted and there decode is used. The decode itself works fine. I am working with this

[2018-09-19 11:20] OPpuolitaival commented on #8172
@MarceloSalazar most probably you don't have TEST_APPS folder in a place where you run that command. There is better error handling for that in new mbed-cli version. I made same in mbed-os side https://github.com/ARMmbed/mbed-os/pull/8181 (and fixed one py3 issue)

[2018-09-19 11:22] screamerbg commented on #8150
CC @mudassar-ublox @fahim-ublox. Note that this is gating a pilot run.

[2018-09-19 11:56] jagomo commented on #8038
Hi @SeppoTakalo,

Thanks for the clarification

Just also to clarify when I wrote "Finally if I drive the sending with an interrupt..." I meant that instead of calling periodically every 5ms within a loop, an interrupt queues on an eventQueue the sending. So the sending does not happen in interrupt context. I wanted to give that piece of information because What I found weird is that with this met

[2018-09-19 11:56] #8038 closed, assigned to nobody

[2018-09-19 12:35] #8041 closed, assigned to nobody

[2018-09-19 12:35] 0xc0170 commented on #8041
The fix was integrated, will be in 5.10.1

[2018-09-19 12:35] 0xc0170 commented on #8042
5.10.1 will contain the fix, already on master

[2018-09-19 12:35] #8042 closed, assigned to nobody

[2018-09-19 12:42] 0xc0170 commented on #8058
@MarceloSalazar Any outstanding work for this issue?

[2018-09-19 12:43] 0xc0170 commented on #8064
Can this be closed now?
*[Mirrored to Jira]*

[2018-09-19 12:48] MarceloSalazar commented on #8116
Fixed in RC3, Icetea 1.0.2 :)

[2018-09-19 12:48] #8116 closed, assigned to nobody

[2018-09-19 12:49] 0xc0170 commented on #8089
Will be in 5.10, fix integrated on master

[2018-09-19 12:49] #8089 closed, assigned to nobody

[2018-09-19 12:50] 0xc0170 commented on #8101
Duplicate https://github.com/ARMmbed/mbed-os/issues/6335 , please refer to this issue. We will close this one.

[2018-09-19 12:50] #8101 closed, assigned to nobody

[2018-09-19 12:51] MarceloSalazar commented on #8064
Sorry I still can't get this to work with RC3
I'm still seeing the error:
[code]

Even tried moving to mbed-os as suggested in https://github.com/ARMmbed/mbed-os/issues/8120
*[Mirrored to Jira]*

[2018-09-19 12:51] 0xc0170 commented on #8110
@ARMmbed/team-st-mcd Please review

[2018-09-19 12:52] 0xc0170 commented on #8107
@OPpuolitaival This should be fixed (two fixes above were merged) and are part of 5.10.

[2018-09-19 12:52] #8107 closed, assigned to nobody

[2018-09-19 13:05] jupe commented on #8064
is above error same as https://github.com/ARMmbed/mbed-os/issues/8172 ?
*[Mirrored to Jira]*

[2018-09-19 13:13] OPpuolitaival commented on #8064
The root cause is "11:47:34.371 Test case directory does not exist!" which tells that there is no test case folder available. The folder name in this case is "TEST_APPS". That folder need to exist in path where you run icetea tests. This is fixed in mbed-cls but not released yet. There is PR made in mbed-os also which makes error code a bit better https://github.com/ARMmbed/mbed-os/pull/8181
*[Mir

[2018-09-19 13:28] SeppoTakalo commented on #8038
@jagomo Thanks for the info.

Also, you might want to study similar issue https://github.com/ARMmbed/mbed-os/issues/7204 where 1 Mhz packet interval was expected.

And if you can, I would like to have the test application if we can recreate the same test setup and study the hard fault.

[2018-09-19 13:33] MarceloSalazar commented on #8058
I think the main points have been addressed in PR #8069. So I'm happy to close this one.

However, there is a pending action (not for 5.10.0):

@kegilbert do you think you could raise a ticket to keep track of this piece of work?

[2018-09-19 13:38] bcostm commented on #8110
Humm I think you're right. A bad copy/paste from HSI code below...

Thanks to report this bug. We'll fix it ASAP.

[2018-09-19 13:38] MarceloSalazar commented on #8064
I've updated to Mbed CLI 1.8.2.

1. When running the command in the root directory, see this message:

[code]
The tools should be able to look into internal folders! But the warning message is ok for now.

2. Running the command inside mbed-os, I still see the error `stderr.decode()))`

EDIT:
I'm seeing this problem in both OSX+Python 3.7.0 , and Win10+Python2.7.15
I do have a `TEST_APPS` inside M

[2018-09-19 13:49] janjongboom opened #8184 "Stack overflow in tickless mode with debug profile on NUCLEO-L476RG"
### Description

Same as #7222? This is on Mbed OS 5.9 (949cb49ab0a144da0e3b04b6af46db0cd2a20d75) with mbed-os-example-lorawan on NUCLEO-L476RG:

[code]

Upping the idle thread stack size to 0x400 solves the issue.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-19 13:59] MarceloSalazar commented on #8172
I've realized this is a duplicate of 8064.
I'm happy to close this one and continue the conversation there.