[2018-10-22 21:17] Alex-EEE commented on #7863
thansk @DBS06 I'll give this a shot!

[2018-10-22 21:19] linlingao commented on #8492
Thanks for reporting this. I'm seeing the following code in the repo that's about to be merged into the master in the next release:
if (0 == ret) {
            connection = new TCPSocket();
            connection->_lock.lock();

It has been fixed.

[2018-10-22 21:21] #8492 closed, assigned to nobody

[2018-10-22 21:23] yennster commented on #8494
Hi @pilotak,

As of 5.10 you will also need to configure your target board to have the "STORAGE" component in order to successfully pull in the SDBlockDevice files: https://os.mbed.com/docs/v5.10/reference/configuration-storage.html#blockdevice-default-configuration

[2018-10-22 21:31] linlingao commented on #8496
Internal Jira reference: MBOTRIAGE-1736

[2018-10-22 22:20] linlingao commented on #8472
What do you gain by failing the build at compilation time rather than link time?
I also don't think adding RAM_SIZE is foolproof. Since RAM usage is just estimation at certain point in time. As code size grows, it's not feasible to keep track of how much more RAM is needed all the time. Adding a check at compilation time can be pretty misleading.

[2018-10-22 22:21] #8472 closed, assigned to nobody

[2018-10-23 03:04] M-ichae-l commented on #8368
I believe that PR #8377 has solved this issue. We can close this issue.

[2018-10-23 05:26] kaiser-ren commented on #8344
@yennster what's the plan for next Mbed 2 release? I still have this issue today.

[2018-10-23 06:42] JojoS62 opened #8498 "mbed compile with profile fails if directory with profilename exists"
### Description

mbed-os 5.10.1 or other

A 'mbed compile --profile debug' works and uses a default profile in './mbed-os/tools/profiles/debug.json'.
But when a directory with the name 'debug' exists in the project, than a traceback occurs:
[code]

The same happens when 'release' or 'develop' is used and the directory exists.

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-23 07:54] jeromecoutant commented on #8472
Difference is the result...

#error [NOT_SUPPORTED] :
- stops immediately the compilation
- skips the tests

Link issue :
- takes time for compilation
- declares the test as BUILD_FAILURE

[2018-10-23 07:57] kjbracey commented on #8496
I think #8255 is reasonable - the problem is the implementation of `mbed_error`. I have a follow-up PR which covers this here: https://github.com/ARMmbed/mbed-os/pull/8328

See if that covers your issue. It should attempt to call `mbed_die` in the first instance as it goes `MBED_ASSERT`->`mbed_error`->`mbed_halt_system`->`mbed_die`.   The "spin and halt" behaviour is reduced to back-up only in the

[2018-10-23 08:12] mattbrown015 commented on #8496
Agreed! :-)

It looks like it should and it makes sense to me.  I will try _eventually_.

I've been having a real _ding-dong_ with mbed-os in the last week or so, several PRs have broken our app and really slowed us down.  I'm currently stuck on LoRaWAN PR which increases the app size so that we no longer fit in flash.  I think I'll be writing another issue soon and then I'll try #8328.

[2018-10-23 08:31] jeromecoutant commented on #8472
And what about the first part of the question ? Maybe some test rework can be done in order to decrease bss region size ?

Thx

@geky @davidsaada

[2018-10-23 09:11] mattbrown015 opened #8500 "LoRaWAN: #8405 Considerably Increases LoRaWAN Stack Size"
### Description

@hasnainvirk

I'm trying to get our mbed-os up-to-date because there are some fixes we need.  _But_, every step I take causes a problem!

I've just tried to move to [#adf9165](https://github.com/ARMmbed/mbed-os/commit/adf9165af2d1ef04e87c1022a71d05f6cafa3d6d) which is the version where #8405 is merged.  This failed to link because I ran out of flash! :-(

I created a very simple t

[2018-10-23 09:13] pilotak commented on #8494
@linlingao yes i have the latest OS.

Thank you @yennster for pointing me to the right direction however it is not very clear in documentation for devices that do not have `BlockDevice` on development board. Anyway here is how i got it to work if somebody else struggles.

`mbed_app.json`
[code]

[2018-10-23 09:54] javier-moreno-tridonic-com opened #8501 "Setting the MAC address before connection on atmel radio is not possible."
### Description

We are trying to migrate our codebase from mbedOS 5.7 to 5.10. We have a range of MAC addresses available for our device. The MAC address is pre-flashed in section of our rom after the device is produced. So we do not use any MAC chip. We provide the MAC address ourselves.

On mbed 5.7 we could achieve this by calling the virtual method **NanostackPhy::set_mac_address** that was i

[2018-10-23 10:25] kjbracey commented on #8501
Would adding a `mesh_system_init` to the constructor of `NanostackRfPhyAtmel` fix it? Seems like the thing to do.

[2018-10-23 11:27] pilotak opened #8507 "EasyCellular SMS example"
### Description

I have a following code for EasyCellular and i would like to add SMS functions. Could you please tell me what needs to be altered in order to get it working? thank you

[code]

target: NUCLEO_F412ZG
modem: SARA-G350

`mbed_app.json`
[code]

### Issue request type

[x] Question
[ ] Enhancement
[ ] Bug

[2018-10-23 11:43] #8294 closed, assigned to nobody

[2018-10-23 11:46] #8199 closed, assigned to nobody

[2018-10-23 11:47] #8170 closed, assigned to nobody

[2018-10-23 11:49] #8115 closed, assigned to nobody

[2018-10-23 12:20] mattbrown015 commented on #8500
I've manged to get our mbed-os updated to the _latest_ by removing/shortening our debug trace strings.

I can see the changes in LoraMac.cpp and LoRaWANStack.cpp.  Unfortunately it all looks like _genuine_ code (whatever that means!).

So there's no immediate problem but it's a bit of a worry that things like this can happen.

[2018-10-23 13:03] mattbrown015 commented on #7695
I was hoping that #8242 would help me with this.  It hasn't hasn't.

I just done a quick test  and delaying the RTC still causes our app to hang.

[2018-10-23 13:12] markus-becker-tridonic-com commented on #8501
That would work, but it seems it is part of private API, or?

[2018-10-23 13:38] mattbrown015 commented on #8496
I tried [f899341](https://github.com/ARMmbed/mbed-os/pull/8328/commits/f89934118b169ee0bb7cdfedaef6e69af0857e77) and [4915cbe](https://github.com/ARMmbed/mbed-os/pull/8328/commits/4915cbe666d8c4660c2a85a09effca0e12ab4835) and believe they do what I want! :-)

With these changes and our `mbed_die` definition `MBED_ASSERT`, `MBED_ERROR`, `exit(1)` and `abort` all result in a restart.

[2018-10-23 13:59] 0xc0170 commented on #8496
Can you please report all to us, I would like to understand what PR broke your app (doing retrospective) ? Good start would be to know  the version diff - what you used and which one broke.

👍

[2018-10-23 14:01] 0xc0170 commented on #8500
@ARMmbed/mbed-os-wan Please review

[2018-10-23 15:04] mattbrown015 commented on #8496
Oh, don't worry, I've been raising issues! :-)

As of a couple of hours ago we're using the latest mbed-os [#ba23fef](https://github.com/ARMmbed/mbed-os/#ba23fef90b38f4abd1cd47ed77370b03cfad221e).

#8343
#8473
#8496
#8500

The first 2 were the most serious and cryptic and were STM32 specific.  These things happen, right??
 And, the ST team have got them fixed now.

Possibly the ST team need some m

[2018-10-23 15:49] jeromecoutant opened #8513 "NVSTORE deinit function doesn't free memory"
### Description

Got this test failed during ST CI tests :

Target | Toolchain | Test_ID/TestSuite | Test_Description/TestCase | Status
-- | -- | -- | -- | --
NUCLEO_F070RB | ARM | features-storage-nvstore-tests-nvstore-functionality | NVStore: Multiple   thread test | ERROR
NUCLEO_F072RB | ARM | features-storage-nvstore-tests-nvstore-functionality | NVStore: Multiple   thread test | ERROR

Consol

[2018-10-23 15:51] theotherjimmy commented on #8290
@aidanoconnor Do you happen to know how to add a separate build step? I can add one that preprocesses the linker script then.

[2018-10-23 15:58] #8084 closed, assigned to nobody

[2018-10-23 15:59] #7593 closed, assigned to nobody

[2018-10-23 16:00] #7467 closed, assigned to nobody

[2018-10-23 16:22] ciarmcom commented on #8513
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-16*

[2018-10-23 16:22] ciarmcom commented on #8498
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-17*

[2018-10-23 16:22] ciarmcom commented on #8496
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-18*

[2018-10-23 16:22] ciarmcom commented on #8481
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-19*

[2018-10-23 16:22] ciarmcom commented on #8477
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-20*

[2018-10-23 16:22] ciarmcom commented on #8473
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-21*

[2018-10-23 16:22] ciarmcom commented on #8471
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-22*

[2018-10-23 16:22] ciarmcom commented on #8447
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-23*

[2018-10-23 16:22] ciarmcom commented on #8431
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-24*

[2018-10-23 16:22] ciarmcom commented on #8428
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-25*

[2018-10-23 16:22] ciarmcom commented on #8415
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-26*

[2018-10-23 16:23] ciarmcom commented on #8411
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-27*

[2018-10-23 16:23] ciarmcom commented on #8399
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-28*

[2018-10-23 16:23] ciarmcom commented on #8396
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-30*

[2018-10-23 16:23] ciarmcom commented on #8376
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-31*

[2018-10-23 16:23] ciarmcom commented on #8368
*Issue header has missing or incorrectly filled in fields! Please fix.*

[2018-10-23 16:23] ciarmcom commented on #8362
*Issue header has missing or incorrectly filled in fields! Please fix.*

[2018-10-23 16:23] ciarmcom commented on #8351
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-32*

[2018-10-23 16:23] ciarmcom commented on #8326
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-34*

[2018-10-23 16:23] ciarmcom commented on #8321
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-35*

[2018-10-23 16:23] ciarmcom commented on #8312
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-36*

[2018-10-23 16:23] ciarmcom commented on #8308
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-37*

[2018-10-23 16:32] adbridge commented on #8501
@javier-moreno-tridonic-com Looks like you got the above comment because you ticked multiple boxes in the issue type. If you could please update to just one type , then the action label will be auto removed the next time the script runs.

[2018-10-23 16:43] linlingao commented on #8494
Reopen issue for doc enhancement.

[2018-10-23 16:53] studavekar commented on #8368
Closing it tests are passing thanks @mprse

[code]

[2018-10-23 16:53] #8368 closed, assigned to nobody

[2018-10-23 17:46] JojoS62 commented on #7863
I'm playing also with the settings for the Intellisense. The suggestion from @DBS06 works fine, and additionally:

- there is a difference between "C_Cpp.intelliSenseEngine": "Tag Parser" and "Default" in settings.json. With Tag parser the result shows no errors in parsing, with Default I always get unknown 'DigitalOut' class (AnalogOut is known, so the drivers path is found). When I remove one of

[2018-10-23 18:43] theotherjimmy commented on #8232
Sorry for the delay in getting back to you. This is currently not possible.

[2018-10-23 18:57] yennster commented on #8344
@theotherjimmy What is the status on the fix for the micro:bit?

[2018-10-23 19:14] yennster commented on #8396
@cmonr Does https://github.com/ARMmbed/mbed-os/pull/8446 fix this issue?

[2018-10-23 20:15] studavekar commented on #8396
@yennster this issue is to review https://github.com/ARMmbed/mbed-os/blob/master/requirements.txt and update to latest working version. As of now, most of packages say ```>=``` which are causing failures as latest version of module may not be compatible with other modules used.

problem seen
1) https://github.com/ARMmbed/htrun/issues/222
2) https://github.com/ARMmbed/mbed-os/pull/8446

[2018-10-23 22:40] cmonr commented on #8396
@yennster Not completely.

#8466 was the immediate fix needed to make master green again, but this ticket is a placeholder to make sure that we update requirements.txt so that _all_ module versions are updated accordingly.

Feel free to assign the internal ticket to me.

[2018-10-23 23:08] aidanoconnor commented on #8290
@theotherjimmy In the EmBitz project _Build Options_ dialog, in the _Pre/post build steps_ tab, you could add the appropriate command or script in the _Pre-build steps_ section.

[2018-10-23 23:22] mlubinsky opened #8517 "Memory leaks and other bugs detected by PVS-Studio analyzer"
### Description

Several bugs are described here:
https://www.viva64.com/en/b/0588/
Bugs were detected by PVS-Studio code analyzer.

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-24 01:53] toyowata opened #8518 "Mutex lock failed on Mbed OS5.10.x"
### Description

I wrote a following program and works fine on OS5.9.7 but error is happened on OS5.10. 0, 5.10.1 and 5.10.2.
Target Board: Nucleo-F446RE
https://os.mbed.com/users/kenjiArai/code/Mutex_lock_failed_on_os_5_10/

The error message is below.
[code]
Looks like OS internal RTX Kernel bug.
Please give me an advice how to overcome this issue.
### Issue request type

[ ] Question
[ ] Enhanc

[2018-10-24 02:30] janjongboom commented on #8184
@bulislaw @0xc0170 ^

[2018-10-24 06:21] UsmanKhan0392 commented on #8490
Nothing wrong with the physical connection and the connection light seems fine too.

[2018-10-24 06:40] VeijoPesonen opened #8520 "UBLOX_EVK_ODIN_W2 does not pass Greentea testcase WIFI-CONNECT"
### Description

UBLOX_EVK_ODIN_W2 does not pass Greentea testcase WIFI-CONNECT.

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM, ARM, IAR

**mbed-os sha:**
`f9a723e`

**Expected behavior**
WIFI-CONNECT succeeds

**Actual behavior**
Third connection attempt on the test case will fail due to the reason that driver tries to read SSID from a memory location not managed by it and the data has be

[2018-10-24 06:43] VeijoPesonen commented on #8520
@andreaslarssonublox please check.

[2018-10-24 07:15] jeromecoutant commented on #8473
Maybe we can close this one ?
Thx

[2018-10-24 07:36] DBS06 commented on #7863
@JojoS62 Your remarks are correct.
I also have the Intellisense Fallback Engine enabled, which is the Tag-Parser therefore I added also the "browse" paths.

[code]

BTW: mbed Studio as a VSCode Extension would be really nice!!!

[2018-10-24 07:41] andreaslarssonublox commented on #8520
Handing it over to @aqib-ublox

[2018-10-24 07:50] mattbrown015 commented on #8473
I've updated our mbed-os to include #8493 and it looks good to me. :-)

[2018-10-24 07:50] #8473 closed, assigned to nobody

[2018-10-24 08:28] 0xc0170 commented on #8473
Thanks for the quick fix on this one 💯

[2018-10-24 09:10] devHAA opened #8523 "Enter DFU mode with stm32F401 (bootloader Issue)"
### Description

Hello,

I'm having troubles with mbed-os 5. With the previous version of mbed (v163) it worked perfectly. With the following piece of assembler code, the micro (stm32F401) enters DFU mode. But with the newest version of mbed-os 5 (5.10.2) doesn't work.

- Target: NUCLEO-F401RE
- Toolchain: GCC_ARM (7 2018-q2-update)
- Using eclipse + mbed-cli (v1.8.2)
- Mbed OS (5.10.2)

[code]
I'

[2018-10-24 09:33] kjbracey commented on #8490
Could you show the entire application including mbed_app.json? This is such a fundamental failure, it seems like it has to be an application/config problem, or something U-blox C030 specific. Also, precisely which version of mbed OS?

[2018-10-24 09:51] asifrizwanubx commented on #8520
@ARMmbed/team-ublox taking team in loop.

[2018-10-24 10:02] 0xc0170 commented on #8518
@pilotak provides an answer to this in the os.mbed.com question.

I believe this one is related https://github.com/ARMmbed/mbed-os/pull/7423 - It was failing before but was silent, there's now error and shows the wrong usage of serial in the interrupt handler.

[2018-10-24 10:09] 0xc0170 commented on #8523
Just to be certain - you are using f401 with v163 (mbed 2 version), not Mbed OS 5.10.2 ?

@ARMmbed/team-st-mcd Please review

[2018-10-24 10:14] 0xc0170 commented on #8517
Thanks for the report, we will review !

cc @ARMmbed/mbed-os-ipcore @ARMmbed/mbed-os-core

[2018-10-24 10:26] devHAA commented on #8523
Yes @0xc0170, the version that works is mbed 2 (v163), and the version that doesn't work is mbed-os 5.10.2.

Thank you for your quick reply.

[2018-10-24 10:57] javier-moreno-tridonic-com commented on #8501
@adbridge Done

@kjbracey-arm I tried your proposed solution and it works. Is there any plans to make that fix permanent?

[2018-10-24 11:00] screamerbg commented on #8520
@VeijoPesonen Please use team tag instead @ARMmbed/team-ublox

[2018-10-24 11:06] kjbracey commented on #8501
No, it's fine. It's effectively a centralised call to initialise the nanostack HAL components. A native Nanostack application would have that start-up sequence in a single place at the start of main. When we have multiple bits of code using the Nanostack HAL, and they need to work transparently to non-Nanostack-aware mbed OS apps, each of them needs to ensure the HAL is active before they use it.

[2018-10-24 11:33] javier-moreno-tridonic-com commented on #8501
Currently the code base I work on, is actually a fork of mbed-os with more modifications we need for our products. So is not a straightforward thing to do for me at the moment, but I could try at some point in time as in the end, the modification is a couple of one-liners. But that would take me to the next issue: wouldn't moving this break the implementation for other radios? If that's the case,

[2018-10-24 11:36] kjbracey commented on #8501
Other radios might need the equivalent fix, but adding this won't break anything.

Ah, I wasn't suggesting moving the `mesh_system_init` - you should be adding an extra call. First call to `mesh_system_init` does the work - makes it startup order independent.

[2018-10-24 11:43] javier-moreno-tridonic-com commented on #8501
@kjbracey-arm I see. I misunderstood/misread your suggestion. Then it should truly be a one-liner :)

I'll try that on my codebase (just to be sure and open a the PR if it works)

[2018-10-24 12:24] 0xc0170 commented on #8523
Can you compare R0 value before and now? What toolchain - using online compiler?

I reviewed quickly recent changes , only change there was alignment for ARMCC change (affects RAM to be aligned to 8 byte). That should not have any affect to this issue.

Look at ST forum to find some help - missing driver for instance?

[2018-10-24 12:44] UsmanKhan0392 commented on #8490
@kjbracey-arm
I'm using the following version : mbed-os-5.10.0-rc3
And below is the application code

[code]

targets.json file is shown below
[code]

[2018-10-24 12:48] willfurnell opened #8527 "Invalid type conversion in "extras/mbed-os.lib/features/netsocket/NetworkStack.h""
### Description

It's quite possible this isn't an issue with mbed-os as I'm quite new to using it! Nevertheless...

When trying to compile the following program:

https://os.mbed.com/users/co657_wf44/code/net/

in the online compiler I get the following error:

Error: Invalid type conversion in "extras/mbed-os.lib/features/netsocket/NetworkStack.h", Line: 419, Col: 32

I've narrowed it down to tr

[2018-10-24 12:56] kjbracey commented on #8490
Thanks - and do you have a `mbed_app.json` in the application folder?

[2018-10-24 12:59] kjbracey commented on #8490
@ARMmbed/team-ublox - any suggestions? Any known C030 traps/issues?

[2018-10-24 13:22] RobMeades commented on #8490
Not that I know of, all boiler-plate STM stuff. FYI, though it's not clear from his Github username, @UsmanKhan0392 is a u-blox person and probably knows this already but he could try running the standard mbed-os tests on his C030 board with an Ethernet cable plugged in, just to be sure.

[2018-10-24 14:37] hasnainvirk commented on #8500
@mattbrown015 Sad to hear that you were having issues. Sorry for late reponse, we are in Tokyo for LoRa Alliance meetings. How much flash do you have onboard ? 128K should be more than enough for simpler applications. Which toolchain do you use to build ? In production, we should use release build rather than develop or debug. Please let me know what is your target platform ?
#8405 is mostly relat

[2018-10-24 15:01] mattbrown015 commented on #8500
Hitting another problem as I tried to update mbed-os made me a bit grumpy but I've cheered up now that I'm back on track! :-)

I think my initial assessment was a bit off.  `6461(+492)` is an 8% increase and `7170(+305)` is a 4% increase; so not too bad and if the work was needed 'it was needed'.

We're using an STM32L4 with a whopping 256K but 'simple' is a subjective word.  My project manager th

[2018-10-24 15:01] screamerbg opened #8533 "Bug: host_tests are not picked up if the tests build location is outside the project tree"
### Description

While trying to shorten the build path and avoid the GCC-Windows path length limitations, I've tried to use a build path outside the project tree and stumbled upon a bug that impacts any test that uses (python) host test located in it's own dir. I've managed to narrow it down to mbedhtrun being executed without the `-e` flag, which is used to tell mbedhtrun where it should look fo

[2018-10-24 15:04] screamerbg commented on #8533
Also note that this is preventing Pelion Ready validation for GCC ARM. CC @MarceloSalazar @janjongboom @bridadan @dhwalters423

[2018-10-24 15:31] SenRamakri commented on #8517
@mlubinsky - Thanks for the info, note that some of the issues may already be fixed. For example, memset issue is already fixed and we are in the process of investigating others.

[2018-10-24 16:12] ciarmcom commented on #8533
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-94*

[2018-10-24 16:12] ciarmcom commented on #8527
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-95*

[2018-10-24 16:12] ciarmcom commented on #8520
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-96*

[2018-10-24 16:12] ciarmcom commented on #8518
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-97*

[2018-10-24 16:12] ciarmcom commented on #8517
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-98*

[2018-10-24 16:12] ciarmcom commented on #8501
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-99*

[2018-10-24 16:12] ciarmcom commented on #8494
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-100*

[2018-10-24 16:27] bridadan commented on #8533
Hi @screamerbg, thanks for raising the issue and for providing the steps to reproduce. Just a heads up, the tip of `smcc-tests` is broken due to in correct `simple-mbed-cloud-client.lib`. I think you meant the contents of the file to be:

[code]

instead of:

[code]

I was able to confirm the bug after this modification. You're suspicions were correct that this is an issue with greentea. Would you

[2018-10-24 18:01] hasnainvirk commented on #8500
Release build 102K, Developer build 114K, Debug build -> 179K.
These are the numbers I am getting with GCC for flash. I assume your application is much heavier than our little example here so I can imagine soon you will hit the wall.
I was reading your comments on another issue and I would really encourage you to consider a little redesign of your app, before it gets way out of hand :). What I mea

[2018-10-24 20:56] mattbrown015 commented on #8500
I think we're getting off the point now but...

We're not using `MBED_ASSERT` or `mbed_die` for application logic.  We're using `MBED_ASSERT` to catch mistakes and misunderstandings by the programmer.  It's not our intention to ever fire an assert.

[2018-10-24 20:59] yennster commented on #8396
@cmonr Moved to IOTCORE and assigned it to you (IOTCORE-571)

[2018-10-25 01:25] hasnainvirk commented on #8500
@mattbrown015 I apologise for getting side-tracked. We will be releasing LoRaWAN 1.1 stack publically soon. That will increase both ROM and RAM footprint. I can see your point of having compile time exclusion of a class that you don't need. The problem with such a solution is that we support runtime switch between classes. At least Class A and C are interchangeable as per spec. I can help you with

[2018-10-25 01:43] hasnainvirk commented on #8500
You can reduce the size of your build by changing the -O0 flag in your mbed-os/tools/profiles/debug.json to -Os for your debug builds. Please note that the I am not sure what side effects this change will bring forth as I can only compile an app at the moment. I think it will create a mess when you actually want to debug because of O2 level optimizations.
The number that I came up  with is 115K wi

[2018-10-25 05:38] AmmadRehmatCUS commented on #8520
Looking into it.
Internal jira reference https://jira.u-blox.net/browse/TE_OM2-250

[2018-10-25 05:49] hasnainvirk commented on #8500
@mattbrown015 I was just talking to one of our OS experts and I heard that you could use MBED_ASSERT with release build by just changing a couple of lines manually. Would you like to hear more about it ?

Just remove this part from mbed_assert.h

[code]

[2018-10-25 07:14] devHAA commented on #8523
I'm using eclipse with GCC_ARM compiler. In the online compiler the `__asm `is not recognized. The compiler error says "_Expected an expression "__asm ("LDR R0, =0x40023844");_"

I'm trying to see how to read R0 in c++, when I know how to do it I'll post it here

This is not the problem, because as I said, with mbed 2 (v163) it works, and the PC takes the proper driver because the driver is instal

[2018-10-25 07:25] 0xc0170 commented on #8523
This code snippet from the mbed_application can help you: https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_application.c#L143 (using inline asm for ARMCC - the first one, later is for GCC and IAR).
You can debug your app and set a breakpoint to verify the last 4 instructions at least (I wonder what has changed on that address and then what you are loading to SP,PC and R0).

OK, might b

[2018-10-25 07:39] mattbrown015 commented on #8500
@hasnainvirk Thanks for  thinking about me!  I'm sorry I think I've distracted you much more than I intended or was necessary.

I appreciate that there are lots options open to us but, at the moment, we're back on track and I'm reasonably happy with what we've done.  Nothing is ever perfect and there are always things that could/should be done differently!

Most of our features are complete now so

[2018-10-25 07:39] #8500 closed, assigned to nobody

[2018-10-25 08:05] pilotak commented on #8507
Please could @ARMmbed/team-ublox help me? (as well as other as there no example available on mbed) Thank you

[2018-10-25 08:30] devHAA commented on #8523
I just tried this simple example with the **same board** (NUCLEO-F401RE), using mbed 2 (v163), and then mbed-os 5.10.2. Both with the online compiler.

[code]
With the mbed 2 (v163) it works perfect (PC recognized it as **_STM Device in DFU Mode_**), but with mbed-os 5.10.2 doesn't work. It says _**Unknown USB Device (Device Descriptor Request Failed)**_

[2018-10-25 09:10] 0xc0170 commented on #8507
Just to make sure the mention works

cc @ARMmbed/team-ublox + adding @ARMmbed/mbed-os-wan

[2018-10-25 09:11] kjbracey commented on #8527
Socket constructor needs a pointer to a `NetworkStack` or `NetworkInterface`, which is what `net` is. Code should read:

    UDPSocket socket(net);

[2018-10-25 09:13] willfurnell commented on #8527
Thank you very much for your help!

Will.

[2018-10-25 09:23] samchuarm commented on #8124
Hi @AdamZhang0124 do you have update on this? Thanks.

[2018-10-25 09:46] screamerbg opened #8543 "Support for application offset for STM32F413H (Disco)"
### Description

ST Discovery F413H lacks support for application offsets in the startup files - MBED_APP_START etc - as defined by the porting guide https://os.mbed.com/docs/v5.10/tutorials/bootloader.html

### Issue request type

[ ] Question
[x] Enhancement
[ ] Bug

[2018-10-25 10:02] GarySwansonARM opened #8544 "Merging bootloader fails using Python3"
### Description

(Note: this is not a problem with Python 2.7.14)

On a mac I followed the following steps
- create a new virtualenv with python 3.7.0:
virtualenv -p /usr/local/bin/python3 test3
- cd test3
- run "source bin/activate"
- pip install mbed-cli
- mbed-cli --version -> 1.8.2
- mbed import https://os.mbed.com/teams/ST/code/example-DISCO_L475_IOT-mbed-Cloud-connec/
- cd example-DISCO_L475

[2018-10-25 11:06] 0xc0170 commented on #8544
What's your mbed OS version (latest release? previous one? tested also on master) ?

[2018-10-25 11:10] 0xc0170 commented on #8527
@willfurnell If this answers your question, please close the issue

[2018-10-25 11:11] #8527 closed, assigned to nobody

[2018-10-25 11:15] 0xc0170 commented on #8500
Thanks! 🎉 👍

[2018-10-25 11:34] screamerbg commented on #8543
FYI @ARMmbed/team-st-mcd

[2018-10-25 11:42] ciarmcom commented on #8544
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-105*

[2018-10-25 11:42] ciarmcom commented on #8543
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-106*

[2018-10-25 11:42] ciarmcom commented on #8523
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-107*

[2018-10-25 12:03] screamerbg commented on #8533
@bridadan Thanks for the heads up. I've just fixed it.

As for moving the issue to Greentea, as I wrote in my original post before @ciarmcom crippled it, "I'm suspecting that the problem is in Greentea, but perhaps the test_api logic inside Mbed OS should give a hint to Greentea where to look for tests rather than Greentea having to guess these based on the project structure."

[2018-10-25 12:12] GarySwansonARM commented on #8544
I tried 5.10.1 (comes with the example app) and 5.10.2

[2018-10-25 12:16] adbridge commented on #8533
What exactly has ciarmcom supposed to have done? It will only correct formatting errors in the issue header such as when someone messes with the template when they are explicitly asked not to....If you stray outside of the template then all bets are off...

[2018-10-25 19:57] c1728p9 commented on #8184
I took a look at the stack overflow on debug builds with the NUCLEO-L476RG and can confirm that the background thread is overflowing. It looks like most of the extra stack usage is coming from the low power ticker wrapper which is used on the background thread when tickless is enabled. Below is a breakdown of the stack usage.

Stack function | Stack pointer | Increase |   | Notes
-- | -- | -- | --

[2018-10-26 03:30] AdamZhang0124 commented on #8124
Hi @samchuarm , I am working on troubleshooting the udp.
The udp test result is currently inconsistent. Sometimes the test is ok but sometimes fail.

The log which has all test cases passed is attached for your reference:
[udp_test.txt](https://github.com/ARMmbed/mbed-os/files/2517539/udp_test.txt)

Thanks

[2018-10-26 05:01] bcostm commented on #8543
I will send a PR

[2018-10-26 05:09] bcostm commented on #8068
@screamerbg OK to close this issue (not reproduced and no recent feedback received) ?

ST_TO_BE_CLOSED

[2018-10-26 05:14] bcostm commented on #8362
@LaurentLouf does it answer your question on the STM32F103 ? If yes please close this issue.

Concerning the enhancement in the Serial API I suggest to create a separate issue as it is not ST dependant. Thanks.

cc @screamerbg

[2018-10-26 06:24] LMESTM commented on #8111
@bcostm @Eman869
It is not allowed to use mutex from interrupt context. printf makes use of mutex and calback is under interrupt context
This was working in simple examples in previous versions of mbed-os which was more permissive, but this would have caused unpredictable behavior ... you should remove printf() and that should work ok.

[2018-10-26 06:41] jeromecoutant commented on #8184
@janjongboom Could you review #8551 ?
Thx

[2018-10-26 08:12] 0xc0170 commented on #8533
I reverted the edit, should be as it was. Sorry about the unintentional edit, it was fixed.

[2018-10-26 09:08] jeromecoutant opened #8555 "NVSTORE test issue"
### Description

Hi

features-storage-nvstore-tests-nvstore-functionality is failed for NUCLEO_F410RB.

Issue is the same as in #7212
Fix seems to be not sufficient.
I checked my validation status, but it seems that I checked only flashiap tests at that time.
I forgot nvstore test...
Sorry to reopen this point.

@davidsaada

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-26 09:19] jeromecoutant commented on #8555
https://github.com/ARMmbed/mbed-os/blob/fc741f03a1b6a46b80a54d8bae723427955d1662/features/storage/nvstore/source/nvstore.h#L69

I think the problem is that NVSTORE needs 2 FLASH area.
As explained in #7149, due to the memory mapping, some targets can't used 2 areas.

[2018-10-26 09:38] 0xc0170 commented on #8555
@ARMmbed/mbed-os-storage

[2018-10-26 11:42] ciarmcom commented on #8555
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-109*

[2018-10-26 12:11] MarceloSalazar commented on #7492
@c1728p9 @bulislaw can you please have a look? Thanks!

[2018-10-26 13:33] LaurentLouf commented on #8362
@bcostm kind of, I haven't found anything in either HAL or LL that could be used to configure this inverted mode. I'll close as this a not a feature I really need (we wanted to see if instead of an inversion circuit between STMF0 & F1, we could use a software feature, but we've figured that we don't even need the inversion), I was just surprised that it was available on STMF0 and not on an STMF1.

[2018-10-26 13:33] #8362 closed, assigned to nobody

[2018-10-26 13:35] MarceloSalazar opened #8557 "Support for application offset for DISCO_F769NI"
### Description

This is an enhancement request.

The DISCO_F769NI lacks support for application offsets in the startup files - MBED_APP_START etc - as defined by the porting guide https://os.mbed.com/docs/v5.10/tutorials/bootloader.html

@ARMmbed/team-st

FYI @screamerbg

### Issue request type

[ ] Question
[x] Enhancement
[ ] Bug

[2018-10-26 13:45] 0xc0170 commented on #8557
cc @ARMmbed/team-st-mcd

[2018-10-26 13:49] LaurentLouf opened #8558 "Consistent behavior of us_ticker_init accross targets"
### Description

- Target STM
- GNU ARM 7-2017-q4-major
- mbed-cli 1.7.3
- 603c4f9 (HEAD -> master) Merge pull request #7851 from geky/fix-littlefs-mount-cleanup

I have noticed that compared to most of other targets, the `us_ticker_init` on STM targets does not any mechanism to check if the ticker has already been initialized. For example, on target MAX_32620, we have the following, simple yet ef

[2018-10-26 13:54] 0xc0170 commented on #8558
From the specs (related to ticker init):

@c1728p9 Please review

[2018-10-26 14:09] 0xc0170 commented on #8068
@fjvva Please reopen with providing more information (if this issue still persists)

[2018-10-26 14:09] #8068 closed, assigned to nobody

[2018-10-26 15:20] c1728p9 commented on #8558
Hi @LaurentLouf the ticker specification requires that calling `ticker_init` disables ticker interrupts. This is to ensure that when using an application with a bootloader, any pending ticker events setup by the bootloader are not unintentionally triggered in the application during `ticker_init`.

The code you have show above doesn't conform to this behavior so this is actually a bug in the MAX326

[2018-10-26 16:12] ciarmcom commented on #8558
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-110*

[2018-10-26 16:12] ciarmcom commented on #8557
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-111*

[2018-10-26 16:39] #8278 closed, assigned to fkjagodzinski

[2018-10-26 16:43] samchuarm commented on #8124
Hi @AdamZhang0124 , are you running the full extended test set as instructed here https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md ?

Hi @SeppoTakalo , does it seem a valid log to you? Thanks.

[2018-10-26 16:53] samchuarm commented on #8481
Hi @AdamZhang0124 , can you please confirm if the function reported is supported in Mbed OS with Realtek SDK?

[2018-10-26 20:49] c1728p9 commented on #7492
Hi @david-reimondez-tridonic-com SysTick should have the lowest priority since this is what the [OS is expecting](https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/rtx5/Source/os_systick.c#L34). This is set as part of the OS initialization sequence started by `osKernelStart()`.

To confirm that the interrupt priority was correct on mbed-os I attached a debugger to a NUCLEO_F401RE a

[2018-10-26 23:30] c1728p9 commented on #7382
@amq and @DBS06 could you attach the binaries you built (bootloader, application and combined), to this jira so I can test with them? I tried reproducing this problem with a `NUCLEO_F746ZG` but so far have been unable to recreate a crash or lockup. I was using `mbed-os-5.8.3` for the bootloader and `mbed-os-5.9.2` for the application both taken from https://github.com/amq/bootloader-issue.

[2018-10-27 14:22] #8543 closed, assigned to nobody

[2018-10-29 06:48] UsmanKhan0392 commented on #8490
Ethernet standard mbed-os tests run fine on the board and nothing wrong with simple Ethernet application either.

But In my application, I'm using make build system for compilation.
After including all the necessary flags, include paths and object files obtained after exporting the project for my target.

And now when I try to run the same application, it fails to get an IP address.
My application

[2018-10-29 07:14] AmmadRehmatCUS commented on #8520
@VeijoPesonen  PR has been generated to fix this issue.

https://github.com/ARMmbed/mbed-os/pull/8566

[2018-10-29 07:41] kjbracey commented on #8490
Sounds like a potential exporter problem then? I think you'll need to give more details - is this the result of a standard `mbed export`? Sorry, I'm not really familiar with project export, so someone else may need to advise.

[2018-10-29 07:43] rohithreddykota-npsc commented on #7156
using LPTIM = 32768Hz and prescalar as 128 we can further reduce the clock right?

[2018-10-29 08:21] VeijoPesonen commented on #8520
@AmmadRehmat I appreciate it.

[2018-10-29 09:38] UsmanKhan0392 commented on #8490
When I exported the a standalone mbed Ethernet application for my target and used **make** to build it, it ran fine and obtained an ip successfully.

Now, In my My project (which comprises of various other components , mbed-os being one of them) I included all the flags and include paths as was in the exported project, it failed to obtain IP.

I don't see any difference in both projects apparently

[2018-10-29 09:46] kjbracey commented on #8490
If you have "other components", then maybe some issue attaching the IRQ handler? It appears the `STM32_EMAC` relies on a static link-time coupling via `ETH_IRQHandler` to its target startup vector table, rather than using `NVIC_SetVector` to set it at runtime.

Could your more complex environment have somehow lost this link, or otherwise masked the interrupt?

Although, actually, the link status c

[2018-10-29 10:53] janjongboom commented on #7863
@JojoS62 @DBS06 No, it will not be based on Visual Studio Code, but on something similar. There was an alpha test at Mbed Connect a few weeks back, hope to open the general alpha at some point too, but not my call ;-)

[2018-10-29 11:12] SeppoTakalo commented on #8124
Yes, that is the full set of UDP tests.

[2018-10-29 11:34] marcemmers opened #8567 "Equeue unchain bugs"
### Description

We have run into some issues when we need to unchain and chain a queue multiple times. After a certain amount of those sequences we encountered a hardfault.

We are running mbed os 5.10.0 at the moment but there haven't been any changes to this since.

There are 2 separate issues which caused the hardfault.
The first is the actual memory leak which seems to happen in this example:

[2018-10-29 12:43] ciarmcom commented on #8567
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-114*

[2018-10-29 12:55] cmonr opened #8568 "examples.py should fail when network issues are encountered."
### Description

Currently, the build wrapper job does not fail if an error is encountered when cloning repos using the examples.py script.

The script should be looked at to determine if it correctly fails when network issues are encountered, otherwise, the build_wrapper job should be looked at.

#### Log: [502 bad gateways.log](https://github.com/ARMmbed/mbed-os/files/2525268/502.bad.gateways.lo

[2018-10-29 13:27] NeilMacMullen opened #8570 "Mbed startup code should not assume power-on state of device"
### Description

An mbed application may follow a bootloader which itself is based on mbed.  This typically occurs when supporting OTA (field-upgrade).  In this case, it is likely that a new application will be based upon a newer version of mbed than the version that was used to build the bootloader.

The application code therefore should not assume it has been entered via a power-on or reset stat

[2018-10-29 13:27] NeilMacMullen commented on #8570
Adding @cmonr

[2018-10-29 13:30] 0xc0170 commented on #8570
@NeilMacMullen Can you please leave the issue template as it was (description and issue type sections provided, do not remove). This will help us to parse the text and get proper info for further triaging internally.

[2018-10-29 13:32] NeilMacMullen commented on #8570
done

[2018-10-29 13:35] 0xc0170 commented on #8570
cc @ARMmbed/mbed-os-core

[2018-10-29 13:39] NeilMacMullen commented on #7763
@mprse   I'm not sure if you are suggesting that the 400uA can't be avoided at all now that the 1MHz ticker is being used or that it can be avoided (but currently isn't) when waiting for an integral number of milliseconds?

The change that claims to address this (#8189) does not seem to result in lower power in the second case.  On the off-chance this is by-design rather than a bug, I'd suggest we

[2018-10-29 14:00] NeilMacMullen opened #8571 "Nrf52 us_ticker_free should also call TASK_SHUTDOWN"
### Description

The implementation of us_ticker_free in target_nordic/target_nrf5x/us_ticker.c does not call TASK_SHUTDOWN meaning that the timer does not return to its lowest power mode.  I believe the correct code is...

[code]

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-29 14:22] bentcooke commented on #8333
@ARMmbed/team-analogdevices

[2018-10-29 14:46] cmonr commented on #8312
Instead of changing the API, docs are being updated here: https://github.com/ARMmbed/mbed-os-5-docs/pull/772

[2018-10-29 14:49] cmonr commented on #8308
Marking as closed since #8350 has been merged.

[2018-10-29 14:49] #8308 closed, assigned to nobody

[2018-10-29 15:25] samchuarm commented on #8124
Thanks @SeppoTakalo , can you suggest what could cause the inconsistent result?

Hi @AdamZhang0124 , can you share what currently fails from the UDP tests? Also what about other socket tests?
There is a PR being blocked by this issue. It'd be appreciated if you can prioritize it. Thanks.

[2018-10-29 16:15] studavekar commented on #8333
Updated the ticket to make bot happy and hopefully it off `HEADER FORMATTING ISSUE`

[2018-10-29 16:37] cmonr opened #8574 "Travis doxygen binary could use an update"
### Description

As of right now, the version of Doxygen being used is 1.8.6, which was [released December, 2013](https://github.com/doxygen/doxygen/releases/tag/Release_1_8_6).

The binary is now sitting at 1.8.14.

### _Caveat_

It's possible that updating the binary to something more recent _might_ be tied to updating the Ubutnu LTS version that we use in Travis.

### Issue request type

[ ] Qu

[2018-10-29 16:57] sathysreenath opened #8575 "Uartserial testing using greentea."
### Description

### Issue request type

    [x ] Question
    [ ] Enhancement
    [ ] Bug

[2018-10-29 17:06] #8351 closed, assigned to nobody

[2018-10-29 17:06] #8206 closed, assigned to nobody

[2018-10-29 17:12] ciarmcom commented on #8575
*Issue header has missing or incorrectly filled in fields! Please fix.*

[2018-10-29 17:13] ciarmcom commented on #8574
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-115*

[2018-10-29 17:13] ciarmcom commented on #8571
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-116*

[2018-10-29 17:13] ciarmcom commented on #8570
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-117*

[2018-10-29 17:13] ciarmcom commented on #8568
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-118*

[2018-10-29 17:13] ciarmcom commented on #8333
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-119*

[2018-10-29 17:13] ciarmcom commented on #8320
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-120*

[2018-10-30 01:31] TomoYamanaka commented on #6975
@toyowata
Could you check this issue after Mbed 2(Classic) library was updated because PR #8374 was merged into Mbed OS 5.10.2 that is latest release package?

[2018-10-30 01:49] #8496 closed, assigned to nobody

[2018-10-30 05:15] bcostm commented on #8557
I'll take care of it. Can you please add also "device:st" label ?

[2018-10-30 07:58] daniel-cesarini-tridonic-com opened #8582 "Merge conflicts when updating mbed-os (5.9->5.10)"
### Description

We are trying to update from 5.9.7 to 5.10.2, we did some local modifications to the mbed-os, so that we need always to merge in the newer versions. Turns out that there are plenty of merge conflicts between 5.9 and 5.10, that are coming directly from the upstream codebase: e.g. the merge of 5.9 into latest master is <https://github.com/ARMmbed/mbed-os/pull/8581>

Would it be poss

[2018-10-30 08:43] kjbracey commented on #8582
Hi Daniel. This sort of operation is painful - you're mixing cherry-picking and merging, and Git isn't good at this.

There are a few possible approaches here.

1) Avoid mixing cherry-picking and merging by replaying your local changes by rebasing them on 5.10.2.
[code]
This might be easiest if your changes are few.

2) Maybe too late now, and a bit fiddly and hard to explain, but have your local

[2018-10-30 09:17] daniel-cesarini-tridonic-com commented on #8582
@kjbracey-arm thank you for the extensive and quick reply.
We will try out your suggestions and report on the results.

[2018-10-30 10:50] AdamZhang0124 commented on #8124
Hi @samchuarm , currently the UDP test will fail for 'UDPSOCKET_ECHOTEST_BURST' and 'UDPSOCKET_ECHOTEST_BURST_NONBLOCK' test cases. These failures are caused by high loss ratio. In the udp test, the loss ratio tolerance is 30%. But in practice, 50%-60% of packets can be received in most of time and sometimes >70% can be received. I am now reasoning the high loss ratio and seeking a way to reduce t

[2018-10-30 10:59] AdamZhang0124 commented on #8124
Same failures happen on TCP tests as well. For TCP tests, 'TCPSOCKET_ECHOTEST_BURST', 'TCPSOCKET_ECHOTEST_BURST_NONBLOCK', 'TCPSOCKET_RECV_100K', 'TCPSOCKET_RECV_100K_NONBLOCK', 'TCPSOCKET_RECV_TIMEOUT' test cases have problem.

[2018-10-30 12:43] ciarmcom commented on #8582
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-122*

[2018-10-30 12:58] 0xc0170 commented on #8574
Assuming the similar problem we had with astyle (package manager provides really old version and causing issues with formatting), fetch it via the download webpage, unpack and build. Shall we do the same for doxygen?

Having this in the configuration (we can fetch it also from github)

[code]

[2018-10-30 13:13] bcostm commented on #8398
Why adding the "devices: st" label ? The proposed change has to be made in the core files and not in ST ones...

It would be nice also to remove "STM32" in the title...

[2018-10-30 14:00] cmonr commented on #8398
@bcostm Updated

[2018-10-30 14:49] bcostm commented on #8265
Hi,

Not reproduced with my own test code:
[spi_loop.zip](https://github.com/ARMmbed/mbed-os/files/2530123/spi_loop.zip)

I ran your code but it stopped after "First Number:" ? And I don't see what could be wrong in your code ? Did you progress on your side ? If yes and the problem is solved can you please close this issue ?

Thanks

[2018-10-30 15:02] edablan commented on #8206
@pan-
Any news on why the ticket was closed?

[2018-10-31 02:37] andrewc-arm opened #8597 "Need working example code of MCU-to-MCU SPI comm"
### Description

- What target does this relate to?
    - NXP's K64F and ST's STM32L476
- What toolchain (name + version) are you using?
    - GCC_ARM: 6.3.1 20170620
- What tools (name + version - is it mbed-cli, online compiler or IDE) are you using?
    - mbed-cli: 1.5.0
- What is the SHA of Mbed OS (git log -n1 --oneline)?
    - mbed-os: mbed-os-5.10.2
- Steps to reproduce. (Did you publish co

[2018-10-31 06:22] ciarmcom commented on #8597
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-123*

[2018-10-31 06:27] bcostm commented on #8597
Warning on a majority of Nucleo boards, the LED1 is also on D13... Can you try by removing the led blinking in your code ?

[2018-10-31 06:46] andrewc-arm commented on #8597
Hi. Thanks for the feedback. @bcostm
I did not know that you are ST engineer. :)
Unfortunately, I do not have enough bandwidth to follow and test cases.
I will ask Arm mbed-os team to kindly test and showcase working example code with Mbed-Enabled boards. Thanks.

[2018-10-31 08:40] bcostm commented on #8597
Yes :) as well as other peoples in @ARMmbed/team-st-mcd

[2018-10-31 13:34] 0xc0170 commented on #8518
@toyowata I believe this is answered. I'll close it as resolved. If not, please reopen with an update

[2018-10-31 13:34] #8518 closed, assigned to nobody

[2018-10-31 14:26] bentcooke commented on #8333
I believe that the flash in that device may be past its usable life and has begun to fail.  I have run the test five times in a row on another 3029 board with no failures.

[2018-10-31 14:45] studavekar commented on #8333
thanks @ben the devices in the current system are present for a long time. @OPpuolitaival whats the status on devices in new infra coming up?

[2018-10-31 14:50] OPpuolitaival commented on #8333
@studavekar we are still resolving some problems with new infra. It should be ready soon

[2018-10-31 16:45] adbridge commented on #8568
So it looks like the script tries to clone and if it fails it just prints an error and then continues with the next repo.
[code]

That is in the clone_repos() function, invoked thus:

[code]

Thus no error is ever returned by a clone failure.

[2018-10-31 17:12] adbridge commented on #8568
The same is true of these commands also :
1.  do_import(_, config, examples):
2.  do_deploy(_, config, examples):
3.  do_versionning(args, config, examples):

All of these just return 0 no matter what happens inside of the called functions.

[2018-10-31 17:25] teetak01 commented on #8544
@MarceloSalazar @dhwalters423  OS tools have some bug related to Python3. I think any application using FEATURE_BOOTLOADER will fail to compile with Python3.

[2018-10-31 21:15] #8574 closed, assigned to nobody

[2018-11-01 00:30] mbedero opened #8608 "MAX32630FTHR needs QSPI in targets.json"
### Description

-->

   I'm using the online mbed compiler ( https://os.mbed.com/compiler ) to write code for the MAX32630FTHR. Trying to instantiate a QSPI object from the QSPI API fails. The datasheet says this platform has QSPI.

    In "targets/targets.json", if "QSPI" was added to "device_has", the problem of not having QSPI code working might be fixed.

   Performing the fix and compiling (

[2018-11-01 01:14] lamandoBySJ opened #8609 "Mbed-5.10.2-ESP8266Interface-without-setTimeout-function"
### Description

Type:Question&Enhancement

Mbed-os version: More than 5.9

Link:
https://github.com/ARMmbed/mbed-os/blob/master/components/wifi/esp8266-driver/ESP8266Interface.cpp

Detial:
This driver of esp8266Interface has no function of setTimeout.
I need this fun for wifi scanning timeout.
Please add the function in it.

Thanks
js.shen

[2018-11-01 01:41] #8557 closed, assigned to nobody

[2018-11-01 02:16] #8207 closed, assigned to nobody

[2018-11-01 02:22] ciarmcom commented on #8609
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-126*

[2018-11-01 02:22] ciarmcom commented on #8608
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-127*

[2018-11-01 05:30] UsmanKhan0392 commented on #8490
Basically my code had some linking issue due to which the it didn't enter `HAL_ETH_MspInit` which was overridden by `stm32f4_eth_init.c` for my target.

Rather it entered it's weaker implementation.

Due to this `ETH_HandleTypeDef` wasn't initialized properly and therefore `HAL_ETH_WritePHYRegister `couldn't write to it's registers.

Now that I fixed the code to enter the overridden function, it w

[2018-11-01 05:30] #8490 closed, assigned to nobody

[2018-11-01 08:44] MarceloSalazar commented on #8544
Thanks for letting us know! FYI @cmonr @OPpuolitaival

[2018-11-01 11:14] vidavidorra opened #8610 "DTLS using TLS Sockets"
### Description

Just read the latest blog post [Adding TLS Sockets to Mbed OS](https://os.mbed.com/blog/entry/Adding-TLS-Sockets-to-Mbed-OS/). Just a question about this. Will DTLS over an UDP socket also be supported by this?

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2018-11-01 14:59] #8396 closed, assigned to nobody

[2018-11-01 17:16] klaas019 opened #8618 "Python3 build fails on MTS_MDOT_F411RE"
### Description

Build fails with python3 for MTS_MDOT_F411RE and other targets with bootloaders in mbed.
Reproduce by using python3 with mbed-os-5.10.2 GCC 6-2017-q2-update.

[code]

Fix : outbin.write(b'\xFF' * (64*1024 - len(data)))

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-11-01 18:44] screamerbg opened #8619 "Python 3.6.0 errors when using mbed-os-5.10.2 with `mbed test`"
### Description
See title. This also blocks a PR against Mbed CLI to extend python2 and python3 testing against Mbed OS 5.10 - https://github.com/ARMmbed/mbed-cli/pull/779.

Here's a detailed log:
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-11-01 21:08] ciarmcom commented on #8619
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-130*

[2018-11-01 21:08] ciarmcom commented on #8618
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-131*

[2018-11-02 01:02] mbedero commented on #8608
I believe there's also some qspi code required in targets/TARGET_Maxim/ TARGET_MAX32630. My guess is this is something Maxim would contribute.

[2018-11-02 13:41] AGlass0fMilk opened #8626 "Update device peripherals for STM32 series"
### Description
Targets in the STM32F4 family have inconsistent "Device Has" peripherals defined. For example, I was working with the STM32F407VG-based discovery board and found that targets.json did not enable "SERIAL_FC" or "SERIAL_ASYNCH".

I dug a little deeper and found some STM32F4 targets that do enable these peripherals. I also found that all STM32F4 targets share the same serial_api.c HAL

[2018-11-02 16:11] LaurentLouf opened #8628 "RTC does not survive power cycle"
### Description

- Target STM32F103RCT6
- GNU ARM 7-2017-q4-major
- mbed-cli 1.7.3
- 603c4f9 (HEAD -> master) Merge pull request #7851 from geky/fix-littlefs-mount-cleanup

Steps to reproduce are pretty easy :

1. Read time and display it
2. Set time using the `set_time` function
3. Read time and display it
4. Power cycle the target

On my target, it gives me the following output :

I have checked

[2018-11-02 16:13] ciarmcom commented on #8626
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-133*

[2018-11-02 16:14] LaurentLouf commented on #8628
Well, from the mbed-os-5.10.2 release notes, it may seem that all I have to do is to update my version of mbed-os. Will test that immediately and close issue if it solves the problem.

[2018-11-02 16:23] LaurentLouf commented on #8628
Fixed the issue.

[2018-11-02 16:23] #8628 closed, assigned to nobody

[2018-11-02 17:14] ghost opened #8632 "RequestsDependencyWarning Message"
### Description
When compiling with the latest Mbed-OS (5.10.2), the following warning is generated. What is it and how to get it removed?  I'm building on Windows7, Dos Window.

This occurs every time a compile command is issued.

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[code]

[2018-11-03 20:36] yogeshk19 opened #8635 "NRF52840: setPhy method is not implemented."
### Description:
setPhy is not implemented in the NRF52840 target and is critical for long range testing, one of the key features in BLE 5. Also the softdevice version S140 is still in alpha,  s140_nrf52840_5.0.0-2.alpha_softdevice.hex in the current mbed-os verison and the current production version of s140 is 6.1.0 and has the implementation of the coded phy. I am hoping the necessary steps can

[2018-11-04 06:11] bcostm commented on #8626
Hi
The DISCO_F407 is one of the ST boards that has been added by community and not by ST team in the past, so it may have some features/files not well defined compared to other "official" boards. If you already have done the change and tested it ok, why don't you send a PR ? We'll review it. Thanks

[2018-11-04 21:49] Hoel opened #8636 "wait function cause hang on STM32L451CEU6 (ticker_read_us loops forever)"
### Description
The target is STM32L451CEU6 (custom target), mbed version is 2 (RTOS disabled), imported from CLI (last version), custom target specific files have been gathered from a STM32CubeMx project (last version).

![image](https://user-images.githubusercontent.com/622955/47969981-a9db7380-e07f-11e8-979a-b3eeb2d9cdd2.png)
Compilation is fine, peripherals are working (GPIO, UART etc) but the

[2018-11-05 02:22] ciarmcom commented on #8636
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-135*

[2018-11-05 06:19] samchuarm commented on #8124
Hi @AdamZhang0124 , any update on these failures? Have you been able to fix them on RTL8195AM?

[2018-11-05 06:39] bcostm commented on #8636
Hi
Can you post your development branch ? We need to see all the files to have a full picture. Thanks.

[2018-11-05 07:58] Hoel commented on #8636
Hello,
The whole project is included in the first post (mbed-os-example-blinky2.zip) it contains all the sources. As of now my concern is the MBED 2 issue because that is what we work with, i will upload the version with MBED 5 later once the first issue is solved.

[2018-11-05 09:13] bcostm commented on #8636
I didn't see anything in particular in your project that could impact the timer2 to work correctly.

I see something different in the GCC assembler file at the start point.

We have this in other L4 boards:
[code]
and you have this:
[code]

Can you try by changing this start sequence ?

[2018-11-05 09:18] Hoel commented on #8636
Oh, very interresting, it is in startup_stm32l451xx.s right?

EDIT: i tried it, sadly it didnt fixed the problem

![image](https://user-images.githubusercontent.com/622955/47989226-adedac80-e0e4-11e8-8512-4b932f3c2c4b.png)

EDIT2: i checked the Nucleo L476RG startup, actually the sequence is
[code]
So i changed mine according to this, but the problem persist, the only difference is : before, LED w

[2018-11-05 09:29] 0xc0170 commented on #8608
Hi @mbedero , `MAX32630FTHR` does not support `QSPI` at the moment. It might have QSPI peripheral but no HAL implementation.

cc @ARMmbed/team-maximintegrated

[2018-11-05 09:48] bcostm commented on #8636
I am not sure which platform do you use ? Is it the L4680 or the L4680_L451 in the targets.json ?

Because for the L4680_L451, the value for the clock source is USE_PLL_XTAL and it should be USE_PLL_HSE_XTAL.

I saw also in the SetSysClock_PLL_HSE() function a call to HAL_Init() at the beginning. Try to remove it.

[2018-11-05 10:06] Hoel commented on #8636
sorry for that, the L4680 was the intial version of our modules (with STM32L462CEU6), what i use now and which exhibits the problem is L4680_L451 based on STM32L451CEU6.
i will change to USE_PLL_HSE_XTAL

Yes it was here because i used the HAL UART_transmit in order to get an output on error at some point, i tried with and without it. Anyway as you may have noticed this function is not used, inste

[2018-11-05 10:14] janjongboom opened #8638 "Cannot use TLSSocket without enabling MBEDTLS_SHA1_C macro"
### Description

You cannot use TLSSocket in Mbed OS master without declaring `MBEDTLS_SHA1_C=1` in your macros section in `mbed_app.json`. This is not good, everything should work out of the box. We should add it to the default TLS config, or add it to mbed_lib.json for TLSSocket (like it is in the standalone library).

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

@bu

[2018-11-05 10:35] bcostm commented on #8636
It is not an easy task to update the CubeL4 HAL files in mbed. We have to re-test all STM32L4 platforms to ensure there are no regression and it is not in our short-term plan. But I don't think your problem comes from an older HAL version, because the STM32L451xx devices are well supported in the actual mbed HAL files.

[2018-11-05 10:46] Hoel commented on #8636
yes i dont think the problem comes from here either, the version are very close.
What i asked is only : do you have the files for my target (STM32L451) in the same version as the one used in MBED (01.08.02.00) so i can try with these?

I modified the delay to 0.09s in main loop and something occurs, i can see the LED extremely dim but blinking fast, not sure what conclusion to make of this... Mayb

[2018-11-05 11:38] ciarmcom commented on #8638
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-137*

[2018-11-05 11:56] kjbracey commented on #8638
How much does `MBEDTLS_SHA1_C` affect code size for people using the crypto but not full TLS? It adds it to the cipher list, but when is that typically pulled in apart from TLS? HMAC wrappers?

[2018-11-05 12:07] bcostm commented on #8636
OK I misunderstood your request. Here the full CMSIS files that we use in mbed:
[CMSIS_STM32L4xx_1.4.2.zip](https://github.com/ARMmbed/mbed-os/files/2548279/CMSIS_STM32L4xx_1.4.2.zip)

[2018-11-05 12:18] jarvte commented on #8507
Hi @pilotak, sorry for the delay!

EasyCellularConnection is meant for easy connect to be able to use sockets. It supports only synchronous mode so this will not have any affect: `mdm.set_blocking(false);`

As your modem works in AT mode it should still be able to send SMS after connecting.
So you can remove callback and set_blocking call and call connect like you have done already.
After connect

[2018-11-05 12:27] Hoel commented on #8636
Thank you i will try with these files just in case.
I really dont understand the behavior of last tests. The target doesnt reset so how the counter delay time can be shortened by the wait function malfunction, and only during the OFF cycle.
By the code ON and OFF cycles should be stricly of identical duration, something very wrong is occuring here.

[2018-11-05 12:44] Hoel commented on #8636
as expected, the CMSIS file update didnt change anything, same weird behavior when the counter delay is added, same hang on wait when the counter delay is removed.

[2018-11-05 13:15] Hoel commented on #8636
just to illustrate what is going on with PA15:
counter delay alone :
![image](https://user-images.githubusercontent.com/622955/47999939-5b23ed00-e104-11e8-8d28-3fe610311ed4.png)

counter delay + wait(0.1) :
![image](https://user-images.githubusercontent.com/622955/48000008-945c5d00-e104-11e8-8e92-c2e4580b59fb.png)

wait(0.09) alone :
![image](https://user-images.githubusercontent.com/622955/480000

[2018-11-05 13:30] #8636 closed, assigned to nobody

[2018-11-05 13:32] LMESTM commented on #8636
Just a few comments / questions to look for possible reasons:
- another possible explanation is that the timer works fine as there is actually activity every 100ms.
- maybe GPIO state is not maintained or programmed properly - PA15 is sometimes used for JTAG, can you check if this is the case here ? Also can you check if the same happens with another pin ?
- another possibility is that deep sleep

[2018-11-05 13:43] Hoel commented on #8636
Yes indeed, in the end the timer worked fine and the problem was a HAL_GPIO_TogglePin set yesterday on PA15 inside wait_us for debugging purpose.
However i confirm that when the problem occured yesterday this HAL_GPIO_TogglePin was not in the delay function, it has been added later to try understanding the issue. I also stepped debug at the time.

Yes maybe, however as pointed by bcostm the startu

[2018-11-05 13:56] jeromecoutant commented on #7156
See https://os.mbed.com/docs/v5.10/porting/low-power-ticker.html
minimum frequency has to be 8KHz, so prescalar can be 4.

[2018-11-05 15:20] edablan commented on #8206
@adbridge

Any word on what was causing this issue? or was it found not to be an issue?

[2018-11-05 15:44] adbridge commented on #8206
@edablan It will be fixed with the 5.11 release.

[2018-11-05 16:25] 0xc0170 commented on #8597
There's another internal ticket that is being worked on. This one will be closed.

[2018-11-05 16:25] #8597 closed, assigned to nobody

[2018-11-05 16:36] jeromecoutant commented on #8477
Got answer from @deepikabhavnani
No change needed, Thx

[2018-11-05 16:36] #8477 closed, assigned to nobody

[2018-11-05 20:31] pilotak commented on #8507
@jarvte thank you for response
 even if i remove `mdm.set_blocking(false)` i get compile error

[code]

[2018-11-05 21:04] #7300 closed, assigned to nobody

[2018-11-05 21:04] #7297 closed, assigned to nobody

[2018-11-05 21:04] #7138 closed, assigned to nobody

[2018-11-05 21:22] marcuschangarm commented on #8638
I think this depends on the root certificate you provide TLSSocket. I'm able to connect to AWS S3 using TLSSocket out of the box and a SHA256 signed certificate.

@janjongboom can you post the certificate you are trying to use?

[2018-11-06 06:29] jarvte commented on #8507
You are missing `#include "CellularDevice.h`. It's needed as you are using CellularDevice class to open sms instance.

[2018-11-06 08:00] JammuKekkonen opened #8650 "memap renames map file when ran manually"
### Description
tools/memap.py can be ran manually to produce a report. running it manually will rename the map file given as parameter.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-11-06 08:01] JammuKekkonen commented on #8650
Related: #8431

[2018-11-06 08:32] samchuarm commented on #8124
Hi @SeppoTakalo , per Realtek's update, they are able to lower the UDP ‘ECHOTEST_BURST’ loss ratio to 10%, that is about more than 450 over 500 packets can be received. Do you have any other suggestion for further improving the loss ratio in order to meet the test requirement? Thanks.

[2018-11-06 10:38] TuomoHautamaki commented on #8200
Fix provided in https://github.com/ARMmbed/mbed-os/pull/8604

[2018-11-06 11:38] ciarmcom commented on #8650
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-138*

[2018-11-06 13:42] markus-becker-tridonic-com commented on #8501
@javier-moreno-tridonic-com I think this solution works for us. If you agree, please close the issue.

[2018-11-06 15:34] pilotak commented on #8507
Thanks a lot i now got it working, here is complete example.

[code]

It would be actually really helpful for others to see such an example in documentation ;-)

[2018-11-06 15:39] janjongboom opened #8656 "SAML21 ticker only fires when set to 1ms. or higher"
### Description

I'm trying to update the SAML21 target to use  Mbed OS 5 but I'm running into a weird issue (thanks unit tests!)... When setting a `Timeout`/`Ticker` object to tick with a timeout below 1 ms. the ticker does not fire. I assume it has something to do with the timer setup, but I don't know where to look. If I set the prescaler to 4 in `us_ticker.c` it works (at 500 us), but then eve

[2018-11-06 16:04] janjongboom commented on #8656
Potentially related: https://github.com/ARMmbed/mbed-os/issues/2598

[2018-11-06 16:50] jeromecoutant commented on #8320
Hi
Is this issue still relevant ?
Thx

[2018-11-06 16:51] jeromecoutant commented on #7997
ST_TO_BE_CLOSED

[2018-11-06 17:25] janjongboom commented on #8638
@marcuschangarm os.mbed.com

See the code example in https://os.mbed.com/blog/entry/Adding-TLS-Sockets-to-Mbed-OS/

[2018-11-06 20:01] cmonr commented on #8632
HI @jflynn129,

The issue is that the version of gcc-arm-none-eabi that you're using is below the minimum supported version of 6.0.0. To get rid of the warning, all you should need to do is update GCC to v6.

Note: We currently have capped the supported version to below 7, and are working to catch up to the latest released versions, but this will take some time.

[2018-11-06 20:02] cmonr commented on #8632
It means that while Mbed OS _may_ successfully compile, we can not guarantee that everything will work, because we use GCC 6 to compile and test the OS.

[2018-11-07 05:36] jarvte commented on #8507
Nice, good to hear that you got it working!
You are correct, this should be in our documentation/example application. Hopefully we can get example of sms to doc/app.

@0xc0170 I believe this is now resolved and can be closed.

[2018-11-07 07:17] #8507 closed, assigned to nobody

[2018-11-07 08:35] daid opened #8664 "equeue cancel function can corrupt internal data structures, causing queue failure."
### Description

The equeue library is used by the EventQueue objects in mbed-os. When we use these queue, and cancel events, we can corrupt the internal data structure of the equeue. In turn causing events to be lost or the queue to hang forever.

We've been experiencing this issues at low frequency in our complex application. But I've managed to track down the problem.
The problem is located in

[2018-11-07 09:08] AdamZhang0124 commented on #8124
Hi @samchuarm and @SeppoTakalo , I have found that increasing 'PBUF_POOL_SIZE' in lwipstack.h to 20 can reduce the loss ratio to the acceptable range. But I am not sure if it is allowed to edit.

[2018-11-07 09:14] samchuarm commented on #8124
Hi @SeppoTakalo , is increasing 'PBUF_POOL_SIZE' allowed for partners platform? Can this be an acceptable solution? Thx.

[2018-11-07 09:39] 0xc0170 commented on #7859
This was resolved via 8237

[2018-11-07 09:39] #7859 closed, assigned to nobody

[2018-11-07 10:22] SeppoTakalo commented on #8124
Some platforms do change that value through Mbed OS configuration system https://github.com/ARMmbed/mbed-os/blob/master/features/lwipstack/mbed_lib.json#L116

[2018-11-07 11:31] #8200 closed, assigned to nobody

[2018-11-07 11:38] ciarmcom commented on #8664
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-141*

[2018-11-07 13:16] #8632 closed, assigned to nobody

[2018-11-07 14:49] cmonr commented on #8635
@yogeshk19 Updated the issue. Please follow the issue template in the future.

[2018-11-07 14:51] cmonr commented on #8582
@daniel-cesarini-tridonic-com Were y'all able to sort this out on your end?

[2018-11-07 15:17] daniel-cesarini-tridonic-com commented on #8582
Tridonic internal communication:
FYI: @markus-becker-tridonic-com @javier-moreno-tridonic-com  @andreas-myka-tridonic-com

[2018-11-07 15:18] daniel-cesarini-tridonic-com commented on #8582
@cmonr we still need a little bit of time.

[2018-11-07 16:10] Alex-EEE opened #8666 "Telit LE910 and ME910"
### Description

Are there any plans to add support for Telit's LE910 ( 4G ) and ME910 ( Cat-M1 narrowband IoT ) modules?

### Issue request type

    [ ] Question
    [ x ] Enhancement
    [ ] Bug

[2018-11-07 16:14] ciarmcom commented on #8635
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-142*

[2018-11-07 17:34] cmonr commented on #8204
@deepikabhavnani Is this still an issue? Attempted to compile and reproduce the issue using ARMC6, but under our current tools, we don't support using ARMC6 against v7 cores.

[2018-11-07 17:42] cmonr commented on #8204
Nvm, found the issue.

[2018-11-07 21:08] ciarmcom commented on #8666
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-143*

[2018-11-08 01:03] shankar-vv opened #8674 "Support for Nordic NRF9160"
### Description

Is there a plan to support the Nordic NRF91 series microcontrollers.
especially NRF9160 which is Cortex-M33.

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2018-11-08 01:05] shankar-vv commented on #8674
Is there a plan to support the Nordic NRF91 series microcontrollers.
especially NRF9160 which is Cortex-M33.

[2018-11-08 02:22] ciarmcom commented on #8674
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-144*

[2018-11-08 07:51] samchuarm commented on #8124
Thanks @SeppoTakalo , if that value is allowed to change by partners, do we accept changing the value as the solution to this issue? Any concern? Thx

[2018-11-08 08:11] 0xc0170 commented on #8124
Renesas target already defines this config (line 158 in the config), should be fine to be set by the target.

[2018-11-08 08:40] samchuarm commented on #8124
Thanks @0xc0170 .
Hi @AdamZhang0124 , please look into adding this config for RTL8195AM once you verify increasing 'PBUF_POOL_SIZE' can fully resolve netsocket failures. Thx.

[2018-11-08 10:16] 0xc0170 commented on #8674
I updated your first comment (to contain all in description and issue type).

We will review this question

[2018-11-08 12:29] amq opened #8678 "PSK using TLSSocket"
### Description

The [design document](https://github.com/SeppoTakalo/mbed-os/blob/5d1cd2552b7ba3d439f4f087e269fe6a3eb015b4/docs/design-documents/features/connectivity/TLSSocket%20-%20Design%20document.md) of TLSSocket states that there is no PSK mode. Is it planned for the future?

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2018-11-08 15:23] SeppoTakalo commented on #8638
LetsEncrypt certificate work without this `MBEDTLS_SHA1_C` so this issue is not valid or should be directed to Mbed TLS team.

COMODO certificate seems to require this SHA1.

[2018-11-08 15:26] SeppoTakalo commented on #8638
Tried a build without the macro and using Mbed OS Socket example modified to TLS

[code]

With `MBEDTLS_SHA1_C` macro enabled:
[code]

So the flash size is affected by 5kB.

This is now up to TLS team to decide whether to enable that macro by default or not.
Mbed OS is not touching the default TLS configuration.

[2018-11-08 19:04] martinjaeger commented on #7853
Tried to use the mbed_start_application(), but it is not enabled for STM32L0 and STM32F0, which I am using.
MBED_APPLICATION_SUPPORT is [only enabled for larger MCUs >= Cortex M3](https://github.com/ARMmbed/mbed-os/blob/de6ba91644c4b2396d9445ada1554b2487652a24/platform/mbed_application.h#L22). Any reason for that?

[2018-11-09 07:46] andrewc-arm commented on #8597
Hi. I just want to leave comment on successful method.
Though os.mbed.com's board's MISO and MOSI pin names are a bit misleading. It's MISO(D11) and MOSI(D12) for SPI master. However, it's MISO(D12) and MOSI(D11) for SPI slave. Therefore, for MCU-to-MCU testing, data pins should be swapped just like UART.

[2018-11-09 09:05] janjongboom commented on #8638
@SeppoTakalo @marcuschangarm Any idea on how we could print an error message to tell the user to enable this macro when we encounter this? If we could do that that'd be good by me.

[2018-11-09 09:39] SeppoTakalo commented on #8638
[code]

So it seems that SHA1 is required for old and weak certificates.

And again, I should not make any statements on how Mbed TLS is built, or should build.
It is their judgement call on what ciphers and configs to support.

CC: @ARMmbed/mbed-tls-gatekeepers can you comment here on how to handle this. Should we, or should Mbed TLS print out warning when building it with secure config. Feels a

[2018-11-09 09:54] gilles-peskine-arm commented on #8638
Hello,

I haven't investigated the issue(s) you're facing, but just to comment on `MBEDTLS_SHA1_C`, I want to emphasize that it's mainly needed for two things. It's needed to support older, weak certificates that are signed with SHA-1, which requires a further run-time option to enable because it's a security risk. And, independently, it's also needed to support TLS protocol versions 1.0 and 1.1.

[2018-11-09 11:18] SeppoTakalo commented on #8638
Yes, the same certificate works if SHA1 is enabled.

This was the error log:
[code]

This is when SHA1 is enabled:
[code]

Log outputs are coming from the wrapper layer, not from the Mbed TLS library. Is there some way to enable some loggings from TLS library as well? Should I re-run the same app with those enabled?

edit: sorry, copy&pasted wrong logs.. but anyway those were similar.

[2018-11-09 11:21] SeppoTakalo commented on #8638
Both say that `signed using      : RSA with SHA-256`

[2018-11-09 11:43] Patater commented on #8638
Since this is PKI, there is probably a certificate chain involved. All certificates in the chain would need to  avoid SHA-1. Probably the root certificate for Let's Encrypt is `(IdenTrust) DST Root CA X3` which is signed using `PKCS #1 SHA-1 With RSA Encryption`. (See https://letsencrypt.org/certificates/ for more details.)

[2018-11-09 12:02] gilles-peskine-arm commented on #8638
In Mbed TLS, you can get logs by compiling it with `MBEDTLS_DEBUG_C` enabled and using code like the following (replace `fprintf` and `fflush` by whatever works for you):
[code]
I don't know if the Mbed OS socket object has already done some of these steps for you.

[2018-11-09 12:24] gilles-peskine-arm commented on #8638
Ok, I checked https://api.ipify.org/, their certificate chain uses SHA-2 all the way to the root, but the root itself is self-signed with SHA-1. This is not a security problem since the signature of the root doesn't matter, but Mbed TLS still wants to verify that the signature is correct, and it needs SHA-1 for that.

It's unnecessary for security to calculate a SHA-1 value in this scenario, but I

[2018-11-09 12:47] simonbutcher commented on #8638
Based on @gilles-peskine-arm's analysis of the certificate chain, this is effectively by design because your root certificate is using SHA-1, therefore you need SHA-1. We may be able to remove it's use on the root certificate, but to me that sounds like an optimisation, not a bug. Or to put it another way, this is a limitation of the design.

I haven't studied this issue beyond reading the thread,

[2018-11-09 12:56] kjbracey commented on #8638
In this case, it is a simple test app using `TLSSocket` with default mbed OS config against `os.mbed.com`. So it's an out-of-the-box problem.

If not going to make the optimisation in mbed TLS, and `os.mbed.com` isn't particularly unusual in using this root CA, there may be an argument for enabling SHA-1 by default.

If we're going to give people an "easy-to-use" `TLSSocket`, it follows we should

[2018-11-09 13:07] 0xc0170 commented on #7804
@NeilMacMullen Is this still valid issue and present on master?

[2018-11-09 13:08] simonbutcher commented on #8638
This is probably a terribly naive question, but why can't we fix the cert chain? Why this CA? Why this root?

[2018-11-09 13:25] janjongboom commented on #8638
@sbutcher-arm But we don't control which CAs people use, and:

[code]

Is an unhelpful message with no indication that you need to enable something in your TLS config.

And further I second @kjbracey-arm's message. If we're adding an API like this it should 'just work'. Like everything else in Mbed OS. Or provide very clear guidance if people need to enable certain ciphers.

[2018-11-09 13:49] mprse opened #8691 "tests-mbed_hal-rtc_time_conv randomly fails on CI"
### Description

Target: `NRF52_DK`
Toolchain : `All`

Test `tests-mbed_hal-rtc_time_conv` randomly fails on CI. This test sends lots of data between host and the device using UART and sometimes the transmission is broken.

It looks like the issue has been first time caught in PR https://github.com/ARMmbed/mbed-os/pull/8292 and then after the PR has been merged, the test started to fail on CI.

##

[2018-11-09 13:52] 0xc0170 commented on #8691
@marcuschangarm Have you experienced any issue ?

@ARMmbed/mbed-os-hal Can you help reviewing this bug ?

[2018-11-09 14:53] hanno-becker commented on #8638
The problem seems to be that the [X.509 OID for SHA-1](https://github.com/ARMmbed/mbedtls/blob/mbedtls-2.13.1/library/oid.c#L336) is defined only if `MBEDTLS_SHA1_C` is defined, leading to CRT parsing failure as seen in the log. As far as I see, neither CRT parsing nor the CRT chain verification would actually need to calculate the hash of the self-signed trusted CRT, so there shouldn't be a need

[2018-11-09 15:39] kjbracey commented on #8638
Fishing for alternatives to increasing fixed table overhead.

Why does the signature algorithm OID need to be recognised anyway if you're not going to process the signature? Could the OID lookup be deferred until the point you know you're checking it?

Or, if it's parse first, process later, how about having a dummy "unknown" signature primitive that always fails operations? That could be assigned

[2018-11-09 15:49] hanno-becker commented on #8638
@kjbracey-arm It should be possible to store the [unparsed signature OID](https://github.com/ARMmbed/mbedtls/blob/development/include/mbedtls/x509_crt.h#L60) and defer parsing it to when the signature needs to be verified. However, it might be that the logic for this postponed parsing is larger in code than the OID table entries we're trying to eliminate - but this would need more careful evaluati

[2018-11-09 16:05] hanno-becker commented on #8638
Yes, that could indeed be a cheaper alternative, with only a small code overhead.

[2018-11-09 16:14] ciarmcom commented on #8691
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-150*

[2018-11-09 18:03] kourm opened #8695 "Non-matching return type in enet_tasklet_disconnect"
### Description

The function declaration of [enet_tasklet_disconnect](https://github.com/ARMmbed/mbed-os/blob/00fcdb87e65a6336318b50822de69dfd84cdd332/features/nanostack/mbed-mesh-api/source/include/enet_tasklet.h#L28) and the [definition](https://github.com/ARMmbed/mbed-os/blob/00fcdb87e65a6336318b50822de69dfd84cdd332/features/nanostack/mbed-mesh-api/source/ethernet_tasklet.c#L259) don't match.

[2018-11-09 18:23] marcuschangarm commented on #8691
* Our CI infrastructure doesn't support UART flow control.
* The NRF52 doesn't claim to support the RTC API.

[2018-11-09 19:03] mprse commented on #8691
Yes the RTC is disabled on NRF52_DK. If the RTC is not supported but lp ticker is available, then rtc API is available and is using lp timer. Mainly this is also not the case of this test. This test verifies functions which only supports RTC. These are the time conversion funcions which converts unix timestamp to date/time and vice versa. They do not perform hw operations and the test is executed

[2018-11-09 19:58] marcuschangarm commented on #8691
The PR fixes hardware flow control for the NRF52. But since we don't have hardware flow control on the CI the code is inert during morph test.

[2018-11-09 20:08] elm3 commented on #8695
I have created a PR (https://github.com/ARMmbed/mbed-os/pull/8698) to fix this.

[2018-11-09 21:08] ciarmcom commented on #8695
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-152*

[2018-11-10 13:30] kourm commented on #8695
FYI, the arguments also don't match

[2018-11-11 15:20] RonEld opened #8706 "Build failure when building on Windows \ mingw"
### Description
Build fails, with the following error message:
`[Fatal Error] mbed_fault_handler.c@23,10: platform/mbed_error.h: No such file or directory`
When building on Windows. I have tried both with Windows command and with Git bash ( using Mingw)
The toolchain used is GCC_ARM
I have tried building both on K64F and on NRF52840_DK.

I believe the failure originates from the commit 14a98245111

[2018-11-11 16:12] ciarmcom commented on #8706
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-156*

[2018-11-12 02:03] AGlass0fMilk commented on #7674
I have started my own implementation of USBPhyHw for the nRF52840 target. You can check out my code here:
https://github.com/AGlass0fMilk/mbed-os/tree/nrf52840-usb-hal

[2018-11-12 02:05] AGlass0fMilk commented on #7674
The current implementation is not functioning yet. I am having issues with hard faults when connecting USB. I am also not sure if my implementation completely follows the HAL spec.

If anyone could help it would be appreciated. I would love to see USB support for the nRF52840 out of the box for Mbed.

[2018-11-12 09:23] orenc17 opened #8710 "Build failure for FUTURE_SEQUANA_M0 with PSOC6_DYNSRM_DISABLE=1"
### Description

Failure in compilation of FUTURE_SEQUANA_M0 with -DPSOC6_DYNSRM_DISABLE=1 on GCC_ARM
i'm getting undefined reference to DEFAULT_DIVIDER8_RES in targets\TARGET_Cypress\TARGET_PSOC6\psoc6_utils.c line 142

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

@lrusinowicz

[2018-11-12 10:26] simonbutcher commented on #8638
@janjongboom - Then Add SHA-1 back into the configuration for sample. Makes it bigger, but it will also make it work.

[2018-11-12 10:52] mpg commented on #8638
@SeppoTakalo

I'm sorry, my comment is quite unrelated to the main issue here, but this log feels quite wrong to me: why doesn't it stop at the first error? As a matter of principle you should never attempt a handshake if anything went wrong while setting it up. This is bad security hygiene and could have very serious consequences if other errors are ignored. (For example, continuing after errors

[2018-11-12 11:04] kjbracey commented on #8638
This is "user error" - it's the example application from https://github.com/ARMmbed/mbed-os-examples-docs_only/pull/11 that fails to check the return code from `TLSSocket::set_root_ca_cert()`.

Not sure we need to take any further action in `TLSSocketWrapper` - if there has been no successful call to set the CA chain, then we rely on mbed TLS itself complaining. The wrapper can't be expected to ha

[2018-11-12 11:38] ciarmcom commented on #8710
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-158*

[2018-11-12 11:48] mpg commented on #8638
@kjbracey-arm Thanks for the info! I agree the problem lies in the example application. Can you make sure it's fixed in the PR before it's merged? We want our examples to show good practices.

In the longer run, I agree it could be a good idea to have a "save users from themselves" lock in the wrapper as you say, but you guys can think about it later.

[2018-11-12 13:14] mfatiga opened #8714 "STM32L4 - using TICKLESS and serial (UART - AT cellular) losing characters"
### Description

I seem to be experiencing loss of characters sent/received through UART when communicating with the BG96 modem and when I have TICKLESS mode enabled. I have noticed this by viewing traces when connecting to a network. When I disable TICKLESS mode, the modem connects and works perfectly.

I am using a custom target based on `STM32L476VG` and I'm using the `GCC_ARM` toolchain. I hav

[2018-11-12 13:18] 0xc0170 opened #8715 "netsocket: networkinterface status failures"
### Description

Tracking issue for latest test failures we noticed in recent PR.

Targets: K64F, NUCLEO_F429ZI, ARCH_PRO, NUCLEO_F207ZG
Compilers: all

First CI test job that had this failures is 3370. One of the latests test logs can be seen here https://github.com/ARMmbed/mbed-os/pull/8335#issuecomment-437728165

@mikisch81 was able to reproduce this on master. I suspected initially networking

[2018-11-12 13:19] 0xc0170 commented on #8715
cc @ARMmbed/mbed-os-maintainers

[2018-11-12 13:25] mikisch81 commented on #8715
Reproduced it with latest master branch:
[code]

[2018-11-12 13:49] 0xc0170 opened #8716 "mbed test: fails to build for GCC ARM"
### Description

OS: windows 10

GCC ARM: 6.3.1 20170620

master, sHA: 0404701b5 - (HEAD -> master, upstream/master) Merge pull request #8694 from cmonr/rollup (3 days ago)

Command to reproduce:
`mbed test -m NUCLEO_F401RE -t GCC_ARM -n tests-mbed_platform-system_reset`

My mbed OS folder is C:\Code\mbed-os (might help if paths are issue here)

Errors I have seen:

[code]

or other similar issues

[2018-11-12 13:59] kapi90 commented on #8716
Hi, I've been having a slightly different error message:

[Fatal Error] mbed_fault_handler.c@23,10: platform/mbed_error.h: No such file or directory
[DEBUG] Return: 1
[DEBUG] Output: .\cmsis\TARGET_CORTEX_M\mbed_fault_handler.c:23:10: fatal error: platform/mbed_error.h: No such file or directory
[DEBUG] Output:  #include "platform/mbed_error.h"

Environment:

OS Name:                   Microsoft W

[2018-11-12 14:15] ConradBraam commented on #8716
Believe this is caused by a response file we use in the toolchain getting too large, the response file contains all include paths, which might just be exceeding the limit the compiler supports. It may be possible to workaround this by placing a .mbedignore file into folders that you can explicitly omit. https://os.mbed.com/docs/v5.10/tools/ignoring-files-from-mbed-build.html . I am sure that more

[2018-11-12 14:22] cmonr commented on #8716
@ConradBraam That's roughly correct. There are two family of issues that are being worked on in regards to Windows compilation, and GCC on Windows is one of them.

The specifics are that when GCC includes its .include file, a subshell is spawned, and all of the parameters in the file are put onto the command line. The problem then comes in that Window's CreateProcess call has a character limit (a

[2018-11-12 14:24] 0xc0170 commented on #8715
@mtomczykmobica Noticed you were not part of ipcore, mention separately

[2018-11-12 14:29] 0xc0170 commented on #8715
Latest test results (completed few mins ago): https://github.com/ARMmbed/mbed-os/pull/7755#issuecomment-437896519

[2018-11-12 14:43] ConradBraam commented on #8716
Concur , I tried the .mbedignore trick, and it did not help, better to roll back to the last release until resolved.

[2018-11-12 15:06] cmonr commented on #8715
Update.

Going back to the merge commit generated when it was first merged into Mbed OS still fails.

[code]

Good news: Master is fine.
Bad news: Austin CI networking is not.

[2018-11-12 15:08] studavekar commented on #8715
@cmonr it's just CI or Austin network ?

[2018-11-12 15:11] cmonr commented on #8715
Fyi, the first failure was seen here, but it looks like it was also aborted.
http://mbed-ci-master-2.austin.arm.com:8081/job/test_matrix_raas/3369/

[2018-11-12 15:11] cmonr commented on #8715
Thinking about it, I don't know. I'd wager it's not just CI, since I was able to easily reproduce it locally.

[2018-11-12 15:14] cmonr commented on #8715
Don't think it's either, since @0xc0170 was also able to reproduce the problem, but he's just a tad bit not in Austin.

[2018-11-12 15:21] AGlass0fMilk commented on #7674
I added code from SDK 15.2 to fix the hang when enabling USB. The issue was related to errata 171 and 187 in the nRF52840 production IC.

I suspect the hard fault on reset when USB is already plugged in is caused by some USB interrupt happening before the rest of the USB stack has been initialized. There are a few other issues that are keeping it from working.

[2018-11-12 16:04] cmonr commented on #8715
Another update.
Re-ran tests while of the internal network, and the issue is still present. I suspect that ssomething external the the test depends on recently changed.

[2018-11-12 16:14] ciarmcom commented on #8716
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-159*

[2018-11-12 16:14] ciarmcom commented on #8715
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-160*

[2018-11-12 16:14] ciarmcom commented on #8714
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-161*

[2018-11-12 16:18] cmonr commented on #8715
Running verbosely shows an assert fails with -3010, a NSAPI_ERROR_DHCP_FAILURE.

[code]

[2018-11-12 16:26] cmonr commented on #8715
Stepping back and wondering if this is still an ARM-network thing.
The non-ARM-network testcase that I ran was via 1) Windows network bridging, and 2) phone tethering as an AP.

There's no telling else that test setup might have blocked.

[2018-11-12 16:26] jeromecoutant commented on #8184
This issue should be fixed by #8551
Thx

[2018-11-12 16:54] elm3 commented on #8290
Hello Aidan,

Have you had any luck with this issue?  did the suggestion by @theotherjimmy help?

Thanks,
Earl

[2018-11-12 17:25] 0xc0170 commented on #8184
Please test and reopen if there is still issue

[2018-11-12 17:25] #8184 closed, assigned to nobody

[2018-11-12 17:30] 0xc0170 commented on #7674
Do you keep track of issues you are having ?

cc @c1728p9 (might be interested in this)

[2018-11-12 17:32] mattbrown015 opened #8720 "LoRaWAN: Uplink Frame Counter Not Incremented After Last Retry of Confirmed Message"
### Description

If the ack for a confirmed message is not received the message will be resent without incrementing the uplink frame counter.  OK :-)

Once the confirmed message retries have been exhausted the message will be discarded and the next new message sent.  AFAICT, the frame counter should be incremented before sending the new message but it isn't.

I set the confirmed message retries to

[2018-11-12 17:58] cmonr commented on #8715
@mikisch81 Do you think you can retest? It _seems_ that the issue has been resolved.
We're waiting for someone to come back from lunch to figure out the why and how.

[2018-11-12 19:05] mikisch81 commented on #8715
@cmonr not in the near future as I am no longer in the office..

[2018-11-12 19:12] AGlass0fMilk commented on #7674
I have been in my head so far :) I just started this over the weekend so I haven't had much time to formally write up issues. I'll document them here shortly.

[2018-11-12 20:03] cmonr commented on #8715
@mikisch81 That's alright, when you get time.

The leading theory appears to be that something strange happened with DHCP requests, and letting the leases expire caused things to start working again.

Will keep this open for now, but it seems that the problem resolved itself :/

[2018-11-12 20:07] cmonr opened #8721 "Mac address uniquely set prior to running tests?"
### Description

Do the network interface tests set mac addresses such that IP leases don't collide across multiple devices? Or do the network interfaces not need to be unique?

While looking at https://github.com/ARMmbed/mbed-os/issues/8715, I was able to find MAC addresses that looked suspiciously like VID/PID pairs.

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2018-11-12 20:34] deepikabhavnani commented on #8716
FYI @samchuarm @M-ichae-l  - Please follow this to get updates on GCC compiler issue

[2018-11-12 20:35] marcuschangarm commented on #7674
@TacoGrandeTX

[2018-11-12 20:42] cmonr commented on #8715
Interesting. Problem has come back.

[2018-11-12 21:03] #7804 closed, assigned to nobody

[2018-11-12 21:08] ciarmcom commented on #8720
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-163*

[2018-11-12 21:31] cmonr commented on #8716
@0xc0170 @kapi90 When submitting bug reports, please remember to use as much verbosity in your commands as possible.

[2018-11-13 07:58] KG-91 opened #8724 "Build failure while running greentea test"
### Description

Getting Build failure in my PC, while running green tea test. Let me know how to fix it.
Target: STM32F446RE
Toolchain: ARM

Software and versions
- Windows		    : 8.1 pro – 64 bit
- Python		    : 2.7.10
- Mbed-cli		    : 1.8.2
- Greentea		    : 1.4.0
- Mbedhtrun		    : 1.4.2
- Pip			    : 18.1
- Git Bash(git)		: 2.5.1.windows.1

Attached
1. build failure log
2. log of $pip list

[2018-11-13 08:16] bcostm commented on #8724
Your build log indicates an old compiler version not supported:

Compiler version mismatch: Have 5.05; expected version >= 5.06 and < 5.07

[2018-11-13 08:36] SeppoTakalo commented on #8721
MAC addresses cannot be set by the applications.

Mbed OS provides macros to supply build time addresses, but those are all zero: https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_interface.h#L36..L43

So drivers rely on [mbed_mac_address()](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_interface.c#L94..L124) which is weak symbol.

I don't know whether platforms supply th

[2018-11-13 08:37] SeppoTakalo commented on #8715
[code]

[code]

[2018-11-13 08:47] 0xc0170 commented on #8716
Adding test with verbosity:

[code]

[.includes_9a157cc3ee920e8c9037a272ef2a4548.txt](https://github.com/ARMmbed/mbed-os/files/2575355/default.includes_9a157cc3ee920e8c9037a272ef2a4548.txt)

[2018-11-13 08:53] KG-91 commented on #8724
@bcostm

thanks for your reply
Getting same issue with GCC 6 tool chain also.

[build_failure_GCC_ARM_F446RE.txt](https://github.com/ARMmbed/mbed-os/files/2575374/build_failure_GCC_ARM_F446RE.txt)

[2018-11-13 08:53] jeromecoutant commented on #8721
In ST side:
https://github.com/ARMmbed/mbed-os/blob/0404701b5f5b9d2aff76432991c74a36bd80742c/features/netsocket/emac-drivers/TARGET_STM_EMAC/stm32xx_emac.cpp#L436

We implement a default function to get a unique MAC address based on the UEID,
but we give customer the possibility to implement their own function in mbed_otp_mac_address()

Regards,

[2018-11-13 09:12] 0xc0170 opened #8726 "K82F/KW24D: timeouts in CI in the last 4 runs - various tests"
### Description

Tests ( 3381-3383) show various failures for K82F and KW24D. Those I reviewed, show timeout (the test run for more than timeout was set). Most of tests have timeouts 60 seconds.

I run locally mbed hal sleep and mbed hal rtc test on K82F for ARM, all OK.

I am reviewing master commits, but no related changes within a week (targets code has not changed in the last 3 weeks much - on

[2018-11-13 09:16] KG-91 commented on #8724
Working fine with mbed-os-5.9.7 but creating an above issue when upgraded to mbed-os-5.10.3.

[2018-11-13 09:18] 0xc0170 commented on #8724
Can you run just one test and with verbose and share it ? I can't spot the error in the logs you shared

[2018-11-13 09:26] M-ichae-l commented on #8481
@michalpasztamobica
the two functions defined in the lib. It is actually from a ".c" file. You are calling is from a ".cpp" file. You may want to add the following code to include the ".h"

[code]

[2018-11-13 09:42] jeromecoutant commented on #8714
Hi
Maybe you can try to add a sleep_manager_lock_deep_sleep() call
somewhere in the cellular init procedure in order to avoid going into deepsleep ?

[2018-11-13 09:44] mfatiga commented on #8714
Hi!
Did that already, no difference. Also tried to set a different idle hook (empty) at boot, also no difference.

[2018-11-13 09:45] kjbracey commented on #8714
I would not expect deep sleep to be entered at all - both the console and the modem are using `UARTSerial` - ie buffered serial with an IRQ handler attached for reception. Both of those should be holding a deep sleep lock.

Deep sleep would only be possible if the modem is closed (possible) and the console input was somehow deactivated (not currently possible).

[2018-11-13 09:49] kjbracey commented on #8714
For test purposes if you're not using console input, you can of course set "platform.stdio-buffered-serial" to false, which would get rid of that lock. Downside is no output buffering.

We do need some mechanism to tell `UARTSerial` "output only" so it doesn't attach the Rx IRQ handler - then it would only hold the deep sleep lock while the TX buffer was occupied.

[2018-11-13 09:55] mfatiga commented on #8714
I don't have any problems with `UARTSerial` locking deep sleep, the modem is turned on only when sending data, and after that I disconnect, `delete` the instance of the `NetworkInterface` object, and turn off the modem power.
My problem is that the modem does not want to connect (UART is losing data) when TICKLESS mode is enabled.

[2018-11-13 10:15] kjbracey commented on #8714
I think the console will be disabling the deep sleep, and that sounds like it will ultimately be an issue for you.

But your character loss must be happening when deep sleep is disabled for the modem regardless - I was just bringing it up to note that Jerome's "try locking deep sleep" shouldn't affect anything.

The AT handler stuff in the modems doesn't have proper wake-up mechanisms anyway - the

[2018-11-13 10:27] mfatiga commented on #8714
@kjbracey-arm yeah, I'm at a loss too here.
I have tried to replace the idle function with:
 - an empty function
 - a function that just calls `Thread::yield()`
 - a function that calls `wait(1.0f)`

I also tried setting `lpticker_delay_ticks` to 0 to eliminate the lpticker wrapper, but it didn't make any difference.

I also suspect that the problem is somewhere in the ticker(s), but I don't have

[2018-11-13 10:31] kjbracey commented on #8714
You also have CTS/RTS. If that's functional (has a command been issued to the modem to enable its flow control?) then IRQ latency issues should basically be ruled out too. It shouldn't matter if we're sluggish to wait up, the modem should be waiting.

[2018-11-13 10:35] 0xc0170 commented on #8726
I took the binary from 3383 job for mbed_hal-lp_ticker, IAR (one that failed).

[code]

just in case one more, using again binary from the 3383 test job

[code]

@studavekar Please restart these 2 targets (possibly test locally that they work)

[2018-11-13 10:43] mfatiga commented on #8714
I have tried with and without configuring RTS and CTS pins, and it's the same. I don't see flow control is being enabled on the modem, I don't see that the integrated mbed driver is configuring it on the modem. I think that should be updated, so the driver automatically configures it when RTS and CTS pins are configured on a target.
But the problem is even detecting when the modem is turned on to

[2018-11-13 10:48] kjbracey commented on #8714
I would expect a `wait` in the idle function to kill the system - I believe RTX requires that there always be a "ready" thread, so idle has to always be "ready" - it can never wait for something.

Empty and yield would be fine. Just `__DSB(); __WFE(); ` would be a viable minimal "pause the CPU" implementation. Any of those should have the same basic effect - CPU active or frozen waiting for the ne

[2018-11-13 10:59] mfatiga commented on #8714
@kjbracey-arm I will try and measure how long the `UARTSerial::wait_ms` function is actually sleeping for.

[2018-11-13 11:38] ciarmcom commented on #8726
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-164*

[2018-11-13 11:38] ciarmcom commented on #8724
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-165*

[2018-11-13 12:00] mfatiga commented on #8714
@kjbracey-arm  It seems as the `UARTSerial::wait_ms` is not called at all because `ATHandler` is calling `_fileHandle->set_blocking(false);` in its constructor

[2018-11-13 12:01] kjbracey commented on #8714
Ah, good point. The wait is then occurring in `poll()` in mbed_poll.cpp. It's fundamentally the same though.

[2018-11-13 12:32] mfatiga commented on #8714
@kjbracey-arm I did some tests and measured the average time of execution of the `mbed_poll.cpp` `poll` function:

Values are in milliseconds, where `avgExec` is the average time of execution and `avgTimeout` is the average value of the `timeout` parameter:
`avgExec=51.134, avgTimeout=973.595`

[2018-11-13 12:39] kjbracey commented on #8714
The important thing for character loss is how long it spends in the `rtos::ThisThread::sleep_for(1)` call inside `poll`. Effectively that determines how often it polls the serial port for readability. If that goes significantly above 1ms, you'll be at the mercy of whatever hardware FIFOs the device has.

[2018-11-13 12:40] kjbracey commented on #8714
Or, indeed, I guess what ultimately matters is indeed how far spaced out the calls to the underlying `fh->poll()` are - the loop period.

[2018-11-13 12:41] mfatiga commented on #8714
I'll add more measurement and report.

[2018-11-13 12:47] kjbracey commented on #8714
The "proper wakeup mechanism" is very big TODO here. It is unfortunately non-trivial, at least if you want to be solid for the case of multiple threads all waiting on a single device. Polling every millisecond is pretty poor, but should be just about tolerable for a serial port at 115200, if we have a little bit of FIFO.

To do it properly we need to be able to broadcast a wakeup to all threads bl

[2018-11-13 13:05] jeromecoutant commented on #8716
Guilty commit seems to be 0cba0a34ddb1d470271acadfdd33170bab5ea717

[2018-11-13 13:09] mfatiga commented on #8714
@kjbracey-arm seems complicated... How would I go about solving the problem for my project? It is a critical issue and I need to find a solution... I did some measurement of the loops - values are in microseconds, where `avgOuter` is the average time of execution of the outer loop body and `avgInner` is the average time of execution of the inner loop body:
`avgOuter=991, avgInner=10`

[2018-11-13 13:10] AGlass0fMilk commented on #7674
I have been basing the `USBPhyHw` implementation for the nRF52840 off of t[his example from the Nordic SDK](http://infocenter.nordicsemi.com/topic/com.nordic.infocenter.sdk5.v14.2.0/examples_usb.html). It shows how to use the raw USBD HAL/Driver without Nordic's "class"-based USB profile system.

I'm in the middle of refreshing myself on [USB in a NutShell](https://www.beyondlogic.org/usbnutshell/

[2018-11-13 13:13] kjbracey commented on #8714
The wakeup stuff would be a potential solution if the problem was somehow due to the "1ms wait" massively overshooting. Maybe a proper RX IRQ would wake you up in time.  (It's possible you could just merge that branch in and it would work, but wouldn't surprise me if it needed some rebasing).

But 991us seems good, so maybe it's not really anything to do that. Maybe you can check for maximum, see

[2018-11-13 13:36] mfatiga commented on #8714
TICKLESS ON:
 - after 10-15 seconds of trying to connect: `avgOuter=992, avgInner=10, maxOuter=1205, maxInner=159`

TICKLESS OFF:
 - during connecting: `avgOuter=981, avgInner=10, maxOuter=1229, maxInner=29`
 - after connected: `avgOuter=1002, avgInner=10, maxOuter=5993, maxInner=29`
 - during data sending through UDP: `avgOuter=1007, avgInner=10, maxOuter=6004, maxInner=47`
 - after disconnect: `

[2018-11-13 13:42] kjbracey commented on #8714
Well, no significant difference there. Seems all the timing stuff is a red herring. Is it possible that the TICKLESS switch is somehow changing the behaviour of something else? How many bits of code look at the flag?

Or is it something daft like an uninitialised variable, so it's just code moving that is breaking/fixing it? Have you tried the different compilation profiles - release/develop/debug

[2018-11-13 13:52] mfatiga commented on #8714
I have tried using different compilation profiles, no difference.
The MBED_TICKLESS define is used only in `mbed_rtx_idle.cpp` and `mbed_power_mgmt.h`. I don't see any obvious problems there...

[2018-11-13 14:00] mfatiga commented on #8714
The only logical problem is with the OS tick, but I don't understand where or why. Because nothing else changes when enabling TICKLESS...

[2018-11-13 14:13] kjbracey commented on #8714
The OS tick ultimately has the job of waking up those `sleep_for(1)` calls (assuming idle has been nerfed so the CPU keeps running), so I would expect any problems with it to be visible there.

[2018-11-13 14:17] kjbracey commented on #8714
One possible thought, which I haven't really followed through - interrupt priority of LPTicker (used if tickless) versus SysTick. Do they have different priorities configured in the NVIC?

[2018-11-13 14:30] mfatiga commented on #8714
@kjbracey-arm where should I check that?

[2018-11-13 14:52] theotherjimmy commented on #8716
@jeromecoutant That PR was merged too soon (what a problem). https://github.com/ARMmbed/mbed-os/pull/8696 is the follow up. Perhaps that fixes this for you?

[2018-11-13 14:56] jeromecoutant commented on #8716
No, I think PR has been tested with linux CI, not windows...

[2018-11-13 15:01] theotherjimmy commented on #8716
@jeromecoutant What makes you think that this is a windows-specific problem? The file that @0xc0170 shared is 11KB, significantly smaller than the 32KB limit of the windows command line.

[2018-11-13 15:08] theotherjimmy commented on #8716
Fishy bit: `-I./` Perhaps this is the bug. (for what it's worth, #8696 removes the trailing `/` in this case).

[2018-11-13 15:08] kjbracey commented on #8714
`NVIC_GetPriority(SysTick_IRQn)` versus `NVIC_GetPriority(<whatever interrupt the lpticker uses>)`. You'd have to figure out the latter.

Seems that SysTick would probably be set very low priority, but lpticker might be high? Not sure why that would matter though.

[2018-11-13 15:19] mfatiga commented on #8714
[code]

I tried to find where the lpticker interrupt is set but I don't know enough about the structure of mbed to be able to do that. I don't understand how or where the lpticker is implemented for STM...

[2018-11-13 15:41] 0xc0170 commented on #8726
As @studavekar mentioned, we need to retest failures in tests (the 2 I shared were unfortunately timeouts, not asserts in tests).

[2018-11-13 15:52] cmonr commented on #8716
@jeromecoutant If you check out #8696, and do a clean rebuild, does the problem go away?

[2018-11-13 16:03] 0xc0170 commented on #8716
Retested with this PR - works for me. @ConradBraam does this PR fix it for you as well?

[2018-11-13 16:06] jeromecoutant commented on #8716
:+1:

[2018-11-13 16:42] studavekar commented on #8726
@0xc0170 I have cold booted the devices.

[2018-11-13 17:19] EduardShaid opened #8732 "error for TARGET=MTS_MDOT_F405RG"
Сannot export project for TARGET=MTS_MDOT_F405RG !!!
For all IDE there is always an error:  MTS_MDOT_F405RG not supported by ...

[2018-11-13 17:48] jamesbeyond commented on #8726
Hi @studavekar @OPpuolitaival, Quick question.
Can we control the target to cold boot from RaaS or CI?
Shall we cold boot the target everytime before it starts test?

[2018-11-13 18:02] studavekar commented on #8726
@jamesbeyond Austin lab doesn't have that capability, However new Oulu CI has so we are waiting for it to come live.

[2018-11-13 21:09] ciarmcom commented on #8732
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-166*

[2018-11-13 21:50] aashishc1988 commented on #7484
@RobMeades you might be interested in this, https://github.com/ARMmbed/greentea/issues/103

[2018-11-13 22:00] cmonr commented on #8320
Fairly sure this issue is still relevant, but it's incredibly hard to reproduce.

[2018-11-13 22:12] #8232 closed, assigned to nobody

[2018-11-14 00:02] cmonr commented on #8715
Closing this since the problem seems to have _frustratingly_ gone away on its own...

Steadily working through the CI backlog.

[2018-11-14 00:18] theotherjimmy commented on #8706
Resolved by #8697, probably

[2018-11-14 00:22] theotherjimmy commented on #8277
@ConductedForce I think I fixed this a while ago. Could you try again?

[2018-11-14 06:32] RonEld commented on #8706
@theotherjimmy I have tried to get your fix to check it, but for some reason the commit id is not recognized, and I cannot pull your branch into my local branch for testing.
I am not sure the PR fixes this issue though, according to the fix description, it is about ignored libraries for online compiler.
I was compiling using mbed cli. I *think* it is related to included headers in files, that are

[2018-11-14 08:22] 0xc0170 commented on #8726
I can close as resolved (cold boot) helped but one question: @studavekar did we find out what has happened to the devices?

[2018-11-14 08:27] 0xc0170 commented on #8716
The fix was integrated. @ConradBraam @kapi90 Please can you test now master  if it works for you?

[2018-11-14 08:27] KG-91 commented on #8724
running only one test is working fine. When running all testcases then it is including the testcases which should not build.

All working fine after changing the root directory of mbed-os, wondering how directory change salved issue.

[2018-11-14 08:48] kjbracey commented on #8714
I've realised I was talking nonsense to some extent above - the 1ms periodic poll is to check the UARTSerial receive buffer, not the serial port itself. The data is transferred from the actual serial port into the buffer via UART RX interrupts.

So what I'm now thinking is that the serial interrupt is being starved in the tickless system. Presumably the lpticker interrupt is the same priority or h

[2018-11-14 08:50] hasnainvirk commented on #8720
@mattbrown015 This is interesting. Because the premise is that if all the retries are exhausted, that means its highly likely that the base station is not responding and if the node have missed all the acks that means there is something wrong with the node timing. Can you please refer me to a section in the spec where it says that after max number of retries, frame counter should be incremented ?

[2018-11-14 08:53] kjbracey commented on #8714
For your own experiments, you could try raising the priority of the serial interrupt or lowering that of the lpticker.

LPTicker seems to be `LPTIM1_IRQn` - set its priority to `0xFF`

[2018-11-14 09:28] mfatiga commented on #8714
@kjbracey-arm Thank you very much for all your suggestions and effort! 👍 I hope we will be able to fix this, the deadline for my project is near, so I have to solve this issue somehow.

I will try to test your suggestion as soon as I get time and will post results, I have some other stuff to deal with on Android right now :-)

[2018-11-14 09:33] bcostm commented on #8724
Maybe the directory path was too long before ?

[2018-11-14 09:37] kapi90 commented on #8716
@0xc0170 Yes, this latest fix seems to resolved the issue on my side.

[2018-11-14 10:16] NirSonnenschein commented on #8691
Note: this is still happening:
http://mbed-os-logs.s3-website-us-west-1.amazonaws.com/?prefix=logs/7309/3396
Any updates on this issue?

[2018-11-14 10:40] ConradBraam commented on #8716
Sorry, I got busy, resolved for me too.

[2018-11-14 10:50] kjbracey commented on #8714
I've looked at it a bit more - the LPTicker interrupt handler does just generate the SysTick interrupt in software using ICSR.PENDSTSET, so there's no real RTOS work being done at the higher LPTicker interrupt level. And it appears that the code is attempting to make that SysTick be low priority as usual.

But maybe there is still enough time spent in the HAL and platform layers processing the lpt

[2018-11-14 11:46] mattbrown015 commented on #8720
Hi @hasnainvirk,

I agree that this is a tricky edge case but believe the point is valid nonetheless.

I don't think LoRaWAN 1.0 covers this scenario explicitly but from "4.3.1.5 Frame counter (FCnt)":

Unfortunately "18.1 Uplink Timing Diagram for Confirmed Data Messages" shows the ack being received after the first retry and therefore doesn't illustrate what I'm saying.

AFAICT, the number of re

[2018-11-14 11:49] SeppoTakalo commented on #7292
Fix has been submitted in #8645 so this can be closed.

[2018-11-14 11:51] #7292 closed, assigned to nobody

[2018-11-14 12:05] adbridge commented on #8716
Seems to be fixed by #8696 so closing

[2018-11-14 12:05] #8716 closed, assigned to cmonr

[2018-11-14 12:07] mattbrown015 commented on #8720
I've just tried running with confirmed message retries set to 0.  I didn't have to do anything to ensure the downlink where missed, I just left it running and after 6 messages the downlink ack was missed.

The 7th message was transmitted with the same *FCntUp* as the 6th even though retries are set to 0.  TTN thought it was a retry because of the repeated *FCntUp* but the payload was different.

E

[2018-11-14 12:45] KG-91 commented on #8724
Yes, directory path was long. Thanks @bcostm and @0xc0170

[2018-11-14 12:45] #8724 closed, assigned to nobody

[2018-11-14 13:32] daniel-cesarini-tridonic-com opened #8741 "[QUESTION] CoAP De-Duplication mechanism testing"
### Description

How is the testing of CoAP De-Duplication mechanism being done?
Namely, how can you / we test whether setting SN_COAP_DUPLICATION_MAX_MSGS_COUNT to a value greater than 1 is actually causing CoAP packets that are duplicated to being dropped?

I am asking because we want to integrate a specific regression test into our testing suite, and would like to understand what approach is us

[2018-11-14 13:34] daniel-cesarini-tridonic-com commented on #8741
FYI: @SeppoTakalo @anttiylitokola (as I saw you committed to this directory).

[2018-11-14 14:13] DBS06 commented on #7240
@stevew817 Did something happen on this issue?

[2018-11-14 14:19] mfatiga commented on #8714
I have looked at the stm32L4 HAL LPTIM source code and understand very little. I don't know where to begin and what should I look at. I compared some parts with the info from the datasheet and it seems to be correct...
What are my options? How would I debug it and see if the serial interrupts are being ignored?

[2018-11-14 14:21] jeromecoutant commented on #8714
@c1728p9

[2018-11-14 14:21] kjbracey commented on #8714
Add `NVIC_SetPriority(LPTIM1_IRQn, 0xFF)` somewhere in its init code, when it makes the other NVIC calls on that interrupt. That will lower the priority to the same as SysTick, and maybe make the symptoms go away, if my theory is correct.

[2018-11-14 14:33] theotherjimmy commented on #8706
@RonEld That fix has the side effect/desired effect of correctly handling paths of length 1, specifically `.`.

See the discussion in https://github.com/ARMmbed/mbed-os/issues/8716

That's exactly the code that the fix touches, so good guess.

[2018-11-14 14:37] mfatiga commented on #8714
I added `NVIC_SetPriority(LPTIM1_IRQn, 0xFF);` to `mbed-os\targets\TARGET_STM\TARGET_STM32L4\lp_ticker.c` above the `NVIC_SetVector(LPTIM1_IRQn, (uint32_t)LPTIM1_IRQHandler);` line in the `void lp_ticker_init(void)` function inside the `#if MBED_CONF_TARGET_LPTICKER_LPTIM` block.

It didn't help, still losing characters.

[2018-11-14 14:54] mfatiga commented on #8714
I tried to use `NVIC_GetPriority(LPTIM1_IRQn);` in my `main()` function to check if the value is set and it returns `0x0F` as the priority instead of `0xFF`.

I replaced my `NVIC_SetPriority(LPTIM1_IRQn, (uint32_t)0xFF)` line with:
[code]
And it crashes, should that happen? Shouldn't the GetPriority function return the same value as was set the line before using the SetPriority function?

[2018-11-14 14:57] RonEld commented on #8706
@theotherjimmy Thanks for the clarification!

Unfortunately I couldn't test your fix, so I will test it once the fix is merged to confirm.

[2018-11-14 15:02] kjbracey commented on #8714
The `NVIC_Get/SetPriority` API is a bit bonkers. The registers are designed so that the most significant bits matter if the chip only has 16 priority levels.

The API shifts it so you specify priorities 0x0-0xF on a 4-bit priority system, rather than 0x00-0xF0, totally defeating the point of the hardware register design.

So that's what I'd expect. It's fine as long as you're trying to specify min

[2018-11-14 15:03] mfatiga commented on #8714
@kjbracey-arm Oh, ok, understood.

[2018-11-14 15:03] SeppoTakalo commented on #8610
Fixed in https://github.com/ARMmbed/mbed-os/pull/8659 which will bring in the `DTLSSocketWrapper` and `DTLSSocket` classes.

[2018-11-14 15:26] studavekar commented on #8726
@0xc0170 nothing specific as it started working again.

[2018-11-14 15:42] cmonr commented on #8706
@RonEld Does master not work for you?

This appears to be really similar to https://github.com/ARMmbed/mbed-os/issues/8716, which was resolved with a recent commit.

[2018-11-14 15:56] mfatiga commented on #8714
@kjbracey-arm Is there any option to switch between TICKLESS and non-TICKELSS mode at runtime? Should that even be done? I'm running out of options and don't know what else to do.

[2018-11-14 16:38] #8312 closed, assigned to nobody

[2018-11-14 17:19] aashishc1988 commented on #7572
@jeckypei Does Kevin's comment answer your question?

[2018-11-14 18:32] RonEld commented on #8706
@cmonr I have just updated my master branch, with the fix from #8696 and the issue seems to be fixed.
I agree this is a duplicate of #8716, which I have missed when opening this issue

[2018-11-14 18:32] #8706 closed, assigned to nobody

[2018-11-15 00:30] c1728p9 commented on #8714
I took a look at this and was able to reproduce dropped characters when tickless is turned on when using a NUCLEO_L476RG at 115200 baud. On this board the failures were due to overrun errors caused by ```lp_ticker_set_interrupt``` (used by tickless) taking too long to execute.

@mfatiga a quick test you can do to confirm that you are seeing this same problem is to run tickless off the microsecond

[2018-11-15 02:18] jeckypei commented on #7572
OK。 let me try UARTSerial which don't block between input and output .

Thanks .

At 2018-10-18 16:14:42, "Kevin Bracey" <notifications@github.com> wrote:

Serial has many problems - use UARTSerial instead. If it's for the console, preferably by turning on platform.stdio-buffered-serial and just using printf/scanf etc.

I wasn't really aware of this particular problem.

UARTSerial also has a (poss

[2018-11-15 07:40] #8726 closed, assigned to nobody

[2018-11-15 08:27] kjbracey commented on #8714
Thanks, Russ. I was going to suggest instrumenting to see if `SysTimer::handler()` was somehow taking too long, but looks like you've already found it does. And because it claims a critical section, lowering its priority wouldn't have helped.

Presumably if we do switch to `us_ticker` for the test, the idle function will still need to be replaced with null, or a deep sleep lock will need to be hel

[2018-11-15 09:04] M-ichae-l commented on #8481
Please refer to #8750 for the fix.

[2018-11-15 09:07] hasnainvirk commented on #8720
In my opinion this should not be an issue. The spec says that it is the node's discretion to either move on i.e., increment the frame counter or don't do it. If all the retries failed, from the node's perspective, it still has not sent the given message and hence the frame counter is not incremented.
I agree it wouldn't harm to increment the frame counter but I would also argue that not increment

[2018-11-15 09:39] mfatiga commented on #8714
@c1728p9 Yes! I have tested your suggestion about replacing `lp_ticker` with `us_ticker` in `SysTimer` and I have no more character loss.
@kjbracey-arm @c1728p9 Should there exist some kind of construct similar to deep_sleep_lock that would switch to the SysTick for code that deals with fast interrupt-based logic (fast serial, etc.). I wouldn't add calls to it anywhere in the mbed API, just provid

[2018-11-15 09:55] kjbracey commented on #8714
Can you try the alternative of leaving it using lpticker, lowering the priority as previously tried, but removing the critical section from `SysTimer::handler`.

If the lpticker setup is taking that long, it's going to potentially cause all sorts of problems if ever used from normal interrupts or critical sections - and I bet it is in other places. I would say the implementation should be improved

[2018-11-15 10:30] mfatiga commented on #8714
@kjbracey-arm I have tested your suggestion and it doesn't work.
I agree with you, lp_ticker should only be used when in deep sleep, otherwise the SysTick should be used.
I don't see a mention of a hardware FIFO for STM UART anywhere. Would maybe using DMA help?

[2018-11-15 10:38] kjbracey commented on #8714
Ah, there are more critical sections on the path - `SysTimer::schedule_tick`, and `ticker_insert_event_us`. It's critical sections all the way down. Looks like `lp_ticker_set_interrupt` will always be called in a critical section, no matter who schedules the timer, so it's going to cause problems even if called from thread context.

Sadly, UART DMA also often has its own set of problems. Many devi

[2018-11-15 10:49] mfatiga commented on #8714
Thank you for the info about DMA, didn't know that.
So, the solution here would be to use SysTick when not in deep-sleep. How would one go about implementing that? What implications would switching the tick source in runtime have on the internals? Would that break anything?

[2018-11-15 10:56] M-ichae-l commented on #8081
@SeppoTakalo
I have followed your process. However, I am not able to produce the error with all three compilers (GCC, ARM, and IAR). My side the UART is working perfectly. Could you please check again?  Thank you.

[2018-11-15 11:12] kjbracey commented on #8714
I believe lpticker for this platform needs to be improved regardless. Quite a few bits of code do use it if available, and if it causes enough IRQ latency to cause UART character loss every time they do, that's not acceptable.

So I'd say the most important thing to do first is speed up STM's `lp_ticker_set_interrupt`.

For SysTick, conceptually it would mean dropping the `OS_Tick` overrides in mb

[2018-11-15 12:00] NirSonnenschein opened #8752 "lots of sporatic network test failures in CI"
### Description
Tracking issue for latest test failures we noticed in recent PR.

the CI is currently suffering from lots of spurious networking issues failing all the recent test runs:
the latest 4 runs failed:
http://mbed-os-logs.s3-website-us-west-1.amazonaws.com/?prefix=logs/8647/3408
http://mbed-os-logs.s3-website-us-west-1.amazonaws.com/?prefix=logs/8190/3409
http://mbed-os-logs.s3-website-u

[2018-11-15 13:34] mfatiga commented on #8714
I suppose the `while (__HAL_LPTIM_GET_FLAG(&LptimHandle, LPTIM_FLAG_CMPOK) == RESET) { }` inside `lp_ticker_set_interrupt` is making it slow. It's probably there for a reason, don't know if it can be optimized.

Do you know who would be able to find a way of using lpticker only in deep-sleep mode? I don't think I would or should do this because I don't want to break anything, and also don't have e

[2018-11-15 14:20] jeromecoutant commented on #8714
Hi
Can you try https://github.com/ARMmbed/mbed-os/commit/6c6dd7b2e2b4899a57844b37cd429c09ffecce60
?
Regards,

[2018-11-15 14:38] 0xc0170 commented on #8674
There are currently no plans for supporting NRF91 series microcontrollers.

Contributions are welcome.

[2018-11-15 14:48] mfatiga commented on #8714
@jeromecoutant It seems to be working 👍 Can't believe it. Thank you!
@c1728p9 Can you please confirm it using the same test?  Thank you!

[2018-11-15 15:12] mfatiga commented on #8714
I measured the current consumption and it seems that everything is OK.
~~I tried to get sleep stats using `mbed_stats_cpu_get(&stats);` and the deep_sleep_time is 0, even though looking at the current consumption it seems that deep sleep is working, but that is not important for this issue.~~ Disregard that, was using develop build which meant that `debug` print calls were executed.
Deep sleep is

[2018-11-15 16:16] ciarmcom commented on #8752
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-168*

[2018-11-15 16:30] TacoGrandeTX commented on #7674
@AGlass0fMilk, @DL6AKU - We'll soon be releasing SDK15.0 peripheral driver support as a feature branch.  This first release won't have USB support but that is on our backlog.

[2018-11-15 16:42] NirSonnenschein commented on #8752
After a few hours of interruption this stopped happening for some unknown reason

[2018-11-15 18:24] cmonr commented on #8582
@daniel-cesarini-tridonic-com Do you still need more time to continue investigating this?

[2018-11-15 21:49] maclobdell opened #8758 "Executing test commands from below the top level project folder fails"
### Description

I'm running tests from a mbed-os repo.  My top level folder is /proj/maclobdell/mbed-os/.

If I create a directory (test_output in my case), cd into it, then launch the test command from in there, the tools  seem to jump out of the mbed-os repo (top level of this particular project) and get into other projects and get confused.

Note, that this folder contains a clone of mbed-os

[2018-11-15 21:49] maclobdell commented on #8758
cc @theotherjimmy

[2018-11-15 22:00] AGlass0fMilk commented on #7674
@TacoGrandeTX I will see what I can do in terms of getting a reliable USB HAL implementation working then. I don't think much changed in terms of functionality between SDK14.2 and SDK15 so my code should at least give you guys a place to start.

Hopefully I can take USB off your backlog :smiley:

[2018-11-15 22:37] TacoGrandeTX commented on #7674
@AGlass0fMilk Thank you so much - that will be great!  We also look forward to your comments on the feature release.

[2018-11-15 22:38] c1728p9 commented on #8714
Even with 6c6dd7b2e2b4899a57844b37cd429c09ffecce60 I still get uart overruns, thought they are much less frequent. I can confirm that the function ```lp_ticker_set_interrupt``` is no longer blocking.

I'm still seeing interrupt latency as high as 80us causing these overruns. @mfatiga would it be possible to run at a lower baudrate until this latency is addressed? If you could run the uart at 57600

[2018-11-16 02:22] ciarmcom commented on #8758
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-169*

[2018-11-16 06:34] daniel-cesarini-tridonic-com commented on #8582
@cmonr thank you for your patience. We are currently doing the migration to the newer version of mbed, and the process is still not finished, so in order to tell you whether we are fine with the solution / approach you proposed it will take us still more time.
If it is an issue for you to have this issue open on your side, feel free to close it. We are tracking it internally and will report in thi

[2018-11-16 07:06] mfatiga commented on #8714
@c1728p9 Thank you! The QUECTEL BG96 modem I'm using comes from the factory with the default baud rate set to 115200, and the mbed cellular stack doesn't currently support configuring the device baud rate, but I could hack something up :-)

[2018-11-16 07:22] Ronny-Liu opened #8765 "Multi socket 'send' with ESP8266 takes long time"
### Description

One of our customers reported this: Using ESP8266 with latest OS, created socket and connected to ESP8266 interface successfully.  Socket connect to a address successfully, after that, single socket 'send' looks normal, no matter how long the message being sent is.  If you try to call 'send' multi times, that takes very long time to complete.  (see below code snippet, which report

[2018-11-16 08:47] kjbracey commented on #8714
If messing with the cellular stack, I'd go for enabling the flow control first. Without it, I'd be wary of occasional loss even at 57600.

Unless you're using PPP, which is robust to occasional loss, you really need the modem comms to be 100% solid, and if you've no UART FIFO that definitely requires hardware flow control.

The lpticker fix may have eliminated the constantly-occurring latency prob

[2018-11-16 09:26] mfatiga commented on #8714
@kjbracey-arm Ok, I'll try to do that.
I am using `debug` and `debug_if` so my printf's are disabled when building using the `release` profile [https://os.mbed.com/docs/v5.9/reference/debug.html](docs).

[2018-11-16 09:28] kjbracey commented on #8714
But the console is still effectively enabled for input and output by the `platform.stdio-buffered-serial`, which means there is an Rx IRQ handler attached to that serial port, which means deep sleep is locked. As far as I'm aware. So you shouldn't be deep sleeping at all. Trying to figure this out...

[2018-11-16 09:31] mfatiga commented on #8714
I have read in the documentation that STDIO Rx IRQ is enabled on first printf, and that is the same behavior I am seeing when measuring power consumption. That's why I'm using `debug()` instead of `printf()` so I can see my logs when working with development or debug builds and they are disabled when using release builds.

[2018-11-16 09:31] mattbrown015 commented on #8720
Unfortunately it does cause us an issue.  We're using FCntUp to differentiate retries and new packets.  The network server and our application server may have received the packet while the end-device hasn't received the ack.  I.e. the network server may receive 2 identical uplinks containing identical data and we want to detect this.  Our application server was designed and tested using a 3rd pari

[2018-11-16 09:35] kjbracey commented on #8714
Would love a pointer to that documentation. That's a genuine surprise to me. And I've engineered a lot of the relevant code!

It presumably means the C library doesn't actually open `stdin` or `stdout` until they're used. Is that true for all toolchains?

[2018-11-16 09:49] mfatiga commented on #8714
I can't find it in the documentation, but I'm sure I've read it somewhere. I found this [https://os.mbed.com/docs/v5.8/tutorials/debugging-using-printf-statements.html](url)

Maybe I assumed that deep sleep lock is acquired only after the first `printf` because of this, but I can see by the power consumption that this is what is happening. That's why I'm using `debug()`

[2018-11-16 11:07] hasnainvirk commented on #8720
@mattbrown015 I can buy your argument. It brings no harm in incrementing the counter, so we can do it. I will patch as soon as I can.

[2018-11-16 11:38] ciarmcom commented on #8765
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-170*

[2018-11-16 12:01] mattbrown015 commented on #8720
Great! Thanks! :-)

I'm more than willing to help but I took a brief look at the code and thought it might be relatively complicated and 'out of my league'.

Let me know if I can be of any assistance.

[2018-11-16 12:26] mfatiga commented on #8714
@c1728p9 Will 6c6dd7b2e2b4899a57844b37cd429c09ffecce60 get merged or is this only a temporary solution?
@kjbracey-arm Should a new issue be opened related to extending the cellular stack with configurable baud rate and flow control on the cellular targets which support it?

[2018-11-16 12:33] jeromecoutant commented on #8714
Hi
PR for https://github.com/ARMmbed/mbed-os/commit/6c6dd7b2e2b4899a57844b37cd429c09ffecce60 is on going

[2018-11-16 12:35] kjbracey commented on #8714
Yes, I'd suggest a separate issue on baud rate + flow enabling for modems. That's a separate team.

[2018-11-16 13:23] mfatiga opened #8774 "Cellular: support for setting baud rate and enabling flow control on the target device"
### Description

Support for setting baud rate and enabling flow control on the target modem device is required for more stable UART communication with the device.
Flow control should be enabled automatically when MDMCTS and MDMRTS are set, as is enabled for the UART instance communicating with that device.

Loosely related to #8714.

@kjbracey-arm

### Issue request type

    [ ] Question
    [x]

[2018-11-16 15:49] cmonr commented on #8582
@daniel-cesarini-tridonic-com Gotcha. Thanks for the heads up.

We do track these issues internally. I'll go ahead and close this for now. Feel free to reopen or open a new issue when an update is available.

[2018-11-16 15:49] #8582 closed, assigned to nobody

[2018-11-16 15:54] theotherjimmy commented on #8758
Ah, there's the problem... Probably

[2018-11-16 16:14] ciarmcom commented on #8774
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-171*

[2018-11-16 16:43] kaidokert commented on #8544
changing

to

makes it work. Is a PR ok for this ?

EDIT: Nevermind, already addressed in master by 8d63ef6060332dc124d1ddea0ec40fe1d4e64d3c

#8146 is the same issue

[2018-11-16 17:10] jeromecoutant commented on #7756
Hi

I could see that mbed_lib_rev164 has been released
Whereas no test is possible....?

[2018-11-16 19:39] masoudr opened #8781 "RTC Problem on STM32F407VG"
### Description
I'm using an STM32F407VG board. I can set RTC time with mbed time library and I can read the time when the system has power. When I remove the power, It seems that the time doesn't proceed and I always get the last value for the time.
I've tested this function on Seeed Arch Max board (based on STM32F407VE) and it was fine. Do I need to add some parameters in `targets.json` file?

#

[2018-11-16 21:08] ciarmcom commented on #8781
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-173*

[2018-11-16 23:15] TacoGrandeTX opened #8783 "Using DEVICE_LPTICKER on STM32L486"
### Description

@jeromecoutant Could we please get some clarification on the removal of LPTICKER for some STM32L4 targets in https://github.com/ARMmbed/mbed-os/commit/c31a7c22774af7d315dc011b8f820f9b5361be7a ?

Are there precautions that can be taken to still make use of DEVICE_LPTICKER?

We have a customer interested in using MBED_TICKLESS with DEVICE_LPTICKER on a Advantech WISE-1570 (STM32L486

[2018-11-17 11:55] NeilMacMullen opened #8785 "NvStore does not correctly persist values through reset"
### Description

TARGET=UBLOX_EVK_NINA_B1 (nrf52)
TOOLCHAIN=GCC_ARM
MBED commit bf6f2c3c6434 (but also present at least as far back as commit a8abeccdacb019)

The NvStore implementation does not appear to persist values through a soft-reset.  It seems likely that it is mis-identifying the active page.  This may be related to increasing the max_keys count above the default.  The following code is s

[2018-11-17 11:57] NeilMacMullen commented on #8785
Adding @MarceloSalazar

[2018-11-17 15:17] Hoel opened #8786 "I2C write issue with AT24C EEPROM TIMEOUT or error in i2c_write HAL_I2C_ErrorCallback:4, index=0 on STM32L4"
Hi, i encounter a strange issue with MBED and a AT24C64 I2C EEPROM. The issue only appear on I2C write operation and only for the EEPROM, not on other I2C peripherals. The target is STM32L451CEU6, the I2C port used is PA9, PA10 with external 4.7K pullups.

I tried two different AT24C64 EEPROM with same result, for good measure i also tested an AT24C04, same error, so EEPROM error is not the cause

[2018-11-17 16:12] ciarmcom commented on #8786
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-175*

[2018-11-17 16:12] ciarmcom commented on #8785
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-176*

[2018-11-18 01:53] kaidokert commented on #8544
There is one more bug on this line:

https://github.com/ARMmbed/mbed-os/blob/master/tools/build_api.py#L391

Has `fmt = {"CRCITT32be": ">l", "CRCITT32le": "<l"}[subtype]`
Should be `fmt = {"CRCITT32be": ">L", "CRCITT32le": "<L"}[subtype]`

Currently throws errors randomly depending on the computed CRC value:
[code]

[2018-11-19 08:27] jeromecoutant commented on #8783
Hi

LPTICKER has not been removed... Feature has just been moved from target definition to family definition.

For MTB_ADV_WISE_1570,
you should remove "device_has_remove": ["LPTICKER"],

I can advice to check NUCLEO_L486RG configuration and add:
            "lpticker_lptim": {
                "help": "This target supports LPTIM. Set value 1 to use LPTIM for LPTICKER, or 0 to use RTC wakeup timer"

[2018-11-19 08:38] 0xc0170 commented on #8785
@ARMmbed/mbed-os-storage Please review

[2018-11-19 08:38] 0xc0170 commented on #8786
@ARMmbed/team-st-mcd Please rview

[2018-11-19 08:38] jeromecoutant commented on #8781
Hi
RTC is based on an external 32k clock called LSE.
Is this LSE well connected and powered on your board ?

[2018-11-19 08:48] AdamZhang0124 commented on #8124
Hi, @samchuarm and @SeppoTakalo, I have modified the buffer size to 20 and optimized memory location by editing the linker file.
The package loss ratio of the **udp burst tests** has now been reduced to the acceptable range.

Please also help to verify the performance from your side.

Files need to be modified:
1.	mbed-os\features\lwipstack\ lwipopts.h
#define PBUF_POOL_SIZE              20

2.	mb

[2018-11-19 09:00] AdamZhang0124 commented on #8124
Also, I always see the following ERROR when I am running the TCP burst test:
![image](https://user-images.githubusercontent.com/41885176/48695998-a3baca80-ec1b-11e8-9bf5-795484a1726e.png)
As the reason of this ERROR is uncertain, it will be much helpful if you have any idea or solution on that.
Many thanks!
The detailed test log is attached for your information:
[tcp19112018.txt](https://github.co

[2018-11-19 09:58] yplam opened #8792 "Configurable SPIF debug message level ?"
### Description

The components in mbed-os/components/storage/blockdevice/ folder use the global tr_info(), tr_debug() directly to print debug messages. It will be so many SPIF info messages if use the filesystem a lot. What about adding a configure option like littlefs mbed-os/features/storage/filesystem/littlefs/littlefs/lfs_util.h:

[code]

### Issue request type

    [ ] Question
    [ x ] Enh

[2018-11-19 10:04] samchuarm commented on #8124
Hi @AdamZhang0124 and @ARMmbed/team-realtek , any update on adding the config 'PBUF_POOL_SIZE' for RTL8195AM and ensuring it could resolve the netsocket failures? Thanks.

[2018-11-19 10:15] jreineckearm opened #8793 "Debugger Awareness with Keil MDK"
### Description

The RTX5 kernel requires statically allocated thread information objects that are placed into a specific section to enable RTOS thread awareness in Keil MDK. Please see the following page for more information:
https://www.keil.com/pack/doc/CMSIS/RTOS2/html/theory_of_operation.html

At the moment the "main" thread created when using mbedOS with an underlying RTX5 doesn't follow the

[2018-11-19 11:00] mattbrown015 commented on #8786
It may be completely unrelated but...

I see something similar when writing to our NFC tag (M24SR).  In my case it happens when performing a 0 byte write which is used to get the ack from the last transaction.  It is repeatable but I have to do several hundred writes to get it to happen.

I assumed the problem was with the NFC tag and still think it probably is but I'll be interested to see if any

[2018-11-19 11:11] LMESTM commented on #8786
hi @Hoel,
Could you also get a complete trace analyzer snapshot in case of a failure case ?
Also referring to @mattbrown015 comment, do you see request for 0 byte read or write ?

[2018-11-19 11:16] mattbrown015 commented on #8786
Oh, on a write.  I didn't write the code but I believe it is polling to see if the tag is ready.  Something like, write 0 bytes and if no I2C ack then the NFC tag is still busy.  If an I2C ack is received the NFC tag has finished the command.  Occasionally we get stuck in the polling loop and no I2C ack is every received.

[2018-11-19 11:38] ciarmcom commented on #8793
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-177*

[2018-11-19 11:38] ciarmcom commented on #8792
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-178*

[2018-11-19 12:48] LMESTM commented on #8786
@mattbrown015
if no ACK is ever received from your device, maybe the device has crashed ?
Note that the SYNC API supports the 0 case and this has been tested in the past. In the case of ASYNCH API implementation I'm not sure ...

In the past there was a precise check for this and it was removed by a user in commit 251459e8aab8966ce45179cc975ccaebc761fcde. the code was explicitely calling HAL_I2C_I

[2018-11-19 12:56] mattbrown015 commented on #8786
Yes, agreed, and at present I think that is the most likely scenario.

Sorry, I didn't mean to distract this issue from @Hoel's problem.  Mainly I just wanted to watch what happens on the issue while making a passing comment that I saw something similar.

[2018-11-19 13:02] Hoel commented on #8786
Helo,
Thanks for the replies.
I had no chance to work in the issue this morning, i will take some time in the afternoon.

However more test have been done after i posted the ticket. Also i rewrote the write, poll and read function with single packet I2C read/write commands wich gave more informations on what is going on.

The problem comes from the polling required to know when the byte writing is

[2018-11-19 13:12] #8619 closed, assigned to cmonr, bridadan

[2018-11-19 13:43] 0xc0170 opened #8799 "Config names separation consolidation"
### Description

This might not be a bug (are we leaving this open to a user to choose separators?), but rather documentation improvement

One example from our code base:

[code]

The result (preprocessor macro is the same , using _ as separator) but config is not - `random_max_start_delay` uses `_` but the rest not.

I noticed this as some recent PR had similar problem and look at older PR did no

[2018-11-19 13:50] SeppoTakalo commented on #8124
You should not modify the `lwipopts.h` file.
Instead add target override that changes the `MBED_CONF_LWIP_PBUF_POOL_SIZE` as other platforms do.

See: https://github.com/ARMmbed/mbed-os/blob/master/features/lwipstack/mbed_lib.json#L158

[2018-11-19 14:52] masoudr commented on #8781
@jeromecoutant. Thanks, Somehow I fixed the problem by setting `"lse_available": 1` in `targets.json` file. But I think it should be well documented at least in Mbed OS Time API.

[2018-11-19 14:54] LMESTM commented on #8786
Hi,

I would rather suggest to use the multi-byte API. The I2C driver and EEPROM drivers are regularly tested on STM targets using ci-test-shield program. https://github.com/ARMmbed/ci-test-shield

The reference eeprom driver that it uses is here:
https://os.mbed.com/users/mbed_official/code/I2CEeprom/file/973c4289c44c/I2CEeprom.cpp/

The polling logic in here is
[code]
I would suggest to try to r

[2018-11-19 14:59] jeromecoutant commented on #8781
This is not part of MBED API, this is only defined in STM32 level:

    "FAMILY_STM32": {
        "config": {
            "lse_available": {
                "help": "Define if a Low Speed External xtal (LSE) is available on the board (0 = No, 1 = Yes). If Yes, the LSE will be used to clock the RTC, LPUART, ... otherwise the Low Speed Internal clock (LSI) will be used",
                "value": "1"

[2018-11-19 15:09] Hoel commented on #8786
HI,
@LMESTM OK i will try the suggested waitForWrite and let you know the result.
i used two different drivers for the EEPROM with the same result (timeouts)
They are attached.
[EEPROM.zip](https://github.com/ARMmbed/mbed-os/files/2595815/EEPROM.zip)

EDIT: doesnt work, timeout, of course the write and read are working because of the super long 157 mS delay (printf debug trace).
![image](https://u

[2018-11-19 15:17] masoudr commented on #8781
@jeromecoutant You are right but it is overridden and set to zero for almost every stm32 based boards on `targets.json` file.

[2018-11-19 15:17] mattbrown015 commented on #8786
_Interestingly_ that's very similar to the M24SR driver that I'm using, [M24SR](https://os.mbed.com/teams/ST/code/M24SR/).

    M24SR::StatusTypeDef M24SR::M24SR_IO_PollI2C(void) {
        int status = 1;
        while (status != 0 ) {
            //send the device address and wait to recevie an ack bit
            status = dev_I2C.write(address,NULL,0);
        }
        return M24SR_SUCCESS;

[2018-11-19 15:21] LMESTM commented on #8786
@mattbrown015 the device may need a delay between various repeating requests  ?

[2018-11-19 15:26] Hoel commented on #8786
@mattbrown015
if i keep sending some dummy writes to 0xa0 to check status, about half way of the byte write, it hangs and everything is stuck forever (with no STOP and clock held low)

[2018-11-19 15:26] LMESTM commented on #8786
@Hoel I am not sure to understand ...
I would tend to think that the **HAL_I2C_ErrorCallback:4, index 0** printf typically will happen when you call to I2CEeprom::waitForWrite()  and the device is not ready yet.

The error reflects the NACK of the device that says to you it's not ready ... that is what is used to make sure that status is not OK.

If you now disable the debug logs in I2C driver, wo

[2018-11-19 15:42] Hoel commented on #8786
@LMESTM
as told intially, despite the timeout error messages it works, if i disable the debug it most likely will still work (i will check and confirm).

So do you mean it is the expected behaviour to have timeout error messages when using the I2C driver with a peripheral that relies on this wait-for-write mecanism?
That was not obvious to me when i see the timeout is not ellapsed and this is is a

[2018-11-19 16:01] LMESTM commented on #8786
@Hoel  :-)
I first thought that you activated DEBUG prints in I2C driver because you were facing issues ...

The **TIMEOUT or error in i2c_write** is a geneic message that is useful when debugging.
the **HAL_I2C_ErrorCallback:4, index=0** is more precise for checking actual error.
The error ID 4 is the one from STM32 HAL defined here:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_S

[2018-11-19 16:47] Hoel commented on #8786
@LMESTM
OK it makes sense. In fact debug was enabled while writing driver for another perpheral, when later on i tested the EEPROM debug was still enabled and so i got these error message.
Right, this ticket will be closed now.

[2018-11-19 16:47] #8786 closed, assigned to nobody

[2018-11-19 21:08] ciarmcom commented on #8799
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-179*

[2018-11-19 21:11] studavekar opened #8805 "tests-mbed_drivers-lp_timer.Tes tests fails on K64F"
### Description

This failure is seen multiple times in CI system, created an issue to track it. May be worn out flash?

**Target**
K64F

**Toolchain:**
GCC_ARM| ARM|IAR

**mbed-os sha:**

9aef9d3 Merge pull request #8671 from mray19027/uart_break

**Steps to reproduce**

Use command run :  mbed test -m K64F -t GCC_ARM  -n tests-mbed_drivers-lp_time  -v

Failure

[code]

### Issue request type

[2018-11-19 21:14] studavekar opened #8806 "tests-mbed_drivers-lp_timeout test fails on K64F - unstable"
### Description

This failure is seen multiple times in CI system, created an issue to track it. May be worn out flash?

**Target**
K64F

**Toolchain:**
GCC_ARM| ARM|IAR

**mbed-os sha:**

9aef9d3 Merge pull request #8671 from mray19027/uart_break

**Steps to reproduce**

Use command run :  mbed test -m K64F -t GCC_ARM  -n tests-mbed_drivers-lp_timeout  -v

Failure

[code]

### Issue request type

[2018-11-19 21:16] studavekar opened #8807 "tests-mbed_hal-sleep.deep-sleep K64F device fails to wake up"
### Description

This failure is seen multiple times in CI system, created an issue to track it. May be worn out flash?

**Target**
K64F

**Toolchain:**
GCC_ARM| ARM|IAR

**mbed-os sha:**

9aef9d3 Merge pull request #8671 from mray19027/uart_break

**Steps to reproduce**

Use command run :  mbed test -m K64F -t GCC_ARM  -n tests-mbed_hal-sleep  -v

Failure

[code]

### Issue request type

    [ ]

[2018-11-19 21:18] studavekar opened #8808 "tests-mbed_platform-stats_cpu test fails on K64F"
### Description

This failure is seen multiple times in CI system, created an issue to track it. May be worn out flash?

**Target**
K64F

**Toolchain:**
GCC_ARM| ARM|IAR

**mbed-os sha:**

9aef9d3 Merge pull request #8671 from mray19027/uart_break

**Steps to reproduce**

Use command run :  mbed test -m K64F -t GCC_ARM  -n tests-mbed_platform-stats_cpu  -v

Failure

[code]

### Issue request type

[2018-11-19 21:23] studavekar commented on #8715
opening this as @cmonr is seeing this issue on desk as well in CI.

[2018-11-19 22:10] samuel-puschacher opened #8809 "ST DISCO LRWAN Pinmap not found for ADC_VBAT"
### Description
When trying to read Battery Voltage on ST DISCO LRWAN with ADC_VBAT (from https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32L0/TARGET_STM32L072xZ/TARGET_DISCO_L072CZ_LRWAN1/PinNames.h ) i get the following Error:
[code]
The code is:
[code]
Temp and VREF are working, but as soon as I include the definition for VBAT, I get the Error from above.

 @jeromeco

[2018-11-19 23:21] bridadan commented on #8715
I did a bit more digging into this since I could reproduce it with a K64F on my desk. I found that the DHCP failure is originating from a failure to acquire a semaphore: https://github.com/ARMmbed/mbed-os/blob/9d95d46d6cb409df37675a2dfe35bc43c8d67c83/features/lwipstack/LWIPInterface.cpp#L550-L554

That's why the time between the testcase start and failure is almost exactly 60 seconds, the semaphor

[2018-11-20 02:22] ciarmcom commented on #8809
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-180*

[2018-11-20 02:22] ciarmcom commented on #8808
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-181*

[2018-11-20 02:23] ciarmcom commented on #8807
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-182*

[2018-11-20 02:23] ciarmcom commented on #8806
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-183*

[2018-11-20 02:23] ciarmcom commented on #8805
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-184*

[2018-11-20 02:47] cmonr commented on #7897
@0xc0170 I'm thinking this can finally be closed.

[2018-11-20 02:49] cmonr opened #8811 "astyle Travis CI test reproducability improvements"
### Description

Currently, when a PR author fails astyle tests, trying to reproduce issues appears to be a daunting task, since the command is quite awkward:
[code]

One suggestion from @SeppoTakalo has been the following:
[code]

More improvements could be suggested as well.

### Issue request type

    [ ] Question
    [x] Enhancement
    [ ] Bug

[2018-11-20 02:57] cmonr commented on #8715
Fyi, a service ticket to Austin IT has been sent with high priority, with people CCed. We need to look at what the DHCP server is sending in response to continue.

I also have a adapter which should show up tomorrow to wireshark in between a line, which should also help continue debugging this issue. For reference, it appears that the issue has settled _again_ for the time being.

[2018-11-20 02:58] cmonr commented on #8752
For reference, it appears that this will be resolved once https://github.com/ARMmbed/mbed-os/issues/8715 is as well.

[2018-11-20 05:40] bcostm commented on #8809
Hi
The ADC_VBAT pin definition is not written in the PeripheralPins.c file this is why you have this error. I need to check if this is intentional or not.

[2018-11-20 06:22] ciarmcom commented on #8811
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-185*

[2018-11-20 06:36] samchuarm commented on #8124
Hi @AdamZhang0124 , please follow @SeppoTakalo 's instruction to add the target override for  MBED_CONF_LWIP_PBUF_POOL_SIZE.

Hi @SeppoTakalo , does the test results for the UDP tests look ok to you?  They seem all passed.
And could you please help give some pointers for Realtek about the TCP burst test errors that Adam is seeing? Thanks.

[2018-11-20 06:38] samchuarm commented on #8481
Since the fix has been identified, can we close this issue? Thanks.

[2018-11-20 06:41] samchuarm commented on #8081
Hi @SeppoTakalo , as we can't reproduce the crash, can you help comment on the reproduce steps? Thanks

[2018-11-20 07:28] bcostm commented on #8809
I checked the STM32L072CZ Reference Manual and there is no ADC_VBAT channel on this device. Only ADC_TEMP and ADC_VREF are available. The error you have is normal. The only thing we can do is to remove the ADC_VBAT pin definition in the PinNames.h file.

[2018-11-20 09:05] 0xc0170 commented on #8811
This should be the answer https://github.com/ARMmbed/mbed-cli/issues/792. I did not want to provide this dirty long command we use in the documentation as simplification (latter suggestion to use only paths and wildcards) covers most of the user cases during the development. Locally, AStyle with paths (you can use wildcards, exclude cant do) should be sufficient as it shall be used regularly. I us

[2018-11-20 09:09] BramdeBoer1 opened #8816 "mbed assert in Thread::_task when setting flags before Thread::start() is finished"
### Description
Target: STM32L072
IDE: IAR 8.30.1
Mbed OS: 5.10.3

Starting a new thread with a higher priotity than the thread which started the new thread and setting flags (before the osThreadNew returns) will cause an mbed assert on a missing Thread::_tid.

The root cause is a thread switch before Thread::start() is finished and not waiting for start to finish execution.

In Thread.ccp::113 th

[2018-11-20 09:47] 0xc0170 commented on #8808
cc @ARMmbed/team-nxp

[2018-11-20 09:55] 0xc0170 commented on #8806
cc @ARMmbed/team-nxp

[2018-11-20 09:55] 0xc0170 commented on #8807
cc @ARMmbed/team-nxp

[2018-11-20 09:57] 0xc0170 commented on #8715
@ARMmbed/mbed-os-ipcore Any suggestions ?

[2018-11-20 10:25] NeilMacMullen opened #8818 "NvStore.set hangs on nrf52 if BLE is active"
### Description
TARGET=UBLOX_EVK_NINA_B1 (nrf52)
TOOLCHAIN=GCC_ARM

nvstore.set hangs if BLE/softdevice is active.  Looking at the source, it appears that 'system' activity can prevent iap from working correctly and there is a retry mechanism in the flash write code so this is not completely unexpected.  However, it would be desirable if some more meaningful error was returned - it took me a while

[2018-11-20 10:26] NeilMacMullen commented on #8818
@MarceloSalazar

[2018-11-20 10:36] SeppoTakalo commented on #8211
Fixed in:
* https://github.com/ARMmbed/mbed-os/pull/8794
* https://github.com/ARMmbed/mbed-os-5-docs/pull/838

[2018-11-20 11:18] 0xc0170 commented on #8805
cc @ARMmbed/team-nxp

[2018-11-20 11:24] AdamZhang0124 commented on #8124
Hi @samchuarm and @SeppoTakalo, I have identified the reason which causes udp test and tcp test failure. It is related to the thread stack size and packet buffer size. I need to do more tests to find suitable values.
So far, the dns, udp, tcp tests can all pass.
[fullrun20_11_2018.txt](https://github.com/ARMmbed/mbed-os/files/2599472/fullrun20_11_2018.txt)

Other than that, the Network Wifi test s

[2018-11-20 11:26] 0xc0170 commented on #8807
I reviewed few recent failures. Most of them indicate (not sure why CPU info test fails ?) something is wrong with the tickers - cant wake up from sleep (rtc/lpticker or sleep tests). They end up in the timeout when invoked sleep.

Reviewing latest changes to targets, there was this fix for RTC init: https://github.com/ARMmbed/mbed-os/pull/8272 (it affects rtc and lp ticker, both related to our te

[2018-11-20 11:33] #7897 closed, assigned to nobody

[2018-11-20 11:34] #7684 closed, assigned to nobody

[2018-11-20 11:38] ciarmcom commented on #8818
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-186*

[2018-11-20 11:42] SeppoTakalo commented on #8481
Can be closed once the fix has been merged.

[2018-11-20 11:46] SeppoTakalo commented on #8124
[code]

This looks good now.

[2018-11-20 12:01] dannybenor commented on #8555
This cannot be fixed. NVStore requires 2 sectors

[2018-11-20 12:02] dannybenor commented on #8555
I think this can be closed

[2018-11-20 12:24] SeppoTakalo commented on #8715
It is not a failure to acquire a semaphore, but a timeout.

So either the stack does not get DHCP response, or the network eats it, or the driver drops it, or somehow the stack fails to open the mutex.

I have the Wireshark log that looks very much that there is no DHCP response, but the capture file is not complete.

[2018-11-20 12:50] EmbedEngineer commented on #8321
@0xc0170 I would be very interested in the answer to that topic too. So what is the recommended way to read an ADC e.g. every millisecond or even at a higher frequency?

[2018-11-20 12:52] 0xc0170 commented on #8321
https://os.mbed.com/blog/entry/Simplify-your-code-with-mbed-events/ - should answer it

[2018-11-20 12:56] deepikabhavnani commented on #8807
#8272 discusses about fix working for certain versions of GCC ARM toolchain.. Failure is seen for GCC only?

[2018-11-20 12:59] 0xc0170 commented on #8807
I wish. ARM and also IAR affected, see 3456 or earlier test jobs. I can try to revert it and run through tests (to see what impact it has).

[2018-11-20 13:22] SeppoTakalo commented on #8081
[code]

Crash same way as previously.
How can you not reproduce this issue. Do we have different HW revisions, or different compiler?

[code]

Are you entering the characters by hand or copy&pasting?
Because if you enter slowly enough, it does not crash.

[2018-11-20 13:26] EmbedEngineer commented on #8321
Thanks!

[2018-11-20 13:32] fkjagodzinski commented on #8807
The issue I had reported was fixed with #8272. No problems when I checked with the code from the issue for all three toolchains, https://github.com/ARMmbed/mbed-os/issues/5348#issuecomment-431305574. I didn't run any lp_ticker or sleep tests back then, but morph tests passed on that PR.

Please note that comment regards only the `GCC v7`, withch is not supported by the Mbed OS.

[2018-11-20 13:33] BramdeBoer1 commented on #8816
I managed to solve it by adding a Semphore to the Thread thus preventing it from running any task code before completing the start.
I'm however concerened that the increase in footprint might be overkill for a situation which should only occur once.
Maybe there are better ways to solve this issue.

In Thread.h added:
Semaphore                  _start_sem;

In Thread.cpp changed the following:
[cod

[2018-11-20 13:50] mmahadevan108 commented on #8806
I don't see this failure. I ran the tests against commit 9aef9d36612ea4f75f93d254ee442ded0a1ffde0

Test results below:

mbedgt: running 3 tests for platform 'K64F' and toolchain 'ARM'
mbedgt: mbed-host-test-runner: started
mbedgt: checking for GCOV data...
mbedgt: test on hardware with target id: 0240000025354e450043400d47d00042bb91000097969900
mbedgt: test suite 'mbed-os-tests-mbed_drivers-lp_tim

[2018-11-20 14:35] david-reimondez-tridonic-com commented on #7492
According to the "STM32F3 and STM32F4 Series Cortex®-M4 programming manual" (PM0214 - section 4.3.7) the "Interrupt Priority Registers" (NVIC_IPRx) have as reset value 0x0. Therefore the default priority is the maximum (and also what I have experienced while debugging).
If as you mentioned, the OS change the value of these registers, where is this done? I could not find this...

[2018-11-20 14:45] kjbracey commented on #7492
Priority is set [here](https://github.com/ARMmbed/mbed-os/blob/9aef9d36612ea4f75f93d254ee442ded0a1ffde0/rtos/TARGET_CORTEX/rtx5/Source/os_systick.c#L55), or alternatively [here](https://github.com/ARMmbed/mbed-os/blob/9aef9d36612ea4f75f93d254ee442ded0a1ffde0/rtos/TARGET_CORTEX/SysTimer.cpp#L74) when using a systick substitute.

There is an added wrinkle when using MBED_TICKLESS in that the low-pow

[2018-11-20 15:02] MarceloSalazar commented on #8710
discussed with @alzix - this is not a blocker but important to fix at some point soon

[2018-11-20 15:03] david-reimondez-tridonic-com commented on #7492
I did not refer to the Systick interrupt but to the time basis created from a hardware timer in the file:
mbed-os/targets/TARGET_STM/hal_tick_32b.c

Where is this priority set? If it is not set in the software, then at least in STM32 we will get the maximum. Therefore my question if this was expected..

Sorry for the missunderstanding and thanks for your support!

[2018-11-20 15:03] david-reimondez-tridonic-com commented on #7492
I did not refer to the Systick interrupt but to the time basis created from a hardware timer in the file:
mbed-os/targets/TARGET_STM/hal_tick_32b.c

Where is this priority set? If it is not set in the software, then at least in STM32 we will get the maximum. Therefore my question if this was expected..

Sorry for the missunderstanding and thanks for your support!

[2018-11-20 15:29] kjbracey commented on #7492
Okay, that is part of providing the `us_ticker_api.h` HAL functions for STM, but I don't see `HAL_InitTick` being called anywhere - looks like dead code?

Mbed OS doesn't itself touch the priority of any interrupts apart from the 3 associated with the RTOS - PendSV, SVCall and SysTick, as far as I know, so we would normally expect that us_ticker interrupt to remain at the hardware default of maxim

[2018-11-20 15:37] jeromecoutant commented on #7492
HAL_InitTick is called in HAL_Init function, called in mbed_sdk_init

[2018-11-20 15:45] kjbracey commented on #7492
Ah, okay, was looking in the higher levels. So individual STM HALs have a default weak HAL_InitTick that configures SysTick with normally minimum priority, but that's been replaced globally with something that instead configures the timer used for `us_ticker_api`. So SysTick is left alone - the HAL ticker functions aren't used - and it doesn't use the priority given to HAL_InitTick, as that wouldn

[2018-11-20 16:18] david-reimondez-tridonic-com commented on #7492
Thanks for the answers

As conclusion, do you consider this an error in the HAL implementation, the fact that the interrupt is not defined?

Regarding the proposals offered, could you provide some example code on how to implement both solutions:
- Using NMI
- Overloading enter_critical

Thanks a lot

[2018-11-20 16:19] jeromecoutant commented on #8555
So how can I undefine NVSTORE for NUCLEO_F410RB ?

[2018-11-20 16:30] dannybenor commented on #8555
Yes

[2018-11-20 16:52] kjbracey commented on #7492
Gah, browser crash lost that answer.

Which interrupt?

No, don't think there's anything wrong with the HAL. It's not touching SysTick at all, and it's leaving the others including the `us_ticker_api` one at maximum, which is expected.

Don't have any examples to hand - you're in quite specialised territory.

For NMI it appears the NVIC can't route arbitrary external interrupts to NMI? (Unlike ARM

[2018-11-20 16:53] kjbracey commented on #7492
But all this is fiddly - don't attempt until you find that the normal IRQ setup isn't working with just a priority tweak.  (What I said above: whiz through the table, set all other interrupts with priority 0x00 down a notch to 0x10, and have your high-priority one at 0x00.)  Or maybe it even works without the priority tweak.

It may be okay on your system with the devices you're using and software

[2018-11-20 16:58] studavekar commented on #8808
We have the device in failing state and it been debugged currently.

[2018-11-20 18:32] samuel-puschacher commented on #8809
Thanks

[2018-11-20 18:32] #8809 closed, assigned to nobody

[2018-11-20 19:41] bridadan commented on #8715
Oh yup, good point. definitely different behaviors! I wasn't being very precise.

My thoughts as well. Seems like the next step is to watch the traffic going from the DHCP server to the device (the offer and acknowledge packets) and see what's going on there. @cmonr has some equipment on order to help with that.

[2018-11-20 21:38] cmonr commented on #8715
Email has been sent with several captures.

Of note, between tests three and four, the device was power cycled.

[2018-11-21 03:11] M-ichae-l commented on #8081
@SeppoTakalo

Where did you put the `main.cpp` and `mbed_app.json` ?
I put them under `mbed-os` folder.

[2018-11-21 04:46] Arjun765 commented on #8321
Mbed events need lots of flash.

[2018-11-21 07:54] kjbracey commented on #8321
Events will certainly need some, but it's a shared component used by quite a few other bits of middleware.

If your system is really minimal, so doesn't already use them, and you don't want to increase your footprint, an alternative is to inherit from `AnalogIn` to make an `UnlockedAnalogIn`, overriding the `lock` and `unlock` methods to do nothing.

That will effectively restore the behaviour you

[2018-11-21 08:26] #7997 closed, assigned to nobody

[2018-11-21 10:14] Roger-Strassburg opened #8829 "AT parser sometimes times out even though stop tag received"
### Description

The current AT parser from mbed sometimes gets AT timeouts in spite of receiving the stop tag within the timeout period.

Here's the code for processing the response data from the AT^SMONP=255 command on the Cinterion EHS5:

	while(at_handler.info_resp())
	{
		// do stuff with the data received
	}
	at_handler.resp_stop();

Here is a trace of the response received when there's a ti

[2018-11-21 10:47] samchuarm commented on #8124
@SeppoTakalo , thanks for the review.

Hi @AdamZhang0124 , thanks for the work to fix these. Can you show us how you implement the fix for preview? Can you share your netsocket WiFi test results? Does it fail the same way as reported? Thanks.

[2018-11-21 11:33] #8080 closed, assigned to nobody

[2018-11-21 11:33] AdamZhang0124 commented on #8124
Hi @samchuarm , the failure of UDP test and TCP test is due to the small heap size. The default heap size is 1600. Only by changing the 'mem-size' value in mbed_lib.json to override the default value could fix this issue.
![image](https://user-images.githubusercontent.com/41885176/48838629-e7e8cf00-edc3-11e8-8770-757c1e6f55b9.png)

The network WIFI test log is attached for your information:
[wifi_

[2018-11-21 11:38] ciarmcom commented on #8829
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-188*

[2018-11-21 14:46] SeppoTakalo commented on #8081
As normal application, not inside of mbed-os.

See the first message.

[code]

Now create those files.

Then we can checkout mbed-os master
[code]

[2018-11-21 23:19] screamerbg opened #8833 "Bug: Trying to compile with bootloader for non-bootloader target causes python error"
### Description

Python error occurs while trying to compile with a bootloader for a target that doesn't have `bootloader_supported` flag.

[code]

CC @cmonr @theotherjimmy

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2018-11-22 02:22] ciarmcom commented on #8833
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-190*

[2018-11-22 03:23] TomoYamanaka commented on #6975
Although I checked by using **Mbed_blinky** sample with **the latest Mbed 2(Classic) library(Rev171 = release ver164)** that PR #8374 was merged, I faced the following error message on Online Compiler.

This error seems to occur not only GR-PEACH/GR-LYCHEE, but K64F.
Could you confirm whether this library is available ?

`Error: Cannot open source input file "mbed.h": No such file or directory in

[2018-11-22 04:06] tung7970 commented on #8081
@M-ichae-l Can you share your binary file for @SeppoTakalo to try ?
@SeppoTakalo Can you do the same too ?

[2018-11-22 05:22] bqam-ublox commented on #8438
@screamerbg @0xc0170 can anyone please comment on this? Thanks in advance

[2018-11-22 06:55] samchuarm commented on #8124
Thanks @AdamZhang0124 , that's quite many failures in the WiFi tests. Anything do you suspect that could cause these tests fail?

Hi @SeppoTakalo and @0xc0170 , is it okay for Realtek to override the 'mem-size' value in mbed_lib.json for passing UDP/TCP netsocket tests ?

[2018-11-22 07:21] M-ichae-l commented on #8081
@SeppoTakalo I am now able to produce the error. I am working on it.
@tung7970  thank you for the suggestion.

[2018-11-22 09:21] AdamZhang0124 commented on #8124
Hi @samchuarm, I have found the problem. Some failures are caused because the unsecured AP was not set properly. This is the new test result and I am debugging the reminding failures. Thanks!
![image](https://user-images.githubusercontent.com/41885176/48893315-09f15880-ee7b-11e8-9cc3-c3c281411fbf.png)

[2018-11-22 10:00] SeppoTakalo commented on #8124
@samchuarm and @AdamZhang0124 Yes. It is OK to override the `mem-size` for this particular board if it is backed up with a test result.

Many platform already override the value.

[2018-11-22 10:01] 0xc0170 commented on #8438
Quick one would be to define a macro via config `OS_THREAD_OBJ_MEM` , this should overwrite the default one.

You can create a new config value and set macro name to `OS_THREAD_OBJ_MEM` and assign a value you need.

[2018-11-22 10:47] AdamZhang0124 commented on #8124
Hi @SeppoTakalo, I forgot to attach the full test log.
[fullrun_22112018.txt](https://github.com/ARMmbed/mbed-os/files/2607648/fullrun_22112018.txt)
The udp and tcp tests are now able to pass after increasing the heap value. The packet loss ratio now can be reduced to less than 0.01.

[2018-11-22 14:22] janjongboom opened #8842 "Add better errors in FlashIAP.cpp"
FlashIAP returns -1 when it sees an error, which is a bit unhelpful when a lot of things go on. E.g. when you try to mount LittleFS to a FlashIAPBlockDevice whose addresses are read-sector aligned, but not erase-sector aligned the blockdevice init goes through fine, but formatting (after mounting failed) fails with `-1` ([source](https://github.com/ARMmbed/mbed-os/blob/60b5547b652bbb840afc6e0212d4

[2018-11-22 14:50] mattbrown015 commented on #8720
See #8822, specifically [UL FCnt increment in case of retry exhaustion](https://github.com/ARMmbed/mbed-os/pull/8822/commits/3a293b2dde75e4fca59e2e13dff8e3bf47835901).

Just waiting for the PR to get merged. :-)

[2018-11-22 16:14] ciarmcom commented on #8842
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-191*

[2018-11-22 16:25] NeilMacMullen commented on #8785
The **set_max_keys** functionality is fundamentally broken:

**set_max_keys** immediately calls **MBED_ASSERT(num_keys < get_max_possible_keys());**  _before_ setting **_max_keys**

**get_max_possible_keys()** results in a lazy call to **init**

**init** calls **read-record** for each entry in the store

**read_record** considers the record to be invalid if the key number  is greater than the curr

[2018-11-22 16:45] NeilMacMullen commented on #8785
Further comment - the suggested workaround above is actually unsafe since it will result in _offset_by_key[high_id] being written even if high_id is >= _max_keys.  So far the best alternative I've found is to remove the ASSERT from set_max_keys and to be very careful to call set_max_keys as the very first thing.

As far as I can tell, the use of this fixed-size lookup table (offset_by_key) is the

[2018-11-22 21:39] bsturgess commented on #7800
How can i do this on the online compiler?

[2018-11-23 08:54] pmancele commented on #7800
@bsturgess I tried to create a `.mbedignore` file online but its not working indeed ..

So I don't know how to do it on the online compiler

[2018-11-23 10:29] hasnainvirk commented on #8720
@mattbrown015 This PR may get a bit delayed. We are onto something awesome and it will change the state of the art by a significant chunk. I will try if I can find time to separate the UL cnt commit from the PR to get it reviewed separately. Thanks for hanging in and bearing with me.

[2018-11-23 12:28] kseverinkangas-zg commented on #8741
I suggest to implement a test server, which can be controlled from the test application. For example, this could be useful to get started  -> https://github.com/Tanganelli/CoAPthon

[2018-11-23 12:34] daniel-cesarini-tridonic-com commented on #8741
Ok. Thank you! ;-)

FYI: @Tanganelli

[2018-11-23 17:37] mattbrown015 commented on #7156
Hi @jeromecoutant, I'm looking at my sleep time again!

After instrumenting `hal_deepsleep` I realised that my STM32L4 comes out of deepsleep every 8 seconds.

This surprised me because your comment above made me think it could stay in deepsleep for hours:

After a bit of investigation I realised that you're using the STM32L4 auto wake-up counter, aka 'wake-up timer', see `rtc_set_wake_up_timer`.

[2018-11-23 17:38] fkjagodzinski opened #8857 "Silabs EFM32 watchdog timeout values"
### Description

@scartmell-arm @donatieng I checked our watchdog tests locally and found that some of them fail on EFM32GG_STK3700. Here is the test summary:
[code]
This is because EFM32 targets have a list of predefined watchdog timeouts that may be set.

https://github.com/ARMmbed/mbed-os/blob/7995e8beacd87a44f1cf4bd873316e8cfca7cc19/targets/TARGET_Silicon_Labs/TARGET_EFM32/emlib/inc/em_wdog.h#

[2018-11-23 18:12] 0xc0170 commented on #8857
@ARMmbed/team-silabs Please review

[2018-11-23 18:33] masoudr opened #8858 "Set default baudrate and pin values for default printf"
### Description
As you might know, there is a serial that associated with `printf` function. I was wondering where the related serial pins and baud rate set, so I can change the pins and set the default baud rate.
Currently, I'm using this method to redefine `printf` but It would be easier to change it on source files.

[code]
### Issue request type
    [x] Question
    [ ] Enhancement
    [ ] Bug

[2018-11-25 10:09] mstfkaratas commented on #8858
You dont need to change source code. You can use following configuration options in mbed_app.json:

[code]

[2018-11-25 12:25] dannybenor commented on #8555
@jeromecoutant you can remove "FLASH" from "device_has_add": in NUCLEO_F410RB

[2018-11-25 19:00] ghost opened #8864 "TRNG on L4 pulls rug out from USB"
### Description

**Target:** STM32L4x
**Scope:** USB and TRNG co-existence

In system_clock.c, the USB/SDMMC/TRNG source clock is set to either MSI or PLLSAI1, depending on the clock source (HSE/HSI use PLLSAI1 for 48MHz source, and MSI uses MSI for 48MHz source).

trng_api.c does not take this into account, and incorrectly sets the 48MHz clock source, in contradiction to what it was set to in sys

[2018-11-25 21:07] ciarmcom commented on #8864
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-194*

[2018-11-25 21:31] ghost commented on #8864
Specific targets system_clock.c:

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L475xG/TARGET_DISCO_L475VG_IOT01A/system_clock.c

[2018-11-26 07:22] samchuarm commented on #8481
The fix has been merged. #8750

[2018-11-26 08:31] jeromecoutant commented on #8555
No...
NUCLEO_F410RB supports FLASH!
It doesn't support NVSTORE

[2018-11-26 08:52] jeromecoutant commented on #7156
Hi @mattbrown015
Could you check #8777 ?

[2018-11-26 09:07] mattbrown015 commented on #7156
Ah, yes, that looks better! :-)

I will actually try it later.

Let's see if I now understand correctly...

Fundamentally the longest possible deepsleep when using the RTC wake-up timer on STM32L4 is 32s.

Theoretically it could be possible to deepsleep for longer using the RTC programmable alarms but this would not work with Mbed OS because they don't _tick_ with the required accuracy.

#8777 cho

[2018-11-26 09:11] bcostm commented on #8864
Hi
Thanks for this analysis and reporting

I also agree to remove the TRNG clock setting in the trng_api.c file and add it in the system_clock.c file instead (like we do for the USB). Just maybe add a "#ifdef DEVICE_TRNG". I will send a PR so you can test it and comment.

[2018-11-26 09:55] artokin opened #8865 "SecureStore requires MBEDTLS_CIPHER_MODE_CTR to compile"
### Description

SecureStore requires mbedtls configuration flag MBEDTLS_CIPHER_MODE_CTR in order to compile.

We are using custom mbedtls configuration but we don't use SecureStore and we get following compilation error if MBEDTLS_CIPHER_MODE_CTR is not defined:

_22:54:41 Compile [ 51.3%]: SecureStore.cpp
22:54:41
[Error] SecureStore.cpp@109,0:  #20: identifier "mbedtls_aes_crypt_ctr" is undefin

[2018-11-26 10:15] 0xc0170 commented on #8865
@ARMmbed/mbed-os-storage Please review

[2018-11-26 11:19] #8481 closed, assigned to nobody

[2018-11-26 11:38] ciarmcom commented on #8865
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-195*

[2018-11-26 11:48] davidsaada commented on #8865
Will push a fix soon to fix this - SecureStore will depend on this flag (as well as on the CMAC one), meaning that by default, SecureStore will be enabled, but if a custom MBETLS config file is there - SecureStore will only be enabled if these flags are included.

[2018-11-26 13:31] dannybenor commented on #8555
OK
You can use https://github.com/ARMmbed/mbed-os/blob/master/features/storage/nvstore/mbed_lib.json to disable NVStore for the relevant targets.
Just for my curiosity, what will be the effect of removing "FLASH" for this target?

[2018-11-26 15:07] screamerbg opened #8870 "Feature: QSPI support on DISCO_F769NI"
### Description

The DISCO_F769NI has quite large QSPI flash on board, but unfortunately the target support is lacking the QSPI "device_has" flag and also `qspi_s` definies in `objects.h`. Could you please add QSPI (and QSPIF feature) support for it?

CC @ARMmbed/team-st-mcd

### Issue request type

    [ ] Question
    [X] Enhancement
    [ ] Bug

[2018-11-26 15:07] maxgerhardt commented on #8518
@0xc0170  What is the correct usage of the serial API `attach()` in a `Serial` object then if you want to read the character that's been received? The cookbook example code (https://os.mbed.com/cookbook/Serial-Interrupts, `Rx_interrupt()`) is thus wrong, the tutorial doesn't talk about it (https://os.mbed.com/docs/v5.10/tutorials/serial-comm.html), neither does the documentation of `Serial` (https

[2018-11-26 15:08] screamerbg commented on #8870
Also cc @MarceloSalazar

[2018-11-26 15:20] theotherjimmy commented on #8833
@screamerbg What do you expect to happen?

[2018-11-26 15:24] cmonr commented on #8833
I'm also confused as to why this is an issue.
@screamerbg Is the bug in this case that the error should be more informative of what the actual issue is?

[2018-11-26 16:08] #8088 closed, assigned to nobody

[2018-11-26 16:14] ciarmcom commented on #8870
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-196*

[2018-11-26 21:04] #7154 closed, assigned to nobody

[2018-11-27 08:09] samchuarm commented on #8081
Hi @M-ichae-l , any update on this? Thanks.

[2018-11-27 08:16] M-ichae-l commented on #8081
@samchuarm still processing.
The device hangs once the data more than 7 for example "0123456" is the max passed data. I wonder if it is a FIFO issue.

[2018-11-27 09:54] desmond-blue commented on #8818
Hi NeilMacMullen,

Because mbed-os is using NRF_SDH_DISPATCH_MODEL_POLLING to handle SoftDevice events, so you have to call eventQueue.dispatch(to) after NvStore.set, that will call nrf_sdh_evts_poll() and release the queue allocated.

The reason why ble.shutdown() woking is that when SoftDevice is disabled, the events are processed immediately, no SoftDevice events waits for processing.

The code

[2018-11-27 12:50] lrusinowicz opened #8880 "CordioGattServer is using wrong connection handles resulting in faults / memory corruption"
### Description
I've came into this issue while working on BLE examples for FUTURE_SEQUANA target.
GattServr::write method contains the following code:

[code]

The issue is that conn_id usage is inconsistent with DM API. conn_id runs here from 0 to CONNECTION_ID_LIMIT-1 (i.e. 255) while DM accepts conn_id in the range 1 .. DM_CONN_MAX (.e. 3) and uses it to index it's internal arrays (which are o

[2018-11-27 13:07] pan- commented on #8880
Thanks for the detailed report. I will issue a fix shortly.

[2018-11-27 13:22] paula75 opened #8881 "LoRaWAN US region with L072CZ_LWAN not working"
### Description
I'm working on L072CZ_LWAN1 board, using LoRaWAN. I am using mbed-cli and GCC to flash my board using the mbed-os-example-lorawan [1]. I flash the example in my board and try to use OTAA with my own gateway(sentrius) already signed in The Things Networks (US915 region).

I have 2 questions/issues to run this example correctly:

1. When i flash the example for OTAA, i can receive th

[2018-11-27 14:16] 0xc0170 commented on #8194
Actually , @theotherjimmy added ==2 version . Why req was added so strictly ?

[2018-11-27 15:15] theotherjimmy commented on #8194
@0xc0170 If anything, I used to be using internal APIs. https://github.com/ARMmbed/mbed-os/blob/master/tools/device_management.py#L94-L134 is the code affected and no longer uses internal APIs. We should be good to relax that requirement now.

[2018-11-27 15:16] SeppoTakalo commented on #8765
Example seems to be wrong:
[code]

This does not check the error code.
Also the `GATT\r\n` does not seem to be proper HTTP command, so I'm assuming that actually nothing is send and the application just keeps trying to send something to socket that is already closed.

You can try on the command line, that `api.ipify.org` actually closes the connection immediately after first `send()` command would

[2018-11-27 16:16] ciarmcom commented on #8881
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-197*

[2018-11-27 16:16] ciarmcom commented on #8880
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-198*

[2018-11-27 16:27] ithinuel opened #8886 "Mbed OS crashes on basic HTTP requests."
### Description

Affected target:
- K64F
- NUCLEO_F746ZG

tool chain: GCC_ARM
mbed-os head: 7995e8bea
tools: mbed-cli

Mbed-os crashes when trying to do a simple HTTP transaction over a TCPSocket using the ethernet interface.

The code to reproduce can be found here : https://github.com/ithinuel/mbed-os-crash
A work-around can be found on https://github.com/ithinuel/mbed-os-crash/tree/worked-aroun

[2018-11-27 16:53] deepikabhavnani commented on #8240
errno is not thread safe, and yes thread local storage is not supported in Mbed OS.
We have thread safe mechanism to capture error codes and status, and it is slowly getting adopted in parts of Mbed OS.  Please see https://os.mbed.com/docs/v5.10/apis/error-handling.html for more details

[2018-11-27 18:11] jeromecoutant commented on #8870
Hi
Not so easy as DISCO_F769NI  is using MX25L51245G which is not described yet in the test directory.
Thx

[2018-11-27 18:31] jeromecoutant commented on #8870
Maybe you can check
https://github.com/jeromecoutant/mbed/commits/DEV_QSPI_TEST
Thx

[2018-11-27 21:09] ciarmcom commented on #8886
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-199*

[2018-11-27 22:19] kegilbert commented on #8886
Did you get an error output from the serial line?

[2018-11-27 23:00] TacoGrandeTX commented on #8783
@jeromecoutant Thank you for that... I was concerned that it was not a valid run-time option. As mentioned our customer is seeing hangs on the MTB_ADV_WISE_1570 with MBED_TICKLESS and LPTICKER defined on OS v5.10.  It runs fine if MBED_TICKLESS is removed or if run on v5.9.x.  Locally this doesn't fail on a Nucleo-L476, but we don't have access to a L486-based target.

Do you have thoughts on why

[2018-11-28 04:10] yogeshk19 commented on #8635
Is there any progress with this issue? This bug is critical for long range testing, one of the key features in BLE 5 and hopefully this fix also incorporates a more current and production version of the Nordic softdevice?

Thanks,
Yogesh

[2018-11-28 04:22] deepikabhavnani commented on #8886
Example to reproduce creates multiple threads and default thread stack size is 4K. Is the crash related to memory allocation in heap?

[2018-11-28 07:57] pilotak commented on #8518
@maxgerhardt it would be something like that
[code]

or I made a [wrapper](https://github.com/pilotak/AsynchSerial) around `UARTSerial` to make it easier

[2018-11-28 08:18] kjbracey commented on #8518
@pilotak - that wrapper's seems very... complicated.  But hard to judge as I'm not quite sure what the intended timeout semantics are.

The `Serial` object is basically useless, at least for reception - I've been fighting to deprecate it for some time (#5655), but apparently it's too popular. That example above will compile, but won't work in practice if there's any other threads or work happening

[2018-11-28 08:39] pilotak commented on #8518
@kjbracey-arm it's for receiving block of data sent out every 2 sec with variable block length. And important callback when sending is done - for RS485 DE/RE pin. I was inspired by AT parser lib but yes i could probably make it better or maybe don't need it at all but due to lack of documentation this is the result.

Anyway reading your explanation it sound like `Serial` should be called deprecate

[2018-11-28 08:42] maxgerhardt commented on #8518
I have now worked around this issue by using `RawSerial` which doesn't attempt to acquire a mutex and reading the data there in the ISR.

[2018-11-28 08:55] kjbracey commented on #8518
@pilotak If the data is framed sensibly, a timeout on the reads shouldn't really be required. You just do a non-blocking read of whatever is available, running your state machine.  The AT handlers are a bit ugly because they're not state machine based - they're sitting there waiting for a response, and want that wait to have a timeout. It's possible to do better

A simpler model is the PPP data pu

[2018-11-28 11:21] 0xc0170 commented on #8194
Good to hear ! Please send a fix and we can close this one.

[2018-11-28 11:31] #8715 closed, assigned to cmonr

[2018-11-28 12:13] rhubarbdog opened #8892 "These radio resources no longer work on microbit"
###Description

These resource links for radio examples no longer work on microbit
Using the Microbit's TX/RX radio for communication between boards: <a href="https://os.mbed.com/teams/microbit/code/microbit-simple-radio-rx/">radio-rx</a> & <a href="https://os.mbed.com/teams/microbit/code/microbit-simple-radio-tx/">radio-tx</a>.
I'm using the <a href="https://ide.mbed.com/compiler/#nav:/;">online

[2018-11-28 12:53] samchuarm commented on #8124
Hi @AdamZhang0124 , any update on the WiFi tests? Thanks.

[2018-11-28 15:23] artokin opened #8893 "Compilation error with psa_crypto.c"
### Description

I'm getting following compilation error when compiling https://github.com/ARMmbed/mbed-mesh-test-application with custom mbedtls configuration (mbed_app_thread_thci_lite_ATMEL.json):

[code]
It looks like some variables in structure `aead_operation_t` are flagged but flags are not always used when accessing the flagged variable.

In addition, once `operation->ctx.gcm` is flagged w

[2018-11-28 15:45] 0xc0170 commented on #8893
@ARMmbed/mbed-os-crypto Please review

[2018-11-28 15:46] 0xc0170 commented on #8893
possibly @ARMmbed/mbed-os-psa (as it comes from PSA component)

[2018-11-28 15:53] orenc17 commented on #8893
@0xc0170 this is in crypto's domain

[2018-11-28 16:06] #8765 closed, assigned to nobody

[2018-11-28 16:07] #8211 closed, assigned to nobody

[2018-11-28 16:15] ciarmcom commented on #8893
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-201*

[2018-11-28 16:21] pan- commented on #8892
Could you clarify what does no longer work ?

[2018-11-28 16:22] TacoGrandeTX commented on #8732
The MTS_MDOT_F405RG is a deprecated target (please see: https://os.mbed.com/platforms/MTS-mDot-F405/) so the ability to export was likely not available before it became deprecated.

If you take your project to the Command Line Interface (CLI) you will be able to export to a few different toolchains using the `mbed export` command, for instance:
  `mbed export -m MTS_MDOT_F405RG -i uvision5`

The `

[2018-11-28 16:25] gilles-peskine-arm commented on #8893
I confirm that this is a bug in crypto. I'm working on a fix.

[2018-11-28 17:03] rhubarbdog commented on #8892
The links radio-tx and radio-rx point to arm mbed microbit c++ resources.
I have imported them into my online compiler
Compiled, saved and flashed. Tx onto 1 microbit and Rx onto another. When i press a button on Tx i expect it to broadcast a datagram, which should be received by Rx. Nothing happens
The radio works on these microbits i can show similar code running in micropython.

[2018-11-28 17:04] pan- commented on #8635
@yogeshk19 PHY support will be delivered to the NRF52840 with the help of the Cordio link layer (see #8876 ). There is no plan I am aware of regarding the update to a new revision of the Nordic softdevice.

[2018-11-28 17:06] pan- commented on #8892
Did you update the libraries when you imported them in the compiler ?

[2018-11-28 17:25] rhubarbdog commented on #8892
there wasn't a library.
when i clicked import `main.cpp` and `config.json` were put in a directory under my microbit directory.
called radio-tx-p and radio-tx-c
I'm pretty new to c++ on microbit and have basically clicked the 'import program' from this page https://os.mbed.com/platforms/Microbit/ in a box titled microbit-hello-world.
That got me started. for my next few examples i just cloned this

[2018-11-28 17:29] Patater commented on #8865
K64F has PSA enabled by default. PSA depends on the SecureStore for implementing PSA internal storage (ITS). Will we also be making TARGET_PSA get conditionally defined based on whether SecureStore is available?

CC @alzix

[2018-11-28 17:54] yogeshk19 commented on #8635
@pan-  Thanks for the update. I have not used the Cordio feature yet, however I don't understand how would the setPhy method work without the softdevice being updated? Also what happens for scenarios where the MBED BLE API's don't address, that are very specific to the Nordic Softdevice or platform specific? Is there any documentation regarding the Cordio BLE api's that I can get access to?

Thank

[2018-11-28 17:57] sarahmarshy opened #8894 "Document EventFlags wait function timeout units"
### Description

The EventFlags class does not specify a unit of time for its timeout.
* [wait_all](https://github.com/ARMmbed/mbed-os/blob/de6ba91644c4b2396d9445ada1554b2487652a24/rtos/EventFlags.h#L90)
* [wait_any](https://github.com/ARMmbed/mbed-os/blob/de6ba91644c4b2396d9445ada1554b2487652a24/rtos/EventFlags.h#L100)

I tried to follow the callstack, but I didn't find the units for this timeout

[2018-11-28 21:09] ciarmcom commented on #8894
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-203*

[2018-11-28 21:54] ithinuel commented on #8886
Example code repo updated.

[2018-11-29 01:50] AGlass0fMilk commented on #7674
I have been working on the nRF52840 USBDevice HAL in my spare time for a bit now.

I ended up finding a good deal on a Total Phase Beagle 12 USB hardware analyzer so I picked that up and it's been a great help in debugging. It's very difficult to debug USB without knowing what's really happening on the bus... so that took a few days to come in.

The stage I'm at is this:

The USBPhyHw implementati

[2018-11-29 01:53] AGlass0fMilk commented on #7674
Here's a screenshot of my USB analyzer's output showing enumeration with the STM32 (left, functioning correctly) and the nRF52840 (right, issue with configuration descriptor transfer):
![stm32-vs-nrf](https://user-images.githubusercontent.com/350500/49194056-986c4b00-f34f-11e8-9e1b-b2afd1b4145b.png)

[2018-11-29 05:02] AGlass0fMilk commented on #7674
After looking through both the Mbed stack and the nRF USBD driver, it seems they aren't easily compatible.

The Nordic driver uses the concept of "feeders" where every time a DMA transfer is finished, a feeder function is called to set up the next DMA transaction. During this call, the feeder returns true or false, representing if this is the last transfer or not. This allows the DMA to be release

[2018-11-29 06:27] masoudr commented on #8858
Thanks, If I want to read the input the `readable` function is not associated and If I want to use `scanf` I should declare serial first. Is there any way that I associate `readable` to `pc.readable`?

[2018-11-29 07:35] kjbracey commented on #8894
Possible that this carries through a lot of stuff - many descriptions in the `rtos` namespace including that are cut-and-paste from CMSIS-RTOS documentation following that form.

Basic rule is that every time specified in the `rtos` namespace is in CMSIS-RTOS "ticks", which CMSIS-RTOS never defines itself. But for Mbed OS we have specified that the RTOS tick is a millisecond (see `Kernel::get_ms_c

[2018-11-29 10:35] jeromecoutant commented on #8870
Current status with the above branch:

mbed test -t xxx -m xxx -v –n components-storage-blockdevice-component_qspif-tests-block_device-qspif

- F469: OK
- F746: OK
- F769: FAILED (wrong device Id)
- L475: OK
- L476: OK
- L496: FAILED (hard fault)

@screamerbg could you add QSPI expert in this issue discussion ?

Thx

[2018-11-29 10:37] screamerbg commented on #8870
CC @offirko @dannybenor

[2018-11-29 11:04] offirko commented on #8870
@jeromecoutant - could you attach the full logs at the Jira or here , or send me by mail?
I do not have the F769 or L496 boards, and I cant find them at any of the CI sites either.

CC @maciejbocianski

[2018-11-29 11:10] dannybenor commented on #8870
@jeromecoutant is F769 passing the HAL tests for QSPI?

[2018-11-29 11:15] pan- commented on #8635
@yogeshk19 With the release of Mbed-os 5.11 in few weeks we are adding missing Bluetooth 5 features to our user API. That change include (but is not limited to):
- Proper connection update management
- Extended advertising
- Periodic advertising

There is no implementation of these APIs based on Softdevice. However for Nordic targets we offer to our users the possibility to use the Cordio Link Lay

[2018-11-29 11:18] jeromecoutant commented on #8870
No, but DISCO_F769 has a new QSPI : MX25L51245G
which doesn't have a clean flash config configuration file...

[2018-11-29 11:35] NeilMacMullen commented on #8818
@desmond-blue  Thanks Desmond - much appreciated!

[2018-11-29 11:54] KariHaapalehto opened #8903 "Realtek_RTL8195AM is printing a lot of traces"
### Description

Current version of Realtek_RTL8195AM driver is printing a lot of debug information.
The traces should be off by default and they could be turned on when needed.

### Issue request type
    [ ] Question
    [X] Enhancement
    [ ] Bug

[2018-11-29 12:11] 0xc0170 commented on #8903
@KariHaapalehto CAn you add a snippet from terminal what is being printed?

cc @ARMmbed/team-realtek Please review

[2018-11-29 13:40] offirko commented on #8870
@jeromecoutant - I believe qspif-blockdevice tests should only be run on the new targets after tests-mbed_hal-qspi tests are successful.

[2018-11-29 14:51] alzix commented on #8865
@Patater it is not related to PSA internal storage PSA internal storage depends on internal TDBStore.
Thus i think it is not related to `TARGET_PSA`

[2018-11-29 15:45] klaas019 opened #8906 "LowPowerTimeout Broken"
### Description

LowPowerTimeout is broken in mbed-os-5.10.3 and 5.10.4. The LowPowerTimeout will not work properly if the time to fire is set to 3 seconds or greater. If one of the timeouts is less than 3 seconds then all of the timeouts will fire correctly.

Test1:

Code:
`#include "mbed.h"
#define NUM_TIMEOUTS 5

int main() {
    Timer timers[NUM_TIMEOUTS];
    LowPowerTimeout timeouts[NUM_TIME

[2018-11-29 16:05] jeromecoutant commented on #8906
Hi

I don't see any big change between 5.10.3 and 5.10.4 ...

About tests status, I didn't see any regression for NUCLEO_F411RE-GCC_ARM betwen all version 5.10.x

ex:
- tests-mbed_drivers-lp_timeout: OK
- tests-mbed_drivers-lp_ticker: OK

[2018-11-29 16:14] jeromecoutant commented on #8906
I think my first answer may be wrong...
Please follow #8777
You can even try the proposed patch.

[2018-11-29 16:14] klaas019 commented on #8906
My wording may have been confusing, the above code was working properly in 5.10.2 and stopped working in 5.10.3.

[2018-11-29 16:15] ciarmcom commented on #8906
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-204*

[2018-11-29 16:15] ciarmcom commented on #8903
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-205*

[2018-11-29 16:26] jeromecoutant commented on #8906
So guilty PR could be #8279 ?

@c1728p9 @fkjagodzinski

[2018-11-29 16:36] klaas019 commented on #8906
I tried the patch from #8777, and it didn't work. Also tried doing a git revert on the commit 023603faa7c7579d0e8ee30459fe7b55e3c76335, this also did not work.

[2018-11-29 18:08] yogeshk19 commented on #8635
@pan-  That would be great if we can develop BLE applications irrespective of the soft device or a platform specific API set, Infact that would be a great relief. However I do use the Flash API's for storage and that uses the Soft Device API's I believe. Not sure how that would work when using Cordio Link Layer?

So I am assuming with the upcoming release in addition to the features one listed abo