[2017-02-23 10:23] BlackstoneEngineering commented on #3498
Its a hardware limitation, as I recall their PWM register is 12bits or some such which prevents longer periods. If you go read their datasheet it states it pretty clearly.

I consider the failure of the K64F on the 100ms test to be the CI Test shield working correctly. This is not an error on the CI Test Shield, this is the underlying hardware having an issue, one that surfaced and many people onl

[2017-02-23 11:18] pan- commented on #3824
@ptpaterson Thanks for your suggestion, it would be interesting to extend the Callchain class to non nullary function.

There's no need to define a template for every arity out there a single class template definition can be  handle handle all of them because the `CallChain` class is just delegating to the `Callback` class. The only templates "duplication" needed are template overloads of the func

[2017-02-23 13:42] vargham commented on #3826
Working. Thanks.

[2017-02-23 14:55] ptpaterson commented on #3824
**Template Specialization and Aggregator for `call`**
The benefit to building in an aggregator into the CallChain would be to have `call`/`()` operator return the same value type as the `Callback`s.  However, I realize both:

1. realize my use case is pretty specific, and that I can iterate over the callbacks with `size()` and `get()`, and
2. @pan, Your template version is indeed much more elegant

[2017-02-23 15:21] ptpaterson commented on #3824
A forked version of [`GenericCallChain.h`](https://gist.github.com/ptpaterson/7a1c88ca6fec9d85b75f3b7874003ced)

[2017-02-23 16:15] #3163 closed

[2017-02-23 16:16] stevew817 commented on #3819
@pfried Can you compile using the --mbedlib flag @0xc0170 linked to? That should solve your problem for the moment. I agree there should be a better message, but that is something for the mbed team to solve in the CLI and/or during target discovery.

@0xc0170 This issue is not specific to Silicon Labs devices anymore. Do we still need that tag here?

[2017-02-23 16:16] #3259 closed

[2017-02-23 17:05] pan- commented on #3824
@ptpaterson Thanks for your clarifications.

A generic aggregator would not always return a type identical to the one returned by the callbacks hosted by the callchain. Providing an implementation which cover this case is more complex and would add another template parameter to the template class and the creation of dedicated iterator to iterate over `CallChainLink` instances of the `Callchain`.

[2017-02-23 17:35] mfiore02 commented on #3823
@0xc0170 LGTM. Love the use of templates to keep it clean!

[2017-02-23 17:37] pan- commented on #3824
@ptpaterson It is easier than you may think. The simplest solution add a `ReturnType` typedef in the `Callback` class but a trait extracting the type is trivial:

[code]

[2017-02-23 18:06] geky commented on #3824
Perhaps a prioritized version should be split into a separate class? Maybe PriorityCallChain? This would match similar design patterns for Queue and PriorityQueue.

I'm still not really sold on typedefing the callback type. The callback class itself has a simpler name than function pointers and including the type information in the name discourages users from only supporting a single callback type

[2017-02-23 18:35] theotherjimmy commented on #3793
was fixed by https://github.com/ARMmbed/mbed-os/pull/3521

[2017-02-23 18:37] theotherjimmy commented on #3793
That fix went into 5.3.3. The online tools are scheduled for an update soon, and that update will use version 5.3.5 or later, brining in this fix.

[2017-02-23 20:03] vargham commented on #3793
OK, Thank you.

[2017-02-24 01:48] kyliuxing commented on #3825
@bulislaw
It works!Thank you!
But the check is still enabled, how it was effected by macro DMBED_HEAP_STATS_ENABLED ?

[2017-02-24 02:59] ptpaterson commented on #3824
Wrote out a [full-ish comparison](https://gist.github.com/ptpaterson/d223669547d11d71f38ebf6041436d0c) of what it would look like in either case - no `Callback` typedefs vs typedefs... here's what I currently think:

**NOT Typedefing**
- PROS:  Being explicit about the Callback types is more indeed more clear and conveys intent better to a user/application.
- CONS:  If a change is needed to the ca

[2017-02-24 02:59] ptpaterson commented on #3824
Thanks @pan, I got a bit hung up on it.  I quite satisfied now with running some aggregator externally from the `CallChain`.  And my satisfaction is what is most important :D

[2017-02-24 03:03] TsungtaWu opened #3834 "NRF51_DK error on test case: 'SPI - SD card exists'"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NRF51_DK

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
1.0.0

**Expected behavior**
In CI test, K64F is able to pass test case 'SPI - SD card exists'

**Actual behavior**
NRF51_DK have ERROR on test case 'SPI - SD card exists'

**Steps t

[2017-02-24 07:45] 0xc0170 commented on #3834
cc @anangl @nvlsianpu

[2017-02-24 09:16] naushad-rahman opened #3835 "Xdot Lora"
### Description
- Type: Bug
I am trying to implement Callback function , Example sited by the mbed

[code]

- Related issue:
I am getting Hard fault
output is
Hard FaulTh 1: 0
Th 2: 0
Th 3: 0

## Bug

**Target**
XDot

**Toolchain:**
GCC_ARM

[2017-02-24 09:31] bulislaw commented on #3825
I've tried it on mbed OS master and it wasn't, it worked ok, but only the first time, when I've tried to allocate multiple queues then I could see NULL popping out. You generally can't rely on initial values of memory, I'm guessing 'luck' and little shift in memory access patterns shifted it around.
I'll close the issue now, please reopen it if you need further assistance.

[2017-02-24 09:31] #3825 closed

[2017-02-24 09:51] andcor02 commented on #3816
This also seems to be an issue with the L476RG.

https://developer.mbed.org/questions/77125/Nucleo-L476RG-Will-not-compile-in-Keil-u/

[2017-02-24 09:56] pan- commented on #3824
@geky @ptpaterson I believe having a typedef defining the type of `Callback` used is still important, even if it not used in the signature, it can help generic code to retrieve the type of `Callback` objects needed. For instance `Container::value_type` is not used to defined signature of insertion functions in the standard library but it can be used by generic code to retrieve the `value_type` hel

[2017-02-24 11:08] 0xc0170 commented on #3835
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-02-24 12:34] SeppoTakalo commented on #3805
I cannot replicate this.

I tried with Nanostack-border router using mbed-OS master, and mbed-client using one commit behind mbed-OS master.

[code]

Can you try your setup with full logging enabled and `FEATURE_NANOSTACK_FULL` enabled as it outputs more logs.

[2017-02-24 14:19] nvlsianpu opened #3838 "Thread::max_stack() return bad value"
### Description
- Type: Bug
- Priority: Major

Thread::max_stack()  return lowest unused address from thread's stack instead of maximum of stack usage.
---------------------------------------------------------------

**Target**
All

**Toolchain:**
All

**meed-os sha:**
https://github.com/ARMmbed/mbed-os/tree/feature_cmsis5
3d4155e2ee1272bcb330692869c1d7a56b2625a4

[2017-02-24 14:20] nvlsianpu commented on #3838
@pan-

[2017-02-24 14:27] pan- commented on #3838
@bulislaw The bug is, I believe [here](https://github.com/ARMmbed/mbed-os/blob/feature_cmsis5/rtos/Thread.cpp#L225). size should be equal to `high_mark * sizeof(uint32_t*)`.

[2017-02-24 14:31] nvlsianpu commented on #3838
size = (~~(uint32_t)thread->stack_mem +~~ thread->stack_size) - (high_mark * 4);

[2017-02-24 15:37] nvlsianpu commented on #3690
@bulislaw
https://github.com/ARMmbed/mbed-os/pull/3839
I used GCC 5.4
All test passed, for ARM compiler as well. IAR still is unable to compile tests - but as I guess this is expected for now.

[2017-02-27 07:30] bcostm commented on #3835
Not an ST device...

[2017-02-27 07:38] naushad-rahman commented on #3835
It is ST device

https://developer.mbed.org/platforms/MTS-xDot-L151CC/

[2017-02-27 07:49] bcostm commented on #3835
I meant not an ST platform...

[2017-02-27 07:54] bcostm commented on #3823
@0xc0170 please change label to `devices:multitech`

[2017-02-27 10:07] 0xc0170 commented on #3835
I'll do. First thing would be to identify this within the multitech target, and see if this issue applies to a common code base that would affect other targets as well, then this could apply to ST platforms.
Sorry for the initial confusion

[2017-02-27 12:15] bulislaw commented on #3683
@0xc0170 any news?

[2017-02-27 12:36] betzw commented on #3805
Today I have tried with `nanostack-border-router-private` and `mbed-os` (branch `master`, sha1: `3a27568a505bbc0bb8eeb973109d3d39ce823d1c`. I have tracing enabled
```"debug-trace": "true",``` & ```"mbed-trace.enable": 1,```
and```"target.features_add": ["NANOSTACK", "NANOSTACK_FULL", "COMMON_PAL"],```

The whole resulting trace comign out from the border router is:
[code]

Note, I am using the nan

[2017-02-27 13:41] 0xc0170 commented on #3835
cc @mfiore02

[2017-02-27 13:44] 0xc0170 commented on #3823
@mfiore02 Can you send a fix ?

I changed however as the above message indicates, the issue is in the common target code?

[2017-02-27 13:55] 0xc0170 commented on #3821
@wjffsx feel free do add this target to IAR

If you need any help, let us know

[2017-02-27 14:32] sextondw commented on #3524
This issue still seems to exist. I have tried to use 5.3.3 and 5.3.5 and still have no success setting a static IP address. The original ticket is: https://github.com/ARMmbed/mbed-os/issues/3524

I believe this is still an issue.

[2017-02-27 15:10] bcostm commented on #3823
Since PR #3665, the `#define GPIO_IP_WITHOUT_BRR` must be set for devices which don't have the BRR register. The STM32L151 has the BRR register (following datasheet) and the `#define GPIO_IP_WITHOUT_BRR` is NOT defined, so everything is correct to me.

I double checked the blinky LED example on the NUCLEO_L152RE (same family) and it is OK.

I tested again the ci-test digitalIO test and also OK:
[c

[2017-02-27 15:48] bulislaw commented on #3683
@bcostm I've got some results, that looks similar to yours. Could you please have a look at the failures. I think the issue with building tests is resolved now.

ARM:
[code]
GCC(v6):
[code]

[2017-02-27 16:23] rkyymmt commented on #1371
+1

[2017-02-27 16:52] janjongboom opened #3845 "Should semihosting be allowed from mbed-events callbacks?"
### Description
- Type: Question

## Question

https://forums.mbed.com/t/events-semihosting/2237

[2017-02-27 16:53] bcostm commented on #3683
OK no more error due to the DEFAULT_STACK_SIZE, I can compile the project but I still have these warnings:
[code]

[2017-02-27 17:13] bulislaw commented on #3690
I'm getting all green for NRF52, but back to issues on for NRF51:
[code]

[2017-02-27 17:20] c1728p9 commented on #3735
@LMESTM I'm no longer able to set the SPI clock to 100KHz on multiple boards.

[2017-02-27 18:47] janjongboom commented on #3835
Is this on mbed OS 5.3.5? If so, downgrading to 5.3.1 might work due to #3823.

[2017-02-27 19:27] geky commented on #3774
@c1728p9?

The above patch looks reasonable to me if I am understanding the problem, though @c1728p9 is the architect behind the join behaviour.

[2017-02-27 20:01] yogeshk19 commented on #3509
I am assuming this is still in a proposal stage? Has there been any progress on considering implementing the Tickless mode in the near future for the mbed-os 5? The reason I ask is I am using the NRF52832 BLE module and one of the reasons we have been told is that NRF52 BLE module doesn't go long into sleep is because of the lack of this feature in the MBED OS5.  Here is a [link ](https://develope

[2017-02-27 20:03] c1728p9 commented on #3774
The thread class was not designed to be started multiple times. There should be code to assert that this does not occur.

[2017-02-27 20:05] tim-nordell-nimbelink commented on #3774
@c1728p9 The sample inside Thread.h shows this usage:

[code]

If this is the case (unsupported), the documentation in the header file should be updated.

[2017-02-27 20:07] c1728p9 commented on #3774
Hi @tim-nordell-nimbelink, that example only calls start just once. It does not call it in a loop.

[2017-02-27 20:10] tim-nordell-nimbelink commented on #3774
@c1728p9 Yeah, I realized that after I posted the clip from the documentation.  (I was just glancing at it now.)  Either way, if it is intentionally not supported, the second invocation of start() should probably assert() itself instead of the second join() call, and the documentation should be updated.

[2017-02-27 20:23] c1728p9 commented on #3774
I agree. I'll create a PR to make it assert in the start.

[2017-02-27 22:54] theotherjimmy commented on #3249
Yes. Closing.

[2017-02-27 22:54] #3249 closed

[2017-02-27 23:27] mfiore02 commented on #3823
@bcostm I agree that everything looks great on the L152RE. I added some debug logging to the app and the gpio driver:

[code]

[code]

I ran this code on both the xDot and the Nucleo-L152RE. The Nucleo worked perfectly, but the xDot did not. It looks like the writes to GPIOx->BRR are not having any effect.

This snippet is from the xDot's debug output.

[code]

The value of the IO doesn't change w

[2017-02-28 09:02] bcostm commented on #3823
It looks like the BRR register is not present in the L151CC device despite the fact that it is written in its datasheet. Very strange, I will check internally in ST.

Concerning the usage of BSRR, the only difference I can see is the addition of a 16-bits shift. This will slower the performances.

I think the best is to add the GPIO_IP_WITHOUT_BRR only for platforms using L151xx devices. I suggest

[2017-02-28 09:11] bulislaw commented on #3509
It will be, but I can't commit to a timeline at this stage. In current implementation the platform will go to sleep if theres nothing to process, but it will be woken up for SysTick processing, after which it may go back to sleep if there's nothing else to do.

[2017-02-28 09:26] LMESTM commented on #3735
@c1728p9 I'm proposing here #3759 to move error call to warn instead - let me know if ok

[2017-02-28 11:04] SeppoTakalo opened #3847 "Cannot clone mbed-OS in Windows if PATH length is already too long"
Within mbed-OS longest filename is 165 characters.
Windows API allows only 260 characters.
https://msdn.microsoft.com/en-us/library/aa365247(VS.85).aspx#maxpath

|length| file name|
|------|----------|
|155|`./mbed-os/features/FEATURE_UVISOR/targets/TARGET_UVISOR_SUPPORTED/TARGET_STM32F4/TARGET_RELEASE/TARGET_M4/libconfiguration_stm32_cortex_m4_0x10000000_0x0.a`|
|157|`./mbed-os/features/nanostack

[2017-02-28 11:04] SeppoTakalo commented on #3847
Please review: @sg- @mikter

[2017-02-28 11:51] 0xc0170 commented on #3845
It should work. I wonder if we can get more details how it locks up (where exactly) and if we can get simple application/test to reproduce it easily.

cc @bcostm @adustm @LMESTM @jeromecoutant
@geky

[2017-02-28 12:38] bulislaw commented on #3838
I'll commit the fix soon:
[code]

[2017-02-28 14:32] bulislaw commented on #3838
Fixed now.

[2017-02-28 14:32] #3838 closed

[2017-02-28 14:43] mfiore02 commented on #3823
I have in fact already tested that solution for the xDot and it works like a charm. The Nucleo works fine as is. I'm not sure if TARGET_MOTE_L152RC needs the fix. I'd assume TARGET_NZ32_SC151 does as it appears to be a L151CC as well.

I'm happy to include either of these boards in my PR if they need the fix, but I'm not sure if they do since I don't have them to test. Can somebody let me know?

[2017-02-28 14:49] mfiore02 commented on #3823
@0xc0170 Are the ci-test-shield unit tests you referenced above part of the validation of a mbed-os release for all platforms?

[2017-02-28 14:50] bomilkar commented on #3673
exact same issue here.
Would also like to know how to resolve this.

[2017-02-28 15:49] mfiore02 commented on #3835
@naushad-rahman @janjongboom @0xc0170 quick update...

I have a NUCLEO_L152RE on hand and this app looks OK on that platform with mbed-os-5.3.6.

I tested this app on the xDot starting with mbed-os-5.3.6.

Versions 5.3.6 - 5.3.1 all had the same behavior.
[code]
Hard faults ad infinitum.

Versions 5.3.0 - 5.2.0 also all had the same behavior.
[code]
No output after the first line.

I can't go back

[2017-02-28 16:11] LMESTM opened #3849 "Error on SPI freq lower than requested one"
As reported here: https://github.com/ARMmbed/mbed-os/pull/3759#issuecomment-282786963

With this patch 100KHz no longer works on the Odin (NUCLEO_F439ZI) and NUCLEO_F429ZI. When the SDBlockDevice is used I get:
"Couldn't set suitable SPI freq: request:100000, lowest:328125"

[2017-02-28 16:40] c1728p9 commented on #3849
100KHz isn't an unreasonable frequency. Can the clock divisor code be updated to divide this low? I think there is a prescaler register (divide up to 256 in powers of 2) and a divider register (divide up to 255).

[2017-02-28 19:01] mfiore02 commented on #3835
@janjongboom based on the progress we've made with #3823 I don't think this issue is related.

[2017-02-28 20:05] jupe commented on #3847
this has been problematic with CI as well

[2017-02-28 20:06] maclobdell opened #3851 "Maxim platforms need exporter (project generation) support for common IDEs"
### Description
- Type:  Enhancement
- Related issue: N/A
- Priority: Major

---------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**

Maxim platforms (MAX32600MBED, MAX32620HSP, MAX32625MBED, MAX32625NEXPAQ, MAX32630FTHR, MAXWSNENV) have generic eclipse and makefile export support, but lack support for Keil uVision and

[2017-02-28 20:12] maclobdell commented on #3851
cc @jessexm,  @kgills

[2017-02-28 20:38] mfiore02 commented on #3835
It looks like the error is encountered during the context switch. Below is the stack trace and register info from the app compiled with mbed-os-5.3.6.

[code]

Entry 2 in the stack trace is in the processor's RAM, not FLASH. The ?? is also suspicious to me. I'm not a RTOS master, so I'm asking those who are: does the RTOS have components that execute out of RAM instead of FLASH? Or are we having s

[2017-02-28 20:40] yogeshk19 commented on #3509
Thanks Bartek for your response. Is there a specific version of mbed that it is slated for? The reason I ask this it has become a blocker for us at this point using mbed-os-5 on Nordic platform. The only other solution is to ignore the RTOS from the build. We use some of the features of the RTOS today  in our application, we will have to figure out a way to do without them and I don't know how muc

[2017-02-28 20:50] c1728p9 commented on #3735
@LMESTM sounds good to me.

[2017-02-28 21:17] theotherjimmy commented on #3673
I think this is just the flags being out of date. I can reproduce this issue. I'm going to see if I can solve it.

[2017-02-28 22:09] pan- commented on #3509
@yogeshk19 Current version of mbed OS use RTX v1.
Tickless operations are explained [here](http://www.keil.com/pack/doc/CMSIS/RTOS/html/lowPower.html).

On NRF52, this would to translate to something like this (untested):

[code]

[2017-02-28 23:32] bridadan opened #3853 "[UBLOX_EVK_ODIN_W2] Default uVision settings fail on flash/debug"
**I include a fix at the bottom, please read!**

### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**IDE:**
uVision

**IDE version:**
5.16a

**mbed-cli version:**
`1.0.0`

**meed-os sha:**
`3a27568a505bbc0bb8eeb973109d3d39ce823d1c`

**STLink version:**
Latest (`2.28.18`)

**Expected behavior**
Debugg

[2017-03-01 01:03] yogeshk19 commented on #3509
@pan- Vincent,
Thanks a lot for taking the time and putting this down. I would definitely give it a shot and see if this helps. Just wanted another clarification, I know earlier we required the .mbedignore file to exclude rtos and but since the code above uses RTOS api's  I am hoping I can remove the .mbedignore file from my build?

Thanks,
Yogesh

[2017-03-01 03:44] TomoYamanaka opened #3854 "Build error occurs for deletion of latest revision of FATFileSystem lib"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

In [mbed offcial FATFileSystem library](https://developer.mbed.org/users/mbed_official/code/FATFileSystem/), version 3 or later seem to be gone.
History : https://developer.mbed.org/users/mbed_official/code/FATFileSystem/shortlog

FATFilesystem lib revision 9 existed at least Jan

[2017-03-01 06:03] malay29 commented on #343
@TravisJoe

How you dealt with storing variable length packets in array without getting stuck at getc() ?
Because, in my case the getc() function waits for more data, when the data received is shorter then the buffer size, and hence resulting halt of program.

[2017-03-01 07:24] markus-becker-tridonic-com opened #3855 "STM32F091: Peripherals keep running when debugging"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32F0

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.4.1 20160609

**mbed-cli version:**
0.9.10

**mbed-os sha:**
5.3.4 and earlier

**Expected behavior**
Peripherals get stopped when debugger is on a breakpoint.

**Actual behavior**
Peripherals (i.e. ADC) continue

[2017-03-01 09:23] #3805 closed

[2017-03-01 09:24] bulislaw commented on #3509
Yeah, like @pan- mentioned (thanks for that), it's pretty straightforward to do per board. The tricky bit is to make it work for range of them. I think we did a wrong thing when we tried it the first time by trying to make it work for all the boards, rather than add device capabilities and activate it for boards it actually works for and expand the set of boards with time.

[2017-03-01 11:05] janjongboom opened #3856 "All lpcxpresso exports are broken: no instructions for GCC_CR in profiles"
Every export to lpcxpresso breaks with:

[code]

This is because none of our profiles have GCC_CR configurations in them.

@theotherjimmy

[2017-03-01 13:02] 0xc0170 commented on #3853
I had similar issue today when exported a project to IAR 7.8 (cmsis was set as jtag). took me a while to find this was causing flash failures. I can report this separately

[2017-03-01 14:41] theotherjimmy commented on #3856
See https://github.com/ARMmbed/mbed-os/blob/master/tools/export/lpcxpresso/__init__.py#L23

LPCXpresso does not use GCC_CR.

[2017-03-01 15:45] bcostm commented on #3826
Issue to be closed. Thanks.

[2017-03-01 16:03] #3826 closed

[2017-03-01 16:20] tbondar opened #3857 "nRF52 timer problem"
### Description
I'm trying to get the [BLE_Button example](https://github.com/ARMmbed/mbed-os-example-ble/tree/master/BLE_Button) working with low power enabled. Based on the answer to [this question](https://developer.mbed.org/questions/77180/using-power-management-API-such-as-sd_ap/) I compiled the example code with RTOS disabled (by adding ```.mbedignore``` as suggested). Power consumption went

[2017-03-01 16:44] 0xc0170 commented on #3807
@theotherjimmy Please look at this one, you can see above that it causing problems during OOB (any target with FPU cant be compiled in the uvision IDE)

[2017-03-01 16:57] jeromecoutant commented on #3668
Hi
Could we close this issue ?
Thx

[2017-03-01 17:00] theotherjimmy commented on #3807
Thanks for organizing this for me @0xc0170 I'll tag these issues in the PR description.

[2017-03-01 17:02] #3668 closed

[2017-03-01 17:40] adbridge opened #3858 "NRF51_DONGLE_LEGACY, NRF51_MICROBIT_B targets defined incorrectly and do not inherit as expected"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NRF51_MICROBIT_B
NRF51_DONGLE_LEGACY

**Toolchain:**
ARM

When compiling a test application which has the mbed lib (mbed-os 2 sdk) included, the above two targets fail to compile with the following error:

DEBUG:root:Library name 'platform' is not unique (defined in '/s

[2017-03-01 17:44] adbridge opened #3859 "MAXIM targets fail to compile with mbed-dev (rev 137)"
### Description
- Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
MAX32620HSP / MAXWSNENV

**Toolchain:**
ARM

**Toolchain version:**
Online IDE

**Steps to reproduce**
Compile a version of blinky with mbed-dev library for either of the above 2 targets in the online IDE. The following error is observed:
Error: L6218E: Undefined symbol __rt_

[2017-03-01 19:31] pan- commented on #3509
@yogeshk19 `#include <mbed.h>` should be enough to compile the `os_idle_demon` function. I've tested the code today, it pass all the mbed test on various platforms (K64F, NRF52_DK and NUCLEO_F411RE) with all the compiler (IAR, ARM and GCC_ARM) and it breaks nothing.

Power consumption improved a lot but I need to do more precise measure to understand precisely how much it consume with this code.

[2017-03-01 19:41] yogeshk19 commented on #3509
@pan- Thanks it magically compiles now, it wasn't last night :). However I had to add a definition for #define INT_MAX 0xFFFFFFFF to my code base, otherwise it gives a compilation error and I get a warning for this comparison below indicating we are comparing an integer with an unsigned integer. Did you intend for the max_us_sleep to be a signed integer?
`if (us_to_sleep > max_us_sleep)`

Also I h

[2017-03-01 20:08] pan- commented on #3509
@yogeshk19 sorry, I forgot  `INT_MAX` is in the headed `<limits.h>`.  an it is not equal to `0xFFFFFFFF` but `0x7FFFFFFF`.

Yes it was intended because `Timer::read_us` return an int using similar unit seems to be a good thing.
`if (us_to_sleep > (uint32_t)max_us_sleep)` seems more appropriate, `max_us_sleep` is a positive number.

Yes, integral division then multiplication. That way, `max_us_slee

[2017-03-01 20:14] TravisJoe commented on #343
@malay29
It has been a couple years now so I am not sure how the API has changed, but hopefully it has improved. If you are using the main mbed platforms likely the readable() function correctly tells you if there is data in the buffer.

You could do a while loop based around what readable() returns and only use getc() when there is items in the buffer.

[2017-03-01 20:29] yogeshk19 commented on #3509
Thanks @pan-  Vincent. I have included the changes, you have made and hopefully we will hear something good from the team testing it and should shortly let you know how the test goes.

Thanks,
Yogesh

[2017-03-01 20:40] c1728p9 commented on #3774
Created #3862

[2017-03-01 20:59] bperry730 opened #3863 "STM32F767ZI CAN object instantiation fail if bus is active."
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
nucleo_f767zi

**Toolchain:**
GCC_ARM

**mbed-cli version:**
1.0.0

**meed-os sha:**
bcf7085

**Expected behavior**
STM32F767ZI CAN objects can be instantiated regardless of CAN bus usage.

**Actual behavior**
CAN objects will be instantiated if the CAN bus is not cur

[2017-03-01 22:05] senthilr opened #3865 "[OOB_5_4_RC1] mbed CLI export to IAR breaks the debugger download for CMSIS DAP"
# Description
When exporting IAR Workbench project files from mbed CLI, the IAR debugger download and run operation fails ("can't load emulator" error) to connect to target.

# Environment
- K64F
- IAR Embedded Workbench
- Export from mbed CLI:
[code]
# Details & Workaround
Changing the debugger Interface option for CMSIS DAP from JTAG (default) to SWD eliminates the error and Download/Debug works

[2017-03-01 22:59] yogeshk19 commented on #3509
@pan- Vincent,

Alright I have great news your code above rocks and the power consumption dropped significantly into the low 3- 7 UA's. We will be doing more extensive testing in the coming days to get a sense of the actual numbers. The only thing weird thing is that when I used the build generated by the online compiler the power consumption is 300UA's more than when I build the exact same code o

[2017-03-01 23:00] geky commented on #3854
@0xc0170, @adbridge, @bridadan, @theotherjimmy

I'm not sure how the online site synchronizes the mbed 2 repositories, but I suspect this has happened as a result of the FATFileSystem being moved out of the mbed 2 libraries and into the mbed OS 5 set of features.

The "Legacy Warning" is correct that users should switch to mbed OS 5 for the most recent version of the FATFileSystem, but to avoid br

[2017-03-01 23:02] janjongboom commented on #3856
@theotherjimmy then why do the exports whine about GCC_CR? /cc @andcor02

[2017-03-01 23:05] bridadan commented on #3853
As I mentioned in my original post, I was running a pretty old version of uVision (5.16a, from August 2015). As soon as I upgraded to 5.23 the issue went away. @0xc0170 I'd be ok closing this issue at this point if you're ok with that.

[2017-03-01 23:11] theotherjimmy commented on #3856
@janjongboom They don't
[code]

Works for me.

[2017-03-01 23:15] pan- commented on #3509
@yogeshk19 really happy that it works. I wasn't able to have precise current consumption bellow 100ua.

My wild guess: the UART (more likely...) or another peripheral is enabled during the initialization when armcc is used. Might worth to look in a debugger what peripherals are active. I will check that tomorrow.

[2017-03-02 10:40] 0xc0170 commented on #3865
Thanks for the report. I can confirm this is an issue.

@theotherjimmy

[2017-03-02 10:41] 0xc0170 commented on #3865
@senthilr I can see you already provided a fix, but dont see it here in mbed-os. I can do it quickly and test it locally.

[2017-03-02 11:08] janjongboom commented on #3856
@theotherjimmy On mbed-os-example-blinky with mbed OS 5.3.6:

[code]

[2017-03-02 12:56] 0xc0170 commented on #3863
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-03-02 13:15] bcostm commented on #3683
We've found something that seems to fix the issue (thanks @jamike) but we need first to launch a full non-regression tests on all our platforms to see if this doesn't break anything else... I'll keep you updated.

[2017-03-02 13:15] #3853 closed

[2017-03-02 13:20] anangl commented on #3834
There are two problems that cause these tests to fail. One, related to Nordic's HAL implementation, should be fixed by PR #3842. But the other one is that these tests need a lot of stack space (over 3 kB), due to the way the FATFileSystem is implemented. And currently, the stack size for the main thread is set to 2 kB for TARGET_MCU_NRF51822 (see [here](https://github.com/ARMmbed/mbed-os/blob/mast

[2017-03-02 14:12] bulislaw commented on #3690
All test are passing on feature_cmsis5 branch. Closing.

[2017-03-02 14:12] #3690 closed

[2017-03-02 15:26] daniel-cesarini-tridonic-com opened #3873 "Possibility to know how many events are in an eventqueue"
### Description
- Type: Question

## Question

**Is it possible to know how many events are in an eventqueue?**

In particular, is it possible to have the current and maximum number of events present in an eventqueue (https://github.com/ARMmbed/mbed-os/tree/master/events)?

We have seen that in equeue_alloc code there is some checking of available memory, and we are thus wondering whether any func

[2017-03-02 15:31] tbondar commented on #3857
I couldn't reproduce the problem with RTOS enabled (i.e. the default ``.mbedignore`` file). I keep my test running just in case, but it seems this problem is related to when low power mode is enabled one way or another.

[2017-03-02 16:00] 0xc0170 commented on #3873
What would be the use case? Can you share what drives this new addition?

[2017-03-02 16:43] mray19027 opened #3874 "[OOB mbed-os-5.4] Blinky doesn't run when compiled with IAR for target MTS-mDot-F411"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os-example-blinky/issues/45

Run fails for blinky when compiled with IAR for target MTS-mDot-F411

---------------------------------------------------------------
## Bug

**Target**
MTS-mDot-F411

**Toolchain:**
IAR

**Toolchain version:**
`IAR ANSI C/C++ Compiler V7.80.4.12462/W32 for ARM`

**mbed-cli version:**
`1.0.0`

[2017-03-02 19:11] theotherjimmy commented on #3856
https://github.com/ARMmbed/mbed-os/pull/3791 Fixed this. It's slated for 5.4.0.

[2017-03-02 19:27] geky commented on #3873
Unfortunately not, the event queue supports dynamically sized contexts, which makes determining how many more events can be dispatched complicated. Even if you can dispatch many small events, fragmentation may prevent you from allocating a single larger event.

If you are only using fix-sized events you can just keep a counter tracking how many events have been dispatched.

I am curious though, wh

[2017-03-02 22:29] janjongboom commented on #3856
Great, thanks.

[2017-03-02 22:29] #3856 closed

[2017-03-03 06:38] daniel-cesarini-tridonic-com commented on #3873
The use case is to tailor the EventQueue size to the actual maximum number of events that need to be handled in the queue at the same time (in order to get a statistic estimate, yes).

I am then wondering about the effect of this
[code]
if you say that the allocation is dynamic, what is that for (by the way, on our codebase the allocation of such an EventQueue with 32 (that is the default) seems t

[2017-03-03 06:44] toyowata commented on #3813
Related bug report : https://developer.mbed.org/questions/77234/mbed-LPC1114FN28mbed-dev/

[2017-03-03 08:43] bomilkar commented on #3673
Which flags do you think are out of date?
It looks to me as if there are references in libc.a which cannot be resolved. Something seem to be missing.

[2017-03-03 09:16] bomilkar commented on #3673
Update:

I changed the Makefile as follows:
## remove this from LD '-Wl,--wrap,_malloc_r' '-Wl,--wrap,_free_r' '-Wl,--wrap,_realloc_r' '-Wl,--wrap,_calloc_r'
## remove this from LD_FLAGS: -Wl,--wrap,_malloc_r -Wl,--wrap,_free_r -Wl,--wrap,_realloc_r -Wl,--wrap,_calloc_r

**With these 2 changes it woks for several projects.**

[2017-03-03 11:44] andresag01 opened #3876 "Deprecated `toolchain.h` warnings when compiling mbed TLS examples."
### Description
- Type: Bug
- Priority: Minor

When compiling any of the examples in mbed-os-example-tls, the following compilation warning is repeatedly printed:
[code]
It seems that the `toolchain.h` file has been renamed, but not all `#include` directives to it have been directed. I did a quick grep and found at least four of these, but perhaps there are more:

[code]

I think that these `#incl

[2017-03-03 11:48] 0xc0170 commented on #3876
There's a patch inline, https://github.com/ARMmbed/mbed-os/pull/3868 that should resolve this. I'll review it now.

[2017-03-03 12:55] bcostm commented on #2957
Retested with mbed-os-5.4 and InterruptIn + Analog tests are OK:

[code]

Would you mind closing this issue ?

I will open a new one concerning the FAIL with I2C/EEP test.

[2017-03-03 12:57] 0xc0170 commented on #3874
This issue should fix it - https://github.com/ARMmbed/mbed-os/pull/3875 , should not allow this platform ot export , more details there

[2017-03-03 13:16] bcostm commented on #3501
Retested with mbed-os-5.4

[code]

I think you can close this issue.

[2017-03-03 13:36] screamerbg commented on #2957
This is great @bcostm! Thanks for taking care of these! :+1:

[2017-03-03 13:36] #2957 closed

[2017-03-03 14:32] bcostm commented on #3264
Rechecked with mbed-os-5.4.0. lp_timeout test is OK.
[code]

Can we close this issue ?

[2017-03-03 14:50] #3807 closed

[2017-03-03 14:59] bcostm opened #3878 "EEP/I2C WR 2 bytes ci-test FAIL on some STM32 platforms"
### Description
- Type: Bug
- Related issue: #2957
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

For info, the test is OK on NUCLEO_F429ZI, NUCLEO_F412ZG, NUCLEO_F401RE
Seems related to the I2C IP version embedded in the MCU. To be checked.

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.4 2016q3

**mbed-os:**
mbed-os-5.4

**

[2017-03-03 16:19] LMESTM commented on #3878
@bcostm only on GCC_ARM or other toolchains as well ?
Just tested ok with ARM here ...

+-------------------+---------------+---------------+--------+--------------------+-------------+
| target            | platform_name | test suite    | result | elapsed_time (sec) | copy_method |
+-------------------+---------------+---------------+--------+--------------------+-------------+
| NUCLEO_L476RG-AR

[2017-03-03 16:23] bcostm commented on #2959
Re-checked IOs with mbed-os-5.4 and ci-test shield:

[code]

Don't know why there is this fail on InterruptIn on D6 ? To be analyzed.

For information checked on NUCLEO_F446ZE and it is OK:
[code]

[2017-03-03 16:25] LMESTM commented on #3878
@bcostm - I think this is due to https://github.com/ARMmbed/ci-test-shield/issues/22
The I2C library needs to be updated, which I've done locally, but this hasn't been done in the ci-test-shield official repo yet ...

[2017-03-03 16:54] geky commented on #3873
Adding this sort of statistics is a good idea, though we don't have any hooks in place currently. There is an internal variable that holds how much space is untouched (`EventQueue._equeue.slab.size`), but this may change from version to version, and a different implementation of the event queue may not have access to this information at all.

Ah sorry, I should clarify. The events are variable siz

[2017-03-03 16:55] geky commented on #3876
Is this still happening now that #3868 is merged?

[2017-03-03 16:56] #3876 closed

[2017-03-03 16:56] #3865 closed

[2017-03-03 16:56] 0xc0170 commented on #3865
Should be fixed, rc2 will contain this fix

[2017-03-03 17:41] yogeshk19 commented on #3509
@pan- Vincent,

Did you get a chance to see what peripherals are active? I use the online compiler almost 95% of my development and its worrisome to see that there is 300ua's difference in current consumption when building offline. Let me be clear, the build coming out of the offline compiler and applying that firmware to NRF52 draws less current compared to the build that comes out of the online

[2017-03-05 16:56] NirSonnenschein opened #3883 "Socket attach funciton bug"
Type: bug
Rleated issue: not sure (possibly https://jira.arm.com/browse/IOTUPD-1238)
Priority: Blocker (blocking issue for 1.2 release)

We really appreciate your help on this issue as it is relevant to the 1.2 release (please feel free to forward/add people relevant to this issue).

## Bug
**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
6.2.1 20161205 (I think)

**mbed-cli version

[2017-03-05 17:48] 0xc0170 commented on #3883
cc @geky @kjbracey-arm

[2017-03-06 07:16] kjbracey-arm commented on #3883
(@JanneKiiskila )

@mikaleppanan and I were unable to reproduce this, as discussed via e-mail.

With lwip and your test program, we did get a callback after the send.

If you were to simply issue a read call when you get a callback, it will work.

Can you show an actual program which reads when it gets a callback failing?

[2017-03-06 07:40] kyliuxing opened #3884 "Need check whether a pointer is valid before make overflow test"
I met a bug when i call pbuf_alloc(PBUF_RAW, len, **PBUF_POOL**);, it did not check whether the pointer is NULL before make overflow test.
Thanks!

lwip\src\core\lwip_memp.c
[code]

[2017-03-06 09:04] mikaleppanen commented on #3883
Here are the debug prints I got from that example program. "application callback() !!!!!" is traced when callback is called by socket interface.

------------
Starting mbed Client example in IPv4 mode
[EasyConnect] Using Ethernet
[EasyConnect] Connected to Network successfully
[EasyConnect] IP address 192.168.100.22
[EasyConnect] MAC address d2:47:62:a3:42:84
start socket sanityinterface connected

[2017-03-06 09:07] NirSonnenschein commented on #3883
for my runs I never got a callback between "seeep" and "after sleep"
it seems to work better on your side than it does on mine, can you please specify the version fo MbedOS you used for testing so that I can re-check?

[2017-03-06 09:08] mikaleppanen commented on #3883
This is the latest master of mbed-os.

[2017-03-06 09:19] kjbracey-arm commented on #3883
Don't forget there is a potential race here - the callback could very well be happening before "sleeeep" in your setup. Changing trace may be affecting the precise timing.

And in principle, a callback could even happen before the write(), if the server decided to send before you wrote (unlikely, but could happen if app specified an incorrect port so you weren't talking to an HTTP server), or if i

[2017-03-06 10:22] adustm commented on #3863
Hello @bperry730
Your question is not clear to me.
How do you have NUCLEO_F767 CAN pins attached to the bus?

I can see that usually ST is having a CAN transceiver between the pins and the bus in the evaluation platforms that provide CAN example interface.

During CAN object instantiation the CAN hw module for STM32F767  is entering an init status. During this initialization sequence the bus read

[2017-03-06 10:32] mazimkhan opened #3885 "NUMAKER_PFM_NUC472 mac address is set to software default"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Blocker

NUMAKER_PFM_NUC472 board mac address is not read successfully from hw and it uses the default address: 02:00:AC:55:66:77. Also the socket connection on this board are not stable.

---------------------------------------------------------------
## Bug

**Target**
K64F|?

[2017-03-06 10:48] daniel-cesarini-tridonic-com opened #3887 "Design patterns and documentation for EventQueue"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type:Question
- Related issue: https://github.com/ARMmbed/mbed-os/issues/3873
- Priority: Major

## Question

** Design patterns and documentation for EventQueue **
Is there any further documentation (beyond the .h files and the existing .md) about intended design patterns to be used with EventQueue

[2017-03-06 10:48] daniel-cesarini-tridonic-com commented on #3873
So in the following case:
[code]
would that actually fail because of fragmentation?
and are at the end still 4 words free?

Is there any other documentation about the EventQueue memory pool organization/management?

[2017-03-06 11:53] pan- commented on #3887
@daniel-cesarini-tridonic-com You can consult [this](https://developer.mbed.org/blog/entry/Simplify-your-code-with-mbed-events/) blog post and the documentation (https://docs.mbed.com/docs/mbed-os-handbook/en/5.1/concepts/events/) to learn more about the `EventQueue`.

What do you mean by *different threads* ? EventQueue are orthogonal to thread mechanism.
Events are ordered in the EventQueue by *

[2017-03-06 12:29] daniel-cesarini-tridonic-com commented on #3887
@pan- thank you for providing those pointers. I already checked them.
We are currently developing a system with memory constrained devices, and need to tailor memory usage throughout the system itself. Furthermore I need to better understand the caveats of EventQueue (side effects, memory management, ...), and possible have them in an organized and systematic structure.

Regarding the *different t

[2017-03-06 12:37] 0xc0170 commented on #3885
@cyliangtw @ccli8

[2017-03-06 12:55] cyliangtw commented on #3885
@mazimkhan
There is no eeprom on NUC472 board, so it will use the same default address. We will seek the better way.
More, how to reproduce socket connection unstable issue on your board ?

[2017-03-06 13:02] NirSonnenschein commented on #3883
Hi,
I've re-checked and this issue does indeed seem to be fixed in the mbedOS master (the 5.4 branch seems to contain the fix as well), however the problem is still present in the latest 5.3 branch. the , so it is probably a recent fix.
this still presents an issues creating code which will work reliably on 5.3 and 5.4 and later, is it possible to add the fix to 5.3?

regarding the callback happen

[2017-03-06 13:09] mazimkhan commented on #3885
Updated the steps to reproduce above. Essentially it is unstable while running example https://github.com/ARMmbed/mbed-os-example-tls/tree/master/tls-client
Most of the times it will fail to connect the server (developer.mbed.com). Also some times there are socket errors.

[2017-03-06 13:26] ohagendorf commented on #3863
Hallo @adustm

I have the same problem with an older mbed version and another target (NUCLEO_F446RE). The configuration is the following:
- both boards have a CAN tranceiver
- one board sends CAN messages
- the other board receives CAN message
- when the sending board is started first, the receiving board stops
- when the sending board is reseted, the receiving board continues with initialization

[2017-03-06 13:31] phyokyaw opened #3889 "e2 studio exporter template needs updating for RZ_A1H device."
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: `#1756`
- Priority: Major

---------------------------------------------------------------
Added missing entry in template for the exporter to **e2 studio** IDE.

**Target**
RZ_A1H

**Toolchain:**
GCC_ARM

**Expected behavior**
Generated project should build using e2 studi

[2017-03-06 13:33] 0xc0170 commented on #3889
cc @TomoYamanaka

[2017-03-06 13:33] pan- opened #3890 "[Exporters] make_gcc_arm doesn't use definitions in the default profile"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os-example-ble/issues/61
- Priority: Major

---------------------------------------------------------------
## Bug

**Target** ALL

**Toolchain:** GCC_ARM

**mbed-cli version:**  1.0.0

**meed-os sha:** 3a27568a505bbc0bb8eeb973109d3d39ce823d1c

**Expected behavior** Binary resulting from and export with make_gcc_arm shoul

[2017-03-06 13:34] pan- commented on #3890
@theotherjimmy

[2017-03-06 13:35] 0xc0170 commented on #3884
cc @geky @kjbracey-arm

[2017-03-06 13:35] kuggenhoffen opened #3891 "lwip shouldn't use rand() for port or sequence number randomisation (or at all in general)"
### Description
- Type: Enhancement
- Priority: Major

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
When using an application using TCP socket, I expect port numbering to start from different port between resets. Currently TCP socket ports always start from same number. This is because lwip uses rand() and

[2017-03-06 13:37] kjbracey-arm commented on #3883
Maybe if we knew what the fix was - you said it wasn't #3619 , and I don't know what else would have affected behaviour here. And wasn't #3619 already backported to 5.3.y? Maybe it wasn't because of the comment there that a change might upset some callback-pattern-sensitive users?

At the moment I think you may be just suffering from random timing effects, rather than an actual fix having occurred

[2017-03-06 13:41] 0xc0170 commented on #3891
cc @geky @kjbracey-arm

[2017-03-06 13:50] adbridge commented on #3854
For mbed 2 we only update the 'mbed' lib and the 'mbed-dev' lib on the mbed org site. If however, partners are using any of the code that sits in the 'features/unsupported' path of mbed-os themselves then that could change at any point... Which I suspect is what has happened at this time? But the features path is not in the 'mbed' lib anyway...

[2017-03-06 13:57] 0xc0170 commented on #3854
As I understand, the FAT library on developer page had more revisions that it currently has.

Wait a sec, @TomoYamanaka isn't this library that your app is using - https://developer.mbed.org/teams/mbed-official/code/FATFileSystem/ - it contains  the 9th revision that you referenced above.

[2017-03-06 13:59] kjbracey-arm commented on #3891
Can't argue with this.  rand() and srand() feel to me like reserved-for-application API, and the C standard states that the "implementation" (ie C library) doesn't call either.

System components like network stacks feel to me like they should behave similarly - neither rely on an application seeding srand(), nor interfere with an application that wants to seed rand() manually for its own purposes

[2017-03-06 14:24] pan- commented on #3887
Events from an event queue are dispatched from a single thread at a time while they can be scheduled from multiple thread (single consumer multiple producer queue) but events queue are never tied directly to any threads.

It is the user code responsibility to dispatch/dequeue an event queue in a given thread.
Internally, the event queue is protected against concurrent access by a critical section

[2017-03-06 14:37] kjbracey-arm commented on #3883
Update:

Mika should be able to confirm this tomorrow, but current hypothesis for the difference is that 5.3 with lwIP is tending to very reliably generate an unnecessary callback inside every write() call. And because your code apparently reliably ignores such a callback, no more are generated - NSAPI assumes you're not interested, because you're not making socket calls.

In 5.4, there are fewer

[2017-03-06 15:49] bridadan commented on #3264
I also could not reproduce this issue, so I'll close it!

[2017-03-06 15:49] #3264 closed

[2017-03-06 16:06] geky commented on #3854
@adbridge, neither of us have modified the repo on the mbed org site I believe

[2017-03-06 16:14] tbondar commented on #3509
I tried to apply the changes above to the latest *BLE_Button* example. Power consumption went down a lot but the LED stopped blinking after about 8200 seconds of running. It stayed off for about 780 seconds when it started blinking again. I suspect it would have continued periodically going off every 8200 secs and come back again. It seems the *EventQueue* stops firing and the whole thing is very

[2017-03-06 16:51] #3771 closed

[2017-03-06 16:56] #3823 closed

[2017-03-06 17:55] theotherjimmy commented on #3890
The profile is set to `debug`. you can change it with the `--profile develop` command line option.

[2017-03-06 17:57] theotherjimmy commented on #3890
I am working on a PR that will have exporters use all built-in profiles. I think that should resolve this issue, when it happens.

[2017-03-06 17:57] pan- commented on #3509
@yogeshk19 I can confirm that the serial is initiated during the boot sequence when armcc is used.

@c1728p9 during the initialization of the c runtime of armcc, `_sys_open` is called with the fd 0 (`stdout`). It force the opening of the default UART peripheral even if it not used after. The consequence is an increase of the power consumption. Would it be possible to delay the initialization of th

[2017-03-06 19:31] bperry730 commented on #3863
Hello @adustm

I think your question has to do with the wiring.  I didn't see any CAN transceiver on the Nucleo board,  so the CAN1 (PD0, PD1) is connected to a CAN transceiver that is connected to the bus.  On this bus, I have another CAN node (with transceiver) that I can either start broadcasting or have it broadcasting after I start-up the STM32F767xx.

When the other CAN node is broadcasting

[2017-03-06 19:40] bperry730 commented on #3863
Sorry, I meant these functions are in `mbed-os\targets\TARGET_STM\TARGET_STM32F7\can_api.c` (our target), but they are in `mbed-os\targets\TARGET_STM\TARGET_STM32F1\can_api.c` as well.

[2017-03-06 22:36] mray19027 opened #3896 "I2C constructor failure on K64F when using PinName PTA14"
### Description

Creating an I2C instance using SCL pin PTA14 causes a PinMap mis-match

SCL pin PTA14 is stated to be a valid SCL pin as shown below:
[code]

Code to replicate error:
[code]

### Details

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors) 5.4.1 20160919

**mbed-cli version:**
1.0.0

**meed-os sha:**
e435a07

[2017-03-06 23:15] geky commented on #3891
This is reasonable to me, relying on rand just has practical issues in this situation.

@0xc0170, do you know if the trng API would be reasonable here? That would be an easy requirement for truly randomized ports.

[2017-03-07 07:21] mikaleppanen commented on #3883
Yes, the change between 5.3 and 5.4 is caused by event filtering done in: #3754. As Kevin stated it changed the timing so that after write() the application event is sent later.

[2017-03-07 07:52] NirSonnenschein commented on #3883
OK, I think the basic behavior is problematic (having to read from a socket an extra time because of a spurious "send success" event  is problematic especially since it is not cearly difined what triggers an event) but we will try to to change our implementation accordingly (I think we can make this work for the specific use case).

[2017-03-07 07:54] adustm commented on #3863
Thnak you both for your explanations. We'll have to look deeper into this.
@bperry730 , fyi, those can_api.c have been factorized in TARGET_STM folder in the current version of the ARMmbed mbed-os

[2017-03-07 09:40] pan- commented on #3890
The default profile used during compilation by mbed-cli is `develop`, why it has to be different for this exporter ? Can it be documented somewhere (or align with `mbed compile`) ?

[2017-03-07 11:09] 0xc0170 commented on #3851
Any update?

[2017-03-07 11:43] avolinski commented on #3883
Hi,

I think that no matter what should be the behavior from the underlying network stack.
it should be well defined for the user. Because user needs to know exactly what to expect, so he can implement his code.
User knows what to expect if he would use directly the underlying network stack (such as lwip)
But since it is being abstracted by mbedOS, which is very good, then the responsibility falls

[2017-03-07 12:47] 0xc0170 commented on #3896
Is it because of different size? I would expect lookup go through all (pins might not be the same number for those 2 pins (SDA and SCL)).

@mray19027 Do you suspect an error is in generic layer or specific to K64F MCU?

cc @mmahadevan108

[2017-03-07 13:07] 0xc0170 commented on #2344
Is this issue still valid? I believe we fixed it via mbed-cli, but still persist in the IDE as IAR (the workspace have this limitations that two object files cant have the same name as it flattens output).

[2017-03-07 13:23] 0xc0170 commented on #3509
This is known limitation that I discovered (when we introduced lazy init for stdio object into mbed-drivers). The ARMCC startup calls ``_initio`` that initializes stdio if used (I wonder what they mean by "used").  We shall look at how to postpone this init until it's used. Any pointers appreciated !

[2017-03-07 13:30] kjbracey-arm commented on #3883
You have to read whenever you want data, to avoid all sorts of pitfalls due to race conditions on edge-based signals. By not doing that, you're code is still liable to fail, despite it currently appearing to work.

You aren't demanding a signal before trying the connect or the send. So why are you demanding a signal before trying the read? That makes no logical sense - there's no consistent patter

[2017-03-07 13:36] kjbracey-arm commented on #3883
If you are unable to cope with variations in SIGIO timing, then don't use it. Just retry socket calls using a timer after you get EWOULDBLOCK.

Then you will not see any noticeable variance - the socket calls should not vary much between platforms.

("Much" being the operative word - there could still be variance in how much you might expect to be transferred in one go per non-blocking call, for e

[2017-03-07 13:42] adustm commented on #2344
Hello, According to IAR help book about `--output {filename | directory} `

I don't know how this could be fixed without renaming files. Unless anyone has another idea ?

Kind regards

[2017-03-07 13:54] andcor02 opened #3901 "Support for B-L072Z-LRWAN1"
Just a quick question when support for the B-L072Z-LRWAN1 board will be adde

http://www.st.com/content/st_com/en/products/evaluation-tools/product-evaluation-tools/mcu-eval-tools/stm32-mcu-eval-tools/stm32-mcu-discovery-kits/b-l072z-lrwan1.html

Users are receiving boards, HTML directs them to the page, but when compiling they receive.

"generic_placeholder not recognised"

Any thoughts?

[2017-03-07 14:47] 0xc0170 commented on #3901
cc @bcostm @adustm

[2017-03-07 15:29] kjbracey-arm commented on #3883
The /defined/ behaviour of NSAPI does not change from stack to stack - the implementation of the API follows its documentation on every platform, and on every version.

(Okay, there are some legacy implementation glitches like connect() being blocking-only on some stacks - we're in no rush to correct that one, as we've seen existing code written assuming connect() ignores the blocking flag).

Impl

[2017-03-07 15:47] adustm commented on #3901
Hello @andcor02
ST plans it for Q2'17. But users could create the files following the tutorial here : https://developer.mbed.org/teams/ST/wiki/steps-to-create-a-new-STM32-platform
and we would review their pull request.

The web page was updated yesterday here https://developer.mbed.org/platforms/ST-Discovery-LRWAN1/

Kind regards

[2017-03-07 16:30] geky commented on #3884
@kjbracey-arm, is this actually an issue that should be raised against upstream lwip?

[2017-03-07 16:44] mray19027 commented on #3896
@0xc0170 Updated the issue and issue title.

This is a specific issue with the K64F MCU

[2017-03-07 16:48] bulislaw opened #3903 "cmsis5: Issues with SiLabs Giant Gecko"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
EFM32GG_STK3700

**Toolchain:**
GCC & IAR

**Toolchain version:**
GCC 6.3.1
IAR 7.8

During the upgrade of CMSIS and RTX to versions 5 and 2 we noticed tests failing on Giant Gecko board. The update is not yet finished, but most of the other vendor's boards pass the t

[2017-03-07 16:53] BlackstoneEngineering commented on #3896
@maclobdell

[2017-03-07 17:00] mray19027 opened #3904 "I2C constructor failure on NUCLEO_F746ZG when using PinName PA_8"
### Description

Creating an I2C instance using SCL pin PA_8 causes a PinMap mis-match

SCL pin PA_8 is stated to be a valid SCL pin as shown below:
[code]

Code to replicate error:
[code]

### Details

**Target**
NUCLEO_F746ZG

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors) 5.4.1 20160919

**mbed-cli version:**
1.0.0

**meed-os sha:**

[2017-03-07 17:01] mray19027 commented on #3896
Potentially can be an error in the generic layer because I found another related to the SCL pin for I2C. See #3904

[2017-03-07 17:14] LMESTM commented on #3904
@mray19027 When muxing the 2 pins of an HW block, you need the 2 pins to belong to the same block instance. PA_8 has muxing capability for SDA line of _I2C_3_, whereas PB_9 has muxing capability for SCL line of _I2C_1_, so this will fail for sure ...

[2017-03-07 17:16] mray19027 commented on #3904
@LMESTM Thank you! Closing the issue

[2017-03-07 17:16] #3904 closed

[2017-03-07 17:18] mray19027 commented on #3896
PTA14 is on a different HW block than PTD3. Therefore this should fail and is not an error. Closing the issue

[2017-03-07 17:18] #3896 closed

[2017-03-07 17:35] theotherjimmy commented on #3890
It's not different for this exporter. It's different for all exporters.

[2017-03-07 19:19] geky commented on #3873
Yes, it's an unfortunate side effect of how the allocator works. 4 words of storage are free, but only for allocations <2 words.

Not currently, but it does sound like there should be.

[2017-03-07 19:22] rjpdasilva opened #3905 "Uvisor importer: Build fails with GNU make 4.2.1"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
Any supported by `uvisor`.

**Toolchain:**
GCC_ARM (required for building `uvisor`)

**Toolchain version:**
`6.3.0`

**mbed-cli version:**
`1.0.0`

**mbed-os sha:**
`b2726470f Merge pull request #3880 from adustm/fix_can2_only`

**Expected behavior**
Building `uvisor` s

[2017-03-08 04:10] TsungtaWu opened #3907 "NRF51_DK have FAIL on CI test case 'tests-api-i2c'"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NRF51_DK

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
1.0.0

**Expected behavior**
 In CI test, K64F is able to pass all test case 'tests-api-i2c'

**Actual behavior**
NRF51_DK have three FAIL as shown below
| NRF51_DK-GCC_ARM | NRF51_D

[2017-03-08 07:33] kjbracey-arm commented on #3891
TRNG device is slight overkill, and has the limitation that it's "monolithic" - a single on-board source that may or may not be present.

randLIB is a kind of hybrid in that it starts with the TRNG (via mbedtls_hardware_poll) if present, but now also provides hooks for third parties to chip in with extra randomness (much like mbedtls itself does). That allows radio drivers to add radio noise, or t

[2017-03-08 07:41] kjbracey-arm commented on #3884
Seems to be, yes.

I also believe that MEMP_OVERFLOW_CHECK isn't on in our builds (it would be turned on if someone enabled LWIP_DEBUG), so it doesn't hit normal operations.

[2017-03-08 07:44] hasnainvirk opened #3908 "target.extra_labels_add can potentially be used for network controller announcement"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type:  Enhancement
- Priority:  Minor

## Enhancement
target.extra_labels_add can potentially be used for network controller device driver announcement.
Currently target.extra_labels_add is only available at application level.

I think if we add this to mbed_lib.json in network controller device dri

[2017-03-08 09:36] 0xc0170 commented on #3907
One thing - did you test the version that is checked in ci test repository or updated to different version? There was a fix integrated recently, we can compare if you have already tested it or not. Here's the fix: https://github.com/ARMmbed/mbed-os/pull/3812 (5.4.0 will include this fix)

cc @anangl @nvlsianpu

[2017-03-08 09:37] 0xc0170 commented on #3908
cc @theotherjimmy @sg-

[2017-03-08 09:38] 0xc0170 commented on #3905
cc @Patater @AlessandroA - please review (there is also fix referenced above, sent to this repository)

[2017-03-08 09:44] #3392 closed

[2017-03-08 09:50] andcor02 opened #3909 "Support for FRDM-S32K144"
Just a quick question when support for the FRDM-S32K144board will be added

Users are receiving boards, HTML directs them to them to mbed.

For reference the original issue.

https://developer.mbed.org/questions/77260/Is-S32K144board-supported-by-mbed/

[2017-03-08 10:01] 0xc0170 commented on #3909
cc @mnorman4  @mmahadevan108

[2017-03-08 11:31] adbridge opened #3910 "Filesystem changes made for mbed-os-5.4 have broken mbed 2 compilation"
### Description

Running the mbed-2-release job on the mbed-os-5.4-rc2 release gives 40 target compilation failures (compared with 0 for 5.3.6). Failures seem to be in FileLike.h .

Example failure:
[code]

- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/issues/3854
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
List of failure

[2017-03-08 11:52] adbridge commented on #3910
@geky @simonqhughes

[2017-03-08 11:55] 0xc0170 commented on #3910
See the fix : https://github.com/ARMmbed/mbed-os/pull/3864

[2017-03-08 12:43] 0xc0170 commented on #3903
cc @stevew817

[2017-03-08 14:45] sg- commented on #3890
This has always been the intention. When exporting you are taking advantage of debug capabilities therefore, getting default setting that are debug friendly is the default.

We should add a note to the docs about exporters and close this issue.

[2017-03-08 14:50] stevew817 commented on #3903
Would be nice to get some more information other than 'TIMEOUT'. Test output, for example, or compiler warnings. Did you test other Silicon Labs boards? EFM32PG, for example, which is the one we added to CI during the last partner workshop?
My guess is this has little to do with the actual CMSIS upgrade, since I'd then expect all tests to fail instead of 3/4. Everything going red on IAR does sound

[2017-03-08 15:10] bulislaw commented on #3903
I'm afraid I don't have much more details as the tests just hang. I'll try to connect debugger to get some more details. I would assume it's issues with the tests, but they pass on most of the platforms and they used to pass on GG before the CMSIS/RTX upgrade. I don't have PG, but I'll try to find one, we should have one.

[2017-03-08 15:13] bulislaw commented on #3688
@andreaslarssonublox any chance you could have a look at that? Also @0xc0170 got IAR support, there are still some issues with it, but generally it should be possible to figure out if it will work or not.

[2017-03-08 15:14] bulislaw commented on #3683
@bcostm any news?

[2017-03-08 15:17] mmahadevan108 commented on #3909
cc @jasonNXP. There are no plans to add mbed support for FRDM-S32K144

[2017-03-08 15:29] 0xc0170 commented on #3909
I'll close this. IF anything changes,  feel free to reopen

[2017-03-08 15:29] #3909 closed

[2017-03-08 15:34] andreaslarssonublox commented on #3688
Yes, @ramtin-r is looking at it right now.

[2017-03-09 05:18] TomoYamanaka commented on #3889
@0xc0170

This issue is a same cause with the following Issue, we are working together.
  https://github.com/ARMmbed/mbed-os/issues/3593

@phyokyaw is dealing with this issue. Do you mind tracing with here?

[2017-03-09 05:20] TomoYamanaka commented on #3593
This issue traces with #3889.

[2017-03-09 07:37] pfried commented on #3819
that it okay for me, we only used the board for evaluation, so it does not really matter

[2017-03-09 08:31] cyliangtw commented on #3885
@mazimkhan
After implemented unique locally administered MAC address, I tested tls-client sample and never suffered failure of HTTPS connection. I attached the log for your reference. I will apply one PR based on [nuvoton branch](https://github.com/OpenNuvoton/mbed/tree/nuvoton) asap.
[tls_client.txt](https://github.com/ARMmbed/mbed-os/files/830184/tls_client.txt)

[2017-03-09 10:47] pan- commented on #3400
@abhishek-pandit any news on that issue ?

[2017-03-09 13:26] bcostm commented on #3683
Hi,
Can you check with this PR ?

[2017-03-09 15:35] #3210 closed

[2017-03-09 15:40] #3792 closed

[2017-03-09 15:44] #3735 closed

[2017-03-09 21:03] adrien59cadri opened #3916 "Cannot link mbed os with GCC_ARM and mbed cli on Windows undefined reference to `main`"
Hello all

I have a clean environment, with mbed-cli installed, GCC_ARM toolchain and target NUCLEO_F401RE.
Compilation goes well but link of main fails:

[code]

Would you have any idea, i guess an include must be missing somewhere but don't really see where.

[2017-03-10 09:42] pan- commented on #3857
@nvlsianpu could you look into this ?

[2017-03-10 10:23] 0xc0170 commented on #3916
what are you building ? is there main function defined -> building an application ?

[2017-03-10 10:39] bulislaw opened #3919 "mbed-os export to gnuarmeclipse doesn't build"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
EFM32GG_STJ3700

**Toolchain:**
GCC_ARM

I'm trying to export some tests as a mbed OS application to debug them in eclipse:
[code]
The build works using mbed cli but fails using eclipse:

[code]

@theotherjimmy

[2017-03-10 11:17] bulislaw commented on #3903
@stevew817 the issues looks extremely similar to #3683 I have issues setting up debugger (Simplicity studio is able to track asm but doesn't tie it with C code for some reasons) but at some point there's a TIMER2_IRQ being risen and the execution is stuck in default handler. It sounds exactly like what was happening for ST, it seems that with the RTX update the bootup sequence/timing changed sligh

[2017-03-10 12:29] MarceloSalazar commented on #3890
Can someone please take an action and/or confirm the (doc) fix / PR for this?

[2017-03-10 13:02] vargham opened #3923 "ATSAML21 blinky build failed"
### Description
- Type: Bug
- Priority: Blocker
Tried to experiment with https://developer.mbed.org/teams/Atmel/code/Atmel_Blinky/
Could not build project.
Error: Cannot open source input file "device.h": No such file or directory in "extras/mbed_e1686b8d5b90/platform/platform.h", Line: 27, Col: 21
---------------------------------------------------------------
## Bug

**Target**
Atmel ATSAML21-XP

[2017-03-10 14:11] pan- commented on #3890
As an example maintainer, I would really appreciate to have more details in the [handbook](https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/third_party/) about the exporters behavior, differences with mbed-cli, IDE versions targeted and possible corner cases.

With such information I can point users of my example to an always up to date, complete documentation rather by "patching" t

[2017-03-10 14:56] adrien59cadri commented on #3916
Hello I'm very sorry, I was trying to build the os, i thought it was generating a lib but actually it just wants to buld an app and means I should create the main.
Sorry again, and thanks for your feedback

[2017-03-10 14:56] #3916 closed

[2017-03-10 17:56] theotherjimmy commented on #3919
your `cp` command is mising a destination.

[2017-03-10 17:56] theotherjimmy commented on #3919
Which eclipse? we have a few :P

[2017-03-10 18:00] sarahmarshy opened #3925 "DNS Resolution broken in NSAPI"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**

**mbed-cli version:**
1.0.0

**meed-os sha:**
 88a4baa2ad02d6635bb87ee51e6f249059ed7493

**Steps to reproduce**

Clone https:/

[2017-03-10 18:31] #3925 closed

[2017-03-10 19:23] sarahmarshy opened #3926 "NSAPI DNS queries failing for some websites"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os-example-client/issues/205
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM|ARM|IAR

**meed-os sha:**
88a4baa Merge pull request #3902 from mazimkhan/master

**Steps to reproduce**
Run this simple program:
[code]

Get this output:
[code]
-

[2017-03-10 19:27] sarahmarshy commented on #3926
arm.com on Dig - https://toolbox.googleapps.com/apps/dig/#A/www.arm.com
Appears to have a CNAME

google.com on Dig - https://toolbox.googleapps.com/apps/dig/#A/www.google.com
No CNAME

Not sure if related

[2017-03-12 01:46] devanlai commented on #2838
I encountered the same issue on the LPCXpresso1549 board.

To elaborate a bit on @larsgk's speculation, it is indeed possible to make endpoint writes non-blocking to avoid hanging. We need a method that either successfully enqueues data to send or fails without enqueuing anything. Then we can simply retry sending the data later if USB is busy or unavailable. Unfortunately, `USBDevice::writeNB()` i

[2017-03-13 09:39] bulislaw commented on #3919
I executed the copy correctly (the main.c and some headers are in the sources). Now also fixed in bug report.

[2017-03-13 09:48] ccli8 opened #3928 "Build Intel Hex for multiple ROM support"
### Description
- Type: Enhancement
- Priority: Major

----------------------------------------------------------------
## Enhancement
We (Nuvoton) are adding new chip port (NUMAKER_PFM_M487) for mbed OS. In this chip, there are two ROM blocks:
[code]
The two ROM blocks are non-contiguous. As part code is placed in ROM2, the generated binary file would get very large with `GCC_ARM` and `IAR` toolc

[2017-03-13 10:42] adustm opened #3929 "mbedTLS: question about the list of MBEDxxx_C in inc/mbedtls/config.h"
### Description
- Type: Question
- Priority: Major
---------------------------------------------------------------
## Question
Hello,
I plan to add SHA1 and MD5 for NUCLEO_F439ZI in mbedtls hw accelerated parts.
Those functions are not enabled by default in feature/mbedtls/inc/mbedtls/config.h

Could you explain me why those functions are disabled ? How did you chose which parts to enable/disable

[2017-03-13 15:01] 0xc0170 commented on #3928
Can you elaborate?

Is this a feature request for online IDE? Or also mbed-cli to produce intel hex file?

[2017-03-13 16:30] 0xc0170 commented on #3926
cc @geky

[2017-03-13 16:33] 0xc0170 commented on #3923
cc @Parthasarathy @akhilpanayamparambil

[2017-03-13 16:35] 0xc0170 commented on #3923
@theotherjimmy - can you please check that this target is well-defined in the online IDE?

[2017-03-13 16:35] 0xc0170 commented on #3910
Fixed via the referenced pull request

[2017-03-13 16:35] #3910 closed

[2017-03-13 16:37] 0xc0170 commented on #3907
@TsungtaWu Can you please review the above answer? I wonder if there's still i2c failures with ci shield or it's fixed .

btw, we are going to update CI test shield repository for the latest release (you can do it now manually, i2c should build and run).

[2017-03-13 16:37] 0xc0170 commented on #3905
Fixed via referenced PR above

[2017-03-13 16:37] #3905 closed

[2017-03-13 16:38] 0xc0170 commented on #3874
Should be fixed via the referenced PR above

[2017-03-13 16:38] #3874 closed

[2017-03-13 16:40] 0xc0170 commented on #3889
@TomoYamanaka Thanks for pinpoint the earlier bug report. This is a duplicate. @phyokyaw please follow #3593 issue.

[2017-03-13 16:40] #3889 closed

[2017-03-13 16:42] Parthasarathy commented on #3923
Hi Martin,

    I will spend some time this week to verify this issue.

Thanks,
Partha

On Mar 13, 2017 10:03 PM, "Martin Kojtal" <notifications@github.com> wrote:

cc @Parthasarathy <https://github.com/Parthasarathy> @akhilpanayamparambil
<https://github.com/akhilpanayamparambil>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.

[2017-03-14 02:19] ccli8 commented on #3928
@0xc0170 My test for conversion of ELF to binary for two ROM images
1. ARM (mbed-os/tools/toolchains/arm.py > binary): Two separate binary files generated
[code]
1. GCC_ARM (mbed-os/tools/toolchains/gcc.py > binary): One large, combined binary file generated due to padding
[code]
1. IAR (mbed-os/tools/toolchains/iar.py > binary): One large, combined binary file generated due to padding
[code]
To s

[2017-03-14 03:48] TsungtaWu commented on #3907
@0xc0170 Sorry for the late reply.
I just try to test the i2c with 5.4.0 but I got a compile error on my side
        collect2.exe: error: ld returned 1 exit status
[api-i2c_log.txt](https://github.com/ARMmbed/mbed-os/files/840227/api-i2c_log.txt)

I type following commands
$ cd mbed-os
$ git checkout mbed-os-5.4
$ mbed update
$ cd ..
$  mbed test -n tests-api-i2c* --app-config .\mbed_app.json
Is

[2017-03-14 08:41] SeppoTakalo commented on #3847
We need to raise the priority of this one.
If we cannot build mbed OS inside your Windows home directory, it is a bit limiting.

Also in CI the workspace root directory will be at least 54 characters long. Which leaves ~100 characters for job name, application name and branch name.

[2017-03-14 08:54] adustm commented on #3847
Hello, This issue has been raised also here : https://github.com/ARMmbed/mbed-os/pull/3649
Someone should rename every directories.

[2017-03-14 09:00] nvlsianpu commented on #3907
It fail for me as well. I tried to compile this test for K64F - with the same errors.

[2017-03-14 09:03] 0xc0170 commented on #3847
cc @theotherjimmy Let's discuss this topic this week.

[2017-03-14 09:06] 0xc0170 commented on #3928
Thanks @ccli8 , its more clear now.

It is supported there, for instance for nordic devices. Therefore your target can use the same functionality. Does your target support hex drag-and-drop flashing?

cc @theotherjimmy @sg- @c1728p9

[2017-03-14 09:09] SeppoTakalo commented on #3847
I could save roughly 50 characters by removing `_arm-none-eabi-gcc_Cortex-M0_thread_border_router` from the library name. Basically it is already exposed in the folder structure.
But for that, I need to modify our build scripts.
I'll suggest that Uvisor team would do the same. `libconfiguration_beetle_cortex_m3_0x20000000_0x140.a` is 53 characters. The `TARGET_M3` is already in path name, also `BE

[2017-03-14 10:10] TomoYamanaka commented on #3593
@phyokyaw

This issue is a same cause #3889, is traced with here.
I guess that you are dealing with this issue, and you are modifing the template file for export to e2 studio (ex: rz_a1h_cproject.tmpl).

So we provied the file to referece for correction.
After then, how about the status of this issue ?

[2017-03-14 10:13] phyokyaw commented on #3889
@TomoYamanaka Thanks for letting me know.  I'll create a pull request this week as part of #3593.

[2017-03-14 10:57] ccli8 commented on #3928
@0xc0170 If I don't get wrong, nordic's and other targets' hex support need post-processing for generated binary file from ELF with python code (`mbed-os/nu-porting/mbed-os/tools/targets.py`). But for two-ROM case as above, the generated binary file would get large due to non-contiguous. It is expected that we can instruct tool to generate hex from ELF directly without intermediary binary. Per our

[2017-03-14 11:23] adbridge commented on #3847
@SeppoTakalo @mazimkhan I think this is an excellent idea Seppo, I see no point in the excessively long names being used there. This is a difficult overall problem as we have little control over how partners decide to structure / nest their targets for example. We need to think through how mbed-os is structured in its entirety to fix this in a semi future proof way...

[2017-03-14 11:25] adbridge commented on #3847
@adustm Thanks for your renaming suggestions, we have considered such things. The problem we have is that the tools currently rely on certain naming patterns to the directory structures, thus any changes have to be made in conjunction with tool updates.

[2017-03-14 11:41] kjbracey-arm opened #3932 "STM32 headers defining __packed?"
It appears that many or all STM32 HAL headers define `__packed` as `__attribute__((__packed__))`, and this define is then exposed to any source file including mbed headers.

That seems like it can break ArmCC compilation - lwIP for example tries to use the ArmCC syntax `__packed struct`, but that gets replaced by `__attribute__((__packed__)) struct`, which then generates a warning about an ineffec

[2017-03-14 12:22] 0xc0170 commented on #3907
@TsungtaWu this is known-issue (reported in the ci-test shield), will be fixed. To overcome this, remove SDFilesystem that is causing the linker errors you shared above.

Once you do , you should get this output:

[code]

[2017-03-14 12:28] #3907 closed

[2017-03-14 12:32] 0xc0170 commented on #3932
+1

I checked F4 targets, this packed macro is located in ``stm32f4xx_hal_def.h``: https://github.com/ARMmbed/mbed-os/blob/f59b5f8b75223937137240da0fbc3556de318ec3/targets/TARGET_STM/TARGET_STM32F4/device/stm32f4xx_hal_def.h#L127-L134

@bcostm @adustm @LMESTM @jeromecoutant Please have a look

[2017-03-14 13:14] LMESTM commented on #3932
We'll report this to our HAL team and let you know.
Note that I would have been confused as well by ArmCC defining __GNUC__ - and that was my first question when reading the first part of the issue description.

Would you explain why this is the case, also whether this is new (e.g. a CMSIS5 update ?)

[2017-03-14 13:20] 0xc0170 commented on #3932
some of the code in the code base requires it thus has been enabled since I can remember. Even if you disable this flag, the code should be corrected as ARMCC provides this option, and this use case should be handled.

[2017-03-14 13:27] LMESTM commented on #3932
Sure we'll fix and the proposal to use _if defined __GNUC__ && !defined __CC_ARM_ can even be fine in the short term and I can send it. I just wanted to be able to give some more background to the team here, I just understood now this is seems to be related to using the ARMCC --gnu  command line option, is it right ?

[2017-03-14 13:35] 0xc0170 commented on #3932
That's correct ``--gnu``` option.  This enables the GNU compiler extensions that the ARM compiler supports. more info: https://developer.arm.com/docs/dui0472/l/compiler-command-line-options/-gnu

[2017-03-14 14:17] 0xc0170 commented on #3928
There was an addition for another target to handle similar use case, https://github.com/ARMmbed/mbed-os/pull/3340 . We are waiting for GCC to support it (should be added soon).

[2017-03-14 14:37] tim-nordell-nimbelink commented on #3774
#3862 is merged in.  Closing this.

[2017-03-14 14:37] #3774 closed

[2017-03-14 15:31] adustm commented on #3847
@adbridge I know, I just wanted to centralize the information here :)

[2017-03-14 22:33] #3821 closed

[2017-03-15 02:55] TsungtaWu commented on #3907
@0xc0170 Issue is fixed manually on my side as well.

[2017-03-15 06:33] cyliangtw commented on #3885
@mazimkhan
Applied PR<https://github.com/ARMmbed/mbed-os/pull/3918>
This PR has been passed all checks and got changes approved.

[2017-03-15 08:30] tbondar commented on #3857
@pan- @nvlsianpu Just wondering if there's a chance to get a fix for this soon or I'd better look for some workaround. Thanks.

[2017-03-15 08:32] nvlsianpu commented on #3857
I started with looking into.

[2017-03-15 09:04] akhilpanayamparambil commented on #3923
@0xc0170 @vargham
We have not added modules for L21 target in the yotta build. So I am not quite sure if it supports L21 targets for the blinky example.

In the list of dependencies in for mbed does not list L21. (includes R21 and D21 XPROs)
https://developer.mbed.org/users/mbed_official/code/mbed/

[2017-03-15 10:08] 0xc0170 commented on #3923
Here's the platform: https://developer.mbed.org/platforms/SAML21-XPRO/

 This is taken from targets.json file:
[code]

Is this target definition for this platform? I don't see the release version defined there. Should this target be enabled?

https://developer.mbed.org/users/mbed_official/code/mbed/

Seems like L21 should not be in the platforms, and neither the code is not available for this plat

[2017-03-15 14:15] bulislaw commented on #3688
@ramtin-r any updates?

[2017-03-15 14:54] neilt6 commented on #3714
Hey guys, not trying to be rude but is this going to be fixed any time soon? I'm losing lots of development time, and at this point I'm debating investing in an offline toolchain.

[2017-03-15 15:01] 0xc0170 commented on #3813
@theotherjimmy Any update?

[2017-03-15 15:21] pctj101 opened #3935 "Teensy 3.5 Support"
- Type: Enhancement | Question
- Priority: Minor

----------------------------------------------------------------
## Enhancement
** Support Teensy 3.5 / 3.6 **

It would be lovely to see mbed support for the Teensy 3.5.

Why? The Teensy is in a very convenient form factor with USB.  Makes me really want to use it.

I see that @geky added the Teensy 3.1 support.  There are some magical files here

[2017-03-15 15:49] andreaslarssonublox commented on #3688
@bulislaw We got it running for GCC_ARM and ARM but with IAR we could not compile. Is it supposed to work for IAR now?

Got the following errors with IAR for EventQueue.cpp:
       [Error] stm32f4xx_hal_def.h@132,12: [Pe020]: identifier "__LDREXW" is undefined
       [Error] stm32f4xx_hal_def.h@134,25: [Pe020]: identifier "__STREXW" is undefined
       [Error] stm32f4xx_hal_def.h@142,12: [Pe020]:

[2017-03-15 15:53] bulislaw commented on #3688
Ah, we got the same issue somewhere else. @0xc0170 is working on that.

[2017-03-15 16:11] theotherjimmy commented on #3813
It's actually a pretty simple problem: the online compiler just assumes that all targets are compiled with ARM and none with uARM.

[2017-03-15 16:13] 0xc0170 commented on #3935
It was ported by @Sissors and @star297 as I recall. Those files were moved thus the history is not preserved (at least as it is viewable here on github).

[2017-03-15 16:29] bulislaw commented on #3683
That's fixed now.

[2017-03-15 16:29] #3683 closed

[2017-03-15 17:07] theotherjimmy commented on #3813
I posted a fix. If you have access, you should see it.

[2017-03-15 17:13] theotherjimmy commented on #3714
I have fixed the problem. The fix is in a PR (not here) and pending review and deploy. It might be best for you to invest in an offline toochain in general. You should be able to use GCC ARM Embedded through mbed-cli without issue, but that may not support your targets, if they only use uARM. I think it would be worth setting up the GCC target so that you don't have to worry about online compiler

[2017-03-15 17:21] neilt6 commented on #3714
Thanks @theotherjimmy. I've been clinging to the online compiler so far since I've not been able to match the efficiency of the online μARM toolchain. The last time I looked into this, the version of microlib included with Keil didn't even support C++. The online compiler has been pretty reliable for me before this issue.

[2017-03-15 18:32] star297 commented on #3935
See my comment here:

https://developer.mbed.org/questions/74731/Teensy-3536/

I not convinced its really worth the effort for Mbed considering the the Power, BLE and IOT limitations of both the development board and MCU itself.
Maybe a good platform for Arduino however there may be better alternative targets on Mbed.

I can't see any problems if NXP wish to write the Mbed library for this target,

[2017-03-15 19:30] tbondar commented on #3857
@nvlsianpu No, it doesn't seem so. I made the following changes to ``equeue_mbed.cpp`` and let the application running. For 8200 seconds LED3 was blinking as expected. Then LED3 stopped blinking but LED4 did not start blinking either. Let me know what else I can help.

[code]

[2017-03-15 20:35] theotherjimmy commented on #3714
further update @neilt6: The PR has been merged. I'll let you know when it's live.

[2017-03-16 06:03] toyowata commented on #3813
@theotherjimmy Thank you very much for the fix.  The online compiler does not seem to update yet.  Do you know when it will be deployed to the online service?

[2017-03-16 06:32] Sissors commented on #3935
I think processing power and form factor wise it would be a nice board to have added. But for me Teensy 3.1 cost too much effort to get added to mbed. And I don't know if the one for 3.5/3.6 also would require the KSDK driver library that I really dislike :P.

[2017-03-16 08:00] pctj101 commented on #3935
@star297 If I'm asking in the wrong place, let me know. I'm still new to mbed.

I was never really much a fan of the drag-drop file into a drive style of deployment.  I was reading about the CMSIS-DAP interface which could program the chip which I thought was pretty cool since it would not just program, but allow debugging.

When you say that it isn't "true mbed drag 'n' drop", which protocol can'

[2017-03-16 08:33] nvlsianpu commented on #3857
We encountered the same. Great! It looks like some code had been executing to long and therefore a event time to setup had been overdue and then expected new event didn't been requested anymore.

[2017-03-16 09:29] tbondar commented on #3857
It's interesting that it happens after exactly the same time (~ 8200 seconds) while the code is advertising only. I don't need to stress it in any way to reproduce it. Another comment is that a very similar thing happens with RTOS enabled, please see my comments at #3509 and [here](https://developer.mbed.org/questions/77180/using-power-management-API-such-as-sd_ap/).

[2017-03-16 09:31] 0xc0170 opened #3938 "Export - scan only root folder, only config file in the workspace"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
any

**Toolchain:**
any

**mbed-cli version:**
1.0.0

**meed-os sha:**
master (sha: cc58a7f ) or latest mbed-os-5.4

**Expected behavior**
Scan all directories within root, and ahaving all files in the workspace view.

**Actual behavior**

**Steps to reproduce**
Fetch m

[2017-03-16 09:46] 0xc0170 commented on #3938
Just found this, the same report but for example - https://github.com/ARMmbed/mbed-os-example-tls/issues/67

The issue has a fix https://github.com/ARMmbed/mbed-os/pull/3924 !

[2017-03-16 10:07] RdaZhongyao opened #3940 "Compiling error with GCC toolchain (K64F)"
### Description
- Type: Bug
- Related issue: `compiler`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F

**Environment:**
Windows/msys2/python2.7.11/pip9.0.1
install other tools : "pip install -r mbed-os-5.4.1/requirements.txt"

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9

**mbed-cli version:**
(`mbed --version`) : 1.0.0

**meed-o

[2017-03-16 10:48] Sissors commented on #3935
I only now see one works on a different K64 version than the FRDM-K64 board, but still K64. That should be fairly easy to add, K66 might be a larger effort.

So the Teensy 3.5 should be reasonable quick to add. But without support from mbed it will then take ages before it would be added to the online compiler.

[2017-03-16 10:57] Wazalogic opened #3941 "osThreadSuspend and osThreadResume"
I need to suspend and resume threads. Keil RTX specifies the osThreadSuspend(osThreadId) and osThreadResume(osThreadId) functions, but unfortunately they are not implemented by this OS.

I am aware that these functions are dangerous to use. I really need them otherwise I cannot continue with my project using mbed.

Is there a way to implement these functions with SVC? Any examples?

[2017-03-16 11:42] stevew817 commented on #3903
This isn't a timing issue. The vector relocation is simply not happening, because at some point you guys removed our cmsis_nvic.c file which was responsible for relocating the vector table to RAM upon the first call to NVIC_SetVector.
In CMSIS5, where CMSIS provides the NVIC_SetVector function, who is responsible for copying the vector table and setting VTOR accordingly?

[2017-03-16 12:11] bulislaw commented on #3903
@stevew817 it's done here https://github.com/ARMmbed/mbed-os/blob/feature_cmsis5/rtos/mbed_boot.c#L273 I can't exactly remember why this function is called so late in the boot sequence, but I've also tried moving it as first thing we do after getting execution in mbed, without positive results.

[2017-03-16 12:20] stevew817 commented on #3903
@bulislaw Thanks for the info. So far, what I can see in debugging is that TIMER0 (which is the us_ticker timer) fires an interrupt without the interrupt table having been relocated (i.e. VTOR is still at 0, and the vector is pointing to the default handler as you mentioned).
Maybe worth investigating why the relocation seems to happen on ARMCC and not on GCC?

[2017-03-16 12:22] bulislaw commented on #3903
Thanks for the hint! I'll try to confirm what's going on with the relocation.

[2017-03-16 12:57] stevew817 commented on #3903
@bulislaw I found the issue, GCC tests are passing now. See PR in #3944

[2017-03-16 13:25] seppestas opened #3945 "The `PwmOut` class does not call the `pwmout_free` function"
The HAL of the mbed SDK defines a `pwmout_free` function that needs to be implemented by the targets. However, the [`PwmOut` class](https://github.com/ARMmbed/mbed-os/blob/master/drivers/PwmOut.h) that uses the HAL does not use this function anywhere.

The de facto `LPC176X` target doesn't do anything in it's `pwmout_free` implementation, but e.g Silicon Lab's `EFM32` targets requires the function

[2017-03-16 13:41] stevew817 commented on #3945
1409 is not the only issue where the topic of routing destructors has come up. There's more mbed (legacy) classes that don't have their destructors implemented. I've been advocating for a while to make the change to actually instrument them, but it appears the mbed team prefers to keep compatibility with code that might have been written assuming the objects don't get destroyed.
(e.g. instantiatin

[2017-03-16 14:04] 0xc0170 commented on #3688
[Error] stm32f4xx_hal_def.h@132,12: [Pe020]: identifier "__LDREXW" is undefined
[Error] stm32f4xx_hal_def.h@134,25: [Pe020]: identifier "__STREXW" is undefined
[Error] stm32f4xx_hal_def.h@142,12: [Pe020]: identifier "__LDREXW" is undefined
[Error] stm32f4xx_hal_def.h@144,0: [Pe020]: identifier "__STREXW" is undefined

@andreaslarssonublox To fix the above identifier LDREXW undefined, please have a

[2017-03-16 15:47] nvlsianpu commented on #3857
@pan- Why the creating evet-queue requests tick timer to start? [here](https://github.com/ARMmbed/mbed-os/blob/master/events/equeue/equeue.c#L74)

[2017-03-16 16:03] bulislaw commented on #3941
'osThreadSuspend(osThreadId)' and  'osThreadResume(osThreadId) ' are new to CMSIS5/RTX2, currently we are in a process of upgrade right now, you'll need to stick to CMSIS4/RTX1 APIs for now. http://www.keil.com/pack/doc/CMSIS/RTOS/html/group__CMSIS__RTOS__ThreadMgmt.html
I don't think RTX1 defines anything like the mentioned functions, possibly you can manipulate thread priorities to not having it

[2017-03-16 16:04] pan- commented on #3857
@nvlsianpu Do you think it should be started only when the tick timer is actually in use; when their is at least one event in the event queue to execute in N ticks ?

I think it is a commodity solution, the `equeue_tick` function is used by all event queues the system can create and is not tied to any instance so it is easier to think about it if the tick is *always running*.

@geky Am I correct ?

[2017-03-16 16:18] Wazalogic commented on #3941
Thanks. I need these functions. Is there a FreeRTOS port for that works with mbed-os 5?

[2017-03-16 16:47] bulislaw commented on #3941
I'm not aware about anything like that.

[2017-03-16 16:50] c1728p9 opened #3952 "Buffer overflow in channel_free in nrf_drv_gpiote.c"
## Bug

**Target**
NRF5x family

**Toolchain:**
GCC_ARM|ARM|IAR

A buffer overflow can occur in the gpiote driver [here](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5/sdk/drivers_nrf/gpiote/nrf_drv_gpiote.c#L160),  leading to undefined behavior.

Callstack at the time of failure is below. The parameter channel_id was set to 255 which lead to the overflow.
[code]

[2017-03-16 16:50] c1728p9 commented on #3952
CC: @senthilr @BlackstoneEngineering

[2017-03-16 16:56] bulislaw commented on #3903
Thanks for the fix. We've fixed (mostly) IAR at the head of the branch and I'm getting the same kind of errors as we could see for gcc. I'll try to spend some time tomorrow to figure out whether it's similar issue with the vectors not being copied for some reason.

[2017-03-16 17:15] pan- commented on #3952
@nvlsianpu @anangl Could you look at this bug ?

[2017-03-16 18:55] nvlsianpu commented on #3857
I think it could be kept as is for now - this is very rare tick and RTC consume a few uA. But it could be a case for ultra low power devices (like a flowmeter).

---------------------------------
If the time is close to the period which was requested by creating of the evnt-queue it is possible the following code execution:

[ev_dispatch](https://github.com/ARMmbed/mbed-os/blob/master/events/equeu

[2017-03-16 19:31] geky commented on #3857
Ah, yeah, the event queue assumes the `equeue_tick` is always running.

The queue keeps track of the last tick a dispatch occured on. This is used to decide if a cancelled event is still in the queue ([here](https://github.com/ARMmbed/mbed-os/blob/master/events/equeue/equeue.c#L273-L274)). We also don't assume when the tick starts, so choosing 0 may happen in the near future.

We could add somethi

[2017-03-16 19:53] vargham opened #3958 "Invalid character `#' in linker script (STM32F4 with ARM_GCC)"
### Description
- Type: Bug
- Priority: Minor
- OS: Windows 10
- IDE: EmBitz
Tried to build STM32F4 project with ARM_GCC, but could not build because of linker error.

---------------------------------------------------------------
## Bug
STM32F429xI.ld from line 13

[code]

**Target**
STM32F4

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi 5.4.1

**Expected behavior**
Exported proje

[2017-03-17 02:10] radhika-raghavendran commented on #3508
I can see this has been added in the latest PR merge. Can you close this now?
Thanks

[2017-03-17 02:32] pctj101 commented on #3935
Ah, okay.  Yeah from where I am, I'm planning to integrate the result into PlatformIO, so my usage pattern does not have any dependency on mbed online (just couldn't stand programming in a textarea)

And right!  The Teensy 3.5 is probably more "closely related" and conveniently what I have.  (Nevermind the Teensy 3.6 hahaha)

If something magically appears and works "off-line" I'm definitely using

[2017-03-17 02:40] BlackstoneEngineering commented on #3508
@0xc0170

[2017-03-17 05:11] pranav3672 opened #3959 "IAR Compilation Failed With LPC1768"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug  :- Compilation failed with IAR.

Target  :- LPC1768
Toolchain :- IAR
Toolchain version : 7.4
mbed OS version :- 5.4.0
DAPLink version :- 243

**Expected behavior**
LPC1768 should be compile with IAR.

[2017-03-17 08:05] seppestas commented on #3945
Honestly, I would prefer to have some kind of platfom independant "disable" function to disable the PWM clock and enable the low power sleep modes again. The same goes for other drivers / peripherals. Currently constantly destructing PWM objects before sleeping and reconstructing them on wakeup seems to be "the way to do it". Not the biggest fan of this approach though, and I have yet to figure ou

[2017-03-17 08:21] stevew817 commented on #3945
A 'solution' from our side would be to disable the PWM peripheral when all channels have been set to 0, configure those pins as a low output, and release the sleep mode. This way, we're not changing any of the existing mbed-dictated behavior nor the API.
Would that help you?

[2017-03-17 08:53] stevew817 commented on #3903
@bulislaw From what I can see when debugging IAR, the thread that is supposed to run pre_main never gets scheduled (`osThreadNew((osThreadFunc_t)pre_main, NULL, &_main_thread_attr)` returns 0)
Since that function calls straight into RTX2, I can't really debug efficiently any further at this point without going down a road of assumptions.

[2017-03-17 09:23] janjongboom commented on #3884
@geky, has this bug been created?

[2017-03-17 10:18] 0xc0170 commented on #3958
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-03-17 10:26] 0xc0170 commented on #3945
This is planned to implement dtors for drivers (and to all the relevant work around those, it's not just invoke _free() HAL function) . As you might have noticed, _free HAL functions do not have well defined behavior, so its a good start to first specify what init/free should do, write tests for those, then look at drivers how they handle resources and do a proper init/deinit of resources.

Here's

[2017-03-17 10:26] #3945 closed

[2017-03-17 10:27] pan- commented on #3857
One thing I have noticed in the debugger is that every time the LED stop blinking, events are still scheduled in the queue, the low power timer is still running but the value of the CC register is set to 0.  I doubt this is the issue but the documentation is not very clear about this situation:

[2017-03-17 12:59] pan- commented on #3857
@tbondar Could you try with this patch:

[code]

@nvlsianpu Can it be the only source of error ?

[2017-03-17 13:33] adustm commented on #3958
@c1728p9 @theotherjimmy I think you are already aware ?
I think this comes from PR #3749 ?

@vargham in #3749 there is a suggestion of workaround for your issue.
Let us know if it works.
Kind regards

[2017-03-17 13:39] RdaZhongyao commented on #3940
## Updated
While I change my command:
[code]
That's OK. So the directory `--source .` can be parsed by GCC tools, `--source ./` is not.

In addition, there is no problem for ARM compiler.

[2017-03-17 13:48] vargham commented on #3958
I use the EmBitz exporter. My workaround: I changed the linker script back to the previous version without ifdefs.

[2017-03-17 14:33] 0xc0170 commented on #3959
You are using build script that is for mbed 2. This however is fixed on master (there was this bug reported more than a week ago), and I believe even released for the latest mbed lib. Please retest and reopen if thats not the case.

Latest master:

[code]

[2017-03-17 14:33] #3959 closed

[2017-03-17 14:34] 0xc0170 commented on #3959
To be certain, branch mbed-os-5.4 contains also that fix as I wrote earlier.

[code]

[2017-03-17 14:36] 0xc0170 commented on #3958
I think this comes from PR #3749. Could you check this, please ?

Yes , this is intended. I did not earlier spot it's about macros in the linker script.

OK I now see what is the failure here. The linker scripts are now required to be preprocessed. Therefore EmBitz exporter should be updated to do this step.

This bug is then for the exporter, not the target.

[2017-03-17 14:49] 0xc0170 commented on #3941
@Wazalogic You can try our development branch with RTX2 (https://github.com/ARMmbed/mbed-os/tree/feature_cmsis5) However note, this is not yet stable - thus development branch. And yet no user api in the RTOS API we provide there.

If you look at ``Thread`` it has methods ``start`` and ``terminate`` - not satisfactory for your app?

[2017-03-17 14:50] 0xc0170 commented on #3940
@RdaZhongyao Thanks for the update, its more clear now.

@theotherjimmy Please have a look

[2017-03-17 14:56] 0xc0170 commented on #3878
This should be now resolved as ci-test-shield was fixed

[2017-03-17 14:56] #3878 closed

[2017-03-17 14:59] 0xc0170 commented on #3885
@mazimkhan The fix referenced above - can you test it that it resolves this issue?

[2017-03-17 16:26] adustm commented on #3958
Thank you Martin @0xc0170

[2017-03-17 16:51] cyliangtw commented on #3885
Yes, I tested ts_client and didn't suffer any connection issue over 10 runs, you can check the attached log file  ts_client.txt in the comment issued 8 days ago .

[2017-03-17 17:33] chrissnow opened #3963 "EFM32 Pearl Gecko export broken"
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
EFM32PG

**Toolchain:**
ARM

**Toolchain version:**

**mbed-cli version:**
1.0.0

Exporting to uVision or Simplicity Studio online or by CLI is broken.
[code]
and then returns to console

[code]

[2017-03-17 22:34] ilg-ul opened #3964 "Export for GNU ARM Eclipse fails with exception"
### Description
- Type: Bug
- Related issue: `#3561`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
not relevant

**mbed-cli version:**
1.0.0

**meed-os sha:**
f4864dc Merge pull request #3930 from ARMmbed/release-candidate

**DAPLink version:**

**Expected behavior**
`mbed export -m K64F

[2017-03-18 07:08] CarloMara commented on #3964
Same here

[2017-03-18 07:11] CarloMara commented on #3964
@ilg-ul Shoudn't this be filed under [mbed-cli](https://github.com/ARMmbed/mbed-cli)?

[2017-03-18 07:31] ilg-ul commented on #3964
the exporter sources are part of the mbed-os repo:

https://github.com/ARMmbed/mbed-os/tree/master/tools/export/gnuarmeclipse

[2017-03-18 07:36] ilg-ul commented on #3964
anyway, it is puzzling that such things happen, with so many and elaborated continuous integration bots running. :-(

[2017-03-18 07:45] CarloMara commented on #3964
I think it's  #3852  @theotherjimmy

[2017-03-19 14:35] Willem23 opened #3966 "STM32 I2C fails inside Ticker callback"
### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug
I2C block writes or reads fail inside a function that is called by a Ticker
mbed lib 132 still works as expected, mbed 133 and higher fail.
See discussion here https://developer.mbed.org/questions/77029/I2C-read-from-ticker/#answer12089
Note that the Async versions

[2017-03-19 16:54] helmut64 opened #3967 "Online Compiler does not show Flash/RAM utilization on Nucleo L073RZ & L152RE"
I believe more targets are affected, my STM32L4 works fine, but the Nucleo L073RZ & L152RE does not show any utilization. See attached picture.

I am using classic mbed #136

Regards Helmut
<img width="236" alt="mbed-rev136-memory" src="https://cloud.githubusercontent.com/assets/2076290/24082887/0c0197a2-0ccd-11e7-94d3-1c8f8a34f81b.png">

[2017-03-20 09:04] LMESTM commented on #3966
Hello

A probable explanation is that ticker callback is an IRQ context and I2C also needs IRQs to work, because ticker IRQ priority is higher than I2C one, I2C IRQ is never handled and the application fails. I think the application will actually even get stuck here.

See the ticker documentation here and especially the Warnings:
https://developer.mbed.org/handbook/Ticker
Especially there is a war

[2017-03-20 10:10] 0xc0170 commented on #3967
cc @theotherjimmy

[2017-03-20 10:16] 0xc0170 commented on #3963
cc @theotherjimmy @stevew817

[2017-03-20 10:18] nvlsianpu commented on #3857
@pan- It dosen't look as bad CC set. I have a picture with signals:
![Imgur](http://i.imgur.com/EDLh7n9.png)

My diagnose is; Event queue service didn't recognize event as its-own if event timeout was set in ticker handler.

[2017-03-20 10:42] tbondar commented on #3857
@pan- I'm afraid the patch above didn't fix the problem.

[2017-03-20 10:52] stevew817 commented on #3963
@0xc0170 Did you guys break the exporter interface? I'm tracing the arguments I'm getting into the exporter, and am coming up with no files, and only a mbed_config header being passed to the exporter's export() function.

[2017-03-20 11:02] chrissnow commented on #3963
Perhaps related to https://github.com/ARMmbed/mbed-os/issues/3938 ?

[2017-03-20 11:13] stevew817 commented on #3963
@chrissnow thanks, that explains a lot.

[2017-03-20 11:15] chrissnow commented on #3963
Indeed the changes in https://github.com/ARMmbed/mbed-os/pull/3924 fix the export for uVision at least,
built successful also.

[2017-03-20 12:41] CarloMara opened #3970 "Nucleo F303K8 DAC output doesn't work"
### Testing the NUCLEO F303K8 board from ST, the DAC outputs aren't working

- Type: Bug
- Priority: Blocker

---------------------------------------------------------------

**Target**
NUCLEO F303K8
All of the test are conducted using mbed online IDE

**Expected behavior**
While testing the analog out Hello World example the DAC output should swing between the maximum value and the minimum while

[2017-03-20 12:55] bcostm commented on #3878
Just for reference, I have verified the I2C tests and they are OK now.

[code]

ci-test-shield version:
53f8fcb Merge pull request #45 from jeromecoutant/PR_PIN

mbed-os version:
f4864dc Merge pull request #3930 from ARMmbed/release-candidate

[2017-03-20 13:00] 0xc0170 commented on #3903
Since that function calls straight into RTX2, I can't really debug efficiently any further at this point without going down a road of assumptions.

I'll try to reproduce this locally this week, or we do it the next week.

[2017-03-20 13:27] 0xc0170 commented on #3970
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-03-20 13:59] jeromecoutant commented on #3970
Hi
Behavior is OK if you select:
AnalogOut  aout(A3);

Issue occurs when A4 or A5 is selected...
Check is on going

[2017-03-20 16:25] theotherjimmy commented on #3964
https://github.com/ARMmbed/mbed-os/pull/3924 is the fix. It's not in yet.

[2017-03-20 16:48] theotherjimmy commented on #3967
huh. I'll look into this. Thanks for reporting this @helmut64

[2017-03-20 18:34] sarahmarshy opened #3971 "5.2.0 broke code executuon for UBLOX C027"
### Description
- Type: Bug
- Priority:Major

---------------------------------------------------------------
## Bug

**Target**
UBLOX C027

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha:**
e435a07 Merge pull request #3111 from ARMmbed/release-candidate

**DAPLink version:**
[code]

**Steps to reproduce**
Try any program, and it will not run. Though, everything compiles. Debuggers crash, so I gues

[2017-03-20 19:54] Willem23 commented on #3966
The Ticker callback function should indeed not block to avoid that the function execution takes longer than the interval until the next Ticker callback occurs. In that sense it seems to me that the I2C write should not be considered blocking. It just takes a bit of time to execute like any other piece of code. The Ticker uses a 1 second interval so plenty of time to finish the I2C write. It also d

[2017-03-20 19:54] #3966 closed

[2017-03-20 20:25] theotherjimmy commented on #3813
@toyowata I do not. I will inform you when it's up.

[2017-03-20 23:05] theotherjimmy commented on #3940
I cannot reproduce the issue.

[code]
produces
[code]

[2017-03-20 23:11] theotherjimmy commented on #3959
@0xc0170 Could you tell @pranav3672 Which script to run instead?

[2017-03-20 23:54] BlackstoneEngineering commented on #3971
So 5.2.0 works but everything after it does not, correct?

[2017-03-21 00:37] theotherjimmy opened #3973 "[RFC] Make Targets.json feild `OUTPUT_EXT` select output format too"
- Type: Bug/Enhancement
- Priority: Minor

The feild `OUTPUT_EXT` renames the ELF file created by the selected tool-chain from `<name>.elf` to `<name>.<OUTPUT_EXT>`. I would expect more structured behavior. See below for my recommendations.

## Target
 - MCU_NRF52
 - MCU_NRF51
 - MCU_NRF51_UNIFIED
 - TEENSY3_1
 - New targets yet to be added

I did some investigation, and I think that all of the po

[2017-03-21 00:47] toyowata commented on #1232
@goldscott

[2017-03-21 01:56] SuburbanDSP commented on #3673
I just did a test export tonight to Nucleo-STM32L476RG.  I found similar issues as Tomo Yamanaka.  Fwiw project has mixed C and C++.

I removed the linker flags similarly to bomilkar, but with more functions wrapped, including exit() and atexit() from LD_FLAGS and it built perfectly, haven't executed yet.

btw, this machine is Ubuntu 14.04.4 LTS and
arm-none-eabi-gcc --version
arm-none-eabi-gcc (G

[2017-03-21 02:49] RdaZhongyao commented on #3940
Maybe the differrent environments produce differrent results. I use Windows/Python2.7.11/GCC4.9.
[code]
produces
[code]
After this, a file named `.includes_628003686ef9dbaf11132ab7ae6dbd2e.txt` is generated in dir `BUILD/K64F/GCC_ARM/`, read the file:
[code]
Then I modify the file from `-I./` to `-I.`
[code]
Run compiling command again
[code]
produces
[code]

@theotherjimmy  anything can help?

[2017-03-21 03:46] sarahmarshy commented on #3971
No, 5.2.0 is what broke things.

[2017-03-21 07:16] 0xc0170 commented on #3971
cc @RobMeades @andreaslarssonublox

[2017-03-21 07:19] 0xc0170 commented on #3940
I was able to reproduce it (windows machine) the same as above:``mbed compile -t GCC_ARM -m K64F --source TESTS/integration/basic --source ./`` this fails, if I change the last one to ``.`` only, compiles.

[2017-03-21 07:32] sg- commented on #3973
I think this resolves #3928

[2017-03-21 07:40] CarloMara commented on #3964
@theotherjimmy do you have a merge ETA?

Carlo

[2017-03-21 07:41] 0xc0170 commented on #3673
@theotherjimmy Could you reproduce this?

[2017-03-21 07:42] 0xc0170 commented on #3964
It should happen today

[2017-03-21 07:43] CarloMara commented on #3964
Lovely, thanks

[2017-03-21 07:46] 0xc0170 commented on #3973
Offline use:
Shouldn't elf file be always generated, then only 2 of those bin/hex would be based on the extension key value?

Online use:
Output file as specified via extension key value

[2017-03-21 07:55] kyliuxing opened #3974 "Pbuf leak if call close before recv complete"
Hi,
I met a Pbuf leak issue.
when i call mbed_lwip_socket_recv(), if the parameter size is smaller than pbuf's payload(or interrupt by someone), i can't get all data in once. but if i close the socket after that immediatly, nobody will release that pbuf.
So should we call netbuf_delete() in mbed_lwip_socket_close to check it?

Thanks!

RDA shileiyu

[2017-03-21 07:59] 0xc0170 commented on #3974
cc @kjbracey-arm @geky

[2017-03-21 08:02] 0xc0170 commented on #3966
@Willem23 Thanks for the description

@LMESTM what do you think?

[2017-03-21 08:11] 0xc0170 commented on #3963
built successful also.

Should be integrated today. Thanks for the references here.

@stevew817 Please just fetch that fix and should fix exporters and allow you to develop, until this fix is integrated to master

[2017-03-21 08:21] #3508 closed

[2017-03-21 08:21] kjbracey-arm commented on #3974
You're right, mbed_lwip_socket_close should be freeing s->buf.

I'll submit a PR.

[2017-03-21 08:26] LMESTM commented on #3966
The STM I2C driver indeed needs interrupts for this API. This was the found compromise for supporting the bool repeated option for all STM32 families.

I think there are other possible issues with calling I2C from the callback. You may have the same I2C bus used by another driver (e.g. EEPROM and temperature in parallel), So, ticker would interrupt an ongoing I2C transfer and the ticker interrupt

[2017-03-21 10:24] vargham commented on #3967
Same for STM32F103.

[2017-03-21 14:18] seppestas opened #3977 "The BLE UARTService class isn't a Stream"
Even though [the UARTService.h includes Stream.h](https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_BLE/ble/services/UARTService.h#L25) and [the `UARTService` class implements the `_putc` and `_getc` functions](https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_BLE/ble/services/UARTService.h#L150), the UARTService doesn't actually override the `Stream` class.

This means

[2017-03-21 14:31] SeppoTakalo opened #3978 "NXP K66F linker files are not up to date"
### Description
- Type: Bug
- Priority: Major

I cannot compile Nanostack border router for K66F.
With the same RAM size, K64F works.

[code]
## Bug

**Target**
K66F

**Toolchain:**
GCC_ARM

[2017-03-21 14:51] 0xc0170 commented on #3978
Have you compared linker scripts? That they are the same (using same areas for data?).

I quickly compared, the heap size is different (bigger for K66F by ~40k  that could explain this failure?). BSS for K66F is in m_data section as well (K64F m_data_2).

[2017-03-21 14:55] maclobdell commented on #3973
NCS36510 post build script currently relies on .bin file input and then processes it to generate the output file.  The output file is currently bin format , but they want to switch to hex format.  It would be better to start with .hex file, process it, and output .hex file to users.  This later flow should result in smaller file size due to large area between flash banks which is present in binary

[2017-03-21 15:00] SeppoTakalo commented on #3978
No, I did not compare.
As a workaround I overwrote my K66F linker file with K64F one. Seemed to work OK and I was able to finnish my work. Seems that these devices have closely same memory layout (but bigger flash).

[2017-03-21 15:02] maclobdell commented on #3973
One extra clarification to the last statements I just made.  This fix is critical if we want to go with hex file support on NCS36510, which enables clean support of the dual flash banks (640K flash total).

[2017-03-21 15:10] 0xc0170 commented on #3959
It's fine to use build.py at the moment

[2017-03-21 15:38] theotherjimmy commented on #3973
It seems like this is approved, and is higher priority than I had originally anticipated as it could help the NCS36510 porting. PR coming soon.

[2017-03-21 15:41] theotherjimmy commented on #3673
I think I said that, @0xc0170 , Yes.

[2017-03-21 18:37] theotherjimmy commented on #3940
thanks @RdaZhongyao for the debug information. That will help trace this back to a solution.

[2017-03-21 21:05] Willem23 commented on #3966
@LMESTM
I understand that you can get in trouble when an interrupt handler uses any resources that are also in use by the main thread. That would also happen for example when you access serial ports or a text LCD that needs to keep track of a cursor etc. It is not so obvious that this problem occurs when the resource is used exclusively in the handler. Note that such a multiple access problem woul

[2017-03-21 22:34] andrewjfox opened #3981 "Error compiling mbed-os-blinky example"
using SAMD21 XPro board and latest mbed os blinky example (14th March). Try to compile but keep getting error

cannot open source input file "mbed_rtx.h"

[2017-03-22 00:47] toyowata opened #3983 "LocalFileSystem stop working in mbed_lib_rev138"
### Description
- Type: Bug
- Priority: Blocker
- Reported: https://developer.mbed.org/questions/77498/mbed-local-file-system-not-working/

---------------------------------------------------------------
## Bug

**Target**
LPC1768 (and possibly LPC11U24)

**Toolchain:**
ARM (online IDE)

**Toolchain version:**
5.06

**meed-os sha:**
f4864dc6429e1ff5474111d4e0f6bee36a759b1c

**Expected behavior**
L

[2017-03-22 01:30] jaustin opened #3984 "MCU_NRF52: CONFIG_GPIO_AS_PINRESET should be a config option not platform macro"
in targets.json, for MCU_NRF52 there are a number of useful config options.

Unfortunately, the configuration of the NRESET pin as GPIO or not is not one of those options.

It'd be nice if we could have a '1'/'0' config option. I think this would mean changing mbed-os/targets/TARGET_NORDIC/TARGET_NRF5/TARGET_MCU_NRF52832/device/system_nrf52.c to check for the value rather than just for the definit

[2017-03-22 02:35] jaustin opened #3985 "config: macros_remove doesn't remove CONFIG_GPIO_AS_PINRESET macro for NRF52_DK"
Hiya,

It seems that using target.macros_remove in app_config.json does not stop the CONFIG_GPIO_AS_PINRESET being included on the NRF52_DK target:

`$cat mbed_app.json`
[code]
`$mbed compile -vv`
[code]

This appears to be because of the way target_overrides is called. I've proposed a fix that works for me here jaustin/mbed-os-1@02cf914eb007a0dae01cc5ed6d0c27be97470edc (https://github.com/jaustin

[2017-03-22 06:49] YarivCol opened #3986 "Cmsis 5:references to rtx in rtos cpp wrappers"
### Description
- Type: Enhancement
- Related issue: `#rtos`
----------------------------------------------------------------
## Enhancement

In the cpp wrappers of rtos, there are references to rtx os and not only cmsis_os2.h.

If the warppers will reference only cmsis_os2.h the kernel can be replaced with ease (only replace rtx folder with the other os).

[2017-03-22 07:32] LMESTM commented on #3966
@Willem23 - It may not happen for other interrupts. This is a question of priorities of interrupts.
If I2C interrupt priority is higher than the handler one (failing edge triggered for instance) this should work ok. The main timer /  ticker interrupt has the highest priority in the system so that the ticks increases in the various timeout case handling (BTW, this is a possible issue when calling d

[2017-03-22 07:44] 0xc0170 commented on #3986
It would be helpful to pinpoint some headers that are pulled from rtx, and a reason why (if there are any rtx types used or any specific rtx things). I found in most headers inside rtos folder - inclusion of ``#include "rtx_lib.h"``.

It would be nice to have

@bulislaw

[2017-03-22 07:45] 0xc0170 commented on #3984
cc @anangl @nvlsianpu @pan-

[2017-03-22 07:50] 0xc0170 commented on #3983
@toyowata Any pointers ? I checked the history, local filesystem and lpc176x have not been changed for some time.

[2017-03-22 08:01] 0xc0170 commented on #3981
SAMD21 XPro is not supported. See https://developer.mbed.org/platforms/?mbed-os=19

[2017-03-22 08:01] #3981 closed

[2017-03-22 08:02] 0xc0170 commented on #3978
@mmahadevan108 - please can you have a look at my comment above? And look at the linker script for K66F. Why it has those 2 differences there

[2017-03-22 08:03] 0xc0170 commented on #3977
cc @pan-

[2017-03-22 08:25] toyowata commented on #3983
@0xc0170 Not sure the trigger of this problem, but I got one warning message with mbed_lib_rev138 build which was not produced by previous library.

[code]

[2017-03-22 08:27] nvlsianpu commented on #3857
It looks like change proposed by @geky (https://github.com/ARMmbed/mbed-os/issues/3857#issuecomment-287166802) patches the bug. @tbondar could you confirm or contradict. My board didn't hang since more than 12 hours.

[2017-03-22 09:00] nvlsianpu commented on #3984
Thanks for input. We will consider this suggestion as one more gpio is usefull for the App.

[2017-03-22 10:40] RobMeades commented on #3971
Hi there: I think this is probably the `wait_ms(50)` issue in `C027_api.c`.  At least, I've just compiled blinky for headrev mbed-os and UBLOX_C027 and it runs if I make the following change:

In the file `mbed-os\targets\TARGET_NXP\TARGET_LPC176X\TARGET_UBLOX_C027\C027_api.c`, function `c027_init()`, replace the line:

`wait_ms(50);`

...with:

[code]

To have it compile without warnings, `#inclu

[2017-03-22 10:51] hasnainvirk commented on #3971
@RobMeades yeah, please go ahead. It would be one less commit from my PR if you go ahead with this :)

[2017-03-22 13:08] #2769 closed

[2017-03-22 14:43] janjongboom opened #3989 "When using callback(): error: too many arguments to function"
### Description
- Type: Bug
- Priority: Minor

## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**meed-os sha:**
5.3.6

I'm having this file: [accelerometer.h](https://github.com/ARMmbed/workshop-mbed-connect-asia-lights/blob/master/accelerometer.h) which I'm updating to mbed OS 5.3.6. When I write:

[code]

I get a compile error: `too many arguments to function`.

Wh

[2017-03-22 14:58] tbondar commented on #3857
@nvlsianpu OK, I'm starting a test right now.
@pan- @geky @geky  Guys, do you all agree that this probably a reasonable solution to the problem? We plan to use this code in a device that's going out to our customer and we don't have much time left to do long term tests.
Thanks for all your work so far!

[2017-03-22 16:14] geky commented on #3857
I created a pr for review (#3991), hopefully this is the fix

This patch makes the non-rtos and rtos versions of equeue_sema behave consistently. The rtos version has the main support of mbed OS, so there should be fewer issues outside of the equeue_sema layer.

[2017-03-22 16:44] theotherjimmy commented on #3985
Oh, @jaustin You should be using a list of macros to remove.
so
[code]

but we can look into up-converting the singleton to a list with one element if that would be reasonable.

[2017-03-22 17:03] jaustin commented on #3985
Sigh. That makes sense.

I think we should at least throw an error in the case of no list. Converting the single string feels like spooky action at a distance but if we can't error then it's probably preferable

[2017-03-22 17:57] tbondar commented on #3857
@nvlsianpu Unfortunately my board still stopped blinking after 8200 seconds. What is the blinking period that you use? Please note, that I changed the original 500 ms to 50 ms, as stated in the original bug report.

One more interesting addition is that sometimes the blinking restarts spontaneously after some time. I will try to collect more information about this.

[2017-03-22 18:48] bulislaw commented on #3986
We are including `#include "rtx_lib.h"` so we can declare memory for the RTOS primitives using internal RTX objects like https://github.com/ARMmbed/mbed-os/blob/feature_cmsis5/rtos/Mutex.h#L62
I find it cleaner and less of a burden to maintain and/or update than something like `int32_t _mutex_data[4];` at the same time it's pretty much necessary as we don't generally support RTX memory models, als

[2017-03-22 19:06] theotherjimmy commented on #3985
We can do either. Which would you prefer?

[2017-03-22 20:03] YarivCol commented on #3986
I understand and agree.
But maybe include "rtx_lib.h" in "cmsis_os2.h",
and every kernel will have similar defines.
So there will not be references to rtx other than cmsis_os2.h.

[2017-03-22 20:09] geky commented on #3989
Hi @janjongboom, it's unfortunately picking up the member variable with the same name `callback`:
https://github.com/ARMmbed/workshop-mbed-connect-asia-lights/blob/master/accelerometer.h#L50

Using the full namespace'd name avoids this issue:
[code]

[2017-03-22 20:39] jaustin commented on #3985
I think it's best to throw an error with a hint as to what the correct
syntax is -keep the logic simple.

Actually more errors in general would be nice. I found lots of ways to feed
invalid data to that config without anything complaining, even missing
commas are silently accepted iirc

J

On Wed, 22 Mar 2017 at 19:07, Jimmy Brisson <notifications@github.com>
wrote:

[2017-03-22 21:35] theotherjimmy commented on #3985
Listing them here would help me track this down and do better validation in the tools. I'll make the particular corner case you found an error.

[2017-03-22 21:37] mray19027 opened #3999 "AnalogOut does not work for K64F"
### Description
- Type: Bug
- Priority: Blocker

AnalogOut does not work for the K64F from mbed-os version 5.2.3 to 5.4.1.
mbed-os version 5.2.2 has a working AnalogOut api.

AnalogOut constructor works, and no errors occur during runtime. But regardless of what value gets set to the AnalogOut pin, the value floats at 0.03V.

---------------------------------------------------------------
### Exam

[2017-03-22 21:44] mray19027 commented on #3999
@BlackstoneEngineering @senthilr

@sg-
@MarceloSalazar Why didn't OOB catch this? Do we not have any OOB tests that utilize analog out?
@screamerbg We should incorporate the CI test shield into our OOB testing. The CI test shield discovered this bug.

[2017-03-22 23:09] theotherjimmy commented on #3940
This definetly looks like a bug. I'll see what I can do about it.

[2017-03-23 01:31] TomoYamanaka commented on #3593
This issue modified and merged in PR of #3933. Therefore I close this. The isseue of #3889 also close.

[2017-03-23 04:19] TsungtaWu opened #4001 "How to set MBED_CONF_NSAPI_PRESENT to 0"
### Description
- Type: Question
- Priority: Blocker

## Question

For DELTA_DFCM_NNN50 platform, it comes with EthernetInterface lib. It seems there are few conflicts with features\netsocket when compiled. I found one solution is to set MBED_CONF_NSAPI_PRESENT to 0 in mbed.h to avoid coflicts since "netsocket/nsapi.h" would not included. What is the propoer method to this config for specifc targe

[2017-03-23 05:04] jimeixuehua commented on #3967
Same for STM32F103.

[2017-03-23 08:31] 0xc0170 commented on #4001
cc @geky

[2017-03-23 09:30] bulislaw commented on #3986
`rtx_lib.h` is an internal RTX file afaik, and `cmsis_os2.h` is a public interface file, I don't think Keil guys would be willing to make that change. In any case users should be isolated from that problem, as it's internal mbed OS issue in case of an upgrade, not to mention that names/size should be different for other rtoses. What problem are you trying to solve?

[2017-03-23 09:40] YarivCol commented on #3986
ן want to switch to other rtos kernel(not rtx) in my project.
I can solve it by adding compile condtion, but i thought about more generic solution to mbed itself.

[2017-03-23 09:42] bulislaw commented on #3986
Are the function/object names compatible?

[2017-03-23 09:44] bulislaw commented on #3941
i'll close this ticket for now. Please reopen it if you have some further questions.

[2017-03-23 09:44] #3941 closed

[2017-03-23 09:49] YarivCol commented on #3986
Yes, it is compatible.
 I implemented cmsis_os2.h using that kernel api.
 I declared same the names, you used to allocate memory for control blocks.

[2017-03-23 09:51] seppestas opened #4002 "NRF5: Async serial write doesn't send first character and reads past length"
Because of an [off-by-one error in the serial_api of the NRF5 target][UART_IRQ_HANDLER] the first character of the `buffer` is not sent and data at `buffer[length]` is accessed when using the [`Serial.Read`][Serial] function.

## Steps to reproduce

- Program following firmware on an NRF52 MCU:

[code]
- Connect to the device's serial port
- Start the device

### Result

"ello world!" is received

[2017-03-23 09:57] bcostm opened #4004 "NUCLEO_L073RZ: Add USB support"
### Description
- Type: Enhancement
- Priority: Major

To be supported in a first step:
- USB Device only
- HID
- CDC

ST Internal ref: DDTS/CTNbg1797

[2017-03-23 09:59] bulislaw commented on #3986
Right, if you declared the same names and implemented cmsis_os2.h can't you also create/update rtx_lib.h for your purposes? My point is mbed OS uses Keil RTX, RTOSes are different anyway and have different API so 'drop in' replacement is not something that can be usually done without any modification or shim adaptation layers. I don't think your use case is something that most users would care and

[2017-03-23 10:12] andcor02 opened #4005 "DISCO-F769NI mbed OS 5"
Just confused about mbed OS support for this platform?

On the mbed platform pages, its not listed as mbed-os platform.

In mbed-CLI it is listed to support mbed OS?

Able to compile with mbed OS in mbed-CLI

[2017-03-23 10:26] MarceloSalazar commented on #3999
We don't have example apps in OOB to catch these issues.
IMO, testing the CI shield is not something that we should be doing as part of OOB (it's not in the scope and goals of OOB).
The CI shield could be added to the the CI automated testing infrastructure.

[2017-03-23 10:29] bcostm opened #4006 "NUCLEO_L053R8: Add USB support"
### Description
- Type: Enhancement
- Priority: Major

To be supported in a first step:
- USB Device only
- HID
- CDC

ST Internal ref: DDTS/CTNbg1797

[2017-03-23 11:19] seppestas commented on #3977
Can I create a PR to make the UARTService a Stream again?

[2017-03-23 11:21] chrissnow opened #4007 "EFM32PG thread never wakes"
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
efm32pg_stk3401

**Toolchain:**
ARM

**Toolchain version:**

**mbed-cli version:**
1.0.0

If all threads are idle and the idle thread gets called which calls sleep() threads never wake up.
the below code demonstrates the problem.

It needs to be compiled in release and after each progr

[2017-03-23 11:22] 0xc0170 commented on #4007
cc @stevew817

[2017-03-23 11:23] 0xc0170 commented on #4005
cc @bcostm

[2017-03-23 11:27] 0xc0170 commented on #3999
+1

cc @mmahadevan108

[2017-03-23 11:45] 0xc0170 commented on #3986
That's what CMSIS RTOS should do: From the CMSIS RTOS 2 docs: ``The CMSIS-RTOS API Version 2 (CMSIS-RTOS2) is a generic RTOS interface for ARM® Cortex®-M processor-based devices.`` Therefore I wonder why there's no cmsis objects like you pinpointed earlier (``os_mutex_t``).  We used to use CMSIS-RTOS API as much as we could. If there are reasons for using directly RTX internals, we should document

[2017-03-23 11:59] stevew817 commented on #4007
@0xc0170 This looks to me like a general problem for everyone using RTOS on mbedOS 5. The RTOS scheduler is running on the systick timer, which gets clocked by the core clock. When you call sleep, that clock gets turned off, so the timer doesn't have a clock anymore, so it won't fire an interrupt into the scheduler anymore.

Quick fix is probably to not allow sleeping when using an RTOS? This is w

[2017-03-23 12:01] 0xc0170 commented on #3973
@theotherjimmy What about my comment - online vs offline use : https://github.com/ARMmbed/mbed-os/issues/3973#issuecomment-288000420 ?

[2017-03-23 12:08] TomoYamanaka opened #4009 "Communication speed is very slow due to lock / unlock in 1 byte unit."
### Description
- Type: Question
- Priority: Major

---------------------------------------------------------------
## Question

Since mbed OS 5, Communication speed is very slow due to lock / unlock in 1 byte unit.
For example SPI driver:
Because of `lock()` and `unlock()` which are called in the following two functions,
`lock()` and `unlock()` with mutex function are executed twice every 1 byte

[2017-03-23 13:37] bcostm commented on #4005
This board is well supported bu mbed OS 5. There was a problem with the online IDE and it is fixed now. Thanks for reporting.

[2017-03-23 13:43] bcostm opened #4010 "DISCO_L053C8: Add USB support"
### Description
- Type: Enhancement
- Priority: Major

To be supported in a first step:
- USB Device only
- HID
- CDC

ST Internal ref: DDTS/CTNbg1797

[2017-03-23 14:00] 0xc0170 commented on #4005
@andcor02 Please verify and reopen if not resolved

[2017-03-23 14:00] #4005 closed

[2017-03-23 14:23] andreaslarssonublox commented on #3971
@RobMeades might this PR https://github.com/ARMmbed/mbed-os/issues/3515 be related?

[2017-03-23 14:25] RobMeades commented on #3515
Yup, well found @andreaslarssonublox, seems likely. See pull request #3990.

[2017-03-23 16:40] geky commented on #4001
I would create a .mbedignore file that removes the nsapi from compilation:

In .mbedignore:
[code]

Removing the nsapi from compilation will as a side effect set MBED_CONF_NSAPI_PRESENT to 0. If you want to keep both nsapi and the EthernetInterface.lib you may run into other issues as I believe they both use lwip with static declarations.

[2017-03-23 17:03] theotherjimmy commented on #3973
@0xc0170 How are those scenarios different from what I was suggesting? BTW, we have to generate the elf before generating the bin or hex. That's just how all of the tools work.

[2017-03-23 19:47] mmahadevan108 commented on #3763
cc @maclobdell For the ARM compiler, the Stack_Size and Heap_Size will reduce RAM space assigned for the data section. I don't see the RAM getting wasted due to these defines.

In the case of GCC_ARM, these defines are needed for uvisor. We can reduce it for K66 and other platforms but I don't think it should be removed.

[2017-03-23 19:53] mmahadevan108 commented on #3763
cc @maclobdell I will see if I can delete this for GCC_ARM in KL27 since this has limited RAM space. On other platforms I will reduce the size.

[2017-03-23 20:04] bridadan commented on #3964
Hey y'all, just as a follow up I'd like to mention that these kinds of failures should be caught sooner in the near future. We currently have a few different jobs that we run on PRs depending on what they modify. The most common one we run doesn't include exporters, however I am working to add this in. So hopefully we can avoid these issues in the future :+1:

[2017-03-23 20:07] ilg-ul commented on #3964
any idea when the fix for this bug will be publicly available? I guess we need to wait for the next release. when is it due?

[2017-03-23 20:10] bridadan commented on #3964
5.4.1 was released about a week ago, so I would expect the patch to be showing up publicly within the next two weeks or so. We publish patch releases usually every two weeks (give or take).

[2017-03-23 21:18] CarloMara commented on #3964
Hey @bridadan could you explain me what do you mean with `We currently have a few different jobs that we run on PRs depending on what they modify.`?
I guess it's some kind of automatic testing, am I right?

Cheers,
Carlo

[2017-03-24 08:45] nvlsianpu commented on #3857
I contradict as well - https://github.com/ARMmbed/mbed-os/pull/3991 didn't fix this issue (but it still fixes other issue :D). I reproduced issue witch changes as well.

[2017-03-24 10:41] sg- commented on #4001
I think EthernetInterface.lib needs to be updated to use NSAPI instead. .mbedignore is not the proper solution.

EthernetInterface.lib is for mbed OS 2, not mbed OS 5. Please don't confuse these or make temporary solutions.

[2017-03-24 11:20] sg- commented on #3989
or renaming ```void (*callback)(void);``` to ```void (*cb)(void);``` for example in https://github.com/ARMmbed/workshop-mbed-connect-asia-lights/blob/master/accelerometer.h#L50

[2017-03-24 11:20] #3989 closed

[2017-03-24 11:27] sg- commented on #3974
Fixed with #3975

[2017-03-24 11:27] #3974 closed

[2017-03-24 11:33] janjongboom commented on #3989
Ah, good catch. Thanks.

[2017-03-24 11:35] nvlsianpu commented on #3857
I prepared patch https://github.com/ARMmbed/mbed-os/pull/4016. I'm waiting now for verification using board on my desk. cc @tbondar , @pan--

[2017-03-24 11:56] chrissnow opened #4018 "LPC1768 DHCP"
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
LPC1768

**Toolchain:**
ARM

**Toolchain version:**

**mbed-cli version:**
1.0.0

Since mbed-os 5.4.0 DHCP appears to be broken.
I can see DHCP request and offers with wireshark but no IP is assigned to the interface
Statically assigned IP works fine.

[2017-03-24 12:04] bcostm opened #4019 "STM32: Factorize analogout_api.c files (enhancement)"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement
**Reason to enhance or problem with existing solution**
Having one single analogout_api.c file for all STM32 platforms will facilitate the maintenance.

**Suggested enhancement**
- Create a single analogout_api.c file in targets/TARGET_STM folder.
- Specific macros

[2017-03-24 12:36] toyowata commented on #4018
Related this issue:
https://github.com/ARMmbed/mbed-os-example-sockets/issues/17

[2017-03-24 14:08] nvlsianpu commented on #3857
I confirm that PR 4016 mentioned above fixes this issue.

[2017-03-24 14:42] bridadan commented on #3964
Yup, when you look at open PRs you'll see a bunch of automatic testing that occurs. The results are at the bottom of the PR. We run a number of jobs on them, sometimes not always the same ones. This will help reduce the gap between the jobs that we run, limiting the issues that can slip through in the future.

[2017-03-24 15:04] mmahadevan108 commented on #3999
@0xc0170 Is this a bug related to the NXP port? Description states this was working before.

[2017-03-24 16:34] TsungtaWu commented on #4001
@sg- The EthernetInterface.lib that DELTA_DFCM_NNN50 used is not lwip based which is quite different with the one used by K64F and LPC1768. In the other words, the EthernetInterface.lib for DELTA_DFCM_NNN50 is highly customised, we only make it to follow the API syntax defined by mbed easier for our platform user to pick up the WIFI function. We understand that mbed officail EthernetInterface.lib

[2017-03-24 16:42] sg- commented on #4001
All mbed OS 5 networking interfaces should be done with NSAPI regardless if in tree based on lwIP or Nanostack or out of tree based on a proprietary stack.

[2017-03-24 18:36] YarivCol opened #4023 "filesystem: block device api is too specific"
### Description
- Type: Enhancement

----------------------------------------------------------------
## Enhancement

The api of block device have program and erase function instead of simply write function:
`virtual int program(const void *buffer, bd_addr_t addr, bd_size_t size) = 0;`
`virtual int erase(bd_addr_t addr, bd_size_t size) = 0;`

instead of:
`virtual int write(const void *buffer, bd_a

[2017-03-24 20:16] gerhil opened #4024 "feature_cmsis5 and osThreadNew problem"
### Description
- Type: Bug (perhaps) / Question
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
6.3.1

**mbed-cli version:**
1.0

-----------------------------------------------------------------

## Question

Hello. I am using the "feature_cmsis5" branch because it has improved thread suppo

[2017-03-24 21:49] Sissors opened #4026 "NRF51822 timer has a race condition"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NRF51822 / maybe also other NRF but that code is even more confusing

**Expected behavior**
Time increases monotonic until it has 32-bit overflow

**Actual behavior**
Time does not increase monotonic. So either space-time continuum is broken, or the timer code.

**Probl

[2017-03-24 22:08] tbondar commented on #3857
@nvlsianpu I can confirm too: it works. Many thanks for getting this fixed!

[2017-03-25 20:06] vigneshtg opened #4029 "Regarding ARM V2M-MPS2 board"
@sarahmarshy @theotherjimmy @sg-
Hello,
I'm working on mbed OS on ARM V2M-MPS2  board.
I tried to use mbed online compiler on this board and compilation is successful, but when I tried to export it to keil or other environment for debugging, it doesn't show any of environment on exports list and it shows only GCC code sourcery on the list.
Please suggest me possible solutions to get resolved as so

[2017-03-26 12:32] helmut64 commented on #2825
With the current mbed releases this problem disappeared. I close the bug because it is obsolete.

[2017-03-26 12:32] #2825 closed

[2017-03-27 04:25] toyowata commented on #3983
@0xc0170 I saw that the FileLike class had been modified between rev137 and rev138.  It does not use FileHandle class any more, but not sure this is a cause of this problem.

cc @geky

[2017-03-27 07:11] 0xc0170 commented on #4029
@abhishek-pandit Can you help ?

[2017-03-27 07:12] 0xc0170 commented on #4026
cc @pan- @nvlsianpu @anangl

[2017-03-27 07:13] 0xc0170 commented on #4024
cc @bulislaw

[2017-03-27 07:17] 0xc0170 commented on #4023
cc @geky @simonqhughes @c1728p9

[2017-03-27 08:35] janjongboom opened #4032 "Add a `BUTTON` PinName (to targets who have buttons)"
### Description

- Type: Enhancement

## Enhancement

A lot of our demo's involve push buttons. Unfortunately there is no set pin name for built-in buttons in the HAL. Thus every demo needs to include a section similar to [this mbed_app.json](https://github.com/ARMmbed/workshop-mbed-connect-asia-lights/blob/master/mbed_app.json#L31) file. It'd be nice to add a `BUTTON1` or `BUTTON` pin name for al

[2017-03-27 08:36] andcor02 opened #4033 "Online IDE not showing build information"
Has been flagged by several users that the Online-IDE no longer shows the  usage of Ram, Flash & Rom used after compiling.

Can confirm this, anyone have any insight here?

Threads:

https://developer.mbed.org/questions/77527/Compiler-build-informaition/

https://developer.mbed.org/questions/77552/Why-do-the-build-details-show-that-my-pr/

[2017-03-27 08:37] karsev opened #4034 "Not possible to set socket options through socket API"
### Description
- Type: Bug
- Major

---------------------------------------------------------------
## Bug

**Target**
Any

**Toolchain:**
Any

**Expected behavior**
Should be possible to set socket options for nanostack applications (Thread, 6LoWPAN).
Socket.h provides the setsockopt(int level, int optname, const void *optval, unsigned optlen) function, but does not provide any option names (key

[2017-03-27 08:40] janjongboom opened #4035 "Add a `BUILTIN_LED_ON` macro"
### Description
- Type: Enhancement

## Enhancement

We have standardized on `LED1` / `LED2` / etc. pin names for the built-in LEDs. Unfortunately these LEDs behave different on different boards. E.g. on K64F you need to set the pin high to turn the LED off, but on  NUCLEO boards you set the pin low to turn the LED off. This is not a problem for blinky, but it is very annoying when writing cross-t

[2017-03-27 10:47] pan- commented on #4026
@Sissors Many thanks for the detailed bug report.

There is other issues in ticker code (like this [one](https://github.com/ARMmbed/mbed-os/blob/master/hal/mbed_ticker_api.c#L37)) but the read function is directly mapped to the one in the interface (see [here](https://github.com/ARMmbed/mbed-os/blob/master/hal/mbed_ticker_api.c#L119)).

Unfortunately, NRF51822 target has received less attention th

[2017-03-27 11:30] CarloMara opened #4038 "No build config in gnuarmeclipse exported project"
**Small Info**
- Type: Bug
- Priority: Blocker

**Target**
K64F|NUCLEO_F303K8

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.4.0

I'm trying to use the gnuarmeclipse exporter, without any luck so far.
These are the steps that I have taken:

[code]

In addition to these steps, at the bottom of #3561 @ilg-ul suggested that this issue could be related to the build profiles, that after a check I fo

[2017-03-27 11:32] ilg-ul commented on #4038
the exporter generates managed projects, not make projects.

[2017-03-27 12:29] Sissors commented on #4026
@pan- , I think that code is indeed the proper way to handle it without interrupts. But would it be risk free if interrupts are enabled? If the interrupt happens between reading the COUNTER and returning the value, it could still return a wrong timestamp, right?

Good to see the fast reaction to the issue. In general synchronizing a hardware timer with a software part is always tricky business :).

[2017-03-27 12:35] bulislaw commented on #4035
That sounds good, but I think we should make it more generic like `HIGH` `LOW` or something similar, as it's really about how the GPIO works.

[2017-03-27 12:36] bulislaw commented on #4034
@geky @kjbracey-arm

[2017-03-27 12:39] bulislaw commented on #4032
I agree, the name should be standardized. We are working on new HAL specification, that should be part of it @0xc0170 @c1728p9

[2017-03-27 12:45] bulislaw commented on #4024
RTX has some assumptions about memory alignment and size, I think you are hitting this one:
https://github.com/ARMmbed/mbed-os/blob/feature_cmsis5/rtos/rtx2/TARGET_CORTEX_M/rtx_thread.c#L645

[2017-03-27 12:49] bulislaw commented on #4033
@theotherjimmy

[2017-03-27 12:53] pan- commented on #4026
@Sissors You're right, `rtc1_getCounter64` is not interrupt safe; indeed no operation accessing more than a single register to compute a result is safe. It is possible to protect the transaction by a pair of `__disable_irq` and `__enable_irq`:

[code]

[2017-03-27 13:28] kjbracey-arm commented on #4034
You're using the API in the way it was intended to be used. The bypass mechanism is explicitly provided to let you get at stack-specific socket options which might not be in the stack-independent API.

If your code knows it's running on Nanostack, then what you're doing is fine and legal.

However, in this case, this is an option which may be worth adding to the stack-independent.

I've checked, a

[2017-03-27 13:39] kjbracey-arm commented on #4034
Oh, you say "internal API", but those socket option names /are/ in Nanostack's public API.  You're passing options from one stack's public API into the abstraction API, using your knowledge of which stack you're using, and that stack's own documentation and header file.

Far from ideal from an abstraction point of view, but it is using public APIs.

[2017-03-27 13:57] c1728p9 commented on #4023
cc @theotherjimmy

[2017-03-27 15:18] janjongboom opened #4040 "Move ATParser into core mbed OS"
### Description
- Type: Enhancement

## Enhancement

We're using the [ATParser](https://github.com/ARMmbed/ATParser) library in more and more places like ESP8266-driver, MTSAS cell driver; and especially with our move to modules I expect this to increase even more, as they probably rely on AT commands for communication. Would it be an idea to move the ATParser library into core OS, rather than as

[2017-03-27 15:19] sarahmarshy commented on #4040
+1 @geky

[2017-03-27 16:36] theotherjimmy commented on #4033
So, no target information, no project information, no 2 vs. 5 information.

[2017-03-27 16:38] geky commented on #4023
Well, we do have a need for the current api to describe flash devices (large erase sizes makes combining program+erase problematic at the lower layers). The block device api can also describe generalized block devices by having `get_program_size` return `get_erase_size` and making `erase` a noop (perhaps this should be default). The [sd-driver](https://github.com/ARMmbed/sd-driver/tree/master/feat

[2017-03-27 16:38] theotherjimmy commented on #4033
Cannot reproduce.

[2017-03-27 16:45] geky commented on #4034
Feel free to create a pr to add any socket options you think should have a common identifier.

I'm not sure it's possible to create an exhaustive list of network options, so allowing stack-specific options lets specific network stacks support features without requiring the features from other network stacks.

[2017-03-27 16:48] geky commented on #4040
I don't really have an opinion, I'd go for it if it's easier for users.

cc @sg-

[2017-03-27 17:13] geky commented on #4018
I'm having a difficult time reproducing this issue. The LPC1768 and ARCH_PRO both seem to work on the two networks I have available.

Could you attach the wireshark dump of the DHCP request/offer? I can probably fake the traffic to reproduce it here.

Also what does your ethernet hardware setup look like? If you are using an [Arch Pro](https://developer.mbed.org/platforms/Seeeduino-Arch-Pro/), did

[2017-03-27 18:03] YarivCol commented on #4023
my problem is with the names of the functions, in storage (to what i know) erase means change bit to 1 and program means change to 0.
But in SD for example the function program and erase do something else, so it a bit confusing and misleading.

i still think blockdevice should have write and read functions it will allow flexibility without the need to go to the code to know what the function reall

[2017-03-27 18:10] chrissnow commented on #4018
I will get you a wireshark capture tomorrow, I may try a Ublox C027 I have at home tonight which is basically the same hardware.
I'm using the EA LPC1769 board and a magjack.
https://www.embeddedartists.com/products/lpcxpresso/lpc1769_cmsis_xpr.php
mbed compile -t arm -m lpc1768

since going to static IP I haven't had any issues so it's unlikely to be hardware.

[2017-03-27 19:11] geky commented on #4023
Do you need to know the state of the storage between erase and program? If you don't, both the SD card (where is erase is noop) and flash (where is erase sets bits to 1) will behave the same.

If you do rely on the "nanding" nature of flash, we were considering adding a `get_erase_value` or similar to allow you to check for the state of an erased block.

We did look into adding a `write` function

[2017-03-27 19:53] YarivCol commented on #4023
my FTL will need some way to ask flash device for erase block state, my interface for flash has one.

for the second part, i thought of replacing erase and program with write (erase and program  will be handled in the implementation if needed).

[2017-03-27 21:20] Wazalogic commented on #4024
Thanks, 128 seems to work. I will test more tomorrow.
I would have expected that "#define example 2" would work. It's a Keil example.

[2017-03-28 06:37] CarloMara commented on #4038
Now I know the difference.
For reference, in order to import the project I went trough the following steps:

`File` --> `Open Project from file System` --> In the popup, I unchecked the option `Search for nested projects` --> Choose the project path --> hit finish.

If this is the way to do it, I can add a step by step guide on the exporters page.

Thanks again,
Carlo

[2017-03-28 06:48] CarloMara opened #4044 "Build fails on K64F with Eclipse"
**Little Info**
- Type: Bug
- Priority:  Major

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
4_9-2015q3

**mbed-cli version:**
1.0.0

**Expected behavior**
After exporting the project to eclipse using gnuarmeclipse exporter, the project should get build.

**Actual behavior**
The build fails with:

[code]
**Steps to reproduce**
Exports blink project with `mbed export -m K64F -i g

[2017-03-28 06:57] CarloMara commented on #3970
Hi @jeromecoutant ,

Do you have any news on this side?

I have found also this [link](https://translate.google.com/translate?sl=auto&tl=en&js=y&prev=_t&hl=en&ie=UTF-8&u=https%3A%2F%2Fdeveloper.mbed.org%2Fquestions%2F67997%2FNUCLEO-F303K8ADC%2F&edit-text=&act=url), which suggests other problems with the DACs.
Here is the [non translated version](https://developer.mbed.org/questions/67997/NUCLEO-F3

[2017-03-28 07:20] mikaleppanen commented on #3891
Using existing random library sounds like a good solution. I'll start to make needed changes for this.

[2017-03-28 07:33] ilg-ul commented on #4038
can you confirm that by properly importing the project, the build configurations were present and the build was successful for all of them?

sure.

however, in my opinion, the documentation pages are not very fortunate, there is information about exporters in two places, one is the [Third party development tools](https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/third_party/) and one

[2017-03-28 07:54] ilg-ul commented on #4038
BTW, I am curious what made you choose to select the project as a makefile project? the small section in the **Third party development tools** page starts exactly by explaining that the exporter creates projects **without** make files.

if that explanation is not easy to understand, we need to improve it.

[2017-03-28 08:17] bulislaw commented on #4044
I was having issues with another board https://github.com/ARMmbed/mbed-os/issues/3919

[2017-03-28 08:17] bulislaw commented on #4044
@theotherjimmy

[2017-03-28 08:34] CarloMara commented on #4038
As you said there are two pages regarding exporters , and that IMO is rather confusing. I have read both, but I must have missed it. Sorry. We should find a definitive way on how to document exporters, in order to avoid issues like this one in the future.

I can confirm that I was able to import the projects following the steps mentioned above. Can you also confirm that that's the best way to do i

[2017-03-28 08:44] CarloMara commented on #4044
@bulislaw I can also confirm that the build works if compiled with mbed-CLI. FYI same toolchain of eclipse.

Cheers,
Carlo

[2017-03-28 08:54] ilg-ul commented on #4038
ok, great.

in this case, please update the issue title, since it is not correct. I would suggest 'Importing gnuarmeclipse projects as makefile fails'.

and the 'bug' label attached to this issue should be changed too.

I don't know exactly the steps you did, but I guess it is _the best_, since there shouldn't be more than one ;-)

hmmm... something changed in the mean time and again the validatio

[2017-03-28 08:54] sg- commented on #4040
If there are going to be multiple dependencies this seems reasonable but probably worth waiting or seeing what @kjbracey-arm and @hasnainvirk are up to with cellular work.

[2017-03-28 09:00] kjbracey-arm commented on #4040
Yes, this is going to happen as part of the cellular stuff.

There will need to be some slight initialisation changes to use the updated ATParser as it is being revised to work with any device, rather than being locked to serial.

Although maybe transparent backwards compatibility could be achieved - we'll have to investigate.

[2017-03-28 09:02] ilg-ul commented on #4044
I'm afraid this is a misunderstanding, this file is not a linker script file, but it requires non-standard preprocessing, and this cannot work in Eclipse

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Freescale/TARGET_MCUXpresso_MCUS/TARGET_MCU_K64F/device/TOOLCHAIN_GCC_ARM/MK64FN1M0xxx12.ld

[2017-03-28 09:26] ilg-ul commented on #4038
@AnotherButler, how can we proceed with an update for the exporter pages?

[2017-03-28 09:39] Wazalogic commented on #4024
Why isn't it allowed to use osThreadNew(), osThreadSuspend() and osThreadResume() in critical regions? See rtx_thread.c lines 1505, 1589 and 1599..

[2017-03-28 09:40] bulislaw commented on #4024
You'll need to ask RTX guys: https://github.com/ARM-software/CMSIS_5

[2017-03-28 09:44] Wazalogic commented on #4024
ah ok. I will ask them, thanks!

[2017-03-28 11:06] hasnainvirk commented on #4040
Code can be checked here. We are in the intensive testing phase right now.
https://github.com/hasnainvirk/mbed-os/tree/cellular_feature_br/
Soon we will begin merging to mbed-os for 5.5 dev cycle

[2017-03-28 11:38] chrissnow commented on #4018
@geky here is a capture
[dhcp.zip](https://github.com/ARMmbed/mbed-os/files/875484/dhcp.zip)

[2017-03-28 12:11] sg- commented on #4040
I really wish we'd all work on feature branches in mbed-os tree 👍

[2017-03-28 12:56] janjongboom commented on #4040
@sg- I for one do not have push access to ARMmbed/mbed-os. Maybe we should start with allowing writes to feature branches for all mbed Staff.

[2017-03-28 13:27] chrissnow opened #4052 "NTP support"
## Enhancement

It would be great if the Ethernet stack was extended to include NTP (or SNTP)
LWIP already has some support for it.

Ideally it would be as simple as declaring an instance of NTP and giving it a time server
it would then keep the RTC(if there is one) in sync and then calls to time() would work.

[2017-03-28 13:38] hasnainvirk commented on #4040
@sg- :) I don't have push access to mbed-os so I have my own fake feature branch :D

[2017-03-28 14:37] andcor02 opened #4053 "Windows 10 @ NXP KLXX Platforms"
This is a somewhat strange issue that seems to be affecting a group of users.

**The problem:**

Some of the NXP KLXX series (KL25Z, KL46Z.. etc) are still shipped with outdated firmware that is not recognised by Windows 8/10. Therefore will not show the "MBED" drive. Ontop of this, you cannot update this old firmware in Windows 10.

See here for examples of the problem:

- https://developer.mbed.

[2017-03-28 14:50] sg- commented on #4040
That is what PRs are for :)

[2017-03-28 16:01] theotherjimmy commented on #4044
So, the interesting thing here is that pre-procesing is standard on ARMLink scatter files, and IAR whatever there link file is called. We added it to GCC for feature parody.

@ilg-ul Do you think that adding a make rule to run the linker script through the preprocessor would be enough to make gnuarmeclipse pre-process it's linker scirpts?

[2017-03-28 16:26] ilg-ul commented on #4044
and parody you got. totally unusual for GCC linker files. bad idea.

and what would the extra rule do? convert from the un-preprocessed `MK64FN1M0xxx12.ld` to a processed `MK64FN1M0xxx12.ld`?

the major problem I see with this issue is not the need to somehow process a file before the build, this can be accommodated somehow, but the decision to masquerade the file as `.ld`, given the fact that the

[2017-03-28 16:35] theotherjimmy commented on #4044
It would process `MK64FN1M0xxx12.ld` to some `post-processed-link-script.ld` or something. That's what the makefile solution does.

Honestly, no decision was made there, we just modified the files in place. I understand that is implicitly a decision, but I'm just saying that we clearly made a bad decision by not making a decision.

Definitely a good idea. We can rename the files to something else.

[2017-03-28 16:39] tkaman opened #4055 "mbed test is not working in mbed-os-example-bootloader application"
### Description
- Type: Bug
- Priority: Minor

I imported mbed-os-example-bootloader application and tried to run mbed test with it, but it is not working.

[code]

I did not touch any files in the repo.

tamkam01@E109896 MINGW64 /c/ARM/SourceCode/mbed-os-example-bootloader (master)
$ git status
On branch master
Your branch is up-to-date with 'origin/master'.
nothing to commit, working tree clean

[2017-03-28 16:44] 0xc0170 commented on #4055
cc @theotherjimmy

[2017-03-28 16:50] geky commented on #4018
Thanks! that will help a bunch.

Starting to dig my teeth in, it looks like the difference between our DHCP servers is that yours is _responding_ with broadcast packets. This is likely an issue with a recent change to add broadcast support (https://github.com/ARMmbed/mbed-os/pull/3482?)

[2017-03-28 17:26] jacobjohnson-ON opened #4057 ""device_name" not found - attempting to compile mbed-os-example-bootloader on NCS36510"
### Description
- Type: Bug
- Related issue: `#bootloader`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NCS36510

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.06
**mbed-cli version:**
1.0.0

**meed-os sha:**
8b Merge pull request #8 from 0xc0170/fix_readme_blinky

**DAPLink version:**
0240

**Expected behavior**
Expected to compile and

[2017-03-28 17:34] 0xc0170 commented on #4057
@theotherjimmy I have seen this today on 2 devices. I cant reproduce this locally. The attribute error somehow gets in, it's not clear to me from the traceback why it needs this symbol for compiling?

[2017-03-28 18:37] AnotherButler commented on #4038
@ilg-ul Please feel free to create a PR against whichever of the two pages seems most relevant. Once any missing information is added, we can look into combining the existing information if that seems reasonable.

[2017-03-28 18:46] geky commented on #4018
@chrissnow, I think I found the issue in https://github.com/ARMmbed/mbed-os/pull/4060, let us know if there is still an issue.

[2017-03-28 19:10] theotherjimmy commented on #4057
Ah, I'll catch that exception and throw a better warning. `device_name` should be populated with something that is a CMSIS Part. This is required for bootloader builds to work properly.

[2017-03-28 19:11] theotherjimmy commented on #4057
PR to improve the error messages in a moment.

[2017-03-28 19:11] theotherjimmy commented on #4055
huh. I'll look into this in more depth.

[2017-03-28 20:21] neilt6 commented on #3714
@theotherjimmy: Any update on when the patched toolchain is going to go live?

[2017-03-28 21:35] theotherjimmy commented on #3714
So, my original patch was reverted as it caused some problems, and I'm working on a new one. I'll let you know when that goes live.

[2017-03-29 10:43] 0xc0170 commented on #4055
@theotherjimmy any findings?

[2017-03-29 11:20] SeppoTakalo opened #4067 "Too high static reservations for HEAP and STACK in most IAR builds"
### Description

Most of the IAR build statically define the stack size to be something between 512 bytes to 24 kbytes.
This stack, however, is not even used in RTX case. Or maybe it is only used for interrupts.
Each other threads define their own stack, something between 1kB - 6kB. There is no justification to use 24kB for boot stack.

For example, Ublox EVK Odin W2 defines this:
[code]

Which me

[2017-03-29 11:25] adustm opened #4068 "unstability with ethernet UDP connection, not detected by mbed tests on NUCLEO_F746NG"
### Description
- Type: Bug + Enhancement
- Related issue: https://developer.mbed.org/questions/77138/EthernetInterface-unreliable-on-NUCLEO-F
- Priority: Blocker

---------------------------------------------------------------
## Bug
Create an UDP socket on the MCU board. Use an external UDPclient that sends messages every millisedoncs (or close to that). After a few seconds, the MCU will not ans

[2017-03-29 13:22] 0xc0170 commented on #4068
cc @geky

[2017-03-29 13:25] 0xc0170 commented on #4053
@andcor02 What is your proposal to solve this issues?

[2017-03-29 20:37] theotherjimmy commented on #4055
Not yet.

[2017-03-29 20:54] theotherjimmy commented on #4055
I figured out what the problem was. #4070 has the solution.

[2017-03-29 20:55] theotherjimmy commented on #4044
See PR #4069

[2017-03-29 21:04] stevew817 commented on #3903
@0xc0170 Did you ever get around to this?

[2017-03-29 21:17] 0xc0170 commented on #3903
I should get a board from you tomorrow morning, and will test

[2017-03-29 21:39] #3985 closed

[2017-03-29 21:43] #4002 closed

[2017-03-30 11:03] vargham opened #4075 "Missing mbed_config.h from exported project"
### Description
- Type: Bug
- Priority: Major

There is no mbed_config.h in exported project. Tried with STM32F103, STM32F429, LPC1768 mbed and mbed-os lib also. Tried with EmBlocks, GCC make and SW4STM32. Seems all targets and IDEs are affected.

[code]
---------------------------------------------------------------
## Bug

**Target**
STM32F103|STM32F429|LPC1768|Maybe others

**Toolchain:**
Onlin

[2017-03-30 11:09] bulislaw commented on #4075
@theotherjimmy

[2017-03-30 11:14] 0xc0170 commented on #4075
I've just hit something related, that I had to use old project.py script to test something for mbed 2 and this is traceback:

[code]

(missing mbed_config ?)

[2017-03-30 11:24] wdwalker opened #4076 "Reduce visual clutter in top-level directory"
### Description
- Type: Enhancement
- Priority: Minor

## Enhancement

**Reason to enhance or problem with existing solution**

When I use the mbed CLI to work with mbed OS 5.4, I end up with a number of files in the top level directory that are for mbed itself: mbed-os.lib, mbed-os, mbed_settings.py[c], a directory and *.lib pair for each library I import, mbed_app.json for my app, etc. In additi

[2017-03-30 11:26] bulislaw commented on #4076
That should probably go to https://github.com/ARMmbed/mbed-cli

[2017-03-30 11:27] wdwalker commented on #4076
Ah - true. Sorry. Will move.

[2017-03-30 11:27] #4076 closed

[2017-03-30 12:42] karsev commented on #4034
At least we could  add a pointer to the nanostack API where to find the options.

[2017-03-30 14:49] Split7fire opened #4080 "USBSerial timeout before connection ready"
### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
STM32F407 Discovery board; OS: Linux, Windows - doesn't matter

**Toolchain:**
GCC_ARM (PlatformIO)

**mbed-cli version:**
5.24

**Expected behavior**
After upload USBserial example to board nearly instant access to usbserial serial console (An half-year ago this behavior was true).

**Ac

[2017-03-30 14:50] simonqhughes commented on #4009
Yes, you're correct about the double locking and SDBlockDevice should be improved. I did the following test to further understand the impact:
- implement class SDBLockDeviceSPI: public SPI with overrides for lock() and unlock() with null implementations.
- Changed the SDBlockDevice::_spi type to be SDBLockDeviceSPI
- measured the fopen() test case 16 performance.

The above takes out the spi locki

[2017-03-30 14:57] 0xc0170 commented on #3903
I've just run tests locally, latest feature_cmsis5:

``mbed test -n tests-mbedmicro-rtos-* -m EFM32GG_STK3700 -t IAR``

[code]

only isr test failes, will check what is going on

[2017-03-30 15:36] 0xc0170 commented on #4080
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-03-30 15:50] geky commented on #4034
I'm not sure the general API should point to nanostack specifically.

If a user should be able to discover a network option without knowing about the nanostack api beforehand, the network option should probably have an identifier with documentation in the nsapi layer.

[2017-03-30 16:06] 0xc0170 commented on #3903
Giant gecko, GCC ARM:

[code]

[2017-03-30 16:20] mray19027 commented on #3999
@mmahadevan108 I believe so.
Other platforms do not have this issue

[2017-03-30 16:54] seppestas opened #4082 "EFM32: Sleep function does not cause the MCU to go to a sleep mode"
In mbed-os 5 and later versions of the mbed 2 SDK (aka mbed-dev), the `sleep()` function does not cause EFM32 MCUs to sleep properly, even when no sleep levels have been blocked.

When testing on the EFM32 Happy Gecko 322 using the EFM32HG_STK3400 target the MCU still consumes 3.49mA at 3v3 when calling `sleep` in a loop. I was able to reproduce this in:
- mbed-os 5 at f4864dc6429e1ff5474111d4e0f6

[2017-03-30 17:39] andreaslarssonublox opened #4083 "mbed test - specify board"
### Description
- Type:  Enhancement
- Related issue: None
- Priority: Minor

----------------------------------------------------------------
## Enhancement
It would be very useful to be able to specify what physical board to use when running 'mbed test'.
By doing so the user can run multiple tests in parallel for example for all three toolchains.
The board can be identified by it's target_id, pe

[2017-03-30 17:48] vargham opened #4084 "Exported project build fails in SW4STM32"
### Description
I tried System Workbench for STM32. I exported MBED blinky from online IDE and build failed: missing declaration of MBED_CONF_PLATFORM_DEFAULT_SERIAL_BAUD_RATE
The define is in mbed_config.h, this file is present in the project root.
- Type: Bug
- Priority: Major
[code]
---------------------------------------------------------------
## Bug

**Toolchain:**
Online exporter

**Toolcha

[2017-03-30 18:19] vargham commented on #4084
Workaround: Include mbed_config.h in RawSerial.h and in Serial.h

[2017-03-30 18:20] vargham commented on #4075
Workaround: Copy mbed_config.h from previous export. (This bug was not present before last week.)

[2017-03-30 18:23] theotherjimmy commented on #4075
@0xc0170 that's the error that #4013 Fixes. @vargham I'll look into the online problem.

[2017-03-30 18:27] theotherjimmy commented on #4084
The exporter should be doing a "-include mbed_config.h", but I don't see it.

[2017-03-30 19:39] chrissnow opened #4086 "ChaNfs - sector size"
### Description
- Type: Bug & Enhancement
- Priority:  Minor

---------------------------------------------------------------
## Bug
I have been implementing a block device driver for the Adesto AT45 (ex atmel) DataFlash devices and came across an issue with memory corruption.
The DataFlash by default has sector sizes in multiple of 264 bytes depending on density but can configured in "binary mode

[2017-03-30 20:15] chrissnow commented on #4082
I had a similar problem with the PG, it's to do with sleep being disabled in debug builds.
[code]
if you define NDEBUG it should sleep correctly.

[2017-03-30 20:30] chrissnow commented on #4082
Also you may need to power cycle the processor to get it out of debug mode after programming or it still wont sleep.

[2017-03-30 21:02] geky commented on #4086
Hi @chrissnow! Have you tried this pr: https://github.com/ARMmbed/mbed-os/pull/3972

You are right, the current master of mbed OS breaks terribly and without warning when erase size != 512. I'm hoping https://github.com/ARMmbed/mbed-os/pull/3972 fixes this.

Out of curiousity, did the fatfs work find with 528B blocks?

As for which block size to report, I would stick with 528B. FTL layers may use

[2017-03-30 22:12] chrissnow commented on #4086
@geky I hadn't noticed that PR, Looks to be exactly what I need, I will try it tomorrow.
I haven't extensively tested it yet but I didn't need make any changes in fatfs to get it to format and run the basic file tests.

I like the use of heap, my original concern with increasing the default to 4k was that it would make it unusable for ram constrained devices.

I would think this would benefit othe

[2017-03-31 00:08] thomasonw opened #4090 "[UNRESOLVED] -- Keeping CAN (Control Area Network) packet transmit order"
### Description
- Type: Enhancement

There are a class of CAN messages which are transmitted multi-packet.  Some protocols include pack numbers, to allow recreation of the transmission in the event of out-of-order packets.  However, other protocols depend on the packet order to be retained.  A specific example of the latter is  FastPacket messages in NMEA2000

Currently the MBED API has no way to

[2017-03-31 02:53] TomoYamanaka commented on #4009
@simonqhughes
Thank you for your reply.
<br>

We are considering about solution for this issue. Please refer to the following it.
https://developer.mbed.org/users/dkato/code/sd-driver-hs/file/b22a1df967cb/features/filesystem/sd/SDBlockDevice.h

This file is based on the below. There is a difference between after line 130 of this and after line 129 of ours.
https://github.com/ARMmbed/sd-driver/blob

[2017-03-31 05:41] vargham opened #4091 "Exported mbed-os project build fails in SW4STM32"
### Description
- Type: Bug
- Priority: Major
After applied workarounds in `#4075` and in `#4084` the mbed blinky example compiles fine offline. When I changed mbed lib to mbed-os lib, the blinky compiles in the online IDE but fails in offline SW4STM32 IDE. Error: storage_volume_manager.h: No such file or directory The file presents in another directory, so I can move it to the right place, but af

[2017-03-31 08:22] chrissnow commented on #4090
Interested to hear about your NMEA2000 project, I also ported this
[https://github.com/ttlappalainen/NMEA2000](url) to mbed and got it working ok, haven't tried any FastPacket though and it was on a LPC1768.

[2017-03-31 08:37] seppestas commented on #4082
Thanks @chrissnow, this seemed to be the problem indeed! I did not know about the `hal_sleep` functionality. IIRC this was not there in mbed 2 yet.

It would be nice to have this sort of stuff documented on e.g the [Power-Management cookbook](https://developer.mbed.org/cookbook/Power-Management). Notice the example won't work in the Debug build (which seems to be the default).

[2017-03-31 09:05] bulislaw commented on #4082
Actually I think we need to update that, and made the board **not** go to sleep only in the `debug` profile, as opposed to the default `develop`and the `release`. I'll try to cook something up later today. And update the build profile docs.

[2017-03-31 09:13] Split7fire commented on #4080
What more debug info can I provide?

[2017-03-31 10:32] 0xc0170 commented on #4091
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-03-31 10:34] 0xc0170 commented on #4083
cc @theotherjimmy @screamerbg

[2017-03-31 11:25] thomasonw commented on #4090
@chrissnow :  Yes, that is the same lib.  We have been working on making it more universal, and including now MBED.  (See his latest versions, and here for a start at the MBED 'bridge'  [https://github.com/thomasonw/NMEA2000_mbed](https://github.com/thomasonw/NMEA2000_mbed)  )

I am targeting the STM32F line of CPUs, would be a good test to check the MBED port out on the LPC line as well once get

[2017-03-31 12:34] bcostm commented on #4080
cc @jamike

[2017-03-31 12:36] screamerbg commented on #4083
Cc @bridadan

[2017-03-31 14:48] andcor02 opened #4095 "export to uVision5 from online IDE, error @ mbed_config.h"
Seems that when exporting mbed-os program to uVision5 upon compiling always receive the following error?

Other users reporting the same?

"no source": Error:  #5: cannot open source input file "mbed_config.h": No such file or directory

[2017-03-31 14:51] vargham opened #4096 "STM32F411 mbed blinky build failed in EmBitz"
### Description
Exported mbed blinky for NUCLEO-F411RE (STM32F411RET6) to EmBitz. Build failed. Same project export works fine with STM32F103. The online compilation is fine. Plain mbed lib, no OS.
Note: Have to manually copy mbed_config.h as described here: https://github.com/ARMmbed/mbed-os/issues/4075
- Type: Bug
- Priority: Major

[code]

-------------------------------------------------------

[2017-03-31 15:23] smarek commented on #3659
Trying to debug NRF51_DK project, I've overcome this issue by modifying Makefile like this (removing `-DDEBUG` from CC_FLAGS, adding `-g3` to CPPC_FLAGS)

Still would be better to have cleaner solution ;)

[code]

[2017-03-31 15:42] seppestas commented on #4082
@bulislaw great, thanks.

Let me know if I can be of help, I'm currently looking into the power consumption of leuart on the EFM32 Happy Gecko and I'm building up some interesting scope images.

[2017-03-31 15:45] bulislaw commented on #4082
https://github.com/ARMmbed/mbed-os/pull/4097 changes to sleep

[2017-03-31 16:13] geky commented on #4086
Looking into it, I can't think of a reason to not set `_VOLUMES` to the max of 9 (limited [here](https://github.com/ARMmbed/mbed-os/blob/9844a390d9e70381d654d139b6eec821a3953c5c/features/filesystem/fat/ChaN/ff.cpp#L445)). The only cost is 9 pointers worth of space ([here](https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/fat/FATFileSystem.cpp#L131)).

It _should_ all just work. Fe

[2017-03-31 18:56] bperry730 commented on #3863
I did some further investigation. and found where the CAN object initialization hangs.  It get stuck in the while loop on line 193 in `int can_frequency(can_t *obj, int f)` in `mbed-os\targets\TARGET_STM\TARGET_STM32F1\can_api.c`.  I'm not sure why it hangs here.  Does anyone have an idea?  Potentially we could clear the CAN buffer here?

I've attached my gdb screen captures.  The second one shows

[2017-03-31 19:24] wdwalker opened #4099 "Add I2C_SDA[0,1,2] and I2C_SCL[0,1,2] definitions to LPC1768 PinNames.h"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
Summary:

The main reason is that the I2C_[SCL,SDA] definitions for the LPC1768 don't map to the I2C used by the LPC1768 application board. In fact, they don't even seem to map to any pins on the development

[2017-03-31 19:33] theotherjimmy commented on #4099
Hello again @wdwalker. It looks like you have done all of the research again! Bravo! I recommend submitting these sorts of things in PR form and tagging @0xc0170. He will tag the additional parties that originally wrote or are currently maintaining the software you change. Doing things this way will reduce the time it takes to get feedback on and adopt the changes you propose.

[2017-03-31 19:34] theotherjimmy commented on #4099
Wonderful writeup BTW. If this was a PR, the only thing that would need to change is that you would have commits attached.

[2017-03-31 19:35] wdwalker commented on #4099
Thanks @theotherjimmy. Quick question - does mbed culture like an issue for every PR, or can PRs just stand by themselves? (different open source cultures behave differently - what is acceptable to some is completely blasphemous to others)

[2017-03-31 19:37] theotherjimmy commented on #4099
We have a culture of just submitting PRs with descriptions of the problem they are solving with or without an issue. PRs can stand by themselves.

:laughing:

[2017-04-01 03:02] vargham commented on #4095
https://github.com/ARMmbed/mbed-os/issues/4075

[2017-04-01 05:05] vargham commented on #4033
I can reproduce. Online IDE with any target. (I tried with STM32, LPC, NXP)
![2017-04-01 07_02_02-mbed compiler _mbed_blinky](https://cloud.githubusercontent.com/assets/6220586/24575542/3e90fb46-16a9-11e7-9d4a-290f8f07f964.png)

[2017-04-03 02:45] TomoYamanaka commented on #3673
How is this going ? Any update ?

[2017-04-03 08:10] andrewleech commented on #2452
I'm incredibly disappointed this was removed. I've spent a lot of time getting this going, only to update mbed-os and have it ripped out from under me.

Sure there were issues but now I'm left with no way of customizing the target name without maintaining a fork of mbed-os; which I might as well just downgrade to before this PR :-/

At the very least if these kind of changes are going to be made t

[2017-04-03 12:21] 0xc0170 commented on #2452
cc @theotherjimmy @screamerbg

https://docs.mbed.com/docs/mbedmicro-api/en/latest/config_system/

@AnotherButler

I would like to find out more about the issues you are facing, some of those we are aware of and addressing. Please create a new issue to summarize all these points.

[2017-04-03 13:31] seppestas opened #4105 "EFM32: Synchronous serial write does not clear interrupts"
## Bug

**Target**
EFM32 (tested on EFM32HG_STK3400 and EFM32LG_STK3600)

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
1.0.0

**meed-os sha:**
f4864dc64

**Expected behavior**
When combining synchronous writes to serial (i.e `Serial.printf`, `Serial.puts` or `Serial.putc`) with asynchronous writes (i.e `Serial.write`) the asynchronous write is expected to work proper

[2017-04-03 13:35] seppestas commented on #4105
I tried disabling the interrupts when the sync write completes. This seems to fix the issue, but I only implemented / tested it on the leuart. I might do some more testing and provide a PR when I have time (end of this week).

[2017-04-03 13:45] 0xc0170 commented on #4105
cc @stevew817 @akselsm

[2017-04-03 14:38] 0xc0170 commented on #4095
Duplicate.

[2017-04-03 14:38] #4095 closed

[2017-04-03 14:55] adustm commented on #4091
Hello
It looks like mbed-os lib her tries to compile the Storage feature from mbed-os, for NUCLEO_F103RB, but it should not, as this feature is not part of the targets.json for NUCLEO_F103RB.

@theotherjimmy , would you have a clue for that ?
Kind regards

[2017-04-03 15:22] AnotherButler commented on #2452
@0xc0170 I shall put in a request to have that page redirect to the updated document, https://docs.mbed.com/docs/mbed-os-handbook/en/latest/advanced/config_system/. Could you please review the updated document at this link and let me know what content requires updating?

[2017-04-03 15:41] 0xc0170 commented on #4096
cc @EmBitz @theotherjimmy

[2017-04-03 16:09] theotherjimmy commented on #2320
Looks to be exactly the same for me. Closing.

[2017-04-03 16:09] #2320 closed

[2017-04-03 16:33] theotherjimmy commented on #4096
This might be a targets.json mis-configuration. Does in `mbed compile` correctly?

[2017-04-03 16:36] theotherjimmy commented on #4096
Also, I can't find the target `STM32F411` could you include your target in the description or post it in a comment below?

[2017-04-03 16:37] theotherjimmy commented on #4096
@EmBitz I don't think you need to worry about this one. I'll let you know if I need your help after I root-cause it.

[2017-04-03 16:44] vargham commented on #4096
Yes, I used this board https://developer.mbed.org/platforms/ST-Nucleo-F411RE/
The online compilation is fine.

[2017-04-03 16:48] theotherjimmy commented on #4096
Thanks for the clarification @vargham I'm going to do this export myself and see what's what.

[2017-04-03 17:05] smarek commented on #1695
Still an issue for me, NRF51(4/8)22 targets

[2017-04-03 19:08] theotherjimmy commented on #3673
Thanks for reminding me @TomoYamanaka I just submitted a PR to the website to address this issue. I'll keep you posted on it's progress.

[2017-04-03 23:48] andrewleech commented on #2452
@AnotherButler that link looks correct!

Sorry I posted late in the day when I was a bit frustrated because I've been looking for methods of defining a new target based on an existing one that doesn't involve forking mbed-os but following the docs on custom targets was exactly what I wanted. But when it was first throwing weird errors, then I found out it had been removed it just got the better of

[2017-04-03 23:50] theotherjimmy commented on #2452
Please do. We'll be sure to help you out in the future!

[2017-04-04 03:15] TomoYamanaka commented on #3673
@theotherjimmy

Thank you for your reply and PR.
Please let me know your PR number.

[2017-04-04 08:40] stevew817 commented on #4105
Thank you @seppestas for a very detailed and exemplary bug report! I'll have a look at it when I can.

[2017-04-04 09:52] seppestas commented on #2017
This issue is also part / a duplicate of #3106.

[2017-04-04 11:25] smarek opened #4108 "Timer/Ticker/RTC/Thread issue on NRF51_DK and derived targets. Porting to custom board docs?"
### Description
- Type: Question
- Related issue: #4026 #3857 #4016 #2598
- Priority: Major

---------------------------------------------------------------
## Question

**Target**
NRF51_DK / NRF51_CUSTOM

**Toolchain:**
GCC_ARM

**Toolchain version:**
(GNU Tools for ARM Embedded Processors) 5.4.1 20160919 (release) [ARM/embedded-5-branch revision 240496]

**mbed-cli version:**
(1.0.0)

**meed-os

[2017-04-04 11:50] 0xc0170 commented on #4108
cc @anangl @nvlsianpu

[2017-04-04 12:49] nvlsianpu commented on #4108
Hi.
1) How to create custom board

Very good. I recommend to use this sources to build your target. Then in target.json your pattern for NRF51_CUSTOM is NRF51_DK.

I recommend to not using ./targets/TARGET_NORDIC/TARGET_MCU_NRF51822/TARGET_NRF51_DK is legacy target bases.

3) Customize your PinNames.h is the best way to define your own pinout. (Doc your mentioned is outdated)

[2017-04-04 16:50] yogeshk19 commented on #3857
Has this fix made into the main branch, if not what branch of the mbed-os is this fix available?

Thanks,
Yogesh

[2017-04-04 16:54] yogeshk19 commented on #3509
@pan- Hi Vincent, Is the tickless version of the code that your provided earlier has it been committed into any of the mbed-os branch, so that its a more an official mbed change? Also the UART issue in the online compiler, has there been any changes made such that the UART is not enabled by default?

Thanks,
Yogesh

[2017-04-04 18:34] BlackstoneEngineering commented on #3999
@MarceloSalazar In the medium to long term we should have the shield on the CI Infrstructure. In the short term we should do this as part of OOB on the relevant platforms as we do not yet have it integrated onto the CI farm.

[2017-04-05 00:07] andrewleech commented on #2452
@AnotherButler Thanks, I also since realized lots of our confusion was caused by not noticing that the docs for all versions are available online (with version in the url).

In my opinion it'd be useful if all online docs version older than latest made mention of this the similar to the mbed 2 pages.
You can't stop google linking to older version of docs for sure, but at making it obvious to the u

[2017-04-05 06:26] nvlsianpu commented on #3857
@yogeshk19 [PR](https://github.com/ARMmbed/mbed-os/pull/4016) is still pending. It is possible to pull [this](https://github.com/nvlsianpu/mbed/tree/nrf5_rtc_ovf_bugfix) from its source repo.

[2017-04-05 09:03] pranavshandilya opened #4114 "Automated test case "Example_2" is failed to compile."
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Major
---------------------------------------------------------------
## Bug

**Target**
LPC1768

**Toolchain:**
GCC_ARM, ARM & IAR

**DAPLink version:**
0243

**Expected behavior**
Test case should be compile and pass the test case.

**Actual behavior**
Failed to compile.

**S

[2017-04-05 09:13] bulislaw commented on #4024
Closing it for now, please reopen if you want to follow up.

[2017-04-05 09:13] #4024 closed

[2017-04-05 10:56] PietKnaak opened #4116 "NRF51_DK_BOOT completely different from NRF51_DK"
We have an NRF51822 chip on which we want to enable FOTA. Code has been developed for the NRF51_DK and we try to switch to NRF51_DK_BOOT.

There we run into compiler errors. Little research shows that NRF51_DK is re-written while NRF51_DK_BOOT is not, and missing a lot of functionality.

Can we easily make a new target base on NRF51_DK with FOTA support? What are  the risks? Or are we forced to do

[2017-04-05 12:26] chrissnow opened #4117 "LWIP: sendto() does not accept IP addresses"
### Description
- Type: Bug

- Priority: Major
---------------------------------------------------------------
## Bug

**Target**
LPC1768 (most likely actually LWIP rather than an NXP thing)

**Toolchain:**
ARM

Providing an IP instead of a DNS name according the header should be acceptable but this does not seem to work, a DNS name will resolve and work fine.

[code]

[2017-04-05 13:35] toyowata commented on #3813
Confirmed the fix. Thanks a lot.

[2017-04-05 13:35] #3813 closed

[2017-04-05 18:49] yogeshk19 commented on #3857
@nvlsianpu Thanks for taking the time to respond. Do I have to pull the entire the mbed-os or can I just get the changed files that effect the above issue. I am currently using the 5.2.3 version of mbed-os.

Also Is there a timeline as to when this PR would be completed and added to specific mbed-os branch? We are trying to figure out our beta testing dates and just was hoping to get an idea as to

[2017-04-05 19:01] studavekar opened #4120 "MAX32625MBED devices enumerate with same target ID ."
### Description
- Type: Bug

MAX32625MBED devices enumerate with same target ID , seems to cause duplicate comm port. This is blocking CI.
[code]
---------------------------------------------------------------
## Bug

**Target**
MAX32625MBED

**Toolchain:**
None

**Toolchain version:**
None
**mbed-cli version:**
None

**meed-os sha:**
None

**DAPLink version:**

DAPLink Firmware - see https://mbed

[2017-04-05 19:18] nvlsianpu commented on #3857
It is one file fix - you can just copy us_ticker.c

I can't to respond to second question. It's fix so it should be merged to the master ASAP.

[2017-04-05 19:43] theotherjimmy commented on #3714
The new patch is live.

[2017-04-05 19:43] theotherjimmy commented on #3714
Please re-open if it's still a problem

[2017-04-05 19:43] #3714 closed

[2017-04-05 19:48] neilt6 commented on #3714
@theotherjimmy Confirmed, projects are compiling again. Thanks!

[2017-04-05 19:54] theotherjimmy commented on #3714
Sorry that took so long. Please feel free to open new issues related to the online compiler on this repo.

[2017-04-05 19:55] theotherjimmy commented on #4117
Hi @chrissnow. Thanks for the issue report. Could you change the name of this issue to reflect the issue at hand? "Networking: sockets" is pretty vague.

[2017-04-05 19:56] theotherjimmy commented on #4117
Maybe something like `LWIP: allow sendto() to accep IP addresses` would be much more descriptive, supposing that it's accurate.

[2017-04-05 19:58] theotherjimmy commented on #4114
@pranavshandilya Could you post the content of your test_spec.json and muts_all.json?

Could you also test with the latest master?

[2017-04-05 21:43] yogeshk19 commented on #3857
@nvlsianpu - Thanks for getting back to me. I will just use that file for now. How would I know if this has been committed to one of the official branches. Just check the PR status?

Thanks,
Yogesh

[2017-04-05 22:23] pan- commented on #3857
@yogeshk19 you can check the PR status. I've just accepted the PR content it should be a matter of few days now.

I must add that there is also a bug affecting **every** time related primitive (Timer, Ticker, Timeout, ...) if the timeout requested exceeds 2147 seconds. I've made a PR for it: (#4094), it is still in progress but i have good hopes that it will be integrated soon.

[2017-04-06 05:55] pranavshandilya commented on #4114
Thanks for your quick reply, Below is the contents of muts_all.json & test_spec.json
muts_all.json
----
{
    "1" : {"mcu": "LPC1768",
        "port":"COM7",
        "disk":"F:\\",
        "peripherals": [""]
    }
}
----

test_spec.json
--
{
    "targets": {
        "LPC1768" : ["GCC_ARM", "ARM", "IAR"]
     }
}
----

[2017-04-06 07:31] ExpandOcean opened #4124 "BLE can not work on MAX32600BED+EM9301"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

I am using MAX32600MBED to develop BLE app for max32600 devices. The BLE chip is EM9301. I found the board MAXWSNENV supports this chip and is also max32600 device. So I thought it should be easy t

[2017-04-06 08:05] cyliangtw commented on #3625
@screamerbg , according to greentea test's memory footprint, 16KB SRAM MCU can't afford mbed OS 5.x validation. Is there any plan to adjust the test criteria of mbed OS 5.x ?
Or, 16KB SRAM MCU only could apply mbed OS 2.0 ?

[2017-04-06 09:49] 0xc0170 commented on #4120
cc @kgills @jeremybrodt

[2017-04-06 09:49] 0xc0170 commented on #4124
cc @kgills @jeremybrodt

[2017-04-06 13:37] #3973 closed

[2017-04-06 14:23] chrissnow commented on #4117
This might actually may be fine and the issue is somewhere else in my code as I cant reliably recreate it.

[2017-04-06 14:34] janjongboom opened #4127 "LWIP TCPSocket is losing packets when connection is closed right after the last packet"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**meed-os sha:**
269f58d75b752a4e67a6a2d8c5c698635ffd6752

**Expected behavior**

The Hue bridge closes the connection straight after returning a request. This is causing LWIP to drop packets. This issue does not show on ESP8266

[2017-04-06 15:10] 0xc0170 commented on #4127
cc @geky

[2017-04-06 15:35] #4055 closed

[2017-04-06 16:22] chrissnow commented on #4117
so this has gotten a bit strange!
it seems to break if the IP has a zero in it.
for example 192.168.0.46 will not work but 192.168.1.46 will.
a DNS name that resolves to an address with a zero does however work!

[2017-04-06 16:45] theotherjimmy commented on #4114
FYI @pranavshandilya You can surround your code blocks with ` ``` ` to make them format correctly. I edited your comment to add that formatting.

[2017-04-06 16:46] theotherjimmy commented on #4114
@0xc0170 I'm not yet convinced that this is a tools issue.

[2017-04-06 16:47] theotherjimmy commented on #4114
@bridadan I'm not as experienced with this part of our build flow. Could you take a look at this?

[2017-04-06 18:50] bridadan commented on #4114
Looks like that test was removed when the filesystem changes went in. That test should have been removed from `tests.py`. Looking at `tests.py` now reveals quite a few test cases that are missing actual source files. I'll make a PR to remove them.

[2017-04-07 01:28] cyliangtw commented on #3625
@screamerbg, @0xc0170
I verified 2 mbed platforms with 16KB SRAM, one is ST-F302, the other is FRDM-K20D50M, both of two can’t pass mbed test. How about the validation criteria for this segment "16KB SRAM" ?

[2017-04-07 01:44] donkeybonks opened #4130 "Test fails if device is full without meaningful error"
Details are in this thread:
https://developer.mbed.org/questions/73957/Changing-name-of-test-affects-whether-it/?c=27025

Over time, the device fills up with useless bin files and you start getting a non helpful error. If tests fail due to no space on device, it should print an error telling you to make more space.

[2017-04-07 04:20] alejandrosklar commented on #4033
I can reproduce as well. For me, blinky details show up after successful compilation, but details do not show up after successful compilation of a much more complicated and larger program. See below:

Building for STM32 Nucleo L073RZ

![sp_details](https://cloud.githubusercontent.com/assets/8532443/24785460/fc865cc2-1b27-11e7-9946-481163d45c45.PNG)

![blinky_details](https://cloud.githubuserconten

[2017-04-07 08:32] bcostm commented on #687
I have tested the above example on NUCLEO_L053R8 with the following to see if this issue is still valid:

- mbed IDE + mbed lib rev 139 --> OK
- compiled with uARM and mbed-cli --> OK
- compiled with ARM and mbed-cli --> Linking error due to not enough memory available
- compiled with GCC_ARM and mbed-cli --> FAIL. No printf on both USARTs. The program is still running  (added a LED blink in the w

[2017-04-07 09:12] bcostm commented on #816
Can we close this issue ?

[2017-04-07 09:27] bcostm commented on #2689
TO_BE_CLOSED

[2017-04-07 09:33] chrissnow commented on #4117
@geky  is this something you may be able to help me with?

[2017-04-07 10:23] #2689 closed

[2017-04-07 10:24] #816 closed

[2017-04-07 10:35] chrissnow opened #4131 "USB: MSD Device"
### Description
- Type: Enhancement

---------------------------------------------------------------

----------------------------------------------------------------
## Enhancement

Should the USB MSD code be changed so that it uses the BlockDevice API ?

[2017-04-07 12:38] bcostm commented on #1814
There is no F073 target.

I have checked the LR_IROM1 size on NUCLEO_L073RZ target on both ARM_MICRO and ARM_STD and it is well at 0x30000. I think it can be closed.

TO_BE_CLOSED

[2017-04-07 13:05] #1814 closed

[2017-04-07 13:24] bcostm commented on #955
I just generated a uVision Keil project from the mbed IDE on the NUCLEO_F411RE and NUCLEO_F401RE using the latest mbed-dev library.
I confirm that the wait function is working well. I have tried different values below and above one second.
So, I think it can be closed.

TO_BE_CLOSED

[2017-04-07 15:38] theotherjimmy commented on #4033
Thanks for even more test cases on this one guys. I'm trying to narrow down what properties of a build cause it to miss the memory information. As you have pointed out, it seems pretty random, but is very reproducible.

[2017-04-07 18:58] bperry730 commented on #3863
I did some further testing, if I change line 79 in `can_api.c` to the correct CAN frequency (the one I usually set after instantiation), then it no longer hangs.  One potential fix would be to add another constructor to the mbed CAN object that accepts a baud rate, and set the CAN frequency in that constructor (similar to mbed Serial).  However, that wouldn't solve the problem if you don't set the

[2017-04-08 06:20] nikitateggi opened #4138 "Unable to check the build details"
after compiling any code in the mbed compiler, I am unable to see the build details. i.e. flash and RAM size. Please address this issue.

[2017-04-08 08:50] pranavshandilya commented on #4138
@nikitateggi please follow the below steps to see the build details and for attached snapshot is for your reference:-
Step 1. Compile any code (e.g. mbed-os-example-blinky for LPC1768)

![1](https://cloud.githubusercontent.com/assets/19182102/24827357/657038b4-1c65-11e7-913f-2cc57e1455d6.jpg)

Step 2. Click on "Build Details".

![2](https://cloud.githubusercontent.com/assets/19182102/24827373/b562

[2017-04-08 09:10] pranavshandilya opened #4139 "Compilation warning related to mbed_board.c and mbed_retarget.cpp files."
### Description
- Type: Enhancement
- Priority: Minor
---------------------------------------------------------------
**Target**
LPC1768

**Toolchain:**
GCC_ARM | ARM | IAR

**Expected behavior**
Should we compile without any warning.

**Actual behavior**
At the time of compiling, It's giving warnings.

---------------------------------------------------------------
## Question
When I'm building t

[2017-04-08 20:17] helmut64 commented on #3967
Today I figured out that the the TARGET_NUCLEO_L432KC platform shows totally wrong flash sizes (not zero, but wired numbers). It would be great if somebody can address this. The NUCLEO_L476RG target another STM32L4 shows correct sizes.

[2017-04-09 14:50] dinau commented on #955
As uVision4 IDE in online export menu has been deleted,
it's no problem by necessity.
I agree to be closed.

[2017-04-10 02:55] kyliuxing opened #4140 "TCP server don't update the ack num"
@kjbracey-arm
hi  kjbracey-arm，
    I met a issue when made TCP test. I built a TCP server on PC and make my device to connect it, they sent data to each other.
    Device send two segments 77576223 ~ 77576649, 77576650 ~ 77578110, and PC ACK 77576223 firstly , then ack 77577683, but in lwip stack, 77577683 can't ack the second segments(6650 ~ 8110), lwip will retransmission it, but PC still ack 7

[2017-04-10 05:43] nikitateggi commented on #4138
yes. This is the issue.

[2017-04-10 06:20] kyliuxing commented on #4140
I reproduced this issue one more time, from the capture of PC(TCP server), firstly, device send seq 6825983(len 1447), PC ack 6827430, but device may be not receive the ack, so device retransmit seq  6825983(**len 1457**), the len is larger. then the PC still ack 6827430 and the lwip stack retransmit 6825983(len 1457), until reached max retry times.
So is it the conflict between the PC TCP stack a

[2017-04-10 07:04] pranavshandilya commented on #4138
@nikitateggi you have to use an offline compiler to see the build details ( flash and RAM size).
Export your program and generate the map file, where you can find the details about Memory usage.
Steps for exporting the program:
1. Right click on your program
             - And click on fifth option " Export Program"
2. Choose your Toolchain (IDE)
             - Like Keil, IAR, CooCox etc.
3. Compi

[2017-04-10 07:36] 0xc0170 commented on #4138
@nikitateggi For future reference, please provide more details when describing an issue (any detail that would help us to reproduce the issue easily). Thanks