[2016-11-10 14:29] aracosta1 opened #3249 "Mbed Lib Revision 128: "mbed compile" fail with default_build not found"
### Description
- Type: Bug

**Target**
NRF51_DK, RBLAB_BLENANO, maybe all

**Toolchain:**
GCC_ARM

**mbed-cli version:**
(`mbed --version`)
0.9.10

**meed-os sha:**
https://github.com/ARMmbed/mbed-os/commit/e2617cc0e17f5c3fc2bae6a589c9bcfd3d1a717b
tag: mbed_lib_rev128

**Steps to reproduce**

I downloaded the mbed_blinky examples and imported mbed library at revision 127:25aea2a3f4e3
Set target N

[2016-11-10 14:35] EduardPon commented on #3228
The rxBufChain != NULL but points maybe to outdated data and nothing is pending.

[2016-11-10 14:41] kjbracey-arm commented on #3228
That's contradictory, implying either a bug or a misunderstanding. The rxBufChain is the received data that has not yet been read by the application. Nanostack refuses to store data, so the abstraction layer is required to copy and buffer the data synchronously inside the RX data callbacks it gets from Nanostack.

If it points to anything, it should be something the application hasn't read yet. Se

[2016-11-10 14:42] 0xc0170 commented on #3249
@theotherjimmy Can you please have a look?

[2016-11-10 14:42] 0xc0170 commented on #3246
cc @geky @c1728p9

[2016-11-10 16:53] #3236 closed

[2016-11-10 17:01] #2962 closed

[2016-11-10 17:38] aracosta1 opened #3255 "[TARGET_NORDIC] restore the S110 softdevice on TARGET_NRF5"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

**With the TARGET_MCU_NRF51822_UNIFIED only S130 is available**

**Restore the possibility to select the S110 softdevice**

**Pros**
The S110 uses less memory and in most application the Central role is never used, so using the S110 the application will have about

[2016-11-11 09:24] pan- commented on #3255
This won't be possible I'm afraid. The target `TARGET_MCU_NRF51822_UNIFIED` is based on Nordic SDK v11 and use the softdevice v2.0.

With the version 2.0 of the softdevice, the S110 has disappeared, instead the softdevice allows the user to configure the number of connection and the BLE roles used during the initialization. This change allows the user to adjust the softdevice memory usage to its n

[2016-11-11 11:05] adbridge opened #3259 "Inconsistent header file naming. critical.h should be mbed_critical.h"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

critical.c was renamed to mbed_critical.c during the file renaming phase, however it's header , critical.h was not renamed. This now looks inconsistent.

**Suggested enhancement**
Rename /platform/critical.h to /platform/mbed_critical.h

**Pros**
Maintain a consis

[2016-11-11 17:25] sarahmarshy commented on #3224
I think this is a known issue when you try to commit a repo that has a git repo inside it. @theotherjimmy  @screamerbg You can reproduce this by adding the atmel-rf driver from https://github.com/ARMmbed/atmel-rf-driver to any project, and then trying to commit/publish the project.

[2016-11-12 14:39] Neuromancer2701 commented on #3163
It looks like both filters are set  in the lwipopts.h file
// Broadcast
#define IP_SOF_BROADCAST            1
#define IP_SOF_BROADCAST_RECV       1

[2016-11-12 21:05] aracosta1 commented on #3255
Thank you for the explanation.

[2016-11-12 21:05] #3255 closed

[2016-11-14 08:13] nvlsianpu commented on #3255
You can estimate softdevice memory consumption using this script :https://github.com/nvlsianpu/mbed/blob/memo_provisionibg/hal/targets/cmsis/TARGET_NORDIC/TARGET_NRF5/script/gen_ld.py
See https://github.com/nvlsianpu/mbed/blob/memo_provisionibg/hal/targets/cmsis/TARGET_NORDIC/TARGET_NRF5/script/redmefirst.md.txt for HOWTO USE IT.

Unfortunately you must modify memory map if you want to apply chang

[2016-11-14 09:51] andcor02 opened #3260 "MBED OS for STM32F412ZG MCU"
Just a quick query, when is Mbed OS available for this [platform](https://www.element14.com/community/docs/DOC-83063/l/stm32-nucleo-144-development-board-with-stm32f412zg-mcu-supports-arduino-st-zio-and-morpho-connectivity)?

On this site it mentions being mbed enabled, but it currently isn't?

When is the ETA for this? @screamerbg

[2016-11-14 09:54] Sissors opened #3261 "ASYNC API usage/documentation"
### Description
- Type: Enhancement / Question
- Priority: Minor

---------------------------------------------------------------

As example the from the I2C API, although the same is relevant for others. From the I2C.h file:

[code]

From looking through the source files, if I understand it correctly, callback is called when one of the events from the event argument happened (such as a transfer

[2016-11-14 10:03] EduardPon commented on #3228
@geky, any comments?

[2016-11-14 11:12] bulislaw commented on #3215
@stevew817 could you provide a patch, that uses the us_ticker properly on Silicon Labs platforms?

[2016-11-14 12:51] bcostm commented on #2956
I have created a uvision project using "mbed export" to debug the InterruptIn issue on Nucleo_F429ZI.

But the program is waiting for something on the serial port (continuous loop in serial_readable function) and the tests are not executed.

Someone has an idea how to debug these ci tests ? Is there something to enable ?

[2016-11-14 14:23] BlackstoneEngineering commented on #2956
@bcostm are you using Uvision 4 or 5?
Also, greentea tests are not meant to be run from within uvision, they're meant to be run with greentea, ie the `mbed test` command, so if you just run the test in uvision you wont have the other half of the test ecosystem running (the greentea bit on the computer that catches and drives the tests), so I would expect it to hang infinitely.

[2016-11-14 14:41] bcostm commented on #2956
I use uvision 5 and this is why I thought. So, it's very difficult to debug this test case :(

FYI I tried also on the NUCLEO_F411RE. Same fail on D3 pin (=PB_3) when it follows the test of D2 pin (PA_10). But in this case they are not using the same interrupt vector as on the F429. So the idea I add previously is not the good one unfortunately, there is something else...

[2016-11-14 15:12] bridadan commented on #3261
cc @0xc0170

[2016-11-14 15:19] LMESTM commented on #3261
my 2 cents
* @param event     The logical OR of events to modify
was maybe meant to be
* @param event     The logical OR of events to notify
?

[2016-11-14 15:43] bcostm commented on #1632
Hi,
We have checked this example [https://developer.mbed.org/teams/ST/code/mbed-os-tcp-server-example/](https://developer.mbed.org/teams/ST/code/mbed-os-tcp-server-example/) and the Ethernet works on this board. Can you please check it also ?

[2016-11-14 18:15] betzw commented on #3123
Any news on this @bogdanm?

[2016-11-14 18:16] betzw commented on #2769
Any news on this @sg-?

[2016-11-14 18:38] bogdanm commented on #3123
Cc @theotherjimmy

[2016-11-14 18:53] neilt6 opened #3263 "LPC1549 can't communicate with mbed-based I2C slave"
I'm unable to communicate with an mbed-based I2C slave using an LPC1549. Here is the code I'm using to reproduce the problem:

### I2C Master Code (running on LPC1549)
[code]
**Output**
[code]

### I2C Slave Code (running on LPC11U24)
[code]
**Output**
[code]

The I2C master code works fine on an LPC11U68, but throws up errors on an LPC1549. I've traced these errors to _i2c_api.c_ [line 122](https

[2016-11-14 20:07] theotherjimmy commented on #3123
This has not been high priority for me. Sorry, but I have not started on it yet.

[2016-11-14 20:22] neilt6 commented on #3263
I think I may have found the culprit, the `i2c_slave_read()` implementation for the LPC11Uxx microcontrollers (and possibly others) appears to be flawed:

[code]

As indicated by my comments, the routine is issuing it's own stop condition before the master is able to, which is probably causing the I2C peripheral on the LPC1549 to enter a state that isn't handled by the library (arbitration lost pe

[2016-11-14 20:37] c1728p9 commented on #2242
Hi @porkybrain, thanks for reporting.  I opened an issue to track this in CMSIS here: https://github.com/ARM-software/CMSIS_5/issues/110

[2016-11-14 21:36] mmahadevan108 commented on #3153
@maclobdell

[2016-11-14 21:55] mmahadevan108 commented on #3148
@maclobdell

[2016-11-14 21:56] mmahadevan108 commented on #3149
cc @maclobdell

[2016-11-14 21:56] mmahadevan108 commented on #3154
cc @maclobdell

[2016-11-14 21:56] mmahadevan108 commented on #3155
cc @maclobdell

[2016-11-14 22:41] bridadan opened #3264 "NUCLEO_F429ZI Test Failures"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F429ZI

**Toolchain:**
GCC_ARM, ARM, and IAR

**Toolchain version:**
4.9.3 2015q2

**mbed-cli version:**
`0.9.10`

**meed-os sha:**
`cb930e748230d9ccb287629d2eb603baaf63e88a`

**STLink version:**
V2.J28.M16

**Expected behavior**
All tests pass!

**Actual behavio

[2016-11-14 23:21] c1728p9 commented on #2631
Hi @neilt6, I made changes to support the older 2.0 behavior of mbed-rtos in this fork: https://developer.mbed.org/users/c1728p9/code/mbed-rtos-legacy/

Please give this a try and let me know if addresses all your concerns. Also, let me know if you would like any additional modifications to be made. Once the changes have been tested and are ready I'll bring them main line into mbed-rtos.

[2016-11-15 03:44] #3226 closed

[2016-11-15 09:00] adbam opened #3266 "[STM32F1] Serial features inconsistent"
### Description
- Type: Enhancement | Question

---------------------------------------------------------------

**Target**
NUCLEO_F103RB
BLUEPILL_F103C8
DISCO_F100RB

----------------------------------------------------------------
## Inconsistency

Inconsistent device features on STM32F1 devices in targets.json file.

NUCLEO_F103RB states that it has SERIAL and SERIAL_ASYNCH
BLUEPILL_F103C8 and

[2016-11-15 13:07] kdeme commented on #3234
I came across the same issue and I am using the same fix.

I think that having the `lwip_connected = true` line on the original location is a mistake.
The if clause is checking if it already has an address and if not it will wait (until timeout). However if it already has an address, it can continue immediately, but the lwip_connected boolean should be set (moving `lwip_connected = true` out of th

[2016-11-15 14:53] adustm commented on #2956
Hello @BlackstoneEngineering , @0xc0170 , @screamerbg
Do you have any clue to use a debugger together with greentea ? We need it in order to be able to read HW registers etc... in case of test failure.
Cheers

[2016-11-15 15:22] jeromecoutant commented on #3266
Hi
ST is not the owner of these 2 platforms (BLUEPILL_F103C8 and DISCO_F100RB), and then can not validate SERIAL_ASYNCH feature.
But you're right, HAL updates done for NUCLEO_F103RB should be also applicable for your targets, don't hesitate to push new pull requests to update targets.json file.
Regards,

[2016-11-15 15:52] adbam commented on #3266
Thanks, I wasn't aware DISCO_F100RB isn't supported either.
Can you tell me about SERIAL_FC support for NUCLEO_F103RB?

[2016-11-15 17:30] bridadan commented on #2956
Hi @adustm, I have some instructions for using a debugger with greentea here: https://github.com/ARMmbed/mbed-os/blob/master/docs/testing_mbed_OS_5.md#debugging-tests

Please let me know if you have any issues!

[2016-11-15 17:36] neilt6 commented on #2631
Thanks @c1728p9! I just finished testing your fork with several of my projects, and so far everything appears to be working. Memory impact is a little higher, but I suppose that is to be expected.

The only thing I noticed is that I had to re-introduce _mbed_lib.json_ to make everything work. Why was it removed in [rev 122](https://developer.mbed.org/users/c1728p9/code/mbed-rtos-legacy/rev/b744dfe

[2016-11-15 19:45] c1728p9 commented on #2631
Good to hear that it is working for you.

Are you building mbed from source or are you using pre-built (mbed.bld) version? The rtos with mbed_lib.json does not work with the pre-built version, since having mbed_lib.json present changes structure sizes. This leads to intermittent crashes.  Issue #3115 was opened for this and was fixed by removing mbed_lib.json.

Even without mbed_lib.json, core fun

[2016-11-15 20:00] neilt6 commented on #2631
@c1728p9 I'm using the [mbed-dev](https://developer.mbed.org/users/mbed_official/code/mbed-dev/) library and building from source. In my opinion the new thread safety improvements were a huge leap forward for the library, and I've designed my entire project to leverage them. I could see this change causing a lot of confusion since thread safety is apparently present and documented, but no longer w

[2016-11-15 20:22] c1728p9 commented on #2631
The primary use case of mbed 2.0 was without an RTOS, so none of the core drivers were thread safe. Thread safety and the related documentation was only added for mbed-os 5.0. An erroneous check in of mbed_lib.json to the RTOS turned this on from 2.0 but this was not the intention.

The technical reason this doesn't work for 2.0 is the application needs to be built with the same configuration as m

[2016-11-16 07:47] jeromecoutant commented on #3266
ST supported platforms:
https://developer.mbed.org/platforms/?pvend=10

About NUCLEO_F103RB, yes it is supporting HW flow control:
http://www.st.com/resource/en/reference_manual/cd00171190.pdf

[2016-11-16 09:57] bulislaw opened #3269 "Unify network interfaces"
- Type: Enhancement
- Priority: Major

## Enhancement

Currently there's no central way of creating a `NetworkInterface`, each interface type is different or even each vendor requires different initialization code. That makes our networking client code confusing, hard to maintain and plainly ugly. It would also help to keep our test clean and avoid unnecessary code duplication.

## Proposed soluti

[2016-11-16 14:32] bcostm commented on #2956
Hi,
Thanks for this information. I can now debug the test :+1:

[2016-11-16 14:53] andreaslarssonublox opened #3272 "The ISR register is never re-evaluated in HAL_DMA_PollForTransfer for STM32F4"
This will cause the function to unnecessarily wait for timeout in some circumstances.
Putting 'tmpisr = regs->ISR;' at the end of the while loop solves it for the ODIN driver.
See https://github.com/andreaslarssonublox/mbed/commit/df192f81334d6ddd48a98f708b86307084bde2e4

The HAL_DMA_PollForTransfer function is here:
mbed-os\targets\TARGET_STM\TARGET_STM32F4\device\stm32f4xx_hal_dma.c

### Descrip

[2016-11-16 14:55] andreaslarssonublox commented on #3272
cc @LMESTM

[2016-11-16 15:42] 0xc0170 commented on #3266
cc @zgoda @dinau

[2016-11-16 15:42] bridadan commented on #2956
Where are you setting the breakpoint? And perhaps double check the debugger settings on uVision?

[2016-11-16 15:43] bridadan commented on #2956
Also another thought, do you know if its possible to use the debugger while also using the serial port on STLink devices? I know there are other interface firmwares out there that don't allow this (I think CMSIS-DAP was one of them)

[2016-11-16 17:50] 0xc0170 commented on #3260
cc @adustm @bcostm

[2016-11-16 17:51] 0xc0170 commented on #3249
Bump?

[2016-11-16 17:51] 0xc0170 commented on #3246
Please have a look at this issue

[2016-11-16 17:52] 0xc0170 commented on #3235
@pan- Has this been fixed via #3244? Any outstanding work to be done?

[2016-11-16 17:53] 0xc0170 commented on #3234
cc @geky

[2016-11-16 17:55] 0xc0170 commented on #3209
@mottigondabi Is this still an issue?

[2016-11-16 18:05] theotherjimmy commented on #3249
Sorry, I looked into this and forgot to respond. The format for targets.json has changed in mbed 128. The tools used by classic projects are a different version than is used inside the codebase here. The classic tools do not accept both `default_build` and `default_lib`, and only accept `default_build`.

[2016-11-16 18:06] theotherjimmy commented on #3249
https://developer.mbed.org/users/mbed_official/code/mbed-sdk-tools/

[2016-11-16 18:10] bridadan opened #3273 "RZ_A1H Tests Failing"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
RZ_A1H

**Toolchain:**
GCC_ARM, ARM, and IAR

**Toolchain version:**
GCC_ARM - 4.9.3 20141119
ARM - ARM Compiler 5.06 update 1
IAR - V7.80.1.11864/W32 for ARM

**mbed-cli version:**
`0.9.10`

**meed-os sha:**
`9d8ec61df5e7442bbde12beabe744ed3a3e13486`

**DAPLink version

[2016-11-16 20:07] neilt6 commented on #2631
@c1728p9 Thanks for the clarification, I have no further objections.

[2016-11-16 21:17] pan- commented on #3235
No, the documentation issue and the simplification of the code remains valid items. Maybe it can be tracked in another issue.

[2016-11-17 01:13] grbd opened #3275 "Unable to compile Blinky for LPC1347"
### Description
- Type: Bug
- Priority: Minor

Hi I noticed that trying to compile the BlinkyTest against the LPC1347 target fails with a `.bss' will not fit in region `RAM' error
I recognize that its not a supported platform but I suspect something might not be configured correctly in relation to the heap, but I'm unsure how to fix it.
It looks like the mbed-os library itself compiles okay agains

[2016-11-17 01:47] micromint opened #3276 "__STDC_LIMIT_MACROS in critical.h"
### Description
- Type: Question
- Related issue: #1920
- Priority: Minor

-----------------------------------------------------------------

## Question

**Should __STDC_LIMIT_MACROS be reinstated in critical.h?**

When using a C++ compiler __STDC_LIMIT_MACROS should be declared to use datatype limit macros from stdint.h, such as the UINT32_MAX used in [platform/mbed_critical.c](https://github.co

[2016-11-17 08:33] andcor02 commented on #3216
Any update on this??

@screamerbg @theotherjimmy

[2016-11-17 09:04] tommikas opened #3277 "EventQueue unchain + delete = hardfault"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**mbed-os sha:**
(`git log -n1 --oneline`)
f6f872a, aeabcc9 (at least)

**Expected behavior**
This doesn't cause a hard fault:
[code]
**Actual behavior**
Hard fault at line: `delete eq2;`
Hard fault doesn't happen if `eq2->chain(NULL);` is

[2016-11-17 13:53] jeromecoutant commented on #3264
Hi
For information, this test is OK on my side :-)
But I notice that RTC timer (used for low power timers) are currently  configured with LSI clock, whereas NUCLEO board have LSE.
Check is on going
Regards,

[2016-11-17 14:21] JojoS62 commented on #3275
I'm using this target also. You can change the targets.json to use the nano lib by adding '"default_lib": "small"' to the LPC1347 section (maybe the key name is 'default_build', that changed recently).
That should work, the side effect is that the nano lib is not thread safe.

I have reported also a problem in #3218, the default stack size is large for this target.

[2016-11-17 15:23] bridadan commented on #3276
We haven't seen any build issues in our nightlies, what version of ARMCC are you using? And you can paste your commands and full logs?

[2016-11-17 16:07] bcostm commented on #3260
The SDK development is not planned for the moment by ST. But anyone can start it and send a pull request :) Take example with other F4 devices. The F412 specific files (startup files, register mapping file, ...) are present in the ST CubeF4 fw package. And many SDK files are common for all F4 devices, so the development should be "easy".

[2016-11-17 16:48] grbd opened #3281 "Small change to config.py, import sys"
### Description
- Type: Bug
- Priority: Minor

The file tools/config.py just needs an "import sys" adding to it
so that if a faulty application configuration is passed in via --app-config then it'll show where the problem is in the json file

[2016-11-17 18:08] c1728p9 commented on #2631
Changes pushed to mbed-rtos. Please either reopen this or create a new issue if you run into problems with it.

[2016-11-17 18:08] #2631 closed

[2016-11-17 18:39] grbd commented on #3275
Thanks for the info I managed to get this working
Example
[code]

There were two changes I had to make

## Fix 1

The first is to alter the mbed-os\targets\targets.json file
to add “default_lib”: “small”' to the LPC1347 target as you've suggested

[code]

I tried setting this in the application configuration, but because "default_lib" is never set for this target the application config isn't able

[2016-11-17 19:52] grbd commented on #3275
This probably would have been easier if we still had custom target support (no need to hack the original mbed library files), but that seems to have been removed recently

[2016-11-17 20:20] micromint commented on #3276
The issue only occurs if you compile C sources with a C++ compiler, e.g. 'armcc -cpp'. Current mbed build scripts compile C sources with the C compiler, e.g. 'armcc' without -cpp. Previously the __STDC_LIMIT_MACROS declaration was required in some cases so it was added in #1920 . That declaration was removed with the mbed code reorganization, but couldn't find the justification since some of the o

[2016-11-17 20:22] grbd opened #3285 "Custom Board Support - Enhancement"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

I'd like to request some form of custom target / board support.

From what I understand recently this was removed due to implementation issues
But it would be useful to be able to specify a directory as part of the configuration system to look at for custom target

[2016-11-17 20:28] bridadan commented on #3276
Thanks for explaining a bit more! Any thoughts @geky, @c1728p9 , @0xc0170?

[2016-11-17 21:54] JojoS62 commented on #3275
the stack settting is more complicated, there is a setting in cmsis_os.h:
[code]
that turns to
[code]
and this default_stack_size is used in RTX_CM_lib.h:
[code]
to create a static array for the max stack for the main thread. This you can see in the memory statistics for the rtos/rtx .bss.
But in my case a bad lib put font data into RAM instead of using 'const' and using the flash memory and cause

[2016-11-18 02:34] c1728p9 commented on #3276
This was removed in PR #2054 with commit 26726cc170f9450afb52f39d66065bb506d3536b. It doesn't look like it was removed to fix a bug or anything. I don't see a problem with adding it back. A more general solution, such as a command line define would be preferable, though.

[2016-11-18 06:07] radhika-raghavendran opened #3286 "mbed export -i IAR -m NCS36510 not working with mbed-os-5.2.2(a1c0840)"
### Description
- Type: Bug
- Related issue:
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
NCS36510

**Toolchain:**
IAR

**Toolchain version:** 7.80.2

**mbed-cli version:**
0.8.9

**Steps to reproduce**

git checkout a1c0840b3d69060e5eb708edb18358e424a40f51
mbed export -i IAR -m NCS36510

[2016-11-18 08:29] bcostm commented on #3223
Issue confirmed.

I have checked this:
- Nucleo_printf example on NUCLEO_L053R8 on mbed IDE (mbed lib v129) --> OK
- Export example to uVision5
- Run example on uVision5 --> Hard Fault !

Analysis on-going...

[2016-11-18 09:47] aracosta1 commented on #3249
Will the tools be updated ?

[2016-11-18 09:51] aracosta1 commented on #2758
At the moment I cannot test for the OS version 2 because the build  system is broken for the latest library version  (see bug  #3249). I will update when the build system is fixed

[2016-11-18 10:07] adustm commented on #2956
Hello @bridadan
It works fine also for me, in another context using GCC_ARM.
Thanks
Armelle

[2016-11-18 11:18] 0xc0170 commented on #3276
Not certain we want to allow c++ files to use ``stdint`` header file? If this uin32t_max would be in the c++ file, it should have been changed to use c++ ``numeric_limits``. However, this is C file, thus the header file inclusion is correct.

I would add STD LIMITS macro to the code file, header file does not require it at all, neither should any other file that pulls in ``critical.h``.

The propo

[2016-11-18 13:31] bcostm commented on #2677
I have generated a project using `mbed export`  and I still have linking error with uvision5:
[code]
It looks like the RTOS files are still included during the link ?

I have well checked the `One ELF Section per Function` option in the C/C++ settings and set option `-O3`.

[2016-11-18 14:20] micromint commented on #3276
@c1728p9 Thanks for referencing the previous PR. Was not able to find it via simple search.

@0xc0170 Good suggestion. Adding the declaration on [mbed_critical.c](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_critical.c) would be a good alternative. It allows building C sources with a C++ compiler without impacting other source files that include [critical.h](https://github.com/ARMm

[2016-11-18 14:44] 0xc0170 commented on #2677
@bcostm yes, using mbed export you are using mbed-os 5 , thus rtos is included by default. That target should not be possible to export .. if it's not supported for mbed 5 (why the export does not fail? @theotherjimmy )

[2016-11-18 15:43] bridadan commented on #3286
Hi @radhika-raghavendran, sorry for the inconvenience and thanks for raising this issue. I just took a look at this and it looks the root cause of this was a check that was added to the IAR exporters to require CMSIS pack support: https://github.com/ARMmbed/mbed-os/blob/master/tools/export/iar/__init__.py#L33.

The CMSIS pack is being used during the export process to automatically set the debugge

[2016-11-18 15:44] maclobdell commented on #3286
Our plan going forward is to leverage cmsis packs for exporter information instead of separate data sets.  It seems that we made this change abruptly in 5.2, thus requiring cmsis packs.  We will investigate if we can implement a work around, but the best case would be if you had a preliminary cmsis pack available to test."

[2016-11-18 15:45] maclobdell commented on #3286
oops, accidentally closed and reopened.

[2016-11-18 16:06] bcostm commented on #1685
A patch is on-going in mbed SDK (not ST HAL driver).

[2016-11-18 16:46] geky commented on #3276
The profiles in the tools support c-specific flags:
https://github.com/ARMmbed/mbed-os/blob/master/tools/profiles/small.json#L31

Could `-D__STDC_LIMIT_MACROS` be added to the profile that specifies `armcc --cpp`?

[2016-11-18 17:21] Mizuho32 opened #3292 "SingletonPtr<Mutex> mutex; in greentea_metrics.cpp conflicts"
### Description
- Type: Bug(?)
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
Probably all

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3 20150529 (prerelease) (15:4.9.3+svn231177-1)

**mbed-cli version:**
0.9.10

**meed-os sha:**
a1c0840 Merge pull request #3227 from ARMmbed/release-candidate

This should work.
[code]

but in actual, i

[2016-11-18 17:28] theotherjimmy commented on #3249
I'm working on it.

[2016-11-18 17:38] theotherjimmy commented on #3281
Would you like me to make the PR?

[2016-11-18 18:11] adbridge commented on #3292
Hi @Mizuho32 Thanks for finding this and proposing the solution. I believe you are correct .
There are a couple of points to note however.
The first is that the release-candidate branch is for our internal use only and should not be used. Please only take a formal release branch or master for your development.
Secondly all PRs must be made against master and not a release branch. Could you please

[2016-11-18 19:07] grbd commented on #3281
yes please I didn't get around to signing the contributor agreement

[2016-11-18 19:33] micromint commented on #3276
Since  [mbed_critical.c](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_critical.c) is the only C source file using stdint macros (UINT32_MAX), the proposal by @0xc0170 seems a better solution than changing CFLAGS for all builds.

[2016-11-18 23:14] Mizuho32 commented on #3292
Oh, sorry for my ignorance.
I'll rise new one.

[2016-11-18 23:15] #3292 closed

[2016-11-19 00:32] Mizuho32 opened #3296 "Re: SingletonPtr<Mutex> mutex; in greentea_metrics.cpp conflicts"
### Description
- Type: Bug(?)
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
Probably all

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3 20150529 (prerelease) (15:4.9.3+svn231177-1)

**mbed-cli version:**
0.9.10

**meed-os sha:**
f5fb485 Merge pull request #2967 from viquiram/master

This should work.
[code]

but in actual, it conflict

[2016-11-19 15:24] Sissors opened #3299 "STM targets are extremely inefficient at toggling GPIOs between input and output"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug (they are so slow it is a bug and not an enhancement imo)
- Priority: Major

---------------------------------------------------------------
This is related to for example: https://developer.mbed.org/questions/69344/Detection-problem-of-a-DS1820-on-a-NUCLE/, especially the slower STM ones

[2016-11-20 20:27] geky commented on #3277
Thanks for reporting this! Looks like the chain function simply didn't check for null like it should have. Should be fixed (with tests) by #3300, let us know if there is still a bug.

[2016-11-21 03:20] TomoYamanaka commented on #3273
@bridadan

Thank you for giving me the comment. And sorry for this late reply.

I don't understand well the occurs.
Does this errors cause by the version of the automatic test tool (mbed-cli, mbed-greentea, mbed-ls etc)?
Because we passed these three tests for mbed-os 5 in Aug.
After that, I made a minor fix, but I don't think I changed the content that affects these tests.

cc @toyowata

[2016-11-21 08:23] tommikas commented on #3277
Nice :) Seems to work fine with #3300.

[2016-11-21 08:31] LMESTM commented on #3299
@Sissors : thanks for the detailed description. We will have a look at it and see if any enhancement to the current implementation can be done. Please also feel free to propose enhancements and we would review and organize the non regression tests for the complete list of supported boards when needed.

[2016-11-21 11:45] 0xc0170 commented on #2725
Thanks @matthewelse for reporting.

I made first corrections in the doc to map what is should be :

[code]

The further would be to align write() methods (one does 0,1,2 statuses, the other one bytes written or failures (negative values). As  this issue states, we should  focus on targets and fix them.

I'll send PR with this patch, tag there maintainers for review, we can write test to see which

[2016-11-21 15:45] porkybrain commented on #2242
nice to see a definitive answer, after trying to actually reproduce the problem on hardware was not successful I was thinking it may just be an issue of me reading the spec in an overly paranoid way ;)

[2016-11-21 15:46] bridadan commented on #3273
@TomoYamanaka Thanks for your reply. I was just doing a general check up on this platform and saw there were a few test failures and I thought I'd notify you.

The `tests-mbed_drivers-race_test` test was added to the code base on Aug 30 in this PR: https://github.com/ARMmbed/mbed-os/pull/2562. This was added by @c1728p9, maybe he has some insight as to what's the problem?

The `tests-mbedmicro-rto

[2016-11-21 15:58] adustm commented on #2939
Hi,
I just pushed a fix for InterruptIn test.
SYSCFG_EXTICR4,  EXTI_IMR, EXTI_RTSR, EXTI_FTSR registers were not in a correct state after the sw destruction of the InterruptIn object.
The next time those HW registers were activated by a new InterruptIn object, the interrupt management was all messed up.

[2016-11-21 15:59] adustm commented on #2956
Hi,
I just pushed a fix for InterruptIn test.
SYSCFG_EXTICRx,  EXTI_IMR, EXTI_RTSR, EXTI_FTSR registers were not in a correct state after the sw destruction of the InterruptIn object.
The next time those HW registers were activated by a new InterruptIn object, the interrupt management was all messed up.

[2016-11-21 15:59] adustm commented on #2957
Hi,
I just pushed a fix for InterruptIn test.
SYSCFG_EXTICR4,  EXTI_IMR, EXTI_RTSR, EXTI_FTSR registers were not in a correct state after the sw destruction of the InterruptIn object.
The next time those HW registers were activated by a new InterruptIn object, the interrupt management was all messed up.

[2016-11-21 16:00] adustm commented on #2959
Hi,
I just pushed a fix for InterruptIn test.
SYSCFG_EXTICR4,  EXTI_IMR, EXTI_RTSR, EXTI_FTSR registers were not in a correct state after the sw destruction of the InterruptIn object.
The next time those HW registers were activated by a new InterruptIn object, the interrupt management was all messed up.

[2016-11-21 17:25] adbridge commented on #3273
@c1728p9 Russ can you comment please?

[2016-11-21 17:30] theotherjimmy commented on #3281
see #3307, and review @grbd please.

[2016-11-21 20:26] c1728p9 commented on #3273
I took a look at the test tests-mbedmicro-rtos-mbed-malloc in depth and found a couple of problems that are causing these failures:

1. Cortex A is using an older version of RTX which is causing problems. Specifically, rt_tsk_delete isn't releasing mutexes held by a task that exits or is terminated. This causes the function thread.join() to get stuck. Updating to RTX 4.8 will fix this problem. Wor

[2016-11-21 23:21] #2242 closed

[2016-11-22 00:36] grbd commented on #3281
That looks fine thanks

[2016-11-22 00:36] #3281 closed

[2016-11-22 00:39] micromint commented on #3276
Closed in favor of #3305

[2016-11-22 00:39] #3276 closed

[2016-11-22 03:28] TomoYamanaka commented on #3273
@bridadan
Thanks for your reply. I understood that those was a newly added tests.

@c1728p9
Thanks you for your commnets.
My understandind on your feedback is that these test error occur because "Cortex-A" is using an older version of "RTX" and some functions are nothing.
Is it right ?

[2016-11-22 05:20] c1728p9 commented on #3273
Hi @TomoYamanaka, the old version of RTX is 1 of the 3 problems. To pass testing all 3 need to be fixed. The old version of RTX is causing problems because rt_tsk_delete() has a bug in it - it does not release mutexes held by the terminated task.

[2016-11-22 06:03] okoshi3 commented on #3234
Wifi also has the same problem. (I am using ODIN - W2.)
In my recognition, since Wifi and Ether have different headers as topics,
I think that another modification is necessary.
I made the following corrections for example(mbed-os-example-wifi).

[code]

The result is below.
The connection is successful, but we have not received http request.
Connect with DHCP It works as expected.

[code]

Here's

[2016-11-22 08:43] adustm commented on #1614
Hello, Can this issue be closed or are you waiting for action on it ?

[2016-11-22 08:44] adustm commented on #1619
Hello, is this issue still alive ?

[2016-11-22 08:53] bcostm commented on #3272
Thanks for the information.

[2016-11-22 09:11] LMESTM commented on #3272
@andreaslarssonublox I suggest that you post the PR from your branch. We'll X-check with HAL DMA owners and then confirm if it's ok to merge.

[2016-11-22 09:22] ohagendorf opened #3310 "mbed.h (maybe) wrong MBED_PATCH_VERSION"
### Description
- Type: Question maybe Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**meed-os sha:**
342e565 Merge pull request #3290 from ARMmbed/release-candidate

in mbed.h the version is defined as
[code]

but it is version 5.2.3. Maybe MBED_PATCH_VERSION should be 3 instead of 1.

[2016-11-22 12:05] adustm commented on #2287
Hello,
I just checked in our test history.  This test is ok at least since mbed-os-5.1.4
Here is the output for NUCLEO_F401RE / GCC_ARM / mbed-os-tests-mbedmicro-rtos-mbed-threads on today's mbed-os database (sha1 = f4007e296d235bdf8b0d402efeebebbb3b261951)
[code]
[code]

Could you tell us if you still have the issue ? we don't reproduce it.

Kind regards
Armelle

[2016-11-22 12:11] adustm commented on #2288
Hello,
The status on mbed-os-5.2.2 is the following on ST side :
[code]
If you have the same results, can we close this issue ?

Kind regards
Armelle

[2016-11-22 12:14] bulislaw commented on #2288
I know that the issue is particularly about GCC, but did you have a chance to check other compilers as well?

[2016-11-22 12:23] adustm commented on #2291
Hello @bridadan,
The test results on mbed-os-5.2.2 are good for NUCLEO_L476RG with GCC_ARM). Only LP timer tests are failed (already mentionned in another issue).
The Host-OS is Windows 7.
Could you try the update of ST-Link ? It is supposed to fix the issue for linux.
http://www.st.com/content/st_com/en/products/embedded-software/development-tool-software/stsw-link007.html
Let us know
Cheers
Arme

[2016-11-22 14:04] bcostm commented on #3216
Same for me... Any news ?

[2016-11-22 14:08] LiyouZhou opened #3311 "mbed test should not pass --app-config parameter to mbedgt"
It currently try to pass the --app-config option to mbedgt causing it to fail.

[2016-11-22 14:21] mfiore02 commented on #1614
Closing

[2016-11-22 14:21] #1614 closed

[2016-11-22 14:32] adustm commented on #2288
Hello,
Still on Windows 7 host OS:
IAR toolchain 100% OK:
[code]

[2016-11-22 15:24] adustm commented on #2288
Hello,
Still on Host OS = windows 7
DISCO_F429ZI / ARM toolchain is 100% OK
[code]

[2016-11-22 16:31] bulislaw commented on #2288
Cool thanks.

[2016-11-22 16:31] #2288 closed

[2016-11-22 16:44] adustm commented on #2288
You're welcome.
Let me know if you have the same results, so that we can close this issue ... or not...

[2016-11-22 19:28] Testato commented on #2910
solved on mbed version 129
Thanks

[2016-11-22 19:28] #2910 closed

[2016-11-22 21:20] c1728p9 commented on #3246
It looks like these errors aren't getting properly propagated up from lwip. These errors will need to be converted to nsapi errors here:
https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip_stack.c#L536

[2016-11-22 22:21] 0xc0170 commented on #3310
@ohagendorf Thanks for reporting, will be fixed for the upcoming release. The scripts should be updated to reflect this addition.

cc @adbridge

[2016-11-22 22:21] 0xc0170 commented on #3311
cc @bridadan

[2016-11-23 06:18] radhika-raghavendran commented on #3286
@bridadan @maclobdell
I thought CMSIS pack was exclusively meant for Kiel MDK IDE. Is there a dependency of IAR on CMSIS pack? Also, is there any information or documentation available on CMSIS pack generation for new devices, which can be used for Kiel MDK, IAR and Eclipse IDEs? There is a link describing CMSIS pack but it addresses only Kiel MDK, http://www.keil.com/pack/doc/CMSIS/Pack/html/crea

[2016-11-23 09:08] sdive opened #3313 "mbed-os/tools/project.py error in processing --profile option"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
Any

**Toolchain:**
GCC_ARM

**Toolchain version:**
Any

**mbed-cli version:**
0.9.10

**meed-os sha:**
a1c0840b3d Merge pull request #3227 from ARMmbed/release-candidate

**Expected behavior**
[code]
should use the debug profile when generating the Makefile.

**Actual

[2016-11-23 09:16] jankii01 opened #3314 "TLS handshake fails using WiFi in mbed OS 5.2.3"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F with WiFi shield (UART)

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)
0.9.10

**meed-os sha:**
(`git log -n1 --oneline`)

d5de476f74dd4de27012eb74ede078f6330dfc3f

**DAPLink version:**

**Expecte

[2016-11-23 09:24] jankii01 commented on #3314
[mbed-os-exmaple-client-logs-wifi-bug.zip](https://github.com/ARMmbed/mbed-os/files/608467/mbed-os-exmaple-client-logs-wifi-bug.zip)

[2016-11-23 09:26] jankii01 commented on #3314
It connects;

Connected to Network successfully
IP address 192.168.137.224

However, the TLS handshaking fails.

[DBG ][mClt]: M2MConnectionSecurityPimpl::start_connecting_non_blocking - handshake ret: 1, ssl state: 2

[DBG ][mClt]: receive_handler()

[DBG ][mClt]: receive_handshake_handler()

[DBG ][mClt]: M2MConnectionSecurityPimpl::continue_connecting

[DBG ][mClt]: mbedtls_timing_get_delay

[D

[2016-11-23 09:42] bulislaw commented on #3314
Wifi example gives errors on K64F as well:
[code]

[2016-11-23 09:47] bulislaw commented on #3314
Ah ignore me, I had some modification for another board. It works fine:
[code]

[2016-11-23 10:10] jankii01 commented on #3314
@bulislaw  - the UART WiFi compiled just fine on K64F, I had no issues with pinmap.

[2016-11-23 10:21] bulislaw commented on #3314
Yeah, my bad I was working with another board and forget to change the pins back to default. I assumed that wifi is broken, as title of this issue suggests, it seems that TLS is not connecting properly. I'll update the name so it better reflects nature of the issue.

[2016-11-23 11:03] bulislaw commented on #3314
My bisect points to 1703ed38c902c73b416ce62ccf5d768e801fe2a2 nsapi - Standardized support of NSAPI_UNSPEC

@geky could you have a look please.

[2016-11-23 11:25] adbridge commented on #3314
The associated PR  nsapi - Standardize support of NSAPI_UNSPEC #2897

It looks like this change was reviewed and tested to some extent by the folks in Oulu, prior to merge. So it looks like this particular case was not considered in the testing.

[2016-11-23 11:32] mottigondabi opened #3315 "Add support for configurable stack size"
### Description
- Type: Enhancement
- Priority: Major

## Enhancement

**Reason to enhance or problem with existing solution**
There is no way to configure application's main thread stack size at build time.

**Suggested enhancement**
Add `stack_size` attribute to `mbed_app.json` JSON file that will set the initial main thread stack size.

@jenia81

[2016-11-23 11:33] adbridge commented on #3314
@geky Is this fix that went in for 5.2.3 (https://github.com/ARMmbed/mbed-os/pull/3232) related?

[2016-11-23 12:02] bulislaw commented on #3315
That's sort of configured per target (kind of anyway). We are in process of upgrading RTX to v2, I think that's a good idea, but whether we use default from target and overwrite it if the change is requested in mbed_app.json or assume default main stack size and let people overwrite it in mbed_app.json or maybe we could have one, default configuration that can be overwritten if needed needs to be

[2016-11-23 12:05] bulislaw commented on #3313
Fix should make the behavior consistent with compile, that is make it possible to use `--profile debug`.

[2016-11-23 12:40] AlexandreHDK commented on #3299
As I know, you don't have to toggle between input and output in this case. Just configure it as output with open drain, you can read the input data register and it will reflect the state of the pin.
1) Configure the pin as output with open drain (you are counting on the pull-up resistor of this pin)
2) When you are using as output, when you want to write a '0', what you are actually doing is pulli

[2016-11-23 12:50] jankii01 commented on #3314
Well, @SeppoTakalo  tested it against mesh networking - which is the role the Oulu team has. We do not have WiFi team here.

Secondly, the change you bisected to this - it has nothing to do with the original issue - that's another change mbedOS team made to the same area (with the same results).

[2016-11-23 13:01] Sissors commented on #3299
Those are very good points, however I do have some counter points:

1. Opendrain is indeed the best, but not all mbed MCUs support it. So since it is possible I might actually do just that, but then I do need target dependent macros in the library. (I just made myself a software I2C lib, which isn't as timing critical, but there I could do the same).

2. A reason not to do it in the library, is th

[2016-11-23 13:39] adbridge commented on #3310
@ohagendorf Thanks for reporting, though please be advised that the release-candidate branch is for internal use only and should not be used for testing. Please only use releases off the mbed-os-5.x branches or master. This particular issue has been fixed for 5.2.3.

[2016-11-23 13:39] #3310 closed

[2016-11-23 13:42] adbridge commented on #3313
@sdive thanks for reporting this. Please be advised however that the release-candidate branch is for internal use only and should not be used. Please use only official releases / master branches.

[2016-11-23 13:43] adbridge commented on #3313
@theotherjimmy

[2016-11-23 13:51] TaniaMirzin commented on #3167
@simonqhughes
@jenia81
Hi Simon,
As I know this problem was detected when device was tested with DAPLink 241, when the device was updated to DAPLink 242, the bug wasn't reproduced.
1. No, we are not trying to store more data than memory or flash storage.
 By "exhausted flash" we mean malfunction flash, as this bug reproduced only with specific board.
2. We trying to run flow that creates and write

[2016-11-23 16:33] jeromecoutant commented on #3264
You should integrate https://github.com/ARMmbed/mbed-os/pull/3316 and https://github.com/ARMmbed/mbed-os/pull/3317
and retry
Thx

[2016-11-23 17:52] theotherjimmy commented on #3313
Thanks for the patch @sdive! Would you like me to make this PR against master?

[2016-11-23 18:11] geky commented on #3314
#3232 is unrelated, the DNS query is completing successfully.

Looking at the stack trace of the first socket failure narrowed down the bug pretty quickly.

The esp8266 handles UDP a bit oddly, it actually treats it like a connection based protocol. Because of this, the esp8266 has never returned a valid address from recvfrom. This will likely get fixed in the firmware update that is in progress,

[2016-11-23 18:20] #3277 closed

[2016-11-23 18:46] geky commented on #3314
Opened a quick pr: https://github.com/ARMmbed/mbed-client-classic/pull/49

[2016-11-23 21:41] sdive commented on #3313
@theotherjimmy : yes please! Thank you.

[2016-11-24 02:06] TomoYamanaka commented on #3273
@c1728p9
 Thanks you for your commnets. I was misunderstanding.
Renesas will consider measures for three problems.

[2016-11-24 13:23] adbridge commented on #3314
Closing this as not an mbed-os issue.

[2016-11-24 13:23] #3314 closed

[2016-11-24 14:45] bcostm commented on #3164
Same behavior as in Issue #3223
i.e.
- Exported Nucleo_printf example to uVision5.
- pc.printf does not print anything. I suspect also a hardfault but not checked
- if printf is used it is ok

[2016-11-24 14:58] TaniaMirzin commented on #3167
@simonqhughes
Hi Simon,
i have your old instruction of adding logs to cfstore:
Please collect configuration-store trace log for the test case you describe. To do this do the following:
•	edit cfstore_debug.h and change:
#define noCFSTORE_DEBUG
to
#define CFSTORE_DEBUG
edit configuration-store.c, changing this:
#ifdef CFSTORE_DEBUG
uint32_t cfstore_optDebug_g = 1;
uint32_t cfstore_optLogLevel_g = C

[2016-11-24 15:49] nuket commented on #3315
There were some hints about this here:
https://github.com/ARMmbed/mbed-os/issues/2635#issuecomment-248404271

[2016-11-24 15:55] nuket commented on #3045
Still unsure why this HardFault is happening.

I instrumented mbedtls_ctr_drbg_reseed to look like:

[code]

But it dies right after printing the third line. Is anyone from Nordic following this issue?

[2016-11-25 11:18] adbridge commented on #3296
Fixed by https://github.com/ARMmbed/mbed-os/pull/3297

[2016-11-25 11:18] #3296 closed

[2016-11-25 11:20] Patater opened #3325 "EFM32GG_STK3700 USB serial is broken at 9600 baud"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
# Bug

**Target**
EFM32GG_STK3700

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160919 (release) [ARM/embedded-5-branch revision 240496]

**mbed-cli version:**
0.9.5

**meed-os sha:**
464f04c6badafe2ce9fd78878b78e6badf3

[2016-11-25 13:17] sergiuszm commented on #3164
@bcostm I can confirm that printf is working as expected and the problem is with pc.printf.

[2016-11-25 15:23] teetak01 commented on #3314
Thanks @geky for the quick fix!

[2016-11-25 16:05] adbridge commented on #3325
Looks like this https://github.com/ARMmbed/mbed-os/pull/2793 may have been a potential culprit.
@akselsm Is this board supposed to be able to work at 9600 baud ?

[2016-11-25 16:20] akselsm commented on #3325
The interface firmware is hardcoded to communicate with the EFM32 at 115200 baud, so setting it to anything else on the EFM32 side won't work. It has always been this way (i.e. it's not a regression).

[2016-11-25 16:22] RobsydRosca commented on #2237
At moment I don't need the CAN hal, so I defined DEVICE_CAN = 0 and excluded the code which generates the error.

[2016-11-25 21:44] danielknox commented on #2758
Hi, I've noticed since 5.2.0 the power consumption of the NRF51 has increased and I believe this is related to the change in the sleep code.

I've been referring to the Nordic guide for measuring power consumption on the board to get an approximate idea of my board's power requirements. This consists of a 10ohm resistor and using a oscilloscope to measure the differential voltage on the current me

[2016-11-27 22:58] Josephc3 opened #3326 "KL26z in online compiler"
### Description
- Type: Question
- Priority:Minor

The KL26z is supported in this github repo and all of the sources build correctly offline. However, this is not part of the platforms page in the online compiler and therefore cannot be selected as a target for the online compiler.

Is there a manual way of setting the target in code as a define to force it to compile for that particular board? (i

[2016-11-28 03:28] bridadan commented on #3311
@LiyouZhou I patched this in mbed-cli: https://github.com/ARMmbed/mbed-cli/pull/365

Would you mind updating to the latest version to see if that solves your problem?

[2016-11-28 06:31] bridadan commented on #3325
I can confirm what @akselsm says, its not a regression.

[2016-11-28 09:15] hieuvt6-fti commented on #2909
@jeromecoutant
Could you please explain your process?

In my case, I do the following:
1. Launch the mbed Compiler (online)
2. Import Nucleo LED Blink example.
3. Hit compile
4. Wait for the file to download
5. Drag and drop the file into the Removable Device named NODE_L011K4

Then the copy will fail, complaining there is not enough space.

[2016-11-28 09:25] 0xc0170 commented on #3326
cc @screamerbg @mmahadevan108

[2016-11-28 09:26] 0xc0170 commented on #3325
@Patater Does that resolves this? Is the documentation not clear about the baud rate settings? Let us know

[2016-11-28 09:31] jeromecoutant commented on #2909
Hi
It seems that issue us due to Windows version.
I am working with Windows 7, I think you are with Windows 10 ?
There is currently an issue with Windows 10 and very small target like L011K4

[2016-11-28 10:27] hieuvt6-fti commented on #2909
@jeromecoutant
Indeed I am on Windows 10

[2016-11-28 10:39] simonqhughes opened #3327 "CFSTORE: Unable to build SRAM mode of driver"
### Description

Shelly Liberman has reported the following bug:

[code]

[2016-11-28 11:01] Patater commented on #3325
Thanks for the information, guys.

I figured out where my misunderstanding came from. The baud rate I use on the host side (with this particular USB interface) doesn't matter. When my example program is set to use 115200, I can configure my host serial port to 9600 and it still works, printing "Hello 115200 World!". This led me to believe that the board could work at 9600 baud.

So, in practice, t

[2016-11-28 11:01] #3325 closed

[2016-11-28 14:42] maclobdell commented on #3286
@radhika-raghavendran  I discussed this with @sarahmarshy who is working on the exporters.  cmsis pack isn't really needed for IAR or eclipse IDEs themselves, but the exporter scripts are referencing cmsis packs to set default settings in the generated project (like default debug interface).  This can potentially be done in another way, or maybe if pack is not present, it can just not set a defaul

[2016-11-28 14:51] maclobdell commented on #3286
Sarah just pushed a branch with a patch that could be a workaround to this issue.  It has not been tested yet.  https://github.com/sarahmarshy/mbed/commit/bbb9744cfc33167d698bc870d6b26df0413655c2
If everything works, we can make a pull request to get this on the master branch.

[2016-11-28 14:58] simonqhughes commented on #3327
Hi Shelly

You can work around this problem by deleting approx. line 44 in cfstore_svm.cpp, i.e. the line :
[code]

Then paste the line at the end of the file so all the code is within the conditional. The tree then builds, the tests work and you can progress your work.

I will submit a fix to correct this on mbed-os/master but the above should unblock you.

Regards
Simon

[2016-11-28 16:12] simonqhughes commented on #3327
Hi

I've submitted the following PR to mbed-os for the fix for this issue:

https://github.com/ARMmbed/mbed-os/pull/3329

Best
Simon

[2016-11-29 06:25] muddog opened #3332 "Is there any plan to make Kinetis drivers consistent?"
### Description
- Type: Enhancement
- Priority: Minor

---------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
The Kinetis targets in the targets/TARGET_Freescale/ folder has two different versions. One is using directly register access for driver APIs, like K20/KLXX. The other is using the Freescale Kinetis SDK in the

[2016-11-29 08:45] nvlsianpu commented on #3045
Hi. Did you have this https://github.com/ARMmbed/mbed-os/pull/2969 included in mbed-os you using for development?

[2016-11-29 09:09] ccli8 opened #3333 "Export to Keil project for new target"
### Description
- Type: Question
- Priority: Major

## Question
I am porting mbed os 5 to a new target. For debug purpose, I need the function of `Export to Keil project`. As I know, it needed adding info for the new target into `project-generator`/`project-generator-definitions` python packages before. But now, the mechanism seems changed in mbed os 5.2. How do I support this function for my port

[2016-11-29 09:27] radhika-raghavendran commented on #3286
@maclobdell I tried to bring in the changes on @sarahmarshy local branch into the NCS36510 mbed porting. There is an error during project generation saying that "debugger is not recognized command". If I remove the debugger information in __init__.py, the project generator does through but there is an error in IAR. Can you please have a look at the errors? I have attached the snapshots of the proj

[2016-11-29 09:53] nvlsianpu commented on #3045
BTW It is said that nRF52's RNG generates true non-deterministic random numbers based on internal
thermal noise (by nRF52 data sheet). So there is the warrant of strong capabilities.

[2016-11-29 10:35] jeromecoutant opened #3334 "MBED_ASSERT line count issue depending on tool chain"
### Description
- Type: Bug/Question

Hi
In our HAL, I called MBED_ASSERT macro to check some parameter.

With GCC, I got the correct information when assert comes:

mbed assertation failed: ((hrtc->Init.SynchPrediv) <= (uint32_t)0x1FFFU), file: C:\github\mbed\targets\TARGET_STM\TARGET_STM32F2\device\stm32f2xx_hal_rtc.c, line 214

Same code execution with ARM or IAR doesn't give the same result:

[2016-11-29 10:47] ccli8 opened #3335 "Compile USB program with mbed-cli"
### Description
- Type: Question
- Priority: Minor

---------------------------------------------------------------

## Question
I would like to build USBD program with `mbed-cli` on mbed OS 5.2. For example, to build my main.cpp, I type:
[code]
But I meet the error:
[code]
What's the correct command list to build USBD program?

**main.cpp**
[code]

[2016-11-29 11:39] radhika-raghavendran commented on #3286
@maclobdell @sarahmarshy
After bringing in the changes in your fork into the mbed-os 5.2.2 release code base, exporting to IAR for NCS36510 is now working. Can you bring this into the main mbed-os repo, so that I can use the main mbed-os branch for development?

[2016-11-29 13:36] andresag01 opened #3337 "TRNG implementation for NUMAKER_PFM_NUC472 with GCC throws compilation warnings"
### Description
- Type: Bug
- Priority: Minor

TRNG implementation for NUMAKER_PFM_NUC472 with GCC throws compilation warnings:
[code]
---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_NUC472

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.4.1 20160609

**mbed-cli version:**
0.9.10

**meed-os sha:**
fc1f439 Merge pull request #3323 from andreaslarsson

[2016-11-29 13:40] bulislaw opened #3338 "5.3.0-rc1 OOB error: make_armc5 export build error for mbed-os-examples-wifi"
### Description
- Type: Bug
- Priority:  Major

## Bug

**Target**
NUCLEO_F401RE NUCLEO_F411RE K64F K22F UBLOX_EVK_ODIN_W2

**Toolchain:**
ARM

**Toolchain version:**
$ armcc -h
Product: ARM Compiler 5.06

**mbed-cli version:**
$ mbed --version
0.9.1

**meed-os sha:**
5.3.0-rc1

** Example **
 mbed-os-examples-wifi @ mbed-os-5.3.0-rc1

[code]
That should produce binary but it fails, while `mbed co

[2016-11-29 13:41] bulislaw commented on #3338
@theotherjimmy

[2016-11-29 14:10] 0xc0170 commented on #3332
cc @mmahadevan108

[2016-11-29 14:11] 0xc0170 commented on #3333
@ccli8 Does this help https://github.com/ARMmbed/mbed-os/blob/master/docs/exporters.md ?

@theotherjimmy @sarahmarshy

[2016-11-29 14:18] 0xc0170 commented on #3335
Hello,

usb is not supported for mbed OS 5, therefore it can't be compiled at the moment.

[2016-11-29 14:18] 0xc0170 commented on #3337
@ccli8

[2016-11-29 14:23] ohagendorf commented on #3335
Is there a plan to reintegrate USB?
Is it only a matter of extending the Python tools to integrate it? Or is it a matter of the driver, API, ... ?

[2016-11-29 14:30] adbam commented on #3266
Thanks @bcostm
today I tried to enable RTS on Nucleo_F103RB but without luck.
# Modifications
I'm working on mbed-os (fc1f4391614a) and modified:
**targets.json** adding "SERIAL_FC" to NUCLEO_F103RB entry

targets/TARGET_STM/TARGET_STM32F1/**PeripheralPins.h** by adding
extern const PinMap PinMap_UART_RTS[];
extern const PinMap PinMap_UART_CTS[];

# Testcode:
[code]

Measuring with my LA it shows

[2016-11-29 14:31] mmahadevan108 commented on #3332
Thanks for your question.

cc @mnorman4.

All newer Kinetis targets will be using SDK2.0 drivers. Also all targets under mbed that were using SDK 1.2 have been upgraded to SDK 2.0.

At this point there are no plans to move the non-SDK parts.

[2016-11-29 14:56] ohagendorf commented on #3335
I asked because I've included USBSerial and USBDevice as a feature (moving from feature/unsupported to feature/usb and extending the tools) for my own projects.

[code]
and

[code]

So after some finetuning a PR would be possible.

[2016-11-29 15:33] simonqhughes commented on #3327
The pull request has now been merged so this issue can now be closed.

[2016-11-29 15:33] #3327 closed

[2016-11-29 15:45] SeppoTakalo opened #3342 "IAR IDE build fails if FEATURE_COMMON_PAL is enabled."
### Description
- Type: Bug
- Priority: Major

IAR IDE build fails if FEATURE_COMMON_PAL is enabled.

mbed-os directory have `Timeout.cpp` and `timeout.c` which both would produce `timeout.o` on IAR build.

---------------------------------------------------------------
## Bug

**Toolchain:**
IAR

**Steps to reproduce**
[code]
Then try to build.
----

Fix in https://github.com/ARMmbed/mbed-os/pull

[2016-11-29 15:49] SeppoTakalo opened #3343 "`make_iar` exported build fails with unknown include file."
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
IAR

**Steps to reproduce**

[code]

*Output:*

[code]
(Sorry about Finnish localisation, ignore those messages)

[2016-11-29 15:50] SeppoTakalo commented on #3343
Is this a problem in my toolchain setup or a valid exporter problem? Can somebody verify?

[2016-11-29 16:27] adbridge opened #3344 "MBED_xxx_VERSION macros should be structured better"
### Description
- Type: Bug
- Priority: Minor
---------------------------------------------------------------

In mbed.h we currently have the following structure:
[code]

There are a number of issues here:
1. We shouldn't be relying on rtos being present to signify that this is an mbed-os 5 release.
2. For releases we need to automatically update MBED_LIBRARY_VERSION for mbed-os 2 and all 3 of th

[2016-11-29 20:48] geky commented on #3338
Running into this as well
mbed-os-examples-wifi @ mbed-os-5.3.0-rc1
armcc -h => ARM Compiler 5.06 update 2
mbed --version => 0.9.7

[2016-11-29 20:49] ciarmcom commented on #3246
ARM Internal Ref: IOTMORF-643

[2016-11-29 20:49] ciarmcom commented on #3234
ARM Internal Ref: IOTMORF-644

[2016-11-29 20:52] theotherjimmy commented on #3338
Yeah, it looks like the compiler can't find its own libraries.

[2016-11-29 20:59] theotherjimmy commented on #3338
I cannot reproduce the issue.

[2016-11-29 21:03] theotherjimmy commented on #3338
Is armcc in your path?

[2016-11-29 21:04] geky commented on #3338
It looks like armcc + other arm tools needs to be in your path for make_armc5 to work, once in path the exported makefile works for me.

[2016-11-29 21:14] theotherjimmy commented on #3343
I cannot reproduce the problem

## Versions of things
 * iccarm `IAR ANSI C/C++ Compiler V7.60.2.11341/W32 for ARM`
 * mbed-os-example-mesh-minimal `On branch mbed-os-5.3-rc Your branch is up-to-date with 'origin/mbed-os-5.3-rc'.`
 * mbed-cli `0.9.7`

[2016-11-30 02:50] bridadan commented on #3335
Hi @ccli8, even though the USBDevice library is unsupported, it should still technically work.

The issue is your call to mbed-cli, you don't need to include the `--source mbed-os` option:

[code]

I tried this locally and it worked just fine, hope that helps!

[2016-11-30 05:08] ccli8 commented on #3335
Hi @bridadan, it can work. Many thanks.

[2016-11-30 05:08] #3335 closed

[2016-11-30 07:25] maclobdell commented on #3149
@mmahadevan108  This test can be recreated by running the old test system.  I had to refresh myself on how to do it.  It is very simple to do.  Here are the steps.
From within the mbed-os/tools/ directory, create muts_all.json and test_spec.json files as described here:  https://developer.mbed.org/teams/SDK-Development/wiki/Mbed-SDK-automated-test-suite
Then execute the command to run the test:
si

[2016-11-30 09:23] ohagendorf commented on #3335
Hi @bridadan can you say something about the plan to integrate USB as a supported feature?

It is seems to be easy to integrate it but maybe the plan of the mbed team is to change the existing code so that it should stay under unsupported.

[2016-11-30 09:51] ccli8 commented on #3333
@0xc0170 According to above link, it seems two stages are needed to support **export to uvision project** for new chip (Nuvoton's M487 in my case):
1. Nuvoton adds M487 into its `.pdsc` file.
1. ARM mbed scans Nuvoton's updated `.pdsc` file to update mbed-os's `index.json`.

It may take some time. Would it be possible for me to add such support for my purpose locally?

[2016-11-30 10:02] jankii01 commented on #3314
Turns out "his will likely get fixed in the firmware update that is in progress, but hasn't been high priority since few applications actually use the address from recvfrom." -> well, one of those apps is the provisioning component in Cloud Client. This would really need fixing, as they verify the senders.

[2016-11-30 14:12] SeppoTakalo commented on #3343
[code]

Target board used is K64F.

[2016-11-30 14:22] bulislaw commented on #3343
Maybe it's connected to #3338 ?

[2016-11-30 14:24] kjbracey-arm commented on #3314
An alternative might be to connect your UDP sockets, so you don't need to be checking the source address, but I'm not sure how many of the abstraction layers and network stacks support that. Could be equally glitchy.

[2016-11-30 14:25] SeppoTakalo commented on #3343
Actually, I think I found the issue.
mbed-cli seems to hardcode the paths to `C:\Program Files (x86)\IAR Systems\Embedded Workbench 7.3` but I have `7.5`

I need to configure mbed-cli properly.

[2016-11-30 14:42] SeppoTakalo commented on #3343
After setting `IAR_PATH` variable correctly this seems to work. So problem was on my test setup.
(Weird, because I haven't set anything. All others work, except IAR makefile build).

[code]

[2016-11-30 14:42] #3343 closed

[2016-11-30 15:02] theotherjimmy commented on #3333
If it's already there, you could just add the `device_name` field to your targets.json

[2016-11-30 15:48] theotherjimmy commented on #3333
From the doc

I don't think you need to have a pack file, so long as the generic ARM CPU target is good enough for your purposes.

Have you tried exporting?

[2016-11-30 15:56] jeromecoutant commented on #2783
Maybe we can close this issue ?
Thx

[2016-11-30 15:57] jeromecoutant commented on #2796
Maybe we can close this issue ?
Thx

[2016-11-30 15:59] 0xc0170 commented on #2783
Is MBED OS2 MBED_37/MBED_38 are still FAIL tracked anywhere? (is it still relevant?)

[2016-11-30 16:14] jeromecoutant commented on #2783
Results from ST test bench:
- with mbed_lib_rev128: tests are OK for ARM and uARM, FAIL for GCC and IAR
- with mbed_lib_rev129: tests are OK for all (ARM, uARM, GCC and IAR)

[2016-11-30 16:16] jeromecoutant commented on #2796
Results from ST test bench:
- with mbed_lib_rev129: all tests are OK for all tool chains (ARM, uARM, GCC and IAR)

[2016-11-30 16:17] 0xc0170 commented on #3338
Before we resolve this issue, is this a lack of documentation detail, or a user's error?

[2016-11-30 16:53] kimlep01 opened #3346 "Mesh-minimal build failure due to line endings in PinNames.h"
### Description
- Type: Bug
- Priority: Major

Building mbed-os-mesh-minimal against mbed-os master fails in Linux due to file line endings in:
targets/TARGET_NORDIC/TARGET_NRF5/TARGET_MCU_NRF52832/TARGET_UBLOX_EVA_NINA/PinNames.h

[K64F GCC_ARM ATMEL 6lp] + mbed deploy --protocol ssh
[K64F GCC_ARM ATMEL 6lp] error: Your local changes to the following files would be overwritten by checkout:
[K64F

[2016-11-30 17:00] 0xc0170 commented on #3346
This is the pull request adding that target and the code referenced above: https://github.com/ARMmbed/mbed-os/pull/3291

cc @mazgch - please have a look

[2016-11-30 18:24] theotherjimmy commented on #3338
technically, both.

[2016-11-30 18:25] theotherjimmy commented on #3338
https://github.com/ARMmbed/Handbook/blob/master/docs/dev_tools/third_party.md should be updated. I'm going to submit a PR.

[2016-11-30 21:24] theotherjimmy commented on #3338
So, with the PR opened to update the docs, I'm going to close this now.

[2016-12-01 02:02] bridadan commented on #3335
Hi @ohagendorf, good question! I'd love to see USB come back in as well, though we need to be careful how we do it. The official stance on USB as a supported feature now is that we plan on doing it in the future, but it currently isn't scheduled when this will happen (see @sg-'s response here: https://github.com/ARMmbed/mbed-os/issues/2835#issuecomment-258207911).

I think the USB libraries in gen

[2016-12-01 02:27] ccli8 commented on #3333
@theotherjimmy My modification to `mbed-os` > `targets` > `targets.json` to support Nuvoton's NUMAKER_PFM_M487 board:
[code]
I try to export to uvision project, but meet with the error:
[code]
This doesn't meet the doc:

If I change `device_name` from `M487JIDAE` to e.g. `NUC472HI8AE` (NUMAKER_PFM_NUC472), export is OK. With some fine-tune, I can debug with Keil now.

To support export to uvision

[2016-12-01 02:58] sarahmarshy commented on #3333
This PR https://github.com/ARMmbed/mbed-os/pull/3349 should fix the issue you are seeing with the generic CPU target.

You have followed the correct flow. Simply add the device name as it is listed in the pdsc, and index.json will need to be generated again to contain the device information. index.json can be updated programmatically. @theotherjimmy can chime in with that process.

[2016-12-01 06:30] radhika-raghavendran commented on #3286
Is the proposed fix merged into the main mbed-os repository? Is there a particular version of mbed-os which I can check?

[2016-12-01 06:57] jankii01 commented on #3346
Merge this in quickly, please....

[2016-12-01 09:34] Metaswd opened #3351 "How to create a simple UDP socket connection in mesh network?"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Question
---------------------------------------------------------------
**Target**
Border router: K64F
Router : K64F

**Toolchain:**
GCC_ARM
-----------------------------------------------------------------

## Question

**How to create UDP socket connection in mesh network?**

========== Her

[2016-12-01 10:22] TomoYamanaka commented on #3273
@c1728p9

I recognize this THREAD_STACK_SIZE macro defined to the following file. It is right ?
&nbsp;&nbsp;TESTS\mbedmicro-rtos-mbed\malloc\main.cpp

This file is a test file for <code> tests-mbedmicro-rtos-mbed-malloc </code>.
Therefore, I think that it is necessary to "#ifdef" the definition of THREAD_STACK_SIZE for each target.
For example, as in main.cpp below.
&nbsp;&nbsp;TESTS\mbedmicro-rto

[2016-12-01 11:14] 0xc0170 commented on #3351
cc @SeppoTakalo

[2016-12-01 11:18] 0xc0170 commented on #3346
I am looking at this, will fix it

[2016-12-01 12:16] odinthenerd opened #3353 "LPC15XX CAN still has race condition"
There is a race condition on CANSTAT:

if this
https://github.com/ARMmbed/mbed-os/blob/646cc89a620f978ed6174cb7bbb921e0f0d910f2/targets/TARGET_NXP/TARGET_LPC15XX/can_api.c#L393

and this
https://github.com/ARMmbed/mbed-os/blob/646cc89a620f978ed6174cb7bbb921e0f0d910f2/targets/TARGET_NXP/TARGET_LPC15XX/can_api.c#L455

interrupt each other.

There is no documentation, to my knowledge, which forbids a

[2016-12-01 12:19] odinthenerd commented on #1334
Problems are still there, the file is no here https://github.com/ARMmbed/mbed-os/blob/646cc89a620f978ed6174cb7bbb921e0f0d910f2/targets/TARGET_NXP/TARGET_LPC11XX_11CXX/TARGET_LPC11CXX/can_api.c#L362

[2016-12-01 12:59] #3346 closed

[2016-12-01 13:43] bcostm commented on #3266
Just in case you need also to add the RTS/CTS pins in the PeripheralPins.c file. But all of this are already in the master branch, did you try it ?

I found this test program in mbed tests. You can maybe adapt it and check if ok ? The LED should blink when you receive a falling edge on the RTS pin.

[code]

[2016-12-01 13:54] 0xc0170 commented on #3342
Should be fixed on master now

[2016-12-01 13:54] #3342 closed

[2016-12-01 14:05] adustm commented on #2344
Hello, I am facing the same issue trying to compile the mbed-os-client-example in an exported IAR project (compiling with command line 'mbed compile' is not an issue).
I cannot find the option in IAR to recreate the directory tree in the /Obj directory.
Did someone find a way not to build flately in the /build directory ?
Kind regards
Armelle

[2016-12-01 15:02] jankii01 opened #3354 "mbedOS 5.3 RC1 - K64F fails to build in Online IDE"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
On-line IDE
https://developer.mbed.org/compiler/#

**Toolchain version:**
?

**mbed-cli version:**
?

**meed-os sha:**
fc1f4391614a88f10f800f

[2016-12-01 15:04] jankii01 commented on #3354
![mbedos5 3-online-ide-230](https://cloud.githubusercontent.com/assets/21054492/20798609/199f1996-b7e8-11e6-9075-90fe86062071.png)

The actual error note is rather useless, since it's NOT saying WHICH FILE is causing the issue. I'm guess the one KF64 specific .S-file (IAR compiler has sometimes issues that tile, too).

[2016-12-01 15:05] jankii01 commented on #3354
![compiler-error-230](https://cloud.githubusercontent.com/assets/21054492/20798675/5d6b4730-b7e8-11e6-8c07-07166f9dc8f1.png)

[2016-12-01 15:10] yanesca commented on #3354
I experienced the same with our examples, but then I tried to compile it again and it worked.

[2016-12-01 15:15] 0xc0170 commented on #3354
cc @theotherjimmy

[2016-12-01 15:40] adbam commented on #3266
I will try the testcode in a few days when I can arrange some time.

Currently I'm working on master head and checked out after your commit for PeripheralPins.c. But at this stage my compiler tells me the function set_flow_control is not defined, and the same with the RTS and CTS definitions. Thats why I had to modify PeripheralPins.h and targets.json as well.

I was hoping these two filechanges w

[2016-12-01 16:43] odinthenerd commented on #1333
This is still an issue, essentially every peripheral has some race condition like this. This is more of an API flaw than anything else and the fact that this is still open a year later speaks to the fact that it is part of a greater design flaw, more thoughts here: http://odinthenerd.blogspot.de/2016/12/rant-on-mbed-design-decisions.html

[2016-12-01 17:02] odinthenerd commented on #3299
shouldn't mbed provide a "mux" function which does all the turning on of power clock and multiplexing whatnot? Also why is the function which is doing something as trivial as changing one bit (at least it should be that trivial) in its own translation unit? This stops the compiler from inlining the function (at least without LTO). Also why are you asserting on the state of input parameters which a

[2016-12-01 17:40] Sissors commented on #3299
There is protection at higher levels: https://github.com/ARMmbed/mbed-os/blob/master/drivers/DigitalInOut.h#L80 (I do wonder how much overhead that gives).

While I can see your point, and agree on at least some of them, I do seriously wonder if you can keep the API accessible if you would make everything 100% safe and efficient for every possible MCU architecture. If you are going to make an auto

[2016-12-01 18:02] theotherjimmy commented on #2344
@adustm Sorry to hear that this is affecting you as well. I have not found that option, but if you do, could you send me a project file with that option turned on? I could enable that option by default then.

[2016-12-01 18:27] odinthenerd commented on #3299
Ok I stand corrected, looks like that is safe if you always use the critical section. Is there documentation keeping the user from calling the wrong function? And oh my god the overhead. This means that although 95% of all cores can change direction in atomic manor the vendors have no way of actually taking advantage of that since the OS will lock any way?

Direction should really should be a bit

[2016-12-01 23:08] danclement commented on #3286
@radhika-raghavendran I just imported the mbed blinky example, made sure all my pip tools were updated, and this issue still persists.  This is with the current mbed OS master.

@maclobdell can you give us some guidance on @radhika-raghavendran 's question about version?

[2016-12-01 23:23] theotherjimmy commented on #3286
@radhika-raghavendran @danclement I have not seen any PRs yet, and the file that the above patch modifies remains unmodified in master. I don't think it has been merged yet.

@sarahmarshy The diff looks good to me Could you create a PR for it? (I'll approve the changes)

[2016-12-02 00:38] c1728p9 commented on #3273
Hi @TomoYamanaka I created this test so feel free to modify it. I would recommend an "#if defined(__CORTEX_A9)" and inside it set the stack to a larger value. I think cortex-A in general will require more stack space. If you would like I can make this change.

[2016-12-02 02:06] TomoYamanaka commented on #3273
@c1728p9
Thank you for your prompt reply and suggestions.

I will be very helpful if you change it. Please make this change.
As is the other main.cpp for test, I think that this stack size will be DEFAULT_STACK_SIZE(= 2048).

[2016-12-02 04:04] radhika-raghavendran commented on #3286
@danclement
The pull request will need to be made on project generator side and only after the merge to main branch will the issue be resolved.
As mentioned in a previous comment of mine, project generation is working with the changes suggested by @sarahmarshy
In case you would like to test before the merge to main branch happens, please use the modifications mentioned by @maclobdell and @sarahmar

[2016-12-02 04:10] sarahmarshy commented on #3286
Project generator is deprecated. This logic lives in mbed-os tools now. Please see the link to the PR above.

[2016-12-02 04:12] radhika-raghavendran commented on #3286
@sarahmarshy  Can I uninstall project generator and project generator definitions now?
Also, your suggested changes are working and I am able to export the project to IAR. Thank you.

[2016-12-02 04:14] sarahmarshy commented on #3286
Yes, you can!

[2016-12-02 06:45] JanneKiiskila opened #3357 "On-line IDE - allow to take in ANY version of any LIB"
### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
N/A

**Toolchain:**
https://developer.mbed.org/compiler/#

**Toolchain version:**
?

**mbed-cli version:**
N/A

**meed-os sha:**
N/A

**DAPLink version:**

**Expected behavior**

the on-line IDE should allow me to edit the actual mbed-os.lib for example

[2016-12-02 09:23] kuggenhoffen opened #3358 "K64F ethernet driver enables interrupts before the interrupt handlers are set"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
IAR

**Toolchain version:**
7.80

**mbed-cli version:**
1.0.0

**meed-os sha:**
a1c0840 (HEAD, tag: mbed_lib_rev129, tag: mbed-os-5.2.2) Merge pull request #3227 from ARMmbed/release-candidate

**DAPLink version:**
0242

**Expected behavior**
Ethern

[2016-12-02 11:28] sstaub opened #3359 "WIZwiki7500(ECO) no export possible from online ide"
### Description
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug

**Target**
WIZwiki7500(ECO)

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**
online ide

An export from online-ide is not possible, no uVision4/5 gcc ...
In former times it was possible to export to a simple .zip file,
these option is also missing.

[2016-12-02 12:55] 0xc0170 commented on #3359
cc @theotherjimmy

[2016-12-02 13:37] 0xc0170 commented on #3354
I imported the example, built and the same error.

@screamerbg - any pointers?

[2016-12-02 13:40] screamerbg commented on #3354
I'm OoO. Cc @theotherjimmy.

[2016-12-02 14:07] adbridge commented on #3354
I tried importing example with 5.2.4 and i got compile error 241

[2016-12-02 14:11] 0xc0170 commented on #3357
cc @sg- @theotherjimmy

[2016-12-02 14:11] 0xc0170 commented on #3358
cc @geky

[2016-12-02 14:47] #2956 closed

[2016-12-02 17:59] danclement commented on #3286
Radhika,

I have already gone back to 5.2.2 with the patch from Sarah and I can confirm that I can export an IAR project, open it and compile, and download and debug the NCS36510.  Thank you all for the help.

Best Regards,
Dan Clement

From: radhika-raghavendran [mailto:notifications@github.com]
Sent: Thursday, December 01, 2016 9:04 PM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Dan Cle

[2016-12-02 18:26] theotherjimmy commented on #3313
Your patch has been merged @sdive! I'm closing this now.

[2016-12-02 18:26] #3313 closed

[2016-12-02 18:31] theotherjimmy commented on #3359
When you say not possible, do you mean that the option is greyed out? Or do you mean something else?

My investigation shows that `make_armc5` is the only exporter that will work for the WIZwiki_7500.

You could export to a zip file, but the behavior of that zip file was the same as `mbed import` and has much worse performance.

[2016-12-02 20:14] theotherjimmy commented on #3354
I cannot reproduce the error.

My steps:
1) import mbed-os-example-client
2) comment out the error line that @adbridge mentioned
3) click compile button

This produces an executable. Is this the same procedure you guys used?

[2016-12-02 21:31] theotherjimmy commented on #3354
Alright go 2:

Steps:
1) import mbed-os-example-client
2) comment out the line in security.h that @adbridge mentoined
3) delete mbed-os
4) import library from url: https://github.com/ARMmbed/mbed/#fc1f4391614a88f10f800fd2644e74ed94530f1c
5) click compile all

Result: the online IDE downloads an executable.

[2016-12-02 23:16] sstaub commented on #3359
No, the options are all available:
![export1](https://cloud.githubusercontent.com/assets/6450325/20853652/9e262384-b8ed-11e6-9c57-72aa78687d1a.png)
but export aborts:
![export2](https://cloud.githubusercontent.com/assets/6450325/20853658/a7bf8b42-b8ed-11e6-9e3e-9bc6fdd252f8.png)

[2016-12-03 20:23] c1728p9 commented on #3273
Hi @TomoYamanaka, I created #3362 to increase the stack size.

[2016-12-03 21:57] shayo opened #3363 "Feature request: DFU"
- Type: Enhancement

I would very much like to transition to mbed OS5. However, it seems like DFU is not yet supported, which is a major blocker.
I would like to ask to include DFU support in OS5 along with:
1. single bank bootloader to allow large applications to be loaded
2. bootloader with watchdog support.

In general, it would be also nice to have improved method for selecting which bootloade

[2016-12-03 22:26] odinthenerd commented on #3299
Picking up the conversation about API improvements: wat do you think about allowing vendor code to add an extra parameter to their functions in order to declare them atomic and then use tag dispatch to either lock or not depending on what the the vendor code specifies, something like this could be done without SFINAE or templates:
[code]
On compilers: are you guys moving to require support for at

[2016-12-03 23:28] odinthenerd opened #3364 "why is "No lock needed in the constructor"?"
here the constructor does not lock https://github.com/ARMmbed/mbed-os/blob/master/drivers/DigitalInOut.h#L41 however there are many chips where the actions in the constructor would be race conditions if interrupted by a context switch or ISR. What exactly is so special about the constructor that it does not need to lock?

[code]

[2016-12-04 16:03] jenia81 commented on #3167
@simonqhughes Any news about that?

[2016-12-05 00:32] TomoYamanaka commented on #3273
@c1728p9
 Thank you for your support.

[2016-12-05 09:53] jupe commented on #3167
This sounds to me that root cause related somehow to software, not flash memory which burned out. But now we saw similar issue also with DAPLink 242 so root cause is still little mysterious.

[2016-12-05 10:04] jupe commented on #3167
What I would do is to reduce all possible culprits, one by one. Maybe first thing is to verify that flash memory really works by creating memory health check solution. Maybe easiest way to do that is to create functionality to daplink that do verification during programming (https://github.com/mbedmicro/DAPLink/issues/182). That would validate every single flash operation straight way without affe

[2016-12-05 11:10] simonqhughes commented on #3167
Hi

Here are some notes on the problem:
- I understand from the above that you suspect a CFSTORE flash related problem has been found in testing.
- The log file CFSTOREֹFAILED.TXT doesn't have any trace relating to CFSTORE so it doesn't provide any information (to me) as to whether CFSTORE is involved in this problem or not.
- The instructions posted above by Tania Mirzim for enabling CFSTORE trac

[2016-12-05 11:50] TaniaMirzin commented on #3167
@simonqhughes
@jenia81

Hi Simon,
I tried to use your instruction for mbed-os 5.2.3 d5de476f74dd4de27012eb74ede078f6330dfc3f.
But i saw a few compilation errors.
I've added to sfctore_debug.h include of stdio.h ( i am not sure if it is ok, please refer to it).
It solved most of errors but i have still this:
/mbed-os/features/storage/FEATURE_STORAGE/cfstore/source/cfstore_svm.cpp:47:75: error: 'ope

[2016-12-05 12:15] kimlep01 commented on #3351
Hi Metaswd,

The socket API works the same way over any network interface. There is a pull request for mbed-os-example-mesh-minimal that shows a simple UDP and TCP example:
https://github.com/ARMmbed/mbed-os-example-mesh-minimal/pull/19

If you have any more questions please let us know.

[2016-12-05 14:16] simonqhughes commented on #3167
Hi,

Apologies for the code breaking with debugging enabled. Here are the fixes.

The error logged above is reported on lin 47 of cfstore_svm.cpp. When I built mbed-os 5.2.3  d5de476, I found its was line 52 in error. Either way, comment out this line:
[code]

There are also 2 errors in create.cpp test case: comment out the following lines:

[code]

Then the application will build without errors.

[2016-12-05 14:31] 0xc0170 commented on #3364
cc @c1728p9

[2016-12-05 14:52] 0xc0170 commented on #3344
This is an internal detail, we did not have any other distinction between those 2 code bases. We could introduce  the macro as proposed above, however that would be again for internal use. An app should use mbed version macros. @theotherjimmy what do you think?

Not fond of having 2 headers for versioning. One might be sufficient ? I understand the reasoning. Is there any other idea ?

cc @c1728p9

[2016-12-05 15:23] c1728p9 commented on #3364
The initial design required that the HAL implementation initialized GPIO (or another peripheral) in such a way that it didn't effect other GPIO pins. Most MCUs have write only registers to set the state in addition to a dedicated register for each pin to configure it.

Currently there are not HAL tests to verify this behavior. Since the overhead of adding locking to initialization is small, it pro

[2016-12-05 15:28] bogdanm opened #3367 "A socket close operation doesn't always send an event"
The `event` function in `TCPSocket` increments the internal `_pending` variable and doesn't send an event if the value of `_pending` s not 1: https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/TCPSocket.cpp#L166

However, it seems that only [send](https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/TCPSocket.cpp#L83) and [recv](https://github.com/ARMmbed/mbed-os/blob/m

[2016-12-05 16:19] 0xc0170 commented on #3367
cc @geky

[2016-12-05 16:35] bogdanm commented on #3367
Meanwhile I read a bit more on the subject, for example https://stackoverflow.com/questions/6418277/how-to-close-a-non-blocking-socket. It might be that close shouldn't actually send an event at all?

[2016-12-05 16:35] 0xc0170 commented on #3353
cc @toyowata

[2016-12-05 16:37] 0xc0170 commented on #3354
@jankii01 Can you comment? Does the above helps?

[2016-12-05 18:11] odinthenerd commented on #3364
what about here? https://github.com/ARMmbed/mbed-os/blob/master/drivers/CAN.cpp#L27

or here? https://github.com/ARMmbed/mbed-os/blob/master/drivers/SPI.cpp#L27

It seems to me that either you dictate that everything from the vendors are reentrant, and enforce it, as opposed to the past, or you lock. Arbitrarily locking on most stuff but not on constructors seems unlogical as most of the bitwise f

[2016-12-05 18:19] jankii01 commented on #3354
Security.h needs to be replaced with a proper security.h that you can get from the mbed.com.

[2016-12-05 18:28] odinthenerd commented on #3364
Actually looking at those again the whole locking concept is wrong in some cases. https://github.com/ARMmbed/mbed-os/blob/master/drivers/SerialBase.cpp#L128 here you are taking a local lock in order to stop corruption from happening lets say here https://github.com/ARMmbed/mbed-os/blob/0ace7955b0949fce0448269bc11d64eca05da24d/targets/TARGET_NXP/TARGET_LPC15XX/serial_api.c#L102

The local lock does

[2016-12-05 18:41] jankii01 commented on #3354
Seems to have built now, tried with 5.3 RC2.

[2016-12-05 18:41] #3354 closed

[2016-12-05 18:56] geky commented on #3344
A simple solution would to just put comments in the source to make parsing easier:
[code]

[code]

---

We could also add another macro to make the intention of the rtos test clear:
[code]

[2016-12-05 22:55] c1728p9 commented on #3364
It would be great to have the speed increases mentioned in your post. I don't know how feasible this is in practice, as all the vendor provided C HALs would need to be re-written. If there was a straightforward way to incrementally upgrade the C HAL APIs to the faster version you propose this might be possible. Would you be able to put together a draft which makes this change for at least one targ

[2016-12-05 23:52] odinthenerd commented on #3364
Yeah ok fair enough, its kind of a stretch. However we have hooked a capture input to a uart rx pin in a design in order to adjust the baud rate. We also connected a gpio interrupt to a CAN rx in order to wake up from sleep. It is a niche use case though and not even possible on all chips.

what about this more probable scenario https://github.com/ARMmbed/mbed-os/blob/a8ebfaa0584b183cba3bed7fa540b

[2016-12-06 00:06] theotherjimmy commented on #3364
@odinthenerd You have to support arm-none-eabi-gcc, ARM Compiler 5.06u2, and IAR 7.60.2

[2016-12-06 00:07] theotherjimmy commented on #3364
@odinthenerd  https://github.com/ARMmbed/mbed-os/blob/master/platform/toolchain.h may help

[2016-12-06 00:24] odinthenerd commented on #3364
IAR 7.60.2 says it support C++03, if it really does (including all the template stuff) one could actually do a lot of compile time decisions based on the traits of the vendor's HAL. This would be a non breaking change as far as vendor code goes but it would give them a path to improve. I'll look into making a demo, maybe over Christmas.

[2016-12-06 01:27] TomoYamanaka commented on #3273
Now Renesas is resolving this issue.
After fix it, I will push PR.
If anything, please let me ask a question again.

Best regards

[2016-12-06 07:29] TaniaMirzin commented on #3167
@simonqhughes
@jenia81

Hi Simon,
Thank you for the update.
I still have compilation problems.
1. Could you please refer to my previous fix of include "stdio.h".Is it ok?
2. i get this error now:
mbed-os/features/storage/FEATURE_STORAGE/cfstore/source/configuration_store.c:59:44: error: 'ARM_Driver_Storage_MTD_K64F' undeclared here (not in a function)
 ARM_DRIVER_STORAGE *cfstore_storage_drv = &AR

[2016-12-06 09:45] malachib opened #3370 "Atmel SAMD target blinky won't compile"
`mbed compile` fails looking for "mbed_rtx.h" file which apparently isn't present for TARGET_Atmel

[2016-12-06 10:58] bogdanm opened #3371 "Socket events lack parameters"
It is currently possible to send events for various socket operations (like send and receive), but the event doesn't carry around any information about the socket that generated the event, or what kind of event was generated:

https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/Socket.h#L16

This makes it impossible to handle the state of an application that receives events for more

[2016-12-06 11:00] adbridge commented on #3344
@geky Yes good thoughts on how we could improve the parsing of what is there currently, but I was more questionning if this is the best way of doing this in the first place ? Is there not a better way of identifying the software being built ?

[2016-12-06 11:13] #3260 closed

[2016-12-06 11:16] andcor02 opened #3372 "MBED OS for nrf51822 16K ram?"
Just writing to ask if there will ever be support for mbed OS with Nrf51822 16k Ram version?

Regards,

Andrea

[2016-12-06 11:21] bogdanm commented on #3371
Let's simplify things a bit, this was written initially after looking at some C (not C++) code that used a single handler for all its sockets, which can be fixed by attaching a separate handler to each socket. But the other issue remains: it would be nice for the event to have a parameter that specified which operation it was sent for, like `EVENT_SEND` or `EVENT_RECEIVE` (especially important bec

[2016-12-06 12:18] bulislaw opened #3375 "mbed-os-5.3.0-rc2: export make_iar for Odin board fails"
### Description
- Type: Bug
- Priority: Major

## Bug

mbed-os-example-wifi

**Target**
UBLOS_EVK_ODIN_W2
**Toolchain:**
IAR

**Toolchain version:**
 IAR ANSI C/C++ Compiler V7.70.1.11437/W32 for ARM

**meed-os sha:**
mbed-os-5.3.0-rc2

**Expected behavior**

Compile and link properly

**Actual behavior**
The compilation succeeds, but linkage fails:
[code]

@theotherjimmy @sarahmarshy

[2016-12-06 13:04] bcostm commented on #3260
PR #3366

[2016-12-06 14:34] bulislaw commented on #3338
I'm having the same issue with rc2 on Linux with armcc (from DS-5 package) in my PATH

[2016-12-06 14:57] geky commented on #3338
Just a note, I just found out that the PATH needs to be such that the containing directory of armcc's bin directory is accessible.

ie
[code]
not
[code]

[2016-12-06 15:14] bulislaw commented on #3338
I don't have any links, default ds-5 directory:
`/usr/local/DS-5_v5.24.1/sw/ARMCompiler5.06u2/bin/`

[2016-12-06 15:48] sarahmarshy commented on #3375
Are you able to compile this example with `mbed compile` with IAR?

[2016-12-06 17:06] theotherjimmy commented on #3364
@odinthenerd I look forward to seeing what you put together.

[2016-12-06 17:35] geky commented on #3367
I think it should be noted that the event from the close function isn't for a user waiting for the socket to close, but for anyone waiting to recv or send data. With this in mind, it makes sense to me that the close function generates an event if there is a pending recv or send. I believe this is still consistent with the SIGIO signal in posix sockets.

As an optimization, the socket events are co

[2016-12-06 17:47] geky commented on #3371
I would hesitate to call the attach callback for the socket API an asynchronous API. It can be used asynchronously, but it was originally added as an alternative to busy waiting in applications that use an FSM to drive a network protocol (ie mbed-client). The decision to allow spurious wakeups was to make porting new devices easier (ie esp8266, mx, c027, etc), and when the callback is triggered is

[2016-12-07 07:48] kjbracey-arm commented on #3367
At present I would think you logically can't get an asynchronous event after the close, because it immediately retires the descriptor, so there's no handle to associate any event with. The close as currently coded is a non-blocking synchronous operation. But it should wake anything blocking on other threads as it closes.

There is a more general issue here of "how do I tell all the TCP data has be

[2016-12-07 09:02] bogdanm commented on #3367
Thanks for the claritifications! It's clear that I read the code wrong and `close` wasn't supposed to send an event in the first place, which is good news :) This should be fixed once #3374 gets merged.

[2016-12-07 09:31] bulislaw commented on #3375
Yeah, `mbed compile` with IAR works fine.

[2016-12-07 10:13] 0xc0170 commented on #3333
@ccli8 Is this issue resolved. The fix referenced above was merged, please test master branch. Reopen if not resolved.

[2016-12-07 10:13] #3333 closed

[2016-12-07 10:17] 0xc0170 commented on #3332
I am closing this issue (the answer to the question is that there are no currently any plans for nonSDK parts. As I understand those MCU are not supported in KSDK 2.0. I quickly checked for instance frdm kl25z, its not), the discussion can continue if needed.

[2016-12-07 10:17] #3332 closed

[2016-12-07 10:25] 0xc0170 commented on #3272
@andreaslarssonublox Any update for this issue ?

[2016-12-07 10:42] ccli8 commented on #3333
@0xc0170 Yes, it is fixed. Thank you.

[2016-12-07 11:06] andreaslarssonublox commented on #3272
@0xc0170 I will create a pull request today for the TARGET_STM32F4\device\stm32f4xx_hal_dma.c
 I don't have any STM32F7 board to test with so will not include that one.  I will close this one once the PR has been created.

[2016-12-07 13:13] 0xc0170 commented on #3249
Is this issue still relevant? Can be closed?

[2016-12-07 14:10] adbam commented on #3266
Ok, I think I got it. Coming from Linux I falsely assumed I could use RTS to manage half duplex switch for RS485. I got stuck in the datasheet at section 27.3.14 where RTS behaviour is defined and it's different from my expectations. Finding this appnote made it clear, RTS can not be misused for half duplex switching.
http://www.st.com/content/ccc/resource/technical/document/application_note/52/57

[2016-12-07 16:50] AnotherButler opened #3383 "Use the ‘u’ and ‘d’ keys to make LED1 brighter or dimmer (from handbook) broken on K22F"
### Handbook example to use the 'u' and 'd' keys to make LED1 brighter or dimmer doesn't work on K22F. See example on page: https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/getting_started/serial_communication/
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
K22F

**Expected behavior**
Pressing 'u' and 'd' keys makes LED1 brighter and dimmer

**Actu

[2016-12-07 21:56] Nodraak opened #3384 "mbed compile's --cflags option"
### Description
- Type: Question
- Related issue: #2431 and #2802
- Priority: Minor

---------------------------------------------------------------
## Question

(mbed-cli version 0.9.1 / meed-os sha ea3526d)

**How to** pass flags to the C and CPP compilers (like `-E` or `-O0` or `-mfloat-abi=soft`). I saw the  mbed compile's `--cflags` option, but it is not taken into account (I can see that tha

[2016-12-07 22:57] theotherjimmy commented on #3384
Hey @Nodraak!

The documentation you are looking for is here: https://github.com/ARMmbed/mbed-os/blob/master/docs/Toolchain_Profiles.md . TL;DR: pass the filename to `mbed compile`'s `--profile` option. e.g. `mbed compile -t gcc_arm -m k64f --profile my_profile.json` would build you project with arm-none-eabi-gcc, for the frdm-k64f, using the profile found in my_profile.json.

There are three exam

[2016-12-07 23:44] shayo opened #3386 "error: 'struct NRF_TWI_Type' has no member named 'POWER'"
- Type: Bug / Question
- Priority: Minor

## Bug

**Target**
NRF52_DL

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
0.9.10

mbed-os:
master branch (version 130)

I have a program with my own implementation of I2C two wire communication.
It compiles for target NRF51DK, but for NRF52DK I get the following error:

./Wire/wire.cpp:256:18: error: 'struct NRF_TWI_Type' has no me

[2016-12-08 01:17] geky opened #3387 "mbed-os-5.3.0-rc2: sockets do not work for NUCLEO_F746ZG in IAR"
### Description
- Type: Bug
- Priority: Major

## Bug

mbed-os-example-sockets

**Target**
NUCLEO_F746ZG
**Toolchain:**
IAR

**Toolchain version:**
 IAR ANSI C/C++ Compiler V7.80.2.11947/W32 for ARM

**meed-os sha:**
mbed-os-5.3.0-rc2

**Expected behavior**
Socket example works

**Actual behavior**
Compilation succeeds, but example hands after bringing up the network

[2016-12-08 08:54] LMESTM commented on #3272
@andreaslarssonublox - thank you  ! We'll take care and check if the same applies to other families.

[2016-12-08 09:36] simonqhughes commented on #3167
Hi

Please provide the mbed command line that you're using to build with?

Thanks
Simon

[2016-12-08 09:42] TaniaMirzin commented on #3167
@simonqhughes
@jenia81

Hi Simon please check this:
python -u mbed-os/tools/build.py -t GCC_ARM -m K64F --profile mbed-os/tools/profiles/debug.json --source mbed-os --build .build --artifact-name libmbed-os -v -DMBEDTLS_CMAC_C -DMBEDTLS_PEM_WRITE_C -DMBEDTLS_CTR_DRBG_MAX_REQUEST=2048 -DSTORAGE_DRIVER_CONFIG_HARDWARE_MTD_ASYNC_OPS=0 -DSTORAGE_CONFIG_HARDWARE_MTD_K64F_ASYNC_OPS=0" in mbed-os

[2016-12-08 09:42] nvlsianpu opened #3392 "[NRF5] update i2c_write implemenation to fit to the API changes"
According to https://github.com/ARMmbed/mbed-os/pull/3301#issuecomment-262179957
Need to be done

[2016-12-08 10:08] nvlsianpu commented on #3386
Hi.
POWER field had been removed in nrf52832. NRF52 has automated power/clock control unit, so POWER reg. is no need for going to LP mode. See 49.7 Low power in NRF52832 OPS.

[2016-12-08 10:10] 0xc0170 commented on #3386
@shayo If the above comment answers your question, please close the issue. Thanks

[2016-12-08 10:35] andreaslarssonublox commented on #3272
Created the PR: https://github.com/ARMmbed/mbed-os/pull/3393

[2016-12-08 10:35] #3272 closed

[2016-12-08 10:39] 0xc0170 commented on #3272
An issue should be closed one the fix is integrated (reviewed and accepted).

[2016-12-08 10:42] andreaslarssonublox commented on #3272
Ok, @0xc0170 maybe I closed it a bit too early. Thanks for the clarification.

[2016-12-08 10:57] 0xc0170 commented on #3383
cc @mmahadevan108

[2016-12-08 11:08] 0xc0170 commented on #3372
@pan- @jaustin @nvlsianpu

[2016-12-08 11:15] simonqhughes commented on #3167
Hi

[code]

To get the above error then CFSTORE_CONFIG_BACKEND_FLASH_ENABLED must not be defined. Why is this happening?

Simon

[2016-12-08 11:28] 0xc0170 commented on #3387
cc @adustm @bcostm

[2016-12-08 11:29] pan- commented on #3372
@andcor02 Until we found ways to reduce the memory consumption of the softdevice, mbed OS 5 will not be supported on NRF51 targets with 16K of RAM. The overhead introduced by the OS (at least one user stack + interrupt stack) is too high to develop Bluetooth application.

[2016-12-08 11:37] 0xc0170 commented on #3358
cc @mmahadevan108

[2016-12-08 11:39] 0xc0170 commented on #3286
I believe this issue can be closed.

[2016-12-08 11:39] #3286 closed

[2016-12-08 11:52] WillyKaze opened #3395 "Enable broadcast on UDPSocket on LPC1768"
## Description
- Type: Question
- Priority: Blocker

## Question

**How to enable broadcast option on a UDPSocket?**

I'm struggling to find an answer to this question.

I managed to find an old solution `sock.set_broadcasting();` in some example but this method is not defined anymore in mbed-os 5.2. This method is still defined in `features/unsupported/net/lwip/Socket/UDPSocket.cpp` thought.
I tr

[2016-12-08 12:36] adustm commented on #3387
Hello @geky
I never used this example before. Do you confirm that it used to work in the past with NUCLEO_F746ZG ?

Cheers
Armelle

[2016-12-08 12:52] jsimunic opened #3396 "C027 - Thread example not working"
### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
C027

**Toolchain:**
mbed online compiler

-----------------------------------------------------------------

## Question

**How to start running a thread with Thread::start() ?**

The example in the docs for the thread (from the Thread.h) is not working at all.
Compiled on the mbed onlin

[2016-12-08 12:59] 0xc0170 commented on #3396
I can confirm it does not compile. I suspect there were changes to Thread class, that have not been reflected to the example provided in the header file. It should be using start with a callback object as a argument,

cc @geky

[2016-12-08 12:59] 0xc0170 commented on #3395
cc @geky @kjbracey-arm

[2016-12-08 13:01] #3386 closed

[2016-12-08 14:51] 0xc0170 opened #3398 "nrf52 - UARTE not available"
### Description
- Type: Question
- Priority: Major

## Question

nrf52 has 2 UART peripherals (UART and UARTE). mbed provides HAL implementation for UART only, therefore in the peripheral map theres only one UART. This UART however is used as stdio. Thus a user does not have any free uart available. For instance, if there's serial wifi shield, it can't be used out of the box.

I checked the refere

[2016-12-08 14:56] 0xc0170 commented on #3216
@bcostm @andcor02 Is this still relevant?

[2016-12-08 14:58] 0xc0170 commented on #3396
Seems like this is related - https://github.com/ARMmbed/mbed-os/issues/3203. We should fix both

[2016-12-08 15:55] bcostm commented on #3266
I don't know what happened the other day, I was sure to have seen the SERIAL_FC enabled for this board in the master branch. I checked again ant it was not the case... Anyway I have sent a PR that corrects it.

[2016-12-08 16:14] pan- commented on #3398
@0xc0170 Actually, I've checked and the UARTE peripheral is a super set of the UART peripheral (deprecated) they both share the same peripheral instance. I don't think it will be possible to use both.

[2016-12-08 16:20] pan- opened #3400 "[Beetle] BLE scan doesn't work"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
Beetle board

**Toolchain:**
GCC_ARM|ARM|IAR

**Steps to reproduce**

Run the [EddystoneObserver](https://github.com/ARMmbed/mbed-os-example-ble/tree/master/BLE_EddystoneObserver) example while another board run the [EddystoneService](https://github.com/ARMmbed/mbed-os-

[2016-12-08 16:52] bridadan commented on #3367
Closing because #3374 was merged.

[2016-12-08 16:52] #3367 closed

[2016-12-08 16:57] yanesca opened #3401 "out master"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug | Enhancement | Question
- Related issue: `#abc`
- Priority: Blocker | Major | Minor

---------------------------------------------------------------
## Bug

**Target**
K64F|??

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**meed-os sha:

[2016-12-08 16:57] #3401 closed

[2016-12-08 17:26] adustm commented on #3387
Hello @geky
I have been able to reproduce an issue within mbed-os tests and IAR
[code]

The same test goes well with GCC_ARM for instance
I would like to investigate the strange characters returned by the get_IP_address(); but unfortunately, I cannot export the project.
[code]

Does anyone have a clue for that ?
Cheers
Armelle

[2016-12-08 17:26] 0xc0170 commented on #3398
I haven't noticed that one, that would mean none UART peripherals available for users 😞

[2016-12-08 17:48] geky commented on #3387
Hi Armelle, I don't know if the NUCLEO_F746ZG has worked before, though it does work with both the ARM compiler and gcc.

Unfortunately, it looks like the board does not support exporting to the IAR IDE.

[2016-12-08 17:52] 0xc0170 commented on #3118
I believe issue 3135 fixed the issue, @infinnovation if that's the case, please close this

[2016-12-08 18:00] nvlsianpu commented on #3398
It's true - It is impossible to use UART & UARTE - it use partialy the same hardware and registers.

[2016-12-08 18:20] bridadan commented on #3383
Many of the boards (K64F as well) don't have the LED1 on PWM pin, so we should probably remove this example from the handbook.

[2016-12-08 21:34] bridadan commented on #3387
This target is supported by uvision though, perhaps you can use that instead to debug? Thanks for looking into this @adustm!

[2016-12-08 21:36] #3118 closed

[2016-12-08 21:37] geky commented on #3387
@bridadan It's an iar only issue

Unless there is some clever way to debug iar builds in uvision...

[2016-12-08 21:53] bridadan commented on #3387
Ah duh, totally missed that part \*facepalm\*

[2016-12-08 23:23] geky opened #3404 "Sporadic semaphore timing issue on NCS36510"
The event queue tests have been sporadically picking up an error of 65 milliseconds in the semaphore wait call with the NCS36510.

Here is one example of the failure in https://github.com/ARMmbed/mbed-os/pull/3368#issuecomment-265859831:
[code]

Type: Bug
Priority: Minor
Target: NCS36510
Toolchain: At least IAR
mbed OS sha: 1b019c3

cc @bridadan

[2016-12-09 06:41] mikaleppanen opened #3406 "OOB: Beetle exporter for uvision5 not working with mbed-os-example-blinky"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
Beetle (ARM_BEETLE_SOC)

**Toolchain:**
uvision5 exporter

**mbed-cli version:**
1.0.0.

**Expected behavior**
Exporters work

**Actual behavior**
following error "ARM_BEETLE_SOC not supported by uvision5"

C:\GIT\oob\mbed-os-example-blinky>mbed export -i uvision5 -m AR

[2016-12-09 07:02] ccli8 opened #3407 "Support hex file drag-n-drop flash?"
### Description
- Type: Question
- Priority: Minor

## Question
According to the doc **mbed Interface Firmware Requirements**, ICE firmware needs to support binary/hex file drag-n-drop flash. Currently, I just see binary file flash, but no hex file flash. Is support for hex file flash a must? Where would hex file flash be used?

[2016-12-09 07:36] mikaleppanen commented on #3406
Oops. wrong version of the mbed-os. Works ok. closing this.

[2016-12-09 09:20] mikaleppanen commented on #3406
Re-opend, happens with 5.3.0-rc3 also.

[2016-12-09 09:31] 0xc0170 commented on #3407
cc @sg- @c1728p9

[2016-12-09 09:31] 0xc0170 commented on #3407
I believe it's binary or hex files support (not a must for both). The above persons to confirm.

[2016-12-09 09:46] 0xc0170 commented on #3398
Thank you for your answers ! It's pity it does not have more than 1 uart peripheral :sob:

Closing this as resolved.

[2016-12-09 09:46] #3398 closed

[2016-12-09 10:05] nvlsianpu commented on #3398
BTW - if you use j-link firmware you can use RTT instead of uart. We have this solution in nRF5 SDK.

[2016-12-09 15:12] #3266 closed

[2016-12-09 15:14] bridadan commented on #3406
I think this might be related to the fact that the Beetle requires a beta CMSIS pack to be installed. @sarahmarshy does that sound right or have exporters been disabled for this target?

[2016-12-09 17:21] adustm opened #3412 "export NUCLEO_F746ZG in IAR does not work, probably due to targets.py or targets.json"
### Description
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug
Trying to debug issue #3387, I am blocked by the fact that I cannot export for NUCLEO_F746ZG, while it works fine for NUCLEO_F429ZI

**Target**
NUCLEO_F746ZG
**Toolchain:**
IAR
**Toolchain version:**
IAR 7.50.3.10751

**mbed-cli version:**
0.8.2

**meed-os sha:**
7b974ca Merge pul

[2016-12-09 17:25] theotherjimmy commented on #3412
@adustm Have you tried correcting the targets.json entry for the F746ZG? did that work?

[2016-12-09 17:29] adustm commented on #3412
Hi,
You can check in my branch, I've added the progen line that was previously missing.
I've tried to put everything in the same order than for NUCLEO_F429ZI (my _ok_ reference)
With no success :(

[2016-12-09 17:30] theotherjimmy commented on #3412
progen? That's not used.

[2016-12-09 17:31] theotherjimmy commented on #3412
it looks like there is a typo in the IAR definitions here: https://github.com/ARMmbed/mbed-os/blob/master/tools/export/iar/iar_definitions.json#L74

[2016-12-09 17:32] theotherjimmy commented on #3412
I think it will work for you if you upcase the key and remove the extra F

[2016-12-09 17:38] theotherjimmy commented on #3412
Hey, PR up that fixes the issue #3413 @adustm

Thanks for doing most of the investigation for me

[2016-12-09 17:43] theotherjimmy commented on #3387
hey, @geky I fixed the iar export issue in #3413 You should be able to export to IAR and debug now.

[2016-12-09 17:43] adustm commented on #3412
Thank you, it works now (well at least not I can try to debug my failing project :) )
You say that progen is no more used ? Even in mbed2 environment ?
It is still present for NUCLEO_F429ZI...

Do you want me to close this issue or wait until your PR is merged ?

[2016-12-09 17:45] theotherjimmy commented on #3190
@TeroJaasko #3187 is now merged, did this resolve your issue?

[2016-12-09 17:46] bridadan commented on #3412
Let's wait until #3413 is merged before closing this. Thanks for tackling this @theotherjimmy and @adustm!

[2016-12-09 17:47] theotherjimmy commented on #3412
That will be true when the tools used here are released for the mbed2 environment.

It won't harm anything to have them in there. Except that it might confuse potential contributers.

[2016-12-09 20:11] c1728p9 opened #3417 "NUMAKER_PFM_NUC472 does not export to IAR"
The target NUMAKER_PFM_NUC472 does not have an IAR exporter entry.  For exporting to work this needs to be added.

[2016-12-09 20:13] c1728p9 opened #3418 "NUMAKER_PFM_NUC472 does not work with uvision"
When the NUMAKER_PFM_NUC472 is exported and built form uvision there is an error saying that IPv4 or IPv6 must be enabled.

[2016-12-09 20:13] c1728p9 commented on #3418
CC: @theotherjimmy

[2016-12-09 20:17] c1728p9 opened #3419 "Odin ethernet does not work without configuration"
This may be the intended behavior but Ethernet on the Odin does not work without configuration in targets.json since wifi is the default network interface.

[2016-12-09 20:17] c1728p9 commented on #3419
CC: @geky, @bulislaw

[2016-12-09 20:39] geky commented on #3419
Is this related to https://github.com/ARMmbed/mbed-os/issues/3269?

[2016-12-09 20:41] c1728p9 commented on #3419
Making that change would fix this. This is just to track the OOB failure.

[2016-12-09 20:49] ciarmcom commented on #3412
ARM Internal Ref: IOTMORF-648

[2016-12-10 16:17] maskedw opened #3420 "NUCLEO_L432KC Can not wakeup from deepsleep with LowPowerTicker?"
### Description
- Type: Question

---------------------------------------------------------------
## Question

**Target**
NUCLEO_L432KC

**Toolchain:**
GCC_ARM

**Toolchain version:**
[code]

**mbed-cli version:**
[code]

**mbed-os sha:**
[code]

**Expected behavior**

Wakeup from "deepSleep" with "LowPowerTicker ISR"

**Actual behavior**

It does not wakeup from deepsleep and ISR is not called.

[2016-12-10 18:09] #2660 closed

[2016-12-10 23:40] kraln opened #3421 "NRF52 Unable to use GPIO P0_21 (forced to be RESET)"
### Description
- Type: Bug?

Tried to use I2C on the NRF52 DK, with P0_21 as SDA. Turns out, P0_21 is set to RESET with a define in the target. (Btw, the error handling in this case is abysmal--I2C either returns lies or hangs forever). Remove the define, still doesn't work--as a DigitalOut or I2C or anything.

---------------------------------------------------------------
## Bug

**Target**
NRF

[2016-12-11 22:11] kraln commented on #3421
FWIW, the setting is written to UICR/flash, so if it's set once, it's set until UICR is cleared. The solution is to remove the flag from targets.json *and* clear UICR.

[2016-12-11 22:11] #3421 closed

[2016-12-12 02:18] cyliangtw commented on #3418
Please ensure your Keil version MDK 5.x firstly.
Cause current online IDE lost "-DDEVICE_TRNG=1" in export feature's project generation, you could add "-DDEVICE_TRNG=1" in Keil project C/C++ "Misc Controlls" setting by manual.
After that, if you still can't resolve, please guide me how to reproduce it.

[2016-12-12 02:28] cyliangtw commented on #3417
NUC472 could pass the test patterns based on IAR tool chain.
Not support IAR export yet, is it mandatory ?

[2016-12-12 02:36] cyliangtw commented on #3029
It's fixed by #3309 ( ` https://github.com/ARMmbed/mbed-os/pull/3309` )
So, it could be closed.

[2016-12-12 02:46] ccli8 commented on #1819
On mbed OS 5. the wrap mechanism cannot work. I overwrite `_sbrk` with conditional compile in `retarget.cpp`. This modification has merged and so I close the issue.

[2016-12-12 02:46] #1819 closed

[2016-12-12 02:58] ccli8 commented on #2658
Fixed with 516efa371e37b7983a59d50a2d519de506510bd8. Expect it to be closed. @sg.

[2016-12-12 08:58] jeromecoutant commented on #3420
Hi
I agree that LowPower timer/ticker currently doesn't work correctly for STM32L4 targets...
I am working on it
Regards,

[2016-12-12 11:12] bulislaw commented on #3419
Right now it's either Ethernet or WiFi, having WiFi on by default was requested by SamG. Can we close it?

[2016-12-12 11:28] 0xc0170 commented on #3419
This is known-limitation. @bulislaw is this documented anywhere, and how to enable ethernet (remove EMAC macro definition without touching targets.json file?) ? That would resolve this:

[2016-12-12 11:29] bulislaw commented on #3419
It's not. I'm guessing having it on the board page would be good.

[2016-12-12 11:50] aracosta1 commented on #3249
It's still open, the tools fail to compile at the moment.

[2016-12-12 12:53] jeromecoutant opened #3425 "LowPowerTimer maximum value is only 1 hour"
Hi

I understood that LowPowerTimer resolution is microseconds due to compatibility reason.

This means that maximum timer duration is 0xFFFFFFFF microseconds, so about 1 hour.
For me, LowPowerTimer should be much longer than 1 hour...

Can you share your point of view about LowPowerTimer  feature?

Thx

[2016-12-12 14:22] 0xc0170 commented on #3406
How can I get a list of targets that are supported for uvision5? I would like to get a list of all targets that are supported for a tool. In this case, uvision5.

[2016-12-12 14:52] fvincenzo commented on #3400
Adding @abhishek-pandit @mmorenobarm to follow up.

[2016-12-12 15:09] abhishek-pandit commented on #3400
If this is related to Wicentric stack then @pan- what would you like to be investigated?!

[2016-12-12 15:29] bridadan commented on #3029
Thanks @cyliangtw! @screamerbg please reopen if you find the issues haven't been resolved

[2016-12-12 15:29] #3029 closed

[2016-12-12 15:30] bridadan commented on #2658
Thanks @ccli8!

[2016-12-12 15:30] #2658 closed

[2016-12-12 15:53] ArjunSinghh opened #3426 "TimeStamp starts from 0 after microcontroller wakeup from Standby mode"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug | Enhancement | Question

I am using STM32l06 microcntroller's custom board and when microcontroller wakesup from stand by mode, according to datasheet, it should not loose time stamp, but for me it always start from 0. The reason I found is that in rtc_api.c file  there was a flag that  g

[2016-12-12 15:57] jeromecoutant commented on #3426
Hi
Please propose your patch
Thx

[2016-12-12 16:09] pan- commented on #3400
@abhishek-pandit Well if scanning doesn't work (seems new!), it would be interesting to understand why and resolve it if the issue is caused by the port of BLE API.

[2016-12-12 18:25] janjongboom commented on #3426
FYI, from my conversation with @ArjunSinghh:

This should be fixed in the HAL for STM32l06

[2016-12-12 18:31] bridadan commented on #3419
That'd be great! Or perhaps adding a target configuration option for this? https://github.com/ARMmbed/mbed-os/blob/master/docs/config_system.md#configuration-data-in-targets

[2016-12-12 18:33] bridadan commented on #3425
cc @0xc0170

[2016-12-12 20:26] JanneKiiskila opened #3431 "UBLOX_EVK_ODIN_W2 - connect fails unless security is specified"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)
0.9.10

**meed-os sha:**
(`git log -n1 --oneline`)

ce9d252 (HEAD -> mbe

[2016-12-12 20:28] jankii01 commented on #3431
@MarceloSalazar  -  I think this issue explains your OOB testing finding.

[2016-12-12 22:14] c1728p9 commented on #3149
It looks like the KL25Z is running out of memory. When I run RTOS_1 I get this output:
[code]

[2016-12-12 22:22] theotherjimmy commented on #3406
There is a matrix that you can check (I'm sorry that it can be hard to read) `mbed export -S`

[2016-12-13 09:39] bulislaw commented on #3431
@andreaslarssonublox Could you have a look at that from the Odin side please.

[2016-12-13 09:51] bulislaw commented on #3431
It's not a bug, that's the way WiFi API is defined -> the security parameter defaults to no encryption, ESP is quite dummy (or smart depending on direction you look at it) and doesn't care about the encryption it'll try in any case. But hopefully we can make Odin behave similarly.

[2016-12-13 10:18] bulislaw commented on #3419
@andreaslarssonublox could you please add a note about Odin supporting WiFi by default (and that users need to remove EMAC from the targets to get Ethernet working) https://developer.mbed.org/platforms/ublox-EVK-ODIN-W2/ hopefully we can add proper networking support soon and have both at the same time.

[2016-12-13 11:40] andreaslarssonublox commented on #3419
@bulislaw Yes, I will add some note on the page https://developer.mbed.org/platforms/ublox-EVK-ODIN-W2

[2016-12-13 11:41] kyliuxing opened #3435 "weird return value of __svcMutexWait/__svcMutexRelease"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type:  Question
- Related issue:
- Priority: Blocker

---------------------------------------------------------------

## Question
I feel the return of __svcMutexWait/__svcMutexRelease should be  the value in enum list of osStatus, but sometimes it will return the value of mutex_id.
So my question i

[2016-12-13 11:49] 0xc0170 commented on #3435
Hi,

can you provide code reference about return values? That would be helpful. (mainly where is muted_id returned). I could not find it.

cc @c1728p9 @bulislaw

[2016-12-13 11:57] bulislaw commented on #3435
I don't see how it could happen -> https://github.com/ARMmbed/mbed-os/blob/master/rtos/rtx/TARGET_CORTEX_M/rt_Mutex.c#L218
can you provide more details and/or example.

[2016-12-13 12:08] adbridge commented on #3249
@aracosta1 Have you tried the latest version (130) to see if it is still a problem there ?

[2016-12-13 12:54] kyliuxing commented on #3435
i reworked function to debug as below, osMutexRelease is same , please help check, thank you!
code:
osStatus osMutexWait (osMutexId mutex_id, uint32_t millisec) {
  osStatus res;
  if (__get_IPSR() != 0U) {
    return osErrorISR;                          // Not allowed in ISR
  }

  res = __svcMutexWait(mutex_id, millisec);
  if(res != osOK)
    printf("w %x, f %x\r\n", res, ((P_MUCB)mutex_id)->cb

[2016-12-13 13:10] bulislaw commented on #3419
Awesome, thanks!

[2016-12-13 13:10] #3419 closed

[2016-12-13 13:30] 0xc0170 commented on #3425
Ideally yes. The resolution could be milliseconds.
I would rather have 64 bit width which would then extend this to years. Same could be applied to us ticker API. I recall there was this change done but failed to cover some cases, caused some problems and was reverted. I would need to have a look through the git log to find out more.

[2016-12-13 13:38] 0xc0170 commented on #3417
It would be nice to have.

[2016-12-13 14:42] maskedw commented on #3420
I stopped using LSE and decided to use LSI (-DRTC_LSI = 1).
Then LowPowerTicker worked.

[2016-12-13 15:53] aracosta1 commented on #3249
The problem is still present in version 130.

[2016-12-13 16:04] geky commented on #3431
This does point out that the esp8266 does not do what the default parameter implies. Currently WiFiInterface::connect defaults to NSAPI_SECURITY_NONE, but the esp8266 automatically determines the security type.

We could change the default parameter to something like NSAPI_SECURITY_AUTO, or we could just remove the default parameter to avoid the confusion. Thoughts?

[2016-12-13 16:08] jankii01 commented on #3431
My vote is on the auto, that would make most sense.  If we fix it to something, then apps will have try to do some "try this and if that fails, try that".. complicated, fussy and not developer friendly.

[2016-12-13 16:11] bridadan commented on #3419
@andreaslarssonublox Thanks for adding that!

[2016-12-13 16:15] bulislaw commented on #3431
Let's wait for @andreaslarssonublox to hear if it's feasible to implement auto.

[2016-12-13 16:22] geky commented on #3419
Updated mbed-os-example-sockets to automatically use the ethernet configuration, the wifi configuration is available as part of mbed-os-example-wifi:

[2016-12-13 16:29] bridadan commented on #3425
@maclobdell you may have some thoughts on this as well?

[2016-12-13 16:33] bridadan commented on #3418
We're currently running exporter tests on this platform in CI. The following examples all export and build correctly in uVision (as far as the CI system is concerned):

[code]

@c1728p9 Was this for a particular example?

[2016-12-13 16:34] geky commented on #3404
I put together a test that narrows down the bug to an issue with semaphore timing:
https://github.com/geky/mbed/blob/ncs36510-timing/TESTS/events/timing/main.cpp

Unfortunately it does take ~2 hours for issues to crop up, and seems to be non-deterministic...

[2016-12-13 17:02] bulislaw commented on #3435
Worth asking people that develop RTOS https://github.com/ARM-software/CMSIS

[2016-12-13 17:42] bridadan commented on #3404
cc @maclobdell @pradeep-gr @radhika-raghavendran

[2016-12-13 19:30] bridadan commented on #3103
This has been in master for sometime now, closing!

[2016-12-13 19:30] #3103 closed

[2016-12-13 19:31] bridadan commented on #3101
This has been fixed, I will reopen this if I find the issue again

[2016-12-13 19:31] #3101 closed

[2016-12-13 19:32] bridadan commented on #2679
I believe this was resolved by #3331, closing!

[2016-12-13 19:32] #2679 closed

[2016-12-13 19:33] theotherjimmy commented on #3095
This has been merged for some time now.

[2016-12-13 19:33] #3095 closed

[2016-12-13 19:34] theotherjimmy commented on #1997
This has been in master for a very long time now

[2016-12-13 19:34] #1997 closed

[2016-12-13 19:46] theotherjimmy commented on #590
@Kazu-zamasu Could you comment on if this is still a problem?

[2016-12-13 22:08] bridadan commented on #3264
Looks like this issue is now resolved on master, thanks @jeromecoutant!

[2016-12-13 22:21] bridadan opened #3440 "NUMAKER_PFM_NUC472 LWIP tests fail with heap statistics enabled"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_NUC472

**Toolchain:**
GCC_ARM

**mbed-cli version:**
`1.0.0`

**meed-os sha:**
aa6780d Merge pull request #3416 from bridadan/rename_stm32f1_i2c_api

**DAPLink version:**
N/A (Using default Nuvoton firmware)

**Expected behavior**
All LWIP tests should pass

[2016-12-13 22:35] bridadan commented on #3440
cc @ccli8

[2016-12-13 22:35] bridadan opened #3441 "NUMAKER_PFM_NUC472 LWIP implementation contains printf"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_NUC472

**meed-os sha:**
aa6780d Merge pull request #3416 from bridadan/rename_stm32f1_i2c_api

**Notes**
The LWIP implementation for the NUMAKER_PFM_NUC472 currently contains calls to `printf`. These should be removed or repleace with a debug print function

[2016-12-13 22:39] geky commented on #3441
Agreed. Perhaps they should be hidden behind an EMAC_DEBUG flag?

[2016-12-13 22:41] bridadan commented on #3441
@geky, or maybe just use `LWIP_DEBUGF` instead of printf? Is that the print macro/function that by default is disabled?

[2016-12-13 22:57] bridadan commented on #3264
Reopening this. I'm still seeing an issue with the `tests-mbed_drivers-lp_timeout` test, though now it's a mutex failing to initialize. And it's only occurring when I use the CI machines to build the test, which use a specific version of GCC_ARM. It works ok on my local machine, but I'm using a different version of GCC_ARM than the CI machines. I ran across this exact type of failure in #3319, may

[2016-12-13 23:12] geky commented on #3441
@bridadan `LWIP_DEBUGF` is a good idea, however we are planning on separating the emac implementations from lwip to open up more options with other network stacks. We could use `LWIP_DEBUGF` as a temporary solution until the emac api (which will probably have its own `EMAC_DEBUG` flag) becomes standardized.

[2016-12-13 23:26] bridadan commented on #3441
@geky So moving forward, maybe replace the current printfs with the `LWIP_DEBUGF`, then when you do the emac overhaul they can be changed along with the rest of the `LWIP_DEBUGF` calls?

[2016-12-14 01:13] ccli8 commented on #3441
cc @cyliangtw

[2016-12-14 07:12] nvlsianpu commented on #3027
https://github.com/ARMmbed/mbed-os/issues/3106 is a blocker for this issue.

[2016-12-14 07:17] cyliangtw commented on #3441
@bridadan
The printf(...) is for log info. Such like, as while you boot linux system, you could also see driver init info including ethernet.
Adopt your suggestion to fix this issue by LWIP_DEBUGF in PR #3434 .

[2016-12-14 07:18] cyliangtw commented on #3337
Fix it in PR #3434

[2016-12-14 09:52] andreaslarssonublox commented on #3431
I think it's possible to use the auto security mode for Open, WEP and WPA/WPA2. The drawback is that we need to do a scan before to retrieve the security mode of the access point. Another drawback might be that the application is not aware of the chosen security mode if NSAPI_SECURITY_AUTO is used.
It will also not work when we add enterprise security later on since it requires certificates and so

[2016-12-14 09:56] jankii01 commented on #3431
Which one is faster - scan the network for it to tell what the security is, OR just try looping around the different security modes one by one and then return error if all of them fails? Enterprise is a different issue, agree on that.

[2016-12-14 10:01] simonqhughes commented on #3167
I have submitted pull request to fix the debug issues here:

https://github.com/ARMmbed/mbed-os/pull/3368

[2016-12-14 10:03] simonqhughes commented on #2942
This has now been resolved.

[2016-12-14 10:03] #2942 closed

[2016-12-14 10:07] simonqhughes opened #3444 "CFSTORE: SRAM mode not working"
Sarah Marsh reported this issue as follows:

From: Sarah Marsh
Sent: 13 December 2016 23:48
To: Simon Hughes; Marcus Chang
Subject: Enabling config store in SRAM for cloud client

Hello Simon and Marcus,

I have been tasked with getting a cellular device to connect to mbed cloud. It requires configuration store, but I was told there is a way to use config store in SRAM rather than nonvolatile memo

[2016-12-14 10:43] 0xc0170 commented on #3441
Thanks @cyliangtw @ccli8 for looking at this and fixing it. we will review the PR with fixes soon.

[2016-12-14 10:49] simonqhughes commented on #3444
@sarahmarshy @marcuschangarm

Hi

The following pull request has been submitted which fixes this problem:

https://github.com/ARMmbed/mbed-os/pull/3368

The PR is blocked dues to some unrelated CI intermittent failure (@geky @bridadan  have more details) .

To enable SRAM mode I changed cfstore_config.h to define as follows:

[code]

I used this command to build:

[code]

Here is the build log sho

[2016-12-14 11:31] kristofmulier opened #3445 "Wrong SPI transfer in 16-bit mode on STM32F7xx"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
STM32F7xx

**Toolchain:**
GCC_ARM

**mbed-cli version:**
`0.9.10`

**Expected behavior**
The bug shows up when you try to send a single 16-bit 'word' over an SPI link which is configured in 16-bit mode:
[code]
This is what you would expect to see on the oscilloscope:

[2016-12-14 11:40] haseeb-ublox opened #3446 "Mbed build broken for TARGET UBLOX EVK ODIN W2 using GCC ARM toolchain"
Description

Hi,

I have been trying to build mbed os 5 for UBLOX_EVK_ODIN_W2 using Mbed native tools i.e build.py present under mbed-os/tools folder but I am facing the issue while the compiler tries to build wifi_emac_api.py .
I have used the following command to build:

**>python build.py -m UBLOX_EVK_ODIN_W2 -t GCC_ARM**

I have enabled the verbose option using -v flag and DEBUG trace shows th

[2016-12-14 11:57] 0xc0170 commented on #3027
Can you be more specific? I am interested mainly if this is an issue for any platform , or that blocker is active just for nordic because of some specific reasons.

[2016-12-14 12:21] nvlsianpu commented on #3027
In issue https://github.com/ARMmbed/mbed-os/issues/3106 was described how analogue and digital shared hardware resources interact each other for nRF5x. I'm sure that there are similar cases for most of uC. Shared resources like shared I/O are incorporated in many SoC. Of course there is possible to fix this internally for Nordic but, it will be a patch whit only applied to Nordic and will add sign

[2016-12-14 12:50] 0xc0170 commented on #3445
Thanks for the detailed report !

cc @bcostm @LMESTM @jeromecoutant @adustm

[2016-12-14 12:53] 0xc0170 commented on #3446
@haseeb-ublox ODIN is only supported for mbed OS 5, therefore use mbed-cli to build an app.

cc @theotherjimmy - might have a look how we can produce more clear message if someone touches scripts inside tools.

[2016-12-14 14:43] simonqhughes commented on #3167
From: Jenia Kogan
Sent: 14 December 2016 12:06
To: Simon Hughes
Cc: Tania Mirzin
Subject: RE: CFSTORE issue 3167

Hi Simon,

Tania is OOO till Sunday.
She'll look on this on Sunday

Jenia

From: Simon Hughes
Sent: Wednesday, December 14, 2016 1:55 PM
To: Tania Mirzin
Cc: Jenia Kogan
Subject: CFSTORE issue 3167

Hi

Please could you let me know whether you’re now unblocked with the following issue?

[2016-12-14 15:52] c1728p9 commented on #3418
This came up for @theotherjimmy during 5.3 RC2 out of box testing on the blinky example - "Uvision5 failure: #error directive: "Either IPv4 or IPv6 must be enabled".

[2016-12-14 15:57] sarahmarshy commented on #3444
Merging that PR and using this macro definition resolved this issue. Thank you.

[2016-12-14 16:24] simonqhughes commented on #3444
Issue resolved so closing.

[2016-12-14 16:24] #3444 closed

[2016-12-14 16:34] mmahadevan108 commented on #2950
Can this issue be resolved?

[2016-12-14 16:43] #2950 closed

[2016-12-14 20:18] mmahadevan108 commented on #3149
Did KL25Z pass mbed tests before?

[2016-12-14 20:35] mmahadevan108 commented on #3149
I ran these tested against the latest code and the tests passed:
OK            | KL25Z  | ARM       | RTOS_1      | Basic thread                          |       11.38        |       15      |  1/1  |

[2016-12-14 20:36] mmahadevan108 commented on #3148
I ran the test suite against the latest code-base, the tests passed.
Test summary:
+---------------+--------+-----------+-------------+---------------------------------------+--------------------+---------------+-------+
| Result        | Target | Toolchain | Test ID     | Test Description                      | Elapsed Time (sec) | Timeout (sec) | Loops |
+---------------+--------+-----------+---

[2016-12-14 21:01] mmahadevan108 commented on #3358
Thank you. Indeed seems like an issue, I have passed this on to the driver developer.

[2016-12-15 07:49] ccli8 opened #3447 "Debug build with -o "debug-info" failed"
### Description
- Type: Bug
- Priority: Major

I would like to build debug version but fails with the error log.
[code]

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_NUC472

**Toolchain:**
GCC_ARM|ARM

**mbed-cli version:**
1.0.0

**meed-os sha:**
mbed-os-5.3.0-rc3

[2016-12-15 08:47] ccli8 commented on #3059
@MaggieMei It is fixed in #3309 and could be closed.

[2016-12-15 09:03] bisqwit opened #3448 "[PATCH] Fix re-entrancy crash bug in mbed_ticker_api.c"
[code]

[2016-12-15 10:01] 0xc0170 commented on #3448
Thanks for the detailed description plus a fix included. Is this worth a small test case to reproduce this corruption and verify the fix?

[2016-12-15 10:17] pan- commented on #3447
@ccli8 The flag `-o debug-info` has been replaced by the debug profile: `--profile debug`.
You can find more information about profiles [here](https://github.com/ARMmbed/mbed-os/blob/master/docs/build_profiles.md).

[2016-12-15 10:37] bisqwit commented on #3448
Sorry, but I am having trouble producing a minimal testcase to trigger the bug. It happened randomly in a program using Semtech's LoRa driver which juggles a number of timeout timers for various purposes and a global timer that triggers at 10ms intervals. Some of those timer callbacks may have taken more than 10ms to finish in some circumstances.

[2016-12-15 13:08] 0xc0170 commented on #3448
OK thanks for the information. Are you happy to send a patch for review via pull request, or we take an action here?

[2016-12-15 13:13] 0xc0170 commented on #3447
Note to @theotherjimmy - we shall consider using deprecated route for any public argument changes (as we did for some recently).

@ccli8 If you are having problems any with profiles let us know

[2016-12-15 13:18] 0xc0170 commented on #3435
Thanks @bulislaw for the pointer.

The question is redirected here https://github.com/ARM-software/CMSIS/issues/103 , closing this issue.

[2016-12-15 13:18] #3435 closed

[2016-12-15 13:24] bisqwit commented on #3448
I don't know how to send pull-requests. You can use git-am to apply the patch from my report.

[2016-12-15 16:30] #3412 closed

[2016-12-15 16:45] adustm commented on #3412
OK

[2016-12-15 17:16] bridadan commented on #3059
@MaggieMei If you have time, it'd be great if you could confirm @ccli8's fix. Otherwise, should be ok to close this.

[2016-12-15 20:49] ciarmcom commented on #3404
ARM Internal Ref: IOTMORF-656

[2016-12-15 21:34] geky commented on #3404
Looks like @bridadan's intuition was correct, the Timer class itself is the problem. Narrowed down the tests so they complete much faster now:
https://github.com/geky/mbed/blob/ncs36510-timing/TESTS/events/timing/main.cpp

It looks like the issue may be in this function:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_ONSEMI/TARGET_NCS36510/ncs36510_us_ticker_api.c#L109

[2016-12-16 07:26] cyliangtw commented on #3337
@andresag01
@0xc0170
PR#3434 was accepted and merged.
So, please closed it.

[2016-12-16 07:38] bisqwit opened #3452 "STM32L0 UART IRQ infinitely retriggered"
I am having trouble where uart2_irq gets triggered, but never acknowledged, causing the IRQ being immediately triggered again when it exits, with user code never getting chance to progress.

I single-step the IRQ handler, and I see it tests and sees that `UART_FLAG_ORE` is set. Then it tests whether `UART_IT_ORE` is set, and it’s not, so it never clears the ORE condition. And the IRQ gets never ac

[2016-12-16 15:02] bridadan commented on #3337
I'll go ahead and close this per @cyliangtw's recommendation. @andresag01 if you find the issue hasn't been resolved please reopen the issue.

[2016-12-16 15:02] #3337 closed

[2016-12-16 15:24] adustm commented on #3387
Hello all,
I have been able to investigate more in details.
The issue seems to be the snprintf function is giving garbage result with IAR in this code :
https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip_stack.c#L322
[code]
(for instance as previously stated
`[1481217052.15][CONN][RXD] UDP client IP Address is MlÖ]‚ù†çD99@�ã�šºÆìžú‹2�Â+�²ÞNf×Êr™¹¶‘�(jïLÙ/ÉP�O

[2016-12-16 15:45] bridadan commented on #3387
@adustm Thanks for narrowing down the issue, that helps a lot. I will try to reproduce this today.

[2016-12-16 16:11] adustm commented on #2939
Hello, is it ok now ? Can we close this issue ?
Cheers

[2016-12-16 16:55] bridadan commented on #3387
Hi @adustm, I managed to narrow down the breaking commit.

This was the first broken commit: 8238d2230b8a63b11a087492356019f2674253ba, which came from this PR: https://github.com/ARMmbed/mbed-os/pull/2473

I don't know how to suggest a fix, but hopefully that's enough to help you or anyone else tracking this issue to find a fix!

[2016-12-16 17:19] bridadan commented on #2939
I'll go ahead and close this since #3303 was merged. @BlackstoneEngineering please reopen this if the issue persists.

[2016-12-16 21:10] theotherjimmy commented on #3384
#3385 merged. Closing.

[2016-12-16 21:10] #3384 closed

[2016-12-16 21:31] theotherjimmy commented on #3446
@haseeb-ublox please use `mbed compile -t gcc_arm -m ublox_evk_odin_w2` to compile. There are a few extra arguments that mbed infers from the environment it's being run in.

@0xc0170 That's a compiler message. I can't easily improve those, escpially since we are locked into GCC version 4.9.3.

[2016-12-16 22:19] szechyjs opened #3463 "[STM32] CAN read() return value"
### Description
- Type: Bug
- Priority: Major

According to the [CAN.h](https://github.com/ARMmbed/mbed-os/blob/master/drivers/CAN.h#L141-L142) header file the `read()` method is only supposed to return `1` if data was read. All of the STM32 implementations in `can_api.c` are hard coded to `return 1;`.

- [STM32F0](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F0/ca

[2016-12-16 22:29] szechyjs opened #3464 "[STM32] CAN write() return value"
### Description
- Type: Bug
- Related issue: #3463
- Priority: Major

According to the [CAN.h](https://github.com/ARMmbed/mbed-os/blob/master/drivers/CAN.h#L130-L131) header file the `write()` method is only supposed to return `1` if send was successful. All of the STM32 implementations in `can_api.c` are hard coded to `return 1;`.

- [STM32F0](https://github.com/ARMmbed/mbed-os/blob/master/target

[2016-12-17 09:51] cyliangtw commented on #3441
@0xc0170
PR #3434 was accepted and merged.
Please help to close it.

[2016-12-17 10:08] cyliangtw commented on #3418
We verified Export Uvision5 prj function of mbed-cli is OK with mbed-os-5.3.0-rc2 .
Maybe, it's online IDE export feature issue.

[2016-12-17 14:10] #3441 closed

[2016-12-18 09:04] TaniaMirzin commented on #3167
@simonqhughes
@jenia81
Hi Simon,
I am using now your fix version ad8a77d1aeef41ae1bc40096cbce85921f846a90.
The problems of include headers and log function prototype are fixed.

But I still have the same problem with ARM_Driver_Storage_MTD_K64F error:
/mbed-os/features/storage/FEATURE_STORAGE/cfstore/source/configuration_store.c:59:44: error: 'ARM_Driver_Storage_MTD_K64F' undeclared here (not in a

[2016-12-19 01:51] ccli8 commented on #3447
@pan- @0xc0170 I am adding uvisor support for our new target `NUMAKER_PFM_M487` and find uvisor doc e.g. https://github.com/ARMmbed/uvisor/blob/master/docs/core/DEVELOPING_LOCALLY.md and https://github.com/ARMmbed/uvisor/blob/master/docs/api/DEBUGGING.md don't reflect the change. Besides, I want to know by which the tool adds TARGET_RELEASE or TARGET_DEBUG into compile list. This would help for my

[2016-12-19 05:43] betzw commented on #2769
Ping!

[2016-12-19 11:24] radhika-raghavendran opened #3465 "mbed export -i uvision/uvision5 not supported for NCS36510"
### Description
- Bug
- Related issue:
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
NCS36510

**Toolchain:**
ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**meed-os sha:**
(`git log -n1 --oneline`)

**DAPLink version:**

**Expected behavior**
mbed export -i uvision -m NCS36510 gives an error saying "NCS36510 not sup

[2016-12-19 11:32] #3465 closed

[2016-12-19 11:36] radhika-raghavendran commented on #3465
Export not working with mbed-os-5.2.2(a1c0840)
It is working with latest 5.3.0.
Thanks

[2016-12-19 11:57] 0xc0170 commented on #2769
There's feature branch, that needs more work: https://github.com/ARMmbed/mbed-os/tree/feature_rtos_tickless. It should resolve this.

[2016-12-19 13:50] 0xc0170 commented on #3447
cc @AlessandroA Please check the above, about uvisor docs and debug profile.

[2016-12-19 13:59] kuggenhoffen opened #3466 "Inconsistent heap sizes between toolchains, especially IAR"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
IAR

**Toolchain version:**
7.80.2.11975

**mbed-cli version:**
1.0.0

**meed-os sha:**
a1c0840 (HEAD, tag: mbed_lib_rev129, tag: mbed-os-5.2.2) Merge pull request #3227 from ARMmbed/release-candidate

**Expected behavior**
I would expect available

[2016-12-19 14:09] AlessandroA commented on #3447
Thank you for reporting this! I created a fix: https://github.com/ARMmbed/uvisor/pull/385

[2016-12-19 14:24] 0xc0170 commented on #3466
@c1728p9 Didn't we unified the heap sizes? I can't find the patch.

As I recall it used to be that IAR requires a fixed heap size, and the rest toolchains are flexible (allowing heap to grow).

[2016-12-19 14:25] 0xc0170 commented on #3464
cc @bcostm @adustm @LMESTM @jeromecoutant

[2016-12-19 14:26] 0xc0170 commented on #3463
cc @bcostm @adustm @LMESTM @jeromecoutant

[2016-12-19 14:27] 0xc0170 commented on #3452
cc @bcostm @adustm @LMESTM @jeromecoutant

[2016-12-19 14:30] 0xc0170 commented on #3446
my point was about having target only for mbed 5 and using tools/scripts, not about the error message shown. The best might be to have clear documentation mbed-cli vs mbed/tools.

@haseeb-ublox Why did you decide to use tools/build.py and not mbed-cli? Trying to find out if there's lack of documentation or an error somewhere?

[2016-12-19 15:09] adustm commented on #3387
Ok, I have spent a few jours on this one and eventually managed to **_understand_** the issue.
The ethernet buffers are located in the SRAM1 memory that has data cache enable.
Extract from the mbed.map:
[code]
The DMA descriptors are written by the CPU, and kept in cache.
The Ethernet IP is then reading the DMA descriptor in the SRAM1 memory, that does not contains the requested information (still

[2016-12-19 15:26] adustm commented on #3464
Hello @0xc0170 @szechyjs
It is not obvious to me that the can_write function is supposed to do some polling as long as the msg is not written.
We are just preparing the sending of the  the system and setting the interruptions to be notified when the msg is sent.

Cheers

[2016-12-19 15:35] bridadan commented on #3001
Fixed by #3171

[2016-12-19 15:35] #3001 closed

[2016-12-19 15:51] c1728p9 commented on #3466
With ARM and GCC_ARM the heap takes up all remaining free RAM space. The IAR heap is a fixed, hardcoded size due to toolchain limitations.

[2016-12-19 18:00] geky commented on #3387
That is a really interesting bug, thanks for tracking it down and keeping us up to date!

[2016-12-19 18:06] bridadan commented on #3447
Thanks for the fix @AlessandroA! I'll go ahead and close this, thanks for reporting @ccli8!

[2016-12-19 18:06] #3447 closed

[2016-12-19 18:15] theotherjimmy commented on #3418
Yup it seems to be fixed. I can't reproduce it anymore.

[2016-12-19 18:15] #3418 closed

[2016-12-19 20:09] sarahmarshy commented on #3396
Instead of the above, you'll need to use references like this:

Though, the above is deprecated in favor of using callbacks like this:

Thread::start should always be passed a callback. The order of parameters to the callback is either:
`callback([object to invoke member function], [member function])`
OR
`callback([static function], [pointer argument to function])`

Callback class templating [here

[2016-12-19 21:24] theotherjimmy commented on #3446
@0xc0170 So given that when you run `mbed compile` it eventually runs `python tools/build.py` You're asking for an error message when you try to do a build for a target that does not have a `release_version` that the compile would expect? That is something that I could do.

[2016-12-20 04:49] TomoYamanaka commented on #3273
I pushed PR for this issue.
Reference PR is #3470 .

[2016-12-20 07:09] andrewc-arm opened #3471 "test issue (internal)"
### Description
- Type: Question
- Priority: Minor

## Question

**How to?**
Test issue creation. Will be closed soon.
Assign to @andrewc-arm

[2016-12-20 08:06] betzw commented on #2769
Seems like an abandoned branch, I mean last commit about 4 months ago. Have you any timeline for when this branch would be merged?

From: Martin Kojtal [mailto:notifications@github.com]
Sent: Monday, December 19, 2016 12:58 PM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Wolfgang BETZ <wolfgang.betz@st.com>; Manual <manual@noreply.github.com>
Subject: Re: [ARMmbed/mbed-os] Call __WFI() whe

[2016-12-20 08:09] betzw commented on #2769
@screamerbg

[2016-12-20 08:18] #3471 closed

[2016-12-20 08:46] kuggenhoffen commented on #3466
How do I increase heap size for application? I can modify the linker file but is there a compatible way that will work for all targets and toolchains as well as is somehow portable for an application?

[2016-12-20 08:50] kuggenhoffen commented on #3466
Also GCC reports allocated heap as 65k when it actually allocated over 100k more, which is a bit misleading.

[2016-12-20 09:28] bulislaw commented on #2769
There were difficulties with the tickless mode due to differences in platforms and how they implement low power timer. I have an idea how to address it, I'll write it down over Christmas and then we can discuss it and find some time to implement it.

[2016-12-20 14:07] 0xc0170 commented on #2769
Addition to the comment above about issues with the tickers, there's a plan for RTX update, therefore this idle loop work should be based on that update (version >5.4)

[2016-12-20 14:11] bulislaw commented on #2769
That shouldn't be a problem, as the RTX API changes are cosmetic.

[2016-12-20 16:46] bcostm opened #3474 "STM32F1 CAN: Incorrect AF number for PB_8/PB_9 CAN pins"
### Description
- Type: Bug
- Related issue:
https://developer.mbed.org/questions/76094/how-to-use-STM32F103RB-CAN/
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F103RB

**Toolchain:**
ALL

**Expected behavior**
CAN is working when PB_8/PB_9 pins are used.

**Actual behavior**
PB_8/PB_9 pins are not connected to the CAN peripheral.

--

[2016-12-20 17:03] theotherjimmy commented on #3375
Whatever the cause was, It's fixed in 5.3.0-rc3

[2016-12-20 17:26] bridadan commented on #3375
@bulislaw can you confirm? Otherwise we'll close this issue.

[2016-12-20 19:45] theotherjimmy commented on #3190
Alright, I'm going to close this now. If it's still a problem, please re-open this issue.

[2016-12-20 19:45] #3190 closed

[2016-12-20 19:56] theotherjimmy commented on #3149
@adbridge If these tests now pass can we close this issue?

[2016-12-20 19:56] theotherjimmy commented on #3148
@adbridge Looks like we fixed this in the mean time.

[2016-12-20 19:59] Neuromancer2701 commented on #3163
I was able to do a test
I set both Filters to 0
#define IP_SOF_BROADCAST 0
#define IP_SOF_BROADCAST_RECV 0
in mbed-os/features/net/FEATURE_IPV4/lwip-interface/lwipopts.h

I was able to use send and receive using both addresses(192.168.1.255 and 255.255.255.255) that failed earlier.  Should these filters be disable by default?

[2016-12-20 20:01] theotherjimmy commented on #3129
so hey everyone ( @0xc0170 @bridadan ), Is the 'add all parents except for `Target`' option a viable strategy? If so, I could add that to targets.py to ease new board bring up.

[2016-12-20 20:06] theotherjimmy commented on #3117
@kgoveas @0xc0170 The mentioned issue is fixed, but I'm going to add a check real quick to improve that error message.

[2016-12-20 20:06] #3117 closed

[2016-12-20 20:07] bridadan commented on #3129
I spent a few minutes trying to think of a time when this would cause problems and I honestly can't think of a case. It may even be useful to include the root `Target` target, since you could then add `extra_labels` to all targets trivially if necessary. Other people may feel differently about this though.

So seems like a good idea to me :+1:

[2016-12-20 20:18] theotherjimmy commented on #3105
We are part of the way there: when a makefile produces the final product, it informs the user now, like the command line does.

[2016-12-20 20:20] theotherjimmy commented on #3129
any extra label added to Target is pretty useless, as the code that label guards will always be enabled.

[2016-12-20 20:23] theotherjimmy commented on #3102
@bulislaw I cannot reproduce this in 5.3.0. Closing.

[2016-12-20 20:23] #3102 closed

[2016-12-20 20:25] theotherjimmy commented on #3100
This has been fixed by @bridadan with PR #3243 and is now in 5.3.0. Closing.

[2016-12-20 20:25] #3100 closed

[2016-12-20 20:28] theotherjimmy commented on #3058
@geky @c1728p9 #3065 was merged can we close this now?

[2016-12-20 20:28] #3057 closed

[2016-12-20 20:32] #3038 closed

[2016-12-20 20:32] bridadan commented on #3105
Do we know which naming convention we want to use? I'd argue we should go with whatever one we have the least control over. So if IAR or uVision already use one of the naming conventions and we can't change that naming, we should probably just go with that?

[2016-12-20 20:34] theotherjimmy commented on #3105
I'm pretty sure that IAR and uVision don't do the merging...

[2016-12-20 20:44] theotherjimmy commented on #2968
@nuket I think the proposed `CFLAGS=<extra-stuff> make` solves your problem. Alternatively, you could export with `--profile <your-profile>` to overwrite the cflags. If this does not solve your problem please feel free to re-open this issue.

[2016-12-20 20:44] #2968 closed

[2016-12-20 20:52] c1728p9 commented on #3058
Fine by me

[2016-12-20 20:55] bridadan commented on #3105
Any input on this @pan-? I'm honestly sure what IAR and uVision do either :smile:

[2016-12-20 20:56] theotherjimmy commented on #2925
Looks like we got 'em.
[code]

[2016-12-20 20:56] #2925 closed

[2016-12-20 21:02] theotherjimmy commented on #2912
@Testato Would a project that calls out to make be okay with you? I can make that happen pretty quick for you.

[2016-12-20 21:03] theotherjimmy commented on #2908
can we close this in favor of tracking the content on #2912  ?

[2016-12-20 21:06] theotherjimmy commented on #2867
This was fixed a while back.

[2016-12-20 21:06] #2867 closed

[2016-12-20 21:10] theotherjimmy commented on #2807
The online IDE does not support zip exporting as it creates a *very* large file, and mbed import is many times faster.

[2016-12-20 21:10] #2807 closed

[2016-12-20 21:13] theotherjimmy commented on #2784
So, it seems that the nanostack binary has been updated despite this. I'm going to close this issue. Please re-open if you have another use-case that would be broken by this behavior.

[2016-12-20 21:16] theotherjimmy commented on #2718
I could add this to the eclipse exporter if that would help you guys out. Would you like to see the generation of this header file in the eclipse_* exporters?

[2016-12-20 21:18] theotherjimmy commented on #2711
This appears to be fixed on master. The exported IAR project puts everthing into `BUILD` which is the same as used by the build system.

[2016-12-20 21:18] #2711 closed

[2016-12-20 21:48] geky commented on #3058
Same, I don't have a preference

[2016-12-20 22:24] bridadan commented on #3440
Any news @ccli8?

[2016-12-20 23:35] bridadan opened #3485 "ARCH_PRO Fails Threads Test on IAR"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
ARCH_PRO

**Toolchain:**
IAR

**Toolchain version:**
7.80

**mbed-cli version:**
1.0.0

**mbed-os sha:**
20eb127f8060ea18e88c07fb0681555613cea83e

**DAPLink version:**
0242

**Expected behavior**
`tests-mbedmicro-rtos-mbed-threads` passes

**Actual behavior**
It does no

[2016-12-21 01:04] ccli8 commented on #3440
It is related to NUC472's LWIP Ethernet porting. We are checking.
@cyliangtw

[2016-12-21 01:16] bridadan commented on #3273
Hi @TomoYamanaka, thanks for all the work! The tests look good when testing with your PR, however in CI we also enable heap and stack stats by running the following commands:

[code]

I'm receiving an mbed assertion from the memory metrics library for each test. I'm leaving for the holidays so I can't debug this at the moment, but perhaps you could look into it with @c1728p9 ?

[2016-12-21 01:52] TomoYamanaka commented on #3273
Hi @c1728p9
cc @bridadan

Thank you for your comments.

I knew this test for the first time. So I will try this test as soon.
Can you tell me detail about what kind of problem is happening?

[2016-12-21 04:22] khj098765 opened #3487 "[WIZnet] WIZwiki-W7500 support for mbed OS 5 migration"
How to migration to mbed OS 5?

We need support for mbed OS 5 migration.

[2016-12-21 07:36] Testato commented on #2912
Sorry i do not understand your question, but in my repo you will found two examples that do not work.
You can use it for testing this issue
https://developer.mbed.org/users/testato/

[2016-12-21 07:39] janjongboom commented on #2908
Sure.

[2016-12-21 07:39] #2908 closed

[2016-12-21 08:59] SeppoTakalo commented on #2784
I don't agree the reason for closing this.
Features don't work as expected, therefore this bug.

I would expect features work in a way how `TARGET_*` and `TOOLCHAIN_*` would work. I would like to use the behaviour similar to `TARGET_*` so that I can, for example, drop RF drivers from example applications when Nanostack is not compiled in.

If we were able to make a workaround and release Nanostack

[2016-12-21 12:38] Nodraak commented on #3463
Should I submit a PR ? I'll go for a lunch and if nobody says otherwise i'll do it right after :)

[2016-12-21 12:57] 0xc0170 commented on #3129
I would say yes. The question to answer within this ticket is how hierarchy should look like (target inheritance).  The above code snippet I provided, is this a valid use case ? I would say it is, at least for now ,thats how its done for various targets.

cc @sg- @geky for opinions - for the question quoted in this post

[2016-12-21 13:15] #3058 closed

[2016-12-21 13:23] larsgk commented on #1592
Any news on this?

[2016-12-21 15:07] #1996 closed

[2016-12-21 15:13] 0xc0170 commented on #3487
cc @toyowata - can you please help

[2016-12-21 15:25] toyowata commented on #3487
OK.  I will.

[2016-12-21 16:22] pan- commented on #3105
@theotherjimmy You are correct, IAR and uVision don't do the merging but because they load the application at the correct memory offset and don't erase the whole flash, it is possible to work with those tools.

It would be nice to have the exported project loading the softdevice during download **and** generating a full image in post build stage.

[2016-12-21 20:20] aracosta1 commented on #2758
I had done some test and for me it's working so I close the issue.

[2016-12-21 20:22] #2758 closed

[2016-12-21 22:55] #3383 closed

[2016-12-22 00:40] #3487 closed

[2016-12-22 08:32] TomoYamanaka commented on #3273
@c1728p9

I ran the above two commands. But I did not receive an mbed assertion, did not find like the message in test log.
Also, There was another mbed board (NUCLEO) at hand, so we compared PEACH's test log and it's test log. However, I could not find the noticeable difference.

If you can reproduce in your environment, I would like to let me share test log.
Could you upload it here?

[2016-12-22 09:27] andcor02 opened #3495 "WONT COMPILE : EthernetInterface/mbed-rtos @ mbed V131, v132"
So i have had reports that the following EthernetInterface/mbed-rtos does not compile with mbed 2.0 versions from V130 onwards.

Original issue:

https://developer.mbed.org/questions/76329/Compiler-errors-with-mbed-V131-v132-and-/

I can confirm this is correct.

**To recreate the issue:**

- **Import:** https://developer.mbed.org/teams/NXP/code/Ethernet_UDP_client/?platform=FRDM-K64Fhttps://devel

[2016-12-22 09:54] 0xc0170 commented on #3495
Thanks for the reporting. we shall look at this.

I tracked down the commit that updated KSKD and removed  that structure member : 931da516a974a0f3d3aaefdb47.  This commit needs to be reflected to EthernetInterface - 177eaff8475bf07fda2fded.

cc @adbridge

[2016-12-22 10:11] 0xc0170 commented on #3487
One note: @toyowata if there's any lack of documentation related to the question above, let us know, so we can improve it.

[2016-12-22 12:11] kyliuxing opened #3496 "The return of malloc is out of the range of heap."
### Description
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug
**Target**
RDA 5991H
**Toolchain:**
ARM 5.1.7

At the beginning, malloc works normally, but after a while, i found the return is out of the range of heap. The heap start is 0x180000 but the return pointer is 0x102a80.
so please give some advice to check it, thank you!

shileiyu
RD

[2016-12-22 13:04] 0xc0170 commented on #3466
Currently not, defined in the linker script per toolchain (IAR has it predefined, others remaining space used).

@c1728p9 Is this documented anywhere? We might consider having it in the Handbook

[2016-12-22 13:21] 0xc0170 opened #3498 "K64F - I2C, PWM failures (CI test shield)"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

Failing some test cases

**Target**
K64F

**Toolchain:**
ARM (tested just ARM)

**Toolchain version:**
ARM 5.17

**mbed-cli version:**
1.0.0

**meed-os sha:**
f6f872a Merge pull request #3159 from radhika-raghavendran/master

Latest master, only failures captured below:

[code]

A

[2016-12-22 13:29] 0xc0170 commented on #3496
Can you create a code snippet to reproduce the problem?

[2016-12-22 14:29] c1728p9 commented on #3466
I think the only info we have on this is here:
https://github.com/ARMmbed/Handbook/blob/master/docs/concepts/memory_model.md

Ideally we would get IAR to match everything else so these problems wouldn't occur in the first place.

[2016-12-22 15:19] 0xc0170 opened #3499 "K22 - i2c failures (CI test shield)"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K22F

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-cli version:**
1.0.0

**meed-os sha:**
master - f6f872a

i2c tests time outs (skipped in this case).

[code]

@BlackstoneEngineering @mmahadevan108

[2016-12-23 03:09] kyliuxing commented on #3496
I have found root cause, i free a wrong address then it was added to heap.
thanks for your help!

[2016-12-23 03:09] #3496 closed

[2016-12-23 03:40] BlackstoneEngineering commented on #3499
So shouldnt this be filed with NXP as a bug rather than against the CI Test shield? That is the point of the shield after all.

[2016-12-23 03:48] BlackstoneEngineering commented on #3498
I will address these in turn

 ## PWM
On the K64F anything grater than ~63ms fails, so the 10ms and 30ms tests should pass, **these failures are a problem and should be looked into**.

## Interrupt In / Digital IO on D8/9
Check which hardware version of the K64F you are using, as i recall you tend to use an out of date K64F, we updated the default pins to work on the latest (REVD 3 ?) hardware ~2m

[2016-12-23 12:49] 0xc0170 opened #3501 "NUCLEO_F401RE - SPI, PWM and InterruptIn failues (CI test shield)"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F401RE

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
1.0.0

**meed-os sha:**
 master - f6f872a

**Expected behavior**
All tests passed

**Actual behavior**
[code]

This is out-of-box results, I haven't wired or configured anything.

[2016-12-23 13:09] #2690 closed

[2016-12-23 17:20] 0xc0170 commented on #3485
The PR referenced above was merged, lets retest and review this issue again.

[2016-12-26 21:56] ducky64 opened #3505 "CAN API is insufficient and underspecified"
### Description
- Type: Question on API-changing (or clarifying) Enhancement
- Priority: Minor, but probably only because CAN isn't used that much

### CAN API issues
Since this is an issue with an API that has been implemented on several devices already, it's unclear how this could be best resolved. Some would require new features (like querying available messageboxes or attach errors), while oth

[2016-12-27 09:29] ccli8 commented on #3440
I intercept the calls to wrapped functions below:
[code]
And find a strange point with call stack below:
[code]
In some unknown condition, `__real__realloc_r` will invocate `_free_r`, but it is `__wrap__free_r` rather than `__real__free_r` that gets called here.
1. `__wrap__free_r` is called in `__real_malloc_r` but I cannot find paired `__wrap__malloc_r` in front.
1. To my understanding, even tho

[2016-12-27 15:34] betzw commented on #3123
With the latest modifications to mbed-cli even my original approach (i.e. removing the macro with its original value and adding it again with the new value) does not work anymore. Could you pls. re-consider the proposal I have made here again?
Thanks in advance!

@theotherjimmy @screamerbg

[2016-12-27 18:00] bridadan commented on #3273
@TomoYamanaka Thanks for trying this locally. Could you tell me the version of GCC_ARM you're using? I'd like to reproduce your results locally as well. Here's my environment:

[code]

[2016-12-27 18:06] bridadan commented on #3505
@ducky64 Thanks for raising this issue and submitting your PRs! I'm not all that familiar with the CAN API, but hopefully I can bring some people in who are!

cc @0xc0170 @sg-

[2016-12-27 18:12] bridadan commented on #3440
@ccli8 I'm not all that familiar with this process either. Any ideas @c1728p9 @0xc0170 ?

[2016-12-28 01:37] TomoYamanaka commented on #3273
Hi @bridadan

Thank you for your reply.
Here is my GCC_ARM version:
[code]
<br>
It seems the same environment as yours.

[2016-12-28 15:36] 0xc0170 commented on #3440
@ccli8

If a symbol is undefined, it is replaced by ``__wrap``. If ``__real `` is undefined, it's replaced by ``symbol``.

paired __wrap__malloc_r in front ? Can you provide a bit more details?

[2016-12-28 16:14] #3485 closed

[2016-12-29 01:57] ccli8 commented on #3440
@0xc0170 In `mbed-os/nu-porting/mbed-os/platform/mbed_alloc_wrappers.cpp`, `__wrap__malloc_r` calls `__real__malloc_r`. With call stack, I also find `__real__malloc_r` internally calls `__wrap__free_r`. So I got the call sequence:

I intercept all calls to `__wrap`, so there should have been one call to `__wrap__malloc_r` before which could pair the call to `__wrap__free_r` here by comparing alloc

[2016-12-29 15:04] 0xc0170 opened #3507 "NRF52_DK - failures for PWM, SPI and I2C (CI test shield)"
### Description
- Type: Bug
- Priority: Major

Testing NRF52_DK platform with CI test shield (https://github.com/ARMmbed/ci-test-shield).

---------------------------------------------------------------
## Bug

**Target**
NRF52_DK

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
1.0.0

**meed-os sha:**
f6f872a

**DAPLink version:**
0219

**Actual behavior**

full report

[2016-12-29 15:23] 0xc0170 opened #3508 "NCS36510 - A4 and A5 pins are missing in PinNames"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NCS36510

**Actual behavior**

From ``PinNames.h`` file:

[code]

Why A4 and A5 are not defined?

cc @radhika-raghavendran @pradeep-gr

[2016-12-29 16:17] bulislaw opened #3509 "Tickless mode support proposal"
Couple of months ago while working on tickless sleep mode we faced couple of issues around implementation of low power timer:

  * accuracy
  * working mode
  * availability

and sleep:

  * wake up time
  * availability

It's a mixture of platform differences and no clear requirements for ticker and sleep implementation for targets in mbed.

To address that I'm proposing introducing an extra time

[2016-12-29 18:04] bridadan commented on #3273
Thanks @TomoYamanaka, unfortunately I'm out of office for the holidays and don't have access to a RZ_A1H, so I can't test at this time. I will do so when I return! I will try in other environments as well, it may just be something wrong with my machine.

[2016-12-30 09:57] 0xc0170 commented on #3509
Some additional details to be considered (some things from this different API are touched above):

What we had for mbed 3 was a bit different lp  ticker API , as minar was a only consumer. https://github.com/ARMmbed/mbed-hal/blob/master/mbed-hal/lp_ticker_api.h plus some additional details (target specific) like Minimum_sleep, Time_Base (ticks per second). The lp ticker resolution was ticks, a use

[2016-12-30 10:40] bulislaw commented on #3509
I generally agree with above, couple of points:
* Having someone fiddling with the tickless timer is not good, but can be worked around if we shape the API in a way that won't let people reset it or something like that. But I agree having it hidden would be probably the best idea.
* We should have different sleep modes with different power savings, and the platform can't pick the right one because

[2016-12-30 10:41] 0xc0170 commented on #3499
The PR https://github.com/ARMmbed/mbed-os/pull/3502 fixes this issue, we should close it once integrated

[2016-12-30 11:36] #3499 closed

[2016-12-30 13:48] 0xc0170 opened #3511 "NCS36510 - i2c, pwm, digitalin failures (CI test shield)"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F|??

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3

**mbed-cli version:**
1.0.0

**meed-os sha:**
 f6f872a - master

**Actual behavior**

[code]

Various failures for target NCS36510. This test was done using out of box shield, did not define any specific pin

[2016-12-31 17:49] sstaub opened #3512 "Ethernet Multicast"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
LPC1768

The UDPSocket class member
`int join_multicast_group(const char *address) `
is missing in mbed-os 5, please bring it back.

[2017-01-02 09:36] larsgk commented on #1592
Actually - I just saw this from @devanlai  (will try it out): https://developer.mbed.org/users/devanlai/code/USBDevice_STM32F103/

[2017-01-02 11:12] radhika-raghavendran commented on #3508
@0xc0170
The base board does not have A4 and A5 connected, it is left as NC. Hence not listed in the file PinNames.h
Refer https://developer.mbed.org/platforms/NCS36510/

[2017-01-03 09:18] melomaa opened #3515 "UBLOX_C027: Blinky example not working with new mbed-os"
### Description
- Type: Bug
- Priority: Major

**Target**
UBLOX_C027

**Toolchain:**
GCC_ARM

**Toolchain version:**
Tested with 4.9.3 and 5.4.1

**mbed-cli version:**
1.0.0

**mbed-os sha:**
0789928 (mbed-os-5.3) and d5de476 (mbed-os-5.2)

**Expected behavior**
LED blinks

**Actual behavior**
LED does not blink

**Steps to reproduce**
Compile mbed-os-example-blinky
mbed compile -t GCC_ARM -m UBLO

[2017-01-03 12:39] jenia81 opened #3516 "Macros aren't passed to TESTS folder during "mbed test" command"
### Description
- Type: Bug
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM|ARM

**mbed-cli version:**
1.0.0

**Expected behavior**
macros that are passed to the "mbed test" command should be passed to TESTS files too.

**Actual behavior**
macros that are passed to the "mbed test" command aren't passed to TESTS fil

[2017-01-03 13:05] 0xc0170 commented on #3516
cc @theotherjimmy @bridadan

[2017-01-03 13:32] 0xc0170 commented on #3515
@mazgch

[2017-01-03 13:46] bcostm commented on #3501
I have tested it today:

[code]
ci-test-shield version:
`c06899d` Merge pull request #14 from 0xc0170/dev_debug_msg
mbed-os version:
`e7361eb` Merge pull request #3365 from OpenNuvoton/nuvoton_usb

Note that the same ERROR are present on other platforms.  Don't know yet the root cause.

[2017-01-03 14:12] #1685 closed

[2017-01-03 15:16] 0xc0170 commented on #3508
Refer https://developer.mbed.org/platforms/NCS36510/

Thanks, a curiosity - why those pins are NC? We use those pins for https://github.com/ARMmbed/ci-test-shield tests. Here's AnalogOut test cases - https://github.com/ARMmbed/ci-test-shield/blob/master/TESTS/API/AnalogIn/AnalogIn.cpp#L67

cc @BlackstoneEngineering

[2017-01-03 15:17] 0xc0170 commented on #3512
cc @geky @c1728p9

[2017-01-03 16:01] adustm commented on #1632
Hello,
As Ethernet is supported for F7 familly, are we happy to close this issue ?
Cheers
Armelle

[2017-01-03 16:03] adustm commented on #2406
Hello
It looks like this request won't happen and the issue won't be solved (target too small for the request).
Can someone close the issue, please ?
Cheers
Armelle

[2017-01-03 16:06] adustm commented on #2676
Hello @sg- , happy 2017 to you :)

I think this issue is fixed now. Could you close it ?
Cheers
Armelle

[2017-01-03 16:16] adustm commented on #2783
Hello,
. with mbed_lib_rev132, MBED_37/MBED_38 tests are OK for IAR / GCC_ARM / ARM
Can we close this issue?
Cheers

[2017-01-03 16:24] 0xc0170 commented on #1109
I believe this can be closed. RTX was updated to 4.8 few months back. and we are working on updating to RTX version 5.

[2017-01-03 16:24] #1109 closed

[2017-01-03 16:34] adustm commented on #2689
Hello,
with mbed_lib_rev132, we have :
* every build ok for NUCLEO_L053RB,
* the following build ok / nok for NUCLEO_F334R8
[code]

@jeromecoutant are you aware of this ?
Cheers
Armelle

[2017-01-03 16:37] adustm commented on #2796
Hello,
Jerome's results are confirmed on the mbed_lib_rev132.

Can someone close this issue ?
Cheers
Armelle

[2017-01-03 16:42] bridadan commented on #1632
Thanks for following up @adustm, I'll go ahead and close this.

[2017-01-03 16:42] #1632 closed

[2017-01-03 16:43] #2406 closed

[2017-01-03 16:44] bridadan commented on #2783
@bulislaw If you're happy could you please close the issue? Thanks.

[2017-01-03 16:45] adustm commented on #2829
Hello,
@sandeepach do you still face this issue ?
@bcostm if this board is not mbed enabled as explained by @ohagendorf , can we still add the "releases" field in targets.json ?

@adbridge, as explained by bcostm, this board is not supported by st team.
If someone has ever tested it and provides the test results here, we could think of adding "release" in targets.json.
Any volunteers ?

Cheers
Arm

[2017-01-03 16:45] bulislaw commented on #2783
Closing, thanks!

[2017-01-03 16:45] #2783 closed

[2017-01-03 16:46] bulislaw commented on #2796
Thanks!

[2017-01-03 16:46] #2796 closed

[2017-01-03 16:47] bridadan commented on #2829
That's a good question, I'm actually not sure of our official stance on that. Any thoughts @sg-?

[2017-01-03 18:09] #2676 closed

[2017-01-03 18:17] theotherjimmy commented on #2912
I was asking if it is possible for the EmBlock IDE to run `make`? Further, would generating a project file that runs `make` be acceptable?

[2017-01-03 18:25] theotherjimmy commented on #3359
@sstaub
The options being available is a bug with the website that should be fixed in the near future.

The export aborting is related to the fact that your target does not support the UVision5 export (UVision 4 is deprecated in favor of 5). The only export that your target supports is make_armc5.

[2017-01-03 18:43] bridadan commented on #3516
Thanks for raising this issue @jenia81. The line you mentioned was indeed the problem, I've submitted PR #3518 to fix this. Would you mind verifying that my changes fix the issue?

[2017-01-03 20:07] helmut64 opened #3520 "STM32L4 mbed start resets the RTC to zero."
- Type: Bug STM32L4 (all STM boards)

I figured out that every time a CPU reset gets done the RTC clock gets inititalized to zero. I believe I found out where: lp_ticker_init() -> rtc_init() ->rtc_write(0);

I feel that this is a bug because the power is still active and my RTC clocks continues. It should not reset the clock unless there is an invalid dated during startup, e.g. less than the curre

[2017-01-03 20:12] bridadan commented on #3520
cc @adustm @bcostm @jeromecoutant

[2017-01-03 20:28] BlackstoneEngineering commented on #3508
If the pins are left out then the CI Test shied assertion should fail. We probably should add an assertion that tests to make sure none of the pins that are required are NC's.

[2017-01-03 21:42] theotherjimmy commented on #2912
Actually, could you review #3521 @Testato ? I think it should fix you problem offline. Then I can work on getting the website up to date with it.

[2017-01-03 21:44] theotherjimmy commented on #2736
@ivankravets Since you seem interested in the Em::Blocks/EmBitz exporter, could you review #3521 ?

[2017-01-03 22:15] bittailor commented on #2598
All the _TARGET_SAM_CortexM0P_ targets have the same issue, since they also call the IRQ handler directly inside us_ticker_set_interrupt when the event already occurred in the past:

[code]

I run into this problem by using mbed-events on a _SAMD21G18A_ target:

[code]

This stops working after about 1/2 hour. The problem is that mbed-events uses a Ticker to avoid Timer overflows but that ticker d

[2017-01-03 22:36] ivankravets commented on #2736
@theotherjimmy thanks! I've just tested it and I don't see any duplicates. 👍

[2017-01-04 06:18] jenia81 commented on #3516
@bridadan No problem, I'll check and let you know

[2017-01-04 07:57] LMESTM opened #3522 "i2c_byte_read documentation does not define the return types in error case"
i2c_byte_read simply says that it shall return the read byte - but what shall be returned in case of error ?

https://github.com/ARMmbed/mbed-os/blob/master/hal/i2c_api.h#L136

### Description
- Type: Enhancement

Incomplete documentation

**Target**
ALL

[2017-01-04 09:19] 0xc0170 commented on #2598
@bittailor Thanks for the detailed description. As I undestand you were not able to make it work similar to other implementations, for instance for K64F:

[code]

cc @kpurusho @akhilpanayamparambil @vimalrajr (for the above issue)

[2017-01-04 10:17] #2922 closed

[2017-01-04 10:21] peeyushpashine opened #3523 "NUCLEO 103RB: Why removing flag DEVICE_SERIAL_FC=1 gives this error?"
When removing DEVICE_SERIAL_FC=1 from Nucleo F103RB gives the below linking error while compiling:
BufferedSerial.o:(.rodata._ZTV14BufferedSerial+0x4c): undefined reference to `non-virtual thunk to mbed::Serial::lock()'
BufferedSerial.o:(.rodata._ZTV14BufferedSerial+0x50): undefined reference to `non-virtual thunk to mbed::Serial::unlock()'
BufferedSerial.o:(.rodata._ZTV14BufferedSerial+0x54): und

[2017-01-04 10:31] bittailor commented on #2598
Yes, I tried
[code]

put this did not work.

The interrupt is triggered and the `TC4_Handler` is called and calls `_tc_interrupt_handler` which checks the TC register to call the appropriate callback(s) but since the TC register is not set (interrupt was triggered by software and not the TC hardware) none of the callbacks is triggered.

[code]

I also tried to change the interrupt handler by provi

[2017-01-04 10:47] LMESTM commented on #3523
Have you tried to clean (-c option) and even to manually remove build folders ?

[2017-01-04 11:38] #3225 closed

[2017-01-04 11:38] #2742 closed

[2017-01-04 11:38] #2740 closed

[2017-01-04 11:51] radhika-raghavendran commented on #3511
@0xc0170
DIO tests  "tests-api-digitalio        | Digital I/O on DIO_6/DIO_7" is failing because the DIO_7 pin is not connected to any GPIO line. I have tested DIO_6(D6) for toggling low to high and vice versa and verified working by hooking on an oscilloscope. The IO lines DIO_7, DIO_8 and DIO_9 are NC on NCS36510 board, hence the 4 tests related to these pins are failing.
InterruptIn tests "test

[2017-01-04 11:52] andcor02 commented on #3372
Are there any plans to allow this to be supported, at some point?

[2017-01-04 12:06] andcor02 opened #3524 "EthernetInterface MBED-OS 5.3 static IP"
Hi,

I am forwarding the issue from multiple users have problems setting static IP in MBED OS 5.

**Problem:**

- Users cannot set static IP

- Users have tried to use: `virtual nsapi_error_t set_network(const char *ip_address, const char *netmask, const char *gateway);` However the following errors are output

https://developer.mbed.org/questions/76349/EthernetInterface-MBED-OS-53-static-IP/#answ

[2017-01-04 13:46] jeromecoutant commented on #2913
Hi

STM32F7 drivers are OK,
and BSP_DISCO_F746ZG library is also OK thanks to Bruno's update,
so I think we can close this issue.

More information in mbed-os/targets/TARGET_STM/TARGET_STM32F7/device/Release_Notes_stm32f7xx_hal.html
 => V1.1.0 / 22-April-2016
    => HAL SAI update part

[2017-01-04 14:43] #2913 closed

[2017-01-04 15:09] bulislaw opened #3525 "Tests: spawned processes not killed when 'mbed test' terminated"
### Description
- Type: Bug
- Priority: Minor

## Bug

`mbed test [...]` spawns number of processes that keep running after the main application is terminated (eg using Ctrl+c), requiring user to find them and kill them manually when they want to cancel the test run.

We should be trapping the KeyboardInterrupt and killing the processes we spawned cleanly.

@bridadan @mazimkhan

[2017-01-04 16:00] 0xc0170 commented on #3511
@radhika-raghavendran Thanks for the update. As I understand some of arduino pins are defined as NC, therefore our CI shield tests fail.  I've just sent PR to add a check if pin is not NC, to easily detect that pins we test are well defined (=connected).

What about the rest of the tests from the above report?

[2017-01-04 17:01] bridadan commented on #3524
cc @geky

[2017-01-04 17:09] bridadan commented on #3525
Thanks for reporting this @bulislaw, can you give me more details about your environment so I can reproduce it?

Specifically, could you provide your:
- OS
- Python version
- output of `pip list`
- The output of `mbed test [...]` when you hit Ctrl-C

Thanks!

[2017-01-04 17:34] geky commented on #3524
Related issue https://github.com/ARMmbed/mbed-os/issues/3234#issuecomment-261019778

It looks like the initialization of lwip for static ip addresses doesn't set a dns server. It does for ipv6, but it looks like the path for ipv4 relies on dns servers from dhcp. Working on a patch to fix this.

[2017-01-04 17:40] geky commented on #3234
Thanks for raising the issue. @YixiaoLi's is right that the `lwip_connected = true` statement needs to be moved.

It looks like the initialization of lwip for static ip addresses doesn't set a dns server. It does for ipv6, but it looks like the path for ipv4 relies on dns servers from dhcp. I think the issue is the same on the Odin board. Working on a patch to fix this.

With @YixiaoLi you should

[2017-01-04 18:34] geky commented on #3234
Hopefully #3526 resolves all these problems, let us know if there are still issues.

[2017-01-04 18:34] geky commented on #3524
Hopefully #3526 resolves all these problems, let me know if there are still issues.

[2017-01-04 19:50] pilotak opened #3527 "LPC17XX CAN::attach OS 5.2"
When I need to attach RxIrq on CAN, program runs fine until I start transmitting data on bus and than the program freezes, only hardware reset button helps. Is there a bug or am I missing something? it works with the old mbed (not OS)```http://mbed.org/users/mbed_official/code/mbed/builds/63bcd7ba4912```

[code]

### Description
- Type: Bug | Question
- Priority: Minor

---------------------------

[2017-01-04 20:40] bittailor commented on #2598
This [Gist](https://gist.github.com/bittailor/5ac36c2f33c5d0495cc68f54155b71df) quickly reproduces the problem on a _SAMD21G18A_ target.

I also had to improve my dirty workaround since us_ticker_read() changes from when its compared with the timestamp until the timestamp is set as TC compare value.

[code]

[2017-01-05 03:55] peeyushpashine commented on #3523
Yes I did that. cleaning the project, deleting the build folders and re-building it as well gives the same issue. I do not find this virtual methods _putc(), getc() defined under the DEVICE_SERIAL_FC macro and which is the case with other hardware as well, still only for 103rb i face this issue.

[2017-01-05 05:27] radhika-raghavendran commented on #3511
@0xc0170 Can you tell us the method to reproduce this set of results? I cloned the ci-test-shield repo and ran the tests according to the instructions given in https://github.com/ARMmbed/ci-test-shield. I need to run each of the tests individually, I don't get a consolidated report like you do.

[2017-01-05 08:54] bcostm commented on #3523
No I have no explanation.

I compiled sucessfully the NUCLEO_F103RB with DEVICE_SERIAL_FC removed from targets.json.

I checked the following command lines:
python build.py -v -x -c -m NUCLEO_F103RB -t ARM -j 4
python build.py -v -x -c -m NUCLEO_F103RB -t GCC_ARM -j 4
mbed test -vv -m NUCLEO_F103RB -t ARM --compile
mbed test -vv -m NUCLEO_F103RB -t GCC_ARM --compile

What is your command line to c

[2017-01-05 10:46] bulislaw commented on #3525
I wouldn't think it's setup specific.
OS: MacOS and Linux
Python: 2.7.12
`pip list`
[code]

Output:
I'm getting `[mbed] User aborted!` but the background processes keep going
[code]

[2017-01-05 10:48] bulislaw commented on #3525
Right now i'm using `ps aux | grep mbed-os | awk '{print $2}' | xargs kill` to kill the tests after i terminate the main process with Ctrl-C

[2017-01-05 12:25] 0xc0170 commented on #3527
cc @toyowata

[2017-01-05 12:38] 0xc0170 commented on #3511
``mbed test -n tests-api-* --app-config .\mbed_app.json --compile``

[2017-01-05 13:12] bittailor opened #3529 "Eclipse export generates wrong formatted Include Paths inside the .cproject"
### Description
- Type: Bug
- Priority:  Minor

When exporting a application to eclipse `mbed export -i eclipse_gcc_arm` and importing it into an Eclipse workspace Eclipse shows lots of `Invalid project path:` warnings:

<img width="889" alt="screen shot 2017-01-05 at 13 04 46" src="https://cloud.githubusercontent.com/assets/575221/21681155/3e807b0c-d34e-11e6-828f-fb42e3323aab.png">

This is becau

[2017-01-05 13:21] janjongboom opened #3530 "Makefile does not support `DEBUG=1` anymore..."
As far as I can see - using the local export to makefile - `make DEBUG=1` no longer produces a debug build.

I fixed it [this way](https://github.com/janjongboom/mbed-os-example-blinky/commit/c6cf103299076263eac5f8c4430da036208d3175) by patching the Makefile, but I'm unsure how to translate this patch into a proper PR against the Makefile exporter.

@theotherjimmy @sg- @bridadan

[2017-01-05 13:26] 0xc0170 commented on #3529
cc @theotherjimmy

[2017-01-05 13:28] bittailor commented on #3529
See pull request #3531

[2017-01-05 14:21] janjongboom commented on #3529
@bittailor Which OS is this on? I don't have this issue on macOS 10.11.2...

[2017-01-05 14:48] bittailor commented on #3529
OS is **OS X El Capitan 10.11.6** so nearly the same as yours.
Eclipse is **Neon Release (4.6.0)**

[2017-01-05 14:54] janjongboom opened #3533 "Eclipse pyOCD debugging does not work on macOS / Linux out of the box due to hard-coded .exe"
In pyocd_settings.html we define:

[code]

Which is obviously not going to work on non-Windows systems. I'm wondering how we could fix that. Just pointing to `arm-none-eabi-gdb` would be enough, the makefile depends on the PATH anyway.

@theotherjimmy

[2017-01-05 14:56] theotherjimmy commented on #3533
*sigh* I thought @sarahmarshy changed that to exclude the `.exe` suffix, but apparently it did not get in.

You are correct: This is clearly wrong. PRs definitely accepted.

[2017-01-05 15:10] janjongboom commented on #3533
@theotherjimmy So... the variable is in the pyOCD plugin for Eclipse [here](https://github.com/gnuarmeclipse/plug-ins/blob/develop/ilg.gnuarmeclipse.debug.gdbjtag.pyocd/preferences.ini#L60) but no idea how to expose this to the Eclipse variables...

[2017-01-05 15:32] pilotak commented on #3527
Another note, when i tried to put it into event queue i get an error through serial port:
`RTX error code: 0x00000002, task ID: 0x00000000` if that helps
[code]

[2017-01-05 16:06] Patater opened #3535 "It should be possible to write out a serial port asynchronously without DMA (using `DMA_USAGE_NEVER`)"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
Observed on K64F
Should be reproducible on any other target supporting async serial and DMA

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 5.4.1 20160919 (release) [ARM/embedded-5-branch revision 240496]

**mbed

[2017-01-05 16:28] bridadan commented on #3516
@jenia81 Did you have a chance to check it out?

[2017-01-05 16:46] bridadan commented on #3530
I think it will work if you do `mbed export --profile debug`?

[2017-01-05 16:52] bridadan commented on #2073
Closing as it looks like #2177 fixed this.

[2017-01-05 16:52] #2073 closed

[2017-01-05 16:53] bridadan commented on #2909
Any update on this?

[2017-01-05 16:56] adustm commented on #2909
Hi @bridadan
The update of STLInk firmware for windows 10 should be available next week. Waiting for it

[2017-01-05 16:56] janjongboom commented on #3530
@bridadan \o/ ! Yeah that works.

[2017-01-05 16:56] #3530 closed

[2017-01-05 17:14] #698 closed

[2017-01-05 17:27] bridadan commented on #3535
cc @0xc0170 @mmahadevan108

[2017-01-05 18:54] bittailor commented on #3529
@janjongboom do you also have no warning signs (orange triangle with exclamation mark) on the include directories when you open `Properties` with a right click on the mbed project and then go to  `C++ General => Paths and Symbols` and then select `Includes` tab?

[2017-01-05 20:26] jenia81 commented on #3516
@bridadan I've checked and it's working

[2017-01-05 21:02] bridadan commented on #3525
I believe this is a problem that only affects MacOS and Linux. I can't reproduce the issue on Windows machines. @geky you see this issues as well, correct?

[2017-01-06 12:08] janjongboom commented on #3529
@bittailor Ah there, yes, I see that. Good catch. 👍

[2017-01-06 12:09] helmut64 commented on #3520
I am sorry, no bug in mbed, it has been a software but in my app. I close this.

[2017-01-06 12:09] #3520 closed

[2017-01-06 16:26] bridadan commented on #3273
Hi @TomoYamanaka, it turns out it wasn't the HEAP_STATS but it was the STACK_STATS that was causing the issue.

Could you please run the following commands your machine and see if you get a similar error?

In a fresh workspace:
[code]

This was the output from the test command:
[code]

This is the error line causing the TIMEOUT:
[code]

Can you confirm you see something similar? If you don't see i

[2017-01-06 16:33] andcor02 commented on #3216
Can anyone update me on this?

[2017-01-06 17:04] mbartling opened #3541 "NUCLEO-F429ZI SPI SCLK unexpected signal"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NUCLEO-F429ZI

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 6.2.1 20161205 (release) [ARM/embedded-6-branch revision 243739]

**mbed-cli version:**
1.0.0

**mbed os version**
MBED_LIBRARY_VERSION 127
MBED 2

**

[2017-01-06 17:51] bridadan commented on #3541
cc @bcostm @adustm

[2017-01-06 19:16] geky commented on #3525
Yes, seems to pop up on *nux machines. I think Windows is more aggressive at terminating child processes, so that's probably why this issue isn't apparent in Windows.

[2017-01-06 20:08] BlackstoneEngineering commented on #3541
@screamerbg

[2017-01-06 20:26] sg- commented on #2676
@adustm Happy new year!

[2017-01-07 14:17] helmut64 opened #3542 "STM32L4 deepsleep broken between 132 and 133 by Jerome Countant changes"
The STM32L4 deeplseep in rev-133 needs 120uA instead of 7uA in rev-132 due to the changes of Jerome Countant in checkin: 8627204d3667dfc548c2b138d70f0bb065fdd0d0, see changes in sleep.c->deepsleep, restoring this changes is a workaound. I believe the "HAL_PWREx_EnableLowPowerRunMode()" enable/disable is missing.
- Type: Bug

I tested this with the L4 Nucleo64 board.

BTW: If there is more we can d

[2017-01-08 06:33] DavidPowell opened #3543 "mbed-events breaks Timeout on STM32F4"
### Description
- Type: Bug
- Related issue: ARMmbed/mbed-events#16
- Priority: Major
---------------------------------------------------------------
## Bug

**Target**
STM32F4

**Toolchain:**
GCC_ARM

**mbed version:**
Revision 131 (bundled with platformio)

**Expected behavior**

Using `Timeout` to creating a callback to turn off a pin after 50us, I expect to see the pin turn off when looking wi

[2017-01-08 17:20] Sissors commented on #3299
@odinthenerd , you mean like the FastIO libs? They are more efficient indeed, although some cases (like here toggling between input and output) can be alot better even in the current setup. Personally I dislike the requirement to use the driver libs of manufacturers. If it works, fine, but don't use workarounds just to be able to use those driver libs.

Now back to my 'problem', since yet again so

[2017-01-09 07:04] akhilpanayamparambil commented on #2598
@bittailor How did it behave after the work around mentioned above ?

[2017-01-09 08:03] bittailor commented on #2598
@akhilpanayamparambil For my application and board the workaround fixed the problem and the code run for more than a day without any issue.

What I don't like in my workaround is the timing I need to use (`#define MIN_DELTA 100`), since this probably depends on CPU frequency and other things. I tried different values with my board and with a value of 50 it started to worked so I duplicated the val

[2017-01-09 08:16] LMESTM commented on #3541
@mbartling
Just to make sure I understand it right.

Have you modified resistors of your X-nucleo board as described in the below page ?
 https://developer.mbed.org/teams/ST/code/X_NUCLEO_IDB0XA1/
This is needed because the SPI_CLK signal is not available on D3 for NUCLEO_F429ZI (whereas this is available on NUCLEO_F401RE)

Also have you made sure that your program doesn't use LED1 ? (as LED1 is d

[2017-01-09 09:43] bcostm commented on #3216
Checked today, still the same...

[2017-01-09 09:44] radhika-raghavendran commented on #3511
@0xc0170
PWM on NCS36510 cannot operate on GPIO10(D6) and D9 is NC. Hence PWM2 and PWM3 definitions cannot be used in the ci-test for PWM.
Also, NCS36510 does not have the capability to change the frequency/period. All tests for frequency and duty cycle(which rely on frequency internally) in the pwm test are invalid for NCS36510.
I had previously requested the ARM mbed team to let me know of a way

[2017-01-09 10:35] charles1122 commented on #3216
yes,failed to export

[2017-01-09 10:36] jeromecoutant commented on #3542
Hi
I confirm that current deepsleep consumption is 120uA with NUCLEO_L476RG
This becomes back to 7uA after adding HAL_PWREx_EnableLowPowerRunMode() call

Thanks Helmut for issue reporting

Jerome

[2017-01-09 10:53] akhilpanayamparambil commented on #2598
@bittailor We will have to find out the time taken for one CPU operation with the current frequency and arrive at a optimum value (Approx CPU cycles in between these instructions * Time taken for one CPU operation) in the run time instead of using MIN_DELTA. This will make the implementation more complex and the time taken shall be added up once we add this piece of code. So its better to use your

[2017-01-09 10:58] akhilpanayamparambil commented on #2598
cc @Parthasarathy

[2017-01-09 13:08] 0xc0170 commented on #3216
@theotherjimmy please have a look

[2017-01-09 13:33] 0xc0170 commented on #3543
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-01-09 13:58] 0xc0170 opened #3545 "InterruptIn - enable/disable IRQ - deprecate?"
### Description
- Type: Question
- Priority: Major

## Question

The InterruptIn defines 2 methods: ``enable_irq()`` and ``disable_irq()`` - https://github.com/ARMmbed/mbed-os/blob/master/drivers/InterruptIn.h#L138. These are wrappers for ``gpio_irq_enable/disable`` HAL functions - https://github.com/ARMmbed/mbed-os/blob/master/hal/gpio_irq_api.h#L73

``gpio_irq_enable/disable`` are not well defin

[2017-01-09 14:05] 0xc0170 commented on #3299
Looks promising.

C++98 is the default one currently.

Here is the relevant code: https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/pinmap.c#L164, it only sets pull resistors, it never enables OpenDrain mode. So test program where open drain output is set at '1', results in 26mA current if I pull it low externally through my multimeter. If I manually set the register

[2017-01-09 14:08] LMESTM commented on #3299
@0xc0170  I know - this is in my to do list since a while. Should be one of my next tasks

[2017-01-09 14:12] 0xc0170 commented on #3511
Please create an issue to track this and discuss further.

Tests should not fail but might result as "Not supported" in this case. If defined PIN is NC. This could be also proposed in ci-shield test repository. We can clearly see that some targets do not fully support all arduino headers and pin requirements.

cc @BlackstoneEngineering

[2017-01-09 16:08] bridadan commented on #3543
May also be of interest to @geky

[2017-01-09 16:17] #3463 closed

[2017-01-09 16:23] #3516 closed

[2017-01-09 16:27] #3234 closed

[2017-01-09 16:31] BlackstoneEngineering commented on #3511
cc @maclobdell

To signal that the PWM API is not supported you would simply not define it : https://github.com/ARMmbed/ci-test-shield/blob/master/TESTS/assumptions/PwmOut/PwmOut.cpp#L19

The problem here is the board supports PWM, but not the full API. So far we do not have tests for this but instead assume all API's are fully implemented.

@screamerbg This may be a good use case for why we shoul

[2017-01-09 17:28] #2736 closed

[2017-01-09 17:28] #2912 closed

[2017-01-09 17:45] mbartling commented on #3541
I am confused by the wording of the modified resistor page, am I supposed to perform the hardware hack if I am using pin D13?

Also, please note that this is an issue with the F429ZI board itself as I cannot get any of the SPI1_SCLKs to initialize using the mbed API.

[2017-01-09 17:46] mbartling commented on #3501
+1

[2017-01-09 19:29] theotherjimmy commented on #3216
So, The exporters on the website are very old right now. Really, you are getting lucky if any of them work. The are being updated. In the mean time, you could try importing with mbed-cli and exporting from there.

[2017-01-09 21:30] bridadan opened #3549 "[ARCH_PRO] features-feature_lwip-tests-mbedmicro-net-udp_dtls_handshake test failing"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
ARCH_PRO

**Toolchain:**
GCC_ARM, ARM, and IAR

**mbed-cli version:**
1.0.0

**mbed-os sha:**
3a326c0b9411c16b44ccca47c5deb2edf340642b

**Expected behavior**
Test should pass.

**Actual behavior**
The test does not pass! Below is the output from the test:

[code]

**Ste

[2017-01-10 01:42] geky commented on #3543
Hi @DavidPowell, thanks for raising the issue and example. Looks like this was a simple bug in the non-rtos implementation of mbed-events.

Interestingly, it wasn't an issue with critical sections, but actually an unchecked overflow when the event queue tries to create a timeout before going to sleep. This line didn't check for -1, which is used in mbed-events to represent an infinite wait/dispatc

[2017-01-10 03:42] maclobdell commented on #3404
@geky is the issue the semaphore timing (which I assume uses ticks generated by systick interrupt) or is the issue that the test uses us_ticker_read to check the semaphore timing?  In the failing case, is it consistently 65ms  shorter than expected.  @radhika-raghavendran  @pradeep-gr  - is there any possible condition that could sometimes cause us_ticker_read function to return a value that is sm

[2017-01-10 09:45] TomoYamanaka commented on #3273
@bridadan

Thank you for your commnets.

As a result of executing in your method, I could reproduce the similar phenomenon.
<br>

[code]
<br>
Does this TIMEOUT message mean that there is not enough stack size to set in the test ?

[2017-01-10 10:43] #3246 closed

[2017-01-10 10:43] LMESTM commented on #3541
I haven't tried it myself, but here is my understanding.

From https://developer.mbed.org/teams/ST/code/X_NUCLEO_IDB0XA1/: The X-NUCLEO-IDB04A1 and X-NUCLEO-IDB05A boards are using D3 pins by default. Those boards need to be HW modified (resistors change) to use D13 instead of D3.

For NUCLEO_F401RE, the resistor change is not required, because SPI1 pin SPI_SCLK can be routed to D3 as shown here: