[2017-12-14 15:06] NirSonnenschein commented on #5680
yes the issue seems to reproduce more easily in the Jenkins lab environment (happens there pretty often but I was not able to reproduce on the local network).

[2017-12-14 15:21] bmcdonnell-ionx commented on #5679
@pan-

On closer inspection, it looks like these `using` statements are just specifying for these multiply-derived classes - within the scope of the classes - which of several inherited member functions by the same name to use as "their own". Assuming I've interpreted correctly, then I agree that these few should remain.

(Emphasis mine.)

I don't think the modest gain for beginners here is worth

[2017-12-14 15:25] jvn314 opened #5709 "Nucleo-L432KC Drag-and-Drop Programming of .bin files not always working"
### Description
- Type: Bug
- Related issue: https://os.mbed.com/forum/bugs-suggestions/topic/28258/?page=1#comment-53688
- Priority: Blocker

## Bug
**Target**
STM Nucleo-L432KC

**Toolchain:**
Mbed Online Compiler

**Toolchain version:**
mbed 2.0 Library Revisions 153,154,155,156,157 (Revision 152 seems OK)

**Operating system:**
Windows 8.1 fully patched

**ST-LINK, ST-LINK/V2, ST-LINK/V2-1 USB

[2017-12-14 15:37] 0xc0170 commented on #5709
@ARMmbed/team-st-mcd please review

[2017-12-14 15:41] jeromecoutant commented on #5709
Hi

Up to date version is 2.29.18
Before this version NUCLEO_L432KC can't boot

Regards,

[2017-12-14 16:06] jvn314 commented on #5709
Thank you! Confirming that latest firmware upgrade from
http://www.st.com/en/development-tools/stsw-link007.html
works.

Not sure how i got to 2.28.18, but I think it's because all versions are called en.stsw-link007.zip and I grabbed a previous download to unzip.

Thanks for the quick response. All good now.

[2017-12-14 16:07] #5709 closed

[2017-12-14 16:37] c1728p9 commented on #3130
@daniel-cesarini-tridonic-com the return values can't be removed in mbed 5 as this would break backwards compatibility, otherwise the return values would be removed. Errors that indicate a bug in users code, such as a mutex lock failing, will be fatal in debug and develop builds so the error cannot be ignored.

[2017-12-14 16:57] #4370 closed

[2017-12-14 17:06] pan- commented on #5679
Here is an [example](https://github.com/ARMmbed/mbed-os/blob/master/platform/ATCmdParser.h#L23) with the ATParser header. It is not possible to import definitions present in that header without polluting the global namespace because it includes `mbed.h` rather than the individual headers required.

[2017-12-14 17:16] bmcdonnell-ionx commented on #5679
I'm still not clear on what you're saying. `mbed.h` is not a module.

What would be an example of "importing a definition"?

...I'm not a fan of the single monolithic header file (`mbed.h`) for the whole library/OS either, but I'm less sure that that's a bad thing (compared to these `using` statements), and I figured it's a separate discussion.

[2017-12-14 17:21] cmonr commented on #4344
Looks like this was completed: https://os.mbed.com/blog/entry/Adding-a-Visual-Studio-Code-exporter/

[2017-12-14 17:21] #4344 closed

[2017-12-14 17:30] cmonr commented on #4806
Closing since activity has migrated to PR: https://github.com/ARMmbed/mbed-os/pull/5342

[2017-12-14 17:30] #4806 closed

[2017-12-14 18:58] samchuarm commented on #5056
Hi @JammuKekkonen Can this issue still be reproduced with the latest master? There's been several fixes from Realtek to address instability since Oct.

[2017-12-15 01:19] ismailhkose opened #5711 "mbed can't find a header file in a folder"
- Type: Bug
- Priority: Blocker

I developed a class and header for my device and put it in a folder in the root directory, then included the header file in main,cpp; however, it cant find the header file. I think there might be a bug in header name file parser in mbed-cli/mbed. When I move them to in root folder. It finds and builds successfully.

-------------------------------------------------

[2017-12-15 02:32] Archcady commented on #4651
Hi, Is this being built in the Keil IDE or just using the ARMCC compiler inside the Keil MDK package?

[2017-12-15 07:31] Archcady commented on #4611
IS this issue still open?

[2017-12-15 07:56] JanneKiiskila commented on #4611
@0xc0170  @bulislaw  - it's not open anynmore, this issue should be closed (like my comment 12 days ago already suggested).

[2017-12-15 08:34] daniel-cesarini-tridonic-com commented on #3130
@c1728p9 : and what should happen in production builds? How should (possible) errors be handled there?
Should they silently happen ... without any notice?

[2017-12-15 10:35] dhwalters423 opened #5712 "tools/detect_targets.py using deprecated call mbedls.get_details_txt"
Calling `mbed detect`, causes the following WARNING:

``
WARNING:mbedls.lstools_base:Call to deprecated function get_details_txt. This method will be removed from the public API. Please use 'list_mbeds' instead
``

The relevant line is: https://github.com/ARMmbed/mbed-os/blob/4d81eadb25a509d82d54439c5674843779d30470/tools/detect_targets.py#L116

This is related to this PR by me: https://github.com

[2017-12-15 11:53] amq commented on #5692
I think something like this could be enough:

[code]

[2017-12-15 12:44] janjongboom opened #5713 "nRF52 does not go to sleep"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
nRF52-DK

**Toolchain:**
ARM / GCC_ARM

**mbed-os sha:**
Mbed OS 5.6.6

**Expected behavior**

1.5 uA current in sleep mode, as observed in older versions of Mbed

**Actual behavior**

900 uA current in sleep mode

https://os.mbed.com/questions/79731/nrf52-mbed-os-huge-power-consumption

[2017-12-15 12:45] 0xc0170 commented on #5713
@pan- @ARMmbed/team-nordic please review

[2017-12-15 12:45] 0xc0170 commented on #5692
@theotherjimmy @c1728p9 please review

[2017-12-15 13:49] 0xc0170 commented on #5284
How can we help? We had some ideas above, but did not find a solution to this problem

[2017-12-15 14:18] RobMeades commented on #5573
FYI, it _looks_ as though this may be caused by the Dell Support Assist Agent interacting badly with the STLink USB driver for the board.  Having uninstalled the Dell Support Assist Agent I believe the problem has gone away but I'll leave it a little longer to be completely sure.

[2017-12-15 14:46] pan- commented on #5713
The code exhibited by the user is incorrect because it is the RTOS determine when the system is able to go to sleep. Calling WFE/WFI directly is begging for trouble.

Similarly, the function `sleep` should not be used by application code when the RTOS is present. This function put the system to sleep until an interrupt is triggered; the ticker used by the RTOS kicks in every ms. In other word, the

[2017-12-15 14:46] #5713 closed

[2017-12-15 14:56] 0xc0170 commented on #5711
Can you use verbose for compilation so we can review what paths are there? I would  check if your /path is in the include paths first.

how is your header file included in the code? What include paths are set?

[2017-12-15 14:57] 0xc0170 commented on #5706
@ARMmbed/team-ublox Please review

[2017-12-15 15:09] c1728p9 commented on #3130
@daniel-cesarini-tridonic-com runtime errors will still cause a trap by the use of the `error` function. The sanity checking asserts are turned off and ignored. This is not my call to make. If you are unhappy with it then please open an issue to discuss this.

As for this ticket, it sounds like the consensus is socket shouldn't need to check the return value of lock. Unless you have more questions

[2017-12-15 15:40] dhwalters423 commented on #5712
Submitted https://github.com/ARMmbed/mbed-os/pull/5715 awaiting review

[2017-12-15 15:43] scartmell-arm opened #5716 "Bug - I2C::abort_transfer() can decrement/unlock deep sleep manager lock without ever incrementing/locking it"
### Description

- Type: Bug
- Related Issue: #5717
- Priority:  Minor

When initialising an `I2C::transfer()` the function will call `sleep_manager_lock_deep_sleep()`  to disable deep sleep mode while the transfer is in progress. When the transfer is complete via `I2C::irq_handler_asynch()` or aborted via `I2C::abort_transfer()` , `sleep_manager_unlock_deep_sleep()` is called decrementing the loc

[2017-12-15 16:29] scartmell-arm opened #5717 "Bug - SPI::abort_transfer() can decrement/unlock deep sleep manager lock without ever incrementing/locking it"
### Description

- Type: Bug
- Related issue: `#5716`
- Priority:  Minor

When transferring data using `SPI::start_transfer()` deep sleep mode is disabled by calling `sleep_manager_lock_deep_sleep()`. When the transfer is complete or aborted `sleep_manager_unlock_deep_sleep()` is called decrementing the lock count counter, and potentially re-enabling deep sleep mode.

The deep sleep manager tracks

[2017-12-16 12:25] amq commented on #5692
Another workaround:

1. Open the `Debug Configuration`

2. In `Startup` tab, uncheck `Pre-run/Restart reset` and `Set breakpoint at`

3. Set a breakpoint manually in code

This is simple enough to be considered a solution, we would just need to document it.

It also seems to apply for all debug options: Segger, OpenOCD, PyOCD and QEMU.

[2017-12-16 12:47] sg- commented on #4053
For boards that run DAPLink bootloaders there is a blog on how to update them using windows 10. These instructions would work for other bootloaders too making it safe to update using MSC and windows 10 if you replaced the DAPLink bootloader with an alternative. https://os.mbed.com/blog/entry/DAPLink-bootloader-update/

[2017-12-16 12:47] #4053 closed

[2017-12-16 14:09] #1695 closed

[2017-12-16 14:16] #4075 closed

[2017-12-16 14:22] #4970 closed

[2017-12-16 14:23] #5290 closed

[2017-12-16 14:28] #5362 closed

[2017-12-16 16:50] ciarmcom commented on #5679
ARM Internal Ref: IOTMORF-1817

[2017-12-16 16:50] ciarmcom commented on #5676
ARM Internal Ref: IOTMORF-1818

[2017-12-16 16:50] ciarmcom commented on #5653
ARM Internal Ref: IOTMORF-1819

[2017-12-16 16:50] ciarmcom commented on #5615
ARM Internal Ref: IOTMORF-1820

[2017-12-16 16:50] ciarmcom commented on #5522
ARM Internal Ref: IOTMORF-1821

[2017-12-16 16:50] ciarmcom commented on #5504
ARM Internal Ref: IOTMORF-1822

[2017-12-16 16:50] ciarmcom commented on #5384
ARM Internal Ref: IOTMORF-1823

[2017-12-16 16:50] ciarmcom commented on #5357
ARM Internal Ref: IOTMORF-1824

[2017-12-16 16:50] ciarmcom commented on #5331
ARM Internal Ref: IOTMORF-1825

[2017-12-16 16:50] ciarmcom commented on #5310
ARM Internal Ref: IOTMORF-1826

[2017-12-16 16:50] ciarmcom commented on #5276
ARM Internal Ref: IOTMORF-1827

[2017-12-16 16:50] ciarmcom commented on #4969
ARM Internal Ref: IOTMORF-1828

[2017-12-16 16:50] ciarmcom commented on #4784
ARM Internal Ref: IOTMORF-1829

[2017-12-16 16:50] ciarmcom commented on #4614
ARM Internal Ref: IOTMORF-1830

[2017-12-16 16:50] ciarmcom commented on #4584
ARM Internal Ref: IOTMORF-1831

[2017-12-16 16:50] ciarmcom commented on #4460
ARM Internal Ref: IOTMORF-1832

[2017-12-16 16:50] ciarmcom commented on #4096
ARM Internal Ref: IOTMORF-1833

[2017-12-16 16:50] ciarmcom commented on #4038
ARM Internal Ref: IOTMORF-1834

[2017-12-16 16:51] ciarmcom commented on #3958
ARM Internal Ref: IOTMORF-1835

[2017-12-16 16:51] ciarmcom commented on #3884
ARM Internal Ref: IOTMORF-1836

[2017-12-16 16:51] ciarmcom commented on #3610
ARM Internal Ref: IOTMORF-1837

[2017-12-16 16:51] ciarmcom commented on #3606
ARM Internal Ref: IOTMORF-1838

[2017-12-16 16:51] ciarmcom commented on #2995
ARM Internal Ref: IOTMORF-1839

[2017-12-16 16:53] ilg-ul commented on #4038
@ciarmcom, does this internal ref have any public relevance?

[2017-12-16 19:45] bmcdonnell-ionx commented on #5679
@ciarmcom

What does this mean?

Also, what do the `mirrored` and `tracking` labels mean?

[2017-12-16 21:02] Hoel commented on #5619
sorry for late update, here are the steps required to get a project imported from online compiler to SW4STM32 compiling on OSX:
-go to project properties / C/C++ build / MCU GCC compiler / includes and change includes files to point to the actual mbed_config.h which is at the root of project folder
-go to project properties / C/C++ build / MCU G++ compiler / includes and change includes files to p

[2017-12-16 22:32] JuricaResetar commented on #5713
@pan- Thank you for your reply. I completely understand your answer and thank you for it. But I'm not sure about the code you provided me with. I used it and my power consumption is miles from the desired 1.7uA. And I'm very sure the problem is not in HW (with older version of mbed-os I can get 1.7uA).

[2017-12-17 09:05] tery123 opened #5718 "STM32F7 bootloader does not work"
### Description
- Type: Question
- Priority: Minor

---------------------------------------------------------------
## Question
According to https://os.mbed.com/questions/79720/STM32F7-bootloader-help/
**STM32F746ZG will entry Infinite_Loop**
I just only know trace a project in a time. I only to know the code will stop in Infinite_Loop.
And I also don't know this issue publish over here is appropr

[2017-12-18 07:17] daniel-cesarini-tridonic-com commented on #3130
@c1728p9 : I agree this issue should / can be closed IMHO.
Only one question left:

where would that happen? Should it be in the context of the mutex class itself? Is it already in place / planned to be implemented? Is there another MR / Issue for tracking the mutex implementation?

[2017-12-18 08:36] 0xc0170 commented on #5619
From the report above, seems like config file is not included (preinclude not done?) and wrapping allocators.

@bcostm Can you confirm?

[2017-12-18 08:44] 0xc0170 commented on #5718
Just use https://github.com/armmbed/mbed-os-example-bootloader, and regular blinky to update rather than use bootloader-blinky (it should be deprecated, I'll fix that).

@ARMmbed/team-st-mcd Please review

[2017-12-18 09:06] 0xc0170 commented on #5679
That this has been added to our internal system. Nothing to be worry about

[2017-12-18 09:19] 0xc0170 commented on #4038
It does not, it's for internal use only.

[2017-12-18 09:52] tery123 commented on #5718
@0xc0170 It looks like not work, and still entry Infinite_Loop.

[2017-12-18 10:01] 0xc0170 commented on #5717
+1, can you send a patch @scartmell-arm to fix this ?

PWMout has similar concept that would fix this, `_deep_sleep_locked` boolean

[2017-12-18 10:01] 0xc0170 commented on #5716
Same applies here https://github.com/ARMmbed/mbed-os/issues/5717#issuecomment-352379734

[2017-12-18 10:10] #4611 closed

[2017-12-18 10:38] 0xc0170 commented on #5705
@kjbracey-arm please review

[2017-12-18 10:53] kjbracey-arm commented on #5705
Note you do have the flexibility to request an event at the priority of your choice using `eventOS_event_timer_request_in`/`eventOS_event_send_in` or the similar `after`/`at`/`every` API.

I suspect you're right though, something is using high priority that probably shouldn't. I think a bit of priority creep has happened. I'd suggest the person using HIGH should try lowering it. (Is that the mbed

[2017-12-18 11:31] 0xc0170 commented on #4605
Closed as resolved via the referenced PR above

[2017-12-18 11:31] #4605 closed

[2017-12-18 12:00] pan- commented on #5713
@JuricaResetar It'd have been interesting to mention the compiler and profile used. The mbed OS mentioned exhibit a different power consumption when the *develop* profile is used with the ARM compiler.

|         | GCC   | ARM   | IAR   |
|---------|-------|-------|-------|
| develop | 1.7uA | 480uA | 1.7uA |
| release | 1.7uA | 1.7uA | 1.7uA |

I'm not sure this qualify as a bug. Additional proce

[2017-12-18 12:20] JuricaResetar commented on #5713
@pan- I'm not sure what you mean by develop and release profile... I use default mbed online compiler (ARM) and I got around 480uA. Do you know how to switch it to release profile?

[2017-12-18 13:44] pan- commented on #5713
@JuricaResetar The mbed online compiler use the develop profile and the ARM compiler. You can mimic the release profile by adding the following macros (compile -> compile macros):

[code]

[2017-12-18 14:40] JuricaResetar commented on #5713
@pan- Thank you very much sir.

[2017-12-18 15:05] janjongboom commented on #5713
@pan- Awesome, didn't know we had the compile macros there.

[2017-12-18 15:30] pan- commented on #5713
@janjongboom Thanks for opening a ticket against the online compiler.

In the meantime having well articulated requirements related to power consumption, code size, semi hosting or sleep behavior in each of the profile mbed-os offer would help a lot to decipher what's a bug. It would be equally important to understand what is the commitment made by the mbed os team to preserve behavior between rel

[2017-12-18 15:59] 0xc0170 opened #5724 "stdlib locks - IAR and ARMCC alignment"
### Description
- Type: Enhancement
- Priority: Minor

## Enhancement

Reference, see https://github.com/ARMmbed/mbed-os/pull/5687#issuecomment-351120036. I'll include some details here.

From my review how locking is done for all our toolchains, it seems to me that IAR and  ARMCC provides similar stdlib locking but our implementation is different.

From the issue referenced above:

The diff is th

[2017-12-18 16:39] janjongboom commented on #5713
I'm also wondering if this is documented somewhere @iriark01 @AnotherButler

[2017-12-18 16:46] pan- commented on #5713
@janjongboom I've found [this](https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/build_profiles/). It is outdated regarding sleep specification (it doesn't mention deep sleep and how it is linked to profiles) but the difference with debug is accurate.

[2017-12-18 16:49] AnotherButler commented on #5713
We have the latest version of the build profiles document: https://os.mbed.com/docs/v5.6/tools/build-profiles.html

We also have the sleep manager documentation: https://os.mbed.com/docs/v5.6/reference/sleep-manager.html

Are these what you're looking for?

[2017-12-18 16:57] janjongboom commented on #5713
@AnotherButler Great, the sleep manager docs are a bit thin, but good that it's documented. It should be more clear that `sleep()` should never be called by hand.

[2017-12-18 17:06] 0xc0170 commented on #5713
Patches welcome!  Or at least create an issue for these

[2017-12-18 17:17] c1728p9 commented on #3130
Where this is implemented is to be determined. It could be in the Mutex class or in the RTX handlers. Also, to be determined is if incorrect use of a mutex is fatal in release builds. Again, this is not my call to make and should be discussed in a separate issue.  I don't think there is an issue for this discussion, so feel free to create one.

[2017-12-18 17:31] geky commented on #5679
**The hard answer:** Backwards compatibility.

There's no path for removing the using statements from `mbed.h` without breaking nearly every single line of code that has been written against mbed at this point.

This was the original idea I believe, and I think it was founded on a good idea. But it does cause [problems](https://github.com/ARMmbed/mbed-os/issues/2653).

**What can we do?**

I've be

[2017-12-18 17:45] janjongboom commented on #5713
@0xc0170 See https://github.com/ARMmbed/Handbook/issues/365

[2017-12-18 18:08] bmcdonnell-ionx opened #5725 "Cannot use `unistd.h`"
### Description
- Type: Bug
- Priority: Major | Minor

I'm trying to use `fsync()` and `fdatasync()`, but I can't build when I `#include "mbed.h"` and `#include <unistd.h>` in my source file.

---------------------------------------------------------------
## Bug

**Target**
LPC4088

**Toolchain:**
GCC_ARM

**Toolchain version:**
MCUXpresso IDE v10.1.0 [Build 589] [2017-11-14]

**mbed-cli version:

[2017-12-18 18:49] pan- commented on #5725
Even if `unistd.h` is  accessible by GCC's newlib; it is not the case for other compilers like IAR or the ARM compiler because `unistd.h` is not a header from the C standard library.

It would be impossible to support all features exposed by `unistd.h` like the `exec*` functions however it may make sense to provide `fsync` and `fdatasync`. @kjbracey-arm @geky What are your thoughts ?

In the meant

[2017-12-18 18:58] bmcdonnell-ionx commented on #5725
Seems I can't use the functions I was trying to anyway. I tried to wrap them as shown below, but the linker complains of
`undefined reference to 'fsync'` and
`undefined reference to 'fdatasync'`.

`wrap-unistd.h`:
[code]

`wrap-unistd.cpp`:
[code]

[2017-12-18 22:24] bmcdonnell-ionx commented on #5725
I'm currently working-around the issue by closing and re-opening the file. However, it seems that at least in Linux land, even this isn't guaranteed to write to disk.

https://linux.die.net/man/3/fclose

[2017-12-18 23:52] geky commented on #5725
That's pretty interesting. I guess it makes sense when you consider how much of a performance benefit lazily writing to disk is.

Looking at the open group docs, [`fclose`](http://pubs.opengroup.org/onlinepubs/009695399/functions/fclose.html) does have this note:

Which for us, retargets to the FileHandle::close function. At that point it's up to the filesystem. Currently, FATFileSystem does write

[2017-12-19 00:21] bmcdonnell-ionx commented on #5725
@geky

[littlefs](https://github.com/ARMmbed/mbed-littlefs) - interesting. I hadn't heard of that.

Are you referring to the reference I linked to? It's more than a mention there. Could you clarify? Which parts of the POSIX filesystem API do you (plural) intend for mbed OS to provide? If any.

I think I'll stick with my current workaround for now, but it's good to have options - thanks.

[2017-12-19 02:05] geky commented on #5725
@bmcdonnell-ionx, [littlefs](https://github.com/ARMmbed/mbed-os/tree/master/features/filesystem/littlefs) is also in the master mbed-os development branch. It should be in mbed-os-5.7 once the release is out.

The best I can say right now is that we support the standard C99 and C++03 API (anything from [here](http://en.cppreference.com/w/c/io)). As well as any existing functions declared in [mbed_

[2017-12-19 04:51] bmcdonnell-ionx commented on #5725
@geky, if I understand correctly, you're basically saying that "*'[these](https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_retarget.h)'* are the subset of POSIX functions we support" (paraphrased). But I'm asking what is the *intent*?

I've inferred that the intent was to present a complete API through which files, filesystems, directories, etc. can be managed and manipulated. To be as

[2017-12-19 07:05] teetak01 opened #5728 "Testing: Partitioning tests on supported filesystems"
### Description
- Type: Enhancement
- Related issue: IOTMORF-1769

Filesystem partitioning tests

[2017-12-19 08:18] kjbracey-arm commented on #5725
@geky - `FileHandle *mbed_get_filehandle(FILE *)`.

That takes two steps - the `FILE` knows an `int`, and we can map an `int` to a `FileHandle` (except for `stdin`/`stdout`/`stderr` now, but those would also be `FileHandle`s after #5571).

In #5571, `fileno` for `FILE`->`int` isn't available - we'd need to hack some of the opaque `FILE` structures to get it :( It does have an internal `FileHandle

[2017-12-19 08:59] andrewc-arm opened #5730 "[NUCLEO-L476] 921600 baud does not work"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NUCLEO-L476

**Toolchain:**
GCC_ARM

**Toolchain version:**
To be updated by the customer

**mbed-cli version:**
To be updated by the customer
(`mbed --version`)

**mbed-os sha:**
To be updated by the customer
(`git log -n1 --oneline`)

**DAPLink version:**
To be update

[2017-12-19 09:03] jeromecoutant commented on #5730
Hi
Could you try #5570 to check the new behavior ?
Thx

[2017-12-19 09:04] andrewc-arm commented on #5730
@lelely2, could you elaborate and update the sections with "To be updated by the customer"?

[2017-12-19 09:19] kjbracey-arm commented on #5725
@geky

Are they really? They're present in the `<unistd.h>` header file in the toolchain, but there's no library implementation, I hope. That allows #5571 to provide them.

Only library collision for #5571 I'm aware of is IAR providing `fdopen` itself - I have to provide it for the other 2. That's a different case though, as that's logically a C library function like `fileno`, versus `open`, which

[2017-12-19 13:43] bcostm commented on #5718
As of today the bootloader has not been activated on the NUCLEO_F746ZG. This could explain your problem.

[2017-12-19 14:13] nvlsianpu commented on #5284
What is the status here. I run this test and It passed.

[2017-12-19 16:44] bmcdonnell-ionx commented on #5725
@kjbracey-arm, cc @geky,

The only reason I was asking for it now is to have `fsync()` (and similar) operations.

None of those sound like maintainable options, IMO.

That's pretty good!

I have an idea on how you maybe able to get the following more canonical form to work...

[code]

For the libraries that implement `fileno()`, use their implementations (via `#ifdefs`.) For those that don't, you

[2017-12-19 16:53] fkjagodzinski commented on #5284
@nvlsianpu PR #5046 contains a proposed fix (commit d006eaacbfafc29c6b14905ff8cc4afb266b5fe2) which makes `tests-mbed_drivers-timerevent` pass but the fix has a side effect -- a regression for **GCC_ARM** and **IAR** compilers on `tests-mbed_hal-sleep_manager_racecondition` and `tests-mbed_drivers-ticker` test cases (everything is fine for **ARM** compiler though).

[2017-12-19 19:08] studavekar commented on #5495
@stevew817 it fails for me on master. I not sure if i am missing something.
[code]

[code]

[2017-12-19 22:39] cmonr commented on #5730
@andrewc-arm @lelely2 We're going to need more information for the issue. I confirmed that serial @ 921600 baud is working fine with a modified blinky example (`mbed import`) as well as the latest mbed release (`mbed update`).

[2017-12-19 22:40] cmonr commented on #5730
@andrewc-arm I'll be expecting more information on how to reproduce the issue within a day or two since this is a blocking issue. Otherwise, feel free to update the priority as need.

[2017-12-19 23:08] ryankurte opened #5735 "Silicon Labs RAILv2 update missing efr32xg12 configurations"
PR #5579 appears to be missing configurations for efr32xg12 (and efr32xg13?) Sub1GHz operation.

@stevew817

[2017-12-20 00:11] ryankurte commented on #5680
I'm having a similar / possibly the same issue during network stack init with mbed commit `4d81eadb2` using `gcc-arm` on the `EFR32FG12_BRD4254A` target.
Mentioned in #5579 and manually applied the patch from #5587 with no effect.

Error occurs at `rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_thread.c:1349` in `uint32_t svcRtxThreadFlagsSet (osThreadId_t thread_id, uint32_t flags)`

[code]

Serial outpu

[2017-12-20 01:39] lelely2 commented on #5730
I use MDK-ARM.
How do I update mbed?

[2017-12-20 01:50] andrewc-arm commented on #5730
Hi. I just talked with @lelely2 about how to test the PR candidate source code (https://github.com/TeamPorcupine/ProjectPorcupine/wiki/How-to-Test-a-Pull-Request)

[2017-12-20 03:26] tery123 commented on #5718
@bcostm I got that and thank you. I will go next phase first.

[2017-12-20 08:24] bcostm commented on #5718
FYI I am actually adding the bootloader on this board (NUCLEO_F746ZG) and testing it with the mbed-os-example-bootloader. Stay tune.

[2017-12-20 09:11] Archcady commented on #5056
[code]

The connection to mbed clinet is stable with the latest master, can we close this issue?

[2017-12-20 09:17] kjbracey-arm commented on #5725
The problem is the C library never tells the retarget code its `FILE`. `fopen` calls our `_sys_open`, giving us a filename. We translate the filename to a `FileHandle` and `int`, and we give the C library back the int. It must store the `int` in its `FILE`, but we don't get to find out what `FILE` our `int` got put in!

One pretty sick trick would be for `fileno(FILE*)` to make a dummy `ftell(FILE

[2017-12-20 09:49] kjbracey-arm commented on #5680
Ta for the info!

That was enough to pin it down. (Despite the annoyance that debuggers keep failing to get through exception stack frames.)

It's an ordering error in the K64F driver - it's installing its interrupt handler in `low_level_init` via

    ENET_SetCallback(&g_handle, ethernet_callback, netif);

`ethernet_callback` calls `osThreadFlagsSet(k64f_enetdata.thread)`.

`k64f_enetdata.thread`

[2017-12-20 10:22] SeppoTakalo commented on #5680
Which Ethernet driver? The LwIP one or the Nanostack one, or both?

That later debug print looks like border router so I'm assuming it is Nanostack's driver or both.

[2017-12-20 10:24] kjbracey-arm commented on #5680
Hang on, your #5579 is actually about a Nanostack issue. Not K64F at all. Oh well, you've helped solve this issue.

So it seems that both pieces of code probably have the same flaw - calling osThreadFlagsSet before the thread is ready. Not identified the path to it with Nanostack yet.

[2017-12-20 10:26] ghseb commented on #5705
Thank you for your reply.
You are right. It is regarding mbed-client code and therefore we would like to avoid local modifications. According to your suggestion, we reduced the amount of Receive Events that are triggered. This seems to help. Also, enabling duplication detection seems to reduce the load of the event queue. Currently we do not observe the described issues anymore.
Still, we belief t

[2017-12-20 10:39] kjbracey-arm commented on #5705
A couple of layers of the code do have "repeat event" suppression to try to avoid jamming up the slower parts of the system with lots of unnecessary events - this occurs in mbed OS Socket for generating application sigios from stack callbacks, and I thought it also occurred in mbed client's connection handler.

Every time you're downgrading to a lower priority, eg from interrupt to thread, it's wo

[2017-12-20 12:59] stevew817 commented on #5735
Thanks for the poke, @ryankurte. I'll look into this.
EFR32xG13 hasn't been ported to mbed by us. We don't have any low cost development kit for it either. Is there any specific reason you're mentioning it here?

[2017-12-20 14:14] #5056 closed

[2017-12-20 14:52] 0xc0170 commented on #5384
Resolved via #5578

[2017-12-20 14:52] #5384 closed

[2017-12-20 14:54] #5543 closed

[2017-12-20 14:57] jeromecoutant commented on #5543
Closed but #5559 will be available only in release-version: 5.8.0-rc1 ...

I will apply the proposed workaround.

[2017-12-20 15:42] bmcdonnell-ionx commented on #5725
On mbed OS 5.6.6, I have a program that was keeping a log file open. It does an `fprintf()` to the log file every few to several seconds, and calls `fflush()` after most of them. The file was created, but *nothing* was ever written to it. (Whereas, I was trying to keep it in sync with other files that were being written.)

Is this a "policy problem" with mbed OS? Has it changed in 5.7.0?

Yeah, th

[2017-12-20 16:56] screamerbg commented on #5683
@cmonr this board uses the nRF52832 implementation. Could you please check if this is a problem on the nRF52-DK? If that's the case then this is a Nordic MCU HAL implementation problem. Otherwise RedBear specific. Please let me know.

[2017-12-20 17:01] SenRamakri commented on #5664
The PR(https://github.com/ARMmbed/mbed-os/pull/5687) with fix has been integrated, closing the issue.

[2017-12-20 17:01] #5664 closed

[2017-12-20 19:22] cmonr commented on #5683
@screamerbg Finished reproducing the issue on an NRF52-DK. The issue is with the Nordic HAL.

[2017-12-20 19:23] studavekar commented on #5477
@Archcady since last time test structure has been changed, latest run on master i don't see a failure

[REALTEK_RTL8195AM-tests-mbed_drivers-timer.log](https://github.com/ARMmbed/mbed-os/files/1576765/REALTEK_RTL8195AM-tests-mbed_drivers-timer.log)

[2017-12-20 19:29] studavekar commented on #5477
closing this issue as its not seen on master.

[2017-12-20 19:29] #5477 closed

[2017-12-20 21:03] SenRamakri opened #5741 "Add support for including/building source/asm files specific to architecture versions"
## Enhancement
Add support for including/building (Cortex-M)Architecture specific source/asm files

**Toolchain:**
GCC_ARM|ARM|IAR

**Suggested enhancement**
Currently there is no way to include a source/asm file specific to a Cortex-M architecture version.
As of now, if we need to do anything specific to an ARCH version we need to replicate the same code across multiple cores under same architect

[2017-12-20 21:21] ryankurte commented on #5735
Thanks! I haven't got hands on any yet, either. Sounds like they might be
an option for the project I'm working on though.
Only mention it because might as well add the config for them if they're
stable, but not if not.

On Thu, 21 Dec 2017, 1:59 AM Steven Cooreman, <notifications@github.com>
wrote:

[2017-12-20 21:24] jrobeson commented on #5683
what does HAL mean in this case? the files in `target/`? or `drivers_nrf/hal` ? or something else?

[2017-12-20 23:27] ryankurte commented on #5680
Yep, yep, different cause but suspect it's the same flaw. I can open another issue if you'd like?

Looks like in `NanostackRfPhyEfr32.cpp` callbacks are enabled at [NanostackRfPhyEfr32.cpp#L374](https://github.com/ARMmbed/mbed-os/blob/9ebefcd63d7eefb4cf33ab47991cf4c36e54c553/features/nanostack/FEATURE_NANOSTACK/targets/TARGET_SL_RAIL/NanostackRfPhyEfr32.cpp#L374) and the thread isn't started until

[2017-12-20 23:58] bmcdonnell-ionx commented on #5679
Example further motivation: I was just stumped for several minutes trying to forward declare `class DigitalOut;` in a header file because I forgot it was in the `mbed` namespace. If not for `using namespace mbed;` in `mbed.h`, I think the solution would've been more obvious.

[2017-12-21 01:10] lelely2 commented on #5730
Hi,
Could you give me working sample code for MDK-ARM?
Let me test it.

[2017-12-21 07:39] jorisa commented on #5676
I think I narrowed it down to the following function:
https://github.com/ARMmbed/mbed-os/blob/9ebefcd63d7eefb4cf33ab47991cf4c36e54c553/tools/toolchains/__init__.py#L819

When adding some instrumentation:
[code]
The result is:
[code]

A potential fix is wraping the join with another relpath:
[code]

[2017-12-21 08:13] kjbracey-arm commented on #5725
Really? I'm sure it must have been writing the data, if you'd written any moderate amount - there's not unlimited buffering. Maybe it just never updated the directory, so the file was still recorded as zero length? Perhaps a disk check on the media would reveal your missing untracked data.

I'd say a log file is very much a tricky case - obviously you want to see stuff if the system dies without y

[2017-12-21 08:15] kjbracey-arm commented on #5680
This is only a runtime error with the RTX error trapping on, which is only in debug builds since 5.6 I think, unless that's changed. More people testing debug builds now?

[2017-12-21 10:12] jorisa commented on #2326
I still think there is a case for this. When you submodule other projects there sometimes are files you do not want to include in the build (like test.cpp that also has a main function). You can explicitly add the source files, but there is no way to point it to the headers.

I am aware you could exclude files using mbedignore, but that means you would have to fork the repo.

[2017-12-21 15:55] bmcdonnell-ionx commented on #5725
I just retried without the workaround, then did `chkdsk /f` on Windows 10. You are correct, the data is there, just not reflected by the metadata - but then with some junk appended to the file, due to the recovery process.

Is the metadata inconsistency a bug, or expected behavior?

If I understand correctly, here you're talking about retrieving `fd`s from `FILE *`s to allow `fsync()`. I know I'm

[2017-12-21 16:24] theotherjimmy commented on #2326
@jorisa `.mbedignore` files work across repo boundaries.

That is:
[code]
The `.mbedignore` here can ignore files within the `mbed-os` directory. This allows me to ignore things in sub-repos without a fork of the sub-repo.

[2017-12-21 22:29] ryankurte commented on #5680
The silent / nearly impossible to debug runtime error handling in release builds cost me almost a month of head bashing before I worked out #5155, I wouldn't be surprised at all if / hope that is the case.

[2017-12-22 05:38] andrewc-arm commented on #5730
Hi. @lelely2. Could you please try the whole repo of https://github.com/jeromecoutant/mbed/tree/PR_STDIO?

[2017-12-22 08:59] daniel-cesarini-tridonic-com opened #5759 "Nanostack memory area (nanostack-heap)"
### Description
- Type: Question
- Priority: Major

## Question
The nanostack is having a "private" memory section (at least in version 7.0.3), that it is managing and using as a heap. It is being initialized in ```ns_hal_init``` or ```ns_dyn_mem_init```.
With     ```const mem_stat_t *heap_info = ns_dyn_mem_get_mem_stat(); ``` I can get information about the status of such memory area: ```Heap siz

[2017-12-22 11:07] #5622 closed

[2017-12-22 15:50] dlfryar commented on #5493
I'll take a look at this further to see if I can isolate the issue to explain it further - stay tuned.

[2017-12-25 18:24] netanelgonen commented on #5615
Hi, Any update on those warnings?
this is holding us back from "treat warnings as errors" ourselves

[2017-12-26 15:05] 0xc0170 commented on #5759
@SeppoTakalo @kjbracey-arm please review

[2017-12-27 03:21] omarisai commented on #5010
Hi @0xc0170 , did you ported the code for KL28Z?

[2017-12-27 10:34] #5668 closed

[2017-12-28 08:07] Alonof commented on #5281
reproduce steps

deploy and compile PAL
https://github.com/ARMmbed/pal-example

Run PAL example bin
Flash is failing with the following errors:

Programming alignment error
Programming parallelism error

[2017-12-28 08:07] Alonof commented on #5281
https://jira.arm.com/browse/IOTPART-3659

[2017-12-28 13:09] Luka234 opened #5762 "EFM32: EM2 mode blocked when should not be"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
EFM32GG_STK3700

**Toolchain:**
GCC_ARM

**mbed-cli version:**
1.2.2

**mbed-os sha:**
8b54959

**Expected behavior**
Calling sleep() should enter lowest energy mode possible. If all used instances of timer classes (Ticker, Timeout, Timer) are currently inactive then th

[2017-12-28 14:19] aldrinleal opened #5763 "nrf52-dk: Unable to export to gnuarmeclipse"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug | Enhancement | Question
- Related issue: `#abc`
- Priority: Blocker | Major | Minor

---------------------------------------------------------------
## Bug

**Target**
nrf52_dk

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)
1.3.0

**mbed-os sha:*

[2017-12-28 17:16] DuyTrandeLion opened #5764 "Nucleo-L432KC flash programming hangs"
### Description
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug

**Target**
Nucleo-L432KC|??

---------------------------------------------------------------
#Details:
I am working with flash programming and I got stuck. I need to write and read data to/from the flash memory. The program hangs whenever the function "**HAL_FLASHEx_Erase(&EraseI

[2017-12-28 17:22] DuyTrandeLion commented on #5764
#include "mbed.h"
#include "stm32l4xx_hal_flash.h"
#include "stm32l4xx_hal_flash_ex.h"
#include "flash_programming.h"

#define FLASH_PAGE_PROGRAM 1

uint32_t DATA_32 = 0x12345222;
uint64_t DATA_64 = 0x1234522212345222;

uint32_t StartPage = 0, EndPage = 0;
uint32_t Address = 0;
uint32_t PageError = 0;

__IO FlashReturnStatus MemoryProgramStatus = PASSED;

FLASH_EraseInitTypeDef EraseInitStruct;
FL

[2017-12-28 17:23] DuyTrandeLion commented on #5764
[](url)

[2017-12-28 20:59] cmonr commented on #5676
Merged.

[2017-12-28 20:59] #5676 closed

[2017-12-29 08:48] Luka234 commented on #5762
Sorry guys, false alarm. Deep sleep functionality from sleep manager is handling scenarios that I have described in a bug report.

[2017-12-29 08:48] #5762 closed

[2017-12-29 09:31] Luka234 commented on #5762
Is someone encounter similar (not existing, or maybe not as severe as I initially though) problem.
In debug mode system will behave as I've described, but in release it is ok.
EFM32 has sleep block functionality inside sleep.c that is working even in debug mode (MBED_DEBUG defined) so I though that it will be same sleep behavior as in release.
Mbed itself has another deep sleep block functionality

[2017-12-29 14:16] zh0umu opened #5765 "STM can_filter not filter right for using wrong mask bit"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32

**Description**
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/can_api.c
mask bit 0x00FF as code below  is wrong. Id and mask low part is 16bit.S

[2017-12-29 14:30] #5367 closed

[2017-12-30 22:12] janjongboom opened #5769 "Cannot export microbit programs in online compiler"
@theotherjimmy

### Description
- Type: Bug

## Bug

**Target**
BBC micro:bit

**Toolchain:**
ARM

**Expected behavior**

Exporting works.

**Actual behavior**

Exporting does not work

**Steps to reproduce**

See https://os.mbed.com/questions/79775/BBC-microbit-DAL-example-project-wont-ex/

[2017-12-30 22:41] carlosperate commented on #5769
Thank you for reporting this @janjongboom!
Just to give a bit more extra info, the export does complete for the VSCode + ARMC compiler, but not for VSCode + ARM GCC.

[2018-01-02 06:51] bcostm commented on #5765
Thanks for this analysis.

Can you send a PR with your correction ? And can you post also here a test program that we can use to test it ?

Related issue: #5351

[2018-01-02 07:44] bcostm commented on #5764
Hi,

As this function is not a mbed API function, I suggest that you also ask on the STM32 forum:
https://community.st.com/community/stm32-community/stm32-forum/content

Try also the mbed Flash API instead:
https://os.mbed.com/docs/v5.7/reference/flash-iap.html

[2018-01-02 09:27] kjbracey-arm commented on #5725
It arises from naturally from the implementation, and I think it's working as intended - it must write data relatively often due to lack of buffering, and the effort isn't wasted if it's a continuous data stream - each sector is written exactly once. But repeatedly updating the directory ("metadata") to show current file length is potentially wasted runtime, and wasted storage life.

The current i

[2018-01-02 11:22] amq opened #5771 "Add support for Eclipse Che"
### Description
- Type: Enhancement
- Priority: Minor

## Enhancement

[Eclipse Che](https://www.eclipse.org/che/) is an open source online IDE which could be a great addition to the Mbed OS development ecosystem. It is also already being used for [embedded development](http://www.eclipse.org/che/docs/tutorials/platformio/index.html).

[2018-01-02 11:25] nvlsianpu commented on #5690
@drahnr Did you verified this?

[2018-01-02 14:24] MarceloSalazar opened #5772 "Wrong default stats-depth parameter on Windows"
### Description
The memory map output generated by memap has different length, depending on the host OS you use. I suspect the problem is caused by the default `--stats-depth` parameter not being passed correctly on Windows.
- Type: Bug
- Priority: Major / Minor

## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**mbed-cli version:**
(`mbed --version`)
1.3.0

**mbed-os sha:**
(`git log -n1 --onelin

[2018-01-02 15:28] bmcdonnell-ionx commented on #5725
I think that `fflush()` with `fsync()` / `fdatasync()` will be sufficient.

[2018-01-02 15:48] 0xc0170 commented on #5769
Is this case also for local export, if you fetch blinky example and do it locally, will it export? to better understand if this is a problem in our scripts (online IDE does not shows log, you can see them if you use mbed-cli). Please report

[2018-01-02 15:53] 0xc0170 commented on #5764
As noted above, please ask in the stm32 community.
I'll close this question

[2018-01-02 15:53] #5764 closed

[2018-01-02 15:53] theotherjimmy commented on #5769
@janjongboom @carlosperate Could you post a link to the example you are describing?

[2018-01-02 15:54] theotherjimmy commented on #5769
FYI: the microbit does not support IAR, so don't expect to be able to export to an IAR-using IDE.

[2018-01-02 15:57] 0xc0170 commented on #5763
Just in case, building with GCC_ARM using `mbed compile` works

Based on the errors seems like it does not use correct i2c structures (might be missing some configuration like i2c async or similar) ?

[2018-01-02 15:58] aldrinleal commented on #5763
@0xc0170 yes, mbed compile works. I wonder whats wrong with it

[2018-01-02 15:59] theotherjimmy commented on #5772
@MarceloSalazar Thanks for the bug report. This is a "we did not use the path seperator" bug. I'll put up a patch soonish (next day or two) to fix this.

[2018-01-02 17:33] janjongboom opened #5774 "Sending large payloads over PPPInterface socket fails"
### Description
- Type: Bug

## Bug

**Target**
Any target implementing PPPInterface

**Toolchain:**
All

**mbed-os sha:**
Mbed OS 5.7

When you create a request in [mbed-http](https://os.mbed.com/teams/sandbox/code/mbed-http/) it creates a buffer, which it then sends over HTTP. There is no streaming or anything involved, and as long as there's enough memory available that's fine. However... A use

[2018-01-02 19:58] theotherjimmy commented on #5772
I'd like to point out: it's not that the stats depth is set incorrectly on windows as the libraries seem to heed the depth setting. It's that the depth was splitting on `/` instead of `os.sep`, and that created problems for non-library modules when the `os.sep is not /`, basically on only windows.

[2018-01-03 00:50] ciarmcom commented on #5774
ARM Internal Ref: IOTMORF-1855

[2018-01-03 07:40] 0xc0170 commented on #5774
cc @hasnainvirk @kjbracey-arm

[2018-01-03 07:54] kjbracey-arm commented on #5774
I'm going to start by hoping that this isn't an actual bug, and go in with an API explanation.

A stream `send` is allowed to perform a partial write, rather than block until completion.

See https://stackoverflow.com/questions/12657063/does-send-allways-send-whole-buffer

However, the definition of when it does a partial write in mbed OS has actually changed recently.

In earlier versions of mbed

[2018-01-03 09:23] drahnr commented on #5690
Not yet. I hope I can do it this week @nvlsianpu

[2018-01-03 09:46] 0xc0170 opened #5777 "VK RZ A1H: needs an update from RZ A1H (cmsis, rtos related)"
### Description
- Type: Bug
- Priority: Major

### Bug

VK RZ A1H target requires an update. As it does not share the same codebase, but very identical implementation, it needs to be updated to be re-enabled. I fixed few errors there, and stopped at MMU and cache settings in the startup (cmsis updated their API, and RZ A1H changed few things in the startup) - as they become more difficult to fix.

[2018-01-03 10:50] janjongboom commented on #5774
@kjbracey-arm Thanks, have asked the user. I don't have any boards on me that implement PPPInterface.

[2018-01-03 11:04] kjbracey-arm commented on #5774
I would expect the same basic behaviour to be seen on any network interface. I wouldn't expect 10K to go in 1 go on K64F Ethernet, for example. (Or if it does, then try 40K...)

Assuming that is the only problem, and there isn't some other PPP-specific thing.

[2018-01-03 11:12] janjongboom commented on #5774
I can indeed reproduce the same issue on K64F LWIP on Mbed OS 5.6.6, does not happen on Mbed OS 5.7.1.

[2018-01-03 11:13] drahnr commented on #5690
Not yet. I hope I can do it this week @nvlsianpu

[2018-01-03 11:28] janjongboom commented on #5774
Fixed in mbed-http here: https://os.mbed.com/teams/sandbox/code/mbed-http/rev/71fc1b1894f8/

Issue does not reproduce on Mbed OS 5.7 anymore.

[2018-01-03 11:28] #5774 closed

[2018-01-03 11:43] LiyouZhou opened #5778 "REALTEK_RTL8195AM GPIO slow"
### Description
- Type: Enhancement
- Priority: Major

---------------------------------------------------------------
## Enhancement

**Target**
REALTEK_RTL8195AM

**Toolchain:**
GCC_ARM

**Toolchain version:**
7.2.1 20170904

**mbed-cli version:**
1.2.2

**mbed-os sha:**
`2b4ff78ab Merge pull request #5738 from ARMmbed/release-candidate`

**Description**
Toggling gpio on this platform is slow. I

[2018-01-03 11:44] LiyouZhou commented on #5778
@ARMmbed/team-realtek

[2018-01-03 11:49] LiyouZhou opened #5779 "REALTEK_RTL8195AM us timer resolution too corse"
### Description
- Type: Enhancement
- Priority: Major

---------------------------------------------------------------
## Enhancement

**Target**
REALTEK_RTL8195AM

**Toolchain:**
GCC_ARM

**Toolchain version:**
7.2.1 20170904

**mbed-cli version:**
1.2.2

**mbed-os sha:**
`2b4ff78ab Merge pull request #5738 from ARMmbed/release-candidate`

**Description**
The us ticker on REALTEK_RTL8195AM uses a

[2018-01-03 14:44] SeppoTakalo commented on #5759
Hi @daniel-cesarini-tridonic-com

Nanostack is designed to tolerate some level of allocation failures. Internally it buffers all incoming traffic as long as there is memory left. Therefore the memory is set to statically allocated block to give limits to maximum memory usage.
Packet drops are starting to happen once the stack runs out of memory and this is the way of rate limiting the traffic on b

[2018-01-03 17:06] bmcdonnell-ionx opened #5780 "Filesystem bugs, including volume corruption"
### Description
- Type: Bugs
- Priority: Major?

---------------------------------------------------------------
## Bug

**Target**
LPC4088

**Toolchain:**
GCC_ARM - yes
ARM|IAR - untested

**Toolchain version:**

**mbed-cli version:**
1.2.2

**mbed-os sha:**
2b4ff78ab0a52ef1dc3f2998908453c595e2b2c0

**Expected behavior**

1. `readdir()` returns `NULL` to terminate a directory listing.
2. `FATFile

[2018-01-03 17:45] 0xc0170 commented on #5780
@deepikabhavnani @geky Please review

[2018-01-03 18:52] bmcdonnell-ionx commented on #5780
Note, #`3` takes about two days to run one scenario on the dev board. I haven't yet tried pre-filling the SD Card, though - probably should. 😄

[2018-01-03 22:54] bmcdonnell-ionx commented on #5780
#`3` may have something to do with me having a logfile open, the volume fills up from another file, then I try to write to the logfile again. Further investigation required on my end.

[2018-01-04 01:12] TomoYamanaka commented on #5777
@0xc0170

Thank you for your cooporation.

@mbedNoobNinja

Could you acept to do this?
I addressed the updates regarding to RZ_A1H by #5628. By referencing with this, I believe that you can take a action of updates VK_RZ_A1H with comparative ease.

For your information,
 I suggested the new folder structiures to share common codes previously(#4440).
 I will PR this changes together with adding our

[2018-01-04 10:33] amq opened #5783 "How to override mbed_sdk_init() for an EFM32 target?"
### Description
- Type: Question

---------------------------------------------------------------

## Question

There is an EFM32-global `mbed_sdk_init()` definition in [TARGET_EFM32/common/mbed_overrides.c](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Silicon_Labs/TARGET_EFM32/common/mbed_overrides.c)

How can I override it for a specific target? For example, I'd like to skip `EM

[2018-01-04 10:43] amq commented on #5692
My last comment worked for C030, but not for EFM32PG12, not sure why.

For EFM32PG12 I had to flash the bootloader first, then debugging in Eclipse works as usual, no need to modify the configuration.

[2018-01-04 11:48] hasnainvirk opened #5785 "BLE builds cannot find mbedtls feature"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: #5711
- Priority: Blocker

---------------------------------------------------------------
## Bug

It seems the build system is failing to look for even omni-present features.

**Target**
NRF51_DK|??

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os:**
master

**Steps to reproduc

[2018-01-04 13:03] 0xc0170 commented on #5785
@pan- Have you experienced this? There's lorawan PR where had any example ble failure , as one of the headers in the paths included `aes.h` header file

[2018-01-04 13:47] zh0umu opened #5786 "STM ticker not compatible with new ticker_api"
### Description
- Type: Bug
- Priority: Blocker
new ticker_api add get_info in ticker_interface_t which use 32bit tick timer as defaut,however stm32 use 16bit timer.This casue Timer.read_ms() return wrong result.
---------------------------------------------------------------
## Bug

**Target**
STM32F103RB

[2018-01-04 13:49] 0xc0170 commented on #5786
@ARMmbed/team-st-mcd please review

[2018-01-04 13:53] jeromecoutant commented on #5786
Hi
This issue needs more details...

- which target are you using (most of STM32 are using 32 bits timer) ?
- could you add the code you are using in order to reproduce ?

Thx

[2018-01-04 13:58] LMESTM commented on #5786
@zh0umu  @0xc0170  When moving from one ticker implementation to another, aren't you going to port the targets that are in place already ?

[2018-01-04 14:00] zh0umu commented on #5786
I see this in mbed_retarget.cpp
// temporary - Default to 1MHz at 32 bits if target does not have us_ticker_get_info
MBED_WEAK const ticker_info_t* us_ticker_get_info()
{
    static const ticker_info_t info = {
        1000000,
        32
    };
    return &info;
}

[2018-01-04 14:17] jeromecoutant commented on #5786
Yes, this looks correct, as even for 16bit STM32 targets, timer implementation is 32 bits.

[2018-01-04 14:20] bcostm commented on #5765
Looking in the can_api.c file, I would change this:

[code]

with this:

[code]

Can you please check this code and tell me if it solves your issue ? Thanks.

[2018-01-04 14:25] bcostm commented on #5351
@pilotak Can you please try to modify the can_filter function in can_api.c file as described in #5765 and tell me if it solves your issue ? Thanks.

[2018-01-04 14:32] zh0umu commented on #5786
You are right. @jeromecoutant

[2018-01-04 14:32] #5786 closed

[2018-01-04 15:50] #5389 closed

[2018-01-04 16:45] loverdeg-ep commented on #5254
@0xc0170 @lauri-piikivi
This is a major blocking issue for us.
All of our current industrial/enterprise leads have wpa2-enterprise as a requirement.

Low cost and low power embedded WiFi modules are going to play a large part in the IoT endpoint space.

I don't think WPA2 is going to cut it for big installations in which the endpoints will be batch provisioned to a Wi-Fi network in the factory or

[2018-01-04 17:36] deepikabhavnani commented on #5780
@bmcdonnell-ionx  - Thanks for reporting the issues.
I have looked into 1. and it seems logic at https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/fat/FATFileSystem.cpp#L638 is incorrect

ChanFS reports FR_OK for end of directory, hence the check should be just `if condition` and not `else if`

`-- else if (finfo.fname[0] == 0) {
++ if (finfo.fname[0] == 0) {
            break;

[2018-01-04 20:12] deepikabhavnani commented on #5780
Yes it will, as per your example files are created in same directory, and while open call all files are scanned in the directory before creation. See https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/fat/ChaN/ff.cpp#L3046

You can split files in multiple directories to get better performance.

We would appreciate a PR to improve performance here, else we might pick it up in future

[2018-01-05 05:57] zh0umu commented on #5765
@bcostm I change with below，working ok.
            sFilterConfig.FilterIdHigh = id >> 13; // EXTID[28:13]
            sFilterConfig.FilterIdLow = (0xFFFF & (id << 3)) | (1 << 2);  // EXTID[12:0]
            sFilterConfig.FilterMaskIdHigh = mask >> 13;
            sFilterConfig.FilterMaskIdLow = (0xFFFF & (mask << 3)) | (1 << 2);

[2018-01-05 08:15] 0xc0170 opened #5790 "STM32F4: lp ticker failures on master"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

Reference: https://github.com/ARMmbed/mbed-os/pull/5768#issuecomment-355425482

There are at least 2 failures from yesterday, the report provides binaries and test failures

@ARMmbed/team-st-mcd please review

[2018-01-05 08:20] jeromecoutant commented on #5790
Hi
Do you have several test benches with NUCLEO_F401 ?
To be sure, can you unplug all these boards and make the test again ?

[2018-01-05 09:06] bcostm commented on #5765
I thought the ST HAL HAL_CAN_ConfigFilter function managed everything concerning the ID and Mask bits... But it is not the case. So, your fix looks OK to me. I'll send a PR then.

[2018-01-05 09:13] 0xc0170 commented on #5790
We can. How that would help (what is causing these failures) ?

[2018-01-05 09:18] jeromecoutant commented on #5790
RTC configuration has been updated in a recent PR.
But as long as the board is powered, the new configuration is not applied as we checked before RTC init procedure if RTC has already been configured.

[2018-01-05 09:26] 0xc0170 commented on #5790
To be sure, can you unplug all these boards and make the test again ?

@studavekar @kegilbert all of the boards were reset previously?

[2018-01-05 09:53] 0xc0170 commented on #5790
Affected PRs:

- https://github.com/ARMmbed/mbed-os/pull/5708

[2018-01-05 10:47] 0xc0170 commented on #5783
sdk_init is weakly linked but strongly defined for efm32 targets. It should provide the default target setup that an application can reconfigure if needed.

Can you provide details why this would be skipped? Would it make sense to be configurable (not applicable for all targets , or not? )

@ARMmbed/team-silabs

[2018-01-05 11:41] nvlsianpu commented on #5297
@pan- #5606 is merged, tests-concurrent-comms pass on nRF52840 as well. This issue is so fixed.

[2018-01-05 11:42] nvlsianpu commented on #5297
[code]

[2018-01-05 12:09] 0xc0170 commented on #5777
👍  If we can align those 3 at the same time, it would be good.

[2018-01-05 13:37] 0xc0170 commented on #5297
Fixed, via the referenced PR above, closing

[2018-01-05 13:37] #5297 closed

[2018-01-05 15:09] 0xc0170 commented on #5790
What is the PR, can you reference it ? The git log for the RTC API:  https://github.com/ARMmbed/mbed-os/commits/master/targets/TARGET_STM/rtc_api.c .  I recall we had similar error a while ago, and devices were reseted . Is there a  way to make this backward compatible ? (no hard reset target needed)

To me, this seems like the problem is back, thus might be a bug somewhere?

[2018-01-05 15:18] jeromecoutant commented on #5790
Is it possible that CI is sometimes testing MBED branch started from an "old" commit ?

[2018-01-05 15:23] 0xc0170 commented on #5790
That can be (although rebase is always good 😈 ). The affected PR were based on the recent master.

In case there was PR on the old commit, should not lead to a breakage like this? One test just finished few minutes ago, the tests were green

[2018-01-05 16:02] steve-martin-mbed opened #5793 "Abstraction/virtualization of basic peripheral classes"
### Description
- Type: Enhancement
- Priority: Minor

## Enhancement

As suggested in the [forum](https://os.mbed.com/forum/bugs-suggestions/topic/28469/), I'm opening up this for discussion here.

[2018-01-05 16:20] 0xc0170 commented on #5785
I found the cause. The BLE examples ignore mbedtls ! This is causing a problem if there is a code in mbed OS that needs mbedtls (tls is not an optional component?).

This is known limitation, reported here https://github.com/ARMmbed/mbed-os-example-ble/issues/45

It has been for over 2 years.

@paul-szczepanek-arm  would you know a reason for this as @pan- is away this week

[2018-01-05 21:15] carlosperate commented on #5769
I was just trying the default micro:bit hello workd: https://os.mbed.com/teams/microbit/code/microbit-hello-world/

My published version: https://os.mbed.com/users/carlosperate/code/microbit-hello-world/

On Mbed CLI vs 1.3.0:

[code]

Does that help?

[2018-01-05 21:35] hosse005 opened #5796 "ARM: ARMC6: Linker errors due to cpu not being specified in the scatter file"
### Description
- Type: Bug
- Related issue: Not known
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
ALL

**Toolchain:**
ARM

**Toolchain version:**
5.06 and 6.8

**Expected behavior**
Targets with a preprocessor defined in the scatter file should link successfully

**Actual behavior**
Targets with a preprocessor defined in the scatter file

[2018-01-06 02:05] zh0umu opened #5798 "having problem when i2c transmision is interrupted by Ticker or os thread"
### Description
- Type: Question
- Priority: Minor
I'm using i2c to talk to MPU9250 at rate of 100hz with large data.When I use Ticker only to change a volatile variable at 1HZ, the bus lockup after some time randomly,with SCL high and SDA low.After lock up,reset only the mcu still not solve the bus locking problem.If  remove the slave ,bus recover.I believe it's the slave driving the sda low.
The

[2018-01-06 05:20] saedelman opened #5799 "Assert when reading character from serial port in callback - "not allowed in ISR context""
### Description

I am getting a "Mutex 0x200077d4 error -6: Not allowed in ISR context" assert when calling pc.getc() in the serial callback. I am using mBed version 158 (5.7.2)

pc.attach(&data,mbed::SerialBase::RxIrq);

void data(void)
{
char ch = pc.getc(); <-- GENERATES ASSERT
}

- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**

[2018-01-06 11:24] mbedNoobNinja commented on #5777
Hi @TomoYamanaka
I actually was looking forward the PR from (#4440) and your board (GR-LYCHEE). I would be about to start comparing them after the PR in question is made. But if there is no such PR, what I should compare?
(#5628  & the current state of VK_RZ_A1H)?

[2018-01-06 14:38] amq commented on #5783
The problem is that custom targets may require different settings for `EMU_DCDCInit()`. In some cases (such as mine), the board won't reach `main()` at all, so I can't override the settings in application.

[2018-01-07 02:12] abougouffa commented on #5799
Hi @saedelman, this not seems to be a bug, the `getc()` method like other standard `stdio` functions use `Mutex`es to protect the access to the standard output resource, and like is mentioned in the [API documentation](https://os.mbed.com/docs/v5.7/reference/mutex.html)

As a workaround, you can set a flag (a variable) in the interrupt routine, and in the main loop; check this flag and do what you

[2018-01-07 02:14] saedelman commented on #5799
Yeah, my bad. I'm upgrading from mBed OS 5.4.7 and the documentation for mBed is lagging behind as the examples online still show doing the getc() in the ISR. I've switched to using RawSerial for now, so we'll close this issue.

[2018-01-07 02:14] #5799 closed

[2018-01-07 20:29] TomoYamanaka commented on #5777
HI @mbedNoobNinja

Sorry to keep you waiting.
Can you go ahead your work by referring to this(#5628 & the current state of VK_RZ_A1H) until I PR?

[2018-01-07 22:26] ryankurte commented on #5735
@stevew817 having some build issues on one platform (Linux) due to duplicated libraries / configs, doesn't appear on OSX for unknown reasons. Should the `TOOLCHAIN_GCC_ARM` folder be removed now RAIL is toolchain independent?

[code]

[code]

[2018-01-08 02:55] raghidmardini commented on #5718
@bcostm @tery123 I am seeing the same behavior on NUCLEO_F767ZI. Any updates regarding this issue? Thanks!

[2018-01-08 03:39] saedelman opened #5801 "Allow mbed_app.json to override OS_IDLE_THREAD_STACK_SIZE for Nordic targets"
### Description
- Type: Bug
- Priority:  Minor

---------------------------------------------------------------
## Bug

The iOS_IDLE_THREAD_STACK_SIZE define  is hard coded for Nordic targets in:

mbed-os/targets/TARGET_NORDIC/mbed_rtx.h

This should be wrapped in #ifndef/#endif otherwise the user defined setting in mbed_app.json is ignored.

**Target**
NRF52_DK

**Toolchain:**
GCC_ARM|

**Toolcha

[2018-01-08 09:41] 0xc0170 commented on #5801
I checked, there are at least 2 platforms that define this macro, none use ifndef.

For this, I assume instead of NULL, there could be a name:

[code]

@pan- @ARMmbed/team-nordic

[2018-01-08 09:47] 0xc0170 commented on #5801
For the names in idle thread and timer threads, can you create an issue in CMSIS 5: https://github.com/ARM-software/CMSIS_5/ with details , to understand the use case.  It could be configurable (default NULL as it is).

[2018-01-08 10:01] TaniaMirzin opened #5803 "New test's directory is not under .mbedignore"
### Description
- Bug
- Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM

**mbed-os sha:**
eca67ca7dafab4ef70c21e2463b541132d0dd691
release 5.7.2

**Expected behavior**
All tests directories is under .mbedignore
**Actual behavior**
The new directory mbed-os\features\filesystem\littlefs\TESTS_COMMON is not uder .mbedignore

Pleas

[2018-01-08 10:08] 0xc0170 commented on #5803
@geky As for now, there would be some copy-paste sharing for those tests, there is an opened issue how to handle this better as I recall. Can you please make sure the test code is not part of the app build

[2018-01-08 10:12] 0xc0170 commented on #5798
I2C is thread safe, thus the transaction can be interrupted. Can you share a code snippet to illustrate the issue? What is handled in the main thread, other threads and interrupts?

[2018-01-08 10:14] 0xc0170 commented on #5783
@ARMmbed/team-silabs Can the startup seq be customized ? Please review t he proposal

[2018-01-08 10:26] TaniaMirzin commented on #5803
@shelib01

[2018-01-08 10:35] Hoel opened #5804 "CLI export to SW4STM32 fails on OSX"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
ALL

**Toolchain:**
GCC_ARM

When i build blinky project with CLI everything works fine, when i try to export the same project for SW4STM32 it fails. This is a custom target (LORAM3_L151C8) but i also tried with already include targets, same result. The mbed blinky pr

[2018-01-08 10:37] stevew817 commented on #5783
@amq do you have a custom target based off of EFM32?

EMU_DCDCInit() should be called in all cases, but you are correct that the settings for the DCDC converter are dependent on the target board. The default values are correct for our boards, but might not be for custom boards.
Would you be okay with defining the DCDC settings in the target-specific device_peripherals.h header, in the same way we'

[2018-01-08 10:40] amq commented on #5783
Absolutely.

[2018-01-08 10:59] 0xc0170 commented on #5804
Based on the errors in the traceback, seems that board is not in the list, the exception might be handled to provide a log that a board is not supported (can help during offline development).

To add a support, you should add your target to BOARDS dictionary.

@ARMmbed/team-st-mcd

[2018-01-08 11:06] maansaari commented on #5254
Hi,

At this moment we haven't received enough customer feedback/requests for WPA2-enterprise support in mbed OS wifi.  At the moment WPA-enterprise is quite fragmented with different flavours of EAP-TLS, which makes the requirement quite unclear at this moment.
In case you are interested to discuss the requirement in more details, please contact me via email: kirsi.maansaari@arm.com

Best Regards

[2018-01-08 11:15] 0xc0170 commented on #5762
That is the intention, as some targets might not have debugger available in deep sleep or some other parts not clocked, therefore in debug only sleep is available.

[2018-01-08 11:38] 0xc0170 commented on #5281
@Alonof The repository is private, can you share public one to be able to test it?

Looking at the errors, they both come from ST HAL, wrong usage of their driver? the flash implementation is shared for all STM32F4 targets

[2018-01-08 11:53] Hoel commented on #5804
It is in targets.json and has a folder.
also as told **I tried other existing targets (XDOT_L151CC and others)** with the same result, anyway the custom target is in the list, has a folder, can compile and the binary works.

[code]

[code]

[2018-01-08 12:06] 0xc0170 commented on #5804
https://github.com/ARMmbed/mbed-os/blob/master/tools/export/sw4stm32/__init__.py#L36 - this is where those targets should be added to enable the exporter

[2018-01-08 12:12] pilotak commented on #5351
I applied your patch and it works perfectly I used `CAN1` and `handle`  0

[2018-01-08 12:25] Hoel commented on #5804
OK thank you it works now indeed.
I cannot find the project folder, where is it generated by default?

[2018-01-08 12:33] saedelman commented on #4621
Confirmed fixed.

[2018-01-08 12:33] #4621 closed

[2018-01-08 13:04] 0xc0170 commented on #5796
Is this related to https://github.com/ARMmbed/mbed-os/issues/5421 ?

[2018-01-08 13:09] 0xc0170 commented on #5804
It should work out of the box, are you using your own GCC ARM installation or provided by stm32 ide?

@ARMmbed/team-st-mcd Do you recognize the errors above?

[2018-01-08 13:22] 0xc0170 commented on #5010
No, KL28Z is still not supported as indicated above

[2018-01-08 13:24] nvlsianpu commented on #5690
0xc0170 This can be closed.

[2018-01-08 13:24] nvlsianpu commented on #5690
@0xc0170 This can be closed.

[2018-01-08 13:29] 0xc0170 commented on #5615
@JanneKiiskila @yogpan01 Who could help to resolve the warnings in common_pal feature?

@SeppoTakalo Only used if MBEDTLS_SSL_SRV_C is defined ?

@kjbracey-arm Can we fix this warning,

[2018-01-08 13:30] #5690 closed

[2018-01-08 13:44] kjbracey-arm commented on #5615
nsdynmemlib warnings were removed by a correction in the master repo in https://github.com/ARMmbed/nanostack-libservice/pull/62

@deepakvenugopal, @arto, can you arrange an update?

[2018-01-08 14:00] kjbracey-arm commented on #5615
Actually, I believe that fix is already merged, via https://github.com/ARMmbed/mbed-os/pull/5511, so you shouldn't be seeing the warning any more in 5.7. That was merged 2 days prior to this issue's original submission - I'm hoping the report was testing old code.

[2018-01-08 14:00] drahnr commented on #5690
It works as expected, sorry for the noise.

[2018-01-08 14:01] adustm commented on #5804
Dear @Hoel

I cannot help for your private target, but I've tried the closest STM device, the STM32F303VC that is on the DISCO_F303VC.
I did:
`mbed export -i sw4stm32 -m DISCO_F303VC`
Then I've imported the directory mbed-os-example-blinky in System Workbench _(File... Import... from an existing project... select the directory)_ and builded the project. It compiles and link prefectly.
[code]
Could

[2018-01-08 14:01] 0xc0170 commented on #5683
@cmonr Can you please specify ? We should notify proper people about this bug so it could be fixed

[2018-01-08 14:07] netanelgonen commented on #5615
hi @kjbracey-arm  & @0xc0170
the original report was not specific to those warnings but for warnings inside mbed-os.
as I'm only working on releases i could not see any merge before a release.

currently, there are still warnings in master (8.1)
this is the latest list of warnings:

[Warning] ip4_addr.h@171,40: the comparison will always evaluate as 'false' for the address of 'ip_addr' will never

[2018-01-08 14:24] 0xc0170 commented on #5495
Same firmware, same board revision?

@studavekar Can you share the failed binary here that @stevew817 could rerun on his setup?

[2018-01-08 14:27] 0xc0170 commented on #5284
Are you able to reproduce @nvlsianpu ?

[2018-01-08 14:45] jarlamsa opened #5805 "Serial example with callback doesn't work on REALTEK_RTL8195AM"
### Description
- Type: Bug
- Priority: Major
---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**mbed-cli version:**
1.2.2

**mbed-os sha:**
`eca67ca7d`

**Expected behavior**
User is able to write to and read from serial

**Actual behavior**
User is not able to write or read from serial

**Steps to reproduce**
Copy example three from
(https://o

[2018-01-08 14:56] 0xc0170 commented on #5805
@ARMmbed/team-realtek Please review

[2018-01-08 15:19] pan- commented on #5679
@geky I'm not sure the discussion will lead somewhere

 From my perspective, the issue in that case is the use of `mbed.h` directly in os/production code. It is not designed for that usage and unsafe regards to name collision by *design*. The sole and only viable solution is to **not** use it in code that needs to be name collision free.

Unfortunately uses of `mbed.h` are not properly documented

[2018-01-08 15:22] hosse005 commented on #5796
Yes I believe so.

[2018-01-08 15:26] bmcdonnell-ionx commented on #5679
What do you think is the purpose of `mbed-os.h`, and why do you think it should not be used in production code?

[2018-01-08 15:42] 0xc0170 commented on #5790
Just got two F4 lp ticker failures here https://github.com/ARMmbed/mbed-os/pull/5597#issuecomment-355995753

[2018-01-08 15:48] bmcdonnell-ionx commented on #5780
OK, so @deepikabhavnani is working on #`1`, and has explained #`2`.

I don't anticipate doing so myself, but for reference, how could one improve the performance here?

[2018-01-08 15:53] deepikabhavnani commented on #5780
@bmcdonnell-ionx - @geky might help you with that, else you can add query in ChanFs community (http://elm-chan.org/fsw/ff/bd/) and see if you can get some help.

[2018-01-08 16:02] pan- commented on #5801
@bulislaw Is there any plan to allows compile time configuration of the RTOS ?

[2018-01-08 16:03] pan- commented on #5785
@hasnainvirk This has been fixed in ble examples.

[2018-01-08 16:37] #5772 closed

[2018-01-08 16:39] pan- commented on #5679
Such facility increases builds time for very little benefits. It may be OK for some projects but not all of them. As an example consider the numbers given in the [blog post](https://os.mbed.com/blog/entry/Mbed-OS-57) covering the release of mbed os 5.7:

If using `mbed-os.h` instead of the specific headers increases build time by only 1 second then 206 days of CI CPU time is lost in 90 days. That'

[2018-01-08 16:55] bmcdonnell-ionx commented on #5679
Oh, good points.

I actually alluded to this earlier.

Since you brought it up again, I'd just as soon see `mbed.h` go away, and have users `#include` the modules they need. It can be a *little* more work when initially writing the code to find things, but it would increase code clarity, improve modularity, and decrease build times.

Of course, documentation would need to be updated accordingly. A

[2018-01-08 17:14] saedelman commented on #5805
Two things to check, you need to use "RawSerial" not "Serial" constructors when using the getc() in the attach callback and you likely can't use printf() either. So, try compiling your code again with "Serial" replaced with "RawSerial" and remove the printf() but leave the led stuff so you can see that it is receiving data.

[2018-01-08 17:25] theotherjimmy commented on #5769
@carlosperate Yep! That helps for sure. Your testing indicates that GCC_ARM is not supported by the [build of the mbed-dev-bin](https://os.mbed.com/teams/Lancaster-University/code/mbed-dev-bin/file/768173a57492/TARGET_NRF51_MICROBIT/) that is used by that project.

[2018-01-08 17:25] theotherjimmy commented on #5769
@thegecko We should discuss a way to pass this error along to the online compiler front end, if possible.

[2018-01-08 17:27] theotherjimmy commented on #5769
@carlosperate You may be having many "symbol <x> not found" errors, as the build of mbed-dev-bin does not contain a static library for your compiler.

[2018-01-08 18:09] bmcdonnell-ionx commented on #5780
I've published a test case for the following. mbed team (@deepikabhavnani, @geky): Is this enough information for you to troubleshoot the issue?

[bug03a-mbed-os-5.7.2-filesystem-corruption](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bugs/releases/tag/bug03a-mbed-os-5.7.2-filesystem-corruption) ([650c265](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bugs/commit/650c26

[2018-01-08 18:18] bmcdonnell-ionx commented on #5780
Test runs of my unpublished program did not fail or corrupt the filesystem on 2 GB or 4 GB SD Cards, which can't fit the number of files it took to get to the failure demonstrated above.

[2018-01-08 18:23] Hoel commented on #5804
@0xc0170
i use the GCC ARM provided by SW4STM32 indeed. Also the projects i export from mbed online  (as SW4STM32 project) are imported and working fine in SW4STM32 (after small project properties tweaking).
The SW4STM32 project generated by CLI also has broken project properties, when i open them i got errors in SW4STM32 and i cannot access the C/C++ build settings at all which is weird since roj

[2018-01-08 19:57] cmonr commented on #5683
@jrobeson @0xc0170 The problem is in Nordic's implementation of the PWM Init function, specifically https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5/TARGET_NRF52_COMMON/pwmout_api.c#L151

[2018-01-09 00:30] lelely2 opened #5810 "NUCLEO-L476. How to use DMA."
### Description
- Type: Bug | Enhancement | Question
- Related issue: `#abc`
- Priority: Blocker | Major | Minor

---------------------------------------------------------------
## Bug

Target
 NUCLEO-L476

Toolchain:
MDK-ARM

Toolchain version:
5.22

mbed-cli version:

mbed-os sha:

DAPLink version:

Expected behavior
 Arm mbed-os should support NUCLEO-L476 DMA for UART.

Actual behavior
Using di

[2018-01-09 05:23] bmcdonnell-ionx commented on #5780
I edited my comment above, including the table. I added the version (`03b`) without the faux log and checksum files.

I'm experimenting with pre-filling the test directory. I'll update later.

[2018-01-09 07:09] larsgk commented on #5010
Is anyone working on it (or have it assigned)?

[2018-01-09 07:11] maciejbocianski commented on #5309
@jessexm what is the status of the fix?

[2018-01-09 07:22] jarlamsa commented on #5805
@SeppoTakalo

[2018-01-09 07:27] jarlamsa commented on #5805
Replaced `Serial` with `RawSerial` and the old printf with
`pc.putc(pc.getc());`
Still not getting anything on the terminal screen.

[2018-01-09 08:11] 0xc0170 commented on #5805
@jarlamsa Any other platform working ?

I filed a bug for Serial three example as it is incorrect (filled in Handbook)

[2018-01-09 08:26] 0xc0170 commented on #5683
Thanks @cmonr

@ARMmbed/team-nordic Please review

[2018-01-09 08:40] 0xc0170 commented on #5810
What's your use case for Serial ? To understand better the requirements

cc @ARMmbed/team-st-mcd

[2018-01-09 08:45] bcostm commented on #5810
DMA is not supported on mbed today. It is not related to ST devices... Can you please remove the ST label ? (for our analytics...)

[2018-01-09 08:53] nvlsianpu commented on #5683
@0xc0170 - what is expectation to the duty cycle once pwm instance is created? Should it be 0% or 100%.

[2018-01-09 08:59] Hoel commented on #5804
thank you, ok i try and report here

[2018-01-09 09:12] 0xc0170 commented on #5683
The most targets have this as default in the init

[code]

@bulislaw FYI, it should be covered in the new specs

[2018-01-09 09:15] 0xc0170 commented on #5810
Thanks @lelely2 for the request. I'll close this as not currently planned.

[2018-01-09 09:15] #5810 closed

[2018-01-09 09:21] #5785 closed

[2018-01-09 09:44] adustm commented on #5804
I'm afraid you will need support from System Workbench. You could ask your questions on their forum here www.openstm32.org ?
Maybe the generated makefiles are not well generated. You could compare them with the one generated for the DISCO_F303VC...

kind regards

[2018-01-09 10:07] Hoel commented on #5804
I will ask them, not sure they will deal the problem, it looks like an mbed CLI issue.
The projects exported from online mbed compiler are working fine, they dont have these run/debug errors.
The project exported from CLI with existing target :  mbed export -i sw4stm32 -m DISCO_F303VC
are also ok for run/debug, of course i cannot use it for actual target since MCU is not the same variant.

Makefil

[2018-01-09 10:39] bulislaw commented on #5801
I would say it makes sense to have the sizes configurable for timer and idle thread stacks. And mbed_app.json would be the right place. @saedelman would you be able to create PR for that?

[2018-01-09 11:00] bulislaw commented on #5683
Made a note in the PREQ.

[2018-01-09 11:11] jarlamsa commented on #5805
@0xc0170 The Serial example is working at least with K64F. Also RawSerial is working with K64F.

REALTEK_RTL8195AM is able to print out TX to the terminal, but fails to echo the RX back to the terminal.

[2018-01-09 11:18] TomoYamanaka commented on #5777
Hi @mbedNoobNinja

Thank you for waiting.
I did PR the registration of GR-LYCHEE target and the new folder structiures to share common codes(#5813).
Could you PR the update of VK_RZ_A1H related after my PR merged?

[2018-01-09 11:50] SierpG opened #5814 "ImportError: No module named utils"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
We are using the command "mbed compile ..." in Jenkins and get the following error message:

C:\Jenkins\workspace\Test2_Gabi>mbed compile -m ROBU_EU -t IAR --profile C:\Jenkins\workspace\M2M_Platform_ROBU_EU\mbed-os\tools\profiles\m2m_debug_test.json -vv

Traceback (most recent call last):
  File "C:\

[2018-01-09 12:13] ZakariaZed opened #5815 "eventQueue Nrf52 Mbed Bug"
Hi everyone,
I have a probleme in my code when i use the mbed-os-eddystone-service exemple. i modified the exemple to had mor services " TLM, UID, Battery" services and i added another frame " iBeacon frame".
When i download the code in the device :
* It work normaly. But when i turn off and turn it on it's make a problem.
So for the detection of problem i added a LED  in the fonctionand debug and

[2018-01-09 12:46] 0xc0170 commented on #5815
@pan- @paul-szczepanek-arm Please review

[2018-01-09 12:48] 0xc0170 commented on #5814
Seems like that, does that fix the error you are having?

cc @theotherjimmy

[2018-01-09 13:08] pan- commented on #5815
@ZakariaZed Could you describe precisely what the issue is ?
It would be also interesting to provide the mbed OS and compiler version used.

[2018-01-09 13:11] paul-szczepanek-arm commented on #5815
is the code available to view on github?

[2018-01-09 14:35] ZakariaZed commented on #5815
@pan-  I'm using Mbed OS 5 ans i use the online compiler and in the same time i tried with Uvision 5 " Keil" compiler (ARM Compiler : default compiler version 5).
I have a problem with eventQueue:
when i dwonload the code in Nrf52832 it working normaly
But if i turn off the device and turn on . it doesn't work anymore until I download the code again.
[file:///C:/Users/Algoria/Desktop/Eddystone%20f

[2018-01-09 14:37] ZakariaZed commented on #5815
@paul-szczepanek-arm  I'll Upload it

[2018-01-09 14:42] paul-szczepanek-arm commented on #5815
@ZakariaZed thanks, can you please do it in at least two commits so that we can easily see your changes? thanks

[2018-01-09 14:48] ZakariaZed commented on #5815
[https://github.com/ZakariaZed/mbed-os-example-ble-EddystoneService_URL-UID-TLM-iBeacon/blob/master/source/main.cpp](url)

@paul-szczepanek-arm
@pan-
This is my code and the problem was in the man.cpp.

[2018-01-09 14:55] theotherjimmy commented on #5814
@SierpG That's correct. Would you like to submit that PR?

[2018-01-09 14:56] ZakariaZed commented on #5815
@pan-
[https://github.com/ZakariaZed/mbed-os-example-ble-EddystoneService_URL-UID-TLM-iBeacon/tree/master/pictures](url)

[2018-01-09 14:56] andreaslarssonublox commented on #5706
@0xc0170 See comment in https://github.com/ARMmbed/mbed-os-example-tls/issues/133

[2018-01-09 15:22] pan- commented on #5815
Looking at the code you shared with us, you use mbed OS 5.5.2. We solved many issues in the ticker and sleep behavior of the NRF52 with subsequent releases. I encourage you to try to reproduce the issue with mbed os 5.7.2 .

[2018-01-09 15:38] mbedNoobNinja commented on #5777
I will, after the (#5813) is merged, but my PR concerning the VK_RZ_A1H, may come a bit later. (with a week or two delay)

[2018-01-09 16:24] drahnr opened #5817 "NXP Kinetis K60F support?"
### Description
- Type: Question
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F

## Question

To what extent are

K60F (this is the most important to me)
K63F
K65F
K81F

supported by the `K64F` target supported?

[2018-01-09 16:56] ZakariaZed commented on #5815
@pan-  so the solution is to use Mbed os 5.7.2 ,

[2018-01-09 19:57] bmcdonnell-ionx commented on #5780
OK. Finally I published:
- [bug03d-mbed-os-5.7.2-filesystem-corruption-prepopulate-lowmem](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bugs/releases/tag/bug03d-mbed-os-5.7.2-filesystem-corruption-prepopulate-lowmem) ([546b61d](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bugs/commit/546b61dd9a9257583fe6cd5127efe263641c6ad0)) - User pre-fills the SD Card with files for

[2018-01-09 21:26] geky commented on #5524
Here's the conception of @bridadan's thoughts:
https://github.com/ARMmbed/mbed-os/pull/5819

[2018-01-09 21:31] geky commented on #5803
related issue https://github.com/ARMmbed/mbed-os/issues/5524
proposed fix https://github.com/ARMmbed/mbed-os/pull/5819

Unfortunately it isn't as simple as adding the TEST_COMMON to .mbedignore, since that would prevent the TEST_COMMON from being used in tests. The test framework we are using currently doesn't have a home for common code.

We could copy-paste these tests as @0xc0170 mentions. IMO

[2018-01-09 22:10] AnotherButler commented on #3216
@screamerbg @theotherjimmy Could y'all please take a look at this?

[2018-01-10 02:37] TomoYamanaka commented on #5777
I look forward to your PR.

[2018-01-10 08:11] bcostm commented on #5718
Hi
We're working on it. We should send a fix soon.

[2018-01-10 08:12] jarlamsa commented on #5805
Tested the Serial and RawSerial with DISCO_L475VG_IOT01A and UBLOX_EVK_ODIN_W2, working without problems.

Also the REALTEK_RTL8195AM works without problems if I remove the callback and just poll for characters in the while loop in main function. So the callback breaks the functionality on REALTEK_RTL8195AM.

[2018-01-10 09:01] janjongboom opened #5820 "LittleFS fopen in 'w' mode removes existing file"
From https://os.mbed.com/questions/79863/LittleFileSystem-fopenfilew-does-remove-/

[code]

[2018-01-10 09:01] janjongboom commented on #5820
@geky

[2018-01-10 09:55] 0xc0170 commented on #5817
@mmahadevan108 Please review

[2018-01-10 09:55] 0xc0170 commented on #5817
@mmahadevan108 Please review

[2018-01-10 11:13] pan- commented on #5815
@ZakariaZed maybe; try it and tell us.

[2018-01-10 11:54] JanneKiiskila commented on #5643
@Archcady @tung7970  - any chance of getting this one sorted out?

[2018-01-10 12:03] ZakariaZed commented on #5815
@pan-  Can you tel me how to do an update of Mbed os please ?

[2018-01-10 12:17] ZakariaZed commented on #5815
@pan- @paul-szczepanek-arm  it working. Thank you :)

[2018-01-10 13:40] pan- commented on #5815
Glad it help; I'm closing this issue.

[2018-01-10 13:40] #5815 closed

[2018-01-10 13:48] martinnov71 opened #5823 "Ticker causes big delays in TCPSocket::recv"
### Description
- Type: Bug | Question
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEOF429ZI

**Toolchain:**
GCC_ARM

**mbed-os**
5.6.2, 5.7.1

**Expected behavior**
- TCPSocket::recv is consistent in time
- detaching Ticker should return system to correct function

**Actual behavior**
- when Ticker is attached with function that blocks

[2018-01-10 16:50] ciarmcom commented on #5820
ARM Internal Ref: IOTMORF-1909

[2018-01-10 17:13] deepikabhavnani commented on #5780
@bmcdonnell-ionx  Were you able to create 65534 files successfully on HEAP partition/SD card? I was trying with 8GB SD card formatted using `FatFilesystem::format()` API and using host machine for file creation, below is my observation.

1. Linux system created 32765 files in any directory and then failed with error (No space left on device). Creation of files in another directory was allowed. Rea

[2018-01-10 20:54] rerickson1 commented on #5491
Any time frame for when this will be complete?

[2018-01-10 21:03] studavekar commented on #5495
This is a configuration, same failure logs as in https://github.com/ARMmbed/mbed-os/issues/5495#issuecomment-352856719

MBED.HTM
[code]
git log -n1 --oneline
f10e663 Merge pull request #5807 from iiSeymour/patch-2

![whatsapp image 2018-01-10 at 2 57 31 pm](https://user-images.githubusercontent.com/25986241/34795133-adac163a-f616-11e7-84c8-f0f4da4a5f26.jpeg)

## Binary
rename txt to bin
[flash.bin

[2018-01-10 22:19] bmcdonnell-ionx commented on #5780
Oops - somehow the call to `sdram_init()` remained in my [bug03d](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bugs/releases/tag/bug03d-mbed-os-5.7.2-filesystem-corruption-prepopulate-lowmem) release. Not sure how that happened. Skip that one; use this one:

- [bug03e-mbed-os-5.7.2-filesystem-corruption-prepopulate-lowmem](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bu

[2018-01-10 22:34] deepikabhavnani commented on #5780
@bmcdonnell-ionx  - I already did those changes and tried once. Below is the observation, I will be trying again with format using FatFilesystem::format()

Steps:
1. Format on windows
2. 8,128 - 512KB each created on linux
3. Insert in windows and check - Windows complains after linux dump of files as well. Did `scan and repair` - no error found. (Windows pop error might be because of *.bin file n

[2018-01-10 22:54] bmcdonnell-ionx commented on #5780
@deepikabhavnani, you bring up a good point - I did not track which methods I used to format the SD Cards as it related to the tests. I think I mostly used Windows 10 to format them (with "default allocation size"), but occasionally used the `FATFileSystem::format()` function on my mbed device.

Which changes?

Looks like your gist was based on my Rev `c`. I think you'll find my latest Rev `e` eas

[2018-01-10 22:57] bmcdonnell-ionx commented on #5780
@deepikabhavnani,

Yes, this demo code does that with empty files on the HeapBlockDevice.

1. [bug01-mbed-os-5.7.1-65534-files-dirent-ne-null](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bugs/releases/tag/bug01-mbed-os-5.7.1-65534-files-dirent-ne-null) ([1fa0b0b](https://github.com/bmcdonnell-ionx/mbed-os-demo-filesystem-bugs/tree/1fa0b0b3969366a7c79a26433633fe92a24fd13c))

[2018-01-10 23:13] deepikabhavnani commented on #5780
@bmcdonnell-ionx I was able to reproduce issue #3 with FatFilesystem::format(), more on that once we find  out actual root cause of corruption. Thanks.

[2018-01-11 12:31] pilotak opened #5827 "Callback: pass result?"
I would like to implement a callback mechanism (to my class) similar to `serial.attach()` where you assign your own function when na IRQ is generated. Is it possible that the class will send me a not only IRQ but some result too? ie:

`test.h`
[code]

`test.cpp`
[code]

`main.cpp`
[code]

### Description
- Type: Question

[2018-01-11 12:32] SierpG commented on #5814
This fix solves our problem. However we can not yet submit a PR. We are working on this.

[2018-01-11 12:58] 0xc0170 commented on #5827
You can change the declaration of your callback to accept parameters ? Callback class supports that. Need to change `Callback<void()> _mycb;`

Or as you did via a global accessible object (as I read the code, you are getting the number as the object is visible, and get method would return number member).

[2018-01-11 13:16] pan- commented on #5827
Please have a look at our [introduction](https://os.mbed.com/docs/v5.7/reference/platform.html#callbacks) to callback objects.

[2018-01-11 13:25] SierpG commented on #5814
In the file tools/test.py the same problem exists in line 38 and 39. Here also "from utils import ..." should be replced by "from tools.utils import ...".

[2018-01-11 13:38] 0xc0170 commented on #5823
@kjbracey-arm @mikaleppanen

[2018-01-11 13:49] pilotak commented on #5827
Didn't see that, thank you

[2018-01-11 13:49] #5827 closed

[2018-01-11 14:24] kjbracey-arm commented on #5823
I would hazard a guess that this is a problem in the Nucleo network driver triggered by an interrupt latency spike - if it doesn't respond fast enough to some packet received interrupt, the driver state becomes inconsistent, eg buffer index getting out of sync with hardware.

Random large packet delays are generally a symptom of driver and hardware ring buffer pointers getting out of sync. Might I

[2018-01-11 14:53] 0xc0170 commented on #5823
@ARMmbed/team-st-mcd

[2018-01-11 14:58] jeromecoutant commented on #5823
Hi
Does adding DMB as in #5720 solve anything ?
Regards,

[2018-01-11 15:02] kjbracey-arm commented on #5823
Nice thought, but I doubt it's a related issue. Still, it's worth trying, just in case.

I didn't add the DMB to the other drivers because I didn't believe they'd achieve anything on pre-M7 devices, and was aiming for a quick urgent fix for the M7. But I'd say they should be there in all driver variants, just to make the code robust against future devices.

[2018-01-11 15:46] martinnov71 commented on #5823
Hi @jeromecoutant, thanks for suggestion. Unfortunatelly adding those three lines to stm32f4xx_hal_eth.c doesn't seem to fix the issue.
Best regards

[2018-01-11 16:30] #5716 closed

[2018-01-11 17:22] cmonr commented on #5308
@mprse @danclement Has any progress been made on this?

[2018-01-11 17:39] cmonr commented on #5284
@fkjagodzinski We have a cyclic PR dependency issue. Is PR #5046 needed for this PR or is this PR needed for PR #5046?

[2018-01-11 18:44] MarceloSalazar commented on #5671
FYI @NeilMacMullen

[2018-01-11 18:54] bkht commented on #3725
Hi, I do have this problem:
    $ mbed new mbed-os-program
    $ cd mbed-os-program
    $ mbed ls -a
    $ mbed compile -t GCC_ARM -m NUCLEO_F746ZG -v
    [Fatal Error] platform.h@22,19: cstddef: No such file or directory

    $ sudo mbed config --list
    [mbed] Global config:
    GCC_ARM_PATH=/usr/bin
    ARM_PATH=/home/jack/apps/gcc-arm-none-eabi-7-2017-q4-major

    [mbed] Local config (/home/

[2018-01-11 21:05] deepikabhavnani commented on #5780
@bmcdonnell-ionx - Can you please verify the fix in PR#5829 for issue 3?

[2018-01-11 21:18] bmcdonnell-ionx commented on #5780
@deepikabhavnani - Does it matter if the card is formatted by the mbed device or the PC?

[2018-01-11 21:23] atoy40 opened #5830 "STM32L0 MCU hang after some deepsleep/wakeup cycles"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L073RZ

**Toolchain:**
GCC_ARM

**mbed-os sha:**
eca67ca7d (HEAD, tag: mbed-os-5.7.2, tag: latest, origin/mbed-os-5.7)

**Problem**

A gpio is used as an interrupt to wakeup after a deep sleep. After some sleep/wakeup cycle, the processor hangs (it can hangs afte

[2018-01-11 21:24] deepikabhavnani commented on #5780
No it should not matter. Block division is done differently by different format utilities, with this case with fat filesystem format we easily got the case where write to 0x800000 block was done. With other methods, it might take more time or some extra file writes.

[2018-01-11 21:28] bmcdonnell-ionx commented on #5780
I'm running some other testing on my devices now. I'll probably try test `3e` tomorrow (abbreviated with prepopulation), and maybe run an extended test (without prepopulation) over the weekend.

Thanks.

[2018-01-11 21:31] deepikabhavnani commented on #5780
@bmcdonnell-ionx - Thanks for helping us finding this issue

[2018-01-11 21:36] bmcdonnell-ionx commented on #5780
@deepikabhavnani - You're welcome. Thanks for being responsive and fixing things. :)

[2018-01-11 22:03] bmcdonnell-ionx commented on #5780
@deepikabhavnani - Until now, I've been testing with [mbed-os-5.7.2](https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.7.2). Should I `merge` or `cherry-pick` your PR to test it?

The merge brings in a lot of other stuff, as shown below.

    $ git merge fat_issue_5780_3
    Auto-merging targets/TARGET_STM/rtc_api.c
    Auto-merging features/FEATURE_BLE/ble/BLE.h
    Merge made by the 'recursive'

[2018-01-11 22:10] deepikabhavnani commented on #5780
Fix did not work on re-running test, let me see more why I am still getting addr 0x0 for block 0x800000. May be some compiler optimization.
@bmcdonnell-ionx - You can cherry-pick. But please wait till I confirm

[2018-01-11 22:35] geky commented on #5820
Ah! This is the same as this issue, just hidden under a few layers: https://github.com/geky/littlefs/issues/7

Here's a patch that will fix this: https://github.com/ARMmbed/mbed-os/pull/5832

[2018-01-11 23:45] deepikabhavnani commented on #5780
@bmcdonnell-ionx - Fix in place, you can verify as per your convenience. Thanks

[2018-01-12 01:12] bmcdonnell-ionx commented on #5780
@deepikabhavnani

Where?

[2018-01-12 01:58] deepikabhavnani commented on #5780
I updated the PR with fix https://github.com/ARMmbed/mbed-os/pull/5829

[2018-01-12 08:49] mprse commented on #5308
No progress. Maybe in the near feature I will have NCS36510 board, then I'll try to investigate and fix the problem.

[2018-01-12 09:56] fkjagodzinski commented on #5284
@cmonr, this issue blocks PR #5046 (and also PR #5106 and PR #5548).

[2018-01-12 10:26] 0xc0170 commented on #5830
@ARMmbed/team-st-mcd please review

[2018-01-12 10:33] LMESTM commented on #5830
@atoy40 thanks for reporting the issue
@0xc0170  with new sleep architecture, is it expected that sleep() is called from main thread ? Shouldn't it be called directly from background loop when thread don't have anything to do ?
Basically, doing wait for a long time in the main instead of sleep() should result in the same sleep mode right ?

[2018-01-12 10:37] 0xc0170 commented on #5830
Basically, doing wait for a long time in the main instead of sleep() should result in the same sleep mode right ?

I overlooked the sleep there ! True should not be.

@atoy40 Please read https://os.mbed.com/docs/v5.7/reference/sleep-manager.html Instead of sleep, use wait function.

[2018-01-12 10:39] 0xc0170 commented on #5717
#5721 and #5722 fixes this

[2018-01-12 10:39] #5717 closed

[2018-01-12 10:44] 0xc0170 commented on #3725
what gcc is there ? the ARM path points to gcc (use GCC 6 as that one is supported). T hus I would fix GCC_ARM_PATH to point to GCC ARM 6 version

[2018-01-12 11:09] pan- opened #5835 "Tickers update should be atomic"
### Description
- Type: Bug

## Bug

The [function](https://github.com/ARMmbed/mbed-os/blob/master/hal/mbed_ticker_api.c#L111) updating the current ticker value does not do it atomically, as a result concurrent updates of the ticker may corrupt the ticker value. This may happen if multiples thread read concurrently the ticker value.

Protecting the data structure from concurrent updates with a cri

[2018-01-12 11:09] bkht commented on #3725
Hi, I now have
    $ arm-none-eabi-gcc --version
    arm-none-eabi-gcc (GNU Tools for Arm Embedded Processors 7-2017-q4-major) 7.2.1 20170904 (release) [ARM/embedded-7-branch revision 255204]
So, I need to install arm-none-eabi-gcc v6 better?

[2018-01-12 11:19] pan- commented on #3725
@bkht  what type of file triggers the error ? C or C++ ?

[2018-01-12 11:19] 0xc0170 commented on #3725
https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads
Only version 7 is listed...
Where can I get v6?

scroll down more, 6 is there

[2018-01-12 11:22] bkht commented on #3725
Many thanks!!!

[2018-01-12 12:29] pan- commented on #5823
@martinnov71 Callbacks registered in ticker instances are executed in handler mode (within an IRQ); depending on IRQ priorities it can prevents other interrupts to be served. Depending on the maximum interrupt latency accepted by peripherals or drivers present in the system, this may be an issue.

I would advise you to use the [event queue](https://os.mbed.com/docs/v5.6/tutorials/the-eventqueue-ap

[2018-01-12 13:09] betzw commented on #1561
#deadbeef

[2018-01-12 13:09] #1561 closed

[2018-01-12 13:10] 0xc0170 commented on #5835
👍

Looking at the file who handles the critical section, caller does in most cases, invoking update time within critical section. The only case it fails is when reading the time as reported in `ticker_read_us` (I do not count initialize as that one is run once and at the end is event scheduled).

@c1728p9 @SenRamakri @bulislaw  please review

[2018-01-12 13:11] bkht commented on #3725
Hi, I just installed gcc 6.3.1

    $ arm-none-eabi-gcc --version
    arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]

    $ sudo mbed config -G ARM_PATH "/home/jack/apps/gcc-arm-none-eabi-6-2017-q2-update-linux"
    $ sudo cp /home/jack/apps/gcc-arm-none-eabi-6-2017-q2-update-linux/bin/arm-none-eabi-gcc /u

[2018-01-12 13:23] ashok-rao opened #5838 "ublox NINA B112 does NOT reset over serial."
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
EVK-NINA-B112

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
1.2.2

**mbed-os sha:**
a5f1426

**DAPLink version:**
0244

**Expected behavior**
Sending "break" over serial should reset the MCU.

**Actual behavior**
Sending "break" over serial do

[2018-01-12 13:43] janjongboom opened #5839 "NUCLEO-F429ZI export to uVision 5 is broken (online compiler)"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
NUCLEO-F429ZI

**Toolchain:**
ARM

**Toolchain version:**
Online Compiler

**Expected behavior**
Export succeeds

**Actual behavior**
Export fails

**Steps to reproduce**
Apparently does blinky work, but HelloMQTT does not...

See https://os.mbed.com/questions/79879/Unable-to-export-hell

[2018-01-12 14:02] 0xc0170 commented on #5839
@theotherjimmy Please review

[2018-01-12 14:03] 0xc0170 commented on #5838
@ARMmbed/team-ublox

[2018-01-12 14:05] 0xc0170 commented on #3725
If you can answer this question, where is the error coming from (not only what header file).

[2018-01-12 14:48] chrissnow opened #5840 "EFM32: Unresponsive after 12 days"
### Description
- Type: Bug
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
EFM32PG and PG12 (probably all EFM32)

**Expected behavior**
Works for more than 12 days.

**Actual behavior**
Crashes after around 12 days.
**Steps to reproduce**
Leave alone for 12 days, may be able to preload CNT to bring this sooner

It looks like it is related to

[2018-01-12 14:51] pan- commented on #5840
@ARMmbed/team-silabs

[2018-01-12 14:53] NeilMacMullen commented on #5835
FWIW, I believe this matches the sc

[2018-01-12 14:59] kjbracey-arm commented on #5823
@pan- -  good advice in general, but in this case he's claiming 90us in the interrupt handler, which is within the 100us area that I've always used as a rule of thumb for "tolerable IRQ latency" on a conventional system. I'd expect the network to cope that sort of latency, and certainly for it to not cause lasting harm once the handler's gone.

[2018-01-12 15:00] mmahadevan108 commented on #5817
The support should be fairly similar. However you might need to update the startup and linker files found under the device folder. You can download the files from https://mcuxpresso.nxp.com/en/select

[2018-01-12 15:07] atoy40 commented on #5830
@0xc0170  @LMESTM one more information to add : I've tested the exact same code with a "mbedlib" (rev 159 ) project, it's had the same behavior : seems dead after some deepsleep/wakeup
And stop me if I'm wrong, but if I take a look into the wait code in mbed5.7, it locks for deepsleep before calling Thread::wait. So when you ask to test with wait, you mean Thread::wait ?
Thanks.

[2018-01-12 15:21] NeilMacMullen opened #5843 "Nordic RF52 Separate TWI blocks (I2C/SPI) cannot be used in parallel from different threads"
Using RF52833, Any Mbed > 4.5

I'm not sure if this is a known or deliberate (but undocumented) restriction?

It seems not to be possible to use  multiple TWI blocks from different threads.  In practice I have seen this on a platform with both SPI (for file system) and I2C (for sensors/comms)

If the I2C bus is used on a background thread (to poll a sensor for example) and the file system is read

[2018-01-12 15:22] NeilMacMullen commented on #5843
Adding @MarceloSalazar and @dlfryar as watchers

[2018-01-12 15:26] NeilMacMullen commented on #5671
@shayo  - I assume you are already aware of the restriction at https://github.com/ARMmbed/mbed-os/issues/5843 ?   Basically, you cannot run both I2C and SPI simultaneously from different threads. :-(

We have also seen an issue where the TWI appears to be generating incorrect waveforms on the I2C bus.  ARM are aware of this and discussing with Nordic I believe.

[2018-01-12 15:36] bkht commented on #3725
Hi, this is the complete output, hope that helps:
    $ mbed compile -v
    [mbed] Working path "/home/jack/mbed/mbed-os-program" (program)

    [mbed] Exec "/usr/bin/python -u /home/jack/mbed/mbed-os-program/mbed-os/tools/make.py -t GCC_ARM -m NUCLEO_F746ZG --source . --build ./BUILD/NUCLEO_F746ZG/GCC_ARM -v" in /home/jack/mbed/mbed-os-program
    Building project mbed-os-program (NUCLEO_F746ZG,

[2018-01-12 15:46] drahnr commented on #5817
Does this only apply to K60F or also to the other targets?

[2018-01-12 15:57] LMESTM commented on #5830
@atoy40 yes I think we should better use wait(100) that sleep now. wait would end up in Thread::wait indeed I think. I agree that this doesn't mean it would solve your issue - I'll have to test, but cannot do it now.

[2018-01-12 16:13] chrissnow commented on #5840
I can confirm that if you preload RTCC->CNT with 0xFFFF0000 it will fail after around 16 seconds.

[code]

[2018-01-12 16:34] theotherjimmy commented on #3725
@bkht You may need `arm-none-eabi-newlib` or similar to get the c std lib.

[2018-01-12 16:35] chrissnow commented on #5840
Looks like It's not crashing as such but threads stop being executed\scheduled.
Perhaps the RTOS isn't coping with the rollover.

[2018-01-12 17:09] deepikabhavnani commented on #5780
@geky - Seems we have similar issue(3) in Littlefs as well. https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/littlefs/LittleFileSystem.cpp#L94

[2018-01-12 20:01] mmahadevan108 commented on #5817
Applies to all the targets mentioned in the list. Please use the mbed support for K64, K66 and K82 as reference and download the SoC specific files from  https://mcuxpresso.nxp.com/en/select

[2018-01-12 20:38] dlfryar commented on #5588
Mbed OS SDK updates happening [here](https://github.com/ARMmbed/mbed-os/pull/5845)

[2018-01-12 20:38] dlfryar commented on #5491
Mbed OS SDK updates happening [here](https://github.com/ARMmbed/mbed-os/pull/5845)

[2018-01-12 20:39] dlfryar commented on #4588
Mbed OS SDK updates happening [here](https://github.com/ARMmbed/mbed-os/pull/5845)

[2018-01-12 20:42] dlfryar commented on #3045
Mbed OS SDK updates happening [here](https://github.com/ARMmbed/mbed-os/pull/5845)

[2018-01-12 20:56] studavekar commented on #5790
Ticker failure on F7 not sure if its related  https://github.com/ARMmbed/mbed-os/pull/5795#issuecomment-357342685 & https://github.com/ARMmbed/mbed-os/pull/5760#issuecomment-357329201

[2018-01-12 21:35] mmahadevan108 commented on #5632
I don't see the issue. I tried the below test:

#include "mbed.h"

int main() {
    DigitalOut p1(P0_13);
    DigitalOut p4(P0_16);

    while (true) {
        int i;
        p1.write(0);
        p4.write(0);
        wait(0.5);

        i = p1.read();
        printf("After clear I=%d\n", i);

        p1.write(1);
        p4.write(1);

        wait(0.5);
        i = p1.read();
        printf("After

[2018-01-12 21:38] mmahadevan108 commented on #5632
`uykjhkjhk`

[2018-01-13 00:07] bmcdonnell-ionx commented on #5780
The PR looks promising. I ran a short test on two units using `3e`. They are up to

    /fs/fs-test/0000207b.bin  23119 ms

and

    /fs/fs-test/000020ba.bin  16940 ms

so far. (Previously it would fail at `00001fe2.bin`.)

Before prepopulating the files, I formatted one SD Card using the Windows PC (default allocation size), and the other on the device using `FATFileSystem::reformat()`.

I have t

[2018-01-13 16:40] bkht commented on #3725
How do I install 'arm-none-eabi-newlib'? I searched, but no luck.

[2018-01-14 03:11] scttnlsn opened #5849 "Erratic Thread::wait timing"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
STM32F072RB

**Toolchain:**
GCC_ARM via PlatformIO

**Toolchain version:**
arm-none-eabi-g++ (GNU Tools for ARM Embedded Processors) 6.2.1 20161205 (release) [ARM/embedded-6-branch revision 243739]

**Expected behavior**
1 second between LED blinks

**Actual behavior**
4 blinks at ~1Hz f

[2018-01-14 09:57] chrissnow commented on #5849
That sounds more like what happens when mbed crashes.

Have you checked the serial debug for messages?

[2018-01-14 14:06] carlosperate commented on #5769
Thanks @theotherjimmy , that explains the linking issue I was having. So is that the reason the export fails?

[2018-01-14 14:25] scttnlsn commented on #5849
That sounds very likely to be the case.  I don't see anything on the USB serial (tried various baud rates).  How do I see the debug messages?  Thanks!

[2018-01-14 16:04] shayo commented on #5671
This might be the case. I wasn't aware of this limitation.

[2018-01-14 17:36] bmcdonnell-ionx commented on #5780
Status update, by bug#:

1. @deepikabhavnani, what is the status?
2. Issue inherent in implementation.
3. I'm testing the PR #5829.

[2018-01-15 01:52] maskedw opened #5850 "NUCLEO_L476RG: LowPowerTicker::attach () can only be specified for a short time"
### Description
- Type: Bug

In `mbed_ticker_api.c`, management is performed considering the maximum value of the hardware timer, but` mbed_lp_tiker_api.c` seems not to handle the value of `us_timesamp_t (uint64_t)` properly.

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

**Toolchain:**
GCC_ARM

**Toolchain version:**
[code]

**mbed-cli version:*

[2018-01-15 06:48] 0xc0170 commented on #5790
#5841 also

@jeromecoutant I'll reproduce today this ticker tests locally with the latests tests that run.
We might need to disable lp ticker for those devices if not fixed soon.

[2018-01-15 07:21] jarlamsa commented on #5805
@saedelman Are you investigating this?

[2018-01-15 09:48] ccli8 opened #5853 "M487: mbed-os-tests-mbedtls-selftest test failed"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NUMAKER_PFM_M487

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-cli version:**
1.2.2

**mbed-os sha:**
`b590051 Merge pull request #5808 from SenRamakri/sen_ESP8266TestConfig`

**Greentea test report**
[code]

Per my check, there is a call flow error with SHA in `mbed-os/featu

[2018-01-15 10:33] 0xc0170 commented on #5853
@hanno-arm @mazimkhan Please review

[2018-01-15 10:34] chrissnow commented on #5840
This main along with the above ticker init changes is enough to show the problem.
[code]

[2018-01-15 10:52] andreaslarssonublox commented on #5838
Hi,
Some questions:
What debug chip is used?
Schematics?
What is the target here, EVK-NINA-B112(#5838) or MTB_UBLOX_NINA_B1(#5837)?

[2018-01-15 11:15] pan- commented on #3725
@bkht The following lines are suspicious:

[code]

Why do you copy manually `arm-none-eabi-gcc` into `/usr/bin/` ? A compiler is not just a binary, it come with a linker, headers files, object files, library files, ...

If you have extracted GCC in `/home/jack/apps/gcc-arm-none-eabi-6-2017-q2-update-linux/` then you can set `GCC_ARM_PATH` to `/home/jack/apps/gcc-arm-none-eabi-6-2017-q2-update-linu

[2018-01-15 11:19] ashok-rao commented on #5838
Thanks @andreaslarssonublox . Debug chip = LPC11U35 . I'm not sure if I can share the schematics at the moment. Let me check that with @chris-styles. Target = MTB_UBLOX_NINA_B1 but it is using the NINA-B112 module (same as the EVK-NINA-B112) and brings out the Tx, Rx, NRESET pins from the module to the breakout board that are mapped in PinNames.h as part for PR #5837 ..

[2018-01-15 11:37] RaEyE commented on #5849
The default Baudrate for most devices would be 9600Bauds 8Data 1Stop and no Parity.
In case you didn't configure something different (e.g. in code or with an override in mbed_app.json)

[2018-01-15 11:57] hanno-arm commented on #5853
Thanks @ccli8 for reporting this. The code-paths you're referring to indeed only work if zeroization is proper initialization / freeing for SHA contexts, which for some alternative implementations is not the case. I will check if any work has already been done in this direction; if not, we should open a PR for the main Mbed TLS repository with your suggested fix.

[2018-01-15 12:04] stevew817 commented on #5005
@bulislaw Can we close this now that #5581 was merged?

[2018-01-15 12:07] pan- commented on #5849
Looks like you are running out of memory: The ` NUCLEO_F072RB` is limited to 16KB of RAM. The application occupies *statically* `10104` bytes of RAM which leaves ~6K of RAM for the application.

When a thread is started, a chunk of 4096 bytes of memory is allocated and used as the thread stack. That leaves less than 2k of memory for the ISR stack and C/C++ runtime (registration of objects to delet

[2018-01-15 12:33] stevew817 commented on #5840
Think I know what's going on...
Wrap-around of the RTC counter doesn't happen at the same time as  when the frequency-adjusted us timestamp wraps. Since the conversion goes one-way, the RTCC counter value gets truncated into a us value, but when the us value wraps the RTCC counter doesn't reset along with it. This means when finally the RTCC counter wraps, the read-out us value suddenly jumps from

[2018-01-15 12:49] #5005 closed

[2018-01-15 12:50] ciarmcom commented on #5853
ARM Internal Ref: IOTSSL-2014

[2018-01-15 14:11] saedelman commented on #5805
No, I am not. The example 3 that you are referring to does not work on any target when using mbed-os above 5.4.7 because mutexes are not permitted inside an ISR and Serial is stream based and therefore wrapped in mutexes under the hood. You have to use "RawSerial pc(USBTX,USBRX)" instead of "Serial pc(USBTX,USBRX)" in the declaration to make it work. This is an ongoing problem with the documentati

[2018-01-15 14:20] 0xc0170 commented on #5805
We fixed the example, need to push the new SHA to the docs

[2018-01-15 14:22] #5712 closed

[2018-01-15 14:27] jarlamsa commented on #5805
That's weird since I tested with other targets and they were working with that example.

[2018-01-15 14:38] mprse commented on #5790
I tried to reproduce failure of the lp ticker tests on NUCLEO-F429ZI board without success.

 Tried to run the following tests:
- tests-mbed_hal-lp_ticker,
- tests-mbed_drivers-lp_timer

several times using GCC_ARM, ARM and IAR tool-chains and develop profile with the following additional flags (tests on CI are compiled with these flags):
- "-DMBED_TRAP_ERRORS_ENABLED=1",
- "-DMBED_HEAP_STATS_ENAB

[2018-01-15 14:41] saedelman commented on #5805
It may depend on the hardware specific drivers as well, but you should not be able to use printf() in an ISR (as the example showed) with any version of mbed-os above 5.4.7 as it will immediately fault with osErrorISR: "Mutex xxxx error -6: not allowed in ISR context". Have you tried using RawSerial instead? The interface is identical to Serial and should work.

[2018-01-15 15:19] stevew817 commented on #5783
@amq Please see PR #5855

[2018-01-15 15:19] stevew817 commented on #5840
@chrissnow @0xc0170 Added a fix through #5854

[2018-01-15 16:06] scttnlsn commented on #5849
Thanks, that was indeed the issue.  Should I have seen some output on the serial port when mbed runs out of memory?

[2018-01-15 16:07] #5849 closed

[2018-01-15 16:18] pan- commented on #5849
If the operator `new` fail to provide memory then the system enters in error mode and display a message.

[2018-01-15 16:33] Hoel commented on #5804
follow up on the issue, i confirm the prblem is on CLI export side, i have been able to setup a working project by exporting with
[code]
Which use STM32F3DISCOVERY' as target instead of my custom target (made from STM32F3DISCOVERY directory actually), when i use this the project is working fine in SW4STM32, but i have a to make numerous change in order to set the correct target afterwards in SW4ST

[2018-01-15 17:10] pan- commented on #3725
@bkht the `main` function is not defined by mbed OS; it shall be defined by your application. Add the following code in a file named `main.cpp` in the root or your project:

[code]

This application should blink your board LED every 500ms.

[2018-01-15 17:14] bulislaw commented on #5308
That is open for 3 months now, to get that merge we should remove the RTC capabilities of this device. @maclobdell what are your thoughts?

[2018-01-15 17:35] bmcdonnell-ionx commented on #5780
### The good news

The two units completed the test (`bug03e`) on 8 GB micro SD cards without error. And I see that you've merged it into master, so that's good. I tentatively think we can consider `bug03` resolved - unless you think the following is somehow related.

### The questionable news

I cherry-picked PR #5829 into my unpublished test program, ran that on an mbed target device with a 2 GB

[2018-01-15 18:14] saedelman commented on #1837
A bit late, but you are not using Mutex correctly. You acquire the lock with the first mutex.lock(), but the second mutex.lock() does not block because the lock is already held by the main thread. Mutex is meant to synchronize between threads, so calling lock() multiple times from the same thread never blocks. I would have a look at using Thread::signal_set and Thread::signal_wait() instead.

[2018-01-16 06:35] teetak01 opened #5859 "NUCLEO_L476RG, IAR does not link"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_L476RG

**Toolchain:**
|IAR

**Toolchain version:**
   IAR ANSI C/C++ Compiler V7.80.1.11864/W32 for ARM

**mbed-os sha:**
Mbed OS 5.7.2/5.7.3

**Expected behavior**
Application links.

**Actual behavior**
[code]
**Steps to reproduce**

Use wifi_idw01m1_v4.json

[2018-01-16 08:14] 0xc0170 commented on #5859
What version did it link before to be able to compare? The error is regarding RAM area - not enough space left for the app to fit. I can see this was tested using example client

The numbers specify SRAM section

[code]

This might be similar patch that could help: https://github.com/ARMmbed/mbed-os/pull/5844

@ARMmbed/team-st-mcd

[2018-01-16 08:22] 0xc0170 commented on #5850
Not related, but use version 6

Are you using mbed OS 5 or mbed 2 with rtos?

Can you provide more details? Looks like you already looked at the code closer?

@ARMmbed/team-st-mcd

[2018-01-16 08:25] bcostm commented on #5804
For me the SW4STM32 is working fine. The problem for you is that SW4STM32 does not support custom boards which is normal I think...

[2018-01-16 08:26] jeromecoutant commented on #5790
@0xc0170
I think I could find some optimization in the code execution.
Tests on going

[2018-01-16 09:11] teetak01 commented on #5859
Not tested with any older versions.

[2018-01-16 09:15] bcostm commented on #5850
I checked this nice example on mbed IDE using mbed library and the result is completely incorrect.

Then I used mbed-os library instead (version 5.7.3) and result seems ok (but I didn't wait hours...):

[code]

[2018-01-16 09:51] ZakariaZed opened #5860 "ble: data storage"
Hi,

   I'm using Nrf52 with Mbed ble exemple and i want to save data when i try to modify caracteristics. The problem is when i turn off my device and turn it on, it take the old value not my value.
So i want to know what i have to modify for saving value.
Thank's,
Zakaria.

[2018-01-16 10:01] adustm commented on #5859
Hello @teetak01
I have faced the same kind of link problem for the DISCO_L475, that 's why I've created #5844.
You can apply the same modification on
mbed-os/targets/TARGET_STM/TARGET_STM32L4/TARGET_STM32L476xG/device/TOOLCHAIN_IAR/stm32l476xx.icf
[code]

Let us know if it fixes your issue and I will deploy the PR to the STM32L476 devices.

[2018-01-16 10:12] 0xc0170 commented on #5860
@ZakariaZed Can you share any code, what version of mbed-os, which ble example, anything that can help a reader ?

[2018-01-16 10:19] aksdb opened #5861 "Ticker and Timer on custom board with STM32F030CC not working properly"
### Description
- Type: Question
---------------------------------------------------------------
I ported mbed to a custom board powered by a STM32F030CC. Most functionality seems to be fine (serial, gpio, threads, etc.).

However two features (so far) do not work or at least not as expected: The Ticker doesn't fire at all. No matter how large or small I specify the time. The Timer shows implausib

[2018-01-16 10:20] ZakariaZed commented on #5860
@0xc0170

 So i use the last version of Mbed-os, i think is 5.7.2. " I just update Mbed-os at the online mbed compiler.
The exemple is : "Mbed-os-EddystoneService" that i modified to send more data.
When i try to modify period caracteristics for exemple, the value are changed. When i disconnect and connet to the device, the value still there BUT when i turn off the device and turn On. the value ta

[2018-01-16 10:27] 0xc0170 commented on #5860
@pan-

[2018-01-16 10:33] TomoYamanaka commented on #5612
How is going?
Although I verified this issue by using Mbed OS 5.7.2, it seems that #5657 (is merged in Mbed OS 5.7.1) don't still merge into Online Compiler.

[2018-01-16 11:03] maskedw commented on #5850
I am using mbed OS5.

I'm sorry. There seemed to be a suspicious part, but it seems it was a misunderstanding.

If the value exceeds 32 bits per us, will it be divided into multiple interrupts?
Then, NullFunc () of the sample code has not been called.
I wanted to do more than 20 hours of deepsleep, but have to accept what is woken up on the way many times?

[2018-01-16 11:08] jarlamsa commented on #5805
Yes, this is what I used with RawSerial.

[code]

This is working with other targets, but not with the Realtek.

[2018-01-16 11:21] 0xc0170 commented on #5850
Lets consider mbed OS 5 -  do not call deepsleep (not even hal deepsleep) directly if you are not having specific reason to do so. Let threads to become idle if there is nothing to do.
If your target supports tickless mode, it would go to sleep automatically using low power timer (otherwise high freq ticker is used as rtos system timer, often it is systick). There is a limitation (how long a targe

[2018-01-16 12:20] bcostm commented on #5850
1 hour delay: The time displayed is ms is wrong but the delay last effectively around 1 hour (I didn't measured it precisely but it was more than 1879s/60=31min).

[code]

Now I'm testing 31min and 33min. I think there is a limitation to 32min...

[2018-01-16 12:50] aksdb commented on #5861
After some more hours of digging through documentation and debugging I found the culprits:
1. I used the wrong timer. TIM6 is a basic timer, so I needed to switch to TIM3 which provides the necessary features for mbed to work.
2. As it turns out, the timer is only 16bit. That caused compilation errors, since for the STM32F0 series the mbed code currently expects two interrupts (TIM_MST_UP_IRQ, TIM

[2018-01-16 12:50] #5861 closed

[2018-01-16 14:09] 0xc0170 commented on #5817
@drahnr If that answers your question, please close it

[2018-01-16 14:12] #5817 closed

[2018-01-16 14:55] 0xc0170 commented on #5830
Using mbed 2 then. sleep there looks fine then and you can ignore sleep manager as that one is involved in mbed OS 5.

What is false?

That is correct, as this is default ide look as it was (backward compatible), as RTOS OS timer is running and does not allow deepsleep (tickless changes things, however on a line above is a bug that I'll address soon).

The code in your initial report looks correct

[2018-01-16 15:15] Hoel commented on #5804
does SW4STM32 tool stand for SW4STM32 IDE or for mbed CLI SW4STM32 exporter? SW4STM32 does support custom target, we can create it from scratch with no issue in the target menu, and actually i have the LORAM3_F303CC in my targets tabs since i created it.

[2018-01-16 15:46] deepikabhavnani commented on #5780
1. Did you try this unpublished program on 8GB card with the fix?
2. From log it seems the Boot block and fat table are intact, corruption is now in root directory.

[2018-01-16 17:59] ZakariaZed commented on #5860
Hi,

    I think i have a problem with saveEddystoneServiceConfigParams(&params) function.
Now when i try to modify a value. and do the samethink before ( i mean turn off and on). it make me random variable.
For exemple, i change period from 700 ms to 722ms. after it display 704 ms !!!!!!!!

[2018-01-16 18:09] atoy40 commented on #5830
@0xc0170 What sound false to me is the example, where :
[code]

the comment suggeststhe  wait call will put the MCU into deepsleep, but it's note the case because it's lock into the idle handler itself.

[2018-01-16 18:40] bmcdonnell-ionx commented on #5780
I ran the unpublished program on another 2 GB card - passed, no problems.

I just started it this morning. It'll be a couple days.

Might one argue that the FAT table is not "intact" on account of those untouchable, unreadable files?

Regardless, is there any implication or anything that follows from your comment here?

I just ran a test using [F3](https://github.com/AltraMayor/f3) of the suspect

[2018-01-16 18:41] bkht commented on #3725
Thank you very much!, Now it all works!
I didn't even notice main.ccp was not in there, as I was trying to test my toolchain installation. :-)
Many thanks!

[2018-01-16 18:50] #3725 closed

[2018-01-16 22:07] #5840 closed

[2018-01-17 01:28] maskedw commented on #5850
[code]

I changed the test code.

Since NUCLEO_L476RG does not seem to support TICKLESS mode, I set a custom idle hook.
I will report it when a result comes out.

[2018-01-17 07:15] jarlamsa commented on #5805
@saedelman could you check the provided RawSerial example?

[2018-01-17 08:23] helmut64 opened #5863 "FlashIAP API should allow smaller program sizes then sector size"
- Type: Enhancement

Usually when a flash chip is erased (e.g. 2kB sector size) it is possible to write multiple times to this flash sector., e.g. at offset 0, 8 bytes, and later at offset 8 another 8 bytes at another time. To allow this the FlashIAP API and implementation needs to be extended, API e.g.:

int minProgramSize(); // gets the minium program size often 8 bytes.
int programAlignment();

[2018-01-17 08:57] stevew817 commented on #5783
@cmonr or @0xc0170 Please close this ticket as the requested feature was implemented by #5855

[2018-01-17 09:59] jeromecoutant commented on #5830
Hi
I have tried the code from the description,
and it doesn't hang for me...

[2018-01-17 10:34] jeromecoutant commented on #5830
Thanks to sleep() command, target goes well in deepsleep mode.
With some wait command, as deepsleep is locked, target goes only in sleep mode.
Without any command (only a while(1);), target stays in normal mode.

I didn't try OS2 (non RTOS).

[2018-01-17 11:13] atoy40 commented on #5830
@jeromecoutant can you try this one please ? :
[code]
and wait a bunch of minutes to see if it continues to blink ? In my case it stop (led on or off, it depends) to blink.

For your description on how mbed choose STOP/SLEEP mode, I agree with you, but imho, SLEEP mode cannot be consider as a deep sleep, this is why I think the doc sample can be misleading.

[2018-01-17 11:22] 0xc0170 commented on #5863
What would be difference between program page size and min program page size. Would ti be that program page size returns the ideal size for most use cases and minimum the minimum size that can be programmed. In some cases this could be as you defined 8 bytes the minimum, page size would be 1k ?

how to use this one?

Can you give examples to illustrate

@c1728p9 @SenRamakri

[2018-01-17 11:23] 0xc0170 commented on #5830
I'll fix the documentation now. Already proposed a fix for tickless deep sleep enable.

[2018-01-17 11:30] atoy40 commented on #5830
@0xc0170 you mean tickless will be enable on STM based targets ? in 5.7.2 I think only some targets enabled it.

[2018-01-17 11:50] 0xc0170 commented on #5830
#5866 - discussing how to address this what you were asking (deepsleep locked by default)

[2018-01-17 12:04] moranpeker opened #5868 "Unknown failure during mount - LittleFileSystem"
## Bug
- Type: Bug
- Priority: Blocker

**Target**
ALL

**Toolchain:**
GCC_ARM|ARM|IAR

**Actual behavior**
on LittleFileSystem there is no way to know if mount failed not

[code]

[2018-01-17 12:05] 0xc0170 commented on #5868
@geky

[2018-01-17 12:06] #5783 closed

[2018-01-17 12:24] helmut64 commented on #5863
The max Program page size depends on the chip, usually it is 256 bytes or even up to the sector size (e.g. 2kB). This depends on the flash chip. A flash erase sets the entire sektor  to 0xff's (2kB in my STM case). The erase is the costly operation because you have a chip depending max. erase cycle, it is somewhere between 1000 and 100k times erase, depending on the type/vendor. Wringing (program)

[2018-01-17 12:33] RaEyE opened #5869 "How to export offline Project to KEIL uVision5 with custom scatterfile?"
### Description
- Type: Question
- Priority: Minor

---------------------------------------------------------------

## Question

Is there a possibility to use the offline export functionality of mbed-os to ignore scatterfiles of specific targets and automaticaly replace them with custom scatterfiles provided by the user?

## Description

Currently projects are exportet using the '.\mbed-os\tools\

[2018-01-17 13:08] ZakariaZed commented on #5860
Hi,

I think that when i want to startbeacon service function with creating services and connecting every time i want to the device.

This is why i got i problem with "saveEddystoneServiceConfigParams" to save params after modification.

If i add to the function timeout a setupconfig to creat service. i can't save params.

Can someone tel me why.
Thank's
Zakaria.

[2018-01-17 13:24] ashok-rao commented on #5838
@andreaslarssonublox .. bump!

[2018-01-17 13:35] pan- commented on #5860
@ZakariaZed IIRC storage only works on NRF51. The Eddystone service present in BLE is also completely outdated and won't be updated in the near future. In the meantime there is an mbed implementation maintained by google: https://github.com/google/eddystone/tree/master/implementations/mbed ; please use this one.

[2018-01-17 14:08] saedelman commented on #5805
I do not have access to a REALTEK_RTL8195AM target so cannot test directly, but your example should work. Have you tried compiling with the debug profile (e.g. mbed --profile mbed-os/tools/profiles/debug.json) to see if any RTX errors are printed that could shed light on why it doesn't work on that target?

[2018-01-17 14:22] jarlamsa commented on #5805
Tried with the debug profile, not printing any errors.

[2018-01-17 14:36] cmonr commented on #5783
@stevew817 For reference, using a specific keywork in the PR will automatically close the issue as well: https://github.com/blog/1506-closing-issues-via-pull-requests

[2018-01-17 15:04] moranpeker opened #5871 "FAT FS partition magic field not set"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Major

---------------------------------------------------------------
## Bug

**Toolchain:**
GCC_ARM|ARM|IAR

**Actual behavior**
please follow this scenario while init file system :
init LittleFS .
init FatFS - mount failed -> reformat .
init back to L

[2018-01-17 15:28] geky commented on #5868
If you pass the block device into the constructor, LittleFS will try to mount in the constructor, but it won't be able to return an error.

But, if you don't pass the block device into the constructor, you can pass it into the mount function, which does return errors if LittleFS fails to mount:
[code]

One common pattern that may be helpful is to reformat if a mount fails:
https://github.com/ARMmb

[2018-01-17 15:45] geky commented on #5871
In this case LittleFS just sees that the primary superblock is corrupt, assumes a write failed due to powerloss, and loads the backup superblock. Unfortunately this isn't great, since being formatted with the FAT filesystem may have corrupted the Little filesystem in a way that LittleFS can't detect.

If you erase both of the first two blocks, you should see the mount "fail" correctly.

At the mom

[2018-01-17 16:02] moranpeker commented on #5868
i use storage selector so if i need partitions i have to pass the block device into the filesystem constructor (in filesystem_selector func) and i call mount function again because it will fail to try mount again.
other solution is to do unmount after filesystem constructor and then use mount function again to check if return an error. but of course its not the solution i am looking for.

[2018-01-17 16:20] saedelman commented on #5491
We are having continual stability issues with respect to NRF52832 with mbed-os 158. There appears to be a race condition in the Nordic TWI driver (i2c_api.c) that is triggered when an I2C device clock stretches in the order of 10ms or more (as is the case with the Ublox M8 GPS). We've tried to create a "user space" I2C library by bit-banging a pair of DigitalInOut pins, but this locks up the threa

[2018-01-17 16:25] geky commented on #5868
Ah, in that case you can pass NULL as the block device to avoid mounting.

This isn't the prettiest and currently does feel like a workaround. I am planning on modifying the FileSystem classes to be initialized more like the BlockDevices (all params in the constructor, mount errors propagated to other functions), but since the FileSystem API is used heavily it may take a while to get changes in.

[2018-01-17 16:39] hug-dev opened #5872 "LWIP: alignment of Ethernet packet"
The `payload` pointer field of the `struct pbuf` structure is aligned when the structure is allocated.
However, when sending an Ethernet packet with the `ethernet_output` function, in file `mbed-os/features/FEATURE_LWIP/lwip-interface/lwip/src/netif/lwip_ethernet.c`, it changes line 289 to make space for the Ethernet packet header and loses its alignment.
The `SIZEOF_ETH_HDR` define is set file `m

[2018-01-17 17:06] danclement commented on #5308
As I informed Mac a while back we have put our mbed project on hold for now.  We will try to pick it up again in Q218.

[2018-01-17 17:11] cmonr commented on #5308
@danclement Thanks for the update. For the time being, I'll close this issue.

Feel free to reopen it or create a new issue when the time is appropriate.

[2018-01-17 17:11] #5308 closed

[2018-01-17 17:16] cmonr commented on #5871
@geky Thoughts on adding an explicit "erase first two blocks" step as a part of the reformat, or would this be changing the behavior of the FatFS reformat step too much?

Alternatively, this could be documented with the expectation that when users are switching between the filesystems, the first two blocks must be erased.

[2018-01-17 18:01] hanno-arm commented on #5853
@ccli8 I couldn't find any pre-existing work on the issue and opened PR's with your suggested fix in the main Mbed TLS repository. See https://github.com/ARMmbed/mbedtls/pull/1275. Thanks again for spotting and reporting this! :+1:

[2018-01-17 18:07] cmonr commented on #5839
Reproduced with the following commands:
[code]
[mbed] WARNING: Could not find mbed program in current path "/home/mrcruz/Work".
[mbed] WARNING: You can fix this by calling "mbed new ." in the root of your program.
---
Scan: .
Warning: Multiple linker scripts detected: ./ARM-mbed-os/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F429xI/device/TOOLCHAIN_ARM_STD/stm32f429xx.sct -> ./mbed-os/targets/TA

[2018-01-17 18:16] bmcdonnell-ionx commented on #5780
I re-ran the unpublished program on the suspect 2 GB card. It passed, no problems. (!)

I have a hypothesis: the suspect SD card had some blocks that were _just_ failing. Those failures induced data loss as they occurred, and the SD card (itself) detected these failures, marked those blocks unusable internally, and remapped some other blocks to those logical addresses internally.

Can anyone comme

[2018-01-17 18:36] bmcdonnell-ionx opened #5875 "Reported SD card capacity differs when formatted by FATFileSystem::format() compared to Windows PC"
### Description
- Type: Question
- Related issue: `#5780`
- Priority: Unknown

The capacity of SD cards formatted by my Windows 10 PC differs compared to when they are formatted by mbed's `FATFileSystem::format()` function. Why are they different? Is this expected behavior?

I have two 2 GB cards. Capacity after formatting:

Formatter | Capacity (bytes)
------------ | -------------
Windows | 1,954

[2018-01-17 18:56] deepikabhavnani commented on #5780
During the first run (failure), do you remember the initial state of card? Was it formatted or you had ran previous example executed? (say published -1/2/3). Could that be because of some combination testing?
First run shows write was successful for ~800MB, failed retried (may be something got deleted here?) and then write again till ~800MB. Does that mean card was half filled?

Assuming second ru

[2018-01-17 19:11] bmcdonnell-ionx commented on #5780
I may have used it as-formatted by the factory. I may have done some other test runs with it beforehand (probably the same unpublished program if so), but deleted all the files and folders before starting the test run that failed.

I don't see how.

I think that's when all the metadata for the previously-written stuff got corrupted - or when the corruption was observed.

I don't recall the reporte

[2018-01-17 19:14] deepikabhavnani commented on #5780
This could be the case, only if previous data was present on card.

[2018-01-17 19:16] bmcdonnell-ionx commented on #5780
I'm pretty sure I had removed it all.

[2018-01-17 19:16] bmcdonnell-ionx commented on #5780
Maybe I should just keep testing, and wait and see if it happens again.

[2018-01-17 19:21] cmonr commented on #5839
On the other hand, this was/is reproducible with the online IDE. @0xc0170, don't think @theotherjimmy is needed for this one.

[2018-01-17 19:29] deepikabhavnani commented on #5875
Yes it is the expected behavior. We do not recommend formatting SD cards with windows. Windows format will not give best performance from SD cards.
SDformatter ultility should be used to format SD cards available at: https://www.sdcard.org/downloads/formatter_4/.

Format using this utility and FATFileSystem::format() will also give somewhat different capacity.
I have collected few boot block param

[2018-01-17 20:14] bmcdonnell-ionx commented on #5875
Thanks for the info/details.

I see that the page you linked says a bit about that:

Out of curiosity: any idea what the optimizations are, or where I might find details about that?

Is this noted somewhere in mbed documentation?

[2018-01-17 20:47] #5555 closed

[2018-01-17 21:03] deepikabhavnani commented on #5875
More information related to this can be found in SD Card specification document, it is related to AU size and how multiple flash banks are accessed in SD cards.

No, Its not noted in mbed documentation.

[2018-01-17 21:06] bmcdonnell-ionx commented on #5875
Thanks.

Do you think it would be an appropriate addition? Somewhere.

[2018-01-18 04:15] deepikabhavnani commented on #5875
Yeah it should be added somewhere, will see if I can find the right document for that.

[2018-01-18 08:11] jeromecoutant commented on #5830
Hi

Issue is confirmed... ST side...
Debug is on going

Thx

[2018-01-18 09:05] 0xc0170 commented on #5853
@hanno-arm I see you did some extra bugfixing the PR. Shall this be closed once your fix is integrated and will be part of the next mbed tls version update for mbed OS?

[2018-01-18 09:14] leibin2014 opened #5879 "About the target layer of nrf51822 and nrf52832"
### Description
- Type: Question
- Priority:  Minor

-----------------------------------------------------------------

## Question

Dear experts,
My company is using mbed for our IOT products. Now we want to replace the CPU from nrf51822 to nrf52832.
I found the CPU architectures of both are very similar(Most of the registers are same). But in the mbed target layer different approaches are used.

[2018-01-18 09:28] hanno-arm commented on #5853
@0xc0170 I have just raised this with @Patater who is planning the next release; it's due very soon, though, and I cannot guarantee the PR will make it.

[2018-01-18 09:38] andreaslarssonublox commented on #5838
Hi, I looked at https://github.com/ARMmbed/DAPLink but could not find any support for the combination LPC11U35 and NINA-B1 and we don't have any hardware to test with so might be hard for us to debug?

[2018-01-18 10:12] ZakariaZed commented on #5860
The problem Was with the saveEddystoneServiceConfigParams function :
It was like :
void saveEddystoneServiceConfigParams(const EddystoneService::EddystoneParams_t *paramsP)
{
    memcpy(&persistentParams.params, paramsP, sizeof(EddystoneService::EddystoneParams_t));
    if (persistentParams.persistenceSignature != PersistentParams_t::MAGIC) {
        persistentParams.persistenceSignature = Persist

[2018-01-18 10:36] #5351 closed

[2018-01-18 11:15] screamerbg commented on #5879
cc @ARMmbed/team-nordic  @marcuschangarm

[2018-01-18 11:48] Roietronics opened #5881 "Can not set a Serial charater format of 7 data bit + parity on STM32 board after patch #4189."
### Description
Can not set a Serial character format of 7 data bit + parity on STM32 board after patch #4189, STM32s
Serial does not properly handle parity bits.
Please see Discussion post  on mbed bug forum with the same title for more details
- Type: Bug
- Related issue:
- Priority:| Major
Pull request with patch coming

---------------------------------------------------------------
## Bug

**

[2018-01-18 14:01] 0xc0170 commented on #5881
Is this this commit that is causing a problem: https://github.com/fmanno/mbed-os/commit/5e98da14d328e5f466fc41ce7f894e0bcce13e96 ?

@ARMmbed/team-st-mcd

[2018-01-18 14:09] 0xc0170 commented on #5308
@mprse Until this is resolved, we shall disable RTC for this target (separate commit that references this issue, so we can revert it once the fix is in place).

[2018-01-18 14:12] 0xc0170 commented on #5491
@saedelman Can you create a new issue with this description? I imagine that device async should be one (should be functional). And another one regarding I2C race condition

[2018-01-18 14:22] hanno-arm commented on #5853
@ccli8 How would you like to be credited in the ChangeLog?

[2018-01-18 14:33] nvlsianpu commented on #5879
Hi - answer is simple - where we can we used SDK as simpler to use than pure register. In some cases it was impossible to use SDK driver. Some of driver were implemented before idea of using SDK. I is also easier to maintain the port - as the driver developer has much deeper knowledge about the each peripheral than I have. The last thin is that I have only a part of my time for mbed. If you see a

[2018-01-18 14:59] pan- commented on #5879
@leibin2014 Initially Nordic HAL port was hand-rolled and only targeting the NRF51. During mbed OS 5 development, one of the new target being worked on was the NRF52. Both being supported by the Nordic SDK, it seems right to factor the HAL in common sources and rely on the Nordic SDK to handle abstraction over the raw peripherals/registers. Using the Nordic SDK means less maintenance for the Nordi

[2018-01-18 15:29] deepikabhavnani commented on #5875
@AnotherButler - Do we have any web document where we can add additional information about the usage and format behavior of SD cards? See above conversation for more info.

[2018-01-18 15:35] bcostm commented on #5881
Which board are you using. Because the 7bit mode is not supported on all STM32 devices.

[2018-01-18 15:46] AnotherButler commented on #5875
@deepikabhavnani We have a task assigned to create FATFileSystem documentation. We could place it there. We could also create a new page for this content in the tutorials. What do you think?

[2018-01-18 15:48] bmcdonnell-ionx commented on #5875
It's not only related to `FATFileSystem`, since SD cards can contain other file systems. LittleFS, for example. :)

[2018-01-18 15:53] AnotherButler commented on #5875
Ah. Thank you for the clarification. Would it make sense to include this information on the storage API overview page? Or would it be better as its own page in tutorials that we could link to the relevant storage API pages?

[2018-01-18 17:57] NeilMacMullen commented on #5820
@geky   thanks - only just saw this.

[2018-01-18 18:12] NeilMacMullen opened #5883 "Nordic RF52 does not correctly support dynamically created SPI/I2C (TWI) devices"
Mbed 5.6/5.7
Target: Nordic RF52832

The 52832 supports up to 3 simultaneous SPI/I2C buses.   Our board requires 1xI2C and 3xSPI so we statically allocate an I2C and SPI bus then dynamically allocate the remaining bus controller as required.

Unfortunately the reallocation of both I2C and SPI TWO blocks is broken.  This code will quickly fault...

     I2C *i2c = new I2C(p16, p15);
     SPI *stora

[2018-01-18 18:13] NeilMacMullen commented on #5883
Adding @MarceloSalazar Might be fixed in https://github.com/ARMmbed/mbed-os/pull/5726/files/b1fa9e9820dd4b71ec4e4793c2e20373fc47e067..d2e20e673da9f06c8f948e81a0d08d93247c2c1d

[2018-01-18 18:19] MarceloSalazar commented on #5883
Related to https://github.com/ARMmbed/mbed-os/issues/5883
cc @dlfryar @marcuschangarm

[2018-01-18 19:00] NeilMacMullen commented on #5883
Further info... If spi_free(&_spi); is called in the SPI destructor and the first block of code in spi_init is removed then it is possible to reallocate a previously deleted SPI block but it can't be read/written.  The spi_free code appears to be sufficient to clear any hardware state in the TWI block and it then marks the initialised flag as false which means the hardware should be set up correct

[2018-01-18 20:20] #5524 closed

[2018-01-18 20:20] #5803 closed

[2018-01-18 20:25] #5820 closed

[2018-01-18 20:28] Roietronics commented on #5881
The point of this entry is to point out that a serial data stream using character with 7 data bits and parity is uses eight bit not seven bit characters and support for a 7 bit mode on the device is not an issue.
Any device with an eight bit mode should be able to support a 7 data bit + parity serial data stream.
For mbed-os releases prior to the patch I was able to establish 7 data bit + parity d

[2018-01-18 20:31] Roietronics commented on #5881
0xc0170 yes that is the commit which is causing the problem

[2018-01-18 20:37] bmcdonnell-ionx commented on #5875
I'm not sure if you meant to ask me...

This option makes sense to me, but I defer to the mbed team.

[2018-01-18 20:41] bmcdonnell-ionx commented on #5875
Hmm, actually, I think I might've made a mistake earlier. I think this is both `FATFileSystem` _and_ SD card specific, since we're talking about tools that format SD cards with FAT file systems. So perhaps the upcoming `FATFileSystem` documentation would be a good place.

But again, I defer to the mbed team.

[2018-01-18 20:55] deepikabhavnani commented on #5875
@AnotherButler - FATFileSystem document seems right place.

@bmcdonnell-ionx - Document work is in progress and will be tracked internally. I hope your initial query is resolved.

[2018-01-18 20:57] bmcdonnell-ionx commented on #5875
@deepikabhavnani, yes, that's what I was waiting for to close the issue. Thanks. :)

[2018-01-18 20:57] #5875 closed

[2018-01-18 22:40] cmonr commented on #5883
@NeilMacMullen I wouldn't bet on #5726. Those changes are slated to enter a feature branch, not the main branch, and there's no eta as to when they'll be merged together.

[2018-01-18 22:41] cmonr commented on #5883
@ARMmbed/team-nordic

[2018-01-18 22:53] bmcdonnell-ionx commented on #5780
@deepikabhavnani, what do you think of my suggested course of action above (wait & see on #`3`)?

Also, what's the status of issue #`1`? Did you merge a fix?

For ease of reference, here's our conversation so far on that.

I said:

You said:

You said:

I said:

[2018-01-19 00:04] cmonr commented on #5883
Reproduced on a NRF52-DK.

[2018-01-19 00:21] deepikabhavnani commented on #5780
I am pretty sure file creation in SD card failed beyond 32765 files on Linux system, hence was unable to reproduce that issue. Also, I don’t have any system with huge heap to try this. Will let you know if I am working back on that issue.

[2018-01-19 00:22] deepikabhavnani commented on #5780
For issue #3, I would say leave it if you are not able to reproduce it.

[2018-01-19 00:30] bmcdonnell-ionx commented on #5780
Well, you showed the code here for your proposed fix. I can test it.

On Jan 18, 2018, at 7:21 PM, Deepika <notifications@github.com<mailto:notifications@github.com>> wrote:

I am pretty sure file creation in SD card failed beyond 32765 files on Linux system, hence was unable to reproduce that issue. Also, I don’t have any system with huge heap to try this. Will let you know if I am working back o

[2018-01-19 01:43] ccli8 commented on #5853
@hanno-arm sorry, what do you mean?

[2018-01-19 03:19] leibin2014 commented on #5879
@nvlsianpu@pan Thanks for your quick answers! The reasons for me planning to use pure registers are:
1. Nrf51822 use pure registers way and we got it working very well now. To make nrf52822 with the same way, it's easily to maintain both code.
2. With the SDK way the interrupt is required enabled for spi_api. But in my applications for some reason in some situation the interrupt is not allowed to

[2018-01-19 03:32] bmcdonnell-ionx commented on #5780
I am pretty sure file creation in SD card failed beyond 32765 files on Linux system, hence was unable to reproduce that issue.

Was the card formatted by an mbed device, without your PR?

[2018-01-19 03:51] deepikabhavnani commented on #5780
Yes

[2018-01-19 05:47] hanno-arm commented on #5853
@ccli8 In https://github.com/ARMmbed/mbedtls/pull/1275 we mention that you have reported the bug that the PR sets out to fix, through an entry in the [ChangeLog](https://github.com/ARMmbed/mbedtls/pull/1275/files#diff-02f0b547c2779d25cff89672135f20e3R60) of Mbed TLS. Could you let us know whether (a) You are ok with that, and (b) If yes, if you would like to be credited under your GitHub name (as

[2018-01-19 05:56] ccli8 commented on #5853
@hanno-arm The change is OK. Just use my GitHub name (ccli8) for the change log.

[2018-01-19 05:56] hanno-arm commented on #5853
@ccli8 Ok, thanks for confirming.

[2018-01-19 08:33] 0xc0170 commented on #5881
@Roietronics Why did you close?

[2018-01-19 08:57] bcostm commented on #5881
What I see in today's code is that the 8bit data format is selected if the 7bit is not supported. This is the case for the STM32F411 which does not support the 7bit mode. I think it would be more appropriate to exit with an error instead. What do you think @LMESTM ?

Today there is:
[code]

I propose:
[code]

[2018-01-19 08:59] bmcdonnell-ionx commented on #5780
Were you creating the files directly on the SD card? Could the buggy mbed formatting be the reason why you couldn't create all the files?

[2018-01-19 10:51] JanneKiiskila opened #5885 "Renesas GR-PEACH (RZ_A1H) is missing TRNG, Entropy"
### Description
- Type: Bug or Enhancement | Question
- Related issue:
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
 RZ_A1H

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**
N/A

**mbed-cli version:**
(`mbed --version`)
N/A

**mbed-os sha:**
(`git log -n1 --oneline`)
C:\Users\jankii01\mbed\mbed-os-example-client\mbed-os>git log -n1 --

[2018-01-19 11:08] JanneKiiskila opened #5886 "Renesas RZ_A1H missing NVIC_SystemReset"
### Description
- Type: Bug or Enhancement | Question
- Related issue:
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
 RZ_A1H

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**
N/A

**mbed-cli version:**
(`mbed --version`)
N/A

**mbed-os sha:**
(`git log -n1 --oneline`)
C:\Users\jankii01\mbed\mbed-os-example-client\mbed-os>git log -n1 --

[2018-01-19 11:10] ashok-rao commented on #5872
@SeppoTakalo .. any thoughts on this please?

[2018-01-19 11:13] SeppoTakalo commented on #5872
CC: @kjbracey-arm @mikaleppanen Please check.

[2018-01-19 11:24] kjbracey-arm commented on #5872
Where did the abort actually occur? What C code line generated the LDM instruction, and what was the target address?

None of the code should be relying on alignment - all relevant structures and pointers should be marked with a "packed" attribute, which would prevent the compiler generating LDM to an unaligned location, but maybe there's an omission.

[2018-01-19 11:57] gorazdko opened #5887 "Mbed 2 builds are broken (was: ff_lpc546xx: Library name 'platform' is not unique)"
Compiling example https://os.mbed.com/teams/mbed/code/mbed_blinky/ in online compiler for target FF_LPC546XX results in error:

Error: Library name 'platform' is not unique (defined in '/extras/mbed_7130f322cb7e/TARGET_LPC546XX/mbed_lib.json' and '/extras/mbed_7130f322cb7e/TARGET_FF_LPC546XX/mbed_lib.json')

Compiling examples with mbed-os  works fine.

See PR #5876 for details

[2018-01-19 12:26] akrnvm opened #5888 "Timer return function casting issue"
### Description
- Type: Bug | Question
- Related issue: `#timer`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
GCC_ARM|ARM|IAR

**Expected behavior**

32 bit( int) return value from Timer::read_high_resolution_us().

**Actual behavior**

Unexpected return value from Timer::read_ms() and read_high_resolution_us(),
'read_

[2018-01-19 12:36] mprse commented on #5835
Fix for this issue has been provided here: PR https://github.com/ARMmbed/mbed-os/pull/5889.

[2018-01-19 12:56] hug-dev commented on #5872
The error happened in the Ethernet driver of our target, CM3DS, at [line 621](https://github.com/ARMmbed/mbed-os/blob/c59c400093792f2bc73f3e7b6f78db37f88b08b0/targets/TARGET_ARM_SSG/TARGET_CM3DS_MPS2/SDK/smsc9220_eth.c#L621) of `targets/TARGET_ARM_SSG/TARGET_CM3DS_MPS2/SDK/smsc9220_eth.c` file.

The line that caused the error is:
`SMSC9220->TX_DATA_PORT = *pktptr;`
The following assembly is genera

[2018-01-19 13:08] kjbracey-arm commented on #5872
Yes, the lwIP configuration in mbed OS doesn't guarantee anything about the alignment of the data, so casting `q->payload` to an `unsigned int *` pointer like that is invalid. If you marked `pktptr` as packed that would fix it - but you'd need to locate an appropriate toolchain-independent macro to do that.

I can't immediately advise on the best packed macro, as my own code base tends to manually

[2018-01-19 13:17] 0xc0170 commented on #5888
This code is wrong, `us_timestamp_t` is not int as %d suggests, use proper type. Use `PRIu64` instead, or llu that should work I believe for all our 3 toolchains

[2018-01-19 13:33] 0xc0170 commented on #5886
`pal_plat_rtos.cpp` - I would like to see what header files they include. Is this only to renesas platform, the rest are compiling?

cmsis_nvic.c defines those functions, it is defined for renesas. Its declared in `cmsis_nvic.h`. This header file might be missing to be included to get to the application space? in `cmsis.h` there should be `#include "cmsis_nvic.h"`.

@ARMmbed/team-renesas please re

[2018-01-19 13:33] akrnvm commented on #5888
OK,
So below checking are fine.
    TEST_ASSERT_FLOAT_WITHIN(DELTA_S(4), 1.060f, p_timer->read());
    TEST_ASSERT_INT32_WITHIN(DELTA_MS(4), 1060, p_timer->read_ms());
    TEST_ASSERT_INT32_WITHIN(DELTA_US(4), 1060000, p_timer->read_us());
    TEST_ASSERT_UINT64_WITHIN(DELTA_US(4), 1060000, p_timer->read_high_resolution_us());

But, my test case is failing in below assertion without modification a

[2018-01-19 13:48] gyuri-szing commented on #5872
"the lwIP configuration in mbed OS doesn't guarantee anything about the alignment of the data"
Is this intentional or a configuration error?
As far as I can see by setting LWIP provides a method (e.g. setting macro values) to ensure proper packet buffer alignment. But then why are these not set properly?

[2018-01-19 13:51] 0xc0170 commented on #5886
fix #5890 referenced above, please review

[2018-01-19 14:00] jeromecoutant commented on #5830
@atoy40

Could you check https://github.com/ARMmbed/mbed-os/commit/3ad9b01326c9f14352b10c23e11c18ac184c41f2

In parallel, I am waiting ST driver team analysis.

Regards,

[2018-01-19 14:04] deepikabhavnani commented on #5780
Bug was not in format, still I will give it a try sometime next week.

[2018-01-19 14:10] kjbracey-arm commented on #5872
Define "properly". lwIP would prefer to have its IP header 32-bit aligned (and it is in this case). This hardware would prefer (and actually expects) to have its Ethernet header 32-bit aligned. Some other hardware can be optionally configured to expect 2 bytes of leading padding.

The current set-up does permit a specific target driver to override lwIP config settings for its platform - the `lwipo

[2018-01-19 14:19] 0xc0170 commented on #5888
delta macro returns integer, not certain why.

What does this mean? what target what toolchain? How to reproduce?

cc @mprse

[2018-01-19 14:20] 0xc0170 commented on #5885
I've noticed their new target contains trng via i2c sensor.

@ARMmbed/team-renesas Please review

[2018-01-19 14:26] gyuri-szing commented on #5872
Thanks for the detailed explanation. We implemented the correct fix, which is the modification of the Ethernet driver.
From our side the issue can be closed.

[2018-01-19 14:28] hug-dev commented on #5872
Thanks a lot for the explanation!

[2018-01-19 14:28] #5872 closed

[2018-01-19 14:50] bmcdonnell-ionx commented on #5780
"Buggy mbed formatting" was poor phrasing on my part. I meant that `f_mkfs()` calls the functions you fixed (`disk_write()` and `disk_read()`), so I figured maybe the bug would manifest in formatting too - not necessarily that it would be noticed during the format, but maybe it would be a problem when you try to write to certain areas on a large enough volume.

Anyway, if you want to decouple ques

[2018-01-19 15:01] jeromecoutant commented on #5830
ST_INTERNAL_REF 42806

[2018-01-19 15:02] samchuarm commented on #5805
Hi @Archcady can you please help look at this Serial interface problem for RTL8195AM platform? Thanks.

[2018-01-19 15:26] TomoYamanaka commented on #5886
@0xc0170

Thank you. I think this issue will be fixed by PR #5890.

[2018-01-19 15:39] TomoYamanaka commented on #5885
GR-PEACH doesn't support TRNG. GR-LYCHEE that is renesas new target supports TRNG(via i2c).

[2018-01-19 17:17] NeilMacMullen commented on #5835
I've just patched this across to my build and initial impressions are that it has fixed the issue.  Thanks!

[2018-01-19 19:04] atoy40 commented on #5830
@jeromecoutant I've applied your patch to  the 5.7.2 mbed version, and it blinks for 1 or 2 hours now :)
To be sure, i've tested the unpatched version before that, and It crashed after arround 2 minutes. Can you explain to me why this bug is coming after a "looking like random" time ?

thanks !

[2018-01-19 19:34] pauluap opened #5891 "MemoryAPI documentation question"
### Description
- Type: Question
- Related issue: `#abc`
- Priority: Blocker | Major | Minor

## Question

I opened a Stackoverflow issue regarding my question - [StackOverflow](https://stackoverflow.com/questions/48335691/mbed-memorypool-is-it-usable-for-nontrivial-classes)

Basically, it is not completely clear to me whether if the MemoryPool API is usable with non-POD classes that have non-triv

[2018-01-19 20:28] Roietronics commented on #5881
Was not supposed to be closed. I am not sure what cause the close ?????

[2018-01-19 21:08] Roietronics commented on #5881
The problem with bcostm's purposed is that the if block in the if else statement enclosed with in the #if defined block is a valid format on platforms which  do not support 7 bit character since the word length is 8 bits not 7 bits for this case.
This is the format needed to support protocol such as the SDI-12 data logger protocol which use serial data stream with 7 data bit + a parity bit (i.e.

[2018-01-20 01:54] bmcdonnell-ionx commented on #5780
@deepikabhavnani, re #`1`, could you either make a commit in a branch somewhere and leave a link here, or answer the following?

I see two lines in [`FATFileSystem.cpp`](https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/fat/FATFileSystem.cpp#L638) containing `else if (finfo.fname[0] == 0)`. Should they both be changed to `if (finfo.fname[0] == 0)`? Is that all that needs to be cha

[2018-01-20 04:17] TomoYamanaka commented on #5885
Could you tell me where the `mbed_app.json` file that you mentioned?

[2018-01-20 11:11] AchmadFathoni commented on #3958
I found a workaround based on succesfull earlier version of mbed-os. first delete this part of code in STM32F446XE.ld
[code]
And replace
[code]
with
[code]

[2018-01-22 00:07] maskedw commented on #5850
It worked as expected.
[code]

[2018-01-22 00:16] maskedw commented on #5850
Sorry. This was not a bug.
I was misusing myself.

@0xc0170
@bcostm
Thank you for your help.

[2018-01-22 00:16] #5850 closed

[2018-01-22 03:57] leibin2014 commented on #5879
```This sounds like a bug; could you open an issue detailing the causes and consequences so we can provide a fix for everyone ?```
@pan- I'm not sure whether this is a bug. Maybe just different approaches to implement spi api. We can use interrupt way or just don't use interrupt. I have already changed my applications to fit the interrupt way now. But interrupt enabling is still a must for current

[2018-01-22 07:38] #5888 closed

[2018-01-22 07:48] akrnvm commented on #5465
ISSUE #5842

It related to above issue(5842) and after the fix ( removing wait() function )test cases are passing.
Closing this ticket.

[2018-01-22 07:48] #5465 closed

[2018-01-22 08:50] 0xc0170 commented on #5891
I could not locate it neither, we will review it.

The memory pool API is using memory pool API from RTOS that is in C. The functions you look for if you want to see the implementation are `svcRtxMemoryPoolNew` and `osRtxMemoryPoolAlloc` (if pool is alloc is enabled in rtos, it is in our case).

@SenRamakri Please review

[2018-01-22 09:24] atoy40 commented on #5830
@jeromecoutant
I've pushed the exact same patched binary (the code with the ticker) on a second L073RZ board I own, and suprise ... no blinking ! But it's not the exact same problem (related to clock too).
First look, it seems it never leaves STOP mode, but after some debugging, It is. It has a problem -
 again - with SetSysClock(). The call stack is :

- "wake up"
- SetSysClock()
- SetSysClock_PL

[2018-01-22 09:29] jeromecoutant commented on #5830
Hi

HSE is STLINK clock.
So as clock source has been set in targets/targets.json file as HSE or HSI:

            "clock_source": {
                "value": "USE_PLL_HSE_EXTC|USE_PLL_HSI",

Init procedure should try HSE till timeout, and then HSI is configured.

[2018-01-22 09:41] bcostm commented on #5881
OK.

Can you try this :

[code]

And use the format `(7, SerialBase::Even, 1) `

[2018-01-22 09:52] atoy40 commented on #5830
@jeromecoutant Yes, it should, but after a STOP, as I said, it hangs trying to setup HSE (the initial clock setup is working). I thing the problem is with the timeout test, with HAL_getTick(). It looks like it always returns the same value, so the HAL_GetTick() - tickstart never reach RCC_HSE_TIMEOUT_VALUE.

[2018-01-22 10:00] LMESTM commented on #5830
@atoy40 @jeromecoutant  Sounds like the ticker isn't resumed yet so that HAL_getTick() cannot be used yet ... The proposal to test HSE then switch to HSI in case of timeout is provided for convenience, but you know for sure that HSE isn't available in your final HW (without STlink), then I would suggest to specifically set and always use HSI only as clock source.

[2018-01-22 10:04] jeromecoutant commented on #5830
https://os.mbed.com/teams/ST/wiki/Automatic-clock-configuration

[2018-01-22 12:25] gggekov opened #5893 "LoRa L-Tek FF1705_L151CC target name is incorrect"
**Description**
**Type:** Documentation Bug
**Priority:** Minor
**Target:** FF1705_L151CC ( https://os.mbed.com/platforms/L-TEK-FF1705/)

**Toolchain:** GCC_ARM

**mbed-cli version:** 1.1.1

**Behavior**
The documentation says the target name for the board should be **FF1705_L151CC**. However,this target name is unrecognised by mbed-cli and the correct target name is **XDOT_L151CC**. Please update

[2018-01-22 15:03] atoy40 commented on #5830
@LMESTM I agree, I'll fix it and tell you, but I'm confident !
@jeromecoutant Thanks for pointing the doc. A question about your commit, is it in attached to a git branch ? because github disallow fetching of specific commits.

[2018-01-22 16:50] ciarmcom commented on #5386
ARM Internal Ref: IOTMORF-1969

[2018-01-22 17:32] theotherjimmy commented on #5769
@carlosperate Yes, that's related to reason the export fails. The export fails because it can't find a linker script for your target, which would live next to the static library containing the pile-o-missing-symbols.

[2018-01-22 19:10] deepikabhavnani commented on #5780
@bmcdonnell-ionx - I tried creation after new format and same result.

Yes, but that change might not help, I missed the return statement for failure case, so checking fname[0] only in case of success makes sense.

[2018-01-22 19:13] bmcdonnell-ionx commented on #5780
@deepikabhavnani, if you want me to test, can you just put the commit in a branch somewhere, and point me to it?

[2018-01-22 19:28] atoy40 commented on #5830
Just to confirm, "cutted" PCB wakeup like a charm using HSI clock source only.

[2018-01-22 22:20] cmonr commented on #5888
@akrnvm Is there any particular reason why you closed the issue? Were you able to resolve it?

[2018-01-23 00:01] cmonr commented on #3174
@sarahmarshy Is this still an issue?

[2018-01-23 00:22] cmonr commented on #4040
Closing due to merge.

[2018-01-23 00:22] #4040 closed

[2018-01-23 00:31] cmonr commented on #4124
Closing since support is currently present in mbed-os.

[2018-01-23 00:31] #4124 closed

[2018-01-23 00:35] cmonr commented on #4130
Closing due to inactivity. I don't think this is still an issue, but if it is, feel free to reopen it for re-investigation.

[2018-01-23 00:35] #4130 closed

[2018-01-23 00:52] theotherjimmy commented on #4130
@donkeybonks This issue is with the board's DAP firmware, and we can't fix that. The interface chip predates the ARM Cortex-M line of processors, and is not supported by DAPLink.

[2018-01-23 01:18] TomoYamanaka commented on #5612
Hi @theotherjimmy
Please let me know when the above was pushed up the Online Compiler.

[2018-01-23 01:30] cmonr commented on #3646
Confirmed build works on personal setup (after installing CMSIS Pack). Closing.

[2018-01-23 01:30] #3646 closed

[2018-01-23 01:39] cmonr commented on #4218
Closing since https://github.com/ARMmbed/mbed-cli is the more appropriate location for this issue.

Feel free to look over the existing issues there, or open a new issue there.

[2018-01-23 01:39] #4218 closed

[2018-01-23 01:44] cmonr commented on #3285
Closing due to inactivity. If https://github.com/ARMmbed/mbed-os/pull/4103 is not enough of a solution, feel free to reopen with more details/specifics.

[2018-01-23 01:44] #3285 closed

[2018-01-23 13:07] saedelman commented on #5491
After additional testing, we have determined that the most likely culprit to the stability issues we are seeing with the NRF52832 and mbed-os 158 is the sleep handling.  When compiling with DEVICE_SLEEP removed from the device capabilities (device_has), the stability issues disappear. The fact that using a bit-banging I2C library instead of the hardware I2C meant that we spent more time keeping th

[2018-01-23 13:17] JonatanAntoni commented on #5801
We added some defines to add names to idle and timer threads, see [aa7a332](https://github.com/ARM-software/CMSIS_5/commit/aa7a332938feb50f2e9d3d998c8ced442445ffd2).

[2018-01-23 13:55] #3958 closed

[2018-01-23 14:05] saedelman commented on #5801
@JonatanAntoni Thank you.

@bulislaw Agreed. If the RTOS allows me to define my own idle function (e.g. Thread::attach_idle_hook()) then I should be able to define the stack for it by overriding OS_IDLE_THREAD_STACK_SIZE, or it will most certainly lead to an overflow.  I'm happy to create a PR, can you clarify how I do that? Not familiar.

[2018-01-23 14:25] martinnov71 commented on #5823
@pan-  I agree that Thread-like solution would be better, but it can cause function calling jitter. I tried this but for me it is workaround, not solution. I use Ticker for display drawing so I can exactly see blinking when I use Thread solution.
@kjbracey-arm Yeah, it seems that some pointers are confused in emac driver or so. It looks like that everything becames delayed by 1 frame so first part

[2018-01-23 14:27] pan- commented on #5491
@saedelman Could you provide a more detailed description of your system architecture ? I'm mostly interested by the number of concurrent threads, the number of devices addressed on the I2C bus and the type of primitives used to wait or synchronize these threads. Could you also indicates the functions of the i2c API used ?

It would be interesting to test with https://github.com/ARMmbed/mbed-os/pul

[2018-01-23 14:44] saedelman commented on #5491
@pan - we have a custom PCB with Taiyo Yuden module with nRF52832, and 4 physical devices on the same I2C bus (GPS,  IMU, battery state-of-charge monitor, air pressure and temperature sensors). We're also using SPI for SD card access as well as a speech processor. We're primarily using Mutex and Semaphores to synchronize data between threads. With respect to the I2C API, we primarily use read/writ

[2018-01-23 15:43] pan- commented on #5491
@saedelman #5889 is a global fix; the issue was affecting all mbed OS targets. You can get it with the following commands:

[code]

Looking rapidly at the `I2C` implementation I've noticed several potential issues: `I2C::read(int ack)` and `I2C::write(int data)` does not acquire the bus and therefore don't set the appropriate bus frequency. The bus configuration set in `I2C::transfer` can be chang

[2018-01-23 15:56] saedelman commented on #5491
@pan - thanks for the clarification. I have merged it with our code base. When troubleshooting our stability issue, we moved all of the I2C functions into a single thread, so locking is not necessary.

[2018-01-23 20:58] #5830 closed

[2018-01-23 21:09] cmonr commented on #5830
@atoy40, @jeromecoutant's PR has just landed inside of master. Inside of your mbed-os folder, you can run `git pull master` to pull the changes.

Once the next patch release occurs (5.7.4), you'll be able to also run `mbed update` in your projects to get the changes as well.

[2018-01-23 21:10] cmonr commented on #5830
Feel free to reopen or open a new issue if your problem still persists.

[2018-01-23 22:22] #5886 closed

[2018-01-23 22:35] davidsaada opened #5908 "Need to stop build if there's a problem in mbed-os config files"
### Description
- Type: Enhancement |
- Related issue: mbed-os config
- Priority: Minor

## Enhancement
Problem: Whenever there's a problem in mbed-os config files (like mbed_lib.json), the build continues, and the problem can be easily overlooked.

Suggestion: Either stop the build whenever such a problem occurs (preferred), or display the problem at the end of the build.

@theotherjimmy

[2018-01-23 23:26] cmonr commented on #5881
PR merged.

[2018-01-23 23:26] #5881 closed

[2018-01-23 23:33] cmonr commented on #5798
@zh0umu ^^^

[2018-01-23 23:37] cmonr commented on #4034
Considering this resolved as no activity has occurred in a while.

[2018-01-23 23:37] #4034 closed

[2018-01-23 23:50] cmonr commented on #4080
Closing due to inactivity. If this is still an issue, feel free to reopen it up, or create a new issue.

[2018-01-23 23:50] #4080 closed

[2018-01-24 00:50] ciarmcom commented on #5908
ARM Internal Ref: IOTMORF-1971

[2018-01-24 04:55] #5879 closed

[2018-01-24 07:39] kjbracey-arm commented on #4034
This has actually just been fully resolved, I think - people have been able to use native Nanostack options for some time, as discussed above.

For the multicast membership that they specifically were after, this was added to the generic NSAPI by #5196, and the Nanostack implementation of that API has just been implemented by #5870.

[2018-01-24 08:07] marcemmers opened #5916 "STM32L0 wrong UART interrupt index"
### Description
- Type: Bug
- Related issue:
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32L073RZ

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha:**
96d9a00d0a1d25095b330095fa81c40f7741777c

**Actual behavior**
Mismatch on index used for interrupt handling. This hangs systems that only has UART4, UART5 or LPUART1 initialized on reception

[2018-01-24 08:10] 0xc0170 commented on #5916
@ARMmbed/team-st-mcd Please review

[2018-01-24 08:57] jeromecoutant commented on #5790
What is the status after 1 week test ?
Thx

[2018-01-24 09:05] bcostm commented on #5916
It looks like the same issue as fixed in PR #5907

[2018-01-24 09:07] 0xc0170 commented on #5790
Looks like it is fixed, I'll close it

[2018-01-24 09:07] #5790 closed

[2018-01-24 09:13] gorazdko commented on #5893
It is recognised. Use the latest version of mbed-os

[code]

[2018-01-24 09:30] marcemmers commented on #5916
It is indeed in the same line of the issue fixed in PR https://github.com/ARMmbed/mbed-os/pull/5907

I have created a separate PR for this issue: https://github.com/ARMmbed/mbed-os/pull/5917

[2018-01-24 09:33] 0xc0170 commented on #5893
I can also see `FF1705_L151CC` in targets.json file. What is missing the report is SHA or version of mbed OS that this was tested against. I've just tested latest master.

[2018-01-24 09:57] gggekov commented on #5893
I am getting this problem when working on a project using `mbed-os-5.4`, commit id is `fc1836545dcc2fc86f03b01292b62bf2089f67c3`.

[2018-01-24 10:06] 0xc0170 commented on #5893
This target was added https://github.com/ARMmbed/mbed-os/pull/4973 (5.6.1). Please update the mbed OS to get the target support

This should be resolved, I'll close

[2018-01-24 10:06] #5893 closed

[2018-01-24 11:16] maciejbocianski commented on #5198
fixed by adding new API
HAL: `hal_in_critical_section()`
platform: `core_util_in_critical_section()`

[2018-01-24 11:16] #5198 closed

[2018-01-24 12:21] jeromecoutant commented on #5804
Hi

I think we can close the issue ?
Thx

[2018-01-24 12:23] jeromecoutant commented on #5765
As #5791 is now merged, I think we can close the issue ?
Thx

[2018-01-24 12:24] jeromecoutant commented on #5718
As #5821 is now merges, I think we can close the issue ?
Thx

[2018-01-24 12:24] #5804 closed

[2018-01-24 12:24] #5765 closed

[2018-01-24 12:37] #5102 closed

[2018-01-24 12:45] #4269 closed

[2018-01-24 12:50] scamille opened #5919 "NXP LPC4088 Type I IOCON HS bit"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug / Enhancement
- Related issue: `#5918`
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NXP|LPC4088

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc version 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437] (GNU Tools f

[2018-01-24 12:53] #3501 closed

[2018-01-24 12:53] #3554 closed

[2018-01-24 13:02] #4653 closed

[2018-01-24 14:03] kFYatek opened #5921 "nsapi_dns_query_multiple() is broken"
### Description
- Type: Bug
- Priority: Major

All the public overloads of `nsapi_dns_query_multiple()` are broken. They are [documented](https://github.com/ARMmbed/mbed-os/blob/f1cf77fa443ee48b29861a8581f5d3f685c7ec2e/features/netsocket/nsapi_dns.h#L114) as returning the number of addresses found on success. However, the return value of `dns_scan_response()` is not passed down, [only its sign is

[2018-01-24 14:19] kFYatek opened #5922 "Enhancement request: getsockname()-style API"
### Description
- Type: Enhancement
- Priority: Major

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**: mbed OS' current socket API does not have any function like `getsockname()`. This makes it often infeasible to bind on an ephemeral port, because there is no way to check what is the port number after such b

[2018-01-24 14:20] betzw commented on #5921
Nice catch!

[2018-01-24 15:18] 0xc0170 commented on #5921
@kjbracey-arm @mikaleppanen Please review

[2018-01-24 15:18] 0xc0170 commented on #5922
@kjbracey-arm @mikaleppanen Please review

[2018-01-24 16:02] vergil-SI opened #5924 "nRF52840 Custom Board hangs if printf() is used within a loop"
### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
nRF52840: Custom Board

**Toolchain:**
GCC_ARM

**Toolchain version:**
2017 q2
**mbed-cli version:**
1.3.0

**Expected behavior**
Device can print the same message over and over within a loop.
**Actual behavior**
Device hangs.

## Question

Hi, I'm working with a custom board that uses th

[2018-01-24 18:19] Hoel commented on #5804
Hello,
Sorry i havent worked on this lately, yes the export settings issue can be closed, problem is fixed by making sure custom target is created in SW4STM32 prior importing project and by adjusting project properties afterward (include path, config.h path, and few preprocessor defines).

There is still a big difference between a project exported from online compiler and from CLI, online compiler

[2018-01-24 19:00] bulislaw commented on #5801
@saedelman Hava a look how main thread stack is configured here: https://github.com/ARMmbed/mbed-os/blob/master/rtos/TARGET_CORTEX/mbed_rtx_conf.h#L31 it'll be the same for the other stacks.

[2018-01-24 23:04] jrobeson commented on #5924
did you need to turn on/off hardware flow control?

[2018-01-25 04:45] damoww opened #5930 "Serial using PA_11 & PA_12 stops working when using the default serial pins (PA_2 or PA_3) as analog or digital in/outs."
## Bug

Serial using PA_11 & PA_12 stops working when using the default serial pins (PA_2 or PA_3) as analog or digital in/outs.
---------------------------------------------------------------
**Target**
Nucleo F401RE

**Toolchain:**
GCC_ARM  ||  online compiler

**mbed-os version:**
Bug occurs _after_ 5.4.3

**SHA for commit which breaks my code**
d740bde646e098f503a6d17e24674c68196ee2da

**Expec

[2018-01-25 04:52] zh0umu commented on #5798
I suspend some register read instruction in HAL layer performing  unnoraml if interrupted ,I have no time right now .So I close it now and report later.

[2018-01-25 04:52] #5798 closed

[2018-01-25 07:12] jarvte opened #5931 "STM serial_init change broke STM target interrupts"
### Description
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug

**Target**
STM

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-os sha which caused the issue:**
https://github.com/ARMmbed/mbed-os/commit/62a7ecddd356293a3f4f0557ce41e4e66d08353d

**Expected behavior**
Interrupt indexes should match.

**Actual behavior**
In file targets/TARGET_STM/serial

[2018-01-25 07:15] jarvte commented on #5931
@jeromecoutant @theotherjimmy

[2018-01-25 08:31] 0xc0170 commented on #5931
@ARMmbed/team-st-mcd  Please review

[2018-01-25 08:43] 0xc0170 commented on #5930
@ARMmbed/team-st-mcd Please review

[2018-01-25 09:12] jeromecoutant commented on #5930
Hi
I agree that PA_2 and PA_3 are hardcoded as non-available...

For a quick solution, uncomment the lines in the PeripheralPins.c file

[2018-01-25 09:36] jeromecoutant commented on #5931
Hi
I agree that in TARGET_STM32F4/serial_device.c file, we should use an incremental index like in serial_api.c

[2018-01-25 09:47] marcemmers commented on #5931
This is the same issue as we have solved in PR https://github.com/ARMmbed/mbed-os/pull/5907 and PR https://github.com/ARMmbed/mbed-os/pull/5917

See PR 5917 for an incremental implementation for the STM32L0

[2018-01-25 10:07] kjbracey-arm commented on #5922
Reasonable request - my feeling is that this falls in to the "too advanced for most off-board modules, so could never be totally relied on being available" category. Mind you, a lot of the NSAPI already is in that space. Being able to bind to a port at all is not as common as you'd imagine.

Adding it to the onboard Nanostack & lwIP would be straightforward though. Feel free to submit a patch doin

[2018-01-25 10:36] bcostm commented on #5931
To avoid code duplication, I think the new function `uart_pointer_get_index` created by @marcemmers for the L0 must be placed in serial_api.c file. So, we can re-use it for all STM32 devices.

[2018-01-25 10:55] TomoYamanaka commented on #5885
@JanneKiiskila
Is the file that you pointed out the below file?
https://github.com/ARMmbed/mbed-os-example-client/blob/master/mbed_app.json

[2018-01-25 10:57] 0xc0170 commented on #5931
Thanks @bcostm 💯

[2018-01-25 11:12] marcemmers commented on #5931
@bcostm might as well improve it a little bit by at least making it an inline function.

[2018-01-25 11:43] JanneKiiskila commented on #5885
Yes, that's the file one needs to modify. There are also more similar files under `/configs` folder that can also be used.

[2018-01-25 13:01] jeromecoutant commented on #5930
@damoww could you check https://github.com/ARMmbed/mbed-os/pull/5934 ?

[2018-01-25 13:54] olavipartanen opened #5935 "How to build LittleFileSystem on Keil"
### Description
- Type: Question

---------------------------------------------------------------
## Bug

When building littlefilesystem with Keil I get following error:
Error: L6218E: Undefined symbol __builtin_ctz (referred from lfs.o).

**Target**
STM32L4

**Toolchain:**
Keil
-----------------------------------------------------------------

## Question

How to build littlefs on Keil?

[2018-01-25 14:19] vergil-SI commented on #5924
I had thought that could have something to do with it, but have yet to see any results by changing it. To enable it and disable it is as simple as modifying the mbed_config.h correct? (The document says DO NOT EDIT though, is there a more proper place to turn this on or off? I couldn't find a parameter that sounded right for it in the targets.json, or elsewhere)

Also, a further update, if I conne

[2018-01-25 14:30] vergil-SI commented on #5924
Upon further review, of the targets.json, I found the macro under MCU_NRF52840, and disabled it, and the board is working great! I had expected something like that to be set under the PDK itself rather than the chip as a whole.

[2018-01-25 15:06] drahnr opened #5939 "get_tick assert fails"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug? / Question
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
NRF52DK

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-os sha:**
5f6572179 (tag: mbed_lib_rev157, tag: mbed-os-5.6.6, origin/mbed-os-5.6) Merge pull request #5634 fro

[2018-01-25 15:10] drahnr commented on #5939
Possibly related:
https://os.mbed.com/questions/79770/nRF52832-Assert-Lockup/
https://github.com/ARMmbed/mbed-os/pull/5595

[2018-01-25 15:11] 0xc0170 commented on #5939
@c1728p9 Please review

[2018-01-25 15:15] 0xc0170 commented on #5935
What's your mbed OS version (SHA also might do) ? What are you exactly building ?

What toolchain version do you use?

From the code, seems this function is causing a trouble
[code]

@geky Please review

[2018-01-25 16:19] pilotak opened #5940 "I2C->transfer callback"
Hi i'm trying to implement I2C async function `transfer` to library but I can't compile due to
[code]

Here is source code:
`test.h`
[code]
`test.cpp`
[code]

`main.cpp`
[code]
so when I change the `test.cpp@5` to `internal_cb.attach(this, &Test::internal_cb_handler);` it will compile but this is deprecated. What is the way to do it please? I didn't find any example except [this one](https://os.mb

[2018-01-25 20:55] geky commented on #5935
I'm having a hard time reproducing this error. I exported mbed-os using `mbed export -i uvision -m NUCLEO_L476RG`, but the project was able to compile without an issue.

The Keil documentation online indicates that `__builtin_ctz` is provided by the compiler, so it's strange that you aren't able to compile.
http://www.keil.com/support/man/docs/armcc/armcc_chr1359125006834.htm

Some questions:
- Ho

[2018-01-25 21:36] c1728p9 commented on #5939
Halting the device in a debugger for too long or being in a critical section for too long can cause this assert to occur. This is not ideal so I created #5942 to remove the assert.

[2018-01-25 23:04] AnotherButler commented on #5692
@theotherjimmy

[2018-01-26 06:29] olavipartanen commented on #5935
Hi,

Thank you for the quick response.

I have STM32Cube project for STM32L4R9i-Eval board and I use Keil uVision V5.24.2.0 with “Default compiler version 5” selected from “ARM compiler”.

Yes, I also find out that __builtin_ctz function is from compiler, so it seems that Keil’s compiler isn’t applicable.

“As a work around you can use the software implementation of lfs_ctz by commenting out the o

[2018-01-26 06:42] olavipartanen commented on #5935
Hi,

I had lfs from https://github.com/geky/littlefs and just realized that ARMmbed version of lfs is little bit different.

I found “other options” there, so with this “work around” by commenting out __builtin_ctz I was able to compile the lfs.

Still thinking that is there a way to use other compiler in Keil or build lfs from cmd the way what can be include to Keil compilers build.

-Olavi

Lähe

[2018-01-26 06:50] olavipartanen commented on #5935
Hi,

I don’t use mbed, I have Keil uVision project with default compiler.

It seems that __builtin_ctz function is from compiler and it’s not available in Keil’s compiler. So as a work around I commented out __builtin_ctz function calls.

(thanks for those to Christopher Haster who also answered to my issue)

I’ll try if this works.

Thank you.

-Olavi

Lähettäjä: Martin Kojtal [mailto:notificatio

[2018-01-26 08:05] marcemmers opened #5943 "SerialBase::attach option to prevent locking deep sleep"
### Description
- Type: Enhancement

## Enhancement

**Reason to enhance or problem with existing solution**
SerialBase locking deep sleep when attaching to an irq prevents effective use of low power uarts and possibly even normal uarts. Some of these peripherals are perfectly capable of generating interrupts when in deep sleep to wake up the processor.

However, I don't know if this is the case f

[2018-01-26 10:40] ashok-rao commented on #5838
This is DAPLink fix. New version of DAPLink here: https://github.com/ARMmbed/DAPLink/pull/376 fixes this issue.
Closing. Thanks!

[2018-01-26 10:40] #5838 closed

[2018-01-26 10:47] mikaleppanen commented on #5921
@betzw Yes, that is true. Do you want so submit a patch for this?

[2018-01-26 11:59] kFYatek commented on #5921
@mikaleppanen I can write a patch just fine, but I haven't signed the CLA (yet?) so I'm not sure if I'm allowed to (for now). I don't know how long that whole legal process is... required changes seem pretty trivial so it might be faster if someone else does it.

[2018-01-26 12:11] betzw commented on #5921
@kFYatek, @mikaleppanen,
Pls. see PR #5946

[2018-01-26 12:23] kjbracey-arm commented on #5921
@kFYatek Can you confirm that #5945 fixes all your (dns-related) problems?

[2018-01-26 12:26] kFYatek commented on #5921
Yes, looks fine, as I commented there.

[2018-01-26 13:11] 0xc0170 commented on #5940
I do not fully understand the need to capture the method to the variable. You dont need that one, can be removed (`internal_cb`). As error indicates `event_callback_t` is not the same as declaration for `internal_cb_handler`

You just need to pass your own internal_cb_handler to the `transfer` method

[2018-01-26 14:19] pilotak commented on #5940
The thing is when transfer is done, i need to wait a few milisecods and then ask again if data is ready, if not wait again and when i have a result then pass is to main

[2018-01-26 14:37] #5924 closed

[2018-01-26 16:45] jeromecoutant commented on #5930
#5934 is now merged in 5.7.4

[2018-01-26 20:53] sarahmarshy commented on #3174
I don't think so. Presumably, it would be caught by the export-build tests if it were still a problem.

[2018-01-26 20:53] #3174 closed

[2018-01-26 23:07] cmonr commented on #5930
Closing due to PR being merged.

[2018-01-26 23:07] #5930 closed

[2018-01-26 23:19] bmcdonnell-ionx commented on #5638
I may do a PR for this soon.

[2018-01-27 23:27] damoww commented on #5930
FYI, if I uncomment the lines in the PeripheralPins.c file everything works as expected.
Cheers for the quick responses and getting a solution into master 😄

[2018-01-27 23:40] drewcassidy opened #5955 "ticker unit test contains a race condition, never runs one of the callback events"
### Description
- Type: Bug
- Related issue: discovered in #5892
- Priority: Minor

The last test in the ticker unit tests appears to contain a race condition and never calls one of its callbacks. The overhead of the callbacks also appears to block the test from continuing.

https://github.com/ARMmbed/mbed-os/blob/cf5065c3126210cc7f1132886c22c42d9574bcce/TESTS/mbed_drivers/ticker/main.cpp#L143-L17

[2018-01-28 13:30] Alonof commented on #5281
Hi @0xc0170 I See you have permission for PAL repository
These errors come from the H/W,
The same code is running on NUCLEO and ODIN boards but only on ODIN it fails

[2018-01-28 15:59] amq commented on #4862
Just tested 5.7.4 with the projects which were failing:
https://github.com/ARMmbed/mbed-os-example-client
https://github.com/ARMmbed/mbed-os-example-cellular

... and the issue seems to be gone. The linker command (`arm-none-eabi-g++ -mcpu...`) includes `FEATURE_LWIP` and `FEATURE_COMMON_PAL` again.

Other versions:
mbed-cli: 1.3.0
gcc-arm-none-eabi: 6-2017-q2-update
GNU make: 4.1

[2018-01-28 16:12] amq commented on #4739
Can't replicate it at the moment, but I'm not sure the issue is completely gone. Closing until / if it can get replicated again.

[2018-01-28 16:12] #4739 closed

[2018-01-28 16:19] geky commented on #5935
Hi @olavipartanen,

I managed to get my hands on Keil to try a few things and think I've figured out the issue. It looks like mbed-os is using the flag `--gnu` for Keil. For some reason, this changes when `__builtin_ctz` is emitted, but not `__builtin_clz` or `__builtin_popcount`.

So the current version should compile if you provide the `--gnu` flag.

I've pushed up a patch to not use `__builtin_

[2018-01-28 17:34] #4862 closed

[2018-01-29 06:03] TomoYamanaka commented on #5885
@JanneKiiskila
I submitted PR for fix this issue. Could you please review it.

[2018-01-29 06:16] JanneKiiskila commented on #5885
Hi @TomoYamanaka ,

I'm afraid that one produces a gazillion warnings when being used and by default we should only support boards that support the TRNG (it is a HW security requirement from the Client point of view).

There is another solution we are working on as well, we'll have to see when we can get that done - I think that one would resolve the issue for boards w/o TRNG.

[2018-01-29 06:51] TomoYamanaka commented on #5885
@JanneKiiskila

Thank you for your comments.
Should I remove the above my PR and wait another solution that you mentioned?

[2018-01-29 08:59] 0xc0170 commented on #5940
Based on my earlier comment, you should be able to fix the errors you are getting. Once it is, what is still missing in the application? You can illustrate it via a code snippet?

[2018-01-29 09:10] prashantrar commented on #5626
The PR for this issue has been merged but the online compiler still gives a compilation issue, is the issue still persistent even after merge?

[2018-01-29 09:17] 0xc0170 commented on #5955
@drewcassidy To be certain we are using the same sha - what is the mbed-os version or commit sha ?

@mprse @maciejbocianski Please review

[2018-01-29 10:22] 0xc0170 commented on #5626
Are you using mbed OS 5.7.3? Please specify what versions and how are you testing

[2018-01-29 10:29] 0xc0170 commented on #5281
It was not about me, but a bug report should have all available information publicly accessible.
As @andreaslarssonublox requested above https://github.com/ARMmbed/mbed-os/issues/5281#issuecomment-335427932 , to be able to reproduce them, they will need those information.

What is the exact failure, error return code? Any debug info ? Call stack?

Tests might be passing but app failing (I would li

[2018-01-29 10:31] JanneKiiskila commented on #5643
Sure!

[2018-01-29 10:31] #5643 closed

[2018-01-29 10:45] amq opened #5958 "VS Code exporter shouldn't overwrite launch.json"
### Description
- Type: Enhancement
- Priority: Minor

---------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**

`launch.json` has to be modified by the user to match the debugger and target. But once e.g. a new libary is added and the project is re-exported to add the new includes, the file gets overwritten by the defa

[2018-01-29 11:15] moranpeker commented on #5868
i cant pass NULL if i need device partition.

[2018-01-29 11:19] moranpeker commented on #5871
Hi,
mount function should be failed if we pass from Little to Fat or the opposite way . if the mount function failed we call reformat.

[2018-01-29 11:25] moranpeker opened #5959 "LittleFS - mkdir does not return error for existing directory"
Bug
Toolchain:
GCC_ARM|ARM|IAR

Actual behavior
please follow this mkdir scenario:
/
mkidr 1
cd 1
mkdir 2
/1/2
mkdir /1

mkdir /1 should return is exists error.

[2018-01-29 11:38] prashantrar commented on #5626
I am using mbed OS 5.7.3, I loaded the example into the compiler using this link

https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky/

[2018-01-29 11:42] 0xc0170 commented on #5959
@geky Please review

[2018-01-29 11:51] 0xc0170 commented on #5626
Please also specify what errors are you getting, more information you can provide, better response you can get.

@ARMmbed/team-realtek Can you reproduce?

I tested it just now, getting internal compiler error for this target (5.7.3 mbed-os, blinky example), other targets build fine (freedom k64f, nucleo f429

[2018-01-29 12:04] prashantrar commented on #5626
![image](https://user-images.githubusercontent.com/6401910/35509552-88d355f8-052f-11e8-9aa0-51334fc76ce6.png)

This is the snapshot of the issue that im getting

[2018-01-29 12:06] 0xc0170 commented on #5958
@theotherjimmy Please review

[2018-01-29 13:20] markus-becker-tridonic-com opened #5961 "Support heap > 32KB for memory statistics"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
ALL

**Toolchain:**
ALL

**Expected behavior**
Support heap > 32KB for memory statistics in
https://github.com/ARMmbed/mbed-os/blob/729ef153076ea9db4a9c9f81e90076960e035213/features/FEATURE_COMMON_PAL/nanostack-libservice/mbed-client-libservice/nsdynmemLIB.h#L50

Change

[2018-01-29 13:20] markus-becker-tridonic-com commented on #5961
FYI @daniel-cesarini-tridonic-com @MarceloSalazar

[2018-01-29 13:48] 0xc0170 commented on #5961
@SeppoTakalo Please review

[2018-01-29 14:40] SeppoTakalo commented on #5961
Tittle is a bit misleading as this only affects Nanostack's internal heap but still this is a valid issue.

[2018-01-29 14:47] kjbracey-arm commented on #5961
The code linked is not the current version - that has a `ns_mem_heap_size_t` typedef.

Those 4 stats are limited by that size, as that's the type for size passed to ns_dyn_mem_init().

To up the heap liimit, you need to change that typedef. There's another typedef for the block size.

We do worry about 16-bit platforms a bit in that library, which is why they're 16-bit. I'd be inclined to maybe ch

[2018-01-29 14:57] bmcdonnell-ionx commented on #5780
@deepikabhavnani, can you give a status update? Do you think you know what needs to be fixed for `bug01`? If so, can you please commit in a branch or tag somewhere, and point me to it so I can test?

I'm not clear on the required changes from what you've said here. I'd love to wrap this up and get the changes into Mbed OS 5.7.4.

[2018-01-29 15:52] deepikabhavnani commented on #5780
@bmcdonnell-ionx As mentioned earlier, the proposed change might not work as I missed the return statement in failure case during analysis.
Also, sorry but I am not working on filesystem issues at present, so wont be able to help much.

[2018-01-29 16:09] #5921 closed

[2018-01-29 16:22] SenRamakri commented on #5891
The MemoryPool API is purely a pool based memory allocator built on top of CMSIS/RTX Memory Pool implementation(https://www.keil.com/pack/doc/CMSIS/RTOS2/html/group__CMSIS__RTOS__PoolMgmt.html). It does not invoke the object constructor for the objects placed in the pool blocks. The memory pool allocates blocks of memory from the pool and returns the pointer of that block to the user. Its the resp

[2018-01-29 17:20] drewcassidy commented on #5955
this was at https://github.com/ARMmbed/mbed-os/commit/26d0c6dcafa66f1e52de2ba7ea320aa7cc68176a, but the file hasnt changed since

[2018-01-29 17:36] geky commented on #5959
Hi @moranpeker, thanks for reporting the issue. Which compiler is this with?

Is this with the `chdir` function?

[2018-01-30 06:03] MikeDK opened #5968 "How to enable pretty bars on targets where they don't actually work?"
### Description
- Type: Question
- Related issue: #5929
- Priority: Minor

---------------------------------------------------------------

## Question

I was surprised about those new pretty bars (and the fact that they are the standard compile output now unless --stats-depth is given).

I have observed that they are not working for all targets ... for example, for my EFM32PG12 board they are wor

[2018-01-30 06:46] MikeDK opened #5969 "When do feature branches get merged into master?"
### Description
- Type: Question
- Related issue: #5557
- Priority: Minor

---------------------------------------------------------------

## Question

I'm happy my pull request #5557 was merged, but I wonder how this will go from feature_cpuid into master? What are the next steps? Is there some procedure for feature branches?