[2017-06-08 20:44] yennster opened #4507 "[Exporter] K66F not supported by IAR"
### Description
- Type: Bug
- Related issue: [#3633 [Exporter] [TLS-Client] : Platform not supported by IAR.](https://github.com/ARMmbed/mbed-os/issues/3633)
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target:**
K66F

**Toolchain:**
IAR

**Toolchain version:**
7.8.0

**mbed-cli version:**
1.1.1

**Expected behavior**
Export command should succeed.

[2017-06-08 20:47] theotherjimmy commented on #4507
My version of expected behavior:

The OOB matrix should not say to test this combo.

[2017-06-08 20:51] theotherjimmy commented on #4507
also, you forgot the `cd <the mbed-os-example-xxx>` in your steps to reproduce :smile:

[2017-06-08 21:01] yennster commented on #4507
@theotherjimmy I added clarification to the steps to reproduce section

[2017-06-08 21:25] adamgreen commented on #4486
Fixed with PR #4489

[2017-06-08 21:25] #4486 closed

[2017-06-09 01:41] TomoYamanaka commented on #4440
@mbedNoobNinja

Thank you.
We are looking forward to your reply.

[2017-06-09 05:04] soramame21 opened #4512 "Decimal part of both Humidity value and Pressure value are removed at BLE EnvironmentalService"
### Description of defect

It's an issue of BLE feature.
BLE **EnvironmentalService** removed decimal part of both Humidity value and Pressure value before sending. only temperature value can be sent correctly with decimal part.
**EnvironmentalService** includes following 3 characterisitics.
1.  temperature
2.  humidity
3.  pressure

#### Target(s) affected by this defect ?

TY51822r3,  it can be

[2017-06-09 05:58] mikaleppanen commented on #4432
This could be also due to multicast filtering for ipv6. I'll check that.

[2017-06-09 06:01] toyowata commented on #3673
@theotherjimmy thanks!

[2017-06-09 06:01] #3673 closed

[2017-06-09 08:09] mikaleppanen commented on #4432
Made pull request: https://github.com/ARMmbed/mbed-os/pull/4513

[2017-06-09 11:00] hasnainvirk commented on #4505
@sarahmarshy I looked at the documentation of MTQ-EV3-B01, http://www.multitech.com/documents/publications/manuals/s000627.pdf
Check Chapter 5 Carrier Specific notices. There are Carrier specific initial setups that are needed to be performed. Our implementation is based upon standard AT command set, works with MTQ-HB-B01 type of devices. Maybe a future enhancement. But out of scope currently.

[2017-06-09 11:47] LMESTM commented on #899
@0xc0170
I just made a quick test with managing errors in the driver thanks to #4502
I used 460800 baudrate with the basic application provided in example of this issue, and for sure the target can't cope with this rate from a simlpe polling loop and Stream based Serial objects.
So, with the fix, indeed the application is still alive - but I can't understand how this won't affect application, beca

[2017-06-09 11:56] LMESTM commented on #4459
Related PRs:
#4511
#4506
#4503

[2017-06-09 13:44] LMESTM commented on #4300
ST_TO_BE_CLOSED

[2017-06-09 13:48] #4300 closed

[2017-06-09 13:52] LMESTM commented on #4217
ST_TO_BE_CLOSED
#4424 was merged - @cesarvandevelde  the problem is fixed now, feel free to let us know if any further issue

[2017-06-09 13:53] LMESTM commented on #1701
ST_TO_BE_CLOSED
#4424 was merged - @joost-g  the problem is fixed now, feel free to let us know if any further issue

[2017-06-09 13:53] LMESTM commented on #2519
ST_TO_BE_CLOSED
#4424 was merged - @bulislaw  the problem is fixed now, feel free to let us know if any further issue

[2017-06-09 13:54] LMESTM commented on #2598
ST_TO_BE_CLOSED
#4424 was merged - this problem should fixed now - past events handling is delayed to not be called directly from interrupt context
feel free to let us know if any further issue

[2017-06-09 13:58] LMESTM commented on #899
ST_TO_BE_CLOSED

[2017-06-09 13:58] #4217 closed

[2017-06-09 13:59] #1701 closed

[2017-06-09 13:59] #2519 closed

[2017-06-09 13:59] #2598 closed

[2017-06-09 14:30] Nodraak opened #4515 "Compilation error for targets that does not support interrupts"
### Description
- Type: bug
- Related commit: 24de27c9895b167e07b5cd4ddaa585b6ca1b9864
- Priority: low

Following commit 24de27c9895b167e07b5cd4ddaa585b6ca1b9864, mbed-os does not compile if the target does not support interrupts.

**Explanation:**

If the target does not support interrupts, `DEVICE_INTERRUPTIN` is not defined and the class `InterruptIn` in `drivers/InterruptIn.h` is not declared.

[2017-06-09 14:34] 0xc0170 commented on #4515
Thanks for reporting, will wait for the fix.

curiosity, target does not support interrupts?

[2017-06-09 14:39] Nodraak commented on #4515
I am currently adding a new target for a new microcontroller (on behalf of the company I work for). But it's because I just started working, so I only have the most basic things, I will most probably implement interrupts soon :)

[2017-06-09 15:07] sarahmarshy commented on #4505
@hasnainvirk We should be very clear about what modules this driver supports. The driver should not fail like this. Can you query the device in the driver and fail if it is not supported?

Additionally, this driver is not set up to support CDMA radios at all if it is querying a SIM pin, as they do not require SIM cards.

[2017-06-09 15:13] hasnainvirk commented on #4505
@sarahmarshy Not ALL CDMA cellular modems come with a baked in SIM. Currently there are more important things are underway. I have kept a note of your issue and martin had added a label.

[2017-06-09 15:15] sarahmarshy commented on #4505
@hasnainvirk Could we document this as a known issue? Or at least document the modules the driver supports?

[2017-06-09 15:26] jeromecoutant commented on #4433
Hi
This issue looks corrected with #4513
Thx @mikaleppanen

[2017-06-09 15:57] geky commented on #4433
Ah! Very cool and good to know, thanks @mikaleppanen

[2017-06-12 12:30] netanelgonen opened #4526 "MBRBlockDevice: cannot mount multiple partitions"
### Description
- Type: Bug
- Priority: | Major

## Bug
cannot create mulipal partitions with the new API in mbed-os 5.5 receiving this error:
“ mbed assertation failed: is_valid_read(addr, size), file: ../..//mbed-os/features/filesystem/bd/MBRBlockDevice.cpp, line 234”

This is my init code for the partiotions (in global scope)
[code]

What am I doing wrong?
Thank you for your help

Some more inf

[2017-06-12 12:36] 0xc0170 commented on #4526
cc @geky @c1728p9

[2017-06-12 12:42] 0xc0170 commented on #4526
The assert is fails because of this check

[code]

[2017-06-12 13:03] netanelgonen commented on #4526
@0xc0170 who are you asking?

[2017-06-12 13:51] 0xc0170 commented on #4526
@netanelgonen You, to get more details about the failure (its assertation so some assumptions are not done correctly). @sg- pointed out the address for both partition is the same, shouldn't be?

[2017-06-12 13:57] JanneKiiskila commented on #4526
@netanelgonen - I think you have the start address wrong. Please check the header.

 *  // Partition into two partitions with ~half the blocks
 *  MBRBlockDevice::partition(&mem, 1, 0x83, 0*512, 32*512);
 *  MBRBlockDevice::partition(&mem, 2, 0x83, 32*512);

It has an example - notice how the STARTING point for the 2nd partitioin is not zero. It can't be, as it would otherwise overlap with the 1st

[2017-06-12 14:18] netanelgonen commented on #4526
Hi @JanneKiiskila   thanks, this helped a bit but now I'm getting the same assert in a later stage.
I'm getting this assert while trying to open a directory that not exists. (hoping to get an error not collapsing)

what should I put in the type argument? i don't see any info about this

[2017-06-12 14:20] wjffsx opened #4527 "FATFileSystem.cpp int FATFileSystem::format have bug"
[code]

FATFileSystem fs;  before use Variables are not initialized

[2017-06-12 14:29] deepikabhavnani opened #4528 "K82F - Uart not working on master branch"
### Description
- Type: Bug
- Priority: Minor

**Target**
K82F

**Toolchain:**
GCC_ARM|ARM|IAR

**Expected behavior**
Should get prints on serial console

**Actual behavior**
No prints on UART

**Steps to reproduce**
Add print statement in blinky example and build for K82F target.

Debugging this further, it seemed the clock source is not set properly for K82F.
@thinkberg: Inside CLOCK_SetLpuartSr

[2017-06-12 14:37] 0xc0170 commented on #4527
cc @geky

[2017-06-12 14:53] geky commented on #4527
In C++, declaring a variable calls its constructor. The FATFileSystem constructor is here:
https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/fat/FATFileSystem.cpp#L235-L240

The `fs.mount` function sets up the FATFileSystem to use the BlockDevice in the f_format function.

[2017-06-12 15:00] 0xc0170 commented on #4527
@wjffsx have you had any problems with the function ? any runtime error/compile warning or?

[2017-06-12 15:09] JanneKiiskila commented on #4526
@netanelgonen - some sample code etc. would help, now this is just guesswork. You didn't specify the function call that works, what you do prior to that nor what assert you're seeing.

[2017-06-12 15:11] geky commented on #4526
Thanks, @JanneKiiskila was right on this one, perhaps an assert in the partition function would be useful.

I'm assuming the new error your seeing is because of the zero type? The init function should have been returning an error then ([here](https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/bd/MBRBlockDevice.cpp#L211)). The zero type is used by the MBR as an empty entry.

The ful

[2017-06-12 15:14] netanelgonen commented on #4526
I'm getting the same assert as before.

I'm failing in https://github.com/ARMmbed/mbed-client-pal/blob/format_partitions/Source/Port/Reference-Impl/OS_Specific/mbedOS/FileSystem/pal_plat_fileSystem.cpp#L267

while the back trace is in this image:
![image](https://user-images.githubusercontent.com/17008964/27040789-b91567f6-4f9a-11e7-9f81-69348d499f68.png)

[2017-06-12 15:33] LMESTM commented on #1083
I'm working on it - a PR should be available this week

[2017-06-12 15:36] geky commented on #4386
Sorry for the late response,

Unfortunately the FATFileSystem doesn't understand corrupt blocks, so running out of heap would probably just crash the filesystem.

To add a RamFileSystem, you will need to inherit from FileSystem and implement all of the virtual functions that return ENOSYS:
https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/FileSystem.cpp

The trick to binding the f

[2017-06-12 15:46] geky commented on #4492
If you want a thread to sleep while being able to be woken up your best bet is a semaphore:
[code]

Here's an example of waking up a thread on a button press:
[code]

---

It looks like you're right, the mail and message queues currently don't support destruction. This may be a bug @bulislaw, @c1728p9

[2017-06-12 15:47] LMESTM commented on #4459
@0xc0170 -today I tested on master after this PR was merged. MBED2 tests boot ok on NUCLEO_L476RG as I reported last week, but I still fail to boot on NUCLEO_F334R8. If I roll back before CMSIS5 update, this is ok again ...

[2017-06-12 15:55] bridadan commented on #4433
Good to close now that #4513 is merged?

[2017-06-12 16:06] geky commented on #4443
Looks like you're right, we don't currently have a method for determining the source address of udp packets. The recvmsg function would work and will need to be added to the UDPSocket and NetworkStack classes along with testing and documentation. I don't believe any one is currently working on this.

[2017-06-12 16:27] geky commented on #4068
Curious, does the udp echo test not fail?
https://github.com/ARMmbed/mbed-os/tree/master/features/FEATURE_LWIP/TESTS/mbedmicro-net/udp_echo/main.cpp

We do have more intensive testing, but we haven't been able to turn them on yet:
https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/TESTS/mbedmicro-net/udp_packet_pressure/main.cpp

You can try running these with the following mbed

[2017-06-12 16:38] JanneKiiskila commented on #4526
Nope, your traceback is showing a different assert, it's not the same (as in the beginning).

https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/bd/MBRBlockDevice.cpp#L232

It's hitting that assert there. What are the parameters you're giving in?

[2017-06-12 17:58] teetak01 commented on #4433
Thanks for all!

[2017-06-12 17:58] #4433 closed

[2017-06-12 18:26] JanneKiiskila commented on #4462
Hei,

as it was now merged to master, it was easier for me to compile it (last week was too busy), but it still unfortunately fails.

mbed-os master was now pointing to: f31ea012378ba7fd26429a805e8cf5cb4999fb25

So it had the fix in it. But, unfortunately

[code]

[2017-06-12 18:43] RobMeades opened #4532 "KernelInitialize crash on STM32F4 platform on HEAD revision"
### Description
- Type: Bug
- Priority: Blocker

`STM32F4` target `UBLOX_C030_U201` fails to boot.  I updated to `HEAD` revision of `mbed-os` today (last time was ~4 weeks ago) and now it doesn't get past `KernelInitialize`.  I have a feeling this may not be isolated to my platform, [this](https://github.com/ARMmbed/mbed-os-example-wifi/issues/36) issue may be the same thing and, indeed, it might

[2017-06-12 20:44] stevew817 opened #4533 "Nanostack RF driver callbacks not ISR-safe"
@SeppoTakalo @sg-

Now that RTX5 is going to get switched on, and mutexes are no longer disabled, I encountered the following:
https://github.com/ARMmbed/mbed-os/blob/f31ea012378ba7fd26429a805e8cf5cb4999fb25/features/FEATURE_COMMON_PAL/nanostack-hal-mbed-cmsis-rtos/arm_hal_interrupt.c#L30

In its documentation, Nanostack defines the enter_ & exit_critical functions as turning on and off global int

[2017-06-12 21:05] chrissnow opened #4534 "xDot bootloader"
### Description
- Type:  Question
---------------------------------------------------------------

I'm trying to implement a bootloader for the xDot (STM32L151CC) and am struggling.

I have followed instructions here
https://docs.mbed.com/docs/mbed-os-handbook/en/latest/advanced/flash/
to implement the flash IAP routines but the bootloader hard faults while trying to program a page.

here are my f

[2017-06-13 01:32] wjffsx commented on #4527
complie is ok ; in runtime ;i can not format SD card

[2017-06-13 02:13] toyowata opened #4535 "NUCLEO_F767ZI is not supported by IAR exporter"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target:**
NUCLEO_F767ZI

**Toolchain:**
IAR

**Toolchain version:**
7.8.0

**mbed-cli version:**
1.1.1

**Expected behavior**
Export command should succeed.

**Actual behavior**
[code]

**Steps to reproduce**
[code]

[2017-06-13 07:42] yogpan01 commented on #4462
Hi @Archcady ,
While compiling for mbed-os-example-client for mbedOS 5,5 (https://github.com/ARMmbed/mbed-os-example-client/tree/mbedos55-oob) , the linker is failing for ARMCC with following message
[code]

I think there is room to increase the limit even more since there is quite lot of unused user space left on the device.

[2017-06-13 08:15] 0xc0170 commented on #4532
Is this only for GCC ARM ?

I'll run some local test on F4. for instance we havent seen this yet. The latest bugfix was done for lwip on F429 nucleo board, the tests run - all green. I'll run some tests on odin board to confirm.

cc @bcostm @LMESTM @jeromecoutant

[2017-06-13 08:21] 0xc0170 commented on #4532
From the PR referenced:

It is done in the mbed boot for any non cortex-m0, thus should be done for ours as well. for more details, look at the mbed_boot code file where the bootup sequence is described. SystemInit should not invoke rely or invoke interrupts

[2017-06-13 08:25] RobMeades commented on #4532
The fix for the vector table initialisation issue for my platform was to edit my `system_stm32f4xx.c` file and set:

`#define VECT_TAB_SRAM`

..then, further down in the same file, change:

[code]
…to

[code]

I'm not sure about other toolchains, will test that.  I have also tried an Odin board, which worked for me, so maybe the issue linked above is different and this is just a problem for me.  I

[2017-06-13 08:39] RobMeades commented on #4532
Ref. the vector table copying, agreed that `mbed_cpy_nvic()` is being called in `mbed_boot.c` and `HAL_Init()` is being called again but, when `HAL_Init()` is called the *first* time (from `SystemInit()` on all STM platforms), the attempt to set up the timer interrupt results in a write to flash.  I understand that #4485 includes a fix for this in terms of the chip's flash write registers being mu

[2017-06-13 08:44] RobMeades commented on #4532
Bugger.  I think I see the problem.  The change I made to `system_stm32f4xx.c` isn't going to fix things.  The `mbed_cpy_nvic()` function copies vectors from `SCB->VTOR` into RAM, but I've just told it that `SCB->VTOR`  is in RAM without actually copying the values there from ROM.  What should the correct answer be?

[2017-06-13 08:47] 0xc0170 commented on #4532
I believe that VTOR shall be removed completely from the startup ? systeminit should avoid doing any interrupts ?

How does this startup sequcen work for instance for F429 ? I checked that Vtor line is not there.

[2017-06-13 08:57] RobMeades commented on #4532
I'll need to check on F429.  I can confirm that if I change `SystemInit()` to include the following:

[code]
...then the board boots.

[2017-06-13 10:15] RobMeades opened #4537 "UARTSerial() and mutexes in interrupts"
### Description
- Type: Bug
- Priority: Blocker

With the introduction of #4389, `UARTSerial()` hits the `Mutex not allowed in ISR context` trap.

**Expected behavior**
Transmit serial bytes.

**Actual behavior**
The call stack is as below, basically `UARTSerial()`’s `tx_irq()` is calling `SerialBase:writeable()` which has a mutex in it.

![call_stack](https://user-images.githubusercontent.com/672

[2017-06-13 10:15] RobMeades commented on #4537
Note: already raised with @kjbracey-arm and @hasnainvirk.

[2017-06-13 10:27] 0xc0170 commented on #4537
`UARTSerial` inherits from other classes. They provide `locking` that derived class should implement.  Is this implemented in the ``UbloxCellularBase`` or where in the class hierarchy ?
If mutex is used there, it won't be allowed to invoke from ISR.

What's your stand for this issue?

[2017-06-13 10:27] thinkberg commented on #4528
It should be properly set in serial_api.c.
The issue is that setting the serial clock source in fsl_clock_config.c ignores the fact, that it can be reprogrammed. If you do switch to a different power mode, it is possible that the clock source changes. My changes in serial_api.c: https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Freescale/TARGET_MCUXpresso_MCUS/TARGET_K82F/serial_api.c#

[2017-06-13 10:34] thinkberg commented on #4528
Not quite right, the issue was that before it was always clock source 2U, which does not work when not using an external reference clock. Normally the clock source should be set in fsl_clock)_config as in our UBRIDGE config. I guess adding CLOCK_SetLpuartSrc(2U) in fsl_clock_config.c should fix this issue.

[2017-06-13 10:55] Archcady commented on #4462
Seems like we'll have to move code to SDRAM, need some time to work on this and also test this.

[2017-06-13 11:11] hasnainvirk commented on #4515
Should there be a platform that doesn't support interrupts ? Mind boggling @Nodraak  :) Half baked ports do not tend to get in mbed-os. Probably you can keep this change in your local tree or otherwise as @0xc0170 decides.

[2017-06-13 11:29] Apocalyt commented on #4374
Hello, what is the situation regarding this change request?
Has someone started to implement it yet?
I can try to provide some additional info if needed.

[2017-06-13 11:35] RobMeades commented on #4532
To update the thread, the call that results in an attempt to set an interrupt vector while the interrupt vector tables are still pointed to flash is `HAL_InitTick()` in `hal_tick_32b.c`:

![nvic](https://user-images.githubusercontent.com/6726745/27080562-5868211a-5034-11e7-88ca-327c7df505f8.png)

We can't understand why this is not a problem for other STM32F4 platforms though.  Can anyone from STM

[2017-06-13 11:46] kjbracey-arm commented on #4537
It’s a confusion between two locks – we need a private mutex for our FileHandle API, and we also need a lock implementation for the pure virtual in SerialBase (which we inherit from privately).

Proposed fix:

Rename the existing lock() and unlock() methods to user_lock() or api_lock() or something, and rename all users inside UARTSerial to point to those. And make them protected.

Then add empty

[2017-06-13 11:47] LMESTM commented on #4532
@RobMeades @0xc0170 we've also reported issues in booting targets since the merge of #4294
This is tracked here #4459. I reported yesterday that there are still problems for F3 targets at least on HEAD revision.

I'haven't run a full check yet of all boards over mbed2 and mbed5, and I'm not sure on which revision I'd be supposed to do so as it requires time to do so and HEAD is moving fast.

Basic

[2017-06-13 11:54] 0xc0170 commented on #4459
mbed 2 boot for NUCLEO_F334R8 ?

[2017-06-13 12:02] LMESTM commented on #4459
Not only. I also started automated tests on my analogout branch yesterday
The CI shield tests run on NUCLEO_F303ZE on our test bench all timed out.
I rebased mbed back before  #4294 and the tests were then OK.

[2017-06-13 14:00] geky commented on #4527
Ah ok, then a few questions:
1. Do any asserts fail? (an error would be printed in debug mode)
2. What is the return value of the format function? It should return an error code.
3. Do you have a code snippet we could use to reproduce the failure?

[2017-06-13 14:40] LMESTM commented on #3970
@CarloMara

I think I've addressed the issue on DAC in here: #4529
I suggest that you try out these 3 patches and let me know.

I think the key point in your case is in particular the DAC configuration:
https://github.com/ARMmbed/mbed-os/pull/4529/commits/18d1e8e27897d2d76fdcbcb40029b8370cb3a3d4

[2017-06-13 14:44] 0xc0170 commented on #4459
Quick debug session shows the callstack as:

SystemInit -> HAL TickInit -> Nvic SetVector -> hardfault

As I noticed VTOR points to the flash area (0x0800 0000 address) thus writing to it results in the hard fault). Is that correct?

We are looking at this, and will provide a solution here. The ideal would be not to setup ISR before even other things are setup (sdk init, rtx init, heap/stack set).

[2017-06-13 14:44] 0xc0170 commented on #4459
cc @c1728p9

[2017-06-13 15:04] LMESTM commented on #4459
Yes. HAL_TickInit needs to be called before C++ ctors

[2017-06-13 15:32] LMESTM commented on #3164
@sergiuszm  I know it's an old bug, but I would not be able to help further without more information. Otherwise I'll consider this can be closed as I could successfully run the suggested test
ST_TO_BE_CLOSED

[2017-06-13 15:33] LMESTM commented on #3445
As explained above this has been fixed thru #4375
ST_TO_BE_CLOSED

[2017-06-13 15:34] netanelgonen commented on #4526
Hi @JanneKiiskila  @geky @amirpjm ,
thanks you all after the changes i was able to create partition trough mbed-os 5.5 APIs
but, i cant use them... for some reason the same senario that pass on other OS (even FreeRTOS that uses the same fatFS) are failing.

if I'm trying to use SDcard with predefined (fat in linux trough gnome-disks)  or by using the mbedOS 5.5 APIs.

I'm failing while I'm Teing t

[2017-06-13 15:34] LMESTM commented on #3855
I think we have answered the question. I propose to close the issue, unless further questions arise.
ST_TO_BE_CLOSED

[2017-06-13 15:36] LMESTM commented on #4214
@Willem23
#4365 was sent for fixing the issue - if possible, can you please test and provide feedback ?
ST_TO_BE_CLOSED

[2017-06-13 15:37] deepikabhavnani commented on #4528
Since FRDM_K82F board normally uses the ext. ref clock, should we set the default clock source to 2U in serial_api.c?

[2017-06-13 15:40] sergiuszm commented on #3164
@LMESTM Ah, I'm sorry. I'm closing the issue since I am unable to check if it is resolved or not.

[2017-06-13 15:40] #3164 closed

[2017-06-13 15:50] thinkberg commented on #4528
If a user decides to not use the ext ref. clock with a K82F it will break the UART. It makes total sense to put this in fsl_clock_config.c. The code in serial_api.c is currently written, so it identifies the clock source used and retrieves the frequency accordingly. However, you could use the fallback to 2U in https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_Freescale/TARGET_MCUXpress

[2017-06-13 15:50] LMESTM commented on #3164
@sergiuszm No pb - thanks for the update !

[2017-06-13 15:51] thinkberg commented on #4528
@deepikabhavnani: I guess that was what you were talking about? Because originally there was only a single line setting 2U as the clock source without the case statement.

[2017-06-13 16:14] c1728p9 commented on #4459
I did some digging and found that HAL_Init is called twice, both before C++ global constructors are called. HAL_Init is called in both SystemInit and in sdk_init. The call to HAL_Init in SystemInit is what causes many devices to crash. Can this be removed?

[2017-06-13 16:20] c1728p9 commented on #4459
Looking at version of the F1 cube library 1.4.0  (V4.1.0 in the source code) there isn't a call to HAL_Init in SystemInit. It looks like the one in mbed is F1 cube V1.5.0 (V4.2.0 in the souce code). Do you know where I can find this version? The latest I can download is 1.4.0. Was the addition of HAL_Init to SystemInit done in version 1.5.0, or are these mbed-os specific changes?

[2017-06-13 16:59] c1728p9 commented on #4459
cc @LMESTM @jeromecoutant @bcostm @adustm

[2017-06-13 17:14] c1728p9 commented on #4459
Created PR #4543 for this. Let me know if you have any feedback on it

[2017-06-13 17:16] mmahadevan108 commented on #4528
@deepakvenugopal Thanks for finding this issue. I had not tested K82F for sometime.

@thinkberg Thanks for updating the serial_api.c file. At the I added this file it was written for the FRDM-K82F file. Apologies for this, very glad to note that you had added support for a new K82F based board. I am made modifications to the code to move serial initialization to the board layer. Can you please tes

[2017-06-13 18:10] theotherjimmy commented on #4535
@toyowata This is not a bug. You are requesting an enhancement.

[2017-06-13 18:11] theotherjimmy commented on #4535
Also, as this is true on master, I'm removing the OOB tag

[2017-06-13 18:16] theotherjimmy commented on #4534
@chrissnow You will have to submit any PRs against the master branch. Therefore, it's my recommendation that you try to work with the master branch from the start.

@c1728p9 both Flash IAP and mutex in ISR were your changes. Do you have any debugging or development guidelines that could help with implementing this?

[2017-06-13 20:05] chrissnow commented on #4534
@theotherjimmy I did the changes against master but then back ported them to a 5.4.7 after issues.

@c1728p9 the mutex in ISR might not actually a problem as it seems to be working now against master at least for the DataFlash variant, I still have issues with the SD card but that's probably something else as different SD cards have different issues!

my master branch is here, examples have been u

[2017-06-13 20:07] netanelgonen commented on #4526
I assumption is currect i just didn't push the code yet to git.

I have successeded to mount and format.
The problem starts when I'm trying to create directories and files on the file system.

Do you an example for this?

Sorry for typos

נשלח מ-BlueMail<http://www.bluemail.me/r?b=9856>
ב-13 ביוני 2017, ב-Christopher Haster <notifications@github.com<mailto:notifications@github.com>>, 19:07 כתב:

T

[2017-06-13 21:02] CarloMara commented on #3970
I'll try that tomorrow and ping you with the result.

Thanks,
Carlo

[2017-06-13 21:35] geky commented on #4526
I've reproduced this locally and it seems that there are a few more subtle issues that crept in:

1. The partitions need to be numbered correctly. Currently partition number 1 is be overwritten repeatedly.

2. Turns out the block device initialization sequence is a bit more hairy than I thought. Most of the utility block devices initialize children block devices for you, but this is not the case f

[2017-06-13 21:56] netanelgonen commented on #4526
Thanks i will try this tommorow morning

נשלח מ-BlueMail<http://www.bluemail.me/r?b=9856>
ב-14 ביוני 2017, ב-Christopher Haster <notifications@github.com<mailto:notifications@github.com>>, 0:35 כתב:

I've reproduced this locally and it seems that there are a few more subtle issues that crept in:

  1.  The partitions need to be numbered correctly. Currently partition number 1 is be overwritten rep

[2017-06-14 02:19] janjongboom commented on #4534
@LiyouZhou @marcuschangarm Can mbed-os-example-bootloader be changed for the update-aware bootloader? We want to run update client on xDot.

[2017-06-14 03:57] ravihansa3000 opened #4549 "Atmel ATSAMD21-XPRO mbedOS 5.x support"
### Description
- Type: Enhancement
- Priority: Minor
----------------------------------------------------------------

## Enhancement

**Reason to enhance or problem with existing solution**
Board currently only supports mbedOS 2

**Suggested enhancement**
Update board support for mbedOS 5.x

**Pros**
None of the ATSAM series boards currently support mbedOS 5.x. Atmel's ATSAMD21 is a popular MCU,

[2017-06-14 06:16] adamgreen commented on #4456
@pan- Thanks for the response!

But it is still possible to call osSemaphoreRelease() before another thread has gotten around to calling osSemaphoreAcquire()? It just can't do it more than the max count times.

I guess I just don't know what *available tokens* is really supposed to mean? Before it was the number of available tokens at the time the acquire call was made. Now it is just whatever it'

[2017-06-14 06:34] jeromecoutant commented on #4459
Hi

Yes, you are right. V1.5.0 is official but not public yet... We have introduced it in advance in MBED as we needed Low Layers drivers which are introduced in this version for this F1 family.

MBED specific change.

[2017-06-14 07:58] JonatanAntoni commented on #4456
Hi @adamgreen,

I just slightly enhanced the CMSIS-RTOS2 documentation about semaphores, see [2a4ab8](https://github.com/ARM-software/CMSIS_5/commit/2a4ab8569305847d9c30e62eb199a7dc16b17b15).
- Added a second example using semaphores for producer/consumer problems.
- Removed the misleading "acquired by osSemaphoreAcquire" from osSemaphoreRelease brief.

May I ask you to take a look into the docume

[2017-06-14 08:33] adamgreen commented on #4456
@JonatanAntoni I checked out the commit mentioned above and it looked good to me.

[2017-06-14 08:36] 0xc0170 opened #4550 "Boot sequence mbed SDK + RTX documentation missing"
### Description
- Type: Bug
- Priority: Minor

The new boot sequence for mbed OS is nicely documented in the mbed boot code file https://github.com/ARMmbed/mbed-os/blob/master/rtos/mbed_boot.c#L17. The same can be done for mbed 2 (plus how it is changed when RTX is included) - this has separate boot sequence in mbed_sdk_boot code file https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_sd

[2017-06-14 08:45] kjbracey-arm commented on #4533
Not sure what you mean by that. They've always been enabled. But there have been some new asserts added - perhaps you're now being told off for trying to claim a mutex from interrupt. Loud failure rather than silent failure and unreliability, is the idea.

The documentation may leave a little to be desired - it should be covered here, but don't think it is: https://docs.mbed.com/docs/arm-ipv66lowp

[2017-06-14 08:51] adamgreen commented on #4456
Based on feedback here, I wonder if this might not be a sufficient implementation for Semaphore::wait() using the new API?

[code]
If the acquisition was successful then just return 1, a positive integer.

[2017-06-14 09:31] Sissors opened #4551 "Mbed (callback) documentation"
- Type: Enhancement
- Priority: Major

-----------------------------------------------------------------

This is a two part request / question / feedback:

Specifically I started with my WakeUp library, where I wanted to remove the compilation warnings from the FunctionPointer I used there, so I had to switch to the Callback template. No problem, well except the problem: How? I at least knew I ne

[2017-06-14 10:17] 0xc0170 commented on #4551
cc @AnotherButler @iriark01

[2017-06-14 10:23] iriark01 commented on #4551
Thank you for the feedback; we'll look at the PWM text. We're in the process of migrating the documentation, which should make finding things easier (and will also fix the copy of the .h file appearing where the doxy should be).

[2017-06-14 10:43] pan- commented on #4456
@JonatanAntoni Many thanks for the documentation enhancements. I'm nitpicking but the enumeration of returns value from `osSemaphoreRelease` is inaccurate. `osErrorResource` is also returned when the semaphore is in an invalid semaphore state. Would it be possible to distinguish an error caused by the lack of tokens to release from an error due to an invalid state of the semaphore ?

For example,

[2017-06-14 11:00] 0xc0170 commented on #4535
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-06-14 11:01] bcostm commented on #4535
I am on it

[2017-06-14 11:52] JonatanAntoni commented on #4456
Hi @adamgreen,

`osErrorResource` is used whenever the operation cannot be completed due to object state, such as a

- uninitialized,
- deleted, or
- overflown

semaphore. Either case should be avoided. One should not release tokens that have not been acquired before.

The new producer/consumer example I added recently makes use of two semaphores. This way the producer always knows that he is allo

[2017-06-14 12:33] kjbracey-arm commented on #4443
My general recommendation is to distinguish the services you want to talk to by stuff that is easily visible - port numbers and URIs.

Whatever service you're providing (eg light control) should presumably also be accessible via unicast as well as multicast - so for the unicast case you'd be inspecting payload and port to determine what service was being asked for - you couldn't use the destinatio

[2017-06-14 12:53] SeppoTakalo commented on #4533
We will take this into our sprint and update the documentation.

[2017-06-14 12:55] netanelgonen commented on #4526
I have encountered a new issue when using directories.
when creating directory it will be always created inside the 1st partition regardless to the path

i used this example as a base
https://gist.github.com/geky/55d96b7c857fbe2932784ac4e9de4e29

and created the test as following:
int testing_fs2() {
    printf("go\n");

    int err = destroy();
    printf("destroy %d\n", err);

    err = forcemou

[2017-06-14 12:57] SeppoTakalo commented on #4537
@0xc0170 @sg-
I added this into a known issue list of mbed OS 5.5.0

[2017-06-14 13:54] #3445 closed

[2017-06-14 13:58] kristofmulier commented on #3445
Hi @LMESTM @adustm @0xc0170 ,
Sorry for my late reply. So the issue is fixed in the current release?
Thank you very much :-)

[2017-06-14 14:10] LMESTM commented on #3445
@kristofmulier  welcome. I haven't checked the official release where it will land but it's merged on master now :-)

[2017-06-14 14:22] LMESTM opened #4553 "L476RG won't boot with GCC_ARM on master"
### Description
On mbed master, after merge 17q2 workshop branch for bootloader support, NUCLEO_L476RG target will not boot with GCC_ARM toolchain.

## Bug

**Target**
NUCLEO_LL476RG

**Toolchain:**
GCC_ARM

**Steps to reproduce**
any test in mbed2 or mbed5

[2017-06-14 17:31] adamgreen commented on #4456
@JonatanAntoni,

Based on the above feedback, I think I would now only suggest the consideration of two possible CMSIS-RTOS changes:
* As @pan- mentioned above, it might be nice to distinguish between the two ```osErrorResource``` error causes in the acquire and release paths.
* Consider removing the new ```osSemaphoreGetCount()``` API. It didn't exist in earlier versions.

I also suggested a chan

[2017-06-14 20:40] geky commented on #4526
Thanks for the example code. Looks like it. There is apparently an issue in how the current fatfs prefixes paths. This is kinda a messy step needed to interface with the chanfs implementation. Unfortunately we haven't ran into this before since multiple fatfss have never been used simultaneously.

I put up a patch that should fix this issue: https://github.com/ARMmbed/mbed-os/pull/4561

With that

[2017-06-14 21:56] geky commented on #4407
Hi @NeilMacMullen, sorry about the delay.

Your example _should_ be correct. However there was a bit of an issue around block device initialization that was unexpected. Current master requires block device init/deinit outside of the mount and format functions.

I put up a fix that should take care of this: https://github.com/ARMmbed/mbed-os/pull/4562. If your first example doesn't work with this p

[2017-06-15 06:30] tommikas commented on #4443
Our intention wasn't to distinguish the service by the multicast group. The idea was that for example in the case of a light control service there may be several "control groups" which can be mapped to different multicast groups. Each node joins the multicast groups that correspond to the control groups it belongs to.

That said, it might be simpler to separate the "split the network into subnets"

[2017-06-15 08:04] orenc17 opened #4564 "cant debug threads on mbedos 5.5"
Hi
i'm debuging threads with eclipse and pyocd on the mbedos-5.5-rc2 tag
and it seems that eclipse cant tell the difference between the different threads
i'm currently debuging on K64F compiled with GCC_ARM 6

this wasn't a problem with 5.4.x

Thanks

[2017-06-15 08:13] NeilMacMullen commented on #4386
Thanks @geky - I hadn't realised mounting would be so simple :)  A bit busy right now but if I come up with something I'll submit it here.

[2017-06-15 08:13] #4386 closed

[2017-06-15 08:14] NeilMacMullen commented on #4407
Thanks @geky - will give this a try in the next few days.

[2017-06-15 11:41] netanelgonen commented on #4526
still mounting per-created partition isn't working properly,
scenario:
create 2 partition for fat using gnome-disks
mountboth() is failing only forcemount() is working

[2017-06-15 13:37] andreaslarssonublox commented on #4488
Hi, any news on this @nvlsianpu?

[2017-06-15 15:12] chrissnow commented on #4534
Thanks to a suggestion from @mfiore02 I now have a working bootloader :-)
rather than the CMSIS flash algorithm I am using the STM HAL such as
HAL_FLASH_Program
HAL_FLASHEx_Erase

It can either bootload from SD or DataFlash so perfect for development and production.

I will tidy it up and submit a PR soon.

[2017-06-15 15:15] hesolium opened #4569 "Radio and UART interrupt on NRF52-DK"
I report this problem here although this may be the case for Nordic Semiconductor engineers.

I use both radio (ESB mode) and UART for communication. I noticed that there are problems with the simultaneous use of the radio and the console (MBED Serial class). As a result, I stopped using the console and started direct using UARTE with easy-dma support. Works fine with one exception. Radio (listeni

[2017-06-15 15:16] mfiore02 commented on #4534
@chrissnow Nice! I just posted a ton of info and some code to your case on our support portal. Might be useless now but it's there anyway :smile_cat:
Glad you were able to get everything working!
Cheers!

[2017-06-15 15:55] pan- commented on #4564
@c1728p9

[2017-06-15 17:02] RobMeades opened #4570 "Heap tracking in mbed-os"
## Question

I'm trying to see if I can fit a build into constrained RAM (mbedClient into C027).  I can reduce the static RAM a long way but "Operator new out of memory" is not helping me very much with the dynamic stuff.  Is there anything I can switch on in `mbed-os` to give me heap diagnostics of some form?

[2017-06-15 18:04] c1728p9 commented on #4564
Hi @orenc17A, pyOCD + eclipse does not support task aware debugging. You can only see the callstack of the current thread.

You mention that this was working for you. Were you using some plugin with this functionality?

[2017-06-15 18:19] geky commented on #4526
You aren't still calling destroy are you?
[code]

I'll have to see if I can reproduce with gnome-disks.

As for why format doesn't leave the drive mounted, the format function is a stateless function (it's a static member function). You don't need to declare a FATFileSystem to call format. If you want to mount and format you can just call mount after you call format.

[2017-06-15 20:55] geky commented on #4343
Note: this should be resolved by https://github.com/ARMmbed/mbed-os/pull/4560

[2017-06-15 21:03] orenc17A commented on #4564
nope, i installed eclipse and pyOCD according to [this guide](https://developer.mbed.org/users/c1728p9/notebook/debugging-with-eclipse-and-pyocd/)

[2017-06-15 22:29] chrissnow commented on #4534
All my forks have now been updated and should work.

Some info that might be of use for anyone wishing to give it a try....

- First 64k reserved for the bootloader, it is possible to reduce this but needs some work, 32k may be achievable.

- STM HAL API is missing the mbed flash api for L1, I took the L0 and tried to modify it without success but it looks to be something simple to fix, then my si

[2017-06-16 04:00] vargham commented on #4570
Yes, this is possible: https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/advanced/runtime_stats/

[2017-06-16 04:04] vargham commented on #4549
Is Atmel still interested in further developing mbed compatible devices and drivers?

[2017-06-16 04:20] vargham commented on #4492
Or you can wait for a signal. Documentation here: https://www.keil.com/pack/doc/CMSIS/RTOS/html/group__CMSIS__RTOS__SignalMgmt.html

Example:
[code]

You can set the signal: `osSignalSet (tid_thread1, 0x1);`

You can use this timeout pattern with semaphores and mailboxes too.

[2017-06-16 06:39] kyliuxing commented on #4492
@geky @vargham
thanks for your help，i will try it.

[2017-06-16 06:39] #4492 closed

[2017-06-16 07:48] 0xc0170 commented on #4570
Does that answer your question @RobMeades ?

[2017-06-16 07:52] 0xc0170 commented on #4549
cc @Parthasarathy @kpurusho @akhilpanayamparambil

[2017-06-16 07:54] LMESTM commented on #1083
@bunjes - See PR #4529 - should solve your issue - feedback welcome

[2017-06-16 08:35] RobMeades commented on #4570
Sort of: what I was hoping for was that, when operator new runs out of memory, it might say how much was asked for, how much was available, and give me a dump of what it knows about the heap.  Or it might allow me to provide a static buffer (I have RAM available that could not be `malloc()`ed from anyway) into which it would log the `malloc()`s as they occur.  But in the absence of that I'll add `

[2017-06-16 09:31] 0xc0170 commented on #4570
It is currently not available. We can add hooks for allocations, to be able to add logging functionality. This could be a feature request.

[2017-06-16 09:51] RobMeades commented on #4570
No problem, I can manage for now, pretty easy to add for oneself.

[2017-06-16 09:51] #4570 closed

[2017-06-16 11:36] RobMeades commented on #4570
Actually, no, a hook is required, I just can't get enough information after the fact.  I'll raise a feature request.

[2017-06-16 11:43] RobMeades opened #4573 "Heap tracking hook"
## Enhancement

When working in a constrained environment (e.g. NXP1768) with increasingly large applications (e.g. mbedClient), being able to track what's happening to the available RAM is really important.  The current [run-time stats](https://docs.mbed.com/docs/mbed-os-handbook/en/5.2/advanced/runtime_stats/) are good but not _quite_ good enough: one can add calls to `mbed_stats_heap_get()` thr

[2017-06-16 12:24] wjffsx commented on #4527
have found reason, code is ok;
before format() ; should  call unmount();

Use the following order:
unmount();
format();
mount();

[2017-06-16 12:24] #4527 closed

[2017-06-16 13:32] RobMeades commented on #4573
The other issue with the existing heap tracking mechanism is that (as documented) it doesn't take into account allocator overhead or heap fragmentation.  For instance, I had a trace like this:

[code]
So, since I apparently have spare heap, I took 1.5 kbytes back for a static buffer.  The next time I ran the same code the trace was this:

[code]
So I conclude that `mbed_stats_heap_get()` and the a

[2017-06-16 14:12] pan- opened #4574 "HAL: specify what flow control is"
### Description
- Enhancement
- Priority: Major

## Enhancement

The function [`serial_set_flow_control`](https://github.com/ARMmbed/mbed-os/blob/master/hal/serial_api.h#L220) enable hardware flow control of the serial port but there is no description of what flow control is.

The lack of specification is detrimental for coherence of the platform because the HAL maintainer is free to interpret wha

[2017-06-16 14:18] mray19027 opened #4575 "Semaphore release occurs before acquisition for TCP socket over UART"
Original issue raised which discovered the bug: https://github.com/ARMmbed/mbed-os-example-wifi/issues/34

PR addressing the bug: https://github.com/ARMmbed/mbed-os/pull/4560

## Replication steps

Example: https://github.com/ARMmbed/mbed-os-example-wifi
Target: HEXIWEAR
Wifi module: ESP8266
GCC_ARM version: `5.4.1 20160919 (release)`
mbed CLI version: `1.0.0`
mbed OS version: `92fbf2a9b3988d43048

[2017-06-16 14:35] mfiore02 opened #4576 "mbed tick invalid after waking from stop mode on xDot"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
XDOT_L151CC

**Toolchain:**
GCC_ARM|ARM
Did not test IAR but is likely an issue with that toolchain as well.

**Toolchain version:**
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release) [ARM/embedded-4_9-branch revision 227977]
uVision V5.2

[2017-06-16 15:49] chrissnow commented on #4534
@janjongboom  I was using ARMCC so didn't come across that, just testing now.
the info came from
https://docs.mbed.com/docs/mbed-os-handbook/en/5.4/advanced/flash/

[2017-06-16 15:50] janjongboom commented on #4534
@chrissnow Ah, ok. I can use ARMCC.

[2017-06-16 16:09] chrissnow commented on #4534
@janjongboom GCC_ARM should now work, it looks like the example was wrong or different for this MCU.
GCC doesn't fit in the region though currently so unable to test fully.
The branch has been updated.

[2017-06-16 16:29] c1728p9 commented on #4564
Hi @orenc17A those instructions don't have steps for task aware debugging. Can you attach a screenshot of this working with 5.4.x so I can see what your referring to?

[2017-06-16 19:28] geky commented on #4527
Ah thats good to know. Glad you found a fix.

[2017-06-16 21:27] geky commented on #4492
Both should work, with thread signals being more lightweight than semaphores.

We've reserved thread signals for users, since they share a single bit-field accross the application, so I can forgetting they are available : )

[2017-06-17 01:15] shayo opened #4581 "nrf52 serial port printf causes system hang"
- Type: Critical bug
- Related issue: https://github.com/ARMmbed/mbed-os-example-ble/issues/25
- Priority: Blocker

---------------------------------------------------------------
## Bug
I believe the same behavior (serial port not open on PC causing system hang) happens on nrf52 targets as well. As soon as I reach a printf, the cpu hang.
This was reproducible on nrf52DK when trying to open a seco

[2017-06-17 12:49] shayo commented on #4581
Confirmed. Adding
"target_overrides": {
    "NRF52_DK": {
        "target.uart_hwfc": 0
    }
To the mbed_app.json solves this problem.

[2017-06-17 12:49] #4581 closed

[2017-06-17 13:15] sivasuren1 opened #4582 "Major Bug: LPC15XX Extended CAN Read Not working"
### Description
Bug-Major

---------------------------------------------------------------
## Bug

**Target**
LPC15XX

**Toolchain:**
ARM
**Expected behavior**
When I issue a command in normal (CANStandard) I get a a response. However When I send by CAN Extended, the ISR fires but can.read returns 0. We tried the same code on LCP1768 and it works fine

Our CAN Similator shows that it responds the

[2017-06-18 13:46] vargham opened #4583 "STM32F429ZI CAN2 transmit fails on PB_13"
CAN2 can not transmit on PB_13. All other variations are OK, both with CAN1 and with CAN2. Checked on a real CAN bus with logic analyzer.

### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
STM32F429ZI (Discovery board)

**Toolchain:**
GCC_ARM|ARM (EmBitz, Online compiler)

**Expected behavior**
Successful transmission

[2017-06-18 18:22] #3793 closed

[2017-06-18 19:20] amq commented on #3958
I have the same problem with EFM32PG12 on 5.5.0 rc2.

[2017-06-19 08:18] jeromecoutant commented on #4583
Hi
Note that on DISCO-F429ZI, PB_13 is also connected to USB VBUS

[2017-06-19 08:32] bcostm commented on #4583
There is also PB_12 pin used also by OTG_FS_ID. The PeripheralPins.c file need to be updated in order to remove all pins used by other boards components. We have done it for the recent boards but not on this one.

[2017-06-19 11:21] adbridge opened #4584 "Introduction of RTX/CMSIS 5 has broken semaphone signalling"
Before RTX 5, the semaphore count limit was UINT16_MAX as a side effect of using a uint16_t. RTX 5 reduced the count limit to the arbitrary value 1024. Additionally an assert was added that would halt if the semaphore count exceeded this limit.

This is especially problematic for applications that are using the semaphore for signaling. In RTX 4, the semaphore was the only library-friendly mechanis

[2017-06-19 15:14] bulislaw commented on #4551
@geky callback stuff is a nightmare for me as well ;) Maybe some short guide, examples, central place to copy things from in the Callback.h file would be useful.

@iriark01 I don't think @Sissors meant PWM in specific, finding anything in our docs is difficult. They seem awkwardly structured compared to https://electricimp.com/docs/ or https://docs.particle.io/guide/getting-started/intro/core/ htt

[2017-06-19 15:17] iriark01 commented on #4551
He was referring to PWM's opening line specifically, which is what I said we'll look into. For the structure, as I said, we're migrating our documentation.

[2017-06-19 15:18] betzw commented on #4343
Well #4560 has been closed and not merged, so maybe it is **not** solved yet. Pls. correct me if I am wrong!

On the other hand, this one has become a real issue on my end, as the [while loops](https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/TCPSocket.cpp#L50-L76) you have indicated are actually failing to handle timeouts (correctly). This is just because, in the worst case, the

[2017-06-19 16:50] janjongboom commented on #4534
@chrissnow Good next step would be compiling w/o RTOS. One of your drivers depends on Mutex though, so that would need to be rewritten unfortunately. You can replace the Mutex'es with [PlatformMutex](https://github.com/ARMmbed/mbed-os/blob/master/platform/PlatformMutex.h) which is not RTOS dependent.

Then building with `NDEBUG=1` and without using printf should send it down under 32K.

[2017-06-19 18:41] Sissors commented on #4551
That was indeed a specific one which was written too complicated, but in general @bulislaw is correct.  I don't know exactly what I would say is wrong with them, but they seem to me to be already too hard to find. Yes it is just a few clicks, but I would for starters put the API documentation directly under the documentation menu options (also no idea what my documentation and add documentation th

[2017-06-20 03:04] shayo opened #4585 "SPI - has something changed?"
- Type: Bug
- Related issue: (?) https://github.com/ARMmbed/mbed-os/issues/4357
- Priority:  Major
---------------------------------------------------------------
## Bug
We recently transitioned to nRF52 and one of our peripherals is not working anymore (NXP MFRC522). I suspect this is a software issue since lines seem to respond when I test them with DigitalOut.

Has something significantly chang

[2017-06-20 03:07] peeyushpashine opened #4586 "TARGET_STM does not have ethernet abstraction layer like TARGET_NXP has"
In target.json
![image](https://user-images.githubusercontent.com/1849556/27314777-77d3ffce-5593-11e7-8ca1-61089c95e9ca.png)
For few targets they have both LWIP and ethernet(mbed) abstraction. While for STM it is not yet present. Are there future plans for the same?
@bcostm @emilmont

[2017-06-20 03:58] shayo commented on #4585
Duplicate. Will follow on  #4357.

[2017-06-20 03:58] #4585 closed

[2017-06-20 04:00] shayo commented on #4357
@nvlsianpu, we are experiencing the same bug here as well.
Our board has both I2C and SPI.
When we define both SPI and I2C, none of them work.
When I remove the declaration of SPI, I2C works.

Is there a patch to solve this issue? I tried taking the latest code but the problem is still there.

[2017-06-20 04:02] shayo commented on #4357
@NeilMacMullen , I also tried your solution (modifying the i2c_init), but it didn't work for me. Is there something else I can try? Which version did you base your patch on?

[2017-06-20 04:13] shayo opened #4587 "DFUService is missing?"
- Type: Bug n
- Priority: Minor

---------------------------------------------------------------
## Bug

I think there is a missing include file somewhere. When trying to compile a project with an instance of DFUService, I get an error stating that DFUService is an unknown class.

**Target**
NRF52DK

**Toolchain:**
GCC_ARM

**mbed-cli version:**
latest on github

[2017-06-20 06:28] nvlsianpu commented on #4357
did you test the path #4491?

[2017-06-20 07:30] HITMAnsOFT opened #4588 "TRNG support for nRF5x devices"
- Type: Enhancement

I am working on a BLE-based car alarm using nRF52832, and I need secure random key generation for a custom communication protocol. The nRF51x and nRF52x devices all contain a hardware RNG core, and the HAL and drivers are available in the Nordic SDK. However, the mbed OS doesn't seem to support trng_api for Nordic targets. I tried to directly call the Nordic HAL methods, but I

[2017-06-20 07:49] akrnvm opened #4589 "IAR compilation Failure"
### Description
- Type: Bug
- Related issue: Compilation
- Priority:  Major

---------------------------------------------------------------
## Bug

**Target**
K64F|??

**Toolchain:**
IAR
 compilation error

 mbed compile -m xxxxx -t IAR

[Error] rtx_delay.c@32,2: [Pe079]: expected a type specifier
[Error] rtx_delay.c@32,2: [Pe260]: explicit type is missing ("int" assumed)
[Error] rtx_delay.c@32,2

[2017-06-20 08:06] 0xc0170 commented on #4589
@akrnvm What is your IAR version?

[2017-06-20 08:09] akrnvm commented on #4589
IAR 7.20
checked with master branch and release 5.5.

[2017-06-20 08:11] akrnvm commented on #4589
compile successfully in 5.4.7 release.

[2017-06-20 08:11] pan- commented on #4588
@nvlsianpu

[2017-06-20 08:13] 0xc0170 commented on #4589
For the release 5.5 - IAR 7.8 officially supported. Can you please update?

That would explain the errors

[2017-06-20 08:25] akrnvm commented on #4589
ok thanks

[2017-06-20 08:25] #4589 closed

[2017-06-20 08:51] yogpan01 commented on #4526
@geky Did you make any progress on this ?

[2017-06-20 10:48] akrnvm opened #4591 "Greentea with GCC_ARM"
### Description
- Type: Question
- Related issue: `Greentea`
- Priority: Blocker

---------------------------------------------------------------
## Bug
test case Failing:
features-tests-filesystem-mbr_block_device
tests-events-queue
tests-events-timing

**Toolchain:**
GCC_ARM

hi
i have used "default_lib": "small" in target.json and greentae is passing with mbed 5.5
but if i remove "default_lib":

[2017-06-20 11:35] shayo commented on #4357
I've tried c416fdf022b4d7d7e5254456c904d0d8e6e185f9, after you added the central resource manager. It still doesn't work (both I2C and SPI).

[2017-06-20 11:51] shayo commented on #4357
It seems like the system hangs with your branch when I call "wait".
Are there also changes to us_ticker_read that I should take from somewhere?

[2017-06-20 12:15] 0xc0170 commented on #4591
If you use verbose (-V I believe) for testing, what is printed ? We would like to see what fails (what errors actually are there) ?

version of GCC_ARM?

[2017-06-20 13:31] akrnvm commented on #4591
[code]

version of GCC_ARM is 5.4

[2017-06-20 14:02] 0xc0170 commented on #4591
mbed OS 5.5 - supported GCC ARM is 6, this however might not help, let us know

[2017-06-20 14:34] pan- commented on #4591
@akrnvm It is  possible to remove the overhead of `Case` objects in `tests-events-queue` by using `case_t` POD (see [this](https://github.com/pan-/mbed/blob/7a8898bb21e3770ee2b156e8a97bf5170ef4303e/TESTS/mbed_hal/ticker/main.cpp#L1985-L2080) as an example), it will save ~500 bytes.

For other tests, I'm afraid there is not that much to do on the OS side but maybe you can reduce the footprint of yo

[2017-06-20 16:06] NeilMacMullen commented on #4357
@nvlsianpu  - apologies, I didn't get any notification of #4491 so have only just seen this change.  @shayo - I will try this here and let you know whether it works for me.

[2017-06-20 16:53] NeilMacMullen commented on #4357
@nvlsianpu @shayo I agree that this seems at first sight to be broken.    I did... "git pull origin pull/4491/head" in a new project then verified that the i2c_api file does include the latest changes then copied my application source to the new project and built it.  In my case, the symptoms are that  "i2c->write(address, NULL, 0);" returns 0 for _any_ address, indicating that the entire bus is p

[2017-06-20 17:51] shayo commented on #4357
@NeilMacMullen , which branch/version did you apply your changes to?

[2017-06-21 06:40] jlunder commented on #2390
Hi -- is there a reason this board is not supported? I have a couple and I can't imagine there's much to the port, given the cross compatibility between STM32 MCUs. Can I assist with a PR?

[2017-06-21 07:04] Archcady commented on #4462
Hi @0xc0170,  we meet a problem that if we need to move code to SDRAM, then we wanna use two linking script files (.sct / .ld / .icf) which produce two images. And we wonder if this is supported by mbed-os tools. Thanks.

[2017-06-21 07:59] bcostm commented on #2390
Hi,
I confirm it is not in ST plan to publish this board on mbed for the moment and it is not a technical issue. There is already the NUCLEO_F411RE board and the porting should be easy. But for sure you are more than welcome to help :). You can send a PR and we'll review it. Thanks.

[2017-06-21 08:39] smarek commented on #1695
Also I've just tested with latest release (branch mbed-os-5.4), and the issue is still present.

[2017-06-21 08:46] 0xc0170 commented on #1695
5.5 ?

[2017-06-21 08:48] 0xc0170 commented on #4462
Can you describe the problem in own separete issue? that would help.

[2017-06-21 09:33] Archcady opened #4600 "Does Mbed support multiple image of bin files?"
### Description
- Type:  Question
- Priority:  Major

---------------------------------------------------------------

## Question

We are working on Realtek target REALTEK_RTL8195AM, and we want to move Realtek code from BDRAM to SDRAM so that user code space will be sufficient for mbed-client.

If we need to move code to SDRAM, then we wanna use two linking script files (.sct / .ld / .icf) which

[2017-06-21 09:58] jeromecoutant commented on #4459
Hi
Last status with the master branch:
- Seems OK for OS5 tests for all families, all tool chains
- For OS2, seems that uARM doesn't work...

[2017-06-21 10:20] smarek commented on #1695
@0xc0170 ok, I've tested with 5.5 and the problem, that appears while using Ticker is gone.
What is not allright is what I've described in #4108 and that is issue when running the same example but using RTOS::Thread instead of Ticker.

Code as follows:

[code]

This will randomly hang in between 2 and 30 seconds
Compiled example is merged with softdevice "s130_nrf51_2.0.0_softdevice.hex", if it is

[2017-06-21 13:08] jeromecoutant opened #4602 "OS2 test MBED_A21 (Call function before main) failed only with IAR"
## Bug

On master branch, test MBED_A21 is FAIL for all STM32 targets only with IAR:

MBED_A21	Call function before main (mbed_main)	NUCLEO_F091RC	IAR	FAIL
MBED_A21	Call function before main (mbed_main)	NUCLEO_F103RB	IAR	FAIL
MBED_A21	Call function before main (mbed_main)	NUCLEO_F207ZG	IAR	FAIL
MBED_A21	Call function before main (mbed_main)	NUCLEO_F303ZE	IAR	FAIL
MBED_A21	Call function before main

[2017-06-21 13:31] jeromecoutant commented on #4550
Hi
It seems that mbed_main call is missing in the IAR boot sequence ?
(#4602)

[2017-06-21 13:45] jeromecoutant commented on #4602
Proposition:

diff --git a/platform/mbed_sdk_boot.c b/platform/mbed_sdk_boot.c

@@ -109,6 +109,10 @@ int __low_level_init(void)
   return 1;
 }

+void __iar_argc_argv() {
+    mbed_main();
+}
+
 #endif

[2017-06-21 13:54] pan- commented on #1695
@smarek I've tested the code above with 5.5 on an NRF51_DK (replacing P0_8 by LED1, P0_9 by LED2 and P0_10 by LED3) and it doesn't hang. The issue might live in your custom target code.

[2017-06-21 14:25] 0xc0170 commented on #4602
Thanks for reporting ! Either we can do what you proposed, but I believe better place for IAR would be in their cmain file, where we already call other init functions.

https://github.com/ARMmbed/mbed-os/blob/master/cmsis/TOOLCHAIN_IAR/cmain.S#L88 (right after argc) we can invoke mbed_main.

[code]

[2017-06-21 14:27] 0xc0170 commented on #4602
I'll send a patch rightaway now, will request a review

[2017-06-21 14:33] smarek commented on #4108
@pan-

My custom target consists of:

- Copy of NRF51_DK, renamed to `CUSTOM_TARGET` and without SERIAL* and SPI* (see below)
- 'device.h' and 'PinNames.h' within `targets/TARGET_NORDIC/TARGET_NRF5/TARGET_MCU_NRF51822_UNIFIED/CUSTOM_TARGET/`

I'm not exactly sure, where I could screw up so badly.
LED1-4 are phy pins 1,18,19,20
There is no UART/SERIAL/SPI interface exposed on my hardware, but I've

[2017-06-21 14:39] 0xc0170 commented on #4602
Done, pull request sent, please review.

[2017-06-21 14:41] 0xc0170 commented on #4600
I don't think this is supported. How would these 2 images work?

cc @c1728p9 @theotherjimmy @sg-

[2017-06-21 15:01] jeromecoutant commented on #2626
May we can close this issue ?
Thx

ST_TO_BE_CLOSED

[2017-06-21 15:03] 0xc0170 commented on #4459
@jeromecoutant I can't reproduce. uARM for Nucleo L476RG - MBED_A21 - works for me. Please provide more details, otherwise we can't reproduce anything neither to fix

[2017-06-21 15:20] jeromecoutant commented on #4459
ex with the nucleo you have:

| OK           | NUCLEO_L476RG | uARM      | DTCT_1      | Simple detect test                    |        0.53        |       10      |  1/1  |
| OK           | NUCLEO_L476RG | uARM      | EXAMPLE_1   | /dev/null                             |        3.45        |       20      |  1/1  |
| OK           | NUCLEO_L476RG | uARM      | MBED_10     | Hello World

[2017-06-21 15:27] bridadan commented on #4591
The key line in that log is this one: `[1497954078.15][CONN][RXD] Operator new[] out of memory`.

The OS is reporting that you've ran out of heap space. I'd give @pan- suggestion a try.

[2017-06-21 15:30] NeilMacMullen commented on #4357
@shayo - I just used 'mbed update to get a recent version.  According to git log, last couple of commits were...
commit ed4febefdede4e88743ca12909b7bc9a3993889a
commit 9ce6141626a557c6e53839910e0e23255a3de8c8

[2017-06-21 15:41] theotherjimmy commented on #4600
Do you really need multiple linker scripts to accomplish this? In the case of GCC_ARM, I don't think you do. When you say you want to use 2 linker scripts, do you also want 2 linker invocations?

[2017-06-21 15:43] bridadan opened #4605 "Timing tests are unstable on the ARM_BEETLE_SOC"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
ARM_BEETLE_SOC

**Toolchain:**
ARM (maybe others)
**Toolchain version:**
5

**meed-os sha:**
Release candidate 5.5.1

**Failure**

The test will sometimes halt printing `{{tick}}` messages. The failure log looks like this:

[code]

Greentea sometimes won't report this a

[2017-06-21 15:56] pan- commented on #4108
@smarek How out of curiosity what is your compilation command and did you clean your build folder after upgrading to mbed OS 5.5 ?

[2017-06-21 18:16] Phara0h opened #4606 "No target for STM32L496"
It is a pretty new MC but they have boards out for it already. I would love to see support for it and possibly the "P" version too.

[2017-06-21 19:27] geky commented on #4526
Sorry, I didn't know if there was still an issue here or not, I didn't get to checking parted until today.

It looks like there was an issue with the initialization of the MBR's child block device that only happens with the SD card, here's the fix https://github.com/ARMmbed/mbed-os/pull/4607. With https://github.com/ARMmbed/mbed-os/pull/4607 I didn't have any issues with using parted to format the

[2017-06-22 02:37] ccli8 commented on #2978
I check the issue has been fixed on mbed-os-5.5.0.

[2017-06-22 02:37] #2978 closed

[2017-06-22 02:47] akrnvm commented on #4591
Thank you, i will check and update.

[2017-06-22 05:51] smarek commented on #4108
I've cleaned by 'rm -rf BUILD' whole folder, also by checking out clean mbed-os repository and applying patch to provide CUSTOM_TARGET.
I compile with "mbed compile --verbose --profile mbed-os/tools/profiles/release.json"

And mbed global config looks like this, and no local/project config is defined
[code]
Where `Nordic/toolchain/bin/arm-none-eabi-gcc --version`
[code]

[2017-06-22 08:40] RobMeades opened #4609 "UARTSerial baud rate change support"
### Description
- Type: Enhancement
- Priority: Minor

`UARTSerial()` does not currently expose the underlying `SerialBase::baud()` functionality.  This is normally OK, however it is a problem if you want to run a modem interface at high baud rates.  A modem will auto-baud to the rate at which the MCU serial port is running but only up to a point (e.g. 115200 or sometimes 230400).  If you want to

[2017-06-22 08:41] RobMeades commented on #4609
Adding parties I know could be interested: @kjbracey-arm, @hasnainvirk.

[2017-06-22 08:59] 0xc0170 commented on #4605
cc @mmorenobarm

[2017-06-22 09:29] bulislaw opened #4611 "Realtek RTL8195A prints debug info by default for WiFi"
I just extended WiFi example to support RTL8195A and it works, which is great! https://github.com/ARMmbed/mbed-os-example-wifi/pull/40

The board is printing some info on serial I'd rather not have by default thought:
[code]

All the lines prefixed with `RTL8195A[Driver]` and `ioctl[SIOCGIWESSID] ` should be hidden by default. I would recommend adding `verbose` parameter to the constructor default

[2017-06-22 09:48] 0xc0170 commented on #4026
@pan- Has this been resolved?

[2017-06-22 09:54] 0xc0170 opened #4612 "Timing tests are unstable on NRF51_DK"
### Description
- Type: Bug
- Priority: Blocker

# Bug

**Target**
NRF51_DK

**Toolchain:**
any

**meed-os sha:**
latest master

The test that is failing tests-mbedmicro-rtos-mbed-basic , it fails randomly, so might be harder to reproduce.

This is one https://github.com/ARMmbed/mbed-os/pull/4601#issuecomment-310222458 and another one https://github.com/ARMmbed/mbed-os/pull/4599#issuecomment-31030

[2017-06-22 10:12] 0xc0170 commented on #4606
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-06-22 10:16] pan- commented on #4026
I believe it has been solved.

[2017-06-22 10:18] pan- commented on #4612
It might be linked to #4108 but I cannot reproduce the issue locally.

[2017-06-22 10:58] jeromecoutant commented on #4606
Hi
Same answer as in https://developer.mbed.org/questions/78168/Cant-compile-for-the-L496ZG-P:
There is currently no planned date to support this board at ST side...

Maybe you can check with @pmancele in #4339
In this Issue, you can find the PeripheralPins.c file

Regards,

[2017-06-22 11:05] adbridge opened #4613 "MICRONFCBOARD fails to compile with mbed-dev source library"
### Description

When trying to build blinky using the mbed-dev source library, the MICRONFCBOARD board fails to compile.

- Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Toolchain:**
ARM using the online IDE API

**Expected behavior**
Target compiles

**Actual behavior**
The following error is produced:
  "/src/mbed-dev/targets/TARGET_NXP/TARGET_

[2017-06-22 11:08] adbridge opened #4614 "OC_MBUINO target is incorrect defined"
### Description

When trying to build blinky using the mbed library, the OC_MBUINO board fails to compile.

- Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Toolchain:**
ARM using the online IDE API

**Expected behavior**
Target compiles

**Actual behavior**
The following error is produced:
[code]

**Steps to reproduce**
Build OC_MBUINO using mbed

[2017-06-22 11:19] Archcady commented on #4611
RTL8195A[Driver] message is sent from inside of our lib, so we'll try to add a switch for these debug messages. Thanks for the advice.

[2017-06-22 11:34] 0xc0170 commented on #4611
They are always ON at the moment? It would be great to have it optional, and by default OFF.

[2017-06-22 11:50] bcostm commented on #4586
Hi,

I think only the LWIP feature is used to enable the Ethernet. @0xc0170 do you confirm ?

I checked the targets.json and the ETHERNET (in "device_has" field) is no more present on STM boards. The LWIP feature is on the boards:

DISCO_F746NG
DISCO_F769NI
NUCLEO_F207ZG
NUCLEO_F429ZI
NUCLEO_F439ZI
NUCLEO_F746ZG
NUCLEO_F756ZG
NUCLEO_F767ZI

cc @adustm @LMESTM @jeromecoutant

[2017-06-22 12:59] pmancele commented on #4606
Hi,
We plan to propose a merge request adding support for the NUCLEO_L496ZG board next week based on the PeripheralPins.c provided by @jeromecoutant.

Regards

[2017-06-22 13:12] adbridge opened #4617 "A number of targets are not recognised in the online IDE"
The following targets are note recognised by the online IDE when trying to compile them.

"USENSE" is not recognized
"TB_SENSE_12" is not recognized                                                                                                   "DISCO_L475VG_IOT01A" is not recognized                                                                                           "EFM32PG12_STK3402" is

[2017-06-22 13:52] pranavshandilya opened #4618 "Single test : call before main test case is failing in LPC1343(customize target)."
### Description
- Type: Bug  | Question
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
LPC1347

**Toolchain:**
 IAR

**Toolchain version:**
8

**DAPLink version:**
0243

**Expected behavior**
A test case should be a pass.

**Actual behavior**
Test case is failing.

**Steps to reproduce**
1. Download mbed-os-5.5.1
2. Go to the tools directory.

[2017-06-22 14:00] pranavshandilya opened #4619 "greentea test : some test cases are failing in LPC1343"
### Description
- Type: Bug
- Related issue: [https://github.com/ARMmbed/mbed-os/issues/4591](url)
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
LPC1343

**Toolchain:**
GCC_ARM | ARM | IAR

**Toolchain version:**
GCC_ARM : 6
ARM : 6
IAR : 8

**DAPLink version:**
0243

**Expected behavior**
All below test cases are passing in Mbed os 5.4.7
[co

[2017-06-22 14:11] adustm commented on #4618
Hello, I have the same issue with ST platform DISCO_F746NG
`python tools/singletest.py --auto -f DISCO_F746NG --tc=GCC_ARM  -v -V -n MBED_A21` is OK
`python tools/singletest.py --auto -f DISCO_F746NG --tc=IAR  -v -V -n MBED_A21` fails
it looks like the line `HOST: Unknown property: MBED: mbed_main() call before main()` is missing in the output
So the code

[code]
is not executed

Does anyone has a

[2017-06-22 14:17] jeromecoutant commented on #4618
Hi Armelle

see #4604

[2017-06-22 14:48] 0xc0170 commented on #4612
I got NRF51 DK working, and can reproduce the problem. Every second time I run the rtos basic test , I get this

[code]

[2017-06-22 14:54] 0xc0170 commented on #4618
Thanks for reporting, as noted above, this will be fixed soon on master.

[2017-06-22 15:39] pan- commented on #4619
@pranavshandilya Can you post the test log ?

[2017-06-22 17:50] pranavshandilya commented on #4619
@pan- Thanks for your quick reply :)

Below is the 2 test case logs contents for GCC ARM

1. tests-events-timing

[code]
2. tests-events-queue

[code]

Kind regards

[2017-06-22 17:51] pranavshandilya commented on #4618
thanks, @0xc0170  :)

[2017-06-22 17:51] #4618 closed

[2017-06-22 23:51] c1728p9 commented on #4612
I looked at a similar problem with @studavekar and we found the cause to be a stack overflow because the [768 byte stack in the basic rtos test](https://github.com/ARMmbed/mbed-os/blob/75935b466d4fe14aa42bc083b827034f932cd6e4/TESTS/mbedmicro-rtos-mbed/basic/main.cpp#L28) was too small. It intermittently failed in development builds because the stack would only overflow if an interrupt pushed more

[2017-06-23 04:02] saedelman opened #4621 "mbed-os-example-blinky breaks on NRF52_DK when NDEBUG set"
### Description
- Type: Bug
- Related issue: None
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NRF52_DK

**Toolchain:**
GCC_ARM, Online Compiler (ARMC5)

**Toolchain version:**
6.2.1 20161205

**mbed-cli version:**
1.1.1

**meed-os sha:**
1747ef4

**DAPLink version:**

**Expected behavior**
Reduce code size

**Actual behavior**
Application h

[2017-06-23 08:44] mickeyln opened #4622 "Nucleo-F070RB cannot build by GCC_ARM since CMSIS5 merge"
### Description
- Type: Bug
- Related issue: `#4459`, `#4294`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Nucleo-F070RB

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc-arm-none-eabi-5_2-2015q4-20151219-win32
gcc-arm-none-eabi-6-2017-q1-update

gcc-arm-none-eabi-5_4-2016q3 for linux

**Expected behavior**
Build finished and has bin fil

[2017-06-23 12:08] shayo commented on #4357
@nvlsianpu, any news on this?

[2017-06-23 12:14] NeilMacMullen commented on #4357
@shayo -see the comment on the PR - looks like there will be another attempt at this.

[2017-06-23 12:17] nvlsianpu commented on #4357
Status in progress: https://github.com/ARMmbed/mbed-os/pull/4491#issuecomment-310639215

[2017-06-23 14:16] awneil opened #4624 "Eclipse Exporters broken"
### Description
- Type: Bug

- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
XDOT_L151CC

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release) [ARM/embedded-4_9-branch revision 224288]

**mbed-cli version:**
1.1.1

**Expected behavior**
Export should create fully worki

[2017-06-23 16:16] theotherjimmy commented on #4624
Major stuff:
 1) What example or project are you using? (I chase
 1) What version of mbed-os are you using?
 2) When I export to a managed CDT project using the gnuarmeclipse exporter, I get a section on linker flags like:
[code]
I verified that these arguements are accepted by the linker (warning _really_ long line):
[code]
 4) when I export to an unmanaged project, I get the correct include path

[2017-06-23 16:50] theotherjimmy commented on #4624
Also, there is no way we can know where your system includes are at export time on the website.

[2017-06-23 16:56] awneil commented on #4624
1. I am using the **Dot-Examples** from:

https://developer.mbed.org/platforms/MTS-xDot-L151CC/#example-programs

2.  mbed-os version 5.4.2:
[code]

3. In the **.cproject** file for the CDT Project:
[code]

Splitting your command line so the options are all visible:
[code]

And there we see the important difference!

In your command line, the `--wrap=` options are all prefixed by `-Xlinker` - whic

[2017-06-23 17:00] theotherjimmy commented on #4624
@awneil Agreed. I wonder if the version of GNU ARM Eclipse is the key to that difference?

I'm using version 2.2.1.201701141320

[2017-06-23 17:01] awneil commented on #4624
That is a fair point.

It should, then, be mentioned in the notes.

[2017-06-23 17:02] theotherjimmy commented on #4624
Definitely. I'll put in a note to write it up and mention you on the Handbook PR.

[2017-06-23 17:03] awneil commented on #4624
Thanks.

They way I worked them out was to look at the CDT project...

[2017-06-23 17:05] theotherjimmy commented on #4624
Really, they should be included by GCC in the search path by default...

If not then a simple
[code]
should work

[2017-06-23 17:07] awneil commented on #4624
Which particular GNU ARM Eclipse plugin are you looking at?

I have:
![image](https://user-images.githubusercontent.com/2291204/27492606-b6df3636-583e-11e7-855a-9a5be9e9684a.png)

_(is there a way to extract that as text?)_

[2017-06-23 17:09] awneil commented on #4624
Yes, GCC itself is fine - it's telling the Eclipse indexer that's the problem!

(this is just for the makefile project - CDT sorts it out itself)

[2017-06-23 18:08] theotherjimmy commented on #4624
That looks pretty old. If you can update your version of eclipse and GNU ARM Eclipse that might help.

That makes sense, and also might be sorted out by upgrading.

[2017-06-23 18:11] theotherjimmy commented on #4624
I'll make sure to put all of this information into the appropriate section in the Handbook. I will request your review when it's done. After that, we can close this issue, supposing that there are no outstanding things to be fixed.

[2017-06-23 18:11] awneil commented on #4624
If I hack the CDT **.cproject** file thus:
[code]

ie, manually add the `-Wl,` prefix

It builds!

[2017-06-23 18:12] theotherjimmy commented on #4624
Awesome! I'll make sure to put that into the docs in a bit. I'm working on compiling all of these workarounds right now.

[2017-06-23 18:13] awneil commented on #4624
The hack would be just a workaround - I'll try the update(s) ...

[2017-06-23 18:14] theotherjimmy commented on #4624
Agreed, I would mention that in the Docs.

[2017-06-23 18:36] chrissnow commented on #4624
export to Keil is not perfect either, the paths all end up one level too shallow (all the files have .. instead of .)
easy work around is to stick the UVPROV inside a folder, been meaning to fix it and PR.

It's odd because I only have this problem with the xDot (I think)

[2017-06-23 18:37] theotherjimmy commented on #4624
@chrissnow Thanks for the information. That info indicates that there might be a bug here too.

[2017-06-23 18:42] theotherjimmy commented on #4622
@mickeyln Thanks for reporting this. I can't seem to reproduce this problem. Could you give me some more info so that I can try to reproduce the failure? In particular I would like:
 1) What version of mbed-os you're using (I tried with 5.5.1)
 2) An example program that demonstrates this. Based on the description, it should affect anything, so blinky would be sufficient. (I tried with mbed-os-exa

[2017-06-23 18:53] awneil commented on #4624
Hmmm .... that's exactly what I had with the Eclipse makefile export - so maybe the bug is somewhere "before" the IDE-specific bit ... ?

[2017-06-23 18:53] theotherjimmy commented on #4624
That's my intuition as well.

[2017-06-23 18:55] theotherjimmy commented on #4624
@awneil @chrissnow Could you tell me if you exported with mbed CLI or the developer website? This bug might only affect one of those two environments.

[2017-06-23 18:57] chrissnow commented on #4624
@theotherjimmy  CLI for me.

[2017-06-23 19:02] awneil commented on #4624
I have found it almost impossible to export from the website:

![image](https://user-images.githubusercontent.com/2291204/27496632-b79144ce-584e-11e7-86ea-31a3c96fe23c.png)

I _think_ the makefile export was from the website; CDT from the CLI.

[2017-06-23 19:05] awneil commented on #4624
@chrissnow said:

Interesting - it seems that @theotherjimmy also escaped the problem by _**not**_ using an xDot project ...

[2017-06-23 19:06] theotherjimmy commented on #4624
I used the target xDot, but not the Dot-Examples

[2017-06-23 19:09] theotherjimmy commented on #4624
I'm going to try the Dot-Exmaples to see if something changes when I use that example.

[2017-06-23 19:14] theotherjimmy commented on #4624
Nothing out of the ordinary here. The include paths seem correct. It does not build because it can't find mDot.h. I don't think the file exists.... `find -iname "mDot.h"` produces no results.

[2017-06-23 19:16] theotherjimmy commented on #4624
Doh. I forgot to add the libDot-mbed5. :man_facepalming:

[2017-06-23 19:27] theotherjimmy commented on #4624
After importing that, it looks like it's correctly identifying errors.

[2017-06-23 19:28] chrissnow commented on #4624
@theotherjimmy  this might be a thing of the past, 5.4.7 works ok for me.

@awneil I'm sure form your email you were using the v3 dot lib so 5.4.7? yet above it shows 5.4.2?

[2017-06-23 19:28] theotherjimmy commented on #4624
@chrissnow That's good to know. I can't backport fixes to 5.4.2, so updating to 5.4.7 is your best bet here.

[2017-06-23 19:33] chrissnow commented on #4624
@theotherjimmy  it's not that simple with the dot libs, they include an archive that was built against a mbed version, not matching has mixed results.

the latest stable is built against 5.4.2 and dev 5.4.7

[2017-06-23 19:37] theotherjimmy commented on #4624
@chrissnow I noticed. You could always copy the tools folder from a newer version of mbed-os and replace the tools folder in the one you currently have.

An aside, it looks like the stable one does not have ChannelPlan.h, and therefore does not work with the examples.

[2017-06-23 19:38] theotherjimmy commented on #4624
@chrissnow Where do we stand on this issue? is it still a problem?

[2017-06-23 19:44] awneil commented on #4624
Indeed.

Have already moaned to MultiTech about that.

They do note it here: https://developer.mbed.org/teams/MultiTech/code/Dot-Examples/

[2017-06-23 19:56] chrissnow commented on #4624
@theotherjimmy uvision5 export seems fine in 5.4.7. I've not tried eclipse, I know 5.4.2 was broken, and my recent work has been master or 5.4.7 which has exported ok.

@awneil  so far the dev V3 lib has been working for me so you might want to use that.
do bear in mind #4576 though...

[2017-06-23 19:58] theotherjimmy commented on #4624
Thanks @chrissnow. I'm going to wait for @awneil's feedback on the status of Eclipse in 5.4.7 before closing this issue.

[2017-06-23 20:38] chrissnow commented on #4534
@janjongboom I have just pushed some changes, it now (just) fits in 36k if you compile with --profile mbed-os\tools\profiles\release.json

I'm not sure where to go next to reduce it further, I think it's too tight so would likely need to go to 40k, DataFlash isnt so tight with 0x494 of padding.

[code]

[2017-06-23 21:34] deepikabhavnani opened #4626 "Clarify the purpose of acquire in SPI & discuss its usage in SD driver"
## Question
At present SD device driver uses SPI lock and unlock. In current sample since we are using only single SPI device (SD), it should work fine. But in case of mutliple SPI devices, we should be setting frequency and format as well before (Correct me if I am wrong).

If my understanding above is correct, I should be using acquire and than lock SD device.
Current implementation of SPI has u

[2017-06-23 22:12] c1728p9 commented on #4626
All the public functions are locked to ensure thread safety, even when used with legacy code which doesn't explicitly lock.

I agree there is some unnecessary duplicate locking with the call to **acquire**. To increase performance this could be fixed by creating a private **_aquire** function which doesn't use locking. All the places where **aquire** is called with the lock already held could be r

[2017-06-24 01:28] shayo opened #4627 "wait function causes system hang on NRF52"
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug
Calling "wait" causes system to hang. Minimal example that does not work is blinky.

**Target**
NRF52_DK (I'm actually running a custom board with nrf52832)

**Toolchain:**
GCC_ARM

**mbed-cli version:**
0.9.10

**Expected behavior**
a delay...

**Actual behavior**
system hangs.

**Steps to repro

[2017-06-24 05:04] shayo commented on #4627
I was able to trace this to changes that were introduced between rev127 and rev128.
wait() works in rev127, but causes system hang in rev128.
The main difference was introduction of RTOS, which changed the implementation of wait_us.
In rev127, it simply pulls on us_ticker_read().
In rev128, it calls  Thread::wait((uint32_t)ms), which is causing the system to hang.

Can someone reproduce this on NR

[2017-06-24 16:06] shayo commented on #4587
Looks like DFUService still has
#ifdef TARGET_NRF51822

What is the latest on official DFU support for NRF52?

[2017-06-25 03:27] c1728p9 commented on #4605
This occurs on the beetle when the last call to ```us_ticker_set_interrupt``` sets the time to a time in the past. [This code](https://github.com/ARMmbed/mbed-os/blob/cbfb234f0740549b4a71a6fefb30aef4c9559bc2/targets/TARGET_ARM_SSG/TARGET_BEETLE/us_ticker.c#L102) disables the ticker interrupt by setting the count value to 0 in the timer, when really, the intent is to make it fire immediately. I hav

[2017-06-25 03:27] c1728p9 commented on #4605
CC: @studavekar

[2017-06-25 20:26] helmut64 commented on #4549
I have upcoming projects with the D21 MCU, latest mbed support would be appreciated.

[2017-06-25 23:33] adamgreen opened #4630 "RTX: mbed-os-5.5 is missing mutex fix"
I hit an issue today where RTX would enter an infinite loop when it attempted to release a previously acquired osMutexPrioInherit mutex.

A fix for this issue has already been made in the ARM-software/CMSIS_5 repository but doesn't appear to have made it into the release-candidate mbed-os branch yet.
https://github.com/ARM-software/CMSIS_5/commit/729f6ab08540342b7de7612fac103539d5b2f168

[2017-06-26 02:13] mickeyln commented on #4622
Hi @theotherjimmy
Thanks for your feedback. I use the Web to export the program like the picture
![image](https://user-images.githubusercontent.com/28858158/27522253-1f30fe58-5a57-11e7-94c3-cddb9e7c962b.png)

and build on Ubuntu 12.04 and gcc-arm-none-eabi-5_4-2016q3 to build it.
It seems the maker can not use
`C_FLAGS += -DCMSIS_VECTAB_VIRTUAL_HEADER_FILE=\"cmsis_nvic.h\"
`

[2017-06-26 06:00] 0xc0170 commented on #4630
cc @bulislaw

[2017-06-26 06:10] 0xc0170 commented on #4627
cc @pan- @nvlsianpu @anangl

[2017-06-26 06:15] 0xc0170 commented on #4626
@deepikabhavnani Does the above clarify the SPI locking ?

[2017-06-26 06:19] 0xc0170 commented on #4624
cc @mfiore02 (see https://github.com/ARMmbed/mbed-os/issues/4624#issuecomment-310756384, and https://github.com/ARMmbed/mbed-os/issues/4624#issuecomment-310754332)

[2017-06-26 06:20] 0xc0170 commented on #4621
cc @pan- @nvlsianpu

[2017-06-26 06:21] 0xc0170 commented on #4619
cc @toyowata

[2017-06-26 08:01] adamgreen commented on #4630
@0xc0170 let me know that 5.5 had actually released. I had missed that. I verified that this patch is still required for the 5.5 branch. https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.5/rtos/rtx5/TARGET_CORTEX_M/rtx_mutex.c#L190

[2017-06-26 08:16] bulislaw commented on #4630
We haven't updated CMSIS_5 for some time now. We need to have a think how we will update CMSIS/RTX, historically we didn't do that very often. Maybe at least we can port bug fixes over.

[2017-06-26 11:09] tommikas commented on #4442
Closing this as there is a way to use these options without the interface ID after all.

As [documented for the SOCKET_IPV6_MULTICAST_IF socket option](https://github.com/ARMmbed/mbed-os/blob/master/features/nanostack/FEATURE_NANOSTACK/sal-stack-nanostack/nanostack/socket_api.h#L745-L746) the interface id 0 can be used for an unspecified interface.

[2017-06-26 11:09] #4442 closed

[2017-06-26 11:33] 0xc0170 commented on #4605
@mmorenobarm Can you please look at the https://github.com/ARMmbed/mbed-os/issues/4605#issuecomment-310879849 comment? How on beetle we shall trigger pending interrupt? setting 0 seems like an issue here.

[2017-06-26 12:03] awneil commented on #4624
I needed to keep the old setup for another project - didn't want to break that.
So did a new install of Eclipse Neon3 & gnuarmeclipse plugins v3.4.1-201704251808

The CDT project imported & built successfully - the linker options are now correctly prefixed with -Xlinker:
![image](https://user-images.githubusercontent.com/2291204/27538090-5ce1af10-5a6e-11e7-8857-102e27c574d7.png)

The makefile proj

[2017-06-26 12:03] JanneKiiskila commented on #4462
@theotherjimmy  - can you give a hand here?

[2017-06-26 12:11] awneil commented on #4624
I kept the same GCC toolchain because, last time I looked, the mbed documentation insisted that 4.9 should be used, and 5 should **not**.

But when I look today, it says:

?!?!

(but, I guess, that's a separate issue)

[2017-06-26 12:14] 0xc0170 commented on #4624
@awneil It was updated for 5.5 release, supportss gcc arm 6.x

[2017-06-26 12:23] awneil commented on #4624
@0xc0170 Is there a "history" or "compatibility matrix" of that somewhere?

As @chrissnow said in https://github.com/ARMmbed/mbed-os/issues/4624#issuecomment-310754332 - it's not so simple as just using "latest" ...

(I guess it's something that MultiTech need to document).

[2017-06-26 13:41] nvlsianpu commented on #4357
@NeilMacMullen Are you able to test whether https://github.com/ARMmbed/mbed-os/pull/4634 fixes the issue?

[2017-06-26 13:55] bcostm commented on #3958
Launched today a SW4STM32 export with mbed online (on DISCO_L476VG) and still the same error with the #if/#define not recognized in the ld file.

From #3749 :

Any idea when this preprocessing will be fixed. Or can you give some hints ?

[2017-06-26 14:00] theotherjimmy commented on #4462
How would you like me to help out?

[2017-06-26 14:04] HITMAnsOFT commented on #4588
Update: I downloaded the Nordic SDK version 11 and copied the HAL and driver files mentioned above into my project source dir and was able to use the RNG module directly.

[2017-06-26 14:16] theotherjimmy commented on #4624
@awneil It looks like the issue you reported for the gnuarmeclipse exporter was related to the old version of that plugin you were using and the issue you reported with the eclipse_gcc_arm exporter was fixed after version 5.4.2. As far as I can tell, no fixes are needed right now. Therefore I'm closing this issue.

I took a look at the documentation on docs.mbed.org, and you're correct: the compil

[2017-06-26 14:16] #4624 closed

[2017-06-26 14:19] deepikabhavnani commented on #4626
@0xc0170 yes it is clear, shall I implement private _acquire() function and replace it in SPI code, to remove multiple locks?

Also for format and frequency functions, we can update the format or frequency which is required by directly calling respective functions, instead of using call to acquire. Does that sound correct?

[2017-06-26 14:45] JojoS62 commented on #4622
C_FLAGS += -DCMSIS_VECTAB_VIRTUAL_HEADER_FILE=\"cmsis_nvic.h\"
This setting causes also a problem in the exporter for SW4STM32. It adds the line
<listOptionValue builtIn="false" value="CMSIS_VECTAB_VIRTUAL_HEADER_FILE="cmsis_nvic.h""/>
to the .cproject file and it is invalid. So the config is not read at all and eclipse complains about 'not a CDT project'. But I will open a new issue for that, not

[2017-06-26 14:45] mfiore02 commented on #4624
Mike at MultiTech here. Because we release our lora stack for mDot and xDot precompiled, exporting gets pretty tricky. Like @chrissnow mentioned, even using a different mbed-os version between the app and the library can cause issues in the application. I've found it easier to set up a custom build command in your IDE environment that just uses mbed-cli in the background instead of actually trying

[2017-06-26 14:59] JojoS62 commented on #4269
On my first trial to use the SW4STM32 exporter I ran also into a problem that maybe the same source.
The setting for the symbol CMSIS_VECTAB_VIRTUAL_HEADER_FILE causes also a problem in the exporter. It adds the line
[code]
to the .cproject file and it is invalid. So the config is not read at all and eclipse complains about 'not a CDT project' in the settings dialog. Other symbol definitions work

[2017-06-26 15:15] JojoS62 commented on #4269
this is what the exporter must generate for a string in an option:
<listOptionValue builtIn="false" value="CMSIS_VECTAB_VIRTUAL_HEADER_FILE=&quot;cmsis_nvic.h&quot;"/>
But I see that this is another issue as described by @bsrirao

[2017-06-26 15:20] #4361 closed

[2017-06-26 15:23] noutram commented on #4091
Any updates on this issue?

[2017-06-26 15:29] #1096 closed

[2017-06-26 15:30] #4602 closed

[2017-06-26 15:35] JojoS62 commented on #4084
This include is still missing. Adding "${ProjDirPath}/mbed_config.h" manualy to Project Properties/ C/C++ Build / Settings / C an C++ compiler includes' will fix it temporarily.

[2017-06-26 15:39] theotherjimmy commented on #4624
That's correct

@mfiore02 You should update to GCC 6 when you update to mbed os >= 5.5.0

[2017-06-26 15:48] mfiore02 commented on #4624
@theotherjimmy Agreed. Probably our next release. I think this one will end up staying with 5.4.7 as it's too late in the cycle for a change like that.

[2017-06-26 15:54] theotherjimmy commented on #4622
I'm sorry, I'm having trouble understanding this @mickeyln. Could you explain what you mean?

Sorry about that @JojoS62 . SW4STM32 is going to be deprecated soon if it does not get supported. Please use gnuarmeclipse or eclipse_gcc_arm instead.

[2017-06-26 16:19] JojoS62 commented on #4622
ok, but gnuarmeclipse has the same problem, it creates the same symbol with the wrong syntax:

![grafik](https://user-images.githubusercontent.com/6775562/27549260-b794299c-5a9b-11e7-84cf-8239090cc095.png)

[2017-06-26 16:24] theotherjimmy commented on #4622
Oh! dang. Let me look at that real quick.

[2017-06-26 16:26] theotherjimmy commented on #4622
@JojoS62 Yep. confirmed.

[2017-06-26 16:27] JanneKiiskila commented on #4462
@theotherjimmy - Do the mbed tools support 2 linking sections or not? If not, can we somehow force the SW to be put to the SDRAM only - it's 2 megabytes, so I don't see any problem in fitting everything in there.

[2017-06-26 16:29] theotherjimmy commented on #4462
@JanneKiiskila The tools don't need to understand linking sections at all, and don't understand linking sections. That's up to linker scripts for the individual compilers. You would have to look at GCC_ARM, IAR and ARMC5 to determine how to write a linker script for each of them to take advantage of the different regions.

[2017-06-26 16:47] theotherjimmy commented on #4622
@JojoS62 I was able to get the project to recognize (by escaping), but it still does not work correctly.

[2017-06-26 16:48] JojoS62 commented on #4622
sorry, don't know exactly what you mean?

[2017-06-26 16:52] theotherjimmy commented on #4622
I was able to export to gnuarmeclipse from a project using the nucleo-f070rd, and import the project into gnuarmeclipse. However, it still complains about no quotes in the include statement.

[2017-06-26 16:58] theotherjimmy commented on #4622
Alrighty. PR in a moment.

[2017-06-26 17:01] theotherjimmy commented on #4622
@mickeyln  and @JojoS62 could you try the patch in pr #4636? I think that should resolve the quoting issue you are seeing in the gnuarmeclipse exporter

[2017-06-26 17:03] JojoS62 opened #4637 "exporting with eclicpse exporters create 'not a CDT project'"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32072RB and other

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
1.0.0

**meed-os sha:**
a969883

**Expected behavior**
imported project generated by gnuarmeclipse should compile without errors

**Actual behavior**
compile option disabled, pro

[2017-06-26 17:21] JojoS62 commented on #4622
it worked, but there are still unecessary backslashes in the symbol value.

[2017-06-26 17:22] JojoS62 commented on #4637
fix in progress with PR #4636

[2017-06-26 17:22] #4637 closed

[2017-06-27 06:34] LMESTM commented on #4534
@chrissnow  thanks for pushing this support. I'll make a short review of it.
Could you run the test cases related to flash and share the results ?
tests-mbed_drivers-flashiap
tests-mbed_hal-flash

[2017-06-27 09:42] toyowata commented on #4619
I could not find the LPC1343 target support in the targets.json.  Is it new platform?

[2017-06-27 09:55] jeromecoutant commented on #4384
#4422 is now merged, and will be integrated in 5.5.2

 ST_TO_BE_CLOSED

[2017-06-27 10:03] noutram commented on #3876
Same warning when exporting to uVision5

[2017-06-27 10:08] pranavshandilya commented on #4619
@toyowata

`I could not find the LPC1343 target support in the targets.json. Is it new platform?`
No, this is not a new platform and LPC1343 target is not present in the targets.json.

This is the custom target `http://www.zilogic.com/blog/product-zkit-arm-1343.html` which is used by me for the small applications using MbedOS.
I have ported all Hal driver (Ref. : LPC1768) and after porting all the

[2017-06-27 10:27] malachib opened #4643 "Adding RTL8711, RTL8710"
### Description
- Type: Question/Enhancement
- Related issue: #4438

-----------------------------------------------------------------

## Question

I am excited to see Ameba support officially materializing in mbed-os!
Any chance the RTL871x series are invited to the party?

[2017-06-27 11:54] 0xc0170 commented on #4643
cc @Archcady

[2017-06-27 12:02] 0xc0170 commented on #4619
I also overlooked this is not a target in our codebase.

But in MbedOS 5.5.1 above test cases are failing.

To be aligned, use IAR 7.8 version (8 not supported yet, might fail?), ARMCC 5.2x (not 6).

We have seen some failures with those, what are the failures, do you get any error from RTX (stack underflow or overflow), or just timing issues? For most of them you dont need a host test, thus creat

[2017-06-27 12:03] #4384 closed

[2017-06-27 12:38] mbedNoobNinja commented on #4440
Finally ...
Sorry for the delay here are the results as were promised:
**[cli_tst_summary.txt](https://github.com/ARMmbed/mbed-os/files/1105221/cli_tst_summary.txt)**
**[old_tst_summary.txt](https://github.com/ARMmbed/mbed-os/files/1105222/old_tst_summary.txt)**
here are the complete logs:
[old_tst_arm_iar_gcc.txt](https://github.com/ARMmbed/mbed-os/files/1105241/old_tst_arm_iar_gcc.txt)
[cli_tst_

[2017-06-27 13:52] nvlsianpu commented on #4588
@nvlsianpu have You a POC for look at?

[2017-06-27 14:08] nvlsianpu commented on #4488
@andreaslarssonublox  https://github.com/ARMmbed/mbed-os/pull/4647

[2017-06-27 16:00] LMESTM opened #4649 "Unaligned access on M0 cores in FAT file system"
### Description

While running SPI SD card tests on STM32 L0 / M0 targets (e.g. NUCLEO_F091RC), the target would freeze and test end up in timeout:

[1498578756.92][CONN][RXD] >>> Running case #2: 'SPI - SD card exists'...
[1498578756.97][CONN][INF] found KV pair in stream: {{__testcase_start;SPI - SD card exists}}, queued...
[1498578796.53][HTST][INF] test suite run finished after 40.16 sec...
[.

[2017-06-27 16:27] HITMAnsOFT commented on #4588
@nvlsianpu I have this small C++ wrapper. It may not be robust and may cause an infinite loop, but it's working for me on nRF52832. The buffer depth of the RNG seems to be 32 bytes. It's C++11/14, but you'll get the idea:
[code]

[2017-06-27 19:02] MarceloSalazar opened #4651 "REALTEK_RTL8195AM compiles, but fails to flash in uvision"
REALTEK_RTL8195AM compiles in uvision, but fails to find the correct target to flash to.

mbed OS: `92fbf2a9b3988d430482fc25a6077f2462e2a634` (mbed OS 5.5)
mbed CLI version: `1.1.1`

[code]

Issue original raised here: https://github.com/ARMmbed/mbed-os-example-blinky/issues/62

@mray19027 @0xc0170

[2017-06-27 19:33] bperry730 commented on #3863
This problem has been reintroduced in the latest mbed-os version.  The can frequency is hard-coded again.  Should I open a new issue?

[2017-06-27 19:49] theotherjimmy commented on #3863
Nope. Same problem same issue.

[2017-06-27 19:49] theotherjimmy commented on #3863
@bperry730 Could you tell us what version of mbed OS you have seen this problem re-appear in?

[2017-06-27 19:54] bperry730 commented on #3863
It looks like it was messed up in the merge.  So the [original pull request](https://github.com/ARMmbed/mbed-os/commit/45b4d41bbd837b2a3cac850f6b31cc4310530777) had a merge error, it seems.  If you change line 89 to `if (can_frequency(obj, hz) != 1) {`, it should work fine.

![image](https://user-images.githubusercontent.com/9127559/27607069-804b6aa8-5b37-11e7-9f29-980d5713cece.png)

[2017-06-27 20:01] theotherjimmy commented on #3863
Would you like to submit that PR? The diff looks very reviewable to me!

[2017-06-27 20:02] 0xc0170 commented on #4649
cc @geky @simonqhughes

[2017-06-27 20:46] geky commented on #4649
Ah! Good catch! It looks like the issue here is actually an incorrect cast in the fatfs's disk_ioctl function (the porting layer from BlockDevice -> ChanFS).

The disk_ioctl function uses a void* for different argument types, and is incorrectly being interpreted as a 32-bit DWORD variable when ChanFS is expecting a 16-bit WORD.

Pull request up here:
https://github.com/ARMmbed/mbed-os/pull/4652

L

[2017-06-27 21:17] theotherjimmy commented on #4440
@TomoYamanaka @mbedNoobNinja The branch *Feature_LYCHEE* seems to be based on a release branch. We do not accept PRs to release branches at the moment, so I recommend that you base your work on master.

[2017-06-27 23:05] bperry730 commented on #3863
I would love to.  However, I cannot push to the repo as I'm not a contributor.  I accepted the terms and conditions, but I don't think it's gone through yet.  I'm not sure how that process works or how long it takes.

I'm assuming the process is to push to a separate branch and then pull request in to merge.  Let me know if you have any other ideas on how I can push the quick change.

[2017-06-28 00:01] waymond91 opened #4653 "STM32F411RET6 hangs before boot"
### Description
- Type: Bug

- Priority: Blocker

- Related issues:

I have seen this issue in a number of places online. The first place I encountered was here: [https://developer.mbed.org/forum/bugs-suggestions/topic/5600/](https://developer.mbed.org/forum/bugs-suggestions/topic/5600/)
But from what I have seen, this solution seems to have been rolled out a long time ago.

After rooting around o

[2017-06-28 02:32] toyowata opened #4654 "mbed 2 with mbed-rtos build broken"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
K64F, LPC1768

**Toolchain:**
ARM (online IDE)

**Toolchain version:**
5.06

**Expected behavior**
rtos example build successful

**Actual behavior**
RTOS example can not build (compile error)

**Steps to reproduce**

* Import rtos_basic example:
https://developer.mbed.

[2017-06-28 04:21] mickeyln commented on #4622
the don't worked Makefile of export is:
[code]
And I change to Makefile to:
[code]
It is worked.

I don't know how to fix in code.

[2017-06-28 05:41] peeyushpashine opened #4655 "startup_stm32f769.s is present for TARGET_STM32F767"
startup_stm32f769.s is present for TARGET_STM32F767

mbed-os/targets/TARGET_STM/TARGET_STM32F7/TARGET_STM32F767xI/device/TOOLCHAIN_GCC_ARM/startup_stm32f769xx.S

- Type: Bug

@bcostm

[2017-06-28 06:39] nvlsianpu commented on #4588
Thanks for the snipped. I wanted to know whether rng driver work out-off-the-box for nRF52. So answer is yes.

[2017-06-28 06:47] HITMAnsOFT commented on #4588
Yes, it works. Chip code is QFAA B0. Unfortunately I was not able to run my applicaiton on nRF51. Do you happen to know if mbed works on Rev. 2 nRF51822 chips?

[2017-06-28 07:02] nvlsianpu commented on #4588
mbed-os apps are supposed to work since rev. 3 of nRF51822. I never tested it with rev. 2

[2017-06-28 07:15] Archcady commented on #4643
Hi @malachib, thank you for your interest. The latest mbed-os 5.5 does not support our RTL871x series. And for future support, it still need some research before any decision is made.

[2017-06-28 07:26] LMESTM commented on #4653
@waymond91  Hey, let's try to address your own issues.
 #4532 and #4543 are very recent issue and I think they were fixed before any online release - so those are different from your own request.

So let's focus on your need: you want to boot F411RE based HW from HSI with the online compiler right ?

[2017-06-28 07:29] 0xc0170 commented on #4654
@toyowata Thanks for reporting, will have a look shortly at this one

[2017-06-28 07:33] jeromecoutant commented on #4622
Hi
Solution could be to remove these CMSIS_VECTAB_VIRTUAL macros in the targets.json file...

[2017-06-28 08:06] 0xc0170 commented on #4654
I can reproduce this, will send a patch soon

[2017-06-28 08:42] waymond91 commented on #4653
Sorry I wasn't trying to dredge up the past, just looking for a solution that might already be out there.
Yes! That is exactly what I am trying to do.
However, when I upload my code to my PCB, the application never appears to run.
In an effort to get the online compiler working, I have poked around using a couple different IDEs and debuggers.
Doing a little debugging seems to reveal that the progr

[2017-06-28 08:51] LMESTM commented on #4653
@waymond91 there is ongoing work to make selection of clock source easier so we'll keep you informed on this. And in the process we'll make sure that NUCLEO_F411RE can boot from HSI when using online IDE.

[2017-06-28 08:57] waymond91 commented on #4653
Thank you for the help!
Sorry, I am very new to the work flow around here.
How will I know when any updates have been made to compiler that pertain to my issue?

[2017-06-28 08:59] LMESTM commented on #4653
@waymond91  We'll keep you posted on our findings here. Then when it comes to releases to the online compiler, there will be some delay, but we can rely on ARM maintainers to confirm to us when this is available.

[2017-06-28 09:01] malachib commented on #4643
OK, thank you for the response.  I hope RTL871x does get targeted, as an inexpensive & easy WiFi SoC mbed OS solution would be pretty sweet

[2017-06-28 09:07] 0xc0170 commented on #4654
Pull request proposed with a patch #4657

[2017-06-28 09:10] waymond91 commented on #4653
@LMESTM Thank you, once again!
If you don't mind, I would love to know what you find so I can try changing some local build files on my end during that delay!

[2017-06-28 10:19] toyowata opened #4658 "mbed_blinky build broken in some BLE targets"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
nRF51-DK, nRF51-Dongle and TY51822R3

**Toolchain:**
ARM (online IDE)

**Toolchain version:**
5.06

**Expected behavior**
mbed_blinky example build successful

**Actual behavior**
mbed_blinky example can not build (compile error)

**Steps to reproduce**

* Import mbed_b

[2017-06-28 10:28] jeromecoutant commented on #4655
Hi
Agree => #4659
Regards,

[2017-06-28 10:33] chrissnow commented on #4288
@0xc0170 I'm looking into this for another bootloader project. it looks like the processor requires the buffer to be aligned in order for IAP to work. any suggestions other than having to memcpy to an aligned area if it isn't already aligned?, it would require another 1k of RAM which probably isn't an issue if ran inside a bootloader.

If the algo was alteredto use 256 byte pages this wouldn't be

[2017-06-28 10:41] 0xc0170 commented on #4288
As I remember the algo were already modified, feel free to modify to make it work, if it does not work out of the box. Or implement flashiap by own driver , might be better..

[2017-06-28 10:48] chrissnow commented on #4288
indeed they were, just looking through the diff that was posted.

I have already started implementing it myself as a flash api, is this the preferred method over the flash algo? certainly seems a bit more maintainable!

assuming that the buffer has to be aligned is memcpy the right thing to do? or should something else be considered? It seems like a bit of a bodge but if it's just an NXP thing I g

[2017-06-28 10:56] 0xc0170 commented on #4288
Yes, it is !

If there is no other way and it is required to be aligned, then yes.

[2017-06-28 10:57] 0xc0170 commented on #4658
cc @pan- @nvlsianpu

[2017-06-28 11:50] akrnvm commented on #4627
hi,
i have facing slimier problem with my custom board.
In mbed OS 5.4.7 all test-cases are passing.but from mbed 5.5.0 onwards  timer test cases (with RTOS) are failing.
my device is running in low frequency (18MHZ).
In low frequency, the wait_us calls "Thread::wait((uint32_t)ms)", its taking extra micro seconds to execute.
due to extra 0.33 uS ,test-cases are failing.
i have verified my us_ticke

[2017-06-28 14:18] theotherjimmy commented on #3863
Actually, The process is to fork this repo on github. Then submit a PR from a branch on your fork.

[2017-06-28 14:36] jeromecoutant commented on #4653
Hi
With MBED, you don't have to configure the clock setting in the main part of your code!
You only have to include mbed.h:

#include "mbed.h"
int main() {
    printf("SystemCoreClock %ld MHz\n", SystemCoreClock/1000000);
    while (true) {
    }
}

About setting the clock source, in the current default code, HSE is tried; then if it fails, after a timeout period, HSI is configured. (see #4422)
Yo

[2017-06-28 15:00] Nodraak opened #4661 "[BLE] HeartRateService/Heart Rate Measurement should not be Read"
### Description

- Type: Bug
- Priority: Minor
- Related file: https://github.com/ARMmbed/mbed-os/tree/master/features/FEATURE_BLE/ble/services/HeartRateService.h#L61

---

According to the [BLE spec](https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.service.heart_rate.xml&u=org.bluetooth.service.heart_rate.xml) (link found in HeartRateService.h), the Heart Rate M

[2017-06-28 15:10] sarahmarshy opened #4663 "Odin board fails to connect"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os-example-wifi/issues/36
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
 UBLOX_EVK_ODIN_W2

Output of `mbedls`:
[code]

**Toolchain:**
GCC_ARM

**meed-os sha:**
I have tried the following:
* tip of master
* #4571 rebased onto master

Master should include these suppo

[2017-06-28 17:06] waymond91 commented on #4653
Thank you for letting me know!
Yes, my problem is that the program never makes it to main() in the first place, so any code I put in there is moot.
I knew that those timeouts had be lengthened substantially (5 seconds), but I did not know they were brought back down to 100ms.

[2017-06-28 17:38] mbedNoobNinja commented on #4440
... Well the error was in my TV! (more specifically in execution of **switch** command of the TortoiseGit) In attempt to **_switch_** from **master** to **Feature_LYCHEE** that mess up the whole project and cause the strange python issue. After fresh & clean checkout of the Feature_LYCHEE branch with TortoiseGit command (Git Clone) there were no python errors anymore.
... That's fine, but new issu

[2017-06-28 21:31] kegilbert commented on #4575
I'm seeing this behavior with the latest mbed-os (a39ac6030 ) on a K64F+ESP8266, and mbed-os-example-wifi commit hash of (8263817).

[2017-06-28 21:54] nelqatib commented on #4575
@kegilbert Have you tried with the changes in [this](https://github.com/ARMmbed/mbed-os/pull/4560/) closed PR?

[2017-06-28 22:19] kegilbert commented on #4575
@nelqatib I did, the error did not show up but the example hung.

[2017-06-29 02:12] TomoYamanaka commented on #4440
@mbedNoobNinja

Thank you for your comments, and I appreciate that you execute the test.

Is it right that the rest problems is the below?

This Feature_LYCHEE branch is based on the release branch of [mbed-os-5.4.3](https://github.com/ARMmbed/mbed-os/releases/tag/mbed-os-5.4.3).
So, can you execute the test again by using mbed-os-5.4.3?

[2017-06-29 02:14] TomoYamanaka commented on #4440
@theotherjimmy

Thank you for your comments.

That's right.
This branch is based on release branch of mbed-os-5.4.3 for advance development.
Therefore, I will PR, after I merge Feature_LYCHEE branch to the latest master branch in advance.

[2017-06-29 06:51] adbam commented on #4084
Can confirm this issue on a Nucleo_F303RE. When I include mbed_config.h manually the compile succeeds.

But the compilation is still not correct, as I'm trying with the ticker example. When I compile from the online compiler my LED flashes as expected, but when I compile from SW4STM32 - and the compilation succeeds - nothing happens on my target.
Is there a bigger problem in the export feature? An

[2017-06-29 07:47] Archcady commented on #4462
Sorry for the delay cos' we met some problems. Now again here's a PR trying to fix this issue: https://github.com/ARMmbed/mbed-os/pull/4665

[2017-06-29 07:48] #4600 closed

[2017-06-29 08:27] LMESTM commented on #4653
@waymond91 what I'd suggest is that you try to use mbed master branch together with #4421 proposals and try to boot your board from HSI by setting the proper setting in mbed_app.json.  This would validate the concept that @jcostm is proposing

[2017-06-29 08:57] 0xc0170 commented on #4661
cc @pan-

[2017-06-29 09:04] ccli8 commented on #3928
Verified OK on mbed-os-5.5.0. mbed CLI and Online Compiler both can output Intel HEX file as OUTPUT_EXT is set to hex.

[2017-06-29 09:04] #3928 closed

[2017-06-29 09:05] Archcady commented on #4611
We create this PR to mute the debug messages mentioned here. https://github.com/ARMmbed/mbed-os/pull/4667

[2017-06-29 09:45] pan- commented on #4658
It works well if compiled locally from the sources but doesn't in the online IDE.
I suspect that it is related to how ARM compiler handle weak symbols when they are in a library.

[2017-06-29 09:54] 0xc0170 commented on #4658
we shall not use weak IRQ handlers within HAL, we got NVIC set/get vectors so use that.

[2017-06-29 10:28] pan- commented on #4658
@bulislaw @nvlsianpu Any reason to keep the weak definition of `Systick_Handler` in `us_ticker.c` ([see](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5/us_ticker.c#L306-L319)) ?

It is only used if the RTOS is present ([see](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5/us_ticker.c#L482)) and in that case it is imported from `rtx

[2017-06-29 10:33] andreaslarssonublox commented on #4663
Hi, I just tried it and it worked for me. I did the following:

Clone https://github.com/ARMmbed/mbed-os-example-wifi
mbed update
After this I got SHA-1: 82638173e0feaf551df125fda0e19f85a8e608b1 for mbed-os-example-wifi

Change to latest mbed-os SHA-1: a39ac603052a35d9e474b3d87e4511439d1154a0
Rebase/cherry-pick 3934b30b58076b50d63140ae3ac6069797e8697d from geky:events-use-rtx-event-flags
Change SS

[2017-06-29 10:55] nvlsianpu commented on #4658
@pan- No reason to have these weka symbol. Can you remove it? I haven't time for mbed until next week.

[2017-06-29 12:01] mbedNoobNinja commented on #4440
Isn't it 5.4.3 already, if it's based on it ?. I don't know how to explicitly checkout mbed-os-5.4.3.
The tags in the branch Feature_LYCHEE are:
[code]
There is no `5.4.3` version in it.
From master's branch point of view there is tag `mbed-os-5.4.3` and when I checkout it the folder structure isn't combined as in Feature_LYCHEE (I mean there is no such folder **TARGET_RZA1XX**) Should I run the t

[2017-06-29 12:20] jeromecoutant commented on #4459
Hi any updates about uARM issue ?
Thx

[2017-06-29 12:35] pan- commented on #4658
@nvlsianpu Thank you, I'm waiting for @bulislaw answer before submitting the fix, he introduce the change, maybe there is a deeper reason behind the inclusion of this weak symbol.

[2017-06-29 12:36] 0xc0170 commented on #4459
I'll have a look soon to reproduce the above timeouts.

[2017-06-29 12:39] bulislaw commented on #4658
@pan- I don't think there is one really. I've just translated old symbol name to a new one, it used to be `MBED_WEAK void OS_Tick_Handler() { }`.

[2017-06-29 13:23] jupe opened #4669 "feature request: Heap traces"
### Description
- Type: Enhancement
- Related issue: #4573, ...
- Priority: Major

## Enhancement

**Reason to enhance or problem with existing solution**
[memory traces](https://github.com/ARMmbed/mbed-os/pull/2487) are good when analysing fragmentation or who is spending memory in very low level (caller level). But it doesn't tell anything about real heap usage or malloc overheads. memory traces

[2017-06-29 13:25] 0xc0170 commented on #4459
I believe I found it, @jeromecoutant , this was once discovered : https://github.com/ARMmbed/mbed-os/pull/2160/files (you can read about microlib not having post stack/heap hook) so was in retarged open called. This would explain what I am seeing, nvic is not copied neither mbed sdk init called.

[2017-06-29 13:33] sherrellbc opened #4670 "No mbedTLS server support"
### Description
- Type: Enhancement | Question
- Priority: Major
----------------------------------------------------------------

## Enhancement

It does not appear to be possible to host an mbedTLS SSL server on mbed-os. I found [this](https://github.com/ARMmbed/mbedtls/blob/development/programs/ssl/ssl_server.c) example on the mbedTLS Github page, but the code was written assuming a UNIX platfo

[2017-06-29 13:38] 0xc0170 commented on #4459
Done, look at https://github.com/ARMmbed/mbed-os/pull/4671 please

[2017-06-29 15:11] LMESTM commented on #899
@0xc0170 @mfiore02
#4502 has been merged - could you closed the issue ?

[2017-06-29 15:15] LMESTM commented on #1663
@0xc0170  @geky @Dieter-Graef Is this ticket still valid ?

[2017-06-29 15:18] LMESTM commented on #2626
@toyowata @0xc0170 as explained above, we don't think there is an issue. Could you please either close or provide further explanations ?

[2017-06-29 15:43] bperry730 commented on #3863
@theotherjimmy Are you able to review this pull request?

[2017-06-29 15:50] LMESTM commented on #2670
@janjongboom
Hey - sorry for not supporting earlier ... is the problem still visible on recent MBED versions ?
I tried to reproduce here with MBED2 Serial interrupt test (PC sends data to target ..) and could not reproduce. If you have another sample code I can try again

[2017-06-29 15:56] yennster commented on #4663
@sarahmarshy I just got the Odin board to connect to the `iotlab` wifi. There must have been something wrong with the access point these past few days that got fixed yesterday/this morning? I used the same master branch of [mbed-os-example-wifi](https://github.com/ARMmbed/mbed-os-example-wifi).

[code]

[2017-06-29 16:03] #4630 closed

[2017-06-29 16:54] RobMeades commented on #4428
It would be good to get this flow control cookking, it might help with my attempts to run the modem interface at higher data rates.

[2017-06-29 17:05] geky commented on #1663
I wasn't sure earlier, but since the rtx5 update we've completely rewritten the lwip's mbox implementation. The mbox was updated in this pr:
https://github.com/ARMmbed/mbed-os/pull/4203

So I believe this pr is no longer valid. I'll go ahead and close it. @Dieter-Graef feel free to reopen this issue if we're mistaken.

[2017-06-29 17:05] #1663 closed

[2017-06-29 17:45] adamgreen commented on #4630
Thanks!

[2017-06-29 18:45] theotherjimmy commented on #4663
So, are we going to close this issue then?

[2017-06-29 18:46] theotherjimmy commented on #3863
I CAN. (please excuse my pun)

[2017-06-29 18:58] theotherjimmy commented on #4440
Please do not merge. There are several reasons not to:
 * We do not accept PRs to master with merge commits
 * You would be introducing duplicate history (master's and the release branch's)

Instead, you will have to cherry pick the commit range. You cannot rebase because there are duplicated commits on the release branch with different hashes, because they have a different ancestor. If you were t

[2017-06-30 03:35] #2626 closed

[2017-06-30 04:05] TomoYamanaka commented on #4440
@mbedNoobNinja

Thank you for test of mbed OS 5.4.3.
Sorry for lack of description.
Because I wanted to comfirm whether the new folder structure has affected, I asked for test to you.

As far as the test result, it seems that `features-feature_lwip-tests-mbedmicro-net-tcp_hello_world` test is fail in mbed OS 5.4.3 too.
I was relieved that the new folder structure did not seem to be affected.

[2017-06-30 04:08] TomoYamanaka commented on #4440
@theotherjimmy

Thank you for your comments.

I am going to process as the follow.
1. I rebase my master branch to latest.
2. I merge only the code changing by Feature_LYCHEE branch to my master branch.
3. I PR from my master branch.

Could you give me your opinion about the above?

[2017-06-30 08:22] 0xc0170 commented on #4462
@JanneKiiskila Can you test the referenced fix above ?

[2017-06-30 09:55] JanneKiiskila opened #4673 "Realtek RTL895AM - ethernet not working (Get HW address failed)"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/pull/4665
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Realtek RTL895AM

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**meed-os sha:**

[2017-06-30 11:47] malachib opened #4675 "NUCLEO_F303K8 target not supported in 5.5+"
### Description
- Type: Question
- Priority: Major

-----------------------------------------------------------------

## Question

**It appears NUCLEO_F303K8 target is no longer supported.  Should we expect this target to return?**

[2017-06-30 13:42] akrnvm opened #4680 "wait function causes Greentea test failure"
### Description
- Type: Bug
- Related issue: `#4627'
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Custom board

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**
GCC_ARM 6.0 | ARM 5.2 | IAR 7.8

**mbed-cli version:**
(`mbed --version-1.1.1`)

**Expected behavior**

1 millisecond delay
**Actual behavior**

1.3 millisecond delay

**Step

[2017-06-30 13:58] 0xc0170 commented on #4680
What has changed between 5.4.x and 5.5 for your target? only RTOS update? 0.33ms is a big delay. if your wait is using us ticker it works, if rtx delay (I assume it is systick in that case) it fails with this drift?

There's PR to update this host drifting script to be more accurate, readable https://github.com/ARMmbed/mbed-os/pull/4599

[2017-06-30 14:07] akrnvm commented on #4680
Yes, only RTOS update. No driver changes,

Same driver is working with different board which has 40 MHz.

Other TImer cases are working fine.

1. tests-mbed_drivers-timeout
2.  tests-mbed_drivers-ticker

RTOS timer related cases are Failing :
1. tests-mbedmicro-rtos-mbed-basic
2. tests-mbedmicro-rtos-mbed-timer

in "single test" all testcases are passing including wait_us.

[2017-06-30 14:22] LMESTM commented on #2959
@screamerbg @bcostm @adustm  Fix for F446RE (and others) proposed in #4676.

@screamerbg  would be great if you could run your LEDs demo again on F446RE with this patch included and check this is ok.

[2017-06-30 14:25] LMESTM commented on #2960
@sg- @screamerbg @0xc0170  please close as all the CI tests are now passed on this board

[2017-06-30 14:29] #2960 closed

[2017-06-30 14:30] LMESTM commented on #3223
@bcostm this sounds like an issue with exporters rather than a bug in ST HAL ... how should we proceed  ?

[2017-06-30 14:53] JanneKiiskila opened #4681 "REALTEK_RTL8195AM - larger image drops RLT8195AM out of USB"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/pull/4665
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195A

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)
1.1.1

**meed-os

[2017-06-30 14:55] JanneKiiskila commented on #4681
@Archcady @adbridge @marcuschangarm @0xc0170

[2017-06-30 15:10] JanneKiiskila commented on #4681
When trying to re-flash with the non-debug image - it still fails. This is a hard problem for me now.

[code]

I can't even flash in the smaller image now, so is the board bricked?

[2017-06-30 15:28] JanneKiiskila commented on #4681
Flashing in the mbed-os-example-wifi gets this one done;

[code]
So, there are less sectors to flash, but still it fails to start the app.

...

Several retries laters...
It started working once I pressed the Pdn button on the opposite side of the SMA-connector.

[2017-06-30 15:34] JanneKiiskila commented on #4681
Yep, it requires 2 flashes back/forth these two mbed-os versions, is the boot address now somehow changing between these two?

[2017-06-30 15:39] JanneKiiskila opened #4683 "REALTEK_RTL8195AM - WiFi implementation not complete?"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue: `#4665`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
REALTEK_RTL8195AM

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc-arm-none-eabi-6-2017-q1-update/

**mbed-cli version:**
(`mbed --version`)
1.1.1

**meed-os sh

[2017-06-30 15:40] JanneKiiskila commented on #4683
[code]

It doesn't get very far.

[2017-06-30 15:43] bcostm commented on #3223
I really don't know what is the issue. First I need to check again this config `pc.printf + NUCLEO_L053R8 + uVision5 project from mbed IDE` to see if the issue is still present.

[2017-06-30 15:59] theotherjimmy commented on #3223
@bcostm @LMESTM If you think that we should turn of export for targets that don't support mbed OS 5, let me know. I can make that patch, and then we can verify that the export shows "not-supported" and close this issue.

[2017-06-30 16:00] bulislaw commented on #4675
Still here on master https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L790

What sort of issues do you have with it?

[2017-06-30 16:18] Nodraak commented on #4675
Nope, the [`release_version`](https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L790) is only "2". I tried to add "5" and compile, but it fails.

[2017-06-30 17:07] theotherjimmy commented on #4440
@TomoYamanaka Sure. I'm happy to provide my opinion. There are two options depending on what you mean bay "latest". If you mean the tag "latest" then you will experience the same pitfalls I mentioned above, but with a more recent release branch. The "latest" tag points to the most recent release. If you meant "latest" to mean the most recent version of the master branch, then that sounds great (I

[2017-06-30 17:22] malachib commented on #4675
@Nodraak interesting, looks like it's been that way in the targets.json file for a long time

However, I have been using it with 5.4.x and I think 5.2.x.

It stopped working when moving to 5.5 - but from the looks of things, it was never supposed to work?

@bulislaw The error specifically is

`Could not compile for NUCLEO_F303K8: Target does not support mbed OS 5`

[2017-06-30 18:24] #4663 closed

[2017-06-30 22:19] kegilbert commented on #4575
Recursive receive call in the ATParser was overrunning the main thread's stack space. @geky recommended the following fix due to an earlier PR to do this.

https://github.com/ARMmbed/ATParser/pull/5

[2017-07-01 06:35] #4619 closed

[2017-07-02 18:02] NeilMacMullen commented on #4357
@nvlsianpu   - sorry for not getting back to you earlier.  Unfortunately  #4634 also appears to have problems. Although I can successfully now detect I2C devices on the bus and also use a serial flash on the SPI bus, the application appears to crash on a subsequent call to Thread::wait.  This does not occur with my original changes on earlier mbed.

[2017-07-02 18:26] NeilMacMullen commented on #4357
@nvlsianpu - actually the issue above may be a red herring.  It looks like something else has changed between 4.5 and 5.5 to break my application.

[2017-07-02 20:46] NeilMacMullen opened #4686 "UBLOX EVK NINA B1: mbed 5.5 regression on Serial class (nrf5)"
This code no longer echoes back received characters on 5.5 (commit c9e63f14085f5751ff5ead79a7c0382d50a813a2) although the initial "LOOPBACK SERIAL" message is shown.

[code]

### Description
- Type: Bug

**Target**
UBLOX_EVK_NINA_B1

**Toolchain:**
GCC_ARM

[2017-07-03 01:21] TomoYamanaka commented on #4440
@theotherjimmy

Thank you for your comments.
Soory fot lack of description.
The "latest" I mentioned is that the most recent version of the master branch when I PR.

And thank you for advicing too regard to describing the process.

[2017-07-03 05:58] 0xc0170 commented on #4686
cc @hasnainvirk @andreaslarssonublox

[2017-07-03 06:56] nvlsianpu commented on #4357
OS 5.5 upgrades to the latest CMSIS version, CMSIS5, including the CMSIS-RTOS2 kernel.  So changes were big. Did you tried latest minor release 5.5.1?

[2017-07-03 07:16] 0xc0170 commented on #4686
It would help if you can git bisect it. At least to find a revision that worked for you. I assume 5.5.0 worked, 5.5.1 broke it or?

Looking at the git log, I can see this commit - 080c5af88b36275c0b9ff79d70b22 that is touching serial in the recent history. Is this one that has affected your code base? I can see it is defined in nina target PinNames, is it correctly set ?

cc @nvlsianpu

[2017-07-03 07:17] 0xc0170 commented on #4683
cc @Archcady

[2017-07-03 07:18] 0xc0170 commented on #4681
cc @Archcady

[2017-07-03 07:24] 0xc0170 commented on #4680
There might be also changes to ticker that were introduced recently. I would advice to run simple ticker test to confirm your ticker is running or debug the failing tests.

What is failing, are those 2 mbed timer based. Is your RTOS timer configured properly? I assume those 2 are using systick, thus would verify if it is setup properly.
Other two tests (timetout and ticker) are based on the us tic

[2017-07-03 07:26] 0xc0170 commented on #4675
That error is correct, seems this target has not been enabled for mbed 5.x.

cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-07-03 07:27] 0xc0170 commented on #4670
Does https://github.com/ARMmbed/mbed-os-example-tls/issues/98#issuecomment-312018849 answer your question?

[2017-07-03 07:36] Nodraak commented on #4515
#4538 is merged, closing.

[2017-07-03 07:36] #4515 closed

[2017-07-03 07:41] jeromecoutant commented on #4675
Hi
Maybe it can't compile because of the small lib use in targets json file:
    "default_lib": "small",

It has been decided that all small memory targets can not be used for OS5.

[2017-07-03 07:43] Archcady commented on #4681
The `Image1 Validation Incorrect !!!` message seems like a corrupted image1, I'm trying to reproduce this at my side

[2017-07-03 07:47] JanneKiiskila commented on #4681
The image is created simply by compiling the mbed-os-example-client so that the debug prints are turned on.

`git clone https://github.com/ARMmbed/mbed-os-example-client.git`
`git checkout easy-rtl-wifi`
- to pull in https://github.com/ARMmbed/mbed-os-example-client/pull/268
- take into use the wifi config, modify it to use WIFI_REALTEK -value.
modify the mbed_app.json to enable the tracing (`"mbe

[2017-07-03 08:00] JanneKiiskila commented on #4683
That K K K  print and "KIFI" is also a bit strange.

[2017-07-03 08:45] LMESTM commented on #3845
@janjongboom @0xc0170
F303K9 doesn't support MBED5, so I have run the below test on F091RC, F446RE and L476RG.
All run fine for 20 minutes and mode.  Maybe things have been fixed since report (there has been a fix on tickers) or the test code is different.  So please either provide a way to reproduce otherwise let's close it.
[code]

[2017-07-03 08:48] LMESTM commented on #3845
ST_TO_BE_CLOSED

[2017-07-03 08:50] LMESTM commented on #3855
@markus-becker-tridonic-com @0xc0170  let me know if anything can be done otherwise please feel free to close this issue

[2017-07-03 08:53] LMESTM commented on #3970
@CarloMara @0xc0170  Fix #4529 has now been merged - I propose to close this issue (and re-open in case @CarloMara reports remaining problems)
ST_TO_BE_CLOSED

[2017-07-03 08:57] #3970 closed

[2017-07-03 08:58] #3845 closed

[2017-07-03 08:58] LMESTM commented on #4214
@0xc0170 @adbridge  I'd suggest to close the issue please
cc @Willem23   - feel free to re-open in case of persistent problem

[2017-07-03 08:58] #4214 closed

[2017-07-03 09:00] #3855 closed

[2017-07-03 09:11] LMESTM commented on #4326
@RobSenix
Hi - thanks for reporting the issue here. I could reproduce and below is a patch for solving your issue
[code]

I will work on the corresponding Pull Request shortly to fix the issue. I will probably address more than F4 family as similar issue has been solved recently as well on L0 family.

[2017-07-03 09:32] LMESTM commented on #1083
@bunjes  @0xc0170
#4529 has been merged so issue now solved - please close (and re-open is any problem)

[2017-07-03 09:34] Archcady commented on #4683
This "K" message can be switch off by undefine CONFIG_DEBUG_LOG in platform_autoconf.h inside of REALTEK's target directory. However I didn't get `[EasyConnect] Using WiFi (REALTEK)`, instead I have `[EasyConnect] Using WiFi (ESP8266) ` which obviously is my setting of code being incorrect...

[2017-07-03 09:36] JanneKiiskila commented on #4683
Yes, please modify the mbed_app.json connection line -> change WIFI-ESP8266 to WIFI-REALTEK.
I can push a new commit to the mbed-os-example-client with a pre-defined config file for Realtek.

[2017-07-03 09:38] JanneKiiskila commented on #4683
Remember to also use the .mbedignore in case you have a compilation problem with Atmel RF.

[code]

[2017-07-03 09:41] JanneKiiskila commented on #4683
Pushed new commit to `mbed-os-example-client` PR https://github.com/ARMmbed/mbed-os-example-client/pull/268.

[2017-07-03 09:42] avolinski opened #4688 "Number of mbedOS mutexes exceeds maximum allowed when compiling with ARMCC"
### Description
- Type: Bug
- Related issue:
https://github.com/ARMmbed/mbed-os/commit/1d4cd0a043a0ad1cb8d92f95e9c433a1d5686719
Relates to this definition
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)

**meed-os sha:**
latest tag

**DAPLink version:**

[2017-07-03 09:44] avolinski commented on #4688
@shelib01 witnessed this issue in KCM module
cc: @liatvindzberg @yogpan01 @JanneKiiskila

[2017-07-03 09:49] bunjes commented on #1083
Thanks for solving. Two years and two months are quite a time span...
I hope you didn't work on the solution all this time ;-)

[2017-07-03 10:12] andreaslarssonublox commented on #4686
Hi, I tested the code above on the latest master i.e. d382d44f063143f2be071f77cdf17b8ab831d57c and it seems to work. The fix done by @nvlsianpu is actually fixing the issue that is reported. The commit c9e63f14085f5751ff5ead79a7c0382d50a813a2 is earlier in the history before the fix.
@NeilMacMullen can you try with the d382d44f063143f2be071f77cdf17b8ab831d57c commit instead and see if it works for

[2017-07-03 10:29] LMESTM commented on #1083
@bunjes I'm afraid this issue went through the net for all this time ... we're now cleaning up in a more systematic way to avoid this happens again  ;-)

[2017-07-03 10:45] malachib commented on #4675
OK.  A little frustrating, this is the 2nd suite I purchased specifically for mbed development which has fallen off the supported list.  I get it though, this is the nature of OSS development...

[2017-07-03 11:05] bulislaw commented on #4675
It was never actually supported by mbed OS 5, the are supported versions of mbed OS are listed on the product page https://developer.mbed.org/platforms/ST-Nucleo-F303K8/ it just happened to work if anything. On the side note, when I add '5' to supported version it compiles fine (at least blinky example), I don't have this board to validate, but maybe there's a chance you can hack the support in.

[2017-07-03 11:32] 0xc0170 commented on #4688
cc @bulislaw

[2017-07-03 11:58] bcostm commented on #3223
I don't know if the "mbed export" command has to be used only for mbed OS 5 compliant platforms ? If it is the case, then yes we should turn off this exporter on mbed OS 2 only platforms.

[2017-07-03 11:59] JanneKiiskila commented on #4688
Q: Why aren't the mutexes dynamic? If they have to be hard-coded, should it not be controllable via an mbed_app.json parameter?

[2017-07-03 12:24] bulislaw commented on #4688
Dynamic memory it disabled for RTX, therefore, generally speaking, there are no RTX object available to use (without supplying external storage memory). ARMC is exception from the rule as the toolchain library requires some number of dynamic mutexes, but by using this pool you are removing them from the system, possibly leading to a crash.

Why there's no dynamic memory for RTX objects in mbed OS

[2017-07-03 13:19] LMESTM opened #4692 "[API] Request API change configure ADC sampling time"
### Description
There have been 2 recent fixes where we needed to increase  sampling time of ADCs #4326 and #4641,

This raises the question of optionally configuring this sampling time from the application, for instance
as MIN / MAX / DEFAULT or MEDIUM. That would require a modification of the AnalogIn.h API, whether in a new constructor variant or by adding a new method.

[2017-07-03 13:35] JanneKiiskila commented on #4681
I updated the DAPLINK SW to it and now I can actually get the trace image also to the device. Client handshake however still fails.

But, the remedy for this particular problems seems to be to update the DAPLINK.
Kudos for @marcuschangarm  for pointing that out to me.

https://developer.mbed.org/platforms/REALTEK-RTL8195AM/

The instructions are a bit confusing, though.

"To update DAP firmware, p

[2017-07-03 13:57] LMESTM commented on #4326
Note: I have not reproduced the problem for TEMP measurement, I could only see it on VABT, so that #4691 does only increase sampling time for VBAT. Let me know if I missed something

[2017-07-03 14:04] #4681 closed

[2017-07-03 14:23] LMESTM commented on #4553
Fixed now

[2017-07-03 14:23] #4553 closed

[2017-07-03 14:28] marcuschangarm commented on #4681
@JanneKiiskila

Do you also get a

[code]

after some time?

[2017-07-03 15:15] NeilMacMullen commented on #4686
@andreaslarssonublox  @0xc0170 commit c9e63f1 is what you get if you run 'mbed new' (at least as of today, 3rd Jul 2017, 1500:Z)   Running 'mbed update d382d44 ' inside the mbed-os folder then 'git log -n 1' shows "commit d382d44f063143f2be071f77cdf17b8ab831d57c".

Rebuilding with "mbed compile -c" and reflashing the device, I see exactly the same behaviour unfortunately.  (The reason I'm printing

[2017-07-03 15:19] NeilMacMullen commented on #4357
@nvlsianpu  I've raised this issue as #4686 - it appears to be a regression on the Serial driver.

[2017-07-03 15:35] NeilMacMullen commented on #4686
On further investigation it appears that the problem does NOT appear (with d382d44) on an actual NINA_B1 but does appear with our own design which emulates the pin out.  I suspect this is RTS/CTS related so will look at how our schematic might be different.  This is definitely new behaviour since OS4.x though - has anything around this area been changed?

[2017-07-03 15:44] LMESTM commented on #3452
@bisqwit thanks for reporting the issue and sorry for not coming back to you earlier.

After a quick check, I noticed that there is a misalignment between some of MACROs definition of __HAL_UART_GET_IT_SOURCE and __HAL_UART_GET_IT.
In case of L0
__HAL_UART_GET_IT_SOURCE Checks whether the specified UART interrupt source is enabled
__HAL_UART_GET_IT Checks whether the specified UART interrupt has o

[2017-07-03 16:13] LMESTM commented on #3452
@bisqwit I could actually build a simple example where I think that I can reproduce the same issue as you were describing. I unblocked the situation by changing :
[code]

Would be great if you could confirm it helps on your side - I will anyway post the patch accordingly.

[2017-07-03 16:40] theotherjimmy commented on #4440
@TomoYamanaka You're welcome. Please let me know if you run into any issues when brining the branch up to the latest version of master.

[2017-07-04 06:33] andreaslarssonublox commented on #4686
By the way shouldn't the pins for RTS and CTS be passed as well e.g.:
pc->set_flow_control(Serial::RTSCTS,RTS_PIN_NUMBER,CTS_PIN_NUMBER);

See set_flow_control method in SerialBase.h

[2017-07-04 06:58] NeilMacMullen commented on #4686
@andreaslarssonublox - yes you are right.  These are defaulted to NC which seems.... just a bit counter-intuitive to me (surely they should default to CTS/RTS?).  Possibly the reason that bytes are not being received is because the host might be configured to use flow control but since we're pulling CTS low this shouldn't matter.  I need to double-check the schematic (can't do this for a few hours

[2017-07-04 07:05] nvlsianpu commented on #4686
@NeilMacMullen You can disable flow control by default for see: https://developer.mbed.org/teams/Nordic-Semiconductor/wiki/Nordic-platforms-readme#uart-hardware-flow-control-configuration

[2017-07-04 08:55] suyiii opened #4698 "I encounter a problem while using HSI on stm32l151cb"
Hello!

I want to use mbed in the stm32l151cb.I downloaded mbed for TARGET_NUCLEO_L152RE, and changed startup file and head files for stm32l151.

And then I want to use only HSI ,so I changed USE_PLL_HSE_EXTC and USE_PLL_HSE_XTAL to 0 in system_stm32l1xx.c.

After downloading the hex file into MCU, the program get into dead loop when it comes to wait_ms function in the process of initializing CPP

[2017-07-04 09:01] JanneKiiskila commented on #4683
Ok, now we managed to get it to register ONCE with UDP- seems every run is a bit different and it either hangs or dies. Other issues we see

1) WiFi connection is not stable - after a reboot, even though my hotspot is available - RTL8195 fails to connect to it.

[code]

2) With TCP I sometimes get a beacon disconnect

[code]

I think that's a bug and it shouldn't happen?

[2017-07-04 09:03] 0xc0170 commented on #4698
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-07-04 09:06] Archcady commented on #4683
I've got log like this, the register didn't success.

[code]

[2017-07-04 09:10] JanneKiiskila commented on #4683
Hi @Archcady  - you seem to have some connection problem, it's not able to connect to the COAP server.

Can you reach this address `coap://api.connector.mbed.com:5684`?

How large are the buffers in your WiFi stack? The certificate downloads are getting 2381 bytes a chunk, it seems to repeat that. Also the TLS handshaking is really slow, which might cause problems as well. Is the SSL acceleration

[2017-07-04 09:28] Archcady commented on #4683
For wifi poor connection and no beacon behaviors, we think the reason is probably poor signal if you didn't attach antenna to board.
How do I check if I can reach the address (`coap://api.connector.mbed.com:5684`) or not?
Our WiFi receive buffer is enough to accept 802.11 packet, do you mean this buffer?
For TLS handshaking being slow, one possible reason is that our text code are put into SDRAM i

[2017-07-04 09:34] JanneKiiskila commented on #4683
Hi  @Archcady

I have placed the white antenna to the board and the phone I'm using to host the Wifi hotspot for it is within centimetres of the Ameba board.

[2017-07-04 09:46] Archcady commented on #4683
Hi @JanneKiiskila ,
From my side I didn't meet poor WiFi connection problem. Then, this is a issue I should research at.

[2017-07-04 09:50] JanneKiiskila commented on #4683
Hi @Archcady

I found out that if I just repeatedly restart the `mbed-os-example-client`, I would get various errors in the initial Wifi-stage. If you do 10 reboots (and I doubt one needs the `mbed-os-example-client` for this, as it's happening so early).

There also seem to be some random crashes/freezes as well, we should found out the root cause for those. I.e. if you run the client 10 times, i

[2017-07-04 09:59] suyiii commented on #4698
I ignored the comment in system_stm32l1xx.c to uncomment VECT_TAB_SRAM because I need to relocate my vector Table in Internal SRAM.

It will not get into deep loop in startup file, but it get into deep loop in wait_ms function.

It seems that I have not confirgured the HSI correctly.

Is it because I forget something?

[2017-07-04 10:01] JanneKiiskila commented on #4683
With UDP  & logs disabled I seem to have better luck, multiple passes now.

[code]

[2017-07-04 10:15] suyiii commented on #4698
Well, I known what happened.

In Hal_tick.h, it uses TIM5 as interrupt, but TIM5 doesn't exists in my MCU.

Thank you for your attention!

I will close the issue.

[2017-07-04 10:59] marcuschangarm opened #4700 "Realtek RTL8195AM unable to pass the TLS client example"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Realtek RTL8195AM

**Toolchain:**
GCC_ARM

**Toolchain version:**
5.4.1 20160609

**mbed-cli version:**
1.1.1

**meed-os sha:**
https://github.com/Archcady/mbed-os/commit/a3a7846817d7eefe59731762f681f53d2fc80da7

**DAPLink version:**
0241

**Expected behavior**
The Re

[2017-07-04 10:59] marcuschangarm commented on #4700
@0xc0170 @Archcady @JanneKiiskila

[2017-07-04 11:13] JanneKiiskila commented on #4700
Well, it seems to be so that it fails with TCP - would be nice for the test to indicate which transport it is using. mbed-os-example-client I have managed to get to register (which implies it succesfully did a TLS then), but only over UDP.  But yes, this would be a blocking bug for the mbed-os-example-client and mbed Cloud Client to work.

[2017-07-04 11:18] LMESTM commented on #4698
@suyiii thanks for sharing the issue you faced and the actual root cause of the problem !

[2017-07-04 11:44] marcuschangarm commented on #4700
@JanneKiiskila  but you couldn't get it to reliably connect over UDP, right? I think as a first step it would be good to get this example application to connect consistently.

[2017-07-04 11:44] JanneKiiskila commented on #4681
Yes, I'm seeing that occasionally as well (TCP).

[2017-07-04 11:46] JanneKiiskila commented on #4700
Over UDP without logs it worked multiple times, over TCP - no success.

[2017-07-04 11:47] sg- commented on #4688
@avolinski If you need more help please provide a snippet showing how this is being used and failing. With that, repoen the issue.

[2017-07-04 11:47] JanneKiiskila commented on #4700
But, I agree - getting this TLS app to work is for sure a good starting point. Typically it has been one of the entry criteria for the board wake-ups.

[2017-07-04 11:47] marcuschangarm commented on #4700
It sounds more and more like a memory problem to me...

[2017-07-04 12:08] marcuschangarm commented on #4683
@Archcady it might be easier to debug using the smaller example applicetion: https://github.com/ARMmbed/mbed-os/issues/4700

I believe these issues might be related.

[2017-07-04 12:15] JanneKiiskila commented on #4683
Yes, indeed. The mbed-os-example-client is a bit complicated with all the LWM2M stuff and the problem is clearly the TLS handshake - that we can see from the logs. So, if you get #4700 resolved - it will likely resolve the mbed-os-client-example issue as well.

Good work @marcuschangarm  - smaller test case typically makes life easier.

Enabling logs with UDP also makes the success rate drop, so e

[2017-07-04 15:41] NeilMacMullen commented on #4686
@nvlsianpu   I'll give that a try later but the main issue here is that 1) the behaviour has clearly changed and 2) the set_flow_control method should work.  At this stage I can't even seem to get it to work reliably on the NINA_BA at commit d382d44 using any combination of settings and specifying the pins in set_flow_control. ( pc->set_flow_control(Serial::Disabled,RTS_PIN_NUMBER,CTS_PIN_NUMBER);

[2017-07-04 16:04] NeilMacMullen commented on #4686
Ok, I tried the config suggested in the link from @nvlsianpu That doesn't work for me either on NINA_B1 @ commit d382d44f with teraterm set to 'none' and the application 'set_flow_control' line commented out.

Exactly the same source code as above, on exactly the same hardware compiled against mbed @ commit  ed4febefdede4e works fine

[2017-07-04 18:49] HITMAnsOFT commented on #4588
I've ordered a couple of what seems to be Rev 3 nRF51822 modules. Will test this code on them when I get them.

[2017-07-04 22:07] malachib commented on #4675
@bulislaw I'll give it a shot

@jeromecoutant it sounds to me like this means for the foreseeable future, F303K8  won't be officially supported

[2017-07-05 01:58] mickeyln commented on #4622
Hi @jeromecoutant
Remove these CMSIS_VECTAB_VIRTUAL macros can not finish build.
I think fix the export tool is better. It can fix all of same issues like this.
Double escape defines in gnuarmeclipse export #4636

[2017-07-05 01:58] #4622 closed

[2017-07-05 05:36] yogpan01 opened #4702 "SD-Driver in mbed OS is having performance issue"
### Description
- Type: Bug
SD Driver performance is not the same as in freeRTOS. There has been performance improvements done through #4207 however, accompanied changes that are probably required on the SD-Driver have not implemented/merged/tested yet.
Based on @sg- 's comments from discussion
"The last commit was mid-May. It has not yet been updated to use multi-byte write. It’ll be a few more d

[2017-07-05 05:36] yogpan01 commented on #4702
@sg-  @galc FYI

[2017-07-05 05:44] yogpan01 opened #4703 "ESP8266 allows connecting to a secure AP without ssid or passphrase."
### Description
- Type: Bug
After a connection has been formed once, the ESP8266 module will remember the ssid and passphrase. Calling connect with empty strings for ssid and passphrase reactivates the connection even after `disconnect()` and hard reset. Even though the connect call returns an error value, once done the interface works.
Also, if `disconnect()` isn't explicitly called before resett

[2017-07-05 05:49] yogpan01 opened #4704 "ESP8266 starts to fail after some use in Continuous Integration"
### Description
- Type: Bug
After a few days/couple of weeks of use in test application's CI builds, ESP8266 modules start to fail tests. This blocks wlan tests using this module in CI.
The failures don't seem to follow any exact pattern. Most often either interface `connect()` or socket `connect()` fails, but also for example interface `disconnect()` has been seen to fail.
Taking one of the faili

[2017-07-05 06:02] ccli8 opened #4705 "[M487] Mis-judge as error in mbed-os-tests-mbed_hal-flash"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/pull/4608#pullrequestreview-47827294
- Priority: Minor

---------------------------------------------------------------
## Bug
The test case `mbed-os-tests-mbed_hal-flash`/`Flash - clock and cache test` is to detect illegal change of cache setting in flash algorithm. It sets up 0.1% performance drift rate to judge ille

[2017-07-05 06:20] jeromecoutant commented on #4675
As long as OS2 is supported by ARM MBED, it will be supported...

[2017-07-05 06:27] jeromecoutant commented on #4622
No, idea is to remove it AND update CMSIS part :-)

[2017-07-05 07:47] LMESTM commented on #3452
Fix pushed for review and test : #4707

[2017-07-05 10:09] suyiii commented on #4698
Sorry, I am afraid that I have not solve the problem correctly.

I used TIM10 in hal_tick.h. It seems that the function us_ticker_read() always returns 0. Maybe TIM_MST->CNT never changes?

[2017-07-05 11:12] LMESTM commented on #4698
That's ok.
But it may be hard to guess where your issues come ... possible cause for CNT not increasing are:
- timer not clocked or under reset (either up in the clock tree or the timer itself)
     => Could you share the modified hal_tick.h file ?
- timer not properly initialized
    => can you check return codes of calls to HAL_TIM_OC_Start in hal_tick_23b.c file ?

[2017-07-05 11:13] sg- commented on #4703
Call connect with a different SSID or phrase that is incorrect to fix this behavior.

[2017-07-05 11:13] #4703 closed

[2017-07-05 11:21] sg- commented on #4702
Fixed by https://github.com/ARMmbed/sd-driver/pull/6, https://github.com/ARMmbed/sd-driver/pull/9, https://github.com/ARMmbed/sd-driver/pull/17, https://github.com/ARMmbed/sd-driver/pull/18, https://github.com/ARMmbed/sd-driver/pull/26, https://github.com/ARMmbed/sd-driver/pull/27

[2017-07-05 11:55] binary-nerd commented on #3509
@pan- Hi Vincent,

I understand that this patch is for NRF51822

But my target is F091RC.

I took your patch and tried to compile. I get following error.

[code]

I see that os_clockrate is specific only to NRF51822. Can i quickly adapt this patch to F0? that would be really nice until we have tickless mode supported.

Thank you.

[2017-07-05 12:07] pan- commented on #3509
@binary-nerd This variable was part of the RTX kernel V1 but isn't in V2. Instead you can use the define `OS_TICK_FREQ`.

[2017-07-05 12:18] binary-nerd commented on #3509
Thanks @pan-

`OS_TICK_FREQ` was not defined. Instead i could find `os_tickfreq` which is initialized to OS_CLOCK

Hence `extern const uint32_t os_tickfreq` is compiling well.

Thank you very much for the patch.. :)

[2017-07-05 12:23] pan- commented on #3509
`OS_TICK_FREQ` is always defined, it lives in `RTX_Config.h` ([see](https://github.com/ARMmbed/mbed-os/blob/master/rtos/rtx5/TARGET_CORTEX_M/RTX_Config.h#L51)).

* `OS_CLOCK`: Clock speed of the MCU (in Hz)
* `OS_TICK_FREQ`: Tick frequency (in Hz)

[2017-07-05 12:25] akrnvm commented on #4680
Thank you.
Test cases are passing after changing the systick configuration.

[2017-07-05 13:03] #4680 closed

[2017-07-05 13:05] pan- commented on #4680
@akrnvm Could you detail a bit how you managed to solve the issue ?

[2017-07-05 13:08] bcostm commented on #4698
I see that TIM10 is a 16-bit timer and not 32-bit. This timer has never been used as a 16-bit timer. Only timers 1, 4 and 21. So maybe there is something missing for this timer in the configuration ? (just a thought...)

[2017-07-05 13:28] nvlsianpu commented on #4686
I can't reproduce this on NRF52_DK @andreaslarssonublox It is possible to reproduce this issue on the NINA_B1x board? (I don't have a such)

[2017-07-05 14:32] bulislaw commented on #4700
Probably worth adding test for that...

[2017-07-05 15:19] theotherjimmy commented on #4675
@jeromecoutant @malachib That should probably be phrased as "for the forseeable future, the F303K8 will not be officially supported as an mbed OS 5 target."

[2017-07-05 15:57] theotherjimmy commented on #4705
@ccli8 Why would the performance drift rate reach 5%?

[2017-07-05 21:12] malachib commented on #4675
@jeromecoutant @theotherjimmy wish it was in OS 5, but these answers work for me :+1: Thank you all, closing the issue

[2017-07-05 21:12] #4675 closed

[2017-07-05 22:12] amq opened #4709 "Exporter doesn't parse extra_targets.json"
### Description
- Type: Bug
- Related PR: https://github.com/ARMmbed/mbed-os/pull/4103
- Priority: Minor

---------------------------------------------------------------
## Bug

**mbed-cli version:**
1.1.1

**meed-os sha:**
8828635da

**Expected behavior**

After defining an extra target in `extra_targets.json`, it would be successfully exported

**Actual behavior**

"error: argument -m/--mcu: x i

[2017-07-05 22:56] theotherjimmy commented on #4709
Thanks for reporting this! It looks like it was just an omittion. I'll take a look at it tomorrow, schedule permitting.

[2017-07-06 04:13] waymond91 commented on #4653
Ok, so I have updated my mbed cli and looking through the target files for the stm32f411 it seems like the clock config has been moved to a json file per system_clock.c in for the nucleo board on line 42
`
  42|// clock source is selected with CLOCK_SOURCE in json config
  43| #define USE_PLL_HSE_EXTC     0x8  // Use external clock (ST Link MCO)
  44| #define USE_PLL_HSE_XTAL     0x4  // Use exter

[2017-07-06 04:49] akrnvm opened #4712 "Operator new[] out of memory causes Greentea test failure"
"features-tests-filesystem-mbr_block_device" test case is failing in GCC_ARM toolchain.
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Custom board with limited RAM size.
RAM=16KB
ROM=128KB

**Toolchain:**
GCC_ARM

**Toolchain version:**
Version 6.0
**mbed-cli version:**
(1.1.1)

**Expected behavior**
'Testing mbr

[2017-07-06 05:02] akrnvm commented on #4680
Initially I have updated my system clock value in mbed_RTX.h with OS_CLOCK  variable.
in mbed OS 5.0 onward, OS_CLOCK  variable is not using and the systick is getting updated in rtx_kernel.c
`osRtxInfo.kernel.sys_freq = SystemCoreClock;`

[2017-07-06 06:14] TomoYamanaka opened #4713 "The error message for mbed OS 5.5 disabling Cortex-A is different between online compiler and offline (mbed CLI)"
### Description
- Type: Bug
- Related PR: https://github.com/ARMmbed/mbed-os/pull/4415, https://github.com/ARMmbed/mbed-os/pull/4377
- Priority: Major

**Target**
RZ_A1H | VK_RZ_A1H

---------------------------------------------------------------
## Bug

mbed OS 5.5 disable building of Cortex-A targets.
Therefore, As shown in the https://github.com/ARMmbed/mbed-os/pull/4415 and https://github.com/

[2017-07-06 08:32] andreaslarssonublox commented on #4686
Hi, I have tested the following on the UBLOX_EVK_NINA_B1 and commit d382d44f063143f2be071f77cdf17b8ab831d57c with the debug profile:

### Default configuration with HW flow control enabled:
- Using pc->set_flow_control(Serial::RTSCTS, RTS_PIN_NUMBER, CTS_PIN_NUMBER) putty with flow control=RTS/CTS - works
- Using pc->set_flow_control(Serial::Disable) putty with flow control=None - works
- Using no

[2017-07-06 08:45] bulislaw commented on #4713
@theotherjimmy it seems something slips past the checks? Which it shouldn't as the mbed OS 5 is removed from the supported OS versions...

[2017-07-06 08:48] #4537 closed

[2017-07-06 08:48] #4532 closed

[2017-07-06 08:59] RobMeades commented on #4428
@kjbracey-arm: is it possible to get some idea when HW flow control might be available in a PR?  I've some work that needs higher data rates that I can only realistically schedule with this in place.

[2017-07-06 09:11] bulislaw commented on #4712
`Operator new[] out of memory` seems like you need more memory on the HEAP. GCC usually generates bigger code than other toolchains, so I'm guessing that's why you are having the problems. You may need to find some savings on your platform or possibly try to optimize the test itself. One thing to note is that for GCC (and ARM) HEAP size is dynamic, so any savings elsewhere should be automatically

[2017-07-06 09:23] kjbracey-arm commented on #4246
I believe the core problem here is resolved by ARMmbed/mbed-os#4375. Can you confirm?

[2017-07-06 09:26] Nodraak commented on #3464
Hi !

What is the status here ? It seems that the issue has been fixed by commit 1c4e0d7dcbc78dfa066e64f16213317b8cb91395, as [can_write() can sometimes return 0](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/can_api.c#L249).

[2017-07-06 09:47] kjbracey-arm commented on #4428
Not sure we've got the resource available to work on testing this at our end in the next couple of weeks. Seems like it should be basically making the Rx IRQ handling more similar to the Tx IRQ handling - IRQ handler can disable it, and foreground read routine re-enables it.

If I knock out a quick patch proposal can you test it?

[2017-07-06 09:48] RobMeades commented on #4428
Yup, absolutely.

[2017-07-06 10:32] pmancele commented on #4246
It is resolved yes, but only if you build with the release profile as explained pleviously.
With some driver improvements (which are on going as you explained here https://github.com/ARMmbed/atmel-rf-driver/issues/53#issuecomment-313344029) we may be able to fully resolve the problem.

[2017-07-06 10:37] nvlsianpu commented on #4686
SEGGER J-Link cheat a little - it might doesn't work properly without CTS/RTS flow-control. I have tested it again with FTDI232 adapter (so I was sure how wiring looked like and which signals were connected to devices). It have been worked properly for flow both control OFF and ON modes. Then it must have be problem with an UART adapter you used @NeilMacMullen.

[2017-07-06 11:07] kjbracey-arm commented on #4428
Try this. Untested apart from compilation.

https://github.com/kjbracey-arm/mbed-os/tree/uartserial_flow

[2017-07-06 11:20] NeilMacMullen commented on #4686
The idea about the on-board debug chip getting confused is interesting and might help explain the B1 behaviour (recall that this originally worked for me but then seemed not to!)  On our 'real' hardware which also appears to show the problem, we use a standard FTDI-232 adaptor cable with RTS/CTS not connected to the FTDI.  I will have some more time tonight so will see if I can come closer to isol

[2017-07-06 13:11] marogi opened #4716 "Stream::write always returns at least 1"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
All

**Toolchain:**
Any (tested on GCC_ARM)

**Toolchain version:**
Any (tested on  6-2017-q1-update/ARM/embedded-6-branch revision 245512)

**mbed-cli version:**
1.1.1

**mbed-os sha:**
1af8aef5dc0dd981f23bfe3cfdfb9df8d6e820f9

**Expected behavior**
`Stream::write(cons

[2017-07-06 13:23] RobMeades commented on #4428
Testing now, will send e-mail shortly.

[2017-07-06 13:43] kjbracey-arm commented on #4428
It occurred to me that it might get a bit stuck without the same basic "do it in the foreground" logic as TX. Extra tweak added to branch.

[2017-07-06 15:18] #4655 closed

[2017-07-06 15:27] geky commented on #4704
Related pr on esp8266:
https://github.com/ARMmbed/esp8266-driver/issues/33

The tests need retry logic added.
cc @deepikabhavnani, @kegilbert

[2017-07-06 17:25] #4257 closed

[2017-07-06 18:09] NeilMacMullen commented on #4686
I have isolated the change that causes this.  The code I'm using is...
`#include "mbed.h"
#include "id.h"
int main()
{
  Serial *pc = new Serial(USBTX, USBRX);

  pc->format(8, Serial::None, 1);
  pc->set_flow_control(Serial::RTSCTS);
  pc->baud(115200);
  pc->printf("LOOPBACK SERIAL %s >>>>>>\r\n",ID);
  while (1)
  {
    while (pc->readable())
    {
      char c = pc->getc();
      pc->putc('@')

[2017-07-06 18:52] theotherjimmy commented on #4713
Hi @TomoYamanaka I'm currently working on updating the version of the tools on the website. @bulislaw It's not that it slipped through, it's that the web tools are just behind.

[2017-07-06 19:15] MarceloSalazar commented on #4686
@bulislaw @0xc0170 I understand you've been working on sleep, could you have a look please?

[2017-07-06 19:27] NeilMacMullen commented on #4686
I did wonder if perhaps the chip was relying on the RTS line going active to wake it from sleep so tried using pc->set_flow_control(Serial::RTSCTS,RTS_PIN_NUMBER,CTS_PIN_NUMBER); on the NINA_B1 but still see the same behaviour.

[2017-07-06 19:32] theotherjimmy commented on #4713
Further status: My development version shows the error message like expected.

[2017-07-06 20:48] RobMeades opened #4722 "Serial handling at high data rates with HW flow control on ST platforms"
# Description
- Type: Possible Bug?
- Priority: Minor

**Target**
STM

I'm dealing with an application on an ST platform in which the serial port is being run at quite a high rate (460800 bits/s).  In order to receive characters reliably at the MCU with this kind of rate, HW flow control is being employed.  While investigating some character loss I'm seeing in this scenario I noticed something odd

[2017-07-06 22:49] RobMeades commented on #4722
OK, so my logic above is flawed:  the interrupt handler only clears the `UART_FLAG_RXNE` flag _after_ it has called `UARTSerial::rx_irq()`, so the flag will be set when `serial_readable()` is called.  But the effect remains.  I'll poke at it more tomorrow and report back on whether I'm seeing phantoms.

[2017-07-07 01:35] TomoYamanaka commented on #4713
@theotherjimmy

Thank you for your comments.

If you are possible, please can you let me know an approximate time that version of the tools on the website will be updated?

[2017-07-07 05:58] rene-aguirre opened #4723 "Can't define custom_target"
"custom_targets" mbed_app.json configuration can't be set, mbed cli reports this error:

[code]

It looks the file `mbed-os/tools/config/__init__.py` is missing the definition in the `__allowed_keys` for application items.

### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Custom / Any

**Toolchain:**
GCC_ARM|ARM|IAR

[2017-07-07 06:58] LMESTM commented on #4722
@RobMeades Hi Rob - would be great if you can share a a basic sample code, using PC serial for instance and the same APIs you're using in your program

[2017-07-07 07:09] mickeyln commented on #4622
Hi @jeromecoutant
Yes, I agree your idea. CMSIS 5 seems have some problem I can not run on by board even build finished.

[2017-07-07 07:14] RobMeades commented on #4722
Understood, though that might take a while as I would have to understand how `UARTSerial` worked first.  I am actively investigating the original data-loss-at-high-data-rates issue (which may be related) with @kjbracey-arm at the moment, let me continue with that and I will return to this either (a) when we've sorted it or (b) when we think that resolving this might resolve that, IYSWIM.

[2017-07-07 07:15] ElectronicaXAB3 commented on #4151
Will this bug be solved? Because in revision 146, the bug is not allowing a compile to run.

[2017-07-07 07:48] toyowata commented on #4151
In revision 146:
[code]

cc @0xc0170 @geky

[2017-07-07 09:09] kjbracey-arm commented on #4722
Hi - I had a look at the driver, and it occurred to me that the manual clearing of RXNE looked dubious. Rob confirms that removing the manual clearing from `uart_irq` solves the problem.

The act of reading from the data register clears RXNE automatically. If the IRQ handler clears it manually, then it can drop a byte of data that arrived during execution of the handler.

It's also possible that t

[2017-07-07 09:23] RobMeades commented on #4722
FYI, ref. Kevin's point about the manual clearing of TC for Tx, after commenting out the  manual clearing of RXNE in `uart_irq()` I was able to successfully receive data at the serial port without any loss at 460800.

However my setup is end to end to a remote server (a modem is attached to the serial port) and I found that, when I switched to 460800, the server received no data whatsoever, yet it

[2017-07-07 09:33] kjbracey-arm commented on #4722
That may in turn be the answer for the odd use of TC rather than TXE.  If it was TXE, and the clear was in the same place, it would have jammed at any baud rate.

[2017-07-07 09:34] bulislaw commented on #4686
The board is put to sleep, when RTX calls to idle, between SysTicks (we don't have tickless mode yet), for both develop and release profiles. You can try disabling it by either using `mbed compile [...] --profile debug` or removing `SLEEP` from device_has in targets.json and see if that changes the behavior.

[2017-07-07 09:36] andresag01 opened #4724 "mbed TLS examples failing with mbed-os-5.5.2"
### Description
- Type: Bug
- Related issue: `mbed-os-5.5.2`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
Multiple targets tested by Jenkins CI

**Toolchain:**
GCC_ARM, ARM and IAR

**Toolchain version:**
Refer to the CI run for [this PR](https://github.com/ARMmbed/mbed-os-example-tls/pull/99) for more information regarding tools.

**Expecte

[2017-07-07 09:41] RobMeades commented on #4722
FYI, speculatively (not claiming any science here) I tried attaching the Tx interrupt to TXE rather than TC.  This worked fine but my end-to-end uplink throughput (my data is 100% uplink UDP packets) dropped by around 20% (180 kbits/s versus 220 kbits/s).

[2017-07-07 09:45] kjbracey-arm commented on #4722
I assume that would be the effect of doing 1 byte per interrupt rather than 2.  The bursty thing worked out in your favour. That was why I wasn't sure about adjusting it.

Devices with FIFOs usually have water-mark settings to counteract that, eg generating an interrupt with 4 bytes or space available in the buffer, else after a timeout.

This lacks FIFOs, so nothing you can do on RX, but using TC

[2017-07-07 09:56] kjbracey-arm commented on #4722
A data rate that high at one-byte-per-interrupt is really pushing it. The original point of the FIQ interrupt and dedicated registers on the ARM was to achieve 250 kbit/s 1-byte-at-a-time to the floppy disk drive, meaning the ARM could do the job itself without needing a DMA controller.

Managing the same with normal IRQs is a stretch, even with the faster CPU core speeds we have 30 years later (m

[2017-07-07 10:06] kjbracey-arm commented on #4722
So what I'm saying is we would need to start worrying about the DMA/"multibuffer" mode here to get near line rate. Whereas a UART with FIFOs and water marks would work fine and transparently.

Not sure if its possible to hide that DMA/multibuffer inside the HAL's normal serial_getc/putc API.

UARTSerial doesn't support the separate asynch API at the moment, but even if it did the STM driver doesn'

[2017-07-07 10:08] RobMeades commented on #4722
@LMESTM I'd be happy to support such work as we have modems connected to this serial port that support far higher data rates than 460800.  How can I help?

[2017-07-07 11:31] NeilMacMullen commented on #4686
I'll try this later but surely the device would be expected to wake up on data reception and stay away while data is queued for the uart?

[2017-07-07 12:10] LMESTM commented on #4722
@RobMeades I'll have a look asap, hopefully next Monday - what would help is a simple sample code with Serial to PC to reproduce the issue

[2017-07-07 12:36] RobMeades commented on #4722
Thought you might say that, have been working on it, will post something here when I have it.

[2017-07-07 15:36] deepikabhavnani commented on #4704
@yogpan01 - Please let us know the version of esp8266 driver and mbed-os are failing.

I am testing connect in loop and it is working fine with below versions.
mbed-os - mbed-os-5.5.2 tag
esp8266 – v1.3 tag

Also, firmware upgrade for esp8266 device is required:  https://developer.mbed.org/teams/ESP8266/wiki/Firmware-Update

[2017-07-07 16:36] sg- commented on #4700
We have tests for DTLS handshake, not sure what is different for the TCP version but could easily be extended.

@marcuschangarm Why are you on Archcady's fork and not a specific mbed OS release? Are there things needed in his repo?

[2017-07-07 16:59] kegilbert commented on #4575
Is anyone still seeing this error?  This should be good to close if no one can reproduce, above fix went in earlier this week.

[2017-07-07 17:04] theotherjimmy commented on #4723
use custom_target.json as described here: https://github.com/ARMmbed/Handbook/blob/5.5/docs/advanced/mbed_targets.md

[2017-07-07 17:05] theotherjimmy commented on #4723
@rene-aguirre Where did you find documentation that lead to trying this?

[2017-07-07 17:07] theotherjimmy commented on #4713
I can tell you that they will be up to 5.5.1. @immunda Will be able to tell you when it's live.

[2017-07-07 17:13] rene-aguirre commented on #4723
Here:
https://docs.mbed.com/docs/mbedmicro-api/en/latest/api/md_docs_config_system.html

I googled for "mbed custom targets" and ended up in that page.

[2017-07-07 18:14] theotherjimmy commented on #4723
Thanks. Adding a deprecated notice.

[2017-07-07 18:21] theotherjimmy commented on #4723
To get this working, create a file named `custom_targets.json` in the root of you project with the following contents:
[code]
Note: This definition omits the `"extra_labels_add"` bit as the labels of a target are inherited.

Alternatively, if you just need to override the core attribute and don't need it to be a custom target, you could have this in your `mbed_app.json`:
[code]

[2017-07-07 18:27] theotherjimmy commented on #4723
I hope the above helps @rene-aguirre. I am now using this issue to track updating the documentation to avoid this issue in the future.

[2017-07-07 18:40] rene-aguirre commented on #4723
thanks @theotherjimmy , inheriting from FAMILY_STM32 doesn't work as CMSIS include paths are missing, but the custom_targets.json with the DISCO_F429ZI override works as expected.

[2017-07-07 18:42] theotherjimmy commented on #4723
Excellent. As it turns out, the page you found is available by mistake. It should be taken down shortly. Is there any documentation that you would like to see added to https://docs.mbed.com/docs/mbed-os-handbook/en/latest/advanced/config_system/ that would make it more clear that defining custom targets is now in its own file?

[2017-07-07 18:47] rene-aguirre commented on #4723
Definitely! :-) That page is missing any reference to `custom_targets.json` it only mentions `mbed_app.json` and `mbed_lib.json`.

When I looked at that page I had initially thought the only way to have a custom targets was though editing the `targets.json` file due lack of any `custom_targets.json` reference.

[2017-07-07 18:51] theotherjimmy commented on #4723
I'll add that soon, and mention you on the PR for review.

[2017-07-07 19:05] theotherjimmy commented on #4723
@rene-aguirre see https://github.com/ARMmbed/Handbook/pull/19

[2017-07-07 22:32] theotherjimmy commented on #4723
@rene-aguirre I think we got this all tidied up. I'm going to close this.

[2017-07-07 22:32] #4723 closed

[2017-07-08 09:55] RobMeades commented on #4722
@LMESTM : I've created a repo containing a Greentea test of serial port performance.  Its checks for zero character loss and an expected throughput, repeating the test at increasing baud rates up to a configurable maximum (I've proposed a throughput of no more than 20% below the line rate at up to 460800 bits/s).  It requires an mbed board with a spare serial port on which the `Tx` line can be loo

[2017-07-09 14:51] marcuschangarm commented on #4700
@sg- it contains a RAM fix that hasn't been merged yet: https://github.com/ARMmbed/mbed-os/pull/4665

[2017-07-10 01:00] suyiii commented on #4698
Thank you for your help! I've left some days for some personal reason.
@LMESTM
Below are my hal_tick.h codes.

#define TIM_MST      TIM10
#define TIM_MST_IRQ  TIM10_IRQn
#define TIM_MST_RCC  __TIM10_CLK_ENABLE()

#define TIM_MST_RESET_ON   __TIM10_FORCE_RESET()
#define TIM_MST_RESET_OFF  __TIM10_RELEASE_RESET()

#define TIM_MST_16BIT  1 // 1=16-bit timer, 0=32-bit timer

#define TIM_MST_PCLK  2 //

[2017-07-10 01:11] suyiii commented on #4698
Sorry, I check the reference manual. TIM10 has only one channel, so I changed it to TIM9. But the us_ticker_read still returns 0.

[2017-07-10 01:45] suyiii commented on #4698
Well.  I made a foolish mistake that I ignored the pre-compiled symbol so I used the compiled us_ticker_32b.o and hal_ticker_16b.o downloaded from official website.

Anyway, thank you for your attention and your help!

[2017-07-10 01:45] #4698 closed

[2017-07-10 06:28] JanneKiiskila commented on #4700
Yep, you can't link it unless that fix is in.

[2017-07-10 06:34] JanneKiiskila commented on #4700
@bulislaw  - This PR will get you WiFi to TLS as well; https://github.com/ARMmbed/mbed-os-example-tls/pull/101 and/or any other bearer we can figure out, as long as we just add them to easy-connect.

[2017-07-10 08:00] Archcady commented on #4700
During my debugging, just find that if not set blocking, (_timeout == -1), then the example will have success output
[code]

[2017-07-10 08:17] JanneKiiskila commented on #4700
@Archcady  - where exactly do you do that `_timeout` modification?

[2017-07-10 08:23] Archcady commented on #4700
Hi @JanneKiiskila , I comment out ` _tcpsocket->set_blocking(false);` in HelloHTTPS(), located in main.cpp

[2017-07-10 08:26] LMESTM commented on #4722
@RobMeades - thanks I'll have a look. Short term objective is to make the setup stable and fix the interrupts management.

@kjbracey-arm said:

so is there a point in supporting DMA as of now ? This is not in our plans for now.

[2017-07-10 08:48] RobMeades commented on #4722
From my testing with a single looped-back serial port the maximum achievable communication rates were as below.  For such an enormously capable chip, the lack of buffering in the UART HW is quite odd, and it has quite an impact on the achievable throughput; my assumption was that the DMA mode was how ST intended this UART to be used in order to compensate for the lack of a HW buffer.

[code]

[2017-07-10 09:09] JanneKiiskila commented on #4462
I think the fix proposed by Archcady should go into the next mbed OS 5.5.x patch release.
That solves the linking issues. We have then more other issues, but those can't even be debugged with an official mbed OS release unless this PR (#4655) is taken in).

[2017-07-10 09:11] kjbracey-arm commented on #4722
@RobMeades - would be mildly interested to see the same table using the TXE interrupt. I know you found TXE was slower with real lwIP at 460800, but this synthetic test would be interesting.

@LMESTM - UARTSerial supporting the async API isn't in our current plans, so there's no need to start work on the DMA now.

It appears it would be necessary to get maximum performance out of this chip, but as

[2017-07-10 09:13] LMESTM commented on #4722
@RobMeades trying out your test code. I'm hitting a comilation issue (other than the _rxbuf one ).
[code]

Are there missing commits in the branch ?

[2017-07-10 09:13] JanneKiiskila commented on #4681
Even with the updated DAPLINK SW I'm seeing sometimes the "USB device malfunctioned" error notifications in Windows, so there's definitely something still going on with the firmware. Is the very latest DAPLINK used?

[2017-07-10 09:16] RobMeades commented on #4722
Sorry, that's a PR that hasn't got through yet, see here:

https://github.com/ARMmbed/mbed-os/pull/4615

Without it you can only set the baud rate when `UARTSerial()` is instantiated.  Can you hack it or shall I bring the two threads onto one branch somewhere?

[2017-07-10 09:17] Archcady commented on #4681
cc @tung7970

[2017-07-10 09:25] LMESTM commented on #4722
@RobMeades that's ok. It compiles fine now.

[2017-07-10 09:36] RobMeades commented on #4722
@kjbracey-arm: shifting from the Tx Complete interrupt to the Tx Empty the numbers do improve (see below).  Why would that be, when they degraded for my 'real' case?

[code]

[2017-07-10 09:42] kjbracey-arm commented on #4722
With TXE you're getting your transmit data in earlier, reducing dead line time, but you're doing 1 TX byte per interrupt rather than 2, increasing total CPU time spent on data pumping.

That doesn't have an adverse impact on your simple test, which has nothing much else to do, but when using lwIP, you ended up starving the network stack. Presumably not enough time left for all the packet copying a

[2017-07-10 09:51] ccli8 commented on #4705
@theotherjimmy It depends on flash controller in the bottom layer.

[2017-07-10 09:52] RobMeades commented on #4722
Complicated.  On our C030 board we have an HSPA modem connected to this serial port that can run at several megabits per second so, for us, throughput is everything.  Maybe we need to look at writing our own DMA serial driver?

[2017-07-10 09:53] LMESTM commented on #4722
@RobMeades ok so the test is running now, but I can't see any failure due to missed characters. Have you been able to reproduce on your side ?

[2017-07-10 10:04] RobMeades commented on #4722
I did when I was testing on Saturday, let me try again.  It is probably quite timing sensitive, since a character has to arrive in the right window.

[2017-07-10 10:05] TaniaMirzin commented on #4688
@sg-
@avolinski
@shelib01
Hi ,
Alex, please reopen this issue.
Sam, please our application that reproduce this issue - https://github.com/ARMmbed/mbed-mutex-restore.
This application works only with mbed-os,sd-driver, pal and esfs.(wihout factory-configurator-clinet and kcm).
I added comments for each operation that increase num of mutex.
This application fails on esfs_close() operation.

[2017-07-10 10:06] bulislaw commented on #4688
No access to your app.

[2017-07-10 10:07] RobMeades commented on #4722
I think you have to persist, it took me two tries.  Maybe hack the test to run only at 460800 and for longer than 10 seconds?  Here was my error case:

[code]

[2017-07-10 10:19] TaniaMirzin commented on #4688
@bulislaw
Please check now, i added mbed-os-coresw group to collaborators list

[2017-07-10 11:28] kjbracey-arm commented on #4722
@RobMeades - extending UARTSerial to support async transfers so megabit rates can work shouldn't be too hard, but I don't believe we're particularly focused on high throughput, so it's not in our current plans to do it. Maybe something to discuss later.

[2017-07-10 11:30] LMESTM commented on #4722
@RobMeades ok, got it now, by increasing the max speed to 921600 ...
[1499685936.35][CONN][RXD] !!! Received 337 character(s) (transmitted 771 character(s)), received '7', expected '6', last 17 character(s) received were !!!
[1499685936.35][CONN][RXD] 01234567890127457

One generic question: I haven't the background of why you need UARTSerial vs RawSerial, can you explain  ?

[2017-07-10 11:40] kjbracey-arm commented on #4722
UARTSerial does background transfers via buffers - it's a "full" driver providing a useable FileHandle so applications can do "write 200" and continue, with the transfer continuing in the background. Or if they do do a really big write, their thread blocks properly without consuming CPU time while the background transfer proceeds.

RawSerial's write(200) would actually block and use 100% CPU while

[2017-07-10 11:40] RobMeades commented on #4722
`UARTSerial()` is the class that underpins serial comms in the new Cellular API, which was introduced in mbed 5.5.  It provides an interrupt-driven, buffered, serial entity that can be passed between and AT parser and PPP as required.  I'm sure @kjbracey-arm can explain it better though.

[2017-07-10 11:49] bulislaw commented on #4688
I can confirm, all the mutexes are created by the toolchain. As a workaround you can bump the number of available mutexes to 9. I'll think about more sustainable solution as we keep finding usecases that require more and more mutexes.

[code]

[2017-07-10 11:58] JanneKiiskila commented on #4688
Please label this as OSCA!  @sg- @0xc0170 @bulislaw

[2017-07-10 12:05] RobMeades commented on #4722
FYI, with a `UARTSerial()` buffer size of 512 bytes the peak throughput rolls off at around 290 kbits/s:

![throughput](https://user-images.githubusercontent.com/6726745/28017222-2bb85d78-6570-11e7-8a48-b6cbe3ccc16e.png)

[2017-07-10 12:16] JanneKiiskila commented on #4526
@sg- @0xc0170 - please add label OSCA.

[2017-07-10 12:36] bulislaw commented on #4688
Label doesn't exist, I don't have powers to create a new one. @sg-

[2017-07-10 12:42] LMESTM commented on #4722
@RobMeades @kjbracey-arm   Thanks for your explanations. I was mentioning RawSerial because the asynch support is there and that avoids as well blocking the calling thread.

@RobMeades  Would you mind sharing the changes you've done to test using TXE instead of TC ?

[2017-07-10 12:51] RobMeades commented on #4722
I just looked inside `uart_irq()` and `serial_irq_set()` for `UART_IT_TC` and replaced it with `UART_IT_TXE`, see below (this diff also has the commenting out of the lines that reset the flags):

[code]

[2017-07-10 13:05] kjbracey-arm commented on #4722
@LMESTM   I believe the RawSerial asynch API would likely show a variant of the same loss issue, because it goes through the same uart_irq() to do the asynchronous transfer.

[2017-07-10 13:11] trianglee commented on #4688
@bulislaw, who is "you" in your comment above?
Will the increase of mutexes make it to the next mbed OS release?

[2017-07-10 13:13] LMESTM commented on #4722
@kjbracey-arm sure I'm thinking about performances here. I will send a PR not clearing the flags for fixing the data loss .

[2017-07-10 13:14] bulislaw commented on #4688
It's me and mbed OS core team.

I hope not! I hope we can solve it in a better way, but if it's a blocker for you now, increasing number of mutexes would work around this issue.

[2017-07-10 13:16] kjbracey-arm commented on #4722
I would also expect the current HAL asynch performance to be much the same as the UARTSerial's portable version - the data pump is basically the same.

[2017-07-10 13:16] 0xc0170 commented on #4705
Can you elaborate @ccli8 ? We have tested already few variants of flash controllers, haven't experienced this drift. What is causing it? Is this documented anywhere?

cc @c1728p9

[2017-07-10 13:39] trianglee commented on #4688
@bulislaw, @sg-, please see comment in internal JIRA ticket.

[2017-07-10 13:45] bcostm opened #4730 "STM32L053xx DAC pin not correctly set in PeripheralPins.c"
### Description
- Type: Bug
- Related issue: https://developer.mbed.org/questions/78531/DAC-error-Unknown-DAC-channel/
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
DISCO_L053C8
NUCLEO_L053R8
Check also all STM32 devices having one single DAC output

**Toolchain:**
ALL

**mbed-os sha:**
efc5c47e55b8a30c2acb366808975411e4bae7fd

------------

[2017-07-10 13:50] 0xc0170 commented on #4688
I dont see linked jira ticket here, and might be worth sharing the details here if possible, or link to internal jira (stating that it's internal).

[2017-07-10 13:53] trianglee commented on #4688
@0xc0170, all,
Internal JIRA ticket is IOTFT-482.

[2017-07-10 13:57] LMESTM commented on #4722
@RobMeades  about peak throughput that you've observed - is it with the test setup or your real application with lwIP and modem ?

Just to share a few results I've observed here.
 I've made proposed modifications in a branch here: **https://github.com/LMESTM/mbed/tree/test_uartserial_flow**

It shows a higher limit than yours. I'm using release profile for this measurement.
+--------+-------------

[2017-07-10 14:11] theotherjimmy commented on #4526
@JanneKiiskila What would OSCA stand for?

[2017-07-10 14:32] theotherjimmy commented on #4730
@bcostm Would you like to submit that pull request? Would you like me to?

[2017-07-10 14:38] #4575 closed

[2017-07-10 14:39] theotherjimmy commented on #3223
@bcostm `mbed export` may be used for mbed OS 2 programs as well as mbed OS 5 programs. The difference here is that exporting a mbed OS 5 project to an mbed OS 2 only board might be causing an issue here. I can disable that, as it's not guaranteed to be supported.

[2017-07-10 14:47] RobMeades commented on #4722
My results were all with the test setup.

I've just grabbed your branch and run the same tests here and they do indeed show a *good* *improvement*, though not as large as yours.  It seems to me that there is a startup condition (maybe timing, temperature, who knows?) somewhere that can give different results as I can no longer repeat the apparent improvement I got with switching to the Tx Empty in

[2017-07-10 14:53] RobMeades commented on #4722
And to match your names, testing your code with release profile gives me:

[code]

[2017-07-10 14:54] 0xc0170 commented on #4724
@andresag01 Has anyone looked at this, what is this regression? The cause?

[2017-07-10 15:11] LMESTM commented on #4722
One more update in my branch - I checked the Peripheral Clock frequency of the UART IP (on APB1 n my case) and it was not running at max speed. So with frequency increase that gives:
[code]

Would those various optimizations match your need ?

[2017-07-10 15:12] LMESTM commented on #4722
@RobMeades so what is the difference between your 2 tests results - was it the debug profile VS. release profile ?

[2017-07-10 15:15] LMESTM commented on #4730
@bcostm  may not connect frequently in the coming days,
so @theotherjimmy  do you think you could do it ?

[2017-07-10 15:17] RobMeades commented on #4722
Yes, debug v release.  I've grabbed our clock rate change but it doesn't seem to give me an additional improvement - which UART are you using?

[2017-07-10 15:21] RobMeades commented on #4722
Yes, debug v release.  Can you take a look at the `system_clock.c` for our C030 target:

https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F437xG/TARGET_UBLOX_C030/system_clock.c

...and see if it looks correct to you?

[2017-07-10 15:21] LMESTM commented on #4722
I've being using UART4 for my tests.
From my latest results it seems to only provide performance improvement when using 1843200  baudrate.
But on a loaded system, like your final application, this may bring improvement I think, so you may want to consider  it again in your final setup.

[2017-07-10 15:24] LMESTM commented on #4722
On F437, I think UART2/3/4/5 are all on APB1, so I would suggest to do the change and increase your UART frequency if you're looking for performances rather than power saving. At least worth a try with the modem during a real use case as mentioned in previous post.

[2017-07-10 15:25] pan- commented on #4712
@bulislaw duplicate of #4591 .

[2017-07-10 15:29] LMESTM commented on #4722
Ooops ... my mistake !
I just checked with STM32CubeMX software and APB1 max allowed frequency is 45MHz, so please discard latest change, this is not allowed and might create unpredictable behavior. Too bad :-(

[2017-07-10 15:31] RobMeades commented on #4722
Shame, 'cos with that change it even managed to run the serial port at 3686400 without losing characters (throughput 887420).  Maybe I need to run water cooling :-).

[2017-07-10 15:34] andresag01 commented on #4724
@0xc0170: I have made @adbridge and @sg- aware of the problem. We are currently investigating the issue in mbed TLS, but I am not sure if anyone is looking at it from the mbed OS side.

[2017-07-10 15:35] bulislaw commented on #4688
Fix proposal https://github.com/ARMmbed/mbed-os/pull/4731

[2017-07-10 15:46] geky commented on #4151
Sorry, I didn't realize this wasn't fixed as a part of the LocalFileSystem fixes (https://github.com/ARMmbed/mbed-os/pull/4087). Since the old FATFileSystem is outside of the mbed OS repo, it needs to be updated seperately.

I'm not entirely sure the best way to update the old FATFileSystem, so I put up a pr here:
https://developer.mbed.org/teams/mbed-official/code/FATFileSystem/pull-request/4

[2017-07-10 15:52] LMESTM commented on #4722
@kjbracey-arm  just to answer an earlier post, in case of asynch communication the TXE interrupt is already being used, though this is hidden in STM32 HAL sdk. The performances will indeed be very near what we observe now in my proposed branch.
[code]

[2017-07-10 17:27] JanneKiiskila commented on #4526
OS Client Alignment.

[2017-07-10 18:14] theotherjimmy commented on #4526
Ah, so it's the client version of needs: CLA (Contributer license agreement)?

[2017-07-10 18:25] theotherjimmy commented on #4730
Yes. Just a moment.

[2017-07-10 18:36] theotherjimmy commented on #4730
see PR #4732

[2017-07-11 03:39] tung7970 commented on #4681
@JanneKiiskila Regarding the daplink firmware, that should be the latest one, but it's not using the latest daplink codebase. Will work with RTL8195AM team to get the firmware up to date.

TCP is another issue tho.

[2017-07-11 04:26] akrnvm commented on #4712
@bulislaw Thank you for the comment.
Issue got resolved.

[2017-07-11 04:26] #4591 closed

[2017-07-11 08:45] LMESTM commented on #4722
@RobMeades I've posted #4734 for fixing the serial driver.
@kjbracey-arm I'll let you and @RobMeades review and decide whether to apply in your UARTserial branch the changes I proposed here https://github.com/LMESTM/mbed/tree/test_uartserial_flow

[2017-07-11 10:26] marcuschangarm commented on #4700
Thank you @Archcady, I can confirm that this change allows the test to complete.

I was hoping this would bring us closer to solving https://github.com/ARMmbed/mbed-os/issues/4683 but it looks like they are unrelated after all.

I'm closing this issue and we can continue on the other thread.

[2017-07-11 10:26] #4700 closed

[2017-07-11 10:29] JanneKiiskila commented on #4700
Well, why would this be a good solution? I don't think this case can be closed.

When setting the socket blocking status to false, we're activating the async API, right? Async API must work for the Client to work. Or am I misunderstanding something completely here? @kjbracey-arm

[2017-07-11 10:31] marcuschangarm commented on #4683
I've closed the other issue since it turned out to be unrelated.

When I run the mbed-os-example-client example, it often crashes before the TCP socket is even created, so the fix in the other thread wont help.

@Archcady what tools do you use for debugging the RTL8195AM? We currently don't have pyOCD support for that board so we can't debug using gdb.

[2017-07-11 10:39] marisabele opened #4735 "NRF52: Adjust idle thread stack size"
### Description
- Type: Bug
- Related issue: `#4563`
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
NRF52_DK

**Toolchain:**
GCC_ARM

**Expected behavior**
Expected to extend stack size to 512 for NRF52 targets but in reality effective only for TARGET_MCU_NRF51822
Issue introduced: https://github.com/ARMmbed/mbed-os/commit/970ee38079fc1c92da37

[2017-07-11 10:46] 0xc0170 commented on #4735
cc @pan- @nvlsianpu

[2017-07-11 10:48] pan- commented on #4735
@marisabele It is only effective for `NRF52840` targets and it isn't effective for `TARGET_MCU_NRF51822`.
Would it be necessary for `NRF52832` targets ?

[2017-07-11 11:01] pan- commented on #4735
@marisabele I've submitted a fix, please review #4736

[2017-07-11 11:11] Archcady commented on #4683
@marcuschangarm, sadly we don't have some decent debugging methods, making debugging progress really slow.

[2017-07-11 11:18] JanneKiiskila commented on #4683
@0xc0170 @c1728p9  - could we get the PyOCD support? Everyone would be needing it...

[2017-07-11 11:53] netanelgonen opened #4737 "can not retrive file system handle for mount point"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Enhancement
- Related issue: #4526
- Priority: Blocker

## Enhancement
cannot detect the file system handle that was  mount on a block device using the block device handle

as previously talked to @geky we need a a way to get the file system handle from the block device,
we are using multiple

[2017-07-11 11:54] netanelgonen commented on #4737
@avolinski @amiraloosh @geky @galc @JanneKiiskila @liatvindzberg

[2017-07-11 11:55] JanneKiiskila commented on #4737
@sg- - please label as OSCA!

[2017-07-11 12:36] pan- commented on #4627
@akrnvm @shayo Could you test if #4736 fixes your issue ?

[2017-07-11 12:46] shayo commented on #4627
Yes, I'll try it.
Is there an easy option to clone the master branch with this pull request?
(sorry, I'm not very git savvy).

On Tue, Jul 11, 2017 at 8:36 AM, Vincent Coubard <notifications@github.com>
wrote:

[2017-07-11 12:56] 0xc0170 commented on #4686
Any new findings?

[2017-07-11 13:01] JanneKiiskila commented on #4683
@sg-  can we label is OSCA, due to the PyOCD dependency.
a

[2017-07-11 13:08] noutram commented on #3541
Based on the comments from @mray19027 , this is what I've done and it seems to work (no guarantees of course).

1. On the BLE shield, move R4 to R6 so that D13 is now the SPI clock (but now conflicts with the nucleo LED of course - see below)

2. In mbed_app.json, add the following:

"NUCLEO_F429ZI": {
   "target.features_add": ["BLE"],
   "target.extra_labels_add": ["ST_BLUENRG"],
   "target.macr

[2017-07-11 13:34] amq opened #4739 "osSemaphoreAcquire hangs in LWIP with cellular"
### Description
- Type: Bug
- Possibly related issues: #4575, #4584, #4537
- Priority: Major

---------------------------------------------------------------
## Bug

**Toolchain:**
Tested with GCC_ARM

**Toolchain version:**
6-2017-q1-update

**mbed-cli version:**
1.1.1

**mbed-os sha:**
8828635da469162cf2854b5287561c663fb96e72

Similar behavior also observed with c9e63f14085f5751ff5ead79a7c0382d5

[2017-07-11 13:45] 0xc0170 commented on #4739
cc @hasnainvirk @kjbracey-arm @c1728p9 @geky

[2017-07-11 13:55] 0xc0170 commented on #4151
https://developer.mbed.org/teams/mbed-official/code/FATFileSystem/pull-request/4

I assume this is backward compatible. @sg- We shall review this fix

[2017-07-11 14:46] jeromecoutant commented on #4653
HSE_VALUE value is defined in targets/TARGET_STM/TARGET_STM32F4/device/stm32f4xx_hal_conf.h

#if !defined  (HSE_VALUE)
  #define HSE_VALUE    ((uint32_t)8000000U) /*!< Value of the External oscillator in Hz */
#endif /* HSE_VALUE */

You can update it.

Another way is to define in in mbed_app json files:

        "config": {
            "hse_value": {
                "value": "25000000",

[2017-07-11 15:25] pan- commented on #4627
@shayo please see this [document](https://help.github.com/articles/checking-out-pull-requests-locally/).

[code]

[2017-07-11 15:40] andresag01 commented on #4724
We have identified a problem in the testing of our examples which was causing the failure. This is not directly related to mbed OS 5.5.2 so we have merged the update to mbed-os-example-tls. Closing this issue.

[2017-07-11 15:40] #4724 closed

[2017-07-11 16:45] marcuschangarm commented on #4700
It depends on what hat you are wearing. 😄

For the mbed client, it is a blocker that we don't have async sockets and that the RTL8195AM crashes randomly.

We need to be tracking both of these issues but I think repurposing this thread would be misleading.

[2017-07-11 16:51] JanneKiiskila commented on #4700
Well, for the scope & single test case for this being the TLS test -> which it fails now -> this error is still valid. If it passes by modifying the test case -> it's not the same thing anymore.

But, yes, for the crashes -> we should file a new issue. But, we would really need the stack backtrace/PC etc. to be of any use for debugging. Which you can't get, until gdb works. So, bit of a chicken an

[2017-07-11 16:51] NeilMacMullen commented on #4686
use '--profile debug'  causes the application to behave as expected so that at least gives me a workaround for now.  However, unless I'm missing something, the uart _should_ be able to work in conjunction with sleep so that still leaves the question of why this isn't working in release mode?