[2019-05-09 06:15] ccchang12 opened #10549 "Cellular: Increase the value of PROCESS_URC_TIME"
### Description

The value of the PROCESS_URC_TIME is 20ms in file ATHandler.cpp. But in our test for some other cellular modules (such as SIM7020), this value may need to increase to around 100ms to avoid the preceding characters may be cleaned in proccess_oob() issue.

Could you provide a solution make user can adjust this value without modify mbed-os source?

### Issue request type

    [ ] Que

[2019-05-09 07:38] fahim-ublox commented on #9711
What target you are using ? and if you have logs that will be helpful

[2019-05-09 07:49] jeromecoutant commented on #10226
FYI: #10365

[2019-05-09 08:24] masoudr commented on #10365
Adding a new memory map for a target is not an easy task for the devs. So it would be better to just enable it in the configuration as you already stated in [here](https://github.com/ARMmbed/mbed-os/issues/10331). I'm not a newbie but it took me some hours to understand memory mapping and create the new RAM region for my new target.

On the other hand, I think occupying 256 bytes of RAM is not a b

[2019-05-09 08:33] wajahat-ublox opened #10551 "Cellular: How application can change authentication type?"
### Description

In the constructor of `AT_CellularContext`, `_authentication_type` is set to `CHAP`. I would like to know how it can be changed e.g. to PAP? I did grep but couldn't find any setter for it.

@fahim-ublox @mudassar-ublox
### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2019-05-09 09:10] amq opened #10552 "Do you plan to support ARM Cortex-A7?"
### Description

ARM Cortex-A7 is increasingly getting traction in wearables and IoT. Currently, the default platform there is ThreadX. I think a SoC like Qualcomm 9205 could really unleash the power of Mbed OS.

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2019-05-09 09:15] wajahat-ublox commented on #10551
Rephrased the title to avoid confusion as `_authentication_type` is protected however i am interested in knowing if user application can change it just like username/password as passed down in `connect()`

[2019-05-09 09:18] NeilMacMullen commented on #9711
@fahim-ublox It's a custom mbed target.  The modem is G450.  I'll see if I can collect logs next time I'm working on this but it may be a while.

[2019-05-09 11:53] ciarmcom commented on #10549
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1189*

[2019-05-09 12:04] loverdeg-ep commented on #10552
@amq

I suppose they are using ThreadX over linux in wearables to save power over a linux based solution?

Cost and performance of i.mxRT and other M7 based MCU's make for some extremely compelling deals.

I suppose cortex-A7 can provide trustzone where a single core M7 can not.

What sort of pricing are the A7s you see coming in at?

[2019-05-09 12:49] amq commented on #10552
Yes, those chips could certainly run Linux, but people often use ThreadX to reduce power consumption and boot times. I'm looking at $50 per SoC.

[2019-05-09 12:57] loverdeg-ep commented on #10552
@amq Check out specs per pricing on some of the Cortex-m7's. I.MXRT, STM32F5 , etc.

[2019-05-09 13:00] jeromecoutant commented on #10545
Hi

I tried with the DISCO L475 board,
and I could reproduce the random result for the multi thread test.... :-(
As reported, the "OK" statistic could be increased when adding some printf in the test procedure...

Maybe @davidsaada you could have a look ?

@MarceloSalazar

[2019-05-09 14:06] MarceloSalazar commented on #9726
Closing - please reopen if continues to be an issue.

[2019-05-09 14:06] #9726 closed

[2019-05-09 14:34] evedon commented on #10342
Sorry, we are not able to look into this at the moment. Consider contributing a fix if you can.

[2019-05-09 14:34] #10342 closed

[2019-05-09 15:21] jeromecoutant commented on #10545
It seems also that test behavior is different depending on flash state...
(depending on tests sequence, mass erase performed or not before test, ...)

[2019-05-09 17:22] MarceloSalazar commented on #4301
I continue to see the same issue when testing this on macOS 10.14: Mojave

The `mbed test` tools use greentea and htrun - you may want to read more about the test framework here:
https://github.com/ARMmbed/mbed-os-tools/tree/master/packages/mbed-host-tests

One way to reproduce this issue is by running the [echo](https://github.com/ARMmbed/mbed-os/tree/master/TESTS/mbed_drivers/echo) test, but any

[2019-05-09 18:40] bridadan commented on #10379
Hi @maxgerhardt, sorry for the lack of responses.

I am not very familiar with using CMake. It looks like this exporter was added by @thinkberg for use with the CLion IDE: https://github.com/ARMmbed/mbed-os/pull/5476

Perhaps you could work with @thinkberg to agree on what the behavior should be here in this case? Based on the template it looks like it was built to play nicely with the configurati

[2019-05-10 08:20] schstm commented on #4301
Studying stlink-test-180419.txt, I firstly noticed some issues for which I don't know the impact afterwards:
[mbed-5295] WARNING: Missing Python modules were not auto-installed.
       The Mbed OS tools in this program require the following Python modules: pyusb
HOST: Error! While loading local host test module '/Users/msal/mbed/STlink/stlink-test/mbed-os/TESTS/host_tests/pyusb_basic.py'
HOST: No

[2019-05-10 09:01] thinkberg commented on #10379
As far as I remember, I couldn't get profile specific details, which is why there is a compile-using-mbed-cli option in there that selects a different profile. I haven't looked at it for a while. The difficulty is that if you export for a specific profile, it will only work with that profile. CMake already has a notion of different compile settings Debug, Release etc and it would be good to get in

[2019-05-10 09:30] bulislaw commented on #9206
@MarceloSalazar could you try reaching out to partners that didn't update their targets yet?

[2019-05-10 09:59] 0xc0170 commented on #10552
Hi, I can ask around but not aware of any A7. What about - https://os.mbed.com/platforms/Renesas-GR-PEACH/ - A9? Or good suggestions above about some quite powerful M7 targets we support.

[2019-05-10 09:59] 0xc0170 commented on #10551
cc @ARMmbed/mbed-os-wan

[2019-05-10 10:00] 0xc0170 commented on #10549
cc @ARMmbed/mbed-os-wan

[2019-05-10 10:01] 0xc0170 commented on #10547
Hi @nmooman , can you send a new pull request fixing this error?

[2019-05-10 10:02] 0xc0170 commented on #10548
https://github.com/ARMmbed/mbed-os/issues/10547 - is this duplicate ?

[2019-05-10 10:04] johanstokking opened #10558 "LoRaWAN TX_DONE callback gets fired on any class C receive"
### Description

- Target: FF1705_L151CC
- Toolchain: GCC_ARM; gcc-arm-none-eabi-6-2017-q2-update
- Tools: mbed-cli 1.9.2
- Mbed OS 5.12.3

When joining a network and switching to class C on join, I'm getting callbacks with event `TX_DONE` on each class C message reception. I get these everything the device receives any message with the RX2 parameters (i.e. any downlink for any other device around

[2019-05-10 10:04] LMESTM commented on #10545
@guialonsoalb Are the tests running fine on other reference targets ?

Note sure this is related, but I've seen a place where there might be a possible issue with nvstore mutex lock
https://github.com/ARMmbed/mbed-os/blob/46603f831e13705d5aab4f73d52f00611e1f4d7d/features/storage/nvstore/source/nvstore.cpp#L199
I think there is a missing _mutex->unlock();

Also in the log I can't see anything that

[2019-05-10 10:10] johanstokking commented on #10558
Here's the patch for the logging I'm using;

[code]

[2019-05-10 10:16] 0xc0170 commented on #10535
What's the use case (empty/full not sufficient) ?

As this would be simple addition, can propose PR with changes for review

[2019-05-10 10:17] 0xc0170 commented on #10519
@star297 Can you send a pull request adding these pins?

[2019-05-10 11:40] #9735 closed

[2019-05-10 11:44] jeromecoutant commented on #10545
Hi

Could you check this patch?
https://github.com/jeromecoutant/mbed/commit/3bc6577a6c54cd0fec177039d3aa8bb34c4c98ed

[2019-05-10 11:50] ciarmcom commented on #10558
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1190*

[2019-05-10 12:03] jeromecoutant commented on #10491
Maybe question comes from:
https://os.mbed.com/questions/85721/F303RE-USBAudio-Library/

so question would be: Does MBED plan to support Audio over USB ???

[2019-05-10 12:03] Terryvanderjagt commented on #10535
I have an application where I need to be able to request the amount of items in my queue. I decided to switch to a circular buffer because it better matches my use case.

[2019-05-10 12:11] LMESTM commented on #10545
I tend to think that mutex should rather be applied to NVstore reset() / init()  and maybe others than the flash ones, but still I guess there is something to check here.
Also in the test, I see that there is no ASSERT in case of mem_fail and clean cases in nvstore_multi_thread_test()

[2019-05-10 12:20] LDong-Arm commented on #9962
The failure is down to the high **latency** of RTC-based lp_ticker.

"Timing drift" test works by attaching itself to Ticker with perioud = 10000us (10ms), incrementing a counter once Ticker calls back, attaching again, ... (repeating thousands of times). At the end, calculate time = counter * period.

If we increase the period (of each call) by 10x (to 100ms), the test passes with very precise ti

[2019-05-10 12:56] fkjagodzinski opened #10559 "Feature-watchdog: missing commits"
### Description

A few commits that have already been merged into [`feature-watchdog`](https://github.com/ARMmbed/mbed-os/commits/feature-watchdog) are missing:
1. https://github.com/ARMmbed/mbed-os/pull/6709/commits/86791196ce70ec799ee47fdd0dbb18db99cbfbb2
1. https://github.com/ARMmbed/mbed-os/pull/6709/commits/1ef4621bfd74cb6122ebeb9c14b9909642481b10
1. https://github.com/ARMmbed/mbed-os/pull/70

[2019-05-10 13:48] LDong-Arm commented on #9962
The latency of RTC-based lp_ticker seems inheritly high, as confirmed on a few other targets as well. Perhaps the best we can do is wait for LPTIM issue to be fixed and re-enable it.

See #9785 #10536 #10537

[2019-05-10 14:50] bridadan commented on #4301
Hi @schstm, looks like you're running one of the USB stack tests. They have an extra pip module you need to install, which you should be able to do with `pip install pyusb`.

[2019-05-10 15:29] pmancele commented on #10433
@pan-  Strange as I also tried with a NUCLEO STM32L4 and the ST Shield.

I will try to update the shield firmware then !

[2019-05-10 20:32] cederom opened #10560 "ARM_GCC compiler version warning"
Hello world, I constantly get warnings about invalid `ARM_GCC` version on `mbed compile`, but this is the latest one downloaded from ARM website..

[code]

[2019-05-10 20:35] cederom opened #10561 "5.12.3 windows python dependencies on macOS"
Hello world, with 5.12.3 I noticed a new warning on missing `pywin32` and `wmi` Windows Python dependencies while running on macOS:

[code]

Do I really need them on macOS?

[2019-05-10 21:12] mikequic commented on #9640
I was wondering if anyone has gotten around this problem.  Perhaps rewritten makefile.targets so that it doesn't expand all the $OBJS onto the command line.

[2019-05-10 21:18] cederom opened #10562 "nRF52832 custom target and peripheral initialization problems"
Hello world,

I have created a custom target for my design in `custom_targets.json` accoring to [1]. The goal is to have common firmware repository and code for different product variants / targets based on very similar hardware.

The problem is some pins seems to be somehow already used/declared/initialized for peripherals that I am not using. For instance GPIO that I use as input is always LOW.

[2019-05-10 21:39] ijessen opened #10563 "ble::AdvertisingDataParser::hasNext() bug"
### Description

ble::AdvertisingDataParser fails on 31-byte payloads padded with one or two null terminating bytes.

AdvertisingDataParser::hasNext() performs a bounds check in determining if there's more data to process:

[code]

However, AdvertisingDataParser::next() indexes further than this into the data span:
[code]

As a result, when a full-length legacy advertising payload is padded with o

[2019-05-10 22:35] cederom opened #10564 "mbed compile rebuilds from scratch"
Hello world, I noticed that mbedOS 5.12 on my macOS using VirtualEnv Python3.7 and ARM_GCC very very often rebuilds the whole source tree from scratch, what takes really lots of time.. is this only my problem here?

[2019-05-10 23:35] cederom commented on #10562
What is more I got this warning in 5.12.3 `mbed compile`, it seems it was not here before?
[code]

[2019-05-11 00:25] cederom commented on #10564
This is really annoying and waste of time :-( What could be the problem that 90% of cases `mbed compile` rebuilds all mbed-os from scratch???

[2019-05-11 05:30] ciarmcom commented on #10564
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1191*

[2019-05-11 05:30] ciarmcom commented on #10563
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1192*

[2019-05-11 05:30] ciarmcom commented on #10562
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1193*

[2019-05-11 05:30] ciarmcom commented on #10561
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1194*

[2019-05-11 05:30] ciarmcom commented on #10560
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1195*

[2019-05-11 06:27] nmooman commented on #10548
Same issue.
mbed compile -m auto -t GCC_ARM --profile uTensor/build_profile/release.json -f -v
"/mbed-os/tools/make.py -t GCC_ARM -m NUCLEO_F303RE --profile uTensor/build_profile/release.json --source . --build ./BUILD/NUCLEO_F303RE/GCC_ARM-RELEASE -v""
[Error] mbed_rtc_time.cpp@89,22: invalid use of incomplete type 'const struct timeval'

[2019-05-11 07:58] jarvte commented on #10551
@wajahat-ublox we had authentication type in set_credentials before refactoring. I'll create an internal ticket to add setting of authentication type.

[2019-05-11 08:05] jarvte commented on #10549
@ccchang12 at the moment there is no way to increase PROCESS_URC_TIME. We will check this and get back with the proper solution.

[2019-05-11 09:45] cederom commented on #10564
Thank you for looking into the issue :-) I am working on macOS now with APFS.. only minor modification to my application source code (not touching the `mbed-os/` at all) results in full OS rebuild. I have custom target defined in `custom_targets.json` maybe that is somehow related?

[2019-05-11 09:53] cederom commented on #10561
Thank you for looking into the issue :-) I have managed to install `wmi` by hand (it was next on the list after failing package), but `pywin32` seems Windows only package and it not available on other platforms..

Another idea, I know this is `pip` related, would be to install all possible dependencies/requirements, even if some of them fail. At the moment the `requirements.txt` contains some list

[2019-05-11 12:30] cederom commented on #10564
The last one that does not intruduce that rebuild-from-scratch-each-time problem is 5.20.4 https://github.com/ARMmbed/mbed-os/commit/2fd0c5cfbd83fce62da6308f9d64c0ab64e1f0d6.

[2019-05-11 13:18] cederom commented on #10564
Hmm, that one may be related with how Target is treated. My Custom_Target inherits from some generic target that is also placed in `custom_targets.json` (https://github.com/ARMmbed/mbed-os/issues/10562). When chaning that parent to `public` I can now rebuild only parts of changes code..

[2019-05-11 20:01] cederom commented on #10564
Really I have no idea and cannot find a pattern why this happens.

Another scenario: I am changing a line of my firmware code, `mbed compile` gets only into that changed file, finds an error, I am fixing the error, then compile again, I am expecting the one file compilation and linking.. buy out of nowhere full mbedOS build happens.

This takes really tremendous amount of time. Especially if I nee

[2019-05-12 04:05] 40Grit commented on #10564
@cederom we see and have seen weird stuff with builds as well and are currently using custom_target.json

@trowbridgec was this one we ran into?

[2019-05-12 04:13] 40Grit commented on #10562
Refer to some of the issues I have commented on this topic. I'm @loverdeg-ep on weekdays.

In the past I recall gpios for some reason being pulled active low by default.

@trowbridgec @theotherjimmy @terminal-sc @aglass0fmilk

[2019-05-12 08:33] alzix commented on #10007
we have not reproduced it on our side.
tested we all toolchains on our CI - i suggest to close it.

[2019-05-12 11:26] cederom commented on #10564
Thank you @40Grit, not really happy to have the problem, but glad I am not alone.. I suspected there may be something wrong on my side..

[2019-05-12 11:45] cederom commented on #10562
Thanks @40Grit / @loverdeg-ep that's exactly what I am experiencing right now too.. :-)

[2019-05-12 17:12] alzix commented on #9699
I think the issue was addressed on master.

Now we can configure and build both secure and non-secure images for V8-M target.
Musca A1 support is added in #9221.
In addition there is LPC55S69 target that uses current build system.

@ccli8 - is this issue still relevant for you? If not, can we close it?

[2019-05-13 00:25] cederom opened #10565 "strtok_r() does not return valid tokens in recurrence calls"
Hello world,
I have a parser function, that sometimes needs to parse itself / recursively with a string of commands. I am using `strtok()` to split commands separated by spaces. I have noticed that `strtok()` is non-reentrant function.. but `strtok_r()` should work with recursion. Unfortunately results are the same for both functions. Inside the "deeper" function `strtok_r()` does not return the t

[2019-05-13 05:29] ciarmcom commented on #10565
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1196*

[2019-05-13 05:31] jarvte commented on #9737
More fixes in https://github.com/ARMmbed/mbed-os/pull/10511

[2019-05-13 05:36] jarvte commented on #9711
@ciarmcom this can be linked to this issue: https://github.com/ARMmbed/mbed-os/issues/10551
We will add an API for changing the authentication type.

[2019-05-13 07:34] alzix commented on #10251
cc @Patater

[2019-05-13 07:34] alzix commented on #10396
cc @Patater

[2019-05-13 08:06] gilles-peskine-arm commented on #10251
@alzix We (crypto team) can't fix anything until we understand what's required. It's an incompatibility between Mbed Crypto and something else in Mbed OS, not a bug of Mbed Crypto itself, and we don't know what to change, or even if Mbed Crypto is the one that needs to change.

[2019-05-13 08:37] ccli8 commented on #9699
@alzix I re-check and find all the issues are fixed on master. Thanks for your information.

[2019-05-13 08:37] #9699 closed

[2019-05-13 10:58] lrusinowicz commented on #9095
@MarceloSalazar
I've rerun SEQUANA_PSA tests on latest (5.12.3) Mbed OS - they are passing, except of some devicekey testcases which are failing. But I believe this is a different issue (and, frankly, have no idea what it is).
[tests_sequana_psa_gcc_20190513.log](https://github.com/ARMmbed/mbed-os/files/3172521/tests_sequana_psa_gcc_20190513.log)

[2019-05-13 11:08] 0xc0170 commented on #10545
cc @ARMmbed/mbed-os-storage

[2019-05-13 11:24] davidsaada commented on #10545
The mutex unlock is indeed missing here. Don't think it has to do with the failures though.

[2019-05-13 11:51] 0xc0170 commented on #9095
Can you rerun them on master? there was at lesat one fix to device key (I recall one was eliminating some debug messages).

[2019-05-13 12:14] guialonsoalb commented on #10545
Hi, sorry for the delay, I wasn't available.
I could check that same test over EFM32GG_STK3700 passed OK, I don't have access to other mbed-compatible target boards at the moment.

[2019-05-13 12:16] guialonsoalb commented on #10545
Sure, I am starting now doing some testing with that pached. Will come to you back soon

[2019-05-13 13:07] nbelanger99 opened #10571 "Mbed compiles to 17 kB with an empty program"
Programming a Nucleo F042k6 through the PlatformIO extension for Atom, latest stable release of MBed os, and GCC 7.2.1 compiler. An empty program (import mbed and an empty main function) compile to over 17 kB. A trivial test program of two libraries that I'm using compile to over the 32kB flash storage of my mcu.

[2019-05-13 13:25] kjbracey-arm commented on #10565
`strtok_r` would be being provided by the C library of whichever toolchain you're using - it's not part of Mbed OS itself.

My first guess looking at that is that you've passed your `s100 etc` as a string literal to `strtok_r`. It's in ROM, and the system is just ignoring `strtok`' attempts to write `\0` into it, rather than generating faults. The string must be modifiable. (C++ would diagnose thi

[2019-05-13 13:37] 0xc0170 commented on #10571
How to reproduce ? Please leave the issue template and fill in details.

The issue report should state - Mbed OS sha , in this case also I would look at map file and state what takes 17kB. Identify which ones take memory and should not. We can review and take this futher.

Using release profile? Try that one and report back.

My initial assumption - most of this size is taken by stdio library (ena

[2019-05-13 14:23] 0xc0170 commented on #9711
I don't follow? Please link it in the jira

[2019-05-13 14:24] 0xc0170 commented on #10561
cc @ARMmbed/mbed-os-tools

[2019-05-13 14:26] 0xc0170 commented on #10560
We do not support always the latest one (although trying). It takes time to test/switch CI to the latest one. Therefore we currently officially support v6 only. Thus the warning.

[2019-05-13 15:04] cederom commented on #10560
ACK! :-)

[2019-05-13 15:04] #10560 closed

[2019-05-13 15:13] ccu1tn commented on #10336
Dear @Hoel
I have the same your errors.
![Capture](https://user-images.githubusercontent.com/43333942/57632676-b1eb1180-75d4-11e9-9803-37fe1a280565.PNG)
I was download mbed-cli-osx-installer file.
I trying to install it on Ubuntu, but it not work.
so, can you tutorial me how to install and config it?
many thank

[2019-05-13 15:40] cederom commented on #10565
Whoah tanks @kjbracey-arm you are the master of the universe!!! Thanks for those amazing hints:
1. MBED uses build host libraries also for C functions!
2. `strtok()` and `strtok_r()` cannot work on immutable ROM arrays as they need to put `\0` while parsing! This is why first string (variable) did work and second (`const char[]`) did not. Compiler indeed warned me about that but you know compilers

[2019-05-13 18:38] #10565 closed

[2019-05-13 18:46] microbit-carlos commented on #9816
I've exported a project from the online compiler today, it is using Mbed OS 5.12.3 and I still encountered this issue. Has everything needed for this fix been deployed?

[2019-05-13 19:11] linlingao commented on #9816
@theotherjimmy Do you happen to know which PR was supposed to fix this?

[2019-05-13 19:49] linlingao commented on #10561
I'm also using Mac and getting the same warning. I haven't noticed anything broken. It could be we just need to remove these warnings.

[2019-05-13 20:19] ciarmcom commented on #10571
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1197*

[2019-05-13 20:21] nbelanger99 commented on #10571
You could reproduce by building an MBed program for Nucleo F042k6 in PlatformIO. Despite my efforts to change the version, it is automatically loading OS version 5.1

Yes, release profile helps but I would expect that a blank program should still be much less than 10 kB, which it is not. I've been trying to get stdio out of the picture. If I'm correct, it's off by defauly for some boards after 5.9

[2019-05-13 21:46] cederom commented on #10561
I guess more like add some OS detect in `mbed deploy` or `mbed update` in order to generate host specific `requirements.txt` rather than remove warnings :-)

[2019-05-14 06:05] star297 commented on #10519
Yes, should be a couple of days.

[2019-05-14 06:33] kjbracey-arm commented on #10565
Glad that was it. Don't ignore your warnings!

Personally I find it annoying that so many **real** errors are treated as warnings, so overlookable. Passing `const char[]` to `char *` is fundamentally invalid; the compiler is required to issue a "diagnostic". I would much rather that was an error - it shouldn't be the same severity as "unused variable".

Yes, ROM write attempts should end up hittin

[2019-05-14 07:05] geoffrey-vl opened #10574 "Board setup function for greentea/htrun"
### Description

I've been using mbedhtrun on one of our custom boards that's using a STM32 F429ZI.
As a good IoT practice our board has many of its components disabled with pullup/-down resistors on their enable pins. Whenever we want to run some of the "out of the box" greentea integration tests that's using these hardware components we would need to edit each `main.cpp` inside the TEST folders

[2019-05-14 08:21] 40Grit commented on #10574
What external components are you having this issue with?

[2019-05-14 08:30] 0xc0170 commented on #10574
cc @ARMmbed/mbed-os-test

[2019-05-14 08:44] geoffrey-vl commented on #10574
Well, I can't be too illustrative due to NDA restrictions, but things such as 5V, 3V3, **RS232 transceivers** etc.which either greentea depends upon to be working or the test itself depends upon (for example testing storage that's not powered by default)

[2019-05-14 08:52] 40Grit commented on #10574
@team-embeddedPlanet has had similiar issues during our implementation of a custom target.

[2019-05-14 10:38] CerfVert94 opened #10576 "LoRaWAN : extend the duration of RX1 window."
### Description

### Issue request type

    [X ] Question
    [ ] Enhancement
    [ ] Bug

'''
void LoRaMac::open_rx1_window(void)
{
    ...

    _params.rx_window1_config.dr_offset = _params.sys_params.rx1_dr_offset;
    _params.rx_window1_config.dl_dwell_time = _params.sys_params.downlink_dwell_time;
    _params.rx_window1_config.is_repeater_supported = _params.is_repeater_supported;
    _param

[2019-05-14 10:59] guialonsoalb commented on #10545
I have run some tests with said patch. It doesn't seem to solve much, at least on my side

* patch: https://github.com/jeromecoutant/mbed/commit/3bc6577a6c54cd0fec177039d3aa8bb34c4c98ed
* run test: mbed test -t <toolchain> -m <target> -n mbed-os-features-storage-nvstore-tests-nvstore-functionality --run
* number of test repeats: 3 per target and compiler
* Compiler order in round test: GCC_ARM, AR

[2019-05-14 11:32] teijokinnunen opened #10577 "LoRaWAN: TX indication to application lost"
### Description

Target board: DISCO_L072CZ_LRWAN1
MBED version: 5.12.3 (SHA 0f959dbe47)
Toolchain: GCC ARM (gcc version 7.3.1); using Eclipse IDE, built using "develop" config

It seems that under some conditions (TX_ERROR appears to be involved) the LoRaWAN stack fails to indicate the completion of TX to application (in form of TX_DONE or one of the TX error events).

The log below shows what wa

[2019-05-14 11:34] 0xc0170 commented on #10577
cc @ARMmbed/mbed-os-wan

[2019-05-14 11:52] ciarmcom commented on #10577
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1198*

[2019-05-14 11:53] ciarmcom commented on #10574
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1199*

[2019-05-14 13:10] cederom commented on #10565
`const char[]` on the other hand is very useful when you want to store an immutable string or bytes array and just read it out.. this data goes to a ROM/Flash region saving some RAM.. unless anything tries to write into it like `strotk()` (man page does not mention that crucial information!!).. fault on ROM write will reveal that problem. Thank you again @kjbracey-arm!! :-)

[2019-05-14 13:30] microbit-carlos commented on #10564
It's not the same problem, as after the project builds for the first time it only recompiles the files I've touched, but maybe this could still be related?
https://github.com/ARMmbed/mbed-cli/issues/894 (from a clean blinky project the first `mbed compile` takes an hour because it builds all of Mbed OS)

[2019-05-14 13:32] kjbracey-arm commented on #10565
The fact that the first parameter to `strtok` is `char *` not `const char *`is effectively telling you it's going to write to it.

All standard C++ library functions are const-correct, in that they always take `const char *` if they don't write to the buffer, so you always get an error when attempting to pass a C++ string literal to a function that can write to it.

[2019-05-14 15:30] jeromecoutant commented on #10545
@davidsaada did you check all the mutex_lock/unlock added in my patch?
Should we add more? in init, in reset,...?

[2019-05-14 16:02] LMESTM commented on #10545
Hi - I think the mutex should protect first NVstore reset() / init() and maybe others ...
On top, of ERROR & PÄSS verdicts, can you share some pre-analysis:
What is failing, is the target stuck in a mutex lock ? has it crashed ? ...

[2019-05-14 16:24] davidsaada commented on #10545
@jeromecoutant The only required change here is the missing unlock. Other lock/unlock actions you added are not required - they protect the flash driver actions, which are protected by an internal mutex anyway.
There's also no need for a mutex at init - there's a handling of an atomic variable at its start, which handles a multi-thread call of init. Reason is that init allocates the mutex itself.

[2019-05-14 21:43] cederom commented on #10564
Thanks @microbit-carlos but all releases after 5.9.7 [1] for me rebuilds that whole mbed-os almost every time I change a line of code in my project not only the first initial build.. thus I am working on 5.9.7 right now.

[1] https://github.com/ARMmbed/mbed-os/releases/tag/mbed-os-5.9.7

[2019-05-14 23:56] cederom commented on #10562
Hey @40Grit / @loverdeg-ep how did you overcome the pulled-low GPIO problem? I will have to solve that one too very soon.. if you have a working solution out of the box I would be more than glad to borrow it :-)

[2019-05-15 05:08] d-kato commented on #10356
This issue of GR_LYCHEE & RZ_A1H can be resolved by modifying "__FPU_Enable()" and adding FPU settings in arm.py.
Fix of "__FPU_Enable()" is under pull request. (ARM-software/CMSIS_5#589)
I will create a pull request as soon as it is merged.

[2019-05-15 06:24] bestony opened #10583 "MBED NRF52DK BLE RSSI is bad than official SDK"
### Description
- Target: NRF52_DK
- Toolchan: GCC_ARM
- Tools: mbed-cli 1.10.0
- sha: cfa7938a4d

#### Step to reproduce

1. Use Mbed-ble-exmaple-gattserver , compile, and flash into NRF52_DK, get the GATT Server with RSSI -86dbm
2. download official SDK from https://developer.nordicsemi.com/nRF5_SDK/nRF5_SDK_v14.x.x/nRF5_SDK_14.2.0_17b948a.zip ,and use keil compile ,flash, will get a new BLE Sig

[2019-05-15 06:46] Dhairya23 commented on #10515
Thread: 0x8004B70, Stack size: 424 / 4096
Thread: 0x8002594, Stack size: 64 / 512
Thread: 0x80025D8, Stack size: 112 / 768
Heap size: 64 / 1021984 bytes

08004b70 B _main_obj
08002594 d os_idle_thread_cb
080025d8 d os_timer_thread_cb

These are the thread usage stats.
**UPDATE** I just tested it on Mbed os version 5.12.3 + ARMC6. I do not get a stack overflow error or crash but instead I get this

[2019-05-15 08:51] aentinger opened #10584 "SPI Slave not working correctly on DISCO-L072CZ-LRWAN1"
### Description

I'm using a STM32 DISCO-L072CZ-LRWAN1 with an MBED OS based minimal **echo test firmware** as SPI slave while using a Arduino (Seedstudio Seeduino with 3V3 IO) as SPI master.

* **Target**: STM32 DISCO-L072CZ-LRWAN1
* **Toolchain**: MBED online compiler, MBED OS [#a8e5a4cb0f4facb615c32306d9b509aec07a0b5a](https://github.com/ARMmbed/mbed-os/#a8e5a4cb0f4facb615c32306d9b509aec07a0b5a

[2019-05-15 09:25] LMESTM commented on #10584
Just a few thoughts. ...

What is the SPI frequency you're running at and can you try to lower it down ? L072 is relatively small, low frequency chip, and mbed-os SPI slave is full SW, so it might it too slow to answer in time to master requests.

Note that will be a few things may influence. Have you configured the same 16bits or 8 bits transfer width on both sides ?

Also when master sends the f

[2019-05-15 09:27] 40Grit commented on #10562
Sorry, our team has been busy.

I will make a note to take a look when I get into the office today.

@farrenv

[2019-05-15 10:26] 40Grit commented on #10562
Related MR https://github.com/ARMmbed/mbed-os/pull/7220

What version of Mbed OS are you targeting? Looks like 5.8 from the documentation link?

[2019-05-15 10:44] cederom commented on #10562
The problem is still on `5.12.3`, but I am using `5.9.7` at the moment because laters have full-mbed-rebuild-each-time problem..

Documentation once had `/current/` or `/latest/` but now it has `404` so the latest available docs google showed me was `5.8` (the latest working is `5.10`).

[2019-05-15 11:30] fkjagodzinski commented on #8857
The changes for tests are ready. Some minor updates will be needed after #10066 is merged, so I'll open a PR as soon as #10066 is merged.

[2019-05-15 12:41] jan-ekholm opened #10585 "TCP socket freezes when receiving data"
### Description

My setup:
- LPC1768 based board
- GCC ARM toolchain
- MBed fresh from Git
- LWIP IPv4 stack

This is an app that controls various motors and measures temperatures, humidity etc. It uses a few threads but spends most of its time sleeping. It has a networking part that provides an API to mobile clients and that part runs in an own thread.

The networking multicasts some UDP based se

[2019-05-15 12:45] ciarmcom commented on #10584
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1204*

[2019-05-15 13:02] lxrobotics commented on #10584
Hi @LMESTM , thank you for your input. I'd like to address it point-by-point.

Since the same SPI access happens over and over the 2nd byte written during the 1st access should be received when the first byte of the 2nd acces is written. I'll illustrate it with a small table in order to better show what I mean:

| SPI Transfer | | | | | | | |
|-|-|-|-|-|-|-|-|
| 1 | MOSI | 0x12 | 0x13 | | | | |
|

[2019-05-15 13:08] loverdeg-ep commented on #10562
We have this implemented in our PinNames.h currently.

![image](https://user-images.githubusercontent.com/24318071/57777909-f7046600-76f0-11e9-990a-e58e9c72db1e.png)

[2019-05-15 13:27] loverdeg-ep commented on #10562
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/TARGET_MCU_NRF52840/TARGET_NRF52840_DK/PinNames.h#L254

Yes in your custom targets ```PinNames.h``` Change the default pull enum to something less assertive.

[2019-05-15 13:28] loverdeg-ep commented on #10562
@trowbridgec This is the issue I was referencing this morning. We seem to have gone back to the default of using a PullUp in our target. Keep that in mind if we have any current issues that smell like this.

[2019-05-15 13:32] lxrobotics commented on #10584
Hi @LMESTM , thank you for your input. I'd like to address it point-by-point.

I've reduced the clock speed to 125/250/500 kHz and explicitly configured the SPI settings to `8 Bits, SPI Mode 0` (those are supposed to the defaults on each platform anyway). While reducing the SPI frequency reduces occurences of wrong replies, it does not eliminate them.

Since the same SPI access happens over and ov

[2019-05-15 13:48] LMESTM commented on #10584
Again, a logic analyzer trace would definitely help.

If not possible, we're a bit blind ... could you try removing the CS pin toggling from your Arduino code ? The Slave side code tries to reply to reply to the 2nd byte received, while the master will de-assert the line ... I'm not sure what the effect will be.

Or I'd rather see a sequence like :
- CS on
- master sends one byte - slave read it
-

[2019-05-15 13:57] trowbridgec commented on #10562
Ah, yes you have to be careful about that. The only other way I know to set this is to use a [DigitalInOut](https://os.mbed.com/docs/mbed-os/v5.12/apis/digitalinout.html) and use the `mode()` function.

[2019-05-15 13:59] Hoel commented on #10336
@ccu1tn
Hello, well, you have the answer right before the question, this problem was toolchain related, so if you have this problem (with another os) then, its most likely also toolchain related. So you should check which GCC you have, check if the installer from TheOtherJimmy is available for Linux, otherwsie check inside which GCC is installed and install it on your Linux.

[2019-05-15 15:50] maclobdell commented on #10007
closing, please re-open if needed

[2019-05-15 15:50] #10007 closed

[2019-05-15 20:16] geoffrey-vl commented on #10574
Why has has this been closed?

[2019-05-15 20:54] loverdeg-ep commented on #10574
@linlingao

[2019-05-15 22:06] Alex-EEE opened #10586 "Advice for adding a slightly new Kinetis"
### Description
I'm trying to add export and build support for a slightly different Kinetis chip than is supported by mbed currently.  ( Spefically, an MK22FA12 ).  Seems closest to TARGET_MCU_K22F512.  I have the FSL libraries from NXP for this chip, where should I put those in the target folder?

I guess I'm asking, is there any documentation for how everything is laid out in targets/TARGET_Free

[2019-05-16 05:07] lxrobotics commented on #10584
I don't see why your proposed sequence should make a difference. During a single byte SPI transfer both master and slave perform simultaneously a read and a write operation. Therefore if the master should "read" a 3rd byte it has to "write" a 3rd byte too. The way the SPI slave echo firmware is implemented, slave always replies with the byte received from master in the previous SPI transfer (with

[2019-05-16 05:09] jan-ekholm commented on #10585
I converted my app to use UDP instead of TCP and there is no freeze anymore. But instead 95% of the packets are simply dropped. My mobile client sends 100 tiny UDP packets and I see the Mbed side handles 3-4 of them happily, the rest are never seen. Same when I do my periodic polls with 10 packets, I see that it handles ~4 and the rest are dropped. Makes me assume there's some severe buffering lim

[2019-05-16 05:49] jan-ekholm commented on #10585
Can I somehow query during runtime how much memory is used by LWIP for incoming data? Looking through the various docs and doing some googling the answer so far seems to be "it depends and nobody knows".

[2019-05-16 07:09] embeddedteam103 opened #10589 "Bug: STM32 HAL SPI Slave MOSI data in shift when CS is NC"
### Description
Hi, we have encoutered the following bug with using the SPI Slave in a STM32F4 device:
If we don't use the peripheral's CS then the peripheral internally uses the SSI register to control the start of transactions, and it is not set to high before a transaction finishes.

The bug: On startup, SSI goes low; and once the peripheral is configured to use SSI as the CS, a fake transactio

[2019-05-16 07:15] teijokinnunen opened #10590 "LoRaWAN: Join procedure hangs"
### Description

Target board: DISCO_L072CZ_LRWAN1
MBED version: 5.12.3 (SHA 0f959db)
Toolchain: GCC ARM (gcc version 7.3.1); using Eclipse IDE, built using "develop" config

We have seen this issue only once so far, so it's rather rare.

OTAA join procedure is triggered with connect():
[code]
The problem is that the join procedure stops here (the device was on for another 30 mins and nothing happ

[2019-05-16 09:02] ThePhilomathsApprentice opened #10592 "EthernetInterface Connect call fails repeatedly in mbed version 5.11.4"
### Description
Target:K64F
Toolchain: GCC_ARM
tools: mbed-os version 5.11.4 (MCUXpresso IDE)

I am trying to just connect to a server online through Ethernet using TCP protocol.
Ethernet Interface::connect gives Error: Not Connected to the Network the first time I try, and if tried again in a loop, It gives Error Code:-3015( Socket Already Connected.)
I am unable to setup the basic TCP Socket to

[2019-05-16 10:00] jeromecoutant commented on #10589
Hi

Thx for issue report.

Feel free to propose the fix in a pull request.
We will start tests with it.

[2019-05-16 10:00] jeromecoutant commented on #10589
ST_INTERNAL_REF 66807

[2019-05-16 10:43] embeddedteam103 commented on #10589
Hi, we will propose the fix in the F4 as this is the only one where we are 100% sure of the peripheral behavior.
Note however the issue will prevail in other stm32 boards.

[2019-05-16 11:53] ciarmcom commented on #10590
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1207*

[2019-05-16 11:53] ciarmcom commented on #10589
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1208*

[2019-05-16 13:10] trowbridgec opened #10599 "DNS Resolution Fails with Mbed Cloud Client on Cell"
### Description

We are using the Simple Mbed Cloud Client (and so also Mbed Cloud Client) and using cellular for connectivity. On some of our boards, we are able to connect, obtain an IP address, create a PPP connection, bootstrap to the Pelion server, and run for weeks. But, on other boards, we connect, obtain an IP address, create a PPP connection, and then run into DNS resolution issues.

Does

[2019-05-16 13:11] trowbridgec commented on #10599
@ARMmbed/team-embeddedplanet @maclobdell

[2019-05-16 13:50] lerebel103 commented on #10446
+1

[2019-05-16 16:33] mofanv commented on #10548
I have the same issue.
Anyone can help..

[2019-05-16 16:53] mofanv opened #10603 "[Error] mbed_rtc_time.cpp when compiling"
Hi,

I tried to create utensor with mBed from https://blog.hackster.io/simple-neural-network-on-mcus-a7cbd3dc108cdo.
I got errors when doing:

`mbed compile -m K66F -t GCC_ARM --profile=uTensor/build_profile/release.json`

Errors are:
[code]

Does anyone know what reasons lead to this error?
Many thanks!

[2019-05-16 17:46] DrynnBavis opened #10604 "Application uses much more flash than what the compiled size states"
### Description
When compiling my application + bootloader, I see the following result:
[code]
The "Total Flash Memory" is... acceptable. 383 KB is manageable. The problem is that this bin file is actually 1.37 MB. I see it states that "Space used after regions merged: 0x14e248" which seems to be where my 1.37 MB is coming from.

My question is: what's the difference between "Total Flash memory" a

[2019-05-16 20:20] ciarmcom commented on #10603
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1209*

[2019-05-16 22:23] geky commented on #9062
Hi @LaurentLouf, sorry about the late response, I know it has been a long time. I had forgotten about this issue until @linlingao reminded me.

LittleFS v1 has several issues with small files. It doesn't surprise me that they are expensive.

We're working on fixing this in v2. It's experimental at the moment, but if you want to try it out you can find it here:
https://github.com/armmbed/mbed-littl

[2019-05-16 22:35] geky commented on #9075
@0xc0170 this looks resolved, close issue?

[2019-05-17 04:11] ThePhilomathsApprentice commented on #10592
I have concluded that the mbed-os imlementation is not faulty, Theres' some issue regarding the Compiler used by MCUXpresso IDE

[2019-05-17 04:11] #10592 closed

[2019-05-17 10:06] #9460 closed

[2019-05-17 11:06] mofanv commented on #10603
This is because the utensor and mBed 5.12 are incompatible. Rollback to 5.11 fixes this problem.

[code]

[2019-05-17 11:06] #10603 closed

[2019-05-17 11:13] CodingGhost opened #10607 "Serial mixing up characters"
### Description

when using any Serial class derived from serialBase, I have the problem, that if I also use BLE in background, some bytes are faulty. For example sometimes I receive an '.' insted of an 3 or things like that. but this only happens if BLE (or maybe even anything CPU/Interrupt intense) is running in the background.

I have tested this all the way back to serialBase and printed out t

[2019-05-17 12:19] DBS06 opened #10608 "Set Custom Entry Point - nrf52840"
### Description
Hi,
I have an Application with Softdevice and a Custom-Mbed-Bootloader (mbed-dev application).
The main taskt of the Custom-Mbed-Bootloader is to update the Main-Application (which works already very well) and to update the Softdevice (which does not work yet).

**Current Start-Up Procedure:**

1. Nordic-Bootloader starts
2. Nordic-Bootloader starts Softdevice
3. Softdevice starts

[2019-05-17 14:50] bsturgess commented on #7300
Hello, Seeing as its not possible to use FlashIAP to write to the flash when BLE is enabled. is there a way to temporarily shut shown BLE to enable the ability to write?

[2019-05-17 17:31] maclobdell commented on #10245
@offirko  - I tried out your test on CY8CKIT_062_WIFI_BT and I do see some failures reported in the form
[code]
However, I also tried it on FRDM-K64F as a reference and I see massive failures.  I'm using the same sd card shield.   I just swapped the MCU board.  I have not dug into it more.  Any suggestion?

[2019-05-18 13:44] cederom opened #10611 "intercept RESET with my own routnine"
Hello world :-)

I need to intercept the RESET handler in order to make RESET also work as Power-ON/OFF and BLE Pair depending on the button press length. I am working on nRF52(832).

Is there any "weak" function I could overwrite here to catch the reset event and make something in my code?

I found `NVIC_SystemReset()` but that seems target specific? I found `mbed_reset()` but with no luck to ove

[2019-05-18 14:25] AGlass0fMilk commented on #7884
@j3hill With the update to SDK15, can support for the SPIM3 instance (and its higher frequency capabilities) be added to the nRF52840 SPI HAL?

[2019-05-18 15:19] ciarmcom commented on #10611
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1212*

[2019-05-18 16:08] fullbeat commented on #6975
This same error is still present. "Blinky LED Hello World" will not build. I get the exact same error as @toyowata

@SakethKulapaka, could you share screenshots of your project and the warning messages?

[2019-05-18 16:19] fullbeat commented on #6975
Older blinky projects pull in a full set of mbed scr files. They appear to be missing from the newer reference project, even with or without choosing "Update the program and libraries to latest revision"

![image](https://user-images.githubusercontent.com/34584794/57972344-07be1180-7967-11e9-896c-53c0317df2e0.png)

[2019-05-18 17:42] 40Grit commented on #7884
Copying @linlingao since they seem to watch closed issues where others might not.

[2019-05-19 04:50] offirko commented on #10245
@maclobdell - line 390 where CY8CKIT_062_WIFI_BT failed , is comparing the read data to the programmed data. We saw with CY8CKIT_062_WIFI_BT  that CPU reached to 100% on SD card IO.
I would suggest checking whether CPU reaches 100% on K64F, and see what are the specific failures for K64F.

[2019-05-19 12:23] arunkumar-11 opened #10612 "issue with cross compilation for boost"
### Description

### Issue request type

    [ ] Question
    [ ] Enhancement
    [ ] Bug

[2019-05-19 12:28] arunkumar-11 commented on #10612
Hi,

I'm trying to cross compile boost but it is giving the following errors
[code]

[2019-05-19 15:19] ciarmcom commented on #10612
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1213*

[2019-05-19 16:00] arunkumar-11 commented on #10612
ciarmcom that link is not working i'm unable to connect with any of my device(mobile and laptop),can you give any other link

[2019-05-19 16:25] evgenibo opened #10613 "FCCE fails to run on CY8CKIT_062_WIFI_BT_PSA target with ARMC6 compiler"
### Description

Factory Configurator Client Example (FCCE) application fails to allocate 1KByte on heap shortly after it starts to execute.
**setup details:**
 - mbed-os: 5.12.3 (#0f959dbe4749c20416236e4fe1dac5692cbe18ab)
 - target: CY8CKIT_062_WIFI_BT_PSA
 - toolchain: ARMC6

when the application runs with the mentioned above setup, it fails to allocate 1KB on the heap for mbed-trace since the h

[2019-05-19 16:27] evgenibo commented on #10613
@jenia81, @alzix @SenRamakri @teetak01

[2019-05-19 20:14] ciarmcom commented on #10613
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1214*

[2019-05-19 22:50] yogeshk19 commented on #10608
@DBS06 I was wondering if the custom bootloader you built is loading the firmware OTA? Also I am assuming you are not using the Cordio BLE API, as you still are using the Nordic softdevice?

Thanks,
Yogesh

[2019-05-20 01:19] cederom commented on #10562
So far I have identified following problems:
* `P0.18/SWO` is always `0`. Can be used as `InterrputIn` but always reads `0`.
* `P0.22`, `P0.24`, `P0.28/AIN4`. Cannot be used as `InterruptIn` hangs whole system (does not reach `mbed_die()`).

[2019-05-20 03:17] 40Grit commented on #10562
Check errata? It was probably one of the Atmel samd parts, but I recall being bitten by or reading about by a pull issue on a P22,P24 before.

[2019-05-20 03:18] 40Grit commented on #10562
Also try the bare metal profile to limit any potential for weirdness and semihost your debug terminal?

[2019-05-20 05:51] wajahat-ublox commented on #9711
@0xc0170
#10551 will not fully address this issue. Once an API is provided for application to be able to set authentication type, we will be using `_authentication_type` in our class to provide the said functionality.

[2019-05-20 08:11] DBS06 commented on #10608
@yogeshk19 The bootloader checks if a FW-Update is available on the FW-Update-Partition and copies the FW-Update from the FW-Update-Partition over the FW-Partition.
The flash is apart from Softdevice and Custom Bootloader spit in half, one Partition for the FW (running application) and one for the FW-Update.

[2019-05-20 08:20] cederom commented on #10562
Well, this is the bare metal :-) Errata should be implemented in mbed I guess.. will read.. thanks for hint @40Grit ! :-)

[2019-05-20 10:42] kjbracey-arm commented on #10607
The UART is certainly a device vulnerable to interrupt latency issues. If you're using `UARTSerial`, that installs an interrupt handler which should give the best possible chance of getting the data out correctly. If that's not working, then the BLE code is apparently getting in the way too much. I believe this is using the "SoftDevice" layer? That is a whole "higher-priority" layer above Mbed OS,

[2019-05-20 17:17] evedon commented on #9423
As per last comment, the issue was fixed in #9424

[2019-05-20 17:17] #9423 closed

[2019-05-20 17:44] carlosperate commented on #7887
Any chance this could be considered? It'd be great to have comments to explain some of the selected settings.

[2019-05-20 17:50] loverdeg-ep commented on #7887
I want this feature but would probably prefer changing to a notation that supports comments.

[2019-05-20 20:26] andrewleech commented on #7887
Comments, improved readability and ease of writing are the main reasons I switched from json to yaml years ago for all my python config needs, originally with pyyaml then I built this to make it even easier to read and write config files: https://pypi.org/project/structured-config/

The best part is yaml is a superset of json so the yaml / structured-config parsers can read json in and use it the

[2019-05-20 20:27] linlingao commented on #10612
The link is our internal bug tracking link.
I don't recognize your build command. It doesn't seem you're using Mbed tools. Not sure how we can help?

[2019-05-21 11:58] 0xc0170 commented on #10547
Closed as duplicate (the issue referenced above contain more details).

@nmooman please follow #10548

[2019-05-21 11:58] #10547 closed

[2019-05-21 12:00] 0xc0170 commented on #10548
@kjbracey-arm You haven't experienced this issue when enabling C+11/14?

[2019-05-21 12:19] 0xc0170 commented on #10612
@arunkumar-11 This issue is not related to this repository. Please redirect the question to the relevant forum/issue tracker.

The error is related to this one https://github.com/ARMmbed/mbed-os/issues/3725

[2019-05-21 12:19] #10612 closed

[2019-05-21 12:20] kjbracey-arm commented on #10548
The issue is occurring because `-std=c++11` has been specified, rather than `-std=gnu++11`.

Not sure why, but we do currently assume GNU extensions are enabled, so turning them off is likely to cause issues.

[2019-05-21 12:34] 0xc0170 commented on #10613
What is the exact commit SHA or PR ? Is it this one: https://github.com/ARMmbed/mbed-os/pull/10078 ? I could not find any other recent change.

cc @ccli8

[2019-05-21 12:39] 0xc0170 commented on #10613
@mprse Do calculation look corect in 10078 ?

@evgenibo What is the heap size with and without 10078 ? Checking the calculations there, might produce different numbers.

[2019-05-21 12:54] 0xc0170 commented on #7887
Same here, used yaml where I could.

Config provides "help" to describe settings. Without changing the config format, is there anything else where "help" member is not present or we could improve the experience?

[2019-05-21 12:54] 0xc0170 commented on #7887
cc @ARMmbed/mbed-os-tools

[2019-05-21 13:18] loverdeg-ep commented on #7887
@0xc0170 Personally I'd like for a well defined standard tools be used for builds, package management, and build configuration.

Mbed OS was ahead of its time in this area but has fallen behind to the projects now available to handle this stuff.

[Buckaroo](https://github.com/LoopPerfect/buckaroo) looks promising among others. CMSIS packs looks like its coming along but I get the feeling it needs

[2019-05-21 14:05] jeromecoutant opened #10626 "How to get error message?"
### Description

When there is no "\n" in the error line, there is no message in the console:

Ex in some PSA file:
error("Could not write PSA storage version");

[code]

If I add \n:
error("Could not write PSA storage version\n");

We got:

[code]

Solution 1: make patch in all file calling error without "\n"

Solution 2: add in mbed_error function a systematic end of line

Thx

### Issue request

[2019-05-21 14:54] mark-edgeworth commented on #7887
Ok, happy to reopen this issue; we'll take another look at some point.

[2019-05-21 15:08] amak-cy opened #10628 "Rtc greentea failures on Cypress Targets"
Target
CY8CKIT_062_4343W,  and CY8CKIT_062_WIFI_BT

Toolchain:
GCC_ARM

Expected behavior
All greentea tests should pass for the targets.

Actual behavior
RTC sleep greentea fails on mbed-os 5.12.3 (https://os.mbed.com/blog/entry/mbed-os-5123-released/)

Steps to reproduce
Run RTC tests five or more time times to get the failure :
mbed test -m CY8CPROTO_062_4343W -t GCC_ARM -v -n mbed-os-tests-mbe

[2019-05-21 15:13] 0xc0170 commented on #10548
Considering this as resolved

[2019-05-21 15:13] #10548 closed

[2019-05-21 16:55] nbelanger99 opened #10630 "Still no solution to compile size problem"
https://github.com/ARMmbed/mbed-os/issues/10571

This problem is still unsolved- Mbed compiles to be far too large- likely because of the stdio debugging settings. The only solution that's been proposed to me is to compile Mbed from source (something that Platformio won't allow as far as I'm aware), using say the GCC compiler. I'm looking for an Arduino-supported board for now, but it would be nic

[2019-05-21 17:15] loverdeg-ep commented on #10630
Are you using or able to use the baremetal profile/library?

https://os.mbed.com/docs/mbed-os/v5.12/reference/mbed-os-bare-metal.html

[2019-05-21 17:34] alzix commented on #10613
@0xc0170, heap calculations are done (or expected to be done) in runtime. map file has 0x400 size allocated in scatter file.

take a look https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_retarget.cpp#L974
i suspect something got broken in this part of the code.

[2019-05-21 20:13] #10491 closed

[2019-05-21 20:23] ciarmcom commented on #10630
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1215*

[2019-05-21 20:23] ciarmcom commented on #10628
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1216*

[2019-05-21 20:23] ciarmcom commented on #10626
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1217*

[2019-05-22 01:07] cederom commented on #10564
There are some bugs in `5.9.7`, so I have to move to `5.12.3` to test against, but `5.9.7` is also the last one that did not rebuild the whole `mbed-os` from scratch each time. This is kind of blocker for me.. as I have to wait severa minutes on each change.. and this happens very very often :-(

I guess it would be safer to assume `mbed-os` is untouched in most cases, so user only needs to build

[2019-05-22 01:59] ccli8 commented on #10613
@0xc0170 #10078 takes `ARM_LIB_HEAP` into consideration for correcting heap initialization logic if `ARM_LIB_HEAP` is defined in .sct file. CY8CKIT_062_WIFI_BT_PSA defines `ARM_LIB_HEAP` in **cy8c6xx7_cm4_dual.sct** but its size is only 1KiB (if I don't get wrong). The solution would be to fix `HEAP` section size in **startup_psoc6_01_cm4.S**.

[code]

[2019-05-22 07:35] 0xc0170 commented on #10613
Lesson learned, the fix should have been postponed to 5.13.

@evgenibo Can you send a fix please, to be Incorporated in the next release?

[2019-05-22 07:36] #7862 closed

[2019-05-22 07:36] #10191 closed

[2019-05-22 08:18] jenia81 commented on #10613
@0xc0170 I believe you should request it from Cypress guys?
Can we have some temporary fix to unblock PDMC release with 5.12.3?

[2019-05-22 08:19] 40Grit commented on #10564
@theotherjimmy

Any insight?

[2019-05-22 08:22] 0xc0170 commented on #10613
+1, not yet in thread, cc @ARMmbed/team-cypress

Please talk to management, our next release is 5.13.0 , code freeze end of this week.

[2019-05-22 08:29] 0xc0170 commented on #10564
@ARMmbed/mbed-os-tools Please review

[2019-05-22 08:39] evgenibo commented on #10613
cy8c6xx7_cm4_dual.sct didn't change in transition from 5.12.2 to 5.12.3 (or in the last couple of months) and the heap size was configured correctly in the previous versions

[2019-05-22 08:49] mark-edgeworth commented on #10564
Hi, thanks for raising this. I'll let you know if I can find a solution...

[2019-05-22 09:11] 0xc0170 commented on #10613
Correct, the fix introduced using the symbol from a linker script, assuming the symbol is correctly defined.

To clarify, my understanding:

1. As it previously was:

[code]

2. Now it is:

If `ARM_LIB_STACK`/`ARM_LIB_HEAP` are not defined (one region memory), same as 1. . However, if these 2 are defined, two memory region is used, and heap base/limit are using linker symbols values (`ARM_LIB_HEAP

[2019-05-22 09:14] 0xc0170 commented on #10613
To summarize:

Startup file should be fixed (possibly as well linker script files to define proper values for heap region, not certain about this, to check) , not to set this hard defined value for heap for ARMCC.

@ARMmbed/team-cypress Please review our findings. This should be addressed by end of this week.

cc @maclobdell

[2019-05-22 09:21] 0xc0170 commented on #10613
Whoever follows this thread, reverting the "use 2 regions memory" would be a workaround:

Removing these lines from `mbed_retarget.cpp` file as below or just remove ARM_LIB_HEAP from scatter file.

[code]

@evgenibo you can apply these to continue with your app now (should not block you anymore).

[2019-05-22 09:30] nikhedonia commented on #7887
@loverdeg-ep we are happy to help with the adoption of buckaroo and make buckaroo more suitable for mbed-os.

However currently, we are not familiar of mbed-os ecosystem, and your help would be very appreciated:

- How are dependencies currently managed?
- How do you integrate dependencies that live outside the mbed ecosystem?
- How are you currently building the project?
- What are your toolchain

[2019-05-22 09:38] lxrobotics commented on #10584
It took a little while until my Salae Logic 8 arrived but finally here it is - the logic analyser trace of the SPI communication which clearly show that not always the currect byte is echoed back.

Everything starts quite as expected ...

| **SPI Transfer 0** | **OK** | |
|-|-|-|
| MOSI | 0x12 | 0x34 |
| MISO | 0x00 | 0x12 |

![SPI-Slave-Echo-1](https://user-images.githubusercontent.com/3931733/58

[2019-05-22 09:51] ccli8 commented on #10613
@0xc0170 Yes. #10078 is to address heap initialization error in two region model. If `ARM_LIB_HEAP` is not defined in scatter file, it goes as before. If `ARM_LIB_HEAP` defined, it must be correct for heap initialization.

[2019-05-22 09:53] LMESTM commented on #10584
Thanks for this !

Even @ 125kHz, we can see that there is only 2µs between the end of the first byte and the begining of the second byte. That means that the slave has to cope with reading this first byte and writing it back to the SPI register within those 2 µs. Any other interrupt like Timer interrupt or OS core scheduling operation may cause this operation to fail which probably happens here.

[2019-05-22 10:36] evgenibo commented on #10613
@0xc0170,
just to make it clear, do you want me to make PR with ```ARM_LIB_HEAP``` removal?

[2019-05-22 10:49] MarceloSalazar commented on #10551
@jarvte can you please update us?

[2019-05-22 10:52] jarvte commented on #10551
@MarceloSalazar I have created an internal ticket but it's not in current sprint. After tomorrows planning I know if it's on the next one, I'll update tomorrow when i know.

[2019-05-22 10:56] MarceloSalazar commented on #10551
Can you share the ticket ID please?

[2019-05-22 10:57] jarvte commented on #10551
IOTCELL-1993

[2019-05-22 11:07] ganesh-ramachandran commented on #10464
Hi @0xc0170, any update on this issue.

[2019-05-22 11:13] MarceloSalazar commented on #10278
@ARMmbed/mbed-os-pan can you please review and comment?

[2019-05-22 11:18] 0xc0170 commented on #10613
Lets wait for @ARMmbed/team-cypress to review this. The last resort would be to just remove the symbols, not the best fix as they are obviously defined there to be used.
I would rather remove `__user_initial_stackheap` - this is legacy function, and we use `__user_setup_stackheap`. That might also fix this issue.

[2019-05-22 11:37] #7961 closed

[2019-05-22 11:40] 0xc0170 commented on #7961
https://github.com/ARMmbed/mbed-os-5-docs/pull/820 fixed it

[2019-05-22 11:44] 0xc0170 commented on #10464
It was internally assigned to a different team now.

@ganesh-ramachandran To get details here up to date:

target has `RAM - 10K and Flash - 128K` and fails to run tests as mentioned above. The main question stays: why this is not sufficient for tests to ru. Our Mbed Enabled defines Baseline as: `[B-M1-2] MUST provide at least 4KB RAM and 32KB Flash.` - means this should be sufficient.

What tests

[2019-05-22 11:45] pan- commented on #10278
@MarceloSalazar I'm not sure to understand what is expected from us. Access to the header of the Cordio stack is prefixed in all of our code and it isn't in cloud client code. I'd argue it is a bug in the client code; not mbed-os. We are exposed to this kind of issue whenever new code is added with the _build system_ used.

Monitoring headers file name is a short sighted workaround that doesn't sc

[2019-05-22 11:49] 0xc0170 commented on #10278
As suggested above, this is known issue - basically limitation of the build system. The file was added to 5.12.0, this breaks applications - any new file added could, without having proper prefix or unique name.

As this issue is related to the application, can we fix the naming there rather?

[2019-05-22 11:49] #10168 closed

[2019-05-22 11:51] 0xc0170 commented on #10168
Closed as "cannot reproduce"

[2019-05-22 11:53] #8428 closed

[2019-05-22 11:54] #8498 closed

[2019-05-22 12:54] lxrobotics commented on #10584
I agree that 2 µs is a small turnaround time, however, how long should a delay be? I've tried with a delay of 1 ms between two consecutive SPI transfers:
[code]
Despite this delay I do experience the same issues as before. Furthermore, a delay of >= 1 ms between two consecutive SPI transfers **eliminates the speed advantage** the synchronous interface SPI has over asynchronous interfaces such as U

[2019-05-22 13:08] bqam-ublox commented on #9712
[PR#10636](https://github.com/ARMmbed/mbed-os/pull/10636) generated. This should fix the issue. Please note that this PR is not tested on G450 but should be applicable on all modems.

[2019-05-22 13:58] evedon commented on #10510
The issue reported is on the Semtech external library so we cannot offer more support. If you discover a Mbed OS issue then consider contributing a fix.

[2019-05-22 13:58] #10510 closed

[2019-05-22 14:12] evedon commented on #10562
This is a useful discussion. Please consider contributing a PR.

[2019-05-22 14:31] cederom commented on #10562
work in progress.. :-)

[2019-05-22 14:47] cederom commented on #10562
What I noticed, MBED has its own API, then it uses HAL, then it uses some glue functions, then uses NORDIC SDK. Will have to figure that out and make some more detailed documentation. Using MBED on DevelKit is nice, but using MBED on a custom product is more important :-)

[2019-05-22 15:12] loverdeg-ep commented on #10562
@cederom I think you are right as I still have some corrupted memories of finding the root cause of this somewhere in NRF SDK.

[2019-05-22 15:43] mark-edgeworth commented on #7887
Hi, thanks for the offer of help here. This is not something that we are actively working on today but we will revisit the question of dependency and library management at some point. I'm not able to answer the questions you pose but others may well pitch in here...

[2019-05-22 15:49] DrynnBavis commented on #10604
After a lot of digging, I narrowed it down to this dependency that uses most of the space:

When I add this to `.mbedignore` the size of the application shrinks from 1.3 MB -> 220 KB. Of course though, the wifi module no longer works. Does anyone have experience with the Odin Wifi Interface? I don't see where this extra ~ 1 MB is coming from...

[2019-05-22 16:40] cederom commented on #10562
..and below the SDK there is the SoftDevice.. thanks for sharing the possible issues with radio stacks interfering with the GPIO.. looks like fun =)

[2019-05-22 18:33] linlingao commented on #10630
We're aware that it would be challenging to fit Mbed OS in 32K flash. We're working on code size reduction. At the same time, if you have a compelling business case, please reach out to support@mbed.com, we will evaluate.

[2019-05-22 18:33] #10630 closed

[2019-05-22 18:49] loverdeg-ep commented on #10630
@linlingao @0xc0170 Can you point to an issue that reflects the work to reduce code size?

[2019-05-22 19:30] linlingao commented on #10630
@loverdeg-ep The work is being done in a private repo at the moment. I don't have ETA for it to become public yet.

[2019-05-22 22:46] cederom commented on #10564
Hello and thank you @mark-edgeworth @0xc0170 @40Grit :-) I thought that maybe my Custom Target configuration may be invalid and cause of the problem, but I have updated to `5.12.4` and used bare `nRF52_DK` target, and problem did not disappear, I still have to rebuild whole `mbed-os` from scratch most of the time. Any hints welcome :-)

[2019-05-23 05:08] AmmadRehmat commented on #5075
@MarceloSalazar  BLE is now supported

[2019-05-23 07:08] LMESTM commented on #10584
cc @ARMmbed/mbed-os-core  for feedback and any recommendations on SPI APIs usage

[2019-05-23 09:18] 0xc0170 commented on #5075
Closing as resolved (confirmed the feature is supported)

[2019-05-23 09:18] #5075 closed

[2019-05-23 09:29] 0xc0170 commented on #10571
As mentioned in another thread, baremetal profile also could reduce the size if sufficient for the application: see https://os.mbed.com/docs/mbed-os/v5.12/reference/mbed-os-bare-metal.html. Y ou should get down to few kBs.

Similar numbers were reported here https://os.mbed.com/blog/entry/Reducing-memory-usage-by-tuning-RTOS-con/ (although most of it in this article is not up to date). You can tun

[2019-05-23 09:30] devran01 opened #10641 "TARGET_PSA, TARGET_MBED_SPM and TARGET_TFM folders under COMPONENTS folder"
### Description

Should the folders TARGET_PSA, TARGET_MBED_SPM and TARGET_TFM under COMPONENTS folder be renamed to COMPONENT_* or should they be moved under targets folder?

@alzix's comment:
https://github.com/ARMmbed/mbed-os/pull/9221#issuecomment-495087104

### Issue request type

    [ x] Question
    [ ] Enhancement
    [ ] Bug

[2019-05-23 10:35] 0xc0170 commented on #10604
cc @ARMmbed/team-ublox Please review

[2019-05-23 10:40] 40Grit commented on #10564
@aglass0fmilk @farrenv @trowbridgec

I know for a bit this was something we just dealt with.

Our CI currently rebuilds everytime since we have cacheing disabled, but do we see similar behavior in local builds?

[2019-05-23 11:35] #8921 closed

[2019-05-23 11:36] mudassar-ublox commented on #7679
Cellular libraries was updated to SARA-R4.
[ONBOARD_UBLOX.cpp](https://github.com/ARMmbed/mbed-os/blob/b2abfc3529f2ba0cbee2c62c37c97760537c34c3/targets/TARGET_STM/TARGET_STM32F4/TARGET_STM32F437xG/TARGET_UBLOX_C030/ONBOARD_UBLOX.cpp#L28)

Following are cellular api's for Sara-R4.
[Sara-R4-Api](https://github.com/ARMmbed/mbed-os/tree/master/features/cellular/framework/targets/UBLOX/AT)

[2019-05-23 11:37] #10321 closed

[2019-05-23 11:41] #9761 closed

[2019-05-23 11:46] #9027 closed

[2019-05-23 11:54] #9737 closed

[2019-05-23 11:57] CodingGhost opened #10643 "how long till merge to master?"
### Description
I just wanted to ask, when this branch will get merged into mbedosd master, because we really depend on SDK15, and cannot really continue development without it.

### Issue request type

    [ x] Question
    [ ] Enhancement
    [ ] Bug

[2019-05-23 12:25] 0xc0170 commented on #10643
@j3hill Please review

[2019-05-23 12:30] trowbridgec commented on #10564
We actually don't have caching disabled, but we have to rebuild every time because we use the [Mbed Client CLI](https://github.com/ARMmbed/mbed-client-cli) which accepts a custom command line boot message via a MACRO. We generate this MACRO at compile time with the git branch, git commit, and build time/date and pass it in via a command line argument to `mbed compile`. When that happens, the compi

[2019-05-23 12:42] 0xc0170 commented on #7679
@mudassar-ublox This issue was resolved and can be closed?

[2019-05-23 12:52] evedon commented on #10464
Most tests are failing:

  * TMPM381::GCC_ARM::FEATURES-FRAMEWORKS-UTEST-TESTS-UNIT_TESTS-BASIC_TEST
  * TMPM381::GCC_ARM::FEATURES-FRAMEWORKS-UTEST-TESTS-UNIT_TESTS-BASIC_TEST_DEFAULT
  * TMPM381::GCC_ARM::FEATURES-FRAMEWORKS-UTEST-TESTS-UNIT_TESTS-CASE_ASYNC_VALIDATE
  * TMPM381::GCC_ARM::FEATURES-FRAMEWORKS-UTEST-TESTS-UNIT_TESTS-CASE_CONTROL_ASYNC
  * TMPM381::GCC_ARM::FEATURES-FRAMEWORKS-UTES

[2019-05-23 14:28] 0xc0170 commented on #10559
What did we miss and how? :)

[2019-05-23 14:34] fkjagodzinski commented on #10559
I suppose the `feature-watchdog` branch has been rebased too many times.
I'll prepare a new PR to bring these changes back to the feature branch.

[2019-05-23 15:18] studavekar commented on #6966
closing it.

[2019-05-23 15:18] #6966 closed

[2019-05-23 15:32] hennadiykytsun commented on #10613
As I understand the correct solution will be add the following to the asm file:
IMPORT  __use_two_region_memory
IMPORT  __user_setup_stackheap

and remove the __user_initial_stackheap with it implementation from the asm file (the following peace of the code):
                EXPORT  __user_initial_stackheap

__user_initial_stackheap PROC
                LDR     R0, =Heap_Mem
                LDR

[2019-05-23 15:57] hennadiykytsun commented on #10613
I see that [documentation ](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.kui0099a/armlib_cihhdahf.htm) tells that __user_setup_stackheap needs to be reimplemented in assembler. So we can't import it. So, the proper solution is following:

IMPORT __use_two_region_memory
EXPORT __user_setup_stackheap

__user_initial_stackheap PROC
LDR R0, =Heap_Mem
LDR R2, =(Heap_Mem + Heap_Size)
LDR

[2019-05-23 16:22] evedon commented on #6187
HAL layer was updated.
Closing this question as it is rather old. Please reopen if you need additional assistance.

[2019-05-23 16:22] #6187 closed

[2019-05-23 18:30] hierophect opened #10648 "Should the online compiler be able to export projects on 64kb targets when using the 'bare-metal' profile?"
### Description
EDIT: I had mistakenly(?) thought the bare-metal profile could be accessed in the same way as compile macros, and this was the only means of adding it on the online compiler. The real issue is that the bare-metal profile cannot be added in the advised way as per the documentation.

To reproduce:
Select any mbed-os sketch and set target to NucleoF303k8. Set `mbed_app.json` to:
[code

[2019-05-24 05:31] mudassar-ublox commented on #7679
Yes you can close this issue.

[2019-05-24 05:32] ciarmcom commented on #10648
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1218*

[2019-05-24 06:02] desowin opened #10649 "Misleading Error Message: Not allowed in ISR context when hard fault happens before default_console() is called for first time"
### Description of defect

Misleading Error Message: Not allowed in ISR context when hard fault happens before default_console() is called for first time

Easiest way to reproduce is to do NULL pointer dereference in class constructor and create statically allocated object of this class. The Hard Fault handler will collect the information and try to print it. However, as it is the first time defau

[2019-05-24 06:44] aqib-ublox commented on #10604
@DrynnBavis An issue seems to be in stats let me share my findings
[ARM_logs.txt](https://github.com/ARMmbed/mbed-os/files/3215416/ARM_logs.txt)
![arm_size](https://user-images.githubusercontent.com/37407580/58307053-ed78ad80-7e16-11e9-8e63-e32da0338409.PNG)
[IAR_logs.txt](https://github.com/ARMmbed/mbed-os/files/3215418/IAR_logs.txt)
![iar_size](https://user-images.githubusercontent.com/37407580/

[2019-05-24 06:55] aqib-ublox commented on #10604
I suspect ".firmware" section which is ODIN_W2 driver is being ignored in calculating size in case of GCC_ARM e.g

".firmware"     size= ~740
"GCC_ARM_stats"          size = ~368

".firmware" + "GCC_ARM_stats" = 1108 kb (which is nearly what seen on windows)

[2019-05-24 06:57] ccli8 opened #10650 "M2351: Compile failed on GCC with atomic"
### Description

Nuvoton's NUMAKER_PFM_M2351 target is M23 based. Currently, it only supports ARMC6 toolchain. Its GCC support has merged into master but is not enabled due to some reason. Testing on recent master and GCC, it compiles failed with:

<pre>

[Warning] @,: Compiler version mismatch: Have 7.3.1; expected version >= 6.0.0 and < 7.0.0
Building project mbed-os-example-blinky (NUMAKER_PFM_

[2019-05-24 07:41] JanneKiiskila commented on #9470
@ARMmbed/team-st-mcd  - any runtime to look into this?

[2019-05-24 07:56] jeromecoutant commented on #10273
Please review
https://review.trustedfirmware.org/c/trusted-firmware-m/+/1145

[2019-05-24 07:57] jeromecoutant commented on #9470
Hi Janne
This is in our "long" to-do list.... :-(

[2019-05-24 08:14] 0xc0170 commented on #10650
Can you find out why it is not enabled? I can see only ARMC6 enabled in targets.json - is this because we still are on GCC 6?

This is something to check once we switch to newer GCC and enable this target.

cc @kjbracey-arm

[2019-05-24 08:16] 0xc0170 commented on #10649
@desowin What is your Mbed OS SHA you tested it with ? I recall  there was similar issue and was fixed on master.

[2019-05-24 08:17] 0xc0170 commented on #10648
What do you get, an error ? Please provide details

[2019-05-24 08:30] ccli8 commented on #10650
It is GCC toolchain issue. Per check on latest GCC 8-2018-q4, it still has errors in epilogue of NSC function.

cc @deepikabhavnani

[2019-05-24 08:34] desowin commented on #10649
The mbed-os version I use is 73f096399b4cda1f780b140c87afad9446047432, which is tagged as mbed-os-5.12.4

[2019-05-24 08:42] 0xc0170 commented on #10650
@ARMmbed/mbed-os-core

[2019-05-24 09:11] #7679 closed

[2019-05-24 09:23] pmancele commented on #10583
I think you should look for TX_Power default settings.
It is 0dBm on Mbed by default so try to increase it.

[2019-05-24 09:26] kjbracey-arm commented on #10650
I assume so.

Sorry, lost me there.

I'll look at the GCC/ARMv8-M atomic_impl.h issue.

[2019-05-24 09:32] DBS06 commented on #10608
Switching to Cordio-Stack solves a lot of Problems ;-)

[2019-05-24 09:32] #10608 closed

[2019-05-24 09:45] 0xc0170 commented on #10613
Mbed OS provides `__user_setup_stackheap ` in `mbed_retarget.cpp` file.  Shouldn't we just remove `__user_initial_stackheap ` in the startup ? This function should not be there as we use `__user_setup_stackheap`

[2019-05-24 10:52] DBS06 opened #10655 "NRF52840 Bare Metal - Linker Script not found"
### Description

Hi,
I already build successfully a custom bootloader with mbed-dev, but to maintain another repository is expensive in time and costs, I tried to build a bare-metal bootloader application with mbed-os 5.12.3, but the compilation fails with an error which says no linker script found.

[code]
If I remove
[code]
from my `mbed_app.json`, `mbed compile` finds the Linker Script for the

[2019-05-24 11:54] ciarmcom commented on #10655
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1219*

[2019-05-24 11:55] ciarmcom commented on #10650
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1220*

[2019-05-24 11:55] ciarmcom commented on #10649
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1221*

[2019-05-24 12:08] mudassar-ublox opened #10658 "Cellular: Multiple URCs issue"
When setting different RAT of the modem, the ublox modem needs to deregister from the network. This is done by sending AT+COPS=2 which in response generates the following URCs:

+CREG: 0
+CGREG: 0
+CGEV: ME DETACH

However, the `ATHandler` processes only the first URC `(+CREG)` and the other URCs are missed consequently resulting in `at_overflow` and return error -3012 `(_last_err)`.

[00042148][I

[2019-05-24 12:09] mudassar-ublox commented on #10658
Not sure but may be this is related to this issue [#10549](https://github.com/ARMmbed/mbed-os/issues/10549)

[2019-05-24 12:36] evedon commented on #8816
There has been no activity for a while.
@BramdeBoer1  Is this still an issue with Mbed OS 5.12.4?

[2019-05-24 12:43] evedon commented on #7697
Sorry for the lack of response. As this is an old issue, I will close it. Please re-open if you can reproduce the issue with the latest Mbed OS release and you need further assistance.

[2019-05-24 12:43] #7697 closed

[2019-05-24 13:11] janhaa opened #10662 "Argument list too long"
I consistently get the following when trying to use mbed through platform.io.
I suppose this is a problem with mbed-os rather than platform.io.

[code]

gcc -v:
[code]

[2019-05-24 13:17] cederom commented on #10608
Hey @DBS06 in which ways Cordio is better than SoftDevice? I will also work on FOTA very soon.. your hints and experiences could help me make some decisions, could you please tell in short words:
* why is Cordio better than SoftDevice?
* is Cordio still dependent on SoftDevice and Nordic SDK?
* do I have to use SoftDevice when using Cordio?
* is secure FOTA already implemented in Cordio and better

[2019-05-24 13:23] loverdeg-ep commented on #10608
@cederom
* Cordio is an open source stack therefore you can debug it
* Cordio is not dependent on softdevice not sure if it uses the SDK
* Softdevice can be dropped
* I beleive secure FOTA with Cordio is a work in progress

Softdevice has an RTOS of its own, it can preempt mbed os and cause timing issues.

[2019-05-24 14:06] cederom commented on #10608
Wow, thanks @loverdeg-ep, so the Cordio seems full replacement to SoftDevice?? Is it production ready? Can existing BLE framework of MBED work on Cordio easily switched from SoftDevice? If Cordio does not yet support secure FOTA I guess it already supports generic FOTA and can be used to update firmware over the air (as presented in this thread) and I can decrypt chunks on my own? :-)

[2019-05-24 14:16] loverdeg-ep commented on #10608
@donatieng, @j3hill  any further insight for @cederom ?

[2019-05-24 14:20] trowbridgec commented on #10608
As far as production readiness, the Mbed team has switched their official [BLE examples](https://github.com/ARMmbed/mbed-os-example-ble) to using Cordio, so I think they are happy with it.

[2019-05-24 14:33] cederom commented on #10608
Awsome! Switch seems trivial! Will give it a try! THANK YOU FOLKS! =)

[2019-05-24 15:08] maxgerhardt opened #10664 "Better MemoryPool Implementation"
### Description

* target: `NUCLEO_L476RG`
* toolchain: GCC_ARM 8
* mbed-os: newest 5.12

When using the `MemoryPool` object to have a statically allocated pool of memory of objects of type `T`, the user has to make sure to initialize the objects acquired via a `alloc()` call.

However, in the use case of dynamically allocating a `Queue` object, this isn't even possible because the initialization

[2019-05-24 15:09] evedon commented on #6581
--custom-targets command line switch was delivered in #9401 so closing this issue.

[2019-05-24 15:09] #6581 closed

[2019-05-24 15:28] ciarmcom commented on #10662
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1222*

[2019-05-24 15:28] ciarmcom commented on #10658
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1223*

[2019-05-24 15:34] hierophect commented on #10648
Sorry, I misunderstood that the `bare-metal` profile was supposed be accessed via a compile macro as per `tickless` and other settings, based on a mixup in a previous conversation. However, I cannot alter the mbed_app.json file to use this profile in the way recommended for mbed CLI in the documentation. I've updated the issue title and description to represent this.

[2019-05-24 15:41] hierophect commented on #10648
Issue was that the mbed library was very old (as per older issues), and the online compilers "update all" tool *doesn't update it* - you must click the mbed library and update it specifically. That's a bit confusing! Found issue after manually checking mbed version.

Closing as I doubt the "update all" tool is really worth looking into. Sorry for all the misdirection here.

[2019-05-24 15:41] #10648 closed

[2019-05-24 15:47] hierophect commented on #10648
Very minor, but it might be nice to add the line:
 "Target not supported by MBED OS 5 without bare-metal profile. The bare-metal profile can be set in mbed_app.json"

To the default error produced by the online compiler when using OS5 with 64kb targets.

[2019-05-24 18:31] yogeshk19 commented on #10608
@DBS06 Hi Philip, I was wondering if you can share some information regarding the bootloader you have built? I have been trying to build a FOTA bootloader for an application using the Cordio API and I was wondering if you can share some of what you have implemented to get the bootloader working?

Thanks,
Yogesh

[2019-05-24 18:48] nick-atmosphereiot opened #10667 "Maxim 32630 Feather - MTU Cannot Be Changed"
### Description
Using the Max32630 Feather board, the MTU is always set to 23 with a maximum payload size of 20.

I am unable to negotiate the MTU with the device, as it seems that the code just isn't there to handle it.

Can anyone provide an example of changing the MTU with exactLE? There are some defines and functions related to MTU, but none of them do anything.

-Nick

### Issue request type

[2019-05-24 19:05] linlingao commented on #10648
You're correct, "update all" doesn't work. It's a known issue.

[2019-05-24 20:03] AGlass0fMilk opened #10668 "SAI HAL feature - stale?"
### Description

Hi, I'm wondering if there are any plans to start work on the [`feature-hal-spec-sai`](https://github.com/ARMmbed/mbed-os/tree/feature-hal-spec-sai) branch again anytime soon or if it's gone completely stale?

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

[2019-05-24 20:11] AGlass0fMilk commented on #10586
Hi @Alex-EEE,

I would start by reading through the [Porting Guide](https://os.mbed.com/docs/mbed-os/v5.12/porting/index.html), specifically the section on porting targets.

Since you say a similar target exists already, you may not have much work to do. If they share the same underlying drivers from NXP then the HAL implementations written for the similar target should also work with your new tar

[2019-05-24 20:20] ciarmcom commented on #10667
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1225*

[2019-05-24 20:20] ciarmcom commented on #10664
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1226*

[2019-05-24 20:45] Alex-EEE commented on #10586
Yea, that porting guide is probably OK if you're starting from scratch, but overkill for porting something close.  I pretty much had to reverse engineer the system with trial and error.

Let me post here for anyone else who might search for this later...

So, starting with adding a new part to the targets.json file... (If you don't know what that means, read the porting guide)  The thing they don'

[2019-05-24 22:57] sagrebin opened #10669 "BLE power consumption using CORDIO stack too high"
### Description
I've cloned the [mbed-os-example-ble](https://github.com/ARMmbed/mbed-os-example-ble) repo and removed the LED blinking code and the print statements. When I run the application on my dev board and use nordics power profiler I get an average of 1mA when advertising (advertising interval: 2 sec).
I did the same with the with the deprecated sample [BLE_BatteryLevel](https://github.co

[2019-05-24 23:33] cederom opened #10670 "mbed compile --profile debug fails build at EventQueue.h@52,7"
### Description

Both `mbed compile --color -j8 --profile mbed-os/tools/profiles/debug.json` and `mbed compile --color -j8 --profile debug` fails with the following error that does not occur when building without a `debug` profile:

[code]

This build type is necessary to have insight into a variables when debugging. This command is described in [1]. This seems **blocker** since I cannot effective

[2019-05-25 11:51] ciarmcom commented on #10670
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1227*

[2019-05-25 11:51] ciarmcom commented on #10669
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1228*

[2019-05-25 13:37] 40Grit commented on #10669
If debugging with an svg loaded,

are you able to confirm which peripherals are enabled and running between the two examples?

Also would be interesting to see the clock configurations between the two.

[2019-05-25 13:44] 40Grit commented on #10669
Mistyped .svd above.

[2019-05-25 15:11] cederom commented on #10670
My mistake, sorry!! I have put that global `eventQueue()` into a global context. This can to be put as pointer to static. Now debug with symbols works. Problem solved :-)

[2019-05-25 15:11] #10670 closed

[2019-05-26 16:25] sjalloq opened #10671 "SSEL not working on STM32F NUCLEO_F767ZI"
### Description

Target:  NUCLEO_F767ZI
Toolchain: GCC_ARM
Tools:  mbed-cli 1.8.3
mbed-os: 73f096399b

I'm bringing up a new board and a simple testcase seems to find an issue with the SPI master.  I'm not seeing the SSEL line be asserted/deasserted.  I've found other STM32F HAL bugs around SPI but this seems like something basic that would have been caught.  Am I doing something wrong?

Shareef.

[2019-05-26 20:16] ciarmcom commented on #10671
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1229*

[2019-05-26 21:43] shlomow opened #10673 "usb serial device does not work on STM32L4R5ZI"
### Description

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

Hi!

I imported today the blinky example and tryed to work with the usb device library as serial. I exported the code to cmake and compiled with gcc. I copied the example of the serial device here: https://os.mbed.com/docs/mbed-os/v5.12/apis/usbserial.html .
I added also `#define DEVICE_USBDEVICE 1` in my `m

[2019-05-27 07:11] DBS06 commented on #10608
@yogeshk19 As I already mentioned my bootloader does not do a FOTA Update. My bootloader is as small as possible and therefore built with mbed-dev (~19KB) and except of FlashIAP it does not use any other feature/component and does not have an OS and so on.
Nevertheless, I am not allowed to share this piece of code, the information I can provide are posted in this issue and the code is based on thi

[2019-05-27 07:53] LMESTM commented on #10671
@sjalloq is SSEL continuously high or low ?

[2019-05-27 09:09] bestony commented on #10583
@pmancele HI, I read code ,and find the txPower is set to 127 ,not 0dbm

https://github.com/ARMmbed/mbed-os/blob/a4738fa9a8fa6468ad647fc1eb1b12f36473c13a/features/FEATURE_BLE/ble/gap/AdvertisingParameters.h#L135-L161

[2019-05-27 11:03] kluszkiewicz opened #10678 "Disabling mbed-os features in .mbedignore broken in version >=5.12"
### Description

Target: DISCO_L072CZ_LRWAN1
Toolchain: GCC_ARM (GNU Tools for ARM Embedded Processors 6-2017-q2-update) 6.3.1 20170620 (release) [ARM/embedded-6-branch revision 249437]
Tools: mbed-cli 1.8.3
mbed-os: 73f096399b4c (mbed-os-5.12.4)
program: mbed-os-example-blinky-no-rtos (#e98302381ff3)

When I'm building https://github.com/janjongboom/mbed-os-example-blinky-no-rtos in orignal state

[2019-05-27 11:52] ThePhilomathsApprentice opened #10679 "GPRS and EthernetInterface Fails if tried to use simultaneously."
### Description
Hello Guys,
I'm trying to take some data over Ethernet Modbus Protocol on the Ethernet Network and Send the Data over to the cloud using MQTT protocol via External Cellular SIMCOM 900A.
SIMCOM Module is connected Serially to my K64F Board on Pins PTC17(Tx), and PTC16(Rx).
I'm facing trouble regarding the connection of both these Interfaces.
I'm Losing GPRS connection over SIMCOM mo

[2019-05-27 11:55] ciarmcom commented on #10678
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1230*

[2019-05-27 11:58] 0xc0170 commented on #10613
@ARMmbed/team-cypress Any update for this issue?

[2019-05-27 12:02] mykz-cy commented on #10613
Kostia,
Is this something you are looking into?

From: Martin Kojtal <notifications@github.com>
Reply-To: ARMmbed/mbed-os <reply@reply.github.com>
Date: Monday, May 27, 2019 at 2:59 PM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Mykhailo Zelyanovskyy <mykhailo.zelyanovskyy@cypress.com>, Team mention <team_mention@noreply.github.com>
Subject: Re: [ARMmbed/mbed-os] FCCE fails to run on CY8C

[2019-05-27 12:35] jenia81 commented on #10613
Which Mbed Os version will have the fix? Currently, we disabled Cypress testing in our Jenkins, but it's a regression introduced in Mbed Os 5.12.2

[2019-05-27 12:37] amak-cy commented on #10628
Hello, any updates here?

[2019-05-27 13:30] 0xc0170 commented on #10628
cc @mprse @maciejbocianski Any suggestions for RTC test?

[2019-05-27 13:45] AnttiKauppila commented on #10678
@kluszkiewicz This is a valid issue and is going to be fixed. @artokin will take care of this, but in the meanwile you should ignore \mbed-os\components\802.15.4_RF folder (you don't need 802.15.4 drivers for LoRaWAN or blinky examples)

[2019-05-27 14:11] artokin commented on #10678
PR https://github.com/ARMmbed/mbed-os/pull/10680 created to fix this issue.

[2019-05-27 15:02] 0xc0170 commented on #10678
Quick fix !

[2019-05-27 15:03] 0xc0170 commented on #10673
@ARMmbed/team-st-mcd anything to be aware of when adding new targets?

[2019-05-27 15:04] 0xc0170 commented on #10671
@sjalloq if you have logic analyzer , also useful to paste screenshot with signals - what is happening on the bus.

[2019-05-27 15:06] 0xc0170 commented on #10668
I believe was postponed but will check just in case.
cc @ithinuel

@AGlass0fMilk What's your interest in SAI support?

Feel free to

[2019-05-27 15:07] 0xc0170 commented on #10667
cc @ARMmbed/team-maximintegrated

[2019-05-27 16:09] 40Grit commented on #10668
@0xc0170 Embedded Planet has 1 or 3 customers whose products we have designed i2s into. (NRF52840)

@aglass0fmilk was starting to develop an API internally but then came across the stalled sai spec.

We'd prefer to work with the community on what already exists if there is mutual interest, versus hoarding an API to ourselves.

[2019-05-27 16:36] 0xc0170 commented on #10668
👍

Can you review what we have on SAI already and send us feedback?
The feature branch should be rebased, I'll see what I can.

[2019-05-27 18:59] sjalloq commented on #10671
I've just captured two views on my scope that show MOSI on the first shot toggling and then SSEL stuck low.  According to your pin list on the F767 page, SSEL is on pin PA_4 which is one up from the bottom left of CN7.

The code is slightly different now and I'm using the spi.transfer() function to send a buffer.

Cheers, Shareef.

![MOSI](https://user-images.githubusercontent.com/175491/58435758-

[2019-05-28 03:19] bestony commented on #10583
i try this code to change TxPower ,and get a BLE_ERROR
[code]

`-40` is from nrf_SDK

[code]

[2019-05-28 03:29] bestony commented on #10583
the ERROR Code is  2, mean `BLE_ERROR_NOT_IMPLEMENTED`

[2019-05-28 05:05] aqib-ublox commented on #8930
7d3e384 ref not making sense in this context although i used  https://github.com/ARMmbed/mbed-os-example-wifi and test it for all three tool-chains and we are not getting any hard fault anymore.

[ARM_logs.txt](https://github.com/ARMmbed/mbed-os/files/3225733/ARM_logs.txt)
[iar_logs.txt](https://github.com/ARMmbed/mbed-os/files/3225734/iar_logs.txt)
[gcc_Arm_logs.txt](https://github.com/ARMmbed/mb

[2019-05-28 05:06] aqib-ublox commented on #10604
@MarceloSalazar analysis submitted above, please see @DrynnBavis

[2019-05-28 05:54] Kabron287 opened #10682 "Adaptation of Mbed generated Keil projects"
Unfortunately, Mbed generated Keil projects do not work out of the box, generating a lot of "**No such file**" errors. I discovered that while working on project HSP_RPC_GUI for MAX32620.
The reason in wrong **Include Paths**, produced by Mbed.

 Fast temporary solution is:
1. Copy the whole **Include Paths** content from the **C/C++** tab to clipboard(RightMouseClick, Select All, Copy)
2. Paste t

[2019-05-28 06:38] mudassar-ublox commented on #10658
@fahim-ublox @RobMeades

[2019-05-28 06:39] DBS06 commented on #10655
Any idea where I can start to search inside the mbed tools?

[2019-05-28 06:40] kluszkiewicz commented on #10678
true, but for  https://github.com/ARMmbed/mbed-os-example-lorawan  i need this driver, but have same issue.

[2019-05-28 06:49] mprse commented on #10628
Hi @amak-cy,

`RTC - sleep` test case verifies if RTC counts in sleep/deep-sleep and uses lp ticker to wake up the board (after 4 sec). The result is 6 sec.
Got a few questions:
- does the test case fails in both cases (sleep and deep-sleep). Could you run the test with only one case (comment out one of the following calls in each run)?:
https://github.com/ARMmbed/mbed-os/blob/a4738fa9a8fa6468ad64

[2019-05-28 07:13] aqib-ublox commented on #9071
@todor603 your description matches with https://github.com/ARMmbed/mbed-os/issues/9621 and it being resolved in https://github.com/ARMmbed/mbed-os/pull/10454

please see discussion at https://github.com/ARMmbed/mbed-os/issues/9621

[2019-05-28 07:17] aqib-ublox commented on #9071
Summary of issue handled under https://github.com/ARMmbed/mbed-os/issues/9621

`Client lost connection with AP and immediately try re-connecting that cause assertion and avoid re-connection so need to reset device`

WIFI status was not handled in firmware that added and solve problem

[2019-05-28 07:18] tommikas commented on #9071
That particular problem caused an assert though. This didn't.

[2019-05-28 07:18] aqib-ublox commented on #9621
@JanneKiiskila @michalpasztamobica can it be closed now as fix is merged in https://github.com/ARMmbed/mbed-os/pull/10454

[2019-05-28 07:25] aqib-ublox commented on #9071
@tommikas can u test with latest mbed-os master branch because i didn't saw this problem in recent testing with https://github.com/ARMmbed/pelion-enablement

[2019-05-28 09:13] 0xc0170 commented on #10682
`mbed export -m K64F -i uvision` for mbed-os-example-blinky: `".\BUILD\mbed-os-example-blinky.axf" - 0 Error(s), 58 Warning(s).`

I can't reproduce "No such file" locally. How to reproduce?

[2019-05-28 09:46] ccchang12 commented on #10658
The default size of serial RX buf is 256, which may be not enough for different module. You can try to add below data to mbed_app.json to enlarge it.

"drivers.uart-serial-rxbuf-size": 1024,

[2019-05-28 10:09] teijokinnunen opened #10685 "SerialBase: abort_read() blocks deep sleep"
### Description

Target board: DISCO_L072CZ_LRWAN1
MBED version: 5.12.4 (SHA 73f096399b4cda1f780b140c87afad9446047432)
Toolchain: GCC ARM (gcc version 7.3.1); using Eclipse IDE, built using "release" config

Initiating an async UART read() and then aborting it with abort_read() will not release the deep sleep lock on MBED 5.12.4 (assuming no TX is going on).

A quick fix might be:
[code]
The probl

[2019-05-28 11:04] Kabron287 commented on #10682
Take HSP_RPC_GUI for MAX32620 project

[2019-05-28 11:29] 0xc0170 commented on #10682
https://os.mbed.com/teams/MaximIntegrated/code/HSP_RPC_GUI/export - export to uvision - I see the problem.

Locally using mbed-cli all fine. the include paths are similar. The one problem I see there is missing one include path .; at least ,otherwise they look identical.

cc @ARMmbed/mbed-os-tools

[2019-05-28 11:38] 0xc0170 commented on #10655
build_api.py has this there

[code]

I would check why there is no .ld file found in the resources object (just print it to check) . Check paths if your target is getting included (TARGET_ missing - label?).

It should be fairly simple to find out once you get resources object

[2019-05-28 11:44] 0xc0170 commented on #10613
5.13.0 is the next release

[2019-05-28 11:49] hennadiykytsun commented on #10613
Hello @evgenibo

I can't reproduce your steps to reproduce.
The file mbed_app_psa_conf.json is absent.
Could you please attach it?

Thanks.

[2019-05-28 11:50] RobMeades commented on #10658
Have you tried removing or compiling-out the debug prints?  There's a good chance that printing out debug in the URC is the cause of the overflow.  URCs are time sensitive.

[2019-05-28 11:59] 0xc0170 commented on #10611
More like core specific.  Isn't `CMSIS_NVIC_VIRTUAL` what you are looking for? You can overwrite these: https://www.keil.com/pack/doc/CMSIS/Core/html/group__NVIC__gr.html#gadc48b4ed09386aab48fa6b9c96d9034c

`mbed_reset` is deprecated, `system_reset`. Not weakly defined though.

I don't fully understand what you are after with reset. how button press is related to system reset?

[2019-05-28 12:34] Kabron287 commented on #10682
I did not used mbed-cli. My case concerned online mbed ide export.

[2019-05-28 12:39] evgenibo commented on #10613
hi @hennadiykytsun
just rename ```mbed_app_psa.json``` to ```mbed_app_psa_conf.json```

[2019-05-28 12:41] DBS06 commented on #10655
I added
[code]
Result:
[code]
without
[code]
Result:
[code]

[2019-05-28 12:50] 0xc0170 commented on #10655
`LINKER_EXT` is used to search for linker script file. `mbed_toolchain.py` - line 714 should be it - where it gets linker script file and use it for linking.

There might a bug in bare metal configuration - your path looks fine : `mbed-os\\targets\\TARGET_NORDIC\\TARGET_NRF5x\\TARGET_NRF52` , cant see why it would remove this target path for bare-metal (it requires platform + drivers, targets shou

[2019-05-28 13:07] 0xc0170 commented on #10626
@kjbracey-arm who should flush the buffer in this case? I would not expect having \n everywhere for each `error()` ?

[2019-05-28 13:08] pilotak opened #10687 "UBLOX Cellular: socket failed to connect"
### Description
Just before PR #10639 following code worked perfectly.
[code]
here is a log:
[code]

but after that PR got merged i can't connect to socket and as you can see `AT+USOCO` has as next argument **-1** instead if socket id **0**.
For some reason even though it fails (`+CME ERROR: 4` and ` AT error -3012`) `_socket.connect()` doesn't return negative number as error, but that may be anot

[2019-05-28 13:14] 0xc0170 commented on #10687
cc @AriParkkila
@ARMmbed/mbed-os-wan

[2019-05-28 13:15] DBS06 commented on #10655
I added a test repo at https://github.com/DBS06/bare_metal_test
and write also the mbed commands which I used to test into readme.

[2019-05-28 13:18] kjbracey-arm commented on #10626
This confused me a bit at first, as I assumed `error` just passed the string through to `mbed_error`, but no, it prints the error after the `mbed_error` dump.

Yes, I think that `error` should be printing a newline itself after the message. Although there is nothing in Mbed OS itself stopping the line being output from the device console, it's actually Greentea's "fault", as it only outputs to its

[2019-05-28 14:39] DBS06 commented on #10655
@0xc0170 I think I know why this happens, because `'.\\mbed-os\\targets\\TARGET_NORDIC\\TARGET_NRF5x\\TARGET_NRF52'` is inside the "excluded_lib_paths" from `mbed-os\tools\resources\__init__.py` method: `def _include_file(self, ref)`

see:
![2019-05-28_1635](https://user-images.githubusercontent.com/13778817/58486971-255d5900-8167-11e9-828f-361d63f46cc5.png)

[2019-05-28 14:44] 0xc0170 commented on #10655
This is definitely a bug . How did it get to exclude list then?

[2019-05-28 14:52] DBS06 commented on #10655
@0xc0170 I just made a quick fix inside `mbed-os\tools\resources\__init__.py` method: `def _include_file(self, ref)` just to verify if this would be the error/bug:
[code]
But it is definitely no solution for production usage! 😉

[2019-05-28 15:05] jeromecoutant commented on #9012
Seems this issue is stuck ?

[2019-05-28 15:16] jeromecoutant commented on #10339
You shoud use core_util_critical_section_enter() and core_util_critical_section_exit() functions instead of __disable_irq and __enable_irq

@kjbracey-arm

[2019-05-28 15:24] kjbracey-arm commented on #10339
Like most HAL APIs other than really low-level ones like `DigitalIn`/`Out`, `SPI` is made thread-safe by a mutex. So you can't use it with interrupts disabled.

I don't know why you're disabling interrupts here - you have no interrupt handlers.

If you really need to you can inherit from `SPI` or other similar classes to override the virtual `lock` and `unlock` methods to stop it using the mutex,

[2019-05-28 15:38] kjbracey-arm commented on #10339
And yes, the `enter/exit_critical` section is preferred because it handles the case where there's another OS layer underneath Mbed OS, or something that needs super-fast IRQ response - it's an abstraction that can leave some interrupts enabled, rather than disabling all core IRQs. On most devices it is the same thing though.

[2019-05-28 15:39] ciarmcom commented on #10687
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1231*

[2019-05-28 15:40] ciarmcom commented on #10685
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1232*

[2019-05-28 15:40] AGlass0fMilk opened #10690 "USB MSD test fails on unmount"
### Description

While running USB Device MSD tests a failure occurs in test case 2 (mount/unmount test) with the following error:

`Error unmounting block device 8:16: GDBus.Error:org.freedesktop.UDisks2.Error.Failed: Error unmounting /dev/sdb: not mounted`

My understanding is that at this point in the test, the DUT tells the host test to unmount the MSD from the host side (rather than from the

[2019-05-28 15:40] ciarmcom commented on #10682
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1233*

[2019-05-28 15:40] AGlass0fMilk commented on #10690
@fkjagodzinski

[2019-05-28 16:01] c1728p9 commented on #8930
Hi @aqib-ublox  I mentioned 7d3e384d7bfaff444dbdef59f500d5eb9785ccb1 because it was an mbed-os commit which had the [MPU enabled](https://github.com/ARMmbed/mbed-os/blob/7d3e384d7bfaff444dbdef59f500d5eb9785ccb1/targets/targets.json#L3967) on the UBLOX_EVK_ODIN_W2.

If you add `MPU` to `device_has_add` for the UBLOX_EVK_ODIN_W2 along with removing `MPU_CUSTOM` for this target then the null pointer

[2019-05-28 16:10] supertoast opened #10691 "STM32H7 erasing a flash sector in bank one leads to a mass-erase of bank two."
### Description
Target: custom board with STM32H743
MBED version: 5.11.4

Erasing a sector in bank one of the flash leads to a mass-erase of bank two. I think the Error is in [flash_api.c](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32H7/flash_api.c) but it looks like it's wanted.
[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x ] Bug

[2019-05-28 17:05] AGlass0fMilk commented on #10668
After reviewing the SAI API, here's my initial feedback:

----

https://github.com/ARMmbed/mbed-os/blob/48228512a5f49bab748d8a2d43675be675c586f7/hal/sai_api.h#L73-L80

I appreciate the consideration for this hardware limitation. I was facing this on the nRF52840 (where the SAI in/out channels must share some settings) and wasn't sure how to solve it in an elegant way. The ability for the HAL to re

[2019-05-28 17:08] DrynnBavis commented on #10604
Thank you for your thorough explanation. I'm going to close this now but perhaps a new issue should be opened for "Now comes a point of reducing it yes effort can be made in near future to reduce."

[2019-05-28 17:08] #10604 closed

[2019-05-28 17:41] maclobdell commented on #8758
Any update from anyone on this?  It is annoying me almost daily.  If I try to run tests from one directory below the root of the project, it jumps two directories up and tries to build all of my other unrelated adjacent projects.

[2019-05-28 19:57] AGlass0fMilk commented on #10668
Also, some targets (like the nRF52840) cannot generate precisely the requested sample rate in most cases (eg: there will be some amount of error in dividing the clock to around 44.1kHz). Perhaps the HAL should expose this error by returning the actual frequency it set.

This will allow the user to account for the frequency error.

[2019-05-28 21:02] ithinuel commented on #10668
@AGlass0fMilk Thanks for the feedback !

Ideally I would have used DMA to feed the peripheral with samples. That would also make double buffering super obvious to implement.

The code implementing the hal has rather strong limitation. It has to run on bare-metal environment where dynamic allocation might not be authorized.

This totally makes sense and is actually what we've also done on SPI and I

[2019-05-28 21:25] AGlass0fMilk commented on #10668
How do you feel about my proposed `async sai` API if it used the Mbed DMA API? Any caveats you see or functionality it doesn't capture?

Noted. I suppose the allocation can be passed on to the user application and passed in as an argument to `start`. Is this an acceptable solution you think?

[2019-05-28 23:02] incopeable commented on #10691
Flash

[2019-05-28 23:02] incopeable commented on #10691
Flash

[2019-05-28 23:02] incopeable commented on #10691
Flash

[2019-05-28 23:02] incopeable commented on #10691
Flash

[2019-05-29 02:59] 40Grit commented on #10263
@kjbracey-arm Read through this again.
Why would UART traffic ever be lost? I'd think DMA should enable zero copy buffers and eliminate any issues that an ISR popping RX data into queue doesn't already solve.

[2019-05-29 06:28] mudassar-ublox commented on #10658
By disabling debug traces still getting same result, also increased "drivers.uart-serial-rxbuf-size": 1024, as @ccchang12  mention but no use.

[2019-05-29 06:42] AnttiKauppila commented on #10678
What exactly are you trying to do?

[2019-05-29 07:00] AriParkkila commented on #10687
@pilotak yes, that seems like a regression. Please retry with this fix #10696

[2019-05-29 07:23] kluszkiewicz commented on #10678
@AnttiKauppila
I'm trying to disable some mbed-os features in mbed-os-example-lorawan application to reduce code and program size. I'm tring to do this following:
https://github.com/ARMmbed/mbed-os-example-lorawan/issues/122
https://os.mbed.com/questions/82060/Does-mbedignore-still-work/
https://os.mbed.com/blog/entry/Reducing-memory-usage-by-tuning-RTOS-con/

[2019-05-29 07:24] jeromecoutant commented on #10691
Hi @supertoast
Thx to highlight this strange bug!
There is no reason for this bank 2 mass erase...

[2019-05-29 07:55] 0xc0170 commented on #10655
cc @ARMmbed/mbed-os-tools

[2019-05-29 07:59] 0xc0170 commented on #10685
Hi @teijokinnunen , can you test master branch ? As the next release  is 5.13 (no more 5.12.x release), it would be good to know this is not an issue there.

[2019-05-29 08:34] kjbracey-arm commented on #10664
This was discussed in #9435 - I suggest you read the discussion there, although it did get a bit deep

We could still revisit this, especially as we're activating C++14, but the point remains that it would need to be an extension, rather than a change to existing behaviour.

With the current API, you can use placement `new` in the blocks returned by the allocator.

[2019-05-29 08:39] amak-cy commented on #10628
@mprse,

It is bitter that you cannot try out on your side.

The fail is reproducible on both Sleep or Deep Sleep. But the fail is reproducible only after second attempt.

All works fine with us ticker (and of course in Sleep, us ticker does not work in Deep Sleep)

The issue is definitely hidden somewhere in lp ticker or in test itself.
BWT what is the longest period set to pl ticker in greentea

[2019-05-29 08:50] RobMeades commented on #10658
There's something very odd going on then as you're plainly not getting 1024 characters back from the modem in just those few URCs, not even 256 in fact.  Are you sure that the `+CGEV` URC handler is constructed such that it picks up the expected content, rather than waiting for something which does not appear?  Is it possible that there is character loss so that the `\r\n` sequence which terminate

[2019-05-29 08:58] pilotak commented on #10687
#10696 fixes this issue, thank you

[2019-05-29 08:59] kjbracey-arm commented on #10263
You would think, yes. But in practice, as you'll find if you Google "UART + DMA + pretty much any device Mbed OS supports", there are a bunch of issues with the DMA. Often reprogramming the DMA to advance to the next buffer can induce character loss, or needs to be done with the same 1-character IRQ latency as if you had no DMA. :(

The DMA on various devices can probably be coerced to handle vari

[2019-05-29 09:00] teijokinnunen commented on #10685
Hi, I tested this with master branch and I can confirm that it works there: the system is able to go to deep sleep after abort_read().

[2019-05-29 09:07] maciejbocianski commented on #10690
Looks like the disk was unmounted before the test got the chance to do it.
Could you show the log to see where the test failed on DUT side

[2019-05-29 09:43] LMESTM commented on #9962
Should be solved by #10701

[2019-05-29 10:02] pilotak commented on #10687
the second part of this issue is that when socket fails to connect i doesn't return negative number. Bellow is log when server i'm connecting to is down. Or do you want me to create a different issue?

[code]
Coresponding code:
[code]

[2019-05-29 10:08] 40Grit commented on #10263
@kjbracey-arm I'm having trouble making sense of it still. Why would my ISR ever be so long as to cause a UART receive miss.

[2019-05-29 10:21] AriParkkila commented on #10687
@pilotak could you re-try with the updated #10696

[2019-05-29 10:52] kjbracey-arm commented on #10263
Only takes 80 microseconds interrupt latency to lose a character at 115200 baud. The UART is one of the most common devices to suffer loss from interrupt latency - because these devices tend not to have hardware FIFOs, and the DMA is not used and/or not as good as a FIFO.

[2019-05-29 11:01] 40Grit commented on #10263
So silicon vendors ISR's are not helping the situation I presume? I still feel like any MCU that has been specced for a 115200 baud application should consider 80us an eternity.
What would the tradeoff be increasing the UART interrupt priority?

[2019-05-29 11:05] kjbracey-arm commented on #10263
Using multiple interrupt priorities increases stack space, because interrupts can nest on the IRQ stack.

The more serious problem is API complication - things make themselves IRQ-safe to all interrupts by disabling all IRQs. That's what enter/exit critical does.

And those routines can often add up to be the things that disable IRQs for 80us - its enter critical for a long time, rather than an ac

[2019-05-29 11:17] 40Grit commented on #10263
Makes sense why I tend to create my own critical section functions which selectively disable interrupts. This however uses my application specific knowledge.

Feasibility of giving a tick high priority and using it to timeout critical section s that take longer than x?

[2019-05-29 11:24] pilotak commented on #10687
@AriParkkila perfect thanks a lot, it returns `NSAPI_ERROR_NO_CONNECTION (-3004)` if server is unavailable. This can be considered as resolved.

One more last thing though. Once you are succesfully connected to server and server stops working I can see in debug:
[code]

which is perfect but i have callback registered with `_socket.sigio(callback(this, &Test::socketCb));` but there is no cb called.

[2019-05-29 11:37] AriParkkila commented on #10687
@pilotak `UBLOX_AT_CellularStack` seems to be missing a callback on socket closed. @ARMmbed/team-ublox please check that.

[2019-05-29 12:02] maxgerhardt commented on #10664
Closing since it's a duplicate then.

[2019-05-29 12:02] #10664 closed

[2019-05-29 14:50] VVESTM commented on #10671
Hi,

I have submitted a new PR to fix this issue : #10708.
A setting was missing in our implementation.

Then, as I mentioned in the PR, be careful, this feature is not compatible with all SPI modes. It will work only in modes 0 and 2. See "NSS pulse mode" chapter in our reference manual. ([link ](https://www.st.com/content/ccc/resource/technical/document/reference_manual/02/35/09/0c/4f/f7/40/03/D

[2019-05-29 14:56] LMESTM commented on #10671
@sjalloq it means you have to change your code to
`spi.format(8,0);`
or
`spi.format(8,2);`

[2019-05-29 18:51] sjalloq commented on #10671
Thanks.  I'll give it a go when I get a chance.

[2019-05-29 19:52] linlingao commented on #5133
This issue is 18month old. Let me know if it's still an issue.

[2019-05-29 19:52] #5133 closed

[2019-05-29 20:17] linlingao commented on #7800
The question has been answered. Close issue.

[2019-05-29 20:17] #7800 closed

[2019-05-29 23:30] geky commented on #10495
Hi @pilotak, sorry, I've been backlogged and am still working through github issues.

The reason i2cee-driver didn't come in initially is because it is a lot less popular than the other block devices. Initially the components folder had only a couple devices, but it has snowballed.

I'm not going to be able to maintain i2cee-driver going forward, though I'd be happy to merge https://github.com/ARM

[2019-05-30 00:42] geky commented on #10495
Went ahead and put up a PR to get the ball rolling: https://github.com/ARMmbed/mbed-os/pull/10711

I agree with @pilotak, in tree or out of tree it makes sense for the i2cee-driver to live with the other block devices.

[2019-05-30 05:00] sivasanath opened #10713 "Code compiled with IAR compiler 8.2 version crashes while printing NULL"
### Description

We tried compiling mbed-os-example-blinky usinf IAR compile(8.2 version), the only addition to the example is a new thread creation using cmsis_os.h,  with this we see a crash in function:report_thread_stats of stats_report.h file.

Where the crash seems to be due to "thread_stats[i].name" which is giving "null" for the new thread created, and printf is not able to print the same

[2019-05-30 06:31] aqib-ublox commented on #8930
@c1728p9

thanks for pointing out yes i am able to reproduce and yes as you pointed out there exists a de-referencing a NULL pointer. It will be resolved in next PR.

[2019-05-30 07:14] aqib-ublox commented on #9071
@tommikas ?

[2019-05-30 07:30] mprse commented on #10628
This is used by the ticker common layer to convert us to lp ticker ticks and vice versa:
https://github.com/ARMmbed/mbed-os/blob/master/hal/mbed_ticker_api.c

It depends on the counter width (`lp_ticker_info.bits`). When there is no user interrupt scheduled (or system tick if it is based on lp ticker), then the interrupt is scheduled by the common layer every `max_delta` to be able to track elapse

[2019-05-30 07:43] amak-cy commented on #10628
Current mbed-os 5.12.3 contains Cypress implemented 32b lp ticker. But previously (on earlier implementation we had 16b lp ticker) and the problem is that the fail scenario is reproduced on both 32b and 16b lp ticker implementation.

I also suspect there is an extra interrupt scheduled. But why it is has max period? looks kinda overflow period is calculated.

[2019-05-30 08:45] 0x6d61726b commented on #6633
I have written a small tool that modified all files that did not yet contain the "allocated" flag for the .isr_vector section. Sorry for the delay. I have committed, but not pushed the changes (I did the changes now to the latest master branch).

[2019-05-30 11:18] 0x6d61726b opened #10714 "Driver/HAL for hardware timers capture and compare functionality"
### Description
In order to write portable code that is not specific to a single target, a driver/HAL seems to be a good idea for the capture and compare functionality of the microcontroller hardware timers. At the moment there seems to be only PwmOut functionality available which uses hardware timers for outputs.

I have seen user libraries out there, but those are very specific to a single targe

[2019-05-30 11:52] kjbracey-arm commented on #10649
I think the fix is something along the lines of `mbed_fault_handler` manipulating the `error_in_progress` flag that `mbed_error` does, or having its own equivalent.

That trap is suppressed if `mbed_error` is called from IRQ handler, but not if it's a direct fault handler.

I'm not quite sure how to structure the change though - `mbed_error` in turn suppresses some of its behaviour if it sees `err

[2019-05-30 12:12] 40Grit commented on #10714
@farrenv @aglass0fmilk

[2019-05-30 14:01] 0xc0170 opened #10715 "exporters: kw24d armc6 fails in nightly"
### Description

Blinky fails for kw24d target, uvision6.

[code]

The logs are here http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/223/exporter/FAIL/uvision6/KW24D/

cc @ARMmbed/team-nxp

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-30 15:36] linlingao commented on #5991
The last comment indicates it's not possible. The question has been answered. Closing.

[2019-05-30 15:36] #5991 closed

[2019-05-30 16:18] linlingao commented on #7425
@grathlinkbit Do you still need help from us? Naveen asked for debug data 7 months ago. I'll go ahead and close this due to inactivity. Please reopen if the issue is not solved.

[2019-05-30 16:18] #7425 closed

[2019-05-30 16:20] linlingao commented on #7863
It appears the question has been answered. I'll close this issue.

[2019-05-30 16:20] #7863 closed

[2019-05-30 16:33] linlingao commented on #8695
I'm not sure what "fixed harder" means. It seems PRs have been merged. I'll go ahead and close this issue. Please reopen if you don't agree with my assessment.

[2019-05-30 16:33] #8695 closed

[2019-05-30 16:43] linlingao commented on #7618
@janjongboom I'm going to close this issue since we have submitted a request to the Keil team. You can track the status via the internal Jira link.

[2019-05-30 16:43] #7618 closed

[2019-05-30 17:00] linlingao commented on #7674
@AGlass0fMilk We're planning to release SDK15 in 5.13. Assuming that occurs as planned, is there anything specific left to address this issue?

[2019-05-30 17:05] linlingao commented on #10111
It appears Desmond has already answered your question.

[2019-05-30 17:05] #10111 closed

[2019-05-30 17:07] linlingao commented on #4458
This is duplicate of #7674. I'm closing this issue. Please track under #7674.

[2019-05-30 17:07] #4458 closed

[2019-05-30 17:26] loverdeg-ep commented on #7674
@linlingao

I'd prefer this stay open until @AGlass0fMilk's #10689 merges.

[2019-05-31 06:05] teetak01 opened #10717 "[Warning] stm32f4xx_ll_adc.h@1844,3: 'register' storage class specifier is deprecated and incompatible with C++17 [-Wdeprecated-register]"
### Description

ARMC6 compiler warnings with  stm32f4xx_ll_adc.h with Mbed OS 5.13.0-RC1

Tested with ublox_evk_odin_w2 target using mbed-cloud-client-example. Seems to appear with other ST-targets.

[code]
### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-31 06:10] teetak01 opened #10718 "Ublox odin w2 driver does not compile with ARMC6 + release-profile (5.13.0-RC1)"
### Description

Application: https://github.com/armmbed/mbed-cloud-client-example
Compiler: ARMC6
Mbed OS: 5.13.0-RC1
Profile: release

Fails to compile:

[code]

Compiles with debug & develop profiles (with warnings).

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-31 06:12] teetak01 opened #10719 "Ublox odin w2 linker warnings with ARMC6"
### Description

Application: https://github.com/armmbed/mbed-cloud-client-example
Compiler: ARMC6
Mbed OS: 5.13.0-RC1
Profile: debug & develop (release does not compile #10718 )

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-31 06:24] teetak01 opened #10720 "F411RE does not compile with Mbed OS 5.13.0-RC1"
### Description

Application: https://github.com/armmbed/mbed-cloud-client-example
Compiler: All
Mbed OS: 5.13.0-RC1
Profile: All

[code]

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-31 06:27] Arjun765 opened #10721 "Out of range needs to be checked before casting to enum"
### Description

In "attestation_core.c:719" integer is casted to enum and then checked to see if it is out of range which is unspecified behaviour.

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

[2019-05-31 06:28] Arjun765 commented on #10721
Adding "-Werror=type-limits" flag will help us to find these at compile time.

[2019-05-31 08:16] shlomow opened #10723 "Add new network interface"
### Description

### Issue request type

    [X] Question
    [ ] Enhancement
    [ ] Bug

Hi! I want to work with the SLIP framing protocol as a network interface. I know I can use PPP instead of that, but I already have a system which relies on that protocol. How can I add this functionality? I want to use the on board lwip stack of course.

Thanks!

[2019-05-31 08:29] 0xc0170 commented on #10721
cc @ARMmbed/mbed-os-psa

[2019-05-31 08:32] 0xc0170 commented on #10720
This should be fixed in rc2 via PR referenced above

[2019-05-31 08:33] 0xc0170 commented on #10719
cc @ARMmbed/team-ublox @ARMmbed/mbed-os-pan

[2019-05-31 08:33] 0xc0170 commented on #10718
cc @ARMmbed/team-ublox @ARMmbed/mbed-os-pan

[2019-05-31 08:36] 0xc0170 commented on #10718
This should be easy to fix. However, the fix might require rebuild of the driver? @ARMmbed/team-ublox Please advise.

This would be good to have in 5.13.0-rc2 - fix asap.

[2019-05-31 08:41] 0xc0170 commented on #10717
@ARMmbed/team-st-mcd You already reported this in the PR updating the compilers. This is known warning for newer C++1x standards.

@kjbracey-arm Understanding this should be fixed but if the latest C++1x bump for 5.13 caused so many warnings, shouldn't we mask this register at least for now and create an issue for each component causing the warnings to clean them up? My suggestion would be for 5.1

[2019-05-31 08:42] 0xc0170 commented on #10715
@kjbracey-arm Have you experienced this error ? It's new in the exporters - I haven't yet identified when it was introduced.

[2019-05-31 08:59] 0xc0170 commented on #10713
Can you provide code snippet? Why are you using `cmsis_os.h` ? It's RTX4 file - legacy - should not be used. Doesn't Mbed OS provide what is needed (via `mbed.h`) ?

[2019-05-31 09:01] 0xc0170 commented on #10690
@adbridge Please check why bot is not running to clone this to our internal tracker

[2019-05-31 09:12] chrissnow commented on #9145
This should work if you use binary multiple page sizes,
It will need a format but add this into your target_overrides in mbed_app.json
"dataflash.binary-size": "1"

[2019-05-31 09:14] alokmoondra opened #10724 "Extend build profile to add ld flag to wrap a function"
### Description
Hello,
I want to extend the ld flags of the default build profile to add --wrap for a symbol. Can I do it without writing the whole build profile again? Any way to hook/add this new flag in the existing build profiles?

### Issue request type

    [X ] Question
    [ ] Enhancement
    [ ] Bug

[2019-05-31 09:27] aqib-ublox commented on #10718
@0xc0170 we are working on ARMC6 support for driver but that is currently leading to hard-fault

we require support from u there is currently no label to mbed export -i eclipse_armc6
secondly i will need support regarding how u setup openocd debug agent in eclipse after mbed export - eclipse_armc5 using stlink?

[2019-05-31 09:28] tommikas commented on #9071
Did you see it before #10454 was merged?

mbed-cloud-client-example 3.0.0 with the changes mentioned in the original post
mbed OS revision 9cc1caa0312c3332afed06f7d9b34b5753c95988

Seemed to work better in that the device ran for nearly an hour without the original issue happening again, but then I got an assert:
[code]

[2019-05-31 10:08] 0xc0170 commented on #10718
Awesome, so should also fix this error about no return value.

secondly i will need support regarding how u setup openocd debug agent in eclipse after mbed export - eclipse_armc5 using stlink?

In the meantime, use uvision6 for debugging with armcc6. Or `make armc6` and add this to your eclipse project.

I havent used openocd for a while, pyOCD should work out of the box without any config.

[2019-05-31 11:31] AGlass0fMilk commented on #10690
Okay, so it was a problem with my system:

The test disk was being mounted as `/media/username/EC21-00002` and there were stale, out of date folders in my media directory.

These were named `/media/username/EC21-0000` and `EC21-00001`. So I'm assuming, during development of the USB port for the nRF52840_DK, I tried to use the MSD driver with a buggy USB Phy driver and my OS never cleaned up what g

[2019-05-31 11:31] #10690 closed

[2019-05-31 11:49] 0xc0170 opened #10725 "UBLOX_C030_U201: tests-mbed_drivers-lp_timer failing nightly"
### Description

IAR and GCC ARM affected at least. At least two latest nightly run

[code]

The full report:
[code]

Full report can be found http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/224/greentea-test-HAL-Core/78/FAIL/UBLOX_C030_U201/

cc @ARMmbed/team-ublox @MarceloSalazar

### Issue request type

    [ ] Question

[2019-05-31 11:54] 0xc0170 opened #10726 "NUMAKER_PFM_M487: wait_ns test failing in nightly"
### Description

All toolchains affected

[code]

Logs can be found : http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/224/greentea-test-HAL-Core/78/FAIL/NUMAKER_PFM_M487/

I've noticed #10683, addressing it partly (no target implementation yet).

@ARMmbed/team-nuvoton

@kjbracey-arm this provides an answer how come our tes

[2019-05-31 12:00] 0xc0170 opened #10727 "NUCLEO_F767ZI: IOERR_SERIAL for some nightly tests"
### Description

One report is TIMEOUT:

[code]

Other tests:

[code]

@ARMmbed/mbed-os-test is this target in our CI or some tests causing this?

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-31 12:02] 0xc0170 opened #10728 "K82F: qspi test failing in nightly"
### Description

All toolchains, should be possible to test on the latest master

[code]

Latest report can be found : http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/223/greentea-test-HAL-Core/77/FAIL/K82F/

cc @ARMmbed/team-nxp @ARMmbed/mbed-os-hal

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-31 12:06] fahim-ublox commented on #10725
I haven't seen this problem with C030-U201 in our local automation system. But we will check your logs and update you. Internal JIRA ticket for reference PGM_NO_MBD-238

[2019-05-31 12:17] 0xc0170 opened #10729 "GR_LYCHEE: timeout in various tests in nightly"
### Description

I can't find the common error. It seems that tests just timeout , not failure. It is only for ARM.

The report:

[code]

tests-mbed_drivers-crc, or tests-mbed_hal-flash and 3 more. I see in the logs only test starting and then teardown due to an error?

Full logs can be found: http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightl

[2019-05-31 12:18] pan- commented on #10719
Looks like `libublox-odin-w2-driver.ar` hasn't been compiled with ARMC6.

[2019-05-31 12:20] 0xc0170 commented on #8333
Latest nightly still show this error , logs can be found http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/224/greentea-test-HAL-Core/78/FAIL/EV_COG_AD3029LZ/

I suggest removing flash from device_has.

@bentcooke @ARMmbed/team-analogdevices

[2019-05-31 12:22] 0xc0170 opened #10730 "DISCO_L475VG_IOT01A: qspi failing in nightly"
### Description

All toolchains affected

[code]

Full logs can be found http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/224/greentea-test-HAL-Core/78/FAIL/DISCO_L475VG_IOT01A/

cc @ARMmbed/team-st-mcd @MarceloSalazar

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-05-31 12:26] 0xc0170 opened #10731 "CY8CPROTO_062_4343W+ CY8CKIT_062_WIFI_BT/: out of memory in nightly tests"
### Description

[code]

Tests like tests-mbedmicro-rtos-mbed-semaphore, tests-mbed_drivers-race_test  and others hardfault for ARMC6

Full logs available http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/224/greentea-test-HAL-Core/78/FAIL/CY8CKIT_062_WIFI_BT/

and

http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefi

[2019-05-31 13:02] artokin commented on #10678
@kluszkiewicz , PR https://github.com/ARMmbed/mbed-os/pull/10680 is now merged in to Mbed OS master and it will fix the issue with compilation of `rf_configuration.c`.

For me the application builds OK if I add `mbed-os/usb/*
mbed-os/features/frameworks/TARGET_PSA/*` to the `.mbedignore`.

Would you please verify the fix?

[2019-05-31 13:15] chrissnow opened #10732 "STM: ETH\LWIP breaks FATFS"
I'm having some odd issues with LWIP and FATFS not getting along.

I'm using the following:
STM NUCLEO_F429ZI but also tested a LPC1768 which works fine.
armc6
mbed-os at master SHA-1: 9cc1caa0312c3332afed06f7d9b34b5753c95988

The FS works fine until eth.connect is called, then the FS acts oddly and throws exceptions\odd return codes.

You will need to modify slightly to suit hardware, example sup

[2019-05-31 13:47] kluszkiewicz commented on #10678
@artokin
I've checked out mbed-os at master and updated .mbed ignore and can confirm that application build OK now.

[2019-05-31 14:10] bentcooke commented on #8333
@0xc0170 were these boards ever replaced / refreshed in the CI?  The flash endurance is ~10k cycles and at >500 tests per run the limit is hit rather quickly.

[2019-05-31 14:18] chrissnow commented on #10717
It actually slows the compiler down a fair bit too as it has to print all the warnings, nearly 8000 of them on the F429!

[2019-05-31 14:55] linlingao commented on #10671
PR submitted.

[2019-05-31 15:01] linlingao commented on #10685
Will be fixed in the next release.

[2019-05-31 15:01] #10685 closed

[2019-05-31 15:25] #8818 closed

[2019-05-31 15:25] #9632 closed

[2019-05-31 15:27] #7847 closed

[2019-05-31 15:28] ciarmcom commented on #10732
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1235*

[2019-05-31 15:28] ciarmcom commented on #10731
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1236*

[2019-05-31 15:28] ciarmcom commented on #10730
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1237*

[2019-05-31 15:29] ciarmcom commented on #10729
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1238*

[2019-05-31 15:29] ciarmcom commented on #10727
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1240*

[2019-05-31 15:29] ciarmcom commented on #10726
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1241*

[2019-05-31 15:29] ciarmcom commented on #10725
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1242*

[2019-05-31 15:29] ciarmcom commented on #10721
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1243*

[2019-05-31 15:29] ciarmcom commented on #10720
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1244*

[2019-05-31 15:29] ciarmcom commented on #10719
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1245*

[2019-05-31 15:29] ciarmcom commented on #10718
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1246*

[2019-05-31 15:30] ciarmcom commented on #10717
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1247*

[2019-05-31 15:30] ciarmcom commented on #10715
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1248*

[2019-05-31 15:30] ciarmcom commented on #10714
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1249*

[2019-05-31 15:30] ciarmcom commented on #10713
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1250*

[2019-05-31 15:30] ciarmcom commented on #10691
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1251*

[2019-05-31 15:30] ciarmcom commented on #10679
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1252*

[2019-05-31 16:10] GrahamSayers opened #10734 "Fix PWM glitch on write(), TARGET_STM/pwmout_api.c,"
### Description

It looks like for all STM32 devices, in pwmout_api.c, when you attempt to pwmout_write() a new duty cycle it updates the timer in a way that can cause the pwm signal to glitch.  It is most noticeable on faster pwm signals, say 100kHz to 200kHz.  I posted a screenshot of a glitch here:

https://os.mbed.com/questions/86046/Issue-with-STM32F769-PWM-output-when-upd/

For glitch-free p

[2019-05-31 16:38] mmahadevan108 opened #10735 "Stack overflow exception on LPC55S69"
### Description
The stack on LPC55S69 is designed to be located in the address range 0x20043C00 - 0x20044000. The stack address is correct upto the call to osKernelStart.
After calling this function the stack address is incorrect and not in the above range (e,g 0x200241C8).

This is seen with ARMC6 compiler using the uvision IDE

### Issue request type
    [X] Question
    [ ] Enhancement
    [ ]

[2019-05-31 17:12] farrenv opened #10736 "Debugging Psoc6 in vscode"
### Description

Target: Psoc6, prototype dev kit, CY8CPROTO-062-4343W

Is anyone able to debug the PSoC 6 Wi-Fi BT Prototyping Kit in vscode?  With the use of pyocd 0.16.1 and cppdebug I am able to get to line 293 of startup_psoc6_02_cm4.S:

[code]

pyocd gdbserver initializes two connections: one on port 3334 and one on port 3333.  I am assuming there is a port per core.  I am trying to debug sp

[2019-05-31 18:13] AGlass0fMilk opened #10737 "Cellular PSM - Wake Module Provisions?"
### Description

@AriParkkila @mirelachirica

My team is working on using the PSM functionality of the ME910 cellular module (see driver PR here: https://github.com/ARMmbed/mbed-os/pull/10484). We have been attempting to use it with the mbed cloud client.

We are experiencing issues where Mbed's network stack loses/drops the PPP connection with the cellular module. We found an app note from Telit:

[2019-05-31 18:16] trowbridgec commented on #10737
@maclobdell

[2019-05-31 18:24] 40Grit commented on #10736
@flit @maclobdell

[2019-05-31 18:44] linlingao commented on #10731
@0xc0170 This is a known issue for CY8CPROTO_062_4343W. I suspect it's the same issue on WIFI_BT. The heap for ARM is too small (1K). I've told Cypress via email how to fix it.

[2019-05-31 18:53] hennadiykytsun commented on #10731
Fix is the following?
In the assembly file:
1. remove the implementation of the legacy __user_initial_stackheap function
2. Add IMPORT __use_two_region_memory

[2019-05-31 19:18] linlingao commented on #10731
1. Remove the Heap_Size definition and __user_initial_stackheap
2. Set ARM_LIB_HEAP in scatter file, you can refer here
http://www.keil.com/support/man/docs/ARMLINK/ARMLINK_pge1362065977713.htm

[2019-05-31 19:30] hennadiykytsun commented on #10731
Thanks @linlingao
This is the same issue as #10613
ARM_LIB_HEAP / ARM_LIB_STACK are implemented correctly in the scatter file.
Just need to update the assembly file to remove __user_initial_stackheap function and add IMPORT __use_two_region_memory
We will make the update, run the tests and submit the PR.

[2019-06-01 15:19] ciarmcom commented on #10734
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1253*

[2019-06-02 08:31] zhanglongxia opened #10738 "[BLE][Cordio] Compile Cordio BLE stack failed on linux."
Hi,

I'm porting the Cordio stack to run on linux.  When I compile the  Cordio stack code on linux, it outputs an error :' error: size of array **wsf_ct_assert’ is negative
 #define WSF_CT_ASSERT(expr)     extern char wsf_ct_assert[(expr) ? 1 : -1]**'

I checked the Cordio stack source code and found the error is caused by '[WSF_CT_ASSERT(sizeof(attcPktParam_t) <= L2C_PAYLOAD_START)](https://githu

[2019-06-02 15:18] ciarmcom commented on #10738
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1254*

[2019-06-02 23:16] yogeshk19 commented on #10669
@40Grit  We are seeing similar power consumption and at times even higher than 1ma during advertisements. One of the other issues, had listed out disabling the cryptocell and here is what the mbed_app.json looks like. Ours is a custom board with NRF52840 BLE module. We are using Cordio API without the Nordic Softdevice.

`
{
    "target_overrides": {
        "NRF52840_DK": {
            "target.fe

[2019-06-03 02:05] 40Grit commented on #10669
My questions above are wondering what soft device does with the clocks/peripherals/radio settings in order have significantly lower power consumption than cordio stack.

[2019-06-03 07:24] SeppoTakalo commented on #10679
Hi @ThePhilomathsApprentice

Please check the K64F datasheet: https://www.nxp.com/docs/en/data-sheet/K64P144M120SF5.pdf

PTC16 and PTC17 pins are shared with Ethernet. Therefore UART3 can only be used from these pins, if Ethernet is not active.

![image](https://user-images.githubusercontent.com/3104794/58783265-28ce6580-85e9-11e9-9124-64892d82cf72.png)

On the FRDM-K64F development boards, these

[2019-06-03 07:35] #10691 closed

[2019-06-03 08:08] jenia81 commented on #10613
5.13.0-RC1 is out and doesn't include fix yet. Which RC will have the fix?
Currently, we have regression in PDMC - we can;t support Cypress board

[2019-06-03 08:19] 0xc0170 commented on #5206
Referencing here latest work that my help to fix this issue: https://github.com/ARMmbed/mbed-os/pull/10104

[2019-06-03 08:37] 0xc0170 commented on #10731
Thanks for the quick support @hennadiykytsun @linlingao.

I'll close this as duplicate, lets focus on #10613

[2019-06-03 08:37] #10731 closed

[2019-06-03 08:39] 0xc0170 commented on #10613
As referenced above, this also was discovered in our nightly tests.

I hope rc2 will have this fix. @hennadiykytsun mentioned testing the fix the previous week in 10731 issue I created for nightly failures.

@hennadiykytsun It would be great to have this fix in PR today to have it in 5.13.0-rc2

[2019-06-03 08:47] jeromecoutant commented on #10671
@linlingao
Why did you close the issue?
Issue is used to be closed when the patch is merged, which is not the case for #10708

@0xc0170

[2019-06-03 09:09] kjbracey-arm commented on #10717
We can add the warning suppression to the build profiles: `-Wno-deprecated-register`

Seems like a reasonable thing to do for now, if there's a lot of them in the target code.

Not sure of the best way to track the clean-up; one big issue or multiple sub-issues or both. That's a low-priority task though, I guess. Not anticipating a C++17 upgrade soon.

[2019-06-03 09:26] kjbracey-arm commented on #10717
Made a fix to shut the compiler up for now: #10740

[2019-06-03 09:43] jeromecoutant commented on #10717
ST_INTERNAL_REF 67609

[2019-06-03 09:43] 0xc0170 commented on #10734
cc @ARMmbed/team-st-mcd

[2019-06-03 10:36] kimlep01 opened #10743 "UBLOX_EVK_ODIN_W2: Fatal run-time error in multihoming test - nightly"
### Description
UBLOX_EVK_ODIN_W2 with network-multihoming.tests-network-multihoming test case ends up in a fatal run-time error. Happens with all three compilers.

[code]

Link to full report: http://mbed-os-ci.s3-website-eu-west-1.amazonaws.com/?prefix=jenkins-ci/ARMmbed/mbed-os/mbed-os-ci-nightly/artifacts/master/224/greentea-test-IPCore/69/FAIL/UBLOX_EVK_ODIN_W2/

cc @ARMmbed/team-ublox

### I

[2019-06-03 11:03] 0xc0170 commented on #10717
@jeromecoutant We are reviewing 10740. Once all green, will go into the release which would mean this could be closed. Do you want to keep this tracked (opened) to fix register usage in ST driver code or rather create new issue for the clean-up

[2019-06-03 11:15] 0xc0170 commented on #10717
OK to be closed once 10740 is in

[2019-06-03 11:38] 40Grit commented on #5206
Glad to see this bumped

@trowbridgec

[2019-06-03 11:42] MarceloSalazar commented on #10278
@0xc0170 this doesn't seem related to the application. One is a feature inside Mbed OS (Cordio), and another is an external library (cloud client).

This kind of issues doesn't happen often. IMO it makes sense to rename one of the files, otherwise, we'll hit this problem with more platforms and applications.

@JanneKiiskila maybe you can rename the one inside cloud-client library?

[2019-06-03 11:46] #6545 closed

[2019-06-03 11:49] #10028 closed

[2019-06-03 11:54] ciarmcom commented on #10743
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1256*

[2019-06-03 11:59] 0xc0170 commented on #6545
@oliverjharper Closing in Jira will close it also on Github (should this be reopened?).

[2019-06-03 12:01] 0xc0170 commented on #10028
Fixed via 10094

[2019-06-03 12:18] 0xc0170 commented on #10669
cc @ARMmbed/mbed-os-pan

[2019-06-03 12:40] jeromecoutant commented on #10589
Hi

Got first feedback from SPI driver team:
Patch is not correct.
because it set SSI bit in SPI_NSS_SOFT mode and in SPI_NSS_HARD_OUTPUT mode, which is not good.

[2019-06-03 12:42] desowin opened #10745 "Is the USB Host supported?"
### Description

I would like to connect the USB flash memory to the STM32F746G-DISCO board. The device would save the logs to the USB memory stick. Making the USB type-A port available on target device enclosure is the most convenient option in our project. I have noticed that there is unsupported USB Host which could be used. I have done the minimal changes required to get it working on the USB

[2019-06-03 13:51] 40Grit commented on #10745
@AGlass0fMilk

[2019-06-03 14:06] 0xc0170 commented on #10735
Is it being overwritten during Kernel startup ?

[2019-06-03 14:09] 0xc0170 commented on #10718
Note, to have this fix in rc2, it should be sent for review latest tomorrow

[2019-06-03 14:10] 0xc0170 commented on #10719
Possibly fix for https://github.com/ARMmbed/mbed-os/issues/10718 will address  this as well

[2019-06-03 14:25] mmahadevan108 commented on #10735
Seems like it, I am not clear who is changing it.

[2019-06-03 14:36] hennadiykytsun commented on #10613
@evgenibo could you please check if test case is works for you with this [PR?](https://github.com/ARMmbed/mbed-os/pull/10747). I am able to compile it, but I can't debug metioned project.

Thank you.

[2019-06-03 14:48] jeromecoutant commented on #10718
Note that warning seen in the description should be solved by #10740

[2019-06-03 14:58] jainvikas8 opened #10748 "Python Dependencies issues - Mbed OS tools"
mbedls - Version: 1.7.7
mbed - Version: 1.8.3
Platform - Windows 10
mbed-os (#73f096399b4c, tags: latest, mbed-os-5.12.4)

When using mbed cli to run a test:
**mbed test -t ARMC6 -m `DISCO_L475VG_IOT01A` -n tests-mbedmicro-rtos-mbed-basic --run**

End up getting an error:
[code]

[2019-06-03 15:06] MarceloSalazar commented on #10748
I'm seeing the same issue all the time with installing a new version of Mbed OS :(
It seems the packages in Mbed OS require different versions of the tools from mbed-os-tools.
As a workaround, I need to manually install specific versions as shown here: https://github.com/ARMmbed/mbed-os-tools/releases/tag/v0.0.8

Please fix the python dependencies, as this issue is very annoying ;-)

[2019-06-03 15:10] jeromecoutant commented on #10732
Hi
Please, have a look on this page:
https://os.mbed.com/teams/ST/wiki/Nucleo-144pins-ethernet-spi-conflict

[2019-06-03 15:14] loverdeg-ep commented on #10748
https://github.com/ARMmbed/cmsis-pack-manager/issues/110#issuecomment-497025151

@maclobdell Would love to see the community and partners approached in order to solve Mbed OS tooling issues for the long term.

[2019-06-03 15:25] jeromecoutant commented on #10730
Here is the status I have:

Target | Toolchain | TestSuite | TestCase | mbed-os-5.12.4 | mbed-os-5.12.3 | mbed-os-5.12.2 | mbed-os-5.12.1
-- | -- | -- | -- | -- | -- | -- | --
DISCO_L475VG_IOT01A | GCC_ARM | tests-mbed_hal-qspi | qspi write(1-1-1)/x1    read(1-1-4)/x1  repeat/x1  test | FAIL | FAIL | OK | OK

[2019-06-03 15:25] loverdeg-ep commented on #7887
@nikhedonia I bumped an email exchange we had a while back on this topic.
Our team is already operating outside the normal Mbed OS tooling and will not mind evaluating alternative dependency/package/configuration management options.

@maclobdell @trowbridgec @farrenv  @AGlass0fMilk

[2019-06-03 15:35] loverdeg-ep commented on #10748
https://github.com/ARMmbed/mbed-os/issues/9479#issuecomment-480836993
https://github.com/ARMmbed/mbed-os/issues/7887#issuecomment-498304269

[2019-06-03 16:12] jainvikas8 commented on #10730
I see the same failure with **ARMC6** toolchain on mbed-os-5.12.4.

[2019-06-03 17:00] loverdeg-ep commented on #10748
Just in.

![image](https://user-images.githubusercontent.com/24318071/58820006-6f2ebf00-85ff-11e9-9bcb-764564ab96eb.png)

@trowbridgec

[2019-06-03 17:02] loverdeg-ep commented on #10748
@theotherjimmy

[2019-06-03 17:45] loverdeg-ep commented on #6132
Still think this needs a resolution.

@snelson-senet Do you have any thoughts on the topic?

@janjongboom, @linlingao

[2019-06-03 17:47] loverdeg-ep commented on #10736
@farrenv Last I remember there was a resolution to this?

[2019-06-03 19:05] mmahadevan108 commented on #10735
On reading further, looks like there are 2 stack pointers 1. Main stack pointer 2. Process Stack Pointer.

I would like to increase the size of the Process Stack, can you let me know how to do this.

[2019-06-03 20:04] trowbridgec commented on #10730
I am seeing similar results with the `NRF52840_DK` and `GCC_ARM`.

[2019-06-03 20:21] ciarmcom commented on #10748
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1257*

[2019-06-03 21:24] dfreiberger commented on #4090
@0xc0170 The inability to enable chronological ordering of the CAN FIFO is also posing an issue in our application, where we are relying on ISO-TP for certain application functions. ISO-TP (see https://en.wikipedia.org/wiki/ISO_15765-2) relies on segmented transfer, and as such it breaks if messages are sent out of order.

Exposing a way to enable Transmit FIFO Priority through the CAN interface (

[2019-06-04 03:34] ThePhilomathsApprentice commented on #10679
Hey @SeppoTakalo, Thank you so much.
I am surprised how this fact went unnoticed while choosing the pins for my UART.
Thank Again. ;)

[2019-06-04 03:36] ThePhilomathsApprentice commented on #10679
I think this issue is solved to my satisfaction I believe I can close this issue for now.

[2019-06-04 03:36] #10679 closed

[2019-06-04 06:56] sivasanath commented on #10713
we moved to cmsis_os2.h api's , and by changing OS_DYNAMIC_MEM_SIZE macro from "0" to "25000" in mbed_rtx_conf.h, we see that every thing seems to be fine without crashes

But two questions
1) with GCC_ARM compilation we didn't update OS_DYNAMIC_MEM_SIZE macro , but still things used to work fine, why we are seeing this issue only with IAR.
2) If the OS_DYNAMIC_MEM_SIZE  change is required , then

[2019-06-04 07:09] martinichka opened #10754 "Assertion failed: pcache->block == 0xffffffff"
### Description

We get an assert when using LittleFileSystem with SPIFBlockDevice. We do not have that problem when using SDBlockDevice and HeapBlockDevice.

[crashdump.txt](https://github.com/ARMmbed/mbed-os/files/3250883/crashdump.txt)

Fails with the following assert:
[code]
Suspicious log lines before that: `lfs debug:1411: Bad block at 4` (followed by 6,7,7)

Processor: STM32L496VE
Flash mem

[2019-06-04 07:13] AriParkkila commented on #10599
@trowbridgec It looks like a PPP problem during IP context activation. It probably helps if you deactivate any contexts with `at+cgact=cid` and/or `at+cgatt=0` commands before connecting.

[2019-06-04 07:35] toyowata commented on #10713
Probably related to: https://github.com/ARMmbed/simple-mbed-cloud-client/issues/96

[2019-06-04 07:41] lauri-piikivi commented on #10737
hi, so far the PSM has been application controlled. App has the context that it can deep sleep the modem. App will also pause pelion cloud client. then the client must wake up the modem or modem wakes up on its own timer. In the case where this was done the modem did keep all state including the ppp. Wake up was automatic with low power uart.

this seems an area where there is some variation betwe

[2019-06-04 07:51] teetak01 commented on #10713
Similar to https://github.com/ARMmbed/mbed-os-example-cellular/issues/125 which was fixed in https://github.com/ARMmbed/mbed-os/pull/10172 for that specific case.

[2019-06-04 08:04] 0xc0170 commented on #9479
@loverdeg-ep Good notes above about package managers. One question: have you evaluated yotta? I would like to know how it compares to the list of tools evaluated above. As that one we used previously and has similar attributes to some tools in the list (at least from my quick look at some of the tools there).

[2019-06-04 08:07] 0xc0170 commented on #10613
@jenia81 Can you also evaluate the PR referenced?

[2019-06-04 08:08] jeromecoutant commented on #10730
Faulty PR is #10435
@morser499

[2019-06-04 08:13] jeromecoutant commented on #10730
NRF52840_DK and DISCO_L475 are using same flash test config file: MX25RXX35F_config.h

[2019-06-04 08:32] evgenibo commented on #10613
@hennadiykytsun
The test case works with this PR

[2019-06-04 08:35] hennadiykytsun commented on #10613
@evgenibo , thank you so much for the verification.

[2019-06-04 08:36] 0xc0170 commented on #10730
Thanks for all feedback.

@ARMmbed/team-cypress Please review. I'll comment on the PR itself

[2019-06-04 08:41] 0xc0170 commented on #10730
@jeromecoutant good catch, looks like that PR edited common test code that might be faulty. We will need to find the fix or revert the offender.

@ARMmbed/mbed-os-hal If you can help here with qspi test case

[2019-06-04 08:47] #10720 closed

[2019-06-04 08:52] amak-cy commented on #10628
We found teh bug in our lp ticker implementation - the lp_ticker did not handle correctly 2 seconds period.

Thanks for help.

[2019-06-04 08:52] #10628 closed

[2019-06-04 08:58] hennadiykytsun commented on #10515
Hello @Dhairya23
Could you please try this [PR](https://github.com/ARMmbed/mbed-os/pull/10747)?

[2019-06-04 09:04] Dhairya23 commented on #10515
UPDATE: I was able to run the code after increasing the heap size mentioned in startup_psoc6_02_cm4.S in the location
mbed-os\targets\TARGET_Cypress\TARGET_PSOC6\TARGET_CY8CMOD_062_4343W\device\TOOLCHAIN_ARM. The heap size used here was 0x400 which was fixed and needed to be increased.

[2019-06-04 09:15] hennadiykytsun commented on #10515
I propose you to replace the existing implementation of the ARM_LIB_HEAP  and ARM_LIB_STACK  in the scatter file to the following:
ARM_LIB_HEAP  +0 EMPTY ((RAM_START+RAM_SIZE)-AlignExpr(ImageLimit(RW_IRAM1), 8)-Stack_Size)
    {
    }
ARM_LIB_STACK (RAM_START+RAM_SIZE) EMPTY -Stack_Size
    {
    }

In this case you will be able to use whole available memory for the heap without changing the start

[2019-06-04 09:15] gpsimenos commented on #10058
Hi Jan, thanks for engaging with Mbed OS :smiley:

I've had a look at this and I definitely agree that sleep tracing can be too verbose by default in some cases. It would be great to have an additional macro to control the printing of stats every time the device goes to sleep, but introducing a new macro to Mbed OS incurs considerable maintainance and documentation effort. Unfortunately, in this c

[2019-06-04 09:23] maciejbocianski commented on #10728
@0xc0170
This bug was introduced by https://github.com/ARMmbed/mbed-os/pull/10435

[2019-06-04 09:37] 0xc0170 commented on #10728
@maciejbocianski would you be able to find the offender in that PR - what is causing this? it should be reverted or fixed.

[2019-06-04 10:03] martinichka commented on #10754
Could reproduce the issue with mbed-os-example-filesystem by adding a few lines of code. I pushed the added code here: https://github.com/ARMmbed/mbed-os-example-filesystem/compare/master...martinichka:debug/assert_lfs_bad_block

Looping to write some data:
[code]
by opening each time the file before write:
[code]

[2019-06-04 10:25] martinichka commented on #10754
I have to note that the vanilla example does not crash with an assert and the numbers are as expected, but it does report `bad block` errors.

First run
[code]
Second run
[code]

[2019-06-04 10:37] 40Grit commented on #9479
@0xc0170 I was a huge fan of what yotta and Mbed OS 3 represented.

However, yotta is dependant on cmake which is dependant on make.

* We want to get away from make.
* We don't want to mess with cmake's syntax.
* We don't want to install cmake
* Yotta is written in python. Trying to avoid python where possible.
* We want a modern build system

[2019-06-04 10:55] #10717 closed

[2019-06-04 10:57] 0xc0170 commented on #10748
This was fixed on master, and will be in 5.13. For older versions, the best is to fix tools dependency tree.

@ARMmbed/mbed-os-tools already are aware of this

[2019-06-04 11:06] 0xc0170 commented on #4090
If we can make sure this is generic enough, please create PR and resume the discussion.

@ARMmbed/team-st-mcd To be aware of this, would you be able to help?

[2019-06-04 11:18] RonEld commented on #9880
@loverdeg-ep Depends on what version you are using.
I recommend you update your version closer to master, at least branch `mbed-os-5.11`

[2019-06-04 11:19] RonEld commented on #9880
Do you still reproduce the issue after you call `mbedtls_platform_setup()` and `mbedtls_platform_terminate()`?

[2019-06-04 11:30] 0xc0170 commented on #10735
What is happening with PSP?  Not enough thread stack size?

[2019-06-04 11:35] kjbracey-arm commented on #10713
So, the report_thread_stats function in blinky does have a bug, in that it will pass NULL to `printf("%s")` if any thread in the systemthread is totally unnamed.

Normally it gets away with it because all system threads (main, timer, idle) have names, and even if you make an unnamed thread, GCC and ARM libraries let you get away with printing NULL.

I don't know why you'd see any difference betwee

[2019-06-04 11:36] 0xc0170 commented on #7887
@loverdeg-ep Any example of blinky with the tools? What tools do you use and how they interact with targets/components ?

[2019-06-04 11:55] AnttiKauppila commented on #10723
@shlomow Can you use features/lwipstack/lwip/src/include/netif/slipif.h ?

[2019-06-04 11:56] ciarmcom commented on #10754
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1258*

[2019-06-04 11:57] mark-edgeworth commented on #7887
All this discussion is somewhat off-topic from the original report which was to allow comments in the mbed config files. These are in Json, and json does not have a way of expressing comments. It is unlikely that this will change.

[2019-06-04 11:57] #7887 closed

[2019-06-04 11:58] 0xc0170 commented on #10589
PR #10595 is on hold : needs work until this is answered

[2019-06-04 11:59] 0xc0170 commented on #9012
@ARMmbed/mbed-os-tools

[2019-06-04 12:00] AnttiKauppila commented on #10678
@kluszkiewicz Can you close this now?

[2019-06-04 12:02] mmahadevan108 commented on #10735
Stack overflow exception when running an application.

[2019-06-04 12:40] 0xc0170 commented on #10649
cc @ARMmbed/mbed-os-core

[2019-06-04 12:49] jeromecoutant commented on #4090
Hi

I have quickly discussed with a CAN driver expert,
and, as requested by @dfreiberger, exposing a way to enable Transmit FIFO Priority through the CAN interface seems to be a good point for mbed-os
It's even mandatory for protocol like "NMEA2000" as explained by @thomasonw

But proposed patch seems not correct as the transmit priority is not a mode.
CAN API should add a new parameter, where def

[2019-06-04 12:51] VVESTM commented on #10589
@embeddedteam103, can you explain exactly how do you reproduce and test this issue ?
I would like to reproduce your use case and test several patches.

[2019-06-04 12:53] martinichka commented on #10754
I tried with another manufacter SPIF chip: MT25QU01GBBB (1Gbit) which does not seem to have the problem. So it seems it related to the **Spansion fs512s (512MBit)** only.

[2019-06-04 12:55] martinichka commented on #10754
Can someone verify if other Spansion chips have similar problems?

[2019-06-04 12:56] 40Grit commented on #10723
@loverdeg-ep

[2019-06-04 13:00] 0xc0170 commented on #4090
@jeromecoutant Quick good feedback ! Would you create this new parameter addition?

Based on the interest, few users would benefit from enabling this on STM boards.

[2019-06-04 13:01] kentindell commented on #4090
You can resolve this by providing a “Frame transmitted” callback or similar mechanism so that a FIFO can be built on top of the API: frames are put into the FIFO and then taken out in response to a frame being transmitted. This avoids unbounded priority inversion in the main system but preserves FIFO ordering for the applications that need it.

[2019-06-04 13:03] jeromecoutant commented on #4090
@0xc0170 to be honest, I think you should not waiting for us for this API update...

[2019-06-04 13:08] cmonr commented on #9479
@40Grit care to elaborate on this a bit?

I hear the phrase used a lot all over the place, but feel that it might mean different things to different people.

[2019-06-04 13:16] maciejbocianski commented on #9075
@0xc0170 yes please close

[2019-06-04 13:18] 0xc0170 commented on #9075
As soon as PR is merged, will close.

[2019-06-04 13:18] maciejbocianski commented on #10728
fix #10755

[2019-06-04 13:18] chrissnow commented on #10732
@jeromecoutant that sorts it thanks.

However is there a way we can throw and exception if the user tries to use SPI1 and ETH without that defined?

It's rather hard to debug and certainly wasted a lot of my time and no doubt others in future.

[2019-06-04 13:18] maciejbocianski commented on #10730
fix #10755

[2019-06-04 13:19] 0xc0170 commented on #10735
rtos contains `mbed_lib.json` - configuration to tweak this - as this is application specific, please look at it.

[2019-06-04 13:24] 0xc0170 commented on #10613
Fixed via 10747

[2019-06-04 13:24] #10613 closed

[2019-06-04 13:32] loverdeg-ep commented on #9479
@cmonr You caught me flat footed.

The headings of the following page https://doc.qt.io/qbs/overview.html might be considered an elaboration. There are bits of many other tools that fit the bill.

I'm nearing readiness to create a separate issue for the topics I have been redirecting other issues towards.

Thank you to all for your patience!

[2019-06-04 13:32] 0xc0170 commented on #8333
@ARMmbed/mbed-os-test Can you please verify?

[2019-06-04 13:38] #10678 closed

[2019-06-04 13:41] trowbridgec commented on #9880
@RonEld After adding the calls to `mbedtls_platform_setup()` and `mbedtls_platform_terminate()` in our application we're now able to leave `CRYPTOCELL310` and `MBEDTLS_CONFIG_HW_SUPPORT` enabled.

Thanks for your help!

[2019-06-04 13:41] #9880 closed

[2019-06-04 13:51] mark-edgeworth commented on #9012
Thanks to all on this thread for the detail here. I don't yet know when we will be able to look at it as we have a huge backlog of issues to deal with.

[2019-06-04 14:01] loverdeg-ep commented on #10723
@shlomow The Nanostack Border Router example may provide some insight too.

![image](https://user-images.githubusercontent.com/24318071/58885175-bbd1d300-86af-11e9-91fc-a3c1fdc124e7.png)

https://github.com/ARMmbed/nanostack-border-router

[2019-06-04 14:02] 0xc0170 commented on #10673
Bump

[2019-06-04 14:04] 0xc0170 commented on #10586
cc @mmahadevan108 - you might provide an input here

[2019-06-04 14:04] 0xc0170 commented on #10667
cc @bentcooke

[2019-06-04 14:21] jeromecoutant commented on #10732
Hi
I don't know how to add some code to check this ... :-(

I have updated the board page: https://os.mbed.com/platforms/ST-Nucleo-F429ZI/#board-pinout
To be more explicit

[2019-06-04 14:28] Alex-EEE commented on #10586
I'll just keep adding as I go through this.  The kinetis clock config tool ( MCUXpresso Config Tools ) is also a must.  It will generate clock_config h/c for you based on your board and desired clock rates.  Rename those files to fsl_clock_config.h ( b/c the rest of the API is going to be looking to include "fsl_clock_config.h" )  These files will live at your "board" level TARGET_ folder ( the bo

[2019-06-04 15:03] chrissnow commented on #10732
@0xc0170 any thoughts on this?

[2019-06-04 16:50] trowbridgec commented on #10737
@lauri-piikivi I found section in the Pelion client documentation which follows what you're saying and looks promising: https://www.pelion.com/docs/device-management/current/connecting/device-guidelines.html#client-pause-and-resume

I'll report back how it works out for us.

Thanks for the tip!

[2019-06-05 06:07] AriParkkila commented on #10737
@trowbridgec That Pelion doc looks good. An application needs to disconnect before sleep and connect after wake-up:
7. Shut down the network stack => NetworkInterface::disconnect(), also disconnects PPP
9. Set up a network stack => NetworkInterface::connect()

Currently, it's up to the application to wake-up the modem before `connect()` and also if the modem tries to enter deep-sleep due to a long

[2019-06-05 07:38] maciejbocianski commented on #10745
The new one mentioned by @0xc0170 is here
https://github.com/ARMmbed/mbed-os/tree/master/usb/device
But for now it supports slave only and I don't know what are the plans for the USB host support

[2019-06-05 07:42] DBS06 commented on #10655
@ARMmbed/mbed-os-tools @0xc0170
I looked again in this issue, because it seems mbed-os-tools-team does not react.
I think the Linker Script shouldn't be added to `all_library_refs` in function `mbed-os\tools\resources\__init__.py`
[code]
Because if I build for the EFM32PG12 the Linker script isn't added.

[2019-06-05 08:38] 0xc0170 commented on #10655
@DBS06 tools team was moved recently. To progress here, can you send PR with proposed fix? I'll make sure tools team review , me as well.

[2019-06-05 08:40] mark-edgeworth commented on #10655
Yes, thanks for that @0xc0170 :-) We're still coming up-to-speed with all this...

[2019-06-05 09:08] 0xc0170 commented on #10732
Is it about pin ownership? Because above link about spi conflicts points to board rather than software - modify target for some specific pin usage (ethernet/SPI).

[2019-06-05 09:15] chrissnow commented on #10732
It's because a pin is shared, if we can throw an exception when a pin conflict happens it would save a lot of debugging to figure out why, currently things just break at runtime. SPI1 and ETH will never work on this board without a hardware mod, and I think it's a pretty common thing to happen!.

[2019-06-05 10:41] DBS06 commented on #10655
@0xc0170 I would like to, but actually I "just" know whats happening, but not why... Right now I am looking now into this issue, if I am successful, I will create a PR of course ;-)

[2019-06-05 10:42] sjwalke opened #10760 "Repeated macro in FLEXSPI_SetFlashConfig()"
### Macro for sequence ID read mask possibly omitted

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X ] Bug

[2019-06-05 10:43] sjwalke commented on #10760
Developing for iMXRT 1064 EVK, statis analysis tools have found this issue, have reported on NxP community as well.

 In function FLEXSPI_SetFlashConfig()

configValue &= ~(FLEXSPI_FLSHCR2_AWRWAITUNIT_MASK | FLEXSPI_FLSHCR2_AWRWAIT_MASK | FLEXSPI_FLSHCR2_AWRSEQNUM_MASK |
 FLEXSPI_FLSHCR2_AWRSEQID_MASK | FLEXSPI_FLSHCR2_ARDSEQNUM_MASK | FLEXSPI_FLSHCR2_AWRSEQID_MASK);

The macro FLEXSPI_FLSHCR2_AWR

[2019-06-05 10:44] 0xc0170 commented on #10730
Fix integreated, should be resolved now

[2019-06-05 10:44] #10730 closed

[2019-06-05 10:44] 0xc0170 commented on #10728
Fix integreated, should be resolved now

[2019-06-05 10:44] #10728 closed

[2019-06-05 10:52] 0xc0170 commented on #10760
I believe the community report should be sufficient ot have this fixed in the driver itself. We would benefit from it when the driver is updated.

cc @mmahadevan108

[2019-06-05 11:50] ciarmcom commented on #10760
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1259*

[2019-06-05 12:58] trowbridgec opened #10765 "TRNG Greentea Test requires manual RESET for target EP_AGORA"
### Description

While running the Mbed OS Greentea tests to validate adding the `EP_AGORA` target, I found that I had to manually press the RESET button during the `tests-mbed_hal-trng` test in order for it to pass (see PR #10629).

The 'Agora' (`EP_AGORA`) board does not have a DAPLink circuit on board; we debug and program it via an nRF52840 DK running a modified version of DAPLink that forces

[2019-06-05 13:19] mprse opened #10766 "Disabled unstable time drifting tests cases"
### Description

In the following tests, time-drifting test cases will be disabled for now since they are unstable on CI (host machines is in AWS in Ireland and devices in Oulu and there is internet between those which quality changing all the time):
- `tests-mbed_drivers-lp_timeout` (PR https://github.com/ARMmbed/mbed-os/pull/10762)
- `tests-mbed_drivers-ticker` (PR https://github.com/ARMmbed/mbe

[2019-06-05 13:39] 0xc0170 commented on #10765
This looks like the interface/host test problem , not related  to trng - however do not understand how this is not seen in other tests (the start sequence is different, should not be prior sync packet?).

[2019-06-05 13:49] pilotak commented on #10687
@AriParkkila do you want me to create a separate issue for that? cause week is over and i don't know if somebody spotted that mentioning

[2019-06-05 14:00] pilotak opened #10768 "I2C recover()"
### Description
I would like to reset I2C from SCL being low after an error. I found that **I2C** has `recover()` option but it is defined as private. Fine but because it's defined as `NonCopyable` i can't reinitialize it either.
Could please guide me how to reset I2C?

[code]

### Issue request type

    [x] Question
    [ ] Enhancement
    [ ] Bug

[2019-06-05 15:12] #6008 closed

[2019-06-05 15:17] #8198 closed

[2019-06-05 15:21] #7764 closed

[2019-06-05 15:26] #8494 closed

[2019-06-05 15:27] #8077 closed

[2019-06-05 15:28] #7808 closed

[2019-06-05 15:29] ciarmcom commented on #10766
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1260*

[2019-06-05 15:29] ciarmcom commented on #10765
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1261*

[2019-06-05 15:31] linlingao commented on #8494
Fixed by https://github.com/ARMmbed/sd-driver/pull/115.

[2019-06-06 00:53] d-kato commented on #10729
I'm checking now.

[2019-06-06 02:25] d-kato commented on #10729
Revision : fbc489e6a51a5afefe669fe32481fc564ea6ed44

I will only pull requests for the following fixes. Is this all right?
tests-mbed_drivers-crc
tests-mbed_drivers-flashiap
tests-mbed_hal-flash

#### The following two tests could not be reproduced.
- **tests-mbed_platform-stats_cpu**
A test was not created because the following conditions were not met.
mbed-os\TESTS\mbed_platform\stats_cpu\main.c

[2019-06-06 03:38] toyowata commented on #10729
@d-kato
For the `clear_spimd_reg()` function optimization, you can use `volatile` keyword rather than #ifdef and #pragma.

[code]
[Test result]
[code]

[2019-06-06 03:49] d-kato commented on #10729
@toyowata , Thank you. I will use "volatile".

[2019-06-06 05:39] ccli8 opened #10771 "ARM_MUSCA_A1: psa-crypto_init test failed"
### Description

#### Environment

**Target**
ARM_MUSCA_A1

**Toolchain**
Arm Compiler 6.10

**mbed-os**
fbc489e6a5 (HEAD -> master, origin/master, origin/HEAD) Merge pull request #10733 from pan-/fix-nrf52-memory-pools

#### Steps to reproduce

1.  Re-build secure code with:
[code]
1.  Test `mbed-os-tests-psa-crypto_init` and failed
[code]

The issue is first found on my NUMAKER_PFM_M2351 TFM por

[2019-06-06 05:48] AriParkkila commented on #10687
@pilotak That sounds like a good idea. Please create a new issue to add missing callbacks, and I guess this issue can then be closed.

[2019-06-06 08:42] jeromecoutant commented on #10545
Hi
Any update ?
I didn't see any update in NVstore yet which fix this issue...

[2019-06-06 08:44] jeromecoutant commented on #10626
Hi

Don't forget this issue to make debug easier for all :-)
Thx

[2019-06-06 08:48] OPpuolitaival commented on #8333
I think that we can close this now. I will reopen or create new one with fresh information if can see this happening again.

[2019-06-06 09:10] #8333 closed

[2019-06-06 09:11] 0xc0170 commented on #8333
@OPpuolitaival If you look at nightly, latest results fail - can we test fresh new device to take out "worn flash" ?

[2019-06-06 09:28] MarceloSalazar commented on #10673
Note this is a bug.

[2019-06-06 09:46] 0xc0170 commented on #10771
@ARMmbed/mbed-os-crypto Please review

[2019-06-06 09:46] 0xc0170 commented on #10771
Is this related to this bugfix? #10770

[2019-06-06 09:54] 0xc0170 commented on #10768
I don't recall why recover was made private..

@ARMmbed/mbed-os-hal

Workaround: Wouldn't invoking explicitly constructor do the job, however initializing everything again (frequency would need to be set up again).

[2019-06-06 10:10] AriParkkila commented on #10551
This can be closed, see PR #10694.

[2019-06-06 10:10] ccli8 commented on #10771
It seems #10770 can fix the issue. I would try it.

[2019-06-06 10:16] kjbracey-arm commented on #10715
This is something to do with the KW24D being an M4 without FP (that's rare).  The handling was tweaked a bit for that recently.

I can see irq_cm4f.S having some `#ifdef __FPU_PRESENT` which should be `#if __FPU_PRESENT`, so that might be putting in some FP instructions (which would be avoided at runtime). I don't see any problem with except.S though.

The FPU selection is common for compiler and

[2019-06-06 10:23] fkjagodzinski opened #10773 "Serial IRQ handler called for disabled IRQs"
### Description

Affected targets:
* `STM32F0`
* `STM32F3`
* `STM32F7`
* `STM32H7`
* `STM32L0`
* `STM32L4`
* `STM32WB`
* `K66F`
* `K82F`
* `KL27Z`
* `KL43Z`
* `KL82Z`
* `KW24D`
* `KW41Z`
* `K22F`
* `K24F`
* `K64F`

When only the RX IRQ is enabled, the attached IRQ handler is called in both `RxIrq` (correct) and `TxIrq` (incorrect) contexts.  See code below:
[code]

Runnig this code on the current

[2019-06-06 10:36] kjbracey-arm commented on #10715
Actually, the `#ifdef __FPU_PRESENT` test isn't it a problem - even though it's defined as `0` in the device C headers, those aren't included by the assembler - instead the tools python puts a `-D` option in for FP devices, or not.

[2019-06-06 10:43] AriParkkila commented on #10549
@ccchang12 It's fine to make URC timeout configurable, but I don't quite see how it fixes... Instead `ATHandler::process_oob` could have this kind of fix, can you try if it helps?
[code]

[2019-06-06 11:15] AriParkkila commented on #10175
@martinichka That's fine, please contribute.

[2019-06-06 11:17] ccli8 commented on #10771
Yes. #10770 can fix the issue.

[2019-06-06 11:45] jeromecoutant commented on #10673
Hi
USB tests are on going.
You can set devices:st label

[2019-06-06 11:46] AriParkkila commented on #9731
@Jaco-Liebenberg Do you mean something like [LWIP::get_ip_addr](https://github.com/ARMmbed/mbed-os/blob/2b354a40b068147f7ccddf15204d1e77a5b88ba5/features/lwipstack/lwip_tools.cpp#L126), which uses `IP_VERSION_PREF` to select IP version? Currently Mbed cellular prefers always to IPv6 in `CellularStack::get_ip_address`.

I think that `_ip_stack_type_requested` was originally to request a specific IP

[2019-06-06 12:06] 0xc0170 commented on #8930
When we should expect the fix?

[2019-06-06 12:40] 0xc0170 commented on #10727
@ARMmbed/mbed-os-test Is this known issue for this target? If it is target or code/test ?

[2019-06-06 12:48] 0xc0170 commented on #10773
Good catch 👍

[2019-06-06 12:49] 0xc0170 commented on #10771
Great ! Thanks for the report and confirmation.

[2019-06-06 12:51] fkjagodzinski commented on #10773
All thanks to FPGA shield. :sunglasses:

[2019-06-06 13:49] pilotak opened #10778 "UBLOX cellular: missing a callback on socket closed"
### Description
as per conversation #10687

Once you are succesfully connected to server and server stops working you can see in debug:
[code]
which is perfect but i have callback registered with `_socket.sigio(callback(this, &Test::socketCb));` and there is no cb called. If I try to listen for data `_socket.recv(buffer, size)` after i received above, no negative error is returned so it looks the

[2019-06-06 13:50] #10687 closed

[2019-06-06 14:40] li-ho commented on #8333
Thanks for informing me. My GCC_ARM tests are totally passed as seen in attached file
[190606-mbed-os-5.12.4.zip](https://github.com/ARMmbed/mbed-os/files/3262095/190606-mbed-os-5.12.4.zip). My cog boards have not reached end of life.

[2019-06-06 14:58] pilotak commented on #10768
@0xc0170 did you mean it like that?
[code]

[2019-06-06 15:14] BramdeBoer1 commented on #8816
Sorry for the late reply.

I have just verified that with mbed os 5.12.4 this issue still persist.

Tested the issue with the code to reproduce as described above.

[2019-06-06 16:04] mjohngreene opened #10780 "Find correct tag for specific version"
### Description

How can I find the correct "tag" to use in a mbed-os.lib file?  For example, the .lib file for mbed-os 5.7.7 contains: https://github.com/ARMmbed/mbed-os/#16bac101a6b7b4724023dcf86ece1548e3a23cbf where "16bac101..." is the tag.  How do I find the same thing to use for mbed-os 5.11.1 (or any specific mbed-os for that matter)?

### Issue request type

    [x ] Question
    [ ] Enhan

[2019-06-06 16:14] mjohngreene commented on #10780
Found it under "Releases" in Github menu.

[2019-06-06 16:14] #10780 closed

[2019-06-06 19:32] linlingao commented on #10765
The TRNG test initiates a hardware reset in the middle of the test to verify the randomly generated data is indeed random. By default, it requires DAPLink to intercept break to initiate the reset. If there's no DAPLink, it will fail. If it hangs after the 2nd sync, it typically means the reset did not go through. There is another alternative to initiates reset using pyOCD but that requires some ha

[2019-06-06 19:45] loverdeg-ep commented on #10765
@flit any insight?

[2019-06-06 19:49] linlingao commented on #10748
@0xc0170 Can you link the PR to this issue so that we can close it?

[2019-06-06 20:10] flit commented on #10765
I think @linlingao explained it. If the serial port is not going through DAPLink, then the serial break sent by the test host will not be intercepted to reset the target.

[2019-06-06 20:14] loverdeg-ep commented on #10765
Sounds like the hack method might be less desirable than getting hard reset working with the current or other adapter.

[2019-06-06 20:16] ciarmcom commented on #10778
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1262*

[2019-06-06 20:16] ciarmcom commented on #10773
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1263*

[2019-06-06 20:16] ciarmcom commented on #10771
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1264*

[2019-06-06 20:16] ciarmcom commented on #10673
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1265*

[2019-06-06 20:19] linlingao commented on #10765
Yeah, I would recommend getting DAPLink to work since it's an integral part of Mbed.

[2019-06-06 21:50] mmahadevan108 commented on #4222
On K66 I see the below warning:
`Compile [ 92.5%]: fsl_flash.c
[Warning] fsl_flash.c@2620,21: unknown attribute 'optimize' ignored [-Wunknown-attributes]
`
Below is the code that is causing the warning, the code is wrapped wit GNUC macro and should not be executed for ARM compiler, can you please explain what is missing.
`
#if (defined(__GNUC__))
/* #pragma GCC push_options */
/* #pragma GCC optim

[2019-06-07 06:11] AriParkkila commented on #8666
@Alex-EEE It looks like PR #10484 by @trowbridgec might solve this request, so this issue could be closed?

[2019-06-07 06:26] DrynnBavis opened #10783 "SPIFBLockDevice constantly encounters "Bad Block" when using LFS"
### Description
I'm trying to write a file to LFS mounted upon a SPIFBlockDevice. The SPIF trace is indicating that after exactly two writes (of 64 Bytes each), my eeprom experiences a "bad block" and then calls for an erase (of 4096 Bytes). This is pretty unfortunate because it essentially means increments of 4096 bytes of address space for ever 128 Bytes of data. Am I missing something in my con

[2019-06-07 06:28] DrynnBavis commented on #10783
@geky Not sure if you've heard of others having issues with LFS on SPIF devices, but I'd appreciate any advice you can throw my way!

[2019-06-07 08:18] LaurentLouf opened #10785 "Bad printf formatting prevents from treating formatting warning as errors"
## Description

I created some custom build profiles where I added to treat all warnings related to formatting as errors, to avoid long debug sessions only due to a bad format specifier. Problem is, for STM targets, it fails due to at least the following formatting mistakes (still present in current `master` branch as of writing) :

https://github.com/ARMmbed/mbed-os/blob/489bd10626352683a4568a7d8

[2019-06-07 08:46] DBS06 commented on #10655
Mhm I still didn't found the reason and I have no further ideas where to search deeper to find the bug...

[2019-06-07 09:04] 0xc0170 commented on #9975
@ARMmbed/team-ublox Just want to confirm, the next driver update should have this resolved?

[2019-06-07 09:05] 0xc0170 commented on #10250
@ARMmbed/mbed-os-test We should update this with recent data and take actions to get this fixed

[2019-06-07 09:06] 0xc0170 commented on #10312
Should be fixed by 10312. If not, reopen with an update

[2019-06-07 09:06] #10312 closed

[2019-06-07 09:08] 0xc0170 commented on #10743
@ARMmbed/team-ublox Please let us know if you are able to reproduce this

[2019-06-07 09:08] 40Grit commented on #8666
@ariparkkila I'd prefer this stay open till that merges

[2019-06-07 09:13] michalpasztamobica commented on #10312
Let me explicitly confirm. Our CI shows a pass for UBLOX Wi-Fi now with [this revision of mbed-os](https://github.com/ARMmbed/mbed-os/#73f096399b4cda1f780b140c87afad9446047432) and I checked that there were some updates from Ublox team since March, which could be making the difference.
@ARMmbed/team-ublox , thanks for fixing!

[2019-06-07 09:35] DBS06 commented on #10783
On a Flash you can set one byte from 0xFF to 0x00, but to reset a byte from 0x00 to 0xFF you need to erase the whole sector (in your case 4K).
https://electronics.stackexchange.com/questions/69234/what-is-the-difference-between-flash-memory-and-eeprom/69275
https://electronicsforu.com/resources/learn-electronics/eeprom-difference-flash-memory
https://www.microchip.com/forums/m1007157.aspx

The def

[2019-06-07 09:53] TeroJaasko commented on #10561
Same warning is given on Linux builds too.

[2019-06-07 10:30] teetak01 commented on #10561
This issue has been fixed in Mbed CLI master. It would just require a new release of the tool.

[2019-06-07 11:06] sjwalke commented on #10760
cc @MaureenHelm in case this is relevant to Zephyr

[2019-06-07 11:40] trowbridgec commented on #10765
That makes sense because we are using a separate UART for communicating with the DUT (utilizing the mbedls mocking/override functionality).

[2019-06-07 11:51] ciarmcom commented on #10785
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1267*

[2019-06-07 12:21] 0xc0170 commented on #10785
👍
@ARMmbed/mbed-os-core Please review

To the errors:

@ARMmbed/team-st-mcd Can you review these

[2019-06-07 12:21] 0xc0170 commented on #10778
cc @ARMmbed/mbed-os-wan

[2019-06-07 12:22] 0xc0170 commented on #10778
@ARMmbed/team-ublox

[2019-06-07 12:25] jeromecoutant commented on #10785
Hi
About warning, I asked yesterday to @kjbracey-arm some advice to remove them !
It should come soon in a PR

[2019-06-07 13:27] teetak01 opened #10787 "mbed-cloud-client-example Nucleo F411RE entropy injection does not work with 5.13.0-RC2"
### Description

Entropy injection feature for Nucleo F411RE (and probably related non-TRNG boards), is broken in Mbed OS 5.13.0-RC2 release candidate.

Application fails to initialize as the entropy injection fails for some reason.

[code]

Producible with https://github.com/armmbed/mbed-cloud-client-example

### Issue request type

    [ ] Question
    [ ] Enhancement
    [X] Bug

[2019-06-07 13:28] teetak01 commented on #10787
@Patater @jenia81 @JanneKiiskila

[2019-06-07 13:34] teetak01 opened #10788 "Mbed Client LITE does not compile with Mbed OS 5.13.0-RC2"
### Description

Mbed Client Lite example (mbed-client-lite-example-restricted) does not compile with Mbed OS 5.13.0-RC2.

This seems to be related to the TLS flagging:

[code]

As a workaround it is possible to add this to application TLS-configuration file:
#undef MBEDTLS_SSL_ENCRYPT_THEN_MAC

Can be reproduced with the (limited access) mbed-client-lite-example-restricted application.

### Issue

[2019-06-07 13:34] teetak01 commented on #10788
@Patater @JanneKiiskila

[2019-06-07 13:43] MaureenHelm commented on #10760
@sjwalke Thanks for the heads up. Will you please share a link to the community report?
@AntoineZen This may affect zephyrproject-rtos/zephyr#15364

[2019-06-07 13:44] sjwalke commented on #10760
@MaureenHelm - here you go
https://community.nxp.com/message/1160708

[2019-06-07 13:52] MaureenHelm commented on #10760
Thank you!

[2019-06-07 14:30] TeroJaasko opened #10789 "ARMC5 build of a mbed-os-example-blinky broken on Mbed OS master"
### Description

ARMC5 build of a mbed-os-example-blinky is broken on Mbed OS master. Reverting C++11 enablement from profiles fixes the errors.

Test environment:
* ARM Compiler 5.06 update 6 (build 750)
* Mbed OS 6a1ab73988e87ccae28ebb6f944a7d448e86d9d7
* mbed-os-example-blinky 880ed00bff6352cea56031d34b9d891ba21059e9
* target: K64F
* profile: release

First error:
[code]

fix:
[code]

next erro

[2019-06-07 14:37] linlingao commented on #10765
@trowbridgec Do you mind closing this?

[2019-06-07 15:22] ciarmcom commented on #10789
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1269*

[2019-06-07 15:22] ciarmcom commented on #10788
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1270*

[2019-06-07 15:22] ciarmcom commented on #10787
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1271*

[2019-06-07 17:28] loverdeg-ep commented on #10765
@linlingao @trowbridgec is PTO today.

Go ahead and close. Since we have debugger on a baseboard board, it is resolvable without source changes.

[2019-06-07 19:32] #10765 closed

[2019-06-07 21:44] DrynnBavis commented on #10783
I've played around with 1MHz, 10MHz, 22.5MHz, 40MHz, and 45MHz. When using 45, I can no longer communicate with the eeprom, `ERROR: init - _verify SFDP signature and version Failed`.
Using the others all result in the partial success described above but ultimately still fail with constant "bad blocks" being seen. With these configurations I'd see about 1.8KB being written before hard faulting with

[2019-06-09 17:08] #10650 closed

[2019-06-09 17:10] #10671 closed

[2019-06-09 22:04] yogeshk19 commented on #10669
@40Grit Sorry I haven't had a chance to dump the peripheral registers. I am planning on re-running my power draw tests again after the next mbed-os release which is supposed to have updates to hci driver i believe. I am not planning on using the softdevice at this point, only the Cordio API as is.

[2019-06-10 00:52] #9048 closed

[2019-06-10 02:20] AGlass0fMilk opened #10799 "USB MSD Filesystem Access Guidelines?"
### Description

@maciejbocianski
What are the requirements of accessing a block device underlying a USB MSD instance that is connected to a host? How should one avoid conflicts in this situation?

I am using a FAT file system and a QSPI block device. I want to simply see when a file is placed on the MSD. I looked at the MSD tests for some inspiration but haven't been successful yet.

### Issue re

[2019-06-10 04:37] sivasanath commented on #10713
thanks @kjbracey-arm for the info

[2019-06-10 05:01] fahim-ublox commented on #10778
Internal jira reference : PGM_NO_MBD-239

[2019-06-10 05:07] ccli8 commented on #10771
Closed via #10770

[2019-06-10 05:07] #10771 closed

[2019-06-10 07:54] maciejbocianski commented on #10799
The whole storage init is done in `storage_init` you have to only change the block device to `QSPIFBlockDevice`. This example shows how to use qspi block device https://github.com/ARMmbed/mbed-os-example-blockdevice-qspif
https://github.com/ARMmbed/mbed-os/blob/e7bc177b20427197763e1cd47261b04bf18db64e/TESTS/usb_device/msd/main.cpp#L251-L260

[2019-06-10 07:57] LaurentLouf commented on #10785
PR  #10793 should fix this issue, closing the issue.

[2019-06-10 09:02] AGlass0fMilk commented on #10799
Are there any limitations on concurrent access? How should that be handled?

[2019-06-10 09:05] elforce commented on #10211
Hi gents.
I have the same problem with STM32L432KC target. I wrote about it on the mbed forum 4 months ago but nobody wrote back so I am joining the topic. Below oscillogram with current spikes on STM2L432KC:
![DS1Z_QuickPrint1](https://user-images.githubusercontent.com/22542114/59184098-abb56a00-8b6d-11e9-97dd-fbceba4a06c7.png)
The results are the same for "target.lpticker_lptim_clock": 1 and 4 s

[2019-06-10 09:22] LMESTM commented on #10211
@elforce what do you exactly want to solve ?
mbed-os scheduler relies on the LPTIM counter which wraps-up regularly, at least once per second. The target will wakes-up very shortly then go back to sleep. Is this really an issue ? How much is the power overhead ?

Note: In your above mbed_app.json extract I do not see Jerome recommendation:
`"target.lpticker_lptim_clock": 4`

[2019-06-10 09:26] jeromecoutant commented on #10785
#10793 solves the compilation warnings,
but I thought that issue was raised in order to ask ARM to add Wformat=error flag in the CI?

[2019-06-10 09:41] LaurentLouf commented on #10785
Indeed, I forgot about this part

[2019-06-10 10:03] pilotak commented on #10768
@0xc0170 when i try to reset I2C with above code I get an error:
[code]

[2019-06-10 10:05] elforce commented on #10211
@LMESTM If the device is working on the battery, eg. CR2032, and wakes up every 1s from stop mode and the momentary power consumption is about 1mA, it will drain the battery quite quickly. My question is how to be in stop mode and have the same behaviour like in mbed 2, static power consumption at the level of a few uA all time? In mbed-os 5 with ST uC's (I do not know how with others) in stop mod

[2019-06-10 10:15] LMESTM commented on #10211
@ARMmbed/mbed-os-core  this is a question to you - not something specific to STM32. Users are asking for vert long period of Deep Sleep without any wake-ups (RTC alarm like I think).

[2019-06-10 10:24] maciejbocianski commented on #10768
I think the code is wrong
If you want to re-init I2C  it should be allocated dynamically
Try this one:

[code]

[2019-06-10 10:38] elforce commented on #10211
I have RTC running in the project and I wake up the device every 30 min, 1h, 3h. There is no problem with that. Probably this 1s awakening are needed for the mbed-os itself so that it can validate events or other stuff. **@ARMmbed/mbed-os-core** even if it can not be turned off, how this 1s peaks time can be extended?

[2019-06-10 11:13] LMESTM commented on #10211
@elforce   Out of curiosity, what RTC alarm API are you using ?

[2019-06-10 11:22] pilotak commented on #10768
thanks a lot i will try this out

[2019-06-10 11:46] elforce commented on #10211
It should not matter because I did tests without and with supported RTC. I am using mbed-os rtc_api functions: rtc_read() and rtc_write() but to set Timer and Alarm I use my own functions written using HAL libraries after critical section enter.

[2019-06-10 13:04] LMESTM commented on #10211
That was my point. As of now, there is no standard MBED API in case you want to sleep for hours without any wake-up.

The 1sec wake-up is due to the wrap-around of the 16 bits LPTIM HW in STM32. Scheduler relies on this continuous always-running clock and will always schedule next interrupt within a few seconds to count for the next wrap-up. So as long as RTC is not used, you will have wake-ups ev

[2019-06-10 14:41] elforce commented on #10211
with osKernelSuspend() is a good starting point. This function occurs in the mbed code about 10 times, so the mbed-os uses it. Tomorrow I will be testing.

[2019-06-10 15:33] elforce commented on #10211
Calling osKernelSuspend () does not work. Maybe I do not comply with conditions to stop the Kernel scheduler.

[2019-06-10 16:00] LMESTM commented on #10211
@MarceloSalazar  - in case you can help.

[2019-06-10 16:48] amak-cy opened #10803 "rtc_reset test error with Python 3.7"
### Description

rtc_reset throw python error and fails with strange error message.

Tried with Cypress targets CY8PROTO_062_4343W and CY8CKIT_062_WIFI_BT (ARM_GCC)
Used mbed-os 5.11.5, 5.12.0, 5.12.1, 5.12.2, 5.12.3 (Releases are downloaded from here https://os.mbed.com/mbed-os/releases/#)

 ### Steps to reproduce

1. Run rtc_reset greentea test with Python 3.7 on CY8PROTO_062_4343W or CY8CKIT_06

[2019-06-10 20:18] ciarmcom commented on #10803
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1274*

[2019-06-10 21:05] AGlass0fMilk commented on #10799
@maciejbocianski I think you misunderstood what I was asking. I have a USB MSD working with on-board QSPI using the QSPIFBlockDevice and FATFileSystem. I've been having trouble reading the filesystem (checking if files exist) while it's mounted on a host over USB.

What are guidelines for concurrently accessing the same file system mounted on a host over USB? I noticed this:

https://github.com/AR

[2019-06-10 23:19] geky commented on #10783
That is strange.

The "bad block" message indicates that LittleFS detected an error in the data it wrote to the block device. This triggers an erase as LittleFS tries to move the data from the bad block to a block it believes to be good.

The error you are seeing looks a lot like some sort of bus corruption that is causing writes to fail. The SPI flash protocol doesn't have any sort of error detec

[2019-06-11 07:14] LMESTM commented on #10584
@MarceloSalazar can you find someone from mbed-os team to help answering ?  Maybe it's HAL team rather than core team ?

[2019-06-11 07:18] 0xc0170 commented on #10803
@amak-cy This should be fixed on master and will be in 5.13.0.

[2019-06-11 07:31] aqib-ublox commented on #10743
@kimlep01 let me try

[2019-06-11 07:33] amak-cy commented on #10803
Sounds good.

Will try to pull from master and try on my side.

Thanks.

[2019-06-11 07:40] ccchang12 commented on #10549
@AriParkkila This patch can fix my issue.

[2019-06-11 07:40] 0xc0170 commented on #10789
@kjbracey-arm Can you review?

@TeroJaasko please send the fix, it should be part of 5.13

[2019-06-11 07:41] TeroJaasko commented on #10789
@0xc0170 the first fix is not enough, at least one more is needed and perhaps others until the compilation succeeds.

[2019-06-11 07:42] 0xc0170 commented on #10789
I was too fast to press comment. We shall consider the latest bump to C++1x standard makes ARMC5 not compatible anymore. Let me check with @kjbracey-arm about the compability, I don't recall the details.

[2019-06-11 07:44] aqib-ublox commented on #9975
@0xc0170  here is internal jira for ARMC6 https://jira.u-blox.net/browse/TE_OM2-115. point is can u device a mechanism how to debug a ARMC6 (ODIN_w2) binary using eclipse. It would be good if u can have detail procedure.

[2019-06-11 07:45] aqib-ublox commented on #8930
@0xc0170 we are planning to have this fix along with ARMC6 https://github.com/ARMmbed/mbed-os/issues/9975. We are currently block on it so cannot commit anything right now.

[2019-06-11 07:47] 0xc0170 commented on #10789
This comment wraps it nicely (using #ifdef for new standard in the current codebase): https://github.com/ARMmbed/mbed-os/issues/5507#issuecomment-448940342

[2019-06-11 07:47] kjbracey-arm commented on #10789
5.13 should be fixable, to at least not be less compatible than 5.12. There are no real C++11 code changes in master yet. That one is an attempt to take advantage of C++11, but it trips over the fact that ARM C 5 says it's C++11 but it is incomplete.

Internal discussions happening about how far to continue ARM C 5 support beyond 5.13.y - it seems clear to me we're going to need ARM C 5 PR CI, for

[2019-06-11 07:50] 0xc0170 commented on #10789
@kjbracey-arm would these fixes be able to make into 5.13.0 rc3 ?

[2019-06-11 07:51] kjbracey-arm commented on #10789
Yes, I'll try to quickly turn around a PR to make blinky work again. Whether that will fix /everything/, I don't know...

[2019-06-11 07:52] 0xc0170 commented on #9975
would you use mbed studio? I'll contact you over email to get more details

[2019-06-11 07:57] 0xc0170 commented on #9975
This is the official documentation we have : https://os.mbed.com/docs/mbed-os/v5.12/tutorials/eclipse.html

Isn't this sufficient to keep you running debugging session ? It uses eclipse + openOCD (odin supported there, not yet in pyOCD), or ST provides gdb as well?)

[2019-06-11 08:01] kjbracey-arm commented on #10789
Pro tip, btw. If you're trying to *distinguish* ARM C 5 and ARM C 6, rather than treat them the same, it's usually simpler to not actually look at __ARMCC_VERSION, ironically.

The reason you're trying to distinguish them is most often that they're actually two totally different compiler cores. One's the ARM/Norcroft compiler, and the other is Clang. So you're often best off distinguishing the fam

[2019-06-11 08:09] desowin commented on #10799
I don't know about mbed implementation, but in general you want to avoid using the filesystem at the same time it is exposed to USB Host via USB MSD. Doing so is asking for trouble, especially that the USB Host (eg. Windows) can cache the sectors *and* there really isn't a proper way to invalidate such cache/prevent the host from doing so.

If you really want to access the files at the same time a

[2019-06-11 08:20] 0xc0170 commented on #9975
I also found private notebook describing how to set up openOCD with odin (it's almost 2 years old, might be still a good start): https://os.mbed.com/users/janjongboom/notebook/debugging-ublox_evk_odin_w2-with-openocd-and-visua/#

You should be able to debug armc6 application using gdb in eclipse. These 2 links should help you. Without much details where you are having issues, we might not be able

[2019-06-11 08:53] toyowata commented on #6975
The issue is closed as we have an workaround for this i.e.  migrate to Mbed OS 5.

[2019-06-11 08:53] #6975 closed

[2019-06-11 08:57] 0xc0170 commented on #10584
@ARMmbed/mbed-os-hal has some updates on spi feature branch so this issue should be considered for this feature

[2019-06-11 09:04] TeroJaasko commented on #10789
@kjbracey-arm thanks for tip. That should reduce migraine caused by writing the ifdefs next time.

[2019-06-11 09:12] maciejbocianski commented on #10799
I agree with @desowin.
Actually the safest way is to unmount the MSD device then change its content and mount again

[2019-06-11 09:20] OPpuolitaival commented on #10250
Now there are failing these:

| Target | exporter |
| ------------- | ------------- |
|KL26Z|uvision6|
|SAMG55J19|uvision6|
|VBLUNO51_BOOT|make_armc6|
|VBLUNO51_LEGACY|make_armc6|
|VBLUNO51_OTA|make_armc6|
|ARCH_PRO|mcuxpresso|
|LPC1768|mcuxpresso|
|LPC1769|mcuxpresso|
|LPC4088|mcuxpresso|
|LPC4088_DM|mcuxpresso|
|LPC4330_M4|mcuxpresso|
|LPCCAPPUCCINO|mcuxpresso|
|UBLOX_C027|mcuxpresso|
|VBLUNO51_

[2019-06-11 10:50] RonEld commented on #5206
Also, the already existing  `PlatformMutex` feature can be used to synchronise as well

[2019-06-11 10:57] aqib-ublox commented on #10743
@kimlep01 this test is new one and i think it never succeeded before am i right?

[2019-06-11 11:08] aqib-ublox commented on #10743
@kimlep01 does this test require bridge support?

[2019-06-11 11:12] 40Grit commented on #5206
@geky any application for your asynchronizer thingy here?

https://github.com/geky/coru

[2019-06-11 11:13] desowin opened #10806 "How to configure USB pins for custom target based on STM32F746?"
### Description

I want to create custom target based on STM32F746 discovery, however I want to be able to override clock configuration. Thus I no longer want to inherit the DISCO_F746NG to be able to provide my own pin names and clock configuration.

Initially I had
[code]
in my `custom_targets.json`. As the clock configuration cannot be altered via configuration options, I decided to modify the

[2019-06-11 11:26] neurodigitaltechnologies commented on #8523
Dear all,
How is this bug going on, please? I think we are a lot of people stuck with MBED OS 2 because of this.
@devHAA @jeromecoutant @ciarmcom @adbridge @0xc0170
Is there any solution, fix or workaround?
Can you elevate the priority, please? We have an upgrade in the technology roadmap pending on this issue to make a final decision about next platform.
Many thanks in advance!

[2019-06-11 11:45] VVESTM commented on #8265
Hi,
@kubazdz , is this issue still present ?

As mentioned by @bcostm , SPI transfer should be working as expected on STM32 devices.
I see several issues in your source code. The first one is related to SPI management. When slave receives a byte, let's say n, it will send back the n-1 response.  Regarding this, you should call device.reply before device.receive loop in slave send and receive funct