[2017-04-10 09:18] #955 closed

[2017-04-10 09:21] 0xc0170 commented on #3967
@theotherjimmy Can you please help?

[2017-04-10 09:22] 0xc0170 commented on #4139
will be fixed via https://github.com/ARMmbed/mbed-os/pull/4141

thanks for reporting

[2017-04-10 11:03] 0xc0170 commented on #4130
cc @theotherjimmy @bridadan

[2017-04-10 13:37] helmut64 opened #4144 "STM32L4 combining support for L431xx, L432xx and L433xx devices"
- Type: Enhancement, Question

At present mbed supports only the 64kB MCU STM32L432KC, this represents one L4 MCU out of 40 different L4 MCU devices, all L4 offering 64kB memory. For my project I use the STM433CCT series which does not allow me to use all LQFP48 Pins within mbed because the STM32L432KC supports only 32 Pins.

My proposal is the following. The Nucleo STM32L432KC implementation coul

[2017-04-10 13:46] 0xc0170 commented on #4144
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-04-10 13:47] 0xc0170 commented on #4131
USB code is currently only for mbed 2 (thus the location unsupported). This however will be added to mbed OS 5 and as you noted, most probably be compatible with block device API.

cc @geky @sg-

[2017-04-10 13:48] bulislaw opened #4146 "CMSIS5: NRF52840_DK needs updating to RTX2"
The NRF52840_DK target fails to build using `feature_cmsis5` branch (which updates CMSIS and RTX to versions 5 and 2), the two issues:
* NVIC set/get vector are defined for the target (CMSIS already defines them)
* targets/TARGET_NORDIC/TARGET_NRF5_SDK13/sdk/libraries/timer/app_timer_rtx.c file is braking RTX abstraction layers using it's internals and needs to be ported to RTX2 (or fixed if possi

[2017-04-10 14:31] bridadan commented on #4130
@kvanberendonck Thanks for raising the issue. This is unfortunately a limitation of that particular mbed's firmware (it is one of about 3 boards that have this interface, so it is not the "norm"). It's actually a side effect of the "LocalFilesystem" feature. It lets you have a persistent filesystem, but as you have observed, its not the greatest for automated testing. And I agree that the error sh

[2017-04-10 14:57] adustm commented on #3863
Hi @0xc0170
We have a request to change the interface of CAN api over here.  I agree with @bperry730 that we could directly set the correct and requested frequency at the init of the CAN object, instead of calling the frequency function later. Do you think it would be acceptable at mbed level ?
Something in CAN.h that would look like:
`CAN(PinName rd, PinName td, int hz);
`

@bperry730 in the mean

[2017-04-10 16:50] theotherjimmy commented on #3967
I'm still in the dark on what's causing this. It looks like mbed-cli uses something different here. I'll see what I can do about making them the same.

[2017-04-10 17:44] helmut64 commented on #3967
What is strange, the TARGET_NUCLEO_L432KC shows something wired, the NUCLEO_L476RG  (same MCU type) works correct.

The zero Info for the L0 and F1 targets may be something different.

[2017-04-10 17:59] bperry730 commented on #3863
Hi @adustm

I'll try to answer your last question:

We actually encounter this issue in our current system.  We get some CAN messages on power up from our Device B that can cause Device A to hang.  Also, if Device A restarts during operation (something that is possible, but not ideal), then Device B is blasting data at 1kHz and causes Device A to hang.

Let me know if you have any other questions

[2017-04-10 18:26] theotherjimmy commented on #3967
Could you expand on "something weird" @helmut64?

[2017-04-10 23:49] ciarmcom commented on #3940
ARM Internal Ref: IOTMORF-938

[2017-04-11 03:43] TomoYamanaka commented on #3673
@theotherjimmy

Sorry to bother you again.
Could you let me know the above PR that you submitted to the website to address this issues?

[2017-04-11 04:42] toyowata opened #4151 "SDFileSystem example broken on mbed 2 library rev 138 or onward"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/issues/3983
- Priority: Major
- Reported: https://developer.mbed.org/questions/77631/LPC824SD/

---------------------------------------------------------------
## Bug

**Target**
K64F, SSCI824, GR-PEACH

**Toolchain:**
ARM

**Toolchain version:**
armcc 5.06 (online compiler)

**Expected behavior (Rev. 137 or older)**
S

[2017-04-11 07:44] TuomoHautamaki commented on #3978
@0xc0170 , is the issue now fixed?

[2017-04-11 09:44] #3978 closed

[2017-04-11 10:17] helmut64 commented on #3967
![nucleo-432kc](https://cloud.githubusercontent.com/assets/2076290/24904414/b4c785aa-1eb0-11e7-8dd7-d7d74c496f53.png)
![nucleo-476rg](https://cloud.githubusercontent.com/assets/2076290/24904420/b6fd1538-1eb0-11e7-8869-409d41e9318f.png)

Some project using the STM32 L4 MCU, the NUCLEO-476RG data is correct.

[2017-04-11 11:18] SeppoTakalo commented on #3978
Nanostack border router now compiles with mbed OS 5.4.3

[2017-04-11 14:14] bcostm commented on #4010
Can you please close this issue ? Thanks.
TO_BE_CLOSED

[2017-04-11 15:18] #4010 closed

[2017-04-11 16:44] theotherjimmy commented on #3673
@TomoYamanaka I mentioned this issue in the PR I submitted to the website. If you cannot see the PR mention immediately above your comment, then I can't do anything more. I could give you a link, but you would just see a 404 error.

[2017-04-12 02:28] TomoYamanaka commented on #3673
@theotherjimmy

Thank you for your comments.
If you mentioned this issue in your PR, I guess that your PR is linked in this page.
However, I can not see your PR link in page.

Could you let me know your PR number, not link ?

[2017-04-12 02:45] dadiliebian commented on #1666
Hello,I have a question. I make the bootloader 's .bin and combine with application.bin.The bootloader's function is jump directly application.But it does not.
The follow is bootloader code.

#include <events/mbed_events.h>
#include <mbed.h>

int main()
{
mbed_start_application(POST_APPLICATION_ADDR);
}

[2017-04-12 04:16] TomoYamanaka commented on #3673
@theotherjimmy

I understood it thanks to @toyowata .
The PR you submitted to the website is that ARM mbed team only can access.
Also he told me that your PR was merged.
Therefore, I will comfirm whether this issue modify in current.

[2017-04-12 06:19] 0xc0170 commented on #4151
cc @geky

[2017-04-12 08:06] 0xc0170 commented on #1666
@dadiliebian Please create a new issue for your use case. And describe it there in details for us to be able to reproduce. What target, toolchain, what commands, examples are you running? Thanks

[2017-04-12 08:08] 0xc0170 commented on #1666
@pi19404 Have you resolved your issue? We added a bootloader support , that might resolve this issue

[2017-04-12 10:00] nvlsianpu commented on #4146
1) This is similar situation as was for NRF5 ports. NVIC set/get vector must been implemented by this target.
I remember that i added "CMSIS_VECTAB_VIRTUAL" macro to nRF52832 MCU target description. Now I see that there is another one "CMSIS_VECTAB_VIRTUAL_HEADER_FILE=\"cmsis_nvic.h\"".

2) #4175 removes unwanted app_timer_rtx.c file.

[2017-04-12 14:15] bcostm commented on #4144
I think your proposal will be confusing for end-users and how your target will be tested ? On which board ? Personnally I prefer to create a specific folder for the L433xx devices and put your target in it as we do for other boards. But do you plan to add your target on mbed ? Or it is just to benefit from mbed L4 files ? On mbed, the "rule" is to create one folder for one real platform. If I unde

[2017-04-12 14:33] RobMeades commented on #3123
I also hit this issue recently when I wanted to change the value of a macro defined in `targets.json` from `mbed_app.json`.  I agree with @betzw that having to do, in my case:

[code]
...is a bit cumbersome and a mechanism for simply changing the value would be a good improvement.  However, it is worth pointing out that the above did work for me (code as at start of March 2017 I think).

[2017-04-12 15:01] helmut64 commented on #4144
The current STM32L432KC is a very basic target, it has even no user button. Doing it, as I propose (keeping the STM32L432KC target name) but just using the STML433 LQFP100 HAL device files would enable 39 more MCUs for engineers. For STM32L432KC users everything stays as it, the STML433 is a superset of the of the STM32L432 MCU.

Of course, testing gets only done with the STM32L432KC device.

PS:

[2017-04-12 15:08] helmut64 commented on #4144
![myhomev3](https://cloud.githubusercontent.com/assets/2076290/24964578/f0a66aea-1fa1-11e7-8f72-00264e64deaf.jpg)
Hier is my project:
- STM32L4 MCU
- STM LSM303AGR (accelerometer and magnetometer)
- 4 MB external SPI flash used with the mbed FATFilesystem
- Battery operation using two AAA batteries (holder on the back)
- USB Connector on the back (working on DFU programming)
- Debugger interface (

[2017-04-12 15:19] chrissnow commented on #4117
I'm going to mark this closed as it's not as I originally described.

the real problem seems to be LWIP needs more memory if you try to connect to an IP on the same subnet than a routed IP or DNS name, increasing the thread size resolved the problem.

[2017-04-12 15:19] #4117 closed

[2017-04-12 15:55] geky commented on #4117
Sorry I wasn't able to get to this earlier, but thanks for updating the issue 👍

Was it the main stack that needed increasing?

[2017-04-12 17:05] janjongboom opened #4181 "nRF51822 pstorage APIs are broken since mbed OS 5.2"
### Description
- Type: Bug
- Priority: Blocker

## Bug

**Target**
nRF51-DK, also seen on Minewtech nRF51 and Minewtech nRF52

**Toolchain:**
GCC_ARM and ARMCC

**Toolchain version:**
4.9.3 and online compiler

**meed-os sha:**
The problem is present in mbed OS 5.2.3 and 5.4.2, but not in mbed OS 5.1.5.

**Expected behavior**
Take https://github.com/roywant/EddystoneBeacon. Change the adv interva

[2017-04-12 18:34] mbartling opened #4182 "Adding change directory ability to FileSystem"
### Description
- Type: Enhancement
- Priority: Minor
----------------------------------------------------------------
## Enhancement
having to prepend "/sd/" or "/fs/" to every filename is tedious and can lead to a bunch of polluted code. It would be nice to have the ability to change directories into the mounted root.

for example:

[code]

comments/concerns? @geky @theotherjimmy

[2017-04-13 10:46] pan- commented on #4181
@nvlsianpu Do you know if `fstorage` and `pstorage` can be used concurrently ?
@janjongboom It might be interesting to try with `IS_LEGACY_DEVICE_MANAGER_ENABLED ` set to 1 ([here](https://github.com/ARMmbed/mbed-os/blob/e67117b8eafb6dada5f0cc4c09e140c95a001cb3/features/FEATURE_BLE/targets/TARGET_NORDIC/TARGET_NRF5/source/btle/btle.cpp#L36)).

[2017-04-13 12:17] bulislaw commented on #4146
Great, thanks. I'll deal with 1.

[2017-04-13 13:17] chrissnow commented on #4117
@geky I have a thread that dealt with maintaining the ethernet connection and a TCP client socket, I assigned the thread a 1024 stack and this works fine unless you connect to a link local address, 2048 makes it work.

Luckily I have some spare RAM, but otherwise a really odd bug!

[2017-04-14 19:04] maiorfi-at-innovactive opened #4188 "Issue in Serial RX interrupt processing?"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F410RB, NUCLEO_F411RE

**Toolchain:**
ARM

**Toolchain version:**
5.x

**Expected behavior**
led blinking when data received by serial RX channel

**Actual behavior**
program halts in HardFault_Handler when flushing serial backing stream

**Steps to reproduce**

[2017-04-15 11:15] Sissors opened #4189 "STM32s Serial does not properly handle parity bits."
### Description
- Type: Bug
- Priority: Intermediate

---------------------------------------------------------------
## Bug

**Target**
STM32s, haven't checked if all suffer from it.

**Toolchain:**
All

**Expected behavior**
Enabling parity bit adds a parity bit to the transmission.

**Actual behavior**
Enabling parity bit replaces a bit for the parity bit in the transmission. If you look at the

[2017-04-15 20:31] #1992 closed

[2017-04-15 20:31] #2147 closed

[2017-04-16 09:45] rbonghi opened #4191 "Deepsleep and sleep does not work in STM32L0 series"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32L0 series

**Toolchain:**
ARM

**Toolchain version:**
5.x

**Expected behavior**
Go to sleep or deepsleep

**Actual behavior**
Skip the functions sleep() and deepsleep()

**Steps to reproduce**
[code]

---------------------------------------------------------------

[2017-04-17 05:36] TomoYamanaka commented on #3854
How is this going ? Any update ?

[2017-04-17 05:39] TomoYamanaka commented on #4009
How is this going ?

[2017-04-18 07:15] sstaub opened #4193 "mbed os 2.0, bind in UDPSocket"
Can you extend the UDPSocket API with an **int bind(const char *address, int port)** function in mbed os 2.0?
Maybe that help me with a multicast problem described in #2766

[2017-04-18 07:47] joaogmauricio commented on #4191
Hi Raffaello,

I shall add that the issue also affects Nucleo L476LG boards.

Best regards,
João

[2017-04-18 09:12] bulislaw commented on #4191
Sleep was disabled in develop (default) build profile https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/build_profiles/ it's going to change soon
https://github.com/ARMmbed/mbed-os/pull/4097

[2017-04-18 13:51] 0xc0170 commented on #4193
cc @geky @kjbracey-arm

[2017-04-18 14:47] bremoran opened #4194 "mbed os should not expose device unique IDs via MAC address"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
K64F

**mbed-os sha:**
65adf446c52fa4e3045d12c761f23948d0d271fd

**Expected behavior**
mbed OS should use a non-reversible hashing function to transform any on-device unique ID

**Actual behavior**
mbed OS uses CRC16 to transform the unique ID into a MAC address.

Users

[2017-04-18 15:50] geky commented on #4193
UDPSocket has one:
https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/Socket.h#L75-L84
[code]

It's defined in `Socket`, the common base class for `TCPSocket` and `UDPSocket`.

Unfortunately, I believe IPv4 multicast is still a work in progress (https://github.com/ARMmbed/mbed-os/issues/3512, https://github.com/ARMmbed/mbed-os/issues/3512)

[2017-04-18 16:01] sstaub commented on #4193
@geky you are right on mbed os5 but not in os2 that is here [https://github.com/ARMmbed/mbed-os/blob/master/features/unsupported/net/lwip/Socket/UDPSocket.h](url)

[2017-04-18 16:15] geky commented on #4193
Ah, looks like your right. It may be better to focus effort on fixing the missing features in the most current socket api.

[2017-04-18 18:05] pranavshandilya opened #4195 "LED blinky code is not working with other development board apart from Mbed enable board."
### Description
- Type: Question
- Priority: Minor
---------------------------------------------------------------
## Bug

**Target**
LPC1768

**Toolchain:**
GCC_ARM | ARM | IAR

**DAPLink version:**

**Expected behavior**
LED should be blink.

**Actual behavior**
LED is not blinking.

**Steps to reproduce**
1. Open online compiler.
2. Select Target LPC1768
3. Open main.cpp file in Mbed-OS blinky

[2017-04-18 19:05] wdwalker commented on #4195
Which LPC1768 development board do you have? The one I have (NXP's ARM mbed LPC1768) shows LED1 connected to P1_18: http://www.nxp.com/documents/design_support/ARM_mbed_LPC1768_Schematic.pdf, which is in line with the definitions in PinNames.h:

    LED1 = P1_18,
    LED2 = P1_20,
    LED3 = P1_21,
    LED4 = P1_23,

Will

[2017-04-18 23:49] ciarmcom commented on #4194
ARM Internal Ref: IOTMORF-940

[2017-04-19 00:34] pranavshandilya commented on #4195
Explore Cortex-M3 LPC1768 (Board name)
http://exploreembedded.com/wiki/images/0/0e/LPC1768_Stick_Schematic.pdf
LED1 = P2_0,
LED2 = P2_1,
LED3 = P2_2,
LED4 = P2_3,

I'm not passing LED name from application code when I'm creating object for
DigitalOut class, Instead of LED name i'm passing Port name and pin.
Code is below.
snip---
**DigitalOut led(P2_3);**
int main(void)
{
    while(1) {
        le

[2017-04-19 01:19] toyowata commented on #4195
@pranavshandilya

The binary which created by online compiler, does not have checksum code.  The mbed interface firmware of NXP LPC1768 platform adds checksum when the binary is flashed by USB drag & drop for you.  But in your case, you have your own board and does not have such feature.  So, you have to create correct vector table checksum by yourself using checksum utility.  Please see more deta

[2017-04-19 04:10] TomoYamanaka commented on #3593
Please let me re-open this issue since I faced similar issue.

I confirmed the e2studio project template was actually merged with mbed OS 5.4.2.
However, it seems that the same error is seen when exporting mbed_blinky to e2studio project on **online compiler**.

Also, no error is shown when using **mbed export** command to export the project.

Could you check if rz_a1h_cproject.tmpl included in mb

[2017-04-19 06:56] #4099 closed

[2017-04-19 07:03] sg- commented on #3883
@NirSonnenschein Can this be closed?

[2017-04-19 07:19] #3940 closed

[2017-04-19 07:38] pranavshandilya opened #4196 "greentea test : race_test is failing in Cortex-M3(LPC1347)"
### Description
- Type: Bug
- Related issue: [https://github.com/ARMmbed/mbed-os/issues/3273](url)
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
LPC1347

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors) 4.9.3 20150529 (release)

**mbed-cli version:**
1.0.0

**DAPLink version:**
0243

[2017-04-19 08:42] pranavshandilya commented on #4195
Thanks for your support @toyowata

[2017-04-19 08:42] #4195 closed

[2017-04-19 08:44] pranavshandilya commented on #4139
Thanks @0xc0170

[2017-04-19 08:44] #4139 closed

[2017-04-19 10:38] 0xc0170 commented on #4196
Hi,

why are you setting default_lib to small? This changes the toolchain configuration to:

[code]

[2017-04-19 11:07] #4146 closed

[2017-04-19 12:46] NirSonnenschein commented on #3883
Yes, when changing the code to work based on Kevin's inputs it seems to function as expected.
the behavior is not necessarily intuitive so it might be a good idea to expand the documentation to make sure it is clearer to the users.

[2017-04-19 12:46] #3883 closed

[2017-04-19 12:49] pranavshandilya commented on #4196
@0xc0170
Thank you for your comment.

`why are you setting default_lib to small?`
Because I am using 50% RAM of a controller and 50% is for some other purpose.
But I changed default_lib to std. the result is same.

`I would assume race test to display an error if ``MBED_RTOS_SINGLE_THREAD`` is defined ?`
It is not showing any error. The test case is failed.

thanks

[2017-04-19 12:58] 0xc0170 commented on #4196
It's expected failure. I can add there a warning, as might not be obvious when running tests. I'll propose this via a new PR to address this issue

[2017-04-19 14:30] sg- commented on #3593
@theotherjimmy

[2017-04-19 15:34] andreaspeterssonublox commented on #3645
Tested with ARMmbed/mbed-os-example-client release "mbed-os-5.4.3" and the WiFi and Ethernet applications connect, register and update the simulated button click every 15 seconds.

Before building the example I did the following according to the README.md:
- set up a .mbedignore file, an example file is available in the configs folder
- updated the security.h with content from mbed Device Connecto

[2017-04-19 21:47] theotherjimmy commented on #3593
I'll update the tools to mbed OS 5.4.2 in the online compiler backend

[2017-04-19 22:07] theotherjimmy commented on #3593
@TomoYamanaka I have submitted a change to update the tools on the online complier backend.

[2017-04-20 01:24] robotdad commented on #3673
I just hit this trying a blink sample export. I only had to modify the LD_FLAGS options per above, LD didn't have anything that offended the compiler in it.

[2017-04-20 01:57] dave-wu opened #4204 "Driver destructor not calling the HAL free functions"
C++ driver destructors do not call the HAL free functions. One example is the SPI driver, its destructor does not call the spi_free function. This causes issues when one needs to re-open the SPI for instance. The temporary workaround is to call spi_free directly from the application code however this is not ideal.

[2017-04-20 09:30] 0xc0170 commented on #4204
Please see : https://github.com/ARMmbed/mbed-os/issues/3106

I'll close this as a duplicate

[2017-04-20 09:30] #4204 closed

[2017-04-20 09:30] bulislaw commented on #3688
@andreaslarssonublox @ramtin-r ping

we've switched the WiFi off for this platform to avoid build errors, but it's not a good solution.

[2017-04-20 09:58] 0xc0170 commented on #4196
PR with a proposed addition sent

[2017-04-20 11:59] kjbracey-arm commented on #4140
This is fairly deep in the lwIP TCP implementation, which has not been changed in mbed OS - this is unlikely to be anything to do with mbed OS integration, so submitting a query to the lwIP project would be most effective.

Don't quite understand the first example, but in the last one, lwIP is permitted to send overlapping segments due to retransmissions - retransmissions don't have to be segmente

[2017-04-20 14:44] andreaslarssonublox commented on #3688
Oki, yes we would prefer to generate new binaries once all tests pass for all toolchains. We tested it yesterday and then the WiFi tests worked for all toolchains(with some fixes). After upgrading to the latest mbed-os in the branch we don't pass the tests anymore. We are currently investigating why it has stopped working.

[2017-04-20 15:10] 0xc0170 commented on #3688
Thanks @andreaslarssonublox , keep us updated.

However, what does this mean? What sha did you use?

[2017-04-20 15:37] andreaslarssonublox commented on #3688
This does not work:
fcbd6645b07997da338eb4e273a1c5b778c84876

This works fine:
604d431f6a25fafc3917835003e732a058b00bc4

[2017-04-21 04:10] TomoYamanaka commented on #4009
Related PR is here.
https://github.com/ARMmbed/mbed-os/pull/4207

[2017-04-21 04:40] TomoYamanaka commented on #3673
@theotherjimmy

I exported a program to GCC ARM Embedded from mbed online compiler.
But I faced the same error that I commented [previous](https://github.com/ARMmbed/mbed-os/issues/3673#issuecomment-278536181).

Was the deploy to the online environment complete?
Also, could you let me tell the difference between Makefile before and after modification?

[2017-04-21 06:33] nvlsianpu commented on #3857
Shall we close this issue?

[2017-04-21 12:14] 0xc0170 commented on #3688
@andreaslarssonublox One cmsis inclusion breaks the app for you? Have you found out what broke?

[2017-04-21 12:20] 0xc0170 commented on #3123
Why don't we use config for this, using macros with values does not look right - thus the syntax add/remove as you have to use the very same definition =VALUE ?

[2017-04-21 12:28] 0xc0170 commented on #3625
cc @sg-

[2017-04-21 12:30] 0xc0170 commented on #4120
bump

[2017-04-21 12:33] kgills commented on #4120
I know what the problem is, just haven't had time to address it yet.

[2017-04-21 13:09] cyliangtw commented on #3625
@0xc0170
cc @sg-
I will close this issue by next Monday.
Hopefully, CMSIS v5 and RTX v5 flexible main & child thread stack size seems meet 16KB segment.

[2017-04-21 14:17] theotherjimmy commented on #3123
@0xc0170 I agree: we should use config instead.

[2017-04-21 14:26] betzw commented on #3123
The only disadvantage I see in using `config` is that you cannot freely choose the macro's name.
Don't think that this is a great issue, though.

[2017-04-21 14:27] theotherjimmy commented on #3123
@betzw you can choose a portion of the name, so that should be Good Enough™

[2017-04-21 14:31] theotherjimmy commented on #3673
@TomoYamanaka

Probably. I'm working on a new version of the patch that I don't have to update every 2 weeks

I'm not going to stop you from telling me the difference. Maybe you meant to say something else.

[2017-04-21 15:13] tbondar commented on #3857
@nvlsianpu I suggest to keep it open till v5.4.4 is released. If it's not reproducible with that then I think we can close it.
(For our production code we moved from mbed to Nordic SDK, so this problem doesn't have direct effect on our product any more.)

[2017-04-21 15:45] helmut64 commented on #4144
Dear STM & mbed Team,
I did a proof of concept for this and it works.

My opinion is extending the STM32L432KC target with  broader MCU STM32L43x support would be a smart move, no additional target support needed, the Nucleo_L432KC board would be sufficient for testing and it allows developers to use 39 more STM MCUs.

It is clear to me that a new target like STM32L43xx_GENERIC would an alternate

[2017-04-21 16:17] mazimkhan opened #4213 "Build tools leak compiler process in CI"
# Description
- Type: Bug
- Priority: Major

# Bug

**Target**
K64F|??

**Toolchain:**
GCC_ARM

## Expected behavior

No processes are orphaned from a compile process.

## Actual behavior
Please see the screenshots:
![mbed-cli-process-leak1](https://cloud.githubusercontent.com/assets/13520658/25286607/42a5e8fa-26b6-11e7-8c41-8300739bf704.png)
![mbed-cli-process-leak2](https://cloud.githubuserconte

[2017-04-21 20:51] Willem23 opened #4214 "STM32 I2C block writes and block read bugs"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32 F103 and probably others

**Expected behavior**
I2C should work properly.

**Actual behavior**
I2C write fails on first Write after reset, Read fails on every other Read.
Ack does correctly report status and returns 1 when the slave is not

[2017-04-22 06:41] nikitateggi commented on #4138
@pranavshandilya Thank you. But why does the mbed doen't show the flash and ram memory?

[2017-04-22 06:42] nikitateggi commented on #4138
@0xc0170 Sure.

[2017-04-22 13:25] pranavshandilya commented on #4138
Welcome, @nikitateggi

`But why does the mbed doesn't show the flash and ram memory?`
I'm not a frequent user of the online compiler, that's why I didn't notice these things.
So, sorry for that.

@0xc0170  Please, Can you help?

[2017-04-22 14:44] fmanno commented on #4189
I agree with @Sissors that the way of specifying the configuration is confusing. Serial applications usually specify configuration in the format <data_length - parity - stop_bits> e.g. 8-N-1, 7-E-2, etc. I.e. the parity bit is excluded from the data_bits count. However from the reference manuals of both  [STM32F0](http://www.st.com/content/ccc/resource/technical/document/reference_manual/c2/f8/8a/

[2017-04-22 16:10] yogeshk19 commented on #3857
So this change hasn't been merged into 5.4.3 that was released a week ago? If not when is 5.4.4 going to be out, so these change is merged into an official release?

Thanks,
Yogesh

[2017-04-23 09:45] cesarvandevelde opened #4217 "Ticker bug on STM32F1"
### Description
- Type: Bug
- Related issue: `#816`
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
STM32F103

**Toolchain:**
Compiled using PlatformIO 3.3.0
ststm32 @ 1.8.1
framework-mbed @ 3.137.0
tool-stlink @ 1.10200.0

**Expected behavior**
The following code should produce a square wave on pin PA_8:
[code]

**Actual behavior**
Periodicall

[2017-04-24 01:11] ccli8 commented on #3625
The issue is expected to fix with CMSIS5/RTX2 which supports adjustment of main/child thread stack size.

[2017-04-24 01:11] #3625 closed

[2017-04-24 02:32] TomoYamanaka commented on #3673
@theotherjimmy

I agreed.

Sorry.
My intention is that I would like to comfirm how to modify in advance.
Makefile would be exported after the patch would be deployed so that it would be able to address the error I’m now facing.

[2017-04-24 07:14] 0xc0170 commented on #4217
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-04-24 07:17] 0xc0170 commented on #4214
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-04-24 07:19] nvlsianpu commented on #3857
Patch release are published every 2 weeks. So It will happened in a week.

[2017-04-24 07:20] 0xc0170 commented on #4189
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-04-24 07:22] 0xc0170 commented on #4138
cc @theotherjimmy

[2017-04-24 09:32] bcostm commented on #4217
I thought this issue was solved a long time ago. But I have checked it again on NUCLEO_F103RB (using mbed v140) and I confirm the problem.

[2017-04-24 09:41] 0xc0170 commented on #3123
Can we close this, as a resolution - use config? This is known limitation of using ``macros`` ?

[2017-04-24 10:00] LMESTM commented on #4189
@fmanno - thank you for the PR - this looks good to me

[2017-04-24 11:18] bcostm commented on #4144
Hi Helmut,
I understand your point of view but I prefer to not modify the actual NUCLEO_L432KC target. I prefer to use instead a new generic target as you wrote. But because of the contract between ST and ARM, I am not not sure if we are allowed to publish on mbed a such generic target without having an existing board associated to it... I let ARM comment.

[2017-04-24 13:48] theotherjimmy commented on #4138
duplicate of #3967

[2017-04-24 13:49] theotherjimmy commented on #4138
Please continue discussion in #3967

[2017-04-24 13:49] #4138 closed

[2017-04-24 15:27] chrissnow commented on #4007
@stevew817 can you think of any other way around this? perhaps use a timer to periodically wake the device?

It's a battery powered device and makes use of threads, so disabling sleep isn't really an option.
timing isn't critical but the threads must at least function!

[2017-04-24 15:57] #4196 closed

[2017-04-24 20:09] nuket opened #4218 "Cloning takes a lot of time and disk space"
### Description
- Type: Enhancement

Is there any work being done to reduce the amount of time required to run `mbed new` to create a new project and/or reduce the amount of space required by mbed-os? The current checkout takes ~500MB and several minutes to complete.

Specifically when I'm targeting a single board, it would be nice to have the targets downloaded sparsely when I run `mbed config ta

[2017-04-25 08:27] LMESTM commented on #4214
@Willem23 thanks for reporting the issue and sorry for the inconvenience.
The I2C code was moved into a common code after rev132 and this may be the cause of the issue you're facing. I can now reproduce the problem with the READ. I don't have a PCF8574 but I'm using another slave for test. I can now reproduce the read issue: 1 out of 2 read fails. I can't see the write problem so far. I'll let you

[2017-04-25 08:38] nvlsianpu commented on #4181
Thanks for the bug report.

`pstorage` and `fstorage` can't being used concurrently. `pstorage` is deprecated module, replaced by `fstorage`. Mentioned commit switched security manger to use fstorage by deafult.

[2017-04-25 08:48] bulislaw commented on #4218
I don't think we are working/actively thinking about that at this stage @0xc0170 @theotherjimmy

[2017-04-25 08:57] bulislaw commented on #4191
`sleep()`/`deepsleep()` should work for develop and release profiles on master, for platforms it's defined for. I'll close this issue, please reopen it if you have any further questions.

[2017-04-25 08:57] #4191 closed

[2017-04-25 09:11] adustm commented on #4144
cc @screamerbg
Hello Mihail, any advice on this ?
Kind regards
Armelle

[2017-04-25 09:31] chrissnow opened #4220 "I2C: stuck bus"
### Description
- Type: | Question

---------------------------------------------------------------

## Question

How should a stuck I2C bus be cleared in mbed? My current method of a calling NVIC_SystemReset() is a bit extreme!

[2017-04-25 09:39] chrissnow opened #4221 "xDot target missing device_name"
### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
Multitech xDot

Export to uvision fails for the xDot due to missing "device_name": "STM32L151CC" in targets.json
it does instead have "progen": {"target": "xdot-l151cc"}

Happy to submit a PR if there is no reason for this to be missing.

[2017-04-25 09:45] 0xc0170 commented on #4221
Please do!

[2017-04-25 10:05] stevew817 commented on #4007
@chrissnow Can you try using a LowPowerTicker instead of calling wait() on a thread? That will actually set up a periodic interrupt for you, and should result in the expected behaviour.

[2017-04-25 11:48] 0xc0170 commented on #3515
The PR previously referenced fixed this

[2017-04-25 11:48] #3515 closed

[2017-04-25 11:48] 0xc0170 commented on #3971
Fixed via https://github.com/ARMmbed/mbed-os/pull/3990

[2017-04-25 11:48] #3971 closed

[2017-04-25 11:53] 0xc0170 opened #4222 "MCUXpresso: warnings in fsl_ headers - enum out of range"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
Possibly more targets, tested with K64F

**Toolchain:**
ARM

**meed-os sha:**
master as it's today

**Expected behavior**
No warnings

**Actual behavior**

These are the warnings, they are seen multiple times for various compilation units.
[code]

**Steps to reproduce**

[2017-04-25 12:14] LMESTM commented on #4214
Note that I made a try with another target (F334R8) and it does not show the problem

[2017-04-25 16:23] theotherjimmy commented on #4221
while you're at it, could you remove the `progen` line you mentioned.

[2017-04-25 16:54] theotherjimmy commented on #2448
@toyowata This exporter has not received the love that it should have.  I don't have time right now to fix the issues with the LPCXpresso exporter, but if you do I have some guidance.  I would start by trying the gnuarmeclipse exporter in place of lpcxpresso.  If that is satisfactory, then you can just change the `lpcxpresso` key in `tools/export/__init__.py` to point to the same thing as the `gnu

[2017-04-25 20:23] chrissnow commented on #4086
@geky here is the DataFlash block device driver I have been working on.
https://github.com/chrissnow/DataFlashDevice

it's based on your SFDP driver and some help from here
https://developer.mbed.org/users/stjo2809/code/AT45/

I haven't finished testing #3972 yet or `_VOLUMES` though that is a quick test as I have this and SD on a board.

[2017-04-25 20:40] theotherjimmy commented on #4218
We are not actively working on anything to mitigate this. Why was this marked tools?

[2017-04-25 20:40] theotherjimmy commented on #4114
@pranavshandilya That test was removed. Can we close this issue?

[2017-04-25 20:43] theotherjimmy commented on #4057
@jacobjohnson-ON the bootloader bulids require a information from CMSIS PACKS. This requirement should be better highlighted in the error messages now that #4061 has been merged. Could you comment on the status of this issue?

[2017-04-25 20:48] theotherjimmy commented on #3808
@RonEld Is the status of this issue "We need to document that we use `-mfloat-abi=softfp`"?

[2017-04-25 20:50] theotherjimmy commented on #3787
Fixed by #3852

[2017-04-25 20:50] #3787 closed

[2017-04-25 20:51] theotherjimmy commented on #3711
This was resolved by removing GCC_CR.

[2017-04-25 20:51] #3711 closed

[2017-04-25 20:53] theotherjimmy commented on #3638
@janjongboom Can we close this issue? The exporters are there.

[2017-04-25 20:55] theotherjimmy commented on #3285
@grbd please see #4103

[2017-04-25 20:55] theotherjimmy commented on #3216
I fixed this a while back. Closing.

[2017-04-25 20:58] theotherjimmy commented on #2806
@TaniaMirzin Bump. Is this resolved?

[2017-04-25 21:00] theotherjimmy commented on #2732
@adbridge What was the PR for that fix?

[2017-04-25 21:00] theotherjimmy commented on #2718
@tibmanus bump. Could you answer my question?

[2017-04-25 21:02] theotherjimmy commented on #2668
I can no longer reproduce this issue. @mottigondabi Feel free to re-open if it's still a problem for you.

[2017-04-25 21:02] #2668 closed

[2017-04-25 21:03] theotherjimmy commented on #2477
@nvlsianpu Do you still need this for something?

[2017-04-25 21:09] theotherjimmy commented on #2169
NDEBUG is in the release profile.

[2017-04-25 21:09] #2169 closed

[2017-04-25 21:11] theotherjimmy commented on #2267
I cannot reproduce this issue. @MarceloSalazar Has this been solved in the mean time?

[2017-04-25 21:14] theotherjimmy commented on #1217
Is this still a problem? RTX is included in mbed OS 5 releases now. @Jags27

[2017-04-25 23:49] ciarmcom commented on #2902
ARM Internal Ref: IOTMORF-963

[2017-04-26 03:13] pranavshandilya commented on #4114
Thanks @theotherjimmy

[2017-04-26 03:13] #4114 closed

[2017-04-26 04:04] devanlai opened #4227 "[LPC15xx] Using UARTs at different baudrates can set conflicting fractional baud rate clocks"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
LPCXpresso1549

**Toolchain:**
All toolchains

**mbed-os sha:**
450701f

**Expected behavior**
Using multiple UARTs at baudrates that are not multiples of each other should generate the correct bit timing for each UART independent of the baudrate of other UARTs.

**Actu

[2017-04-26 05:12] peeyushpashine opened #4228 "When is support for STM32L475 IOT node planned?"
### Description
- Type:  Question

## Question
When is support for STM32L475 IOT node planned?

http://www.st.com/content/st_com/en/products/evaluation-tools/product-evaluation-tools/mcu-eval-tools/stm32-mcu-eval-tools/stm32-mcu-discovery-kits/b-l475e-iot01a.html

[2017-04-26 06:06] #3123 closed

[2017-04-26 06:30] nvlsianpu commented on #2477
I won't need it in predictable future. So I close the request.

[2017-04-26 06:30] #2477 closed

[2017-04-26 07:27] RonEld commented on #3808
@theotherjimmy I think that at the moment, this is the status, unless there will be reasonable objections from future partners. During latest SIP workshop, our partner didn't want to remove the `-mabi=hard` compilation flag, and they said they need further investigation on this, from their side

[2017-04-26 07:54] 0xc0170 commented on #4228
@bcostm @adustm @LMESTM @jeromecoutant

[2017-04-26 08:30] bulislaw commented on #4218
Closes fit I could find, but agreed it's not really tools.

[2017-04-26 09:44] zou9a commented on #3673
Hit same issue. Export DISCO-F746NG_blink_led to ARM GCC. Host: Windows 10 using cygwin

**$ make**
link: DISCO-F746NG_LCD_demo.elf
c:/program files (x86)/gnu tools arm embedded/6.2 2016q4/bin/../lib/gcc/arm-none-eabi/6.2.1/../../../../arm-none-eabi/lib/thumb/v7e-m/fpv5-sp/softfp\libc.a(lib_a-fflush.o): In function `__sflush_r':
fflush.c:(.text.__sflush_r+0x7c): undefined reference to `__wrap__fre

[2017-04-26 10:24] adbridge commented on #2732
Fixed by https://github.com/ARMmbed/mbed-os/pull/3689

[2017-04-26 10:25] #2732 closed

[2017-04-26 11:44] 0xc0170 commented on #2995
I dont think so. I exported via ``python tools\project.py -m LPC1768 -i uvision -p 83`` from the latest master, and the project is incorrect as reported above. all files have incorrect paths (the workspace assumes the files are inside the exported directory, that is not correct).

One of the errors:
[code]

The project zipped actually has files with correct paths but does not build neither (this z

[2017-04-26 13:15] bcostm commented on #4228
Hi,
It's under development/test. The PR on GitHub will be sent in a couple of weeks. But the target on mbed.org will be probably available for end of may.

[2017-04-26 14:54] theotherjimmy commented on #3808
@AnotherButler Where could we document this requirement?

[2017-04-26 14:58] AnotherButler commented on #3808
Probably the porting guide section, but I'm open to other suggestions

[2017-04-26 15:09] theotherjimmy commented on #3808
Thanks @RonEld I'll mention you on the PR I make to the porting guide section and mention that PR here.

[2017-04-26 16:00] theotherjimmy commented on #4033
I found the bug. It was a typo. My bad. The fix should be deployed soon.

[2017-04-26 18:52] kegilbert commented on #3926
Poking around a bit the issue is coming from https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/nsapi_dns.cpp#L131

Rcode from the flags segment of the DNS response packet is 0x01, which is a DNS format error. Saw the same response when testing with the sniffer network on wireshark (although I actually did not see this error initially when using it, only on the IoT lab WIFI). Got th

[2017-04-26 19:01] chrissnow commented on #4131
#4230 will resolve this.

[2017-04-26 19:01] #4131 closed

[2017-04-26 19:03] theotherjimmy commented on #4044
#4069 was merged, is this still an issue?

[2017-04-26 19:05] theotherjimmy commented on #3963
@chrissnow is this still a problem? if not, could we close this issue?

[2017-04-26 19:06] theotherjimmy commented on #3938
@0xc0170 That fix was merged some time back, can we close this issue?

[2017-04-26 19:09] theotherjimmy commented on #3890
@pan- I will add some documentation for exporters in general. When I do, I will close this issue.

[2017-04-26 19:13] #3963 closed

[2017-04-26 19:20] ilg-ul commented on #3964
with the current version, the export seems functional now.

[2017-04-26 19:20] #3964 closed

[2017-04-26 19:23] theotherjimmy commented on #3890
Documentation added. Please follow up discussion in https://github.com/ARMmbed/Handbook/pull/151.

[2017-04-26 19:23] #3890 closed

[2017-04-26 19:24] theotherjimmy commented on #3731
The tools release of 5.4.0 should have resolved this issue. Closing. please re-open if it's still a problem.

[2017-04-26 19:24] #3731 closed

[2017-04-26 19:28] theotherjimmy commented on #3729
@JojoS62 Would you like to make the Pull request to make this change? Would you rather I do it? (It may take some time, as it's a feature request)

[2017-04-26 19:30] theotherjimmy commented on #3728
Looks like I tracked this down a while back and fixed it. Closing. Please re-open if it's not as fixed as I though.

[2017-04-26 19:30] #3728 closed

[2017-04-26 19:38] theotherjimmy commented on #3646
I think this was the "scan for targets.json" issue we had a while back. It would not have picked up the right files because the Freescale label got changed to MCUXpresso. I should have resolved that issue a while back. Could we test/close this issue?

[2017-04-26 19:43] theotherjimmy commented on #3417
@c1728p9 Brian's PR was merged. can we close this?

[2017-04-26 19:45] c1728p9 commented on #3417
Yep

[2017-04-26 19:45] #3417 closed

[2017-04-26 20:04] theotherjimmy commented on #1514
Done. GCC_CR and GCC_CS are no longer in the codebase.

[2017-04-26 20:04] #1514 closed

[2017-04-26 20:05] theotherjimmy commented on #590
Closing as the issue is no longer relevent. GCC_CR no longer exists in the tools.

[2017-04-26 20:05] #590 closed

[2017-04-26 21:23] kegilbert commented on #440
@geky

[2017-04-26 21:27] theotherjimmy commented on #3815
@janjongboom Can we close this issue? I fixed the usage of uARM on the online compiler a while back.

[2017-04-26 21:28] theotherjimmy commented on #3746
I can't reproduce this anymore.

[2017-04-26 21:28] #3746 closed

[2017-04-26 21:28] theotherjimmy commented on #3808
@RonEld can we close this issue? I have the PR up to document these requirements.

[2017-04-26 21:30] theotherjimmy commented on #3119
@Timmmm Could you respond to @sg- or close the issue if this is no longer a problem?

[2017-04-26 21:32] theotherjimmy commented on #3007
@immunda I'll look into this one and track it with the Core stuff.

[2017-04-26 21:38] #4221 closed

[2017-04-26 22:12] geky commented on #440
We're looking into the performance with the updated SD card implementation over here:
https://github.com/ARMmbed/mbed-os/pull/4207

[2017-04-26 23:49] ciarmcom commented on #3007
ARM Internal Ref: IOTMORF-965

[2017-04-27 07:47] #3938 closed

[2017-04-27 08:14] RonEld commented on #3808
@theotherjimmy I saw the other PR, and for now it seems that this issue can be closed. However, I think that we should have this issue "on hold", so it won't be lost, because I know of partners that have their code in `mabi=hard` and they are investigating if it's acceptable on their side to change to `softfp`.
As mentioned earlier

Is it possible to add some sort of label to be easier tracked in

[2017-04-27 08:18] LMESTM commented on #3849
I propose to close this issue for now as corresponding PR was merged.
If issues are reported we'll open a new one.

[2017-04-27 08:18] #3849 closed

[2017-04-27 08:19] #1798 closed

[2017-04-27 12:31] Timmmm commented on #3119
I can't remember to be honest, and have also switched jobs and don't do much mBed stuff any more unfortunately so I will close this. :-)

[2017-04-27 12:31] #3119 closed

[2017-04-27 14:29] LMESTM commented on #3932
@0xc0170  @kjbracey-arm  - PR sent to correct the warning issue

[2017-04-27 14:54] nvlsianpu opened #4237 ""new" intel hex 03/05 record block flashing by Nordic cmsis-dap interface"
## Description
I encountered  new problem Nordic cmsis dap is unable to load hex file to the target (using MSD). I investigated: In *.hex appeared new record `:04000003200026555E` - which is source of this issue.

@0xc0170 could you investigate or ask someone to looka at this?

mbed-os master 12ca90e71f4fdce08240e0c706310afa4f928e97

## step to reproduce:
build any of nordic target eg
`mbed compil

[2017-04-27 14:59] nuket commented on #3509
Did a small test recently using the Nordic Power Profiler Kit and an nRF52-DK following the above tips. mbed OS in its default configuration is pretty power hungry, good for IoT novices, but needing a lot of tweaking for production. I also haven't had a chance to try the tickless timer yet, but I really hope this makes it into a future branch soon.

Results here: https://vilimpoc.org/blog/2017/04/

[2017-04-27 15:32] theotherjimmy commented on #3808
Closing the issue does not remove it from github. Sure. We could, but I don't think we have such a label right now.

[2017-04-27 15:50] 0xc0170 commented on #4237
Unable to load? any error shown or? How does this behave using IDE when loading .elf file - works?

cc @c1728p9

[2017-04-27 16:03] c1728p9 commented on #4237
Hi @nvlsianpu, what version of DAPLink are you using? Can you attach details.txt from DAPLink to this issue? Also, could you attach the hex file you are seeing this failure with?

[2017-04-27 18:53] kegilbert commented on #687
Using a NUCLEO_L053R8 (MB1136 Rev C) and GCC I was successfully able to get both UART channels to work (see the attached image). The logic analyzer is decoding Serial1Tx (PB_9), while the putty window is receiving the USBTX serial stream.

Build and flash was done on an Ubuntu machine with GCC_ARM.

![nucleo_serial_test](https://cloud.githubusercontent.com/assets/1060940/25498682/9ad92482-2b4e-11e

[2017-04-28 07:06] LMESTM commented on #687
@kegilbert  HI - thanks for sharing the info.
I think we're all aligned on this.
As @bcostm mentioned, this is working OK when building "mbed2" like program.
Nevertheless we can't have it work when compiling with mbed-cli, with below command
 mbed compile -m NUCLEO_L053R8 -t GCC_ARM

can you share the build instructions you've used ?

@0xc0170 - any idea about the below changes behind using mbed5

[2017-04-28 08:52] nvlsianpu commented on #4237
Regular bluetooth application (mbed compile -m NRF51_DK -t GCC_ARM -c0 https://github.com/nvlsianpu/miscellaneous/blob/mbed-os-hex/BLE_central.hex This one has 03 record just at the beginning.

Test (mbed test -m NRF51_DK -t ARM -n "mbed-os-tests-mbed_drivers-c_strings" -c) https://github.com/nvlsianpu/miscellaneous/blob/mbed-os-hex/c_strings.hex This one has 05 record just at the beginning.

used

[2017-04-28 09:45] LMESTM commented on #687
Some further findings:
If using RawSerial instead of Serial, the test is working fine.
With RawSerial, there is no dependency to the glibc and this works ok ... I gues this would do the job.
I'll continue to investigations  a bit further

[2017-04-28 09:47] nvlsianpu commented on #4237
@c1728p9, @theotherjimmy:
This [change] (https://github.com/ARMmbed/mbed-os/commit/74998d649abda00db92716f5a3a53d25cad95737) cause this issue - probably as side effect.

[2017-04-28 10:01] bulislaw opened #4244 "ublox_evk_odin_w2 WiFi broken on master"
### Description
- Type: Bug
- Related issue: https://github.com/ARMmbed/mbed-os/pull/4238
- Priority: Major

## Bug

**Target**
ublox_evk_odin_w2

**Toolchain:**
GCC_ARM

**Toolchain version:**
6q1

**mbed OS version**
master `12ca90e71f4f`

** Description **

The https://github.com/ARMmbed/mbed-os-example-wifi fails to connect to WiFi network using Odin board, scan works, but the board hangs on c

[2017-04-28 10:13] adustm commented on #3863
Hello,
I've created a PR to be able to initialize with the correct frequency. (#4165)
I parallel, as @ohagendorf stated that it would not be sufficient, I've added a timeout management and an error check in the following branch:
https://github.com/adustm/mbed/tree/can_sync_error

Would it be possible that you use it and check if you get the error code ?

Kind regards
Armelle

[2017-04-28 10:53] MarceloSalazar commented on #2267
I cannot reproduce this anymore.

[2017-04-28 10:53] #2267 closed

[2017-04-28 14:22] 0xc0170 commented on #4244
One thing to be certain, I believe the ublox built the libs with gcc arm 4.9.x version.

[2017-04-28 14:23] LMESTM commented on #687
Here is what I see now:
In platform/Stream.cpp, during the 1st Serial object creation, everything goes just fine
but during the 2nd object creation,  the call to
`    _file = std::fopen(buf, "w+");`
returns a NULL file which is actually not checked in the function.

That would most probably explain why the later calls to pc2.printf() to not actually reach the serial port, because there is no regis

[2017-04-28 14:55] pmancele opened #4246 "Can't use TCPSockets over 6LoWPAN on others targets than K64F"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
STM32L476

**Toolchain:**
GCC_ARM

**mbed-cli version:**
1.0.0

**Hardware**
Firefly 6LoWPAN shield + STM32L476ZG

**Expected behavior**
We are using the last version of mbed-os and tried to run a simple easy-connect example using 6LoWPAN. It worked well on the K64F,

[2017-04-28 15:21] 0xc0170 commented on #4246
cc @kjbracey-arm @SeppoTakalo

[2017-04-28 15:48] LiyouZhou opened #4247 "ublox_evk_odin_w2 need to drag and drop twice in order to flash properly"
### Description
- Type: Bug
- Priority: Major

ublox_evk_odin_w2 need to drag and drop twice in order to flash properly
---------------------------------------------------------------
## Bug

**Target**
ublox_evk_odin_w2

**Toolchain:**
GCC_ARM

**DAPLink version:**
0221

[2017-04-28 17:36] screamerbg opened #4250 "USB Device support broken for K64F"
### Description
- Type: Bug | Enhancement | Question
- Priority: Minor (as USB is unsupported, though someone might want to investigate and fix)

---------------------------------------------------------------
## Bug

**Target**
K64F

**Toolchain:**
ARM

**Toolchain version:**
5.06

**mbed-cli version:**
1.1.1

**meed-os sha:**
mbed-os-5.4.4 release

**DAPLink version:**

**Expected behavior**
Try

[2017-04-28 18:26] c1728p9 commented on #4237
Hi @nvlsianpu, you are using an old version of interface firmware which doesn't support this record type:
https://github.com/NordicSemiconductor/CMSIS-DAP/blob/V0221/interface/Common/src/intelhex.c#L313

If you update to the latest interface firmware, DAPLink version v0243, hex file programming should work since the hex file parsing handles this record type. I was able to load both versions you ha

[2017-04-29 10:35] 0xc0170 commented on #4247
cc @andreaslarssonublox

[2017-04-29 10:36] 0xc0170 commented on #4250
cc @mmahadevan108

[2017-04-30 10:16] nelfadi commented on #3777
please close the ticket when resolved

[2017-04-30 14:32] mmahadevan108 commented on #4250
I have noticed a USB issue when using ARM compiler. Its works with GCC, can you please try and confirm.

[2017-04-30 15:46] screamerbg commented on #4250
@mmahadevan108 Most of the USB Device device users are using the mbed Online Compiler, which at its very heart is ARM Compiler. Could you please check with. ARMCC?

[2017-05-01 07:03] #3777 closed

[2017-05-01 09:11] #3815 closed

[2017-05-01 09:11] #3638 closed

[2017-05-01 12:17] helmut64 commented on #3967
Thanks for the fix, I verified it with targets TARGET_NUCLEO_L432KC, TARGET_NUCLEO_L073RZ and TARGET_NUCLEO_F103RB. It works great again.
Regards Helmut

[2017-05-01 12:17] #3967 closed

[2017-05-01 12:30] helmut64 commented on #4144
cc @sg-
Maybe somebody has feedback for this.
The quick solution extending the NUCLEO_L432KC target would mean no mbed change except for the HAL layer which ST controls. Sometimes strait forward implementation can develop into something larger in the long run.

For me it is no problem because I purchased Keil MDK for debugging, and I work also offline with the gcc/gdb, however not using the mbed I

[2017-05-01 13:46] theotherjimmy commented on #4144
@helmut64 @adustm @bcostm Would you make this generic target public? or would it be used to inherit from and share code in targets.json? I think answering these questions will help us understand what your intentions are.

[2017-05-02 06:52] helmut64 commented on #4144
Public is the only option because all developers should benefit from using 39 more STM MCUs of the series STM32L43xx series. As a reference board we can continue to use the NUCLEO_L432KC.

[2017-05-02 07:10] kjbracey-arm commented on #4246
The errors suggest the radio is having problems - apparently its transmissions are not being acknowledged, and from your Wireshark trace, it appears it's the transmit getting lost, not the acks.

 It's possible that it's due to a lack of memory, given that it managed to get onto the network, and only failed DNS later. But the RAM in that device should be more than adequate for 6LoWPAN. Maybe check

[2017-05-02 07:14] kjbracey-arm commented on #4246
Do the two Nucleo boards get anywhere at all? Is that an immediate connection failure?

@JanneKiiskila, is there any K64F-specific magic for 6LoWPAN in EasyConnect? Any reason why it shouldn't work with the Atmel radio module on a different board?

[2017-05-02 07:39] JanneKiiskila commented on #4246
jankii01@ubuntu:~/mbed$ cd mbed-cloud-client-example
jankii01@ubuntu:~/mbed/mbed-cloud-client-example$ cd easy-connect/
jankii01@ubuntu:~/mbed/mbed-cloud-client-example/easy-connect$ git grep -i K64F
jankii01@ubuntu:~/mbed/mbed-cloud-client-example/easy-connect$

empty

There isn't a single reference to K64F in the easy-connect repo, so there's no magic there.
https://github.com/ARMmbed/easy-conne

[2017-05-02 07:58] pmancele commented on #4246
@kjbracey-arm Hello and thank you for your answers.

Yes we thought it was a memory issue so we tried to modify the heap size with `mbed-mesh-api.heap-size` without success. We tried `10000` and `30000` of heap-size. (Btw its working with 30k on K64F but not with 10k)
We will check again for a pin conflict or bad pins configurations but we already tried it..

If you have a STM32L476 we are definet

[2017-05-02 08:44] 0xc0170 commented on #4246
cc @bcostm @adustm You might be interested in this one.

[2017-05-02 08:52] kjbracey-arm commented on #4246
The pins may be well declared in PinNames.h, but there can easily be a clash with the debug UART or something else. Sometimes a link might need changing on the board to make the declared pins reach the Arduino header.

I know we've had a problem with at least one Nucleo board not being useable with that Atmel radio. I forget what the precise pin clash was, but it wasn't possible to usefully work a

[2017-05-02 09:13] andreaslarssonublox commented on #4247
@andreaspeterssonublox

[2017-05-02 09:15] adustm commented on #4246
Hello, just for my understanding : @pmancele I remember you are not working on the NUCLEO_L476RG but on another platform based on STM32L476ZG. Correct ?

[2017-05-02 09:23] pmancele commented on #4246
Yes we designed our own plateform based on a STM32L476ZG that we ported to mbed-os.
We also get recently the new STM32L496ZG but we have the exactly same issue.

We also have official mbed boards like K64F, NUCLEO F401RE and L152RE but we successfully tried 6LoWPAN on K64F only (with the atmel firefly shield).

[2017-05-02 09:35] kyliuxing commented on #4140
sorry for my late reply because of my holiday and thank you for your help.
i'm sure device has seen the acks and PC have receive the retransmissions also.
i feel firewall should be upper than tcp/ip stack in windows.
i will try to find help from lwip project.

Thank you!

[2017-05-02 09:38] adustm commented on #4246
Hello @jeromecoutant
Could you try the main code mentionned above with NUCLEO_L476RG + firefly 6LowPan shield ?
cheers
Armelle

[2017-05-02 11:55] JanneKiiskila opened #4257 "UBLOX_EVK_ODIN_W2 - SD-card not working if WiFi is used"
### Description
- Type: Bug
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2

**Toolchain:**
GCC_ARM

**Toolchain version:**

**mbed-cli version:**
(`mbed --version`)
1.1.1

**meed-os sha:**
(`git log -n1 --oneline`)

42be5c0 (HEAD, tag: mbed_lib_rev140, tag: mbed-os-5.4.3) Merge pull request #413

**DAPLink version:**

**Exp

[2017-05-02 12:00] 0xc0170 commented on #4257
cc @andreaslarssonublox

[2017-05-02 12:03] 0xc0170 commented on #4257
cc @andreaspeterssonublox

[2017-05-02 12:14] JanneKiiskila commented on #4257
I'm trying to write quickly a hack of the example1.cpp in sd-driver repo, which would reproduce this issue easily.

[2017-05-02 12:58] LMESTM commented on #899
@mfiore02
I've run the test on mbed master head today.

With Serial objects I can indeed encounter the issue when running @ 115200kbps.
On the other hand, this is working fine with RawSerial, in both directions.

I have checked the reason behind and we're reaching the limits of processing in the main loop when increasing the baudrate, i.e. 2 consecutive char will be received on 1 serial while the

[2017-05-02 13:25] mfiore02 commented on #899
@LMESTM I've already made a PR to do what you mentioned as a fix for [#1605](https://github.com/ARMmbed/mbed-os/issues/1605). See [#1608](https://github.com/ARMmbed/mbed-os/pull/1608).

That fix was specifically for STM32F4 devices. @sg- have you seen this issue on just ST platforms or others too? Do we need a broader fix?

[2017-05-02 13:27] 0xc0170 commented on #687
+1 for adding a check.

Why does it fail? Not enough memory thus it fails via allocating new space on the heap ?

[2017-05-02 13:52] LMESTM commented on #899
@mfiore02 - thanks for the link.  From what I've seen your PRs apply in IRQ based communication, which makes more sense I think that polling in the main loop !
But I'm not sure you fix will get in action with the example provided in this issue because it is based on polling .. not sure if this is worth looking for a solution though because the design of polling the 2 uarts in the loop does not loo

[2017-05-02 14:04] mfiore02 commented on #899
@LMESTM True, polling is far from efficient. I agree with your reasoning - the difference in APB speeds does explain the issue.

I think the "dirty patch" may be worthwhile even if it's not a perfect solution. It seems to me that losing some data is better than getting stuck indefinitely.

[2017-05-02 14:18] LMESTM commented on #899
@mfiore02 - Ok then let's look for a fix. the fix I tried was checks the error flags at every call to _readable() and erase any found error. This would decrease performances further and not even inform application of encountrered error.

 I think a proper fix would imply a way to inform the running application that there was an error. so back to the question @sg-  @0xc0170  Any idea how to do this

[2017-05-02 14:29] theotherjimmy commented on #4144
@helmut64 I think you/someone would have to send in a board if you make the new target `"public": true`. If you just use it to share code between targets, I would not expect the mbed enabled program requirements to apply to non-public targets. You are allowed to inherit from non-public targets.

[2017-05-02 14:37] theotherjimmy commented on #4144
@helmut64 @bcostm @adustm I just had an offline conversation with Sam to get this information for you. If you make a new target, the mbed enabled program requires shipping us some boards for that target. We use these to support regression testing on hardware.

However, if you refactor the inheritance hierarchy to support an entire family of boards, but make the generic family target non-public, wh

[2017-05-02 15:14] LMESTM commented on #687
Ok I'll try to add a check. about error, I checked ENOMEM was the error but I haven't checked the details behind.

[2017-05-02 15:28] adustm commented on #4144
Thank you Jimmy for this explanation.
I'm not familiar with the public / non public platforms.
The non public platform is still visible in the master of mbed-os, isn't it ?
And can it be used in the online compiler ?

We are here discussing about having a virtual generic platform, that would fit with several platforms.
The idea of reworking the inheritance hierarchy is probably the good one.

Kind

[2017-05-02 15:32] LMESTM commented on #920
@joetijerina @sg-  This looks to me like a duplicate of #687 - isn't it ?  I'd propose to close as the issue was discussed in #687

[2017-05-02 15:35] LMESTM commented on #1190
I think that @Willem23 provided the right answer to the question - can this issue be closed ?

[2017-05-02 15:38] LMESTM commented on #1215
@yogk  the management of parity bits is being corrected in #4216
@sg-  I'd propose to close this issue and follow-up in #4216

[2017-05-02 16:52] theotherjimmy commented on #4144
The non public platform is still visible in the master of mbed-os, isn't it ?

Nope. It's just used for sharing code between targets.

Also no.

The point of declaring something non-public (setting the `public` key to `false` in targets.json) is to create a general purpose block of code that is shared between many targets.

non-public targets cannot be compiled for. The only way to compile for the

[2017-05-02 16:55] theotherjimmy commented on #4144
The reason I'm recommending that you re-factor the inheritance is that it allows you to turn on boards and mbed enable them individually. Further, with https://github.com/ARMmbed/mbed-os/pull/4103 you should be able to add your own target that would also benefit from the shared code.

[2017-05-02 18:32] sg- commented on #4257
There is a comment ```res``` https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_UBLOX_EVK_ODIN_W2/PinNames.h#L101 and also a definition for SCK https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_UBLOX_EVK_ODIN_W2/PinNames.h#L149

Does ```res``` mean reserved??

@andreaslarssonublox @screamerbg

[2017-05-02 23:33] Pliny opened #4261 "STM32F4XX HAL: stopping ADC DMA can incorrectly return error"
**Overview**
`HAL_ADC_Stop_DMA()` can incorrectly return `HAL_DMA_ERROR_NO_XFER` and may not properly stop the DMA engine.

**Target**
`stm32f4xx`. I found this on the [Nucleo_F446RE](https://developer.mbed.org/platforms/ST-Nucleo-F446RE/)

**other thoughts**
If there is an abort request while DMA is not busy, should it really be considered an ERROR? Maybe instead it should just return `HAL_OK`. A

[2017-05-02 23:48] Pliny commented on #4261
Same behavior exists with the following
* stm32f7xx
* stm32l4xx
* stm32f2xx

The code in question is here:
[stm32f4xx_hal_dma.c](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/device/stm32f4xx_hal_dma.c#L523)

[2017-05-03 00:03] Pliny opened #4262 "STM32F4XX: DMA HAL busy/ready conditionals are incorrect"
The stm32f4xx has additional [states](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/device/stm32f4xx_hal_dma.h#L121) as compared to other stm32 parts.

[code]

These state enumeration values for `HAL_DMA_STATE_READY` and `HAL_DMA_STATE_BUSY` are set up as maskable flags.

However, [stm32f4xx_hal_dma.c](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET

[2017-05-03 00:04] Pliny commented on #4262
[stm32f1xx_hal_dma.h](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F1/device/stm32f1xx_hal_dma.h#L110)
 has the same issue for READY states

[2017-05-03 02:24] MarceloSalazar commented on #3598
The patch file is indeed defined in the '.firmware' section, however this is not part of the GNU GCC standard sections, and hence why it's discarded.
https://gcc.gnu.org/onlinedocs/gccint/Sections.html

The problem doesn't happen when using the ARM or IAR compilers, because of the nature of the memory map files (this falls in the RO area).

@andreaslarssonublox would it be possible to rename .firm

[2017-05-03 02:33] #920 closed

[2017-05-03 02:34] #1215 closed

[2017-05-03 05:53] andreaslarssonublox commented on #3598
Thanks for finding it @MarceloSalazar. We will fix it in the next release of the driver.

[2017-05-03 07:22] LMESTM commented on #4262
@Pliny thanks for reporting the issue.
From what I've seen, your proposal makes sense.
I shared your report and proposed fix to our DMA team and will let you know when we get some feedback.

[2017-05-03 08:11] RonEld commented on #3808
@theotherjimmy I think we can close this issue, as long as we have this requirement tracked somewhere, in low priority . (perhaps in JIRA?)

[2017-05-03 08:22] nuket commented on #3509
Wanted to add a quick note. After trying the FreeRTOS example `ble_app_hrs_freertos` from the nRF5 v13 SDK, it's clear to me that without tickless timer support, no RTOS is going to be usable on battery power only for long periods of time in production. FreeRTOS also used ~6mA in idle mode. I really hope tickless scheduling makes it into a future release along with, perhaps, timer coalescing (assu

[2017-05-03 08:54] pmancele commented on #4246
@kjbracey-arm Here is what trace prints while trying to solve DNS:
[code]
This is when a UDPSocket is created to send and receive the DNS packet. (But as i explained we dont see this DNS packet with wireshark)
The **-3001** error of the socket.receive is NSAPI_WOULD_BLOCK

[2017-05-03 08:57] 0xc0170 commented on #4257
According to the w2 manual https://www.u-blox.com/sites/default/files/ODIN-W2_SIM_(UBX-14040040).pdf those pins are not used by the driver and should be usable: "SPI not used for ODIN connectivity software". However for odin board driver, there is a note in their docs that SDIO is used by wifi driver but not specified which one (is there just one?).

Not certain why it is as ``res`` ?

[2017-05-03 08:59] kjbracey-arm commented on #4246
It may be that the radio is unusually unreliable.

I note that the nsapi_dns.cpp implementation makes no attempt to retry - it does only one transmission, and gives up if it doesn't get a response in 5 seconds. So it would be more vulnerable to unreliability than the network bringup or the TCP connection itself.

[2017-05-03 09:01] kjbracey-arm commented on #4246
(That was 1 UDP/IP transmission - the IEEE 802.15.4 MAC layer should perform about 5 transmissions itself though, looking for an ack)

[2017-05-03 09:06] pmancele commented on #4246
@jeromecoutant @adustm I just got a NUCLEO_L476RG and tried on it. First it was impossible to connect to the shield due to a pin conflict with the LED. (PA_5).
After solving the issue i got the same behavior as on our STM32L476ZG. DNS resolution failed and the trace is still printing a lots of errors:
[code]

[2017-05-03 09:19] kjbracey-arm commented on #4246
Do the same MAC tx errors occur during the network bringup? Or do they start later?

[2017-05-03 09:38] pmancele commented on #4246
@kjbracey-arm yes it happened before the network bringup too, like 4/5 times.
But only on STM Boards. I will try to analyse the SPI signal. Maybe there is a SPI driver issue on STM32L4 ?

[2017-05-03 09:47] kjbracey-arm commented on #4246
Certainly possible. I don't know how much the SPI bus is ever exercised in our platform tests, if at all.

Not sure the symptoms match that though - if the radio didn't recognise a transmit command due to SPI corruption, the lack of a "TX finished" IRQ would likely seriously upset the driver - possible that it's quietly timing out though?

If the SPI bus just corrupted the data payload, the radio

[2017-05-03 10:14] pmancele commented on #4246
Thank you for the explanations.
No we dont have sniffers..

[2017-05-03 10:31] SeppoTakalo commented on #4246
Probably unrelated: How far away are the devices from each other?
TX errors might be that they are in edge of the range that they can operate. These devices use less power than Wifi and simpler error corrections. With poor antenna, the range can be as low as 10 meters.

[2017-05-03 11:00] andreaslarssonublox commented on #4257
Some of the pins SPI pins are re-initialized by the driver and it seems to work after fixing that. Need to do some more tests though. Will fix it in the next release of the driver.
Don't know why 'res' is used in PinNames.h since they should be possible to use.

[2017-05-03 11:27] bulislaw commented on #3688
Guys it's actually a blocker for us now, i have tried to work around it here https://github.com/ARMmbed/mbed-os/pull/4264
but i'm getting `Error: L6218E: Undefined symbol rtos::Semaphore::Semaphore(int) (referred from cb_main.o).`

[2017-05-03 11:40] 0xc0170 commented on #3688
but i'm getting Error: L6218E: Undefined symbol rtos::Semaphore::Semaphore(int) (referred from cb_main.o).

The error looks legit ? The ``feature_cmsis5`` branch extended the argument - adding ``max_count``. Shouldn't we let the old one in there and add a new overload with max_count - that way it should be backward compatible?

C++ layer should stay backward compatible

[2017-05-03 11:43] bulislaw commented on #3688
It is compatible, the second parameter has a default value. But it may be a workaround to add second constructor.

[2017-05-03 11:53] 0xc0170 commented on #4257
Thanks for the support! Time frame for this fix? we got code-freeze for the next patch release in one day.

[2017-05-03 13:20] LMESTM commented on #4261
@Pliny  When you mention that it may not properly stop the DMA, can you explicitly mention the DMA state and where this can happen ? Typically, what was the DMA HAL state when you've encountered the error ?

[2017-05-03 13:21] LMESTM commented on #4261
I have also transferred your question to DMA team, I'll keep you posted

[2017-05-03 14:12] theotherjimmy commented on #3808
Yeah, we do. I'll close it then.

[2017-05-03 14:12] #3808 closed

[2017-05-03 14:41] nightseas opened #4268 "How to Monitor CPU Usage of Thread Like FreeRTOS"
### Description
- Type: Question
- Related issue: N/A
- Priority: Minor

---------------------------------------------------------------

## Question

How to monitor Threads' CPU usage in mbed OS like FreeRTOS?
I know it's basically measuring the run time, But how to get the idle thread run time, and is there any other time should be counted to calculate the whole system run time?

Thanks.

For an

[2017-05-03 14:58] Pliny commented on #4261
Hi @LMESTM , thanks for the quick response.

`__HAL_DMA_DISABLE(hdma)` will never get called unless there is an explicit `HAL_DMA_DeInit()` call or there's an error condition on interrupt. Currently, there's no clean way to disable the DMA without resetting the DMA engine.

Similarly, transfer related interrupts will not get disabled.

To me, it seems as if `HAL_DMA_Abort()` is treated as a _dma d

[2017-05-03 15:15] Pliny commented on #4261
Ah, I just realized I didn't really satisfy your request :)

you can set up a test with the following pseudocode
[code]

[2017-05-03 16:06] bsrirao opened #4269 "Nucleo_blink_led fails to compile on SW4STM32"
### Description
- Type: Bug
- Priority: Blocker
   The Nucleo_blink_led exported project from mbed online fails to compile on SW4STM32 with the following error. I was reading in same issue reported for a different platform, but I am not sure how to set preprocess linker script to SW4STM32 tool chain.

`Description	Resource	Path	Location	Type
ignoring invalid character # in expression	Nucleo_blink_

[2017-05-03 16:09] andreaslarssonublox commented on #4244
@bulislaw I just tested it here on today's master and think I had the same problem. I looked at the code and saw that sleep mode is enabled for our target. I  don't think it's compatible with the way the driver works right now so can you try to remove SLEEP from targets.json and test again to see if it's the same problem I have?

[2017-05-03 16:28] bridadan commented on #4032
Closed via #4249

Good to see this finally resolved 🎉

[2017-05-03 16:28] #4032 closed

[2017-05-03 20:20] bcostm commented on #4228
PR #4242

[2017-05-03 21:05] tibmanus commented on #2718
@theotherjimmy Yes please.

[2017-05-03 21:06] theotherjimmy commented on #2718
Cool. That should be pretty simple to do. I'll schedule this one then.

[2017-05-03 22:06] theotherjimmy commented on #4033
solution deployed. Thanks for reporting guys!

[2017-05-03 22:06] #4033 closed

[2017-05-04 08:05] andreaslarssonublox commented on #4257
We will not be able to finalize a release today so we aim for the next in two weeks instead.

[2017-05-04 10:07] bulislaw commented on #4268
I don't think there's funcionality like that in RTX4, for RTX5 that can be found in our feature branch https://github.com/ARMmbed/mbed-os/tree/feature_cmsis5  and will be merged soon, you may be able to use events http://arm-software.github.io/CMSIS_5/RTOS2/html/group__rtx__evr.html in any case it's better to ask RTX guys here https://github.com/ARM-software/CMSIS_5/

[2017-05-04 10:08] pmancele commented on #4246
@SeppoTakalo They are very close (1 meter) so i dont think this is related

@kjbracey-arm We have an IEEE 802.15.4 sniffer now. While using the K64F we can see the UDP packets on port 53, corresponding to the DNS request.
While using the L476 we dont have this packets. However there is a lots of packed sniffed (including UDP packets but not on port 53) but i'm afraid that my network skills are not

[2017-05-04 10:28] kjbracey-arm commented on #4246
Looking at the STM implementation, it can only achieve approximate frequencies by dividing by powers of 2. So 4.9MHz may be the closest it can manage to 7.5MHz. As long as it's not dropping below 3.75MHz, it's probably working as intended.

This would reduce performance a bit, but I wouldn't expect a major problem.

This problem seems remarkably specific, if you are consistently seeing no DNS requ

[2017-05-04 10:32] kjbracey-arm commented on #4246
Is it just excessive size? Is this the largest thing that the node has sent? The first 6LoWPAN fragmented packet, say? Try simple UDP sends of various sizes.

[2017-05-04 10:55] betzw commented on #4262
Pls. refer to this [comment](https://github.com/ARMmbed/mbed-os/pull/4263#issuecomment-299153244) of mine!

[2017-05-04 11:42] pmancele commented on #4246
@kjbracey-arm Thank you for your answer ! I will try what you suggest.

[2017-05-04 12:08] pilotak commented on #3527
I can confirm that opening post now works on mBed-OS 5.4.4. If someone finds this post: as it's an ISR you can't use ie. `printf()` and variables should be `volatile`

Thanks

[2017-05-04 12:08] #3527 closed

[2017-05-04 12:36] 0xc0170 commented on #4257
This should go to the known issues (cc @adbridge ). Please keep us updated

[2017-05-04 13:21] bulislaw opened #4271 "Detecting RAM/FLASH overflows"
### Description
- Type: Enhancement
- Related issue: https://github.com/ARMmbed/mbed-os-cliapp/issues/274
- Priority: Minor

mbed OS will happily build even if the memory usage is clearly off the platform capabilities. Eg the mbed-os-cliapp build for Arch Pro using Ethernet is reported to use almost 40K of RAM (of 32K available):
[code]

Later we get weird issues, in this case it's a hang in the C

[2017-05-04 13:23] pmancele commented on #4246
@kjbracey-arm I'm sorry but during the DNS request, we actually got 6LoWPAN packets emitted by the STM32L476 that we sniffed.
Attached, you can find two 802.15.4 capture files. One is corresponding to the K64F run, and the other is the STM32L476.
we captured all the process : connection with easy-connect --> TCPSocket creation --> TCPSocket connection to "linkedin.com" which should resolve DNS.

Y

[2017-05-04 13:35] pmancele commented on #4246
We can see the same behavior on the SPI link: The K64F is writing different packets to the ATMEL buffer, but the STM32L476 is always sending the same packet to the ATMEL buffer.

The packets send by the STM32L476 are similar to the first one sent by the K64F, and contains the string "linkedin.com"

[2017-05-04 15:12] nvlsianpu commented on #4237
This interface firmware works well with nrf52_dk. but Unfortunately it doesn't work well with nRF52840_DK. Is it possible to fix this issue on mbed-os side? I ask because fixing this on Nordic side will take much longer amount of time because we will need to switch from CMSIS-DAP to DAPLink sources.

cc @David-Garcia-Polo

[2017-05-04 21:09] kgills commented on #4120
Would it be acceptable to provide two separate firmware images for the CI devices? I'm having trouble generating unique target IDs on the devices.

[2017-05-04 21:21] studavekar commented on #4120
@kgills Below are the requirement of CI system

-  Device must enumerate on different com port for testing.

-  Device must have unique target_id for able to test on device selectivity.

If above cases are satisfied we should be good, However it would be good to have unique target_id for all device.

[2017-05-05 07:18] SeppoTakalo commented on #4246
In K64F capture.
Packets from 81 - 81 are fragmented send. So the DNS query in packet 86 is actually requiring 6 packets to send through. Wireshark shows the last fragment as a complete packet.

Ack packets seems to be missing for most of the fragments, maybe sniffer did not catch them.

Similar sequence is visible in STM32L476 capture in packets 110 - 114. But instead of separate fragments, it se

[2017-05-05 07:32] SeppoTakalo commented on #4246
Actually, it can also be retransmissions as the ACK packets are not shown.

[2017-05-05 07:47] kjbracey-arm commented on #4246
Looking more closely at the traces.

The K64F is showing some comms problems. Packets 74-79 are a DNS attempt, and packet 75 is apparently unacknowledge, so it is transmitted 5 times. 5 seconds later packets 81-86 go through without error - the node apparently saw acks, but the sniffer didn't.

Other retransmitted packets include 40-47. There we can see the same packet transmitted 5 times, but we

[2017-05-05 08:23] kjbracey-arm commented on #4246
I also see some checksum failures (wpan.fcs.bad), eg K64F packet 93. Although that was acked in 94 indicating that the node received it correctly, even though the sniffer didn't.

[2017-05-05 08:31] kjbracey-arm commented on #4246
Generally the radio looks bad enough that I'm wondering if you're just suffering a significant channel collision with your Wi-Fi.

[2017-05-05 10:18] helmut64 commented on #4144
Thank you Jimmy for the explanation.

For the STM team,
I believe my original idea of combining support for L431xx, L432xx and L433xx devices for the STM32L432KC target would be the easiest way to go.

[2017-05-05 11:44] nvlsianpu commented on #4237
I have resolution for this issue: #4276

[2017-05-05 12:02] pmancele commented on #4246
@kjbracey-arm Thank you !!
We tried the modification you suggested #4274 and it solved the DNS issue on our STM32L476ZG !!
We will use the sniffer and the logic analyzer to see if all the problems are solved, but for now this modification solved the DNS resolution issue !
I'll keep you in touch.

[2017-05-05 12:10] adustm commented on #4246
Hello @pmancele
I've just studied your SPI values.
I guess you are using the SPI pin of the arduino connector, so SPI1 on NUCLEO_L476RG. This SPI is connected to the APB2 bus.
If you reach 650MHz while requesting 1MHz, I guess you are using the HSI clock at 80MHz and not an external clock (different with the NUCLEO board).
On the Nucleo we are using
In your case, APB clock is at 80MHz. The SPI clo

[2017-05-05 12:10] kjbracey-arm commented on #4246
Clearly that doesn't solve the real problem - the network is apparently still going to apparently behave quite poorly when you send any significant traffic. But at least it sidesteps it at that early DNS stage. And maybe if the problem is asymmetric you might continue to side-step it with asymmetric traffic, with the STM never transmitting much.

You can continue to test with some manual UDP sendi

[2017-05-05 12:37] pmancele commented on #4246
@adustm Yes that is exactly what we were trying to do, thank you for the precision.
Yes we had a system clock at 80Mhz. We used the PLL clocked on MSI which is set at 48Mhz (as it is done for the STM32L476RG on mbed-os)
We tried to modify the `SetSysClock_PLL_MSI()` to get 60MHz system clock instead of 80 (Indeed 60/8 = 7.5Mhz for our SPI bus).
So we modify the function as this:
[code]
We did get

[2017-05-05 12:39] kjbracey-arm commented on #4246
I suspect if you can't send a 512-byte DNS packet you're probably not going to be able achieve a complete TLS/DTLS handshake. The handshake is pretty intense.

[2017-05-05 13:26] kjbracey-arm commented on #4246
Diagnostic tip - the rank indicated in RPL DODAG Information Object packets tells how badly the nodes think they're doing at radio comms overal, as an ETX value - see RFC 6550 and RFC 6719.

Not only are both traces showing bad values, they're sometimes showing 0xFFFF, which indicates a worse-than-minimum-acceptable link.

[2017-05-05 14:11] andreaslarssonublox commented on #3688
We tested today with the latest code in the CMSIS 5 branch with our driver and it seems to work OK for all toolchains now. We aim to build a new binary for the master branch which should also work for this branch if possible. There should not be any dependencies towards lower layer stuff. This binary will be released within the next two coming weeks.

[2017-05-05 14:19] bulislaw commented on #3688
Thanks, yeah it works as we added RTX1 compatibility layer to simplify the update process.

[2017-05-05 14:19] #3688 closed

[2017-05-05 15:36] adustm commented on #3788
Hello @0xc0170
I just tried the mbed-os-example-blinky with NUCLEO-F429ZI in the online compiler. It builds and the program works fine.
Can we close this issue, please ?

Kind regards
Armelle

[2017-05-05 15:40] adustm commented on #3715
Hello, DISCO-F429ZI is tested ok for the 3 toolchains on release mbed-os-5.4.3
@0xc0170, can you close this issue please ?

[2017-05-05 15:42] adustm commented on #3650
bump ? @khurss Is it ok to close ?

[2017-05-05 15:46] #3788 closed

[2017-05-05 15:49] adustm commented on #3464
Hello
What do we do with this issue ? Is it sure that we are supposed to wait ?
I've seen that @Nodraak has created a PR for the read part. Would you be interested into creating a PR for the write part also ?

Cheers

[2017-05-05 16:06] adustm commented on #3445
Hello @kristofmulier
I agree with your remark.
@LMESTM do you also agree that we should not change the size param of HAL_SPI_TransmitReceive pending on the datalength ?

[2017-05-05 16:07] adustm commented on #3299
Hello,
@LMESTM did a complete gpio rework.

@Sissors Do you agree to close this issue now ?
Cheers
Armelle

[2017-05-05 16:15] adustm commented on #2293
Hello,
Here is the test report of the NUCLEO_F746ZG GCC_ARM on the mbed-os-5.4.3
Do you have the same status on your side ? Would you agree to close this issue ?
[code]

Cheers
Armelle

[2017-05-05 16:18] adustm commented on #2291
Hello,
Here is the test report for NUCLEO-L476RG on mbed-os-5.4.3
Is it the same on your side ? Do you agree to close this issue ?
Cheers
Armelle
[code]

[2017-05-05 16:51] geky commented on #3926
After more investigation it looks like this was just a result of sending a full packet (instead of sized based on the query size) and some DNS servers using the packet size instead of the count encoded in the packet.

@kjbracey-arm as a pr up that should fix this: https://github.com/ARMmbed/mbed-os/pull/4274

@sarahmarshy If you get a chance, can you confirm https://github.com/ARMmbed/mbed-os/pull

[2017-05-05 16:51] Sissors commented on #3299
Yes, it seems to be much improved now :)

[2017-05-05 16:51] #3299 closed

[2017-05-08 05:23] malachib commented on #3981
This might not be what you're looking for, but it's something https://github.com/ARMmbed/mbed-os/issues/3370

[2017-05-08 08:25] pan- commented on #3509
@yogeshk19 No it has not been committed anywhere, it can requires more refinement (and maybe changes to the HAL) to be fully portable to all platforms supported by mbed OS.

[2017-05-08 10:29] #3715 closed

[2017-05-08 10:34] YarivCol opened #4283 "Regarding SerialBase class"
### Description
- Type: Enhancement | Question

---------------------------------------------------------------
Hey!

Is there any reason why SerialBase class's methodes start_read, start_write, abort_read and abort_write arent virtual?

If they'll be it will be easier for me to imlplement my own types of serial comm...
Ill be also able to wrap serialBase functionality with my needs...

Thanks!

[2017-05-08 14:22] RdaZhongyao opened #4285 "Is there any plan to upgrade the ChaN FAT filesystem to R0.12 ?"
### Description
- Type: Enhancement
- Related issue: `#FAT`
- Priority: Minor

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
- ChaN FAT filesystem supports `exFAT` since R0.12, the latest is R0.12c, mbed is using R0.11a
- `exFAT` has better support to storage device over 32GB

**Suggested enhancement**
- Upg

[2017-05-08 19:19] c1728p9 opened #4287 "Multithreading pyOCD debugging doesn't work on visual studio code"
Reporting at the request of @janjongboom

When using a project exported to visual studio code with and pyOCD with RTOS integration (https://github.com/mbedmicro/pyOCD/pull/242) the debugging session is abruptly terminated due to thread ID 1 not existing. A log of this can be found here [visual_studio_log.txt](https://github.com/ARMmbed/mbed-os/files/984593/visual_studio_log.txt).

[2017-05-08 21:06] theotherjimmy commented on #4237
#4276 Merged. Closing.

[2017-05-08 21:06] #4237 closed

[2017-05-08 23:05] studavekar opened #4288 "ARCH_PRO - Flash - buffer alignment test is failing"
ARCH_PRO - Flash - buffer alignment test is failing on master

- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug

**Target**
ARCH_PRO

**Toolchain:**
GCC_ARM|ARM|IAR

**Toolchain version:**

**mbed-os sha:**
Merge: 3b11b23 7f12ad2
Author: Jimmy Brisson <theotherjimmy@gmail.com>
Date:   Mon May 8 11:16:31 2017 -0500

    Merge pull request #4149 f

[2017-05-08 23:08] studavekar commented on #4288
@0xc0170 this issue was seen in CI, tried locally on different device still the tests failed.

[2017-05-09 06:20] bcostm commented on #4228
bump

[2017-05-09 06:23] #4019 closed

[2017-05-09 06:24] #4006 closed

[2017-05-09 06:24] #4004 closed

[2017-05-09 06:25] bcostm commented on #3901
PR #4256 for this platform is merged. Can you please close this "issue"?

[2017-05-09 11:50] LMESTM commented on #3445
@adustm - yes I agree
@kristofmulier - thanks for reporting the issue - would you feel like sending a PR with your proposed fix ?

[2017-05-09 12:28] bulislaw commented on #4244
Fixed in #4270

[2017-05-09 12:28] #4244 closed

[2017-05-09 13:32] #3901 closed

[2017-05-09 13:34] 0xc0170 commented on #4288
Thanks for reporting

cc @0x6d61726b - can you have a look?

[2017-05-09 13:35] #4228 closed

[2017-05-09 15:05] 0xc0170 commented on #4288
I believe for now as ARCH PRO is failing, and affects all of us, I will disable flash algo support until it gets fixed

[2017-05-09 16:24] adustm commented on #3299
Thank you for your answer ! @Sissors
Would there be any chance that you update the values in your FastIO code here https://developer.mbed.org/users/Sissors/code/FastIO/file/45b32f07e790/Devices/FastIO_NUCLEO_F030.h  ? I'd be interested into the new values :)
Cheers
Armelle

[2017-05-09 17:36] Sissors commented on #3299
I did promise to do that :).

It is updated now. I verified that indeed it now meets what @LMESTM posted: https://github.com/ARMmbed/mbed-os/pull/3665#issuecomment-277681476, so the table now reflects this also. A 4-5x increase in input/output switching is nothing to sneeze at :). Although there is still plenty of reason to use FastIO if more is required ;).

On a completely unrelated note: Who br

[2017-05-09 17:51] curtpw commented on #3386
So what did you do to solve the problem?

[2017-05-09 17:53] shayo commented on #3386
I think I just removed those lines. I haven't tested things throughly. Let us know if that fixed the issue.

[2017-05-10 05:15] TomoYamanaka commented on #3593
I confirmed that this issue was resolation.
So I close this issue.

[2017-05-10 05:15] #3593 closed

[2017-05-10 09:11] ashok-rao commented on #4250
Hi @mmahadevan108 , I can confirm that issue is reproducible with both GCC and ARMCC. On Win10, 64-bit, Enterprise edition, I'm facing the following with K64F:

![usb_device_k64f](https://cloud.githubusercontent.com/assets/17567812/25891236/31c544d4-3568-11e7-9bf2-1d046c3abfa7.JPG)

And device manager reports this:
![usb_device_k64f_devmgr](https://cloud.githubusercontent.com/assets/17567812/25891

[2017-05-10 14:05] vargham opened #4297 "The online IDE is stucked at mbed-os 5.4.3"
### Description
- Type: Bug
- Priority: Major
The online IDE is stucked at mbed-os 5.4.3, could not use any other version.
I can change it in the revision screen, but it has no effect.
![2017-05-10 14_43_04-mbed compiler revision history](https://cloud.githubusercontent.com/assets/6220586/25902559/2e1549f6-359a-11e7-9e3b-16f3996161d7.png)

----------------------------------------------------------

[2017-05-10 15:54] theotherjimmy commented on #4297
have you tried rebuilding from scratch? you have to click on the down arrow next to compile, and then click "compile all"

[2017-05-10 16:03] vargham commented on #4297
Why compile all? It is a freshly imported, official mbed-os blinky. Anyway I tried compile all. The result is: `MBED version: 5.4.4 (lib 141)` Strange.

[2017-05-10 16:09] vargham commented on #4297
I also exported the project to offline (ARM gcc makefile).
At the issue creation time it exported 5.4.3. Now I tried again and it exported 5.4.4
The Revision History still shows 5.4.5

[2017-05-10 16:19] pmancele commented on #4246
When monitoring the SPI link between the NUCLEO_L476RG and the ATMEL 6LoWPAN shield, we saw that when we have to send something, the STM32L476 is always writing 5 times the same buffer while the K64F is only doing it once.
We can also illustrate this issue by pinging the STM32L476:
**5 pong are received for each ping !**
![ping_duplicated](https://cloud.githubusercontent.com/assets/25764849/259081

[2017-05-10 16:22] theotherjimmy commented on #4297
@vargham Your right, that's really weird. You just imported mbed-os-example-blinky? I'll see if I can reproduce this.

[2017-05-10 16:28] theotherjimmy commented on #4297
Thanks for the details. I'll give this a go.

[2017-05-10 16:33] theotherjimmy commented on #4297
I just did a fresh import, copied your single printf into main, and got: `MBED version: 5.4.5 (lib 142)`

[2017-05-10 16:33] theotherjimmy commented on #4297
I think that's correct

[2017-05-10 16:41] vargham commented on #4297
I tried again. (Did not touch anything.) The build and the offline export are both OK now.
I compared the previous two bad exports' files to the github repository and the exported projects really contained the 4.5.3 and 4.5.4 version.

[2017-05-10 16:42] theotherjimmy commented on #4297
Probably a typo for 5.4.3 and 5.4.5 right? otherwise that's very strange O_o

[2017-05-10 16:49] vargham commented on #4297
Typo? Whose?
1. I used the online IDE with freshly imported mbed-os blinky.
2. I checked the revision history, the screenshot is here, it showed 5.4.5.
3. Built online. The printed version was 5.4.3
4. Exported to offline. The mbed-os files were version 5.4.3
5. Waited...
6. Built online. The printed version was 5.4.4
7. Exported to offline. The mbed-os files were version 5.4.4
8. Waited...
9. Bui

[2017-05-10 16:51] theotherjimmy commented on #4297
I was referring to this:

Not anything else.

[2017-05-10 19:04] bridadan commented on #2291
Just ran all tests on master as well, all passing on all three toolchains. Closing this, thanks @adustm .

[2017-05-10 19:04] #2291 closed

[2017-05-10 22:27] jrobeson commented on #3857
The fix should be available now right?

[2017-05-11 05:27] nvlsianpu commented on #3857
Yes: https://github.com/ARMmbed/mbed-os/releases/tag/mbed-os-5.4.4

[2017-05-11 05:28] nvlsianpu commented on #3857
This should be closed. @tbondar @0xc0170

[2017-05-11 07:16] #4297 closed

[2017-05-11 08:26] kjbracey-arm commented on #4246
There is one speed-critical part of the driver - the reception is run in "manual" mode which means the driver has to process ack reception itself. The chip has to be turned around from TX to RX mode via interrupt after receiving the "TX done" interrupt.

A slow SPI bus and/or slow interrupt response could interfere with that, leading to missing the ack, causing those symptoms.

The driver has to g

[2017-05-11 08:37] 0xc0170 commented on #4288
I run local tests

[code]

[2017-05-11 08:39] 0xc0170 commented on #4288
Disabled now on master.

Reference the PR that introduced it https://github.com/ARMmbed/mbed-os/pull/4169

[2017-05-11 08:41] kjbracey-arm commented on #4246
Last time I looked at this (which was when moving the work from being directly in IRQ to a top-priority thread), the K64F was consistently managing the turnaround comfortably under 100us. The speed of the SPI bus probably dominates.

If getting the SPI up to 7.5MHz in the STM doesn't solve it, maybe there's some other problem with the SPI driver.

Another possibility - there are nanosecond softwar

[2017-05-11 09:18] #3857 closed

[2017-05-11 09:56] leeehui commented on #4091
Hi all,
I solved this problem by adding the following include path to properties->C/C++ Build->Settings->MCU GCC Compiler->Includes:
"${ProjDirPath}/mbed-os/features/storage/FEATURE_STORAGE/storage-volume-manager/storage-volume-manager"

[2017-05-11 11:56] jeromecoutant commented on #2960
Hi @screamerbg

All tests with ci-shield are OK with NUCLEO_746ZG

        "NUCLEO_F746ZG": {
             "AOUT": "D13"
        },

Can you close the issue ?

[2017-05-11 11:58] adustm commented on #3863
bump?

[2017-05-11 12:10] LiyouZhou opened #4300 "STM32F4 SPI driver return error causing SD card driver to fail"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2 and NUCLEO_F429ZI

**Toolchain:**
GCC_ARM

**Toolchain version:**
4.9.3 20150529 (release)

**mbed-cli version:**
1.0

**mbed-os sha:**
42be5c01a7f91292d5e27124ad9584236025f6ab

**DAPLink

[2017-05-11 12:18] LiyouZhou opened #4301 "ST-Link interface doesn't work with greentea on mac os"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
UBLOX_EVK_ODIN_W2 and NUCLEO_F429ZI

**DAPLink version:**
0200 works
0221 fails

**Actual behavior**
There is no output from the device serial console. when running mbedgt -v -V hence tests fail

[2017-05-11 12:28] 0xc0170 commented on #4301
cc @c1728p9 @bridadan

[2017-05-11 13:14] 0xc0170 commented on #4300
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-11 14:29] pmancele commented on #4246
@kjbracey-arm Indeed this seems to be the source of the problem !

On the K64F it elapsed 144µs between the TX_DONE interrupt and the state changement to RX_AACK_ON.
Then we have a new TRX_END interrupt, telling to the MCU that something has been received (the ACK)

On the STM32L476, it takes **344µs** with systemcoreclock at 60Mhz and SPI at 7.5 MHz.
With systemcoreclock at 80MHz and SPI at 5MHz

[2017-05-11 14:50] YarivCol opened #4304 "writing new target for my new custom board"
Hello ,

Im tyring to write a new mbed target to the my custom build board,
My board has a ST mcu and while trying run it i noticed that the HSE_VALUE defined inside the hal_conf file is shared between every STM32 target.
My question is, if ill connect another STM32 PCB that will need other HSE_VALUE how do i do that as there is only one file defining the HSE_VALUE.

[2017-05-11 14:55] 0xc0170 commented on #4304
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-11 15:00] jeromecoutant commented on #4304
Hi
You are right, HSE value is defined in hal_conf file, which is shared in the family device directory...

You can have a look on the F7 hal conf file for ex:

#if defined(TARGET_DISCO_F746NG) || defined(TARGET_DISCO_F769NI)
  #define HSE_VALUE    25000000U /*!< Value of the External oscillator in Hz */
#else
  #define HSE_VALUE    8000000U /*!< Default value of the External oscillator in Hz */
#

[2017-05-11 15:00] kjbracey-arm commented on #4246
Good investigation - well done!

Sure, you can open an issue on the Atmel driver repo.

Could you show a more zoomed in trace on the initial SPI transactions - same scale for all 3? I'd like to compare exactly where the extra time is going.

Why should the 80MHz/5 MHz one be faster? The slower SPI should make it slower. Is the SystemCoreClock variable correct? Maybe check delay_ns() calibration wi

[2017-05-11 15:08] bridadan commented on #4301
@LiyouZhou Can you say which version of ST-Link you're using? Specifically, what is the version you downloaded from the ST website? The DAPLink version number in ST-Link releases unfortunately isn't usually up to date.

[2017-05-11 15:13] kjbracey-arm commented on #4246
I am also slightly surprised to see the K64F taking so long. I'm pretty certain it was doing better than that. @c1728p9 do you by any chance recall the numbers? I recall it was your scope hooked up to it that time.

[2017-05-11 15:21] JanneKiiskila commented on #4300
NOTE! This is super critical to get fixed ASAP - we can't get the mbed Cloud Client work reliably with these boards unless this gets fixed.
@0xc0170 @geky @bridadan @adbridge

[2017-05-11 15:22] LiyouZhou commented on #4301
V2J28M18

[2017-05-11 15:32] LMESTM commented on #4300
@LiyouZhou  thanks for the detailed analysis.

So let me see if I understand correctly:
- the SPI transfer is being delayed because of other ongoing threads having higher priority, right ?
- because of this delay the SPI driver considers hitting a timeout issue -> we can of course increase this timeout to an "hardcoded" minimum value - but then what would be an acceptable value, is 50ms realisitic

[2017-05-11 15:35] 0xc0170 commented on #4300
@LiyouZhou Please send a PR with a proposed fix.

It should be. @LMESTM why it was 10ms set previously as a default value? Is there any critical section within spi driver? How does this timeout work internally? what if there's is an interrupt during the transfer?

cc @andreaslarssonublox @andreaspeterssonublox

[2017-05-11 15:42] marcuschangarm commented on #4300
Should there even be a timeout set in the first place?

The function in question is an implementation of the mbed-hal. Having a timeout on some boards but not others would result in unexpected behavior for people using mbed OS for its portability.

[2017-05-11 15:45] pmancele commented on #4246
Here is a zoom on the first initial transactions, with the same scale (50µs long). It seems that the issue is not the SPI speed but the time between each SPI transaction which is too long on STM boards, and seems to depend on the systemcoreclock.

* K64F at 120 MHZ, with SPI at 7.5 MHz:
![k64f zoom](https://cloud.githubusercontent.com/assets/25764849/25958190/50442214-3670-11e7-879e-d6b3ba6e23e2.p

[2017-05-11 15:46] LiyouZhou commented on #4300
https://github.com/ARMmbed/mbed-os/blob/master/hal/spi_api.h#L117 the mbed hal doesn't define errors.

Problem is I couldn't say for certain how long a delay is enough.

[2017-05-11 15:46] LMESTM commented on #4300
@LiyouZhou : 10ms was set as it was considered an acceptable value for sending and then receiving 1 byte in a frequency range from few 100s kHz to few MHz.  At 100kHz, which is about the lowest frequency available on most stm32 targets, the transfer is supposed to last around 200us, so 10ms sounded like a safe  value as this is 50 times more than supposed worst case, but I'd be happy to increase i

[2017-05-11 15:48] LMESTM commented on #4300
Indeed, so what are we supposed to do in case of error ? return a default value (0?), call for erro() and die ?

That's why I'm asking more questions in above comment, I'd like to better understand the situation.

[2017-05-11 16:36] LMESTM commented on #4300
I have sent the PR for anyone willing to unblock the situation. Nevertheless I still would like to better understand what happens in the system that cause the transfer to last more than 10ms. I ten to think that an alternative might be to use high priority threads for low level HW communication, and ensure that higher level application SW has lower priority. But maybe this is already the case and

[2017-05-11 16:43] marcuschangarm commented on #4300
@LMESTM The problem we are facing is that no one entity is in charge of the entire application. What would be considered high priority for one party might be considered low priority for another. And even with all high priority threads, we would have delays caused by the scheduler round-robining between threads of equal priority.

[2017-05-11 17:23] adbridge commented on #4300
@marcuschangarm Do you think the PR will unblock you sufficiently for now? With the caveat that this is a more complex issue which needs further consideration?

[2017-05-11 18:55] theotherjimmy commented on #4091
Actually, the problem is a bit different from that. The exporter ignores which files it should be compiling, and compiles all of them. However, it does heed the include directories. This disconnect is what's causing the problem here. @adustm, if you have time, I would appreciate your help on getting the SW4STM32 exporter to understand mbed-os  projects better.

[2017-05-11 18:56] sg- commented on #4285
We don't have a current plan to but would welcome the contribution.

[2017-05-12 02:54] kyliuxing commented on #4140
@kjbracey-arm
I submit a query to lwip project and get feedback. TCP_CHECKSUM_ON_COPY still has some defect so should be set 0 as default.
you can refer it at https://savannah.nongnu.org/bugs/?50914.
Thanks!

[2017-05-12 07:14] kjbracey-arm commented on #4140
Thanks for investigating - I'll make a PR to turn that off, and we can discuss whether to do that now or wait for a lwIP patch to cherry-pick.

[2017-05-12 07:37] LMESTM commented on #4300
@marcuschangarm even with many threads and Round Robin, I'd like to understand what the system is actually doing that makes the SPI driver not able to complete the transaction within 10ms. the CPU is running @80MHz and that makes a lot of CPU cycles ... just would like that you check what actually happens and make sure there is no active-waiting-loop somewhere in another driver, or maybe consider

[2017-05-12 09:30] marcuschangarm commented on #4300
@adbridge Yes, this should unblock us so we can continue development. We would need to have something more robust in place before the public release of our new product.

@LMESTM Thank you for the quick turn around! The weird thing is, there shouldn't be any heavy threads running when this error occur. However, I have little control over what threads in other libraries are doing.

[2017-05-12 10:06] LMESTM commented on #4300
@marcuschangarm I think that your case deserves a good profiling session to understand what happens which leads to this situation. maybe there is a bug in my driver, but mightbe as well a bug elsewhere that has first side effects on SPI

[2017-05-12 10:12] JanneKiiskila commented on #4300
I think mbed OS would greatly benefit from having a test case that would do in parallel

1) SD-card file reading/writing
2) HTTPS download (over async API).

That would reveal majority of this kind of issues.

[2017-05-12 10:13] kjbracey-arm commented on #4246
Okay, that set-up time is huge. If we were to offer a multi-byte transfer API, for those few accesses, it would only help a bit. The register accesses are only 2- or 3-byte bursts. It looks like it would still take too long.

There is also the curious fact that the 60MHz version is not proportionately slower. Surely it should take 4/3 as long as the 80MHz between transfers, not virtually twice as

[2017-05-12 10:29] marcuschangarm commented on #4300
@JanneKiiskila I agree tests like that would be useful for all mbed OS drivers and we should ensure that different peripherals doesn't interfere with each other.

However, in this particular case the SPI timeout happens after we are done downloading.

[2017-05-12 20:26] geky commented on #4283
Not that I can tell, unless @sg- knows of a reason, feel free to put up a pr to change those functions to virtual declarations!

[2017-05-13 06:08] YarivCol commented on #4304
Thanks :)

[2017-05-13 06:08] #4304 closed

[2017-05-15 07:29] JanneKiiskila commented on #4300
So, what's the best plan for getting this into a mbed OS patch release? We would need it really soon to enable more boards for the next mbed Cloud Client release.

[2017-05-15 07:38] teetak01 opened #4318 ""mbed compile -v' fails on Unicode error when printing out warning"
How to reproduce:

tested with mbed-cli 1.1.1

Example program.
[code]

[code]

So the mbed-cli is in fact failing because it cannot print out the warning message correctly. That code compiles (with warning) fine with `mbed compile`

Of course that line is typoed bug, but the verbosity mode itself probably should not terminate compilation.

Moved from here: https://github.com/ARMmbed/mbed-cli/issu

[2017-05-15 08:48] JanneKiiskila commented on #4257
@andreaslarssonublox  - any chance of making the next mbed OS patch release? I'd really like to expand our board support for Cloud Client, so this fix would be essential.

[2017-05-15 09:43] LMESTM commented on #4214
@Willem23 Hey - sorry for the delay
I have a branch with a draft fix under review and tests in our HAL team - this may take some time before complete test and feedback.
https://github.com/LMESTM/mbed/tree/fix_stm32_i2c_pcf
On my test setup, this fixes well the reported issue (but I don't a fake I2C devivce). Would you be able to check on your side and confirm that it fixes your issue ?

[2017-05-15 11:04] 0xc0170 commented on #4318
cc @theotherjimmy

[2017-05-15 12:18] 0xc0170 commented on #4300
Should get to the next one, shall be reviewed today during gatekeepers sync

[2017-05-15 15:36] 0xc0170 commented on #4301
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-15 15:49] ciarmcom commented on #4318
ARM Internal Ref: IOTMORF-977

[2017-05-15 15:58] LMESTM commented on #4246
@pmancele @kjbracey-arm I've pushed a branch for test which limits the registers access in STM32 SPI driver. This is not fully tested yet - but any feedback or testing from your side would be more than welcome.
https://github.com/LMESTM/mbed/tree/STM32_SPI_LL_USAGE
Note that this would take more time to actually deploy on all STM32 families and make a complete non-regression testing.

[2017-05-15 16:05] LMESTM commented on #4246
One more note: testing the patch requires to manually define of STM32_SPI_LL_USAGE
details here https://github.com/LMESTM/mbed/commit/c02d424b662ffd0eac61856f0794dbc00c7120e7

[2017-05-15 19:34] RobSenix opened #4326 "STM32F4xx: Using AnalogIn() for internal VBAT and TEMP measurements"
I'm seeing problems taking multiple readings from the internal VBAT and TEMP sensors on a MultiTech mDot device.  The first reading after reset is correct, then all others are not.  I have been able to fix the problem by stopping the ADC manually before every read:

            AnalogIn vBatIn(ADC_VBAT);

            // Disable the ADC before every reading to get valid values
            ADC1->CR2

[2017-05-15 22:21] bridadan commented on #4301
@LiyouZhou I just updated a NUCLEO_F429ZI to V2J28M18 and I can successfully run mbed OS tests on it from Windows 10. Can you be more specific about your environment and project? What host OS are you using? Where are your tests located?

[2017-05-15 22:49] LiyouZhou commented on #4301
I am on Mac os. I suspect Linux might behave similar.

[2017-05-16 02:28] toyowata commented on #3673
Hi @theotherjimmy @TomoYamanaka

I have quick tested this and it seems the build still has a problem.

### How to reproduce

* Export mbed_blinky example (not mbed-os-example-blinky) from online compiler
* Build the project as below:

[code]

I confirmed that pre-build archive (static library) **contains proper symbols** below:

[code]

### Workaround 1

I think removing ```--wrap``` options from

[2017-05-16 07:50] marineDE opened #4327 "Mbed compiler cannot find the EthernetInterface.h file from mbed-os (version 5.4.4.) with LPC4088 platform (even if the file is inside the mbed-os class)"
I cannot compile, from mbed compiler, a program using EthernetInterface.h from mbed-os (version 5.4.4.) because I get this error:
"Cannot open source input file "EthernetInterface.h": No such file or directory "#include "EthernetInterface.h""
I checked the EthernetInterface is well in the mbed-os library and I can also include another library from there but not EthernetInterface . I tried to use t

[2017-05-16 08:00] marineDE commented on #4327
I cannot compile, from mbed compiler, a program using EthernetInterface.h from mbed-os (version 5.4.4.) because I get this error:
"Cannot open source input file "EthernetInterface.h": No such file or directory "#include "EthernetInterface.h""
 I checked the EthernetInterface is well in the mbed-os library and I can also include another library from there but not EthernetInterface . I tried to use

[2017-05-16 08:40] 0xc0170 commented on #4327
@marineDE Please dont ignore the issue template , fill the details there , or just remove it completely. It would help :-)

To the issue, that target did not support lwip, it was added just recently, look at the commit  7c33ba8691683fb996abfc514b. Therefore the build system does not go into lwip featur

[2017-05-16 09:52] marineDE commented on #4327
Yes sorry for the template..
But so what do I need to do if I want to have ethernet with LPC4088? Since I cannot use the EthernetInterface library (designed for LPC4088) since the mbed-os library overwrites on it? I do not understand why the target LPC4088 does not support LWIP since lwip is already inside the independant  EhernetInterface library (designed for LPC4088).

[2017-05-16 09:54] 0xc0170 commented on #4327
It should be part of the release next week. You can locally or in the online IDE import latest mbed OS sources (development version) to test this feature in the meantime.

Please close this issue if this can be resolved

[2017-05-16 10:03] 0xc0170 commented on #4326
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-16 10:08] pmancele commented on #4246
@LMESTM I've tested the patch and there is a big improvement indeed.
With the STM32L476 at 80MHz, it manage to realize the turnaround within 125µs (VS 278µs previously) when i compile with the RELEASE profile. But if i compile with the DEBUG profile it takes 245 µs which is still too much.
Moreover, for lowpower application, the clock may be under 80MHz so we still need to improve the communicatio

[2017-05-16 14:52] theotherjimmy commented on #3673
@toyowata I agree, this does not make sense when you look at it like that. However, I don't think that the mbed OS 5 build profiles always directly apply to the mbed OS 2 builds. That's why I was recommending removing the `--wrap` options.

[2017-05-16 14:56] adustm commented on #4144
Dear Helmut @helmut64

My concern with your proposal is that a user of L432 (with a real NUCLEO_L432) will be able to use hw interrupts by software that are not physically available on their hardware.
For instance : I2C2 / SPI2 / USART3 / SDMMC1 / LCD

In your proposal, even the pins will exist in peripheralpins.c

A user willing to use an example made for L433 with the platform NUCLEO_L432KC will

[2017-05-16 15:01] adustm commented on #3776
Hello,
As this is a dupplicate of #3728 and #3728 is closed, could someone close this issue please ?
Kind regards

[2017-05-16 15:02] theotherjimmy commented on #3776
Hi @adustm. I agree, if #3728 is closed this should be closed too.

[2017-05-16 15:02] #3776 closed

[2017-05-16 18:08] helmut64 commented on #4144
Dear Armelle, for the PinNames.h the additional 4xx pins can just be enabled by activating a define .e.g. ENABLE_STM32L43xxPINS in the 432 PinNames.h, which means a normal user will not run into problems of using unavailable pins.

I still feel that lifting the NUCLEO_L432KC target by using the 433 HAL files would allow users to use the mbed online compiler for 39 more ST MCUs.

A new target would

[2017-05-16 19:55] YarivCol opened #4330 "No rtos support"
### Description
- Type: Question
- Related issue: `#4316`

## Question
will mbed support no rtos configuration ?
Because i saw in issue [4316](https://github.com/ARMmbed/mbed-os/pull/4316) that the cmain.s was removed, this file was for the use of no rtos startup.

[2017-05-16 20:53] theotherjimmy commented on #2412
see https://github.com/ARMmbed/mbed-os/pull/4331

[2017-05-16 21:01] theotherjimmy commented on #1217
No response. I'm closing. Please re-open if this is still a problem.

[2017-05-16 21:01] #1217 closed

[2017-05-16 21:03] theotherjimmy commented on #2806
No response. Closing. Please re-open if it's still relevant.

[2017-05-16 21:11] theotherjimmy commented on #4044
No response. Closing. Please re-open if it's still a problem.

[2017-05-16 21:11] #4044 closed

[2017-05-16 21:18] theotherjimmy commented on #3359
@sstaub It could be supported, but we would need to know the part name from CMSIS PACKs in the `device_name` key in targets.json.

[2017-05-16 22:04] adamgreen commented on #1217
I just thought I would add some recent notes from when I recently tried switching this ABI flag.

I have recently been able to successfully build all mbed-os code for the K64F using -mfloat-abi=hard. I had temporarily switched to building all Cortex-M4F targets with that flag but that wasn't feasible since there are some targets like MAX32620HSP which link in BPL licensed code that have been compi

[2017-05-17 06:31] jeromecoutant commented on #4301
Hi

Test done with this configuration:
-	MacBook Pro   : OS X Yosemite – Version 10.10.15
-	STLink FW       : V2J28M18
-	Boards             : Nucleo-F429ZI
-	IDE                  : SW4STM32
STLink detection and enumeration OK.
Drag and drop OK
Run and debug OK with IDE

@LiyouZhou when you say "New version of st-link interface firmware doesn't work", I understand "V2J28M18" doesn't work. Do you kn

[2017-05-17 10:18] 0xc0170 commented on #4330
Can you be more specific? What I am missing is what mbed do you mean?

This might answer your question:

mbed 2 stays as it is, no rtos by default. Therefore there will be own startup. The new startup for mbed OS will be part of rtos, and contains rtos specific startup.

I could not set a breakpoint when I was testing it (I had a local branch reverting this removal), I had an interested to check

[2017-05-17 10:53] YarivCol commented on #4330
actually the __cmain function preforms the boot process,  the implementation resides in cmain.s file so no boot process other than iar default boot (no call to sdk_init, etc..).
the main will be called at the end but mbed will not be initialized.

[2017-05-17 13:06] 0xc0170 commented on #4330
Thats correct.

I will send a PR, with reverting the removal, tested locally.

[2017-05-17 13:18] 0xc0170 commented on #4330
PR sent with a fix, please review

[2017-05-17 16:26] haishengliu commented on #3919
make all
Building file: ../ARMmbed_5p3_r897_PLC/tools/data/rpc/class.cpp
Invoking: Cross ARM GNU C++ Compiler
arm-none-eabi-g++ -mcpu=cortex-m4 -mthumb -O0 -fmessage-length=0 -fsigned-char -ffunction-
tools/data/rpc/class.cpp:1:11: error: expected unqualified-id before '{' token
 class Rpc{{name}} : public RPC {
           ^
tools/data/rpc/class.cpp:1:17: error: expected ';' after class definition

[2017-05-17 16:53] theotherjimmy commented on #3919
Huh. the tools directory contains an mbedignore with a `*` in it. That file should not be included.

[2017-05-17 20:40] theotherjimmy commented on #2718
Resolved by the addition of the `eclipse_<compiler>` and `gnuarmeclipse` exporters.

[2017-05-17 20:40] #2718 closed

[2017-05-18 07:45] pmancele opened #4339 "When is planned the update of STM32cubeL4 driver ?"
### Description
- Type: Question
---------------------------------------------------------------
**Target** : STM32L4xx
----------------------------------------------------------------
## Question:
We are working on new STM32L496ZG and NUCLEO_STM32L496ZG. Previously we were working on STM32L476ZG that we successfully ported on mbed-os.
But we can't port the STM32L496ZG as it needs a more recent ve

[2017-05-18 08:22] daniel-cesarini-tridonic-com opened #4341 "HAL_LOCK in ST Devices"
### Description
- Type: Bug
- Priority: Major

HAL_LOCK mechanism in ST HAL seems not ready for RTOS context.

---------------------------------------------------------------
## Bug

**Target**
STMF32F0 and F4

**Toolchain:**
All

**mbed-os sha:**
4eea8fa8633751fc91095e24eeb154ac3df3afd9

**Actual behavior**
The HAL_LOCK mechanism (https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/

[2017-05-18 08:27] marineDE commented on #4327
Thank you for your answer but is it really due to the LWIP library ? You said that target did not support lwip, but in the last release of mbed-os (5.4.5) I can see in the "fixes and changes":
[...] 4190: LPC4088: Enable LWIP feature [...]
 (https://docs.mbed.com/docs/mbed-os-release-notes/en/latest/5_4/release_note/)
With this latest version, I get 24 errors when I try to compile mbed-os with LPC

[2017-05-18 09:00] jeromecoutant commented on #4339
Hi

OK, I can start to update the HAL driver for L4 family now.

About NUCLEO L496 new port, I am sorry, it is not currently planned by ST...

@bcostm

[2017-05-18 09:02] ashok-rao commented on #4250
Update on the above; Issue also observed with FRDM-K22F (USB device not recognized, same as for K64F) & FRDM-KL46Z (Board not even powering up from USB OTG port).

[2017-05-18 09:21] bcostm commented on #4339
Yes I confirm that the support of the NUCLEO_L496ZG board is not planned to be done by ST.

[2017-05-18 10:02] 0xc0170 commented on #4327
@marineDE Can you provide detailed issue report please? What errors, what toolchain? anything that we might help us to reproduce this issue.

btw, I run ``mbed test -m LPC4088 -t GCC_ARM -n features-feature_lwip-tests-mbedmicro-net-connectivity --compile`` , it builds as it should. This was tested locally on the latest master branch.

We can reopen this once we are able to reproduce the issue

[2017-05-18 10:02] #4327 closed

[2017-05-18 10:03] 0xc0170 commented on #4341
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-18 10:11] LMESTM commented on #4341
Hello - as mentioned in the community post, a new LOCK and UNLOCK process under preparation. We'll keep you posted and get updates to mbed when this is available.

[2017-05-18 11:46] bcostm commented on #3501
ST_TO_BE_CLOSED

[2017-05-18 11:47] bcostm commented on #2960
ST_TO_BE_CLOSED

[2017-05-18 11:48] bcostm commented on #4341
ST_INTERNAL_REF 16296

[2017-05-18 12:05] bcostm commented on #3932
ST_INTERNAL_REF 11317

[2017-05-18 12:06] bcostm commented on #4261
ST_INTERNAL_REF 33814

[2017-05-18 12:16] bcostm commented on #4214
ST_INTERNAL_REF 33669

[2017-05-18 12:46] betzw opened #4343 "[NETSOCKET] TCPSocket & UDPSocket event handler cannot be run in IRQ context"
### Description
- Type: Bug
- Priority: Major
---------------------------------------------------------------
## Bug

**meed-os sha:**
8f29517: _Merge pull request #4317 from c1728p9/reduce_test_overhead_
(i.e. current `master`)

**Expected behavior**
Sockets should not register callbacks (on state change events) which are not allowed to be executed in interrupt context.

**Actual behavior**
In me

[2017-05-18 13:28] janjongboom opened #4344 "VSCode exporter not in Online Compiler"
VSCode exporter is landed in latest mbed OS release but is not listed in the Online Compiler.

@theotherjimmy

[2017-05-18 14:26] #4318 closed

[2017-05-18 16:19] haishengliu commented on #3919
so, should i delete this tools folder?

[2017-05-18 16:33] theotherjimmy commented on #3919
The fact that the files are being included is a bug.

[2017-05-19 00:13] matsujirushi opened #4347 "NUCLEO-L476RG: Parity is not enabled"
### Description
- Type: Bug
- Related issue: https://developer.mbed.org/questions/78052/Parity-is-not-enabled/
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
NUCLEO-L476RG

**Toolchain:**
ARM (online compiler)

**Expected behavior**
Parity should be enabled when it is specified by Serial::format() function.

**Actual behavior**
Parity is not e

[2017-05-19 01:07] matsujirushi commented on #4347
Fix example:
mbed-os/targets/TARGET_STM/TARGET_STM32L4/device/stm32l4xx_hal_uart.c
[code]

[2017-05-19 02:28] marineDE commented on #4327
I imported in the mbed compiler the HelloMQTT program of Vergil Cola, I updated the mbed-os library to the latest one and I removed the easy-connect library (I just kept and added inside the main file, the easy_connect function for Ethernet). If I try to compile for LPC4088, I get 24 similar errors:

![errors](https://cloud.githubusercontent.com/assets/26294377/26230623/bc828eb8-3c7c-11e7-8ee3-ec5

[2017-05-19 07:15] LMESTM commented on #4347
@matsujirushi  the management of parity bits is being corrected in #4216
can you check the proposed fix in #4216  ?

[2017-05-19 08:00] LMESTM opened #4348 "Need a MBED test for serial.format() settings like parity"
### Description
- Type: Enhancement
- Related to : #4216
- Priority: Major

**Target**
ALL

**Toolchain:**
GCC_ARM|ARM|IAR

**Expected behavior**
There is a need for an automated test to verify the various supported settings of serial link,
in particular the parity one.

[2017-05-19 08:12] 0xc0170 opened #4349 "nrf51 targets - exports contain duplicated files"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
possibly any nrf51 targets?

**Toolchain:**
any, tested with IAR

**meed-os sha:**
5d0ce3c

**Actual behavior**

I can see duplicated files, this has something to do with unified introduction, here is IAR report:

[code]

I am trying to look at the history when this was

[2017-05-19 08:29] nvlsianpu commented on #4349
@0xc017 I thing a rename one of those file to other name name will resolve the issue. What do you think?

[2017-05-19 08:32] 0xc0170 commented on #4349
This is the merge that breaks it : https://github.com/ARMmbed/mbed-os/pull/4245

I wonder why nrf51 has these in targets.json file ``        "extra_labels": ["NORDIC", "MCU_NRF51", "MCU_NRF51822_UNIFIED", "NRF5", "SDK11"] `` . NRF and UNIFIED are causing this.

What's the intention of NRF5/ and NRF5/MCU_NRF51822_UNIFIED (why there are 2 implementations for HAL in those 2) ?

[2017-05-19 08:36] 0xc0170 commented on #4349
If I understand correctly, there are two implementations of HAL. One of these is protected inside via macro so always only one is compiled? This then breaks in IAR. Correct?

Rename might work but it is confusing for a user, like you can see for me also, 2 labels, 2 implementations of HAL but one only gets to the compiliation and further. Is there any other way we can fix it , using labels for ins

[2017-05-19 08:40] 0xc0170 commented on #4349
Note: we shall run export build always, this was not caught because it was not run, it would definitely fail to build.

[2017-05-19 08:56] 0xc0170 commented on #4349
@studavekar Can we do that? ``/morph test`` would also include exporters ?

[2017-05-19 09:36] nvlsianpu commented on #4349
Yes I is. As I see IAR generate all objects files to one directory :-(

From the point of view of nRF5x SoCs: nRF52832 and nRF52840 both have the same ADC peripheral, hence the same low level driver and have the same hal driver api implementation. nRF51xxx just opposite. Therefore there is no sense to put implementations together in one file.

So 1st proposition is to rename the file, 2nd is to ad

[2017-05-19 09:40] 0xc0170 commented on #4349
would more intuitive in the IDE workspace - thus I would go with it.

[2017-05-19 09:47] 0xc0170 commented on #4327
Ok so this is a problem of mbedtls and lpc4088, please open a new issue to request mbedtls support for this device (thats the one that is failing for MTQTTT).

[2017-05-19 09:53] marineDE commented on #4327
Finally even after adding the macros:
"macros": ["MBEDTLS_NO_DEFAULT_ENTROPY_SOURCES","MBEDTLS_TEST_NULL_ENTROPY"]
I got the same 24 errors as well... (I fixed the problem for which I could not get any outputs, it was due to the arguments of the main function). Any help regarding these errors ("Undefined symbols [...]" ) would be appreciated...

[2017-05-19 09:54] marineDE commented on #4327
OK Thank you I will open a new issue!

[2017-05-19 09:59] marineDE opened #4350 "Issues with MbedTLS and LPC4088"
I try to compile mbedTLS with LPC4088 but I got systematically these errors:
![errors](https://cloud.githubusercontent.com/assets/26294377/26242852/769dcb66-3cbc-11e7-94d3-7c847d462a30.PNG)

Actually, I imported in the mbed compiler the HelloMQTT program of Vergil Cola, I updated the mbed-os library to the latest one and I removed the easy-connect library (I just kept and added inside the main fil

[2017-05-19 10:16] jeromecoutant commented on #4339
Please check #4351

About NUCLEO_L496ZG, I can provide you the PeripheralPins.c
You have to comment several lines in this fiel in order to remove not available pins (USB, debug uart, ... pins)
[PeripheralPins.zip](https://github.com/ARMmbed/mbed-os/files/1013820/PeripheralPins.zip)

[2017-05-19 10:24] ohagendorf commented on #4339
Hello @jeromecoutant , @bcostm

are there any plans to extend the PeripheralPins.c in the way I sugested in #3181
Somebody of you mentioned that there is a tool which generates the PeripheralPins.c automatically, when I understood correctly.

[2017-05-19 11:19] 0xc0170 commented on #4350
cc @sbutcher-arm

[2017-05-19 11:19] bcostm commented on #4339
Hi @ohagendorf

Yes we have started to do it on new targets like the DISCO_L072CZ and DISCO_L475VG but nothing planned for now on actual targets.

[2017-05-19 12:18] 0xc0170 commented on #4343
cc @kjbracey-arm @geky

[2017-05-19 12:19] pmancele commented on #4339
@jeromecoutant Thank you for the PeripheralPin file and the update !
I will try this asap.

[2017-05-19 12:38] daniel-cesarini-tridonic-com commented on #4341
@LMESTM @bcostm by when do you expect that the new LOCK and UNLOCK mechanisms should be ready for being used? It looks to me like that community post is already 1 year old.

Other questions:
* Do you expect that the HAL might have other issues in the current status of implementation when being used in the mbed-os (RTOS) context?
* Would it be possible that accessing the HAL from different threads

[2017-05-19 12:45] 0xc0170 commented on #4341
Do you expect that the HAL might have other issues in the current status of implementation when being used in the mbed-os (RTOS) context?
    Would it be possible that accessing the HAL from different threads / interrupts might have bad consequences (e.g. inconsistent state, faults, ...)?

Regarding the above even, how is i2c used  ? Is it within I2C class?

Because it should be thread safe. HAL i

[2017-05-19 13:31] daniel-cesarini-tridonic-com commented on #4341
Actually we implemented also a CRC Class, but did not consider that the HAL is not thread safe.

Furthermore I am currently checking the I2C Class for possible issues (e.g., what would happen if an I2C operation would be called from within interrupt context?).

[2017-05-19 14:27] adbridge commented on #4257
@JanneKiiskila I assume this issue can now be closed then?

[2017-05-19 14:48] MarceloSalazar commented on #3598
Built Wifi example with UBLOX_EVK_ODIN_W2 and mbed OS SHA: 5d0ce3c53158c69b5456d1d2ef4ecc12fdcfc49e

Total Flash memory (text + data + misc): **998507** bytes

Issue considered fixed.

[2017-05-19 14:48] #3598 closed

[2017-05-19 15:06] bcostm commented on #4326
Hi,
Can you please split this issue in two in order to facilitate the tracking ?

The first part concerning the 12 to 16-bit conversion has been discussed a long time ago here #1767 and it has been agreed that this conversion model is ok.

Thanks.

[2017-05-19 15:07] ohagendorf commented on #4339
@bcostm , thanks for the info. I can do this manually for the current targets, if the daily work permits it.

[2017-05-19 16:19] geky commented on #4343
Good catch! Yeah, calling `Semaphore::wait` is an error in that context. We should remove it to avoid having code that doesn't do what it appears to. Also relying on error codes is probably just a bad idea.

However, while the `Semaphore::wait` call is incorrect, it's not going to break the network stack. Both of the TCP and UDP event semaphores are handled in a while loop like this:
https://githu

[2017-05-19 17:39] RdaZhongyao commented on #4250
@screamerbg , I met the same problem while using `USBDevice/USBMSD` + `mbed-5.4.5 release`, with K64F board and ARMCC compiler.

After tacking the code, I believe that `malloc` is called in `usbisr` raises this bug.
See file : https://github.com/ARMmbed/mbed-os/blob/2e2fe377b3abc2620682dd7a0a98b9a32a5b2c87/features/unsupported/USBDevice/USBDevice/USBHAL_KL25Z.cpp
where we can find : `USBHAL::usbis

[2017-05-19 17:41] mmahadevan108 commented on #4250
@RdaZhongyao Thanks.

[2017-05-19 22:05] snelson-senet opened #4354 "DigitalOut Stops working after toggle on MOTE_L152RC"
### Description
- Type: Bug
---------------------------------------------------------------
## Bug
DigitalOut interface is broken.  In my case, controlling LEDs stops working.  I do not see this failure when I switch to an mbed-os  revision using mbed library version <= 134

**Sample code:**
DigitalOut RedLed(LED1);

// LED is active Low
RedLed = 0 ;    // This works (LED  ON)
RedLed = 1;     //

[2017-05-19 22:33] theotherjimmy commented on #4354
Hi @snelson-senet I changed the title to match the description.

[2017-05-19 22:35] theotherjimmy commented on #4354
@0xc0170 It looks like this is an STM32, and only supports mbed OS 2.

[2017-05-20 00:12] bsrirao commented on #4269
Any idea when this will be getting fixed ?

[2017-05-20 07:22] mohammadmh opened #4355 "changing program start address"
Hi guys,
I've exported mbed_blinky project for keil uvision 5 and i want to develop a program for another board, so I need to change the start address of program. I change the start in IROM1 in options for target window but it doesn't work. It must be defined in somewhere but I can't find it. Can anyone help?
*My target is LPC1768

[2017-05-20 10:41] matsujirushi commented on #4348
I tested #4216. It's fine.

9600-8-N-1
![](https://developer.mbed.org/media/uploads/matsujirushi/20170520a.png)

9600-8-E-1
![](https://developer.mbed.org/media/uploads/matsujirushi/20170520b.png)

9600-8-O-1
![](https://developer.mbed.org/media/uploads/matsujirushi/20170520c.png)

[2017-05-20 10:42] matsujirushi commented on #4347
I tested #4216. It's fine.

9600-8-N-1
![](https://developer.mbed.org/media/uploads/matsujirushi/20170520a.png)

9600-8-E-1
![](https://developer.mbed.org/media/uploads/matsujirushi/20170520b.png)

9600-8-O-1
![](https://developer.mbed.org/media/uploads/matsujirushi/20170520c.png)

[2017-05-20 12:07] toyokomi commented on #3958
Hello, so what is the solution. I got problem, as it is desribed above. I exported project from mbed Compiler into SW4STM32, but after build a received message:
`path.../STM32F429xI.ld:13: ignoring invalid character # in expression`
`path.../STM32F429xI.ld:13: syntax error`
Thanks in advance!

[2017-05-21 15:57] NeilMacMullen opened #4357 "Nordic RF52 does not correctly support simultaneous use of I2C and SPI"
Mbed OS 5
Target UBLOX_EVK_NINA_B1
Toolchain GCC_ARM

The Nordic RF52 SoC uses digital 'TWI' control blocks to control both I2C and SPI.  When declaring an I2C object, the Nordic platform code in targets/TARGET_NORDIC/TARGET_NRF5/i2c_api.c  uses  the method "i2c_init" to allocate the first available TWI by examining previously-allocated I2C instances.  Similar code is used in the SPI drivers (spi_

[2017-05-22 04:59] YarivCol opened #4360 "Dma support stm32"
what is the road map regarding dma support in stm32 ?
will it be supported soon ?

### Description
- Type: Question

[2017-05-22 07:27] LMESTM commented on #4347
@matsujirushi thank you for your feedback. so I propose to close this ticket , either now or when #4216 is merged

[2017-05-22 09:25] mickeyln opened #4361 "[Nucleo-F070RB] Wrong divisor when use internal clock"
### Description
- Type: Bug
- Related issue:
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
ST32M|Nucleo-F070RB

**Toolchain:**
GCC_ARM|ARM|IAR

**Expected behavior**
Remove external clock will change to use internal clock automatically. And it clock will be 48Mhz.

**Actual behavior**
The clock become to 96Mhz or no work.

**Suggest**
It se

[2017-05-22 11:25] binary-nerd opened #4362 "Reading temperature from mlx90614 Sensor attached to Nucleo F091RC"
## Question

I am trying to read some data from the mlx90614 temperature sensor attached to a NUCLEO-F091RC.
so far, not successful.

There are many posts on this topic but the issue remains unresolved everywhere.

Following is the code I am trying with.

[code]
The raw data is always 255. both `cmd[0] and [cmd[1]`

The above code, I wrote based  is based on the working code on Arduino Uno board (

[2017-05-22 11:26] 0xc0170 commented on #4362
cc @bcostm @adustm @LMESTM @jeromecoutant

@andcor02

[2017-05-22 11:29] 0xc0170 commented on #4361
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-22 11:45] pan- opened #4363 "utest: Description data structures are not ROMable"
### Description
- Type: Enhancement
- Related issue: #4094
- Priority: minor

## Enhancement

The utest framework describe what a test is with two immutable data structures : [`Case`](https://github.com/ARMmbed/mbed-os/blob/master/features/frameworks/utest/utest/utest_case.h) and [`Specification`](https://github.com/ARMmbed/mbed-os/blob/master/features/frameworks/utest/utest/utest_specification.h)

[2017-05-22 12:17] 0xc0170 commented on #4363
cc @niklas-arm

[2017-05-22 12:32] LMESTM commented on #4362
@binary-nerd
Hello
there are weekly non-regression tests in MBED of reading I2C temperature sensors with all NUCLEO boards, so there is no limitation.

Here is a working example of a temperature driver: https://developer.mbed.org/users/neilt6/code/LM75B/file/7ac462ba84ac/LM75B.cpp
 I think many sensors work the same so you could re-use part of the code for the mlx90614.

I think that your code is

[2017-05-22 12:49] jeromecoutant commented on #2519
Hi

For NUCLEO_F091RC, tests-mbed_drivers-lp_timeout and tests-mbed_hal-lp_ticker tests are OK since mbed-os-5.2.1 with our test bench.

Maybe this issue can be closed ?

Thx

[2017-05-22 12:57] jeromecoutant commented on #2626
Hi @toyowata
Is the answer provided by svastm OK for you?
Thx

[2017-05-22 13:04] 0xc0170 commented on #4357
cc @nvlsianpu @pan-

[2017-05-22 13:10] jeromecoutant commented on #3426
Hi @ArjunSinghh
Is issue still present?
Can you give us some code to reproduce it ?
Thx

[2017-05-22 13:24] jeromecoutant commented on #2293
ST_TO_BE_CLOSED

[2017-05-22 13:29] jeromecoutant commented on #1466
Maybe we close this issue ?

[2017-05-22 13:30] #1466 closed

[2017-05-22 14:09] ohagendorf commented on #4362
This sensor is a bit tricky. It can be used in two different configuration: i2c or pwm mode. We had to enable the i2c mode everytime we started the system. We used a NUCLEO_F411RE.

The lm75 is much more easier.

[2017-05-22 14:14] pan- commented on #4349
@nvlsianpu Any update on this issue ?

[2017-05-22 14:22] theotherjimmy commented on #4355
If you want to develop your program for another board, I recommend that you re-export it for that board. If the board is not in mbed and you're not concerned with ever passing this program to someone else, you could change the scatter file to have the correct address. The scatter file is here (relative to mbed-os) `./targets/TARGET_NXP/TARGET_LPC176X/device/TOOLCHAIN_ARM_STD/LPC1768.sct`

[2017-05-22 14:23] theotherjimmy commented on #4355
Let me know if that helps, @mohammadmh

[2017-05-22 14:25] theotherjimmy commented on #4269
@bsrirao As a workaround, you could use the `gnuarmeclipse` or `eclipse_gcc_arm` exporters.

[2017-05-22 14:31] LMESTM commented on #4214
Pull request #4365 was sent to fix the issue
@Willem23  If possible, please test and provide feedback.

[2017-05-22 15:12] bcostm commented on #2955
Can you please remove the ST label and add Ublox label instead ?

[2017-05-22 15:13] MarceloSalazar commented on #2293
I've tested mbed OS 5.4.5 (8d21974ba35e04c4854e5090c0f8283171664175).
All tests are passing for GCC_ARM and ARM Compiler.

For IAR, there are two tests failing:

[code]
@adustm @jeromecoutant could you please have a look and let me know if you are unable to reproduce?

[2017-05-22 15:14] #4330 closed

[2017-05-22 23:56] matsujirushi commented on #4347
OK. Thank you.

[2017-05-22 23:56] #4347 closed

[2017-05-23 00:40] bridadan opened #4370 "Complications during networking tests"
# Description
- Type: Enhancement
- Priority: Major

## Enhancement

There are a number of issues that can crop up when running networking tests. This issue attempts to keep track of them so we don't forget what things we've tried and what things we still need to do to get them as stable as possible.

### mbeds with non-unique MAC addresses will fail to get IP addresses.
We attempted to fix this i

[2017-05-23 05:39] mikaleppanen opened #4372 "LWIP K64F ipv6 ethernet does not work with arm compiler optimizations"
### Description
- Bug
- Minor

## Bug

**Target**
K64F

**Toolchain:**
ARM

**Toolchain version:**
All 5.06 versions

**Expected behavior**
LWIP K64F ipv6 ethernet works.

**Actual behavior**
ARM compiler compiles K64F ethernet driver code incorrectly when both -O3, -Otime optimizations are enabled. Error happens in fsl_enet.c modules function ENET_AddMulticastGroup() crc calculation loop.
Compile

[2017-05-23 06:36] nvlsianpu commented on #4349
I have this in my task queue.

[2017-05-23 06:44] nvlsianpu commented on #4349
I see that resolution is pending.

[2017-05-23 06:55] nvlsianpu commented on #4357
Thank you for describing this bug.

[2017-05-23 07:32] LMESTM commented on #687
@ks73 @0xc0170  @sg-  #920 has been closed and #4259 has been merged - I think this ticket should be closed as well

[2017-05-23 07:52] LMESTM commented on #899
@sg- @0xc0170  please provide guidance here:  what shall be do in case a serial read fails ?  (because of performances limits that are reached, so overflow condition is met )

[2017-05-23 07:57] LMESTM commented on #1849
@bridadan do you have the PR / Issue reference with request to add the C HAL function to check if UART HW is finished ?

[2017-05-23 09:42] binary-nerd commented on #4362
@LMESTM
Thank you very much. setting repeated start to `true` works.
I am now getting sensible sensor data.

I get varying temperature data and the values look nice.

The temperature sensor data on nucleo is as follows :
[code]
@ohagendorf
I am not explicitly setting its mode. With the change suggested by @LMESTM it starts to work. I checked the datasheet to see how to change the mode from I2c to

[2017-05-23 09:47] LMESTM commented on #4362
@binary-nerd  glad to hear this works fine now - I'll let you close the issue when you think it's ok.
You can continue discussion about the sensor even if issue is closed ;-)

[2017-05-23 09:49] binary-nerd commented on #4362
Ok. I will close the issue. :)
I will be waiting for reply from @ohagendorf

[2017-05-23 09:49] #4362 closed

[2017-05-23 11:25] bcostm commented on #4361
Hi,
I have reproduced the issue with HSI. The system clock does not start. The error is well on the line you mentionned. Do you mind sending a pull-request to fix it ? Thanks.

[2017-05-23 12:16] Apocalyt opened #4374 "Maximum COAP message resending buffer size limited to 255 bytes."
### Description

- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

In the existing solution it is impossible for the maximum size of the COAP retransmission buffer to be bigger than 255 bytes. If you try to define YOTTA_CFG_COAP_RESENDING_QUEUE_SIZE_BYTES to be larger than 255 in application the value gets truncated to a uint8_t

[2017-05-23 12:46] LMESTM commented on #2017
#3106 seems to be much more complete, so I can close this one and let's just track #3106

[2017-05-23 12:46] #2017 closed

[2017-05-23 12:54] LMESTM commented on #1695
@0xc0170  @sg-
I just tested today on L053R8 stm32 target and I confirm that the problem is not seen.
Can you please remove devices:st flag and move to nrf accoring to above comment ?

[2017-05-23 13:37] LMESTM commented on #1190
@sg- @0xc0170  can you please close the issue ?

[2017-05-23 17:11] Marrakchino opened #4376 "How to know the detect_code of a new target?"
### Description
- Type: Question
- Priority: Minor

-------
## Question

**I'm adding a new target device, a STMicroelectronics Nucleo board. How can I know its `detect_code`, used in the file `targets/target.json`?**

Thanks!

[2017-05-24 00:53] snelson-senet commented on #4354
I created pull request https://github.com/ARMmbed/mbed-os/pull/4378 to show how I fixed this issue.
Feel free to use if feasible.

[2017-05-24 01:43] toyowata commented on #2626
Hi @jeromecoutant @svastm

The example code from svastm works fine.  However, it is not easy to use the PB_3 port of the 303K8 platform.  If you do not have immediate plan to fix this issue, can you provide additional information for developer in the platform page here?

https://developer.mbed.org/platforms/ST-Nucleo-F303K8/#known-limitations

[2017-05-24 07:25] bcostm commented on #4376
Hi,
When you plug your board to the PC look inside the mounted drive and open the file MBED.HTM. The detect code is the first 4 digits of the code value in the line:

`<meta http-equiv="refresh" content="0; url=http://mbed.org/device/?code=075502217354672B4C10F143"/>`

Example here it is `0755`

[2017-05-24 07:30] bcostm commented on #4360
Hi,
There is no roadmap to implement the DMA on STM32 for the moment.

[2017-05-24 07:38] LMESTM commented on #4360
I would add that there is no DMA API in MBED as of now.
Users can nevertheless use direct calls to STM32 HAL layer for DMA.

[2017-05-24 08:28] mikaleppanen commented on #3891
Correction is now merged to master: https://github.com/ARMmbed/mbed-os/pull/4284

[2017-05-24 08:29] #3891 closed

[2017-05-24 09:54] janjongboom opened #4380 "Update vscode exporter for the new intellisense engine"
https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md#what-is-the-difference-between-includepath-and-browsepath-in-c_cpp_propertiesjson

The intellisense engine has changed and now requires us to set a number of extra parameters and macros. For now we'll be on the old engine, but we should update the exporter.

[2017-05-24 10:19] #4376 closed

[2017-05-24 12:30] #4349 closed

[2017-05-24 12:52] LMESTM commented on #3164
@sergiuszm sorry for not coming back to you earlier.
I just run the test of your example from Nov 1, with GCC_ARM on NUCLEO_F767ZI and I cannot reproduce the issue. (I'm on windows though ...)

f...0 MINGW64 /c/Data/Workspace/mbed ((c9f9ffa...))
$ python tools/make.py -m NUCLEO_F767ZI -t GCC_ARM -d /d/ -s COM66 -p 0
Building project basic (NUCLEO_F767ZI, GCC_ARM)
Scan: basic
Scan: mbed
Scan: env
+

[2017-05-24 14:16] LMESTM commented on #3223
@COMOkr is this issue still valid ?  Also in case you still have the problem, may you try out wiht RawSerial class instead of Serial one ?

[2017-05-24 14:34] bridadan commented on #1849
Hi @LMESTM it looks like this issue was never created. Would you like to add it?

[2017-05-24 14:46] bulislaw commented on #4370
I've acknowledged the issue here https://github.com/ARMmbed/mbed-os/pull/4079 and wanted to provide an API (not necessarily in this PR but as follow up to this work depending on time) for generic MAC address generation.

[2017-05-24 16:08] mr63 opened #4384 "Nucleo-f446re 4-6 second Timeout"
- Type: Bug
- Priority: Blocker
---------------------------------------------------------------
## Bug

**Target**
Nucleo-f446re

**Toolchain:**
GCC_ARM|ARM|IAR

**mbed-cli version:**
MBED -- Revision 133:99b5ddf

I noticed today after creating a simple Hello World application that any programs that I compile with mbed revisions after 132:9baf128 seem to take 4-6 seconds to start.  I noticed via g

[2017-05-24 17:00] NeilMacMullen opened #4386 "FatFileSystem (unnecessarily) requires a minimum allocation of 64K"
For testing purposes, it's useful to be able to create RAM drives on smaller devices where the amount of available RAM is limited.  The following code on a Nordic RF52 will show an error (-5) on the format operation.  Interestingly if BLOCKS is increased to 128, the format and subsequent file operations will complete although presumably once the filesystem grows too large the system will fail unpr

[2017-05-24 17:04] theotherjimmy commented on #4386
Hi @NeilMacMullen,

Thanks for reporting this issue. @geky are we hitting the smallest size allowable limit of FAT here?

P.S. I updated your markdown to show the code better

[2017-05-24 17:31] NeilMacMullen commented on #4386
Thanks @theotherjimmy  Just to be clear, I'm sure there is an internal lower limit of 64K but what I'm really questioning is whether this really needs to be enforced or is desirable.  Clearly the filesystem can operate with much lower amounts of actual RAM if you lie to the format operation (HeapBlockDevice uses demand-allocation).  If the 64K assumption is too baked into the current implementatio

[2017-05-25 06:38] kyliuxing opened #4391 "should we add interface to set SOF_BROADCAST?"
@kjbracey-arm
we have enabled IP_SOF_BROADCAST and IP_SOF_BROADCAST_RECV, it will check SOF_BROADCAST when we send broadcast packet, but we didn't add this opt in mbed_lwip_setsockopt().
Should we add it? or we won't send broadcast packet.

[2017-05-25 11:30] 0xc0170 commented on #4384
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-25 13:24] 0xc0170 commented on #1695
@smarek Can you plesae be more specific?

cc @nvlsianpu @pan-

[2017-05-25 13:25] #1190 closed

[2017-05-25 13:26] 0xc0170 commented on #4374
cc @SeppoTakalo @JanneKiiskila

[2017-05-25 13:34] 0xc0170 commented on #899
As you wrote earlier, handle errors so it wont affect the application. To report them, we will need to extend API. There was an addition for this in mbed 3, we will consider this.

cc @c1728p9

[2017-05-25 13:34] #687 closed

[2017-05-25 13:37] 0xc0170 commented on #4372
@mikaleppanen Compiler issue ? can you be more specific?  I assume this is to inform users, and might be worth adding to the known issues?

cc @adbridge

[2017-05-25 13:37] 0xc0170 commented on #4372
@mmahadevan108 to be aware

[2017-05-25 13:45] 0xc0170 commented on #2955
@andreaslarssonublox bump

[2017-05-25 13:51] c1728p9 commented on #899
I have a feature branch with this API extension here (Initially proposed in #2566):
https://github.com/ARMmbed/mbed-os/compare/serial_error_interrupt

[2017-05-25 13:55] 0xc0170 commented on #3958
@theotherjimmy Is there anything we can do?

[2017-05-25 14:53] lpercifield commented on #3857
Hey all,
I've run into an problem that is possibility related to this issue. I'm using an mbed implementation from RedBear on the nRF52 module. [Code here](https://github.com/redbear/nRF5x) Using their BLE peripheral example combined with a ticker example, I'm seeing the ticker fail almost immediately after startup. I've updated the us_ticker.c file to reflect the changes in the 5.4.4 release, wit

[2017-05-25 15:29] adbridge commented on #3857
@lpercifield Can you raise a new issue against mbed-os detailing your set up , tool versions etc , mbed-os versions etc and we can take another look. Thanks

[2017-05-25 16:00] toyowata commented on #3673
@theotherjimmy Are you recommending user to remove the ```--wrap``` options from Makefile by manually, rather than exporter fix?  If so, can you describe this incident to the exporter document page as known issue?

https://docs.mbed.com/docs/mbed-os-handbook/en/latest/advanced/exporters/

[2017-05-25 16:15] theotherjimmy commented on #3673
@toyowata Not really. I think that we can fix this with the exporters (which is not technically where the fix is), but at the moment it requires a manual update for every release. I'm working with the web team to remove the manual step.

[2017-05-25 16:15] theotherjimmy commented on #3673
It the mean time we could put a note in that handbook page. Would you like me to do that?

[2017-05-25 16:50] bsrirao commented on #4269
Thanks for the answer @theotherjimmy. Are they work with STM32 System work bench IDE ?

[2017-05-25 19:38] loverdeg-ep opened #4394 "MOTE_L152RC mbedOS 5 Support"
### Description
- Type: Enhancement
- Priority: Minor
----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
Board currently only supports mbedOS 2

**Suggested enhancement**
Update board support for mbedOS 5

**Pros**
Increases number of Lora boards with mbedOS 5 support

**Cons**
Semtech LoRaWAN mac and radio drive

[2017-05-25 19:46] theotherjimmy commented on #4269
I think that question could be either:
1) is STM working on their export support? That's a question for the ST team, but I think the answer is yes.
2) Do the exporters that I listed as workarounds work with SW4STM32? I think so. `eclipse_gcc_arm` will work with all CDT-based eclipse IDEs and `gnuarmeclipse` will work with all GNU ARM Eclpise based IDEs. GNU ARM Eclipse depends on CDT, so it's a st

[2017-05-25 19:58] geky commented on #4386
We did recently put up a pr that reduces the minimum storage needed for the FATfs to 32KB by removing the MBR (related pr https://github.com/ARMmbed/mbed-os/pull/3936). Unfortunately I don't think we can push it much smaller than that.

The FAT filesystem needs to be compatible with PCs, so it's design is a bit inflexible. Here's the standard layout of the FAT filesystem at its smallest (FAT12) fo

[2017-05-26 00:30] toyowata commented on #3673
@theotherjimmy Yes, could you?  Thanks.

[2017-05-26 09:28] chrissnow opened #4396 "STM32: CAN Reset()"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
STM32 (device not important)

**Toolchain:**
ARM

A call to reset() triggers the CAN peripheral reset bit, however the peripheral itself seems to set the sleep bit when this happens.

This means that CAN cannot be used after a call to reset without manually clearing the sleep bit in the

[2017-05-26 09:48] 0xc0170 commented on #4396
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-26 10:27] NeilMacMullen commented on #4386
Thanks @geky.  I can see that trying to enforce a 'top down' size limit would be tricky.  I guess that if the HeadBlockDevice returns a failure at any point the FFS is likely to just be marked as corrupted so I can't practically enforce a 'bottoms up' limit ?

I assume such a thing would have to inherit from FileSystem?  I'm a little unclear how mount is supposed to work though - the Fat implement

[2017-05-26 11:06] 0xc0170 commented on #3404
We came across a failure today again with the exact same problem. As it used to be , seems correct (use 2 timers, one is counting msb, the other one is executing ticker interrupts). The fix proposed here and that was integrated looks fine, just doing it a bit differently (not completely certain how it fixes it,).

One thing I noticed the timer disables just own interrupt, which is fine to protect

[2017-05-26 11:46] 0xc0170 commented on #4269
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-26 12:59] pradeep-gr commented on #3404
cc @danish-iftikhar @danclement @jacobjohnson-ON

[2017-05-26 13:15] 0xc0170 commented on #3404
I should have added this improvement https://github.com/ARMmbed/mbed-os/pull/4094 to my previous comment. this might fix it as it will work even with 16bit timer (no need to have 32bit us ticker).

[2017-05-26 14:00] StefanHri commented on #4091
I have the same problem. Do you have a solution?

[2017-05-26 15:30] thomasonw commented on #4396
A comment in support,
-- @ POR the STM32 CAN devices are placed in sleep by default  (CAN_MCR Reset value: 0x0001 0002).
-- MBED libs  stm32f?xx_hal_can.c, function `HAL_CAN_Init()` clears this bit.
-- STM32F man states software reset will re-enable sleep mode

There may be other configs as well which need cleaning up?  Would it be appropriate for can_reset() to resolve to HAL_CAN_Init() ?

[2017-05-26 22:06] #2412 closed

[2017-05-27 07:00] smarek commented on #1695
@0xc0170 I've described the problems I'm having in ticket #4108

[2017-05-28 04:59] 1807374010 opened #4399 "Error while compiling mbed_retarget.cpp for KL25Z with IAR 8.11"
[Error] mbed_retarget.cpp@911,47: [Pe393]: pointer to incomplete class type is not allowed
[Error] mbed_retarget.cpp@911,15: [Pe393]: pointer to incomplete class type is not allowed
[Error] mbed_retarget.cpp@912,30: [Pe393]: pointer to incomplete class type is not allowed
[Error] mbed_retarget.cpp@912,15: [Pe393]: pointer to incomplete class type is not allowed
[Error] mbed_retarget.cpp@913,30: [P

[2017-05-28 08:54] 1807374010 commented on #4399
I think maybe the mbed-os doesn't support the newest IAR EWARM.In the newest IAR the freescale has been replaced by NXP.

[2017-05-29 07:40] LMESTM commented on #1849
@bridadan as the proposed solution comes from you or your team I'd prefer the issue or PR to come from you guys with your own description.

[2017-05-29 07:49] kjbracey-arm commented on #4391
Why have you enabled those?

As the port stands, the NSAPI C++ layers do not provide SO_BROADCAST, so applications cannot, and do not have to, set SO_BROADCAST to send (or receive) broadcasts. NSAPI requires those flags to be off.

If you were to enable them, to maintain backwards application compatibility NSAPI would have to turn SO_BROADCAST on by default, which would basically defeat the purpos

[2017-05-29 10:21] andreaslarssonublox commented on #2955
We ran the tests again with this SW:
mbed-os: SHA-1: 598cbdf023a4417a6af5cd4a5503b690722d5205
ci-shield: SHA-1: 691997cf918090584844c67f02d866df08b5fe5f

+---------------------------+-------------------+-----------------------+------------------------------------+--------+--------+--------+--------------------+
| target                    | platform_name     | test suite            | test case

[2017-05-29 15:18] LMESTM commented on #1663
@geky @Dieter-Graef  Is this ticket still valid ?

I tried to understand the possible link to ST targets, but this i not obvious.
The ST port layer will only call to netif_input_fn input callback when there is a message, then the intermediate layer will post the message to the mailbox. So if there is no data on the Ethernet link, ST porting layer will not post any message and the timeout would be

[2017-05-29 15:36] adustm commented on #4091
Hello, we are discussing this issue internally. I hope we will be able to help soon.

[2017-05-30 10:44] helmut64 opened #4404 "STM L072CZ_LRWAN1 PC13 Pin missing, target not working in the Online IDE"
The PinNames.h does not specify PC_13, however the PC_13 is available and being connected to the Lora radio DIO3 interrupt which is required. All other Lora Pins are defined.

The DISCO-L072CZ-LRWAN1 taget is selectable for the online IDE, however brings the message:
Error: Target "DISCO_L072CZ_LRWAN1" is not recognised

Once you have it ready I can test my supported SX1276GeneribLib for this boar

[2017-05-30 12:11] 0xc0170 commented on #4404
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-05-30 12:39] 0xc0170 commented on #4399
That is correct. the IAR template files are targeting IAR 7.8, therefore it can happen that IAR 8.x might contain wrong configuration (as you noted NXP change, and possibly others). Please use 7.8 version

I'll close this as it is not supported.

[2017-05-30 12:39] #4399 closed

[2017-05-30 13:35] 0xc0170 commented on #2955
Not yet. The ci test shield repo will go through some updates to address some of the comments above regarding not all pins are available for all peripherals.

Do we need to update https://github.com/ARMmbed/ci-test-shield/blob/master/mbed_app.json to reflect any of these failures (update pins) ?

[2017-05-30 14:16] bcostm commented on #4404
Hi Helmut,

Thanks for the info. For the PC_13 pin, it's a mistake we'll correct it ASAP.

Concerning the error message it is strange because on my side I don't have any problem. I can compile a project with this target without any error. Just to be sure, did you click on the button "Add to your mbed Compiler" and do you use the mbed rev 143 ?

[2017-05-30 14:51] jeromecoutant commented on #2626
Hi
There is no limitation to add.
In MBED, as soon as target enables DEVICE_SERIAL, a default printf is defined for the console.
Default pins are STDIO_UART_TX and STDIO_UART_RX that you can find in PeripheralNames.h file:
#define STDIO_UART_TX  PA_2
#define STDIO_UART_RX  PA_15

So code from @svastm is freeing first this default printf, before using another one.
Maybe another way of working could

[2017-05-30 15:30] NeilMacMullen opened #4407 "Is there a canonical sequence of operations that will always open a (possibly corrupt) FatFileSystem?"
UBLOX_EVK_NINA_B1
GCC_ARM
MbedOS 5.4.5

I have a FatFileSystem mounted on a serial-flash.  I have been unable to find a reliable sequence of operations that will reliably open the filesystem when the flash is in an unknown state.  What I would _like_ to be able to do is...

1) If the flash contains a valid, uncorrupted filesystem image, open it and start using it.
or 2) If the flash is corrupt/unf

[2017-05-30 15:58] helmut64 commented on #4404
Very good, the target is working in the online IDE (I missed to updated mbed fro this project). However it is not listed in the boards list of the mbed web site.

I updated my working Lora PingPong example which supports your board based on my SX1276Generic driver which received support for the Murata lora chip used in the LRWAN1.
http://developer.mbed.org/users/Helmut64/code/STM32L0_LoRa/

I will

[2017-05-30 15:58] #4404 closed

[2017-05-30 16:09] bridadan opened #4408 "C HAL function to check Serial FIFO status"
### Description
- Type: Enhancement
- Related issue: #1849
- Priority: Minor

----------------------------------------------------------------
## Enhancement

**Reason to enhance or problem with existing solution**
When using the Serial API, most implementations take the to-be-transmitted data and place it in the UART hardware's FIFO. At this point the function returns, however there is no way to

[2017-05-30 16:23] bridadan commented on #1849
I'll go ahead and close this since we're tracking the issue in #4408

[2017-05-30 16:23] #1849 closed

[2017-05-30 16:32] theotherjimmy commented on #3673
@toyowata see https://github.com/ARMmbed/Handbook/pull/165

[2017-05-30 18:00] MarceloSalazar commented on #4407
@geky this might be caused by the init/deinit on the block device

[2017-05-31 03:01] kyliuxing opened #4409 "How to write json file when FEATURE_B want call FEATURE_A's function?"
## Question
I create FEATURE_B and i want it depend on FEATURE_A, so how to write the json file in FEATURE_B?
where i can find the document about the json file?
thanks!

[2017-05-31 03:06] kyliuxing commented on #4391
@kjbracey-arm
Thanks for your help, i will find a appropriate way to resolve my problem.

[2017-05-31 03:06] #4391 closed

[2017-05-31 06:41] bcostm commented on #4404
Yes I know and ARM will add it by the end of the week.

And thanks again for your Lora PingPong example.

Just some remarks on this demo: the HSI clock configuration can be removed now in main.cpp because it is already done in system_l0xx.c file, and I think you can use now the macro TARGET_DISCO_L072CZ_LRWAN1.

[2017-05-31 06:50] helmut64 commented on #4404
Yes I will update the project after I completed some additional testing.

[2017-05-31 10:14] andreaslarssonublox commented on #2955
Ok.
I don't think we can fix anything by updating the mbed_app.json since it will only replace pins I guess.

[2017-05-31 14:31] theotherjimmy commented on #4409
https://github.com/ARMmbed/Handbook/blob/5.4/docs/advanced/config_system.md is part of the documentation. In FEATURE_B's mbed_lib.json you could do `"features_add": ["A"]`.

[2017-05-31 20:53] MarceloSalazar opened #4416 "Extend tests for memap"
### Description
- Type: Enhancement
- Priority: Major

----------------------------------------------------------------
## Enhancement

Need to extend tests for memap to catch potential regression problems when parsing multiple memory map files for multiple toolchains.

Depends on: https://github.com/ARMmbed/mbed-os/pull/4392

[2017-06-01 02:15] kyliuxing commented on #4409
thanks for your help!

[2017-06-01 02:15] #4409 closed

[2017-06-01 09:04] LMESTM commented on #4261
@Pliny  Hi - our HAL team is asking if you could provide the ADC configuration that you are using ?

[2017-06-01 09:06] toyowata commented on #3673
@theotherjimmy thanks a lot for this!

[2017-06-01 09:13] sstaub commented on #3359
@theotherjimmy I didn't really know what you mean. There are three boards
in targets.json:
`
    "WIZWIKI_W7500": {
        "supported_form_factors": ["ARDUINO"],
        "core": "Cortex-M0",
        "extra_labels": ["WIZNET", "W7500x", "WIZwiki_W7500"],
        "supported_toolchains": ["uARM", "ARM", "GCC_ARM", "IAR"],
        "inherits": ["Target"],
        "device_has": ["ANALOGIN", "I2C", "INT

[2017-06-01 09:21] scamille opened #4419 "Cannot compile Target NUCLEO_F746ZG with mbed-cli"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug

**Target**
NUCLEO_F746ZG

**Toolchain:**
GCC_ARM

**Toolchain version:**
gcc version 4.9.3 20150529 (prerelease) (15:4.9.3+svn231177-1)

**mbed-cli version:**
1.1.1

**meed-os sha:**
Both non-working:
5fff7e1 Merge pull request #4356 from ARMmbed/release-candidate
88c398b Merge pull request #4377 f

[2017-06-01 09:44] bcostm commented on #4419
I think your GCC compiler is too old to support this CPU.  I have the version 5.4 2016q3 and the compilation is OK on my side.

[2017-06-01 10:30] scamille commented on #4419
Updating to GCC6 for arm-none-eabi using https://launchpad.net/~team-gcc-arm-embedded/+archive/ubuntu/ppa PPA resolved the Issue.

Thanks!

[2017-06-01 10:30] #4419 closed

[2017-06-01 11:29] jeromecoutant commented on #1408
@Willem23 please have a look on #4421
Regards,

[2017-06-01 11:40] jeromecoutant commented on #4384
Hi
Are you using HSE (default configuration) or HSI ?
Regards,

[2017-06-01 12:04] jeromecoutant commented on #1096
Hi
Back to this old issue.
2 things:
- please have a look in #4421
 - as default timeout value in ST official cube is now 100ms (instead of 5s), I will raise a pull request to align our files
Regards,

[2017-06-01 12:17] LMESTM commented on #1701
@sg- @joost-g @bcostm
There is a fix for this issue here - autoamtic tests are running now
anyone willing to do more tests is welcome
https://github.com/LMESTM/mbed/tree/STM32_16bits_tickers

[2017-06-01 12:20] jeromecoutant commented on #4384
@mr63 , please have a look on #4422

[2017-06-01 12:37] LMESTM commented on #2598
@aetheln  @0xc0170
I've pushed a branch with fixes that will apply to F0 family so should fix this issue.
The point is to trigger the event so that it will eb handled in the interrupt, and not call directly the interrupt handler.
Here is the branch with fixes to test: https://github.com/LMESTM/mbed/tree/STM32_16bits_tickers
Anyone could help and confirm the fix is ok ? there is no explanation here

[2017-06-01 12:46] LMESTM commented on #3445
@kristofmulier @adustm @0xc0170  this fix is being applied also as part of #4375

[2017-06-01 13:02] LMESTM commented on #2519
Just tested again with branch being pushed: https://github.com/LMESTM/mbed/tree/STM32_16bits_tickers

+-----------------------+---------------+--------------------------+------------------------+--------+--------+--------+--------------------+
| target                | platform_name | test suite               | test case              | passed | failed | result | elapsed_time (sec) |
+-------------

[2017-06-01 14:25] Pliny commented on #4261
Hi, this issue went away with this checkin: https://github.com/ARMmbed/mbed-os/pull/4263/commits/42f66eec60abc2f750b7c7f4353d5b375d2f9aed

[2017-06-01 14:39] LMESTM commented on #4261
@Pliny  ok thanks, then please close the issue

[2017-06-01 14:41] #4261 closed

[2017-06-01 16:30] theotherjimmy commented on #3359
@sstaub Those devices don't have a `device_name` key in their target data. When I commented last, having that field filled in was required to export for uvision5.

At the moment, the devices should export correctly _offline_ for eclipse_armc5 , eclipse_gcc_arm , eclipse_iar , embitz , gnuarmeclipse , make_armc5 , make_gcc_arm , make_iar , qtcreator , uvision , vscode_armc5 , vscode_gcc_arm and vsc

[2017-06-01 16:32] sstaub commented on #3359
Thank you, we will check it on next releases of PlatformIO

[2017-06-01 16:44] theotherjimmy commented on #3673
Should we close this as a know issue now?

[2017-06-01 18:36] theotherjimmy commented on #4416
Thanks for putting up this issue so that we can track it!

[2017-06-01 19:49] ciarmcom commented on #4416
ARM Internal Ref: IOTMORF-982

[2017-06-02 09:26] RobMeades opened #4428 "UARTSerial enhancement request: flow control"
### Description
- Type:  Enhancement
- Priority: Minor

## Enhancement

#4119 introduced `UARTSerial`, which provides a very neat interface to buffered serial operations.  One thing it is missing, though, is flow control.  If `UARTSerial` receives data faster than it can get rid of it, characters are lost without notice.  This is a particular issue when using the `recv()` method of the equally new

[2017-06-02 09:41] RobMeades opened #4429 "ATCmdParser enhancement requests"
### Description
- Type: Enhancement
- Priority: Minor

## Enhancement

#4119 introduce the new `ATCmdParser`, which is very useful indeed.  However it's lacking some stuff to make it properly usable.  These stuffs are:

1. A method that simply allows URCs to run. Often all the application has to do is wait for the modem to spit out a URC saying it's got something, which will be trapped by a `oob()

[2017-06-02 10:41] LiyouZhou commented on #4301
I am talking about mbed greantea, there is problem with reset and serial communication. @mazimkhan

[2017-06-02 11:57] teetak01 opened #4432 "UBLOX EVK ODIN W2 with LWIP6 ethernet fails on eth.connect() with error -3010"
- Type: Bug
- Priority: Critical

Ublox board reliable fails to get IPv6 address with LWIP6 enabled and using easy-connect.

[code]

In the same network and with same application, K64F is able to connect with IPv6.

[2017-06-02 11:57] teetak01 opened #4433 "Nucleo F429ZI with LWIP6 ethernet fails on eth.connect() with error -3010"
- Type: Bug
- Priority: Blocker

Nucleo board reliable fails to get IPv6 address with LWIP6 enabled and using easy-connect.

[code]

In the same network and with same application, K64F is able to connect with IPv6.

[2017-06-02 11:59] teetak01 commented on #4433
@MarceloSalazar @bridadan @JanneKiiskila

[2017-06-02 11:59] teetak01 commented on #4432
@MarceloSalazar @bridadan @JanneKiiskila

[2017-06-02 12:16] 0xc0170 commented on #4432
@andreaslarssonublox

[2017-06-02 12:37] 0xc0170 commented on #4433
cc @bcostm @adustm @LMESTM @jeromecoutant

[2017-06-02 12:47] JanneKiiskila commented on #4432
easy-connect is public, of course.
https://github.com/ARMmbed/easy-connect
-> using the tip of the master from there.

mbed-os - 5.4.6 release.

[2017-06-02 12:48] JanneKiiskila commented on #4432
Hi,

You can use for example mbed-os-example-client for reproducing this.

https://github.com/ARMmbed/mbed-os-example-client

[2017-06-02 12:49] JanneKiiskila commented on #4433
Hei,

some extra info. Easy-connect, using tip of master, mbed OS 5.4.6 release.
You can use mbed-os-example-client for reproducing the issue.

https://github.com/ARMmbed/mbed-os-example-client

That already has the same things in place.

[2017-06-02 13:06] Willem23 commented on #1408
See comment for #4421

[2017-06-02 13:45] andreaslarssonublox commented on #4432
@JanneKiiskila
Ok, thanks for the error report we will look at shortly.
Internal ref: TE_OM2-61

Do you know if it works for the NUCLEO_F429ZI target?

[2017-06-02 14:08] mazimkhan commented on #4301
@LiyouZhou can you please paste a log here. As per Brian V2J28M18 works.

[2017-06-02 14:18] JanneKiiskila commented on #4432
Nucleo fails as well, see https://github.com/ARMmbed/mbed-os/issues/4433

[2017-06-02 14:35] LMESTM commented on #3855
@markus-becker-tridonic-com
Hi, at the first glance, I wouldn't say this is a bug, and probably not a SW bug.

The Peripherals are clocked asynchronously to the CPU core on which you're debugging SW. When you step over an instruction  for writing a byte over UART, you'd expect the character to go up to the remote device wouldn't you ? So even though the debugger will stop the SW after the executio

[2017-06-02 15:10] jeromecoutant commented on #4384
My first question is still valid :
Are you using HSE (default configuration) or HSI ?
Do you use default NUCLEO board or you changed some jump ?
Thx

[2017-06-02 15:13] mr63 commented on #4384
I am using the default Configuration.

Mark

From: jcostm [mailto:notifications@github.com]
Sent: Friday, June 2, 2017 10:10 AM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Randall, Mark <mr63@evansville.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ARMmbed/mbed-os] Nucleo-f446re 4-6 second Timeout (#4384)

My first question is still valid :
Are you using HSE (default configurat

[2017-06-02 15:13] mr63 commented on #4384
Like said in my post.  The previous version of the library works correctly.

From: jcostm [mailto:notifications@github.com]
Sent: Friday, June 2, 2017 10:10 AM
To: ARMmbed/mbed-os <mbed-os@noreply.github.com>
Cc: Randall, Mark <mr63@evansville.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ARMmbed/mbed-os] Nucleo-f446re 4-6 second Timeout (#4384)

My first question is still valid :
Are y

[2017-06-02 15:19] LMESTM commented on #4300
@adbridge @LiyouZhou  should this be closed now ?

[2017-06-02 19:07] bridadan commented on #4433
@teetak01 We have seen similar issues. Do you have multiple Nucleo F429ZI devices running network tests at once? All Nucleos 429ZI devices have the **same MAC address**, so it can fail to get an address this way.

[2017-06-03 03:32] ronanpaixao commented on #4084
This is pretty much the same as #3606

[2017-06-03 06:38] janjongboom commented on #4344
Ping again @theotherjimmy

[2017-06-04 13:35] #3983 closed

[2017-06-05 05:50] teetak01 commented on #4433
@bridadan Yes we do, multiple devices. Should something like this be implemented for every board if the Hardware does not provide a unique one? https://github.com/ARMmbed/mbed-os/pull/550

[2017-06-05 06:10] teetak01 commented on #4432
This issue seems to be related to #4433 . The Ublox at least makes some effort with the MAC, although its randomization is very weak.

From couple of last runs:
[code]

With high probability there is going to be devices with identical MACs.

[2017-06-05 06:14] JanneKiiskila commented on #4433
Yes, this is a serious problem and really, we should allow any board that doesn't support unique MAC address to be a reference for anything, really. It's not that a difficult thing to implement and one can use for example the unique chip id as the root for that.

[2017-06-05 07:04] TomoYamanaka opened #4440 "Advance notice of folder structure change in under "/targets/TARGET_RENESAS""
@mbedNoobNinja

Hello, we are Renesas mbed team.

We will release a new mbed board that mounts RZ/A1.
Related to that, we consider that would like to share common codes in the code below HAL in mbed-os.
The structure that we would like to change is under `/targets/TARGET_RENESAS`, we show its structure in the below.

New folder structure will be merged by end of Sep.
So, please let me know if ther

[2017-06-05 07:07] jeromecoutant commented on #4433
Hi
Note that ST doesn't provide any MAC address for any boards.
You have to code it.

[2017-06-05 07:34] JanneKiiskila commented on #4433
Why?

[2017-06-05 08:09] SeppoTakalo commented on #4433
I'm not sure that I'm looking at the correct location, but for me it looks like the functionality is already there:

https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip-eth/arch/TARGET_STM/stm32xx_emac.c#L480
https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwip-eth/arch/TARGET_STM/stm32xx_emac.c#L498

Similar to NXP boards (K

[2017-06-05 08:36] andreaslarssonublox commented on #4432
@teetak01 The ethernet MAC address for ODIN is stored in OTP during production so it shall always be unique and does not change between reboots. Just to be sure, are you using only one board in the test setup above for the test runs?

[2017-06-05 08:53] JanneKiiskila commented on #4432
@andreaslarssonublox  - does this also apply for the Ethernet?

[2017-06-05 08:59] andreaslarssonublox commented on #4432
@JanneKiiskila Yes, it's stored in OTP for both ethernet and Wi-Fi.

[2017-06-05 09:11] teetak01 commented on #4432
@andreaslarssonublox you are right. We have multiple boards in CI and I went through the logs. Each device is having correctly unique MAC, which is preserved between jobs.

So, this issue is something else than what we are seeing with the Nucleo-board.

[2017-06-05 09:29] tommikas opened #4442 "Multicast group leave and join socket opts are unusable with mbed-mesh-api."
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

The Nanostack socket option to join or leave multicast groups requires Nanostack's internal network interface ID. This is hidden from the application logic inside mbed-mesh-api so these socket options are unusable using the netsocket API.

[2017-06-05 09:31] tommikas commented on #4442
I don't think this is quite a duplicate of #4034 but related in that if an abstraction for common socket options such as suggested there was implemented, these could perhaps be included in the list.

[2017-06-05 09:39] tommikas opened #4443 "Implement recvmsg support for netsocket API"
### Description
- Type: Enhancement
- Priority: Minor

---------------------------------------------------------------
## Enhancement

Without support for `socket_recvmsg` for example resolving the destination address of a received UDP packet is not possible. This is needed to distinguish between multiple multicast groups when receiving on a single socket.

Currently at least nanostack provides `s

[2017-06-05 11:01] 0xc0170 commented on #4443
cc @kjbracey-arm @geky

[2017-06-05 11:04] 0xc0170 commented on #4442
cc @SeppoTakalo

[2017-06-05 12:11] SeppoTakalo commented on #4442
Well.. I feel like this is a duplicate of the linked issue.
There is no portable socket options in mbed OS.

[2017-06-05 12:27] jeromecoutant commented on #4433
Yes, MAC coding is already there.

@bridadan

This is not normal.
Is it possible to display this MAC address in one test?
And ideally add this kind of code:

uint32_t ST_UID[3] = {0};
HAL_GetUID(ST_UID);
printf("Unique ID %08x %08x %08x\n", ST_UID[0], ST_UID[1], ST_UID[2]);

[2017-06-05 12:28] tommikas commented on #4442
That issue is more about having to use the stack specific API directly, which is how it was intended to be used when it comes to socket options so it's mostly a non-issue. What @karsev wanted to do could easily be achieved with the APIs as they are.

This is a bit different in that these specific options simply can't be used because the stack abstraction in mbed-mesh-api makes it impossible by hid

[2017-06-05 12:31] tommikas commented on #4442
[From the linked issue](https://github.com/ARMmbed/mbed-os/issues/4034#issuecomment-289512203):

This issue with these socket options exists with Nanostack, but would it necessarily exist with other network stacks?

[2017-06-05 12:50] teetak01 commented on #4433
It most likely is not MAC issue. I checked our logs from couple of last days:

Board | MAC
------------ | -------------
079602210B2668133462FEB8 | 00:80:e1:2b:00:20
079602210B2668133462FEB8 |  00:80:e1:2b:00:20
079602210B2068073464FEAC |  00:80:e1:2d:00:34
079602210B3368093477FEA2 | 00:80:e1:3e:00:3a
079602210B3368093477FEA2 | 00:80:e1:3e:00:3a

So a specific board always has its own unique ID.

[2017-06-05 13:20] LMESTM commented on #4217
@cesarvandevelde @bcostm will be fixed with #4424

[2017-06-05 13:26] LMESTM commented on #3932
@kjbracey-arm @0xc0170 PR with fix has been merged - may you close the issue ?

[2017-06-05 14:09] theotherjimmy commented on #4440
@TomoYamanaka  That seems fine. I don't forseee the build system having any problems with that.

Would you also like an advance review of your changes to targets.json?

[2017-06-05 14:13] theotherjimmy commented on #4440
https://github.com/ARMmbed/mbed-os/compare/master...TomoYamanaka:Feature_LYCHEE That's the diff with master. Your branch seems to be a bit behind, and it would not be accepted if you submitted a PR right now.

[2017-06-05 15:02] LMESTM commented on #4262
@Pliny @betzw  As the previous patch from @betzw has been reverted, shall we close this ticket as well ?

[2017-06-05 15:38] 0xc0170 commented on #4429
cc @hasnainvirk @kjbracey-arm

[2017-06-05 15:38] 0xc0170 commented on #4428
cc @hasnainvirk @kjbracey-arm

[2017-06-05 15:40] #3932 closed

[2017-06-05 15:51] Pliny commented on #4262
yes, should be closed

[2017-06-05 15:51] #4262 closed

[2017-06-05 16:12] hasnainvirk commented on #4428
@RobMeades Yes this work item is on the to-do list. We are even thinking a step further:
 - HW/HW flow control
 - HW/SW flow control
 - SW flow control (XON/XOFF)

@kjbracey-arm will be the architectural planner. Thank you for highlighting this.
You can keep this open for traction.

[2017-06-05 16:28] bridadan commented on #4433
I ran some tests locally, turns out I was mistaken, thanks for not taking my word for it @teetak01!

Did this bug start appearing on 5.4.6? Was it ok with 5.4.5?

[2017-06-05 16:31] teetak01 commented on #4433
I have not tested with much older code. We recently enabled IPv6 tests with this board.

[2017-06-05 16:47] LiyouZhou commented on #4301
[code]

[2017-06-05 16:47] LiyouZhou commented on #4301
I think brian is working on windows where I am using  a mac.

[2017-06-05 17:03] bridadan commented on #4433
We unfortunately do not have an IPV6 network. The best we have is a test router that can assign IPV6 addresses. After a few tests, it seems like the NUCLEO board can get IPV6 addresses. How often does this happen? We've seen similar issues with this board on IPV4 in the Austin CI, so we'd definitely like to track down the problem!

[2017-06-05 17:21] marcuschangarm commented on #4300
I'm happy to consider this resolved.

[2017-06-05 17:34] adbridge commented on #4300
@JanneKiiskila Are you also happy to close this now ?

[2017-06-05 19:03] bridadan commented on #4301
@LiyouZhou Are the following lines from the log coming from your application? These are being received from the device. It is not normal for the test `mbed-os-tests-integration-basic` to be printing these messages.
[code]

[2017-06-05 19:07] bridadan commented on #4301
Ah, it seems that those are debug prints that are coming from the STM hal. What version of mbed OS are you using? If you have the project uploaded somewhere, could you send it to me?

It looks like greentea is receiving `printf`s from the device, however the device is not responding to the `sync` commands. If you're using any released version of mbed OS though this shouldn't be an issue of the dev

[2017-06-06 01:04] TomoYamanaka commented on #4440
@theotherjimmy

Thank you for your comments.

Thank you.
Please let me know if there is any problem.
I will reflect its comments when I PR.

That's right. I understand that this branch is not up to date.
This branch is based on mbed-os-5.4.3 for some development.
For now, I will PR by end of Aug. At that time I will PR this branch after merge the latest master.

[2017-06-06 05:14] teetak01 commented on #4433
I our network, it happens every single time. Never seen IPv6 connect to pass on this board. K64F has no issues.

[2017-06-06 07:32] JanneKiiskila commented on #4433
Can someone give us some tips what LWIP or other logs we should enable in mbed OS and HOW to see where the exact point of failure is?

[2017-06-06 07:42] JanneKiiskila commented on #4432
We would greatly appreciate any pointers on how to enable the right logs in LWiP that could reveal the true root cause for this problem.

[2017-06-06 08:38] adamgreen opened #4456 "RTX5 Semaphore Observations"
I was recently reviewing the latest changes in the [CMSIS5 feature branch](https://github.com/ARMmbed/mbed-os/tree/feature_cmsis5) and I noticed a few things in the semaphore code that I thought I would bring up here to get community feedback.

## osSemaphoreRelease() API Description
The documentation for the osSemaphoreRelease() in [cmsis_os2.h](https://github.com/ARMmbed/mbed-os/blob/c674ee2290a

[2017-06-06 09:21] LiyouZhou commented on #4301
Ok Lets try again:
[code]

[2017-06-06 09:23] mbedNoobNinja commented on #4440
@TomoYamanaka  that's great, we are glad you are considering that.

We will be able to run the tests not sooner than 2-3 weeks.

[2017-06-06 09:25] jeromecoutant commented on #4301
Hi
You are pointing on the top of master branch.
We got several issues since #4294 merge...
Please set mbed-os before this merge, and try again
Thx

[2017-06-06 09:48] LiyouZhou commented on #4301
@jeromecoutant can you give me a release version to use?

[2017-06-06 09:49] LiyouZhou commented on #4301
@jeromecoutant just tested using 5.4.4, same issue.

[2017-06-06 09:54] LMESTM commented on #4301
@LiyouZhou @bridadan reported issue related to some printf. Those debug printf come from spi driver when DEBUG_STDIO is defined. I thought this define should be defined on per file basis - is this defined for your complete project?

[2017-06-06 09:57] LiyouZhou commented on #4301
@LMESTM see the newest log, I have re-done this with a clean mbed-os project, no modifications.

[2017-06-06 10:32] andcor02 opened #4457 "NXP K22F RAM issue"
Hi just a quick heads up,

It seems when building any example with the NXP K22F that from the build information it reports that the max RAM size for the program can be 32kB, even though the K22F supports 128kB.

This was originally flagged up here:

https://developer.mbed.org/questions/78201/Fix-K22F-Ram-size-it-should-show-128K-bu/

Regards,

Andrea

[2017-06-06 10:35] andcor02 opened #4458 "mbed OS support USBDevice feature on nRF52840 ?"
This is a common recurring question, what are the plans for USBDevice for devices and mbed os.

Specifically the nRF52840 mbed enabled board, is this available in the future for USBDevice?

This has been flagged here: https://developer.mbed.org/questions/78204/Will-the-mbed-OS-support-USBDevice-featu/

Regards,

Andrea

[2017-06-06 10:40] 0xc0170 commented on #4457
cc @theotherjimmy

[2017-06-06 10:43] TomoYamanaka commented on #4440
@mbedNoobNinja

Thank you for your comments.

We are looking forward to your test result.
<br><br>

By the way,
Do you know that Cortex-A do **not support in mbed OS 5.5** which will be released in end of June?
Cortex-A **will be supported in mbed OS 5.6**. But until then, mbed boards of cortex-A need to use mbed OS 5.4.
Result of discussion with ARM mbed team, we agreed with them to output the be

[2017-06-06 11:53] jeromecoutant opened #4459 "STM32 - TIMEOUT issue since CMSIS5 merge"
### Description
Since #4294 merge, we got many issues with STM32 targets.

Tests are still on going, but it seems that:
- OS2 tests status are all TIMEOUT for F4/F0/F7
- OS5 tests status are OK with F4/F7
- OS5 tests status are TIMEOUT with F1

**Toolchain version:**
All

**mbed-cli version:**
1.1.1

[2017-06-06 11:53] jeromecoutant commented on #4459
ex :

mbedgt: greentea test automation tool ver. 1.2.5
mbedgt: test specification file 'C:\github\mbed\BUILD\tests\NUCLEO_F103RB\GCC_ARM\test_spec.json' (specified with --test-spec option)
mbedgt: using 'C:\github\mbed\BUILD\tests\NUCLEO_F103RB\GCC_ARM\test_spec.json' from current directory!
mbedgt: detecting connected mbed-enabled devices...
mbedgt: detected 1 device
        +---------------+----

[2017-06-06 11:54] jeromecoutant commented on #4459
@0xc0170 @bcostm @LMESTM @bulislaw

[2017-06-06 12:05] bcostm commented on #4459
OS2 tests are also in TIMEOUT for all L4 devices

[2017-06-06 12:17] 0xc0170 commented on #4459
Thanks for the report, I'll test one of the devices . I test today mbed os 5 test, not mbed 2. will check. What is interesting it is all toolchains and some devices.

All tests also (rtos, or even baremetal for mbed 2 ) ?

[2017-06-06 12:22] LMESTM commented on #4459
Also bare metal mbed2 tests are showing the problem.
It looks like we end up in the Default_Handler - has there changes in CMSIS concerning interrupts ? vector ?

[2017-06-06 12:41] 0xc0170 opened #4460 "project.py - the files are missing in the exported project"
### Description
- Type: Bug
- Priority: Major

Running
[code]

Results in 2 projects (one zipped, one in the build folder). None of these 2 projects build however. The first in the root has wrong file paths . In this case it is for uvision. The second zipped project has paths correctly set, but cant find all the header files (receiving error core_cm4.h not found, it is not in the zipped archive).

[2017-06-06 13:09] JanneKiiskila opened #4461 "Realtek Ameba does not implement FlashIAP"
### Description
- Type: Bug
- Related issue: `#abc`
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
RealTek Ameba -
mbed compile -m REALTEK_RTL8195AM

**Toolchain:**
N/A

**Toolchain version:**
N/A

**mbed-cli version:**
(`mbed --version`)
1.1

**meed-os sha:**
(`git log -n1 --oneline`)
mbed-os-5.5-rc1
commit 92fbf2a9b3988d430482fc25a6077f246

[2017-06-06 13:09] JanneKiiskila commented on #4461
@MarceloSalazar @avolinski @marcuschangarm @0xc0170 - please note.

[2017-06-06 13:22] theotherjimmy commented on #4460
@0xc0170 exporting of tests is not currently supported. I will submit a PR to disable those flags.

OTOH, You have to remember that tests do not compile with the root of mbed. They have there own series of paths.

[2017-06-06 13:24] theotherjimmy commented on #4457
@immunda Do you know where this information is stored?

[2017-06-06 13:36] bcostm commented on #4339
Hi @pmancele
The Cube L4 has been updated in #4351. Are you happy to close this issue now ? Thanks.

[2017-06-06 13:46] JanneKiiskila opened #4462 "Realtek Ameba not linking"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug
- Related issue:
- Priority: Blocker

---------------------------------------------------------------
## Bug

**Target**
Realtek Aemba

**Toolchain:**
GCC_ARM

**Toolchain version:**
[code]

**mbed-cli version:**
(`mbed --version`)
mbed --version
1.1.1

**meed-os sha:**
(`git log -n1 --one

[2017-06-06 13:46] JanneKiiskila commented on #4462
@0xc0170 @avolinski @yogpan01 - please note this one as well, next hurdle then...

[2017-06-06 14:26] 0xc0170 commented on #4462
cc @Archcady

[2017-06-06 14:48] bridadan commented on #4433
@teetak01 We were able to reproduce the issue on your network using your test setup. @geky did some investigation yesterday, not sure the current status. Maybe he can provide some details?

[2017-06-06 15:00] 0xc0170 commented on #4461
cc @Archcady - I could not locate the flash IAP on the branch, was it implemented?

[2017-06-06 15:00] pmancele commented on #4339
Hi @bcostm Yes, thank you for the update !
Thanks to it, we managed to port our board base on STM32L476ZG without loosing compatibility with other boards.

Regards

[2017-06-06 15:00] #4339 closed

[2017-06-06 15:01] bridadan commented on #4432
There's a high probability that the fix for #4433 will also be the fix for this issue. Let's keep the conversation on #4433 for now and we'll update this one after more investigation.

[2017-06-06 15:04] 0xc0170 commented on #4460
How to debug the test then ? :-)

[2017-06-06 16:23] LMESTM commented on #4459
@bulislaw @0xc0170
1 update, as we end up in Default_Handler I suspected an issue with the interrupt vector.

In #4294, there is a change to move all platforms from target specific implementation to CMSIS implementation.
https://github.com/ARMmbed/mbed-os/pull/4294/commits/b97ffe8fdce9473138b0b05984658fe5dc7c7713

But those implementations are not the same. I actually moved back to the previous im

[2017-06-06 16:24] geky commented on #4433
Sorry about not leaving an update yesterday, we were able to reproduce the issue pretty consistently on the Oulu network, though we can't reproduce the issue locally.

It's a bit hacky at the moment (needs to be moved into a config file) but you can enable lwip tracing by enabling LWIP_DEBUG ([here](https://github.com/ARMmbed/mbed-os/blob/master/features/FEATURE_LWIP/lwip-interface/lwipopts.h#L71)

[2017-06-06 16:45] theotherjimmy commented on #4460
Build with the debug profile? and use the elf? Maybe create a simple example program and debug that?

[2017-06-06 18:43] bridadan commented on #4301
@LiyouZhou I tried to reproduce this issue on an Ubuntu 16.04 VM (Windows 10 host) and I wasn't able to using the latest STLink firmware. My steps were as follows:

[code]

Perhaps we should setup a Skype call you so you can walk me through your environment?

[2017-06-06 19:00] geky commented on #4433
Ok, so the rrcp doesn't seem to be the problem, I created similar traffic locally and the NUCLEO_F429ZI didn't have any issues.

We also tried a different mac addresses without success.

I'm not really sure what the issue is, somewhere dhcp packets just aren't getting to the nucleo. At this point the best way to progress would be to create a log of ethernet traffic, that would quickly narrow down

[2017-06-07 00:54] adamgreen opened #4486 "Weird crashes caused by software_init_hook() being marked as naked."
## Severity
This is blocking for anyone building mbed 2 (no RTOS) projects with GCC.

## Branch Encountered
I hit this issue when testing code from the feature_cmsis5 branch but I see the offending code is now in the **master** branch as well.

## Description
If I build the latest sources with MBED_CONF_RTOS_PRESENT undefined then I hit weird hard faults. Upon debugging the cause of the crash it t

[2017-06-07 00:58] #4363 closed

[2017-06-07 01:00] #4189 closed

[2017-06-07 03:11] Archcady commented on #4462
I think we didn't switch on our TCM section so it does not have much space for user code. The possible solution for this is to switch on TCM usage.

[2017-06-07 05:34] JanneKiiskila commented on #4462
Whatever it takes!

[2017-06-07 06:54] Archcady commented on #4462
Hi @JanneKiiskila  I switch on the TCM usage here #4487 in order to resolve this issue. Please try the test again, thank you.

[2017-06-07 06:54] 0xc0170 commented on #4486
Thanks @adamgreen , I'll have a look at this and fix it. There was a report earlier from ST that they are hitting timeouts in the test, this might explain it.

[2017-06-07 08:12] LMESTM commented on #4459
@bulislaw @0xc0170 I'd need your feedback / help
I found out that the copy is now supposed to be done in mbed_cpy_nvic from mbed_boot.c file.
But I'm not sure how and when it will actually be called
in case of MBED2 test ?
also because it is conditionally call only if
 #if !(defined(FEATURE_UVISOR) && defined(TARGET_UVISOR_SUPPORTED))
so what if TARGET_UVISOR_SUPPORTED is not defined ?  Is this su

[2017-06-07 08:33] 0xc0170 commented on #4459
@LMESTM I am looking at this. One related issue is also : https://github.com/ARMmbed/mbed-os/issues/4486

The nvic copy was moved and have to check if we did not keep it in the mbed 2 code. It might be the cas,e I'll fix it and provide it also and test. I started looking at it yesterday however was having tools issues to setup the test cases to debug the timeouts (were able to reproduce).

[2017-06-07 08:34] andreaslarssonublox opened #4488 "Hardcoded values for debug UART pins in TARGET_MCU_NRF52832"
### Description
We have development board that is based on NRF52 called UBLOX_EVK_NINA_B1. However we have different UART pins for the debug UART compared to the NRF52_DK board.
In the file sdk_config.h and nrf_drv_config.h those UART pins are hard-coded which makes it difficult for us to add our board with a working debug UART. See targets/TARGET_NORDIC/TARGET_NRF5/TARGET_MCU_NRF52832/sdk_patch/s

[2017-06-07 10:01] kjbracey-arm commented on #4428
Looking through the targets, it seems almost every target does implement the set_flow_control() API via hardware assist, so maybe we don't need to worry about software-controlled version in the first pass.

However, XON/XOFF could be useful for the cases where RTS and CTS aren't connected - which is actually quite common.

So maybe we just don't bother with the middle case (RTS and CTS handled as

[2017-06-07 10:23] RobMeades commented on #4428
Sounds good to me.

[2017-06-07 10:25] LiyouZhou commented on #4301
@bridadan ok, i have also verified that it works on ubuntu. So it is a problem with MAC. Can you get hold of anybody in Austin with a MAC to verify this for you?

[2017-06-07 10:59] saeedhadi commented on #470
we have same problem with frdm-kl25z board that usbcdc and rtos not work togather
any one can help me?
if any one know that sequence boot of rtos and pheripheral maybe i wil find the problem.

[2017-06-07 12:24] kyliuxing opened #4492 "How to wake up a thread when it call osdelay(oswaitforever);"
## Question
I will call osdelay() to make a thread to sleep , but if i use oswaitforever as argument, how can i wake it up?

[2017-06-07 12:53] kyliuxing commented on #4492
another question, I can't delete a message queue or mail queue, right?

[2017-06-07 13:15] nvlsianpu commented on #4488
Thanks for description. Issue tracked internally.

[2017-06-07 13:23] 0xc0170 commented on #4459
@LMESTM Thanks for the description above. Seems like this is the issue, and there might be more. I am currently reviewing all previous vtor reallocations.

To align with all these, we should provide default implementation for vtor reallocation (as it is in mbed 5),  and targets that do not support it, should provide own implementation (do not define NVIC_RAM_VECTOR_ADDRESS in case its non cortex-m

[2017-06-07 13:33] LMESTM commented on #4459
@0xc0170 ok thanks.waiting for the outputs of your review?

So you'll add-up this implementation ? and make it called in case of MBED2 as well ?
Even in MBED5, I think this is not called for now because of the UVISOR related compilation switches.

This part is not so clear yet. Maybe you'll provide more details about the default implementation and list of targets that do not support this default i

[2017-06-07 14:21] jeromecoutant commented on #4384
Hi
I don't understand...
Default board configuration is using HSE: after reset, you start immediatly with HSE, no delay is observed.
If your HSE is not working, SetSysClock procedure is waiting for the HSE timeout value, and then start with HSI/MSI: this timeout value was 5s which was a wrong value, #4422 is correcting this.

[2017-06-07 14:37] jeromecoutant commented on #4384
Hi
This is also coherent with your description:
With MBED revision 132, HSE timeout value was 200 ms,
with MBED revision 133, HSE timeout value has been set to 5s

[2017-06-07 15:17] bridadan commented on #4301
@LiyouZhou There's a few folks here who have Macs, I'll try to corner them today and see what I find.

[2017-06-07 17:32] bridadan commented on #4301
OK, I was able to reproduce this error on a MAC. It's not a problem with the test tools specifically, it looks like the MAC isn't sending any data to the device. I wrote a simple echo program and I wasn't getting any echoed characters on the MAC, but when I tested on Windows I was able to get some echoed characters back. It will take a little more debugging to figure out where the failure is happe

[2017-06-07 20:44] bridadan commented on #4301
So the crazy thing is, I can't reproduce it any more. I tested on two different Mac machines running 10.12.5.

I hooked up my logic analyzer to the ST-Link serial pins and I could see the serial data coming across just fine.

@LiyouZhou Are you able to print form the device just fine using a serial terminal? And can you receive data over that same serial line? If you're still having this problem a

[2017-06-08 12:57] pan- commented on #4456
First of all, many thanks for this detailed report.

## osSemaphoreRelease() API Description

This API has been improved (and fixed). In the previous version it was possible to release not provisioned tokens and therefore increase the total number of tokens available for the semaphore up to 65535 tokens( 😱 [here](https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.4.7/rtos/rtx/TARGET_CORTEX_M/rt_CMS

[2017-06-08 13:16] 0xc0170 commented on #4456
cc @RobertRostohar @JonatanAntoni

[2017-06-08 14:42] 0xc0170 commented on #4459
I got a default implementatin that I send soon, that should fix lot of targets. The rest needs to be investigated, I'll provide some details here so we can find a solution.

(I was debugging failures since yesterday, just found another issue that I'll address separately)

[2017-06-08 14:45] jeromecoutant commented on #4459
Thx
You should also find how this big issue could pass the CI without any failure...

[2017-06-08 20:28] sarahmarshy opened #4505 "OnBoardCellularInterface fails for CDMA radios."
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
MTS Dragonfly
Module : MTQ-EV3-B01
**Toolchain:**
GCC_ARM|ARM|IAR

**Expected behavior**

Device connects

**Actual behavior**

Device fails to connect
Here is the log:
[code]

**Steps to reproduce**

Use an MTS dragonfly with a CDMA radio and this repo - https://github