[2018-07-18 12:59] bcostm opened #7538 "mbed-os-example-blinky does not build on mbed IDE"
### Description

mbed-os revision: 50bd61a

Error: Symbol __user_perthread_libspace multiply defined (by /build/mbed-os.lib/rtos/TARGET_CORTEX/rtx5/RTX/Source/rtx_lib.NUCLEO_F412ZG.o and /build/mbed-os.lib/rtos/TARGET_CORTEX/mbed_boot.NUCLEO_F412ZG.o).
Error: Not enough information to list the image map.
Info: Unable to download. Fix the reported errors...

Tested with NUCLEO_F412ZG and DISCO_L496

[2018-07-18 14:16] theotherjimmy commented on #7155
Sorry about that @TomoYamanaka

#7410 is not related to this. It may look like it because "exporter" but that's where the relevance stops.

-------------------------

Here's some pointers that may help you resolve the problem yourself:
 * https://github.com/ARMmbed/mbed-os/blob/master/tools/export/e2studio/.cproject.tmpl#L355-L357: The part of the template that deals with the linker flags
 * https

[2018-07-18 14:20] marcuschangarm commented on #7454
Yes, please. But open the issue on mbed-os.

[2018-07-18 14:44] 0xc0170 commented on #7538
5.9.3 should have fixed it. I've just reproduced this, we will investigate

This should fix it https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.9/rtos/mbed_lib.json (already part of 5.9.3 release)

@theotherjimmy

[2018-07-18 15:22] 0xc0170 commented on #7506
Thanks @TacoGrandeTX , this should be now resolved

[2018-07-18 15:22] #7506 closed, assigned to nobody

[2018-07-18 15:27] #7454 closed, assigned to nobody

[2018-07-18 15:31] drahnr commented on #7433
@theotherjimmy  Yep that was a copy paste mistake on my end, but it already fails with the first command. The `mbed_config.h` only inlcudes the config values of my application but but nothing regarding the softdevice.

When I add a `-v` to the pool, I see that the `-DS132` is in there which is causing the issue.

[code]
which implies that my `app_config.json` is not read completely.
*[Mirrored to

[2018-07-18 15:39] #6954 closed, assigned to nobody

[2018-07-18 15:45] 0xc0170 commented on #7513
Thanks for reporting back. We will check this once we update to IAR 8

[2018-07-18 15:49] AGlass0fMilk commented on #7433
I noticed your custom target inherits from `NRF52_DK`

I had issues when doing this as well, since the recent SDK14.2 update introduced an mbed_lib.json for the NRF52 targets. Inadvertently, some macros/features get added that you wouldn't expect since you are inheriting from the NRF52_DK. See comments on this issue #6824

This may not be the cause of your problem but it may cause other issues in

[2018-07-18 15:49] mattbrown015 commented on #7126
@theotherjimmy sorry to start going over old ground but the comments above confused me a bit...

Just to be clear, placing a linker script in custom target folder is the correct thing to(?).

I created `TARGET_MYTARGET\my-script.ld` and it appeared to be found and used.

The warning I get is *by design* and the issues discussed above are because, for a while, an **error** occurred.

    Warning: M

[2018-07-18 15:52] ciarmcom commented on #7538
ARM Internal Ref: MBOTRIAGE-1304

[2018-07-18 15:52] ciarmcom commented on #7537
ARM Internal Ref: MBOTRIAGE-1305

[2018-07-18 15:53] 0xc0170 commented on #7497
As targets in CI do not neither , I am closing this.

@jeromecoutant Thanks for testing!

[2018-07-18 15:53] #7497 closed, assigned to nobody

[2018-07-18 15:55] 0xc0170 commented on #7193
👍  this is part of the release process. This should be now resolved (can be confirmed on master via building mbed library for this target)

[2018-07-18 15:55] #7193 closed, assigned to nobody

[2018-07-18 16:17] davidsaada commented on #7535
@ganesh-ramachandran Can you check if [#7465](https://github.com/ARMmbed/mbed-os/pull/7465) resolves the first 4 tests? 5th test should be handled separately.

[2018-07-18 16:21] deepikabhavnani commented on #7115
@SenRamakri - Error handling test is failing for few devices, in case of multi-thread test case, does it make sense to reduce the stack size (320) and thread count (3) for this test ?

[2018-07-18 17:12] edablan opened #7541 "UBLOX EVK-NINA-B1 (nRF52832) BLE_HeartRate example not working"
### Description

I cloned the mbed-os-example-ble repo, then deployed the mbed-os inside BLE_HeartRate example. I compiled both in the mbed-cli using the IAR compiler, as well as exporting to IAR IDE to build and saw the same behavior. The EVK-NINA-B1 will advertise with the correct name "HRM", but when trying to connect using an iOS, android, or windows device it fails to connect. I continue to r

[2018-07-18 17:58] studavekar opened #7542 "NUMAKER_PFM_M2351 serial communication is broken on linux."
### Description

NUMAKER_PFM_M2351 serial communication is broken on linux. It works well on windows 10

**Host machine info**
lsb_release -a

[code]
uname -a
`Linux austin-ci-linux-002 4.15.0-24-generic #26~16.04.1-Ubuntu SMP Fri Jun 15 14:35:08 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

NUMAKER_PFM_M2351

**Toolchain:**
ARMC6

**mbed-os sha:**
e9e1ff9 Merge pull request #7302 from OpenNuvoton/nuv

[2018-07-18 18:03] drahnr commented on #7433
@AGlass0fMilk I am aware, but for the time being I am limited to 5.7, where this is still fine.
*[Mirrored to Jira]*

[2018-07-18 18:03] bentcooke commented on #7511
I have also experienced this issue on the MAX32625MBED and MOTE_L152RC platforms in the past week.

Python 2.7.13
mbed-cli (1.7.5)
mbed-cloud-sdk (1.2.8.970)
mbed-flasher (0.8.0)
mbed-greentea (1.4.0)
mbed-host-tests (1.4.0)
mbed-ls (1.4.6)

*[Mirrored to Jira]*

[2018-07-18 18:05] theotherjimmy commented on #7126
@mattbrown015 Yes, the warning is by design, as we can probably arbitrarily pick a linker script. There may have been an error in the past, yes.

[2018-07-18 18:15] theotherjimmy commented on #7433
@AGlass0fMilk Good pointers. I'm pretty sure that explicitly using `--app-config` would force the application configuration to be used, even in 5.7.
*[Mirrored to Jira]*

[2018-07-18 18:34] bmcdonnell-ionx opened #7543 "RTC user must call undocumented function"
### Description

In order to use the C time functions as documented ([time](https://os.mbed.com/docs/v5.9/reference/time.html), [RTC](https://os.mbed.com/docs/v5.9/reference/rtc.html)), I first had to call `attach_rtc(rtc_read, rtc_write, rtc_init, rtc_isenabled);` - which is not documented.

Can you modify Mbed OS so that the user won't have to make this function call, without wasting power or co

[2018-07-18 18:37] deepikabhavnani commented on #7223
Closing now

[2018-07-18 18:37] #7223 closed, assigned to nobody

[2018-07-18 18:48] deepikabhavnani commented on #7542
CC @cyliangtw @ccli8

[2018-07-18 19:08] drahnr commented on #7433
@theotherjimmy that's already given above and it does not work
*[Mirrored to Jira]*

[2018-07-18 19:16] theotherjimmy commented on #7433
@drahnr When you say "it does not work" that can mean many things:
 * It does not accept the option.
 * Nothing in the app config has an affect.
 * Part of the app config have an affect, but others don't.

Could you be more specific?
*[Mirrored to Jira]*

[2018-07-18 19:51] ciarmcom commented on #7542
ARM Internal Ref: MBOTRIAGE-1309

[2018-07-18 19:51] ciarmcom commented on #7541
ARM Internal Ref: MBOTRIAGE-1310

[2018-07-18 20:28] edablan opened #7546 "BLE_HID (HID over GATT) using latest BLE_API"
### Description

-Nordic NRF52, NRF51; NUCLEO_F401RE; same as the current mbed-os-example-ble repo supports
-GCC,ARM,IAR, etc
-mbed-os-5.9.x

The mbed-os-example-ble repo contains great examples to get started. However, it seems to be missing an important service that is supported by the BLE SIG, BLE HID. It seems to have been originally supported as additional library code for mbed, but subsequen

[2018-07-18 21:41] SenRamakri commented on #7476
@danieljabailey and @0xc0170 - I did some research around this and it appears its carried over from older mbed-os versions. So, its more like historical reasons I would say and may be an attempt to keep backward compatibility. We may clean this up in future after more investigation but at this point I would close this issue as we have answered the question.

[2018-07-18 21:41] #7476 closed, assigned to nobody

[2018-07-18 23:51] ciarmcom commented on #7546
ARM Internal Ref: MBOTRIAGE-1313

[2018-07-19 00:26] neelbagora opened #7547 "Is there a way to check for an active socket connection?"
### Description

### Issue request type

[x] Question
[ ] Enhancement
[ ] Bug

[2018-07-19 03:51] ciarmcom commented on #7547
ARM Internal Ref: MBOTRIAGE-1316

[2018-07-19 06:26] jeromecoutant commented on #7521
Hi
Is it reproducible ?
Even after unplugging board ?

[2018-07-19 06:59] bcostm commented on #7538
I didn't see it was already mentioned in Issue #7422

Another workaround for the moment, is to add the `_RTE_` macro using [Compile] > [Compile macros]  in the mbed IDE.

[2018-07-19 07:25] drahnr commented on #7433
@theotherjimmy none of the remove features/defines have an effect when building the library.
*[Mirrored to Jira]*

[2018-07-19 07:36] samchuarm commented on #7257
Hi @M-ichae-l , any update on the PR?

[2018-07-19 07:47] M-ichae-l commented on #7257
@samchuarm
I will PR "remove the DEVICE_EMAC" today. The rtl8195am lib update will together with low power feature in future.

[2018-07-19 08:29] mattbrown015 commented on #7126
@theotherjimmy words like 'arbitrary' are a bit of a problem in the context of a build system :-}

Are you suggesting it may use the custom target linker script **or** it may use the base target linker script, depending on which one it found first?

If this is the case it sounds like a problem to me.  Hopefully you don't mean this and it knows the custom target is more important but the warning is

[2018-07-19 08:43] 0xc0170 commented on #7541
cc @ARMmbed/team-ublox

[2018-07-19 08:48] drahnr commented on #7126
Event the warning is a bit of a red hering and not clear _which_ linker script is used at first glance.

Maybe printing all found linker scripts and then marking the one that is used would be clearer.

[2018-07-19 09:34] OmerRosler opened #7550 "Bug in `test` directory - linker flag path"
### Description of defect

I was trying to run `mbed test` on my project, however it seems that there is a bug there.

The `--map` flag get passed to the linker without quotation marks (my project path contains spaces) and that causes the command to crash.

It originates from the file `PROJECT\TESTS\mbed_hal\ticker\.link_files.txt` or any other `.link_files.txt` files.

I think the bug originates

[2018-07-19 10:10] M-ichae-l commented on #7257
Please refer to #7551 for the fix.

[2018-07-19 10:30] ghost commented on #7535
@davidsaada, Thank you for your inputs. By referring #7465, the first 4 tests are resolved.

For 5th test case, observed that test case is passed by reducing '[CHILD_THREAD_STACK_SIZE](https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbedmicro-rtos-mbed/threads/main.cpp#L40)' from 384 to 223. Please confirm.

[2018-07-19 10:46] wajahat-abbas commented on #7470
Since this [commit](https://github.com/ARMmbed/mbed-os/commit/d9a99b0a455924e81ab329624ca44d9cad88851f), the _power object is deleted as soon as the device is ready so i am not sure how either of the solutions can work.

[2018-07-19 10:52] mirelachirica commented on #7470
You are right, that is the next problem. I will have to discuss this issue with the team after the holiday ~2 weeks, plan and come up with a full solution to this problem.

[2018-07-19 14:31] theotherjimmy commented on #7433
Oh, yep. They simply don't take in an app config  XD sorry about that. It looks like Mbed CLI eats the parameter and does nothing with it. https://github.com/ARMmbed/mbed-os/blob/master/tools/build.py#L191-L201 Invocation of build_library does not have it on master. If you only care about removing features/defines, then custom target or a lib config could get you the same thing.
*[Mirrored to Jira

[2018-07-19 14:34] theotherjimmy commented on #7126
@drahnr @mattbrown015 It's the one that is found first; The linker script before the `->` is used. I used the word "arbitrary" intentionally :).

@mattbrown015 I have no way to determine which is "more important" at that time.

@drahnr We can improve that warning. What would you suggest?

[2018-07-19 14:56] davidsaada commented on #7535
Thanks @ganesh-ramachandran. Gonna apply a similar fix as in [#7465](https://github.com/ARMmbed/mbed-os/pull/7465) to tests-mbedmicro-rtos-mbed-threads as well. Either in the same PR or in a separate one.

[2018-07-19 15:08] mattbrown015 commented on #7126
Hhmm, OK, so putting a linker script in my custom target directory didn't do what I thought.

To ensure the custom target linker script is used I need to use `.mbedignore` to ignore any base target linker scripts.  This is fine, I think, unless trying to support targets when it could get complicated.

@drahnr's original question was:

I now think the answer is 'carefully'! :-}

As it happens I'm n

[2018-07-19 15:19] bentcooke opened #7555 "NVStore tests hard fault for MOTE_L152RC"
### Description
NVStore tests hard fault for MOTE_L152RC target.  This appears to be related to the comments in #7127.

$ mbed test -t GCC_ARM -m MOTE_L152RC -n mbed-os-features-nvstore* -vv

[code]

### Issue request type
[ ] Question
[ ] Enhancement
[ x] Bug

@davidsaada

[2018-07-19 15:34] theotherjimmy commented on #7126
@mattbrown015 Yeah! Who needs custom targets when you can configure ROM the way you like.

On a less silly note: others reading this issue should use a `.mbedignore` file to ignore the linker script that they no longer need.

[2018-07-19 15:35] bentcooke opened #7557 "lp ticker speed test failure for MOTE_L152RC target"
### Description
The "lp ticker speed test" fails for the MOTE_L152RC for all three compilers.  I have not tested the other STM32L15x platforms but I expect they will have the same issue.

$ mbed test -t GCC_ARM -m MOTE_L152RC -n mbed-os-tests-mbed_hal-common_tickers -vv

[code]

### Issue request type
[ ] Question
[ ] Enhancement
[x ] Bug

[2018-07-19 15:41] cmonr commented on #7538
@bcostm This should now be fixed with the 5.9.3 release. Please confirm on your end

[2018-07-19 15:51] ciarmcom commented on #7557
ARM Internal Ref: MBOTRIAGE-1324

[2018-07-19 15:51] ciarmcom commented on #7555
ARM Internal Ref: MBOTRIAGE-1325

[2018-07-19 18:44] SenRamakri commented on #7358
Thanks @drahnr for pointing this out and we will be updating the documentation to capture this. - https://github.com/ARMmbed/mbed-os-5-docs/pull/632
Let us know if you have more questions.

[2018-07-19 18:44] #7358 closed, assigned to nobody

[2018-07-19 18:52] AGlass0fMilk opened #7560 "mbed-cli include issue"
### Description
Hi, I just upgraded to the most recent commit to master. When attempting to build, I am now getting errors saying #includes cannot be found.

I have custom build tools that work on top of mbed-cli. The way I accomplish my builds is by using the --source flag to specify additional include directories and libraries common to all my applications.

A command will look like this for exa

[2018-07-19 18:55] aashishc1988 commented on #7511
@jeromecoutant
I was stepping through the code to see where the voltage drop happens after we send \n, and I narrowed it down to
File: mbed-os/targets/TARGET_STM/serial_api.c

The call to function __HAL_RCC_USART2_FORCE_RESET();, brings the voltage down to 0, and then the call to init_uart(obj) later pulls it up. We were wondering if there is any software enable pull-up on tx/rx ports that we have

[2018-07-19 19:29] drahnr commented on #7433
Actually, `custom_targets.json` doesn't, they never get applied - that's why I moved them into the `app_config.json` in the first place...
A lib config seems to be the wrong place to store this.
*[Mirrored to Jira]*

[2018-07-19 19:51] ciarmcom commented on #7560
ARM Internal Ref: MBOTRIAGE-1328

[2018-07-19 21:08] deepikabhavnani commented on #6924
I was able to reproduce the issue and below is my observation.
free_wrapper is called from __Heap_ProvideMemory function, in case of no RTOS it links to C standard library `free` call, but in case of RTOS `_free_internal` call is used instead of standard C library call.

No RTOS
[code]
RTOS present
[code]

No RTOS: heap stats disabled
[code]

Not sure what influences compiler decision to pick `fre

[2018-07-20 06:43] 0xc0170 commented on #7560
My first suspect would be https://github.com/ARMmbed/mbed-os/pull/7183

@ARMmbed/mbed-os-tools Please review

[2018-07-20 07:08] jeromecoutant commented on #7557
Hi

Here is ST status with latest 5.9.3 release:

| target              | platform_name | test suite                            | test case                                          | passed | failed | result | elapsed_time (sec) |
|-|-|-|-|-|-|-|-|
| NUCLEO_L152RE-GCC_ARM | NUCLEO_L152RE | tests-mbed_hal-common_tickers                                                | Microsecond ticker fire interr

[2018-07-20 07:50] bcostm commented on #7538
Yes I confirm the mbed-os-example-blinky compiled OK now.
Thanks

[2018-07-20 07:50] #7538 closed, assigned to nobody

[2018-07-20 09:03] EnsilicaEdd commented on #7432
Just to say: I'm not ignoring the fix, I'm just not in a position to verify it right now.  Will hopefully get a moment in the next week or so.

[2018-07-20 10:06] omdathetkan opened #7563 "Bootloader header implementation using section"
### Description
Would it be an idea to instead of using postprocessing in python the application header is included at compile time by using a section on a fixed location (I assume right after the `isr_vector` section would be the most straightforward)

Than you could just do

<...>.ld
[code]

header_format.h
[code]

main.cpp
[code]

I think this significantly simplifies specifying the header form

[2018-07-20 10:07] omdathetkan commented on #7394
Yeah that would work, additionally see #7563

[2018-07-20 11:49] jeromecoutant commented on #7511
Hi

Does it work if you remove all FORCE_RESET in serial_init function ?

@LMESTM

*[Mirrored to Jira]*

[2018-07-20 11:54] amq commented on #7382
It would be really helpful if someone could try to replicate this on STM, the issue is rather critical, we have already deployed devices in the field with 5.8
*[Mirrored to Jira]*

[2018-07-20 12:03] 0xc0170 commented on #7382
@ARMmbed/team-st-mcd  Can you the bootloader test shared above?
*[Mirrored to Jira]*

[2018-07-20 14:04] cmonr commented on #7560
@AGlass0fMilk Would you mind posting the output that you get?

Also, why are some of those strings prefixed with `u`, whereas others are not?

[2018-07-20 14:46] theotherjimmy commented on #7433
@drahnr You're right:

But if it's your only remaining option, you should at least try it.
*[Mirrored to Jira]*

[2018-07-20 14:47] theotherjimmy commented on #7433
Also note that `custom_target.json` defines new targets, and does not override targets defined in `target.json`.
*[Mirrored to Jira]*

[2018-07-20 14:58] aashishc1988 commented on #7511
@jeromecoutant
Yes, it works if I remove FORCE_RESET
*[Mirrored to Jira]*

[2018-07-20 15:01] 0xc0170 commented on #7409
`putchar` is a macro isn't it, thus in your main.cpp file it gets overwritten by a macro to something that is not valid in C++ class? Please check preprocessed file how the class looks like

I would compare preprocessed file between v6 and v7

[2018-07-20 15:06] theotherjimmy commented on #7563
@jorisa Including the header in the binary of the application complicates linker setup, and still requires python post-build processing to stick the sha1 of the application in the header. This step is much more difficult too.
*[Mirrored to Jira]*

[2018-07-20 15:06] AGlass0fMilk commented on #7560
Well, the custom scripts are written in python and I use Popen to execute `mbed compile`. Popen recommends an input array so I form an array of command options. Printing out the array for verbose mode I guess python appends a `u` to indicate it's an array of `unsigned char`s or whatever.

EDIT: I will post output in a moment... virtual box is warming up...

[2018-07-20 15:07] theotherjimmy commented on #7394
I'll make an "update" image available.

[2018-07-20 15:15] theotherjimmy commented on #7560
@AGlass0fMilk We recently (in #7183) changed the behavior of include paths from "everything is an include path" to "paths to headers are include paths". You may be seeing that.

[2018-07-20 15:16] theotherjimmy commented on #7560
FYI, it saved ~30% of our include path file length when switching styles.

[2018-07-20 15:19] bmcdonnell-ionx commented on #7409
Not necessarily, but apparently [it can be in C](https://stackoverflow.com/a/16165900). Is this also true in C++?

If so, cryptic-ness of the failure notwithstanding, does that mean this failure to compile is "acceptable" behavior? Such that creating a member function by the same name as an `stdio` function is not "guaranteed" to work? Would that hold true for both `<stdio.h>` and `<cstdio>`?

[2018-07-20 15:20] AGlass0fMilk commented on #7560
The problem I'm seeing is:
I have an 'include' directory for my product that has header files common to all the various programs (bootloader, main application, etc). The implementation for these headers are in a separate 'common' directory. These directories are alongside all the other program directories, similar to the following:

[code]
So I use the `--source` flag to include those common direc

[2018-07-20 15:21] AGlass0fMilk commented on #7560
FYI - This issue is related to something introduced after the recent mbed-os-5.9.3 release. I reverted to that release version and I can still build.

[2018-07-20 15:26] theotherjimmy commented on #7560
~@AGlass0fMilk add `--source=include`.~ You already have it.

[2018-07-20 15:26] theotherjimmy commented on #7560
I'm glad that you're willing to test with master!

[2018-07-20 18:03] theotherjimmy commented on #7560
Let me see if I can reproduce this on master. BRB

[2018-07-20 18:09] theotherjimmy commented on #7560
@AGlass0fMilk For reproduction value, created the following structure:
[code]
and modified main.cpp like so:
[code]
ran the following command:
[code]
(`mbed2` is a bash alias for `python2 -m mbed`)
and it did not complain.

Does this simple reproducer cause the same error?

[2018-07-20 18:11] AGlass0fMilk opened #7568 "BLE Persistent Bonding w/ iOS Bugs"
### Description
I am on mbed-os-5.9.3, working on NRF52_DK target.

I'm working on getting persistent bonding to work. Eventually my application will be bonding with smart phones (iOS, Android). I haven't been successful in getting an iPhone to reconnect and pair automatically after a power cycle.

I have a branch on my fork of the ARMmbed/mbed-os-example-ble repository that attempts to demonstrat

[2018-07-20 18:16] AGlass0fMilk commented on #7560
My build script actually gives absolute paths. Not sure if that would cause the issue to appear, would you be able to test with that?

[2018-07-20 18:17] theotherjimmy commented on #7560
@AGlass0fMilk Sure, no problem.

[2018-07-20 18:18] theotherjimmy commented on #7560
@AGlass0fMilk Reproduced with absolute paths.

[2018-07-20 18:21] theotherjimmy commented on #7560
I very recently (last 2 min) touched the piece of code dealing with those paths, and it fixes it! the last *2* commits on #7559 corrects the absolute path behavior for me.

[2018-07-20 18:46] edablan commented on #7541
Ok so I think I have noticed some things. All of the BLE_EXAMPLES seem to work on the EVK-NINA-B1 as long as you follow the below steps, and you don't run it in debug mode of IAR. For whatever reason even using an external J-Link Base debugger through SWD makes it impossible to connect to a BLE device while in debug mode in IAR. Not sure if this is related to [https://github.com/ARMmbed/mbed-os-ex

[2018-07-20 19:44] AGlass0fMilk commented on #7560
Alright, I'll try the PR when it gets merged into master. I'm a bit busy with other development at the moment.

Thanks for looking into this immediately!

[2018-07-20 19:51] ciarmcom commented on #7568
ARM Internal Ref: MBOTRIAGE-1342

[2018-07-20 20:51] drahnr commented on #7433
@theotherjimmy I figured that out the hard way (there is another ticket I filed a few months back). This is becoming increasingly crude when all that I want is to make an ISR fast enough for my purposes (which is not the case in debug mode).
*[Mirrored to Jira]*

[2018-07-20 21:59] studavekar opened #7570 "TMPM46B device has duplicate target_id"
### Description
https://os.mbed.com/platforms/TMPM46B/ devices enumerate with same target ID. We can't have multiple boards connected to same machine. Blocks addition of boards to mbed-os CI.

**mbedls**
output of mbedls when 2 devices are connected to host machine
[code]
lsusb -v | grep -i serial
[code]
---------------------------------------------------------------
**Target**
TMPM46B

**DAPLink

[2018-07-20 23:01] Alex-EEE opened #7571 "mbed_retarget and IAR"
### Description
Does anyone know the reason / history behind this bit of code inside mbed_retarget, with regards to IAR?
[code]
I ask b/c this actually breaks getc in version 8.x.  Was there an expectation this would be fixed in version 8.x?  What is this code trying to work around for IAR's sake?

### Issue request type

[ x ] Question
[ ] Enhancement
[ ] Bug

[2018-07-22 13:08] jeckypei opened #7572 "requirement : read/ write separate lock Serial"
### Description

if we use Serial as a CLI console .  The CLI thread allways get the read  lock ,  if another thread want to print something to serial console, it will be blocked by CLI thread  .
So we need to let serial-read lock be different lock with serial-write lock .

I Write such Serial, it can work well  : https://github.com/jeckypei/mbedosBase/blob/master/develop/driver/serial/BetterSeria

[2018-07-22 13:15] jeckypei opened #7573 "requirement : a registerable CLI"
### Description

I have write simple modules  base on tinyShell :
https://github.com/jeckypei/mbedosBase/wiki/CLI--API
https://github.com/jeckypei/mbedosBase/tree/master/develop/cmd

### Issue request type

[ ] Question
[ ] Enhancement
[ ] Bug

[2018-07-22 13:18] jeckypei opened #7574 "requirement : a good Log API module"
### Description

I write  a simple API:
   https://github.com/jeckypei/mbedosBase/wiki/Log-API

### Issue request type

[ ] Question
[ ] Enhancement
[ ] Bug

[2018-07-22 13:21] jeckypei opened #7575 "requirement : a good API for get system timestamp"
### Description

I write such API:

https://github.com/jeckypei/mbedosBase/blob/master/develop/sys/systime.cpp

### Issue request type

[ ] Question
[ ] Enhancement
[ ] Bug

[2018-07-22 15:51] ciarmcom commented on #7575
ARM Internal Ref: MBOTRIAGE-1367

[2018-07-22 15:51] ciarmcom commented on #7574
ARM Internal Ref: MBOTRIAGE-1368

[2018-07-22 18:04] kevinong0108 opened #7576 "STM32L4: ADC read incorrect result on GCC 7.2.0"
### Description

STM32L4 ADC can not read correct value when compiler using GCC 7.2.0 r3, but it works fine on GCC 6.2.0 r4.

Here also confirm with NRF52_DK, it works fine with both GCC toolchain.

#### Verified targets
 - DISCO_L476VG
 - NUCLEO_L476RG
 - NRF52_DK

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-07-22 18:23] TangoIrvine51 opened #7577 "Boot up Cortez M4 from SRAM"
How to boot up Cortez M4 from SRAM using SWD?

[2018-07-22 19:51] ciarmcom commented on #7577
ARM Internal Ref: MBOTRIAGE-1373

[2018-07-22 19:51] ciarmcom commented on #7576
ARM Internal Ref: MBOTRIAGE-1374

[2018-07-23 08:01] DBS06 commented on #7382
@amq I tested your minimal example on a STM NUCLEO_F746ZG Dev-Board and it looks it isn't a Silicon Labs specific issue, I have the same results as you already mentioned:

*[Mirrored to Jira]*

[2018-07-23 08:44] 0xc0170 commented on #7382
Thanks @DBS06 , we will review this issue
*[Mirrored to Jira]*

[2018-07-23 08:59] 0xc0170 commented on #7577
Is this related to Mbed OS (what tools are you using?) ?

We do not provide SRAM targets (running from RAM only, as IDE name it "ram targets"). As you did not specify toolchain, I recall one IAR reference note about running from RAM: https://www.iar.com/support/tech-notes/general/execute-in-ram-after-copying-from-flashrom-v5.20-and-later/ - that might help.

[2018-07-23 09:01] 0xc0170 commented on #7576
@kevinong0108 thanks for reporting. We do not currently support GCC 7.x. However this indicates that there might be a bug in the implementation for L4.

@ARMmbed/team-st-mcd Please review

[2018-07-23 09:03] 0xc0170 commented on #7575
@jeckypei Can you provide more details ?

There's Kernel namespace that provides `get_ms_count` method.

[2018-07-23 09:08] SeppoTakalo commented on #7416
Needs example code to replicate.

[2018-07-23 09:09] 0xc0170 commented on #7574
Please qualify your issue request type. Is this a question or enhancement ?

Have you looked at mbed trace ? See https://github.com/ARMmbed/mbed-os/tree/master/features/frameworks/mbed-trace

[2018-07-23 09:15] 0xc0170 commented on #7571
From the code, looks like version below 8 has a different implementation . The original one was done some  time ago https://github.com/ARMmbed/mbed-os/commit/bd6836396b8212a28348fdfb4afc14d95d420ca3

There is a difference for IAR in streams . So the above code was working for IAR, but since update 8.x, this broke and has not yet been updated as we do not yet support 8.x

@deepikabhavnani Do you re

[2018-07-23 09:41] bcostm commented on #7576
I can't reproduce. I have GCC 7.2.1 20170904 and tested with ci-test AnalogIn + NUCLEO_L476RG:
[code]

[2018-07-23 10:12] TomoYamanaka commented on #7155
Could you help me to resolve the following two points because this is a blocker for Renesas Mbed user's activity?
  - "No such file or directory" error (only when exporting on Online)
  - "--wrap" related error

[2018-07-23 11:17] 0xc0170 commented on #7573
I reviewed other issues similar to this one (named as requirement). Can you provide more details (the current implementation (is this missing in the current Mbed OS?), use cases, documentation - if this is new API, how it should look like, what it should do, how it shall be used). Why do you think this is requirement, what this requirement should contain?
*[Mirrored to Jira]*

[2018-07-23 11:53] SeppoTakalo commented on #7435
I'm not totally sure that ARM compiler does the correct thing here.

The inherittance is like:
![image](https://user-images.githubusercontent.com/3104794/43074827-469656ae-8e87-11e8-86fc-59cfde6bb577.png)

In Socket class there is:
[code]
Which is implemented in TCPSocket.

Then TCPServer defines also this (for backward compatibility):
[code]

There should be no conversion route from `TCPSocket*`

[2018-07-23 12:44] SeppoTakalo commented on #7547
Documentation:
https://os.mbed.com/docs/v5.9/reference/network-socket.html

I believe your question relate to TCP socket, as it is currently the only connection oriented protocol that we support. And by "active" I believe you mean connected, the description is a bit short for the issue...

Basically, when in blocking mode, it does not return from the `connect()` call until connection is establishe

[2018-07-23 12:56] 0xc0170 commented on #7409
My assumption was made based on the errors - obviously something is overwritten class method and adding there some additional text that is causing it fail to compile (impure pointer is one of them) - you can verify after preprocessor stage - what is the definiton for putchar there afterwards

I haven't seen this before but would expect not to use it as it can be macro and that can cause problems.

[2018-07-23 13:18] #7469 closed, assigned to nobody

[2018-07-23 14:01] bmcdonnell-ionx commented on #7409
It does compile w/ GCC_ARM 6 when I `#include <cstdio>` instead of `<stdio.h>`.

Should I close this issue, then?

[2018-07-23 14:10] #7409 closed, assigned to nobody

[2018-07-23 15:12] #7493 closed, assigned to nobody

[2018-07-23 15:15] theotherjimmy commented on #7433
@drahnr Yeah

I'd like to make that not happen for others. Where did you look in our docs for adding custom targets? How could I make it more clear that they do not override?

I can fix that, expecting that your task is a common one. OTOH, I can't (yet) change the tools you work with on 5.7.

OTOH, you could create a custom build profile that makes use of most of the release profile, but changes t

[2018-07-23 15:16] deepikabhavnani commented on #7571
As mentioned by @0xc0170 - Fix for IAR was done long ago.

With IAR8 above fix was not working, as `_file->_Wend` `_file->_Rend` were all internal member functions and were not available in header file.

Some analysis and testing showed that fix was actually not needed for IAR 8.x and so this commit https://github.com/ARMmbed/mbed-os/commit/bcb8779362d9c3d098aad78208b5aab48094efbb#diff-138df4d2b73

[2018-07-23 15:18] deepikabhavnani commented on #7571
Please share more details on this break
*[Mirrored to Jira]*

[2018-07-23 15:23] samchuarm commented on #7257
Hi @SeppoTakalo , since #7551 is approved, do you think this issue can be closed now? Thx.

[2018-07-23 15:29] kevinong0108 commented on #7576
@bcostm Sorry for missing detail informaion!

#### Optimize option
-O1, -O2 and -Os can reproduce the issues.
-Og and -O0 is OK.

#### Example
Create more than one AnalogIn: A0, A1, A2 and An
Connect all ADC pin to GND

Case 1:
Read A0 first and than others, It can find A0 get wrong value, but others are correct,

Case 2:
Read A1 first and than others, It can find A1 get wrong value, but others ar

[2018-07-23 15:38] SeppoTakalo commented on #7257
Once the #7551 is merged, then I think this can be closed.

[2018-07-23 15:52] theotherjimmy commented on #7155
@TomoYamanaka You could extend the jinja template to include the `--wrap`. The "no such file or directory" errors sound like something else...

[2018-07-23 16:01] dannybenor commented on #7555
@bentcooke  did you use the mbedos code after https://github.com/ARMmbed/mbed-os/pull/7127 was merged?

[2018-07-23 16:04] SenRamakri commented on #7393
@LaurentLouf and @kjbracey-arm - This is very reasonable, we will make this change. Thanks.

[2018-07-23 16:30] SenRamakri commented on #7393
PR created - https://github.com/ARMmbed/mbed-os/pull/7584

[2018-07-23 16:44] SenRamakri commented on #7574
Hi @jeckypei - Thanks much for your feedbacks. Actually we already have a logging API, please take a look at - https://github.com/ARMmbed/mbed-os/blob/master/features/frameworks/mbed-trace/mbed-trace/mbed_trace.h.

Since we already have this implemented please take a look and let us know if it doesnt meet your requirements. For now, I'll close this issue as no more action is required on this.

[2018-07-23 16:44] #7574 closed, assigned to nobody

[2018-07-23 17:05] Alex-EEE commented on #7571
Ok, so dug a little deeper.  Looks like after you call getc on a Serial object, putc stops working for good:

Serial pc(USBTX, USBRX); // tx, rx

int main() {
pc.printf("Hello World!\n");  // this prints
    pc.putc('h'); // this prints
    pc.getc(); // this gets the right character
    pc.putc('\n');  // fails, returns -1
    pc.putc('\n');  // fails, returns -1
*[Mirrored to Jira]*

[2018-07-23 17:44] Alex-EEE commented on #7571
Alternatively, does mbed os have full FILE and C file stream handling built in?  Is there a way to compile with mbed-os's version instead of using IAR's?
*[Mirrored to Jira]*

[2018-07-23 18:02] neelbagora commented on #7547
Hi, sorry that is exactly what I meant. That does make more sense after I tried tweaking the TCP library in various ways with no luck. Thank you very much! sorry about the lack of information.

[2018-07-23 18:02] #7547 closed, assigned to nobody

[2018-07-23 18:08] bentcooke commented on #7555
@dannybenor Yes, I am using the fixes included in #7127, but the hard fault still occurs with this platform.

[2018-07-23 18:48] AGlass0fMilk commented on #7568
@paul-szczepanek-arm Have you had any success with persistent BLE bonding? It would be useful to be able to enable more verbose output from the BLE stack (not sure if there's a macro for that).

[2018-07-23 18:53] jupe commented on #7573
Looks similar with this one: https://github.com/ARMmbed/mbed-client-cli
*[Mirrored to Jira]*

[2018-07-23 19:58] nalmakhd commented on #6843
I would like to avoid moving to 5.9 as I have quite some code relying on 5.6, but will do so if I have to.

As for the other comment, yes `recv` is called from `main()`

[2018-07-23 20:15] marcuschangarm commented on #7568
Sounds like the same issue as this one: https://github.com/ARMmbed/mbed-os/issues/7300

[2018-07-23 20:23] AGlass0fMilk commented on #7568
I don't think it's the same issue. I'm trying to use external flash (as currently supported by the security manager) in the form of an SD card, using the ARMmbed/sd-driver driver with littlefs. I'm still not seeing expected functionality (being able to reconnect with encryption automatically).

[2018-07-23 20:35] marcuschangarm commented on #7541
I don't have IAR IDE, but with DAPLINK, NRF52_DK, and IAR commandline compiler I can run the heart rate example with GDB debugger connected.

Have you tried the newest DAPLINK IF firmware?
https://armmbed.github.io/DAPLink/

[2018-07-23 22:05] edablan commented on #7541
We will need to debug using IAR, since this is the compiler we are building against. We want the features of IAR, and were told it is supported by mbed. I also tried this with the I-Jet debugger and seeing the same behavior.

[2018-07-23 22:16] marcuschangarm commented on #7541
DAPLINK is compatible with IAR. I'm suspecting the problems you are seeing are related to the interface firmware and updating it might help.

[2018-07-23 22:28] SenRamakri commented on #7418
@drahnr - Looking at the discussions above it appears we have answered your question, please let us if you have more questions on this. Thank you.

[2018-07-24 01:34] ccli8 commented on #7542
@studavekar @deepikabhavnani We can now reproduce on Ubuntu 16.04. Our tool team is looking into it.

[2018-07-24 02:28] jeckypei commented on #7573
interactive CLI is a very very basic requirement for embed system, for debug or change some configuration dynamically.  it is better to make CLI build-in .
yes, seems similar with mbed-client-cli .   CLI is better to be a single thread , and very simple and small API,  better to support TAB complete .
*[Mirrored to Jira]*

[2018-07-24 02:32] jeckypei commented on #7575
ok .  i did't know get_ms_count .   if it is ok , let's use it .     It is a basic API to get current timeStamp for developer , better to write it in mbed-os guide WEB page

[2018-07-24 02:46] jeckypei commented on #7572
any update ?    The build-in Serial , use only one lock for serial read & write direction .   it seems not very good sometime .
*[Mirrored to Jira]*

[2018-07-24 07:16] jupe commented on #7573
It seems that all your requirements have been met - except build-in - which will probably change in future.. Did you try mbed-client-cli ?
*[Mirrored to Jira]*

[2018-07-24 08:23] 0xc0170 commented on #7575
@kjbracey-arm Please review

[2018-07-24 08:27] 0xc0170 commented on #7572
We will review it

I checked and UARTSerial/Serial both provide one mutex.
*[Mirrored to Jira]*

[2018-07-24 08:40] drahnr commented on #7433
@theotherjimmy  I'd be more than happy to see the change for 5.9 - though I can not migrate until https://github.com/ARMmbed/mbed-os/issues/7463 is fixed.
*[Mirrored to Jira]*

[2018-07-24 08:53] jeckypei commented on #7573
i did not try mbed-client-cli .
i just suggest CLI module as build-in ,  and also let CLI module with build-in common commands such as :  date(set/show date) , reboot(reboot system)  , help(show all commands list) .      i think build-in will make  application development fast .

*[Mirrored to Jira]*

[2018-07-24 09:24] pan- commented on #7568
@AGlass0fMilk That may be an example issue; could you try the fix @paul-szczepanek-arm submitted to your repo ?

[2018-07-24 09:38] phyokyaw commented on #7155
Thanks for the reply @theotherjimmy. @TomoYamanaka as for --warp problem since e2 studio template extends gnu arm eclipse template, I'll update the jinja template on GNU ARM exporter to fix both. As for not adding include paths (No such file or directory error) I am not sure why some include paths are added but not others. I can look into it the next week.

Thanks
Phyo

[2018-07-24 10:05] 0xc0170 commented on #7575
I found the PR that is addressing this issue https://github.com/ARMmbed/mbed-os-5-docs/pull/606

Should be fixed once it lands

[2018-07-24 10:19] jamesbeyond commented on #7537
Hi @SierpG,

Currently, mbed greentea is designed to work with one UART port only by default. and it is not threadsafe unless you use a mutex.
Could you explain your case a bit more, why do you need the second UART port within Greentea test.
If there is a valid use case, we will try to come up with some solutions.

[2018-07-24 10:22] jamesbeyond commented on #7514
Ping @shrichippabalaji,
could you clarify your issues by answering those questions:

[2018-07-24 10:43] 0xc0170 commented on #7571
We do not provide own standard lib, but rely on toolchain one. In this case, what IAR provides. We retarget some functionality only.
*[Mirrored to Jira]*

[2018-07-24 12:14] bcostm commented on #7576
I have tested your code and compiled with the Develop profile (it contains the -0s flag) but I still don't see any problem. All analog pins have the correct values.

I have no idea why it is not working for you ?

[2018-07-24 14:16] #7418 closed, assigned to nobody

[2018-07-24 14:17] theotherjimmy commented on #7433
Good to know. I'll make the changes needed.
*[Mirrored to Jira]*

[2018-07-24 14:18] theotherjimmy commented on #7155
@phyokyaw The missing include paths are related to features that are disabled. They're supposed to show up in the export (if I recall correctly), and be disabled. It looks to me like the e2studio is missing the second part.

[2018-07-24 14:19] theotherjimmy commented on #7155
@phyokyaw The e2studio template does not extend the GNU ARM Eclipse template. It does use the same variables though.

[2018-07-24 14:39] TacoGrandeTX commented on #7577
@TangoIrvine51 - We see that you cross-posted this to our Mbed Questions portal.  As that portal has higher general visibility with the community, we just answered your question there:
  https://os.mbed.com/questions/81859/How-to-load-and-excecute-a-Cortex-M4-fro/

[2018-07-24 14:40] 0xc0170 commented on #7577
I'll close this as duplicate

[2018-07-24 14:40] #7577 closed, assigned to nobody

[2018-07-24 15:14] sstaub opened #7588 "STM32 Nucleo-L432KC USBDevice library"
Is it possible to support the Nucleo-L432KC in the USBDevice library ?

[2018-07-24 15:25] 0xc0170 commented on #7588
Hi @sstaub Please leave the issue type in the issue.

There's feature branch with ongoing usb development (https://github.com/ARMmbed/mbed-os/tree/feature-hal-spec-usb-device). I think the new support should come with this update (@c1728p9 correct me if not).

@ARMmbed/team-st-mcd Please review

[2018-07-24 15:56] edablan commented on #7541
@marcuschangarm

The EVK-NINA-B1 does not show up as a CMSIS-DAP device, it shows up as a J-Link device. It does not use DAP Link, but uses a built-in J-Link debugger. It is also setup to use external debuggers through SWD. It's currently failed to debug with two different external debuggers( J-Link, and I-jet) as well as failing with the built in J-link debugger.

[2018-07-24 16:10] LaurentLouf opened #7589 "How to increase the RAM size for a target in the linker script ?"
### Description

Working with a STM32F103xC, I'm actually using the closest target that is available in the most recent version of mbed-os, the target NUCLEO_F103RB. The main difference between the two is the memory, the xC having more flash and RAM than the xB series. So, in the first time, I would like to create a custom target, but I'm a bit stuck when I look at the linker script :
[code]

Chan

[2018-07-24 16:33] sstaub commented on #7588
After a short look inside the ongoing usb development, in the USBPhy_STM32.cpp file,
the Nucleo-L432KC is missing, also the NUCLEO-L433RC-P board.

[2018-07-24 17:38] edablan commented on #7546
Any ideas of when the old HID examples will be updated to use the latest mbed-os?

[2018-07-24 18:34] Alex-EEE commented on #7571
Makes sense.  Well, it looks like 8.x needs a fix despite the analysis, However I do agree that IAR moved their FILE struct members into a non visible area.  If you guys have any background on what the fix was about for 7.x, and why, I'd be happy to make the fix for 8.x and contribute a PR into your 8.x branch of mbed.
*[Mirrored to Jira]*

[2018-07-24 18:35] Alex-EEE commented on #7571
Do you have to file a PR for non master branch of mbed-os, or can you directly contribute to feature branches?
*[Mirrored to Jira]*

[2018-07-24 18:49] kegilbert commented on #7118
There hasn't been any activity on this issue, so I will be closing it for now. Hopefully your issue was resolved. If not, please feel free to reopen this issue and I will look back into it!

[2018-07-24 18:49] #7118 closed, assigned to nobody

[2018-07-24 19:51] ciarmcom commented on #7589
ARM Internal Ref: MBOTRIAGE-1401

[2018-07-24 20:16] deepikabhavnani commented on #6924
Hello All,

I got response from compiler team regarding call to `free` vs `_free_internal`. The compiler selects a thread safe version (which uses _free_internal) if the symbol ‘_mutex_acquire’ is present, which is the case of RTOS version.
`free` is a wrapper around `_free_internal` in case the thread safe version is selected.

__Heap_ProvideMemory is given some memory block which it tries to put

[2018-07-24 20:19] deepikabhavnani commented on #6924
Closing this issue, as we can't do anything; it is compilers decision to call `free` vs `free_internal`.

[2018-07-24 20:19] #6924 closed, assigned to nobody

[2018-07-24 23:18] kevinong0108 commented on #7576
#### Environment
- Toolchain
https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads
7-2017-q4-major (GCC 7.2.1 20170904)
- mbed-os 5.9.3
- mbed-cli
mbed compile --profile=./mbed-os/tools/profiles/develop.json -m NUCLEO_L476RG
- Simple Test Code as main.c
A0 connect to GND, printf shows non-zero value (around 160)

Here is my build bin:
[mbed-os_NUCLEO_L476RG_adc_test.zip](https://git

[2018-07-25 01:15] ccli8 commented on #6924
@deepikabhavnani So we can conclude that `MBED_HEAP_STATS_ENABLED` cannot be enabled in rtos-less code with ARM/ARMC6?

[2018-07-25 02:36] deepikabhavnani commented on #6924
It can be enabled with some synchronisation to guard ‘MBED_HEAP_STATS_ENABLED’ function in free_wrapper till first call to ‘malloc’.

[2018-07-25 02:38] flipflop22 commented on #7204
@asifrizwanubx Any update about Access Point at Mbed OS 5.
The minar scheduler in Mbed OS 3 seems not working that well with my application. I can't run parallel threads at the same time..

[2018-07-25 06:15] #7416 closed, assigned to nobody

[2018-07-25 06:17] flipflop22 commented on #7416
problem solved. The problem is with the code. Apparently the input size is bigger than declared buffer.

[2018-07-25 06:41] bcostm commented on #7588
The plan is to finalize first the new USB development on a couple of STM32 board (NUCLEO_F207ZG, ...). Then the deployment on all STM32 boards supporting USB will be done but I have no delivery date for the moment. @sstaub, community help is welcome for this task. So, feel free to propose PRs for these boards if you want.

[2018-07-25 06:46] TomoYamanaka commented on #7155
@phyokyaw @theotherjimmy Thank you for your comments.
@phyokyaw I'll be looking forward to your update.

[2018-07-25 06:59] mstfkaratas commented on #7589
According to datasheet of your mcu there is 60+16 interrupt lines, so you should reserve 76*4=304 bytes which is 0x130. LENGTH should be XK - 0x130 where XK is your RAM  size.
I think you also need to edit vector table in startup.S file but I dont know how it is generated, maybe you can look at cubemx files of your mcu.

Mustafa

[2018-07-25 08:08] pan- commented on #7546
@edablan It is not on our close roadmap. However PR are welcomed.

[2018-07-25 08:34] donatieng commented on #7047
I don't think concurrent use of sync/async APIs is a supported use case. @ARMmbed/mbed-os-core should this be documented more clearly?
*[Mirrored to Jira]*

[2018-07-25 08:37] bcostm commented on #7576
I have tested your bin file and I can see the 160 value on A0 pin too.

I have checked again using mbed-os-5.9.3 (because I was on master the previous time) and using the develop profile, your main.c file but still no issue (I have 0 on the A0 pin).

So, we have the same GCC version, the same mbed-os version, the same main file, it is not the board...

For the tools I have:
mbed-cli         1.7.5

[2018-07-25 08:42] 0xc0170 commented on #7047
As responses indicate, concurrent access is not supported and should be documented.
*[Mirrored to Jira]*

[2018-07-25 08:47] seppestas commented on #7047
Similar problems exist on the EFM32 target, see #4105.

Having the ability to use both the sync and async API is pretty use-full IMO so I would prefer this just being supported. If not, it should indeed be better documented and preferably even cause compile time (if possible) or run time errors instead of causing undefined behaviour.

The reason I wanted to use the sync API on the NRF52 is that th

[2018-07-25 08:50] 0xc0170 commented on #7589
@ARMmbed/team-st-mcd Please review

[2018-07-25 08:52] 0xc0170 commented on #7589
As mentioned, need to adjust RAM (leave space for vector table - copied during the startup to RAM). If number of vectors is different, need to edit the vector table as well in the startup file.

[2018-07-25 09:44] bcostm commented on #7589
Yes for the RAM size, please follow @mstfkaratas explanation (thanks).

For the startup, linker files, registers files etc... we use the files from ST CubeF1 package (they are in the CMSIS/Device/ST folders) . But you need to take care to take the same Cube version as the actual one used in mbed and not necessarily the last one. As you can have some compatibility issues. Note also that the startup

[2018-07-25 09:59] LaurentLouf commented on #7589
Thanks everyone and especially @mstfkaratas , I wouldn't have thought of the interrupt lines without you. Thanks for the suggestion @bcostm but although I didn't pay any attention to the version of Cube files, I noticed that the F103xC isn't present in those files. We have 103x6, 103xB, 103xE and 103xG. so the xC and xD versions are missing (high density lines with 256 and 384kB of flash)

[2018-07-25 10:50] 0xc0170 commented on #7457
This is how the build system works. You can use mbedignore file to ignore files, otherwise it builds it all

I'll close this as won't fix (works as designed).

cc @bulislaw

[2018-07-25 10:50] 0xc0170 commented on #7458
This is how the build system works. You can use mbedignore file to ignore files, otherwise it builds it all

I'll close this as won't fix (works as designed).

cc @bulislaw

[2018-07-25 10:50] #7458 closed, assigned to nobody

[2018-07-25 10:52] bcostm commented on #7589
Because these devices were not supported in Cube V1.5.0. It is then required to update the Cube version in mbed with the latest version. But this will require some time as we need to perform a full non-regression testing. In the mean time you can take the files you need in the latest Cube version and check if it is ok on your board.

[2018-07-25 11:58] SierpG commented on #7537
I do not need a second UART.
The problem is that if several threads write to the UART at the same time, the output gets messed up, because at the end putc is used. For example sending a key word with greentea_send_kv does:
        greentea_write_preamble();
        greentea_write_string(key);
        greentea_serial->putc(';');
        greentea_write_string(val);
        greentea_write_postamble()

[2018-07-25 12:20] #7435 closed, assigned to SeppoTakalo

[2018-07-25 12:34] adustm commented on #7457
Hi @0xc0170 @bulislaw
Please consider this request.
The build system works with directory names and defines in the code and .json file

If you compile `DISCO_L475VG_IOT01A`, you won't compile files that are located in `targets/TARGET_STM/TARGET_STM32F7` directory

I would assume that if I am not using any define for QUECTEL UBLOX or TELIT cellular in my `mbed_app.json`, I should be able not to com

[2018-07-25 12:44] 0xc0170 commented on #7589
@LaurentLouf Does that answer all your questions?

[2018-07-25 12:46] 0xc0170 commented on #7588
@sstaub Is your question answered?

[2018-07-25 12:51] sstaub commented on #7588
Yes, I will wait. Maybe I will find some time to make a PR, but I'm not firm with the HAL.

[2018-07-25 12:54] 0xc0170 commented on #7483
I believe it is designed that way, strictly defined version (sha) rather than branch that is a moving target (next day your branch HEAD can be moved).

@ARMmbed/mbed-os-tools Please review

[2018-07-25 13:10] bcostm commented on #7589
Note that I'm actually updating the CubeF1. Non-reg tests are in progress...

[2018-07-25 13:25] 0xc0170 commented on #7457
That is correct, as this is target specific. However stacks/modules like nanostack, lwip or cellular should be target agnostic and should compile without an error.

I might have misunderstood the issue (was about the build system), checking now the files that are referenced here: some are protected but some not - we will clarify. Let me reopen, assign cellular team to review it

[2018-07-25 13:35] adustm commented on #7457
Thanks Martin!

[2018-07-25 13:45] janjongboom opened #7593 "ATHandler is taking 16 bytes of flash, even when unused"
### Description

When compiling Mbed Cloud Client Example `ATParser.o` is consuming 16 bytes of flash. This is due to this line:

[code]

I have no idea why this is...

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

@bulislaw Found during the Memory Hackathon.

[2018-07-25 13:58] garycolecd commented on #7483
I would not propose changing the current behavior, but to extend it to allow using the .lib and mbed deploy for development.   We currently use .gitmodules to control libraries, but would like the idea of abstracting git with the mbed cli commands.

[2018-07-25 14:01] kevinong0108 commented on #7576
I use mbed-cli 1.7.5 too.
I saw $ and grep, I think I found the different between us. I am use windows environment...

I need some time to create the build environment to verify it.
Thanks your test and reply!

[2018-07-25 14:04] LaurentLouf commented on #7589
@0xc0170 yeah, except that unfortunately the V1.6.0 of CubeF1 does not seem to have the linker and startup files for the F103xC, so I'm out of luck on that end.
![screenshot from 2018-07-25 16-03-01](https://user-images.githubusercontent.com/4665195/43205728-4847d042-9024-11e8-99ba-a75b81ae3881.png)

[2018-07-25 14:15] deepikabhavnani commented on #7571
Found the PR with issue fix and description: https://github.com/ARMmbed/mbed-os/pull/770

Solution to this issue can go to master branch
*[Mirrored to Jira]*

[2018-07-25 14:26] 0xc0170 commented on #7537
Greentea serial object inherits from `RawSerial`. `RawSerial` is not thread safe. Its application job to take care of this.

The easiest way is for you to change greentea serial object to serial object that is thread safe by default.

@jamesbeyond docs update needed ?

[2018-07-25 15:57] cmonr opened #7594 "Windows makefile builds no longer work"
### Description

Exporting projects to a `make_*` ide, and running `make` no longer appears to work since https://github.com/ARMmbed/mbed-os/pull/7183 came in (confirmed via `git bisect`).

This has been validated with `make_armc5` and `make_gcc_arm` "IDEs".

PRs https://github.com/ARMmbed/mbed-os/pull/7583 and https://github.com/ARMmbed/mbed-os/pull/7559 do not fix the issue.

### Output
[code]

[2018-07-25 16:01] Alex-EEE commented on #7571
Thanks so much guys!!!  I'll try to submit a PR when I fix it.
*[Mirrored to Jira]*

[2018-07-25 16:02] kevinong0108 commented on #7576
#### Environment
- Ubuntu 64-bit 16.04.4 Server
- GCC_ARM version 7-2017-q4-majo (GCC 7.2.1)
- mbed os 5.9.3
- $ pip list | grep mbed
mbed-cli         1.7.5
mbed-greentea    1.4.0
mbed-host-tests  1.4.0
mbed-ls          1.5.0

#### Build Flow
- Install Ubuntu 64-bit 16.04.4
- Install mbed-cli
- Install GNU ARM Embedded toolcain 6 and 7
- $ mbed new mbed-os-adc
- create main.c (Simple Test Code)
-

[2018-07-25 16:41] edablan commented on #7546
Do you recommend getting rid of the Ticker API calls to send HID reports, and let the BLE stack take care of it by using the event queue and callbacks similar to how all of the more recent ble examples are setup?

[2018-07-25 18:42] theotherjimmy commented on #7594
Yeah that's fixed by these commits: https://github.com/ARMmbed/mbed-os/pull/7559/commits/881803ca9b09afa72249aa9881a8468fe0b69d46 and https://github.com/ARMmbed/mbed-os/pull/7559/commits/780352b05dcb87a60b8d91bb33839f7b9175c343

[2018-07-25 19:19] cmonr commented on #7483
@0xc0170 Correct, it's currently designed with this in mind.
The idea was that using branches and other references (ie tags) are liable to move without you realizing, whereas changing SHAs are highly improbable.

@screamerbg @theotherjimmy @bridadan Thoughts?

[2018-07-25 19:52] ciarmcom commented on #7594
ARM Internal Ref: MBOTRIAGE-1418

[2018-07-25 22:00] bmcdonnell-ionx opened #7597 "suggestion: document FATFileSystem thread safety"
### Description

Please consider adding thread safety info to the [`FATFileSystem`](https://github.com/ARMmbed/mbed-os/blob/master/features/filesystem/FileSystem.h) block comments.

References:
- https://os.mbed.com/forum/mbed/topic/32521/
- https://github.com/ARMmbed/mbed-os-5-docs/issues/638

### Issue request type

[ ] Question
[X] Enhancement
[ ] Bug

[2018-07-26 05:49] #7424 closed, assigned to nobody

[2018-07-26 07:04] #7514 closed, assigned to nobody

[2018-07-26 07:36] bcostm commented on #7576
I am also on Windows but I used Git bash window.

But I can reproduce the issue on my side now. The GCC version written in mbed_settings.py file was pointing to the V6 and not V7...

At least it is reproduced, but now we need to find why...

[2018-07-26 09:26] kevinong0108 commented on #7576
Finally!

I think this is just a toolchain problem, gcc optimization will lead to code logic errors...

And post this issue to inform another developers that you can avoid touching this issue without wasting time. :)

Thank for your fully support!

[2018-07-26 10:42] LaurentLouf commented on #7589
So does that seem right ? It feels like it (and it compiles, and flashes, and runs) but on the RAM side, it seems that it still considers that we have only 20K. I have made a test by changing the size of a static buffer, and it appears that static RAM + reserved heap size is at 19152 bytes, see the logs after :

If all went well, it should in theory be close to 48K, not 20K. I'm compiling with mbe

[2018-07-26 11:23] 0xc0170 commented on #7594
@theotherjimmy  there are 3 PR that might have some dependencies (one is marked as needs preceding PR). Can you share how they should be integrated? Because I tried current master and make gcc and armc5 export. Fails for me (gcc: no input files error, armcc: command with no effect). I fetched 2 PR, here's my current mbed-os (if I checkout master, I get the same error as @cmonr reported above):

[c

[2018-07-26 12:09] AriParkkila commented on #7496
@philwareublox can you elaborate please, how an application could actually use PSM time?
*[Mirrored to Jira]*

[2018-07-26 12:25] philwareublox commented on #7496
The 3GPP +CPSMS AT command is only a REQUEST to the network for the active-time and periodic-TAU values. The network does not need to provide these values back to the UE.

The values the network has provided to the module are read back using the +CEREG command. (See +CEREG mode 4 & 5)

The application may want to record these actual network values and send a message to their cloud service.

If the

[2018-07-26 12:33] Ashish285 commented on #7451
I am having a similar issue.
I have created a Heap Block Device, and using Little File System. The filesystem is mounted properly and I can read and write to a file on it. But the security manager doesn't save anything and if i check the file, it is empty.

Anybody has any idea?

Thanks

[2018-07-26 12:43] bcostm commented on #7589
Can you try again maybe doing a "rm -rf BUILD" instead of the --clean option ?

[2018-07-26 12:57] AriParkkila commented on #7496
@philwareublox if PSM time what the application requested was not approved by the network then what the application should do otherwise?

I guess that in typical case cloud service should try to contact the application based on the application's PSM values. Do you have in mind some kind of case when cloud service wants to wake up the application?

There is also a problem that PSM values may change

[2018-07-26 13:00] LaurentLouf commented on #7589
@bcostm no success unfortunately. Must be something stupid but I don't see it.

[2018-07-26 13:03] philwareublox commented on #7496
If the device is in PSM then the cloud service cannot wake up the module.

The Timers can change at any time, so I would say the application should update their cloud service when it changes or on the very first registration.

I doubt the timers will change regularly though, as these are very important to the network and device. For low power devices you can't have the network just changing timers

[2018-07-26 13:26] ghost commented on #7570
@studavekar we are analyzing on how to get the unique id.
*[Mirrored to Jira]*

[2018-07-26 13:49] theotherjimmy commented on #7594
@0xc0170 That looks correct. I would like you to test the 544c2426c merge commit as well, if you get the chance.

[2018-07-26 14:00] bcostm commented on #7589
I am not sure if it will do something but did you update the TARGET_STM/mbed_rtx.h file ?

[2018-07-26 14:15] bcostm commented on #7589
Concerning the stm32f103xc.h file, I didn't find it anywhere in Cube firmware. But looking inside the stm32f1xx.h I saw this at line 91:

`/* #define STM32F103xE */    /*!< STM32F103RC, STM32F103VC, STM32F103ZC, STM32F103RD, STM32F103VD, STM32F103ZD, STM32F103RE, STM32F103VE and STM32F103ZE */`

And at the bottom of this file you can see that there is also no mention of the stm32f103xc.h file.

Th

[2018-07-26 14:54] 0xc0170 commented on #7594
on that commit `544c2426c `

[code]
[code]

[2018-07-26 14:55] theotherjimmy commented on #7594
Yeah. I'm testing with the exceptionally slow windows cmd now. That's a quoting issue. The commits I mentioned do fix the problem, so I rebased them onto the other PR. That PR works, mostly.

[2018-07-26 15:07] pilotak opened #7607 "STM32F4 & F1 add hardware CRC support"
### Description
Since STM32F4 and F1 have CRC engine it would be nice to support it mbedOS. I can see that there is already support for L0,L4,F0,F3,F7 it would be nice to have them all covered

### Issue request type

[ ] Question
[X] Enhancement
[ ] Bug

[2018-07-26 15:14] theotherjimmy commented on #7594
see #7608

[2018-07-26 15:51] #7394 closed, assigned to nobody

[2018-07-26 17:32] SenRamakri commented on #7393
The PR has been merged.

[2018-07-26 17:32] #7393 closed, assigned to nobody

[2018-07-26 17:57] edablan commented on #7546
@pan-

What repo do you want me to PR? The BLE_HID repo from mbed is under a jpbrucker who I am not sure is affiliated with arm anymore. I could PR from mbed-os , or do it off of mbed-os-example-ble then add the HID files?

[2018-07-26 20:17] samchuarm commented on #7257
Hi @SeppoTakalo , it seems #7551 has been merged now. Thanks.

[2018-07-26 21:20] maclobdell opened #7610 "AnalogIn fails on I.MXRT1050"
### Description

I'm measuring an analog waveform from 0 to 3.2V using the following code.

[code]

First off, the decimal result is stuck at the same value.

The float result does seem to roughly follow the actual analog waveform, but the number is so small.  Is there a gain value that needs to be set?

ain=-2147481196
ain=0.006363
ain=-2147481196
ain=0.006485
ain=-2147481196
ain=0.017304
ain=-21

[2018-07-26 21:20] cmonr commented on #7594
Closing since the original regression is now fixed.

Other issues (https://github.com/ARMmbed/mbed-os/issues/6335, https://github.com/ARMmbed/mbed-os/issues/7129) remain open.

[2018-07-26 21:20] #7594 closed, assigned to theotherjimmy

[2018-07-26 23:51] ciarmcom commented on #7610
ARM Internal Ref: MBOTRIAGE-1436

[2018-07-27 00:31] maclobdell opened #7611 "Support for SD Card on I.MXRT1050_EVK(B)"
### Description

The SD Card interface on the I.MXRT1050_EVK(B) board is connected to the following signals for SDHC function.
            |    MCU Pin               |    SDHC          |
            |    GPIO_SD_B0_04    |    SD_DAT2     |
            |    GPIO_SD_B0_05    |    SD_DAT3     |
            |    GPIO_SD_B0_03    |    SD_DAT1     |
            |    GPIO_SD_B0_02    |    SD_DAT0     |

[2018-07-27 00:34] maclobdell commented on #7611
@ARMmbed/team-nxp
*[Mirrored to Jira]*

[2018-07-27 00:54] deepikabhavnani opened #7612 "Query: Mem-Size (heap memory) in Lwip"
### Description

Heap Size in Lwip stack has huge difference between various platforms, was curious to know why we have such wide range of heap size (16K-50K) for different targets with same features in stack?

https://github.com/ARMmbed/mbed-os/blob/master/features/lwipstack/mbed_lib.json#L105

### Issue request type
[X] Question
[ ] Enhancement
[ ] Bug

[2018-07-27 03:51] ciarmcom commented on #7612
ARM Internal Ref: MBOTRIAGE-1439

[2018-07-27 07:11] AriParkkila commented on #7527
@ghseb you need to `delete EasyCellularConnection`, that stops state machine and also releases other resources gracefully. You can use `EasyCellularConnection::attach` to get asynchronous events how connect is progressing.

[2018-07-27 07:20] AriParkkila commented on #7213
@cedrickkukela-cd you need to define [CELLULAR_DEVICE](https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/common/CellularTargets.h) to select correct cellular module drivers.

[2018-07-27 07:22] bcostm commented on #7607
For information, this is the list of ST boards having the `CRC ` feature defined in targets.json as of today (in green):
![image](https://user-images.githubusercontent.com/5803932/43307170-cf0741e4-917d-11e8-8fb0-58f970d3f7e6.png)

CRC has been added in PR #6708 but I don't know why it has not been enabled for all STM32 platforms in targets.json ?

*[Mirrored to Jira]*

[2018-07-27 07:34] janjongboom opened #7613 "Export via os.mbed.com does not include mbed_config.h"
### Description

1. Go to https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky/export.
1. Use `LPC1768` as target, `uvision5` as IDE.
1. Export.
1. Inspect the ZIP.
1. `mbed_config.h` is missing and thus builds fail.

Mbed CLI does not have this issue. Export via Online Compiler also does not have this issue.

Note that this is our most popular board and our most popular IDE. If

[2018-07-27 07:42] janjongboom opened #7614 "Export to uvison5 from Online Compiler => wrong mbed_config.h location"
### Description

1. Import mbed-os-example-blinky into Online Compiler.
2. Export to LPC1768 and uvision5.
3. Open project in uvision.
4. Project is there, but mbed_config.h is not found.

Issue: it has an absolute path in the uvprojx file that points to the wrong location.

[code]

This looks like an absolute path on the server to me. Happens on both Mbed 2 and Mbed OS 5 projects.

### Issue requ

[2018-07-27 07:51] ciarmcom commented on #7613
ARM Internal Ref: MBOTRIAGE-1445

[2018-07-27 07:53] janjongboom opened #7615 "LPC1768 cannot build blinky in uVision5 due to nanostack errors"
### Description

1. Export mbed-os-example-blinky (latest) to LPC1768 and uVision5.
1. Patch https://github.com/ARMmbed/mbed-os/issues/7614 manually by adding the file to tree yourself.
1. Build the project.

Result:

[code]

Apparently ./mbed-os/features/nanostack/sal-stack-nanostack/source/configs/nanostack_full.cfg is not included in the ZIP file.

### Issue request type

[ ] Question
[ ] Enhan

[2018-07-27 07:56] janjongboom opened #7616 "uVision 5 export, cannot find mbed.h, no intellisense"
### Description of defect

1. Export mbed-os-example-blinky to any target (e.g. LPC1768 or K64F).
1. Open in uVision 5.
1. Shows error for including `mbed.h` and does not show any intellisense.

![screen shot 2018-07-27 at 09 55 27](https://user-images.githubusercontent.com/816856/43308886-56eb6298-9183-11e8-92cb-ae47c76386c6.png)

#### Target(s) affected by this defect ?

n/a

#### Toolchain(s) (

[2018-07-27 07:58] 0xc0170 commented on #7612
@ARMmbed/mbed-os-ipcore

[2018-07-27 08:27] SierpG commented on #7537
But the function debug() does not use greentea serial to write to the UART. This function messes up the keywords I send with greentea_send_kv. As debug() is called from another thread this happens quite often. Then the key word is not recognized by the host test and my tests waits for ever for the response in greentea_parse_kv.

[2018-07-27 08:39] janjongboom opened #7617 "NUCLEO-F303K8 not supported by uVision (but has device pack)"
### Description

1. Export F303K8 to uVision 5.
1. Message: not supported.
1. uVision 5 has device pack for this target and other nucleo boards are supported, so this is a bug.

On Mbed OS 5.9.3. The target has device name set, so not sure why this message pops up.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-07-27 08:47] janjongboom opened #7618 "Micro:bit not supported in uVision 5"
### Description

The nRF51 is fully supported, so I'd expect that the micro:bit would be too. Just set it to nrf51822 device pack?

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-07-27 09:13] 0xc0170 commented on #7537
`debug()` from `mbed_debug.h` ? That uses stdout default console.

One way to fix  this is via `mbed_override_console`, see https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_retarget.h#L133

As greentea serial is implemented it uses RawSerial. Therefore what you can do in your app is to override the console to use green tea serial object (use greentea serial object for stdin/out/err) -

[2018-07-27 09:13] bcostm commented on #7511
I confirm that it works also by adding a hardware pull-up on the RX pin.

In the NUCLEO_F103RB PeripheralPins.c file, we configure the pull-ups on the SERIAL pins and also inside the serial_init function. So, I don't understand why it doesn't work ?

I made a trial by moving the pull-ups configuration before the force_reset in the serial_init function, but the test is still fail....

I have a ques

[2018-07-27 10:08] #7257 closed, assigned to nobody

[2018-07-27 11:12] bcostm commented on #7617
Is it because this board is only mbed2 compliant ?

I have this error message:
project.py: error: NUCLEO_F303K8 not supported by `uvision5`

Is it the same as Issue #7184 and solved by PR #7197 ?

Same error with NUCLEO_F302R8, NUCLEO_F030R8, NUCLEO_F031K6

[2018-07-27 11:15] 0xc0170 commented on #7617
That is a good catch. The error is not accurate (I reproduced it, complains about not supported by uvision) ?

[2018-07-27 11:51] ciarmcom commented on #7617
ARM Internal Ref: MBOTRIAGE-1450

[2018-07-27 11:51] ciarmcom commented on #7615
ARM Internal Ref: MBOTRIAGE-1452

[2018-07-27 13:33] cedrickkukela-cd commented on #7213
Already done in current pull request.

The only remaining issue is the use of atd vs vs at+cgdata in at_cellularnetwork. There should be a way to  select with command is used for initiating a ppp connection as some modules may not support at+cgdata( ublox r410).

[2018-07-27 14:00] theotherjimmy commented on #7613
@janjongboom

Don't be so incendiary. I check that particular export (exactly that one) when I update the tools in the online compiler.

[2018-07-27 14:19] aashishc1988 commented on #7511
@bcostm PR 207 will handle non-unicode characters gracefully now, thats about it. The test wouldnt crash and would print out a message that states it encountered a non-unicode character, but we would ideally like this issue fixed from partners side if we can, unless for some reason the current UART behavior is considered desired/normal.
*[Mirrored to Jira]*

[2018-07-27 15:29] c1728p9 opened #7625 "Improve error message when Linker script is missing."
### Description

When compiling K64F with `-t uARM` or `"target.default_lib" = "small"` the following traceback occurs:
[code]

This indicates that there is no linker script. This error message should be improved to indicate that there was no linker script found.

### Issue request type
[ ] Question
[ ] Enhancement
[x] Bug

[2018-07-27 15:39] deepikabhavnani opened #7626 "Utest/Unity pulled in for application code as well"
### Description
`| mbed-os\features\frameworks\utest\source\utest_shim.o                                                                                   |     92 |     0 |     0 |`

Static timeout object "SingletonPtr<Timeout> utest_timeout_object;" is not removed by linker
`0x0004c040   0x0000005c   Code   RO         5399    t._ZN12SingletonPtrIN4mbed7TimeoutEE3getEv  BUILD/K64F/ARM/mbed-os/fea

[2018-07-27 15:51] ciarmcom commented on #7626
ARM Internal Ref: MBOTRIAGE-1455

[2018-07-27 15:53] pilotak commented on #7607
It's a shame that F4 is not enabled, i tried to enable it manually on F429ZI but it doesn't compile
*[Mirrored to Jira]*

[2018-07-27 16:22] edablan commented on #7541
Ok seems to be working now in debug mode on two different laptops using J-Link and I-jet. Not sure what happened. Going to close this out then.

[2018-07-27 17:48] bentcooke commented on #7557
@jeromecoutant The lower clock speed appears to be the issue.  The "Test ticker_set_interrupt function" test within the speed test for the lp_ticker is the failure.  Specifically, while + `intf->set_interrupt(0)` takes longer to execute that what is allotted with `MAX_FUNC_EXEC_TIME_US`.

If I change over to the 32MHz HSI, the execution time scales accordingly and the test passes.

I will make a n

[2018-07-27 18:50] yogeshk19 opened #7633 "NRF52832/NRF52: Addressing Errata 89 and 108 on the latest Rev Chip of NRF52832, to fix high current draw."
There are two errata's that seem to be potentially affecting our current firmware application on NRF52_DK when operating as a BLE central device, which could potentially causes a higher current draw.
    - Nordic NRF52_DK
    - GCC
    - mbed-cli
    - MBED OS 5.5.4

We use I2C/TWI to communicate between two different MCU's, one of the MCU being the NRF52832 . Its possible because of Errata 89, we

[2018-07-27 19:40] AGlass0fMilk commented on #7568
@pan @paul-szczepanek-arm I tried the pull request in my repo and still the same results - continually disconnecting upon reset and attempting to reconnect on iPhone (also tested with nRF Connect w/ nRF51 dongle).

Another thing I noticed is that the example hard faults if built with the debug.json build profile.

[2018-07-27 19:51] ciarmcom commented on #7633
ARM Internal Ref: MBOTRIAGE-1459

[2018-07-27 20:09] Alex-EEE opened #7634 "iar_definitions.json file has duplicate keys"
### Description
The following keys appear twice in iar_definitions.json
MK22DN512xxx5
MKL43Z256xxx4

### Issue request type
[ ] Question
[ ] Enhancement
[X ] Bug

[2018-07-27 20:29] theotherjimmy commented on #7626
We don't need to involve the preprocessor, we could just stop treating projects as if they were tests.

[2018-07-27 22:10] yogeshk19 commented on #7633
I just wanted to add an update, I found that errata 108 was implemented in 5.9 mbed-os branch and so I just copied the errata 108 related changes from the system_nrf52.c file in mbed os 5.9 branch to mbed os 5.5.4 brach system_nrf52.c file, on my local machine. However If I could get some some guidance wrt implementing the errata 89 that would be great.

Thanks,
Yogesh

[2018-07-27 23:51] ciarmcom commented on #7634
ARM Internal Ref: MBOTRIAGE-1462

[2018-07-30 05:38] #7527 closed, assigned to nobody

[2018-07-30 08:48] bcostm commented on #7607
I confirm the build error with the NUCLEO_F429ZI:
[code]
I will have a look.

ST_INTERNAL_REF 51109
*[Mirrored to Jira]*

[2018-07-30 09:56] janjongboom commented on #7613
@theotherjimmy Sorry, I was a bit frustrated last week. So I'm wondering where the difference comes from, as importing the project in Online Compiler and then exporting to uVision5 target actually adds mbed_config.h...

[2018-07-30 10:00] janjongboom commented on #7617
So I tested this on 5.9.3, I assume #7197 is already in there?

[2018-07-30 10:26] LaurentLouf commented on #7589
No I haven't modified the TARGET_STM/mbed_rtx.h file. Looking at it, it seems that targets are gathered by RAM size. For example, for the "base" board that I'm trying to modify :
[code]
I checked and all those boards have 20kB of RAM, I guess it's no coincidence. So I tried a (very) dirty edit, by replacing the value with `0x2000C000UL` and I got from my code
[code]

So that seems pretty good, I'l

[2018-07-30 10:48] 0xc0170 commented on #7634
I'll send PR fixing that asap

[2018-07-30 10:52] 0xc0170 commented on #7634
#7640 sent

[2018-07-30 12:08] bcostm commented on #7607
I could pass the build by simply commenting the initialization of the CRC init structure but the mbed-os CRC tests are FAIL... It is unfortunately not enough and more work is required to use correctly the CRC peripheral on the F4 devices (and surely it will be the same for F1 and F2).
*[Mirrored to Jira]*

[2018-07-30 12:42] paul-szczepanek-arm commented on #7568
I can build and run the debug profile fine (I tried arm and gcc).
I did try on an iphone and the pairing fails. This isn't a fault with the example, more likely the stack. Looking into this.

[2018-07-30 13:00] 0xc0170 commented on #7617
Yes, it is.

[2018-07-30 13:49] theotherjimmy commented on #7613
@janjongboom No harm done. I understand the frustration, this is supposed to be working.

I'll have to check where the differences are in those 2 flows. By the time they get to the entry point of the tools here, there should be no substantial differences (it's the same function, it should have similar arguments).

[2018-07-30 14:24] naveenkaje commented on #7425
@grathlinkbit :  Submitted a fix here https://github.com/ARMmbed/mbed-os/pull/7645. Could you please try this on your set up and share your results?
*[Mirrored to Jira]*

[2018-07-30 14:27] 0xc0170 commented on #7626
How this would work ?

[2018-07-30 14:33] theotherjimmy commented on #7626
@0xc0170 I was under the impression that the code [here](https://github.com/ARMmbed/mbed-os/blob/master/tools/make.py#L210-L215) and [here](https://github.com/ARMmbed/mbed-os/blob/master/tools/make.py#L277) might be colluding to add the testing framework, but it appears that this is not the case. Instead, it's just scanned all of the time (there may have been an `.mbedignore` in `features/framewor

[2018-07-30 15:53] davidsaada commented on #7455
@deepikabhavnani Why would you need two variables for it? A value of 0 in the ref count means that the device is uninitialized, while all other values means it is initialized. In this case, the `_is_initialized` is redundant.

[2018-07-30 16:08] deepikabhavnani commented on #7455
@davidsaada - Yes we can use reference count to check the device initialization status as well.. I just wanted to point that we have `_is_initialized` functionality as well which should be taken care of.

[2018-07-30 16:20] mattbrown015 opened #7647 "STM32L4: PLL MSI and LSE Configuration Question"
### Description
I've been asked to check the operation of the 32 kHz LSE crystal on our board.  What we've done is similar/identical to the NUCLEO_L433RC_P.

I believe our LSE is functioning correctly but I'm trying to understand if the device configuration would fail if it wasn't.

`SetSysClock_PLL_MSI` in `targets\TARGET_STM\TARGET_STM32L4\TARGET_STM32L433xC\TARGET_NUCLEO_L433RC_P\system_clock.c

[2018-07-30 16:48] davidsaada commented on #7455
Implemented  [#7468](https://github.com/ARMmbed/mbed-os/pull/7648) for all internal mbed-os BDs. Will handle the external ones (SD, SPIF etc.) once this PR is merged (as the init_ref_count variable has been added to the base class).

[2018-07-30 16:53] aashishc1988 opened #7649 "Failing nvstore-functionality tests on GR_LYCHEE"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
GR_LYCHEE
RZ_A1H

**Toolchain:**
GCC_ARM
ARM
IAR

**mbed-os sha:**
50bd61a4a72332baa6b1bac6caccb44dc5423309
Seems this test was added as part of release, mbed-os-5.9.3

**Tests we are failing**:
features-nvstore-tests-nvstore-functionality

[2018-07-30 16:53] aashishc1988 commented on #7649
@studavekar

[2018-07-30 17:14] studavekar commented on #7649
@toyowata @maclobdell  @bentcooke  @davidsaada  please review.

[2018-07-30 17:16] jamesbeyond commented on #7537
Hi @SierpG,

As @0xc0170 suggested, we don't have a ready solution for your case of threadsafe Greentea RawSerial output. This is one of the GreenTea limitations, unfortunately.

When we design the tool we assume that it uses the UART communication channel exclusively. We don't expect other threads use the UART arbitrarily. At least when we design our test cases, we are following this rule.

In yo

[2018-07-30 20:22] TacoGrandeTX commented on #7633
You're correct - errata 108 is accounted for in `system_nrf52.c`.  However it appears that Nordic didn't account for errata 89.  There are two places where this could be addressed for each peripheral - either in the Nordic HAL or the Mbed HAL implementation.  The former is probably easier and requires adding the POWER register writes to nrf_spim_disable() and nrf_twim_disable() located in `nrf_spi

[2018-07-30 21:01] deepikabhavnani commented on #7222
@AGlass0fMilk - Please confirm if increasing idle thread stack size resolves the issue?

Please explain this, what hardware and how?

[2018-07-30 22:06] Alex-EEE opened #7651 "Help / problem with "extra_labels_remove""
### Description
I'm trying to add support for a close part cousin of the mbed supported MCU_K22F512.  I'm having a hard time getting CLI to ignore the mbed K22 linker script and use mine.  I'm trying this:

"AI_K22": {
        "inherits": [ "MCU_K22F512" ],
        "extra_labels_remove": [ "FRDM", "MCU_K22F512" ],
        "extra_labels_add": [ "MCU_K22F512AVLK" ],

But I get this warning:

Scan: .

[2018-07-30 22:14] deepikabhavnani commented on #7235
@janjongboom
I tried reproducing this issue with Mbed OS 5.9.0/master on the DISCO-F413ZH with MBED_TICKLESS, MBED_CPU_STATS_ENABLED and MBED_HEAP_STATS_ENABLED flags and did not get stack overflow with blinky.

Please help me reproduce the issue, do I need to change anything else?

[2018-07-30 23:30] yogeshk19 commented on #7633
@TacoGrandeTX Thanks for taking the time to respond to my query. The mbed os 5.5.4 builds against sdk 11, so I added the code in nrf_twi.h, as only changes to this file made i2c_api.c recompile and changes to sdk13 nrf_twim.h doesn't cause a recompile of i2c_api.c. Here is the code I added based on the errata for just the i2c part. I was wondering if you can let me know if I am in the right path.

[2018-07-31 01:56] TomoYamanaka commented on #7649
It seems that mbed assert occurs in [NVStore::set_max_keys](https://github.com/ARMmbed/mbed-os/blob/master/features/nvstore/source/nvstore.cpp#L173).
This API is called at [here of main.cpp](https://github.com/ARMmbed/mbed-os/blob/master/features/nvstore/TESTS/nvstore/functionality/main.cpp#L98).

Because the page size of Flash that is incorporated on GR-PEACH and GR-LYCHEE is **256 Byte**, the re

[2018-07-31 07:17] mikaleppanen commented on #7612
On lwip, the heap is used for outgoing messages and socket buffer. Larger sizes mean that lwip can store more application socket data on its own buffers.

Also depending on ethernet driver implementation, the driver may use lwip heap for incoming data e.g. if it needs continuous memory buffers for DMA transfer. So for drivers using continuous buffers, heap is larger than on platforms using chained

[2018-07-31 09:14] 0xc0170 commented on #7460
Target removed, can be closed

[2018-07-31 09:14] #7460 closed, assigned to nobody

[2018-07-31 09:22] cesarvandevelde opened #7654 "STM32: Missing peripherals for bluepill_f103c8 in targets.json"
### Description

I've encountered a problem using the CAN peripheral on the STM32 `bluepill_f103c8` board. The following code does not compile when the target is set to `bluepill_f103c8`, but it does compile when the target is set to `nucleo_f103rb`:

[code]

I'm using the PlatformIO toolchain to compile the code, with the following `platformio.ini` file:
[code]

There should not be a difference b

[2018-07-31 09:23] 0xc0170 commented on #7651
Why do you inherit from `MCU_K22F512` ? This target defines base target - others can inherit from (linker script file, startup, system init and MCU header file). If you want to overwrite it, it would mean you are creating own base target thus no need for `MCU_K22F512` ? Or just want to use drivers that are the same, but the boilerplate code (linkers cript, system init, etc) are different?

[2018-07-31 09:26] 0xc0170 commented on #7654
I would assume it might be that it was not tested and not enabled but might be a different reason

cc @zgoda Please review

[2018-07-31 09:27] 0xc0170 commented on #7654
cc @ARMmbed/team-st-mcd

[2018-07-31 09:27] 0xc0170 commented on #7649
@ARMmbed/mbed-os-storage Please review

[2018-07-31 09:28] 0xc0170 commented on #7647
@ARMmbed/team-st-mcd Please review

[2018-07-31 09:35] davidsaada commented on #7649
@TomoYamanaka It is indeed a bug, which I should fix. The functionality test performs a lot of NVStore set and get actions with different keys. I use lower values of the keys to try and squeeze this board in, but the real bug here is the fact I don't check the test number of keys against the max possible number of keys. Will fix it.

[2018-07-31 09:52] ciarmcom commented on #7654
ARM Internal Ref: MBOTRIAGE-1472

[2018-07-31 09:52] ciarmcom commented on #7651
ARM Internal Ref: MBOTRIAGE-1473

[2018-07-31 09:52] ciarmcom commented on #7649
ARM Internal Ref: MBOTRIAGE-1474

[2018-07-31 09:52] ciarmcom commented on #7647
ARM Internal Ref: MBOTRIAGE-1475

[2018-07-31 11:10] ghost opened #7656 "test: Automated Singletest MBED_24 is failing with all supported tool-chains for Toshiba's TMPM066."
### Description

**Target:**
Toshiba's TMPM066

**M066 Memory:**
RAM - 16K and Flash - 128K

**Tool Chain:**
GCC_ARM / ARM / IAR

**Issue:**
- Existing implementation of us_ticker is with timerA. After adding extended feature, some greentea testcases were failing.
- To solve this, ticker file is newly implemented with timerB.
- With the new us_ticker file all greentea cases are passed but facing t

[2018-07-31 11:24] 0xc0170 commented on #7656
@ganesh-ramachandran Thanks for the report.

This test is located in unsupported. We have new set of tests but do not yet are available for testing with mbed 2 (same what singletest does but rather using mbed test). We shall fix that

[2018-07-31 11:35] ghost commented on #7656
@0xc0170 Thanks for the update.
Shall we close this issue?

[2018-07-31 12:02] 0xc0170 commented on #7656
I would like this to be reviewed by the core team. Once it is mirrored, we will triage it

[2018-07-31 12:20] adustm commented on #7654
Hello,
Bluepill platform is not supported by ST team.
CAN is supported on NUCLEO_F103RB within mbed-os.

I confirm that the code for STM32F103C8 is compatible with the one on STM32F103RB.
Adding "CAN" in targets.json should work (CAN pins are already present in https://github.com/ARMmbed/mbed-os/blob/8292affb53c6531050baadfedae78747a5b2052b/targets/TARGET_STM/TARGET_STM32F1/TARGET_BLUEPILL_F103C8/

[2018-07-31 12:23] 0xc0170 commented on #7654
Thanks @adustm for the detailed info about F103 MCU.

@cesarvandevelde feel free to send PR adding CAN for the target

[2018-07-31 12:28] 0xc0170 opened #7657 "MTB Bootloaders: license files missing"
### Description

The bootloaders located in https://github.com/ARMmbed/mbed-os/tree/master/tools/bootloaders do not contain license file.

@ARMmbed/team-multitech Please send PR adding `LICENSE` files there

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-07-31 12:29] 0xc0170 commented on #7657
cc @maclobdell

[2018-07-31 13:25] SeppoTakalo commented on #7626
Pulling the code in is the correct behaviour. Having complex rules to exclude out stuff just makes things harder to maintain.

However, the problem is real, and has been the same case for some of the connectivity driver. Proposed fix is just not right.
On connectivity driver we had to make sure that there would be no C++ objects in global namespace as those would be initialised before `main()` sta

[2018-07-31 13:44] bcostm commented on #7647
I suppose this has been done on purpose? If the LSE does not start then we continue the MSI configuration but without calibration. This was maybe the idea behind this.

But I agree that in case the LSE does not start then the call to ` HAL_RCCEx_EnableMSIPLLMode(); `must be avoided.

We should add maybe a flag when the LSE has started correctly and use this flag for the rest of the code.

Or simpl

[2018-07-31 14:19] deepikabhavnani commented on #7626
@SeppoTakalo - Thanks for helping in understanding the issue. We need proper fix as you suggested, but we still need this change for reasons below:
1. Macro to indicate test is requested by users - When working on application if we want to test something with Mbed OS we end up with linker error because of 2 main() functions, which can be easily solved with this macro.
[code]
2. While writing OS co

[2018-07-31 14:29] theotherjimmy commented on #7626
I think need is a strong word here.

There is more than one way to resolve this issue. We could also redirect main for example.

This concerns me, as it would prevent us from testing exactly the same code as we say is production ready.

Yeah, it would be better to use a feature/`TESTS/COMMON` dir for this.

[2018-07-31 14:37] 0xc0170 commented on #7626
+1

For me, this issue comes to: What is the difference between `mbed compile` vs `mbed test` ?  As some points above indicate, this new macro `MBED_TEST` can lead to usage that we would not encourage.

1. Is `MBED_TEST` useful? Yes/No
2. If 1. is Yes, how it would be useful and should be used (use cases) ?

[2018-07-31 14:41] asifrizwanubx commented on #7204
@flipflop22

https://github.com/ARMmbed/mbed-os/pull/7579/

[2018-07-31 14:43] deepikabhavnani commented on #7626
My best example for this would be testing UART. Add intermediate buffer to test data format or loopback which is required only for testing as it not required for end application to work properly.

[2018-07-31 14:50] SeppoTakalo commented on #7626
For testing uart, the test code may as well call HAL APIs directly.
I really don't see point of selectively building some code in, regarding some macros to be present.

For example, we are perfectly capable of testing Ethernet MAC drivers by linking the test code with the driver, without IP stack.

Effectively, changing the code based on build time macro, how can you actually proof that the produc

[2018-07-31 15:15] paul-szczepanek-arm commented on #7568
Please remove old bonding information from your iphone. That should stop the disconnected loop. We think this is caused by an invalid key being used over and over.

Also pull the recent changes as there was a problem with the example as well where it would not send keys as initiator and not disconnect on the second iteration of the demo.

There is still an issue with iOS we are trying to debug.

[2018-07-31 15:28] EnsilicaEdd opened #7659 "LoRaWAN connect() wrongly reports BUSY after incomplete connection attempt"
### Description
I've been testing corner cases in my project: trying to connect to LoRaWAN over-and-over and/or using the wrong credentials.

What I've found is that LoRaWANInterface::connect() returns LORAWAN_STATUS_BUSY if I call it after a previous, incomplete connect().  Incomplete in this case means that I either deliberately called disconnect() before receiving a CONNECTED event, or that I w

[2018-07-31 15:51] ciarmcom commented on #7659
ARM Internal Ref: MBOTRIAGE-1476

[2018-07-31 15:52] ciarmcom commented on #7657
ARM Internal Ref: MBOTRIAGE-1477

[2018-07-31 15:52] ciarmcom commented on #7656
ARM Internal Ref: MBOTRIAGE-1478

[2018-07-31 16:04] deepikabhavnani commented on #7612
@mikaleppanen - Thanks for clarification, since this is dependent on underlying platform, I believe is useful information for users.
Do we have any documentation describing suggested heap size based on requirement (outgoing only vs incoming + outgoing buffers). Calculations stating how many buffers are used in each direction and buffer sizes.
CC @AnotherButler

[2018-07-31 16:20] EnsilicaEdd commented on #7659
Pull Request: #7661

[2018-07-31 17:12] EnsilicaEdd commented on #7432
I've just sent a 48-byte message at DR0 / SF12.  So that's working as expected.  Thanks!

[2018-07-31 17:12] #7432 closed, assigned to nobody

[2018-07-31 17:15] Alex-EEE commented on #7651
Yea, exactly, my part is actually just a custom board and a very similar but still different K22.  I need to have IAR export use a different startup and linker script, and to also use different PinDef files.

[2018-07-31 17:28] AGlass0fMilk commented on #7568
@paul-szczepanek-arm Can you share any details about the issue with iOS that still exists? The demo now successfully re-pairs with my iPhone.

Concerning the disconnect loop:
I have been deleting the bonding information from my iPhone each time I connect (since it would enter the disconnect loop, probably due to invalid keys as you said). I'm not sure what change caused the rebonding to start work

[2018-07-31 18:59] helmut64 commented on #7647
I don't have the complete overview on this, at present we use the LSE crystal on our board.

[2018-07-31 19:23] SenRamakri commented on #7575
@jeckypei - I'm closing this as we already have the API get_ms_count. And more detailed doc is also in process. Thanks for your feedback.

[2018-07-31 19:23] #7575 closed, assigned to nobody

[2018-07-31 20:10] TacoGrandeTX commented on #7633
@Yogeshk19 Sorry that we thought you were using SDK v13.  I personally haven't used SDK v11 but I pulled it down and reviewed it.  For SDK v11 it appears that we don't have EasyDMA support for the TWI (this is called TWIM) even though it is available in the Nordic SDK.  For instance, I don't see the Nordic driver `nrf_drv_twi.c` being delivered in Mbed for SDK v11.

Are you sure you are using the

[2018-07-31 20:18] yogeshk19 commented on #7633
I am not using EasyDMA with TWI and I made the changes to the nrf_spim.h. Well implementing these changes didn't make any effect on the current draw in our case, still stays at 450-500 uA. I am closing this as i could find the fix for the errata 108 from the later builds in mbed-os. Thanks as always Ralph for taking the time to respond. I will open a separate ticket for the high current draw, base

[2018-07-31 20:18] #7633 closed, assigned to nobody

[2018-08-01 03:27] TomoYamanaka commented on #7649
@davidsaada
Thank you for your comment.

However, I take back what I said.

As a result of review flash spec, I found that this 256 Byte is not a minimum access size is a maximum size per one writing, and the minimum access size is 1 Byte.
Also, I noticed that the write process that is defined in `flash_iap.c` does not work correctly when receiving the request of size larger than 256 byte.

As a t

[2018-08-01 04:20] coisme opened #7665 "MbedTLS Certificate Verification fails"
### description
Since [this change](https://github.com/ARMmbed/mbed-os/commit/5ced8e4fdfa8fd781c0a39b29597762cedcedec6#diff-7f89da8ca76d222c07810ac19d11e3c5), issued date and expiration date of certificates are checked by default. Programs that doesn't synchronize RTC will fail in certificate verification, including ```mbed-os-example-tls/tls-client``` example. Is this change intentional?

- What

[2018-08-01 06:32] davidsaada commented on #7649
@TomoYamanaka Nonetheless, this exposed a bug in the NVStore test, which I should fix.

[2018-08-01 07:17] kivaisan commented on #7659
Thanks for the report. I implemented a test case for this scenario and I can confirm the behaviour. The fix PR looks good.

[2018-08-01 07:23] devKlausS commented on #7425
@naveenkaje : I am working with grathlinkbit and tested your fix. Unfortunately the fix does not solve the issue. The  program still get stuck on ```ASSERT(p_cb->state != NRF_DRV_STATE_UNINITIALIZED); (nrf_drv_twi.c, line: 397)```

this is a new version of our test program:

[code]
*[Mirrored to Jira]*

[2018-08-01 07:31] paul-szczepanek-arm commented on #7568
If you comment out the central section in the main() this will work as expected:
connect, pair, encrypt, disconnect, connect, *no pairing*, encrypt (keys already stored)
With the central section the keys exchanged when the device is central don't appear to work when roles are reversed (this might not be a bug, since you can't force the other device to store your key when you're the master since it

[2018-08-01 07:51] ciarmcom commented on #7665
ARM Internal Ref: MBOTRIAGE-1479

[2018-08-01 08:29] 0xc0170 commented on #7659
@EnsilicaEdd 👍  For reporting and fixing

[2018-08-01 09:15] mikaleppanen commented on #7137
Correction has been merged:

https://github.com/ARMmbed/mbed-os/pull/7289

[2018-08-01 11:15] davidsaada commented on #7649
@aashishc1988 Please check whether [#7670](https://github.com/ARMmbed/mbed-os/pull/7670) fixes this issue (I don't have access to this board).

[2018-08-01 13:10] davidsaada commented on #7455
@0xc0170 Maybe this was prematurely closed. I still need to implement this on the SD block device (and other external BDs such as SPIF). [#7468](https://github.com/ARMmbed/mbed-os/pull/7648) only implements it for the internal mbed-os block devices.

[2018-08-01 13:37] 0xc0170 commented on #7455
It was automatically. Reopening

[2018-08-01 13:55] davidsaada commented on #7439
This can be closed now that [#7465](https://github.com/ARMmbed/mbed-os/pull/7465) was merged.

[2018-08-01 14:22] SierpG commented on #7537
We already addeda  layer using a mutex into our tests in order to synchronize the different threads. This was only a question, if htere is a better way to do this.

[2018-08-01 15:24] aashishc1988 commented on #7649
@davidsaada I confirm that https://github.com/ARMmbed/mbed-os/pull/7670 does fix the issue. I am wondering if we should a file a different github issue to track the bug @TomoYamanaka found or address that as a part of this one.

[2018-08-01 15:32] aashishc1988 commented on #7439
I pulled in the merge and verified the fix again. Closing this.

[2018-08-01 15:32] #7439 closed, assigned to nobody

[2018-08-01 15:36] davidsaada commented on #7649
@aashishc1988  Thanks for confirming it. I think it should be in a separate issue. This issue is currently assigned to me (and should likely be closed soon as I opened a PR for it), and we need a different one assigned to @TomoYamanaka for the other problem (which he should resolve in his own time).

[2018-08-01 16:08] aashishc1988 commented on #7649
@davidsaada Agreed! It would be better to track it on different PR.

[2018-08-01 16:08] aashishc1988 commented on #7649
I will wait for the PR to be merged before I close this, and file a new github issue for @TomoYamanaka

[2018-08-01 17:55] cesarvandevelde commented on #7654
Thanks for the follow-up, @0xc0170 and @adustm, I'll take a look and see what I can do.
I'll need a bit of time to figure out how/where the mbed and PlatformIO toolchains interact with one another though, just to make sure I don't accidentally break things... :)

[2018-08-01 17:57] surajdagar opened #7672 "Target - nRF52840 - I2C driver does not work with mbed-Cloud-Client example"
I2C driver does not work in Cloud-Client-Example. There was an issue before in MBED-OS “I2C doesn’t work with SPI”. I can see that issue has been closed. But it looks like similar to that.

Target - nRF52840_DK
Tool_Chain - GCC_ARM

    Steps to reproduce:
          1)	Add GNSS libs in the cloud client example
          2)	Create a new thread for GPS or any other I2C based device
          3)	Init

[2018-08-01 18:25] elm3 commented on #7672
Adding @naveenkaje

[2018-08-01 19:46] surajdagar commented on #7672
I am trying to write before read so it can be related to below issue.
https://github.com/ARMmbed/mbed-os/issues/7425

[2018-08-01 19:51] ciarmcom commented on #7672
ARM Internal Ref: MBOTRIAGE-1480

[2018-08-01 20:59] dlfryar-zz commented on #7672
**Reproducer, build, and debugging information:**

**I2C data payload dump on read and write**

[mbed-os/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/i2c_api.c](https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5x/TARGET_NRF52/i2c_api.c)

[code]

**Cloud Client Example Repo - reads fail**
https://github.com/ARMmbed/mbed-cloud-client-example

**Build Cloud Client**
m

[2018-08-01 21:44] edablan commented on #7541
@marcuschangarm

So I am noticing this as an intermittent issue on the EVK-NINA-B1 board, and having issues knowing what puts it into the following state. I am using the built in debugger of the EVK-NINA-B1, which is not CMSIS-DAP but a J-Link debugger (J-Link OB). When in debug mode (and presumably non debug mode) the line inside of the BLE_HearRate main.cpp file:

[code]
is causing hard faults.

[2018-08-02 04:41] AGlass0fMilk opened #7674 "nRF SDK15 and USB Support"
### Description

## **Update** - USB Implementation Done - Pull Request Merged

I have finished the implementation for the USBPhy on the nRF52840 platform. I have put in a pull request so hopefully it should be released in master soon.

You can check out my [development branch here.](https://github.com/AGlass0fMilk/mbed-os/tree/nrf52840-usb-hal-sdk15)

Please note the development branch has been u

[2018-08-02 06:17] AriParkkila commented on #7213
Please see my comment about `at+cgdata` in https://github.com/ARMmbed/mbed-os/pull/7304#discussion_r206033500

[2018-08-02 08:18] mattbrown015 commented on #7647
@bcostm Possibly, this sounds like a good idea for a prototyping environment that is trying to get people started quickly and easily.  But, I'm concerned/interested because we've moved beyond prototyping.  We're about to build a number of _production_ boards and I think it would be bad if some boards silently behaved differently to others because of a manufacturing fault i.e. some problem with the

[2018-08-02 10:15] paul-szczepanek-arm commented on #7568
Investigation revealed https://github.com/ARMmbed/mbed-os/pull/7681

Also added privacy support to the SM example.

[2018-08-02 11:31] 0xc0170 commented on #7537
Thanks @SierpG for the details.

@jamesbeyond Shall this be closed as answered?

[2018-08-02 11:39] kivaisan commented on #7659
@EnsilicaEdd PR has been merged, so could you please verify and close this issue?

[2018-08-02 11:42] SierpG commented on #7537
Yes

[2018-08-02 12:15] #7537 closed, assigned to nobody

[2018-08-02 13:18] #7137 closed, assigned to nobody

[2018-08-02 14:20] janjongboom commented on #7235
@deepakvenugopal See my comments earlier. Please try this with a large application like [mbed-os-example-wifi](https://github.com/armmbed/mbed-os-example-wifi).

[2018-08-02 14:27] NeilMacMullen opened #7679 "UBLOX cellular api's for UDP and TCP do not work for Sara R4 (CATM1)"
This comments are raised in relation to https://github.com/ARMmbed/mbed-os/pull/7619.  Since the 3G (U201) modem appears to work well with those changes, I suggest that PR is merged and these issues are addressed separately...

First, the R4 does not support the UPSND command.  Something similar to the following changes is required.  For expediency I've use a macro to detect the difference between

[2018-08-02 14:28] NeilMacMullen commented on #7679
Adding @TeemuKultala , @MarceloSalazar
*[Mirrored to Jira]*

[2018-08-02 14:35] NeilMacMullen opened #7680 "SocketAddress should be extended to support address-less host names"
The UBLOX SARA-R4 CATM1 modem includes an on-board IP stack but does not provide an AT command to perform a DNS lookup from a host name.  The cellular stack passes a SocketAddress to a socket-open implementation and the assumes that this contains an IP address which has already been retrieved.

Here's some representative code from UBLOX_AT_CellularStack::socket_connect
[code]
The R4 is quite happy

[2018-08-02 14:35] NeilMacMullen commented on #7680
Copying @TeemuKultala  @MarceloSalazar

[2018-08-02 14:39] NeilMacMullen opened #7682 "UBLOX SARA R4 module requires different command to open PPP data channel"
When using LWIP, the following changes are required to enter PPP mode.  (Note there still appears to be an issue that prevents data flowing when this is done.)
[code]

[2018-08-02 14:41] NeilMacMullen commented on #7682
See also https://github.com/ARMmbed/mbed-os/issues/7464

[2018-08-02 14:42] NeilMacMullen commented on #7682
Adding @TeemuKultala @MarceloSalazar

[2018-08-02 15:44] davidsaada commented on #7455
Ugh... Needs to be reopened again (At least SPIF should include this fix).

[2018-08-02 16:02] mmahadevan108 commented on #7610
This has been fixed via PR: https://github.com/ARMmbed/mbed-os/pull/7429
Below is the test result with the current mbed-os master:

PS C:\ci-test-shield.git> mbed test -n tests-api-analogin* --app-config .\mbed_app.json -t ARM -m MIMXRT1050_EVK
Building library mbed-build (MIMXRT1050_EVK, ARM)
Scan: ci-test-shield.git
Building project AnalogIn (MIMXRT1050_EVK, ARM)
Scan: ARM
Scan: AnalogIn
Link: A

[2018-08-02 16:21] NeilMacMullen commented on #7680
Basic changes to support hostname address type. I haven't checked closely whether all semantics are sensibly maintained.  Also, it may be unwise to overload get_ip_address in this way since clients may assume the maximum size of the returned string is the size of an IPV6 address.

[code]
[code]

[2018-08-02 16:29] #7455 closed, assigned to davidsaada

[2018-08-02 16:30] geky commented on #7455
@davidsaada, just in case you didn't know, the "resolves" keyword in your PRs is what's closing the issue:
https://help.github.com/articles/closing-issues-using-keywords

I don't know if you want this reopened again.

[2018-08-02 16:33] davidsaada commented on #7455
Thanks, learning something new every day.

[2018-08-02 16:35] davidsaada commented on #7455
And don't think I need it reopened. Do you think I need to do that in other external BDs (namely DataFlash and FlashIAP)?

[2018-08-02 17:45] EnsilicaEdd commented on #7659
Both cases tested successfully.  Thanks all.

[2018-08-02 17:45] #7659 closed, assigned to nobody

[2018-08-02 22:30] deepikabhavnani commented on #7235
mbed-os-example-wifi - with added macros in json file + no code change  + mbed-os-5.9.4 runs without any issue.
`
"macros": ["MBED_THREAD_STATS_ENABLED", "MBED_CPU_STATS_ENABLED", "MBED_HEAP_STATS_ENABLED", "MBED_TICKLESS"],
`

Do I need to add stats as well to code?

[2018-08-02 22:32] naveenkaje commented on #7672
@dlfryar @surajdagar
Thanks for the detailed analysis and steps.

I see that we read 0 in the cloud client example but it seems to have valid data on the gnss-example. see attached trace logs..
![error_trace](https://user-images.githubusercontent.com/39923816/43614548-8866afe4-9679-11e8-8833-f3258625600a.PNG)
![good_trace_from_example_gnss](https://user-images.githubusercontent.com/39923816/436145

[2018-08-03 04:25] cedrickkukela-cd commented on #7213
sorry about the delay
I will push something up tomorrow

[2018-08-03 05:53] wajahat-abbas commented on #7679
@NeilMacMullen
The revision history of latest [AT command manual](https://www.u-blox.com/sites/default/files/SARA-R4-SARA-N4_ATCommands_%28UBX-17003787%29.pdf) of SARA-R4 indicates that UDNSRN is supported now.
*[Mirrored to Jira]*

[2018-08-03 07:48] 0xc0170 commented on #7682
cc @ARMmbed/team-ublox

[2018-08-03 07:54] drahnr opened #7684 "socket API using same lock for send + recv"
### Description
gcc 7.x.y
mbed-os 5.9.4

With the current API there is one lock used for send + recv, essentially rendering it unuseable and killing the full duplex feature of most communication channels.
Instead of two threads for recv() + queue + send() (for drivers which can do that) one now has to use essentially do polling with recv() and a small timeout value.

**What is the motivation behin

[2018-08-03 08:05] NeilMacMullen commented on #7679
@wajahat-ublox  Interesting.  We're using modules that were shipped only a short time ago I believe so I'm not sure this change is available yet.  Do you know how/if we can upgrade the firmware to support this feature? (Preferably over the air!)
*[Mirrored to Jira]*

[2018-08-03 08:46] 0xc0170 commented on #7610
@maclobdell Please retest. The initial report does not provide what version of Mbed OS was tested.

[2018-08-03 08:50] mudassar-ublox commented on #7680
Host name resolution is supported for SARA-R4, [AT Command Manual](https://www.u-blox.com/sites/default/files/SARA-R4-SARA-N4_ATCommands_%28UBX-17003787%29.pdf).

In `gethostbyname` function, IP is retrieved and set as well.
https://github.com/u-blox/mbed-os/blob/a8abeccdacb019c852335b19b652102155f322bc/features/cellular/framework/targets/UBLOX/AT/UBLOX_AT_CellularStack.cpp#L573

[2018-08-03 08:52] NeilMacMullen commented on #7680
@mudassar-ublox It is NOT supported in the modules that are currently being shipped to us!
If there is a way to upgrade the firmware over the air, I'm happy to try to apply it and retest.  See also https://github.com/ARMmbed/mbed-os/issues/7679  where your colleague @wajahat-ublox has commented to the same effect.

[2018-08-03 09:07] mudassar-ublox commented on #7679
Currently we have added changes for target SARA_U201 and we have plan to add target support in `CellularTarget.h` for SARA_R4 once PR [#7619](https://github.com/ARMmbed/mbed-os/pull/7619) is merged.

The changes you are suggesting for SARA_R4 already handled. [`open_data_channel`](https://github.com/u-blox/mbed-os/blob/a8abeccdacb019c852335b19b652102155f322bc/features/cellular/framework/targets/UB

[2018-08-03 09:44] NeilMacMullen commented on #7680
@mudassar-ublox  Actually since the U2 module also supports host names as the USOCO address parameter, I would suggest skipping the gethostbyname step entirely and leaving the resolution entirely on-chip.  The other variant we care about is NB-IOT (N2) but it's very unclear what stage of maturity this is at.

[2018-08-03 10:06] philwareublox commented on #7680
+UDNSRN will be supported in later firmware versions, but for now we will need to work around this issue.

[2018-08-03 10:18] 0xc0170 opened #7690 "Realtek: REALTEK_RTL8195AM does not have any MCU_ target defined"
### Description

`REALTEK_RTL8195AM` is a target that defines `RTL8195A`. If there is a new target that is based on `RTL8195A` - can't use this target as a base. Because this target contains definitions/code for actual target (PinNames and some other board specific settings). Can we have `MCU_RTL8195A` that `REALTEK_RTL8195AM` target would inherit from ?

An example is `NRF52_DK` that inherits fro

[2018-08-03 10:45] paul-szczepanek-arm commented on #7568
This should work now with the role reversal hint. If both keys (master and slave) aren't sent at the same time phones may create two bonds which might cause issues when roles are reversed since each bond only holds one key rather than there being a single bond with both keys. Closing the issue.

[2018-08-03 10:45] #7568 closed, assigned to nobody

[2018-08-03 11:10] SeppoTakalo commented on #7684
Memory, mostly.
Also some drivers are not capable of reading and writing at the same time.

Can you tell me that case where this current behaviour is actually not working? Even if the Socket API is set to blocking mode, all underlying stack operations are non-blocking. All IP stacks we have are event based.
So in case when `recv()` or `send()` would block, it actually releases the mutex and starts

[2018-08-03 11:13] drahnr commented on #7684
The assumption there is that the driver implementing `virtual socket_recv` actually returns and yields an event, which might very well not be the case, in case of an SDK which is blocking.
But I assume that is more a violation of the API's intention. It is just not very clear how the signaling is supposed to work from the API documentation of the `NetworkStack` - nor how to implement a driver prop

[2018-08-03 12:30] SeppoTakalo commented on #7684
It is pretty safe assumption that stack providers implement their stacks as documented.

Non-blocking behaviour is documented in `struct nsapi_stack_api` so there could not be any confusion here:
https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/nsapi_types.h#L483..L484

*[Mirrored to Jira]*

[2018-08-03 12:31] SeppoTakalo commented on #7684
Also documented in `NetworkStack` class https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/NetworkStack.h#L274..L275

*[Mirrored to Jira]*

[2018-08-03 12:39] drahnr commented on #7684
The mechanism of signaling as soon data is ready is the part that is not documented overly conclusive from an implementors POV.
*[Mirrored to Jira]*

[2018-08-03 12:55] SeppoTakalo commented on #7684
True, its not very throughly explained.

The behaviour is explained in documentation of `attach()` API, so if someone does full porting of NetworkStack, they understand the behaviour only when `attach()` is ported.

https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/NetworkStack.h#L322..L335
https://github.com/ARMmbed/mbed-os/blob/master/features/netsocket/nsapi_types.h#L554..L569

[2018-08-03 13:21] drahnr commented on #7684
I find this quite confusing because it is not clear what purpose this callback serves, it is explained when it may be called, but does not answer the purpose of what it does. It's also not clear why this is the only function having a callback so this is something discarded rather quickly.

(Also: I guess most embedded people skip that part entirely (open, connect, send, recv, close is the most com

[2018-08-03 13:33] dlfryar-zz commented on #7672
cc: @jrc92024

[2018-08-03 15:15] mattbrown015 commented on #7156
Hi @naveenkaje and @jeromecoutant, I feel bad about cross posting but thanks to both your efforts I believe I understand better now.

From your advice it is now my belief that `MBED_TICKLESS` and RTC mode is best choice for my situation, i.e. battery powered STM32L4 and long periods of inactivity.

In future I will stick to asking questions here, it feels to me that questions on the Mbed forum get

[2018-08-03 15:15] #7156 closed, assigned to nobody

[2018-08-03 15:17] phyokyaw commented on #7155
Hi @theotherjimmy,

Thank you for your comment. I am looking into the issue regards to excluding source files to see why there are "No such file or directory" errors. When we export using mbed-cli `<entry excluding .../> `entries in the exported .cproject contains the right path. E.g. for FEATURE_STORAGE

`<sourceEntries>
   <entry excluding="...|./mbed-os/features/storage/FEATURE_STORAGE|... />
<

[2018-08-03 16:18] mattbrown015 opened #7695 "STM32L4: Adjusting RTC Synchronisation When Using MBED_TICKLESS in RTC Mode"
### Description
As discussed here [How to Achieve Long Periods of Deep Sleep on STM32 #7156](https://github.com/ARMmbed/mbed-os/issues/7156) and here [deepsleep - LPTIM1 Vs RTC on STM32?](https://os.mbed.com/questions/81427/deepsleep-LPTIM1-Vs-RTC-on-STM32/) it seems appropriate to use the RTC when enabling `MBED_TICKLESS` on STM32L4.

In our application we also want to use the RTC for recording t

[2018-08-03 16:44] #6868 closed, assigned to nobody

[2018-08-03 16:49] theotherjimmy commented on #7155
@phyokyaw Thanks for looking into this. I'll take a look at why that's going wrong.

[2018-08-03 16:51] cmonr commented on #6909
Closing since fix has been merged.

[2018-08-03 16:51] #6909 closed, assigned to nobody

[2018-08-03 16:56] cmonr commented on #6897
Closing since https://github.com/ARMmbed/mbed-os/pull/7434/ addresses this.
*[Mirrored to Jira]*

[2018-08-03 17:03] bmcdonnell-ionx commented on #6897
@cmonr,

It does not. Please re-open.

I am asking for [1] git hash of [2] the user's project. By contrast, #7434 provides [1] version number (not hash) of [2] Mbed (not the user's project).

IDK if it would be part of `mbed-os` or `mbed-cli`.
*[Mirrored to Jira]*

[2018-08-03 17:11] theotherjimmy commented on #6897
@bmcdonnell-ionx In the mean time you could run:
[code]

That'll probably force a rebuild for every new hash.
*[Mirrored to Jira]*

[2018-08-03 17:12] cmonr commented on #7046
Closing since both PRs are merged!

[2018-08-03 17:12] #7046 closed, assigned to nobody

[2018-08-03 22:39] simonbutcher commented on #7665
This is a bug, and we need to fix it before the next release.

[2018-08-04 16:28] pauluap opened #7697 "Hard fault pointing into event queue code"
### Description

mbed-os version 5.8.3
gcc version 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512] (GNU Tools for ARM Embedded Processors 6-2017-q1-update)

I have an application that has several threads sending events to a central dispatcher.  I'm running into a problem where the application crashes after multiple days of operation with a hard fault in `equeue_dequeue`

The crash

[2018-08-04 20:49] kegilbert commented on #7697
Pinging @geky
*[Mirrored to Jira]*

[2018-08-05 08:25] dannybenor commented on #6942
This is a valid feature request. Low priority for the moment
*[Mirrored to Jira]*

[2018-08-05 09:00] OmerRosler opened #7699 "Stateful function objects for `Callback` size limitation"
Is there a specific reason you ban stateful function objects of size larger then `sizeof(uintptr_t)` to be converted into `mbed::Callback`?

This assertion is defined in the macro `MBED_ENABLE_IF_CALLBACK_COMPATIBLE`

Similar callback libraries - `std::function`, `boost::function`, the propesed `inplace_function` and many more I don't know, enable arbitrary function objects sizes such that for obj

[2018-08-06 03:13] dlfryar-zz commented on #7672
@teetak01 or @marcuschangarm do you have any suggestions why [mbed-cloud-client-example](https://github.com/ARMmbed/mbed-cloud-client-example/tree/1.4.0) adding a separate thread to poll the I2C GNSS module every 5 seconds seems to have a ~4 minute lock on the I2C bus? Log and sources [here](https://gist.github.com/dlfryar/7f281f7b53eba7b538d9c26428e0957d).

It seems you can get in a state where t

[2018-08-06 05:52] cmorty opened #7701 "Circular buffer should use if statement instead of % to handle index overruns"
### Description
`CircularBuffer` uses modulo to handle index overruns of `_tail` and `_head`. Unless `Buffersize` is `2^x` or some other magic number the compiler must make a division, which is pretty expensive in terms of computation power, even with hardware support.
As `_tail` and `_head` are only ever incremented by one, an `if(_tail == BufferSize) {_tail = 0};` should suffice. This will provi

[2018-08-06 06:17] cmorty opened #7702 "Sub-optimal usage of volatile in CircularBuffer"
### Description
The usage of volatile in `CircularBuffer` is suboptimal:

`_haed` and `_tail` are only accessed within critical sections. However them being `volatile` keeps the compiler from optimizing their access and causes them to be unnecessary accessed. For example
[code]
will yield 2 read and 2 write accesses, while only one each is really necessary. There are two ways to fix this:
* Use a

[2018-08-06 07:51] ciarmcom commented on #7702
ARM Internal Ref: MBOTRIAGE-1492

[2018-08-06 07:51] ciarmcom commented on #7701
ARM Internal Ref: MBOTRIAGE-1493

[2018-08-06 08:13] samchuarm commented on #7542
@studavekar @deepikabhavnani Has this issue been verified with the latest M2351 interface firmware binary provided by Nuvoton Chris? Thanks.

[2018-08-06 08:17] samchuarm commented on #7690
@ARMmbed/team-realtek @M-ichae-l Can you please help address the question? Thanks
*[Mirrored to Jira]*

[2018-08-06 08:55] jeromecoutant commented on #7576
Hi
Maybe we can close this issue ?
Thx

[2018-08-06 09:06] 0xc0170 commented on #7701
Please do. Also for the another enhancement you created (circular buffer usage of volatile)

Feel free to send PR. We will review

[2018-08-06 09:09] 0xc0170 commented on #7695
@ARMmbed/team-st-mcd Please review

[2018-08-06 09:50] 0xc0170 commented on #7615
I can reproduce this problem (nucleo f441re , blinky example, 5.9.4 version, export for uvision5). The file is present in this repository but not present once you export.

These are the configs missing: https://github.com/ARMmbed/mbed-os/tree/master/features/nanostack/sal-stack-nanostack/source/configs

@theotherjimmy The files in question are `.cfg`. Is this supported extension for exporters?

cc

[2018-08-06 10:11] M-ichae-l commented on #7690
@samchuarm
Noted. Thank you.
*[Mirrored to Jira]*

[2018-08-06 10:14] #7576 closed, assigned to nobody

[2018-08-06 10:15] pan- commented on #7702
No; `_pool` cannot change at any time given that accesses to the data member of the CircularBuffer are guarded by a `critical section`. Of course the `critical section` should set up the appropriate data and/or instruction barriers; I hope it does.

Note that `volatile` does offer little to no protection regards to the memory accessed as it doesn't issue memory barrier/synchronization instructions

[2018-08-06 10:26] 0xc0170 commented on #7702
👍

[2018-08-06 11:29] M-ichae-l commented on #7690
Please refer to #7704 for the changes. `MCU_RTL8195A ` added.
*[Mirrored to Jira]*

[2018-08-06 11:35] jeromecoutant commented on #7521
Hi
Should we keep this PR opened ?

[2018-08-06 12:01] pilotak commented on #7521
It's still happening

[2018-08-06 12:02] drahnr commented on #7684
There is only this well hidden section on how to implement the feedback from the driver to the Socket API on state change. This is not obvious from the API documenation, but there is also no link to this page: https://os.mbed.com/docs/latest/reference/networkstack.html
*[Mirrored to Jira]*

[2018-08-06 12:04] jeromecoutant commented on #7521
OK

You need to help me to reproduce the issue.

[2018-08-06 12:27] pilotak commented on #7521
Please refer to first post, nothing changed since then. I have now bootloader in place and it starts fine and when it finishes and actual app starts i then get an error.

[2018-08-06 13:46] SeppoTakalo commented on #7615
Why does the exporting drop files from repository?

[2018-08-06 13:50] theotherjimmy commented on #7615
@SeppoTakalo The exporters don't include everything, because that would be _huge_. Instead they only include things that directly affect the build process.

Why are those `.cfg` instead of `.h` (which they appear to be)?

[2018-08-06 14:06] studavekar commented on #7542
@samchuarm this is been fixed in the latest interface binary provided.

Thanks @ccli8.

[2018-08-06 14:06] #7542 closed, assigned to nobody

[2018-08-06 14:55] ChiSaw opened #7707 "NRF52 PwmOut inverted"
### Description
Switched from mbed-os-5.7 to mbed-os-5.9, suddenly PwmOut behaved inverted, meaning

`PwmOut led(SOME_PIN);`
`led.write(0); // LED on`

accordingly opposite cases for `.write(1000);`

Note: LED circuit is active-high.

Target: NRF52832
ARM_GCC 6-2017-q2-update 6.3.1 20170620 (release)
mbed-os: 5.9, mbed-cli
Steps to reproduce:
empty mbed-os project with main() containing

[code]

#

[2018-08-06 15:18] jeromecoutant commented on #7589
Hi

As a conclusion, check https://os.mbed.com/teams/ST/wiki/steps-to-create-a-new-STM32-platform

And:

- F1 cube driver update : #7606

- linker file:

MEMORY
{
  FLASH (rx) : ORIGIN = 0x08000000, LENGTH = 256K
  RAM (rwx) : ORIGIN = 0x200000EC, LENGTH = 64K - 0x130
}

- stm32f1xx.h : uncomment the correct MCU

- TARGET_STM/mbed_rtx.h : add something like

#elif defined(TARGET_STM32F103RC)
#defi

[2018-08-06 15:42] aashishc1988 opened #7709 "Failing mbedtls selftests for a specific tool-chain"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
WIZWIKI_W7500

**Toolchain:**
IAR

**mbed-os sha:**
Failing since mbed-os-5.5.0

**Tests we are failing:**
tests-mbedtls-selftest                                                       | mbedtls_sha256_self_test

**Steps to reproduce**
mbed  test -m WIZWIKI_W7500 -t IAR

[2018-08-06 15:51] ciarmcom commented on #7707
ARM Internal Ref: MBOTRIAGE-1495

[2018-08-06 15:55] studavekar commented on #7709
cc : @andrewc-arm
*[Mirrored to Jira]*

[2018-08-06 15:57] aashishc1988 opened #7710 "Failing flashsim tests due to lack of memory"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
WIZWIKI_W7500

**Toolchain:**
IAR

**Tests we are failing:**
features-tests-filesystem-flashsim_block_device

**Steps to reproduce**
mbed  test -m WIZWIKI_W7500 -t IAR -n features-tests-filesystem-flashsim_block_device -v

**log snippet**
[code]
    [ ] Question
    [ ]

[2018-08-06 15:57] aashishc1988 commented on #7710
Filed the PR for it

https://github.com/ARMmbed/mbed-os/pull/7696
*[Mirrored to Jira]*

[2018-08-06 16:41] aashishc1988 opened #7711 "Failing heap tests on wizwiki platform"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
WIZWIKI_W7500

**Toolchain:**
IAR

**Tests we are failing:**
tests-mbed_platform-stats_heap

**Steps to reproduce**

mbed  test -m WIZWIKI_W7500 -t IAR -n tests-mbed_platform-stats_heap -DMBED_HEAP_STATS_ENABLED=1 -v

**log snippet**
[code]
    [ ] Question
    [ ] Enha

[2018-08-06 18:22] bmcdonnell-ionx commented on #7702
How about `_tail = ((_tail + 1) % BufferSize);`?

[2018-08-06 18:43] geky commented on #7699
Yes, and it's an interesting problem.

The heap is not interrupt safe, and one of the primary uses for callbacks in Mbed OS is for interacting with interrupt context. By asserting, we can garuntee that any operations involving the callback class is interrupt safe.

If you need larger state, you can store it in a separate object or struct and pass it by pointer with the state overloads for the call

[2018-08-06 19:06] aashishc1988 opened #7712 "Failing filesystem tests due to memory allocation"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
WIZWIKI_W7500

**Toolchain:**
GCC_ARM

**Tests we are failing:**
features-tests-filesystem-buffered_block_device

**Steps to reproduce**

mbed  test -m WIZWIKI_W7500 -t IAR -n features-tests-filesystem-buffered_block_device -DMBED_HEAP_STATS_ENABLED=1 -DMBED_TRAP_ERRORS

[2018-08-06 19:22] aashishc1988 commented on #7712
cc: @davidsaada @SenRamakri @studavekar

[2018-08-06 19:30] aashishc1988 commented on #7712
One way to handle this, as suggested by @SenRamakri , is that we over-write the mbed-os error handler with a dummy procedure that does nothing when the call to "new" fails. Here is the snippet of what code would look like (with some commentary about the changes)

[code]
However, this change is only needed for some specific parts, and tool chain. Like the test, features-tests-filesystem-buffered_bl

[2018-08-06 19:51] ciarmcom commented on #7712
ARM Internal Ref: MBOTRIAGE-1496

[2018-08-06 19:51] ciarmcom commented on #7711
ARM Internal Ref: MBOTRIAGE-1497

[2018-08-06 20:11] bmcdonnell-ionx commented on #6897
@theotherjimmy, is the `-D` option to `mbed compile` documented somewhere? I can't find it.

And what about exporting the project to IDEs?
*[Mirrored to Jira]*

[2018-08-07 06:12] cmorty commented on #7702
`core_util_critical_section_enter` is only a mutex:
https://github.com/ARMmbed/mbed-os/blob/ffcb6ecfb5e769efecb1b5f3148b908d7e694a87/platform/mbed_critical.h#L59-L70
and https://github.com/ARMmbed/mbed-os/blob/ffcb6ecfb5e769efecb1b5f3148b908d7e694a87/hal/critical_section_api.h#L32-L63

And why should it be anything else? If you don't understand how volatile works you shouldn't write critical secti

[2018-08-07 06:13] cmorty commented on #7702
@bmcdonnell-ionx Yes. that would work, too. ;) The binary code will be the same.

[2018-08-07 09:02] MateuszMaz commented on #7707
I'll check it.
edit:
Hey, if you are using standard NRF52832 development kit:
https://os.mbed.com/platforms/Nordic-nRF52-DK)
then according to documentation (https://bit.ly/2OkRWHO):

If you are using other board, then please let me know about it.

cc @maciejbocianski @fkjagodzinski @mprse

[2018-08-07 09:07] yogpan01 commented on #7672
Cloud Client doesnt interact with I2C interfaces directly so if some internal Mbed OS component is doing that on behalf of Client . its hard to tell. Is this out-of-box configuration or there some modifications done on example configuration and setup to make this work on NRF52 board? @marcuschangarm Do you think if this is related to some file system configuration which is causing this issue?

[2018-08-07 09:50] mattbrown015 opened #7718 "LoRaWAN: Not Receiving TX_ERROR after Exhausting Confirmed Message Retries"
### Description
I believe a `TX_ERROR` event should occur if confirmed message retries are exhausted.  Although I haven't found this explicitly stated in the documentation in `LoRaWANInterface.h`.

As far as I can tell, the `TX_DONE` event is generated even if the retries are exhausted.  The stack prints debug saying the the retries have been exhausted:

    [ERR ][LSTK]: Retries exhausted for Cla

[2018-08-07 10:13] 0xc0170 commented on #7712
Why is it failing? not enough memory? There's 48 kB SRAM (if no socket are used, not sure if these are allocated by default)

[2018-08-07 10:57] hasnainvirk commented on #7718
@mattbrown015 I re-ran the tests and I can confirm that we will receive `TX_ERROR` event when all the retries are exhausted for a CONFIRMED message. Yeah, may be the documentation needs to be improved. TX_ERROR is documented as a general TX_ERROR but it is happening specifically for the case when we do not receive an ack back. TX_ERROR is the correct event for not receiving an ack.

[2018-08-07 11:26] mattbrown015 commented on #7718
@hasnainvirk Hhmm, ok, thanks!

I've been distracted by something else this morning and therefore haven't done any more investigation.  Hopefully I'll get back on it soon and let you know what's going on with me. :-)

I tried 0 and 1 retries, BTW.

[2018-08-07 11:51] ciarmcom commented on #7718
ARM Internal Ref: MBOTRIAGE-1500

[2018-08-07 12:57] 0xc0170 commented on #7702
We could optimize there as suggested. Please send PR with the proposal as above.

Not certain about this one.

[2018-08-07 13:12] pan- commented on #7702
@cmorty
So I've checked what disabling the interrupt actually means on Cortex M. [Here](https://github.com/ARMmbed/mbed-os/blob/1e676f6eda27c84f61fa97626b1980b9e410b769/cmsis/TARGET_CORTEX_M/cmsis_gcc.h#L129-L140) is the code from cmsis used to disable and enable irqs:

[code]

The `volatile` part forces the compiler to keep the statement while the `memory` part do the following:

Last but not lea

[2018-08-07 13:20] davidsaada commented on #7712
@aashishc1988 The test you are running does not match the output.
The command you showed is for `buffered_block_device` test, which handles the allocation problems properly. I have tried this test on your board and it works properly.
However, the output you pasted is for the `tests-mbedmicro-rtos-mbed-threads` test. I haven't handled this test yet, which is indeed described in [#7535](https://gith

[2018-08-07 13:28] davidsaada commented on #7712
Just to add: `std::nothrow` works perfectly. No need to change anything in the error handler. Shown failure is in a test that doesn't include it yet (and it will take some time to fix, as it's a complicated test).

[2018-08-07 13:41] 0xc0170 commented on #7535
@davidsaada Can you send the PR to fix also threads test?

[2018-08-07 13:42] 0xc0170 commented on #7712
Closing as duplicate, lets continue in 7535 and close that one

[2018-08-07 13:43] davidsaada commented on #7535
It's on my todo list, but will take time to resolve (haven't started working on it yet).

[2018-08-07 14:46] 0xc0170 commented on #7589
@LaurentLouf Does that answer your question?

[2018-08-07 15:07] LaurentLouf commented on #7589
Yes it does, I'll reopen if I have time to do it the clean way and any question.

[2018-08-07 15:07] #7589 closed, assigned to nobody

[2018-08-07 16:00] aashishc1988 commented on #7712
@davidsaada My bad, I pasted the wrong output. I was filing multiple issues and got confused. Sorry about that. Please take a look at the updated log. The current test runs with `std::nothrow`, however, in our tests, we run with `-DMBED_TRAP_ERRORS_ENABLED` flag enabled, which will get triggered when memory allocation fails, irrespective of `std::nothrow.`  The idea behind filing this issue is to

[2018-08-07 16:03] studavekar commented on #7712
re-opening as per above comment from @aashishc1988

[2018-08-07 16:31] davidsaada commented on #7712
@aashishc1988 This issue found me asking the following questions:
1. Is the `-DMBED_TRAP_ERRORS_ENABLED` included in our CI builds? Must say I'm not familiar with it.
2. If so, what's the reason we include it? It seems to nullify the `std::nothrow` directive.
3. I'm running the same command you do (with this flag included) on the same board, but still don't see the problem. Getting the same output

[2018-08-07 16:54] aashishc1988 commented on #7712
@davidsaada I am little unfamiliar with all the terms and environment setup. I will try my best to answer questions to the best of my knowledge and will also tag relevant people.

1. When you say CI builds, I am assuming you meant the build artifacts generated by Jenkins (aws)? If yes, then `-DMBED_TRAP_ERRORS_ENABLED` is included. @studavekar

2. It does seem to nullify std::throw directive in th

[2018-08-07 17:04] davidsaada commented on #7712
Regarding 3: Yes - I'm using the same flags as you do. I simply copied your command (with the exception I broke it to two, in order to run it on a remote board). I am seeing the `:34::SKIP: Not enough memory for test` line, and I expect to see it. It is just the line that tells us that the test was skipped due to insufficient memory. That's OK and it doesn't fail the test. What I don't see is the

[2018-08-07 17:07] aashishc1988 commented on #7712
Interesting.
I updated point 3 above. It says **The addition of mbed_os error handler is fairly new, could it be that you are on older version of mbed_os?**
 Regarding mbed-os as prefix, I need to investigate it more as to why I dont need it. The tools that I am using are all updated to there latest version.

[2018-08-07 18:06] davidsaada commented on #7712
Well. I am updated with the latest mbed-os changes. In addition, I'm pretty sure that the PR that included the std::nothrow changes has passed CI with the error handling mechanism already in (it is fairly new). I really don't know what to say. Only way I can tackle it is if I reproduce it, something that didn't happen yet.
As for the tools, I'm no expert here, so my take on it could be wrong. Saw

[2018-08-07 18:33] aashishc1988 commented on #7712
@davidsaada Can you point me to the CI test log where it passed so that i can compare what is different between the two setups? It's possible that I might be missing something here.

[2018-08-07 18:46] andresag01 opened #7723 "Build system failure (not due to compilation issues)"
### Description
Compilation of an mbed-os-example-tls example fails with the following error:
[code]
I do not know whether the sequence of steps I used to compile the program (see below) is legal, but I would expect mbed-cli to either succeed building or print a suitable error.

Target: K64F
Toolchain: uARM
Tool: mbed-cli v1.7.5
Mbed OS SHA: 273a052 Merge pull request #7691 from 0xc0170/fix_events

[2018-08-07 19:09] aashishc1988 commented on #7712
@davidsaada Can you also try this:
Delete the BUILD directory (or the part directory)
Do a fresh build with this command:
`mbed test --compile -m WIZWIKI_W7500 -t GCC_ARM -DMBED_HEAP_STATS_ENABLED=1 -DMBED_STACK_STATS_ENABLED=1 -DMBED_TRAP_ERRORS_ENABLED=1 -DMBED_ALL_STATS_ENABLED`

and see if you can reproduce the error

[2018-08-07 20:59] aashishc1988 opened #7724 "Failing common_ticker tests"
### Description
- Type: Bug
- Priority: Major

---------------------------------------------------------------
## Bug

**Target**
KL25Z, K66F

**Toolchain:**
GCC_ARM
IAR
ARM

**mbed-os sha1**
ae40a090366aa96fbd81dc83294b97d0f493aa42

**Tests we are failing:**
tests-mbed_hal-common_tickers : Microsecond ticker free interrupt test
Seems like a new test that was added with the commit

**Steps to repr

[2018-08-07 20:59] aashishc1988 commented on #7724
Caused by:
https://github.com/ARMmbed/mbed-os/pull/7508

cc: @studavekar @mprse

[2018-08-07 21:26] naveenkaje commented on #7672
I continued to debug this issue. The main_application thread of the mbed cloud client has no effect on the location thread. I stubbed it out to effectively do a sleep for ever. I also saw there was some randomness to the success of the reads. screenshots and logs attached.

The observation is that if the read of the response to FD is successful, the following write (FF) results in valid data.

[Lo

[2018-08-07 21:39] surajdagar commented on #7672
I also saw there was some randomness to the success of the reads. Just a random thought, Is it make sense to play with main_application and GNSS thread priorities?

[2018-08-07 21:41] naveenkaje commented on #7672
I tried bumping the priority of the GNSS thread. That didn't lead to anything. I will keep that in mind as well. Thank you!

[2018-08-07 23:51] ciarmcom commented on #7724
ARM Internal Ref: MBOTRIAGE-1502

[2018-08-08 05:39] mprse commented on #7724
I'll check this.

[2018-08-08 06:06] 0xc0170 commented on #7723
Thanks for reporting. The problem is that K64F does not support uARM. It fails later during linker finding (thus the error)

References:

linker scripts are located: https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_Freescale/TARGET_MCUXpresso_MCUS/TARGET_MCU_K64F/device
target definition: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L623
*[Mirrored to Jira]*

[2018-08-08 07:01] cmorty commented on #7702
@0xc0170

After a night of sleep: Even if the compiler is not able to optimize _pool, because it's pointer is volatile (due to `_head` and `_tail` being volatile), the value itself is volatile, too, as it is can be changed from a different context.

@pan-

So what? I said disabling interrupts is one way of doing this. (Another option is to increase the priority.) Using inline assembler is "some no

[2018-08-08 07:24] mprse commented on #7724
I checked that `KL25Z`, `K66F` boards are not on CI. #7508 implements `ticker free` function only for CI boards. For other boards there is currently only empty stub added.
This is why the test is falling on the mentioned boards. I don't think that this is a reason to disable ticker support for boards with unimplemented ticker free function since it is not used by upper ticker layers.

I think that

[2018-08-08 07:30] ChiSaw commented on #7707
No, I am using my own board where the NRF52832 serves as the main processor and there the LED is connected active high.

But I see where this inverted behavior comes from, someone implemented PwmOut based on the DK and applied the active-low logic from this specific hardware?

In my opinion, this should be changed to non-inverted, what do you think? One reason might be to use PWM not for LED, but

[2018-08-08 07:55] davidsaada commented on #7712
Thanks @aashishc1988. I have managed to reproduce the problem with your command. Apparently, it has nothing to do with the `MBED_TRAP_ERRORS_ENABLED` flag, but with the `MBED_STACK_STATS_ENABLED` flag (which is also turned on if the `MBED_ALL_STATS_ENABLED` is set). This flag unleashes a whole bunch of monitoring code, which probably allocates some stuff dynamically (likely without std::nothrow).

[2018-08-08 08:11] andresag01 commented on #7723
@0xc0170: Thank you for your reply.

As I mentioned, I was not sure if what I was trying was legal. However, given that it isn't, ideally the tool would display a more descriptive error which actually points to the problem instead of failing with a python exception. As you pointed out, the information to identify if this combinations are illegal is there in the config files, etc so it might even b

[2018-08-08 08:11] 0xc0170 commented on #7724
The test should not be enabled if the implementation is not present for all boards (=failing).

When and how implementation is being added?

[2018-08-08 08:12] 0xc0170 commented on #7723
I think so, tools team will review this issue
*[Mirrored to Jira]*

[2018-08-08 08:33] mprse commented on #7724
So maybe we should disable these test cases permanently until implementation for all boards is added.

I agreed with @jamesbeyond to add implementation only for CI boards for now. Regarding implementation which is to be added by Vendors I don't know the answer to your question.

We have the following requirements for ticker free:
https://github.com/ARMmbed/mbed-os/blob/273a052e8978c1ac9614950ea46b

[2018-08-08 08:50] pan- commented on #7702
@cmorty Critical sections, like mutexes are constructs that prevent concurrent access to a shared resource. If there is pending loads and stores of an exited critical section at the entry of a critical section entered then the critical section implementation doesn't do it's job. Similarly if values fetched before the entry are used inside the critical section it doesn't do its job either.

Stoppin

[2018-08-08 08:51] kjbracey commented on #7702
I'm with @pan- on this - the semantics of enter/exit-critical must be assumed to contain all appropriate barriers such that `volatile` is not necessary, just as `volatile` is not necessary on things accessed inside mutexes.

If enter/exit critical does not correctly protect memory accesses within them, they would be broken, just as a mutex lock/unlock would be.

[2018-08-08 08:52] kjbracey commented on #7702
Okay, pan- made exactly the same point at the same time :)

[2018-08-08 08:57] ghost commented on #7707
shouldn't this sort of thing be specified at the mbed-os platform level and thus be standard across all devices? If so, then the default should be whatever they do.

[2018-08-08 09:18] MateuszMaz commented on #7707
@ARMmbed/mbed-os-hal
the PWM waveform polarity generated by nRF-52 is inconsitient to other devices like K64F, Nucleo-F070RB, what do you think, should this behaviour be changed?

[2018-08-08 09:25] fkjagodzinski commented on #7707
CC @ARMmbed/mbed-os-hal

[2018-08-08 09:34] 0xc0170 commented on #7707
As this might not be yet specified (will be!), should follow what the rest of the boards do. They do write 0 in their init:

[code]

I can't locate this for NRF52, I can see obj->percent is set to 0 but not used anywhere during `init` ?

The main issue here is the regression in the HAL, @MateuszMaz can you check which commit broke this?

[2018-08-08 09:53] MateuszMaz commented on #7707
@0xc0170 ok

[2018-08-08 10:02] phyokyaw commented on #7155
@TomoYamanaka @theotherjimmy

Just for FYI, I also noticed that in 5.9 mbed-os/features/nanostack/sal-stack-nanostack/source/configs folder is missing for Web exporter. The problem has been reported for other exporters.

[https://os.mbed.com/questions/81597/Problems-when-exporting-to-uVision5-with/](https://os.mbed.com/questions/81597/Problems-when-exporting-to-uVision5-with/)

[https://os.mbed.co

[2018-08-08 10:02] jamesbeyond commented on #7724
@0xc0170 I think the issues here is the chicken-egg problem.
We need the test to be there, so that when SiPs impletment their `ticker_free()` function, they can verify it.

The new ticker API was implemented by the SiPs and merged into master during 5.9.
And later in 5.10, a small change on the ticker API been introduced, which is `ticker_free()` become a compulsory rather than optional. hence we

[2018-08-08 10:11] donatieng commented on #7451
@paul-szczepanek-arm please review

[2018-08-08 10:15] 0xc0170 commented on #7615
We shall this fix for 5.9.5.

@SeppoTakalo Can we rename the files to supported format (`.h`) ?

[2018-08-08 10:16] 0xc0170 commented on #7155
👍

This issue was reported here https://github.com/ARMmbed/mbed-os/issues/7615. It shall be fixed for 5.9.5

[2018-08-08 10:18] 0xc0170 commented on #7724
That is what feature branch is. Let's use it.

[2018-08-08 10:21] paul-szczepanek-arm commented on #7451
I think this issue was posted before https://github.com/ARMmbed/mbed-os/issues/7568 and is now obsolete. There was also a bug with whitelist generation but that was a couple months ago, it's merged now.

[2018-08-08 10:39] mprse commented on #7724
Now I agree that this should go on feature branch 😢.
But, like I said before I can try add basic implementation for all boards.

[2018-08-08 11:21] janjongboom commented on #7615
Thanks @0xc0170 and @theotherjimmy

[2018-08-08 12:09] SeppoTakalo commented on #7615
@0xc0170 There should not be any major objections against it. It will just break Nanostack builds, so I would prefer to do it in the master repository first.

Reason for `.cfg` file is that it should not be included from normal applications, and therefore we used separate file suffix.

@kjbracey-arm any opinions?

[2018-08-08 12:21] kjbracey commented on #7702
Maybe, but that is not the primary or only reason. Indeed that secondary reason had never even occurred to me.

It really is primarily there as a compiler barrier to stop any memory instruction from moving before or after the enable/disable, to avoid the need for volatile. In ARM-A, CPS modifies no memory-mapped register, but the memory clobber is still present and wanted.

Indeed, there is no nee

[2018-08-08 12:36] #7634 closed, assigned to 0xc0170

[2018-08-08 12:38] kjbracey commented on #7615
I have no objection to changing them to ".h". Maybe still keep a "cfg" in there somewhere as prefix/suffix just to try to avoid name clashes.

I think the ".cfg" may have originally been a thought about indicating intensely limited syntax to maybe have them parseable by some other non-C-preprocessor tool. They replaced some ".mk" files intended to be included by GNU Make.

[2018-08-08 13:25] davidsaada commented on #7712
@aashishc1988 [#7730](https://github.com/ARMmbed/mbed-os/pull/7730) should fix it. Please verify.

[2018-08-08 13:34] davidsaada commented on #7555
@bentcooke Please check whether [#7746](https://github.com/ARMmbed/mbed-os/pull/7746) resolves this issue.

[2018-08-08 14:09] jamesbeyond commented on #7724
Using the feature branch would be able to prevent the issues like this, where some non-CI targets failed on some new tests.

But on the downside, it will delay for the features merge into master, cause we need to wait for all/most of the SiPs updated accordingly.  So I'd like to have confirmation from both HAL engineer and PE team if they are happy about this decision. @donatieng @MarceloSalazar

[2018-08-08 14:22] simonnilsson opened #7732 "EventQueue overflow"
### Description

**Target**
Multiple, tested with stm32l072 target

**Tools**
Keil uVision

**Mbed OS Version**
ARMmbed/mbed-os@be215a3

As requested by @jeromecoutant I am submitting a new issue for a bug briefly discussed here: #6840.

In _equeue_sema_wait_ in **equeue_mbed.cpp** if RTOS not present the ms argument is passed as a signed integer and then multiplied by 1000. This causes an overflo

[2018-08-08 14:29] MateuszMaz commented on #7707
@0xc0170  It looks like the problem is located in PR #6547, which is about updating Nordic NRF52 based targets to SDK 14.2

[2018-08-08 14:37] drahnr commented on #7707
https://github.com/ARMmbed/mbed-os/pull/6547/commits/d11f74cb4c8b83dd72a5f16d77e2fc8ef0a1f1d8

[2018-08-08 14:38] cmonr opened #7733 "mbed_blinky does not compile with IAR Workbench 8.30.1"
### Description

*Note: Migrated from https://github.com/ARMmbed/mbed-os-example-tls/issues/133#issuecomment-411427597*

Original query from @sohaibqamar:

Hi,
I'm using IAR Workbench 8.30.1 to Build and Debug the code for mbed NXP LPC 1768.
I have installed only the IAR for ARM and exported the mbed-blinky from online compiler.
I'm trying to build with default options of IAR. I am getting the fol

[2018-08-08 14:40] cmonr commented on #7733
@sohaibqamar IAR 8.X is not yet supported, as indicated by our docs: https://os.mbed.com/docs/v5.9/tools/index.html

[2018-08-08 14:41] davidsaada commented on #7535
~~@ganesh-ramachandran As for the tests-mbedmicro-rtos-mbed-threads test: Do you build it with `-DMBED_STACK_STATS_ENABLED=1` flag? Alternatively, does this fail as part of our CI run?
If any of these is true, can you check whether [#7730](https://github.com/ARMmbed/mbed-os/pull/7730) resolves this problem?~~
EDIT: Please hold with this check, probably didn't finish my work there.

[2018-08-08 15:01] mprse commented on #7724
Fix can be found here:
https://github.com/ARMmbed/mbed-os/pull/7734

@aashishc1988 Since I don't have these boards, could you confirm that above patch fixes the problem?

[2018-08-08 15:22] dlfryar-zz commented on #7672
@surajdagar this condition appears to be circumstantial or coincidental.  Looking further into the issue it looks like when you poll on the DDC channel you likely get back a [WAIT](https://github.com/dlfryar/example-gnss-with-spif/blob/master/gnss/gnss.h#L60) status.  You need to poll the DDC channel within less than [1.5s](https://forum.u-blox.com/index.php/6933/pam7q-and-i2c-bus) to get the data

[2018-08-08 15:24] AGlass0fMilk commented on #7451
Indeed, I will close this. If I have any other problems I will open a new issue.

[2018-08-08 15:24] #7451 closed, assigned to nobody

[2018-08-08 15:28] jeromecoutant commented on #7521
Your code is executing well...

set time
alive
uptime: 1
alive
uptime: 2
alive
uptime: 3

[2018-08-08 15:35] aashishc1988 commented on #7724
@mprse I ran the patch, and the original test case is passing but I am seeing failure on another test case. Here is the failure log

[1533742445.47][CONN][INF] found KV pair in stream: {{__testcase_start;Microsecond re-init after free test}}, queued...
mbedgt: :556::FAIL: Expected 0 Was 1. Interrupt fired too early

[2018-08-08 15:41] mattbrown015 commented on #7718
Hi @hasnainvirk, I hate to disagree but...

I can see where my problem is and I wonder if the there's a difference between not receiving a response and receiving a response that isn't an ack.  I'm testing my confirmed message by ensuring no response is received.

The RX2 window times out and we end up in `LoRaWANStack::process_reception_timeout`.  `LoRaWANStack::process_reception_timeout` calls `L

[2018-08-08 15:51] ciarmcom commented on #7733
ARM Internal Ref: MBOTRIAGE-1503

[2018-08-08 15:51] ciarmcom commented on #7732
ARM Internal Ref: MBOTRIAGE-1504

[2018-08-08 15:55] aashishc1988 commented on #7712
@davidsaada https://github.com/ARMmbed/mbed-os/pull/7730 fixes it. Thanks for investigating (and fixing) it :)

[2018-08-08 16:29] donatieng commented on #7724
Agreed with @jamesbeyond, no matter how small the change impacting SiPs is, work should happen in a feature branch. For this specific case, if we can come up with a fix quickly then let's do it, if not we'll have to disable this test for now and move implementation work to a new feature branch.

[2018-08-08 17:00] 0xc0170 commented on #7733
This type of breakages when you update a tool 😖

As stated, this is known and will be resolved once we update to IAR 8.x.

[2018-08-08 17:06] mattbrown015 commented on #7718
I tried to simulate receiving a response that didn't contain an ack, to see if that would cause a `TX_ERROR` event, by commenting out the code that see the ack bit.  I.e.

    diff --git a/features/lorawan/lorastack/mac/LoRaMac.cpp
    b/features/lorawan/lorastack/mac/LoRaMac.cpp
    index 6823e7403..ee7df4151 100644
    --- a/features/lorawan/lorastack/mac/LoRaMac.cpp
    +++ b/features/lorawan/l

[2018-08-08 18:17] davidsaada commented on #7712
@aashishc1988 Thanks for verifying. That PR still needs some work, but glad it's in the right direction.

[2018-08-08 18:34] naveenkaje commented on #7672
I have verified this change on my set up too and I don't see the error as I did before. @surajdagar , could you please provide your observations?

[2018-08-08 19:02] surajdagar commented on #7672
I get GPS data couple of times, but no communication on the bus after that.

I tried with couple of wait combinations. It worked perfectly with a different repo on Nordic NRF52840. It has some issues in Client-Cloud-Example. That’s the way I am trying to read it.
Do{
gnssReturnCode = gnss.getMessage(GPS_buffer, sizeof(GPS_buffer));
Thread::wait(1.2);
}while (gnssReturnCode == -1);

I have a doubt

[2018-08-08 21:04] dlfryar-zz commented on #7672
Working [code](https://gist.github.com/dlfryar/1cb68b8e218f62c3afd6c8537d4567fa) example polling the I2C/GNSS module in a separate mbed-os thread.

Note this is a modified version of the [u-blox example](https://os.mbed.com/teams/ublox/code/example-gnss).

I also changed the [I2C frequency](https://github.com/dlfryar/example-gnss-with-spif/blob/master/gnss/gnss.cpp#L341) to 400kHz

[2018-08-09 04:43] AGlass0fMilk opened #7736 "Retarget Default Console to Log File"
### Description
I'm not sure if this is a currently supported thing, but it would be nice to be able to redirect the standard output (printf, debug, etc) to a log file after a filesystem has been initialized. In my application, I first output debug information to SWO. But to do field testing, I need to log data to an on-board SD card. My libraries make extensive use of the "debug" function that pr

[2018-08-09 05:29] AGlass0fMilk commented on #7736
Simply trying to write to the log file, I discovered I needed to call .sync after .write. However, I'm not sure how to do this for the stderr output since mbed_debug does not call .sync after .write.

How does one synchronize the file in this case?
*[Mirrored to Jira]*

[2018-08-09 05:30] TomoYamanaka commented on #7155
@phyokyaw
Thank you for information. You updated about the excluded path problem, on the other hand, is there any update about the "--warp" problem?

[2018-08-09 05:39] mprse commented on #7724
@0xc0170 @jamesbeyond @aashishc1988
So unfortunately it can't be fixed in such simple way. Additional hot fixes can cause more harm than good, so I think we should take a step back and if it is possible reverse the changes provided by PR https://github.com/ARMmbed/mbed-os/pull/7508 and move it on feature branch.
If it is impossible now, then we can disable test cases for ticker free until valid im

[2018-08-09 06:14] kivaisan commented on #7718
@mattbrown015 We do test both scenarios you mentioned above;
1) Node sends CONFIRMED message, but the received message is corrupted (in our case means MIC calculation fails)
2) Node sends CONFIRMED message, but server never responds

In both of these cases TX_ERROR event is sent to application after specified amount of retries.

[2018-08-09 06:24] pilotak commented on #7521
I tried two custom boards, it's still happening. I than tried NUCLEO_F412 and i could not reproduce - but nucleo doesn't have external crystal, i will try to modify it and let you know

[2018-08-09 07:07] jeromecoutant commented on #7521
Code is not backward compatible. You can't move from different git version.

[2018-08-09 08:15] 0xc0170 commented on #7733
@sohaibqamar Please use IAR 7.x for now. Thanks for reporting.

This shall be closed as "wont fix" - known incompatibility with upgrading IAR

[2018-08-09 08:15] #7733 closed, assigned to nobody

[2018-08-09 08:19] mattbrown015 commented on #7718
@kivaisan Hhhmm, you're sure it does work and I'm sure it doesn't work, tricky! :-)

Can you see the mistake in my reasoning above?

I'll update Mbed, although I don't think any of this has changed for some time.

I'm interested in how you perform your testing because testing is something we've been talking about.

We've created a LoRaWAN end-device but the gateways we use are just off-the-shelf.

[2018-08-09 08:32] jeromecoutant commented on #7695
Hi
I think you need to implement something like in rtc_write procedure:

https://github.com/ARMmbed/mbed-os/blob/1ab05c28f68e8e5da0275e671ddaa4ffb7518e94/targets/TARGET_STM/rtc_api.c#L272

[2018-08-09 08:53] mattbrown015 commented on #7718
@kivaisan and @hasnainvirk Sorry, my bad!

Something has changed between [546dafb](https://github.com/ARMmbed/mbed-os/commit/546dafbadcd7db487f5a111b7ea73c557866b917) (6 days ago) and [1ab05c2](https://github.com/ARMmbed/mbed-os/commit/1ab05c28f68e8e5da0275e671ddaa4ffb7518e94) (today).

Oh, it's this [Mark an error in post processing if ack not recvd](https://github.com/ARMmbed/mbed-os/commit/24c5

[2018-08-09 08:56] 0xc0170 commented on #7724
@mprse If that is the case, please go ahead with reverting 7508 on master (as noted, might not need full revert?) and move the work to a feature branch (we can create one for you, contact me with the feature name and I'll create one asap).

[2018-08-09 09:01] mattbrown015 commented on #7718
Here's the PR which describes the change [LoRaWAN: Reduced priority for automatic uplinks & higher data rate usage for connection establishment #7601](https://github.com/ARMmbed/mbed-os/pull/7601).  Merged 2 days ago.

[2018-08-09 09:24] kivaisan commented on #7718
@mattbrown015 :) Actually this test case was just recently implemented to our new test environment and I didn't remember Hasnain's commit fix.

But good that this is now also working in your environment.

[2018-08-09 09:53] mattbrown015 commented on #7695
Hi @jeromecoutant, funny that you should refer to that section of code because I was looking at it last week because it generates an unused variable warning.  `current_lp_time` is assigned but not used.

I think I understand your point at a high level but not enough to implement anything!

Switching to tickless with the RTC isn't my most important problem at the moment, I shall give your point mor

[2018-08-09 09:59] mprse commented on #7724
As we agreed disabled ticker test cases which verify ticker free function. Patch can be found here:
PR https://github.com/ARMmbed/mbed-os/pull/7741
Further work will be performed on feature branch (`feature-hal-ticker-free`).

[2018-08-09 10:14] hasnainvirk commented on #7718
@mattbrown015  Sorry, when I ran tests I was using my pipeline branch which had the commits from the  opened PR. Maybe that's why I didn't see it and I kind of forgot that I was using pipeline branch. That PR has been in the pipeline longer than expected. I hope you are good to go now.

[2018-08-09 10:22] pilotak commented on #7521
Ok i did more investigation as per STM AN2867 note and here comes the result.
For my crystal i calcutated (as per note) capacitance to 15pF each. But it's also mentioned there (chapter 4.5) that startup time of RTC crystal is within 1-5 sec, NUCLEO board has capacitance 6pF so obviously the startup time is quicker and my mine is slower. On my custom board I changed capacitors of RTC crystal to 10p

[2018-08-09 10:42] mattbrown015 commented on #7718
Hi @hasnainvirk, thanks, I am basically 'good to go now' but I've just noticed something else I don't understand...

I've got confirmed messages selected now but my RF conditions are good so most of the time the first transmission is ack'ed and I see `TX_DONE`.

Occasionally the ack for the first transmission is missed, which in itself isn't a surprise.

But, the retry appears to happen at a diffe

[2018-08-09 10:50] hasnainvirk commented on #7718
@mattbrown015 Yeah. The documentation is not updated I guess. We try to reduce DR after every 2 transmissions if ack is not received. Mostly, if the network sees that your channel conditions are good and you just happened to drop the ack for some reason (mostly timing mismatch), it will send you a mac command to restore your data-rate. This is how it works at the moment. However, this is one of th

[2018-08-09 11:14] jeromecoutant commented on #7521
Maybe you can direct call rtc_init() function, and then add some wait before starting other RTC actions ?

But again,  the issue mentioned in the description "RTC initialization failed" is no more in the code...
So, I think we can close the issue.

Thx

[2018-08-09 11:16] mattbrown015 commented on #7718
@hasnainvirk it wasn't my intention to get in a discussion about data rate adaption, it's not really my area, but having enabled confirmed messages I'm seeing also sorts of _interesting_ things.

After writing that last message I went to make a cup of coffee.

Upon my return I discover that my end-device is transmitting at DR0.  It doesn't need to be at DR0, RF conditions are good.

I think it has

[2018-08-09 11:24] jeromecoutant commented on #7647
Hi

Can you review this commit : https://github.com/ARMmbed/mbed-os/commit/29c527ddcd945d47ee58c10e141010cba9b9bc72

Thx

[2018-08-09 12:02] jeromecoutant commented on #7695
2 things:

- the unused variable will be removed with my next PR

- In your rtc_synch() procedure, I didn't test, but after reading reference manual, it seems you need to poll the SHPF flag?
Maybe you should try something like :

[code]

[2018-08-09 12:12] mattbrown015 commented on #7695
In the real code we do have a loop like you suggest, although I've never seen it iterate more than once.

[2018-08-09 12:15] jeromecoutant commented on #7695
Maybe add also some :
- core_util_critical_section_enter();
- core_util_critical_section_exit();
?

[2018-08-09 12:22] jeromecoutant commented on #7654
I think we can close this issue, and follow pull requests now ?

[2018-08-09 12:28] MateuszMaz opened #7743 "NRF52 Can not initialize Pwm"
### Description
After following commit: 2ba88ba8f6a98a80f22187f0bb47aba0b96f2773, that was made soon after mbed-os-5.9.0 it is no longer possible to create an object of PwmOut class for device NRF52832. The error exist in every version of mbed-os since 5.9.1 to current 1ab05c28f68e8e5da0275e671ddaa4ffb7518e94.

**Mbed error string:**

Error Status: 0x80FF0100 Code: 256 Module: 255
Error Message: F

[2018-08-09 12:30] MateuszMaz commented on #7707
I found another problem that is connected to Pwm in target NRF-52 , I described it here  #7743

[2018-08-09 12:33] 0xc0170 commented on #7743
Why that error is happening ? Based on the referenced commit, I would assume that previously it was happening , it was just silenced ?
*[Mirrored to Jira]*

[2018-08-09 12:47] MateuszMaz commented on #7743
During pwm initialization we check if no other object of current pwm is already initialized

    nrf_drv_pwm_uninit(&nordic_nrf5_pwm_instance[obj->instance]);

The problem is since nref asserts were redirected to mbed error (2ba88ba8f6a98a80f22187f0bb47aba0b96f2773),
line 192 in nrf_drv_pwm.c of function nrf_drv_pwm_uninit() visible below:

now returns an error because:

{
    ASSERT_TRUE(false, (

[2018-08-09 12:50] pilotak commented on #7521
` rtc_init()` didn't help, but thank you for your time

[2018-08-09 12:50] #7521 closed, assigned to nobody

[2018-08-09 14:36] donatieng commented on #7724
Thanks @mprse

[2018-08-09 14:44] davidsaada commented on #7535
@ganesh-ramachandran Please check whether [#7744](https://github.com/ARMmbed/mbed-os/pull/7744) solves the `tests-mbedmicro-rtos-mbed-threads` test problem.

[2018-08-09 15:19] #7702 closed, assigned to 0xc0170

[2018-08-09 15:40] cmonr commented on #7732
@simonnilsson Curious. How are you compiling without the RTOS?

[2018-08-09 20:22] rsquires opened #7748 "Hard Fault in svcRtxMutexRelease"
Hello, I'm currently working with mbed-os 5.8.5 targeting a Silicon Labs Wonder Gecko with GCC. While using the `EasyCellularConnection` feature, I'm hitting an issue while the Quectel BG96 and the microcontroller are busy with consistent AT command traffic (a file download).

The application hard faults in `svcRtxMutexRelease`. I don't think this call is directly made by the application, so I'm p

[2018-08-09 23:51] ciarmcom commented on #7748
ARM Internal Ref: MBOTRIAGE-1507

[2018-08-10 01:16] coisme commented on #7665
Ok, thank you for your confirmation!

[2018-08-10 01:38] andrewc-arm commented on #7709
Hi, @khj098765
Could you please review this problem? We need to pass IAR as well. I will discuss with Mr. Hur as well and notify you separately. Thank.
*[Mirrored to Jira]*

[2018-08-10 01:45] andrewc-arm commented on #7710
Hi, @khj098765
Could you please also follow this issue as well? Thanks.
*[Mirrored to Jira]*

[2018-08-10 01:48] andrewc-arm commented on #7711
Hi, @khj098765
There seems to be W7500 + IAR cause heap problem. Could you please follow this issue?

[2018-08-10 04:57] Alex-EEE commented on #7651
@0xc0170 ?

[2018-08-10 05:19] ghost commented on #7535
Hi @davidsaada, Thank you for your inputs. By referring #7744 PR, `tests-mbedmicro-rtos-mbed-threads` test-case is passed.

[2018-08-10 07:42] jeromecoutant commented on #7607
Hi

Yes, CRC driver version for STM32F1/F2/F4 and L1 is older than other STM32 family.
We need to update the current MBED implementation to match all family specific CRC feature.

For ex, in https://github.com/ARMmbed/mbed-os/blob/54f40a0f4ffa9888346d82b934d6d783d37048a7/targets/TARGET_STM/mbed_crc_api.c#L56

U8 input data are cast to U32 to match HAL_CRC_Accumulate API, and InputDataFormat have b

[2018-08-10 07:45] kivaisan commented on #7718
@mattbrown015 I did some debugging on this and modified our test case a bit and I think there is still some problem in TX_ERROR handling especially in the case where there is no any response from gateway. I need to debug this more.

[2018-08-10 08:25] 0xc0170 commented on #7748
The first thing that comes to my mind is using SVC in the critical section. If you look at Mutex release function this is there

[code]

Can you check Event error , is it osErrorISR? I had it once in application, critical section invoked SVC call and that went to hard fault.

[2018-08-10 08:26] 0xc0170 commented on #7743
@MateuszMaz Can you fix it ?
*[Mirrored to Jira]*

[2018-08-10 10:08] 0xc0170 commented on #7651
Extra label remove should work. I can see that the target is named and extra label added (this is not needed).  Anything changes if you remove first manually the duplication in extra labels ?

However as target is named MCU_ (this one you want to remove), not certain if this is supported

@theotherjimmy Please review

[2018-08-10 10:09] SeppoTakalo commented on #6898
This testcase does not exist anymore.
Replaced with new TCP or UDP tests with non-blocking behaviour.

Should be closed.

[2018-08-10 10:23] SeppoTakalo commented on #7680
We have studied the approach and decided that we are not going to change the underlying Mbed OS socket API.

This would open few issues:
* We don't know the address anymore. So Socket::recvfrom() is not able to work.
* We don't know whether modem supports this or not, so it requires new API to ask modem whether it can resolve names.
* Application does not know whether modem supports this or not, s

[2018-08-10 10:38] #6898 closed, assigned to nobody

[2018-08-10 10:50] SeppoTakalo commented on #6843
This should be closed as not patch releases for Mbed OS 5.6 are submitted anymore.

Can be re-opened if appear in 5.9.

[2018-08-10 11:40] 0xc0170 commented on #7615
Please send PR with this

[2018-08-10 12:54] rsquires commented on #7748
How do I examine the Event error value?

[2018-08-10 13:14] simonnilsson commented on #7732
@cmonr By adding `mbed-os/rtos/*` to **.mbedignore**

[2018-08-10 13:26] jeromecoutant opened #7756 "OS2 tests scripts doesn't work any more"
### Description

Since #7183, OS2 tests can't be executed

@theotherjimmy @cmonr

[code]

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-08-10 14:45] phyokyaw commented on #7155
@theotherjimmy Please review the PR if possible. This is to fix the --wrap error.

Thank you.
Phyo

[2018-08-10 14:57] mattbrown015 opened #7759 "LoRaWAN: Downlinks Fail After Disconnecting and Connecting Again"
### Description
Here's what I've just tried:

1. Connect to the TTN using OTAA.
1. Watch some successful uplinks and downlinks.
1. Call `LoRaWANInterface::disconnect()`.
1. Wait a minute.
1. Call `LoRaWANInterface::connect()`, receiving the join-accept message.
1. Watch some successful uplinks.
1. Do something that requires a downlink, for example add a link check request.
1. Downlinks fail with `

[2018-08-10 15:44] SenRamakri commented on #7748
@rsquires - I wonder if its caused by Mutex object getting corrupted. Can you please put a breakpoint at the beginning of svcRtxMutexRelease function and see if the Mutex object being referenced getting corrupted and see where the value 6B234798 comes from. Also, is it possible for you to share the .map and .elf of your build which generates this crash. That may help us tell you more info. For som

[2018-08-10 15:49] mattbrown015 commented on #7759
I added a call to `reset_mac_parameters()` to `LoRaMac::prepare_join` and this meant the link check response was received.

The important detail here is that I'm specifying the connection parameters rather than relying on the ones defined in `mbed_app.json`.  In other words, I'm running the top part of `LoRaMac::prepare_join`.

    diff --git a/features/lorawan/lorastack/mac/LoRaMac.cpp b/features

[2018-08-10 15:51] ciarmcom commented on #7759
ARM Internal Ref: MBOTRIAGE-1510

[2018-08-10 16:06] cmonr commented on #7129
Some more info.

After running
[code]
the command is reliably unable to compile the first file.

The output:
[code]

Attached is the .includes file that is autogenerated so that it can be piped into GCC. Note that because it's above 32kb (the Windows CreateProcess limit), includes get trunkcated causing the compile to fail.

[includes_caee3eb4543e3b31a0d18d93d4078d69.txt](https://github.com/ARMmbe

[2018-08-10 16:47] mattbrown015 commented on #7647
Hi @jeromecoutant,

[29c527d](https://github.com/ARMmbed/mbed-os/commit/29c527ddcd945d47ee58c10e141010cba9b9bc72) looks good to me.  Although I wouldn't claim to have any expertise. :-}

I tried it on our custom board, with the LSE connected, and it seemed to continue working as before.  I haven't tried disconnecting the LSE.

Are you going to apply this change to all STM32L4 targets?  Our custom

[2018-08-10 19:39] AnotherButler commented on #7612
@deepikabhavnani I think the closest we have is our documentation on heap stats. I'll create an internal JIRA task for this.

[2018-08-10 19:44] deepikabhavnani commented on #7612
@AnotherButler - Heap stats is not related to heap in use by lwip. @mikaleppanen along with @hasnainvirk and @kjbracey-arm  did work on optimizing this heap value and can share more insights on calculation and optimization.

We should capture those in some documentation.

[2018-08-12 10:13] NeilMacMullen commented on #7680
@SeppoTakalo   I understand the rationale for not wanting to change SocketAddress but I don't think your alternative addresses the issue.  The problem here is that for this particular modem (and modem firmware version) the IP stack is running entirely on-chip and is opaque to mbed _including_ the resolved IP addresses.  What is exposed to the mbed host is a socket-like endpoint that is opened with

[2018-08-12 10:22] NeilMacMullen opened #7763 "nrf52 power regression using wait_ms"
Somewhere between commits 1863400 (5.8?) and 485bdeee150e (5.9.4 RC) there has been a regression in the behaviour of wait_ms.

When tested on our nRF52 based board....

* When entering a "while (true) wait_ms(1000);" loop out board consumes >400uA.

* When this is replaced with "while (true) Thread::wait(1000)" idle power is reduced to ~4uA.

(In both cases, the code is called directly from main a

[2018-08-12 10:23] NeilMacMullen commented on #7763
copying @MarceloSalazar  @marcuschangarm
*[Mirrored to Jira]*

[2018-08-12 12:01] NeilMacMullen commented on #7763
It seems that calling wait_ms even _once_ is enough to cause the extra current draw.  It looks like this is due to the call to ticker_read and presumably then firing up the ticker via mbed_ticker_api/initialize.  I'm not sure what has changed in this area - is mbed now using some hungry internal clock or has the default frequency been increased.  The use of a 1MHz default doesn't seem like a terri

[2018-08-12 12:20] NeilMacMullen commented on #7763
Just checked and the older (low power) firmware  also uses 1MHz.  I notice the RF52 us_ticker code has been substantially reworked but I can't spot any obvious breakages.  I've confirmed that nrf_timer_task_trigger(NRF_TIMER1, NRF_TIMER_TASK_STOP/START) in hal_deepsleep are actually being called.  I've also rebuild with release profile just in case there's some #ifdef somewhere I haven't spotted.

[2018-08-12 14:39] OmerRosler opened #7764 "Why there isn't an abstract flash interface for external flash?"
The internal flash interface is similar to a general external flash api.
For the internal flash there is the file named `FlashIAP.h`.
Why there isn't an external flash interface? And why there isn't an abstract interface combining both internal and external flash interfaces?
Would you accept a PR?

[2018-08-12 16:26] KG-91 opened #7765 "Example for using Asynch SPI Driver"
### Description
How to use SPI Asynch Driver
-Target: STM32 NUCLEO_F446RE
-Toolchain: GCC_ARM
I am new to mbed-os and wanted to develop a small project using ST's controller. My project requirement is to use SPI with interrupt. Firmware for the same is available with mbed-OS support. But for more clarification i am requesting a proper study example.

Thanks in advance.

### Issue request type

[X]

[2018-08-12 19:51] ciarmcom commented on #7765
ARM Internal Ref: MBOTRIAGE-1517

[2018-08-12 21:55] ghost commented on #7707
I covered this in https://github.com/ARMmbed/mbed-os/issues/5683 I think. It was said to be fixed, but it doesn't look to be the case. I never got a chance to go back to it at the time.

[2018-08-13 06:50] tracernz opened #7766 "GCC Toolchain Broken with Python 3"
### Description

In this case compiling for NUCLEO_L476RG (but that seems irrelevant), GCC_ARM toolchain (GCC 8.2.0), mbed-cli 1.7.5, Python 3.7.0. The problem occurs with current master HEAD (2a824a1cebd4b363deb322e0fac5ba52b306923d), replace master in the git bisect command with `2a824a1cebd4b363deb322e0fac5ba52b306923d` to repro exactly. The bug was introduced in 6f54a8fdd74e0f7526295a3cd8d8758

[2018-08-13 07:05] kivaisan commented on #7718
After debugging, I noticed the problem actually is in case when while waiting ack, we receive somehow corrupted message. TX_ERROR is sent too early (after RX1).

[2018-08-13 07:07] artokin commented on #7615
We will create a new PR for the fix, @0xc0170 , would you please merge https://github.com/ARMmbed/mbed-os/pull/7737 as the change is made on top of it.

[2018-08-13 07:44] kivaisan commented on #7759
@mattbrown015 Good finding. I'll prepare a fix for this.

[2018-08-13 07:54] mattbrown015 commented on #7718
My specific problem solved and new issue opened for something I hadn't seen so I think this issue can be closed. :-)

[2018-08-13 07:54] #7718 closed, assigned to nobody

[2018-08-13 08:01] jeromecoutant commented on #7647
Hi

Yes

Good finding! I will make a patch as well!

[2018-08-13 09:37] NeilMacMullen commented on #7763
Adding @mprse   since he also seems to have touched this recently! :-)
*[Mirrored to Jira]*

[2018-08-13 11:42] pan- commented on #7763
@NeilMacMullen deepsleep is prevented by the wait API:

https://github.com/ARMmbed/mbed-os/blob/2a824a1cebd4b363deb322e0fac5ba52b306923d/platform/mbed_wait_api_rtos.cpp#L42-L47

In other words, the 1MHz clock is enabled by `wait_ms` and stays on afterward.

It would be nice if `wait_us` was rewritten such as the us_ticker code is not invoked if the delay requested by the client code can be express

[2018-08-13 11:54] NeilMacMullen commented on #7763
@pan Unless I'm missing something, build 5.8.x also used the 1MHz clock but didn't suffer from the excess power consumption.  The code you're referencing looks like it was also present in 5.8.x.   It looks like there is an attempt to force the ticker into lower power in the new code but this apparently wasn't required in 5.8.x

https://github.com/ARMmbed/mbed-os/blob/2a824a1cebd4b363deb322e0fac5ba

[2018-08-13 12:06] janjongboom commented on #7615
@0xc0170 Will this still make it into 5.9.5?

[2018-08-13 12:42] wajahat-abbas commented on #7470
A friendly reminder.

[2018-08-13 14:00] pan- commented on #7763
@NeilMacMullen I'm just pointing out that given how `wait_us` is written; it makes sense that the 1MHz clock consume power continuously if your application calls `wait_us` forever.

That would be interesting to run a git bisect between the two revisions you indicated to find what changed codewise.
*[Mirrored to Jira]*

[2018-08-13 14:09] NeilMacMullen commented on #7763
@pan- Understood.  It looks like the nrfx us_ticker.c code was significantly modified in commit d6b7367bac07866f - not sure it's really worth trying to bisect this given the nature of the changes but I can check whether this is what introduced the problem.
*[Mirrored to Jira]*

[2018-08-13 14:25] OmerRosler opened #7776 "Using RNG on DISCO_F407VG"
Hello guys!

I was trying to use the `trng` hal module on my DISCO_407VG but it seems thar this target object.h file is missing the `trng_s` struct define.
Is thks on purpose? if so, why?

thanks!

[2018-08-13 14:30] NeilMacMullen commented on #7763
Confirmed it is commit d6b7367bac07866f9425 which introduces the extra power consumption.
The previous commit 1aebdcbee5fbd7 is low-power.
*[Mirrored to Jira]*

[2018-08-13 14:50] jeromecoutant commented on #7776
Hi

After a quick check, there is no reason.

If you need it, please propose a pull request to add trng_s in the DISCO directory,
or maybe better remove all trng_s from all objects.h file and add it in TARGET_STM32F4/common_objects.h

Regards

[2018-08-13 15:23] dannybenor commented on #7764
@OmerRosler We have block devices that covers this API. External flash is normally connected via a bus and not memory mapped. Please look at https://github.com/ARMmbed/mbed-os/tree/master/features/filesystem/bd
*[Mirrored to Jira]*

[2018-08-13 15:45] NeilMacMullen commented on #7763
Ok - from my reading of the changes, d6b7367 appears to have switched the us_ticker implementation away from the 32kHz clock and onto the high resolution timer with a corresponding increase in power consumption. The previous implementation was _called_ us_ticker but actually used the RTC.  There is also an lp_ticker implementation but no apparent way of configuring the wait_api to use the low-powe

[2018-08-13 15:51] ciarmcom commented on #7776
ARM Internal Ref: MBOTRIAGE-1519

[2018-08-13 15:57] MateuszMaz commented on #7707
here is pr #7779

[2018-08-13 15:59] MateuszMaz commented on #7743
here is pr #7779
*[Mirrored to Jira]*

[2018-08-13 16:22] artokin commented on #7615
PR https://github.com/ARMmbed/mbed-os/pull/7780 renames Nanostack configuration `*.cfg` files to `*.h` files.

[2018-08-13 16:53] cmonr commented on #7615
@janjongboom The 5.9.5 RC was generated last Friday morning (UK time), and since the PR just came up, it will be targeting 5.9.6.

[2018-08-13 20:09] rsquires commented on #7748
The code we have is proprietary. What steps should I take to forward this code in a confidential way?

[2018-08-13 22:18] cmonr commented on #7615
@janjongboom https://github.com/ARMmbed/mbed-os/pull/7780#issuecomment-412682510

Thoughts one way or another?

[2018-08-14 03:22] geky commented on #7732
Oh good catch 👍

I copied your fix into this PR so we can integrate it:
https://github.com/ARMmbed/mbed-os/pull/7782

Let us know if that looks good to you.

I looked at the rest of the code and it looks like that conversion to microseconds was the only issue. The internals of equeue use 32-bit sequence arithmetic, so overflow should be handled gracefully.

Thanks for opening the issue!

[2018-08-14 06:05] simonnilsson commented on #7732
@geky Looks good, happy to contribute.

[2018-08-14 06:11] andrewc-arm opened #7784 "features/nanostack/mbed-mesh-api/source/NanostackMemoryManager.cpp:25: incomplete type is not allowed"
Hi,

### Description
My partner WIZnet compiled with IAR 7.40 and got following error.

I think the code is incorrect. I think it should have been "uint8_t *mem;" instead. Am I missing something?
Could you please review the code?

Thanks,
Andrew

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-08-14 07:51] ciarmcom commented on #7784
ARM Internal Ref: MBOTRIAGE-1521

[2018-08-14 09:10] jeromecoutant commented on #7756
Hi
I am available to test some patch :-)

*[Mirrored to Jira]*

[2018-08-14 09:42] jeromecoutant commented on #7397
bump :-)

Thx

*[Mirrored to Jira]*

[2018-08-14 09:53] pan- commented on #7784
@andrewc-arm IAR 7.40 is not supported; we do support IAR 7.80.

The issue you mention refers to a C99 flexible array declaration in C++ mode. 7.40 had some [issues](http://supp.iar.com/FilesPublic/UPDINFO/011261/arm/doc/infocenter/iccarm_history.ENU.html) with flexible array members.

[2018-08-14 10:37] NeilMacMullen commented on #7763
It looks like the lp_ticker can be used instead of the us_ticker with the following changes.  I'm not sure if this is the intended use of DEVICE_LPTICKER but it seems to do the right thing on RF52
[code]
*[Mirrored to Jira]*

[2018-08-14 12:57] amq commented on #7766
Related: https://github.com/ARMmbed/mbed-os/issues/7026
*[Mirrored to Jira]*

[2018-08-14 15:29] jamesbeyond commented on #7656
Hi @ganesh-ramachandran,
Sorry for the late reply.

To clarify the thing:
The scripts you used and tests run are for the legacy mbed os 2 tests. and they had been announced deprecated. We have plans to remove them soon.

For your target: `TMPM066` it clearly declared that it only support mbed 5 in  [here](https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L4193)

To test your targ

[2018-08-14 15:30] jamesbeyond commented on #7656
@ganesh-ramachandran  If you are happy about the solution, I think this issue can be closed

[2018-08-14 15:56] cmonr commented on #7756
Thanks @jeromecoutant!

Would you happen to have tests for a specific target that we could test against so that we can reproduce the issues?
*[Mirrored to Jira]*

[2018-08-14 16:31] cmonr commented on #7784
@andrewc-arm For reference: https://os.mbed.com/docs/v5.9/tools/exporting.html

Is there a reason that your partner is using 7.40 instead of 7.80?

[2018-08-14 16:43] #6853 closed, assigned to nobody

[2018-08-14 17:05] cmonr commented on #7776
Closing since the question was answered.

[2018-08-14 17:05] #7776 closed, assigned to nobody

[2018-08-14 19:03] aashishc1988 commented on #7484
@RobMeades I am cc'ng couple of people here, they can correct me if I am wrong about my understanding of the architecture.
So, right now, there is not a way for greentea client to start without waiting for sync. We have a blocking call in greentea setup that needs a sync packet. Considering there is no stdin, one way as suggested by @studavekar is that we can ifdef that part of the code where it i

[2018-08-14 19:49] Navis-Raven commented on #7733
So what is the solution ? Keil don't work with mbed. IAR don't work with mbed...

I have a similar issue here with Keil !
https://github.com/ARMmbed/mbed-os-example-blinky/issues/132

[2018-08-14 21:41] #7672 closed, assigned to nobody

[2018-08-15 03:01] cmonr commented on #7733
@Navis-Raven In this case we don't have the bandwidth to attempt to solve something that is not supporte right now. Users are free to use whatever versions of tools they like, but there's only a subset of versions that we can support at any given time.

The issue you referenced definitely looks like it's something that should work, thus we'll be looking into it.

[2018-08-15 03:28] Navis-Raven commented on #7733
On the IAR website does not propose us other version than the last one, the 8.30.

As you can see I've tried many IDE but no one success. It is quite regrettable that there is not a Desktop version of the arm mbed online compiler with its debugger.... It will replace the necessity of having other IDE for many applications. I remark that many IDE are quite similars because they are all based on Ecl

[2018-08-15 07:09] mirelachirica commented on #7470
One approach is getting access to cellular device and serial from EasyCellularConnection: PR https://github.com/ARMmbed/mbed-os/pull/7795 and through device, access to power/open_power().
[code]
What do you think?

[2018-08-15 08:37] janjongboom commented on #7222
@deepikabhavnani Yes, increasing idle thread stack size helped, but I think the underlying issue was fixed.

[2018-08-15 09:20] LaurentLouf opened #7796 "Why isn't the SPIBlockDevice part of mbed-os ?"
### Description
Very quick question. I'm using an external SPI Flash so for that I'm using LittleFS along with the following driver https://github.com/ARMmbed/spif-driver . Though it's not at all blocking, why isn't this driver integrated by default in mbed-os ? I guess it's a pretty common use case and as there is _cellular_  feature integrated by default in the features, this seems a bit unfair

[2018-08-15 11:51] ciarmcom commented on #7796
ARM Internal Ref: MBOTRIAGE-1523

[2018-08-15 12:11] deepikabhavnani commented on #7222
Closing this since underlying issue is fixed

[2018-08-15 12:11] #7222 closed, assigned to nobody

[2018-08-15 14:35] MarceloSalazar commented on #7455
@geky can you please confirm @davidsaada question?

[2018-08-15 14:38] davidsaada commented on #7455
@MarceloSalazar That won't be necessary. Did that in all left external BDs (and this was reviewed by @geky as well).

[2018-08-15 14:52] MarceloSalazar commented on #7455
Thanks for confirming @davidsaada !

[2018-08-15 16:14] geky commented on #7796
This is being fixed at the moment!
https://github.com/ARMmbed/mbed-os/pull/7774

[2018-08-15 16:28] LaurentLouf commented on #7796
Oh thanks, should have searched in the PRs.

[2018-08-15 16:28] #7796 closed, assigned to nobody

[2018-08-15 17:16] geky commented on #7796
No worries, there's usually a lot of PRs flying around.

[2018-08-15 18:26] aashishc1988 commented on #7293
Possible reasons for TIMEOUT:
1. Not being able to sync with the device for some reason
2. Broken UART
3. Flaky device (connects/disconnects on whim, possibly due to faulty uart)
4. Test itself had an issue/bug which resulted in device being unresponsive

greentea_metrics_resport is used to send heap, stack and cpu info. In cases 1, 2, 3, I dont see any point of generating that information as we w

[2018-08-15 19:28] NeilMacMullen commented on #7763
Unfortunately my workaround appears to do nasty things to the rtc clock tracking.  Here's the output of the application as it is simply running wait_ms(1000) in a loop and printing out 'time' every 60 seconds or so....  As you can see, time is rolling backwards at certain points.  I need to double check but it looks like this is happening approx. every 35 minutes which just happens to be (1<<31) m

[2018-08-16 04:28] #7656 closed, assigned to nobody

[2018-08-16 05:16] andrewc-arm commented on #7784
OK. I will ask WIZnet to try IAR 7.80 instead of 7.40. Thanks for the quick feedback!

[2018-08-16 07:29] jeromecoutant commented on #7293
Other reasons for TIMEOUT:
- device want to sleep and is not able to wake up for some reason
- device ticker implementation is wrong
- device went to a wrong internal state
- ...

*[Mirrored to Jira]*

[2018-08-16 08:00] jeromecoutant commented on #7756
No, issue is not related to a specific target, you can try "python tools/singletest.py ..." to the target you have
*[Mirrored to Jira]*

[2018-08-16 09:17] pmancele opened #7800 "What is the proper way to disable RTOS"
### Description
Hello,
I know that [this page](https://os.mbed.com/blog/entry/Reducing-memory-usage-by-tuning-RTOS-con/) is usually linked to explain how to diable RTOS but it there a way to disable RTOS through mbed compilation time configuration ? (Through the `mbed_app.json` file)

I tried this:
[code]
--> The RTOS and EVENTS are not compiled but the others features that needs RTOS or EVENTS th

[2018-08-16 09:33] ccli8 opened #7801 "LPTICKER_DELAY_TICKS fails sleep manager tests"
### Description

During my enabling `MBED_TICKLESS` development on Nuvoton targets, I find `LPTICKER_DELAY_TICKS` would fail tests which have deep sleep lock check. When `LPTICKER_DELAY_TICKS` is enabled, `lp_ticker_set_interrupt_wrapper` would schedule delay calls to `lp_ticker_set_interrupt` through `Timeout`, which would lock deep sleep transiently and so interfere with deep sleep lock check in

[2018-08-16 10:32] NeilMacMullen opened #7804 "RF52 serious behavioural regressions in RTC"
GCC_ARM
nRF52 platform.
mbed-os-5.9.4

See https://github.com/ARMmbed/mbed-os/issues/7763 for the likely breaking change.

The following code demonstrates that the seconds and minutes are NOT being correctly reset when calling set_time.

Further, other strange behaviour includes that described in https://github.com/ARMmbed/mbed-os/issues/7763 where setting the clock (backwards?) can sometimes caus

[2018-08-16 10:35] NeilMacMullen commented on #7763
It seems the behaviour described above (35 minute "slippage") is not caused by my workaround since I also see it after reverting the changes.  It and other issues are present on the official 5.9.4  release.  See https://github.com/ARMmbed/mbed-os/issues/7804
*[Mirrored to Jira]*

[2018-08-16 10:36] NeilMacMullen commented on #7804
@MarceloSalazar  @pan-  @mprse
*[Mirrored to Jira]*

[2018-08-16 11:03] NeilMacMullen commented on #7804
set_time seems to have been broken between 5.8.6 ( expected behaviour) and 5.9.0 (incorrect)
*[Mirrored to Jira]*

[2018-08-16 11:51] ciarmcom commented on #7801
ARM Internal Ref: MBOTRIAGE-1525

[2018-08-16 11:51] NeilMacMullen commented on #7804
For good measure I verified it is also broken on 5.9.5
*[Mirrored to Jira]*

[2018-08-16 12:00] maxgerhardt commented on #6986
This is not fixed in the most recent version of the stack and mbed-os version, can you recheck, @hasnainvirk?

[code]

Isn't the underlying problem that the `MBED_ASSERT` macro doesn't use the `expr`, thus leading to the warning?

[code]

[2018-08-16 12:51] cmonr commented on #7784
@andrewc-arm Feel free to open another issue if the problem persists.

[2018-08-16 12:51] #7784 closed, assigned to nobody

[2018-08-16 13:48] hasnainvirk commented on #6986
@maxgerhardt You are right. This came back from the dead :) Will send a patch. Thanks for catching it.

[2018-08-16 14:04] hasnainvirk commented on #6986
@maxgerhardt https://github.com/ARMmbed/mbed-os/pull/7807 Here is the fix mate.

[2018-08-16 14:07] #7724 closed, assigned to nobody

[2018-08-16 15:23] MarceloSalazar commented on #7679
@mudassar-ublox can you please clarify what you mean by "SARA_R4 already handled."
Can you point to the changes or line referring to this?

This is still a known issue and therefore I suggest to keep this ticket open until a fix is available.
*[Mirrored to Jira]*

[2018-08-16 15:24] drahnr opened #7808 "NVStore - format definition"
### Description
For production there is the necessity to know how to encode/decode valid data from a firmware chunk/generate a valid chunk which can be merged with the firmware to inject replaceable configuration values.

Is there a document available specifying the layout or is the code the only truth?

### Issue request type
    [X] Question
    [ ] Enhancement
    [ ] Bug

[2018-08-16 15:27] NeilMacMullen commented on #7463
Closing this because I can't reproduce it any more.

[2018-08-16 15:27] #7463 closed, assigned to nobody

[2018-08-16 15:30] drahnr commented on #6942
@AGlass0fMilk did you investigate the `NVStore` structure any further? If so, could you share your findings. I am in the same position as you are, see #7808
*[Mirrored to Jira]*

[2018-08-16 16:22] c1728p9 commented on #7801
Hi @ccli8 this should be fixed by #7524

[2018-08-16 17:00] deepikabhavnani opened #7809 "Cortex-M Fault Exception handlers - Not compatible to Cortex-M23"
### Description
Cortex-M Fault Exception handlers, when enabled build fails for Cortex-M23 devices

### Issue request type
[ ] Question
[ ] Enhancement
[X] Bug

CC @SenRamakri

[2018-08-16 18:38] #7649 closed, assigned to davidsaada

[2018-08-16 20:06] AGlass0fMilk commented on #6942
I haven’t had the chance to yet. It seems like it ought to be simple just by looking at Nvstore’s source though. Let me know if you figure anything out.

On Aug 16, 2018, at 11:31 AM, Bernhard Schuster <notifications@github.com<mailto:notifications@github.com>> wrote:

@AGlass0fMilk<https://github.com/AGlass0fMilk> did you investigate the NVStore structure any further? If so, could you share your

[2018-08-16 20:58] deepikabhavnani commented on #7809
CC @gaborkertesz - ~~Instruction set used in `except.S` is not compatible to ARMv8.~~
*[Mirrored to Jira]*

[2018-08-16 21:45] maclobdell commented on #7450
@tsailer @theotherjimmy  What is the status of this?  Is there still another PR to be made to get this working?
*[Mirrored to Jira]*

[2018-08-16 21:50] maclobdell commented on #7657
@felser @hosse005 klaas019  Any update on this?

[2018-08-17 01:01] maclobdell opened #7811 "Support SPI flash on LPC546XX"
### Description
Target: LPCXpresso54628 or LPCXpresso54608
Toolchain: N/A
Mbed Os Version: 5.9.5

To support applications that require storage (e.g. Mbed Cloud Client) it is required to have SPI flash, SD Card, or extra internal flash, etc.

Luckily, the LPCXpresso546xx boards have a SPI flash on board.

However, on the schematic the pins are connected to the SPIFI interface, not SPI.

To support

[2018-08-17 01:01] maclobdell commented on #7811
@mmahadevan108
*[Mirrored to Jira]*

[2018-08-17 02:53] TacoGrandeTX commented on #7804
@NeilMacMullen We're still root-causing this issue, but a work-around to the problem with set_time() is to re-introduce the "RTC" property to the "Device Has" list in `targets.json` for the MCU_NRF52832.  We see that working properly with your test code.  However, it's not clear what other ramifications that will have on your end app.

*[Mirrored to Jira]*

[2018-08-17 06:46] mudassar-ublox commented on #7679
Above changes are irrelevant when target is `C030_R104M`. As `open_data_channel` function will not be called when target is `C030_R104M`.

https://github.com/ARMmbed/mbed-os/blob/f5126682308d31c60851943168c79949e44774d7/features/cellular/framework/targets/UBLOX/AT/UBLOX_AT_CellularNetwork.cpp#L95
*[Mirrored to Jira]*

[2018-08-17 08:38] NeilMacMullen commented on #7804
Thanks @TacoGrandeTX I'll do some testing with this today and let you know of any relevant findings.
*[Mirrored to Jira]*

[2018-08-17 08:45] kjbracey commented on #6873
I believe the question is answered.

[2018-08-17 08:45] #6873 closed, assigned to nobody

[2018-08-17 08:51] kjbracey commented on #7736
I believe you should be able to `freopen(stdout)` to send to a file, so your rather clever trick shouldn't be necessary.  That should work fine for anything with a pathname, such as a real file on a `FileSystem`.

Only limitation I'm aware of is that there's no `fdreopen` for when you only have a `FileHandle` without a pathname, eg a plain `UARTSerial` device.

As to the sync of `stderr`, you can

[2018-08-17 13:21] klaas019 commented on #7657
Yes, sorry about the delay. I will make a pr today.

[2018-08-17 14:29] maxgerhardt opened #7820 "LoRa: RX2 DR is ignored and wrong one is applied"
### Description

* board type: Nucleo L476RG with RFM95W radio
* latest commit mbed-os
* GCC

I am using the LoRaWAN stack with The Things Network (TTN), which has its RX2 window on SF9BW125, a.k.a DR_3 for EU868 (https://www.thethingsnetwork.org/docs/lorawan/frequency-plans.html), **not** the actual SF12 standard.

So, I have to modify the `LoRaPHYEU868.cpp` file in order to change the hard-coded

[2018-08-17 14:32] NeilMacMullen commented on #7804
On the basis of some light testing, this does look to have fixed the issues I was seeing and even works with the low-power workaround I describe in #7763.  Thanks!
*[Mirrored to Jira]*

[2018-08-17 15:41] deepikabhavnani commented on #7809
[code]
*[Mirrored to Jira]*

[2018-08-17 15:47] SenRamakri commented on #7748
@rsquires - We have been investigating on this elsewhere as well. We have a report of another scenario reproducing the same error, and it was found to be a stack overflow/corruption issue. So, can you please check your stack sizes and may try to increase the thread stacks sizes and see if that helps. If that makes the problem go away that might provide you more info on the actual root cause.

[2018-08-17 15:51] ciarmcom commented on #7820
ARM Internal Ref: MBOTRIAGE-1530

[2018-08-17 16:32] rsquires commented on #7748
That's essentially the route we took to work around the issue. The code that exacerbates this issue was move to a different part of our firmware's init/lifecycle. This gives it move stack space to work with, since less systems are up and running. We haven't seen the crash since then.

[2018-08-17 16:32] #7748 closed, assigned to nobody

[2018-08-17 16:42] cmonr commented on #7766
@tracernz Would you mind seeing if this still breaks with Python 3.6? We're not quite testing our codebase with 3.7 yet.
*[Mirrored to Jira]*

[2018-08-17 18:34] SenRamakri commented on #7809
@deepikabhavnani and I debugged this issue, and we found that adding the above fix can fix compilation issue we were originally seeing with M2351. And with recent fixes Deepika mentioned we are able to compile for Musca. But in general we are not able to enable fault-handler dump for ARMv8M as we are going to secure side on a fault exception and we don't have the fault handler implementation on se

[2018-08-17 19:11] gaborkertesz commented on #7809
I also can build for Musca with these fixes and renaming the startup code to *.S from *.s as suggested.
I'll discuss the fault handlers issue with the TFM team, but probably the fault handlers should be in the TFM secure side implementation anyway.
*[Mirrored to Jira]*

[2018-08-17 21:12] TacoGrandeTX commented on #7804
@NeilMacMullen Thanks for the report - that's good to hear.  Even without DEVICE_RTC we are still using RTC1 (running at 32kHz) for updating our internal ticker for time-keeping.  Our internal rtc_lp_base is being set appropriately by set_time() but we might be mishandling the internal ticker. We will have more for you early next week.

*[Mirrored to Jira]*

[2018-08-18 00:57] cmonr commented on #7484
@aashishc1988 @RobMeades I don't this would be high on our priority list if we decide to attempt it.

The sync mechanism is in place to confirm bidirectional communication between the host and device under test.

@RobMeades If you don't have stdin available in your system, you're looking to run output-only tests? This feels like quite a departure from how Greentea and HTRun were designed to run. I