[2018-09-19 14:06] #8172 closed, assigned to nobody

[2018-09-19 14:10] deepikabhavnani opened #8185 "atmel-rf-driver: Components get build as default?"
### Description

Building project mbed-os_development (ARM_MUSCA_A1, ARMC6)
Scan: mbed-os_development
Scan: env
Compile [  0.2%]: mbed_tz_context.c
Compile [  0.3%]: NanostackRfPhyAtmel.cpp
Compile [  0.5%]: at24mac.cpp
[ERROR] In file included from .\mbed-os\components\802.15.4_RF\atmel-rf-driver\source\at24mac.cpp:16:
.\mbed-os\components\802.15.4_RF\atmel-rf-driver\source/at24mac.h:71:11: error

[2018-09-19 14:53] 0xc0170 commented on #8185
@SeppoTakalo Please review
*[Mirrored to Jira]*

[2018-09-19 14:59] jamesbeyond commented on #8064
I did some experiment with it. seems this has something to do with how mbed-os project structure and how mbed tools invoked.
CASE 1:
[code]
CASE 2:
[code]
`CASE1` worked with icetea, `CASE2` not

Seems the mbed tools treat `CASE2` as a mbed application.
So if you remove the `mbed-os.lib` or `mbed_settings.py` in the `foo` folder make mbed tools think the app is broken, then icetea works again
*[Mi

[2018-09-19 15:09] screamerbg commented on #8064
CC @cmonr @theotherjimmy @OPpuolitaival
*[Mirrored to Jira]*

[2018-09-19 16:12] cmonr commented on #8064
Looking at this now. It appears that when invoking test case #2, the root directory is modified to be the `foo` directory, instead of `mbed-os`.
*[Mirrored to Jira]*

[2018-09-19 16:13] geky commented on #7407
Hmm, could we find out how much RAM is used by the HeapBlockDevice after running the FAT tests and then use that as our threshhold (with some margin)?
*[Mirrored to Jira]*

[2018-09-19 19:04] ChiSaw opened #8188 "NRF52 interrupts already activated by fall/rise call"
### Description of defect

In `InterruptIn::fall(..)` and `InterruptIn::rise(..)` calling `gpio_irq_set` in target https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_NORDIC/TARGET_NRF5x/gpio_api.c#L221 , the interrupts get activated per default. This results in direct ISR calls on hardware if the interrupt input pin is floating during boot up for example. Per default interrupts shouldn'

[2018-09-19 19:20] aashishc1988 commented on #7711
@khj098765 It is saying NOT_SUPPORTED because with the second call
[code]
You are rebuilding the test without the necessary flag

To fix that and run the test locally, you can do this

Build the example first
[code]

And then run locally using greentea

[code]
Do a mbedls to find the right target id for your device and replace the one above with that.

[2018-09-19 20:20] vijhar01 commented on #8146
Above reported error encountered in RC3 build as well

[2018-09-19 23:11] kegilbert commented on #8058
Hi @MarceloSalazar

Sorry for the delay! I wasn't able to reproduce the error, what version of python/pip were you running?

[code]

[2018-09-20 00:18] khj098765 commented on #7711
@aashishc1988  I run locally using greentea

`mbedgt --use-tids 2201000003b8bdc800000000000000000000000097969902 -n tests-mbed_platform-stats_heap -v V`

[gtlog.txt](https://github.com/ARMmbed/mbed-os/files/2399102/gtlog.txt)

but I returned message about no maching.

If you possible, can you try this issue test after the following PR has been merged?
https://github.com/ARMmbed/mbed-os/pull/7921#i

[2018-09-20 06:23] JammuKekkonen commented on #7973
Seems like probably all duplicate keys are handled the same way; all but last are silently ignored: https://docs.python.org/3/library/json.html#repeated-names-within-an-object
*[Mirrored to Jira]*

[2018-09-20 07:45] MarceloSalazar commented on #8058
@kegilbert my pip version is now 18.0 and I confirm everything works now on Mac!
I think it was caused by an old version of pip...

Closing this ticket - no further action is required. Thank a lot!

[2018-09-20 07:45] #8058 closed, assigned to nobody

[2018-09-20 07:57] SeppoTakalo commented on #7956
Non-RTOS is completely different operating system from our point of view.

And we have not allocated any resources to support its networking APIs. Maybe the patching seems easy, but I need to take the burden of actually maintaining and testing it.

If such business case appears that requires this, it has to be planned into Mbed OS project and resourced properly.
Until then, I decline this request.

[2018-09-20 08:17] Arjun765 opened #8191 "STM32F103: set_time doesnt set the time correctly"
### Description

[code]

Running the above code i get the following output

I'm using Mbed 5.9.7(949cb49).

[ ] Question
[ ] Enhancement
[x ] Bug

[2018-09-20 08:21] samchuarm commented on #8124
Since the netsocket tests were fully passed when Realtek delivered the EMAC interface, it seems these failures are due to the 5.10 updates.

[2018-09-20 08:25] samchuarm commented on #8081
adding @ARMmbed/team-realtek @M-ichae-l , Hi Michael, please help look into this STDIN/STDOUT crash and address it for RTL8195AM. Thanks.
*[Mirrored to Jira]*

[2018-09-20 08:33] M-ichae-l commented on #8124
Hi,
Sorry for the late reply. I just finished testing the issue with 5.9 and 5.10-rc2. The tests are all passed from my side. As @samchuarm said the reason may be the 5.10 updates or setting error.
In addition, I have found that "RealtekInterface.json" from "~mbed-os\tools\test_configs" is missing after 5.9.

[2018-09-20 08:35] SeppoTakalo commented on #8124
@samchuarm What makes you assume that all tests have passed by that time?

During the EMAC work, only EMAC tests have been ran.

I cannot see any evidence that these test have been ran before when this driver has been developed:

* https://github.com/ARMmbed/mbed-os/pull/6904
* https://github.com/ARMmbed/mbed-os/pull/7551
* https://github.com/ARMmbed/mbed-os/pull/7751
* https://github.com/ARMmbed/

[2018-09-20 08:46] SeppoTakalo commented on #8124
@M-ichae-l Hi, can you provide the log from the test run?

Also, are you running the full, extented, test set as instructed here: https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/README.md

For some of the testcases, we might have outdated configurations as there are now maintenance work being done in the test infra. Those will be resolved soon.

This is the result from last night:
[

[2018-09-20 09:27] 0xc0170 commented on #8188
As the example in the InterruptIn header file shows, fall/raise method enabled interrupts - only required to have a callback. Activated by default.

enable/disable irq were added later, to be able to disable/re-enable only interrupts for specific input (in most cases it is actually the entire port).

[2018-09-20 09:27] 0xc0170 commented on #8184
cc @ARMmbed/team-st-mcd

[2018-09-20 09:32] yossi2le commented on #8151
@korjaa
Sorry for that but unfortunately, Some of the tests in the external drivers repositories are protected by GNU license which cannot be used in mbed-os. Therefore, we have removed the tests which had the license issue and we will take care for it in the future by creating new tests for blockdevice.

[2018-09-20 09:41] screamerbg commented on #8111
CC @jeromecoutant

[2018-09-20 10:02] samchuarm commented on #8124
@SeppoTakalo , I see your point. It was my misunderstanding.

[2018-09-20 10:52] drahnr commented on #8188
From an API POV this goes against a common pattern - one wants to attach a callback once, and the enable disable based on some business logic.
Also the API documentation says nothing about the irq being activated https://os.mbed.com/docs/v5.9/mbed-os-api-doxy/classmbed_1_1_interrupt_in.html#a774eed83bdbd9a95ea530b2eee9b7754

[2018-09-20 11:00] 0xc0170 opened #8194 "Requirements: mbed-cloud-sdk having exact version match"
### Description

`mbed-cloud-sdk==2.0.0`  - I would like to understand this requirement. We have a new PR that is updating this to 2.0.1. Are we expecting to have exact match and update for specific patch releases that we choose?

Why not to loose this dependency to accept at least patch releases ? How often is patch release expected vs req update in this repository ?

@ARMmbed/mbed-os-tools @Marc

[2018-09-20 11:07] 0xc0170 commented on #8188
This is how `attach` functionality is designed in the drivers (you can review `attach` methods, the object does not have enable/disable these callbacks). Either valid callback or NULL (former enables, latter disables).

Please review @ARMmbed/mbed-os-hal

[2018-09-20 11:09] bcostm commented on #8068
I tried also to reproduce it today but it's OK with me too.

My conditions:
- NUCLEO_F072RB board
- mbed online compiler (running on Windows)
- mbed-os library revision 4466 (= 5.9.7) or mbed library revision 170 (= version 163 = 5.9.6)

I don't know what is wrong on your side ? Did you check again recently ?

*[Mirrored to Jira]*

[2018-09-20 11:12] 0xc0170 commented on #8151
@korjaa I believe this is answered, and @yossi2le - do we have a tracking issue for this, to reference it so this can be closed?

[2018-09-20 11:20] lauri-piikivi opened #8195 "Cellular: Errors hidden in the cellular stack"
https://github.com/ARMmbed/mbed-os/blob/6c348024cd26e6cc70e8e805268aa171554d64ca/features/cellular/framework/targets/GEMALTO/CINTERION/GEMALTO_CINTERION_CellularStack.cpp#L65

Based on reading the docId ELS61-E_ATC_V01.000 document
There are lots of status codes. 2 might be for incoming (network initiated connection)? See at least status 0 and the errors
"0            An event has occurred after o

[2018-09-20 11:30] 0xc0170 commented on #8195
Please leave the template in the issue (Description and Issue type sections). Also the name of the issue to be more specific , this is regarding cellular : "cellular: gemalto errors not processed" or similar

Please update
*[Mirrored to Jira]*

[2018-09-20 11:30] jamesbeyond opened #8196 "UBLOX_EVK_ODIN_W2 target failed on mbed HAL lp_ticker/sleep/rtc greentea test"
### Description
`UBLOX_EVK_ODIN_W2` target sharing the same HAL implentation with STM targets, where STM targets passing all the greentea test. but `UBLOX_EVK_ODIN_W2` failed on following mbed greentea tests:

The tests currently failed on both `W260` and `W262` variants. However, not every target is failing. we tested on 4 `W262` boards, 3 boards always failing, 1 board always passing :

* tests-

[2018-09-20 11:31] 0xc0170 commented on #8196
@ARMmbed/team-ublox Please review

[2018-09-20 11:47] yossi2le commented on #8151
@0xc0170 We have a task at the JIRA
IOTSTOR-658

[2018-09-20 11:52] ashok-rao commented on #8196
@RobMeades @andreaslarssonublox  - can you please check this? Thanks.

[2018-09-20 11:56] #8151 closed, assigned to nobody

[2018-09-20 12:07] kubazdz opened #8197 "low DAC output voltage nucleo-l432kc"
### Description
Hi, I'm new to mbed and im trying to use nucleo l432kc DAC as an analog output. I'm using very simple code, and the output voltage is very low (330mV) and I'm wondering why. Here's the code:

[code]
in my opinion it should be 3.3V... Is it some hardware issue?

### Issue request type

[X] Question
[  ] Enhancement
[  ] Bug

[2018-09-20 12:17] BramdeBoer1 opened #8198 "Compiler warning on BlockDevice"
### Description

Target:      STM32L072
IDE:           IAR 8.30.1
Mbed OS: 5.10.0 RC3

After upgrading the os from 5.9.3 to 5.10.0 i get a lot of the following compiler warnings.
Warning[Pe068]: integer conversion resulted in a change of sign

It is due to BD_ERROR_DEVICE_ERROR being used as return value when the return type is of type bd_size_t.
BD_ERROR_DEVICE_ERROR is defined as -4001 whilst bd

[2018-09-20 12:20] 0xc0170 commented on #8198
@ARMmbed/mbed-os-storage Please review

[2018-09-20 12:21] 0xc0170 commented on #8197
@ARMmbed/team-st-mcd Please review

[2018-09-20 12:26] davidsaada commented on #8198
@BramdeBoer1 An example of such an error, including compiled file (C/CPP file) and line number would be very helpful.

[2018-09-20 12:32] henningray opened #8199 "Can't initialize NB-IoT SIM with Ublox SARA-N211"
### Description

Hello, I'm having trouble initializing a NB-IoT Sim card with my Ublox SARA-N211 (Firmware 6.57) via an OnboardCellularInterface. I can power up the modem successfully but in PPPCellularInterface::initialize_sim_card() I keep getting AT Error messages:

Also, after the device tries to reconnect I receive

even though I am not sending a UFOTAS command.
I am using Mbed OS 5.9.0 with

[2018-09-20 12:40] kapi90 opened #8200 "CM3DS 'EMAC unicast long' Timeout"
When I run EMAC related Greentea tests on my CM3DS target (MPS2+ Rev. C) it seems that the 600s Timeout that is set by default is not enough for the EMAC unicast long testcase, in which the board sends, receives and validates 50,000 packets. When I ran the same test without using the python environment (Connect to it with DS-5 and Serial Terminal (Putty), do a software reset and send {{__sync;1}}

[2018-09-20 12:49] bcostm commented on #8191
I checked in our ci tests history and all RTC tests are PASS on this board using mbed-os 5.9.7. I also rechecked all RTC tests on the master branch and all is PASS.

The RTC Reset is tested correctly but is this test correct or maybe does not cover this use case ?

[code]

*[Mirrored to Jira]*

[2018-09-20 13:01] screamerbg commented on #7203
@yogpan01 Bump. Have you tried the latest STLink firmware?

[2018-09-20 13:04] screamerbg commented on #7853
@0xc0170 Can we remove the `devices:st` tag from issue? Seems like this is rather about Mbed OS than ST.
*[Mirrored to Jira]*

[2018-09-20 13:12] 0xc0170 commented on #7853
Can you review this use case?
*[Mirrored to Jira]*

[2018-09-20 13:14] yogpan01 commented on #7203
@screamerbg This seems to work now as we haven't seen issue in our CI. Happy to close this one now!

[2018-09-20 13:14] #7203 closed, assigned to nobody

[2018-09-20 13:32] BramdeBoer1 commented on #8198
An example of the issue can be found in BufferedBlockDevice.cpp:254

[code]

![afbeelding](https://user-images.githubusercontent.com/38936623/45821771-4ae9b700-bcea-11e8-87a1-0cc56f9bae4d.png)

[2018-09-20 13:36] davidsaada commented on #8198
@BramdeBoer1 Thanks.
@yossi2le Please handle.

[2018-09-20 14:28] ciarmcom commented on #8197
ARM Internal Ref: MBOTRIAGE-1694

[2018-09-20 14:35] adustm commented on #7853
Hi @martinjaeger
STM32s have a way to jump to a boot-code. This is not used within mbed-os, that already has a feature for bootloader.
Providing a weak implementation for system_init sounds too risky.

I would suggest that you have your own patch for startup function, calling your function before the call to system init.
Such a solution has been implemented some time ago for STM32F4 family (https:

[2018-09-20 14:47] mattbrown015 opened #8201 "When Will 'feature-watchdog' be Released?"
### Description
The product I'm working on needs a watchdog.  Precise requirements are vague.

After searching for 'watchdog' I found the [feature-watchdog](https://github.com/ARMmbed/mbed-os/tree/feature-watchdog) branch and some PRs and issues relating to it.  My initial reaction was "ah, great!".

What I didn't find was an overview of the status.  Is there a way to find out how a feature branch

[2018-09-20 15:11] #8143 closed, assigned to cmonr

[2018-09-20 15:17] MarceloSalazar commented on #8064
IMO the tools should be able to run icetea regardless of where you have the root directory configured.
This is the standard behavior with greentea and we should work on getting icetea working the same way.

*[Mirrored to Jira]*

[2018-09-20 15:50] MarceloSalazar opened #8202 "Icetea/Greetea: TypeError: a bytes-like object is required, not 'str'"
### Description

During OOB for 5.10 release, found issues while evaluating icetea:

- Mbed CLI 1.8.2
- Mbed OS 5.10 rc3
- OSX El Capitan
- Python 3.7

[code]

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

@OPpuolitaival @cmonr @jamesbeyond

*Note*: this also happens when running greentea:
[code]

Not a problem with Python 2.

[2018-09-20 15:57] naveenkaje opened #8203 "Unable to drive RGB LED on WIZWIKI W7500 and W7500P's through DigitalOut Interface"
### Description
WIZWIKI W7500 and W7500P's RGB LED D1 does not turn on as expected with a simple program.
This issue was raised by a user on [questions](https://os.mbed.com/questions/82435/Blink-example-does-not-work-on-WIZwiki-W/)
[code]
[WIZWIKI W7500 Target Page](https://os.mbed.com/platforms/WIZwiki-W7500/)
[Schematic](http://wizwiki.net/wiki/lib/exe/fetch.php?media=products:wizwiki_w7500:wizw

[2018-09-20 16:01] cmonr commented on #8194
Related to: https://github.com/ARMmbed/mbed-os/pull/8160

My opinions: https://github.com/ARMmbed/mbed-os/pull/8160#issuecomment-422462165

[2018-09-20 16:03] deepikabhavnani opened #8204 "Critical - Test Build on master not working"
### Description
`mbed test --compile -m K64F -t ARMC6 ` - On master branch is not working

Image: BUILD/tests/K64F/ARMC6/mbed-os/features/storage/filesystem/littlefs/TESTS/filesystem_recovery/resilience/resilience.bin

[code]

Expected:
[code]

Observation:
I created multiple renamed copies of `resilience_functional` at same path as `resilience_fun` ,  `resilience_funct` and `resilience_functi`  t

[2018-09-20 16:04] 0xc0170 commented on #8194
@arekzaluski Please review

[2018-09-20 16:05] deepikabhavnani commented on #8204
We need refactoring of folder names and path, we need to use optimized name for each folder and test.
Apart from that we also need proper solution from tools for long paths.

CC @ARMmbed/mbed-os-maintainers

[2018-09-20 16:06] naveenkaje commented on #8203
Adding @andrewc-arm

[2018-09-20 16:09] TacoGrandeTX opened #8205 "Sleep tracer is not finding matching driver when performing an unlock"
### Description

We are not properly performing the driver lookup when we perform an unlock of the deep sleep counter.  This only affects the stats counter and not the sleep counter itself, but it leads to confusing results when using the sleep tracer to monitor sleep.

Test Program:

[code]
This results in:
[code]
It still shows the timer holding a sleep lock when it has actually been released.

[2018-09-20 16:13] TacoGrandeTX commented on #8205
@scartmell-arm Could you please comment?

[2018-09-20 16:47] MarceloSalazar commented on #8064
FYI @maclobdell @bentcooke
*[Mirrored to Jira]*

[2018-09-20 17:06] cmonr commented on #7973
@teetak01 I think we have an action to fail if duplicate entries are defined. I recall seeing the issue be brought up in email a few weeks ago.
*[Mirrored to Jira]*

[2018-09-20 17:09] deepikabhavnani commented on #7847
@RobMeades - Please share your thoughts on  https://github.com/ARMmbed/mbed-os/pull/8189
*[Mirrored to Jira]*

[2018-09-20 17:21] cmonr commented on #8204
Interesting. Thinking about disabling the test and asking @ARMmbed/mbed-os-storage to rename.

[2018-09-20 17:21] jamesbeyond commented on #8202
I can reproduce on Ubuntu 16.04 with Python 3.7. Both with IceTea and GreenTea.
IceTea throws the error right away.
GreenTea throws the error in the end.

But the IceTea error is from [mbed-cli `mbed.py`](https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L2878) and GreenTea error is from [mbed-os `build_api.py`](https://github.com/ARMmbed/mbed-os/blob/master/tools/build_api.py#L1360)

[2018-09-20 17:38] edablan opened #8206 "NRF52832 (UBLOX NINA-B1) using BLE with signing enabled does not work as expected"
### Description

mbed 5.9.7 (949cb49)
UBLOX NINA-B1(NRF52832)
IAR 7.80.4
mbed-cli 1.7.2

Enabling signing using the securityManager().init() function does not work as expected because the mbed nRF5xSecurityManager::send_pairing_response() function overrides signing as well as distribution of link keys. Not sure why this is done?

I initialize the serucityManager like so. The input parameter settin

[2018-09-20 17:43] RobMeades commented on #7847
I have a feeling that #8189 won't make a difference to the problem raised here since it is the HW clean-up when a `Timer` is deleted that is missing and I don't believe that #8189 adds such clean-up.
*[Mirrored to Jira]*

[2018-09-20 17:47] MarceloSalazar opened #8207 "Icetea: [Warning] Test with name 'test_cmdline' was not found in the available tests"
### Description

Testing Mbed OS 5.10-RC3

While trying to run Icetea and the test_cmdline example, I was stuck trying to understand how to select this particular tests, using the option `-n`.

Every time I ran this line:
[code]

Saw this:
[code]

Which made me think I was doing something wrong, and trying many other things...

Thanks to @jamesbeyond I found the test actually compiles and works.

[2018-09-20 17:53] MarceloSalazar commented on #8028
Hi guys, I've hit the same problem. I didn't understand why the test was inconclusive and whether I needed extra HW platforms.
I believe the solution is to document what are the requirements for each of the tests.

Here is a PR (https://github.com/ARMmbed/mbed-os/pull/8073) with a good start, but IMO should be extended to explain those cases in more detail. Thanks!

[2018-09-20 17:56] cmonr commented on #8204
@ARMmbed/mbed-os-test Looking forward to being able to test PRs in Windows so that these kind of issues are caught before merge :)

[2018-09-20 18:03] ciarmcom commented on #8202
ARM Internal Ref: MBOTRIAGE-1703

[2018-09-20 18:03] ciarmcom commented on #8201
ARM Internal Ref: MBOTRIAGE-1704

[2018-09-20 18:45] deepikabhavnani commented on #7847
I wanted to know if new proposed solution for `wait_ms` , will solve the issue?

wait_ms() is just the thread sleep (so rounding down). Not callable from interrupts, doesn't lock hardware sleep

*[Mirrored to Jira]*

[2018-09-20 19:18] RobMeades commented on #7847
It would solve the initial problem if all `wait_ms()` became effectively the same as `Thread::wait()` but it wouldn't solve my whole problem if `Timer` doesn't tidy up the HW on deletion.  Maybe I should open another issue for the `Timer` problem...
*[Mirrored to Jira]*

[2018-09-20 20:06] TacoGrandeTX commented on #7763
@NeilMacMullen Please note that our OS team is addressing this issue here https://github.com/ARMmbed/mbed-os/pull/8189.

*[Mirrored to Jira]*

[2018-09-20 20:20] deepikabhavnani commented on #8204
CC @gaborkertesz

[2018-09-21 00:34] andrewc-arm commented on #8203
@khj098765,
Could you please review this issue? Thanks

[2018-09-21 02:19] khj098765 commented on #8203
@andrewc-arm @naveenkaje
mbed online compiler mbed-os Library version is release 163 (mbed library. Release version 163)
I tried it with mbed online compiler. But the operation was strange.
I tried it locally with ARM, IAR, GCC_ARM. The operation was normal.
Why is this happening despite using the same Library(rev 163)?

[2018-09-21 03:28] TomoYamanaka commented on #7155
@theotherjimmy
Since this issue keeps to block Renesas Mbed user's activity, we would be grateful if you would resolve this quickly.

Would you please tell us update about the above?

[2018-09-21 05:36] Arjun765 commented on #8191
Which test is that? Does it perform a system reset and check the value? As you can see from my output, `set_time` works but loses it after a reboot.
*[Mirrored to Jira]*

[2018-09-21 06:59] vidavidorra opened #8209 "Document custom target in separate directories"
### Description
In the documentation [Adding custom targets](https://os.mbed.com/docs/latest/tools/adding-and-configuring-targets.html) I see that a file `custom_targets.json` can be used in a separate directory from the mbed-os targets if that directory is given to the `mbed` commands using the `--source` flag. We normally do local builds using the GCC ARM compiler and an `mbed export` for CMake.

[2018-09-21 07:15] jeromecoutant commented on #8191
Hi
Issue is confirmed.

I quickly checked the driver file from ST cube:
https://github.com/ARMmbed/mbed-os/blob/8f7c0ae18d5fbe171b1ff61a52f1152a0957cc43/targets/TARGET_STM/TARGET_STM32F1/device/stm32f1xx_hal_rtc.c#L57

I am expecting some feedback from ST RTC driver expert.

Regards,

*[Mirrored to Jira]*

[2018-09-21 07:40] #8055 closed, assigned to SeppoTakalo

[2018-09-21 07:54] lauri-piikivi opened #8211 "Losing error information on constructor open() call"
### Description
Issue for UDP and TCP Socket on different technologies and stack implementations
Not based on compile and run, reviewing code manually.

The socket constructor hides the open calls from returning errors underneath, and thus different implementations may fail -- see for example open on
https://github.com/ARMmbed/esp8266-driver/blob/master/ESP8266Interface.cpp

Note that this may imp

[2018-09-21 08:09] bcostm commented on #8191
The test is here https://github.com/ARMmbed/mbed-os/tree/master/TESTS/mbed_hal/rtc_reset

This was my initial remark. This test should FAIL on F1 devices... today it is not the case.

*[Mirrored to Jira]*

[2018-09-21 08:42] 0xc0170 commented on #7155
@theotherjimmy is out of office this week. @cmonr Who else could help?

[2018-09-21 09:06] samchuarm commented on #8124
@M-ichae-l , Hi can you please address Seppo's question?

[2018-09-21 09:17] jeromecoutant commented on #8191
Hi @guest253456

Is it possible for you to check #8213 ?

@bcostm
Why rtc_reset test has always been OK ?
Because set time in the test is inferior than 24h (1 day)...

*[Mirrored to Jira]*

[2018-09-21 09:23] bcostm commented on #8197
Hi

Sorry I cannot reproduce. The voltage is well 3.3V on my board...

Do you have the same on the other output PA_5 ?

[2018-09-21 09:29] Arjun765 commented on #8191
Yes, its working with that patch.
*[Mirrored to Jira]*

[2018-09-21 09:58] jeromecoutant opened #8214 "Improve rtc_reset test ?"
### Description

As seen in #8191, value set in the rtc_reset test has missed some issue...

https://github.com/ARMmbed/mbed-os/blob/082ba151ac39262e42775f066581ef0f787160bb/TESTS/host_tests/rtc_reset.py#L32

Do you think we should update this 50000 value to a bigger one ?

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-09-21 10:00] jeromecoutant commented on #8214
@guest253456

[2018-09-21 10:30] Eman869 commented on #8111
@bcostm The power consumption issue is caused by HSI clock is enabled in STOP mode. It causes extra power consumption. Only LSE clock should be enabled in STOP mode. I modified the source code in below:

In mbed-os/targets/TARGET_STM/serial_api.c
[code]

    Power consumption is back to 8uA in STOP mode. However, system still cannot wake up from STOP mode.

--
     Comment updated to correct #if (

[2018-09-21 10:49] 0xc0170 commented on #8204
@ARMmbed/mbed-os-tools What are the proposals for this one ?

The test path is `https://github.com/ARMmbed/mbed-os/tree/master/features/storage/filesystem/littlefs/TESTS/filesystem_recovery/resilience_functional` - does not look that long or wrongly placed - easily can be reproduced by adding a new feature with TESTS 😫

From the error: `WindowsError: [Error 206] The filename or extension is too lo

[2018-09-21 10:54] #8110 closed, assigned to nobody

[2018-09-21 11:05] maciejbocianski opened #8215 "drivers-lp_ticker test failed on NUCLEO_F746ZG"
### Description

- target: NUCLEO_F746ZG
- test: tests-mbed_drivers-lp_ticker
- toolchain: GCC_ARM (likely all)
- Mbed OS: master (082ba151a (HEAD -> master, upstream/master, origin/master, origin/HEAD) Merge pull request #8112 from studavekar/update_doc_unittest)
- catched in PR: #7925

[code]

### How to reproduce
To catch the problem, test should be run multiple time or even modified to run tes

[2018-09-21 11:05] 0xc0170 commented on #8215
cc @ARMmbed/team-st-mcd

[2018-09-21 11:15] bcostm commented on #8184
This stack size is defined in `rtos/TARGET_CORTEX/mbed_rtx_conf.h`

/** The idle thread's stack size can be configured by the application, if not explicitly specified, it'll default to 512 */
#ifndef MBED_CONF_APP_IDLE_THREAD_STACK_SIZE
#define MBED_CONF_APP_IDLE_THREAD_STACK_SIZE    512
#endif

As this value can be changed by the application I don't know what can we do on our side ?

[2018-09-21 11:18] fduignan opened #8217 "BBC Microbit fails to build"
### Description
Using the cloud based compiler on mbed.com  Mbed Revision 170:e95d106  fails to compile even basic blinky for BBC Microbit with the following error:
Error: Undefined symbol __heap_base (referred from /opt/armcc5_06_u3/bin/../lib/armlib/mc_p.l(malloc.o)).
Info: Unable to download. Fix the reported errors...

The compiler reports a version number of 1.10.18.0
The earlier mbed version

[2018-09-21 12:06] 0xc0170 commented on #8217
Looking at the recent changes to the target directory, I suspect this is caused by recent changes to the boot process. Here's the file that is requesting that symbol https://github.com/ARMmbed/mbed-os/blob/88eb8aab2330c9ab2b8948079f123ba4b777224a/rtos/TARGET_CORTEX/TOOLCHAIN_ARM_MICRO/mbed_boot_arm_micro.c

I can't find the __heap_base in the startup file for `MCU_NRF51_16K_BASE` targets

@c1728p9

[2018-09-21 12:27] 0xc0170 commented on #8201
@scartmell-arm Please review

[2018-09-21 12:27] maciejbocianski commented on #8133
@pjsf1000 @pan-
I tested following code on 5.9.7 source and get following results
In operate 4.7mA and for both Thread::wait(20000); and eventQueue.dispatch_forever(); 4uA

run command: `mbed compile -t GCC_ARM -m nrf51_dk -v --profile develop -f`

[code]

[2018-09-21 13:07] jeromecoutant commented on #8184
Are you expecting something like:

#ifndef MBED_CONF_APP_IDLE_THREAD_STACK_SIZE
#ifdef MBED_TICKLESS
#define MBED_CONF_APP_IDLE_THREAD_STACK_SIZE 1024
#else
#define MBED_CONF_APP_IDLE_THREAD_STACK_SIZE 512
#endif
#endif

[2018-09-21 13:21] ghost commented on #8201
The watchdog feature was in the feature-branch to give partners time to add support for watchdog on their platforms before merging into master. There should be no harm in merging it now but it will most likely be available in the next release 5.11.

If the platform you are working on already has an implementation for the API there should be no harm in pulling in the feature branch in your own repo

[2018-09-21 13:40] 0xc0170 commented on #8214
cc @mprse

[2018-09-21 13:52] 0xc0170 commented on #8207
cc @OPpuolitaival

[2018-09-21 13:57] 0xc0170 commented on #8203
the online compiler uses ARMCC (default profile) plus also prebuilt binary , therefore might be something there related.

How did you test locally @khj098765  ?

[2018-09-21 13:58] 0xc0170 commented on #8202
@OPpuolitaival

[2018-09-21 14:04] 0xc0170 commented on #6942
cc @ARMmbed/mbed-os-storage
*[Mirrored to Jira]*

[2018-09-21 14:16] #7707 closed, assigned to nobody

[2018-09-21 14:28] ciarmcom commented on #8215
ARM Internal Ref: MBOTRIAGE-1709

[2018-09-21 14:37] vidavidorra opened #8220 "STM32F405RG CCM (RAM) usage in mbed-os"
### Description
What needs to be configured in order to use the full RAM capability of the STM32F405RG (or any MCU in that family). According to the [datasheet §2.2.6](https://www.st.com/resource/en/datasheet/stm32f405rg.pdf#page=21) it has 192 KB RAM total, of which 64 KB is CCM (core coupled memory). However, when I run the [mbed-memory-status](https://github.com/nuket/mbed-memory-status) code t

[2018-09-21 14:57] LMESTM commented on #8220
@vidavidorra the 2 RAMs are not contiguous.
CCRAM base address is 0x10000000 so you cannot do what you propose.
You may want to look at the linker script, for instance here:
https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_MTS_MDOT_F405RG/device/TOOLCHAIN_IAR/stm32f405xx.icf
Te CCRAM may be used to store specific application buffers so you could specify in th

[2018-09-21 15:14] TacoGrandeTX commented on #8133
I have a feeling this is related to a mask which is used to prevent WFE from executing:  https://github.com/ARMmbed/mbed-os/issues/5647.  Let me make a PR and you can test.

[2018-09-21 15:39] mattbrown015 commented on #8201
That answered my question, thanks!

5.11 will be too late for me and I'm not yet sure whether to use STM32L4 IWDG or WWDG and how to 'tickle the dog'.  But what's in 'feature-watchdog' is good background.

[2018-09-21 15:39] #8201 closed, assigned to nobody

[2018-09-21 15:45] mattbrown015 commented on #7428
(For completeness just in case someone stumbles across this issue.)

I notice some work has been done on this now, [LoRaWAN: Refactoring compliance test code #8074](https://github.com/ARMmbed/mbed-os/pull/8074).

[2018-09-21 15:54] cmonr commented on #8064
After talking with a couple of people who are more familiar with the intended legacy behavior of `mbed test`, I think this is an issue with icetea instead of mbed-cli.

We want to enable and encourage application developers to develop their own tests, and other classes of tests should be able to support this behavior. Going to pause investigaton into root causing where the change in directory is o

[2018-09-21 16:49] pan- commented on #8206
@edablan From what I can see of the BT qualification report of softdevice 4.0, *none* of the signing features are supported whether it is on the security manager side or gatt client/gatt server side.

We tried to set the flag for CSRK if asked by the user as the API are exposed by the softdevice but it ends with a failure at runtime. .

No, signing is not mandatory, Look at `BLUETOOTH SPECIFICATIO

[2018-09-21 16:52] aashishc1988 commented on #7711
@khj098765 I ran the test on that PR and it is fixed now. Closing this one

[2018-09-21 16:52] #7711 closed, assigned to nobody

[2018-09-21 17:28] screamerbg commented on #8196
@asifrizwanubx @andreaslarssonublox

Notice that the ODIN W262 is working fine. The failures only happen on ODIN W260 (external antenna variant)

[2018-09-22 08:04] jupe commented on #8064
@cmonr could you open this a bit more, is there something we could improve in icetea side or is this related only to icetea integration work ?
*[Mirrored to Jira]*

[2018-09-22 09:32] janjongboom commented on #8184
@bcostm I know that it can be set by the application, but enabling tickless (a supported feature) mode on a NUCLEO board (a supported board) should never return in an instant hard fault. I thought this was acknowledged  and fixed in #7222. If we cannot reduce stack usage in debug builds when using tickless we should increase idle thread stack size as @jeromecoutant is suggesting (I'd rather optimi

[2018-09-22 10:50] gaborkertesz commented on #8204
I have a minor comment: The FILESYSTEM_RECOVERY-RESILIENCE_FUNCTIONAL test has been skipped a few weeks ago. Now this test is added to the compiling list from the LITTLE_FS tests. Is this intentional?

For Musca with some weeks earlier mbed master the build skipped the following tests of FILESYSTEM-LITTLEFS:
  * ARM_MUSCA_A1::ARMC6::MBED-OS-FEATURES-FILESYSTEM-LITTLEFS-TESTS-FILESYSTEM-DIRS
  * AR

[2018-09-22 18:18] stevew817 commented on #7862
Welp, sorry for being unresponsive on this one.

I guess the difference in behavior is due to a different opinion on design philosophy. From our POV, we believe calling gpio_init with pin = NC doesn't make sense, and it is the layer above that should check what it is passing into a HAL call. After all, what are we supposed to do when pin = NC? Ignore the call? Then why was the call made in the fir

[2018-09-22 21:40] cmonr commented on #8064
@jupe I think this was a mistake with the initial scope of enabling icetea t0 be runnable via `mbed test`. I don't think it was communicated anywhere that test in mbed-os should also be runable if the command is invoked from a project.

On the icetea side of things, it would be useful if it could handle being invoked from a user's project directory, not just within the mbed-os directory. The think

[2018-09-23 06:21] jupe commented on #8064
Icetea point of view there is no any restrictions like that. Icetea itself are standalone application that does not depend on mbed-os neither mbed-cli. Probably only limitations related to how integration to mbed-os/cli  are implemented - there are currently some assumptions like what you saw, but I’m pretty sure that if requirements are clear @OPpuolitaival can improve current implementation to f

[2018-09-24 04:54] Arjun765 commented on #8214
It breaks if i add one more zero.

[2018-09-24 05:47] kubazdz commented on #8197
Yes, the same on PA_5. Well it seems that something is wrong with my board, thanks

[2018-09-24 05:58] daniel-cesarini-tridonic-com commented on #8201
How will the functionalities of IDWG and WWDG be discriminated in the current Watchdog API?

[2018-09-24 06:04] vidavidorra commented on #8209
I've tested it myself and found that it indeed was possible with the `cmake_gcc_arm` exporter.

I've used a structure as follows. Note that the microcontroller manufacturer and/or family files that are already in Mbed OS (`mbed-os/targets/TARGET_STM` and `mbed-os/targets/TARGET_STM/TARGET_STM32F2`) will be used, so the custom target only needs to contain the device specific files.
[code]

As this

[2018-09-24 06:25] vidavidorra commented on #8220
@LMESTM
Thanks for your reply. Upon further investigation I see that the SRAM and CCM are in different locations ([STM32F405 datasheet H4](https://www.st.com/resource/en/datasheet/stm32f405rg.pdf#page=71)), `0x20000000` - `0x20020000` and `0x10000000` - `0x10010000` respectively.
Based on your example I think I understand how I would place the stack or heap in CCM (I use the TOOLCHAIN_GCC_ARM). Th

[2018-09-24 07:19] hasnainvirk commented on #7428
@mattbrown015 Yeah, legacy compliance test code is removed from the stack as it was not needed anymore. We have built an app which runs on a DUT and talks to any LoRaWAN certification tester. It is available as a WIP here https://github.com/ARMmbed/mbed-os-example-lorawan/commit/98c0576bafcf64e847a1a4a816aaeecc5e8fe712. This is almost a final version. It will live in the example app repository as

[2018-09-24 07:57] bcostm commented on #8197
You can try also to configure the PA_4 and PA_5 pins as `DigitalOut` to verify that you can have 3.3V. But I'm pretty sure (unfortunately) that your board is damaged...

[2018-09-24 08:08] LMESTM commented on #8220
@vidavidorra
If this is GCC toolchain, you'd have to find examples out there, like:
https://mcuoneclipse.com/2012/11/01/defining-variables-at-absolute-addresses-with-gcc/
I think this should be something like:
unsigned char __attribute__((section (".CCM"))) stack_mem_user_app[APP_STACK_SIZE];
but need to be tested and checked with your application and environment.

[2018-09-24 08:20] mprse commented on #8214
@guest253456 @jeromecoutant

Hi guys. So as far as I understand rtc reset test should fail, but it didn't.
I'm not sure why changing the `START_TIME` can help?

[2018-09-24 08:23] jeromecoutant commented on #8214
Hi

If you increase the test value, it will be OK for all STM32 families, except F1.
With #8213 it will be OK for all :-)
I can't check other MCU vendors

[2018-09-24 08:28] mprse commented on #8214
Thanks @jeromecoutant.

What value should be used and why start value has influence on persistence of RTC after reset?

[2018-09-24 08:29] 0xc0170 commented on #8204
@ARMmbed/mbed-os-storage

[2018-09-24 08:32] jeromecoutant commented on #8214
Check #8191, we found an issue whereas RTC_TEST was OK.
So this issue is just a proposition to enhance test efficiency.
Value should be today's date... (more realistic value than 50000) ?

[2018-09-24 08:48] bcostm commented on #8214
https://www.epochconverter.com/

Today is 1537778889

[2018-09-24 09:02] kjbracey commented on #8011
Is this now resolved?

[2018-09-24 09:15] mprse commented on #8214
I think it is worth to change the start value. I'll create the patch.

[2018-09-24 09:16] SeppoTakalo opened #8227 "Ublox EVK ODIN W2 does not pass WIFI-CONNECT-PARAMS-CHANNEL-FAIL test case"
### Description
Ublox EVK ODIN W2 does not pass WIFI-CONNECT-PARAMS-CHANNEL-FAIL test case.

[code]

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-24 09:19] SeppoTakalo opened #8228 "Ublox EVK ODIN W2 does not pass WIFI-GET-RSSI test case"
### Description
Ublox EVK ODIN W2 does not pass WIFI-GET-RSSI test case.

[code]

Same device is still able to pass unsecure and secure connectivity tests.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-09-24 09:24] 0xc0170 commented on #8011
Should be. I'll close it as resolved. @stevew817 in case not, please reopen

[2018-09-24 09:24] #8011 closed, assigned to nobody

[2018-09-24 09:24] 0xc0170 commented on #8227
@ARMmbed/team-ublox Please review
*[Mirrored to Jira]*

[2018-09-24 09:25] 0xc0170 commented on #8228
@ARMmbed/team-ublox Please review

[2018-09-24 09:50] asifrizwanubx commented on #8227
@0xc0170

https://github.com/ARMmbed/mbed-os/pull/7579#issuecomment-407725014

It seems me that it was due to that missed change.
*[Mirrored to Jira]*

[2018-09-24 09:53] asifrizwanubx commented on #8227
We removed that particular change, is it possible to view it from history? I havn't any local history of it. Otherwise we need some time.
*[Mirrored to Jira]*

[2018-09-24 09:58] asifrizwanubx commented on #8228
Same problem.

[2018-09-24 09:59] asifrizwanubx commented on #8196
We will soon look into it.

[2018-09-24 10:01] asifrizwanubx commented on #8196
TE_OM2-237

[2018-09-24 10:03] asifrizwanubx commented on #8227
I got it.
*[Mirrored to Jira]*

[2018-09-24 10:06] asifrizwanubx commented on #8227
TE_OM2-238
*[Mirrored to Jira]*

[2018-09-24 10:06] asifrizwanubx commented on #8228
TE_OM2-238

[2018-09-24 10:12] jamesbeyond commented on #8196
Hi, @asifrizwanubx
Just to update the latest investigation from our side. both W262 and W260 seem to have the problem the with tests. The decsrip[tion of the issue remains accurate.

[2018-09-24 11:19] 0xc0170 commented on #8227
@asifrizwanubx  the comment you referenced as I recall was about the new API added in the PR (not only updating the drivers to fix issues - as fix) ? How can this be resolved?
*[Mirrored to Jira]*

[2018-09-24 11:20] JojoS62 commented on #7949
I think shortening the Include pathes is easy. In the exporter templates, the include path is prefixed with "${ProjDirPath}/" which expands to the full include path. Changing this to "../" will shorten the path a lot, depending on the workspace location. The working directory for the build is usually always project/Build, so the relative path will work for that.
This applies to many eclipse based

[2018-09-24 11:29] jeromecoutant commented on #7407
So, there will be no update for file system tests ?

Should I push a PR with like this :

#if defined(TARGET_xxx)
    #error [NOT_SUPPORTED] Insufficient RAM size
#endif

*[Mirrored to Jira]*

[2018-09-24 11:35] OPpuolitaival commented on #8064
=> MBEDOSTEST-200
*[Mirrored to Jira]*

[2018-09-24 11:39] asifrizwanubx commented on #8227
It was related to Test Cases fix. We will soon create a new PR for test cases fix.

*[Mirrored to Jira]*

[2018-09-24 11:54] OPpuolitaival commented on #8202
Fix: https://github.com/ARMmbed/mbed-os/pull/8181

[2018-09-24 12:13] mprse commented on #8214
Patch can be found here: PR https://github.com/ARMmbed/mbed-os/pull/8230.

[2018-09-24 12:15] MateuszMaz commented on #8215
I can not reproduce this issue on current master(9d78650fccaf7debaf81d2010f30985de0ea0974) (even changed this test to perform it 20000 times). I could reproduce it when qspi_hal_test_refactoring was based on 91354184dc0282749d27cb9f6529e2a1811b7b8c (as a branch on @maciejbocianski  fork)

[2018-09-24 12:37] 0xc0170 commented on #8202
Fixed via 8181

[2018-09-24 12:37] #8202 closed, assigned to nobody

[2018-09-24 14:02] borysekm opened #8232 "Target specific .mbedignore"
### Description
I don't understand how to do some target specific .mbedignore. I'm using mbed-os-5.9 downloaded to PC and building it locally from the command line. I have custom targets defined in custom_targets.json, they are called BYZANCE_IODAG3E and BYZANCE_IODAG3E_BOOTLOADER.

I need to exclude all unnecessary folders during BYZANCE_IODAG3E_BOOTLOADER build. Those folders are:

[code]

**My

[2018-09-24 14:40] yennster commented on #7618
@janjongboom The micro:bit website specifically mentions Keil as a supported debugger with CMSIS-DAP, do you know what more information Mbed needs in order to export from Mbed to Keil? https://tech.microbit.org/software/daplink-interface/#daplink-software
*[Mirrored to Jira]*

[2018-09-24 15:07] TacoGrandeTX commented on #8133
@pjsf1000 - Here is the PR: https://github.com/ARMmbed/mbed-os/pull/8224

[2018-09-24 15:56] maclobdell commented on #7319
@c1728p9  bump
*[Mirrored to Jira]*

[2018-09-24 18:45] theotherjimmy commented on #7447
Yep. This is no longer an issue.

[2018-09-24 18:45] #7447 closed, assigned to nobody

[2018-09-24 18:46] theotherjimmy commented on #7483
We have no plans to extend `.lib` files to allow non-hash entries. Please use `mbed update <branchname>` to update your branches.

[2018-09-24 18:46] #7483 closed, assigned to nobody

[2018-09-24 18:49] theotherjimmy commented on #7482
@MarceloSalazar Nope it's not that simple. Please use `mbed test --compile` for passing extra parameters to the compiler and `mbed test --run` for passing extra arguments to the test runner (greentea in this instance).

[2018-09-24 18:49] #7482 closed, assigned to nobody

[2018-09-24 18:50] theotherjimmy commented on #7550
@OmerRosler I think this should be resolved now that `--build` is not passed as an absolute path.
*[Mirrored to Jira]*

[2018-09-24 18:52] theotherjimmy commented on #7560
I think this is resolved.

[2018-09-24 18:52] #7560 closed, assigned to nobody

[2018-09-24 19:01] theotherjimmy commented on #7613
Alright then. Closing.

[2018-09-24 19:01] #7613 closed, assigned to nobody

[2018-09-24 19:05] theotherjimmy commented on #7617
So this is resolved then.

[2018-09-24 19:05] #7617 closed, assigned to nobody

[2018-09-24 19:08] theotherjimmy commented on #7651
@Alex-EEE You cannot remove target names from the labels. This is working as designed. You may have to add an `.mbedignore` for those few files.

[2018-09-24 19:09] #7651 closed, assigned to nobody

[2018-09-24 19:21] theotherjimmy commented on #7954
@JojoS62 That's all correct info. It's really, really odd that it only affect 3 files.
*[Mirrored to Jira]*

[2018-09-24 19:26] theotherjimmy commented on #8071
@SamiLappalainenArm Could you share your python version?
*[Mirrored to Jira]*

[2018-09-24 19:32] theotherjimmy commented on #8139
@0xc0170 new support is an enhancement.
*[Mirrored to Jira]*

[2018-09-24 19:33] Alex-EEE commented on #7651
Ok, so you're basically telling me that mbed-os cannot simultaneously support two different variations of the MK22 chip?  B/c as I've pointed out, I need to get the toolchain to not use the mbed provided MK22 files, but rather, it needs to use the other MK22 folder for a custom target.

Using .mbedignore would remove the folder I don't want for ALL TARGETS.

How do I remove folders for only ONE TA

[2018-09-24 21:24] edablan commented on #8206
Do you mean softdevice 5.0? We are using Nordic softdevice 5.0 which is what is supported by the SDK14.2 that mbed uses, or is mbed using a different nordic SDK version? We do need to allow for the encryption key distribution because the windows HID over GATT driver is expecting this. I ended up adding this line in nRF5xSecurityManager::send_pairing_response() function:
[code]
this works and allow

[2018-09-25 04:56] asifrizwanubx commented on #8196
@screamerbg @jamesbeyond

It is not a hardware issue. I am also facing same failure here with the old batch of HW. In PR [6913](https://github.com/ARMmbed/mbed-os/pull/6913) they were passing but in PR [7579](https://github.com/ARMmbed/mbed-os/pull/7579) they are not and even without Access Point API commit.

It seems me some change b/w these PR's effect the test cases. I am investigating the issu

[2018-09-25 06:34] davidsaada commented on #7407
@jeromecoutant Sorry for not being responsive. On holiday vacation until 2.10.
@geky's solution seems like the most appropriate one, even if not optimal. Will implement it when I come back from the holidays. As for your suggestion, we prefer not to add target specific code to our tests right now. We'll probably revise our testing system to have a few levels of testing based on board types, but thi

[2018-09-25 07:18] AmmadRehmatCUS commented on #8227
@SeppoTakalo  I have fixed the other issue https://github.com/ARMmbed/mbed-os/issues/8228#issuecomment-423918541 but this one I am unable to reproduce. This one is passing for me every time I run this test. I am attaching my mbed_app.json file, could you please share yours so I can try with those settings.
[mbed_app.txt](https://github.com/ARMmbed/mbed-os/files/2414144/mbed_app.txt)

*[Mirrored to

[2018-09-25 08:53] jamesbeyond commented on #8196
Hi @asifrizwanubx,
The failed tests are been added by the PR #7009, which got merged between #6913 and #7579.

in PR #7009, we merged 3 feature branches of the new HAL API `us/lp_ticker`, `sleep` and `rtc` design, along with HW drivers updates from each venders. This is the point when ST updated their underneath drivers for all STM family targets. Those new tests got intriduced at same time.

[2018-09-25 08:54] SeppoTakalo commented on #8227
Then I need to re-check our test jobs.

This is the Json we use
[mbed_app.txt](https://github.com/ARMmbed/mbed-os/files/2414462/mbed_app.txt)

*[Mirrored to Jira]*

[2018-09-25 08:56] kubazdz commented on #8197
Ok, took a different board and works fine, thanks

[2018-09-25 09:12] AmmadRehmatCUS commented on #8227
@SeppoTakalo  your json file shows that your unsecure and secure AP are running on same channel. For this test to pass you need to run them on different channels.
*[Mirrored to Jira]*

[2018-09-25 09:19] asifrizwanubx commented on #8196
@jamesbeyond if they are new tests it's mean there is no previous result of them?

[2018-09-25 09:28] jamesbeyond commented on #8196
@asifrizwanubx You are right, there is no previous result for those exact tests cases

[2018-09-25 09:32] bcostm commented on #8197
Great. Can you please close this issue now ? Thanks.

[2018-09-25 09:44] SeppoTakalo commented on #8227
AH... You are correct
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/network/wifi/wifi_connect_params_channel_fail.cpp#L37

Test case has been written assuming that channel numbers are not the same.

I need to fix this.

*[Mirrored to Jira]*

[2018-09-25 09:57] screamerbg commented on #8173
@pan-

[2018-09-25 10:18] #8197 closed, assigned to nobody

[2018-09-25 10:38] maskedw opened #8240 "Is errno Thread safe?"
[X] Question
[ ] Enhancement
[ ] Bug

I think errno needs Thread local storage space, can not define a Thread local variable in CMSIS-RTOS?

[2018-09-25 10:49] M-ichae-l commented on #8124
@SeppoTakalo
I am running `mbed test -n mbed-os-tests-netsocket*`. But I did not get all testcases. So I am going to test again. One more thing, does this issue only happens on windows 10 ?

[2018-09-25 11:08] SeppoTakalo commented on #8124
It should not be host OS specific.

[2018-09-25 12:43] jeromecoutant commented on #7858
Hi @mattbrown015

Please check #8242

As explained there, I think TICKLESS mode could be enabled now with targets with lpticker_lptim set to 1.
If you choose lpticker_lptim=0, it should work as long as you don't change RTC time in your application.

*[Mirrored to Jira]*

[2018-09-25 14:28] pan- commented on #8206
@edablan I think there is a lot of confusion here. During the first phase of pairing the devices exchanges their capabilities as well as the peer's keys they are interested in and the the keys they can provide:
* Long Term Key (LTK):  The encryption key that is used to re-establish security upon re-connection.
* Identity Resolving Key (IRK): The key used to generate random addresses resolvable by

[2018-09-25 14:48] yossi2le commented on #8204
I have run the mbed test --compile -m K64F -t ARMC6 on my windows machine in a bash terminal and the compilation succeeded including skipping the K64F::ARMC6::FEATURES-STORAGE-FILESYSTEM-LITTLEFS-TESTS-FILESYSTEM_RECOVERY-RESILIENCE_FUNCTIONA test.

@gaborkertesz, I have no idea how to build the ARM_MUSCA_A1 with mbed os 5.10. its looks like  ARM_MUSCA_A1 is not a recognized target. Can you send m

[2018-09-25 14:59] deepikabhavnani commented on #8204
@yossi2le  - Its failing for on Windows machine, if path length is larger. If you increase folder levels to `mbed-os` you will see failure on master branch.

If path to mbed-os is equivalent to `C:\Users\xxxxxx02\work_mbed\xxxxxxx_xxx_xxxxxxxxx\mbed-os` failure will be encountered.

[2018-09-25 15:02] pan- commented on #8173
I believe it is not (yet) desirable to disable LESC pairing at the API level if supported by the hardware.

However I do agree that in the current form it is not ideal for sniffing. One solution would be to have a configuration parameter that forces the use of the debug key (see BLUETOOTH SPECIFICATION Version 5.0 | Vol 3, Part H - 2.3.5.6.1). That solution as the advantage of **not** altering the

[2018-09-25 16:17] edablan commented on #8173
@pan-

I tried changing the get_secure_connections_support() to not support LESC, but that didn't seem to disable support for it. It's not a big deal for me to keep my one line change to the generic layer for easier sniffing. Thanks.

[2018-09-25 16:38] cmonr commented on #7963
Closing since it's been resolved.

[2018-09-25 16:38] #7963 closed, assigned to nobody

[2018-09-25 17:02] edablan commented on #8206
@pan-

The initiator is requesting the following for key distribution:

![enc_key](https://user-images.githubusercontent.com/1463248/46029711-cfa54e00-c0b9-11e8-9267-db8d27d5be47.png)

Before I added the code mentioned above the responder (NRF52) would respond only with IdKey being set (Responder shall distribute IRK followed by its address). This would cause a windows driver error. However by add

[2018-09-25 17:04] #7541 closed, assigned to nobody

[2018-09-25 17:04] #7546 closed, assigned to nobody

[2018-09-25 17:35] gaborkertesz commented on #8204
@yossi2le ARM_MUSCA_A1 is not yet upstreamed to mbed, so you can't compile to that platform on the master branch, but ARM_CM3DS_MPS2 from our platforms produces the same issue.

[2018-09-25 17:53] aashishc1988 commented on #6895
Apparently I do not have permissions to close this issue. Someone else would need to do that.

[2018-09-25 17:53] aashishc1988 commented on #7444
This issue is fixed. I do not have permissions to close this issue (for some reason). Someone else would have to do that.

[2018-09-25 18:02] SenRamakri commented on #7444
Fixed by https://github.com/ARMmbed/mbed-os/pull/7848

[2018-09-25 18:02] #7444 closed, assigned to nobody

[2018-09-25 20:33] c1728p9 commented on #7319
This is still a problem. @mmahadevan108 I tried b53a9ea4c02fd67cb0cc94d08361e8815585b7bf as you did but it did not work for me. The K64F still hangs when I run the test with the accelerometer connected. Do you get different accelerometer readings when you shake the sensor?
*[Mirrored to Jira]*

[2018-09-25 21:45] #6895 closed, assigned to nobody

[2018-09-26 07:39] vidavidorra commented on #8220
@LMESTM I see, thanks for the reference. I'll try to test it this week, hopefully. Will post back here with results!

[2018-09-26 08:31] yossi2le commented on #8204
@gaborkertesz  I have run the command "mbed test --compile -m ARM_CM3DS_MPS2  -t ARMC6 -v" on mbed-os master branch and its skip the test you mentioned. below is the skipped test list.

Can it be that you have the MBED_TEST_BLOCKDEVICE macro enabled in your environment?

Build skips:
  * ARM_CM3DS_MPS2::ARMC6::FEATURES-CELLULAR-TESTS-API-CELLULAR_DEVICE
  * ARM_CM3DS_MPS2::ARMC6::FEATURES-CELLULAR

[2018-09-26 08:48] mattbrown015 commented on #7858
Hi @jeromecoutant,

Oh...

I need to `lpticker_lptim=0` as we sleep for minutes/hours and setting the time _accurately_ is an important part of our app.

I've got other things to worry about at the moment and I'm waiting for various PRs to merge, so it's not my most urgent concern but it will become an issue!
*[Mirrored to Jira]*

[2018-09-26 09:15] pan- commented on #8206
@edablan I tried for myself and I'm not able to reproduce your issue. The code is pretty straightforward.

First the initiator distribution flags requested by the initiator are stored:

https://github.com/ARMmbed/mbed-os/blob/a0a9b54e977d29db445cef03bcee7eb32409d90d/features/FEATURE_BLE/source/generic/GenericSecurityManager.cpp#L1155-L1156

Then when the pairing request is accepted the local distr

[2018-09-26 09:26] VeliMattiLahtela opened #8254 "Nuvoton NuMaker-PFM-NUC472 MSD flashing does not indicate failure"
### Description

When using MSD flashing this specific board does not indicate in any way that flashing has failed.
Might be due to the fact that the DAPLink version is v0201.

target: numaker_pfm_nuc472
toolchain: all
ICE firmware: 6674r

Steps to reproduce:
Compile i.e. mbed-os-blinky for target FRDM-K64F and try flashing the binary through MSD drag&drop on to the numaker_pfm_nuc472 device. Boar

[2018-09-26 09:30] samchuarm commented on #7690
Hi @0xc0170 , Realtek submitted separate  #7704 to add the support. Can we close this one as it's duplicate? Thanks.
*[Mirrored to Jira]*

[2018-09-26 09:40] bulislaw commented on #7492
If you have issues with SysTick introducing jitter to your other interrupt, it's most likely it will happen the other way if you change the priorities (your interrupt delaying SysTick). 3us is relatively short time, I'm trying to think if in this case it can accumulate and introduce bigger inaccuracies in the system over  time and I don't think so. The scheduler doesn't guarantee this kind of accu

[2018-09-26 09:41] gaborkertesz commented on #8204
@yossi2le If I run the build in c:\test\ path I got the same result as you. If I run the build my original working copy: c:\kg\repositories\mbed-os_development\ the build fails as it was described.
So basically I've just verified now what @deepikabhavnani explained.

Please test your build in a path was suggested by @deepikabhavnani !

[2018-09-26 09:42] yossi2le commented on #8204
Thanks @deepikabhavnani , I know about this issue I run it with short path on windows to check @gaborkertesz issue.

[2018-09-26 09:43] samchuarm commented on #8254
Hi @cyliangtw @ccli8 , there is an issue raised on NUC472 platform.  There is no FAIL.TXT or other indication on drag-drop flashing failure. Please help look into this and address it. Thanks.

[2018-09-26 09:46] yossi2le commented on #8204
@gaborkertesz I see what you mean. in my case, it fails to build the test with a long path. I guess this is a problem if the long path issue which tampered with the build tool. bummer:(.

[2018-09-26 09:47] M-ichae-l commented on #7690
Hi, @samchuarm
This PR can be closed and The #8014 block the #7704. #7704 can proceed instantly after #8014 merged.
Many thanks.
*[Mirrored to Jira]*

[2018-09-26 10:16] gaborkertesz commented on #8141
@deepikabhavnani Can we change this issue from question to bug?
*[Mirrored to Jira]*

[2018-09-26 11:04] screamerbg commented on #8150
CC @RobMeades

[2018-09-26 11:08] 0xc0170 commented on #7690
Let's close this as soon as MCU_ PR gets in!
*[Mirrored to Jira]*

[2018-09-26 11:45] yossi2le commented on #8198
I have created PR #8256 to fix this issue.

[2018-09-26 12:29] RobMeades commented on #8150
Looking at 27.007 section 10.1.31 `AT+CGAUTH` is an optional AT command and, since it doesn't appear in the [u-blox AT command manual](https://www.u-blox.com/sites/default/files/u-blox-CEL_ATCommands_%28UBX-13002752%29.pdf) I'm afraid that no u-blox *module* implements it; this is nothing to do with the driver, the modules do not support `AT+CGAUTH`.  We do have a proprietary command, `AT+UAUTHREQ

[2018-09-26 12:43] pan- commented on #8173
@edablan I tried it on my end and it works as expected. I wonder if you have a source/compilation issue given you've two issues I cannot reproduce.

[2018-09-26 14:41] screamerbg commented on #7246
With Mbed OS 5.10.0 out, can we close this @SeppoTakalo @0xc0170 ?
*[Mirrored to Jira]*

[2018-09-26 14:49] SeppoTakalo commented on #7246
Yes. Fixed in #7259

*[Mirrored to Jira]*

[2018-09-26 15:00] deepikabhavnani commented on #8204
@yossi2le - Long term fix for path length should come from tools, but for now is it possible to refactor storage paths and folder names to make sure we don't catch this issue too early. It is not possible for users to always work in "C:\" only

[2018-09-26 15:41] DL6AKU commented on #7674
Also interested in SDK 15
*[Mirrored to Jira]*

[2018-09-26 17:11] studavekar commented on #8044
thanks @ccli8 for the fix, tested on master and test passes.

[2018-09-26 17:11] #8044 closed, assigned to nobody

[2018-09-26 18:36] maclobdell commented on #7949
thanks for the great suggestions.  these are helpful workarounds.  Still, I'd like to see if it is possible to have an architectural solution that makes exporting to and IDE seamless.
*[Mirrored to Jira]*

[2018-09-26 18:46] maclobdell opened #8260 "Missing support for MCUXpresso IDE on key NXP platforms."
### Description

This depends on https://github.com/ARMmbed/mbed-os/issues/7949.

The following new-ish NXP platforms are not supported by the exporter for MCUXpresso.

K66F, K82F, K41Z, MIMXRT1050_EVK

NXP is supporting MCUXpresso IDE and it would be really good to add support for it for all newly added NXP MCUs.

### Issue request type
[ ] Question
[X] Enhancement
[ ] Bug

[2018-09-26 20:04] ghost commented on #7862
Thanks for the response.  For us, the specific issue stems from the fact that certain higher level drivers are designed to allow for NC pins to be specified. For example, the Semtech lora radio driver has a default argument of NC for certain pins which are optional in the driver. (https://github.com/ARMmbed/mbed-semtech-lora-rf-drivers/blob/master/SX1276/SX1276_LoRaRadio.h)

[code]
This means that

[2018-09-26 23:14] c1728p9 commented on #7492
Yes, most interrupts should be left as high priority by default. The more priority levels you use the more interrupts can stack on top of each other. With multiple priority levels the worst case stack usage is the sum of the worst case of each priority level. This can be problematic with the typical interrupt stack of 1KB.

The correct priority for mbed is typically the highest. This prevents high

[2018-09-27 01:41] khj098765 commented on #8203
@0xc0170
Online is the latest version mbed lib and local is mbed-os Rev163.
online : https://os.mbed.com/users/mbed_official/code/mbed/
local : https://github.com/ARMmbed/mbed-os/releases/tag/mbed_lib_rev163

Both online and local compiled with ARMCC.
[Local compile log file](https://github.com/ARMmbed/mbed-os/files/2422127/log.txt)
[online&local compiled bin files](https://github.com/ARMmbed/mbed

[2018-09-27 06:25] AriParkkila commented on #8150
@RobMeades thanks, I will look into this.

[2018-09-27 08:15] ashok-rao commented on #8200
@SeppoTakalo ..what do you think for the above issue?

[2018-09-27 08:19] bcostm commented on #8111
I have tested this basic example on the NUCLEO_L476RG:

[code]

mbed online compiler + mbed lib rev 163 (= mbed-os-5.9.6) : OK
mbed CLI + mbed-os-5.9.7 : OK
mbed CLI + mbed-os-5.10.0 : **FAIL**

I've got this error:
++ MbedOS Error Info ++
Error Status: 0x80020115 Code: 277 Module: 2
Error Message: Mutex lock failed
Location: 0x8006091
Error Value: 0xFFFFFFFA
Current Thread: Id: 0x20001F20 Entry:

[2018-09-27 09:02] Eman869 opened #8264 "Nucleo_STM32L476RG: Extra power consumption was detected when choosing HSI as LPUART clock source"
### Description

I had measured the power consumption in deepsleep mode on Nucleo_STM32L476. With LPUART clock source overrided with HSI clock, it is around 200uA and it is too high. I found that HSI would be enabled in STOP mode, which causes the extra power consumption. High speed clock should be disabled during deepsleep mode. Here is the mbed_app.json which override the LPUART clock source.

m

[2018-09-27 09:16] kubazdz opened #8265 "Transfering data using SPI and SPI Slave issue"
### Description

Hi, I'm trying to make a simple program in mbed using two nucleos l432kc as a SPI master and slave. I want to send two floats from master to slave, multiply it by slave, and return result. Everything works fine except for returning result and after lot of debugging I can't find where the issue is.

Master:

[code]

Slave:
[code]
Output:

![obraz](https://user-images.githubusercont

[2018-09-27 09:22] screamerbg commented on #8220
@vidavidorra Please confirm your findings and close the ticket if resolved

[2018-09-27 09:32] SeppoTakalo commented on #8200
How long did it then take on this platform?

@mikaleppanen What do you think, is 600 seconds not enough?

[2018-09-27 09:34] SeppoTakalo commented on #8200
I'm okay with the idea of rising the timeout if its not way too long.
We are generally not expecting any defined speed or performance from the devices.

So if somebody sends a PR with test report that shows that this device was able to pass, I'm happy to accept.

[2018-09-27 09:46] mikaleppanen commented on #8200
For K64F ethernet it takes 84.17 seconds. I'm also ok with raising the timeout if the device ethernet speed is such that 600 seconds is not enough.

[2018-09-27 09:50] mattbrown015 opened #8267 "Overriding 'exit' to Create Immediate and Unconditional System Reset"
### Description
The device we're working on is remote.  If anything goes wrong we really just want it to restart/reset.

We know we can provide a new definition of `mbed_die` because it is declared `WEAK`.

`mbed_die` is called conditionally by '_exit' which is called by `__wrap_exit`.

We would like to make `__wrap_exit`, or `_exit`, just call `system_reset`.

_But_, AFAICT, we can't provide our

[2018-09-27 10:05] SeppoTakalo commented on #8200
@kapi90 Can you share the Ethernet driver with us?
Perhaps send a PR.

Within the 5.9 timeframe all ethernet drivers have been refactored and outdated dropped. By that time, nobody was working with the CM3DS, so it got dropped.

If you have ported the driver to new EMAC API we are happy to review and test it.

[2018-09-27 10:18] ciarmcom commented on #8267
ARM Internal Ref: MBOTRIAGE-1721

[2018-09-27 10:40] pan- commented on #8267
@mattbrown015 `__wrap_exit ` is specific to GCC and not defined for other compilers. Could you explain why overriding `mbed_die` in't enough for your use case ?

[2018-09-27 10:49] mattbrown015 commented on #8267
Hi @pan-,

AFAICT, a call to `exit(0)` won't call `mbed_die`.

I don't think `exit(0)` is ever called but I don't want to take the risk.

If I turned a watchdog on it would/could cause while spinning in `exit`.

I might just provide a `mbed_die` definition, it's simple, but I'm also trying to consider all scenarios.

[2018-09-27 11:10] pan- commented on #8267
You're correct, `exit(0)` won't call `mbed_die`.

Looking at the current code, `exit` behaviour is not really well defined as an example, running threads are not cleaned up and other things are happening which are not fully standard to save resources.

That would be useful to have termination as defined as the boot process is and includes valuable extension points.

@bulislaw @kjbracey-arm @c1728p

[2018-09-27 11:21] fduignan commented on #8217
As of today, the online mbed for the bbc microbit appears to be completely borked.  Compiling the basic blinky results in:
Error: The build system did not finish successfully.  Error number -230.
Previously working programs (presumably with older library versions) compile successfully but appear to crash during boot.
I have not yet managed to successfully select an older library and compile a proj

[2018-09-27 11:44] fduignan commented on #8217
More information: I'm suspecting an incorrect linker script in the online mbed compiler setup.
If I look at the (Intel) Hex file output from the compiler for a new program I seen entries like this:
:020000040001F9
:108000000040002099810100AB810100AD81010099
If I look at the hex output for a file I compiled a week or so ago I see this:
:020000040000FA
:10000000C0070000D1060000D1000000B1060000CA
Thi

[2018-09-27 12:04] jeromecoutant commented on #7350
Good idea would be also a STM32L4 board :-)
*[Mirrored to Jira]*

[2018-09-27 12:12] kjbracey commented on #8267
To be 100% solid here, you would want a watchdog; and you'd make sure exit did actually trigger it.

You should also be able to force an immediate reset with `NVIC_SystemReset`.

There are a bunch of issues about what to do on shutdown, and we tend to actually want to try to skip standard behaviour, to reduce image size - eg I'd be inclined to skip calling destructors to save static objects pullin

[2018-09-27 12:16] kivaisan commented on #8080
@marcemmers Make an own cellular target which inherits QUECTEL_BC95. In your new target just override those methods where you need to use your specific AT commands.
Then just define `CELLULAR_TARGET `as your new cellular target.

Somethings like this:
[code]
[code]
[code]
[code]

*[Mirrored to Jira]*

[2018-09-27 13:37] theotherjimmy commented on #8185
It looks like the whole driver should be guarded with `#if defined(DEVICE_I2C)` or similar.
*[Mirrored to Jira]*

[2018-09-27 13:41] theotherjimmy commented on #8204
@deepikabhavnani Hi! So this is on me and @cmonr to fix then.

[2018-09-27 15:08] jeromecoutant commented on #8215
Hi
I also tried to reproduce the issue (master branch), but I couldn't... :-(

[2018-09-27 15:20] #7701 closed, assigned to deepikabhavnani

[2018-09-27 15:46] mattbrown015 commented on #8267
We've been thinking about this today and have decided to provide our own definition of `mbed_die` that simply calls `system_reset`.

We think this means `MBED_ASSERT`, `exit(1)` and `abort()` will all result in a reset.

`exit(0)` will result in a spin. This isn't ideal for our application but feels like the correct default approach for a library like Mbed OS.

Whether or not Mbed OS should provid

[2018-09-27 16:02] edablan commented on #8206
@pan-

Here are screen shots of pairing request and pairing response using a clean mbed-os-5.10.0 (610e35ddc)

PAIRING REQUEST:
![pairing_request](https://user-images.githubusercontent.com/1463248/46158365-53d70d00-c243-11e8-9912-e3585432a94f.png)

PAIRING RESPONSE:
![pairing_response](https://user-images.githubusercontent.com/1463248/46158932-977e4680-c244-11e8-8aa1-cb211e233f09.png)

As you can

[2018-09-27 16:17] SenRamakri commented on #8267
Hi @mattbrown015,
When something goes wrong, the system should either crash(like hardfault) or call the error routine.
Currently all such fatal system errors are routed though mbed_error() call (or error() call in some legacy cases). Both of them will end up calling an application hook if one is registered by the application. So, my suggestion is to use an application specific hook to catch the er

[2018-09-27 17:33] edablan commented on #8206
@pan-

The best way to see what is going on with the ENC bit is to follow the stack, and the underlying issue which I think might be the soft device. I used mbed os-5.10.0 (610e35ddc).

I set a break point in the nRF5xSecurityManager::send_pairing_response() function after the security parameters have been created. I simply try to pair the device and the break point is hit. This contains the initi

[2018-09-27 17:54] mmahadevan108 commented on #7611
uSDHC does not support SPI mode. Are there plans to support non-SPI controllers inside mbed-os SDDriver?
*[Mirrored to Jira]*

[2018-09-27 18:46] mmahadevan108 commented on #7319
I don't see the sensor readings change, always prints X, Y, Z to be 153. I am using the example main file that is attached.

I have confirmed the accelerometer on the board works via a different test app.
*[Mirrored to Jira]*

[2018-09-27 19:55] JojoS62 commented on #7611
I have started some work on a SDIOBlockdevice, see issue #6384. There is also a link to my fork with some code for a STM32F4 implementation. I've used the STM HAL, but in an additional layer. This could be common to fit also for other targets. The functions are basc read/write/ease and infos. There is a reference to a HAL structure that needs to be removed.

*[Mirrored to Jira]*

[2018-09-27 21:00] edablan commented on #8173
@pan-

I can confirm using a clean version of mbed-os-5.10.0 (610e35ddc) and changing the lines as suggested  works. I can turn off LE secure connections. Here was the suggested change:

[code]

[2018-09-27 22:19] pan- commented on #8206
@edablan Many thanks for the detailed report; that is scary.

Could you provide us:
- The name of the Nordic example that works.
- Your mbed OS security manager configuration (the one passed to the initialisation of the security manager).
- Your version of IAR
- The reference of the Bluetooth controller used on windows
- Indicate if you have modified softdevice memory provisioning or used the defa

[2018-09-27 23:07] edablan commented on #8206
@pan-

- Nordic example from SDK14.2 using the ble_app_hids_mouse example: nRF5_SDK_14.2.0_17b948a\examples\ble_peripheral\ble_app_hids_mouse

-
[code]
Also, I have set up the following security requirements in my BLE HID service class constructor as follows:
[code]

- IAR EWARM 7.80.4.12495

- softdevice memory provision used is the default settings provided by mbed. The following is the linker f

[2018-09-27 23:17] #8173 closed, assigned to nobody

[2018-09-28 01:28] toyowata commented on #6975
# Step to reproduce by offline build tool

[code]
# Build error log

[code]

It seems that the linker script couldn't find the `mem_RZ_A1LU.h` include file.  The header file copied to the path below, but not in the same path of the linker script.

[code]

I locally modified the script file as attached (remove inclusion form the script file and add macros) and I didn't get the build error.

[MBRZA1

[2018-09-28 02:23] ccli8 commented on #8254
@VeliMattiLahtela @samchuarm NuLink is proprietary and doesn't design with DAPLink baseline. For false positive flash result, would you provide related DAPLink approach? Our NuLink team could follow it to fix the issue in NuLink.

[2018-09-28 09:18] vidavidorra commented on #8220
@screamerbg Yes, I'll do that. Most likely I have no time for it today, so next week.

[2018-09-28 09:26] ConductedForce opened #8277 ""missing mbed_config.h""
**Problem**: make complains of "missing mbed_config.h" file. Makefile build fails.

**How to reproduce**:
Import Mbed library from github.
Export project using Make_GCC_Arm toolchain (Mbed Online Compiler).

**Workaround**:
This line in the ASM flags section:
`ASM_FLAGS += /filer/workspace_data/exports/1/14a3ae37f9afc4a0299b9a8b5904f796/MyEmbeddedProject/mbed_config.h`
seemed to be the problem.

I

[2018-09-28 11:42] fkjagodzinski opened #8278 "Low power ticker wrapper layer still used when suspended"
### Description

The `LowPowerTickerWrapper` class is still used to handle lp ticker overflows even after it has been disabled with a call to `lp_ticker_wrapper_suspend()`.

https://github.com/ARMmbed/mbed-os/blob/f1587b50d7d1e36e3536a88dd92884029a1f4f10/hal/mbed_lp_ticker_wrapper.h#L52-L57

As a result, the us ticker which is used internally by the wrapper, periodically locks deepsleep sleep mode

[2018-09-28 12:45] mattbrown015 commented on #8267
Hi @SenRamaki,

We're getting off the point now but it's interesting (well I think so)...

We haven't embraced [error handling](https://os.mbed.com/docs/v5.10/apis/error-handling.html), in part at least, because it wasn't so visible when we started our project back in V5.9.  We have used `MBED_ASSERT` a great deal.  I think it is too late for us to change our coding practices now.

The LoRaWAN sta

[2018-09-28 15:21] mattbrown015 commented on #8267
I meant to click 'Close' with my previous comment!

[2018-09-28 15:21] #8267 closed, assigned to nobody

[2018-09-28 22:18] janjongboom commented on #7618
No idea, the nrf51 which the micro:bit is based off works, so I don't see any reason why this shouldn't work. @theotherjimmy ?
*[Mirrored to Jira]*

[2018-09-29 07:08] toyowata opened #8282 "Mbed 2 BLE devices could not build by online IDE"
### Description
Reported here: https://os.mbed.com/forum/ja/topic/33299/

I got build error below when I used Mbed 2 BLE devices.

[code]

All board below failed to build by mbed_blinky example.

* HRM1017
* nRF51822
* Wallbot BLE
* BBC micro:bit

It seems all boards below failed to build:
https://os.mbed.com/platforms/?mbed-os=17&connectivity=3

### Issue request type

[ ] Question
[ ] Enhancemen

[2018-10-01 08:17] 0xc0170 commented on #8282
cc @ARMmbed/mbed-os-pan @ARMmbed/mbed-os-tools

[2018-10-01 09:00] maciejbocianski commented on #8215
I also tested today on latest master on all compilers and cannot reproduce.

[2018-10-01 09:00] #8215 closed, assigned to nobody

[2018-10-01 09:29] mattbrown015 opened #8285 "LoRaWAN: Incorrect Handling of Repeated Calls of 'send' and 'cancel_sending'"
### Description
We managed to generate the following assertion from the LoRaWAN stack:

We use a sensor to trigger samples and a small problem with a sensor resulted in many events occurring in quick succession.  While I appreciate we probably should guard against this in our app I feel the LoRaWAN stack should have handled it better.

We call `LoRaWANInterface::send` at regular intervals or after

[2018-10-01 09:35] hasnainvirk commented on #8285
@mattbrown015 Let me have a look at it. I will try to reproduce it and get back at you.
*[Mirrored to Jira]*

[2018-10-01 09:37] hasnainvirk commented on #8285
@mattbrown015 Meanwhile, could you please rebase your work with this on top  https://github.com/ARMmbed/mbed-os/pull/8183 ? I am not entirely positive that it would solve your issue, but this does try to eliminate a few inconsistencies.  Please let me know if you can still reproduce the issue.
*[Mirrored to Jira]*

[2018-10-01 10:14] mattbrown015 commented on #8285
I've just updated to the latest master but it didn't help.

To reproduce the problem I created a loop around our normal 'send' code which I believe means I'm effectively doing this:
[code]
Making the loop repeat 32 times causes the assert because 32 is the size of the event queue.
*[Mirrored to Jira]*

[2018-10-01 10:50] Arjun765 opened #8287 "MbedCRC: buffer should be const void *"
### Description

The following buffer should be `const void *`
`int32_t compute(void *buffer, crc_data_size_t size, uint32_t *crc)`
`int32_t compute_partial(void *buffer, crc_data_size_t size, uint32_t *crc)`

### Issue request type

[ ] Question
[x] Enhancement
[ ] Bug

[2018-10-01 11:49] 0xc0170 commented on #8217
The latest report is another issue (linker issue?). Looking at the history of files for microbit (https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_NORDIC/TARGET_MCU_NRF51822) no change for some time. Neither in the target definition (targets.json) file.

I would suspect a change in tools rather
*[Mirrored to Jira]*

[2018-10-01 11:50] 0xc0170 commented on #8217
@c1728p9 Can you review `__heap_base` heap base error?
*[Mirrored to Jira]*

[2018-10-01 12:09] 0xc0170 commented on #8264
cc @ARMmbed/team-st-mcd
*[Mirrored to Jira]*

[2018-10-01 12:10] 0xc0170 commented on #8265
@ARMmbed/team-st-mcd Can you review? Is this HAL related issue?

[2018-10-01 14:09] vidavidorra commented on #8220
@LMESTM I've tested this today and got it to compile successfully. Flashing however doesn't succeed. I've tried placing the `.myBufBlock` section as first thing in my sections and as last as well, but both with the same result. I have also tested without defining the address (`0x10000000`) in the `.myBufBlock` section.

I can also see with `arm-none-eabi-nm` that the linker puts my memory (`test_m

[2018-10-01 14:11] 0xc0170 commented on #8287
cc @deepikabhavnani

[2018-10-01 14:31] jeromecoutant commented on #8264
Should be fixed by #8264

*[Mirrored to Jira]*

[2018-10-01 14:58] 0xc0170 commented on #8264
#8284
*[Mirrored to Jira]*

[2018-10-01 15:08] RobMeades opened #8289 "NRF52832, BLE and creating a non-initialised linker region with ARM toolchain"
### Description

I need to create a region of RAM that is not initialised at power-on (to contain logging data that must survive across a reset).  I can do this with `GCC_ARM` and `IAR` but have completed failed to make it work with `ARM` toolchain.  Could the merge process to bring together APP and non-APP images be somehow affecting the way my image is being initialised?

I have made my own scat

[2018-10-01 15:13] jeromecoutant commented on #8184
Hi

For information, I am currently testing TICKLESS feature with NUCLEO-L476RG.
Tests are OK in default mode, but often crash in Stack overflow as soon as I added some stats (MBED_CPU_STATS_ENABLED in my case)...

Maybe ARM core experts can double check ?

Thx

[2018-10-01 15:14] aidanoconnor opened #8290 "Nucleo_blink_led example export to Embitz for Nucleo-F411RE fails to build"
### Description

Created new program in mbed online compiler using Nucleo_blink_led template for target NUCLEO-F411RE and exported to EmBitz v1.11. Build failed in EmBitz as preprocessor syntax in linker script not recognized.

[code]
[code]

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-01 15:18] jeromecoutant commented on #8290
Hi
I don't know EmBitz, but I got a question about this part :

See https://os.mbed.com/docs/v5.10/tools/index.html
GCC version should be 6.x

[2018-10-01 16:34] aidanoconnor commented on #8290
@jeromecoutant Thanks for pointing out the version requirement.

I have re-checked with GCC v6.3.1 with the same results.
I think if the linker script uses the preprocessor it would have to be invoked manually as a separate build step.

[code]

[2018-10-01 16:55] #8254 closed, assigned to nobody

[2018-10-01 16:56] #8220 closed, assigned to nobody

[2018-10-02 01:28] coisme opened #8293 "[ESP8266] What firmware versions are supported in Mbed OS?"
### Description

I'm trying to use ESP8266 with Mbed OS 5.10. The [README.md](https://github.com/ARMmbed/mbed-os/blob/master/components/wifi/esp8266-driver/README.md)  says:

However, [the Update guide](https://os.mbed.com/teams/ESP8266/wiki/Firmware-Update) doesn't include information about supported firmware versions. What firmware versions are supported in Mbed OS 5.10?

### Issue request type

[2018-10-02 06:32] hasnainvirk commented on #8285
@mattbrown015 I am unable to reproduce the issue. Please note that I am using Mbed OS master with #8183 on top of it. Here is the output with the loop you mentioned in the previous comment :

[code]
*[Mirrored to Jira]*

[2018-10-02 06:36] samchuarm commented on #8124
Hi @M-ichae-l , do you have update for running the tests?

[2018-10-02 07:06] 0xc0170 opened #8294 "LPC546XX: hard faults in various tests"
### Description

LPC546XX-GCC_ARM.tests-netsocket-tcp.TCPSOCKET_ECHOTEST_NONBLOCK (from LPC546XX-GCC_ARM) test :

[code]

LPC546XX-ARM.tests-netsocket-tcp.TCPSOCKET_ECHOTEST (from LPC546XX-ARM) test:

[code]

These 2 failures happened in the last builds (we counted 5x the first non block, 4x the second one).

Aside from networking tests, also ticker test hard faults

LPC546XX-GCC_ARM.tests-mbed_dr

[2018-10-02 07:33] hasnainvirk commented on #8285
@mattbrown015 One more thing, your loop actually spins and blocks your main thread. Please note:
[code]
in LoRaWANInterface class. All the user facing APIs are scope locked. The fact that our stack and application run in the same thread gives us great flexibility and minimal footprint in terms of RAM but it does have some inherent limitations. Nothing should sit around and keep the thread occupied

[2018-10-02 07:53] M-ichae-l commented on #8124
Hi @samchuarm, @AdamZhang0124 is currently taking over this issue. We have tested that it is not hosted OS specific.

[2018-10-02 08:10] jeromecoutant commented on #8184
@0xc0170 @deepikabhavnani

[2018-10-02 08:11] mattbrown015 commented on #8285
Hi @hasnainvirk,

The real app doesn't loop like my example and the example is simplified in comparison to what I actually did.  The real app uses a `InterruptIn` which offloads to an event queue before eventually ending up in the layer that calls `LoRaWANInterface::send`.  I started looking at this when we accidentally fired the `InterruptIn` too much.

I think what I'm describing is heavily timi

[2018-10-02 08:18] AriParkkila commented on #8195
@lauri-piikivi please see PR #8295

[2018-10-02 08:21] hasnainvirk commented on #8285
@mattbrown015 If the id of the back_off timer is zero, it means transmission may have already taken place or there was nothing in the queue to start with. Here the error code was ambiguous which you rightly pointed out. I changed the return code from LORAWAN_STATUS_OK to LORAWAN_STATUS_NO_OP. This would stop it from marking the ongoing_tx as false. No-op would mean I can't complete operation at th

[2018-10-02 08:43] mattbrown015 commented on #8285
@hasnainvirk Ah, sorry, I've just realised that  [#8183](https://github.com/ARMmbed/mbed-os/pull/8183) hasn't been merged yet; I wasn't paying attention yesterday!  I'll try and have another look at this today but I'm pretty sure you and me are in the same boat as regards having a number of issues to work on all at the same time!  Thanks. :-)
*[Mirrored to Jira]*

[2018-10-02 08:47] hasnainvirk commented on #8285
:) @mattbrown015 It's my pleasure fixing issues with you :)
*[Mirrored to Jira]*

[2018-10-02 08:49] jeromecoutant opened #8296 "CI: update STLINK FW firmware upgrade version tool"
### Description

CI log extract:

[code]

Please update FW version to  **2.32.22**

https://www.st.com/en/development-tools/stsw-link007.html

@schstm @bcostm

Thx

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-02 08:49] pan- commented on #8133
So we solved the issue. It is **not** related to #8224 nor the event queue on mbed-os 5.10 (other versions may have their own issues). Turns out the arm compiler is at fault here as it initialised the default serial port before main.

We validated that assumption by making [get_console](https://github.com/ARMmbed/mbed-os/blob/232543ac4b4929a2b222e5699bdb6b4e941927f2/platform/mbed_retarget.cpp#L278

[2018-10-02 08:50] 0xc0170 commented on #8296
Thanks @jeromecoutant for the report. I'll pass this to the test team

@ARMmbed/mbed-os-test-team

[2018-10-02 09:06] 0xc0170 commented on #8133
I recall this issue in earlier versions. This is related https://github.com/ARMmbed/mbed-os/pull/2466 (we looked previously at this and ARMCC is different as noted). Previously was fixed by lazy initialization that was breaking. As retarget and filehandles were refactored, we might find something better this time 🤞

[2018-10-02 09:24] kjbracey commented on #8294
Looked into this a bit. On the run I looked at (the first one above, I think), the crash is due to branching to address 0 from inside `osMutexRelease`, acting on `mem_mutex` in lwIP.

[code]

We've apparently returned from the SVC call, so it seems likely we've just popped 0 into PC from the stack. So the stack has been overwritten, or we overflowed, during this mutex release.

The mutex is lwIP's

[2018-10-02 09:43] 0xc0170 opened #8297 "CI Exporters: failing uvision5"
### Description

One of the jobs that recently failed, different targets, same toolchain (uvision5):
http://mbed-os.s3-website-eu-west-1.amazonaws.com/?prefix=builds/exporter/8072/ . From this report is obvious it started building  but failed somewhere. From CI logs, there is a traceback, more investigation needed. Please review the exporters log.

@ARMmbed/mbed-os-maintainers @ARMmbed/mbed-os-tes

[2018-10-02 09:44] vidavidorra commented on #8220
Not sure why this was closed already, but I've got everything working now.
Turns out that I needed to mark the section as `NOLOAD` to ensure that its uninitialised and not part of the output files of the linker. After that I could flash it as normal.

[2018-10-02 09:45] vidavidorra commented on #8220
For reference and anyone that has the same problem here is a small document I wrote during my research and for future reference.

# Define sections in linker file

The linker needs to know what memory areas are present in the device and where those are. Additionally, specific memory sections can be defined to be used in the application code.

## Memory mapping

The memory mapping used in this docu

[2018-10-02 09:48] jeromecoutant commented on #8220
Hi
Fell free to push your new target in targets/TARGET_STM/TARGET_STM32F4/
Thx

[2018-10-02 09:56] vidavidorra commented on #8220
@jeromecoutant I'm currently on mbed-os 5.9.0 and added my targets a fork we maintain there. I want to update to mbed-os 5.10.0 and than define the targets there. I've also written a document on how to create custom STM32 targets because I couldn't find a good resource for that myself in the Mbed OS docs. I'll create a new ticket for that later because I'm missing information on how to create some

[2018-10-02 10:22] samchuarm commented on #8124
Thanks @M-ichae-l . @AdamZhang0124 , are you able to reproduce the issues now?

[2018-10-02 10:23] samchuarm commented on #8081
Adding @AdamZhang0124
*[Mirrored to Jira]*

[2018-10-02 10:32] hasnainvirk commented on #8285
@mattbrown015 Could you please try this out https://github.com/ARMmbed/mbed-os/pull/8299 ?
*[Mirrored to Jira]*

[2018-10-02 10:34] #8078 closed, assigned to MarceloSalazar

[2018-10-02 10:35] #8070 closed, assigned to nobody

[2018-10-02 10:36] mattbrown015 commented on #8285
Yes.  I'll try now.
*[Mirrored to Jira]*

[2018-10-02 10:36] #8027 closed, assigned to nobody

[2018-10-02 10:39] #8028 closed, assigned to nobody

[2018-10-02 10:39] #7972 closed, assigned to nobody

[2018-10-02 10:40] #7956 closed, assigned to nobody

[2018-10-02 10:42] #7885 closed, assigned to nobody

[2018-10-02 10:44] juhoeskeli opened #8300 "Configuration options for STM_EMAC buffer counts"
### Description

On boards (e.g. NUCLEO_F207ZG) where there is only 128kB of RAM it can be quite a tight fit in some cases. One place where it is possible to achieve memory savings is EMAC driver. There the TX and RX buffer counts can be adjusted with little to no ill effects but still significant memory savings (relative).

I did the following manually:

`diff --git a/targets/TARGET_STM/TARGET_ST

[2018-10-02 10:59] #7841 closed, assigned to nobody

[2018-10-02 11:02] mmahadevan108 commented on #8294
@kjbracey-arm There an updated DAPLink firmware available that fixes a bug where the entire binary was not getting programmed to flash.
https://github.com/ARMmbed/DAPLink/commit/3ae822fa850f2f075d9cffb4982de49f36527c76

The Updated interface firmware for LPC546XX is available at the below link:
https://os.mbed.com/teams/NXP/wiki/Updating-LPCXpresso-firmware

Can you please update and check if this

[2018-10-02 11:03] OPpuolitaival commented on #8296
@jeromecoutant From where the CI log is copied? We can put this in our CI upgrade process but it may take some time because of some validation steps. Is there something that need more speed with upgrading?

[2018-10-02 11:12] 0xc0170 commented on #8297
This is from CI

[code]

@OPpuolitaival @studavekar @theotherjimmy  Any suggestions?

I can't reproduce this locally (using the same example_lib command I get 9 errors). I suspect this might be due to cmsis pack, so checking uvision5 export:

`mbed export -m DISCO_L475VG_IOT01A -i uvision5` , using uvision 5.24 - it requests device pack that I have installed. Once I install, still complains that L

[2018-10-02 11:12] #7682 closed, assigned to nobody

[2018-10-02 11:13] #7680 closed, assigned to nobody

[2018-10-02 11:13] jeromecoutant commented on #7328
Thx

[2018-10-02 11:13] #7328 closed, assigned to nobody

[2018-10-02 11:14] #7597 closed, assigned to nobody

[2018-10-02 11:16] 0xc0170 commented on #8297
Looking at this closer - STM32L4xx DFP 2.0.0 is requested for me locally and does not fit the target definiiton in case for L475. Looking at other failures, all failures we have now in CI are related to this DFP. Did something corrupt since the update - cmsis pack was updated yesterday

I suspect  this is related to cmsis pack and exporters now fails due to it. Although not all L4 are affected so

[2018-10-02 11:17] jeromecoutant commented on #7153
Quick status:
Waiting for #8219 #8223 #8242 #8184 #8286 #7582 #8279 #7849
*[Mirrored to Jira]*

[2018-10-02 11:17] 0xc0170 commented on #8297
@ARMmbed/mbed-os-test Need to review this one ticket IOTTESTINF-3857

[2018-10-02 11:21] 0xc0170 commented on #8297
I have this locally

![image](https://user-images.githubusercontent.com/2963726/46345735-93d03280-c63d-11e8-8e07-1c79b3fff20a.png)

Still uvision 5.24 complains if I export DISCO_L475VG_IOT01A  - cant set the target. The cmsis pack date is really old, what did break here?

[2018-10-02 11:36] bcostm commented on #8297
Yes it works for me. I have the same L4 pack version as you.

[2018-10-02 11:40] mattbrown015 commented on #7695
I was deliberately leaving this issue open because it is still an issue for me.

The are a number of PRs relating to the RTC stuck in the pipeline I'm hoping they will fix this.  If they don't it will need investigating further.

Everyday I think the PRs are about to be merged and everyday they get put back; this is tricky stuff but fingers crossed they are nearly ready! :-)

[2018-10-02 11:41] 0xc0170 commented on #8297
![image](https://user-images.githubusercontent.com/2963726/46346428-ec083400-c63f-11e8-87ff-337af7f1e31f.png)

![image](https://user-images.githubusercontent.com/2963726/46346445-f9bdb980-c63f-11e8-83a0-b34eac735563.png)

![image](https://user-images.githubusercontent.com/2963726/46346459-06daa880-c640-11e8-90e2-025c63dc8d3f.png)

Are you able to build the blinky project? From the targets taht fai

[2018-10-02 11:42] jeromecoutant commented on #7695
@adbridge please reopen this issue
Thx

[2018-10-02 11:51] mattbrown015 commented on #8285
@hasnainvirk I tried [#8299](https://github.com/ARMmbed/mbed-os/pull/8299) by repeating the original problem of firing loads of digital inputs events and and the LoRaWAN stack held up much better! :-)

Unfortunately eventually I hit another assertion related to being unable to add an event to the event queue.  I'll have a look but appreciate that what I'm doing isn't really a use-case for the LoRa

[2018-10-02 12:01] hasnainvirk commented on #8285
@mattbrown015 Good to hear that. At least we are moving forward. We need to be careful while queuing events in response to interrupts as interrupts happen at much faster rate as compared to 1ms long precision of Event Queue. Ofcourse you can increase MAX_NUMBER_OF_EVENTS to get a bit larger space for your event queue but it's not scalable by any means. I would recommend to use a separate queue for

[2018-10-02 12:33] OPpuolitaival commented on #8296
Internal ticked id: IOTTESTINF-4071

[2018-10-02 13:00] adbridge commented on #7695
This was closed internally hence this was closed accordingly. If this is still an issue we'll re-open.

[2018-10-02 13:02] #7470 closed, assigned to nobody

[2018-10-02 13:03] #7464 closed, assigned to nobody

[2018-10-02 13:06] jeromecoutant commented on #7457
@adbridge Why do you close this issue ?

[2018-10-02 13:11] adbridge commented on #7457
@jeromecoutant it's our new automated script reflecting the internal defect status. We are updating our automation to be smarter. Once the update has completed please re-open any issues  that are still relevant (adding a suitable comment) and this will re-open the internal issue also.

[2018-10-02 13:14] jeromecoutant commented on #7457
Please re-open this one...

[2018-10-02 13:16] jeromecoutant commented on #7457
Action is still ARM side

[2018-10-02 13:41] 0xc0170 commented on #8294
@mmahadevan108 The fix you referenced was only for images >256k or also smaller images might be affected ? Because our test images we do in morph test are not that big.

[2018-10-02 13:56] #7310 closed, assigned to nobody

[2018-10-02 13:57] #7232 closed, assigned to nobody

[2018-10-02 13:57] #7213 closed, assigned to nobody

[2018-10-02 13:57] #7204 closed, assigned to nobody

[2018-10-02 13:59] #7115 closed, assigned to nobody

[2018-10-02 14:00] kjbracey commented on #8294
The ticker crash is a bit inconclusive. The microsecond timer event head (in `events` from mbed_us_ticker_api.c) is corrupt.

Can't see any flaw in the `Ticker` test or `Ticker` itself. The tests are a big aggressive at creating `Ticker`s on the stack and expecting the destructor to clean up, but looks like it should be working.  Only quirk I see is that `TimerEvent::remove` gets called twice via

[2018-10-02 14:01] #6979 closed, assigned to nobody

[2018-10-02 14:30] #6843 closed, assigned to nobody

[2018-10-02 14:31] OPpuolitaival commented on #8120
I think that this is resolved now

[2018-10-02 14:32] theotherjimmy commented on #7155
@TomoYamanaka The issue with `mbed_config.h` including filer paths is gone.

[2018-10-02 14:35] 0xc0170 commented on #8297
Attaching uvision build log, using `python -u ./mbed-os/tools/test/examples/examples.py export uvision5 --mcu DISCO_L475VG_IOT01A` command (having mbed-os latest master, plus blinky in the same folder , from this folder run this script):

[build_log.txt](https://github.com/ARMmbed/mbed-os/files/2438311/build_log.txt)

[2018-10-02 14:35] theotherjimmy commented on #7155
And the `compute_exclusions` bug is still there.

[2018-10-02 14:46] c1728p9 commented on #8278
This may not be a bug with the low power ticker wrapper. To prevent interrupts you'll need to disable all the users of the LowPowerTicker wrapper before you suspend the low power ticker wrapper, otherwise the behavior is undefined. In this case its the common ticker layer which is still active and causing the interrupts you are seeing. If you suspend the common layer with a call to `ticker_suspend

[2018-10-02 15:09] theotherjimmy commented on #7155
See #8303 for the `compute_exclusions` fix.

[2018-10-02 15:32] theotherjimmy commented on #7614
This is currently fixed. Try exporting again.

[2018-10-02 15:32] #7614 closed, assigned to nobody

[2018-10-02 15:38] bcostm commented on #8297
I have the same "Device not found" error when the project is loaded. I have selected the STM32L475VG**Tx** in the Options>Device tab and the build was OK.

But I don't have the "__UVISION_VERSION SETA 524" error ? I use uvision V5.24.2.0.

[2018-10-02 15:40] 0xc0170 commented on #8297
If I fix the MCU, build is OK. If I don't I get that error .this is however locally , still does not fully explain what is going on with L4 targets in export and why they started failing. PR 8301 shows that process fails and returns windows error.

[2018-10-02 15:47] aashishc1988 commented on #7484
@RobMeades , thoughts?
*[Mirrored to Jira]*

[2018-10-02 15:58] jeromecoutant commented on #7397
@ARMmbed/mbed-os-hal Can you review these requirements?
*[Mirrored to Jira]*

[2018-10-02 16:00] jeromecoutant commented on #7997
Hi, maybe same issue as #8184 ?
*[Mirrored to Jira]*

[2018-10-02 16:08] c1728p9 commented on #8133
Just creating a serial port or console object shouldn't increase current draw. The uart (and its high current draw) should only be active under the following conditions:
1. Data is being synchronously written to serial port/console - `serial_putc`
2. *Data is being synchronously read from a serial port/console - `serial_getc`
    - Some applications actually expected the serial receiver to be alwa

[2018-10-02 16:22] #8195 closed, assigned to nobody

[2018-10-02 16:22] #8120 closed, assigned to nobody

[2018-10-02 16:24] theotherjimmy commented on #8217
https://github.com/ARMmbed/mbed-os/pull/8305 fixes this for the next release. The current release won't build.

[2018-10-02 18:51] andresag01 opened #8306 "Configure heap size in IAR build"
### Description

We are currently reworking [one of our example applications](https://github.com/ARMmbed/mbed-os-example-tls/pull/194) which we regularly test in several targets with IAR, ARMCC and GCC_ARM. However, one of our tests keeps failing with a heap out-of-memory error for KW24D and IAR (for reference, the failure logs are [here](https://jenkins-internal.mbed.com/job/mbedtls-mbed-os-examp

[2018-10-02 19:05] mmahadevan108 commented on #8294
I ran all the mbed tests. I am not able to reproduce this crash on the LPC54628 and LPC54608 boards.

[2018-10-02 19:32] naveenkaje commented on #6891
https://github.com/ARMmbed/mbed-os/pull/8046 is updated based on discussions we had on the fix for this issue.

[2018-10-02 22:18] vznncv opened #8308 "ATHandler::consume_to_tag method doesn't detect tags in some cases"
### Description

I'm trying to make a driver for a sim5320 using cellular framework, but `ATHandler` doesn't parse some responses correctly. After some investigation, I found that problem is caused by `ATHandler::consume_to_tag` method.

If sequence from buffer contains tag and a symbol before tag coincides with zero symbol of the tag, then the tag won't be detected. For example, if it consumes to

[2018-10-03 03:45] AdamZhang0124 commented on #8124
@M-ichae-l, @samchuarm
Hi Sam, nice to meet you! I have tried to run the aforementioned network socket test plan under the following settings:
Environment: Windows 10
Mbed CLI version: 1.8.0
Python version: 2.7.14
Mbed OS:  mbed-os-5.10.0-rc2

However, it seems like some test cases were not generated while I was testing.
I am still working on it and will let you know for further updates, thanks!

[2018-10-03 08:27] Arjun765 opened #8312 "Timer read_ms and read_us should return uint64_t instead of int"
### Description

[code]

### Issue request type

[ ] Question
[x] Enhancement
[ ] Bug

[2018-10-03 08:35] kjbracey commented on #7397
Software takes time to run, and that includes reading the time. At that clock rate, you're getting <=72 instructions in 1us. Almost any moderate piece of code will take a couple of microseconds.

Maybe this platform timer read is a tad slow, but I don't think it's being unreasonable.

Code that uses "wait_us(15)" to space things will always wait longer than 15us. The delay is a minimum, and it sho

[2018-10-03 08:43] kjbracey commented on #8312
Those continue to return `int` for backwards compatibility. You can use `read_high_resolution_us()` to get the 64-bit value.

Maybe this needs better documentation. In particular the only thing [this page](https://os.mbed.com/docs/v5.9/reference/timer.html) says about range is that the entire class is 32-bit, which is no longer true.

[2018-10-03 08:55] SeppoTakalo commented on #8124
Hi @AdamZhang0124

Do you see testcases in "skipped" state after a build?

The reason for this is that if the testcases do not find configuration values they are expecting, they will skip the build.
For example, if the device does not provide default interface, or if some values missing.

See example test configuration from: https://github.com/ARMmbed/mbed-os/blob/master/tools/test_configs/Etherne

[2018-10-03 10:06] mattbrown015 commented on #8021
I believe this was fixed by [STM32: Fix disabling of IRQs shared by multiple events #8037](https://github.com/ARMmbed/mbed-os/pull/8037).

Closing...

[2018-10-03 10:06] #8021 closed, assigned to nobody

[2018-10-03 10:13] samchuarm commented on #8124
Hi @AdamZhang0124 , thanks for the update. Is there a log that you can share so Seppo could help pinpoint where you might configure the tests wrong?

[2018-10-03 10:15] RobMeades commented on #8289
My understanding of the situation has improved now and I believe the problem is down to how BLE configuration works on this device.  ARM tools support have confirmed that my linker configuration is correct and that nothing is statically overwriting my `noinit` zone.  However, Nordic SoftDevice is enabled in my build and, though BLE is not currently being run, I suspect that something somewhere at

[2018-10-03 10:33] screamerbg commented on #8289
CC @pan- @marcuschangarm

[2018-10-03 11:08] kjbracey commented on #8294
@c1728p9 has ascertained that one or more boards in the CI has worn-out flash, which causes unreliable reads. So I think we suspend investigation of the crashes. The serial loss issue remains.

[2018-10-03 11:18] AdamZhang0124 commented on #8124
Hi @samchuarm and @SeppoTakalo,
These are the test logs generated from the tests I just conducted for your information:

[dns_log.txt](https://github.com/ARMmbed/mbed-os/files/2441752/dns_log.txt)
[tcp_log.txt](https://github.com/ARMmbed/mbed-os/files/2441754/tcp_log.txt)
[udp_log.txt](https://github.com/ARMmbed/mbed-os/files/2441755/udp_log.txt)
[wifi_log.txt](https://github.com/ARMmbed/mbed-os/f

[2018-10-03 11:20] TuomoHautamaki commented on #8115
Fix in PR https://github.com/ARMmbed/mbed-os/pull/8243

[2018-10-03 11:38] SeppoTakalo commented on #8124
I still see that all the extended tests are missing.

https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/udp/main.cpp#L98..L103
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/netsocket/tcp/main.cpp#L141..L150

I instructed earlier to run the full set: https://github.com/ARMmbed/mbed-os/issues/8124#issuecomment-423097427

[2018-10-03 11:40] SeppoTakalo commented on #8124
And what comest to WiFi tests, there is a reason why tests are skipped:

[code]

Greentea by default runs tests until one fails, then rest are skipped, because device is assumed to be unknown state.

[2018-10-03 11:49] AdamZhang0124 commented on #8124
Oh I see. Is there a way to test all the rest cases even if one fail in one time rather than //comment that fail case in the test code and run the rest?

[2018-10-03 11:52] AdamZhang0124 commented on #8124
I see the problem, thanks. I will try to build the extended test cases and let you know the results.

[2018-10-03 12:00] RobMeades opened #8314 "NRF52832 WDT timer interrupt not being called"
### Description

I am setting up and successfully running a watchdog timer on an NRF52832 platform (UBLOX_EVK_NINA_B1).  The watchdog fires as expected.  However, I need to do some things when it fires and so I am configuring the WDT interrupt, which should be called 2 x 32 kHz clock cycles before the watchdog resets the chip.  Unfortunately it is never being called.  I've talked to Nordic who hav

[2018-10-03 12:00] SeppoTakalo commented on #8124
I believe, but not totally sure that continuing the testcase execution can be achieved by modifying the failure-handler as documented here:
https://github.com/ARMmbed/mbed-os/tree/master/features/frameworks/utest#default-handlers

If you have the setup ready, try modifying this line:
https://github.com/ARMmbed/mbed-os/blob/master/TESTS/network/wifi/main.cpp#L93
to

[code]

[2018-10-03 12:19] RobMeades commented on #8314
Note: at the risk of conflating my problems, there's a chance this has the same root cause as #8289, CC @screamerbg @pan- @marcuschangarm.

[2018-10-03 12:49] AriParkkila commented on #7457
@sg- do you think cellular and lora should be component or feature?

[2018-10-03 20:29] SenRamakri commented on #7085
@drahnr - We hope the documentation pointed out provided the info you wanted. At this point, we dont have more action items on this we are closing this issue. If you still think there are pending issues/questions please re-open the issue with the details.

[2018-10-03 20:29] #7085 closed, assigned to nobody

[2018-10-03 20:41] drahnr commented on #7085
@SenRamakri yes, it did indeed. thank you!

[2018-10-03 21:19] studavekar opened #8320 "unstable test - tests-mbedmicro-rtos-mbed-queue on NUCLEO_F746ZG"
### Description

- Type: Bug
- Priority: Major

This failure are seen on CI environment creating a ticket to track the failure.

[code]

**Target**
NUCLEO_F746ZG

**Toolchain:**
GCC_ARM

[code]

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-04 01:14] TomoYamanaka commented on #7155
@theotherjimmy Thank you for your update. We'll check #8303.

[2018-10-04 03:35] chuanga commented on #7997
@jeromecoutant I am investigating enabling lowpower feature for a customer using STM32L486 chipset and tried your example program above to enable MBED_TICKLESS. The program worked and it shows that it's at deep_sleep 99% of the time.

However, it also seems that I can no longer update firmware via Daplink. Drag & drop to Daplink folder will always failed with FAIL.TXT ("error: The interface firmwa

[2018-10-04 06:15] Arjun765 commented on #7363
Are you sure about this? `mbed_error_vfprintf` still uses serial.

[2018-10-04 06:42] kjbracey commented on #7363
Pending PR for this: https://github.com/ARMmbed/mbed-os/pull/8076

[2018-10-04 07:09] Arjun765 opened #8321 "MUTEX_LOCK_FAILED when attempting to read ADC in ISR in 5.10"
### Description

[code]

The above code works on 5.9.7 but crashes with MUTEX_LOCK_FAILED in 5.10

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-04 08:11] jeromecoutant commented on #7997
Hi

About daplink failure, no, I don't know this issue.

You should try to update your FW to the latest version:
https://www.st.com/en/development-tools/stsw-link007.html

About added note:

This is not needed :-) as LOWPOWERTIMER macro has been replaced by LPTICKER

This is correct. This is mandatory for TICKLESS.

[2018-10-04 08:12] 0xc0170 commented on #8321
From AnalogIn class: ` * @note Synchronization level: Thread safe`. The object locks using mutex thus not allowed to be invoked from an interrupt handler.

It should have reported an error even in 5.9.x

What target are you using?

[2018-10-04 08:15] 0xc0170 commented on #8320
@ARMmbed/team-st-mcd Please review

[2018-10-04 08:15] Arjun765 commented on #8321
Then what is the recommended way to read ADC every few milliseconds?

BLUEPILL_F103C8

[2018-10-04 09:00] RobMeades commented on #8289
And of course, the other question is, with the scatter-link file as it stands in this repo, are the first kbyte or so of variables in RW memory being overwritten by BLE config, or (more likely) vice-versa...?

[2018-10-04 09:30] 0xc0170 commented on #8297
@bcostm is this common behavior? Shouldn't the device be set by the exporters (the correct version). I am just trying to minimize the area for an error. The latest result in 8301 uncover windows returning error when building STM32 L4 targets, something goes wrong with uvision using the examples_lib.py script

[2018-10-04 09:32] daniel-cesarini-tridonic-com commented on #6872
To my understanding https://github.com/ARMmbed/mbed-os/pull/7423 is a first step towards a consolidated solution to the problem explained in this very issue.
I leave it up to you ARM folks to decide whether you prefer to keep my issue open for future reference, or whether you want to close this and track the missing steps in some other (hopefully publicly visible) place.

FYI: @MarceloSalazar @kar

[2018-10-04 09:43] 0xc0170 opened #8322 "Travis: astyle package error"
### Description

[code]

We fetch astyle package from s3, is s3 corrupted or what has change within last 24 hours?

@ARMmbed/mbed-os-maintainers @ARMmbed/mbed-os-test

We are now getting errors in Travis, see the report https://travis-ci.org/ARMmbed/mbed-os/jobs/436740272 (one of the first).

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-10-04 09:45] 0xc0170 commented on #8322
`curl -L0 http://mbed-os.s3-eu-west-1.amazonaws.com/builds/deps/astyle_3.1_linux.tar.gz --output astyle.tar.gz` command fetches it but can't open it locally

[2018-10-04 09:49] 0xc0170 commented on #8322
[code]

The size information is completely wrong. Seems like the package is invalid.

I can't opened it, getting error locally.

[2018-10-04 10:02] OPpuolitaival commented on #8322
should be fixed now

[2018-10-04 10:03] 0xc0170 commented on #8322
I can confirm locally, restarting travis jobs now

[2018-10-04 10:06] OPpuolitaival commented on #8322
Quick fix done now.. long term fix will be added later with internal ticket number MBEDOSTEST-234

[2018-10-04 10:07] 0xc0170 commented on #8322
Travis again green. I'll close this as resolved, the long term fix tracked as separate issue.

[2018-10-04 10:07] #8322 closed, assigned to nobody

[2018-10-04 11:03] adbridge commented on #8300
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-6*

[2018-10-04 11:03] adbridge commented on #8297
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-7*

[2018-10-04 11:03] adbridge commented on #8296
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-8*

[2018-10-04 11:03] adbridge commented on #8294
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-9*

[2018-10-04 11:03] adbridge commented on #8290
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-10*

[2018-10-04 11:03] adbridge commented on #8287
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-11*

[2018-10-04 11:03] adbridge commented on #8285
*Internal Jira reference: https://jira.arm.com/browse/IOTCELL-1448*

[2018-10-04 11:03] adbridge commented on #8282
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-515*

[2018-10-04 11:03] adbridge commented on #8278
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-363*

[2018-10-04 11:03] adbridge commented on #8265
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-362*

[2018-10-04 11:03] adbridge commented on #8264
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6680*

[2018-10-04 11:03] adbridge commented on #8260
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6679*

[2018-10-04 11:03] adbridge commented on #8240
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-492*

[2018-10-04 11:03] adbridge commented on #8232
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-494*

[2018-10-04 11:03] adbridge commented on #8228
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6677*

[2018-10-04 11:03] adbridge commented on #8227
*Internal Jira reference: https://jira.arm.com/browse/ONME-3927*

[2018-10-04 11:03] adbridge commented on #8217
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-351*

[2018-10-04 11:03] adbridge commented on #8214
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-352*

[2018-10-04 11:03] adbridge commented on #8211
*Internal Jira reference: https://jira.arm.com/browse/ONME-3928*

[2018-10-04 11:03] adbridge commented on #8209
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-496*

[2018-10-04 11:03] adbridge commented on #8207
*Internal Jira reference: https://jira.arm.com/browse/MBEDOSTEST-203*

[2018-10-04 11:03] adbridge commented on #8206
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-269*

[2018-10-04 11:03] adbridge commented on #8205
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-489*

[2018-10-04 11:03] adbridge commented on #8204
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-488*

[2018-10-04 11:03] adbridge commented on #8200
*Internal Jira reference: https://jira.arm.com/browse/ONME-3908*

[2018-10-04 11:03] adbridge commented on #8203
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1651*

[2018-10-04 11:03] adbridge commented on #8199
*Internal Jira reference: https://jira.arm.com/browse/IOTCELL-1419*

[2018-10-04 11:03] adbridge commented on #8198
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-659*

[2018-10-04 11:03] adbridge commented on #8196
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6580*

[2018-10-04 11:03] adbridge commented on #8194
*Internal Jira reference: https://jira.arm.com/browse/IOTTOO-3457*

[2018-10-04 11:03] adbridge commented on #8191
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6581*

[2018-10-04 11:03] adbridge commented on #8185
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-348*

[2018-10-04 11:03] adbridge commented on #8184
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6578*

[2018-10-04 11:03] adbridge commented on #8178
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-477*

[2018-10-04 11:04] 0xc0170 commented on #8297
The uvision reports this

[code]

The error code indicates invalid access as I understand.

[2018-10-04 11:17] jeromecoutant commented on #8320
Hi
I will check the issue after #8242 #7582 #8279 merge into master
Thx

[2018-10-04 11:44] 0xc0170 commented on #8320
Hopefully they will get in soon (8279 needs work).

[2018-10-04 12:11] adbridge commented on #8174
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-478*

[2018-10-04 12:11] adbridge commented on #8170
*Internal Jira reference: https://jira.arm.com/browse/ONME-3898*

[2018-10-04 12:11] adbridge commented on #8158
*Internal Jira reference: https://jira.arm.com/browse/ONME-3893*

[2018-10-04 12:11] adbridge commented on #8152
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1642*

[2018-10-04 12:11] adbridge commented on #8150
*Internal Jira reference: https://jira.arm.com/browse/IOTCELL-1415*

[2018-10-04 12:11] adbridge commented on #8146
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-458*

[2018-10-04 12:11] adbridge commented on #8144
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-459*

[2018-10-04 12:12] adbridge commented on #8141
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-461*

[2018-10-04 12:12] adbridge commented on #8139
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-462*

[2018-10-04 12:12] adbridge commented on #8135
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-463*

[2018-10-04 12:12] adbridge commented on #8133
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1641*

[2018-10-04 12:12] adbridge commented on #8124
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6550*

[2018-10-04 12:12] adbridge commented on #8111
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6551*

[2018-10-04 12:12] adbridge commented on #8105
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-456*

[2018-10-04 12:12] adbridge commented on #8102
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-455*

[2018-10-04 12:12] adbridge commented on #8088
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-439*

[2018-10-04 12:12] adbridge commented on #8084
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1634*

[2018-10-04 12:12] adbridge commented on #8081
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6510*

[2018-10-04 12:12] adbridge commented on #8080
*Internal Jira reference: https://jira.arm.com/browse/IOTCELL-1374*

[2018-10-04 12:12] adbridge commented on #8068
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6509*

[2018-10-04 12:12] adbridge commented on #8064
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-437*

[2018-10-04 12:12] adbridge commented on #8045
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6500*

[2018-10-04 12:12] adbridge commented on #8043
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-425*

[2018-10-04 12:12] adbridge commented on #8004
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-415*

[2018-10-04 12:13] adbridge commented on #8000
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-261*

[2018-10-04 12:13] adbridge commented on #7997
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-414*

[2018-10-04 12:13] adbridge commented on #7961
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-407*

[2018-10-04 12:13] adbridge commented on #7954
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-406*

[2018-10-04 12:13] adbridge commented on #7930
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-402*

[2018-10-04 12:13] adbridge commented on #7928
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-397*

[2018-10-04 12:13] adbridge commented on #7912
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6352*

[2018-10-04 12:13] adbridge commented on #7897
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-382*

[2018-10-04 12:13] adbridge commented on #7886
*Internal Jira reference: https://jira.arm.com/browse/MBEDOSTEST-165*

[2018-10-04 12:13] adbridge commented on #7884
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1619*

[2018-10-04 12:13] adbridge commented on #7866
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-381*

[2018-10-04 12:13] adbridge commented on #7863
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1618*

[2018-10-04 12:13] adbridge commented on #7862
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6225*

[2018-10-04 12:13] adbridge commented on #7859
*Internal Jira reference: https://jira.arm.com/browse/IOTMORF-2457*

[2018-10-04 12:14] adbridge commented on #7858
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-294*

[2018-10-04 12:14] adbridge commented on #7853
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6211*

[2018-10-04 12:14] adbridge commented on #7847
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1613*

[2018-10-04 12:14] adbridge commented on #7845
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-379*

[2018-10-04 12:14] adbridge commented on #7842
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1617*

[2018-10-04 12:14] adbridge commented on #7836
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1615*

[2018-10-04 12:14] adbridge commented on #7811
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6202*

[2018-10-04 12:14] adbridge commented on #7809
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-376*

[2018-10-04 12:14] adbridge commented on #7804
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1603*

[2018-10-04 12:14] adbridge commented on #7766
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-366*

[2018-10-04 12:14] adbridge commented on #7763
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1602*

[2018-10-04 12:14] adbridge commented on #7756
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-395*

[2018-10-04 12:14] adbridge commented on #7743
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1598*

[2018-10-04 12:14] adbridge commented on #7736
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-360*

[2018-10-04 12:14] adbridge commented on #7723
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-357*

[2018-10-04 12:14] adbridge commented on #7699
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-350*

[2018-10-04 12:14] adbridge commented on #7697
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-349*

[2018-10-04 12:14] adbridge commented on #7695
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6065*

[2018-10-04 12:14] adbridge commented on #7690
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6060*

[2018-10-04 12:15] adbridge commented on #7684
*Internal Jira reference: https://jira.arm.com/browse/ONME-3771*

[2018-10-04 12:15] adbridge commented on #7679
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6056*

[2018-10-04 12:15] adbridge commented on #7674
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1591*

[2018-10-04 12:15] adbridge commented on #7625
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-313*

[2018-10-04 12:15] adbridge commented on #7618
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1588*

[2018-10-04 12:15] adbridge commented on #7611
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5949*

[2018-10-04 12:15] adbridge commented on #7607
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5945*

[2018-10-04 12:15] adbridge commented on #7593
*Internal Jira reference: https://jira.arm.com/browse/IOTCELL-1190*

[2018-10-04 12:15] adbridge commented on #7573
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-284*

[2018-10-04 12:15] adbridge commented on #7572
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-283*

[2018-10-04 12:15] adbridge commented on #7571
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-290*

[2018-10-04 12:15] adbridge commented on #7563
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-291*

[2018-10-04 12:15] adbridge commented on #7511
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-263*

[2018-10-04 12:15] adbridge commented on #7496
*Internal Jira reference: https://jira.arm.com/browse/IOTCELL-1176*

[2018-10-04 12:15] adbridge commented on #7492
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5809*

[2018-10-04 12:15] adbridge commented on #7484
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-255*

[2018-10-04 12:16] adbridge commented on #7467
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-485*

[2018-10-04 12:16] adbridge commented on #7456
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-245*

[2018-10-04 12:16] adbridge commented on #7433
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-238*

[2018-10-04 12:16] adbridge commented on #7425
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1567*

[2018-10-04 12:16] adbridge commented on #7408
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-219*

[2018-10-04 12:16] adbridge commented on #7407
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-476*

[2018-10-04 12:16] adbridge commented on #7398
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5782*

[2018-10-04 12:16] adbridge commented on #7392
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-220*

[2018-10-04 12:16] ghost opened #8326 "Single automated test script error"
### Description

**Target:**
Tried with Toshiba's targets.

**Toolchains:**
GCC_ARM - 6.3.1
ARM - 5.06
IAR - 7.8

**Issue:**
While doing single test, getting error `TypeError: coercing to Unicode: need string or buffer, list found` from version 5.10 and master. No error in version 5.9.

**Steps to reproduce:**

1. Download master from https://github.com/ARMmbed/mbed-os
2. Build command

[code]
###

[2018-10-04 12:16] adbridge commented on #7380
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5784*

[2018-10-04 12:16] adbridge commented on #7350
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-214*

[2018-10-04 12:16] adbridge commented on #7343
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-207*

[2018-10-04 12:16] adbridge commented on #7319
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5656*

[2018-10-04 12:16] kivaisan commented on #8080
As no activity in 7 days, I think this issue can be closed. @marcemmers if you still have any questions for this, feel free to reopen the issue.

[2018-10-04 12:16] adbridge commented on #7317
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5655*

[2018-10-04 12:16] adbridge commented on #7308
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-233*

[2018-10-04 12:16] adbridge commented on #7300
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-214*

[2018-10-04 12:17] adbridge commented on #7297
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-215*

[2018-10-04 12:17] adbridge commented on #7293
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-171*

[2018-10-04 12:17] adbridge commented on #7292
*Internal Jira reference: https://jira.arm.com/browse/ONME-3733*

[2018-10-04 12:17] adbridge commented on #7265
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-149*

[2018-10-04 12:17] adbridge commented on #7246
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5622*

[2018-10-04 12:17] adbridge commented on #7240
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5615*

[2018-10-04 12:17] adbridge commented on #7227
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5528*

[2018-10-04 12:17] adbridge commented on #7198
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-206*

[2018-10-04 12:17] adbridge commented on #7186
*Internal Jira reference: https://jira.arm.com/browse/IOTMORF-2402*

[2018-10-04 12:17] adbridge commented on #7155
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-14*

[2018-10-04 12:17] adbridge commented on #7154
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-23*

[2018-10-04 12:17] adbridge commented on #7153
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5496*

[2018-10-04 12:17] adbridge commented on #7138
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-231*

[2018-10-04 12:17] adbridge commented on #7091
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-445*

[2018-10-04 12:17] adbridge commented on #7077
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-347*

[2018-10-04 12:17] adbridge commented on #7045
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-283*

[2018-10-04 12:17] adbridge commented on #7041
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-91*

[2018-10-04 12:18] adbridge commented on #7026
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-441*

[2018-10-04 12:18] adbridge commented on #7010
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-446*

[2018-10-04 12:18] adbridge commented on #6988
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-96*

[2018-10-04 12:18] adbridge commented on #6975
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-109*

[2018-10-04 12:18] adbridge commented on #6966
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6063*

[2018-10-04 12:18] adbridge commented on #6942
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-508*

[2018-10-04 12:18] adbridge commented on #6897
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-396*

[2018-10-04 12:18] adbridge commented on #6891
*Internal Jira reference: https://jira.arm.com/browse/IOTDEV-1597*

[2018-10-04 12:18] adbridge commented on #6877
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-77*

[2018-10-04 12:18] adbridge commented on #6872
*Internal Jira reference: https://jira.arm.com/browse/IOTHAL-282*

[2018-10-04 12:18] adbridge commented on #6850
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-345*

[2018-10-04 12:18] adbridge commented on #6827
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6061*

[2018-10-04 12:26] adbridge commented on #8021
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6499*

[2018-10-04 12:45] chuanga commented on #7997
@jeromecoutant  Thanks for the confirmation on the configuration. My board doesn't have ST-link debugger, only Daplink. I will try to get another board and see if it's H/W or S/W issue.

[2018-10-04 13:05] adbridge commented on #7363
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-217*

[2018-10-04 13:09] adbridge commented on #7457
*Internal Jira reference: https://jira.arm.com/browse/IOTCELL-1188*

[2018-10-04 13:13] adbridge commented on #7570
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-5925*

[2018-10-04 13:16] adbridge commented on #7764
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-516*

[2018-10-04 13:18] adbridge commented on #7808
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-525*

[2018-10-04 13:20] adbridge commented on #7983
This has been marked as a duplicate of https://github.com/ARMmbed/mbed-os/issues/7804
thus closing this one.

[2018-10-04 13:20] #7983 closed, assigned to nobody

[2018-10-04 13:22] adbridge commented on #8077
*Internal Jira reference: https://jira.arm.com/browse/IOTSTOR-655*

[2018-10-04 13:24] adbridge commented on #7085
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-94*

[2018-10-04 13:32] adbridge commented on #7129
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-529*

[2018-10-04 13:35] adbridge commented on #7499
Fixed by the aforementioned PR

[2018-10-04 13:35] #7499 closed, assigned to nobody

[2018-10-04 13:37] #7588 closed, assigned to nobody

[2018-10-04 13:38] adbridge commented on #7709
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6067*

[2018-10-04 13:40] adbridge commented on #7710
*Internal Jira reference: https://jira.arm.com/browse/IOTPART-6068*

[2018-10-04 13:42] adbridge commented on #7889
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-386*

[2018-10-04 13:44] adbridge commented on #8115
*Internal Jira reference: https://jira.arm.com/browse/IOTTHD-2818*

[2018-10-04 13:47] sstaub commented on #7588
Why is this issue closed? What have it to do with the closed_in_jira?

[2018-10-04 14:10] adbridge commented on #7588
@sstaub You asked a question, @0xc0170 asked you if it had been answered and you said 'Yes' so the issue was closed....

[2018-10-04 14:43] studavekar commented on #8296
Thanks, @jeromecoutant will update it to 2.32.22 for CI in Austin.

[2018-10-04 15:32] aashishc1988 commented on #7572
@jeckypei Can you provide more information on this issue? I understand the problem but I need a way to reproduce it, so an example would be great, :) Just so that we are on the same page.

[2018-10-04 15:46] sstaub commented on #7588
Misunderstood, there should a support for the Nucleo-L432KC, it is an issue for further USB development.

[2018-10-04 17:25] fullbeat commented on #6975
I see the same error with the build for mbed_blinky on my Rev C RZ GR-Peach. I'm using the on-line tools, and did not select "update" when the project was imported.

An older copy of mbed_blinky from 2 years ago still works and builds. It has a much different project tree. (Blinky1 is the new project, and it appears to be missing files.)
<img width="161" alt="mbed" src="https://user-images.githubu

[2018-10-04 17:52] RobMeades commented on #8289
Just FYI, if I create a target which inherits `UBLOX_EVK_NINA_B1` but removes Soft Device (by removing the labels `SOFTDEVICE_S132_FULL` and `SOFTDEVICE_COMMON` while adding the label `SOFTDEVICE_NONE`) then this RAM overwrite does not occur.  So it is BLE config data or something to do with Soft Device that is making assumptions about the availability of RAM immediately beyond the vector table.

[2018-10-04 19:04] marcuschangarm commented on #8314
Looks like you are missing the `NVIC_SetVector` call to register `WDT_IRQHandler` as your ISR.

[2018-10-04 21:15] naveenkaje commented on #7425
Hi @grathlinkbit ,
I don't have access to the particular RTC chip you are using. But I tried with 2 I2C Slaves
https://os.mbed.com/teams/Seeed/code/Seeed_Barometer_Sensor_Example/ (Temp and Pressure Sensor)
and
https://os.mbed.com/teams/mbed/code/I2C_HelloWorld_Mbed/ (Using mbed CI Shileld that has a temperature sensor).

I have attached captured traffic that I have observed with above programs wi

[2018-10-04 22:16] naveenkaje commented on #8203
@khj098765 @andrewc-arm
Based on my experiments today, builds based on 510 CLI using ARMCC work as expected. But the Online compiler built binary for the same code does not work.

[2018-10-04 23:00] khj098765 commented on #8203
@naveenkaje
Yes! That's what I want to say.
It is very strange.
What should I do to solve this problem?

[2018-10-05 05:44] bcostm commented on #8297
No

Yes. The device for the Keil exporter is taken (I think) from the `device_name` field in targets.json. As this field is equal to STM32L475VG and not STM32L475VGTx we have this problem...

Note that for IAR exporter the device names are defined in a specific `iar_definitions.json` file.

This is also the same for sw4stm32 exporter where the device names are defined in the `sw4stm32/__init__.py`

[2018-10-05 07:43] stevew817 commented on #7862
@ARMmbed/mbed-os-core Can you weigh in here?

[2018-10-05 08:00] 0xc0170 commented on #7862
I also add @ARMmbed/mbed-os-hal who might help with this one as well

[2018-10-05 08:03] 0xc0170 commented on #8297
I also was told that latest uvision does this MCU matching so should not be a problem. I tested this and can confirm: it builds from the command line using 5.26 (previously I had 5.24 on one computer). Therefore 3rd option would be to update the CI uvision. I'll talk to the CI team

[code]

[2018-10-05 09:10] 0xc0170 commented on #8326
@ARMmbed/mbed-os-tools

[2018-10-05 12:41] 0xc0170 commented on #8297
We updated to uvision 5.26 and exporters are green again (last 3 runs had uvision5 green!)

This should be now fixed. @bcostm I recommend updating as well to your local machines due to the feature described above

[2018-10-05 12:41] #8297 closed, assigned to nobody

[2018-10-05 14:57] jeromecoutant commented on #8290
Some "preprocessing" should miss on this ld file...
I can't help

[2018-10-05 15:13] deepikabhavnani commented on #7343
Fixed by https://github.com/ARMmbed/mbed-os/pull/7917

[2018-10-05 15:13] #7343 closed, assigned to deepikabhavnani

[2018-10-05 15:21] studavekar opened #8333 "unstable Flash - clock and cache test for EV_COG_AD3029LZ nightly"
### Description

This failure is seen multiple times in CI system, created a issue to track it. May be worn out flash?

**Target**
EV_COG_AD3029LZ

**Toolchain:**
GCC_ARM| ARM|IAR

**mbed-os sha:**

master

**Steps to reproduce**

Use command run :  mbed test -m EV_COG_AD3029LZ -t GCC_ARM  -n tests-mbed_hal-flash  -v

Failure

[code]

logs snippet
[code]

CC : @maclobdell @bentcooke

### Issue req

[2018-10-05 16:54] naveenkaje commented on #8203
The issue seems to be particular to the online compiler. When a project is created on CLI from scratch, it compiles and works as expected. But on the online compiler built version does not work.

I created the project on online compile and then imported it to the CLI. It doesn't really seem to build. It reports successful build in 14 seconds which is suspicious.

[code]

[2018-10-05 17:41] theotherjimmy commented on #8203
@naveenkaje That's an mbed 2 project, so of course it builds quickly.

[2018-10-05 18:41] theotherjimmy commented on #7866
This is no longer reproduce-able with the online compiler because I fixed it when we migrated to the 5.10.0 tools.

[2018-10-05 18:41] #7866 closed, assigned to nobody

[2018-10-05 19:10] aashishc1988 commented on #7293
@jeromecoutant Sorry for late reply, I got caught up on other things and completely missed this.
Looking at the test architecture, I failed to understand a use case where this would be needed or actually work. So, right now, if the timeout happens due to any of those reasons indicated above, the final step in the host test, that is, publishing test results,
`GREENTEA_TESTSUITE_RESULT`
doesn't get

[2018-10-05 19:41] tho068 commented on #8199
Having the exact same issue. Just bought the C030-N211 devkit, and it is not working with my Telenor nbiot sim card. I suspect I need a firmware update for the nbiot modem, but this is nowhere to be found.

[2018-10-05 19:57] naveenkaje commented on #8203
@theotherjimmy thanks for pointing that out.

I think the issue is that the default templates that is offered on online compiler for Wizwiki are all mbed os 2 based. See attached screenshort.

![prjoectcreate](https://user-images.githubusercontent.com/39923816/46557223-ce8cd180-c8ae-11e8-8281-6093516935cd.png)

@khj098765 : Do you need to use mbed os 2 or can you be based off of mbed-os 5.x?

It s

[2018-10-05 20:23] #7858 closed, assigned to nobody

[2018-10-07 19:20] samchuarm commented on #8124
Hi @AdamZhang0124 , do you have update on the test results?

[2018-10-07 19:51] samchuarm commented on #7690
Can this be closed since #8266 is merged?

[2018-10-08 06:47] JojoS62 commented on #7954
@theotherjimmy I have seen the zip option is also available in the mbed2 tools. There I got also an error because a notify object is empty, maybe this is only set for the web export? Uncommenting that line 145 in project.py helped:

[code]

[2018-10-08 08:13] jeromecoutant commented on #7293
Thx @aashishc1988 t analyse any possible enhancement.
My global request is to add debug information around sleep and deepsleep mode.

[2018-10-08 08:39] jeromecoutant commented on #8184
@c1728p9

[2018-10-08 08:59] jeromecoutant commented on #7756
Is OS2 support stopped for 5.10 release ?

[2018-10-08 09:13] 0xc0170 commented on #7756
No. We should fix this

[2018-10-08 12:24] AdamZhang0124 commented on #8124
Hi @samchuarm, I have run the extended tests and some of the test cases are failed or have errors. I will working on that once I have finished my primary task and I will let you know the progress as soon as possible, thanks!

[2018-10-08 14:47] fkjagodzinski commented on #8278
Ok, I assumed it's up to the developer to decide which parts are to be suspended. Our docs are missing the part about undefined behaviour. Shall I add a note with a warning here?

Correct. However, I expected these interrupts to pass through unconditionally, without using the us ticker and locking a deepsleep mode. This could be fixed with #8279.

[2018-10-08 15:11] #8139 closed, assigned to nobody

[2018-10-08 15:16] #8227 closed, assigned to SeppoTakalo

[2018-10-08 16:27] mattbrown015 opened #8343 "STM32L4: HardFault in Idle Thread Possibly Caused by #7813"
### Description
I tried to update to the latest master this morning and was immediately greeted by a `HardFault`.  I haven't had any of these recently so I'm almost sure it is because of an mbed-os change.

At present I believe it is [STM32L4: Fix sleep implementation #7813](https://github.com/ARMmbed/mbed-os/pull/7813) that is causing the problem.

Here's the actual fault report although I'm not

[2018-10-08 16:51] mattbrown015 commented on #8343
Sometimes it just locks up.  I.e. no hard fault but I think it's spinning in a loop.

If I prevent attempting to select low-power sleep mode by changing `HAL_PWR_EnterSLEEPMode(PWR_LOWPOWERREGULATOR_ON, PWR_SLEEPENTRY_WFI)` to `HAL_PWR_EnterSLEEPMode(PWR_MAINREGULATOR_ON, PWR_SLEEPENTRY_WFI)` my problems seem to go away.

This doesn't make much sense to me as I don't understand why low-power mode,

[2018-10-08 18:31] cmonr commented on #8326
@ganesh-ramachandran Thanks for the issue.
Would you mind providing the entire output, which should also include the traceback?

[2018-10-08 19:56] yennster opened #8344 "Cannot compile for NRF51_MICROBIT & ARM - IndexError: list index out of range"
### Description

- Target: NRF51_MICROBIT
- Tools: Mbed CLI
- Toolchain: ARMC5 (5.06u6)
- Mbed 2 version: 170:e95d10626187

Steps to reproduce:
1. `mbed import http://os.mbed.com/teams/mbed/code/mbed_blinky/`
1. `mbed compile -t arm -m nrf51_microbit -c -v`

Error output:
[code]

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-08 19:59] yennster commented on #8344
@theotherjimmy This error still occurs when building with Mbed 2 source (https://os.mbed.com/users/mbed_official/code/mbed/ - downloaded as a .zip and extracted into mbed_blinky project) and updating the `arm.py` script with the changes in #8305

[2018-10-08 20:31] andresag01 commented on #8306
@cmonr @0xc0170: Any ideas? Thanks!

[2018-10-08 23:21] cmonr commented on #8306
Hmmm, that is an interesting one.
Thanks for the referenced issues, looks like we've let this bug drag along since before I was even with ARM.

@c1728p9 @theotherjimmy @bridadan Would y'all have any ideas since this appears to be related to a really old issue(s)?

[2018-10-09 06:13] ghost commented on #8326
Hi @cmonr, no issue in mbed 5.9.7 and issue occurs from 5.10.0.

**Below is the versions of different tools:**
[code]
Please find the below **traceback report** for mbed 5.10.0, mbed master and mbed 5.9.7.
[code]

[2018-10-09 06:32] mirelachirica commented on #8308
Internal issue generated.

[2018-10-09 07:58] mattbrown015 commented on #8343
I missed some important pieces of information...

Since 27th Sept we've been using [#37654e5](https://github.com/ARMmbed/mbed-os/commit/37654e546a3601990f67408e015e89103b1f7565) without any problems.

We're building with ARM GCC 7.3.1.

[2018-10-09 08:44] LMESTM commented on #8343
@mattbrown015 out of curiosity - aren't you using CPU HEAP statistics as well ?

[2018-10-09 08:50] mattbrown015 commented on #8343
Hi @LMESTM,

I'm not sure exactly what you mean because the range, type and implementation of the various _statistics_ has changed since we first started.  In other words, I think I enabled the stats that were available when we started circa 5.9.1.

`mbed_app.json` looks like this:

           ,"MBED_HEAP_STATS_ENABLED=1"
           ,"MBED_STACK_STATS_ENABLED=1"
           ,"MBED_TICKLESS"

[2018-10-09 09:01] LMESTM commented on #8343
So I'm not sure at all, but you may try out the fix from #8013 , at least for your L4 target and see if that helps at all ?

[2018-10-09 09:43] kapi90 commented on #8200
Hi @SeppoTakalo, sorry for the late reply, I just got back from vacation. I'll need to push my code through our internal code and IP reviews first, once that is done I'm gonna share the EMAC driver, so you can take a look at it and test it however you like. How does that sound ?

[2018-10-09 12:37] janjongboom opened #8351 "Callback uses ROM even when not used"
### Description

In mbed-os-example-lorawan there are two radio drivers included from https://github.com/ARMmbed/mbed-semtech-lora-rf-drivers. Only one is selected then through a macro (SX1276), so I'd expect the other one to be linked out. However...

[code]

The SX1272 uses 455 bytes of ROM (in `.text`). According to @hasnainvirk this is due to `Callback`'s using ROM even when the object that en

[2018-10-09 12:53] EmbedEngineer opened #8353 "Unittest folder location"
### Description

Hi,

I would like to write unit tests using the newly introduced gtest framework in mbed os. The problem is that the UNITTESTS folder is still being built in the normal build process an therefore I get the error that `fatal error: gtest/gtest.h: No such file or directory #include "gtest/gtest.h"`.
So do I need a special location for that folder?
My current folder structure is:
[co

[2018-10-09 13:06] bcostm commented on #6827
Can you please remove the `devices:st` label ? Because the enhancement to change the stretch mode in mbed API is for all the targets and not only ST ones.

[2018-10-09 13:37] OmerRosler commented on #7764
My issues with the different APIs were resloved in v5.10 with the IAPBlockDevice

[2018-10-09 13:55] jeromecoutant commented on #8343
Hi
For me there is a bug in the #7813 fix...

it should be:

[code]

What do you think ?

@MSiglreithmaierRB

[2018-10-09 14:41] MSiglreithmaierRB commented on #8343
@jeromecoutant but then we are hitting again that mentioned code path which caused the issue in our code (spin-loop for exiting LPR mode). I'll try to get access to a device again and try to reproduce the hardfault in our application.

[2018-10-09 15:33] studavekar opened #8355 "Tests are failing on NRF52_DK for PR #8292"
### Description

Tests are failing on NRF52_DK for https://github.com/ARMmbed/mbed-os/pull/8292. This ticket is to track the failure.

Repro :

1. https://github.com/ARMmbed/mbed-os/pull/8292#issuecomment-427413234
2. https://github.com/ARMmbed/mbed-os/pull/8292#issuecomment-427567511
3. https://github.com/ARMmbed/mbed-os/pull/8292#issuecomment-428005064
4. https://github.com/ARMmbed/mbed-os/pull/

[2018-10-09 16:06] studavekar commented on #8355
Internal ticket created IOTSYSTOOL-1197

[2018-10-09 20:15] yennster commented on #8353
@EmbedEngineer Try changing your folder structure to the following:

[code]
Make sure your `unittest.cmake` file looks similar to the following:

[code]

Also, make a `build` directory in `UNITTESTS`

Then, from `mbed-os/UNITTESTS/build` run `cmake ..`

[2018-10-10 09:22] janjongboom opened #8360 "CellularNetwork.h: converting to non-pointer type"
### Description

When building Mbed OS master w/ GCC 6 there are these warnings:

[code]

I assume these should be:

[code]

Instead of NULL.

### Issue request type

[ ] Question
[ ] Enhancement
[X] Bug

[2018-10-10 10:34] janjongboom opened #8361 "Heap stats does not know the size of the heap"
### Description

I'm trying to use the heap stats on a new target:

[code]

However, reserved_size is always 0. How does Mbed OS know the size of the heap normally? Does it get this from the linker, and if so from which symbol?

@bulislaw @0xc0170

### Issue request type

[X] Question
[ ] Enhancement
[ ] Bug

[2018-10-10 12:13] adbridge commented on #8141
@studavekar isn't this fixed by #8309 ?? Should it now be closed?

[2018-10-10 12:31] cmonr commented on #8141
@deepikabhavnani @gaborkertesz Does #8309 resolve this issue?

[2018-10-10 12:36] mirelachirica commented on #8360
There is PR for this: https://github.com/ARMmbed/mbed-os/pull/8258

[2018-10-10 12:37] mirelachirica commented on #8308
PR: https://github.com/ARMmbed/mbed-os/pull/8350/files

[2018-10-10 12:39] janjongboom commented on #8360
OK great.

[2018-10-10 12:39] #8360 closed, assigned to nobody

[2018-10-10 12:52] deepikabhavnani commented on #8141
Yes it does.. closing

[2018-10-10 12:52] #8141 closed, assigned to nobody

[2018-10-10 13:23] janjongboom commented on #8135
Fixed it in https://github.com/janjongboom/mbed-os/tree/feature-saml21-mbed5-rebased

[2018-10-10 13:23] #8135 closed, assigned to nobody

[2018-10-10 13:27] LaurentLouf opened #8362 "UART inverted option in mbed"
### Description

- Target : STM32F0xx, STM32F1xx

Using STM32CubeMX, it's possible to use UART in an inverted mode, by setting the members `TxPinLevelInvert` and `RxPinLevelInvert` of `UART_AdvFeatureInitTypeDef` (present in `UART_HandleTypeDef`) to the right values on the STM32F030. I would like to be able to do the same using mbed on an STM32F103, but I don't see these options anywhere in UARTSe

[2018-10-10 13:40] #8004 closed, assigned to deepikabhavnani

[2018-10-10 13:42] #7026 closed, assigned to cmonr

[2018-10-10 13:44] #8217 closed, assigned to nobody

[2018-10-10 13:51] EmbedEngineer commented on #8353
@yennster Thank you for the fast reply. It is working now.
I have one further question. Is there any plan to have the unit tests working like the greentea tests so that I can have the UNITTESTS folder like the TESTS folder outside of the mbed-os folder?

[2018-10-10 14:42] EmbedEngineer commented on #8353
@yennster Now I stumbled upon the problem that I want to configure my SUT with the mbed_app.json. So i start `mbed test --unittests --app-config <path to my mbed_app.json>` and I would like that the config respectively the defines in it are used. Is this possible or are there any plans to implement this?

[2018-10-10 14:52] bridadan commented on #8306
Not sure, it might be as simple as increasing the value in the linker script. Though I think someone more familiar with this platform should do the tweaking (@maclobdell any ideas?).

As far as the static heap size for IAR, @deepikabhavnani and @c1728p9 I think were pretty familiar with the issue

[2018-10-10 15:08] deepikabhavnani commented on #8306
This issue is dragged as we were anticipating IAR 8.x integration earlier and in background we are planning to have auto-generated linker scripts, but all that will take long. For now best is to increase it in linker script.

[2018-10-10 15:33] deepikabhavnani commented on #8185
Fixed by https://github.com/ARMmbed/mbed-os/pull/8327

[2018-10-10 15:33] #8185 closed, assigned to nobody

[2018-10-10 15:39] david-reimondez-tridonic-com commented on #7492
Thanks for the feedback. It makes sense but I am little bit confused by the last paragraph of the last comment:

"The one place it is beneficial to use low priority levels is when the code is specifically meant to be pre-empted. Examples of this are the handlers PendSV and SysTick, which are set to a low priority by default"

But we observed the opposite, that the SysTick interrupt priority is not

[2018-10-10 15:45] janfwesterkamp commented on #7380
With revision c53d51f (5.10.1) it's working now as expected - for me.

[2018-10-10 15:45] #7380 closed, assigned to nobody

[2018-10-10 16:55] janjongboom commented on #8361
Fixed.

[2018-10-10 16:55] #8361 closed, assigned to nobody

[2018-10-10 18:11] yennster commented on #8293
@sarahmarshy Do you happen to know which specific firmware version numbers are supported in Mbed OS? Per your esp8266 update guide: https://os.mbed.com/teams/ESP8266/wiki/Firmware-Update

[2018-10-10 18:17] sarahmarshy commented on #8293
v2.0 I believe. @kegilbert?

[2018-10-10 18:21] yennster commented on #8312
@kjbracey-arm Would it make sense to just delete that ["Note: Timers are based on 32-bit int microsecond counters"](https://os.mbed.com/docs/latest/apis/timer.html) section in the API documentation then?

[2018-10-10 18:30] kegilbert commented on #8293
Good question, I haven't touched the ESP8266 driver myself for a bit. @VeijoPesonen seems to have been maintaining the repo the most, although we have pulled the driver itself into the components directory of Mbed OS. I'll ask around for a more clear owner.

[2018-10-10 20:13] TacoGrandeTX commented on #7836
Closing... this was fixed in https://github.com/ARMmbed/mbed-os/pull/8165

[2018-10-10 20:13] #7836 closed, assigned to nobody

[2018-10-10 20:24] yennster commented on #8344
@theotherjimmy With your changes in https://github.com/ARMmbed/mbed-os/pull/8250, it says missing linker script

[2018-10-10 20:33] 0xc0170 commented on #8344
It should not miss the linker script (microbit target inherits from `MCU_NRF51` that has it defined `MCU_NRF51822`  - this is where the linker script is MCU_NRF51822/device

[2018-10-10 20:34] yennster commented on #8353
@SeppoTakalo @OPpuolitaival Do you have any insight to add on @EmbedEngineer's questions regarding the new unit testing system?

[2018-10-10 20:41] yennster commented on #8344
@0xc0170 I implemented the changes in #8250 and #8305 in the `.temp/tools` directory in my `mbed_blinky` project (that uses Mbed OS 2) and still receive the following error output:

[code]

[2018-10-10 20:46] #8191 closed, assigned to nobody

[2018-10-10 22:40] studavekar opened #8368 "tests-mbed_hal-rtc_time test fails REALTEK_RTL8195AM only for ARM toolchain"
### Description

tests-mbed_hal-rtc_time test fails on REALTEK_RTL8195AM

**Target**
REALTEK_RTL8195AM

**Toolchain:**
ARM

**mbed-os sha:**

master

**Steps to reproduce**

Use command run :  `mbed test -m REALTEK_RTL8195AM -t ARM  -n tests-mbed_hal-rtc_time  -v`

Failure

[code]

[ ] Question
[ ] Enhancement
[X ] Bug

cc : @0xc0170

[2018-10-11 04:11] TomoYamanaka commented on #6975
@toyowata
Sorry for this late reply.

Your revised codes look good to me, test was also successful.

[2018-10-11 05:14] jenia81 commented on #8081
This issue also affects SDA (secure device access) project that runs on Sales Demo Device (WEM device, modification of Ublox Odin W2). When running SDA example application with Serial it crashes from time to time. @TaniaMirzin, can provide more details if needed

[2018-10-11 05:16] bcostm commented on #8362
Please remove the ST label as this question is for the mbed API and not only for ST devices... Thanks.

And also remove STM32F1 in the title...

[2018-10-11 05:51] VeijoPesonen commented on #8293
@coisme as @kegilbert mentioned I have been updating the driver lately. The group looking after the driver is @ARMmbed/mbed-os-ipcore - which I'm part of. The in-tree(Mbed OS) driver is basically the same as [v1.6](https://github.com/ARMmbed/esp8266-driver/tree/v1.6) found from [esp8266-driver](https://github.com/ARMmbed/esp8266-driver) repository. What has come after v1.6 can only be found from t

[2018-10-11 06:42] mprse commented on #8368
I'm looking into it.

[2018-10-11 07:29] mattbrown015 opened #8372 "STM32: Build Fails If Serial Device is Removed"
### Description
Removing the serial device causes the build to fail because of changes made in [STM32: check for UART ongoing transfers before entering deepsleep #7717](https://github.com/ARMmbed/mbed-os/pull/7717).

This feels like a minor issue as I guess it is pretty unusual for anyone to remove the serial device.  _But_, it is supported and the problem occurs because `serial_api.c` is guarded

[2018-10-11 07:30] TuomoHautamaki commented on #8115
PR now merged

[2018-10-11 08:00] mattbrown015 opened #8373 "STM32L4: Understanding Deepsleep Power Consumption"
### Description
I appreciate this is an impossible question, and possibly not even appropriate for this forum, but I would appreciate any thoughts. :-)

We've got a custom board with a [STM32L442KC](https://www.st.com/content/st_com/en/products/microcontrollers/stm32-32-bit-arm-cortex-mcus/stm32-ultra-low-power-mcus/stm32l4-series/stm32l4x2/stm32l442kc.html) and a [Semtech SX1276](https://www.semt

[2018-10-11 08:14] mprse commented on #8368
REALTEK_RTL8195AM should be added to the list of impacted targets and in steps to reproduce section there is a typo in the test name.

[2018-10-11 08:21] hasnainvirk opened #8376 "K64F: Turning on TICKLESS and using deep sleep interferes with trace"
### Description

While testing https://github.com/ARMmbed/mbed-os-example-lorawan for Deep Sleep with MBED_TICKLESS enabled, it was noticed that it interferes with the trace and sometimes a whole line of trace will get flushed. The behaviour was consistent while printing sleep stats and without printing sleep states.

It should be easy to reproduce. Just put K64F in deep sleep mode and try to prin

[2018-10-11 08:56] jpiat commented on #8344
same problem here for a different project. I made the changes mentioned but still cannot compile with error

`Could not compile for NRF51_MICROBIT: No Linker Script found!`

[2018-10-11 08:58] samchuarm commented on #8081
@M-ichae-l , can you please verify this STDIN/STDOUT crash for RTL8195AM?

[2018-10-11 09:39] MSiglreithmaierRB commented on #8343
I tried running it several times now in our application using the patch in the PR (using mbed 5.8 atm) but I'm not able to reproduce it here.

[2018-10-11 09:59] jarvte commented on #8199
Hi, Sorry for the delay!

PPPCellularInterface and OnboardCellularInterface are deprecated API's.
You should use cellular framework: https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.9/features/cellular

There is also mbed-os version 5.10 already available.

You can check from https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.9/features/cellular/easy_cellular/EasyCellularConnection.cpp how Cellula

[2018-10-11 10:02] mprse commented on #8368
Fix for this issue can be found here:
PR https://github.com/ARMmbed/mbed-os/pull/8377

[2018-10-11 10:21] Wlad-Fox opened #8378 "STM32F4: Disabling one of several InterruptIn objects connected to different pins disables other interrupts"
### Description

Target MCU: STM32F446RE
If you initialize two InterruptIns on pins PB14 and PB15, after deleting one, second one will stop working too. It happens because:

1. In st32f446 devices external interrupts on pins from 10 to 15 are handled by one interrupt vector EXTI15_10.
2. When destroying InterruptIn the function void gpio_irq_free(gpio_irq_t *obj) disables interrupt vector connecte

[2018-10-11 10:41] SeppoTakalo commented on #8353
Hi @EmbedEngineer

Unit testing uses CMake as its build engine to separate itself from all Mbed OS dependencies. The whole idea was to allow us to test C++ classes isolated from Mbed.

The consequence of this is that build system does not parse any JSON configuration files, or pretty much any of the parameters used by other `mbed ...` commands.

Basically the `mbed test --unittest` is just a wrapp

[2018-10-11 11:11] LMESTM commented on #8378
@Wlad-Fox could you check whether the issue is addressed by #8037 ?

[2018-10-11 11:19] yogpan01 commented on #8300
@screamerbg Can you please take this up with ST as this is preventing us to add support for NUCLEO-F207ZG.

[2018-10-11 11:23] EmbedEngineer commented on #8353
@SeppoTakalo Thank you for the reply. Now everything is a little bit clearer.
Is there any plan to have the unit tests working like the greentea tests in a way that the UNITTESTS folders like the TESTS folders can be outside of the mbed-os folder?

[2018-10-11 12:31] mattbrown015 commented on #8373
I'm becoming more sure that the current consumption is related to GPIO configuration but it seems to be _complicated_.

If I create a simple RTOS app the current consumption is circa 80 uA:

    #include <mbed.h>

    int main() {
        puts("current-consumption #610e35d " __TIME__ );

        while (1) {
            putchar('.');
            fflush(stdout);

            ThisThread::sleep_for(60

[2018-10-11 12:37] SeppoTakalo commented on #8353
The idea was discussed and recorded in the backlog, but there is no timeline currently when the test tools team would implement this.

[2018-10-11 13:08] coisme commented on #8293
@VeijoPesonen Got it! Thank you. So I should see the `AT` tab, not `SDK & Demos`, and check the version there. I hope we have some description about this in our document for other users.

[2018-10-11 13:08] #8293 closed, assigned to nobody

[2018-10-11 13:58] samchuarm commented on #7690
Since MCU_target PR is in now, can this be closed?

[2018-10-11 14:31] #7690 closed, assigned to nobody

[2018-10-11 14:38] henningray commented on #8199
The main problem for me (and possibly for @tho068 ) was that the OnboardCellularInterface (and also EasyCellularConnection) uses several AT commands that are not supported on the SARA N2XX like the above AT+CPIN or AT+CGREG. So you either have to manually remove or replace them in the code or use the UbloxATCellularInterfaceN2xx: https://os.mbed.com/teams/ublox/code/example-ublox-cellular-interfac

[2018-10-11 14:56] mattbrown015 commented on #8373
Just realised I was getting my pins muddled in the example above `PA_4` is actually the SPI NSS and used as an output by the SX1276 radio driver.

I've moved on to creating a SPI object which causes the current to increase.

[2018-10-11 15:04] tho068 commented on #8199
Yeah. That is true, so I ended up creating my own very small lib which worked perfectly.

—
Med vennlig hilsen

Thomas Holden
MSc, computer science

11. okt. 2018 kl. 16:50 skrev henningray <notifications@github.com<mailto:notifications@github.com>>:

The main problem for me (and possibly for @tho068<https://github.com/tho068> ) was that the OnboardCellularInterface (and also EasyCellularConnectio

[2018-10-11 15:07] jeromecoutant commented on #8300
@yogpan01 feel free to propose a PR
Regards,
Jerome

[2018-10-11 15:11] LMESTM commented on #8373
For most drivers, the SPI object usually does not include the NSS which is implemented as a GPIO - isn't that your case ?

[2018-10-11 15:12] #7392 closed, assigned to theotherjimmy

[2018-10-11 15:29] yogpan01 commented on #8300
@JaniSuonpera When you are verifying the patch please make a PR to MbedOS at the same time.

[2018-10-11 15:36] #7954 closed, assigned to theotherjimmy

[2018-10-11 15:46] cmonr commented on #8300
Since it looks like there's a back and forth as to who should open the PR, I'm gonna toss the responsability to @SeppoTakalo IPCore team, since we already have internal progress on the issue, via the GitHub links above.

[2018-10-11 15:48] mattbrown015 commented on #8373
Yes, that is the case.

I think I've found an issue though!

Adding a pull-up to MISO reduces the current consumption.

Having a pull-up/pull-down on MISO seems to make sense to me and there are 2 reasons why this wasn't the case:

- The pin map in provided in `TARGET_NUCLEO_L432KC` says `GPIO_NOPULL`
- `pinmap_pinout` in mbed_pinmap_common.c appears to overrule the pinmap and select no pull

From

[2018-10-11 15:57] yennster commented on #8344
@jpiat Looks like there is missing files for the micro:bit and this likely won't be fully fixed until the next Mbed 2 release (according to @bridadan & @theotherjimmy)

[2018-10-11 15:59] LMESTM commented on #8373
whether a pullup / pulldown shuold be applied rather depends on the application and the board (there could be external pull-up).

Can't you specify the pull-up in your driver, where the NSS pin is declared like
  nss.mode(PullUp);

[2018-10-11 16:09] mattbrown015 commented on #8373
Oh, we're getting confused between NSS and MISO.

I was wrong about NSS causing me a problem.

MISO is causing a problem and the MISO pin is configured in the SPI driver according to the pin map.  Well, at least it should be but, AFAICT, isn't.

I understand that what's in `TARGET_NUCLEO_L432KC` might need to be generic hence no pull-ups.  I had just copied it without thinking sometime ago when fi

[2018-10-11 19:04] drahnr commented on #7808
Not sure how this ended up being resolved?

[2018-10-11 19:57] martinjaeger commented on #7853
@adustm thanks for your suggestion.

Problem with patching the mbed repository is that I am working on open source hardware and I want to make it as easy as possible for users to get started (i.e. not spend days of setting up toolchains etc.). So I am using mbed with PlatformIO. But PlatformIO automatically integrates the mbed environment from the official repositories.

Unfortunately, it doesn't

[2018-10-11 21:53] 0xc0170 commented on #7853
@c1728p9 @SenRamakri Please review this enhancement request

[2018-10-11 22:19] 0xc0170 commented on #7884
I believe this answers this question. We will close this issue

[2018-10-11 22:19] #7884 closed, assigned to nobody

[2018-10-11 22:22] #7743 closed, assigned to nobody

[2018-10-11 22:33] 0xc0170 commented on #8312
Please send an update to the docs, and tag us for review

[2018-10-11 23:02] cmonr opened #8396 "Fix python module versions within requirements.txt"
### Description

After finding and solving an issue with colorama being updated (resolved with https://github.com/ARMmbed/mbed-os/pull/8390), @studavekar brought up a good comment that we should do the same with other packages.

Requirements.txt should be fixed to specific versions, and have a process to update versions on a regular bases. This issue is for the first part of the problem, with @ARM

[2018-10-12 02:49] thi10 commented on #7026
Hello, I had the same problem.
Im running on UBUNTU 18.04
Ive tried with dozens of python versions (installed with pip2 and pip3). I also checked the GCC_ARM path and version...

Im using now:
Python 3.6.6
mbed-cli 1.82

I also installed all packages,

`binutils build-essential bzip2 cpp cpp-6 dbus dh-python dirmngr dpkg-dev
  fakeroot file g++ g++-6 gcc gcc-6 gir1.2-glib-2.0 git-man gnupg gnupg-a

[2018-10-12 03:46] studavekar commented on #8368
@mprse have updated the description.

[2018-10-12 03:56] studavekar commented on #8355
handling faulty sync fix https://github.com/ARMmbed/htrun/pull/200 makes the tests green

[2018-10-12 03:56] #8355 closed, assigned to studavekar

[2018-10-12 04:01] studavekar commented on #8043
closing the ticket thanks @ccli8

[2018-10-12 04:01] #8043 closed, assigned to nobody

[2018-10-12 04:15] studavekar commented on #8296
updated is complete in austin CI.

[2018-10-12 05:12] jarvte commented on #8199
New cellular implementation folder https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.10/features/cellular/framework/AT implements 3GPP AT commands. If target (SARA N2XX) differs from those then it needs a target to folder https://github.com/ARMmbed/mbed-os/tree/mbed-os-5.10/features/cellular/framework/targets where module/modem specific commands can be overridden.

You also need to specify target

[2018-10-12 06:03] bcostm commented on #8362
Thanks for renaming the title.

The embedded peripherals don't have the same version across all STM32 devices. You don't see this advanced features structure simply because it is not available in the USART embedded in STM32F103 devices.

Yes it is possible but the new feature/option must be available in all (a majority of ?) devices. For specific case like this one you need to configure it using S

[2018-10-12 08:52] mattbrown015 opened #8398 "Pinmap Pull-Up/Pull-Down Config is Ignored"
### Description

AFAICT, the pull-up/pull-down config in the STM32 pinmaps has no effect.

For example, from `mbed-os\targets\TARGET_STM\TARGET_STM32L4\TARGET_STM32L432xC\TARGET_NUCLEO_L432KC\PeripheralPins.c`:

MBED_WEAK const PinMap PinMap_UART_TX[] = {
{PA_2,       UART_2,  STM_PIN_DATA(STM_MODE_AF_PP, GPIO_PULLUP, GPIO_AF7_USART2)}, // Connected to STDIO_UART_TX
//  {PA_2,       LPUART_1,STM_P

[2018-10-12 09:00] Arjun765 opened #8399 "STM32F1: HAL_RTC_SetAlarm_IT corrupts system time"
### Description

Trying to set RTC wakeup by calling `HAL_RTC_SetAlarm_IT` corrupts system time.
Related: #8213 #8191

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-12 10:48] OPpuolitaival commented on #8396
I think that this make things a lot easier because now it is not easy to track when tools versions are updated. When there are specific version then PR itself is used to test the new version of the tool

[2018-10-12 11:45] LMESTM commented on #8398
@mattbrown015  -  clear thanks fr the report.
do you confirm that commenting out the below line solves the issue ?
[code]
I'd like to get arm views on

@bulislaw @0xc0170

[2018-10-12 13:01] mattbrown015 commented on #8398
Commenting out this line (and changing the pin map) solves my issue and, I believe, is the correct thing to do for STM32.

What should happen on other targets with different styles of pin map is less clear to me.

Perhaps STM32 is the only target that includes the pull-up/pull-down config in the pin map which would mean this is probably fine for all other targets.  Let's see what @bulislaw and @0x

[2018-10-12 13:43] bcostm commented on #8372
Hi
Can you please check if PR #8403 fixes this issue ?

[2018-10-12 13:59] #7571 closed, assigned to nobody

[2018-10-12 14:05] DataDrake commented on #8398
I agree that this is a problem as I just finished debugging an issue with an SPI CS pin that needed the internal Pull Up for CS to register as 1 and set our SPI Flash to its low-power idle mode.

[2018-10-12 15:26] mattbrown015 commented on #8343
I've been doing something else for a couple of days but now I'm back on this!

I tried again with the latest master i.e. [#6d7b655](https://github.com/ARMmbed/mbed-os/commit/6d7b655b8715347923e1669ecaac5e9cf1860a66) which has moved on a bit but the issue is still present.

There's definitely something wrong.  I had a few goes and the app always hung until I applied this patch (i.e. what @jeromecou

[2018-10-12 15:34] LMESTM commented on #8343
So you've tested with #8013 as you're on top of master, right?
I understand that you have a custom target,  have you applied the same fix as in  #8013 or do you inherit from it (depends on your target) ?
Last question / idea for today: have you tried to use tools/debug_tools/crash_log_parser/crash_log_parser.py
to better locate the hard fault, and see if it's always the same point which is hit ?

[2018-10-12 17:54] mattbrown015 commented on #8343
I've updated our trunk from to [SD - Add required header file and namespace element instead add all #8006](https://github.com/ARMmbed/mbed-os/pull/8006) which is the PR before [STM32L4: Fix sleep implementation #7813](https://github.com/ARMmbed/mbed-os/pull/7813).  I've done a clean build, installed it on 3 of our devices, it's been running for a couple of hours now and I've done numerous resets.

[2018-10-12 18:13] mattbrown015 commented on #8372
Hi @bcostm,

I tried your change from #8403, it worked for me. :-)

I wondered if you needed to repeat the comment, including its 2 spelling mistakes, though??  (I'm sure [Skitt's Law](https://knowyourmeme.com/memes/skitt-s-law) applies here!)

[2018-10-12 18:25] JojoS62 opened #8411 "VSCode exporter with zip option: .vscode directory not included in zipfile"
### Description

@theotherjimmy
The -z(ip) option for exporters does work now. But for the VSCode exporter, the special directory with VScode settings is not included. There need to be an exception from the 'do not include . directories' rule.

Workaround:
copy .vscode dir manually to zipfile or target destination.

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-12 18:51] JojoS62 opened #8415 "VSCode exporter: use mbed instead of make and other enhancements"
### Description

VSCode is a great tradeoff between enhanced editor and IDE. It is more transparent and lightwight compared to eclipse based IDE and extensions are easier to create. Multi platform support is included by design.
The current exporter uses makefile based build process. This requires an external tool to be installed, the gcc toolchain for instance does not contain a make tool.
Things

[2018-10-13 05:16] bcostm commented on #8372
OK thanks for confirming. I was thinking the same thing to copy or not the comment... ;-) I'll remove it and fix the typo.

[2018-10-15 07:30] LMESTM commented on #8343
Ok so this clearly needs to be fixed. Thanks. Let's move on with @jeromecoutant proposal

@0xc0170  any idea ?

[2018-10-15 07:34] Wlad-Fox commented on #8378
@LMESTM Yes, it is, thank you, I'll close the issue.

[2018-10-15 07:34] #8378 closed, assigned to nobody

[2018-10-15 07:56] hanyuzzw opened #8426 "LwIP DHCPv6"
### Description

Now the latest version(2.1.0) of LwIP has implemented the DHCPv6, and when can mbed-os update and use DHCPv6?

### Issue request type

[x] Question
[ ] Enhancement
[ ] Bug

[2018-10-15 08:35] vidavidorra opened #8428 "artifact_name option in CMake exporter not changing name"
### Description

Running the `mbed export -i cmake_gcc_arm` when the `artifact_name` is configured in the `mbed_app.json` the project name is still the one specified by the first `--source` argument rather than the value set by the `artifact_name` option.
See comments [6585 theotherjimmy comment](https://github.com/ARMmbed/mbed-os/issues/6585#issuecomment-382881700) and [6585 vidavidorra comment](

[2018-10-15 09:30] kjbracey commented on #8398
Pull ups and pull downs are board-specific, so I don't feel like they should be something for the application or C++ driver classes to deal with.

BUT - we already expect applications to do board-specific things by specifying the pin number to use for a function in the first place.

HOWEVER - the need for a pull or not on a given pin is independent of what software is actually doing, Even when a p

[2018-10-15 09:58] kjbracey commented on #8343
As of recent build tools, it comes out as "xxx.map.old", presumably due to a last-build-stage rename to support the memory-change output.

[2018-10-15 10:30] JammuKekkonen opened #8431 "Current map file is named old"
### Description

Map file is renamed during building as 'old', even though it's the result of the most recent build.

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-15 10:31] JammuKekkonen commented on #8431
@theotherjimmy

FYI: @TeroJaasko @korjaa

[2018-10-15 10:31] kjbracey commented on #8431
Yes, would make much more sense to attempt to rename ".map" as ".map.old" as the first step of a build, not the last.

[2018-10-15 12:59] RonEld opened #8433 "wrong value for Mbed TLS specific error"
### Description

### Issue request type

    [ ] Question
    [ ] Enhancement
    [x] Bug

The value for [`MBEDTLS_ERR_PLATFORM_HW_FAILED`](https://github.com/ARMmbed/mbed-os/blob/master/features/mbedtls/platform/inc/platform_mbed.h#L28) is wrong, as it should be an Mbed TLS low level error, and the limit for this type of error is 0x007f.

[2018-10-15 15:04] #7912 closed, assigned to nobody

[2018-10-15 15:04] #8264 closed, assigned to nobody

[2018-10-16 05:37] bqam-ublox opened #8438 "CMSIS-RTOS Error: C/C++ library libspace not available"
### Description

I faced the following issue: **Standard C/C++ library libspace not available**. To resolve this, I changed value of **OS_THREAD_LIBSPACE_NUM** from 4 to 6. This probably increases the number of threads that access the C/C++ library and hence resolves the issue.

However, I could not find a way to define the **OS_THREAD_LIBSPACE_NUM** through mbed_app.json or any other configuratio

[2018-10-16 05:38] bqam-ublox commented on #8438
CC: @RobMeades , @fahim-ublox

[2018-10-16 10:26] jeromecoutant commented on #8184
@janjongboom do you any internal ARM contact to start the discussion about IDLE_THREAD_STACK_SIZE,
depending or not from TICKLESS ?
Thx

[2018-10-16 13:08] fahimalavi commented on #8438
@screamerbg

[2018-10-16 14:17] #8433 closed, assigned to RonEld

[2018-10-16 14:46] DataDrake commented on #8398
Setting it before `pin_function` seems to make the most sense. Targets that don't change the pull selection will be unaffected, but others will at least have an opportunity to override the default setting.

[2018-10-16 15:25] #8372 closed, assigned to nobody

[2018-10-16 15:32] LMESTM commented on #8398
@ARMmbed/mbed-os-core
could you take care of reviewing and possibly pushing the change proposed by @kjbracey-arm above ?

[2018-10-16 15:42] #8343 closed, assigned to nobody

[2018-10-16 16:10] kapi90 commented on #8200
There's been a PR created for the EMAC driver, that's available here: https://github.com/ARMmbed/mbed-os/pull/8444

The issue seems to have changed, now the timeout happens at the end of the last test case, look like 1200s is a little bit short to get to the end of all test cases.

[2018-10-16 16:10] jeromecoutant commented on #7997
Maybe we can close this issue ?
Thx

[2018-10-16 22:12] cmonr commented on #8396
Aaand it looks like we just got hit again by not having versions fixed/pinned.

Last working master build: https://travis-ci.org/ARMmbed/mbed-os/builds/442254105
The next build after: https://travis-ci.org/ARMmbed/mbed-os/builds/442300780

(urllib3 was updated from 1.23 to 1.24)

[2018-10-16 23:30] c1728p9 commented on #8278
Yeah, please add this info.

The current implementation pass these interrupts through unconditionally. Its just calling into the ticker warpper layer when it is suspended which causes undefined behavior.

[2018-10-16 23:49] c1728p9 commented on #7853
Hi @martinjaeger as a possible alternative, what about hooking the weak function `mbed_main` and then using `mbed_start_application()` to powerdown the system and jump to STs ROM bootloader? This is the mechanism the mbed-os bootloader uses to start an application.

[2018-10-17 05:26] AGlass0fMilk opened #8447 "nRF52840 QSPI - Truncated Read/Write Lengths"
### Description

I have discovered a bug with the nRF52840 QSPI hal driver while trying to get some examples to work. I was only seeing partial data being read back. The example was trying to write "hello\0", but when read back it would only product "hell"... as if the bug was trying to speak to me.

I narrowed it down to a _fine print_ item in the nRF52840 datasheet concerning the length of QSPI

[2018-10-17 06:29] martinjaeger commented on #7853
@c1728p9 Thanks, that sounds like a good approach. Will try it next week (no access to HW now) and give feedback.

[2018-10-17 08:25] mattbrown015 commented on #8373
Put simply my question was "Am I chasing a ghost trying to get the Stop 2 mode current consumption down to 4 uA?"  The answer to that question is "No, the current consumption should be around 4 uA."

I would guess that GPIO (mis-)configuration is probably a typical issue.

So, I'm going to close this issue.

I have notice that the current consumption _blips_ to around 40 uA every 30 seconds or so

[2018-10-17 08:25] #8373 closed, assigned to nobody

[2018-10-17 10:59] masoudr opened #8450 "Add support for SDIO interface"
### Description
Hi,
As you might know, the SDIO interface is used to connect external SD card directly to MCU on many platforms especially STM32. Is there any implementation to add SDIO support for current `SDBlockDevice` or other filesystems?
Thanks.

### Issue request type
    [ ] Question
    [X] Enhancement
    [ ] Bug

[2018-10-17 17:39] masoudr commented on #8450
It seems that there was another opening issue about that [here](https://github.com/ARMmbed/mbed-os/issues/6384), so I'm closing this issue.

[2018-10-17 17:39] #8450 closed, assigned to nobody

[2018-10-17 18:07] aashishc1988 commented on #7572
@jeckypei , ping!

[2018-10-17 19:02] aashishc1988 commented on #7484
@RobMeades I am going to close this issue as the current request can be fulfilled by making changes locally on your setup, and the request is quite different from how htrun and greentea were designed to run. Please feel free to reopen the issue if you disagree and we can continue further discussion.

[2018-10-17 19:12] aashishc1988 commented on #7293
@jeromecoutant can you please open a new issue explaining the problem in bit more detail and what exactly is required? I am going to close this issue.

[2018-10-17 19:13] #7484 closed, assigned to nobody

[2018-10-18 06:42] vidavidorra commented on #8431
I think that this is due to running memap. See #7590 I haven't created a separate ticket but now you have :)

Thought I reference the PR here, scroll down in the comments to see my comment and a proposed fix. If it's the same it should actually append `.old`

[2018-10-18 08:14] kjbracey commented on #7572
`Serial` has many problems - use `UARTSerial` instead. If it's for the console, preferably by turning on `platform.stdio-buffered-serial` and just using `printf`/`scanf` etc.

I wasn't really aware of this particular problem.

`UARTSerial` also has a (possibly unnecessary?) single mutex, but it isn't actually held while blocking for input or output, so any read/write interference would be impercep

[2018-10-18 09:40] pan- commented on #8351
@janjongboom Remember that template classes and template functions gets instantiated whenever required during the compilation of a C++. So if file _A.cpp_ and file _B.cpp_ use `Callback<void()>`, the code of `Callback<void()>` is present in both _A.o_ and _B.o_ .

During link, a single definition of each function is selected and kept in the executable.  If the public interface of _A.cpp_ is not us

[2018-10-18 09:43] kjbracey commented on #8351
This is annoying when trying to analyse memory use, but it is effectively harmless.

Although, interestingly, once when I was trying to determine the real user of such templates, I tried just deleting the feature directories that the instantiations were popping up in to try to get them to show against the real code.

And deleting that unused code actually **increased** image size - some alignment

[2018-10-18 09:52] kjbracey commented on #8351
Anyway, you can test Hasnain's assertion that it's just templates by experimentally deleting (or mbedignoring) mbed-lora-radio-drv/SX1272. You should see +455 or so (depending on padding) get added to another file.

I wonder if there's anything that can be done straightforwardly to distinguish in the memory analysis tool - are the templates placed in a different "common" area that can be distingui

[2018-10-18 10:08] LaurentLouf opened #8466 "Incorrect page size returned from Flash IAP"
### Description

- Target STM32F103RCT6
- GNU ARM 7-2017-q4-major
- mbed-cli 1.7.3
- 603c4f930 (HEAD -> master) Merge pull request #7851 from geky/fix-littlefs-mount-cleanup

A minimal code to reproduce the issue would be :
[code]
This issue being that I've got the following response on my target :

So the flash start and size are coherent with my target, but the page size isn't at all. According

[2018-10-18 10:18] LMESTM commented on #8466
@LaurentLouf
the page size definition in mbed is the program page size, which is:
[code]
and your STM32 target allows to write the flash down to 4 bytes at a time (you cannot write 1, 2 or 3 bytes only, it has to be be at least 4 bytes), which corresponds to the definition of the page size in mbed.

[2018-10-18 10:22] LMESTM commented on #8466
@LaurentLouf
Maybe what you are looking for is
[code]
You'll need to use an address because all the sectors may not have the same size.
I agree that "page" and "sector" terminology may not perfectly match between mbed API and STM32 reference manual ...
hope this helps ...

[2018-10-18 10:34] pmancele opened #8467 "[STM32] Mutex lock fail, if IRQ are disabled"
### Description

Hello,
We are working on  a `STM32L496RG` and also reproduced the issue on a `NUCLEO_L476RG`. This may apply to all STM32L4 familiy (or more ?)

Since the #6872 merge request, each call to `Mutex::lock()` function triggers an mbed error if a call to `__disable_irq()` has been done previously, which print the following message:

[code]

For example, the following code triggers the

[2018-10-18 10:34] pan- commented on #8351
@kjbracey-arm When we enable C++11 or later we could forward common declarations of Callbacks like `void()` and explicitly instantiate them in a dedicated C++ file.

[2018-10-18 10:37] LaurentLouf commented on #8466
@LMESTM Well thanks for the quick reply ! I thought about that shortly after posting the question and I have to agree that the terminology is a bit confusing. Thanks for the information about the different sector sizes, I'll have to check that carefully.

[2018-10-18 10:37] #8466 closed, assigned to nobody

[2018-10-18 10:56] JojoS62 opened #8468 "Q: is support for MCU NXP LPC51U68 planned?"
### Description

Question to the NXP supporters: is there some support planned or scheduled for the new LPC51U68 device?

### Issue request type

[x] Question
[ ] Enhancement
[ ] Bug

[2018-10-18 11:04] kjbracey commented on #8467
This would have been failing on debug builds for some time, but the check is now in default develop builds too.

The SPI API is designated as "thread safe" -  "safe for use from multiple threads; operation is protected by an RTOS primitive and can be used from multiple threads, but will cause problems if used from an interrupt service routine." ([old link](https://docs.mbed.com/docs/mbed-os-handbo

[2018-10-18 11:31] pmancele commented on #8467
@kjbracey-arm Thank you for you detailled answer.

Yes, I'm used to use EventQueue to process my work out of ISR context. But the code that I reported is not from me but from the [SX1280 driver](https://os.mbed.com/teams/Semtech/code/SX1280Lib/). Into the `WakeUp` function:

[code]

As you said, it is not called from an interrupt so it may be to protect this part of the driver ..

I think we can c

[2018-10-18 11:34] kjbracey commented on #8467
A possible guess is that the intent there may be to stop the driver's interrupt handler running due to the radio generating an interrupt during the "wakeup"

If that is necessary, might want to replace it with a disable of the relevant InterruptIn.

[2018-10-18 13:05] pmancele commented on #8467
Indeed, I think it's the objective, and thank you for the suggested fix.

[2018-10-18 13:05] #8467 closed, assigned to nobody

[2018-10-18 13:21] daniel-cesarini-tridonic-com opened #8470 "Backtrace functionality in mbed_die"
### Description

I would like to know whether backtrace functionality is expected to be available in mbed-os anytime soon, as it looks like the related task in uvisor does not proceed anymore: https://github.com/ARMmbed/uvisor/issues/70#issuecomment-429778663 .

Related issues:
* https://github.com/ARMmbed/mbed-drivers/issues/154
* https://github.com/ARMmbed/mbed-os/issues/3131

### Issue request

[2018-10-18 13:39] #7363 closed, assigned to nobody

[2018-10-18 13:57] AGlass0fMilk commented on #8447
Potential solution (I may do a pull request later but I don't have time right now):
For reads: round the transaction length up to the next multiple of 4 and throw away additional bytes when returning data to application

For writes: round the transaction length up to the next multiple of 4 and pad the transaction with 0xFF, which will prevent flash bits from being flipped (so they can still be pro

[2018-10-18 14:34] LaurentLouf opened #8471 "Make print_error_report available outside of mbed_error.c"
### Description

- Target STM32F103RCT6
- GNU ARM 7-2017-q4-major
- mbed-cli 1.7.3
- 603c4f9 (HEAD -> master) Merge pull request #7851 from geky/fix-littlefs-mount-cleanup

I don't think this is linked to any target in particular, but it would be nice to define `print_error_report` as a normal function instead of a static function, to be able to use it anywhere in the code. I don't know how common

[2018-10-18 15:01] daniel-cesarini-tridonic-com commented on #8470
As an additional information, we started to look into the usage of ```MBED_CALLER_ADDR()``` at least for having some basic information about who is calling the mbed_die():

```printf("%s called from %p\n", __func__, MBED_CALLER_ADDR());```

Is there any better approach?
Is there any other plan to have some similar functionality in mbed_die and other functions available? It would be quite handy whe

[2018-10-18 15:15] kjbracey commented on #8470
`mbed_die` should normally be invoked via `mbed_error` or `error` or `MBED_ASSERT`, which do give caller information.  If there are any raw calls to `mbed_die`, they should probably be changed to use one of those higher level ones.

[2018-10-18 15:34] jeromecoutant opened #8472 "Compilation issue with SD component test for small RAM targets"
### Description

Some SD component tests need more RAM than other greentea tests :

- components-storage-blockdevice-component_sd-tests-filesystem-files : needs between 35K and 50K RAM depending on target and tool chain

- components-storage-blockdevice-component_sd-tests-filesystem-dirs : needs between 20K and 35K RAM depending on target and tool chain

- components-storage-blockdevice-component_

[2018-10-18 16:46] mattbrown015 opened #8473 "STM32: #8286 Causes Tickless RTC Mode App to Hang"
### Description

**cc** @jeromecoutant

#8286 causes our app to hang and behave badly in ways that I find difficult to describe.

I've been using the previous PR, #8323, for several days without any problems. As soon as I apply the change from #8262 the app starts hanging.

From `mbed_app.json`:

{
...
"macros": [
...
,"MBED_TICKLESS"
...
],
"target_overrides": {
"*": {
...
,"target.lpticker_lptim

[2018-10-18 16:54] mattbrown015 commented on #8473
I tried ARM GCC V6 and V7, the behaviour is the same.

Forgot to mention that this an STM32L442KC although regulars readers might know that! :-)

[2018-10-18 19:44] geky commented on #8351
That's interesting! You learn something new every day.

[2018-10-19 04:20] daniel-cesarini-tridonic-com commented on #8470
@kjbracey-arm thank you.
We will now check the status of our codebase for raw calls on mbed_die and change them to the methods you just suggested, based on the appropriateness.

[2018-10-19 07:04] kjbracey commented on #8470
Still agree I'd like the potential for more backtrace. 128 bytes of stack would not go amiss.

[2018-10-19 07:09] jeromecoutant opened #8477 "Need to update platform/mbed_application.c for CORTEX_33"
### Description

Hi

This file
https://github.com/ARMmbed/mbed-os/blob/master/platform/mbed_application.c
has to be updated for CORTEX_M33

Quick patch in #8448 was wrong

@TacoGrandeTX

### Issue request type

[ ] Question
[ ] Enhancement
[x] Bug

[2018-10-19 07:29] jeromecoutant commented on #8473
Hi

Try to remove them.. supposing that critical sections are managed at mbed hal level...

[2018-10-19 07:30] daniel-cesarini-tridonic-com commented on #8470
@kjbracey-arm can we follow on this topic in this issue, or you prefer a new issue?

[2018-10-19 08:10] jeromecoutant commented on #8473
Maybe you can try to increase lpticker_delay_ticks value to check ?

Also during my TICKLESS tests, I was using #8223 fix with a latency of 5 for ex

[2018-10-19 08:26] kjbracey commented on #8470
I'd say you can leave this to track it.

[2018-10-19 08:37] jeromecoutant commented on #7293
I don't understand why I need to open a new issue in order to close 1 issue...

[2018-10-19 08:37] #7293 closed, assigned to nobody

[2018-10-19 11:14] mattbrown015 commented on #8473
Unfortunately those ideas haven't worked. :-(

I've tried #8223 with 0, 5, 10 and 100 and it didn't make any difference.  That doesn't surprise me because it would be strange if deepsleep was being entered early in the startup sequence.

I removed all the critical sections from `rtc_api.c` with no apparent change in behaviour.  I haven't looked in detail but it could be changing the problem.

My f

[2018-10-19 12:28] michalpasztamobica opened #8481 "Unable to register for wifi status updates with Realtek 8195"
### Description

Target: RTL8195
Toolchain: GCC_ARM
Tools: mbed-cli 1.7.2 on Windows
mbed-os SHA: e94258204
Steps to reproduce:
1) Try to use the interfaces defined in targets/TARGET_Realtek/TARGET_AMEBA/sdk/common/api/wifi/wifi_ind.h.
For example, I modified the RTWInterface constructor to call the following:
[code]
2) run compilation:
`$ mbed compile --target REALTEK_RTL8195AM --toolchain GCC_AR

[2018-10-19 12:54] mattbrown015 commented on #8473
I've given up with our app for now and created a test app which, on the face of it, works.

Our real app includes multiple threads and multiple event queues.

_Interestingly_ one of the threads is started in the constructor of a global object.  If that caused a problem we wouldn't make it to `main`.

I shall start adding some threads and events queues to see if I can cause a problem.

Here's what

[2018-10-19 13:16] mattbrown015 commented on #8473
Well, adding a `Thread` object is enough to break it.

This code never makes it to `main` after a power-on reset.

    #include <mbed.h>

    Thread thread;

    int main() {
        puts("tickless-8286 #18d6131 " __TIME__ );

        while (1) {
            putchar('.');
            fflush(stdout);

            ThisThread::sleep_for(60 * 1000);
        }
    }

[2018-10-19 13:21] jeromecoutant commented on #8473
@c1728p9 @LMESTM

[2018-10-19 14:01] jagomo commented on #8038
@SeppoTakalo First of all sorry for the BIG delay. Answering this slipped through my TODO list. I just realized this was pending for answering.

Unfortunately we don't have the test code sitting around any more. I guess a simple and easy way of generating a similar behaviour would be to make a Ticker trigger the Button press callback on one of the boards with a very high frequency (5ms or so).

[2018-10-19 14:07] jeromecoutant commented on #8473
I don't know. Here is some thinking:
- tickless feature should start with lp_ticker_init function which calls rtc_init ?
- __TIME__ calls time mbed api, which calls rtc_isenabled
   - from cold start, rtc_isenabled should answer 0, then set_time(0) is called ?

[2018-10-19 14:19] SeppoTakalo commented on #8481
@ARMmbed/team-realtek Please review.

[2018-10-19 15:15] aashishc1988 commented on #7293
@jeromecoutant The new request is quite different to the original intent of this issue and discussion we had. In order to avoid confusion, and keep this discussion in records so that we know why the current request was not possible, it is better to open a new request. Sorry for the inconvenience.

[2018-10-19 16:16] mattbrown015 commented on #8285
I've finally managed to update our mbed-os to include #8299 and hence think it is time to close this issue. :-)

[2018-10-19 16:16] #8285 closed, assigned to nobody

[2018-10-19 19:06] #7155 closed, assigned to theotherjimmy

[2018-10-22 07:04] DBS06 commented on #8415
I already did that at the project I am working for, but it relies on the extension "vscode-commandbar" and some additional python scripts which controls the mbed-toolchain. As far as I remember it was not really straight forward to do this, because sometimes you get stuck at some silly points i.e. different command and path interpretation on windows and linux... Therefore we wrote some scripts whi

[2018-10-22 07:27] DBS06 commented on #8415
BTW: for debugging the "Cortex-Debug" extension is highly recommended! It works better, faster and provides you more debugging information.

[2018-10-22 07:51] DBS06 commented on #7863
Mhm my comment disappeared...

But yes I did! It was a fight against dead dragons which are spitting blue fire 😄 😠

1. Be sour your vscode and extensions are up to date.
2. Backup you "c_cpp_properties.json" file.
3. Clean everything in your "c_cpp_properties.json" file.
4. Insert and fill out the following in your "c_cpp_properties.json" file:
[code]

**Do not include compiler paths in "includePa

[2018-10-22 08:49] JojoS62 commented on #8415
Thanks for your feedback.
I'm testing an updated tasks.json, the configurations from the vscode exporter are using depricated formats and do not work well.
This is how it looks like now (requires 'mbed config target' is set):

.vscode/tasks.json
[code]

the '-c' clean switch is added now only for testing. The strange thing is that sometimes it is working, sometimes not. The compile stops randomly

[2018-10-22 10:32] UsmanKhan0392 opened #8490 "Ethernet connect fails with LWIP in mbed os"
### Description

**Ethernet connect fails with LWIP in mbed os**

I'm using an mbed enabled board(ublox_030) for development, i need to run an Ethernet application on it.

I tried to create a connection by using the following code:

[code]

Normally it should work, But it fails in the LWIPInteraface class's bringup API at osSemaphoreAcquire, returning a timeout error.

[code]
### Issue request typ

[2018-10-22 11:20] kjbracey commented on #8490
If it's that semaphore, it means that it doesn't think the Ethernet cable is physically connected, or it's failing to autonegotiate with the hub. It hasn't reached the stage of doing IP yet.

I don't think you need to change any links or anything on that board to enable Ethernet, so I'd recheck your physical connections and make sure you're seeing the connection light.

[2018-10-22 11:50] SeppoTakalo commented on #7684
PR provided on documentation to cover this: https://github.com/ARMmbed/mbed-os-5-docs/pull/799

[2018-10-22 13:22] jeromecoutant commented on #8473
I think I got the issue!

https://github.com/ARMmbed/mbed-os/blob/c40d86038c0372147c5ffb0bd98bf57330115bdd/targets/TARGET_STM/rtc_api_hal.h#L84

I forgot parenthesis :
#define PREDIV_S_VALUE (RTC_CLOCK / (PREDIV_A_VALUE + 1) - 1)

[2018-10-22 13:24] JojoS62 commented on #8415
The problem that I see is caused by a simple 'print' in Python:
[code]

 it looks like this issue (Windows 10 console problem):
https://github.com/Microsoft/vscode/issues/40199

[2018-10-22 14:11] psmokotnin opened #8492 "TCPSocket::accept bug"
There is a bug in **TCPSocket::accept** function at line 268:
`TCPSocket *connection = new TCPSocket();`
should be just:
`connection = new TCPSocket();`

`connection` variable had been defined at line 251.

When code leaves while cycle variable becomes out of scope and destroys, then function always return NULL pointer;

[2018-10-22 15:05] pilotak opened #8494 "SDBlockDevice error"
### Description

When using SDBlockDevice from external repo i get an error, which is fine
`[Error] SDBlockDevice.cpp@157,2: #error "Started from version 5.10.0 SDBlockDevice external repo is deprecated. please use the SDBlockDevice component inside mbed-os."`

so i deleted the folder and i get `fatal error: SDBlockDevice.h: No such file or directory`

### Issue request type

[ ] Question
[ ] Enha

[2018-10-22 16:30] #7723 closed, assigned to theotherjimmy

[2018-10-22 16:34] mattbrown015 opened #8496 "MBED_ASSERT No Longer Calls mbed_die"
### Description

cc @MateuszMaz

#8255 changed `MBED_ASSERT` so that it uses `mbed_error` rather than calling `mbed_die` directly.

While I have some sympathy for the intent of this PR it has changed the behaviour of our application when asserts fire.

`mbed_error` can eventual call `mbed_die` via `mbed_halt_system` but it won't in the case of `MBED_ASSERT` because `mbed_assert_internal` calls `co

[2018-10-22 17:06] mattbrown015 commented on #8473
Extra parentheses work for me! :-)

[2018-10-22 20:17] linlingao commented on #8494
It looks like you might not have upgraded your Mbed OS to 5.10.
You should see SDBlockDevice.h in the following directory:
<your_project_dir>/mbed-os/components/storage/blockdevice/COMPONENT_SD/SDBlockDevice.h.
If you don't see this file or even the directory, please upgrade your Mbed OS to 5.10.